{
  "openapi": "3.0.3",
  "info": {
    "title": "TalkFurther API",
    "version": "1.0.0",
    "description": "TalkFurther API for senior living community lead management. Track conversations, manage leads, and schedule tours.",
    "x-jentic-source-url": "https://api-docs.talkfurther.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.talkfurther.com/v1"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "components": {
    "schemas": {
      "LeadRequest": {
        "type": "object",
        "required": [
          "name",
          "email"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "community_interest": {
            "type": "string"
          },
          "move_in_timeline": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "LeadResponse": {
        "type": "object",
        "properties": {
          "lead_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ConversationResponse": {
        "type": "object",
        "properties": {
          "conversation_id": {
            "type": "string"
          },
          "lead_id": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "last_message_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TourRequest": {
        "type": "object",
        "required": [
          "lead_id",
          "scheduled_at"
        ],
        "properties": {
          "lead_id": {
            "type": "string"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          },
          "tour_type": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "TourResponse": {
        "type": "object",
        "properties": {
          "tour_id": {
            "type": "string"
          },
          "lead_id": {
            "type": "string"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "paths": {
    "/leads": {
      "post": {
        "summary": "Create lead",
        "description": "Create a new lead in the system",
        "operationId": "createLead",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List leads",
        "description": "Get a list of all leads",
        "operationId": "listLeads",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of leads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeadResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/leads/{lead_id}": {
      "get": {
        "summary": "Get lead",
        "description": "Retrieve details of a specific lead",
        "operationId": "getLead",
        "tags": [
          "Leads"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leads/{lead_id}/conversations": {
      "get": {
        "summary": "Get lead conversations",
        "description": "Retrieve conversation history for a lead",
        "operationId": "getLeadConversations",
        "tags": [
          "Conversations"
        ],
        "parameters": [
          {
            "name": "lead_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tours": {
      "post": {
        "summary": "Schedule tour",
        "description": "Schedule a tour for a lead",
        "operationId": "scheduleTour",
        "tags": [
          "Tours"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TourRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tour scheduled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TourResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Leads",
      "description": "Lead management"
    },
    {
      "name": "Conversations",
      "description": "Conversation tracking"
    },
    {
      "name": "Tours",
      "description": "Tour scheduling"
    }
  ]
}
