{
  "openapi": "3.0.3",
  "info": {
    "title": "Operations Center - Equipment",
    "description": "This API has all the operations for equipment resource.",
    "version": "2.0",
    "x-jentic-source-url": "https://developer.deere.com/devDoc/apiDetails/equipment"
  },
  "servers": [
    {
      "url": "https://equipmentapi.deere.com/isg"
    }
  ],
  "paths": {
    "/equipment": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "description": "This resource allows the client to view the list of a user's equipment. It can be called with a filter for specific organizations, machine or implement types, but can also be called without a filter to provide a list of all equipment accessible by the user across each organization the user has access to. Equipment will only be returned from organizations the user has access to and are connected to the calling application. If the client requests multiple organizations in the filter, and a user or the client does not have access to that organization, the entire response will be a 403 Forbidden. Please see the OAuth 2 documentation <a  href='#oAuth2' target='_blank'>here</a> for more details on obtaining a user token and connecting the user’s organizations to your application..",
        "summary": "Get equipment",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "List of OrganizationEquipment Ids (these ids are unique across all orgs)",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [
                1,
                2,
                3
              ]
            },
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/OrganizationEquipmentIds"
          },
          {
            "name": "serialNumbers",
            "in": "query",
            "required": false,
            "description": "List of serial numbers of the equipment",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "A01775E760247",
                "1DW410ETHFF669067"
              ]
            },
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/EquipmentSerialNumbers"
          },
          {
            "name": "organizationIds",
            "in": "query",
            "required": false,
            "description": "List of OrganizationIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [
                1,
                2,
                3
              ]
            },
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/OrganizationIds"
          },
          {
            "name": "principalIds",
            "in": "query",
            "required": false,
            "description": "List of PrincipalIds",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [
                1,
                2,
                3
              ]
            },
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/PrincipalIds"
          },
          {
            "name": "capableOf",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Connectivity",
                "!Connectivity"
              ]
            },
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/CapableOf"
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "Machine",
                "Implement"
              ],
              "example": [
                "Machine",
                "Implement | Machine | Implement"
              ]
            },
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/Categories"
          },
          {
            "name": "organizationRole.type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Controlling",
                "NonControlling"
              ]
            },
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/Role"
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "true or false",
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/Archived"
          },
          {
            "name": "embed",
            "in": "query",
            "required": false,
            "description": "embed 'pairingDetails' is only supported along with 'devices' or 'equipment' embeds",
            "schema": {
              "type": "string",
              "enum": [
                "devices",
                "equipment",
                "icon",
                "pairingDetails"
              ]
            },
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/EmbedForList"
          },
          {
            "name": "pageOffset",
            "in": "query",
            "required": false,
            "description": "Refers to starting record value",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 200,
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/PageOffset"
          },
          {
            "name": "itemLimit",
            "in": "query",
            "required": false,
            "description": "Refers to number of items per page(default 100 max 5000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 5000
            },
            "example": 200,
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/ItemLimit"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "eq1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of Assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "values": {
                      "items": {
                        "type": "object",
                        "title": "Equipment",
                        "properties": {
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "title": "Link",
                              "properties": {
                                "rel": {
                                  "type": "string",
                                  "example": "nextPage"
                                },
                                "uri": {
                                  "type": "string",
                                  "description": "This will be the relative URL. Users will prefix the base url as per their requirements.",
                                  "example": "/equipment?pageOffset=10&itemSize=10"
                                }
                              },
                              "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/link"
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique id",
                            "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                          },
                          "@type": {
                            "type": "string",
                            "description": "Equipment | Machine | Implement",
                            "example": "Equipment",
                            "required": true,
                            "enum": [
                              "Equipment",
                              "Machine",
                              "Implement"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "description": "Equipment Name.",
                            "example": "Cates 8360R 055358"
                          },
                          "isoName": {
                            "type": "string",
                            "description": "Unique 64-bit ISO NAME used to identify the controller during address claim.",
                            "example": "b00082000422ed1d"
                          },
                          "serialNumber": {
                            "type": "string",
                            "description": "Serial Number of the Equipment and passed on the query parameter",
                            "example": "1RW8360RLCD055358"
                          },
                          "engineSerialNumber": {
                            "type": "string",
                            "description": "VIN or PIN, more than Serial Number, of the Engine.",
                            "example": "RG6090L839275"
                          },
                          "isSerialNumberCertified": {
                            "type": "boolean",
                            "description": "True if this is an official equipment (we have PI information about it).",
                            "example": true
                          },
                          "modelYear": {
                            "type": "string",
                            "description": "Year of model.",
                            "example": 2019
                          },
                          "make": {
                            "type": "object",
                            "title": "EquipmentMake",
                            "description": "Represents the make of the equipment, including its name, unique identifier, and metadata.",
                            "properties": {
                              "@type": {
                                "type": "string",
                                "description": "EquipmentMake",
                                "example": "EquipmentMake"
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique identifier for the equipment make.",
                                "example": "1"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the equipment make.",
                                "example": "JOHN DEERE"
                              },
                              "ERID": {
                                "type": "string",
                                "description": "Unique identifier for the equipment make.",
                                "example": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                              },
                              "certified": {
                                "type": "boolean",
                                "description": "Indicates if the equipment make is certified.",
                                "example": true
                              },
                              "deereOrSubsidiary": {
                                "type": "boolean",
                                "description": "Indicates if the equipment make is deereOrSubsidiary.",
                                "example": true
                              }
                            },
                            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/equipment-make-embed"
                          },
                          "type": {
                            "type": "object",
                            "title": "EquipmentType",
                            "description": "Represents the type of equipment, including its name, unique identifier, category, certification status, market segment, icon, deprecation status, and metadata.",
                            "properties": {
                              "@type": {
                                "type": "string",
                                "description": "EquipmentType",
                                "example": "EquipmentType"
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique identifier for the equipment type.",
                                "example": "222"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the equipment type.",
                                "example": "Combine"
                              },
                              "ERID": {
                                "type": "string",
                                "description": "Unique identifier for the equipment type.",
                                "example": "80619ff7-11fa-11ee-bb58-0e5cd6a962d7"
                              }
                            },
                            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/equipment-type-embed"
                          },
                          "isgType": {
                            "type": "object",
                            "title": "EquipmentISGType",
                            "description": "Represents the ISG type of equipment, including its name, unique identifier, category, deprecation status, and metadata.",
                            "properties": {
                              "@type": {
                                "type": "string",
                                "description": "EquipmentISGType",
                                "example": "EquipmentISGType"
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique identifier for the ISG equipment type.",
                                "example": "2"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the ISG equipment type.",
                                "example": "Combine"
                              },
                              "ERID": {
                                "type": "string",
                                "description": "Unique identifier for the ISG equipment type.",
                                "example": "d8dce5b0-cc8d-4c34-afac-27d93793bd86"
                              }
                            },
                            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/equipment-isg-type-embed"
                          },
                          "model": {
                            "type": "object",
                            "title": "EquipmentModel",
                            "description": "Represents the model of the equipment, including its name, unique identifier, category, certification status, make, type, ISG type, icon, deprecation status, and metadata.",
                            "properties": {
                              "@type": {
                                "type": "string",
                                "description": "EquipmentModel",
                                "example": "EquipmentModel"
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique identifier for the equipment model.",
                                "example": "65985"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the equipment model.",
                                "example": "S680"
                              },
                              "ERID": {
                                "type": "string",
                                "description": "Unique identifier for the equipment model.",
                                "example": "f2e7d596-35c6-11e7-af34-123e49453e98"
                              },
                              "certified": {
                                "type": "boolean",
                                "description": "Indicates if the equipment model is certified.",
                                "example": true
                              }
                            },
                            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/equipment-model-embed"
                          },
                          "organization": {
                            "type": "object",
                            "title": "Resource",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Unique id",
                                "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                              },
                              "@type": {
                                "type": "string",
                                "required": true,
                                "description": "Resource",
                                "example": "Resource"
                              }
                            },
                            "discriminator": {
                              "propertyName": "@type"
                            },
                            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/organization-embed"
                          },
                          "telematicsCapable": {
                            "type": "boolean",
                            "description": "Indicates if the equipment is capable of telematics.",
                            "example": true
                          },
                          "archived": {
                            "type": "boolean",
                            "description": "Indicates if the equipment is archived.",
                            "example": true
                          },
                          "principalId": {
                            "type": "string",
                            "description": "Unique id for principal equipment",
                            "example": 12345
                          },
                          "organizationRole": {
                            "type": "object",
                            "title": "OrganizationRole",
                            "description": "Represents the role of an organization, including its type, effective timestamp, and event.",
                            "example": {
                              "type": "Controlling",
                              "effectiveTS": "2023-10-01T12:00:00Z",
                              "event": "CREATION"
                            },
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The type of the organization role.",
                                "enum": [
                                  "Controlling",
                                  "NonControlling"
                                ],
                                "example": "Controlling"
                              },
                              "effectiveTS": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp when the role becomes effective.",
                                "example": "2023-10-01T12:00:00Z"
                              },
                              "event": {
                                "type": "string",
                                "description": "The event associated with the organization role.",
                                "enum": [
                                  "CREATION",
                                  "TRANSFER",
                                  "SUBSCRIPTION",
                                  "PAIRING",
                                  "ORDER",
                                  "COMMANDED",
                                  "DECOMMISSION"
                                ],
                                "example": "CREATION"
                              },
                              "inPossession": {
                                "type": "boolean",
                                "example": true
                              }
                            },
                            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/organization-role"
                          },
                          "ERID": {
                            "type": "string",
                            "description": "Unique identifier of the Equipment.",
                            "example": "fcdc83cb-8840-4215-84b5-1769889db932"
                          },
                          "alternateIdentifiers": {
                            "type": "array",
                            "description": "List of alternate identifiers of the Equipment like DE-13, DE-17, ERID...",
                            "items": {
                              "type": "object",
                              "required": [
                                "type",
                                "value"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Type of identifier.",
                                  "enum": [
                                    "serialNumber",
                                    "ERID"
                                  ]
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Value of identifier.",
                                  "example": "RW8360R055358"
                                }
                              },
                              "title": "Identifier of Equipment",
                              "description": "Identifier of the Equipment like DE-13, DE-17, ERID...",
                              "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/identifier"
                            }
                          },
                          "icon": {
                            "type": "object",
                            "title": "EquipmentIcon",
                            "properties": {
                              "links": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "title": "Link",
                                  "properties": {
                                    "rel": {
                                      "type": "string",
                                      "example": "nextPage"
                                    },
                                    "uri": {
                                      "type": "string",
                                      "description": "This will be the relative URL. Users will prefix the base url as per their requirements.",
                                      "example": "/equipment?pageOffset=10&itemSize=10"
                                    }
                                  },
                                  "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/link"
                                }
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique id",
                                "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                              },
                              "@type": {
                                "type": "string",
                                "description": "Equipment | Machine | Implement | MachineCharacteristics | ImplementCharacteristics | EquipmentType | EquipmentMake | EquipmentModel | Organization | TheftRecord | DecommissionRecord | WarrantyInformation | DeviceParameter | Other",
                                "example": "Equipment | Machine | Implement | MachineCharacteristics | ImplementCharacteristics | EquipmentType | EquipmentMake | EquipmentModel | Organization | TheftRecord | DecommissionRecord | WarrantyInformation | DeviceParameter | Other",
                                "required": true
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the equipment icon.",
                                "example": "JOHN DEERE"
                              },
                              "iconStyle": {
                                "type": "object",
                                "title": "IconStyle",
                                "description": "icon style",
                                "properties": {
                                  "primaryColor": {
                                    "type": "string",
                                    "description": "primary color of the icon style"
                                  },
                                  "secondaryColor": {
                                    "type": "string",
                                    "description": "secondary color of the icon style"
                                  }
                                },
                                "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/icon-style"
                              }
                            },
                            "discriminator": {
                              "propertyName": "@type"
                            },
                            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/equipment-icon"
                          },
                          "devices": {
                            "type": "array",
                            "description": "List of devices paired with the equipment.",
                            "items": {
                              "type": "object",
                              "title": "Device",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Unique id",
                                  "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                                },
                                "@type": {
                                  "type": "string",
                                  "required": true,
                                  "description": "Device | Display | PositionReceiver | TelematicsGateway",
                                  "example": "Device",
                                  "enum": [
                                    "Device",
                                    "Display",
                                    "PositionReceiver",
                                    "TelematicsGateway"
                                  ]
                                },
                                "serialNumber": {
                                  "type": "string",
                                  "description": "Serial number of the device and passed on the query parameter",
                                  "example": "PCS171B372381"
                                },
                                "isSerialNumberCertified": {
                                  "type": "boolean",
                                  "description": "True if this is an official device (we have PI information about it).",
                                  "example": true
                                },
                                "make": {
                                  "type": "object",
                                  "title": "DeviceMake",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Unique id",
                                      "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                                    },
                                    "@type": {
                                      "type": "string",
                                      "required": true,
                                      "description": "DeviceMake",
                                      "example": "DeviceMake",
                                      "enum": [
                                        "DeviceMake"
                                      ]
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the device make.",
                                      "example": "JOHN DEERE"
                                    },
                                    "ERID": {
                                      "type": "string",
                                      "description": "Unique identifier of the device make.",
                                      "example": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                                    }
                                  },
                                  "discriminator": {
                                    "propertyName": "@type"
                                  },
                                  "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/device-make",
                                  "description": "Represents the make of a device, including its name and unique identifier (ERID).",
                                  "example": {
                                    "name": "JOHN DEERE",
                                    "ERID": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                                  }
                                },
                                "type": {
                                  "type": "object",
                                  "title": "DeviceType",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Unique id",
                                      "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                                    },
                                    "@type": {
                                      "type": "string",
                                      "required": true,
                                      "description": "DeviceType",
                                      "example": "DeviceType",
                                      "enum": [
                                        "DeviceType"
                                      ]
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the device type.",
                                      "example": "Modem"
                                    },
                                    "commonName": {
                                      "type": "string",
                                      "description": "The common name of the device type.",
                                      "example": "TelematicsGateway"
                                    },
                                    "ERID": {
                                      "type": "string",
                                      "description": "Unique identifier of the device type.",
                                      "example": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                                    }
                                  },
                                  "discriminator": {
                                    "propertyName": "@type"
                                  },
                                  "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/device-type",
                                  "description": "Represents the type of a device, including its name, common name, and unique identifier (ERID).",
                                  "example": {
                                    "name": "Modem",
                                    "commonName": "TelematicsGateway",
                                    "ERID": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                                  }
                                },
                                "model": {
                                  "type": "object",
                                  "title": "DeviceModel",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Unique id",
                                      "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                                    },
                                    "@type": {
                                      "type": "string",
                                      "required": true,
                                      "description": "DeviceModel",
                                      "example": "DeviceModel",
                                      "enum": [
                                        "DeviceModel"
                                      ]
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the device model.",
                                      "example": "JDLink Modem-4G"
                                    },
                                    "ERID": {
                                      "type": "string",
                                      "description": "Unique identifier of the device model.",
                                      "example": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                                    },
                                    "make": {
                                      "type": "object",
                                      "title": "DeviceMake",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "Unique id",
                                          "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                                        },
                                        "@type": {
                                          "type": "string",
                                          "required": true,
                                          "description": "DeviceMake",
                                          "example": "DeviceMake",
                                          "enum": [
                                            "DeviceMake"
                                          ]
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The name of the device make.",
                                          "example": "JOHN DEERE"
                                        },
                                        "ERID": {
                                          "type": "string",
                                          "description": "Unique identifier of the device make.",
                                          "example": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                                        }
                                      },
                                      "discriminator": {
                                        "propertyName": "@type"
                                      },
                                      "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/device-make",
                                      "description": "Represents the make of a device, including its name and unique identifier (ERID).",
                                      "example": {
                                        "name": "JOHN DEERE",
                                        "ERID": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                                      }
                                    },
                                    "type": {
                                      "type": "object",
                                      "title": "DeviceType",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "Unique id",
                                          "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                                        },
                                        "@type": {
                                          "type": "string",
                                          "required": true,
                                          "description": "DeviceType",
                                          "example": "DeviceType",
                                          "enum": [
                                            "DeviceType"
                                          ]
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "The name of the device type.",
                                          "example": "Modem"
                                        },
                                        "commonName": {
                                          "type": "string",
                                          "description": "The common name of the device type.",
                                          "example": "TelematicsGateway"
                                        },
                                        "ERID": {
                                          "type": "string",
                                          "description": "Unique identifier of the device type.",
                                          "example": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                                        }
                                      },
                                      "discriminator": {
                                        "propertyName": "@type"
                                      },
                                      "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/device-type",
                                      "description": "Represents the type of a device, including its name, common name, and unique identifier (ERID).",
                                      "example": {
                                        "name": "Modem",
                                        "commonName": "TelematicsGateway",
                                        "ERID": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                                      }
                                    }
                                  },
                                  "discriminator": {
                                    "propertyName": "@type"
                                  },
                                  "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/device-model",
                                  "description": "Represents the model of a device, including its name, unique identifier (ERID), make, and type.",
                                  "example": {
                                    "name": "JDLink Modem-4G",
                                    "ERID": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3",
                                    "make": {
                                      "name": "JOHN DEERE",
                                      "ERID": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                                    },
                                    "type": {
                                      "name": "Modem",
                                      "commonName": "TelematicsGateway",
                                      "ERID": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                                    }
                                  }
                                },
                                "organization": {
                                  "type": "object",
                                  "title": "Resource",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Unique id",
                                      "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                                    },
                                    "@type": {
                                      "type": "string",
                                      "required": true,
                                      "description": "Resource",
                                      "example": "Resource"
                                    }
                                  },
                                  "discriminator": {
                                    "propertyName": "@type"
                                  },
                                  "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/organization-embed"
                                },
                                "ERID": {
                                  "type": "string",
                                  "description": "Unique identifier of the Device.",
                                  "example": "fcdc83cb-8840-4215-84b5-1769889db932"
                                },
                                "firmwareVersion": {
                                  "type": "object",
                                  "title": "Version",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "Unique id",
                                      "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                                    },
                                    "@type": {
                                      "type": "string",
                                      "required": true,
                                      "description": "Version",
                                      "example": "Version",
                                      "enum": [
                                        "Version"
                                      ]
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the version.",
                                      "example": "3.16.1171"
                                    }
                                  },
                                  "discriminator": {
                                    "propertyName": "@type"
                                  },
                                  "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/version",
                                  "description": "Represents the version of a device or software, including its name.",
                                  "example": {
                                    "name": "3.16.1171"
                                  }
                                },
                                "capabilities": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "title": "Capability",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "Unique id",
                                        "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                                      },
                                      "@type": {
                                        "type": "string",
                                        "required": true,
                                        "description": "Capability",
                                        "example": "Capability",
                                        "enum": [
                                          "Capability"
                                        ]
                                      },
                                      "capable": {
                                        "type": "boolean"
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "JDLINK_CONNECTIVITY",
                                          "RDA",
                                          "WDT",
                                          "WIFI_CONNECTIVITY",
                                          "CUSTOMER_SIM_CONNECTIVITY",
                                          "LEGACY_CONNECTIVITY",
                                          "PLANNED_WORK",
                                          "DATA_SYNC_SETUP",
                                          "CH_REMOTE_ADJUST",
                                          "BASE_STATION",
                                          "MY_MACHINE",
                                          "RDC",
                                          "REMOTE_START"
                                        ]
                                      },
                                      "inabilityDetails": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "title": "InabilityDetail",
                                          "properties": {
                                            "links": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "title": "Link",
                                                "properties": {
                                                  "rel": {
                                                    "type": "string",
                                                    "example": "nextPage"
                                                  },
                                                  "uri": {
                                                    "type": "string",
                                                    "description": "This will be the relative URL. Users will prefix the base url as per their requirements.",
                                                    "example": "/equipment?pageOffset=10&itemSize=10"
                                                  }
                                                },
                                                "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/link"
                                              }
                                            },
                                            "id": {
                                              "type": "string",
                                              "description": "Unique id",
                                              "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                                            },
                                            "@type": {
                                              "type": "string",
                                              "description": "Equipment | Machine | Implement | MachineCharacteristics | ImplementCharacteristics | EquipmentType | EquipmentMake | EquipmentModel | Organization | TheftRecord | DecommissionRecord | WarrantyInformation | DeviceParameter | Other",
                                              "example": "Equipment | Machine | Implement | MachineCharacteristics | ImplementCharacteristics | EquipmentType | EquipmentMake | EquipmentModel | Organization | TheftRecord | DecommissionRecord | WarrantyInformation | DeviceParameter | Other",
                                              "required": true
                                            },
                                            "code": {
                                              "type": "string",
                                              "example": "RC14.8.1"
                                            },
                                            "type": {
                                              "type": "string",
                                              "example": "REGISTRATION"
                                            },
                                            "description": {
                                              "type": "string",
                                              "example": "SIM registration is required"
                                            }
                                          },
                                          "discriminator": {
                                            "propertyName": "@type"
                                          },
                                          "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/inability-detail"
                                        }
                                      }
                                    },
                                    "discriminator": {
                                      "propertyName": "@type"
                                    },
                                    "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/capability",
                                    "description": "List of capabilities of the equipment."
                                  }
                                },
                                "equipment": {
                                  "$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/equipment"
                                },
                                "archived": {
                                  "type": "boolean",
                                  "description": "Indicates if the device is archived.",
                                  "example": true
                                },
                                "decommissioned": {
                                  "type": "boolean",
                                  "description": "Indicates if the device is decommissioned.",
                                  "example": false
                                },
                                "stolen": {
                                  "type": "boolean",
                                  "description": "Indicates if the device is stolen.",
                                  "example": false
                                },
                                "principalId": {
                                  "type": "string",
                                  "description": "Unique id for principal device",
                                  "example": 12345
                                },
                                "organizationRole": {
                                  "type": "object",
                                  "title": "OrganizationRole",
                                  "description": "Represents the role of an organization, including its type, effective timestamp, and event.",
                                  "example": {
                                    "type": "Controlling",
                                    "effectiveTS": "2023-10-01T12:00:00Z",
                                    "event": "CREATION"
                                  },
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type of the organization role.",
                                      "enum": [
                                        "Controlling",
                                        "NonControlling"
                                      ],
                                      "example": "Controlling"
                                    },
                                    "effectiveTS": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "The timestamp when the role becomes effective.",
                                      "example": "2023-10-01T12:00:00Z"
                                    },
                                    "event": {
                                      "type": "string",
                                      "description": "The event associated with the organization role.",
                                      "enum": [
                                        "CREATION",
                                        "TRANSFER",
                                        "SUBSCRIPTION",
                                        "PAIRING",
                                        "ORDER",
                                        "COMMANDED",
                                        "DECOMMISSION"
                                      ],
                                      "example": "CREATION"
                                    },
                                    "inPossession": {
                                      "type": "boolean",
                                      "example": true
                                    }
                                  },
                                  "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/organization-role"
                                },
                                "orderNumber": {
                                  "type": "string",
                                  "description": "Order number associated with the device.",
                                  "example": 987654321
                                },
                                "pairingDetails": {
                                  "type": "object",
                                  "title": "PairingDetails",
                                  "description": "Represents the details of the pairing process, including timestamps and location.",
                                  "example": {
                                    "paired": true,
                                    "associationTimestamp": "2023-10-01T12:00:00Z",
                                    "disassociationTimestamp": "2023-10-02T12:00:00Z",
                                    "confirmationTimestamp": "2023-10-01T12:30:00Z",
                                    "location": {
                                      "latitude": 40.712776,
                                      "longitude": -74.005974
                                    }
                                  },
                                  "properties": {
                                    "paired": {
                                      "type": "boolean",
                                      "description": "Indicates if the equipment is paired.",
                                      "example": true
                                    },
                                    "associationTimestamp": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "The timestamp when the equipment was paired.",
                                      "example": "2023-10-01T12:00:00Z"
                                    },
                                    "disassociationTimestamp": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "The timestamp when the equipment was un-paired.",
                                      "example": "2023-10-02T12:00:00Z"
                                    },
                                    "confirmationTimestamp": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "The timestamp when the pairing was confirmed.",
                                      "example": "2023-10-01T12:30:00Z"
                                    },
                                    "location": {
                                      "type": "object",
                                      "title": "Point",
                                      "properties": {
                                        "lat": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "lon": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "slope": {
                                          "type": "number",
                                          "format": "double"
                                        }
                                      },
                                      "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/point"
                                    }
                                  },
                                  "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/pairing-details"
                                },
                                "archivedTimestamp": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Timestamp when the device was archived.",
                                  "example": "2021-03-10T19:19:46.420Z"
                                }
                              },
                              "discriminator": {
                                "propertyName": "@type"
                              },
                              "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/device",
                              "description": "Represents a device, including its serial number, certification status, make, type, model, organization, and other attributes.",
                              "example": {
                                "@type": "Device",
                                "serialNumber": "PCMA4GF511111",
                                "make": {
                                  "name": "JOHN DEERE",
                                  "id": "1",
                                  "ERID": "f8b43e74-3088-4a38-9d66-30aae1ed1111"
                                },
                                "type": {
                                  "name": "Modem",
                                  "commonName": "TelematicsGateway",
                                  "id": "1",
                                  "ERID": "d469a324-2036-11ee-bb58-0e5cd6a91111"
                                },
                                "model": {
                                  "name": "JDLink Modem-4G",
                                  "id": "3",
                                  "ERID": "f413bba6-9f39-410c-866f-c800bf701111"
                                },
                                "firmwareVersion": {
                                  "name": "40.02.049"
                                },
                                "organization": {
                                  "id": "21111"
                                },
                                "organizationRole": {
                                  "type": "Controlling",
                                  "effectiveTS": "2024-04-30T17:53:57Z",
                                  "event": "PAIRING"
                                },
                                "archived": false,
                                "decommissioned": false,
                                "stolen": false,
                                "principalId": "911111",
                                "equipment": {
                                  "name": "Cattle 9700 SPFH",
                                  "serialNumber": "1Z09700YAKU621111",
                                  "isSerialNumberCertified": true,
                                  "modelYear": "2019",
                                  "make": {
                                    "name": "JOHN DEERE",
                                    "certified": true,
                                    "deereOrSubsidiary": true,
                                    "id": "1",
                                    "ERID": "db18bdc4-025a-11eb-97e4-0e8d658c1111"
                                  },
                                  "type": {
                                    "name": "Forage Harvester",
                                    "id": "162",
                                    "ERID": "34b07db5-11fb-11ee-8580-0ed5f7261111"
                                  },
                                  "isgType": {
                                    "name": "Forage Harvester",
                                    "id": "6",
                                    "ERID": "99edf0e0-4abb-42d3-9798-327439a31111"
                                  },
                                  "model": {
                                    "name": 9700,
                                    "certified": true,
                                    "id": "581111",
                                    "ERID": "2c8c951e-070a-4e1c-824d-72cca6e71111"
                                  },
                                  "principalId": "661111",
                                  "archived": false,
                                  "organization": {
                                    "id": "22967"
                                  },
                                  "organizationRole": {
                                    "type": "Controlling",
                                    "effectiveTS": "2024-04-30T17:53:56.695Z",
                                    "event": "PAIRING"
                                  },
                                  "isCsc": false,
                                  "id": "661111",
                                  "ERID": "23fe3ea0-1f95-4ae6-8e12-968729cd1111"
                                },
                                "capabilities": [
                                  {
                                    "type": "JDLINK_CONNECTIVITY",
                                    "capable": true
                                  },
                                  {
                                    "type": "WIFI_CONNECTIVITY",
                                    "capable": true
                                  }
                                ],
                                "pairingDetails": {
                                  "paired": true,
                                  "associationTimestamp": "2024-09-28T17:30:24Z",
                                  "disassociationTimestamp": null,
                                  "confirmationTimestamp": "2024-10-23T22:17:22Z",
                                  "location": {
                                    "lat": 52.780639,
                                    "lon": -122.453222,
                                    "slope": null
                                  }
                                },
                                "messagesRestricted": false,
                                "pairingStatus": "PAIRED",
                                "orderNumber": "961111",
                                "highFidelityConfigurationVersion": {
                                  "name": "1Hz_L3X40FT4JDPS0x00_ISG_X8X9SPFH_63978_2024.008.001"
                                },
                                "genericConfigurationVersion": {
                                  "name": "1623F1EF-62C2-4B8B-B5EA-A0FFD6EA76F8"
                                },
                                "communicationModules": [
                                  {
                                    "imei": "014642005101111",
                                    "imsi": "310170835961111",
                                    "iccid": "89011704278359691111",
                                    "type": "GSM",
                                    "serviceProvider": "Jasper",
                                    "state": "Active",
                                    "id": "632111"
                                  }
                                ],
                                "id": "915111",
                                "ERID": "fb537c94-14f1-11ef-871b-1287bcef1111"
                              }
                            }
                          },
                          "pairingDetails": {
                            "type": "object",
                            "title": "PairingDetails",
                            "description": "Represents the details of the pairing process, including timestamps and location.",
                            "example": {
                              "paired": true,
                              "associationTimestamp": "2023-10-01T12:00:00Z",
                              "disassociationTimestamp": "2023-10-02T12:00:00Z",
                              "confirmationTimestamp": "2023-10-01T12:30:00Z",
                              "location": {
                                "latitude": 40.712776,
                                "longitude": -74.005974
                              }
                            },
                            "properties": {
                              "paired": {
                                "type": "boolean",
                                "description": "Indicates if the equipment is paired.",
                                "example": true
                              },
                              "associationTimestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp when the equipment was paired.",
                                "example": "2023-10-01T12:00:00Z"
                              },
                              "disassociationTimestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp when the equipment was un-paired.",
                                "example": "2023-10-02T12:00:00Z"
                              },
                              "confirmationTimestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp when the pairing was confirmed.",
                                "example": "2023-10-01T12:30:00Z"
                              },
                              "location": {
                                "type": "object",
                                "title": "Point",
                                "properties": {
                                  "lat": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "lon": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "slope": {
                                    "type": "number",
                                    "format": "double"
                                  }
                                },
                                "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/point"
                              }
                            },
                            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/pairing-details"
                          },
                          "archivedTimestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the equipment was archived.",
                            "example": "2021-03-10T19:19:46.420Z"
                          },
                          "mergedEquipment": {
                            "type": "array",
                            "description": "List of equipment that was merged.",
                            "items": {
                              "$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/equipment",
                              "type": "object",
                              "properties": {
                                "implements": {
                                  "uniqueItems": true,
                                  "type": "array",
                                  "items": {
                                    "$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/implement"
                                  }
                                }
                              },
                              "title": "Machine",
                              "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/machine"
                            }
                          },
                          "isCsc": {
                            "type": "boolean",
                            "description": "Indicates if the equipment is CSC equipment or not.",
                            "example": true
                          }
                        },
                        "discriminator": {
                          "propertyName": "@type"
                        },
                        "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/equipmentForList",
                        "description": "Represents the equipment, including its name, serial number, model year, make, type, ISG type, model, organization, telematics capability, and various other attributes."
                      }
                    }
                  }
                },
                "examples": {
                  "No Header": {
                    "value": {
                      "links": [
                        {
                          "rel": "nextPage",
                          "uri": "https://equipmentapi.deere.com/isg/equipment?organizationIds=1234&categories=machine&embed=equipment,devices,pairingDetails,icon&pageOffset=200&itemLimit=100"
                        }
                      ],
                      "values": {
                        "name": "1H0S680SCE0766303",
                        "isoName": "Cates 8360R 055358",
                        "serialNumber": "1H0S680SCE0766303",
                        "engineSerialNumber": "RG6135U000500",
                        "isSerialNumberCertified": true,
                        "modelYear": "2014",
                        "make": {
                          "name": "JOHN DEERE",
                          "certified": true,
                          "deereOrSubsidiary": true,
                          "id": "1111",
                          "ERID": "db18bdc4-025a-11eb-97e4-0e8d658c1111"
                        },
                        "type": {
                          "name": "Combine",
                          "id": 222,
                          "ERID": "80619ff7-11fa-11ee-bb58-0e5cd6a962d7"
                        },
                        "isgType": {
                          "name": "Combine",
                          "id": 2,
                          "ERID": "d8dce5b0-cc8d-4c34-afac-27d93793bd86"
                        },
                        "model": {
                          "name": "S680",
                          "certified": true,
                          "id": 65985,
                          "ERID": "f2e7d596-35c6-11e7-af34-123e49453e98"
                        },
                        "icon": {
                          "name": "combine-header-bean",
                          "iconStyle": {
                            "primaryColor": "#367C2B",
                            "secondaryColor": "#FFDE00"
                          }
                        },
                        "organization": [
                          {
                            "@type": "Resource",
                            "id": 1234
                          }
                        ],
                        "telematicsCapable": true,
                        "archived": false,
                        "principalId": 217373,
                        "organizationRole": {
                          "type": "Controlling",
                          "effectiveTS": "2024-03-15T09:00:29.101Z",
                          "event": "TRANSFER",
                          "inPossession": true
                        },
                        "ERID": "d3d0bd20-e09f-11ee-92e2-0e5cd6a962d7",
                        "alternateIdentifiers": [
                          {
                            "type": "serialNumber",
                            "value": "P05415X041850"
                          },
                          {
                            "type": "serialNumber",
                            "value": "1P05415XAN4041850"
                          }
                        ],
                        "pairingDetails": {
                          "paired": false,
                          "associationTimestamp": null,
                          "disassociationTimestamp": "2024-10-23T22:23:54Z",
                          "confirmationTimestamp": null,
                          "location": {
                            "lat": 37.904531,
                            "lon": -89.334754,
                            "slope": null
                          }
                        },
                        "devices": [
                          {
                            "@type": "TelematicsGateway",
                            "serialNumber": "PCMAMGA772527,",
                            "make": [
                              {
                                "@type": "DeviceMake",
                                "name": "John Deere",
                                "id": 1,
                                "ERID": "f8b43e74-3088-4a38-9d66-30aae1ed1a11"
                              }
                            ],
                            "type": [
                              {
                                "@type": "DeviceType",
                                "name": "Modem",
                                "commonName": "TelematicsGateway",
                                "id": 1,
                                "ERID": "d469a324-2036-11ee-bb58-0e5cd6a962d7"
                              }
                            ],
                            "model": [
                              {
                                "@type": "DeviceModel",
                                "name": "JDLink Modem-2G",
                                "id": 1,
                                "ERID": "7698ea15-e634-493d-8d55-1749563b3d22"
                              }
                            ],
                            "organization": [
                              {
                                "@type": "Resource,",
                                "id": 1234
                              }
                            ],
                            "organizationRole": {
                              "type": "NonControlling",
                              "effectiveTS": "2024-06-19T13:07:46.119Z",
                              "event": "TRANSFER",
                              "inPossession": false
                            },
                            "archived": true,
                            "decommissioned": false,
                            "stolen": false,
                            "principalId": 82044,
                            "archivedTimestamp": "2024-06-19T13:07:46Z",
                            "messagesRestricted": false,
                            "pairingStatus": "PENDING",
                            "orderNumber": 371859,
                            "id": 82044,
                            "ERID": "fe1b7f0d-f901-11ee-8d6e-0ee07103fef"
                          }
                        ],
                        "mergedEquipment": [
                          {
                            "@type": "Machine",
                            "name": "Tyyui5677",
                            "make": [
                              {
                                "@type": "EquipmentMake",
                                "name": "BOBCAT",
                                "certified": false,
                                "deereOrSubsidiary": false,
                                "id": 232,
                                "ERID": "db1a64f3-025a-11eb-97e4-0e8d658c7ba3"
                              }
                            ],
                            "type": [
                              {
                                "@type": "EquipmentType",
                                "name": "Rotary Cutter",
                                "id": 518,
                                "ERID": "cc304214-4ba5-48c2-a04a-485970232d7f"
                              }
                            ],
                            "isgType": [
                              {
                                "@type": "EquipmentISGType",
                                "name": "Other",
                                "id": 29,
                                "ERID": "bcb321b9-521d-4761-9e64-f59816a2ab6b"
                              }
                            ],
                            "model": [
                              {
                                "@type": "EquipmentModel",
                                "name": "RC-80-H",
                                "certified": true,
                                "id": 586875,
                                "ERID": "f6694870-c322-4000-8f5f-a701ed6eb144"
                              }
                            ],
                            "icon": [
                              {
                                "@type": "EquipmentIcon",
                                "name": "cutters-and-shredders-rotary-cutters",
                                "iconStyle": {
                                  "primaryColor": null,
                                  "secondaryColor": null
                                }
                              }
                            ],
                            "archived": false,
                            "mergedBy": "userABC",
                            "mergedTimeStamp": "2025-02-14T19:13:08.911Z",
                            "isCsc": false,
                            "id": 7836613
                          }
                        ],
                        "archivedTimestamp": "2021-03-10T19:19:46.420Z",
                        "isCsc": false
                      }
                    }
                  }
                }
              }
            },
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/responses/GetEquipment"
          },
          "400": {
            "description": "Bad Request - No query parameters provided.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "An english description of the error",
                        "example": "<parameter> was invalid because <reason>"
                      },
                      "code": {
                        "type": "string",
                        "description": "A string constant representing the type of error",
                        "example": 400
                      },
                      "field": {
                        "type": "string",
                        "description": "The name of the property or parameter deemed invalid",
                        "example": "Machine.serialNumber"
                      },
                      "gud": {
                        "type": "string",
                        "format": "uuid",
                        "description": "A reference to this encounter of the error, for traceability and troubleshooting",
                        "example": "9b331708-10e8-4e15-8097-a9aed7455d6d"
                      },
                      "invalidValue": {
                        "type": "string",
                        "description": "The value that was supplied for this field in the request",
                        "example": null
                      }
                    },
                    "readOnly": true,
                    "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/Error"
                  },
                  "readOnly": true,
                  "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Authorization Error\n- user/applications does not have access to api or resource\nor\n- user does not have required permissions/BusinessActivities for the org.\n"
          }
        }
      }
    },
    "/organizations/{organizationId}/equipment": {
      "post": {
        "tags": [
          "Equipment"
        ],
        "description": "This resource allows the client to create a piece of equipment within a user’s organization. <br><br> <b>Getting Started</b><br>The process of contributing equipment to John Deere can be broken down into three primary steps. <ol> <li> Determine the Equipment’s model IDs</li> <li> Create the Equipment</li> <li> Contribute Measurements. Please see the <a  href='/dev-docs/equipment-measurement' target='_blank'>Equipment Measurements (POST) API</a> for more information on uploading measurements for the created equipment.</li> </ol> <b>Determining the Equipment’s model</b> <ol> <li> Call the GET /equipmentMakes API endpoint to get a list of all equipment makes and a respective “id” of the equipment make you require.</li> <li> Call the GET /equipmentMakes/{id}/equipmentISGTypes endpoint to get a list of associated equipment ISG types for that specific equipment make and obtain a respective “id” for a specific ISG type you require.</li> <li> Call the GET /equipmentMakes/{id}/equipmentISGTypes/{id}/equipmentModels to obtain the final “id” of the equipment model you require.</li> <li> Alternatively, you may call the GET /equipmentModels endpoint if you know the model name you are searching for. For example /equipmentModels?equipmentModelName=9RX*&embed=make,isgType which will include all models with search string results and include make and isgType “id” as well as model “id”.</li> </ol> <b>Creating the Equipment</b><br/> Make a POST request to the /organizations/{orgId}/equipment API to create the piece of equipment in the user’s org. <ul> <li>In this request you will provide the type of the equipment, a serialNumber  (optional), name (displayed to the user in Operations Center), and the equipment model IDs.</li> <ul> <li><b>type:</b> Machine or Implement</li> <li><b>serialNumber:</b> A string identifier that is 30 characters or fewer. Must be unique within an organization.</li> <li><b>name:</b> The name displayed in Operation Center, 30 characters or fewer. Must be unique within an organization.</li> <li><b>model:</b> The id for the Model of the vehicle, found from the API in the previous step of this document. </li> </ul> <li> A successful POST will result in a 201 Created response. The “location” header in the response will contain the URI to the new equipment, with the final segment being the organization specific machine ID (ie “https://equipmentapi.deere.com/isg/equipment/12345” is a link to the machine 12345).</li> <li>If you attempt to create a machine with a serialNumber that already exists in that organization, you get a response code 400 Bad Request. The body will include the error information.</li> </ul>",
        "summary": "Create equipment",
        "operationId": "createEquipment",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "1234,",
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/organizationId"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "eq2"
            ]
          }
        ],
        "requestBody": {
          "description": "Asset to be created.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Equipment Creation",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Equipment Name.",
                    "example": "Cates 8360R 055358"
                  },
                  "serialNumber": {
                    "type": "string",
                    "description": "Serial Number of the Equipment and passed on the query parameter",
                    "example": "Must be unique string. Max character count is 30.",
                    "required": true
                  },
                  "model": {
                    "required": true,
                    "type": "object",
                    "title": "Model of the equipment.",
                    "description": "Model of the equipment.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique id",
                        "example": "3 | 158df9ff-334a-4e0d-86cc-3adca17a9686",
                        "required": true
                      },
                      "@type": {
                        "type": "string",
                        "description": "EquipmentModel",
                        "example": "EquipmentModel",
                        "required": true
                      }
                    }
                  }
                },
                "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/createEquipment"
              },
              "examples": {
                "No Header": {
                  "value": {
                    "@type": "Machine",
                    "name": "Equipment Name",
                    "serialNumber": "must_be_unique_string",
                    "model": {
                      "@type": "EquipmentModel",
                      "id": 66280
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Headers": {
                    "description": "201 Created"
                  }
                }
              }
            },
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/responses/CreateEquip"
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "An english description of the error",
                        "example": "<parameter> was invalid because <reason>"
                      },
                      "code": {
                        "type": "string",
                        "description": "A string constant representing the type of error",
                        "example": 400
                      },
                      "field": {
                        "type": "string",
                        "description": "The name of the property or parameter deemed invalid",
                        "example": "Machine.serialNumber"
                      },
                      "gud": {
                        "type": "string",
                        "format": "uuid",
                        "description": "A reference to this encounter of the error, for traceability and troubleshooting",
                        "example": "9b331708-10e8-4e15-8097-a9aed7455d6d"
                      },
                      "invalidValue": {
                        "type": "string",
                        "description": "The value that was supplied for this field in the request",
                        "example": null
                      }
                    },
                    "readOnly": true,
                    "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/Error"
                  },
                  "readOnly": true,
                  "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "User is not authorized for this request."
          }
        },
        "__originalOperationId": "createEquipment"
      }
    },
    "/equipment/{id}": {
      "get": {
        "tags": [
          "Equipment"
        ],
        "description": "This resource allows the client to view the details of one piece of equipment.",
        "summary": "View equipment details by Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1111,
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/id"
          },
          {
            "name": "embed",
            "in": "query",
            "required": false,
            "description": "embed 'pairingDetails' is only supported along with 'devices' or 'equipment' embeds",
            "schema": {
              "type": "string",
              "enum": [
                "devices",
                "equipment",
                "pairingDetails",
                "icon",
                "offsets",
                "capabilities"
              ]
            },
            "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/parameters/Embed"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "eq1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of Assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "values": {
                      "items": {
                        "type": "object",
                        "title": "Equipment",
                        "properties": {
                          "links": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "title": "Link",
                              "properties": {
                                "rel": {
                                  "type": "string",
                                  "example": "nextPage"
                                },
                                "uri": {
                                  "type": "string",
                                  "description": "This will be the relative URL. Users will prefix the base url as per their requirements.",
                                  "example": "/equipment?pageOffset=10&itemSize=10"
                                }
                              },
                              "$$ref": "https://developer.deere.com/dev-docs/equipment#/components/schemas/link"
                            }
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique id",
                            "example": "363997 | fcdc83cb-8840-4215-84b5-1769889db932"
                          },
                          "@type": {
                            "type": "string",
                            "description": "Equipment | Machine | Implement",
                            "example": "Equipment",
                            "required": true,
                            "enum": [
                              "Equipment",
                              "Machine",
                              "Implement"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "description": "Equipment Name.",
                            "example": "Cates 8360R 055358"
                          },
                          "isoName": {
                            "type": "string",
                            "description": "Unique 64-bit ISO NAME used to identify the controller during address claim.",
                            "example": "b00082000422ed1d"
                          },
                          "serialNumber": {
                            "type": "string",
                            "description": "Serial Number of the Equipment and passed on the query parameter",
                            "example": "1RW8360RLCD055358"
                          },
                          "engineSerialNumber": {
                            "type": "string",
                            "description": "VIN or PIN, more than Serial Number, of the Engine.",
                            "example": "RG6090L839275"
                          },
                          "isSerialNumberCertified": {
                            "type": "boolean",
                            "description": "True if this is an official equipment (we have PI information about it).",
                            "example": true
                          },
                          "modelYear": {
                            "type": "string",
                            "description": "Year of model.",
                            "example": 2019
                          },
                          "make": {
                            "type": "object",
                            "title": "EquipmentMake",
                            "description": "Represents the make of the equipment, including its name, unique identifier, and metadata.",
                            "properties": {
                              "@type": {
                                "type": "string",
                                "description": "EquipmentMake",
                                "example": "EquipmentMake"
                              },
                              "id": {
                                "type": "string",
                                "description": "Unique identifier for the equipment make.",
                                "example": "1"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the equipment make.",
                                "example": "JOHN DEERE"
                              },
                              "ERID": {
                                "type": "string",
                                "description": "Unique identifier for the equipment make.",
                                "example": "db18bdc4-025a-11eb-97e4-0e8d658c7ba3"
                              },
[...]
