{
  "openapi": "3.0.0",
  "info": {
    "title": "Agrobank API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/DARKNESS6345122_1/Agrobank/1.0.0/swagger.json",
    "contact": {},
    "description": "Agrobank API"
  },
  "servers": [
    {
      "url": "http://online.aic.uz/apex/ins/agrobank",
      "description": "\u0414\u0435\u0439\u0441\u0442\u0432\u0438\u0442\u0435\u043b\u0435\u043d \u0434\u043e 01.06.2025"
    },
    {
      "url": "http://rest.aic.uz/api/ins/agrobank"
    }
  ],
  "paths": {
    "/contract_loan": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u044f",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "tr_id",
                  "benifitzar",
                  "borrower",
                  "credit_contract"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f (\u0421\u043e\u043e\u0431\u0449\u0430\u0435\u0442\u0441\u044f \u0441\u043e \u0441\u0442\u043e\u0440\u043e\u043d\u044b \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0449\u0438\u043a\u0430)"
                  },
                  "tr_id": {
                    "type": "integer",
                    "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u0440\u0430\u043d\u0437\u0430\u043a\u0446\u0438\u0438 (\u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u043e\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u0441\u043e \u0441\u0442\u043e\u0440\u043e\u043d\u044b \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f)"
                  },
                  "benifitzar": {
                    "type": "object",
                    "required": [
                      "tin",
                      "phone",
                      "name",
                      "representativeName",
                      "representativeDoc",
                      "representativeDocNumber",
                      "representativePinfl",
                      "representativePassportSeria",
                      "representativePassportNumber",
                      "regionid",
                      "districtid",
                      "address",
                      "checkingAccount",
                      "bankMfo",
                      "oked"
                    ],
                    "properties": {
                      "tin": {
                        "type": "string",
                        "description": "\u0418\u041d\u041d \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430"
                      },
                      "phone": {
                        "type": "string",
                        "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430 (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 '998XXXXXXXXX')"
                      },
                      "name": {
                        "type": "string",
                        "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0444\u0438\u043b\u0438\u0430\u043b\u0430 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430 (\u043a\u0430\u043a\u043e\u0435 \u043d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u0435\u0440\u0435\u0434\u0430\u0442\u0438\u0442\u0435 \u0442\u0430\u043a\u043e\u0439 \u0431\u0443\u0434\u0435\u0442 \u0432 \u043f\u043e\u043b\u0438\u0441\u0435)"
                      },
                      "representativeName": {
                        "type": "string",
                        "description": "\u0424\u0418\u041e \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438"
                      },
                      "representativeDoc": {
                        "type": "string",
                        "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "representativeDocNumber": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "representativePinfl": {
                        "type": "string",
                        "description": "\u041f\u0418\u041d\u0424\u041b \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "representativePassportSeria": {
                        "type": "string",
                        "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "representativePassportNumber": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "regionid": {
                        "type": "integer",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u0433\u0438\u043e\u043d\u0430 (\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a /regionid)"
                      },
                      "districtid": {
                        "type": "integer",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0430\u0439\u043e\u043d\u0430 (\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "\u0410\u0434\u0440\u0435\u0441 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430 (\u0423\u043b\u0438\u0446\u0430, \u0434\u043e\u043c, \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u0430)"
                      },
                      "checkingAccount": {
                        "type": "string",
                        "description": "\u0420\u0430\u0441\u0447\u0435\u0442\u043d\u044b\u0439 \u0441\u0447\u0435\u0442 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430"
                      },
                      "bankMfo": {
                        "type": "string",
                        "description": "\u041c\u0424\u041e \u0431\u0430\u043d\u043a\u0430 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430"
                      },
                      "oked": {
                        "type": "string",
                        "description": "\u041e\u041a\u042d\u0414 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430"
                      }
                    }
                  },
                  "borrower": {
                    "type": "object",
                    "required": [
                      "pinfl",
                      "name",
                      "sname",
                      "patronim",
                      "passport_ser",
                      "passport_num",
                      "birthdate",
                      "phone",
                      "regionid",
                      "districtid",
                      "address",
                      "gender"
                    ],
                    "properties": {
                      "pinfl": {
                        "type": "string",
                        "description": "\u041f\u0418\u041d\u0424\u041b \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "name": {
                        "type": "string",
                        "description": "\u0418\u043c\u044f \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "sname": {
                        "type": "string",
                        "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "patronim": {
                        "type": "string",
                        "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (\u0415\u0441\u043b\u0438 \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u0435\u0442 \u0443\u043a\u0430\u0437\u0430\u0442\u044c 'XXX')"
                      },
                      "passport_ser": {
                        "type": "string",
                        "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "passport_num": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "birthdate": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "\u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 'dd.mm.yyyy')"
                      },
                      "phone": {
                        "type": "string",
                        "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 '998XXXXXXXXX')"
                      },
                      "regionid": {
                        "type": "string",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u0433\u0438\u043e\u043d\u0430 (\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a /regionid)"
                      },
                      "districtid": {
                        "type": "string",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0430\u0439\u043e\u043d\u0430 (\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "\u0410\u0434\u0440\u0435\u0441 \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (\u0423\u043b\u0438\u0446\u0430, \u0434\u043e\u043c, \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u0430)"
                      },
                      "gender": {
                        "type": "integer",
                        "description": "\u041f\u043e\u043b \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (1 - \u043c\u0443\u0436\u0441\u043a\u043e\u0439, 0 - \u0436\u0435\u043d\u0441\u043a\u0438\u0439)"
                      }
                    }
                  },
                  "credit_contract": {
                    "type": "object",
                    "required": [
                      "reg_number",
                      "start_date",
                      "end_date",
                      "credit_amount"
                    ],
                    "properties": {
                      "reg_number": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                      },
                      "start_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "\u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "\u0414\u0430\u0442\u0430 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                      },
                      "credit_amount": {
                        "type": "number",
                        "description": "\u0421\u0443\u043c\u043c\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u0430"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract_id": {
                      "type": "integer",
                      "description": "ID \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                    },
                    "insurancesum": {
                      "type": "number",
                      "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430"
                    },
                    "insurancepremium": {
                      "type": "number",
                      "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f"
                    },
                    "insurancestartdate": {
                      "type": "string",
                      "description": "\u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u0430 \u0434\u0435\u0439\u0441\u0442\u0432\u0438\u044f \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0433\u043e \u043f\u043e\u043b\u0438\u0441\u0430"
                    },
                    "insuranceenddate": {
                      "type": "string",
                      "description": "\u0414\u0430\u0442\u0430 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u0434\u0435\u0439\u0441\u0442\u0432\u0438\u044f \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0433\u043e \u043f\u043e\u043b\u0438\u0441\u0430"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0435"
          },
          "401": {
            "description": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        },
        "description": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u044f",
        "operationId": "post-contract-loan"
      }
    },
    "/contract_conveyor": {
      "post": {
        "summary": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u044f (\u043a\u043e\u043d\u0432\u0435\u0435\u0440)",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "tr_id",
                  "benifitzar",
                  "borrower",
                  "credit_contract"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f (\u0421\u043e\u043e\u0431\u0449\u0430\u0435\u0442\u0441\u044f \u0441\u043e \u0441\u0442\u043e\u0440\u043e\u043d\u044b \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0449\u0438\u043a\u0430)"
                  },
                  "tr_id": {
                    "type": "string",
                    "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0442\u0440\u0430\u043d\u0437\u0430\u043a\u0446\u0438\u0438 (\u0443\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u043e\u0435 \u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u0441\u043e \u0441\u0442\u043e\u0440\u043e\u043d\u044b \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f)"
                  },
                  "benifitzar": {
                    "type": "object",
                    "required": [
                      "tin",
                      "phone",
                      "name",
                      "representativeName",
                      "representativeDoc",
                      "representativeDocNumber",
                      "representativePinfl",
                      "representativePassportSeria",
                      "representativePassportNumber",
                      "regionid",
                      "districtid",
                      "address",
                      "checkingAccount",
                      "bankMfo",
                      "oked"
                    ],
                    "properties": {
                      "tin": {
                        "type": "string",
                        "description": "\u0418\u041d\u041d \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430"
                      },
                      "phone": {
                        "type": "string",
                        "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430 (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 '998XXXXXXXXX')"
                      },
                      "name": {
                        "type": "string",
                        "description": "\u041d\u0430\u0437\u0432\u0430\u043d\u0438\u0435 \u0444\u0438\u043b\u0438\u0430\u043b\u0430 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430 (\u043a\u0430\u043a\u043e\u0435 \u043d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u0435\u0440\u0435\u0434\u0430\u0442\u0438\u0442\u0435 \u0442\u0430\u043a\u043e\u0439 \u0431\u0443\u0434\u0435\u0442 \u0432 \u043f\u043e\u043b\u0438\u0441\u0435)"
                      },
                      "representativeName": {
                        "type": "string",
                        "description": "\u0424\u0418\u041e \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f \u043e\u0440\u0433\u0430\u043d\u0438\u0437\u0430\u0446\u0438\u0438"
                      },
                      "representativeDoc": {
                        "type": "string",
                        "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "representativeDocNumber": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "representativePinfl": {
                        "type": "string",
                        "description": "\u041f\u0418\u041d\u0424\u041b \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "representativePassportSeria": {
                        "type": "string",
                        "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "representativePassportNumber": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 \u043f\u0440\u0435\u0434\u0441\u0442\u0430\u0432\u0438\u0442\u0435\u043b\u044f"
                      },
                      "regionid": {
                        "type": "integer",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u0433\u0438\u043e\u043d\u0430 (\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a /regionid)"
                      },
                      "districtid": {
                        "type": "integer",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0430\u0439\u043e\u043d\u0430 (\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "\u0410\u0434\u0440\u0435\u0441 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430 (\u0423\u043b\u0438\u0446\u0430, \u0434\u043e\u043c, \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u0430)"
                      },
                      "checkingAccount": {
                        "type": "string",
                        "description": "\u0420\u0430\u0441\u0447\u0435\u0442\u043d\u044b\u0439 \u0441\u0447\u0435\u0442 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430"
                      },
                      "bankMfo": {
                        "type": "string",
                        "description": "\u041c\u0424\u041e \u0431\u0430\u043d\u043a\u0430 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430"
                      },
                      "oked": {
                        "type": "string",
                        "description": "\u041e\u041a\u042d\u0414 \u0431\u0435\u043d\u0435\u0444\u0438\u0446\u0438\u0430\u0440\u0430"
                      }
                    }
                  },
                  "borrower": {
                    "type": "object",
                    "required": [
                      "pinfl",
                      "name",
                      "sname",
                      "patronim",
                      "passport_ser",
                      "passport_num",
                      "birthdate",
                      "phone",
                      "regionid",
                      "districtid",
                      "address",
                      "gender"
                    ],
                    "properties": {
                      "pinfl": {
                        "type": "string",
                        "description": "\u041f\u0418\u041d\u0424\u041b \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "name": {
                        "type": "string",
                        "description": "\u0418\u043c\u044f \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "sname": {
                        "type": "string",
                        "description": "\u0424\u0430\u043c\u0438\u043b\u0438\u044f \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "patronim": {
                        "type": "string",
                        "description": "\u041e\u0442\u0447\u0435\u0441\u0442\u0432\u043e \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (\u0415\u0441\u043b\u0438 \u043e\u0442\u0441\u0443\u0442\u0441\u0442\u0432\u0443\u0435\u0442 \u0443\u043a\u0430\u0437\u0430\u0442\u044c 'XXX')"
                      },
                      "passport_ser": {
                        "type": "string",
                        "description": "\u0421\u0435\u0440\u0438\u044f \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "passport_num": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u043f\u0430\u0441\u043f\u043e\u0440\u0442\u0430 \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430"
                      },
                      "birthdate": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "\u0414\u0430\u0442\u0430 \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 'dd.mm.yyyy')"
                      },
                      "phone": {
                        "type": "string",
                        "description": "\u0422\u0435\u043b\u0435\u0444\u043e\u043d \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (\u0432 \u0444\u043e\u0440\u043c\u0430\u0442\u0435 '998XXXXXXXXX')"
                      },
                      "regionid": {
                        "type": "string",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0435\u0433\u0438\u043e\u043d\u0430 (\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a /regionid)"
                      },
                      "districtid": {
                        "type": "string",
                        "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u0440\u0430\u0439\u043e\u043d\u0430 (\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "\u0410\u0434\u0440\u0435\u0441 \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (\u0423\u043b\u0438\u0446\u0430, \u0434\u043e\u043c, \u043a\u0432\u0430\u0440\u0442\u0438\u0440\u0430)"
                      },
                      "gender": {
                        "type": "integer",
                        "description": "\u041f\u043e\u043b \u0437\u0430\u0435\u043c\u0449\u0438\u043a\u0430 (1 - \u043c\u0443\u0436\u0441\u043a\u043e\u0439, 0 - \u0436\u0435\u043d\u0441\u043a\u0438\u0439)"
                      }
                    }
                  },
                  "credit_contract": {
                    "type": "object",
                    "required": [
                      "reg_number",
                      "start_date",
                      "end_date",
                      "credit_amount"
                    ],
                    "properties": {
                      "reg_number": {
                        "type": "string",
                        "description": "\u041d\u043e\u043c\u0435\u0440 \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                      },
                      "start_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "\u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "\u0414\u0430\u0442\u0430 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                      },
                      "credit_amount": {
                        "type": "number",
                        "description": "\u0421\u0443\u043c\u043c\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u0430"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract_id": {
                      "type": "integer",
                      "description": "ID \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                    },
                    "insurancesum": {
                      "type": "number",
                      "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u0441\u0443\u043c\u043c\u0430"
                    },
                    "insurancepremium": {
                      "type": "number",
                      "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f"
                    },
                    "insurancestartdate": {
                      "type": "string",
                      "description": "\u0414\u0430\u0442\u0430 \u043d\u0430\u0447\u0430\u043b\u0430 \u0434\u0435\u0439\u0441\u0442\u0432\u0438\u044f \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0433\u043e \u043f\u043e\u043b\u0438\u0441\u0430"
                    },
                    "insuranceenddate": {
                      "type": "string",
                      "description": "\u0414\u0430\u0442\u0430 \u043e\u043a\u043e\u043d\u0447\u0430\u043d\u0438\u044f \u0434\u0435\u0439\u0441\u0442\u0432\u0438\u044f \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u043e\u0433\u043e \u043f\u043e\u043b\u0438\u0441\u0430"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0435"
          },
          "401": {
            "description": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        },
        "description": "\u0421\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430 \u0441\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u043d\u0438\u044f (\u043a\u043e\u043d\u0432\u0435\u0435\u0440)",
        "operationId": "post-contract-conveyor"
      }
    },
    "/payment": {
      "post": {
        "summary": "\u041f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u0435 \u043e\u043f\u043b\u0430\u0442\u044b",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "contract_id",
                  "bank_day",
                  "insurancepremium",
                  "bank_account",
                  "bank_branch",
                  "dock_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f"
                  },
                  "contract_id": {
                    "type": "integer",
                    "description": "ID \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                  },
                  "insurancepremium": {
                    "type": "number",
                    "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f"
                  },
                  "bank_day": {
                    "type": "string",
                    "format": "dd.mm.yyyy",
                    "description": "\u0414\u0430\u0442\u0430 \u043e\u043f\u043b\u0430\u0442\u044b \u043f\u043e\u043b\u0438\u0441\u0430"
                  },
                  "bank_account": {
                    "type": "string",
                    "description": "\u041d\u043e\u043c\u0435\u0440 \u0431\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u043e\u0433\u043e \u0441\u0447\u0435\u0442\u0430 \u043d\u0430 \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u043f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0441\u044f \u043e\u043f\u043b\u0430\u0442\u0430"
                  },
                  "bank_branch": {
                    "type": "string",
                    "description": "\u041a\u043e\u0434 \u043e\u0442\u0434\u0435\u043b\u0435\u043d\u0438\u044f \u0431\u0430\u043d\u043a\u0430 \u043d\u0430 \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u043f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0438\u0442\u0441\u044f \u043e\u043f\u043b\u0430\u0442\u0430"
                  },
                  "dock_id": {
                    "type": "string",
                    "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u043b\u0430\u0442\u0435\u0436\u0430"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0437\u0430\u043f\u0438\u0441\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract_id": {
                      "type": "string",
                      "description": "ID \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                    },
                    "paid_sum": {
                      "type": "number",
                      "description": "\u0421\u0443\u043c\u043c\u0430 \u043e\u043f\u043b\u0430\u0442\u044b"
                    },
                    "policy_no": {
                      "type": "string",
                      "description": "\u0421\u0435\u0440\u0438\u044f \u0438 \u043d\u043e\u043c\u0435\u0440 \u043f\u043e\u043b\u0438\u0441\u0430"
                    },
                    "policy_check": {
                      "type": "string",
                      "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043f\u0440\u043e\u0432\u0435\u0440\u043a\u0443 \u043f\u043e\u043b\u0438\u0441\u0430"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0435"
          },
          "401": {
            "description": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        },
        "description": "\u041f\u043e\u0434\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u0435 \u043e\u043f\u043b\u0430\u0442\u044b",
        "operationId": "post-payment"
      }
    },
    "/policy": {
      "post": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043f\u043e\u043b\u0438\u0441\u0430",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "reg_number"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID \u043f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044f"
                  },
                  "reg_number": {
                    "type": "string",
                    "description": "\u041d\u043e\u043c\u0435\u0440 \u043a\u0440\u0435\u0434\u0438\u0442\u043d\u043e\u0433\u043e \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u0435 \u0437\u0430\u043f\u0438\u0441\u0438",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract_id": {
                      "type": "string",
                      "description": "ID \u0434\u043e\u0433\u043e\u0432\u043e\u0440\u0430"
                    },
                    "insurancepremium": {
                      "type": "number",
                      "description": "\u0421\u0442\u0440\u0430\u0445\u043e\u0432\u0430\u044f \u043f\u0440\u0435\u043c\u0438\u044f"
                    },
                    "policy_no": {
                      "type": "string",
                      "description": "\u0421\u0435\u0440\u0438\u044f \u0438 \u043d\u043e\u043c\u0435\u0440 \u043f\u043e\u043b\u0438\u0441\u0430"
                    },
                    "policy_check": {
                      "type": "string",
                      "description": "\u0421\u0441\u044b\u043b\u043a\u0430 \u043d\u0430 \u043f\u0440\u043e\u0432\u0435\u0440\u043a\u0443 \u043f\u043e\u043b\u0438\u0441\u0430",
                      "example": "http://example.com"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u041e\u0448\u0438\u0431\u043a\u0430 \u0432 \u0437\u0430\u043f\u0440\u043e\u0441\u0435"
          },
          "401": {
            "description": "\u041f\u043e\u043b\u044c\u0437\u043e\u0432\u0430\u0442\u0435\u043b\u044c \u043d\u0435 \u0430\u0432\u0442\u043e\u0440\u0438\u0437\u043e\u0432\u0430\u043d"
          }
        },
        "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u043f\u043e\u043b\u0438\u0441\u0430",
        "operationId": "post-policy"
      }
    },
    "/regionid": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 ID \u0440\u0435\u0433\u0438\u043e\u043d\u043e\u0432",
        "tags": [
          "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "regionid": {
                            "type": "integer",
                            "description": "ID \u0440\u0435\u0433\u0438\u043e\u043d\u0430"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0440\u0435\u0433\u0438\u043e\u043d\u0430 \u043d\u0430 \u0440\u0443\u0441\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0440\u0435\u0433\u0438\u043e\u043d\u0430 \u043d\u0430 \u0443\u0437\u0431\u0435\u043a\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 ID \u0440\u0435\u0433\u0438\u043e\u043d\u043e\u0432",
        "operationId": "get-regionid"
      }
    },
    "/districtid": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 ID \u0440\u0430\u0439\u043e\u043d\u043e\u0432",
        "tags": [
          "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "regionId",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "ID \u0440\u0435\u0433\u0438\u043e\u043d\u0430"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u043e\u0435 \u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0434\u0430\u043d\u043d\u044b\u0445",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "districtid": {
                            "type": "integer",
                            "description": "ID \u0440\u0430\u0439\u043e\u043d\u0430"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0440\u0430\u0439\u043e\u043d\u0430 \u043d\u0430 \u0440\u0443\u0441\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0440\u0430\u0439\u043e\u043d\u0430 \u043d\u0430 \u0443\u0437\u0431\u0435\u043a\u0441\u043a\u043e\u043c \u044f\u0437\u044b\u043a\u0435"
                          },
                          "regionId": {
                            "type": "number",
                            "description": "ID \u0440\u0435\u0433\u0438\u043e\u043d\u0430"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 ID \u0440\u0430\u0439\u043e\u043d\u043e\u0432",
        "operationId": "get-districtid"
      }
    },
    "/doc_id": {
      "get": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e\u0442 \u0431\u0430\u043d\u043a\u0430 \u043f\u043e \u043d\u043e\u043c\u0435\u0440\u0443 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u043b\u0430\u0442\u0435\u0436\u0430",
        "tags": [
          "\u0411\u0430\u043d\u043a"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "doc_id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u043b\u0430\u0442\u0435\u0436\u0430"
          }
        ],
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "description": "\u041e\u0448\u0438\u0431\u043a\u0430, \u0435\u0441\u043b\u0438 \u043e\u043d\u0430 \u043f\u0440\u043e\u0438\u0437\u043e\u0448\u043b\u0430."
                    },
                    "id": {
                      "type": "integer",
                      "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438."
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "acc_ct": {
                                "type": "string",
                                "description": "\u0421\u0447\u0435\u0442 \u043f\u043e\u043b\u0443\u0447\u0430\u0442\u0435\u043b\u044f."
                              },
                              "acc_dt": {
                                "type": "string",
                                "description": "\u0421\u0447\u0435\u0442 \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f."
                              },
                              "amount": {
                                "type": "number",
                                "format": "double",
                                "description": "\u0421\u0443\u043c\u043c\u0430 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438."
                              },
                              "anor": {
                                "type": "integer",
                                "description": "\u0411\u044b\u043b \u043e\u043f\u043b\u0430\u0447\u0435\u043d \u0447\u0435\u0440\u0435\u0437 \u0441\u0438\u0441\u0442\u0435\u043c\u0443 \u0410\u043d\u043e\u0440? (0 - \u043d\u0435\u0442, 1 - \u0434\u0430)."
                              },
                              "b2_id": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 B2."
                              },
                              "branch": {
                                "type": "string",
                                "description": "\u041c\u0424\u041e."
                              },
                              "client_id": {
                                "type": "integer",
                                "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043a\u043b\u0438\u0435\u043d\u0442\u0430."
                              },
                              "ddate": {
                                "type": "string",
                                "format": "date",
                                "description": "\u0414\u0430\u0442\u0430 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 (dd.mm.yyyy)."
                              },
                              "dir": {
                                "type": "integer",
                                "description": "\u041d\u0430\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430."
                              },
                              "dtype": {
                                "type": "string",
                                "description": "\u0422\u0438\u043f \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430."
                              },
                              "dtype_name": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0442\u0438\u043f\u0430 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430."
                              },
                              "err": {
                                "type": "string",
                                "description": "\u041a\u043e\u0434 \u043e\u0448\u0438\u0431\u043a\u0438."
                              },
                              "err_msg": {
                                "type": "string",
                                "description": "\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435."
                              },
                              "doc_id": {
                                "type": "string",
                                "description": "ID \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u0432 \u0410\u0411\u0421."
                              },
                              "inn_ct": {
                                "type": "string",
                                "description": "\u0418\u041d\u041d \u043f\u043e\u043b\u0443\u0447\u0430\u0442\u0435\u043b\u044f."
                              },
                              "inn_dt": {
                                "type": "string",
                                "description": "\u0418\u041d\u041d \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f."
                              },
                              "mfo_ct": {
                                "type": "string",
                                "description": "\u041c\u0424\u041e \u043f\u043e\u043b\u0443\u0447\u0430\u0442\u0435\u043b\u044f."
                              },
                              "mfo_ct_name": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0431\u0430\u043d\u043a\u0430 \u043f\u043e\u043b\u0443\u0447\u0430\u0442\u0435\u043b\u044f."
                              },
                              "mfo_dt": {
                                "type": "string",
                                "description": "\u041c\u0424\u041e \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f."
                              },
                              "mfo_dt_name": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0431\u0430\u043d\u043a\u0430 \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f."
                              },
                              "name_ct": {
                                "type": "string",
                                "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u043e\u043b\u0443\u0447\u0430\u0442\u0435\u043b\u044f."
                              },
                              "name_dt": {
                                "type": "string",
                                "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f."
                              },
                              "num": {
                                "type": "string",
                                "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430."
                              },
                              "purp_code": {
                                "type": "string",
                                "description": "\u041a\u043e\u0434 \u043d\u0430\u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f."
                              },
                              "purpose": {
                                "type": "string",
                                "description": "\u041d\u0430\u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u043f\u043b\u0430\u0442\u0435\u0436\u0430."
                              },
                              "state": {
                                "type": "integer",
                                "description": "\u0421\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0435 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438."
                              },
                              "state_name": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u044f."
                              },
                              "stime": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u0412\u0440\u0435\u043c\u044f \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438."
                              },
                              "uniq": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430, \u043f\u0440\u0438\u0441\u0432\u0430\u0438\u0432\u0430\u0435\u043c\u044b\u0439 \u043a\u043b\u0438\u0435\u043d\u0442\u0441\u043a\u043e\u0439 \u0441\u0442\u043e\u0440\u043e\u043d\u043e\u0439 \u043f\u0440\u0438 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u0438 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u043e\u0433\u043e \u043f\u043e\u0440\u0443\u0447\u0435\u043d\u0438\u044f."
                              },
                              "vdate": {
                                "type": "string",
                                "format": "date",
                                "description": "\u0414\u0430\u0442\u0430 \u0432\u0430\u043b\u044e\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f (dd.mm.yyyy)."
                              },
                              "time": {
                                "type": "string",
                                "description": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043c\u044f \u043f\u0440\u043e\u0432\u0435\u0434\u0435\u043d\u0438\u044f \u043f\u043b\u0430\u0442\u0435\u0436\u0430 (dd.mm.yyyy hh:mm:ss)."
                              }
                            }
                          }
                        },
                        "fin": {
                          "type": "integer",
                          "description": "\u041f\u0440\u0438\u0437\u043d\u0430\u043a \u043e\u043a\u043e\u043d\u0447\u0430\u0442\u0435\u043b\u044c\u043d\u043e\u0433\u043e \u043e\u0442\u0447\u0435\u0442\u0430. 0 - \u043e\u0442\u0447\u0435\u0442 \u043d\u0435 \u043e\u043a\u043e\u043d\u0447\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u0439, \u0442.\u0435. \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u0434\u0435\u043d\u044c \u043d\u0435 \u0437\u0430\u043a\u0440\u044b\u0442 \u0438 \u043c\u043e\u0433\u0443\u0442 \u0431\u044b\u0442\u044c \u0435\u0449\u0451 \u043f\u043e\u0441\u0442\u0443\u043f\u043b\u0435\u043d\u0438\u044f. 1 - \u043e\u043a\u043e\u043d\u0447\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u0439 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442."
                        },
                        "oper_day": {
                          "type": "string",
                          "format": "date",
                          "description": "\u041e\u043f\u0435\u0440\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u0434\u0435\u043d\u044c (dd.mm.yyyy)."
                        },
                        "saldo_in": {
                          "type": "number",
                          "format": "double",
                          "description": "\u0421\u0430\u043b\u044c\u0434\u043e \u043d\u0430 \u043d\u0430\u0447\u0430\u043b\u043e \u0434\u043d\u044f."
                        },
                        "saldo_out": {
                          "type": "number",
                          "format": "double",
                          "description": "\u0421\u0430\u043b\u044c\u0434\u043e \u043d\u0430 \u043a\u043e\u043d\u0435\u0446 \u0434\u043d\u044f \u0438\u043b\u0438 \u0442\u0435\u043a\u0443\u0449\u0435\u0435."
                        },
                        "total_credit": {
                          "type": "number",
                          "format": "double",
                          "description": "\u0421\u0443\u043c\u043c\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u043e\u0432\u044b\u0445 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0439."
                        },
                        "total_debit": {
                          "type": "number",
                          "format": "double",
                          "description": "\u0421\u0443\u043c\u043c\u0430 \u0434\u0435\u0431\u0435\u0442\u043e\u0432\u044b\u0445 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0439 \u0432 \u0442\u0438\u0439\u0438\u043d\u0430\u0445."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e\u0442 \u0431\u0430\u043d\u043a\u0430 \u043f\u043e \u043d\u043e\u043c\u0435\u0440\u0443 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u043f\u043b\u0430\u0442\u0435\u0436\u0430",
        "operationId": "get-doc-id"
      }
    },
    "/bank_day": {
      "post": {
        "summary": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e\u0442 \u0431\u0430\u043d\u043a\u0430 \u043f\u043e \u0431\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u043e\u043c\u0443 \u0434\u043d\u044e \u0438 \u0440/\u0441",
        "tags": [
          "\u0411\u0430\u043d\u043a"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bank_day",
                  "bank_account",
                  "bank_branch"
                ],
                "properties": {
                  "bank_day": {
                    "type": "string",
                    "description": "\u0421\u0442\u0440\u0443\u043a\u0442\u0443\u0440\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430 \u043f\u0440\u0435\u0434\u043e\u0441\u0442\u0430\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u0441\u043e \u0441\u0442\u043e\u0440\u043e\u043d\u044b \u0431\u0430\u043d\u043a\u0430"
                  },
                  "bank_account": {
                    "type": "string",
                    "description": "\u0421\u0442\u0440\u0443\u043a\u0442\u0443\u0440\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430 \u043f\u0440\u0435\u0434\u043e\u0441\u0442\u0430\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u0441\u043e \u0441\u0442\u043e\u0440\u043e\u043d\u044b \u0431\u0430\u043d\u043a\u0430"
                  },
                  "bank_branch": {
                    "type": "string",
                    "description": "\u0421\u0442\u0440\u0443\u043a\u0442\u0443\u0440\u0430 \u0437\u0430\u043f\u0440\u043e\u0441\u0430 \u043f\u0440\u0435\u0434\u043e\u0441\u0442\u0430\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u0441\u043e \u0441\u0442\u043e\u0440\u043e\u043d\u044b \u0431\u0430\u043d\u043a\u0430"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u0423\u0441\u043f\u0435\u0448\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "nullable": true,
                      "description": "\u041e\u0448\u0438\u0431\u043a\u0430, \u0435\u0441\u043b\u0438 \u043e\u043d\u0430 \u043f\u0440\u043e\u0438\u0437\u043e\u0448\u043b\u0430."
                    },
                    "id": {
                      "type": "integer",
                      "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u0438\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438."
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "content": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "acc_ct": {
                                "type": "string",
                                "description": "\u0421\u0447\u0435\u0442 \u043f\u043e\u043b\u0443\u0447\u0430\u0442\u0435\u043b\u044f."
                              },
                              "acc_dt": {
                                "type": "string",
                                "description": "\u0421\u0447\u0435\u0442 \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f."
                              },
                              "amount": {
                                "type": "number",
                                "format": "double",
                                "description": "\u0421\u0443\u043c\u043c\u0430 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438."
                              },
                              "anor": {
                                "type": "integer",
                                "description": "\u0411\u044b\u043b \u043e\u043f\u043b\u0430\u0447\u0435\u043d \u0447\u0435\u0440\u0435\u0437 \u0441\u0438\u0441\u0442\u0435\u043c\u0443 \u0410\u043d\u043e\u0440? (0 - \u043d\u0435\u0442, 1 - \u0434\u0430)."
                              },
                              "b2_id": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 B2."
                              },
                              "branch": {
                                "type": "string",
                                "description": "\u041c\u0424\u041e."
                              },
                              "client_id": {
                                "type": "integer",
                                "description": "\u0418\u0434\u0435\u043d\u0442\u0438\u0444\u0438\u043a\u0430\u0442\u043e\u0440 \u043a\u043b\u0438\u0435\u043d\u0442\u0430."
                              },
                              "ddate": {
                                "type": "string",
                                "format": "date",
                                "description": "\u0414\u0430\u0442\u0430 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 (dd.mm.yyyy)."
                              },
                              "dir": {
                                "type": "integer",
                                "description": "\u041d\u0430\u043f\u0440\u0430\u0432\u043b\u0435\u043d\u0438\u0435 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430."
                              },
                              "dtype": {
                                "type": "string",
                                "description": "\u0422\u0438\u043f \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430."
                              },
                              "dtype_name": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0442\u0438\u043f\u0430 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430."
                              },
                              "err": {
                                "type": "string",
                                "description": "\u041a\u043e\u0434 \u043e\u0448\u0438\u0431\u043a\u0438."
                              },
                              "err_msg": {
                                "type": "string",
                                "description": "\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u043e\u0431 \u043e\u0448\u0438\u0431\u043a\u0435."
                              },
                              "doc_id": {
                                "type": "string",
                                "description": "ID \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430 \u0432 \u0410\u0411\u0421."
                              },
                              "inn_ct": {
                                "type": "string",
                                "description": "\u0418\u041d\u041d \u043f\u043e\u043b\u0443\u0447\u0430\u0442\u0435\u043b\u044f."
                              },
                              "inn_dt": {
                                "type": "string",
                                "description": "\u0418\u041d\u041d \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f."
                              },
                              "mfo_ct": {
                                "type": "string",
                                "description": "\u041c\u0424\u041e \u043f\u043e\u043b\u0443\u0447\u0430\u0442\u0435\u043b\u044f."
                              },
                              "mfo_ct_name": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0431\u0430\u043d\u043a\u0430 \u043f\u043e\u043b\u0443\u0447\u0430\u0442\u0435\u043b\u044f."
                              },
                              "mfo_dt": {
                                "type": "string",
                                "description": "\u041c\u0424\u041e \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f."
                              },
                              "mfo_dt_name": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0431\u0430\u043d\u043a\u0430 \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f."
                              },
                              "name_ct": {
                                "type": "string",
                                "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043f\u043e\u043b\u0443\u0447\u0430\u0442\u0435\u043b\u044f."
                              },
                              "name_dt": {
                                "type": "string",
                                "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u043e\u0442\u043f\u0440\u0430\u0432\u0438\u0442\u0435\u043b\u044f."
                              },
                              "num": {
                                "type": "string",
                                "description": "\u041d\u043e\u043c\u0435\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430."
                              },
                              "purp_code": {
                                "type": "string",
                                "description": "\u041a\u043e\u0434 \u043d\u0430\u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f."
                              },
                              "purpose": {
                                "type": "string",
                                "description": "\u041d\u0430\u0437\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u043f\u043b\u0430\u0442\u0435\u0436\u0430."
                              },
                              "state": {
                                "type": "integer",
                                "description": "\u0421\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0435 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438."
                              },
                              "state_name": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u041d\u0430\u0438\u043c\u0435\u043d\u043e\u0432\u0430\u043d\u0438\u0435 \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u044f."
                              },
                              "stime": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u0412\u0440\u0435\u043c\u044f \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0438."
                              },
                              "uniq": {
                                "type": "string",
                                "nullable": true,
                                "description": "\u0423\u043d\u0438\u043a\u0430\u043b\u044c\u043d\u044b\u0439 \u043d\u043e\u043c\u0435\u0440 \u0434\u043e\u043a\u0443\u043c\u0435\u043d\u0442\u0430, \u043f\u0440\u0438\u0441\u0432\u0430\u0438\u0432\u0430\u0435\u043c\u044b\u0439 \u043a\u043b\u0438\u0435\u043d\u0442\u0441\u043a\u043e\u0439 \u0441\u0442\u043e\u0440\u043e\u043d\u043e\u0439 \u043f\u0440\u0438 \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u0438 \u043f\u043b\u0430\u0442\u0435\u0436\u043d\u043e\u0433\u043e \u043f\u043e\u0440\u0443\u0447\u0435\u043d\u0438\u044f."
                              },
                              "vdate": {
                                "type": "string",
                                "format": "date",
                                "description": "\u0414\u0430\u0442\u0430 \u0432\u0430\u043b\u044e\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044f (dd.mm.yyyy)."
                              },
                              "time": {
                                "type": "string",
                                "description": "\u0414\u0430\u0442\u0430 \u0438 \u0432\u0440\u0435\u043c\u044f \u043f\u0440\u043e\u0432\u0435\u0434\u0435\u043d\u0438\u044f \u043f\u043b\u0430\u0442\u0435\u0436\u0430 (dd.mm.yyyy hh:mm:ss)."
                              }
                            }
                          }
                        },
                        "fin": {
                          "type": "integer",
                          "description": "\u041f\u0440\u0438\u0437\u043d\u0430\u043a \u043e\u043a\u043e\u043d\u0447\u0430\u0442\u0435\u043b\u044c\u043d\u043e\u0433\u043e \u043e\u0442\u0447\u0435\u0442\u0430. 0 - \u043e\u0442\u0447\u0435\u0442 \u043d\u0435 \u043e\u043a\u043e\u043d\u0447\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u0439, \u0442.\u0435. \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u0434\u0435\u043d\u044c \u043d\u0435 \u0437\u0430\u043a\u0440\u044b\u0442 \u0438 \u043c\u043e\u0433\u0443\u0442 \u0431\u044b\u0442\u044c \u0435\u0449\u0451 \u043f\u043e\u0441\u0442\u0443\u043f\u043b\u0435\u043d\u0438\u044f. 1 - \u043e\u043a\u043e\u043d\u0447\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u0439 \u0440\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442."
                        },
                        "oper_day": {
                          "type": "string",
                          "format": "date",
                          "description": "\u041e\u043f\u0435\u0440\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u0434\u0435\u043d\u044c (dd.mm.yyyy)."
                        },
                        "saldo_in": {
                          "type": "number",
                          "format": "double",
                          "description": "\u0421\u0430\u043b\u044c\u0434\u043e \u043d\u0430 \u043d\u0430\u0447\u0430\u043b\u043e \u0434\u043d\u044f."
                        },
                        "saldo_out": {
                          "type": "number",
                          "format": "double",
                          "description": "\u0421\u0430\u043b\u044c\u0434\u043e \u043d\u0430 \u043a\u043e\u043d\u0435\u0446 \u0434\u043d\u044f \u0438\u043b\u0438 \u0442\u0435\u043a\u0443\u0449\u0435\u0435."
                        },
                        "total_credit": {
                          "type": "number",
                          "format": "double",
                          "description": "\u0421\u0443\u043c\u043c\u0430 \u043a\u0440\u0435\u0434\u0438\u0442\u043e\u0432\u044b\u0445 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0439."
                        },
                        "total_debit": {
                          "type": "number",
                          "format": "double",
                          "description": "\u0421\u0443\u043c\u043c\u0430 \u0434\u0435\u0431\u0435\u0442\u043e\u0432\u044b\u0445 \u043e\u043f\u0435\u0440\u0430\u0446\u0438\u0439 \u0432 \u0442\u0438\u0439\u0438\u043d\u0430\u0445."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u041f\u043e\u043b\u0443\u0447\u0435\u043d\u0438\u0435 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \u043e\u0442 \u0431\u0430\u043d\u043a\u0430 \u043f\u043e \u0431\u0430\u043d\u043a\u043e\u0432\u0441\u043a\u043e\u043c\u0443 \u0434\u043d\u044e \u0438 \u0440/\u0441",
        "operationId": "post-bank-day"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "tags": [
    {
      "name": "Contract"
    },
    {
      "name": "\u0411\u0430\u043d\u043a"
    },
    {
      "name": "\u0421\u043f\u0440\u0430\u0432\u043e\u0447\u043d\u0438\u043a"
    }
  ]
}
