{
  "openapi": "3.0.3",
  "info": {
    "title": "Aliaddo API",
    "version": "1.0.0",
    "description": "Accounting and business management API",
    "x-jentic-source-url": "https://aliaddo.readme.io",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.aliaddo.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "invoices",
      "description": "Sales invoices"
    },
    {
      "name": "sales",
      "description": "Sales operations"
    },
    {
      "name": "purchases",
      "description": "Purchase operations"
    },
    {
      "name": "accounting",
      "description": "Accounting entries"
    },
    {
      "name": "inventory",
      "description": "Product and warehouse management"
    },
    {
      "name": "contacts",
      "description": "Contact management"
    }
  ],
  "paths": {
    "/invoices": {
      "get": {
        "summary": "List sales invoices",
        "operationId": "listInvoices",
        "tags": [
          "invoices"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "description": "List sales invoices"
      },
      "post": {
        "summary": "Create invoice",
        "operationId": "createInvoice",
        "tags": [
          "invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date"
                  },
                  "customer_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invoice created"
          }
        },
        "description": "Create invoice"
      }
    },
    "/invoices/{id}": {
      "get": {
        "summary": "Retrieve single invoice",
        "operationId": "getInvoice",
        "tags": [
          "invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Retrieve single invoice"
      },
      "put": {
        "summary": "Edit invoice",
        "operationId": "updateInvoice",
        "tags": [
          "invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice updated"
          }
        },
        "description": "Edit invoice"
      }
    },
    "/invoices/{id}/void": {
      "patch": {
        "summary": "Cancel invoice",
        "operationId": "voidInvoice",
        "tags": [
          "invoices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice voided"
          }
        },
        "description": "Cancel invoice"
      }
    },
    "/invoices/{invoiceId}/payments": {
      "post": {
        "summary": "Record payment for invoice",
        "operationId": "recordPayment",
        "tags": [
          "invoices"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment recorded"
          }
        },
        "description": "Record payment for invoice"
      }
    },
    "/sales-remissions": {
      "get": {
        "summary": "List remissions",
        "operationId": "listRemissions",
        "tags": [
          "sales"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "List remissions"
      },
      "post": {
        "summary": "Create remission",
        "operationId": "createRemission",
        "tags": [
          "sales"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Remission created"
          }
        },
        "description": "Create remission"
      }
    },
    "/sales-orders": {
      "get": {
        "summary": "List sales orders",
        "operationId": "listSalesOrders",
        "tags": [
          "sales"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "List sales orders"
      },
      "post": {
        "summary": "Create sales order",
        "operationId": "createSalesOrder",
        "tags": [
          "sales"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sales order created"
          }
        },
        "description": "Create sales order"
      }
    },
    "/asientos-contables": {
      "get": {
        "summary": "Get accounting entries (chart of accounts)",
        "operationId": "getAccountingEntries",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get accounting entries (chart of accounts)"
      }
    },
    "/centros-de-costos": {
      "get": {
        "summary": "Get cost centers",
        "operationId": "getCostCenters",
        "tags": [
          "accounting"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get cost centers"
      }
    },
    "/productos": {
      "get": {
        "summary": "List products",
        "operationId": "listProducts",
        "tags": [
          "inventory"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "List products"
      },
      "post": {
        "summary": "Create product",
        "operationId": "createProduct",
        "tags": [
          "inventory"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created"
          }
        },
        "description": "Create product"
      }
    },
    "/bodegas": {
      "get": {
        "summary": "List warehouses",
        "operationId": "listWarehouses",
        "tags": [
          "inventory"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "List warehouses"
      }
    },
    "/contactos": {
      "get": {
        "summary": "List contacts",
        "operationId": "listContacts",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "List contacts"
      },
      "post": {
        "summary": "Create contact",
        "operationId": "createContact",
        "tags": [
          "contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created"
          }
        },
        "description": "Create contact"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 bearer token in base64 format"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
