{
  "openapi": "3.0.3",
  "info": {
    "title": "DHL Unified Shipment Tracking API",
    "version": "1.5.8",
    "description": "DHL Unified Shipment Tracking API provides real-time shipment status updates across all DHL divisions including Express, eCommerce, Freight, and Supply Chain.",
    "x-jentic-source-url": "https://developer.dhl.com/api-reference/shipment-tracking",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api-eu.dhl.com/track",
      "description": "Production"
    },
    {
      "url": "https://api-test.dhl.com/track",
      "description": "Test"
    }
  ],
  "paths": {
    "/shipments": {
      "get": {
        "operationId": "trackShipments",
        "summary": "Track shipments",
        "description": "Retrieve tracking information for shipments",
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "trackingNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tracking number"
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Service provider type"
            }
          },
          {
            "name": "originCountryCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requesterCountryCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientPostalCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TrackingResponse": {
        "type": "object",
        "properties": {
          "shipments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Shipment"
            }
          }
        }
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "origin": {
            "type": "object"
          },
          "destination": {
            "type": "object"
          },
          "status": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "location": {
                "type": "object"
              },
              "statusCode": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrackingEvent"
            }
          }
        }
      },
      "TrackingEvent": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "location": {
            "type": "object"
          },
          "statusCode": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "DHL-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Tracking"
    }
  ]
}
