{
  "openapi": "3.0.3",
  "info": {
    "title": "Octave API",
    "version": "2.0.0",
    "description": "Octave HQ API for managing AI agents including prospector, content, email, enrichment, qualification, and call preparation agents.",
    "x-jentic-source-url": "https://octave.mintlify.app/v2-api-reference/agents/list-agents",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.octavehq.com/api/v2"
    }
  ],
  "paths": {
    "/agents/list": {
      "get": {
        "operationId": "listAgents",
        "summary": "List all agents",
        "description": "Returns a paginated list of agents with optional filtering by type.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter agents by type.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PROSPECTOR",
                "CONTENT",
                "EMAIL",
                "ENRICH_PERSON",
                "ENRICH_COMPANY",
                "QUALIFY_PERSON",
                "QUALIFY_COMPANY",
                "CALL_PREP",
                "CONTEXT"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Filter agents by search query.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "orderField",
            "in": "query",
            "description": "Field to order results by.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt"
              ],
              "default": "createdAt"
            }
          },
          {
            "name": "orderDirection",
            "in": "query",
            "description": "Sort direction.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            }
          },
          {
            "name": "includeExperiments",
            "in": "query",
            "description": "Include experiments (applies to EMAIL/CONTENT types only).",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Agent": {
        "type": "object",
        "properties": {
          "oId": {
            "type": "string",
            "description": "Unique agent identifier."
          },
          "name": {
            "type": "string",
            "description": "Agent name."
          },
          "description": {
            "type": "string",
            "description": "Agent description."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "enum": [
              "PROSPECTOR",
              "CONTENT",
              "EMAIL",
              "ENRICH_PERSON",
              "ENRICH_COMPANY",
              "QUALIFY_PERSON",
              "QUALIFY_COMPANY",
              "CALL_PREP",
              "CONTEXT"
            ]
          },
          "costToRun": {
            "type": "number",
            "description": "Cost to run the agent."
          },
          "itemType": {
            "type": "string"
          },
          "contentOutputFormat": {
            "type": "string",
            "description": "Output format for content agents."
          }
        }
      },
      "AgentListResponse": {
        "type": "object",
        "properties": {
          "hasNext": {
            "type": "boolean"
          },
          "total": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Agents"
    }
  ]
}
