{
  "openapi": "3.0.3",
  "info": {
    "title": "Guideflow API",
    "version": "1.0.0",
    "description": "REST API for managing webhooks and guideflows in Guideflow.",
    "x-jentic-source-url": "https://docs.guideflow.com/help/integrations/resthook-integration",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.guideflow.com/v1"
    }
  ],
  "paths": {
    "/user/hooks": {
      "post": {
        "operationId": "createHook",
        "summary": "Create a webhook",
        "description": "Establishes a new webhook subscription for a specific flow event.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hooks": {
      "get": {
        "operationId": "listHooks",
        "summary": "List all webhooks",
        "description": "Retrieves all webhooks configured in the workspace.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Hook"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/hooks/{id}": {
      "delete": {
        "operationId": "deleteHook",
        "summary": "Delete a webhook",
        "description": "Removes a specific webhook by ID.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful deletion"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/flow/byWorkspace": {
      "get": {
        "operationId": "listGuideflows",
        "summary": "List guideflows by workspace",
        "description": "Lists all guideflows within the workspace.",
        "tags": [
          "Guideflows"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Guideflow"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateHookRequest": {
        "type": "object",
        "properties": {
          "flowId": {
            "type": "integer"
          },
          "event": {
            "type": "string",
            "enum": [
              "first-interaction",
              "lead-created",
              "slide-viewed",
              "external-link-clicked",
              "completed",
              "end-session"
            ]
          },
          "targetUrl": {
            "type": "string"
          }
        },
        "required": [
          "flowId",
          "event",
          "targetUrl"
        ]
      },
      "Hook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "flowId": {
            "type": "integer"
          },
          "event": {
            "type": "string"
          },
          "targetUrl": {
            "type": "string"
          }
        }
      },
      "Guideflow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Api-Authorization"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Guideflows"
    },
    {
      "name": "Webhooks"
    }
  ]
}
