{
  "openapi": "3.0.3",
  "info": {
    "title": "AccuWeather Core Weather API",
    "version": "1.0.0",
    "description": "AccuWeather API providing current conditions, forecasts, and location search for weather data worldwide.",
    "x-jentic-source-url": "https://developer.accuweather.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://dataservice.accuweather.com"
    }
  ],
  "tags": [
    {
      "name": "Locations",
      "description": "Search for locations and get location keys"
    },
    {
      "name": "Current Conditions",
      "description": "Get current weather conditions"
    },
    {
      "name": "Forecasts",
      "description": "Get weather forecasts"
    }
  ],
  "paths": {
    "/locations/v1/cities/search": {
      "get": {
        "operationId": "searchCities",
        "summary": "Search for cities",
        "description": "Search for cities by text query. Returns location keys that can be used for other API calls.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "AccuWeather API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "City search text",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Language code (e.g., en-us, fr-fr)",
            "schema": {
              "type": "string",
              "default": "en-us"
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "description": "Include full details in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Integer value to skip results",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful city search",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/v1/cities/autocomplete": {
      "get": {
        "operationId": "autocompleteCities",
        "summary": "Autocomplete city search",
        "description": "Returns a list of cities that match the autocomplete text query.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Autocomplete text",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en-us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Autocomplete results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AutocompleteResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/v1/cities/geoposition/search": {
      "get": {
        "operationId": "searchByGeoposition",
        "summary": "Search location by geoposition",
        "description": "Search for a location by latitude and longitude.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Comma-separated latitude,longitude (e.g., 40.714,-74.006)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en-us"
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "toplevel",
            "in": "query",
            "required": false,
            "description": "Return only top-level city results",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/v1/{locationKey}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get location by key",
        "description": "Retrieve location details by location key.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "locationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en-us"
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/currentconditions/v1/{locationKey}": {
      "get": {
        "operationId": "getCurrentConditions",
        "summary": "Get current conditions",
        "description": "Returns current weather conditions for a specific location.",
        "tags": [
          "Current Conditions"
        ],
        "parameters": [
          {
            "name": "locationKey",
            "in": "path",
            "required": true,
            "description": "Location key from the Locations API",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en-us"
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "description": "Include full details (wind, UV index, visibility, etc.)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current conditions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrentCondition"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecasts/v1/daily/1day/{locationKey}": {
      "get": {
        "operationId": "getDailyForecast1Day",
        "summary": "Get 1-day daily forecast",
        "description": "Returns daily forecast for the next day for a specific location.",
        "tags": [
          "Forecasts"
        ],
        "parameters": [
          {
            "name": "locationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en-us"
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "description": "Return values in metric units",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecasts/v1/daily/5day/{locationKey}": {
      "get": {
        "operationId": "getDailyForecast5Day",
        "summary": "Get 5-day daily forecast",
        "description": "Returns daily forecast for the next 5 days.",
        "tags": [
          "Forecasts"
        ],
        "parameters": [
          {
            "name": "locationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en-us"
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "5-day daily forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecasts/v1/hourly/12hour/{locationKey}": {
      "get": {
        "operationId": "getHourlyForecast12Hour",
        "summary": "Get 12-hour hourly forecast",
        "description": "Returns hourly forecast for the next 12 hours.",
        "tags": [
          "Forecasts"
        ],
        "parameters": [
          {
            "name": "locationKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en-us"
            }
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hourly forecast",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HourlyForecast"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Location": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string",
            "description": "Location key for use in other API calls"
          },
          "LocalizedName": {
            "type": "string",
            "description": "Localized display name of the location"
          },
          "EnglishName": {
            "type": "string",
            "description": "English name of the location"
          },
          "Type": {
            "type": "string",
            "description": "Location type (e.g., City)"
          },
          "Country": {
            "type": "object",
            "properties": {
              "ID": {
                "type": "string"
              },
              "LocalizedName": {
                "type": "string"
              },
              "EnglishName": {
                "type": "string"
              }
            }
          },
          "AdministrativeArea": {
            "type": "object",
            "properties": {
              "ID": {
                "type": "string"
              },
              "LocalizedName": {
                "type": "string"
              },
              "EnglishName": {
                "type": "string"
              }
            }
          },
          "GeoPosition": {
            "type": "object",
            "properties": {
              "Latitude": {
                "type": "number",
                "format": "double"
              },
              "Longitude": {
                "type": "number",
                "format": "double"
              },
              "Elevation": {
                "type": "object",
                "properties": {
                  "Metric": {
                    "$ref": "#/components/schemas/UnitValue"
                  },
                  "Imperial": {
                    "$ref": "#/components/schemas/UnitValue"
                  }
                }
              }
            }
          },
          "TimeZone": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string"
              },
              "Name": {
                "type": "string"
              },
              "GmtOffset": {
                "type": "number"
              },
              "IsDaylightSaving": {
                "type": "boolean"
              }
            }
          },
          "Rank": {
            "type": "integer",
            "description": "City rank"
          }
        }
      },
      "AutocompleteResult": {
        "type": "object",
        "properties": {
          "Version": {
            "type": "integer"
          },
          "Key": {
            "type": "string"
          },
          "Type": {
            "type": "string"
          },
          "Rank": {
            "type": "integer"
          },
          "LocalizedName": {
            "type": "string"
          },
          "Country": {
            "type": "object",
            "properties": {
              "ID": {
                "type": "string"
              },
              "LocalizedName": {
                "type": "string"
              }
            }
          },
          "AdministrativeArea": {
            "type": "object",
            "properties": {
              "ID": {
                "type": "string"
              },
              "LocalizedName": {
                "type": "string"
              }
            }
          }
        }
      },
      "CurrentCondition": {
        "type": "object",
        "properties": {
          "LocalObservationDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "EpochTime": {
            "type": "integer"
          },
          "WeatherText": {
            "type": "string",
            "description": "Phrase describing the current weather"
          },
          "WeatherIcon": {
            "type": "integer",
            "description": "Weather icon number"
          },
          "HasPrecipitation": {
            "type": "boolean"
          },
          "PrecipitationType": {
            "type": "string",
            "nullable": true
          },
          "IsDayTime": {
            "type": "boolean"
          },
          "Temperature": {
            "type": "object",
            "properties": {
              "Metric": {
                "$ref": "#/components/schemas/UnitValue"
              },
              "Imperial": {
                "$ref": "#/components/schemas/UnitValue"
              }
            }
          },
          "MobileLink": {
            "type": "string"
          },
          "Link": {
            "type": "string"
          }
        }
      },
      "DailyForecastResponse": {
        "type": "object",
        "properties": {
          "Headline": {
            "type": "object",
            "properties": {
              "EffectiveDate": {
                "type": "string",
                "format": "date-time"
              },
              "EffectiveEpochDate": {
                "type": "integer"
              },
              "Severity": {
                "type": "integer"
              },
              "Text": {
                "type": "string"
              },
              "Category": {
                "type": "string"
              },
              "EndDate": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "EndEpochDate": {
                "type": "integer",
                "nullable": true
              },
              "MobileLink": {
                "type": "string"
              },
              "Link": {
                "type": "string"
              }
            }
          },
          "DailyForecasts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyForecast"
            }
          }
        }
      },
      "DailyForecast": {
        "type": "object",
        "properties": {
          "Date": {
            "type": "string",
            "format": "date-time"
          },
          "EpochDate": {
            "type": "integer"
          },
          "Temperature": {
            "type": "object",
            "properties": {
              "Minimum": {
                "$ref": "#/components/schemas/UnitValue"
              },
              "Maximum": {
                "$ref": "#/components/schemas/UnitValue"
              }
            }
          },
          "Day": {
            "$ref": "#/components/schemas/DayNightForecast"
          },
          "Night": {
            "$ref": "#/components/schemas/DayNightForecast"
          },
          "Sources": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "MobileLink": {
            "type": "string"
          },
          "Link": {
            "type": "string"
          }
        }
      },
      "DayNightForecast": {
        "type": "object",
        "properties": {
          "Icon": {
            "type": "integer"
          },
          "IconPhrase": {
            "type": "string"
          },
          "HasPrecipitation": {
            "type": "boolean"
          },
          "PrecipitationType": {
            "type": "string",
            "nullable": true
          },
          "PrecipitationIntensity": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "HourlyForecast": {
        "type": "object",
        "properties": {
          "DateTime": {
            "type": "string",
            "format": "date-time"
          },
          "EpochDateTime": {
            "type": "integer"
          },
          "WeatherIcon": {
            "type": "integer"
          },
          "IconPhrase": {
            "type": "string"
          },
          "HasPrecipitation": {
            "type": "boolean"
          },
          "IsDaylight": {
            "type": "boolean"
          },
          "Temperature": {
            "$ref": "#/components/schemas/UnitValue"
          },
          "PrecipitationProbability": {
            "type": "integer"
          },
          "MobileLink": {
            "type": "string"
          },
          "Link": {
            "type": "string"
          }
        }
      },
      "UnitValue": {
        "type": "object",
        "properties": {
          "Value": {
            "type": "number",
            "format": "double"
          },
          "Unit": {
            "type": "string"
          },
          "UnitType": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          },
          "Reference": {
            "type": "string"
          }
        }
      }
    }
  }
}
