{
  "openapi": "3.0.3",
  "info": {
    "title": "Fazz PayNow QR API",
    "description": "Fazz PayNow QR payment API for creating dynamic (one-time) and static (unlimited) PayNow QR codes for payments in Singapore.",
    "version": "4.0.0",
    "x-jentic-source-url": "https://docs.fazz.com/docs/paynow"
  },
  "servers": [
    {
      "url": "https://api.fazz.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v4/payments": {
      "post": {
        "operationId": "createDynamicPaynowQr",
        "summary": "Create Dynamic PayNow QR (One-Time Payment)",
        "description": "Creates a dynamic PayNow QR code for a one-time payment. Maximum transaction amount is SGD 20,000. Default QR code expiry is 5 minutes. Images are returned as base64-encoded format.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDynamicPaynowQrRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dynamic PayNow QR code created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/payment_methods/paynow": {
      "post": {
        "operationId": "createStaticPaynowQr",
        "summary": "Create Static PayNow QR (Unlimited Payments)",
        "description": "Creates a static PayNow QR code that can be used for unlimited payments.",
        "tags": [
          "PaymentMethods"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStaticPaynowQrRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Static PayNow QR code created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using API key and secret"
      }
    },
    "schemas": {
      "CreateDynamicPaynowQrRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "attributes"
            ],
            "properties": {
              "attributes": {
                "type": "object",
                "required": [
                  "amount",
                  "referenceId",
                  "paymentMethodType"
                ],
                "properties": {
                  "amount": {
                    "type": "string",
                    "description": "Payment amount (max SGD 20,000)"
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "Unique reference identifier"
                  },
                  "paymentMethodType": {
                    "type": "string",
                    "description": "Payment method type",
                    "enum": [
                      "paynow"
                    ]
                  },
                  "expiredAt": {
                    "type": "string",
                    "description": "Expiration timestamp. Default QR code expiry is 5 minutes."
                  },
                  "paymentMethodOptions": {
                    "type": "object",
                    "properties": {
                      "bankShortCode": {
                        "type": "string",
                        "description": "Bank short code",
                        "enum": [
                          "fazz"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CreateStaticPaynowQrRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "attributes"
            ],
            "properties": {
              "attributes": {
                "type": "object",
                "required": [
                  "referenceId",
                  "bankShortCode"
                ],
                "properties": {
                  "referenceId": {
                    "type": "string",
                    "description": "Customer identifier"
                  },
                  "bankShortCode": {
                    "type": "string",
                    "description": "Bank short code",
                    "enum": [
                      "fazz"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Payment identifier"
              },
              "type": {
                "type": "string",
                "description": "Resource type"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Payment status"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Payment amount"
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "Reference identifier"
                  },
                  "qrCodeImage": {
                    "type": "string",
                    "description": "Base64-encoded QR code image"
                  },
                  "expiredAt": {
                    "type": "string",
                    "description": "Expiration timestamp"
                  }
                }
              }
            }
          }
        }
      },
      "PaymentMethodResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Payment method identifier"
              },
              "type": {
                "type": "string",
                "description": "Resource type"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "referenceId": {
                    "type": "string",
                    "description": "Customer identifier"
                  },
                  "qrCodeImage": {
                    "type": "string",
                    "description": "Base64-encoded QR code image"
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                },
                "title": {
                  "type": "string",
                  "description": "Error title"
                },
                "detail": {
                  "type": "string",
                  "description": "Error detail message"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Dynamic PayNow QR payment operations"
    },
    {
      "name": "PaymentMethods",
      "description": "Static PayNow QR payment method operations"
    }
  ]
}