{
  "openapi": "3.0.3",
  "info": {
    "title": "Ship24 Tracking API",
    "version": "1.0.0",
    "description": "Ship24 multi-carrier shipment tracking API. Track packages across 700+ couriers globally.",
    "x-jentic-source-url": "https://docs.ship24.com/assets/openapi/ship24-tracking-api.yaml",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.ship24.com"
    }
  ],
  "paths": {
    "/public/v1/trackers": {
      "post": {
        "operationId": "createTracker",
        "summary": "Create a tracker",
        "tags": [
          "Trackers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTrackerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tracker"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a tracker"
      },
      "get": {
        "operationId": "listTrackers",
        "summary": "List trackers",
        "tags": [
          "Trackers"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tracker"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List trackers"
      }
    },
    "/public/v1/trackers/bulk": {
      "post": {
        "operationId": "bulkCreateTrackers",
        "summary": "Bulk create trackers (up to 100)",
        "tags": [
          "Trackers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "trackers": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateTrackerInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Bulk create trackers (up to 100)"
      }
    },
    "/public/v1/trackers/{trackerId}": {
      "get": {
        "operationId": "getTracker",
        "summary": "Get a specific tracker",
        "tags": [
          "Trackers"
        ],
        "parameters": [
          {
            "name": "trackerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tracker"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a specific tracker"
      },
      "patch": {
        "operationId": "updateTracker",
        "summary": "Update a tracker",
        "tags": [
          "Trackers"
        ],
        "parameters": [
          {
            "name": "trackerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrackerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tracker"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update a tracker"
      }
    },
    "/public/v1/trackers/track": {
      "post": {
        "operationId": "createAndTrack",
        "summary": "Create tracker and fetch results synchronously",
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTrackerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create tracker and fetch results synchronously"
      }
    },
    "/public/v1/trackers/{trackerId}/results": {
      "get": {
        "operationId": "getTrackerResults",
        "summary": "Get tracking results for a tracker",
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "trackerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get tracking results for a tracker"
      }
    },
    "/public/v1/trackers/search/{trackingNumber}/results": {
      "get": {
        "operationId": "searchByTrackingNumber",
        "summary": "Search tracking results by tracking number",
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "trackingNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search tracking results by tracking number"
      }
    },
    "/public/v1/couriers": {
      "get": {
        "operationId": "listCouriers",
        "summary": "List all supported couriers",
        "tags": [
          "Couriers"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Courier"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all supported couriers"
      }
    },
    "/public/v1/tracking/search": {
      "post": {
        "operationId": "trackingSearch",
        "summary": "Synchronous tracking lookup (per-call plan)",
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "trackingNumber": {
                    "type": "string"
                  },
                  "courierCode": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Synchronous tracking lookup (per-call plan)"
      }
    }
  },
  "components": {
    "schemas": {
      "Tracker": {
        "type": "object",
        "properties": {
          "trackerId": {
            "type": "string"
          },
          "trackingNumber": {
            "type": "string"
          },
          "shipmentReference": {
            "type": "string",
            "nullable": true
          },
          "courierCode": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "clientTrackerId": {
            "type": "string",
            "nullable": true
          },
          "isSubscribed": {
            "type": "boolean"
          },
          "isTracked": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTrackerInput": {
        "type": "object",
        "required": [
          "trackingNumber"
        ],
        "properties": {
          "trackingNumber": {
            "type": "string"
          },
          "shipmentReference": {
            "type": "string"
          },
          "courierCode": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 3
          },
          "clientTrackerId": {
            "type": "string"
          },
          "destinationPostCode": {
            "type": "string"
          },
          "shippingDate": {
            "type": "string",
            "format": "date"
          },
          "originCountryCode": {
            "type": "string"
          },
          "destinationCountryCode": {
            "type": "string"
          }
        }
      },
      "UpdateTrackerInput": {
        "type": "object",
        "properties": {
          "shipmentReference": {
            "type": "string"
          },
          "courierCode": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TrackingResult": {
        "type": "object",
        "properties": {
          "trackings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tracking"
            }
          }
        }
      },
      "Tracking": {
        "type": "object",
        "properties": {
          "tracker": {
            "$ref": "#/components/schemas/Tracker"
          },
          "shipment": {
            "$ref": "#/components/schemas/Shipment"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrackingEvent"
            }
          }
        }
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "string"
          },
          "statusCategory": {
            "type": "string"
          },
          "statusMilestone": {
            "type": "string"
          },
          "originCountryCode": {
            "type": "string"
          },
          "destinationCountryCode": {
            "type": "string"
          }
        }
      },
      "TrackingEvent": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "trackingNumber": {
            "type": "string"
          },
          "datetime": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "statusCode": {
            "type": "string"
          },
          "statusCategory": {
            "type": "string"
          },
          "statusMilestone": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "courierCode": {
            "type": "string"
          }
        }
      },
      "Courier": {
        "type": "object",
        "properties": {
          "courierCode": {
            "type": "string"
          },
          "courierName": {
            "type": "string"
          }
        }
      },
      "BulkCreateResponse": {
        "type": "object",
        "properties": {
          "trackers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tracker"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Couriers"
    },
    {
      "name": "Trackers"
    },
    {
      "name": "Tracking"
    }
  ]
}
