{
  "openapi": "3.0.3",
  "info": {
    "title": "Duda API",
    "version": "1.0.0",
    "description": "Duda website builder REST API for managing sites, pages, eCommerce, collections, and blog",
    "x-jentic-source-url": "https://developer.duda.co/reference"
  },
  "servers": [
    {
      "url": "https://api.duda.co/api"
    }
  ],
  "paths": {
    "/sites/multiscreen": {
      "get": {
        "summary": "List all sites",
        "tags": [
          "Sites"
        ],
        "operationId": "get_sites_multiscreen",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create site",
        "tags": [
          "Sites"
        ],
        "operationId": "post_sites_multiscreen",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}": {
      "get": {
        "summary": "Get site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_sites_multiscreen_site_name",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Update site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "post_sites_multiscreen_site_name",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "delete_sites_multiscreen_site_name",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/duplicate": {
      "post": {
        "summary": "Duplicate site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "post_sites_multiscreen_site_name_duplicate",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sites/multiscreen/publish/{site_name}": {
      "post": {
        "summary": "Publish site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "post_sites_multiscreen_publish_site_name",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sites/multiscreen/unpublish/{site_name}": {
      "post": {
        "summary": "Unpublish site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "post_sites_multiscreen_unpublish_site_name",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/pages": {
      "get": {
        "summary": "List pages",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_sites_multiscreen_site_name_pages",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "post_sites_multiscreen_site_name_pages",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/pages/{page_name}": {
      "get": {
        "summary": "Get page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_sites_multiscreen_site_name_pages_page_name",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "put_sites_multiscreen_site_name_pages_page_name",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "delete_sites_multiscreen_site_name_pages_page_name",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/store": {
      "get": {
        "summary": "Get store settings",
        "tags": [
          "eCommerce"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_sites_multiscreen_site_name_store",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/ecommerce/products": {
      "get": {
        "summary": "List products",
        "tags": [
          "eCommerce"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_sites_multiscreen_site_name_ecommerce_products",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create product",
        "tags": [
          "eCommerce"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "post_sites_multiscreen_site_name_ecommerce_products",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/ecommerce/orders": {
      "get": {
        "summary": "List orders",
        "tags": [
          "eCommerce"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_sites_multiscreen_site_name_ecommerce_orders",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/ecommerce/orders/{order_id}": {
      "patch": {
        "summary": "Update order",
        "tags": [
          "eCommerce"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "patch_sites_multiscreen_site_name_ecommerce_orders_order_id",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/collection": {
      "get": {
        "summary": "List collections",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_sites_multiscreen_site_name_collection",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "post_sites_multiscreen_site_name_collection",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/collection/{collection_name}/row": {
      "post": {
        "summary": "Add collection rows",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "post_sites_multiscreen_site_name_collection_collection_name_row",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/blog": {
      "post": {
        "summary": "Create blog",
        "tags": [
          "Blog"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "post_sites_multiscreen_site_name_blog",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/blog/posts": {
      "get": {
        "summary": "List blog posts",
        "tags": [
          "Blog"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_sites_multiscreen_site_name_blog_posts",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create blog post",
        "tags": [
          "Blog"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "post_sites_multiscreen_site_name_blog_posts",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/content": {
      "get": {
        "summary": "Get site content",
        "tags": [
          "Content"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "get_sites_multiscreen_site_name_content",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Update site content",
        "tags": [
          "Content"
        ],
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "post_sites_multiscreen_site_name_content",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/sites/multiscreen/templates": {
      "get": {
        "summary": "List templates",
        "tags": [
          "Templates"
        ],
        "operationId": "get_sites_multiscreen_templates",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}