{
  "openapi": "3.0.3",
  "info": {
    "title": "Duda Partner API",
    "version": "1.0.0",
    "description": "Duda website builder partner API for managing sites, pages, content, eCommerce, blogs, accounts, collections, and more.",
    "x-jentic-source-url": "https://developer.duda.co/reference"
  },
  "servers": [
    {
      "url": "https://api.duda.co/api",
      "description": "Duda API"
    }
  ],
  "paths": {
    "/sites/multiscreen": {
      "get": {
        "tags": [
          "Sites"
        ],
        "operationId": "listSites",
        "summary": "List all sites",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 75,
              "maximum": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "CREATION_DATE",
                "LAST_PUBLICATION_DATE"
              ],
              "default": "CREATION_DATE"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            }
          },
          {
            "name": "publish_status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter: PUBLISHED, UNPUBLISHED, NOT_PUBLISHED_YET"
          }
        ],
        "responses": {
          "200": {
            "description": "Sites list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/create": {
      "post": {
        "tags": [
          "Sites"
        ],
        "operationId": "createSite",
        "summary": "Create a new site",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteCreateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}": {
      "get": {
        "tags": [
          "Sites"
        ],
        "operationId": "getSite",
        "summary": "Get site details",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Site details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Sites"
        ],
        "operationId": "updateSite",
        "summary": "Update site configuration",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Sites"
        ],
        "operationId": "deleteSite",
        "summary": "Delete a site",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Site deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/publish": {
      "post": {
        "tags": [
          "Sites"
        ],
        "operationId": "publishSite",
        "summary": "Publish a site",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Site published"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/unpublish": {
      "post": {
        "tags": [
          "Sites"
        ],
        "operationId": "unpublishSite",
        "summary": "Unpublish a site",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Site unpublished"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/duplicate/{site_name}": {
      "post": {
        "tags": [
          "Sites"
        ],
        "operationId": "duplicateSite",
        "summary": "Duplicate an existing site",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_default_domain_prefix": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Site duplicated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/reset": {
      "post": {
        "tags": [
          "Sites"
        ],
        "operationId": "resetSite",
        "summary": "Reset site to default state",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Site reset"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/theme": {
      "get": {
        "tags": [
          "Sites"
        ],
        "operationId": "getSiteTheme",
        "summary": "Get site theme configuration",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Theme config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Theme"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Sites"
        ],
        "operationId": "updateSiteTheme",
        "summary": "Update site theme",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Theme"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Theme updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/pages": {
      "get": {
        "tags": [
          "Pages"
        ],
        "operationId": "listPages",
        "summary": "List site pages",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Pages list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Pages"
        ],
        "operationId": "createPage",
        "summary": "Create a new page",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Page created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/pages/{page_name}": {
      "get": {
        "tags": [
          "Pages"
        ],
        "operationId": "getPage",
        "summary": "Get page details",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "$ref": "#/components/parameters/PageName"
          }
        ],
        "responses": {
          "200": {
            "description": "Page details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "Pages"
        ],
        "operationId": "updatePage",
        "summary": "Update a page",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "$ref": "#/components/parameters/PageName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Page updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Pages"
        ],
        "operationId": "deletePage",
        "summary": "Delete a page",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "$ref": "#/components/parameters/PageName"
          }
        ],
        "responses": {
          "200": {
            "description": "Page deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/ecommerce/products": {
      "get": {
        "tags": [
          "eCommerce Products"
        ],
        "operationId": "listProducts",
        "summary": "List products",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Products list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "eCommerce Products"
        ],
        "operationId": "createProduct",
        "summary": "Create a product",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/ecommerce/products/{product_id}": {
      "get": {
        "tags": [
          "eCommerce Products"
        ],
        "operationId": "getProduct",
        "summary": "Get a product",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "eCommerce Products"
        ],
        "operationId": "updateProduct",
        "summary": "Update a product",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "eCommerce Products"
        ],
        "operationId": "deleteProduct",
        "summary": "Delete a product",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "responses": {
          "200": {
            "description": "Product deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/ecommerce/orders": {
      "get": {
        "tags": [
          "eCommerce Orders"
        ],
        "operationId": "listOrders",
        "summary": "List orders",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Orders list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/ecommerce/orders/{order_id}": {
      "get": {
        "tags": [
          "eCommerce Orders"
        ],
        "operationId": "getOrder",
        "summary": "Get an order",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "eCommerce Orders"
        ],
        "operationId": "updateOrder",
        "summary": "Update an order",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/blog": {
      "post": {
        "tags": [
          "Blog"
        ],
        "operationId": "createBlog",
        "summary": "Create a blog",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "Blog"
        ],
        "operationId": "getBlog",
        "summary": "Get blog info",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogInfo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "Blog"
        ],
        "operationId": "updateBlog",
        "summary": "Update blog settings",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Blog"
        ],
        "operationId": "deleteBlog",
        "summary": "Delete blog",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/blog/posts": {
      "get": {
        "tags": [
          "Blog"
        ],
        "operationId": "listBlogPosts",
        "summary": "List blog posts",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Posts list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPostList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Blog"
        ],
        "operationId": "createBlogPost",
        "summary": "Create a blog post",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlogPostInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPost"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/blog/posts/{post_id}": {
      "get": {
        "tags": [
          "Blog"
        ],
        "operationId": "getBlogPost",
        "summary": "Get blog post",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "name": "post_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPost"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "tags": [
          "Blog"
        ],
        "operationId": "updateBlogPost",
        "summary": "Update blog post",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "name": "post_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Blog"
        ],
        "operationId": "deleteBlogPost",
        "summary": "Delete blog post",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "name": "post_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/accounts/create": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "createAccount",
        "summary": "Create an account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/accounts/{account_name}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "getAccount",
        "summary": "Get account details",
        "parameters": [
          {
            "name": "account_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "updateAccount",
        "summary": "Update account",
        "parameters": [
          {
            "name": "account_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "operationId": "deleteAccount",
        "summary": "Delete account",
        "parameters": [
          {
            "name": "account_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/collection": {
      "get": {
        "tags": [
          "Collections"
        ],
        "operationId": "listCollections",
        "summary": "List collections",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "responses": {
          "200": {
            "description": "Collections list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Collections"
        ],
        "operationId": "createCollection",
        "summary": "Create a collection",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/sites/multiscreen/{site_name}/collection/{collection_name}": {
      "put": {
        "tags": [
          "Collections"
        ],
        "operationId": "updateCollection",
        "summary": "Update a collection",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "name": "collection_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Collections"
        ],
        "operationId": "deleteCollection",
        "summary": "Delete a collection",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteName"
          },
          {
            "name": "collection_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic authentication with API credentials"
      }
    },
    "parameters": {
      "SiteName": {
        "name": "site_name",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Unique site identifier"
      },
      "PageName": {
        "name": "page_name",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Page identifier"
      },
      "ProductId": {
        "name": "product_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Product identifier"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error_code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Site": {
        "type": "object",
        "properties": {
          "site_name": {
            "type": "string"
          },
          "account_name": {
            "type": "string"
          },
          "publish_status": {
            "type": "string"
          },
          "creation_date": {
            "type": "string"
          },
          "last_published_date": {
            "type": "string"
          },
          "site_domain": {
            "type": "string"
          },
          "template_id": {
            "type": "integer"
          }
        }
      },
      "SiteList": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total_responses": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Site"
            }
          }
        }
      },
      "SiteCreateInput": {
        "type": "object",
        "properties": {
          "template_id": {
            "type": "integer"
          },
          "default_domain_prefix": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          }
        },
        "required": [
          "template_id"
        ]
      },
      "SiteUpdateInput": {
        "type": "object",
        "properties": {
          "site_domain": {
            "type": "string"
          },
          "site_business_info": {
            "type": "object"
          }
        }
      },
      "Theme": {
        "type": "object",
        "properties": {
          "colors": {
            "type": "object"
          },
          "fonts": {
            "type": "object"
          }
        }
      },
      "Page": {
        "type": "object",
        "properties": {
          "page_name": {
            "type": "string"
          },
          "page_title": {
            "type": "string"
          },
          "page_path": {
            "type": "string"
          },
          "seo": {
            "type": "object"
          }
        }
      },
      "PageInput": {
        "type": "object",
        "properties": {
          "page_title": {
            "type": "string"
          },
          "page_path": {
            "type": "string"
          }
        }
      },
      "PageList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Page"
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ProductInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "price"
        ]
      },
      "ProductList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total": {
            "type": "number"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrderList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          }
        }
      },
      "BlogInfo": {
        "type": "object",
        "properties": {
          "blog_enabled": {
            "type": "boolean"
          }
        }
      },
      "BlogPost": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "published_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BlogPostInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        },
        "required": [
          "title"
        ]
      },
      "BlogPostList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlogPost"
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "account_name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "AccountInput": {
        "type": "object",
        "properties": {
          "account_name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "account_name"
        ]
      },
      "CollectionList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CollectionInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "name"
        ]
      }
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Sites",
      "description": "Site management"
    },
    {
      "name": "Pages",
      "description": "Page management"
    },
    {
      "name": "Content",
      "description": "Content and elements management"
    },
    {
      "name": "eCommerce Products",
      "description": "Product management"
    },
    {
      "name": "eCommerce Orders",
      "description": "Order management"
    },
    {
      "name": "eCommerce Categories",
      "description": "Category management"
    },
    {
      "name": "eCommerce Carts",
      "description": "Cart management"
    },
    {
      "name": "Blog",
      "description": "Blog and post management"
    },
    {
      "name": "Navigation",
      "description": "Site navigation"
    },
    {
      "name": "Accounts",
      "description": "Account management"
    },
    {
      "name": "Collections",
      "description": "Data collections"
    },
    {
      "name": "Membership",
      "description": "Member management"
    }
  ]
}