{
  "openapi": "3.0.3",
  "info": {
    "title": "Atarim API",
    "description": "Atarim is a client-facing web agency management platform designed to speed up your work, client collaboration and team management. This API provides endpoints for authentication, triggers, and actions.",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://app.swaggerhub.com/apis-docs/account2/Atarim_Zapier_Intergration/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.atarim.io",
      "description": "Production API Server"
    }
  ],
  "paths": {
    "/zapier_app_auth": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate user's account",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/get_site": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Trigger"
        ],
        "summary": "New Website",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/get_task": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Trigger"
        ],
        "summary": "New Task",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTaskResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/get_comment": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Trigger"
        ],
        "summary": "New Comment",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommentResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/get_note": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Trigger"
        ],
        "summary": "New Note",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNoteResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/get_status": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Trigger"
        ],
        "summary": "Status Change",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStatusResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/get_urgency": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Trigger"
        ],
        "summary": "Urgency Change",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUrgencyResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/get_tag": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Trigger"
        ],
        "summary": "Add Tag",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTagResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/get_task_by_site": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Trigger"
        ],
        "summary": "Fetch Task From Site",
        "requestBody": {
          "description": "This endpoints return specific task object by passing the website id.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site_id": {
                    "type": "integer",
                    "description": "Website ID"
                  }
                },
                "required": [
                  "site_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTaskBySiteResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/get_page_by_site": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Trigger"
        ],
        "summary": "Fetch Page From Site",
        "requestBody": {
          "description": "This endpoints return specific page object by passing the website id.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site_id": {
                    "type": "integer",
                    "description": "Website ID"
                  }
                },
                "required": [
                  "site_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPageBySiteResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/get_user_by_site": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Trigger"
        ],
        "summary": "Fetch User From Site",
        "requestBody": {
          "description": "This endpoints return user object by passing the website id.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site_id": {
                    "type": "integer",
                    "description": "Website ID"
                  }
                },
                "required": [
                  "site_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserBySiteResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/change_status": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Action"
        ],
        "summary": "Change Status",
        "requestBody": {
          "description": "This endpoints can be use to change task status",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site_id": {
                    "type": "integer",
                    "description": "Website ID"
                  },
                  "task_id": {
                    "type": "integer",
                    "description": "Task ID"
                  },
                  "value": {
                    "type": "string",
                    "enum": [
                      "open",
                      "in-progress",
                      "pending-review",
                      "complete"
                    ],
                    "description": "status"
                  }
                },
                "required": [
                  "site_id",
                  "task_id",
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeStatusResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/change_urgency": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Action"
        ],
        "summary": "Change Urgency",
        "requestBody": {
          "description": "This endpoints can be use to change task urgency",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site_id": {
                    "type": "integer",
                    "description": "Website ID"
                  },
                  "task_id": {
                    "type": "integer",
                    "description": "Task ID"
                  },
                  "value": {
                    "type": "string",
                    "enum": [
                      "low",
                      "high",
                      "medium",
                      "critical"
                    ],
                    "description": "urgency"
                  }
                },
                "required": [
                  "site_id",
                  "task_id",
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeUrgencyResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/create_general_task": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Action"
        ],
        "summary": "Create General Task",
        "requestBody": {
          "description": "This endpoints can be use to create general task",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site_id": {
                    "type": "integer",
                    "description": "Website ID"
                  },
                  "page": {
                    "type": "integer",
                    "description": "Page ID"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "open",
                      "in-progress",
                      "pending-review",
                      "complete"
                    ]
                  },
                  "urgency": {
                    "type": "string",
                    "enum": [
                      "low",
                      "high",
                      "medium",
                      "critical"
                    ]
                  },
                  "message": {
                    "type": "string"
                  },
                  "user": {
                    "type": "integer"
                  }
                },
                "required": [
                  "site_id",
                  "page",
                  "status",
                  "urgency",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGeneralTaskResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/add_tag": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Action"
        ],
        "summary": "Add Tag",
        "requestBody": {
          "description": "This endpoints can be use to add tag to task",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site_id": {
                    "type": "integer",
                    "description": "Website ID"
                  },
                  "task_id": {
                    "type": "integer",
                    "description": "Task ID"
                  },
                  "value": {
                    "type": "string",
                    "description": "tag"
                  }
                },
                "required": [
                  "site_id",
                  "task_id",
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddTagResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/add_a_note": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Action"
        ],
        "summary": "Add Note",
        "requestBody": {
          "description": "This endpoints can be use to add note to task",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site_id": {
                    "type": "integer",
                    "description": "Website ID"
                  },
                  "task_id": {
                    "type": "integer",
                    "description": "Task ID"
                  },
                  "comment_content": {
                    "type": "string",
                    "description": "note"
                  },
                  "complete_task": {
                    "type": "string",
                    "enum": [
                      "Yes",
                      "No"
                    ]
                  }
                },
                "required": [
                  "site_id",
                  "task_id",
                  "comment_content",
                  "complete_task"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddNoteResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/add_a_comment": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Action"
        ],
        "summary": "Add Note",
        "requestBody": {
          "description": "This endpoints can be use to add comment to task",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site_id": {
                    "type": "integer",
                    "description": "Website ID"
                  },
                  "task_id": {
                    "type": "integer",
                    "description": "Task ID"
                  },
                  "comment_content": {
                    "type": "string",
                    "description": "note"
                  },
                  "complete_task": {
                    "type": "string",
                    "enum": [
                      "Yes",
                      "No"
                    ]
                  }
                },
                "required": [
                  "site_id",
                  "task_id",
                  "comment_content",
                  "complete_task"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddCommentResponse"
                }
              }
            }
          },
          "402": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponseError"
                }
              }
            }
          },
          "404": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key"
      }
    },
    "schemas": {
      "AuthResponse": {
        "title": "Return Authentication Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "boolean value",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Message to user",
            "example": "Authentication was successfully"
          }
        }
      },
      "AuthResponseError": {
        "title": "Return Authentication Response Error",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "boolean value",
            "example": false
          }
        }
      },
      "GetSiteResponse": {
        "title": "Return User's Websites",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "BaseResponseError": {
        "title": "Return User's Websites",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "description": "boolean value",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Message to user",
            "example": "Error occured due to ...."
          }
        }
      },
      "GetTaskResponse": {
        "title": "Return Tasks",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GetCommentResponse": {
        "title": "Return Task Comment",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GetNoteResponse": {
        "title": "Return Task Note",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GetStatusResponse": {
        "title": "Return Task Status",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GetUrgencyResponse": {
        "title": "Return Task Urgency",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GetTagResponse": {
        "title": "Return Task Tag",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GetTaskBySiteResponse": {
        "title": "Return Specific Task",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GetPageBySiteResponse": {
        "title": "Return Specific Page",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GetUserBySiteResponse": {
        "title": "Return Specific User",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ChangeStatusResponse": {
        "title": "Return Status Change",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "site_name": {
            "type": "string"
          },
          "site_url": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "new_status": {
            "type": "string"
          },
          "old_status": {
            "type": "string"
          },
          "tasks_count": {
            "type": "string"
          },
          "tag_id": {
            "type": "integer"
          }
        }
      },
      "ChangeUrgencyResponse": {
        "title": "Return Urgency Change",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "site_name": {
            "type": "string"
          },
          "site_url": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "new_status": {
            "type": "string"
          },
          "old_status": {
            "type": "string"
          },
          "tasks_count": {
            "type": "string"
          },
          "tag_id": {
            "type": "integer"
          }
        }
      },
      "CreateGeneralTaskResponse": {
        "title": "Return General Task ID",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "new task id": {
            "type": "integer"
          }
        }
      },
      "AddTagResponse": {
        "title": "Return Newly Created Tag",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "tasks_count": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          },
          "site_name": {
            "type": "string"
          },
          "site_url": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AddNoteResponse": {
        "title": "Return Newly Created Note",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "comments": {
                "type": "string"
              },
              "is_note": {
                "type": "integer"
              },
              "user_name": {
                "type": "string"
              },
              "days": {
                "type": "string"
              },
              "site_name": {
                "type": "string"
              },
              "site_url": {
                "type": "string"
              },
              "task_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "AddCommentResponse": {
        "title": "Return Newly Created Comment",
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "comments": {
                "type": "string"
              },
              "is_note": {
                "type": "integer"
              },
              "user_name": {
                "type": "string"
              },
              "days": {
                "type": "string"
              },
              "site_name": {
                "type": "string"
              },
              "site_url": {
                "type": "string"
              },
              "task_id": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Listing of endpoints consume by authentication"
    },
    {
      "name": "Trigger",
      "description": "Listing of endpoints consume by triggers"
    },
    {
      "name": "Action",
      "description": "Listing of endpoints consume by actions"
    }
  ]
}