{
  "openapi": "3.0.3",
  "info": {
    "title": "formhive.net Zapier API",
    "version": "1.0.0",
    "description": "The formhive.net Zapier API allows integration with Zapier workflows by registering webhooks triggered on form submissions. Uses token-based authentication.",
    "x-jentic-source-url": "https://docs.formhive.net/api/zapier-api-reference.html",
    "contact": {
      "name": "formhive.net Support"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://app.formhive.net/api/v1/zapier",
      "description": "formhive.net server"
    }
  ],
  "paths": {
    "/forms": {
      "get": {
        "operationId": "getForms",
        "summary": "Get accessible forms",
        "description": "Retrieve a list of forms that your API token has access to.",
        "tags": [
          "Forms"
        ],
        "responses": {
          "200": {
            "description": "List of accessible forms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "operationId": "registerWebhooks",
        "summary": "Register webhooks",
        "description": "Register webhooks for one or more forms. When a form submission occurs, the webhook URL will receive the form data.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterWebhooksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhooks registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterWebhooksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhooks",
        "summary": "Delete webhooks",
        "description": "Delete specific webhooks by their IDs.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhooks deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/token/webhooks": {
      "delete": {
        "operationId": "deleteTokenWebhooks",
        "summary": "Delete all webhooks for token",
        "description": "Delete all webhooks associated with the current API token.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "All webhooks deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Form": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "form_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "FormsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "forms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Form"
            }
          },
          "project": {
            "$ref": "#/components/schemas/Project"
          },
          "token_name": {
            "type": "string"
          }
        }
      },
      "RegisterWebhooksRequest": {
        "type": "object",
        "properties": {
          "form_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "webhook_url": {
            "type": "string"
          },
          "target_events": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "RegisterWebhooksResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "registered_webhooks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "form_id": {
                  "type": "string"
                },
                "webhook_id": {
                  "type": "string"
                },
                "webhook_url": {
                  "type": "string"
                },
                "target_events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "is_active": {
                  "type": "boolean"
                },
                "created_at": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token for Zapier integration"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}