{
  "openapi": "3.0.3",
  "info": {
    "title": "Cheddar API",
    "version": "1.0.0",
    "description": "Cheddar is a subscription billing and recurring payment management service. The API uses REST-like HTTP requests with XML responses. Authentication is via HTTP Basic Auth. URL paths use the pattern /xml/<path>/productCode/<code>[/params].",
    "x-jentic-source-url": "https://docs.getcheddar.com",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://getcheddar.com/xml",
      "description": "Cheddar API server"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Plans",
      "description": "Manage pricing plans"
    },
    {
      "name": "Customers",
      "description": "Manage customers and subscriptions"
    },
    {
      "name": "Promotions",
      "description": "Manage coupon/promotion codes"
    }
  ],
  "paths": {
    "/plans/get/productCode/{productCode}": {
      "get": {
        "operationId": "getAllPlans",
        "summary": "Get all pricing plans",
        "description": "Get all pricing plan data for a product.",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your product code"
          }
        ],
        "responses": {
          "200": {
            "description": "Plans XML response",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PlansResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/plans/get/productCode/{productCode}/code/{planCode}": {
      "get": {
        "operationId": "getSinglePlan",
        "summary": "Get a single pricing plan",
        "description": "Get a specific pricing plan by its code.",
        "tags": [
          "Plans"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Plan code"
          }
        ],
        "responses": {
          "200": {
            "description": "Plan data",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PlansResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Plan not found"
          }
        }
      }
    },
    "/customers/get/productCode/{productCode}": {
      "get": {
        "operationId": "getAllCustomers",
        "summary": "Get all customers",
        "description": "Get all customer data for a product. Supports filtering by subscription status, plan codes, dates, search, and ordering.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "activeOnly",
                "canceledOnly"
              ]
            }
          },
          {
            "name": "planCode[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by plan code(s)"
          },
          {
            "name": "createdAfterDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "createdBeforeDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "canceledAfterDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "canceledBeforeDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "transactedAfterDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "transactedBeforeDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "company",
                "plan",
                "billingDatetime",
                "createdDatetime"
              ]
            },
            "description": "Sort field"
          },
          {
            "name": "orderByDirection",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort direction"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search name, company, email, last-four of CC"
          }
        ],
        "responses": {
          "200": {
            "description": "Customers XML",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/get/productCode/{productCode}/code/{customerCode}": {
      "get": {
        "operationId": "getCustomerByCode",
        "summary": "Get a single customer by code",
        "description": "Get customer data by customer code.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer data",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/customers/new/productCode/{productCode}": {
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a new customer",
        "description": "Create a new customer and subscribe them to a pricing plan. Supports credit card, PayPal, or free plans.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created customer",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/edit/productCode/{productCode}/code/{customerCode}": {
      "post": {
        "operationId": "updateCustomer",
        "summary": "Update a customer and subscription",
        "description": "Update customer info and/or subscription details.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated customer",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/edit-subscription/productCode/{productCode}/code/{customerCode}": {
      "post": {
        "operationId": "editSubscription",
        "summary": "Edit subscription",
        "description": "Edit subscription details for a customer, including changing the bill date.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "planCode": {
                    "type": "string"
                  },
                  "changeBillDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "ISO 8601 datetime"
                  },
                  "ccNumber": {
                    "type": "string"
                  },
                  "ccExpiration": {
                    "type": "string"
                  },
                  "ccCardCode": {
                    "type": "string"
                  },
                  "ccFirstName": {
                    "type": "string"
                  },
                  "ccLastName": {
                    "type": "string"
                  },
                  "ccZip": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated subscription"
          },
          "400": {
            "description": "Error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/delete/productCode/{productCode}/code/{customerCode}": {
      "post": {
        "operationId": "deleteCustomer",
        "summary": "Delete a customer",
        "description": "Delete an existing customer.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted"
          },
          "400": {
            "description": "Error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/delete-all/confirm/{timestamp}/productCode/{productCode}": {
      "post": {
        "operationId": "deleteAllCustomers",
        "summary": "Delete all customers",
        "description": "Delete all customers in a product. Requires current unix timestamp for confirmation.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "timestamp",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Current unix timestamp for confirmation"
          },
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All customers deleted"
          },
          "400": {
            "description": "Error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/import/productCode/{productCode}": {
      "post": {
        "operationId": "importCustomers",
        "summary": "Import customers",
        "description": "Import existing customers while maintaining payment methods if processor is compatible.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "productCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ImportCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer imported"
          },
          "400": {
            "description": "Error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using email as username and password for the Cheddar account."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      },
      "PlansResponse": {
        "type": "object",
        "description": "XML plans response document"
      },
      "CustomersResponse": {
        "type": "object",
        "description": "XML customers response document"
      },
      "CreateCustomerRequest": {
        "type": "object",
        "required": [
          "code",
          "firstName",
          "lastName",
          "email",
          "subscription[planCode]"
        ],
        "properties": {
          "code": {
            "type": "string",
            "maxLength": 255,
            "description": "Your code for this customer"
          },
          "firstName": {
            "type": "string",
            "maxLength": 40
          },
          "lastName": {
            "type": "string",
            "maxLength": 40
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "company": {
            "type": "string",
            "maxLength": 60
          },
          "taxRate": {
            "type": "number"
          },
          "isTaxExempt": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "taxNumber": {
            "type": "string",
            "maxLength": 32
          },
          "notes": {
            "type": "string",
            "maxLength": 255
          },
          "firstContactDatetime": {
            "type": "string",
            "format": "date-time"
          },
          "referer": {
            "type": "string",
            "maxLength": 255
          },
          "campaignTerm": {
            "type": "string"
          },
          "campaignName": {
            "type": "string"
          },
          "campaignSource": {
            "type": "string"
          },
          "campaignMedium": {
            "type": "string"
          },
          "campaignContent": {
            "type": "string"
          },
          "subscription[planCode]": {
            "type": "string",
            "description": "Required pricing plan code"
          },
          "subscription[couponCode]": {
            "type": "string"
          },
          "subscription[initialBillDate]": {
            "type": "string",
            "format": "date-time"
          },
          "subscription[method]": {
            "type": "string",
            "enum": [
              "cc",
              "paypal"
            ]
          },
          "subscription[ccNumber]": {
            "type": "string"
          },
          "subscription[ccExpiration]": {
            "type": "string",
            "description": "MM/YYYY"
          },
          "subscription[ccCardCode]": {
            "type": "string",
            "description": "3-4 digit CCV"
          },
          "subscription[ccFirstName]": {
            "type": "string",
            "maxLength": 40
          },
          "subscription[ccLastName]": {
            "type": "string",
            "maxLength": 40
          },
          "subscription[ccZip]": {
            "type": "string",
            "maxLength": 20
          },
          "subscription[ccCountry]": {
            "type": "string",
            "maxLength": 60
          },
          "subscription[ccAddress]": {
            "type": "string",
            "maxLength": 60
          },
          "subscription[ccCity]": {
            "type": "string",
            "maxLength": 40
          },
          "subscription[ccState]": {
            "type": "string",
            "maxLength": 40
          },
          "remoteAddress": {
            "type": "string",
            "description": "Client IPv4 address for fraud protection"
          }
        }
      },
      "UpdateCustomerRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "maxLength": 40
          },
          "lastName": {
            "type": "string",
            "maxLength": 40
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "company": {
            "type": "string",
            "maxLength": 60
          },
          "notes": {
            "type": "string",
            "maxLength": 255
          },
          "subscription[planCode]": {
            "type": "string"
          },
          "subscription[ccNumber]": {
            "type": "string"
          },
          "subscription[ccExpiration]": {
            "type": "string"
          },
          "subscription[ccCardCode]": {
            "type": "string"
          },
          "subscription[ccFirstName]": {
            "type": "string"
          },
          "subscription[ccLastName]": {
            "type": "string"
          }
        }
      },
      "ImportCustomerRequest": {
        "type": "object",
        "required": [
          "code",
          "firstName",
          "lastName",
          "email",
          "subscription[planCode]"
        ],
        "properties": {
          "code": {
            "type": "string",
            "maxLength": 255
          },
          "firstName": {
            "type": "string",
            "maxLength": 40
          },
          "lastName": {
            "type": "string",
            "maxLength": 40
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "company": {
            "type": "string",
            "maxLength": 60
          },
          "subscription[planCode]": {
            "type": "string"
          },
          "subscription[initialBillDate]": {
            "type": "string",
            "format": "date-time"
          },
          "subscription[method]": {
            "type": "string",
            "enum": [
              "cc",
              "paypal"
            ]
          },
          "subscription[gatewayToken]": {
            "type": "string"
          }
        }
      }
    }
  }
}
