{
  "openapi": "3.0.3",
  "info": {
    "title": "Lykdat Visual Search API",
    "description": "Visual search, item detection, deep tagging, and catalog management for fashion and retail imagery.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://apidocs.lykdat.com/"
  },
  "servers": [
    {
      "url": "https://cloudapi.lykdat.com/v1"
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "operationId": "searchByImage",
        "summary": "Search for visually similar products using an image",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "catalog_name"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Publishable API key"
                  },
                  "catalog_name": {
                    "type": "string",
                    "description": "Name of the catalog to search"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to search with"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "URL of the image to search with"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results with similar products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/global/search": {
      "post": {
        "operationId": "globalSearchByImage",
        "summary": "Search globally for visually similar products",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Publishable API key"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to search with"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "URL of the image to search with"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Global search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products/alerts/subscribe": {
      "post": {
        "operationId": "subscribeProductAlert",
        "summary": "Subscribe to product price or availability alerts",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/detection/items": {
      "post": {
        "operationId": "detectItems",
        "summary": "Detect fashion items in an image",
        "tags": [
          "Detection"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "URL of the image"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detected items with bounding boxes and categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemDetectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/detection/tags": {
      "post": {
        "operationId": "getDeepTags",
        "summary": "Get deep tags (colors, items, labels) for an image",
        "tags": [
          "Detection"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "URL of the image"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deep tagging results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepTaggingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/transcode": {
      "post": {
        "operationId": "transcodeImage",
        "summary": "Transcode an image",
        "tags": [
          "Images"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to transcode"
                  },
                  "image_url": {
                    "type": "string",
                    "description": "URL of the image to transcode"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcoded image URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/catalog/update": {
      "post": {
        "operationId": "updateCatalog",
        "summary": "Update product catalog with a CSV/TSV import file",
        "tags": [
          "Catalog"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "admin_api_key",
                  "catalog_name",
                  "import_file",
                  "mode"
                ],
                "properties": {
                  "admin_api_key": {
                    "type": "string",
                    "description": "Admin API key"
                  },
                  "catalog_name": {
                    "type": "string",
                    "description": "Name of the catalog to update"
                  },
                  "import_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV or TSV file with product data"
                  },
                  "mode": {
                    "type": "string",
                    "description": "Import mode"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catalog update confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key passed in x-api-key header"
      }
    },
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "query_image_url": {
            "type": "string"
          },
          "result_groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "detected_item": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    }
                  }
                },
                "similar_products": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimilarProduct"
                  }
                }
              }
            }
          }
        }
      },
      "SimilarProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "image_url": {
            "type": "string"
          },
          "score": {
            "type": "number"
          }
        }
      },
      "AlertSubscribeRequest": {
        "type": "object",
        "required": [
          "subscriber_email",
          "product_url",
          "website_name",
          "type"
        ],
        "properties": {
          "subscriber_email": {
            "type": "string",
            "format": "email",
            "description": "Email address for alerts"
          },
          "product_url": {
            "type": "string",
            "description": "URL of the product to track"
          },
          "website_name": {
            "type": "string",
            "description": "Name of the website"
          },
          "type": {
            "type": "string",
            "description": "Type of alert subscription"
          }
        }
      },
      "ItemDetectionResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number"
                },
                "bounding_box": {
                  "type": "object",
                  "properties": {
                    "x": {
                      "type": "number"
                    },
                    "y": {
                      "type": "number"
                    },
                    "width": {
                      "type": "number"
                    },
                    "height": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DeepTaggingResponse": {
        "type": "object",
        "properties": {
          "colors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number"
                }
              }
            }
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number"
                },
                "classification": {
                  "type": "string"
                }
              }
            }
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "TranscodeResponse": {
        "type": "object",
        "properties": {
          "image_url": {
            "type": "string",
            "description": "URL of the transcoded image"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Visual search endpoints"
    },
    {
      "name": "Detection",
      "description": "Item detection and tagging endpoints"
    },
    {
      "name": "Products",
      "description": "Product alert endpoints"
    },
    {
      "name": "Images",
      "description": "Image processing endpoints"
    },
    {
      "name": "Catalog",
      "description": "Catalog management endpoints"
    }
  ]
}