{
  "openapi": "3.0.3",
  "info": {
    "title": "Worldline Payment APIs",
    "description": "Worldline (formerly Bambora) North America payment processing API. Supports card payments, tokenization, payment profiles, reporting, and recurring billing.",
    "version": "1.0.5",
    "x-jentic-source-url": "https://dev.na.bambora.com/"
  },
  "servers": [
    {
      "url": "https://api.na.bambora.com/v1",
      "description": "Production API endpoint"
    }
  ],
  "paths": {
    "/payments": {
      "post": {
        "operationId": "processpayment",
        "summary": "Process a payment",
        "description": "Process a payment using card, token, payment profile, cash, cheque, Apple Pay, Google Pay, or 3D Secure.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Authentication failed"
          },
          "402": {
            "description": "Payment declined"
          }
        }
      }
    },
    "/payments/{transId}": {
      "get": {
        "operationId": "gettransaction",
        "summary": "Retrieve transaction details",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found"
          }
        }
      }
    },
    "/payments/{transId}/returns": {
      "post": {
        "operationId": "processreturn",
        "summary": "Process a refund/return",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Original transaction ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "double",
                    "description": "Amount to refund"
                  },
                  "order_number": {
                    "type": "string",
                    "description": "Optional order number"
                  }
                },
                "required": [
                  "amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{transId}/void": {
      "post": {
        "operationId": "voidtransaction",
        "summary": "Void/cancel a transaction",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "double"
                  }
                },
                "required": [
                  "amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction voided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{transId}/completions": {
      "post": {
        "operationId": "completepreauth",
        "summary": "Complete a pre-authorized payment",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "transId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "double",
                    "description": "Amount to capture"
                  },
                  "order_number": {
                    "type": "string"
                  }
                },
                "required": [
                  "amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pre-auth completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{merchantData}/continue": {
      "post": {
        "operationId": "continue3dsecure",
        "summary": "Continue 3D Secure processing",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "merchantData",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Merchant data from 3DS redirect"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_method": {
                    "type": "string"
                  },
                  "card_response": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "3DS payment continued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles": {
      "post": {
        "operationId": "createprofile",
        "summary": "Create a customer payment profile",
        "tags": [
          "Profiles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{profileId}": {
      "get": {
        "operationId": "getprofile",
        "summary": "Retrieve a customer payment profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found"
          }
        }
      },
      "put": {
        "operationId": "updateprofile",
        "summary": "Update a customer payment profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteprofile",
        "summary": "Delete a customer payment profile",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found"
          }
        }
      }
    },
    "/profiles/{profileId}/cards": {
      "get": {
        "operationId": "listprofilecards",
        "summary": "List stored cards for a profile",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of stored cards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addprofilecard",
        "summary": "Add a card to a profile",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{profileId}/cards/{cardId}": {
      "get": {
        "operationId": "getprofilecard",
        "summary": "Get a specific stored card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateprofilecard",
        "summary": "Update a stored card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteprofilecard",
        "summary": "Delete a stored card",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports": {
      "post": {
        "operationId": "querytransactions",
        "summary": "Query transactions by date range",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Report name filter"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Start date"
                  },
                  "end_date": {
                    "type": "string",
                    "format": "date",
                    "description": "End date"
                  },
                  "start_row": {
                    "type": "integer"
                  },
                  "end_row": {
                    "type": "integer"
                  }
                },
                "required": [
                  "start_date",
                  "end_date"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/merchants": {
      "get": {
        "operationId": "getmerchantreport",
        "summary": "Get merchant information",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Merchant information report"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/merchants/{merchantId}": {
      "get": {
        "operationId": "getmerchantdetails",
        "summary": "Get specific merchant details",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant details"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Merchant not found"
          }
        }
      }
    },
    "/reports/settlement": {
      "get": {
        "operationId": "getsettlementreport",
        "summary": "Get settlement data (3-month range)",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Settlement data"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/statements": {
      "get": {
        "operationId": "getstatements",
        "summary": "Get monthly fee statements",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Monthly fee statements"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/commissions": {
      "get": {
        "operationId": "getcommissions",
        "summary": "Get commission payout details",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Commission payout details"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/recurring/{accountId}": {
      "get": {
        "operationId": "getrecurringaccount",
        "summary": "Get recurring payment account details",
        "tags": [
          "Recurring"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recurring account details"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Account not found"
          }
        }
      }
    },
    "/scripts/tokenization/tokens": {
      "post": {
        "operationId": "tokenizecreditcard",
        "summary": "Tokenize a credit card",
        "tags": [
          "Tokenization"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Card number"
                  },
                  "expiry_month": {
                    "type": "string",
                    "description": "Expiry month (MM)"
                  },
                  "expiry_year": {
                    "type": "string",
                    "description": "Expiry year (YY)"
                  },
                  "cvd": {
                    "type": "string",
                    "description": "Card verification digit"
                  }
                },
                "required": [
                  "number",
                  "expiry_month",
                  "expiry_year"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card tokenized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Payment token"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "passcode": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Passcode authentication. Format: Passcode Base64Encoded(merchant_id:passcode)"
      },
      "subMerchantId": {
        "type": "apiKey",
        "in": "header",
        "name": "Sub-Merchant-Id",
        "description": "Sub-merchant identifier for payment facilitators"
      }
    },
    "schemas": {
      "PaymentRequest": {
        "type": "object",
        "required": [
          "amount",
          "payment_method"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Payment amount in dollars"
          },
          "payment_method": {
            "type": "string",
            "enum": [
              "card",
              "token",
              "payment_profile",
              "cash",
              "cheque"
            ],
            "description": "Payment method type"
          },
          "order_number": {
            "type": "string",
            "description": "Merchant-assigned order number"
          },
          "card": {
            "$ref": "#/components/schemas/CardRequest"
          },
          "token": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Single-use token"
              },
              "name": {
                "type": "string",
                "description": "Cardholder name"
              },
              "complete": {
                "type": "boolean",
                "description": "true for purchase, false for pre-auth"
              }
            }
          },
          "payment_profile": {
            "type": "object",
            "properties": {
              "customer_code": {
                "type": "string"
              },
              "card_id": {
                "type": "integer"
              },
              "complete": {
                "type": "boolean"
              }
            }
          },
          "billing": {
            "$ref": "#/components/schemas/Address"
          },
          "shipping": {
            "$ref": "#/components/schemas/Address"
          },
          "custom": {
            "type": "object",
            "properties": {
              "ref1": {
                "type": "string"
              },
              "ref2": {
                "type": "string"
              },
              "ref3": {
                "type": "string"
              },
              "ref4": {
                "type": "string"
              },
              "ref5": {
                "type": "string"
              }
            }
          },
          "term_url": {
            "type": "string",
            "description": "3D Secure return URL"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Transaction ID"
          },
          "authorizing_merchant_id": {
            "type": "integer"
          },
          "approved": {
            "type": "integer",
            "description": "1 if approved, 0 if declined"
          },
          "message_id": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "auth_code": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "order_number": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "payment_method": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "card": {
            "type": "object",
            "properties": {
              "card_type": {
                "type": "string"
              },
              "last_four": {
                "type": "string"
              },
              "expiry_month": {
                "type": "string"
              },
              "expiry_year": {
                "type": "string"
              }
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "approved": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "order_number": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "card": {
            "type": "object",
            "properties": {
              "card_type": {
                "type": "string"
              },
              "last_four": {
                "type": "string"
              }
            }
          }
        }
      },
      "ProfileRequest": {
        "type": "object",
        "properties": {
          "card": {
            "$ref": "#/components/schemas/CardRequest"
          },
          "billing": {
            "$ref": "#/components/schemas/Address"
          },
          "language": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          }
        }
      },
      "ProfileResponse": {
        "type": "object",
        "properties": {
          "customer_code": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "billing": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "CardRequest": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "description": "Card number"
          },
          "name": {
            "type": "string",
            "description": "Cardholder name"
          },
          "expiry_month": {
            "type": "string",
            "description": "Expiry month (MM)"
          },
          "expiry_year": {
            "type": "string",
            "description": "Expiry year (YY)"
          },
          "cvd": {
            "type": "string",
            "description": "Card verification digit"
          },
          "complete": {
            "type": "boolean",
            "description": "true for purchase, false for pre-auth"
          }
        },
        "required": [
          "number",
          "name",
          "expiry_month",
          "expiry_year"
        ]
      },
      "Card": {
        "type": "object",
        "properties": {
          "card_id": {
            "type": "string"
          },
          "card_type": {
            "type": "string"
          },
          "last_four": {
            "type": "string"
          },
          "expiry_month": {
            "type": "string"
          },
          "expiry_year": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address_line1": {
            "type": "string"
          },
          "address_line2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "province": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "email_address": {
            "type": "string"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "total_records": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "passcode": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Payment processing operations"
    },
    {
      "name": "Profiles",
      "description": "Customer payment profile management"
    },
    {
      "name": "Cards",
      "description": "Stored card management within profiles"
    },
    {
      "name": "Reports",
      "description": "Transaction and settlement reporting"
    },
    {
      "name": "Recurring",
      "description": "Recurring billing"
    },
    {
      "name": "Tokenization",
      "description": "Credit card tokenization"
    }
  ]
}