{
  "openapi": "3.0.3",
  "info": {
    "title": "Congress.gov API",
    "version": "3.0.0",
    "description": "The Congress.gov API provides structured data about U.S. legislative information including bills, amendments, members, committees, nominations, treaties, and more.",
    "x-jentic-source-url": "https://api.congress.gov",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.congress.gov/v3",
      "description": "Congress.gov API v3"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Bill",
      "description": "Bill and resolution data"
    },
    {
      "name": "Amendment",
      "description": "Amendment data"
    },
    {
      "name": "Member",
      "description": "Congressional member data"
    },
    {
      "name": "Committee",
      "description": "Committee data"
    },
    {
      "name": "CommitteeReport",
      "description": "Committee report data"
    },
    {
      "name": "Nomination",
      "description": "Presidential nomination data"
    },
    {
      "name": "Treaty",
      "description": "Treaty data"
    },
    {
      "name": "Law",
      "description": "Law data"
    },
    {
      "name": "HouseCommunication",
      "description": "House communication data"
    },
    {
      "name": "SenateCommunication",
      "description": "Senate communication data"
    },
    {
      "name": "CongressionalRecord",
      "description": "Congressional Record data"
    },
    {
      "name": "Summaries",
      "description": "Bill summary data"
    },
    {
      "name": "Congress",
      "description": "Congress session data"
    }
  ],
  "paths": {
    "/bill": {
      "get": {
        "operationId": "listBills",
        "tags": [
          "Bill"
        ],
        "summary": "List all bills",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all bills"
      }
    },
    "/bill/{congress}": {
      "get": {
        "operationId": "listBillsByCongress",
        "tags": [
          "Bill"
        ],
        "summary": "List bills by congress",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List bills by congress"
      }
    },
    "/bill/{congress}/{billType}": {
      "get": {
        "operationId": "listBillsByType",
        "tags": [
          "Bill"
        ],
        "summary": "List bills by congress and type",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "billType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            },
            "description": "Bill type"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List bills by congress and type"
      }
    },
    "/bill/{congress}/{billType}/{billNumber}": {
      "get": {
        "operationId": "getBill",
        "tags": [
          "Bill"
        ],
        "summary": "Get a specific bill",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "billType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            },
            "description": "Bill type"
          },
          {
            "name": "billNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bill number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a specific bill"
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/actions": {
      "get": {
        "operationId": "getBillActions",
        "tags": [
          "Bill"
        ],
        "summary": "Get actions on a bill",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "billType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            },
            "description": "Bill type"
          },
          {
            "name": "billNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bill number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get actions on a bill"
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/amendments": {
      "get": {
        "operationId": "getBillAmendments",
        "tags": [
          "Bill"
        ],
        "summary": "Get amendments to a bill",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "billType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            },
            "description": "Bill type"
          },
          {
            "name": "billNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bill number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get amendments to a bill"
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/committees": {
      "get": {
        "operationId": "getBillCommittees",
        "tags": [
          "Bill"
        ],
        "summary": "Get committees for a bill",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "billType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            },
            "description": "Bill type"
          },
          {
            "name": "billNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bill number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get committees for a bill"
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/cosponsors": {
      "get": {
        "operationId": "getBillCosponsors",
        "tags": [
          "Bill"
        ],
        "summary": "Get cosponsors of a bill",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "billType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            },
            "description": "Bill type"
          },
          {
            "name": "billNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bill number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get cosponsors of a bill"
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/relatedbills": {
      "get": {
        "operationId": "getBillRelatedBills",
        "tags": [
          "Bill"
        ],
        "summary": "Get related bills",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "billType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            },
            "description": "Bill type"
          },
          {
            "name": "billNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bill number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get related bills"
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/subjects": {
      "get": {
        "operationId": "getBillSubjects",
        "tags": [
          "Bill"
        ],
        "summary": "Get subjects for a bill",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "billType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            },
            "description": "Bill type"
          },
          {
            "name": "billNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bill number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get subjects for a bill"
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/summaries": {
      "get": {
        "operationId": "getBillSummaries",
        "tags": [
          "Bill"
        ],
        "summary": "Get summaries for a bill",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "billType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            },
            "description": "Bill type"
          },
          {
            "name": "billNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bill number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get summaries for a bill"
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/text": {
      "get": {
        "operationId": "getBillText",
        "tags": [
          "Bill"
        ],
        "summary": "Get text versions of a bill",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "billType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            },
            "description": "Bill type"
          },
          {
            "name": "billNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bill number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get text versions of a bill"
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/titles": {
      "get": {
        "operationId": "getBillTitles",
        "tags": [
          "Bill"
        ],
        "summary": "Get titles of a bill",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "billType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hr",
                "s",
                "hjres",
                "sjres",
                "hconres",
                "sconres",
                "hres",
                "sres"
              ]
            },
            "description": "Bill type"
          },
          {
            "name": "billNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bill number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get titles of a bill"
      }
    },
    "/amendment": {
      "get": {
        "operationId": "listAmendments",
        "tags": [
          "Amendment"
        ],
        "summary": "List all amendments",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all amendments"
      }
    },
    "/amendment/{congress}": {
      "get": {
        "operationId": "listAmendmentsByCongress",
        "tags": [
          "Amendment"
        ],
        "summary": "List amendments by congress",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List amendments by congress"
      }
    },
    "/amendment/{congress}/{amendmentType}": {
      "get": {
        "operationId": "listAmendmentsByType",
        "tags": [
          "Amendment"
        ],
        "summary": "List amendments by type",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "amendmentType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hamdt",
                "samdt",
                "suamdt"
              ]
            },
            "description": "Amendment type"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List amendments by type"
      }
    },
    "/amendment/{congress}/{amendmentType}/{amendmentNumber}": {
      "get": {
        "operationId": "getAmendment",
        "tags": [
          "Amendment"
        ],
        "summary": "Get a specific amendment",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "amendmentType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hamdt",
                "samdt",
                "suamdt"
              ]
            },
            "description": "Amendment type"
          },
          {
            "name": "amendmentNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Amendment number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a specific amendment"
      }
    },
    "/amendment/{congress}/{amendmentType}/{amendmentNumber}/actions": {
      "get": {
        "operationId": "getAmendmentActions",
        "tags": [
          "Amendment"
        ],
        "summary": "Get actions on an amendment",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "amendmentType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hamdt",
                "samdt",
                "suamdt"
              ]
            },
            "description": "Amendment type"
          },
          {
            "name": "amendmentNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Amendment number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get actions on an amendment"
      }
    },
    "/amendment/{congress}/{amendmentType}/{amendmentNumber}/cosponsors": {
      "get": {
        "operationId": "getAmendmentCosponsors",
        "tags": [
          "Amendment"
        ],
        "summary": "Get cosponsors of an amendment",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "amendmentType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hamdt",
                "samdt",
                "suamdt"
              ]
            },
            "description": "Amendment type"
          },
          {
            "name": "amendmentNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Amendment number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get cosponsors of an amendment"
      }
    },
    "/amendment/{congress}/{amendmentType}/{amendmentNumber}/amendments": {
      "get": {
        "operationId": "getAmendmentAmendments",
        "tags": [
          "Amendment"
        ],
        "summary": "Get amendments to an amendment",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "amendmentType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hamdt",
                "samdt",
                "suamdt"
              ]
            },
            "description": "Amendment type"
          },
          {
            "name": "amendmentNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Amendment number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get amendments to an amendment"
      }
    },
    "/amendment/{congress}/{amendmentType}/{amendmentNumber}/text": {
      "get": {
        "operationId": "getAmendmentText",
        "tags": [
          "Amendment"
        ],
        "summary": "Get text of an amendment",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "amendmentType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "hamdt",
                "samdt",
                "suamdt"
              ]
            },
            "description": "Amendment type"
          },
          {
            "name": "amendmentNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Amendment number"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get text of an amendment"
      }
    },
    "/member": {
      "get": {
        "operationId": "listMembers",
        "tags": [
          "Member"
        ],
        "summary": "List all members",
        "parameters": [
          {
            "name": "currentMember",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all members"
      }
    },
    "/member/{bioguideId}": {
      "get": {
        "operationId": "getMember",
        "tags": [
          "Member"
        ],
        "summary": "Get a specific member",
        "parameters": [
          {
            "name": "bioguideId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Member bioguide ID"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a specific member"
      }
    },
    "/member/congress/{congress}": {
      "get": {
        "operationId": "listMembersByCongress",
        "tags": [
          "Member"
        ],
        "summary": "List members by congress",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "currentMember",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List members by congress"
      }
    },
    "/member/congress/{congress}/{stateCode}": {
      "get": {
        "operationId": "listMembersByState",
        "tags": [
          "Member"
        ],
        "summary": "List members by congress and state",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "stateCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Two-letter state code"
          },
          {
            "name": "currentMember",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List members by congress and state"
      }
    },
    "/member/congress/{congress}/{stateCode}/{district}": {
      "get": {
        "operationId": "listMembersByDistrict",
        "tags": [
          "Member"
        ],
        "summary": "List members by congress, state and district",
        "parameters": [
          {
            "name": "congress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congress number (e.g. 117)"
          },
          {
            "name": "stateCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Two-letter state code"
          },
          {
            "name": "district",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Congressional district number"
          },
          {
            "name": "currentMember",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List members by congress, state and district"
      }
    },
    "/member/{bioguideId}/sponsored-legislation": {
      "get": {
        "operationId": "getMemberSponsoredLegislation",
        "tags": [
          "Member"
        ],
        "summary": "Get sponsored legislation",
        "parameters": [
          {
            "name": "bioguideId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Member bioguide ID"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get sponsored legislation"
      }
    },
    "/member/{bioguideId}/cosponsored-legislation": {
      "get": {
        "operationId": "getMemberCosponsoredLegislation",
        "tags": [
          "Member"
        ],
        "summary": "Get cosponsored legislation",
        "parameters": [
          {
            "name": "bioguideId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Member bioguide ID"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Response format"
          },
          {
            "name": "fromDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results from this date-time"
          },
          {
            "name": "toDateTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter results to this date-time"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "updateDate+asc",
                "updateDate+desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CongressApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get cosponsored legislation"
      }
    },
    "/committee": {
      "get": {
        "operationId": "listCommittees",
        "tags": [
          "Committee"
        ],
        "summary": "List all committees",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Starting record number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 250
            },
            "description": "Number of records to return (max 250)"
          },
          {
            "name": "format",
            "in": "query",
[...]
