{
  "openapi": "3.0.3",
  "info": {
    "title": "GoZen DeepAgent API",
    "description": "GoZen DeepAgent (DeepBot) API for managing chatbot integrations, webhooks, and user profiles. Build a custom GPT, embed it on your website and let it handle customer support, lead generation, and user engagement.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.gozen.io/deepbot.ai/api-docs/zapier"
  },
  "servers": [
    {
      "url": "https://api.deepbot.gozen.io",
      "description": "Production server"
    }
  ],
  "paths": {
    "/integration/zapierapp/auth": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get user profile",
        "description": "Retrieves user profile information authenticated via API key. Returns the user's email, name, and key.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/integration/zapierapp/webhook": {
      "post": {
        "operationId": "registerWebhook",
        "summary": "Register a webhook",
        "description": "Establish webhook notifications for account events. Currently supports 'Lead Collected' events when new leads are submitted to the bot.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "unregisterWebhook",
        "summary": "Unregister a webhook",
        "description": "Remove a webhook registration to discontinue event notifications from your accounts.",
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnregisterWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook unregistered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookUnregistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid request format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "API key for authentication. Obtain from the GoZen DeepBot dashboard."
      }
    },
    "schemas": {
      "UserProfile": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address"
          },
          "name": {
            "type": "string",
            "description": "User's display name"
          },
          "key": {
            "type": "string",
            "description": "User's API key"
          }
        },
        "required": [
          "email",
          "name",
          "key"
        ]
      },
      "RegisterWebhookRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The webhook endpoint URL to receive notifications"
          },
          "knowledgebaseId": {
            "type": "string",
            "description": "The chatbot identifier"
          }
        },
        "required": [
          "url",
          "knowledgebaseId"
        ]
      },
      "UnregisterWebhookRequest": {
        "type": "object",
        "properties": {
          "knowledgebaseId": {
            "type": "string",
            "description": "The chatbot identifier"
          },
          "integrationId": {
            "type": "string",
            "description": "The integration record ID in the system"
          }
        },
        "required": [
          "knowledgebaseId",
          "integrationId"
        ]
      },
      "WebhookRegistrationResponse": {
        "type": "object",
        "properties": {
          "integrationId": {
            "type": "string",
            "description": "The ID of the created integration"
          },
          "knowledgebaseId": {
            "type": "string",
            "description": "The chatbot identifier"
          }
        }
      },
      "WebhookUnregistrationResponse": {
        "type": "object",
        "properties": {
          "integrationId": {
            "type": "string",
            "description": "The ID of the removed integration"
          },
          "success": {
            "type": "boolean",
            "description": "Whether the unregistration was successful"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and profile operations"
    },
    {
      "name": "Webhooks",
      "description": "Webhook registration and management"
    }
  ]
}