{
  "openapi": "3.0.3",
  "info": {
    "title": "Falcon Sandbox API",
    "version": "2.36.1",
    "description": "Hybrid Analysis / Falcon Sandbox public API for malware analysis. Submit files and URLs for analysis, retrieve reports, search for threats, and access threat intelligence feeds.",
    "x-jentic-source-url": "https://hybrid-analysis.com/docs/api/v2"
  },
  "servers": [
    {
      "url": "https://hybrid-analysis.com/api/v2",
      "description": "Production"
    }
  ],
  "paths": {
    "/feed/latest": {
      "get": {
        "operationId": "getFeedLatest",
        "tags": [
          "Feed"
        ],
        "summary": "Get last 250 reports from 24h (deprecated)",
        "deprecated": true,
        "responses": {
          "200": {
            "description": "Feed data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/feed/detonation": {
      "get": {
        "operationId": "getFeedDetonation",
        "tags": [
          "Feed"
        ],
        "summary": "Get 250 most recent detonation reports",
        "responses": {
          "200": {
            "description": "Detonation feed"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/key/current": {
      "get": {
        "operationId": "getCurrentKey",
        "tags": [
          "Key"
        ],
        "summary": "Get current API key info and limits",
        "responses": {
          "200": {
            "description": "Key info"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/key/submission-quota": {
      "get": {
        "operationId": "getSubmissionQuota",
        "tags": [
          "Key"
        ],
        "summary": "Get submission quota details",
        "responses": {
          "200": {
            "description": "Quota info"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/overview/{sha256}": {
      "get": {
        "operationId": "getOverview",
        "tags": [
          "Overview"
        ],
        "summary": "Get analysis overview for a sample",
        "parameters": [
          {
            "name": "sha256",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Overview data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/overview/{sha256}/summary": {
      "get": {
        "operationId": "getOverviewSummary",
        "tags": [
          "Overview"
        ],
        "summary": "Get summary overview for a sample",
        "parameters": [
          {
            "name": "sha256",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Summary data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/overview/{sha256}/sample": {
      "get": {
        "operationId": "downloadSample",
        "tags": [
          "Overview"
        ],
        "summary": "Download sample binary",
        "parameters": [
          {
            "name": "sha256",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sample binary",
            "content": {
              "application/gzip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/submit/file": {
      "post": {
        "operationId": "submitFile",
        "tags": [
          "Submit"
        ],
        "summary": "Submit a file for analysis",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "environment_id"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "environment_id": {
                    "type": "integer",
                    "description": "Environment ID (100=Win7 32bit, 120=Win7 64bit, etc.)"
                  },
                  "action_script": {
                    "type": "string"
                  },
                  "comment": {
                    "type": "string"
                  },
                  "custom_cmd_line": {
                    "type": "string"
                  },
                  "custom_run_time": {
                    "type": "integer"
                  },
                  "document_password": {
                    "type": "string"
                  },
                  "network_settings": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/submit/url": {
      "post": {
        "operationId": "submitUrl",
        "tags": [
          "Submit"
        ],
        "summary": "Submit a URL for analysis",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "environment_id"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "environment_id": {
                    "type": "integer"
                  },
                  "comment": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission accepted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/submit/url-to-file": {
      "post": {
        "operationId": "submitUrlToFile",
        "tags": [
          "Submit"
        ],
        "summary": "Submit URL and download file for analysis",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "environment_id"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "environment_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission accepted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/quick-scan/file": {
      "post": {
        "operationId": "quickScanFile",
        "tags": [
          "QuickScan"
        ],
        "summary": "Quick scan a file",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "scan_type",
                  "file"
                ],
                "properties": {
                  "scan_type": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "comment": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quick scan result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/quick-scan/url": {
      "post": {
        "operationId": "quickScanUrl",
        "tags": [
          "QuickScan"
        ],
        "summary": "Quick scan a URL",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "scan_type",
                  "url"
                ],
                "properties": {
                  "scan_type": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quick scan result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/quick-scan/{id}": {
      "get": {
        "operationId": "getQuickScan",
        "tags": [
          "QuickScan"
        ],
        "summary": "Get quick scan result",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quick scan result"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/report/{id}/state": {
      "get": {
        "operationId": "getReportState",
        "tags": [
          "Report"
        ],
        "summary": "Get report state",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report state"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/report/{id}/summary": {
      "get": {
        "operationId": "getReportSummary",
        "tags": [
          "Report"
        ],
        "summary": "Get report summary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report summary"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/report/{id}/sample": {
      "get": {
        "operationId": "getReportSample",
        "tags": [
          "Report"
        ],
        "summary": "Download sample from report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sample binary"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/report/{id}/screenshots": {
      "get": {
        "operationId": "getReportScreenshots",
        "tags": [
          "Report"
        ],
        "summary": "Get screenshots from report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshots"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/report/{id}/dropped-files-v2": {
      "get": {
        "operationId": "getDroppedFiles",
        "tags": [
          "Report"
        ],
        "summary": "Download dropped files from report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dropped files zip"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/search/hash": {
      "get": {
        "operationId": "searchByHash",
        "tags": [
          "Search"
        ],
        "summary": "Search by file hash",
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/search/terms": {
      "post": {
        "operationId": "searchByTerms",
        "tags": [
          "Search"
        ],
        "summary": "Search by various terms",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string"
                  },
                  "filetype": {
                    "type": "string"
                  },
                  "verdict": {
                    "type": "string"
                  },
                  "tag": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/system/version": {
      "get": {
        "operationId": "getSystemVersion",
        "tags": [
          "System"
        ],
        "summary": "Get system version info",
        "responses": {
          "200": {
            "description": "Version info"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/system/environments": {
      "get": {
        "operationId": "getEnvironments",
        "tags": [
          "System"
        ],
        "summary": "Get available analysis environments",
        "responses": {
          "200": {
            "description": "Environments list"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/system/stats": {
      "get": {
        "operationId": "getSystemStats",
        "tags": [
          "System"
        ],
        "summary": "Get system statistics",
        "responses": {
          "200": {
            "description": "System stats"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "SubmissionResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string"
          },
          "submission_id": {
            "type": "string"
          },
          "environment_id": {
            "type": "integer"
          },
          "sha256": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Feed",
      "description": "Threat intelligence feeds"
    },
    {
      "name": "Submit",
      "description": "Submit files/URLs for analysis"
    },
    {
      "name": "Report",
      "description": "Retrieve analysis reports"
    },
    {
      "name": "Search",
      "description": "Search for threats"
    },
    {
      "name": "QuickScan",
      "description": "Quick scan operations"
    },
    {
      "name": "Overview",
      "description": "Sample overviews"
    },
    {
      "name": "System",
      "description": "System information"
    },
    {
      "name": "Key",
      "description": "API key information"
    }
  ]
}