{
  "openapi": "3.0.3",
  "info": {
    "title": "CaptureIQ API",
    "description": "CaptureIQ's REST API for managing forms and submissions. The API is currently in beta.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://help.captureiq.ai/api-reference/getting-started"
  },
  "servers": [
    {
      "url": "https://app.captureiq.ai"
    }
  ],
  "paths": {
    "/api/validateApiKey": {
      "get": {
        "description": "Validate the API key by checking if the provided authentication token is valid.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "API key is valid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "example": {
                  "status": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "getApiValidateapikey",
        "tags": [
          "Api"
        ]
      }
    },
    "/ciq/recent-submission/v1": {
      "get": {
        "description": "Retrieve the most recent submissions for a specific form in a workspace.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "workspaceId",
            "in": "query",
            "required": true,
            "description": "The ID of the workspace containing the form.",
            "schema": {
              "type": "string",
              "example": "68aec99d31016ef98d09fae3"
            }
          },
          {
            "name": "formId",
            "in": "query",
            "required": true,
            "description": "The ID of the form to retrieve submissions from.",
            "schema": {
              "type": "string",
              "example": "8feddac1-6f57-4c83-96ad-5767af6d2a4f"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of submission objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Submission"
                  }
                },
                "example": [
                  {
                    "question_1": "John Doe",
                    "question_2": "john.doe@example.com",
                    "question_3": "This is my feedback"
                  },
                  {
                    "question_1": "Jane Smith",
                    "question_2": "jane.smith@example.com",
                    "question_3": "Another submission"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "getCiqRecentSubmissionV1",
        "tags": [
          "Ciq"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer authentication header of the form Bearer <token>."
      }
    },
    "schemas": {
      "Submission": {
        "type": "object",
        "description": "A submission object containing question-answer pairs. Keys = question IDs, values = answers.",
        "additionalProperties": {
          "type": "string"
        },
        "example": {
          "question_1": "John Doe",
          "question_2": "john.doe@example.com",
          "question_3": "This is my feedback"
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "example": false
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "CIQ-0045"
                },
                "errorMessage": {
                  "type": "string",
                  "example": "The provided workspace ID is invalid"
                }
              }
            }
          },
          "message": {
            "type": "string",
            "example": "An error occurred while processing your request"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Api",
      "description": "Operations related to Api"
    },
    {
      "name": "Ciq",
      "description": "Operations related to Ciq"
    }
  ]
}