{
  "openapi": "3.0.0",
  "info": {
    "description": "The Admin Gallery Management Client.",
    "title": "GalleryManagementClient",
    "version": "2015-04-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/azsadmin-Gallery/2015-04-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/gallery/Microsoft.Gallery.Admin/preview/2015-04-01/Gallery.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azsadmin-Gallery",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://adminmanagement.local.azurestack.external/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Gallery.Admin/operations": {
      "get": {
        "parameters": [
          {
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "default": "2016-05-01",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "summary": "Gets the available gallery admin operations.",
        "x-ms-examples": {
          "Gets the available gallery admin operations.": {
            "parameters": {
              "api-version": "2016-05-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "display": {
                        "description": "Gets the gallery items.",
                        "operation": "Get Gallery Items",
                        "provider": "Microsoft Gallery Administration Service",
                        "resource": "Gallery Item"
                      },
                      "name": "Microsoft.Gallery.Admin/galleryItems/read"
                    },
                    {
                      "display": {
                        "description": "Uploads a gallery item.",
                        "operation": "Upload Gallery Item",
                        "provider": "Microsoft Gallery Administration Service",
                        "resource": "Gallery Item"
                      },
                      "name": "Microsoft.Gallery.Admin/galleryItems/action"
                    },
                    {
                      "display": {
                        "description": "Deletes a gallery item.",
                        "operation": "Delete Gallery Item",
                        "provider": "Microsoft Gallery Administration Service",
                        "resource": "Gallery Item"
                      },
                      "name": "Microsoft.Gallery.Admin/galleryItems/delete"
                    },
                    {
                      "display": {
                        "description": "Lists the supported operations.",
                        "operation": "List Operations",
                        "provider": "Microsoft Gallery Administration Service",
                        "resource": "Operation"
                      },
                      "name": "Microsoft.Gallery.Admin/operations/read"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client API Version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "default": "2016-05-01",
          "type": "string"
        }
      },
      "FilterParameter": {
        "description": "OData filter parameter.",
        "in": "query",
        "name": "$filter",
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Operation": {
        "description": "Represents a REST operation.",
        "properties": {
          "display": {
            "$ref": "#/components/schemas/OperationDisplayDefinition",
            "description": "Information about the REST operation."
          },
          "name": {
            "description": "Name of the REST operation.",
            "type": "string"
          },
          "origin": {
            "description": "Origin of the REST operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationDisplayDefinition": {
        "description": "Information about the REST operation.",
        "properties": {
          "description": {
            "description": "Description of the REST operation.",
            "type": "string"
          },
          "operation": {
            "description": "Type of REST operation.",
            "type": "string"
          },
          "provider": {
            "description": "Provider of the REST operation.",
            "type": "string"
          },
          "resource": {
            "description": "Resource returned by the REST operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "OperationList": {
        "description": "List of operations.",
        "properties": {
          "value": {
            "description": "List of operations.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Resource": {
        "description": "Base Resource Object.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "List of key-value pairs.",
            "readOnly": true,
            "type": "object"
          },
          "id": {
            "description": "URI of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Location of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the resource.",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Type of the resource.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-ms-azure-resource": true
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}