{
  "openapi": "3.0.3",
  "info": {
    "title": "ClinicalTrials.gov API",
    "version": "2.0.0",
    "description": "The ClinicalTrials.gov API provides programmatic access to clinical study data from the ClinicalTrials.gov database. It supports searching, filtering, and retrieving study records, statistics, and metadata.",
    "x-jentic-source-url": "https://clinicaltrials.gov/data-api/api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://clinicaltrials.gov/api/v2"
    }
  ],
  "paths": {
    "/studies": {
      "get": {
        "operationId": "searchStudies",
        "summary": "Search clinical studies",
        "description": "Search for clinical studies using various filter criteria.",
        "tags": [
          "Studies"
        ],
        "parameters": [
          {
            "name": "query.term",
            "in": "query",
            "description": "Search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.cond",
            "in": "query",
            "description": "Condition or disease",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.intr",
            "in": "query",
            "description": "Intervention/treatment",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.titles",
            "in": "query",
            "description": "Title/acronym",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.outc",
            "in": "query",
            "description": "Outcome measure",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.spons",
            "in": "query",
            "description": "Sponsor/collaborator",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.lead",
            "in": "query",
            "description": "Lead sponsor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.id",
            "in": "query",
            "description": "Study IDs (NCT Number)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.overallStatus",
            "in": "query",
            "description": "Filter by study status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "RECRUITING",
                "NOT_YET_RECRUITING",
                "ACTIVE_NOT_RECRUITING",
                "COMPLETED",
                "TERMINATED",
                "SUSPENDED",
                "WITHDRAWN",
                "ENROLLING_BY_INVITATION"
              ]
            }
          },
          {
            "name": "filter.geo",
            "in": "query",
            "description": "Geographic filter (distance function)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.advanced",
            "in": "query",
            "description": "Advanced filter expression",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 1000
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token for next page of results",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated fields to include",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/studies/{nctId}": {
      "get": {
        "operationId": "getStudy",
        "summary": "Get a study by NCT ID",
        "description": "Retrieve a specific clinical study by its NCT number.",
        "tags": [
          "Studies"
        ],
        "parameters": [
          {
            "name": "nctId",
            "in": "path",
            "required": true,
            "description": "NCT number (e.g., NCT00000001)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated fields to include",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Study"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/studies/metadata": {
      "get": {
        "operationId": "getStudyMetadata",
        "summary": "Get study field metadata",
        "description": "Retrieve metadata about available study fields.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stats/size": {
      "get": {
        "operationId": "getStudySize",
        "summary": "Get study count statistics",
        "description": "Get the total number of studies matching the given criteria.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "query.term",
            "in": "query",
            "description": "Search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.cond",
            "in": "query",
            "description": "Condition or disease",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.overallStatus",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.advanced",
            "in": "query",
            "description": "Advanced filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stats/fieldValues/{fieldName}": {
      "get": {
        "operationId": "getFieldValues",
        "summary": "Get field value statistics",
        "description": "Get unique values and counts for a specific study field.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "fieldName",
            "in": "path",
            "required": true,
            "description": "Study field name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.term",
            "in": "query",
            "description": "Search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.overallStatus",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string"
                      },
                      "count": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "operationId": "getApiVersion",
        "summary": "Get API version",
        "description": "Retrieve the current API version information.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StudySearchResponse": {
        "type": "object",
        "properties": {
          "studies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Study"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Token for next page"
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "Study": {
        "type": "object",
        "properties": {
          "protocolSection": {
            "type": "object",
            "properties": {
              "identificationModule": {
                "type": "object",
                "properties": {
                  "nctId": {
                    "type": "string"
                  },
                  "briefTitle": {
                    "type": "string"
                  },
                  "officialTitle": {
                    "type": "string"
                  },
                  "organization": {
                    "type": "object",
                    "properties": {
                      "fullName": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "statusModule": {
                "type": "object",
                "properties": {
                  "overallStatus": {
                    "type": "string"
                  },
                  "startDateStruct": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string"
                      }
                    }
                  },
                  "completionDateStruct": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "descriptionModule": {
                "type": "object",
                "properties": {
                  "briefSummary": {
                    "type": "string"
                  },
                  "detailedDescription": {
                    "type": "string"
                  }
                }
              },
              "conditionsModule": {
                "type": "object",
                "properties": {
                  "conditions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "designModule": {
                "type": "object",
                "properties": {
                  "studyType": {
                    "type": "string"
                  },
                  "phases": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "enrollmentInfo": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer"
                      },
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": [],
  "tags": [
    {
      "name": "Metadata"
    },
    {
      "name": "Statistics"
    },
    {
      "name": "Studies"
    }
  ]
}
