{
  "swagger": "2.0",
  "info": {
    "title": "Enterprise Admin Service API",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/uday730/AdminService/1.0.0/swagger.json",
    "contact": {},
    "description": "Enterprise Admin Service API"
  },
  "host": "apim-enterpriseservicesandbx.azure-api.net",
  "basePath": "/adminserviceAPI",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://zelisdevb2c.b2clogin.com/zelisdevb2c.onmicrosoft.com/b2c_1a_signup_signin_hrd/oauth2/v2.0/authorize",
      "tokenUrl": "https://zelisdevb2c.b2clogin.com/zelisdevb2c.onmicrosoft.com/b2c_1a_signup_signin_hrd/oauth2/v2.0/token",
      "scopes": {
        "https://zelisdevb2c.onmicrosoft.com/4fcfad86-3860-4c07-92fc-415d749d51ef/demo.read": "demo.read"
      }
    }
  },
  "paths": {
    "/CreateUser": {
      "post": {
        "tags": [
          "Create User"
        ],
        "operationId": "Run",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "consumes": [
          "application/json;"
        ],
        "produces": [
          "application/json;"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "New User Details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createUserRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OK response",
            "schema": {
              "$ref": "#/definitions/createUserResponse"
            }
          }
        },
        "description": "Run"
      }
    },
    "/GetCompanyById": {
      "get": {
        "tags": [
          "Get User Details"
        ],
        "operationId": "Run1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "produces": [
          "application/json;"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "CompanyId",
            "description": "User Object Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The OK response",
            "schema": {
              "$ref": "#/definitions/getUserInfoResponse"
            }
          }
        },
        "description": "Run1"
      }
    },
    "/GetUserAuthorizations": {
      "post": {
        "tags": [
          "Get User Authorizations Details"
        ],
        "operationId": "Run2",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "consumes": [
          "application/json;"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "User Details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/getUserAuthenticationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OK response",
            "schema": {
              "$ref": "#/definitions/getUserAuthorizationResponse"
            }
          }
        },
        "description": "Run2"
      }
    },
    "/GetUserByObjectId": {
      "get": {
        "tags": [
          "Get User Details"
        ],
        "operationId": "Run4",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "produces": [
          "application/json;"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ObjectId",
            "description": "User Object Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The OK response",
            "schema": {
              "$ref": "#/definitions/getUserInfoResponse"
            }
          }
        },
        "description": "Run4"
      }
    },
    "/GetUsersByCompanyId": {
      "get": {
        "tags": [
          "Get User Details"
        ],
        "operationId": "Run3",
        "parameters": [
          {
            "in": "query",
            "name": "CompanyId",
            "description": "User Company Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The OK response"
          }
        },
        "description": "Run3"
      }
    }
  },
  "definitions": {
    "companyModel": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "companyTypeId": {
          "format": "int32",
          "type": "integer"
        },
        "companyType": {
          "$ref": "#/definitions/companyTypeModel"
        },
        "platforms": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/companyPlatformModel"
          }
        }
      }
    },
    "companyPlatformModel": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "usesEnterpriseCompanyId": {
          "type": "boolean"
        },
        "platform": {
          "$ref": "#/definitions/platformModel"
        }
      }
    },
    "companyTypeModel": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "companyTypeId": {
          "type": "string"
        }
      }
    },
    "component": {
      "type": "object",
      "properties": {
        "componentID": {
          "type": "string"
        },
        "componentName": {
          "type": "string"
        },
        "componentType": {
          "type": "string"
        },
        "platformID": {
          "type": "string"
        },
        "platformName": {
          "type": "string"
        },
        "permissionID": {
          "type": "string"
        },
        "permissionName": {
          "type": "string"
        },
        "componentScopes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/componentscope"
          }
        }
      }
    },
    "componentscope": {
      "type": "object",
      "properties": {
        "scopeID": {
          "type": "string"
        },
        "scopeName": {
          "type": "string"
        }
      }
    },
    "createUserRequest": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "companyId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "createUserResponse": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "companyId": {
          "format": "int32",
          "type": "integer"
        },
        "tempPassword": {
          "type": "string"
        }
      }
    },
    "getUserAuthenticationRequest": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        },
        "platformId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "getUserAuthorizationModel": {
      "type": "object",
      "properties": {
        "userID": {
          "type": "string"
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/role"
          }
        },
        "navigationItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/navigationItem"
          }
        }
      }
    },
    "getUserAuthorizationResponse": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/getUserAuthorizationModel"
        },
        "status": {
          "format": "int32",
          "default": 101,
          "type": "integer"
        },
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "getUserInfoResponse": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "companyId": {
          "format": "int32",
          "type": "integer"
        },
        "company": {
          "$ref": "#/definitions/companyModel"
        }
      }
    },
    "navigationItem": {
      "type": "object",
      "properties": {
        "navigationType": {
          "type": "string"
        },
        "componentId": {
          "type": "string"
        },
        "componentType": {
          "type": "string"
        },
        "componentName": {
          "type": "string"
        },
        "componentDescription": {
          "type": "string"
        },
        "route": {
          "type": "string"
        },
        "routeName": {
          "type": "string"
        },
        "iconImage": {
          "type": "string"
        },
        "menuHint": {
          "type": "string"
        },
        "parentComponentId": {
          "format": "int32",
          "type": "integer"
        },
        "platformID": {
          "type": "string"
        },
        "displayOrder": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "platformModel": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "role": {
      "type": "object",
      "properties": {
        "roleID": {
          "type": "string"
        },
        "roleName": {
          "type": "string"
        },
        "roleScopes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/roleScope"
          }
        },
        "components": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/component"
          }
        }
      }
    },
    "roleScope": {
      "type": "object",
      "properties": {
        "roleScopeID": {
          "type": "string"
        },
        "roleScopeName": {
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Create User"
    },
    {
      "name": "Get User Authorizations Details"
    },
    {
      "name": "Get User Details"
    }
  ]
}
