{
  "openapi": "3.0.3",
  "info": {
    "title": "Fonoa API",
    "description": "Fonoa API for tax automation including tax ID validation (Lookup), tax rate calculation (Tax), e-invoicing, and company onboarding.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://docs.fonoa.com"
  },
  "servers": [
    {
      "url": "https://api-demo.fonoa.com",
      "description": "Demo environment"
    },
    {
      "url": "https://api.fonoa.com",
      "description": "Production environment"
    }
  ],
  "paths": {
    "/lookup/v2/single-validations": {
      "post": {
        "operationId": "requestsinglevalidation",
        "summary": "Request a tax ID validation",
        "description": "Validates a Tax Identification Number (TIN) by supplying a country ISO code and the client's tax identification number.",
        "tags": [
          "Lookup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation request submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lookup/v2/single-validations/{id}": {
      "get": {
        "operationId": "getsinglevalidation",
        "summary": "Get validation results",
        "description": "Retrieves the results of a previously submitted tax ID validation.",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Validation request ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletesinglevalidation",
        "summary": "Delete a validation",
        "description": "Removes a validation result.",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Validation deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lookup/v2/batch-validations": {
      "post": {
        "operationId": "requestbatchvalidation",
        "summary": "Submit batch validation",
        "description": "Submits a batch of tax ID validations for processing.",
        "tags": [
          "Lookup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch validation submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lookup/v2/batch-validations/{id}": {
      "get": {
        "operationId": "getbatchvalidation",
        "summary": "Get batch validation results",
        "description": "Retrieves the results of a previously submitted batch validation.",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch validation results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletebatchvalidation",
        "summary": "Delete batch validation",
        "description": "Removes a batch validation and its results.",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch validation deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/lookup/v2/batch-validations/{id}/cancel": {
      "post": {
        "operationId": "cancelbatchvalidation",
        "summary": "Cancel a running batch validation",
        "description": "Cancels a batch validation that is currently in progress.",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch validation cancelled"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tax/calculations": {
      "post": {
        "operationId": "requesttaxcalculation",
        "summary": "Request a tax calculation",
        "description": "Calculates applicable taxes for a transaction based on provided details.",
        "tags": [
          "Tax"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxCalculationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxCalculationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tax/calculations/{id}": {
      "get": {
        "operationId": "gettaxcalculation",
        "summary": "Get a tax calculation",
        "description": "Retrieves a previously submitted tax calculation result.",
        "tags": [
          "Tax"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tax calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxCalculationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatetaxcalculation",
        "summary": "Update a tax calculation",
        "description": "Updates a previously submitted tax calculation.",
        "tags": [
          "Tax"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxCalculationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax calculation updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxCalculationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions": {
      "post": {
        "operationId": "submittransaction",
        "summary": "Submit a transaction",
        "description": "Submits a transaction for digital reporting and e-invoicing compliance.",
        "tags": [
          "E-Invoicing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listtransactions",
        "summary": "List transactions",
        "description": "Retrieves a list of submitted transactions.",
        "tags": [
          "E-Invoicing"
        ],
        "responses": {
          "200": {
            "description": "Transactions listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TransactionResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/{id}": {
      "get": {
        "operationId": "gettransaction",
        "summary": "Get a transaction",
        "description": "Retrieves a specific transaction by ID.",
        "tags": [
          "E-Invoicing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/credit": {
      "post": {
        "operationId": "credittransaction",
        "summary": "Credit a transaction",
        "description": "Creates a credit note for a transaction.",
        "tags": [
          "E-Invoicing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credit transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/cancellation": {
      "post": {
        "operationId": "canceltransaction",
        "summary": "Cancel a transaction",
        "description": "Cancels a previously submitted transaction.",
        "tags": [
          "E-Invoicing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/onboarding/v2/companies": {
      "post": {
        "operationId": "onboardcompany",
        "summary": "Onboard a company",
        "description": "Registers a new company for tax compliance.",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company onboarded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listcompanies",
        "summary": "List onboarded companies",
        "description": "Retrieves a list of all onboarded companies.",
        "tags": [
          "Onboarding"
        ],
        "responses": {
          "200": {
            "description": "Companies listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CompanyResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/onboarding/v2/companies/{id}": {
      "get": {
        "operationId": "getcompany",
        "summary": "Get company details",
        "description": "Retrieves details of a specific onboarded company.",
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updatecompany",
        "summary": "Update a company",
        "description": "Updates details of an onboarded company.",
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletecompany",
        "summary": "Remove a company",
        "description": "Removes an onboarded company.",
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company removed"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/instant-lookup": {
      "post": {
        "operationId": "instantLookup",
        "summary": "Instant lookup",
        "description": "Find a tax identification number.",
        "tags": [
          "Lookup"
        ],
        "responses": {
          "200": {
            "description": "Instant lookup successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/tax-rates": {
      "post": {
        "operationId": "calculateTaxRates",
        "summary": "Calculate tax rates",
        "description": "Request a tax calculation.",
        "tags": [
          "Tax"
        ],
        "responses": {
          "200": {
            "description": "Calculate tax rates successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/transactions/{id}/history": {
      "get": {
        "operationId": "getTransactionHistory",
        "summary": "Get transaction history",
        "description": "Retrieve history of a transaction.",
        "tags": [
          "E-Invoicing"
        ],
        "responses": {
          "200": {
            "description": "Get transaction history successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID"
          }
        ]
      }
    },
    "/v1/transactions/adjustment": {
      "post": {
        "operationId": "adjustTransaction",
        "summary": "Adjust transaction",
        "description": "Adjust an existing transaction.",
        "tags": [
          "E-Invoicing"
        ],
        "responses": {
          "200": {
            "description": "Adjust transaction successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v1/transactions/backfill-reported": {
      "post": {
        "operationId": "backfillTransaction",
        "summary": "Backfill reported transaction",
        "description": "Backfill a reported transaction.",
        "tags": [
          "E-Invoicing"
        ],
        "responses": {
          "200": {
            "description": "Backfill reported transaction successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/onboarding/v2/individuals": {
      "post": {
        "operationId": "onboardIndividual",
        "summary": "Onboard individual",
        "description": "Onboard a new individual.",
        "tags": [
          "Onboarding"
        ],
        "responses": {
          "200": {
            "description": "Onboard individual successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/onboarding/v2/individuals/{id}": {
      "get": {
        "operationId": "getIndividualDetails",
        "summary": "Get individual details",
        "description": "Retrieve individual onboarding details.",
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Individual ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateIndividual",
        "summary": "Update individual",
        "description": "Update individual details.",
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Individual ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Individual updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteIndividual",
        "summary": "Delete individual",
        "description": "Delete an individual.",
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Individual ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Individual deleted"
          }
        }
      }
    },
    "/onboarding/v2/jobs/{id}": {
      "get": {
        "operationId": "getOnboardingJobStatus",
        "summary": "Get onboarding job status",
        "description": "Get the status of an onboarding job.",
        "tags": [
          "Onboarding"
        ],
        "responses": {
          "200": {
            "description": "Get onboarding job status successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Job ID"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "SingleValidationRequest": {
        "type": "object",
        "required": [
          "country_code",
          "tax_id"
        ],
        "properties": {
          "country_code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "tax_id": {
            "type": "string",
            "description": "Tax Identification Number to validate"
          }
        }
      },
      "ValidationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "valid",
              "invalid",
              "pending",
              "error"
            ]
          },
          "country_code": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "company_address": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BatchValidationRequest": {
        "type": "object",
        "required": [
          "validations"
        ],
        "properties": {
          "validations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SingleValidationRequest"
            }
          }
        }
      },
      "BatchValidationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "completed",
              "cancelled"
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationResponse"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TaxCalculationRequest": {
        "type": "object",
        "properties": {
          "currency_code": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "transaction_date": {
            "type": "string",
            "format": "date-time"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "number"
                },
                "description": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          },
          "buyer": {
            "$ref": "#/components/schemas/TaxParty"
          },
          "seller": {
            "$ref": "#/components/schemas/TaxParty"
          }
        }
      },
      "TaxCalculationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "currency_code": {
            "type": "string"
          },
          "total_amount": {
            "type": "number"
          },
          "total_tax": {
            "type": "number"
          },
          "tax_breakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tax_type": {
                  "type": "string"
                },
                "rate": {
                  "type": "number"
                },
                "amount": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "TaxParty": {
        "type": "object",
        "properties": {
          "country_code": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "postal_code": {
                "type": "string"
              },
              "country_code": {
                "type": "string"
              }
            }
          }
        }
      },
      "TransactionRequest": {
        "type": "object",
        "properties": {
          "transaction_number": {
            "type": "string",
            "description": "Unique and usually sequential identifier"
          },
          "transaction_date": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 format transaction date"
          },
          "currency_code": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "number"
                },
                "description": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          },
          "buyer": {
            "$ref": "#/components/schemas/TaxParty"
          },
          "seller": {
            "$ref": "#/components/schemas/TaxParty"
          },
          "tax_breakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tax_type": {
                  "type": "string"
                },
                "rate": {
                  "type": "number"
                },
                "amount": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "transaction_number": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          },
          "errors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/TransactionError"
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "TransactionError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "validation",
              "tax_authority",
              "warning",
              "general"
            ]
          },
          "message": {
            "type": "string"
          },
          "field": {
            "type": "string"
          },
          "doc_link": {
            "type": "string"
          }
        }
      },
      "CompanyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "postal_code": {
                "type": "string"
              },
              "country_code": {
                "type": "string"
              }
            }
          }
        }
      },
      "CompanyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "tax_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "error"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "field": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "description": "Fonoa API subscription key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Lookup",
      "description": "Tax ID validation (single and batch)"
    },
    {
      "name": "Tax",
      "description": "Tax rate calculation"
    },
    {
      "name": "E-Invoicing",
      "description": "Transaction submission and e-invoicing compliance"
    },
    {
      "name": "Onboarding",
      "description": "Company and individual registration"
    }
  ]
}