{
  "openapi": "3.0.3",
  "info": {
    "title": "Sonix API",
    "description": "Sonix API provides automated transcription, translation, summarization, and video subtitle services. Supports 70+ languages for transcription with word-level timestamps.",
    "version": "v1",
    "x-jentic-source-url": "https://sonix.ai/docs/api"
  },
  "servers": [
    {
      "url": "https://api.sonix.ai/v1",
      "description": "Sonix API v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/media": {
      "get": {
        "summary": "List all media files",
        "operationId": "listMedia",
        "tags": ["Media"],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "media": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Media" }
                    },
                    "page": { "type": "integer" },
                    "total_pages": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Submit media for transcription",
        "operationId": "createMedia",
        "tags": ["Media"],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary", "description": "Audio or video file to transcribe" },
                  "file_url": { "type": "string", "format": "uri", "description": "URL of audio/video file to transcribe" },
                  "language": { "type": "string", "description": "Language code (e.g., en, es, fr)" },
                  "name": { "type": "string", "description": "Name for the media file" },
                  "keywords": { "type": "string", "description": "Keywords to improve accuracy" },
                  "custom_data": { "type": "string", "description": "Custom metadata as JSON string" },
                  "callback_url": { "type": "string", "format": "uri", "description": "Webhook URL for completion notification" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media submitted for transcription",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Media" }
              }
            }
          }
        }
      }
    },
    "/media/{id}": {
      "get": {
        "summary": "Get media status",
        "operationId": "getMedia",
        "tags": ["Media"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Media" }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update media",
        "operationId": "updateMedia",
        "tags": ["Media"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "labels": { "type": "array", "items": { "type": "string" } },
                  "folder_id": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Media" }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete media",
        "operationId": "deleteMedia",
        "tags": ["Media"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Media deleted" }
        }
      }
    },
    "/media/{id}/media_exports": {
      "post": {
        "summary": "Create media export",
        "operationId": "createMediaExport",
        "tags": ["Media Exports"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": { "description": "Export created" }
        }
      }
    },
    "/media_exports/{id}": {
      "get": {
        "summary": "Get media export status",
        "operationId": "getMediaExport",
        "tags": ["Media Exports"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Successful response" }
        }
      }
    },
    "/media/{id}/transcript": {
      "get": {
        "summary": "Get transcript as plain text",
        "operationId": "getTranscript",
        "tags": ["Transcripts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["avid_ds"] } },
          { "name": "speaker_display", "in": "query", "schema": { "type": "string" } },
          { "name": "limit_captions", "in": "query", "schema": { "type": "integer" } },
          { "name": "subtitle_lines", "in": "query", "schema": { "type": "integer" } },
          { "name": "max_characters", "in": "query", "schema": { "type": "integer" } },
          { "name": "max_duration", "in": "query", "schema": { "type": "number" } }
        ],
        "responses": {
          "200": {
            "description": "Transcript returned",
            "content": {
              "text/plain": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update transcript content",
        "operationId": "updateTranscript",
        "tags": ["Transcripts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": { "description": "Transcript updated" }
        }
      }
    },
    "/media/{id}/transcript.srt": {
      "get": {
        "summary": "Get transcript as SRT",
        "operationId": "getTranscriptSrt",
        "tags": ["Transcripts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "speaker_display", "in": "query", "schema": { "type": "string" } },
          { "name": "limit_captions", "in": "query", "schema": { "type": "integer" } },
          { "name": "subtitle_lines", "in": "query", "schema": { "type": "integer" } },
          { "name": "max_characters", "in": "query", "schema": { "type": "integer" } },
          { "name": "max_duration", "in": "query", "schema": { "type": "number" } }
        ],
        "responses": {
          "200": {
            "description": "SRT file returned",
            "content": {
              "text/plain": { "schema": { "type": "string" } }
            }
          }
        }
      }
    },
    "/media/{id}/transcript.vtt": {
      "get": {
        "summary": "Get transcript as VTT",
        "operationId": "getTranscriptVtt",
        "tags": ["Transcripts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "speaker_display", "in": "query", "schema": { "type": "string" } },
          { "name": "limit_captions", "in": "query", "schema": { "type": "integer" } },
          { "name": "subtitle_lines", "in": "query", "schema": { "type": "integer" } },
          { "name": "max_characters", "in": "query", "schema": { "type": "integer" } },
          { "name": "max_duration", "in": "query", "schema": { "type": "number" } }
        ],
        "responses": {
          "200": {
            "description": "VTT file returned",
            "content": {
              "text/vtt": { "schema": { "type": "string" } }
            }
          }
        }
      }
    },
    "/media/{id}/transcript.json": {
      "get": {
        "summary": "Get transcript as JSON with word-level timestamps",
        "operationId": "getTranscriptJson",
        "tags": ["Transcripts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "JSON transcript with word-level timestamps",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/media/{id}/transcript/split": {
      "put": {
        "summary": "Auto-split transcript into subtitles",
        "operationId": "splitTranscript",
        "tags": ["Transcripts"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Transcript split into subtitles" }
        }
      }
    },
    "/media/{id}/translations": {
      "post": {
        "summary": "Create translation",
        "operationId": "createTranslation",
        "tags": ["Translations"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["language"],
                "properties": {
                  "language": { "type": "string", "description": "Target language code" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Translation job created" }
        }
      }
    },
    "/media/{id}/translations/{language}": {
      "get": {
        "summary": "Get translation status",
        "operationId": "getTranslation",
        "tags": ["Translations"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "language", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Translation status returned" }
        }
      }
    },
    "/media/{id}/video_burn_ins": {
      "post": {
        "summary": "Create video burn-in",
        "operationId": "createVideoBurnIn",
        "tags": ["Video Burn-Ins"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "font": { "type": "string" },
                  "font_size": { "type": "integer" },
                  "font_color": { "type": "string" },
                  "bold": { "type": "boolean" },
                  "italic": { "type": "boolean" },
                  "alignment": { "type": "string" },
                  "border_style": { "type": "string" },
                  "aspect_ratio": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Video burn-in job created" }
        }
      }
    },
    "/video_burn_ins/{id}": {
      "get": {
        "summary": "Get video burn-in status",
        "operationId": "getVideoBurnIn",
        "tags": ["Video Burn-Ins"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Burn-in status returned" }
        }
      }
    },
    "/media/{id}/summarizations": {
      "post": {
        "summary": "Create summarization",
        "operationId": "createSummarization",
        "tags": ["Summarization"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["subtype"],
                "properties": {
                  "subtype": { "type": "string", "enum": ["summary", "chapters", "sentiment", "entity", "custom"] },
                  "prompt": { "type": "string" },
                  "sentence_count": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Summarization job created" }
        }
      }
    },
    "/summarizations/{id}": {
      "get": {
        "summary": "Get summarization result",
        "operationId": "getSummarization",
        "tags": ["Summarization"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Summarization result returned" }
        }
      }
    },
    "/folders/{id}/batch_summarizations": {
      "get": {
        "summary": "List folder batch summarizations",
        "operationId": "listFolderBatchSummarizations",
        "tags": ["Summarization"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Batch summarizations listed" }
        }
      },
      "post": {
        "summary": "Create batch summarization for folder",
        "operationId": "createBatchSummarization",
        "tags": ["Summarization"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subtype": { "type": "string" },
                  "prompt": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Batch summarization created" }
        }
      }
    },
    "/batch_summarizations/{id}": {
      "get": {
        "summary": "Get batch summarization status",
        "operationId": "getBatchSummarization",
        "tags": ["Summarization"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Batch summarization status returned" }
        }
      }
    },
    "/media/folders": {
      "post": {
        "summary": "Create folder",
        "operationId": "createFolder",
        "tags": ["Folders"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Folder created" }
        }
      }
    },
    "/folders": {
      "get": {
        "summary": "List all folders",
        "operationId": "listFolders",
        "tags": ["Folders"],
        "responses": {
          "200": { "description": "Folders listed" }
        }
      }
    },
    "/folders/{id}": {
      "put": {
        "summary": "Update folder",
        "operationId": "updateFolder",
        "tags": ["Folders"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Folder updated" }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "List account members",
        "operationId": "listUsers",
        "tags": ["Users"],
        "responses": {
          "200": { "description": "Users listed" }
        }
      },
      "post": {
        "summary": "Invite user to account",
        "operationId": "inviteUser",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "role": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "User invited" }
        }
      }
    },
    "/users/{id}": {
      "put": {
        "summary": "Update user role/permissions",
        "operationId": "updateUser",
        "tags": ["Users"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "User updated" }
        }
      }
    },
    "/media/{id}/shares": {
      "get": {
        "summary": "List media shares",
        "operationId": "listMediaShares",
        "tags": ["Sharing"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Shares listed" }
        }
      },
      "post": {
        "summary": "Share media with user",
        "operationId": "shareMedia",
        "tags": ["Sharing"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string", "format": "email" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Media shared" }
        }
      },
      "delete": {
        "summary": "Revoke media share",
        "operationId": "revokeMediaShare",
        "tags": ["Sharing"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Share revoked" }
        }
      }
    },
    "/webhooks": {
      "post": {
        "summary": "Create webhook",
        "operationId": "createWebhook",
        "tags": ["Webhooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url", "events"],
                "properties": {
                  "url": { "type": "string", "format": "uri" },
                  "events": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Webhook created" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from https://my.sonix.ai/api"
      }
    },
    "schemas": {
      "Media": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "status": { "type": "string" },
          "language": { "type": "string" },
          "duration": { "type": "number" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "folder_id": { "type": "string" },
          "custom_data": { "type": "object" }
        }
      }
    }
  }
}