{"openapi":"3.0.1","info":{"title":"Azure Enterprise Knowledge Graph Service","description":"Azure Enterprise Knowledge Graph Service is a platform for creating knowledge graphs at scale.","version":"2018-12-03","x-apisguru-categories":["cloud"],"x-logo":{"url":"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"},"x-origin":[{"format":"swagger","url":"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/EnterpriseKnowledgeGraph/resource-manager/Microsoft.EnterpriseKnowledgeGraph/preview/2018-12-03/EnterpriseKnowledgeGraphSwagger.json","version":"2.0"}],"x-providerName":"azure.com","x-serviceName":"EnterpriseKnowledgeGraph-EnterpriseKnowledgeGraphSwagger","x-tags":["Azure","Microsoft"],"x-jentic-source-url":"https://api.apis.guru/v2/specs/azure.com/EnterpriseKnowledgeGraph-EnterpriseKnowledgeGraphSwagger/2018-12-03/swagger.yaml"},"servers":[{"url":"https://management.azure.com/"}],"paths":{"/providers/Microsoft.EnterpriseKnowledgeGraph/operations":{"get":{"tags":["Operations"],"description":"Lists all the available EnterpriseKnowledgeGraph services operations.","operationId":"Operations_List","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationEntityListResult"}}}}},"deprecated":false,"x-ms-examples":{"Get Operations":{"parameters":{"api-version":"2018-12-03"},"responses":{"200":{"body":{"value":[{"display":{"description":"Read EnterpriseKnowledgeGraph resources","operation":"Read EnterpriseKnowledgeGraph resource","provider":"Microsoft EnterpriseKnowledgeGraph Service","resource":"EnterpriseKnowledgeGraph Service"},"name":"Microsoft.EnterpriseKnowledgeGraph/services/read","origin":"user,system"},{"display":{"description":"Writes EnterpriseKnowledgeGraph resources","operation":"Write EnterpriseKnowledgeGraph resource","provider":"Microsoft EnterpriseKnowledgeGraph Service","resource":"EnterpriseKnowledgeGraph Service"},"name":"Microsoft.EnterpriseKnowledgeGraph/services/write","origin":"user,system"},{"display":{"description":"Deletes EnterpriseKnowledgeGraph resources","operation":"Delete EnterpriseKnowledgeGraph resource","provider":"Microsoft EnterpriseKnowledgeGraph Service","resource":"EnterpriseKnowledgeGraph Service"},"name":"Microsoft.EnterpriseKnowledgeGraph/services/delete","origin":"user,system"},{"display":{"description":"Read the operations for all resource types.","operation":"Read resource provider operations","provider":"Microsoft EnterpriseKnowledgeGraph Service","resource":"Operations"},"name":"Microsoft.EnterpriseKnowledgeGraph/Operations/read","origin":"user,system"},{"display":{"description":"Read the status of an asynchronous operation.","operation":"Read Operation Result.","provider":"Microsoft EnterpriseKnowledgeGraph Service","resource":"Operation Result"},"name":"Microsoft.EnterpriseKnowledgeGraph/locations/operationresults/read","origin":"user,system"}]}}}}},"x-ms-pageable":{"nextLinkName":"nextLink"}}},"/subscriptions/{subscriptionId}/providers/Microsoft.EnterpriseKnowledgeGraph/services":{"get":{"tags":["EnterpriseKnowledgeGraph"],"description":"Returns all the resources of a particular type belonging to a subscription.","operationId":"EnterpriseKnowledgeGraph_List","parameters":[{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.\nThe nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses. If a resource provider does not support paging, it should return the same body but leave nextLink empty for future compatibility.\nFor a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnterpriseKnowledgeGraphResponseList"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-ms-examples":{"List EnterpriseKnowledgeGraph by Subscription":{"parameters":{"api-version":"2018-12-03","subscriptionId":"subscription-id"},"responses":{"200":{"body":{"value":[{"id":"someid","name":"samplename","properties":{"provisioningState":"Succeeded"},"type":"sampletype"}]}}}}},"x-ms-pageable":{"nextLinkName":"nextLink"}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseKnowledgeGraph/services":{"get":{"tags":["EnterpriseKnowledgeGraph"],"description":"Returns all the resources of a particular type belonging to a resource group","operationId":"EnterpriseKnowledgeGraph_ListByResourceGroup","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the EnterpriseKnowledgeGraph resource group in the user subscription.","required":true,"schema":{"maxLength":64,"minLength":2,"pattern":"^[a-zA-Z0-9][a-zA-Z0-9_.-]*$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.\nThe nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses here. If a resource provider does not support paging, it should return the same body (JSON object with “value” property) but omit nextLink entirely (or set to null, *not* empty string) for future compatibility.\nThe nextLink should be implemented using following query parameters:\n· skipToken: opaque token that allows the resource provider to skip resources already enumerated. This value is defined and returned by the RP after first request via nextLink.\n· top: the optional client query parameter which defines the maximum number of records to be returned by the server.\nImplementation details:\n· NextLink may include all the query parameters (specifically OData $filter) used by the client in the first query. \n· Server may return less records than requested with nextLink. Returning zero records with NextLink is an acceptable response. \nClients must fetch records until the nextLink is not returned back / null. Clients should never rely on number of returned records to determinate if pagination is completed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnterpriseKnowledgeGraphResponseList"}}}},"default":{"description":"Error response describing why the operation failed. If the resource group does not exist, 404 (NotFound) will be returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-ms-examples":{"List EnterpriseKnowledgeGraph by Resource Group":{"parameters":{"api-version":"2018-12-03","resourceGroupName":"OneResourceGroupName","subscriptionId":"subscription-id"},"responses":{"200":{"body":{"value":[{"id":"someid","name":"samplename","properties":{"provisioningState":"Succeeded"},"type":"sampletype"}]}}}}},"x-ms-pageable":{"nextLinkName":"nextLink"}}},"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseKnowledgeGraph/services/{resourceName}":{"get":{"tags":["EnterpriseKnowledgeGraph"],"description":"Returns a EnterpriseKnowledgeGraph service specified by the parameters.","operationId":"EnterpriseKnowledgeGraph_Get","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the EnterpriseKnowledgeGraph resource group in the user subscription.","required":true,"schema":{"maxLength":64,"minLength":2,"pattern":"^[a-zA-Z0-9][a-zA-Z0-9_.-]*$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"resourceName","in":"path","description":"The name of the EnterpriseKnowledgeGraph resource.","required":true,"schema":{"maxLength":64,"minLength":2,"pattern":"^[a-zA-Z0-9][a-zA-Z0-9_.-]*$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The resource provider should return 200 (OK) to indicate that the operation completed successfully. ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnterpriseKnowledgeGraph"}}}},"default":{"description":"Error response describing why the operation failed. If the resource group *or* resource does not exist, 404 (NotFound) should be returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-ms-examples":{"Get EnterpriseKnowledgeGraph":{"parameters":{"api-version":"2018-12-03","resourceGroupName":"OneResourceGroupName","resourceName":"sampleekgname","subscriptionId":"subscription-id"},"responses":{"200":{"body":{"id":"someid","name":"samplename","properties":{"provisioningState":"Succeeded"},"type":"sampletype"}}}}}},"put":{"tags":["EnterpriseKnowledgeGraph"],"description":"Creates a EnterpriseKnowledgeGraph Service. EnterpriseKnowledgeGraph Service is a resource group wide resource type.","operationId":"EnterpriseKnowledgeGraph_Create","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the EnterpriseKnowledgeGraph resource group in the user subscription.","required":true,"schema":{"maxLength":64,"minLength":2,"pattern":"^[a-zA-Z0-9][a-zA-Z0-9_.-]*$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"resourceName","in":"path","description":"The name of the EnterpriseKnowledgeGraph resource.","required":true,"schema":{"maxLength":64,"minLength":2,"pattern":"^[a-zA-Z0-9][a-zA-Z0-9_.-]*$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for the created EnterpriseKnowledgeGraph.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnterpriseKnowledgeGraph"}}},"required":true},"responses":{"200":{"description":"The resource provider should return 200 (OK) to indicate that the operation completed successfully. ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnterpriseKnowledgeGraph"}}}},"201":{"description":"If resource is created successfully, the service should return 201 (Creating). Execution to continue asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnterpriseKnowledgeGraph"}}}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-ms-examples":{"Create EnterpriseKnowledgeGraph":{"parameters":{"api-version":"2018-12-03","parameters":{"location":"West US","properties":{},"tags":{"tag1":"value1","tag2":"value2"}},"resourceGroupName":"OneResourceGroupName","resourceName":"sampleekgname","subscriptionId":"subscription-id"},"responses":{"201":{"body":{"id":"someid","name":"samplename","properties":{"provisioningState":"Creating"},"type":"sampletype"}}}}},"x-codegen-request-body-name":"parameters"},"delete":{"tags":["EnterpriseKnowledgeGraph"],"description":"Deletes a EnterpriseKnowledgeGraph Service from the resource group. ","operationId":"EnterpriseKnowledgeGraph_Delete","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the EnterpriseKnowledgeGraph resource group in the user subscription.","required":true,"schema":{"maxLength":64,"minLength":2,"pattern":"^[a-zA-Z0-9][a-zA-Z0-9_.-]*$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"resourceName","in":"path","description":"The name of the EnterpriseKnowledgeGraph resource.","required":true,"schema":{"maxLength":64,"minLength":2,"pattern":"^[a-zA-Z0-9][a-zA-Z0-9_.-]*$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A 200 (OK) should be returned if the object exists and was deleted successfully;","content":{}},"204":{"description":"a 204 (NoContent) should be used if the resource does not exist and the request is well formed.","content":{}},"default":{"description":"Error response describing why the operation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-ms-examples":{"Delete EnterpriseKnowledgeGraph":{"parameters":{"api-version":"2018-12-03","resourceGroupName":"OneResourceGroupName","resourceName":"sampleekgname","subscriptionId":"subscription-id"},"responses":{"200":{},"204":{}}}}},"patch":{"tags":["EnterpriseKnowledgeGraph"],"description":"Updates a EnterpriseKnowledgeGraph Service","operationId":"EnterpriseKnowledgeGraph_Update","parameters":[{"name":"resourceGroupName","in":"path","description":"The name of the EnterpriseKnowledgeGraph resource group in the user subscription.","required":true,"schema":{"maxLength":64,"minLength":2,"pattern":"^[a-zA-Z0-9][a-zA-Z0-9_.-]*$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"resourceName","in":"path","description":"The name of the EnterpriseKnowledgeGraph resource.","required":true,"schema":{"maxLength":64,"minLength":2,"pattern":"^[a-zA-Z0-9][a-zA-Z0-9_.-]*$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The parameters to provide for the created EnterpriseKnowledgeGraph.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnterpriseKnowledgeGraph"}}},"required":true,"x-ms-client-flatten":true},"responses":{"200":{"description":"The resource provider should return 200 (OK) to indicate that the operation completed successfully. ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnterpriseKnowledgeGraph"}}}},"201":{"description":"If resource is updated successfully, the service should return 201 (Created). Execution to continue asynchronously.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnterpriseKnowledgeGraph"}}}},"default":{"description":"Error response describing why the operation failed. If the resource group *or* resource does not exist, 404 (NotFound) should be returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-ms-examples":{"Update EnterpriseKnowledgeGraph":{"parameters":{"api-version":"2018-12-03","parameters":{"location":"West US","properties":{},"sku":{"name":"S1"},"tags":{"tag1":"value1","tag2":"value2"}},"resourceGroupName":"OneResourceGroupName","resourceName":"sampleekgname","subscriptionId":"subscription-id"},"responses":{"201":{"body":{"id":"someid","name":"samplename","properties":{"provisioningState":"Creating"},"type":"sampletype"}}}}},"x-codegen-request-body-name":"parameters"}}},"components":{"schemas":{"EnterpriseKnowledgeGraph":{"properties":{"properties":{"$ref":"#/components/schemas/EnterpriseKnowledgeGraphProperties"}},"description":"EnterpriseKnowledgeGraph resource definition","allOf":[{"$ref":"#/components/schemas/Resource"}]},"EnterpriseKnowledgeGraphProperties":{"type":"object","properties":{"description":{"type":"string","description":"The description of the EnterpriseKnowledgeGraph"},"metadata":{"type":"object","properties":{},"description":"Specifies the metadata  of the resource."},"provisioningState":{"type":"string","description":"The state of EnterpriseKnowledgeGraph provisioning","enum":["Creating","Deleting","Failed","Succeeded"]}},"description":"The parameters to provide for the EnterpriseKnowledgeGraph."},"EnterpriseKnowledgeGraphResponseList":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link used to get the next page of EnterpriseKnowledgeGraph service resources."},"value":{"type":"array","description":"Gets the list of EnterpriseKnowledgeGraph service results and their properties.","readOnly":true,"items":{"$ref":"#/components/schemas/EnterpriseKnowledgeGraph"}}},"description":"The list of  EnterpriseKnowledgeGraph service operation response."},"Error":{"type":"object","properties":{"error":{"$ref":"#/components/schemas/ErrorBody"}},"description":"EnterpriseKnowledgeGraph Service error object."},"ErrorBody":{"required":["code","message"],"type":"object","properties":{"code":{"type":"string","description":"error code"},"message":{"type":"string","description":"error message"}},"description":"EnterpriseKnowledgeGraph Service error body."},"OperationDisplayInfo":{"type":"object","properties":{"description":{"type":"string","description":"The description of the operation."},"operation":{"type":"string","description":"The action that users can perform, based on their permission level."},"provider":{"type":"string","description":"Service provider: Microsoft EnterpriseKnowledgeGraph Service."},"resource":{"type":"string","description":"Resource on which the operation is performed."}},"description":"The operation supported by EnterpriseKnowledgeGraph Service Management."},"OperationEntity":{"type":"object","properties":{"display":{"$ref":"#/components/schemas/OperationDisplayInfo"},"name":{"type":"string","description":"Operation name: {provider}/{resource}/{operation}."},"origin":{"type":"string","description":"The origin of the operation."},"properties":{"type":"object","properties":{},"description":"Additional properties."}},"description":"The operations supported by EnterpriseKnowledgeGraph Service Management."},"OperationEntityListResult":{"type":"object","properties":{"nextLink":{"type":"string","description":"The link used to get the next page of operations."},"value":{"type":"array","description":"The list of operations.","items":{"$ref":"#/components/schemas/OperationEntity"}}},"description":"The list of EnterpriseKnowledgeGraph service operation response."},"Resource":{"type":"object","properties":{"id":{"type":"string","description":"Specifies the resource ID.","readOnly":true},"location":{"type":"string","description":"Specifies the location of the resource."},"name":{"type":"string","description":"Specifies the name of the resource.","readOnly":true},"sku":{"$ref":"#/components/schemas/Sku"},"tags":{"type":"object","additionalProperties":{"type":"string"},"description":"Contains resource tags defined as key/value pairs."},"type":{"type":"string","description":"Specifies the type of the resource.","readOnly":true}},"description":"Azure resource","x-ms-azure-resource":true},"Sku":{"required":["name"],"type":"object","properties":{"name":{"$ref":"#/components/schemas/SkuName"}},"description":"The SKU of the EnterpriseKnowledgeGraph service account."},"SkuName":{"type":"string","description":"The name of SKU.","enum":["F0","S1"],"x-ms-enum":{"modelAsString":true,"name":"SkuName"}}},"parameters":{"apiVersionParameter":{"name":"api-version","in":"query","description":"Version of the API to be used with the client request.","required":true,"schema":{"type":"string"}},"resourceGroupNameParameter":{"name":"resourceGroupName","in":"path","description":"The name of the EnterpriseKnowledgeGraph resource group in the user subscription.","required":true,"schema":{"maxLength":64,"minLength":2,"pattern":"^[a-zA-Z0-9][a-zA-Z0-9_.-]*$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},"resourceNameParameter":{"name":"resourceName","in":"path","description":"The name of the EnterpriseKnowledgeGraph resource.","required":true,"schema":{"maxLength":64,"minLength":2,"pattern":"^[a-zA-Z0-9][a-zA-Z0-9_.-]*$","type":"string","x-ms-parameter-location":"method"},"x-ms-parameter-location":"method"},"subscriptionIdParameter":{"name":"subscriptionId","in":"path","description":"Azure Subscription ID.","required":true,"schema":{"type":"string"}}},"securitySchemes":{"azure_auth":{"type":"oauth2","description":"Azure Active Directory OAuth2 Flow","flows":{"implicit":{"authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize","scopes":{"user_impersonation":"impersonate your user account"}}}}}},"x-original-swagger-version":"2.0"}