{
  "openapi": "3.0.3",
  "info": {
    "title": "BaseLinker API",
    "version": "1.0.0",
    "description": "The BaseLinker API enables information exchange between external systems and BaseLinker order manager, inventory management, and shipping. All requests are POST requests to a single connector endpoint, with method name and JSON parameters in the body.",
    "x-jentic-source-url": "https://api.baselinker.com/?lang=en"
  },
  "servers": [
    {
      "url": "https://api.baselinker.com",
      "description": "BaseLinker API"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/connector.php": {
      "post": {
        "operationId": "executeMethod",
        "tags": [
          "API"
        ],
        "summary": "Execute API Method",
        "description": "All API operations are executed through this single endpoint. Specify the method name and parameters in the request body. Available methods include: getOrders, addOrder, setOrderStatus, getInventoryProductsList, addInventoryProduct, getOrderStatusList, addInvoice, getInvoices, createPackage, getCouriers, and many more.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-BLToken",
        "description": "BaseLinker API token from Account & other -> My account -> API"
      }
    },
    "schemas": {
      "ApiRequest": {
        "type": "object",
        "required": [
          "method",
          "parameters"
        ],
        "properties": {
          "method": {
            "type": "string",
            "description": "API method name",
            "enum": [
              "getOrders",
              "addOrder",
              "setOrderStatus",
              "setOrderStatuses",
              "setOrderFields",
              "addOrderProduct",
              "deleteOrderProduct",
              "setOrderPayment",
              "getOrderStatusList",
              "getJournalList",
              "getOrderSources",
              "addInvoice",
              "getInvoices",
              "getSeries",
              "getInventories",
              "addInventory",
              "deleteInventory",
              "getInventoryCategories",
              "addInventoryCategory",
              "getInventoryProductsList",
              "getInventoryProductsData",
              "addInventoryProduct",
              "deleteInventoryProduct",
              "getInventoryProductsStock",
              "updateInventoryProductsStock",
              "getInventoryProductsPrices",
              "updateInventoryProductsPrices",
              "getInventoryWarehouses",
              "addInventoryWarehouse",
              "getOrderReturnJournalList",
              "addOrderReturn",
              "getOrderReturns",
              "setOrderReturnStatus",
              "getCouriers",
              "createPackage",
              "getPackagesList",
              "deletePackage",
              "addAutomaticAction",
              "deleteAutomaticAction"
            ]
          },
          "parameters": {
            "type": "string",
            "description": "JSON-encoded parameters for the method"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "ERROR"
            ]
          },
          "error_code": {
            "type": "string"
          },
          "error_message": {
            "type": "string"
          }
        },
        "additionalProperties": true,
        "description": "Response body varies per method. Common fields: status (SUCCESS/ERROR). On error: error_code, error_message. On success: method-specific data fields."
      },
      "Order": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "integer"
          },
          "shop_order_id": {
            "type": "string"
          },
          "date_add": {
            "type": "integer"
          },
          "date_confirmed": {
            "type": "integer"
          },
          "status_id": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "payment_done": {
            "type": "number"
          },
          "delivery_fullname": {
            "type": "string"
          },
          "delivery_company": {
            "type": "string"
          },
          "delivery_address": {
            "type": "string"
          },
          "delivery_postcode": {
            "type": "string"
          },
          "delivery_city": {
            "type": "string"
          },
          "delivery_country_code": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "want_invoice": {
            "type": "boolean"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderProduct"
            }
          }
        }
      },
      "OrderProduct": {
        "type": "object",
        "properties": {
          "order_product_id": {
            "type": "integer"
          },
          "product_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "ean": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "price_brutto": {
            "type": "number"
          },
          "tax_rate": {
            "type": "number"
          }
        }
      },
      "InventoryProduct": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "integer"
          },
          "ean": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price_brutto": {
            "type": "number"
          },
          "stock": {
            "type": "object",
            "description": "Stock per warehouse"
          },
          "category_id": {
            "type": "integer"
          },
          "is_bundle": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}