{
  "openapi": "3.0.3",
  "info": {
    "title": "Hearthstone API",
    "description": "API for retrieving Hearthstone card data including cards, card backs, and game metadata. Provides access to cards by name, class, set, race, quality, type, faction, and search.",
    "version": "1.0.0",
    "contact": {
      "name": "Hearthstone API",
      "url": "http://hearthstoneapi.com/"
    },
    "x-jentic-source-url": "http://hearthstoneapi.com/"
  },
  "servers": [
    {
      "url": "https://omgvamp-hearthstone-v1.p.rapidapi.com",
      "description": "RapidAPI production server"
    }
  ],
  "security": [
    {
      "RapidAPIKey": []
    }
  ],
  "tags": [
    {
      "name": "Cards",
      "description": "Endpoints for retrieving card data"
    },
    {
      "name": "Card Backs",
      "description": "Endpoints for retrieving card back data"
    },
    {
      "name": "Info",
      "description": "Endpoints for retrieving game metadata"
    }
  ],
  "paths": {
    "/cards": {
      "get": {
        "operationId": "getAllCards",
        "summary": "Get all cards",
        "description": "Returns a list of all Hearthstone cards, optionally filtered by query parameters.",
        "tags": ["Cards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/collectible"
          },
          {
            "$ref": "#/components/parameters/attack"
          },
          {
            "$ref": "#/components/parameters/durability"
          },
          {
            "$ref": "#/components/parameters/health"
          },
          {
            "$ref": "#/components/parameters/cost"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with card data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Card"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/cards/{name}": {
      "get": {
        "operationId": "getCardByName",
        "summary": "Get card by name",
        "description": "Returns card data for the specified card name.",
        "tags": ["Cards"],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The exact name of the card.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/collectible"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with card data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/cards/classes/{class}": {
      "get": {
        "operationId": "getCardsByClass",
        "summary": "Get cards by class",
        "description": "Returns all cards belonging to a specific class (e.g., Mage, Warrior, Paladin).",
        "tags": ["Cards"],
        "parameters": [
          {
            "name": "class",
            "in": "path",
            "required": true,
            "description": "The card class (e.g., Mage, Warrior, Paladin, Druid, Hunter, Priest, Rogue, Shaman, Warlock, Neutral, Death Knight, Demon Hunter).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/collectible"
          },
          {
            "$ref": "#/components/parameters/attack"
          },
          {
            "$ref": "#/components/parameters/durability"
          },
          {
            "$ref": "#/components/parameters/health"
          },
          {
            "$ref": "#/components/parameters/cost"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with card data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/cards/sets/{set}": {
      "get": {
        "operationId": "getCardsBySet",
        "summary": "Get cards by set",
        "description": "Returns all cards belonging to a specific card set.",
        "tags": ["Cards"],
        "parameters": [
          {
            "name": "set",
            "in": "path",
            "required": true,
            "description": "The card set name (e.g., Classic, Basic, Naxxramas, Goblins vs Gnomes).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/collectible"
          },
          {
            "$ref": "#/components/parameters/attack"
          },
          {
            "$ref": "#/components/parameters/durability"
          },
          {
            "$ref": "#/components/parameters/health"
          },
          {
            "$ref": "#/components/parameters/cost"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with card data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/cards/races/{race}": {
      "get": {
        "operationId": "getCardsByRace",
        "summary": "Get cards by race",
        "description": "Returns all cards belonging to a specific race (e.g., Murloc, Demon, Beast, Dragon, Mech, Pirate, Totem, Elemental).",
        "tags": ["Cards"],
        "parameters": [
          {
            "name": "race",
            "in": "path",
            "required": true,
            "description": "The card race (e.g., Murloc, Demon, Beast, Dragon, Mech, Pirate, Totem, Elemental).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/collectible"
          },
          {
            "$ref": "#/components/parameters/attack"
          },
          {
            "$ref": "#/components/parameters/health"
          },
          {
            "$ref": "#/components/parameters/cost"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with card data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/cards/qualities/{quality}": {
      "get": {
        "operationId": "getCardsByQuality",
        "summary": "Get cards by quality",
        "description": "Returns all cards of a specific quality/rarity (e.g., Free, Common, Rare, Epic, Legendary).",
        "tags": ["Cards"],
        "parameters": [
          {
            "name": "quality",
            "in": "path",
            "required": true,
            "description": "The card quality/rarity (e.g., Free, Common, Rare, Epic, Legendary).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/collectible"
          },
          {
            "$ref": "#/components/parameters/attack"
          },
          {
            "$ref": "#/components/parameters/durability"
          },
          {
            "$ref": "#/components/parameters/health"
          },
          {
            "$ref": "#/components/parameters/cost"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with card data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/cards/types/{type}": {
      "get": {
        "operationId": "getCardsByType",
        "summary": "Get cards by type",
        "description": "Returns all cards of a specific type (e.g., Minion, Spell, Weapon, Hero, Hero Power).",
        "tags": ["Cards"],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "The card type (e.g., Minion, Spell, Weapon, Hero, Hero Power).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/collectible"
          },
          {
            "$ref": "#/components/parameters/attack"
          },
          {
            "$ref": "#/components/parameters/durability"
          },
          {
            "$ref": "#/components/parameters/health"
          },
          {
            "$ref": "#/components/parameters/cost"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with card data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/cards/factions/{faction}": {
      "get": {
        "operationId": "getCardsByFaction",
        "summary": "Get cards by faction",
        "description": "Returns all cards belonging to a specific faction (e.g., Horde, Alliance, Neutral).",
        "tags": ["Cards"],
        "parameters": [
          {
            "name": "faction",
            "in": "path",
            "required": true,
            "description": "The card faction (e.g., Horde, Alliance, Neutral).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/collectible"
          },
          {
            "$ref": "#/components/parameters/attack"
          },
          {
            "$ref": "#/components/parameters/health"
          },
          {
            "$ref": "#/components/parameters/cost"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with card data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/cards/search/{name}": {
      "get": {
        "operationId": "searchCards",
        "summary": "Search cards by partial name",
        "description": "Search for cards by partial name match.",
        "tags": ["Cards"],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The partial card name to search for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/collectible"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with matching cards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Card"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/info": {
      "get": {
        "operationId": "getInfo",
        "summary": "Get game metadata",
        "description": "Returns information about Hearthstone game data including patch, classes, sets, types, factions, qualities, races, and locales.",
        "tags": ["Info"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response with game metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Info"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/cardbacks": {
      "get": {
        "operationId": "getCardBacks",
        "summary": "Get all card backs",
        "description": "Returns a list of all Hearthstone card backs.",
        "tags": ["Card Backs"],
        "parameters": [
          {
            "$ref": "#/components/parameters/locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with card back data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CardBack"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "RapidAPIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-RapidAPI-Key",
        "description": "RapidAPI key for authentication."
      }
    },
    "parameters": {
      "locale": {
        "name": "locale",
        "in": "query",
        "required": false,
        "description": "Locale for the response (e.g., enUS, enGB, deDE, esES, esMX, frFR, itIT, koKR, plPL, ptBR, ruRU, zhCN, zhTW, jaJP, thTH).",
        "schema": {
          "type": "string",
          "default": "enUS"
        }
      },
      "collectible": {
        "name": "collectible",
        "in": "query",
        "required": false,
        "description": "Set to 1 to only return collectible cards.",
        "schema": {
          "type": "integer",
          "enum": [0, 1]
        }
      },
      "attack": {
        "name": "attack",
        "in": "query",
        "required": false,
        "description": "Filter by attack value.",
        "schema": {
          "type": "integer"
        }
      },
      "durability": {
        "name": "durability",
        "in": "query",
        "required": false,
        "description": "Filter by durability value (weapons only).",
        "schema": {
          "type": "integer"
        }
      },
      "health": {
        "name": "health",
        "in": "query",
        "required": false,
        "description": "Filter by health value.",
        "schema": {
          "type": "integer"
        }
      },
      "cost": {
        "name": "cost",
        "in": "query",
        "required": false,
        "description": "Filter by mana cost.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "Card": {
        "type": "object",
        "properties": {
          "cardId": {
            "type": "string",
            "description": "Unique card identifier."
          },
          "dbfId": {
            "type": "integer",
            "description": "Database field ID."
          },
          "name": {
            "type": "string",
            "description": "Card name."
          },
          "cardSet": {
            "type": "string",
            "description": "The set this card belongs to."
          },
          "type": {
            "type": "string",
            "description": "Card type (e.g., Minion, Spell, Weapon)."
          },
          "faction": {
            "type": "string",
            "description": "Card faction (e.g., Horde, Alliance, Neutral)."
          },
          "rarity": {
            "type": "string",
            "description": "Card rarity (e.g., Free, Common, Rare, Epic, Legendary)."
          },
          "cost": {
            "type": "integer",
            "description": "Mana cost of the card."
          },
          "attack": {
            "type": "integer",
            "description": "Attack value."
          },
          "health": {
            "type": "integer",
            "description": "Health value."
          },
          "durability": {
            "type": "integer",
            "description": "Durability value (weapons only)."
          },
          "text": {
            "type": "string",
            "description": "Card text/description."
          },
          "flavor": {
            "type": "string",
            "description": "Flavor text."
          },
          "artist": {
            "type": "string",
            "description": "Card artist name."
          },
          "collectible": {
            "type": "boolean",
            "description": "Whether the card is collectible."
          },
          "elite": {
            "type": "boolean",
            "description": "Whether the card is elite/legendary."
          },
          "race": {
            "type": "string",
            "description": "Card race (e.g., Murloc, Demon, Beast)."
          },
          "playerClass": {
            "type": "string",
            "description": "The class this card belongs to."
          },
          "img": {
            "type": "string",
            "format": "uri",
            "description": "URL to the card image."
          },
          "imgGold": {
            "type": "string",
            "format": "uri",
            "description": "URL to the golden card image."
          },
          "locale": {
            "type": "string",
            "description": "Locale of the card data."
          },
          "mechanics": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            },
            "description": "Card mechanics (e.g., Taunt, Battlecry)."
          }
        }
      },
      "CardBack": {
        "type": "object",
        "properties": {
          "cardBackId": {
            "type": "integer",
            "description": "Unique card back identifier."
          },
          "name": {
            "type": "string",
            "description": "Card back name."
          },
          "description": {
            "type": "string",
            "description": "Card back description."
          },
          "source": {
            "type": "string",
            "description": "How to obtain this card back."
          },
          "sourceDescription": {
            "type": "string",
            "description": "Detailed description of how to obtain."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the card back is currently enabled."
          },
          "img": {
            "type": "string",
            "format": "uri",
            "description": "URL to the card back image."
          },
          "imgAnimated": {
            "type": "string",
            "format": "uri",
            "description": "URL to the animated card back image."
          },
          "sortCategory": {
            "type": "integer",
            "description": "Sort category."
          },
          "sortOrder": {
            "type": "integer",
            "description": "Sort order."
          },
          "locale": {
            "type": "string",
            "description": "Locale of the data."
          }
        }
      },
      "Info": {
        "type": "object",
        "properties": {
          "patch": {
            "type": "string",
            "description": "Current game patch version."
          },
          "classes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of all classes."
          },
          "sets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of all card sets."
          },
          "types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of all card types."
          },
          "factions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of all factions."
          },
          "qualities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of all card qualities/rarities."
          },
          "races": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of all card races."
          },
          "locales": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of all supported locales."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "description": "Error code."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - invalid or missing API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found - no results for the given query.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too many requests - rate limit exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
