{
  "openapi": "3.0.3",
  "info": {
    "title": "Localytics Query API",
    "version": "1.0.0",
    "description": "Localytics Query API for analytics data retrieval including apps, attributes, and custom queries.",
    "x-jentic-source-url": "http://docs.localytics.com/dev/query-api.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.localytics.com/v1"
    }
  ],
  "paths": {
    "/v1": {
      "get": {
        "operationId": "getRoot",
        "summary": "API Root",
        "description": "Returns API hypermedia root with available links.",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps": {
      "get": {
        "operationId": "listApps",
        "summary": "List Apps",
        "description": "Returns list of accessible apps.",
        "tags": [
          "Apps"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}": {
      "get": {
        "operationId": "getApp",
        "summary": "Get App",
        "description": "Returns app object with name, ID, creation time, and usage statistics.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/attributes": {
      "get": {
        "operationId": "getAppAttributes",
        "summary": "Get App Attributes",
        "description": "Lists attributes in use, organized by event name.",
        "tags": [
          "Attributes"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/query": {
      "get": {
        "operationId": "executeQuery",
        "summary": "Execute Query",
        "description": "Executes analytics query with metrics, dimensions, and conditions.",
        "tags": [
          "Query"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Application ID (required for app queries)"
          },
          {
            "name": "profiledb_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Profile DB ID (required for profile queries)"
          },
          {
            "name": "metrics",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Metrics to retrieve"
          },
          {
            "name": "dimensions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Dimensions to group by"
          },
          {
            "name": "conditions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter conditions"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 0,
              "maximum": 396
            },
            "description": "Number of days of data"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sort order"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20000,
              "minimum": 1,
              "maximum": 20000
            },
            "description": "Result limit"
          },
          {
            "name": "comment",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query comment"
          },
          {
            "name": "translate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Translation option"
          },
          {
            "name": "sampling_ratio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            },
            "description": "Sampling ratio"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "App": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "usage": {
            "type": "object"
          }
        }
      },
      "AppListResponse": {
        "type": "object",
        "properties": {
          "apps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/App"
            }
          }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metrics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using API key and secret"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Apps"
    },
    {
      "name": "Attributes"
    },
    {
      "name": "General"
    },
    {
      "name": "Query"
    }
  ]
}
