{
  "openapi": "3.0.3",
  "info": {
    "title": "RESO Web API",
    "version": "2.0.0",
    "description": "RESO Web API standard based on OData V4 for real estate data exchange. Provides access to property listings, agents, and real estate data following RESO Data Dictionary standards.",
    "x-jentic-source-url": "https://www.reso.org/reso-web-api/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.reso.org/odata"
    }
  ],
  "paths": {
    "/Property": {
      "get": {
        "operationId": "listProperties",
        "summary": "List Properties",
        "description": "Query property listings using OData filter expressions.",
        "tags": [
          "Property"
        ],
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "OData filter expression"
          },
          {
            "name": "$select",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Fields to select"
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Max results"
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Skip results"
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Property('{listingKey}')": {
      "get": {
        "operationId": "getProperty",
        "summary": "Get Property by Listing Key",
        "tags": [
          "Property"
        ],
        "parameters": [
          {
            "name": "listingKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Property by Listing Key"
      }
    },
    "/Member": {
      "get": {
        "operationId": "listMembers",
        "summary": "List Members/Agents",
        "tags": [
          "Member"
        ],
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List Members/Agents"
      }
    },
    "/Office": {
      "get": {
        "operationId": "listOffices",
        "summary": "List Offices",
        "tags": [
          "Office"
        ],
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficeListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List Offices"
      }
    },
    "/Media": {
      "get": {
        "operationId": "listMedia",
        "summary": "List Media",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List Media"
      }
    },
    "/OpenHouse": {
      "get": {
        "operationId": "listOpenHouses",
        "summary": "List Open Houses",
        "tags": [
          "Open House"
        ],
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenHouseListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List Open Houses"
      }
    },
    "/$metadata": {
      "get": {
        "operationId": "getMetadata",
        "summary": "Get Service Metadata",
        "description": "Retrieve OData EDMX service metadata.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "OData metadata document",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Property": {
        "type": "object",
        "properties": {
          "ListingKey": {
            "type": "string"
          },
          "ListingId": {
            "type": "string"
          },
          "ListPrice": {
            "type": "number"
          },
          "StandardStatus": {
            "type": "string"
          },
          "PropertyType": {
            "type": "string"
          },
          "StreetNumber": {
            "type": "string"
          },
          "StreetName": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "StateOrProvince": {
            "type": "string"
          },
          "PostalCode": {
            "type": "string"
          },
          "BedroomsTotal": {
            "type": "integer"
          },
          "BathroomsTotalInteger": {
            "type": "integer"
          },
          "LivingArea": {
            "type": "number"
          },
          "ListAgentKey": {
            "type": "string"
          },
          "ListOfficeKey": {
            "type": "string"
          }
        }
      },
      "PropertyListResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Property"
            }
          },
          "@odata.count": {
            "type": "integer"
          },
          "@odata.nextLink": {
            "type": "string"
          }
        }
      },
      "MemberListResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "MemberKey": {
                  "type": "string"
                },
                "MemberFirstName": {
                  "type": "string"
                },
                "MemberLastName": {
                  "type": "string"
                },
                "MemberEmail": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "OfficeListResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "OfficeKey": {
                  "type": "string"
                },
                "OfficeName": {
                  "type": "string"
                },
                "OfficePhone": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MediaListResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "MediaKey": {
                  "type": "string"
                },
                "MediaURL": {
                  "type": "string"
                },
                "ResourceName": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "OpenHouseListResponse": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "OpenHouseKey": {
                  "type": "string"
                },
                "ListingKey": {
                  "type": "string"
                },
                "OpenHouseDate": {
                  "type": "string",
                  "format": "date"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Media"
    },
    {
      "name": "Member"
    },
    {
      "name": "Metadata"
    },
    {
      "name": "Office"
    },
    {
      "name": "Open House"
    },
    {
      "name": "Property"
    }
  ]
}
