{
  "openapi": "3.0.3",
  "info": {
    "title": "Craftgate Payment API",
    "description": "Craftgate API for alternative payment methods including Kaspi, PayPal, Klarna, and others",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer.craftgate.io/en/alternative-payment-methods/kaspi/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.craftgate.io",
      "description": "Production server"
    },
    {
      "url": "https://sandbox-api.craftgate.io",
      "description": "Sandbox server"
    }
  ],
  "paths": {
    "/payment/v1/apm-payments/init": {
      "post": {
        "summary": "Initialize APM payment",
        "description": "Initiates a payment using an alternative payment method (APM) such as Kaspi, PayPal, Klarna, etc.",
        "operationId": "initApmPayment",
        "tags": [
          "Payments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "apmType",
                  "price",
                  "paidPrice",
                  "currency",
                  "paymentGroup",
                  "items"
                ],
                "properties": {
                  "apmType": {
                    "type": "string",
                    "description": "Alternative payment method type",
                    "enum": [
                      "PAYONEER",
                      "SODEXO",
                      "EDENRED",
                      "ALIPAY",
                      "PAYPAL",
                      "KLARNA",
                      "AFTERPAY",
                      "STRIPE",
                      "KASPI",
                      "BIZUM"
                    ],
                    "example": "KASPI"
                  },
                  "price": {
                    "type": "number",
                    "format": "decimal",
                    "description": "Total basket amount",
                    "example": 100.0
                  },
                  "paidPrice": {
                    "type": "number",
                    "format": "decimal",
                    "description": "Final amount to be collected",
                    "example": 100.0
                  },
                  "currency": {
                    "type": "string",
                    "description": "Payment currency",
                    "enum": [
                      "TRY",
                      "USD",
                      "EUR",
                      "GBP",
                      "CNY"
                    ],
                    "example": "USD"
                  },
                  "paymentGroup": {
                    "type": "string",
                    "description": "Payment group type",
                    "enum": [
                      "PRODUCT",
                      "LISTING_OR_SUBSCRIPTION"
                    ],
                    "example": "PRODUCT"
                  },
                  "callbackUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Merchant's callback endpoint for payment status",
                    "example": "https://merchant.com/callback"
                  },
                  "conversationId": {
                    "type": "string",
                    "description": "Merchant conversation ID for tracking",
                    "example": "conversation-123"
                  },
                  "items": {
                    "type": "array",
                    "description": "Payment items",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "price"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Item name",
                          "example": "Product 1"
                        },
                        "price": {
                          "type": "number",
                          "format": "decimal",
                          "description": "Item price",
                          "example": 100.0
                        }
                      }
                    }
                  },
                  "buyerMemberId": {
                    "type": "string",
                    "description": "Buyer member identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment initialized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paymentId": {
                      "type": "string",
                      "description": "Transaction identifier"
                    },
                    "paymentStatus": {
                      "type": "string",
                      "description": "Payment status",
                      "enum": [
                        "FAILURE",
                        "SUCCESS",
                        "INIT_THREEDS",
                        "CALLBACK_THREEDS",
                        "WAITING"
                      ]
                    },
                    "additionalAction": {
                      "type": "string",
                      "description": "Action required",
                      "enum": [
                        "REDIRECT_TO_URL",
                        "OTP_REQUIRED",
                        "NONE"
                      ]
                    },
                    "redirectUrl": {
                      "type": "string",
                      "description": "APM provider's redirect link if applicable"
                    },
                    "conversationId": {
                      "type": "string",
                      "description": "Merchant conversation ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment/v1/apm-payments/complete": {
      "post": {
        "summary": "Complete APM payment",
        "description": "Completes an alternative payment method transaction",
        "operationId": "completeApmPayment",
        "tags": [
          "Payments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "paymentId"
                ],
                "properties": {
                  "paymentId": {
                    "type": "string",
                    "description": "Payment identifier from initiation"
                  },
                  "additionalParams": {
                    "type": "object",
                    "description": "Provider-specific completion data",
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paymentId": {
                      "type": "string",
                      "description": "Payment identifier"
                    },
                    "paymentStatus": {
                      "type": "string",
                      "description": "Final payment status",
                      "enum": [
                        "SUCCESS",
                        "FAILURE"
                      ]
                    },
                    "conversationId": {
                      "type": "string",
                      "description": "Merchant conversation ID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment/v1/apm-payments/{paymentId}": {
      "get": {
        "summary": "Retrieve APM payment",
        "description": "Retrieves details of an alternative payment method transaction",
        "operationId": "getApmPayment",
        "tags": [
          "Payments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Payment identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "paymentId": {
                      "type": "string",
                      "description": "Payment identifier"
                    },
                    "paymentStatus": {
                      "type": "string",
                      "description": "Payment status"
                    },
                    "price": {
                      "type": "number",
                      "description": "Payment amount"
                    },
                    "currency": {
                      "type": "string",
                      "description": "Payment currency"
                    },
                    "apmType": {
                      "type": "string",
                      "description": "Payment method type"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "description": "Error code"
          },
          "errorDescription": {
            "type": "string",
            "description": "Error description"
          },
          "errorGroup": {
            "type": "string",
            "description": "Error group"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Payments",
      "description": "Alternative payment method operations"
    }
  ]
}
