{
  "openapi": "3.0.0",
  "info": {
    "title": "API Serviço de Movimentação Beneficiarios",
    "description": "Esta API é responsável pela gestão do cadastro do beneficiário. Ela é mantida pela equipe de TI da Unimed Brasil.\n# Observações Importantes\n- Esta API é de uso exclusivo das Unimeds Singulares.\n- O funcionamento dos recursos desta API somente ocorrerá mediante o envio do access token gerado previamente com o uso de `CLIENT_ID` e `CLIENT_SECRET`.\n- Todos os campos de data e data/hora seguem o padrão ISO-8601.\n- Todos os campos do tipo boolean podem ser enviados como `true` ou `false`, ou também como `1` ou `0`. `true` e `1` significam \"Verdadeiro\", enquanto `false` e `0` significam \"Falso\".\n- Abaixo temos uma relação das mensagens de erro (codigoMensagem - descricaoMensagem) que podem ser retornados pelos endpoints desta API. O campo descricaoMensagem contém o detalhe exato do problema ocorrido. Os códigos da família 400 são validações na estrutura do payload, enquanto os códigos da família 422 são validações de negócio.\n  - `400.001` - O campo `{0}` é obrigatório.\n  - `400.002` - O valor informado para o campo `{0}` é inválido.\n  - `400.003` - O campo `{0}` não aceita sequência de números, espaços ou caracteres especiais.\n  - `400.004` - O campo `{0}` não aceita sequência de zeros, espaços ou caracteres especiais.\n  - `400.005` - O campo `{0}` não possui dígito verificador válido.\n  - `400.006` - O campo `{0}` só aceita dígitos.\n  - `400.007` - O campo `{0}` não aceita apenas zeros.\n  - `400.008` - O campo `{0}` não aceita caracteres especiais.\n  - `400.009` - O campo `{0}` não aceita alguns caracteres especiais, somente `{1}` são aceitos.\n  - `400.010` - O campo `{0}` não possui a quantidade de caracteres esperada.\n  - `400.011` - O campo `{0}` excedeu o tamanho máximo permitido.\n  - `400.012` - O campo `{0}` não atingiu o tamanho mínimo permitido.\n  - `400.013` - O campo beneficiarios deve conter no máximo `{0}` registros.\n  - `400.014` - O campo `{0}` está no formato incorreto.    \n  - `422.001` - Beneficiário não encontrado.\n  - `422.002` - O campo `{0}` deve conter `{1}` caracteres.\n  - `422.003` - Informar ou CNPJ, ou o CAEPF da empresa contratante.\n  - `422.004` - Código Unimed inválido no campo `{0}`.\n  - `422.005` - O valor fornecido para o campo `{0}` já existe na base de dados.\n  - `422.006` - O campo `{0}` não deve ser anterior a `{1}`.\n  - `422.007` - `{0}` não deve ser posterior a `{1}`.\n  - `422.008` - `{0}` é obrigatório quando `{1}` estiver preenchido.\n  - `422.009` - `{0}` são obrigatórios quando um deles estiver preenchido.\n  - `422.010` - Pelo menos um dos campos deve estar preenchido: `{0}`.\n  - `422.011` - A URL da Unimed de destino não está configurada para o fluxo de compartilhamento de risco.\n  - `422.012` - CarteirinhaBeneficiarioTitular não existe na base de dados ou não corresponde a um titular. Falha ao cadastrar dependente.\n  - `422.013` - `{0}` deve ser `{1}`, quando `{2}` for `{3}`.\n  - `422.014` - O campo `{0}` não é valido.\n  - `422.015` - O codigoControleUnimedBrasil não corresponde ao beneficiário informado.\n  - `422.016` - `{0}` são obrigatórios quando `{1}`.\n  - `422.017` - `{0}` obrigatório quando o campo `{1}` for `{2}`.\n  - `422.018` - Só um pode ser true: {0}.\n  - `422.019` - O campo `{0}` é inválido, pois contém termos inapropriados.\n  - `422.020` - `{0}` com valor `{1}` é inválido conforme a tabela `{2}`.\n  - `422.021` - `{0}` não pode ser validado, pois `{1}` está indisponível.\n  - `422.022` - O campo `{0}` não aceita sequência de zeros, espaços ou caracteres especiais.\n  - `422.023` - Atualização não realizada. Os valores fornecidos já estão registrados na base de dados.\n  - `422.024` - A integração com o armazenamento de dados das transações não está configurada.\n  - `422.025` - A transação de código `{0}` já foi processada para a Unimed `{1}`.\n  - `422.026` - O campo `{0}` não aceita palavras com apenas uma letra.\n  - `422.027` - O campo `{0}` só aceita letras.\n  - `422.028` - O campo `{0}` não aceita sequência de espaços em branco.\n  - `422.029` - O campo `{0}` é obrigatório.\n  - `422.030` - As datas informadas são inválidas.\n  - `422.031` - O campo codigoControleUnimedBrasil não está vinculado à carteirinha informada.\n  - `422.032` - Beneficiário provisório não pode ser atualizado.\n  - `422.033` - A diferença entre a dataInicio e dataFim não pode ser superior a 3 meses.\n  - `422.034` - O campo carteirinhaCompRisco gerado pela Unimed `{0}` é inválido.\n  - `422.035` - O campo `{0}` é obrigatório e não pode ser excluído dos dados do beneficiário.\n  - `422.036` - O campo carteirinhaBeneficiario e carteirinhaBeneficiarioTitular não devem ser iguais para beneficiários dependentes.\n  - `422.037` - O campo `{0}` é obrigatório quando Autogestão, APS, Saúde Ocup., Acid. Trab. forem falsos.\n  - `422.038` - Campo codigoVersaoPTU inválido. A versão 11 já está disponível e deve ser utilizada.\n  - `422.039` - Somente um dos campos deve estar preenchido: `{0}`.\n  - `422.040` - Inscrição inválida entre empresa matriz e filial.\n  - `422.041` - Houve um problema na integração com o VCOM.    \n  - `500.001` - Erro inesperado ao processar a requisição.\n  - `500.002` - Falha ao integrar com Unimed de destino.\n",
    "version": "1.0.0",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "contact": {
      "name": "Unimed Brasil",
      "email": "api@unimedbrasil.coop.br",
      "url": "http://unimed.coop.br"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/FLAVIAMARCO/api-servico_de_movimentacao_beneficiarios/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://gateway-sandbox.unimed.coop.br/cadbenef-online/v1",
      "description": "Sandbox"
    },
    {
      "url": "https://ua-gateway-hml.unimed.coop.br/cadbenef-online/v1",
      "description": "HML (mTLS)"
    },
    {
      "url": "https://gateway-hml2.unimed.coop.br/cadbenef-online/v1",
      "description": "HML2"
    },
    {
      "url": "https://ua-gateway.unimed.coop.br/cadbenef-online/v1",
      "description": "Produção (mTLS)"
    }
  ],
  "paths": {
    "/beneficiarios": {
      "post": {
        "tags": [
          "Beneficiário"
        ],
        "description": "Recurso responsável pelo cadastro do beneficiário. O novo beneficiário será persistido na aplicação.",
        "operationId": "postBeneficiarios",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBeneficiariosRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Beneficiário cadastrado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SucessoPost"
                }
              }
            }
          },
          "400": {
            "description": "Erro - A requisição foi malformada, omitindo atributos necessários, seja no payload ou através de atributos no header ou na URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroPost"
                }
              }
            }
          },
          "401": {
            "description": "Erro - Cabeçalho de autenticação ausente/inválido ou token inválido."
          },
          "405": {
            "description": "Erro - O consumidor tentou acessar o recurso com um método que não existe."
          },
          "422": {
            "description": "Erro - Erro de negócio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroPost"
                }
              }
            }
          },
          "429": {
            "description": "Erro - A operação foi recusada, por exceder o limite de chamadas feitas dentro de um determinado período ou o limite de requisições concorrentes foi atingido."
          },
          "500": {
            "description": "Erro - Erro do servidor, ocorreu um erro no gateway da API ou no microsserviço."
          },
          "504": {
            "description": "Erro - A requisição não foi atendida dentro do tempo limite estabelecido, gateway timeout."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/beneficiarios/{carteirinha}": {
      "patch": {
        "tags": [
          "Beneficiário"
        ],
        "description": "Recurso responsável por atualizar os dados de um beneficiário. O beneficiário que irá sofrer a alteração precisa ser identificado pelo numero da carteirinha.",
        "operationId": "patchBeneficiarios",
        "parameters": [
          {
            "name": "carteirinha",
            "in": "path",
            "description": "Número da carteirinha",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 17,
              "maximum": 17
            },
            "example": "01234567890123456"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchBeneficiariosRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SucessoPatch"
                }
              }
            }
          },
          "400": {
            "description": "Erro - A requisição foi malformada, omitindo atributos necessários, seja no payload ou através de atributos no header ou na URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroPatch"
                }
              }
            }
          },
          "401": {
            "description": "Erro - Cabeçalho de autenticação ausente/inválido ou token inválido."
          },
          "405": {
            "description": "Erro - O consumidor tentou acessar o recurso com um método que não existe."
          },
          "422": {
            "description": "Erro - Erro de negócio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroPatch"
                }
              }
            }
          },
          "429": {
            "description": "Erro - A operação foi recusada, por exceder o limite de chamadas feitas dentro de um determinado período ou o limite de requisições concorrentes foi atingido."
          },
          "500": {
            "description": "Erro - Erro do servidor, ocorreu um erro no gateway da API ou no microsserviço."
          },
          "504": {
            "description": "Erro - A requisição não foi atendida dentro do tempo limite estabelecido, gateway timeout."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Beneficiário"
        ],
        "description": "Recurso responsável por desativar/desabilitar o cadastro do beneficiário.",
        "operationId": "deleteBeneficiarios",
        "parameters": [
          {
            "name": "carteirinha",
            "in": "path",
            "description": "Número da carteirinha",
            "required": true,
            "schema": {
              "type": "string",
              "minimum": 17,
              "maximum": 17
            },
            "example": "01234567890123456"
          },
          {
            "name": "codigoControleTransacao",
            "in": "query",
            "description": "Código de transação do PTU",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 99999999999999999999
            },
            "example": "865"
          },
          {
            "name": "codigoUnimedOrigem",
            "in": "query",
            "description": "Código da Unimed origem do envio de arquivo",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 9999
            },
            "example": 865
          },
          {
            "name": "codigoControleUnimedBrasil",
            "in": "query",
            "description": "Código de controle Unimed do Brasil",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "maximum": 99999999999999999,
              "minLength": 17,
              "maxLength": 17,
              "description": "Código de controle Unimed do Brasil."
            },
            "example": 99900102345678946
          },
          {
            "name": "motivoExclusaoBeneficiario",
            "in": "query",
            "description": "Motivo de exclusão do beneficiário",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "enum": [
                "01",
                "02",
                "03",
                "04",
                "05",
                "06",
                "07",
                "08"
              ],
              "example": "06"
            }
          },
          {
            "name": "dataExclusaoBeneficiario",
            "in": "query",
            "description": "Data de exclusão do beneficiário na Unimed",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-04-02"
            }
          },
          {
            "name": "dataFimVigencia",
            "in": "query",
            "description": "Data de fim de vigência do plano Unimed com o beneficiário",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-04-02"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removido com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SucessoDelete"
                }
              }
            }
          },
          "400": {
            "description": "Erro - A requisição foi malformada, omitindo atributos necessários, seja no payload ou através de atributos no header ou na URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroDelete"
                }
              }
            }
          },
          "401": {
            "description": "Erro - Cabeçalho de autenticação ausente/inválido ou token inválido."
          },
          "405": {
            "description": "Erro - O consumidor tentou acessar o recurso com um método que não existe."
          },
          "422": {
            "description": "Erro - Erro de negócio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErroDelete"
                }
              }
            }
          },
          "429": {
            "description": "Erro - A operação foi recusada, por exceder o limite de chamadas feitas dentro de um determinado período ou o limite de requisições concorrentes foi atingido."
          },
          "500": {
            "description": "Erro - Erro do servidor, ocorreu um erro no gateway da API ou no microsserviço."
          },
          "504": {
            "description": "Erro - A requisição não foi atendida dentro do tempo limite estabelecido, gateway timeout."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/oauth/v1/access-token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "SucessoPost": {
        "type": "object",
        "required": [
          "dadosBeneficiario"
        ],
        "properties": {
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "carteirinhaBeneficiario",
              "codigoControleUnimedBrasil",
              "statusProcessamento"
            ],
            "properties": {
              "carteirinhaBeneficiario": {
                "type": "string",
                "description": "Carteirinha do beneficiário",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "codigoControleUnimedBrasil": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "maximum": 99999999999999999,
                "minLength": 17,
                "maxLength": 17,
                "description": "Código de controle Unimed do Brasil",
                "example": 99900102345678946
              },
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "S"
                    },
                    "codigoMensagem": {
                      "type": "string",
                      "example": "200.001"
                    },
                    "descricaoMensagem": {
                      "type": "string",
                      "example": "Beneficiário incluído"
                    }
                  }
                }
              }
            }
          },
          "compartilhamentoRisco": {
            "type": "object",
            "required": [
              "carteirinhaCompartRisco",
              "statusProcessamento"
            ],
            "properties": {
              "carteirinhaCompartRisco": {
                "type": "string",
                "example": "01234567890123456"
              },
              "viaCartao": {
                "type": "integer",
                "example": 1
              },
              "dataValidadeCartao": {
                "type": "string",
                "format": "date",
                "example": "2024-04-02"
              },
              "nomeEmpresa": {
                "type": "string",
                "example": "Lorem ipsum aliquet eget litorv avsvsrnm"
              },
              "dataInicioVigencia": {
                "type": "string",
                "format": "date",
                "example": "2023-04-02"
              },
              "tipoAbrangencia": {
                "type": "integer",
                "example": 2
              },
              "tipoContratacao": {
                "type": "integer",
                "example": 2
              },
              "tipoRegistroPlanoAns": {
                "type": "integer",
                "example": 1
              },
              "codigoRegistroPlanoAns": {
                "type": "string",
                "example": "12345678901234567890"
              },
              "segmentacaoPlano": {
                "type": "string",
                "example": "4"
              },
              "codigoRedeReferenciada": {
                "type": "string",
                "example": "NA09"
              },
              "codigoLocalAtendimento": {
                "type": "integer",
                "example": 123
              },
              "indicadorCoberturaParcialTemporaria": {
                "type": "boolean",
                "example": true
              },
              "dataFimCoberturaParcialTemporaria": {
                "type": "string",
                "format": "date",
                "example": "2024-04-02"
              },
              "nomeProduto": {
                "type": "string",
                "example": "Lorem ipsum dicttrçã tempor, primis qewffr wtehry qegehojefj\","
              },
              "tipoRede": {
                "type": "integer",
                "example": 1
              },
              "complemento1": {
                "type": "string",
                "example": "Lorem ipsum porttitor integer fermentum morbi"
              },
              "complemento2": {
                "type": "string",
                "example": "Lorem ipsum porttitor integer fermentum morbi"
              },
              "abrangencias": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigoMunicipio": {
                      "type": "integer",
                      "example": 3547809
                    },
                    "codigoUf": {
                      "type": "string",
                      "example": "35"
                    }
                  }
                }
              },
              "carencias": {
                "type": "array",
                "items": {
                  "required": [
                    "dataFimCarencia",
                    "tipoCobertura"
                  ],
                  "type": "object",
                  "properties": {
                    "tipoCobertura": {
                      "type": "string",
                      "example": "009"
                    },
                    "dataFimCarencia": {
                      "type": "string",
                      "format": "date",
                      "example": "2024-04-02"
                    }
                  }
                }
              },
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "S"
                    },
                    "codigoMensagem": {
                      "type": "string",
                      "example": "200.001"
                    },
                    "descricaoMensagem": {
                      "type": "string",
                      "example": "Beneficiário incluído"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SucessoPatch": {
        "type": "object",
        "required": [
          "dadosBeneficiario"
        ],
        "properties": {
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "carteirinhaBeneficiario",
              "codigoControleUnimedBrasil",
              "statusProcessamento"
            ],
            "properties": {
              "carteirinhaBeneficiario": {
                "type": "string",
                "description": "Carteirinha do beneficiário",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "codigoControleUnimedBrasil": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "maximum": 99999999999999999,
                "minLength": 17,
                "maxLength": 17,
                "description": "Código de controle Unimed do Brasil",
                "example": 99900102345678946
              },
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "S"
                    },
                    "codigoMensagem": {
                      "type": "string",
                      "example": "200.002"
                    },
                    "descricaoMensagem": {
                      "type": "string",
                      "example": "Beneficiário atualizado"
                    }
                  }
                }
              }
            }
          },
          "compartilhamentoRisco": {
            "type": "object",
            "required": [
              "carteirinhaCompartRisco",
              "statusProcessamento"
            ],
            "properties": {
              "carteirinhaCompartRisco": {
                "type": "string",
                "example": "01234567890123456"
              },
              "viaCartao": {
                "type": "integer",
                "example": 1
              },
              "dataValidadeCartao": {
                "type": "string",
                "format": "date",
                "example": "2024-04-02"
              },
              "nomeEmpresa": {
                "type": "string",
                "example": "Lorem ipsum aliquet eget litorv avsvsrnm"
              },
              "dataInicioVigencia": {
                "type": "string",
                "format": "date",
                "example": "2023-04-02"
              },
              "tipoAbrangencia": {
                "type": "integer",
                "example": 2
              },
              "tipoContratacao": {
                "type": "integer",
                "example": 2
              },
              "tipoRegistroPlanoAns": {
                "type": "integer",
                "example": 1
              },
              "codigoRegistroPlanoAns": {
                "type": "string",
                "example": "12345678901234567890"
              },
              "segmentacaoPlano": {
                "type": "string",
                "example": "4"
              },
              "codigoRedeReferenciada": {
                "type": "string",
                "example": "NA09"
              },
              "codigoLocalAtendimento": {
                "type": "integer",
                "example": 123
              },
              "indicadorCoberturaParcialTemporaria": {
                "type": "boolean",
                "example": true
              },
              "dataFimCoberturaParcialTemporaria": {
                "type": "string",
                "format": "date",
                "example": "2024-04-02"
              },
              "nomeProduto": {
                "type": "string",
                "example": "Lorem ipsum dicttrçã tempor, primis qewffr wtehry qegehojefj\","
              },
              "tipoRede": {
                "type": "integer",
                "example": 1
              },
              "complemento1": {
                "type": "string",
                "example": "Lorem ipsum porttitor integer fermentum morbi"
              },
              "complemento2": {
                "type": "string",
                "example": "Lorem ipsum porttitor integer fermentum morbi"
              },
              "abrangencias": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigoMunicipio": {
                      "type": "integer",
                      "example": 3547809
                    },
                    "codigoUf": {
                      "type": "string",
                      "example": "35"
                    }
                  }
                }
              },
              "carencias": {
                "type": "array",
                "items": {
                  "required": [
                    "dataFimCarencia",
                    "tipoCobertura"
                  ],
                  "type": "object",
                  "properties": {
                    "tipoCobertura": {
                      "type": "string",
                      "example": "009"
                    },
                    "dataFimCarencia": {
                      "type": "string",
                      "format": "date",
                      "example": "2024-04-02"
                    }
                  }
                }
              },
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "S"
                    },
                    "codigoMensagem": {
                      "type": "string",
                      "example": "200.002"
                    },
                    "descricaoMensagem": {
                      "type": "string",
                      "example": "Beneficiário atualizado"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SucessoDelete": {
        "type": "object",
        "required": [
          "dadosBeneficiario"
        ],
        "properties": {
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "carteirinhaBeneficiario",
              "codigoControleUnimedBrasil",
              "statusProcessamento"
            ],
            "properties": {
              "carteirinhaBeneficiario": {
                "type": "string",
                "description": "Carteirinha do beneficiário",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "codigoControleUnimedBrasil": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "maximum": 99999999999999999,
                "minLength": 17,
                "maxLength": 17,
                "description": "Código de controle Unimed do Brasil",
                "example": 99900102345678946
              },
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "S"
                    },
                    "codigoMensagem": {
                      "type": "string",
                      "example": "200.003"
                    },
                    "descricaoMensagem": {
                      "type": "string",
                      "example": "Beneficiário removido"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErroPost": {
        "type": "object",
        "required": [
          "dadosBeneficiario"
        ],
        "properties": {
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "statusProcessamento"
            ],
            "properties": {
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "E"
                    },
                    "codigoMensagem": {
                      "type": "string"
                    },
                    "descricaoMensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "compartilhamentoRisco": {
            "type": "object",
            "required": [
              "statusProcessamento"
            ],
            "properties": {
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "E"
                    },
                    "codigoMensagem": {
                      "type": "string"
                    },
                    "descricaoMensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErroPatch": {
        "type": "object",
        "required": [
          "dadosBeneficiario"
        ],
        "properties": {
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "statusProcessamento"
            ],
            "properties": {
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "E"
                    },
                    "codigoMensagem": {
                      "type": "string"
                    },
                    "descricaoMensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "compartilhamentoRisco": {
            "type": "object",
            "required": [
              "statusProcessamento"
            ],
            "properties": {
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "E"
                    },
                    "codigoMensagem": {
                      "type": "string"
                    },
                    "descricaoMensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErroDelete": {
        "type": "object",
        "required": [
          "dadosBeneficiario"
        ],
        "properties": {
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "statusProcessamento"
            ],
            "properties": {
              "statusProcessamento": {
                "type": "array",
                "items": {
                  "required": [
                    "status",
                    "codigoMensagem",
                    "descricaoMensagem"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "E"
                    },
                    "codigoMensagem": {
                      "type": "string"
                    },
                    "descricaoMensagem": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PostBeneficiariosRequest": {
        "type": "object",
        "required": [
          "cabecalho",
          "dadosBeneficiario",
          "dadosPessoa"
        ],
        "properties": {
          "cabecalho": {
            "type": "object",
            "required": [
              "codigoControleTransacao",
              "codigoVersaoPTU",
              "unimed",
              "dataGeracao"
            ],
            "properties": {
              "codigoControleTransacao": {
                "type": "integer",
                "description": "Código de transação do PTU",
                "format": "int64",
                "minimum": 0,
                "maximum": 99999999999999999999,
                "example": "01234567890123456789"
              },
              "codigoVersaoPTU": {
                "type": "string",
                "description": "Código da Versão do PTU trafegando",
                "minimum": 0,
                "maximum": 999,
                "example": "011"
              },
              "unimed": {
                "type": "object",
                "required": [
                  "codigoUnimedOrigem",
                  "codigoUnimedDestino"
                ],
                "properties": {
                  "codigoUnimedOrigem": {
                    "type": "integer",
                    "description": "Código da Unimed origem do envio de arquivo",
                    "format": "int32",
                    "minimum": 1,
                    "maximum": 9999,
                    "example": 865
                  },
                  "codigoUnimedDestino": {
                    "type": "integer",
                    "description": "Código da Unimed destino para envio de arquivo",
                    "format": "int32",
                    "minimum": 1,
                    "maximum": 9999,
                    "example": 999
                  }
                }
              },
              "dataGeracao": {
                "type": "string",
                "description": "Data de geração do arquivo de envio",
                "format": "date-time",
                "example": "2023-04-02T09:06:05-03:00"
              },
              "protocoloProspeccao": {
                "type": "integer",
                "description": "Protocolo VCOM - tipo prospecção",
                "format": "int64",
                "minimum": 0,
                "maximum": 99999999999999999999,
                "example": "12345678901234567890"
              },
              "protocoloContrato": {
                "type": "integer",
                "description": "Protocolo VCOM - tipo contrato",
                "format": "int64",
                "minimum": 0,
                "maximum": 99999999999999999999,
                "example": "12345678901234567890"
              }
            }
          },
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "carteirinhaBeneficiario",
              "indicadorSib",
              "indicadorRemido",
              "indicadorAutoGestao",
              "indicadorBeneficiarioCooperado",
              "dataInclusaoUnimed",
              "indicadorExcRN561",
              "indicadorNato"
            ],
            "properties": {
              "carteirinhaBeneficiario": {
                "type": "string",
                "description": "Carteirinha do beneficiário",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "codigoFamiliaBenef": {
                "type": "integer",
                "description": "Código da Família do Beneficiário.",
                "format": "int32",
                "minimum": 1,
                "maximum": 999999,
                "example": 5349
              },
              "codigoDependenciaBeneficiario": {
                "type": "string",
                "description": "Código da Dependência do Beneficiário",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "00",
                  "01",
                  "02",
                  "10",
                  "50",
                  "52",
                  "60",
                  "70",
                  "75",
                  "80",
                  "90"
                ],
                "example": "00"
              },
              "carteirinhaBeneficiarioTitular": {
                "type": "string",
                "description": "Carteirinha do beneficiário titular",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "numeroPlanoPortabilidade": {
                "type": "string",
                "description": "Número do Código do Plano de Origem (portabilidade)",
                "minimum": 1,
                "maximum": 20,
                "example": "01234567890123456789"
              },
              "indicadorSib": {
                "type": "boolean",
                "description": "Código Sib (Código do beneficiario no Sistema de Informações de Beneficiários da ANS)",
                "example": true
              },
              "indicadorRemido": {
                "type": "boolean",
                "description": "Indica se o beneficiário é remido: usuário dependente de plano de saúde com continuidade do atendimento assistencial após a morte do titular com isenção de mensalidade",
                "example": false
              },
              "indicadorAutoGestao": {
                "type": "boolean",
                "description": "Indica se o beneficiário é de auto gestão.",
                "example": false
              },
              "codigoAutoGestaoAns": {
                "type": "integer",
                "description": "Código da Autogestão junto a ANS",
                "format": "int64",
                "minimum": 1,
                "maximum": 9999999999,
                "example": "0123456789"
              },
              "indicadorBeneficiarioCooperado": {
                "type": "boolean",
                "description": "Indicador se o beneficiário é um cooperado",
                "example": false
              },
              "dadosCooperado": {
                "type": "object",
                "required": [
                  "codigoCrm",
                  "codigoUfConselho"
                ],
                "properties": {
                  "codigoCrm": {
                    "type": "string",
                    "description": "Número do CRM do médico cooperado",
                    "minLength": 0,
                    "maxLength": 15,
                    "example": "012345678901234"
                  },
                  "codigoUfConselho": {
                    "type": "string",
                    "description": "Código da Unidade Federativa do médico coopera codificação do IBGE",
                    "minLength": 2,
                    "maxLength": 2,
                    "example": "35"
                  }
                }
              },
              "dataInclusaoUnimed": {
                "type": "string",
                "description": "Data de inclusão do beneficiário na Unimed",
                "format": "date",
                "example": "2024-04-02"
              },
              "dataExclusaoBeneficiario": {
                "type": "string",
                "description": "Data de exclusão do beneficiário na Unimed",
                "format": "date",
                "example": "2024-04-02"
              },
              "motivoExclusaoBeneficiario": {
                "type": "string",
                "description": "Motivo de exclusão",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "01",
                  "02",
                  "03",
                  "04",
                  "05",
                  "06",
                  "07",
                  "08"
                ],
                "example": "06"
              },
              "codigoPlanoInter": {
                "type": "string",
                "description": "Código do Plano de Intercâmbio do Beneficiário",
                "minLength": 1,
                "maxLength": 3,
                "example": "123"
              },
              "numeroMatricula": {
                "type": "string",
                "description": "Número da matrícula/funcional na empresa.",
                "minLength": 1,
                "maxLength": 20,
                "example": "01234567890123456789"
              },
              "codigoLotacao": {
                "type": "string",
                "description": "Código da lotação do beneficiário",
                "minLength": 1,
                "maxLength": 8,
                "example": "01234567"
              },
              "descricaoLotacao": {
                "type": "string",
                "description": "Descrição da lotação do beneficiário",
                "minLength": 3,
                "maxLength": 30,
                "example": "Lorem ipsum aliquet eget litor"
              },
              "dataInclusaoPlanoDestino": {
                "type": "string",
                "description": "Data de Inclusão no Plano Destino (Intercâmbio).",
                "format": "date",
                "example": "2024-04-02"
              },
              "indicadorExcRN561": {
                "type": "boolean",
                "description": "Indicador de exclusão proveniente da RN561",
                "example": true
              },
              "indicadorNato": {
                "type": "boolean",
                "description": "Identificador de Recém-Nato",
                "example": true
              },
              "valorMensalidade": {
                "type": "integer",
                "format": "decimal",
                "description": "Valor mensalidade",
                "example": 1650.25
              },
              "rendaMensal": {
                "type": "integer",
                "format": "decimal",
                "description": "Renda mensal",
                "example": 10050.1
              },
              "carteirinhaAnterior": {
                "type": "string",
                "description": "Carteirinha anterior do beneficiário",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "idFilho": {
                "type": "string",
                "description": "Codigo do tipo de filho",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "01",
                  "02",
                  "99"
                ],
                "example": "01"
              },
              "produtoAgregado": {
                "type": "array",
                "items": {
                  "required": [
                    "tipoProduto"
                  ],
                  "type": "object",
                  "properties": {
                    "tipoProduto": {
                      "type": "string",
                      "description": "Tipo do Produto",
                      "minLength": 1,
                      "maxLength": 2,
                      "example": "1a"
                    },
                    "descricaoProduto": {
                      "type": "string",
                      "description": "Mensagem livre da Origem",
                      "minLength": 0,
                      "maxLength": 20,
                      "example": "Lorem ipsum aliquet "
                    },
                    "codigoUnimedDestino": {
                      "type": "integer",
                      "description": "Código da Unimed destino para envio de arquivo",
                      "format": "int32",
                      "minimum": 1,
                      "maximum": 9999,
                      "example": 865
                    },
                    "codigoPlanoDestino": {
                      "type": "integer",
                      "description": "Código do plano da Unimed Destino",
                      "format": "int32",
                      "minimum": 1,
                      "maximum": 999999,
                      "example": 975543
                    },
                    "dataRepasseUnimedDestino": {
                      "type": "string",
                      "description": "Data de repasse a Unimed Destino",
                      "format": "date",
                      "example": "2024-09-02"
                    },
                    "dataInicioVigenciaProduto": {
                      "type": "string",
                      "description": "Data inicio de vigência de produto",
                      "format": "date",
                      "example": "2024-09-02"
                    },
                    "dataFimVigenciaProduto": {
                      "type": "string",
                      "description": "Data fim de vigência de produto",
                      "format": "date",
                      "example": "2024-12-02"
                    }
                  }
                }
              },
              "preexistencia": {
                "type": "array",
                "items": {
                  "required": [
                    "codigoCID",
                    "dataFimCarencia"
                  ],
                  "type": "object",
                  "properties": {
                    "codigoCID": {
                      "type": "string",
                      "description": "Código do CID da Preexistência",
                      "minLength": 3,
                      "maxLength": 4,
                      "example": "Z357"
                    },
                    "codigoTUSS": {
                      "type": "string",
                      "description": "Codigo TUSS",
                      "minLength": 1,
                      "maxLength": 20,
                      "example": "01234567890123456789"
                    },
                    "dataFimCarencia": {
                      "type": "string",
                      "description": "Data final da carência para a cobertura",
                      "format": "date",
                      "example": "2024-04-02"
                    }
                  }
                }
              }
            }
          },
          "dadosEmpresaContratante": {
            "type": "object",
            "required": [
              "tipoEmpresa"
            ],
            "properties": {
              "tipoEmpresa": {
                "type": "object",
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "description": "Código do CNPJ",
                    "maxLength": 14,
                    "example": "12345678901234"
                  },
                  "caepf": {
                    "type": "string",
                    "description": "Código do CAEPF (Cadastro de Atividade Econômica Pessoa Física)",
                    "maxLength": 14,
                    "example": "12345678901234"
                  }
                }
              },
              "empresaMatriz": {
                "type": "object",
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "description": "Código do CNPJ - Empresa matriz",
                    "maxLength": 14,
                    "example": "12345678901234"
                  },
                  "caepf": {
                    "type": "string",
                    "description": "Código do CAEPF - Empresa matriz",
                    "maxLength": 14,
                    "example": "12345678901234"
                  }
                }
              },
              "nomeEmpresa": {
                "type": "string",
                "description": "Nome completo da Empresa (Razão Social)",
                "minLength": 3,
                "maxLength": 40,
                "example": "Lorem ipsum aliquet eget litorv avsvsrnm"
              },
              "nomeFantasiaEmpresa": {
                "type": "string",
                "description": "Nome fantasia da Empresa",
                "minLength": 3,
                "maxLength": 40,
                "example": "Lorem ipsum aliquet eget litorv avsvsrnm"
              },
              "nomeEmpresaAbreviado": {
                "type": "string",
                "description": "Nome da Empresa Abreviado (cartão)",
                "minLength": 3,
                "maxLength": 30,
                "example": "Lorem ipsum aliquet eget litor"
              },
              "inscricaoEstadual": {
                "type": "integer",
                "description": "Código da inscrição estadual",
                "format": "int64",
                "minLength": 6,
                "maxLength": 20,
                "example": "1234567890123456789"
              },
              "codigoFilial": {
                "type": "integer",
                "description": "Código da filial da empresa",
                "format": "int32",
                "minimum": 0,
                "maximum": 999,
                "example": 123
              },
              "dataInclusaoEmpresaUnimed": {
                "type": "string",
                "description": "Data de inclusão da empresa",
                "format": "date",
                "example": "2024-09-02"
              },
              "dataExclusaoEmpresaUnimed": {
                "type": "string",
                "description": "Data de exclusão da empresa",
                "format": "date",
                "example": "2024-12-02"
              },
              "endereco": {
                "type": "object",
                "properties": {
                  "logradouroPrincipal": {
                    "type": "string",
                    "description": "Logradouro da Empresa",
                    "minLength": 3,
                    "maxLength": 40,
                    "example": "Lorem ipsum aliquet eget litorv avsvsrnm"
                  },
                  "complementoLogradouro": {
                    "type": "string",
                    "description": "Complemento do Logradouro da Empresa",
                    "minLength": 0,
                    "maxLength": 20,
                    "example": "Lorem ipsum aliquet"
                  },
                  "numeroLogradouro": {
                    "type": "string",
                    "description": "Número do Logradouro",
                    "minLength": 1,
                    "maxLength": 6,
                    "example": "S/N"
                  },
                  "bairro": {
                    "type": "string",
                    "description": "Descrição do bairro",
                    "minLength": 0,
                    "maxLength": 30,
                    "example": "Lorem ipsum aliquet eget litor"
                  },
                  "codigoMunicipio": {
                    "type": "integer",
                    "description": "Código do Município, conforme codificação do IBGE",
                    "format": "int32",
                    "minimum": 1000,
                    "maximum": 9999999,
                    "example": 3548906
                  },
                  "cep": {
                    "type": "string",
                    "description": "CEP",
                    "minLength": 8,
                    "maxLength": 8,
                    "example": "09876543"
                  }
                }
              },
              "telefone": {
                "type": "object",
                "properties": {
                  "tipoTelefone": {
                    "type": "integer",
                    "description": "Tipo de telefone. Use 1-> residencial, 2-> Profissional, 3-> Celular",
                    "format": "int",
                    "minimum": 1,
                    "maximum": 9,
                    "enum": [
                      1,
                      2,
                      3
                    ],
                    "example": 1
                  },
                  "ddd": {
                    "type": "integer",
                    "description": "Número do DDD",
                    "format": "int16",
                    "minimum": 1,
                    "maximum": 9999,
                    "example": 11
                  },
                  "numero": {
                    "type": "integer",
                    "description": "Número do telefone",
                    "format": "int",
                    "minimum": 10000000,
                    "maximum": 999999999,
                    "example": 987654321
                  },
                  "ramal": {
                    "type": "integer",
                    "description": "Ramal do telefone",
                    "format": "int",
                    "minimum": 0,
                    "maximum": 9999,
                    "example": 9876
                  }
                }
              },
              "codigoEmpresaOrigem": {
                "type": "integer",
                "description": "Código da Empresa na Origem",
                "format": "int32",
                "minimum": 1,
                "maximum": 9999999999,
                "example": 1234567890
              },
              "tipoContratoLocal": {
                "type": "integer",
                "description": "Indicador do tipo de contrato local",
                "format": "int16",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  1,
                  2
                ],
                "example": 1
              }
            }
          },
          "dadosPlano": {
            "required": [
              "indicadorCoberturaParcialTemporaria",
              "indicadorPlanoLowCost",
              "indicadorPlanoAcidenteTrabalho",
              "indicadorPlanoSaudeOcupacional",
              "indicadorPlanoAPS"
            ],
            "type": "object",
            "properties": {
              "codigoPlanoOrigem": {
                "type": "string",
                "description": "Código do plano da Unimed Origem do Beneficiário.",
                "minLength": 1,
                "maxLength": 6,
                "example": "123456"
              },
              "dataInicioVigencia": {
                "type": "string",
                "description": "Data de início de vigência do plano Unimed com o beneficiário",
                "format": "date",
                "example": "2023-04-02"
              },
              "dataFimVigencia": {
                "type": "string",
                "description": "Data de fim de vigência do plano Unimed com o beneficiário",
                "format": "date",
                "example": "2024-04-02"
              },
              "tipoAbrangencia": {
                "type": "integer",
                "description": "Abrangência do plano",
                "format": "int",
                "minimum": 1,
                "maximum": 9,
                "enum": [
                  1,
                  2,
                  3,
                  4,
                  5
                ],
                "example": 2
              },
              "tipoContratacao": {
                "type": "integer",
                "description": "Tipo de contratação",
                "format": "int",
                "minimum": 1,
                "maximum": 9,
                "enum": [
                  1,
                  2,
                  3
                ],
                "example": 2
              },
              "tipoAcomodacao": {
                "type": "string",
                "description": "Tipo de acomodação",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  "A",
                  "B",
                  "C"
                ],
                "example": "C"
              },
              "codigoOperadoraAns": {
                "type": "integer",
                "description": "Código da Operadora de Origem junto a ANS",
                "format": "int64",
                "minimum": 1,
                "maximum": 9999999999,
                "example": 1234567890
              },
              "tipoRegistroPlanoAns": {
                "type": "integer",
                "description": "Indicador do Registro do Plano na ANS",
                "format": "int",
                "minLength": 1,
                "maxLength": 9,
                "enum": [
                  1,
                  2,
                  3
                ],
                "example": 1
              },
              "codigoRegistroPlanoAns": {
                "type": "string",
                "description": "Número do Registro do Plano na ANS ou Código de Identificação no Sistema de Cadastro de Planos Comercializados Anteriormente à data de vigência da Lei Nº 9.656, de 1998.",
                "minLength": 1,
                "maxLength": 20,
                "example": "12345678901234567890"
              },
              "segmentacaoPlano": {
                "type": "string",
                "description": "Segmentação do Plano",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "01",
                  "02",
                  "03",
                  "04",
                  "05",
                  "06",
                  "07",
                  "08",
                  "09",
                  "10",
                  "11",
                  "12"
                ],
                "example": "04"
              },
              "codigoRedeReferenciada": {
                "type": "string",
                "description": "Código da rede referenciada",
                "minLength": 3,
                "maxLength": 4,
                "example": "NA09"
              },
              "nomeRede": {
                "type": "string",
                "description": "Descrição da Rede",
                "minLength": 2,
                "maxLength": 40,
                "example": "Lorem ipsum-çictum tempor, primis qewffr"
              },
              "viaCartao": {
                "type": "integer",
                "description": "Via do Cartão",
                "format": "int",
                "minimum": 1,
                "maximum": 99,
                "example": 6
              },
              "dataValidadeCartao": {
                "type": "string",
                "description": "Data de validade da Carteira",
                "format": "date",
                "example": "2024-04-02"
              },
              "codigoLocalAtendimento": {
                "type": "integer",
                "description": "Código do Local de Atendimento",
                "format": "int",
                "minimum": 1,
                "maximum": 9999,
                "example": 243
              },
              "indicadorCoberturaParcialTemporaria": {
                "type": "boolean",
                "description": "Indicação de existência de Cobertura Parcial Temporária",
                "example": true
              },
              "dataFimCoberturaParcialTemporaria": {
                "type": "string",
                "description": "Data Final da Cobertura Parcial Temporária",
                "format": "date",
                "example": "2024-04-02"
              },
              "tipoContrato": {
                "type": "string",
                "description": "Tipo de Contrato",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  "P",
                  "C"
                ],
                "example": "C"
              },
              "cnpjAdmBeneficios": {
                "type": "string",
                "description": "Código do CNPJ da Administradora de Benefícios",
                "example": "01234567890123"
              },
              "registroANSAdmBeneficios": {
                "type": "integer",
                "description": "Registro ANS da Administradora de Benefícios",
                "format": "int64",
                "minimum": 1,
                "maximum": 9999999,
                "example": 1234567
              },
              "nomeAdmBeneficios": {
                "type": "string",
                "description": "Razão social da Administradora de Benefício",
                "minLength": 3,
                "maxLength": 40,
                "example": "Lorem ipsum dictum tempor, primis qewffr"
              },
              "nomeFantasiaAdmBeneficios": {
                "type": "string",
                "description": "Nome fantasia da Administradora de Benefício",
                "minLength": 3,
                "maxLength": 40,
                "example": "Lorem ipsum dictum tempor, primis qewffr"
              },
              "nomeProduto": {
                "type": "string",
                "description": "Nome do Produto (Plano)",
                "minLength": 3,
                "maxLength": 60,
                "example": "Lorem ipsum dicttrçã tempor, primis qewffr wtehry qegehojefj"
              },
              "numeroContrato": {
                "type": "string",
                "description": "Número do contrato/apólice",
                "minLength": 1,
                "maxLength": 15,
                "example": "012345678901234"
              },
              "dataContratacaoPlano": {
                "type": "string",
                "description": "Data da contratação do plano de saúde",
                "format": "date",
                "example": "2024-04-02"
              },
              "tipoRede": {
                "type": "integer",
                "description": "Tipo de Rede conforme Manual do Intercâmbio Nacional",
                "format": "int",
                "minimum": 1,
                "maximum": 9,
                "enum": [
                  1,
                  2,
                  3
                ],
                "example": 2
              },
              "indicadorPlanoLowCost": {
                "type": "boolean",
                "description": "Indica se plano é Lowcoast",
                "example": true
              },
              "indicadorPlanoAcidenteTrabalho": {
                "type": "boolean",
                "description": "Indica se plano é Acidente Trabalho",
                "example": true
              },
              "indicadorPlanoSaudeOcupacional": {
                "type": "boolean",
                "description": "Indica se plano é Saude Ocupacional",
                "example": true
              },
              "indicadorPlanoAPS": {
                "type": "boolean",
                "description": "Indica se plano é APS",
                "example": true
              },
              "complemento1": {
                "type": "string",
                "description": "Campo 1 - para informações adicionais que devem ser incluídas no verso do cartão.",
                "minLength": 0,
                "maxLength": 45,
                "example": "'Lorem ipsum porttitor integer fermentum morbi'"
              },
              "complemento2": {
                "type": "string",
                "description": "Campo 2 - para informações adicionais que devem ser incluídas no verso do cartão",
                "minLength": 0,
                "maxLength": 45,
                "example": "Lorem ipsum porttitor integer fermentum morbi"
              },
              "abrangencias": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigoMunicipio": {
                      "type": "integer",
                      "description": "Código do Município que faz parte do Grupo de Munícipios, conforme codificação do IBGE",
                      "format": "int64",
                      "minimum": 1000,
                      "maximum": 9999999,
                      "example": 3547809
                    },
                    "codigoUf": {
                      "type": "string",
                      "description": "Código da Unidade Federativa, conforme codificação do IBGE",
                      "minLength": 2,
                      "maxLength": 2,
                      "example": "35"
                    }
                  }
                }
              },
              "carencias": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "tipoCarencia": {
                      "type": "string",
                      "description": "Tipo da Carencia - Dados referentes a tabela K1 - Carencias dos Planos de Intercâmbio",
                      "minLength": 3,
                      "maxLength": 3
                    },
                    "dataBaseCarencia": {
                      "type": "string",
                      "description": "Data base da carência do plano",
                      "format": "date",
                      "example": "2024-04-02"
                    },
                    "dataFimCarencia": {
                      "type": "string",
                      "description": "Data final da carência do plano",
                      "format": "date",
                      "example": "2024-04-02"
                    }
                  }
                }
              },
              "coberturas": {
                "type": "object",
                "properties": {
                  "tipoCobertura": {
                    "type": "string",
                    "description": "Tipo da Cobertura",
                    "minLength": 3,
                    "maxLength": 3,
                    "enum": [
                      "001",
                      "002",
                      "003",
                      "004",
                      "005",
                      "006",
                      "007",
                      "008",
                      "009",
                      "010",
                      "011",
                      "012",
                      "099"
                    ],
                    "example": "009"
                  },
                  "dataFimCobertura": {
                    "type": "string",
                    "description": "Data final da carência para a cobertura",
                    "format": "date",
                    "example": "2024-04-02"
                  }
                }
              }
            }
          },
          "dadosPessoa": {
            "required": [
              "nomeCompletoBeneficiario",
              "dataNascimento",
              "genero",
              "indicadorBeneficiarioEstrangeiro"
            ],
            "type": "object",
            "properties": {
              "nomeCompletoBeneficiario": {
                "type": "string",
                "description": "Nome Completo do Beneficiário",
                "minLength": 3,
                "maxLength": 70,
                "example": "Lorem ipsum porttitor integer fermentum morbi dengustlopb generis dsja"
              },
              "nomeAbreviadoBeneficiario": {
                "type": "string",
                "description": "Nome Abreviado do Beneficiário (Cartão)",
                "minLength": 3,
                "maxLength": 25,
                "example": "Lorem ipsum porttitor int"
              },
              "nomeSocial": {
                "type": "string",
                "description": "Nome Completo Social do Beneficiário",
                "minLength": 3,
                "maxLength": 70,
                "example": "Lorem ipsum porttitor integer fermentum morbi dengustlopb generis dsja"
              },
              "nomeSocialCartao": {
                "type": "string",
                "description": "Nome Social do Beneficiário (Cartão)",
                "minLength": 3,
                "maxLength": 25,
                "example": "Lorem ipsum porttitor int"
              },
              "genero": {
                "type": "string",
                "description": "Gênero Beneficiário",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  "M",
                  "F",
                  "N"
                ],
                "example": "F"
              },
              "generoSocial": {
                "type": "string",
                "description": "Gênero Social do Beneficiário",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  "M",
                  "F"
                ],
                "example": "M"
              },
              "dataNascimento": {
                "type": "string",
                "description": "Data de Nascimento do Beneficiário",
                "format": "date",
                "example": "2024-04-02"
              },
              "indicadorBeneficiarioEstrangeiro": {
                "type": "boolean",
                "description": "Indica se o beneficiário é estrangeiro",
                "example": true
              },
              "cpf": {
                "type": "string",
                "description": "Número do CPF",
                "minLength": 11,
                "maxLength": 11,
                "example": "09876543210"
              },
              "rg": {
                "type": "object",
                "required": [
                  "codigoIdentidade",
                  "orgaoEmissor",
                  "uf",
                  "codigoPais"
                ],
                "properties": {
                  "codigoIdentidade": {
                    "type": "string",
                    "description": "Carteira de Identidade",
                    "minLength": 5,
                    "maxLength": 15,
                    "example": "098765432101234"
                  },
                  "orgaoEmissor": {
                    "type": "string",
                    "description": "Órgão Emissor da carteira",
                    "minLength": 0,
                    "maxLength": 30,
                    "example": "Lorem ipsum porttitor integer "
                  },
                  "uf": {
                    "type": "string",
                    "description": "Código da Unidade Federativa da carteira de identidade,   conforme codificação do IBGE",
                    "minLength": 2,
                    "maxLength": 2,
                    "example": "35"
                  },
                  "codigoPais": {
                    "type": "string",
                    "description": "Código do Pais emissor da carteira de identidade",
                    "minLength": 3,
                    "maxLength": 3,
                    "example": "032"
                  }
                }
              },
              "cns": {
                "type": "string",
                "description": "Número do Cartão Nacional de Saúde",
                "minLength": 1,
                "maxLength": 15,
                "example": "098765432101234"
              },
              "codigoEstadoCivil": {
                "type": "string",
                "description": "Código do Estado Civil",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  "A",
                  "D",
                  "M",
                  "S",
                  "W",
                  "U"
                ],
                "example": "S"
              },
              "nomeMae": {
                "type": "string",
                "description": "Nome da Mãe do Beneficiário",
                "minLength": 3,
                "maxLength": 70,
                "example": "Lorem ipsum porttitor integer fermentum morbi dengustlopb generis dsja"
              },
              "pisPasep": {
                "type": "string",
                "description": "Número do PIS/PASEP",
                "minLength": 0,
                "maxLength": 11,
                "example": "00123456789"
              },
              "codigoMunicipioNaturalidade": {
                "type": "integer",
                "description": "Código do Município da Naturalidade do Beneficiário, conforme codificação do IBGE",
                "format": "int32",
                "minimum": 1000,
                "maximum": 9999999,
                "example": 3548906
              },
              "codigoMunicipioResidencia": {
                "type": "integer",
                "description": "Código do Município de Residência, conforme codificação do IBGE",
                "format": "int32",
                "minimum": 1000,
                "maximum": 9999999,
                "example": 3548906
              },
              "complementosCadastrais": {
                "type": "object",
                "properties": {
                  "enderecos": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "tipoResidencia": {
                          "type": "integer",
                          "description": "Indica se a residência é no Brasil ou Exterior sendo 1 - Brasil ou 2 - Exterior",
                          "format": "int",
                          "minimum": 1,
                          "maximum": 9,
                          "enum": [
                            1,
                            2
                          ],
                          "example": 1
                        },
                        "tipoEndereco": {
                          "type": "integer",
                          "description": "Indicador do tipo de residencia sendo 1 - Residencial ou 2 - Profissional",
                          "format": "int",
                          "minimum": 1,
                          "maximum": 9,
                          "enum": [
                            1,
                            2
                          ],
                          "example": 1
                        },
                        "tipoLogradouro": {
                          "type": "string",
                          "description": "Tipo de logradouro",
                          "minLength": 1,
                          "maxLength": 2,
                          "example": "34"
                        },
                        "logradouro": {
                          "type": "string",
                          "description": "Logradouro",
                          "minLength": 3,
                          "maxLength": 80,
                          "example": "Lorem ipsum porttitor integer fermentum "
                        },
                        "numeroLogradouro": {
                          "type": "string",
                          "description": "Número do Logradouro",
                          "minLength": 1,
                          "maxLength": 6,
                          "example": "S/N"
                        },
                        "bairro": {
                          "type": "string",
                          "description": "Descrição do bairro",
                          "minLength": 0,
                          "maxLength": 45,
                          "example": "Lorem ipsum porttitor integer "
                        },
                        "complemento": {
                          "type": "string",
                          "description": "Complemento do Logradouro",
                          "minLength": 0,
                          "maxLength": 80,
                          "example": "Lorem ipsum porttito"
                        },
                        "codigoMunicipio": {
                          "type": "integer",
                          "description": "Código do Município, conforme codificação do IBGE",
                          "format": "int32",
                          "minimum": 1000,
                          "maximum": 9999999,
                          "example": 3548906
                        },
                        "cep": {
                          "type": "string",
                          "description": "CEP",
                          "minLength": 8,
                          "maxLength": 8,
                          "example": "09876543"
                        }
                      }
                    }
                  },
                  "telefones": {
                    "type": "array",
                    "items": {
                      "required": [
                        "ddd",
                        "numero",
                        "tipoTelefone"
                      ],
                      "type": "object",
                      "properties": {
                        "tipoTelefone": {
                          "type": "integer",
                          "description": "Tipo de telefone. Use 1-> residencial, 2-> Profissional, 3-> Celular",
                          "format": "int",
                          "minimum": 1,
                          "maximum": 9,
                          "enum": [
                            1,
                            2,
                            3
                          ],
                          "example": 1
                        },
                        "ddd": {
                          "type": "integer",
                          "description": "Número do DDD",
                          "format": "int16",
                          "minimum": 11,
                          "maximum": 9999,
                          "example": 11
                        },
                        "numero": {
                          "type": "integer",
                          "description": "Número do telefone",
                          "format": "int",
                          "minimum": 1,
                          "maximum": 999999999,
                          "example": "098765432"
                        },
                        "ramal": {
                          "type": "integer",
                          "description": "Número do telefone",
                          "format": "int",
                          "minimum": 0,
                          "maximum": 9999,
                          "example": 9871
                        }
                      }
                    }
                  },
                  "emails": {
                    "type": "array",
                    "items": {
                      "required": [
                        "email",
                        "tipoEmail"
                      ],
                      "type": "object",
                      "properties": {
                        "tipoEmail": {
                          "type": "integer",
                          "description": "Tipo de E-mail sendo 1 – Principal e 2 - Alternativo",
                          "format": "int",
                          "minimum": 1,
                          "maximum": 9,
                          "enum": [
                            1,
                            2
                          ],
                          "example": 1
                        },
                        "email": {
                          "type": "string",
                          "description": "Endereço de e-mail",
                          "minLength": 0,
                          "maxLength": 70,
                          "example": "teste@teste.com.br"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "compartilhamentoRisco": {
            "type": "object",
            "required": [
              "codigoUnimedDestino",
              "tipoCompartilhamentoRisco",
              "dataInicioCompartilhamentoRisco",
              "indicadorGeracaoLogomarca",
              "indicadorGeracaoCodigo"
            ],
            "properties": {
              "codigoUnimedDestino": {
                "type": "integer",
                "description": "Código da Unimed destino para envio para chamar no compartilhamento de risco",
                "format": "int32",
                "minimum": 1,
                "maximum": 9999,
                "example": 999
              },
              "tipoCompartilhamentoRisco": {
                "type": "string",
                "description": "Tipo de compartilhamento de risco",
                "minLength": 1,
                "maxLength": 1,
                "enum": [
                  "P",
                  "C"
                ],
                "example": "C"
              },
              "dataInicioCompartilhamentoRisco": {
                "type": "string",
                "description": "Data de início do compartilhamento de risco",
                "format": "date",
                "example": "2024-04-02"
              },
              "dataFimCompartilhamentoRisco": {
                "type": "string",
                "description": "Data do fim do compartilhamento de risco",
                "format": "date",
                "example": "2024-04-02"
              },
              "indicadorGeracaoLogomarca": {
                "type": "boolean",
                "description": "Indica responsável pela geração logomarca no cartão beneficiario",
                "example": false
              },
              "indicadorGeracaoCodigo": {
                "type": "boolean",
                "description": "Indica responsável pela geração código no cartão beneficiario",
                "example": false
              }
            }
          }
        }
      },
      "PatchBeneficiariosRequest": {
        "type": "object",
        "required": [
          "cabecalho",
          "dadosBeneficiario"
        ],
        "properties": {
          "cabecalho": {
            "type": "object",
            "required": [
              "codigoControleTransacao",
              "codigoVersaoPTU",
              "unimed",
              "dataGeracao"
            ],
            "properties": {
              "codigoControleTransacao": {
                "type": "integer",
                "description": "Código de transação do PTU",
                "format": "int64",
                "minimum": 0,
                "maximum": 99999999999999999999,
                "example": "01234567890123456789"
              },
              "codigoVersaoPTU": {
                "type": "string",
                "description": "Código da Versão do PTU trafegando",
                "minimum": 0,
                "maximum": 999,
                "example": "011"
              },
              "unimed": {
                "type": "object",
                "required": [
                  "codigoUnimedOrigem",
                  "codigoUnimedDestino"
                ],
                "properties": {
                  "codigoUnimedOrigem": {
                    "type": "integer",
                    "description": "Código da Unimed origem do envio de arquivo",
                    "format": "int32",
                    "minimum": 1,
                    "maximum": 9999,
                    "example": 865
                  },
                  "codigoUnimedDestino": {
                    "type": "integer",
                    "description": "Código da Unimed destino para envio de arquivo",
                    "format": "int32",
                    "minimum": 1,
                    "maximum": 9999,
                    "example": 999
                  }
                }
              },
              "dataGeracao": {
                "type": "string",
                "description": "Data de geração do arquivo de envio",
                "format": "date-time",
                "example": "2023-04-02T09:06:05-03:00"
              }
            }
          },
          "dadosBeneficiario": {
            "type": "object",
            "required": [
              "codigoControleUnimedBrasil"
            ],
            "properties": {
              "codigoControleUnimedBrasil": {
                "type": "integer",
                "format": "int64",
                "minimum": 1,
                "maximum": 99999999999999999,
                "minLength": 17,
                "maxLength": 17,
                "description": "Código de controle Unimed do Brasil",
                "example": 99900102345678946
              },
              "codigoFamiliaBenef": {
                "type": "integer",
                "description": "Código da Família do Beneficiário.",
                "format": "int32",
                "minimum": 1,
                "maximum": 999999,
                "example": 5349
              },
              "codigoDependenciaBeneficiario": {
                "type": "string",
                "description": "Código da Dependência do Beneficiário",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "00",
                  "01",
                  "02",
                  "10",
                  "50",
                  "52",
                  "60",
                  "70",
                  "75",
                  "80",
                  "90"
                ],
                "example": "00"
              },
              "carteirinhaBeneficiarioTitular": {
                "type": "string",
                "description": "Carteirinha do beneficiário titular",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "numeroPlanoPortabilidade": {
                "type": "string",
                "description": "Número do Código do Plano de Origem (portabilidade)",
                "minimum": 1,
                "maximum": 20,
                "example": "01234567890123456789"
              },
              "indicadorSib": {
                "type": "boolean",
                "description": "Código Sib (Código do beneficiario no Sistema de Informações de Beneficiários da ANS)",
                "example": true
              },
              "indicadorRemido": {
                "type": "boolean",
                "description": "Indica se o beneficiário é remido: usuário dependente de plano de saúde com continuidade do atendimento assistencial após a morte do titular com isenção de mensalidade",
                "example": false
              },
              "indicadorAutoGestao": {
                "type": "boolean",
                "description": "Indica se o beneficiário é de auto gestão.",
                "example": false
              },
              "codigoAutoGestaoAns": {
                "type": "integer",
                "description": "Código da Autogestão junto a ANS",
                "format": "int64",
                "minimum": 1,
                "maximum": 9999999999,
                "example": "0123456789"
              },
              "indicadorBeneficiarioCooperado": {
                "type": "boolean",
                "description": "Indicador se o beneficiário é um cooperado",
                "example": false
              },
              "dadosCooperado": {
                "type": "object",
                "properties": {
                  "codigoCrm": {
                    "type": "string",
                    "description": "Número do CRM do médico cooperado",
                    "minLength": 0,
                    "maxLength": 15,
                    "example": "012345678901234"
                  },
                  "codigoUfConselho": {
                    "type": "string",
                    "description": "Código da Unidade Federativa do médico coopera codificação do IBGE",
                    "minLength": 2,
                    "maxLength": 2,
                    "example": "35"
                  }
                }
              },
              "dataInclusaoUnimed": {
                "type": "string",
                "description": "Data de inclusão do beneficiário na Unimed",
                "format": "date",
                "example": "2024-04-02"
              },
              "dataExclusaoBeneficiario": {
                "type": "string",
                "description": "Data de exclusão do beneficiário na Unimed",
                "format": "date",
                "example": "2024-04-02"
              },
              "motivoExclusaoBeneficiario": {
                "type": "string",
                "description": "Motivo de exclusão",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "01",
                  "02",
                  "03",
                  "04",
                  "05",
                  "06",
                  "07",
                  "08"
                ],
                "example": "06"
              },
              "codigoPlanoInter": {
                "type": "string",
                "description": "Código do Plano de Intercâmbio do Beneficiário",
                "minLength": 1,
                "maxLength": 3,
                "example": "123"
              },
              "numeroMatricula": {
                "type": "string",
                "description": "Número da matrícula/funcional na empresa.",
                "minLength": 1,
                "maxLength": 20,
                "example": "01234567890123456789"
              },
              "codigoLotacao": {
                "type": "string",
                "description": "Código da lotação do beneficiário",
                "minLength": 1,
                "maxLength": 8,
                "example": "01234567"
              },
              "descricaoLotacao": {
                "type": "string",
                "description": "Descrição da lotação do beneficiário",
                "minLength": 3,
                "maxLength": 30,
                "example": "Lorem ipsum aliquet eget litor"
              },
              "dataInclusaoPlanoDestino": {
                "type": "string",
                "description": "Data de Inclusão no Plano Destino (Intercâmbio).",
                "format": "date",
                "example": "2024-04-02"
              },
              "indicadorExcRN561": {
                "type": "boolean",
                "description": "Indicador de exclusão proveniente da RN561",
                "example": true
              },
              "indicadorNato": {
                "type": "boolean",
                "description": "Identificador de Recém-Nato",
                "example": true
              },
              "valorMensalidade": {
                "type": "boolean",
                "description": "Valor mensalidade",
                "example": 1650.25
              },
              "rendaMensal": {
                "type": "boolean",
                "description": "Renda mensal",
                "example": 10050.1
              },
              "carteirinhaAnterior": {
                "type": "string",
                "description": "Carteirinha anterior do beneficiário",
                "minimum": 17,
                "maximum": 17,
                "example": "01234567890123456"
              },
              "idFilho": {
                "type": "string",
                "description": "Codigo do tipo de filho",
                "minLength": 2,
                "maxLength": 2,
                "enum": [
                  "01",
                  "02",
                  "99"
                ],
                "example": "01"
              },
              "produtoAgregado": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "tipoProduto": {
                      "type": "string",
                      "description": "Tipo do Produto",
                      "minLength": 1,
                      "maxLength": 2,
                      "example": "1a"
                    },
                    "descricaoProduto": {
                      "type": "string",
                      "description": "Mensagem livre da Origem",
                      "minLength": 0,
                      "maxLength": 20,
                      "example": "Lorem ipsum aliquet "
                    },
                    "codigoUnimedDestino": {
                      "type": "integer",
                      "description": "Código da Unimed destino para envio de arquivo",
                      "format": "int32",
                      "minimum": 1,
                      "maximum": 9999,
                      "example": 865
                    },
                    "codigoPlanoDestino": {
                      "type": "integer",
                      "description": "Código do plano da Unimed Destino",
                      "format": "int32",
                      "minimum": 1,
                      "maximum": 999999,
                      "example": 975543
                    },
                    "dataRepasseUnimedDestino": {
                      "type": "string",
                      "description": "Data de repasse a Unimed Destino",
                      "format": "date",
                      "example": "2024-09-02"
                    },
                    "dataInicioVigenciaProduto": {
                      "type": "string",
                      "description": "Data inicio de vigência de produto",
                      "format": "date",
                      "example": "2024-09-02"
                    },
                    "dataFimVigenciaProduto": {
                      "type": "string",
                      "description": "Data fim de vigência de produto",
                      "format": "date",
                      "example": "2024-12-02"
                    }
                  }
                }
              },
              "preexistencia": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "codigoCID": {
                      "type": "string",
                      "description": "Código do CID da Preexistência",
                      "minLength": 3,
                      "maxLength": 4,
                      "example": "Z357"
                    },
                    "codigoTUSS": {
                      "type": "string",
                      "description": "Codigo TUSS",
                      "minLength": 1,
                      "maxLength": 20,
                      "example": "01234567890123456789"
                    },
                    "dataFimCarencia": {
                      "type": "string",
                      "description": "Data final da carência para a cobertura",
                      "format": "date",
                      "example": "2024-04-02"
                    }
                  }
                }
              }
            }
[...]
