{
  "openapi": "3.0.3",
  "info": {
    "title": "Higher Logic API",
    "version": "2.0.0",
    "description": "Higher Logic Community API providing programmatic access to Community data including announcements, discussions, contacts, blogs, events, messaging, communities, resource libraries, and more.",
    "x-jentic-source-url": "https://api.connectedcommunity.org/"
  },
  "servers": [
    {
      "url": "https://api.connectedcommunity.org",
      "description": "Higher Logic API Server"
    }
  ],
  "paths": {
    "/api/v2.0/Authentication/Login": {
      "post": {
        "operationId": "login",
        "summary": "Login and get authentication token",
        "description": "Generates an Authentication Token for the user with the specified credentials.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Username": {
                    "type": "string"
                  },
                  "Password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/v2.0/Announcements/GetAnnouncements": {
      "get": {
        "operationId": "getannouncements",
        "summary": "Get announcements",
        "description": "Returns a list of Announcements given the specified criteria.",
        "tags": [
          "Announcements"
        ],
        "parameters": [
          {
            "name": "announcementTypeFilter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "communityKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeAnnouncementsWithNoType",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of announcements"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Announcements/GetAnnouncement": {
      "get": {
        "operationId": "getannouncement",
        "summary": "Get specific announcement",
        "tags": [
          "Announcements"
        ],
        "parameters": [
          {
            "name": "announcementKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Announcement details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Contacts/WhoAmI": {
      "post": {
        "operationId": "whoami",
        "summary": "Get current user info",
        "description": "Returns information about the Currently Authenticated User.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "includeSecurityGroups",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current user info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Contacts/GetContact": {
      "get": {
        "operationId": "getcontact",
        "summary": "Get contact information",
        "description": "Returns Contact information for the specified contactKey or legacyContactKey.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "contactKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "legacyContactKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeSecurityGroups",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Contacts/SearchContacts": {
      "get": {
        "operationId": "searchcontacts",
        "summary": "Search contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "searchTerms",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchAllAddresses",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "memberStatus",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchOnlyCompanies",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeCurrentContact",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Contacts/GetMyContacts": {
      "get": {
        "operationId": "getmycontacts",
        "summary": "Get my contacts (friends)",
        "tags": [
          "Contacts"
        ],
        "responses": {
          "200": {
            "description": "List of contacts"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Communities/Get": {
      "get": {
        "operationId": "getcommunity",
        "summary": "Get community by key",
        "tags": [
          "Communities"
        ],
        "parameters": [
          {
            "name": "communityKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Community details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Communities/GetMyCommunities": {
      "get": {
        "operationId": "getmycommunities",
        "summary": "Get my communities",
        "tags": [
          "Communities"
        ],
        "parameters": [
          {
            "name": "includeStatistics",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeHiddenCommunities",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of communities"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Communities/JoinCommunity": {
      "post": {
        "operationId": "joincommunity",
        "summary": "Join a community",
        "tags": [
          "Communities"
        ],
        "parameters": [
          {
            "name": "communityKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Joined community"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Communities/LeaveCommunity": {
      "delete": {
        "operationId": "leavecommunity",
        "summary": "Leave a community",
        "tags": [
          "Communities"
        ],
        "parameters": [
          {
            "name": "communityKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Left community"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Discussions/GetLatestDiscussionPosts": {
      "get": {
        "operationId": "getlatestdiscussionposts",
        "summary": "Get latest discussion posts",
        "tags": [
          "Discussions"
        ],
        "parameters": [
          {
            "name": "discussionKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxToRetrieve",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sortByScore",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "scoreSortDirection",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of discussion posts"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Discussions/PostToDiscussion": {
      "post": {
        "operationId": "posttodiscussion",
        "summary": "Post message to discussion",
        "tags": [
          "Discussions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionPostInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Discussions/ReplyToDiscussion": {
      "post": {
        "operationId": "replytodiscussion",
        "summary": "Reply to discussion post",
        "tags": [
          "Discussions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscussionReplyInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reply created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Discussions/GetRecentThreads": {
      "get": {
        "operationId": "getrecentthreads",
        "summary": "Get recent discussion threads",
        "tags": [
          "Discussions"
        ],
        "parameters": [
          {
            "name": "discussionKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxToRetrieve",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of threads"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Blogs/GetBlog": {
      "get": {
        "operationId": "getblog",
        "summary": "Get blog by key",
        "tags": [
          "Blogs"
        ],
        "parameters": [
          {
            "name": "blogKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blog details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Blogs/CreateBlog": {
      "post": {
        "operationId": "createblog",
        "summary": "Create a new blog",
        "tags": [
          "Blogs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blog created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Blogs/DeleteBlog": {
      "delete": {
        "operationId": "deleteblog",
        "summary": "Delete a blog",
        "tags": [
          "Blogs"
        ],
        "parameters": [
          {
            "name": "blogKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blog deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Events/GetEvent": {
      "get": {
        "operationId": "getevent",
        "summary": "Get event details",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Events/GetUpcoming": {
      "get": {
        "operationId": "getupcomingevents",
        "summary": "Get upcoming events",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "maxRecords",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of upcoming events"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Events/RSVPToEvent": {
      "post": {
        "operationId": "rsvptoevent",
        "summary": "RSVP to an event",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "RSVP successful"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Messaging/GetInboxMessages": {
      "get": {
        "operationId": "getinboxmessages",
        "summary": "Get inbox messages",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "firstRecord",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxRecords",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of inbox messages"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Messaging/SendMessageToContact": {
      "post": {
        "operationId": "sendmessagetocontact",
        "summary": "Send message to contact",
        "tags": [
          "Messaging"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Question/Post": {
      "post": {
        "operationId": "postquestion",
        "summary": "Submit a new question",
        "tags": [
          "Questions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Question posted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Question/GetThread": {
      "get": {
        "operationId": "getquestionthread",
        "summary": "Get question thread",
        "tags": [
          "Questions"
        ],
        "parameters": [
          {
            "name": "questionKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numberOfAnswers",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Question thread with answers"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/ResourceLibrary/GetLibraryList": {
      "get": {
        "operationId": "getlibrarylist",
        "summary": "Get list of libraries",
        "tags": [
          "ResourceLibrary"
        ],
        "responses": {
          "200": {
            "description": "List of libraries"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/ResourceLibrary/GetLibraryDocument": {
      "get": {
        "operationId": "getlibrarydocument",
        "summary": "Get library document",
        "tags": [
          "ResourceLibrary"
        ],
        "parameters": [
          {
            "name": "documentKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paginateComments",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "commentLimit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/Friends/PostFriendRequest": {
      "post": {
        "operationId": "sendfriendrequest",
        "summary": "Send friend request",
        "tags": [
          "Friends"
        ],
        "parameters": [
          {
            "name": "contactKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Friend request sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v2.0/DataFeed/GetData": {
      "post": {
        "operationId": "getdatafeed",
        "summary": "Get content data feed",
        "description": "Returns a feed of content published on the site based on request parameters.",
        "tags": [
          "DataFeed"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content feed data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication token obtained from the Login endpoint"
      }
    },
    "schemas": {
      "AuthToken": {
        "type": "object",
        "properties": {
          "Token": {
            "type": "string"
          },
          "Expiration": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "ContactKey": {
            "type": "string"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "CompanyName": {
            "type": "string"
          },
          "CompanyTitle": {
            "type": "string"
          }
        }
      },
      "DiscussionPostInput": {
        "type": "object",
        "properties": {
          "DiscussionKey": {
            "type": "string"
          },
          "Subject": {
            "type": "string"
          },
          "Body": {
            "type": "string"
          }
        }
      },
      "DiscussionReplyInput": {
        "type": "object",
        "properties": {
          "DiscussionPostKey": {
            "type": "string"
          },
          "Body": {
            "type": "string"
          }
        }
      },
      "MessageInput": {
        "type": "object",
        "properties": {
          "ContactKey": {
            "type": "string"
          },
          "Subject": {
            "type": "string"
          },
          "Body": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Announcements",
      "description": "Operations related to Announcements"
    },
    {
      "name": "Authentication",
      "description": "Operations related to Authentication"
    },
    {
      "name": "Blogs",
      "description": "Operations related to Blogs"
    },
    {
      "name": "Communities",
      "description": "Operations related to Communities"
    },
    {
      "name": "Contacts",
      "description": "Operations related to Contacts"
    },
    {
      "name": "DataFeed",
      "description": "Operations related to DataFeed"
    },
    {
      "name": "Discussions",
      "description": "Operations related to Discussions"
    },
    {
      "name": "Events",
      "description": "Operations related to Events"
    },
    {
      "name": "Friends",
      "description": "Operations related to Friends"
    },
    {
      "name": "Messaging",
      "description": "Operations related to Messaging"
    },
    {
      "name": "Questions",
      "description": "Operations related to Questions"
    },
    {
      "name": "ResourceLibrary",
      "description": "Operations related to ResourceLibrary"
    }
  ]
}