{
  "openapi": "3.0.3",
  "info": {
    "title": "Rasayel GraphQL API",
    "description": "Rasayel GraphQL API for messaging and conversation management. Note: This is a GraphQL API with a single endpoint. Operations include message management (text, media, template), conversation management (assign, close, open), contact operations, and webhook subscriptions.",
    "version": "1.0.0",
    "contact": {
      "url": "https://developers.rasayel.io/"
    }
  },
  "servers": [
    {
      "url": "https://api.rasayel.io",
      "description": "Rasayel API server"
    }
  ],
  "paths": {
    "/graphql": {
      "post": {
        "summary": "GraphQL endpoint",
        "description": "Single endpoint for all GraphQL queries and mutations. This API provides operations for messages (textMessageCreate, mediaMessageCreate, templateMessageCreate), conversations (conversationAssign, conversationClose, conversationOpen), contacts (channelUserCreate, channelUserUpdate), and webhooks (webhookSubscriptionCreate, webhookSubscriptionDestroy), among 90+ other mutations.",
        "operationId": "graphqlQuery",
        "tags": [
          "GraphQL"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid GraphQL query"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GraphQLRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "GraphQL query or mutation string",
            "example": "query { app { id name } }"
          },
          "variables": {
            "type": "object",
            "nullable": true,
            "description": "Variables for the GraphQL query",
            "additionalProperties": true
          },
          "operationName": {
            "type": "string",
            "nullable": true,
            "description": "Name of the operation to execute if query contains multiple operations"
          }
        }
      },
      "GraphQLResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "nullable": true,
            "description": "The result data from the GraphQL query",
            "additionalProperties": true
          },
          "errors": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/GraphQLError"
            },
            "description": "Array of errors if the query failed"
          }
        }
      },
      "GraphQLError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "locations": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "line": {
                  "type": "integer"
                },
                "column": {
                  "type": "integer"
                }
              }
            }
          },
          "path": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "GraphQL"
    }
  ]
}
