{
  "openapi": "3.0.3",
  "info": {
    "title": "Buckaroo Checkout JSON Gateway API",
    "version": "1.0.0",
    "description": "Buckaroo payment gateway API for processing transactions, data requests, checking statuses, managing refunds, and validating IBANs.",
    "x-jentic-source-url": "https://docs.buckaroo.io/reference"
  },
  "servers": [
    {
      "url": "https://checkout.buckaroo.nl",
      "description": "Production server"
    }
  ],
  "paths": {
    "/json/DataRequest": {
      "post": {
        "tags": [
          "DataRequests"
        ],
        "operationId": "performDataRequest",
        "summary": "Perform a data request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data request processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/DataRequest/Specifications": {
      "post": {
        "tags": [
          "DataRequests"
        ],
        "operationId": "getDataRequestSpecifications",
        "summary": "Get data request specifications",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpecificationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Specifications returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpecificationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/DataRequest/Specification/{serviceName}": {
      "get": {
        "tags": [
          "DataRequests"
        ],
        "operationId": "getDataRequestServiceSpecification",
        "summary": "Get single data request service specification",
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceVersion",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service specification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecification"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/Specification/{serviceName}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "getTransactionServiceSpecification",
        "summary": "Get single transaction service specification",
        "parameters": [
          {
            "name": "serviceName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceVersion",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service specification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceSpecification"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/StatusCode": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "getTransactionStatusCodes",
        "summary": "Get transaction status codes",
        "description": "Retrieve all possible transaction status codes and their descriptions.",
        "responses": {
          "200": {
            "description": "List of transaction status codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusCodesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "createTransaction",
        "summary": "Create a transaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/Specifications": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "getTransactionSpecifications",
        "summary": "Get transaction specifications",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpecificationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction specifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpecificationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/Status/{transactionKey}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "getTransactionStatus",
        "summary": "Get transaction status",
        "parameters": [
          {
            "name": "transactionKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/Statuses": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "getMultipleTransactionStatuses",
        "summary": "Get multiple transaction statuses",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Transactions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Key": {
                          "type": "string"
                        },
                        "Invoice": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multiple transaction statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/Cancel/{transactionKey}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "cancelTransaction",
        "summary": "Cancel a transaction",
        "parameters": [
          {
            "name": "transactionKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction cancellation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/CancelMultiple": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "cancelMultipleTransactions",
        "summary": "Cancel multiple transactions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Transactions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Key": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "Key"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multiple cancellation results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleCancelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/RefundInfo/{transactionKey}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "getRefundInfo",
        "summary": "Get refund info for a transaction",
        "parameters": [
          {
            "name": "transactionKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Transaction/InvoiceInfo/{invoiceKey}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "getInvoiceInfo",
        "summary": "Get invoice information",
        "parameters": [
          {
            "name": "invoiceKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Tools/IbanConverter/{iban}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "operationId": "validateIban",
        "summary": "Validate and parse an IBAN",
        "parameters": [
          {
            "name": "iban",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IBAN validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IbanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/json/Tools/BbanToIbanConverter/{bban}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "operationId": "convertBbanToIban",
        "summary": "Convert BBAN to IBAN",
        "parameters": [
          {
            "name": "bban",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BBAN to IBAN conversion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IbanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Buckaroo API key"
      }
    },
    "schemas": {
      "DataRequestBody": {
        "type": "object",
        "properties": {
          "ClientIP": {
            "type": "object",
            "properties": {
              "Type": {
                "type": "integer"
              },
              "Address": {
                "type": "string"
              }
            }
          },
          "ReturnURL": {
            "type": "string",
            "format": "uri"
          },
          "ReturnURLCancel": {
            "type": "string",
            "format": "uri"
          },
          "ReturnURLError": {
            "type": "string",
            "format": "uri"
          },
          "ReturnURLReject": {
            "type": "string",
            "format": "uri"
          },
          "Invoice": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Currency": {
            "type": "string"
          },
          "Amount": {
            "type": "number"
          },
          "AmountCredit": {
            "type": "number"
          },
          "OriginalTransactionKey": {
            "type": "string"
          },
          "OriginalTransactionReference": {
            "type": "string"
          },
          "ContinueOnIncomplete": {
            "type": "boolean"
          },
          "ClientUserAgent": {
            "type": "string"
          },
          "PushURL": {
            "type": "string",
            "format": "uri"
          },
          "PushURLFailure": {
            "type": "string",
            "format": "uri"
          },
          "Services": {
            "type": "object",
            "properties": {
              "Global": {
                "type": "object"
              },
              "ServiceList": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ServiceItem"
                }
              }
            }
          },
          "CustomParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomParameter"
            }
          },
          "AdditionalParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomParameter"
            }
          }
        }
      },
      "CreateTransactionRequest": {
        "type": "object",
        "properties": {
          "Currency": {
            "type": "string"
          },
          "AmountDebit": {
            "type": "number"
          },
          "AmountCredit": {
            "type": "number"
          },
          "Invoice": {
            "type": "string"
          },
          "Order": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "ClientIP": {
            "type": "object",
            "properties": {
              "Type": {
                "type": "integer"
              },
              "Address": {
                "type": "string"
              }
            }
          },
          "ReturnURL": {
            "type": "string",
            "format": "uri"
          },
          "ReturnURLCancel": {
            "type": "string",
            "format": "uri"
          },
          "ReturnURLError": {
            "type": "string",
            "format": "uri"
          },
          "ReturnURLReject": {
            "type": "string",
            "format": "uri"
          },
          "Services": {
            "type": "object",
            "properties": {
              "ServiceList": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ServiceItem"
                }
              }
            }
          },
          "CustomParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomParameter"
            }
          }
        },
        "required": [
          "Currency"
        ]
      },
      "ServiceItem": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Action": {
            "type": "string"
          },
          "Version": {
            "type": "integer"
          },
          "Parameters": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string"
                },
                "Value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CustomParameter": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Value": {
            "type": "string"
          }
        }
      },
      "SpecificationsRequest": {
        "type": "object",
        "properties": {
          "Services": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string"
                },
                "Version": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "SpecificationsResponse": {
        "type": "object",
        "properties": {
          "BasicFields": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "Services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceSpecification"
            }
          },
          "CustomParameters": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ServiceSpecification": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Version": {
            "type": "integer"
          },
          "Description": {
            "type": "string"
          },
          "Actions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string"
                },
                "Description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string"
          },
          "Status": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "object",
                "properties": {
                  "Code": {
                    "type": "integer"
                  },
                  "Description": {
                    "type": "string"
                  }
                }
              },
              "SubCode": {
                "type": "object",
                "properties": {
                  "Code": {
                    "type": "string"
                  },
                  "Description": {
                    "type": "string"
                  }
                }
              },
              "DateTime": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "RequiredAction": {
            "type": "object"
          },
          "Services": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "RequestErrors": {
            "type": "object"
          },
          "ConsumerMessage": {
            "type": "object"
          },
          "Invoice": {
            "type": "string"
          },
          "Currency": {
            "type": "string"
          },
          "AmountDebit": {
            "type": "number"
          },
          "AmountCredit": {
            "type": "number"
          },
          "TransactionType": {
            "type": "string"
          },
          "PaymentKey": {
            "type": "string"
          }
        }
      },
      "TransactionStatusResponse": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string"
          },
          "Invoice": {
            "type": "string"
          },
          "Status": {
            "type": "object"
          },
          "Services": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "CustomParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomParameter"
            }
          },
          "IsCancelable": {
            "type": "boolean"
          },
          "PaymentKey": {
            "type": "string"
          }
        }
      },
      "MultipleStatusResponse": {
        "type": "object",
        "properties": {
          "Transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionStatusResponse"
            }
          },
          "ErrorTransactions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "ErrorHeaders": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CancelResponse": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string"
          },
          "IsCanceled": {
            "type": "boolean"
          }
        }
      },
      "MultipleCancelResponse": {
        "type": "object",
        "properties": {
          "Transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CancelResponse"
            }
          }
        }
      },
      "RefundInfoResponse": {
        "type": "object",
        "properties": {
          "IsRefundable": {
            "type": "boolean"
          },
          "MaximumRefundAmount": {
            "type": "number"
          },
          "RefundedAmount": {
            "type": "number"
          },
          "CanCreateCreditNote": {
            "type": "boolean"
          },
          "Invoice": {
            "type": "string"
          }
        }
      },
      "InvoiceInfoResponse": {
        "type": "object",
        "properties": {
          "Number": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          },
          "Paid": {
            "type": "boolean"
          },
          "Currency": {
            "type": "string"
          },
          "AmountDebit": {
            "type": "number"
          },
          "AmountPaid": {
            "type": "number"
          },
          "InvoiceDate": {
            "type": "string",
            "format": "date-time"
          },
          "DueDate": {
            "type": "string",
            "format": "date-time"
          },
          "Transactions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "IbanResponse": {
        "type": "object",
        "properties": {
          "IsValid": {
            "type": "boolean"
          },
          "Iban": {
            "type": "string"
          },
          "CountryCode": {
            "type": "string"
          },
          "BankCode": {
            "type": "string"
          },
          "AccountNumber": {
            "type": "string"
          },
          "BankName": {
            "type": "string"
          }
        }
      },
      "StatusCodesResponse": {
        "type": "object",
        "properties": {
          "StatusCodes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer"
                },
                "Description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "RequestErrors": {
            "type": "object",
            "properties": {
              "ChannelErrors": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "ServiceErrors": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "ActionErrors": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "ParameterErrors": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "CustomParameterErrors": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "DataRequests",
      "description": "Data request operations"
    },
    {
      "name": "Transactions",
      "description": "Transaction management"
    },
    {
      "name": "Tools",
      "description": "IBAN and BBAN validation tools"
    }
  ]
}