{
  "openapi": "3.0.3",
  "info": {
    "title": "TranscriptAPI",
    "version": "2.0.0",
    "description": "YouTube Transcript API with search, channel browsing, and playlist capabilities.",
    "x-jentic-source-url": "https://transcriptapi.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://transcriptapi.com"
    }
  ],
  "paths": {
    "/api/v2/youtube/transcript": {
      "get": {
        "operationId": "getTranscript",
        "summary": "Get YouTube video transcript",
        "tags": [
          "Transcripts"
        ],
        "parameters": [
          {
            "name": "video_url",
            "in": "query",
            "required": true,
            "description": "YouTube video URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get YouTube video transcript"
      }
    },
    "/api/v2/youtube/search": {
      "get": {
        "operationId": "searchYouTube",
        "summary": "Search YouTube",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Result type",
            "schema": {
              "type": "string",
              "enum": [
                "video",
                "channel",
                "playlist"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search YouTube"
      }
    },
    "/api/v2/youtube/channel/search": {
      "get": {
        "operationId": "searchChannel",
        "summary": "Search within a YouTube channel",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search within a YouTube channel"
      }
    },
    "/api/v2/youtube/channel/videos": {
      "get": {
        "operationId": "listChannelVideos",
        "summary": "List all videos from a YouTube channel",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelVideosResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all videos from a YouTube channel"
      }
    }
  },
  "components": {
    "schemas": {
      "TranscriptResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          },
          "segments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "start": {
                  "type": "number"
                },
                "duration": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "video_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "views": {
            "type": "integer"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          }
        }
      },
      "ChannelVideosResponse": {
        "type": "object",
        "properties": {
          "channel_name": {
            "type": "string"
          },
          "video_count": {
            "type": "integer"
          },
          "videos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "video_id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Channels"
    },
    {
      "name": "Search"
    },
    {
      "name": "Transcripts"
    }
  ]
}
