{
  "openapi": "3.0.3",
  "info": {
    "title": "incwo CRM and Invoicing API",
    "description": "incwo.com is a CRM and invoicing platform for SMEs. This API provides access to CRM, sales, invoicing, inventory, financial, project management, HR, and document management features.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.incwo.com/site/developer"
  },
  "servers": [
    {
      "url": "https://www.incwo.com",
      "description": "Production server (customer-specific domain configured in settings)"
    }
  ],
  "paths": {
    "/contacts.xml": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "description": "Get list of contact person records",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts retrieved successfully",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create contact",
        "description": "Create a new contact person record",
        "tags": [
          "CRM"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/contacts/{id}.xml": {
      "get": {
        "operationId": "getContact",
        "summary": "Get contact",
        "description": "Retrieve a specific contact by ID",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Update contact",
        "description": "Update an existing contact",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete contact",
        "description": "Delete a contact",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Contact ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Contact not found"
          }
        }
      }
    },
    "/firms.xml": {
      "get": {
        "operationId": "listFirms",
        "summary": "List firms",
        "description": "Get list of company/organization records",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of firms retrieved successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createFirm",
        "summary": "Create firm",
        "description": "Create a new company/organization record",
        "tags": [
          "CRM"
        ],
        "responses": {
          "201": {
            "description": "Firm created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/firms/{id}.xml": {
      "get": {
        "operationId": "getFirm",
        "summary": "Get firm",
        "description": "Retrieve a specific firm by ID",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Firm retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Firm not found"
          }
        }
      },
      "put": {
        "operationId": "updateFirm",
        "summary": "Update firm",
        "description": "Update an existing firm",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Firm updated successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Firm not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteFirm",
        "summary": "Delete firm",
        "description": "Delete a firm",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Firm deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Firm not found"
          }
        }
      }
    },
    "/leads.xml": {
      "get": {
        "operationId": "listLeads",
        "summary": "List leads",
        "description": "Get list of sales opportunities",
        "tags": [
          "CRM"
        ],
        "responses": {
          "200": {
            "description": "List of leads retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createLead",
        "summary": "Create lead",
        "description": "Create a new sales opportunity",
        "tags": [
          "CRM"
        ],
        "responses": {
          "201": {
            "description": "Lead created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/bill_sheets.xml": {
      "get": {
        "operationId": "listInvoices",
        "summary": "List invoices",
        "description": "Get list of customer invoices",
        "tags": [
          "Sales"
        ],
        "responses": {
          "200": {
            "description": "List of invoices retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createInvoice",
        "summary": "Create invoice",
        "description": "Create a new customer invoice",
        "tags": [
          "Sales"
        ],
        "responses": {
          "201": {
            "description": "Invoice created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/bill_sheets/{id}.xml": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Get invoice",
        "description": "Retrieve a specific invoice by ID",
        "tags": [
          "Sales"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      },
      "put": {
        "operationId": "updateInvoice",
        "summary": "Update invoice",
        "description": "Update an existing invoice",
        "tags": [
          "Sales"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice updated successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteInvoice",
        "summary": "Delete invoice",
        "description": "Delete an invoice",
        "tags": [
          "Sales"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      }
    },
    "/bill_sheets/print/{id}.xml": {
      "get": {
        "operationId": "printInvoice",
        "summary": "Generate invoice PDF",
        "description": "Generate PDF for an invoice",
        "tags": [
          "Sales"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice PDF generated successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Invoice not found"
          }
        }
      }
    },
    "/customer_products.xml": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Get product catalog",
        "tags": [
          "Sales"
        ],
        "responses": {
          "200": {
            "description": "List of products retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create product",
        "description": "Create a new product",
        "tags": [
          "Sales"
        ],
        "responses": {
          "201": {
            "description": "Product created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/proposal_sheets.xml": {
      "get": {
        "operationId": "listProposals",
        "summary": "List proposals",
        "description": "Get list of quotations, orders, or delivery notes based on sheet_type parameter",
        "tags": [
          "Sales"
        ],
        "parameters": [
          {
            "name": "sheet_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "sale_order",
                "purchase_order",
                "delivery_note"
              ]
            },
            "description": "Type of proposal sheet to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "List of proposals retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createProposal",
        "summary": "Create proposal",
        "description": "Create a new quotation, order, or delivery note",
        "tags": [
          "Sales"
        ],
        "responses": {
          "201": {
            "description": "Proposal created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/projects.xml": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Get list of project records",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "List of projects retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create project",
        "description": "Create a new project",
        "tags": [
          "Projects"
        ],
        "responses": {
          "201": {
            "description": "Project created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tasks.xml": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "description": "Get list of work items",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "List of tasks retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create task",
        "description": "Create a new work item",
        "tags": [
          "Projects"
        ],
        "responses": {
          "201": {
            "description": "Task created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/timesheets.xml": {
      "get": {
        "operationId": "listTimesheets",
        "summary": "List timesheets",
        "description": "Get time tracking records",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "List of timesheets retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTimesheet",
        "summary": "Create timesheet",
        "description": "Create a new time tracking record",
        "tags": [
          "Projects"
        ],
        "responses": {
          "201": {
            "description": "Timesheet created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/staff.xml": {
      "get": {
        "operationId": "listStaff",
        "summary": "List staff",
        "description": "Get list of employee records",
        "tags": [
          "HR"
        ],
        "responses": {
          "200": {
            "description": "List of staff retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createStaff",
        "summary": "Create staff",
        "description": "Create a new employee record",
        "tags": [
          "HR"
        ],
        "responses": {
          "201": {
            "description": "Staff member created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/webhooks.xml": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "Get event subscriptions",
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "List of webhooks retrieved successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create webhook",
        "description": "Create a new event subscription",
        "tags": [
          "Documents"
        ],
        "responses": {
          "201": {
            "description": "Webhook created successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication using login:password credentials. Enable in Settings → Users → APIs Settings panel. Rate limits: 8 calls/second, 240 calls/minute, 4800 calls/hour."
      }
    },
    "schemas": {}
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "CRM",
      "description": "Contact, firm, and lead management"
    },
    {
      "name": "Sales",
      "description": "Products, proposals, orders, and invoices"
    },
    {
      "name": "Inventory",
      "description": "Delivery notes, stock movements, and tracking"
    },
    {
      "name": "Financial",
      "description": "Payments and bank accounts"
    },
    {
      "name": "Projects",
      "description": "Project and task management"
    },
    {
      "name": "HR",
      "description": "Staff, salaries, and vacations"
    },
    {
      "name": "Documents",
      "description": "Notes, files, and webhooks"
    }
  ]
}