{
  "openapi": "3.0.3",
  "info": {
    "title": "Armano HRMS Integration API",
    "description": "Armano Human Resource management system integration API for managing users, employees, and job candidates",
    "version": "2.0.0",
    "contact": {},
    "x-jentic-source-url": "https://armano.io/wp-content/uploads/2025/05/armano-integration-swagger.json"
  },
  "servers": [
    {
      "url": "https://api.armano.io",
      "description": "Production server"
    }
  ],
  "paths": {
    "/core/integrations/api-keys/me": {
      "get": {
        "operationId": "getApiKeyCompany",
        "summary": "Get API Key Company",
        "description": "Get API Key Company information for the authenticated API key",
        "tags": [
          "integration/api-keys"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/core/integrations/users/{email}": {
      "get": {
        "operationId": "getUserByEmail",
        "summary": "Get one user by email",
        "description": "Retrieve a single user by their email address",
        "tags": [
          "integration/users"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "required": true,
            "description": "User email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationUserDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "User not found"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/core/integrations/users": {
      "get": {
        "operationId": "getLatestUsers",
        "summary": "Get latest users",
        "description": "Retrieve a list of the latest users in the system",
        "tags": [
          "integration/users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntegrationUserDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    },
    "/ats/integrations/jobs-candidates": {
      "get": {
        "operationId": "getJobCandidates",
        "summary": "Get new job candidates",
        "description": "Retrieve a list of new job candidates from the applicant tracking system",
        "tags": [
          "integrations/jobs-candidates"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IntegrationJobCandidateDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        },
        "security": [
          {
            "x-api-key": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "x-api-key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "IntegrationUserDto": {
        "type": "object",
        "description": "User information object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID (uuid v4)",
            "format": "uuid"
          },
          "firstName": {
            "type": "string",
            "description": "First name"
          },
          "lastName": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "description": "Email address",
            "format": "email"
          }
        },
        "required": [
          "id",
          "firstName",
          "lastName",
          "email"
        ]
      },
      "IntegrationJobCandidateDto": {
        "type": "object",
        "description": "Job candidate information object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Candidate Unique ID (uuid v4)",
            "format": "uuid"
          },
          "firstName": {
            "type": "string",
            "description": "Candidate First name"
          },
          "lastName": {
            "type": "string",
            "description": "Candidate Last name"
          },
          "email": {
            "type": "string",
            "description": "Candidate Email",
            "format": "email"
          },
          "phone": {
            "type": "string",
            "description": "Candidate Phone Number"
          },
          "job": {
            "type": "object",
            "description": "Job Detail which candidate apply for",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "description": "Job Unique ID (uuid v4)"
              },
              "title": {
                "type": "string",
                "description": "Job Title"
              }
            }
          },
          "createdByUser": {
            "description": "User who added the candidate to the organization",
            "allOf": [
              {
                "$ref": "#/components/schemas/IntegrationUserDto"
              }
            ]
          }
        },
        "required": [
          "id",
          "firstName",
          "lastName",
          "email",
          "phone",
          "job"
        ]
      }
    }
  },
  "security": [
    {
      "x-api-key": []
    }
  ],
  "tags": [
    {
      "name": "integration/api-keys",
      "description": "API key management endpoints"
    },
    {
      "name": "integration/users",
      "description": "User management endpoints"
    },
    {
      "name": "integrations/jobs-candidates",
      "description": "Job candidate management endpoints"
    }
  ]
}