{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "La estandarización de la conexión con cualquier banco en tiempo real.",
    "title": "Afterbanks API Extendida",
    "version": "5.9.3",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Afterbanks/afterbanks-api-extendida/5.9.3/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.afterbanks.com/"
    }
  ],
  "paths": {
    "/Files": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Files"
                }
              }
            },
            "description": "Array con listado de productos bancarios y movimientos."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Files"
        ],
        "description": "Este endpoint recupera y descarga el listado de ficheros disponibles desde la fecha solicidata hasta el día actual.",
        "operationId": "post-files",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "SFTP": {
                    "description": "Los valores posibles son: 0 -> No obtener los ficheros por descarga SFTP (valor por defecto); 1 -> Obtener los ficheros por descarga SFTP, previa configuración.",
                    "type": "number"
                  },
                  "account_id": {
                    "description": "Algunos bancos permiten acceder a diferentes contratos (multicontrato), con distintos productos, utilizando las mismas credenciales. En los casos en los que esto suceda, y el valor de este parámetro sea null o -1, la respuesta de la API notificará de que las credenciales introducidas permiten acceder a más de un contrato mostrando así todos los contratos disponibles con su respectivo identificador.",
                    "format": "int",
                    "type": "number"
                  },
                  "documentType": {
                    "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deberá identificar un número entero (de 0 a 4), que corresponde con su posición en el formulario de login del banco.",
                    "format": "int",
                    "type": "number"
                  },
                  "enddate": {
                    "description": "Fecha hasta la que queremos obtener los ficheros en formato dd-mm-aaaa, posterior a la fecha desde. Opcional, y si no se informa, se utilizará por defecto la fecha del día de hoy.",
                    "type": "string"
                  },
                  "pass": {
                    "description": "Contraseña. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  },
                  "pass2": {
                    "description": "Algunos bancos utilizan una segunda contraseña.",
                    "type": "string"
                  },
                  "products": {
                    "description": "Nombres de productos bancarios (cuentas corrientes, tarjetas, etc), separados por coma. Cabe destacar que en la primera llamada a la API, aún no conocemos los nombres de los productos que el usuario tiene contratados, por lo que este parámetro deberá recibir el valor GLOBAL.",
                    "type": "string"
                  },
                  "service": {
                    "description": "Identificador único para cada banco. El listado de bancos soportados se obtiene de https://www.afterbanks.com/forms/ Para esta API, están incluidos los bancos con sufijo _emp, que identifican accesos de empresas.",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
                    "type": "string"
                  },
                  "startdate": {
                    "description": "Fecha desde la que queremos obtener los ficheros en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" es distinto de GLOBAL.",
                    "format": "date",
                    "type": "string"
                  },
                  "token": {
                    "description": "Identifica credenciales guardadas (tokenizadas) en nuestra plataforma. Este token ha sido obtenido en una llamada previa con el parámetro tokenize=1 en V3.",
                    "type": "string"
                  },
                  "tokenize": {
                    "description": "Parámetro no incluido en la licencia estándar. El valor por defecto es 0. Previene al cliente de tener que almacenar credenciales. Si el valor es 1, las credenciales encriptadas serán guardadas en los servidores de Afterbanks y un token será asignado para ser utilizado en los siguientes accesos, evitando utilizar usuario y contraseña.",
                    "type": "number"
                  },
                  "user": {
                    "description": "Usuario. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Ficheros norma 43 disponibles desde el día actual hasta una fecha dada."
      }
    },
    "/Files/forms": {
      "get": {
        "parameters": [
          {
            "description": "Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para España. Si no se proporciona ningún código, se devolverá la lista completa.",
            "in": "query",
            "name": "country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Forms"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con el listado de bancos soportados y la información necesaria para dibujar su formulario de login"
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Files"
        ],
        "description": "Obtén una lista completa de los bancos soportados para el método de descarga de ficheros 43, así como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "operationId": "get-files-forms",
        "summary": "Lista de bancos soportados en Files"
      }
    },
    "/Files19": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Files"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con listado de productos bancarios y movimientos."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Files"
        ],
        "description": "Este endpoint recupera y descarga el listado de ficheros disponibles desde la fecha solicidata hasta el día actual.",
        "operationId": "post-files19",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "account_id": {
                    "description": "Algunos bancos permiten acceder a diferentes contratos (multicontrato), con distintos productos, utilizando las mismas credenciales. En los casos en los que esto suceda, y el valor de este parámetro sea null o -1, la respuesta de la API notificará de que las credenciales introducidas permiten acceder a más de un contrato mostrando así todos los contratos disponibles con su respectivo identificador.",
                    "format": "int",
                    "type": "number"
                  },
                  "documentType": {
                    "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deberá identificar un número entero (de 0 a 4), que corresponde con su posición en el formulario de login del banco.",
                    "format": "int",
                    "type": "number"
                  },
                  "pass": {
                    "description": "Contraseña. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  },
                  "pass2": {
                    "description": "Algunos bancos utilizan una segunda contraseña.",
                    "type": "string"
                  },
                  "products": {
                    "description": "Nombres de productos bancarios (cuentas corrientes, tarjetas, etc), separados por coma. Cabe destacar que en la primera llamada a la API, aún no conocemos los nombres de los productos que el usuario tiene contratados, por lo que este parámetro deberá recibir el valor GLOBAL.",
                    "type": "string"
                  },
                  "service": {
                    "description": "Identificador único para cada banco. El listado de bancos soportados se obtiene de https://www.afterbanks.com/forms/ Para esta API, están incluidos los bancos con sufijo _emp, que identifican accesos de empresas.",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
                    "type": "string"
                  },
                  "startdate": {
                    "description": "Fecha desde la que queremos obtener los ficheros en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" es distinto de GLOBAL.",
                    "format": "date",
                    "type": "string"
                  },
                  "token": {
                    "description": "Identifica credenciales guardadas (tokenizadas) en nuestra plataforma. Este token ha sido obtenido en una llamada previa con el parámetro tokenize=1.",
                    "type": "string"
                  },
                  "user": {
                    "description": "Usuario. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Ficheros norma 19 (devoluciones) disponibles desde el día actual hasta una fecha dada."
      }
    },
    "/Files19/forms": {
      "get": {
        "parameters": [
          {
            "description": "Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para España. Si no se proporciona ningún código, se devolverá la lista completa.",
            "in": "query",
            "name": "country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Forms"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con el listado de bancos soportados y la información necesaria para dibujar su formulario de login"
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Files"
        ],
        "description": "Obtén una lista completa de los bancos soportados para el método de descarga de ficheros 19, así como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "operationId": "get-files19-forms",
        "summary": "Lista de bancos soportados en Files19"
      }
    },
    "/Files57": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Files"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con listado de productos bancarios y movimientos."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Files"
        ],
        "description": "Este endpoint recupera y descarga el listado de ficheros disponibles entre las fechas solicidatas. Si no se informa de una fecha final, ésta será la del día actual.",
        "operationId": "post-files57",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "account_id": {
                    "description": "Algunos bancos permiten acceder a diferentes contratos (multicontrato), con distintos productos, utilizando las mismas credenciales. En los casos en los que esto suceda, y el valor de este parámetro sea null o -1, la respuesta de la API notificará de que las credenciales introducidas permiten acceder a más de un contrato mostrando así todos los contratos disponibles con su respectivo identificador.",
                    "format": "int",
                    "type": "number"
                  },
                  "documentType": {
                    "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deberá identificar un número entero (de 0 a 4), que corresponde con su posición en el formulario de login del banco.",
                    "format": "int",
                    "type": "number"
                  },
                  "enddate": {
                    "description": "Fecha hasta la que queremos obtener los ficheros en formato dd-mm-aaaa, posterior a la fecha desde. Opcional, y si no se informa, se utilizará por defecto la fecha del día de hoy.",
                    "format": "date",
                    "type": "string"
                  },
                  "pass": {
                    "description": "Contraseña.",
                    "type": "string"
                  },
                  "pass2": {
                    "description": "Algunos bancos utilizan una segunda contraseña.",
                    "type": "string"
                  },
                  "products": {
                    "description": "Nombres de los ficheros, separados por coma. Cabe destacar que en la primera llamada a la API, aún no conocemos los nombres de los ficheros que el usuario tiene posibilidad de descargar, por lo que este parámetro deberá recibir el valor GLOBAL para saber qué ficheros puede descargar. Si se desea que todos los ficheros que se encuentren, se descarguen en una sola petición, se deberá de utilizar el valor ALL.",
                    "type": "string"
                  },
                  "service": {
                    "description": "Identificador único para cada banco. El listado de bancos soportados se obtiene de https://www.afterbanks.com/forms/ Para esta API, están incluidos los bancos con sufijo _emp, que identifican accesos de empresas.",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
                    "type": "string"
                  },
                  "startdate": {
                    "description": "Fecha desde la que queremos obtener los ficheros en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" es distinto de GLOBAL.",
                    "format": "date",
                    "type": "string"
                  },
                  "user": {
                    "description": "Usuario.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Ficheros de recaudaciones disponibles en un rango de fechas dadas."
      }
    },
    "/Files57/forms": {
      "get": {
        "parameters": [
          {
            "description": "Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para España. Si no se proporciona ningún código, se devolverá la lista completa.",
            "in": "query",
            "name": "country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Forms"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con el listado de bancos soportados y la información necesaria para dibujar su formulario de login"
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Files"
        ],
        "description": "Obtén una lista completa de los bancos soportados para el método de descarga de ficheros de recaudaciones - pagos, así como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "operationId": "get-files57-forms",
        "summary": "Lista de bancos soportados en Files57"
      }
    },
    "/ID": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ID"
                }
              }
            },
            "description": "Array con información de identificación del usuario."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "ID"
        ],
        "description": "Este endpoint devuelve la información de identificación del titular de la cuenta.",
        "operationId": "post-id",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "account_id": {
                    "description": "Algunos bancos permiten acceder a diferentes contratos (multicontrato), con distintos productos, utilizando las mismas credenciales. En los casos en los que esto suceda, y el valor de este parámetro sea null o 0, la respuesta de la API notificará de que las credenciales introducidas permiten acceder a más de un contrato. Si el valor es -1, mostrará todos los productos de todos los contratos, haciendo transparente para el cliente la existencia de multicontrato.",
                    "format": "int",
                    "type": "number"
                  },
                  "documentType": {
                    "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deberá identificar un número entero (de 0 a 4), que corresponde con su posición en el formulario de login del banco.",
                    "format": "int",
                    "type": "number"
                  },
                  "pass": {
                    "description": "Contraseña.",
                    "type": "string"
                  },
                  "pass2": {
                    "description": "Algunos bancos utilizan una segunda contraseña.",
                    "type": "string"
                  },
                  "service": {
                    "description": "Identificador único para cada banco. La información de identificación será más o menos extensa en función del banco.",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
                    "type": "string"
                  },
                  "token": {
                    "description": "Identifica credenciales guardadas (tokenizadas) en nuestra plataforma. Este token ha sido obtenido en una llamada previa con el parámetro tokenize=1.",
                    "type": "string"
                  },
                  "tokenize": {
                    "description": "Parámetro no incluido en la licencia estándar. El valor por defecto es 0. Previene al cliente de tener que almacenar credenciales. Si el valor es 1, las credenciales encriptadas serán guardadas en los servidores de Afterbanks y un token será asignado para ser utilizado en los siguientes accesos, evitando utilizar usuario y contraseña.",
                    "type": "number"
                  },
                  "user": {
                    "description": "Usuario.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Método para obtener la identificación de titular."
      }
    },
    "/ID/forms": {
      "get": {
        "parameters": [
          {
            "description": "Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para España. Si no se proporciona ningún código, se devolverá la lista completa.",
            "in": "query",
            "name": "country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ID"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con el listado de bancos soportados y la información necesaria para dibujar su formulario de login"
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "ID"
        ],
        "description": "Obtén una lista completa de los bancos soportados para el método de identificación de titularidad, así como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "operationId": "get-id-forms",
        "summary": "Lista de bancos soportados en ID"
      }
    },
    "/Insurance": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Insurance"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con listado de productos y detalles de los mismos."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Insurance"
        ],
        "description": "Este endpoint devuelve el listado de seguros con todos los detalles relevantes de los mismos. En la cabecera de respuesta de cada llamada a este endpoint encontrará un parámetro llamado Debug-id, que contiene un identificador único para cada una de las llamadas que conviene guardar ya que el equipo técnico se lo pedirá para abrir tickets de soporte.",
        "operationId": "post-insurance",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "OTP": {
                    "description": "One Time Password. Se requiere en algunas compañías de seguros para completar el proceso de login.",
                    "type": "string"
                  },
                  "documentType": {
                    "description": "Algunas compañías de seguros, en su formulario de login, solicitan el tipo de documento. En estos casos, se deberá identificar un número entero (de 0 a 4), que corresponde con su posición en el formulario de login de la compañía de seguros.",
                    "format": "int32",
                    "type": "number"
                  },
                  "pass": {
                    "description": "Contraseña. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  },
                  "pass2": {
                    "description": "Algunas compañías de seguros utilizan una segunda contraseña. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  },
                  "service": {
                    "description": "Identificador único para cada compañía de seguros. El listado de compañías de seguros soportados se obtiene en https://api.afterbanks.com/forms/.",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
                    "type": "string"
                  },
                  "session_id": {
                    "description": "Se requiere cuando el parámetro OTP está establecido. El valor siempre se obtendrá de la llamada previa.",
                    "type": "string"
                  },
                  "token": {
                    "description": "Identifica credenciales guardadas (tokenizadas) en nuestra plataforma. Este token ha sido obtenido en una llamada previa con el parámetro tokenize=1.",
                    "type": "string"
                  },
                  "tokenize": {
                    "description": "Parámetro no incluido en la licencia estándar. El valor por defecto es 0. Previene al cliente de tener que almacenar credenciales. Si el valor es 1, las credenciales encriptadas serán guardadas en los servidores de Afterbanks y un token será asignado para ser utilizado en los siguientes accesos, evitando utilizar usuario y contraseña.",
                    "type": "number"
                  },
                  "user": {
                    "description": "Usuario. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Posición global e información detallada de los seguros."
      }
    },
    "/Utilities": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Utilities"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con listado de productos y detalles de los mismos."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Utilities"
        ],
        "description": "Este endpoint devuelve el listado de facturas de servicios públicos con todos los detalles relevantes de los mismos. En la cabecera de respuesta de cada llamada a este endpoint encontrará un parámetro llamado Debug-id, que contiene un identificador único para cada una de las llamadas que conviene guardar ya que el equipo técnico se lo pedirá para abrir tickets de soporte.",
        "operationId": "post-utilities",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "documentType": {
                    "description": "Algunas compañías de servicios públicos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deberá identificar un número entero (de 0 a 4), que corresponde con su posición en el formulario de login de la compañía de servicios públicos.",
                    "format": "int32",
                    "type": "number"
                  },
                  "get_pdf": {
                    "description": "El valor por defecto es 0. Cuando es 1, descarga el PDF asociado a la factura en la clave filePath.",
                    "type": "number"
                  },
                  "pass": {
                    "description": "Contraseña. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  },
                  "pass2": {
                    "description": "Algunas compañías de servicios públicos utilizan una segunda contraseña. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  },
                  "products": {
                    "description": "LITE (Estructura de contratos)  | GLOBAL (Toda la información de todos los contratos) | contractID_1,contractID_2,contractID_3 (Información de los contratos seleccionados. Identificadores de contrato separados por coma.). Cabe destacar que en la primera llamada a la API aún no conocemos los ID de los contratos que el usuario tiene contratados, por lo que este parámetro deberá recibir el valor GLOBAL o LITE.",
                    "type": "string"
                  },
                  "service": {
                    "description": "Identificador único para cada compañía de servicios públicos. El listado de compañías de servicios públicos soportados se obtiene en https://api.afterbanks.com/Utilities/forms/.",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
                    "type": "string"
                  },
                  "startdate": {
                    "description": "Fecha desde la que queremos obtener facturas en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" no es LITE. Está limitado hasta 12 meses anteriores.",
                    "format": "date",
                    "type": "string"
                  },
                  "user": {
                    "description": "Usuario. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Posición global e información detallada de facturas de servicios públicos."
      }
    },
    "/Utilities/forms": {
      "get": {
        "parameters": [
          {
            "description": "Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para España. Si no se proporciona ningún código, se devolverá la lista completa.",
            "in": "query",
            "name": "country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Forms"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con el listado de servicios soportados y la información necesaria para dibujar su formulario de login"
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Utilities"
        ],
        "description": "Obtén una lista completa de los servicios soportados, así como los nombres de los campos necesarios para dibujar un formulario de login similar al original del servicio.",
        "operationId": "get-utilities-forms",
        "summary": "Lista de bancos soportados en Utilities"
      }
    },
    "/V3": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/V3"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con listado de productos bancarios y movimientos."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "V3"
        ],
        "description": "Este endpoint devuelve el listado de productos y los movimientos para cada uno de los productos desde la fecha solicitada hasta el día actual: hasta 2 años de transacciones para productos tipo checking, lineofcredit, deposit y saving, y los movimientos del mes en curso de los productos tipo card, prepaid y debit. Para la información y estructura de los productos portfolio de inversión, consulte [Models/portfolio](#/portfolio). La cabecera de respuesta de cada llamada a este endpoint encontrará un parámetro llamado Debug-id, que contiene un identificador único para cada una de las llamadas que conviene guardar ya que el equipo técnico se lo pedirá para abrir tickets de soporte.",
        "operationId": "post-v3",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "OTP": {
                    "description": "One Time Password. Se requiere en algunos bancos para completar el proceso de login.",
                    "type": "string"
                  },
                  "account_id": {
                    "description": "Algunos bancos permiten acceder a diferentes contratos (multicontrato), con distintos productos, utilizando las mismas credenciales. En los casos en los que esto suceda, y el valor de este parámetro sea null o -1, la respuesta de la API notificará de que las credenciales introducidas permiten acceder a más de un contrato mostrando así todos los contratos disponibles con su respectivo identificador.",
                    "format": "int",
                    "type": "number"
                  },
                  "counter_id": {
                    "description": "Se requiere cuando el parámetro OTP está establecido. El valor siempre se obtendrá de la llamada previa. Los valores 750 y 850 de este parámetro indican, respectivamente; Petición de movimientos de más de 90 días con OTP y login de doble factor de autenticación con notificación PUSH. El valor 1600 indica ambos casos combinados, es decir, doble factor de autenticación mediante notificación PUSH en una petición de movimientos de más de 90 días.",
                    "type": "number"
                  },
                  "documentType": {
                    "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deberá identificar un número entero (de 0 a 4), que corresponde con su posición en el formulario de login del banco.",
                    "format": "int",
                    "type": "number"
                  },
                  "documents": {
                    "description": "Transaciones con \"hasDoc\" (para localizar este parametro hay que realizar un llamada de consulta previa) a true disponen de descarga en pdf. Suministrando los transactionId separados por comas de estas transaciones especificas, se procedera a la descarga de los pdf.",
                    "type": "string"
                  },
                  "format": {
                    "description": "Añade la clave transactions43 (únicamente cuando el parámetro get_iban está a 0 o no se utiliza), si format = 43 en una solicitud de movimientos de productos, y así se generará la información que contendría un fichero con formato Norma 43 en un banco europeo. Esta información estará codificada en base64, por lo que para obtener la información de los movimientos en este formato, se tendría que decodificar el texto devuelto, que contendrá la información de los movimientos recuperados, a excepción de los del día actual. Cabe destacar que esta funcionalidad no ofrece más información que la devuelta en formato JSON en V3, lo único que cambia es el formato de los datos. Para descargar ficheros 43 reales, hay que utilizar /Files/.",
                    "type": "number"
                  },
                  "get_iban": {
                    "description": "Parámetro tenido en cuenta cuando products=GLOBAL. Los valores posibles son: 0 -> No obtener iban (valor por defecto); 1 -> Obtener iban. Añade la clave iban al array de los productos tipo checking si el banco es Europeo. Añade la clave is_owner indicando si el usuario que hizo login es el titular de la cuenta. Añade la clave holders al array de los productos tipo checking donde se detallan los titulares y autorizados de cada producto.",
                    "type": "number"
                  },
                  "pass": {
                    "description": "Contraseña. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  },
                  "pass2": {
                    "description": "Algunos bancos utilizan una segunda contraseña. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  },
                  "pass3": {
                    "description": "Algunos bancos tienen los tres campos de las credenciales ocupados (user,pass y pass2) y este campo se utiliza para introducir un cuarto valor en las credenciales. Por ejemplo: La firma para solicitar movimientos de más de 90 días.",
                    "type": "string"
                  },
                  "products": {
                    "description": "Nombres de productos bancarios (cuentas corrientes, tarjetas, etc), separados por coma. Cabe destacar que en la primera llamada a la API, aún no conocemos los nombres de los productos que el usuario tiene contratados, por lo que este parámetro deberá recibir el valor GLOBAL.",
                    "type": "string"
                  },
                  "service": {
                    "description": "Identificador único para cada banco. El listado de bancos soportados se obtiene en https://api.afterbanks.com/forms/.",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
                    "type": "string"
                  },
                  "session_id": {
                    "description": "Se requiere cuando el parámetro OTP está establecido. El valor siempre se obtendrá de la llamada previa.",
                    "type": "string"
                  },
                  "startdate": {
                    "description": "Fecha desde la que queremos obtener los movimientos en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" es distinto de GLOBAL.",
                    "format": "date",
                    "type": "string"
                  },
                  "token": {
                    "description": "Identifica credenciales guardadas (tokenizadas) en nuestra plataforma. Este token ha sido obtenido en una llamada previa con el parámetro tokenize=1.",
                    "type": "string"
                  },
                  "tokenize": {
                    "description": "Parámetro no incluido en la licencia estándar. El valor por defecto es 0. Previene al cliente de tener que almacenar credenciales. Si el valor es 1, las credenciales encriptadas serán guardadas en los servidores de Afterbanks y un token será asignado para ser utilizado en los siguientes accesos, evitando utilizar usuario y contraseña.",
                    "type": "number"
                  },
                  "user": {
                    "description": "Usuario. Requerido si el parámetro token no está establecido.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Posición global y movimientos hasta una fecha dada además de la información de los portfolios de inversión."
      }
    },
    "/V3/categories": {
      "get": {
        "parameters": [
          {
            "description": "Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para España. Si no se proporciona ningún código, se devolverá la lista completa.",
            "in": "query",
            "name": "country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Categories"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con el listado de categorias utilizadas por Afterbanks."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "V3"
        ],
        "description": "Obtén una lista completa de las categorías utilizadas por Afterbanks para categorizar los movimientos.",
        "operationId": "get-v3-categories",
        "summary": "Listado de categorías. Solo para las servicekeys con la opción contratada."
      }
    },
    "/V3/deleteToken": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/deleteToken"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Resultado"
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "V3"
        ],
        "description": "Limpia los datos de caché de un token específico.",
        "operationId": "post-v3-deletetoken",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
                    "type": "string"
                  },
                  "token": {
                    "description": "String que identifica las credenciales (tokenizadas) guardadas en nuestra plataforma.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Elimina información guardada relacionada con un token específico."
      }
    },
    "/V3/forms": {
      "get": {
        "parameters": [
          {
            "description": "Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para España. Si no se proporciona ningún código, se devolverá la lista completa.",
            "in": "query",
            "name": "country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Forms"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con el listado de bancos soportados y la información necesaria para dibujar su formulario de login"
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "V3"
        ],
        "description": "Obtén una lista completa de los bancos soportados, así como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "operationId": "get-v3-forms",
        "summary": "Lista de bancos soportados en V3"
      }
    },
    "/batch/collectCredentials": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/batchCredentialsOK"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Procesamiento por lotes de lista de credenciales."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/batchCredentialsKO"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Batch"
        ],
        "description": "Este endpoint recoge un conjunto de credenciales para su procesado en lote (procesado batch)",
        "operationId": "post-batch-collectcredentials",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "credentials": {
                    "items": {
                      "$ref": "#/components/schemas/batchCredentials"
                    },
                    "type": "array"
                  },
                  "servicekey": {
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey",
                  "credentials"
                ],
                "type": "object"
              }
            }
          },
          "description": "Body de la petición con la información de la servicekey y un array con las credeniclaes a procesar",
          "required": true
        },
        "summary": "Procesamiento por lotes de credenciales."
      }
    },
    "/batch/returnResults": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/batchResult"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Respuesta del lote solicitado."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Batch"
        ],
        "description": "Obtiene los resultados del procesado por lotes solicitado o el porcentaje procesado.",
        "operationId": "post-batch-returnresults",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "batchId": {
                    "description": "Identificador del lote enviado previamente del cual se quiere obtener el resultado.",
                    "format": "int",
                    "type": "number"
                  },
                  "offset": {
                    "description": "Indica el número del primer credentialId que desea recuperar. El valor por defecto es 0.",
                    "format": "int",
                    "type": "number"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Procesamiento por lotes de credenciales."
      }
    },
    "/createServicekey": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/createServicekey"
                }
              }
            },
            "description": "Información de la licencia creada."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBasico"
                }
              }
            },
            "description": "Unexpected error"
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBasico"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Servicekey"
        ],
        "description": "Devuelve información de la licencia creada para el nuevo cliente.",
        "operationId": "post-createservicekey",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "cif": {
                    "description": "CIF del cliente.",
                    "maxLength": 24,
                    "minLength": 3,
                    "type": "string"
                  },
                  "codigoPostal": {
                    "description": "Código postal del cliente.",
                    "maxLength": 5,
                    "minLength": 5,
                    "type": "string"
                  },
                  "domicilioFiscal": {
                    "description": "Dirección del cliente.",
                    "maxLength": 128,
                    "minLength": 3,
                    "type": "string"
                  },
                  "email": {
                    "description": "Email de contacto del cliente.",
                    "maxLength": 32,
                    "minLength": 8,
                    "type": "string"
                  },
                  "iban": {
                    "description": "IBAN de facturación del cliente",
                    "maxLength": 32,
                    "minLength": 8,
                    "type": "string"
                  },
                  "nombreComercial": {
                    "description": "Nombre comercial del cliente.",
                    "maxLength": 64,
                    "minLength": 3,
                    "type": "string"
                  },
                  "nombreContacto": {
                    "description": "Nombre de pila del cliente.",
                    "maxLength": 32,
                    "minLength": 3,
                    "type": "string"
                  },
                  "nombreFiscal": {
                    "description": "Nombre fiscal del cliente.",
                    "maxLength": 64,
                    "minLength": 3,
                    "type": "string"
                  },
                  "pais": {
                    "description": "País del cliente en formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
                    "maxLength": 2,
                    "minLength": 2,
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Creación de licencia para nuevos clientes."
      }
    },
    "/deactivateServicekey": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/deactivateServicekey"
                }
              }
            },
            "description": "Información de la licencia creada."
          },
          "400": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBasico"
                }
              }
            },
            "description": "Unexpected error"
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBasico"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Servicekey"
        ],
        "description": "Devuelve información de la licencia desactivada.",
        "operationId": "post-deactivateservicekey",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
                    "type": "string"
                  },
                  "targetServicekey": {
                    "description": "Licencia que se necesita desactivar.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Desactivación de licencias."
      }
    },
    "/directDebits": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/directDebits"
                }
              }
            },
            "description": "Listado de recibos que tiene el usuario domiciliados por cada cuenta bancaria."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "DirectDebits"
        ],
        "description": "Devuelve un listado de recibos que tiene el usuario domiciliados por cada cuenta bancaria.",
        "operationId": "post-directdebits",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "account_id": {
                    "description": "Algunos bancos permiten acceder a diferentes contratos (multicontrato), con distintos productos, utilizando las mismas credenciales. En los casos en los que esto suceda, y el valor de este parámetro sea null o 0, la respuesta de la API notificará de que las credenciales introducidas permiten acceder a más de un contrato. Si el valor es -1, mostrará todos los productos de todos los contratos, haciendo transparente para el cliente la existencia de multicontrato.",
                    "format": "int",
                    "type": "number"
                  },
                  "documentType": {
                    "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deberá identificar un número entero (de 0 a 4), que corresponde con su posición en el formulario de login del banco.",
                    "format": "int",
                    "type": "number"
                  },
                  "pass": {
                    "description": "Contraseña con la que se realiza la conexión",
                    "type": "string"
                  },
                  "pass2": {
                    "description": "Algunos bancos utilizan una segunda contraseña.",
                    "type": "string"
                  },
                  "service": {
                    "description": "Identificador único para cada banco. El listado de bancos soportados se obtiene en https://api.afterbanks.com/directDebits/forms/.",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
                    "type": "string"
                  },
                  "user": {
                    "description": "Usuario con el que se realiza la conexión.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Obtención de las domiciliaciones bancarias"
      }
    },
    "/directDebits/forms": {
      "get": {
        "parameters": [
          {
            "description": "Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para España. Si no se proporciona ningún código, se devolverá la lista completa.",
            "in": "query",
            "name": "country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Forms"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con el listado de servicios soportados y la información necesaria para dibujar su formulario de login"
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "DirectDebits"
        ],
        "description": "Obtén una lista completa de los bancos soportados, así como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "operationId": "get-directdebits-forms",
        "summary": "Lista de los bancos soportados en el endpoint directDebits"
      }
    },
    "/getDocuments": {
      "post": {
        "parameters": [
          {
            "description": "Identificadores (transactionId) de ficheros PDF asociados a movimientos, separados por coma en caso de ser más de uno.",
            "in": "query",
            "name": "documents",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/getDocuments"
                }
              }
            },
            "description": "Descarga de documentos previamente solicitados."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "getDocuments"
        ],
        "description": "Devuelve ficheros PDF asociados a movimientos, codificados en base64. Éstos ficheros tienen que haberse solicitado previamente en el método V3.",
        "operationId": "post-getdocuments",
        "requestBody": {
          "$ref": "#/components/requestBodies/post-getdocuments"
        },
        "summary": "Descarga de ficheros PDF asociados a movimientos que se solicitaron previamente en V3."
      }
    },
    "/getExternalCategorization": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/getExternalCategorization"
                }
              }
            },
            "description": "JSON con el resultado de la ejecución."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Categorization"
        ],
        "description": "Flujo de categorización de movimientos bancarios. Se utiliza un categorizador externo. Esta funcionalidad no está disponible para todos los clientes.",
        "operationId": "post-getexternalcategorization",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "clientId": {
                    "description": "Identificador de la operación.",
                    "type": "string"
                  },
                  "jsonID": {
                    "description": "JSON recibido en la respuesta de /ID/ con la información del titular.",
                    "type": "string"
                  },
                  "jsonV3": {
                    "description": "JSON recibido en la respuesta de /V3/ con la información combinada de las peticiones get_iban=1 y las transacciones bancarias de cada producto.",
                    "type": "string"
                  },
                  "service": {
                    "description": "Identificador del banco para el que se ha realizado la lectura de datos. El listado de bancos soportados se obtiene en https://api.afterbanks.com/forms/.",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Flujo de categorización de movimientos bancarios."
      }
    },
    "/getExternalCategorizationRawData": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/getExternalCategorization"
                }
              }
            },
            "description": "JSON con el resultado de la ejecución."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Categorization"
        ],
        "description": "Flujo de categorización de movimientos bancarios. Se utiliza un categorizador externo. Esta funcionalidad no está disponible para todos los clientes.",
        "operationId": "post-getexternalcategorizationrawdata",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "clientId": {
                    "description": "Identificador de la operación.",
                    "type": "string"
                  },
                  "json": {
                    "description": "JSON en bruto para la categorización.",
                    "type": "string"
                  },
                  "service": {
                    "description": "Identificador del banco para el que se ha realizado la lectura de datos. El listado de bancos soportados se obtiene en https://api.afterbanks.com/forms/.",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Flujo de categorización de movimientos bancarios."
      }
    },
    "/ibanToService": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/ibanToService"
                }
              }
            },
            "description": "Servicio al que pertenece un IBAN. El campo \"services\" es un array de objetos, un objeto por cada servicio al que puede pertenecer el IBAN."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "ibanToService"
        ],
        "description": "Devuelve el nombre del banco al que pertenece el IBAN proporcionado.",
        "operationId": "post-ibantoservice",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "iban": {
                    "description": "IBAN del que se desea conocer el servicio/banco al que pertenece. El formato aceptado es \"XX0000000000000000000000\". Siendo \"XX\" el código ISO del país, seguido de 2 dígitos de control y otros 20 dígitos que representan el código básico de la cuenta bancaria.",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Obtención del nombre del banco vinculado a un IBAN concreto."
      }
    },
    "/institutional": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/institutional"
                }
              }
            },
            "description": "Array con la información institucional del usuario."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Institutional"
        ],
        "description": "Este endpoint informa la información de carácter institucional de un usuario.",
        "operationId": "post-institutional",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "OTP": {
                    "description": "One Time Password. Se requiere en algunos servicios para completar el proceso de login.",
                    "type": "string"
                  },
                  "counter_id": {
                    "description": "Se requiere cuando el parámetro OTP está establecido. El valor siempre se obtendrá de la llamada previa.",
                    "type": "number"
                  },
                  "documentType": {
                    "description": "Algunas instituciones, permiten realizar la conexión con diferentes tipos de login. Los valores aceptados son 0, 1 y 2.",
                    "format": "int32",
                    "type": "number"
                  },
                  "pass": {
                    "description": "Valor solicitado por la entidad para realizar el login.",
                    "type": "string"
                  },
                  "pass2": {
                    "description": "Segundo valor solicitado por la entidad para realizar el login.",
                    "type": "string"
                  },
                  "service": {
                    "description": "Identificador único para cada servicio.",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
                    "type": "string"
                  },
                  "session_id": {
                    "description": "Se requiere cuando el parámetro OTP está establecido. El valor siempre se obtendrá de la llamada previa.",
                    "type": "string"
                  },
                  "user": {
                    "description": "Usuario.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Información institucional del usuario."
      }
    },
    "/institutional/forms": {
      "get": {
        "parameters": [
          {
            "description": "Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para España. Si no se proporciona ningún código, se devolverá la lista completa.",
            "in": "query",
            "name": "country_code",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Forms"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con el listado de servicios soportados y la información necesaria para dibujar su formulario de login"
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "Institutional"
        ],
        "description": "Obtén una lista completa de los servicios soportados, así como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "operationId": "get-institutional-forms",
        "summary": "Lista de servicios soportados en el endpoint institutional"
      }
    },
    "/me": {
      "post": {
        "parameters": [
          {
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "in": "query",
            "name": "servicekey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Indica que se quieren conocer detalles extra. Posible valor true.",
            "in": "query",
            "name": "details",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filtro de fecha a consultar. Posibles valores: 24h o 30d",
            "in": "query",
            "name": "timePeriod",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filtro de tipo de errores. Posibles valores: authentication (errores de contraseña incorrecta) o actionRequired (errores en los cuales el usuario debe realizar una acción)",
            "in": "query",
            "name": "errors",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/me"
                }
              }
            },
            "description": "Información del perfil de un usuario."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "User"
        ],
        "description": "Devuelve información de la licencia del cliente y el uso de llamadas.",
        "operationId": "post-me",
        "summary": "Información de uso de licencia."
      }
    },
    "/sendSMS": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/sendSMS"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array con estado del envío, texto del SMS enviado y código de cliente."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "SMS"
        ],
        "description": "Este endpoint envía un SMS a un usuario dado. En ese SMS se incluye una URL en la cual el usuario inicia un flujo por el cual se realiza un scoring mediante la agregación bancaria. Está destinado a este caso de uso en concreto y se habilita a nivel de contrato.",
        "operationId": "post-sendsms",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "bodyText": {
                    "description": "Parámetro opcional. Texto con un máximo de 80 caracteres, al que se le añadirá el smartlink. En caso de estar vacío, se enviará el texto preconfigurado a su servicekey, por defecto Para continuar con el proceso de préstamo acceda a <smartlink>.",
                    "type": "string"
                  },
                  "clientId": {
                    "description": "Parámetro opcional. Si la llamada incluye un id de cliente, lo incorporaremos al smartlink y viajará al calback. En caso contrario, se creará un id único en nuestro sistema.",
                    "format": "int32",
                    "type": "number"
                  },
                  "phoneNumer": {
                    "description": "Número de teléfono con prefijo del país sin espacios. Por ejemplo, para España +34644501035",
                    "type": "string"
                  },
                  "servicekey": {
                    "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
                    "type": "string"
                  }
                },
                "required": [
                  "servicekey"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Envía SMS"
      }
    },
    "/termsAndConditions": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/termsAndConditions"
                }
              }
            },
            "description": "Términos y Condiciones legales. Listado de elementos HTML: array de objetos con campos elementTag y elementContent."
          },
          "default": {
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "tags": [
          "TermsAndConditions"
        ],
        "description": "Devuelve un listado de elementos HTML con los Términos y Condiciones.",
        "operationId": "post-termsandconditions",
        "requestBody": {
          "$ref": "#/components/requestBodies/post-getdocuments"
        },
        "summary": "Obtención de los Términos y Condiciones legales para su servicio."
      }
    }
  },
  "components": {
    "requestBodies": {
      "post-getdocuments": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "properties": {
                "servicekey": {
                  "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
                  "type": "string"
                }
              },
              "required": [
                "servicekey"
              ],
              "type": "object"
            }
          }
        }
      }
    },
    "schemas": {
      "Categories": {
        "properties": {
          "color": {
            "description": "Color del categoria en hexadecimal.",
            "type": "string"
          },
          "description": {
            "description": "Descripción de la categoria.",
            "type": "string"
          },
          "icon": {
            "description": "Icono de la categoria.",
            "type": "string"
          },
          "id": {
            "description": "Identificador de la categoria.",
            "format": "int",
            "type": "number"
          }
        },
        "type": "object"
      },
      "Error": {
        "properties": {
          "additional_info": {
            "description": "Existirá si las credenciales pertenecen a una cuenta multicontrato.",
            "properties": {
              "account_id": {
                "description": "Numero ordinal representando la posición del contrato.",
                "format": "int",
                "type": "number"
              },
              "counterId": {
                "description": "Se requiere cuando el parámetro OTP está establecido.",
                "format": "int",
                "type": "number"
              },
              "description": {
                "description": "Nombre identificativo del contrato.",
                "type": "string"
              },
              "session_id": {
                "description": "Identificador único de llamada. Necesario para hacer llamadas consistentes a bancos que utilizan OTP.",
                "type": "string"
              },
              "token": {
                "description": "Identifica credenciales guardas cuando tokenize=1.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "code": {
            "description": "Posibles valores:<br>1, Genérico;<br>2, La web del banco esta fuera de servicio;<br>3, Algún dato de conexión no es válido;<br>4, La cuenta solicitada no existe;<br>5, Conexión cortada, reintente la solicitud;<br>6, El usuario debe acceder a la web del banco a realizar una acción;<br>50, Parámetro incorrecto en la llamada a la API.",
            "format": "int",
            "type": "number"
          },
          "longCode": {
            "description": "Posibles valores:<br>3000, Credenciales erróneas;<br>3001, El OTP introducido no es correcto;<br>3002, La longitud del OTP no es correcta;<br>3003, La sesión ha caducado. OTP incorrecto;<br>3004, Se requiere el campo opcional del formulario de login;<br>50000, Usuario no tiene productos;<br>50001, Ususario multicontrato;<br>50002, OTP por SMS;<br>50003, 2FA por notificación PUSH;<br>50004, OTP por código generado en la app;<br>50005, OTP por código estático;<br>50006, OTP por criptocalculadora;<br>50007, 2FA PUSH en una petición de movimientos de más de 90 días;<br>50008, OTP por email;<br>50009, OTP tarjeta de coordenadas;<br>50010: Escanee el código QR;<br>6001, El usuario no ha aceptado la notificación PUSH recibida;<br>6002, Sesión activa, es necesario esperar a que se cierre la anterior para continuar;<br>6003, Credenciales bloqueadas.",
            "format": "int",
            "type": "number"
          },
          "message": {
            "description": "Texto detallando el error encontrado, en el idioma del banco.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorBasico": {
        "properties": {
          "code": {
            "description": "Posibles valores: 1, Genérico; 2, La web del banco esta fuera de servicio; 3, Algún dato de conexión no es válido; 4, La cuenta solicitada no existe; 5, Conexión cortada, reintente la solicitud; 6, El usuario debe acceder a la web del banco a realizar una acción; 50, Parámetro incorrecto en la llamada a la API.",
            "format": "int",
            "type": "number"
          },
          "message": {
            "description": "Texto detallando el error encontrado, en el idioma del banco.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Files": {
        "properties": {
          "file_name": {
            "description": "Clave que identifica al fichero. Generalmente corresponde con el número de cuenta bancaria o tiene el valor ALL, si se trata de un fichero con todos los movimientos agrupados.",
            "properties": {
              "description": {
                "description": "Descripción del fichero",
                "type": "string"
              },
              "file_path": {
                "description": "URL donde está ubicado el fichero",
                "type": "string"
              },
              "file_status": {
                "description": "Estado del fichero: \"not requested\": no se ha solicitado su descarga | \"downloaded\": fichero descargado | \"file_empty\": fichero descargado y vacío",
                "type": "string"
              },
              "is_iban": {
                "description": "Indica si la key principal corresponde a un IBAN válido o no.",
                "type": "boolean"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "Forms": {
        "properties": {
          "business": {
            "description": "Valor booleano. Hay bancos que tienen accesos diferentes para particulares y para empresas. Si el valor es 1, indica que es acceso de empresas.",
            "type": "boolean"
          },
          "color": {
            "description": "Color del banco en hexadecimal",
            "type": "string"
          },
          "country_code": {
            "description": "Código del país, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
            "type": "string"
          },
          "documentType": {
            "description": "Lista de valores posibles para el campo de \"tipo de documento\", separado por el carácter \"|\" (por ejemplo: NIF|Pasaporte|Tarjeta de residencia). En el caso de que el banco no requiera de esta información en su formulario de login, el valor es 0.",
            "type": "string"
          },
          "file_type": {
            "description": "Tipo de fichero N43: onDemand, sftp o repository",
            "type": "string"
          },
          "fullname": {
            "description": "Nombre completo del banco.",
            "type": "string"
          },
          "image": {
            "description": "URL del icono del banco en formato PNG transparente y resolución 128x128.",
            "type": "string"
          },
          "imageSVG": {
            "description": "URL del icono del banco en formato SVG transparente y resolución 128x128.",
            "type": "string"
          },
          "pass": {
            "description": "Texto que acompaña al input box de password.",
            "type": "string"
          },
          "pass2": {
            "description": "Texto que acompaña al input box del segundo password. En el caso de que el banco no requiera de esta información en su formulario de login, el valor es 0.",
            "type": "string"
          },
          "pass2desc": {
            "description": "Texto de ayuda para rellenar el input box de segundo password, en caso de que el formulario original del banco tenga algún texto de ayuda.",
            "type": "string"
          },
          "pass2type": {
            "description": "Texto que acompaña al input box del segundo password. En el caso de que el banco no requiera de esta información en su formulario de login, el valor es 0.",
            "type": "string"
          },
          "passdesc": {
            "description": "Texto de ayuda para rellenar el input box de password, en caso de que el formulario original del banco tenga algún texto de ayuda.",
            "type": "string"
          },
          "passtype": {
            "description": "Texto que acompaña al input box de password.",
            "type": "string"
          },
          "service": {
            "description": "Identificador único del banco en la API.",
            "type": "string"
          },
          "swift": {
            "description": "Código SWIFT, formato ISO 9362 (https://en.wikipedia.org/wiki/ISO_9362).",
            "type": "string"
          },
          "user": {
            "description": "Texto que acompaña al input box de usuario.",
            "type": "string"
          },
          "userdesc": {
            "description": "Texto de ayuda para rellenar el input box de usuario, en caso de que el formulario original del banco tenga algún texto de ayuda.",
            "type": "string"
          },
          "usertype": {
            "description": "Texto que acompaña al input box de usuario.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ID": {
        "properties": {
          "account_holder": {
            "description": "Nombre y apellidos. Su valor será null si no está disponible.",
            "type": "string"
          },
          "address": {
            "description": "Dirección postal. Su valor será null si no está disponible.",
            "type": "string"
          },
          "birth_date": {
            "description": "Fecha de nacimiento en formato DD-MM-YYYY. Su valor será null si no está disponible.",
            "type": "string"
          },
          "city": {
            "description": "Ciudad. Su valor será null si no está disponible.",
            "type": "string"
          },
          "company_name": {
            "description": "Nombre de empresa. Su valor será null si no está disponible.",
            "type": "string"
          },
          "email": {
            "description": "Correo electrónico. Su valor será null si no está disponible.",
            "type": "string"
          },
          "id": {
            "description": "Número de documento de identificación. Su valor será null si no está disponible.",
            "type": "string"
          },
          "job": {
            "description": "Descripción del trabajo. Su valor será null si no está disponible.",
            "type": "string"
          },
          "mobile_phone": {
            "description": "Teléfono móvil. Su valor será null si no está disponible.",
            "type": "string"
          },
          "town": {
            "description": "Población. Su valor será null si no está disponible.",
            "type": "string"
          },
          "type": {
            "description": "Valor por defecto \"personalinformation\". Su valor será null si no está disponible.",
            "type": "string"
          },
          "zip_code": {
            "description": "Código postal. Su valor será null si no está disponible.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Insurance": {
        "properties": {
          "amount": {
            "description": "Importe del seguro, normalmente anual.",
            "format": "float",
            "type": "number"
          },
          "currency": {
            "description": "Código de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
            "type": "string"
          },
          "description": {
            "description": "Nombre del producto. En ocasiones es un alias que ha asignado el usuario.",
            "type": "string"
          },
          "expiration_date": {
            "description": "Fecha de vencimiento del seguro en formato dd-mm-yyyy.",
            "type": "string"
          },
          "holders": {
            "description": "Listado que contiene la información personal de las personas que tienen algún rol en el seguro (Tomador, propietario, etc.). Contiene un objeto por cada rol.",
            "type": "object"
          },
          "installment": {
            "description": "Fraccionamiento del pago del seguro. (Anual, mensual, etc.)",
            "type": "string"
          },
          "insured_risk": {
            "description": "Información más detallada sobre el vehiculo/hogar asegurado. No siempre está disponible.",
            "type": "string"
          },
          "product": {
            "description": "Identificador único para un producto. Por ejemplo, número de contrato del seguro.",
            "type": "string"
          },
          "receipts": {
            "items": {
              "description": "Listado de recibos correspondientes a cada seguro.",
              "properties": {
                "amount": {
                  "description": "Importe del recibo.",
                  "format": "float",
                  "type": "number"
                },
                "date": {
                  "description": "Fecha del recibo en formato dd-mm-yyyy.",
                  "format": "date",
                  "type": "string"
                },
                "number": {
                  "description": "Numero identificativo del recibo.",
                  "type": "string"
                },
                "status": {
                  "description": "Estado del recibo (Pagado, pendiente,etc.)",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "risks_covered": {
            "description": "Listado de riesgos cubiertos.",
            "type": "object"
          },
          "type": {
            "description": "Tipo de producto. El valor más habitual es \"insurance\" para seguros corrientes. Para los productos no reconocidos, \"other\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Utilities": {
        "properties": {
          "additional_info": {
            "description": "Información del producto.",
            "properties": {
              "commitmentTerminationDate": {
                "description": "Fecha de permanencia.",
                "type": "string"
              },
              "contractStructure": {
                "properties": {
                  "internet": {
                    "properties": {
                      "description": {
                        "description": "Descripción del producto.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "mobile": {
                    "items": {
                      "properties": {
                        "additional_info": {
                          "items": {
                            "description": "Información adicional por teléfono móvil. Solo se utiliza en servicios de empresa.",
                            "properties": {
                              "type": {
                                "description": "Tipo de dato",
                                "type": "string"
                              },
                              "value": {
                                "description": "Valor del dato",
                                "type": "string"
                              }
                            },
                            "type": "object"
[...]
