{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "Utilizada para solicitar acesso a serviços ",
    "title": "API de Autenticação",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/abgbruce/api-de_autenticacao/v1/swagger.json"
  },
  "servers": [
    {
      "url": "https://qqcoisa.todosdobem.com.br/api/login/v1"
    }
  ],
  "paths": {
    "/logins/{login}/tokens": {
      "post": {
        "parameters": [
          {
            "description": "Login informado pelo corretor requisitante.",
            "in": "path",
            "name": "login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Usuário validado."
          },
          "400": {
            "description": "Um dos parâmetros ausentes ou URL mal-formada."
          },
          "401": {
            "description": "Combinação de login+senha inválida"
          },
          "500": {
            "description": "Erro interno de serviço."
          }
        },
        "tags": [
          "login"
        ],
        "description": "Método de autenticação para acesso a serviços da Empresa",
        "operationId": "validar-Usu-rio",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "senha": {
                    "description": "Senha informada pelo corretor requisitante.",
                    "type": "string"
                  }
                },
                "required": [
                  "senha"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Autenticação."
      }
    }
  },
  "tags": [
    {
      "description": "API de autenticação de usuário.",
      "name": "login"
    }
  ]
}