{
  "openapi": "3.0.3",
  "info": {
    "title": "HiPay Enterprise Gateway API",
    "version": "1.2.3",
    "description": "HiPay Enterprise Gateway API enables payment processing and transaction management for orders. Supports card tokens, alternative payment methods, 3-D Secure, and maintenance operations.",
    "contact": {
      "email": "pi-commerce@hipay.com"
    },
    "x-jentic-source-url": "https://developer.hipay.com/online-payments/payment-means/przelewy-24"
  },
  "servers": [
    {
      "url": "https://secure-gateway.hipay-tpp.com/rest",
      "description": "Production"
    },
    {
      "url": "https://stage-secure-gateway.hipay-tpp.com/rest",
      "description": "Stage/Sandbox"
    }
  ],
  "paths": {
    "/v1/order": {
      "post": {
        "operationId": "requestNewOrder",
        "tags": [
          "payments"
        ],
        "summary": "Create Order and Transaction",
        "description": "Executes transactions via API with card tokens or alternative payment methods. Supports 3-D Secure authentication.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/InputOrder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/maintenance/transaction/{transaction_reference}": {
      "post": {
        "operationId": "performMaintenanceOperation",
        "tags": [
          "maintenance"
        ],
        "summary": "Perform Maintenance Operation",
        "description": "Executes maintenance on transactions including capture, refund, cancel, and challenge actions.",
        "parameters": [
          {
            "name": "transaction_reference",
            "in": "path",
            "required": true,
            "description": "The transaction reference ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Maintenance"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transaction/{transaction_reference}": {
      "get": {
        "operationId": "getTransactionByReference",
        "tags": [
          "transaction"
        ],
        "summary": "Get Transaction by Reference",
        "description": "Retrieves transaction details by transaction reference ID.",
        "deprecated": true,
        "parameters": [
          {
            "name": "transaction_reference",
            "in": "path",
            "required": true,
            "description": "The transaction reference ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transaction": {
      "get": {
        "operationId": "getTransactionsByOrder",
        "tags": [
          "transaction"
        ],
        "summary": "Get Transactions by Order",
        "description": "Retrieves all transactions for a given merchant order ID.",
        "deprecated": true,
        "parameters": [
          {
            "name": "orderid",
            "in": "query",
            "required": true,
            "description": "The merchant order ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionDetail"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication using API login and API password. Format: Authorization: Basic base64(API_login:API_password)"
      }
    },
    "schemas": {
      "InputOrder": {
        "type": "object",
        "required": [
          "orderid",
          "payment_product",
          "description",
          "currency",
          "amount"
        ],
        "properties": {
          "orderid": {
            "type": "string",
            "description": "Unique merchant order ID"
          },
          "payment_product": {
            "type": "string",
            "description": "Payment product code (e.g., 'visa', 'mastercard', 'przelewy24')"
          },
          "description": {
            "type": "string",
            "description": "Payment description"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code (e.g., EUR, PLN)"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Transaction total amount"
          },
          "cardtoken": {
            "type": "string",
            "description": "Card token for card payments"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "firstname": {
            "type": "string",
            "description": "Customer first name"
          },
          "lastname": {
            "type": "string",
            "description": "Customer last name"
          },
          "country": {
            "type": "string",
            "description": "Customer country code"
          },
          "language": {
            "type": "string",
            "description": "Language code for the payment page"
          },
          "accept_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect on successful payment"
          },
          "decline_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect on declined payment"
          },
          "pending_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect on pending payment"
          },
          "exception_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect on exception"
          },
          "cancel_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect on cancelled payment"
          },
          "notify_url": {
            "type": "string",
            "format": "uri",
            "description": "Server-to-server notification URL"
          },
          "operation": {
            "type": "string",
            "enum": [
              "Sale",
              "Authorization"
            ],
            "description": "Transaction type"
          },
          "authentication_indicator": {
            "type": "integer",
            "description": "3DS authentication preference"
          }
        }
      },
      "Maintenance": {
        "type": "object",
        "required": [
          "operation"
        ],
        "properties": {
          "operation": {
            "type": "string",
            "enum": [
              "capture",
              "refund",
              "cancel",
              "acceptChallenge",
              "denyChallenge",
              "finalize"
            ],
            "description": "Maintenance operation to execute"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Amount for partial capture/refund"
          },
          "operation_id": {
            "type": "string",
            "description": "Unique operation identifier"
          },
          "basket": {
            "type": "string",
            "description": "JSON basket details for partial operations"
          },
          "sub_transaction_reference": {
            "type": "string",
            "description": "Sub-transaction reference"
          },
          "source": {
            "type": "string",
            "description": "Operation source"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "description": "Transaction state"
          },
          "reason": {
            "type": "string",
            "description": "Transaction state reason"
          },
          "forward_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect the consumer for payment completion"
          },
          "test": {
            "type": "boolean",
            "description": "Whether this is a test transaction"
          },
          "mid": {
            "type": "string",
            "description": "Merchant ID"
          },
          "attempt_id": {
            "type": "string",
            "description": "Payment attempt ID"
          },
          "authorization_code": {
            "type": "string",
            "description": "Authorization code"
          },
          "transaction_reference": {
            "type": "string",
            "description": "Transaction reference"
          },
          "date_created": {
            "type": "string",
            "description": "Transaction creation date"
          },
          "date_updated": {
            "type": "string",
            "description": "Transaction last update date"
          },
          "date_authorized": {
            "type": "string",
            "description": "Authorization date"
          },
          "status": {
            "type": "integer",
            "description": "Transaction status code"
          },
          "message": {
            "type": "string",
            "description": "Transaction status message"
          },
          "authorized_amount": {
            "type": "number",
            "format": "float",
            "description": "Authorized amount"
          },
          "captured_amount": {
            "type": "number",
            "format": "float",
            "description": "Captured amount"
          },
          "refunded_amount": {
            "type": "number",
            "format": "float",
            "description": "Refunded amount"
          },
          "decimals": {
            "type": "integer",
            "description": "Number of decimals"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          }
        }
      },
      "TransactionDetail": {
        "type": "object",
        "properties": {
          "transaction_reference": {
            "type": "string",
            "description": "Transaction reference"
          },
          "state": {
            "type": "string",
            "description": "Transaction state"
          },
          "status": {
            "type": "integer",
            "description": "Transaction status code"
          },
          "message": {
            "type": "string",
            "description": "Status message"
          },
          "order_id": {
            "type": "string",
            "description": "Merchant order ID"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Transaction amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "payment_product": {
            "type": "string",
            "description": "Payment product used"
          },
          "date_created": {
            "type": "string",
            "description": "Creation date"
          },
          "date_updated": {
            "type": "string",
            "description": "Last update date"
          }
        }
      },
      "Operation": {
        "type": "object",
        "properties": {
          "mid": {
            "type": "string",
            "description": "Merchant ID"
          },
          "status": {
            "type": "string",
            "description": "Operation status"
          },
          "date_created": {
            "type": "string",
            "description": "Operation creation date"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Operation amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "operation": {
            "type": "string",
            "description": "Operation type"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "description": {
            "type": "string",
            "description": "Error description"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "payments",
      "description": "Payment and order operations"
    },
    {
      "name": "maintenance",
      "description": "Transaction maintenance operations"
    },
    {
      "name": "transaction",
      "description": "Transaction query operations"
    }
  ]
}