{
  "openapi": "3.0.3",
  "info": {
    "title": "Gancio API",
    "version": "1.0.0",
    "description": "Gancio is a shared agenda for local communities. This API allows managing events, authentication, and user profiles.",
    "x-jentic-source-url": "https://gancio.org/dev/api"
  },
  "servers": [
    {
      "url": "https://demo.gancio.org",
      "description": "Gancio demo instance"
    },
    {
      "url": "https://{instance}",
      "description": "Self-hosted Gancio instance",
      "variables": {
        "instance": {
          "default": "demo.gancio.org",
          "description": "Your Gancio instance domain"
        }
      }
    }
  ],
  "paths": {
    "/oauth/login": {
      "post": {
        "operationId": "authenticateUser",
        "summary": "Obtain access and refresh tokens using credentials",
        "description": "Authenticate using username and password to get OAuth tokens. This endpoint will be deprecated in v2.0.",
        "deprecated": true,
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "Retrieve events with optional filters",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start timestamp (default: now)"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "End timestamp"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by tags"
          },
          {
            "name": "places",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by places"
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of events to return"
          },
          {
            "name": "show_recurrent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to show recurrent events"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/event": {
      "post": {
        "operationId": "createEvent",
        "summary": "Create a new event",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/EventCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateEvent",
        "summary": "Update an existing event",
        "description": "Modify an event. Requires admin or owner access.",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/EventUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/user": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get the current authenticated user profile",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "username",
          "password",
          "client_id",
          "grant_type"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "client_id": {
            "type": "string",
            "enum": [
              "self"
            ],
            "description": "Must be 'self'"
          },
          "grant_type": {
            "type": "string",
            "enum": [
              "password"
            ],
            "description": "Must be 'password'"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "place_name": {
            "type": "string"
          },
          "place_address": {
            "type": "string"
          },
          "place_latitude": {
            "type": "number"
          },
          "place_longitude": {
            "type": "number"
          },
          "online_locations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "start_datetime": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "multidate": {
            "type": "integer",
            "description": "End timestamp for multiday events"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "image_path": {
            "type": "string"
          }
        }
      },
      "EventCreateRequest": {
        "type": "object",
        "required": [
          "title",
          "start_datetime",
          "place_name"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "HTML content (sanitized server-side)"
          },
          "place_name": {
            "type": "string"
          },
          "place_address": {
            "type": "string"
          },
          "place_latitude": {
            "type": "number"
          },
          "place_longitude": {
            "type": "number"
          },
          "online_locations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "start_datetime": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "multidate": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "recurrent": {
            "$ref": "#/components/schemas/RecurrentConfig"
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "Event image file"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to event image"
          }
        }
      },
      "EventUpdateRequest": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "place_name": {
            "type": "string"
          },
          "place_address": {
            "type": "string"
          },
          "place_latitude": {
            "type": "number"
          },
          "place_longitude": {
            "type": "number"
          },
          "online_locations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "start_datetime": {
            "type": "integer"
          },
          "multidate": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "recurrent": {
            "$ref": "#/components/schemas/RecurrentConfig"
          },
          "image": {
            "type": "string",
            "format": "binary"
          },
          "image_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "RecurrentConfig": {
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "Recurrence frequency"
          },
          "days": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Days of the week for recurrence"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "is_admin": {
            "type": "boolean"
          },
          "is_active": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "settings": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 Bearer token obtained from /oauth/login"
      }
    }
  },
  "security": []
}