{
  "openapi": "3.0.3",
  "info": {
    "title": "Payten MSU API",
    "version": "2.0.0",
    "description": "MerchantSafeUnipay (Payten) Payment Gateway API v2 for payment processing, card management, recurring payments, and merchant operations.",
    "x-jentic-source-url": "https://merchantsafeunipay.com/msu/api/v2/doc",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://merchantsafeunipay.com/msu/api/v2"
    }
  ],
  "paths": {
    "/session": {
      "post": {
        "operationId": "createSession",
        "summary": "Create session token",
        "tags": [
          "Session"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create session token"
      }
    },
    "/session/extend": {
      "post": {
        "operationId": "extendSession",
        "summary": "Extend session",
        "tags": [
          "Session"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "SESSIONTOKEN": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Extend session"
      }
    },
    "/session/kill": {
      "post": {
        "operationId": "killSession",
        "summary": "Kill session",
        "tags": [
          "Session"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "SESSIONTOKEN": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Kill session"
      }
    },
    "/sale": {
      "post": {
        "operationId": "processSale",
        "summary": "Process sale",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Process sale"
      }
    },
    "/preauth": {
      "post": {
        "operationId": "preauthorize",
        "summary": "Pre-authorize payment",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Pre-authorize payment"
      }
    },
    "/postauth": {
      "post": {
        "operationId": "postauthorize",
        "summary": "Complete pre-authorized payment",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PostAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Complete pre-authorized payment"
      }
    },
    "/void": {
      "post": {
        "operationId": "voidTransaction",
        "summary": "Void transaction",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PostAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Void transaction"
      }
    },
    "/refund": {
      "post": {
        "operationId": "refundTransaction",
        "summary": "Refund payment",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PostAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Refund payment"
      }
    },
    "/query": {
      "post": {
        "operationId": "queryTransactions",
        "summary": "Query transactions",
        "tags": [
          "Query"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Query transactions"
      }
    },
    "/card/add": {
      "post": {
        "operationId": "addCard",
        "summary": "Add saved card",
        "tags": [
          "Cards"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "MERCHANTUSER": {
                    "type": "string"
                  },
                  "MERCHANTPASSWORD": {
                    "type": "string"
                  },
                  "MERCHANT": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Add saved card"
      }
    },
    "/card/edit": {
      "post": {
        "operationId": "editCard",
        "summary": "Edit saved card",
        "tags": [
          "Cards"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Edit saved card"
      }
    },
    "/card/delete": {
      "post": {
        "operationId": "deleteCard",
        "summary": "Delete saved card",
        "tags": [
          "Cards"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete saved card"
      }
    },
    "/payByLink/add": {
      "post": {
        "operationId": "createPayByLink",
        "summary": "Create payment link",
        "tags": [
          "Pay By Link"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create payment link"
      }
    },
    "/payByLink/edit": {
      "post": {
        "operationId": "editPayByLink",
        "summary": "Edit payment link",
        "tags": [
          "Pay By Link"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Edit payment link"
      }
    },
    "/payByLink/cancel": {
      "post": {
        "operationId": "cancelPayByLink",
        "summary": "Cancel payment link",
        "tags": [
          "Pay By Link"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Cancel payment link"
      }
    },
    "/recurringPlan/add": {
      "post": {
        "operationId": "createRecurringPlan",
        "summary": "Create recurring plan",
        "tags": [
          "Recurring"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create recurring plan"
      }
    },
    "/recurringPlan/edit": {
      "post": {
        "operationId": "editRecurringPlan",
        "summary": "Edit recurring plan",
        "tags": [
          "Recurring"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Edit recurring plan"
      }
    },
    "/recurringPlan/delete": {
      "post": {
        "operationId": "deleteRecurringPlan",
        "summary": "Delete recurring plan",
        "tags": [
          "Recurring"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete recurring plan"
      }
    },
    "/customer/add": {
      "post": {
        "operationId": "addCustomer",
        "summary": "Create customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create customer"
      }
    },
    "/customer/edit": {
      "post": {
        "operationId": "editCustomer",
        "summary": "Edit customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Edit customer"
      }
    }
  },
  "components": {
    "schemas": {
      "SessionRequest": {
        "type": "object",
        "properties": {
          "MERCHANTUSER": {
            "type": "string"
          },
          "MERCHANTPASSWORD": {
            "type": "string"
          },
          "MERCHANT": {
            "type": "string"
          },
          "AMOUNT": {
            "type": "string"
          },
          "CURRENCY": {
            "type": "string"
          },
          "CUSTOMER": {
            "type": "string"
          }
        }
      },
      "SessionResponse": {
        "type": "object",
        "properties": {
          "responseCode": {
            "type": "string"
          },
          "responseMsg": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "TransactionRequest": {
        "type": "object",
        "required": [
          "ACTION",
          "SESSIONTOKEN"
        ],
        "properties": {
          "ACTION": {
            "type": "string"
          },
          "SESSIONTOKEN": {
            "type": "string"
          },
          "AMOUNT": {
            "type": "string"
          },
          "CURRENCY": {
            "type": "string"
          },
          "MERCHANTUSER": {
            "type": "string"
          },
          "MERCHANTPASSWORD": {
            "type": "string"
          },
          "MERCHANT": {
            "type": "string"
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "responseCode": {
            "type": "string",
            "enum": [
              "00",
              "01",
              "98",
              "99"
            ]
          },
          "responseMsg": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "transactionId": {
            "type": "string"
          }
        }
      },
      "PostAuthRequest": {
        "type": "object",
        "properties": {
          "SESSIONTOKEN": {
            "type": "string"
          },
          "MERCHANTUSER": {
            "type": "string"
          },
          "MERCHANTPASSWORD": {
            "type": "string"
          },
          "MERCHANT": {
            "type": "string"
          },
          "AMOUNT": {
            "type": "string"
          }
        }
      },
      "QueryRequest": {
        "type": "object",
        "properties": {
          "ACTION": {
            "type": "string"
          },
          "MERCHANTUSER": {
            "type": "string"
          },
          "MERCHANTPASSWORD": {
            "type": "string"
          },
          "MERCHANT": {
            "type": "string"
          }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "responseCode": {
            "type": "string"
          },
          "responseMsg": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "GenericResponse": {
        "type": "object",
        "properties": {
          "responseCode": {
            "type": "string"
          },
          "responseMsg": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "merchantAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "MERCHANTUSER + MERCHANTPASSWORD credentials"
      }
    }
  },
  "security": [
    {
      "merchantAuth": []
    }
  ],
  "tags": [
    {
      "name": "Cards"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Pay By Link"
    },
    {
      "name": "Query"
    },
    {
      "name": "Recurring"
    },
    {
      "name": "Session"
    },
    {
      "name": "Transactions"
    }
  ]
}
