{
  "openapi": "3.0.3",
  "info": {
    "title": "Terros API",
    "description": "Terros API for managing accounts, calendars, contacts, dispositions, evaluations, locations, reports, tasks, teams, users, imports, and exports",
    "version": "1.0.0",
    "contact": {
      "url": "https://docs.terros.com"
    }
  },
  "servers": [
    {
      "url": "https://api.terros.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/user/get": {
      "post": {
        "summary": "Get user profile",
        "description": "Retrieve the current user's profile information",
        "operationId": "getUserProfile",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          }
        }
      }
    },
    "/account": {
      "get": {
        "summary": "Get accounts",
        "description": "Retrieve account information",
        "operationId": "getAccounts",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/calendar": {
      "get": {
        "summary": "Get calendars",
        "description": "Retrieve calendar information",
        "operationId": "getCalendars",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/contact": {
      "get": {
        "summary": "Get contacts",
        "description": "Retrieve contact information",
        "operationId": "getContacts",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create contact",
        "description": "Create a new contact",
        "operationId": "createContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/disposition": {
      "get": {
        "summary": "Get dispositions",
        "description": "Retrieve disposition information",
        "operationId": "getDispositions",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/evaluation": {
      "get": {
        "summary": "Get evaluations",
        "description": "Retrieve evaluation information",
        "operationId": "getEvaluations",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/location": {
      "get": {
        "summary": "Get locations",
        "description": "Retrieve location information",
        "operationId": "getLocations",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/report": {
      "get": {
        "summary": "Get reports",
        "description": "Retrieve report information",
        "operationId": "getReports",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/task": {
      "get": {
        "summary": "Get tasks",
        "description": "Retrieve task information",
        "operationId": "getTasks",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create task",
        "description": "Create a new task",
        "operationId": "createTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task created"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/team": {
      "get": {
        "summary": "Get teams",
        "description": "Retrieve team information",
        "operationId": "getTeams",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/user": {
      "get": {
        "summary": "Get users",
        "description": "Retrieve user information",
        "operationId": "getUsers",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/import": {
      "post": {
        "summary": "Import data",
        "description": "Import data into Terros",
        "operationId": "importData",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/export": {
      "post": {
        "summary": "Export data",
        "description": "Export data from Terros",
        "operationId": "exportData",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export successful"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key authentication. Format: 'ApiKey YOUR_API_KEY'. Get your API key from https://app.terros.com/settings/apikey"
      }
    }
  }
}
