{
  "openapi": "3.0.3",
  "info": {
    "title": "Threema Broadcast API",
    "description": "Threema Broadcast is a service that enables secure, automated messaging to groups or individuals, ideal for notifications, alerts and team communication.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://broadcast.threema.ch/en/api-doc"
  },
  "servers": [
    {
      "url": "https://broadcast.threema.ch/api/v1"
    }
  ],
  "paths": {
    "/identities/{broadcastUid}/bots": {
      "get": {
        "operationId": "listBots",
        "summary": "List all bots",
        "description": "Retrieve all bots for the given broadcast identity.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of bots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bot"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBot",
        "summary": "Create a bot",
        "description": "Create a new bot for the given broadcast identity.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bot created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bot"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/bots/{botUid}": {
      "get": {
        "operationId": "getBot",
        "summary": "Get bot details",
        "description": "Retrieve details of a specific bot.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot UID"
          }
        ],
        "responses": {
          "200": {
            "description": "Bot details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bot"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateBot",
        "summary": "Update a bot",
        "description": "Update an existing bot.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bot updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bot"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBot",
        "summary": "Delete a bot",
        "description": "Delete an existing bot.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot UID"
          }
        ],
        "responses": {
          "200": {
            "description": "Bot deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/bots/{botUid}/{botState}": {
      "put": {
        "operationId": "updateBotState",
        "summary": "Update bot state",
        "description": "Set the bot state to active or deleted.",
        "tags": [
          "Bots"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot UID"
          },
          {
            "name": "botState",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "deleted"
              ]
            },
            "description": "Target bot state"
          }
        ],
        "responses": {
          "200": {
            "description": "State updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bot"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/bots/{botUid}/commands": {
      "get": {
        "operationId": "listBotCommands",
        "summary": "List bot commands",
        "description": "List all commands for a specific bot.",
        "tags": [
          "BotCommands"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot UID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of commands",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BotCommand"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBotCommand",
        "summary": "Create a bot command",
        "description": "Create a new command for a specific bot.",
        "tags": [
          "BotCommands"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotCommand"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/bots/{botUid}/commands/{commandUid}": {
      "get": {
        "operationId": "getBotCommand",
        "summary": "Get bot command details",
        "description": "Retrieve details of a specific bot command.",
        "tags": [
          "BotCommands"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot UID"
          },
          {
            "name": "commandUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Command UID"
          }
        ],
        "responses": {
          "200": {
            "description": "Command details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotCommand"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateBotCommand",
        "summary": "Update a bot command",
        "description": "Update an existing bot command.",
        "tags": [
          "BotCommands"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot UID"
          },
          {
            "name": "commandUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Command UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Command updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BotCommand"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBotCommand",
        "summary": "Delete a bot command",
        "description": "Delete an existing bot command.",
        "tags": [
          "BotCommands"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "botUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bot UID"
          },
          {
            "name": "commandUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Command UID"
          }
        ],
        "responses": {
          "200": {
            "description": "Command deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists": {
      "get": {
        "operationId": "listDistributionLists",
        "summary": "List distribution lists",
        "description": "Retrieve all distribution lists for the given broadcast identity.",
        "tags": [
          "DistributionLists"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of distribution lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DistributionList"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDistributionList",
        "summary": "Create a distribution list",
        "description": "Create a new distribution list.",
        "tags": [
          "DistributionLists"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDistributionListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistributionList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists/{distributionListUid}": {
      "get": {
        "operationId": "getDistributionList",
        "summary": "Get distribution list details",
        "description": "Retrieve details of a specific distribution list.",
        "tags": [
          "DistributionLists"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution list UID"
          }
        ],
        "responses": {
          "200": {
            "description": "Distribution list details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistributionList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateDistributionList",
        "summary": "Update a distribution list",
        "description": "Update an existing distribution list.",
        "tags": [
          "DistributionLists"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution list UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDistributionListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistributionList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDistributionList",
        "summary": "Delete a distribution list",
        "description": "Delete an existing distribution list.",
        "tags": [
          "DistributionLists"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution list UID"
          }
        ],
        "responses": {
          "200": {
            "description": "List deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists/{distributionListUid}/chat": {
      "get": {
        "operationId": "listMessages",
        "summary": "Get messages",
        "description": "Retrieve messages from a distribution list.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution list UID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 5000
            },
            "description": "Number of results per page (0-5000)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a message",
        "description": "Send a message to a distribution list. Maximum message body: 3500 bytes per translation.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution list UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists/{distributionListUid}/chat/{messageUid}": {
      "get": {
        "operationId": "getMessage",
        "summary": "Get a message",
        "description": "Retrieve a specific message.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution list UID"
          },
          {
            "name": "messageUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message UID"
          }
        ],
        "responses": {
          "200": {
            "description": "Message details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMessage",
        "summary": "Delete a message",
        "description": "Delete a specific message.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution list UID"
          },
          {
            "name": "messageUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message UID"
          }
        ],
        "responses": {
          "200": {
            "description": "Message deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists/{distributionListUid}/chat/{messageUid}/delivery": {
      "get": {
        "operationId": "getMessageDeliveryStats",
        "summary": "Get message delivery statistics",
        "description": "Retrieve delivery statistics for a specific message.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution list UID"
          },
          {
            "name": "messageUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message UID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 5000
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists/{distributionListUid}/chat/{messageUid}/file": {
      "get": {
        "operationId": "getMessageFile",
        "summary": "Get message file content",
        "description": "Retrieve the file content of a message. Only outgoing files are viewable.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution list UID"
          },
          {
            "name": "messageUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message UID"
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/identities/{broadcastUid}/distribution_lists/{distributionListUid}/recipients": {
      "get": {
        "operationId": "listRecipients",
        "summary": "List recipients",
        "description": "Retrieve recipients of a distribution list.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution list UID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 5000
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of recipients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recipient"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addRecipients",
        "summary": "Add recipients",
        "description": "Add recipients to a distribution list. Recipient-to-group ratio cannot exceed 1:10.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution list UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddRecipientsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipients added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeRecipients",
        "summary": "Remove recipients",
        "description": "Remove recipients from a distribution list.",
        "tags": [
          "Recipients"
        ],
        "parameters": [
          {
            "name": "broadcastUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Broadcast identity UID"
          },
          {
            "name": "distributionListUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Distribution list UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveRecipientsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipients removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "Bot": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Bot unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Bot name"
          },
          "state": {
            "type": "string",
            "description": "Bot state (active/deleted)"
          }
        }
      },
      "CreateBotRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Bot name (1-256 characters)",
            "minLength": 1,
            "maxLength": 256
          }
        }
      },
      "BotCommand": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Command unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Command name"
          },
          "inputs": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Command input definitions"
          },
          "output": {
            "type": "object",
            "description": "Command output translations"
          }
        }
      },
      "BotCommandRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Command name"
          },
          "inputs": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Input definitions"
          },
          "output": {
            "type": "object",
            "description": "Output translations"
          }
        }
      },
      "DistributionList": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Distribution list unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Distribution list name"
          }
        }
      },
      "CreateDistributionListRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Distribution list name (1-256 characters)",
            "minLength": 1,
            "maxLength": 256
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Message unique identifier"
          },
          "type": {
            "type": "string",
            "description": "Message type"
          },
          "subject": {
            "type": "string",
            "description": "Message subject"
          },
          "body": {
            "type": "string",
            "description": "Message body"
          },
          "startAt": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled send time"
          },
          "trackDelivery": {
            "type": "boolean",
            "description": "Whether to track delivery"
          }
        }
      },
      "SendMessageRequest": {
        "type": "object",
        "required": [
          "type",
          "body"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Message type"
          },
          "subject": {
            "type": "string",
            "description": "Message subject"
          },
          "body": {
            "type": "string",
            "description": "Message body (max 3500 bytes per translation)"
          },
          "trackDelivery": {
            "type": "boolean",
            "description": "Whether to track delivery"
          },
          "startAt": {
            "type": "string",
            "format": "date-time",
            "description": "Schedule message for later"
          }
        }
      },
      "DeliveryStats": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total recipients"
          },
          "delivered": {
            "type": "integer",
            "description": "Successfully delivered"
          },
          "pending": {
            "type": "integer",
            "description": "Pending delivery"
          },
          "failed": {
            "type": "integer",
            "description": "Failed delivery"
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Recipient identifier"
          }
        }
      },
      "AddRecipientsRequest": {
        "type": "object",
        "required": [
          "recipients"
        ],
        "properties": {
          "recipients": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of recipient identifiers"
          },
          "replaceExisting": {
            "type": "boolean",
            "description": "Whether to replace existing recipients"
          },
          "filterInvalid": {
            "type": "boolean",
            "description": "Whether to filter out invalid recipients"
          }
        }
      },
      "RemoveRecipientsRequest": {
        "type": "object",
        "required": [
          "recipients"
        ],
        "properties": {
          "recipients": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of recipient identifiers to remove"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Bots",
      "description": "Bot management operations"
    },
    {
      "name": "BotCommands",
      "description": "Bot command operations"
    },
    {
      "name": "DistributionLists",
      "description": "Distribution list management"
    },
    {
      "name": "Messages",
      "description": "Message operations on distribution lists"
    },
    {
      "name": "Recipients",
      "description": "Recipient management for distribution lists"
    }
  ]
}