{
  "openapi": "3.0.3",
  "info": {
    "title": "F5 iHealth API",
    "description": "The F5 iHealth API provides programmatic access to F5 iHealth diagnostic services, allowing users to upload QKView files, retrieve diagnostic results, access files, and run commands.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://clouddocs.f5.com/api/ihealth/"
  },
  "servers": [
    {
      "url": "https://ihealth2-api.f5.com/qkview-analyzer/api",
      "description": "F5 iHealth API server"
    }
  ],
  "paths": {
    "/qkviews": {
      "get": {
        "operationId": "listQkviews",
        "summary": "List all QKViews",
        "tags": [
          "QKViews"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.f5.ihealth.api"
            }
          }
        ],
        "responses": {
          "303": {
            "description": "Redirect to QKView list",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "URI to the QKView list"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "uploadQkview",
        "summary": "Upload a new QKView file",
        "tags": [
          "QKViews"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.f5.ihealth.api"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "qkview"
                ],
                "properties": {
                  "qkview": {
                    "type": "string",
                    "format": "binary",
                    "description": "QKView tarball file"
                  },
                  "visible_in_gui": {
                    "type": "boolean",
                    "description": "Make the QKView visible in the iHealth GUI"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the uploaded QKView"
                  },
                  "f5_support_case": {
                    "type": "string",
                    "description": "Associated F5 support case number"
                  },
                  "share_with_case_owner": {
                    "type": "boolean",
                    "description": "Share the QKView with the support case owner"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "303": {
            "description": "QKView uploaded successfully",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "URI to the uploaded QKView resource"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAllQkviews",
        "summary": "Delete all QKViews",
        "tags": [
          "QKViews"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.f5.ihealth.api"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All QKViews deleted",
            "content": {
              "application/vnd.f5.ihealth.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedQkviewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No QKViews found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/qkviews/{qkviewId}": {
      "delete": {
        "operationId": "deleteQkview",
        "summary": "Delete a specific QKView",
        "tags": [
          "QKViews"
        ],
        "parameters": [
          {
            "name": "qkviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "QKView identifier"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.f5.ihealth.api"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "QKView deleted",
            "content": {
              "application/vnd.f5.ihealth.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedQkviewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "QKView not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/qkviews/{qkviewId}/diagnostics": {
      "get": {
        "operationId": "getQkviewDiagnostics",
        "summary": "Retrieve diagnostics for a QKView",
        "tags": [
          "Diagnostics"
        ],
        "parameters": [
          {
            "name": "qkviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "QKView identifier"
          },
          {
            "name": "set",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hit",
                "miss"
              ]
            },
            "description": "Filter diagnostics by match status (hit or miss)"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.f5.ihealth.api"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Diagnostic output",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DiagnosticOutput"
                }
              }
            }
          },
          "202": {
            "description": "Processing not yet complete, retry after 10+ seconds"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "QKView not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/qkviews/{qkviewId}/files": {
      "get": {
        "operationId": "listQkviewFiles",
        "summary": "List all files in a QKView",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "qkviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "QKView identifier"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.f5.ihealth.api"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File listing",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/FileListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "QKView not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/qkviews/{qkviewId}/files/{fileId}": {
      "get": {
        "operationId": "getQkviewFile",
        "summary": "Retrieve an individual file from a QKView",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "qkviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "QKView identifier"
          },
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File hash identifier"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/octet-stream"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/qkviews/{qkviewId}/files/qkview": {
      "get": {
        "operationId": "getOriginalQkview",
        "summary": "Download the original QKView file",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "qkviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "QKView identifier"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/octet-stream"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Original QKView file",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "QKView not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/qkviews/{qkviewId}/commands": {
      "get": {
        "operationId": "listQkviewCommands",
        "summary": "List all commands in a QKView",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "qkviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "QKView identifier"
          },
          {
            "name": "resources",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of command ID hashes to retrieve specific commands"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.f5.ihealth.api"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command listing",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CommandListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "QKView not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/qkviews/{qkviewId}/commands/{commandId}": {
      "get": {
        "operationId": "getQkviewCommand",
        "summary": "Retrieve output of a specific command",
        "tags": [
          "Commands"
        ],
        "parameters": [
          {
            "name": "qkviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "QKView identifier"
          },
          {
            "name": "commandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Command hash identifier"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.f5.ihealth.api"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Command output",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CommandOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Command not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/qkviews/{qkviewId}/bigip": {
      "get": {
        "operationId": "getQkviewBigipData",
        "summary": "Retrieve BIG-IP data from a QKView",
        "tags": [
          "BigIP Data"
        ],
        "parameters": [
          {
            "name": "qkviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "QKView identifier"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.f5.ihealth.api"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BIG-IP data overview",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigipDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "QKView not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/qkviews/{qkviewId}/bigip/{category}": {
      "get": {
        "operationId": "getQkviewBigipCategory",
        "summary": "Retrieve a specific category of BIG-IP data",
        "tags": [
          "BigIP Data"
        ],
        "parameters": [
          {
            "name": "qkviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "QKView identifier"
          },
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "serial_numbers",
                "platform",
                "big_ip_license",
                "system",
                "software",
                "module_licensing_and_provisioning"
              ]
            },
            "description": "BIG-IP data category"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/vnd.f5.ihealth.api"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category data",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BigipDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from F5 identity OAuth2 endpoint (https://identity.account.f5.com/oauth2/ausp95ykc80HOU7SQ357/v1/token). Token valid for 30 minutes."
      }
    },
    "schemas": {
      "DeletedQkviewsResponse": {
        "type": "object",
        "properties": {
          "deleted_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of deleted QKViews"
          }
        }
      },
      "DiagnosticOutput": {
        "type": "object",
        "description": "XML diagnostic output",
        "properties": {
          "diagnostics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Diagnostic"
            }
          },
          "system_information": {
            "type": "object",
            "properties": {
              "serial_number": {
                "type": "string"
              },
              "hostname": {
                "type": "string"
              },
              "platform": {
                "type": "string"
              }
            }
          },
          "version": {
            "type": "object",
            "properties": {
              "product": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "build": {
                "type": "string"
              }
            }
          }
        }
      },
      "Diagnostic": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "output": {
            "type": "string"
          },
          "importance": {
            "type": "string"
          },
          "match": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "header": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "solutions": {
            "type": "string"
          }
        }
      },
      "FileListResponse": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "File hash identifier"
                },
                "file_path": {
                  "type": "string",
                  "description": "File path within QKView"
                }
              }
            }
          }
        }
      },
      "CommandListResponse": {
        "type": "object",
        "properties": {
          "commands": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Command hash identifier"
                },
                "commandline": {
                  "type": "string",
                  "description": "The command text"
                }
              }
            }
          }
        }
      },
      "CommandOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Command hash identifier"
          },
          "name": {
            "type": "string",
            "description": "Command text"
          },
          "status": {
            "type": "integer",
            "description": "Command completion status (0=success, 1=failed)"
          },
          "output": {
            "type": "string",
            "description": "Base64 encoded command output"
          }
        }
      },
      "BigipDataResponse": {
        "type": "object",
        "description": "XML BIG-IP configuration data with path and value attributes"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Token generation for API access"
    },
    {
      "name": "QKViews",
      "description": "QKView collection management"
    },
    {
      "name": "Diagnostics",
      "description": "QKView diagnostic results"
    },
    {
      "name": "Files",
      "description": "QKView file access"
    },
    {
      "name": "Commands",
      "description": "QKView command output"
    },
    {
      "name": "BigIP Data",
      "description": "QKView BIG-IP configuration and metadata"
    }
  ]
}