{
  "openapi": "3.0.3",
  "info": {
    "title": "Restpack API",
    "description": "RESTful microservices for screenshot capture and HTML to PDF conversion. Provides Screenshot API (v7) for capturing webpage screenshots and HTML to PDF API (v7) for converting web content to PDF documents.",
    "version": "7.0.0",
    "contact": {
      "name": "Restpack",
      "url": "https://restpack.io",
      "email": "support@restpack.io"
    },
    "x-jentic-source-url": "https://restpack.io/"
  },
  "servers": [
    {
      "url": "https://restpack.io/api",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "AccessTokenHeader": []
    }
  ],
  "tags": [
    {
      "name": "Screenshot",
      "description": "Screenshot capture operations"
    },
    {
      "name": "HTML to PDF",
      "description": "HTML to PDF conversion operations"
    }
  ],
  "paths": {
    "/screenshot/v7/capture": {
      "get": {
        "tags": ["Screenshot"],
        "summary": "Capture screenshot via query parameters",
        "description": "Captures a screenshot of a webpage or raw HTML content. Returns the image directly, or a JSON response with CDN URL when json=true.",
        "operationId": "captureScreenshotGet",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "URL of the webpage to capture (must include protocol). Either url or html is required.",
            "schema": { "type": "string", "format": "uri" }
          },
          {
            "name": "html",
            "in": "query",
            "description": "Raw HTML string to render and capture. Either url or html is required.",
            "schema": { "type": "string" }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "API access token (alternative to header auth)",
            "schema": { "type": "string" }
          },
          {
            "name": "json",
            "in": "query",
            "description": "Return JSON response with CDN URL instead of raw image",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "privacy",
            "in": "query",
            "description": "Disable caching for this request",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "cache_ttl",
            "in": "query",
            "description": "Cache duration in seconds (max 1 week)",
            "schema": { "type": "integer" }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "Custom output filename",
            "schema": { "type": "string" }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Capture mode",
            "schema": { "type": "string", "enum": ["fullpage", "viewport", "element"], "default": "fullpage" }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output image format",
            "schema": { "type": "string", "enum": ["jpg", "png", "pdf", "html"], "default": "png" }
          },
          {
            "name": "width",
            "in": "query",
            "description": "Viewport width in pixels",
            "schema": { "type": "integer", "minimum": 320, "maximum": 2000, "default": 1280 }
          },
          {
            "name": "height",
            "in": "query",
            "description": "Viewport height in pixels",
            "schema": { "type": "integer", "minimum": 160, "default": 1024 }
          },
          {
            "name": "thumbnail_width",
            "in": "query",
            "description": "Thumbnail width in pixels",
            "schema": { "type": "integer", "minimum": 10, "maximum": 3000 }
          },
          {
            "name": "thumbnail_height",
            "in": "query",
            "description": "Thumbnail height in pixels",
            "schema": { "type": "integer", "minimum": 10, "maximum": 3000 }
          },
          {
            "name": "css",
            "in": "query",
            "description": "CSS to inject into the page",
            "schema": { "type": "string" }
          },
          {
            "name": "js",
            "in": "query",
            "description": "JavaScript to inject into the page",
            "schema": { "type": "string" }
          },
          {
            "name": "delay",
            "in": "query",
            "description": "Delay in milliseconds after page load before capture",
            "schema": { "type": "integer", "default": 500, "maximum": 20000 }
          },
          {
            "name": "user_agent",
            "in": "query",
            "description": "Custom User-Agent header string",
            "schema": { "type": "string" }
          },
          {
            "name": "headers",
            "in": "query",
            "description": "Custom HTTP headers (newline-separated key:value pairs)",
            "schema": { "type": "string" }
          },
          {
            "name": "element_selector",
            "in": "query",
            "description": "CSS selector for element mode capture",
            "schema": { "type": "string" }
          },
          {
            "name": "omit_background",
            "in": "query",
            "description": "Enable transparent PNG background",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "retina",
            "in": "query",
            "description": "Enable 2x device pixel ratio for retina display",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "emulate_media",
            "in": "query",
            "description": "Emulate CSS media type",
            "schema": { "type": "string", "enum": ["screen", "print"], "default": "screen" }
          },
          {
            "name": "allow_failed",
            "in": "query",
            "description": "Capture even if the page returns an error status",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "wait",
            "in": "query",
            "description": "Wait strategy for page load completion",
            "schema": { "type": "string", "enum": ["load", "network", "dom"], "default": "load" }
          },
          {
            "name": "shutter",
            "in": "query",
            "description": "CSS selector - wait for this element to appear before capture",
            "schema": { "type": "string" }
          },
          {
            "name": "block_ads",
            "in": "query",
            "description": "Block advertisements on the page",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "block_cookie_warnings",
            "in": "query",
            "description": "Block cookie consent warnings/banners",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "grayscale",
            "in": "query",
            "description": "Convert output to grayscale",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot captured successfully",
            "content": {
              "image/png": {
                "schema": { "type": "string", "format": "binary" }
              },
              "image/jpeg": {
                "schema": { "type": "string", "format": "binary" }
              },
              "application/pdf": {
                "schema": { "type": "string", "format": "binary" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ScreenshotResponse" }
              }
            }
          },
          "401": {
            "description": "No access token provided",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "402": {
            "description": "Insufficient account balance",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid or revoked access token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Screenshot"],
        "summary": "Capture screenshot via request body",
        "description": "Captures a screenshot using JSON or form-encoded body parameters. Accepts the same parameters as the GET endpoint.",
        "operationId": "captureScreenshotPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ScreenshotRequest" }
            },
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/ScreenshotRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Screenshot captured successfully",
            "content": {
              "image/png": {
                "schema": { "type": "string", "format": "binary" }
              },
              "image/jpeg": {
                "schema": { "type": "string", "format": "binary" }
              },
              "application/pdf": {
                "schema": { "type": "string", "format": "binary" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ScreenshotResponse" }
              }
            }
          },
          "401": {
            "description": "No access token provided",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "402": {
            "description": "Insufficient account balance",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid or revoked access token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/screenshot/v7/usage": {
      "get": {
        "tags": ["Screenshot"],
        "summary": "Get screenshot API usage statistics",
        "description": "Retrieves account usage information including daily breakdown, quotas, and worker count for the Screenshot API.",
        "operationId": "getScreenshotUsage",
        "responses": {
          "200": {
            "description": "Usage information retrieved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UsageResponse" }
              }
            }
          },
          "401": {
            "description": "No access token provided",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid or revoked access token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/html2pdf/v7/convert": {
      "get": {
        "tags": ["HTML to PDF"],
        "summary": "Convert to PDF via query parameters",
        "description": "Converts a webpage or raw HTML into a PDF document. Returns PDF directly, or a JSON response with CDN URL when json=true.",
        "operationId": "convertToPdfGet",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "URL of the webpage to convert (must include protocol). Either url or html is required.",
            "schema": { "type": "string", "format": "uri" }
          },
          {
            "name": "html",
            "in": "query",
            "description": "Raw HTML string to convert. Either url or html is required.",
            "schema": { "type": "string" }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "API access token (alternative to header auth)",
            "schema": { "type": "string" }
          },
          {
            "name": "json",
            "in": "query",
            "description": "Return JSON response with CDN URL instead of raw PDF",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "privacy",
            "in": "query",
            "description": "Disable caching for this request",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "cache_ttl",
            "in": "query",
            "description": "Cache duration in seconds (max 1 week)",
            "schema": { "type": "integer" }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "Custom output filename",
            "schema": { "type": "string" }
          },
          {
            "name": "pdf_page",
            "in": "query",
            "description": "PDF page size",
            "schema": { "type": "string", "enum": ["A0", "A1", "A2", "A3", "A4", "A5", "A6", "Legal", "Letter", "Tabloid", "Ledger", "Full"] }
          },
          {
            "name": "pdf_width",
            "in": "query",
            "description": "Custom page width (pixels or inches)",
            "schema": { "type": "string" }
          },
          {
            "name": "pdf_height",
            "in": "query",
            "description": "Custom page height (pixels or inches)",
            "schema": { "type": "string" }
          },
          {
            "name": "pdf_margins",
            "in": "query",
            "description": "CSS-style page margins",
            "schema": { "type": "string" }
          },
          {
            "name": "pdf_orientation",
            "in": "query",
            "description": "Page orientation",
            "schema": { "type": "string", "enum": ["portrait", "landscape"] }
          },
          {
            "name": "pdf_header",
            "in": "query",
            "description": "HTML template for PDF header. Supports placeholders: pageNumber, totalPages, url, title, date.",
            "schema": { "type": "string" }
          },
          {
            "name": "pdf_footer",
            "in": "query",
            "description": "HTML template for PDF footer. Supports same placeholders as header.",
            "schema": { "type": "string" }
          },
          {
            "name": "pdf_author",
            "in": "query",
            "description": "PDF author metadata field",
            "schema": { "type": "string" }
          },
          {
            "name": "pdf_page_range",
            "in": "query",
            "description": "Page range to include in output PDF",
            "schema": { "type": "string" }
          },
          {
            "name": "pdf_encryption",
            "in": "query",
            "description": "PDF encryption bit level with password protection",
            "schema": { "type": "string", "enum": ["40", "128"] }
          },
          {
            "name": "css",
            "in": "query",
            "description": "CSS to inject into the page",
            "schema": { "type": "string" }
          },
          {
            "name": "js",
            "in": "query",
            "description": "JavaScript to inject into the page",
            "schema": { "type": "string" }
          },
          {
            "name": "delay",
            "in": "query",
            "description": "Delay in milliseconds after page load before conversion",
            "schema": { "type": "integer", "default": 500, "maximum": 20000 }
          },
          {
            "name": "user_agent",
            "in": "query",
            "description": "Custom User-Agent header string",
            "schema": { "type": "string" }
          },
          {
            "name": "accept_language",
            "in": "query",
            "description": "Custom Accept-Language header",
            "schema": { "type": "string" }
          },
          {
            "name": "headers",
            "in": "query",
            "description": "Custom HTTP headers (newline-separated key:value pairs)",
            "schema": { "type": "string" }
          },
          {
            "name": "wait",
            "in": "query",
            "description": "Wait strategy for page load completion",
            "schema": { "type": "string", "enum": ["load", "network", "dom"] }
          },
          {
            "name": "shutter",
            "in": "query",
            "description": "CSS selector - wait for this element to appear before conversion",
            "schema": { "type": "string" }
          },
          {
            "name": "block_ads",
            "in": "query",
            "description": "Block advertisements on the page",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "block_cookie_warnings",
            "in": "query",
            "description": "Block cookie consent warnings/banners",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "grayscale",
            "in": "query",
            "description": "Convert output to grayscale",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF generated successfully",
            "content": {
              "application/pdf": {
                "schema": { "type": "string", "format": "binary" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConvertResponse" }
              }
            }
          },
          "401": {
            "description": "No access token provided",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "402": {
            "description": "Insufficient account balance",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid or revoked access token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["HTML to PDF"],
        "summary": "Convert to PDF via request body",
        "description": "Converts a webpage or raw HTML into a PDF document using JSON or form-encoded body parameters.",
        "operationId": "convertToPdfPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PdfConvertRequest" }
            },
            "application/x-www-form-urlencoded": {
              "schema": { "$ref": "#/components/schemas/PdfConvertRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF generated successfully",
            "content": {
              "application/pdf": {
                "schema": { "type": "string", "format": "binary" }
              },
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConvertResponse" }
              }
            }
          },
          "401": {
            "description": "No access token provided",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "402": {
            "description": "Insufficient account balance",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid or revoked access token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/html2pdf/v7/usage": {
      "get": {
        "tags": ["HTML to PDF"],
        "summary": "Get HTML to PDF API usage statistics",
        "description": "Retrieves account usage information including daily breakdown and quotas for the HTML to PDF API.",
        "operationId": "getPdfUsage",
        "responses": {
          "200": {
            "description": "Usage information retrieved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UsageResponse" }
              }
            }
          },
          "401": {
            "description": "No access token provided",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "403": {
            "description": "Invalid or revoked access token",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessTokenHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Access-Token",
        "description": "API access token obtained from the Restpack user dashboard"
      },
      "AccessTokenQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token",
        "description": "API access token as query parameter"
      }
    },
    "schemas": {
      "ScreenshotRequest": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri", "description": "URL of the webpage to capture" },
          "html": { "type": "string", "description": "Raw HTML content to render and capture" },
          "json": { "type": "boolean", "default": false, "description": "Return JSON response with CDN URL" },
          "privacy": { "type": "boolean", "default": false, "description": "Disable caching" },
          "cache_ttl": { "type": "integer", "description": "Cache duration in seconds" },
          "filename": { "type": "string", "description": "Output filename" },
          "mode": { "type": "string", "enum": ["fullpage", "viewport", "element"], "default": "fullpage" },
          "format": { "type": "string", "enum": ["jpg", "png", "pdf", "html"], "default": "png" },
          "width": { "type": "integer", "minimum": 320, "maximum": 2000, "default": 1280 },
          "height": { "type": "integer", "minimum": 160, "default": 1024 },
          "thumbnail_width": { "type": "integer", "minimum": 10, "maximum": 3000 },
          "thumbnail_height": { "type": "integer", "minimum": 10, "maximum": 3000 },
          "css": { "type": "string", "description": "CSS to inject" },
          "js": { "type": "string", "description": "JavaScript to inject" },
          "delay": { "type": "integer", "default": 500, "maximum": 20000, "description": "Delay in ms before capture" },
          "user_agent": { "type": "string", "description": "Custom User-Agent" },
          "headers": { "type": "string", "description": "Newline-separated custom headers" },
          "element_selector": { "type": "string", "description": "CSS selector for element mode" },
          "omit_background": { "type": "boolean", "default": false, "description": "Transparent PNG background" },
          "retina": { "type": "boolean", "default": false, "description": "2x device pixel ratio" },
          "emulate_media": { "type": "string", "enum": ["screen", "print"], "default": "screen" },
          "allow_failed": { "type": "boolean", "default": false, "description": "Capture error pages" },
          "wait": { "type": "string", "enum": ["load", "network", "dom"], "default": "load" },
          "shutter": { "type": "string", "description": "CSS selector to wait for" },
          "block_ads": { "type": "boolean", "default": false },
          "block_cookie_warnings": { "type": "boolean", "default": false },
          "grayscale": { "type": "boolean", "default": false }
        }
      },
      "PdfConvertRequest": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri", "description": "URL of the webpage to convert" },
          "html": { "type": "string", "description": "Raw HTML content to convert" },
          "json": { "type": "boolean", "default": false, "description": "Return JSON response with CDN URL" },
          "privacy": { "type": "boolean", "default": false },
          "cache_ttl": { "type": "integer" },
          "filename": { "type": "string" },
          "pdf_page": { "type": "string", "enum": ["A0", "A1", "A2", "A3", "A4", "A5", "A6", "Legal", "Letter", "Tabloid", "Ledger", "Full"] },
          "pdf_width": { "type": "string", "description": "Custom page width" },
          "pdf_height": { "type": "string", "description": "Custom page height" },
          "pdf_margins": { "type": "string", "description": "CSS-style margins" },
          "pdf_orientation": { "type": "string", "enum": ["portrait", "landscape"] },
          "pdf_header": { "type": "string", "description": "HTML template for header" },
          "pdf_footer": { "type": "string", "description": "HTML template for footer" },
          "pdf_author": { "type": "string" },
          "pdf_page_range": { "type": "string" },
          "pdf_encryption": { "type": "string", "enum": ["40", "128"] },
          "css": { "type": "string" },
          "js": { "type": "string" },
          "delay": { "type": "integer", "default": 500, "maximum": 20000 },
          "user_agent": { "type": "string" },
          "accept_language": { "type": "string" },
          "headers": { "type": "string" },
          "wait": { "type": "string", "enum": ["load", "network", "dom"] },
          "shutter": { "type": "string" },
          "block_ads": { "type": "boolean", "default": false },
          "block_cookie_warnings": { "type": "boolean", "default": false },
          "grayscale": { "type": "boolean", "default": false }
        }
      },
      "ScreenshotResponse": {
        "type": "object",
        "properties": {
          "cached": { "type": "boolean", "description": "Whether result was served from cache" },
          "height": { "type": "integer", "description": "Image height in pixels" },
          "width": { "type": "integer", "description": "Image width in pixels" },
          "image": { "type": "string", "format": "uri", "description": "CDN URL of the captured image" },
          "remote_status": { "type": "integer", "description": "HTTP status code of the target page" },
          "run_time": { "type": "integer", "description": "Processing time in milliseconds" },
          "url": { "type": "string", "format": "uri", "description": "URL of the captured page" }
        }
      },
      "ConvertResponse": {
        "type": "object",
        "properties": {
          "cached": { "type": "boolean", "description": "Whether result was served from cache" },
          "image": { "type": "string", "format": "uri", "description": "CDN URL of the generated PDF" },
          "remote_status": { "type": "integer", "description": "HTTP status code of the source page" },
          "run_time": { "type": "integer", "description": "Processing time in milliseconds" },
          "height": { "type": "integer", "description": "Document height in pixels" },
          "width": { "type": "integer", "description": "Document width in pixels" }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "days": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "count": { "type": "integer", "description": "Number of conversions on this day" },
                "day": { "type": "string", "format": "date-time", "description": "ISO 8601 date" }
              }
            }
          },
          "from": { "type": "string", "format": "date-time", "description": "Start of billing period" },
          "to": { "type": "string", "format": "date-time", "description": "Current date/time" },
          "limit": { "type": "integer", "description": "Monthly conversion quota" },
          "total": { "type": "integer", "description": "Total conversions used in this period" },
          "workers": { "type": "integer", "description": "Number of available workers" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "description": "Error message" },
          "code": { "type": "integer", "description": "HTTP error code" }
        }
      }
    }
  }
}