{
  "openapi": "3.0.3",
  "info": {
    "title": "Chinese Text Project API",
    "version": "1.0.0",
    "description": "API for accessing the Chinese Text Project (CTP) database, providing programmatic access to pre-modern Chinese texts. Supports retrieving textual data, resolving URNs, and checking authentication status.",
    "x-jentic-source-url": "https://ctext.org/tools/api"
  },
  "servers": [
    {
      "url": "https://api.ctext.org"
    }
  ],
  "paths": {
    "/gettext": {
      "get": {
        "operationId": "getText",
        "summary": "Retrieve textual data by CTP URN",
        "description": "Returns the full text content or list of subsections for a given CTP URN identifier.",
        "tags": [
          "Texts"
        ],
        "parameters": [
          {
            "name": "urn",
            "in": "query",
            "required": true,
            "description": "CTP URN identifier (e.g., ctp:analects/xue-er)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "description": "API key for authenticated access",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Text data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid URN or parameters"
          },
          "401": {
            "description": "Authentication required for this resource"
          }
        }
      }
    },
    "/getlink": {
      "get": {
        "operationId": "getLink",
        "summary": "Convert a CTP URN to a direct text link",
        "description": "Converts a CTP URN to a corresponding URL on ctext.org. Optionally redirects to the URL directly.",
        "tags": [
          "Links"
        ],
        "parameters": [
          {
            "name": "urn",
            "in": "query",
            "required": true,
            "description": "CTP URN identifier to convert",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "required": false,
            "description": "Set to 1 to redirect to the corresponding text page",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "description": "API key for authenticated access",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link data returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid URN"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/readlink": {
      "get": {
        "operationId": "readLink",
        "summary": "Obtain CTP URN from a ctext.org URL",
        "description": "Converts a ctext.org URL to its corresponding CTP URN identifier.",
        "tags": [
          "Links"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "A ctext.org URL to resolve to a CTP URN",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "description": "API key for authenticated access",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "URN resolved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid URL"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/getstatus": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get current authentication status",
        "description": "Returns the authentication status and user group of the current session or API key.",
        "tags": [
          "Status"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "description": "API key for authenticated access",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TextResponse": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the text or section"
          },
          "fulltext": {
            "type": "array",
            "description": "Array of text paragraphs (present for leaf nodes)",
            "items": {
              "type": "string"
            }
          },
          "subsections": {
            "type": "array",
            "description": "Array of URNs for subsections (present for non-leaf nodes)",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "LinkResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The ctext.org URL corresponding to the URN"
          }
        }
      },
      "ReadLinkResponse": {
        "type": "object",
        "properties": {
          "urn": {
            "type": "string",
            "description": "The CTP URN corresponding to the URL"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "group": {
            "type": "string",
            "description": "User group (e.g., unauthenticated, account, institutional)",
            "enum": [
              "unauthenticated",
              "account",
              "institutional"
            ]
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code (e.g., ERR_REQUIRES_AUTHENTICATION, ERR_REQUEST_LIMIT)"
              },
              "description": {
                "type": "string",
                "description": "Human-readable error description"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key passed as a query parameter for authenticated access"
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ]
}