{
  "openapi": "3.0.3",
  "info": {
    "title": "Pipefy API",
    "description": "Pipefy is a workflow management platform. Its API is GraphQL-only, exposing a single POST endpoint that accepts GraphQL queries and mutations for managing pipes, cards, phases, fields, and other Pipefy resources.",
    "version": "1.0.0",
    "contact": {
      "name": "Pipefy",
      "url": "https://developers.pipefy.com"
    }
  },
  "servers": [
    {
      "url": "https://app.pipefy.com",
      "description": "Pipefy Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/graphql": {
      "post": {
        "operationId": "executeGraphQL",
        "summary": "Execute a GraphQL query or mutation",
        "description": "Send a GraphQL query or mutation to the Pipefy API. All Pipefy API operations are performed through this single endpoint using GraphQL syntax.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "example": {
                "query": "{ me { id name email } }"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "GraphQL response (may contain data, errors, or both)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing Bearer token"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "tags": [
          "graphql"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal access token or OAuth2 token. Obtain from Pipefy account settings."
      }
    },
    "schemas": {
      "GraphQLRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "The GraphQL query or mutation string"
          },
          "variables": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optional variables for the GraphQL operation"
          },
          "operationName": {
            "type": "string",
            "description": "Optional name of the operation to execute if the query contains multiple operations"
          }
        }
      },
      "GraphQLResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "The result of the GraphQL operation"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GraphQLError"
            },
            "description": "Errors encountered during execution"
          }
        }
      },
      "GraphQLError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A human-readable error message"
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "line": {
                  "type": "integer"
                },
                "column": {
                  "type": "integer"
                }
              }
            },
            "description": "Locations in the query where the error occurred"
          },
          "path": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Path to the field that caused the error"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "graphql"
    }
  ]
}
