{
  "openapi": "3.0.3",
  "info": {
    "title": "Shinkai API",
    "version": "2.0.0",
    "description": "Shinkai is a decentralized AI infrastructure API providing endpoints for LLM management, job creation, file management, subscriptions, vector file system operations, and wallet management.",
    "x-jentic-source-url": "https://docs.shinkai.com/api-reference/introduction",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.shinkai.com"
    }
  ],
  "paths": {
    "/v2/health_check": {
      "get": {
        "operationId": "healthCheck",
        "summary": "API health check",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "Healthy"
          }
        },
        "description": "API health check"
      }
    },
    "/v2/initial_registration": {
      "post": {
        "operationId": "initialRegistration",
        "summary": "Initial registration",
        "tags": [
          "General"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registered"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Initial registration"
      }
    },
    "/v2/add_llm_provider": {
      "post": {
        "operationId": "addLlmProvider",
        "summary": "Add LLM provider",
        "tags": [
          "LLM Providers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add LLM provider"
      }
    },
    "/v2/modify_llm_provider": {
      "post": {
        "operationId": "modifyLlmProvider",
        "summary": "Modify LLM provider",
        "tags": [
          "LLM Providers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modified"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Modify LLM provider"
      }
    },
    "/v2/remove_llm_provider": {
      "post": {
        "operationId": "removeLlmProvider",
        "summary": "Remove LLM provider",
        "tags": [
          "LLM Providers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Remove LLM provider"
      }
    },
    "/v2/available_llm_providers": {
      "get": {
        "operationId": "listLlmProviders",
        "summary": "Get available LLM providers",
        "tags": [
          "LLM Providers"
        ],
        "responses": {
          "200": {
            "description": "Provider list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get available LLM providers"
      }
    },
    "/v2/create_job": {
      "post": {
        "operationId": "createJob",
        "summary": "Create a job",
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a job"
      }
    },
    "/v2/job_message": {
      "post": {
        "operationId": "sendJobMessage",
        "summary": "Send job message",
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send job message"
      }
    },
    "/v2/last_messages": {
      "post": {
        "operationId": "getLastMessages",
        "summary": "Get last messages",
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get last messages"
      }
    },
    "/v2/all_inboxes": {
      "get": {
        "operationId": "getAllInboxes",
        "summary": "Get all inboxes",
        "tags": [
          "Jobs"
        ],
        "responses": {
          "200": {
            "description": "Inbox list"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get all inboxes"
      }
    },
    "/v2/add_file_to_inbox": {
      "post": {
        "operationId": "addFileToInbox",
        "summary": "Add file to inbox",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File added"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Add file to inbox"
      }
    },
    "/v2/create_folder": {
      "post": {
        "operationId": "createFolder",
        "summary": "Create folder",
        "tags": [
          "Vector File System"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create folder"
      }
    },
    "/v2/upload_file_to_folder": {
      "post": {
        "operationId": "uploadFileToFolder",
        "summary": "Upload file to folder",
        "tags": [
          "Vector File System"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uploaded"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Upload file to folder"
      }
    },
    "/v2/search_items": {
      "post": {
        "operationId": "searchItems",
        "summary": "Search items",
        "tags": [
          "Vector File System"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Search items"
      }
    },
    "/v2/delete_folder": {
      "post": {
        "operationId": "deleteFolder",
        "summary": "Delete folder",
        "tags": [
          "Vector File System"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete folder"
      }
    },
    "/v2/delete_item": {
      "post": {
        "operationId": "deleteItem",
        "summary": "Delete item",
        "tags": [
          "Vector File System"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete item"
      }
    },
    "/v2/create_local_wallet": {
      "post": {
        "operationId": "createLocalWallet",
        "summary": "Create local wallet",
        "tags": [
          "Wallet"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create local wallet"
      }
    },
    "/v2/pay_invoice": {
      "post": {
        "operationId": "payInvoice",
        "summary": "Pay invoice",
        "tags": [
          "Wallet"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Pay invoice"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Files"
    },
    {
      "name": "General"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "LLM Providers"
    },
    {
      "name": "Vector File System"
    },
    {
      "name": "Wallet"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
