{
  "openapi": "3.0.3",
  "info": {
    "title": "JDoodle Compiler API",
    "version": "1.0.0",
    "description": "API for compiling and executing code in various programming languages and checking API credit usage.",
    "x-jentic-source-url": "https://www.jdoodle.com/docs"
  },
  "servers": [
    {
      "url": "https://api.jdoodle.com/v1"
    }
  ],
  "paths": {
    "/execute": {
      "post": {
        "operationId": "executeCode",
        "summary": "Execute code",
        "description": "Compile and/or run code in a specified programming language.",
        "tags": [
          "Compiler"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/credit-spent": {
      "post": {
        "operationId": "getCreditSpent",
        "summary": "Check credit usage",
        "description": "Check the number of API credits consumed today.",
        "tags": [
          "Credits"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credit usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditSpentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExecuteRequest": {
        "type": "object",
        "required": [
          "clientId",
          "clientSecret",
          "script",
          "language",
          "versionIndex"
        ],
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Client ID"
          },
          "clientSecret": {
            "type": "string",
            "description": "Client Secret"
          },
          "script": {
            "type": "string",
            "description": "Program source code"
          },
          "language": {
            "type": "string",
            "description": "Programming language identifier"
          },
          "versionIndex": {
            "type": "string",
            "description": "Language version index"
          },
          "stdin": {
            "type": "string",
            "description": "Standard input data"
          },
          "compileOnly": {
            "type": "boolean",
            "description": "Compile without executing"
          },
          "libs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Maven coordinates for libraries"
          }
        }
      },
      "ExecuteResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "string",
            "description": "Program output"
          },
          "error": {
            "type": "string",
            "description": "Error messages"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "memory": {
            "type": "string",
            "description": "Memory used"
          },
          "cpuTime": {
            "type": "string",
            "description": "CPU time consumed"
          },
          "compilationStatus": {
            "type": "string",
            "description": "Compilation status"
          },
          "isExecutionSuccess": {
            "type": "boolean",
            "description": "Whether execution was successful"
          },
          "isCompiled": {
            "type": "boolean",
            "description": "Whether compilation was successful"
          }
        }
      },
      "CredentialRequest": {
        "type": "object",
        "required": [
          "clientId",
          "clientSecret"
        ],
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Client ID"
          },
          "clientSecret": {
            "type": "string",
            "description": "Client Secret"
          }
        }
      },
      "CreditSpentResponse": {
        "type": "object",
        "properties": {
          "used": {
            "type": "integer",
            "description": "Credits consumed today"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "clientCredentials": {
        "type": "apiKey",
        "name": "clientId",
        "in": "header",
        "description": "Authentication via clientId and clientSecret passed in request body"
      }
    }
  },
  "security": [
    {
      "clientCredentials": []
    }
  ]
}