{
  "openapi": "3.0.3",
  "info": {
    "title": "Binderr API",
    "description": "This is the API documentation for the Binderr application. All APIs are rate-limited to 100 requests per second. To get your API key, contact your sales representative.",
    "contact": {
      "url": "https://binderr.com",
      "email": "support@binderr.com"
    },
    "version": "1.0",
    "x-logo": {
      "url": "https://public-third-party-files.s3.amazonaws.com/binderr_small.png",
      "altText": "Binderr logo"
    },
    "x-jentic-source-url": "https://api.binderr.com"
  },
  "servers": [
    {
      "url": "https://api.binderr.dev/",
      "description": "Demo environment"
    },
    {
      "url": "https://api.binderr.com/",
      "description": "Production"
    }
  ],
  "paths": {
    "/public/v1/country": {
      "get": {
        "tags": [
          "Countries and nationalities"
        ],
        "summary": "Get countries and nationalities",
        "description": "Get a full list of supported countries and nationalities. These are the only values allowed to be used in Binderr API.",
        "operationId": "getCountries",
        "responses": {
          "200": {
            "description": "getCountries 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountriesAndNationalitiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/v1/oauth/access-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Access token request",
        "description": "This endpoint is used to obtain an OAuth access token. Returned access token will be valid for\nthe specified time, refresh token will be valid for\n  \n - `authorization_code` - half a year\n  \n - `client_credentials` - 12h\n",
        "operationId": "obtainAccessToken",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "obtainAccessToken 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/public/v1/oauth/refresh-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh access token",
        "description": "This endpoint is used to obtain a new OAuth access token using a refresh token.\n            Response also contains new refresh token, with a new expiration time.\n            ",
        "operationId": "refreshAccessToken",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "refreshAccessToken 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "Account information"
        ],
        "summary": "Get current user",
        "description": "Returns the current user information.",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "getCurrentUser 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/account/team-info": {
      "get": {
        "tags": [
          "Account information"
        ],
        "summary": "Get team information",
        "description": "Returns team information of currently logged in user.",
        "operationId": "getAccountInfo",
        "responses": {
          "200": {
            "description": "getAccountInfo 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfoDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/document/for-entity/{entityId}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get documents for an entity",
        "description": "Returns a list of all documents related to the specified entity.",
        "operationId": "getDocumentsForEntity",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getDocumentsForEntity 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilesAndFoldersResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Upload document",
        "description": "Currently supported file formats are: `.html`, `.pdf`, `.jpg`, `.jpeg`, `.png`, `.doc`, `.docx`, `.xls`, `.xlsx`, `.csv`, `.mp4`",
        "operationId": "saveDocument",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file",
                  "path"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "path": {
                    "minLength": 1,
                    "type": "string",
                    "description": "Path to document in the filesystem. To nest it in deeper folders, use a slash (`/`) as a separator. For example, `nested/folder`."
                  },
                  "typeId": {
                    "type": "integer",
                    "description": "Document type ID. Users can only choose non-system document types.",
                    "format": "int64",
                    "nullable": true
                  },
                  "expiryDate": {
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  }
                }
              },
              "encoding": {
                "file": {
                  "contentType": "application/octet-stream",
                  "explode": false
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "saveDocument 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/document/type": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get document types",
        "description": "Returns a list of all available document types.",
        "operationId": "getDocumentTypes",
        "responses": {
          "200": {
            "description": "getDocumentTypes 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentType_1"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/document/{documentId}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get document",
        "description": "Returns the specified document.",
        "operationId": "getDocument",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getDocument 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Documents"
        ],
        "summary": "Delete document",
        "description": "Removes the specified document from the system.",
        "operationId": "deleteDocument",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "deleteDocument 204 response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/document/{documentId}/thumbnail": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get thumbnail",
        "description": "Returns thumbnail of the specified document.",
        "operationId": "getDocumentThumbnail",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getDocumentThumbnail 200 response",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Search entities",
        "description": "This endpoint is used to search for matching entities.",
        "operationId": "searchEntities",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "explode": false,
            "schema": {
              "nullable": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/EntityType"
                }
              ]
            }
          },
          {
            "name": "identification",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "email",
            "in": "query",
            "explode": false,
            "schema": {
              "pattern": "(?:[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*|\"(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-zA-Z0-9-]*[a-zA-Z0-9]:(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])+)])",
              "type": "string",
              "format": "email",
              "nullable": true
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "searchEntities 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageDto_EntityDto_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Entity"
        ],
        "summary": "Create entity",
        "description": "This endpoint is used to create a new entity. Note that if same entity already exists, then that entity will be returned instead.",
        "operationId": "createEntity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "createEntity 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/basic-info": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Search basic entities",
        "description": "This endpoint is used to search for matching entities, which are converted to minimal info entity (where fields for both individual and legal entity are mapped to same fields).",
        "operationId": "searchBasicEntities",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "explode": false,
            "schema": {
              "nullable": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/EntityType"
                }
              ]
            }
          },
          {
            "name": "identification",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "email",
            "in": "query",
            "explode": false,
            "schema": {
              "pattern": "(?:[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*|\"(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21\\x23-\\x5b\\x5d-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])*\")@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-zA-Z0-9-]*[a-zA-Z0-9]:(?:[\\x01-\\x08\\x0b\\x0c\\x0e-\\x1f\\x21-\\x5a\\x53-\\x7f]|\\\\[\\x01-\\x09\\x0b\\x0c\\x0e-\\x7f])+)])",
              "type": "string",
              "format": "email",
              "nullable": true
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "searchBasicEntities 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageDto_BasicEntityInfoDto_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/by-external-id/{externalId}": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Get entity by external ID",
        "description": "This endpoint is used to get entity by external ID.",
        "operationId": "getEntityByExternalId",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getEntityByExternalId 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/industries": {
      "get": {
        "tags": [
          "Industries"
        ],
        "summary": "Get all industries",
        "description": "This endpoint is used to get all industries. Industries are only used for legal entities.",
        "operationId": "getAllIndustries",
        "responses": {
          "200": {
            "description": "getAllIndustries 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdAndNameDto_1"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/legal-entity/type": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Get legal entity types",
        "description": "This endpoint is used to get legal entity types.",
        "operationId": "getLegalEntityTypes",
        "responses": {
          "200": {
            "description": "getLegalEntityTypes 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LegalEntityTypeDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/managed-by": {
      "get": {
        "tags": [
          "Managed by"
        ],
        "summary": "Get all managing entities",
        "description": "This endpoint is used to get all managing (serviced by) entities. Our app has renamed managed by to serviced by and in requests we still use `managedBy`.",
        "operationId": "getAllManagingEntities",
        "responses": {
          "200": {
            "description": "getAllManagingEntities 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ManagedByDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/provided-service/for-entity-type/{entityType}": {
      "get": {
        "tags": [
          "Provided services"
        ],
        "summary": "Get all provided services for entity type",
        "description": "This endpoint is used to get all provided services for given entity type.",
        "operationId": "getAllProvidedServicesByType",
        "parameters": [
          {
            "name": "entityType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ExtendedEntityType_1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getAllProvidedServicesByType 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdAndNameDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/relationship-status": {
      "get": {
        "tags": [
          "Relationship status"
        ],
        "summary": "Get relationship statuses",
        "description": "This endpoint is used to get all relationship statuses.",
        "operationId": "getAllRelationshipStatuses",
        "responses": {
          "200": {
            "description": "getAllRelationshipStatuses 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RelationshipStatusDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{entityId}": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Get entity by ID",
        "description": "This endpoint is used to get entity by ID.",
        "operationId": "getEntityById",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getEntityById 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{entityId}/basic-info": {
      "get": {
        "tags": [
          "Entity"
        ],
        "summary": "Get basic entity information",
        "description": "This endpoint is used to get basic entity information by ID. Good when you want to get a simple overview of the entity, as name for individual and legal entity is mapped to one field.",
        "operationId": "getBasicEntityInfoById",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getBasicEntityInfoById 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicEntityInfoDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{entityId}/entity-provided-service": {
      "post": {
        "tags": [
          "Provided services"
        ],
        "summary": "Add provided service for entity",
        "description": "This endpoint is used to add provided service for given entity.",
        "operationId": "addProvidedService",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddProvidedServiceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "addProvidedService 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityProvidedServiceDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{entityId}/entity-provided-service/{entityProvidedServiceId}": {
      "delete": {
        "tags": [
          "Provided services"
        ],
        "summary": "Delete provided service for entity",
        "description": "This endpoint is used to delete provided service for given entity. Entity Provided Service ID comes from Entity `providedServices[]id`",
        "operationId": "deleteProvidedService",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "entityProvidedServiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "deleteProvidedService 204 response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{entityId}/identity-documents": {
      "get": {
        "tags": [
          "Identity documents"
        ],
        "summary": "Get identity documents",
        "description": "This endpoint is used to get identity documents for an entity.",
        "operationId": "getIdentityDocuments",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getIdentityDocuments 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdentityDocumentDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{entityId}/involvements": {
      "get": {
        "tags": [
          "Involvements"
        ],
        "summary": "Get all involvements",
        "description": "This endpoint is used to get all involvements related to entity.",
        "operationId": "getAllInvolvements",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getAllInvolvements 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntityInvolvementDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Involvements"
        ],
        "summary": "Add/update involvements",
        "description": "This endpoint is used to add or update involvements related to entity.\nRole can be anything, but you can get existing possible values for role holder using [Get possible roles for entity](#tag/Involvements/operation/getInvolvementRoles).\n\n**NB!** Role `Shareholder` cannot be added, you must actually add a shareholder through [Add shareholder](#tag/Shareholders/operation/addShareholder) endpoint!",
        "operationId": "addOrUpdateInvolvement",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddInvolvementRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "addOrUpdateInvolvement 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntityInvolvementDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{entityId}/involvements/role-holder/{roleHolderEntityId}/role/{role}": {
      "delete": {
        "tags": [
          "Involvements"
        ],
        "summary": "Remove involvement role",
        "description": "This endpoint is used to remove involvement role. The role needs to match exactly. If no `removalDate` is specified, then current date is used.",
        "operationId": "removeInvolvement",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "roleHolderEntityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "role",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "removalDate",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date",
              "nullable": true
            }
          }
        ],
        "responses": {
          "204": {
            "description": "removeInvolvement 204 response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{entityId}/involvements/roles/for-entity/{forEntityId}": {
      "get": {
        "tags": [
          "Involvements"
        ],
        "summary": "Get possible roles for entity",
        "description": "This endpoint is used with adding new involvement to entity. There's 2 entity IDs in the\nrequest: forEntityId is the role holder and entityId is where you want to add the involvement.\n\n\nThis is informative and you may choose to enter any other text value as role.\n ",
        "operationId": "getInvolvementRoles",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "forEntityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getInvolvementRoles 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{entityId}/note": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "Get all notes for entity",
        "description": "This endpoint is used to get all notes for an entity.",
        "operationId": "getAllNotes",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getAllNotes 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntityNoteDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Notes"
        ],
        "summary": "Add/update note on entity",
        "description": "This endpoint is used to add or update note on an entity. To add documents, first upload them using Documents -> Upload document and then add the IDs of document into the request.",
        "operationId": "addOrUpdateNote",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateNoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "addOrUpdateNote 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNoteDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/entity/{entityId}/note/{noteId}": {
      "delete": {
        "tags": [
          "Notes"
        ],
        "summary": "Delete note",
        "description": "This endpoint is used to delete a note.",
        "operationId": "deleteNote",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "noteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "deleteNote 204 response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/entity/{entityId}/shareholder": {
      "post": {
        "tags": [
          "Shareholders"
        ],
        "summary": "Add/update shareholder",
        "description": "This endpoint is used to add shareholder to current entity. Either use `sharePercentage` or `ownedShares` (if `ownedShares` exist, then percentage is automatically calculated from that).",
        "operationId": "addOrUpdateShareholder",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddOrUpdateShareholderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "addOrUpdateShareholder 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareholderDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{entityId}/shareholder/structure": {
      "get": {
        "tags": [
          "Shareholders"
        ],
        "summary": "Get shareholder structure",
        "description": "This endpoint is used to get shareholding structure for current entity",
        "operationId": "getShareholderStructure",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getShareholderStructure 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareholderStructure"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{entityId}/shareholder/{shareholderId}": {
      "delete": {
        "tags": [
          "Shareholders"
        ],
        "summary": "Delete shareholder",
        "description": "Removes shareholder from entity",
        "operationId": "deleteShareholder",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "shareholderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "deleteShareholder 204 response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{id}": {
      "delete": {
        "tags": [
          "Entity"
        ],
        "summary": "Delete entity",
        "description": "This endpoint is used to remove entity.",
        "operationId": "deleteEntity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "deleteEntity 204 response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/entity/{id}/update-by-field": {
      "post": {
        "tags": [
          "Entity"
        ],
        "summary": "Update entity by field",
        "description": "This endpoint is used to update specific fields of an entity. The structure to update is the same as response, eg. to update name of legal entity, you need to send field 'legalEntity.name' with desired value.",
        "operationId": "updateEntityByField",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateByFieldRequest"
              },
              "examples": {
                "Update individual's name and email": {
                  "summary": "Update individual's name and email",
                  "value": {
                    "fields": {
                      "individual.name.firstName": "John",
                      "individual.name.lastName": "Doe",
                      "email": "john.doe@example.com",
                      "onboardingDate": "2022-01-01"
                    },
                    "updateIfEmpty": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "updateEntityByField 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/form": {
      "get": {
        "tags": [
          "Form"
        ],
        "summary": "Get forms",
        "description": "This endpoint is used to search all available forms.",
        "operationId": "getForms",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "entityType",
            "in": "query",
            "explode": false,
            "schema": {
              "nullable": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/ExtendedEntityType"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getForms 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/form/sent": {
      "get": {
        "tags": [
          "Form"
        ],
        "summary": "Get sent forms",
        "description": "This endpoint is used to get all forms that have been sent out.",
        "operationId": "getSentForms",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Searches by entity name or form name",
            "explode": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/LinkStatus"
              }
            }
          },
          {
            "name": "formIds",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "explode": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "explode": false,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getSentForms 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageDto_QuestionnaireLinksResponse_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/form/submit/{linkId}": {
      "post": {
        "tags": [
          "Form"
        ],
        "summary": "Submit form",
        "description": "This endpoint is used to submit form.",
        "operationId": "submitForm",
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "description": "ID of the sent-out form",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "submitForm 204 response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/form/{formId}/to-entity/{entityId}": {
      "post": {
        "tags": [
          "Form"
        ],
        "summary": "Send form to entity",
        "description": "This endpoint is used to create and send form to a specific entity. If email is provided, the form will be sent to that email address. Else, link is generated and returned in the response, where user needs to be redirected to.",
        "operationId": "sendFormToEntity",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendFormRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "sendFormToEntity 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/rest/webhook": {
      "get": {
        "tags": [
          "REST Webhook"
        ],
        "summary": "List All Webhooks",
        "description": "This endpoint is used to list all REST webhooks for all event types.",
        "operationId": "listRestHooks",
        "responses": {
          "200": {
            "description": "listRestHooks 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RestHook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/rest/webhook/{event}/subscribe": {
      "post": {
        "tags": [
          "REST Webhook"
        ],
        "summary": "Create Webhook",
        "description": "This endpoint is used to create a new REST webhook, which will be triggered when a specific event occurs.",
        "operationId": "createRestHook",
        "parameters": [
          {
            "name": "event",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RestHookEvent"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestHook"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "createRestHook 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UUIDDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/rest/webhook/{event}/test-data": {
      "post": {
        "tags": [
          "REST Webhook"
        ],
        "summary": "Test Webhook Data",
        "description": "This endpoint is used to test the data of a specific REST webhook. Usually returns the latest data for the specified event.",
        "operationId": "testRestHookData",
        "parameters": [
          {
            "name": "event",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RestHookEvent"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/EntityFilter"
                  },
                  {
                    "$ref": "#/components/schemas/DocumentFilter"
                  },
                  {
                    "$ref": "#/components/schemas/VerificationFilter"
                  },
                  {
                    "$ref": "#/components/schemas/IdentityDocumentFilter"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EntityDto"
                    },
                    {
                      "$ref": "#/components/schemas/EventDocumentDto"
                    },
                    {
                      "$ref": "#/components/schemas/EventIdentityDocumentDto"
                    },
                    {
                      "$ref": "#/components/schemas/VerificationStatusChangedEvent"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid filter parameters."
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No records found for the specified event."
          }
        }
      }
    },
    "/v1/rest/webhook/{event}/unsubscribe/{id}": {
      "delete": {
        "tags": [
          "REST Webhook"
        ],
        "summary": "Remove Webhook",
        "description": "This endpoint is used to remove a specific REST webhook.",
        "operationId": "removeRestHook",
        "parameters": [
          {
            "name": "event",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/RestHookEvent"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "removeRestHook 204 response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/risk/entity/{entityId}/reviews": {
      "get": {
        "tags": [
          "Risk assessment"
        ],
        "summary": "Get entity risk reviews",
        "description": "This endpoint is used to get all risk reviews for the requested entity.",
        "operationId": "getRiskReviewsForEntity",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getRiskReviewsForEntity 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RiskReviewDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/risk/entity/{entityId}/reviews/{reviewId}": {
      "delete": {
        "tags": [
          "Risk assessment"
        ],
        "summary": "Delete review",
        "description": "Removes the specified risk review from the system.",
        "operationId": "deleteRiskReview",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "deleteRiskReview 204 response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/verification/entity/{entityId}": {
      "get": {
        "tags": [
          "Verification"
        ],
        "summary": "Get entity verification status",
        "description": "This endpoint is used to get verification status for the requested entity.",
        "operationId": "getVerificationStatusForEntity",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "getVerificationStatusForEntity 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationsDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/verification/identity-document/{documentType}/entity/{entityId}/request": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Request identity document",
        "description": "This endpoint is used to request identity document for the requested entity. `ANY` document type means that user can pick themselves which document they'd like to upload.\n\n If email is provided, the request will be sent to that email address. Otherwise, link is generated and returned in the response, where user needs to be redirected to.",
        "operationId": "requestIdentityDocument",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "documentType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IdentityDocumentType"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestIdentityDocument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "requestIdentityDocument 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/verification/screening/entity/{entityId}": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Run screening",
        "description": "This endpoint is used to run screening for the requested entity.",
        "operationId": "runScreening",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OngoingMonitoring"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "runScreening 204 response"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/verification/screening/entity/{entityId}/ongoing-monitoring": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Toggle ongoing monitoring",
        "description": "This endpoint is used to toggle ongoing monitoring for the requested entity.",
        "operationId": "toggleOngoingMonitoring",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OngoingMonitoring"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "toggleOngoingMonitoring 200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccessTokenRequest": {
        "required": [
          "client_id",
          "client_secret",
          "grant_type"
        ],
        "type": "object",
        "properties": {
          "grant_type": {
            "$ref": "#/components/schemas/GrantType"
          },
          "client_id": {
            "minLength": 1,
            "type": "string"
          },
          "client_secret": {
            "minLength": 1,
            "type": "string"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "redirect_uri": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AccessTokenResponse": {
        "required": [
          "access_token",
          "expires_in",
          "token_type"
        ],
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string",
            "nullable": true
          },
          "token_type": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AccountInfoDto": {
        "required": [
          "name",
          "teamMembers"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "teamMembers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDto"
            }
          },
          "address": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressDto"
              }
            ]
          },
          "createdById": {
            "type": "integer",
            "description": "ID of the team member who created the account",
            "format": "int64",
            "nullable": true
          }
        }
      },
      "AddInvolvementRequest": {
        "required": [
          "roleHolderEntityId",
          "roles"
        ],
        "type": "object",
        "properties": {
          "roleHolderEntityId": {
            "type": "integer",
            "format": "int64"
          },
          "roles": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AddOrUpdateNoteRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "documentIds": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "AddOrUpdateShareholderRequest": {
        "required": [
          "shareholderEntityId",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "shareholderEntityId": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "$ref": "#/components/schemas/ShareholderTypeDto"
          },
          "sharePercentage": {
            "maximum": 100,
            "minimum": 0,
            "type": "number",
            "description": "Shareholder percentage, eg. 10 equals 10%",
            "nullable": true
          },
          "ownedShares": {
            "type": "array",
            "description": "List of shares owned by shareholder",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/OwnedShare"
            }
          }
        }
      },
      "AddProvidedServiceRequest": {
        "required": [
          "serviceId"
        ],
        "type": "object",
        "properties": {
          "serviceId": {
            "type": "integer",
            "format": "int64"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "managedByEntities": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/IdAndNameDto"
            }
          }
        }
      },
      "AddressDto": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string",
            "nullable": true
          },
          "addressLine2": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "countryCode": {
            "maxLength": 3,
            "minLength": 3,
            "type": "string",
            "nullable": true,
            "x-size-message": "Country Code needs to be in [ISO 3166-1 alpha-3] spec (3 characters)"
          }
        }
      },
      "AddressDto_1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "addressLine1": {
            "type": "string",
            "nullable": true
          },
          "addressLine2": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "nullable": true
          },
          "isPrimary": {
            "type": "boolean",
            "nullable": true
          },
          "types": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AddressType"
            }
          },
          "verification": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressVerification"
              }
            ]
          }
        },
        "description": "AddressDto"
      },
      "AddressType": {
        "type": "string",
        "description": "Gets or Sets AddressType",
        "enum": [
          "REGISTERED",
          "MAILING",
          "PHYSICAL",
          "SHIPPING",
          "VIRTUAL",
          "RESIDENTIAL",
          "BUSINESS"
        ]
      },
      "AddressVerification": {
        "type": "object",
        "properties": {
          "status": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/VerificationStatus_1"
              }
            ]
          },
          "proofOfAddress": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ProofOfAddressDto"
              }
            ]
          }
        },
        "description": "AddressVerification"
      },
      "AuthorisedShareDtoV2": {
        "required": [
          "nominalValue",
          "shareCapital"
        ],
        "type": "object",
        "properties": {
          "nominalValue": {
            "type": "number"
          },
          "shareCapital": {
            "type": "integer",
            "format": "int64"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "contact": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ContactDtoV3"
              }
            ]
          },
          "shareCurrency": {
            "type": "string",
            "nullable": true
          },
          "shareCurrencySymbol": {
            "type": "string",
            "nullable": true
          },
          "shareType": {
            "type": "string",
            "nullable": true
          },
          "issuedShares": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "shareClass": {
            "type": "string",
            "nullable": true
          },
          "percentagePaidUp": {
            "type": "number",
            "nullable": true
          },
          "amountInPercentage": {
            "type": "number",
            "nullable": true
          }
        },
        "description": "AuthorisedShareDtoV2"
      },
      "AuthorisedShareWithoutContactDto": {
        "required": [
          "id",
          "nominalValue",
          "shareCapital"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "nominalValue": {
            "type": "number"
          },
          "shareCapital": {
            "type": "integer",
            "format": "int64"
          },
          "shareCurrency": {
            "type": "string",
            "nullable": true
          },
          "shareType": {
            "type": "string",
            "nullable": true
          },
          "shareClass": {
            "type": "string",
            "nullable": true
          },
          "issuedShares": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "percentagePaidUp": {
            "type": "number",
            "nullable": true
          },
          "amountInPercentage": {
            "type": "number",
            "nullable": true
          }
        },
        "description": "AuthorisedShareWithoutContactDto"
      },
      "BasicEntityInfoDto": {
        "required": [
          "extendedType",
          "id",
          "name",
          "relationship",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/EntityType"
          },
          "extendedType": {
            "$ref": "#/components/schemas/ExtendedEntityType_1"
          },
          "relationship": {
            "$ref": "#/components/schemas/EntityRelationshipDto"
          },
          "identification": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/IdentificationDto"
              }
            ]
          },
          "countryCode": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressDto"
              }
            ]
          },
          "onboardingDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "managedBy": {
            "type": "array",
            "description": "'Serviced By' in Binderr app",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/IdAndNameDto_1"
            }
          },
          "latestNote": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BeneficialInterestType": {
        "type": "string",
        "description": "Gets or Sets BeneficialInterestType",
        "enum": [
          "DISCRETIONARY",
          "FIXED"
        ]
      },
      "BillingType": {
        "type": "string",
        "description": "Gets or Sets BillingType",
        "enum": [
          "ONE_TIME",
          "RECURRING"
        ]
      },
      "BusinessRegistryStatus": {
        "type": "string",
        "description": "Gets or Sets BusinessRegistryStatus",
        "enum": [
          "ACTIVE",
          "DORMANT",
          "STRUCK_OFF",
          "STRUCK_OFF_DEFUNCT",
          "PREPARING_FOR_DISSOLUTION",
          "DISSOLUTION",
          "INCORPORATION"
        ]
      },
      "CompanyRegistryAvailabilityInfo": {
        "type": "object",
        "properties": {
          "availableDocuments": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "processingTime": {
            "type": "string",
            "nullable": true
          }
        },
        "description": "CompanyRegistryAvailabilityInfo"
      },
      "ContactCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ExtendedEntityType_1"
              }
            ]
          },
          "nationality": {
            "type": "string",
            "nullable": true
          },
          "identificationNumber": {
            "type": "string",
            "nullable": true
          },
          "documentType": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/IdentityDocumentType_1"
              }
            ]
          },
          "countryOfIssue": {
            "type": "string",
            "nullable": true
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "countryOfResidence": {
            "type": "string",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "nullable": true
          },
          "incorporationCountryCode": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "relationshipStatus": {
            "nullable": true,
            "deprecated": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityStatus"
              }
            ]
          },
          "roles": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactRoleDto"
            }
          }
        },
        "description": "ContactCard"
      },
      "ContactCompanyDetails": {
        "required": [
          "companyName"
        ],
        "type": "object",
        "properties": {
          "companyName": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "registrationNumber": {
            "type": "string",
            "nullable": true
          },
          "incorporationDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          }
        },
        "description": "ContactCompanyDetails"
      },
      "ContactDtoV3": {
        "required": [
          "managingCompanyId",
          "type"
        ],
        "type": "object",
        "properties": {
          "managingCompanyId": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "deprecated": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityTypeOld"
              }
            ]
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "relationshipStatus": {
            "nullable": true,
            "deprecated": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityStatus"
              }
            ]
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "individualDetails": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ContactIndividualDetails"
              }
            ]
          },
          "companyDetails": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ContactCompanyDetails"
              }
            ]
          },
          "address": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressDto_1"
              }
            ]
          },
          "shareCapital": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AuthorisedShareDtoV2"
            }
          },
          "officersResponse": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/OfficersResponse"
              }
            ]
          },
          "contactRoles": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactRoleDto"
            }
          },
          "ownership": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContactOwnership"
            }
          }
        },
        "description": "ContactDtoV3"
      },
      "ContactIndividualDetails": {
        "required": [
          "firstName",
          "lastName"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "nationality": {
            "type": "string",
            "nullable": true
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "idCardNumber": {
            "type": "string",
            "nullable": true
          },
          "passportNumber": {
            "type": "string",
            "nullable": true
          },
          "idCardCountryOfIssue": {
            "type": "string",
            "nullable": true
          },
          "passportCountryOfIssue": {
            "type": "string",
            "nullable": true
          }
        },
        "description": "ContactIndividualDetails"
      },
      "ContactOwnership": {
        "required": [
          "companyId",
          "companyName",
          "directOwnership",
          "entityId",
          "ownedShares",
          "parentContactId",
          "percentageOwnedInParent"
        ],
        "type": "object",
        "properties": {
          "companyName": {
            "type": "string"
          },
          "parentContactId": {
            "type": "integer",
            "format": "int64"
          },
          "companyId": {
            "type": "integer",
            "format": "int64"
          },
          "percentageOwnedInParent": {
            "type": "number"
          },
          "ownedShares": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OwnedShare"
            }
          },
          "entityId": {
            "type": "integer",
            "format": "int64"
          },
          "directOwnership": {
            "type": "boolean"
          },
          "shareHolderId": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "parentShareHolderId": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          }
        },
        "description": "ContactOwnership",
        "deprecated": true
      },
      "ContactRoleCompanyDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "companyName": {
            "type": "string",
            "nullable": true
          }
        },
        "description": "ContactRoleCompanyDto"
      },
      "ContactRoleDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "contactId": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "company": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ContactRoleCompanyDto"
              }
            ]
          },
          "role": {
            "type": "string",
            "nullable": true
          }
        },
        "description": "ContactRoleDto"
      },
      "CountriesAndNationalitiesResponse": {
        "required": [
          "countries",
          "nationalities"
        ],
        "type": "object",
        "properties": {
          "countries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryDto"
            }
          },
          "nationalities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NationalityDto"
            }
          }
        },
        "description": "CountriesAndNationalitiesResponse"
      },
      "CountryDto": {
        "required": [
          "alpha3Code",
          "hasRegions",
          "phoneCode",
          "shortName"
        ],
        "type": "object",
        "properties": {
          "shortName": {
            "type": "string"
          },
          "alpha3Code": {
            "type": "string"
          },
          "phoneCode": {
            "type": "string"
          },
          "hasRegions": {
            "type": "boolean"
          },
          "regionTypeName": {
            "type": "string",
            "nullable": true
          }
        },
        "description": "CountryDto"
      },
      "DocumentFilter": {
        "type": "object",
        "properties": {
          "documentFormats": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/DocumentFormat"
            }
          },
          "uploadedByIds": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "paths": {
            "type": "array",
            "description": "File paths, supports regex matching.",
            "nullable": true,
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Filter criteria for `ENTITY_DOCUMENT_UPLOADED`."
      },
      "DocumentFormat": {
        "type": "string",
        "description": "Gets or Sets DocumentFormat",
        "enum": [
          "PDF",
          "XLS",
          "XLSX",
          "CSV",
          "DOC",
          "DOCX",
          "HTML",
          "PNG",
          "JPEG",
          "MP4"
        ]
      },
      "DocumentInfo": {
        "required": [
          "createdAt",
          "downloadableFormats",
          "entityId",
          "fileName",
          "format",
          "id",
          "thumbnailExists",
          "uploader"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "entityId": {
            "type": "integer",
            "format": "int64"
          },
          "fileName": {
            "type": "string"
          },
          "format": {
            "$ref": "#/components/schemas/DocumentFormat"
          },
          "downloadableFormats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentFormat"
            }
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          },
          "uploader": {
            "$ref": "#/components/schemas/ShortUserDto"
          },
          "thumbnailExists": {
            "type": "boolean"
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/DocumentType"
              }
            ]
          },
          "signingEnvelope": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/EnvelopeWithoutDocumentsDto"
              }
            ]
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "deprecated": true
          },
          "effectiveDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "originalFileSize": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "note": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/NoteDto"
              }
            ]
          },
          "expiryDate": {
            "type": "string",
            "format": "date",
            "nullable": true
          }
        },
        "description": "DocumentInfo"
      },
      "DocumentMetadata": {
        "required": [
          "createdAt",
          "entityId",
          "fileName",
          "format",
          "id",
          "thumbnailExists",
          "uploader"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "entityId": {
            "type": "integer",
            "format": "int64"
          },
          "fileName": {
            "type": "string"
          },
          "format": {
            "$ref": "#/components/schemas/DocumentFormat"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "uploader": {
            "$ref": "#/components/schemas/ShortUserDto_1"
          },
          "thumbnailExists": {
            "type": "boolean"
          },
          "path": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/IdAndNameDto_1"
              }
            ]
          }
        }
      },
      "DocumentPhotoDocumentPhotoSide": {
        "type": "string",
        "description": "Gets or Sets DocumentPhoto.DocumentPhotoSide",
        "enum": [
          "FRONT_SIDE",
          "BACK_SIDE"
        ]
      },
      "DocumentType": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "systemType": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/SystemDocumentType"
              }
            ]
          }
        },
        "description": "DocumentType"
      },
      "DocumentType_1": {
        "required": [
          "id",
          "isSystemType",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "isSystemType": {
            "type": "boolean"
          }
        }
      },
      "EntityCreateRequest": {
        "required": [
          "managedBy",
          "relationship"
        ],
        "type": "object",
        "properties": {
          "externalId": {
            "type": "string",
            "description": "External ID of the entity. Can be null, can only be set when creating a new entity",
            "nullable": true
          },
          "relationship": {
            "$ref": "#/components/schemas/EntityRelationshipDto"
          },
          "individual": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityIndividual"
              }
            ]
          },
          "legalEntity": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/EntityLegalEntity"
              }
            ]
          },
          "email": {
[...]
