{
  "openapi": "3.0.3",
  "info": {
    "title": "Codeship API",
    "description": "Codeship API v2 provides programmatic access to Codeship CI/CD resources including organizations, projects, and builds. Authentication is done via username/password to obtain a JWT token.",
    "version": "2.0.0",
    "contact": {
      "name": "CloudBees (Codeship)",
      "url": "https://docs.cloudbees.com/docs/cloudbees-codeship/latest/api-overview/"
    }
  },
  "servers": [
    {
      "url": "https://api.codeship.com/v2",
      "description": "Codeship API v2 production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "operationId": "authenticate",
        "summary": "Authenticate",
        "description": "Authenticate with username and password to obtain a JWT access token. The token is used for all subsequent API requests. Note: Two-factor authentication (2FA) is not supported via the API.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Codeship account email"
                  },
                  "password": {
                    "type": "string",
                    "description": "Codeship account password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed - invalid credentials or 2FA enabled"
          }
        }
      }
    },
    "/organizations/{organization_uuid}/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Returns a paginated list of projects for the specified organization.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter by project type",
            "schema": {
              "type": "string",
              "enum": [
                "basic",
                "pro"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "description": "Creates a new project in the specified organization.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/organizations/{organization_uuid}/projects/{project_uuid}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a project",
        "description": "Returns details for a specific project.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "project_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the project",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "404": {
            "description": "Project not found"
          }
        }
      },
      "put": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "description": "Updates the configuration of an existing project.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "project_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the project",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "404": {
            "description": "Project not found"
          }
        }
      }
    },
    "/organizations/{organization_uuid}/projects/{project_uuid}/reset_aes_key": {
      "post": {
        "operationId": "resetProjectAesKey",
        "summary": "Reset project AES key",
        "description": "Resets the AES encryption key for the project. This invalidates any previously encrypted environment variables.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "project_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the project",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AES key reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "404": {
            "description": "Project not found"
          }
        }
      }
    },
    "/organizations/{organization_uuid}/projects/{project_uuid}/builds": {
      "get": {
        "operationId": "listBuilds",
        "summary": "List builds",
        "description": "Returns a paginated list of builds for the specified project.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "project_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the project",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of builds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "builds": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Build"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Project not found"
          }
        }
      },
      "post": {
        "operationId": "createBuild",
        "summary": "Create a build",
        "description": "Triggers a new build for the specified project.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "project_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the project",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ref",
                  "commit_sha"
                ],
                "properties": {
                  "ref": {
                    "type": "string",
                    "description": "Git reference (branch name)"
                  },
                  "commit_sha": {
                    "type": "string",
                    "description": "Git commit SHA to build"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Build created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          }
        }
      }
    },
    "/organizations/{organization_uuid}/projects/{project_uuid}/builds/{build_uuid}": {
      "get": {
        "operationId": "getBuild",
        "summary": "Get a build",
        "description": "Returns details for a specific build.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "project_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the project",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "build_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the build",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "404": {
            "description": "Build not found"
          }
        }
      }
    },
    "/organizations/{organization_uuid}/projects/{project_uuid}/builds/{build_uuid}/stop": {
      "post": {
        "operationId": "stopBuild",
        "summary": "Stop a build",
        "description": "Stops a running build.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "project_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the project",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "build_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the build",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build stopped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "404": {
            "description": "Build not found"
          }
        }
      }
    },
    "/organizations/{organization_uuid}/projects/{project_uuid}/builds/{build_uuid}/restart": {
      "post": {
        "operationId": "restartBuild",
        "summary": "Restart a build",
        "description": "Restarts a completed or failed build.",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "project_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the project",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "build_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the build",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build restarted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Build"
                }
              }
            }
          },
          "404": {
            "description": "Build not found"
          }
        }
      }
    },
    "/organizations/{organization_uuid}/projects/{project_uuid}/builds/{build_uuid}/pipelines": {
      "get": {
        "operationId": "listBuildPipelines",
        "summary": "List build pipelines",
        "description": "Returns the pipelines associated with a build (for Codeship Pro projects).",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "project_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the project",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "build_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the build",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pipelines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pipelines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pipeline"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Build not found"
          }
        }
      }
    },
    "/organizations/{organization_uuid}/projects/{project_uuid}/builds/{build_uuid}/services": {
      "get": {
        "operationId": "listBuildServices",
        "summary": "List build services",
        "description": "Returns the services associated with a build (for Codeship Pro projects).",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "project_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the project",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "build_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the build",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of services",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "services": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Service"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Build not found"
          }
        }
      }
    },
    "/organizations/{organization_uuid}/projects/{project_uuid}/builds/{build_uuid}/steps": {
      "get": {
        "operationId": "listBuildSteps",
        "summary": "List build steps",
        "description": "Returns the steps associated with a build (for Codeship Basic projects).",
        "tags": [
          "Builds"
        ],
        "parameters": [
          {
            "name": "organization_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the organization",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "project_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the project",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "build_uuid",
            "in": "path",
            "required": true,
            "description": "UUID of the build",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of steps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "steps": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Step"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Build not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from the /auth endpoint"
      }
    },
    "schemas": {
      "AuthResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT access token for authenticating subsequent requests"
          },
          "organizations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Organization"
            },
            "description": "List of organizations the authenticated user belongs to"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the organization"
          },
          "name": {
            "type": "string",
            "description": "Organization name"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Permission scopes for the authenticated user in this organization"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the project"
          },
          "organization_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Project name"
          },
          "type": {
            "type": "string",
            "enum": [
              "basic",
              "pro"
            ],
            "description": "Project type (Codeship Basic or Codeship Pro)"
          },
          "repository_url": {
            "type": "string",
            "description": "URL of the connected repository"
          },
          "repository_provider": {
            "type": "string",
            "description": "Source code repository provider (e.g., github, bitbucket, gitlab)"
          },
          "authentication_user": {
            "type": "string",
            "description": "Username used for repository authentication"
          },
          "notification_rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationRule"
            }
          },
          "aes_key": {
            "type": "string",
            "description": "AES encryption key for encrypting environment variables"
          },
          "ssh_key": {
            "type": "string",
            "description": "SSH public key for the project"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "setup_commands": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Setup commands (Codeship Basic only)"
          },
          "test_pipelines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestPipeline"
            },
            "description": "Test pipelines (Codeship Basic only)"
          },
          "deploy_pipelines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeployPipeline"
            },
            "description": "Deploy pipelines (Codeship Basic only)"
          },
          "team_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "IDs of teams with access to this project"
          }
        }
      },
      "ProjectCreateRequest": {
        "type": "object",
        "required": [
          "type",
          "repository_url"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "basic",
              "pro"
            ],
            "description": "Project type"
          },
          "repository_url": {
            "type": "string",
            "description": "URL of the repository to connect"
          },
          "setup_commands": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Setup commands (Codeship Basic only)"
          },
          "test_pipelines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestPipeline"
            }
          },
          "team_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "ProjectUpdateRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "basic",
              "pro"
            ]
          },
          "setup_commands": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "test_pipelines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestPipeline"
            }
          },
          "deploy_pipelines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeployPipeline"
            }
          },
          "notification_rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationRule"
            }
          },
          "team_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "Build": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the build"
          },
          "project_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "ref": {
            "type": "string",
            "description": "Git reference (branch name)"
          },
          "commit_sha": {
            "type": "string",
            "description": "Git commit SHA"
          },
          "status": {
            "type": "string",
            "enum": [
              "waiting",
              "testing",
              "success",
              "error",
              "stopped",
              "infrastructure_error",
              "blocked"
            ],
            "description": "Current build status"
          },
          "username": {
            "type": "string",
            "description": "Username who triggered the build"
          },
          "commit_message": {
            "type": "string",
            "description": "Git commit message"
          },
          "organization_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "allocated_at": {
            "type": "string",
            "format": "date-time"
          },
          "queued_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "type": "object",
            "properties": {
              "pipelines": {
                "type": "string",
                "description": "URL to fetch pipelines for this build"
              },
              "services": {
                "type": "string",
                "description": "URL to fetch services for this build"
              },
              "steps": {
                "type": "string",
                "description": "URL to fetch steps for this build"
              }
            }
          }
        }
      },
      "Pipeline": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "build_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "description": "Pipeline type"
          },
          "status": {
            "type": "string",
            "enum": [
              "waiting",
              "running",
              "success",
              "error",
              "stopped"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "build_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Service name"
          },
          "tag": {
            "type": "string",
            "description": "Docker image tag"
          },
          "image_name": {
            "type": "string",
            "description": "Docker image name"
          },
          "status": {
            "type": "string",
            "enum": [
              "waiting",
              "running",
              "success",
              "error"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Step": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "build_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Step name"
          },
          "command": {
            "type": "string",
            "description": "Command executed in this step"
          },
          "status": {
            "type": "string",
            "enum": [
              "waiting",
              "running",
              "success",
              "error"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "finished_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TestPipeline": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Pipeline name"
          },
          "commands": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Commands to execute in this pipeline"
          }
        }
      },
      "DeployPipeline": {
        "type": "object",
        "properties": {
          "branch": {
            "type": "string",
            "description": "Branch name to deploy from"
          },
          "config": {
            "type": "object",
            "description": "Deployment configuration"
          }
        }
      },
      "NotificationRule": {
        "type": "object",
        "properties": {
          "notifier": {
            "type": "string",
            "description": "Notification service (e.g., email, slack)"
          },
          "branch": {
            "type": "string",
            "description": "Branch filter for notifications"
          },
          "build_statuses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Build statuses that trigger notifications"
          },
          "target": {
            "type": "string",
            "description": "Notification target (e.g., email address, Slack channel)"
          },
          "options": {
            "type": "object",
            "description": "Additional notification options"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Builds"
    },
    {
      "name": "Projects"
    }
  ]
}
