{
  "openapi": "3.0.3",
  "info": {
    "title": "Checkr Trust API",
    "description": "Checkr Trust is a modern, RESTful API-driven service designed to enhance trust and safety for platforms. Provides access to criminal records, traffic infractions, registry checks, driver checks, and identity verifications.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.checkrtrust.com/"
  },
  "servers": [
    {
      "url": "https://api.checkrtrust.com/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/accounts/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Obtain an access token",
        "description": "Exchange client_id and client_secret for an OAuth 2.0 access token. Tokens expire in 24 hours.",
        "operationId": "getAccessToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token successfully generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles": {
      "post": {
        "tags": [
          "Profiles"
        ],
        "summary": "Create a new profile",
        "description": "Create a new PII profile for a person who will be checked.",
        "operationId": "createProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Profile created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "List profiles",
        "description": "Retrieve a list of profiles for the account.",
        "operationId": "listProfiles",
        "responses": {
          "200": {
            "description": "List of profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Profile"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{profile_id}": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "summary": "Get a profile",
        "description": "Retrieve a specific profile by ID.",
        "operationId": "getProfile",
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Profile details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Profiles"
        ],
        "summary": "Update a profile",
        "description": "Update an existing profile with new PII data.",
        "operationId": "updateProfile",
        "parameters": [
          {
            "name": "profile_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The profile ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/checks": {
      "post": {
        "tags": [
          "Checks"
        ],
        "summary": "Create a new instant criminal check",
        "description": "Creates a new check, immediately returning the results. Requires first_name and last_name at minimum. Can also pass profile_id to reference existing PII.",
        "operationId": "createCheck",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Check results returned synchronously",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - insufficient PII",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Checks"
        ],
        "summary": "List checks",
        "description": "Retrieve a list of checks for the account.",
        "operationId": "listChecks",
        "responses": {
          "200": {
            "description": "List of checks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CheckResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/checks/{check_id}": {
      "get": {
        "tags": [
          "Checks"
        ],
        "summary": "Get a check result",
        "description": "Retrieve a specific check result by ID.",
        "operationId": "getCheck",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The check ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/driver_checks": {
      "post": {
        "tags": [
          "Driver Checks"
        ],
        "summary": "Create a new driver check",
        "description": "Creates a new driver check. Results are returned asynchronously via webhook. Requires first_name, last_name, dob, driver_license_number, and driver_license_state.",
        "operationId": "createDriverCheck",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DriverCheckRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Driver check accepted for async processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriverCheckResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - insufficient PII",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Driver Checks"
        ],
        "summary": "List driver checks",
        "description": "Retrieve a list of driver checks for the account.",
        "operationId": "listDriverChecks",
        "responses": {
          "200": {
            "description": "List of driver checks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DriverCheckResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/driver_checks/{driver_check_id}": {
      "get": {
        "tags": [
          "Driver Checks"
        ],
        "summary": "Get a driver check result",
        "description": "Retrieve a specific driver check result by ID.",
        "operationId": "getDriverCheck",
        "parameters": [
          {
            "name": "driver_check_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The driver check ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Driver check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriverCheckResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identity_verifications": {
      "post": {
        "tags": [
          "Identity Verifications"
        ],
        "summary": "Create a new identity verification",
        "description": "Creates a new identity verification check. Requires first_name, last_name, idv_type, and at least one of email, phone, dob, or address.",
        "operationId": "createIdentityVerification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Identity verification result (synchronous for pii_validation and personal_identity_records)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityVerificationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - insufficient PII",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Identity Verifications"
        ],
        "summary": "List identity verifications",
        "description": "Retrieve a list of identity verifications for the account.",
        "operationId": "listIdentityVerifications",
        "responses": {
          "200": {
            "description": "List of identity verifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IdentityVerificationResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/identity_verifications/{identity_verification_id}": {
      "get": {
        "tags": [
          "Identity Verifications"
        ],
        "summary": "Get an identity verification result",
        "description": "Retrieve a specific identity verification result by ID.",
        "operationId": "getIdentityVerification",
        "parameters": [
          {
            "name": "identity_verification_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The identity verification ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Identity verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityVerificationResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/regulated/criminal_reports": {
      "post": {
        "tags": [
          "Regulated Criminal Reports"
        ],
        "summary": "Create a new regulated criminal report",
        "description": "Creates a new FCRA-regulated criminal report. Results are delivered asynchronously via webhook. Requires first_name, last_name, dob, filter_context with candidate_jurisdiction, and permissible_purpose.",
        "operationId": "createRegulatedCriminalReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegulatedCriminalReportRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Report accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegulatedCriminalReportStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Regulated Criminal Reports"
        ],
        "summary": "List regulated criminal reports",
        "description": "Retrieve a list of regulated criminal reports for the account.",
        "operationId": "listRegulatedCriminalReports",
        "responses": {
          "200": {
            "description": "List of reports",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RegulatedCriminalReport"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/regulated/criminal_reports/{id}": {
      "get": {
        "tags": [
          "Regulated Criminal Reports"
        ],
        "summary": "Get a regulated criminal report",
        "description": "Retrieve a specific regulated criminal report by ID. Includes full results once the report is complete.",
        "operationId": "getRegulatedCriminalReport",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The report ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Regulated criminal report with results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegulatedCriminalReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.0 Bearer token obtained from /accounts/token endpoint"
      }
    },
    "schemas": {
      "TokenRequest": {
        "type": "object",
        "required": [
          "client_id",
          "client_secret"
        ],
        "properties": {
          "client_id": {
            "type": "string",
            "description": "Your Client Key"
          },
          "client_secret": {
            "type": "string",
            "description": "Your Secret Key"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The OAuth access token"
          },
          "scope": {
            "type": "string",
            "description": "Scopes granted"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiry time in seconds (86400 = 24 hours)"
          },
          "token_type": {
            "type": "string",
            "description": "Token type, always Bearer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type"
          },
          "error_description": {
            "type": "string",
            "description": "Human-readable error description"
          }
        }
      },
      "ProfileRequest": {
        "type": "object",
        "required": [
          "first_name",
          "last_name"
        ],
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name of the person"
          },
          "last_name": {
            "type": "string",
            "description": "Last name of the person"
          },
          "dob": {
            "type": "string",
            "description": "Date of birth in YYYYMMDD format"
          },
          "email": {
            "type": "string",
            "description": "Email address"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "address": {
            "type": "string",
            "description": "Street address"
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Profile ID"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "dob": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CheckRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name (required if no profile_id)"
          },
          "last_name": {
            "type": "string",
            "description": "Last name (required if no profile_id)"
          },
          "dob": {
            "type": "string",
            "description": "Date of birth in YYYYMMDD format (encouraged but not required)"
          },
          "profile_id": {
            "type": "string",
            "description": "Reference to existing profile PII"
          }
        }
      },
      "CheckResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Check ID"
          },
          "check_type": {
            "type": "string",
            "description": "Type of check performed"
          },
          "status": {
            "type": "string",
            "description": "Check status"
          },
          "results": {
            "type": "array",
            "description": "Check results. Empty results indicates no items on record.",
            "items": {
              "type": "object",
              "properties": {
                "record": {
                  "type": "object",
                  "description": "Criminal record data"
                }
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DriverCheckRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name (required if no profile_id)"
          },
          "last_name": {
            "type": "string",
            "description": "Last name (required if no profile_id)"
          },
          "dob": {
            "type": "string",
            "description": "Date of birth in YYYYMMDD format"
          },
          "driver_license_number": {
            "type": "string",
            "description": "Driver license number"
          },
          "driver_license_state": {
            "type": "string",
            "description": "State of the driver license"
          },
          "profile_id": {
            "type": "string",
            "description": "Reference to existing profile PII"
          }
        }
      },
      "DriverCheckResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Driver check ID"
          },
          "check_type": {
            "type": "string",
            "description": "Type of driver check"
          },
          "status": {
            "type": "string",
            "description": "Check status"
          },
          "results": {
            "type": "object",
            "description": "Driver check results"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IdentityVerificationRequest": {
        "type": "object",
        "required": [
          "first_name",
          "last_name",
          "idv_type"
        ],
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name"
          },
          "last_name": {
            "type": "string",
            "description": "Last name"
          },
          "idv_type": {
            "type": "string",
            "description": "Type of identity verification: pii_validation, personal_identity_records, or document_verification",
            "enum": [
              "pii_validation",
              "personal_identity_records",
              "document_verification"
            ]
          },
          "email": {
            "type": "string",
            "description": "Email address"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "dob": {
            "type": "string",
            "description": "Date of birth in YYYYMMDD format"
          },
          "address": {
            "type": "string",
            "description": "Street address"
          },
          "profile_id": {
            "type": "string",
            "description": "Reference to existing profile PII"
          }
        }
      },
      "IdentityVerificationResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identity verification ID"
          },
          "idv_type": {
            "type": "string",
            "description": "Type of verification performed"
          },
          "status": {
            "type": "string",
            "description": "Verification status"
          },
          "overall_match_score": {
            "type": "number",
            "description": "Overall match score"
          },
          "attribute_scores": {
            "type": "object",
            "description": "Match scores for each provided attribute"
          },
          "collection_link": {
            "type": "string",
            "description": "Link for document_verification type to provide to end user"
          },
          "results": {
            "type": "object",
            "description": "Verification results"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RegulatedCriminalReportRequest": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name (required if no profile_id)"
          },
          "last_name": {
            "type": "string",
            "description": "Last name (required if no profile_id)"
          },
          "dob": {
            "type": "string",
            "description": "Date of birth in YYYYMMDD format"
          },
          "profile_id": {
            "type": "string",
            "description": "Reference to existing profile PII"
          },
          "filter_context": {
            "type": "object",
            "description": "Filter context for the report",
            "properties": {
              "candidate_jurisdiction": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string",
                    "description": "State code for candidate jurisdiction"
                  }
                }
              },
              "decider_jurisdiction": {
                "type": "object",
                "properties": {
                  "state": {
                    "type": "string",
                    "description": "State code for decider jurisdiction"
                  }
                }
              }
            }
          },
          "permissible_purpose": {
            "type": "string",
            "description": "Permissible purpose under FCRA (e.g., Employment)"
          }
        }
      },
      "RegulatedCriminalReportStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Report ID"
          },
          "status": {
            "type": "string",
            "description": "Report status (pending, complete, failed)",
            "enum": [
              "pending",
              "complete",
              "failed"
            ]
          }
        }
      },
      "RegulatedCriminalReport": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Report ID"
          },
          "status": {
            "type": "string",
            "description": "Report status",
            "enum": [
              "pending",
              "complete",
              "failed"
            ]
          },
          "check_type": {
            "type": "string",
            "description": "Always instant_criminal_regulated"
          },
          "results": {
            "type": "array",
            "description": "Criminal records found. Empty indicates no records.",
            "items": {
              "type": "object",
              "properties": {
                "person": {
                  "type": "object",
                  "description": "Identifying information for the matched individual"
                },
                "cases": {
                  "type": "array",
                  "description": "Court cases associated with the record",
                  "items": {
                    "type": "object",
                    "properties": {
                      "charges": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "Charge details including offense, sentences, dispositions"
                        }
                      }
                    }
                  }
                },
                "source": {
                  "type": "string",
                  "description": "Data source where the record was found"
                },
                "checks": {
                  "type": "array",
                  "description": "Legal annotation check results",
                  "items": {
                    "type": "object",
                    "properties": {
                      "action_type": {
                        "type": "string",
                        "enum": [
                          "note",
                          "investigate",
                          "remove",
                          "modified"
                        ]
                      },
                      "rule_id": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "run_notes": {
            "type": "array",
            "description": "Informational notes about how input was parsed",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth token management"
    },
    {
      "name": "Profiles",
      "description": "Manage PII profiles for persons to be checked"
    },
    {
      "name": "Checks",
      "description": "Instant criminal checks"
    },
    {
      "name": "Driver Checks",
      "description": "Driver license and motor vehicle report checks"
    },
    {
      "name": "Identity Verifications",
      "description": "Identity verification checks"
    },
    {
      "name": "Regulated Criminal Reports",
      "description": "FCRA-regulated criminal record checks with legal annotation"
    },
    {
      "name": "Regulated Instant Criminal Checks",
      "description": "Regulated instant criminal checks"
    },
    {
      "name": "Regulated County Checks",
      "description": "Regulated county-level criminal checks"
    },
    {
      "name": "Regulated Eviction Checks",
      "description": "Regulated eviction checks"
    },
    {
      "name": "County Checks",
      "description": "County-level criminal checks"
    },
    {
      "name": "Adverse Action",
      "description": "Regulated adverse action management"
    }
  ]
}