{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "support@receptive.io",
      "name": "Feedback Support",
      "x-twitter": "receptiveio"
    },
    "description": "## Who is this for?\n\nThis documentation is for developers creating their own integration with [Feedback's](https://www.pendo.io/product/feedback/) API. If you are doing a standard integration, there's a really easy [Javascript integration](https://help.receptive.io/hc/en-us/articles/209221969-How-to-integrate-Receptive-with-your-app) that you should know about before you go to the effort of building your own integration.\n\n## Authentication\n\nAPI calls generally need to be authenticated. Generate an API Key at https://feedback.pendo.io/app/#/vendor/settings?section=integrate. This key should then be added to every request as a request header named 'auth-token' (preferred), or as a query parameter named 'auth-token'.\n\n## Endpoint\n\nAPI endpoint is https://api.feedback.eu.pendo.io / https://api.feedback.us.pendo.io depending where your datacenter is located.\n\n## Notes\n\nAPI endpoints are being added to this documentation as needed by customers. If you don't see an endpoint you need please contact support and if it exists we'll publish the docs here. The 'try it out' feature on this documentation page will probably be blocked by your browser because the Access-Control-Allow-Origin header has its value set by the Feedback server depending on your hostname.\n\n## Generating client code\n\nThis documentation is automatically generated from an OpenAPI spec available [here](http://apidoc.receptive.io/receptive.swagger.json). You can use Swagger to auto-generate API client code in many languages using the [Swagger Editor](http://editor.swagger.io/#/)",
    "title": "Pendo Feedback API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "ecommerce"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/pendo.io/1.0.0/swagger.json",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_receptiveio_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "http://apidoc.receptive.io/receptive.swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "pendo.io"
  },
  "servers": [
    {
      "url": "https://api.feedback.eu.pendo.io/"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/order_dir"
          },
          {
            "description": "The field to use for sort",
            "in": "query",
            "name": "order_by",
            "required": false,
            "schema": {
              "enum": [
                "churned",
                "last_seen",
                "name"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Query accounts",
        "operationId": "get-accounts",
        "summary": "Query accounts"
      }
    },
    "/accounts/{id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "the deleted Account"
          }
        },
        "tags": [
          "account"
        ],
        "description": "This removes most traces of an Accounts existence from the system.",
        "operationId": "delete-accounts-by-id",
        "summary": "Delete an Account"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "an Account"
          },
          "410": {
            "$ref": "#/components/responses/410"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Get an Account",
        "operationId": "get-accounts-by-id",
        "summary": "Get an Account"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Update an Account",
        "operationId": "put-accounts-by-id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "monthly_value": {
                    "format": "float",
                    "type": "number"
                  },
                  "name": {
                    "type": "string"
                  },
                  "status": {
                    "enum": [
                      "paying",
                      "prospect",
                      "not_paying"
                    ],
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Updated Account values"
        },
        "summary": "Update an Account"
      }
    },
    "/accounts/{id}/tags": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Removes all custom tags associated with the Account",
        "operationId": "delete-accounts-by-id-tags",
        "summary": "Delete custom Account tags"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of maps specifying tags under each tag group, for example:\n\n[\n\n{'impacts' => ['sales']},\n\n{'resources' => ['dev', 'test', 'support']}\n\n]"
          },
          "404": {
            "description": "Account not found"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Get custom Account tags",
        "operationId": "get-accounts-by-id-tags",
        "summary": "Get custom Account tags"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Account tags"
          },
          "404": {
            "description": "Account not found"
          }
        },
        "tags": [
          "account"
        ],
        "description": "Overwrite current custom Account tags with the given tags",
        "operationId": "post-accounts-by-id-tags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tags"
              }
            }
          },
          "description": "An array of maps specifying tags under each tag group, for example:\n\n[\n\n{'impacts' => ['sales']},\n\n{'resources' => ['dev', 'test', 'support']}\n\n]",
          "required": true
        },
        "summary": "Overwrite current custom Account tags with the given tags"
      }
    },
    "/comments": {
      "get": {
        "parameters": [
          {
            "description": "case_id",
            "in": "query",
            "name": "case_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Comment records"
          }
        },
        "tags": [
          "comment"
        ],
        "description": "get a list of Comment records",
        "operationId": "get-comments",
        "summary": "fetch Comment records"
      }
    },
    "/features": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/order_dir"
          },
          {
            "description": "Filter by whether the features are shown/hidden from customer, if supplied.",
            "in": "query",
            "name": "is_private",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filter by User ID, if supplied.",
            "in": "query",
            "name": "wanted_by",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The field to use for sort",
            "in": "query",
            "name": "order_by",
            "required": false,
            "schema": {
              "enum": [
                "title",
                "created_at",
                "updated_at",
                "declined_at",
                "developing_at",
                "planned_at",
                "released_at",
                "waiting_at",
                "deleted_at"
              ],
              "type": "string"
            }
          },
          {
            "description": "Tags to limit results by. Multiple tags can be provided via comma delimeted string. Tags with contexts can be used. E.g. \"....&tags=TagExample,Multi:TagThis,Multi:TagThat\".",
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Products to limit results by. Comma delimeted string of either ids or names. E.g. \"...&products=1,2,3\" or \"...products=Product1,Product2\".",
            "in": "query",
            "name": "products",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Feature"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          }
        },
        "tags": [
          "feature"
        ],
        "description": "Query features",
        "operationId": "get-features",
        "summary": "Query features"
      }
    },
    "/features/{id}": {
      "get": {
        "parameters": [
          {
            "description": "ID of the feature",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feature"
                }
              }
            },
            "description": "ok"
          }
        },
        "tags": [
          "feature"
        ],
        "description": "Get a Feature by ID",
        "operationId": "get-features-by-id",
        "summary": "Get a Feature by ID"
      }
    },
    "/features/{id}/tags": {
      "delete": {
        "parameters": [
          {
            "description": "Feedback's Feature ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        },
        "tags": [
          "feature"
        ],
        "description": "Removes all custom tags associated with the Feature",
        "operationId": "delete-features-by-id-tags",
        "summary": "Delete custom Feature tags"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of maps specifying tags under each tag group, for example:\n\n[\n\n{'impacts' => ['sales']},\n\n{'resources' => ['dev', 'test', 'support']}\n\n]"
          },
          "404": {
            "description": "Feature not found"
          }
        },
        "tags": [
          "feature"
        ],
        "description": "Get custom Feature tags",
        "operationId": "get-features-by-id-tags",
        "summary": "Get custom Feature tags"
      },
      "post": {
        "parameters": [
          {
            "description": "Feedback's Feature ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Feature tags"
          },
          "404": {
            "description": "Feature not found"
          }
        },
        "tags": [
          "feature"
        ],
        "description": "Overwrite current custom Feature tags with the given tags",
        "operationId": "post-features-by-id-tags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tags"
              }
            }
          },
          "required": true
        },
        "summary": "Overwrite current custom Feature tags with the given tags"
      }
    },
    "/health-check/ping": {
      "get": {
        "responses": {
          "200": {
            "description": "API is healthy"
          },
          "503": {
            "description": "Load balancers cannot route a request to a healthy API server"
          }
        },
        "security": [],
        "tags": [
          "system"
        ],
        "description": "Provides a response for automatic checks that the API and load balancers are healthy",
        "operationId": "get-health-check-ping",
        "summary": "Health check for API"
      }
    },
    "/hooks": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfully subscribed to the weebhooks"
          }
        },
        "tags": [
          "hooks"
        ],
        "description": "Use this endpoint to subscribe to webhooks.",
        "operationId": "post-hooks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "event": {
                    "description": "The event field can contain one of the following values-\n1) 'feature_created' - When a new feature is created a webhook will be triggered with the details of the feature. Feature details can be found in the model section under Feature object\n2) 'feature_status_changed' - When a feature status is updated a webhook will be triggered with the updated Feature details. Feature details can be found in the model section under Feature object.\n3) 'feature_comment_created' - When a commment is created on a feature, a webhook will be triggered with the details about the Feature and the new comment. Feature and Comment details can be found in the model section under Feature object and Comment object.",
                    "type": "string"
                  },
                  "target_url": {
                    "description": "The target URL where the events will be sent to.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Subscribe to webhooks"
      }
    },
    "/hooks/unsubscribe": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfully unsubscribed from the weebhooks"
          }
        },
        "tags": [
          "hooks"
        ],
        "description": "Use this endpoint to unsubscribe from a webhook",
        "operationId": "post-hooks-unsubscribe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "target_url": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Unsubscribe from webhooks"
      }
    },
    "/search": {
      "get": {
        "parameters": [
          {
            "description": "Specifies the type of entity being searched for. Must be set to 'feature'",
            "in": "query",
            "name": "scope",
            "required": true,
            "schema": {
              "enum": [
                "feature"
              ],
              "type": "string"
            }
          },
          {
            "description": "The search term.",
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma seperated list of status values to filter by, if required. Valid values: 'new', 'waiting', 'planned', 'developing', 'released', 'declined'.",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "enum": [
                "new",
                "waiting",
                "planned",
                "developing",
                "released",
                "declined"
              ],
              "type": "string"
            }
          },
          {
            "description": "Tags to limit results by - only applies when scope is 'case' or 'feature'. Multiple tags can be provided via comma delimeted string. Tags with contexts can be used. E.g. \"....&tags=TagExample,Multi:TagThis,Multi:TagThat\".",
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Products to limit results by. Comma delimeted string of either ids or names. E.g. \"...&products=1,2,3\" or \"...products=Product1,Product2\".",
            "in": "query",
            "name": "products",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Feature"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Success"
          }
        },
        "tags": [
          "feature"
        ],
        "description": "Search features",
        "operationId": "get-search",
        "summary": "Search features"
      }
    },
    "/users": {
      "get": {
        "parameters": [
          {
            "description": "role",
            "in": "query",
            "name": "role",
            "required": true,
            "schema": {
              "enum": [
                "endUser",
                "vendorUser"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter by Account ID, if supplied. Only useful if role param is endUser",
            "in": "query",
            "name": "account",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Offset to start at",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "default": 0,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Limit the number of records returned. Max value can be 300. If limit is set to more than 300 the api will return an error",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 300,
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/order_by"
          },
          {
            "$ref": "#/components/parameters/order_dir"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/User"
                  },
                  "type": "array"
                }
              }
            },
            "description": "User records"
          }
        },
        "tags": [
          "user"
        ],
        "description": "get a list of User records",
        "operationId": "get-users",
        "summary": "fetch User records"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [
          "user"
        ],
        "description": "Replicates much of the functionality of the widget ping, allowing callers to create or update User records for End Users. If you call this with a new User and/or Account, the record will be created. If you call for an existing User/Account, the record will be updated. You can also call this at EndUser login time, or more frequently, to notify Feedback that the EndUser has been seen. This keeps Feedback's 'last seen' data fresh and updates your reporting. This endpoint is used by our Zapier integration. The only value allowed in user.roles is 'endUser'. The id you supply here for the User and Account should be your own unique id, which Feedback calls external_id. This probably isn't the same as Feedback's id seen elsewhere in the API.",
        "operationId": "post-users",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndUserPing"
              }
            }
          },
          "description": "the account and user",
          "required": true
        },
        "summary": "Ping to create or update an EndUser and Account in one call"
      }
    },
    "/users/invite_end_user": {
      "post": {
        "responses": {
          "200": {
            "description": "success"
          }
        },
        "tags": [
          "user"
        ],
        "description": "Invite an EndUser (customer)",
        "operationId": "post-users-invite-end-user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account_external_id": {
                    "type": "string"
                  },
                  "account_name": {
                    "type": "string"
                  },
                  "account_status": {
                    "enum": [
                      "prospect",
                      "not_paying",
                      "paying"
                    ],
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "monthly_value": {
                    "format": "float",
                    "type": "number"
                  },
                  "send_invite": {
                    "type": "boolean"
                  },
                  "user_external_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "account_status"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Invite an EndUser (customer)"
      }
    },
    "/users/invite_vendor_user": {
      "post": {
        "responses": {
          "200": {
            "description": "success"
          }
        },
        "tags": [
          "user",
          "team"
        ],
        "description": "Invite a VendorUser (Team member)",
        "operationId": "post-users-invite-vendor-user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "external_id": {
                    "type": "string"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "permission_group_id": {
                    "format": "integer",
                    "type": "number"
                  },
                  "team": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "full_name"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Invite a VendorUser (Team member)"
      }
    },
    "/users/search": {
      "get": {
        "parameters": [
          {
            "description": "Find using your external ID, rather than the ID generated by Feedback",
            "in": "query",
            "name": "external_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Find user by their email address. Role param must be specified when using this option",
            "in": "query",
            "name": "email",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Users role ('vendorUser' or 'endUser'). Only useful when finding a user by their email address",
            "in": "query",
            "name": "role",
            "schema": {
              "enum": [
                "endUser",
                "vendorUser"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "the User record"
          },
          "410": {
            "description": "User has been deleted"
          }
        },
        "tags": [
          "user"
        ],
        "description": "Find a User with a query",
        "operationId": "get-users-search",
        "summary": "Find a User with a query"
      }
    },
    "/users/{id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "the deleted User"
          }
        },
        "tags": [
          "user"
        ],
        "description": "This removes most traces of a User's existence from the system. For an EndUser you might want to consider just letting them churn after a period of inactivity.",
        "operationId": "delete-users-by-id",
        "summary": "Delete a User"
      },
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "the User record"
          },
          "410": {
            "description": "User has been deleted"
          }
        },
        "tags": [
          "user"
        ],
        "description": "Get a User record",
        "operationId": "get-users-by-id",
        "summary": "Get a User record"
      },
      "put": {
        "parameters": [
          {
            "description": "Feedback's User ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "updated User"
          }
        },
        "tags": [
          "user"
        ],
        "description": "Update a User",
        "operationId": "put-users-by-id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "external_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "permission_group_id": {
                    "description": "only valid for users with role 'vendorUser'",
                    "format": "integer",
                    "type": "number"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update a User"
      }
    },
    "/users/{id}/tags": {
      "delete": {
        "parameters": [
          {
            "description": "Feedback's User ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success"
          }
        },
        "tags": [
          "user"
        ],
        "description": "Removes all custom tags associated with the User",
        "operationId": "delete-users-by-id-tags",
        "summary": "Delete custom User tags"
      },
      "get": {
        "parameters": [
          {
            "description": "Feedback's User ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of maps specifying tags under each tag group, for example:\n\n[\n\n{'impacts' => ['sales']},\n\n{'resources' => ['dev', 'test', 'support']}\n\n]"
          },
          "404": {
            "description": "User not found"
          }
        },
        "tags": [
          "user"
        ],
        "description": "Get custom User tags",
        "operationId": "get-users-by-id-tags",
        "summary": "Get custom User tags"
      },
      "post": {
        "parameters": [
          {
            "description": "Feedback's User ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated User tags"
          },
          "404": {
            "description": "User not found"
          }
        },
        "tags": [
          "user"
        ],
        "description": "Overwrite current custom User tags with the given tags",
        "operationId": "post-users-by-id-tags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Tags"
              }
            }
          },
          "description": "An array of maps specifying tags under each tag group, for example:\n\n[\n\n{'impacts' => ['sales']},\n\n{'resources' => ['dev', 'test', 'support']}\n\n]",
          "required": true
        },
        "summary": "Overwrite current custom User tags with the given tags"
      }
    },
    "/vendor_users": {
      "post": {
        "responses": {
          "200": {
            "description": "success"
          }
        },
        "tags": [
          "user",
          "team"
        ],
        "description": "the POST /vendor_users is very similar to the POST /users/invite_vendor_user but /vendor_users is intended for consumers to refresh team member data periodically, rather than just a one-off user creation.",
        "operationId": "post-vendor-users",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "external_id": {
                    "type": "string"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "permission_group_id": {
                    "format": "integer",
                    "type": "number"
                  },
                  "team": {
                    "description": "A comma seperated list of teams the user belongs to",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create or update a team member by their external_id"
      }
    },
    "/votes": {
      "get": {
        "parameters": [
          {
            "description": "Include only votes by User that voted on a feature.",
            "in": "query",
            "name": "user_id",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Include only votes for Feature with this Feature ID",
            "in": "query",
            "name": "feature_id",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Include only votes that are positive",
            "in": "query",
            "name": "positive",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Include only votes that are negative",
            "in": "query",
            "name": "negative",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Offset to start at",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          },
          {
            "description": "Limit the number of records returned",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Vote"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Vote records"
          }
        },
        "tags": [
          "votes"
        ],
        "description": "GET /votes",
        "operationId": "get-votes"
      },
      "post": {
        "responses": {
          "200": {
            "description": "Updated votes"
          }
        },
        "tags": [
          "votes"
        ],
        "description": "Automatically subscribes/unsubscribes the User to the specifed feature depending on the quantity value",
        "operationId": "post-votes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "votes": {
                    "items": {
                      "$ref": "#/components/schemas/FeatureVote"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "update specified votes for a User"
      }
    }
  },
  "components": {
    "parameters": {
      "accountIdInPath": {
        "description": "Account ID (generated by Feedback)",
        "in": "path",
        "name": "id",
        "required": true,
        "schema": {
          "type": "number"
        }
      },
      "limit": {
        "description": "Limit the number of records returned",
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "minimum": 0,
          "type": "number"
        }
      },
      "order_by": {
        "description": "The field to use for sort",
        "in": "query",
        "name": "order_by",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "order_dir": {
        "description": "The sort direction",
        "in": "query",
        "name": "order_dir",
        "required": false,
        "schema": {
          "enum": [
            "asc",
            "desc"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Offset to start at",
        "in": "query",
        "name": "start",
        "required": false,
        "schema": {
          "minimum": 0,
          "type": "number"
        }
      }
    },
    "responses": {
      "410": {
        "description": "Resource has been deleted",
        "headers": {
          "status": {
            "schema": {
              "enum": [
                "410"
              ],
              "type": "integer"
            }
          }
        }
      }
    },
    "requestBodies": {
      "Tags": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Tags"
            }
          }
        },
        "description": "An array of maps specifying tags under each tag group, for example:\n\n[\n\n{'impacts' => ['sales']},\n\n{'resources' => ['dev', 'test', 'support']}\n\n]",
        "required": true
      }
    },
    "schemas": {
      "Account": {
        "properties": {
          "created_at": {
            "format": "dateTime",
            "type": "string"
          },
          "external_id": {
            "description": "ID for the Account, provided by the Feedback Customer",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "is_paying": {
            "type": "boolean"
          },
          "monthly_value": {
            "format": "float",
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "AccountWithTags": {
        "properties": {
          "tags": {
            "$ref": "#/components/schemas/Tags"
          },
          "created_at": {
            "format": "dateTime",
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "is_paying": {
            "type": "boolean"
          },
          "monthly_value": {
            "format": "float",
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Comment": {
        "properties": {
          "created_at": {
            "format": "dateTime",
            "type": "string"
          },
          "feature_id": {
            "type": "integer"
          },
          "is_private": {
            "description": "Is this Comment hidden from EndUsers?",
            "type": "boolean"
          },
          "text": {
            "type": "string"
          },
          "updated_at": {
            "format": "dateTime",
            "type": "string"
          },
          "user_id": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "EndUserPing": {
        "properties": {
          "account": {
            "$ref": "#/components/schemas/AccountWithTags"
          },
          "return_url": {
            "type": "string"
          },
          "user": {
            "properties": {
              "tags": {
                "$ref": "#/components/schemas/Tags"
              },
              "allowed_products": {
                "$ref": "#/components/schemas/Products"
              },
              "created_at": {
                "format": "dateTime",
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "full_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "roles": {
                "enum": [
                  "endUser"
                ],
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "Feature": {
        "properties": {
          "tags": {
            "$ref": "#/components/schemas/Tags"
          },
          "app_url": {
            "description": "URL for this Feature",
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "created_by_user_id": {
            "type": "integer"
          },
          "declined_at": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "developing_at": {
            "type": "string"
          },
          "effort": {
            "description": "How much Effort is assigned to the development of this Feature. Not visible to EndUsers",
            "type": "integer"
          },
          "form_entry": {
            "description": "a JSON serialized version of the Form containing the description and other fields for this Feature.",
            "type": "string"
          },
          "id": {
            "type": "number"
          },
          "is_private": {
            "description": "Is this Feature hidden from EndUsers?",
            "type": "boolean"
          },
          "merged_to_feature_id": {
            "description": "If this Feature was merged into another, the ID of the preserved Feature",
            "type": "integer"
          },
          "planned_at": {
            "type": "string"
          },
          "products": {
            "items": {
              "description": "Products associated with this Feature",
              "type": "string"
            },
            "type": "array"
          },
          "released_at": {
            "type": "string"
          },
          "resolution": {
            "description": "The latest Resolution set by the VendorUser",
            "type": "string"
          },
          "resolved_by_user_id": {
            "type": "integer"
          },
          "status": {
            "enum": [
              "new",
              "waiting",
              "planned",
              "developing",
              "released",
              "declined"
            ],
            "type": "string"
          },
          "status_changed_at": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "updated_by_user_id": {
            "type": "integer"
          },
          "uploads": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "vendor_id": {
            "type": "integer"
          },
          "view_count": {
            "description": "How many times has this Feature been viewed. May only be visible to VendorUsers, depending on config",
            "type": "integer"
          },
          "waiting_at": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "FeatureVote": {
        "properties": {
          "feature_id": {
            "type": "string"
          },
          "quantity": {
            "description": "Value between -1 and 1000000. -1 indicates that the User is \"Not Interested\" in the feature.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Products": {
        "description": "Supplied as an array of maps where each map describes an existing or new product e.g [{id:exising_product_id, name:existing name}, {id:new_product_id, name: new product name}]. \nExisting product id/names held in your account can be referenced at https://feedback.pendo.io/app/#/vendor/products",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "Tags": {
        "description": "Tags can contain simple tags or categorised tags. Simple tags are supplied as an array of Strings\nSimple Tag Example:\n['Foo', 'Bar']. \nTo put the tags in categories replace the Strings with maps of using tag category as the key and tag value as the value where value can be array of strings, e.g\nCategorised Tag Example:\n[\n{'Color':['Red', 'Yellow']}, \n{'Flavor':['Cherry']}\n] \nSimple and categorised tags can be mixed in the same array.\nBelow validations are done on the tag values of both simple and categorised tags:\n1. Tag values must be strings\n2. Tags must be at least 2 characters in length\n3. Invalid characters (we dont accept following characters in tag value)  , | { } : < > "
      },
      "User": {
        "properties": {
          "account": {
            "$ref": "#/components/schemas/UserAccount"
          },
          "created_at": {
            "format": "dateTime",
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "roles": {
            "enum": [
              "endUser"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "UserAccount": {
        "properties": {
          "id": {
            "type": "string"
          },
          "monthly_value": {
            "format": "float",
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "enum": [
              "paying",
              "prospect",
              "not_paying"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "Vote": {
        "properties": {
          "created_at": {
            "type": "string"
          },
          "feature_id": {
            "type": "integer"
          },
          "quantity": {
            "description": "A negative number indicates that the User has indicated \"Not Interested\" in a Features. Between 0 and 1000000 is the User's current prioritization of the Feature.",
            "type": "integer"
          },
          "updated_at": {
            "type": "string"
          },
          "user_id": {
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "userApiKey_query_parameter_": {
        "description": "Generate an API Key at https://feedback.pendo.io/app/#/vendor/settings?section=integrate. This key should then be added to every request URL as a query parameter.",
        "in": "query",
        "name": "auth-token",
        "type": "apiKey"
      },
      "userApiKey_request_header_": {
        "description": "Generate an API Key at https://feedback.pendo.io/app/#/vendor/settings?section=integrate. This key should then be added to every request as a request header.",
        "in": "header",
        "name": "auth-token",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "userApiKey_request_header_": []
    },
    {
      "userApiKey_query_parameter_": []
    }
  ],
  "tags": [
    {
      "name": "account"
    },
    {
      "name": "comment"
    },
    {
      "name": "feature"
    },
    {
      "name": "hooks"
    },
    {
      "name": "system"
    },
    {
      "name": "team"
    },
    {
      "name": "user"
    },
    {
      "name": "votes"
    }
  ]
}