{
  "openapi": "3.0.3",
  "info": {
    "title": "Flowte API",
    "version": "1.0.0",
    "description": "Flowte is a single platform to manage sales, staff, HR, payments, marketing, and e-commerce in one place.",
    "x-jentic-source-url": "https://help.flowte.com/portal/en/kb/articles/zapier"
  },
  "servers": [
    {
      "url": "https://flowteapi.flowte.me/prod/zapier",
      "description": "Production server"
    }
  ],
  "paths": {
    "/bookings": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Get Bookings",
        "description": "Returns a list of bookings",
        "operationId": "getBookings",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Booking"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API Key is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/performances": {
      "get": {
        "tags": [
          "Performances"
        ],
        "summary": "Get Performances",
        "description": "Returns a list of booking performances",
        "operationId": "getPerformances",
        "parameters": [
          {
            "name": "booking_id",
            "in": "query",
            "required": true,
            "description": "The ID of the related booking",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Performance"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API Key is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contact": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete Contact",
        "description": "Delete a contact by ID",
        "operationId": "deleteContact",
        "parameters": [
          {
            "name": "contact_id",
            "in": "query",
            "required": true,
            "description": "ID of the contact which needs to be deleted",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API Key is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API Key authentication"
      }
    },
    "schemas": {
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique booking identifier"
          },
          "id_venue": {
            "type": "integer",
            "description": "Identifier of the venue where the booking was created"
          },
          "active": {
            "type": "integer",
            "description": "Indicates if the booking is active (1) or inactive (0)"
          },
          "name": {
            "type": "string",
            "description": "Name of the event associated with the booking"
          },
          "descr": {
            "type": "string",
            "description": "Full HTML description of the booking or event"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time",
            "description": "Last modification timestamp"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the booking page"
          }
        }
      },
      "Performance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique performance identifier"
          },
          "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time of the performance"
          },
          "active": {
            "type": "integer",
            "description": "Indicates if the performance is active (1) or inactive (0)"
          },
          "location": {
            "type": "string",
            "description": "Location name of the performance"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the performance page"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Bookings",
      "description": "Booking management endpoints"
    },
    {
      "name": "Performances",
      "description": "Performance management endpoints"
    },
    {
      "name": "Contacts",
      "description": "Contact management endpoints"
    }
  ]
}