{
  "openapi": "3.0.3",
  "info": {
    "title": "ClickUp API",
    "description": "ClickUp API v2 for managing workspaces, spaces, folders, lists, tasks, comments, time tracking, and more.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://clickup.com/api"
  },
  "servers": [
    {
      "url": "https://api.clickup.com/api/v2"
    }
  ],
  "paths": {
    "/team": {
      "get": {
        "operationId": "getTeams",
        "tags": [
          "Teams"
        ],
        "summary": "Get authorized teams/workspaces",
        "responses": {
          "200": {
            "description": "Teams list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "teams": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/team/{teamId}/space": {
      "get": {
        "operationId": "getSpaces",
        "tags": [
          "Spaces"
        ],
        "summary": "Get spaces in a team",
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdParam"
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spaces list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spaces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Space"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createSpace",
        "tags": [
          "Spaces"
        ],
        "summary": "Create a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpaceCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Space created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/space/{spaceId}": {
      "get": {
        "operationId": "getSpace",
        "tags": [
          "Spaces"
        ],
        "summary": "Get a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Space details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateSpace",
        "tags": [
          "Spaces"
        ],
        "summary": "Update a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpaceCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Space updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Space"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteSpace",
        "tags": [
          "Spaces"
        ],
        "summary": "Delete a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Space deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/space/{spaceId}/folder": {
      "get": {
        "operationId": "getFolders",
        "tags": [
          "Folders"
        ],
        "summary": "Get folders in a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceIdParam"
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Folders list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "folders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Folder"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createFolder",
        "tags": [
          "Folders"
        ],
        "summary": "Create a folder",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/folder/{folderId}": {
      "get": {
        "operationId": "getFolder",
        "tags": [
          "Folders"
        ],
        "summary": "Get a folder",
        "parameters": [
          {
            "$ref": "#/components/parameters/FolderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateFolder",
        "tags": [
          "Folders"
        ],
        "summary": "Update a folder",
        "parameters": [
          {
            "$ref": "#/components/parameters/FolderIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteFolder",
        "tags": [
          "Folders"
        ],
        "summary": "Delete a folder",
        "parameters": [
          {
            "$ref": "#/components/parameters/FolderIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/folder/{folderId}/list": {
      "get": {
        "operationId": "getLists",
        "tags": [
          "Lists"
        ],
        "summary": "Get lists in a folder",
        "parameters": [
          {
            "$ref": "#/components/parameters/FolderIdParam"
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/List"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createList",
        "tags": [
          "Lists"
        ],
        "summary": "Create a list in a folder",
        "parameters": [
          {
            "$ref": "#/components/parameters/FolderIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/list/{listId}": {
      "get": {
        "operationId": "getList",
        "tags": [
          "Lists"
        ],
        "summary": "Get a list",
        "parameters": [
          {
            "$ref": "#/components/parameters/ListIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateList",
        "tags": [
          "Lists"
        ],
        "summary": "Update a list",
        "parameters": [
          {
            "$ref": "#/components/parameters/ListIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteList",
        "tags": [
          "Lists"
        ],
        "summary": "Delete a list",
        "parameters": [
          {
            "$ref": "#/components/parameters/ListIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/list/{listId}/task": {
      "get": {
        "operationId": "getTasks",
        "tags": [
          "Tasks"
        ],
        "summary": "Get tasks in a list",
        "parameters": [
          {
            "$ref": "#/components/parameters/ListIdParam"
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "created",
                "updated",
                "due_date"
              ]
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "subtasks",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "statuses[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "include_closed",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "assignees[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "due_date_gt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "due_date_lt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_created_gt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_created_lt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_updated_gt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_updated_lt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "custom_fields",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tasks list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "tags": [
          "Tasks"
        ],
        "summary": "Create a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/ListIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/task/{taskId}": {
      "get": {
        "operationId": "getTask",
        "tags": [
          "Tasks"
        ],
        "summary": "Get a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          },
          {
            "name": "custom_task_ids",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_subtasks",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateTask",
        "tags": [
          "Tasks"
        ],
        "summary": "Update a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaskCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteTask",
        "tags": [
          "Tasks"
        ],
        "summary": "Delete a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/task/{taskId}/comment": {
      "get": {
        "operationId": "getTaskComments",
        "tags": [
          "Comments"
        ],
        "summary": "Get comments on a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Comments list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTaskComment",
        "tags": [
          "Comments"
        ],
        "summary": "Create a comment on a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment_text"
                ],
                "properties": {
                  "comment_text": {
                    "type": "string"
                  },
                  "assignee": {
                    "type": "integer"
                  },
                  "notify_all": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/task/{taskId}/checklist": {
      "post": {
        "operationId": "createChecklist",
        "tags": [
          "Checklists"
        ],
        "summary": "Create a checklist in a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checklist created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checklist"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/checklist/{checklistId}": {
      "put": {
        "operationId": "updateChecklist",
        "tags": [
          "Checklists"
        ],
        "summary": "Update a checklist",
        "parameters": [
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "position": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checklist updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteChecklist",
        "tags": [
          "Checklists"
        ],
        "summary": "Delete a checklist",
        "parameters": [
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Checklist deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/checklist/{checklistId}/checklist_item": {
      "post": {
        "operationId": "createChecklistItem",
        "tags": [
          "Checklists"
        ],
        "summary": "Create a checklist item",
        "parameters": [
          {
            "name": "checklistId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "assignee": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checklist item created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/team/{teamId}/time_entries": {
      "get": {
        "operationId": "getTimeEntries",
        "tags": [
          "TimeTracking"
        ],
        "summary": "Get time entries",
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdParam"
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TimeEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTimeEntry",
        "tags": [
          "TimeTracking"
        ],
        "summary": "Create a time entry",
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeEntryCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Time entry created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/space/{spaceId}/tag": {
      "get": {
        "operationId": "getSpaceTags",
        "tags": [
          "Tags"
        ],
        "summary": "Get space tags",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Tags list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/task/{taskId}/tag/{tagName}": {
      "post": {
        "operationId": "addTagToTask",
        "tags": [
          "Tags"
        ],
        "summary": "Add a tag to a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          },
          {
            "name": "tagName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag added"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "removeTagFromTask",
        "tags": [
          "Tags"
        ],
        "summary": "Remove a tag from a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          },
          {
            "name": "tagName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag removed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/team/{teamId}/goal": {
      "get": {
        "operationId": "getGoals",
        "tags": [
          "Goals"
        ],
        "summary": "Get goals",
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Goals list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "goals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Goal"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createGoal",
        "tags": [
          "Goals"
        ],
        "summary": "Create a goal",
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoalCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Goal created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/team/{teamId}/webhook": {
      "get": {
        "operationId": "getWebhooks",
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhooks",
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhooks list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/webhook/{webhookId}": {
      "put": {
        "operationId": "updateWebhook",
        "tags": [
          "Webhooks"
        ],
        "summary": "Update a webhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/task/{taskId}/field/{fieldId}": {
      "post": {
        "operationId": "setCustomFieldValue",
        "tags": [
          "CustomFields"
        ],
        "summary": "Set a custom field value on a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Field value set"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "removeCustomFieldValue",
        "tags": [
          "CustomFields"
        ],
        "summary": "Remove a custom field value",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Field value removed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/list/{listId}/member": {
      "get": {
        "operationId": "getListMembers",
        "tags": [
          "Members"
        ],
        "summary": "Get list members",
        "parameters": [
          {
            "$ref": "#/components/parameters/ListIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Members list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/team/{teamId}/task": {
      "get": {
        "operationId": "getFilteredTeamTasks",
        "tags": [
          "Tasks"
        ],
        "summary": "Get filtered team tasks",
        "description": "Get tasks across all lists and spaces in a workspace with optional filters.",
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdParam"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "created",
                "updated",
                "due_date"
              ]
            }
          },
          {
            "name": "reverse",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "subtasks",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "statuses[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "include_closed",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "assignees[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "tags[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "due_date_gt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "due_date_lt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_created_gt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date_created_lt",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/task/{taskId}/dependency": {
      "post": {
        "operationId": "addDependency",
        "tags": [
          "Tasks"
        ],
        "summary": "Add a dependency to a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "depends_on"
                ],
                "properties": {
                  "depends_on": {
                    "type": "string",
                    "description": "Task ID this task depends on"
                  },
                  "dependency_of": {
                    "type": "string",
                    "description": "Task ID that depends on this task"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dependency added"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteDependency",
        "tags": [
          "Tasks"
        ],
        "summary": "Remove a dependency from a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          },
          {
            "name": "depends_on",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dependency_of",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dependency removed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/task/{taskId}/link/{linksTo}": {
      "post": {
        "operationId": "addTaskLink",
        "tags": [
          "Tasks"
        ],
        "summary": "Add a link between two tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          },
          {
            "name": "linksTo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task link added"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteTaskLink",
        "tags": [
          "Tasks"
        ],
        "summary": "Remove a link between two tasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          },
          {
            "name": "linksTo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task link removed"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/team/{teamId}/view": {
      "get": {
        "operationId": "getTeamViews",
        "tags": [
          "Tasks"
        ],
        "summary": "Get workspace-level views",
        "parameters": [
          {
            "$ref": "#/components/parameters/TeamIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Views list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "views": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/list/{listId}/field": {
      "get": {
        "operationId": "getAccessibleCustomFields",
        "tags": [
          "CustomFields"
        ],
        "summary": "Get custom fields available on a list",
        "parameters": [
          {
            "$ref": "#/components/parameters/ListIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom fields list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "type_config": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/user": {
      "get": {
        "operationId": "getAuthorizedUser",
        "tags": [
          "Teams"
        ],
        "summary": "Get the authorized user",
        "responses": {
          "200": {
            "description": "Authorized user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/task/{taskId}/time": {
      "get": {
        "operationId": "getTrackedTime",
        "tags": [
          "TimeTracking"
        ],
        "summary": "Get tracked time for a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Tracked time"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "trackTime",
        "tags": [
          "TimeTracking"
        ],
        "summary": "Track time for a task",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "time"
                ],
                "properties": {
                  "time": {
                    "type": "integer",
                    "description": "Time in milliseconds"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Time tracked"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    },
    "parameters": {
      "TeamIdParam": {
        "name": "teamId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "SpaceIdParam": {
        "name": "spaceId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "FolderIdParam": {
        "name": "folderId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "ListIdParam": {
        "name": "listId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "TaskIdParam": {
        "name": "taskId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          }
        }
      },
      "Space": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Status"
            }
          }
        }
      },
      "SpaceCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "multiple_assignees": {
            "type": "boolean"
          },
          "features": {
            "type": "object"
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "lists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/List"
            }
          }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "due_date": {
            "type": "string"
          },
          "priority": {
            "type": "object"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "task_count": {
            "type": "integer"
          }
        }
      },
      "ListCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "due_date": {
            "type": "integer"
          },
          "priority": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "priority": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "priority": {
                "type": "string"
              }
            }
          },
          "assignees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          },
          "due_date": {
            "type": "string"
          },
          "start_date": {
            "type": "string"
          },
          "time_estimate": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "list": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "project": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              }
            }
          },
          "date_created": {
            "type": "string"
          },
          "date_updated": {
            "type": "string"
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TaskCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "assignees": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          },
          "due_date": {
            "type": "integer"
          },
          "start_date": {
            "type": "integer"
          },
          "time_estimate": {
            "type": "integer"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notify_all": {
            "type": "boolean"
          },
          "parent": {
            "type": "string"
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "value": {}
              }
            }
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "comment_text": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/Member"
          },
          "date": {
            "type": "string"
          }
        }
      },
      "Checklist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "resolved": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "task": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          },
          "user": {
            "$ref": "#/components/schemas/Member"
          },
          "start": {
            "type": "string"
          },
          "end": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          }
        }
      },
      "TimeEntryCreate": {
        "type": "object",
        "required": [
          "start",
          "duration"
        ],
        "properties": {
          "start": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "tid": {
            "type": "string",
            "description": "Task ID"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "tag_fg": {
            "type": "string"
          },
          "tag_bg": {
            "type": "string"
          }
        }
      },
      "Goal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "team_id": {
            "type": "string"
          },
          "date_created": {
            "type": "string"
          },
          "due_date": {
            "type": "string"
          },
          "percent_completed": {
            "type": "number"
          }
        }
      },
      "GoalCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "due_date": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "multiple_owners": {
            "type": "boolean"
          },
          "owners": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userid": {
            "type": "integer"
          },
          "team_id": {
            "type": "integer"
          },
          "endpoint": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string"
          }
        }
      },
      "WebhookCreate": {
        "type": "object",
        "required": [
          "endpoint",
          "events"
        ],
        "properties": {
          "endpoint": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "taskCreated",
                "taskUpdated",
                "taskDeleted",
                "taskPriorityUpdated",
                "taskStatusUpdated",
                "taskAssigneeUpdated",
                "taskDueDateUpdated",
                "taskTagUpdated",
                "taskMoved",
                "taskCommentPosted",
                "taskCommentUpdated",
                "taskTimeEstimateUpdated",
                "taskTimeTrackedUpdated",
                "listCreated",
                "listUpdated",
                "listDeleted",
                "folderCreated",
                "folderUpdated",
                "folderDeleted",
                "spaceCreated",
                "spaceUpdated",
                "spaceDeleted",
                "goalCreated",
                "goalUpdated",
                "goalDeleted",
                "keyResultCreated",
                "keyResultUpdated",
                "keyResultDeleted"
              ]
            }
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "profilePicture": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "err": {
            "type": "string"
          },
          "ECODE": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Authorization",
      "description": "OAuth and token management"
    },
    {
      "name": "Teams",
      "description": "Workspace/team operations"
    },
    {
      "name": "Spaces",
      "description": "Space operations"
    },
    {
      "name": "Folders",
      "description": "Folder operations"
    },
    {
      "name": "Lists",
      "description": "List operations"
    },
    {
      "name": "Tasks",
      "description": "Task operations"
    },
    {
      "name": "Comments",
      "description": "Comment operations"
    },
    {
      "name": "Checklists",
      "description": "Checklist operations"
    },
    {
      "name": "TimeTracking",
      "description": "Time tracking operations"
    },
    {
      "name": "Tags",
      "description": "Tag operations"
    },
    {
      "name": "Goals",
      "description": "Goal operations"
    },
    {
      "name": "Members",
      "description": "Member operations"
    },
    {
      "name": "Webhooks",
      "description": "Webhook operations"
    },
    {
      "name": "CustomFields",
      "description": "Custom field operations"
    }
  ]
}