{
  "openapi": "3.0.3",
  "info": {
    "title": "eye.do - Integrations API",
    "description": "This API is for interacting with eyedo by integrating systems.  \n\nAll `id`s represent `id`s of the integrating system,\nnot the internal `id`.   \nEach `id` can be an\ninteger or a simple, short string, up to 16 characters.\n\n\nThe URL for accessing the API is **http(s)://ext.api.eye.do**.  \nAn `Authorization:` header must begin with \"`Token`\" and\nthen the api key.   \n\nNote that the namings in this API may be\ndifferent than what you are used to. This is because terms are localized for\nyour organization, but not in the api.  \n\nField queries: In\ndevelopment stages you could use `fields=*` to query and\ninvestigate all possible fields. **Do not use `*` in\nproduction**, as this may introduce incompatible changes, or give you\nmegabytes of extra data as fields are added.  \n\nDocumentation for\n`v4` could be found [here](https://www.eye.do/apidocs/ext/v4).  \nDocumentation for `v3` could be found\n[here](https://www.eye.do/apidocs/ext/v3).\n",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "eye.do",
      "url": "http://eye.do",
      "email": "ilan@eye.do"
    },
    "version": "5.0.0",
    "x-jentic-source-url": "https://www.eye.do/apidocs/ext/specs/eyedo-ext.yaml"
  },
  "servers": [
    {
      "url": "https://ext.api.eye.do/v5/"
    }
  ],
  "paths": {
    "/tags": {
      "get": {
        "tags": [
          "tags"
        ],
        "summary": "Fetch all the `tag` items",
        "operationId": "getTagList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "tags"
        ],
        "summary": "Create or update multiple `tag` items",
        "description": "<ul><li><code>id</code> field is required.</li><li>If the <code>id</code> of an item does not exist, a new item with this <code>id</code> will be created.</li><li>It is also possible to send a single item without wrapping in an array. In such a case, the response will also not be wrapped in an array.</li></ul>",
        "operationId": "addOrUpdateTagItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the item"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tags/{id}": {
      "get": {
        "tags": [
          "tags"
        ],
        "summary": "Fetch a `tag` item by id",
        "operationId": "getTagById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be fetched",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "tags"
        ],
        "summary": "Update a specific `tag`.\nYou can specify one or more of the described parameters.",
        "description": "<ul><li>All fields are optional.</li><li>It is possible to change the <code>id</code> of an item, by specifying an <code>id</code> in the body.</li></ul>",
        "operationId": "addOrUpdateTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/Identifier"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the item"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "tags"
        ],
        "summary": "Delete a specific `tag`.",
        "operationId": "deleteTag",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/sectors": {
      "get": {
        "tags": [
          "sectors"
        ],
        "summary": "Fetch all the `sector` items",
        "operationId": "getSectors",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectorResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "sectors"
        ],
        "summary": "Create or update multiple `sector` items",
        "description": "<ul><li><code>id</code> field is required.</li><li>If the <code>id</code> of an item does not exist, a new item with this <code>id</code> will be created.</li><li>It is also possible to send a single item without wrapping in an array. In such a case, the response will also not be wrapped in an array.</li></ul>",
        "operationId": "addOrUpdateSectors",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the item"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/sectors/{id}": {
      "get": {
        "tags": [
          "sectors"
        ],
        "summary": "Fetch a `sector` item by id",
        "operationId": "getSectorById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be fetched",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectorResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "sectors"
        ],
        "summary": "Update a specific `sector`.\nYou can specify one or more of the described parameters.",
        "description": "<ul><li>All fields are optional.</li><li>It is possible to change the <code>id</code> of an item, by specifying an <code>id</code> in the body.</li></ul>",
        "operationId": "addOrUpdateSector",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/Identifier"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the item"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "sectors"
        ],
        "summary": "Delete a specific `sector`.",
        "operationId": "deleteSector",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/agent_groups": {
      "get": {
        "tags": [
          "agent_groups"
        ],
        "summary": "Fetch all the `agent group` items",
        "operationId": "getAgentGroups",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentGroupResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "agent_groups"
        ],
        "summary": "Create or update multiple `agent group` items",
        "description": "<ul><li><code>id</code> field is required.</li><li>If the <code>id</code> of an item does not exist, a new item with this <code>id</code> will be created.</li><li>It is also possible to send a single item without wrapping in an array. In such a case, the response will also not be wrapped in an array.</li></ul>",
        "operationId": "addOrUpdateAgentGroups",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the item"
                    },
                    "is_active": {
                      "type": "boolean",
                      "description": "Is this group active?\nDisabling it will hide tasks for all agents in this group."
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/agent_groups/{id}": {
      "get": {
        "tags": [
          "agent_groups"
        ],
        "summary": "Fetch an `agent group` item by id",
        "operationId": "getAgentGroupById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be fetched",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentGroupResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "agent_groups"
        ],
        "summary": "Update a specific `agent group`.\nYou can specify one or more of the described parameters.",
        "description": "<ul><li>All fields are optional.</li><li>It is possible to change the <code>id</code> of an item, by specifying an <code>id</code> in the body.</li></ul>",
        "operationId": "addOrUpdateAgentGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/Identifier"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the item"
                  },
                  "is_active": {
                    "type": "boolean",
                    "description": "Is this group active?\nDisabling it will hide tasks for all agents in this group."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "agent_groups"
        ],
        "summary": "Delete a specific `agent group`.",
        "operationId": "deleteAgentGroup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/entities/{type_id}": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "Fetch all the `entity` items",
        "operationId": "getEntities",
        "parameters": [
          {
            "name": "type_id",
            "in": "path",
            "description": "ID of the entity type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EntityFetchFieldsEnum"
              }
            }
          },
          {
            "name": "last_change_after",
            "in": "query",
            "description": "Fetch all entities who were created/updated after this timestamp. Use `last_update_time` field to determine the value for next fetch.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "entities"
        ],
        "summary": "Create or update multiple `entity` items",
        "description": "<ul><li><code>id</code> field is required.</li><li>If the <code>id</code> of an item does not exist, a new item with this <code>id</code> will be created.</li><li>It is also possible to send a single item without wrapping in an array. In such a case, the response will also not be wrapped in an array.</li></ul>",
        "operationId": "addOrUpdateEntities",
        "parameters": [
          {
            "name": "type_id",
            "in": "path",
            "description": "ID of the entity type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EntityUpsertRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/entities/{type_id}/{id}": {
      "get": {
        "tags": [
          "entities"
        ],
        "summary": "Fetch an `entity` item by id",
        "operationId": "getEntityById",
        "parameters": [
          {
            "name": "type_id",
            "in": "path",
            "description": "ID of the entity type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be fetched",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/EntityFetchFieldsEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "entities"
        ],
        "summary": "Update a specific `entity`.\nYou can specify one or more of the described parameters.",
        "description": "<ul><li>All fields are optional.</li><li>It is possible to change the <code>id</code> of an item, by specifying an <code>id</code> in the body.</li></ul>",
        "operationId": "addOrUpdateEntity",
        "parameters": [
          {
            "name": "type_id",
            "in": "path",
            "description": "ID of the thentity type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityResult"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "entities"
        ],
        "summary": "Delete a specific `entity`.",
        "operationId": "deleteEntity",
        "parameters": [
          {
            "name": "type_id",
            "in": "path",
            "description": "ID of the entity type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "Fetch all the `project` items",
        "operationId": "getProjects",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ProjectFetchFieldsEnum"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "projects"
        ],
        "summary": "Create or update multiple `project` items, or create a project from a template (passing `template_id`).",
        "description": "<ul><li><code>id</code> field is required.</li><li>If the <code>id</code> of an item does not exist, a new item with this <code>id</code> will be created.</li><li>It is also possible to send a single item without wrapping in an array. In such a case, the response will also not be wrapped in an array.</li></ul>",
        "operationId": "addOrUpdateProjects",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "tags": [
          "projects"
        ],
        "summary": "Fetch a `project` item by id",
        "operationId": "getProjectById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be fetched",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ProjectFetchFieldsEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "projects"
        ],
        "summary": "Update a specific `project`.\nYou can specify one or more of the described parameters.",
        "description": "<ul><li>Most fields are optional, except <code>name</code>.</li><li>It is possible to change the <code>id</code> of an item, by specifying an <code>id</code> in the body.</li></ul>",
        "operationId": "addOrUpdateProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "projects"
        ],
        "summary": "Delete a specific `project`.",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "Fetch all the `task` items",
        "operationId": "getTasks",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TaskFetchFieldsEnum"
              }
            }
          },
          {
            "name": "last_change_after",
            "in": "query",
            "description": "Fetch all tasks who were created/updated after this timestamp. Use `last_update_time` field to determine the value for next fetch.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_on_from",
            "in": "query",
            "description": "Determines a start date for filtering (by creation date). You can specify either `last_change_after` or `created_on_from`+`created_on_to` or `date_from`+`date_to`",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_on_to",
            "in": "query",
            "description": "Determines an end date for filtering (by creation date). You can specify either `last_change_after` or `created_on_from`+`created_on_to` or `date_from`+`date_to`",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Determines a task start date for filtering. You can specify either `last_change_after` or `created_on_from`+`created_on_to` or `date_from`+`date_to`",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Determines a task end date for filtering. You can specify either `last_change_after` or `created_on_from`+`created_on_to` or `date_from`+`date_to`",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "tasks"
        ],
        "summary": "Create or update multiple `task` items, or create a task from a template (passing `template_id`).",
        "description": "<ul><li><code>id</code> field is required.</li><li>If the <code>id</code> of an item does not exist, a new item with this <code>id</code> will be created.</li><li>It is also possible to send a single item without wrapping in an array. In such a case, the response will also not be wrapped in an array.</li></ul>",
        "operationId": "addOrUpdateTasks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tasks/{id}": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "Fetch a `task` item by id",
        "operationId": "getTaskById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be fetched",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TaskFetchFieldsEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "tasks"
        ],
        "summary": "Update a specific `task`.\nYou can specify one or more of the described parameters.",
        "description": "<ul><li>Most fields are optional, except <code>project_id</code>, <code>name</code>, <code>start_date</code>, <code>end_date</code>.</li><li>It is possible to change the <code>id</code> of an item, by specifying an <code>id</code> in the body.</li></ul>",
        "operationId": "addOrUpdateTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "tasks"
        ],
        "summary": "Delete a specific `task`.",
        "operationId": "deleteTask",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "handle_recurrences_in_scope",
            "in": "query",
            "description": "Scope of recurrences to delete (<code>\"this\"</code>, <code>\"this_and_following\"</code>, <code>\"all\"</code>)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/tasks/deleted": {
      "get": {
        "tags": [
          "tasks"
        ],
        "summary": "Fetch information about deleted `task` items",
        "operationId": "getDeletedTasks",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedTaskResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/visits": {
      "get": {
        "tags": [
          "visits"
        ],
        "summary": "Fetch all the `visit` items",
        "operationId": "getVisits",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/VisitFetchFieldsEnum"
              }
            }
          },
          {
            "name": "done_date_after",
            "in": "query",
            "description": "Fetch all visits that were done after this timestamp. Use `done_date_after` field to determine the value for next fetch.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "visits"
        ],
        "summary": "Create or update multiple `visit` items",
        "description": "<ul><li><code>id</code> field is required.</li><li>If the <code>id</code> of an item does not exist, a new item with this <code>id</code> will be created.</li><li>It is also possible to send a single item without wrapping in an array. In such a case, the response will also not be wrapped in an array.</li></ul>",
        "operationId": "addOrUpdateVisits",
        "parameters": [
          {
            "name": "handle_recurrences_in_scope",
            "in": "query",
            "description": "Scope for applying recurrence changes (<code>\"this\"</code>, <code>\"this_and_following\"</code>, <code>\"all\"</code>)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Visit"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/visits/{id}": {
      "get": {
        "tags": [
          "visits"
        ],
        "summary": "Fetch a `visit` item by id",
        "operationId": "getVisitById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be fetched",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/VisitFetchFieldsEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "visits"
        ],
        "summary": "Update a specific `visit`.\nYou can specify one or more of the described parameters.",
        "description": "<ul><li>It is possible to change the <code>id</code> of an item, by specifying an <code>id</code> in the body.</li></ul>",
        "operationId": "addOrUpdateVisit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Visit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "visits"
        ],
        "summary": "Delete a specific `visit`.",
        "operationId": "deleteVisit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/visits/{id}/summary_document_download": {
      "get": {
        "tags": [
          "visits"
        ],
        "summary": "Fetch summary document from visit",
        "operationId": "fetchSummaryDocumentFromVisit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the visit",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "pdf": {}
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Fetch all the users.",
        "operationId": "getUsers",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/UserFetchFieldsEnum"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Insert or update multiple users",
        "description": "<ul><li><code>email</code> field is required.</li><li>If the <code>email</code> of an user does not exist, the user will be created.",
        "operationId": "addOrUpdateUsers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserUpdateRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "daniel@gmail.com"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/users/{email}": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Fetch a single user",
        "operationId": "getUserByEmail",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "Email address of the user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/UserFetchFieldsEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Update a specific user",
        "description": "<ul><li>All fields are optional except <code>email</code>.</li></ul>",
        "operationId": "addOrUpdateUserByEmail",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "Email address of the user to be updated or created",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "daniel@gmail.com"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Delete a specific `user`.",
        "operationId": "deleteUserByEmail",
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "Email address of the user to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "daniel@gmail.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Fetch a single user",
        "operationId": "getUserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user to be fetched",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/UserFetchFieldsEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "users"
        ],
        "summary": "Update a specific user",
        "description": "<ul><li>All fields are optional except <code>id</code>.</li></ul>",
        "operationId": "addOrUpdateUserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "daniel@gmail.com"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "users"
        ],
        "summary": "Delete a specific `user`.",
        "operationId": "deleteUserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "daniel@gmail.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/inventory/items": {
      "get": {
        "tags": [
          "inventory",
          "inventory items"
        ],
        "summary": "Fetch all the items",
        "operationId": "getItems",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InventoryItemFetchFieldsEnum"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryItemResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "inventory",
          "inventory items"
        ],
        "summary": "Insert or update multiple items",
        "description": "<ul><li><code>id</code> field is required.</li><li>If the <code>id</code> of an item does not exist, a new item with this <code>id</code> will be created.</li><li>It is also possible to send a single item without wrapping in an array. In such a case, the response will also not be wrapped in an array.</li></ul>",
        "operationId": "addOrUpdateItems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InventoryItem"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/inventory/items/{id}": {
      "get": {
        "tags": [
          "inventory",
          "inventory items"
        ],
        "summary": "Fetch an item by id",
        "operationId": "getItemById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be fetched",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InventoryItemFetchFieldsEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryItemResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "inventory",
          "inventory items"
        ],
        "summary": "Update a specific item.\nYou can specify one or more of the described parameters",
        "description": "<ul><li>It is possible to change the <code>id</code> of an item, by specifying an <code>id</code> in the body.</li></ul>",
        "operationId": "addOrUpdateItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "inventory",
          "inventory items"
        ],
        "summary": "Delete a specific <code>item</code>.",
        "operationId": "deleteItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the item to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/inventory/categories": {
      "get": {
        "tags": [
          "inventory categories"
        ],
        "summary": "Fetch all the categories",
        "operationId": "getCategories",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InventoryCategoryFetchFieldsEnum"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryCategoryResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "inventory categories"
        ],
        "summary": "Insert or update multiple categories",
        "description": "<ul><li><code>id</code> field is required.</li><li>If the <code>id</code> of a category does not exist, a new category with this <code>id</code> will be created.</li><li>It is also possible to send a single category without wrapping in an array. In such a case, the response will also not be wrapped in an array.</li></ul>",
        "operationId": "addOrUpdateCategories",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InventoryCategory"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/inventory/categories/{id}": {
      "get": {
        "tags": [
          "inventory categories"
        ],
        "summary": "Fetch a category by id",
        "operationId": "getCategoryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the category to be fetched",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InventoryCategoryFetchFieldsEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryCategoryResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "inventory categories"
        ],
        "summary": "Update a specific category.\nYou can specify one or more of the described parameters",
        "description": "<ul><li>It is possible to change the <code>id</code> of a category, by specifying an <code>id</code> in the body.</li></ul>",
        "operationId": "addOrUpdateCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the category to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryCategory"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "inventory categories"
        ],
        "summary": "Delete a specific <code>category</code>.",
        "operationId": "deleteCategory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the category to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/inventory/brands": {
      "get": {
        "tags": [
          "inventory brands"
        ],
        "summary": "Fetch all the brands",
        "operationId": "getBrands",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InventoryBrandFetchFieldsEnum"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryBrandResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "inventory brands"
        ],
        "summary": "Insert or update multiple brands",
        "description": "<ul><li><code>id</code> field is required.</li><li>If the <code>id</code> of a brand does not exist, a new brand with this <code>id</code> will be created.</li><li>It is also possible to send a single brand without wrapping in an array. In such a case, the response will also not be wrapped in an array.</li></ul>",
        "operationId": "addOrUpdateBrands",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InventoryBrand"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/inventory/brands/{id}": {
      "get": {
        "tags": [
          "inventory brands"
        ],
        "summary": "Fetch a brand by id",
        "operationId": "getBrandById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the brand to be fetched",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InventoryBrandFetchFieldsEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryBrandResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "inventory brands"
        ],
        "summary": "Update a specific brand.\nYou can specify one or more of the described parameters",
        "description": "<ul><li>It is possible to change the <code>id</code> of a brand, by specifying an <code>id</code> in the body.</li></ul>",
        "operationId": "addOrUpdateBrand",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the brand to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryBrand"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "inventory brands"
        ],
        "summary": "Delete a specific <code>brand</code>.",
        "operationId": "deleteBrand",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the brand to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Identifier"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/inventory/manufacturers": {
      "get": {
        "tags": [
          "inventory manufacturers"
        ],
        "summary": "Fetch all the manufacturers",
        "operationId": "getManufacturers",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InventoryManufacturerFetchFieldsEnum"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results count",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Get the next results for a query, based on the `after` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Get the previous results for a query, based on the `before` token supplied",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryManufacturerResults"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "inventory manufacturers"
        ],
        "summary": "Insert or update multiple manufacturers",
        "description": "<ul><li><code>id</code> field is required.</li><li>If the <code>id</code> of a manufacturer does not exist, a new manufacturer with this <code>id</code> will be created.</li><li>It is also possible to send a single manufacturer without wrapping in an array. In such a case, the response will also not be wrapped in an array.</li></ul>",
        "operationId": "addOrUpdateManufacturers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InventoryManufacturer"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/inventory/manufacturers/{id}": {
      "get": {
        "tags": [
          "inventory manufacturers"
        ],
        "summary": "Fetch a manufacturer by id",
        "operationId": "getManufacturerById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the manufacturer to be fetched",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Determines which fields to fetch",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InventoryManufacturerFetchFieldsEnum"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryManufacturerResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "tags": [
          "inventory manufacturers"
        ],
        "summary": "Update a specific manufacturer.\nYou can specify one or more of the described parameters",
        "description": "<ul><li>It is possible to change the <code>id</code> of a manufacturer, by specifying an <code>id</code> in the body.</li></ul>",
        "operationId": "addOrUpdateManufacturer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the manufacturer to be updated or created",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryManufacturer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/Identifier"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "inventory manufacturers"
        ],
        "summary": "Delete a specific <code>manufacturer</code>.",
        "operationId": "deleteManufacturer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the manufacturer to be deleted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
[...]
