{
  "openapi": "3.0.3",
  "info": {
    "title": "CloudLayer Document Generation API",
    "version": "2.0.0",
    "description": "The cloudlayer.io API lets you generate PDFs and images from HTML, URLs, and templates. All endpoints follow REST conventions. V2 supports async processing with job management and asset storage.",
    "x-jentic-source-url": "https://cloudlayer.io/docs/api-overview/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.cloudlayer.io/v2",
      "description": "CloudLayer API v2 (async/sync with JSON responses)"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "HTML to PDF",
      "description": "Generate PDFs from raw HTML"
    },
    {
      "name": "URL to PDF",
      "description": "Capture web pages as PDFs"
    },
    {
      "name": "Template to PDF",
      "description": "Generate PDFs from reusable templates"
    },
    {
      "name": "HTML to Image",
      "description": "Generate images from raw HTML"
    },
    {
      "name": "URL to Image",
      "description": "Capture web pages as images"
    },
    {
      "name": "Template to Image",
      "description": "Generate images from reusable templates"
    },
    {
      "name": "Account",
      "description": "Account information and usage"
    },
    {
      "name": "Jobs",
      "description": "Job status and management"
    },
    {
      "name": "Assets",
      "description": "Generated file storage and retrieval"
    }
  ],
  "paths": {
    "/html/pdf": {
      "post": {
        "operationId": "htmlToPdf",
        "summary": "Generate PDF from HTML",
        "description": "Generate a PDF document from raw HTML content. The HTML is sent as a base64-encoded string. By default processes asynchronously, returning a job ID.",
        "tags": [
          "HTML to PDF"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HtmlToPdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created (async) or completed (sync)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/url/pdf": {
      "post": {
        "operationId": "urlToPdf",
        "summary": "Generate PDF from URL",
        "description": "Capture any web page as a PDF document by providing its URL.",
        "tags": [
          "URL to PDF"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlToPdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created (async) or completed (sync)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/template/pdf": {
      "post": {
        "operationId": "templateToPdf",
        "summary": "Generate PDF from template",
        "description": "Generate a PDF document from a reusable template with data merging.",
        "tags": [
          "Template to PDF"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateToPdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created (async) or completed (sync)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/html/image": {
      "post": {
        "operationId": "htmlToImage",
        "summary": "Generate image from HTML",
        "description": "Generate an image (PNG, JPEG, or WebP) from raw HTML content.",
        "tags": [
          "HTML to Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HtmlToImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created (async) or completed (sync)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/url/image": {
      "post": {
        "operationId": "urlToImage",
        "summary": "Generate image from URL",
        "description": "Capture any web page as an image.",
        "tags": [
          "URL to Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlToImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created (async) or completed (sync)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/template/image": {
      "post": {
        "operationId": "templateToImage",
        "summary": "Generate image from template",
        "description": "Generate an image from a reusable template with data merging.",
        "tags": [
          "Template to Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateToImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created (async) or completed (sync)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account information",
        "description": "Returns account details and usage information.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "operationId": "listJobs",
        "summary": "List recent jobs",
        "description": "Returns the 10 most recent jobs, ordered by creation date (newest first).",
        "tags": [
          "Jobs"
        ],
        "responses": {
          "200": {
            "description": "List of recent jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get job status",
        "description": "Returns the status and details of a specific job.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The job ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/assets": {
      "get": {
        "operationId": "listAssets",
        "summary": "List recent assets",
        "description": "Returns the 10 most recent stored assets, ordered by creation date (newest first).",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "List of recent assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetResponse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/assets/{assetId}": {
      "get": {
        "operationId": "getAsset",
        "summary": "Get asset details",
        "description": "Returns details and download URL for a specific stored asset.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "The asset ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteAsset",
        "summary": "Delete an asset",
        "description": "Deletes a stored asset.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "description": "The asset ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key from the cloudlayer.io dashboard"
      }
    },
    "schemas": {
      "BaseGenerationParams": {
        "type": "object",
        "properties": {
          "async": {
            "type": "boolean",
            "default": true,
            "description": "Process asynchronously. Set to false to wait for completion."
          },
          "storage": {
            "type": "boolean",
            "default": true,
            "description": "Store the generated file in cloudlayer.io storage."
          },
          "autoScroll": {
            "type": "boolean",
            "default": false,
            "description": "Scroll the page to trigger lazy-loaded content."
          },
          "delay": {
            "type": "integer",
            "default": 0,
            "description": "Wait time in ms after page load before capture."
          },
          "filename": {
            "type": "string",
            "description": "Content-Disposition filename."
          },
          "timeout": {
            "type": "integer",
            "default": 30000,
            "description": "Max time in ms to wait for page load."
          },
          "waitUntil": {
            "type": "string",
            "enum": [
              "load",
              "domcontentloaded",
              "networkidle0",
              "networkidle2"
            ],
            "description": "When to consider navigation complete."
          },
          "viewPort": {
            "$ref": "#/components/schemas/ViewPort"
          },
          "waitForSelector": {
            "$ref": "#/components/schemas/WaitForSelector"
          },
          "scale": {
            "type": "number",
            "minimum": 0.1,
            "maximum": 2,
            "default": 1,
            "description": "Scale of the web page rendering."
          },
          "timeZone": {
            "type": "string",
            "description": "IANA timezone name for rendering."
          },
          "projectId": {
            "type": "string",
            "description": "Associate with a specific project."
          }
        }
      },
      "PdfParams": {
        "type": "object",
        "properties": {
          "format": {
            "type": "string",
            "default": "letter",
            "description": "Page size (letter, legal, tabloid, a0-a6)."
          },
          "margin": {
            "$ref": "#/components/schemas/Margin"
          },
          "landscape": {
            "type": "boolean",
            "default": false,
            "description": "Landscape orientation."
          },
          "printBackground": {
            "type": "boolean",
            "default": false,
            "description": "Include background colors and images."
          },
          "pageRanges": {
            "type": "string",
            "description": "Page ranges to print, e.g. '1-5, 8'."
          },
          "width": {
            "type": "string",
            "description": "Override page width (CSS units)."
          },
          "height": {
            "type": "string",
            "description": "Override page height (CSS units)."
          },
          "preferCSSPageSize": {
            "type": "boolean",
            "default": false,
            "description": "Use CSS @page size declaration."
          }
        }
      },
      "ImageParams": {
        "type": "object",
        "properties": {
          "imageType": {
            "type": "string",
            "enum": [
              "png",
              "jpg",
              "jpeg",
              "webp",
              "svg"
            ],
            "description": "Output image format."
          },
          "transparent": {
            "type": "boolean",
            "description": "Transparent background (PNG/WebP only)."
          },
          "trim": {
            "type": "boolean",
            "description": "Trim whitespace from edges."
          }
        }
      },
      "HtmlToPdfRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseGenerationParams"
          },
          {
            "$ref": "#/components/schemas/PdfParams"
          },
          {
            "type": "object",
            "required": [
              "html"
            ],
            "properties": {
              "html": {
                "type": "string",
                "description": "Base64-encoded HTML content."
              }
            }
          }
        ]
      },
      "UrlToPdfRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseGenerationParams"
          },
          {
            "$ref": "#/components/schemas/PdfParams"
          },
          {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "description": "URL of the web page to capture."
              }
            }
          }
        ]
      },
      "TemplateToPdfRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseGenerationParams"
          },
          {
            "$ref": "#/components/schemas/PdfParams"
          },
          {
            "type": "object",
            "required": [
              "templateId"
            ],
            "properties": {
              "templateId": {
                "type": "string",
                "description": "ID of the template to use."
              },
              "data": {
                "type": "object",
                "description": "Data to merge into the template."
              }
            }
          }
        ]
      },
      "HtmlToImageRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseGenerationParams"
          },
          {
            "$ref": "#/components/schemas/ImageParams"
          },
          {
            "type": "object",
            "required": [
              "html"
            ],
            "properties": {
              "html": {
                "type": "string",
                "description": "Base64-encoded HTML content."
              }
            }
          }
        ]
      },
      "UrlToImageRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseGenerationParams"
          },
          {
            "$ref": "#/components/schemas/ImageParams"
          },
          {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "description": "URL of the web page to capture."
              }
            }
          }
        ]
      },
      "TemplateToImageRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseGenerationParams"
          },
          {
            "$ref": "#/components/schemas/ImageParams"
          },
          {
            "type": "object",
            "required": [
              "templateId"
            ],
            "properties": {
              "templateId": {
                "type": "string",
                "description": "ID of the template to use."
              },
              "data": {
                "type": "object",
                "description": "Data to merge into the template."
              }
            }
          }
        ]
      },
      "ViewPort": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer",
            "default": 1440,
            "description": "Viewport width in pixels."
          },
          "height": {
            "type": "integer",
            "default": 900,
            "description": "Viewport height in pixels."
          },
          "deviceScaleFactor": {
            "type": "number",
            "default": 1,
            "description": "Device scale factor (DPR)."
          },
          "isMobile": {
            "type": "boolean",
            "default": false,
            "description": "Emulate a mobile device."
          },
          "hasTouch": {
            "type": "boolean",
            "default": false,
            "description": "Enable touch event support."
          },
          "isLandscape": {
            "type": "boolean",
            "default": false,
            "description": "Landscape viewport orientation."
          }
        }
      },
      "WaitForSelector": {
        "type": "object",
        "required": [
          "selector"
        ],
        "properties": {
          "selector": {
            "type": "string",
            "description": "CSS selector to wait for."
          },
          "options": {
            "type": "object",
            "properties": {
              "visible": {
                "type": "boolean",
                "default": false
              },
              "hidden": {
                "type": "boolean",
                "default": false
              },
              "timeout": {
                "type": "integer",
                "default": 30000
              }
            }
          }
        }
      },
      "Margin": {
        "type": "object",
        "properties": {
          "top": {
            "type": "string",
            "default": "0",
            "description": "Top margin (CSS units)."
          },
          "bottom": {
            "type": "string",
            "default": "0",
            "description": "Bottom margin."
          },
          "left": {
            "type": "string",
            "default": "0",
            "description": "Left margin."
          },
          "right": {
            "type": "string",
            "default": "0",
            "description": "Right margin."
          }
        }
      },
      "JobResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Job ID."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "error"
            ],
            "description": "Job status."
          }
        }
      },
      "AssetResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "Download URL for the generated file."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string"
          },
          "callsRemaining": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - malformed or missing required parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded (60 requests per 60 seconds)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
