{
  "openapi": "3.0.3",
  "info": {
    "title": "iCIMS API",
    "description": "The iCIMS Talent Cloud API provides programmatic access to iCIMS recruiting and talent acquisition platform resources including people (candidates/employees), jobs, applicant workflows (applications), users, folders, and assessments. It supports searching, creating, and updating records across the iCIMS system.",
    "version": "1.0.0",
    "contact": {
      "name": "iCIMS Developer Support",
      "email": "developerhelp@icims.com",
      "url": "https://developer-community.icims.com"
    },
    "x-jentic-source-url": "https://developer-community.icims.com"
  },
  "servers": [
    {
      "url": "https://api.icims.com/customers/{customerId}",
      "description": "iCIMS Talent Cloud API server",
      "variables": {
        "customerId": {
          "description": "Your iCIMS customer identifier",
          "default": "0"
        }
      }
    }
  ],
  "paths": {
    "/people": {
      "get": {
        "operationId": "searchPeople",
        "summary": "Search people",
        "description": "Search and retrieve a list of person records (candidates, employees, etc.) based on query parameters.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "searchText",
            "in": "query",
            "description": "Free text search across person fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter by email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of person records matching the search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPerson",
        "summary": "Create a person",
        "description": "Create a new person record (candidate, employee, etc.) in iCIMS.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Person created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "URL of the newly created person resource",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people/{personId}": {
      "get": {
        "operationId": "getPerson",
        "summary": "Get a person",
        "description": "Retrieve a specific person record by their unique identifier.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the person",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The person record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Person not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updatePerson",
        "summary": "Update a person",
        "description": "Partially update an existing person record.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the person",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Person not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "operationId": "searchJobs",
        "summary": "Search jobs",
        "description": "Search and retrieve a list of job requisitions based on query parameters.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "searchText",
            "in": "query",
            "description": "Free text search across job fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by job status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of job records matching the search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createJob",
        "summary": "Create a job",
        "description": "Create a new job requisition in iCIMS.",
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "URL of the newly created job resource",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "operationId": "getJob",
        "summary": "Get a job",
        "description": "Retrieve a specific job requisition by its unique identifier.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the job",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The job record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateJob",
        "summary": "Update a job",
        "description": "Partially update an existing job requisition.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the job",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/applicantworkflows": {
      "get": {
        "operationId": "searchApplications",
        "summary": "Search applications",
        "description": "Search and retrieve a list of applicant workflow (application) records.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "query",
            "description": "Filter by person (candidate) identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "description": "Filter by job identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by application status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of applicant workflow records matching the criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createApplication",
        "summary": "Create an application",
        "description": "Create a new applicant workflow record linking a person to a job.",
        "tags": [
          "Applications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "URL of the newly created application resource",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/applicantworkflows/{workflowId}": {
      "get": {
        "operationId": "getApplication",
        "summary": "Get an application",
        "description": "Retrieve a specific applicant workflow (application) record by its unique identifier.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the applicant workflow",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The applicant workflow record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Applicant workflow not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateApplication",
        "summary": "Update an application",
        "description": "Partially update an existing applicant workflow record.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the applicant workflow",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Applicant workflow not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "searchUsers",
        "summary": "Search users",
        "description": "Search and retrieve a list of iCIMS platform users.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "searchText",
            "in": "query",
            "description": "Free text search across user fields",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of user records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a user",
        "description": "Retrieve a specific iCIMS platform user by their unique identifier.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the user",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The user record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/folders": {
      "get": {
        "operationId": "listFolders",
        "summary": "List folders",
        "description": "Retrieve a list of folders used for organizing records in iCIMS.",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of folder records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FolderList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/folders/{folderId}": {
      "get": {
        "operationId": "getFolder",
        "summary": "Get a folder",
        "description": "Retrieve a specific folder by its unique identifier.",
        "tags": [
          "Folders"
        ],
        "parameters": [
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the folder",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The folder record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Folder not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/assessments": {
      "get": {
        "operationId": "listAssessments",
        "summary": "List assessments",
        "description": "Retrieve a list of candidate assessment records.",
        "tags": [
          "Assessments"
        ],
        "parameters": [
          {
            "name": "personId",
            "in": "query",
            "description": "Filter assessments by person identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "jobId",
            "in": "query",
            "description": "Filter assessments by job identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to skip for pagination",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of assessment records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssessmentList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAssessment",
        "summary": "Create an assessment",
        "description": "Create a new candidate assessment record.",
        "tags": [
          "Assessments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssessmentInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assessment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assessment"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "URL of the newly created assessment resource",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/people": {
      "post": {
        "operationId": "advancedSearchPeople",
        "summary": "Advanced search for people",
        "description": "Perform an advanced search across person records using structured filter criteria.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results containing matching person records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultsPeople"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/jobs": {
      "post": {
        "operationId": "advancedSearchJobs",
        "summary": "Advanced search for jobs",
        "description": "Perform an advanced search across job records using structured filter criteria.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results containing matching job records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultsJobs"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/applicantworkflows": {
      "post": {
        "operationId": "advancedSearchApplications",
        "summary": "Advanced search for applications",
        "description": "Perform an advanced search across applicant workflow records using structured filter criteria.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results containing matching applicant workflow records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultsApplications"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth2 Access Token",
        "description": "OAuth 2.0 Bearer token obtained from the iCIMS authorization server"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error response returned by the iCIMS API",
        "properties": {
          "errorCode": {
            "type": "string",
            "description": "Machine-readable error code"
          },
          "errorMessage": {
            "type": "string",
            "description": "Human-readable error description"
          },
          "details": {
            "type": "array",
            "description": "Additional details about the error",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The field that caused the error"
                },
                "message": {
                  "type": "string",
                  "description": "Detail about the field-level error"
                }
              }
            }
          }
        },
        "required": [
          "errorCode",
          "errorMessage"
        ]
      },
      "Person": {
        "type": "object",
        "description": "A person record representing a candidate, employee, or other individual in iCIMS",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the person"
          },
          "firstname": {
            "type": "string",
            "description": "First name"
          },
          "middlename": {
            "type": "string",
            "description": "Middle name"
          },
          "lastname": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Primary email address"
          },
          "phones": {
            "type": "array",
            "description": "Phone numbers associated with the person",
            "items": {
              "$ref": "#/components/schemas/Phone"
            }
          },
          "addresses": {
            "type": "array",
            "description": "Addresses associated with the person",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "source": {
            "type": "string",
            "description": "How the person was sourced (e.g., career site, referral)"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the person record was created"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date and time when the person record was last updated"
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "Link to this person resource"
          }
        }
      },
      "PersonInput": {
        "type": "object",
        "description": "Input payload for creating or updating a person record",
        "properties": {
          "firstname": {
            "type": "string",
            "description": "First name"
          },
          "middlename": {
            "type": "string",
            "description": "Middle name"
          },
          "lastname": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Primary email address"
          },
          "phones": {
            "type": "array",
            "description": "Phone numbers",
            "items": {
              "$ref": "#/components/schemas/Phone"
            }
          },
          "addresses": {
            "type": "array",
            "description": "Addresses",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "source": {
            "type": "string",
            "description": "How the person was sourced"
          }
        },
        "required": [
          "firstname",
          "lastname",
          "email"
        ]
      },
      "PersonList": {
        "type": "object",
        "description": "Paginated list of person records",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of records matching the query"
          },
          "searchResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          }
        }
      },
      "Job": {
        "type": "object",
        "description": "A job requisition record in iCIMS",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the job"
          },
          "title": {
            "type": "string",
            "description": "Job title"
          },
          "description": {
            "type": "string",
            "description": "Job description (may contain HTML)"
          },
          "jobType": {
            "type": "string",
            "description": "Type of job (e.g., Full-Time, Part-Time, Contract)"
          },
          "status": {
            "type": "string",
            "description": "Current status of the job requisition"
          },
          "department": {
            "type": "string",
            "description": "Department associated with the job"
          },
          "location": {
            "$ref": "#/components/schemas/Address"
          },
          "hiringManager": {
            "type": "string",
            "description": "Identifier of the hiring manager"
          },
          "recruiter": {
            "type": "string",
            "description": "Identifier of the assigned recruiter"
          },
          "numberOpenings": {
            "type": "integer",
            "description": "Number of open positions for this job"
          },
          "postedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the job was posted"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the job record was created"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the job record was last updated"
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "Link to this job resource"
          }
        }
      },
      "JobInput": {
        "type": "object",
        "description": "Input payload for creating or updating a job requisition",
        "properties": {
          "title": {
            "type": "string",
            "description": "Job title"
          },
          "description": {
            "type": "string",
            "description": "Job description"
          },
          "jobType": {
            "type": "string",
            "description": "Type of job"
          },
          "status": {
            "type": "string",
            "description": "Status of the job requisition"
          },
          "department": {
            "type": "string",
            "description": "Department"
          },
          "location": {
            "$ref": "#/components/schemas/Address"
          },
          "hiringManager": {
            "type": "string",
            "description": "Identifier of the hiring manager"
          },
          "recruiter": {
            "type": "string",
            "description": "Identifier of the assigned recruiter"
          },
          "numberOpenings": {
            "type": "integer",
            "description": "Number of open positions"
          }
        },
        "required": [
          "title"
        ]
      },
      "JobList": {
        "type": "object",
        "description": "Paginated list of job records",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of records matching the query"
          },
          "searchResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          }
        }
      },
      "Application": {
        "type": "object",
        "description": "An applicant workflow record linking a person to a job in iCIMS",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the applicant workflow"
          },
          "person": {
            "type": "object",
            "description": "Reference to the associated person",
            "properties": {
              "id": {
                "type": "string"
              },
              "self": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "job": {
            "type": "object",
            "description": "Reference to the associated job",
            "properties": {
              "id": {
                "type": "string"
              },
              "self": {
                "type": "string",
                "format": "uri"
              }
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the application"
          },
          "source": {
            "type": "string",
            "description": "Source of the application"
          },
          "submittedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the application was submitted"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the record was created"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the record was last updated"
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "Link to this application resource"
          }
        }
      },
      "ApplicationInput": {
        "type": "object",
        "description": "Input payload for creating or updating an applicant workflow",
        "properties": {
          "personId": {
            "type": "string",
            "description": "Identifier of the person (candidate)"
          },
          "jobId": {
            "type": "string",
            "description": "Identifier of the job"
          },
          "status": {
            "type": "string",
            "description": "Status of the application"
          },
          "source": {
            "type": "string",
            "description": "Source of the application"
          }
        },
        "required": [
          "personId",
          "jobId"
        ]
      },
      "ApplicationList": {
        "type": "object",
        "description": "Paginated list of applicant workflow records",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of records matching the query"
          },
          "searchResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Application"
            }
          }
        }
      },
      "User": {
        "type": "object",
        "description": "An iCIMS platform user",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the user"
          },
          "firstname": {
            "type": "string",
            "description": "First name"
          },
          "lastname": {
            "type": "string",
            "description": "Last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address"
          },
          "username": {
            "type": "string",
            "description": "Username for login"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the user account is active"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the user was created"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the user was last updated"
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "Link to this user resource"
          }
        }
      },
      "UserList": {
        "type": "object",
        "description": "Paginated list of user records",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of records matching the query"
          },
          "searchResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "Folder": {
        "type": "object",
        "description": "A folder for organizing records in iCIMS",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the folder"
          },
          "name": {
            "type": "string",
            "description": "Folder name"
          },
          "description": {
            "type": "string",
            "description": "Folder description"
          },
          "folderType": {
            "type": "string",
            "description": "Type of folder (e.g., people, jobs)"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the folder was created"
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "Link to this folder resource"
          }
        }
      },
      "FolderList": {
        "type": "object",
        "description": "Paginated list of folder records",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of records matching the query"
          },
          "searchResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Folder"
            }
          }
        }
      },
      "Assessment": {
        "type": "object",
        "description": "A candidate assessment record",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the assessment"
          },
          "personId": {
            "type": "string",
            "description": "Identifier of the assessed person"
          },
          "jobId": {
            "type": "string",
            "description": "Identifier of the associated job"
          },
          "assessmentType": {
            "type": "string",
            "description": "Type of assessment"
          },
          "status": {
            "type": "string",
            "description": "Current status of the assessment"
          },
          "score": {
            "type": "string",
            "description": "Assessment score or result"
          },
          "completedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the assessment was completed"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the assessment record was created"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time",
            "description": "Date the assessment record was last updated"
          },
          "self": {
            "type": "string",
            "format": "uri",
            "description": "Link to this assessment resource"
          }
        }
      },
      "AssessmentInput": {
        "type": "object",
        "description": "Input payload for creating an assessment",
        "properties": {
          "personId": {
            "type": "string",
            "description": "Identifier of the person to assess"
          },
          "jobId": {
            "type": "string",
            "description": "Identifier of the associated job"
          },
          "assessmentType": {
            "type": "string",
            "description": "Type of assessment"
          },
          "status": {
            "type": "string",
            "description": "Initial status of the assessment"
          },
          "score": {
            "type": "string",
            "description": "Assessment score or result"
          }
        },
        "required": [
          "personId",
          "assessmentType"
        ]
      },
      "AssessmentList": {
        "type": "object",
        "description": "Paginated list of assessment records",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of records matching the query"
          },
          "searchResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Assessment"
            }
          }
        }
      },
      "SearchRequest": {
        "type": "object",
        "description": "Structured search request with filters and pagination",
        "properties": {
          "filters": {
            "type": "array",
            "description": "Array of filter conditions",
            "items": {
              "$ref": "#/components/schemas/SearchFilter"
            }
          },
          "operator": {
            "type": "string",
            "description": "Logical operator to combine filters",
            "enum": [
              "&",
              "|"
            ],
            "default": "&"
          },
          "fields": {
            "type": "array",
            "description": "List of field names to return in results",
            "items": {
              "type": "string"
            }
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results to return",
            "minimum": 1,
            "maximum": 100,
            "default": 20
          },
          "offset": {
            "type": "integer",
            "description": "Number of records to skip for pagination",
            "minimum": 0,
            "default": 0
          }
        },
        "required": [
          "filters"
        ]
      },
      "SearchFilter": {
        "type": "object",
        "description": "A single filter condition for search",
        "properties": {
          "name": {
            "type": "string",
            "description": "Field name to filter on"
          },
          "value": {
            "type": "array",
            "description": "Values to match against",
            "items": {
              "type": "string"
            }
          },
          "operator": {
            "type": "string",
            "description": "Comparison operator",
            "enum": [
              "=",
              "!=",
              "<",
              ">",
              "<=",
              ">=",
              "like",
              "in"
            ]
          }
        },
        "required": [
          "name",
          "value"
        ]
      },
      "SearchResultsPeople": {
        "type": "object",
        "description": "Search results containing person records",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of records matching the search"
          },
          "searchResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          }
        }
      },
      "SearchResultsJobs": {
        "type": "object",
        "description": "Search results containing job records",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of records matching the search"
          },
          "searchResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          }
        }
      },
      "SearchResultsApplications": {
        "type": "object",
        "description": "Search results containing applicant workflow records",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of records matching the search"
          },
          "searchResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Application"
            }
          }
        }
      },
      "Phone": {
        "type": "object",
        "description": "A phone number entry",
        "properties": {
          "type": {
            "type": "string",
            "description": "Phone type (e.g., Home, Work, Mobile)"
          },
          "number": {
            "type": "string",
            "description": "Phone number"
          }
        }
      },
      "Address": {
        "type": "object",
        "description": "A physical address",
        "properties": {
          "addressStreet1": {
            "type": "string",
            "description": "Street address line 1"
          },
          "addressStreet2": {
            "type": "string",
            "description": "Street address line 2"
          },
          "addressCity": {
            "type": "string",
            "description": "City"
          },
          "addressState": {
            "type": "string",
            "description": "State or province"
          },
          "addressZip": {
            "type": "string",
            "description": "ZIP or postal code"
          },
          "addressCountry": {
            "type": "string",
            "description": "Country"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "People",
      "description": "Manage candidates, employees, and other person records in iCIMS"
    },
    {
      "name": "Jobs",
      "description": "Manage job requisitions and postings"
    },
    {
      "name": "Applications",
      "description": "Manage applicant workflows (applications linking people to jobs)"
    },
    {
      "name": "Users",
      "description": "Retrieve iCIMS platform user records"
    },
    {
      "name": "Folders",
      "description": "Manage folders for organizing records"
    },
    {
      "name": "Assessments",
      "description": "Manage candidate assessments"
    },
    {
      "name": "Search",
      "description": "Advanced search across people, jobs, and applicant workflows"
    }
  ]
}