{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloud Translation API",
    "version": "3.0.0",
    "description": "Google Cloud Translation API v3 for translating text, detecting languages, listing supported languages, romanizing text, and translating documents.",
    "x-jentic-source-url": "https://cloud.google.com/translate/docs/reference/rest"
  },
  "servers": [
    {
      "url": "https://translate.googleapis.com/v3"
    }
  ],
  "paths": {
    "/projects/{projectId}/locations/{locationId}:translateText": {
      "post": {
        "operationId": "translateText",
        "summary": "Translate text",
        "description": "Translates input text and returns translated text.",
        "tags": [
          "Translation"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Google Cloud project ID"
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location ID (e.g., global)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslateTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslateTextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/projects/{projectId}/locations/{locationId}:detectLanguage": {
      "post": {
        "operationId": "detectLanguage",
        "summary": "Detect language",
        "description": "Detects the language of text within a request.",
        "tags": [
          "Translation"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Google Cloud project ID"
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectLanguageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detection result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectLanguageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}/locations/{locationId}/supportedLanguages": {
      "get": {
        "operationId": "getSupportedLanguages",
        "summary": "Get supported languages",
        "description": "Returns a list of supported languages for translation.",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Google Cloud project ID"
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location ID"
          },
          {
            "name": "displayLanguageCode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language code to display language names in"
          },
          {
            "name": "model",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Model for language support"
          }
        ],
        "responses": {
          "200": {
            "description": "Supported languages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedLanguagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}/locations/{locationId}:romanizeText": {
      "post": {
        "operationId": "romanizeText",
        "summary": "Romanize text",
        "description": "Romanize input text written in non-Latin scripts to Latin text.",
        "tags": [
          "Translation"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Google Cloud project ID"
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RomanizeTextRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Romanized text",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RomanizeTextResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}/locations/{locationId}:translateDocument": {
      "post": {
        "operationId": "translateDocument",
        "summary": "Translate a document",
        "description": "Translates documents in synchronous mode.",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Google Cloud project ID"
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslateDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Translated document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslateDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}/locations/{locationId}:batchTranslateText": {
      "post": {
        "operationId": "batchTranslateText",
        "summary": "Batch translate text",
        "description": "Translates a large volume of text in asynchronous batch mode.",
        "tags": [
          "Batch"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Google Cloud project ID"
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Long-running operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}/locations/{locationId}:batchTranslateDocument": {
      "post": {
        "operationId": "batchTranslateDocument",
        "summary": "Batch translate documents",
        "description": "Translates a large volume of documents in asynchronous batch mode.",
        "tags": [
          "Batch"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Google Cloud project ID"
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Long-running operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/projects/{projectId}/locations/{locationId}:adaptiveMtTranslate": {
      "post": {
        "operationId": "adaptiveMtTranslate",
        "summary": "Adaptive MT translate",
        "description": "Translate text using Adaptive MT.",
        "tags": [
          "Translation"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Google Cloud project ID"
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Location ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "dataset": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Adaptive MT translation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TranslateTextRequest": {
        "type": "object",
        "required": [
          "contents",
          "targetLanguageCode"
        ],
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Text to translate"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type (text/plain or text/html)"
          },
          "sourceLanguageCode": {
            "type": "string",
            "description": "Source language code (BCP-47)"
          },
          "targetLanguageCode": {
            "type": "string",
            "description": "Target language code (BCP-47)"
          },
          "model": {
            "type": "string",
            "description": "Translation model"
          },
          "glossaryConfig": {
            "type": "object",
            "description": "Glossary configuration"
          }
        }
      },
      "TranslateTextResponse": {
        "type": "object",
        "properties": {
          "translations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Translation"
            }
          },
          "glossaryTranslations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Translation"
            }
          }
        }
      },
      "Translation": {
        "type": "object",
        "properties": {
          "translatedText": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "detectedLanguageCode": {
            "type": "string"
          },
          "glossaryConfig": {
            "type": "object"
          }
        }
      },
      "DetectLanguageRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Text to detect language for"
          },
          "mimeType": {
            "type": "string"
          },
          "model": {
            "type": "string"
          }
        }
      },
      "DetectLanguageResponse": {
        "type": "object",
        "properties": {
          "languages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "languageCode": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number",
                  "format": "float"
                }
              }
            }
          }
        }
      },
      "SupportedLanguagesResponse": {
        "type": "object",
        "properties": {
          "languages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "languageCode": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "supportSource": {
                  "type": "boolean"
                },
                "supportTarget": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "RomanizeTextRequest": {
        "type": "object",
        "required": [
          "contents"
        ],
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sourceLanguageCode": {
            "type": "string"
          }
        }
      },
      "RomanizeTextResponse": {
        "type": "object",
        "properties": {
          "romanizations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "romanizedText": {
                  "type": "string"
                },
                "detectedLanguageCode": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TranslateDocumentRequest": {
        "type": "object",
        "required": [
          "targetLanguageCode"
        ],
        "properties": {
          "sourceLanguageCode": {
            "type": "string"
          },
          "targetLanguageCode": {
            "type": "string"
          },
          "documentInputConfig": {
            "type": "object"
          },
          "documentOutputConfig": {
            "type": "object"
          },
          "model": {
            "type": "string"
          },
          "glossaryConfig": {
            "type": "object"
          }
        }
      },
      "TranslateDocumentResponse": {
        "type": "object",
        "properties": {
          "documentTranslation": {
            "type": "object"
          },
          "glossaryDocumentTranslation": {
            "type": "object"
          },
          "model": {
            "type": "string"
          }
        }
      },
      "Operation": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "done": {
            "type": "boolean"
          },
          "error": {
            "type": "object"
          },
          "response": {
            "type": "object"
          },
          "metadata": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/cloud-translation": "Cloud Translation API access",
              "https://www.googleapis.com/auth/cloud-platform": "Full Google Cloud Platform access"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "https://www.googleapis.com/auth/cloud-translation"
      ]
    }
  ]
}