{
  "openapi": "3.0.0",
  "info": {
    "description": "Allows creation and deletion of Azure Shared Dashboards.",
    "title": "portal",
    "version": "2019-01-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/portal/2019-01-01-preview/swagger.json",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-ms-code-generation-settings": {
      "name": "portalClient"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/portal/resource-manager/Microsoft.Portal/preview/2019-01-01-preview/portal.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "portal",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Portal/operations": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceProviderOperationList"
                }
              }
            },
            "description": "Describe the result of a successful operation."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Operations"
        ],
        "description": "The Microsoft Portal operations API.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "List the portal operations": {
            "parameters": {
              "api-version": "2019-01-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "display": {
                        "description": "Reads the dashboards for the subscription.",
                        "operation": "Get Dashboard",
                        "provider": "Microsoft Portal",
                        "resource": "Dashboards"
                      },
                      "isDataAction": "false",
                      "name": "Microsoft.Portal/dashboards/read"
                    },
                    {
                      "display": {
                        "description": "Add or modify dashboard to a subscription.",
                        "operation": "Set Dashboard",
                        "provider": "Microsoft Portal",
                        "resource": "Dashboards"
                      },
                      "isDataAction": "false",
                      "name": "Microsoft.Portal/dashboards/write"
                    },
                    {
                      "display": {
                        "description": "Removes the dashboard from the subscription.",
                        "operation": "Delete Dashboard",
                        "provider": "Microsoft Portal",
                        "resource": "Dashboards"
                      },
                      "isDataAction": "false",
                      "name": "Microsoft.Portal/dashboards/delete"
                    },
                    {
                      "display": {
                        "description": "Registers the subscription for the portal resource provider and enables shared dashboards.",
                        "operation": "Registers the Portal Resource Provider",
                        "provider": "Microsoft Portal",
                        "resource": "Portal Resource Provider"
                      },
                      "isDataAction": "false",
                      "name": "Microsoft.Portal/register/action"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Portal/dashboards": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardListResult"
                }
              }
            },
            "description": "OK - Returns an array of dashboards."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Dashboard"
        ],
        "description": "Gets all the dashboards within a subscription.",
        "operationId": "Dashboards_ListBySubscription",
        "x-ms-examples": {
          "List all custom resource providers on the subscription": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {
                        "aKey": "aValue",
                        "anotherKey": "anotherValue"
                      },
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard",
                      "location": "eastus",
                      "name": "testDashboard",
                      "properties": {
                        "lenses": {
                          "aLens": {
                            "order": 1,
                            "parts": {
                              "aPart": {
                                "position": {
                                  "colSpan": 3,
                                  "rowSpan": 4,
                                  "x": 1,
                                  "y": 2
                                }
                              },
                              "bPart": {
                                "position": {
                                  "colSpan": 6,
                                  "rowSpan": 6,
                                  "x": 5,
                                  "y": 5
                                }
                              }
                            }
                          },
                          "bLens": {
                            "order": 2,
                            "parts": {}
                          }
                        },
                        "metadata": {
                          "metadata": {
                            "ColSpan": 2,
                            "RowSpan": 1,
                            "X": 4,
                            "Y": 3
                          }
                        }
                      },
                      "type": "Microsoft.Portal/dashboards"
                    },
                    {
                      "tags": {
                        "aKey": "aValue",
                        "anotherKey": "anotherValue"
                      },
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard2",
                      "location": "eastus",
                      "name": "testDashboard2",
                      "properties": {
                        "lenses": {
                          "aLens": {
                            "order": 1,
                            "parts": {
                              "aPart": {
                                "position": {
                                  "colSpan": 3,
                                  "rowSpan": 4,
                                  "x": 1,
                                  "y": 2
                                }
                              },
                              "bPart": {
                                "position": {
                                  "colSpan": 6,
                                  "rowSpan": 6,
                                  "x": 5,
                                  "y": 5
                                }
                              }
                            }
                          },
                          "bLens": {
                            "order": 2,
                            "parts": {}
                          }
                        },
                        "metadata": {
                          "metadata": {
                            "ColSpan": 2,
                            "RowSpan": 1,
                            "X": 4,
                            "Y": 3
                          }
                        }
                      },
                      "type": "Microsoft.Portal/dashboards"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardListResult"
                }
              }
            },
            "description": "OK - Returns an array of Dashboards."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Dashboard"
        ],
        "description": "Gets all the Dashboards within a resource group.",
        "operationId": "Dashboards_ListByResourceGroup",
        "x-ms-examples": {
          "List all custom resource providers on the resourceGroup": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "resourceGroupName": "testRG",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "tags": {
                        "aKey": "aValue",
                        "anotherKey": "anotherValue"
                      },
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard",
                      "location": "eastus",
                      "name": "testDashboard",
                      "properties": {
                        "lenses": {
                          "aLens": {
                            "order": 1,
                            "parts": {
                              "aPart": {
                                "position": {
                                  "colSpan": 3,
                                  "rowSpan": 4,
                                  "x": 1,
                                  "y": 2
                                }
                              },
                              "bPart": {
                                "position": {
                                  "colSpan": 6,
                                  "rowSpan": 6,
                                  "x": 5,
                                  "y": 5
                                }
                              }
                            }
                          },
                          "bLens": {
                            "order": 2,
                            "parts": {}
                          }
                        },
                        "metadata": {
                          "metadata": {
                            "ColSpan": 2,
                            "RowSpan": 1,
                            "X": 4,
                            "Y": 3
                          }
                        }
                      },
                      "type": "Microsoft.Portal/dashboards"
                    },
                    {
                      "tags": {
                        "aKey": "aValue",
                        "anotherKey": "anotherValue"
                      },
                      "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard2",
                      "location": "eastus",
                      "name": "testDashboard2",
                      "properties": {
                        "lenses": {
                          "aLens": {
                            "order": 1,
                            "parts": {
                              "aPart": {
                                "position": {
                                  "colSpan": 3,
                                  "rowSpan": 4,
                                  "x": 1,
                                  "y": 2
                                }
                              },
                              "bPart": {
                                "position": {
                                  "colSpan": 6,
                                  "rowSpan": 6,
                                  "x": 5,
                                  "y": 5
                                }
                              }
                            }
                          },
                          "bLens": {
                            "order": 2,
                            "parts": {}
                          }
                        },
                        "metadata": {
                          "metadata": {
                            "ColSpan": 2,
                            "RowSpan": 1,
                            "X": 4,
                            "Y": 3
                          }
                        }
                      },
                      "type": "Microsoft.Portal/dashboards"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards/{dashboardName}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DashboardNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "204": {
            "description": "OK resource was not found."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Dashboard"
        ],
        "description": "Deletes the Dashboard.",
        "operationId": "Dashboards_Delete",
        "x-ms-examples": {
          "Delete a Dashboard": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "dashboardName": "testDashboard",
              "resourceGroupName": "testRG",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DashboardNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Dashboard"
        ],
        "description": "Gets the Dashboard.",
        "operationId": "Dashboards_Get",
        "x-ms-examples": {
          "Get a Dashboard": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "dashboardName": "testDashboard",
              "resourceGroupName": "testRG",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "aKey": "aValue",
                    "anotherKey": "anotherValue"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard",
                  "location": "eastus",
                  "name": "testDashboard",
                  "properties": {
                    "lenses": {
                      "aLens": {
                        "order": 1,
                        "parts": {
                          "aPart": {
                            "position": {
                              "colSpan": 3,
                              "rowSpan": 4,
                              "x": 1,
                              "y": 2
                            }
                          },
                          "bPart": {
                            "position": {
                              "colSpan": 6,
                              "rowSpan": 6,
                              "x": 5,
                              "y": 5
                            }
                          }
                        }
                      },
                      "bLens": {
                        "order": 2,
                        "parts": {}
                      }
                    },
                    "metadata": {
                      "metadata": {
                        "ColSpan": 2,
                        "RowSpan": 1,
                        "X": 4,
                        "Y": 3
                      }
                    }
                  },
                  "type": "Microsoft.Portal/dashboards"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DashboardNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            },
            "description": "OK response definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Dashboard"
        ],
        "description": "Updates an existing Dashboard.",
        "operationId": "Dashboards_Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchableDashboard"
              }
            }
          },
          "description": "The updatable fields of a Dashboard.",
          "required": true
        },
        "x-ms-examples": {
          "Update a Dashboard": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "dashboard": {
                "tags": {
                  "aKey": "bValue",
                  "anotherKey": "anotherValue2"
                }
              },
              "dashboardName": "testDashboard",
              "resourceGroupName": "testRG",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "aKey": "bValue",
                    "anotherKey": "anotherValue2"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard",
                  "location": "eastus",
                  "name": "testDashboard",
                  "properties": {
                    "lenses": {
                      "aLens": {
                        "order": 1,
                        "parts": {
                          "aPart": {
                            "position": {
                              "colSpan": 3,
                              "rowSpan": 4,
                              "x": 1,
                              "y": 2
                            }
                          },
                          "bPart": {
                            "position": {
                              "colSpan": 6,
                              "rowSpan": 6,
                              "x": 5,
                              "y": 5
                            }
                          }
                        }
                      },
                      "bLens": {
                        "order": 2,
                        "parts": {}
                      }
                    },
                    "metadata": {
                      "metadata": {
                        "ColSpan": 2,
                        "RowSpan": 1,
                        "X": 4,
                        "Y": 3
                      }
                    }
                  },
                  "type": "Microsoft.Portal/dashboards"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/components/parameters/DashboardNameParameter"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            },
            "description": "Resource already exists."
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            },
            "description": "Created response definition. Resource has been created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Dashboard"
        ],
        "description": "Creates or updates a Dashboard.",
        "operationId": "Dashboards_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Dashboard"
              }
            }
          },
          "description": "The parameters required to create or update a dashboard.",
          "required": true
        },
        "x-ms-examples": {
          "Create or update a Dashboard": {
            "parameters": {
              "api-version": "2019-01-01-preview",
              "dashboard": {
                "tags": {
                  "aKey": "aValue",
                  "anotherKey": "anotherValue"
                },
                "location": "eastus",
                "properties": {
                  "lenses": {
                    "aLens": {
                      "order": 1,
                      "parts": {
                        "aPart": {
                          "position": {
                            "colSpan": 3,
                            "rowSpan": 4,
                            "x": 1,
                            "y": 2
                          }
                        },
                        "bPart": {
                          "position": {
                            "colSpan": 6,
                            "rowSpan": 6,
                            "x": 5,
                            "y": 5
                          }
                        }
                      }
                    },
                    "bLens": {
                      "order": 2,
                      "parts": {}
                    }
                  },
                  "metadata": {
                    "metadata": {
                      "ColSpan": 2,
                      "RowSpan": 1,
                      "X": 4,
                      "Y": 3
                    }
                  }
                }
              },
              "dashboardName": "testDashboard",
              "resourceGroupName": "testRG",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "aKey": "aValue",
                    "anotherKey": "anotherValue"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard",
                  "location": "eastus",
                  "name": "testDashboard",
                  "properties": {
                    "lenses": {
                      "aLens": {
                        "order": 1,
                        "parts": {
                          "aPart": {
                            "position": {
                              "colSpan": 3,
                              "rowSpan": 4,
                              "x": 1,
                              "y": 2
                            }
                          },
                          "bPart": {
                            "position": {
                              "colSpan": 6,
                              "rowSpan": 6,
                              "x": 5,
                              "y": 5
                            }
                          }
                        }
                      },
                      "bLens": {
                        "order": 2,
                        "parts": {}
                      }
                    },
                    "metadata": {
                      "metadata": {
                        "ColSpan": 2,
                        "RowSpan": 1,
                        "X": 4,
                        "Y": 3
                      }
                    }
                  },
                  "type": "Microsoft.Portal/dashboards"
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "aKey": "aValue",
                    "anotherKey": "anotherValue"
                  },
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRG/providers/Microsoft.Portal/dashboards/testDashboard",
                  "location": "eastus",
                  "name": "testDashboard",
                  "properties": {
                    "lenses": {
                      "aLens": {
                        "order": 1,
                        "parts": {
                          "aPart": {
                            "position": {
                              "colSpan": 3,
                              "rowSpan": 4,
                              "x": 1,
                              "y": 2
                            }
                          },
                          "bPart": {
                            "position": {
                              "colSpan": 6,
                              "rowSpan": 6,
                              "x": 5,
                              "y": 5
                            }
                          }
                        }
                      },
                      "bLens": {
                        "order": 2,
                        "parts": {}
                      }
                    },
                    "metadata": {
                      "metadata": {
                        "ColSpan": 2,
                        "RowSpan": 1,
                        "X": 4,
                        "Y": 3
                      }
                    }
                  },
                  "type": "Microsoft.Portal/dashboards"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "The API version to be used with the HTTP request.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "DashboardNameParameter": {
        "description": "The name of the dashboard.",
        "in": "path",
        "name": "dashboardName",
        "required": true,
        "schema": {
          "maxLength": 64,
          "minLength": 3,
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "ResourceGroupNameParameter": {
        "description": "The name of the resource group.",
        "in": "path",
        "name": "resourceGroupName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "SubscriptionIdParameter": {
        "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Dashboard": {
        "description": "The shared dashboard resource definition.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "id": {
            "description": "Resource Id",
            "readOnly": true,
            "type": "string"
          },
          "location": {
            "description": "Resource location",
            "type": "string",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          },
          "name": {
            "description": "Resource name",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DashboardProperties"
              }
            ],
            "description": "The shared dashboard properties.",
            "x-ms-client-flatten": true
          },
          "type": {
            "description": "Resource type",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "location"
        ],
        "type": "object",
        "x-ms-azure-resource": true,
        "x-ms-client-flatten": true
      },
      "DashboardLens": {
        "description": "A dashboard lens.",
        "properties": {
          "metadata": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "The dashboard len's metadata.",
            "type": "object"
          },
          "order": {
            "description": "The lens order.",
            "type": "integer"
          },
          "parts": {
            "additionalProperties": {
              "$ref": "#/components/schemas/DashboardParts"
            },
            "description": "The dashboard parts.",
            "type": "object"
          }
        },
        "required": [
          "order",
          "parts"
        ],
        "type": "object"
      },
      "DashboardListResult": {
        "description": "List of dashboards.",
        "properties": {
          "nextLink": {
            "description": "The URL to use for getting the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "The array of custom resource provider manifests.",
            "items": {
              "$ref": "#/components/schemas/Dashboard"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "DashboardParts": {
        "description": "A dashboard part.",
        "properties": {
          "metadata": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "The dashboard part's metadata.",
            "type": "object"
          },
          "position": {
            "description": "The dashboard's part position.",
            "properties": {
              "colSpan": {
                "description": "The dashboard's part column span.",
                "type": "number"
              },
              "metadata": {
                "additionalProperties": {
                  "type": "object"
                },
                "description": "The dashboard part's metadata.",
                "type": "object"
              },
              "rowSpan": {
                "description": "The dashboard's part row span.",
                "type": "number"
              },
              "x": {
                "description": "The dashboard's part x coordinate.",
                "type": "number"
              },
              "y": {
                "description": "The dashboard's part y coordinate.",
                "type": "number"
              }
            },
            "required": [
              "x",
              "y",
              "rowSpan",
              "colSpan"
            ],
            "type": "object"
          }
        },
        "required": [
          "position"
        ],
        "type": "object"
      },
      "DashboardProperties": {
        "description": "The shared dashboard properties.",
        "properties": {
          "lenses": {
            "additionalProperties": {
              "$ref": "#/components/schemas/DashboardLens"
            },
            "description": "The dashboard lenses.",
            "type": "object"
          },
          "metadata": {
            "additionalProperties": {
              "type": "object"
            },
            "description": "The dashboard metadata.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "ErrorDefinition": {
        "description": "Error definition.",
        "properties": {
          "code": {
            "description": "Service specific error code which serves as the substatus for the HTTP error code.",
            "readOnly": true,
            "type": "string"
          },
          "details": {
            "description": "Internal error details.",
            "items": {
              "$ref": "#/components/schemas/ErrorDefinition"
            },
            "readOnly": true,
            "type": "array"
          },
          "message": {
            "description": "Description of the error.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "description": "Error response.",
        "properties": {
          "error": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ErrorDefinition"
              }
            ],
            "description": "The error details."
          }
        },
        "type": "object"
      },
      "PatchableDashboard": {
        "description": "The shared dashboard resource definition.",
        "properties": {
          "tags": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags",
            "type": "object"
          },
          "properties": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DashboardProperties"
              }
            ],
            "description": "The shared dashboard properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object",
        "x-ms-azure-resource": true,
        "x-ms-client-flatten": true
      },
      "ResourceProviderOperation": {
        "description": "Supported operations of this resource provider.",
        "properties": {
          "display": {
            "description": "Display metadata associated with the operation.",
            "properties": {
              "description": {
                "description": "Description of this operation.",
                "type": "string"
              },
              "operation": {
                "description": "Type of operation: get, read, delete, etc.",
                "type": "string"
              },
              "provider": {
                "description": "Resource provider: Microsoft Custom Providers.",
                "type": "string"
              },
              "resource": {
                "description": "Resource on which the operation is performed.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "isDataAction": {
            "description": "Indicates whether the operation applies to data-plane.",
            "type": "string"
          },
          "name": {
            "description": "Operation name, in format of {provider}/{resource}/{operation}",
            "type": "string"
          }
        },
        "readOnly": true,
        "type": "object"
      },
      "ResourceProviderOperationList": {
        "description": "Results of the request to list operations.",
        "properties": {
          "nextLink": {
            "description": "The URL to use for getting the next set of results.",
            "type": "string"
          },
          "value": {
            "description": "List of operations supported by this resource provider.",
            "items": {
              "$ref": "#/components/schemas/ResourceProviderOperation"
            },
            "type": "array"
          }
        },
        "readOnly": true,
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}