{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Authorisation and Common Registration",
    "description": "Authorisation and Common Registration related api for both recruiter & candidate",
    "termsOfService": "https://metru.de/terms-and-conditions",
    "contact": {
      "name": "Jupiter Barua",
      "email": "jupiter.barua@metru.de"
    },
    "license": {
      "name": "Metru GMBH"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/jupiter1/Auth_CommonRegistration/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "http://api.metru.at",
      "description": "Staging Server"
    },
    {
      "url": "https://metru.de",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "To log in and get token",
        "responses": {
          "200": {
            "description": "User Type & Token will be sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userType": {
                      "type": "string"
                    },
                    "tokenValue": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "login"
        ],
        "description": "To log in and get token",
        "operationId": "post-login"
      }
    },
    "/logout": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "To log out and destroy the token",
        "responses": {
          "200": {
            "description": "User Type & Token will be sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "logout"
        ],
        "description": "To log out and destroy the token",
        "operationId": "post-logout"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "token"
      }
    }
  },
  "tags": [
    {
      "name": "login"
    },
    {
      "name": "logout"
    }
  ]
}
