{
  "openapi": "3.0.3",
  "info": {
    "title": "Buy Me a Coffee API",
    "version": "1.0.0",
    "description": "Buy Me a Coffee is a creator support platform. The API allows retrieving supporters, members, and extras data. Authentication uses a Bearer token.",
    "x-jentic-source-url": "https://developers.buymeacoffee.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://developers.buymeacoffee.com/api/v1",
      "description": "Buy Me a Coffee API v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Supporters",
      "description": "One-time supporters"
    },
    {
      "name": "Members",
      "description": "Membership/subscription supporters"
    },
    {
      "name": "Extras",
      "description": "Extras purchases"
    }
  ],
  "paths": {
    "/supporters": {
      "get": {
        "operationId": "listSupporters",
        "tags": [
          "Supporters"
        ],
        "summary": "Get all one-time supporters",
        "description": "Returns all one-time supporters and their messages, if any. Results are paginated.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of supporters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportersPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/supporters/{id}": {
      "get": {
        "operationId": "getSupporterById",
        "tags": [
          "Supporters"
        ],
        "summary": "Get a one-time supporter by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unique supporter identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Supporter details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supporter"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a one-time supporter by ID"
      }
    },
    "/subscriptions": {
      "get": {
        "operationId": "listMembers",
        "tags": [
          "Members"
        ],
        "summary": "Get all members (active and inactive)",
        "description": "Returns all members with both active and inactive statuses. Results are paginated.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "active",
                "inactive"
              ]
            },
            "description": "Filter by status"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of members",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembersPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{id}": {
      "get": {
        "operationId": "getMemberById",
        "tags": [
          "Members"
        ],
        "summary": "Get a member by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unique member identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Member details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get a member by ID"
      }
    },
    "/extras": {
      "get": {
        "operationId": "listExtras",
        "tags": [
          "Extras"
        ],
        "summary": "Get all extras purchases",
        "description": "Returns all extras purchases data. Results are paginated.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of extras",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtrasPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/extras/{id}": {
      "get": {
        "operationId": "getExtraById",
        "tags": [
          "Extras"
        ],
        "summary": "Get an extra purchase by ID",
        "description": "Returns data about an extra purchase by its unique ID (same as Purchase ID).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Purchase ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Extra purchase details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtraPurchase"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal access token from Buy Me a Coffee developer settings"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "first_page_url": {
            "type": "string"
          },
          "from": {
            "type": "integer",
            "nullable": true
          },
          "last_page": {
            "type": "integer"
          },
          "last_page_url": {
            "type": "string"
          },
          "next_page_url": {
            "type": "string",
            "nullable": true
          },
          "path": {
            "type": "string"
          },
          "per_page": {
            "type": "integer"
          },
          "prev_page_url": {
            "type": "string",
            "nullable": true
          },
          "to": {
            "type": "integer",
            "nullable": true
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Supporter": {
        "type": "object",
        "properties": {
          "support_id": {
            "type": "integer"
          },
          "support_note": {
            "type": "string",
            "nullable": true
          },
          "support_coffees": {
            "type": "integer",
            "description": "Number of coffees purchased"
          },
          "transaction_id": {
            "type": "string"
          },
          "support_visibility": {
            "type": "integer"
          },
          "support_created_on": {
            "type": "string",
            "format": "date-time"
          },
          "support_updated_on": {
            "type": "string",
            "format": "date-time"
          },
          "transfer_id": {
            "type": "string",
            "nullable": true
          },
          "supporter_name": {
            "type": "string",
            "nullable": true
          },
          "support_coffee_price": {
            "type": "string"
          },
          "support_email": {
            "type": "string",
            "nullable": true
          },
          "is_refunded": {
            "type": "boolean",
            "nullable": true
          },
          "support_currency": {
            "type": "string"
          },
          "referer": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "payer_email": {
            "type": "string",
            "nullable": true
          },
          "payer_name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SupportersPaginatedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Supporter"
                }
              }
            }
          }
        ]
      },
      "Member": {
        "type": "object",
        "properties": {
          "subscription_id": {
            "type": "integer"
          },
          "subscription_cancelled_on": {
            "type": "string",
            "nullable": true
          },
          "subscription_created_on": {
            "type": "string",
            "format": "date-time"
          },
          "subscription_updated_on": {
            "type": "string",
            "format": "date-time"
          },
          "subscription_current_period_start": {
            "type": "string",
            "format": "date-time"
          },
          "subscription_current_period_end": {
            "type": "string",
            "format": "date-time"
          },
          "subscription_coffee_price": {
            "type": "string"
          },
          "subscription_coffee_num": {
            "type": "integer"
          },
          "subscription_is_cancelled": {
            "type": "string",
            "nullable": true
          },
          "subscription_is_cancelled_at_period_end": {
            "type": "string",
            "nullable": true
          },
          "subscription_currency": {
            "type": "string"
          },
          "subscription_message": {
            "type": "string",
            "nullable": true
          },
          "message_visibility": {
            "type": "integer"
          },
          "subscription_duration_type": {
            "type": "string"
          },
          "referer": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "transaction_id": {
            "type": "string"
          },
          "payer_email": {
            "type": "string"
          },
          "payer_name": {
            "type": "string"
          }
        }
      },
      "MembersPaginatedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        ]
      },
      "ExtraPurchase": {
        "type": "object",
        "properties": {
          "purchase_id": {
            "type": "integer"
          },
          "purchased_on": {
            "type": "string",
            "format": "date-time"
          },
          "purchase_updated_on": {
            "type": "string",
            "format": "date-time"
          },
          "purchase_is_revoked": {
            "type": "integer"
          },
          "purchase_amount": {
            "type": "string"
          },
          "purchase_currency": {
            "type": "string"
          },
          "purchase_question": {
            "type": "string",
            "nullable": true
          },
          "payer_email": {
            "type": "string"
          },
          "payer_name": {
            "type": "string"
          },
          "extra": {
            "$ref": "#/components/schemas/ExtraReward"
          }
        }
      },
      "ExtraReward": {
        "type": "object",
        "properties": {
          "reward_id": {
            "type": "integer"
          },
          "reward_title": {
            "type": "string"
          },
          "reward_description": {
            "type": "string"
          },
          "reward_confirmation_message": {
            "type": "string",
            "nullable": true
          },
          "reward_question": {
            "type": "string",
            "nullable": true
          },
          "reward_used": {
            "type": "integer"
          },
          "reward_created_on": {
            "type": "string",
            "format": "date-time"
          },
          "reward_updated_on": {
            "type": "string",
            "format": "date-time"
          },
          "reward_deleted_on": {
            "type": "string",
            "nullable": true
          },
          "reward_is_active": {
            "type": "integer"
          },
          "reward_image": {
            "type": "string",
            "nullable": true
          },
          "reward_slots": {
            "type": "integer"
          },
          "reward_coffee_price": {
            "type": "string"
          },
          "reward_order": {
            "type": "integer"
          }
        }
      },
      "ExtrasPaginatedResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ExtraPurchase"
                }
              }
            }
          }
        ]
      }
    }
  }
}
