{
  "openapi": "3.0.1",
  "info": {
    "title": "Bilförmånsjustering",
    "description": "Mock-API för Skatteverket för Hackathon arrangerat av Skatteverkets innovationsteam 2019",
    "version": "1.4",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Innovationsteam/bilformansjustering/1.4/swagger.json",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.skv-innovation.se/{basePath}",
      "variables": {
        "basePath": {
          "default": "bilformansjustering"
        }
      }
    }
  ],
  "paths": {
    "/bilforman/justering": {
      "post": {
        "summary": "Lämna in förfrågan om justering av bilförmån",
        "requestBody": {
          "description": "This is the input.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/justeringsAnsokan"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "201": {
            "description": "Inlämning av förfrågan om justering av bilförmån inkommen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/justeringsansokanresp"
                }
              }
            }
          },
          "400": {
            "description": "Klientfel",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "bilforman"
        ],
        "description": "Lämna in förfrågan om justering av bilförmån",
        "operationId": "post-bilforman-justering"
      }
    }
  },
  "components": {
    "schemas": {
      "ansokanavseddfor": {
        "required": [
          "bolagsform",
          "from",
          "inkomstar",
          "till",
          "utgivare"
        ],
        "type": "object",
        "properties": {
          "bolagsform": {
            "$ref": "#/components/schemas/bolagsformEnum"
          },
          "inkomstar": {
            "type": "string",
            "description": "Inkomstår."
          },
          "from": {
            "type": "string",
            "description": "Från och med datum justering anses gälla.",
            "format": "date"
          },
          "till": {
            "type": "string",
            "description": "Till vilket datum justering anses sluta gälla.",
            "format": "date"
          }
        }
      },
      "justeringsansokanresp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Det id som tilldelats ansökan.",
            "format": "Int32"
          }
        }
      },
      "formansbil": {
        "required": [
          "modellbeteckning",
          "regnr",
          "tillverklingsar"
        ],
        "type": "object",
        "properties": {
          "regnr": {
            "type": "integer",
            "description": "Det registreringsnummer som tillhör den förmånsbil som ansökan gäller.",
            "format": "Int32"
          },
          "modellbeteckning": {
            "type": "string",
            "description": "Fullständing modellbeteckning för den förmånsbil som ansökan gäller."
          },
          "tillverklingsar": {
            "type": "string",
            "description": "Året då förmånsbilen är tillverkad."
          }
        },
        "description": "Den förmånsbil som ansökan avser gälla."
      },
      "sokande": {
        "required": [
          "adress",
          "efternamn",
          "fornamn",
          "id",
          "postkod",
          "telefonnummer"
        ],
        "type": "object",
        "properties": {
          "fornamn": {
            "type": "string",
            "description": "Förnamn."
          },
          "efternamn": {
            "type": "string",
            "description": "Efternamn."
          },
          "adress": {
            "type": "string",
            "description": "Postadress."
          },
          "postkod": {
            "type": "integer",
            "description": "Postkod.",
            "format": "Int32"
          },
          "id": {
            "type": "integer",
            "description": "Det personnummer, organisationsnummer eller registreringsnummer som ansökan gäller.",
            "format": "Int32"
          },
          "telefonnummer": {
            "type": "integer",
            "description": "Telefonnummer för kontakt.",
            "format": "Int32"
          }
        },
        "description": "Den som ansökan avser."
      },
      "justeringsAnsokan": {
        "required": [
          "datum",
          "formansbilar",
          "skal",
          "sokande",
          "typavansokan"
        ],
        "type": "object",
        "properties": {
          "datum": {
            "type": "string",
            "description": "Datum för inlämning.",
            "format": "date"
          },
          "sokande": {
            "$ref": "#/components/schemas/sokande"
          },
          "ansokanavseddfor": {
            "$ref": "#/components/schemas/ansokanavseddfor"
          },
          "formansbilar": {
            "maxItems": 10,
            "minItems": 1,
            "type": "array",
            "description": "De förmånsbilar som ansökan avser.",
            "items": {
              "$ref": "#/components/schemas/formansbil"
            }
          },
          "motivering": {
            "type": "string",
            "description": "Av vilket skäl en justering skall ske."
          }
        }
      },
      "bolagsformEnum": {
        "type": "string",
        "enum": [
          "utgivare",
          "handelsbolag",
          "naringsidkare"
        ]
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  },
  "tags": [
    {
      "name": "bilforman"
    }
  ]
}