{
  "openapi": "3.0.1",
  "info": {
    "title": "Bilf\u00f6rm\u00e5nsjustering",
    "description": "Mock-API f\u00f6r Skatteverket f\u00f6r Hackathon arrangerat av Skatteverkets innovationsteam 2019",
    "version": "1.4",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Innovationsteam/bilformansjustering/1.4/swagger.json",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.skv-innovation.se/{basePath}",
      "variables": {
        "basePath": {
          "default": "bilformansjustering"
        }
      }
    }
  ],
  "paths": {
    "/bilforman/justering": {
      "post": {
        "summary": "L\u00e4mna in f\u00f6rfr\u00e5gan om justering av bilf\u00f6rm\u00e5n",
        "requestBody": {
          "description": "This is the input.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/justeringsAnsokan"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "201": {
            "description": "Inl\u00e4mning av f\u00f6rfr\u00e5gan om justering av bilf\u00f6rm\u00e5n inkommen.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/justeringsansokanresp"
                }
              }
            }
          },
          "400": {
            "description": "Klientfel",
            "content": {}
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "bilforman"
        ],
        "description": "L\u00e4mna in f\u00f6rfr\u00e5gan om justering av bilf\u00f6rm\u00e5n",
        "operationId": "post-bilforman-justering"
      }
    }
  },
  "components": {
    "schemas": {
      "ansokanavseddfor": {
        "required": [
          "bolagsform",
          "from",
          "inkomstar",
          "till",
          "utgivare"
        ],
        "type": "object",
        "properties": {
          "bolagsform": {
            "$ref": "#/components/schemas/bolagsformEnum"
          },
          "inkomstar": {
            "type": "string",
            "description": "Inkomst\u00e5r."
          },
          "from": {
            "type": "string",
            "description": "Fr\u00e5n och med datum justering anses g\u00e4lla.",
            "format": "date"
          },
          "till": {
            "type": "string",
            "description": "Till vilket datum justering anses sluta g\u00e4lla.",
            "format": "date"
          }
        }
      },
      "justeringsansokanresp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Det id som tilldelats ans\u00f6kan.",
            "format": "Int32"
          }
        }
      },
      "formansbil": {
        "required": [
          "modellbeteckning",
          "regnr",
          "tillverklingsar"
        ],
        "type": "object",
        "properties": {
          "regnr": {
            "type": "integer",
            "description": "Det registreringsnummer som tillh\u00f6r den f\u00f6rm\u00e5nsbil som ans\u00f6kan g\u00e4ller.",
            "format": "Int32"
          },
          "modellbeteckning": {
            "type": "string",
            "description": "Fullst\u00e4nding modellbeteckning f\u00f6r den f\u00f6rm\u00e5nsbil som ans\u00f6kan g\u00e4ller."
          },
          "tillverklingsar": {
            "type": "string",
            "description": "\u00c5ret d\u00e5 f\u00f6rm\u00e5nsbilen \u00e4r tillverkad."
          }
        },
        "description": "Den f\u00f6rm\u00e5nsbil som ans\u00f6kan avser g\u00e4lla."
      },
      "sokande": {
        "required": [
          "adress",
          "efternamn",
          "fornamn",
          "id",
          "postkod",
          "telefonnummer"
        ],
        "type": "object",
        "properties": {
          "fornamn": {
            "type": "string",
            "description": "F\u00f6rnamn."
          },
          "efternamn": {
            "type": "string",
            "description": "Efternamn."
          },
          "adress": {
            "type": "string",
            "description": "Postadress."
          },
          "postkod": {
            "type": "integer",
            "description": "Postkod.",
            "format": "Int32"
          },
          "id": {
            "type": "integer",
            "description": "Det personnummer, organisationsnummer eller registreringsnummer som ans\u00f6kan g\u00e4ller.",
            "format": "Int32"
          },
          "telefonnummer": {
            "type": "integer",
            "description": "Telefonnummer f\u00f6r kontakt.",
            "format": "Int32"
          }
        },
        "description": "Den som ans\u00f6kan avser."
      },
      "justeringsAnsokan": {
        "required": [
          "datum",
          "formansbilar",
          "skal",
          "sokande",
          "typavansokan"
        ],
        "type": "object",
        "properties": {
          "datum": {
            "type": "string",
            "description": "Datum f\u00f6r inl\u00e4mning.",
            "format": "date"
          },
          "sokande": {
            "$ref": "#/components/schemas/sokande"
          },
          "ansokanavseddfor": {
            "$ref": "#/components/schemas/ansokanavseddfor"
          },
          "formansbilar": {
            "maxItems": 10,
            "minItems": 1,
            "type": "array",
            "description": "De f\u00f6rm\u00e5nsbilar som ans\u00f6kan avser.",
            "items": {
              "$ref": "#/components/schemas/formansbil"
            }
          },
          "motivering": {
            "type": "string",
            "description": "Av vilket sk\u00e4l en justering skall ske."
          }
        }
      },
      "bolagsformEnum": {
        "type": "string",
        "enum": [
          "utgivare",
          "handelsbolag",
          "naringsidkare"
        ]
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  },
  "tags": [
    {
      "name": "bilforman"
    }
  ]
}
