{
  "openapi": "3.0.3",
  "info": {
    "title": "Buttondown API",
    "description": "Buttondown is a newsletter platform. The API provides programmatic access to manage subscribers, emails, and tags.",
    "version": "1.0.0",
    "x-jentic-source-url": "http://api.buttondown.email"
  },
  "servers": [
    {
      "url": "https://api.buttondown.com/v1",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/subscribers": {
      "get": {
        "operationId": "listSubscribers",
        "summary": "List subscribers",
        "description": "Retrieve a list of all subscribers.",
        "tags": [
          "Subscribers"
        ],
        "responses": {
          "200": {
            "description": "List of subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscriber"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createSubscriber",
        "summary": "Create a subscriber",
        "description": "Add a new subscriber to the newsletter. By default, triggers double opt-in flow.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "X-Buttondown-Collision-Behavior",
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "overwrite",
                "add"
              ]
            },
            "description": "Behavior when subscriber with same email already exists. 'overwrite' replaces, 'add' merges tags."
          },
          {
            "name": "X-Buttondown-Bypass-Firewall",
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            },
            "description": "Bypass firewall checks for trusted sources. Limited to 5 requests/hour."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriberCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscriber created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or collision detected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscribers/{idOrEmail}": {
      "get": {
        "operationId": "getSubscriber",
        "summary": "Get a subscriber",
        "description": "Retrieve a subscriber by ID or email address.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "idOrEmail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Subscriber ID (UUID) or email address"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Subscriber not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSubscriber",
        "summary": "Update a subscriber",
        "description": "Update subscriber details.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "idOrEmail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Subscriber ID (UUID) or email address"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriberUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteSubscriber",
        "summary": "Delete a subscriber",
        "description": "Remove a subscriber from the newsletter.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "idOrEmail",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Subscriber ID (UUID) or email address"
          }
        ],
        "responses": {
          "204": {
            "description": "Subscriber deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Subscriber not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/emails": {
      "get": {
        "operationId": "listEmails",
        "summary": "List emails",
        "description": "Retrieve a list of all emails/newsletters.",
        "tags": [
          "Emails"
        ],
        "responses": {
          "200": {
            "description": "List of emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Email"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createEmail",
        "summary": "Create an email",
        "description": "Create a new email/newsletter. Buttondown automatically detects Markdown or HTML content.",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "name": "X-Buttondown-Live-Dangerously",
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "true"
              ]
            },
            "description": "Set to true if body starts with YAML frontmatter (---)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Email created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g., body_contains_frontmatter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/emails/{id}": {
      "get": {
        "operationId": "getEmail",
        "summary": "Get an email",
        "description": "Retrieve a specific email by ID.",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Email details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Email not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateEmail",
        "summary": "Update an email",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteEmail",
        "summary": "Delete an email",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Email deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "description": "Retrieve a list of all tags.",
        "tags": [
          "Tags"
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Create a tag",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/tags/{id}": {
      "get": {
        "operationId": "getTag",
        "summary": "Get a tag",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTag",
        "summary": "Update a tag",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteTag",
        "summary": "Delete a tag",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tag ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Tag deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token-based auth. Format: 'Token YOUR_API_KEY'. Get your key at https://buttondown.com/requests"
      }
    },
    "schemas": {
      "Subscriber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Subscriber ID"
          },
          "email_address": {
            "type": "string",
            "format": "email",
            "description": "Subscriber email"
          },
          "type": {
            "type": "string",
            "description": "Subscriber type (e.g., regular, unactivated)"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of tag names"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time",
            "description": "When the subscriber was created"
          },
          "notes": {
            "type": "string",
            "description": "Notes about the subscriber"
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata"
          }
        }
      },
      "SubscriberCreateRequest": {
        "type": "object",
        "required": [
          "email_address"
        ],
        "properties": {
          "email_address": {
            "type": "string",
            "format": "email",
            "description": "Subscriber email address"
          },
          "type": {
            "type": "string",
            "enum": [
              "regular"
            ],
            "description": "Set to 'regular' to bypass double opt-in"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags to assign; creates new tags if they don't exist"
          },
          "ip_address": {
            "type": "string",
            "description": "Subscriber IP for spam validation and location"
          },
          "notes": {
            "type": "string",
            "description": "Notes about the subscriber"
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata"
          }
        }
      },
      "SubscriberUpdateRequest": {
        "type": "object",
        "properties": {
          "email_address": {
            "type": "string",
            "format": "email"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "Email": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Email ID"
          },
          "subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "body": {
            "type": "string",
            "description": "Email body content (Markdown or HTML)"
          },
          "status": {
            "type": "string",
            "description": "Email status (draft, scheduled, sent)"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time"
          },
          "publish_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "EmailCreateRequest": {
        "type": "object",
        "required": [
          "subject",
          "body"
        ],
        "properties": {
          "subject": {
            "type": "string",
            "description": "Email subject line"
          },
          "body": {
            "type": "string",
            "description": "Email body (Markdown or HTML, auto-detected)"
          }
        }
      },
      "EmailUpdateRequest": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Tag ID"
          },
          "name": {
            "type": "string",
            "description": "Tag name"
          },
          "creation_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TagCreateRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Tag name"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "detail": {
            "type": "string",
            "description": "Error detail message"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - missing or invalid API token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Subscribers",
      "description": "Subscriber management"
    },
    {
      "name": "Emails",
      "description": "Email/newsletter management"
    },
    {
      "name": "Tags",
      "description": "Tag management"
    }
  ]
}