{
  "openapi": "3.0.3",
  "info": {
    "title": "Didit Verification API",
    "description": "Didit identity verification API for creating and managing verification sessions. Supports ID verification, liveness checks, face matching, NFC verification, AML screening, and more.",
    "version": "3.0.0",
    "x-jentic-source-url": "https://didit.me/v2/api-docs"
  },
  "servers": [
    {
      "url": "https://verification.didit.me",
      "description": "Didit Verification API"
    }
  ],
  "paths": {
    "/v3/session/": {
      "post": {
        "operationId": "createSession",
        "summary": "Create verification session",
        "description": "Generate a URL for a specific workflow where users can start verifying their identity.",
        "tags": [
          "Sessions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - insufficient credits or invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v3/session/{sessionId}/decision/": {
      "get": {
        "operationId": "getSessionDecision",
        "summary": "Retrieve session decision",
        "description": "Retrieve complete verification session results including identity decisions, extracted document data, liveness scores, and processing status.",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier of the verification session"
          }
        ],
        "responses": {
          "200": {
            "description": "Session decision retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionDecision"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Session not found"
          }
        }
      }
    },
    "/v3/sessions": {
      "get": {
        "operationId": "listSessions",
        "summary": "List verification sessions",
        "description": "Retrieve verification sessions with optional filtering.",
        "tags": [
          "Sessions"
        ],
        "parameters": [
          {
            "name": "vendor_data",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by vendor data identifier (UUID, email, etc.)"
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by ISO 3166-1 alpha-3 country code of ID document"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by verification session status"
          },
          {
            "name": "workflow_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by workflow identifier"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of items to skip"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Maximum number of items to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Didit API key"
      }
    },
    "schemas": {
      "CreateSessionRequest": {
        "type": "object",
        "required": [
          "workflow_id"
        ],
        "properties": {
          "workflow_id": {
            "type": "string",
            "description": "The verification workflow identifier"
          },
          "vendor_data": {
            "type": "string",
            "description": "Unique identifier for user/vendor tracking"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Redirect URL after verification (appends verificationSessionId and status parameters)"
          },
          "callback_method": {
            "type": "string",
            "enum": [
              "initiator",
              "completer",
              "both"
            ],
            "description": "Device handling redirect method"
          },
          "metadata": {
            "type": "string",
            "description": "Additional session data not displayed to users"
          },
          "language": {
            "type": "string",
            "description": "ISO 639-1 language code"
          },
          "contact_details": {
            "$ref": "#/components/schemas/ContactDetails"
          },
          "expected_details": {
            "$ref": "#/components/schemas/ExpectedDetails"
          },
          "portrait_image": {
            "type": "string",
            "description": "Base64-encoded face image (max 1MB) for biometric workflows"
          }
        }
      },
      "ContactDetails": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string",
            "description": "Phone number in E.164 format"
          },
          "notify": {
            "type": "boolean",
            "description": "Whether to send notifications"
          }
        }
      },
      "ExpectedDetails": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "nationality": {
            "type": "string"
          },
          "id_number": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "CreateSessionResponse": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "format": "uuid"
          },
          "session_number": {
            "type": "string"
          },
          "session_token": {
            "type": "string"
          },
          "vendor_data": {
            "type": "string"
          },
          "metadata": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "workflow_id": {
            "type": "string"
          },
          "callback": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL where the user can complete verification"
          }
        }
      },
      "SessionDecision": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "format": "uuid"
          },
          "session_number": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "workflow_id": {
            "type": "string"
          },
          "vendor_data": {
            "type": "string"
          },
          "features": {
            "type": "object",
            "description": "Enabled features and their statuses"
          },
          "id_verification": {
            "type": "object",
            "description": "ID verification results with document data and images"
          },
          "liveness": {
            "type": "object",
            "description": "Liveness check outcomes with scores"
          },
          "face_matching": {
            "type": "object",
            "description": "Face matching results"
          },
          "aml_screening": {
            "type": "object",
            "description": "AML screening findings"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SessionList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total sessions matching filters"
          },
          "next": {
            "type": "string",
            "nullable": true,
            "description": "Pagination link to next page"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "Pagination link to previous page"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionSummary"
            }
          }
        }
      },
      "SessionSummary": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "format": "uuid"
          },
          "session_number": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "vendor_data": {
            "type": "string"
          },
          "workflow_id": {
            "type": "string"
          },
          "workflow_label": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "document_type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "email": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Sessions",
      "description": "Verification session operations"
    }
  ]
}