{
  "openapi": "3.0.3",
  "info": {
    "title": "eSewa ePay API",
    "version": "2.0.0",
    "description": "eSewa payment gateway API for Nepal. Enables merchants to accept payments through eSewa digital wallet.",
    "x-jentic-source-url": "https://developer.esewa.com.np/pages/Epay",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://epay.esewa.com.np",
      "description": "Production"
    },
    {
      "url": "https://rc-epay.esewa.com.np",
      "description": "Testing/Sandbox"
    }
  ],
  "paths": {
    "/api/epay/main/v2/form": {
      "post": {
        "operationId": "initiatePayment",
        "summary": "Initiate a payment",
        "description": "Submit a payment form to initiate a transaction through eSewa.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment initiated, redirects to eSewa"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/epay/transaction/status": {
      "get": {
        "operationId": "getTransactionStatus",
        "summary": "Check transaction status",
        "description": "Enquire about the status of a previously initiated transaction.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "product_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Merchant code"
          },
          {
            "name": "total_amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Transaction amount"
          },
          {
            "name": "transaction_uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique transaction ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentRequest": {
        "type": "object",
        "required": [
          "amount",
          "tax_amount",
          "total_amount",
          "transaction_uuid",
          "product_code",
          "product_service_charge",
          "product_delivery_charge",
          "success_url",
          "failure_url",
          "signed_field_names",
          "signature"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "description": "Product cost"
          },
          "tax_amount": {
            "type": "number",
            "description": "Tax applied"
          },
          "total_amount": {
            "type": "number",
            "description": "Sum of all charges"
          },
          "transaction_uuid": {
            "type": "string",
            "description": "Unique alphanumeric identifier"
          },
          "product_code": {
            "type": "string",
            "description": "Merchant code"
          },
          "product_service_charge": {
            "type": "number"
          },
          "product_delivery_charge": {
            "type": "number"
          },
          "success_url": {
            "type": "string",
            "format": "uri"
          },
          "failure_url": {
            "type": "string",
            "format": "uri"
          },
          "signed_field_names": {
            "type": "string"
          },
          "signature": {
            "type": "string",
            "description": "HMAC-SHA256 base64 hash"
          }
        }
      },
      "TransactionStatusResponse": {
        "type": "object",
        "properties": {
          "product_code": {
            "type": "string"
          },
          "transaction_uuid": {
            "type": "string"
          },
          "total_amount": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "COMPLETE",
              "FULL_REFUND",
              "PARTIAL_REFUND",
              "AMBIGUOUS",
              "NOT_FOUND",
              "CANCELED"
            ]
          },
          "ref_id": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "HmacSignature": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "HMAC-SHA256 signature-based authentication"
      }
    }
  },
  "security": [
    {
      "HmacSignature": []
    }
  ],
  "tags": [
    {
      "name": "Payments"
    }
  ]
}
