{
  "openapi": "3.0.3",
  "info": {
    "title": "Regional API GetNet",
    "contact": {},
    "version": "1.0.4",
    "description": "Welcome to GetNet. This API enables your company to integrate with the GetNet Regional API and leverage top-tier payment solutions. GetNet provides secure and efficient services for processing e-commerce transactions, allowing merchants to accept credit, debit, and bank cards seamlessly in their virtual stores. In addition to payment processing, GetNet offers safe, recurring, anti-fraud, conciliator services and other features designed to support your business with speed and security.<br><br>**Overview (What You’ll Find in This Documentation)**<br>This section provides an overview of the Regional API’s key functionalities. It covers authentication methods, base URL configuration, and available endpoints for processing payments, managing subscriptions, handling installments, and performing card operations. Additionally, it details transaction queries, post-sale processes such as cancellations and refunds, and 3D Secure authentication. Use this documentation to understand the structure and behavior of each API request and response.<br><br>",
    "x-jentic-source-url": "https://docs.globalgetnet.com/en/products/online-payments/regional-api/swagger"
  },
  "servers": [
    {
      "url": "https://api.pre.globalgetnet.com"
    },
    {
      "url": "https://api-sbx.globalgetnet.com"
    },
    {
      "url": "https://api.globalgetnet.com"
    }
  ],
  "paths": {
    "/authentication/oauth2/access_token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authentication Token",
        "description": "__Authentication__<br><br>All transactions are authenticated using a Bearer token generated through the OAuth 2.0 protocol. To obtain a token, clients must send a request to the authentication endpoint using their `client_id` and `client_secret` (click <a href='https://docs.globalgetnet.com/es/articles/api-keys'>here</a> to see how to generate your credentials). To authenticate this request, you must pass the Base64-encoded string of `client_id:client_secret` in the `Authorization` header. The generated access token must be included in the `Authorization` header of each API request, ensuring secure and controlled access to the API.<br><br>__Usage__<br><br>Once the token is obtained, include it in the Authorization header of your API requests as follows:<br>`Authorization: Bearer {access_token}`<br><br>__Token Expiration & Renewal__<br>- The token is valid for the duration specified in `expires_in` (usually 3599 seconds or ~1 hour).<br>- When the token expires, you must request a new one using the same authentication process.<br><br>v20250823.0859",
        "operationId": "authentication",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "The Basic Auth header containing client_id:client_secret encoded in Base64.",
            "schema": {
              "type": "string"
            },
            "example": "Basic c2J4XzlmMzQzZWMzLTczNjItNGY2Yi05N2UyLTIzY2FiMjA1M2I3NDo1YTE3MDAyMC05YzMzLTQ1NTUtODM0NC1mZjNiOTY0ZDY0Mzb="
          }
        ],
        "requestBody": {
          "description": "Deve conter o parâmetro obrigatório grant_type.",
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "O tipo de concessão OAuth 2.0.",
                    "enum": [
                      "client_credentials"
                    ],
                    "example": "client_credentials"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "The Bearer Token to be used in the Authorization header.",
                      "example": "ZmVhLTQwMjctNGQxNS1iNWQwLTFjOWYwMmIzMGE3ZC00MjQ0NSIsInN1Ym5hbWUiOiJzYnhfOWYzNDNlYzMtNzM2Mi00ZjZiLTk3ZTItMjNjYWIyMDUzYjc0IiwiaXNzIjoiaHR0cHM6Ly9hcGkucHJlLmdsb2JhbGdldG5ldC5jb20vb2F1dGgyL3NhbmRib3giLCJ0b2tlbk5hbWUiOiJhY2Nlc3NfdG9rZW4iLCJ0b2tlbl90eXBlIjoiQmVhcmVyIiwiYXV0aEdyYW50SWQiOiIycUVETGtvR3Jjdzh2eE13WThtUmxIemF0SEkiLCJhdWQiOiJzYnhfOWYzNDNlYzMtNzM2Mi00ZjZiLTk3ZTItMjNjYWIyMDUzYjc0IiwibmJmIjoxNzU1MDk1MDc1LCJncmFudF90eXBlIjoiY2xpZW50X2NyZWRlbnRpYWxzIiwic2NvcGUiOlsiZGlnaXRhbC1wbGF0Zm9ybS1zYng6Z2F0ZXdheS1hcGkiXSwiYXV0aF90aW1lIjoxNzU1MDk1MDc1LCJyZWFsbSI6Ii9zYW5kYm94IiwiZXhwIjoxNzU1MDk4Njc1LCJpYXQiOjE3NTUwOTUwNzUsImV4cGlyZXNfaW4iOjM2MDAsImp0aSI6ImlQT0pMZlBqbUhKWXg4SzBWSnlwVE5kZEoybyIsImNvdW50cnkiOiJDTCIsInNlbGxlcklkIjoiNTRmODhlNjgtNzc2NC00ZTg3LTg4MzAtNzU2YjFlMmMwMmY4IiwibWVyY2hhbnRJZCI6IjM2YjExMmE4LTllNTQtNDE2NS04Mzg3LTg2ZGRhMWYyNDQzNyIsIm5hbWUiOiJIZWl0b3IgVGVzc2FybyIsImRlc2NyaXB0aW9uIjoiVGVzc2FybyIsInVzZXJOYW1lIjoidml0b3Jjb21wOTUrdHJhYmFsaG9AZ21haWwuY29tIiwidGVuYW50IjoiU2FudGFuZGVyIn0.BxMYBiGHWU8r2pzD_GFFjXI3EduBrJdkxSo6aF-726_s3VWa0UH2QDQy5aVsrbF8spS0M7l6T6tsNVk-vt5jkAtIpUv1exNKk4VbPk_TXn9fVHJKEqZh_6xPHNKtmaF85uOpS2Rgnv9rulKHHWXLG3GTElqeiXBX0z5fSAWiCuFRrgIWUYib_ifXwMpu8r-J9c088ltdQrwvltjs5UskTycSR62-UPIQV2a1qXG30rddTA5eHm5EAGvpDNc9LqyrgKvG4SEkf0l0aLv-fpKJuqQk6CKGtEV6DQ92bK5OwJdTY07WZBsVtLPf_fgl4LYa5RWz-9qNE0ZUzQIcH-O4-A"
                    },
                    "scope": {
                      "type": "string",
                      "description": "The granted scope(s) for the token.",
                      "example": "digital-platform:gateway-api"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Indicates the token type, which is always \"Bearer\".",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The token's lifetime in seconds (e.g., 3599).",
                      "example": 3599
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciais inválidas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_description": {
                      "type": "string",
                      "example": "Client authentication failed"
                    },
                    "error": {
                      "type": "string",
                      "example": "invalid_client"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dpm/payments-gwproxy/v2/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create - Authorize",
        "description": "__Create a Payment Transaction__\\u003cbr>\\u003cbr>\nThe Create Payment endpoint allows merchants to initiate a payment transaction \nusing credit or debit cards, as well as alternative payment methods. This request processes the transaction and returns \na response indicating its status. Moreover, this operation also supports installment payments.\\u003cbr>\\u003cbr>\n\n**Notes:**\\u003cbr>\n- Some transactions may require additional steps, such as **authentication** or **tokenization**.\\u003cbr>\n- An **idempotency key** must be included to prevent duplicate transactions.\\u003cbr>\n- Always validate the payment response to confirm the transaction was successfully processed.\\u003cbr>\n- To specify the type of transaction, you must specify the type within the **data.payment.payment_method** field. \\u003cbr>\n- **For transactions in Uruguay (UY):** \\u003cbr> **IVA:** Básico 22%, Mínimo 10%, Exento 0%.\\u003cbr> **Legislation:** The following laws do **not** apply to these transactions Law 19.210, Law 17.934, and Law 18.999._\\u003cbr>Law 18.999.\\u003cbr>\n",
        "operationId": "payment_2",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTransactionChannelEntry"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentDTO"
              },
              "examples": {
                "DigitalWalletDetailed": {
                  "summary": "Create - Authorize",
                  "value": {
                    "idempotency_key": "63c7f8ee-51a6-470d-bb76-ef762b62bfb7",
                    "request_id": "daac03dc-73db-453f-9bea-b1391669d5d3",
                    "order_id": "ORDER-10187383",
                    "data": {
                      "amount": 118708,
                      "currency": "BRL",
                      "customer_id": "test",
                      "payment": {
                        "payment_id": "173f9e8d-4e0b-4503-8016-5cdafba89bee",
                        "payment_method": "CREDIT",
                        "save_card_data": false,
                        "transaction_type": "FULL",
                        "number_installments": 1,
                        "soft_descriptor": "LOJA*TESTE*COMPRA-123",
                        "dynamic_mcc": 1799,
                        "card": {
                          "number": "5155901222260000",
                          "expiration_month": "09",
                          "expiration_year": "30",
                          "cardholder_name": "Roland Deschain",
                          "security_code": "517",
                          "brand": "Visa",
                          "entry_mode": "string",
                          "seq_number": "string",
                          "pin_block": "A0B6BA8D53C8D3C3",
                          "pin_key_id": "string",
                          "ksn": "BC756011020000400001",
                          "emv": "6F1A840E315041592E5359532E4444463031A5088801025F2D02656E",
                          "aid": "string",
                          "cardholder_verification_method": "offline_pin",
                          "aggregator": "siscard",
                          "service_code": {
                            "interchange": "international",
                            "chip": true,
                            "authorization_process": "normal_rules",
                            "pin_required": "required",
                            "range_of_services": "no_restrictions"
                          },
                          "track_1": "%B1234567890123445^PADILLA/L. ^99011X100000*000000000XXX000000?*",
                          "track_2": "4013790001234569=301220111379456001"
                        },
                        "tokenization": {
                          "type": "TAVV",
                          "cryptogram": "0006010865799300000620111679930000000000",
                          "eci": "00",
                          "requestor_id": "1234567"
                        },
                        "wallet": {
                          "type": "55",
                          "id": "000",
                          "merchant_id": "327",
                          "fund_transfer": {
                            "pay_action": "FT",
                            "receiver": {
                              "account_number": "9999999999999995",
                              "account_type": "00",
                              "first_name": "Jane",
                              "middle_name": "T",
                              "last_name": "Smith",
                              "addr_street": "1 Main ST",
                              "addr_city": "SAO PAULO",
                              "addr_state": "SP",
                              "addr_country": "BRA",
                              "addr_postal_code": "1408000"
                            }
                          }
                        },
                        "xid": "test",
                        "ucaf": "string",
                        "eci": "00",
                        "tdsdsxid": "string",
                        "tdsver": "2.1.0",
                        "terminal": {
                          "terminal_number": "string"
                        }
                      },
                      "additional_data": {
                        "url": "https://site.getnet.com.br",
                        "device": {
                          "device_id": "63c7f8ee-51a6-470d-bb76-ef762b62bfb7"
                        },
                        "customer": {
                          "document_number": "77415914000148"
                        }
                      },
                      "sub_merchant": {
                        "business_name": "Company Ltd",
                        "foreign_type": "F",
                        "identification_code": "9058345",
                        "document_type": "CNPJ",
                        "document_number": "77415914000148",
                        "address": "Dark Tower, 207",
                        "city": "Sao Paulo",
                        "state": "SP",
                        "postal_code": "90520000"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutorizationResponseDTO"
                },
                "examples": {
                  "TransactionApproved": {
                    "summary": "Success example",
                    "value": {
                      "idempotency_key": "63c7f8ee-51a6-470d-bb76-ef762b62bfb7",
                      "seller_id": "e0ed6f00-fdc5-46d6-9557-6a2cac641b09",
                      "payment_id": "173f9e8d-4e0b-4503-8016-5cdafba89bee",
                      "order_id": "ORDER-10187383",
                      "amount": 118708,
                      "currency": "BRL",
                      "status": "APPROVED",
                      "payment_method": "CREDIT",
                      "received_at": "2025-10-24T09:41:05.146Z",
                      "transaction_id": "MCC20502G2040",
                      "original_transaction_id": "MCC20502G2040",
                      "authorized_at": "2025-10-24T09:41:05.146Z",
                      "reason_code": "00",
                      "reason_message": "captured",
                      "acquirer": "GETNET",
                      "soft_descriptor": "LOJA*TESTE*COMPRA-123",
                      "brand": "MASTERCARD",
                      "authorization_code": "502050",
                      "acquirer_transaction_id": "506010104010102010603010"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Requisition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 400,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Bad Request",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unauthorized",
                  "name": "Module or service that returned the error",
                  "status_code": 401,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "AUTHENTICATION-401",
                      "description": "Unauthorized",
                      "description_detail": "Invalid client credentials"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Product not Enable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Forbidden",
                  "name": "Module or service that returned the error",
                  "status_code": 403,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "CONFIG-403",
                      "description": "Forbidden",
                      "description_detail": "Product not enabled"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Not Found",
                  "name": "Module or service that returned the error",
                  "status_code": 404,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "TOKENIZATION-404",
                      "description": "Not Found",
                      "description_detail": "card_id Not Found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unprocessable Entity",
                  "name": "Module or service that returned the error",
                  "status_code": 422,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Unprocessable Entity",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 429,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Too Many Requests",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Internal Server Error",
                  "name": "Module or service that returned the error",
                  "status_code": 500,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-500",
                      "description": "Internal Server Error",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Service Unavailable",
                  "name": "Module or service that returned the error",
                  "status_code": 503,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-503",
                      "description": "Service Unavailable",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Gateway Timeout",
                  "name": "Module or service that returned the error",
                  "status_code": 504,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-504",
                      "description": "Gateway Timeout",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "PROD": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "PRE": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "SBX": [
              "digital-platform:gateway-api"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Payments"
        ],
        "summary": "Adjustment",
        "description": "__Update a Payment Transaction__\\u003cbr>\\u003cbr>\nThis endpoint allows you to update an existing payment transaction. It’s used to modify specific attributes of a transaction, such as updating metadata, correcting information, or adjusting payment details before processing it. Ensure you review the request parameters to verify which modifications are allowed.\\u003cbr>\\u003cbr>\n\n**Notes:**\\u003cbr>\n- Some updates may require additional validation or approval.\\u003cbr>\n- Only certain fields can be updated. Ensure you review the request parameters to verify which modifications are allowed.\\u003cbr>\n",
        "operationId": "adjustment_2",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTransactionChannelEntry"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustmentDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutorizationResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Requisition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 400,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Bad Request",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unauthorized",
                  "name": "Module or service that returned the error",
                  "status_code": 401,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "AUTHENTICATION-401",
                      "description": "Unauthorized",
                      "description_detail": "Invalid client credentials"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Product not Enable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Forbidden",
                  "name": "Module or service that returned the error",
                  "status_code": 403,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "CONFIG-403",
                      "description": "Forbidden",
                      "description_detail": "Product not enabled"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Not Found",
                  "name": "Module or service that returned the error",
                  "status_code": 404,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "TOKENIZATION-404",
                      "description": "Not Found",
                      "description_detail": "card_id Not Found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unprocessable Entity",
                  "name": "Module or service that returned the error",
                  "status_code": 422,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Unprocessable Entity",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 429,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Too Many Requests",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Internal Server Error",
                  "name": "Module or service that returned the error",
                  "status_code": 500,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-500",
                      "description": "Internal Server Error",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Service Unavailable",
                  "name": "Module or service that returned the error",
                  "status_code": 503,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-503",
                      "description": "Service Unavailable",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Gateway Timeout",
                  "name": "Module or service that returned the error",
                  "status_code": 504,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-504",
                      "description": "Gateway Timeout",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "PROD": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "PRE": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "SBX": [
              "digital-platform:gateway-api"
            ]
          }
        ]
      }
    },
    "/dpm/payments-gwproxy/v2/payments/capture": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Capture",
        "description": "__Capture an Authorized Payment__\\u003cbr>\\u003cbr>\nThe Capture endpoint is used to finalize a previously successful authorized payment, ensuring that the transaction amount is deducted from the customer’s account and settled to the merchant. The transaction must be __captured__ within the allowed timeframe, otherwise a new transaction __authorization__ is required.\\u003cbr>\\u003cbr>\n\n**Usage Scenarios:**\\u003cbr>\n- Splitting authorization and capture into separate steps for better control over transaction processing.\\u003cbr>\n- Reducing the captured amount if needed before final settlement (if partial capture is supported).\\u003cbr>\n\n**Notes:**\\u003cbr>\n- Some updates may require additional validation or approval.\\u003cbr>\n- A payment must be **previously authorized** before capture.\\u003cbr>\n- If the transaction is not captured within the allowed timeframe, the authorization may expire, requiring a new transaction.\\u003cbr>\n",
        "operationId": "capture_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestCapture"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paymentCaptureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Requisition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 400,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Bad Request",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unauthorized",
                  "name": "Module or service that returned the error",
                  "status_code": 401,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "AUTHENTICATION-401",
                      "description": "Unauthorized",
                      "description_detail": "Invalid client credentials"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Not Found",
                  "name": "Module or service that returned the error",
                  "status_code": 404,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "TOKENIZATION-404",
                      "description": "Not Found",
                      "description_detail": "card_id Not Found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unprocessable Entity",
                  "name": "Module or service that returned the error",
                  "status_code": 422,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Unprocessable Entity",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 429,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Too Many Requests",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Internal Server Error",
                  "name": "Module or service that returned the error",
                  "status_code": 500,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-500",
                      "description": "Internal Server Error",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Service Unavailable",
                  "name": "Module or service that returned the error",
                  "status_code": 503,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-503",
                      "description": "Service Unavailable",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Gateway Timeout",
                  "name": "Module or service that returned the error",
                  "status_code": 504,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-504",
                      "description": "Gateway Timeout",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "PROD": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "PRE": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "SBX": [
              "digital-platform:gateway-api"
            ]
          }
        ]
      }
    },
    "/dpm/payments-gwproxy/v2/payments/qrcode": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "QRCode",
        "description": "__Capture an Authorized Payment__\\u003cbr>\\u003cbr> This endpoint is used to receive payments through QR Code. QR Code payments have an expiration limit of 1 minute and 50 seconds. After this period, a new QR Code must be generated, disregarding the previous one.\\u003cbr> This service is available only for VISA and MasterCard.\\u003cbr>\\u003cbr>",
        "operationId": "createQRCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestQRCode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "QRCode created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/responseQRCode"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Requisition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 400,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Bad Request",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unauthorized",
                  "name": "Module or service that returned the error",
                  "status_code": 401,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "AUTHENTICATION-401",
                      "description": "Unauthorized",
                      "description_detail": "Invalid client credentials"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Not Found",
                  "name": "Module or service that returned the error",
                  "status_code": 404,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "TOKENIZATION-404",
                      "description": "Not Found",
                      "description_detail": "card_id Not Found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unprocessable Entity",
                  "name": "Module or service that returned the error",
                  "status_code": 422,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Unprocessable Entity",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 429,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Too Many Requests",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Internal Server Error",
                  "name": "Module or service that returned the error",
                  "status_code": 500,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-500",
                      "description": "Internal Server Error",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Service Unavailable",
                  "name": "Module or service that returned the error",
                  "status_code": 503,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-503",
                      "description": "Service Unavailable",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Gateway Timeout",
                  "name": "Module or service that returned the error",
                  "status_code": 504,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-504",
                      "description": "Gateway Timeout",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "PROD": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "PRE": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "SBX": [
              "digital-platform:gateway-api"
            ]
          }
        ]
      }
    },
    "/dpm/payments-gwproxy/v2/payments/cancel": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Cancel",
        "description": "__Cancel a Captured Payment__\\u003cbr>\\u003cbr>\nThe Cancel endpoint allows merchants to reverse a previously captured payment, ensuring that the transaction amount is refunded to the customer.\\u003cbr>\\u003cbr>\n\n**Usage Scenarios:**\\u003cbr>\n- Voiding a payment that was captured by mistake.\\u003cbr>\n- Handling order cancellations that require a full refund._\\u003cbr>\\u003cbr>\n\n**Notes:**\\u003cbr>\n- Only **captured** payments can be canceled.\\u003cbr>\n- The cancellation process may vary depending on the payment method and issuer.\\u003cbr>\n- Some transactions may require additional processing time before the funds are returned to the customer._\n",
        "operationId": "cancel_7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Requisition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 400,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Bad Request",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unauthorized",
                  "name": "Module or service that returned the error",
                  "status_code": 401,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "AUTHENTICATION-401",
                      "description": "Unauthorized",
                      "description_detail": "Invalid client credentials"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Not Found",
                  "name": "Module or service that returned the error",
                  "status_code": 404,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "TOKENIZATION-404",
                      "description": "Not Found",
                      "description_detail": "card_id Not Found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unprocessable Entity",
                  "name": "Module or service that returned the error",
                  "status_code": 422,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Unprocessable Entity",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 429,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Too Many Requests",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Internal Server Error",
                  "name": "Module or service that returned the error",
                  "status_code": 500,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-500",
                      "description": "Internal Server Error",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Service Unavailable",
                  "name": "Module or service that returned the error",
                  "status_code": 503,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-503",
                      "description": "Service Unavailable",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Gateway Timeout",
                  "name": "Module or service that returned the error",
                  "status_code": 504,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-504",
                      "description": "Gateway Timeout",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "PROD": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "PRE": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "SBX": [
              "digital-platform:gateway-api"
            ]
          }
        ]
      }
    },
    "/dpm/payments-gwproxy/v2/payments/boleto": {
      "post": {
        "summary": "Create an Invoice/Boleto",
        "description": "__Generate Payment with Boleto__\\u003cbr>\\u003cbr>\n\nThe Boleto endpoint allows merchants to generate a bank slip (boleto) for customers to complete payments via banking channels, ATMs, or authorized locations. It offers an alternative payment method for customers without credit or debit cards and enables cash-based transactions with a due date for payment.\\u003cbr>\\u003cbr>\n\n**Notes:**\\u003cbr>\n- The boleto must include an expiration date, after which payment is no longer valid.\\u003cbr>\n- Once generated, the boleto cannot be modified; a new one must be issued if changes are required.\\u003cbr>\n- Payment confirmation times vary depending on the bank’s processing policies.\n",
        "tags": [
          "Payments"
        ],
        "operationId": "paymentBoleto_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentBoletoDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "seller_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "e0ed6f00-fdc5-46d6-9557-6a2cac641b09"
                    },
                    "payment_guid": {
                      "type": "string",
                      "format": "uuid",
                      "example": "fff5c9a8-e961-448b-9337-52d54bc6063c"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-21T13:19:46+00:00"
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-21T13:19:46+00:00"
                    },
                    "payment_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "e9595164-deaa-4341-bb37-b4b9c570a6d3"
                    },
                    "amount": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Valor do pagamento em centavos (ou unidade monetária mínima).",
                      "example": 8900
                    },
                    "currency": {
                      "type": "string",
                      "example": "BRL"
                    },
                    "order_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "6d2e4380-d8a3-4ccb-9138-c289182818a3"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "PENDING",
                        "PAID",
                        "CANCELLED"
                      ],
                      "example": "PENDING"
                    },
                    "received_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-21T13:19:46+00:00"
                    },
                    "boleto": {
                      "type": "object",
                      "properties": {
                        "boleto_id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "1447f852-96ba-4396-bc36-575b3a3cc5f4"
                        },
                        "boleto_guid": {
                          "type": "string",
                          "format": "uuid",
                          "example": "784432a8-7de3-4fa4-91be-b5862505be75"
                        },
                        "status_code": {
                          "type": "string",
                          "example": "1"
                        },
                        "status_label": {
                          "type": "string",
                          "example": "EM ABERTO"
                        },
                        "our_number": {
                          "type": "string",
                          "example": "0001946598.0"
                        },
                        "document_number": {
                          "type": "string",
                          "example": "170500000019763"
                        },
                        "expiration_date": {
                          "type": "string",
                          "example": "16/11/2030"
                        },
                        "issue_date": {
                          "type": "string",
                          "example": "21/10/2025"
                        },
                        "typeful_line": {
                          "type": "string",
                          "example": "01010.01010 01010.010101 01010.010101 1 01010101010101"
                        },
                        "bank": {
                          "type": "string",
                          "example": "033"
                        },
                        "payment_place": {
                          "type": "string",
                          "example": "PAGAR PREFERENCIALMENTE EM UMA AGENCIA DO BANCO SANTANDER S.A."
                        },
                        "currency_type": {
                          "type": "string",
                          "example": "R$"
                        },
                        "accept": {
                          "type": "string",
                          "example": "N"
                        },
                        "document_date": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-10-21T13:19:46+00:00"
                        },
                        "bar_code": {
                          "type": "string",
                          "example": "03393775500000002009589193012345678901230101"
                        },
                        "mensagem": {
                          "type": "string",
                          "example": "Not receiving after due dateDados ficticios, nao efetuar o pagamento deste boleto"
                        },
                        "assignor": {
                          "type": "object",
                          "nullable": true
                        },
                        "customer": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "João da Silva"
                            },
                            "document_number": {
                              "type": "string",
                              "example": "12345678912"
                            },
                            "billing_address": {
                              "type": "object",
                              "properties": {
                                "street": {
                                  "type": "string",
                                  "example": "Av. Brazil"
                                },
                                "number": {
                                  "type": "string",
                                  "example": "1000"
                                },
                                "complement": {
                                  "type": "string",
                                  "example": "Sala 1"
                                },
                                "district": {
                                  "type": "string",
                                  "example": "Sao Geraldo"
                                },
                                "city": {
                                  "type": "string",
                                  "example": "Porto Alegre"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "RS"
                                },
                                "postal_code": {
                                  "type": "string",
                                  "example": "90230060"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "_links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "format": "uri-reference",
                            "example": "/v1/payments/boleto/e9595164-deaa-4341-bb37-b4b9c570a6d3/pdf"
                          },
                          "rel": {
                            "type": "string",
                            "example": "boleto_pdf"
                          },
                          "type": {
                            "type": "string",
                            "example": "GET"
                          }
                        }
                      }
                    },
                    "_id": {
                      "type": "string",
                      "example": "68f78872274ffe81a58aa651"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "PROD": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "PRE": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "SBX": [
              "digital-platform:gateway-api"
            ]
          }
        ]
      }
    },
    "/dpm/payments-gwproxy/v2/payments/qrcode/pix": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create PIX",
        "description": "__Generate Payment with PIX__\\u003cbr>\\u003cbr>\nThis endpoint processes payment data and instantly creates a unique PIX QR Code. \nUpon successful payment by the customer, the merchant will receive a **real-time HTTP notification** for confirmation. For details on handling confirmation, refer to the **\"PIX Notifications\"** section in **Notifications 1.1** of the documentation.\\u003cbr>\\u003cbr>\n\n**Usage Scenarios:** \\u003cbr>\n- Supports instant payments 24/7, ideal for e-commerce and retail.\n\n**Notes:**\\u003cbr>\n- PIX transactions are processed in real time and cannot be reversed once completed.\\u003cbr>\n- A **unique PIX key (QR Code or transaction ID)** is required for payment.\n",
        "operationId": "pix",
        "parameters": [
          {
            "$ref": "#/components/parameters/XQrCodeExpirationTime"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PixDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Payment successfully created, QR Code generated, and awaiting payment.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "payment_id",
                    "status",
                    "description"
                  ],
                  "properties": {
                    "payment_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier for the created payment.",
                      "example": "03ec0ede-3bc9-42dd-a71b-1c3a670b2b89"
                    },
                    "status": {
                      "type": "string",
                      "description": "The current status of the payment.",
                      "example": "WAITING"
                    },
                    "description": {
                      "type": "string",
                      "description": "A message confirming the QR code generation.",
                      "example": "QR Code successfully generated and awaiting payment."
                    },
                    "additional_data": {
                      "type": "object",
                      "description": "Contains payment specific data, including the PIX details.",
                      "properties": {
                        "transaction_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Internal transaction identifier.",
                          "example": "890005df15a2-0b1e-4c6e-8ece-11a71070be06"
                        },
                        "qr_code": {
                          "type": "string",
                          "description": "The PIX string representing the QR Code payload (Pix Copia e Cola).",
                          "example": "00020101021226740014br.bcb.pix..."
                        },
                        "creation_date_qrcode": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp of when the QR code was created.",
                          "example": "2025-10-20T18:55:55"
                        },
                        "expiration_date_qrcode": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp of when the QR code will expire.",
                          "example": "2025-10-20T18:58:58"
                        },
                        "psp_code": {
                          "type": "string",
                          "description": "The PSP (Payment Service Provider) code used for the transaction.",
                          "example": "033"
                        }
                      }
                    },
                    "is_split": {
                      "type": "boolean",
                      "description": "Indicates if the payment is subject to splitting.",
                      "example": false
                    },
                    "idempotency_key": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique key used to ensure a payment request is processed only once.",
                      "example": "e757d73e-fbdb-40ee-a72b-6f06f19c7a27"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Requisition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 400,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Bad Request",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unauthorized",
                  "name": "Module or service that returned the error",
                  "status_code": 401,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "AUTHENTICATION-401",
                      "description": "Unauthorized",
                      "description_detail": "Invalid client credentials"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Not Found",
                  "name": "Module or service that returned the error",
                  "status_code": 404,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "TOKENIZATION-404",
                      "description": "Not Found",
                      "description_detail": "card_id Not Found"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Internal Server Error",
                  "name": "Module or service that returned the error",
                  "status_code": 500,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-500",
                      "description": "Internal Server Error",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "PROD": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "PRE": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "SBX": [
              "digital-platform:gateway-api"
            ]
          }
        ]
      }
    },
    "/dpm/security-gwproxy/v2/enrolments-initial": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "initial",
        "description": "__Initiate 3DS Authentication__\\u003cbr>\\u003cbr>\n\n3D Secure (3DS) is an authentication protocol designed to enhance the security of online transactions by verifying the identity of cardholders before a payment is processed. This endpoint initiates the enrolment flow for 3DS authentication, beginning the authentication process for a payment transaction.\\u003cbr>\\u003cbr>\n\n**Usage Scenarios:**\\u003cbr>\n- Adding an extra layer of security to card payments and reducing fraud risk.\\u003cbr>\n- Complying with Strong Customer Authentication (SCA) requirements for transactions in the European Economic Area (EEA).\\u003cbr>\n\n**Notes:**\\u003cbr>\n\n- The authentication flow is dynamically determined by factors such as card brand, issuing bank, and risk assessment.\\u003cbr>\n- Your integration must handle all possible authentication scenarios returned by the API.\\u003cbr>\\u003cbr>\n\nFor detailed information about 3DS authentication, including how it works, available scenarios, and implementation guidance, see the [3DS Authentication documentation](/core-concepts/3dSecure).\n",
        "summary": "3DS - Init Authentication",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrolmentsInitialDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitialResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dpm/security-gwproxy/v2/enrolments-continue": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "enrolmentsContinue",
        "summary": "3DS - Banking Login Authentication Payload",
        "description": "This endpoint generates the necessary payload for the customer to authenticate using their banking login. The response includes the required authentication details, which can be used to proceed with the transaction securely.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrolmentsContinueDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContinueResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dpm/security-gwproxy/v2/validations": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "validations",
        "summary": "3DS - Validate authentication",
        "description": "This endpoint validates a 3DS authentication by verifying the payer authentication response received from the card issuer. It confirms whether the customer has been successfully authenticated, allowing the transaction to proceed securely.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidationsDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationsResponseDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dpm/hub-payment-info/v1/payments/info/{payment_id}": {
      "get": {
        "summary": "Get Transaction",
        "tags": [
          "Payment Record Management"
        ],
        "operationId": "get-v1-payments",
        "description": "__Retrieve transaction details using a unique transaction ID__\\u003cbr>\\u003cbr>The Transaction Query endpoint allows you to retrieve details of a specific transaction using its unique identifier. This is useful for verifying transaction statuses, fetching payment details, and tracking processed transactions.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payment_id": {
                      "$ref": "#/components/schemas/payment_id"
                    },
                    "order_id": {
                      "$ref": "#/components/schemas/order_id"
                    },
                    "status": {
                      "$ref": "#/components/schemas/status"
                    },
                    "payment": {
                      "$ref": "#/components/schemas/payment"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/record"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "PROD": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "PRE": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "SBX": [
              "digital-platform:gateway-api"
            ]
          }
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid",
            "example": "8719d0c4-2c3f-4360-abd9-8daf3834fe1f",
            "minLength": 36,
            "maxLength": 36
          },
          "in": "path",
          "name": "payment_id",
          "description": "Payment identifier.",
          "required": true
        }
      ]
    },
    "/dpm/hub-payment-info/v1/payments/info/{payment_id}/{idempotency_key}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/IdempotencyKeyPath"
        },
        {
          "$ref": "#/components/parameters/PaymentId"
        }
      ],
      "get": {
        "summary": "Get by Idempotent Key",
        "description": "__Retrieving Transaction Data Using Idempotency Keys__\\u003cbr>\\u003cbr>This endpoint allows querying transaction components linked to a specific payment using an **idempotency key**. The idempotency mechanism ensures that repeated requests with the same key will always return the same response, preventing the creation of duplicate transactions.\\u003cbr>\\u003cbr>**Notes:**\\u003cbr>_- Using an idempotency key ensures that repeated queries always return the same transaction details without triggering duplicate operations.\\u003cbr>- This endpoint is particularly useful for retrieving transaction statuses or confirming previously executed payment operations._",
        "tags": [
          "Payment Record Management"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rel": {
                      "$ref": "#/components/schemas/rel"
                    },
                    "idempotency_key": {
                      "$ref": "#/components/schemas/idempotency_key"
                    },
                    "registered_at": {
                      "$ref": "#/components/schemas/registered_at"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "registered_at": {
                            "$ref": "#/components/schemas/registered_at"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "request",
                              "response",
                              "result"
                            ],
                            "description": "Record type.",
                            "example": "request"
                          },
                          "content": {
                            "description": "Registry contents.",
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/paymentAuthorizationResponse"
                              },
                              {
                                "$ref": "#/components/schemas/paymentCancelResponse"
                              },
                              {
                                "$ref": "#/components/schemas/paymentCaptureResponse"
                              },
                              {
                                "$ref": "#/components/schemas/paymentPurchaseResponse"
                              },
                              {
                                "$ref": "#/components/schemas/requestPayment"
                              },
                              {
                                "$ref": "#/components/schemas/requestCapture"
                              },
                              {
                                "$ref": "#/components/schemas/requestCancel"
                              },
                              {
                                "$ref": "#/components/schemas/cancelResult"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/internalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "PROD": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "PRE": [
              "digital-platform:gateway-api"
            ]
          },
          {
            "SBX": [
              "digital-platform:gateway-api"
            ]
          }
        ],
        "operationId": "get-v1-payment-info-payment_id-component_id"
      }
    },
    "/dpm/payments-gwproxy/v2/payments/combined": {
      "post": {
        "tags": [
          "Combined Payments"
        ],
        "summary": "Authorize",
        "description": "__Splitting a Transaction Across Multiple Cards__\\u003cbr>\\u003cbr>This endpoint allows you to authorize a combined payment using multiple cards. It is typically used when a buyer wishes to split the total amount across two or more payment methods.\\u003cbr>\\u003cbr>**Usage Scenarios:**\\u003cbr>_- Offering flexibility to the customer in payment options.\\u003cbr>- Handling split transactions for marketplaces or platforms._\\u003cbr>\\u003cbr>**Notes:**\\u003cbr>_- **Only card-based payments are allowed.** APMs like PIX and Boleto are **not supported**.\\u003cbr>- This flow is valid **only for card-not-present** (e-commerce) scenarios.\\u003cbr>- The field_ `combined_id` _in the response is used to **track the overall transaction**.\\u003cbr>- Each card must be represented as an object inside the payments array._",
        "operationId": "combined_",
        "parameters": [
          {
            "$ref": "#/components/parameters/XTransactionChannelEntry"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CombinedPaymentDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CombinedResponseDTOCombinedAutorizationResponseDataDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Requisition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 400,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Bad Request",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid Authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unauthorized",
                  "name": "Module or service that returned the error",
                  "status_code": 401,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "AUTHENTICATION-401",
                      "description": "Unauthorized",
                      "description_detail": "Invalid client credentials"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Product not Enable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Forbidden",
                  "name": "Module or service that returned the error",
                  "status_code": 403,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "CONFIG-403",
                      "description": "Forbidden",
                      "description_detail": "Product not enabled"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Not Found",
                  "name": "Module or service that returned the error",
                  "status_code": 404,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "TOKENIZATION-404",
                      "description": "Not Found",
                      "description_detail": "card_id Not Found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Unprocessable Entity",
                  "name": "Module or service that returned the error",
                  "status_code": 422,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Unprocessable Entity",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Bad Request",
                  "name": "Module or service that returned the error",
                  "status_code": 429,
                  "details": [
                    {
                      "status": "DENIED",
                      "error_code": "Error code",
                      "description": "Too Many Requests",
                      "description_detail": "Detailed error description"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Internal Server Error",
                  "name": "Module or service that returned the error",
                  "status_code": 500,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-500",
                      "description": "Internal Server Error",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Internal server or service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Service Unavailable",
                  "name": "Module or service that returned the error",
                  "status_code": 503,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-503",
                      "description": "Service Unavailable",
                      "description_detail": "The server encountered an unexpected error."
                    }
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultErrorHttpResponse"
                },
                "example": {
                  "message": "Gateway Timeout",
                  "name": "Module or service that returned the error",
                  "status_code": 504,
                  "details": [
                    {
                      "status": "ERROR",
                      "error_code": "GENERIC-504",
[...]
