{
  "openapi": "3.0.3",
  "info": {
    "title": "PxWeb API",
    "description": "Statistics Sweden PxWebApi v2 provides access to tables, metadata, and data from the Swedish Statistical Database. Supports GET and POST methods for data retrieval with multiple output formats.",
    "version": "2.0",
    "x-jentic-source-url": "https://www.scb.se/en/services/open-data-api/"
  },
  "servers": [
    {
      "url": "https://statistikdatabasen.scb.se/api/v2"
    }
  ],
  "paths": {
    "/tables": {
      "get": {
        "operationId": "listTables",
        "summary": "List all available tables with filtering and pagination",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language code (e.g., en, sv)"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search filter for tables"
          },
          {
            "name": "pastDays",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter tables updated within N days"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tables",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TableListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/tables/{id}": {
      "get": {
        "operationId": "getTable",
        "summary": "Get a specific table by identifier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Table not found"
          }
        }
      }
    },
    "/tables/{id}/metadata": {
      "get": {
        "operationId": "getTableMetadata",
        "summary": "Get detailed metadata for a table",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table metadata"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Table not found"
          }
        }
      }
    },
    "/tables/{id}/defaultselection": {
      "get": {
        "operationId": "getTableDefaultSelection",
        "summary": "Get default selection parameters for a table",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Default selection parameters"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Table not found"
          }
        }
      }
    },
    "/tables/{id}/data": {
      "get": {
        "operationId": "getTableData",
        "summary": "Fetch table data with custom filtering via GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "px",
                "json-stat2",
                "csv",
                "xlsx",
                "html",
                "json-px",
                "parquet"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table data in requested format"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - data cell limit exceeded"
          },
          "404": {
            "description": "Table not found"
          }
        }
      },
      "post": {
        "operationId": "postTableData",
        "summary": "Fetch table data with custom filtering via POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outputFormat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "px",
                "json-stat2",
                "csv",
                "xlsx",
                "html",
                "json-px",
                "parquet"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Table data in requested format"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - data cell limit exceeded"
          },
          "404": {
            "description": "Table not found"
          }
        }
      }
    },
    "/savedqueries": {
      "post": {
        "operationId": "createSavedQuery",
        "summary": "Create and save a query for reuse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SavedQueryInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saved query created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/savedqueries/{id}": {
      "get": {
        "operationId": "getSavedQuery",
        "summary": "Retrieve a saved query by identifier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved query details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Saved query not found"
          }
        }
      }
    },
    "/savedqueries/{id}/data": {
      "get": {
        "operationId": "executeSavedQuery",
        "summary": "Execute a saved query and return data",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query result data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Saved query not found"
          }
        }
      }
    },
    "/savedqueries/{id}/selection": {
      "get": {
        "operationId": "getSavedQuerySelection",
        "summary": "Get selection parameters from a saved query",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Selection parameters"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Saved query not found"
          }
        }
      }
    },
    "/codelists/{id}": {
      "get": {
        "operationId": "getCodelist",
        "summary": "Retrieve a codelist by identifier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Codelist data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Codelist not found"
          }
        }
      }
    },
    "/config": {
      "get": {
        "operationId": "getConfig",
        "summary": "Retrieve API configuration and capabilities",
        "responses": {
          "200": {
            "description": "API configuration"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Table": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "firstPeriod": {
            "type": "string"
          },
          "lastPeriod": {
            "type": "string"
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TableListResponse": {
        "type": "object",
        "properties": {
          "tables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Table"
            }
          },
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "totalElements": {
            "type": "integer"
          }
        }
      },
      "DataQuery": {
        "type": "object",
        "properties": {
          "selection": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "variableCode": {
                  "type": "string"
                },
                "valueCodes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "SavedQueryInput": {
        "type": "object",
        "properties": {
          "tableId": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "selection": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "variableCode": {
                  "type": "string"
                },
                "valueCodes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Problem": {
        "type": "object",
        "description": "RFC 7807 error response",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          }
        }
      }
    }
  }
}