{
  "openapi": "3.0.3",
  "info": {
    "title": "2Chat WhatsApp API",
    "version": "1.0.0",
    "description": "2Chat API for sending WhatsApp messages, managing connected numbers, and checking WhatsApp number validity programmatically.",
    "x-jentic-source-url": "https://developers.2chat.co/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.2chat.io"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Numbers",
      "description": "Manage connected WhatsApp numbers"
    },
    {
      "name": "Messages",
      "description": "Send WhatsApp messages"
    },
    {
      "name": "Contacts",
      "description": "Check and validate WhatsApp contacts"
    }
  ],
  "paths": {
    "/api/v1/whatsapp/numbers": {
      "get": {
        "operationId": "getConnectedNumbers",
        "summary": "Get connected WhatsApp numbers",
        "description": "Returns a list of WhatsApp numbers connected to your 2Chat account.",
        "tags": [
          "Numbers"
        ],
        "responses": {
          "200": {
            "description": "List of connected numbers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumbersListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/whatsapp/numbers/{phoneNumber}/check-number/{targetNumber}": {
      "get": {
        "operationId": "checkWhatsAppNumber",
        "summary": "Check if a number is on WhatsApp",
        "description": "Check whether a phone number is registered on WhatsApp using one of your connected numbers.",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "phoneNumber",
            "in": "path",
            "required": true,
            "description": "Your connected WhatsApp phone number (E.164 format without +)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetNumber",
            "in": "path",
            "required": true,
            "description": "The phone number to check (E.164 format without +)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "WhatsApp number check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckNumberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/whatsapp/numbers/{phoneNumber}/messages/text": {
      "post": {
        "operationId": "sendTextMessage",
        "summary": "Send a text message",
        "description": "Send a text message to a WhatsApp number using one of your connected numbers.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "phoneNumber",
            "in": "path",
            "required": true,
            "description": "Your connected WhatsApp phone number (E.164 format without +)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTextMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/whatsapp/numbers/{phoneNumber}/messages/image": {
      "post": {
        "operationId": "sendImageMessage",
        "summary": "Send an image message",
        "description": "Send an image to a WhatsApp number.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "phoneNumber",
            "in": "path",
            "required": true,
            "description": "Your connected WhatsApp phone number",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendImageMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/whatsapp/numbers/{phoneNumber}/messages/document": {
      "post": {
        "operationId": "sendDocumentMessage",
        "summary": "Send a document message",
        "description": "Send a document/file to a WhatsApp number.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "phoneNumber",
            "in": "path",
            "required": true,
            "description": "Your connected WhatsApp phone number",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendDocumentMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-User-API-Key",
        "description": "2Chat API key"
      }
    },
    "schemas": {
      "NumbersListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConnectedNumber"
            }
          }
        }
      },
      "ConnectedNumber": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "Phone number in E.164 format"
          },
          "alias": {
            "type": "string",
            "description": "Alias/name for the number"
          },
          "status": {
            "type": "string",
            "description": "Connection status"
          },
          "channel": {
            "type": "string",
            "description": "Channel type (e.g., whatsapp)"
          }
        }
      },
      "CheckNumberResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "is_whatsapp_user": {
                "type": "boolean",
                "description": "Whether the number is registered on WhatsApp"
              },
              "number": {
                "type": "string",
                "description": "The checked phone number"
              }
            }
          }
        }
      },
      "SendTextMessageRequest": {
        "type": "object",
        "required": [
          "to_number",
          "text"
        ],
        "properties": {
          "to_number": {
            "type": "string",
            "description": "Recipient phone number (E.164 format)"
          },
          "text": {
            "type": "string",
            "description": "Message text content"
          }
        }
      },
      "SendImageMessageRequest": {
        "type": "object",
        "required": [
          "to_number",
          "url"
        ],
        "properties": {
          "to_number": {
            "type": "string",
            "description": "Recipient phone number"
          },
          "url": {
            "type": "string",
            "description": "URL of the image to send"
          },
          "caption": {
            "type": "string",
            "description": "Optional image caption"
          }
        }
      },
      "SendDocumentMessageRequest": {
        "type": "object",
        "required": [
          "to_number",
          "url"
        ],
        "properties": {
          "to_number": {
            "type": "string",
            "description": "Recipient phone number"
          },
          "url": {
            "type": "string",
            "description": "URL of the document to send"
          },
          "filename": {
            "type": "string",
            "description": "Display filename for the document"
          },
          "caption": {
            "type": "string",
            "description": "Optional document caption"
          }
        }
      },
      "SendMessageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "message_uuid": {
                "type": "string",
                "description": "Unique message identifier"
              },
              "status": {
                "type": "string",
                "description": "Message status"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
