{
  "openapi": "3.0.0",
  "info": {
    "title": "Event Tickets REST API",
    "description": "Event Tickets REST API allows accessing ticket information easily and conveniently.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.theeventscalendar.com/rest-endpoints/"
  },
  "servers": [
    {
      "url": "https://docs.theeventscalendar.com/rest-site/index.php?rest_route=/tribe/tickets/v1/"
    }
  ],
  "paths": {
    "/tickets/{id}": {
      "get": {
        "summary": "Returns a single ticket data",
        "parameters": [
          {
            "in": "path",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "The ticket post ID",
            "required": true,
            "name": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the data of the ticket with the specified post ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ticket"
                }
              }
            }
          },
          "400": {
            "description": "The ticket post ID is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "The ticket with the specified ID is not accessible.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "A ticket with the specified ID does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/tickets": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page of results to return; defaults to 1",
            "required": false,
            "name": "page"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": "10"
            },
            "description": "How many tickets to return per results page; defaults to posts_per_page.",
            "required": false,
            "name": "per_page"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Limit results to tickets containing the specified string in the title or description.",
            "required": false,
            "name": "search"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "Offset the results by a specific number of items.",
            "required": false,
            "name": "offset"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Sort results in ASC or DESC order. Defaults to ASC.",
            "required": false,
            "name": "order"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Order the results by one of date, relevance, id, include, title, or slug; defaults to title.",
            "required": false,
            "name": "orderby"
          },
          {
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Limit results to tickets that have or do not have capacity currently available.",
            "required": false,
            "name": "is_available"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Limit results to tickets provided by one of the providers specified in the CSV list or array; defaults to all available.",
            "required": false,
            "name": "provider"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Limit results to tickets created after or on the specified UTC date or timestamp.",
            "required": false,
            "name": "after"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Limit results to tickets created before or on the specified UTC date or timestamp.",
            "required": false,
            "name": "before"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Limit results to a specific CSV list or array of ticket IDs.",
            "required": false,
            "name": "include"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Exclude a specific CSV list or array of ticket IDs from the results.",
            "required": false,
            "name": "exclude"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Limit results to tickets that are assigned to one of the posts specified in the CSV list or array.",
            "required": false,
            "name": "include_post"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Limit results to tickets that are not assigned to any of the posts specified in the CSV list or array.",
            "required": false,
            "name": "exclude_post"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "Limit results to tickets that have at least this number or attendees.",
            "required": false,
            "name": "attendees_min"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "Limit results to tickets that have at most this number of attendees.",
            "required": false,
            "name": "attendees_max"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "Limit results to tickets that have at most this number of checked-in attendee.",
            "required": false,
            "name": "checkedin_min"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "Limit results to tickets that have at least this number of checked-in attendees.",
            "required": false,
            "name": "checkedin_max"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "Limit results to tickets that have at least this capacity.",
            "required": false,
            "name": "capacity_min"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "Limit results to tickets that have at most this capacity.",
            "required": false,
            "name": "capacity_max"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Limit results to tickets that will be available at or after the specified UTC date (parseable by strtotime) or timestamp.",
            "required": false,
            "name": "available_from"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Limit results to tickets that will be available up to the specified UTC date (parseable by strtotime) or timestamp.",
            "required": false,
            "name": "available_until"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Limit results to tickets assigned to posts that are in one of the post statuses specified in the CSV list or array; defaults to publish.",
            "required": false,
            "name": "post_status"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Limit results to tickets that are in one of post statuses specified in the CSV list or array; defaults to publish.",
            "required": false,
            "name": "status"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Limit results to tickets priced in one of the 3-letter currency codes specified in the CSV list or array.",
            "required": false,
            "name": "currency"
          },
          {
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Limit results to tickets that provide attendees the possibility to fill in additional information or not; requires ET+.",
            "required": false,
            "name": "attendee_information_available"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all the tickets matching the search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rest_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "This results page REST URL"
                    },
                    "total": {
                      "type": "integer",
                      "description": "The total number of results across all pages"
                    },
                    "total_pages": {
                      "type": "integer",
                      "description": "The total number of result pages matching the search criteria"
                    },
                    "tickets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Ticket"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or more of the specified query variables has a bad format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "The requested page was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/attendees/{id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "The attendee post ID",
            "required": true,
            "name": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the data of the attendee with the specified post ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attendee"
                }
              }
            }
          },
          "400": {
            "description": "The attendee post ID is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "The attendee with the specified ID is not accessible.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "An attendee with the specified ID does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/attendees": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page of results to return; defaults to 1",
            "required": false,
            "name": "page"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": "10"
            },
            "description": "How many attendees to return per results page; defaults to posts_per_page.",
            "required": false,
            "name": "per_page"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Limit results to attendees whose ticket is provided by one of the providers specified in the CSV list or array; defaults to all the available.",
            "required": false,
            "name": "provider"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Limit results to attendees containing the specified string in the title or description.",
            "required": false,
            "name": "search"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "Offset the results by a specific number of items.",
            "required": false,
            "name": "offset"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Sort results in ASC or DESC order. Defaults to ASC.",
            "required": false,
            "name": "order"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Order the results by one of date, relevance, id, include, title or slug. Defaults to id.",
            "required": false,
            "name": "orderby"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "Limit results to attendees by post the ticket is associated with.",
            "required": false,
            "name": "post_id"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "Limit results to attendees associated with a ticket.",
            "required": false,
            "name": "ticket_id"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Limit results to attendees created after or on the specified UTC date or timestamp.",
            "required": false,
            "name": "after"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Limit results to attendees created before or on the specified UTC date or timestamp.",
            "required": false,
            "name": "before"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Limit results to a specific CSV list or array of attendee IDs.",
            "required": false,
            "name": "include"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Exclude a specific CSV list or array of attendee IDs from the results.",
            "required": false,
            "name": "exclude"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "Limit results to attendees that paid tickets a price equal or below the specified value; if not specified no maximum price limit will be used.",
            "required": false,
            "name": "price_max"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "Limit results to attendees that paid tickets a price equal or above the specified value; if not specified no minimum price limit will be used.",
            "required": false,
            "name": "price_min"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Limit results to attendees whose ticket is assigned to one of the posts specified in the CSV list or array.",
            "required": false,
            "name": "include_post"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Limit results to attendees whose tickets is not assigned to any of the posts specified in the CSV list or array..",
            "required": false,
            "name": "exclude_post"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Limit results to a specific CSV list or array of ticket IDs.",
            "required": false,
            "name": "include_ticket"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Exclude a specific CSV list or array of ticket IDs.",
            "required": false,
            "name": "exclude_ticket"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Limit results to attendees for posts that are in one of the post statuses specified in the CSV list or array; defaults to publish.",
            "required": false,
            "name": "post_status"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Limit results to attendees that are in one of post statuses specified in the CSV list or array; defaults to publish.",
            "required": false,
            "name": "status"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Limit results to attendees whose order status is in one of post statuses specified in the CSV list or array; defaults to public.",
            "required": false,
            "name": "order_status"
          },
          {
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Limit results to attendees that are or not checked-in.",
            "required": false,
            "name": "checkedin"
          },
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Limit results to RSVP Attendees that have one of the RSVP Going status specified in the CSV list or array.",
            "required": false,
            "name": "rsvp_going_status"
          },
          {
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Limit results to attendees for tickets that provide attendees the possibility to fill in additional information or not; requires ET+.",
            "required": false,
            "name": "attendee_information_available"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Limit results to attendees by name. It will search for names that are like the specified value",
            "required": false,
            "name": "name"
          },
          {
            "in": "query",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "Limit results to attendees by email. It will search for emails that are like the specified value",
            "required": false,
            "name": "email"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all the attendees matching the search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rest_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "This results page REST URL"
                    },
                    "total": {
                      "type": "integer",
                      "description": "The total number of results across all pages"
                    },
                    "total_pages": {
                      "type": "integer",
                      "description": "The total number of result pages matching the search criteria"
                    },
                    "attendees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Attendee"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One or more of the specified query variables has a bad format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "The requested page was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/cart": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Limit results to tickets provided by one of the providers specified in the CSV list or array; defaults to all available.",
            "required": false,
            "items": {
              "type": "integer"
            },
            "name": "provider"
          },
          {
            "in": "query",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "The post ID",
            "required": false,
            "name": "post_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of tickets in the cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tickets": {
                      "type": "array",
                      "description": "The list of tickets and their quantities in the cart"
                    },
                    "meta": {
                      "type": "array",
                      "description": "The list of meta for each ticket item in the cart"
                    },
                    "cart_url": {
                      "type": "string",
                      "description": "The provider cart URL"
                    },
                    "checkout_url": {
                      "type": "string",
                      "description": "The provider checkout URL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The post does not have any tickets"
          }
        }
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "schema": {
              "type": "string",
              "default": false
            },
            "description": "The cart provider",
            "required": true,
            "name": "provider"
          },
          {
            "in": "formData",
            "schema": {
              "type": "array",
              "default": false
            },
            "description": "List of tickets with their ID and quantity",
            "required": false,
            "name": "tickets"
          },
          {
            "in": "formData",
            "schema": {
              "type": "array",
              "default": false
            },
            "description": "List of meta for each ticket to be saved for Attendee Registration",
            "required": false,
            "name": "meta"
          },
          {
            "in": "formData",
            "schema": {
              "type": "integer",
              "default": false
            },
            "description": "The post ID",
            "required": false,
            "name": "post_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated list of tickets in the cart and cart details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tickets": {
                      "type": "array",
                      "description": "The list of tickets and their quantities in the cart"
                    },
                    "meta": {
                      "type": "array",
                      "description": "The list of meta for each ticket item in the cart"
                    },
                    "cart_url": {
                      "type": "string",
                      "description": "The provider cart URL"
                    },
                    "checkout_url": {
                      "type": "string",
                      "description": "The provider checkout URL"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The post ID is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "The post does not have any tickets"
          }
        }
      }
    },
    "/doc": {
      "get": {
        "responses": {
          "200": {
            "description": "Returns the documentation for Event Tickets REST API in Swagger consumable format."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Image": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL to the full size version of the image"
          },
          "id": {
            "type": "integer",
            "description": "The image WordPress post ID"
          },
          "extension": {
            "type": "string",
            "description": "The image file extension"
          },
          "width": {
            "type": "integer",
            "description": "The image natural width in pixels"
          },
          "height": {
            "type": "integer",
            "description": "The image natural height in pixels"
          },
          "sizes": {
            "type": "array",
            "description": "The details about each size available for the image",
            "items": {
              "$ref": "#/components/schemas/ImageSize"
            }
          }
        }
      },
      "ImageSize": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer",
            "description": "The image width in pixels in the specified size"
          },
          "height": {
            "type": "integer",
            "description": "The image height in pixels in the specified size"
          },
          "mime-type": {
            "type": "string",
            "description": "The image mime-type"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The link to the image in the specified size on the site"
          }
        }
      },
      "DateDetails": {
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "The date year"
          },
          "month": {
            "type": "integer",
            "description": "The date month"
          },
          "day": {
            "type": "integer",
            "description": "The date day"
          },
          "hour": {
            "type": "integer",
            "description": "The date hour"
          },
          "minutes": {
            "type": "integer",
            "description": "The date minutes"
          },
          "seconds": {
            "type": "integer",
            "description": "The date seconds"
          }
        }
      },
      "CostDetails": {
        "type": "object",
        "properties": {
          "currency_symbol": {
            "type": "string",
            "description": "The cost currency symbol"
          },
          "currency_position ": {
            "type": "string",
            "description": "The position of the currency symbol in the cost string",
            "enum": [
              "prefix",
              "postfix"
            ]
          },
          "values": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "A sorted array of all the numeric values for the cost"
          }
        }
      },
      "CapacityDetails": {
        "type": "object",
        "properties": {
          "available_percentage": {
            "type": "integer",
            "description": "The ticket available capacity percentage"
          },
          "max": {
            "type": "integer",
            "description": "The ticket max capacity"
          },
          "available": {
            "type": "integer",
            "description": "The ticket current available capacity"
          },
          "sold": {
            "type": "integer",
            "description": "The ticket sale count"
          },
          "pending": {
            "type": "integer",
            "description": "The ticket pending count"
          },
          "global_stock_mode": {
            "type": "string",
            "description": "The ticket global stock mode"
          }
        }
      },
      "CheckinDetails": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "The time the attendee checked in"
          },
          "date_details": {
            "$ref": "#/components/schemas/DateDetails"
          },
          "source": {
            "type": "string",
            "description": "The check-in source for the attendee; e.g. \"kiosk\" or \"site\""
          },
          "author": {
            "type": "string",
            "description": "The ID or identifying string of the site user or operator that checked in the attendee"
          }
        }
      },
      "PaymentDetails": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "The payment provider/gateway"
          },
          "price": {
            "type": "integer",
            "description": "The price paid by the attendee when he/she purchased the ticket"
          },
          "currency": {
            "type": "string",
            "description": "The currency used by the attendee to pay"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "The payment date"
          },
          "date_details": {
            "$ref": "#/components/schemas/DateDetails"
          }
        }
      },
      "RSVPReport": {
        "type": "object",
        "properties": {
          "rsvp_going": {
            "type": "integer",
            "description": "How many attendees are \"Going\""
          },
          "rsvp_not_going": {
            "type": "integer",
            "description": "How many attendees are \"Not going\""
          }
        }
      },
      "CheckinReport": {
        "type": "object",
        "properties": {
          "checked_in": {
            "type": "integer",
            "description": "The number of checked-in attendees"
          },
          "unchecked_in": {
            "type": "integer",
            "description": "The number of unchecked-in attendees"
          },
          "checked_in_percentage": {
            "type": "integer",
            "description": "The percentage of checked-in attendees"
          },
          "unchecked_in_percentage": {
            "type": "integer",
            "description": "The number of unchecked-in attendee"
          }
        }
      },
      "Ticket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The ticket WordPress post ID"
          },
          "post_id": {
            "type": "integer",
            "description": "The ID of the post the ticket is associated to"
          },
          "global_id": {
            "type": "string",
            "description": "The ticket global ID"
          },
          "global_id_lineage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The ticket global ID lineage"
          },
          "author": {
            "type": "integer",
            "description": "The ticket post author ID"
          },
          "status": {
            "type": "string",
            "description": "The ticket post status"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "The ticket creation date"
          },
          "date_utc": {
            "type": "string",
            "format": "date",
            "description": "The ticket creation UTC date"
          },
          "modified": {
            "type": "string",
            "format": "date",
            "description": "The ticket modification date"
          },
          "modified_utc": {
            "type": "string",
            "format": "date",
            "description": "The ticket modification UTC date"
          },
          "rest_url": {
            "type": "string",
            "format": "uri",
            "description": "The ticket ET REST API URL"
          },
          "provider": {
            "type": "string",
            "description": "The ticket commerce provider",
            "enum": [
              "rsvp",
              "tribe-commerce",
              "woo",
              "edd"
            ]
          },
          "title": {
            "type": "string",
            "description": "The ticket title"
          },
          "description": {
            "type": "string",
            "description": "The ticket description"
          },
          "image": {
            "$ref": "#/components/schemas/Image"
          },
          "available_from": {
            "type": "string",
            "format": "date",
            "description": "The date the ticket will be available"
          },
          "available_from_details": {
            "$ref": "#/components/schemas/DateDetails"
          },
          "available_until": {
            "type": "string",
            "format": "date",
            "description": "The date the ticket will be available"
          },
          "available_until_details": {
            "$ref": "#/components/schemas/DateDetails"
          },
          "capacity": {
            "type": "integer",
            "description": "The formatted ticket current capacity"
          },
          "capacity_details": {
            "$ref": "#/components/schemas/CapacityDetails"
          },
          "is_available": {
            "type": "boolean",
            "description": "Whether the ticket is currently available or not due to capacity or date constraints"
          },
          "cost": {
            "type": "integer",
            "description": "The formatted cost string"
          },
          "cost_details": {
            "$ref": "#/components/schemas/CostDetails"
          },
          "attendees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attendee"
            },
            "description": "A list of attendees for the ticket, "
          },
          "supports_attendee_information": {
            "type": "boolean",
            "description": "Whether the ticket supports at least one attendee information field, ET+ required"
          },
          "requires_attendee_information": {
            "type": "boolean",
            "description": "Whether the ticket requires at least one attendee information field, ET+ required"
          },
          "attendee_information_fields": {
            "type": "object",
            "description": "A list of attendee information fields supported/required by the ticket in the format [ <field-slug>: label, required, type, extra ]"
          },
          "rsvp": {
            "$ref": "#/components/schemas/RSVPReport"
          },
          "checkin": {
            "$ref": "#/components/schemas/CheckinReport"
          }
        }
      },
      "Attendee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The attendee WordPress post ID"
          },
          "post_id": {
            "type": "integer",
            "description": "The ID of the post the attendee is associated to"
          },
          "ticket_id": {
            "type": "integer",
            "description": "The ID of the ticket the attendee is associated with"
          },
          "global_id": {
            "type": "string",
            "description": "The attendee global ID"
          },
          "global_id_lineage": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The attendee global ID lineage"
          },
          "author": {
            "type": "integer",
            "description": "The attendee post author ID"
          },
          "status": {
            "type": "string",
            "description": "The attendee post status"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "The attendee creation date"
          },
          "date_utc": {
            "type": "string",
            "format": "date",
            "description": "The attendee creation UTC date"
          },
          "modified": {
            "type": "string",
            "format": "date",
            "description": "The attendee modification date"
          },
          "modified_utc": {
            "type": "string",
            "format": "date",
            "description": "The attendee modification UTC date"
          },
          "rest_url": {
            "type": "string",
            "format": "uri",
            "description": "The attendee ET REST API URL"
          },
          "provider": {
            "type": "string",
            "description": "The ticket commerce provider",
            "enum": [
              "rsvp",
              "tribe-commerce",
              "woo",
              "edd"
            ]
          },
          "order": {
            "type": "string",
            "description": "The order number, or identifier, of the ticket purchase that generated the attendee"
          },
          "sku": {
            "type": "string",
            "description": "The attendee ticket SKU"
          },
          "title": {
            "type": "string",
            "description": "The attendee title or name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The attendee email address"
          },
          "checked_in": {
            "type": "boolean",
            "description": "Whether the attendee is checked-in or not"
          },
          "checkin_details": {
            "$ref": "#/components/schemas/CheckinDetails"
          },
          "rsvp_going": {
            "type": "boolean",
            "description": "If the attendee is for an RSVP ticket, this will be set to true if he/she is \"Going\", false otherwise"
          },
          "payment": {
            "$ref": "#/components/schemas/PaymentDetails"
          },
          "information": {
            "type": "object",
            "description": "The attendee information; requires ET+"
          }
        }
      },
      "QR": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The ticket WordPress post ID"
          },
          "api_key": {
            "type": "string",
            "description": "The API key to authorize check in"
          },
          "security_code": {
            "type": "string",
            "description": "The security code of the ticket to verify for check in"
          },
          "event_id": {
            "type": "integer",
            "description": "The event WordPress post ID"
          }
        }
      }
    }
  }
}