{
  "swagger": "2.0",
  "info": {
    "description": "Api encargada de la operatividad via comercio electronico",
    "version": "v2",
    "title": "API Create transaction Yape",
    "termsOfService": "http://www.niubiz.com.pe",
    "contact": {
      "name": "Niubiz",
      "url": "http://www.niubiz.com.pe"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api-yape/v2/swagger.json"
  },
  "host": "apitestenv.vnforapps.com",
  "basePath": "/api.ecommerce/v2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/token/transaction/yape": {
      "post": {
        "tags": [
          "Create Transaction Yape"
        ],
        "summary": "Create Transaction Token Yape",
        "description": "RESTful API to create transaction token yape",
        "operationId": "createTransactionTokenYape",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Transaction token request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TransactionToken"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "description": "Access token obtained from api.security",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Card": {
      "type": "object",
      "properties": {
        "cardNumber": {
          "type": "string",
          "example": "g12Iwe/SPrZ7y1Eer9JI+iXmEDv1grOCjonZ4zMs64xbnpWqveosnTDnuNk82azKto47DW1jDx5Ipa4ddw0Eebz6aRaDMeq+cxDReXJ5Z9nAiq6+ruAg5xnzAuLAmmV5OxZOg0hIXitTxkB3yFSH2cTdXLtVu79s4MIAW2F/DdwhW+fEpbjTf0WnOPG7hnBcMaJnEvz3fIB5GW9gHi2FTR6ghWY5lmm+q94h0ZXyPQ5CAvLsijE24J+KehkH9HW88GxzE/YedT6Vi8Bxtc28YtH3fH4BisZsZJZLgjd3ypDn32KGEbszv0y0nm+Z5AfQ5z4W+r7MgxugO7zI9Rf10w==",
          "description": "Numero de tarjeta encriptado con publicKey"
        },
        "expirationMonth": {
          "type": "integer",
          "format": "int32",
          "example": 12,
          "description": "Mes de expiracion"
        },
        "expirationYear": {
          "type": "integer",
          "format": "int32",
          "example": 2029,
          "description": "Expiration year"
        },
        "cvv2": {
          "type": "string",
          "example": "329",
          "description": "CVV2"
        },
        "tokenId": {
          "type": "string",
          "example": "7000100000002553",
          "description": "Identificador de tarjeta tokenizada, opcional y reemplaza los datos de la tarjeta"
        },
        "encrypted": {
          "type": "boolean",
          "description": "Flag que indica si la tarjeta esta encryptada"
        }
      },
      "description": "Informacion de la tarejta"
    },
    "CardHolder": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string",
          "example": "Pedro",
          "description": "Nombre"
        },
        "lastName": {
          "type": "string",
          "example": "Galdamez",
          "description": "Apellido"
        },
        "email": {
          "type": "string",
          "example": "info@quiputech.com",
          "description": "Correo electronico"
        },
        "phoneNumber": {
          "type": "string",
          "example": "+51 1 2223333",
          "description": "Telefono"
        },
        "city": {
          "type": "string",
          "example": "Lima",
          "description": "Ciudad"
        },
        "country": {
          "type": "string",
          "example": "Peru",
          "description": "Pa\u00eds"
        },
        "documentType": {
          "type": "string",
          "example": "DNI",
          "description": "Tipo de documento",
          "enum": [
            "DNI",
            "CE",
            "PAS"
          ]
        },
        "documentNumber": {
          "type": "string",
          "example": "E065199",
          "description": "Numero de documento"
        }
      },
      "description": "Informacion del tarjethabiente"
    },
    "Order": {
      "type": "object",
      "properties": {
        "billingAddress": {
          "$ref": "#/definitions/BillingAddress"
        }
      },
      "description": "Datos de la orden"
    },
    "BillingAddress": {
      "type": "object",
      "properties": {
        "city": {
          "type": "string",
          "example": "Lima"
        },
        "country": {
          "type": "string",
          "example": "Peru"
        }
      },
      "description": "Datos de facturaci\u00f3n"
    },
    "TransactionToken": {
      "type": "object",
      "required": [
        "expiration",
        "tokenId"
      ],
      "properties": {
        "tokenId": {
          "type": "string",
          "description": "Identificador unico de la transaccion"
        },
        "expiration": {
          "type": "integer",
          "format": "int64",
          "description": "Fecha de expiracion del token de transaccion"
        },
        "redirectToVbV": {
          "type": "boolean",
          "description": "Flag si pas\u00f3 por VbV"
        },
        "mpi": {
          "type": "boolean",
          "description": "Flag si pas\u00f3 por MPI"
        }
      },
      "description": "Respuesta de creacion de token para autorizacion"
    },
    "TransactionTokenRequest": {
      "type": "object",
      "required": [
        "card",
        "channel",
        "merchantId",
        "order"
      ],
      "properties": {
        "channel": {
          "type": "string",
          "example": "yape",
          "description": "Canal desde donde se origino la transaccion",
          "enum": [
            "yape"
          ]
        },
        "merchantId": {
          "type": "string",
          "description": "Identificador unico del comercio"
        },
        "order": {
          "$ref": "#/definitions/Order"
        },
        "userBlockId": {
          "type": "string"
        },
        "card": {
          "$ref": "#/definitions/Card"
        },
        "customer": {
          "$ref": "#/definitions/CardHolder"
        }
      },
      "description": "Request de creacion de token para autorizacion"
    }
  },
  "tags": [
    {
      "name": "Create Transaction Yape"
    }
  ]
}
