{
  "openapi": "3.0.3",
  "info": {
    "title": "Lingvanex Cloud API",
    "description": "Lingvanex Cloud API for text translation, language detection, and transliteration. All requests must be sent over HTTPS with an Authorization header containing a Bearer token.",
    "version": "1.0.0",
    "termsOfService": "https://lingvanex.com/terms-of-service/",
    "contact": {
      "email": "info@lingvanex.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Lingvanex/lingvanex-b2b-api/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api-b2b.backenster.com/b1/api/v3",
      "description": "Production server"
    }
  ],
  "paths": {
    "/getLanguages": {
      "get": {
        "operationId": "getLanguages",
        "summary": "Get list of supported languages",
        "description": "Returns the list of languages supported by the translation API, including language codes, names, and available modes.",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "description": "Platform identifier",
            "schema": {
              "type": "string",
              "default": "api"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "Language code for localized language names",
            "schema": {
              "type": "string",
              "default": "en_GB"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of languages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLanguagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          }
        }
      }
    },
    "/translate": {
      "post": {
        "operationId": "translateText",
        "summary": "Translate text",
        "description": "Translates text, HTML content, or performs transliteration between languages. Supports automatic language detection when the source language is not specified.",
        "tags": [
          "Translation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful translation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          }
        }
      }
    },
    "/detectLanguage": {
      "post": {
        "operationId": "detectLanguage",
        "summary": "Detect language",
        "description": "Detects the language of the provided text content.",
        "tags": [
          "Detection"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectLanguageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful detection response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectLanguageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Bearer token for API authentication. Format: Bearer <token>"
      }
    },
    "schemas": {
      "LanguageMode": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Mode name (e.g. text, html)"
          },
          "value": {
            "type": "boolean",
            "description": "Whether the mode is supported"
          },
          "genders": {
            "type": "boolean",
            "description": "Whether gender-specific translations are available"
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "full_code": {
            "type": "string",
            "description": "Full language code (e.g. en_GB)",
            "example": "en_GB"
          },
          "code_alpha_1": {
            "type": "string",
            "description": "ISO 639-1 language code",
            "example": "en"
          },
          "englishName": {
            "type": "string",
            "description": "Language name in English",
            "example": "English"
          },
          "codeName": {
            "type": "string",
            "description": "Localized language name",
            "example": "English"
          },
          "flagPath": {
            "type": "string",
            "description": "Path to the language flag icon"
          },
          "testWordForSyntezis": {
            "type": "string",
            "description": "Test word for speech synthesis"
          },
          "modes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LanguageMode"
            }
          }
        }
      },
      "GetLanguagesResponse": {
        "type": "object",
        "properties": {
          "err": {
            "type": "string",
            "nullable": true,
            "description": "Error message, null on success"
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Language"
            }
          }
        }
      },
      "TranslateRequest": {
        "type": "object",
        "required": [
          "to",
          "data",
          "platform"
        ],
        "properties": {
          "from": {
            "type": "string",
            "description": "Source language code. If not provided, auto-detection is used.",
            "example": "en_GB"
          },
          "to": {
            "type": "string",
            "description": "Target language code",
            "example": "de_DE"
          },
          "data": {
            "type": "string",
            "description": "Text or HTML content to translate",
            "example": "Hello, world!"
          },
          "platform": {
            "type": "string",
            "description": "Platform identifier",
            "default": "api"
          },
          "translateMode": {
            "type": "string",
            "description": "Translation mode. Use 'html' for HTML content.",
            "example": "html"
          },
          "enableTransliteration": {
            "type": "boolean",
            "description": "Enable transliteration in response",
            "default": false
          }
        }
      },
      "TranslateResponse": {
        "type": "object",
        "properties": {
          "err": {
            "type": "string",
            "nullable": true,
            "description": "Error message, null on success"
          },
          "result": {
            "type": "string",
            "description": "Translated text"
          },
          "sourceTransliteration": {
            "type": "string",
            "description": "Transliteration of source text (if enabled)"
          },
          "targetTransliteration": {
            "type": "string",
            "description": "Transliteration of translated text (if enabled)"
          }
        }
      },
      "DetectLanguageRequest": {
        "type": "object",
        "required": [
          "data",
          "platform"
        ],
        "properties": {
          "data": {
            "type": "string",
            "description": "Text to detect language for",
            "example": "Hello, world!"
          },
          "platform": {
            "type": "string",
            "description": "Platform identifier",
            "default": "api"
          }
        }
      },
      "DetectLanguageResponse": {
        "type": "object",
        "properties": {
          "err": {
            "type": "string",
            "nullable": true,
            "description": "Error message, null on success"
          },
          "result": {
            "type": "string",
            "description": "Detected language code",
            "example": "en_GB"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "err": {
            "type": "string",
            "description": "Error description"
          }
        }
      },
      "AuthError": {
        "type": "object",
        "properties": {
          "err": {
            "type": "string",
            "description": "Authentication error description",
            "example": "Unauthorized: invalid or missing API key"
          }
        }
      }
    }
  },
  "security": [
    {
      "APIKeyHeader": []
    }
  ]
}