{
  "openapi": "3.0.3",
  "info": {
    "title": "Dynamic Mockups API",
    "version": "1.0.0",
    "description": "Dynamic Mockups API for generating mockup renders by applying design assets to smart objects within mockup templates.",
    "x-jentic-source-url": "https://docs.dynamicmockups.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.dynamicmockups.com/api/v1"
    }
  ],
  "paths": {
    "/renders": {
      "post": {
        "operationId": "createRender",
        "summary": "Create a mockup render",
        "description": "Generate a rendered mockup image by applying design assets to smart objects",
        "tags": [
          "Renders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Render created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RenderRequest": {
        "type": "object",
        "required": [
          "mockup_uuid",
          "smart_objects"
        ],
        "properties": {
          "mockup_uuid": {
            "type": "string",
            "description": "Mockup template identifier"
          },
          "smart_objects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string"
                },
                "asset": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "URL of the design asset"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RenderResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Renders"
    }
  ]
}
