{
  "openapi": "3.0.3",
  "info": {
    "title": "SigmaMind API",
    "version": "1.0.0",
    "description": "SigmaMind AI API for creating and managing outbound phone calls with AI agents.",
    "x-jentic-source-url": "https://docs.sigmamind.ai/api-reference/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.sigmamind.ai"
    }
  ],
  "paths": {
    "/v1/calls": {
      "post": {
        "operationId": "createPhoneCall",
        "summary": "Create phone call",
        "description": "Create an outbound call using an AI agent.",
        "tags": [
          "Calls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateCallRequest": {
        "type": "object",
        "required": [
          "fromPhoneNumber",
          "toPhoneNumber"
        ],
        "properties": {
          "fromPhoneNumber": {
            "type": "string",
            "description": "Phone number in E.164 format to call from. Must be obtained from SigmaMind or configured via SIP trunking.",
            "pattern": "^\\+[1-9][0-9]{6,14}$"
          },
          "toPhoneNumber": {
            "type": "string",
            "description": "Phone number in E.164 format to call.",
            "pattern": "^\\+[1-9][0-9]{6,14}$"
          },
          "agentId": {
            "type": "string",
            "description": "Unique identifier for the agent handling the call."
          },
          "variables": {
            "type": "object",
            "description": "Key-value pairs for call personalization.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "CallResponse": {
        "type": "object",
        "properties": {
          "callId": {
            "type": "string",
            "description": "Unique identifier for the call."
          },
          "callType": {
            "type": "string",
            "description": "Type of the call."
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number associated with the call."
          },
          "status": {
            "type": "string",
            "description": "Current status of the call."
          },
          "duration": {
            "type": "number",
            "description": "Duration of the call in seconds."
          },
          "terminationReason": {
            "type": "string",
            "description": "Reason the call was terminated."
          },
          "recordingUrl": {
            "type": "string",
            "description": "URL to the call recording, if available."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Calls"
    }
  ]
}
