{
  "openapi": "3.0.3",
  "info": {
    "title": "cdnjs API",
    "version": "1.0.0",
    "description": "Public API for browsing and searching the cdnjs library catalog, retrieving library details, version-specific files with SRI hashes, and CDN statistics.",
    "x-jentic-source-url": "https://cdnjs.com/api"
  },
  "servers": [
    {
      "url": "https://api.cdnjs.com"
    }
  ],
  "paths": {
    "/libraries": {
      "get": {
        "operationId": "listLibraries",
        "summary": "Browse all libraries",
        "description": "Returns a list of all libraries hosted on cdnjs with optional search and field filtering.",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter libraries",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in the response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_fields",
            "in": "query",
            "description": "Comma-separated list of fields to search within",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format. Use 'human' for formatted HTML display.",
            "schema": {
              "type": "string",
              "enum": [
                "human"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with library list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/libraries/{library}": {
      "get": {
        "operationId": "getLibrary",
        "summary": "Get a specific library",
        "description": "Retrieve detailed data for a specific library by name, including all versions and assets.",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "library",
            "in": "path",
            "required": true,
            "description": "The name of the library",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "human"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with library details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Library not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/libraries/{library}/{version}": {
      "get": {
        "operationId": "getLibraryVersion",
        "summary": "Get a specific library version",
        "description": "Access files and SRI hashes for a specific immutable version of a library.",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "library",
            "in": "path",
            "required": true,
            "description": "The name of the library",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The version of the library",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "human"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with version details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryVersion"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Library or version not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/whitelist": {
      "get": {
        "operationId": "getWhitelist",
        "summary": "Get file extension whitelist",
        "description": "List of file extensions permitted on the CDN as well as categories mapping extensions to file types.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "human"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with whitelist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Whitelist"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats": {
      "get": {
        "operationId": "getStats",
        "summary": "Get CDN statistics",
        "description": "Retrieve basic statistics about cdnjs holdings.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "human"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LibraryListResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LibrarySummary"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of libraries available"
          },
          "available": {
            "type": "integer",
            "description": "Number of libraries available in response"
          }
        }
      },
      "LibrarySummary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Library name"
          },
          "latest": {
            "type": "string",
            "description": "URL to the latest default file for the library"
          }
        }
      },
      "LibraryDetail": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "latest": {
            "type": "string"
          },
          "version": {
            "type": "string",
            "description": "Latest version number"
          },
          "description": {
            "type": "string"
          },
          "homepage": {
            "type": "string"
          },
          "repository": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          },
          "license": {
            "type": "string"
          },
          "versions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "sri": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "SRI hashes mapped by filename"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rawFiles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sri": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "LibraryVersion": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rawFiles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sri": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "Whitelist": {
        "type": "object",
        "properties": {
          "extensions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of permitted file extensions"
          },
          "categories": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Mapping of category names to file extensions"
          }
        }
      },
      "Stats": {
        "type": "object",
        "properties": {
          "libraries": {
            "type": "integer",
            "description": "Total number of libraries on cdnjs"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": [],
  "x-no-auth-required": true
}