{
  "openapi": "3.0.3",
  "info": {
    "title": "Flowlance Zapier API",
    "version": "1.0.0",
    "description": "API for Zapier integration with Flowlance. Flowlance is an AI store builder that helps you sell digital products and online services.",
    "x-jentic-source-url": "https://app.flowlance.com/api/zapier/docs"
  },
  "servers": [
    {
      "url": "https://app.flowlance.com/api/zapier",
      "description": "Flowlance API"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "operationId": "authenticateZapier",
        "summary": "Authenticate Zapier integration",
        "description": "Authenticate Zapier integration using API key",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "apiKey",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZapierAuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "get": {
        "operationId": "getClients",
        "summary": "Get clients",
        "description": "Get clients for the authenticated user",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "email",
            "in": "query",
            "description": "Filter clients by email"
          }
        ],
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZapierClientsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createClient",
        "summary": "Create a new client",
        "description": "Create a new client via Zapier integration",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "apiKey",
            "in": "query"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerZapierInit"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientZapierOutput"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "getOrders",
        "summary": "Get orders",
        "description": "Get orders for the authenticated user",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "fulfilled",
                "new",
                "overdue"
              ]
            },
            "required": false,
            "name": "state",
            "in": "query",
            "description": "Filter orders by state"
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZapierOrdersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key for Zapier authentication"
      }
    },
    "schemas": {
      "CustomerZapierInit": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Client email address"
          },
          "name": {
            "type": "string",
            "description": "Client name"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Client phone number"
          }
        },
        "required": [
          "email",
          "name"
        ],
        "description": "Schema for creating a new customer via Zapier"
      },
      "ClientZapierOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Client unique identifier"
          },
          "email": {
            "type": "string",
            "description": "Client email"
          },
          "name": {
            "type": "string",
            "description": "Client name"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Client phone number"
          },
          "state": {
            "type": "string",
            "enum": [
              "lead",
              "active",
              "inactive"
            ],
            "description": "Client state"
          }
        },
        "required": [
          "id",
          "email",
          "name",
          "createdAt",
          "state"
        ]
      },
      "OrderZapierOutput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Order unique identifier"
          },
          "documentUrl": {
            "type": "string",
            "description": "URL to order document"
          },
          "customerEmail": {
            "type": "string",
            "description": "Customer email"
          },
          "title": {
            "type": "string",
            "description": "Order title"
          },
          "total": {
            "type": "number",
            "description": "Order total amount"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "description": "Currency code (ISO 4217)"
          },
          "paymentMethod": {
            "type": "string",
            "enum": [
              "bankTransfer",
              "stripe",
              "paypal",
              "noInvoice"
            ],
            "description": "Payment method used"
          },
          "type": {
            "type": "string",
            "description": "Order type",
            "enum": [
              "session",
              "bundle",
              "digital",
              "lead",
              "course",
              "membership",
              "link",
              "referral",
              "custom",
              "direct",
              "community"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "fulfilled",
              "new",
              "overdue"
            ],
            "description": "Order state"
          }
        },
        "required": [
          "id",
          "documentUrl",
          "customerEmail",
          "title",
          "total",
          "currency",
          "paymentMethod",
          "type",
          "state"
        ]
      },
      "ZapierAuthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "bundle": {
            "type": "object",
            "properties": {
              "authData": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              }
            },
            "required": [
              "authData"
            ]
          }
        },
        "required": [
          "success",
          "bundle"
        ]
      },
      "ZapierClientsResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ClientZapierOutput"
        },
        "description": "Array of clients returned by Zapier API"
      },
      "ZapierOrdersResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/OrderZapierOutput"
        },
        "description": "Array of orders returned by Zapier API"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "statusCode": {
            "type": "number"
          }
        },
        "required": [
          "error",
          "statusCode"
        ]
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Zapier authentication endpoints"
    },
    {
      "name": "Clients",
      "description": "Client management endpoints"
    },
    {
      "name": "Orders",
      "description": "Order management endpoints"
    }
  ]
}