{
  "openapi": "3.0.3",
  "info": {
    "title": "Compiler Explorer API",
    "version": "1.0.0",
    "description": "REST API for the Compiler Explorer (godbolt.org) service. Provides access to compilers, languages, compilation, code formatting, and assembly documentation.",
    "x-jentic-source-url": "https://github.com/compiler-explorer/compiler-explorer/blob/main/docs/API.md"
  },
  "servers": [
    {
      "url": "https://godbolt.org/api",
      "description": "Compiler Explorer production server"
    }
  ],
  "paths": {
    "/languages": {
      "get": {
        "operationId": "listLanguages",
        "summary": "List supported languages",
        "tags": [
          "Languages"
        ],
        "responses": {
          "200": {
            "description": "List of supported languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Language"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/compilers": {
      "get": {
        "operationId": "listCompilers",
        "summary": "List all compilers",
        "tags": [
          "Compilers"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return, or 'all' for all fields",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of compilers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Compiler"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/compilers/{languageId}": {
      "get": {
        "operationId": "listCompilersByLanguage",
        "summary": "List compilers for a specific language",
        "tags": [
          "Compilers"
        ],
        "parameters": [
          {
            "name": "languageId",
            "in": "path",
            "required": true,
            "description": "Language identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return, or 'all' for all fields",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of compilers for the language",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Compiler"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/libraries/{languageId}": {
      "get": {
        "operationId": "listLibraries",
        "summary": "List libraries available for a language",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "languageId",
            "in": "path",
            "required": true,
            "description": "Language identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of libraries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Library"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tools/{languageId}": {
      "get": {
        "operationId": "listTools",
        "summary": "List tools available for a language",
        "tags": [
          "Tools"
        ],
        "parameters": [
          {
            "name": "languageId",
            "in": "path",
            "required": true,
            "description": "Language identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tools",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tool"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/shortlinkinfo/{linkId}": {
      "get": {
        "operationId": "getShortLinkInfo",
        "summary": "Get information about a short link",
        "tags": [
          "Short Links"
        ],
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "description": "Short link identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Short link information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortLinkInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/compiler/{compilerId}/compile": {
      "post": {
        "operationId": "compileCode",
        "summary": "Compile source code",
        "tags": [
          "Compilation"
        ],
        "parameters": [
          {
            "name": "compilerId",
            "in": "path",
            "required": true,
            "description": "Compiler identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompilationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compilation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompilationResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/compiler/{compilerId}/cmake": {
      "post": {
        "operationId": "compileCmake",
        "summary": "Perform a CMake compilation",
        "tags": [
          "Compilation"
        ],
        "parameters": [
          {
            "name": "compilerId",
            "in": "path",
            "required": true,
            "description": "Compiler identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CmakeCompilationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CMake compilation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompilationResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/formats": {
      "get": {
        "operationId": "listFormatters",
        "summary": "List available code formatters",
        "tags": [
          "Formatting"
        ],
        "responses": {
          "200": {
            "description": "List of formatters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Formatter"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/format/{formatter}": {
      "post": {
        "operationId": "formatCode",
        "summary": "Format source code",
        "tags": [
          "Formatting"
        ],
        "parameters": [
          {
            "name": "formatter",
            "in": "path",
            "required": true,
            "description": "Formatter identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Formatted source code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/asm/{instructionSet}/{opcode}": {
      "get": {
        "operationId": "getOpcodeDocumentation",
        "summary": "Get documentation for an assembly opcode",
        "tags": [
          "Assembly"
        ],
        "parameters": [
          {
            "name": "instructionSet",
            "in": "path",
            "required": true,
            "description": "Instruction set architecture",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "opcode",
            "in": "path",
            "required": true,
            "description": "Assembly opcode",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Opcode documentation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpcodeDocumentation"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/version": {
      "get": {
        "operationId": "getVersion",
        "summary": "Get Compiler Explorer version",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "Version information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string",
                      "description": "Git release name"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/releaseBuild": {
      "get": {
        "operationId": "getReleaseBuild",
        "summary": "Get release build number",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "Release build number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "build": {
                      "type": "string",
                      "description": "Release build number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Language": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Language identifier"
          },
          "name": {
            "type": "string",
            "description": "Language display name"
          }
        }
      },
      "Compiler": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Compiler identifier"
          },
          "name": {
            "type": "string",
            "description": "Compiler display name"
          },
          "lang": {
            "type": "string",
            "description": "Language identifier"
          },
          "compilerType": {
            "type": "string",
            "description": "Type of compiler"
          },
          "semver": {
            "type": "string",
            "description": "Semantic version"
          },
          "extensions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Supported file extensions"
          },
          "monaco": {
            "type": "string",
            "description": "Monaco editor language mode"
          }
        }
      },
      "Library": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Library identifier"
          },
          "versions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "version": {
                  "type": "string"
                }
              }
            },
            "description": "Available versions"
          }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "languageId": {
            "type": "string"
          },
          "allowStdin": {
            "type": "boolean"
          }
        }
      },
      "ShortLinkInfo": {
        "type": "object",
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "language": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "compilers": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "CompilationRequest": {
        "type": "object",
        "required": [
          "source"
        ],
        "properties": {
          "source": {
            "type": "string",
            "description": "Source code to compile"
          },
          "lang": {
            "type": "string",
            "description": "Language identifier"
          },
          "allowStoreCodeDebug": {
            "type": "boolean",
            "description": "Allow storing code for debug purposes"
          },
          "bypassCache": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "0=use cache, 1=bypass read, 2=bypass read and write"
          },
          "options": {
            "type": "object",
            "properties": {
              "userArguments": {
                "type": "string",
                "description": "Compiler command-line arguments"
              },
              "compilerOptions": {
                "type": "object",
                "properties": {
                  "producePp": {
                    "type": "boolean"
                  },
                  "produceAst": {
                    "type": "boolean"
                  },
                  "produceOptInfo": {
                    "type": "boolean"
                  }
                }
              },
              "filters": {
                "type": "object",
                "properties": {
                  "binary": {
                    "type": "boolean"
                  },
                  "binaryObject": {
                    "type": "boolean"
                  },
                  "commentOnly": {
                    "type": "boolean"
                  },
                  "demangle": {
                    "type": "boolean"
                  },
                  "directives": {
                    "type": "boolean"
                  },
                  "execute": {
                    "type": "boolean"
                  },
                  "intel": {
                    "type": "boolean"
                  },
                  "labels": {
                    "type": "boolean"
                  },
                  "libraryCode": {
                    "type": "boolean"
                  },
                  "trim": {
                    "type": "boolean"
                  }
                }
              },
              "tools": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "args": {
                      "type": "string"
                    }
                  }
                }
              },
              "libraries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string"
                },
                "contents": {
                  "type": "string"
                }
              }
            },
            "description": "Additional source files"
          }
        }
      },
      "CmakeCompilationRequest": {
        "type": "object",
        "required": [
          "source",
          "files"
        ],
        "properties": {
          "source": {
            "type": "string",
            "description": "CMakeLists.txt content"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string"
                },
                "contents": {
                  "type": "string"
                }
              }
            },
            "description": "Source files for the CMake project"
          },
          "options": {
            "type": "object",
            "properties": {
              "userArguments": {
                "type": "string"
              },
              "compilerOptions": {
                "type": "object",
                "properties": {
                  "cmakeArgs": {
                    "type": "string"
                  },
                  "customOutputFilename": {
                    "type": "string"
                  }
                }
              },
              "filters": {
                "type": "object"
              },
              "tools": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "libraries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "bypassCache": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ]
          }
        }
      },
      "CompilationResult": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Exit code"
          },
          "okToCache": {
            "type": "boolean"
          },
          "stdout": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                }
              }
            }
          },
          "stderr": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "tag": {
                  "type": "object"
                }
              }
            }
          },
          "asm": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "source": {
                  "type": "object"
                }
              }
            }
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Formatter": {
        "type": "object",
        "properties": {
          "exe": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "styles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": {
            "type": "string"
          }
        }
      },
      "FormatRequest": {
        "type": "object",
        "required": [
          "source"
        ],
        "properties": {
          "source": {
            "type": "string",
            "description": "Source code to format"
          },
          "base": {
            "type": "string",
            "description": "Base style to use"
          },
          "useSpaces": {
            "type": "boolean",
            "description": "Use spaces instead of tabs"
          },
          "tabWidth": {
            "type": "integer",
            "description": "Tab width in spaces"
          }
        }
      },
      "FormatResult": {
        "type": "object",
        "properties": {
          "answer": {
            "type": "string",
            "description": "Formatted source code"
          },
          "exit": {
            "type": "integer",
            "description": "Exit code"
          }
        }
      },
      "OpcodeDocumentation": {
        "type": "object",
        "properties": {
          "tooltip": {
            "type": "string",
            "description": "Short tooltip text"
          },
          "html": {
            "type": "string",
            "description": "Full HTML documentation"
          },
          "url": {
            "type": "string",
            "description": "URL to external documentation"
          }
        }
      }
    }
  }
}