{
  "openapi": "3.0.3",
  "info": {
    "title": "jo4 API",
    "description": "# jo4 URL Shortener API\n\nREST API for creating and managing short URLs with analytics.\n\n## Authentication\n\nThe API supports two authentication methods:\n\n1. **JWT Token** (for web applications): Include the token in the `Authorization` header\n2. **API Key** (for server-to-server): Include your API key in the `X-Jo4-API-Key` header\n\n## Code Examples\n\n### Python\n\n```python\nimport requests\n\nAPI_URL = \"https://jo4-api.jo4.io/api/v1\"\nAPI_KEY = \"your-api-key\"\n\nheaders = {\"X-Jo4-API-Key\": API_KEY, \"Content-Type\": \"application/json\"}\n\n# Create a short URL\nresponse = requests.post(\n    f\"{API_URL}/protected/urls\",\n    headers=headers,\n    json={\n        \"longUrl\": \"https://example.com/very/long/path\",\n        \"shortUrl\": \"my-custom-alias\",  # optional\n        \"title\": \"My Link\",\n        \"utmSource\": \"api\"\n    }\n)\ndata = response.json()\nshort_url = data[\"response\"][\"fullShortUrl\"]\nprint(f\"Created: {short_url}\")\n\n# Get URL stats\nslug = data[\"response\"][\"slug\"]\nstats = requests.get(\n    f\"{API_URL}/protected/urls/{slug}/stats\",\n    headers=headers\n).json()\nprint(f\"Total clicks: {stats['response']['totalClicks']}\")\n\n# List your URLs\nurls = requests.get(\n    f\"{API_URL}/protected/urls/myurls?page=0&size=10\",\n    headers=headers\n).json()\nfor url in urls[\"response\"][\"content\"]:\n    print(f\"{url['shortUrl']} -> {url['longUrl']}\")\n```\n\n### Node.js\n\n```javascript\nconst API_URL = 'https://jo4-api.jo4.io/api/v1';\nconst API_KEY = 'your-api-key';\n\nconst headers = {\n  'X-Jo4-API-Key': API_KEY,\n  'Content-Type': 'application/json'\n};\n\n// Create a short URL\nasync function createShortUrl(longUrl, customAlias) {\n  const response = await fetch(`${API_URL}/protected/urls`, {\n    method: 'POST',\n    headers,\n    body: JSON.stringify({\n      longUrl,\n      shortUrl: customAlias,\n      title: 'My Link'\n    })\n  });\n  const data = await response.json();\n  return data.response;\n}\n\n// Get URL stats\nasync function getStats(slug) {\n  const response = await fetch(\n    `${API_URL}/protected/urls/${slug}/stats`,\n    { headers }\n  );\n  const data = await response.json();\n  return data.response;\n}\n\n// List your URLs\nasync function listUrls(page = 0, size = 10) {\n  const response = await fetch(\n    `${API_URL}/protected/urls/myurls?page=${page}&size=${size}`,\n    { headers }\n  );\n  const data = await response.json();\n  return data.response.content;\n}\n\n// Usage\n(async () => {\n  const url = await createShortUrl('https://example.com/page', 'my-link');\n  console.log(`Created: ${url.fullShortUrl}`);\n\n  const stats = await getStats(url.slug);\n  console.log(`Clicks: ${stats.totalClicks}`);\n})();\n```\n\n### cURL\n\n```bash\n# Create a short URL\ncurl -X POST \"https://jo4-api.jo4.io/api/v1/protected/urls\" \\\n  -H \"X-Jo4-API-Key: your-api-key\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"longUrl\": \"https://example.com\", \"title\": \"My Link\"}'\n\n# Get URL stats\ncurl \"https://jo4-api.jo4.io/api/v1/protected/urls/{slug}/stats\" \\\n  -H \"X-Jo4-API-Key: your-api-key\"\n\n# List your URLs\ncurl \"https://jo4-api.jo4.io/api/v1/protected/urls/myurls?page=0&size=10\" \\\n  -H \"X-Jo4-API-Key: your-api-key\"\n\n# Delete a URL\ncurl -X DELETE \"https://jo4-api.jo4.io/api/v1/protected/urls/{slug}\" \\\n  -H \"X-Jo4-API-Key: your-api-key\"\n```\n\n## Rate Limits\n\n- API keys: 100 requests/minute (configurable per tier)\n- JWT auth: 200 requests/minute\n\nRate limit headers are included in responses:\n- `X-RateLimit-Limit`: Maximum requests per window\n- `X-RateLimit-Remaining`: Requests remaining in current window\n- `X-RateLimit-Reset`: Unix timestamp when the window resets\n\n## Error Responses\n\nAll errors follow this format:\n```json\n{\n  \"requestId\": \"uuid\",\n  \"faults\": [{\n    \"code\": \"ERROR_CODE\",\n    \"description\": \"Human readable message\"\n  }]\n}\n```\n\nCommon error codes: `URL_NOT_FOUND`, `URL_ALREADY_EXISTS`, `RATE_LIMIT_EXCEEDED`, `UNAUTHORIZED`\n",
    "contact": {
      "name": "jo4.io Support",
      "email": "support@jo4.io"
    },
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://jo4-api.jo4.io/v3/api-docs"
  },
  "servers": [
    {
      "url": "https://jo4-api.jo4.io",
      "description": "API Server"
    }
  ],
  "paths": {
    "/api/v1/protected/webhooks/{id}": {
      "put": {
        "tags": [
          "webhook-controller"
        ],
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyWebhookRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "webhook-controller"
        ],
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/url/{slug}/ab-test/variants/{variantId}": {
      "put": {
        "tags": [
          "ab-test-controller"
        ],
        "operationId": "updateVariant",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVariantReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyUrlVariantRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ab-test-controller"
        ],
        "operationId": "deleteVariant",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/url/{id}": {
      "put": {
        "tags": [
          "url-controller"
        ],
        "operationId": "updateUrl",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUrlReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyUrlRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "url-controller"
        ],
        "operationId": "deleteUrl",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/teams/{teamSlug}": {
      "get": {
        "tags": [
          "team-controller"
        ],
        "operationId": "getTeam",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTeamRsp"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "team-controller"
        ],
        "operationId": "updateTeam",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeamReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTeamRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "team-controller"
        ],
        "operationId": "deleteTeam",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/teams/{teamSlug}/members/{userId}": {
      "put": {
        "tags": [
          "team-controller"
        ],
        "operationId": "updateMemberRole",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRoleReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTeamMemberRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "team-controller"
        ],
        "operationId": "removeMember",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/teams/{teamSlug}/members/{memberId}/seat-type": {
      "put": {
        "tags": [
          "team-controller"
        ],
        "operationId": "changeSeatType",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTeamMemberRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/teams/{teamSlug}/billing/seats": {
      "put": {
        "tags": [
          "team-controller"
        ],
        "operationId": "updateSeatCount",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTeamBillingInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/shopify/integrations/{integrationId}/settings": {
      "put": {
        "tags": [
          "shopify-controller"
        ],
        "operationId": "updateSettings",
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShopifySettingsReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyShopifyIntegrationRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/referrals/rewards/{slug}/status": {
      "put": {
        "tags": [
          "referral-controller"
        ],
        "operationId": "updateRewardStatus",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRewardStatusReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyReferralRewardRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/referrals/programs/{slug}": {
      "get": {
        "tags": [
          "referral-controller"
        ],
        "operationId": "getProgram",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyReferralProgramRsp"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "referral-controller"
        ],
        "operationId": "updateProgram",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReferralProgramReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyReferralProgramRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "referral-controller"
        ],
        "operationId": "deleteProgram",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/notifications/preferences": {
      "get": {
        "tags": [
          "notification-controller"
        ],
        "operationId": "getPreferences",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyNotificationPreferencesRsp"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "notification-controller"
        ],
        "operationId": "updatePreferences",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNotificationPreferencesReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyNotificationPreferencesRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/newsletter/preferences": {
      "get": {
        "tags": [
          "newsletter-controller"
        ],
        "operationId": "getPreferences_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyNewsletterPreferencesRsp"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "newsletter-controller"
        ],
        "operationId": "updatePreferences_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNewsletterPreferencesReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyNewsletterPreferencesRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/fraud/signals/{signalId}/review": {
      "put": {
        "tags": [
          "fraud-controller"
        ],
        "operationId": "reviewSignal",
        "parameters": [
          {
            "name": "signalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewFraudSignalReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyFraudSignalRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/fraud/config": {
      "get": {
        "tags": [
          "fraud-controller"
        ],
        "operationId": "getConfig",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyFraudConfigRsp"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "fraud-controller"
        ],
        "operationId": "updateConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFraudConfigReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyFraudConfigRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/bio": {
      "get": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "getMyBioPage",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBioPageRsp"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "updateBioPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBioReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBioPageRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "createBioPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBioReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBioPageRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "deleteBioPage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/bio/links/{linkId}": {
      "put": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "updateLink",
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BioLinkReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBioPageRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "deleteLink",
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBioPageRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/bio/links/reorder": {
      "put": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "reorderLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderLinkReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBioPageRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/bio/contact-form": {
      "get": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "getContactFormConfig",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyContactFormConfigRsp"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "updateContactFormConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactFormConfigReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyContactFormConfigRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/bio/contact-form/submissions/{id}/read": {
      "put": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "markSubmissionRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkSubmissionReadReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyContactSubmissionRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/affiliate/publisher-profile": {
      "get": {
        "tags": [
          "affiliate-profile-controller"
        ],
        "operationId": "getMyPublisherProfile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyPublisherProfileRsp"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "affiliate-profile-controller"
        ],
        "operationId": "updatePublisherProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublisherProfileReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyPublisherProfileRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "affiliate-profile-controller"
        ],
        "operationId": "createPublisherProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublisherProfileReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyPublisherProfileRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/affiliate/campaigns/{slug}": {
      "get": {
        "tags": [
          "affiliate-campaign-controller"
        ],
        "operationId": "getCampaignBySlug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyCampaignRsp"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "affiliate-campaign-controller"
        ],
        "operationId": "updateCampaign",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyCampaignRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "affiliate-campaign-controller"
        ],
        "operationId": "deleteCampaign",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/affiliate/brand-profile": {
      "get": {
        "tags": [
          "affiliate-profile-controller"
        ],
        "operationId": "getMyBrandProfile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBrandProfileRsp"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "affiliate-profile-controller"
        ],
        "operationId": "updateBrandProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrandProfileReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBrandProfileRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "affiliate-profile-controller"
        ],
        "operationId": "createBrandProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrandProfileReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBrandProfileRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/admin/affiliate/categories/{slug}": {
      "put": {
        "tags": [
          "admin-affiliate-category-controller"
        ],
        "operationId": "updateCategory",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryDef"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyCategoryListRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-affiliate-category-controller"
        ],
        "operationId": "disableCategory",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyCategoryListRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/oauth-clients/{clientId}": {
      "put": {
        "tags": [
          "o-auth-admin-controller"
        ],
        "operationId": "updateClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "o-auth-admin-controller"
        ],
        "operationId": "deleteClient",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "tags": [
          "o-auth-controller"
        ],
        "operationId": "token",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string"
                  },
                  "code_verifier": {
                    "type": "string"
                  },
                  "refresh_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "grant_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/oauth/revoke": {
      "post": {
        "tags": [
          "o-auth-controller"
        ],
        "operationId": "revoke",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret",
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/authorize": {
      "get": {
        "tags": [
          "o-auth-controller"
        ],
        "operationId": "authorize",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "read"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "S256"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "o-auth-controller"
        ],
        "operationId": "authorizeConsent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeConsentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/zapier/hooks/url-created": {
      "post": {
        "tags": [
          "zapier-controller"
        ],
        "operationId": "subscribeUrlCreated",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/zapier/hooks/new-referrer": {
      "post": {
        "tags": [
          "zapier-controller"
        ],
        "operationId": "subscribeNewReferrer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/webhooks/stripe": {
      "post": {
        "tags": [
          "stripe-webhook-controller"
        ],
        "operationId": "handleStripeWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/webhooks/stripe-connect": {
      "post": {
        "tags": [
          "stripe-connect-webhook-controller"
        ],
        "operationId": "handleStripeConnectWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/webhooks/revenuecat": {
      "post": {
        "tags": [
          "revenue-cat-webhook-controller"
        ],
        "operationId": "handleRevenueCatWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/url": {
      "post": {
        "tags": [
          "public-url-creation-controller"
        ],
        "operationId": "createAnonymousUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAnonymousUrlReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyUrlRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/shopify/webhook/refunds/create": {
      "post": {
        "tags": [
          "shopify-webhook-controller"
        ],
        "operationId": "refundsCreated",
        "parameters": [
          {
            "name": "X-Shopify-Shop-Domain",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Shopify-Hmac-SHA256",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Shopify-Topic",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/public/shopify/webhook/orders/updated": {
      "post": {
        "tags": [
          "shopify-webhook-controller"
        ],
        "operationId": "ordersUpdated",
        "parameters": [
          {
            "name": "X-Shopify-Shop-Domain",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Shopify-Hmac-SHA256",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Shopify-Topic",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/public/shopify/webhook/orders/create": {
      "post": {
        "tags": [
          "shopify-webhook-controller"
        ],
        "operationId": "ordersCreated",
        "parameters": [
          {
            "name": "X-Shopify-Shop-Domain",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Shopify-Hmac-SHA256",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Shopify-Topic",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/public/reports": {
      "post": {
        "tags": [
          "report-controller"
        ],
        "operationId": "createAnonymousReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReportReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyReportRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/referral/conversion": {
      "post": {
        "tags": [
          "public-referral-controller"
        ],
        "operationId": "recordConversion",
        "parameters": [
          {
            "name": "X-Jo4-Conversion-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferralConversionReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyReferralConversionRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/conversion/postback": {
      "post": {
        "tags": [
          "public-conversion-controller"
        ],
        "operationId": "recordPostback",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversionPostbackReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyConversionRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/public/bio/{username}/click/{linkId}": {
      "post": {
        "tags": [
          "public-bio-controller"
        ],
        "operationId": "recordLinkClick",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/public/affiliate/postback/{campaignSlug}": {
      "post": {
        "tags": [
          "affiliate-postback-controller"
        ],
        "operationId": "handlePostback",
        "parameters": [
          {
            "name": "campaignSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostbackReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/white-label": {
      "get": {
        "tags": [
          "white-label-controller"
        ],
        "operationId": "getConfig_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyWhiteLabelConfigRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "white-label-controller"
        ],
        "operationId": "createOrUpdateConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhiteLabelConfigReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyWhiteLabelConfigRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "white-label-controller"
        ],
        "operationId": "deleteConfig",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/webhooks": {
      "get": {
        "tags": [
          "webhook-controller"
        ],
        "operationId": "getMyWebhooks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyWebhookListRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "webhook-controller"
        ],
        "operationId": "createWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyWebhookRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/webhooks/events/{eventId}/retry": {
      "post": {
        "tags": [
          "webhook-controller"
        ],
        "operationId": "retryWebhookEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyWebhookEventRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/user/sessions": {
      "get": {
        "tags": [
          "session-controller"
        ],
        "operationId": "listSessions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodySessionListRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "session-controller"
        ],
        "operationId": "createSession",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodySessionTokenRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "session-controller"
        ],
        "operationId": "revokeAllOtherSessions",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/user/billing/checkout": {
      "post": {
        "tags": [
          "user-profile-controller"
        ],
        "operationId": "createBillingCheckout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyCheckoutResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/url": {
      "post": {
        "tags": [
          "url-controller"
        ],
        "operationId": "createUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUrlReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyUrlRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/url/{slug}/conversions": {
      "get": {
        "tags": [
          "conversion-controller"
        ],
        "operationId": "getConversions",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyConversionListRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "conversion-controller"
        ],
        "operationId": "recordConversion_1",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordConversionReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyConversionRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/url/{slug}/ab-test": {
      "get": {
        "tags": [
          "ab-test-controller"
        ],
        "operationId": "getAbTestStats",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyAbTestStatsRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ab-test-controller"
        ],
        "operationId": "createAbTest",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAbTestReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyUrlVariantRsp"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ab-test-controller"
        ],
        "operationId": "endAbTest",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/url/{slug}/ab-test/winner/{variantId}": {
      "post": {
        "tags": [
          "ab-test-controller"
        ],
        "operationId": "declareWinner",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/url/{slug}/ab-test/variants": {
      "get": {
        "tags": [
          "ab-test-controller"
        ],
        "operationId": "getVariants",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyUrlVariantListRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ab-test-controller"
        ],
        "operationId": "addVariant",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddVariantReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyUrlVariantRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/url/{slug}/ab-test/resume": {
      "post": {
        "tags": [
          "ab-test-controller"
        ],
        "operationId": "resumeAbTest",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/url/{slug}/ab-test/promote": {
      "post": {
        "tags": [
          "ab-test-controller"
        ],
        "operationId": "promoteWinner",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/url/{slug}/ab-test/pause": {
      "post": {
        "tags": [
          "ab-test-controller"
        ],
        "operationId": "pauseAbTest",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/url/{id}/refresh-metadata": {
      "post": {
        "tags": [
          "url-controller"
        ],
        "operationId": "refreshMetadata",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyUrlRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/url/bulk-import": {
      "post": {
        "tags": [
          "url-controller"
        ],
        "operationId": "bulkImport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkImportReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBulkImportRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/transfer-request": {
      "post": {
        "tags": [
          "url-transfer-request-controller"
        ],
        "operationId": "createRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransferRequestReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTransferRequestRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/transfer-request/{slug}/reject": {
      "post": {
        "tags": [
          "url-transfer-request-controller"
        ],
        "operationId": "rejectRequest",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTransferRequestRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/transfer-request/{slug}/approve": {
      "post": {
        "tags": [
          "url-transfer-request-controller"
        ],
        "operationId": "approveRequest",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RespondTransferRequestReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTransferRequestRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/teams": {
      "get": {
        "tags": [
          "team-controller"
        ],
        "operationId": "getMyTeams",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTeamListRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "team-controller"
        ],
        "operationId": "createTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeamReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTeamRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/teams/{teamSlug}/transfer-ownership": {
      "post": {
        "tags": [
          "team-controller"
        ],
        "operationId": "transferOwnership",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferOwnershipReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTeamRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/teams/{teamSlug}/leave": {
      "post": {
        "tags": [
          "team-controller"
        ],
        "operationId": "leaveTeam",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/teams/{teamSlug}/invitations": {
      "get": {
        "tags": [
          "team-controller"
        ],
        "operationId": "getInvitations",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTeamInvitationListRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "team-controller"
        ],
        "operationId": "inviteMember",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteMemberReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTeamInvitationRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/teams/{teamSlug}/billing/portal": {
      "post": {
        "tags": [
          "team-controller"
        ],
        "operationId": "getBillingPortal",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyPortalResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/teams/{teamSlug}/billing/checkout": {
      "post": {
        "tags": [
          "team-controller"
        ],
        "operationId": "createBillingCheckout_1",
        "parameters": [
          {
            "name": "teamSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyCheckoutResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/teams/invitations/{token}/accept": {
      "post": {
        "tags": [
          "team-controller"
        ],
        "operationId": "acceptInvitation",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTeamMemberRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/tabs/sync": {
      "post": {
        "tags": [
          "tabs-controller"
        ],
        "operationId": "sync",
        "parameters": [
          {
            "name": "X-Extension-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TabsSyncReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTabsSyncRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/tabs/profile": {
      "post": {
        "tags": [
          "tabs-controller"
        ],
        "operationId": "updateProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TabsProfileReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyTabsProfileRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/shopify/connect": {
      "post": {
        "tags": [
          "shopify-controller"
        ],
        "operationId": "connect",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShopifyConnectReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyShopifyConnectRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/shopify/callback": {
      "post": {
        "tags": [
          "shopify-controller"
        ],
        "operationId": "callback",
        "parameters": [
          {
            "name": "shopDomain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyShopifyIntegrationRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/reports": {
      "post": {
        "tags": [
          "report-controller"
        ],
        "operationId": "createReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReportReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyReportRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/referrals/rewards/bulk-pay": {
      "post": {
        "tags": [
          "referral-controller"
        ],
        "operationId": "bulkMarkPaid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkRewardActionReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBulkResultRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/referrals/rewards/bulk-approve": {
      "post": {
        "tags": [
          "referral-controller"
        ],
        "operationId": "bulkApproveRewards",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkRewardActionReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBulkResultRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/referrals/programs": {
      "get": {
        "tags": [
          "referral-controller"
        ],
        "operationId": "getMyPrograms",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyReferralProgramListRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "referral-controller"
        ],
        "operationId": "createProgram",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReferralProgramReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyReferralProgramRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/referrals/programs/{slug}/regenerate-secret": {
      "post": {
        "tags": [
          "referral-controller"
        ],
        "operationId": "regenerateSecret",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyReferralProgramRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/referrals/programs/{slug}/enroll": {
      "post": {
        "tags": [
          "referral-controller"
        ],
        "operationId": "enrollInProgram",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollReferrerReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyReferrerRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/notifications/{slug}/read": {
      "post": {
        "tags": [
          "notification-controller"
        ],
        "operationId": "markRead",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/notifications/read-all": {
      "post": {
        "tags": [
          "notification-controller"
        ],
        "operationId": "markAllRead",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/notifications/push-token": {
      "post": {
        "tags": [
          "notification-controller"
        ],
        "operationId": "registerPushToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterPushTokenReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "notification-controller"
        ],
        "operationId": "unregisterPushToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterPushTokenReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/notifications/push-test": {
      "post": {
        "tags": [
          "notification-controller"
        ],
        "operationId": "testPush",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/protected/fraud/config/whitelist": {
      "post": {
        "tags": [
          "fraud-controller"
        ],
        "operationId": "whitelistIp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhitelistIpReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyFraudConfigRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/domains": {
      "get": {
        "tags": [
          "custom-domain-controller"
        ],
        "operationId": "getDomains",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyCustomDomainListRsp"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "custom-domain-controller"
        ],
        "operationId": "addDomain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDomainReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyCustomDomainRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/domains/{id}/verify": {
      "post": {
        "tags": [
          "custom-domain-controller"
        ],
        "operationId": "verifyDomain",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyCustomDomainRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/domains/{id}/provision-ssl": {
      "post": {
        "tags": [
          "custom-domain-controller"
        ],
        "operationId": "provisionSsl",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyCustomDomainRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/bio/links": {
      "post": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "addLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BioLinkReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBioPageRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/bio/links/{linkId}/refresh-metadata": {
      "post": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "refreshLinkMetadata",
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBioPageRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/bio/links/refresh-all-metadata": {
      "post": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "refreshAllLinkMetadata",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBioPageRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/bio/links/preview-metadata": {
      "post": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "previewLinkMetadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyLinkMetadataPreviewRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/bio/contact-form/submissions/{id}/spam": {
      "post": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "markAsSpam",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyBlockedSenderRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/bio/contact-form/spam/{id}/restore": {
      "post": {
        "tags": [
          "bio-controller"
        ],
        "operationId": "restoreFromSpam",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseBodyContactSubmissionRsp"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/protected/bio-contact/{username}/contact": {
      "post": {
        "tags": [
          "bio-contact-controller"
        ],
        "operationId": "submitContactForm",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
[...]
