{
  "openapi": "3.0.3",
  "info": {
    "title": "Route4Me Route Optimization API",
    "description": "Cloud-based route optimization API for logistics and fleet management. Provides route planning, optimization, and tracking capabilities.",
    "version": "4.0",
    "x-jentic-source-url": "https://route4me.io/docs/"
  },
  "servers": [
    {
      "url": "https://api.route4me.com",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/api.v4/optimization_problem.php": {
      "post": {
        "operationId": "createOptimization",
        "summary": "Create a new optimization",
        "description": "Create a new optimization problem with addresses and route parameters. Solving an optimization problem may result in multiple routes.",
        "tags": [
          "Optimizations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "name": "optimized_callback_url",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "URL to receive callback when optimization is complete"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptimizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Optimization created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "getOptimization",
        "summary": "Retrieve optimization(s)",
        "description": "Retrieve a single optimization by ID, or retrieve multiple optimizations with filtering.",
        "tags": [
          "Optimizations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "name": "optimization_problem_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unique optimization identifier. If omitted, returns multiple optimizations."
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated optimization states to filter by"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Search starting position"
          }
        ],
        "responses": {
          "200": {
            "description": "Optimization(s) retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "operationId": "updateOptimization",
        "summary": "Update an optimization",
        "description": "Update an existing optimization problem, such as adding addresses or changing parameters.",
        "tags": [
          "Optimizations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "name": "optimization_problem_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique optimization identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptimizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Optimization updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptimizationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteOptimization",
        "summary": "Delete an optimization",
        "description": "Delete an optimization problem.",
        "tags": [
          "Optimizations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "name": "optimization_problem_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique optimization identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Optimization deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/get_activities.php": {
      "get": {
        "operationId": "getActivities",
        "summary": "Get activity feed",
        "description": "Retrieve the activity feed with recent events and changes.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiKeyParam"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records to return"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Starting position"
          }
        ],
        "responses": {
          "200": {
            "description": "Activities retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Activity"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Route4Me API key"
      }
    },
    "parameters": {
      "ApiKeyParam": {
        "name": "api_key",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "User's API key"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "boolean"
          }
        }
      },
      "OptimizationRequest": {
        "type": "object",
        "required": [
          "addresses",
          "parameters"
        ],
        "properties": {
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "depots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            },
            "description": "Separate depot addresses (optional)"
          },
          "parameters": {
            "$ref": "#/components/schemas/RouteParameters"
          }
        }
      },
      "OptimizationResponse": {
        "type": "object",
        "properties": {
          "optimization_problem_id": {
            "type": "string"
          },
          "state": {
            "type": "integer",
            "description": "Optimization state"
          },
          "parameters": {
            "$ref": "#/components/schemas/RouteParameters"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Route"
            }
          },
          "total_addresses": {
            "type": "integer"
          }
        }
      },
      "Address": {
        "type": "object",
        "required": [
          "address",
          "lat",
          "lng"
        ],
        "properties": {
          "address": {
            "type": "string",
            "description": "Address string"
          },
          "lat": {
            "type": "number",
            "format": "double",
            "description": "Latitude"
          },
          "lng": {
            "type": "number",
            "format": "double",
            "description": "Longitude"
          },
          "is_depot": {
            "type": "boolean",
            "description": "Whether this address is a depot"
          },
          "time": {
            "type": "integer",
            "description": "Service time in seconds"
          },
          "time_window_start": {
            "type": "integer",
            "description": "Time window start (seconds from midnight)"
          },
          "time_window_end": {
            "type": "integer",
            "description": "Time window end (seconds from midnight)"
          },
          "alias": {
            "type": "string"
          },
          "weight": {
            "type": "number"
          },
          "cube": {
            "type": "number"
          },
          "revenue": {
            "type": "number"
          }
        }
      },
      "RouteParameters": {
        "type": "object",
        "properties": {
          "algorithm_type": {
            "type": "integer",
            "description": "Optimization algorithm type (1=TSP, 2=VRP, 3=CVRP_TW_SD, 4=CVRP_TW_MD, etc.)"
          },
          "route_name": {
            "type": "string"
          },
          "route_date": {
            "type": "integer",
            "description": "Route date as Unix timestamp"
          },
          "route_time": {
            "type": "integer",
            "description": "Route start time in seconds from midnight"
          },
          "optimize": {
            "type": "string",
            "enum": [
              "Distance",
              "Time",
              "timeWithTraffic"
            ],
            "description": "Optimization metric"
          },
          "distance_unit": {
            "type": "string",
            "enum": [
              "mi",
              "km"
            ]
          },
          "travel_mode": {
            "type": "string",
            "enum": [
              "Driving",
              "Walking",
              "Bicycling"
            ]
          },
          "vehicle_capacity": {
            "type": "integer"
          },
          "vehicle_max_distance_mi": {
            "type": "number"
          },
          "parts": {
            "type": "integer",
            "description": "Maximum number of routes"
          },
          "rt": {
            "type": "boolean",
            "description": "Round trip"
          },
          "share_route": {
            "type": "boolean"
          },
          "store_route": {
            "type": "boolean"
          }
        }
      },
      "Route": {
        "type": "object",
        "properties": {
          "route_id": {
            "type": "string"
          },
          "optimization_problem_id": {
            "type": "string"
          },
          "route_name": {
            "type": "string"
          },
          "trip_distance": {
            "type": "number"
          },
          "route_duration_sec": {
            "type": "integer"
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "activity_id": {
            "type": "string"
          },
          "activity_type": {
            "type": "string"
          },
          "activity_timestamp": {
            "type": "integer"
          },
          "activity_message": {
            "type": "string"
          },
          "route_id": {
            "type": "string"
          },
          "member_id": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Optimizations",
      "description": "Route optimization operations"
    },
    {
      "name": "Activities",
      "description": "Activity feed"
    }
  ]
}