{
  "openapi": "3.0.3",
  "info": {
    "title": "Hirak IP to Country API",
    "description": "A simple API that translates an IP address into country information. Provides IP-to-location mapping for determining the geographic origin of IP addresses.",
    "version": "1.0.0",
    "contact": {
      "name": "Hirak",
      "url": "https://iplocation.hirak.site/"
    },
    "x-jentic-source-url": "https://iplocation.hirak.site/"
  },
  "servers": [
    {
      "url": "https://iplocation.hirak.site/api",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "IP Lookup",
      "description": "IP address to country lookup operations"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": ["IP Lookup"],
        "summary": "Get country from caller IP",
        "description": "Returns the country information for the requesting client's IP address.",
        "operationId": "getCallerCountry",
        "responses": {
          "200": {
            "description": "Successful response with IP location data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IpLocationResponse" }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/{ip}": {
      "get": {
        "tags": ["IP Lookup"],
        "summary": "Get country from specific IP",
        "description": "Returns the country information for the specified IP address.",
        "operationId": "getCountryByIp",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "description": "IPv4 or IPv6 address to look up",
            "schema": { "type": "string" },
            "example": "8.8.8.8"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with IP location data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IpLocationResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid IP address format",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "IP address not found in database"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IpLocationResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "The queried IP address"
          },
          "country": {
            "type": "string",
            "description": "Full country name"
          },
          "country_code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "continent": {
            "type": "string",
            "description": "Continent name"
          },
          "continent_code": {
            "type": "string",
            "description": "Continent code"
          },
          "city": {
            "type": "string",
            "description": "City name (if available)"
          },
          "region": {
            "type": "string",
            "description": "Region or state name (if available)"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Approximate latitude"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Approximate longitude"
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone identifier"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
