{
  "openapi": "3.0.3",
  "info": {
    "title": "Zengine REST API",
    "description": "Zengine is a platform for managing data through workspaces, forms, records, tasks, events, notes, files, and more. The REST API enables integration with other apps such as email systems, marketing automation systems, or EMRs. All API communications require HTTPS. Each access token is allowed 250 queries per 5 minute window.",
    "version": "1.0",
    "contact": {
      "name": "Zengine Developer Support",
      "url": "https://zenginehq.github.io/developers/"
    },
    "x-jentic-source-url": "https://zenginehq.github.io/developers/"
  },
  "servers": [
    {
      "url": "https://api.zenginehq.com/v1",
      "description": "Zengine API Production Server"
    }
  ],
  "security": [
    {
      "oauth2": []
    },
    {
      "accessToken": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Manage user accounts and profiles"
    },
    {
      "name": "User Authorizations",
      "description": "View and revoke authorized clients for a user"
    },
    {
      "name": "User Clients",
      "description": "Manage API clients for a user"
    },
    {
      "name": "User Avatar",
      "description": "Upload and manage user avatar images"
    },
    {
      "name": "Workspaces",
      "description": "Create, update, delete, and list workspaces"
    },
    {
      "name": "Workspace Roles",
      "description": "Manage workspace permission roles"
    },
    {
      "name": "Workspace Invitees",
      "description": "Invite users to a workspace"
    },
    {
      "name": "Workspace Members",
      "description": "Manage workspace membership"
    },
    {
      "name": "Workspace Logo",
      "description": "Upload and manage workspace logo images"
    },
    {
      "name": "Workspace Copy Jobs",
      "description": "Copy workspaces including forms, task lists, and email templates"
    },
    {
      "name": "Workspace Form Links",
      "description": "Manage form relationships to workspaces"
    },
    {
      "name": "Forms",
      "description": "Create, update, delete, and list forms"
    },
    {
      "name": "Form Fields",
      "description": "Add and manage form fields"
    },
    {
      "name": "Form Records",
      "description": "Create, update, delete, and list form records"
    },
    {
      "name": "Form Folders",
      "description": "Organize records within forms using folders"
    },
    {
      "name": "Form Uploads",
      "description": "Upload files to form file-upload fields"
    },
    {
      "name": "Form Groups",
      "description": "Organize forms into groups"
    },
    {
      "name": "Form Permissions",
      "description": "Manage form-level read permissions"
    },
    {
      "name": "Record Permissions",
      "description": "Manage record-level CRUD permissions"
    },
    {
      "name": "Record Import",
      "description": "Import records from CSV files"
    },
    {
      "name": "Record Export",
      "description": "Export records"
    },
    {
      "name": "Tasks",
      "description": "Create, update, delete, and list tasks"
    },
    {
      "name": "Task Lists",
      "description": "Manage task lists"
    },
    {
      "name": "Task Priorities",
      "description": "List available task priorities"
    },
    {
      "name": "Task Statuses",
      "description": "List available task statuses"
    },
    {
      "name": "Events",
      "description": "Create, update, delete, and list events"
    },
    {
      "name": "Files",
      "description": "Upload, view, edit, and delete files"
    },
    {
      "name": "Notes",
      "description": "Add and manage notes on tasks, events, or files"
    },
    {
      "name": "Note Replies",
      "description": "Manage replies to notes"
    },
    {
      "name": "Activities",
      "description": "View activity logs for resource changes"
    },
    {
      "name": "Subscriptions",
      "description": "Subscribe to resource change notifications"
    },
    {
      "name": "Notifications",
      "description": "Retrieve user notifications"
    },
    {
      "name": "Notification Email",
      "description": "Configure notification email frequency"
    },
    {
      "name": "Data Views",
      "description": "Save and manage filtered views of records"
    },
    {
      "name": "Calculation Settings",
      "description": "Save settings for performing calculations on records"
    },
    {
      "name": "Calculate",
      "description": "Perform calculations on form records"
    },
    {
      "name": "Binary Export Jobs",
      "description": "Generate binary files (PDFs) from HTML templates"
    },
    {
      "name": "Binary Export Batches",
      "description": "Manage batches for binary export jobs"
    },
    {
      "name": "Document Templates",
      "description": "Manage document generation templates"
    },
    {
      "name": "Document Jobs",
      "description": "Manage document generation jobs"
    },
    {
      "name": "Plugins",
      "description": "Manage plugins"
    },
    {
      "name": "Plugin Uploads",
      "description": "Upload plugin frontend code"
    },
    {
      "name": "Plugin Services",
      "description": "Manage plugin backend services"
    },
    {
      "name": "Plugin Screenshots",
      "description": "Manage plugin screenshots"
    },
    {
      "name": "Workspace Plugin Links",
      "description": "Link plugins to workspaces"
    },
    {
      "name": "Webhooks",
      "description": "Create and manage webhooks for resource events"
    },
    {
      "name": "Scheduled Webhooks",
      "description": "Manage scheduled webhook events"
    },
    {
      "name": "Webhook Events",
      "description": "View webhook delivery logs"
    },
    {
      "name": "App Templates",
      "description": "Browse marketplace app templates"
    },
    {
      "name": "App Template Categories",
      "description": "Browse app template categories"
    },
    {
      "name": "App Template Install Jobs",
      "description": "Install app templates into your account"
    },
    {
      "name": "Countries",
      "description": "List countries for country-select fields"
    },
    {
      "name": "States",
      "description": "List states for state-select fields"
    },
    {
      "name": "Currencies",
      "description": "List currencies for numeric field formatting"
    },
    {
      "name": "Taxonomy",
      "description": "Form field and terminology taxonomy information"
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "description": "Retrieve a list of users that belong to the same workspaces as you.",
        "operationId": "listUsers",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "User ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "Username.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "displayName",
            "in": "query",
            "description": "Display name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created",
            "in": "query",
            "description": "Created date filter.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modified",
            "in": "query",
            "description": "Modified date filter.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/related"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/attributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          },
          "404": {
            "description": "No data was found"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create a user",
        "description": "Create a new user account.",
        "operationId": "createUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password",
                  "email"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Username for the account."
                  },
                  "password": {
                    "type": "string",
                    "description": "Password for the account."
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address."
                  },
                  "displayName": {
                    "type": "string",
                    "description": "Display name."
                  },
                  "notify": {
                    "type": "boolean",
                    "description": "Send notification email."
                  },
                  "profile": {
                    "$ref": "#/components/schemas/UserProfile"
                  },
                  "settings": {
                    "$ref": "#/components/schemas/UserSettings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "403": {
            "description": "Validation or authorization error"
          },
          "500": {
            "description": "System error"
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a user",
        "description": "Retrieve a specific user by ID.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/related"
          },
          {
            "$ref": "#/components/parameters/attributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "403": {
            "description": "Must pass valid ID"
          },
          "404": {
            "description": "No data was found"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update a user",
        "description": "Update an existing user account.",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "description": "New password."
                  },
                  "oldPassword": {
                    "type": "string",
                    "description": "Required when changing password."
                  },
                  "profile": {
                    "$ref": "#/components/schemas/UserProfile"
                  },
                  "settings": {
                    "$ref": "#/components/schemas/UserSettings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully"
          },
          "403": {
            "description": "Validation or authorization error"
          },
          "404": {
            "description": "No data was found"
          },
          "500": {
            "description": "System error"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete a user",
        "description": "Delete a user account.",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "User ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No data was found"
          },
          "500": {
            "description": "System error"
          }
        }
      }
    },
    "/users/{userId}/authorizations": {
      "get": {
        "tags": [
          "User Authorizations"
        ],
        "summary": "List authorized clients",
        "description": "View clients authorized to access a user's Zengine account.",
        "operationId": "listUserAuthorizations",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        }
      }
    },
    "/users/{userId}/authorizations/{authorizationId}": {
      "get": {
        "tags": [
          "User Authorizations"
        ],
        "summary": "Get an authorized client",
        "operationId": "getUserAuthorization",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "authorizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "Get an authorized client"
      },
      "delete": {
        "tags": [
          "User Authorizations"
        ],
        "summary": "Revoke an authorized client",
        "description": "Revoke access for an authorized client.",
        "operationId": "revokeUserAuthorization",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "authorizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authorization revoked"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No data was found"
          }
        }
      }
    },
    "/users/{userId}/clients": {
      "get": {
        "tags": [
          "User Clients"
        ],
        "summary": "List user clients",
        "description": "List API clients (applications) for a user.",
        "operationId": "listUserClients",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        }
      }
    },
    "/users/{userId}/avatar": {
      "post": {
        "tags": [
          "User Avatar"
        ],
        "summary": "Upload user avatar",
        "description": "Upload an avatar image. The image is cropped and shrunk proportionally to 40x40 pixels.",
        "operationId": "uploadUserAvatar",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to upload."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Avatar uploaded successfully"
          },
          "403": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "System error"
          }
        }
      }
    },
    "/users/{userId}/task_preferences": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user task preferences",
        "description": "Retrieve task display preferences for a user.",
        "operationId": "getUserTaskPreferences",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update user task preferences",
        "operationId": "updateUserTaskPreferences",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preferences updated"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "description": "Update user task preferences"
      }
    },
    "/users/{userId}/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "List user notifications",
        "description": "Retrieve notifications for a user about subscribed resources.",
        "operationId": "listUserNotifications",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        }
      }
    },
    "/users/{userId}/notification_email": {
      "get": {
        "tags": [
          "Notification Email"
        ],
        "summary": "Get notification email settings",
        "operationId": "getUserNotificationEmail",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "Get notification email settings"
      },
      "put": {
        "tags": [
          "Notification Email"
        ],
        "summary": "Update notification email settings",
        "description": "Change how often notification emails are received.",
        "operationId": "updateUserNotificationEmail",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated"
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List workspaces",
        "description": "Retrieve a list of all workspaces you are a member of.",
        "operationId": "listWorkspaces",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Workspace ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Workspace name (max 64 characters).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isDisabled",
            "in": "query",
            "description": "Filter by disabled status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "created",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modified",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/related"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/attributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceListResponse"
                }
              }
            }
          },
          "404": {
            "description": "No data was found"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      },
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Create a workspace",
        "operationId": "createWorkspace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Workspace name."
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 100000,
                    "description": "Workspace description."
                  },
                  "tags": {
                    "type": "string",
                    "description": "Comma-separated tags."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceResponse"
                }
              }
            }
          },
          "403": {
            "description": "Validation or authorization error"
          },
          "500": {
            "description": "System error"
          }
        },
        "description": "Create a workspace"
      }
    },
    "/workspaces/{workspaceId}": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Get a workspace",
        "operationId": "getWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/related"
          },
          {
            "$ref": "#/components/parameters/attributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceResponse"
                }
              }
            }
          },
          "403": {
            "description": "Must pass valid ID"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "Get a workspace"
      },
      "put": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Update a workspace",
        "operationId": "updateWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 100000
                  },
                  "tags": {
                    "type": "string"
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "disableSupport": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace updated"
          },
          "403": {
            "description": "Validation or authorization error"
          },
          "500": {
            "description": "System error"
          }
        },
        "description": "Update a workspace"
      },
      "delete": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Delete a workspace",
        "operationId": "deleteWorkspace",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace deleted"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No data was found"
          },
          "500": {
            "description": "System error"
          }
        },
        "description": "Delete a workspace"
      }
    },
    "/workspaces/{workspaceId}/roles": {
      "get": {
        "tags": [
          "Workspace Roles"
        ],
        "summary": "List workspace roles",
        "description": "Retrieve roles for a workspace. Standard roles: Owner, Administrator, Editor, Full Member.",
        "operationId": "listWorkspaceRoles",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        }
      },
      "post": {
        "tags": [
          "Workspace Roles"
        ],
        "summary": "Create a custom role",
        "operationId": "createWorkspaceRole",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role created"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a custom role"
      }
    },
    "/workspaces/{workspaceId}/roles/{roleId}": {
      "get": {
        "tags": [
          "Workspace Roles"
        ],
        "summary": "Get a workspace role",
        "operationId": "getWorkspaceRole",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "Get a workspace role"
      },
      "put": {
        "tags": [
          "Workspace Roles"
        ],
        "summary": "Update a workspace role",
        "operationId": "updateWorkspaceRole",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role updated"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "description": "Update a workspace role"
      },
      "delete": {
        "tags": [
          "Workspace Roles"
        ],
        "summary": "Delete a workspace role",
        "operationId": "deleteWorkspaceRole",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role deleted"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "Delete a workspace role"
      }
    },
    "/workspaces/{workspaceId}/invitees": {
      "get": {
        "tags": [
          "Workspace Invitees"
        ],
        "summary": "List workspace invitees",
        "operationId": "listWorkspaceInvitees",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "List workspace invitees"
      },
      "post": {
        "tags": [
          "Workspace Invitees"
        ],
        "summary": "Invite a user to a workspace",
        "operationId": "createWorkspaceInvitee",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation sent"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "description": "Invite a user to a workspace"
      }
    },
    "/workspaces/{workspaceId}/members": {
      "get": {
        "tags": [
          "Workspace Members"
        ],
        "summary": "List workspace members",
        "operationId": "listWorkspaceMembers",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "List workspace members"
      },
      "post": {
        "tags": [
          "Workspace Members"
        ],
        "summary": "Add a workspace member",
        "description": "Accept an invitation by passing the invite code.",
        "operationId": "createWorkspaceMember",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member added"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/members/{memberId}": {
      "get": {
        "tags": [
          "Workspace Members"
        ],
        "summary": "Get a workspace member",
        "operationId": "getWorkspaceMember",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "Get a workspace member"
      },
      "put": {
        "tags": [
          "Workspace Members"
        ],
        "summary": "Update a workspace member",
        "operationId": "updateWorkspaceMember",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member updated"
          }
        },
        "description": "Update a workspace member"
      },
      "delete": {
        "tags": [
          "Workspace Members"
        ],
        "summary": "Remove a workspace member",
        "operationId": "deleteWorkspaceMember",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Member removed"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "description": "Remove a workspace member"
      }
    },
    "/workspaces/{workspaceId}/members/{memberId}/task_preferences": {
      "get": {
        "tags": [
          "Workspace Members"
        ],
        "summary": "Get member task preferences",
        "description": "Retrieve workspace-specific task display preferences for a member.",
        "operationId": "getMemberTaskPreferences",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "tags": [
          "Workspace Members"
        ],
        "summary": "Update member task preferences",
        "operationId": "updateMemberTaskPreferences",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preferences updated"
          }
        },
        "description": "Update member task preferences"
      }
    },
    "/workspaces/{workspaceId}/logo": {
      "post": {
        "tags": [
          "Workspace Logo"
        ],
        "summary": "Upload workspace logo",
        "description": "Upload a workspace logo image. Image should be less than 200px wide and less than 10000px high.",
        "operationId": "uploadWorkspaceLogo",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logo uploaded"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspaces/{workspaceId}/transfer_requests": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List workspace transfer requests",
        "operationId": "listWorkspaceTransferRequests",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List workspace transfer requests"
      },
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Create a workspace transfer request",
        "operationId": "createWorkspaceTransferRequest",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer request created"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a workspace transfer request"
      }
    },
    "/workspace_copy_jobs": {
      "get": {
        "tags": [
          "Workspace Copy Jobs"
        ],
        "summary": "List workspace copy jobs",
        "operationId": "listWorkspaceCopyJobs",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List workspace copy jobs"
      },
      "post": {
        "tags": [
          "Workspace Copy Jobs"
        ],
        "summary": "Create a workspace copy job",
        "description": "Copy a workspace including forms, task lists, email templates, data filters, views, and workflow triggers.",
        "operationId": "createWorkspaceCopyJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Copy job created"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/workspace_form_links": {
      "get": {
        "tags": [
          "Workspace Form Links"
        ],
        "summary": "List workspace form links",
        "description": "Retrieve all forms associated with workspaces you have access to.",
        "operationId": "listWorkspaceFormLinks",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "tags": [
          "Workspace Form Links"
        ],
        "summary": "Add a form to a workspace",
        "operationId": "createWorkspaceFormLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form linked to workspace"
          }
        },
        "description": "Add a form to a workspace"
      }
    },
    "/forms": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "List forms",
        "description": "Retrieve a list of all your forms.",
        "operationId": "listForms",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Form ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "workspace.id",
            "in": "query",
            "description": "Workspace ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Form name (max 16 characters).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "Unique form slug.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isPublic",
            "in": "query",
            "description": "Filter by public/private status (deprecated).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "created",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modified",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/related"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/attributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormListResponse"
                }
              }
            }
          },
          "404": {
            "description": "No data was found"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      },
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Create a form",
        "operationId": "createForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workspace.id",
                  "name"
                ],
                "properties": {
                  "workspace.id": {
                    "type": "integer",
                    "description": "Workspace ID."
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 16,
                    "description": "Form name."
                  },
                  "slug": {
                    "type": "string",
                    "maxLength": 50,
                    "description": "Unique slug for public form access."
                  },
                  "purpose": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Form purpose."
                  },
                  "isPublic": {
                    "type": "boolean",
                    "description": "Whether the form is publicly accessible (deprecated)."
                  },
                  "settings": {
                    "$ref": "#/components/schemas/FormSettings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormResponse"
                }
              }
            }
          },
          "403": {
            "description": "Validation or authorization error"
          },
          "500": {
            "description": "System error"
          }
        },
        "description": "Create a form"
      }
    },
    "/forms/{formId}": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get a form",
        "operationId": "getForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/related"
          },
          {
            "$ref": "#/components/parameters/attributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormResponse"
                }
              }
            }
          },
          "403": {
            "description": "Must pass valid ID"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "Get a form"
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Update a form",
        "operationId": "updateForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 16
                  },
                  "slug": {
                    "type": "string",
                    "maxLength": 50
                  },
                  "purpose": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "isPublic": {
                    "type": "boolean"
                  },
                  "settings": {
                    "$ref": "#/components/schemas/FormSettings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form updated"
          },
          "403": {
            "description": "Validation or authorization error"
          },
          "500": {
            "description": "System error"
          }
        },
        "description": "Update a form"
      },
      "delete": {
        "tags": [
          "Forms"
        ],
        "summary": "Delete a form",
        "operationId": "deleteForm",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Form deleted"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No data was found"
          },
          "500": {
            "description": "System error"
          }
        },
        "description": "Delete a form"
      }
    },
    "/forms/{formId}/fields": {
      "get": {
        "tags": [
          "Form Fields"
        ],
        "summary": "List form fields",
        "description": "Retrieve fields for a form including text inputs, dropdowns, checkboxes, linked fields, member fields, calculated fields, and numeric fields.",
        "operationId": "listFormFields",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        }
      },
      "post": {
        "tags": [
          "Form Fields"
        ],
        "summary": "Create a form field",
        "operationId": "createFormField",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Field created"
          },
          "403": {
            "description": "Validation or authorization error"
          }
        },
        "description": "Create a form field"
      }
    },
    "/forms/{formId}/fields/{fieldId}": {
      "get": {
        "tags": [
          "Form Fields"
        ],
        "summary": "Get a form field",
        "operationId": "getFormField",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "Get a form field"
      },
      "put": {
        "tags": [
          "Form Fields"
        ],
        "summary": "Update a form field",
        "operationId": "updateFormField",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Field updated"
          },
          "403": {
            "description": "Validation or authorization error"
          }
        },
        "description": "Update a form field"
      },
      "delete": {
        "tags": [
          "Form Fields"
        ],
        "summary": "Delete a form field",
        "operationId": "deleteFormField",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Field deleted"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "description": "Delete a form field"
      }
    },
    "/forms/{formId}/records": {
      "get": {
        "tags": [
          "Form Records"
        ],
        "summary": "List form records",
        "description": "Retrieve records for a form with filtering, sorting, and pagination.",
        "operationId": "listFormRecords",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "folder.id",
            "in": "query",
            "description": "Filter by folder ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "workspace.id",
            "in": "query",
            "description": "Workspace ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "isComplete",
            "in": "query",
            "description": "Filter by completion status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "created",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modified",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dataView.id",
            "in": "query",
            "description": "Apply a saved data view filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "JSON filter object for record filtering.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/related"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/attributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      },
      "post": {
        "tags": [
          "Form Records"
        ],
        "summary": "Create a form record",
        "operationId": "createFormRecord",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "folder.id": {
                    "type": "integer",
                    "description": "Folder to place the record in."
                  },
                  "isComplete": {
                    "type": "boolean",
                    "description": "Whether the record is a draft or complete."
                  },
                  "validate": {
                    "type": "boolean",
                    "description": "Whether to run validation on the record."
                  },
                  "notify": {
                    "type": "boolean",
                    "description": "Whether to send notification emails."
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record created"
          },
          "403": {
            "description": "Validation or authorization error"
          },
          "500": {
            "description": "System error"
          }
        },
        "description": "Create a form record"
      }
    },
    "/forms/{formId}/records/{recordId}": {
      "get": {
        "tags": [
          "Form Records"
        ],
        "summary": "Get a form record",
        "operationId": "getFormRecord",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/related"
          },
          {
            "$ref": "#/components/parameters/attributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "403": {
            "description": "Must pass valid ID"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "Get a form record"
      },
      "put": {
        "tags": [
          "Form Records"
        ],
        "summary": "Update a form record",
        "operationId": "updateFormRecord",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "folder.id": {
                    "type": "integer"
                  },
                  "isComplete": {
                    "type": "boolean"
                  },
                  "validate": {
                    "type": "boolean"
                  },
                  "notify": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated"
          },
          "403": {
            "description": "Validation or authorization error"
          },
          "500": {
            "description": "System error"
          }
        },
        "description": "Update a form record"
      },
      "delete": {
        "tags": [
          "Form Records"
        ],
        "summary": "Delete a form record",
        "operationId": "deleteFormRecord",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record deleted"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No data was found"
          },
          "500": {
            "description": "System error"
          }
        },
        "description": "Delete a form record"
      }
    },
    "/forms/{formId}/records/permissions": {
      "get": {
        "tags": [
          "Record Permissions"
        ],
        "summary": "List form-specific record permissions",
        "description": "Retrieve record-level permissions for a specific form.",
        "operationId": "listFormRecordPermissions",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "tags": [
          "Record Permissions"
        ],
        "summary": "Create form-specific record permissions",
        "operationId": "createFormRecordPermissions",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Permissions created"
          }
        },
        "description": "Create form-specific record permissions"
      }
    },
    "/forms/records/permissions": {
      "get": {
        "tags": [
          "Record Permissions"
        ],
        "summary": "List default record permissions",
        "description": "Retrieve default record-level permissions that apply to all forms without form-specific permissions.",
        "operationId": "listDefaultRecordPermissions",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "tags": [
          "Record Permissions"
        ],
        "summary": "Create default record permissions",
        "operationId": "createDefaultRecordPermissions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Permissions created"
          }
        },
        "description": "Create default record permissions"
      }
    },
    "/forms/permissions": {
      "get": {
        "tags": [
          "Form Permissions"
        ],
        "summary": "List form permissions",
        "description": "Retrieve form-level read permissions defining which roles can access forms.",
        "operationId": "listFormPermissions",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "tags": [
          "Form Permissions"
        ],
        "summary": "Create form permissions",
        "operationId": "createFormPermissions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Permissions created"
          }
        },
        "description": "Create form permissions"
      }
    },
    "/forms/{formId}/folders": {
      "get": {
        "tags": [
          "Form Folders"
        ],
        "summary": "List form folders",
        "operationId": "listFormFolders",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List form folders"
      },
      "post": {
        "tags": [
          "Form Folders"
        ],
        "summary": "Create a form folder",
        "operationId": "createFormFolder",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder created"
          }
        },
        "description": "Create a form folder"
      }
    },
    "/forms/{formId}/uploads": {
      "post": {
        "tags": [
          "Form Uploads"
        ],
        "summary": "Upload a file to a form field",
        "description": "Upload a file to a field of type file-upload.",
        "operationId": "uploadFormFile",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded"
          },
          "403": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/form_groups": {
      "get": {
        "tags": [
          "Form Groups"
        ],
        "summary": "List form groups",
        "operationId": "listFormGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List form groups"
      },
      "post": {
        "tags": [
          "Form Groups"
        ],
        "summary": "Create a form group",
        "operationId": "createFormGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form group created"
          }
        },
        "description": "Create a form group"
      }
    },
    "/form_field_taxonomy": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get form field taxonomy",
        "description": "Retrieve applicable form field parameters for each field type.",
        "operationId": "getFormFieldTaxonomy",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/form_terminology_taxonomy": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Get form terminology taxonomy",
        "description": "Retrieve default messages for form terminology use cases (validation errors, submission instructions, success messages).",
        "operationId": "getFormTerminologyTaxonomy",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/record_import_jobs": {
      "get": {
        "tags": [
          "Record Import"
        ],
        "summary": "List record import jobs",
        "operationId": "listRecordImportJobs",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List record import jobs"
      },
      "post": {
        "tags": [
          "Record Import"
        ],
        "summary": "Create a record import job",
        "description": "Import records from a CSV file into a form.",
        "operationId": "createRecordImportJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import job created"
          }
        }
      }
    },
    "/record_import_files": {
      "post": {
        "tags": [
          "Record Import"
        ],
        "summary": "Upload a record import file",
        "description": "Upload a CSV file for record import. Returns a file ID and hash for use with record import jobs.",
        "operationId": "uploadRecordImportFile",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded"
          }
        }
      }
    },
    "/record_export_jobs": {
      "get": {
        "tags": [
          "Record Export"
        ],
        "summary": "List record export jobs",
        "operationId": "listRecordExportJobs",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List record export jobs"
      },
      "post": {
        "tags": [
          "Record Export"
        ],
        "summary": "Create a record export job",
        "operationId": "createRecordExportJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export job created"
          }
        },
        "description": "Create a record export job"
      }
    },
    "/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List subscriptions",
        "description": "View subscriptions to workspaces, records, events, tasks, and notes.",
        "operationId": "listSubscriptions",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Create a subscription",
        "operationId": "createSubscription",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created"
          }
        },
        "description": "Create a subscription"
      }
    },
    "/subscriptions/{subscriptionId}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Get a subscription",
        "operationId": "getSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "Get a subscription"
      },
      "put": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Update a subscription",
        "operationId": "updateSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated"
          }
        },
        "description": "Update a subscription"
      },
      "delete": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Delete a subscription",
        "operationId": "deleteSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription deleted"
          }
        },
        "description": "Delete a subscription"
      }
    },
    "/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List tasks",
        "operationId": "listTasks",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "workspace.id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "assignedToUser.id",
            "in": "query",
            "description": "Filter by assigned user.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "record.id",
            "in": "query",
            "description": "Filter by associated record.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "taskList.id",
            "in": "query",
            "description": "Filter by task list.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "description": "Priority (1-5).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Task status.",
            "schema": {
              "type": "string",
              "enum": [
                "archived",
                "open",
                "completed",
                "in-progress",
                "on-hold"
              ]
            }
          },
          {
            "name": "due",
            "in": "query",
            "description": "Due date filter.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "created",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modified",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/related"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/attributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "description": "List tasks"
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create a task",
        "operationId": "createTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workspace.id",
                  "task"
                ],
                "properties": {
                  "workspace.id": {
                    "type": "integer"
                  },
                  "task": {
                    "type": "string",
                    "description": "Task text."
                  },
                  "body": {
                    "type": "string",
                    "description": "Task description."
                  },
                  "assignedToUser.id": {
                    "type": "integer"
                  },
                  "record.id": {
                    "type": "integer"
                  },
                  "taskList.id": {
                    "type": "integer"
                  },
                  "priority": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "archived",
                      "open",
                      "completed",
                      "in-progress",
                      "on-hold"
                    ]
                  },
                  "due": {
                    "type": "string",
                    "format": "date"
                  },
                  "order": {
                    "type": "integer"
                  },
                  "tags": {
                    "type": "string",
                    "description": "Comma-separated tags (max 25 tags or 250 characters)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created"
          },
          "403": {
            "description": "Validation or authorization error"
          },
          "500": {
            "description": "System error"
          }
        },
        "description": "Create a task"
      }
    },
    "/tasks/{taskId}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get a task",
        "operationId": "getTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/related"
          },
          {
            "$ref": "#/components/parameters/attributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "Get a task"
      },
      "put": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update a task",
        "operationId": "updateTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "task": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "assignedToUser.id": {
                    "type": "integer"
                  },
                  "record.id": {
                    "type": "integer"
                  },
                  "taskList.id": {
                    "type": "integer"
                  },
                  "priority": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "archived",
                      "open",
                      "completed",
                      "in-progress",
                      "on-hold"
                    ]
                  },
                  "due": {
                    "type": "string",
                    "format": "date"
                  },
                  "order": {
                    "type": "integer"
                  },
                  "tags": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated"
          },
          "403": {
            "description": "Validation or authorization error"
          },
          "500": {
            "description": "System error"
          }
        },
        "description": "Update a task"
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Delete a task",
        "operationId": "deleteTask",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No data was found"
          },
          "500": {
            "description": "System error"
          }
        },
        "description": "Delete a task"
      }
    },
    "/task_lists": {
      "get": {
        "tags": [
          "Task Lists"
        ],
        "summary": "List task lists",
        "operationId": "listTaskLists",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List task lists"
      },
      "post": {
        "tags": [
          "Task Lists"
        ],
        "summary": "Create a task list",
        "operationId": "createTaskList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task list created"
          }
        },
        "description": "Create a task list"
      }
    },
    "/task_priorities": {
      "get": {
        "tags": [
          "Task Priorities"
        ],
        "summary": "List task priorities",
        "operationId": "listTaskPriorities",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List task priorities"
      }
    },
    "/task_statuses": {
      "get": {
        "tags": [
          "Task Statuses"
        ],
        "summary": "List task statuses",
        "operationId": "listTaskStatuses",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List task statuses"
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events",
        "operationId": "listEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List events"
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Create an event",
        "operationId": "createEvent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event created"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "description": "Create an event"
      }
    },
    "/events/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get an event",
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "Get an event"
      },
      "put": {
        "tags": [
          "Events"
        ],
        "summary": "Update an event",
        "operationId": "updateEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated"
          }
        },
        "description": "Update an event"
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "Delete an event",
        "operationId": "deleteEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event deleted"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "Delete an event"
      }
    },
    "/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "List files",
        "operationId": "listFiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "description": "List files"
      },
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Upload a file",
        "operationId": "uploadFile",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded"
          }
        },
        "description": "Upload a file"
      }
    },
    "/files/{fileId}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get a file",
        "operationId": "getFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "404": {
            "description": "No data was found"
          }
        },
        "description": "Get a file"
      },
      "put": {
        "tags": [
          "Files"
        ],
        "summary": "Update a file",
        "operationId": "updateFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File updated"
          }
        },
        "description": "Update a file"
      },
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Delete a file",
        "operationId": "deleteFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted"
          },
          "404": {
            "description": "No data was found"
[...]
