{
  "openapi": "3.0.3",
  "info": {
    "title": "Romulus API",
    "description": "Romulus is a solution for automated qualification calls and messaging. Supports robocalls, AI agent calls, campaigns, WhatsApp messaging, and webhook subscriptions.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer.romulus.live/docs/"
  },
  "servers": [
    {
      "url": "https://developer.romulus.live",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/me": {
      "post": {
        "operationId": "validateAuthentication",
        "summary": "Validate API authentication",
        "description": "Validates the API authentication key and returns organization ID on success.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Authentication valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/call-tasks/robocalls/configurations": {
      "get": {
        "operationId": "listRobocallConfigurations",
        "summary": "List robocall configurations",
        "description": "Retrieves robocall configurations with pagination support.",
        "tags": [
          "Robocalls"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of robocall configurations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RobocallConfigurationList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/call-tasks/robocalls": {
      "post": {
        "operationId": "initiateRobocall",
        "summary": "Initiate a robocall",
        "description": "Initiates a robocall to a specified phone number.",
        "tags": [
          "Robocalls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RobocallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Robocall initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallTask"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/call-tasks/webhook-subscriptions": {
      "get": {
        "operationId": "listRobocallWebhookSubscriptions",
        "summary": "List robocall webhook subscriptions",
        "description": "Lists webhook subscriptions for robocall results with pagination.",
        "tags": [
          "Robocalls"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhook subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscriptionList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createRobocallWebhookSubscription",
        "summary": "Create robocall webhook subscription",
        "description": "Creates a webhook subscription for robocall results.",
        "tags": [
          "Robocalls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRobocallWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/call-tasks/webhook-subscriptions/{webhookSubscriptionId}": {
      "delete": {
        "operationId": "deleteRobocallWebhookSubscription",
        "summary": "Delete robocall webhook subscription",
        "description": "Removes a specified webhook subscription.",
        "tags": [
          "Robocalls"
        ],
        "parameters": [
          {
            "name": "webhookSubscriptionId",
            "in": "path",
            "required": true,
            "description": "Webhook subscription ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai-agents/agents/search": {
      "get": {
        "operationId": "searchAgents",
        "summary": "Search AI agents",
        "description": "Retrieves configured AI agents with pagination support.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of AI agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai-agents/agents/{agentId}/call": {
      "post": {
        "operationId": "initiateAgentCall",
        "summary": "Initiate outbound call via AI agent",
        "description": "Initiates an outbound call via a specified AI agent.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "AI agent identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Call"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai-agents/agents/{agentId}/call-tasks": {
      "get": {
        "operationId": "listAgentCallTasks",
        "summary": "List agent call tasks",
        "description": "Lists call tasks for a specific agent with pagination.",
        "tags": [
          "AgentCallTasks"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "AI agent identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of call tasks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCallTaskList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAgentCallTask",
        "summary": "Create agent call task",
        "description": "Creates an agent call task with retry and availability configuration.",
        "tags": [
          "AgentCallTasks"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "description": "AI agent identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentCallTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCallTask"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai-agents/agents/call-tasks/{callTaskId}/terminate": {
      "put": {
        "operationId": "terminateAgentCallTask",
        "summary": "Terminate a call task",
        "description": "Terminates a specific call task by ID.",
        "tags": [
          "AgentCallTasks"
        ],
        "parameters": [
          {
            "name": "callTaskId",
            "in": "path",
            "required": true,
            "description": "Call task identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call task terminated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai-agents/agents/call-tasks/terminate": {
      "post": {
        "operationId": "terminateAllAgentCallTasks",
        "summary": "Terminate all call tasks for phone number",
        "description": "Terminates all active call tasks for a given phone number.",
        "tags": [
          "AgentCallTasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contact_phone_number"
                ],
                "properties": {
                  "contact_phone_number": {
                    "type": "string",
                    "description": "Phone number to terminate tasks for"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tasks terminated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/call-campaigns/{callCampaignId}/tasks": {
      "post": {
        "operationId": "createCampaignCallTasks",
        "summary": "Create campaign call tasks",
        "description": "Creates call tasks for campaign recipients.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "callCampaignId",
            "in": "path",
            "required": true,
            "description": "Call campaign identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignTasksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign tasks created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignTasksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/call-campaigns/{callCampaignId}/tasks/terminate": {
      "put": {
        "operationId": "terminateCampaignCallTask",
        "summary": "Terminate campaign call task",
        "description": "Terminates a campaign call task by phone number.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "name": "callCampaignId",
            "in": "path",
            "required": true,
            "description": "Call campaign identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone_number"
                ],
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "description": "Phone number to terminate task for"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign task terminated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messengers/whatsapp/bots": {
      "get": {
        "operationId": "listWhatsAppBots",
        "summary": "List WhatsApp bots",
        "description": "Lists WhatsApp bots and templates with pagination.",
        "tags": [
          "WhatsApp"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of WhatsApp bots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhatsAppBotList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messengers/whatsapp/template-message": {
      "post": {
        "operationId": "sendWhatsAppTemplateMessage",
        "summary": "Send WhatsApp template message",
        "description": "Sends a WhatsApp template message to a recipient.",
        "tags": [
          "WhatsApp"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WhatsAppTemplateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook-subscriptions/search": {
      "get": {
        "operationId": "searchWebhookSubscriptions",
        "summary": "Search webhook subscriptions",
        "description": "Lists all webhook subscriptions with pagination.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhook subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscriptionList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook-subscriptions/{webhookSubscriptionId}": {
      "get": {
        "operationId": "getWebhookSubscription",
        "summary": "Get webhook subscription",
        "description": "Retrieves a specific webhook subscription.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookSubscriptionId",
            "in": "path",
            "required": true,
            "description": "Webhook subscription identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateWebhookSubscription",
        "summary": "Update webhook subscription",
        "description": "Updates properties of an existing webhook subscription.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookSubscriptionId",
            "in": "path",
            "required": true,
            "description": "Webhook subscription identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhookSubscription",
        "summary": "Delete webhook subscription",
        "description": "Deletes a webhook subscription.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookSubscriptionId",
            "in": "path",
            "required": true,
            "description": "Webhook subscription identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhook-subscriptions": {
      "post": {
        "operationId": "createWebhookSubscription",
        "summary": "Create webhook subscription",
        "description": "Creates a webhook subscription for events.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "organization_id": {
            "type": "string"
          }
        }
      },
      "RobocallConfiguration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "success_criteria": {
            "type": "object"
          },
          "retry_config": {
            "type": "object"
          },
          "dnd_settings": {
            "type": "object"
          }
        }
      },
      "RobocallConfigurationList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RobocallConfiguration"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          }
        }
      },
      "RobocallRequest": {
        "type": "object",
        "required": [
          "robocall_configuration_id",
          "phone_number"
        ],
        "properties": {
          "robocall_configuration_id": {
            "type": "string",
            "description": "Robocall configuration to use"
          },
          "phone_number": {
            "type": "string",
            "description": "Target phone number"
          }
        }
      },
      "CallTask": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "attempts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CreateRobocallWebhookRequest": {
        "type": "object",
        "required": [
          "entity_type",
          "url"
        ],
        "properties": {
          "entity_id": {
            "type": "string",
            "description": "Optional entity identifier"
          },
          "entity_type": {
            "type": "string",
            "description": "Entity type"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook target URL"
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "entity_type": {
            "type": "string"
          },
          "entity_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookSubscriptionList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookSubscription"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "voice": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "AgentList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          }
        }
      },
      "AgentCallRequest": {
        "type": "object",
        "required": [
          "to"
        ],
        "properties": {
          "to": {
            "type": "string",
            "description": "Target phone number"
          },
          "contact_data": {
            "type": "object",
            "description": "Additional contact data"
          },
          "campaign_id": {
            "type": "string",
            "description": "Optional campaign identifier"
          }
        }
      },
      "Call": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        }
      },
      "AgentCallTask": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "contact_phone_number": {
            "type": "string"
          },
          "scheduling_info": {
            "type": "object"
          }
        }
      },
      "AgentCallTaskList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentCallTask"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          }
        }
      },
      "CreateAgentCallTaskRequest": {
        "type": "object",
        "required": [
          "contact_phone_number"
        ],
        "properties": {
          "contact_phone_number": {
            "type": "string",
            "description": "Target phone number"
          },
          "retry_config": {
            "type": "object",
            "description": "Retry configuration"
          },
          "availability_config": {
            "type": "object",
            "description": "Availability window configuration"
          },
          "contact_data": {
            "type": "object",
            "description": "Additional contact information"
          }
        }
      },
      "CreateCampaignTasksRequest": {
        "type": "object",
        "required": [
          "import_source",
          "recipients"
        ],
        "properties": {
          "import_source": {
            "type": "string",
            "description": "Source of the import"
          },
          "recipients": {
            "type": "array",
            "description": "Array of recipients",
            "items": {
              "type": "object",
              "properties": {
                "phone_number": {
                  "type": "string"
                },
                "contact_data": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "CampaignTasksResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "failed": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "WhatsAppBot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "templates": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "WhatsAppBotList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WhatsAppBot"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          }
        }
      },
      "WhatsAppTemplateMessageRequest": {
        "type": "object",
        "required": [
          "bot_id",
          "template_id",
          "recipient"
        ],
        "properties": {
          "bot_id": {
            "type": "string",
            "description": "WhatsApp bot identifier"
          },
          "template_id": {
            "type": "string",
            "description": "Message template identifier"
          },
          "recipient": {
            "type": "string",
            "description": "Recipient phone number"
          },
          "parameters": {
            "type": "object",
            "description": "Template parameters"
          }
        }
      },
      "CreateWebhookSubscriptionRequest": {
        "type": "object",
        "required": [
          "event",
          "url"
        ],
        "properties": {
          "event": {
            "type": "string",
            "description": "Event type to subscribe to"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook target URL"
          },
          "entity_type": {
            "type": "string",
            "description": "Optional entity type filter"
          },
          "entity_id": {
            "type": "string",
            "description": "Optional entity ID filter"
          },
          "specifications": {
            "type": "object",
            "description": "Additional specifications"
          },
          "attempts": {
            "type": "integer",
            "description": "Number of retry attempts"
          },
          "attempts_interval_seconds": {
            "type": "integer",
            "description": "Interval between retry attempts in seconds"
          }
        }
      },
      "UpdateWebhookSubscriptionRequest": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "entity_type": {
            "type": "string"
          },
          "entity_id": {
            "type": "string"
          },
          "specifications": {
            "type": "object"
          },
          "attempts": {
            "type": "integer"
          },
          "attempts_interval_seconds": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "API authentication validation"
    },
    {
      "name": "Robocalls",
      "description": "Robocall configuration and execution"
    },
    {
      "name": "Agents",
      "description": "AI agent management"
    },
    {
      "name": "AgentCallTasks",
      "description": "AI agent call task management"
    },
    {
      "name": "Calls",
      "description": "Outbound call initiation"
    },
    {
      "name": "Campaigns",
      "description": "Call campaign management"
    },
    {
      "name": "WhatsApp",
      "description": "WhatsApp messaging"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscription management"
    }
  ]
}