{
  "openapi": "3.0.3",
  "info": {
    "title": "HumbleFax API",
    "description": "HumbleFax is a simple solution to send and receive faxes online without the need for a physical fax machine. The API provides endpoints for sending faxes, managing attachments, retrieving sent and incoming faxes, managing webhooks, users, and fax numbers.",
    "version": "1.0.0",
    "contact": {
      "name": "HumbleFax",
      "url": "https://humblefax.com"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/humblefax.com/humblefax-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.humblefax.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/quickSendFax": {
      "post": {
        "tags": [
          "Fax Sending"
        ],
        "summary": "Quick send a fax",
        "operationId": "quickSendFax",
        "description": "Send a fax with file attachments in a single request.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "recipients"
                ],
                "properties": {
                  "recipients": {
                    "type": "string",
                    "description": "Comma-separated fax numbers"
                  },
                  "toName": {
                    "type": "string"
                  },
                  "fromName": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "companyInfo": {
                    "type": "string"
                  },
                  "fromNumber": {
                    "type": "string"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "fine"
                    ]
                  },
                  "pageSize": {
                    "type": "string",
                    "enum": [
                      "letter",
                      "legal",
                      "a4"
                    ]
                  },
                  "scheduledTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "uuid": {
                    "type": "string"
                  },
                  "includeCoversheet": {
                    "type": "boolean"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File attachment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fax sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tmpFax": {
      "post": {
        "tags": [
          "Fax Sending"
        ],
        "summary": "Create temporary fax",
        "operationId": "createTmpFax",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TmpFaxCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Temporary fax created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TmpFaxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tmpFax/{tmpFaxId}": {
      "get": {
        "tags": [
          "Fax Sending"
        ],
        "summary": "Get temporary fax",
        "operationId": "getTmpFax",
        "parameters": [
          {
            "name": "tmpFaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Temporary fax details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TmpFaxResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Fax Sending"
        ],
        "summary": "Update temporary fax",
        "operationId": "updateTmpFax",
        "parameters": [
          {
            "name": "tmpFaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TmpFaxUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated temporary fax",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TmpFaxResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Fax Sending"
        ],
        "summary": "Delete temporary fax",
        "operationId": "deleteTmpFax",
        "parameters": [
          {
            "name": "tmpFaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion confirmation"
          }
        }
      }
    },
    "/tmpFax/{tmpFaxId}/send": {
      "post": {
        "tags": [
          "Fax Sending"
        ],
        "summary": "Send temporary fax",
        "operationId": "sendTmpFax",
        "parameters": [
          {
            "name": "tmpFaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fax sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FaxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tmpFaxes": {
      "get": {
        "tags": [
          "Fax Sending"
        ],
        "summary": "List temporary faxes",
        "operationId": "listTmpFaxes",
        "responses": {
          "200": {
            "description": "List of unsent temporary fax IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/attachment/{tmpFaxId}": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "summary": "Create attachment",
        "operationId": "createAttachment",
        "parameters": [
          {
            "name": "tmpFaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attachment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/attachment/{tmpAttachmentId}": {
      "delete": {
        "tags": [
          "Attachments"
        ],
        "summary": "Delete attachment",
        "operationId": "deleteAttachment",
        "parameters": [
          {
            "name": "tmpAttachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment deleted"
          }
        }
      }
    },
    "/sentFax/{sentFaxId}": {
      "get": {
        "tags": [
          "Sent Faxes"
        ],
        "summary": "Get sent fax",
        "operationId": "getSentFax",
        "parameters": [
          {
            "name": "sentFaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sent fax details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentFaxResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Sent Faxes"
        ],
        "summary": "Delete sent fax",
        "operationId": "deleteSentFax",
        "parameters": [
          {
            "name": "sentFaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "trash",
                      "delete"
                    ],
                    "default": "trash"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fax deleted"
          }
        }
      }
    },
    "/sentFax/{sentFaxId}/download": {
      "get": {
        "tags": [
          "Sent Faxes"
        ],
        "summary": "Download sent fax",
        "operationId": "downloadSentFax",
        "parameters": [
          {
            "name": "sentFaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileFormat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pdf",
                "tiff"
              ],
              "default": "pdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fax file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/tiff": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/sentFax/{sentFaxId}/stop": {
      "post": {
        "tags": [
          "Sent Faxes"
        ],
        "summary": "Stop sending fax",
        "operationId": "stopSentFax",
        "parameters": [
          {
            "name": "sentFaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "numbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancellation status"
          }
        }
      }
    },
    "/sentFaxes": {
      "get": {
        "tags": [
          "Sent Faxes"
        ],
        "summary": "List sent faxes",
        "operationId": "listSentFaxes",
        "parameters": [
          {
            "name": "timeFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "senderEmail",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sent fax IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/incomingFax/{incomingFaxId}": {
      "get": {
        "tags": [
          "Incoming Faxes"
        ],
        "summary": "Get incoming fax",
        "operationId": "getIncomingFax",
        "parameters": [
          {
            "name": "incomingFaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incoming fax details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncomingFaxResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Incoming Faxes"
        ],
        "summary": "Delete incoming fax",
        "operationId": "deleteIncomingFax",
        "parameters": [
          {
            "name": "incomingFaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "trash",
                      "delete"
                    ],
                    "default": "trash"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fax deleted"
          }
        }
      }
    },
    "/incomingFax/{incomingFaxId}/download": {
      "get": {
        "tags": [
          "Incoming Faxes"
        ],
        "summary": "Download incoming fax",
        "operationId": "downloadIncomingFax",
        "parameters": [
          {
            "name": "incomingFaxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileFormat",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pdf",
                "tiff"
              ],
              "default": "pdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fax file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/incomingFaxes": {
      "get": {
        "tags": [
          "Incoming Faxes"
        ],
        "summary": "List incoming faxes",
        "operationId": "listIncomingFaxes",
        "parameters": [
          {
            "name": "timeFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of incoming faxes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IncomingFaxResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/webhook": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhook/{webhookId}": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create user",
        "operationId": "createUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/{userId}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update user",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete user",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted"
          }
        }
      }
    },
    "/users/": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users",
        "operationId": "listUsers",
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userApiKey/{userId}": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create user API key",
        "operationId": "createUserApiKey",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Delete user API key",
        "operationId": "deleteUserApiKey",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted"
          }
        }
      }
    },
    "/areaCodes/": {
      "get": {
        "tags": [
          "Numbers"
        ],
        "summary": "List area codes",
        "operationId": "listAreaCodes",
        "responses": {
          "200": {
            "description": "Available area codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AreaCode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/numberCoverage/{areaCode}": {
      "get": {
        "tags": [
          "Numbers"
        ],
        "summary": "Get number coverage",
        "operationId": "getNumberCoverage",
        "parameters": [
          {
            "name": "areaCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NXX coverage data"
          }
        }
      }
    },
    "/numbers/search": {
      "get": {
        "tags": [
          "Numbers"
        ],
        "summary": "Search available numbers",
        "operationId": "searchNumbers",
        "parameters": [
          {
            "name": "areaCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nxx",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "suggestByGeo",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "maxNums",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 300
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailableNumber"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/numbers/check": {
      "get": {
        "tags": [
          "Numbers"
        ],
        "summary": "Check number availability",
        "operationId": "checkNumbers",
        "parameters": [
          {
            "name": "numbers",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability status"
          }
        }
      }
    },
    "/numbers/purchase": {
      "post": {
        "tags": [
          "Numbers"
        ],
        "summary": "Purchase numbers",
        "operationId": "purchaseNumbers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "numbers"
                ],
                "properties": {
                  "numbers": {
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "type": "object",
                      "properties": {
                        "number": {
                          "type": "string"
                        },
                        "porting": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purchase confirmation"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication using API Access Key (username) and API Secret Key (password)"
      }
    },
    "schemas": {
      "FaxResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TmpFaxCreate": {
        "type": "object",
        "required": [
          "recipients",
          "fromNumber",
          "resolution",
          "pageSize",
          "includeCoversheet"
        ],
        "properties": {
          "recipients": {
            "type": "string"
          },
          "toName": {
            "type": "string"
          },
          "fromName": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "companyInfo": {
            "type": "string"
          },
          "fromNumber": {
            "type": "string"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "standard",
              "fine"
            ]
          },
          "pageSize": {
            "type": "string",
            "enum": [
              "letter",
              "legal",
              "a4"
            ]
          },
          "scheduledTime": {
            "type": "string",
            "format": "date-time"
          },
          "uuid": {
            "type": "string"
          },
          "includeCoversheet": {
            "type": "boolean"
          }
        }
      },
      "TmpFaxUpdate": {
        "type": "object",
        "properties": {
          "recipients": {
            "type": "string"
          },
          "toName": {
            "type": "string"
          },
          "fromName": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "companyInfo": {
            "type": "string"
          },
          "fromNumber": {
            "type": "string"
          },
          "resolution": {
            "type": "string"
          },
          "pageSize": {
            "type": "string"
          },
          "scheduledTime": {
            "type": "string",
            "format": "date-time"
          },
          "uuid": {
            "type": "string"
          },
          "includeCoversheet": {
            "type": "boolean"
          }
        }
      },
      "TmpFaxResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "recipients": {
            "type": "string"
          },
          "fromNumber": {
            "type": "string"
          },
          "resolution": {
            "type": "string"
          },
          "pageSize": {
            "type": "string"
          },
          "includeCoversheet": {
            "type": "boolean"
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AttachmentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          }
        }
      },
      "SentFaxResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "recipients": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IncomingFaxResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "fromNumber": {
            "type": "string"
          },
          "toNumber": {
            "type": "string"
          },
          "pages": {
            "type": "integer"
          },
          "receivedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookCreate": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "subscriptions": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "IncomingFax.SendComplete",
                "SentFax.SendComplete"
              ]
            }
          }
        }
      },
      "WebhookResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "subscriptions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UserCreate": {
        "type": "object",
        "required": [
          "name",
          "email",
          "assignedFaxNumber"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "assignedFaxNumber": {
            "type": "string"
          },
          "inboundAccess": {
            "type": "boolean"
          },
          "accessOtherUsersFaxes": {
            "type": "boolean"
          },
          "hasSettingsLock": {
            "type": "boolean"
          }
        }
      },
      "UserUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "assignedFaxNumber": {
            "type": "string"
          },
          "inboundAccess": {
            "type": "boolean"
          },
          "accessOtherUsersFaxes": {
            "type": "boolean"
          },
          "hasSettingsLock": {
            "type": "boolean"
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "assignedFaxNumber": {
            "type": "string"
          },
          "inboundAccess": {
            "type": "boolean"
          },
          "accessOtherUsersFaxes": {
            "type": "boolean"
          },
          "hasSettingsLock": {
            "type": "boolean"
          }
        }
      },
      "ApiKeyResponse": {
        "type": "object",
        "properties": {
          "accessKey": {
            "type": "string"
          },
          "secretKey": {
            "type": "string"
          }
        }
      },
      "AreaCode": {
        "type": "object",
        "properties": {
          "areaCode": {
            "type": "string"
          },
          "tollFree": {
            "type": "boolean"
          }
        }
      },
      "AvailableNumber": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string"
          },
          "tollFree": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Fax Sending",
      "description": "Send faxes and manage temporary faxes"
    },
    {
      "name": "Attachments",
      "description": "Manage fax attachments"
    },
    {
      "name": "Sent Faxes",
      "description": "Retrieve and manage sent faxes"
    },
    {
      "name": "Incoming Faxes",
      "description": "Retrieve and manage incoming faxes"
    },
    {
      "name": "Webhooks",
      "description": "Manage webhook subscriptions"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "API Keys",
      "description": "User API key management"
    },
    {
      "name": "Numbers",
      "description": "Fax number management"
    }
  ],
  "x-jentic-source-url": "https://api.humblefax.com/docs"
}