{
  "openapi": "3.0.3",
  "info": {
    "title": "ipapi - IP Geolocation API",
    "description": "ipapi provides a REST API for IP address geolocation and reverse IP lookup. Get location data, timezone, currency, and connection details for any IPv4 or IPv6 address.",
    "version": "1.0.0",
    "contact": {
      "name": "ipapi Support",
      "url": "https://ipapi.com/contact"
    },
    "x-jentic-source-url": "https://ipapi.com/"
  },
  "servers": [
    {
      "url": "https://api.ipapi.com",
      "description": "ipapi Production API (HTTPS - paid plans)"
    },
    {
      "url": "http://api.ipapi.com",
      "description": "ipapi Production API (HTTP - free plan)"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "IP Lookup",
      "description": "Single IP address geolocation lookups"
    },
    {
      "name": "Bulk Lookup",
      "description": "Bulk IP address lookups"
    }
  ],
  "paths": {
    "/check": {
      "get": {
        "operationId": "lookupRequesterIp",
        "summary": "Requester IP Lookup",
        "description": "Look up geolocation data for the IP address of the client making the API request.",
        "tags": ["IP Lookup"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Hostname"
          },
          {
            "$ref": "#/components/parameters/Security"
          },
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "$ref": "#/components/parameters/Callback"
          },
          {
            "$ref": "#/components/parameters/Output"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{ip}": {
      "get": {
        "operationId": "lookupSingleIp",
        "summary": "Standard IP Lookup",
        "description": "Look up geolocation data for a single IPv4 or IPv6 address.",
        "tags": ["IP Lookup"],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "description": "IPv4 or IPv6 address to look up.",
            "schema": {
              "type": "string"
            },
            "example": "134.201.250.155"
          },
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Hostname"
          },
          {
            "$ref": "#/components/parameters/Security"
          },
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "$ref": "#/components/parameters/Callback"
          },
          {
            "$ref": "#/components/parameters/Output"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{ips}": {
      "get": {
        "operationId": "lookupBulkIps",
        "summary": "Bulk IP Lookup",
        "description": "Look up geolocation data for multiple IP addresses at once (comma-separated). Available on Professional plan and higher.",
        "tags": ["Bulk Lookup"],
        "parameters": [
          {
            "name": "ips",
            "in": "path",
            "required": true,
            "description": "Comma-separated list of IPv4 or IPv6 addresses (up to 50).",
            "schema": {
              "type": "string"
            },
            "example": "134.201.250.155,72.229.28.185"
          },
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Hostname"
          },
          {
            "$ref": "#/components/parameters/Security"
          },
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "$ref": "#/components/parameters/Callback"
          },
          {
            "$ref": "#/components/parameters/Output"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful bulk geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeolocationResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "access_key",
        "description": "API access key obtained from your ipapi dashboard."
      }
    },
    "parameters": {
      "AccessKey": {
        "name": "access_key",
        "in": "query",
        "required": true,
        "description": "Your ipapi API access key.",
        "schema": {
          "type": "string"
        }
      },
      "Fields": {
        "name": "fields",
        "in": "query",
        "required": false,
        "description": "Comma-separated list of response fields to return.",
        "schema": {
          "type": "string"
        }
      },
      "Hostname": {
        "name": "hostname",
        "in": "query",
        "required": false,
        "description": "Set to 1 to include the hostname for the IP address.",
        "schema": {
          "type": "integer",
          "enum": [0, 1]
        }
      },
      "Security": {
        "name": "security",
        "in": "query",
        "required": false,
        "description": "Set to 1 to include security module data in the response.",
        "schema": {
          "type": "integer",
          "enum": [0, 1]
        }
      },
      "Language": {
        "name": "language",
        "in": "query",
        "required": false,
        "description": "2-letter language code to localize output.",
        "schema": {
          "type": "string"
        }
      },
      "Callback": {
        "name": "callback",
        "in": "query",
        "required": false,
        "description": "JSONP callback function name.",
        "schema": {
          "type": "string"
        }
      },
      "Output": {
        "name": "output",
        "in": "query",
        "required": false,
        "description": "Set to 'xml' to receive XML output instead of JSON.",
        "schema": {
          "type": "string",
          "enum": ["json", "xml"]
        }
      }
    },
    "schemas": {
      "GeolocationResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "The requested IP address."
          },
          "hostname": {
            "type": "string",
            "description": "Hostname for the IP address (if enabled)."
          },
          "type": {
            "type": "string",
            "description": "IP address type.",
            "enum": ["ipv4", "ipv6"]
          },
          "continent_code": {
            "type": "string",
            "description": "2-letter continent code."
          },
          "continent_name": {
            "type": "string",
            "description": "Full continent name."
          },
          "country_code": {
            "type": "string",
            "description": "2-letter country code (ISO 3166-1 alpha-2)."
          },
          "country_name": {
            "type": "string",
            "description": "Full country name."
          },
          "region_code": {
            "type": "string",
            "description": "Region/state code."
          },
          "region_name": {
            "type": "string",
            "description": "Full region/state name."
          },
          "city": {
            "type": "string",
            "description": "City name."
          },
          "zip": {
            "type": "string",
            "description": "ZIP or postal code."
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude."
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "time_zone": {
            "$ref": "#/components/schemas/TimeZone"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "connection": {
            "$ref": "#/components/schemas/Connection"
          },
          "security": {
            "$ref": "#/components/schemas/Security"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "geoname_id": {
            "type": "integer",
            "description": "GeoNames ID."
          },
          "capital": {
            "type": "string",
            "description": "Capital city of the country."
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "native": {
                  "type": "string"
                }
              }
            }
          },
          "country_flag": {
            "type": "string",
            "description": "URL of the country flag SVG."
          },
          "country_flag_emoji": {
            "type": "string",
            "description": "Country flag emoji."
          },
          "country_flag_emoji_unicode": {
            "type": "string",
            "description": "Country flag emoji unicode."
          },
          "calling_code": {
            "type": "string",
            "description": "International calling code."
          },
          "is_eu": {
            "type": "boolean",
            "description": "Whether the country is in the EU."
          }
        }
      },
      "TimeZone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Timezone identifier."
          },
          "current_time": {
            "type": "string",
            "description": "Current time in the timezone."
          },
          "gmt_offset": {
            "type": "integer",
            "description": "GMT offset in seconds."
          },
          "code": {
            "type": "string",
            "description": "Timezone abbreviation."
          },
          "is_daylight_saving": {
            "type": "boolean",
            "description": "Whether DST is active."
          }
        }
      },
      "Currency": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "3-letter currency code."
          },
          "name": {
            "type": "string",
            "description": "Currency name."
          },
          "plural": {
            "type": "string",
            "description": "Plural currency name."
          },
          "symbol": {
            "type": "string",
            "description": "Currency symbol."
          },
          "symbol_native": {
            "type": "string",
            "description": "Native currency symbol."
          }
        }
      },
      "Connection": {
        "type": "object",
        "properties": {
          "asn": {
            "type": "integer",
            "description": "Autonomous System Number."
          },
          "isp": {
            "type": "string",
            "description": "ISP name."
          }
        }
      },
      "Security": {
        "type": "object",
        "description": "Security assessment data (paid plans).",
        "properties": {
          "is_proxy": {
            "type": "boolean"
          },
          "proxy_type": {
            "type": "string",
            "nullable": true
          },
          "is_crawler": {
            "type": "boolean"
          },
          "crawler_name": {
            "type": "string",
            "nullable": true
          },
          "crawler_type": {
            "type": "string",
            "nullable": true
          },
          "is_tor": {
            "type": "boolean"
          },
          "threat_level": {
            "type": "string",
            "enum": ["low", "medium", "high"]
          },
          "threat_types": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code."
              },
              "type": {
                "type": "string",
                "description": "Error type identifier."
              },
              "info": {
                "type": "string",
                "description": "Human-readable error description."
              }
            }
          }
        }
      }
    }
  }
}
