{
  "openapi": "3.0.3",
  "info": {
    "title": "Craftboxx API Documentation",
    "description": "\nThis document provides a comprehensive guide to integrating with the Craftboxx API. It is designed for developers looking to build applications and services that interact with the Craftboxx platform.\n\n### Authentication\n\nTo use the API, you must first generate a Bearer access token.\n\n1. Obtain a Token: Send a `POST` request with your employee credentials (email and password) to the `/auth/create-token` endpoint.\n2. Authorize Requests: Include the obtained token in the `Authorization` header for every subsequent API call. The header should be formatted as follows:\n   `Authorization: Bearer <YOUR_ACCESS_TOKEN>`\n\nYour API access is governed by the same permissions you have in the Craftboxx Planner. If your token is invalid or expired, the API will return a `401 Unauthorized` status code.\n\n### API Principles\n\nThis API largely follows RESTful design principles. Endpoints are organized around resources, and it uses standard HTTP methods for operations.\n\n### Requests for Resource Collections\n\nWhen fetching a list of resources (e.g., `/articles`, `/projects`), you can use a variety of query parameters to refine the results.\n\n#### Filtering and Searching\n\n- Generic Search (`q`): Performs a broad search across all relevant fields of a resource.\n  - Example: `/articles?q=Bosch Akkuschrauber`\n- Filter by ID (`id[]`): Retrieves specific resources by their unique IDs.\n  - Example (Single): `/articles?id=50`\n  - Example (Multiple): `/articles?id[]=50&id[]=51`\n- Exclude by ID (`exclude[]`): Excludes specific resources from the results.\n  - Example (Single): `/articles?exclude=50`\n  - Example (Multiple): `/articles?exclude[]=50&exclude[]=51`\n- Attribute Filtering: Filters results based on specific attribute values. This supports exact matches, SQL-like `LIKE` searches with the `%` wildcard, and multiple values using array syntax.\n  - Example (LIKE search): `/articles?manufacturer=Bosch%`\n  - Example (Multiple values): `/articles?manufacturer[]=Bosch&manufacturer[]=Makita`\n- Comparison Operators: For more precise filtering on attributes like dates or numbers, you can specify a comparison operator.\n  - Example (Date greater than or equal to): `date_comparison=%3E%3D&date=2025-05-01` (where `%3E%3D` is the URL-encoded version of `>=`)\n  - Allowed Operators: `LIKE`, `NOT LIKE`, `=`, `!=`, `>`, `>=`, `<`, `<=`\n- Date Formats: While many date formats are accepted, the recommended format is ISO-8601 with a timezone, such as `2025-01-01T12:00:00+01:00`.\n\n#### Sorting\n\n- Sort Order (`order_by` & `order_direction`): Sorts the result set by a specific attribute in either ascending or descending order.\n  - Example: `/articles?order_by=manufacturer&order_direction=desc`\n\n#### Pagination\n\n- Paginating Results (`per_page` & `page`): Controls the number of items per page and which page of results to return.\n  - Example: `/articles?per_page=25&page=3`\n\n#### Working with Relationships\n\nRelations are by default not included in the response. They has to be explicitly loaded. You have the following options:\n \n- Load Relations (`with`): Eager-loads related resources to include them in the response, reducing the need for subsequent API calls.\n  - Example (Single): `/articles?with=assignments`\n  - Example (Multiple): `/employees?with[]=assignments&with[]=projects`\n- Filter Fields (`only`): Returns only the specified attributes of a resource, supporting nested structures with dot notation.\n   - Example (Single): `/articles?only=id`\n   - Example (Multiple): `/articles?only[]=id&only[]=name`\n   - Example (Nested): `/assignments?with=project&only[]=id&only[]=project.id`\n- Filter by Relations: Retrieves resources that are associated with another specific resource.\n   - Example (Get all articles for assignment 50): `/articles?assignments=50`\n- Count Relations (`count`): Returns a count of related resources instead of the resources themselves.\n   - Example (Single): `/assignments?with_count=articles`\n   - Example (Multiple): `/assignments?with_count[]=articles&with_count[]=employees`\n- Min / Max value of a Relation: Retrieves the minimum or maximum value of a relation.\n   - Example (Single): `/projects?with_min=assignment.start&with_max=assignment.end`\n   - Example (Multiple): `/projects?with_min[]=assignment.start&with_min[]=documentations.documented_on&with_max[]=assignment.end&with_max[]=documentations.documented_on`\n- Sum of a Relation: Retrieves the sum of a relation.\n   - Example (Single): `/assignment?with_sum=billable_timesheet_activites.duration_seconds`\n   - Example (Multiple): `/assignment?with_sum[]=billable_timesheet_activites.duration_seconds`\n- Filter by Relational Properties: Filters based on the properties of a related model. The model and property are separated by a hyphen.\n   - Example (Find projects by a customer's customer number): `/projects?customer-customer_number=123`\n\nNote: For a complete list of filterable attributes and relations for a resource, refer to the attributes available in its corresponding `GET` Schema.\n\n### Requests for a Single Resource\n\nTo retrieve a single resource, make a `GET` request to the resource endpoint with its unique ID.\n\n- Example (Single): `/articles/50`\n- Filter Fields (`only`): Returns only the specified attributes of a resource (Same as the `only` parameter for resource collections)\n    - Example (Single): `/articles/50?only=id`\n    - Example (Multiple): `/articles/50?only[]=id&only[]=name`\n- Load Relations (`load`): You can use `load` for eager-loading related resources (Similar to the `with` parameter for resource collections)\n    - Example (Single): `/timesheets/123?load[]=employee`\n    - Example (Multiple): `/timesheets/123?load[]=activities&load[]=employee`\n- If a resource does not exist, the API will return a `404 Not Found` error.\n\n### HTTP Methods Overview\n\n| Method   | Action                                      | Successful Response | Error Responses                                |\n| :------- | :------------------------------------------ | :------------------ | :--------------------------------------------- |\n| GET      | Retrieves one or a collection of resources. | `200 OK`            | `401 Unauthorized`, `404 Not Found`            |\n| POST     | Creates a new resource.                     | `201 Created`       | `401 Unauthorized`, `422 Unprocessable Entity` |\n| PUT      | Updates an existing resource.               | `200 OK`            | `401 Unauthorized`, `404 Not Found`, `422 Unprocessable Entity` |\n| DELETE   | Deletes a resource.                         | `200 OK`            | `401 Unauthorized`, `404 Not Found`            |\n\n### Common Status Codes\n\n| Code | Meaning                  | Description                                                                 |\n| :--- | :----------------------- | :-------------------------------------------------------------------------- |\n| 200  | OK                       | The request was successful.                                                 |\n| 201  | Created                  | The resource was successfully created (used for `POST` requests).           |\n| 401  | Unauthorized             | The request lacks valid authentication credentials.                         |\n| 404  | Not Found                | The requested resource could not be found.                                  |\n| 422  | Unprocessable Entity     | The request was well-formed, but contains semantic errors (e.g., validation failed). |\n| 500  | Internal Server Error    | An unexpected error occurred on the server, often when a requested relation does not exist. |\n",
    "version": "1.1.0",
    "x-jentic-source-url": "https://api.craftboxx.de/"
  },
  "servers": [
    {
      "url": "https://api.craftboxx.de",
      "description": "Craftboxx API"
    }
  ],
  "paths": {
    "/absences/recurring-rules": {
      "get": {
        "tags": [
          "Absence recurring rules"
        ],
        "summary": "Returns absence recurring rules ",
        "operationId": "ca7c4e6f3f08f71f1a1cc98a417125fd",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/absence_recurring_rule--template_id"
          },
          {
            "$ref": "#/components/parameters/absence_recurring_rule--interval"
          },
          {
            "$ref": "#/components/parameters/absence_recurring_rule--source"
          },
          {
            "$ref": "#/components/parameters/absence_recurring_rule--source_external_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Absence recurring rules",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Absence recurring rules",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AbsenceRecurringRule"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Absence recurring rules"
        ],
        "summary": "Create a absence recurring rule",
        "operationId": "713586d844ef89aa4a042592b7f451e8",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StoreAbsenceRecurringRuleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/absences/recurring-rules/{recurringRuleId}": {
      "get": {
        "tags": [
          "Absence recurring rules"
        ],
        "summary": "Returns a specific absence recurring rule",
        "operationId": "d0ae6d0645ab1fbe48fb0af868647cea",
        "parameters": [
          {
            "name": "recurringRuleId",
            "in": "path",
            "description": "RecurringRule id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Absence recurring rule",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AbsenceRecurringRule"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Recurring rule not found"
          }
        }
      },
      "put": {
        "tags": [
          "Absence recurring rules"
        ],
        "summary": "Updates a absence recurring rule ",
        "operationId": "0cd7ee46405cca1eef64bfd02fdaaf45",
        "parameters": [
          {
            "name": "recurringRuleId",
            "in": "path",
            "description": "Recurring Rule id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAbsenceRecurringRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Recurring rule  not found"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "tags": [
          "Absence recurring rules"
        ],
        "summary": "Deletes a absence recurring rule",
        "operationId": "8de478c9317849bbac05854e366e6813",
        "parameters": [
          {
            "name": "recurringRuleId",
            "in": "path",
            "description": "Recurring rule id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Recurring rule not found"
          }
        }
      }
    },
    "/absences/types": {
      "get": {
        "tags": [
          "Absence types"
        ],
        "summary": "Returns all available absence reasons",
        "operationId": "3002322a3906effe398289e8d6bc952e",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/absence_type--name"
          },
          {
            "$ref": "#/components/parameters/absence_type--group"
          },
          {
            "$ref": "#/components/parameters/absence_type--color"
          },
          {
            "$ref": "#/components/parameters/absence_type--source"
          },
          {
            "$ref": "#/components/parameters/absence_type--source_external_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Absence reasons list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Absence reasons list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AbsenceType"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Absence types"
        ],
        "summary": "Add new absence reason",
        "operationId": "2fdcd448302ce4370370d5186de6f515",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StoreAbsenceTypeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/absences/types/{typeId}": {
      "get": {
        "tags": [
          "Absence types"
        ],
        "summary": "Returns specific absence reason",
        "operationId": "d37641f23057432235b108c9ce400806",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "description": "Type id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Absence reason",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AbsenceType"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Type not found"
          }
        }
      },
      "put": {
        "tags": [
          "Absence types"
        ],
        "summary": "Updates a specific absence reason",
        "operationId": "127f27eca502116e1ec03a31984a9fc2",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "description": "Tag id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAbsenceTypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Absence type not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Absence types"
        ],
        "summary": "Remove absence reason",
        "operationId": "c6c9995b32cab8edfef6fa2e61505420",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "description": "Absence type id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal error"
          }
        }
      }
    },
    "/absences": {
      "get": {
        "tags": [
          "Absences"
        ],
        "summary": "Returns absences",
        "operationId": "4eee0abd2b067c35b255527f41a67b80",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/general--q"
          },
          {
            "$ref": "#/components/parameters/schedulable--start"
          },
          {
            "$ref": "#/components/parameters/schedulable--end"
          },
          {
            "$ref": "#/components/parameters/schedulable--started"
          },
          {
            "$ref": "#/components/parameters/schedulable--ended"
          },
          {
            "$ref": "#/components/parameters/absence--employees"
          },
          {
            "$ref": "#/components/parameters/absence--type_id"
          },
          {
            "$ref": "#/components/parameters/absence--template_id"
          },
          {
            "$ref": "#/components/parameters/absence--recurring_rule_id"
          },
          {
            "$ref": "#/components/parameters/absence--all_day"
          },
          {
            "$ref": "#/components/parameters/absence--timezone"
          },
          {
            "$ref": "#/components/parameters/absence--hints"
          },
          {
            "$ref": "#/components/parameters/absence--source"
          },
          {
            "$ref": "#/components/parameters/absence--source_external_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Absences list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Absences list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Absence"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Absences"
        ],
        "summary": "Add absence",
        "operationId": "84deff88656eb04a768b30130377b425",
        "requestBody": {
          "description": "StoreAbsenceRequest",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAbsenceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/absences/{absenceId}": {
      "get": {
        "tags": [
          "Absences"
        ],
        "summary": "Returns specific absence",
        "operationId": "0944b5651ea1c6f4e69877ea2bdbd522",
        "parameters": [
          {
            "name": "absenceId",
            "in": "path",
            "description": "Absence id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Absence",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Absence"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Absence not found"
          }
        }
      },
      "put": {
        "tags": [
          "Absences"
        ],
        "summary": "Update absence",
        "operationId": "f64f8f3f247042feccd5df407b6ca75e",
        "parameters": [
          {
            "name": "absenceId",
            "in": "path",
            "description": "Absence id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "UpdateAbsenceRequest",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAbsenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Absence not found"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "tags": [
          "Absences"
        ],
        "summary": "Remove absence",
        "operationId": "3bbf50ce2fa9f92630f66a8be3eedfef",
        "parameters": [
          {
            "name": "absenceId",
            "in": "path",
            "description": "Absence id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Absence not found"
          }
        }
      }
    },
    "/auth/create-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Creates and returns an access token",
        "operationId": "8f0f75cc0d7a77a017b4c99611f27d26",
        "requestBody": {
          "description": "Authentication request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Bad credentials"
          }
        }
      }
    },
    "/auth/revoke-token": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revokes current user's access token",
        "operationId": "6ed3d344ec3e63080e0e2a426379ad08",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/articles/groups": {
      "get": {
        "tags": [
          "Article groups"
        ],
        "summary": "Returns articles groups",
        "operationId": "fed088cab499aa5f4f47fb6ad4793d3c",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/article_group--name"
          },
          {
            "$ref": "#/components/parameters/article_group--color"
          },
          {
            "$ref": "#/components/parameters/article_group--source"
          },
          {
            "$ref": "#/components/parameters/article_group--source_external_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Article groups list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Article groups list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ArticleGroup"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Article groups"
        ],
        "summary": "Add new article group",
        "operationId": "0875651316a79e0659968d0990ab4afe",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StoreArticleGroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/articles/groups/{groupId}": {
      "get": {
        "tags": [
          "Article groups"
        ],
        "summary": "Returns specific article group",
        "operationId": "97c2c3ed371853171ad432a256e70fe1",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Article group id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Article group",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ArticleGroup"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Article group not found"
          }
        }
      },
      "put": {
        "tags": [
          "Article groups"
        ],
        "summary": "Update article group",
        "operationId": "0a89ab32fd5f4a92a8031ab22b98759a",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateArticleGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Article group not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Article groups"
        ],
        "summary": "Remove article group",
        "operationId": "6c3a59948f0e3be44e18c25a4d6fb07d",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Article group id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/articles": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Returns articles",
        "operationId": "20f46a4be21edb0179e4df7acaa45c18",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/general--q"
          },
          {
            "$ref": "#/components/parameters/article--group_id"
          },
          {
            "$ref": "#/components/parameters/article--name"
          },
          {
            "$ref": "#/components/parameters/article--manufacturer"
          },
          {
            "$ref": "#/components/parameters/article--supplier_article_nr"
          },
          {
            "$ref": "#/components/parameters/article--manufacturer_article_nr"
          },
          {
            "$ref": "#/components/parameters/article--ean"
          },
          {
            "$ref": "#/components/parameters/article--unit"
          },
          {
            "$ref": "#/components/parameters/article--source"
          },
          {
            "$ref": "#/components/parameters/article--source_external_id"
          },
          {
            "$ref": "#/components/parameters/article--dangerous_material"
          },
          {
            "$ref": "#/components/parameters/article--assignments"
          }
        ],
        "responses": {
          "200": {
            "description": "Articles list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Articles list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Article"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Add article",
        "operationId": "9df6bd8bd202eed7afab4cf724e19398",
        "requestBody": {
          "description": "StoreArticleRequest",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreArticleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/articles/{articleId}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Returns specific article",
        "operationId": "17b2b382f730344552ea2007a461aa27",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "Article id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Article",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Article"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Article not found"
          }
        }
      },
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Update article",
        "operationId": "467ad2f88156aa61f7b6c0797cc2de17",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "Article id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "UpdateArticleRequest",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateArticleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Article not found"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "tags": [
          "Articles"
        ],
        "summary": "Remove article",
        "operationId": "f2504b52c2eebdc961ee818b0845e956",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "Article id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Article not found"
          }
        }
      }
    },
    "/assignments/recurring-rules": {
      "get": {
        "tags": [
          "Assignment recurring rules"
        ],
        "summary": "Returns assignment recurring rules",
        "operationId": "35bb7a52a7594100c772555a2d350d7c",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/assignment_recurring_rule--template_id"
          },
          {
            "$ref": "#/components/parameters/assignment_recurring_rule--interval"
          },
          {
            "$ref": "#/components/parameters/assignment_recurring_rule--source"
          },
          {
            "$ref": "#/components/parameters/assignment_recurring_rule--source_external_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Assignment recurring rules",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Assignment recurring rules",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AssignmentRecurringRule"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Assignment recurring rules"
        ],
        "summary": "Create an assignment recurring rule",
        "operationId": "bdb9cf818fdafac207ac9d92d8bc2ba0",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StoreAssignmentRecurringRuleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/assignments/recurring-rules/{recurringRuleId}": {
      "get": {
        "tags": [
          "Assignment recurring rules"
        ],
        "summary": "Returns a specific assignment recurring rule",
        "operationId": "6bd16ea30b11e4082f9f262746706fcd",
        "parameters": [
          {
            "name": "recurringRuleId",
            "in": "path",
            "description": "RecurringRule id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assignment recurring rule",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssignmentRecurringRule"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Recurring rule not found"
          }
        }
      },
      "put": {
        "tags": [
          "Assignment recurring rules"
        ],
        "summary": "Updates an assignment recurring rule",
        "operationId": "b087be25185bfa63256c145d14f7d667",
        "parameters": [
          {
            "name": "recurringRuleId",
            "in": "path",
            "description": "Recurring Rule id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssignmentRecurringRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Recurring rule not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Assignment recurring rules"
        ],
        "summary": "Deletes an assignment recurring rule",
        "operationId": "3e848ac73b9a50816b9966befb705e23",
        "parameters": [
          {
            "name": "recurringRuleId",
            "in": "path",
            "description": "RecurringRule id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Recurring rule not found"
          }
        }
      }
    },
    "/assignments/tags": {
      "get": {
        "tags": [
          "Assignment Tags"
        ],
        "summary": "Returns all available tags",
        "operationId": "70b47e69ad03be757a9b8886bd085dd4",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/assignment_tag--name"
          },
          {
            "$ref": "#/components/parameters/assignment_tag--color"
          },
          {
            "$ref": "#/components/parameters/assignment_tag--source"
          },
          {
            "$ref": "#/components/parameters/assignment_tag--source_external_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Tags list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Tags list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AssignmentTag"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Assignment Tags"
        ],
        "summary": "Add new tag",
        "operationId": "aa96d8378485159a12f76f66df583158",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StoreAssignmentTagRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal error"
          }
        }
      }
    },
    "/assignments/tags/{tagId}": {
      "get": {
        "tags": [
          "Assignment Tags"
        ],
        "summary": "Returns specific tag",
        "operationId": "55050a9b78b4a481cadf989a55f564de",
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "description": "Tag id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssignmentTag"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Tag not found"
          }
        }
      },
      "put": {
        "tags": [
          "Assignment Tags"
        ],
        "summary": "Updates an assignment tag",
        "operationId": "f69f44898d055bba2df11999290a2e1b",
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "description": "Tag id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssignmentTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Tag not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Assignment Tags"
        ],
        "summary": "Removes an assignment tag",
        "operationId": "c2e72de8cb76d427bc27f55483bf70c3",
        "parameters": [
          {
            "name": "tagId",
            "in": "path",
            "description": "Tag id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Tag not found"
          }
        }
      }
    },
    "/assignments": {
      "get": {
        "tags": [
          "Assignments"
        ],
        "summary": "Returns assignments.",
        "operationId": "5e676b85f8bcc603be0c177760a1b201",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/general--q"
          },
          {
            "$ref": "#/components/parameters/schedulable--start"
          },
          {
            "$ref": "#/components/parameters/schedulable--end"
          },
          {
            "$ref": "#/components/parameters/schedulable--started"
          },
          {
            "$ref": "#/components/parameters/schedulable--ended"
          },
          {
            "$ref": "#/components/parameters/assignment--show_archived"
          },
          {
            "$ref": "#/components/parameters/assignment--employees"
          },
          {
            "$ref": "#/components/parameters/assignment--vehicles"
          },
          {
            "$ref": "#/components/parameters/assignment--tools"
          },
          {
            "$ref": "#/components/parameters/assignment--articles"
          },
          {
            "$ref": "#/components/parameters/assignment--tags"
          },
          {
            "$ref": "#/components/parameters/assignment--project_id"
          },
          {
            "$ref": "#/components/parameters/assignment--customer_address_id"
          },
          {
            "$ref": "#/components/parameters/assignment--title"
          },
          {
            "$ref": "#/components/parameters/assignment--state"
          },
          {
            "$ref": "#/components/parameters/assignment--all_day"
          },
          {
            "$ref": "#/components/parameters/assignment--is_template"
          },
          {
            "$ref": "#/components/parameters/assignment--source"
          },
          {
            "$ref": "#/components/parameters/assignment--source_external_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Assignments list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Assignments list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Assignment"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Assignments"
        ],
        "summary": "Add assignment",
        "operationId": "ad5b9a0b3a5905244f248a83d310b32a",
        "requestBody": {
          "description": "StoreAssignmentRequest",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAssignmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/assignments/{assignmentId}": {
      "get": {
        "tags": [
          "Assignments"
        ],
        "summary": "Returns specific assignment",
        "operationId": "441a8591349992f5213fc166cc6e72a2",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "description": "Assignment ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assignment",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Assignment"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Assignment not found"
          },
          "500": {
            "description": "Internal error"
          }
        }
      },
      "put": {
        "tags": [
          "Assignments"
        ],
        "summary": "Updates a specific assignment",
        "operationId": "c22a105cdde4ddcebc98db76a54b963b",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "description": "Assignment ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "UpdateAssignmentRequest",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssignmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Assignment not found"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "tags": [
          "Assignments"
        ],
        "summary": "Removes an assignment",
        "operationId": "3f9387fdb70e63e17c2653f448ffffa2",
        "parameters": [
          {
            "name": "assignmentId",
            "in": "path",
            "description": "Assignment id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Assignment not found"
          }
        }
      }
    },
    "/assignments/check-availability": {
      "get": {
        "tags": [
          "Assignments"
        ],
        "summary": "Returns the not availale master data in a date range",
        "operationId": "a61cede49940858a1590e96572d802af",
        "parameters": [
          {
            "$ref": "#/components/parameters/availability--start"
          },
          {
            "$ref": "#/components/parameters/availability--end"
          },
          {
            "$ref": "#/components/parameters/availability--exclude"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/customers/addresses": {
      "get": {
        "tags": [
          "Customer addresses"
        ],
        "summary": "Returns all addresses",
        "operationId": "3dee4aad01ff69afc049ede313d49213",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/customer_address--customer_id"
          },
          {
            "$ref": "#/components/parameters/customer_address--type"
          },
          {
            "$ref": "#/components/parameters/customer_address--use"
          },
          {
            "$ref": "#/components/parameters/customer_address--name"
          },
          {
            "$ref": "#/components/parameters/customer_address--city"
          },
          {
            "$ref": "#/components/parameters/customer_address--zip"
          },
          {
            "$ref": "#/components/parameters/customer_address--source"
          },
          {
            "$ref": "#/components/parameters/customer_address--source_external_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Locations & contacts list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Locations & contacts list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CustomerAddress"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customer addresses"
        ],
        "summary": "Add customer address",
        "operationId": "7ca66cbd762ec44d43b3dc76461ec396",
        "requestBody": {
          "description": "StoreAddressRequest",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreCustomerAddressRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Address not found"
          }
        }
      }
    },
    "/customers/addresses/{addressId}": {
      "get": {
        "tags": [
          "Customer addresses"
        ],
        "summary": "Returns specific customer address",
        "operationId": "0efa5e59a52d52a052d8038340f4a2ff",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "description": "Address id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location & contact",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerAddress"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Address not found"
          }
        }
      },
      "put": {
        "tags": [
          "Customer addresses"
        ],
        "summary": "Update customer address",
        "operationId": "4c87088d305c827cd17acf9fc9832236",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "description": "Address id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "UpdateAddressRequest",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Address not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Customer addresses"
        ],
        "summary": "Remove customer address",
        "operationId": "b33037331830a36fa8d06157afefb942",
        "parameters": [
          {
            "name": "addressId",
            "in": "path",
            "description": "Address id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "404": {
            "description": "Address not found"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Returns customers",
        "operationId": "cda07c455deb3862267a3326b0c9d8fd",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/general--q"
          },
          {
            "$ref": "#/components/parameters/customer--name"
          },
          {
            "$ref": "#/components/parameters/customer--name_addon"
          },
          {
            "$ref": "#/components/parameters/customer--customer_number"
          },
          {
            "$ref": "#/components/parameters/customer--info"
          },
          {
            "$ref": "#/components/parameters/customer--source"
          },
          {
            "$ref": "#/components/parameters/customer--source_external_id"
          },
          {
            "$ref": "#/components/parameters/customer--projects"
          },
          {
            "$ref": "#/components/parameters/customer--addresses"
          }
        ],
        "responses": {
          "200": {
            "description": "Customers list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Customers list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Customer"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add customer",
        "operationId": "05089f633eadb677aafc9f3d471e7d3e",
        "requestBody": {
          "description": "StoreCustomerRequest",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Returns specific customer",
        "operationId": "6d6ca4ad1bb2ba570265c2c327a6472f",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found"
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update customer",
        "operationId": "2d6c88eaef7804c89b3c6f37e6c503b6",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "UpdateCustomerRequest",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Customer not found"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Remove customer",
        "operationId": "e906cb3910e6bd1240ea3b04da511b86",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      }
    },
    "/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Returns documents",
        "operationId": "58aa02e52615eb94196343283d7e4b56",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/general--q"
          },
          {
            "$ref": "#/components/parameters/document--type"
          },
          {
            "$ref": "#/components/parameters/document--title"
          },
          {
            "$ref": "#/components/parameters/document--source"
          },
          {
            "$ref": "#/components/parameters/document--source_external_id"
          },
          {
            "$ref": "#/components/parameters/document--projects"
          },
          {
            "$ref": "#/components/parameters/document--assignments"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "All documents that are global or belong to the project ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documents list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Documents list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Document"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Add new document",
        "operationId": "1376f0c660d7ac76c951592057ca0d19",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StoreDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/documents/{documentsId}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Returns specific document",
        "operationId": "c69a4d81a8829b251c50a2073256a45f",
        "parameters": [
          {
            "name": "documentsId",
            "in": "path",
            "description": "Document id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Document"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/documents/{documentId}": {
      "put": {
        "tags": [
          "Documents"
        ],
        "summary": "Update document",
        "operationId": "8770f3d83f0f2d9d225ba3158f73309f",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "Document id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Document not found"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "tags": [
          "Documents"
        ],
        "summary": "Remove document",
        "operationId": "868e962b2145844a643da70e368e28f8",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "Document id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    },
    "/documentations/signatures": {
      "get": {
        "tags": [
          "Documentation signature templates"
        ],
        "summary": "Returns documentation signature templates",
        "operationId": "fcdbaea6b199ca682b9655203a8faddf",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/documentation_signature--text"
          },
          {
            "$ref": "#/components/parameters/documentation_signature--attachment_possible"
          },
          {
            "$ref": "#/components/parameters/documentation_signature--source"
          },
          {
            "$ref": "#/components/parameters/documentation_signature--source_external_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Signature templates list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Signature templates list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DocumentationSignature"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documentation signature templates"
        ],
        "summary": "Add new signature template",
        "operationId": "b0a491bbb8fa03918d086b43b15e2196",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StoreDocumentationSignatureRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/documentations/signatures/{signatureTemplateId}": {
      "get": {
        "tags": [
          "Documentation signature templates"
        ],
        "summary": "Returns specific signature template",
        "operationId": "2e510e1713022a991f79bb207b40e7d9",
        "parameters": [
          {
            "name": "signatureTemplateId",
            "in": "path",
            "description": "Signature template id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signature template",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DocumentationSignature"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Signature template not found"
          }
        }
      },
      "put": {
        "tags": [
          "Documentation signature templates"
        ],
        "summary": "Updates a signature template",
        "operationId": "403a4df36b3a760a18159f51cc5e7839",
        "parameters": [
          {
            "name": "signatureTemplateId",
            "in": "path",
            "description": "Signature template id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentationSignatureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Signature template not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Documentation signature templates"
        ],
        "summary": "Remove signature template",
        "operationId": "c559ed7042a674ff0dbed2465d2fe80f",
        "parameters": [
          {
            "name": "signatureTemplateId",
            "in": "path",
            "description": "Signature template id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Signature template not found"
          }
        }
      }
    },
    "/documentations": {
      "get": {
        "tags": [
          "Documentations"
        ],
        "summary": "Returns documentations from specific assignment",
        "operationId": "1ba507fb18e371b924af9c2637d64b57",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/general--q"
          },
          {
            "$ref": "#/components/parameters/documentation--assignment_id"
          },
          {
            "$ref": "#/components/parameters/documentation--author_id"
          },
          {
            "$ref": "#/components/parameters/documentation--title"
          },
          {
            "$ref": "#/components/parameters/documentation--state"
          },
          {
            "$ref": "#/components/parameters/documentation--type"
          },
          {
            "$ref": "#/components/parameters/documentation--source"
          },
          {
            "$ref": "#/components/parameters/documentation--source_external_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Documentations list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Documentations list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Documentation"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Documentations"
        ],
        "summary": "Add documentation to specified assignment",
        "operationId": "3301a37cc248d230743f5bb35b8ae634",
        "requestBody": {
          "description": "StoreDocumentationRequest",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StoreDocumentationRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreDocumentationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/documentations/{documentationId}": {
      "get": {
        "tags": [
          "Documentations"
        ],
        "summary": "Returns specific documentation",
        "operationId": "37e4ae6f217a55c9bcae63c0aee75447",
        "parameters": [
          {
            "name": "documentationId",
            "in": "path",
            "description": "Documentation id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documentation",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Documentation"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Documentation not found"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "put": {
        "tags": [
          "Documentations"
        ],
        "summary": "Updates a documentation",
        "operationId": "90dbe6c4de9ceca62d1ea453bc90c5da",
        "parameters": [
          {
            "name": "documentationId",
            "in": "path",
            "description": "Documentation id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "UpdateDocumentationRequest",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentationRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocumentationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Documentation not found"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "delete": {
        "tags": [
          "Documentations"
        ],
        "summary": "Deletes a specific documentation",
        "operationId": "f6ed90c43fdd32f248b14be9830c0d23",
        "parameters": [
          {
            "name": "documentationId",
            "in": "path",
            "description": "Documentation ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Documentation not found"
          }
        }
      }
    },
    "/employees/absence-accounts/balances": {
      "get": {
        "tags": [
          "Employee absence account balances"
        ],
        "summary": "Returns absence account balances. Use parameters like 'employee_id' and 'year' to filter.",
        "operationId": "f60cc7f31118d6957c81c14f1a36ff9d",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/employee_absence_account_balance--employee_id"
          },
          {
            "$ref": "#/components/parameters/employee_absence_account_balance--year"
          }
        ],
        "responses": {
          "200": {
            "description": "Leave balances list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Leave balances list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EmployeeAbsenceAccountBalance"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/employees/absence-accounts/balances/{balanceId}": {
      "get": {
        "tags": [
          "Employee absence account balances"
        ],
        "summary": "Returns a specific absence account balance",
        "operationId": "e3722cae8f1ec70186f3c6ef57f9b97b",
        "parameters": [
          {
            "name": "balanceId",
            "in": "path",
            "description": "Absence account balance id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leave balance",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EmployeeAbsenceAccountBalance"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Absence account balance not found"
          }
        }
      }
    },
    "/employees/balance-compensations": {
      "get": {
        "tags": [
          "Employee balance compensations"
        ],
        "summary": "Returns balance compensations",
        "operationId": "d0e0356a7270e537d6ed5f70e7fd5e49",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/employee_balance_compensation--employee_id"
          },
          {
            "$ref": "#/components/parameters/employee_balance_compensation--date"
          }
        ],
        "responses": {
          "200": {
            "description": "Balance compensations list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Balance compensations list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EmployeeBalanceCompensation"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employee balance compensations"
        ],
        "summary": "Add new balance compensations",
        "operationId": "94f5b2af45d527fa8e859e5cd37bc175",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StoreEmployeeBalanceCompensationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/employees/balance-compensations/{balanceCompensationId}": {
      "get": {
        "tags": [
          "Employee balance compensations"
        ],
        "summary": "Returns specific balance compensation",
        "operationId": "dda49a5c27675551de4f00b683de9bcd",
        "parameters": [
          {
            "name": "balanceCompensationId",
            "in": "path",
            "description": "Balance compensation id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance compensation",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EmployeeBalanceCompensation"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Emplyoee balanceCompensation not found"
          }
        }
      },
      "put": {
        "tags": [
          "Employee balance compensations"
        ],
        "summary": "Update balance compensations",
        "operationId": "94c580d290f5d302d16a4f39963f0fda",
        "parameters": [
          {
            "name": "balanceCompensationId",
            "in": "path",
            "description": "Balance compensation id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmployeeBalanceCompensationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Balance compensation not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Employee balance compensations"
        ],
        "summary": "Remove a specific balance compensation",
        "operationId": "68a5f5e842af724bf972306a78e03b50",
        "parameters": [
          {
            "name": "balanceCompensationId",
            "in": "path",
            "description": "Balance compensation id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Balance compensation not found"
          }
        }
      }
    },
    "/employees/groups": {
      "get": {
        "tags": [
          "Employee groups"
        ],
        "summary": "Returns employees groups",
        "operationId": "930d864b66957a23de2084497817abec",
        "parameters": [
          {
            "$ref": "#/components/parameters/general--id"
          },
          {
            "$ref": "#/components/parameters/general--per_page"
          },
          {
            "$ref": "#/components/parameters/general--page"
          },
          {
            "$ref": "#/components/parameters/general--order_by"
          },
          {
            "$ref": "#/components/parameters/general--order_direction"
          },
          {
            "$ref": "#/components/parameters/general--with"
          },
          {
            "$ref": "#/components/parameters/general--exclude"
          },
          {
            "$ref": "#/components/parameters/employee_group--name"
          },
          {
            "$ref": "#/components/parameters/employee_group--color"
          },
          {
            "$ref": "#/components/parameters/employee_group--source"
          },
          {
            "$ref": "#/components/parameters/employee_group--source_external_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Employee Groups list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "Employee Groups list",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EmployeeGroup"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employee groups"
        ],
        "summary": "Add new employee group",
        "operationId": "9f26b561bfd2ee576032aa1560ce5641",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StoreEmployeeGroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/employees/groups/{groupId}": {
      "get": {
        "tags": [
          "Employee groups"
        ],
        "summary": "Returns specific employee group",
        "operationId": "7d6cee9ccf9f79b10a8b6ef1cf42a57d",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Employee group id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee Group",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EmployeeGroup"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Employee group not found"
          }
        }
      },
      "put": {
        "tags": [
          "Employee groups"
        ],
        "summary": "Update employee group",
        "operationId": "950a58985b1e739002b618c2e92a683d",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmployeeGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "422": {
            "description": "Validation failed"
          },
          "404": {
            "description": "Employee group not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Employee groups"
        ],
        "summary": "Remove employee group",
[...]
