{
  "openapi": "3.0.3",
  "info": {
    "title": "iSDAsoil API",
    "version": "2.0.0",
    "description": "Soil property and agronomy data API for locations across Africa.",
    "x-jentic-source-url": "https://www.isda-africa.com/isdasoil/developer/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.isda-africa.com"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "operationId": "login",
        "summary": "Obtain access token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        },
        "description": "Obtain access token"
      }
    },
    "/isdasoil/v2/layers": {
      "get": {
        "operationId": "getLayers",
        "summary": "Get soil layers metadata",
        "description": "Returns metadata on available soil properties",
        "tags": [
          "Soil Data"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/isdasoil/v2/soilproperty": {
      "get": {
        "operationId": "getSoilProperty",
        "summary": "Get soil property data",
        "description": "Retrieves soil property and agronomy data for a location in Africa",
        "tags": [
          "Soil Data"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "description": "Latitude",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "description": "Longitude",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Soil depth",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "property",
            "in": "query",
            "description": "Specific soil property",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoilPropertyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          }
        }
      },
      "LayersResponse": {
        "type": "object",
        "properties": {
          "layers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "depths": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "unit": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SoilPropertyResponse": {
        "type": "object",
        "properties": {
          "property": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "uncertainty": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Soil Data"
    }
  ]
}
