{
  "openapi": "3.0.3",
  "info": {
    "title": "Tradable Bits API",
    "version": "1.0.0",
    "description": "Fan engagement and CRM platform API. Manage fans, segments, tickets, performances, streams, and more.",
    "x-jentic-source-url": "https://tradablebits.com/developers",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://tradablebits.com"
    }
  ],
  "paths": {
    "/v1/segments": {
      "get": {
        "operationId": "listSegments",
        "summary": "List available segments",
        "tags": [
          "Segments"
        ],
        "responses": {
          "200": {
            "description": "Segment list"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List available segments"
      }
    },
    "/v1/segments/{segment_type}/{segment_id}/status": {
      "get": {
        "operationId": "getSegmentStatus",
        "summary": "Get segment metrics",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "segment_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Segment status"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get segment metrics"
      }
    },
    "/v1/segments/{segment_type}/{segment_id}": {
      "get": {
        "operationId": "getSegmentFans",
        "summary": "Get fans in a segment",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "segment_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fan list"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get fans in a segment"
      }
    },
    "/v1/crm/fans": {
      "get": {
        "operationId": "searchFans",
        "summary": "Search fan records",
        "tags": [
          "CRM"
        ],
        "responses": {
          "200": {
            "description": "Fan list"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search fan records"
      },
      "post": {
        "operationId": "createFan",
        "summary": "Create fan record",
        "tags": [
          "CRM"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fan created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create fan record"
      }
    },
    "/v1/crm/fans/{fan_id}": {
      "get": {
        "operationId": "getFan",
        "summary": "Get specific fan",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "fan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fan details"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get specific fan"
      },
      "post": {
        "operationId": "updateFan",
        "summary": "Update fan",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "fan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fan updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update fan"
      },
      "delete": {
        "operationId": "deleteFan",
        "summary": "Delete fan",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "fan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fan deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete fan"
      }
    },
    "/v1/crm/fans/{fan_id}/points": {
      "get": {
        "operationId": "getFanPoints",
        "summary": "Get fan points",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "fan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Points"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get fan points"
      },
      "post": {
        "operationId": "awardFanPoints",
        "summary": "Award points to fan",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "fan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "points": {
                    "type": "integer"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Points awarded"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Award points to fan"
      }
    },
    "/v1/crm/fans/{fan_id}/identifiers": {
      "get": {
        "operationId": "getFanIdentifiers",
        "summary": "Get fan identifiers",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "fan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Identifiers"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get fan identifiers"
      },
      "post": {
        "operationId": "createFanIdentifier",
        "summary": "Create fan identifier",
        "tags": [
          "CRM"
        ],
        "parameters": [
          {
            "name": "fan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Identifier created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create fan identifier"
      }
    },
    "/v1/crm/activities": {
      "get": {
        "operationId": "listActivities",
        "summary": "List activities",
        "tags": [
          "CRM"
        ],
        "responses": {
          "200": {
            "description": "Activities"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List activities"
      },
      "post": {
        "operationId": "createActivity",
        "summary": "Submit activity and fan details",
        "tags": [
          "CRM"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Activity created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Submit activity and fan details"
      }
    },
    "/v1/crm/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "summary": "List campaigns",
        "tags": [
          "CRM"
        ],
        "responses": {
          "200": {
            "description": "Campaigns"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List campaigns"
      }
    },
    "/v1/crm/tickets": {
      "get": {
        "operationId": "listTickets",
        "summary": "List tickets",
        "tags": [
          "Tickets"
        ],
        "responses": {
          "200": {
            "description": "Tickets"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List tickets"
      },
      "post": {
        "operationId": "createTicket",
        "summary": "Create ticket",
        "tags": [
          "Tickets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTicketRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ticket created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create ticket"
      }
    },
    "/v1/crm/tickets/{ticket_id}": {
      "get": {
        "operationId": "getTicket",
        "summary": "Get ticket",
        "tags": [
          "Tickets"
        ],
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get ticket"
      }
    },
    "/v1/crm/bulk_tickets": {
      "post": {
        "operationId": "createBulkTickets",
        "summary": "Create up to 100 tickets",
        "tags": [
          "Tickets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tickets created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create up to 100 tickets"
      }
    },
    "/v1/crm/purchases": {
      "get": {
        "operationId": "searchPurchases",
        "summary": "Search purchases",
        "tags": [
          "CRM"
        ],
        "responses": {
          "200": {
            "description": "Purchases"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search purchases"
      },
      "post": {
        "operationId": "upsertPurchases",
        "summary": "Upsert purchases",
        "tags": [
          "CRM"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purchases upserted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upsert purchases"
      }
    },
    "/v1/crm/fan_tags": {
      "get": {
        "operationId": "listFanTags",
        "summary": "List fan tags",
        "tags": [
          "CRM"
        ],
        "responses": {
          "200": {
            "description": "Fan tags"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List fan tags"
      }
    },
    "/v1/crm/registrations": {
      "get": {
        "operationId": "listRegistrations",
        "summary": "List registrations",
        "tags": [
          "CRM"
        ],
        "responses": {
          "200": {
            "description": "Registrations"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List registrations"
      },
      "post": {
        "operationId": "createRegistration",
        "summary": "Create registration",
        "tags": [
          "CRM"
        ],
        "responses": {
          "201": {
            "description": "Registration created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create registration"
      }
    },
    "/v1/ent/performances": {
      "get": {
        "operationId": "listPerformances",
        "summary": "List performances",
        "tags": [
          "Entertainment"
        ],
        "responses": {
          "200": {
            "description": "Performances"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List performances"
      },
      "post": {
        "operationId": "createPerformance",
        "summary": "Create performance",
        "tags": [
          "Entertainment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create performance"
      }
    },
    "/v1/ent/performances/{performance_uid}": {
      "get": {
        "operationId": "getPerformance",
        "summary": "Get performance",
        "tags": [
          "Entertainment"
        ],
        "parameters": [
          {
            "name": "performance_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Performance"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get performance"
      },
      "post": {
        "operationId": "updatePerformance",
        "summary": "Update performance",
        "tags": [
          "Entertainment"
        ],
        "parameters": [
          {
            "name": "performance_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update performance"
      },
      "delete": {
        "operationId": "deletePerformance",
        "summary": "Delete performance",
        "tags": [
          "Entertainment"
        ],
        "parameters": [
          {
            "name": "performance_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete performance"
      }
    },
    "/v1/streams": {
      "get": {
        "operationId": "listStreams",
        "summary": "List streams",
        "tags": [
          "Streams"
        ],
        "responses": {
          "200": {
            "description": "Streams"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List streams"
      }
    },
    "/v1/streams/{stream_key}/records": {
      "get": {
        "operationId": "getStreamRecords",
        "summary": "Get stream records",
        "tags": [
          "Streams"
        ],
        "parameters": [
          {
            "name": "stream_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Records"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get stream records"
      },
      "post": {
        "operationId": "submitStreamRecords",
        "summary": "Submit stream records",
        "tags": [
          "Streams"
        ],
        "parameters": [
          {
            "name": "stream_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Submitted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Submit stream records"
      }
    },
    "/v1/idols": {
      "get": {
        "operationId": "listIdols",
        "summary": "List idols",
        "tags": [
          "Idols"
        ],
        "responses": {
          "200": {
            "description": "Idols"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List idols"
      },
      "post": {
        "operationId": "createIdol",
        "summary": "Create idol",
        "tags": [
          "Idols"
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create idol"
      }
    },
    "/v1/apps": {
      "get": {
        "operationId": "listApps",
        "summary": "List apps",
        "tags": [
          "Apps"
        ],
        "responses": {
          "200": {
            "description": "Apps"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List apps"
      }
    },
    "/v1/businesses": {
      "get": {
        "operationId": "listBusinesses",
        "summary": "List businesses",
        "tags": [
          "Apps"
        ],
        "responses": {
          "200": {
            "description": "Businesses"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List businesses"
      }
    },
    "/v1/reports": {
      "get": {
        "operationId": "listReports",
        "summary": "List reports",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Reports"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List reports"
      }
    },
    "/v1/media": {
      "post": {
        "operationId": "uploadMedia",
        "summary": "Upload media",
        "tags": [
          "Media"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uploaded"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upload media"
      }
    }
  },
  "components": {
    "schemas": {
      "CreateFanRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "CreateTicketRequest": {
        "type": "object",
        "properties": {
          "fan_id": {
            "type": "integer"
          },
          "event_id": {
            "type": "string"
          },
          "barcode": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Apps"
    },
    {
      "name": "CRM"
    },
    {
      "name": "Entertainment"
    },
    {
      "name": "Idols"
    },
    {
      "name": "Media"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Segments"
    },
    {
      "name": "Streams"
    },
    {
      "name": "Tickets"
    }
  ]
}
