{
  "openapi": "3.0.3",
  "info": {
    "title": "Revi Reviews API",
    "description": "REST API for interacting with the Revi.io reviews platform. Manage orders, products, and reviews for your e-commerce shop.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.revi.io"
  },
  "servers": [
    {
      "url": "https://api.revi.io/api/v1",
      "description": "Revi API v1"
    }
  ],
  "paths": {
    "/hello_world": {
      "post": {
        "operationId": "helloworld",
        "summary": "Test connection",
        "description": "A simple endpoint to test if the connection to the Revi API is successful.",
        "tags": [
          "Quickstart"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "test"
                ],
                "properties": {
                  "test": {
                    "type": "string",
                    "description": "A string of your choice to test the connection."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connection test successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "operationId": "createorders",
        "summary": "Create orders",
        "description": "Create orders at Revi. Once orders are synchronized, the platform will start sending review emails.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orders"
                ],
                "properties": {
                  "orders": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Orders created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "order_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders_status": {
      "post": {
        "operationId": "updateordersstatus",
        "summary": "Update status of orders",
        "description": "Update the status of previously synchronized orders. Useful for changing orders from 'pending' to 'ready' so Revi can send review emails.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orders"
                ],
                "properties": {
                  "orders": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderStatusUpdate"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order statuses updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "order_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "post": {
        "operationId": "createproducts",
        "summary": "Create products",
        "description": "Sync products with Revi so the platform can include product-specific reviews in emails.",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "products"
                ],
                "properties": {
                  "products": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Product"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Products created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "product_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders_products": {
      "post": {
        "operationId": "linkproductstoorders",
        "summary": "Link products to orders",
        "description": "Link order products to orders so customers can review specific products they purchased.",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orders_products"
                ],
                "properties": {
                  "orders_products": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderProducts"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Products linked to orders successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "product_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/product_info": {
      "get": {
        "operationId": "getproductinfo",
        "summary": "Get product review info",
        "description": "Retrieve the number of reviews and average rating for a specific product.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id_product",
            "in": "query",
            "required": true,
            "description": "ID of the product.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_store",
            "in": "query",
            "description": "ID of the store (for marketplaces only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product review information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reviews": {
      "get": {
        "operationId": "getreviews",
        "summary": "Get reviews",
        "description": "Retrieve reviews with optional filtering by ID range, date range, rating, product, or store.",
        "tags": [
          "Reviews"
        ],
        "parameters": [
          {
            "name": "from_id",
            "in": "query",
            "description": "Get reviews with a greater ID than this value.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to_id",
            "in": "query",
            "description": "Get reviews with a lower ID than this value.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Get reviews after this date (YYYY-MM-DD format).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Get reviews before this date (YYYY-MM-DD format).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "equal_to_rating",
            "in": "query",
            "description": "Get reviews with rating equal to this value.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "greater_than_rating",
            "in": "query",
            "description": "Get reviews with rating higher than this value.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "id_product",
            "in": "query",
            "description": "Get reviews for a specific product by ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id_store",
            "in": "query",
            "description": "For marketplaces. Get reviews of specific store(s). Multiple IDs comma-separated.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of returned reviews.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of reviews.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shop_info": {
      "get": {
        "operationId": "getshopinfo",
        "summary": "Get shop rating info",
        "description": "Retrieve the number of reviews and average rating for your shop.",
        "tags": [
          "Shop"
        ],
        "responses": {
          "200": {
            "description": "Shop rating information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShopInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "API key obtained from Revi Dashboard > Configuration > Integration."
      }
    },
    "schemas": {
      "Order": {
        "type": "object",
        "required": [
          "id_order",
          "email",
          "status",
          "order_date"
        ],
        "properties": {
          "id_store": {
            "type": "string",
            "description": "ID of the store. Leave empty if not a marketplace."
          },
          "id_order": {
            "type": "string",
            "description": "ID of the order."
          },
          "lang": {
            "type": "string",
            "description": "ISO 639, 2 characters language code."
          },
          "customer_name": {
            "type": "string"
          },
          "customer_lastname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code."
          },
          "shipping_cost": {
            "type": "string",
            "description": "Shipping amount with 2 fixed decimals."
          },
          "total_discount": {
            "type": "string",
            "description": "Discount amount with 2 fixed decimals."
          },
          "taxes": {
            "type": "string",
            "description": "Taxes amount with 2 fixed decimals."
          },
          "vat": {
            "type": "string",
            "description": "VAT number without percentage symbol."
          },
          "total_products": {
            "type": "string"
          },
          "total_paid": {
            "type": "string",
            "description": "Total order amount with 2 fixed decimals."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "ready",
              "cancelled"
            ],
            "description": "Order status."
          },
          "order_date": {
            "type": "string",
            "description": "Order date in YYYY-MM-DD HH:MM:SS format."
          },
          "date_status_upd": {
            "type": "string",
            "description": "Last modified date in YYYY-MM-DD HH:MM:SS format."
          },
          "delete": {
            "type": "integer",
            "description": "Set to delete a previously inserted order."
          }
        }
      },
      "OrderStatusUpdate": {
        "type": "object",
        "required": [
          "id_order",
          "status"
        ],
        "properties": {
          "id_store": {
            "type": "string",
            "description": "Only for marketplaces."
          },
          "id_order": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "ready",
              "cancelled"
            ]
          },
          "date_status_upd": {
            "type": "string",
            "description": "Date in YYYY-MM-DD HH:MM:SS format."
          }
        }
      },
      "Product": {
        "type": "object",
        "required": [
          "id_product",
          "price",
          "locale"
        ],
        "properties": {
          "id_store": {
            "type": "string"
          },
          "id_product": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "ean": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "upc": {
            "type": "string"
          },
          "jan": {
            "type": "string"
          },
          "isbn": {
            "type": "string"
          },
          "mpn": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "stock": {
            "type": "string"
          },
          "locale": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductLocale"
            }
          },
          "combinations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductCombination"
            }
          }
        }
      },
      "ProductLocale": {
        "type": "object",
        "required": [
          "lang",
          "name",
          "url"
        ],
        "properties": {
          "lang": {
            "type": "string",
            "description": "ISO 639, 2 characters language code."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "photo_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ProductCombination": {
        "type": "object",
        "required": [
          "id_shop_product_combination"
        ],
        "properties": {
          "id_shop_product_combination": {
            "type": "string"
          },
          "photo_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "OrderProducts": {
        "type": "object",
        "required": [
          "id_order",
          "products"
        ],
        "properties": {
          "id_order": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id_product"
              ],
              "properties": {
                "id_product": {
                  "type": "string"
                },
                "id_shop_product_combination": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ProductInfoResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "product": {
                "type": "object",
                "properties": {
                  "id_product": {
                    "type": "string"
                  },
                  "id_store": {
                    "type": "string"
                  },
                  "avg_rating": {
                    "type": "string"
                  },
                  "num_ratings": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Review": {
        "type": "object",
        "properties": {
          "id_comment": {
            "type": "string"
          },
          "id_order": {
            "type": "string"
          },
          "id_store": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Comment type: 'product' or 'general'."
          },
          "customer_name": {
            "type": "string"
          },
          "customer_lastname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "IP": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "rating": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "id_product": {
            "type": "string"
          }
        }
      },
      "ReviewsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "reviews": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Review"
                }
              }
            }
          }
        }
      },
      "ShopInfoResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "shop": {
                "type": "object",
                "properties": {
                  "avg_rating": {
                    "type": "string"
                  },
                  "num_ratings": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Quickstart",
      "description": "Connection testing"
    },
    {
      "name": "Orders",
      "description": "Order management"
    },
    {
      "name": "Products",
      "description": "Product management"
    },
    {
      "name": "Reviews",
      "description": "Review retrieval"
    },
    {
      "name": "Shop",
      "description": "Shop information"
    }
  ]
}