{
  "openapi": "3.0.3",
  "info": {
    "title": "TigoPesa API",
    "version": "1.0.0",
    "description": "TigoPesa mobile money API for payment authorization, MFS account validation, remittance deposits, and transaction management.",
    "x-jentic-source-url": "https://tigopesa-docs.netlify.app/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://secure.tigo.com",
      "description": "Production"
    },
    {
      "url": "https://securesandbox.tigo.com",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/v1/oauth/generate/accesstoken": {
      "post": {
        "operationId": "generateAccessToken",
        "summary": "Generate access token",
        "description": "Obtain an OAuth2 access token for API authentication.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "client_credentials"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/tigo/systemstatus": {
      "get": {
        "operationId": "getSystemStatus",
        "summary": "System health check",
        "description": "Monitor the health of the TigoPesa service.",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "System is healthy"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/tigo/payment-auth/autorize": {
      "post": {
        "operationId": "authorizePayment",
        "summary": "Authorize a payment",
        "description": "Initiate a secure online payment authorization.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentAuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentAuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/tigo/mfs/validateMFSAccount": {
      "post": {
        "operationId": "validateMfsAccount",
        "summary": "Validate MFS account",
        "description": "Check whether a subscriber has a valid MFS account.",
        "tags": [
          "MFS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transactionRefId"
                ],
                "properties": {
                  "transactionRefId": {
                    "type": "string"
                  },
                  "ReceivingSubscriber": {
                    "type": "object",
                    "properties": {
                      "account": {
                        "type": "string"
                      },
                      "countryCode": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account validated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/tigo/mfs/depositRemittance": {
      "post": {
        "operationId": "depositRemittance",
        "summary": "Deposit remittance",
        "description": "Deposit international remittance funds into a subscriber wallet.",
        "tags": [
          "Remittance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemittanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Remittance deposited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/tigo/mfs/reverseTransaction": {
      "post": {
        "operationId": "reverseTransaction",
        "summary": "Reverse a transaction",
        "description": "Reverse a previously completed transaction.",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transactionRefId",
                  "mfsTransactionId"
                ],
                "properties": {
                  "MasterAccount": {
                    "type": "string"
                  },
                  "transactionRefId": {
                    "type": "string"
                  },
                  "mfsTransactionId": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "LocalPayment": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction reversed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/payment-auth/transactions/{MasterMerchantId}{transactionRefId}": {
      "get": {
        "operationId": "getPaymentAuthStatus",
        "summary": "Get payment auth transaction status",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "MasterMerchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionRefId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get payment auth transaction status"
      }
    },
    "/v1/tigo/mfs/depositRemittance/transactions/{PaymentAggregatorId}{transactionRefId}": {
      "get": {
        "operationId": "getRemittanceStatus",
        "summary": "Get remittance transaction status",
        "tags": [
          "Remittance"
        ],
        "parameters": [
          {
            "name": "PaymentAggregatorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionRefId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get remittance transaction status"
      }
    }
  },
  "components": {
    "schemas": {
      "TokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "string"
          },
          "tokenType": {
            "type": "string"
          }
        }
      },
      "PaymentAuthRequest": {
        "type": "object",
        "properties": {
          "MasterMerchant": {
            "type": "object"
          },
          "Merchant": {
            "type": "object"
          },
          "Subscriber": {
            "type": "object"
          },
          "originPayment": {
            "type": "object"
          },
          "LocalPayment": {
            "type": "object"
          },
          "redirectUri": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PaymentAuthResponse": {
        "type": "object",
        "properties": {
          "transactionRefId": {
            "type": "string"
          },
          "redirectUrl": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "RemittanceRequest": {
        "type": "object",
        "properties": {
          "transactionRefId": {
            "type": "string"
          },
          "PaymentAggregator": {
            "type": "object"
          },
          "Sender": {
            "type": "object"
          },
          "ReceivingSubscriber": {
            "type": "object"
          },
          "OriginPayment": {
            "type": "object"
          },
          "LocalPayment": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from /v1/oauth/generate/accesstoken"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "MFS"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Remittance"
    },
    {
      "name": "System"
    },
    {
      "name": "Transactions"
    }
  ]
}
