{
  "openapi": "3.0.3",
  "info": {
    "title": "Rippling Platform API",
    "description": "Rippling's base platform API for managing employees, companies, departments, teams, groups, leave management, custom fields, work locations, levels, and other HR/workforce resources.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer.rippling.com/documentation/base-api/reference",
    "contact": {
      "name": "Rippling Developer Support",
      "url": "https://developer.rippling.com"
    }
  },
  "servers": [
    {
      "url": "https://api.rippling.com/platform/api",
      "description": "Rippling Platform API production server"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current authenticated user",
        "description": "Returns the profile of the currently authenticated user based on the access token provided.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Authenticated user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatedUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companies": {
      "get": {
        "operationId": "getCompanies",
        "summary": "Get companies",
        "description": "Returns a list of companies accessible to the authenticated user or application.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/employees": {
      "get": {
        "operationId": "getEmployees",
        "summary": "Get employees",
        "description": "Returns a list of active employees for the company. Use the include_terminated endpoint to also retrieve terminated employees.",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of employees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Employee"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/employees/{employeeId}": {
      "get": {
        "operationId": "getEmployeeById",
        "summary": "Get employee by ID",
        "description": "Returns the details of a specific employee by their unique identifier.",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "employeeId",
            "in": "path",
            "description": "Unique identifier of the employee",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Employee not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/employees/include_terminated": {
      "get": {
        "operationId": "getEmployeesIncludeTerminated",
        "summary": "Get all employees including terminated",
        "description": "Returns a list of all employees including those who have been terminated.",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all employees including terminated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Employee"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/departments": {
      "get": {
        "operationId": "getDepartments",
        "summary": "Get departments",
        "description": "Returns a list of all departments in the company.",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of departments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Department"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/teams": {
      "get": {
        "operationId": "getTeams",
        "summary": "Get teams",
        "description": "Returns a list of all teams in the company.",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/levels": {
      "get": {
        "operationId": "getLevels",
        "summary": "Get levels",
        "description": "Returns a list of all employee levels defined in the company.",
        "tags": [
          "Levels"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of levels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Level"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/work-locations": {
      "get": {
        "operationId": "getWorkLocations",
        "summary": "Get work locations",
        "description": "Returns a list of all work locations configured in the company.",
        "tags": [
          "Work Locations"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of work locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkLocation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom-fields": {
      "get": {
        "operationId": "getCustomFields",
        "summary": "Get custom fields",
        "description": "Returns a list of all custom field definitions configured for the company.",
        "tags": [
          "Custom Fields"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of custom field definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldMeta"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "operationId": "getGroups",
        "summary": "Get groups",
        "description": "Returns a list of all groups in the company.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createGroup",
        "summary": "Create a group",
        "description": "Creates a new group in the company.",
        "tags": [
          "Groups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupCreatePayload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}": {
      "get": {
        "operationId": "getGroupById",
        "summary": "Get group by ID",
        "description": "Returns the details of a specific group by its unique identifier.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Unique identifier of the group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "replaceGroup",
        "summary": "Replace a group",
        "description": "Replaces all properties of a group with the provided values.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Unique identifier of the group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupUpdatePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group replaced successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateGroup",
        "summary": "Update a group",
        "description": "Partially updates a group's properties.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Unique identifier of the group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupUpdatePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteGroup",
        "summary": "Delete a group",
        "description": "Deletes a group by its unique identifier.",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Unique identifier of the group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Group not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/company/activity": {
      "get": {
        "operationId": "getCompanyActivity",
        "summary": "Get company activity",
        "description": "Returns a list of activity events for the company, such as employee onboarding, role changes, and terminations.",
        "tags": [
          "Activity"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "ISO 8601 date-time to filter events occurring after this timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "ISO 8601 date-time to filter events occurring before this timestamp",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of activity events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leave-requests": {
      "get": {
        "operationId": "getLeaveRequests",
        "summary": "Get leave requests",
        "description": "Returns a list of leave requests for the company.",
        "tags": [
          "Leave Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "employeeId",
            "in": "query",
            "description": "Filter leave requests by employee ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter leave requests by status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "APPROVED",
                "DENIED",
                "CANCELLED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of leave requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeaveRequest"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLeaveRequest",
        "summary": "Create a leave request",
        "description": "Creates a new leave request for an employee.",
        "tags": [
          "Leave Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaveRequestCreatePayload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Leave request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaveRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leave-requests/{leaveRequestId}": {
      "patch": {
        "operationId": "updateLeaveRequest",
        "summary": "Update a leave request",
        "description": "Partially updates an existing leave request.",
        "tags": [
          "Leave Management"
        ],
        "parameters": [
          {
            "name": "leaveRequestId",
            "in": "path",
            "description": "Unique identifier of the leave request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaveRequestUpdatePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Leave request updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaveRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Leave request not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leave-requests/{leaveRequestId}/cancel": {
      "post": {
        "operationId": "cancelLeaveRequest",
        "summary": "Cancel a leave request",
        "description": "Cancels an existing leave request.",
        "tags": [
          "Leave Management"
        ],
        "parameters": [
          {
            "name": "leaveRequestId",
            "in": "path",
            "description": "Unique identifier of the leave request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leave request cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaveRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Leave request not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leave-requests/{leaveRequestId}/process": {
      "post": {
        "operationId": "processLeaveRequest",
        "summary": "Process a leave request",
        "description": "Processes (approves or denies) a pending leave request.",
        "tags": [
          "Leave Management"
        ],
        "parameters": [
          {
            "name": "leaveRequestId",
            "in": "path",
            "description": "Unique identifier of the leave request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaveRequestProcessPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Leave request processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaveRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Leave request not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leave-balances": {
      "get": {
        "operationId": "getLeaveBalances",
        "summary": "Get leave balances",
        "description": "Returns leave balances for all employees or filtered by employee.",
        "tags": [
          "Leave Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "employeeId",
            "in": "query",
            "description": "Filter leave balances by employee ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of leave balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeaveBalance"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leave-balance": {
      "get": {
        "operationId": "getLeaveBalance",
        "summary": "Get leave balance for a specific employee",
        "description": "Returns the leave balance for a specific employee.",
        "tags": [
          "Leave Management"
        ],
        "parameters": [
          {
            "name": "employeeId",
            "in": "query",
            "description": "The employee ID to retrieve the leave balance for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leave balance details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaveBalance"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/company/leave-types": {
      "get": {
        "operationId": "getCompanyLeaveTypes",
        "summary": "Get company leave types",
        "description": "Returns a list of all leave types configured for the company.",
        "tags": [
          "Leave Management"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of company leave types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyLeaveType"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/saml/idp-metadata": {
      "get": {
        "operationId": "getSamlIdpMetadata",
        "summary": "Get SAML IdP metadata",
        "description": "Returns the SAML Identity Provider metadata XML for configuring single sign-on.",
        "tags": [
          "SAML"
        ],
        "responses": {
          "200": {
            "description": "SAML IdP metadata",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "SAML IdP metadata XML document"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/app/{app}/matching-users": {
      "get": {
        "operationId": "getAppMatchingUsers",
        "summary": "Get matching users for an app",
        "description": "Returns a list of users that match for a given application integration, used for user provisioning and account matching.",
        "tags": [
          "App Management"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "description": "The application identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching users for the app",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Entities"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/mark-app-installed": {
      "post": {
        "operationId": "markAppInstalled",
        "summary": "Mark an app as installed",
        "description": "Marks an application as installed for the company, completing the installation flow.",
        "tags": [
          "App Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkAppInstalledPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App marked as installed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the operation was successful"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ats/candidates/push-candidate": {
      "post": {
        "operationId": "pushAtsCandidate",
        "summary": "Push a candidate to the ATS",
        "description": "Pushes a new candidate into the Rippling Applicant Tracking System.",
        "tags": [
          "ATS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Candidate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Candidate pushed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth2 access token",
        "description": "OAuth 2.0 Bearer token. Obtain an access token through the Rippling OAuth 2.0 authorization flow."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error response returned by the API",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type or code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          }
        },
        "required": [
          "error",
          "message"
        ]
      },
      "AuthenticatedUser": {
        "type": "object",
        "description": "Represents the currently authenticated user",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the authenticated user"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the authenticated user"
          },
          "name": {
            "type": "string",
            "description": "Full name of the authenticated user"
          },
          "role": {
            "type": "string",
            "description": "Role of the authenticated user in the company"
          },
          "companyId": {
            "type": "string",
            "description": "The company ID the user belongs to"
          },
          "employeeId": {
            "type": "string",
            "description": "The employee ID associated with the user"
          }
        }
      },
      "Company": {
        "type": "object",
        "description": "Represents a company in Rippling",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the company"
          },
          "name": {
            "type": "string",
            "description": "Legal name of the company"
          },
          "displayName": {
            "type": "string",
            "description": "Display name of the company"
          },
          "ein": {
            "type": "string",
            "description": "Employer Identification Number"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "type": "string",
            "description": "Company phone number"
          },
          "domain": {
            "type": "string",
            "description": "Company domain"
          },
          "industry": {
            "type": "string",
            "description": "Industry classification"
          },
          "employeeCount": {
            "type": "integer",
            "description": "Total number of employees"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the company was created"
          }
        }
      },
      "Employee": {
        "type": "object",
        "description": "Represents an employee in the company",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the employee"
          },
          "firstName": {
            "type": "string",
            "description": "Employee's first name"
          },
          "lastName": {
            "type": "string",
            "description": "Employee's last name"
          },
          "displayName": {
            "type": "string",
            "description": "Employee's display name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Employee's work email address"
          },
          "personalEmail": {
            "type": "string",
            "format": "email",
            "description": "Employee's personal email address"
          },
          "phone": {
            "type": "string",
            "description": "Employee's phone number"
          },
          "title": {
            "type": "string",
            "description": "Employee's job title"
          },
          "department": {
            "type": "string",
            "description": "Department ID the employee belongs to"
          },
          "departmentName": {
            "type": "string",
            "description": "Name of the employee's department"
          },
          "team": {
            "type": "string",
            "description": "Team ID the employee belongs to"
          },
          "teamName": {
            "type": "string",
            "description": "Name of the employee's team"
          },
          "managerId": {
            "type": "string",
            "description": "ID of the employee's manager"
          },
          "managerName": {
            "type": "string",
            "description": "Name of the employee's manager"
          },
          "level": {
            "type": "string",
            "description": "Level ID of the employee"
          },
          "workLocation": {
            "type": "string",
            "description": "Work location ID of the employee"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment",
            "enum": [
              "FULL_TIME",
              "PART_TIME",
              "CONTRACTOR",
              "INTERN",
              "TEMPORARY"
            ]
          },
          "status": {
            "type": "string",
            "description": "Current employment status",
            "enum": [
              "ACTIVE",
              "TERMINATED",
              "ON_LEAVE",
              "PENDING"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Employee's start date"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "Employee's termination date, if applicable"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "description": "Employee's date of birth"
          },
          "ssn": {
            "type": "string",
            "description": "Last four digits of Social Security Number"
          },
          "companyId": {
            "type": "string",
            "description": "Company ID the employee belongs to"
          },
          "customFields": {
            "$ref": "#/components/schemas/CustomFields"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the employee record was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the employee record was last updated"
          }
        }
      },
      "Department": {
        "type": "object",
        "description": "Represents a department in the company",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the department"
          },
          "name": {
            "type": "string",
            "description": "Name of the department"
          },
          "parentId": {
            "type": "string",
            "description": "ID of the parent department, if applicable"
          },
          "managerId": {
            "type": "string",
            "description": "ID of the department manager"
          },
          "employeeCount": {
            "type": "integer",
            "description": "Number of employees in the department"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the department was created"
          }
        }
      },
      "Team": {
        "type": "object",
        "description": "Represents a team in the company",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the team"
          },
          "name": {
            "type": "string",
            "description": "Name of the team"
          },
          "parentId": {
            "type": "string",
            "description": "ID of the parent team, if applicable"
          },
          "managerId": {
            "type": "string",
            "description": "ID of the team manager"
          },
          "memberCount": {
            "type": "integer",
            "description": "Number of members in the team"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the team was created"
          }
        }
      },
      "Level": {
        "type": "object",
        "description": "Represents an employee level in the company hierarchy",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the level"
          },
          "name": {
            "type": "string",
            "description": "Name of the level"
          },
          "rank": {
            "type": "integer",
            "description": "Numeric rank of the level in the hierarchy"
          },
          "description": {
            "type": "string",
            "description": "Description of the level"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the level was created"
          }
        }
      },
      "Group": {
        "type": "object",
        "description": "Represents a custom group of employees",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the group"
          },
          "name": {
            "type": "string",
            "description": "Name of the group"
          },
          "description": {
            "type": "string",
            "description": "Description of the group"
          },
          "memberIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of employee IDs that are members of this group"
          },
          "memberCount": {
            "type": "integer",
            "description": "Number of members in the group"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the group was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the group was last updated"
          }
        }
      },
      "GroupCreatePayload": {
        "type": "object",
        "description": "Payload for creating a new group",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the group"
          },
          "description": {
            "type": "string",
            "description": "Description of the group"
          },
          "memberIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of employee IDs to add as members"
          }
        }
      },
      "GroupUpdatePayload": {
        "type": "object",
        "description": "Payload for updating a group",
        "properties": {
          "name": {
            "type": "string",
            "description": "Updated name of the group"
          },
          "description": {
            "type": "string",
            "description": "Updated description of the group"
          },
          "memberIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Updated list of employee IDs as members"
          }
        }
      },
      "WorkLocation": {
        "type": "object",
        "description": "Represents a work location",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the work location"
          },
          "name": {
            "type": "string",
            "description": "Name of the work location"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "isRemote": {
            "type": "boolean",
            "description": "Whether this is a remote work location"
          },
          "isHeadquarters": {
            "type": "boolean",
            "description": "Whether this is the company headquarters"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone of the work location"
          },
          "employeeCount": {
            "type": "integer",
            "description": "Number of employees at this location"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the work location was created"
          }
        }
      },
      "Address": {
        "type": "object",
        "description": "Represents a physical address",
        "properties": {
          "streetLine1": {
            "type": "string",
            "description": "Street address line 1"
          },
          "streetLine2": {
            "type": "string",
            "description": "Street address line 2"
          },
          "city": {
            "type": "string",
            "description": "City name"
          },
          "state": {
            "type": "string",
            "description": "State or province code"
          },
          "zip": {
            "type": "string",
            "description": "ZIP or postal code"
          },
          "country": {
            "type": "string",
            "description": "Country code (ISO 3166-1 alpha-2)"
          }
        }
      },
      "CustomFields": {
        "type": "object",
        "description": "A map of custom field keys to their values for an employee",
        "additionalProperties": {
          "oneOf": [
            {
              "type": "string"
            },
            {
              "type": "number"
            },
            {
              "type": "boolean"
            }
          ]
        }
      },
      "CustomFieldMeta": {
        "type": "object",
        "description": "Metadata about a custom field definition",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the custom field"
          },
          "name": {
            "type": "string",
            "description": "Display name of the custom field"
          },
          "key": {
            "type": "string",
            "description": "Programmatic key for the custom field"
          },
          "type": {
            "type": "string",
            "description": "Data type of the custom field",
            "enum": [
              "TEXT",
              "NUMBER",
              "DATE",
              "BOOLEAN",
              "SELECT",
              "MULTI_SELECT",
              "CURRENCY"
            ]
          },
          "description": {
            "type": "string",
            "description": "Description of the custom field"
          },
          "required": {
            "type": "boolean",
            "description": "Whether the field is required"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available options for SELECT and MULTI_SELECT field types"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the custom field was created"
          }
        }
      },
      "LeaveRequest": {
        "type": "object",
        "description": "Represents a leave request by an employee",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the leave request"
          },
          "employeeId": {
            "type": "string",
            "description": "ID of the employee who submitted the request"
          },
          "leaveTypeId": {
            "type": "string",
            "description": "ID of the leave type"
          },
          "leaveTypeName": {
            "type": "string",
            "description": "Name of the leave type"
          },
          "status": {
            "type": "string",
            "description": "Current status of the leave request",
            "enum": [
              "PENDING",
              "APPROVED",
              "DENIED",
              "CANCELLED"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Start date of the leave"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "End date of the leave"
          },
          "startTime": {
            "type": "string",
            "description": "Start time for partial-day leaves"
          },
          "endTime": {
            "type": "string",
            "description": "End time for partial-day leaves"
          },
          "totalDays": {
            "type": "number",
            "format": "float",
            "description": "Total number of leave days requested"
          },
          "reason": {
            "type": "string",
            "description": "Reason provided for the leave request"
          },
          "reviewerId": {
            "type": "string",
            "description": "ID of the employee who reviewed the request"
          },
          "reviewerNote": {
            "type": "string",
            "description": "Note from the reviewer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the leave request was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the leave request was last updated"
          }
        }
      },
      "LeaveRequestCreatePayload": {
        "type": "object",
        "description": "Payload for creating a new leave request",
        "required": [
          "employeeId",
          "leaveTypeId",
          "startDate",
          "endDate"
        ],
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "ID of the employee requesting leave"
          },
          "leaveTypeId": {
            "type": "string",
            "description": "ID of the leave type"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Start date of the leave"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "End date of the leave"
          },
          "startTime": {
            "type": "string",
            "description": "Start time for partial-day leaves"
          },
          "endTime": {
            "type": "string",
            "description": "End time for partial-day leaves"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the leave request"
          }
        }
      },
      "LeaveRequestUpdatePayload": {
        "type": "object",
        "description": "Payload for updating an existing leave request",
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "Updated start date of the leave"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "Updated end date of the leave"
          },
          "startTime": {
            "type": "string",
            "description": "Updated start time for partial-day leaves"
          },
          "endTime": {
            "type": "string",
            "description": "Updated end time for partial-day leaves"
          },
          "reason": {
            "type": "string",
            "description": "Updated reason for the leave request"
          }
        }
      },
      "LeaveRequestProcessPayload": {
        "type": "object",
        "description": "Payload for processing (approving or denying) a leave request",
        "required": [
          "action"
        ],
        "properties": {
          "action": {
            "type": "string",
            "description": "The action to take on the leave request",
            "enum": [
              "APPROVE",
              "DENY"
            ]
          },
          "note": {
            "type": "string",
            "description": "Optional note from the reviewer"
          }
        }
      },
      "LeaveBalance": {
        "type": "object",
        "description": "Represents a leave balance for an employee",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "ID of the employee"
          },
          "leaveTypeId": {
            "type": "string",
            "description": "ID of the leave type"
          },
          "leaveTypeName": {
            "type": "string",
            "description": "Name of the leave type"
          },
          "balance": {
            "type": "number",
            "format": "float",
            "description": "Current available balance in days"
          },
          "used": {
            "type": "number",
            "format": "float",
            "description": "Number of days used"
          },
          "accrued": {
            "type": "number",
            "format": "float",
            "description": "Number of days accrued"
          },
          "carryOver": {
            "type": "number",
            "format": "float",
            "description": "Number of days carried over from the previous period"
          },
          "periodStart": {
            "type": "string",
            "format": "date",
            "description": "Start date of the current accrual period"
          },
          "periodEnd": {
            "type": "string",
            "format": "date",
            "description": "End date of the current accrual period"
          }
        }
      },
      "CompanyLeaveType": {
        "type": "object",
        "description": "Represents a leave type configured for the company",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the leave type"
          },
          "name": {
            "type": "string",
            "description": "Name of the leave type"
          },
          "description": {
            "type": "string",
            "description": "Description of the leave type"
          },
          "isPaid": {
            "type": "boolean",
            "description": "Whether the leave type is paid"
          },
          "accrualPolicy": {
            "type": "string",
            "description": "Accrual policy type",
            "enum": [
              "UNLIMITED",
              "FIXED",
              "ACCRUED"
            ]
          },
          "maxDays": {
            "type": "number",
            "format": "float",
            "description": "Maximum number of days allowed per period"
          },
          "requiresApproval": {
            "type": "boolean",
            "description": "Whether leave requests of this type require approval"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the leave type was created"
          }
        }
      },
      "Event": {
        "type": "object",
        "description": "Represents a company activity event",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the event"
          },
          "eventType": {
            "type": "string",
            "description": "Type of the event"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description of the event"
          },
          "employeeId": {
            "type": "string",
            "description": "ID of the employee associated with the event"
          },
          "actorId": {
            "type": "string",
            "description": "ID of the user who triggered the event"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata associated with the event",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the event occurred"
          }
        }
      },
      "Entities": {
        "type": "object",
        "description": "Represents an entity matched for app user provisioning",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the entity"
          },
          "employeeId": {
            "type": "string",
            "description": "Associated employee ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the user"
          },
          "firstName": {
            "type": "string",
            "description": "First name"
          },
          "lastName": {
            "type": "string",
            "description": "Last name"
          },
          "status": {
            "type": "string",
            "description": "Current status of the entity"
          },
          "appUserId": {
            "type": "string",
            "description": "The user's ID in the external application"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "description": "Represents a candidate in the Applicant Tracking System",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the candidate"
          },
          "firstName": {
            "type": "string",
            "description": "Candidate's first name"
          },
          "lastName": {
            "type": "string",
            "description": "Candidate's last name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Candidate's email address"
          },
          "phone": {
            "type": "string",
            "description": "Candidate's phone number"
          },
          "resumeUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the candidate's resume"
          },
          "jobId": {
            "type": "string",
            "description": "ID of the job the candidate is applying for"
          },
          "jobTitle": {
            "type": "string",
            "description": "Title of the job the candidate is applying for"
          },
          "source": {
            "type": "string",
            "description": "Source of the candidate application"
          },
          "stage": {
            "type": "string",
            "description": "Current stage in the hiring pipeline"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "linkedinUrl": {
            "type": "string",
            "format": "uri",
            "description": "Candidate's LinkedIn profile URL"
          },
          "notes": {
            "type": "string",
            "description": "Additional notes about the candidate"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the candidate was created"
          }
        },
        "required": [
          "firstName",
          "lastName",
          "email"
        ]
      },
      "MarkAppInstalledPayload": {
        "type": "object",
        "description": "Payload for marking an app as installed",
        "required": [
          "appId"
        ],
        "properties": {
          "appId": {
            "type": "string",
            "description": "The unique identifier of the application to mark as installed"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Employees",
      "description": "Manage employee records and profiles"
    },
    {
      "name": "Companies",
      "description": "Retrieve company information"
    },
    {
      "name": "Departments",
      "description": "Manage departments within a company"
    },
    {
      "name": "Teams",
      "description": "Manage teams within a company"
    },
    {
      "name": "Groups",
      "description": "Manage custom groups of employees"
    },
    {
      "name": "Leave Management",
      "description": "Manage leave requests, balances, and leave types"
    },
    {
      "name": "Custom Fields",
      "description": "Retrieve custom field definitions"
    },
    {
      "name": "Levels",
      "description": "Retrieve employee levels"
    },
    {
      "name": "Work Locations",
      "description": "Retrieve work location information"
    },
    {
      "name": "Activity",
      "description": "Retrieve company activity events"
    },
    {
      "name": "App Management",
      "description": "Manage application installations and user matching"
    },
    {
      "name": "Authentication",
      "description": "Authentication and current user endpoints"
    },
    {
      "name": "SAML",
      "description": "SAML identity provider configuration"
    },
    {
      "name": "ATS",
      "description": "Applicant Tracking System candidate management"
    }
  ]
}