{
  "openapi": "3.0.3",
  "info": {
    "title": "Bybit V5 API",
    "description": "Bybit cryptocurrency exchange API providing market data, trading, position management, account management, and asset management functionality.",
    "version": "5.0.0",
    "contact": {
      "name": "Bybit",
      "url": "https://bybit-exchange.github.io/docs/v5/intro"
    }
  },
  "servers": [
    {
      "url": "https://api.bybit.com",
      "description": "Main API server"
    },
    {
      "url": "https://api.bytick.com",
      "description": "Alternate API server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "apiSignature": [],
      "timestamp": []
    }
  ],
  "paths": {
    "/v5/market/kline": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Kline (Candlestick)",
        "description": "Query the kline data. Charts are returned in groups based on the requested interval.",
        "security": [],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "linear",
                "inverse"
              ]
            },
            "description": "Product type"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Symbol name, e.g. BTCUSDT"
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "3",
                "5",
                "15",
                "30",
                "60",
                "120",
                "240",
                "360",
                "720",
                "D",
                "W",
                "M"
              ]
            },
            "description": "Kline interval"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start timestamp in milliseconds"
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "End timestamp in milliseconds"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 200,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Limit for data size per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KlineResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v5-market-kline"
      }
    },
    "/v5/market/orderbook": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Orderbook",
        "description": "Query orderbook data.",
        "security": [],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "linear",
                "inverse",
                "option"
              ]
            },
            "description": "Product type"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Symbol name"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit for data size. spot:[1,200] default:1; linear/inverse:[1,500] default:25; option:[1,25] default:1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderbookResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v5-market-orderbook"
      }
    },
    "/v5/market/tickers": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Tickers",
        "description": "Query the latest price snapshot, best bid/ask price, and trading volume in the last 24 hours.",
        "security": [],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "linear",
                "inverse",
                "option"
              ]
            },
            "description": "Product type"
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Symbol name"
          },
          {
            "name": "baseCoin",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Base coin. For option only"
          },
          {
            "name": "expDate",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Expiry date. e.g., 25DEC22. For option only"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v5-market-tickers"
      }
    },
    "/v5/market/instruments-info": {
      "get": {
        "tags": [
          "Market"
        ],
        "summary": "Get Instruments Info",
        "description": "Query a list of instruments with detailed information.",
        "security": [],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "linear",
                "inverse",
                "option"
              ]
            },
            "description": "Product type"
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Symbol name"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Symbol status filter"
          },
          {
            "name": "baseCoin",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Base coin"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Limit for data size per page"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstrumentsResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v5-market-instruments-info"
      }
    },
    "/v5/order/create": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Place Order",
        "description": "Create an order. Supports spot, linear, inverse, and option trading.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "category",
                  "symbol",
                  "side",
                  "orderType",
                  "qty"
                ],
                "properties": {
                  "category": {
                    "type": "string",
                    "enum": [
                      "spot",
                      "linear",
                      "inverse",
                      "option"
                    ],
                    "description": "Product type"
                  },
                  "symbol": {
                    "type": "string",
                    "description": "Symbol name, e.g. BTCUSDT"
                  },
                  "side": {
                    "type": "string",
                    "enum": [
                      "Buy",
                      "Sell"
                    ],
                    "description": "Order side"
                  },
                  "orderType": {
                    "type": "string",
                    "enum": [
                      "Market",
                      "Limit"
                    ],
                    "description": "Order type"
                  },
                  "qty": {
                    "type": "string",
                    "description": "Order quantity"
                  },
                  "price": {
                    "type": "string",
                    "description": "Order price. Required for limit orders"
                  },
                  "triggerPrice": {
                    "type": "string",
                    "description": "Conditional order trigger price"
                  },
                  "timeInForce": {
                    "type": "string",
                    "enum": [
                      "GTC",
                      "IOC",
                      "FOK",
                      "PostOnly"
                    ],
                    "description": "Time in force"
                  },
                  "takeProfit": {
                    "type": "string",
                    "description": "Take profit price"
                  },
                  "stopLoss": {
                    "type": "string",
                    "description": "Stop loss price"
                  },
                  "orderLinkId": {
                    "type": "string",
                    "description": "User customised order ID, max 36 characters"
                  },
                  "isLeverage": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "description": "Whether to borrow. 0: default, 1: borrow"
                  },
                  "positionIdx": {
                    "type": "integer",
                    "enum": [
                      0,
                      1,
                      2
                    ],
                    "description": "Position index. 0: one-way, 1: buy hedge, 2: sell hedge"
                  },
                  "reduceOnly": {
                    "type": "boolean",
                    "description": "Reduce only order flag"
                  },
                  "tpslMode": {
                    "type": "string",
                    "enum": [
                      "Full",
                      "Partial"
                    ],
                    "description": "TP/SL mode"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        },
        "operationId": "post-v5-order-create"
      }
    },
    "/v5/order/amend": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Amend Order",
        "description": "Amend an open unfilled or partially filled order.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "category",
                  "symbol"
                ],
                "properties": {
                  "category": {
                    "type": "string",
                    "enum": [
                      "spot",
                      "linear",
                      "inverse",
                      "option"
                    ]
                  },
                  "symbol": {
                    "type": "string"
                  },
                  "orderId": {
                    "type": "string",
                    "description": "Order ID. Either orderId or orderLinkId required"
                  },
                  "orderLinkId": {
                    "type": "string",
                    "description": "User customised order ID"
                  },
                  "qty": {
                    "type": "string",
                    "description": "New order quantity"
                  },
                  "price": {
                    "type": "string",
                    "description": "New order price"
                  },
                  "triggerPrice": {
                    "type": "string"
                  },
                  "takeProfit": {
                    "type": "string"
                  },
                  "stopLoss": {
                    "type": "string"
                  },
                  "tpslMode": {
                    "type": "string",
                    "enum": [
                      "Full",
                      "Partial"
                    ]
                  },
                  "tpLimitPrice": {
                    "type": "string"
                  },
                  "slLimitPrice": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        },
        "operationId": "post-v5-order-amend"
      }
    },
    "/v5/order/cancel": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Cancel Order",
        "description": "Cancel an unfilled or partially filled order.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "category",
                  "symbol"
                ],
                "properties": {
                  "category": {
                    "type": "string",
                    "enum": [
                      "spot",
                      "linear",
                      "inverse",
                      "option"
                    ]
                  },
                  "symbol": {
                    "type": "string"
                  },
                  "orderId": {
                    "type": "string",
                    "description": "Order ID. Either orderId or orderLinkId required"
                  },
                  "orderLinkId": {
                    "type": "string",
                    "description": "User customised order ID"
                  },
                  "orderFilter": {
                    "type": "string",
                    "enum": [
                      "Order",
                      "tpslOrder",
                      "StopOrder"
                    ],
                    "description": "Spot only filter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          }
        },
        "operationId": "post-v5-order-cancel"
      }
    },
    "/v5/order/realtime": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Get Open Orders",
        "description": "Query unfilled or partially filled orders in real-time.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spot",
                "linear",
                "inverse",
                "option"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseCoin",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "settleCoin",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderLinkId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "openOnly",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "0: open orders, 1: recent 500 closed"
          },
          {
            "name": "orderFilter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenOrdersResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v5-order-realtime"
      }
    },
    "/v5/position/list": {
      "get": {
        "tags": [
          "Position"
        ],
        "summary": "Get Position Info",
        "description": "Query real-time position data.",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "linear",
                "inverse",
                "option"
              ]
            }
          },
          {
            "name": "symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseCoin",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "settleCoin",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositionResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v5-position-list"
      }
    },
    "/v5/account/wallet-balance": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Wallet Balance",
        "description": "Obtain wallet balance, query asset information of each currency.",
        "parameters": [
          {
            "name": "accountType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "UNIFIED"
              ]
            },
            "description": "Account type"
          },
          {
            "name": "coin",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Coin name, multiple coins separated by comma"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletBalanceResponse"
                }
              }
            }
          }
        },
        "operationId": "get-v5-account-wallet-balance"
      }
    },
    "/v5/asset/withdraw/create": {
      "post": {
        "tags": [
          "Asset"
        ],
        "summary": "Withdraw",
        "description": "Withdraw assets from the Bybit account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "coin",
                  "address",
                  "amount",
                  "timestamp",
                  "accountType"
                ],
                "properties": {
                  "coin": {
                    "type": "string",
                    "description": "Coin name"
                  },
                  "chain": {
                    "type": "string",
                    "description": "Chain name"
                  },
                  "address": {
                    "type": "string",
                    "description": "Wallet address or Bybit UID"
                  },
                  "tag": {
                    "type": "string",
                    "description": "Tag/memo if required"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Withdraw amount"
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "Current timestamp in ms"
                  },
                  "forceChain": {
                    "type": "integer",
                    "enum": [
                      0,
                      1,
                      2
                    ],
                    "description": "0: default, 1: force on-chain, 2: UID transfer"
                  },
                  "accountType": {
                    "type": "string",
                    "enum": [
                      "FUND",
                      "UTA"
                    ],
                    "description": "Wallet type"
                  },
                  "feeType": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "description": "Fee handling: 0: manual, 1: auto"
                  },
                  "requestId": {
                    "type": "string",
                    "description": "Idempotency key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "retCode": {
                      "type": "integer"
                    },
                    "retMsg": {
                      "type": "string"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-v5-asset-withdraw-create"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-BAPI-API-KEY",
        "description": "API key"
      },
      "apiSignature": {
        "type": "apiKey",
        "in": "header",
        "name": "X-BAPI-SIGN",
        "description": "Request signature"
      },
      "timestamp": {
        "type": "apiKey",
        "in": "header",
        "name": "X-BAPI-TIMESTAMP",
        "description": "UTC timestamp in milliseconds"
      }
    },
    "schemas": {
      "BaseResponse": {
        "type": "object",
        "properties": {
          "retCode": {
            "type": "integer",
            "description": "Success/error code. 0 means success"
          },
          "retMsg": {
            "type": "string",
            "description": "Success/error message"
          },
          "retExtInfo": {
            "type": "object"
          },
          "time": {
            "type": "integer",
            "description": "Current timestamp in milliseconds"
          }
        }
      },
      "KlineResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "symbol": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "list": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "[startTime, open, high, low, close, volume, turnover]"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "OrderbookResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "s": {
                    "type": "string",
                    "description": "Symbol name"
                  },
                  "b": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": "Bid side [price, size]"
                  },
                  "a": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": "Ask side [price, size]"
                  },
                  "ts": {
                    "type": "integer",
                    "description": "Timestamp"
                  },
                  "u": {
                    "type": "integer",
                    "description": "Update ID"
                  }
                }
              }
            }
          }
        ]
      },
      "TickerResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string"
                  },
                  "list": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TickerItem"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "TickerItem": {
        "type": "object",
        "properties": {
          "symbol": {
            "type": "string"
          },
          "lastPrice": {
            "type": "string"
          },
          "highPrice24h": {
            "type": "string"
          },
          "lowPrice24h": {
            "type": "string"
          },
          "volume24h": {
            "type": "string"
          },
          "turnover24h": {
            "type": "string"
          },
          "bid1Price": {
            "type": "string"
          },
          "bid1Size": {
            "type": "string"
          },
          "ask1Price": {
            "type": "string"
          },
          "ask1Size": {
            "type": "string"
          },
          "prevPrice24h": {
            "type": "string"
          },
          "price24hPcnt": {
            "type": "string"
          }
        }
      },
      "InstrumentsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string"
                  },
                  "list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "symbol": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "baseCoin": {
                          "type": "string"
                        },
                        "quoteCoin": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "nextPageCursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "OrderResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "orderId": {
                    "type": "string"
                  },
                  "orderLinkId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "OpenOrdersResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "list": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "nextPageCursor": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "PositionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "list": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "nextPageCursor": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "WalletBalanceResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          },
          {
            "type": "object",
            "properties": {
              "result": {
                "type": "object",
                "properties": {
                  "list": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "accountType": {
                          "type": "string"
                        },
                        "totalEquity": {
                          "type": "string"
                        },
                        "totalWalletBalance": {
                          "type": "string"
                        },
                        "totalAvailableBalance": {
                          "type": "string"
                        },
                        "coin": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "coin": {
                                "type": "string"
                              },
                              "walletBalance": {
                                "type": "string"
                              },
                              "equity": {
                                "type": "string"
                              },
                              "usdValue": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Asset"
    },
    {
      "name": "Market"
    },
    {
      "name": "Order"
    },
    {
      "name": "Position"
    }
  ]
}
