{
  "openapi": "3.0.3",
  "info": {
    "title": "NetRefer Operator API",
    "version": "1.0.0",
    "description": "NetRefer operator API for data ingestion including affiliate registrations, player data, and financial transactions.",
    "x-jentic-source-url": "https://developer.netrefer.com/Operator-api/Data-Ingestion",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.netrefer.com"
    }
  ],
  "paths": {
    "/api/v1/affiliates": {
      "post": {
        "operationId": "ingestAffiliateRegistrations",
        "summary": "Ingest affiliate registrations",
        "description": "Send affiliate registration data.",
        "tags": [
          "Data Ingestion"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateRegistration"
              }
            }
          }
        }
      }
    },
    "/api/v1/players": {
      "post": {
        "operationId": "ingestPlayerData",
        "summary": "Ingest player data",
        "description": "Send player registration data.",
        "tags": [
          "Data Ingestion"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayerData"
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions": {
      "post": {
        "operationId": "ingestTransactions",
        "summary": "Ingest transactions",
        "description": "Send financial transaction data.",
        "tags": [
          "Data Ingestion"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Transaction"
              }
            }
          }
        }
      }
    },
    "/api/v1/commissions": {
      "get": {
        "operationId": "getCommissions",
        "summary": "Get commissions",
        "description": "Retrieve commission data.",
        "tags": [
          "Reporting"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start date"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date"
          }
        ]
      }
    },
    "/api/v1/reports/performance": {
      "get": {
        "operationId": "getPerformanceReport",
        "summary": "Get performance report",
        "description": "Get performance reporting data.",
        "tags": [
          "Reporting"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Start date"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "End date"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      },
      "AffiliateRegistration": {
        "type": "object",
        "properties": {
          "affiliate_id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "registration_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlayerData": {
        "type": "object",
        "properties": {
          "player_id": {
            "type": "string"
          },
          "affiliate_id": {
            "type": "string"
          },
          "registration_date": {
            "type": "string",
            "format": "date-time"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "player_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Data Ingestion"
    },
    {
      "name": "Reporting"
    }
  ]
}
