{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://sports-demo.kinexon.com",
      "description": "Test server"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "API Demo",
    "description": "Basic API description for statistics and events. In case of a live session, fire requests every X seconds (depending on your needs) to get updated live data. <br><br> player_id: Kinexon internal, unique identifier<br> league_id: Secondary identifier. Can be set to 3rd party player identifier.<br><br> Units: <br> Speeds: meters/second <br> Accelerations: meters/second^2 <br> Distances/Coordinates: meters",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/KNX_Sports_and_Media/API_Demo/1.0.0/swagger.json",
    "contact": {}
  },
  "paths": {
    "/statistics/players/in-entity/session/{sessionId}": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "description": "Request statistics for a single session or phase.",
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "description": "Your API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "description": "current, latest, or specific ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Supply a comma separated list of metrics/player attributes.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "player_id,league_id,first_name,last_name,time_on_playing_field,distance_total,speed_max,event_count_jump,event_count_acceleration,event_count_deceleration,event_count_sprint,event_count_change_of_direction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "[<br> { \"player_id\": 1737,<br> \"league_id\": \"L1\",<br> \"first_name\": \"\",<br> \"last_name\": \"Player1\",<br> \"time_on_playing_field\": 4100.508069,<br> \"distance_total\": 5308.073791,<br> \"speed_max\": 6.44304,<br> \"event_count_jump\": 43,<br> \"event_count_acceleration\": 52,<br> \"event_count_deceleration\": 33,<br> \"event_count_sprint\": 1,<br> \"event_count_change_of_direction\": 6<br> },<br>...<br>]"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "get-statistics-players-in-entity-session-by-sessionid"
      }
    },
    "/events/{eventName}/player/in-entity/session/{sessionId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "description": "Request event based statistics for a session.",
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "description": "Your API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventName",
            "in": "path",
            "description": "change_of_direction, acceleration, deceleration, sprint",
            "required": true,
            "schema": {
              "type": "string",
              "default": "change_of_direction"
            }
          },
          {
            "name": "sessionId",
            "in": "path",
            "description": "current, latest, or specific ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": "latest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Results depend on selected event."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "operationId": "get-events-by-eventname-player-in-entity-session-by-sessionid"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Events"
    },
    {
      "name": "Statistics"
    }
  ]
}
