{
  "openapi": "3.0.3",
  "info": {
    "title": "GeneradorDNI API",
    "description": "Data generator API for Spanish-context test data. Generate profiles, vehicles, banking details, cards, identification documents, and more.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://api.generadordni.es",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.generadordni.es/v2",
      "description": "GeneradorDNI API v2"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "DOI",
      "description": "Document of identification generation (NIF, NIE, CIF)"
    },
    {
      "name": "Banking",
      "description": "Bank account and card number generation"
    },
    {
      "name": "Text",
      "description": "Text content generation"
    },
    {
      "name": "Vehicle",
      "description": "Vehicle data generation"
    },
    {
      "name": "Profiles",
      "description": "Person and company profile generation"
    },
    {
      "name": "Person",
      "description": "Personal data generation"
    },
    {
      "name": "Miscellaneous",
      "description": "Phone numbers, zip codes, dates, and other data"
    },
    {
      "name": "Holidays",
      "description": "Holiday information (Pro subscription required)"
    },
    {
      "name": "Voucher",
      "description": "Promotional code generation"
    },
    {
      "name": "Custom",
      "description": "Custom batch data generation"
    }
  ],
  "paths": {
    "/doi/nif": {
      "get": {
        "operationId": "generateNIF",
        "summary": "Generate Spanish NIF numbers",
        "tags": [
          "DOI"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated NIF numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate Spanish NIF numbers"
      }
    },
    "/doi/nie": {
      "get": {
        "operationId": "generateNIE",
        "summary": "Generate foreign national ID (NIE) numbers",
        "tags": [
          "DOI"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated NIE numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate foreign national ID (NIE) numbers"
      }
    },
    "/doi/cif": {
      "get": {
        "operationId": "generateCIF",
        "summary": "Generate corporate tax ID (CIF) numbers",
        "tags": [
          "DOI"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated CIF numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate corporate tax ID (CIF) numbers"
      }
    },
    "/bank/account": {
      "get": {
        "operationId": "generateBankAccount",
        "summary": "Generate bank account details (CCC, IBAN, BIC)",
        "tags": [
          "Banking"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated bank account details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate bank account details (CCC, IBAN, BIC)"
      }
    },
    "/bank/card": {
      "get": {
        "operationId": "generateBankCard",
        "summary": "Generate credit card numbers",
        "tags": [
          "Banking"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated card numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate credit card numbers"
      }
    },
    "/text/characters": {
      "get": {
        "operationId": "generateCharacters",
        "summary": "Generate character strings",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated character strings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate character strings"
      }
    },
    "/text/words": {
      "get": {
        "operationId": "generateWords",
        "summary": "Generate word sequences",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated word sequences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate word sequences"
      }
    },
    "/text/paragraphs": {
      "get": {
        "operationId": "generateParagraphs",
        "summary": "Generate text paragraphs",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated paragraphs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate text paragraphs"
      }
    },
    "/vehicle/platenumber": {
      "get": {
        "operationId": "generatePlateNumber",
        "summary": "Generate license plate numbers",
        "tags": [
          "Vehicle"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated plate numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate license plate numbers"
      }
    },
    "/vehicle/vin": {
      "get": {
        "operationId": "generateVIN",
        "summary": "Generate vehicle identification numbers",
        "tags": [
          "Vehicle"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated VINs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate vehicle identification numbers"
      }
    },
    "/profiles/person": {
      "get": {
        "operationId": "generatePersonProfile",
        "summary": "Generate individual person profiles",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated person profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PersonProfile"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate individual person profiles"
      }
    },
    "/profiles/company": {
      "get": {
        "operationId": "generateCompanyProfile",
        "summary": "Generate business profiles",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated company profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyProfile"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate business profiles"
      }
    },
    "/person/passport": {
      "get": {
        "operationId": "generatePassport",
        "summary": "Generate passport numbers",
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated passport numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate passport numbers"
      }
    },
    "/person/ss": {
      "get": {
        "operationId": "generateSocialSecurity",
        "summary": "Generate Social Security codes",
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated Social Security codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate Social Security codes"
      }
    },
    "/person/username": {
      "get": {
        "operationId": "generateUsername",
        "summary": "Generate usernames",
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated usernames",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate usernames"
      }
    },
    "/person/email": {
      "get": {
        "operationId": "generateEmail",
        "summary": "Generate email addresses",
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated email addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate email addresses"
      }
    },
    "/person/password": {
      "get": {
        "operationId": "generatePassword",
        "summary": "Generate passwords",
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated passwords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate passwords"
      }
    },
    "/misc/phonenumber": {
      "get": {
        "operationId": "generatePhoneNumber",
        "summary": "Generate phone numbers",
        "tags": [
          "Miscellaneous"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate phone numbers"
      }
    },
    "/misc/zipcode": {
      "get": {
        "operationId": "generateZipCode",
        "summary": "Generate postal codes",
        "tags": [
          "Miscellaneous"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated postal codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate postal codes"
      }
    },
    "/misc/imei": {
      "get": {
        "operationId": "generateIMEI",
        "summary": "Generate IMEI device identifiers",
        "tags": [
          "Miscellaneous"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated IMEI numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate IMEI device identifiers"
      }
    },
    "/misc/lei": {
      "get": {
        "operationId": "generateLEI",
        "summary": "Generate LEI financial identifiers",
        "tags": [
          "Miscellaneous"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated LEI codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate LEI financial identifiers"
      }
    },
    "/misc/isin": {
      "get": {
        "operationId": "generateISIN",
        "summary": "Generate ISIN financial identifiers",
        "tags": [
          "Miscellaneous"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated ISIN codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate ISIN financial identifiers"
      }
    },
    "/misc/birthdate": {
      "get": {
        "operationId": "generateBirthdate",
        "summary": "Generate birth dates",
        "tags": [
          "Miscellaneous"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated birth dates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate birth dates"
      }
    },
    "/misc/futuredate": {
      "get": {
        "operationId": "generateFutureDate",
        "summary": "Generate future dates",
        "tags": [
          "Miscellaneous"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated future dates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate future dates"
      }
    },
    "/misc/city": {
      "get": {
        "operationId": "generateCity",
        "summary": "Generate city names",
        "tags": [
          "Miscellaneous"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated city names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate city names"
      }
    },
    "/holidays/countries": {
      "get": {
        "operationId": "getHolidayCountries",
        "summary": "Get available countries for holidays",
        "description": "Pro subscription required",
        "tags": [
          "Holidays"
        ],
        "responses": {
          "200": {
            "description": "List of available countries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/holidays/states": {
      "get": {
        "operationId": "getHolidayStates",
        "summary": "Get available states/provinces for holidays",
        "description": "Pro subscription required",
        "tags": [
          "Holidays"
        ],
        "responses": {
          "200": {
            "description": "List of available states",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/State"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/holidays/regions": {
      "get": {
        "operationId": "getHolidayRegions",
        "summary": "Get available regions for holidays",
        "description": "Pro subscription required",
        "tags": [
          "Holidays"
        ],
        "responses": {
          "200": {
            "description": "List of available regions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Region"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/holidays/holidays": {
      "get": {
        "operationId": "getHolidays",
        "summary": "Get holidays for a specific location",
        "description": "Pro subscription required",
        "tags": [
          "Holidays"
        ],
        "responses": {
          "200": {
            "description": "List of holidays",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Holiday"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/voucher/voucher": {
      "get": {
        "operationId": "generateVoucher",
        "summary": "Generate promotional/discount codes",
        "tags": [
          "Voucher"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated voucher codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate promotional/discount codes"
      }
    },
    "/custom/custom": {
      "get": {
        "operationId": "generateCustomData",
        "summary": "Generate batches of customized data",
        "tags": [
          "Custom"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResultsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated custom data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate batches of customized data"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key for authentication"
      }
    },
    "parameters": {
      "ResultsParam": {
        "name": "results",
        "in": "query",
        "description": "Number of results to return (default: 10, max: 100)",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 10,
          "minimum": 1,
          "maximum": 100
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "BankAccount": {
        "type": "object",
        "properties": {
          "ccc": {
            "type": "string",
            "description": "Codigo Cuenta Cliente"
          },
          "iban": {
            "type": "string",
            "description": "International Bank Account Number"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code"
          }
        }
      },
      "PersonProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "nif": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "birthdate": {
            "type": "string",
            "format": "date"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          }
        }
      },
      "CompanyProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "cif": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          }
        }
      },
      "Country": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "State": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "Region": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "Holiday": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          }
        }
      }
    }
  }
}
