{
    "openapi": "3.0.0",
    "info": {
        "version": "2.3.5",
        "title": "AITradeAPI-development",
        "contact": {
            "email": "nelson@aituring.co",
            "name": "Nelson Fajardo B",
            "url": "https://www.aituring.co"
        },
        "license": {
            "name": "Private licence"
        },
        "description": "AITuring API for web services usage",
        "x-jentic-source-url": "https://api.swaggerhub.com/apis/AITuringCo/AITrade-Development-MULTI/2.3.5/swagger.json"
    },
    "tags": [
        {
            "name": "Authentication",
            "description": "Secured Admin-only calls"
        },
        {
            "name": "Developers",
            "description": "Operations available to regular developers"
        }
    ],
    "paths": {
        "/obtain_token": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Endpoint that returns a JSON web token. This is necesary to use the other endpoints.",
                "operationId": "obtain_token",
                "description": "Endpoint that returns a JSON web token. This is necesary to use the other endpoints.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ObtainTokenRequest"
                            }
                        }
                    },
                    "description": "JSON With username and password. This information is provided by the service provider (AITuring)"
                },
                "responses": {
                    "200": {
                        "description": "Valid Credentials"
                    },
                    "400": {
                        "description": "Invalid credentials"
                    },
                    "401": {
                        "description": "Unauthorized credentials"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/image/post/base64": {
            "post": {
                "tags": [
                    "Upload Images"
                ],
                "summary": "Endpoint that receive PostImageSimple64RequestObject ",
                "operationId": "api_post_image_base64",
                "description": "Endpoint that receive a PostImageSimple64RequestObject that have information of a image url, a poc and location of the image",
                "parameters": [
                    {
                        "in": "header",
                        "name": "Authorization",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostImageSimple64RequestObject"
                            }
                        }
                    },
                    "description": "PostImageSimple64RequestObject object"
                },
                "responses": {
                    "201": {
                        "description": "Image Uploaded Succesfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImageSimpleResultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized credentials"
                    },
                    "404": {
                        "description": "Data not found"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/image/results": {
            "post": {
                "tags": [
                    "Image Results"
                ],
                "summary": "Endpoint that query results of image recognition",
                "operationId": "image_results_get",
                "description": "Endpoint that create Place Task within a time range",
                "parameters": [
                    {
                        "in": "header",
                        "name": "Authorization",
                        "description": "JWT Token that authorize the user to use the endpoint. The token is valid for 24 hours (Please refer to obtain token endpoint)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ImageResultsRequest"
                            }
                        }
                    },
                    "description": "ImageResultsRequest object"
                },
                "responses": {
                    "200": {
                        "description": "Succesful query",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ImageResultResponse"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized credentials"
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        }
    },
    "servers": [
        {
            "url": "https://saturno.aituring.co/api/v3"
        }
    ],
    "components": {
        "schemas": {
            "AddPhotoRequest": {
                "type": "object",
                "properties": {
                    "photo_url": {
                        "type": "string",
                        "example": "https://bav-app-loyalty.s3.amazonaws.com/styles/digitalpoc_1280_720/s3/activity/40/2019-08/49991_5d5cd23813cad.jpg?itok=BkwCXZxB"
                    },
                    "rules": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RulesObjectRequest"
                        }
                    }
                }
            },
            "GetDataPhotoRequest": {
                "type": "object",
                "properties": {
                    "ids_photos": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "GetDataPhotoResponse": {
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GetDataPhotoObjectResponse"
                        }
                    }
                }
            },
            "ImageResultsRequest": {
                "type": "object",
                "required": [
                    "photo_id"
                ],
                "properties": {
                    "photo_id": {
                        "type": "string",
                        "example": "17926708"
                    }
                }
            },
            "ImageUploadedResponse": {
                "type": "object",
                "properties": {
                    "photo_id": {
                        "type": "integer",
                        "example": 123
                    },
                    "transaction_id": {
                        "type": "string",
                        "example": "c84649f2-382e-4b53-811b-871b359010c9"
                    }
                }
            },
            "GetDataPhotoObjectResponse": {
                "type": "object",
                "properties": {
                    "transaction_id": {
                        "type": "string",
                        "example": "0e75db3f-22be-4179-ae86-d478cf6f4c36"
                    },
                    "result": {
                        "type": "string",
                        "example": "True"
                    },
                    "message": {
                        "type": "string",
                        "example": "La imagen enviada no contiene suficientes elementos de AGUILA-LITRO"
                    },
                    "url_analisis": {
                        "type": "string",
                        "example": "https://bav-app-loyalty.s3.amazonaws.com/styles/digitalpoc_1280_720/s3/activity/40/2019-08/49991_5d5cd23813cad.jpg?itok=BkwCXZxB"
                    },
                    "processec": {
                        "type": "string",
                        "example": "True"
                    }
                }
            },
            "GetItemReconocidoResponse": {
                "type": "object",
                "properties": {
                    "transaction_id": {
                        "type": "string",
                        "example": "0e75db3f-22be-4179-ae86-d478cf6f4c36"
                    },
                    "result": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GetItemReconocidoObjectResponse"
                        }
                    }
                }
            },
            "TaskResponse": {
                "type": "object",
                "properties": {
                    "country": {
                        "type": "string",
                        "example": "PE"
                    },
                    "taskID": {
                        "type": "string",
                        "example": "1"
                    },
                    "taskName": {
                        "type": "string",
                        "example": "Tarea 1"
                    }
                }
            },
            "GetItemReconocidoObjectResponse": {
                "type": "object",
                "properties": {
                    "country": {
                        "type": "string",
                        "example": "PE"
                    },
                    "item_reconocido_id": {
                        "type": "string",
                        "example": "127"
                    },
                    "item_reconocido": {
                        "type": "string",
                        "example": "AREQUIPEÑA"
                    }
                }
            },
            "RulesObjectRequest": {
                "type": "object",
                "properties": {
                    "criterio": {
                        "type": "string",
                        "example": "Si Contiene"
                    },
                    "operador": {
                        "type": "string",
                        "example": "=="
                    },
                    "parametro": {
                        "type": "string",
                        "example": "12"
                    },
                    "label": {
                        "type": "string",
                        "example": "bottles"
                    }
                }
            },
            "PostImageRequestObject": {
                "type": "object",
                "properties": {
                    "image_url": {
                        "type": "string",
                        "example": "https://bav-app-loyalty.s3.amazonaws.com/styles/digitalpoc_1280_720/s3/activity/40/2019-08/49991_5d5cd23813cad.jpg?itok=BkwCXZxB"
                    },
                    "place_id": {
                        "type": "string",
                        "example": "1"
                    },
                    "task_id": {
                        "type": "string",
                        "example": "1"
                    },
                    "date": {
                        "type": "string",
                        "example": "2019-09-01 07:08:00"
                    },
                    "lat": {
                        "type": "number",
                        "example": "4"
                    },
                    "lon": {
                        "type": "number",
                        "example": "72"
                    }
                }
            },
            "PostImageSimpleRequestObject": {
                "type": "object",
                "properties": {
                    "image_url": {
                        "type": "string",
                        "example": "https://bav-app-loyalty.s3.amazonaws.com/styles/digitalpoc_1280_720/s3/activity/40/2019-08/49991_5d5cd23813cad.jpg?itok=BkwCXZxB"
                    },
                    "type": {
                        "type": "string",
                        "example": "coolers"
                    }
                }
            },
            "PostImageSimple64RequestObject": {
                "type": "object",
                "properties": {
                    "image_base_64": {
                        "type": "string",
                        "example": ""
                    },
                    "type": {
                        "type": "string",
                        "example": "coolers"
                    },
                    "country": {
                        "type": "string",
                        "example": "BR"
                    },
                    "task_id": {
                        "type": "string",
                        "example": "123456"
                    }
                }
            },
            "PostImageBase64RequestObject": {
                "type": "object",
                "properties": {
                    "image_base_64": {
                        "type": "string",
                        "example": ""
                    },
                    "place_id": {
                        "type": "string",
                        "example": "1"
                    },
                    "task_id": {
                        "type": "string",
                        "example": "1"
                    },
                    "date": {
                        "type": "string",
                        "example": "2019-09-01 07:08:00"
                    },
                    "lat": {
                        "type": "number",
                        "example": "4"
                    },
                    "lon": {
                        "type": "number",
                        "example": "72"
                    }
                }
            },
            "ObtainTokenRequest": {
                "type": "object",
                "required": [
                    "username",
                    "password"
                ],
                "properties": {
                    "username": {
                        "type": "string",
                        "example": "test@aituring.co"
                    },
                    "password": {
                        "type": "string",
                        "example": "20568755"
                    }
                }
            },
            "PlaceTaskCreateRequest": {
                "type": "object",
                "required": [
                    "place_id",
                    "task_id"
                ],
                "properties": {
                    "place_id": {
                        "type": "string",
                        "example": 20568755
                    },
                    "task_id": {
                        "type": "string",
                        "example": "123"
                    }
                }
            },
            "TaskGetRequest": {
                "type": "object",
                "required": [
                    "country"
                ],
                "properties": {
                    "country": {
                        "type": "string",
                        "example": "BR"
                    }
                }
            },
            "PlaceTaskGetRequest": {
                "type": "object",
                "required": [
                    "country"
                ],
                "properties": {
                    "country": {
                        "type": "string",
                        "example": "BR"
                    }
                }
            },
            "RoutesGetRequest": {
                "type": "object",
                "required": [
                    "country"
                ],
                "properties": {
                    "country": {
                        "type": "string",
                        "example": "BR"
                    }
                }
            },
            "CustomerGetRequest": {
                "type": "object",
                "required": [
                    "country"
                ],
                "properties": {
                    "country": {
                        "type": "string",
                        "example": "BR"
                    }
                }
            },
            "ImageResultResponse": {
                "type": "object",
                "properties": {
                    "photo_id": {
                        "type": "string",
                        "example": 1
                    },
                    "task_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "processed": {
                        "type": "boolean",
                        "example": false
                    },
                    "valid": {
                        "type": "boolean",
                        "example": false
                    }
                }
            },
            "ImageSimpleResultResponse": {
                "type": "object",
                "properties": {
                    "photo_id": {
                        "type": "string",
                        "example": 18568952
                    },
                    "token": {
                        "type": "string",
                        "example": "1c65f2a0-6b23-4c9d-81f3-xxxx"
                    },
                    "image_dashboard_url": {
                        "type": "string",
                        "example": "https://saturno.aituring.co/ai/global/[image_id]/images/dashboard/[token]"
                    },
                    "transactionId": {
                        "type": "string",
                        "example": "a8a69b98-a1bf-477f-bc1d-eb82a96877c7"
                    }
                }
            },
            "UploadImageRequest": {
                "type": "object",
                "properties": {
                    "model": {
                        "type": "string",
                        "example": "poster/cooler"
                    },
                    "picture": {
                        "type": "string"
                    },
                    "image_analysis_id": {
                        "type": "string",
                        "example": "12345"
                    },
                    "transaction_status": {
                        "type": "string",
                        "example": "In Progress/Complete/Failed"
                    }
                }
            },
            "RefreshTokenRequest": {
                "type": "object",
                "required": [
                    "token"
                ],
                "properties": {
                    "token": {
                        "type": "string",
                        "example": "eyJ0eXAiOiJsKV1QiLCJhbGciOsiJIUzI1NiJ9.eyJlbWFpbCI6InRlc3RAYWl0dXJpbmcuY28iLCJ1c2VyX2lkIjoyLCJleHAiOjE1NjI2MDczMTUsInVzZXJuYW1lIjoidGsVzdEBhaXR1cmluZy5jbysIsIm9syaWdfaWF0IcjoxNTYyNjA1NTE1fQ.7Qb1pOnyUQo8b0vesaKjgq1fHLBD4MrZELW1HJNr6XKM"
                    }
                }
            }
        }
    }
}