{
  "openapi": "3.0.3",
  "info": {
    "title": "Heyzine API",
    "description": "Heyzine is a PDF to flipbook creator platform. This API provides programmatic access to create and manage flipbook content. Note: This specification is based on limited public documentation and may be incomplete.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://heyzine.com/developers",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.heyzine.com",
      "description": "Heyzine API Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/flipbooks": {
      "get": {
        "summary": "List flipbooks",
        "description": "Retrieve a list of flipbooks",
        "operationId": "listFlipbooks",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "flipbooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Flipbook"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "flipbooks"
        ]
      },
      "post": {
        "summary": "Create a flipbook",
        "description": "Create a new flipbook from a PDF",
        "operationId": "createFlipbook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFlipbookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Flipbook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flipbook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "flipbooks"
        ]
      }
    },
    "/flipbooks/{flipbookId}": {
      "get": {
        "summary": "Get a flipbook",
        "description": "Retrieve details of a specific flipbook",
        "operationId": "getFlipbook",
        "parameters": [
          {
            "name": "flipbookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flipbook"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "flipbooks"
        ]
      },
      "delete": {
        "summary": "Delete a flipbook",
        "description": "Delete a specific flipbook",
        "operationId": "deleteFlipbook",
        "parameters": [
          {
            "name": "flipbookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Flipbook deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "flipbooks"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Contact Heyzine support to obtain an API key.",
        "x-jentic-source-url": "https://heyzine.com/developers"
      }
    },
    "schemas": {
      "Flipbook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the flipbook"
          },
          "title": {
            "type": "string",
            "description": "Title of the flipbook"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to view the flipbook"
          },
          "pdfUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the source PDF"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "ready",
              "failed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateFlipbookRequest": {
        "type": "object",
        "required": [
          "title",
          "pdfUrl"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title for the flipbook"
          },
          "pdfUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the PDF to convert"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              }
            }
          }
        }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "Unauthorized - Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadRequestError": {
        "description": "Bad request - Invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "flipbooks"
    }
  ]
}
