{
  "openapi": "3.0.3",
  "info": {
    "title": "Weatherbit API",
    "description": "Weather API providing current weather observations, forecasts, historical weather data, severe weather alerts, air quality data, and geolocation services from over 120,000 weather stations worldwide.",
    "version": "2.0.0",
    "contact": {
      "name": "Weatherbit",
      "url": "https://www.weatherbit.io"
    },
    "x-jentic-source-url": "https://www.weatherbit.io/api"
  },
  "servers": [
    {
      "url": "https://api.weatherbit.io/v2.0",
      "description": "Weatherbit API v2.0"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Current Weather",
      "description": "Current weather observations"
    },
    {
      "name": "Forecast",
      "description": "Weather forecasts (daily and hourly)"
    },
    {
      "name": "Historical",
      "description": "Historical weather data"
    },
    {
      "name": "Alerts",
      "description": "Severe weather alerts"
    },
    {
      "name": "Air Quality",
      "description": "Current and forecast air quality data"
    },
    {
      "name": "Normals",
      "description": "Climate normals (30-year averages)"
    },
    {
      "name": "Utility",
      "description": "Utility endpoints including IP lookup"
    }
  ],
  "paths": {
    "/current": {
      "get": {
        "operationId": "getCurrentWeather",
        "summary": "Get current weather",
        "description": "Get current weather observations from the nearest station. Returns temperature, feels-like, humidity, dew point, wind, pressure, cloud cover, visibility, precipitation, UV index, air quality, and solar irradiance data.",
        "tags": [
          "Current Weather"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LonParam"
          },
          {
            "$ref": "#/components/parameters/CityParam"
          },
          {
            "$ref": "#/components/parameters/StateParam"
          },
          {
            "$ref": "#/components/parameters/CountryParam"
          },
          {
            "$ref": "#/components/parameters/PostalCodeParam"
          },
          {
            "$ref": "#/components/parameters/CityIdParam"
          },
          {
            "$ref": "#/components/parameters/StationParam"
          },
          {
            "$ref": "#/components/parameters/UnitsParam"
          },
          {
            "$ref": "#/components/parameters/LangParam"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include additional data: minutely, alerts, or lightning",
            "schema": {
              "type": "string",
              "enum": [
                "minutely",
                "alerts",
                "lightning"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with current weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrentWeatherResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecast/daily": {
      "get": {
        "operationId": "getDailyForecast",
        "summary": "Get 16-day daily forecast",
        "description": "Get daily weather forecast for up to 16 days. Returns temperature, precipitation probability, wind, cloud cover, humidity, pressure, dew point, visibility, UV index, ozone, and lunar/solar data.",
        "tags": [
          "Forecast"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LonParam"
          },
          {
            "$ref": "#/components/parameters/CityParam"
          },
          {
            "$ref": "#/components/parameters/StateParam"
          },
          {
            "$ref": "#/components/parameters/CountryParam"
          },
          {
            "$ref": "#/components/parameters/PostalCodeParam"
          },
          {
            "$ref": "#/components/parameters/CityIdParam"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of forecast days (default: 16)",
            "schema": {
              "type": "integer",
              "default": 16,
              "minimum": 1,
              "maximum": 16
            }
          },
          {
            "$ref": "#/components/parameters/UnitsParam"
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with daily forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecast/hourly": {
      "get": {
        "operationId": "getHourlyForecast",
        "summary": "Get 240-hour hourly forecast",
        "description": "Get hourly weather forecast for up to 240 hours (10 days).",
        "tags": [
          "Forecast"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LonParam"
          },
          {
            "$ref": "#/components/parameters/CityParam"
          },
          {
            "$ref": "#/components/parameters/StateParam"
          },
          {
            "$ref": "#/components/parameters/CountryParam"
          },
          {
            "$ref": "#/components/parameters/PostalCodeParam"
          },
          {
            "$ref": "#/components/parameters/CityIdParam"
          },
          {
            "name": "hours",
            "in": "query",
            "description": "Number of forecast hours (default: 48)",
            "schema": {
              "type": "integer",
              "default": 48,
              "maximum": 240
            }
          },
          {
            "$ref": "#/components/parameters/UnitsParam"
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with hourly forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HourlyForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecast/minutely": {
      "get": {
        "operationId": "getMinutelyForecast",
        "summary": "Get minutely precipitation forecast",
        "description": "Get 1-hour minutely precipitation forecast.",
        "tags": [
          "Forecast"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LonParam"
          },
          {
            "$ref": "#/components/parameters/UnitsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with minutely precipitation forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinutelyForecastResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/history/daily": {
      "get": {
        "operationId": "getHistoryDaily",
        "summary": "Get daily historical weather",
        "description": "Get daily historical weather data. Over 25 weather fields returned including min/max temperature, precipitation, snowfall, and snow depth.",
        "tags": [
          "Historical"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LonParam"
          },
          {
            "$ref": "#/components/parameters/CityParam"
          },
          {
            "$ref": "#/components/parameters/StateParam"
          },
          {
            "$ref": "#/components/parameters/CountryParam"
          },
          {
            "$ref": "#/components/parameters/PostalCodeParam"
          },
          {
            "$ref": "#/components/parameters/CityIdParam"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "$ref": "#/components/parameters/UnitsParam"
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with daily historical data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryDailyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/history/hourly": {
      "get": {
        "operationId": "getHistoryHourly",
        "summary": "Get hourly historical weather",
        "description": "Get hourly historical weather data with over 20 weather fields.",
        "tags": [
          "Historical"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LonParam"
          },
          {
            "$ref": "#/components/parameters/CityParam"
          },
          {
            "$ref": "#/components/parameters/CountryParam"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "$ref": "#/components/parameters/UnitsParam"
          },
          {
            "$ref": "#/components/parameters/LangParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with hourly historical data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryHourlyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/history/subhourly": {
      "get": {
        "operationId": "getHistorySubhourly",
        "summary": "Get sub-hourly historical weather",
        "description": "Get 15-minute interval historical weather data.",
        "tags": [
          "Historical"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LonParam"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "$ref": "#/components/parameters/UnitsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with sub-hourly data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryHourlyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alerts": {
      "get": {
        "operationId": "getAlerts",
        "summary": "Get severe weather alerts",
        "description": "Get active severe weather alerts for US, Canada, EU, and Israel.",
        "tags": [
          "Alerts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LonParam"
          },
          {
            "$ref": "#/components/parameters/CityParam"
          },
          {
            "$ref": "#/components/parameters/StateParam"
          },
          {
            "$ref": "#/components/parameters/CountryParam"
          },
          {
            "$ref": "#/components/parameters/PostalCodeParam"
          },
          {
            "$ref": "#/components/parameters/CityIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with alerts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/current/airquality": {
      "get": {
        "operationId": "getCurrentAirQuality",
        "summary": "Get current air quality",
        "description": "Get current air quality data including PM2.5, PM10, CO, SO2, NO2, O3, and AQI scores. Also includes pollen and mold levels.",
        "tags": [
          "Air Quality"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LonParam"
          },
          {
            "$ref": "#/components/parameters/CityParam"
          },
          {
            "$ref": "#/components/parameters/StateParam"
          },
          {
            "$ref": "#/components/parameters/CountryParam"
          },
          {
            "$ref": "#/components/parameters/PostalCodeParam"
          },
          {
            "$ref": "#/components/parameters/CityIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with air quality data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirQualityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecast/airquality": {
      "get": {
        "operationId": "getForecastAirQuality",
        "summary": "Get air quality forecast",
        "description": "Get 3-day air quality forecast.",
        "tags": [
          "Air Quality"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LonParam"
          },
          {
            "$ref": "#/components/parameters/CityParam"
          },
          {
            "$ref": "#/components/parameters/CountryParam"
          },
          {
            "$ref": "#/components/parameters/PostalCodeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with air quality forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirQualityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/normals": {
      "get": {
        "operationId": "getClimateNormals",
        "summary": "Get climate normals",
        "description": "Get 30-year climate normals (1991-2020) at 9km spatial resolution.",
        "tags": [
          "Normals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LatParam"
          },
          {
            "$ref": "#/components/parameters/LonParam"
          },
          {
            "$ref": "#/components/parameters/CityParam"
          },
          {
            "$ref": "#/components/parameters/CountryParam"
          },
          {
            "$ref": "#/components/parameters/PostalCodeParam"
          },
          {
            "name": "start_day",
            "in": "query",
            "required": true,
            "description": "Start day of year (MM-DD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_day",
            "in": "query",
            "required": true,
            "description": "End day of year (MM-DD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/UnitsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with climate normals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClimateNormalsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ip": {
      "get": {
        "operationId": "getIpGeolocation",
        "summary": "Get geolocation from IP",
        "description": "Get latitude/longitude from an IP address.",
        "tags": [
          "Utility"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "required": true,
            "description": "IP address to geolocate",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with geolocation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpGeolocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/subscription/usage": {
      "get": {
        "operationId": "getSubscriptionUsage",
        "summary": "Get subscription usage",
        "description": "Monitor your API subscription usage and quota.",
        "tags": [
          "Utility"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response with usage data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "LatParam": {
        "name": "lat",
        "in": "query",
        "description": "Latitude",
        "schema": {
          "type": "number",
          "format": "float"
        }
      },
      "LonParam": {
        "name": "lon",
        "in": "query",
        "description": "Longitude",
        "schema": {
          "type": "number",
          "format": "float"
        }
      },
      "CityParam": {
        "name": "city",
        "in": "query",
        "description": "City name",
        "schema": {
          "type": "string"
        }
      },
      "StateParam": {
        "name": "state",
        "in": "query",
        "description": "State (US only)",
        "schema": {
          "type": "string"
        }
      },
      "CountryParam": {
        "name": "country",
        "in": "query",
        "description": "Country code (ISO 3166)",
        "schema": {
          "type": "string"
        }
      },
      "PostalCodeParam": {
        "name": "postal_code",
        "in": "query",
        "description": "Postal/ZIP code",
        "schema": {
          "type": "string"
        }
      },
      "CityIdParam": {
        "name": "city_id",
        "in": "query",
        "description": "Weatherbit city ID",
        "schema": {
          "type": "integer"
        }
      },
      "StationParam": {
        "name": "station",
        "in": "query",
        "description": "ICAO station code",
        "schema": {
          "type": "string"
        }
      },
      "UnitsParam": {
        "name": "units",
        "in": "query",
        "description": "Units: M (Metric, default), S (Scientific), I (Imperial/Fahrenheit)",
        "schema": {
          "type": "string",
          "enum": [
            "M",
            "S",
            "I"
          ],
          "default": "M"
        }
      },
      "LangParam": {
        "name": "lang",
        "in": "query",
        "description": "Language for weather description (30+ supported)",
        "schema": {
          "type": "string",
          "default": "en"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "status_code": {
            "type": "integer",
            "description": "HTTP status code"
          }
        }
      },
      "WeatherDescription": {
        "type": "object",
        "properties": {
          "icon": {
            "type": "string",
            "description": "Weather icon code"
          },
          "code": {
            "type": "integer",
            "description": "Weather condition code"
          },
          "description": {
            "type": "string",
            "description": "Weather condition description"
          }
        }
      },
      "CurrentWeatherData": {
        "type": "object",
        "properties": {
          "temp": {
            "type": "number",
            "description": "Temperature"
          },
          "app_temp": {
            "type": "number",
            "description": "Apparent/feels-like temperature"
          },
          "rh": {
            "type": "number",
            "description": "Relative humidity (%)"
          },
          "dewpt": {
            "type": "number",
            "description": "Dew point"
          },
          "wind_spd": {
            "type": "number",
            "description": "Wind speed (m/s default)"
          },
          "wind_dir": {
            "type": "integer",
            "description": "Wind direction (degrees)"
          },
          "wind_cdir": {
            "type": "string",
            "description": "Abbreviated wind direction"
          },
          "wind_cdir_full": {
            "type": "string",
            "description": "Full wind direction"
          },
          "gust": {
            "type": "number",
            "description": "Wind gust speed"
          },
          "pres": {
            "type": "number",
            "description": "Pressure (mb)"
          },
          "slp": {
            "type": "number",
            "description": "Sea level pressure (mb)"
          },
          "clouds": {
            "type": "integer",
            "description": "Cloud cover (%)"
          },
          "vis": {
            "type": "number",
            "description": "Visibility (km)"
          },
          "precip": {
            "type": "number",
            "description": "Liquid equivalent precipitation (mm)"
          },
          "snow": {
            "type": "number",
            "description": "Snowfall (mm)"
          },
          "uv": {
            "type": "number",
            "description": "UV index"
          },
          "aqi": {
            "type": "number",
            "description": "Air Quality Index"
          },
          "solar_rad": {
            "type": "number",
            "description": "Estimated solar radiation (W/m^2)"
          },
          "ghi": {
            "type": "number",
            "description": "Global horizontal irradiance (W/m^2)"
          },
          "dni": {
            "type": "number",
            "description": "Direct normal irradiance (W/m^2)"
          },
          "dhi": {
            "type": "number",
            "description": "Diffuse horizontal irradiance (W/m^2)"
          },
          "elev_angle": {
            "type": "number",
            "description": "Solar elevation angle"
          },
          "h_angle": {
            "type": "number",
            "description": "Solar hour angle"
          },
          "sunrise": {
            "type": "string",
            "description": "Sunrise time (HH:MM)"
          },
          "sunset": {
            "type": "string",
            "description": "Sunset time (HH:MM)"
          },
          "ob_time": {
            "type": "string",
            "description": "Observation time (YYYY-MM-DD HH:MM)"
          },
          "datetime": {
            "type": "string",
            "description": "Current cycle date (YYYY-MM-DD:HH)"
          },
          "ts": {
            "type": "number",
            "description": "UNIX timestamp"
          },
          "station": {
            "type": "string",
            "description": "Source station ID"
          },
          "weather": {
            "$ref": "#/components/schemas/WeatherDescription"
          },
          "city_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "pod": {
            "type": "string",
            "description": "Part of day (d=day, n=night)"
          }
        }
      },
      "CurrentWeatherResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of results"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CurrentWeatherData"
            }
          }
        }
      },
      "DailyForecastData": {
        "type": "object",
        "properties": {
          "valid_date": {
            "type": "string",
            "format": "date"
          },
          "ts": {
            "type": "number"
          },
          "datetime": {
            "type": "string"
          },
          "max_temp": {
            "type": "number"
          },
          "min_temp": {
            "type": "number"
          },
          "high_temp": {
            "type": "number"
          },
          "low_temp": {
            "type": "number"
          },
          "app_max_temp": {
            "type": "number"
          },
          "app_min_temp": {
            "type": "number"
          },
          "temp": {
            "type": "number",
            "description": "Average temperature"
          },
          "pop": {
            "type": "integer",
            "description": "Probability of precipitation (%)"
          },
          "precip": {
            "type": "number",
            "description": "Accumulated liquid precipitation (mm)"
          },
          "snow": {
            "type": "number",
            "description": "Accumulated snowfall (mm)"
          },
          "snow_depth": {
            "type": "number",
            "description": "Snow depth (mm)"
          },
          "wind_spd": {
            "type": "number"
          },
          "wind_dir": {
            "type": "integer"
          },
          "wind_cdir": {
            "type": "string"
          },
          "wind_cdir_full": {
            "type": "string"
          },
          "wind_gust_spd": {
            "type": "number"
          },
          "rh": {
            "type": "number"
          },
          "pres": {
            "type": "number"
          },
          "slp": {
            "type": "number"
          },
          "dewpt": {
            "type": "number"
          },
          "clouds": {
            "type": "integer"
          },
          "clouds_low": {
            "type": "integer"
          },
          "clouds_mid": {
            "type": "integer"
          },
          "clouds_hi": {
            "type": "integer"
          },
          "vis": {
            "type": "number"
          },
          "uv": {
            "type": "number"
          },
          "ozone": {
            "type": "number",
            "description": "Average ozone (Dobson)"
          },
          "moon_phase": {
            "type": "number"
          },
          "moonrise_ts": {
            "type": "integer"
          },
          "moonset_ts": {
            "type": "integer"
          },
          "sunrise_ts": {
            "type": "integer"
          },
          "sunset_ts": {
            "type": "integer"
          },
          "weather": {
            "$ref": "#/components/schemas/WeatherDescription"
          }
        }
      },
      "DailyForecastResponse": {
        "type": "object",
        "properties": {
          "city_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DailyForecastData"
            }
          }
        }
      },
      "HourlyForecastData": {
        "type": "object",
        "properties": {
          "timestamp_local": {
            "type": "string"
          },
          "timestamp_utc": {
            "type": "string"
          },
          "ts": {
            "type": "number"
          },
          "datetime": {
            "type": "string"
          },
          "temp": {
            "type": "number"
          },
          "app_temp": {
            "type": "number"
          },
          "dewpt": {
            "type": "number"
          },
          "rh": {
            "type": "number"
          },
          "pres": {
            "type": "number"
          },
          "wind_spd": {
            "type": "number"
          },
          "wind_dir": {
            "type": "integer"
          },
          "wind_cdir": {
            "type": "string"
          },
          "wind_cdir_full": {
            "type": "string"
          },
          "wind_gust_spd": {
            "type": "number"
          },
          "clouds": {
            "type": "integer"
          },
          "vis": {
            "type": "number"
          },
          "pop": {
            "type": "integer"
          },
          "precip": {
            "type": "number"
          },
          "snow": {
            "type": "number"
          },
          "uv": {
            "type": "number"
          },
          "ozone": {
            "type": "number"
          },
          "weather": {
            "$ref": "#/components/schemas/WeatherDescription"
          },
          "pod": {
            "type": "string"
          }
        }
      },
      "HourlyForecastResponse": {
        "type": "object",
        "properties": {
          "city_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HourlyForecastData"
            }
          }
        }
      },
      "MinutelyForecastResponse": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp_local": {
                  "type": "string"
                },
                "timestamp_utc": {
                  "type": "string"
                },
                "ts": {
                  "type": "number"
                },
                "precip": {
                  "type": "number",
                  "description": "Precipitation rate (mm/hr)"
                },
                "snow": {
                  "type": "number"
                },
                "temp": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "HistoryDailyData": {
        "type": "object",
        "properties": {
          "datetime": {
            "type": "string"
          },
          "ts": {
            "type": "number"
          },
          "max_temp": {
            "type": "number"
          },
          "min_temp": {
            "type": "number"
          },
          "temp": {
            "type": "number"
          },
          "max_wind_spd": {
            "type": "number"
          },
          "wind_spd": {
            "type": "number"
          },
          "wind_dir": {
            "type": "integer"
          },
          "precip": {
            "type": "number"
          },
          "snow": {
            "type": "number"
          },
          "snow_depth": {
            "type": "number"
          },
          "rh": {
            "type": "number"
          },
          "pres": {
            "type": "number"
          },
          "slp": {
            "type": "number"
          },
          "dewpt": {
            "type": "number"
          },
          "clouds": {
            "type": "integer"
          },
          "max_uv": {
            "type": "number"
          },
          "solar_rad": {
            "type": "number"
          },
          "vis": {
            "type": "number"
          }
        }
      },
      "HistoryDailyResponse": {
        "type": "object",
        "properties": {
          "city_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoryDailyData"
            }
          }
        }
      },
      "HistoryHourlyResponse": {
        "type": "object",
        "properties": {
          "city_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HourlyForecastData"
            }
          }
        }
      },
      "AlertData": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Brief alert summary"
          },
          "description": {
            "type": "string",
            "description": "Detailed alert text"
          },
          "severity": {
            "type": "string",
            "description": "Alert severity: Advisory, Watch, or Warning"
          },
          "effective_utc": {
            "type": "string"
          },
          "effective_local": {
            "type": "string"
          },
          "expires_utc": {
            "type": "string"
          },
          "expires_local": {
            "type": "string"
          },
          "onset_utc": {
            "type": "string"
          },
          "onset_local": {
            "type": "string"
          },
          "ends_utc": {
            "type": "string"
          },
          "ends_local": {
            "type": "string"
          },
          "uri": {
            "type": "string",
            "description": "Link for more details"
          },
          "regions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Affected area names"
          }
        }
      },
      "AlertsResponse": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          },
          "city_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          },
          "alerts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AlertData"
            }
          }
        }
      },
      "AirQualityData": {
        "type": "object",
        "properties": {
          "aqi": {
            "type": "number",
            "description": "Air Quality Index (0-500 EPA standard)"
          },
          "pm25": {
            "type": "number",
            "description": "PM2.5 concentration (ug/m3)"
          },
          "pm10": {
            "type": "number",
            "description": "PM10 concentration (ug/m3)"
          },
          "co": {
            "type": "number",
            "description": "CO concentration (ug/m3)"
          },
          "so2": {
            "type": "number",
            "description": "SO2 concentration (ug/m3)"
          },
          "no2": {
            "type": "number",
            "description": "NO2 concentration (ug/m3)"
          },
          "o3": {
            "type": "number",
            "description": "Ozone concentration (ug/m3)"
          },
          "pollen_level_tree": {
            "type": "integer",
            "description": "Tree pollen level (0-4)"
          },
          "pollen_level_grass": {
            "type": "integer",
            "description": "Grass pollen level (0-4)"
          },
          "pollen_level_weed": {
            "type": "integer",
            "description": "Weed pollen level (0-4)"
          },
          "mold_level": {
            "type": "integer",
            "description": "Mold level (0-4)"
          },
          "predominant_pollen_type": {
            "type": "string",
            "description": "Primary pollen allergen"
          }
        }
      },
      "AirQualityResponse": {
        "type": "object",
        "properties": {
          "city_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "state_code": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "timezone": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AirQualityData"
            }
          }
        }
      },
      "ClimateNormalsResponse": {
        "type": "object",
        "properties": {
          "city_name": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "month": {
                  "type": "integer"
                },
                "max_temp": {
                  "type": "number"
                },
                "min_temp": {
                  "type": "number"
                },
                "temp": {
                  "type": "number"
                },
                "precip": {
                  "type": "number"
                },
                "wind_spd": {
                  "type": "number"
                },
                "rh": {
                  "type": "number"
                },
                "dewpt": {
                  "type": "number"
                },
                "pres": {
                  "type": "number"
                },
                "sun_hours": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "IpGeolocationResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "lat": {
            "type": "number"
          },
          "lon": {
            "type": "number"
          },
          "city": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "calls_count": {
            "type": "integer",
            "description": "Number of API calls made"
          },
          "calls_limit": {
            "type": "integer",
            "description": "API call limit"
          },
          "start_date": {
            "type": "string"
          },
          "end_date": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
