{
  "swagger": "2.0",
  "info": {
    "title": "Blog",
    "description": "This is an blog for all my blog entries. I use a single blog system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/kinlane/blog/v2/swagger.json",
    "contact": {}
  },
  "host": "blog.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/blog": {
      "get": {
        "summary": "all blogs",
        "description": "all blogs",
        "operationId": "getBlogs",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across blog",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add a blog post",
        "description": "add a blog post",
        "operationId": "addBlog",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the blog",
            "required": false,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the blog",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the blog",
            "required": false,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the blog originated from",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the blog",
            "required": false,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the blog",
            "required": false,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/blog/published": {
      "get": {
        "summary": "published blogs",
        "description": "published blogs",
        "operationId": "getPublishedBlogs",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/blog/draft": {
      "get": {
        "summary": "draft blogs",
        "description": "draft blogs",
        "operationId": "getDraftBlogs",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/blog/{blog_id}": {
      "get": {
        "summary": "Retrieve a blog using its slug",
        "description": "Returns the blog detail",
        "operationId": "getBlog",
        "parameters": [
          {
            "name": "blog_id",
            "in": "path",
            "description": "the unique id for blog entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "update blog",
        "description": "update blog",
        "operationId": "updateBlog",
        "parameters": [
          {
            "name": "blog_id",
            "in": "path",
            "description": "the unique id for blog entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the blog was posted",
            "required": false,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the blog",
            "required": false,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the blog",
            "required": false,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the blog",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the blog",
            "required": false,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the blog originated from",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the blog",
            "required": false,
            "type": "string"
          },
          {
            "name": "build_page",
            "in": "query",
            "description": "whether or not this blog post needs page built",
            "required": false,
            "type": "integer"
          },
          {
            "name": "github_build",
            "in": "query",
            "description": "the github build string",
            "required": false,
            "type": "string"
          },
          {
            "name": "twitter_build",
            "in": "query",
            "description": "the twitter build string",
            "required": false,
            "type": "string"
          },
          {
            "name": "linkedin_build",
            "in": "query",
            "description": "the linkedin build string",
            "required": false,
            "type": "string"
          },
          {
            "name": "show_on_site",
            "in": "query",
            "description": "Whether or not this blog post will show on any site",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "delete": {
        "summary": "delete blog",
        "description": "delete blog",
        "operationId": "deleteBlog",
        "parameters": [
          {
            "name": "blog_id",
            "in": "path",
            "description": "the unique id for blog entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/blog/{blog_id}/tags": {
      "get": {
        "summary": "blog tags",
        "description": "blog tags",
        "operationId": "getblogTags",
        "parameters": [
          {
            "name": "blog_id",
            "in": "path",
            "description": "id for blog",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add tag to blog",
        "description": "add tag to blog",
        "operationId": "addBlogTag",
        "parameters": [
          {
            "name": "blog_id",
            "in": "path",
            "description": "id for the blog",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/blog/{blog_id}/tags/{tag}": {
      "delete": {
        "summary": "delete blog tag",
        "description": "delete blog tag",
        "operationId": "deleteblogTag",
        "parameters": [
          {
            "name": "blog_id",
            "in": "path",
            "description": "id for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/blog/tags/byweek": {
      "get": {
        "summary": "blog tags by week",
        "description": "blog tags by week",
        "operationId": "getBlogTagsByWeek",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "week",
            "in": "query",
            "description": "the week to retrieve tags by",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "query",
            "description": "the year to retrieve tags by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/blog/tags/byweek/{tag}/blog": {
      "get": {
        "summary": "blog tags by week blogs",
        "description": "blog tags by week blogs",
        "operationId": "getBlogTagCBlog",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "the tag to filter by",
            "required": true,
            "type": "string"
          },
          {
            "name": "week",
            "in": "query",
            "description": "the week to filter by, defaults to this week",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog Tag BLog Responsee",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/blog/tags/{tag}/build": {
      "get": {
        "summary": "build by tag",
        "description": "build by tag",
        "operationId": "getBlogsToBuildByTag",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "the tag to filter by",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog By Tag Build Responsee",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/blog/byweek": {
      "get": {
        "summary": "blogs by week",
        "description": "blogs by week",
        "operationId": "getBlogsByWeek",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Blog Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "Blog"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "appid": {
      "type": "apiKey",
      "name": "appid",
      "in": "query"
    },
    "appkey": {
      "type": "apiKey",
      "name": "appkey",
      "in": "query"
    }
  },
  "definitions": {
    "blog": {
      "properties": {
        "blog_id": {
          "description": "unique id of the blog",
          "type": "integer",
          "format": "id"
        },
        "post_date": {
          "description": "date the blog was posted",
          "type": "string"
        },
        "title": {
          "description": "ttle for the blog",
          "type": "string"
        },
        "author": {
          "description": "author of the blog",
          "type": "string"
        },
        "summary": {
          "description": "summary for the blog",
          "type": "string"
        },
        "body": {
          "description": "full body text of the blog",
          "type": "string"
        },
        "footer": {
          "description": "footer text for the blog",
          "type": "string"
        },
        "status": {
          "description": "status of the blog",
          "type": "string"
        },
        "curated_id": {
          "description": "curated id the blog originated from",
          "type": "integer",
          "format": "id"
        },
        "build_page": {
          "description": "Whether or not this blog post will show on any site",
          "type": "integer",
          "format": "id"
        },
        "show_on_site": {
          "description": "curated id the blog originated from",
          "type": "integer",
          "format": "id"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Blog"
    },
    {
      "name": "Tags"
    }
  ]
}
