{
  "openapi": "3.0.3",
  "info": {
    "title": "QuickSend SMS API",
    "version": "1.0",
    "description": "QuickSend is an SMS Gateway Solution for Sri Lanka. This API allows sending single and bulk SMS messages and checking account balance.",
    "x-jentic-source-url": "https://quicksend.lk/Client/public_docs/QuickSend%20-%20API%20Documentation.pdf"
  },
  "servers": [
    {
      "url": "https://quicksend.lk/Client",
      "description": "QuickSend Production Server"
    }
  ],
  "paths": {
    "/api.php": {
      "get": {
        "operationId": "sendSingleSms",
        "summary": "Send a single SMS",
        "description": "Send an SMS message to a single recipient.",
        "tags": [
          "SMS"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "FUN",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SEND_SINGLE"
              ]
            },
            "description": "API function identifier"
          },
          {
            "name": "un",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User email address for authentication"
          },
          {
            "name": "up",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "senderID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sender identification name"
          },
          {
            "name": "msg",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message content to send"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Recipient phone number (e.g., 0701234567)"
          },
          {
            "name": "with_get",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Enable GET request mode"
          }
        ],
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api.php#sendBulkSame": {
      "get": {
        "operationId": "sendBulkSameSms",
        "summary": "Send bulk SMS with same message",
        "description": "Send the same SMS message to multiple recipients.",
        "tags": [
          "SMS"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "FUN",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SEND_BULK_SAME"
              ]
            },
            "description": "API function identifier"
          },
          {
            "name": "un",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User email address for authentication"
          },
          {
            "name": "up",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "senderID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sender identification name"
          },
          {
            "name": "msg",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message content to send to all recipients"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of recipient phone numbers"
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api.php#sendBulkDifferent": {
      "get": {
        "operationId": "sendBulkDifferentSms",
        "summary": "Send bulk SMS with different messages",
        "description": "Send different SMS messages to multiple recipients.",
        "tags": [
          "SMS"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "FUN",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SEND_BULK_DIFFERENT"
              ]
            },
            "description": "API function identifier"
          },
          {
            "name": "un",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User email address for authentication"
          },
          {
            "name": "up",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "senderID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sender identification name"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Recipient phone numbers and corresponding messages"
          }
        ],
        "responses": {
          "200": {
            "description": "Bulk SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api.php#checkBalance": {
      "get": {
        "operationId": "checkAccountBalance",
        "summary": "Check account balance",
        "description": "Retrieve the current account balance and available SMS credits.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "FUN",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CHECK_BALANCE"
              ]
            },
            "description": "API function identifier"
          },
          {
            "name": "un",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User email address for authentication"
          },
          {
            "name": "up",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "responses": {
          "200": {
            "description": "Account balance retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "up",
        "description": "API key passed as the 'up' query parameter along with 'un' (user email)"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      },
      "SendResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the send operation"
          },
          "message_id": {
            "type": "string",
            "description": "Unique identifier for the sent message"
          },
          "message": {
            "type": "string",
            "description": "Response message"
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number",
            "description": "Current account balance"
          },
          "credits": {
            "type": "integer",
            "description": "Available SMS credits"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "SMS",
      "description": "Send SMS messages"
    },
    {
      "name": "Account",
      "description": "Account management operations"
    }
  ]
}