{
  "openapi": "3.0.3",
  "info": {
    "title": "Firstory Hosting API",
    "description": "Firstory is a podcast hosting platform with everything you need to power your podcasts.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://firstory-doc.vercel.app/"
  },
  "servers": [
    {
      "url": "https://prod-api.firstory.me/hosting/v1/api"
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "Get current user",
        "description": "Retrieves the user account associated with the authentication token.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/shows": {
      "get": {
        "operationId": "getUserShows",
        "summary": "Get user shows",
        "description": "Retrieves all shows associated with the authenticated user.",
        "tags": [
          "Shows"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Show"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/members": {
      "get": {
        "operationId": "getShowMembers",
        "summary": "Get show members",
        "description": "Retrieves members with access to a specific show.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "show_id",
            "in": "query",
            "required": true,
            "description": "The ID of the show to get members for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Member"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique user identifier"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Account creation timestamp"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "nationId": {
            "type": "string",
            "description": "Nation identifier"
          }
        }
      },
      "Show": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique show identifier"
          },
          "name": {
            "type": "string",
            "description": "Show name"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique member identifier"
          },
          "name": {
            "type": "string",
            "description": "Member name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Member email address"
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the member joined"
          },
          "subscription": {
            "type": "string",
            "description": "Subscription tier information"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "User account operations"
    },
    {
      "name": "Shows",
      "description": "Podcast show operations"
    },
    {
      "name": "Members",
      "description": "Show member operations"
    }
  ]
}