{
  "openapi": "3.0.3",
  "info": {
    "title": "Spider API",
    "version": "1.0.0",
    "description": "Web crawling, scraping, and data extraction API with advanced features like screenshot capture, anti-bot bypass, and content transformation",
    "x-jentic-source-url": "https://spider.cloud/docs/api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.spider.cloud",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Crawl",
      "description": "Website crawling operations"
    },
    {
      "name": "Scrape",
      "description": "Page scraping operations"
    },
    {
      "name": "Data",
      "description": "Data management and retrieval"
    },
    {
      "name": "Transform",
      "description": "Content transformation"
    },
    {
      "name": "Screenshot",
      "description": "Screenshot capture"
    }
  ],
  "paths": {
    "/crawl": {
      "post": {
        "tags": [
          "Crawl"
        ],
        "summary": "Crawl website",
        "description": "Recursively crawl entire websites",
        "operationId": "crawlWebsite",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrawlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful crawl",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/scrape": {
      "post": {
        "tags": [
          "Scrape"
        ],
        "summary": "Scrape page",
        "description": "Extract content from individual pages",
        "operationId": "scrapePage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful scrape",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/unblocker": {
      "post": {
        "tags": [
          "Scrape"
        ],
        "summary": "Bypass anti-bot protection",
        "description": "Access anti-bot protected content",
        "operationId": "unblocker",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnblockerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/search": {
      "post": {
        "tags": [
          "Crawl"
        ],
        "summary": "Search web",
        "description": "Search web and crawl results",
        "operationId": "searchWeb",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/links": {
      "post": {
        "tags": [
          "Crawl"
        ],
        "summary": "Collect links",
        "description": "Collect all links from a website",
        "operationId": "collectLinks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Links collected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinksResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/screenshot": {
      "post": {
        "tags": [
          "Screenshot"
        ],
        "summary": "Capture screenshot",
        "description": "Capture full-page or viewport screenshots",
        "operationId": "captureScreenshot",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenshotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Screenshot captured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScreenshotResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/transform": {
      "post": {
        "tags": [
          "Transform"
        ],
        "summary": "Transform content",
        "description": "Convert HTML or PDF to clean output",
        "operationId": "transformContent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransformRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content transformed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransformResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/fetch/{domain}/{path}": {
      "post": {
        "tags": [
          "Scrape"
        ],
        "summary": "Fetch with AI config",
        "description": "Per-website APIs with AI configurations",
        "operationId": "fetchWithConfig",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Target domain"
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path to fetch"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "params": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/data/scraper-directory": {
      "get": {
        "tags": [
          "Data"
        ],
        "summary": "Get scraper directory",
        "description": "Browse curated scraper configurations",
        "operationId": "getScraperDirectory",
        "responses": {
          "200": {
            "description": "Scraper directory",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScraperConfig"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/data/crawl_logs": {
      "get": {
        "tags": [
          "Data"
        ],
        "summary": "Get crawl logs",
        "description": "Retrieve last 24 hours of crawl logs",
        "operationId": "getCrawlLogs",
        "responses": {
          "200": {
            "description": "Crawl logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CrawlLog"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/data/credits": {
      "get": {
        "tags": [
          "Data"
        ],
        "summary": "Get credit balance",
        "description": "Check remaining API credits",
        "operationId": "getCredits",
        "responses": {
          "200": {
            "description": "Credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using API key (format: Bearer sk-xxxx...)"
      }
    },
    "schemas": {
      "CrawlRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Website URL to crawl"
          },
          "crawl_timeout": {
            "type": "integer",
            "description": "Maximum crawl duration in seconds"
          },
          "concurrency_limit": {
            "type": "integer",
            "description": "Maximum concurrent requests"
          },
          "request_timeout": {
            "type": "integer",
            "description": "Request timeout in seconds"
          },
          "depth": {
            "type": "integer",
            "description": "Maximum crawl depth"
          }
        }
      },
      "CrawlResponse": {
        "type": "object",
        "properties": {
          "pages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PageData"
            }
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "ScrapeRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Page URL to scrape"
          },
          "format": {
            "type": "string",
            "enum": [
              "application/json",
              "application/xml",
              "text/csv",
              "application/jsonl"
            ],
            "description": "Response format"
          }
        }
      },
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "Extracted content"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "UnblockerRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Protected page URL"
          }
        }
      },
      "SearchRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "Search query"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum results to crawl"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PageData"
            }
          }
        }
      },
      "LinksRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Website URL"
          }
        }
      },
      "LinksResponse": {
        "type": "object",
        "properties": {
          "links": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "ScreenshotRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Page URL to screenshot"
          },
          "full_page": {
            "type": "boolean",
            "description": "Capture full page or viewport only"
          }
        }
      },
      "ScreenshotResponse": {
        "type": "object",
        "properties": {
          "screenshot": {
            "type": "string",
            "format": "byte",
            "description": "Base64 encoded screenshot"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "TransformRequest": {
        "type": "object",
        "required": [
          "content"
        ],
        "properties": {
          "content": {
            "type": "string",
            "description": "HTML or PDF content to transform"
          },
          "format": {
            "type": "string",
            "enum": [
              "markdown",
              "text",
              "json"
            ],
            "description": "Output format"
          }
        }
      },
      "TransformResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "string",
            "description": "Transformed content"
          }
        }
      },
      "PageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "ScraperConfig": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "CrawlLog": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CreditsResponse": {
        "type": "object",
        "properties": {
          "credits_remaining": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Invalid or missing authentication token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
