{
  "openapi": "3.0.3",
  "info": {
    "title": "Amdoren Currency API",
    "description": "Free currency conversion API supporting over 150 currencies. Provides real-time exchange rates and currency conversion.",
    "version": "1.0.0",
    "contact": {
      "name": "Amdoren",
      "url": "https://www.amdoren.com"
    }
  },
  "servers": [
    {
      "url": "https://www.amdoren.com/api",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyParam": []
    }
  ],
  "paths": {
    "/currency.php": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert currency",
        "description": "Convert an amount from one currency to another using current exchange rates. Supports over 150 world currencies.",
        "tags": [
          "Currency"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Source currency code (ISO 4217, e.g., USD, EUR, GBP)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Target currency code (ISO 4217, e.g., USD, EUR, GBP)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "description": "Amount to convert. Defaults to 1 if not specified.",
            "schema": {
              "type": "number",
              "format": "double",
              "default": 1.0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful conversion",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid currency code or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyParam": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key obtained from Amdoren registration"
      }
    },
    "schemas": {
      "ConversionResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "description": "Error code. 0 indicates success.",
            "example": 0
          },
          "error_message": {
            "type": "string",
            "description": "Error message. Empty string on success.",
            "example": ""
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Converted amount in the target currency",
            "example": 0.85
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "description": "Error code (non-zero indicates error)",
            "example": 1
          },
          "error_message": {
            "type": "string",
            "description": "Description of the error",
            "example": "Invalid API key"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Currency"
    }
  ]
}
