{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.3",
    "title": "Uku API",
    "description": "Uku API (Swagger): https://app.getuku.com/docs/sandbox/",
    "contact": {
      "name": "Uku",
      "email": "uku@getuku.com",
      "url": "https://getuku.com"
    },
    "x-jentic-source-url": "https://app.getuku.com/docs/"
  },
  "servers": [
    {
      "url": "https://app.getuku.com/api/v1.0"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "summary": "",
        "description": "Use login to receive JWT authentication token.",
        "operationId": "post-auth",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "api_key": {
                    "type": "string"
                  },
                  "api_secret": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/clients": {
      "get": {
        "summary": "Get and filter clients",
        "description": "Get clients",
        "operationId": "get-clients",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Client status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ],
              "default": "active"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Client name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_billable",
            "in": "query",
            "description": "Has client enabled billing",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "name": "is_monitored",
            "in": "query",
            "description": "Has client enabled monitoring",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "name": "client_reg_code",
            "in": "query",
            "description": "Client registry no.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Client created at datetime",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-01-01"
            }
          },
          {
            "$ref": "#/components/parameters/page_offset"
          },
          {
            "$ref": "#/components/parameters/sort_dir"
          },
          {
            "$ref": "#/components/parameters/page_limit"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Client"
                      }
                    },
                    "page_limit": {
                      "type": "integer"
                    },
                    "page_offset": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "id": 83,
                          "created_at": "2021-01-01 10:00:00",
                          "updated_at": "2021-01-01 00:00:00",
                          "account_id": 4,
                          "name": "Client Ltd",
                          "locale_code": "et_EE",
                          "type": "client",
                          "status": "active",
                          "has_monitoring": 0,
                          "reg_code": "12345678",
                          "vat_code": "EE123456789",
                          "address_street": "Example street 23",
                          "address_city": "Example city",
                          "address_state": "Example state",
                          "address_zip": "12345",
                          "address_country_code": "ee",
                          "timing_required": 1,
                          "topic_required": 1,
                          "client_initials": "EC",
                          "default_person_id": 5,
                          "ext_client_id": "CLIENT1",
                          "parent_id": 1,
                          "fields": {
                            "a": 1
                          },
                          "contacts": [
                            {
                              "related_type": "client",
                              "related_id": 83,
                              "id": 6610,
                              "name": "John",
                              "surname": "Doe",
                              "email": "john.doe@example.com",
                              "phone": "555555555",
                              "job_title": "CEO",
                              "is_primary": 0,
                              "birthday": "1980-06-24 00:00:00",
                              "created_at": "2021-01-01 00:00:00",
                              "updated_at": "2021-01-01 00:00:00"
                            }
                          ],
                          "groups": [
                            "Clients"
                          ],
                          "billing_settings": {
                            "locale_code": "et_EE",
                            "currency": "EUR",
                            "invoice_seller_id": 0,
                            "invoice_date_period": -1,
                            "invoice_entry_period": -1,
                            "invoice_due_date_period": 7,
                            "invoice_bill_by_time": "time_start",
                            "invoice_bill_by_field": "task_start",
                            "invoice_round_by": "round_by_line",
                            "invoice_time_rounding": 0,
                            "time_billable": 1,
                            "hide_zero_sum_invoice_rows": 0,
                            "is_user_able_to_manage_contracts": 0,
                            "is_invoice_management_enabled_for_users": 1,
                            "is_client_invoices_visible_to_users": 0,
                            "allow_only_owners_to_add_and_update_products": 0,
                            "allow_members_to_send_invoices_to_clients": 1,
                            "company_bill_by_time": "time_start",
                            "company_bill_by_field": "task_start",
                            "client_bill_by_time": null,
                            "client_bill_by_field": null,
                            "seller_name": "Sellers Inc.",
                            "seller_company_number": "1234567",
                            "seller_vat_number": "XX1234567890",
                            "seller_address": " Estonia",
                            "seller_logo_url": "",
                            "seller_bank_1": "Bank1",
                            "seller_iban_1": "EE123456789098765432",
                            "seller_swift_1": "SWIFT1",
                            "seller_bank_2": "Bank2",
                            "seller_iban_2": "EE101010101098765432",
                            "seller_swift_2": "SWIFT2",
                            "client_name": "Client Ltd",
                            "client_company_number": "12345678",
                            "client_vat_number": "XX0987654321",
                            "client_address": "Example 2-1, 10000 City, Country"
                          }
                        }
                      ],
                      "page_limit": 0,
                      "page_offset": 0,
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Bad-request"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-Not-found"
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      },
      "post": {
        "summary": "Create or update a client",
        "description": "Save client data, optionally with contacts. Supply 'id' in the post body to update an existing client, otherwise a new one will be created.",
        "operationId": "post-client",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "name": {
                    "type": "string"
                  },
                  "address_country_code": {
                    "type": "string"
                  },
                  "address_street": {
                    "type": "string",
                    "nullable": true
                  },
                  "address_city": {
                    "type": "string",
                    "nullable": true
                  },
                  "address_state": {
                    "type": "string",
                    "nullable": true
                  },
                  "address_zip": {
                    "type": "string",
                    "nullable": true
                  },
                  "locale_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "nullable": true,
                    "enum": [
                      "active",
                      "inactive"
                    ],
                    "default": "active"
                  },
                  "reg_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "vat_code": {
                    "type": "string",
                    "nullable": true
                  },
                  "ext_client_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "client_initials": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 3
                  },
                  "color": {
                    "type": "string",
                    "nullable": true
                  },
                  "timing_required": {
                    "type": "integer",
                    "nullable": true,
                    "enum": [
                      0,
                      1
                    ],
                    "default": 0
                  },
                  "topic_required": {
                    "type": "integer",
                    "nullable": true,
                    "enum": [
                      0,
                      1
                    ],
                    "default": 0
                  },
                  "parent_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "contacts": {
                    "description": "When saving a client, either 'name' or 'email' has to be filled. To update an existing contact, also supply 'id' value.",
                    "nullable": true,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "nullable": true
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "surname": {
                          "type": "string",
                          "nullable": true
                        },
                        "email": {
                          "type": "string",
                          "nullable": true
                        },
                        "phone": {
                          "type": "string",
                          "nullable": true
                        },
                        "job_title": {
                          "type": "string",
                          "nullable": true
                        },
                        "birthday": {
                          "type": "string",
                          "nullable": true
                        },
                        "is_primary": {
                          "type": "integer",
                          "nullable": true,
                          "enum": [
                            0,
                            1
                          ],
                          "default": 0
                        }
                      }
                    }
                  }
                },
                "required": [
                  "name",
                  "address_country_code"
                ]
              },
              "examples": {
                "new-client": {
                  "value": {
                    "name": "Client 1",
                    "address_country_code": "ee",
                    "address_street": "Main",
                    "address_city": "City",
                    "address_state": "State",
                    "address_zip": "123456",
                    "locale_code": "et_EE",
                    "status": "active",
                    "reg_code": "1234567",
                    "vat_code": "EE123456",
                    "client_initials": "C",
                    "ext_client_id": "EE12345678",
                    "color": "color-23",
                    "timing_required": 0,
                    "topic_required": 1,
                    "parent_id": 12345,
                    "contacts": [
                      {
                        "name": "John",
                        "surname": "Doe",
                        "email": "john.doe@example.com",
                        "phone": "555555555",
                        "job_title": "CEO",
                        "is_primary": 0,
                        "birthday": "1980-06-24 00:00:00"
                      }
                    ]
                  }
                },
                "minimal-create": {
                  "value": {
                    "name": "Client 2",
                    "address_country_code": "ee"
                  }
                },
                "update-client": {
                  "value": {
                    "id": 1,
                    "name": "Client 1 (updated)",
                    "address_country_code": "ee",
                    "address_street": "Main",
                    "address_city": "City",
                    "address_state": "State",
                    "address_zip": "123456",
                    "locale_code": "et_EE",
                    "status": "active",
                    "reg_code": "1234567",
                    "vat_code": "EE123456",
                    "client_initials": "C",
                    "ext_client_id": "EE12345678",
                    "color": "color-23",
                    "timing_required": 1,
                    "topic_required": 0,
                    "parent_id": 12345,
                    "contacts": [
                      {
                        "id": 1,
                        "name": "John",
                        "surname": "Doe-Updated",
                        "email": "john.doe@example.com",
                        "phone": "555555555",
                        "job_title": "CEO",
                        "is_primary": 0,
                        "birthday": "1980-06-24 00:00:00"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Client"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Bad-request"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-Not-found"
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/clients/{client_id}": {
      "get": {
        "summary": "Get one specific client by id",
        "description": "Get specific client",
        "operationId": "get-client",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "Client id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "account_id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "locale_code": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "has_monitor": {
                          "type": "integer"
                        },
                        "timing_required": {
                          "type": "integer"
                        },
                        "topic_required": {
                          "type": "integer"
                        },
                        "reg_code": {
                          "type": "string"
                        },
                        "vat_code": {
                          "type": "string"
                        },
                        "fields": {
                          "type": "object",
                          "properties": {
                            "a": {
                              "type": "integer"
                            }
                          }
                        },
                        "groups": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "address_street": {
                          "type": "string"
                        },
                        "address_city": {
                          "type": "string"
                        },
                        "address_state": {
                          "type": "string"
                        },
                        "address_zip": {
                          "type": "string"
                        },
                        "address_country_code": {
                          "type": "string"
                        },
                        "client_initials": {
                          "type": "string"
                        },
                        "default_person_id": {
                          "type": "integer"
                        },
                        "comments": {
                          "type": "string"
                        },
                        "ext_client_id": {
                          "type": "string"
                        },
                        "contacts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "birthday": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "integer"
                              },
                              "is_primary": {
                                "type": "integer"
                              },
                              "job_title": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "related_id": {
                                "type": "integer"
                              },
                              "related_type": {
                                "type": "string"
                              },
                              "surname": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "id": 4,
                        "created_at": "2017-01-01 00:00:00",
                        "updated_at": "2022-11-01 00:00:00",
                        "account_id": 5,
                        "name": "Example client",
                        "locale_code": "et_EE",
                        "type": "client",
                        "status": "active",
                        "has_monitor": 0,
                        "timing_required": 1,
                        "topic_required": 1,
                        "reg_code": "12345678",
                        "vat_code": "EE123456789",
                        "fields": {
                          "a": 1
                        },
                        "groups": [
                          1,
                          34
                        ],
                        "address_street": "Example street 23",
                        "address_city": "Example city",
                        "address_state": "Example state",
                        "address_zip": "12345",
                        "address_country_code": "ee",
                        "client_initials": "EC",
                        "default_person_id": 5,
                        "comments": "Example comment",
                        "ext_client_id": "EE12345678",
                        "contacts": [
                          {
                            "birthday": "1980-06-24 00:00:00",
                            "created_at": "2021-01-01 00:00:00",
                            "email": "john.doe@example.com",
                            "id": 6610,
                            "is_primary": 0,
                            "job_title": "CEO",
                            "name": "John",
                            "phone": "555555555",
                            "related_id": 83,
                            "related_type": "client",
                            "surname": "Doe",
                            "updated_at": "2021-01-01 00:00:00"
                          }
                        ]
                      },
                      "success": true
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "id": 4,
                        "created_at": "2017-01-01 00:00:00",
                        "updated_at": "2022-11-01 00:00:00",
                        "account_id": 5,
                        "name": "Example client",
                        "locale_code": "et_EE",
                        "type": "client",
                        "status": "active",
                        "has_monitor": 0,
                        "timing_required": 1,
                        "topic_required": 1,
                        "reg_code": "12345678",
                        "vat_code": "EE123456789",
                        "parent_id": null,
                        "fields": {
                          "a": 1
                        },
                        "groups": [
                          1,
                          34
                        ],
                        "billing_settings": {
                          "locale_code": "et_EE",
                          "currency": "EUR",
                          "invoice_seller_id": 0,
                          "invoice_date_period": -1,
                          "invoice_entry_period": -1,
                          "invoice_due_date_period": 7,
                          "invoice_bill_by_time": "time_start",
                          "invoice_bill_by_field": "task_start",
                          "invoice_round_by": "round_by_line",
                          "invoice_time_rounding": 0,
                          "time_billable": 1,
                          "hide_zero_sum_invoice_rows": 0,
                          "is_user_able_to_manage_contracts": 0,
                          "is_invoice_management_enabled_for_users": 1,
                          "is_client_invoices_visible_to_users": 0,
                          "allow_only_owners_to_add_and_update_products": 0,
                          "allow_members_to_send_invoices_to_clients": 1,
                          "company_bill_by_time": "time_start",
                          "company_bill_by_field": "task_start",
                          "client_bill_by_time": null,
                          "client_bill_by_field": null,
                          "seller_name": "Sellers Inc.",
                          "seller_company_number": "1234567",
                          "seller_vat_number": "XX1234567890",
                          "seller_address": " Estonia",
                          "seller_logo_url": "",
                          "seller_bank_1": "Bank1",
                          "seller_iban_1": "EE123456789098765432",
                          "seller_swift_1": "SWIFT1",
                          "seller_bank_2": "Bank2",
                          "seller_iban_2": "EE101010101098765432",
                          "seller_swift_2": "SWIFT2",
                          "client_name": "Client Ltd",
                          "client_company_number": "12345678",
                          "client_vat_number": "XX0987654321",
                          "client_address": "Example 2-1, 10000 City, Country"
                        },
                        "address_street": "Example street 23",
                        "address_city": "Example city",
                        "address_state": "Example state",
                        "address_zip": "12345",
                        "address_country_code": "ee",
                        "client_initials": "EC",
                        "default_person_id": 5,
                        "comments": "Example comment",
                        "ext_client_id": "EE12345678",
                        "contacts": [
                          {
                            "birthday": "1980-06-24 00:00:00",
                            "created_at": "2021-01-01 00:00:00",
                            "email": "john.doe@example.com",
                            "id": 6610,
                            "is_primary": 0,
                            "job_title": "CEO",
                            "name": "John",
                            "phone": "555555555",
                            "related_id": 83,
                            "related_type": "client",
                            "surname": "Doe",
                            "updated_at": "2021-01-01 00:00:00"
                          }
                        ]
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Bad-request"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-Not-found"
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/contacts": {
      "get": {
        "summary": "Get contacts",
        "description": "Get contacts",
        "operationId": "get-contacts",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "ID of the client of the contact",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email of the contact (required if contact_id not provided)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the contact",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "client_id": {
                        "type": "integer"
                      },
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "surname": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "mobile_phone": {
                        "type": "string"
                      },
                      "work_phone": {
                        "type": "string"
                      },
                      "is_primary": {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "job_title": {
                        "type": "string"
                      },
                      "birthday": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "ext_contact_id": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "client_id",
                      "id",
                      "name",
                      "surname",
                      "email",
                      "mobile_phone",
                      "work_phone",
                      "is_primary",
                      "job_title",
                      "birthday",
                      "ext_contact_id",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Bad-request"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-Not-found"
          }
        }
      },
      "post": {
        "summary": "Create or update a contact",
        "description": "Save contact data. Supply 'id' in the post body to update an existing contact, otherwise a new one will be created.",
        "operationId": "post-contact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Contact ID (omit to create new contact)"
                  },
                  "client_id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "surname": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "mobile_phone": {
                    "type": "string"
                  },
                  "work_phone": {
                    "type": "string"
                  },
                  "is_primary": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "job_title": {
                    "type": "string"
                  },
                  "birthday": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ext_contact_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "client_id",
                  "name",
                  "surname",
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created or updated contact(s)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "client_id": {
                        "type": "integer"
                      },
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "surname": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "mobile_phone": {
                        "type": "string"
                      },
                      "work_phone": {
                        "type": "string"
                      },
                      "is_primary": {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "job_title": {
                        "type": "string"
                      },
                      "birthday": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "ext_contact_id": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "client_id",
                      "id",
                      "name",
                      "surname",
                      "email",
                      "mobile_phone",
                      "work_phone",
                      "is_primary",
                      "job_title",
                      "birthday",
                      "ext_contact_id",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Bad-request"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-Not-found"
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "summary": "Get one specific contact by id",
        "description": "Get specific contact",
        "operationId": "get-contact",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "Contact id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "client_id": {
                        "type": "integer"
                      },
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "surname": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "mobile_phone": {
                        "type": "string"
                      },
                      "work_phone": {
                        "type": "string"
                      },
                      "is_primary": {
                        "type": "integer",
                        "enum": [
                          0,
                          1
                        ]
                      },
                      "job_title": {
                        "type": "string"
                      },
                      "birthday": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "ext_contact_id": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "client_id",
                      "id",
                      "name",
                      "surname",
                      "email",
                      "mobile_phone",
                      "work_phone",
                      "is_primary",
                      "job_title",
                      "birthday",
                      "ext_contact_id",
                      "created_at",
                      "updated_at"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Bad-request"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-Not-found"
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/contracts": {
      "get": {
        "summary": "Get and filter contracts",
        "description": "Get contracts",
        "operationId": "get-contracts",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "ID of the client of the contract",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the contract",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "pending",
                "finished"
              ],
              "default": "active"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Contract starting date",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-01-01"
            }
          },
          {
            "name": "date_until",
            "in": "query",
            "description": "Contract end date",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-01-01"
            }
          },
          {
            "name": "client_reg_code",
            "in": "query",
            "description": "Client company number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "invoice_period",
            "in": "query",
            "description": "Contract billing period type",
            "schema": {
              "type": "string",
              "enum": [
                "yearly",
                "monthly",
                "quarterly"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/page_offset"
          },
          {
            "$ref": "#/components/parameters/sort_dir"
          },
          {
            "$ref": "#/components/parameters/page_limit"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "sent_at",
                "paid_at",
                "date_from",
                "date_until"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contract"
                      }
                    },
                    "page_limit": {
                      "type": "integer"
                    },
                    "page_offset": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "account_id": 4,
                          "client_id": 83,
                          "created_at": "2020-01-01 00:00:00",
                          "date_from": "2020-01-01 00:00:00",
                          "date_until": "2020-02-01 00:00:00",
                          "id": 538,
                          "invoice_day": 1,
                          "invoice_period": "monthly",
                          "rows": [
                            {
                              "contract_id": 538,
                              "created_at": "2020-01-01 00:00:00",
                              "description": "Service fee",
                              "discount_rate": 0.2,
                              "ext_resource_id": "RESOURCE1",
                              "ext_product_id": "PRODUCT1",
                              "ext_project_id": "PROJECT1",
                              "ext_variable": "30%",
                              "ext_vat_id": "VAT20",
                              "id": 7643,
                              "invoice_time_min": 0,
                              "net_price": 70,
                              "product": {
                                "id": 17,
                                "name": "Pre-defined product"
                              },
                              "product_id": 17,
                              "quantity": 2,
                              "unit": "hour",
                              "updated_at": "2020-01-01 00:00:00",
                              "vat_rate": 0.2
                            }
                          ],
                          "settings": {
                            "account_id": 4,
                            "crm_user_id": "123",
                            "currency": "EUR",
                            "description": "Example description",
                            "invoice_due_date_period": 7,
                            "invoice_number_format": "prefix{0}suffix",
                            "invoice_recipients": "jane.doe@example.ee",
                            "invoice_time_rounding": 300,
                            "is_description": 1,
                            "is_reverse_charge": 1,
                            "is_summarized": 1,
                            "locale_code": "et_EE",
                            "reference_number": "1234567",
                            "reply_to": "john.doe@example.ee",
                            "summarized_description": "Example"
                          },
                          "status": "active",
                          "updated_at": "2020-01-01 00:00:00"
                        }
                      ],
                      "page_limit": 0,
                      "page_offset": 0,
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Bad-request"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-Not-found"
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/contracts/{contract_id}": {
      "get": {
        "summary": "Get one specific contract by id",
        "description": "Get specific contract",
        "operationId": "get-contract-contract_id",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "description": "Contract id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contract"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "success": true,
                      "data": {
                        "account_id": 4,
                        "client_id": 83,
                        "created_at": "2020-01-01 00:00:00",
                        "date_from": "2020-01-01 00:00:00",
                        "date_until": "2020-02-01 00:00:00",
                        "id": 538,
                        "invoice_day": 1,
                        "invoice_period": "monthly",
                        "rows": [
                          {
                            "contract_id": 538,
                            "created_at": "2020-01-01 00:00:00",
                            "description": "Service fee",
                            "discount_rate": 0.2,
                            "ext_resource_id": "RESOURCE1",
                            "ext_product_id": "PRODUCT1",
                            "ext_project_id": "PROJECT1",
                            "ext_user_id": "USER1",
                            "ext_vat_id": "VAT20",
                            "id": 7643,
                            "invoice_time_min": 0,
                            "price": 70,
                            "product": {
                              "id": 17,
                              "name": "Pre-defined product"
                            },
                            "product_id": 17,
                            "quantity": 2,
                            "unit": "hour",
                            "updated_at": "2020-01-01 00:00:00",
                            "vat_rate": 0.2
                          }
                        ],
                        "settings": {
                          "account_id": 4,
                          "crm_user_id": "123",
                          "currency": "EUR",
                          "description": "Default invoice long description",
                          "invoice_due_date_period": 7,
                          "invoice_number_format": "prefix{0}suffix",
                          "invoice_recipients": "jane.doe@example.ee",
                          "invoice_time_rounding": 300,
                          "is_description": 1,
                          "is_reverse_charge": 1,
                          "is_summarized": 1,
                          "locale_code": "et_EE",
                          "reference_number": "1234567",
                          "reply_to": "john.doe@example.ee",
                          "summarized_description": "Example"
                        },
                        "status": "active",
                        "updated_at": "2020-01-01 00:00:00"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Bad-request"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-Not-found"
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/invoices": {
      "get": {
        "summary": "Get and filter invoices",
        "description": "Get invoices",
        "operationId": "get-invoices",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "Client of the invoice",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "client_reg_code",
            "in": "query",
            "description": "Client company number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "contract_id",
            "in": "query",
            "description": "Related contract id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_contract",
            "in": "query",
            "description": "If invoice was generated from a contract or made manually",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "name": "is_sent",
            "in": "query",
            "description": "If invoice has been sent to client",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "name": "is_exported",
            "in": "query",
            "description": "If invoice has been exported to external system",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "name": "is_paid",
            "in": "query",
            "description": "If invoice has been paid",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "name": "is_created",
            "in": "query",
            "description": "If invoice is not created then it is a draft",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Invoice status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "created",
                "sent",
                "paid",
                "annulled",
                "in_progress",
                "calculated"
              ]
            }
          },
          {
            "name": "invoice_date",
            "in": "query",
            "description": "Invoice date",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-01-01"
            }
          },
          {
            "name": "invoice_due_date",
            "in": "query",
            "description": "Invoice due date",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-01-01"
            }
          },
          {
            "name": "invoice_number_list",
            "in": "query",
            "description": "Comma separated invoice numbers",
            "schema": {
              "type": "string",
              "example": "A12345,A23456"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Invoice creation date lower boundary",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-01-01 00:00:00"
            }
          },
          {
            "name": "date_until",
            "in": "query",
            "description": "Invoice creation date upper boundary",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-01-01 00:00:00"
            }
          },
          {
            "name": "period_label",
            "in": "query",
            "description": "How invoice is billed",
            "schema": {
              "type": "string",
              "enum": [
                "yearly",
                "monthly",
                "quarterly"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/page_offset"
          },
          {
            "$ref": "#/components/parameters/sort_dir"
          },
          {
            "$ref": "#/components/parameters/page_limit"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "contract_id",
                "invoice_date",
                "invoice_period",
                "invoice_due_date"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    },
                    "page_limit": {
                      "type": "integer"
                    },
                    "page_offset": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "page_limit": 0,
                      "page_offset": 0,
                      "success": true,
                      "data": [
                        {
                          "account_id": 4,
                          "client_address": "Example road 13, 12345 Example village, EE",
                          "client_id": 83,
                          "client_reg_code": "12345678",
                          "client_contact": "Jane Doe",
                          "client_name": "Client Ltd",
                          "client_vat_code": "EE100799389",
                          "comments": "This is a long description for the invoice.",
                          "contract_id": 538,
                          "created_at": "2021-01-01 00:00:00",
                          "currency": "EUR",
                          "due_date": "2021-01-01 00:00:00",
                          "exported_at": "2021-01-01 00:00:00",
                          "id": 21005,
                          "invoice_date": "2021-01-01 00:00:00",
                          "invoice_number": "prefix-19653",
                          "locale_code": "et_EE",
                          "net_sum": 20,
                          "paid_sum": 24,
                          "paid_at": "2021-01-01 00:00:00",
                          "period_label": "2022-01",
                          "reference_number": "1234567",
                          "rows": [
                            {
                              "quantity": 2,
                              "completed_at": "2021-01-01 00:00:00",
                              "created_at": "2021-01-01 00:00:00",
                              "description": "Service fee",
                              "discount_rate": 0.2,
                              "ext_resource_id": "RESOURCE1",
                              "ext_product_id": "PRODUCT1",
                              "ext_project_id": "PROJECT1",
                              "ext_user_id": "USER1",
                              "ext_vat_id": "VAT20",
                              "id": 1457082,
                              "invoice_id": 21005,
                              "net_price": 10,
                              "net_sum": 20,
                              "unit": "month",
                              "updated_at": "2021-01-01 00:00:00",
                              "vat_sum": 4,
                              "vat_rate": 0.2
                            }
                          ],
                          "seller_address": "Example road 13, 12345 Example village, EE",
                          "seller_contact": "John Doe",
                          "seller_name": "Seller Ltd",
                          "seller_reg_code": "12345678",
                          "seller_vat_code": "EE123456789",
                          "sent_at": "2021-01-01 00:00:00",
                          "status": "paid",
                          "total_sum": 24,
                          "updated_at": "2022-02-08 12:26:07",
                          "vat_sum": 4
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Bad-request"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-Not-found"
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/invoices/{invoice_id}": {
      "get": {
        "summary": "Get one specific invoice by id",
        "description": "Get specific invoice",
        "operationId": "get-invoice-invoice_id",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "Invoice id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Invoice"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "account_id": 4,
                        "client_address": "Example road 13, 12345 Example village, EE",
                        "client_contact": "Jane Doe",
                        "client_id": 83,
                        "client_name": "Client Ltd",
                        "client_reg_code": "12345678",
                        "client_vat_code": "EE100799389",
                        "comments": "This is a long description.",
                        "contract_id": 538,
                        "created_at": "2021-01-01 00:00:00",
                        "currency": "EUR",
                        "due_date": "2021-01-01 00:00:00",
                        "exported_at": "2021-01-01 00:00:00",
                        "id": 21005,
                        "invoice_date": "2021-01-01 00:00:00",
                        "invoice_number": "prefix-19653",
                        "locale_code": "et_EE",
                        "net_sum": 20,
                        "paid_at": "2021-01-01 00:00:00",
                        "period_label": "2022-01",
                        "reference_number": "1234567",
                        "rows": [
                          {
                            "completed_at": "2021-01-01 00:00:00",
                            "created_at": "2021-01-01 00:00:00",
                            "description": "Service fee",
                            "discount_rate": 0.2,
                            "ext_resource_id": "RESOURCE1",
                            "ext_product_id": "PRODUCT1",
                            "ext_project_id": "PROJECT1",
                            "ext_user_id": "USER1",
                            "ext_vat_id": "VAT20",
                            "id": 1457082,
                            "invoice_id": 21005,
                            "net_price": 10,
                            "net_sum": 20,
                            "quantity": 2,
                            "unit": "month",
                            "updated_at": "2021-01-01 00:00:00",
                            "vat_rate": 0.2,
                            "vat_sum": 4
                          }
                        ],
                        "seller_address": "Example road 13, 12345 Example village, EE",
                        "seller_contact": "John Doe",
                        "seller_name": "Seller Ltd",
                        "seller_reg_code": "12345678",
                        "seller_vat_code": "EE123456789",
                        "sent_at": "2021-01-01 00:00:00",
                        "status": "paid",
                        "paid_sum": 24,
                        "total_sum": 24,
                        "updated_at": "2022-02-08 12:26:07",
                        "vat_sum": 4
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-Bad-request"
          },
          "401": {
            "$ref": "#/components/responses/401-Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403-Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404-Not-found"
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/invoice_sellers": {
      "get": {
        "summary": "Get and filter invoice sellers",
        "description": "Get invoice sellers",
        "operationId": "get-invoice_seller",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_offset"
          },
          {
            "$ref": "#/components/parameters/page_limit"
          },
          {
            "$ref": "#/components/parameters/sort_dir"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvoiceSeller"
                      }
                    },
                    "page_limit": {
                      "type": "integer"
                    },
                    "page_offset": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/invoice_sellers/{invoice_seller_id}": {
      "get": {
        "summary": "Get one specific invoice seller by id",
        "description": "Get specific invoice seller",
        "operationId": "get-invoice_sellers-invoice_seller_id",
        "parameters": [
          {
            "name": "invoice_seller_id",
            "in": "path",
            "description": "Invoice seller id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InvoiceSeller"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/client_fields": {
      "get": {
        "summary": "Get and filter client fields",
        "description": "Get client fields",
        "operationId": "get-client_field",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_offset"
          },
          {
            "$ref": "#/components/parameters/page_limit"
          },
          {
            "$ref": "#/components/parameters/sort_dir"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClientField"
                      }
                    },
                    "page_limit": {
                      "type": "integer"
                    },
                    "page_offset": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/client_fields/{client_field_id}": {
      "get": {
        "summary": "Get one specific client field by id",
        "description": "Get specific client field",
        "operationId": "get-client_fields-client_field_id",
        "parameters": [
          {
            "name": "client_field_id",
            "in": "path",
            "description": "Client field id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientField"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/client_groups": {
      "get": {
        "summary": "Get and filter client groups",
        "description": "Get client groups",
        "operationId": "get-client_group",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_offset"
          },
          {
            "$ref": "#/components/parameters/page_limit"
          },
          {
            "$ref": "#/components/parameters/sort_dir"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClientGroup"
                      }
                    },
                    "page_limit": {
                      "type": "integer"
                    },
                    "page_offset": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/client_groups/{client_group_id}": {
      "get": {
        "summary": "Get one specific client group by id",
        "description": "get specific client group",
        "operationId": "get-client_groups-client_group_id",
        "parameters": [
          {
            "name": "client_group_id",
            "in": "path",
            "description": "Client group id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClientGroup"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/member_groups": {
      "get": {
        "summary": "Get and filter member groups",
        "description": "Get member groups",
        "operationId": "get-member_groups",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_offset"
          },
          {
            "$ref": "#/components/parameters/sort_dir"
          },
          {
            "$ref": "#/components/parameters/page_limit"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClientGroup"
                      }
                    },
                    "page_offset": {
                      "type": "integer"
                    },
                    "page_limit": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/member_groups/{member_group_id}": {
      "get": {
        "summary": "Get one specific member group by id",
        "description": "Get specific member group",
        "operationId": "get-member_groups-member_group_id",
        "parameters": [
          {
            "name": "member_group_id",
            "in": "path",
            "description": "Member group id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MemberGroup"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/members": {
      "get": {
        "summary": "Get and filter members",
        "description": "Get members",
        "operationId": "get-members",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_offset"
          },
          {
            "$ref": "#/components/parameters/sort_dir"
          },
          {
            "$ref": "#/components/parameters/page_limit"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    },
                    "page_limit": {
                      "type": "integer"
                    },
                    "page_offset": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/members/{member_id}": {
      "get": {
        "summary": "Get one specific member by id",
        "description": "Get member",
        "operationId": "get-members-member_id",
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "description": "Member id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Member"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/product_fields": {
      "get": {
        "summary": "Get and filter product fields",
        "description": "Get product fields",
        "operationId": "get-product_fields",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_offset"
          },
          {
            "$ref": "#/components/parameters/sort_dir"
          },
          {
            "$ref": "#/components/parameters/page_limit"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProductField"
                      }
                    },
                    "page_limit": {
                      "type": "integer"
                    },
                    "page_offset": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/product_fields/{product_field_id}": {
      "get": {
        "summary": "Get one specific product field by id",
        "description": "Get product field",
        "operationId": "get-product_fields-product_field_id",
        "parameters": [
          {
            "name": "product_field_id",
            "in": "path",
            "description": "Product field id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductField"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/products": {
      "get": {
        "summary": "Get and filter products",
        "description": "Get products",
        "operationId": "get-products",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_offset"
          },
          {
            "$ref": "#/components/parameters/sort_dir"
          },
          {
            "$ref": "#/components/parameters/page_limit"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/products/{product_id}": {
      "get": {
        "summary": "Get one specific product by id",
        "description": "Get product",
        "operationId": "get-products-product_id",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Product id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/task_fields": {
      "get": {
        "summary": "Get and filter task fields",
        "description": "Get task fields",
        "operationId": "get-task_fields",
        "parameters": [
          {
            "$ref": "#/components/parameters/page_offset"
          },
          {
            "$ref": "#/components/parameters/sort_dir"
          },
          {
            "$ref": "#/components/parameters/page_limit"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaskField"
                      }
                    },
                    "page_limit": {
                      "type": "integer"
                    },
                    "page_offset": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/task_fields/{task_field_id}": {
      "get": {
        "summary": "Get one specific task field by id",
        "description": "Get task field",
        "operationId": "get-task_fields-task_field_id",
        "parameters": [
          {
            "name": "task_field_id",
            "in": "path",
            "description": "Task field id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TaskField"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT-token": []
          }
        ],
        "servers": [
          {
            "url": "https://app.getuku.com/api/v1.0"
          }
        ]
      }
    },
    "/tasks": {
      "get": {
        "summary": "Get and filter tasks",
        "description": "Get tasks",
        "operationId": "get-tasks",
        "parameters": [
          {
            "name": "dates_list",
            "in": "query",
            "description": "Lower boundary of task start date, upper boundary of task start date",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "minItems": 2,
              "maxItems": 2,
              "items": {
                "type": "string",
                "format": "date"
              },
              "example": [
                "2022-01-01",
                "2022-01-10"
              ]
            }
          },
          {
            "name": "updated_at_list",
            "in": "query",
            "description": "Lower boundary of task updated at datetime, upper boundary of task updated at datetime",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "minItems": 2,
              "maxItems": 2,
              "items": {
                "type": "string"
              },
              "example": "2022-11-01 08:00:00, 2022-11-01 09:00:00"
            }
          },
          {
            "name": "person_id_list",
            "in": "query",
            "description": "Filter tasks by list of assignee ids",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "client_id_list",
            "in": "query",
            "description": "Filter tasks by list of client ids",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "topic_id_list",
            "in": "query",
            "description": "Filter tasks by list of topic ids",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "client_group_id_list",
            "in": "query",
            "description": "Filter tasks by list of client group ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "task_status",
            "in": "query",
            "description": "Filter tasks by status, multiple statuses separated by commas",
            "schema": {
              "type": "string",
              "example": "new, in_progress, finished, deleted, inactive"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Filter tasks by keyword in title, description, checklist item description, client name and topic name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_important",
            "in": "query",
            "description": "Filter tasks that are marked important",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ],
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "is_extra",
            "in": "query",
            "description": "Filter tasks that are marked extra",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ],
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "is_tracked_time",
            "in": "query",
            "description": "Filter tasks that have tracked time",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ],
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "is_commented",
            "in": "query",
            "description": "Filter tasks that have a comment",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ],
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "is_estimated",
            "in": "query",
            "description": "Filter tasks that have an estimation",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                0
              ]
            }
          },
          {
            "$ref": "#/components/parameters/page_offset"
          },
          {
            "$ref": "#/components/parameters/sort_dir"
          },
          {
            "$ref": "#/components/parameters/page_limit"
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    },
                    "page_limit": {
                      "type": "integer"
                    },
                    "page_offset": {
                      "type": "integer"
                    },
[...]
