{
  "openapi": "3.0.3",
  "info": {
    "title": "Dots.eco Impact API",
    "version": "1.0.0",
    "description": "Dots.eco Impact API enables creating environmental impact certificates, managing allocations, and retrieving impact summaries.",
    "x-jentic-source-url": "https://docs.impact.dots.eco/"
  },
  "servers": [
    {
      "url": "https://impact.dots.eco/api/v1"
    }
  ],
  "paths": {
    "/certificate/add": {
      "post": {
        "operationId": "createcertificate",
        "summary": "Create a new environmental impact certificate",
        "tags": [
          "Certificates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certificate created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Certificate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid auth token"
          }
        }
      }
    },
    "/certificate/list/{app_token}/{remote_user_id}": {
      "get": {
        "operationId": "listcertificates",
        "summary": "Get a list of certificates for a user",
        "tags": [
          "Certificates"
        ],
        "parameters": [
          {
            "name": "app_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique application identifier"
          },
          {
            "name": "remote_user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The user ID to whom the certificates are issued"
          }
        ],
        "responses": {
          "200": {
            "description": "List of certificates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Certificate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid auth token"
          }
        }
      }
    },
    "/allocations": {
      "get": {
        "operationId": "listallocations",
        "summary": "List available allocations for a company",
        "tags": [
          "Allocations"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the company for which allocations are to be retrieved"
          },
          {
            "name": "langcode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language code for response; defaults to English"
          }
        ],
        "responses": {
          "200": {
            "description": "Map of allocations keyed by allocation ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Allocation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid auth token"
          }
        }
      }
    },
    "/impact/summary": {
      "get": {
        "operationId": "getimpactsummary",
        "summary": "Get impact summary by project",
        "tags": [
          "Impact"
        ],
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the company to retrieve impact for"
          },
          {
            "name": "app_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Application token (comma-separated for multiple)"
          },
          {
            "name": "user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Remote user ID for filtering"
          }
        ],
        "responses": {
          "200": {
            "description": "Impact summary by project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/ImpactSummaryProject"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid auth token"
          }
        }
      }
    },
    "/impact/summary-totals": {
      "get": {
        "operationId": "getimpactsummarytotals",
        "summary": "Get weighted impact summary totals",
        "tags": [
          "Impact"
        ],
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the company"
          },
          {
            "name": "app_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Application token (comma-separated for multiple)"
          },
          {
            "name": "user",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Remote user ID for filtering"
          }
        ],
        "responses": {
          "200": {
            "description": "Impact summary totals by category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/ImpactSummaryTotal"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid auth token"
          }
        }
      }
    },
    "/application-balance/{app_token}": {
      "get": {
        "operationId": "getapplicationbalance",
        "summary": "Retrieve application balance",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "app_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique token representing your application"
          }
        ],
        "responses": {
          "200": {
            "description": "Application balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationBalance"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid auth token"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateCertificateRequest": {
        "type": "object",
        "required": [
          "app_token",
          "impact_qty",
          "allocation_id",
          "remote_user_id"
        ],
        "properties": {
          "app_token": {
            "type": "string",
            "description": "Unique application identifier"
          },
          "external_unique_id": {
            "type": "string",
            "maxLength": 255
          },
          "impact_qty": {
            "type": "integer",
            "description": "Quantity of impact"
          },
          "allocation_id": {
            "type": "integer",
            "description": "Allocation identifier"
          },
          "remote_user_id": {
            "type": "string",
            "description": "User ID to issue certificate to"
          },
          "name_on_certificate": {
            "type": "string",
            "maxLength": 255
          },
          "remote_user_email": {
            "type": "string",
            "maxLength": 254
          },
          "certificate_design": {
            "type": "string",
            "maxLength": 255
          },
          "send_certificate_by_email": {
            "type": "string"
          },
          "certificate_info": {
            "type": "string",
            "maxLength": 255
          },
          "create_async_image": {
            "type": "string"
          },
          "langcode": {
            "type": "string",
            "maxLength": 12
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "Certificate": {
        "type": "object",
        "properties": {
          "certificate_id": {
            "type": "string"
          },
          "external_unique_id": {
            "type": "string"
          },
          "certificate_url": {
            "type": "string"
          },
          "certificate_image_url": {
            "type": "string"
          },
          "app_id": {
            "type": "string"
          },
          "app_name": {
            "type": "string"
          },
          "remote_user_id": {
            "type": "string"
          },
          "name_on_certificate": {
            "type": "string"
          },
          "impact_qty": {
            "type": "number"
          },
          "impact_type_name": {
            "type": "string"
          },
          "created_timestamp": {
            "type": "integer"
          },
          "allocation_id": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "geolocation": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number"
                },
                "lng": {
                  "type": "number"
                }
              }
            }
          },
          "certificate_header": {
            "type": "string"
          },
          "greeting": {
            "type": "string"
          }
        }
      },
      "Allocation": {
        "type": "object",
        "properties": {
          "allocation_name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "allocation_id": {
            "type": "string"
          },
          "allocation_description": {
            "type": "string"
          },
          "allocation_long_description": {
            "type": "string"
          },
          "allocation_singular_label": {
            "type": "string"
          },
          "allocation_plural_label": {
            "type": "string"
          },
          "msrp_price": {
            "type": "number"
          },
          "msrp_currency": {
            "type": "string"
          },
          "price_per_unit": {
            "type": "object",
            "properties": {
              "number": {
                "type": "number"
              },
              "currency_code": {
                "type": "string"
              }
            }
          },
          "allocation_image": {
            "type": "string"
          }
        }
      },
      "ImpactSummaryProject": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string"
          },
          "project_name": {
            "type": "string"
          },
          "project_description": {
            "type": "string"
          },
          "project_image_url": {
            "type": "string"
          },
          "affected_species": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "popular_name": {
                  "type": "string"
                },
                "scientific_name": {
                  "type": "string"
                },
                "IUCN_endangered_status": {
                  "type": "string"
                }
              }
            }
          },
          "category": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "impact_type_id": {
            "type": "string"
          },
          "impact_type_name": {
            "type": "string"
          },
          "impact_description": {
            "type": "string"
          },
          "impact_unit": {
            "type": "string"
          },
          "impact_country": {
            "type": "string"
          },
          "total": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "unit_text": {
            "type": "string"
          },
          "unit_html": {
            "type": "string"
          },
          "geolocation": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "lat": {
                  "type": "number"
                },
                "lng": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ImpactSummaryTotal": {
        "type": "object",
        "properties": {
          "impact_type_category_name": {
            "type": "string"
          },
          "impact_unit": {
            "type": "string"
          },
          "total": {
            "type": "string"
          },
          "unit_text": {
            "type": "string"
          },
          "action_in_past_tense": {
            "type": "string"
          },
          "action_title": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          }
        }
      },
      "ApplicationBalance": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number",
            "description": "Current application balance"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "authToken": {
        "type": "apiKey",
        "in": "header",
        "name": "auth-token",
        "description": "Authorization token for API requests"
      }
    }
  },
  "security": [
    {
      "authToken": []
    }
  ],
  "tags": [
    {
      "name": "Allocations",
      "description": "Operations related to Allocations"
    },
    {
      "name": "Application",
      "description": "Operations related to Application"
    },
    {
      "name": "Certificates",
      "description": "Operations related to Certificates"
    },
    {
      "name": "Impact",
      "description": "Operations related to Impact"
    }
  ]
}