{
  "openapi": "3.0.3",
  "info": {
    "title": "mod.io API",
    "description": "mod.io is a cross-platform mod API for game developers. It provides a complete UGC (User Generated Content) solution including mod hosting, security scanning, content moderation, and SDK integration for managing mods across multiple platforms.",
    "version": "1.0.0",
    "contact": {
      "name": "mod.io Support",
      "url": "https://mod.io"
    },
    "x-jentic-source-url": "https://docs.mod.io"
  },
  "servers": [
    {
      "url": "https://api.mod.io/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {"name": "Authentication", "description": "Authentication and authorization endpoints"},
    {"name": "Games", "description": "Browse and retrieve game information"},
    {"name": "Mods", "description": "Browse, create, update, and delete mods"},
    {"name": "Files", "description": "Manage modfiles (uploads and versions)"},
    {"name": "Comments", "description": "Mod comment management"},
    {"name": "User", "description": "Authenticated user profile and subscriptions"},
    {"name": "Subscriptions", "description": "Subscribe and unsubscribe to mods"}
  ],
  "paths": {
    "/authenticate/terms": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Get terms of use",
        "description": "Retrieve the terms of use text and agreement buttons that must be shown to users before authentication.",
        "operationId": "getTerms",
        "responses": {
          "200": {
            "description": "Terms of use returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TermsObject"
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    },
    "/external/steamauth": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Authenticate via Steam",
        "description": "Request an access token on behalf of a Steam user using an encrypted app ticket.",
        "operationId": "steamAuth",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["appdata", "terms_agreed"],
                "properties": {
                  "appdata": {"type": "string", "description": "Base64-encoded encrypted Steam app ticket"},
                  "email": {"type": "string", "format": "email", "description": "User email address"},
                  "date_expires": {"type": "integer", "description": "Unix timestamp for token expiry"},
                  "terms_agreed": {"type": "boolean", "description": "Whether user agreed to terms"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/AccessTokenObject"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    },
    "/external/xboxauth": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Authenticate via Xbox Live",
        "description": "Request an access token on behalf of an Xbox Live user.",
        "operationId": "xboxAuth",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["xbox_token", "terms_agreed"],
                "properties": {
                  "xbox_token": {"type": "string", "description": "Xbox Live token"},
                  "email": {"type": "string", "format": "email"},
                  "date_expires": {"type": "integer"},
                  "terms_agreed": {"type": "boolean"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/AccessTokenObject"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    },
    "/external/psnauth": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Authenticate via PlayStation Network",
        "description": "Request an access token on behalf of a PlayStation Network user.",
        "operationId": "psnAuth",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["auth_code", "terms_agreed"],
                "properties": {
                  "auth_code": {"type": "string", "description": "PSN authorization code"},
                  "env": {"type": "string", "description": "PSN environment"},
                  "email": {"type": "string", "format": "email"},
                  "date_expires": {"type": "integer"},
                  "terms_agreed": {"type": "boolean"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/AccessTokenObject"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    },
    "/external/switchauth": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Authenticate via Nintendo Switch",
        "description": "Request an access token on behalf of a Nintendo Switch user.",
        "operationId": "switchAuth",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["id_token", "terms_agreed"],
                "properties": {
                  "id_token": {"type": "string", "description": "NSA ID from Switch SDK"},
                  "email": {"type": "string", "format": "email"},
                  "date_expires": {"type": "integer"},
                  "terms_agreed": {"type": "boolean"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/AccessTokenObject"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    },
    "/external/oculusauth": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Authenticate via Meta Quest",
        "description": "Request an access token on behalf of a Meta Quest (Oculus) user.",
        "operationId": "oculusAuth",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["device", "nonce", "user_id", "access_token", "terms_agreed"],
                "properties": {
                  "device": {"type": "string", "description": "Device type"},
                  "nonce": {"type": "string", "description": "Nonce value"},
                  "user_id": {"type": "string", "description": "Oculus user ID"},
                  "access_token": {"type": "string", "description": "Oculus access token"},
                  "email": {"type": "string", "format": "email"},
                  "date_expires": {"type": "integer"},
                  "terms_agreed": {"type": "boolean"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/AccessTokenObject"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    },
    "/games": {
      "get": {
        "tags": ["Games"],
        "summary": "Get all games",
        "description": "Browse all games on mod.io.",
        "operationId": "getGames",
        "parameters": [
          {"name": "_limit", "in": "query", "schema": {"type": "integer", "default": 100}, "description": "Results per page"},
          {"name": "_offset", "in": "query", "schema": {"type": "integer", "default": 0}, "description": "Results to skip"},
          {"name": "_sort", "in": "query", "schema": {"type": "string"}, "description": "Sort column (prefix - for descending)"},
          {"name": "_q", "in": "query", "schema": {"type": "string"}, "description": "Full-text search"}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of games",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PaginatedGameList"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    },
    "/games/{game_id}": {
      "get": {
        "tags": ["Games"],
        "summary": "Get a game",
        "description": "Retrieve details for a specific game.",
        "operationId": "getGame",
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}, "description": "Unique game ID"}
        ],
        "responses": {
          "200": {
            "description": "Game details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Game"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"}
        }
      }
    },
    "/games/{game_id}/mods": {
      "get": {
        "tags": ["Mods"],
        "summary": "Get all mods",
        "description": "Browse all mods for a game.",
        "operationId": "getMods",
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "_limit", "in": "query", "schema": {"type": "integer", "default": 100}},
          {"name": "_offset", "in": "query", "schema": {"type": "integer", "default": 0}},
          {"name": "_sort", "in": "query", "schema": {"type": "string"}},
          {"name": "_q", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of mods",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PaginatedModList"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      },
      "post": {
        "tags": ["Mods"],
        "summary": "Add a mod",
        "description": "Create a new mod for a game.",
        "operationId": "addMod",
        "security": [{"oAuth2": ["write"]}],
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["name", "summary", "logo"],
                "properties": {
                  "name": {"type": "string", "description": "Mod name"},
                  "summary": {"type": "string", "description": "Brief mod summary"},
                  "logo": {"type": "string", "format": "binary", "description": "Mod logo image"},
                  "description": {"type": "string", "description": "Detailed description"},
                  "homepage_url": {"type": "string", "format": "uri"},
                  "metadata_blob": {"type": "string"},
                  "tags": {"type": "array", "items": {"type": "string"}}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mod created",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Mod"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "422": {"$ref": "#/components/responses/ValidationError"}
        }
      }
    },
    "/games/{game_id}/mods/{mod_id}": {
      "get": {
        "tags": ["Mods"],
        "summary": "Get a mod",
        "description": "Retrieve details for a specific mod.",
        "operationId": "getMod",
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Mod details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Mod"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"}
        }
      },
      "put": {
        "tags": ["Mods"],
        "summary": "Edit a mod",
        "description": "Update details for an existing mod.",
        "operationId": "editMod",
        "security": [{"oAuth2": ["write"]}],
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {"type": "string"},
                  "summary": {"type": "string"},
                  "description": {"type": "string"},
                  "homepage_url": {"type": "string", "format": "uri"},
                  "metadata_blob": {"type": "string"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mod updated",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Mod"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"}
        }
      },
      "delete": {
        "tags": ["Mods"],
        "summary": "Delete a mod",
        "description": "Delete a mod.",
        "operationId": "deleteMod",
        "security": [{"oAuth2": ["write"]}],
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "204": {"description": "Mod deleted"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"}
        }
      }
    },
    "/games/{game_id}/mods/{mod_id}/files": {
      "get": {
        "tags": ["Files"],
        "summary": "Get modfiles",
        "description": "List all modfiles for a specific mod.",
        "operationId": "getModfiles",
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "_limit", "in": "query", "schema": {"type": "integer", "default": 100}},
          {"name": "_offset", "in": "query", "schema": {"type": "integer", "default": 0}}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of modfiles",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PaginatedModfileList"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      },
      "post": {
        "tags": ["Files"],
        "summary": "Add a modfile",
        "description": "Upload a new modfile for a mod.",
        "operationId": "addModfile",
        "security": [{"oAuth2": ["write"]}],
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["filedata", "version"],
                "properties": {
                  "filedata": {"type": "string", "format": "binary", "description": "The mod file to upload"},
                  "version": {"type": "string", "description": "Version string"},
                  "changelog": {"type": "string", "description": "Changelog text"},
                  "active": {"type": "boolean", "description": "Set as active release"}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Modfile created",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Modfile"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "422": {"$ref": "#/components/responses/ValidationError"}
        }
      }
    },
    "/games/{game_id}/mods/{mod_id}/files/{file_id}": {
      "get": {
        "tags": ["Files"],
        "summary": "Get a modfile",
        "description": "Retrieve details for a specific modfile.",
        "operationId": "getModfile",
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "file_id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "200": {
            "description": "Modfile details",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Modfile"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"}
        }
      },
      "put": {
        "tags": ["Files"],
        "summary": "Edit a modfile",
        "description": "Update details for an existing modfile.",
        "operationId": "editModfile",
        "security": [{"oAuth2": ["write"]}],
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "file_id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {"type": "string"},
                  "changelog": {"type": "string"},
                  "active": {"type": "boolean"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modfile updated",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Modfile"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"}
        }
      },
      "delete": {
        "tags": ["Files"],
        "summary": "Delete a modfile",
        "description": "Delete a modfile.",
        "operationId": "deleteModfile",
        "security": [{"oAuth2": ["write"]}],
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "file_id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "204": {"description": "Modfile deleted"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"}
        }
      }
    },
    "/games/{game_id}/mods/{mod_id}/comments": {
      "get": {
        "tags": ["Comments"],
        "summary": "Get mod comments",
        "description": "Retrieve comments for a mod.",
        "operationId": "getModComments",
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "_limit", "in": "query", "schema": {"type": "integer", "default": 100}},
          {"name": "_offset", "in": "query", "schema": {"type": "integer", "default": 0}},
          {"name": "_sort", "in": "query", "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of comments",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PaginatedCommentList"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      },
      "post": {
        "tags": ["Comments"],
        "summary": "Add a mod comment",
        "description": "Add a comment to a mod.",
        "operationId": "addModComment",
        "security": [{"oAuth2": ["write"]}],
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": {"type": "string", "description": "Comment text"}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Comment"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    },
    "/games/{game_id}/mods/{mod_id}/comments/{comment_id}": {
      "delete": {
        "tags": ["Comments"],
        "summary": "Delete a mod comment",
        "description": "Delete a comment from a mod.",
        "operationId": "deleteModComment",
        "security": [{"oAuth2": ["write"]}],
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "comment_id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "204": {"description": "Comment deleted"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"}
        }
      }
    },
    "/games/{game_id}/mods/{mod_id}/subscribe": {
      "post": {
        "tags": ["Subscriptions"],
        "summary": "Subscribe to a mod",
        "description": "Subscribe the authenticated user to a mod.",
        "operationId": "subscribeMod",
        "security": [{"oAuth2": ["write"]}],
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "201": {
            "description": "Subscribed successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Mod"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      },
      "delete": {
        "tags": ["Subscriptions"],
        "summary": "Unsubscribe from a mod",
        "description": "Unsubscribe the authenticated user from a mod.",
        "operationId": "unsubscribeMod",
        "security": [{"oAuth2": ["write"]}],
        "parameters": [
          {"name": "game_id", "in": "path", "required": true, "schema": {"type": "integer"}},
          {"name": "mod_id", "in": "path", "required": true, "schema": {"type": "integer"}}
        ],
        "responses": {
          "204": {"description": "Unsubscribed successfully"},
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    },
    "/me": {
      "get": {
        "tags": ["User"],
        "summary": "Get authenticated user",
        "description": "Retrieve the profile details of the authenticated user.",
        "operationId": "getAuthenticatedUser",
        "security": [{"oAuth2": ["read"]}],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/User"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    },
    "/me/subscriptions": {
      "get": {
        "tags": ["User"],
        "summary": "Get user subscriptions",
        "description": "Retrieve all mods the authenticated user is subscribed to.",
        "operationId": "getUserSubscriptions",
        "security": [{"oAuth2": ["read"]}],
        "parameters": [
          {"name": "_limit", "in": "query", "schema": {"type": "integer", "default": 100}},
          {"name": "_offset", "in": "query", "schema": {"type": "integer", "default": 0}}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of subscribed mods",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PaginatedModList"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    },
    "/me/mods": {
      "get": {
        "tags": ["User"],
        "summary": "Get user mods",
        "description": "Retrieve all mods created by the authenticated user.",
        "operationId": "getUserMods",
        "security": [{"oAuth2": ["read"]}],
        "parameters": [
          {"name": "_limit", "in": "query", "schema": {"type": "integer", "default": 100}},
          {"name": "_offset", "in": "query", "schema": {"type": "integer", "default": 0}}
        ],
        "responses": {
          "200": {
            "description": "Paginated list of user mods",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PaginatedModList"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    },
    "/me/ratings": {
      "post": {
        "tags": ["User"],
        "summary": "Add mod rating",
        "description": "Submit a rating for a mod.",
        "operationId": "addModRating",
        "security": [{"oAuth2": ["write"]}],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["mod_id", "rating"],
                "properties": {
                  "mod_id": {"type": "integer", "description": "ID of the mod to rate"},
                  "rating": {"type": "integer", "enum": [1, -1], "description": "1 for positive, -1 for negative"}
                }
              }
            }
          }
        },
        "responses": {
          "201": {"description": "Rating submitted"},
          "401": {"$ref": "#/components/responses/Unauthorized"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key for read-only GET requests."
      },
      "oAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 access token for full CRUD operations.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://mod.io/oauth",
            "scopes": {
              "read": "Read access",
              "write": "Write access"
            }
          }
        }
      }
    },
    "schemas": {
      "AccessTokenObject": {
        "type": "object",
        "properties": {
          "code": {"type": "integer"},
          "access_token": {"type": "string"},
          "date_expires": {"type": "integer"}
        }
      },
      "TermsObject": {
        "type": "object",
        "properties": {
          "plaintext": {"type": "string"},
          "html": {"type": "string"},
          "buttons": {
            "type": "object",
            "properties": {
              "agree": {"type": "object", "properties": {"text": {"type": "string"}}},
              "disagree": {"type": "object", "properties": {"text": {"type": "string"}}}
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "website": {"type": "object", "properties": {"text": {"type": "string"}, "url": {"type": "string", "format": "uri"}}},
              "terms": {"type": "object", "properties": {"text": {"type": "string"}, "url": {"type": "string", "format": "uri"}}},
              "privacy": {"type": "object", "properties": {"text": {"type": "string"}, "url": {"type": "string", "format": "uri"}}}
            }
          }
        }
      },
      "Game": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "status": {"type": "integer"},
          "date_added": {"type": "integer"},
          "date_updated": {"type": "integer"},
          "date_live": {"type": "integer"},
          "presentation_option": {"type": "integer"},
          "submission_option": {"type": "integer"},
          "curation_option": {"type": "integer"},
          "community_options": {"type": "integer"},
          "revenue_options": {"type": "integer"},
          "api_access_options": {"type": "integer"},
          "ugc_name": {"type": "string"},
          "name": {"type": "string"},
          "name_id": {"type": "string"},
          "summary": {"type": "string"},
          "instructions": {"type": "string"},
          "instructions_url": {"type": "string", "format": "uri"},
          "profile_url": {"type": "string", "format": "uri"}
        }
      },
      "Mod": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "game_id": {"type": "integer"},
          "status": {"type": "integer"},
          "visible": {"type": "integer"},
          "date_added": {"type": "integer"},
          "date_updated": {"type": "integer"},
          "date_live": {"type": "integer"},
          "name": {"type": "string"},
          "name_id": {"type": "string"},
          "summary": {"type": "string"},
          "description": {"type": "string"},
          "description_plaintext": {"type": "string"},
          "homepage_url": {"type": "string", "format": "uri"},
          "profile_url": {"type": "string", "format": "uri"},
          "metadata_blob": {"type": "string"},
          "tags": {"type": "array", "items": {"type": "object", "properties": {"name": {"type": "string"}, "date_added": {"type": "integer"}}}}
        }
      },
      "Modfile": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "mod_id": {"type": "integer"},
          "date_added": {"type": "integer"},
          "date_scanned": {"type": "integer"},
          "virus_status": {"type": "integer"},
          "virus_positive": {"type": "integer"},
          "filesize": {"type": "integer", "format": "int64"},
          "filehash": {"type": "object", "properties": {"md5": {"type": "string"}}},
          "filename": {"type": "string"},
          "version": {"type": "string"},
          "changelog": {"type": "string"},
          "download": {"type": "object", "properties": {"binary_url": {"type": "string", "format": "uri"}, "date_expires": {"type": "integer"}}}
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "mod_id": {"type": "integer"},
          "user": {"$ref": "#/components/schemas/User"},
          "date_added": {"type": "integer"},
          "reply_id": {"type": "integer"},
          "thread_position": {"type": "string"},
          "karma": {"type": "integer"},
          "content": {"type": "string"}
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {"type": "integer"},
          "name_id": {"type": "string"},
          "username": {"type": "string"},
          "date_online": {"type": "integer"},
          "avatar": {"type": "object", "properties": {"filename": {"type": "string"}, "original": {"type": "string", "format": "uri"}}},
          "timezone": {"type": "string"},
          "language": {"type": "string"},
          "profile_url": {"type": "string", "format": "uri"}
        }
      },
      "PaginatedGameList": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Game"}},
          "result_count": {"type": "integer"},
          "result_limit": {"type": "integer"},
          "result_offset": {"type": "integer"},
          "result_total": {"type": "integer"}
        }
      },
      "PaginatedModList": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Mod"}},
          "result_count": {"type": "integer"},
          "result_limit": {"type": "integer"},
          "result_offset": {"type": "integer"},
          "result_total": {"type": "integer"}
        }
      },
      "PaginatedModfileList": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Modfile"}},
          "result_count": {"type": "integer"},
          "result_limit": {"type": "integer"},
          "result_offset": {"type": "integer"},
          "result_total": {"type": "integer"}
        }
      },
      "PaginatedCommentList": {
        "type": "object",
        "properties": {
          "data": {"type": "array", "items": {"$ref": "#/components/schemas/Comment"}},
          "result_count": {"type": "integer"},
          "result_limit": {"type": "integer"},
          "result_offset": {"type": "integer"},
          "result_total": {"type": "integer"}
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {"type": "integer"},
              "error_ref": {"type": "integer"},
              "message": {"type": "string"}
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication credentials missing or invalid",
        "content": {
          "application/json": {
            "schema": {"$ref": "#/components/schemas/Error"}
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {"$ref": "#/components/schemas/Error"}
          }
        }
      },
      "ValidationError": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {"$ref": "#/components/schemas/Error"}
          }
        }
      }
    }
  }
}
