{
  "openapi": "3.0.3",
  "info": {
    "title": "Coinlayer",
    "version": "1.0.0",
    "description": "Coinlayer cryptocurrency data API providing real-time and historical exchange rates, currency lists, and conversion for 150+ cryptocurrencies.",
    "x-jentic-source-url": "https://coinlayer.com/documentation"
  },
  "servers": [
    {
      "url": "https://api.coinlayer.com"
    }
  ],
  "paths": {
    "/live": {
      "get": {
        "operationId": "getLiveRates",
        "summary": "Get live cryptocurrency rates",
        "description": "Returns real-time exchange rates for all or specified cryptocurrencies.",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "description": "Target fiat currency (default: USD)",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated cryptocurrency symbols to limit results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Set to 1 to expand results with additional data",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live rates returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid access key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/historical": {
      "get": {
        "operationId": "getHistoricalRates",
        "summary": "Get historical cryptocurrency rates",
        "description": "Returns historical exchange rates for a specific date.",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Date for historical rates (YYYY-MM-DD format)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "description": "Target fiat currency (default: USD)",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated cryptocurrency symbols",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "description": "Set to 1 to expand results with additional data",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical rates returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid access key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/timeframe": {
      "get": {
        "operationId": "getTimeframeRates",
        "summary": "Get timeframe rates",
        "description": "Returns daily rates for a date range.",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "description": "Target fiat currency",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated cryptocurrency symbols",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timeframe rates returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeframeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/change": {
      "get": {
        "operationId": "getChangeData",
        "summary": "Get rate change data",
        "description": "Returns rate change (margin and percentage) between two dates.",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "description": "Target fiat currency",
            "schema": {
              "type": "string",
              "default": "USD"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Comma-separated cryptocurrency symbols",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Change data returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/convert": {
      "get": {
        "operationId": "convertCurrency",
        "summary": "Convert cryptocurrency",
        "description": "Converts an amount from one cryptocurrency to a target currency.",
        "tags": [
          "Conversion"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "API access key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Source cryptocurrency symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Target currency symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount to convert",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Historical date for conversion (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/list": {
      "get": {
        "operationId": "listCryptocurrencies",
        "summary": "List supported cryptocurrencies",
        "description": "Returns a list of all supported cryptocurrencies with names, symbols, and icons.",
        "tags": [
          "Reference"
        ],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "API access key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cryptocurrency list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "access_key",
        "description": "API access key obtained from coinlayer.com"
      }
    },
    "schemas": {
      "LiveRatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "target": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "HistoricalRatesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "target": {
            "type": "string"
          },
          "historical": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        }
      },
      "TimeframeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "timeframe": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "target": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "number"
              }
            }
          }
        }
      },
      "ChangeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "change": {
            "type": "boolean"
          },
          "start_date": {
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "type": "string",
            "format": "date"
          },
          "target": {
            "type": "string"
          },
          "rates": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "start_rate": {
                  "type": "number"
                },
                "end_rate": {
                  "type": "number"
                },
                "change": {
                  "type": "number"
                },
                "change_pct": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ConvertResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "terms": {
            "type": "string"
          },
          "privacy": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              }
            }
          },
          "info": {
            "type": "object",
            "properties": {
              "timestamp": {
                "type": "integer"
              },
              "rate": {
                "type": "number"
              }
            }
          },
          "result": {
            "type": "number"
          }
        }
      },
      "ListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "crypto": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "symbol": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "name_full": {
                  "type": "string"
                },
                "max_supply": {
                  "type": "number"
                },
                "icon_url": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "fiat": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "type": {
                "type": "string"
              },
              "info": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Rates",
      "description": "Cryptocurrency rate endpoints"
    },
    {
      "name": "Reference",
      "description": "Reference data endpoints"
    },
    {
      "name": "Conversion",
      "description": "Currency conversion"
    }
  ]
}