{
  "swagger": "2.0",
  "info": {
    "title": "Afterbanks API Extendida",
    "description": "La estandarizaci\u00f3n de la conexi\u00f3n con cualquier banco en tiempo real.",
    "version": "5.9.3",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Afterbanks/afterbanks-api-extendida/5.9.3/swagger.json",
    "contact": {}
  },
  "host": "api.afterbanks.com",
  "schemes": [
    "https"
  ],
  "basePath": "/",
  "produces": [
    "application/json; charset=utf-8"
  ],
  "paths": {
    "/V3": {
      "post": {
        "summary": "Posici\u00f3n global y movimientos hasta una fecha dada adem\u00e1s de la informaci\u00f3n de los portfolios de inversi\u00f3n.",
        "description": "Este endpoint devuelve el listado de productos y los movimientos para cada uno de los productos desde la fecha solicitada hasta el d\u00eda actual: hasta 2 a\u00f1os de transacciones para productos tipo checking, lineofcredit, deposit y saving, y los movimientos del mes en curso de los productos tipo card, prepaid y debit. Para la informaci\u00f3n y estructura de los productos portfolio de inversi\u00f3n, consulte [Models/portfolio](#/portfolio). La cabecera de respuesta de cada llamada a este endpoint encontrar\u00e1 un par\u00e1metro llamado Debug-id, que contiene un identificador \u00fanico para cada una de las llamadas que conviene guardar ya que el equipo t\u00e9cnico se lo pedir\u00e1 para abrir tickets de soporte.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada banco. El listado de bancos soportados se obtiene en https://api.afterbanks.com/forms/.",
            "required": true,
            "type": "string"
          },
          {
            "name": "documentType",
            "in": "formData",
            "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deber\u00e1 identificar un n\u00famero entero (de 0 a 4), que corresponde con su posici\u00f3n en el formulario de login del banco.",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "token",
            "in": "formData",
            "description": "Identifica credenciales guardadas (tokenizadas) en nuestra plataforma. Este token ha sido obtenido en una llamada previa con el par\u00e1metro tokenize=1.",
            "required": false,
            "type": "string"
          },
          {
            "name": "user",
            "in": "formData",
            "description": "Usuario. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass",
            "in": "formData",
            "description": "Contrase\u00f1a. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass2",
            "in": "formData",
            "description": "Algunos bancos utilizan una segunda contrase\u00f1a. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass3",
            "in": "formData",
            "description": "Algunos bancos tienen los tres campos de las credenciales ocupados (user,pass y pass2) y este campo se utiliza para introducir un cuarto valor en las credenciales. Por ejemplo: La firma para solicitar movimientos de m\u00e1s de 90 d\u00edas.",
            "required": false,
            "type": "string"
          },
          {
            "name": "account_id",
            "in": "formData",
            "description": "Algunos bancos permiten acceder a diferentes contratos (multicontrato), con distintos productos, utilizando las mismas credenciales. En los casos en los que esto suceda, y el valor de este par\u00e1metro sea null o -1, la respuesta de la API notificar\u00e1 de que las credenciales introducidas permiten acceder a m\u00e1s de un contrato mostrando as\u00ed todos los contratos disponibles con su respectivo identificador.",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "OTP",
            "in": "formData",
            "description": "One Time Password. Se requiere en algunos bancos para completar el proceso de login.",
            "required": false,
            "type": "string"
          },
          {
            "name": "session_id",
            "in": "formData",
            "description": "Se requiere cuando el par\u00e1metro OTP est\u00e1 establecido. El valor siempre se obtendr\u00e1 de la llamada previa.",
            "required": false,
            "type": "string"
          },
          {
            "name": "counter_id",
            "in": "formData",
            "description": "Se requiere cuando el par\u00e1metro OTP est\u00e1 establecido. El valor siempre se obtendr\u00e1 de la llamada previa. Los valores 750 y 850 de este par\u00e1metro indican, respectivamente; Petici\u00f3n de movimientos de m\u00e1s de 90 d\u00edas con OTP y login de doble factor de autenticaci\u00f3n con notificaci\u00f3n PUSH. El valor 1600 indica ambos casos combinados, es decir, doble factor de autenticaci\u00f3n mediante notificaci\u00f3n PUSH en una petici\u00f3n de movimientos de m\u00e1s de 90 d\u00edas.",
            "required": false,
            "type": "number"
          },
          {
            "name": "tokenize",
            "in": "formData",
            "description": "Par\u00e1metro no incluido en la licencia est\u00e1ndar. El valor por defecto es 0. Previene al cliente de tener que almacenar credenciales. Si el valor es 1, las credenciales encriptadas ser\u00e1n guardadas en los servidores de Afterbanks y un token ser\u00e1 asignado para ser utilizado en los siguientes accesos, evitando utilizar usuario y contrase\u00f1a.",
            "required": false,
            "type": "number"
          },
          {
            "name": "products",
            "in": "formData",
            "description": "Nombres de productos bancarios (cuentas corrientes, tarjetas, etc), separados por coma. Cabe destacar que en la primera llamada a la API, a\u00fan no conocemos los nombres de los productos que el usuario tiene contratados, por lo que este par\u00e1metro deber\u00e1 recibir el valor GLOBAL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "startdate",
            "in": "formData",
            "description": "Fecha desde la que queremos obtener los movimientos en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" es distinto de GLOBAL.",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "name": "get_iban",
            "in": "formData",
            "description": "Par\u00e1metro tenido en cuenta cuando products=GLOBAL. Los valores posibles son: 0 -> No obtener iban (valor por defecto); 1 -> Obtener iban. A\u00f1ade la clave iban al array de los productos tipo checking si el banco es Europeo. A\u00f1ade la clave is_owner indicando si el usuario que hizo login es el titular de la cuenta. A\u00f1ade la clave holders al array de los productos tipo checking donde se detallan los titulares y autorizados de cada producto.",
            "required": false,
            "type": "number"
          },
          {
            "name": "format",
            "in": "formData",
            "description": "A\u00f1ade la clave transactions43 (\u00fanicamente cuando el par\u00e1metro get_iban est\u00e1 a 0 o no se utiliza), si format = 43 en una solicitud de movimientos de productos, y as\u00ed se generar\u00e1 la informaci\u00f3n que contendr\u00eda un fichero con formato Norma 43 en un banco europeo. Esta informaci\u00f3n estar\u00e1 codificada en base64, por lo que para obtener la informaci\u00f3n de los movimientos en este formato, se tendr\u00eda que decodificar el texto devuelto, que contendr\u00e1 la informaci\u00f3n de los movimientos recuperados, a excepci\u00f3n de los del d\u00eda actual. Cabe destacar que esta funcionalidad no ofrece m\u00e1s informaci\u00f3n que la devuelta en formato JSON en V3, lo \u00fanico que cambia es el formato de los datos. Para descargar ficheros 43 reales, hay que utilizar /Files/.",
            "required": false,
            "type": "number"
          },
          {
            "name": "documents",
            "in": "formData",
            "description": "Transaciones con \"hasDoc\" (para localizar este parametro hay que realizar un llamada de consulta previa) a true disponen de descarga en pdf. Suministrando los transactionId separados por comas de estas transaciones especificas, se procedera a la descarga de los pdf.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "V3"
        ],
        "responses": {
          "200": {
            "description": "Array con listado de productos bancarios y movimientos.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/V3"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-v3"
      }
    },
    "/V3/forms": {
      "get": {
        "summary": "Lista de bancos soportados en V3",
        "description": "Obt\u00e9n una lista completa de los bancos soportados, as\u00ed como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para Espa\u00f1a. Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "V3"
        ],
        "responses": {
          "200": {
            "description": "Array con el listado de bancos soportados y la informaci\u00f3n necesaria para dibujar su formulario de login",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Forms"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "get-v3-forms"
      }
    },
    "/V3/categories": {
      "get": {
        "summary": "Listado de categor\u00edas. Solo para las servicekeys con la opci\u00f3n contratada.",
        "description": "Obt\u00e9n una lista completa de las categor\u00edas utilizadas por Afterbanks para categorizar los movimientos.",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para Espa\u00f1a. Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "V3"
        ],
        "responses": {
          "200": {
            "description": "Array con el listado de categorias utilizadas por Afterbanks.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Categories"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "get-v3-categories"
      }
    },
    "/V3/deleteToken": {
      "post": {
        "summary": "Elimina informaci\u00f3n guardada relacionada con un token espec\u00edfico.",
        "description": "Limpia los datos de cach\u00e9 de un token espec\u00edfico.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "formData",
            "description": "String que identifica las credenciales (tokenizadas) guardadas en nuestra plataforma.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "V3"
        ],
        "responses": {
          "200": {
            "description": "Resultado",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/deleteToken"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-v3-deletetoken"
      }
    },
    "/ID": {
      "post": {
        "summary": "M\u00e9todo para obtener la identificaci\u00f3n de titular.",
        "description": "Este endpoint devuelve la informaci\u00f3n de identificaci\u00f3n del titular de la cuenta.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada banco. La informaci\u00f3n de identificaci\u00f3n ser\u00e1 m\u00e1s o menos extensa en funci\u00f3n del banco.",
            "required": true,
            "type": "string"
          },
          {
            "name": "documentType",
            "in": "formData",
            "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deber\u00e1 identificar un n\u00famero entero (de 0 a 4), que corresponde con su posici\u00f3n en el formulario de login del banco.",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "user",
            "in": "formData",
            "description": "Usuario.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass",
            "in": "formData",
            "description": "Contrase\u00f1a.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass2",
            "in": "formData",
            "description": "Algunos bancos utilizan una segunda contrase\u00f1a.",
            "required": false,
            "type": "string"
          },
          {
            "name": "account_id",
            "in": "formData",
            "description": "Algunos bancos permiten acceder a diferentes contratos (multicontrato), con distintos productos, utilizando las mismas credenciales. En los casos en los que esto suceda, y el valor de este par\u00e1metro sea null o 0, la respuesta de la API notificar\u00e1 de que las credenciales introducidas permiten acceder a m\u00e1s de un contrato. Si el valor es -1, mostrar\u00e1 todos los productos de todos los contratos, haciendo transparente para el cliente la existencia de multicontrato.",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "token",
            "in": "formData",
            "description": "Identifica credenciales guardadas (tokenizadas) en nuestra plataforma. Este token ha sido obtenido en una llamada previa con el par\u00e1metro tokenize=1.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tokenize",
            "in": "formData",
            "description": "Par\u00e1metro no incluido en la licencia est\u00e1ndar. El valor por defecto es 0. Previene al cliente de tener que almacenar credenciales. Si el valor es 1, las credenciales encriptadas ser\u00e1n guardadas en los servidores de Afterbanks y un token ser\u00e1 asignado para ser utilizado en los siguientes accesos, evitando utilizar usuario y contrase\u00f1a.",
            "required": false,
            "type": "number"
          }
        ],
        "tags": [
          "ID"
        ],
        "responses": {
          "200": {
            "description": "Array con informaci\u00f3n de identificaci\u00f3n del usuario.",
            "schema": {
              "$ref": "#/definitions/ID"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-id"
      }
    },
    "/ID/forms": {
      "get": {
        "summary": "Lista de bancos soportados en ID",
        "description": "Obt\u00e9n una lista completa de los bancos soportados para el m\u00e9todo de identificaci\u00f3n de titularidad, as\u00ed como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para Espa\u00f1a. Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ID"
        ],
        "responses": {
          "200": {
            "description": "Array con el listado de bancos soportados y la informaci\u00f3n necesaria para dibujar su formulario de login",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ID"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "get-id-forms"
      }
    },
    "/Insurance": {
      "post": {
        "summary": "Posici\u00f3n global e informaci\u00f3n detallada de los seguros.",
        "description": "Este endpoint devuelve el listado de seguros con todos los detalles relevantes de los mismos. En la cabecera de respuesta de cada llamada a este endpoint encontrar\u00e1 un par\u00e1metro llamado Debug-id, que contiene un identificador \u00fanico para cada una de las llamadas que conviene guardar ya que el equipo t\u00e9cnico se lo pedir\u00e1 para abrir tickets de soporte.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada compa\u00f1\u00eda de seguros. El listado de compa\u00f1\u00edas de seguros soportados se obtiene en https://api.afterbanks.com/forms/.",
            "required": true,
            "type": "string"
          },
          {
            "name": "documentType",
            "in": "formData",
            "description": "Algunas compa\u00f1\u00edas de seguros, en su formulario de login, solicitan el tipo de documento. En estos casos, se deber\u00e1 identificar un n\u00famero entero (de 0 a 4), que corresponde con su posici\u00f3n en el formulario de login de la compa\u00f1\u00eda de seguros.",
            "required": false,
            "type": "number",
            "format": "int32"
          },
          {
            "name": "token",
            "in": "formData",
            "description": "Identifica credenciales guardadas (tokenizadas) en nuestra plataforma. Este token ha sido obtenido en una llamada previa con el par\u00e1metro tokenize=1.",
            "required": false,
            "type": "string"
          },
          {
            "name": "user",
            "in": "formData",
            "description": "Usuario. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass",
            "in": "formData",
            "description": "Contrase\u00f1a. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass2",
            "in": "formData",
            "description": "Algunas compa\u00f1\u00edas de seguros utilizan una segunda contrase\u00f1a. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "OTP",
            "in": "formData",
            "description": "One Time Password. Se requiere en algunas compa\u00f1\u00edas de seguros para completar el proceso de login.",
            "required": false,
            "type": "string"
          },
          {
            "name": "session_id",
            "in": "formData",
            "description": "Se requiere cuando el par\u00e1metro OTP est\u00e1 establecido. El valor siempre se obtendr\u00e1 de la llamada previa.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tokenize",
            "in": "formData",
            "description": "Par\u00e1metro no incluido en la licencia est\u00e1ndar. El valor por defecto es 0. Previene al cliente de tener que almacenar credenciales. Si el valor es 1, las credenciales encriptadas ser\u00e1n guardadas en los servidores de Afterbanks y un token ser\u00e1 asignado para ser utilizado en los siguientes accesos, evitando utilizar usuario y contrase\u00f1a.",
            "required": false,
            "type": "number"
          }
        ],
        "tags": [
          "Insurance"
        ],
        "responses": {
          "200": {
            "description": "Array con listado de productos y detalles de los mismos.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Insurance"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-insurance"
      }
    },
    "/Utilities": {
      "post": {
        "summary": "Posici\u00f3n global e informaci\u00f3n detallada de facturas de servicios p\u00fablicos.",
        "description": "Este endpoint devuelve el listado de facturas de servicios p\u00fablicos con todos los detalles relevantes de los mismos. En la cabecera de respuesta de cada llamada a este endpoint encontrar\u00e1 un par\u00e1metro llamado Debug-id, que contiene un identificador \u00fanico para cada una de las llamadas que conviene guardar ya que el equipo t\u00e9cnico se lo pedir\u00e1 para abrir tickets de soporte.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada compa\u00f1\u00eda de servicios p\u00fablicos. El listado de compa\u00f1\u00edas de servicios p\u00fablicos soportados se obtiene en https://api.afterbanks.com/Utilities/forms/.",
            "required": true,
            "type": "string"
          },
          {
            "name": "documentType",
            "in": "formData",
            "description": "Algunas compa\u00f1\u00edas de servicios p\u00fablicos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deber\u00e1 identificar un n\u00famero entero (de 0 a 4), que corresponde con su posici\u00f3n en el formulario de login de la compa\u00f1\u00eda de servicios p\u00fablicos.",
            "required": false,
            "type": "number",
            "format": "int32"
          },
          {
            "name": "user",
            "in": "formData",
            "description": "Usuario. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass",
            "in": "formData",
            "description": "Contrase\u00f1a. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass2",
            "in": "formData",
            "description": "Algunas compa\u00f1\u00edas de servicios p\u00fablicos utilizan una segunda contrase\u00f1a. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "products",
            "in": "formData",
            "description": "LITE (Estructura de contratos)  | GLOBAL (Toda la informaci\u00f3n de todos los contratos) | contractID_1,contractID_2,contractID_3 (Informaci\u00f3n de los contratos seleccionados. Identificadores de contrato separados por coma.). Cabe destacar que en la primera llamada a la API a\u00fan no conocemos los ID de los contratos que el usuario tiene contratados, por lo que este par\u00e1metro deber\u00e1 recibir el valor GLOBAL o LITE.",
            "required": true,
            "type": "string"
          },
          {
            "name": "startdate",
            "in": "formData",
            "description": "Fecha desde la que queremos obtener facturas en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" no es LITE. Est\u00e1 limitado hasta 12 meses anteriores.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "get_pdf",
            "in": "formData",
            "description": "El valor por defecto es 0. Cuando es 1, descarga el PDF asociado a la factura en la clave filePath.",
            "required": false,
            "type": "number"
          }
        ],
        "tags": [
          "Utilities"
        ],
        "responses": {
          "200": {
            "description": "Array con listado de productos y detalles de los mismos.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Utilities"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-utilities"
      }
    },
    "/Utilities/forms": {
      "get": {
        "summary": "Lista de bancos soportados en Utilities",
        "description": "Obt\u00e9n una lista completa de los servicios soportados, as\u00ed como los nombres de los campos necesarios para dibujar un formulario de login similar al original del servicio.",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para Espa\u00f1a. Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Utilities"
        ],
        "responses": {
          "200": {
            "description": "Array con el listado de servicios soportados y la informaci\u00f3n necesaria para dibujar su formulario de login",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Forms"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "get-utilities-forms"
      }
    },
    "/Files": {
      "post": {
        "summary": "Ficheros norma 43 disponibles desde el d\u00eda actual hasta una fecha dada.",
        "description": "Este endpoint recupera y descarga el listado de ficheros disponibles desde la fecha solicidata hasta el d\u00eda actual.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada banco. El listado de bancos soportados se obtiene de https://www.afterbanks.com/forms/ Para esta API, est\u00e1n incluidos los bancos con sufijo _emp, que identifican accesos de empresas.",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "formData",
            "description": "Identifica credenciales guardadas (tokenizadas) en nuestra plataforma. Este token ha sido obtenido en una llamada previa con el par\u00e1metro tokenize=1 en V3.",
            "required": false,
            "type": "string"
          },
          {
            "name": "documentType",
            "in": "formData",
            "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deber\u00e1 identificar un n\u00famero entero (de 0 a 4), que corresponde con su posici\u00f3n en el formulario de login del banco.",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "user",
            "in": "formData",
            "description": "Usuario. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass",
            "in": "formData",
            "description": "Contrase\u00f1a. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass2",
            "in": "formData",
            "description": "Algunos bancos utilizan una segunda contrase\u00f1a.",
            "required": false,
            "type": "string"
          },
          {
            "name": "account_id",
            "in": "formData",
            "description": "Algunos bancos permiten acceder a diferentes contratos (multicontrato), con distintos productos, utilizando las mismas credenciales. En los casos en los que esto suceda, y el valor de este par\u00e1metro sea null o -1, la respuesta de la API notificar\u00e1 de que las credenciales introducidas permiten acceder a m\u00e1s de un contrato mostrando as\u00ed todos los contratos disponibles con su respectivo identificador.",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "products",
            "in": "formData",
            "description": "Nombres de productos bancarios (cuentas corrientes, tarjetas, etc), separados por coma. Cabe destacar que en la primera llamada a la API, a\u00fan no conocemos los nombres de los productos que el usuario tiene contratados, por lo que este par\u00e1metro deber\u00e1 recibir el valor GLOBAL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "startdate",
            "in": "formData",
            "description": "Fecha desde la que queremos obtener los ficheros en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" es distinto de GLOBAL.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "enddate",
            "in": "formData",
            "description": "Fecha hasta la que queremos obtener los ficheros en formato dd-mm-aaaa, posterior a la fecha desde. Opcional, y si no se informa, se utilizar\u00e1 por defecto la fecha del d\u00eda de hoy.",
            "required": false,
            "type": "string"
          },
          {
            "name": "SFTP",
            "in": "formData",
            "description": "Los valores posibles son: 0 -> No obtener los ficheros por descarga SFTP (valor por defecto); 1 -> Obtener los ficheros por descarga SFTP, previa configuraci\u00f3n.",
            "required": false,
            "type": "number"
          },
          {
            "name": "tokenize",
            "in": "formData",
            "description": "Par\u00e1metro no incluido en la licencia est\u00e1ndar. El valor por defecto es 0. Previene al cliente de tener que almacenar credenciales. Si el valor es 1, las credenciales encriptadas ser\u00e1n guardadas en los servidores de Afterbanks y un token ser\u00e1 asignado para ser utilizado en los siguientes accesos, evitando utilizar usuario y contrase\u00f1a.",
            "required": false,
            "type": "number"
          }
        ],
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "Array con listado de productos bancarios y movimientos.",
            "schema": {
              "$ref": "#/definitions/Files"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-files"
      }
    },
    "/Files/forms": {
      "get": {
        "summary": "Lista de bancos soportados en Files",
        "description": "Obt\u00e9n una lista completa de los bancos soportados para el m\u00e9todo de descarga de ficheros 43, as\u00ed como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para Espa\u00f1a. Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "Array con el listado de bancos soportados y la informaci\u00f3n necesaria para dibujar su formulario de login",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Forms"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "get-files-forms"
      }
    },
    "/Files19": {
      "post": {
        "summary": "Ficheros norma 19 (devoluciones) disponibles desde el d\u00eda actual hasta una fecha dada.",
        "description": "Este endpoint recupera y descarga el listado de ficheros disponibles desde la fecha solicidata hasta el d\u00eda actual.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada banco. El listado de bancos soportados se obtiene de https://www.afterbanks.com/forms/ Para esta API, est\u00e1n incluidos los bancos con sufijo _emp, que identifican accesos de empresas.",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "formData",
            "description": "Identifica credenciales guardadas (tokenizadas) en nuestra plataforma. Este token ha sido obtenido en una llamada previa con el par\u00e1metro tokenize=1.",
            "required": false,
            "type": "string"
          },
          {
            "name": "documentType",
            "in": "formData",
            "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deber\u00e1 identificar un n\u00famero entero (de 0 a 4), que corresponde con su posici\u00f3n en el formulario de login del banco.",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "user",
            "in": "formData",
            "description": "Usuario. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass",
            "in": "formData",
            "description": "Contrase\u00f1a. Requerido si el par\u00e1metro token no est\u00e1 establecido.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass2",
            "in": "formData",
            "description": "Algunos bancos utilizan una segunda contrase\u00f1a.",
            "required": false,
            "type": "string"
          },
          {
            "name": "account_id",
            "in": "formData",
            "description": "Algunos bancos permiten acceder a diferentes contratos (multicontrato), con distintos productos, utilizando las mismas credenciales. En los casos en los que esto suceda, y el valor de este par\u00e1metro sea null o -1, la respuesta de la API notificar\u00e1 de que las credenciales introducidas permiten acceder a m\u00e1s de un contrato mostrando as\u00ed todos los contratos disponibles con su respectivo identificador.",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "products",
            "in": "formData",
            "description": "Nombres de productos bancarios (cuentas corrientes, tarjetas, etc), separados por coma. Cabe destacar que en la primera llamada a la API, a\u00fan no conocemos los nombres de los productos que el usuario tiene contratados, por lo que este par\u00e1metro deber\u00e1 recibir el valor GLOBAL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "startdate",
            "in": "formData",
            "description": "Fecha desde la que queremos obtener los ficheros en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" es distinto de GLOBAL.",
            "required": true,
            "type": "string",
            "format": "date"
          }
        ],
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "Array con listado de productos bancarios y movimientos.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Files"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-files19"
      }
    },
    "/Files19/forms": {
      "get": {
        "summary": "Lista de bancos soportados en Files19",
        "description": "Obt\u00e9n una lista completa de los bancos soportados para el m\u00e9todo de descarga de ficheros 19, as\u00ed como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para Espa\u00f1a. Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "Array con el listado de bancos soportados y la informaci\u00f3n necesaria para dibujar su formulario de login",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Forms"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "get-files19-forms"
      }
    },
    "/Files57": {
      "post": {
        "summary": "Ficheros de recaudaciones disponibles en un rango de fechas dadas.",
        "description": "Este endpoint recupera y descarga el listado de ficheros disponibles entre las fechas solicidatas. Si no se informa de una fecha final, \u00e9sta ser\u00e1 la del d\u00eda actual.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada banco. El listado de bancos soportados se obtiene de https://www.afterbanks.com/forms/ Para esta API, est\u00e1n incluidos los bancos con sufijo _emp, que identifican accesos de empresas.",
            "required": true,
            "type": "string"
          },
          {
            "name": "documentType",
            "in": "formData",
            "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deber\u00e1 identificar un n\u00famero entero (de 0 a 4), que corresponde con su posici\u00f3n en el formulario de login del banco.",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "user",
            "in": "formData",
            "description": "Usuario.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass",
            "in": "formData",
            "description": "Contrase\u00f1a.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass2",
            "in": "formData",
            "description": "Algunos bancos utilizan una segunda contrase\u00f1a.",
            "required": false,
            "type": "string"
          },
          {
            "name": "account_id",
            "in": "formData",
            "description": "Algunos bancos permiten acceder a diferentes contratos (multicontrato), con distintos productos, utilizando las mismas credenciales. En los casos en los que esto suceda, y el valor de este par\u00e1metro sea null o -1, la respuesta de la API notificar\u00e1 de que las credenciales introducidas permiten acceder a m\u00e1s de un contrato mostrando as\u00ed todos los contratos disponibles con su respectivo identificador.",
            "required": false,
            "type": "number",
            "format": "int"
          },
          {
            "name": "products",
            "in": "formData",
            "description": "Nombres de los ficheros, separados por coma. Cabe destacar que en la primera llamada a la API, a\u00fan no conocemos los nombres de los ficheros que el usuario tiene posibilidad de descargar, por lo que este par\u00e1metro deber\u00e1 recibir el valor GLOBAL para saber qu\u00e9 ficheros puede descargar. Si se desea que todos los ficheros que se encuentren, se descarguen en una sola petici\u00f3n, se deber\u00e1 de utilizar el valor ALL.",
            "required": false,
            "type": "string"
          },
          {
            "name": "startdate",
            "in": "formData",
            "description": "Fecha desde la que queremos obtener los ficheros en formato dd-mm-aaaa. Obligatorio cuando el valor de \"products\" es distinto de GLOBAL.",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "name": "enddate",
            "in": "formData",
            "description": "Fecha hasta la que queremos obtener los ficheros en formato dd-mm-aaaa, posterior a la fecha desde. Opcional, y si no se informa, se utilizar\u00e1 por defecto la fecha del d\u00eda de hoy.",
            "required": false,
            "type": "string",
            "format": "date"
          }
        ],
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "Array con listado de productos bancarios y movimientos.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Files"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-files57"
      }
    },
    "/Files57/forms": {
      "get": {
        "summary": "Lista de bancos soportados en Files57",
        "description": "Obt\u00e9n una lista completa de los bancos soportados para el m\u00e9todo de descarga de ficheros de recaudaciones - pagos, as\u00ed como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para Espa\u00f1a. Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "Array con el listado de bancos soportados y la informaci\u00f3n necesaria para dibujar su formulario de login",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Forms"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "get-files57-forms"
      }
    },
    "/batch/collectCredentials": {
      "post": {
        "summary": "Procesamiento por lotes de credenciales.",
        "description": "Este endpoint recoge un conjunto de credenciales para su procesado en lote (procesado batch)",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "JSON",
            "description": "Body de la petici\u00f3n con la informaci\u00f3n de la servicekey y un array con las credeniclaes a procesar",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "servicekey",
                "credentials"
              ],
              "properties": {
                "servicekey": {
                  "type": "string"
                },
                "credentials": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/batchCredentials"
                  }
                }
              }
            }
          }
        ],
        "tags": [
          "Batch"
        ],
        "responses": {
          "200": {
            "description": "Procesamiento por lotes de lista de credenciales.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/batchCredentialsOK"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/batchCredentialsKO"
            }
          }
        },
        "operationId": "post-batch-collectcredentials"
      }
    },
    "/institutional": {
      "post": {
        "summary": "Informaci\u00f3n institucional del usuario.",
        "description": "Este endpoint informa la informaci\u00f3n de car\u00e1cter institucional de un usuario.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada servicio.",
            "required": true,
            "type": "string"
          },
          {
            "name": "documentType",
            "in": "formData",
            "description": "Algunas instituciones, permiten realizar la conexi\u00f3n con diferentes tipos de login. Los valores aceptados son 0, 1 y 2.",
            "required": false,
            "type": "number",
            "format": "int32"
          },
          {
            "name": "user",
            "in": "formData",
            "description": "Usuario.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass",
            "in": "formData",
            "description": "Valor solicitado por la entidad para realizar el login.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pass2",
            "in": "formData",
            "description": "Segundo valor solicitado por la entidad para realizar el login.",
            "required": false,
            "type": "string"
          },
          {
            "name": "OTP",
            "in": "formData",
            "description": "One Time Password. Se requiere en algunos servicios para completar el proceso de login.",
            "required": false,
            "type": "string"
          },
          {
            "name": "session_id",
            "in": "formData",
            "description": "Se requiere cuando el par\u00e1metro OTP est\u00e1 establecido. El valor siempre se obtendr\u00e1 de la llamada previa.",
            "required": false,
            "type": "string"
          },
          {
            "name": "counter_id",
            "in": "formData",
            "description": "Se requiere cuando el par\u00e1metro OTP est\u00e1 establecido. El valor siempre se obtendr\u00e1 de la llamada previa.",
            "required": false,
            "type": "number"
          }
        ],
        "tags": [
          "Institutional"
        ],
        "responses": {
          "200": {
            "description": "Array con la informaci\u00f3n institucional del usuario.",
            "schema": {
              "$ref": "#/definitions/institutional"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-institutional"
      }
    },
    "/institutional/forms": {
      "get": {
        "summary": "Lista de servicios soportados en el endpoint institutional",
        "description": "Obt\u00e9n una lista completa de los servicios soportados, as\u00ed como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para Espa\u00f1a. Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Institutional"
        ],
        "responses": {
          "200": {
            "description": "Array con el listado de servicios soportados y la informaci\u00f3n necesaria para dibujar su formulario de login",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Forms"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "get-institutional-forms"
      }
    },
    "/ibanToService": {
      "post": {
        "summary": "Obtenci\u00f3n del nombre del banco vinculado a un IBAN concreto.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "description": "Devuelve el nombre del banco al que pertenece el IBAN proporcionado.",
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "required": true,
            "type": "string"
          },
          {
            "name": "iban",
            "in": "formData",
            "description": "IBAN del que se desea conocer el servicio/banco al que pertenece. El formato aceptado es \"XX0000000000000000000000\". Siendo \"XX\" el c\u00f3digo ISO del pa\u00eds, seguido de 2 d\u00edgitos de control y otros 20 d\u00edgitos que representan el c\u00f3digo b\u00e1sico de la cuenta bancaria.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ibanToService"
        ],
        "responses": {
          "200": {
            "description": "Servicio al que pertenece un IBAN. El campo \"services\" es un array de objetos, un objeto por cada servicio al que puede pertenecer el IBAN.",
            "schema": {
              "$ref": "#/definitions/ibanToService"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-ibantoservice"
      }
    },
    "/getDocuments": {
      "post": {
        "summary": "Descarga de ficheros PDF asociados a movimientos que se solicitaron previamente en V3.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "description": "Devuelve ficheros PDF asociados a movimientos, codificados en base64. \u00c9stos ficheros tienen que haberse solicitado previamente en el m\u00e9todo V3.",
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "required": true,
            "type": "string"
          },
          {
            "name": "documents",
            "in": "query",
            "description": "Identificadores (transactionId) de ficheros PDF asociados a movimientos, separados por coma en caso de ser m\u00e1s de uno.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "getDocuments"
        ],
        "responses": {
          "200": {
            "description": "Descarga de documentos previamente solicitados.",
            "schema": {
              "$ref": "#/definitions/getDocuments"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-getdocuments"
      }
    },
    "/batch/returnResults": {
      "post": {
        "summary": "Procesamiento por lotes de credenciales.",
        "description": "Obtiene los resultados del procesado por lotes solicitado o el porcentaje procesado.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
            "required": true,
            "type": "string"
          },
          {
            "name": "batchId",
            "in": "formData",
            "description": "Identificador del lote enviado previamente del cual se quiere obtener el resultado.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "offset",
            "in": "formData",
            "description": "Indica el n\u00famero del primer credentialId que desea recuperar. El valor por defecto es 0.",
            "required": false,
            "type": "number",
            "format": "int"
          }
        ],
        "tags": [
          "Batch"
        ],
        "responses": {
          "200": {
            "description": "Respuesta del lote solicitado.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/batchResult"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-batch-returnresults"
      }
    },
    "/sendSMS": {
      "post": {
        "summary": "Env\u00eda SMS",
        "description": "Este endpoint env\u00eda un SMS a un usuario dado. En ese SMS se incluye una URL en la cual el usuario inicia un flujo por el cual se realiza un scoring mediante la agregaci\u00f3n bancaria. Est\u00e1 destinado a este caso de uso en concreto y se habilita a nivel de contrato.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com.",
            "required": true,
            "type": "string"
          },
          {
            "name": "phoneNumer",
            "in": "formData",
            "description": "N\u00famero de tel\u00e9fono con prefijo del pa\u00eds sin espacios. Por ejemplo, para Espa\u00f1a +34644501035",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "formData",
            "description": "Par\u00e1metro opcional. Si la llamada incluye un id de cliente, lo incorporaremos al smartlink y viajar\u00e1 al calback. En caso contrario, se crear\u00e1 un id \u00fanico en nuestro sistema.",
            "required": false,
            "type": "number",
            "format": "int32"
          },
          {
            "name": "bodyText",
            "in": "formData",
            "description": "Par\u00e1metro opcional. Texto con un m\u00e1ximo de 80 caracteres, al que se le a\u00f1adir\u00e1 el smartlink. En caso de estar vac\u00edo, se enviar\u00e1 el texto preconfigurado a su servicekey, por defecto Para continuar con el proceso de pr\u00e9stamo acceda a <smartlink>.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "SMS"
        ],
        "responses": {
          "200": {
            "description": "Array con estado del env\u00edo, texto del SMS enviado y c\u00f3digo de cliente.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/sendSMS"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-sendsms"
      }
    },
    "/me": {
      "post": {
        "summary": "Informaci\u00f3n de uso de licencia.",
        "description": "Devuelve informaci\u00f3n de la licencia del cliente y el uso de llamadas.",
        "parameters": [
          {
            "name": "servicekey",
            "in": "query",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "required": true,
            "type": "string"
          },
          {
            "name": "details",
            "in": "query",
            "description": "Indica que se quieren conocer detalles extra. Posible valor true.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timePeriod",
            "in": "query",
            "description": "Filtro de fecha a consultar. Posibles valores: 24h o 30d",
            "required": false,
            "type": "string"
          },
          {
            "name": "errors",
            "in": "query",
            "description": "Filtro de tipo de errores. Posibles valores: authentication (errores de contrase\u00f1a incorrecta) o actionRequired (errores en los cuales el usuario debe realizar una acci\u00f3n)",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Informaci\u00f3n del perfil de un usuario.",
            "schema": {
              "$ref": "#/definitions/me"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-me"
      }
    },
    "/getExternalCategorization": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "summary": "Flujo de categorizaci\u00f3n de movimientos bancarios.",
        "description": "Flujo de categorizaci\u00f3n de movimientos bancarios. Se utiliza un categorizador externo. Esta funcionalidad no est\u00e1 disponible para todos los clientes.",
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador del banco para el que se ha realizado la lectura de datos. El listado de bancos soportados se obtiene en https://api.afterbanks.com/forms/.",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "formData",
            "description": "Identificador de la operaci\u00f3n.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jsonV3",
            "in": "formData",
            "description": "JSON recibido en la respuesta de /V3/ con la informaci\u00f3n combinada de las peticiones get_iban=1 y las transacciones bancarias de cada producto.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jsonID",
            "in": "formData",
            "description": "JSON recibido en la respuesta de /ID/ con la informaci\u00f3n del titular.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Categorization"
        ],
        "responses": {
          "200": {
            "description": "JSON con el resultado de la ejecuci\u00f3n.",
            "schema": {
              "$ref": "#/definitions/getExternalCategorization"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-getexternalcategorization"
      }
    },
    "/getExternalCategorizationRawData": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "summary": "Flujo de categorizaci\u00f3n de movimientos bancarios.",
        "description": "Flujo de categorizaci\u00f3n de movimientos bancarios. Se utiliza un categorizador externo. Esta funcionalidad no est\u00e1 disponible para todos los clientes.",
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador del banco para el que se ha realizado la lectura de datos. El listado de bancos soportados se obtiene en https://api.afterbanks.com/forms/.",
            "required": true,
            "type": "string"
          },
          {
            "name": "clientId",
            "in": "formData",
            "description": "Identificador de la operaci\u00f3n.",
            "required": true,
            "type": "string"
          },
          {
            "name": "json",
            "in": "formData",
            "description": "JSON en bruto para la categorizaci\u00f3n.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Categorization"
        ],
        "responses": {
          "200": {
            "description": "JSON con el resultado de la ejecuci\u00f3n.",
            "schema": {
              "$ref": "#/definitions/getExternalCategorization"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-getexternalcategorizationrawdata"
      }
    },
    "/createServicekey": {
      "post": {
        "summary": "Creaci\u00f3n de licencia para nuevos clientes.",
        "description": "Devuelve informaci\u00f3n de la licencia creada para el nuevo cliente.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "required": true,
            "type": "string"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "Email de contacto del cliente.",
            "required": true,
            "type": "string",
            "minLength": 8,
            "maxLength": 32
          },
          {
            "name": "nombreContacto",
            "in": "formData",
            "description": "Nombre de pila del cliente.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 32
          },
          {
            "name": "nombreComercial",
            "in": "formData",
            "description": "Nombre comercial del cliente.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "nombreFiscal",
            "in": "formData",
            "description": "Nombre fiscal del cliente.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "cif",
            "in": "formData",
            "description": "CIF del cliente.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24
          },
          {
            "name": "domicilioFiscal",
            "in": "formData",
            "description": "Direcci\u00f3n del cliente.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 128
          },
          {
            "name": "codigoPostal",
            "in": "formData",
            "description": "C\u00f3digo postal del cliente.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 5
          },
          {
            "name": "pais",
            "in": "formData",
            "description": "Pa\u00eds del cliente en formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          {
            "name": "iban",
            "in": "formData",
            "description": "IBAN de facturaci\u00f3n del cliente",
            "required": true,
            "type": "string",
            "minLength": 8,
            "maxLength": 32
          }
        ],
        "tags": [
          "Servicekey"
        ],
        "responses": {
          "200": {
            "description": "Informaci\u00f3n de la licencia creada.",
            "schema": {
              "$ref": "#/definitions/createServicekey"
            }
          },
          "400": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorBasico"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorBasico"
            }
          }
        },
        "operationId": "post-createservicekey"
      }
    },
    "/deactivateServicekey": {
      "post": {
        "summary": "Desactivaci\u00f3n de licencias.",
        "description": "Devuelve informaci\u00f3n de la licencia desactivada.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetServicekey",
            "in": "formData",
            "description": "Licencia que se necesita desactivar.",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Servicekey"
        ],
        "responses": {
          "200": {
            "description": "Informaci\u00f3n de la licencia creada.",
            "schema": {
              "$ref": "#/definitions/deactivateServicekey"
            }
          },
          "400": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorBasico"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorBasico"
            }
          }
        },
        "operationId": "post-deactivateservicekey"
      }
    },
    "/termsAndConditions": {
      "post": {
        "summary": "Obtenci\u00f3n de los T\u00e9rminos y Condiciones legales para su servicio.",
        "description": "Devuelve un listado de elementos HTML con los T\u00e9rminos y Condiciones.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "TermsAndConditions"
        ],
        "responses": {
          "200": {
            "description": "T\u00e9rminos y Condiciones legales. Listado de elementos HTML: array de objetos con campos elementTag y elementContent.",
            "schema": {
              "$ref": "#/definitions/termsAndConditions"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-termsandconditions"
      }
    },
    "/directDebits": {
      "post": {
        "summary": "Obtenci\u00f3n de las domiciliaciones bancarias",
        "description": "Devuelve un listado de recibos que tiene el usuario domiciliados por cada cuenta bancaria.",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "name": "servicekey",
            "in": "formData",
            "description": "Licencia que identifica al cliente. Si no tienes una, puedes solicitarla en https://www.afterbanks.com",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "formData",
            "description": "Identificador \u00fanico para cada banco. El listado de bancos soportados se obtiene en https://api.afterbanks.com/directDebits/forms/.",
            "required": true,
            "type": "string"
          },
          {
            "name": "documentType",
            "in": "formData",
            "description": "Algunos bancos, en su formulario de login, solicitan el tipo de documento. En estos casos, se deber\u00e1 identificar un n\u00famero entero (de 0 a 4), que corresponde con su posici\u00f3n en el formulario de login del banco.",
            "required": true,
            "type": "number",
            "format": "int"
          },
          {
            "name": "user",
            "in": "formData",
            "description": "Usuario con el que se realiza la conexi\u00f3n.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pass",
            "in": "formData",
            "description": "Contrase\u00f1a con la que se realiza la conexi\u00f3n",
            "required": true,
            "type": "string"
          },
          {
            "name": "pass2",
            "in": "formData",
            "description": "Algunos bancos utilizan una segunda contrase\u00f1a.",
            "required": true,
            "type": "string"
          },
          {
            "name": "account_id",
            "in": "formData",
            "description": "Algunos bancos permiten acceder a diferentes contratos (multicontrato), con distintos productos, utilizando las mismas credenciales. En los casos en los que esto suceda, y el valor de este par\u00e1metro sea null o 0, la respuesta de la API notificar\u00e1 de que las credenciales introducidas permiten acceder a m\u00e1s de un contrato. Si el valor es -1, mostrar\u00e1 todos los productos de todos los contratos, haciendo transparente para el cliente la existencia de multicontrato.",
            "required": true,
            "type": "number",
            "format": "int"
          }
        ],
        "tags": [
          "DirectDebits"
        ],
        "responses": {
          "200": {
            "description": "Listado de recibos que tiene el usuario domiciliados por cada cuenta bancaria.",
            "schema": {
              "$ref": "#/definitions/directDebits"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-directdebits"
      }
    },
    "/directDebits/forms": {
      "get": {
        "summary": "Lista de los bancos soportados en el endpoint directDebits",
        "description": "Obt\u00e9n una lista completa de los bancos soportados, as\u00ed como los nombres de los campos necesarios para dibujar un formulario de login similar al original del banco.",
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). Por ejemplo ES para Espa\u00f1a. Si no se proporciona ning\u00fan c\u00f3digo, se devolver\u00e1 la lista completa.",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "DirectDebits"
        ],
        "responses": {
          "200": {
            "description": "Array con el listado de servicios soportados y la informaci\u00f3n necesaria para dibujar su formulario de login",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Forms"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "get-directdebits-forms"
      }
    }
  },
  "definitions": {
    "Forms": {
      "type": "object",
      "properties": {
        "country_code": {
          "type": "string",
          "description": "C\u00f3digo del pa\u00eds, formato ISO 3166-1 alpha-2 (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)."
        },
        "service": {
          "type": "string",
          "description": "Identificador \u00fanico del banco en la API."
        },
        "swift": {
          "type": "string",
          "description": "C\u00f3digo SWIFT, formato ISO 9362 (https://en.wikipedia.org/wiki/ISO_9362)."
        },
        "fullname": {
          "type": "string",
          "description": "Nombre completo del banco."
        },
        "business": {
          "type": "boolean",
          "description": "Valor booleano. Hay bancos que tienen accesos diferentes para particulares y para empresas. Si el valor es 1, indica que es acceso de empresas."
        },
        "documentType": {
          "type": "string",
          "description": "Lista de valores posibles para el campo de \"tipo de documento\", separado por el car\u00e1cter \"|\" (por ejemplo: NIF|Pasaporte|Tarjeta de residencia). En el caso de que el banco no requiera de esta informaci\u00f3n en su formulario de login, el valor es 0."
        },
        "user": {
          "type": "string",
          "description": "Texto que acompa\u00f1a al input box de usuario."
        },
        "pass": {
          "type": "string",
          "description": "Texto que acompa\u00f1a al input box de password."
        },
        "pass2": {
          "type": "string",
          "description": "Texto que acompa\u00f1a al input box del segundo password. En el caso de que el banco no requiera de esta informaci\u00f3n en su formulario de login, el valor es 0."
        },
        "userdesc": {
          "type": "string",
          "description": "Texto de ayuda para rellenar el input box de usuario, en caso de que el formulario original del banco tenga alg\u00fan texto de ayuda."
        },
        "passdesc": {
          "type": "string",
          "description": "Texto de ayuda para rellenar el input box de password, en caso de que el formulario original del banco tenga alg\u00fan texto de ayuda."
        },
        "pass2desc": {
          "type": "string",
          "description": "Texto de ayuda para rellenar el input box de segundo password, en caso de que el formulario original del banco tenga alg\u00fan texto de ayuda."
        },
        "usertype": {
          "type": "string",
          "description": "Texto que acompa\u00f1a al input box de usuario."
        },
        "passtype": {
          "type": "string",
          "description": "Texto que acompa\u00f1a al input box de password."
        },
        "pass2type": {
          "type": "string",
          "description": "Texto que acompa\u00f1a al input box del segundo password. En el caso de que el banco no requiera de esta informaci\u00f3n en su formulario de login, el valor es 0."
        },
        "image": {
          "type": "string",
          "description": "URL del icono del banco en formato PNG transparente y resoluci\u00f3n 128x128."
        },
        "imageSVG": {
          "type": "string",
          "description": "URL del icono del banco en formato SVG transparente y resoluci\u00f3n 128x128."
        },
        "color": {
          "type": "string",
          "description": "Color del banco en hexadecimal"
        },
        "file_type": {
          "type": "string",
          "description": "Tipo de fichero N43: onDemand, sftp o repository"
        }
      }
    },
    "Categories": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number",
          "format": "int",
          "description": "Identificador de la categoria."
        },
        "description": {
          "type": "string",
          "description": "Descripci\u00f3n de la categoria."
        },
        "color": {
          "type": "string",
          "description": "Color del categoria en hexadecimal."
        },
        "icon": {
          "type": "string",
          "description": "Icono de la categoria."
        }
      }
    },
    "V3": {
      "type": "object",
      "properties": {
        "product": {
          "type": "string",
          "description": "Identificador \u00fanico para un producto. Por ejemplo, n\u00famero de cuenta bancaria o numeraci\u00f3n de tarjeta de cr\u00e9dito. En el caso de los productos tipo checking no necesariamente coincidir\u00e1 con el iban (ver par\u00e1metro get_iban)."
        },
        "type": {
          "type": "string",
          "description": "Tipo de producto. Los valores m\u00e1s habituales son \"checking\" para cuenta corriente, \"card\" para tarjeta de cr\u00e9dito, \"debit\" para tarjeta de d\u00e9bito y \"loan\" para pr\u00e9stamos. Los valores posibles son: card, checking, confirming, creditfacility, debit, deposit, factoring, guarantee, insurance, investment, leasing, lineofcredit, loan, other, pensionplan, prepaid, portfolio, remittances, renting, risk, saving, securities, tpv, tranche, mortgage"
        },
        "balance": {
          "type": "number",
          "format": "float",
          "description": "Saldo disponible del producto. Siempre existir\u00e1 este saldo, el resto de valores balance podr\u00e1n existir o no."
        },
        "countable_balance": {
          "type": "number",
          "format": "float",
          "description": "Saldo contable."
        },
        "balance_value": {
          "type": "number",
          "format": "float",
          "description": "Saldo valor."
        },
        "arranged_balance": {
          "type": "number",
          "format": "float",
          "description": "Saldo dispuesto."
        },
        "balance_credit_granted": {
          "type": "number",
          "format": "float",
          "description": "Saldo concedido."
        },
        "available_balance": {
          "type": "number",
          "format": "float",
          "description": "Saldo disponible en productos lineofcredit."
        },
        "currency": {
          "type": "string",
          "description": "C\u00f3digo de la divisa en formato [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        },
        "account_id": {
          "type": "number",
          "format": "int",
          "description": "Identificador del contrato al que pertenece el producto."
        },
        "description": {
          "type": "string",
          "description": "Nombre del producto. En ocasiones es un alias que ha asignado el usuario, o puede coincidir con el valor de producto."
        },
        "transactions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date",
                "description": "Fecha del movimiento en formato dd-mm-yyyy."
              },
              "date2": {
                "type": "string",
                "format": "date",
                "description": "Fecha de valor en formato dd-mm-yyyy."
              },
              "amount": {
                "type": "number",
                "format": "float",
                "description": "Importe de la transacci\u00f3n."
              },
              "balance": {
                "type": "number",
                "format": "float",
                "description": "Saldo del producto en el instante posterior a la transacci\u00f3n."
              },
              "description": {
                "type": "string",
                "description": "Descripci\u00f3n de la transacci\u00f3n."
              },
              "categoryId": {
                "type": "number",
                "format": "int",
                "description": "Id de categor\u00eda. Solo para las servicekeys con la opci\u00f3n contratada. Listado de categor\u00edas: https://api.afterbanks.com/V3/categories/?country_code=ES."
              },
              "transactionId": {
                "type": "string",
                "description": "Identificador \u00fanico para ese producto de la transacci\u00f3n de 32 caracteres. MUY IMPORTANTE: No utilizar este valor como \u00edndice \u00fanico en una tabla de transacciones de todos los clientes, podr\u00edan existir colisiones, ya que solamente se garantiza que es un valor \u00fanico por transacci\u00f3n y producto. S\u00ed ser\u00eda v\u00e1lido utilizar como \u00edndice \u00fanico en una tabla de transacciones dos columnas, que incluyeran un id de producto y este transactionId."
              },
              "hasDoc": {
                "type": "boolean",
                "description": "Campo que indica si el movimiento tiene disponible la descarga de un PDF asociado a dicho movimiento, para un producto checking o lineofcredit. Este campo estar\u00e1 informado en aquellos bancos que soporten la descarga de PDFs. Posibles valores true o false."
              }
            }
          }
        },
        "iban": {
          "type": "string",
          "description": "Atributo disponible para los productos checking o lineofcredit y se haya especificado get_iban=1."
        },
        "is_owner": {
          "type": "number",
          "format": "int",
          "description": "Atributo disponible cuando el producto sea checking o lineofcredit y se haya especificado get_iban=1. Valores posibles: 0 -> No es titular. 1-> Es titular de la cuenta."
        },
        "holders": {
          "type": "array",
          "description": "Atributo disponible cuando el producto sea checking y se ha especificado get_iban=1.",
          "items": {
            "type": "object",
            "description": "Array de titulares y autorizados del producto.",
            "properties": {
              "role": {
                "type": "string",
                "description": "Rol de la persona. Valores posibles: Owner|Authorized."
              },
              "name": {
                "type": "string",
                "description": "Nombre de la persona."
              },
              "id": {
                "type": "string",
                "description": "Id de la persona. DNI|NIF|CIF"
              }
            }
          }
        },
        "transactions43": {
          "type": "string",
          "description": "Atributo disponible cuando el producto sea checking o lineofcredit, y se ha especificado format=43."
        },
        "additional_info": {
          "type": "object",
          "description": "Este objeto estar\u00e1 informado cuando hayan campos con informaci\u00f3n adicional sobre un producto. Su valor ser\u00e1 nulo, en caso de que no haya ning\u00fan dato disponible. Disponible para productos de tipo loan, mortgage, insurance, pensionplan y confirming.",
          "properties": {
            "borrowers": {
              "type": "array",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Array de titulares y autorizados del producto.",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Id de la persona. DNI|NIF|CIF.  Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
                  },
                  "name": {
                    "type": "string",
                    "description": "Nombre de la persona. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
                  }
                }
              }
            },
            "linked_account": {
              "type": "string",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica la cuenta a la que est\u00e1 asociado el pr\u00e9stamo. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "periodicity_of_interest_rate_adjustment": {
              "type": "number",
              "format": "int",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica la frecuencia con la que se revisa y ajusta la tasa de inter\u00e9s del pr\u00e9stamo. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "reference_index": {
              "type": "string",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica el \u00edndice de referencia que se utiliza para calcular la tasa de inter\u00e9s variable. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "differential": {
              "type": "number",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Dato que hace referencia al margen adicional que se suma al \u00edndice de referencia para calcular la tasa de inter\u00e9s final del pr\u00e9stamo. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "early_amortization_fee": {
              "type": "number",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica la comisi\u00f3n por amortizaci\u00f3n anticipada. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "early_cancellation_fee": {
              "type": "number",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica la comisi\u00f3n por cancelaci\u00f3n anticipada. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "interest_on_arrears": {
              "type": "number",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica los intereses que se aplican a los pagos atrasados o no realizados. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "date_of_concession": {
              "type": "string",
              "format": "date",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\", \"mortgage\" y \"confirming\". Indica la fecha en la que se concedi\u00f3 el pr\u00e9stamo en formato dd-mm-yyyy. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "date_of_cancellation": {
              "type": "string",
              "format": "date",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica la fecha en la que finaliza el pr\u00e9stamo en formato dd-mm-yyyy. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "date_next_fee": {
              "type": "string",
              "format": "date",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica la fecha de pr\u00f3ximo pago de la cuota en formato dd-mm-yyyy. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "amount_next_fee": {
              "type": "number",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica el importe del pago de la pr\u00f3xima cuota. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "current_interest_rate": {
              "type": "number",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica la tasa del interes actual. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "interest_fixed_or_variable": {
              "type": "string",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica el tipo de inter\u00e9s, fijo o variable. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "periodicity_of_payment_of_interest": {
              "type": "number",
              "format": "int",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica la periocidad en la que se hace el pago del pr\u00e9stamo. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "periodicity_of_payment_of_amortization": {
              "type": "number",
              "format": "int",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica la periocidad en la que se hace el pago de la amortizaci\u00f3n del pr\u00e9stamos. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "insurance_sub_type": {
              "type": "string",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"insurance\". Indica el subtipo del seguro. Posibles valores: \n* vehicle (para seguros de cualquier tipo de veh\u00edculo)\n* life (seguro de vida)\n* health (seguro de salud o enfermedad)\n* funeral (seguro de decesos)\n* civil_liability (seguro de responsabilidad civil)\n* accident (seguro de accidente)\n* property (seguro de hogar o propiedad)\n* default (seguros que no hayan podido ser clasficados bajo ning\u00fan otro subtipo)\n"
            },
            "loan_sub_type": {
              "type": "string",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"loan\" y \"mortgage\". Indica el subtipo del pr\u00e9stamo o hipoteca. Posibles valores: \n* business (pr\u00e9stamos de empresa)\n* mortgage (hipotecas)\n* personal (pr\u00e9stamo personal)\n* default (pr\u00e9stamos que no hayan podido ser clasficados bajo ning\u00fan otro subtipo)\n"
            },
            "dgs": {
              "type": "string",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"pensionplan\". Indica el valor DGS del plan de pensiones. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "manager_code": {
              "type": "string",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"pensionplan\". Indica el c\u00f3digo de la gestora. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            },
            "manager_name": {
              "type": "string",
              "description": "Este par\u00e1metro solamente estar\u00e1 informado en los productos de tipo \"pensionplan\". Indica la denominaci\u00f3n de la gestora del plan de pensiones. Estar\u00e1 a nulo si el dato no est\u00e1 disponible en el banco."
            }
          }
        },
        "linkedProducts": {
          "type": "array",
[...]
