{
  "openapi": "3.0.3",
  "info": {
    "title": "Fidelo School API",
    "version": "1.2.0",
    "description": "Create and update enquiries and bookings within Fidelo School. Manage students, courses, accommodations, transfers, and documents for language schools.",
    "x-jentic-source-url": "https://fideloschool.docs.apiary.io/#introduction/version"
  },
  "servers": [
    {
      "url": "https://fideloschool.com/api/1.2/ts"
    }
  ],
  "paths": {
    "/enquiries": {
      "post": {
        "tags": [
          "Enquiries"
        ],
        "summary": "Create a new enquiry",
        "operationId": "createEnquiry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnquiryInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enquiry created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid token or IP not whitelisted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/enquiries/{enquiry_id}": {
      "get": {
        "tags": [
          "Enquiries"
        ],
        "summary": "Get an enquiry by ID",
        "operationId": "getEnquiry",
        "parameters": [
          {
            "name": "enquiry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal Enquiry ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Enquiry details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnquiryDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Enquiries"
        ],
        "summary": "Update an existing enquiry",
        "operationId": "updateEnquiry",
        "parameters": [
          {
            "name": "enquiry_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal Enquiry ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnquiryUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enquiry updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/enquiries/search": {
      "get": {
        "tags": [
          "Enquiries"
        ],
        "summary": "Search for enquiries",
        "operationId": "searchEnquiries",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnquirySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bookings": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "List bookings with optional filters",
        "operationId": "listBookings",
        "parameters": [
          {
            "name": "filter[contact_id]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by contact ID"
          },
          {
            "name": "profile_pictures",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Include profile pictures (1=yes)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of bookings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Create a new booking",
        "operationId": "createBooking",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookingInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bookings/{booking_id}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Get a booking by ID",
        "operationId": "getBooking",
        "parameters": [
          {
            "name": "booking_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal Booking ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Booking details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnquiryDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid entry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Bookings"
        ],
        "summary": "Update an existing booking",
        "operationId": "updateBooking",
        "parameters": [
          {
            "name": "booking_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Internal Booking ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnquiryUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bookings/search": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Search for bookings",
        "operationId": "searchBookings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnquirySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/booking/{bookingId}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Get booking details including courses, accommodations, transfers, and invoices",
        "operationId": "getBookingDetails",
        "parameters": [
          {
            "name": "bookingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Numeric ID of the booking"
          },
          {
            "name": "include_inactive_services",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            },
            "description": "Include inactive services (1=yes)"
          },
          {
            "name": "include_credit_notes",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 0
            },
            "description": "Include credit notes (1=yes)"
          },
          {
            "name": "include_invoice_base64",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "Include invoice PDF as BASE64 (1=yes)"
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed booking data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Booking not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{documentId}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get document details including invoice items and PDF",
        "operationId": "getDocumentDetails",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Numeric ID of the document"
          }
        ],
        "responses": {
          "200": {
            "description": "Document details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Document not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token found at Administration > Frontend > API Token. Ensure request IP is whitelisted."
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID of created/updated entity"
          },
          "status": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "Entry successfully created"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldError"
            }
          },
          "status": {
            "type": "integer",
            "example": 400
          },
          "message": {
            "type": "string",
            "example": "Validation Error"
          }
        }
      },
      "FieldError": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "REQUIRED_FIELD_MISSING",
              "INVALID_FIELD",
              "INVALID_VALUE",
              "INVALID_DATE",
              "INVALID_EMAIL",
              "INVALID_PHONE"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      },
      "EnquiryInput": {
        "type": "object",
        "required": [
          "school_id",
          "firstname",
          "lastname",
          "emails",
          "corresponding_language"
        ],
        "properties": {
          "school_id": {
            "type": "integer",
            "description": "School ID (required for creating)"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "corresponding_language": {
            "type": "string",
            "description": "ISO 15897 IETF Language Tag with underscore"
          },
          "nationality": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 uppercase"
          },
          "language": {
            "type": "string",
            "description": "ISO 639-1 lowercase"
          },
          "birthday": {
            "type": "string",
            "format": "date",
            "description": "Format: YYYY-MM-DD"
          },
          "gender": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "1=male, 2=female, 3=non-binary"
          },
          "phone_private": {
            "type": "string",
            "description": "ITU telephone number"
          },
          "detail_phone_mobile": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "comment_course_category": {
            "type": "string"
          },
          "referrer_id": {
            "type": "integer"
          },
          "student_status_id": {
            "type": "integer"
          },
          "agency_id": {
            "type": "integer"
          },
          "inbox": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country_iso": {
            "type": "string",
            "description": "ISO 3166.2"
          },
          "state": {
            "type": "string"
          },
          "confirmed": {
            "type": "string",
            "description": "Unix timestamp"
          },
          "billing_firstname": {
            "type": "string"
          },
          "billing_lastname": {
            "type": "string"
          },
          "billing_email": {
            "type": "string",
            "format": "email"
          },
          "billing_phone": {
            "type": "string"
          },
          "billing_address": {
            "type": "string"
          },
          "billing_city": {
            "type": "string"
          },
          "billing_zip": {
            "type": "string"
          },
          "billing_country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2"
          },
          "matching_allergies": {
            "type": "string"
          },
          "passport_number": {
            "type": "string"
          },
          "visa_status": {
            "type": "integer"
          },
          "visa_required": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "visa_id": {
            "type": "string"
          },
          "visa_tracking_number": {
            "type": "string"
          },
          "visa_valid_from": {
            "type": "string",
            "format": "date"
          },
          "visa_valid_until": {
            "type": "string",
            "format": "date"
          },
          "passport_valid_from": {
            "type": "string",
            "format": "date"
          },
          "passport_valid_until": {
            "type": "string",
            "format": "date"
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "EnquiryUpdate": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "EnquiryDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "referrer_id": {
            "type": "string"
          },
          "student_status_id": {
            "type": "string"
          },
          "agency_id": {
            "type": "string"
          },
          "inbox": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "comment_course_category": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "birthday": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "corresponding_language": {
            "type": "string"
          },
          "phone_private": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country_iso": {
            "type": "string"
          },
          "contact_number": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "mothertongue": {
            "type": "string"
          },
          "detail_phone_mobile": {
            "type": "string"
          },
          "confirmed": {
            "type": "string"
          }
        }
      },
      "SearchInput": {
        "type": "object",
        "properties": {
          "school_id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "EnquirySearchResponse": {
        "type": "object",
        "properties": {
          "enquiries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnquiryDetail"
            }
          }
        }
      },
      "BookingInput": {
        "type": "object",
        "required": [
          "school_id",
          "firstname",
          "lastname",
          "emails",
          "corresponding_language"
        ],
        "properties": {
          "school_id": {
            "type": "integer"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          },
          "corresponding_language": {
            "type": "string"
          },
          "inbox": {
            "type": "string"
          },
          "birthday": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "integer"
          },
          "phone_private": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "comment_course_category": {
            "type": "string"
          },
          "referrer_id": {
            "type": "integer"
          },
          "student_status_id": {
            "type": "integer"
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactInput"
            }
          },
          "courses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CourseInput"
            }
          },
          "accommodations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccommodationInput"
            }
          },
          "activities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityInput"
            }
          },
          "insurances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InsuranceInput"
            }
          },
          "transfers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransferInput"
            }
          },
          "custom_fields": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ContactInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "emergency",
              "parent",
              "other"
            ]
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "CourseInput": {
        "type": "object",
        "required": [
          "course_id",
          "language_id",
          "level_id",
          "weeks",
          "from",
          "until"
        ],
        "properties": {
          "course_id": {
            "type": "integer"
          },
          "language_id": {
            "type": "integer"
          },
          "level_id": {
            "type": "integer"
          },
          "weeks": {
            "type": "integer"
          },
          "from": {
            "type": "string",
            "format": "date"
          },
          "until": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "AccommodationInput": {
        "type": "object",
        "required": [
          "accommodation_id",
          "weeks",
          "from",
          "until"
        ],
        "properties": {
          "accommodation_id": {
            "type": "integer"
          },
          "weeks": {
            "type": "integer"
          },
          "from": {
            "type": "string",
            "format": "date"
          },
          "until": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "ActivityInput": {
        "type": "object",
        "required": [
          "activity_id",
          "weeks",
          "from",
          "until"
        ],
        "properties": {
          "activity_id": {
            "type": "integer"
          },
          "weeks": {
            "type": "integer"
          },
          "from": {
            "type": "string",
            "format": "date"
          },
          "until": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "InsuranceInput": {
        "type": "object",
        "required": [
          "insurance_id",
          "weeks",
          "from",
          "until"
        ],
        "properties": {
          "insurance_id": {
            "type": "integer"
          },
          "weeks": {
            "type": "integer"
          },
          "from": {
            "type": "string",
            "format": "date"
          },
          "until": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "TransferInput": {
        "type": "object",
        "required": [
          "type",
          "pickup_type",
          "pickup_location",
          "date",
          "time",
          "dropoff_type",
          "dropoff_location"
        ],
        "properties": {
          "type": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "0=additional, 1=arrival, 2=departure"
          },
          "pickup_type": {
            "type": "string",
            "enum": [
              "location",
              "school",
              "accommodation"
            ]
          },
          "pickup_location": {
            "type": "integer"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "time": {
            "type": "string",
            "description": "Format: HH:MM:SS"
          },
          "dropoff_type": {
            "type": "string",
            "enum": [
              "location",
              "school",
              "accommodation"
            ]
          },
          "dropoff_location": {
            "type": "integer"
          }
        }
      },
      "BookingListResponse": {
        "type": "object",
        "properties": {
          "hits": {
            "type": "integer"
          },
          "entries": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/BookingListEntry"
            }
          }
        }
      },
      "BookingListEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "all_start": {
            "type": "string",
            "format": "date-time"
          },
          "all_end": {
            "type": "string",
            "format": "date-time"
          },
          "booking_number": {
            "type": "string"
          },
          "customer_name": {
            "type": "string"
          },
          "customer_lastname": {
            "type": "string"
          },
          "customer_firstname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "confirmed": {
            "type": "boolean"
          }
        }
      },
      "BookingDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "student": {
                "$ref": "#/components/schemas/StudentDetail"
              },
              "booking": {
                "$ref": "#/components/schemas/BookingDetail"
              },
              "invoices": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/InvoiceDetail"
                }
              },
              "school": {
                "$ref": "#/components/schemas/SchoolDetail"
              },
              "agency": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              },
              "group": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "StudentDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "firstname": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "custom_fields": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "BookingDetail": {
        "type": "object",
        "properties": {
          "courses": {
            "type": "object"
          },
          "accommodations": {
            "type": "object"
          },
          "transfers": {
            "type": "object"
          },
          "holidays": {
            "type": "object"
          },
          "visa": {
            "type": "object",
            "properties": {
              "required": {
                "type": "integer"
              },
              "id": {
                "type": "string"
              },
              "tracking_number": {
                "type": "string"
              },
              "passport_number": {
                "type": "string"
              },
              "valid_from": {
                "type": "string"
              },
              "valid_until": {
                "type": "string"
              }
            }
          },
          "insurances": {
            "type": "object"
          }
        }
      },
      "InvoiceDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "filename": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "released_for_student": {
            "type": "boolean"
          },
          "base64": {
            "type": "string"
          },
          "credit_note_number": {
            "type": "string"
          },
          "created": {
            "type": "string"
          },
          "updated": {
            "type": "string"
          },
          "is_last_document": {
            "type": "boolean"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceItem"
            }
          }
        }
      },
      "InvoiceItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "service_from": {
            "type": "string",
            "format": "date"
          },
          "service_until": {
            "type": "string",
            "format": "date"
          },
          "amount": {
            "type": "number"
          },
          "amount_discount": {
            "type": "number"
          },
          "amount_commission": {
            "type": "number"
          },
          "amount_net": {
            "type": "number"
          },
          "tax": {
            "type": "number"
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "SchoolDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country_id": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "DocumentDetailResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "filename": {
                "type": "string"
              },
              "number": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "released_for_student": {
                "type": "boolean"
              },
              "addressee": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "object_name": {
                    "type": "string"
                  },
                  "firstname": {
                    "type": "string"
                  },
                  "lastname": {
                    "type": "string"
                  }
                }
              },
              "credit_note_number": {
                "type": "string"
              },
              "created": {
                "type": "string"
              },
              "updated": {
                "type": "string"
              },
              "is_last_document": {
                "type": "boolean"
              },
              "date": {
                "type": "string",
                "format": "date"
              },
              "updated_by": {
                "type": "string"
              },
              "created_by": {
                "type": "string"
              },
              "parent_document_number": {
                "type": "string"
              },
              "base64": {
                "type": "string"
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InvoiceItem"
                }
              },
              "booking_id": {
                "type": "integer"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Enquiries",
      "description": "Enquiry management"
    },
    {
      "name": "Bookings",
      "description": "Booking management"
    },
    {
      "name": "Documents",
      "description": "Document and invoice management"
    }
  ]
}