{
  "openapi": "3.0.1",
  "info": {
    "title": "\u91ab\u85e5\u901a 2.0 API Documentation",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/johnnywork/bot_pass_v2/1.0/swagger.json",
    "contact": {},
    "description": "\u91ab\u85e5\u901a 2.0 API Documentation"
  },
  "servers": [
    {
      "url": "https://medipass2.m2sandbox.medicloud.com.tw/apii/frontend",
      "description": "\u6e2c\u8a66\u5340"
    }
  ],
  "components": {
    "schemas": {
      "FieldSetting": {
        "type": "object",
        "properties": {
          "visible": {
            "type": "boolean"
          },
          "required": {
            "type": "boolean"
          },
          "columnName": {
            "type": "string"
          },
          "placeholder": {
            "type": "string"
          }
        },
        "required": [
          "visible",
          "required",
          "columnName",
          "placeholder"
        ]
      },
      "RegisterFormFieldConfigs": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/components/schemas/FieldSetting"
          }
        }
      },
      "ConsentFormFieldConfigs": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/components/schemas/FieldSetting"
          }
        }
      },
      "FormConfigsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "registerFormFieldConfigs": {
                "$ref": "#/components/schemas/RegisterFormFieldConfigs"
              },
              "consentFormFieldConfigs": {
                "$ref": "#/components/schemas/ConsentFormFieldConfigs"
              }
            }
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "ColumnDefinition": {
        "type": "object",
        "properties": {
          "fieldName": {
            "type": "string"
          },
          "headerName": {
            "type": "string"
          }
        },
        "required": [
          "fieldName",
          "headerName"
        ]
      },
      "ProjectConfigData": {
        "type": "object",
        "properties": {
          "hash_id": {
            "type": "string"
          },
          "project_name": {
            "type": "string"
          },
          "channel_name": {
            "type": "string"
          },
          "line_login_channel_id": {
            "type": "string"
          },
          "line_login_channel_redirect_url": {
            "type": "string"
          },
          "liff_id": {
            "type": "string"
          },
          "endpoint_url": {
            "type": "string"
          },
          "basic_id": {
            "type": "string"
          },
          "project_qrcode_status": {
            "type": "string",
            "nullable": true
          },
          "project_switch_status": {
            "type": "boolean"
          },
          "project_register_esign_status": {
            "type": "boolean"
          },
          "project_version": {
            "type": "string"
          },
          "project_phone": {
            "type": "string"
          },
          "introduction": {
            "type": "string"
          },
          "project_phone_url": {
            "type": "string"
          },
          "is_multiple_schemes": {
            "type": "boolean"
          },
          "project_service_hours": {
            "type": "string"
          },
          "drug_unit": {
            "type": "string"
          },
          "application_record_page_type": {
            "type": "string"
          },
          "esign_application_url": {
            "type": "string"
          },
          "reveal_precautions": {
            "type": "boolean"
          },
          "receipt_liff_url": {
            "type": "string"
          },
          "two_stage_esign": {
            "type": "boolean"
          },
          "preset_parameters": {
            "type": "boolean"
          },
          "require_upload_document": {
            "type": "boolean"
          },
          "expired_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "show_form_confirmation_page": {
            "type": "boolean",
            "nullable": true
          },
          "go_to_upload_record_page": {
            "type": "boolean",
            "nullable": true
          },
          "go_to_flow_instruction_page": {
            "type": "boolean",
            "nullable": true
          },
          "go_to_medication_reminder_list_page": {
            "type": "boolean",
            "nullable": true
          },
          "go_to_medication_cycle_setting_page": {
            "type": "boolean",
            "nullable": true
          },
          "application_record_logo": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "hash_id",
          "project_name",
          "channel_name",
          "line_login_channel_id",
          "line_login_channel_redirect_url",
          "liff_id",
          "endpoint_url",
          "basic_id",
          "project_switch_status",
          "project_register_esign_status",
          "project_version",
          "project_phone",
          "project_phone_url",
          "is_multiple_schemes",
          "project_service_hours",
          "drug_unit",
          "application_record_page_type",
          "esign_application_url",
          "reveal_precautions",
          "receipt_liff_url",
          "two_stage_esign",
          "preset_parameters",
          "require_upload_document"
        ]
      },
      "ProjectFieldConfigs": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "ProjectInfoResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProjectConfigData"
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "RecordConfigSection": {
        "type": "object",
        "properties": {
          "columnDefinitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ColumnDefinition"
            }
          },
          "projectFieldConfigs": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ProjectFieldConfigs"
              },
              {
                "type": "array",
                "items": {}
              }
            ]
          }
        },
        "required": [
          "columnDefinitions",
          "projectFieldConfigs"
        ]
      },
      "RecordConfigsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "ptApplicationRecords": {
                "$ref": "#/components/schemas/RecordConfigSection"
              },
              "ptSelfPaidRecords": {
                "$ref": "#/components/schemas/RecordConfigSection"
              },
              "hcpApplicationRecords": {
                "$ref": "#/components/schemas/RecordConfigSection"
              },
              "hcpPatientList": {
                "$ref": "#/components/schemas/RecordConfigSection"
              },
              "hcpToBeSigned": {
                "$ref": "#/components/schemas/RecordConfigSection"
              },
              "brApplicationRecords": {
                "$ref": "#/components/schemas/RecordConfigSection"
              },
              "applicationForm4Medications": {
                "$ref": "#/components/schemas/RecordConfigSection"
              }
            }
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "ConsentFileItem": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string",
            "description": "\u6a94\u6848 hash ID\uff08\u7d19\u672c\u5fc5\u586b\uff09"
          },
          "birth_ROC_y": {
            "type": "string",
            "description": "\u6c11\u570b\u5e74"
          },
          "birth_ROC_m": {
            "type": "string",
            "description": "\u6708"
          },
          "birth_ROC_d": {
            "type": "string",
            "description": "\u65e5"
          }
        },
        "required": [
          "file_id"
        ]
      },
      "DocumentFileItem": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string",
            "description": "\u6a94\u6848 hash ID"
          }
        },
        "required": [
          "file_id"
        ]
      },
      "SentConsentFormRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "description": "create \u6216 update",
            "enum": [
              "create",
              "update"
            ]
          },
          "type": {
            "type": "string",
            "description": "\u540c\u610f\u66f8\u985e\u578b",
            "enum": [
              "esign",
              "paper"
            ]
          },
          "consent": {
            "type": "array",
            "description": "\u540c\u610f\u66f8\u6a94\u6848\u8cc7\u8a0a",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ConsentFileItem"
            }
          },
          "identity_document": {
            "type": "array",
            "description": "\u8eab\u5206\u8b49\u660e\u6587\u4ef6",
            "items": {
              "$ref": "#/components/schemas/DocumentFileItem"
            }
          },
          "economic_review_document": {
            "type": "array",
            "description": "\u7d93\u6fdf\u5be9\u67e5\u6587\u4ef6",
            "items": {
              "$ref": "#/components/schemas/DocumentFileItem"
            }
          },
          "deposit_book": {
            "type": "array",
            "description": "\u5b58\u647a\u5f71\u672c",
            "items": {
              "$ref": "#/components/schemas/DocumentFileItem"
            }
          },
          "receipt_consent": {
            "type": "array",
            "description": "\u6536\u64da",
            "items": {
              "$ref": "#/components/schemas/DocumentFileItem"
            }
          }
        },
        "required": [
          "action",
          "type",
          "consent"
        ]
      },
      "ConsentResponseData": {
        "type": "object",
        "properties": {
          "esign_link": {
            "type": "string",
            "nullable": true,
            "description": "\u82e5\u70ba\u96fb\u5b50\u7c3d\u7ae0\uff0c\u8fd4\u56de\u7c3d\u7f72\u9023\u7d50"
          }
        }
      },
      "ConsentResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ConsentResponseData"
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          },
          "redirect": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "\u627e\u4e0d\u5230\u5c08\u6848."
          },
          "code": {
            "type": "integer",
            "example": 100201
          }
        }
      },
      "MedicationRecordResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "properties": {
                  "hospital": {
                    "type": "string"
                  },
                  "doctorName": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "projectUserNumber": {
                    "type": "string"
                  },
                  "applyTimes": {
                    "type": "string"
                  },
                  "unApplyFreeAmount": {
                    "type": "string"
                  },
                  "totalPaidQuantity": {
                    "type": "string"
                  },
                  "unApplyPaidAmount": {
                    "type": "string"
                  }
                }
              },
              "gratis_application_type": {
                "type": "string"
              },
              "application_record_page_type": {
                "type": "string"
              },
              "reveal_precautions": {
                "type": "boolean"
              },
              "applicationForm4Medications": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "agreementFormNum": {
                      "type": "string"
                    },
                    "remainingAmount": {
                      "type": "string"
                    },
                    "remainingDay": {
                      "type": "string"
                    },
                    "signDoc": {
                      "type": "string"
                    }
                  }
                }
              },
              "applicationRecords": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "applySfCaseUid": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "shippingPharmacy": {
                      "type": "string"
                    },
                    "drugCount": {
                      "type": "string"
                    },
                    "gratis_application": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            ""
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "urlType": {
                              "type": "string"
                            },
                            "urlState": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "application": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            ""
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "urlType": {
                              "type": "string"
                            },
                            "urlState": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "applyDose": {
                      "type": "string"
                    },
                    "docData": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            ""
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "urlType": {
                              "type": "string"
                            },
                            "urlState": {
                              "type": "boolean"
                            },
                            "url": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "drug_dev_code": {
                      "type": "string",
                      "nullable": true
                    },
                    "applySerialNumber": {
                      "type": "string"
                    },
                    "phaseName": {
                      "type": "string"
                    },
                    "deliverTime": {
                      "type": "string"
                    }
                  }
                }
              },
              "selfPaidRecords": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "receiptDate": {
                      "type": "string"
                    },
                    "paidQuantity": {
                      "type": "string"
                    },
                    "drugName": {
                      "type": "string"
                    },
                    "dose": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "receipt": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "urlType": {
                          "type": "string"
                        },
                        "urlState": {
                          "type": "boolean"
                        },
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "drug_dev_code": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              },
              "phaseInfo": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "projectScheme": {
                    "type": "string"
                  },
                  "projectSchemeName": {
                    "type": "string"
                  },
                  "firstReceiptDate": {
                    "type": "string"
                  },
                  "totalPhase1": {
                    "type": "integer",
                    "nullable": true
                  },
                  "totalPhase2": {
                    "type": "integer",
                    "nullable": true
                  },
                  "totalPhase3": {
                    "type": "integer",
                    "nullable": true
                  },
                  "phase1RemainingCount": {
                    "type": "integer",
                    "nullable": true
                  },
                  "phase2RemainingCount": {
                    "type": "integer",
                    "nullable": true
                  }
                }
              }
            }
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "HCPPatientListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "hospital": {
                  "type": "string"
                },
                "doctor": {
                  "type": "string"
                },
                "patient": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    },
                    "urlType": {
                      "type": "string"
                    },
                    "urlState": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                },
                "project_user_sf_case_uid": {
                  "type": "string"
                },
                "applyTimes": {
                  "type": "string"
                },
                "applyDose": {
                  "type": "string"
                },
                "amount": {
                  "type": "string"
                },
                "deliverTime": {
                  "type": "string"
                },
                "scheme": {
                  "type": "string"
                },
                "unApplyPaidAmount": {
                  "type": "string"
                },
                "remainingCount": {
                  "type": "string"
                }
              }
            }
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "HCPPTMedicationRecordResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "properties": {
                  "hospital": {
                    "type": "string"
                  },
                  "doctorName": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "projectUserNumber": {
                    "type": "string"
                  },
                  "applyTimes": {
                    "type": "string"
                  },
                  "unApplyFreeAmount": {
                    "type": "string"
                  },
                  "totalPaidQuantity": {
                    "type": "string"
                  },
                  "unApplyPaidAmount": {
                    "type": "string"
                  }
                }
              },
              "gratis_application_type": {
                "type": "string"
              },
              "application_record_page_type": {
                "type": "string"
              },
              "reveal_precautions": {
                "type": "boolean"
              },
              "applicationForm4Medications": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "agreementFormNum": {
                      "type": "string"
                    },
                    "remainingAmount": {
                      "type": "string"
                    },
                    "remainingDay": {
                      "type": "string"
                    },
                    "signDoc": {
                      "type": "string"
                    }
                  }
                }
              },
              "applicationRecords": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "applySfCaseUid": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "shippingPharmacy": {
                      "type": "string"
                    },
                    "drugCount": {
                      "type": "string"
                    },
                    "gratis_application": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            ""
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "urlType": {
                              "type": "string"
                            },
                            "urlState": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "application": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            ""
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "urlType": {
                              "type": "string"
                            },
                            "urlState": {
                              "type": "boolean"
                            },
                            "id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "applyDose": {
                      "type": "string"
                    },
                    "docData": {
                      "oneOf": [
                        {
                          "type": "string",
                          "enum": [
                            ""
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "urlType": {
                              "type": "string"
                            },
                            "urlState": {
                              "type": "boolean"
                            },
                            "url": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    },
                    "drug_dev_code": {
                      "type": "string",
                      "nullable": true
                    },
                    "applySerialNumber": {
                      "type": "string"
                    },
                    "phaseName": {
                      "type": "string"
                    },
                    "deliverTime": {
                      "type": "string"
                    }
                  }
                }
              },
              "selfPaidRecords": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "receiptDate": {
                      "type": "string"
                    },
                    "paidQuantity": {
                      "type": "string"
                    },
                    "drugName": {
                      "type": "string"
                    },
                    "dose": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "receipt": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "urlType": {
                          "type": "string"
                        },
                        "urlState": {
                          "type": "boolean"
                        },
                        "id": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    },
                    "drug_dev_code": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              },
              "phaseInfo": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "projectScheme": {
                    "type": "string"
                  },
                  "projectSchemeName": {
                    "type": "string"
                  },
                  "firstReceiptDate": {
                    "type": "string"
                  },
                  "totalPhase1": {
                    "type": "integer",
                    "nullable": true
                  },
                  "totalPhase2": {
                    "type": "integer",
                    "nullable": true
                  },
                  "totalPhase3": {
                    "type": "integer",
                    "nullable": true
                  },
                  "phase1RemainingCount": {
                    "type": "integer",
                    "nullable": true
                  },
                  "phase2RemainingCount": {
                    "type": "integer",
                    "nullable": true
                  }
                }
              }
            }
          },
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "SalesforceUploadRecordResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "success"
          },
          "data": {
            "type": "object",
            "properties": {
              "project_user_sf_case_uid": {
                "type": "string"
              },
              "response": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "upload_time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "upload_file_type_count": {
                            "type": "string"
                          },
                          "patient_name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "code": {
                      "type": "integer"
                    },
                    "apiStatus": {
                      "type": "string"
                    },
                    "apiId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/medication-consent/sentConsentForm": {
      "post": {
        "summary": "\u9001\u51fa\u540c\u610f\u66f8\u8868\u55ae [6-3]",
        "tags": [
          "PAP \u6a19\u6e96"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-project-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "\u5c08\u6848 Hash ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SentConsentFormRequest"
              },
              "examples": {
                "sendConsent": {
                  "summary": "\u9001\u51fa\u96fb\u5b50\u7c3d\u7ae0\u540c\u610f\u66f8",
                  "value": {
                    "action": "update",
                    "type": "esign",
                    "consent": [
                      {
                        "file_id": "example_file_id",
                        "birth_ROC_y": "100",
                        "birth_ROC_m": "01",
                        "birth_ROC_d": "01"
                      }
                    ],
                    "identity_document": [
                      {
                        "file_id": "identity_file_id"
                      }
                    ],
                    "economic_review_document": [
                      {
                        "file_id": "economic_file_id"
                      }
                    ],
                    "deposit_book": [
                      {
                        "file_id": "deposit_file_id"
                      }
                    ],
                    "receipt_consent": [
                      {
                        "file_id": "receipt_file_id"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "\u6210\u529f\u9001\u51fa\u540c\u610f\u66f8",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentResponse"
                },
                "examples": {
                  "success": {
                    "summary": "\u5efa\u7acb\u7c3d\u7ae0\u9023\u7d50",
                    "value": {
                      "data": {
                        "esign_link": "https://example.com/esign-link"
                      },
                      "code": 200,
                      "message": "success",
                      "redirect": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u53c3\u6578\u6216\u5c08\u6848\u932f\u8aa4",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missingProject": {
                    "value": {
                      "message": "project_hashid no data",
                      "code": 1000
                    }
                  },
                  "invalidProject": {
                    "value": {
                      "message": "project_id keyFromHashId error",
                      "code": 1001
                    }
                  },
                  "projectUserMissing": {
                    "value": {
                      "message": "project_user no data",
                      "code": 1003
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u9001\u51fa\u540c\u610f\u66f8\u8868\u55ae [6-3]",
        "operationId": "post-medication-consent-sentconsentform"
      }
    },
    "/config/project/{hash_id}": {
      "get": {
        "summary": "\u53d6\u5f97\u6307\u5b9a\u5c08\u6848\u7684\u57fa\u672c\u8a2d\u5b9a [1-1]",
        "tags": [
          "PAP \u6a19\u6e96"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "hash_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "\u5c08\u6848 Hash ID"
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u53d6\u5f97\u5c08\u6848\u8a2d\u5b9a",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectInfoResponse"
                },
                "examples": {
                  "success": {
                    "summary": "\u5c08\u6848\u8a2d\u5b9a",
                    "value": {
                      "data": {
                        "hash_id": "V9WaJo73o7BlEmY",
                        "project_name": "Tagrisso - Dev",
                        "channel_name": "\u91ab\u85e5\u901a",
                        "line_login_channel_id": "1653996312",
                        "line_login_channel_redirect_url": "https://medipass2.m2sandbox.medicloud.com.tw/line-login",
                        "liff_id": "1653996312-5jZk8XR8",
                        "endpoint_url": "https://medipass2.m2sandbox.medicloud.com.tw/line-login",
                        "basic_id": "@362uyyeb",
                        "project_qrcode_status": null,
                        "project_switch_status": true,
                        "project_register_esign_status": false,
                        "project_version": "1",
                        "project_phone": "0800-085-580",
                        "introduction": "",
                        "project_phone_url": "0800085580",
                        "is_multiple_schemes": false,
                        "project_service_hours": "9:30-12:00 & 13:30-18:00",
                        "drug_unit": "applyDose",
                        "application_record_page_type": "noneLogoLayout",
                        "esign_application_url": "3",
                        "reveal_precautions": true,
                        "receipt_liff_url": "https://liff.line.me/1573210692-Ang83oDz",
                        "two_stage_esign": false,
                        "preset_parameters": false,
                        "require_upload_document": true,
                        "expired_at": null,
                        "show_form_confirmation_page": null,
                        "go_to_upload_record_page": null,
                        "go_to_flow_instruction_page": null,
                        "go_to_medication_reminder_list_page": null,
                        "go_to_medication_cycle_setting_page": null,
                        "application_record_logo": null
                      },
                      "code": 200,
                      "message": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u5c08\u6848\u6216\u8eab\u4efd\u76f8\u95dc\u932f\u8aa4",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectNotFound": {
                    "value": {
                      "message": "\u627e\u4e0d\u5230\u5c08\u6848.",
                      "code": 100201
                    }
                  },
                  "positionNotFound": {
                    "value": {
                      "message": "\u627e\u4e0d\u5230\u8eab\u4efd\u5225.",
                      "code": 100202
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u53d6\u5f97\u6307\u5b9a\u5c08\u6848\u7684\u57fa\u672c\u8a2d\u5b9a [1-1]",
        "operationId": "get-config-project-by-hash-id"
      }
    },
    "/v1/projects/{hash_id}/form-configs": {
      "get": {
        "summary": "\u53d6\u5f97\u6307\u5b9a\u5c08\u6848\u7684\u8a3b\u518a\u8207\u540c\u610f\u66f8\u6b04\u4f4d\u8a2d\u5b9a [1-7]",
        "tags": [
          "PAP \u6a19\u6e96"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "hash_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "\u5c08\u6848 Hash ID"
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u53d6\u5f97\u6b04\u4f4d\u8a2d\u5b9a",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormConfigsResponse"
                },
                "examples": {
                  "success": {
                    "summary": "\u8868\u55ae\u6b04\u4f4d\u8a2d\u5b9a",
                    "value": {
                      "data": {
                        "registerFormFieldConfigs": {
                          "AzXkej8lRjRQxo2": {
                            "category": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "cellPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hcpCategory": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hospital": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "indication_id": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "landline": {
                              "visible": false,
                              "required": false,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "patientName": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "physicianName": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            }
                          },
                          "default": {
                            "category": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "cellPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hcpCategory": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hospital": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "indication_id": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "landline": {
                              "visible": true,
                              "required": false,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "patientName": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "physicianName": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            }
                          }
                        },
                        "consentFormFieldConfigs": {
                          "AzXkej8lRjRQxo2": {
                            "aePolicyStyle1": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "aePolicyStyle2": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "agreedToEConsent": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "birthRoc": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contact": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactTime": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactWindowEmail": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactWindowPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "diagnosisRoc": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "division": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "doctorName": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "email": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "gender": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hcpContactPhone": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hospitalInput": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "isAdult": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "isMedipassWindow": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "isMedipassWindowDropdown": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "medipassWindow": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "multipleHospital": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "patientEmail": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "patientHospital": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "todayRoc": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "useDrugRoc": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "warrantSignature": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            }
                          },
                          "default": {
                            "aePolicyStyle1": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "aePolicyStyle2": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "agreedToEConsent": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "birthRoc": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contact": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactTime": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactWindowEmail": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "contactWindowPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "diagnosisRoc": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "division": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "doctorName": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "email": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "gender": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hcpContactPhone": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "hospitalInput": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "isAdult": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "isMedipassWindow": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "isMedipassWindowDropdown": {
                              "visible": false,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "medipassWindow": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "multipleHospital": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "patientEmail": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "patientHospital": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "todayRoc": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "useDrugRoc": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            },
                            "warrantSignature": {
                              "visible": true,
                              "required": true,
                              "columnName": "",
                              "placeholder": ""
                            }
                          }
                        }
                      },
                      "code": 200,
                      "message": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u5c08\u6848\u6216\u8eab\u4efd\u76f8\u95dc\u932f\u8aa4",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectNotFound": {
                    "value": {
                      "message": "\u627e\u4e0d\u5230\u5c08\u6848.",
                      "code": 100201
                    }
                  },
                  "positionNotFound": {
                    "value": {
                      "message": "\u627e\u4e0d\u5230\u8eab\u4efd\u5225.",
                      "code": 100202
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u53d6\u5f97\u6307\u5b9a\u5c08\u6848\u7684\u8a3b\u518a\u8207\u540c\u610f\u66f8\u6b04\u4f4d\u8a2d\u5b9a [1-7]",
        "operationId": "get-v1-projects-by-hash-id-form-configs"
      }
    },
    "/v1/projects/{hash_id}/record-configs": {
      "get": {
        "summary": "\u53d6\u5f97\u6307\u5b9a\u5c08\u6848\u7684\u7d00\u9304\u9801\u6b04\u4f4d\u8a2d\u5b9a [1-8]",
        "tags": [
          "PAP \u6a19\u6e96"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "hash_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u53d6\u5f97\u6240\u6709\u7d00\u9304\u6b04\u4f4d\u8a2d\u5b9a",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordConfigsResponse"
                },
                "examples": {
                  "success": {
                    "summary": "\u7d00\u9304\u6b04\u4f4d\u8a2d\u5b9a",
                    "value": {
                      "data": {
                        "ptApplicationRecords": {
                          "columnDefinitions": [
                            {
                              "fieldName": "serialNumber",
                              "headerName": "No."
                            },
                            {
                              "fieldName": "status",
                              "headerName": "\u72c0\u614b"
                            },
                            {
                              "fieldName": "shippingPharmacy",
                              "headerName": "\u9818\u85e5\u5730\u9ede"
                            },
                            {
                              "fieldName": "applyDose",
                              "headerName": "\u5291\u91cf"
                            },
                            {
                              "fieldName": "drugCount",
                              "headerName": "\u8d08\u85e5\u6578\u91cf"
                            },
                            {
                              "fieldName": "application",
                              "headerName": "\u8d08\u85e5\u7533\u8acb\u55ae"
                            },
                            {
                              "fieldName": "gratis_application",
                              "headerName": "\u7121\u511f\u85e5\u7269\u7533\u8acb\u55ae"
                            },
                            {
                              "fieldName": "deliverTime",
                              "headerName": "\u5df2\u51fa\u8ca8\u65e5\u671f"
                            },
                            {
                              "fieldName": "approvalStatusTime",
                              "headerName": "\u5df2\u6838\u51c6\u65e5\u671f"
                            },
                            {
                              "fieldName": "docData",
                              "headerName": "\u8d08\u85e5\u6838\u51c6\u6191\u8b49"
                            }
                          ],
                          "projectFieldConfigs": {
                            "AzXkej8lRjRQxo2": [
                              "serialNumber",
                              "status",
                              "shippingPharmacy",
                              "drugCount",
                              "application",
                              "deliverTime"
                            ],
                            "default": [
                              "serialNumber",
                              "status",
                              "shippingPharmacy",
                              "applyDose",
                              "drugCount",
                              "application",
                              "deliverTime",
                              "docData"
                            ]
                          }
                        },
                        "ptSelfPaidRecords": {
                          "columnDefinitions": [
                            {
                              "fieldName": "receiptDate",
                              "headerName": "\u81ea\u8cbb\u65e5\u671f"
                            },
                            {
                              "fieldName": "drugName",
                              "headerName": "\u85e5\u54c1\u540d\u7a31"
                            },
                            {
                              "fieldName": "paidQuantity",
                              "headerName": "\u81ea\u8cbb\u6578\u91cf"
                            },
                            {
                              "fieldName": "dose",
                              "headerName": "\u5291\u91cf"
                            },
                            {
                              "fieldName": "receipt",
                              "headerName": "\u6536\u64da"
                            },
                            {
                              "fieldName": "status",
                              "headerName": "\u72c0\u614b"
                            }
                          ],
                          "projectFieldConfigs": {
                            "AzXkej8lRjRQxo2": [
                              "receiptDate",
                              "paidQuantity",
                              "status",
                              "receipt"
                            ],
                            "default": [
                              "receiptDate",
                              "drugName",
                              "paidQuantity",
                              "dose",
                              "status",
                              "receipt"
                            ]
                          }
                        },
                        "hcpApplicationRecords": {
                          "columnDefinitions": [
                            {
                              "fieldName": "hospital",
                              "headerName": "\u91ab\u9662"
                            },
                            {
                              "fieldName": "doctor",
                              "headerName": "\u91ab\u5e2b"
                            },
                            {
                              "fieldName": "patient",
                              "headerName": "\u75c5\u4eba"
                            },
                            {
                              "fieldName": "status",
                              "headerName": "\u72c0\u614b"
                            },
                            {
                              "fieldName": "amount",
                              "headerName": "\u6578\u91cf"
                            },
                            {
                              "fieldName": "applyDose",
                              "headerName": "\u5291\u91cf"
                            },
                            {
                              "fieldName": "deliverTime",
                              "headerName": "\u5df2\u51fa\u8ca8\u65e5\u671f"
                            },
                            {
                              "fieldName": "approvalStatusTime",
                              "headerName": "\u5df2\u6838\u51c6\u65e5\u671f"
                            },
                            {
                              "fieldName": "application",
                              "headerName": "\u8d08\u85e5\u7533\u8acb\u55ae"
                            },
                            {
                              "fieldName": "gratis_application",
                              "headerName": "\u7121\u511f\u85e5\u7269\u7533\u8acb\u55ae"
                            },
                            {
                              "fieldName": "docData",
                              "headerName": "\u8d08\u85e5\u6838\u51c6\u6191\u8b49"
                            }
                          ],
                          "projectFieldConfigs": {
                            "AzXkej8lRjRQxo2": [
                              "hospital",
                              "doctor",
                              "patient",
                              "status",
                              "amount",
                              "applyDose",
                              "deliverTime",
                              "application",
                              "docData"
                            ],
                            "default": [
                              "hospital",
                              "doctor",
                              "patient",
                              "status",
                              "amount",
                              "applyDose",
                              "deliverTime",
                              "application",
                              "docData"
                            ]
                          }
                        },
                        "hcpPatientList": {
                          "columnDefinitions": [
                            {
                              "fieldName": "hospital",
                              "headerName": "\u91ab\u9662"
                            },
                            {
                              "fieldName": "doctor",
                              "headerName": "\u91ab\u5e2b"
                            },
                            {
                              "fieldName": "patient",
                              "headerName": "\u75c5\u4eba"
                            },
                            {
                              "fieldName": "applyTimes",
                              "headerName": "\u7533\u8acb\u6b21\u6578"
                            },
                            {
                              "fieldName": "applyDose",
                              "headerName": "\u4e0a\u6b21\u7533\u8acb\u5291\u91cf"
                            },
                            {
                              "fieldName": "amount",
                              "headerName": "\u4e0a\u6b21\u7533\u8acb\u6578\u91cf"
                            },
                            {
                              "fieldName": "deliverTime",
                              "headerName": "\u4e0a\u6b21\u7533\u8acb\u51fa\u8ca8\u65e5"
                            }
                          ],
                          "projectFieldConfigs": {
                            "AzXkej8lRjRQxo2": [
                              "hospital",
                              "doctor",
                              "patient",
                              "applyTimes",
                              "amount",
                              "applyDose",
                              "deliverTime"
                            ],
                            "default": [
                              "hospital",
                              "doctor",
                              "patient",
                              "applyTimes",
                              "amount",
                              "applyDose",
                              "deliverTime"
                            ]
                          }
                        },
                        "hcpToBeSigned": {
                          "columnDefinitions": [
                            {
                              "fieldName": "singDoc",
                              "headerName": "\u96fb\u5b50\u7c3d\u7ae0"
                            },
                            {
                              "fieldName": "patient",
                              "headerName": "\u75c5\u4eba"
                            },
                            {
                              "fieldName": "amount",
                              "headerName": "\u8d08\u85e5\u7533\u8acb\u6578\u91cf"
                            },
                            {
                              "fieldName": "estUseMedicineDate",
                              "headerName": "\u9810\u8a08\u7528\u85e5\u65e5"
                            },
                            {
                              "fieldName": "patientSignDate",
                              "headerName": "\u75c5\u4eba\u7c3d\u7f72\u65e5\u671f"
                            }
                          ],
                          "projectFieldConfigs": {
                            "AzXkej8lRjRQxo2_pendingApproval_1": [
                              "singDoc",
                              "patient",
                              "amount",
                              "estUseMedicineDate"
                            ],
                            "AzXkej8lRjRQxo2_pendingApproval_2": [
                              "singDoc",
                              "patient",
                              "patientSignDate"
                            ],
                            "default": [
                              "singDoc",
                              "patient",
                              "amount",
                              "estUseMedicineDate",
                              "patientSignDate"
                            ]
                          }
                        },
                        "brApplicationRecords": {
                          "columnDefinitions": [
                            {
                              "fieldName": "hospital",
                              "headerName": "\u91ab\u9662"
                            },
                            {
                              "fieldName": "doctor",
                              "headerName": "\u91ab\u5e2b"
                            },
                            {
                              "fieldName": "projectUserNumber",
                              "headerName": "\u500b\u6848\u7de8\u865f"
                            },
                            {
                              "fieldName": "amount",
                              "headerName": "\u6578\u91cf"
                            },
                            {
                              "fieldName": "applyDose",
                              "headerName": "\u5291\u91cf"
                            },
                            {
                              "fieldName": "status",
                              "headerName": "\u72c0\u614b"
                            },
                            {
                              "fieldName": "deliverTime",
                              "headerName": "\u5df2\u51fa\u8ca8\u65e5\u671f"
                            }
                          ],
                          "projectFieldConfigs": {
                            "default": [
                              "hospital",
                              "doctor",
                              "projectUserNumber",
                              "amount",
                              "applyDose",
                              "status",
                              "deliverTime"
                            ]
                          }
                        },
                        "applicationForm4Medications": {
                          "columnDefinitions": [
                            {
                              "fieldName": "agreementFormNum",
                              "headerName": "\u6d41\u6c34\u7de8\u865f"
                            },
                            {
                              "fieldName": "remainingAmount",
                              "headerName": "\u53ef\u7533\u8acb\u6578\u91cf"
                            },
                            {
                              "fieldName": "remainingDay",
                              "headerName": "\u53ef\u7533\u8acb\u5929\u6578"
                            },
                            {
                              "fieldName": "signDoc",
                              "headerName": "\u7c3d\u7f72\u91ab\u751f"
                            }
                          ],
                          "projectFieldConfigs": []
                        }
                      },
                      "code": 200,
                      "message": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u5c08\u6848\u6216\u8eab\u4efd\u76f8\u95dc\u932f\u8aa4",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectNotFound": {
                    "value": {
                      "message": "\u627e\u4e0d\u5230\u5c08\u6848.",
                      "code": 100201
                    }
                  },
                  "positionNotFound": {
                    "value": {
                      "message": "\u627e\u4e0d\u5230\u8eab\u4efd\u5225.",
                      "code": 100202
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u53d6\u5f97\u6307\u5b9a\u5c08\u6848\u7684\u7d00\u9304\u9801\u6b04\u4f4d\u8a2d\u5b9a [1-8]",
        "operationId": "get-v1-projects-by-hash-id-record-configs"
      }
    },
    "/getPTMedicationRecord": {
      "get": {
        "summary": "\u53d6\u5f97\u75c5\u60a3(\u81ea\u5df1)\u7684\u8d08\u85e5\u7d00\u9304 [8-1]",
        "tags": [
          "PAP \u6a19\u6e96"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-project-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "\u5c08\u6848 Hash ID"
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u53d6\u5f97\u8d08\u85e5\u7d00\u9304",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MedicationRecordResponse"
                },
                "examples": {
                  "success": {
                    "summary": "\u75c5\u60a3\u8d08\u85e5\u7d00\u9304",
                    "value": {
                      "data": {
                        "user": {
                          "hospital": "\u4e2d\u5c71\u91ab\u9662",
                          "doctorName": "\u6e2c\u8a66\u674e\u91c7\u66dc\u91ab\u751f",
                          "userName": "\u6e2c\u8a66\u99ae\u91c7\u66dc",
                          "projectUserNumber": "TG20250010873",
                          "applyTimes": "1\u6b21",
                          "unApplyFreeAmount": "0\u9846",
                          "totalPaidQuantity": "0",
                          "unApplyPaidAmount": "-20"
                        },
                        "applicationForm4Medications": [],
                        "applicationRecords": [
                          {
                            "applySfCaseUid": "a03BS00000PgBJEYA3",
                            "status": "\u5df2\u9818\u53d6",
                            "shippingPharmacy": "\u4eca\u6b23\u85e5\u5c40",
                            "drugCount": "5",
                            "gratis_application": {
                              "text": "\u67e5\u770b",
                              "urlType": "\u958b\u555f\u5716\u7247",
                              "urlState": true,
                              "id": "a03BS00000PgBJEYA3",
                              "type": "1"
                            },
                            "applyDose": "80mg",
                            "docData": {
                              "text": "\u67e5\u770b",
                              "urlType": "\u8f49\u8df3\u5916\u90e8\u9801\u9762",
                              "urlState": true,
                              "url": "https://liff.line.me/1573210692-Ang83oDz?applyid=a03BS00000PgBJEYA3"
                            },
                            "drug_dev_code": null,
                            "applySerialNumber": "1",
                            "phaseName": "\u7b2c\u4e00\u968e\u6bb5",
                            "deliverTime": "2025-11-05"
                          }
                        ],
                        "selfPaidRecords": [
                          {
                            "receiptDate": "2025-11-05",
                            "paidQuantity": "20",
                            "status": "\u5f85\u78ba\u8a8d",
                            "drugName": "",
                            "dose": "nullnull",
                            "receipt": {
                              "text": "\u67e5\u770b",
                              "urlType": "\u958b\u555f\u5716\u7247",
                              "urlState": true,
                              "id": "a0CBS00001DXNmD2AX",
                              "type": "2"
                            },
                            "drug_dev_code": null
                          },
                          {
                            "receiptDate": "2025-11-05",
                            "paidQuantity": "20",
                            "status": "\u5f85\u78ba\u8a8d",
                            "drugName": "",
                            "dose": "5null",
                            "receipt": {
                              "text": "\u67e5\u770b",
                              "urlType": "\u958b\u555f\u5716\u7247",
                              "urlState": true,
                              "id": "a0CBS00001DRmVa2AL",
                              "type": "2"
                            },
                            "drug_dev_code": null
                          }
                        ],
                        "gratis_application_type": "2",
                        "application_record_page_type": "noneLogoLayout",
                        "reveal_precautions": true,
                        "phaseInfo": {
                          "projectScheme": "TG_v1",
                          "projectSchemeName": "\u7b2c\u4e00\u968e\u6bb5(50+10)",
                          "firstReceiptDate": "2025-11-05",
                          "totalPhase1": 40,
                          "totalPhase2": null,
                          "totalPhase3": null,
                          "phase1RemainingCount": 260,
                          "phase2RemainingCount": null
                        }
                      },
                      "code": 200,
                      "message": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u5c08\u6848\u6216\u8eab\u4efd\u76f8\u95dc\u932f\u8aa4",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectNotFound": {
                    "value": {
                      "message": "\u627e\u4e0d\u5230\u8a72\u5c08\u6848",
                      "code": 1000
                    }
                  },
                  "dataFetchFailed": {
                    "value": {
                      "message": "\u7528\u85e5\u7d00\u9304\u6aa2\u7d22\u5931\u6557",
                      "code": 1001
                    }
                  }
                }
              }
            }
          }
        },
        "description": "\u53d6\u5f97\u75c5\u60a3(\u81ea\u5df1)\u7684\u8d08\u85e5\u7d00\u9304 [8-1]",
        "operationId": "get-getptmedicationrecord"
      }
    },
    "/getHCPPatientList": {
      "get": {
        "summary": "HCP\u8d08\u85e5\u7d00\u9304\u9801 - \u75c5\u4eba\u6e05\u55ae\u9801\u7c64 [8-2-3]",
        "tags": [
          "PAP \u6a19\u6e96"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-project-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "\u5c08\u6848 Hash ID"
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u53d6\u5f97\u75c5\u4eba\u6e05\u55ae",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HCPPatientListResponse"
                },
                "examples": {
                  "success": {
                    "summary": "HCP\u75c5\u4eba\u6e05\u55ae",
                    "value": {
                      "data": [
                        {
                          "hospital": "\u4e2d\u5c71\u91ab\u9662",
                          "doctor": "\u6e2c\u8a66\u674e\u91c7\u66dc\u91ab\u751f",
                          "patient": {
                            "text": "\u6e2c\u8a66\u99ae\u91c7\u66dc",
                            "urlType": "\u524d\u7aef\u8f49\u9801",
                            "urlState": true,
                            "url": "1"
                          },
                          "project_user_sf_case_uid": "a02BS00000QzClLYAV",
                          "applyTimes": "1",
                          "applyDose": "80mg",
                          "amount": "5",
                          "deliverTime": "2025-11-05",
                          "scheme": "\u7b2c\u4e00\u968e\u6bb5",
                          "unApplyPaidAmount": "-20",
                          "remainingCount": "260"
                        },
                        {
                          "hospital": "\u4e2d\u5c71\u91ab\u9662",
                          "doctor": "\u6e2c\u8a66\u674e\u91c7\u66dc\u91ab\u751f",
                          "patient": {
                            "text": "\u9673OO",
                            "urlType": "\u524d\u7aef\u8f49\u9801",
                            "urlState": true,
                            "url": "1"
                          },
                          "project_user_sf_case_uid": "a02BS00000PSLMbYAP",
                          "applyTimes": "",
                          "applyDose": "",
                          "amount": "",
                          "deliverTime": "",
                          "scheme": "\u7b2c\u4e00\u968e\u6bb5",
                          "unApplyPaidAmount": "0",
                          "remainingCount": "300"
                        },
                        {
                          "hospital": "\u4e2d\u5c71\u91ab\u9662",
                          "doctor": "\u6e2c\u8a66\u674e\u91c7\u66dc\u91ab\u751f",
                          "patient": {
                            "text": "\u6e2c\u8a66\u5289\u75c5\u4eba",
                            "urlType": "\u524d\u7aef\u8f49\u9801",
                            "urlState": true,
                            "url": "1"
                          },
                          "project_user_sf_case_uid": "a02BS00000OyEezYAF",
                          "applyTimes": "2",
                          "applyDose": "80mg",
                          "amount": "5",
                          "deliverTime": "2025-07-09",
                          "scheme": "\u7b2c\u4e00\u968e\u6bb5",
                          "unApplyPaidAmount": "0",
                          "remainingCount": "300"
                        },
                        {
                          "hospital": "\u4e2d\u5c71\u91ab\u9662",
                          "doctor": "\u6e2c\u8a66\u674e\u91c7\u66dc\u91ab\u751f",
                          "patient": {
                            "text": "\u9673\u828a",
                            "urlType": "\u524d\u7aef\u8f49\u9801",
                            "urlState": true,
                            "url": "1"
                          },
                          "project_user_sf_case_uid": "a020l00000BQZxCAAX",
                          "applyTimes": "4",
                          "applyDose": "80mg",
                          "amount": "1",
                          "deliverTime": "2025-08-01",
                          "scheme": "10_10",
                          "unApplyPaidAmount": "-1",
                          "remainingCount": ""
                        }
                      ],
                      "code": 200,
                      "message": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u932f\u8aa4",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectNotFound": {
                    "value": {
                      "message": "\u627e\u4e0d\u5230\u8a72\u5c08\u6848",
                      "code": 1000
                    }
                  },
                  "unknownError": {
                    "value": {
                      "message": "\u4f3a\u670d\u5668\u932f\u8aa4",
                      "code": 500
                    }
                  }
                }
              }
            }
          }
        },
        "description": "HCP\u8d08\u85e5\u7d00\u9304\u9801 - \u75c5\u4eba\u6e05\u55ae\u9801\u7c64 [8-2-3]",
        "operationId": "get-gethcppatientlist"
      }
    },
    "/hcpGetPTMedicationRecord": {
      "get": {
        "summary": "HCP\u53d6\u5f97\u75c5\u60a3\u7684\u8d08\u85e5\u7d00\u9304 [8-3]",
        "tags": [
          "PAP \u6a19\u6e96"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-project-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "\u5c08\u6848 Hash ID"
          },
          {
            "name": "project_user_sf_case_uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "\u75c5\u60a3\u7684 SF Case UID"
          }
        ],
        "responses": {
          "200": {
            "description": "\u6210\u529f\u53d6\u5f97\u8d08\u85e5\u7d00\u9304",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HCPPTMedicationRecordResponse"
                },
                "examples": {
                  "success": {
                    "summary": "HCP\u53d6\u5f97\u75c5\u60a3\u8d08\u85e5\u7d00\u9304",
                    "value": {
                      "data": {
                        "user": {
                          "hospital": "\u4e2d\u5c71\u91ab\u9662",
                          "doctorName": "\u6e2c\u8a66\u674e\u91c7\u66dc\u91ab\u751f",
                          "userName": "\u6e2c\u8a66\u99ae\u91c7\u66dc",
                          "projectUserNumber": "TG20250010873",
                          "applyTimes": "1\u6b21",
                          "unApplyFreeAmount": "0\u9846",
                          "totalPaidQuantity": "0",
                          "unApplyPaidAmount": "-20"
                        },
                        "applicationForm4Medications": [],
                        "applicationRecords": [
                          {
                            "applySfCaseUid": "a03BS00000PgBJEYA3",
                            "status": "\u5df2\u9818\u53d6",
                            "shippingPharmacy": "\u4eca\u6b23\u85e5\u5c40",
                            "drugCount": "5",
                            "gratis_application": {
                              "text": "\u67e5\u770b",
                              "urlType": "\u958b\u555f\u5716\u7247",
                              "urlState": true,
                              "id": "a03BS00000PgBJEYA3",
                              "type": "1"
                            },
                            "applyDose": "80mg",
                            "docData": {
                              "text": "\u67e5\u770b",
                              "urlType": "\u8f49\u8df3\u5916\u90e8\u9801\u9762",
                              "urlState": true,
                              "url": "https://liff.line.me/1573210692-Ang83oDz?applyid=a03BS00000PgBJEYA3"
                            },
                            "drug_dev_code": null,
                            "applySerialNumber": "1",
                            "phaseName": "\u7b2c\u4e00\u968e\u6bb5",
                            "deliverTime": "2025-11-05"
                          }
                        ],
                        "selfPaidRecords": [
                          {
                            "receiptDate": "2025-11-05",
                            "paidQuantity": "20",
                            "status": "\u5f85\u78ba\u8a8d",
                            "drugName": "",
                            "dose": "nullnull",
                            "receipt": {
                              "text": "\u67e5\u770b",
                              "urlType": "\u958b\u555f\u5716\u7247",
                              "urlState": true,
                              "id": "a0CBS00001DXNmD2AX",
                              "type": "2"
                            },
                            "drug_dev_code": null
                          },
                          {
                            "receiptDate": "2025-11-05",
                            "paidQuantity": "20",
                            "status": "\u5f85\u78ba\u8a8d",
                            "drugName": "",
                            "dose": "5null",
                            "receipt": {
                              "text": "\u67e5\u770b",
                              "urlType": "\u958b\u555f\u5716\u7247",
                              "urlState": true,
                              "id": "a0CBS00001DRmVa2AL",
                              "type": "2"
                            },
                            "drug_dev_code": null
                          }
                        ],
                        "application_record_page_type": "noneLogoLayout",
                        "reveal_precautions": true,
                        "phaseInfo": {
                          "projectScheme": "TG_v1",
                          "projectSchemeName": "\u7b2c\u4e00\u968e\u6bb5(50+10)",
                          "firstReceiptDate": "2025-11-05",
                          "totalPhase1": 40,
                          "totalPhase2": null,
                          "totalPhase3": null,
                          "phase1RemainingCount": 260,
                          "phase2RemainingCount": null
                        },
                        "gratis_application_type": "2"
                      },
                      "code": 200,
                      "message": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\u932f\u8aa4",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "projectNotFound": {
                    "value": {
                      "message": "\u627e\u4e0d\u5230\u8a72\u5c08\u6848",
                      "code": 1000
                    }
                  },
                  "unknownError": {
                    "value": {
                      "message": "\u4f3a\u670d\u5668\u932f\u8aa4",
                      "code": 500
                    }
                  }
                }
              }
            }
          }
        },
        "description": "HCP\u53d6\u5f97\u75c5\u60a3\u7684\u8d08\u85e5\u7d00\u9304 [8-3]",
        "operationId": "get-hcpgetptmedicationrecord"
      }
    },
    "/salesforce/upload-record": {
      "get": {
        "summary": "\u53d6\u5f97\u4e0a\u50b3\u8a18\u9304 [11-1]",
        "tags": [
          "PAP \u6a19\u6e96"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
[...]
