{
  "openapi": "3.0.3",
  "info": {
    "title": "Layerre API",
    "description": "Layerre is a tool for creating multiple image variants from a single design template. The API allows you to create templates from Canva URLs, manage layers, and generate customized image variants.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://layerre.com/docs"
  },
  "servers": [
    {
      "url": "https://api.layerre.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/template": {
      "post": {
        "operationId": "createTemplate",
        "summary": "Create template from Canva URL",
        "description": "Creates a new template from a Canva design URL",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid Canva URL or request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/template/{template_id}": {
      "get": {
        "operationId": "getTemplate",
        "summary": "Retrieve template with layers",
        "description": "Retrieves a specific template including all its layers",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "UUID of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid template ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTemplate",
        "summary": "Modify template properties",
        "description": "Updates template properties such as name, dimensions, and background color",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "UUID of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTemplate",
        "summary": "Soft delete template",
        "description": "Soft deletes a template (marks it as deleted but doesn't remove it permanently)",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "UUID of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid template ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates": {
      "get": {
        "operationId": "listTemplates",
        "summary": "List all user templates",
        "description": "Retrieves a paginated list of all templates belonging to the user",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "description": "Number of records to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "include_layers",
            "in": "query",
            "description": "Whether to include layer information in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/template/{template_id}/layer": {
      "post": {
        "operationId": "addLayer",
        "summary": "Add new layer",
        "description": "Adds a new layer to an existing template",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "UUID of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Layer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Layer added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Layer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid layer properties",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/template/{template_id}/layer/{layer_id}": {
      "get": {
        "operationId": "getLayer",
        "summary": "Fetch specific layer",
        "description": "Retrieves a specific layer from a template",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "UUID of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "layer_id",
            "in": "path",
            "required": true,
            "description": "ID of the layer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Layer retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Layer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid template or layer ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateLayer",
        "summary": "Update layer",
        "description": "Updates properties of a specific layer",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "UUID of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "layer_id",
            "in": "path",
            "required": true,
            "description": "ID of the layer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Layer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Layer updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Layer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid layer properties",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteLayer",
        "summary": "Soft delete layer",
        "description": "Soft deletes a layer from a template",
        "tags": [
          "Layers"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "UUID of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "layer_id",
            "in": "path",
            "required": true,
            "description": "ID of the layer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Layer deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid template or layer ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/template/{template_id}/variant": {
      "post": {
        "operationId": "createVariant",
        "summary": "Generate customized image",
        "description": "Generates a customized image variant from a template with specified overrides",
        "tags": [
          "Variants"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "UUID of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVariantRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Variant created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variant"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid overrides or export type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/template/{template_id}/variant/{variant_id}": {
      "get": {
        "operationId": "getVariant",
        "summary": "Retrieve variant",
        "description": "Retrieves a specific variant of a template",
        "tags": [
          "Variants"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "UUID of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "variant_id",
            "in": "path",
            "required": true,
            "description": "ID of the variant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variant retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variant"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid template or variant ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteVariant",
        "summary": "Soft delete variant",
        "description": "Soft deletes a variant from a template",
        "tags": [
          "Variants"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "UUID of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "variant_id",
            "in": "path",
            "required": true,
            "description": "ID of the variant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variant deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid template or variant ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/template/{template_id}/variants": {
      "get": {
        "operationId": "listVariants",
        "summary": "List template variants",
        "description": "Retrieves a paginated list of all variants for a template",
        "tags": [
          "Variants"
        ],
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "UUID of the template",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of records to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of records to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Variants retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Variant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Include your API key in the Authorization header as 'Bearer YOUR_API_KEY'"
      }
    },
    "schemas": {
      "CreateTemplateRequest": {
        "type": "object",
        "required": [
          "canva_url"
        ],
        "properties": {
          "canva_url": {
            "type": "string",
            "description": "URL of the Canva design to create template from"
          }
        }
      },
      "UpdateTemplateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the template"
          },
          "width": {
            "type": "integer",
            "description": "Width of the template in pixels"
          },
          "height": {
            "type": "integer",
            "description": "Height of the template in pixels"
          },
          "background_color": {
            "type": "string",
            "description": "Background color of the template"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the template"
          },
          "name": {
            "type": "string",
            "description": "Name of the template"
          },
          "width": {
            "type": "integer",
            "description": "Width of the template in pixels"
          },
          "height": {
            "type": "integer",
            "description": "Height of the template in pixels"
          },
          "background_color": {
            "type": "string",
            "description": "Background color of the template"
          },
          "layers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Layer"
            },
            "description": "Layers contained in the template"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was last updated"
          }
        }
      },
      "Layer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the layer"
          },
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image"
            ],
            "description": "Type of the layer (text or image)"
          },
          "content": {
            "type": "string",
            "description": "Content of the layer (text content or image URL)"
          },
          "x": {
            "type": "number",
            "description": "X coordinate position"
          },
          "y": {
            "type": "number",
            "description": "Y coordinate position"
          },
          "width": {
            "type": "number",
            "description": "Width of the layer"
          },
          "height": {
            "type": "number",
            "description": "Height of the layer"
          },
          "font_size": {
            "type": "number",
            "description": "Font size (for text layers)"
          },
          "font_family": {
            "type": "string",
            "description": "Font family (for text layers)"
          },
          "color": {
            "type": "string",
            "description": "Color of the text (for text layers)"
          },
          "rotation": {
            "type": "number",
            "description": "Rotation angle in degrees"
          },
          "opacity": {
            "type": "number",
            "description": "Opacity value (0-1)"
          }
        }
      },
      "CreateVariantRequest": {
        "type": "object",
        "properties": {
          "overrides": {
            "type": "object",
            "description": "Layer-specific modifications to apply",
            "additionalProperties": {
              "$ref": "#/components/schemas/LayerOverride"
            }
          },
          "export_type": {
            "type": "string",
            "enum": [
              "png",
              "jpg",
              "webp"
            ],
            "description": "Export format for the generated image"
          }
        }
      },
      "LayerOverride": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "description": "New content for the layer"
          },
          "color": {
            "type": "string",
            "description": "New color for the layer"
          },
          "x": {
            "type": "number",
            "description": "New X position"
          },
          "y": {
            "type": "number",
            "description": "New Y position"
          },
          "width": {
            "type": "number",
            "description": "New width"
          },
          "height": {
            "type": "number",
            "description": "New height"
          }
        }
      },
      "Variant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the variant"
          },
          "template_id": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the parent template"
          },
          "image_url": {
            "type": "string",
            "description": "URL of the generated image"
          },
          "export_type": {
            "type": "string",
            "description": "Format of the exported image"
          },
          "overrides": {
            "type": "object",
            "description": "Overrides that were applied to create this variant"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the variant was created"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Templates",
      "description": "Template management operations"
    },
    {
      "name": "Layers",
      "description": "Layer management operations"
    },
    {
      "name": "Variants",
      "description": "Variant generation and management operations"
    }
  ]
}