{
  "openapi": "3.0.3",
  "info": {
    "title": "Quotable API",
    "description": "Quotable is a free, open source quotations API. It provides endpoints for fetching random quotes, listing quotes with pagination, searching quotes and authors, and browsing tags.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://github.com/lukePeavey/quotable"
  },
  "servers": [
    {
      "url": "https://api.quotable.io",
      "description": "Production server"
    }
  ],
  "paths": {
    "/quotes/random": {
      "get": {
        "operationId": "getRandomQuotes",
        "summary": "Get random quotes",
        "description": "Returns one or more random quotes. Supports filtering by length, tags, and author.",
        "tags": [
          "Quotes"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "maximum": 50
            },
            "description": "Number of random quotes to return"
          },
          {
            "name": "maxLength",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum character length of the quote"
          },
          {
            "name": "minLength",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Minimum character length of the quote"
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by tags. Use comma for AND, pipe for OR (e.g., 'technology,famous' or 'technology|famous')"
          },
          {
            "name": "author",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by author name or slug. Pipe-separated for multiple authors."
          }
        ],
        "responses": {
          "200": {
            "description": "Array of random quote objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Quote"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (180 requests per minute per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/random": {
      "get": {
        "operationId": "getRandomQuote",
        "summary": "Get a single random quote (deprecated)",
        "description": "Returns a single random quote object. Deprecated: use /quotes/random instead.",
        "deprecated": true,
        "tags": [
          "Quotes"
        ],
        "parameters": [
          {
            "name": "maxLength",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum character length of the quote"
          },
          {
            "name": "minLength",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Minimum character length of the quote"
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by tags"
          },
          {
            "name": "author",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by author name or slug"
          }
        ],
        "responses": {
          "200": {
            "description": "A single random quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quotes": {
      "get": {
        "operationId": "listQuotes",
        "summary": "List quotes with pagination",
        "description": "Returns a paginated list of all quotes. Supports filtering and sorting.",
        "tags": [
          "Quotes"
        ],
        "parameters": [
          {
            "name": "maxLength",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Maximum character length of the quote"
          },
          {
            "name": "minLength",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Minimum character length of the quote"
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by tags. Use comma for AND, pipe for OR."
          },
          {
            "name": "author",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by author name or slug"
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "dateAdded",
                "dateModified",
                "author",
                "content"
              ]
            },
            "description": "Field to sort by"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 150
            },
            "description": "Number of results per page"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of quotes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedQuotes"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/{id}": {
      "get": {
        "operationId": "getQuoteById",
        "summary": "Get a quote by ID",
        "description": "Returns a single quote by its unique identifier.",
        "tags": [
          "Quotes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique quote identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Quote object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Quote not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/authors": {
      "get": {
        "operationId": "listAuthors",
        "summary": "List authors with pagination",
        "description": "Returns a paginated list of all authors. Supports filtering by slug and sorting.",
        "tags": [
          "Authors"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by author slug(s). Pipe-separated for multiple."
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "dateAdded",
                "dateModified",
                "name",
                "quoteCount"
              ],
              "default": "name"
            },
            "description": "Field to sort by"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 150
            },
            "description": "Number of results per page"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of authors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAuthors"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/quotes": {
      "get": {
        "operationId": "searchQuotes",
        "summary": "Search quotes (beta)",
        "description": "Full-text search across quotes. Supports fuzzy matching and field selection.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search text. Wrap in quotes for exact phrase matching."
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "content,author,tags"
            },
            "description": "Comma-separated fields to search in"
          },
          {
            "name": "fuzzyMaxEdits",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0,
              "maximum": 2
            },
            "description": "Maximum number of single-character edits for fuzzy matching"
          },
          {
            "name": "fuzzyMaxExpansions",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 0,
              "maximum": 150
            },
            "description": "Maximum number of variations to generate for fuzzy matching"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 0,
              "maximum": 150
            },
            "description": "Number of results per page"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedQuotes"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/authors": {
      "get": {
        "operationId": "searchAuthors",
        "summary": "Search authors (beta)",
        "description": "Search for authors by name. Supports autocomplete.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search text for author names"
          },
          {
            "name": "autocomplete",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Enable autocomplete matching"
          },
          {
            "name": "matchThreshold",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 2,
              "minimum": 1,
              "maximum": 3
            },
            "description": "Minimum number of search terms that must match"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 150
            },
            "description": "Number of results per page"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated author search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAuthors"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List all tags",
        "description": "Returns a list of all tags used to categorize quotes.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "dateAdded",
                "dateModified",
                "name",
                "quoteCount"
              ]
            },
            "description": "Field to sort by"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/authors/{id}": {
      "get": {
        "operationId": "getAuthorById",
        "summary": "Get an author by ID",
        "description": "Returns a single author by their unique identifier. Includes the author's bio, quote count, and other details.",
        "tags": [
          "Authors"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique author identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Author object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Author"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Author not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Quote": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "content": {
            "type": "string",
            "description": "The quote text"
          },
          "author": {
            "type": "string",
            "description": "Author display name"
          },
          "authorSlug": {
            "type": "string",
            "description": "Author slug for URL-friendly identification"
          },
          "length": {
            "type": "integer",
            "description": "Character count of the quote"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags associated with the quote"
          },
          "dateAdded": {
            "type": "string",
            "description": "Date the quote was added"
          },
          "dateModified": {
            "type": "string",
            "description": "Date the quote was last modified"
          }
        },
        "required": [
          "_id",
          "content",
          "author"
        ]
      },
      "Author": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Author name"
          },
          "slug": {
            "type": "string",
            "description": "URL-friendly slug"
          },
          "bio": {
            "type": "string",
            "description": "Brief biography"
          },
          "description": {
            "type": "string",
            "description": "Short description of the author"
          },
          "link": {
            "type": "string",
            "description": "URL to more information about the author"
          },
          "quoteCount": {
            "type": "integer",
            "description": "Number of quotes by this author"
          },
          "dateAdded": {
            "type": "string",
            "description": "Date the author was added"
          },
          "dateModified": {
            "type": "string",
            "description": "Date the author was last modified"
          }
        },
        "required": [
          "_id",
          "name",
          "slug"
        ]
      },
      "Tag": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Tag name"
          },
          "slug": {
            "type": "string",
            "description": "URL-friendly slug"
          },
          "quoteCount": {
            "type": "integer",
            "description": "Number of quotes with this tag"
          },
          "dateAdded": {
            "type": "string",
            "description": "Date the tag was added"
          },
          "dateModified": {
            "type": "string",
            "description": "Date the tag was last modified"
          }
        },
        "required": [
          "_id",
          "name"
        ]
      },
      "PaginatedQuotes": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of results on this page"
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of matching results"
          },
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages"
          },
          "lastItemIndex": {
            "type": "integer",
            "description": "Index of the last item on this page"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Quote"
            },
            "description": "Array of quote objects"
          }
        }
      },
      "PaginatedAuthors": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of results on this page"
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of matching results"
          },
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages"
          },
          "lastItemIndex": {
            "type": "integer",
            "description": "Index of the last item on this page"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Author"
            },
            "description": "Array of author objects"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "statusMessage": {
            "type": "string",
            "description": "Status message"
          }
        }
      }
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Quotes",
      "description": "Endpoints for fetching and listing quotes"
    },
    {
      "name": "Authors",
      "description": "Endpoints for listing and browsing authors"
    },
    {
      "name": "Search",
      "description": "Full-text search endpoints for quotes and authors"
    },
    {
      "name": "Tags",
      "description": "Endpoints for browsing quote tags"
    }
  ]
}