{
  "openapi": "3.0.3",
  "info": {
    "title": "Labelbox Foundry API",
    "version": "1.0.0",
    "description": "Labelbox Foundry API for creating prediction jobs, retrieving results, and searching predictions using AI/ML models.",
    "x-jentic-source-url": "https://docs.labelbox.com/docs/run-foundry-apps",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.labelbox.com/api/v1"
    }
  ],
  "paths": {
    "/foundry-app/{appId}/predict": {
      "post": {
        "operationId": "createPrediction",
        "summary": "Create prediction job",
        "tags": [
          "Predictions"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "dataRow",
                      "text",
                      "image"
                    ]
                  },
                  "id": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "createDataRow": {
                    "type": "boolean"
                  },
                  "addToModelRun": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prediction job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredictionJob"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create prediction job"
      }
    },
    "/foundry-app/prediction/{id}": {
      "get": {
        "operationId": "getPredictionResult",
        "summary": "Get prediction results",
        "tags": [
          "Predictions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prediction result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredictionResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get prediction results"
      }
    },
    "/foundry-app/{appId}/predictions": {
      "post": {
        "operationId": "searchPredictions",
        "summary": "Search prediction jobs",
        "tags": [
          "Predictions"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "modelRunId": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "createdFrom": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "createdTo": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "limit": {
                    "type": "integer"
                  },
                  "cursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prediction list"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Search prediction jobs"
      }
    }
  },
  "components": {
    "schemas": {
      "PredictionJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PredictionResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "predictions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Predictions"
    }
  ]
}
