{
  "openapi": "3.0.3",
  "info": {
    "title": "Gupshup WhatsApp API",
    "version": "1.0.0",
    "description": "Gupshup WhatsApp Business API for sending messages, managing templates, handling subscriptions, and managing business profiles on WhatsApp.",
    "x-jentic-source-url": "https://docs.gupshup.io/reference"
  },
  "servers": [
    {
      "url": "https://api.gupshup.io"
    }
  ],
  "paths": {
    "/wa/api/v1/msg": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a WhatsApp message",
        "description": "Send a message to a user on WhatsApp. Supports text, image, document, audio, video, sticker, location, list, quick replies, catalog, and template messages.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/wa/api/v1/msg/mark-as-read": {
      "put": {
        "operationId": "markMessagesAsRead",
        "summary": "Mark Messages As Read",
        "tags": [
          "Inbound Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messageId": {
                    "type": "string"
                  },
                  "channelId": {
                    "type": "string"
                  }
                },
                "required": [
                  "messageId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages marked as read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wa/app/{appId}/subscription": {
      "post": {
        "operationId": "addSubscription",
        "summary": "Add Subscription for app",
        "description": "Register a webhook subscription for receiving events.",
        "tags": [
          "Subscription Management"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getSubscription",
        "summary": "Get specific subscription for app",
        "tags": [
          "Subscription Management"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateSubscription",
        "summary": "Update an existing subscription",
        "tags": [
          "Subscription Management"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAllSubscriptions",
        "summary": "Delete all subscriptions for an app",
        "tags": [
          "Subscription Management"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All subscriptions deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wa/app/{appId}/template/list": {
      "get": {
        "operationId": "getAllTemplates",
        "summary": "Get All Templates For An App",
        "tags": [
          "Template Management"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wa/app/{appId}/template/{templateId}": {
      "get": {
        "operationId": "getTemplateById",
        "summary": "Get Template By Template ID",
        "tags": [
          "Template Management"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wa/app/{appId}/business/profile": {
      "get": {
        "operationId": "getBusinessDetails",
        "summary": "Get Business Details",
        "tags": [
          "Business Profile"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business profile details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateBusinessProfile",
        "summary": "Create/Update Business Profile Details",
        "tags": [
          "Business Profile"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessProfileUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wa/app/{appId}/business/profile/about": {
      "get": {
        "operationId": "getBusinessProfileAbout",
        "summary": "Get Business Profile About",
        "tags": [
          "Business Profile"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business about info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateBusinessProfileAbout",
        "summary": "Create/Update Business Profile About",
        "tags": [
          "Business Profile"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "about": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "About updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wa/app/{appId}/business/profile/waba": {
      "get": {
        "operationId": "getBusinessWABADetails",
        "summary": "Get Business Profile WABA Details",
        "tags": [
          "Business Profile"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "WABA details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wa/app/{appId}/business/profile/photo": {
      "get": {
        "operationId": "getBusinessProfilePhoto",
        "summary": "Get Business Profile Photo",
        "tags": [
          "Business Profile"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile photo details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateBusinessProfilePhoto",
        "summary": "Update Business Profile Photo",
        "tags": [
          "Business Profile"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "photo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Photo updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wa/app/{appId}/user/block": {
      "post": {
        "operationId": "blockUser",
        "summary": "Block User",
        "tags": [
          "User Management"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phoneNumber": {
                    "type": "string"
                  }
                },
                "required": [
                  "phoneNumber"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User blocked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "Gupshup API key for authentication"
      }
    },
    "schemas": {
      "SendMessageRequest": {
        "type": "object",
        "required": [
          "channel",
          "source",
          "destination",
          "message"
        ],
        "properties": {
          "channel": {
            "type": "string",
            "description": "Channel name, e.g., 'whatsapp'"
          },
          "source": {
            "type": "string",
            "description": "Sender phone number"
          },
          "destination": {
            "type": "string",
            "description": "Recipient phone number"
          },
          "message": {
            "type": "string",
            "description": "Message content as JSON string"
          },
          "src.name": {
            "type": "string",
            "description": "App name registered on Gupshup"
          },
          "disablePreview": {
            "type": "boolean",
            "description": "Disable link preview"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "messageId": {
            "type": "string"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SubscriptionRequest": {
        "type": "object",
        "properties": {
          "callbackUrl": {
            "type": "string",
            "description": "Webhook callback URL"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of event types to subscribe to"
          }
        }
      },
      "TemplateListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "elementName": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "languageCode": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "templateType": {
            "type": "string"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedOn": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BusinessProfileUpdate": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "vertical": {
            "type": "string"
          },
          "websites": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Messages",
      "description": "Send outbound messages via WhatsApp"
    },
    {
      "name": "Session Messages",
      "description": "Send session (free-form) messages"
    },
    {
      "name": "Template Messages",
      "description": "Send template messages"
    },
    {
      "name": "Template Management",
      "description": "Manage message templates"
    },
    {
      "name": "Inbound Messages",
      "description": "Manage inbound message status"
    },
    {
      "name": "Subscription Management",
      "description": "Manage webhook subscriptions"
    },
    {
      "name": "Business Profile",
      "description": "Manage WhatsApp business profile"
    },
    {
      "name": "User Management",
      "description": "Block/unblock users"
    }
  ]
}