{
  "openapi": "3.0.3",
  "info": {
    "title": "Textkernel Parser API",
    "version": "1.0.0",
    "description": "CV/Resume and job document parsing API that extracts structured data from documents.",
    "x-jentic-source-url": "https://developer.textkernel.com/Parser/master/quickstart/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://rest.textkernel.com"
    }
  ],
  "paths": {
    "/match/extract.do": {
      "post": {
        "operationId": "parseDocument",
        "summary": "Parse a document",
        "description": "Processes CVs/resumes and job documents, returning parsed data",
        "tags": [
          "Parsing"
        ],
        "parameters": [
          {
            "name": "useJsonErrorMsg",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "account",
                  "username",
                  "password",
                  "uploaded_file"
                ],
                "properties": {
                  "account": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "uploaded_file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParsedDocument"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ParsedDocument": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Parsing"
    }
  ]
}
