{
  "openapi": "3.0.3",
  "info": {
    "title": "ClinicalTrials.gov Data API",
    "description": "Public API for accessing clinical trial data from ClinicalTrials.gov. Provides endpoints for searching studies, retrieving study details, field metadata, and database statistics.",
    "version": "2.0.5",
    "contact": {
      "name": "ClinicalTrials.gov",
      "url": "https://clinicaltrials.gov"
    },
    "license": {
      "name": "Public Domain",
      "url": "https://clinicaltrials.gov/about-site/terms-conditions"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingbyrnemc-sudo/openapis-specs/refs/heads/import/clinicaltrials.gov/clinicaltrials-data-api/2.0.5/openapi.json"
  },
  "servers": [
    {
      "url": "https://clinicaltrials.gov/api/v2",
      "description": "Production server"
    }
  ],
  "paths": {
    "/studies": {
      "get": {
        "operationId": "listStudies",
        "summary": "List clinical trial studies",
        "description": "Search and list clinical trial studies with optional filtering, pagination, and field selection.",
        "tags": [
          "Studies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "name": "query.cond",
            "in": "query",
            "description": "Condition or disease search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.term",
            "in": "query",
            "description": "General search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.intr",
            "in": "query",
            "description": "Intervention or treatment search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.titles",
            "in": "query",
            "description": "Search within study titles",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.outc",
            "in": "query",
            "description": "Outcome measure search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.spons",
            "in": "query",
            "description": "Sponsor search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.lead",
            "in": "query",
            "description": "Lead sponsor search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query.id",
            "in": "query",
            "description": "Study NCT ID search term",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FilterOverallStatus"
          },
          {
            "$ref": "#/components/parameters/FilterGeo"
          },
          {
            "name": "filter.ids",
            "in": "query",
            "description": "Filter by specific study IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.advanced",
            "in": "query",
            "description": "Advanced filter expression",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countTotal",
            "in": "query",
            "description": "Whether to return the total count of matching studies",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/Format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with a list of studies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StudyListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/studies/{nctId}": {
      "get": {
        "operationId": "getStudy",
        "summary": "Get a specific study by NCT ID",
        "description": "Retrieve detailed information for a single clinical trial study identified by its NCT ID.",
        "tags": [
          "Studies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NctId"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with study details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Study"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/studies/metadata": {
      "get": {
        "operationId": "getStudyMetadata",
        "summary": "Get API field metadata",
        "description": "Retrieve metadata about available fields, including names, types, and descriptions.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Successful response with field definitions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMetadataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stats/size": {
      "get": {
        "operationId": "getDatabaseSize",
        "summary": "Get database size statistics",
        "description": "Retrieve statistics about the number and size of studies in the database.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterOverallStatus"
          },
          {
            "$ref": "#/components/parameters/FilterGeo"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with database size statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SizeStatisticsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/stats/fieldValues/{fieldName}": {
      "get": {
        "operationId": "getFieldValues",
        "summary": "Get value counts for a specific field",
        "description": "Retrieve the distribution of values for a given field across studies.",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "fieldName",
            "in": "path",
            "required": true,
            "description": "The name of the field to retrieve value counts for",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FilterOverallStatus"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with field value counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldValuesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/stats/listSizes": {
      "get": {
        "operationId": "getListSizes",
        "summary": "Get list sizes for array fields",
        "description": "Retrieve statistics about the sizes of array-type fields across studies.",
        "tags": [
          "Statistics"
        ],
        "responses": {
          "200": {
            "description": "Successful response with list size statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSizesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "operationId": "getVersion",
        "summary": "Get API version",
        "description": "Retrieve the current API version and the timestamp of the last data update.",
        "tags": [
          "Metadata"
        ],
        "responses": {
          "200": {
            "description": "Successful response with version information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "NctId": {
        "name": "nctId",
        "in": "path",
        "required": true,
        "description": "The NCT ID of the study (e.g., NCT00000102)",
        "schema": {
          "type": "string",
          "pattern": "^NCT[0-9]{8}$",
          "example": "NCT00000102"
        }
      },
      "PageSize": {
        "name": "pageSize",
        "in": "query",
        "description": "Number of studies per page (default varies by endpoint)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000
        }
      },
      "PageToken": {
        "name": "pageToken",
        "in": "query",
        "description": "Token for retrieving the next page of results",
        "schema": {
          "type": "string"
        }
      },
      "Fields": {
        "name": "fields",
        "in": "query",
        "description": "Comma-separated list of field names to include in the response",
        "schema": {
          "type": "string"
        }
      },
      "Format": {
        "name": "format",
        "in": "query",
        "description": "Response format",
        "schema": {
          "type": "string",
          "enum": [
            "json",
            "csv"
          ],
          "default": "json"
        }
      },
      "FilterOverallStatus": {
        "name": "filter.overallStatus",
        "in": "query",
        "description": "Comma-separated list of overall statuses to filter by (e.g., RECRUITING,COMPLETED)",
        "schema": {
          "type": "string"
        }
      },
      "FilterGeo": {
        "name": "filter.geo",
        "in": "query",
        "description": "Geographic filter expression",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "StudyListResponse": {
        "type": "object",
        "properties": {
          "studies": {
            "type": "array",
            "description": "List of study objects matching the query",
            "items": {
              "$ref": "#/components/schemas/Study"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Token to retrieve the next page of results; absent if no more pages"
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of studies matching the query; only present if countTotal=true"
          }
        },
        "required": [
          "studies"
        ]
      },
      "Study": {
        "type": "object",
        "description": "A clinical trial study record",
        "properties": {
          "protocolSection": {
            "$ref": "#/components/schemas/ProtocolSection"
          },
          "resultsSection": {
            "$ref": "#/components/schemas/ResultsSection"
          },
          "documentSection": {
            "type": "object",
            "description": "Section containing study documents and references",
            "additionalProperties": true
          },
          "derivedSection": {
            "type": "object",
            "description": "Section containing derived/computed data",
            "additionalProperties": true
          },
          "hasResults": {
            "type": "boolean",
            "description": "Whether the study has posted results"
          }
        }
      },
      "ProtocolSection": {
        "type": "object",
        "description": "Protocol information for a clinical trial study",
        "properties": {
          "identificationModule": {
            "$ref": "#/components/schemas/IdentificationModule"
          },
          "statusModule": {
            "$ref": "#/components/schemas/StatusModule"
          },
          "sponsorCollaboratorsModule": {
            "$ref": "#/components/schemas/SponsorCollaboratorsModule"
          },
          "descriptionModule": {
            "$ref": "#/components/schemas/DescriptionModule"
          },
          "conditionsModule": {
            "$ref": "#/components/schemas/ConditionsModule"
          },
          "designModule": {
            "$ref": "#/components/schemas/DesignModule"
          },
          "armsInterventionsModule": {
            "$ref": "#/components/schemas/ArmsInterventionsModule"
          },
          "outcomesModule": {
            "type": "object",
            "description": "Study outcomes information",
            "additionalProperties": true
          },
          "eligibilityModule": {
            "$ref": "#/components/schemas/EligibilityModule"
          },
          "contactsLocationsModule": {
            "type": "object",
            "description": "Contact and location information",
            "additionalProperties": true
          },
          "referencesModule": {
            "type": "object",
            "description": "References and links",
            "additionalProperties": true
          }
        }
      },
      "IdentificationModule": {
        "type": "object",
        "properties": {
          "nctId": {
            "type": "string",
            "description": "The NCT identifier for the study",
            "pattern": "^NCT[0-9]{8}$"
          },
          "orgStudyIdInfo": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "organization": {
            "type": "object",
            "properties": {
              "fullName": {
                "type": "string"
              },
              "class": {
                "type": "string"
              }
            }
          },
          "briefTitle": {
            "type": "string",
            "description": "Brief title of the study"
          },
          "officialTitle": {
            "type": "string",
            "description": "Official title of the study"
          },
          "acronym": {
            "type": "string",
            "description": "Study acronym"
          }
        }
      },
      "StatusModule": {
        "type": "object",
        "properties": {
          "statusVerifiedDate": {
            "type": "string",
            "description": "Date the status was last verified"
          },
          "overallStatus": {
            "type": "string",
            "description": "Current overall status of the study",
            "enum": [
              "ACTIVE_NOT_RECRUITING",
              "COMPLETED",
              "ENROLLING_BY_INVITATION",
              "NOT_YET_RECRUITING",
              "RECRUITING",
              "SUSPENDED",
              "TERMINATED",
              "WITHDRAWN",
              "AVAILABLE",
              "NO_LONGER_AVAILABLE",
              "TEMPORARILY_NOT_AVAILABLE",
              "APPROVED_FOR_MARKETING",
              "WITHHELD",
              "UNKNOWN"
            ]
          },
          "startDateStruct": {
            "$ref": "#/components/schemas/DateStruct"
          },
          "completionDateStruct": {
            "$ref": "#/components/schemas/DateStruct"
          },
          "lastUpdateSubmitDate": {
            "type": "string",
            "description": "Date of the last update submission"
          },
          "studyFirstSubmitDate": {
            "type": "string",
            "description": "Date the study was first submitted"
          },
          "studyFirstPostDateStruct": {
            "$ref": "#/components/schemas/DateStruct"
          }
        }
      },
      "DateStruct": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "The date value"
          },
          "type": {
            "type": "string",
            "description": "Type of date (ACTUAL or ESTIMATED)",
            "enum": [
              "ACTUAL",
              "ESTIMATED"
            ]
          }
        }
      },
      "SponsorCollaboratorsModule": {
        "type": "object",
        "properties": {
          "responsibleParty": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "investigatorFullName": {
                "type": "string"
              },
              "investigatorTitle": {
                "type": "string"
              },
              "investigatorAffiliation": {
                "type": "string"
              }
            }
          },
          "leadSponsor": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "class": {
                "type": "string"
              }
            }
          },
          "collaborators": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "class": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DescriptionModule": {
        "type": "object",
        "properties": {
          "briefSummary": {
            "type": "string",
            "description": "Brief summary of the study"
          },
          "detailedDescription": {
            "type": "string",
            "description": "Detailed description of the study"
          }
        }
      },
      "ConditionsModule": {
        "type": "object",
        "properties": {
          "conditions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of conditions or diseases studied"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Keywords associated with the study"
          }
        }
      },
      "DesignModule": {
        "type": "object",
        "properties": {
          "studyType": {
            "type": "string",
            "description": "Type of study (e.g., INTERVENTIONAL, OBSERVATIONAL)"
          },
          "phases": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Study phases"
          },
          "designInfo": {
            "type": "object",
            "properties": {
              "allocation": {
                "type": "string"
              },
              "interventionModel": {
                "type": "string"
              },
              "primaryPurpose": {
                "type": "string"
              },
              "maskingInfo": {
                "type": "object",
                "properties": {
                  "masking": {
                    "type": "string"
                  },
                  "whoMasked": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "enrollmentInfo": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "type": {
                "type": "string"
              }
            }
          }
        }
      },
      "ArmsInterventionsModule": {
        "type": "object",
        "properties": {
          "armGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "interventionNames": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "interventions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "armGroupLabels": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "otherNames": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "EligibilityModule": {
        "type": "object",
        "properties": {
          "eligibilityCriteria": {
            "type": "string",
            "description": "Text describing eligibility criteria"
          },
          "healthyVolunteers": {
            "type": "boolean",
            "description": "Whether healthy volunteers are accepted"
          },
          "sex": {
            "type": "string",
            "description": "Sex eligibility"
          },
          "minimumAge": {
            "type": "string",
            "description": "Minimum age for eligibility"
          },
          "maximumAge": {
            "type": "string",
            "description": "Maximum age for eligibility"
          },
          "stdAges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Standard age groups"
          }
        }
      },
      "ResultsSection": {
        "type": "object",
        "description": "Results data for completed studies",
        "properties": {
          "participantFlowModule": {
            "type": "object",
            "description": "Participant flow information",
            "additionalProperties": true
          },
          "baselineCharacteristicsModule": {
            "type": "object",
            "description": "Baseline characteristics data",
            "additionalProperties": true
          },
          "outcomeMeasuresModule": {
            "type": "object",
            "description": "Outcome measures and results",
            "additionalProperties": true
          },
          "adverseEventsModule": {
            "type": "object",
            "description": "Adverse events data",
            "additionalProperties": true
          },
          "moreInfoModule": {
            "type": "object",
            "description": "Additional results information",
            "additionalProperties": true
          }
        }
      },
      "FieldMetadataResponse": {
        "type": "array",
        "description": "List of field definitions available in the API",
        "items": {
          "$ref": "#/components/schemas/FieldDefinition"
        }
      },
      "FieldDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Dot-delimited field name"
          },
          "type": {
            "type": "string",
            "description": "Data type of the field"
          },
          "description": {
            "type": "string",
            "description": "Human-readable description"
          },
          "isArray": {
            "type": "boolean",
            "description": "Whether the field is an array type"
          },
          "piece": {
            "type": "string",
            "description": "Which section the field belongs to"
          },
          "sourceType": {
            "type": "string",
            "description": "Source type of the field"
          }
        }
      },
      "SizeStatisticsResponse": {
        "type": "object",
        "properties": {
          "totalStudies": {
            "type": "integer",
            "description": "Total number of studies in the database"
          },
          "averageSizeBytes": {
            "type": "integer",
            "description": "Average size of a study record in bytes"
          },
          "percentiles": {
            "type": "object",
            "description": "Size percentile distribution",
            "additionalProperties": {
              "type": "integer"
            }
          },
          "ranges": {
            "type": "array",
            "description": "Size range distribution",
            "items": {
              "$ref": "#/components/schemas/SizeRange"
            }
          }
        }
      },
      "SizeRange": {
        "type": "object",
        "properties": {
          "minBytes": {
            "type": "integer",
            "description": "Minimum size in bytes for this range"
          },
          "maxBytes": {
            "type": "integer",
            "description": "Maximum size in bytes for this range"
          },
          "count": {
            "type": "integer",
            "description": "Number of studies in this size range"
          }
        }
      },
      "FieldValuesResponse": {
        "type": "array",
        "description": "List of field value counts",
        "items": {
          "$ref": "#/components/schemas/FieldValueCount"
        }
      },
      "FieldValueCount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The field value"
          },
          "count": {
            "type": "integer",
            "description": "Number of studies with this value"
          }
        }
      },
      "ListSizesResponse": {
        "type": "array",
        "description": "List size statistics for array fields",
        "items": {
          "$ref": "#/components/schemas/ListSizeEntry"
        }
      },
      "ListSizeEntry": {
        "type": "object",
        "properties": {
          "fieldName": {
            "type": "string",
            "description": "Name of the array field"
          },
          "maxSize": {
            "type": "integer",
            "description": "Maximum list size observed"
          },
          "avgSize": {
            "type": "number",
            "format": "double",
            "description": "Average list size"
          },
          "percentiles": {
            "type": "object",
            "description": "Size percentile distribution",
            "additionalProperties": {
              "type": "integer"
            }
          }
        }
      },
      "VersionResponse": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "string",
            "description": "Current API version string"
          },
          "dataTimestamp": {
            "type": "string",
            "description": "Timestamp of the last data update"
          }
        },
        "required": [
          "apiVersion",
          "dataTimestamp"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Studies",
      "description": "Endpoints for searching and retrieving clinical trial studies"
    },
    {
      "name": "Statistics",
      "description": "Endpoints for database statistics and field value distributions"
    },
    {
      "name": "Metadata",
      "description": "Endpoints for API metadata and version information"
    }
  ],
  "externalDocs": {
    "description": "ClinicalTrials.gov Data API Documentation",
    "url": "https://clinicaltrials.gov/data-api/api"
  }
}