{
  "openapi": "3.0.3",
  "info": {
    "title": "ezeep Blue Printing API",
    "version": "1.0.0",
    "description": "ezeep Blue is a cloud printing platform. The API allows printing documents, managing printers, users, and print configurations.",
    "x-jentic-source-url": "https://docs.ezeep.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://printapi.ezeep.com/sfapi",
      "description": "ezeep Blue Print API"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Printing",
      "description": "Print documents"
    },
    {
      "name": "Configuration",
      "description": "Printer configuration and status"
    },
    {
      "name": "Users",
      "description": "User management"
    }
  ],
  "paths": {
    "/GetConfiguration": {
      "get": {
        "operationId": "getConfiguration",
        "summary": "Get available printers",
        "description": "Returns available printers and their configuration for the authenticated user.",
        "tags": [
          "Configuration"
        ],
        "responses": {
          "200": {
            "description": "Printer configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrinterConfiguration"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/GetPrinterProperties": {
      "get": {
        "operationId": "getPrinterProperties",
        "summary": "Get printer properties",
        "description": "Returns detailed properties for a specific printer.",
        "tags": [
          "Configuration"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Printer ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Printer properties",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrinterProperties"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Printer not found"
          }
        }
      }
    },
    "/PrepareUpload": {
      "get": {
        "operationId": "prepareUpload",
        "summary": "Prepare file upload",
        "description": "Get a SAS URI for uploading a file to Azure Blob storage before printing.",
        "tags": [
          "Printing"
        ],
        "responses": {
          "200": {
            "description": "Upload prepared",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrepareUploadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/Upload": {
      "put": {
        "operationId": "uploadFile",
        "summary": "Upload file for printing",
        "description": "Upload a file to the SAS URI obtained from PrepareUpload.",
        "tags": [
          "Printing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/Print": {
      "post": {
        "operationId": "printFile",
        "summary": "Print a file",
        "description": "Submit a print job for a previously uploaded file.",
        "tags": [
          "Printing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Print job submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/Status": {
      "get": {
        "operationId": "getPrintJobStatus",
        "summary": "Get print job status",
        "description": "Check the status of a submitted print job.",
        "tags": [
          "Printing"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Print job ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Print job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrintJobStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Job not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PrinterConfiguration": {
        "type": "object",
        "properties": {
          "Printers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Printer"
            }
          }
        }
      },
      "Printer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "online": {
            "type": "boolean"
          }
        }
      },
      "PrinterProperties": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "color": {
            "type": "boolean"
          },
          "duplex": {
            "type": "boolean"
          },
          "paper": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PrepareUploadResponse": {
        "type": "object",
        "properties": {
          "sasUri": {
            "type": "string",
            "format": "uri"
          },
          "fileid": {
            "type": "string"
          }
        }
      },
      "PrintRequest": {
        "type": "object",
        "required": [
          "fileid",
          "printerid",
          "type"
        ],
        "properties": {
          "fileid": {
            "type": "string"
          },
          "printerid": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "File type (e.g. txt, pdf)"
          },
          "alias": {
            "type": "string",
            "description": "Display name for print job"
          },
          "properties": {
            "type": "object",
            "properties": {
              "paper": {
                "type": "string"
              },
              "color": {
                "type": "boolean"
              },
              "duplex": {
                "type": "boolean"
              },
              "copies": {
                "type": "integer",
                "minimum": 1
              },
              "orientation": {
                "type": "string",
                "enum": [
                  "portrait",
                  "landscape"
                ]
              }
            }
          }
        }
      },
      "PrintResponse": {
        "type": "object",
        "properties": {
          "jobid": {
            "type": "string"
          }
        }
      },
      "PrintJobStatus": {
        "type": "object",
        "properties": {
          "jobid": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://example.com/oauth/authorize",
            "scopes": {}
          }
        }
      }
    }
  }
}
