{
  "openapi": "3.0.3",
  "info": {
    "title": "MachineTutors AI API",
    "description": "MachineTutors provides AI-powered computer vision and data solutions including object classification, detection, visual tracking, visual search, content moderation, and product tagging.",
    "version": "1.0.0",
    "contact": {
      "name": "MachineTutors",
      "url": "https://www.machinetutors.com"
    },
    "x-jentic-source-url": "https://www.machinetutors.com/portfolio/MT_api.html"
  },
  "servers": [
    {
      "url": "https://api.machinetutors.com/v1",
      "description": "MachineTutors API v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Classification",
      "description": "Object classification and categorization"
    },
    {
      "name": "Detection",
      "description": "Object detection in images"
    },
    {
      "name": "Content Moderation",
      "description": "Automated content moderation"
    },
    {
      "name": "Visual Search",
      "description": "Visual similarity search"
    },
    {
      "name": "Product Tagging",
      "description": "Automated product tagging"
    }
  ],
  "paths": {
    "/classify": {
      "post": {
        "tags": ["Classification"],
        "summary": "Classify objects in an image",
        "description": "Analyzes an image and returns classification labels with confidence scores.",
        "operationId": "classifyImage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful classification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassificationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/detect": {
      "post": {
        "tags": ["Detection"],
        "summary": "Detect objects in an image",
        "description": "Detects objects in an image and returns bounding boxes with labels and confidence scores.",
        "operationId": "detectObjects",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful detection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/moderate": {
      "post": {
        "tags": ["Content Moderation"],
        "summary": "Moderate image content",
        "description": "Analyzes image content for inappropriate or unsafe material and returns moderation labels.",
        "operationId": "moderateContent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful moderation analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModerationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/search": {
      "post": {
        "tags": ["Visual Search"],
        "summary": "Visual similarity search",
        "description": "Searches for visually similar images in the indexed catalog.",
        "operationId": "visualSearch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/tag": {
      "post": {
        "tags": ["Product Tagging"],
        "summary": "Auto-tag products",
        "description": "Automatically generates tags for product images based on visual attributes.",
        "operationId": "tagProduct",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful tagging",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaggingResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authenticating requests to MachineTutors API."
      }
    },
    "schemas": {
      "ImageInput": {
        "type": "object",
        "properties": {
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the image to analyze"
          },
          "image_base64": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded image data"
          }
        },
        "description": "Provide either image_url or image_base64"
      },
      "DetectionInput": {
        "type": "object",
        "properties": {
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the image to analyze"
          },
          "image_base64": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded image data"
          },
          "confidence_threshold": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.5,
            "description": "Minimum confidence threshold for detections"
          }
        }
      },
      "SearchInput": {
        "type": "object",
        "properties": {
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the query image"
          },
          "image_base64": {
            "type": "string",
            "format": "byte",
            "description": "Base64-encoded query image data"
          },
          "limit": {
            "type": "integer",
            "default": 10,
            "description": "Maximum number of results to return"
          }
        }
      },
      "ClassificationResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number",
                  "format": "float"
                }
              }
            }
          }
        }
      },
      "DetectionResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "objects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number",
                  "format": "float"
                },
                "bounding_box": {
                  "$ref": "#/components/schemas/BoundingBox"
                }
              }
            }
          }
        }
      },
      "BoundingBox": {
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "description": "X coordinate of top-left corner"
          },
          "y": {
            "type": "number",
            "description": "Y coordinate of top-left corner"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          }
        }
      },
      "ModerationResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "is_safe": {
            "type": "boolean"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number",
                  "format": "float"
                }
              }
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "image_id": {
                  "type": "string"
                },
                "similarity_score": {
                  "type": "number",
                  "format": "float"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "TaggingResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "confidence": {
                  "type": "number",
                  "format": "float"
                },
                "category": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimitExceeded": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
