{
  "openapi": "3.0.3",
  "info": {
    "title": "Focus Commit API",
    "description": "Focus Commit is a productivity app on Windows that uses Pomodoro techniques, along with Kanban board and Getting Things Done method. The API allows creating tasks and projects programmatically.",
    "version": "1.0.0",
    "contact": {
      "name": "Focus Commit",
      "url": "https://focuscommit.com"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/focuscommit.com/focus-commit-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://ap-southeast-1.aws.data.mongodb-api.com/app/focuscommit-realm-wdwek/endpoint",
      "description": "Production"
    }
  ],
  "paths": {
    "/me": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Validate API key",
        "operationId": "validateApiKey",
        "description": "Verify the validity of the provided API key.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Your API key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyValidation"
                }
              }
            }
          }
        }
      }
    },
    "/addTask": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create a task",
        "operationId": "createTask",
        "description": "Generate a new task entry.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "task_name"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Your API key"
                  },
                  "task_name": {
                    "type": "string",
                    "description": "Name of the task to create"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          }
        }
      }
    },
    "/addProject": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a project",
        "operationId": "createProject",
        "description": "Generate a new project entry.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "project_name"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Your API key"
                  },
                  "project_name": {
                    "type": "string",
                    "description": "Name of the project to create"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKeyValidation": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "task_name": {
            "type": "string"
          },
          "created": {
            "type": "boolean"
          }
        }
      },
      "ProjectResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "project_name": {
            "type": "string"
          },
          "created": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "API key validation"
    },
    {
      "name": "Tasks",
      "description": "Task management"
    },
    {
      "name": "Projects",
      "description": "Project management"
    }
  ],
  "x-jentic-source-url": "https://focuscommit.com/api-documentation/"
}