{
  "openapi": "3.0.3",
  "info": {
    "title": "pawaPay Mobile Money API",
    "description": "pawaPay is a mobile money payment aggregator offering deposits, payouts, refunds, and toolkit endpoints across 20+ African countries.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://docs.pawapay.io/v2/api-reference/deposits/initiate-deposit"
  },
  "servers": [
    {
      "url": "https://api.pawapay.io",
      "description": "Production"
    },
    {
      "url": "https://api.sandbox.pawapay.io",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/v2/deposits": {
      "post": {
        "operationId": "initiateDeposit",
        "summary": "Initiate a deposit",
        "description": "Requests payment from a customer. The API call is idempotent - duplicate requests with the same depositId are safely ignored.",
        "tags": [
          "Deposits"
        ],
        "parameters": [
          {
            "name": "Content-Digest",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "SHA-256 or SHA-512 hash of request body"
          },
          {
            "name": "Signature",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Request signature per RFC-9421"
          },
          {
            "name": "Signature-Input",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Signature input per RFC-9421"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositInitiationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deposit request processed. Check status field for result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositCreationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request format or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure"
          }
        }
      }
    },
    "/v2/deposits/{depositId}": {
      "get": {
        "operationId": "checkDepositStatus",
        "summary": "Check deposit status",
        "description": "Retrieve the current status of a deposit using its unique identifier.",
        "tags": [
          "Deposits"
        ],
        "parameters": [
          {
            "name": "depositId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Unique deposit identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositSearchResult"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure"
          }
        }
      }
    },
    "/v2/payouts": {
      "post": {
        "operationId": "initiatePayout",
        "summary": "Initiate a payout",
        "description": "Pay a customer. This endpoint is idempotent - duplicate submissions with the same payoutId are safely ignored.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "name": "Content-Digest",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "SHA-256 or SHA-512 hash of request body"
          },
          {
            "name": "Signature",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Request signature per RFC-9421"
          },
          {
            "name": "Signature-Input",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Signature input per RFC-9421"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutInitiationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout request processed. Check status field for result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutCreationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request format or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure"
          }
        }
      }
    },
    "/v2/payouts/{payoutId}": {
      "get": {
        "operationId": "checkPayoutStatus",
        "summary": "Check payout status",
        "description": "Retrieve the current status of a payout using its unique identifier.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "name": "payoutId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Unique payout identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Payout search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutSearchResult"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure"
          }
        }
      }
    },
    "/v2/refunds": {
      "post": {
        "operationId": "initiateRefund",
        "summary": "Initiate a refund",
        "description": "Refund a previously completed deposit. This is an asynchronous operation.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "Content-Digest",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "SHA-256 or SHA-512 hash of request body"
          },
          {
            "name": "Signature",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Request signature per RFC-9421"
          },
          {
            "name": "Signature-Input",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Signature input per RFC-9421"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundInitiationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund request processed. Check status field for result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundCreationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request format or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure"
          }
        }
      }
    },
    "/v2/refunds/{refundId}": {
      "get": {
        "operationId": "checkRefundStatus",
        "summary": "Check refund status",
        "description": "Retrieve the current status of a refund using its unique identifier.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "refundId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Unique refund identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Refund search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundSearchResult"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure"
          }
        }
      }
    },
    "/v2/active-conf": {
      "get": {
        "operationId": "getActiveConfiguration",
        "summary": "Get active configuration",
        "description": "Retrieve countries and providers configured for your account, including supported currencies, transaction limits, and authorization types.",
        "tags": [
          "Toolkit"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 alpha-3 country code to filter results"
          },
          {
            "name": "operationType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "DEPOSIT",
                "PAYOUT",
                "REMITTANCE",
                "PUSH_DEPOSIT",
                "REFUND",
                "NAME_LOOKUP"
              ]
            },
            "description": "Filter by operation type"
          }
        ],
        "responses": {
          "200": {
            "description": "Active configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveConfiguration"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure"
          }
        }
      }
    },
    "/v2/predict-provider": {
      "post": {
        "operationId": "predictProvider",
        "summary": "Predict provider for a phone number",
        "description": "Determines the mobile money operator for a given phone number with an average misprediction rate of 0.12%.",
        "tags": [
          "Toolkit"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PredictProviderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider prediction result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PredictProviderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid phone number",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure"
          }
        }
      }
    },
    "/v2/availability": {
      "get": {
        "operationId": "getProviderAvailability",
        "summary": "Get provider availability",
        "description": "Retrieve the current processing status of payment providers, grouped by country.",
        "tags": [
          "Toolkit"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO 3166-1 alpha-3 country code"
          },
          {
            "name": "operationType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "DEPOSIT",
                "PAYOUT",
                "REFUND",
                "REMITTANCE"
              ]
            },
            "description": "Filter by operation type"
          }
        ],
        "responses": {
          "200": {
            "description": "Provider availability by country",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CountryAvailability"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT bearer token authentication"
      }
    },
    "schemas": {
      "AccountDetails": {
        "type": "object",
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "Phone number with country code"
          },
          "provider": {
            "type": "string",
            "description": "Mobile money provider identifier"
          }
        },
        "required": [
          "phoneNumber",
          "provider"
        ]
      },
      "Payer": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "MMO"
            ],
            "description": "Account type"
          },
          "accountDetails": {
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "required": [
          "type",
          "accountDetails"
        ]
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "MMO"
            ],
            "description": "Account type"
          },
          "accountDetails": {
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "required": [
          "type",
          "accountDetails"
        ]
      },
      "MetadataItem": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "isPII": {
            "type": "boolean"
          }
        },
        "required": [
          "key",
          "value"
        ]
      },
      "FailureReason": {
        "type": "object",
        "properties": {
          "failureCode": {
            "type": "string"
          },
          "failureMessage": {
            "type": "string"
          }
        }
      },
      "DepositInitiationRequest": {
        "type": "object",
        "required": [
          "depositId",
          "payer",
          "amount",
          "currency"
        ],
        "properties": {
          "depositId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique payment identifier"
          },
          "payer": {
            "$ref": "#/components/schemas/Payer"
          },
          "amount": {
            "type": "string",
            "description": "Transaction amount"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "preAuthorisationCode": {
            "type": "string",
            "description": "Pre-authorization token"
          },
          "clientReferenceId": {
            "type": "string",
            "description": "Reference to entity in your system"
          },
          "customerMessage": {
            "type": "string",
            "description": "Transaction narration"
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetadataItem"
            },
            "maxItems": 10
          }
        }
      },
      "DepositCreationResponse": {
        "type": "object",
        "properties": {
          "depositId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACCEPTED",
              "REJECTED",
              "DUPLICATE_IGNORED"
            ]
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "failureReason": {
            "$ref": "#/components/schemas/FailureReason"
          }
        }
      },
      "DepositSearchResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "FOUND",
              "NOT_FOUND"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Deposit"
          }
        }
      },
      "Deposit": {
        "type": "object",
        "properties": {
          "depositId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACCEPTED",
              "PROCESSING",
              "IN_RECONCILIATION",
              "COMPLETED",
              "FAILED"
            ]
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "payer": {
            "$ref": "#/components/schemas/Payer"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "clientReferenceId": {
            "type": "string"
          },
          "customerMessage": {
            "type": "string"
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetadataItem"
            }
          },
          "providerTransactionId": {
            "type": "string"
          },
          "failureReason": {
            "$ref": "#/components/schemas/FailureReason"
          }
        }
      },
      "PayoutInitiationRequest": {
        "type": "object",
        "required": [
          "payoutId",
          "recipient",
          "amount",
          "currency"
        ],
        "properties": {
          "payoutId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique payout identifier"
          },
          "recipient": {
            "$ref": "#/components/schemas/Recipient"
          },
          "amount": {
            "type": "string",
            "description": "Payment amount"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "clientReferenceId": {
            "type": "string"
          },
          "customerMessage": {
            "type": "string",
            "minLength": 4,
            "maxLength": 22
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetadataItem"
            },
            "maxItems": 10
          }
        }
      },
      "PayoutCreationResponse": {
        "type": "object",
        "properties": {
          "payoutId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACCEPTED",
              "REJECTED",
              "DUPLICATE_IGNORED"
            ]
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "failureReason": {
            "$ref": "#/components/schemas/FailureReason"
          }
        }
      },
      "PayoutSearchResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "FOUND",
              "NOT_FOUND"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Payout"
          }
        }
      },
      "Payout": {
        "type": "object",
        "properties": {
          "payoutId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACCEPTED",
              "ENQUEUED",
              "PROCESSING",
              "IN_RECONCILIATION",
              "COMPLETED",
              "FAILED"
            ]
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "recipient": {
            "$ref": "#/components/schemas/Recipient"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "clientReferenceId": {
            "type": "string"
          },
          "customerMessage": {
            "type": "string"
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetadataItem"
            }
          },
          "providerTransactionId": {
            "type": "string"
          },
          "failureReason": {
            "$ref": "#/components/schemas/FailureReason"
          }
        }
      },
      "RefundInitiationRequest": {
        "type": "object",
        "required": [
          "refundId",
          "depositId",
          "amount",
          "currency"
        ],
        "properties": {
          "refundId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique refund identifier"
          },
          "depositId": {
            "type": "string",
            "format": "uuid",
            "description": "Deposit to refund"
          },
          "amount": {
            "type": "string",
            "description": "Refund amount"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "clientReferenceId": {
            "type": "string"
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetadataItem"
            },
            "maxItems": 10
          }
        }
      },
      "RefundCreationResponse": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACCEPTED",
              "REJECTED",
              "DUPLICATE_IGNORED"
            ]
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "failureReason": {
            "$ref": "#/components/schemas/FailureReason"
          }
        }
      },
      "RefundSearchResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "FOUND",
              "NOT_FOUND"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/Refund"
          }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACCEPTED",
              "ENQUEUED",
              "PROCESSING",
              "IN_RECONCILIATION",
              "COMPLETED",
              "FAILED"
            ]
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "recipient": {
            "$ref": "#/components/schemas/Recipient"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "providerTransactionId": {
            "type": "string"
          },
          "customerMessage": {
            "type": "string"
          },
          "metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetadataItem"
            }
          },
          "failureReason": {
            "$ref": "#/components/schemas/FailureReason"
          }
        }
      },
      "ActiveConfiguration": {
        "type": "object",
        "properties": {
          "companyName": {
            "type": "string"
          },
          "signatureConfiguration": {
            "type": "object",
            "properties": {
              "signedRequestsOnly": {
                "type": "boolean"
              },
              "signedCallbacks": {
                "type": "boolean"
              }
            }
          },
          "countries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string"
                },
                "displayName": {
                  "type": "object",
                  "properties": {
                    "en": {
                      "type": "string"
                    },
                    "fr": {
                      "type": "string"
                    }
                  }
                },
                "prefix": {
                  "type": "string"
                },
                "flag": {
                  "type": "string",
                  "format": "uri"
                },
                "providers": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "PredictProviderRequest": {
        "type": "object",
        "required": [
          "phoneNumber"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "Phone number with country code"
          }
        }
      },
      "PredictProviderResponse": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-3 country code"
          },
          "provider": {
            "type": "string",
            "description": "Mobile money provider identifier"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Formatted phone number"
          }
        }
      },
      "CountryAvailability": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "provider": {
                  "type": "string"
                },
                "operationTypes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "operationType": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "OPERATIONAL",
                          "DELAYED",
                          "CLOSED"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "failureReason": {
            "$ref": "#/components/schemas/FailureReason"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Deposits",
      "description": "Deposit (payment collection) operations"
    },
    {
      "name": "Payouts",
      "description": "Payout (disbursement) operations"
    },
    {
      "name": "Refunds",
      "description": "Refund operations"
    },
    {
      "name": "Toolkit",
      "description": "Utility and configuration endpoints"
    }
  ]
}