{
  "openapi": "3.0.3",
  "info": {
    "title": "CarsXE Vehicle Data API",
    "version": "1.0.0",
    "description": "CarsXE provides comprehensive vehicle data APIs including VIN decoding, plate decoding, market values, recalls, history reports, and vehicle images.",
    "x-jentic-source-url": "https://api.carsxe.com/docs",
    "contact": {
      "name": "CarsXE",
      "url": "https://www.carsxe.com"
    }
  },
  "servers": [
    {
      "url": "https://api.carsxe.com",
      "description": "CarsXE Production API"
    }
  ],
  "paths": {
    "/v1/specifications": {
      "get": {
        "operationId": "getVehicleSpecifications",
        "summary": "Get Vehicle Specifications",
        "description": "Retrieve vehicle specifications from a VIN number.",
        "tags": [
          "Specifications"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "vin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with vehicle specifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleSpecification"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/international-vin-decoder": {
      "get": {
        "operationId": "decodeInternationalVin",
        "summary": "International VIN Decoder",
        "description": "Retrieve vehicle specifications from international VINs.",
        "tags": [
          "Specifications"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "vin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "International Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with vehicle specifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleSpecification"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plate-decoder": {
      "get": {
        "operationId": "decodeLicensePlateV1",
        "summary": "Plate Decoder (v1)",
        "description": "Retrieve vehicle information from a license plate number.",
        "tags": [
          "Plate Decoder"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "License plate number"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "US state code for the plate"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful plate decode response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlateDecodeResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/plate-decoder": {
      "post": {
        "operationId": "decodeLicensePlateV2",
        "summary": "Plate Decoder (v2)",
        "description": "Retrieve vehicle specifications from license plates and vehicle registrations with international support.",
        "tags": [
          "Plate Decoder"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "plate"
                ],
                "properties": {
                  "plate": {
                    "type": "string",
                    "description": "License plate number"
                  },
                  "state": {
                    "type": "string",
                    "description": "State or region code"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful plate decode response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlateDecodeResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/market-value": {
      "post": {
        "operationId": "getMarketValue",
        "summary": "Get Vehicle Market Value",
        "description": "Retrieve vehicle market values from VINs.",
        "tags": [
          "Market Value"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "vin"
                ],
                "properties": {
                  "vin": {
                    "type": "string",
                    "description": "Vehicle Identification Number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful market value response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketValueResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vehicle-recalls": {
      "get": {
        "operationId": "getVehicleRecalls",
        "summary": "Get Vehicle Recalls",
        "description": "Search for safety recalls based on a vehicle's VIN.",
        "tags": [
          "Recalls"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "vin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful recalls response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recalls": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Recall"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/history": {
      "get": {
        "operationId": "getVehicleHistory",
        "summary": "Get Vehicle History",
        "description": "Retrieve vehicle history reports from VINs.",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "vin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful history response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoryResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/images": {
      "get": {
        "operationId": "getVehicleImages",
        "summary": "Get Vehicle Images",
        "description": "Retrieve vehicle images.",
        "tags": [
          "Images"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "vin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          },
          {
            "name": "make",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle make"
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle model"
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful images response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vin-ocr": {
      "post": {
        "operationId": "recognizeVinFromImage",
        "summary": "VIN OCR",
        "description": "Quickly identify a vehicle's VIN from an image.",
        "tags": [
          "VIN OCR"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "image"
                ],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file containing a VIN"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful VIN recognition",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "vin": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API key passed as a query parameter"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "VehicleSpecification": {
        "type": "object",
        "properties": {
          "vin": {
            "type": "string"
          },
          "year": {
            "type": "string"
          },
          "make": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "trim": {
            "type": "string"
          },
          "body_type": {
            "type": "string"
          },
          "engine": {
            "type": "string"
          },
          "transmission": {
            "type": "string"
          },
          "drivetrain": {
            "type": "string"
          },
          "fuel_type": {
            "type": "string"
          },
          "doors": {
            "type": "integer"
          },
          "cylinders": {
            "type": "integer"
          }
        }
      },
      "PlateDecodeResult": {
        "type": "object",
        "properties": {
          "plate": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "vin": {
            "type": "string"
          },
          "vehicle": {
            "$ref": "#/components/schemas/VehicleSpecification"
          }
        }
      },
      "MarketValueResult": {
        "type": "object",
        "properties": {
          "vin": {
            "type": "string"
          },
          "mean_price": {
            "type": "number"
          },
          "median_price": {
            "type": "number"
          },
          "price_range": {
            "type": "object",
            "properties": {
              "low": {
                "type": "number"
              },
              "high": {
                "type": "number"
              }
            }
          }
        }
      },
      "Recall": {
        "type": "object",
        "properties": {
          "campaign_number": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "component": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "consequence": {
            "type": "string"
          },
          "remedy": {
            "type": "string"
          }
        }
      },
      "HistoryResult": {
        "type": "object",
        "properties": {
          "vin": {
            "type": "string"
          },
          "history_records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "event": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Specifications",
      "description": "Vehicle specification lookups"
    },
    {
      "name": "Plate Decoder",
      "description": "License plate to vehicle data"
    },
    {
      "name": "Market Value",
      "description": "Vehicle market value estimates"
    },
    {
      "name": "Recalls",
      "description": "Vehicle safety recall data"
    },
    {
      "name": "History",
      "description": "Vehicle history reports"
    },
    {
      "name": "Images",
      "description": "Vehicle image retrieval"
    },
    {
      "name": "VIN OCR",
      "description": "VIN recognition from images"
    }
  ]
}