{
    "openapi": "3.0.0",
    "info": {
        "description": "The API built for external Swift Check Processing access, while in testing phase please point your code to https://sandbox.swiftcheckprocessing.com/api/v1. Once your application is approved you can switch to live",
        "version": "1.0.0",
        "title": "Swift Check Processing API",
        "contact": {
            "email": "vladimir@getleadsfast.com"
        },
        "x-jentic-source-url": "https://api.swaggerhub.com/apis/GetLeadsFast/api-swift-check-processing/1.0.0/swagger.json"
    },
    "paths": {
        "/check": {
            "post": {
                "tags": [
                    "CheckDraft calls"
                ],
                "summary": "submits the check from 3rd party site",
                "operationId": "addCheck",
                "description": "This call will submit the check to the Swift Check processing",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Check"
                            }
                        }
                    },
                    "description": "You need to submit the following JSON object to your POST call"
                },
                "responses": {
                    "200": {
                        "description": "order created"
                    },
                    "400": {
                        "description": "invalid input, object invalid"
                    }
                }
            }
        }
    },
    "servers": [
        {
            "url": "https://swiftcheckprocessing.com/api/v1"
        }
    ],
    "components": {
        "schemas": {
            "Check": {
                "type": "object",
                "required": [
                    "auth_key",
                    "payee_name",
                    "payee_address",
                    "payee_city",
                    "payee_state",
                    "payee_zip",
                    "payee_phone",
                    "bank_name",
                    "bank_city",
                    "bank_state",
                    "routing_number",
                    "account_number",
                    "order_number",
                    "amount",
                    "void_check_copy"
                ],
                "properties": {
                    "auth_key": {
                        "type": "string",
                        "format": "uuid",
                        "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "payee_name": {
                        "type": "string",
                        "example": "John Doe"
                    },
                    "payee_address": {
                        "type": "string",
                        "example": "1st Main Street"
                    },
                    "payee_city": {
                        "type": "string",
                        "example": "Nixa"
                    },
                    "payee_state": {
                        "type": "string",
                        "example": "MO"
                    },
                    "payee_zip": {
                        "type": "string",
                        "example": 65714
                    },
                    "payee_phone": {
                        "type": "string",
                        "example": "417-555-4444"
                    },
                    "bank_name": {
                        "type": "string",
                        "example": "US Bank"
                    },
                    "bank_city": {
                        "type": "string",
                        "example": "Springfield"
                    },
                    "bank_state": {
                        "type": "string",
                        "example": "MO"
                    },
                    "account_number": {
                        "type": "integer",
                        "example": 12345678910
                    },
                    "routing_number": {
                        "type": "integer",
                        "example": "081000210"
                    },
                    "order_number": {
                        "type": "integer",
                        "example": 14567
                    },
                    "amount": {
                        "type": "number",
                        "example": 45.77
                    },
                    "void_check_copy": {
                        "type": "string",
                        "example": "http://yoursite.com/uploads/client_void_check.jpg"
                    }
                }
            }
        }
    }
}