{
  "openapi": "3.0.3",
  "info": {
    "title": "hCaptcha Siteverify API",
    "description": "API for server-side verification of hCaptcha tokens. Validates that hCaptcha challenge responses are authentic and have not been reused.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.hcaptcha.com/"
  },
  "servers": [
    {
      "url": "https://api.hcaptcha.com",
      "description": "hCaptcha API server"
    }
  ],
  "paths": {
    "/siteverify": {
      "post": {
        "operationId": "verifyCaptchaToken",
        "summary": "Verify hCaptcha token",
        "description": "Validates an hCaptcha token issued to a client. Tokens are valid only once and expire within 120 seconds by default. The request body must be form-encoded, not JSON.",
        "tags": [
          "Verification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SiteverifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteverifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteverifyResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SiteverifyRequest": {
        "type": "object",
        "required": [
          "secret",
          "response"
        ],
        "properties": {
          "secret": {
            "type": "string",
            "description": "Your account secret key."
          },
          "response": {
            "type": "string",
            "description": "The h-captcha-response verification token from the client."
          },
          "remoteip": {
            "type": "string",
            "description": "The client's IP address. Recommended for enhanced accuracy."
          },
          "sitekey": {
            "type": "string",
            "description": "Optional sitekey for additional validation."
          }
        }
      },
      "SiteverifyResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the token is valid."
          },
          "challenge_ts": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the challenge in ISO 8601 format."
          },
          "hostname": {
            "type": "string",
            "description": "The hostname of the site where the challenge was solved."
          },
          "credit": {
            "type": "boolean",
            "description": "Deprecated field.",
            "deprecated": true
          },
          "error-codes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "missing-input-secret",
                "invalid-input-secret",
                "missing-input-response",
                "invalid-input-response",
                "expired-input-response",
                "already-seen-response",
                "sitekey-secret-mismatch",
                "bad-request"
              ]
            },
            "description": "List of error codes if verification failed."
          },
          "score": {
            "type": "number",
            "format": "float",
            "description": "Risk score (Enterprise only)."
          },
          "score_reason": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Reasons for the risk score (Enterprise only)."
          }
        }
      }
    },
    "securitySchemes": {
      "secretKey": {
        "type": "apiKey",
        "in": "query",
        "name": "secret",
        "description": "Account secret key passed in the request body (form-encoded). Listed as apiKey for documentation purposes; the actual key is sent in the POST body."
      }
    }
  },
  "security": [
    {
      "secretKey": []
    }
  ]
}