{
  "openapi": "3.0.0",
  "info": {
    "title": "Apex_Box API",
    "version": "1.0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Apex_Artem2/Apex_Box/1.0.1/swagger.json"
  },
  "servers": [
    {
      "url": "https://online.aic.uz/apex/ins/apex_box",
      "description": "Действителен до 01.06.2025"
    },
    {
      "url": "https://rest.aic.uz/api/ins/apex_box"
    }
  ],
  "paths": {
    "/osago": {
      "post": {
        "summary": "Создание договора страхования",
        "tags": [
          "ОСГОВТС"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Идентификатор пользователя"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "applicant",
                  "owner",
                  "details",
                  "cost",
                  "vehicle",
                  "drivers"
                ],
                "properties": {
                  "applicant": {
                    "type": "object",
                    "description": "Данные страхователя",
                    "required": [
                      "address",
                      "residentOfUzb",
                      "citizenshipId"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "description": "Если страхователь физ лицо",
                        "required": [
                          "passportData",
                          "fullName",
                          "phoneNumber",
                          "gender",
                          "birthDate",
                          "regionId",
                          "districtId"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "description": "Паспортные данные",
                            "required": [
                              "pinfl",
                              "seria",
                              "number",
                              "issuedBy",
                              "issueDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "ПИНФЛ",
                                "maxLength": 14,
                                "example": "12345678901234"
                              },
                              "seria": {
                                "type": "string",
                                "description": "Серия паспорта",
                                "maxLength": 3,
                                "example": "AA"
                              },
                              "number": {
                                "type": "string",
                                "description": "Номер паспорта",
                                "maxLength": 7,
                                "example": "1234567"
                              },
                              "issuedBy": {
                                "type": "string",
                                "description": "Кем выдан",
                                "maxLength": 100,
                                "example": "УВД Яккасарайского района"
                              },
                              "issueDate": {
                                "type": "string",
                                "description": "Дата выдачи",
                                "format": "date",
                                "example": "2015-10-30"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "description": "ФИО",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "Имя",
                                "maxLength": 100,
                                "example": "Иван"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "Фамилия",
                                "maxLength": 100,
                                "example": "Иванов"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "Отчество",
                                "maxLength": 100,
                                "example": "Иванович"
                              }
                            }
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Мобильный Телефон (в формате 998XXXXXXXXX)  для СМС",
                            "maxLength": 12,
                            "example": "998901234578"
                          },
                          "gender": {
                            "type": "string",
                            "description": "Пол",
                            "maxLength": 1,
                            "example": "m"
                          },
                          "birthDate": {
                            "type": "string",
                            "description": "Дата рождения",
                            "format": "date",
                            "example": "1990-10-30"
                          },
                          "regionId": {
                            "type": "string",
                            "description": "Регион ID",
                            "example": "1"
                          },
                          "districtId": {
                            "type": "string",
                            "description": "Район ID",
                            "example": "1"
                          }
                        }
                      },
                      "organization": {
                        "type": "object",
                        "description": "Если страхователь юр лицо",
                        "required": [
                          "inn",
                          "name",
                          "regCertificate",
                          "regCertificateIssueDate",
                          "bankMfo",
                          "checkingAccount",
                          "phoneNumber"
                        ],
                        "properties": {
                          "inn": {
                            "type": "string",
                            "description": "ИНН",
                            "maxLength": 9,
                            "example": "123456789"
                          },
                          "name": {
                            "type": "string",
                            "description": "Наименование организации",
                            "maxLength": 100,
                            "example": "ООО Фирма"
                          },
                          "regCertificate": {
                            "type": "string",
                            "description": "Регистрационный номер и серия документа деятельности",
                            "maxLength": 100,
                            "example": "1234567890"
                          },
                          "regCertificateIssueDate": {
                            "type": "string",
                            "description": "Дата выдачи документа",
                            "format": "date",
                            "example": "2015-10-30"
                          },
                          "bankMfo": {
                            "type": "string",
                            "description": "МФО",
                            "maxLength": 5,
                            "example": "12345"
                          },
                          "checkingAccount": {
                            "type": "string",
                            "description": "Расчетный счет организации",
                            "maxLength": 16,
                            "example": "1234567890123456"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Мобильный Телефон (в формате 998XXXXXXXXX)  для СМС",
                            "maxLength": 12,
                            "example": "998901234578"
                          }
                        }
                      },
                      "address": {
                        "type": "string",
                        "description": "Адрес последней регистрации",
                        "maxLength": 100,
                        "example": "ул. такая-то, дом такой-то"
                      },
                      "residentOfUzb": {
                        "type": "string",
                        "description": "Резидент или не резидент (0 -нет 1-да)",
                        "maxLength": 1,
                        "example": "1"
                      },
                      "citizenshipId": {
                        "type": "string",
                        "description": "ID гражданства (Обязательно только если лицо не ЛБГ)",
                        "maxLength": 10,
                        "example": "1"
                      }
                    }
                  },
                  "owner": {
                    "type": "object",
                    "description": "Владелец ТС",
                    "required": [
                      "person",
                      "organization",
                      "applicantIsOwner"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "description": "Если владелец ТС физ лицо",
                        "required": [
                          "passportData",
                          "fullName"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "description": "Паспортные данные физ лица владельца",
                            "required": [
                              "pinfl",
                              "seria",
                              "number",
                              "issuedBy",
                              "issueDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "ПИНФЛ",
                                "maxLength": 14,
                                "example": "12345678901234"
                              },
                              "seria": {
                                "type": "string",
                                "description": "Серия паспорта",
                                "maxLength": 3,
                                "example": "AA"
                              },
                              "number": {
                                "type": "string",
                                "description": "Номер паспорта",
                                "maxLength": 7,
                                "example": "1234567"
                              },
                              "issuedBy": {
                                "type": "string",
                                "description": "Кем выдан",
                                "maxLength": 100,
                                "example": "УВД Яккасарайского района"
                              },
                              "issueDate": {
                                "type": "string",
                                "description": "Дата выдачи",
                                "format": "date",
                                "example": "2015-10-30"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "description": "ФИО",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "Имя",
                                "maxLength": 100,
                                "example": "Иван"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "Фамилия",
                                "maxLength": 100,
                                "example": "Иванов"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "Отчество",
                                "maxLength": 100,
                                "example": "Иванович"
                              }
                            }
                          }
                        }
                      },
                      "organization": {
                        "type": "object",
                        "description": "Если владелец ТС юр лицо",
                        "required": [
                          "inn",
                          "name"
                        ],
                        "properties": {
                          "inn": {
                            "type": "string",
                            "description": "ИНН",
                            "maxLength": 9,
                            "example": "123456789"
                          },
                          "name": {
                            "type": "string",
                            "description": "Наименование организации",
                            "maxLength": 100,
                            "example": "ООО Фирма"
                          }
                        }
                      },
                      "applicantIsOwner": {
                        "type": "boolean",
                        "description": "Страхователь Владелец (true/false)",
                        "example": true
                      }
                    }
                  },
                  "details": {
                    "type": "object",
                    "description": "Детали полиса",
                    "required": [
                      "issueDate",
                      "startDate",
                      "endDate",
                      "driverNumberRestriction",
                      "transactionId"
                    ],
                    "properties": {
                      "issueDate": {
                        "type": "string",
                        "description": "Дата выдачи полиса",
                        "format": "date",
                        "example": "2021-01-30"
                      },
                      "startDate": {
                        "type": "string",
                        "description": "Начало страхования",
                        "format": "date",
                        "example": "2021-01-30"
                      },
                      "endDate": {
                        "type": "string",
                        "description": "Конец страхования",
                        "format": "date",
                        "example": "2021-01-30"
                      },
                      "driverNumberRestriction": {
                        "type": "boolean",
                        "description": "Без ограничения количества водителей (true — ограниченное количество; false — неограниченное количество)",
                        "example": true
                      },
                      "transactionId": {
                        "type": "string",
                        "description": "Идентификатор транзакции",
                        "example": "1"
                      }
                    }
                  },
                  "cost": {
                    "type": "object",
                    "description": "Информация о стоимости",
                    "required": [
                      "discountId",
                      "insurancePremium",
                      "sumInsured",
                      "contractTermConclusionId",
                      "useTerritoryId",
                      "commission",
                      "insurancePremiumPaidToInsurer"
                    ],
                    "properties": {
                      "discountId": {
                        "type": "string",
                        "description": "Тип льготы по умолчанию 1-нет льготы",
                        "maxLength": 10,
                        "example": "1"
                      },
                      "discountSum": {
                        "type": "number",
                        "description": "Cумма скидки (Обязательно если discountId > 1)",
                        "example": 28000
                      },
                      "insurancePremium": {
                        "type": "number",
                        "description": "Страховая премия",
                        "example": 56000
                      },
                      "sumInsured": {
                        "type": "number",
                        "description": "Страховая сумма (по умолчанию 40 000 000 сум)",
                        "example": 40000000
                      },
                      "contractTermConclusionId": {
                        "type": "string",
                        "description": "Срок заключения договора",
                        "maxLength": 10,
                        "example": "1"
                      },
                      "useTerritoryId": {
                        "type": "string",
                        "description": "Территория преимущественного управления транспортным средством",
                        "maxLength": 10,
                        "example": "1"
                      },
                      "commission": {
                        "type": "number",
                        "description": "сумма Комиссии агента",
                        "example": 10000
                      },
                      "insurancePremiumPaidToInsurer": {
                        "type": "number",
                        "description": "Оплаченная премия",
                        "example": 28000
                      }
                    }
                  },
                  "vehicle": {
                    "type": "object",
                    "description": "Сведения ТС",
                    "required": [
                      "techPassport",
                      "modelCustomName",
                      "engineNumber",
                      "typeId",
                      "issueYear",
                      "govNumber",
                      "bodyNumber",
                      "regionId"
                    ],
                    "properties": {
                      "techPassport": {
                        "type": "object",
                        "description": "Техпаспорт",
                        "required": [
                          "number",
                          "seria",
                          "issueDate"
                        ],
                        "properties": {
                          "number": {
                            "type": "string",
                            "description": "Номер техпаспорта",
                            "maxLength": 3,
                            "example": "012"
                          },
                          "seria": {
                            "type": "string",
                            "description": "Серия техпаспорта",
                            "maxLength": 7,
                            "example": "AAC"
                          },
                          "issueDate": {
                            "type": "string",
                            "description": "Дата выдачи техпаспорта",
                            "format": "date",
                            "example": "2015-10-30"
                          }
                        }
                      },
                      "modelCustomName": {
                        "type": "string",
                        "description": "Марка и модель ТС",
                        "maxLength": 100,
                        "example": "Nexia 3"
                      },
                      "engineNumber": {
                        "type": "string",
                        "description": "Номер двигателя",
                        "maxLength": 100,
                        "example": "df32rfafh98sa"
                      },
                      "typeId": {
                        "type": "string",
                        "description": "Вид транспортного средства",
                        "example": "1"
                      },
                      "issueYear": {
                        "type": "string",
                        "description": "Год выпуска",
                        "example": "2015"
                      },
                      "govNumber": {
                        "type": "string",
                        "description": "Государственный номер",
                        "example": "01K384SO"
                      },
                      "bodyNumber": {
                        "type": "string",
                        "description": "Номер кузова",
                        "example": "jk543kj453k4"
                      },
                      "regionId": {
                        "type": "string",
                        "description": "ID региона",
                        "example": "1"
                      }
                    }
                  },
                  "drivers": {
                    "type": "array",
                    "description": "Информация о водителях",
                    "items": {
                      "type": "object",
                      "required": [
                        "passportData",
                        "fullName",
                        "licenseNumber",
                        "licenseSeria",
                        "licenseIssueDate",
                        "birthDate",
                        "residentOfUzb"
                      ],
                      "properties": {
                        "passportData": {
                          "type": "object",
                          "description": "Паспортные данные водителей",
                          "required": [
                            "pinfl",
                            "seria",
                            "number",
                            "issuedBy",
                            "issueDate"
                          ],
                          "properties": {
                            "pinfl": {
                              "type": "string",
                              "description": "ПИНФЛ (Обязательно driverNumberRestriction - true)",
                              "maxLength": 14,
                              "example": "12345678901234"
                            },
                            "seria": {
                              "type": "string",
                              "description": "Серия паспорта (Обязательно driverNumberRestriction - true)",
                              "maxLength": 3,
                              "example": "AA"
                            },
                            "number": {
                              "type": "string",
                              "description": "Номер паспорта (Обязательно driverNumberRestriction - true)",
                              "maxLength": 7,
                              "example": "1234567"
                            },
                            "issuedBy": {
                              "type": "string",
                              "description": "Кем выдан (Обязательно driverNumberRestriction - true)",
                              "maxLength": 100,
                              "example": "УВД Яккасарайского района"
                            },
                            "issueDate": {
                              "type": "string",
                              "description": "Дата выдачи (Обязательно driverNumberRestriction - true)",
                              "format": "date",
                              "example": "2015-10-30"
                            }
                          }
                        },
                        "fullName": {
                          "type": "object",
                          "description": "ФИО водителей",
                          "required": [
                            "firstname",
                            "lastname",
                            "middlename"
                          ],
                          "properties": {
                            "firstname": {
                              "type": "string",
                              "description": "Имя (Обязательно driverNumberRestriction - true)",
                              "maxLength": 100,
                              "example": "Иван"
                            },
                            "lastname": {
                              "type": "string",
                              "description": "Фамилия (Обязательно driverNumberRestriction - true)",
                              "maxLength": 100,
                              "example": "Иванов"
                            },
                            "middlename": {
                              "type": "string",
                              "description": "Отчество (Обязательно driverNumberRestriction - true)",
                              "maxLength": 100,
                              "example": "Иванович"
                            }
                          }
                        },
                        "licenseNumber": {
                          "type": "string",
                          "description": "Номер вод удостоверения (Обязательно driverNumberRestriction - true)",
                          "maxLength": 10,
                          "example": "1234567890"
                        },
                        "licenseSeria": {
                          "type": "string",
                          "description": "Серия вод удостоверения (Обязательно driverNumberRestriction - true)",
                          "maxLength": 5,
                          "example": "AB123"
                        },
                        "licenseIssueDate": {
                          "type": "string",
                          "description": "Дата выдачи вод удостоверения (Обязательно driverNumberRestriction - true)",
                          "format": "date",
                          "example": "2015-10-30"
                        },
                        "birthDate": {
                          "type": "string",
                          "description": "Дата рождения (Обязательно driverNumberRestriction - true)",
                          "format": "date",
                          "example": "1990-10-30"
                        },
                        "relative": {
                          "type": "string",
                          "description": "Степень родства (0 - не родственник, 1 - отец, 2 - мать, 3 - муж, 4 - жена, 5 - сын, 6 - дочь, 7 - старший брат, 8 - младший брат, 9 - старшая сестра, 10 - младшая сестра) не Обязательное поле, но определяет родственность",
                          "maxLength": 10,
                          "example": "1"
                        },
                        "residentOfUzb": {
                          "type": "string",
                          "description": "Резидент -1, не резидент -0 (Обязательно driverNumberRestriction - true)",
                          "maxLength": 10,
                          "example": "1"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Договор успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "Код ошибки (0 -успешная)",
                      "example": "123456"
                    },
                    "result_message": {
                      "type": "string",
                      "description": "Расшифровка ошибки.",
                      "example": "Успешная обработка запроса"
                    },
                    "contract_id": {
                      "type": "number",
                      "description": "ID договора",
                      "example": "123456"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "ID анкеты полученный в Фонде гарантированных выплат",
                      "example": "1a04329f-a5a1-45f4-b137-487352004c60"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Сообщение об ошибке",
                      "example": "Некоторые обязательные параметры отсутствуют"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Сообщение об ошибке",
                      "example": "Пользователь не авторизован"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/osago_calculation": {
      "post": {
        "summary": "Расчет страховой премии",
        "tags": [
          "ОСГОВТС"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная обработка запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/doc_loss": {
      "post": {
        "summary": "Создание страхового полиса",
        "tags": [
          "Утеря документов"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Идентификатор пользователя"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "insurant",
                  "policeDetails"
                ],
                "properties": {
                  "insurant": {
                    "type": "object",
                    "required": [
                      "person"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "required": [
                          "passportData",
                          "fullName",
                          "districtId",
                          "gender",
                          "birthDate",
                          "regionId",
                          "address",
                          "phone"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "required": [
                              "pinfl",
                              "seria",
                              "number",
                              "issuedBy",
                              "issuedDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "ПИНФЛ"
                              },
                              "seria": {
                                "type": "string",
                                "description": "Серия паспорта"
                              },
                              "number": {
                                "type": "string",
                                "description": "Номер паспорта"
                              },
                              "issuedBy": {
                                "type": "string",
                                "description": "Кем выдан паспорт"
                              },
                              "issuedDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "Дата выдачи паспорта"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "Имя"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "Фамилия"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "Отчество"
                              }
                            }
                          },
                          "districtId": {
                            "type": "integer",
                            "description": "ID района"
                          },
                          "gender": {
                            "type": "integer",
                            "description": "Пол (1 - мужской, 0 - женский)"
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "dd.mm.yyyy",
                            "description": "Дата рождения"
                          },
                          "regionId": {
                            "type": "integer",
                            "description": "ID региона"
                          },
                          "address": {
                            "type": "string",
                            "description": "Адрес"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Телефон (в формате 998XXXXXXXXX)"
                          }
                        }
                      }
                    }
                  },
                  "policeDetails": {
                    "type": "object",
                    "required": [
                      "transactionId",
                      "docType",
                      "insuranceStartDate",
                      "object"
                    ],
                    "properties": {
                      "transactionId": {
                        "type": "integer",
                        "description": "Идентификатор транзакции"
                      },
                      "docType": {
                        "type": "integer",
                        "description": "Тип документа"
                      },
                      "insuranceStartDate": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Дата начала страхования"
                      },
                      "object": {
                        "type": "object",
                        "required": [
                          "person"
                        ],
                        "properties": {
                          "person": {
                            "type": "object",
                            "required": [
                              "districtId",
                              "gender",
                              "birthDate",
                              "address",
                              "regionId",
                              "phone",
                              "passportData",
                              "fullName"
                            ],
                            "properties": {
                              "districtId": {
                                "type": "integer",
                                "description": "ID района"
                              },
                              "gender": {
                                "type": "integer",
                                "description": "Пол (1 - мужской, 0 - женский)"
                              },
                              "birthDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "Дата рождения"
                              },
                              "address": {
                                "type": "string",
                                "description": "Адрес"
                              },
                              "regionId": {
                                "type": "integer",
                                "description": "ID региона"
                              },
                              "phone": {
                                "type": "string",
                                "description": "Телефон (в формате 998XXXXXXXXX)"
                              },
                              "passportData": {
                                "type": "object",
                                "required": [
                                  "pinfl",
                                  "seria",
                                  "number",
                                  "issuedBy",
                                  "issuedDate"
                                ],
                                "properties": {
                                  "pinfl": {
                                    "type": "string",
                                    "description": "ПИНФЛ"
                                  },
                                  "seria": {
                                    "type": "string",
                                    "description": "Серия паспорта"
                                  },
                                  "number": {
                                    "type": "string",
                                    "description": "Номер паспорта"
                                  },
                                  "issuedBy": {
                                    "type": "string",
                                    "description": "Кем выдан паспорт"
                                  },
                                  "issuedDate": {
                                    "type": "string",
                                    "format": "dd.mm.yyyy",
                                    "description": "Дата выдачи паспорта"
                                  }
                                }
                              },
                              "fullName": {
                                "type": "object",
                                "required": [
                                  "firstname",
                                  "lastname",
                                  "middlename"
                                ],
                                "properties": {
                                  "firstname": {
                                    "type": "string",
                                    "description": "Имя"
                                  },
                                  "lastname": {
                                    "type": "string",
                                    "description": "Фамилия"
                                  },
                                  "middlename": {
                                    "type": "string",
                                    "description": "Отчество"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная обработка запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "example": 0
                    },
                    "result_message": {
                      "type": "string",
                      "example": "Успешная обработка запроса"
                    },
                    "contract_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "contract_uuid": {
                      "type": "string",
                      "example": "uuid_example"
                    },
                    "InsuranceSum": {
                      "type": "integer",
                      "example": 3400000
                    },
                    "InsurancePremium": {
                      "type": "integer",
                      "example": 17000
                    },
                    "InsuranceStartDate": {
                      "type": "string",
                      "example": "23.07.2024"
                    },
                    "InsuranceEndDate": {
                      "type": "string",
                      "example": "22.07.2025"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Сообщение об ошибке",
                      "example": "Пользователь не авторизован"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accident": {
      "post": {
        "summary": "Создание страхового полиса",
        "tags": [
          "Страхование от несчастных случаев (24 часа в сутки)"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Идентификатор пользователя"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "insurant",
                  "policeDetails"
                ],
                "properties": {
                  "insurant": {
                    "type": "object",
                    "required": [
                      "person"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "required": [
                          "passportData",
                          "fullName",
                          "districtId",
                          "gender",
                          "birthDate",
                          "address",
                          "residentType",
                          "countryId",
                          "regionId"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "required": [
                              "seria",
                              "number",
                              "IssuedBy",
                              "IssueDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "ПИНФЛ (Если residentType = 1 или residentType = 5, то поле обязательное)"
                              },
                              "seria": {
                                "type": "string",
                                "description": "Серия паспорта"
                              },
                              "number": {
                                "type": "string",
                                "description": "Номер паспорта"
                              },
                              "IssuedBy": {
                                "type": "string",
                                "description": "Кем выдан паспорт"
                              },
                              "IssueDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "Дата выдачи паспорта"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "Имя"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "Фамилия"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "Отчество"
                              }
                            }
                          },
                          "districtId": {
                            "type": "integer",
                            "description": "ID района"
                          },
                          "gender": {
                            "type": "integer",
                            "description": "Пол (1 - мужской, 0 - женский)"
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "dd.mm.yyyy",
                            "description": "Дата рождения"
                          },
                          "address": {
                            "type": "string",
                            "description": "Адрес"
                          },
                          "residentType": {
                            "type": "integer",
                            "description": "Тип резидента"
                          },
                          "countryId": {
                            "type": "integer",
                            "description": "Идентификатор страны"
                          },
                          "regionId": {
                            "type": "integer",
                            "description": "ID региона"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Телефон (в формате 998XXXXXXXXX) (Необязательно если residentType = 2)"
                          },
                          "email": {
                            "type": "string",
                            "description": "Адрес электронной почты (Обязательно если residentType = 2)"
                          }
                        }
                      }
                    }
                  },
                  "policeDetails": {
                    "type": "object",
                    "required": [
                      "ProgramId",
                      "transactionId",
                      "object"
                    ],
                    "properties": {
                      "ProgramId": {
                        "type": "integer",
                        "description": "Идентификатор программы"
                      },
                      "transactionId": {
                        "type": "integer",
                        "description": "Идентификатор транзакции"
                      },
                      "object": {
                        "type": "object",
                        "required": [
                          "person"
                        ],
                        "properties": {
                          "person": {
                            "type": "object",
                            "required": [
                              "passportData",
                              "fullName",
                              "gender",
                              "birthDate",
                              "address",
                              "residentType",
                              "countryId",
                              "regionId",
                              "phone"
                            ],
                            "properties": {
                              "passportData": {
                                "type": "object",
                                "required": [
                                  "seria",
                                  "number",
                                  "IssuedBy",
                                  "IssueDate"
                                ],
                                "properties": {
                                  "pinfl": {
                                    "type": "string",
                                    "description": "ПИНФЛ (Если residentType = 1 или residentType = 5, то поле обязательное)"
                                  },
                                  "seria": {
                                    "type": "string",
                                    "description": "Серия паспорта"
                                  },
                                  "number": {
                                    "type": "string",
                                    "description": "Номер паспорта"
                                  },
                                  "IssuedBy": {
                                    "type": "string",
                                    "description": "Кем выдан паспорт"
                                  },
                                  "IssueDate": {
                                    "type": "string",
                                    "format": "dd.mm.yyyy",
                                    "description": "Дата выдачи паспорта"
                                  }
                                }
                              },
                              "fullName": {
                                "type": "object",
                                "required": [
                                  "firstname",
                                  "lastname",
                                  "middlename"
                                ],
                                "properties": {
                                  "firstname": {
                                    "type": "string",
                                    "description": "Имя"
                                  },
                                  "lastname": {
                                    "type": "string",
                                    "description": "Фамилия"
                                  },
                                  "middlename": {
                                    "type": "string",
                                    "description": "Отчество"
                                  }
                                }
                              },
                              "gender": {
                                "type": "integer",
                                "description": "Пол (1 - мужской, 0 - женский)"
                              },
                              "birthDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "Дата рождения"
                              },
                              "address": {
                                "type": "string",
                                "description": "Адрес"
                              },
                              "residentType": {
                                "type": "integer",
                                "description": "Тип резидента"
                              },
                              "countryId": {
                                "type": "integer",
                                "description": "Идентификатор страны"
                              },
                              "regionId": {
                                "type": "integer",
                                "description": "ID региона"
                              },
                              "phone": {
                                "type": "string",
                                "description": "Телефон (в формате 998XXXXXXXXX)"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная обработка запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "example": 0
                    },
                    "result_message": {
                      "type": "string",
                      "example": "Успешная обработка запроса"
                    },
                    "contract_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "contract_uuid": {
                      "type": "string",
                      "example": "uuid_example"
                    },
                    "InsuranceSum": {
                      "type": "integer",
                      "example": 1000000
                    },
                    "InsurancePremium": {
                      "type": "integer",
                      "example": 10000
                    },
                    "InsuranceStartDate": {
                      "type": "string",
                      "example": "23.07.2024"
                    },
                    "InsuranceEndDate": {
                      "type": "string",
                      "example": "22.07.2025"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Сообщение об ошибке",
                      "example": "Пользователь не авторизован"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accident_calc": {
      "get": {
        "summary": "Расчет страховой премии",
        "tags": [
          "Страхование от несчастных случаев (24 часа в сутки)"
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ProgramId": {
                            "type": "integer",
                            "description": "ID программы",
                            "example": 1
                          },
                          "InsuranceSum": {
                            "type": "integer",
                            "description": "Страховая сумма",
                            "example": 1000000
                          },
                          "InsurancePremium": {
                            "type": "integer",
                            "description": "Страховая премия",
                            "example": 10000
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Сообщение об ошибке",
                      "example": "Пользователь не авторизован"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/doc_loss_calc": {
      "post": {
        "summary": "Создание страхового полиса",
        "tags": [
          "Утеря документов"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная обработка запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "example": 0
                    },
                    "result_message": {
                      "type": "string",
                      "example": "Успешная обработка запроса"
                    },
                    "InsuranceSum": {
                      "type": "integer",
                      "example": 3400000
                    },
                    "InsurancePremium": {
                      "type": "integer",
                      "example": 17000
                    },
                    "InsurancePeriod": {
                      "type": "string",
                      "example": "12 месяцев"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Сообщение об ошибке",
                      "example": "Пользователь не авторизован"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/kasko_gaz": {
      "post": {
        "summary": "Создание страхового полиса",
        "tags": [
          "Страхование КАСКО ГАЗ"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Идентификатор пользователя"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "insurant",
                  "beneficiary",
                  "policeDetails"
                ],
                "properties": {
                  "insurant": {
                    "type": "object",
                    "required": [
                      "person"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "required": [
                          "passportData",
                          "fullName",
                          "districtId",
                          "gender",
                          "birthDate",
                          "regionId",
                          "address",
                          "phone"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "required": [
                              "pinfl",
                              "seria",
                              "number",
                              "issuedBy",
                              "issuedDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "ПИНФЛ"
                              },
                              "seria": {
                                "type": "string",
                                "description": "Серия паспорта"
                              },
                              "number": {
                                "type": "string",
                                "description": "Номер паспорта"
                              },
                              "issuedBy": {
                                "type": "string",
                                "description": "Кем выдан паспорт"
                              },
                              "issuedDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "Дата выдачи паспорта"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "Имя"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "Фамилия"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "Отчество"
                              }
                            }
                          },
                          "districtId": {
                            "type": "integer",
                            "description": "ID района"
                          },
                          "gender": {
                            "type": "integer",
                            "description": "Пол (1 - мужской, 0 - женский)"
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "dd.mm.yyyy",
                            "description": "Дата рождения"
                          },
                          "regionId": {
                            "type": "integer",
                            "description": "ID региона"
                          },
                          "address": {
                            "type": "string",
                            "description": "Адрес"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Телефон (в формате 998XXXXXXXXX)"
                          }
                        }
                      }
                    }
                  },
                  "beneficiary": {
                    "type": "object",
                    "required": [
                      "person"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "required": [
                          "passportData",
                          "fullName",
                          "districtId",
                          "gender",
                          "birthDate",
                          "regionId",
                          "address",
                          "phone"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "required": [
                              "pinfl",
                              "seria",
                              "number",
                              "issuedBy",
                              "issuedDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "ПИНФЛ"
                              },
                              "seria": {
                                "type": "string",
                                "description": "Серия паспорта"
                              },
                              "number": {
                                "type": "string",
                                "description": "Номер паспорта"
                              },
                              "issuedBy": {
                                "type": "string",
                                "description": "Кем выдан паспорт"
                              },
                              "issuedDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "Дата выдачи паспорта"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "Имя"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "Фамилия"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "Отчество"
                              }
                            }
                          },
                          "districtId": {
                            "type": "integer",
                            "description": "ID района"
                          },
                          "gender": {
                            "type": "integer",
                            "description": "Пол (1 - мужской, 0 - женский)"
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "dd.mm.yyyy",
                            "description": "Дата рождения"
                          },
                          "regionId": {
                            "type": "integer",
                            "description": "ID региона"
                          },
                          "address": {
                            "type": "string",
                            "description": "Адрес"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Телефон (в формате 998XXXXXXXXX)"
                          }
                        }
                      }
                    }
                  },
                  "policeDetails": {
                    "type": "object",
                    "required": [
                      "transactionId",
                      "ProgramId",
                      "object"
                    ],
                    "properties": {
                      "transactionId": {
                        "type": "integer",
                        "description": "Идентификатор транзакции"
                      },
                      "ProgramId": {
                        "type": "integer",
                        "description": "Идентификатор программы"
                      },
                      "object": {
                        "type": "object",
                        "required": [
                          "vehicle"
                        ],
                        "properties": {
                          "vehicle": {
                            "type": "object",
                            "description": "Справочник",
                            "required": [
                              "techPassport",
                              "govnumber",
                              "markaId",
                              "modelId",
                              "vehicletypeid",
                              "issueYear",
                              "bodyNumber",
                              "engineNumber"
                            ],
                            "properties": {
                              "techPassport": {
                                "type": "object",
                                "required": [
                                  "number",
                                  "seria",
                                  "issuedDate"
                                ],
                                "properties": {
                                  "number": {
                                    "type": "string",
                                    "description": "Номер техпаспорта"
                                  },
                                  "seria": {
                                    "type": "string",
                                    "description": "Серия техпаспорта"
                                  },
                                  "issuedDate": {
                                    "type": "string",
                                    "format": "dd.mm.yyyy",
                                    "description": "Дата выдачи техпаспорта"
                                  }
                                }
                              },
                              "govnumber": {
                                "type": "string",
                                "description": "Госномер"
                              },
                              "markaId": {
                                "type": "integer",
                                "description": "Идентификатор марки ТС"
                              },
                              "modelId": {
                                "type": "integer",
                                "description": "Идентификатор модели ТС"
                              },
                              "vehicletypeid": {
                                "type": "integer",
                                "description": "Тип ТС"
                              },
                              "issueYear": {
                                "type": "integer",
                                "description": "Год выпуска ТС"
                              },
                              "bodyNumber": {
                                "type": "string",
                                "description": "Номер кузова"
                              },
                              "engineNumber": {
                                "type": "string",
                                "description": "Номер двигателя"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "example": 0
                    },
                    "result_message": {
                      "type": "string",
                      "example": "Успешная обработка запроса"
                    },
                    "contract_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "contract_uuid": {
                      "type": "string",
                      "example": "uuid_example"
                    },
                    "InsuranceSum": {
                      "type": "integer",
                      "example": 6000000
                    },
                    "InsurancePremium": {
                      "type": "integer",
                      "example": 25000
                    },
                    "InsuranceStartDate": {
                      "type": "string",
                      "example": "23.07.2024"
                    },
                    "InsuranceEndDate": {
                      "type": "string",
                      "example": "22.07.2025"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Неверные данные запроса"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/kaskogaz_calc": {
      "get": {
        "summary": "Расчет страховой премии",
        "tags": [
          "Страхование КАСКО ГАЗ"
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ProgramId": {
                        "type": "integer",
                        "description": "Id программы",
                        "example": 1
                      },
                      "name_ru": {
                        "type": "string",
                        "description": "Название газа на русском",
                        "example": "Метан"
                      },
                      "name_eng": {
                        "type": "string",
                        "description": "Название газа на английском",
                        "example": "Methane"
                      },
                      "InsurancePeriod": {
                        "type": "integer",
                        "description": "Период в месяцах",
                        "example": 12
                      },
                      "InsuranceSum": {
                        "type": "integer",
                        "description": "Страховая сумма (ответственность)",
                        "example": 6000000
                      },
                      "insurancePremium": {
                        "type": "integer",
                        "description": "Страховая премия",
                        "example": 25000
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Сообщение об ошибке",
                      "example": "Пользователь не авторизован"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/real_estate": {
      "post": {
        "summary": "Создание страхового полиса",
        "tags": [
          "Страхование недвижимости"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Идентификатор пользователя"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "insurant",
                  "policeDetails"
                ],
                "properties": {
                  "insurant": {
                    "type": "object",
                    "required": [
                      "person"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "required": [
                          "passportData",
                          "fullName",
                          "residentType",
                          "countryId",
                          "districtId",
                          "gender",
                          "birthDate",
                          "regionId",
                          "address",
                          "phone"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "required": [
                              "seria",
                              "number",
                              "issuedBy",
                              "issuedDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "ПИНФЛ (Если residentType = 1 или residentType = 5, то поле обязательное)"
                              },
                              "seria": {
                                "type": "string",
                                "description": "Серия паспорта"
                              },
                              "number": {
                                "type": "string",
                                "description": "Номер паспорта"
                              },
                              "issuedBy": {
                                "type": "string",
                                "description": "Кем выдан паспорт"
                              },
                              "issuedDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "Дата выдачи паспорта"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "Имя"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "Фамилия"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "Отчество"
                              }
                            }
                          },
                          "residentType": {
                            "type": "integer",
                            "description": "Тип резидента"
                          },
                          "countryId": {
                            "type": "integer",
                            "description": "Идентификатор страны"
                          },
                          "districtId": {
                            "type": "integer",
                            "description": "ID района"
                          },
                          "gender": {
                            "type": "integer",
                            "description": "Пол (1 - мужской, 0 - женский)"
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "dd.mm.yyyy",
                            "description": "Дата рождения"
                          },
                          "regionId": {
                            "type": "integer",
                            "description": "ID региона"
                          },
                          "address": {
                            "type": "string",
                            "description": "Адрес"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Телефон (в формате 998XXXXXXXXX)"
                          },
                          "email": {
                            "type": "string",
                            "description": "Адрес электронной почты (Обязательно если residentType = 2)"
                          }
                        }
                      }
                    }
                  },
                  "policeDetails": {
                    "type": "object",
                    "required": [
                      "transactionId",
                      "ProgramId",
                      "object"
                    ],
                    "properties": {
                      "transactionId": {
                        "type": "integer",
                        "description": "Идентификатор транзакции"
                      },
                      "ProgramId": {
                        "type": "integer",
                        "description": "Идентификатор программы"
                      },
                      "object": {
                        "type": "object",
                        "required": [
                          "RealEstate"
                        ],
                        "properties": {
                          "RealEstate": {
                            "type": "object",
                            "required": [
                              "cadastre",
                              "objectType",
                              "districtId",
                              "regionId",
                              "street",
                              "house"
                            ],
                            "properties": {
                              "cadastre": {
                                "type": "string",
                                "description": "Кадастровый номер"
                              },
                              "objectType": {
                                "type": "integer",
                                "description": "Тип объекта (1 - Жилая квартира, 2 - Жилой дом)"
                              },
                              "districtId": {
                                "type": "integer",
                                "description": "ID района"
                              },
                              "regionId": {
                                "type": "integer",
                                "description": "ID региона"
                              },
                              "street": {
                                "type": "string",
                                "description": "Улица"
                              },
                              "house": {
                                "type": "string",
                                "description": "Дом"
                              },
                              "apartment": {
                                "type": "string",
                                "description": "Квартира"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешная обработка запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "integer",
                      "example": 0
                    },
                    "result_message": {
                      "type": "string",
                      "example": "Успешная обработка запроса"
                    },
                    "contract_id": {
                      "type": "integer",
                      "example": 1
                    },
                    "contract_uuid": {
                      "type": "string",
                      "example": "uuid_example"
                    },
                    "InsuranceSum": {
                      "type": "integer",
                      "example": 25000000
                    },
                    "InsurancePremium": {
                      "type": "integer",
                      "example": 29000
                    },
                    "InsuranceStartDate": {
                      "type": "string",
                      "example": "23.07.2024"
                    },
                    "InsuranceEndDate": {
                      "type": "string",
                      "example": "22.07.2025"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Сообщение об ошибке",
                      "example": "Пользователь не авторизован"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/real_estate_calc": {
      "get": {
        "summary": "Расчет страховой премии",
        "tags": [
          "Страхование недвижимости"
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ProgramId": {
                            "type": "integer",
                            "description": "ID программы"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "Наименование программы"
                          },
                          "InsurancePeriod": {
                            "type": "integer",
                            "description": "Период страхования в месяцах"
                          },
                          "InsuranceSum": {
                            "type": "integer",
                            "description": "Страховая сумма"
                          },
                          "InsurancePremium": {
                            "type": "integer",
                            "description": "Страховая премия"
                          },
                          "decor_limit": {
                            "type": "integer",
                            "description": "Лимит по внутренней отделке и инженерному оборудованию"
                          },
                          "elements_limit": {
                            "type": "integer",
                            "description": "Лимит по конструктивным элементам"
                          },
                          "household_limit": {
                            "type": "integer",
                            "description": "Лимит по домашнему имуществу"
                          },
                          "civil_limit": {
                            "type": "integer",
                            "description": "Лимит по гражданской ответственности"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ошибка аутентификации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Сообщение об ошибке",
                      "example": "Пользователь не авторизован"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/athlete": {
      "post": {
        "summary": "Создание страхового полиса",
        "tags": [
          "Страхование спортсменов"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "user_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Идентификатор пользователя"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "insurant",
                  "policeDetails"
                ],
                "properties": {
                  "insurant": {
                    "type": "object",
                    "required": [
                      "person"
                    ],
                    "properties": {
                      "person": {
                        "type": "object",
                        "required": [
                          "passportData",
                          "fullName",
                          "districtId",
                          "gender",
                          "birthDate",
                          "address",
                          "residentType",
                          "countryId",
                          "regionId"
                        ],
                        "properties": {
                          "passportData": {
                            "type": "object",
                            "required": [
                              "seria",
                              "number",
                              "IssuedBy",
                              "IssueDate"
                            ],
                            "properties": {
                              "pinfl": {
                                "type": "string",
                                "description": "ПИНФЛ (Если residentType = 1 или residentType = 5, то поле обязательное)"
                              },
                              "seria": {
                                "type": "string",
                                "description": "Серия паспорта"
                              },
                              "number": {
                                "type": "string",
                                "description": "Номер паспорта"
                              },
                              "IssuedBy": {
                                "type": "string",
                                "description": "Кем выдан паспорт"
                              },
                              "IssueDate": {
                                "type": "string",
                                "format": "dd.mm.yyyy",
                                "description": "Дата выдачи паспорта"
                              }
                            }
                          },
                          "fullName": {
                            "type": "object",
                            "required": [
                              "firstname",
                              "lastname",
                              "middlename"
                            ],
                            "properties": {
                              "firstname": {
                                "type": "string",
                                "description": "Имя"
                              },
                              "lastname": {
                                "type": "string",
                                "description": "Фамилия"
                              },
                              "middlename": {
                                "type": "string",
                                "description": "Отчество"
                              }
                            }
                          },
                          "districtId": {
                            "type": "integer",
                            "description": "ID района"
                          },
                          "gender": {
                            "type": "integer",
                            "description": "Пол (1 - мужской, 0 - женский)"
                          },
                          "birthDate": {
                            "type": "string",
                            "format": "dd.mm.yyyy",
                            "description": "Дата рождения"
                          },
                          "address": {
                            "type": "string",
                            "description": "Адрес"
                          },
                          "residentType": {
                            "type": "integer",
                            "description": "Тип резидента"
                          },
                          "countryId": {
                            "type": "integer",
                            "description": "Идентификатор страны"
                          },
                          "regionId": {
                            "type": "integer",
                            "description": "ID региона"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Телефон (в формате 998XXXXXXXXX) (Необязательно если residentType = 2)"
                          },
                          "email": {
                            "type": "string",
                            "description": "Адрес электронной почты (Обязательно если residentType = 2)"
                          }
                        }
[...]
