{
  "openapi": "3.0.3",
  "info": {
    "title": "RPS Real Solutions AVM API",
    "version": "1.0.0",
    "description": "RPS Real Property Solutions Automated Valuation Model (AVM) API for property valuations, market rent estimates, and real estate analytics.",
    "x-jentic-source-url": "https://www.rpsrealsolutions.com/automated-valuation-models/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.rpsrealsolutions.com"
    }
  ],
  "paths": {
    "/valuations": {
      "post": {
        "operationId": "getValuation",
        "summary": "Get Property Valuation",
        "description": "Get an automated valuation estimate for a property.",
        "tags": [
          "Valuations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValuationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValuationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/valuations/cascade": {
      "post": {
        "operationId": "getCascadeValuation",
        "summary": "Get Cascade Valuation",
        "description": "Get valuation using the Cascade AVM framework with multiple model fallback.",
        "tags": [
          "Valuations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValuationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CascadeValuationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/market-rent": {
      "post": {
        "operationId": "getMarketRent",
        "summary": "Get Market Rent Estimate",
        "tags": [
          "Market Rent"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketRentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketRentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Market Rent Estimate"
      }
    },
    "/properties/{propertyId}": {
      "get": {
        "operationId": "getProperty",
        "summary": "Get Property Data",
        "tags": [
          "Properties"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Property Data"
      }
    }
  },
  "components": {
    "schemas": {
      "ValuationRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zipCode": {
            "type": "string"
          },
          "propertyType": {
            "type": "string"
          }
        }
      },
      "ValuationResponse": {
        "type": "object",
        "properties": {
          "estimatedValue": {
            "type": "number"
          },
          "confidence": {
            "type": "string"
          },
          "lowValue": {
            "type": "number"
          },
          "highValue": {
            "type": "number"
          },
          "valuationDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "CascadeValuationResponse": {
        "type": "object",
        "properties": {
          "estimatedValue": {
            "type": "number"
          },
          "confidence": {
            "type": "string"
          },
          "modelUsed": {
            "type": "string"
          },
          "lowValue": {
            "type": "number"
          },
          "highValue": {
            "type": "number"
          }
        }
      },
      "MarketRentRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zipCode": {
            "type": "string"
          }
        }
      },
      "MarketRentResponse": {
        "type": "object",
        "properties": {
          "estimatedRent": {
            "type": "number"
          },
          "confidence": {
            "type": "string"
          },
          "lowRent": {
            "type": "number"
          },
          "highRent": {
            "type": "number"
          }
        }
      },
      "Property": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "propertyType": {
            "type": "string"
          },
          "bedrooms": {
            "type": "integer"
          },
          "bathrooms": {
            "type": "number"
          },
          "squareFeet": {
            "type": "number"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "X-API-Key",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Market Rent"
    },
    {
      "name": "Properties"
    },
    {
      "name": "Valuations"
    }
  ]
}
