{
  "openapi": "3.0.3",
  "info": {
    "title": "GoodReviews API",
    "version": "1.0.0",
    "description": "GoodReviews is a service that helps you collect Google Reviews from your customers. The API allows sending review invitation campaigns to customers via Zapier integration.",
    "x-jentic-source-url": "https://goodreviews-prod.s3.ap-southeast-2.amazonaws.com/doc/api-document.html"
  },
  "servers": [
    {
      "url": "https://api.goodreviews.com",
      "description": "GoodReviews API Server"
    }
  ],
  "paths": {
    "/api/zapier/campaign/single": {
      "post": {
        "operationId": "sendCampaignInvitation",
        "summary": "Send a single campaign invitation",
        "description": "Queue a review invitation for delivery to a single customer. The send_by field is automatically set to 'zapier'.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignInvitationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input (Code 2)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "API key error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyHeader": []
          }
        ],
        "tags": [
          "Campaigns"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CampaignInvitationRequest": {
        "type": "object",
        "required": [
          "full_name"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "full_name": {
            "type": "string",
            "description": "Full name of the customer"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "sendType": {
            "type": "string",
            "description": "Type of send method"
          }
        }
      },
      "CampaignResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Response code (e.g., 'success-01', 'failed-01', 'error-04')"
          },
          "message": {
            "type": "string",
            "description": "Response message"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Error description"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-APIKEY",
        "description": "API key for authentication (one per account)"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ]
}