{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "API para la validación de una tarjeta",
    "description": "API que permite la validación de una tarjeta",
    "termsOfService": "http://www.visanet.com.pe",
    "contact": {
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe",
      "email": "integraciones.visanet@necomplus.com"
    },
    "x-logo": {
      "url": "http://www.ligaempresasperu.com/Images/Equipos/IMGEQU00000230.png",
      "altText": "Logo de VisaNet"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.visanet.validate/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com/api.validate/v1",
      "description": "Url que corresponde al entorno de integración"
    },
    {
      "url": "https://apiprod.vnforapps.com/api.validate/v1",
      "description": "Url que corresponde al entorno de producción"
    }
  ],
  "paths": {
    "/validate/{product}/{merchantId}": {
      "post": {
        "tags": [
          "Validación"
        ],
        "summary": "RESTful API para la validación de una tarjeta",
        "parameters": [
          {
            "in": "path",
            "name": "product",
            "schema": {
              "type": "string",
              "enum": [
                "ecommerce"
              ],
              "default": "ecommerce"
            },
            "required": true,
            "description": "Identificador del producto. Puede ser uno de los siguientes valores:\n- `ecommerce` Para el producto comercio electrónico\n"
          },
          {
            "in": "path",
            "name": "merchantId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Código de comercio VisaNet. Ejemplo `341198210`"
          }
        ],
        "requestBody": {
          "description": "Request a enviar para la validación de una tarjeta",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BodyValidateRQ"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validación de tarjeta realizada con éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BodyValidateOKRS"
                }
              }
            }
          },
          "400": {
            "description": "Error en la validación de una tarjeta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BodyValidateNARS"
                }
              }
            }
          },
          "401": {
            "description": "Error relacionado a acceso no autorizado",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Unauthorized access"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OrderRQ": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "required": [
          "purchaseNumber",
          "amount",
          "currency"
        ],
        "properties": {
          "purchaseNumber": {
            "description": "Número de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "amount": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "currency": {
            "description": "Código de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          }
        }
      },
      "Card": {
        "type": "object",
        "description": "Entidad que representa información de la tarjeta",
        "required": [
          "cardNumber",
          "expirationMonth",
          "expirationYear"
        ],
        "properties": {
          "cardNumber": {
            "description": "Número de tarjeta / (No se envía para una tarjeta tokenizada)",
            "type": "string",
            "minLength": 14,
            "maxLength": 16,
            "example": "4551478422045511"
          },
          "expirationMonth": {
            "description": "Mes de expiración de la tarjeta / (No se envía para una tarjeta tokenizada)",
            "type": "integer",
            "format": "int32",
            "example": 12
          },
          "expirationYear": {
            "description": "Año de expiración de la tarjeta / (No se envía para una tarjeta tokenizada)",
            "type": "integer",
            "format": "int32",
            "example": 2021
          },
          "tokenId": {
            "description": "Token de la tarjeta generado por el formulario de tokenización. Solo para comercios con flujo de tokenización.",
            "type": "string",
            "minLength": 14,
            "maxLength": 16,
            "example": "7000010000000848"
          },
          "cvv2": {
            "description": "Número de CVV2 de la tarjeta",
            "type": "string",
            "minLength": 3,
            "maxLength": 4,
            "example": "329"
          }
        }
      },
      "CardHolder": {
        "type": "object",
        "description": "Entidad que representa la información del tarjetahabiente. Es de envío obligatorio cuando el atributo `tokenize` tiene el valor `true`",
        "required": [
          "email"
        ],
        "properties": {
          "firstName": {
            "description": "Nombres del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "example": "Juan"
          },
          "lastName": {
            "description": "Apellidos del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Crespo"
          },
          "email": {
            "description": "Correo electrónico del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 35,
            "example": "juan.c@latinmail.com"
          },
          "phoneNumber": {
            "description": "Teléfono del tarjetahabiente",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "5112223333"
          }
        }
      },
      "Sponsored": {
        "type": "object",
        "description": "Entidad que representa información relacionada al comercio hijo. Es de ingreso obligatorio si se esta integrando un facilitador de pagos",
        "required": [
          "merchantId",
          "name",
          "mcci",
          "address",
          "phoneNumber"
        ],
        "properties": {
          "merchantId": {
            "description": "Código de comercio hijo",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "406123567"
          },
          "name": {
            "description": "Nombre de comercio hijo",
            "type": "string",
            "minLength": 1,
            "maxLength": 25,
            "example": "Netflix"
          },
          "mcci": {
            "description": "MCC internacional de comercio hijo",
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "example": "0425"
          },
          "address": {
            "description": "Dirección de comercio hijo",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "Av. Pardo 323 Lima Perú"
          },
          "phoneNumber": {
            "description": "Teléfono de comercio hijo",
            "type": "string",
            "minLength": 1,
            "maxLength": 10,
            "example": "2132300"
          }
        }
      },
      "Header": {
        "type": "object",
        "description": "Entidad que representa el encabezado de respuesta a la petición",
        "properties": {
          "ecoreTransactionUUID": {
            "description": "Identificador único de transacción para la plataforma",
            "type": "string",
            "format": "uuid",
            "example": "76dda510-0088-4b82-bed2-4b4225187690"
          },
          "ecoreTransactionDate": {
            "description": "Fecha de la operación expresada en formato UNIX TimeStamp",
            "type": "string",
            "example": 1550355747781
          },
          "millis": {
            "description": "Tiempo de ejecución de la operación",
            "type": "integer",
            "format": "int32",
            "example": 294
          }
        }
      },
      "OrderRS": {
        "type": "object",
        "description": "Entidad que representa la información del pedido",
        "properties": {
          "purchaseNumber": {
            "description": "Número de pedido generado por el comercio",
            "type": "string",
            "minLength": 1,
            "maxLength": 12,
            "example": "1234567890"
          },
          "amount": {
            "description": "Importe del pedido autorizado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "currency": {
            "description": "Código de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PEN",
            "enum": [
              "PEN",
              "USD"
            ]
          },
          "authorizedAmount": {
            "description": "Importe del pedido confirmado. Precisión hasta 8 valores enteros con 2 decimales",
            "type": "number",
            "format": "double",
            "multipleOf": 0.01,
            "example": 12.35
          },
          "authorizationCode": {
            "description": "Código de autorización asignado a la aprobación de la transacción por la entidad resolutora",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "170921"
          },
          "traceNumber": {
            "description": "Número asignado para identificar de forma unívoca a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "77821"
          },
          "transactionDate": {
            "description": "Fecha de la transacción expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190216172227"
          },
          "transactionId": {
            "description": "Identificador de la transacción asociado a la autorización",
            "type": "string",
            "minLength": 15,
            "maxLength": 15,
            "example": "990172014359425"
          }
        }
      },
      "TokenRS": {
        "type": "object",
        "description": "Entidad que representa información de la tokenización para la tarjeta utilizada",
        "properties": {
          "tokenId": {
            "description": "Token identificador del objeto tokenizado",
            "type": "string",
            "minLength": 16,
            "maxLength": 16,
            "example": "7000010032209946"
          },
          "hash": {
            "description": "Hash identificador del objeto tokenizado",
            "type": "string",
            "minLength": 64,
            "maxLength": 64,
            "example": "bf2a948c94c420ddb0e8a1b6a75138ea4a996c3b40045fd53b2fbb809c1900ac"
          },
          "expiration": {
            "description": "Fecha de caducidad del token expresado en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "191023160647"
          }
        }
      },
      "Product": {
        "type": "object",
        "description": "Entidad que representa información complementaria del producto tarjeta",
        "properties": {
          "code": {
            "description": "Código del producto",
            "type": "string",
            "minLength": 1,
            "maxLength": 1,
            "example": "F"
          },
          "description": {
            "description": "Descripción del producto",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Visa Classic"
          }
        }
      },
      "Source": {
        "type": "object",
        "description": "Entidad que representa información complementaria al tipo de tarjeta",
        "properties": {
          "code": {
            "description": "Código del tipo de tarjeta",
            "type": "string",
            "minLength": 1,
            "maxLength": 1,
            "example": "C"
          },
          "description": {
            "description": "Descripción del tipo de tarjeta",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Credit"
          }
        }
      },
      "BinDetail": {
        "type": "object",
        "description": "Entidad que representa información complementaria del BIN de la tarjeta",
        "properties": {
          "bin": {
            "description": "Número de BIN",
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "example": "422052"
          },
          "region": {
            "description": "Código de región para el BIN",
            "type": "string",
            "minLength": 1,
            "maxLength": 5,
            "example": "5"
          },
          "country": {
            "description": "Código de país para el BIN",
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "PE"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "source": {
            "$ref": "#/components/schemas/Source"
          }
        }
      },
      "Data": {
        "type": "object",
        "description": "Entidad que representa información complementaria del pedido",
        "properties": {
          "CURRENCY": {
            "description": "Código numérico de moneda en la que se ejecuta la transacción",
            "type": "string",
            "minLength": 4,
            "maxLength": 4,
            "example": "0604"
          },
          "TRANSACTION_DATE": {
            "description": "Fecha de la transacción expresada en formato nativo yyMMddHHmmSS",
            "type": "string",
            "example": "190216172227"
          },
          "TERMINAL": {
            "description": "Número de terminal asociado a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 8,
            "example": "1"
          },
          "ACTION_CODE": {
            "description": "Código que identifica la acción a tomar o tomada, así como la razón de la misma. Define la respuesta a la petición de autorización realizada",
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "754"
          },
          "ACTION_DESCRIPTION": {
            "description": "Texto descriptivo de la autorización o denegación",
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "example": "Comercio o terminal no valido"
          },
          "TRACE_NUMBER": {
            "description": "Número asignado para identificar de forma unívoca a la transacción",
            "type": "string",
            "minLength": 1,
            "maxLength": 6,
            "example": "77821"
          },
          "MERCHANT": {
            "description": "Código de comercio VisaNet al cual pertenece la transacción",
            "type": "string",
            "minLength": 9,
            "maxLength": 9,
            "example": "341198210"
          }
        }
      },
      "BodyValidateRQ": {
        "type": "object",
        "description": "Entidad que representa información para la petición de validación de tarjeta",
        "required": [
          "channel",
          "captureType",
          "order",
          "card"
        ],
        "properties": {
          "channel": {
            "description": "Canal desde donde se originó la operación. Puede ser uno de los siguientes valores:\n- `web` Si son operaciones realizadas con el botón de pago web\n- `mobile` Si son operaciones realizadas con la librería de pago app\n- `pasarela` Si son operaciones realizadas con la API de validación de tarjeta para el producto comercio electrónico\n",
            "type": "string",
            "example": "web",
            "enum": [
              "web",
              "mobile",
              "pasarela"
            ]
          },
          "captureType": {
            "description": "Tipo de captura en el canal. Siempre es el valor `manual`",
            "type": "string",
            "example": "manual"
          },
          "tokenize": {
            "description": "Indica si la tarjeta a validar será o no tokenizada. Si es el valor `true` la tarjeta será tokenizada, si es el valor `false` la tarjeta no será tokenizada",
            "type": "boolean",
            "example": true
          },
          "order": {
            "$ref": "#/components/schemas/OrderRQ"
          },
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "cardHolder": {
            "$ref": "#/components/schemas/CardHolder"
          },
          "sponsored": {
            "$ref": "#/components/schemas/Sponsored"
          }
        }
      },
      "BodyValidateOKRS": {
        "type": "object",
        "description": "Entidad que representa información para la respuesta satisfactoria a la petición de validación de tarjeta",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "order": {
            "$ref": "#/components/schemas/OrderRS"
          },
          "token": {
            "$ref": "#/components/schemas/TokenRS"
          },
          "binDetail": {
            "$ref": "#/components/schemas/BinDetail"
          }
        }
      },
      "BodyValidateNARS": {
        "type": "object",
        "description": "Entidad que representa información para la respuesta no satisfactoria a la petición de validación de tarjeta",
        "properties": {
          "errorCode": {
            "type": "integer",
            "format": "int32",
            "description": "Código de error de la operación. Siempre es el valor `400`",
            "example": 400
          },
          "errorMessage": {
            "type": "string",
            "description": "Mensaje de error de la operación",
            "example": "Not Verified"
          },
          "header": {
            "$ref": "#/components/schemas/Header"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "description": "Token de acceso obtenido en la respuesta del api.security",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Validación",
      "description": "RESTful API Validación"
    }
  ],
  "externalDocs": {
    "description": "Página Web de VisaNet",
    "url": "http://www.visanet.com.pe"
  },
  "x-tagGroups": [
    {
      "name": "General",
      "tags": [
        "Validación"
      ]
    }
  ]
}