{
  "openapi": "3.0.3",
  "info": {
    "title": "Legnext AI API",
    "description": "Legnext AI Midjourney API for image and video generation. Provides endpoints for text-to-image generation, image editing, variations, upscaling, blending, video generation, and task management.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.legnext.ai"
  },
  "servers": [
    {
      "url": "https://api.legnext.ai/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/diffusion": {
      "post": {
        "operationId": "texttoimage",
        "summary": "Text to Image",
        "description": "Generate images from text prompts using advanced AI models.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/variation": {
      "post": {
        "operationId": "createvariation",
        "summary": "Create Image Variation",
        "description": "Create variations of existing images with controllable structure.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/upscale": {
      "post": {
        "operationId": "upscaleimage",
        "summary": "Upscale Image",
        "description": "Enhance image resolution and quality with AI upscaling technology.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpscaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reroll": {
      "post": {
        "operationId": "rerollimage",
        "summary": "Reroll Image",
        "description": "Re-execute a task to generate new variations with same parameters.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerollRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/blend": {
      "post": {
        "operationId": "blendimages",
        "summary": "Blend Images",
        "description": "Combine 2-5 images into a single unique creation with seamless blending.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/describe": {
      "post": {
        "operationId": "describeimage",
        "summary": "Describe Image",
        "description": "Generate detailed text descriptions and prompts from existing images.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DescribeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shorten": {
      "post": {
        "operationId": "shortenprompt",
        "summary": "Shorten Prompt",
        "description": "Analyze and simplify prompts to their most essential elements.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShortenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pan": {
      "post": {
        "operationId": "panextend",
        "summary": "Pan Extend",
        "description": "Extend images in a single specified direction with precision.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/outpaint": {
      "post": {
        "operationId": "outpaint",
        "summary": "Outpaint Image",
        "description": "Expand images in all directions using intelligent outpainting.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutpaintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/inpaint": {
      "post": {
        "operationId": "inpaint",
        "summary": "Inpaint Image",
        "description": "Edit and repaint specific areas of existing images with precision control using masks.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InpaintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/remix": {
      "post": {
        "operationId": "remiximage",
        "summary": "Remix Image",
        "description": "Transform images with new prompts and controllable intensity.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemixRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/edit": {
      "post": {
        "operationId": "advancededit",
        "summary": "Advanced Edit",
        "description": "Complex editing with custom canvas positioning and masks.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/upload-paint": {
      "post": {
        "operationId": "uploadpaint",
        "summary": "Upload Paint",
        "description": "Upload a paint mask image with canvas and image position configuration.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadPaintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/retexture": {
      "post": {
        "operationId": "retexture",
        "summary": "Retexture Image",
        "description": "Transform materials and textures with AI-powered style transfer.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetextureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/remove-background": {
      "post": {
        "operationId": "removebackground",
        "summary": "Remove Background",
        "description": "Automatically remove backgrounds to create clean cutouts.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBackgroundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/enhance": {
      "post": {
        "operationId": "enhanceimage",
        "summary": "Enhance Image",
        "description": "Improve image quality, clarity, and detail at current resolution.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/video-diffusion": {
      "post": {
        "operationId": "videodiffusion",
        "summary": "Video Diffusion",
        "description": "Generate dynamic videos from text prompts or existing images.",
        "tags": [
          "Video Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoDiffusionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/extend-video": {
      "post": {
        "operationId": "extendvideo",
        "summary": "Extend Video",
        "description": "Extend existing videos with seamless continuation and motion.",
        "tags": [
          "Video Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtendVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/video-upscale": {
      "post": {
        "operationId": "videoupscale",
        "summary": "Video Upscale",
        "description": "Enhance video resolution and quality using AI upscaling technology.",
        "tags": [
          "Video Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoUpscaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/topaz-upscale": {
      "post": {
        "operationId": "topazupscale",
        "summary": "Topaz Upscale Image",
        "description": "Enhance image resolution using Topaz AI upscaling technology.",
        "tags": [
          "Enhancement"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopazUpscaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/job/{job_id}": {
      "get": {
        "operationId": "gettask",
        "summary": "Get Task",
        "description": "Retrieve job status and results by job ID.",
        "tags": [
          "Task Management"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "The job ID returned from a creation endpoint",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/balance": {
      "get": {
        "operationId": "getaccountbalance",
        "summary": "Get Account Balance",
        "description": "Retrieve account balance and usage information.",
        "tags": [
          "Account Management"
        ],
        "responses": {
          "200": {
            "description": "Account balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountBalance"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "TextToImageRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "minLength": 1,
            "maxLength": 8192,
            "description": "Text prompt for image generation"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL for task completion notifications"
          }
        }
      },
      "VariationRequest": {
        "type": "object",
        "required": [
          "jobId",
          "imageNo",
          "type"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the original image generation task"
          },
          "imageNo": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "description": "Image number to create variation of"
          },
          "type": {
            "type": "integer",
            "description": "Variation type"
          },
          "remixPrompt": {
            "type": "string",
            "description": "Optional remix prompt"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "UpscaleRequest": {
        "type": "object",
        "required": [
          "jobId",
          "imageNo",
          "type"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the original image generation task"
          },
          "imageNo": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "description": "Image number to upscale"
          },
          "type": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Upscaling type: 0=Subtle, 1=Creative"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "RerollRequest": {
        "type": "object",
        "required": [
          "jobId"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the original task to reroll"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "BlendRequest": {
        "type": "object",
        "required": [
          "imgUrls",
          "aspect_ratio"
        ],
        "properties": {
          "imgUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "minItems": 2,
            "maxItems": 5,
            "description": "Array of 2-5 image URLs to blend"
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "2:3",
              "1:1",
              "3:2"
            ],
            "description": "Output aspect ratio"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "DescribeRequest": {
        "type": "object",
        "required": [
          "imgUrl"
        ],
        "properties": {
          "imgUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the image to describe"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "ShortenRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 8192,
            "description": "The prompt to analyze and shorten"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "PanRequest": {
        "type": "object",
        "required": [
          "jobId",
          "imageNo",
          "direction",
          "scale"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the original image generation task"
          },
          "imageNo": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "description": "Image number to extend"
          },
          "direction": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "description": "Extension direction (0-3)"
          },
          "scale": {
            "type": "number",
            "minimum": 1.1,
            "maximum": 3,
            "description": "Extension scale ratio"
          },
          "remixPrompt": {
            "type": "string",
            "maxLength": 8192,
            "description": "Text prompt for the extended area"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "OutpaintRequest": {
        "type": "object",
        "required": [
          "jobId",
          "imageNo",
          "scale"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the original image generation task"
          },
          "imageNo": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "description": "Image number to extend"
          },
          "scale": {
            "type": "number",
            "minimum": 1.1,
            "maximum": 2,
            "description": "Extension scale ratio"
          },
          "remixPrompt": {
            "type": "string",
            "maxLength": 8192,
            "description": "Text prompt for the extended areas"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "InpaintRequest": {
        "type": "object",
        "required": [
          "jobId",
          "imageNo",
          "mask"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the original image generation task"
          },
          "imageNo": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "description": "Image number to edit"
          },
          "mask": {
            "$ref": "#/components/schemas/Mask"
          },
          "remixPrompt": {
            "type": "string",
            "maxLength": 8192,
            "description": "Text prompt for the repaint area"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "RemixRequest": {
        "type": "object",
        "required": [
          "jobId",
          "imageNo",
          "remixPrompt"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the original image generation task"
          },
          "imageNo": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "description": "Image number to remix"
          },
          "remixPrompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 8192,
            "description": "New text prompt for transformation"
          },
          "mode": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "default": 0,
            "description": "Remix intensity mode"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "EditRequest": {
        "type": "object",
        "required": [
          "jobId",
          "imageNo",
          "canvas",
          "imgPos",
          "remixPrompt"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the original image generation task"
          },
          "imageNo": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "description": "Image number to edit"
          },
          "canvas": {
            "$ref": "#/components/schemas/Canvas"
          },
          "imgPos": {
            "$ref": "#/components/schemas/CanvasImg"
          },
          "remixPrompt": {
            "type": "string",
            "description": "Text prompt for the edit"
          },
          "mask": {
            "$ref": "#/components/schemas/Mask"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "UploadPaintRequest": {
        "type": "object",
        "required": [
          "imgUrl",
          "canvas",
          "imgPos"
        ],
        "properties": {
          "imgUrl": {
            "type": "string",
            "description": "URL of the source image"
          },
          "canvas": {
            "type": "string",
            "description": "JSON string with width and height"
          },
          "imgPos": {
            "type": "string",
            "description": "JSON string with width, height, x, y"
          }
        }
      },
      "RetextureRequest": {
        "type": "object",
        "required": [
          "imgUrl",
          "remixPrompt"
        ],
        "properties": {
          "imgUrl": {
            "type": "string",
            "format": "uri",
            "maxLength": 1024,
            "description": "URL of the source image"
          },
          "remixPrompt": {
            "type": "string",
            "description": "Text description of desired texture/material transformation"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "RemoveBackgroundRequest": {
        "type": "object",
        "required": [
          "imgUrl"
        ],
        "properties": {
          "imgUrl": {
            "type": "string",
            "format": "uri",
            "maxLength": 1024,
            "description": "URL of the image to process"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "EnhanceRequest": {
        "type": "object",
        "required": [
          "jobId",
          "imageNo"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the original image generation task"
          },
          "imageNo": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "description": "Image number to enhance"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "VideoDiffusionRequest": {
        "type": "object",
        "required": [
          "jobId",
          "imageNo"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the source image task"
          },
          "imageNo": {
            "type": "integer",
            "description": "Image number to use as video source"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for video generation"
          },
          "videoType": {
            "type": "integer",
            "default": 0,
            "description": "Video generation type"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "ExtendVideoRequest": {
        "type": "object",
        "required": [
          "jobId",
          "videoNo"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the original video task"
          },
          "videoNo": {
            "type": "integer",
            "description": "Video number to extend"
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt for video continuation"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "VideoUpscaleRequest": {
        "type": "object",
        "required": [
          "jobId",
          "videoNo"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the original video task"
          },
          "videoNo": {
            "type": "integer",
            "description": "Video number to upscale"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "TopazUpscaleRequest": {
        "type": "object",
        "required": [
          "jobId",
          "imageNo"
        ],
        "properties": {
          "jobId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the original image task"
          },
          "imageNo": {
            "type": "integer",
            "minimum": 0,
            "maximum": 3,
            "description": "Image number to upscale"
          },
          "callback": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          }
        }
      },
      "Mask": {
        "type": "object",
        "description": "Mask definition for image editing regions",
        "properties": {
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Polygon"
            }
          }
        }
      },
      "Polygon": {
        "type": "object",
        "description": "Polygon area definition",
        "properties": {
          "points": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "x": {
                  "type": "number"
                },
                "y": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "Canvas": {
        "type": "object",
        "description": "Canvas dimensions",
        "required": [
          "width",
          "height"
        ],
        "properties": {
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          }
        }
      },
      "CanvasImg": {
        "type": "object",
        "description": "Image position on canvas",
        "required": [
          "width",
          "height",
          "x",
          "y"
        ],
        "properties": {
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "x": {
            "type": "integer"
          },
          "y": {
            "type": "integer"
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "format": "uuid"
          },
          "model": {
            "type": "string"
          },
          "task_type": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "config": {
            "type": "object",
            "properties": {
              "service_mode": {
                "type": "string"
              },
              "webhook_config": {
                "type": "object",
                "properties": {
                  "endpoint": {
                    "type": "string"
                  },
                  "secret": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "input": {
            "type": "object",
            "nullable": true
          },
          "output": {
            "type": "object",
            "properties": {
              "image_url": {
                "type": "string"
              },
              "image_urls": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "nullable": true
              },
              "seed": {
                "type": "string"
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "started_at": {
                "type": "string",
                "format": "date-time"
              },
              "ended_at": {
                "type": "string",
                "format": "date-time"
              },
              "usage": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "frozen": {
                    "type": "integer"
                  },
                  "consume": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "detail": {
            "type": "object",
            "nullable": true
          },
          "logs": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "raw_message": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "detail": {
                "type": "object",
                "nullable": true
              }
            }
          }
        }
      },
      "AccountBalance": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "usage": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "remaining": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "raw_message": {
            "type": "string"
          },
          "detail": {
            "type": "object",
            "nullable": true
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account Management",
      "description": "Operations related to Account Management"
    },
    {
      "name": "Enhancement",
      "description": "Operations related to Enhancement"
    },
    {
      "name": "Image Generation",
      "description": "Operations related to Image Generation"
    },
    {
      "name": "Task Management",
      "description": "Operations related to Task Management"
    },
    {
      "name": "Video Generation",
      "description": "Operations related to Video Generation"
    }
  ]
}