{
  "openapi": "3.0.3",
  "info": {
    "title": "Legnext AI API",
    "version": "1.0.0",
    "description": "Legnext is a platform that lets you automate AI Image generation without any setup. The API provides endpoints for image generation, manipulation, and enhancement using various AI models.",
    "x-jentic-source-url": "https://docs.legnext.ai"
  },
  "servers": [
    {
      "url": "https://api.legnext.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v1/diffusion": {
      "post": {
        "operationId": "createDiffusionImage",
        "summary": "Generate image using diffusion model",
        "description": "Creates a new image generation task using AI diffusion models. Returns a task ID for async processing.",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiffusionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/variation": {
      "post": {
        "operationId": "createImageVariation",
        "summary": "Create image variation",
        "description": "Generates variations of an existing image",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VariationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/upscale": {
      "post": {
        "operationId": "upscaleImage",
        "summary": "Upscale image resolution",
        "description": "Increases the resolution and quality of an image",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/enhance": {
      "post": {
        "operationId": "enhanceImage",
        "summary": "Enhance image quality",
        "description": "Improves overall image quality using AI enhancement",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/enhance-upscale": {
      "post": {
        "operationId": "enhanceAndUpscaleImage",
        "summary": "Enhance and upscale image",
        "description": "Combines enhancement and upscaling in a single operation",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inpaint": {
      "post": {
        "operationId": "inpaintImage",
        "summary": "Inpaint image regions",
        "description": "Fills or modifies specific regions of an image based on a mask",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InpaintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/outpaint": {
      "post": {
        "operationId": "outpaintImage",
        "summary": "Extend image boundaries",
        "description": "Extends an image beyond its original boundaries",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pan": {
      "post": {
        "operationId": "panImage",
        "summary": "Pan and extend image",
        "description": "Pans the image frame and extends content in a specific direction",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/blend": {
      "post": {
        "operationId": "blendImages",
        "summary": "Blend multiple images",
        "description": "Combines multiple images into a single blended result",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/describe": {
      "post": {
        "operationId": "describeImage",
        "summary": "Generate image description",
        "description": "Analyzes an image and generates a textual description",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reroll": {
      "post": {
        "operationId": "rerollImage",
        "summary": "Regenerate image with same parameters",
        "description": "Creates a new variation using the same generation parameters",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remix": {
      "post": {
        "operationId": "remixImage",
        "summary": "Remix image with new prompt",
        "description": "Modifies an existing image using a new text prompt",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemixRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shorten": {
      "post": {
        "operationId": "shortenPrompt",
        "summary": "Shorten a text prompt",
        "description": "Condenses a long prompt into a shorter, more concise version",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remove-background": {
      "post": {
        "operationId": "removeBackground",
        "summary": "Remove image background",
        "description": "Removes the background from an image, leaving only the foreground subject",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/edit": {
      "post": {
        "operationId": "editImage",
        "summary": "Edit image with AI",
        "description": "Performs AI-guided editing on an image",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/retexture": {
      "post": {
        "operationId": "retextureImage",
        "summary": "Change image texture",
        "description": "Modifies the texture or material properties of objects in an image",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemixRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/upload-paint": {
      "post": {
        "operationId": "uploadPaint",
        "summary": "Upload image for painting",
        "description": "Uploads an image to be used as a base for painting operations",
        "tags": [
          "Image Manipulation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/video-diffusion": {
      "post": {
        "operationId": "generateVideo",
        "summary": "Generate video with AI",
        "description": "Creates a video using AI diffusion models",
        "tags": [
          "Video Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiffusionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/video-upscale": {
      "post": {
        "operationId": "upscaleVideo",
        "summary": "Upscale video resolution",
        "description": "Increases the resolution and quality of a video",
        "tags": [
          "Video Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/extend-video": {
      "post": {
        "operationId": "extendVideo",
        "summary": "Extend video duration",
        "description": "Extends a video by generating additional frames",
        "tags": [
          "Video Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/job/{taskId}": {
      "get": {
        "operationId": "getJobStatus",
        "summary": "Get job status and results",
        "description": "Retrieves the status and results of an asynchronous job",
        "tags": [
          "Job Management"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the task",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid task ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication. Obtain from your Legnext account dashboard."
      }
    },
    "schemas": {
      "DiffusionRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text description of the image to generate"
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text description of what to avoid in the generated image"
          },
          "model": {
            "type": "string",
            "description": "AI model to use for generation"
          },
          "width": {
            "type": "integer",
            "description": "Width of the generated image in pixels",
            "minimum": 64,
            "maximum": 2048
          },
          "height": {
            "type": "integer",
            "description": "Height of the generated image in pixels",
            "minimum": 64,
            "maximum": 2048
          },
          "num_images": {
            "type": "integer",
            "description": "Number of images to generate",
            "minimum": 1,
            "maximum": 10,
            "default": 1
          },
          "guidance_scale": {
            "type": "number",
            "format": "float",
            "description": "How strictly to follow the prompt (higher = more strict)",
            "minimum": 1,
            "maximum": 20
          },
          "num_inference_steps": {
            "type": "integer",
            "description": "Number of denoising steps (higher = better quality, slower)",
            "minimum": 1,
            "maximum": 100
          },
          "seed": {
            "type": "integer",
            "description": "Random seed for reproducibility"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notification when task completes"
          }
        }
      },
      "VariationRequest": {
        "type": "object",
        "required": [
          "image_url"
        ],
        "properties": {
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the source image"
          },
          "prompt": {
            "type": "string",
            "description": "Optional prompt to guide the variation"
          },
          "num_images": {
            "type": "integer",
            "description": "Number of variations to generate",
            "minimum": 1,
            "maximum": 10,
            "default": 1
          },
          "strength": {
            "type": "number",
            "format": "float",
            "description": "How much to vary from the original (0-1)",
            "minimum": 0,
            "maximum": 1
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notification when task completes"
          }
        }
      },
      "ImageOperationRequest": {
        "type": "object",
        "required": [
          "image_url"
        ],
        "properties": {
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the image to process"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notification when task completes"
          }
        }
      },
      "InpaintRequest": {
        "type": "object",
        "required": [
          "image_url",
          "mask_url",
          "prompt"
        ],
        "properties": {
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the source image"
          },
          "mask_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the mask image (white areas will be inpainted)"
          },
          "prompt": {
            "type": "string",
            "description": "Text description of what to generate in masked areas"
          },
          "negative_prompt": {
            "type": "string",
            "description": "Text description of what to avoid"
          },
          "strength": {
            "type": "number",
            "format": "float",
            "description": "Strength of the inpainting effect (0-1)",
            "minimum": 0,
            "maximum": 1
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notification when task completes"
          }
        }
      },
      "PanRequest": {
        "type": "object",
        "required": [
          "image_url",
          "direction"
        ],
        "properties": {
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the source image"
          },
          "direction": {
            "type": "string",
            "enum": [
              "left",
              "right",
              "up",
              "down"
            ],
            "description": "Direction to pan"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notification when task completes"
          }
        }
      },
      "BlendRequest": {
        "type": "object",
        "required": [
          "image_urls"
        ],
        "properties": {
          "image_urls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of image URLs to blend",
            "minItems": 2,
            "maxItems": 5
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notification when task completes"
          }
        }
      },
      "RemixRequest": {
        "type": "object",
        "required": [
          "image_url",
          "prompt"
        ],
        "properties": {
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the source image"
          },
          "prompt": {
            "type": "string",
            "description": "New prompt to guide the remix"
          },
          "strength": {
            "type": "number",
            "format": "float",
            "description": "How much to change the image (0-1)",
            "minimum": 0,
            "maximum": 1
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notification when task completes"
          }
        }
      },
      "EditRequest": {
        "type": "object",
        "required": [
          "image_url",
          "instructions"
        ],
        "properties": {
          "image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the image to edit"
          },
          "instructions": {
            "type": "string",
            "description": "Natural language instructions for the edit"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notification when task completes"
          }
        }
      },
      "PromptRequest": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "The prompt text to process"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notification when task completes"
          }
        }
      },
      "VideoOperationRequest": {
        "type": "object",
        "required": [
          "video_url"
        ],
        "properties": {
          "video_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the video to process"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive webhook notification when task completes"
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Unique identifier for the created task"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ],
            "description": "Current status of the task"
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Unique identifier for the task"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ],
            "description": "Current status of the task"
          },
          "result": {
            "type": "object",
            "description": "Result data when task is completed",
            "properties": {
              "image_urls": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                },
                "description": "URLs of generated images"
              },
              "video_url": {
                "type": "string",
                "format": "uri",
                "description": "URL of generated video"
              },
              "text": {
                "type": "string",
                "description": "Generated text (for describe/shorten operations)"
              }
            }
          },
          "error": {
            "type": "string",
            "description": "Error message if task failed"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when task was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when task was last updated"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Image Generation",
      "description": "Generate images using AI diffusion models"
    },
    {
      "name": "Image Manipulation",
      "description": "Edit, enhance, and transform existing images"
    },
    {
      "name": "Video Generation",
      "description": "Generate and manipulate videos using AI"
    },
    {
      "name": "Job Management",
      "description": "Manage and retrieve asynchronous job results"
    }
  ]
}