{
  "openapi": "3.0.3",
  "info": {
    "title": "PayPhone API",
    "version": "1.0.0",
    "description": "PayPhone payment gateway API for Ecuador. Enables merchants to process payments through the PayPhone app and cards.",
    "x-jentic-source-url": "https://www.docs.payphone.app/api-implementacion",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://pay.payphonetodoesposible.com"
    }
  ],
  "paths": {
    "/api/Sale": {
      "post": {
        "operationId": "createSale",
        "summary": "Create a payment request",
        "description": "Generate a charge request processed within the customer's PayPhone app.",
        "tags": [
          "Sales"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sale created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Sale/{transactionId}": {
      "get": {
        "operationId": "getSaleByTransactionId",
        "summary": "Query sale by transaction ID",
        "description": "Retrieve the status of a specific transaction.",
        "tags": [
          "Sales"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Sale/client/{clientTransactionId}": {
      "get": {
        "operationId": "getSaleByClientTransactionId",
        "summary": "Query sale by client transaction ID",
        "description": "Retrieve transaction status using merchant-generated identifier.",
        "tags": [
          "Sales"
        ],
        "parameters": [
          {
            "name": "clientTransactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SaleRequest": {
        "type": "object",
        "required": [
          "phoneNumber",
          "countryCode",
          "amount",
          "currency",
          "clientTransactionId"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "Customer's PayPhone number"
          },
          "countryCode": {
            "type": "string",
            "description": "E.164 country code"
          },
          "amount": {
            "type": "integer",
            "description": "Total amount in cents"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          },
          "clientTransactionId": {
            "type": "string",
            "description": "Unique merchant transaction ID"
          },
          "storeId": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "responseUrl": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "SaleResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "clientTransactionId": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer",
            "description": "1=Pending, 2=Rejected, 3=Approved"
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token from PayPhone Developer portal"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Sales"
    }
  ]
}
