{
  "openapi": "3.0.3",
  "info": {
    "title": "Shippo external API.",
    "version": "2018-02-08",
    "x-logo": {
      "url": "https://docs.goshippo.com/images/shippo-logo.svg"
    },
    "contact": {
      "name": "Shippo Developer Platform",
      "url": "https://goshippo.com/contact/"
    },
    "description": "Use this API to integrate with the Shippo service",
    "x-jentic-source-url": "https://docs.goshippo.com/spec/shippoapi/public-api.yaml"
  },
  "servers": [
    {
      "url": "https://api.goshippo.com"
    }
  ],
  "paths": {
    "/addresses": {
      "get": {
        "description": "Returns a list of all address objects that have been created in this account.",
        "operationId": "ListAddresses",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageNumberQueryParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageDefault5QueryParam"
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/addressPaginatedResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          }
        },
        "summary": "List all addresses",
        "tags": [
          "Addresses"
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/addresses/ \\\n -H \"Authorization: ShippoToken shippo_test_REDACTED\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import shippo\n\ns = shippo.Shippo(\n    api_key_header='ShippoToken <API_TOKEN>',\n    shippo_api_version='2018-02-08',\n)\n\n\nres = s.addresses.list(page=1, results=5)\n\nif res is not None:\n    # handle response\n    pass"
          },
          {
            "lang": "typescript",
            "label": "Typescript",
            "source": "import { Shippo } from \"shippo\";\n\nconst shippo = new Shippo({\n  apiKeyHeader: \"ShippoToken <API_TOKEN>\",\n  shippoApiVersion: \"2018-02-08\",\n});\n\nasync function run() {\n  const result = await shippo.addresses.list(1, 5);\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Shippo\\API;\n\n$sdk = API\\Shippo::builder()\n    ->setSecurity(\n        'ShippoToken <API_TOKEN>'\n    )\n    ->setShippoApiVersion('2018-02-08')\n    ->build();\n\n\n\n$response = $sdk->addresses->list(\n    page: 1,\n    results: 5,\n    shippoApiVersion: '2018-02-08'\n\n);\n\nif ($response->addressPaginatedList !== null) {\n    // handle response\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using Shippo;\nusing Shippo.Models.Components;\n\nvar sdk = new ShippoSDK(\n    apiKeyHeader: \"ShippoToken <API_TOKEN>\",\n    shippoApiVersion: \"2018-02-08\"\n);\n\nvar res = await sdk.Addresses.ListAsync(\n    page: 1,\n    results: 5,\n    shippoApiVersion: \"2018-02-08\"\n);\n\n// handle response"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "package hello.world;\n\nimport com.goshippo.shippo_sdk.Shippo;\nimport com.goshippo.shippo_sdk.models.operations.ListAddressesResponse;\nimport java.lang.Exception;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        Shippo sdk = Shippo.builder()\n                .apiKeyHeader(\"ShippoToken <API_TOKEN>\")\n                .shippoApiVersion(\"2018-02-08\")\n            .build();\n\n        ListAddressesResponse res = sdk.addresses().list()\n                .page(1L)\n                .results(5L)\n                .shippoApiVersion(\"2018-02-08\")\n                .call();\n\n        if (res.addressPaginatedList().isPresent()) {\n            // handle response\n        }\n    }\n}"
          }
        ]
      },
      "post": {
        "description": "Creates a new address object. You can use address objects to create new shipments, calculate rates, and to create orders.",
        "operationId": "CreateAddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressCreateRequest"
              }
            }
          },
          "description": "Address details."
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/addressResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          }
        },
        "summary": "Create a new address",
        "tags": [
          "Addresses"
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/addresses/ \\\n  -H \"Authorization: ShippoToken shippo_test_REDACTED\" \\\n  -d name=\"Shawn Ippotle\" \\\n  -d company=\"Shippo\" \\\n  -d street1=\"215 Clayton St.\" \\\n  -d street2=\"\" \\\n  -d city=\"San Francisco\" \\\n  -d state=\"CA\" \\\n  -d zip=94117 \\\n  -d country=\"US\" \\\n  -d phone=\"+1 555 341 9393\" \\\n  -d email=\"shippotle@shippo.com\"\\\n  -d is_residential=True\\\n  -d metadata=\"Customer ID 123456\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import shippo\nfrom shippo.models import components\n\ns = shippo.Shippo(\n    api_key_header='ShippoToken <API_TOKEN>',\n    shippo_api_version='2018-02-08',\n)\n\n\nres = s.addresses.create(request=components.AddressCreateRequest(\n    name='Shwan Ippotle',\n    company='Shippo',\n    street1='215 Clayton St.',\n    street3='',\n    street_no='',\n    city='San Francisco',\n    state='CA',\n    zip='94117',\n    country='US',\n    phone='+1 555 341 9393',\n    email='shippotle@shippo.com',\n    is_residential=True,\n    metadata='Customer ID 123456',\n    validate=True,\n))\n\nif res is not None:\n    # handle response\n    pass"
          },
          {
            "lang": "typescript",
            "label": "Typescript",
            "source": "import { Shippo } from \"shippo\";\n\nconst shippo = new Shippo({\n  apiKeyHeader: \"ShippoToken <API_TOKEN>\",\n  shippoApiVersion: \"2018-02-08\",\n});\n\nasync function run() {\n  const result = await shippo.addresses.create({\n    name: \"Shwan Ippotle\",\n    company: \"Shippo\",\n    street1: \"215 Clayton St.\",\n    street3: \"\",\n    streetNo: \"\",\n    city: \"San Francisco\",\n    state: \"CA\",\n    zip: \"94117\",\n    country: \"US\",\n    phone: \"+1 555 341 9393\",\n    email: \"shippotle@shippo.com\",\n    isResidential: true,\n    metadata: \"Customer ID 123456\",\n    validate: true,\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Shippo\\API;\nuse Shippo\\API\\Models\\Components;\n\n$sdk = API\\Shippo::builder()\n    ->setSecurity(\n        'ShippoToken <API_TOKEN>'\n    )\n    ->setShippoApiVersion('2018-02-08')\n    ->build();\n\n$addressCreateRequest = new Components\\AddressCreateRequest(\n    name: 'Shwan Ippotle',\n    company: 'Shippo',\n    street1: '215 Clayton St.',\n    street3: '',\n    streetNo: '',\n    city: 'San Francisco',\n    state: 'CA',\n    zip: '94117',\n    country: 'US',\n    phone: '+1 555 341 9393',\n    email: 'shippotle@shippo.com',\n    isResidential: true,\n    metadata: 'Customer ID 123456',\n    validate: true,\n);\n\n$response = $sdk->addresses->create(\n    addressCreateRequest: $addressCreateRequest,\n    shippoApiVersion: '2018-02-08'\n\n);\n\nif ($response->address !== null) {\n    // handle response\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using Shippo;\nusing Shippo.Models.Components;\n\nvar sdk = new ShippoSDK(\n    apiKeyHeader: \"ShippoToken <API_TOKEN>\",\n    shippoApiVersion: \"2018-02-08\"\n);\n\nvar res = await sdk.Addresses.CreateAsync(\n    addressCreateRequest: new AddressCreateRequest() {\n        Name = \"Shwan Ippotle\",\n        Company = \"Shippo\",\n        Street1 = \"215 Clayton St.\",\n        Street3 = \"\",\n        StreetNo = \"\",\n        City = \"San Francisco\",\n        State = \"CA\",\n        Zip = \"94117\",\n        Country = \"US\",\n        Phone = \"+1 555 341 9393\",\n        Email = \"shippotle@shippo.com\",\n        IsResidential = true,\n        Metadata = \"Customer ID 123456\",\n        Validate = true,\n    },\n    shippoApiVersion: \"2018-02-08\"\n);\n\n// handle response"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "package hello.world;\n\nimport com.goshippo.shippo_sdk.Shippo;\nimport com.goshippo.shippo_sdk.models.components.AddressCreateRequest;\nimport com.goshippo.shippo_sdk.models.operations.CreateAddressResponse;\nimport java.lang.Exception;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        Shippo sdk = Shippo.builder()\n                .apiKeyHeader(\"ShippoToken <API_TOKEN>\")\n                .shippoApiVersion(\"2018-02-08\")\n            .build();\n\n        CreateAddressResponse res = sdk.addresses().create()\n                .shippoApiVersion(\"2018-02-08\")\n                .addressCreateRequest(AddressCreateRequest.builder()\n                    .country(\"US\")\n                    .name(\"Shwan Ippotle\")\n                    .company(\"Shippo\")\n                    .street1(\"215 Clayton St.\")\n                    .street3(\"\")\n                    .streetNo(\"\")\n                    .city(\"San Francisco\")\n                    .state(\"CA\")\n                    .zip(\"94117\")\n                    .phone(\"+1 555 341 9393\")\n                    .email(\"shippotle@shippo.com\")\n                    .isResidential(true)\n                    .metadata(\"Customer ID 123456\")\n                    .validate(true)\n                    .build())\n                .call();\n\n        if (res.address().isPresent()) {\n            // handle response\n        }\n    }\n}"
          }
        ]
      }
    },
    "/addresses/{AddressId}": {
      "get": {
        "description": "Returns an existing address using an object ID.",
        "operationId": "GetAddress",
        "parameters": [
          {
            "description": "Object ID of the address",
            "in": "path",
            "name": "AddressId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/addressResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          }
        },
        "summary": "Retrieve an address",
        "tags": [
          "Addresses"
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/addresses/d799c2679e644279b59fe661ac8fa488/ \\\n  -H \"Authorization: ShippoToken shippo_test_REDACTED\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import shippo\n\ns = shippo.Shippo(\n    api_key_header='ShippoToken <API_TOKEN>',\n    shippo_api_version='2018-02-08',\n)\n\n\nres = s.addresses.get(address_id='<id>')\n\nif res is not None:\n    # handle response\n    pass"
          },
          {
            "lang": "typescript",
            "label": "Typescript",
            "source": "import { Shippo } from \"shippo\";\n\nconst shippo = new Shippo({\n  apiKeyHeader: \"ShippoToken <API_TOKEN>\",\n  shippoApiVersion: \"2018-02-08\",\n});\n\nasync function run() {\n  const result = await shippo.addresses.get(\"<id>\");\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Shippo\\API;\n\n$sdk = API\\Shippo::builder()\n    ->setSecurity(\n        'ShippoToken <API_TOKEN>'\n    )\n    ->setShippoApiVersion('2018-02-08')\n    ->build();\n\n\n\n$response = $sdk->addresses->get(\n    addressId: '<id>',\n    shippoApiVersion: '2018-02-08'\n\n);\n\nif ($response->address !== null) {\n    // handle response\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using Shippo;\nusing Shippo.Models.Components;\n\nvar sdk = new ShippoSDK(\n    apiKeyHeader: \"ShippoToken <API_TOKEN>\",\n    shippoApiVersion: \"2018-02-08\"\n);\n\nvar res = await sdk.Addresses.GetAsync(\n    addressId: \"<id>\",\n    shippoApiVersion: \"2018-02-08\"\n);\n\n// handle response"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "package hello.world;\n\nimport com.goshippo.shippo_sdk.Shippo;\nimport com.goshippo.shippo_sdk.models.operations.GetAddressResponse;\nimport java.lang.Exception;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        Shippo sdk = Shippo.builder()\n                .apiKeyHeader(\"ShippoToken <API_TOKEN>\")\n                .shippoApiVersion(\"2018-02-08\")\n            .build();\n\n        GetAddressResponse res = sdk.addresses().get()\n                .addressId(\"<id>\")\n                .shippoApiVersion(\"2018-02-08\")\n                .call();\n\n        if (res.address().isPresent()) {\n            // handle response\n        }\n    }\n}"
          }
        ]
      }
    },
    "/addresses/{AddressId}/validate": {
      "get": {
        "description": "Validates an existing address using an object ID",
        "operationId": "ValidateAddress",
        "parameters": [
          {
            "description": "Object ID of the address",
            "in": "path",
            "name": "AddressId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/addressResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          }
        },
        "summary": "Validate an address",
        "tags": [
          "Addresses"
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/addresses/d799c2679e644279b59fe661ac8fa488/validate/ \\\n  -H \"Authorization: ShippoToken shippo_test_REDACTED\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import shippo\n\ns = shippo.Shippo(\n    api_key_header='ShippoToken <API_TOKEN>',\n    shippo_api_version='2018-02-08',\n)\n\n\nres = s.addresses.validate(address_id='<id>')\n\nif res is not None:\n    # handle response\n    pass"
          },
          {
            "lang": "typescript",
            "label": "Typescript",
            "source": "import { Shippo } from \"shippo\";\n\nconst shippo = new Shippo({\n  apiKeyHeader: \"ShippoToken <API_TOKEN>\",\n  shippoApiVersion: \"2018-02-08\",\n});\n\nasync function run() {\n  const result = await shippo.addresses.validate(\"<id>\");\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Shippo\\API;\n\n$sdk = API\\Shippo::builder()\n    ->setSecurity(\n        'ShippoToken <API_TOKEN>'\n    )\n    ->setShippoApiVersion('2018-02-08')\n    ->build();\n\n\n\n$response = $sdk->addresses->validate(\n    addressId: '<id>',\n    shippoApiVersion: '2018-02-08'\n\n);\n\nif ($response->address !== null) {\n    // handle response\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using Shippo;\nusing Shippo.Models.Components;\n\nvar sdk = new ShippoSDK(\n    apiKeyHeader: \"ShippoToken <API_TOKEN>\",\n    shippoApiVersion: \"2018-02-08\"\n);\n\nvar res = await sdk.Addresses.ValidateAsync(\n    addressId: \"<id>\",\n    shippoApiVersion: \"2018-02-08\"\n);\n\n// handle response"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "package hello.world;\n\nimport com.goshippo.shippo_sdk.Shippo;\nimport com.goshippo.shippo_sdk.models.operations.ValidateAddressResponse;\nimport java.lang.Exception;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        Shippo sdk = Shippo.builder()\n                .apiKeyHeader(\"ShippoToken <API_TOKEN>\")\n                .shippoApiVersion(\"2018-02-08\")\n            .build();\n\n        ValidateAddressResponse res = sdk.addresses().validate()\n                .addressId(\"<id>\")\n                .shippoApiVersion(\"2018-02-08\")\n                .call();\n\n        if (res.address().isPresent()) {\n            // handle response\n        }\n    }\n}"
          }
        ],
        "x-speakeasy-name-override": "validate"
      }
    },
    "/batches": {
      "post": {
        "description": "Creates a new batch object for purchasing shipping labels for many shipments at once. Batches are created asynchronously. This means that the API response won't include your batch shipments yet. You need to retrieve the batch later to verify that all batch shipments are valid.",
        "operationId": "CreateBatch",
        "parameters": [
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateRequest"
              }
            }
          },
          "description": "Batch details."
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/batchResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          }
        },
        "summary": "Create a batch",
        "tags": [
          "Batches"
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/batches/  \\\n-H \"Authorization: ShippoToken shippo_test_REDACTED\" \\\n-H \"Content-Type: application/json\"  \\\n-d '{\n      \"default_carrier_account\": \"078870331023437cb917f5187429b093\",\n      \"default_servicelevel_token\": \"usps_priority\",\n      \"label_filetype\": \"PDF_4x6\",\n      \"metadata\": \"BATCH #170\",\n      \"batch_shipments\": [\n        {\n          \"shipment\": {    \n            \"address_from\": {\n              \"name\": \"Mr Hippo\",\n              \"street1\": \"965 Mission St\",\n              \"street2\": \"Ste 201\",\n              \"city\": \"San Francisco\",\n              \"state\": \"CA\",\n              \"zip\": \"94103\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n              \"email\": \"mrhippo@shippo.com\"\n            },\n            \"address_to\": {\n              \"name\": \"Mrs Hippo\",\n              \"company\": \"\",\n              \"street1\": \"Broadway 1\",\n              \"street2\": \"\",\n              \"city\": \"New York\",\n              \"state\": \"NY\",\n              \"zip\": \"10007\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n              \"email\": \"mrshippo@shippo.com\"\n            },\n            \"parcels\": [{\n              \"length\": \"5\",\n              \"width\": \"5\",\n              \"height\": \"5\",\n              \"distance_unit\": \"in\",\n              \"weight\": \"2\",\n              \"mass_unit\": \"oz\"\n            }]\n          }\n        },\n        {\n          \"shipment\": {    \n            \"address_from\": {\n              \"name\": \"Mr Hippo\",\n              \"street1\": \"1092 Indian Summer Ct\",\n              \"city\": \"San Jose\",\n              \"state\": \"CA\",\n              \"zip\": \"95122\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n              \"email\": \"mrhippo@shippo.com\"\n            },\n            \"address_to\": {\n              \"name\": \"Mrs Hippo\",\n              \"company\": \"\",\n              \"street1\": \"Broadway 1\",\n              \"street2\": \"\",\n              \"city\": \"New York\",\n              \"state\": \"NY\",\n              \"zip\": \"10007\",\n              \"country\": \"US\",\n              \"phone\": \"4151234567\",\n              \"email\": \"mrshippo@shippo.com\"\n            },\n            \"parcels\": [{\n              \"length\": \"5\",\n              \"width\": \"5\",\n              \"height\": \"5\",\n              \"distance_unit\": \"in\",\n              \"weight\": \"20\",\n              \"mass_unit\": \"lb\"\n            }]\n          },\n          \"carrier_account\": \"a4391cd4ab974f478f55dc08b5c8e3b3\",\n          \"servicelevel_token\": \"fedex_2_day\"\n        }\n      ]\n    }' "
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import shippo\nfrom shippo.models import components\n\ns = shippo.Shippo(\n    api_key_header='ShippoToken <API_TOKEN>',\n    shippo_api_version='2018-02-08',\n)\n\n\nres = s.batches.create(request=components.BatchCreateRequest(\n    default_carrier_account='078870331023437cb917f5187429b093',\n    default_servicelevel_token='usps_priority',\n    label_filetype=components.LabelFileTypeEnum.PDF_4X6,\n    metadata='BATCH #1',\n    batch_shipments=[\n        components.BatchShipmentCreateRequest(\n            carrier_account='a4391cd4ab974f478f55dc08b5c8e3b3',\n            metadata='SHIPMENT #1',\n            servicelevel_token='fedex_ground',\n            shipment=components.ShipmentCreateRequest(\n                extra=components.ShipmentExtra(\n                    accounts_receivable_customer_account=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    appropriation_number=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    bill_of_lading_number=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    cod=components.Cod(\n                        amount='5.5',\n                        currency='USD',\n                        payment_method=components.PaymentMethod.CASH,\n                    ),\n                    cod_number=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    customer_reference=components.CustomerReference(\n                        ref_sort=1,\n                    ),\n                    dealer_order_number=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    dept_number=components.DepartmentNumber(\n                        ref_sort=3,\n                    ),\n                    fda_product_code=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    insurance=components.Insurance(\n                        amount='5.5',\n                        currency='USD',\n                    ),\n                    invoice_number=components.InvoiceNumber(\n                        ref_sort=2,\n                    ),\n                    manifest_number=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    model_number=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    part_number=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    po_number=components.PoNumber(\n                        ref_sort=2,\n                    ),\n                    production_code=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    purchase_request_number=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    rma_number=components.RmaNumber(\n                        ref_sort=1,\n                    ),\n                    salesperson_number=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    serial_number=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    store_number=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                    transaction_reference_number=components.UPSReferenceFields(\n                        prefix='ABC',\n                        value='value',\n                        ref_sort=1,\n                    ),\n                ),\n                metadata='Customer ID 123456',\n                shipment_date='2021-03-22T12:00:00Z',\n                address_from='d799c2679e644279b59fe661ac8fa488',\n                address_return=components.AddressCreateRequest(\n                    name='Shwan Ippotle',\n                    company='Shippo',\n                    street1='215 Clayton St.',\n                    street3='',\n                    street_no='',\n                    city='San Francisco',\n                    state='CA',\n                    zip='94117',\n                    country='US',\n                    phone='+1 555 341 9393',\n                    email='shippotle@shippo.com',\n                    is_residential=True,\n                    metadata='Customer ID 123456',\n                    validate=True,\n                ),\n                address_to=components.AddressCreateRequest(\n                    name='Shwan Ippotle',\n                    company='Shippo',\n                    street1='215 Clayton St.',\n                    street3='',\n                    street_no='',\n                    city='San Francisco',\n                    state='CA',\n                    zip='94117',\n                    country='US',\n                    phone='+1 555 341 9393',\n                    email='shippotle@shippo.com',\n                    is_residential=True,\n                    metadata='Customer ID 123456',\n                    validate=True,\n                ),\n                customs_declaration=components.CustomsDeclarationCreateRequest(\n                    b13a_filing_option=components.CustomsDeclarationB13AFilingOptionEnum.FILED_ELECTRONICALLY,\n                    certify=True,\n                    certify_signer='Shawn Ippotle',\n                    contents_explanation='T-Shirt purchase',\n                    duties_payor=components.DutiesPayor(\n                        account='2323434543',\n                        type=components.CustomsDeclarationCreateRequestType.THIRD_PARTY,\n                        address=components.CustomsDeclarationCreateRequestAddress(\n                            name='Patrick Kavanagh',\n                            zip='80331',\n                            country='DE',\n                        ),\n                    ),\n                    exporter_identification=components.CustomsExporterIdentification(\n                        eori_number='PL123456790ABCDE',\n                        tax_id=components.CustomsTaxIdentification(\n                            number='123456789',\n                            type=components.CustomsTaxIdentificationType.EIN,\n                        ),\n                    ),\n                    invoice='#123123',\n                    metadata='Order ID #123123',\n                    address_importer=components.AddressImporter(\n                        name='Shwan Ippotle',\n                        company='Shippo',\n                        street1='Blumenstraße',\n                        street3='',\n                        street_no='22',\n                        city='München',\n                        state='CA',\n                        zip='80331',\n                        country='DE',\n                        phone='80331',\n                        email='shippotle@shippo.com',\n                        is_residential=True,\n                    ),\n                    contents_type=components.CustomsDeclarationContentsTypeEnum.MERCHANDISE,\n                    eel_pfc=components.CustomsDeclarationEelPfcEnum.NOEEI_30_37_A,\n                    incoterm=components.CustomsDeclarationIncotermEnum.DDP,\n                    items=[\n                        components.CustomsItemCreateRequest(\n                            description='T-Shirt',\n                            mass_unit=components.WeightUnitEnum.LB,\n                            metadata='Order ID \"123454\"',\n                            net_weight='5',\n                            origin_country='<value>',\n                            quantity=20,\n                            sku_code='HM-123',\n                            hs_code='0901.21',\n                            value_amount='200',\n                            value_currency='USD',\n                        ),\n                        components.CustomsItemCreateRequest(\n                            description='T-Shirt',\n                            mass_unit=components.WeightUnitEnum.LB,\n                            metadata='Order ID \"123454\"',\n                            net_weight='5',\n                            origin_country='<value>',\n                            quantity=20,\n                            sku_code='HM-123',\n                            hs_code='0901.21',\n                            value_amount='200',\n                            value_currency='USD',\n                        ),\n                        components.CustomsItemCreateRequest(\n                            description='T-Shirt',\n                            mass_unit=components.WeightUnitEnum.LB,\n                            metadata='Order ID \"123454\"',\n                            net_weight='5',\n                            origin_country='<value>',\n                            quantity=20,\n                            sku_code='HM-123',\n                            hs_code='0901.21',\n                            value_amount='200',\n                            value_currency='USD',\n                        ),\n                    ],\n                    non_delivery_option=components.CustomsDeclarationNonDeliveryOptionEnum.RETURN,\n                    test=True,\n                ),\n                carrier_accounts=[\n                    '065a4a8c10d24a34ab932163a1b87f52',\n                    '73f706f4bdb94b54a337563840ce52b0',\n                ],\n                parcels=[\n                    components.ParcelCreateRequest(\n                        extra=components.ParcelExtra(\n                            cod=components.Cod(\n                                amount='5.5',\n                                currency='USD',\n                                payment_method=components.PaymentMethod.CASH,\n                            ),\n                            insurance=components.ParcelInsurance(\n                                amount='5.5',\n                                content='Laptop',\n                                currency='USD',\n                                provider=components.ParcelInsuranceProvider.UPS,\n                            ),\n                        ),\n                        metadata='Customer ID 123456',\n                        mass_unit=components.WeightUnitEnum.LB,\n                        weight='1',\n                        distance_unit=components.DistanceUnitEnum.IN,\n                        height='1',\n                        length='1',\n                        width='1',\n                    ),\n                    components.ParcelCreateRequest(\n                        extra=components.ParcelExtra(\n                            cod=components.Cod(\n                                amount='5.5',\n                                currency='USD',\n                                payment_method=components.PaymentMethod.CASH,\n                            ),\n                            insurance=components.ParcelInsurance(\n                                amount='5.5',\n                                content='Laptop',\n                                currency='USD',\n                                provider=components.ParcelInsuranceProvider.UPS,\n                            ),\n                        ),\n                        metadata='Customer ID 123456',\n                        mass_unit=components.WeightUnitEnum.LB,\n                        weight='1',\n                        distance_unit=components.DistanceUnitEnum.IN,\n                        height='1',\n                        length='1',\n                        width='1',\n                    ),\n                    components.ParcelCreateRequest(\n                        extra=components.ParcelExtra(\n                            cod=components.Cod(\n                                amount='5.5',\n                                currency='USD',\n                                payment_method=components.PaymentMethod.CASH,\n                            ),\n                            insurance=components.ParcelInsurance(\n                                amount='5.5',\n                                content='Laptop',\n                                currency='USD',\n                                provider=components.ParcelInsuranceProvider.UPS,\n                            ),\n                        ),\n                        metadata='Customer ID 123456',\n                        mass_unit=components.WeightUnitEnum.LB,\n                        weight='1',\n                        distance_unit=components.DistanceUnitEnum.IN,\n                        height='1',\n                        length='1',\n                        width='1',\n                    ),\n                ],\n            ),\n        ),\n    ],\n))\n\nif res is not None:\n    # handle response\n    pass"
          },
          {
            "lang": "typescript",
            "label": "Typescript",
            "source": "import { Shippo } from \"shippo\";\n\nconst shippo = new Shippo({\n  apiKeyHeader: \"ShippoToken <API_TOKEN>\",\n  shippoApiVersion: \"2018-02-08\",\n});\n\nasync function run() {\n  const result = await shippo.batches.create({\n    defaultCarrierAccount: \"078870331023437cb917f5187429b093\",\n    defaultServicelevelToken: \"usps_priority\",\n    labelFiletype: \"PDF_4x6\",\n    metadata: \"BATCH #1\",\n    batchShipments: [\n      {\n        carrierAccount: \"a4391cd4ab974f478f55dc08b5c8e3b3\",\n        metadata: \"SHIPMENT #1\",\n        servicelevelToken: \"fedex_ground\",\n        shipment: {\n          extra: {\n            accountsReceivableCustomerAccount: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            appropriationNumber: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            billOfLadingNumber: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            cod: {\n              amount: \"5.5\",\n              currency: \"USD\",\n              paymentMethod: \"CASH\",\n            },\n            codNumber: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            customerReference: {\n              refSort: 1,\n            },\n            dealerOrderNumber: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            deptNumber: {\n              refSort: 3,\n            },\n            fdaProductCode: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            insurance: {\n              amount: \"5.5\",\n              currency: \"USD\",\n            },\n            invoiceNumber: {\n              refSort: 2,\n            },\n            manifestNumber: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            modelNumber: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            partNumber: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            poNumber: {\n              refSort: 2,\n            },\n            productionCode: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            purchaseRequestNumber: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            rmaNumber: {\n              refSort: 1,\n            },\n            salespersonNumber: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            serialNumber: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            storeNumber: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n            transactionReferenceNumber: {\n              prefix: \"ABC\",\n              value: \"value\",\n              refSort: 1,\n            },\n          },\n          metadata: \"Customer ID 123456\",\n          shipmentDate: \"2021-03-22T12:00:00Z\",\n          addressFrom: \"d799c2679e644279b59fe661ac8fa488\",\n          addressReturn: {\n            name: \"Shwan Ippotle\",\n            company: \"Shippo\",\n            street1: \"215 Clayton St.\",\n            street3: \"\",\n            streetNo: \"\",\n            city: \"San Francisco\",\n            state: \"CA\",\n            zip: \"94117\",\n            country: \"US\",\n            phone: \"+1 555 341 9393\",\n            email: \"shippotle@shippo.com\",\n            isResidential: true,\n            metadata: \"Customer ID 123456\",\n            validate: true,\n          },\n          addressTo: {\n            name: \"Shwan Ippotle\",\n            company: \"Shippo\",\n            street1: \"215 Clayton St.\",\n            street3: \"\",\n            streetNo: \"\",\n            city: \"San Francisco\",\n            state: \"CA\",\n            zip: \"94117\",\n            country: \"US\",\n            phone: \"+1 555 341 9393\",\n            email: \"shippotle@shippo.com\",\n            isResidential: true,\n            metadata: \"Customer ID 123456\",\n            validate: true,\n          },\n          customsDeclaration: {\n            b13aFilingOption: \"FILED_ELECTRONICALLY\",\n            certify: true,\n            certifySigner: \"Shawn Ippotle\",\n            contentsExplanation: \"T-Shirt purchase\",\n            dutiesPayor: {\n              account: \"2323434543\",\n              type: \"THIRD_PARTY\",\n              address: {\n                name: \"Patrick Kavanagh\",\n                zip: \"80331\",\n                country: \"DE\",\n              },\n            },\n            exporterIdentification: {\n              eoriNumber: \"PL123456790ABCDE\",\n              taxId: {\n                number: \"123456789\",\n                type: \"EIN\",\n              },\n            },\n            invoice: \"#123123\",\n            metadata: \"Order ID #123123\",\n            addressImporter: {\n              name: \"Shwan Ippotle\",\n              company: \"Shippo\",\n              street1: \"Blumenstraße\",\n              street3: \"\",\n              streetNo: \"22\",\n              city: \"München\",\n              state: \"CA\",\n              zip: \"80331\",\n              country: \"DE\",\n              phone: \"80331\",\n              email: \"shippotle@shippo.com\",\n              isResidential: true,\n            },\n            contentsType: \"MERCHANDISE\",\n            eelPfc: \"NOEEI_30_37_a\",\n            incoterm: \"DDP\",\n            items: [\n              {\n                description: \"T-Shirt\",\n                massUnit: \"lb\",\n                metadata: \"Order ID \\\"123454\\\"\",\n                netWeight: \"5\",\n                originCountry: \"<value>\",\n                quantity: 20,\n                skuCode: \"HM-123\",\n                hsCode: \"0901.21\",\n                valueAmount: \"200\",\n                valueCurrency: \"USD\",\n              },\n              {\n                description: \"T-Shirt\",\n                massUnit: \"lb\",\n                metadata: \"Order ID \\\"123454\\\"\",\n                netWeight: \"5\",\n                originCountry: \"<value>\",\n                quantity: 20,\n                skuCode: \"HM-123\",\n                hsCode: \"0901.21\",\n                valueAmount: \"200\",\n                valueCurrency: \"USD\",\n              },\n              {\n                description: \"T-Shirt\",\n                massUnit: \"lb\",\n                metadata: \"Order ID \\\"123454\\\"\",\n                netWeight: \"5\",\n                originCountry: \"<value>\",\n                quantity: 20,\n                skuCode: \"HM-123\",\n                hsCode: \"0901.21\",\n                valueAmount: \"200\",\n                valueCurrency: \"USD\",\n              },\n            ],\n            nonDeliveryOption: \"RETURN\",\n            test: true,\n          },\n          carrierAccounts: [\n            \"065a4a8c10d24a34ab932163a1b87f52\",\n            \"73f706f4bdb94b54a337563840ce52b0\",\n          ],\n          parcels: [\n            {\n              extra: {\n                cod: {\n                  amount: \"5.5\",\n                  currency: \"USD\",\n                  paymentMethod: \"CASH\",\n                },\n                insurance: {\n                  amount: \"5.5\",\n                  content: \"Laptop\",\n                  currency: \"USD\",\n                  provider: \"UPS\",\n                },\n              },\n              metadata: \"Customer ID 123456\",\n              massUnit: \"lb\",\n              weight: \"1\",\n              distanceUnit: \"in\",\n              height: \"1\",\n              length: \"1\",\n              width: \"1\",\n            },\n            {\n              extra: {\n                cod: {\n                  amount: \"5.5\",\n                  currency: \"USD\",\n                  paymentMethod: \"CASH\",\n                },\n                insurance: {\n                  amount: \"5.5\",\n                  content: \"Laptop\",\n                  currency: \"USD\",\n                  provider: \"UPS\",\n                },\n              },\n              metadata: \"Customer ID 123456\",\n              massUnit: \"lb\",\n              weight: \"1\",\n              distanceUnit: \"in\",\n              height: \"1\",\n              length: \"1\",\n              width: \"1\",\n            },\n            {\n              extra: {\n                cod: {\n                  amount: \"5.5\",\n                  currency: \"USD\",\n                  paymentMethod: \"CASH\",\n                },\n                insurance: {\n                  amount: \"5.5\",\n                  content: \"Laptop\",\n                  currency: \"USD\",\n                  provider: \"UPS\",\n                },\n              },\n              metadata: \"Customer ID 123456\",\n              massUnit: \"lb\",\n              weight: \"1\",\n              distanceUnit: \"in\",\n              height: \"1\",\n              length: \"1\",\n              width: \"1\",\n            },\n          ],\n        },\n      },\n    ],\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Shippo\\API;\nuse Shippo\\API\\Models\\Components;\n\n$sdk = API\\Shippo::builder()\n    ->setSecurity(\n        'ShippoToken <API_TOKEN>'\n    )\n    ->setShippoApiVersion('2018-02-08')\n    ->build();\n\n$batchCreateRequest = new Components\\BatchCreateRequest(\n    defaultCarrierAccount: '078870331023437cb917f5187429b093',\n    defaultServicelevelToken: 'usps_priority',\n    labelFiletype: Components\\LabelFileTypeEnum::PDF4x6,\n    metadata: 'BATCH #1',\n    batchShipments: [\n        new Components\\BatchShipmentCreateRequest(\n            carrierAccount: 'a4391cd4ab974f478f55dc08b5c8e3b3',\n            metadata: 'SHIPMENT #1',\n            servicelevelToken: 'fedex_ground',\n            shipment: new Components\\ShipmentCreateRequest(\n                extra: new Components\\ShipmentExtra(\n                    accountsReceivableCustomerAccount: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    appropriationNumber: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    billOfLadingNumber: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    cod: new Components\\Cod(\n                        amount: '5.5',\n                        currency: 'USD',\n                        paymentMethod: Components\\PaymentMethod::Cash,\n                    ),\n                    codNumber: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    customerReference: new Components\\CustomerReference(\n                        refSort: 1,\n                    ),\n                    dealerOrderNumber: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    deptNumber: new Components\\DepartmentNumber(\n                        refSort: 3,\n                    ),\n                    fdaProductCode: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    insurance: new Components\\Insurance(\n                        amount: '5.5',\n                        currency: 'USD',\n                    ),\n                    invoiceNumber: new Components\\InvoiceNumber(\n                        refSort: 2,\n                    ),\n                    manifestNumber: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    modelNumber: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    partNumber: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    poNumber: new Components\\PoNumber(\n                        refSort: 2,\n                    ),\n                    productionCode: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    purchaseRequestNumber: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    rmaNumber: new Components\\RmaNumber(\n                        refSort: 1,\n                    ),\n                    salespersonNumber: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    serialNumber: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    storeNumber: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                    transactionReferenceNumber: new Components\\UPSReferenceFields(\n                        prefix: 'ABC',\n                        value: 'value',\n                        refSort: 1,\n                    ),\n                ),\n                metadata: 'Customer ID 123456',\n                shipmentDate: '2021-03-22T12:00:00Z',\n                addressFrom: new Components\\AddressCreateRequest(\n                    name: 'Shwan Ippotle',\n                    company: 'Shippo',\n                    street1: '215 Clayton St.',\n                    street3: '',\n                    streetNo: '',\n                    city: 'San Francisco',\n                    state: 'CA',\n                    zip: '94117',\n                    country: 'US',\n                    phone: '+1 555 341 9393',\n                    email: 'shippotle@shippo.com',\n                    isResidential: true,\n                    metadata: 'Customer ID 123456',\n                    validate: true,\n                ),\n                addressReturn: 'd799c2679e644279b59fe661ac8fa488',\n                addressTo: new Components\\AddressCreateRequest(\n                    name: 'Shwan Ippotle',\n                    company: 'Shippo',\n                    street1: '215 Clayton St.',\n                    street3: '',\n                    streetNo: '',\n                    city: 'San Francisco',\n                    state: 'CA',\n                    zip: '94117',\n                    country: 'US',\n                    phone: '+1 555 341 9393',\n                    email: 'shippotle@shippo.com',\n                    isResidential: true,\n                    metadata: 'Customer ID 123456',\n                    validate: true,\n                ),\n                customsDeclaration: new Components\\CustomsDeclarationCreateRequest(\n                    b13aFilingOption: Components\\CustomsDeclarationB13AFilingOptionEnum::FiledElectronically,\n                    certify: true,\n                    certifySigner: 'Shawn Ippotle',\n                    contentsExplanation: 'T-Shirt purchase',\n                    dutiesPayor: new Components\\DutiesPayor(\n                        account: '2323434543',\n                        type: Components\\CustomsDeclarationCreateRequestType::ThirdParty,\n                        address: new Components\\CustomsDeclarationCreateRequestAddress(\n                            name: 'Patrick Kavanagh',\n                            zip: '80331',\n                            country: 'DE',\n                        ),\n                    ),\n                    exporterIdentification: new Components\\CustomsExporterIdentification(\n                        eoriNumber: 'PL123456790ABCDE',\n                        taxId: new Components\\CustomsTaxIdentification(\n                            number: '123456789',\n                            type: Components\\CustomsTaxIdentificationType::Ein,\n                        ),\n                    ),\n                    invoice: '#123123',\n                    metadata: 'Order ID #123123',\n                    addressImporter: new Components\\AddressImporter(\n                        name: 'Shwan Ippotle',\n                        company: 'Shippo',\n                        street1: 'Blumenstraße',\n                        street3: '',\n                        streetNo: '22',\n                        city: 'München',\n                        state: 'CA',\n                        zip: '80331',\n                        country: 'DE',\n                        phone: '80331',\n                        email: 'shippotle@shippo.com',\n                        isResidential: true,\n                    ),\n                    contentsType: Components\\CustomsDeclarationContentsTypeEnum::Merchandise,\n                    eelPfc: Components\\CustomsDeclarationEelPfcEnum::NOEEI3037A,\n                    incoterm: Components\\CustomsDeclarationIncotermEnum::Ddp,\n                    items: [\n                        new Components\\CustomsItemCreateRequest(\n                            description: 'T-Shirt',\n                            massUnit: Components\\WeightUnitEnum::Lb,\n                            metadata: 'Order ID \"123454\"',\n                            netWeight: '5',\n                            originCountry: '<value>',\n                            quantity: 20,\n                            skuCode: 'HM-123',\n                            hsCode: '0901.21',\n                            valueAmount: '200',\n                            valueCurrency: 'USD',\n                        ),\n                    ],\n                    nonDeliveryOption: Components\\CustomsDeclarationNonDeliveryOptionEnum::Return,\n                    test: true,\n                ),\n                carrierAccounts: [\n                    '065a4a8c10d24a34ab932163a1b87f52',\n                    '73f706f4bdb94b54a337563840ce52b0',\n                ],\n                parcels: [\n                    new Components\\ParcelCreateRequest(\n                        extra: new Components\\ParcelExtra(\n                            cod: new Components\\Cod(\n                                amount: '5.5',\n                                currency: 'USD',\n                                paymentMethod: Components\\PaymentMethod::Cash,\n                            ),\n                            insurance: new Components\\ParcelInsurance(\n                                amount: '5.5',\n                                content: 'Laptop',\n                                currency: 'USD',\n                                provider: Components\\ParcelInsuranceProvider::Ups,\n                            ),\n                        ),\n                        metadata: 'Customer ID 123456',\n                        massUnit: Components\\WeightUnitEnum::Lb,\n                        weight: '1',\n                        distanceUnit: Components\\DistanceUnitEnum::In,\n                        height: '1',\n                        length: '1',\n                        width: '1',\n                    ),\n                ],\n            ),\n        ),\n    ],\n);\n\n$response = $sdk->batches->create(\n    batchCreateRequest: $batchCreateRequest,\n    shippoApiVersion: '2018-02-08'\n\n);\n\nif ($response->batch !== null) {\n    // handle response\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using Shippo;\nusing Shippo.Models.Components;\nusing System.Collections.Generic;\n\nvar sdk = new ShippoSDK(\n    apiKeyHeader: \"ShippoToken <API_TOKEN>\",\n    shippoApiVersion: \"2018-02-08\"\n);\n\nvar res = await sdk.Batches.CreateAsync(\n    batchCreateRequest: new BatchCreateRequest() {\n        DefaultCarrierAccount = \"078870331023437cb917f5187429b093\",\n        DefaultServicelevelToken = \"usps_priority\",\n        LabelFiletype = LabelFileTypeEnum.Pdf4x6,\n        Metadata = \"BATCH #1\",\n        BatchShipments = new List<BatchShipmentCreateRequest>() {\n            new BatchShipmentCreateRequest() {\n                CarrierAccount = \"a4391cd4ab974f478f55dc08b5c8e3b3\",\n                Metadata = \"SHIPMENT #1\",\n                ServicelevelToken = \"fedex_ground\",\n                Shipment = new ShipmentCreateRequest() {\n                    Extra = new ShipmentExtra() {\n                        AccountsReceivableCustomerAccount = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        AppropriationNumber = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        BillOfLadingNumber = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        Cod = new Cod() {\n                            Amount = \"5.5\",\n                            Currency = \"USD\",\n                            PaymentMethod = PaymentMethod.Cash,\n                        },\n                        CodNumber = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        CustomerReference = new CustomerReference() {\n                            RefSort = 1,\n                        },\n                        DealerOrderNumber = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        DeptNumber = new DepartmentNumber() {\n                            RefSort = 3,\n                        },\n                        FdaProductCode = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        Insurance = new Insurance() {\n                            Amount = \"5.5\",\n                            Currency = \"USD\",\n                        },\n                        InvoiceNumber = new InvoiceNumber() {\n                            RefSort = 2,\n                        },\n                        ManifestNumber = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        ModelNumber = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        PartNumber = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        PoNumber = new PoNumber() {\n                            RefSort = 2,\n                        },\n                        ProductionCode = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        PurchaseRequestNumber = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        RmaNumber = new RmaNumber() {\n                            RefSort = 1,\n                        },\n                        SalespersonNumber = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        SerialNumber = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        StoreNumber = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                        TransactionReferenceNumber = new UPSReferenceFields() {\n                            Prefix = \"ABC\",\n                            Value = \"value\",\n                            RefSort = 1,\n                        },\n                    },\n                    Metadata = \"Customer ID 123456\",\n                    ShipmentDate = \"2021-03-22T12:00:00Z\",\n                    AddressFrom = AddressFrom.CreateAddressCreateRequest(\n                        new AddressCreateRequest() {\n                            Name = \"Shwan Ippotle\",\n                            Company = \"Shippo\",\n                            Street1 = \"215 Clayton St.\",\n                            Street3 = \"\",\n                            StreetNo = \"\",\n                            City = \"San Francisco\",\n                            State = \"CA\",\n                            Zip = \"94117\",\n                            Country = \"US\",\n                            Phone = \"+1 555 341 9393\",\n                            Email = \"shippotle@shippo.com\",\n                            IsResidential = true,\n                            Metadata = \"Customer ID 123456\",\n                            Validate = true,\n                        }\n                    ),\n                    AddressReturn = AddressReturn.CreateStr(\n                        \"d799c2679e644279b59fe661ac8fa488\"\n                    ),\n                    AddressTo = AddressTo.CreateAddressCreateRequest(\n                        new AddressCreateRequest() {\n                            Name = \"Shwan Ippotle\",\n                            Company = \"Shippo\",\n                            Street1 = \"215 Clayton St.\",\n                            Street3 = \"\",\n                            StreetNo = \"\",\n                            City = \"San Francisco\",\n                            State = \"CA\",\n                            Zip = \"94117\",\n                            Country = \"US\",\n                            Phone = \"+1 555 341 9393\",\n                            Email = \"shippotle@shippo.com\",\n                            IsResidential = true,\n                            Metadata = \"Customer ID 123456\",\n                            Validate = true,\n                        }\n                    ),\n                    CustomsDeclaration = ShipmentCreateRequestCustomsDeclaration.CreateCustomsDeclarationCreateRequest(\n                        new CustomsDeclarationCreateRequest() {\n                            B13aFilingOption = CustomsDeclarationB13AFilingOptionEnum.FiledElectronically,\n                            Certify = true,\n                            CertifySigner = \"Shawn Ippotle\",\n                            ContentsExplanation = \"T-Shirt purchase\",\n                            DutiesPayor = new DutiesPayor() {\n                                Account = \"2323434543\",\n                                Type = CustomsDeclarationCreateRequestType.ThirdParty,\n                                Address = new CustomsDeclarationCreateRequestAddress() {\n                                    Name = \"Patrick Kavanagh\",\n                                    Zip = \"80331\",\n                                    Country = \"DE\",\n                                },\n                            },\n                            ExporterIdentification = new CustomsExporterIdentification() {\n                                EoriNumber = \"PL123456790ABCDE\",\n                                TaxId = new CustomsTaxIdentification() {\n                                    Number = \"123456789\",\n                                    Type = CustomsTaxIdentificationType.Ein,\n                                },\n                            },\n                            Invoice = \"#123123\",\n                            Metadata = \"Order ID #123123\",\n                            AddressImporter = new AddressImporter() {\n                                Name = \"Shwan Ippotle\",\n                                Company = \"Shippo\",\n                                Street1 = \"Blumenstraße\",\n                                Street3 = \"\",\n                                StreetNo = \"22\",\n                                City = \"München\",\n                                State = \"CA\",\n                                Zip = \"80331\",\n                                Country = \"DE\",\n                                Phone = \"80331\",\n                                Email = \"shippotle@shippo.com\",\n                                IsResidential = true,\n                            },\n                            ContentsType = CustomsDeclarationContentsTypeEnum.Merchandise,\n                            EelPfc = CustomsDeclarationEelPfcEnum.Noeei3037A,\n                            Incoterm = CustomsDeclarationIncotermEnum.Ddp,\n                            Items = new List<CustomsItemCreateRequest>() {\n                                new CustomsItemCreateRequest() {\n                                    Description = \"T-Shirt\",\n                                    MassUnit = WeightUnitEnum.Lb,\n                                    Metadata = \"Order ID \\\"123454\\\"\",\n                                    NetWeight = \"5\",\n                                    OriginCountry = \"<value>\",\n                                    Quantity = 20,\n                                    SkuCode = \"HM-123\",\n                                    HsCode = \"0901.21\",\n                                    ValueAmount = \"200\",\n                                    ValueCurrency = \"USD\",\n                                },\n                            },\n                            NonDeliveryOption = CustomsDeclarationNonDeliveryOptionEnum.Return,\n                            Test = true,\n                        }\n                    ),\n                    CarrierAccounts = new List<string>() {\n                        \"065a4a8c10d24a34ab932163a1b87f52\",\n                        \"73f706f4bdb94b54a337563840ce52b0\",\n                    },\n                    Parcels = new List<Models.Components.Parcels>() {\n                        Parcels.CreateParcelCreateRequest(\n                            new ParcelCreateRequest() {\n                                Extra = new ParcelExtra() {\n                                    Cod = new Cod() {\n                                        Amount = \"5.5\",\n                                        Currency = \"USD\",\n                                        PaymentMethod = PaymentMethod.Cash,\n                                    },\n                                    Insurance = new ParcelInsurance() {\n                                        Amount = \"5.5\",\n                                        Content = \"Laptop\",\n                                        Currency = \"USD\",\n                                        Provider = ParcelInsuranceProvider.Ups,\n                                    },\n                                },\n                                Metadata = \"Customer ID 123456\",\n                                MassUnit = WeightUnitEnum.Lb,\n                                Weight = \"1\",\n                                DistanceUnit = DistanceUnitEnum.In,\n                                Height = \"1\",\n                                Length = \"1\",\n                                Width = \"1\",\n                            }\n                        ),\n                    },\n                },\n            },\n        },\n    },\n    shippoApiVersion: \"2018-02-08\"\n);\n\n// handle response"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "package hello.world;\n\nimport com.goshippo.shippo_sdk.Shippo;\nimport com.goshippo.shippo_sdk.models.components.AddressCreateRequest;\nimport com.goshippo.shippo_sdk.models.components.AddressFrom;\nimport com.goshippo.shippo_sdk.models.components.AddressImporter;\nimport com.goshippo.shippo_sdk.models.components.AddressReturn;\nimport com.goshippo.shippo_sdk.models.components.AddressTo;\nimport com.goshippo.shippo_sdk.models.components.BatchCreateRequest;\nimport com.goshippo.shippo_sdk.models.components.BatchShipmentCreateRequest;\nimport com.goshippo.shippo_sdk.models.components.Cod;\nimport com.goshippo.shippo_sdk.models.components.CustomerReference;\nimport com.goshippo.shippo_sdk.models.components.CustomsDeclarationB13AFilingOptionEnum;\nimport com.goshippo.shippo_sdk.models.components.CustomsDeclarationContentsTypeEnum;\nimport com.goshippo.shippo_sdk.models.components.CustomsDeclarationCreateRequest;\nimport com.goshippo.shippo_sdk.models.components.CustomsDeclarationCreateRequestAddress;\nimport com.goshippo.shippo_sdk.models.components.CustomsDeclarationCreateRequestType;\nimport com.goshippo.shippo_sdk.models.components.CustomsDeclarationEelPfcEnum;\nimport com.goshippo.shippo_sdk.models.components.CustomsDeclarationIncotermEnum;\nimport com.goshippo.shippo_sdk.models.components.CustomsDeclarationNonDeliveryOptionEnum;\nimport com.goshippo.shippo_sdk.models.components.CustomsExporterIdentification;\nimport com.goshippo.shippo_sdk.models.components.CustomsItemCreateRequest;\nimport com.goshippo.shippo_sdk.models.components.CustomsTaxIdentification;\nimport com.goshippo.shippo_sdk.models.components.CustomsTaxIdentificationType;\nimport com.goshippo.shippo_sdk.models.components.DepartmentNumber;\nimport com.goshippo.shippo_sdk.models.components.DistanceUnitEnum;\nimport com.goshippo.shippo_sdk.models.components.DutiesPayor;\nimport com.goshippo.shippo_sdk.models.components.Insurance;\nimport com.goshippo.shippo_sdk.models.components.InvoiceNumber;\nimport com.goshippo.shippo_sdk.models.components.LabelFileTypeEnum;\nimport com.goshippo.shippo_sdk.models.components.ParcelCreateRequest;\nimport com.goshippo.shippo_sdk.models.components.ParcelExtra;\nimport com.goshippo.shippo_sdk.models.components.ParcelInsurance;\nimport com.goshippo.shippo_sdk.models.components.ParcelInsuranceProvider;\nimport com.goshippo.shippo_sdk.models.components.Parcels;\nimport com.goshippo.shippo_sdk.models.components.PaymentMethod;\nimport com.goshippo.shippo_sdk.models.components.PoNumber;\nimport com.goshippo.shippo_sdk.models.components.RmaNumber;\nimport com.goshippo.shippo_sdk.models.components.ShipmentCreateRequest;\nimport com.goshippo.shippo_sdk.models.components.ShipmentCreateRequestCustomsDeclaration;\nimport com.goshippo.shippo_sdk.models.components.ShipmentExtra;\nimport com.goshippo.shippo_sdk.models.components.UPSReferenceFields;\nimport com.goshippo.shippo_sdk.models.components.WeightUnitEnum;\nimport com.goshippo.shippo_sdk.models.operations.CreateBatchResponse;\nimport java.lang.Exception;\nimport java.util.List;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        Shippo sdk = Shippo.builder()\n                .apiKeyHeader(\"ShippoToken <API_TOKEN>\")\n                .shippoApiVersion(\"2018-02-08\")\n            .build();\n\n        CreateBatchResponse res = sdk.batches().create()\n                .shippoApiVersion(\"2018-02-08\")\n                .batchCreateRequest(BatchCreateRequest.builder()\n                    .defaultCarrierAccount(\"078870331023437cb917f5187429b093\")\n                    .defaultServicelevelToken(\"usps_priority\")\n                    .batchShipments(List.of(\n                        BatchShipmentCreateRequest.builder()\n                            .shipment(ShipmentCreateRequest.builder()\n                                .addressFrom(AddressFrom.of(\"d799c2679e644279b59fe661ac8fa488\"))\n                                .addressTo(AddressTo.of(AddressCreateRequest.builder()\n                                    .country(\"US\")\n                                    .name(\"Shwan Ippotle\")\n                                    .company(\"Shippo\")\n                                    .street1(\"215 Clayton St.\")\n                                    .street3(\"\")\n                                    .streetNo(\"\")\n                                    .city(\"San Francisco\")\n                                    .state(\"CA\")\n                                    .zip(\"94117\")\n                                    .phone(\"+1 555 341 9393\")\n                                    .email(\"shippotle@shippo.com\")\n                                    .isResidential(true)\n                                    .metadata(\"Customer ID 123456\")\n                                    .validate(true)\n                                    .build()))\n                                .parcels(List.of(\n                                    Parcels.of(ParcelCreateRequest.builder()\n                                        .massUnit(WeightUnitEnum.LB)\n                                        .weight(\"1\")\n                                        .distanceUnit(DistanceUnitEnum.IN)\n                                        .height(\"1\")\n                                        .length(\"1\")\n                                        .width(\"1\")\n                                        .extra(ParcelExtra.builder()\n                                            .cod(Cod.builder()\n                                                .amount(\"5.5\")\n                                                .currency(\"USD\")\n                                                .paymentMethod(PaymentMethod.CASH)\n                                                .build())\n                                            .insurance(ParcelInsurance.builder()\n                                                .amount(\"5.5\")\n                                                .content(\"Laptop\")\n                                                .currency(\"USD\")\n                                                .provider(ParcelInsuranceProvider.UPS)\n                                                .build())\n                                            .build())\n                                        .metadata(\"Customer ID 123456\")\n                                        .build()),\n                                    Parcels.of(ParcelCreateRequest.builder()\n                                        .massUnit(WeightUnitEnum.LB)\n                                        .weight(\"1\")\n                                        .distanceUnit(DistanceUnitEnum.IN)\n                                        .height(\"1\")\n                                        .length(\"1\")\n                                        .width(\"1\")\n                                        .extra(ParcelExtra.builder()\n                                            .cod(Cod.builder()\n                                                .amount(\"5.5\")\n                                                .currency(\"USD\")\n                                                .paymentMethod(PaymentMethod.CASH)\n                                                .build())\n                                            .insurance(ParcelInsurance.builder()\n                                                .amount(\"5.5\")\n                                                .content(\"Laptop\")\n                                                .currency(\"USD\")\n                                                .provider(ParcelInsuranceProvider.UPS)\n                                                .build())\n                                            .build())\n                                        .metadata(\"Customer ID 123456\")\n                                        .build()),\n                                    Parcels.of(ParcelCreateRequest.builder()\n                                        .massUnit(WeightUnitEnum.LB)\n                                        .weight(\"1\")\n                                        .distanceUnit(DistanceUnitEnum.IN)\n                                        .height(\"1\")\n                                        .length(\"1\")\n                                        .width(\"1\")\n                                        .extra(ParcelExtra.builder()\n                                            .cod(Cod.builder()\n                                                .amount(\"5.5\")\n                                                .currency(\"USD\")\n                                                .paymentMethod(PaymentMethod.CASH)\n                                                .build())\n                                            .insurance(ParcelInsurance.builder()\n                                                .amount(\"5.5\")\n                                                .content(\"Laptop\")\n                                                .currency(\"USD\")\n                                                .provider(ParcelInsuranceProvider.UPS)\n                                                .build())\n                                            .build())\n                                        .metadata(\"Customer ID 123456\")\n                                        .build())))\n                                .extra(ShipmentExtra.builder()\n                                    .accountsReceivableCustomerAccount(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .appropriationNumber(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .billOfLadingNumber(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .cod(Cod.builder()\n                                        .amount(\"5.5\")\n                                        .currency(\"USD\")\n                                        .paymentMethod(PaymentMethod.CASH)\n                                        .build())\n                                    .codNumber(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .customerReference(CustomerReference.builder()\n                                        .refSort(1L)\n                                        .build())\n                                    .dealerOrderNumber(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .deptNumber(DepartmentNumber.builder()\n                                        .refSort(3L)\n                                        .build())\n                                    .fdaProductCode(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .insurance(Insurance.builder()\n                                        .amount(\"5.5\")\n                                        .currency(\"USD\")\n                                        .build())\n                                    .invoiceNumber(InvoiceNumber.builder()\n                                        .refSort(2L)\n                                        .build())\n                                    .manifestNumber(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .modelNumber(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .partNumber(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .poNumber(PoNumber.builder()\n                                        .refSort(2L)\n                                        .build())\n                                    .productionCode(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .purchaseRequestNumber(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .rmaNumber(RmaNumber.builder()\n                                        .refSort(1L)\n                                        .build())\n                                    .salespersonNumber(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .serialNumber(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .storeNumber(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .transactionReferenceNumber(UPSReferenceFields.builder()\n                                        .prefix(\"ABC\")\n                                        .value(\"value\")\n                                        .refSort(1L)\n                                        .build())\n                                    .build())\n                                .metadata(\"Customer ID 123456\")\n                                .shipmentDate(\"2021-03-22T12:00:00Z\")\n                                .addressReturn(AddressReturn.of(AddressCreateRequest.builder()\n                                    .country(\"US\")\n                                    .name(\"Shwan Ippotle\")\n                                    .company(\"Shippo\")\n                                    .street1(\"215 Clayton St.\")\n                                    .street3(\"\")\n                                    .streetNo(\"\")\n                                    .city(\"San Francisco\")\n                                    .state(\"CA\")\n                                    .zip(\"94117\")\n                                    .phone(\"+1 555 341 9393\")\n                                    .email(\"shippotle@shippo.com\")\n                                    .isResidential(true)\n                                    .metadata(\"Customer ID 123456\")\n                                    .validate(true)\n                                    .build()))\n                                .customsDeclaration(ShipmentCreateRequestCustomsDeclaration.of(CustomsDeclarationCreateRequest.builder()\n                                    .certify(true)\n                                    .certifySigner(\"Shawn Ippotle\")\n                                    .contentsType(CustomsDeclarationContentsTypeEnum.MERCHANDISE)\n                                    .items(List.of(\n                                        CustomsItemCreateRequest.builder()\n                                            .description(\"T-Shirt\")\n                                            .massUnit(WeightUnitEnum.LB)\n                                            .netWeight(\"5\")\n                                            .originCountry(\"<value>\")\n                                            .quantity(20L)\n                                            .valueAmount(\"200\")\n                                            .valueCurrency(\"USD\")\n                                            .metadata(\"Order ID \\\"123454\\\"\")\n                                            .skuCode(\"HM-123\")\n                                            .hsCode(\"0901.21\")\n                                            .build(),\n                                        CustomsItemCreateRequest.builder()\n                                            .description(\"T-Shirt\")\n                                            .massUnit(WeightUnitEnum.LB)\n                                            .netWeight(\"5\")\n                                            .originCountry(\"<value>\")\n                                            .quantity(20L)\n                                            .valueAmount(\"200\")\n                                            .valueCurrency(\"USD\")\n                                            .metadata(\"Order ID \\\"123454\\\"\")\n                                            .skuCode(\"HM-123\")\n                                            .hsCode(\"0901.21\")\n                                            .build(),\n                                        CustomsItemCreateRequest.builder()\n                                            .description(\"T-Shirt\")\n                                            .massUnit(WeightUnitEnum.LB)\n                                            .netWeight(\"5\")\n                                            .originCountry(\"<value>\")\n                                            .quantity(20L)\n                                            .valueAmount(\"200\")\n                                            .valueCurrency(\"USD\")\n                                            .metadata(\"Order ID \\\"123454\\\"\")\n                                            .skuCode(\"HM-123\")\n                                            .hsCode(\"0901.21\")\n                                            .build()))\n                                    .nonDeliveryOption(CustomsDeclarationNonDeliveryOptionEnum.RETURN)\n                                    .b13aFilingOption(CustomsDeclarationB13AFilingOptionEnum.FILED_ELECTRONICALLY)\n                                    .contentsExplanation(\"T-Shirt purchase\")\n                                    .dutiesPayor(DutiesPayor.builder()\n                                        .account(\"2323434543\")\n                                        .type(CustomsDeclarationCreateRequestType.THIRD_PARTY)\n                                        .address(CustomsDeclarationCreateRequestAddress.builder()\n                                            .name(\"Patrick Kavanagh\")\n                                            .zip(\"80331\")\n                                            .country(\"DE\")\n                                            .build())\n                                        .build())\n                                    .exporterIdentification(CustomsExporterIdentification.builder()\n                                        .eoriNumber(\"PL123456790ABCDE\")\n                                        .taxId(CustomsTaxIdentification.builder()\n                                            .number(\"123456789\")\n                                            .type(CustomsTaxIdentificationType.EIN)\n                                            .build())\n                                        .build())\n                                    .invoice(\"#123123\")\n                                    .metadata(\"Order ID #123123\")\n                                    .addressImporter(AddressImporter.builder()\n                                        .name(\"Shwan Ippotle\")\n                                        .company(\"Shippo\")\n                                        .street1(\"Blumenstraße\")\n                                        .street3(\"\")\n                                        .streetNo(\"22\")\n                                        .city(\"München\")\n                                        .state(\"CA\")\n                                        .zip(\"80331\")\n                                        .country(\"DE\")\n                                        .phone(\"80331\")\n                                        .email(\"shippotle@shippo.com\")\n                                        .isResidential(true)\n                                        .build())\n                                    .eelPfc(CustomsDeclarationEelPfcEnum.NOEEI3037_A)\n                                    .incoterm(CustomsDeclarationIncotermEnum.DDP)\n                                    .test(true)\n                                    .build()))\n                                .carrierAccounts(List.of(\n                                    \"065a4a8c10d24a34ab932163a1b87f52\",\n                                    \"73f706f4bdb94b54a337563840ce52b0\"))\n                                .build())\n                            .carrierAccount(\"a4391cd4ab974f478f55dc08b5c8e3b3\")\n                            .metadata(\"SHIPMENT #1\")\n                            .servicelevelToken(\"fedex_ground\")\n                            .build()))\n                    .labelFiletype(LabelFileTypeEnum.PDF4X6)\n                    .metadata(\"BATCH #1\")\n                    .build())\n                .call();\n\n        if (res.batch().isPresent()) {\n            // handle response\n        }\n    }\n}"
          }
        ]
      }
    },
    "/batches/{BatchId}": {
      "get": {
        "description": "Returns a batch using an object ID. <br> Batch shipments are displayed 100 at a time.  You can iterate \nthrough each `page` using the `?page= query` parameter.  You can also filter based on batch shipment \nstatus, for example, by passing a query param like `?object_results=creation_failed`. <br> \nFor more details on filtering results, see our guide on <a href=\"https://docs.goshippo.com/docs/api_concepts/filtering/\" target=\"blank\"> filtering</a>.",
        "operationId": "GetBatch",
        "parameters": [
          {
            "description": "Object ID of the batch",
            "in": "path",
            "name": "BatchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageNumberQueryParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageDefault5QueryParam"
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/batchResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          }
        },
        "summary": "Retrieve a batch",
        "tags": [
          "Batches"
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "cURL",
            "source": "curl https://api.goshippo.com/batches/<BATCH OBJECT ID>?page=2&object_results=creation_failed \\\n-H \"Authorization: ShippoToken shippo_test_REDACTED\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import shippo\n\ns = shippo.Shippo(\n    api_key_header='ShippoToken <API_TOKEN>',\n    shippo_api_version='2018-02-08',\n)\n\n\nres = s.batches.get(batch_id='<id>')\n\nif res is not None:\n    # handle response\n    pass"
          },
          {
            "lang": "typescript",
            "label": "Typescript",
            "source": "import { Shippo } from \"shippo\";\n\nconst shippo = new Shippo({\n  apiKeyHeader: \"ShippoToken <API_TOKEN>\",\n  shippoApiVersion: \"2018-02-08\",\n});\n\nasync function run() {\n  const result = await shippo.batches.get(\"<id>\");\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "php",
            "label": "PHP",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse Shippo\\API;\nuse Shippo\\API\\Models\\Operations;\n\n$sdk = API\\Shippo::builder()\n    ->setSecurity(\n        'ShippoToken <API_TOKEN>'\n    )\n    ->setShippoApiVersion('2018-02-08')\n    ->build();\n\n$request = new Operations\\GetBatchRequest(\n    batchId: '<id>',\n);\n\n$response = $sdk->batches->get(\n    request: $request\n);\n\nif ($response->batch !== null) {\n    // handle response\n}"
          },
          {
            "lang": "csharp",
            "label": "C#",
            "source": "using Shippo;\nusing Shippo.Models.Components;\nusing Shippo.Models.Requests;\n\nvar sdk = new ShippoSDK(\n    apiKeyHeader: \"ShippoToken <API_TOKEN>\",\n    shippoApiVersion: \"2018-02-08\"\n);\n\nGetBatchRequest req = new GetBatchRequest() {\n    BatchId = \"<id>\",\n};\n\nvar res = await sdk.Batches.GetAsync(req);\n\n// handle response"
          },
          {
            "lang": "java",
            "label": "Java",
            "source": "package hello.world;\n\nimport com.goshippo.shippo_sdk.Shippo;\nimport com.goshippo.shippo_sdk.models.operations.GetBatchResponse;\nimport java.lang.Exception;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        Shippo sdk = Shippo.builder()\n                .apiKeyHeader(\"ShippoToken <API_TOKEN>\")\n                .shippoApiVersion(\"2018-02-08\")\n            .build();\n\n        GetBatchResponse res = sdk.batches().get()\n                .batchId(\"<id>\")\n                .page(1L)\n                .results(5L)\n                .shippoApiVersion(\"2018-02-08\")\n                .call();\n\n        if (res.batch().isPresent()) {\n            // handle response\n        }\n    }\n}"
          }
        ]
      }
    },
    "/batches/{BatchId}/add_shipments": {
      "post": {
        "description": "Adds batch shipments to an existing batch.",
        "operationId": "AddShipmentsToBatch",
        "parameters": [
          {
            "description": "Object ID of the batch",
            "in": "path",
            "name": "BatchId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ShippoApiVersionHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/BatchShipmentCreateRequest"
                },
                "type": "array"
              }
            }
          },
          "description": "Array of shipments to add to the batch"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/batchResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          }
        },
        "summary": "Add shipments to a batch",
        "tags": [
          "Batches"
        ],
        "x-codeSamples": [
          {
            "label": "cURL",
            "lang": "cURL",
[...]
