{
  "openapi": "3.0.3",
  "info": {
    "title": "Random User Generator API",
    "version": "1.4.0",
    "description": "A free, open-source API for generating random user data. Returns realistic user profiles including names, addresses, emails, photos, and more. Supports multiple nationalities, filtering fields, seeded results, and multiple output formats.",
    "x-jentic-source-url": "https://randomuser.me/documentation"
  },
  "servers": [
    {
      "url": "https://randomuser.me/api/1.4",
      "description": "Random User Generator API v1.4"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getRandomUsers",
        "summary": "Generate random user(s)",
        "description": "Returns one or more randomly generated user profiles. Supports filtering by gender, nationality, and specific fields. Results can be seeded for reproducibility and paginated.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "results",
            "in": "query",
            "required": false,
            "description": "Number of users to generate (1-5000). Defaults to 1.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000,
              "default": 1
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Filter by gender. Omit to return both.",
            "schema": {
              "type": "string",
              "enum": [
                "male",
                "female"
              ]
            }
          },
          {
            "name": "nat",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of nationalities to include.",
            "schema": {
              "type": "string",
              "example": "US,GB,FR"
            }
          },
          {
            "name": "seed",
            "in": "query",
            "required": false,
            "description": "Seed value to always generate the same set of users.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (1-based). Requires a seed for consistent results.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pretty",
                "csv",
                "yaml",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "password",
            "in": "query",
            "required": false,
            "description": "Custom password generation pattern. Format: charsets,min-max. Charsets: special, upper, lower, number.",
            "schema": {
              "type": "string",
              "example": "upper,lower,1-16"
            }
          },
          {
            "name": "inc",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in the response.",
            "schema": {
              "type": "string",
              "example": "gender,name,nat"
            }
          },
          {
            "name": "exc",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to exclude from the response.",
            "schema": {
              "type": "string",
              "example": "login,registered"
            }
          },
          {
            "name": "noinfo",
            "in": "query",
            "required": false,
            "description": "If present, omits the info metadata object from the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dl",
            "in": "query",
            "required": false,
            "description": "If present, triggers a file download with the appropriate format extension.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with generated user data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RandomUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RandomUserResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "info": {
            "$ref": "#/components/schemas/ResponseInfo"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "gender": {
            "type": "string",
            "enum": [
              "male",
              "female"
            ]
          },
          "name": {
            "$ref": "#/components/schemas/UserName"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "login": {
            "$ref": "#/components/schemas/Login"
          },
          "dob": {
            "$ref": "#/components/schemas/DateOfBirth"
          },
          "registered": {
            "$ref": "#/components/schemas/Registered"
          },
          "phone": {
            "type": "string"
          },
          "cell": {
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/UserId"
          },
          "picture": {
            "$ref": "#/components/schemas/Picture"
          },
          "nat": {
            "type": "string",
            "description": "Nationality code"
          }
        }
      },
      "UserName": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "street": {
            "type": "object",
            "properties": {
              "number": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "postcode": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ]
          },
          "coordinates": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              }
            }
          },
          "timezone": {
            "type": "object",
            "properties": {
              "offset": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          }
        }
      },
      "Login": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "salt": {
            "type": "string"
          },
          "md5": {
            "type": "string"
          },
          "sha1": {
            "type": "string"
          },
          "sha256": {
            "type": "string"
          }
        }
      },
      "DateOfBirth": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "age": {
            "type": "integer"
          }
        }
      },
      "Registered": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "age": {
            "type": "integer"
          }
        }
      },
      "UserId": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Picture": {
        "type": "object",
        "properties": {
          "large": {
            "type": "string",
            "format": "uri"
          },
          "medium": {
            "type": "string",
            "format": "uri"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ResponseInfo": {
        "type": "object",
        "properties": {
          "seed": {
            "type": "string"
          },
          "results": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          }
        }
      }
    }
  },
  "security": [],
  "tags": [
    {
      "name": "Users",
      "description": "Generate random user data"
    }
  ]
}