{
  "openapi": "3.0.0",
  "info": {
    "title": "API-NE-PlantillaBaseExample",
    "description": "Se DEBE describir la funcionalidad especificando el alcance y proposito del API  \ncapacidades y operaciones:\n- Listar Persona. \n- Registrar Persona.",
    "version": "1.0.0",
    "x-metadata-api": {
      "metadataNegocio": {
        "tribuOwner": "Nombre Tribu Owner",
        "negocio": "Linea de negocio",
        "producto": "Producto de negocio",
        "dominio": "Dominio funcional",
        "subDominio": "Sub Dominio funcional",
        "productoOwner": "Nombre Product Owner",
        "squadOwner": "Nombre del Squad",
        "arquitecto": "Nombre del arquitecto que diseño el API",
        "tipoApi": "Tipo de API",
        "tipoCanal": "Canales masivos (autoservicio)"
      },
      "metadataTecnica": {
        "tipoExposicion": "Interna o Externa",
        "tipoWorkload": "Tipo de backend",
        "lenguajeProgramacion": "Lenguaje de programacion del backend",
        "nombreServicioBackend": "ms-ne-personaejemplo",
        "consumidorApi": "Codigo de aplicacion consumidora",
        "codigoAplicacion": "ABCD",
        "mecanismoAutenticacion": "ApiKey, Jwt, etc"
      }
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/jhon.hernandez/API-NE-PlantillaBaseExample/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://server.apim.desa/ne-persona-ejemplo/v1",
      "description": "Servidor de Desarrollo"
    },
    {
      "url": "https://server.apim.certi/ne-persona-ejemplo/v1",
      "description": "Servidor de Calidad"
    },
    {
      "url": "https://server.apim.prod/ne-persona-ejemplo/v1",
      "description": "Servidor de Producción"
    }
  ],
  "paths": {
    "/personas/{idPersona}": {
      "get": {
        "summary": "Devuelve el documento Persona cuyo idPersona={idPersona} de la colección personas",
        "operationId": "obtenerPersona",
        "tags": [
          "GestionPersona"
        ],
        "description": "Descripción detallada de la operación.",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Transaccion-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Aplicacion-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Nombre-Aplicacion"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Usuario-Consumidor-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Nombre-Servicio-Consumidor"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Token-Seguridad"
          },
          {
            "$ref": "#/components/parameters/Path-idPersona"
          }
        ],
        "responses": {
          "200": {
            "description": "La persona ha sido registrada satisfactoriamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatosPersona"
                }
              }
            }
          },
          "204": {
            "description": "No se encontró un documento Persona en la colección de personas (Sin datos)."
          },
          "400": {
            "description": "Solicitud Incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "Error_De_Validacion_NumeroDeCaracteres": {
                    "$ref": "#/components/examples/Error_De_Validacion_NumeroDeCaracteres"
                  },
                  "Error_De_Validacion_FormatoInvalido": {
                    "$ref": "#/components/examples/Error_De_Validacion_FormatoInvalido"
                  },
                  "Formato_Inválido": {
                    "$ref": "#/components/examples/Formato_Invalido"
                  },
                  "Campos_Obligatorios": {
                    "$ref": "#/components/examples/Campos_Obligatorios"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Entidad No Procesable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "ID_Incorrecto": {
                    "$ref": "#/components/examples/ID_Incorrecto"
                  },
                  "Formato_ID": {
                    "$ref": "#/components/examples/Formato_ID"
                  },
                  "ID_Inactivo": {
                    "$ref": "#/components/examples/ID_Inactivo"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error Interno Del Servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "Internal_Server_Error": {
                    "$ref": "#/components/examples/Internal_Server_Error"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Reemplaza completamente los datos del documento Persona cuyo idPersona={idPersonas}",
        "operationId": "reemplazarPersona",
        "tags": [
          "GestionPersona"
        ],
        "description": "Descripción detallada de la operación.",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Transaccion-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Aplicacion-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Nombre-Aplicacion"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Usuario-Consumidor-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Nombre-Servicio-Consumidor"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Token-Seguridad"
          },
          {
            "$ref": "#/components/parameters/Path-idPersona"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatosPersona"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "La solicitud de reemplazo del documento ha sido aceptado. Será reemplazado de forma asíncrona."
          },
          "204": {
            "description": "Se ha reemplazado el documento satisfactoriamente (Sin datos)."
          },
          "400": {
            "description": "Solicitud Incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "Error_De_Validacion": {
                    "$ref": "#/components/examples/Error_De_Validacion_NumeroDeCaracteres"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Entidad No Procesable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "ID_Incorrecto": {
                    "$ref": "#/components/examples/ID_Incorrecto"
                  },
                  "Formato_ID": {
                    "$ref": "#/components/examples/Formato_ID"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error Interno Del Servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "Internal_Server_Error": {
                    "$ref": "#/components/examples/Internal_Server_Error"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Actualiza algunos atributos del documento Persona cuyo idPersona={idPersonas}. Los datos de actualización se obtienen del requestBody recibido.",
        "operationId": "actualizarPersona",
        "tags": [
          "GestionPersona"
        ],
        "description": "Descripción detallada de la operación.",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Transaccion-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Aplicacion-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Nombre-Aplicacion"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Usuario-Consumidor-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Nombre-Servicio-Consumidor"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Token-Seguridad"
          },
          {
            "$ref": "#/components/parameters/Path-idPersona"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatosPersona"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "La solicitud de actualización del documento ha sido aceptado. Será actualizado de forma asíncrona."
          },
          "204": {
            "description": "Se ha actualizado el documento satisfactoriamente (Sin datos)."
          },
          "400": {
            "description": "Solicitud Incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "Error_De_Validacion": {
                    "$ref": "#/components/examples/Error_De_Validacion_FormatoInvalido"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Entidad No Procesable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "ID_No_Existe": {
                    "$ref": "#/components/examples/ID_Incorrecto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error Interno Del Servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "Internal_Server_Error": {
                    "$ref": "#/components/examples/Internal_Server_Error"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Elimina el documento Persona cuyo idPersona={idPersonas}.",
        "operationId": "eliminarPersona",
        "tags": [
          "GestionPersona"
        ],
        "description": "Descripción detallada de la operación.",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Transaccion-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Aplicacion-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Nombre-Aplicacion"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Usuario-Consumidor-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Nombre-Servicio-Consumidor"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Token-Seguridad"
          },
          {
            "$ref": "#/components/parameters/Path-idPersona"
          }
        ],
        "responses": {
          "200": {
            "description": "El documento Persona ha sido eliminado de la colección personas. Se devuelve los datos del documento eliminado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatosPersona"
                }
              }
            }
          },
          "202": {
            "description": "La solicitud de eliminación del documento ha sido aceptado. Será eliminado de forma asíncrona."
          },
          "204": {
            "description": "El documento ha sido eliminado correctamente (Sin datos)."
          },
          "400": {
            "description": "Solicitud Incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "Error_De_Validacion": {
                    "$ref": "#/components/examples/Error_De_Validacion_NumeroDeCaracteres"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Entidad No Procesable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "ID_No_Existe": {
                    "$ref": "#/components/examples/ID_Incorrecto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error Interno Del Servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "Internal_Server_Error": {
                    "$ref": "#/components/examples/Internal_Server_Error"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/personas": {
      "get": {
        "summary": "Devuelve un listado de recurso de Personas",
        "operationId": "obtenerPersonas",
        "tags": [
          "GestionPersona"
        ],
        "description": "Descripción detallada de la operación.\nEjemplo del uso.",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Transaccion-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Aplicacion-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Nombre-Aplicacion"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Usuario-Consumidor-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Nombre-Servicio-Consumidor"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Token-Seguridad"
          },
          {
            "$ref": "#/components/parameters/QueryNumeroDocumento"
          }
        ],
        "responses": {
          "200": {
            "description": "Se lista las personas de acuerdo a la consulta.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatosPersonas"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Registra un nuevo documento Persona en la colección personas.",
        "operationId": "registrarPersona",
        "tags": [
          "GestionPersona"
        ],
        "description": "Descripción detallada de la operación.",
        "parameters": [
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Transaccion-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Aplicacion-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Nombre-Aplicacion"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Usuario-Consumidor-Id"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Nombre-Servicio-Consumidor"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "https://api.swaggerhub.com/domains/PacificoSegurosPeru/Domain-Base/1.0.0#/components/parameters/Header-Token-Seguridad"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatosPersona"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "El documento ha sido registrado satisfactoriamente."
          },
          "202": {
            "description": "El registro del documento ha sido aceptado. Será registrado de forma asíncrona."
          },
          "400": {
            "description": "Solicitud Incorrecta",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "Error_De_Validacion": {
                    "$ref": "#/components/examples/Error_De_Validacion_NumeroDeCaracteres"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Entidad No Procesable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "ID_No_Existe": {
                    "$ref": "#/components/examples/ID_Incorrecto"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error Interno Del Servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorRespuesta"
                },
                "examples": {
                  "Internal_Server_Error": {
                    "$ref": "#/components/examples/Internal_Server_Error"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "examples": {
      "Error_De_Validacion_NumeroDeCaracteres": {
        "summary": "FNE-MS-001 - Numero de caracteres",
        "value": {
          "error": {
            "tipo": "FUNCIONAL",
            "codigo": "FNE-MS-001",
            "mensaje": "El ID excede el numero de caracteres permitidos"
          }
        }
      },
      "Error_De_Validacion_FormatoInvalido": {
        "summary": "FNE-MS-002 - Error de validacion",
        "value": {
          "error": {
            "tipo": "FUNCIONAL",
            "codigo": "FNE-MS-002",
            "mensaje": "El formato del ID No es valido"
          }
        }
      },
      "Formato_Invalido": {
        "summary": "FNE-MS-003 - Formato Invalido",
        "value": {
          "error": {
            "tipo": "FUNCIONAL",
            "codigo": "FNE-MS-003",
            "mensaje": "El formato ID es incorrecto - El ID NO debe contener caracteres especiales"
          }
        }
      },
      "Campos_Obligatorios": {
        "summary": "FNE-MS-004 - Campos Obligatorios",
        "value": {
          "error": {
            "tipo": "FUNCIONAL",
            "codigo": "FNE-MS-004",
            "mensaje": "Faltan campos obligatorios en la solicitud."
          }
        }
      },
      "ID_Incorrecto": {
        "summary": "FNE-MS-001 - ID incorrecto",
        "value": {
          "error": {
            "tipo": "FUNCIONAL",
            "codigo": "FNE-MS-001",
            "mensaje": "l ID de persona debe ser un número entero, pero se recibió: 'abc'"
          }
        }
      },
      "Formato_ID": {
        "summary": "FNE-MS-002 - Formato ID",
        "value": {
          "error": {
            "tipo": "FUNCIONAL",
            "codigo": "FNE-MS-002",
            "mensaje": "El ID de persona debe ser un número positivo y entero, pero se recibió: -5."
          }
        }
      },
      "ID_Inactivo": {
        "summary": "FNE-MS-003 - ID Inactivo",
        "value": {
          "error": {
            "tipo": "FUNCIONAL",
            "codigo": "FNE-MS-003",
            "mensaje": "Este numero de ID Esta inactivo"
          }
        }
      },
      "Internal_Server_Error": {
        "value": {
          "error": {
            "tipo": "SISTEMA",
            "codigo": "SNE-SE-001",
            "mensaje": "Error interno del servidor"
          }
        }
      }
    },
    "parameters": {
      "QueryNumeroDocumento": {
        "in": "query",
        "name": "numeroDocumento",
        "schema": {
          "type": "string",
          "description": "Numero de documento"
        }
      },
      "Path-idPersona": {
        "in": "path",
        "name": "idPersona",
        "schema": {
          "type": "integer"
        },
        "required": true,
        "description": "Identificador único de persona"
      }
    },
    "schemas": {
      "DatosPersonas": {
        "type": "object",
        "properties": {
          "datos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonaRecurso"
            }
          }
        }
      },
      "DatosPersona": {
        "type": "object",
        "properties": {
          "datos": {
            "type": "object",
            "$ref": "#/components/schemas/PersonaRecurso"
          }
        }
      },
      "Direccion": {
        "description": "Información de dirección física",
        "type": "object",
        "properties": {
          "tipoDireccion": {
            "description": "Tipo de direcciónd",
            "properties": {
              "codigo": {
                "description": "Código asociado a la descripción. Este valor es obligatorio.",
                "type": "string",
                "example": 1
              },
              "descripcion": {
                "description": "Descripción asociado al código. Este valor es opcional",
                "type": "string",
                "example": "DOMICILIO"
              }
            },
            "required": [
              "codigo"
            ]
          }
        }
      },
      "PersonaRecurso": {
        "description": "Información de personas",
        "type": "object",
        "properties": {
          "idPersona": {
            "description": "Identificador único de persona (Autogenerado)",
            "example": 783928373,
            "type": "string"
          },
          "tipoDocumento": {
            "description": "Tipo de documento del titular de la cuenta. Tipos de documentos soportados:\n<table border=1px>\n  <tr>\n    <th>Código</th>\n    <th>Descripción</th>\n  </tr>\n  <tr>\n    <td>1</td>\n    <td>DNI</td>\n  </tr>\n  <tr>\n    <td>3</td>\n    <td>CARNET DE EXTRANJERIA</td>\n  </tr>\n  <tr>\n    <td>4</td>\n    <td>PASAPORTE</td>\n  </td>\n</table>                  ",
            "type": "object",
            "properties": {
              "codigo": {
                "description": "Código asociado a la descripción. Este valor es obligatorio.",
                "type": "string",
                "example": 1
              },
              "descripcion": {
                "description": "Descripción asociado al código. Este valor es opcional",
                "type": "string",
                "example": "DNI"
              }
            },
            "required": [
              "codigo"
            ]
          },
          "numeroDocumento": {
            "description": "Número de documento del titular de la cuenta.",
            "type": "string",
            "example": 44562738
          },
          "nombres": {
            "description": "Nombres de la persona",
            "type": "string",
            "example": "Jhon"
          },
          "apellidoPaterno": {
            "description": "Apellido Paterno de la persona",
            "type": "string",
            "example": "Doe"
          },
          "edad": {
            "description": "Edad de la persona",
            "type": "integer",
            "example": 1
          },
          "telefonos": {
            "description": "telefonos de la persona",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "9282882829",
              "883828383"
            ]
          },
          "direcciones": {
            "description": "Liste de direcciones informadas por la persona",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Direccion"
            }
          },
          "correos": {
            "description": "correos electrónicos de la persona",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "correo1@juna.com",
              "jlucia@hotmail.com"
            ]
          }
        },
        "required": [
          "tipoDocumento",
          "numeroDocumento",
          "nombres",
          "apellidoPaterno",
          "edad",
          "telefonos",
          "correos"
        ]
      },
      "ErrorRespuesta": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "tipo": {
                "type": "string",
                "enum": [
                  "FUNCIONAL",
                  "SISTEMA"
                ]
              },
              "codigo": {
                "type": "string"
              },
              "mensaje": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key"
      },
      "TokenJWT": {
        "description": "JWT bearer token de autenticación.",
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "ApiKey": []
    },
    {
      "TokenJWT": []
    }
  ]
}