{
  "swagger": "2.0",
  "info": {
    "description": "ATOMS Foundation Services",
    "version": "1.0.0",
    "title": "ATOMS Foundation Services",
    "contact": {
      "email": "Prabu.CTR.Rajamohan@faa.gov"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/FAA/atomsfs/1.0.0/swagger.json"
  },
  "host": "atoms.faa.gov",
  "basePath": "/faa-fs",
  "schemes": [
    "http"
  ],
  "tags": [
    {
      "name": "Employee Foundation service"
    },
    {
      "name": "activity"
    },
    {
      "name": "area"
    },
    {
      "name": "currency"
    },
    {
      "name": "employee"
    },
    {
      "name": "employee-activity"
    },
    {
      "name": "employee-settings"
    },
    {
      "name": "facility"
    },
    {
      "name": "ldr"
    },
    {
      "name": "leaveBalance"
    },
    {
      "name": "nonposition"
    },
    {
      "name": "organization"
    },
    {
      "name": "payperiod"
    },
    {
      "name": "payroll"
    },
    {
      "name": "position"
    },
    {
      "name": "project"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/employee": {
      "post": {
        "tags": [
          "employee"
        ],
        "summary": "Get Employee(s), Add Employee, Update Employee, Delete Employee",
        "description": "The employee service uses a single /employee resource with a POST method to search, add, update and delete employees. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "employee",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmployeeEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EmployeeEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/activity": {
      "post": {
        "tags": [
          "activity"
        ],
        "summary": "Get Activity(s), Add Activity, Update Activity, Delete Activity",
        "description": "The activity service uses a single /activity resource with a POST method to search, add, update and delete activity reference data. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "activity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivityEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ActivityEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/area": {
      "post": {
        "tags": [
          "area"
        ],
        "summary": "Get Area(s), Add Area, Update Area, Delete Area",
        "description": "The area service uses a single /area resource with a POST method to search, add, update and delete area data. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "area",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AreaEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/AreaEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/currency": {
      "post": {
        "tags": [
          "currency"
        ],
        "summary": "Get Employee Currency(s), Update Employee Currency, Delete Employee Currency",
        "description": "The currency service uses a single /currency resource with a POST method to get, update and delete employee currencies. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "currency",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CurrencyEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CurrencyEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/employee-activity": {
      "post": {
        "tags": [
          "employee-activity"
        ],
        "summary": "Get Activity(s), Add Activity, Update Activity, Delete Activity",
        "description": "The employee-activity service uses a single /employee-activity resource with a POST method to get, update employee activities data. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "employee-activity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmployeeActivityEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EmployeeActivityEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/leaveBalance": {
      "post": {
        "tags": [
          "leaveBalance"
        ],
        "summary": "Get Employee Leave Balance Activity(s), Add Employee Leave Balance, Update Employee Leave Balance, Delete Employee Leave Balance",
        "description": "The leaveBalance service uses a single /leaveBalance resource with a POST method to search, add, update and delete employee leave balance data. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "leaveBalance",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LeaveBalanceEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LeaveBalanceEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/employee-settings": {
      "post": {
        "tags": [
          "employee-settings"
        ],
        "summary": "Get Employee Settings, Add Employee Settings",
        "description": "The employee-settings service uses a single /employee-settings resource with a POST method to get and add employee settings data. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "employee-settings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmployeeSettingsEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EmployeeSettingsEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/facility": {
      "post": {
        "tags": [
          "facility"
        ],
        "summary": "Get Facility(s), Add Facility, Update Facility, Delete Facility",
        "description": "The facility service uses a single /facility resource with a POST method to search, add, update and delete facilities. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "facility",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FacilityEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FacilityEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/ldr": {
      "post": {
        "tags": [
          "ldr"
        ],
        "summary": "Get LDR(s), Add LDR, Update LDR, Delete LDR",
        "description": "The facility service uses a single /ldr resource with a POST method to search, add, update and delete LDRs. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "ldr",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LdrEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LdrEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/nonposition": {
      "post": {
        "tags": [
          "nonposition"
        ],
        "summary": "Get non-position(s), Add non-position, Update non-position, Delete non-position",
        "description": "The non-position service uses a single /nonposition resource with a POST method to search, add, update and delete non-positions. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "nonposition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NonPositionEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/NonPositionEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/organization": {
      "post": {
        "tags": [
          "organization"
        ],
        "summary": "Get organization(s)",
        "description": "The organization service uses a single /organization resource with a POST method to search for organizations. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "organization",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/OrganizationEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/payperiod": {
      "post": {
        "tags": [
          "payperiod"
        ],
        "summary": "Get pay period(s)",
        "description": "The pay period service uses a single /payperiod resource with a POST method to get current, next or previous pay periods. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "payperiod",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PayPeriodEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PayPeriodEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/payroll": {
      "post": {
        "tags": [
          "payroll"
        ],
        "summary": "Get Payroll(s), Add Payroll, Update Payroll, Delete Payroll",
        "description": "The payroll service uses a single /payroll resource with a POST method to search, add, update and delete payrolls. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "payroll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PayrollEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PayrollEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/positionconfig": {
      "post": {
        "tags": [
          "position"
        ],
        "summary": "Get Position Config(s), Add Position Config, Update Position Config, Delete Position Config",
        "description": "The position config service uses a single /positionconfig resource with a POST method to search, add, update and delete position configuration. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "positionconfig",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PositionconfigEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PositionconfigEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/position": {
      "post": {
        "tags": [
          "position"
        ],
        "summary": "Get Position(s), Add Position, Update Position, Delete Position",
        "description": "The position service uses a single /position resource with a POST method to search, add, update and delete position. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "position",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PositionEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PositionEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    },
    "/project": {
      "post": {
        "tags": [
          "project"
        ],
        "summary": "Get Project(s), Add Project, Update Project, Delete Project",
        "description": "The project service uses a single /project resource with a POST method to search, add, update and delete DELPHI projects. The client sends in an enterpriseDocument payload for the request and an enterpriseDocument payload is returned in the response.",
        "operationId": "project",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "enterpriseDocument",
            "description": "EnterpriseDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectEnterpriseDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProjectEnterpriseDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal service error occurred which prevented a valid response from being returned."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/EnterpriseDocumentError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "EmployeeEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST",
                        "PUT",
                        "DELETE"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "FAAID",
                        "FIRSTNAME",
                        "MIDDLENAME",
                        "LASTNAME",
                        "CREWNO",
                        "OPERINITIALS",
                        "COMMONID",
                        "QUALIFICATIONCODE",
                        "ORGANIZATIONCODE",
                        "AREACODE",
                        "FACILITYCODE",
                        "ALL"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "employeeRequest": {
                          "type": "object",
                          "properties": {
                            "faaId": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "middleName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "crewNo": {
                              "type": "string"
                            },
                            "operInitials": {
                              "type": "string"
                            },
                            "commonId": {
                              "type": "string"
                            },
                            "qualificationCode": {
                              "type": "string"
                            },
                            "areaCode": {
                              "type": "string"
                            },
                            "facilityCode": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "EmployeeEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "employeeList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/EmployeeList"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "ActivityEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST",
                        "PUT",
                        "DELETE"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "CODE",
                        "NAME",
                        "DESCRIPTION",
                        "REGION",
                        "PARENTCODE",
                        "OPERINITIALS",
                        "ISENABLE",
                        "ALL"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "activityRequest": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "region": {
                              "type": "string"
                            },
                            "parentCode": {
                              "type": "string"
                            },
                            "isEnable": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "ActivityEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "activities": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/Activity"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "AreaEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST",
                        "PUT",
                        "DELETE"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "CODE",
                        "NAME",
                        "FACILITYCODE",
                        "ACTIVATIONDATE",
                        "EXPIRATIONDATE",
                        "ALL"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "activityRequest": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "activationDate": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "expirationDate": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "AreaEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "areaList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/AreaList"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "CurrencyEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "PUT",
                        "DELETE"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "ECI",
                        "REQUESTHOURS",
                        "CURRENTMONTH",
                        "CURRENTYEAR",
                        "UPDATEDBY",
                        "AREACODE",
                        "CATEGORYNAME",
                        "POSITIONCODE",
                        "REQUIREDMINIMUM",
                        "REQUIREDMINIMUMMET",
                        "MINIMUM",
                        "FACILITIES",
                        "ALL"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "currencyRequest": {
                          "type": "object",
                          "properties": {
                            "eci": {
                              "type": "string"
                            },
                            "currentMonth": {
                              "type": "string",
                              "format": "integer"
                            },
                            "currentYear": {
                              "type": "string",
                              "format": "integer"
                            },
                            "areaCode": {
                              "type": "string"
                            },
                            "positionCode": {
                              "type": "string"
                            },
                            "categoryName": {
                              "type": "string"
                            },
                            "minimumMet": {
                              "type": "string",
                              "format": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "CurrencyEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "areaList": {
                          "type": "object",
                          "properties": {
                            "Currency": {
                              "type": "array",
                              "items": {
                                "$ref": "#/definitions/Currency"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "EmployeeActivityEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "PUT"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "CODE",
                        "FAA_ID"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "employeeActivityRequest": {
                          "type": "object",
                          "properties": {
                            "activity": {
                              "$ref": "#/definitions/Activity"
                            },
                            "activityAccessList": {
                              "type": "array",
                              "items": {
                                "$ref": "#/definitions/Employee"
                              }
                            },
                            "empFaaId": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "EmployeeActivityEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "employeeActivity": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/EmployeeActivity"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "LeaveBalanceEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST",
                        "PUT",
                        "DELETE"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "FAAID",
                        "AREACD",
                        "FACILITYCD"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "leaveBalanceRequest": {
                          "type": "object",
                          "properties": {
                            "facilityCd": {
                              "type": "string"
                            },
                            "areaCd": {
                              "type": "string"
                            },
                            "faaId": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "LeaveBalanceEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "leaveBalance": {
                          "$ref": "#/definitions/LeaveBalance"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "EmployeeSettingsEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "FAA_ID",
                        "AREACD"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "employeeSettingsRequest": {
                          "type": "object",
                          "properties": {
                            "empFaaId": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "EmployeeSettingsEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "employeeSettingsResponse": {
                          "type": "object",
                          "properties": {
                            "faaId": {
                              "type": "string"
                            },
                            "areaCd": {
                              "type": "string"
                            },
                            "facilityCd": {
                              "type": "string"
                            },
                            "employees": {
                              "type": "array",
                              "items": {
                                "$ref": "#/definitions/EmployeeSettingsList"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "FacilityEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST",
                        "PUT",
                        "DELETE"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "NAME",
                        "CODE",
                        "TYPECODE",
                        "SERVICETYPECODE",
                        "REGIONCODE",
                        "SECTORCODE",
                        "CONTACTID",
                        "ADDRESSID",
                        "ALL"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "facilityRequest": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "typeCode": {
                              "type": "string"
                            },
                            "serviceTypeCode": {
                              "type": "string"
                            },
                            "regionCode": {
                              "type": "string"
                            },
                            "sectorCode": {
                              "type": "string"
                            },
                            "contactId": {
                              "type": "string"
                            },
                            "addressId": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "FacilityEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "facilityList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/FacilityList"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "LdrEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST",
                        "PUT",
                        "DELETE"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "CODE",
                        "NAME",
                        "DESCRIPTION",
                        "PROJECTCODE",
                        "TASKCODE",
                        "ALL"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "ldrRequest": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "projectCode": {
                              "type": "string"
                            },
                            "taskCode": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "LdrEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "employees": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/Ldr"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "NonPositionEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST",
                        "PUT",
                        "DELETE"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "NAME",
                        "CODE",
                        "AREACODE",
                        "ALL"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "nonPositionRequest": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "areaCode": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "NonPositionEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "nonPositions": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/NonPosition"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "OrganizationEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "CODE",
                        "ALL"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "organizationRequest": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "OrganizationEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "organizations": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/Organization"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PayPeriodEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "CURRENT",
                        "NEXT",
                        "PREVIOUS"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "payPeriodRequest": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PayPeriodEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "payperiods": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/PayPeriod"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PayrollEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "CODE",
                        "CATEGORY"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "payroll": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "category": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PayrollEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "payRollList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/Payroll"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PositionconfigEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST",
                        "PUT",
                        "DELETE"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "CODE"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "positionconfigRequest": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PositionconfigEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "positionConfigList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/PositionConfigList"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PositionEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST",
                        "PUT",
                        "DELETE"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "NAME",
                        "CODE",
                        "AREACODE",
                        "ISBLACKLISTED",
                        "NASCOMPUTERCODE"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "positionRequest": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "typeCode": {
                              "type": "string"
                            },
                            "serviceTypeCode": {
                              "type": "string"
                            },
                            "regionCode": {
                              "type": "string"
                            },
                            "sectorCode": {
                              "type": "string"
                            },
                            "contactId": {
                              "type": "string"
                            },
                            "addressId": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "PositionEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "positionList": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/PositionList"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "ProjectEnterpriseDocumentRequest": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "properties": {
                    "requestMethod": {
                      "type": "string",
                      "enum": [
                        "GET",
                        "POST",
                        "PUT",
                        "DELETE"
                      ]
                    },
                    "requestCriteria": {
                      "type": "string",
                      "enum": [
                        "CODE",
                        "ALL"
                      ]
                    },
                    "requestMessage": {
                      "type": "object",
                      "properties": {
                        "projectRequest": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "ProjectEnterpriseDocumentResponse": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentTimeStamp": {
              "type": "string",
              "format": "date-time"
            },
            "documentHeader": {
              "type": "object",
              "properties": {
                "documentServiceId": {
                  "type": "string"
                },
                "documentBusinessHeader": {
                  "type": "string"
                }
              }
            },
            "documentBody": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "responseMessage": {
                      "type": "object",
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "$ref": "#/definitions/Project"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "EnterpriseDocumentError": {
      "type": "object",
      "properties": {
        "enterpriseDocument": {
          "type": "object",
          "properties": {
            "documentError": {
              "type": "object",
              "properties": {
                "errorMessage": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "EmployeeList": {
      "type": "object",
      "properties": {
        "employee": {
          "$ref": "#/definitions/Employee"
        }
      }
    },
    "Employee": {
      "type": "object",
      "properties": {
        "empId": {
          "type": "string"
        },
        "faaId": {
          "type": "string"
        },
        "eci": {
          "type": "integer"
        },
        "firstName": {
          "type": "string"
        },
        "middleName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "crewNo": {
          "type": "string"
        },
        "operInitials": {
          "type": "string"
        },
        "commonId": {
          "type": "string"
        },
        "qualification": {
          "$ref": "#/definitions/Qualication"
        },
        "area=": {
          "$ref": "#/definitions/Area"
        },
        "facility": {
          "$ref": "#/definitions/Facility"
        },
        "jobSeries": {
          "type": "string"
        }
      }
    },
    "Qualication": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "FacilityList": {
      "type": "object",
      "properties": {
        "facility": {
          "$ref": "#/definitions/Facility"
        }
      }
    },
    "Facility": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/FacilityType"
        },
        "serviceType": {
          "$ref": "#/definitions/ServiceType"
        },
        "contact": {
          "$ref": "#/definitions/Contact"
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "sector": {
          "$ref": "#/definitions/Sector"
        },
        "region": {
          "$ref": "#/definitions/Region"
        },
        "operatingHoursList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperatingHours"
          }
        },
        "autoRevertToOriginalShift": {
          "type": "string",
          "format": "boolean"
        },
        "overtimeJustification": {
          "type": "string",
          "format": "boolean"
        },
        "messageType": {
          "type": "string"
        },
        "timezone": {
          "type": "string"
        }
      }
    },
    "FacilityType": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "activitionDate": {
          "type": "string",
          "format": "date-time"
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ServiceType": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "activitionDate": {
          "type": "string",
          "format": "date-time"
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Contact": {
      "type": "object",
      "properties": {
        "phone": {
          "type": "string"
        },
        "activitionDate": {
          "type": "string",
          "format": "date-time"
        },
        "typeCode": {
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "street": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "zipCode": {
          "type": "string"
        },
        "typeCode": {
          "type": "string"
        }
      }
    },
    "Sector": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        }
      }
    },
    "Region": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "OperatingHours": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "activitionDate": {
          "type": "string",
          "format": "date-time"
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time"
        },
        "startTime": {
          "type": "string"
        },
        "endTime": {
          "type": "string"
        },
        "isValid": {
          "type": "string",
          "format": "boolean"
        }
      }
    },
    "AreaList": {
      "type": "object",
      "properties": {
        "area": {
          "$ref": "#/definitions/Area"
        }
      }
    },
    "Area": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "activitionDate": {
          "type": "string",
          "format": "date-time"
        },
        "facility": {
          "$ref": "#/definitions/Facility"
        },
        "shiftDeviationMinutes": {
          "type": "string",
          "format": "integer"
        },
        "preBriefingMinutes": {
          "type": "string",
          "format": "integer"
        },
        "postBriefingMinutes": {
          "type": "string",
          "format": "integer"
        },
        "preBriefingMaxMinutes": {
          "type": "string",
          "format": "integer"
        },
        "postBriefingMaxMinutes": {
          "type": "string",
          "format": "integer"
        },
        "ojtiPostBriefingMinutes": {
          "type": "string",
          "format": "integer"
        },
        "ojtiPostBriefingMaxMinutes": {
          "type": "string",
          "format": "integer"
        },
        "ojtiPostBriefingAction": {
          "type": "string"
        },
        "minBreakThreshold": {
          "type": "string",
          "format": "integer"
        },
        "recordCICOperationalCount": {
          "type": "string",
          "format": "boolean"
        },
        "groupPayPeriodSchedulesByCrew": {
          "type": "string",
          "format": "boolean"
        },
        "returnToShift": {
          "type": "string",
          "format": "boolean"
        },
        "futureTimeMaxMinutes": {
          "type": "string",
          "format": "integer"
        },
        "earlierTimeMaxMinutes": {
          "type": "string",
          "format": "integer"
        },
        "timeAjustAwaitingDuty": {
          "type": "string",
          "format": "boolean"
        },
        "shiftEndThresholdMinutes": {
          "type": "string",
          "format": "integer"
        },
        "leaveStartThresholdMinutes": {
          "type": "string",
          "format": "integer"
        },
        "enableMoveOccurrenceDisplay": {
          "type": "string",
          "format": "boolean"
        },
        "moveOccurrenceThreshold": {
          "type": "string",
          "format": "integer"
        },
        "displayOptionMoveOccurence": {
          "type": "string",
          "format": "boolean"
        },
        "displayOptionMoveMinutes": {
          "type": "string",
          "format": "boolean"
        },
        "displayOptionDay": {
          "type": "string",
          "format": "boolean"
        },
        "displayOptionMid": {
          "type": "string",
          "format": "boolean"
        },
        "displayOptionEve": {
          "type": "string",
          "format": "boolean"
        }
      }
    },
    "Activity": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "region": {
          "type": "string"
        },
        "isEnable": {
          "type": "string",
          "format": "boolean"
        },
        "parentCode": {
          "type": "string"
        }
      }
    },
    "Currency": {
      "type": "object",
      "properties": {
        "employee": {
          "$ref": "#/definitions/Employee"
        },
        "categoryDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryDetail"
          }
        }
      }
    },
    "CategoryDetail": {
      "type": "object",
      "properties": {
        "requiredMinimum": {
          "type": "string"
        },
        "requiredMinimumMet": {
          "type": "string"
        },
        "timeMeasurementUnit": {
          "type": "string"
        },
        "currentMonth": {
          "type": "string",
          "format": "integer"
        },
        "currentYear": {
          "type": "string",
          "format": "integer"
        },
        "isCreditHours": {
          "type": "string",
          "format": "boolean"
        },
        "categoryName": {
          "type": "string"
        },
        "updatedBy": {
          "type": "string"
        },
        "positionCurrencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PositionCurrency"
          }
        }
      }
    },
    "PositionCurrency": {
      "type": "object",
      "properties": {
        "position": {
          "$ref": "#/definitions/Position"
        },
        "isCreditHours": {
          "type": "string",
          "format": "boolean"
        },
        "minimum": {
          "type": "string"
        },
        "minimumMet": {
          "type": "string"
        },
        "timeMeasurementUnit": {
          "type": "string"
        },
        "updatedBy": {
          "type": "string"
        }
      }
    },
    "PositionList": {
      "type": "object",
      "properties": {
        "position": {
          "$ref": "#/definitions/Position"
        }
      }
    },
    "PositionConfigList": {
      "type": "object",
      "properties": {
        "position": {
          "$ref": "#/definitions/Position"
        }
      }
    },
    "Position": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "isInCharge": {
          "type": "string",
          "format": "boolean"
        },
        "isBlackListed": {
          "type": "string",
          "format": "boolean"
        },
        "type": {
          "$ref": "#/definitions/Type"
        },
        "status": {
          "$ref": "#/definitions/Status"
        },
        "nasComputer": {
          "$ref": "#/definitions/NasComputer"
        },
        "sector": {
          "$ref": "#/definitions/Sector"
        },
        "area": {
          "$ref": "#/definitions/Area"
        },
        "combinePosition": {
          "$ref": "#/definitions/CombinePosition"
        },
        "updatedByName": {
          "type": "string"
        },
        "updatedTs": {
          "type": "string",
          "format": "date-time"
        },
        "updatedByQual": {
          "$ref": "#/definitions/Qualification"
        },
        "canBeClosed": {
          "type": "string"
        },
        "isSupervisory": {
          "type": "string"
        }
      }
    },
    "Qualification": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "CombinePosition": {
      "type": "object",
      "properties": {
        "position": {
          "$ref": "#/definitions/Position"
        },
        "validFrom": {
          "type": "string",
          "format": "date-time"
        },
        "validTo": {
          "type": "string",
          "format": "date-time"
        },
        "updatedBy": {
          "type": "string"
        },
        "root": {
          "$ref": "#/definitions/CombinePosition"
        },
        "parent": {
          "$ref": "#/definitions/CombinePosition"
        },
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CombinePosition"
          }
        }
      }
    },
    "NasComputer": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "activationDate": {
          "type": "string",
          "format": "date-time"
        },
        "expirationDate": {
[...]
