{
  "openapi": "3.0.3",
  "info": {
    "title": "Geek Jokes API",
    "version": "1.0.0",
    "description": "A simple API that returns random geek and programming jokes. No authentication required.",
    "x-jentic-source-url": "https://geek-jokes.sameerkumar.website/api"
  },
  "servers": [
    {
      "url": "https://geek-jokes.sameerkumar.website"
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "operationId": "getRandomJoke",
        "summary": "Get a random geek joke",
        "description": "Returns a single random geek or programming joke as a string.",
        "tags": [
          "Jokes"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A random joke",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "The joke text"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": []
}