{
  "openapi": "3.0.3",
  "info": {
    "title": "Tadabase API",
    "description": "Tadabase REST API for viewing tables, fields and manipulating records. Industry standard REST API for no-code database applications.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer.tadabase.io",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.tadabase.io/api/v1"
    }
  ],
  "security": [
    {
      "TadabaseAuth": []
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "summary": "Check API Status",
        "description": "Check the current status and limits of a specific API Key",
        "operationId": "getApiStatus",
        "tags": [
          "Status"
        ],
        "responses": {
          "200": {
            "description": "API status information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_code": {
                      "type": "integer"
                    },
                    "per_minute_limit": {
                      "type": "object",
                      "properties": {
                        "allowed": {
                          "type": "integer"
                        },
                        "remaining": {
                          "type": "integer"
                        },
                        "resets_in_seconds": {
                          "type": "integer"
                        },
                        "reset_timestamp": {
                          "type": "integer"
                        }
                      }
                    },
                    "per_day_limit": {
                      "type": "object",
                      "properties": {
                        "allowed": {
                          "type": "integer"
                        },
                        "remaining": {
                          "type": "integer"
                        },
                        "resets_in_seconds": {
                          "type": "integer"
                        },
                        "reset_timestamp": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data-tables": {
      "get": {
        "summary": "List All Tables",
        "description": "View full list of all the tables in your app along with the ID of each table",
        "operationId": "listTables",
        "tags": [
          "Tables"
        ],
        "responses": {
          "200": {
            "description": "List of data tables",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "success"
                    },
                    "data_tables": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DataTable"
                      }
                    },
                    "total_items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data-tables/{tableId}/fields": {
      "get": {
        "summary": "List Table Fields",
        "description": "Retrieve all fields for a specific table",
        "operationId": "listFields",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Table ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fields": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Field"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data-tables/{tableId}/records": {
      "get": {
        "summary": "List Records",
        "description": "Retrieve records from a table",
        "operationId": "listRecords",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Record",
        "description": "Save a new record to a table",
        "operationId": "createRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Record created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data-tables/{tableId}/records/{recordId}": {
      "get": {
        "summary": "Get Record",
        "description": "Retrieve a specific record",
        "operationId": "getRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Record",
        "description": "Update an existing record",
        "operationId": "updateRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated"
          }
        }
      },
      "delete": {
        "summary": "Delete Record",
        "description": "Delete a record",
        "operationId": "deleteRecord",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Record deleted"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DataTable": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Field": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "TadabaseAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "TadabaseAuth"
      }
    }
  },
  "tags": [
    {
      "name": "Records"
    },
    {
      "name": "Status"
    },
    {
      "name": "Tables"
    }
  ]
}
