{
  "openapi": "3.0.3",
  "info": {
    "title": "Wayfair 3D Models API",
    "description": "Wayfair's public API for accessing realtime 3D model data for products. Provides demo access, registered user access, and registration endpoints.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.aboutwayfair.com/realtime-models"
  },
  "servers": [
    {
      "url": "https://api.wayfair.com/v1/3dapi"
    }
  ],
  "paths": {
    "/models_demo": {
      "get": {
        "operationId": "getDemoModels",
        "summary": "Get demo 3D models",
        "description": "Returns a limited dataset of 3D product models. No authentication required.",
        "tags": [
          "Models"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response with demo model data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "operationId": "getModels",
        "summary": "Get 3D models for registered users",
        "description": "Returns 3D product models for registered users. Supports filtering by SKU and pagination (50 models per page).",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "skus[]",
            "in": "query",
            "description": "Filter results by one or more product SKUs",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (50 models per page)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with model data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sign_up": {
      "post": {
        "operationId": "signUp",
        "summary": "Register for API access",
        "description": "Registers a new user for API access. A confirmation email with an auto-generated password will be sent.",
        "tags": [
          "Registration"
        ],
        "security": [],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Email address for registration",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registration successful, confirmation email sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignUpResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid email",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using registered email and password"
      }
    },
    "schemas": {
      "Model": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string",
            "description": "Product SKU identifier"
          },
          "name": {
            "type": "string",
            "description": "Product name"
          },
          "modelUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the 3D model file"
          },
          "thumbnailUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the product thumbnail image"
          }
        }
      },
      "ModelList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Model"
        }
      },
      "SignUpResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Confirmation message"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Models",
      "description": "3D model data retrieval"
    },
    {
      "name": "Registration",
      "description": "User registration for API access"
    }
  ]
}