{
  "openapi": "3.0.3",
  "info": {
    "title": "EBANX Direct API",
    "description": "EBANX Direct API enables merchants to process payments, payouts, refunds, and other financial operations across Latin America.",
    "version": "1.0.0",
    "contact": {
      "name": "EBANX",
      "url": "https://ebanx.github.io/dev-academy/api"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/ebanx.com/ebanx-direct-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.ebanx.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/ws/exchange": {
      "post": {
        "tags": [
          "FX"
        ],
        "summary": "Query exchange rate",
        "operationId": "queryExchangeRate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "currency_code",
                  "currency_base_code"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "currency_code": {
                    "type": "string",
                    "description": "Target currency code (e.g. BRL)"
                  },
                  "currency_base_code": {
                    "type": "string",
                    "description": "Base currency code (e.g. USD)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exchange rate retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/fxtoken/get": {
      "post": {
        "tags": [
          "FX"
        ],
        "summary": "Get fixed exchange rate token",
        "operationId": "getFxToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "country",
                  "currency_from",
                  "currency_to"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "country": {
                    "$ref": "#/components/schemas/Country"
                  },
                  "currency_from": {
                    "type": "string",
                    "description": "Source currency code"
                  },
                  "currency_to": {
                    "type": "string",
                    "description": "Target currency code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "FX token retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/token": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Create card token",
        "operationId": "createToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "payment_type_code",
                  "country",
                  "creditcard"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "payment_type_code": {
                    "type": "string",
                    "description": "Payment type code (e.g. creditcard)"
                  },
                  "country": {
                    "$ref": "#/components/schemas/Country"
                  },
                  "creditcard": {
                    "$ref": "#/components/schemas/CreditCard"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/token/setCVV": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Set CVV on token",
        "operationId": "setTokenCvv",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "token",
                  "card_cvv"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "token": {
                    "type": "string",
                    "description": "Previously created card token"
                  },
                  "card_cvv": {
                    "type": "string",
                    "description": "Card CVV/CVC code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CVV set on token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/direct": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Direct/transparent checkout",
        "operationId": "directCheckout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "operation",
                  "payment"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "operation": {
                    "type": "string",
                    "description": "Operation type (e.g. request)"
                  },
                  "payment": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/capture": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Capture credit card payment",
        "operationId": "capturePayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "hash": {
                    "$ref": "#/components/schemas/Hash"
                  },
                  "merchant_payment_code": {
                    "type": "string",
                    "description": "Merchant payment code"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/Amount"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment captured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/request": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create hosted payment page",
        "operationId": "createPaymentRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "name",
                  "email",
                  "currency_code",
                  "amount",
                  "payment_type_code"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "name": {
                    "type": "string",
                    "description": "Customer name"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Customer email"
                  },
                  "currency_code": {
                    "type": "string",
                    "description": "Currency code (e.g. USD, BRL)"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/Amount"
                  },
                  "payment_type_code": {
                    "type": "string",
                    "description": "Payment type code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment page created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/ewallet-availableEWallets": {
      "post": {
        "tags": [
          "DigitalWallets"
        ],
        "summary": "Get available e-wallets",
        "operationId": "getAvailableEWallets",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "country"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "country": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Available e-wallets retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/cancel": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Cancel payment",
        "operationId": "cancelPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "hash"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "hash": {
                    "$ref": "#/components/schemas/Hash"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/refund": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Refund payment",
        "operationId": "refundPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "operation",
                  "hash",
                  "amount",
                  "description"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "operation": {
                    "type": "string",
                    "description": "Operation type (e.g. request)"
                  },
                  "hash": {
                    "$ref": "#/components/schemas/Hash"
                  },
                  "amount": {
                    "$ref": "#/components/schemas/Amount"
                  },
                  "description": {
                    "type": "string",
                    "description": "Refund reason description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/updatecustomerbankinfo": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Update refund bank info",
        "operationId": "updateCustomerBankInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "hash",
                  "refund_id",
                  "bank_info"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "hash": {
                    "$ref": "#/components/schemas/Hash"
                  },
                  "refund_id": {
                    "type": "string",
                    "description": "Refund identifier"
                  },
                  "bank_info": {
                    "$ref": "#/components/schemas/BankInfo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank info updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/refundOrCancel": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Auto cancel or refund payment",
        "operationId": "refundOrCancel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "hash",
                  "description"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "hash": {
                    "$ref": "#/components/schemas/Hash"
                  },
                  "description": {
                    "type": "string",
                    "description": "Reason description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment cancelled or refunded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/cardbin": {
      "post": {
        "tags": [
          "Utilities"
        ],
        "summary": "Get valid card BINs",
        "operationId": "getCardBins",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "country",
                  "bank_info"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "country": {
                    "$ref": "#/components/schemas/Country"
                  },
                  "bank_info": {
                    "$ref": "#/components/schemas/BankInfo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card BINs retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/getBankList": {
      "post": {
        "tags": [
          "Utilities"
        ],
        "summary": "Get available banks",
        "operationId": "getBankList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "country",
                  "operation"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "country": {
                    "$ref": "#/components/schemas/Country"
                  },
                  "operation": {
                    "type": "string",
                    "description": "Operation type"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank list retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/query": {
      "post": {
        "tags": [
          "Utilities"
        ],
        "summary": "Get payment info",
        "operationId": "queryPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "hash": {
                    "$ref": "#/components/schemas/Hash"
                  },
                  "merchant_payment_code": {
                    "type": "string",
                    "description": "Merchant payment code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment info retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/print": {
      "post": {
        "tags": [
          "Utilities"
        ],
        "summary": "Generate printable slip",
        "operationId": "printSlip",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key",
                  "hash",
                  "format"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  },
                  "hash": {
                    "$ref": "#/components/schemas/Hash"
                  },
                  "format": {
                    "type": "string",
                    "description": "Output format (e.g. pdf, html)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Printable slip generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/installmentsPlan": {
      "get": {
        "tags": [
          "Utilities"
        ],
        "summary": "Get installment plan",
        "operationId": "getInstallmentsPlan",
        "parameters": [
          {
            "name": "country_abbreviation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Two-letter country abbreviation"
          },
          {
            "name": "currency_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Currency code (e.g. BRL)"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "Payment amount"
          }
        ],
        "responses": {
          "200": {
            "description": "Installment plan retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/payout/create": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Create payout",
        "operationId": "createPayout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/payout/attach": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Attach invoice PDF to payout",
        "operationId": "attachPayoutInvoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice attached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/payout/cancel": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Cancel payout",
        "operationId": "cancelPayout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/payout/commit": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Begin payout payment process",
        "operationId": "commitPayout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout committed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/payout/retrieve": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Get payout info",
        "operationId": "retrievePayout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout info retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/payout/simulate": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Simulate payout",
        "operationId": "simulatePayout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout simulated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/payout/search": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Search payouts",
        "operationId": "searchPayouts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payouts found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/payout/balance": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Get available payout balance",
        "operationId": "getPayoutBalance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Balance retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/payout/banks": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "List payout banks",
        "operationId": "listPayoutBanks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Banks listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/payout/bankDetails": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Get bank details for payouts",
        "operationId": "getPayoutBankDetails",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/payee/create": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Create payee",
        "operationId": "createPayee",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payee created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/payout/verify_account": {
      "post": {
        "tags": [
          "Payouts"
        ],
        "summary": "Validate payout account",
        "operationId": "verifyPayoutAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account validated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/transfer/create": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Create transfer",
        "operationId": "createTransfer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/transfer/cancel": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Cancel transfer",
        "operationId": "cancelTransfer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/transfer/retrieve": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Get transfer info",
        "operationId": "retrieveTransfer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer info retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ws/transfer/search": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Search transfers",
        "operationId": "searchTransfers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integration_key"
                ],
                "properties": {
                  "integration_key": {
                    "$ref": "#/components/schemas/IntegrationKey"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfers found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IntegrationKey": {
        "type": "string",
        "description": "Your EBANX integration key (API key)"
      },
      "Hash": {
        "type": "string",
        "description": "EBANX unique payment hash identifier"
      },
      "Amount": {
        "type": "number",
        "format": "double",
        "description": "Monetary amount"
      },
      "Country": {
        "type": "string",
        "description": "Two-letter country code (e.g. BR, MX, CO)"
      },
      "CreditCard": {
        "type": "object",
        "description": "Credit card details",
        "properties": {
          "card_number": {
            "type": "string",
            "description": "Card number"
          },
          "card_name": {
            "type": "string",
            "description": "Cardholder name"
          },
          "card_due_date": {
            "type": "string",
            "description": "Card expiration date (MM/YYYY)"
          },
          "card_cvv": {
            "type": "string",
            "description": "Card CVV/CVC code"
          }
        }
      },
      "Payment": {
        "type": "object",
        "description": "Payment object for direct checkout",
        "properties": {
          "name": {
            "type": "string",
            "description": "Customer name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email"
          },
          "document": {
            "type": "string",
            "description": "Customer document (CPF, CNPJ, etc.)"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "payment_type_code": {
            "type": "string",
            "description": "Payment method code"
          },
          "merchant_payment_code": {
            "type": "string",
            "description": "Unique merchant payment reference"
          },
          "currency_code": {
            "type": "string",
            "description": "Currency code (e.g. USD, BRL)"
          },
          "amount_total": {
            "$ref": "#/components/schemas/Amount"
          },
          "instalments": {
            "type": "integer",
            "description": "Number of installments"
          },
          "creditcard": {
            "$ref": "#/components/schemas/CreditCard"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Address": {
        "type": "object",
        "description": "Customer address",
        "properties": {
          "address": {
            "type": "string",
            "description": "Street address"
          },
          "street_number": {
            "type": "string",
            "description": "Street number"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "state": {
            "type": "string",
            "description": "State code"
          },
          "zipcode": {
            "type": "string",
            "description": "Postal/ZIP code"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          }
        }
      },
      "BankInfo": {
        "type": "object",
        "description": "Bank account information",
        "properties": {
          "bank_code": {
            "type": "string",
            "description": "Bank code"
          },
          "bank_branch": {
            "type": "string",
            "description": "Bank branch number"
          },
          "bank_account": {
            "type": "string",
            "description": "Bank account number"
          },
          "account_type": {
            "type": "string",
            "description": "Account type (e.g. C for checking, S for savings)"
          },
          "bank_name": {
            "type": "string",
            "description": "Bank name"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "description": "Standard EBANX API response",
        "properties": {
          "status": {
            "type": "string",
            "description": "Response status (SUCCESS or ERROR)",
            "enum": [
              "SUCCESS",
              "ERROR"
            ]
          },
          "status_code": {
            "type": "string",
            "description": "Response status code"
          },
          "status_message": {
            "type": "string",
            "description": "Human-readable status message"
          }
        }
      }
    },
    "securitySchemes": {
      "IntegrationKey": {
        "type": "apiKey",
        "in": "header",
        "name": "integration_key",
        "description": "EBANX integration key passed in the request body for all endpoints"
      }
    }
  },
  "tags": [
    {
      "name": "FX",
      "description": "Foreign exchange operations"
    },
    {
      "name": "Tokenization",
      "description": "Card tokenization operations"
    },
    {
      "name": "Payments",
      "description": "Payment processing operations"
    },
    {
      "name": "DigitalWallets",
      "description": "Digital wallet operations"
    },
    {
      "name": "Refunds",
      "description": "Cancellation and refund operations"
    },
    {
      "name": "Utilities",
      "description": "Utility endpoints"
    },
    {
      "name": "Payouts",
      "description": "Payout operations"
    },
    {
      "name": "Transfers",
      "description": "Transfer operations"
    }
  ]
}