{
  "openapi": "3.0.3",
  "info": {
    "title": "ecobee API",
    "version": "1.0.0",
    "description": "The ecobee API provides an HTTP-based interface for control and access to ecobee smart thermostats, including thermostat data retrieval, updates, reports, group management, and demand response operations.",
    "x-jentic-source-url": "https://developer.ecobee.com/home/developer/api/introduction/index.shtml",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.ecobee.com/1"
    }
  ],
  "paths": {
    "/thermostatSummary": {
      "get": {
        "operationId": "getThermostatSummary",
        "summary": "Get thermostat summary (polling)",
        "tags": [
          "Thermostats"
        ],
        "description": "Retrieves a lightweight summary of thermostat data for polling changes",
        "parameters": [
          {
            "name": "json",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "JSON-encoded selection object"
          }
        ],
        "responses": {
          "200": {
            "description": "Summary response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThermostatSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/thermostat": {
      "get": {
        "operationId": "getThermostats",
        "summary": "Get thermostats",
        "tags": [
          "Thermostats"
        ],
        "description": "Retrieves a selection of thermostat data for one or more thermostats",
        "parameters": [
          {
            "name": "json",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "JSON-encoded selection object"
          }
        ],
        "responses": {
          "200": {
            "description": "Thermostat data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThermostatListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateThermostats",
        "summary": "Update thermostats",
        "tags": [
          "Thermostats"
        ],
        "description": "Updates thermostat data for one or more thermostats",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/meterReport": {
      "get": {
        "operationId": "getMeterReport",
        "summary": "Get meter report",
        "tags": [
          "Reports"
        ],
        "description": "Retrieves meter report data",
        "parameters": [
          {
            "name": "json",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Meter report"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/runtimeReport": {
      "get": {
        "operationId": "getRuntimeReport",
        "summary": "Get runtime report",
        "tags": [
          "Reports"
        ],
        "description": "Retrieves runtime report data",
        "parameters": [
          {
            "name": "json",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runtime report"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/group": {
      "get": {
        "operationId": "getGroup",
        "summary": "Get group",
        "tags": [
          "Groups"
        ],
        "description": "Retrieves group data",
        "parameters": [
          {
            "name": "json",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group data"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateGroup",
        "summary": "Update group",
        "tags": [
          "Groups"
        ],
        "description": "Updates group data",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/demandResponse": {
      "get": {
        "operationId": "listDemandResponses",
        "summary": "List demand responses",
        "tags": [
          "Demand Response"
        ],
        "description": "Retrieves demand response events",
        "parameters": [
          {
            "name": "json",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Demand response list"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "manageDemandResponse",
        "summary": "Issue or cancel demand response",
        "tags": [
          "Demand Response"
        ],
        "description": "Issue or cancel a demand response event",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Demand response managed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/runtimeReportJob": {
      "get": {
        "operationId": "listRuntimeReportJobs",
        "summary": "List runtime report job status",
        "tags": [
          "Reports"
        ],
        "description": "Lists status of runtime report batch jobs",
        "responses": {
          "200": {
            "description": "Job status list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "manageRuntimeReportJob",
        "summary": "Create or cancel runtime report job",
        "tags": [
          "Reports"
        ],
        "description": "Create or cancel a runtime report batch job",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job managed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/managementSet": {
      "get": {
        "operationId": "listSets",
        "summary": "List management sets",
        "tags": [
          "Management"
        ],
        "description": "Lists management set hierarchy",
        "responses": {
          "200": {
            "description": "Set list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "manageSet",
        "summary": "Add, remove, rename, or move a set",
        "tags": [
          "Management"
        ],
        "description": "Manage a set in the hierarchy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Set managed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/managementSet/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users in management set",
        "tags": [
          "Management"
        ],
        "description": "Lists users in a management set",
        "responses": {
          "200": {
            "description": "User list"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/managementSet/user": {
      "post": {
        "operationId": "manageUser",
        "summary": "Add, remove, update, or unregister user",
        "tags": [
          "Management"
        ],
        "description": "Manage a user in the management set",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User managed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/managementSet/thermostat": {
      "post": {
        "operationId": "manageThermostatInSet",
        "summary": "Register, unregister, move, or assign thermostat",
        "tags": [
          "Management"
        ],
        "description": "Manage a thermostat in the management set",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Thermostat managed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ThermostatSummaryResponse": {
        "type": "object",
        "properties": {
          "revisionList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "thermostatCount": {
            "type": "integer"
          },
          "statusList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        }
      },
      "ThermostatListResponse": {
        "type": "object",
        "properties": {
          "page": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "totalPages": {
                "type": "integer"
              },
              "pageSize": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              }
            }
          },
          "thermostatList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Thermostat"
            }
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        }
      },
      "Thermostat": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "thermostatRev": {
            "type": "string"
          },
          "isRegistered": {
            "type": "boolean"
          },
          "modelNumber": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "runtime": {
            "type": "object"
          },
          "settings": {
            "type": "object"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.ecobee.com/authorize",
            "tokenUrl": "https://api.ecobee.com/token",
            "scopes": {
              "smartWrite": "Read and write thermostat data"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "smartWrite"
      ]
    }
  ],
  "tags": [
    {
      "name": "Demand Response"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Management"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Thermostats"
    }
  ]
}
