{
  "openapi": "3.0.3",
  "info": {
    "title": "Countrylayer API",
    "version": "1.0.0",
    "description": "REST API providing country data including names, capitals, regions, languages, currencies, calling codes, and more. Allows searching and filtering countries by various criteria.",
    "x-jentic-source-url": "https://countrylayer.com/documentation"
  },
  "servers": [
    {
      "url": "https://api.countrylayer.com/v2"
    }
  ],
  "paths": {
    "/all": {
      "get": {
        "operationId": "getAllCountries",
        "summary": "Get all countries",
        "description": "Retrieve a list of all countries with their details.",
        "tags": [
          "Countries"
        ],
        "responses": {
          "200": {
            "description": "List of all countries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/name/{name}": {
      "get": {
        "operationId": "getCountriesByName",
        "summary": "Search by country name",
        "description": "Search for countries matching the given name.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Country name or partial name to search for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Countries matching the name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/capital/{capital}": {
      "get": {
        "operationId": "getCountriesByCapital",
        "summary": "Search by capital city",
        "description": "Search for countries by their capital city.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "capital",
            "in": "path",
            "required": true,
            "description": "Capital city name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Countries matching the capital",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/language/{language}": {
      "get": {
        "operationId": "getCountriesByLanguage",
        "summary": "Search by language",
        "description": "Search for countries by official language.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "required": true,
            "description": "Language code or name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Countries matching the language",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/currency/{currency}": {
      "get": {
        "operationId": "getCountriesByCurrency",
        "summary": "Search by currency",
        "description": "Search for countries by currency code.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "description": "Currency code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Countries matching the currency",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/region/{region}": {
      "get": {
        "operationId": "getCountriesByRegion",
        "summary": "Search by region",
        "description": "Search for countries by geographic region.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "description": "Region name (e.g., Africa, Americas, Asia, Europe, Oceania)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Countries in the region",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/regionalbloc/{regionalbloc}": {
      "get": {
        "operationId": "getCountriesByRegionalBloc",
        "summary": "Search by regional bloc",
        "description": "Search for countries by regional bloc (e.g., EU, NAFTA, AU).",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "regionalbloc",
            "in": "path",
            "required": true,
            "description": "Regional bloc code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Countries in the regional bloc",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/callingcode/{callingcode}": {
      "get": {
        "operationId": "getCountriesByCallingCode",
        "summary": "Search by calling code",
        "description": "Search for countries by telephone calling code.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "callingcode",
            "in": "path",
            "required": true,
            "description": "Telephone calling code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Countries matching the calling code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/alpha/{code}": {
      "get": {
        "operationId": "getCountryByAlphaCode",
        "summary": "Search by alpha code",
        "description": "Get a country by its ISO 3166-1 alpha-2 or alpha-3 code.",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "ISO 3166-1 alpha-2 or alpha-3 country code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country matching the alpha code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Country": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Country name"
          },
          "topLevelDomain": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "alpha2Code": {
            "type": "string"
          },
          "alpha3Code": {
            "type": "string"
          },
          "callingCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "capital": {
            "type": "string"
          },
          "altSpellings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "region": {
            "type": "string"
          },
          "subregion": {
            "type": "string"
          },
          "population": {
            "type": "integer"
          },
          "latlng": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "demonym": {
            "type": "string"
          },
          "area": {
            "type": "number",
            "nullable": true
          },
          "gini": {
            "type": "number",
            "nullable": true
          },
          "timezones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "borders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "nativeName": {
            "type": "string"
          },
          "numericCode": {
            "type": "string"
          },
          "currencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Currency"
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Language"
            }
          },
          "translations": {
            "type": "object"
          },
          "flag": {
            "type": "string",
            "description": "URL to SVG flag image"
          },
          "regionalBlocs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegionalBloc"
            }
          }
        }
      },
      "Currency": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "iso639_1": {
            "type": "string"
          },
          "iso639_2": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nativeName": {
            "type": "string"
          }
        }
      },
      "RegionalBloc": {
        "type": "object",
        "properties": {
          "acronym": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "otherAcronyms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "otherNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "access_key",
        "description": "API access key provided by countrylayer."
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ]
}