{
  "openapi": "3.0.3",
  "info": {
    "title": "Merriam-Webster Dictionary API",
    "version": "3.0.0",
    "description": "The Merriam-Webster Dictionary API provides access to Merriam-Webster's Collegiate Dictionary and other reference works. Returns word definitions, pronunciations, etymologies, and more in JSON format.",
    "x-jentic-source-url": "https://dictionaryapi.com/"
  },
  "servers": [
    {
      "url": "https://www.dictionaryapi.com/api/v3",
      "description": "Merriam-Webster API v3 server"
    }
  ],
  "paths": {
    "/references/collegiate/json/{word}": {
      "get": {
        "operationId": "lookupCollegiateDictionary",
        "summary": "Look up a word in the Collegiate Dictionary",
        "description": "Returns definitions, pronunciations, etymologies, and more for the specified word from the Merriam-Webster Collegiate Dictionary.",
        "tags": [
          "Collegiate"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "required": true,
            "description": "The word to look up.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key for authentication.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dictionary entry or list of suggestions if word not found.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DictionaryEntry"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of suggested words when the searched word is not found."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/references/thesaurus/json/{word}": {
      "get": {
        "operationId": "lookupThesaurus",
        "summary": "Look up a word in the Collegiate Thesaurus",
        "description": "Returns synonyms, antonyms, and related words for the specified word from the Merriam-Webster Collegiate Thesaurus.",
        "tags": [
          "Thesaurus"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "required": true,
            "description": "The word to look up.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key for authentication (thesaurus-specific key).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thesaurus entry or list of suggestions.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DictionaryEntry"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/references/medical/json/{word}": {
      "get": {
        "operationId": "lookupMedicalDictionary",
        "summary": "Look up a word in the Medical Dictionary",
        "description": "Returns medical definitions for the specified word.",
        "tags": [
          "Medical"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "required": true,
            "description": "The word to look up.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key for authentication (medical dictionary key).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Medical dictionary entry or list of suggestions.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DictionaryEntry"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/references/learners/json/{word}": {
      "get": {
        "operationId": "lookupLearnersDictionary",
        "summary": "Look up a word in the Learner's Dictionary",
        "description": "Returns definitions optimized for English language learners.",
        "tags": [
          "Learners"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "required": true,
            "description": "The word to look up.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key for authentication (learner's dictionary key).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Learner's dictionary entry or list of suggestions.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DictionaryEntry"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/references/spanish/json/{word}": {
      "get": {
        "operationId": "lookupSpanishEnglishDictionary",
        "summary": "Look up a word in the Spanish-English Dictionary",
        "description": "Returns Spanish-English translations for the specified word.",
        "tags": [
          "Spanish"
        ],
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "required": true,
            "description": "The word to look up (Spanish or English).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key for authentication (Spanish-English dictionary key).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spanish-English dictionary entry or list of suggestions.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DictionaryEntry"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DictionaryEntry": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "description": "Entry metadata.",
            "properties": {
              "id": {
                "type": "string",
                "description": "Entry identifier."
              },
              "uuid": {
                "type": "string",
                "description": "Universally unique identifier."
              },
              "src": {
                "type": "string",
                "description": "Source dictionary."
              },
              "stems": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of headwords, variants, inflections, and related words that can be used to search for this entry."
              },
              "offensive": {
                "type": "boolean",
                "description": "Whether the entry is considered offensive."
              }
            }
          },
          "hwi": {
            "type": "object",
            "description": "Headword information.",
            "properties": {
              "hw": {
                "type": "string",
                "description": "Headword with asterisks marking hyphenation points."
              },
              "prs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "mw": {
                      "type": "string",
                      "description": "Written pronunciation."
                    },
                    "sound": {
                      "type": "object",
                      "properties": {
                        "audio": {
                          "type": "string",
                          "description": "Audio file base name."
                        }
                      }
                    }
                  }
                },
                "description": "Pronunciations."
              }
            }
          },
          "fl": {
            "type": "string",
            "description": "Functional label (part of speech)."
          },
          "def": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sseq": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {}
                  },
                  "description": "Sense sequence containing definitions."
                }
              }
            },
            "description": "Definition section."
          },
          "shortdef": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Short definitions (up to 3)."
          },
          "et": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Etymology."
          },
          "date": {
            "type": "string",
            "description": "Date of first known use."
          },
          "uros": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ure": {
                  "type": "string",
                  "description": "Undefined run-on entry word."
                },
                "fl": {
                  "type": "string",
                  "description": "Functional label."
                }
              }
            },
            "description": "Undefined run-on entries (related forms)."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message."
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "Merriam-Webster API key. Each dictionary product requires its own key."
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Collegiate",
      "description": "Collegiate Dictionary lookups"
    },
    {
      "name": "Thesaurus",
      "description": "Collegiate Thesaurus lookups"
    },
    {
      "name": "Medical",
      "description": "Medical Dictionary lookups"
    },
    {
      "name": "Learners",
      "description": "Learner's Dictionary lookups"
    },
    {
      "name": "Spanish",
      "description": "Spanish-English Dictionary lookups"
    }
  ]
}