{
  "openapi": "3.0.3",
  "info": {
    "title": "Cruise Control API",
    "description": "Cruise Control collects customer reviews. Connect your e-commerce or invoicing account for feedback requests to send automatically via text message or email. This API manages authentication, contacts, broadcasts, calls, messages, event types, and rules.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://app.cruisecontrol.ai/docs/api/"
  },
  "servers": [
    {
      "url": "https://app.cruisecontrol.ai/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Obtain access token",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "get": {
        "operationId": "logout",
        "summary": "Revoke token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Logged out successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/user": {
      "get": {
        "operationId": "getUser",
        "summary": "Get authenticated user details",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addContacts",
        "summary": "Add contacts",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contacts added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/search": {
      "get": {
        "operationId": "searchContacts",
        "summary": "Search contacts by email or phone",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "description": "Email to search"
          },
          {
            "name": "phone",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Phone number to search"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/trigger-execution": {
      "post": {
        "operationId": "executeTriggerBroadcast",
        "summary": "Execute trigger broadcast",
        "tags": [
          "Broadcasts"
        ],
        "responses": {
          "200": {
            "description": "Broadcast executed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerExecutionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/triggers": {
      "get": {
        "operationId": "listTriggers",
        "summary": "List available triggers",
        "tags": [
          "Broadcasts"
        ],
        "responses": {
          "200": {
            "description": "List of triggers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "List messages",
        "tags": [
          "Broadcasts"
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/calls/{phoneNumber}": {
      "get": {
        "operationId": "getCallsByPhone",
        "summary": "Get calls by phone number",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "phoneNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Phone number"
          }
        ],
        "responses": {
          "200": {
            "description": "Call records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/call/{uuid}": {
      "get": {
        "operationId": "getCall",
        "summary": "Get call record by UUID",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Call record UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Call record details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCall",
        "summary": "Delete or cancel a call record",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the call record to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Call deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/event-types": {
      "get": {
        "operationId": "listEventTypes",
        "summary": "List event types",
        "tags": [
          "Event Types"
        ],
        "parameters": [
          {
            "name": "platform_id",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Filter by platform ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of event types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/event-types/{eventType}/catalog": {
      "get": {
        "operationId": "getEventTypeCatalog",
        "summary": "Get event type field catalog",
        "tags": [
          "Event Types"
        ],
        "parameters": [
          {
            "name": "eventType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event type ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Event type catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "resetEventTypeCatalog",
        "summary": "Reset event type catalog",
        "tags": [
          "Event Types"
        ],
        "parameters": [
          {
            "name": "eventType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event type ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog reset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/event-types/{eventType}/sample": {
      "post": {
        "operationId": "updateEventTypeSample",
        "summary": "Update sample payload for event type",
        "tags": [
          "Event Types"
        ],
        "parameters": [
          {
            "name": "eventType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event type ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sample_payload"
                ],
                "properties": {
                  "sample_payload": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sample updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogUpdateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/event-types/{eventType}/catalog/aliases": {
      "post": {
        "operationId": "createFieldAlias",
        "summary": "Create or update a field alias",
        "tags": [
          "Event Types"
        ],
        "parameters": [
          {
            "name": "eventType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event type ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldAliasRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alias created/updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogUpdateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/event-types/{eventType}/catalog/aliases/{key}": {
      "delete": {
        "operationId": "deleteFieldAlias",
        "summary": "Delete a field alias",
        "tags": [
          "Event Types"
        ],
        "parameters": [
          {
            "name": "eventType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event type ID"
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Alias key to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Alias deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogUpdateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/event-types/{eventType}/rules": {
      "get": {
        "operationId": "listRulePresets",
        "summary": "List saved rule presets for an event type",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "name": "eventType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event type ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of rule presets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createRulePreset",
        "summary": "Create or update a rule preset",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "name": "eventType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event type ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RulePresetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rule preset created/updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkDataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/event-types/{eventType}/rules/{id}": {
      "delete": {
        "operationId": "deleteRulePreset",
        "summary": "Delete a rule preset",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "name": "eventType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event type ID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Rule preset ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Rule preset deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkDataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/event-types/{eventType}/rules/dry-run": {
      "post": {
        "operationId": "dryRunRule",
        "summary": "Test a rule with a dry run",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "name": "eventType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event type ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DryRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dry run result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DryRunResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/event-types/{eventType}/rules/generate": {
      "post": {
        "operationId": "generateRule",
        "summary": "Generate a rule via AI from instructions",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "name": "eventType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event type ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "instruction"
                ],
                "properties": {
                  "instruction": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "Natural language instruction for rule generation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated rule",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/platforms/{platformId}/rules": {
      "get": {
        "operationId": "listPlatformRules",
        "summary": "List enabled rule presets for all event types under a platform",
        "tags": [
          "Rules"
        ],
        "parameters": [
          {
            "name": "platformId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Platform ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of platform rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/states/{country}": {
      "get": {
        "operationId": "getStatesByCountry",
        "summary": "Get states by country code",
        "tags": [
          "Utility"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Country code (e.g., US, CA)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of states",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from /auth/login"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "OkResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        }
      },
      "DataResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "OkDataResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "remember_me": {
            "type": "boolean"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "customer_number": {
            "type": "string",
            "nullable": true
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "date_created": {
            "type": "string"
          },
          "opt_out": {
            "type": "boolean"
          }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          }
        }
      },
      "AddContactRequest": {
        "type": "object",
        "required": [
          "first_name",
          "phone"
        ],
        "properties": {
          "customer_number": {
            "type": "string",
            "maxLength": 255
          },
          "first_name": {
            "type": "string",
            "maxLength": 255
          },
          "last_name": {
            "type": "string",
            "maxLength": 255
          },
          "phone": {
            "type": "string",
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 255
          },
          "date_created": {
            "type": "string"
          },
          "opt_out": {
            "type": "boolean"
          }
        }
      },
      "TriggerExecutionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "broadcast_ids": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "CatalogResponse": {
        "type": "object",
        "properties": {
          "event_type_id": {
            "type": "string"
          },
          "sample_payload": {
            "type": "object"
          },
          "field_catalog": {
            "type": "object"
          },
          "version": {
            "type": "integer"
          }
        }
      },
      "CatalogUpdateResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "field_catalog": {
            "type": "object"
          }
        }
      },
      "FieldAliasRequest": {
        "type": "object",
        "required": [
          "key",
          "source",
          "type"
        ],
        "properties": {
          "key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 128
          },
          "source": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          },
          "type": {
            "type": "string",
            "minLength": 3,
            "maxLength": 32
          },
          "description": {
            "type": "string",
            "maxLength": 255
          },
          "old_key": {
            "type": "string",
            "minLength": 2,
            "maxLength": 128
          }
        }
      },
      "RulePresetRequest": {
        "type": "object",
        "required": [
          "description",
          "enabled",
          "rule",
          "payload"
        ],
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 255
          },
          "enabled": {
            "type": "boolean"
          },
          "rule": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "payload": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "snapshot": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "prev_snapshot": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "DryRunRequest": {
        "type": "object",
        "required": [
          "payload",
          "rule"
        ],
        "properties": {
          "payload": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "rule": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "snapshot": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "prev_snapshot": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "If omitted, build via EntityFingerprint"
          }
        }
      },
      "DryRunResponse": {
        "type": "object",
        "properties": {
          "pass": {
            "type": "boolean"
          },
          "context_keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Login, logout, and user details"
    },
    {
      "name": "Contacts",
      "description": "Contact management"
    },
    {
      "name": "Broadcasts",
      "description": "Trigger and message operations"
    },
    {
      "name": "Calls",
      "description": "Call record management"
    },
    {
      "name": "Event Types",
      "description": "Platform event type management"
    },
    {
      "name": "Rules",
      "description": "Rule preset management"
    },
    {
      "name": "Utility",
      "description": "Utility endpoints"
    }
  ]
}