{
  "openapi": "3.0.3",
  "servers": [
    {
      "description": "EPO API",
      "url": "https://devapi.eventplanon.com"
    }
  ],
  "info": {
    "description": "Event Planon API for managing events and contacts",
    "version": "1.0.0",
    "title": "EPO API"
  },
  "tags": [
    {
      "name": "Login",
      "description": "Authentication endpoints"
    },
    {
      "name": "Event",
      "description": "Event management"
    },
    {
      "name": "Contact",
      "description": "Contact management"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "NotFound": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIResult"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIResult"
            }
          }
        }
      },
      "MethodNotAllowed": {
        "description": "Method not allowed for the request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIResult"
            }
          }
        }
      },
      "PreconditionFailed": {
        "description": "Validation failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIResult"
            }
          }
        }
      },
      "ServerError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIResult"
            }
          }
        }
      }
    },
    "schemas": {
      "APIResult": {
        "type": "object",
        "required": [
          "ResponseCode",
          "Message",
          "Errors",
          "Result"
        ],
        "properties": {
          "ResponseCode": {
            "type": "integer",
            "example": 0,
            "description": "Response code will 0,1,2,3,4,5. 1 - Success, 2-Validation Failed, 3-Not Found, 4-Internal Server Error, 5-Unauthorized"
          },
          "Message": {
            "type": "string",
            "example": "Success",
            "description": "Success message for the action"
          },
          "Errors": {
            "type": "string",
            "example": "Category Name Cannot Empty",
            "description": "Default value is empty, will return string if any error/exception message"
          },
          "Result": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Authenticate": {
        "type": "object",
        "required": [
          "UserName",
          "Password"
        ],
        "properties": {
          "UserName": {
            "type": "string",
            "format": "string",
            "example": "manager234"
          },
          "Password": {
            "type": "string",
            "format": "string",
            "example": "manager@234"
          }
        }
      },
      "GetEvents": {
        "type": "object",
        "required": [
          "EventTypeUID",
          "TagUIDArray",
          "EventPeriod"
        ],
        "properties": {
          "EventTypeUID": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "TagUIDArray": {
            "type": "string",
            "format": "uuid",
            "example": ""
          },
          "EventPeriod": {
            "type": "integer",
            "format": "integer",
            "example": 0
          }
        }
      },
      "GetUserBasicDetails": {
        "type": "object",
        "required": [
          "USUID",
          "EUID",
          "PageNumber"
        ],
        "properties": {
          "USUID": {
            "type": "string",
            "format": "uuid",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "EUID": {
            "type": "string",
            "format": "uuid",
            "example": "61B44873-4187-4AFD-A306-7F6F1FD92A4F"
          },
          "PageNumber": {
            "type": "integer",
            "format": "integer",
            "example": 0
          }
        }
      }
    }
  },
  "paths": {
    "/api/login/Authenticate": {
      "post": {
        "tags": [
          "Login"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Account logged successfully",
        "description": "THIS METHODE USED FOR Check The User Authentication",
        "responses": {
          "200": {
            "description": "Account logged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Authenticate"
              }
            }
          },
          "description": "Account logged successfully"
        }
      }
    },
    "/api/Event/GetEvents": {
      "post": {
        "tags": [
          "Event"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get events",
        "description": "Get event successfully",
        "responses": {
          "200": {
            "description": "Get event successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEvents"
              }
            }
          },
          "description": "Get event successfully"
        }
      }
    },
    "/api/Setting/GetUserBasicDetails": {
      "post": {
        "tags": [
          "Contact"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get the user details",
        "description": "Get the user details",
        "responses": {
          "200": {
            "description": "Get the user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUserBasicDetails"
              }
            }
          },
          "description": "Get the user details"
        }
      }
    }
  }
}
