{
  "openapi": "3.0.3",
  "info": {
    "title": "SecurityTrails API",
    "description": "SecurityTrails API provides DNS, domain, IP, WHOIS, and subdomain intelligence data. Query current and historical DNS records, discover subdomains, search domains by various attributes, and access zone file data.",
    "version": "1.0.0",
    "contact": {
      "name": "SecurityTrails",
      "url": "https://securitytrails.com"
    }
  },
  "servers": [
    {
      "url": "https://api.securitytrails.com/v1",
      "description": "SecurityTrails API v1"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Ping",
        "description": "Test authentication and access to the SecurityTrails API.",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "Successful ping",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/account/usage": {
      "get": {
        "operationId": "getAccountUsage",
        "summary": "Get Account Usage",
        "description": "Check current API usage against the monthly allowance.",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "Usage information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_monthly_usage": {
                      "type": "integer"
                    },
                    "allowed_monthly_usage": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domain/{hostname}": {
      "get": {
        "operationId": "getDomainDetails",
        "summary": "Get Domain Details",
        "description": "Retrieve current DNS records and domain information.",
        "tags": [
          "Domain"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "description": "The domain hostname to query.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainDetails"
                }
              }
            }
          },
          "404": {
            "description": "Domain not found"
          }
        }
      }
    },
    "/domain/{hostname}/subdomains": {
      "get": {
        "operationId": "getSubdomains",
        "summary": "List Subdomains",
        "description": "List subdomains for a given hostname.",
        "tags": [
          "Domain"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "children_only",
            "in": "query",
            "description": "Only return children subdomains.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive subdomains.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subdomain list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subdomains": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "endpoint": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domain/{hostname}/tags": {
      "get": {
        "operationId": "getDomainTags",
        "summary": "Get Domain Tags",
        "description": "Retrieve tags associated with a domain.",
        "tags": [
          "Domain"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domain/{hostname}/associated": {
      "get": {
        "operationId": "getAssociatedDomains",
        "summary": "Get Associated Domains",
        "description": "Find all domains related to the input domain.",
        "tags": [
          "Domain"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Associated domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alexa_rank": {
                            "type": "integer",
                            "nullable": true
                          },
                          "hostname": {
                            "type": "string"
                          },
                          "mail_provider": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "whois": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "record_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domain/{hostname}/whois": {
      "get": {
        "operationId": "getDomainWhois",
        "summary": "Get Domain WHOIS",
        "description": "Retrieve current WHOIS information for a domain.",
        "tags": [
          "WHOIS"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "WHOIS data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoisRecord"
                }
              }
            }
          }
        }
      }
    },
    "/domain/{hostname}/ssl": {
      "get": {
        "operationId": "getDomainSSL",
        "summary": "Get Domain SSL Certificates",
        "description": "Fetch current and historical SSL certificate information for a domain.",
        "tags": [
          "Domain"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_subdomains",
            "in": "query",
            "description": "Include certificates for subdomains.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by certificate status.",
            "schema": {
              "type": "string",
              "enum": [
                "valid",
                "expired",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSL certificate data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SSLCertificate"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/history/{hostname}/dns/{type}": {
      "get": {
        "operationId": "getDnsHistory",
        "summary": "Get DNS History",
        "description": "Retrieve historical DNS records for a domain by record type.",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "DNS record type.",
            "schema": {
              "type": "string",
              "enum": [
                "a",
                "aaaa",
                "mx",
                "ns",
                "soa",
                "txt"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS history records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DnsHistoryRecord"
                      }
                    },
                    "record_count": {
                      "type": "integer"
                    },
                    "pages": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/history/{hostname}/whois": {
      "get": {
        "operationId": "getWhoisHistory",
        "summary": "Get WHOIS History",
        "description": "Retrieve historical WHOIS data for a domain.",
        "tags": [
          "History"
        ],
        "parameters": [
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "WHOIS history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/WhoisRecord"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/list": {
      "post": {
        "operationId": "searchDomains",
        "summary": "Search Domains",
        "description": "Filter and search domains using various criteria.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "include_ips",
            "in": "query",
            "description": "Include IP addresses in the response.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "description": "Filter criteria for domain search.",
                    "properties": {
                      "ipv4": {
                        "type": "string"
                      },
                      "ipv6": {
                        "type": "string"
                      },
                      "mx": {
                        "type": "string"
                      },
                      "ns": {
                        "type": "string"
                      },
                      "cname": {
                        "type": "string"
                      },
                      "subdomain": {
                        "type": "string"
                      },
                      "apex_domain": {
                        "type": "string"
                      },
                      "soa_email": {
                        "type": "string"
                      },
                      "tld": {
                        "type": "string"
                      },
                      "whois_email": {
                        "type": "string"
                      },
                      "whois_street1": {
                        "type": "string"
                      },
                      "whois_telephone": {
                        "type": "string"
                      },
                      "whois_postalCode": {
                        "type": "string"
                      },
                      "whois_organization": {
                        "type": "string"
                      },
                      "whois_name": {
                        "type": "string"
                      },
                      "whois_fax": {
                        "type": "string"
                      },
                      "whois_city": {
                        "type": "string"
                      },
                      "keyword": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "alexa_rank": {
                            "type": "integer",
                            "nullable": true
                          },
                          "hostname": {
                            "type": "string"
                          },
                          "host_provider": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "mail_provider": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "computed": {
                            "type": "object"
                          },
                          "whois": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "record_count": {
                      "type": "integer"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_pages": {
                          "type": "integer"
                        },
                        "query": {
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "max_page": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/stats": {
      "post": {
        "operationId": "getDomainSearchStats",
        "summary": "Domain Search Statistics",
        "description": "Get statistics for a domain search without returning actual results.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object"
                  },
                  "query": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain_count": {
                      "type": "integer"
                    },
                    "top_organizations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "count": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/list-backup": {
      "post": {
        "operationId": "searchDomainsDSL",
        "summary": "Search Domains (DSL)",
        "description": "Search domains using a DSL query language with scroll support.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "scroll",
            "in": "query",
            "description": "Enable scroll pagination.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "DSL query string."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "record_count": {
                      "type": "integer"
                    },
                    "scroll_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scroll/{scroll_id}": {
      "get": {
        "operationId": "scrollResults",
        "summary": "Scroll Through Results",
        "description": "Paginate through DSL search results using a scroll ID.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "scroll_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scrolled results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "record_count": {
                      "type": "integer"
                    },
                    "scroll_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ips/nearby/{ipaddress}": {
      "get": {
        "operationId": "getNearbyIPs",
        "summary": "Get Nearby IPs",
        "description": "Explore IP addresses in close proximity to the given IP.",
        "tags": [
          "IPs"
        ],
        "parameters": [
          {
            "name": "ipaddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby IPs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blocks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ip": {
                            "type": "string"
                          },
                          "hostname": {
                            "type": "string"
                          },
                          "sites": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ips/{ipaddress}/whois": {
      "get": {
        "operationId": "getIPWhois",
        "summary": "Get IP WHOIS",
        "description": "Retrieve WHOIS information for an IP address.",
        "tags": [
          "IPs"
        ],
        "parameters": [
          {
            "name": "ipaddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "IP WHOIS data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ips/{ipaddress}/useragents": {
      "get": {
        "operationId": "getIPUserAgents",
        "summary": "Get IP User Agents",
        "description": "Retrieve user agents observed for a given IP address.",
        "tags": [
          "IPs"
        ],
        "parameters": [
          {
            "name": "ipaddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User agents list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_agent": {
                            "type": "string"
                          },
                          "os": {
                            "type": "string"
                          },
                          "os_version": {
                            "type": "string"
                          },
                          "browser": {
                            "type": "string"
                          },
                          "browser_version": {
                            "type": "string"
                          },
                          "device_brand": {
                            "type": "string"
                          },
                          "device_model": {
                            "type": "string"
                          },
                          "device_type": {
                            "type": "string"
                          },
                          "last_seen_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ips/list": {
      "post": {
        "operationId": "searchIPs",
        "summary": "Search IPs",
        "description": "Search for IP addresses using a DSL query.",
        "tags": [
          "IPs"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "DSL query string for IP search."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IP search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "record_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ips/stats": {
      "post": {
        "operationId": "getIPSearchStats",
        "summary": "IP Search Statistics",
        "description": "Get statistics for an IP search.",
        "tags": [
          "IPs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IP search statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/feeds/domains/{type}": {
      "get": {
        "operationId": "getDomainFeeds",
        "summary": "Get Domain Feeds",
        "description": "Access zone file data for domains. Types: all, deleted, new, registered.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "deleted",
                "new",
                "registered"
              ]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tld",
            "in": "query",
            "description": "Filter by TLD.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ns",
            "in": "query",
            "description": "Filter by nameserver.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date for the feed (YYYY-MM-DD).",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain feed data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domains": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "type": {
                      "type": "string"
                    },
                    "meta": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/feeds/subdomains/{type}": {
      "get": {
        "operationId": "getSubdomainFeeds",
        "summary": "Get Subdomain Feeds",
        "description": "Access subdomain feed data. Types: all, new, deleted.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "new",
                "deleted"
              ]
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tld",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subdomain feed data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subdomains": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "APIKEY",
        "description": "SecurityTrails API key."
      }
    },
    "schemas": {
      "DomainDetails": {
        "type": "object",
        "properties": {
          "hostname": {
            "type": "string"
          },
          "alexa_rank": {
            "type": "integer",
            "nullable": true
          },
          "apex_domain": {
            "type": "string"
          },
          "current_dns": {
            "type": "object",
            "properties": {
              "a": {
                "$ref": "#/components/schemas/DnsRecordSet"
              },
              "aaaa": {
                "$ref": "#/components/schemas/DnsRecordSet"
              },
              "mx": {
                "$ref": "#/components/schemas/DnsRecordSet"
              },
              "ns": {
                "$ref": "#/components/schemas/DnsRecordSet"
              },
              "soa": {
                "$ref": "#/components/schemas/DnsRecordSet"
              },
              "txt": {
                "$ref": "#/components/schemas/DnsRecordSet"
              }
            }
          },
          "subdomain_count": {
            "type": "integer"
          },
          "endpoint": {
            "type": "string"
          }
        }
      },
      "DnsRecordSet": {
        "type": "object",
        "properties": {
          "first_seen": {
            "type": "string",
            "format": "date"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ip": {
                  "type": "string"
                },
                "ip_count": {
                  "type": "integer"
                },
                "ip_organization": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "DnsHistoryRecord": {
        "type": "object",
        "properties": {
          "first_seen": {
            "type": "string",
            "format": "date"
          },
          "last_seen": {
            "type": "string",
            "format": "date"
          },
          "organizations": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ip": {
                  "type": "string"
                },
                "ipv6": {
                  "type": "string"
                },
                "host": {
                  "type": "string"
                },
                "host_value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "WhoisRecord": {
        "type": "object",
        "properties": {
          "registrar_name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_date": {
            "type": "string"
          },
          "updated_date": {
            "type": "string"
          },
          "expires_date": {
            "type": "string"
          },
          "name_servers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "contacts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "organization": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "telephone": {
                  "type": "string"
                },
                "street1": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "postal_code": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "SSLCertificate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subject": {
            "type": "object",
            "properties": {
              "C": {
                "type": "string"
              },
              "CN": {
                "type": "string"
              },
              "L": {
                "type": "string"
              },
              "O": {
                "type": "string"
              },
              "OU": {
                "type": "string"
              },
              "ST": {
                "type": "string"
              },
              "aggregated": {
                "type": "string"
              }
            }
          },
          "issuer": {
            "type": "object",
            "properties": {
              "C": {
                "type": "string"
              },
              "CN": {
                "type": "string"
              },
              "O": {
                "type": "string"
              }
            }
          },
          "validity": {
            "type": "object",
            "properties": {
              "date_from": {
                "type": "string",
                "format": "date-time"
              },
              "date_to": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "alt_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Domain"
    },
    {
      "name": "Feeds"
    },
    {
      "name": "General"
    },
    {
      "name": "History"
    },
    {
      "name": "IPs"
    },
    {
      "name": "Search"
    },
    {
      "name": "WHOIS"
    }
  ]
}
