{
  "openapi": "3.0.3",
  "info": {
    "title": "Billsby API",
    "description": "Billsby is a subscription billing service for managing customers, subscriptions, invoices, products, plans, add-ons, allowances, and custom fields.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://support.billsby.com/reference"
  },
  "servers": [
    {
      "url": "https://public.billsby.com/api/v1/{companyDomain}",
      "description": "Billsby Public API",
      "variables": {
        "companyDomain": {
          "default": "your-company",
          "description": "Your Billsby company domain"
        }
      }
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "operationId": "listCustomers",
        "summary": "List Customers",
        "description": "Retrieves all customers from the system.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCustomerWithoutSubscription",
        "summary": "Create Customer Without Subscription",
        "description": "Adds a customer without an active subscription.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Get Customer Details",
        "description": "Fetches specific customer information.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found"
          }
        }
      },
      "put": {
        "operationId": "updateCustomer",
        "summary": "Update Customer",
        "description": "Modifies customer data.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Delete Customer",
        "description": "Permanently removes a customer record.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      }
    },
    "/customers/{customerId}/subscriptions": {
      "get": {
        "operationId": "getCustomerSubscriptions",
        "summary": "Get Customer Subscriptions",
        "description": "Lists all subscriptions for a particular customer.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscription"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/featuretags": {
      "get": {
        "operationId": "getCustomerFeatureTags",
        "summary": "Get Customer Feature Tags",
        "description": "Retrieves feature tags assigned to a customer.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeatureTag"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/paymentlogs": {
      "get": {
        "operationId": "getCustomerPaymentLogs",
        "summary": "Get Customer Payment Logs",
        "description": "Accesses transaction history for a customer.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentLog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/paymentdetails/request": {
      "get": {
        "operationId": "requestUpdatePaymentDetails",
        "summary": "Request to Update Payment Details",
        "description": "Initiates payment method update process for a customer.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Update request sent"
          }
        }
      }
    },
    "/customers/{customerId}/paymentdetails/cardtoken": {
      "put": {
        "operationId": "updatePaymentCardToken",
        "summary": "Update Payment Card Token",
        "description": "Modifies stored payment information.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card token updated"
          }
        }
      }
    },
    "/customers/{customerId}/charge": {
      "post": {
        "operationId": "createOneTimeCharge",
        "summary": "Create a One-Time Charge",
        "description": "Processes a single, non-recurring payment for a customer.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OneTimeChargeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge processed"
          }
        }
      }
    },
    "/customers/{customerId}/gdpr": {
      "put": {
        "operationId": "clearCustomerDataGDPR",
        "summary": "Clear Customer Data (GDPR)",
        "description": "Removes personal information per GDPR regulations.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer data cleared"
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "operationId": "listSubscriptions",
        "summary": "List Subscriptions",
        "description": "Shows all active subscriptions.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscription"
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCustomerAndSubscription",
        "summary": "Create New Customer and Subscription",
        "description": "Onboards a customer with an active subscription plan.",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer and subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "get": {
        "operationId": "getSubscription",
        "summary": "Get Subscription Details",
        "description": "Retrieves individual subscription data.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelSubscription",
        "summary": "Cancel a Subscription",
        "description": "Terminates an active subscription.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription cancelled"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/shippingaddress": {
      "get": {
        "operationId": "getShippingAddress",
        "summary": "Get Shipping Address",
        "description": "Gets delivery location information for a subscription.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Shipping address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShippingAddress"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateShippingAddress",
        "summary": "Update Subscription Shipping Address",
        "description": "Modifies delivery location for a subscription.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShippingAddress"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shipping address updated"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/featuretags": {
      "get": {
        "operationId": "getSubscriptionFeatureTags",
        "summary": "Get Feature Tags by Subscription",
        "description": "Lists features enabled for a subscription.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeatureTag"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addFeatureTags",
        "summary": "Add Feature Tags",
        "description": "Enables additional features for a subscription.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "featureTags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feature tags added"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/featuretags/{featureTagId}": {
      "delete": {
        "operationId": "deleteFeatureTag",
        "summary": "Delete Feature Tag",
        "description": "Removes feature access from a subscription.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          },
          {
            "name": "featureTagId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feature tag removed"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/featuretagsbyplan": {
      "get": {
        "operationId": "getFeatureTagsByPlan",
        "summary": "Get Feature Tags by Plan and Custom Tags",
        "description": "Shows plan-based and custom feature tags for a subscription.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature tags by plan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeatureTag"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/eventlogs": {
      "get": {
        "operationId": "getEventLogs",
        "summary": "Get Event Logs",
        "description": "Accesses subscription activity history.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Event logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventLog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/addsubscription": {
      "post": {
        "operationId": "addSubscriptionToCustomer",
        "summary": "Add Subscription to Existing Customer",
        "description": "Attaches a new plan to an existing customer.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/changeplan": {
      "put": {
        "operationId": "changePlan",
        "summary": "Change Plan",
        "description": "Switches subscription to a different tier.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan changed"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/renewaldate": {
      "put": {
        "operationId": "updateRenewalDate",
        "summary": "Update Next Renewal Date",
        "description": "Adjusts billing cycle timing for a subscription.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nextRenewalDate": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Renewal date updated"
          }
        }
      }
    },
    "/invoices/{invoiceId}": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Get Individual Invoice",
        "description": "Retrieves specific invoice details.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "operationId": "listCompanyInvoices",
        "summary": "List Company Invoices",
        "description": "Accesses all invoices issued by the company.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/invoices": {
      "get": {
        "operationId": "getCustomerInvoices",
        "summary": "Get Customer Invoices",
        "description": "Shows invoices for a particular customer.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoiceId}/refund": {
      "post": {
        "operationId": "refundInvoice",
        "summary": "Refund an Invoice",
        "description": "Processes a refund for an issued invoice.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice refunded"
          }
        }
      }
    },
    "/invoices/{invoiceId}/reattempt": {
      "put": {
        "operationId": "reattemptInvoicePayment",
        "summary": "Reattempt Invoice Payment",
        "description": "Retries failed payment collection for an invoice.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment reattempted"
          }
        }
      }
    },
    "/invoices/{invoiceId}/paidoffline": {
      "put": {
        "operationId": "markInvoicePaidOffline",
        "summary": "Invoice Paid Offline",
        "description": "Records manual payment received for an invoice.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice marked as paid offline"
          }
        }
      }
    },
    "/invoices/{invoiceId}/writeoff": {
      "put": {
        "operationId": "writeOffInvoice",
        "summary": "Write Off Invoice",
        "description": "Marks an invoice as uncollectable.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/InvoiceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice written off"
          }
        }
      }
    },
    "/creditnotes": {
      "get": {
        "operationId": "listCompanyCreditNotes",
        "summary": "List Company Credit Notes",
        "description": "Lists all credit memos issued by the company.",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "Credit notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CreditNote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}/creditnotes": {
      "get": {
        "operationId": "getCustomerCreditNotes",
        "summary": "Get Customer Credit Notes",
        "description": "Shows credits for a specific customer.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer credit notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CreditNote"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/creditnotes/{creditNoteId}/reattempt": {
      "put": {
        "operationId": "reattemptCreditNotePayment",
        "summary": "Reattempt Credit Note Payment",
        "description": "Retries failed credit application.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credit note payment reattempted"
          }
        }
      }
    },
    "/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List Products",
        "description": "Shows all available products.",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create a Product",
        "description": "Adds a new product offering.",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get Product Details",
        "description": "Fetches specific product information.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProduct",
        "summary": "Update a Product",
        "description": "Modifies product specifications.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated"
          }
        }
      }
    },
    "/products/{productId}/plans": {
      "get": {
        "operationId": "listPlans",
        "summary": "List Plans",
        "description": "Displays all subscription tiers for a product.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plan"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPlan",
        "summary": "Create a Plan",
        "description": "Establishes a new subscription tier.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Plan created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/plans/{planId}": {
      "put": {
        "operationId": "updatePlan",
        "summary": "Update a Plan and Cycle",
        "description": "Changes tier or billing settings.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductId"
          },
          {
            "$ref": "#/components/parameters/PlanId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan updated"
          }
        }
      }
    },
    "/products/{productId}/plans/{planId}/cycles": {
      "post": {
        "operationId": "createCycle",
        "summary": "Create a Cycle",
        "description": "Sets up a billing period configuration for a plan.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductId"
          },
          {
            "$ref": "#/components/parameters/PlanId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCycleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cycle created"
          }
        }
      }
    },
    "/products/{productId}/plans/order": {
      "put": {
        "operationId": "updatePlanOrder",
        "summary": "Update Plan Order",
        "description": "Adjusts plan display sequence.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planIds": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Ordered list of plan IDs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan order updated"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/counter": {
      "get": {
        "operationId": "getCounterValue",
        "summary": "Get Counter Value",
        "description": "Retrieves usage tracking data for a subscription.",
        "tags": [
          "AddOns"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Counter value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Counter"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateCounter",
        "summary": "Update Counter",
        "description": "Modifies usage metrics for a subscription.",
        "tags": [
          "AddOns"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCounterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Counter updated"
          }
        }
      }
    },
    "/addons": {
      "get": {
        "operationId": "listAddOns",
        "summary": "List Add-Ons",
        "description": "Shows optional features available.",
        "tags": [
          "AddOns"
        ],
        "responses": {
          "200": {
            "description": "List of add-ons",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOn"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addons/{addonId}": {
      "get": {
        "operationId": "getAddOn",
        "summary": "Get Add-On Details",
        "description": "Fetches specific add-on information.",
        "tags": [
          "AddOns"
        ],
        "parameters": [
          {
            "name": "addonId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Add-on details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddOn"
                }
              }
            }
          }
        }
      }
    },
    "/allowances": {
      "get": {
        "operationId": "listAllowances",
        "summary": "List Allowances",
        "description": "Lists usage limits available.",
        "tags": [
          "AddOns"
        ],
        "responses": {
          "200": {
            "description": "List of allowances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Allowance"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allowances/{allowanceId}": {
      "get": {
        "operationId": "getAllowance",
        "summary": "Get Allowance Details",
        "description": "Retrieves specific allowance data.",
        "tags": [
          "AddOns"
        ],
        "parameters": [
          {
            "name": "allowanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Allowance details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Allowance"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/addons": {
      "get": {
        "operationId": "getSubscriptionAddOns",
        "summary": "Get Add-Ons for Subscription",
        "description": "Shows add-ons for a specific subscription.",
        "tags": [
          "AddOns"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription add-ons",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddOn"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/allowances": {
      "get": {
        "operationId": "getSubscriptionAllowances",
        "summary": "Get Allowances for Subscription",
        "description": "Lists limits for a specific subscription.",
        "tags": [
          "AddOns"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription allowances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Allowance"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customfields": {
      "get": {
        "operationId": "listCustomFields",
        "summary": "List Custom Fields",
        "description": "Retrieves all custom field definitions.",
        "tags": [
          "CustomFields"
        ],
        "responses": {
          "200": {
            "description": "Custom fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCustomField",
        "summary": "Create Custom Field",
        "description": "Adds a new custom field definition.",
        "tags": [
          "CustomFields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomFieldRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom field created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          }
        }
      }
    },
    "/customfields/{customFieldId}": {
      "put": {
        "operationId": "updateCustomField",
        "summary": "Update Custom Field",
        "description": "Modifies custom field settings.",
        "tags": [
          "CustomFields"
        ],
        "parameters": [
          {
            "name": "customFieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomFieldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field updated"
          }
        }
      }
    },
    "/customers/{customerId}/customfields": {
      "get": {
        "operationId": "getCustomerCustomFieldResponses",
        "summary": "Get Custom Fields Response",
        "description": "Gets customer responses to custom fields.",
        "tags": [
          "CustomFields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom field responses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateCustomerCustomFieldResponses",
        "summary": "Update Customer Custom Field Responses",
        "description": "Modifies customer field data.",
        "tags": [
          "CustomFields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomFieldResponse"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom field responses updated"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "apikey",
        "in": "header",
        "description": "API key from Settings > Configuration > API keys and webhooks"
      }
    },
    "parameters": {
      "CustomerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Customer unique identifier"
      },
      "SubscriptionId": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Subscription unique identifier"
      },
      "InvoiceId": {
        "name": "invoiceId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Invoice unique identifier"
      },
      "ProductId": {
        "name": "productId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Product unique identifier"
      },
      "PlanId": {
        "name": "planId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Plan unique identifier"
      }
    },
    "schemas": {
      "Customer": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "companyName": {
            "type": "string"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateCustomerRequest": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "email"
        ],
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "companyName": {
            "type": "string"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "UpdateCustomerRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "companyName": {
            "type": "string"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string"
          },
          "addressLine2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          }
        }
      },
      "ShippingAddress": {
        "type": "object",
        "properties": {
          "addressLine1": {
            "type": "string"
          },
          "addressLine2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "planId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "nextRenewalDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateSubscriptionRequest": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "email",
          "planId",
          "cycleId"
        ],
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "planId": {
            "type": "integer"
          },
          "cycleId": {
            "type": "integer"
          }
        }
      },
      "AddSubscriptionRequest": {
        "type": "object",
        "required": [
          "planId",
          "cycleId"
        ],
        "properties": {
          "planId": {
            "type": "integer"
          },
          "cycleId": {
            "type": "integer"
          }
        }
      },
      "ChangePlanRequest": {
        "type": "object",
        "required": [
          "planId",
          "cycleId"
        ],
        "properties": {
          "planId": {
            "type": "integer"
          },
          "cycleId": {
            "type": "integer"
          }
        }
      },
      "UpdateCardTokenRequest": {
        "type": "object",
        "required": [
          "cardToken"
        ],
        "properties": {
          "cardToken": {
            "type": "string"
          }
        }
      },
      "OneTimeChargeRequest": {
        "type": "object",
        "required": [
          "amount",
          "description"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "FeatureTag": {
        "type": "object",
        "properties": {
          "featureTagId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isCustom": {
            "type": "boolean"
          }
        }
      },
      "EventLog": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "eventType": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "details": {
            "type": "object"
          }
        }
      },
      "PaymentLog": {
        "type": "object",
        "properties": {
          "paymentLogId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "invoiceId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "subscriptionId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreditNote": {
        "type": "object",
        "properties": {
          "creditNoteId": {
            "type": "string"
          },
          "customerId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "isVisible": {
            "type": "boolean"
          }
        }
      },
      "CreateProductRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "isVisible": {
            "type": "boolean"
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "planId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          }
        }
      },
      "CreatePlanRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "CreateCycleRequest": {
        "type": "object",
        "required": [
          "billingInterval",
          "price"
        ],
        "properties": {
          "billingInterval": {
            "type": "string",
            "description": "e.g. monthly, yearly"
          },
          "price": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "Counter": {
        "type": "object",
        "properties": {
          "counterId": {
            "type": "string"
          },
          "value": {
            "type": "number"
          }
        }
      },
      "UpdateCounterRequest": {
        "type": "object",
        "required": [
          "value"
        ],
        "properties": {
          "value": {
            "type": "number"
          }
        }
      },
      "AddOn": {
        "type": "object",
        "properties": {
          "addonId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          }
        }
      },
      "Allowance": {
        "type": "object",
        "properties": {
          "allowanceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "limit": {
            "type": "number"
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "customFieldId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateCustomFieldRequest": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CustomFieldResponse": {
        "type": "object",
        "properties": {
          "customFieldId": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Customers",
      "description": "Customer management"
    },
    {
      "name": "Subscriptions",
      "description": "Subscription management"
    },
    {
      "name": "Invoices",
      "description": "Invoice and credit note operations"
    },
    {
      "name": "Products",
      "description": "Product and plan management"
    },
    {
      "name": "AddOns",
      "description": "Add-on and allowance management"
    },
    {
      "name": "CustomFields",
      "description": "Custom field operations"
    }
  ]
}