{
  "openapi": "3.0.0",
  "info": {
    "description": "This is a synchronous API that is aimed to extract key data from receipts. Extraction time can vary from 1 second to 5 seconds. If you have any questions or if you need to get access_token, please click \u201cContact the developer\u201d link underneath.\n",
    "version": "1.0.1",
    "title": "Bluesheets receipts AI API",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Bluesheets/BluesheetsAI/1.0.1/swagger.json",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.bluesheets.io/backend/api",
      "description": "Bluesheets production server"
    }
  ],
  "tags": [
    {
      "name": "documents"
    }
  ],
  "paths": {
    "/documents/extractSync": {
      "post": {
        "summary": "sending files to recognition",
        "description": "You can submit file to extraction using this endpoint. This endpoint is an synchronous, therefore you will receive recognized document right in the response. <br> After processing the request, it creates the document and saved it to your organization right in the archive <br> Supported file formats: jpg, png, tif, pdf\n",
        "tags": [
          "documents"
        ],
        "responses": {
          "200": {
            "description": "Extracted fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestResult"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "image/jpeg": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              }
            },
            "image/png": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              }
            },
            "image/tiff": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              }
            },
            "application/pdf": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              }
            }
          },
          "description": "Document fo extract\n"
        },
        "operationId": "post-documents-extractsync"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "access_token"
      }
    },
    "schemas": {
      "ExtractRequest": {
        "type": "string",
        "format": "binary"
      },
      "RequestResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              }
            }
          },
          "data": {
            "type": "object",
            "properties": {
              "date": {
                "$ref": "#/components/schemas/TypeDate"
              },
              "total": {
                "$ref": "#/components/schemas/TypeDecimal"
              }
            }
          }
        }
      },
      "TypeDate": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "TypeDecimal": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
