{
  "openapi": "3.0.0",
  "info": {
    "title": "DevCycle Management API",
    "description": "An API for managing features and variables on the DevCycle platform.\n        \nAn authorization token can be obtained by making a OAuth request to our token endpoint using the client id and secret from [the DevCycle dashboard](https://app.devcycle.com/r/settings)\n\nExample using curl:\n        \n    curl --request POST \\\n      --url \"https://auth.devcycle.com/oauth/token\" \\\n      --header 'content-type: application/x-www-form-urlencoded' \\\n      --data grant_type=client_credentials \\\n      --data audience=https://api.devcycle.com/ \\\n      --data client_id=<client id> \\\n      --data client_secret=<client secret>\n      \nFor Enterprise customers with [strict roles and permissions enabled](https://docs.devcycle.com/platform/security-and-guardrails/permissions#full-role-based-access-control-project-level-roles--enterprise-only)\nusing the API requires a different request to get the access token.\n\nExample using curl:\n\n    curl --request POST \\\n      --url 'https://auth.devcycle.com/oauth/token' \\\n      --header 'content-type: application/x-www-form-urlencoded' \\\n      --data grant_type=refresh_token \\\n      --data 'client_id=<client id>' \\\n      --data 'refresh_token={yourRefreshToken}'\n        \n",
    "version": "1.0.0",
    "contact": {},
    "x-jentic-source-url": "https://docs.devcycle.com/management-api/"
  },
  "servers": [
    {
      "url": "https://api.devcycle.com"
    }
  ],
  "paths": {
    "/v1/projects": {
      "post": {
        "operationId": "createProject",
        "summary": "Create project in the current organization",
        "description": "Creates a new project within the authed organization.\nThe project key must be unique within the organization.\nIf this is called in an Organization that has permissions controlled via an external IdP (https://docs.devcycle.com/platform/security-and-guardrails/permissions#full-role-based-access-control-project-level-roles--enterprise-only) - then no users will have permission to access this project.",
        "tags": [
          "Projects"
        ],
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The project has been successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - missing or invalid properties",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": ""
          },
          "409": {
            "description": "Project key already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listProjects",
        "summary": "List Projects that the current API Token has permission to view",
        "description": "Lists all projects that the current API Token has permission to view.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "perPage",
            "required": false,
            "in": "query",
            "schema": {
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "type": "number"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "schema": {
              "default": "createdAt",
              "enum": [
                "createdAt",
                "updatedAt",
                "name",
                "key",
                "propertyKey"
              ],
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "required": false,
            "in": "query",
            "schema": {
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "schema": {
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "createdBy",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - missing or invalid properties",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{key}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a Project",
        "description": "Get a Project by ID or key.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "Project does not exist by key or ID. Keys are able to be changed so try switching to ID to have a consistent value that cannot be changed.This can also be returned if the current token does not have permission to view the project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Update a Project",
        "description": "Update a Project by ID or key. Certain facets of the project settings require additional permissions to update.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a Project",
        "description": "Delete a Project by ID or key",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project deleted successfully"
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "Project not found.This can also be returned if the current token does not have permission to view the project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "Cannot delete the last project in an organization. Please contact support to delete the organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CannotDeleteLastItemErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Projects"
        ]
      }
    },
    "/v1/projects/{key}/settings": {
      "patch": {
        "operationId": "updateSettingsProjects",
        "summary": "Update Publisher Restricted Settings for a Project",
        "description": "Update a subset of settings for a Project that only requires publisher permissions",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectSettingsDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Projects"
        ]
      }
    },
    "/v1/projects/{key}/settings/protected": {
      "patch": {
        "operationId": "updateProtectedSettingsProjects",
        "summary": "Update Protected Settings for a Project",
        "description": "Update the Protect Settings for a Project by ID or key",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProtectedProjectSettingsDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Projects"
        ]
      }
    },
    "/v1/projects/{key}/staleness": {
      "get": {
        "operationId": "getStalenessProjects",
        "summary": "Get all stale Features for a Project",
        "description": "Get all stale Features for a Project",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "perPage",
            "required": false,
            "in": "query",
            "schema": {
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "type": "number"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "schema": {
              "default": "createdAt",
              "enum": [
                "createdAt",
                "updatedAt",
                "name",
                "key",
                "propertyKey"
              ],
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "required": false,
            "in": "query",
            "schema": {
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "schema": {
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "createdBy",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeSilenced",
            "required": false,
            "in": "query",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeatureStalenessEntity"
                  }
                }
              }
            }
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "Project not found. This can also be returned if the current token does not have permission to view the project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Projects"
        ]
      }
    },
    "/v1/integrations/jira/{token}": {
      "delete": {
        "operationId": "deleteJiraIntegration",
        "summary": "[Deprecated] Remove Jira Integration Configuration",
        "description": "DEPRECATED - Not recommended to be used. Use /integrations/jira/organization/:token or /integrations/jira/project/:token instead.",
        "parameters": [
          {
            "name": "token",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "Integrations: Jira"
        ]
      }
    },
    "/v1/integrations/jira/organization/{token}": {
      "delete": {
        "operationId": "removeOrganizationConnectionJiraIntegration",
        "summary": "Remove Jira Organization Integration Configuration",
        "description": "Remove the Jira integration configuration for an organization. This will remove the integration for an organization wide connection, but not project connections.",
        "parameters": [
          {
            "name": "token",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Integrations: Jira"
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "403": {
            "description": ""
          }
        }
      }
    },
    "/v1/integrations/jira/project/{token}": {
      "delete": {
        "operationId": "removeProjectConnectionJiraIntegration",
        "summary": "Remove Jira Project Integration Configuration",
        "description": "Remove a specific project",
        "parameters": [
          {
            "name": "token",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Integrations: Jira"
        ],
        "responses": {
          "200": {
            "description": "Connection removed successfully"
          },
          "403": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{project}/environments": {
      "post": {
        "operationId": "createEnvironment",
        "summary": "Create Environment",
        "description": "Create a new environment for a project. The environment key must be unique within the project. Multiple environments can share a type.\nCreating an environment will auto-generate a set of SDK Keys for the various types of SDKs.\nWhen permissions are enabled for the organization, the token must have Publisher permissions for the environment to be created.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEnvironmentDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listEnvironments",
        "summary": "List Environments",
        "description": "List all environments for a project. If a token does not have permission to view protected environments the environments will be filtered to only show non-protected environments SDK Keys for security.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "perPage",
            "required": false,
            "in": "query",
            "schema": {
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "type": "number"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "schema": {
              "default": "createdAt",
              "enum": [
                "createdAt",
                "updatedAt",
                "name",
                "key",
                "propertyKey"
              ],
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "required": false,
            "in": "query",
            "schema": {
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "schema": {
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "createdBy",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Environment"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/v1/projects/{project}/environments/{key}": {
      "get": {
        "operationId": "getEnvironment",
        "summary": "Get an Environment",
        "description": "Returns the environment; if the token does not have permission to view protected environments, the environment will be filtered to only show non-protected SDK Keys for security.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Environment key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateEnvironment",
        "summary": "Update an Environment",
        "description": "Update an environment by ID or key. The environment key (if edited) must be unique within the project. If permissions are enabled, changing a protected environment type requires Publisher permissions",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Environment key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnvironmentDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": "Environment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Environment key already exists, cannot rename an environment to an existing one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteEnvironment",
        "summary": "Delete an Environment",
        "description": "Delete an Environment by ID or key",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Environment key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CannotDeleteLastItemErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/environments/{environment}/sdk-keys": {
      "post": {
        "operationId": "generateSdkKeys",
        "summary": "Generate SDK Keys",
        "description": "Generate new SDK keys for an environment, for any or all of the SDK types. This is the expected and recommended way to rotate SDK keys. Adding a new SDK key will not invalidate existing SDK keys.\nGenerating new keys is restricted for protected environments to those with Publisher permissions",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "environment",
            "required": true,
            "in": "path",
            "description": "An Environment key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateSdkTokensDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/environments/{environment}/sdk-keys/{key}": {
      "delete": {
        "operationId": "invalidateSdkKeys",
        "summary": "Invalidate an SDK key",
        "description": "This will invalidate all configs associated with a given key. This is an instantaneous change and all SDKs using this key will stop working immediately. This is the expected and recommended way to rotate SDK keys.",
        "tags": [
          "Environments"
        ],
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "An SDK key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "required": true,
            "in": "path",
            "description": "An Environment key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "405": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CannotDeleteLastItemErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project}/audiences": {
      "post": {
        "operationId": "createAudience",
        "summary": "Create Audience",
        "description": "Create a new Audience",
        "parameters": [
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAudienceDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Audiences"
        ]
      },
      "get": {
        "operationId": "listAudiences",
        "summary": "List Audiences",
        "description": "List Audiences",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "perPage",
            "required": false,
            "in": "query",
            "schema": {
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "type": "number"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "schema": {
              "default": "createdAt",
              "enum": [
                "createdAt",
                "updatedAt",
                "name",
                "key",
                "propertyKey"
              ],
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "required": false,
            "in": "query",
            "schema": {
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "schema": {
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "createdBy",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeUsage",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Audience"
                  }
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "tags": [
          "Audiences"
        ]
      }
    },
    "/v1/projects/{project}/audiences/{key}": {
      "get": {
        "operationId": "getAudience",
        "summary": "Get an Audience",
        "description": "Get an Audience by ID or key",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Audience key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Audiences"
        ]
      },
      "patch": {
        "operationId": "updateAudience",
        "summary": "Update an Audience",
        "description": "Update an Audience by ID or key",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Audience key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAudienceDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audience"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Audiences"
        ]
      },
      "delete": {
        "operationId": "deleteAudience",
        "summary": "Delete an Audience",
        "description": "Delete an Audience by ID or key",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Audience key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": ""
          }
        },
        "tags": [
          "Audiences"
        ]
      }
    },
    "/v1/projects/{project}/audiences/{key}/usage": {
      "get": {
        "operationId": "findUsagesAudiences",
        "summary": "Get all direct usages of an Audience",
        "description": "Get the direct usages of an Audiences Usage by Features OR other Audiences by ID or key",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Audience key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceUsage"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Audiences"
        ]
      }
    },
    "/v1/projects/{project}/variables": {
      "post": {
        "operationId": "createVariable",
        "summary": "Create a Variable",
        "parameters": [
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVariableDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variable"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Variables"
        ]
      },
      "get": {
        "operationId": "listVariables",
        "summary": "List Variables",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "perPage",
            "required": false,
            "in": "query",
            "schema": {
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "type": "number"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "schema": {
              "default": "createdAt",
              "enum": [
                "createdAt",
                "updatedAt",
                "name",
                "key",
                "propertyKey"
              ],
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "required": false,
            "in": "query",
            "schema": {
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "schema": {
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "feature",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "schema": {
              "enum": [
                "String",
                "Boolean",
                "Number",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "name": "status",
            "required": false,
            "in": "query",
            "schema": {
              "enum": [
                "active",
                "archived"
              ],
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Variable"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "tags": [
          "Variables"
        ]
      }
    },
    "/v1/projects/{project}/variables/{key}": {
      "get": {
        "operationId": "getVariable",
        "summary": "Get a Variable",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Variable key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variable"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Variables"
        ]
      },
      "patch": {
        "operationId": "updateVariable",
        "summary": "Update a Variable",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Variable key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVariableDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variable"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Variables"
        ]
      },
      "delete": {
        "operationId": "deleteVariable",
        "summary": "Delete a Variable",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Variable key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Variables"
        ]
      }
    },
    "/v1/projects/{project}/variables/{key}/status": {
      "patch": {
        "operationId": "updateStatusVariables",
        "summary": "Update a Variable status to archived or active",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Variable key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVariableStatusDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variable"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Variables"
        ]
      }
    },
    "/v1/projects/{project}/features": {
      "post": {
        "operationId": "createFeatureV1",
        "summary": "Create Feature",
        "description": "Create a new Feature",
        "parameters": [
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFeatureDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feature"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "[Deprecated] Features v1"
        ]
      },
      "get": {
        "operationId": "listFeaturesV1",
        "summary": "List Features",
        "description": "List Features",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "schema": {
              "minimum": 1,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "perPage",
            "required": false,
            "in": "query",
            "schema": {
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "type": "number"
            }
          },
          {
            "name": "sortBy",
            "required": false,
            "in": "query",
            "schema": {
              "default": "createdAt",
              "enum": [
                "createdAt",
                "updatedAt",
                "name",
                "key",
                "propertyKey"
              ],
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "required": false,
            "in": "query",
            "schema": {
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "schema": {
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "createdBy",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "schema": {
              "enum": [
                "release",
                "experiment",
                "permission",
                "ops"
              ],
              "type": "string"
            }
          },
          {
            "name": "status",
            "required": false,
            "in": "query",
            "schema": {
              "enum": [
                "active",
                "complete",
                "archived"
              ],
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Feature"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "tags": [
          "[Deprecated] Features v1"
        ]
      }
    },
    "/v1/projects/{project}/features/multiple": {
      "post": {
        "operationId": "createMultipleFeaturesV1",
        "summary": "Create Multiple Features with a single request",
        "description": "Create multiple new Features",
        "parameters": [
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Feature"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "[Deprecated] Features v1"
        ]
      }
    },
    "/v1/projects/{project}/features/{feature}": {
      "get": {
        "operationId": "getFeatureV1",
        "summary": "Get a Feature",
        "description": "Get a Feature by ID or key",
        "parameters": [
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feature"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "[Deprecated] Features v1"
        ]
      },
      "patch": {
        "operationId": "updateFeatureV1",
        "summary": "Update a Feature",
        "description": "Update a Feature by ID or key",
        "parameters": [
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFeatureDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feature"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "[Deprecated] Features v1"
        ]
      },
      "delete": {
        "operationId": "deleteFeatureV1",
        "summary": "Delete a Feature",
        "description": "Delete a Feature by ID or key",
        "parameters": [
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleteVariables",
            "required": false,
            "in": "query",
            "description": "Controls whether the feature's associated variables should also be deleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "[Deprecated] Features v1"
        ]
      }
    },
    "/v1/projects/{project}/features/{feature}/status": {
      "patch": {
        "operationId": "updateStatusFeaturesV1",
        "summary": "Update a Feature's status",
        "description": "Update a Feature's status by key",
        "parameters": [
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFeatureStatusDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feature"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "[Deprecated] Features v1"
        ]
      }
    },
    "/v1/projects/{project}/features/{feature}/static-configuration": {
      "get": {
        "operationId": "findStaticConfigurationFeaturesV1",
        "summary": "Get a Feature's Static Configuration",
        "description": "Get a completed Feature's static configuration",
        "parameters": [
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaticConfiguration"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "412": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "[Deprecated] Features v1"
        ]
      },
      "patch": {
        "operationId": "updateStaticConfigurationFeaturesV1",
        "summary": "Update a Feature's Static Configuration",
        "description": "Update a completed Feature's static configuration",
        "parameters": [
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStaticConfigurationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaticConfiguration"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "412": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "[Deprecated] Features v1"
        ]
      }
    },
    "/v1/projects/{project}/features/{feature}/integrations/jira/issues": {
      "post": {
        "operationId": "linkIssueFeaturesV1",
        "summary": "Link feature to Jira issue",
        "parameters": [
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkJiraIssueDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JiraIssueLink"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "[Deprecated] Features v1"
        ]
      },
      "get": {
        "operationId": "findAllLinkedIssuesFeaturesV1",
        "summary": "List linked Jira Issues",
        "parameters": [
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JiraIssueLink"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "tags": [
          "[Deprecated] Features v1"
        ]
      }
    },
    "/v1/projects/{project}/features/{feature}/integrations/jira/issues/{issue_id}": {
      "delete": {
        "operationId": "removeLinkedIssueFeaturesV1",
        "summary": "Unlink feature from Jira issue",
        "parameters": [
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issue_id",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "[Deprecated] Features v1"
        ]
      }
    },
    "/v1/projects/{project}/features/{feature}/variations": {
      "post": {
        "operationId": "createVariation",
        "summary": "Create a Feature Variation",
        "description": "Create a new variation within a Feature",
        "parameters": [
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureVariationDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feature"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Variations"
        ]
      },
      "get": {
        "operationId": "listVariations",
        "summary": "List Feature Variations",
        "description": "Get a list of variations for a feature",
        "parameters": [
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Variation"
                  }
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "tags": [
          "Variations"
        ]
      }
    },
    "/v1/projects/{project}/features/{feature}/variations/{key}": {
      "get": {
        "operationId": "getVariation",
        "summary": "Get a Feature Variation",
        "description": "Get a variation by ID or key",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Variation key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Variation"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Variations"
        ]
      },
      "patch": {
        "operationId": "updateVariation",
        "summary": "Update a Feature Variation",
        "description": "Update a variation by ID or key",
        "parameters": [
          {
            "name": "key",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFeatureVariationDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Feature"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Variations"
        ]
      }
    },
    "/v1/projects/{project}/features/{feature}/configurations": {
      "get": {
        "operationId": "listFeatureConfigs",
        "summary": "List Feature configurations",
        "description": "List Feature configurations for all environments or by environment key or ID",
        "parameters": [
          {
            "name": "environment",
            "required": false,
            "in": "query",
            "description": "A Environment key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeatureConfig"
                  }
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "tags": [
          "Feature Configurations"
        ]
      },
      "patch": {
        "operationId": "updateFeatureConfig",
        "summary": "Update a Feature configuration",
        "description": "Update a Feature configuration by environment key or ID",
        "parameters": [
          {
            "name": "environment",
            "required": true,
            "in": "query",
            "description": "A Environment key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFeatureConfigDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureConfig"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Feature Configurations"
        ]
      }
    },
    "/v1/projects/{project}/features/{feature}/results/total-evaluations": {
      "get": {
        "operationId": "getTotalEvaluationsPerHourByFeatureResults",
        "summary": "Feature Variable Evaluations (total)",
        "description": "Fetch total variable evaluations per hour for a feature",
        "parameters": [
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "platform",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variable",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "required": false,
            "in": "query",
            "description": "A Environment key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "required": false,
            "in": "query",
            "schema": {
              "enum": [
                "day",
                "hour",
                "month"
              ],
              "type": "string"
            }
          },
          {
            "name": "sdkType",
            "required": false,
            "in": "query",
            "description": "SDK type to filter evaluation results by",
            "schema": {
              "enum": [
                "client",
                "server",
                "mobile",
                "api"
              ],
              "type": "string"
            }
          },
          {
            "name": "feature",
            "required": true,
            "in": "path",
            "description": "A Feature key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "required": true,
            "in": "path",
            "description": "A Project key or ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultEvaluationsByHourDto"
                }
              }
            }
          },
          "400": {
            "description": ""
          },
          "401": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        },
        "tags": [
          "Results"
        ]
      }
    },
    "/v1/projects/{project}/results/evaluations": {
      "get": {
        "operationId": "getEvaluationsPerHourByProjectResults",
        "summary": "Project Variable Evaluations (unique user)",
        "description": "Fetch unique user variable evaluations per hour for a project",
        "parameters": [
          {
            "name": "startDate",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "endDate",
            "required": false,
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "environment",
            "required": false,
            "in": "query",
            "description": "A Environment key or ID",
            "schema": {
              "type": "string"
            }
          },
          {
[...]
