{
  "openapi": "3.0.3",
  "info": {
    "title": "Total Synergy API",
    "version": "2.0.0",
    "description": "Total Synergy is a project management platform for professional services. The API provides OAuth2 authentication, timer management, timesheet operations, and general data access for organizations.",
    "x-jentic-source-url": "https://developers.totalsynergy.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.totalsynergy.com/api/v2"
    }
  ],
  "paths": {
    "/Oauth2/GetAccessToken": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Get OAuth2 access token",
        "description": "Exchange authorization code for an access token.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/Oauth2/RefreshAccessToken": {
      "post": {
        "operationId": "refreshAccessToken",
        "summary": "Refresh OAuth2 access token",
        "description": "Refresh an expired access token.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/Timers": {
      "post": {
        "operationId": "createTimer",
        "summary": "Create a timer entry",
        "tags": [
          "Timers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create a timer entry"
      }
    },
    "/Organisation/{slug}/Timesheet/Leaderboard": {
      "post": {
        "operationId": "getTimesheetLeaderboard",
        "summary": "Get timesheet leaderboard",
        "tags": [
          "Timesheets"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organisation slug"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Leaderboard data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get timesheet leaderboard"
      }
    }
  },
  "components": {
    "schemas": {
      "TokenRequest": {
        "type": "object",
        "properties": {
          "applicationKey": {
            "type": "string"
          },
          "ApplicationSecret": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "grant_type": {
            "type": "string",
            "default": "authorization_code"
          }
        },
        "required": [
          "applicationKey",
          "ApplicationSecret",
          "code"
        ]
      },
      "RefreshTokenRequest": {
        "type": "object",
        "properties": {
          "applicationKey": {
            "type": "string"
          },
          "ApplicationSecret": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "grant_type": {
            "type": "string",
            "default": "refresh_token"
          }
        },
        "required": [
          "applicationKey",
          "ApplicationSecret",
          "refreshToken"
        ]
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "token_type": {
            "type": "string"
          }
        }
      },
      "Timer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "type": "number"
          }
        }
      },
      "TimerInput": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "apiKey",
        "in": "header",
        "name": "access-token",
        "description": "OAuth2 access token passed in the access-token header"
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Timers"
    },
    {
      "name": "Timesheets"
    }
  ]
}
