{
  "openapi": "3.0.3",
  "info": {
    "title": "AppSignal API",
    "description": "AppSignal REST API for accessing application performance monitoring data including samples, markers, graphs, and sourcemaps.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.appsignal.com/api"
  },
  "servers": [
    {
      "url": "https://appsignal.com/api",
      "description": "AppSignal API"
    }
  ],
  "paths": {
    "/{appId}/samples.json": {
      "get": {
        "operationId": "listAllSamples",
        "summary": "List all samples",
        "description": "Returns ALL sample types (performance and error) for the specified application.",
        "tags": [
          "Samples"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "The application identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Personal API token for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_id",
            "in": "query",
            "required": false,
            "description": "Filter by action ID (e.g. BlogPostsController-hash-show)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exception",
            "in": "query",
            "required": false,
            "description": "Filter by exception type (e.g. NoMethodError)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Filter samples since this timestamp (UTC)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Filter samples before this timestamp (UTC)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of entries to return (defaults to 10)",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "count_only",
            "in": "query",
            "required": false,
            "description": "Return only the count of matching samples",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with samples",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SamplesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{appId}/samples/performance.json": {
      "get": {
        "operationId": "listPerformanceSamples",
        "summary": "List performance samples",
        "description": "Returns only performance samples for the specified application.",
        "tags": [
          "Samples"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/Token"
          },
          {
            "$ref": "#/components/parameters/ActionId"
          },
          {
            "$ref": "#/components/parameters/Since"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/CountOnly"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with performance samples",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SamplesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{appId}/samples/errors.json": {
      "get": {
        "operationId": "listErrorSamples",
        "summary": "List error samples",
        "description": "Returns only error samples for the specified application.",
        "tags": [
          "Samples"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/Token"
          },
          {
            "$ref": "#/components/parameters/ActionId"
          },
          {
            "name": "exception",
            "in": "query",
            "required": false,
            "description": "Filter by exception type",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Since"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/CountOnly"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with error samples",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SamplesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{appId}/samples/{sampleId}.json": {
      "get": {
        "operationId": "getSample",
        "summary": "Get a specific sample",
        "description": "Retrieve a specific sample by ID. Note: # must be replaced with -hash-, / with -slash-, and . with -dot- in the sample ID.",
        "tags": [
          "Samples"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "name": "sampleId",
            "in": "path",
            "required": true,
            "description": "The sanitized sample identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with sample details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SampleDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Sample not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{appId}/markers.json": {
      "get": {
        "operationId": "listMarkers",
        "summary": "List markers",
        "description": "List deploy and custom markers for the specified application.",
        "tags": [
          "Markers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/Token"
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Filter by marker type (deploy or custom)",
            "schema": {
              "type": "string",
              "enum": [
                "deploy",
                "custom"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start time filter (ISO 8601 or UNIX timestamp, UTC)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End time filter (ISO 8601 or UNIX timestamp, UTC)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/CountOnly"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with markers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createMarker",
        "summary": "Create a marker",
        "description": "Create a new deploy or custom marker.",
        "tags": [
          "Markers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarkerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Marker created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marker"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{appId}/markers/{markerId}.json": {
      "get": {
        "operationId": "getMarker",
        "summary": "Get a specific marker",
        "description": "Retrieve a specific marker by ID.",
        "tags": [
          "Markers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "name": "markerId",
            "in": "path",
            "required": true,
            "description": "The marker identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Marker retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marker"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Marker not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateMarker",
        "summary": "Update a marker",
        "description": "Update an existing marker.",
        "tags": [
          "Markers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "name": "markerId",
            "in": "path",
            "required": true,
            "description": "The marker identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarkerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Marker updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marker"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMarker",
        "summary": "Delete a marker",
        "description": "Delete a specific marker.",
        "tags": [
          "Markers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "name": "markerId",
            "in": "path",
            "required": true,
            "description": "The marker identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Marker deleted successfully"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Marker not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{appId}/graphs.json": {
      "get": {
        "operationId": "getGraphs",
        "summary": "Get graph data",
        "description": "Retrieve graph data for the specified application. Provide either action_name or kind, and either from/to or timeframe.",
        "tags": [
          "Graphs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/Token"
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Aggregate of provided namespace (web, background, or custom)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_name",
            "in": "query",
            "required": false,
            "description": "Specific action name (e.g. BlogPostsController-hash-show)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Start time in ISO 8601 format (defaults to 1 day prior)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "End time in ISO 8601 format (defaults to current time)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timeframe",
            "in": "query",
            "required": false,
            "description": "Predefined timeframe (alternative to from/to)",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "month",
                "year"
              ]
            }
          },
          {
            "name": "fields[]",
            "in": "query",
            "required": false,
            "description": "Fields to include in response",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "mean",
                  "count",
                  "ex_count",
                  "ex_rate",
                  "pct"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with graph data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sourcemaps": {
      "post": {
        "operationId": "createSourcemap",
        "summary": "Upload a sourcemap",
        "description": "Upload a JavaScript sourcemap file for error tracking. Uses Push API key authentication.",
        "tags": [
          "Sourcemaps"
        ],
        "parameters": [
          {
            "name": "push_api_key",
            "in": "query",
            "required": true,
            "description": "Organization's Push API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_name",
            "in": "query",
            "required": true,
            "description": "Application name in AppSignal",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": true,
            "description": "Application environment",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "name[]",
                  "revision",
                  "file"
                ],
                "properties": {
                  "name[]": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Full URL(s) to the minified JavaScript file"
                  },
                  "revision": {
                    "type": "string",
                    "description": "Deploy marker revision reference"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Sourcemap file to upload (max 100MB)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sourcemap uploaded successfully"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "No app exists for given parameters"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AppId": {
        "name": "appId",
        "in": "path",
        "required": true,
        "description": "The application identifier",
        "schema": {
          "type": "string"
        }
      },
      "Token": {
        "name": "token",
        "in": "query",
        "required": true,
        "description": "Personal API token",
        "schema": {
          "type": "string"
        }
      },
      "ActionId": {
        "name": "action_id",
        "in": "query",
        "required": false,
        "description": "Filter by action ID",
        "schema": {
          "type": "string"
        }
      },
      "Since": {
        "name": "since",
        "in": "query",
        "required": false,
        "description": "Filter since this timestamp (UTC)",
        "schema": {
          "type": "integer"
        }
      },
      "Before": {
        "name": "before",
        "in": "query",
        "required": false,
        "description": "Filter before this timestamp (UTC)",
        "schema": {
          "type": "integer"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of entries to return",
        "schema": {
          "type": "integer",
          "default": 10
        }
      },
      "CountOnly": {
        "name": "count_only",
        "in": "query",
        "required": false,
        "description": "Return only the count",
        "schema": {
          "type": "boolean"
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "Personal API token passed as query parameter"
      }
    },
    "schemas": {
      "SamplesResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total number of matching samples"
          },
          "log_entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Sample"
            }
          }
        }
      },
      "Sample": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "is_exception": {
            "type": "boolean"
          }
        }
      },
      "SampleDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "is_exception": {
            "type": "boolean"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "exception": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "backtrace": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MarkersResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "markers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Marker"
            }
          }
        }
      },
      "Marker": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "deploy",
              "custom"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "repository": {
            "type": "string"
          },
          "revision": {
            "type": "string"
          },
          "user": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "message": {
            "type": "string",
            "maxLength": 200
          }
        }
      },
      "CreateMarkerRequest": {
        "type": "object",
        "required": [
          "marker"
        ],
        "properties": {
          "marker": {
            "type": "object",
            "required": [
              "kind"
            ],
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "deploy",
                  "custom"
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Defaults to current time if not provided"
              },
              "repository": {
                "type": "string",
                "description": "For deploy markers"
              },
              "revision": {
                "type": "string",
                "description": "For deploy markers"
              },
              "user": {
                "type": "string",
                "description": "For deploy markers"
              },
              "icon": {
                "type": "string",
                "description": "Emoji icon for custom markers"
              },
              "message": {
                "type": "string",
                "maxLength": 200,
                "description": "Message for custom markers"
              }
            }
          }
        }
      },
      "GraphsResponse": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "date-time"
          },
          "to": {
            "type": "string",
            "format": "date-time"
          },
          "resolution": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GraphDataPoint"
            }
          }
        }
      },
      "GraphDataPoint": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer",
            "description": "Unix epoch timestamp"
          },
          "mean": {
            "type": "number"
          },
          "count": {
            "type": "integer"
          },
          "ex_count": {
            "type": "integer"
          },
          "ex_rate": {
            "type": "number"
          },
          "pct": {
            "type": "number"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ]
}