{
  "openapi": "3.0.0",
  "info": {
    "title": "API Envio de Contratos",
    "description": "Esta API é responsável pela gestão do envio de contratos para o Cadbenef Online. Ela é mantida pela equipe de TI da Unimed Brasil.\n# Observações Importantes\n- Esta API é de uso exclusivo das Unimeds Singulares.\n- O funcionamento dos recursos desta API somente ocorrerá mediante o envio do access token gerado previamente com o uso de `CLIENT_ID` e `CLIENT_SECRET`.\n- Todos os campos de data e data/hora seguem o padrão ISO-8601.\n- Todos os campos do tipo boolean podem ser enviados como `true` ou `false`, ou também como `1` ou `0`. `true` e `1` significam \"Verdadeiro\", enquanto `false` e `0` significam \"Falso\".\n",
    "version": "1.0.0",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "contact": {
      "name": "Unimed Brasil",
      "email": "api@unimedbrasil.coop.br",
      "url": "http://unimed.coop.br"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/FLAVIAMARCO/api-envio_de_contratos/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://gateway-sandbox.unimed.coop.br/cadbenef-online/v1",
      "description": "Sandbox"
    },
    {
      "url": "https://ua-gateway-hml.unimed.coop.br/cadbenef-online/v1",
      "description": "HML (mTLS)"
    },
    {
      "url": "https://gateway-hml2.unimed.coop.br/cadbenef-online/v1",
      "description": "HML2"
    },
    {
      "url": "https://ua-gateway.unimed.coop.br/cadbenef-online/v1",
      "description": "Produção (mTLS)"
    }
  ],
  "paths": {
    "/contratos": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "description": "Envio de informação de novos contratos para posteriormente vinculo com beneficiários quando não utilizado fluxo de prospecção de vendas.",
        "operationId": "postContratos",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "$ref": "#/components/schemas/ContratosRequest"
                  },
                  "arquivoAcordo": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "body": {
                  "contentType": "application/json"
                },
                "arquivoAcordo": {
                  "contentType": "application/pdf"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Beneficiário cadastrado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContratosResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro - A requisição foi malformada, omitindo atributos necessários, seja no payload ou através de atributos no header ou na URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContratosResponse"
                },
                "example": {
                  "cabecalho": {
                    "codigoControleTransacao": 12345678901234567000,
                    "codigoVersaoPTU": "001",
                    "codigoUnimedDestino": 865,
                    "dataGeracao": "2023-04-02T09:06:05-03:00"
                  },
                  "statusProcessamento": [
                    {
                      "status": "E",
                      "codigoMensagem": "400.001",
                      "descricaoMensagem": "O campo dadosAcordo.indicadorAcordo é obrigatório."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Erro - Cabeçalho de autenticação ausente/inválido ou token inválido."
          },
          "405": {
            "description": "Erro - O consumidor tentou acessar o recurso com um método que não existe."
          },
          "422": {
            "description": "Erro - Erro de negócio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContratosResponse"
                },
                "example": {
                  "cabecalho": {
                    "codigoControleTransacao": 12345678901234567000,
                    "codigoVersaoPTU": "001",
                    "codigoUnimedDestino": 865,
                    "dataGeracao": "2023-04-02T09:06:05-03:00"
                  },
                  "statusProcessamento": [
                    {
                      "status": "E",
                      "codigoMensagem": "422.004",
                      "descricaoMensagem": "Código Unimed inválido no campo codigoUnimedOrigem."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Erro - A operação foi recusada, por exceder o limite de chamadas feitas dentro de um determinado período ou o limite de requisições concorrentes foi atingido."
          },
          "500": {
            "description": "Erro - Erro do servidor, ccorreu um erro no gateway da API ou no microsserviço."
          },
          "504": {
            "description": "Erro - A requisição não foi atendida dentro do tempo limite estabelecido, gateway timeout."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/contratos/{protocoloContrato}": {
      "put": {
        "tags": [
          "Contratos"
        ],
        "description": "Indica o encerramento do envio de beneficiários para o contrato.",
        "operationId": "putContratos",
        "parameters": [
          {
            "name": "protocoloContrato",
            "in": "path",
            "required": true,
            "description": "Número do protocolo gerado no recebimento da mensagem de inclusão da empresa",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 99999999999999999999
            },
            "example": 12345678901234567890
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContratosRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Beneficiário cadastrado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContratosResponse"
                }
              }
            }
          },
          "400": {
            "description": "Erro - A requisição foi malformada, omitindo atributos necessários, seja no payload ou através de atributos no header ou na URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContratosResponse"
                },
                "example": {
                  "cabecalho": {
                    "codigoControleTransacao": 12345678901234567000,
                    "codigoVersaoPTU": "001",
                    "codigoUnimedDestino": 865,
                    "dataGeracao": "2023-04-02T09:06:05-03:00"
                  },
                  "statusProcessamento": [
                    {
                      "status": "E",
                      "codigoMensagem": "400.001",
                      "descricaoMensagem": "O campo dadosAcordo.indicadorAcordo é obrigatório."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Erro - Cabeçalho de autenticação ausente/inválido ou token inválido."
          },
          "405": {
            "description": "Erro - O consumidor tentou acessar o recurso com um método que não existe."
          },
          "422": {
            "description": "Erro - Erro de negócio.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContratosResponse"
                },
                "example": {
                  "cabecalho": {
                    "codigoControleTransacao": 12345678901234567000,
                    "codigoVersaoPTU": "001",
                    "codigoUnimedDestino": 865,
                    "dataGeracao": "2023-04-02T09:06:05-03:00"
                  },
                  "statusProcessamento": [
                    {
                      "status": "E",
                      "codigoMensagem": "422.004",
                      "descricaoMensagem": "Código Unimed inválido no campo codigoUnimedOrigem."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Erro - A operação foi recusada, por exceder o limite de chamadas feitas dentro de um determinado período ou o limite de requisições concorrentes foi atingido."
          },
          "500": {
            "description": "Erro - Erro do servidor, ccorreu um erro no gateway da API ou no microsserviço."
          },
          "504": {
            "description": "Erro - A requisição não foi atendida dentro do tempo limite estabelecido, gateway timeout."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/oauth/v1/access-token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "ContratosRequest": {
        "type": "object",
        "required": [
          "cabecalho",
          "dadosEmpresaContratante",
          "dadosAcordo"
        ],
        "properties": {
          "cabecalho": {
            "type": "object",
            "required": [
              "codigoControleTransacao",
              "codigoVersaoPTU",
              "codigoUnimedOrigem",
              "dataGeracao"
            ],
            "properties": {
              "codigoControleTransacao": {
                "type": "integer",
                "description": "Código de transação do PTU",
                "format": "int64",
                "minimum": 0,
                "maximum": 99999999999999999999,
                "example": 12345678901234567890
              },
              "codigoVersaoPTU": {
                "type": "string",
                "description": "Código da Versão do PTU trafegando",
                "minimum": 0,
                "maximum": 999,
                "example": "001"
              },
              "codigoUnimedOrigem": {
                "type": "integer",
                "description": "Código da Unimed origem da mensagem",
                "format": "int32",
                "minimum": 1,
                "maximum": 9999,
                "example": 865
              },
              "dataGeracao": {
                "type": "string",
                "description": "Data de geração da mensagem",
                "format": "date-time",
                "example": "2023-04-02T09:06:05-03:00"
              }
            }
          },
          "dadosEmpresaContratante": {
            "type": "object",
            "required": [
              "tipoEmpresa",
              "nomeEmpresa",
              "quantidadeBeneficiariosInicial",
              "indicadorProcesso"
            ],
            "properties": {
              "tipoEmpresa": {
                "type": "object",
                "properties": {
                  "cnpj": {
                    "type": "string",
                    "description": "Código do CNPJ",
                    "maxLength": 14,
                    "example": "12345678901234"
                  },
                  "caepf": {
                    "type": "string",
                    "description": "Código do CAEPF (Cadastro de Atividade Economica Pessoa Física)",
                    "maxLength": 14,
                    "example": "12345678901234"
                  }
                }
              },
              "cnpjEmpresaMatriz": {
                "type": "string",
                "description": "Código do CNPJ da Empresa Matriz",
                "maxLength": 14,
                "example": "12345678901234"
              },
              "nomeEmpresa": {
                "type": "string",
                "description": "Nome completo da Empresa (Razão Social)",
                "minLength": 3,
                "maxLength": 40,
                "example": "Lorem ipsum aliquet eget litorv avsvsrnm"
              },
              "quantidadeBeneficiariosInicial": {
                "type": "integer",
                "description": "Quantidade de beneficiários que serão incluídos na massa inicial da empresa",
                "format": "int32",
                "minLength": 1,
                "maxLength": 99999,
                "example": 10
              },
              "indicadorProcesso": {
                "type": "integer",
                "description": "Indica o cadastro de nova empresa OU encerramento do envio de beneficiários para validação da ND13 0 = Abertura / cadastro da empresa 1 – Encerramento do envio dos beneficiários do contrato.",
                "format": "int32",
                "minimum": 0,
                "maximum": 1,
                "enum": [
                  0,
                  1
                ],
                "example": 0
              }
            }
          },
          "dadosAcordo": {
            "required": [
              "indicadorAcordo"
            ],
            "type": "object",
            "properties": {
              "indicadorAcordo": {
                "type": "boolean",
                "description": "Indicador de acordo sobre a comercialização de planos entre as Unimeds. Quando “True”, a Unimed possui acordo de comercialização de plano com outra Unimed e irá passar a um fluxo de aprovação de acordos.",
                "example": true
              }
            }
          }
        }
      },
      "ContratosResponse": {
        "type": "object",
        "required": [
          "cabecalho",
          "statusProcessamento"
        ],
        "properties": {
          "cabecalho": {
            "type": "object",
            "required": [
              "codigoControleTransacao",
              "codigoVersaoPTU",
              "codigoUnimedDestino",
              "dataGeracao"
            ],
            "properties": {
              "codigoControleTransacao": {
                "type": "integer",
                "description": "Código de transação do PTU",
                "format": "int64",
                "minimum": 0,
                "maximum": 99999999999999999999,
                "example": 12345678901234567890
              },
              "codigoVersaoPTU": {
                "type": "string",
                "description": "Código da Versão do PTU trafegando",
                "minimum": 0,
                "maximum": 999,
                "example": "001"
              },
              "codigoUnimedDestino": {
                "type": "integer",
                "description": "Código da Unimed destino da mensagem",
                "format": "int32",
                "minimum": 1,
                "maximum": 9999,
                "example": 865
              },
              "dataGeracao": {
                "type": "string",
                "description": "Data de geração da mensagem",
                "format": "date-time",
                "example": "2023-04-02T09:06:05-03:00"
              }
            }
          },
          "protocoloContrato": {
            "type": "integer",
            "description": "Número do protocolo gerado no recebimento da mensagem de inclusão da empresa",
            "format": "int64",
            "minimum": 0,
            "maximum": 99999999999999999999,
            "example": 12345678901234567890
          },
          "statusProcessamento": {
            "type": "array",
            "items": {
              "required": [
                "status",
                "codigoMensagem",
                "descricaoMensagem"
              ],
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "S"
                },
                "codigoMensagem": {
                  "type": "string",
                  "example": "200.004"
                },
                "descricaoMensagem": {
                  "type": "string",
                  "example": "Contrato cadastrado com sucesso"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Contratos"
    }
  ]
}