{
  "openapi": "3.0.3",
  "info": {
    "title": "Boast API",
    "description": "Boast API for managing testimonials, contacts, forms, responses, sequences, and webhook subscriptions.",
    "version": "1.0.0",
    "contact": {
      "name": "Boast Support",
      "url": "https://boast.io"
    },
    "x-jentic-source-url": "https://boast-io.github.io/api-docs"
  },
  "servers": [
    {
      "url": "https://api.boast.io/v1",
      "description": "Boast API Server"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "Get All Accounts",
        "description": "Retrieves all accounts with API access enabled.",
        "operationId": "listAccounts",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "List of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "summary": "Get a Specific Account",
        "description": "Retrieves a specific account by ID.",
        "operationId": "getAccount",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/contacts": {
      "get": {
        "summary": "Get All Contacts",
        "description": "Retrieves all contacts for an account.",
        "operationId": "listContacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create A Contact",
        "description": "Creates a contact on an account. Either email or mobile_phone is required.",
        "operationId": "createContact",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/forms": {
      "get": {
        "summary": "Get All Forms",
        "description": "Retrieves all forms for an account.",
        "operationId": "listForms",
        "tags": [
          "Forms"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Form"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/responses": {
      "get": {
        "summary": "Get All Responses",
        "description": "Retrieves all responses (testimonials) for an account.",
        "operationId": "listResponses",
        "tags": [
          "Responses"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of responses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Response"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/sequences": {
      "get": {
        "summary": "Get All Sequences",
        "description": "Retrieves all sequences for an account.",
        "operationId": "listSequences",
        "tags": [
          "Sequences"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sequences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Sequence"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/sequence_enrollments": {
      "get": {
        "summary": "Get All Sequence Enrollments",
        "description": "Retrieves all sequence enrollments for an account.",
        "operationId": "listSequenceEnrollments",
        "tags": [
          "Sequence Enrollments"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sequence enrollments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SequenceEnrollment"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create A Sequence Enrollment",
        "description": "Creates a sequence enrollment for an account.",
        "operationId": "createSequenceEnrollment",
        "tags": [
          "Sequence Enrollments"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SequenceEnrollmentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sequence enrollment created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SequenceEnrollment"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/sequence_enrollments/{enrollment_id}": {
      "get": {
        "summary": "Get a Specific Sequence Enrollment",
        "description": "Retrieves a single sequence enrollment.",
        "operationId": "getSequenceEnrollment",
        "tags": [
          "Sequence Enrollments"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          },
          {
            "name": "enrollment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Enrollment ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Sequence enrollment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SequenceEnrollment"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove a Sequence Enrollment",
        "description": "Removes a sequence enrollment.",
        "operationId": "deleteSequenceEnrollment",
        "tags": [
          "Sequence Enrollments"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          },
          {
            "name": "enrollment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Enrollment ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Sequence enrollment removed"
          }
        }
      }
    },
    "/accounts/{account_id}/webhook_subscriptions": {
      "get": {
        "summary": "Get All Webhook Subscriptions",
        "description": "Retrieves all webhook subscriptions for an account.",
        "operationId": "listWebhookSubscriptions",
        "tags": [
          "Webhook Subscriptions"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhook subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookSubscription"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create A Webhook Subscription",
        "description": "Creates a webhook subscription for an account.",
        "operationId": "createWebhookSubscription",
        "tags": [
          "Webhook Subscriptions"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscriptionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookSubscription"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/webhook_subscriptions/{webhook_subscription_id}": {
      "delete": {
        "summary": "Destroy a Webhook Subscription",
        "description": "Deletes a webhook subscription.",
        "operationId": "deleteWebhookSubscription",
        "tags": [
          "Webhook Subscriptions"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Account ID"
          },
          {
            "name": "webhook_subscription_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Webhook Subscription ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook subscription deleted"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 Bearer Token. Obtain via POST https://app.boast.io/oauth/token"
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "mobile_phone": {
            "type": "string",
            "description": "E.164 formatted phone number"
          },
          "organization": {
            "type": "string"
          },
          "job_title": {
            "type": "string"
          },
          "time_zone": {
            "type": "string"
          },
          "country_code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "location_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "staff_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "source": {
            "type": "string",
            "enum": [
              "api",
              "integration",
              "response"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          }
        }
      },
      "ContactCreate": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "mobile_phone": {
            "type": "string",
            "description": "E.164 formatted phone number"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "organization": {
            "type": "string"
          },
          "job_title": {
            "type": "string"
          },
          "time_zone": {
            "type": "string"
          },
          "country_code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "source": {
            "type": "string",
            "enum": [
              "api",
              "integration"
            ]
          }
        },
        "description": "Either email or mobile_phone is required."
      },
      "Form": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "published",
              "unpublished",
              "pending"
            ]
          },
          "thumbnail": {
            "$ref": "#/components/schemas/Thumbnail"
          },
          "consent": {
            "type": "string"
          },
          "display_weight": {
            "type": "integer"
          },
          "form_id": {
            "type": "string",
            "format": "uuid"
          },
          "contact_id": {
            "type": "string",
            "format": "uuid"
          },
          "location_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "staff_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "accepted": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "updated": {
            "type": "string",
            "format": "date-time"
          },
          "fields": {
            "$ref": "#/components/schemas/ResponseFields"
          },
          "additional_fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "links": {
            "$ref": "#/components/schemas/ResponseLinks"
          }
        }
      },
      "Thumbnail": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "open_graph_url": {
            "type": "string",
            "format": "uri"
          },
          "unprocessed_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ResponseFields": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "feedback": {
            "type": "string"
          },
          "headline": {
            "type": "string"
          },
          "sentiment": {
            "type": "string"
          },
          "rating": {
            "type": "number"
          },
          "rating_type": {
            "type": "string"
          },
          "rating_max": {
            "type": "number"
          },
          "video": {
            "$ref": "#/components/schemas/MediaAsset"
          },
          "photo": {
            "$ref": "#/components/schemas/MediaAsset"
          },
          "company": {
            "type": "string",
            "nullable": true
          },
          "job_title": {
            "type": "string",
            "nullable": true
          },
          "mobile_phone": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "MediaAsset": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "unprocessed_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Sequence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "collection_form_id": {
            "type": "string",
            "format": "uuid"
          },
          "enrollment_form_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SequenceEnrollment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "contact_id": {
            "type": "string",
            "format": "uuid"
          },
          "sequence_id": {
            "type": "string",
            "format": "uuid"
          },
          "response_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "completed",
              "cancelled"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SequenceEnrollmentCreate": {
        "type": "object",
        "required": [
          "contact_id",
          "sequence_id"
        ],
        "properties": {
          "contact_id": {
            "type": "string",
            "format": "uuid"
          },
          "sequence_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookSubscriptionCreate": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Links": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "format": "uri"
          },
          "edit": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ResponseLinks": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "format": "uri"
          },
          "edit": {
            "type": "string",
            "format": "uri"
          },
          "share": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "description": "Total count of items"
              },
              "page": {
                "type": "integer",
                "description": "Current page number"
              },
              "items": {
                "type": "integer",
                "description": "Number of items per page"
              },
              "pages": {
                "type": "integer",
                "description": "Number of total pages"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "source": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Account management"
    },
    {
      "name": "Contacts",
      "description": "Contact management"
    },
    {
      "name": "Forms",
      "description": "Form management"
    },
    {
      "name": "Responses",
      "description": "Response management"
    },
    {
      "name": "Sequences",
      "description": "Sequence management"
    },
    {
      "name": "Sequence Enrollments",
      "description": "Sequence enrollment management"
    },
    {
      "name": "Webhook Subscriptions",
      "description": "Webhook subscription management"
    }
  ]
}