{
  "openapi": "3.0.3",
  "info": {
    "title": "Good Grants API",
    "description": "The Good Grants API allows you to list, get, create, update, delete and upload many different resources within the Good Grants grant management platform. Resources include accounts, applications, allocations, categories, chapters, contributors, documents, fields, forms, funds, payments, rounds, seasons, users, webhooks, and more.",
    "version": "2.3",
    "x-jentic-source-url": "https://apidocs.goodgrants.com/"
  },
  "servers": [
    {
      "url": "https://api.cr4ce.com",
      "description": "Global endpoint"
    },
    {
      "url": "https://api.au.cr4ce.com",
      "description": "Australasia"
    },
    {
      "url": "https://api.ca.cr4ce.com",
      "description": "Canada"
    },
    {
      "url": "https://api.eu.cr4ce.com",
      "description": "EU"
    },
    {
      "url": "https://api.hk.cr4ce.com",
      "description": "Hong Kong"
    },
    {
      "url": "https://api.ae.cr4ce.com",
      "description": "UAE"
    },
    {
      "url": "https://api.us.cr4ce.com",
      "description": "US"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "summary": "Get account",
        "operationId": "getAccount",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/action-task": {
      "get": {
        "summary": "List Action Tasks",
        "operationId": "listActionTasks",
        "tags": [
          "Action Task"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create Action Task",
        "operationId": "createActionTask",
        "tags": [
          "Action Task"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Action Task created"
          }
        }
      }
    },
    "/action-task/{slug}": {
      "get": {
        "summary": "Get Action Task",
        "operationId": "getActionTask",
        "tags": [
          "Action Task"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete Action Task",
        "operationId": "deleteActionTask",
        "tags": [
          "Action Task"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Action Task deleted"
          }
        }
      }
    },
    "/allocation": {
      "get": {
        "summary": "List Allocations",
        "operationId": "listAllocations",
        "tags": [
          "Allocation"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create Allocation",
        "operationId": "createAllocation",
        "tags": [
          "Allocation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Allocation created"
          }
        }
      }
    },
    "/allocation/{slug}": {
      "get": {
        "summary": "Get Allocation",
        "operationId": "getAllocation",
        "tags": [
          "Allocation"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update Allocation",
        "operationId": "updateAllocation",
        "tags": [
          "Allocation"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Allocation updated"
          }
        }
      },
      "delete": {
        "summary": "Delete Allocation",
        "operationId": "deleteAllocation",
        "tags": [
          "Allocation"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Allocation deleted"
          }
        }
      }
    },
    "/application": {
      "get": {
        "summary": "List Applications",
        "operationId": "listApplications",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create Application",
        "operationId": "createApplication",
        "tags": [
          "Application"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application created"
          }
        }
      }
    },
    "/application/{slug}": {
      "get": {
        "summary": "Get Application",
        "operationId": "getApplication",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update Application",
        "operationId": "updateApplication",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application updated"
          }
        }
      },
      "delete": {
        "summary": "Delete Application",
        "operationId": "deleteApplication",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application deleted"
          }
        }
      }
    },
    "/assignment": {
      "get": {
        "summary": "List Assignments",
        "operationId": "listAssignments",
        "tags": [
          "Assignment"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create Assignment",
        "operationId": "createAssignment",
        "tags": [
          "Assignment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Assignment created"
          }
        }
      }
    },
    "/assignment/{slug}": {
      "get": {
        "summary": "Get Assignment",
        "operationId": "getAssignment",
        "tags": [
          "Assignment"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete Assignment",
        "operationId": "deleteAssignment",
        "tags": [
          "Assignment"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Assignment deleted"
          }
        }
      }
    },
    "/attachment": {
      "get": {
        "summary": "List Attachments",
        "operationId": "listAttachments",
        "tags": [
          "Attachment"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/attachment/{slug}": {
      "put": {
        "summary": "Update Attachment",
        "operationId": "updateAttachment",
        "tags": [
          "Attachment"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attachment updated"
          }
        }
      },
      "delete": {
        "summary": "Delete Attachment",
        "operationId": "deleteAttachment",
        "tags": [
          "Attachment"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment deleted"
          }
        }
      }
    },
    "/category": {
      "get": {
        "summary": "List Categorys",
        "operationId": "listCategorys",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create Category",
        "operationId": "createCategory",
        "tags": [
          "Category"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category created"
          }
        }
      }
    },
    "/category/{slug}": {
      "get": {
        "summary": "Get Category",
        "operationId": "getCategory",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update Category",
        "operationId": "updateCategory",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category updated"
          }
        }
      },
      "delete": {
        "summary": "Delete Category",
        "operationId": "deleteCategory",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted"
          }
        }
      }
    },
    "/chapter": {
      "get": {
        "summary": "List Chapters",
        "operationId": "listChapters",
        "tags": [
          "Chapter"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create Chapter",
        "operationId": "createChapter",
        "tags": [
          "Chapter"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Chapter created"
          }
        }
      }
    },
    "/chapter/{slug}": {
      "get": {
        "summary": "Get Chapter",
        "operationId": "getChapter",
        "tags": [
          "Chapter"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update Chapter",
        "operationId": "updateChapter",
        "tags": [
          "Chapter"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chapter updated"
          }
        }
      },
      "delete": {
        "summary": "Delete Chapter",
        "operationId": "deleteChapter",
        "tags": [
          "Chapter"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chapter deleted"
          }
        }
      }
    },
    "/contributor": {
      "get": {
        "summary": "List Contributors",
        "operationId": "listContributors",
        "tags": [
          "Contributor"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create Contributor",
        "operationId": "createContributor",
        "tags": [
          "Contributor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contributor created"
          }
        }
      }
    },
    "/contributor/{slug}": {
      "get": {
        "summary": "Get Contributor",
        "operationId": "getContributor",
        "tags": [
          "Contributor"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update Contributor",
        "operationId": "updateContributor",
        "tags": [
          "Contributor"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contributor updated"
          }
        }
      },
      "delete": {
        "summary": "Delete Contributor",
        "operationId": "deleteContributor",
        "tags": [
          "Contributor"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contributor deleted"
          }
        }
      }
    },
    "/document": {
      "get": {
        "summary": "List Documents",
        "operationId": "listDocuments",
        "tags": [
          "Document"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create Document",
        "operationId": "createDocument",
        "tags": [
          "Document"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document created"
          }
        }
      }
    },
    "/document/{slug}": {
      "get": {
        "summary": "Get Document",
        "operationId": "getDocument",
        "tags": [
          "Document"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "delete": {
        "summary": "Delete Document",
        "operationId": "deleteDocument",
        "tags": [
          "Document"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted"
          }
        }
      }
    },
    "/field": {
      "get": {
        "summary": "List Fields",
        "operationId": "listFields",
        "tags": [
          "Field"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create Field",
        "operationId": "createField",
        "tags": [
          "Field"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Field created"
          }
        }
      }
    },
    "/form": {
      "get": {
        "summary": "List Forms",
        "operationId": "listForms",
        "tags": [
          "Form"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/form/{slug}": {
      "get": {
        "summary": "Get Form",
        "operationId": "getForm",
        "tags": [
          "Form"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/fund": {
      "get": {
        "summary": "List Funds",
        "operationId": "listFunds",
        "tags": [
          "Fund"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create Fund",
        "operationId": "createFund",
        "tags": [
          "Fund"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fund created"
          }
        }
      }
    },
    "/fund/{slug}": {
      "get": {
        "summary": "Get Fund",
        "operationId": "getFund",
        "tags": [
          "Fund"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update Fund",
        "operationId": "updateFund",
        "tags": [
          "Fund"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fund updated"
          }
        }
      },
      "delete": {
        "summary": "Delete Fund",
        "operationId": "deleteFund",
        "tags": [
          "Fund"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fund deleted"
          }
        }
      }
    },
    "/grant-status": {
      "get": {
        "summary": "List Grant Statuss",
        "operationId": "listGrantStatuss",
        "tags": [
          "Grant Status"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/grant-status/{slug}": {
      "get": {
        "summary": "Get Grant Status",
        "operationId": "getGrantStatus",
        "tags": [
          "Grant Status"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/round": {
      "get": {
        "summary": "List Rounds",
        "operationId": "listRounds",
        "tags": [
          "Round"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/round/{slug}": {
      "get": {
        "summary": "Get Round",
        "operationId": "getRound",
        "tags": [
          "Round"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/score-set": {
      "get": {
        "summary": "List Score Sets",
        "operationId": "listScoreSets",
        "tags": [
          "Score Set"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/score-set/{slug}": {
      "get": {
        "summary": "Get Score Set",
        "operationId": "getScoreSet",
        "tags": [
          "Score Set"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/season": {
      "get": {
        "summary": "List Seasons",
        "operationId": "listSeasons",
        "tags": [
          "Season"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/season/{slug}": {
      "get": {
        "summary": "Get Season",
        "operationId": "getSeason",
        "tags": [
          "Season"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/user": {
      "get": {
        "summary": "List Users",
        "operationId": "listUsers",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create User",
        "operationId": "createUser",
        "tags": [
          "User"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created"
          }
        }
      }
    },
    "/user/{slug}": {
      "get": {
        "summary": "Get User",
        "operationId": "getUser",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update User",
        "operationId": "updateUser",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated"
          }
        }
      },
      "delete": {
        "summary": "Delete User",
        "operationId": "deleteUser",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted"
          }
        }
      }
    },
    "/webhook": {
      "get": {
        "summary": "List Webhooks",
        "operationId": "listWebhooks",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create Webhook",
        "operationId": "createWebhook",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          }
        }
      }
    },
    "/webhook/{slug}": {
      "get": {
        "summary": "Get Webhook",
        "operationId": "getWebhook",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update Webhook",
        "operationId": "updateWebhook",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated"
          }
        }
      },
      "delete": {
        "summary": "Delete Webhook",
        "operationId": "deleteWebhook",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted"
          }
        }
      }
    },
    "/leaderboard": {
      "get": {
        "summary": "List leaderboard",
        "operationId": "listLeaderboard",
        "tags": [
          "Leaderboard"
        ],
        "parameters": [
          {
            "name": "score_set",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "application",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/allocation-payment": {
      "get": {
        "summary": "List payments",
        "operationId": "listPayments",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Create payment",
        "operationId": "createPayment",
        "tags": [
          "Payment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created"
          }
        }
      }
    },
    "/allocation-payment/{slug}": {
      "get": {
        "summary": "Get payment",
        "operationId": "getPayment",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update payment",
        "operationId": "updatePayment",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment updated"
          }
        }
      },
      "delete": {
        "summary": "Delete payment",
        "operationId": "deletePayment",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment deleted"
          }
        }
      }
    },
    "/file/{token}": {
      "get": {
        "summary": "Get file info",
        "operationId": "getFileInfo",
        "tags": [
          "File"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/attachment/{token}": {
      "get": {
        "summary": "Get attachment",
        "operationId": "getAttachment",
        "tags": [
          "Attachment"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "put": {
        "summary": "Update attachment",
        "operationId": "updateAttachment",
        "tags": [
          "Attachment"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attachment updated"
          }
        }
      },
      "delete": {
        "summary": "Delete attachment",
        "operationId": "deleteAttachment",
        "tags": [
          "Attachment"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment deleted"
          }
        }
      }
    },
    "/application/{application_slug}/upload/{field_slug}": {
      "post": {
        "summary": "Upload application file",
        "operationId": "uploadApplicationFile",
        "tags": [
          "Application"
        ],
        "parameters": [
          {
            "name": "application_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded"
          }
        }
      }
    },
    "/user/{user_slug}/upload/{field_slug}": {
      "post": {
        "summary": "Upload user file",
        "operationId": "uploadUserFile",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "user_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded"
          }
        }
      }
    },
    "/user/{slug}/auth-token": {
      "get": {
        "summary": "Get auth token",
        "operationId": "getUserAuthToken",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header",
        "description": "API key for authentication. Generate keys in Good Grants under Settings > Integrations > API Keys."
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}