{
  "openapi": "3.0.3",
  "info": {
    "title": "Zite Database API (Fillout)",
    "description": "Zite is an AI-powered app builder for product-ready business software. This API provides programmatic access to the Fillout/Zite database for managing databases, tables, fields, and records.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.fillout.com/help/database/api"
  },
  "servers": [
    {
      "url": "https://api.fillout.com",
      "description": "Fillout/Zite Production API"
    }
  ],
  "paths": {
    "/databases": {
      "get": {
        "operationId": "listDatabases",
        "summary": "List Databases",
        "description": "List all databases owned by the authenticated user.",
        "tags": [
          "Databases"
        ],
        "responses": {
          "200": {
            "description": "List of databases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Database"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createDatabase",
        "summary": "Create Database",
        "description": "Create a new database instance.",
        "tags": [
          "Databases"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatabaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Database created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/databases/{databaseId}": {
      "get": {
        "operationId": "getDatabase",
        "summary": "Get Database",
        "description": "Retrieve specific database information.",
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          }
        ],
        "responses": {
          "200": {
            "description": "Database details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteDatabase",
        "summary": "Delete Database",
        "description": "Remove a database instance.",
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          }
        ],
        "responses": {
          "200": {
            "description": "Database deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/database/{databaseId}/tables": {
      "post": {
        "operationId": "createTable",
        "summary": "Create Table",
        "description": "Create a new table with custom schema in a database.",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTableRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Table created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/database/{databaseId}/tables/{tableId}": {
      "patch": {
        "operationId": "updateTable",
        "summary": "Update Table",
        "description": "Modify table properties and settings.",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          },
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Table updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Table"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteTable",
        "summary": "Delete Table",
        "description": "Remove a table from the database.",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          },
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "responses": {
          "200": {
            "description": "Table deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/database/{databaseId}/{tableId}/fields": {
      "post": {
        "operationId": "createField",
        "summary": "Create Field",
        "description": "Add a new field to an existing table.",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          },
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFieldRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Field created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/database/{databaseId}/{tableId}/fields/{fieldId}": {
      "patch": {
        "operationId": "updateField",
        "summary": "Update Field",
        "description": "Modify field properties and configurations.",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          },
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/FieldId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFieldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Field updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteField",
        "summary": "Delete Field",
        "description": "Remove a field from a table.",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          },
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/FieldId"
          }
        ],
        "responses": {
          "200": {
            "description": "Field deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/database/{databaseId}/{tableId}/records": {
      "get": {
        "operationId": "listRecords",
        "summary": "List Records",
        "description": "Get all records from a table with filtering options.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          },
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Record"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createRecord",
        "summary": "Create Record",
        "description": "Add new records to a table with field data.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          },
          {
            "$ref": "#/components/parameters/TableId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecordRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Record created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/database/{databaseId}/{tableId}/records/{recordId}": {
      "get": {
        "operationId": "getRecord",
        "summary": "Get Record",
        "description": "Retrieve a specific record by its unique identifier.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          },
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          }
        ],
        "responses": {
          "200": {
            "description": "Record details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateRecord",
        "summary": "Update Record",
        "description": "Modify existing record data.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          },
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteRecord",
        "summary": "Delete Record",
        "description": "Remove a record from the database.",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DatabaseId"
          },
          {
            "$ref": "#/components/parameters/TableId"
          },
          {
            "$ref": "#/components/parameters/RecordId"
          }
        ],
        "responses": {
          "200": {
            "description": "Record deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from the Fillout/Zite dashboard. Pass as Authorization: Bearer <your-api-key>"
      }
    },
    "parameters": {
      "DatabaseId": {
        "name": "databaseId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Database identifier"
      },
      "TableId": {
        "name": "tableId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Table identifier"
      },
      "FieldId": {
        "name": "fieldId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Field identifier"
      },
      "RecordId": {
        "name": "recordId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Record identifier"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication failed - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Human readable error message"
              }
            }
          }
        }
      },
      "Database": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Database unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Database name"
          },
          "tables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Table"
            },
            "description": "Tables in the database"
          }
        }
      },
      "CreateDatabaseRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Database name"
          }
        }
      },
      "Table": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Table unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Table name"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Field"
            }
          }
        }
      },
      "CreateTableRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Table name"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateFieldRequest"
            },
            "description": "Initial fields for the table"
          }
        }
      },
      "UpdateTableRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "New table name"
          }
        }
      },
      "Field": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Field unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Field name"
          },
          "type": {
            "type": "string",
            "description": "Field data type"
          },
          "config": {
            "type": "object",
            "description": "Field configuration options"
          }
        }
      },
      "CreateFieldRequest": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Field name"
          },
          "type": {
            "type": "string",
            "description": "Field data type"
          },
          "config": {
            "type": "object",
            "description": "Field configuration options"
          }
        }
      },
      "UpdateFieldRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "New field name"
          },
          "config": {
            "type": "object",
            "description": "Updated field configuration"
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Record unique identifier"
          },
          "fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Key-value pairs of field data"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Record creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Record last update timestamp"
          }
        }
      },
      "CreateRecordRequest": {
        "type": "object",
        "required": [
          "fields"
        ],
        "properties": {
          "fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Key-value pairs of field data to set"
          }
        }
      },
      "UpdateRecordRequest": {
        "type": "object",
        "required": [
          "fields"
        ],
        "properties": {
          "fields": {
            "type": "object",
            "additionalProperties": true,
            "description": "Key-value pairs of field data to update"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Databases",
      "description": "Database management operations"
    },
    {
      "name": "Tables",
      "description": "Table management operations"
    },
    {
      "name": "Fields",
      "description": "Field management operations"
    },
    {
      "name": "Records",
      "description": "Record CRUD operations"
    }
  ]
}