{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "# Introduction\nWhat does your API do?\n\n# Overview\nThings that the developers should know about\n\n# Authentication\nWhat is the preferred way of using the API?\n\n# Error Codes\nWhat errors and status codes can a user expect?\n\n# Rate limit\nIs there a limit to the number of requests an user can send?",
    "title": "APIOAuth",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/test4364/apio-auth/1.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://testpaport.enfs.com/"
    }
  ],
  "paths": {
    "/PAPortOdata529/odata/v1.2/RecentActivity": {
      "get": {
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "default": "Bearer {token}",
              "type": "string"
            }
          },
          {
            "description": "Base 64 encoded value of Account Number",
            "in": "query",
            "name": "AccountNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "End Date to retrieve activities",
            "in": "query",
            "name": "EndDate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start Date to retrieve activities",
            "in": "query",
            "name": "StartDate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Misc"
        ],
        "deprecated": false,
        "description": "Get Activities for an account for a specified date range",
        "operationId": "PAPortOdata529OdataV12RecentActivityGet",
        "summary": "Get Account Activities"
      }
    },
    "/PAPortOdata529/odata/v1.2/balances(AccountNumber='MTAwMTA=',ValuationDate='9-03-2019',IRRCalculationMethod=1,ShareAdjIRRReturnNull=0,DisplayActsWithNoSubaccounts=0,ReturnAllLinkedAccounts=0,AccountOwnerAndBeneficiaryCombination=1,AccessLinkedAccounts=2,CalculateIRRatAccount=1)": {
      "get": {
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "default": "Bearer {token}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Misc"
        ],
        "deprecated": false,
        "description": "Get balances for a given Account, Fund and Valuation Date\nFund = 0 for \"All Funds\"",
        "operationId": "PAPortOdata529OdataV12BalanceGet",
        "summary": "Get Account Balances"
      }
    },
    "/paportoauth529/odata2/token": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Misc"
        ],
        "deprecated": false,
        "description": "Get Authorization token",
        "operationId": "Paportoauth529Odata2TokenPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "summary": "Get Authorization Token"
      }
    },
    "/paportodata529/odata/v1.2/Accounts": {
      "post": {
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "default": "Bearer {token}",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Misc"
        ],
        "deprecated": false,
        "description": "Create New Account",
        "operationId": "Paportodata529OdataV12AccountsPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNewAccountRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Create New Account"
      }
    },
    "/paportodata529/odata/v1.2/Accounts('10010')/Addresses": {
      "put": {
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "default": "Bearer {token}",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          }
        },
        "tags": [
          "Misc"
        ],
        "deprecated": false,
        "description": "Update Registration, Alternate, and/or Temporary address for an account.",
        "operationId": "Paportodata529OdataV12Accounts10010AddressesPut",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountAddressRequest"
              }
            }
          },
          "required": true
        },
        "summary": "Update Account Address"
      }
    }
  },
  "components": {
    "schemas": {
      "Addresses": {
        "example": {
          "AccountAddressIndicator": 0,
          "Registration": {
            "AddressLines": "Address Line",
            "AltPhone": "258222",
            "CountryCode": 0,
            "DoNotAcceptUSPSUpdate": 0,
            "EmailAddress": "jothi.r@enfs.com",
            "FaxPhone": "",
            "NameLines": "Name Line",
            "PostalZip": "12345",
            "VoicePhone": "2522220252"
          }
        },
        "properties": {
          "AccountAddressIndicator": {
            "format": "int32",
            "type": "integer"
          },
          "Registration": {
            "$ref": "#/components/schemas/Registration"
          }
        },
        "required": [
          "AccountAddressIndicator",
          "Registration"
        ],
        "title": "Addresses",
        "type": "object"
      },
      "Alternate": {
        "example": {
          "AddressLines": "123 Main Street\r\nIRVINE, CA 92614",
          "AltPhone": "",
          "CountryCode": 0,
          "DoNotAcceptUSPSUpdate": 0,
          "EmailAddress": "",
          "FaxPhone": "",
          "NameLines": "Name",
          "PostalZip": "92614",
          "VoicePhone": ""
        },
        "properties": {
          "AddressLines": {
            "type": "string"
          },
          "AltPhone": {
            "type": "string"
          },
          "CountryCode": {
            "format": "int32",
            "type": "integer"
          },
          "DoNotAcceptUSPSUpdate": {
            "format": "int32",
            "type": "integer"
          },
          "EmailAddress": {
            "type": "string"
          },
          "FaxPhone": {
            "type": "string"
          },
          "NameLines": {
            "type": "string"
          },
          "PostalZip": {
            "type": "string"
          },
          "VoicePhone": {
            "type": "string"
          }
        },
        "required": [
          "NameLines",
          "AddressLines",
          "CountryCode",
          "PostalZip",
          "VoicePhone",
          "AltPhone",
          "FaxPhone",
          "EmailAddress",
          "DoNotAcceptUSPSUpdate"
        ],
        "title": "Alternate",
        "type": "object"
      },
      "BankInformation": {
        "example": {
          "AccountName": "Account Name",
          "AccountNumber": "1521421",
          "AccountType": 1,
          "BankName": "Bank Name",
          "BankNickname": "Nick name",
          "BankRoutingNumber": "322281507",
          "CreateMicroDeposits": 0,
          "VerificationStatus": 1,
          "VerificationType": 0
        },
        "properties": {
          "AccountName": {
            "type": "string"
          },
          "AccountNumber": {
            "type": "string"
          },
          "AccountType": {
            "format": "int32",
            "type": "integer"
          },
          "BankName": {
            "type": "string"
          },
          "BankNickname": {
            "type": "string"
          },
          "BankRoutingNumber": {
            "type": "string"
          },
          "CreateMicroDeposits": {
            "type": "integer"
          },
          "VerificationStatus": {
            "type": "integer"
          },
          "VerificationType": {
            "type": "integer"
          }
        },
        "required": [
          "BankRoutingNumber",
          "AccountNumber",
          "AccountName",
          "AccountType",
          "BankName",
          "BankNickname",
          "CreateMicroDeposits",
          "VerificationType",
          "VerificationStatus"
        ],
        "title": "BankInformation",
        "type": "object"
      },
      "CreateNewAccountRequest": {
        "example": {
          "AccountNumber": "",
          "AccountType": 1,
          "Addresses": {
            "AccountAddressIndicator": 0,
            "Registration": {
              "AddressLines": "Address Line",
              "AltPhone": "258222",
              "CountryCode": 0,
              "DoNotAcceptUSPSUpdate": 0,
              "EmailAddress": "jothi.r@enfs.com",
              "FaxPhone": "",
              "NameLines": "Name Line",
              "PostalZip": "12345",
              "VoicePhone": "2522220252"
            }
          },
          "BankInformation": {
            "AccountName": "Account Name",
            "AccountNumber": "1521421",
            "AccountType": 1,
            "BankName": "Bank Name",
            "BankNickname": "Nick name",
            "BankRoutingNumber": "322281507"
          },
          "CountryOfCitizenship": 0,
          "CountryOfTaxResidence": 0,
          "DateOfBirth": "1959-08-01",
          "DividendAndCapitalGains": [
            {
              "AllInvestments": 1,
              "LTCG": 1,
              "STCG": 1
            }
          ],
          "DocumentDelivery": [
            {
              "DeliveryMode": 2,
              "FormCategoryId": 1
            },
            {
              "DeliveryMode": 2,
              "FormCategoryId": 2
            },
            {
              "DeliveryMode": 2,
              "FormCategoryId": 3
            },
            {
              "DeliveryMode": 2,
              "FormCategoryId": 5
            },
            {
              "DeliveryMode": 2,
              "FormCategoryId": 6
            }
          ],
          "Gender": 2,
          "InvestmentProgram": 1,
          "NamesTag": [
            "SHAREHOLDER NAME = First Name",
            "M.I = test ",
            "LAST NAME = CA"
          ],
          "RepInformation": {
            "BranchNumber": "25",
            "DealerNumber": 90496,
            "RepNumber": "0000"
          },
          "SSNOrTIN": "900038894",
          "SSNOrTINIndicator": 1,
          "TaxPayerType": 1
        },
        "properties": {
          "AccountNumber": {
            "type": "string"
          },
          "AccountType": {
            "format": "int32",
            "type": "integer"
          },
          "Addresses": {
            "$ref": "#/components/schemas/Addresses"
          },
          "BankInformation": {
            "$ref": "#/components/schemas/BankInformation"
          },
          "CountryOfCitizenship": {
            "format": "int32",
            "type": "integer"
          },
          "CountryOfTaxResidence": {
            "format": "int32",
            "type": "integer"
          },
          "DateOfBirth": {
            "type": "string"
          },
          "DividendAndCapitalGains": {
            "items": {
              "$ref": "#/components/schemas/DividendAndCapitalGain"
            },
            "type": "array"
          },
          "DocumentDelivery": {
            "items": {
              "$ref": "#/components/schemas/DocumentDelivery"
            },
            "type": "array"
          },
          "Gender": {
            "format": "int32",
            "type": "integer"
          },
          "InvestmentProgram": {
            "format": "int32",
            "type": "integer"
          },
          "NamesTag": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "RepInformation": {
            "$ref": "#/components/schemas/RepInformation"
          },
          "SSNOrTIN": {
            "type": "string"
          },
          "SSNOrTINIndicator": {
            "format": "int32",
            "type": "integer"
          },
          "TaxPayerType": {
            "format": "int32",
            "type": "integer"
          }
        },
        "required": [
          "AccountNumber",
          "InvestmentProgram",
          "AccountType",
          "NamesTag",
          "TaxPayerType",
          "CountryOfTaxResidence",
          "CountryOfCitizenship",
          "Gender",
          "DateOfBirth",
          "SSNOrTINIndicator",
          "SSNOrTIN",
          "RepInformation",
          "BankInformation",
          "Addresses",
          "DividendAndCapitalGains",
          "DocumentDelivery"
        ],
        "title": "CreateNewAccountRequest",
        "type": "object"
      },
      "DividendAndCapitalGain": {
        "example": {
          "AllInvestments": 1,
          "LTCG": 1,
          "STCG": 1
        },
        "properties": {
          "AllInvestments": {
            "format": "int32",
            "type": "integer"
          },
          "LTCG": {
            "format": "int32",
            "type": "integer"
          },
          "STCG": {
            "format": "int32",
            "type": "integer"
          }
        },
        "required": [
          "AllInvestments",
          "STCG",
          "LTCG"
        ],
        "title": "DividendAndCapitalGain",
        "type": "object"
      },
      "DocumentDelivery": {
        "example": {
          "DeliveryMode": 2,
          "FormCategoryId": 1
        },
        "properties": {
          "DeliveryMode": {
            "format": "int32",
            "type": "integer"
          },
          "FormCategoryId": {
            "format": "int32",
            "type": "integer"
          }
        },
        "required": [
          "FormCategoryId",
          "DeliveryMode"
        ],
        "title": "DocumentDelivery",
        "type": "object"
      },
      "Registration": {
        "example": {
          "AddressLines": "123 Main St.\r\nIRVINE, CA 92612",
          "AltPhone": "3103004550",
          "CountryCode": 0,
          "DoNotAcceptUSPSUpdate": 0,
          "EmailAddress": "prithvi.hariharan@enfs.com",
          "FaxPhone": "",
          "NameLines": "Laura and Bob Sanderson",
          "PostalZip": "92612",
          "VoicePhone": "2102005500"
        },
        "properties": {
          "AddressLines": {
            "type": "string"
          },
          "AltPhone": {
            "type": "string"
          },
          "CountryCode": {
            "format": "int32",
            "type": "integer"
          },
          "DoNotAcceptUSPSUpdate": {
            "format": "int32",
            "type": "integer"
          },
          "EmailAddress": {
            "type": "string"
          },
          "FaxPhone": {
            "type": "string"
          },
          "NameLines": {
            "type": "string"
          },
          "PostalZip": {
            "type": "string"
          },
          "VoicePhone": {
            "type": "string"
          }
        },
        "required": [
          "NameLines",
          "AddressLines",
          "CountryCode",
          "PostalZip",
          "VoicePhone",
          "AltPhone",
          "FaxPhone",
          "EmailAddress",
          "DoNotAcceptUSPSUpdate"
        ],
        "title": "Registration",
        "type": "object"
      },
      "RepInformation": {
        "example": {
          "BranchNumber": "25",
          "DealerNumber": 90496,
          "RepNumber": "0000"
        },
        "properties": {
          "BranchNumber": {
            "type": "string"
          },
          "DealerNumber": {
            "format": "int32",
            "type": "integer"
          },
          "RepNumber": {
            "type": "string"
          }
        },
        "required": [
          "DealerNumber",
          "BranchNumber",
          "RepNumber"
        ],
        "title": "RepInformation",
        "type": "object"
      },
      "UpdateAccountAddressRequest": {
        "example": {
          "AccountAddressIndicator": 0,
          "Alternate": {
            "AddressLines": "123 Main Street\r\nIRVINE, CA 92614",
            "AltPhone": "",
            "CountryCode": 0,
            "DoNotAcceptUSPSUpdate": 0,
            "EmailAddress": "",
            "FaxPhone": "",
            "NameLines": "Name",
            "PostalZip": "92614",
            "VoicePhone": ""
          },
          "Registration": {
            "AddressLines": "123 Main St.\r\nIRVINE, CA 92612",
            "AltPhone": "3103004550",
            "CountryCode": 0,
            "DoNotAcceptUSPSUpdate": 0,
            "EmailAddress": "prithvi.hariharan@enfs.com",
            "FaxPhone": "",
            "NameLines": "Laura and Bob Sanderson",
            "PostalZip": "92612",
            "VoicePhone": "2102005500"
          },
          "Seasonal": null
        },
        "properties": {
          "AccountAddressIndicator": {
            "format": "int32",
            "type": "integer"
          },
          "Alternate": {
            "$ref": "#/components/schemas/Alternate"
          },
          "Registration": {
            "$ref": "#/components/schemas/Registration"
          },
          "Seasonal": {
            "type": "string"
          }
        },
        "required": [
          "AccountAddressIndicator",
          "Registration",
          "Alternate",
          "Seasonal"
        ],
        "title": "UpdateAccountAddressRequest",
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "description": "",
      "name": "Misc"
    }
  ]
}