{
  "openapi": "3.0.3",
  "info": {
    "title": "SATORI API",
    "version": "4.0.0",
    "description": "SATORI marketing automation API for customer registration, upsert, and deletion.",
    "x-jentic-source-url": "https://satorihelp.zendesk.com/hc/ja/articles/360000473393",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.satr.jp/api/v4/public"
    }
  ],
  "paths": {
    "/customer/registration.json": {
      "post": {
        "operationId": "registerCustomer",
        "summary": "Register a new customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer registered"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Register a new customer"
      }
    },
    "/customer/upsert.json": {
      "post": {
        "operationId": "upsertCustomer",
        "summary": "Create or update a customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CustomerInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer upserted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create or update a customer"
      }
    },
    "/customer/delete.json": {
      "post": {
        "operationId": "deleteCustomer",
        "summary": "Delete a customer",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CustomerDeleteInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete a customer"
      }
    }
  },
  "components": {
    "schemas": {
      "CustomerInput": {
        "type": "object",
        "required": [
          "user_key",
          "user_secret",
          "company_key",
          "company_secret",
          "customer[identity_type]",
          "customer[email]",
          "customer[collection_route]"
        ],
        "properties": {
          "user_key": {
            "type": "string"
          },
          "user_secret": {
            "type": "string"
          },
          "company_key": {
            "type": "string"
          },
          "company_secret": {
            "type": "string"
          },
          "customer[identity_type]": {
            "type": "string",
            "enum": [
              "email",
              "hashcode"
            ]
          },
          "customer[email]": {
            "type": "string"
          },
          "customer[collection_route]": {
            "type": "string"
          },
          "customer[last_name]": {
            "type": "string"
          },
          "customer[first_name]": {
            "type": "string"
          },
          "customer[company]": {
            "type": "string"
          },
          "customer[tel]": {
            "type": "string"
          }
        }
      },
      "CustomerDeleteInput": {
        "type": "object",
        "required": [
          "user_key",
          "user_secret",
          "company_key",
          "company_secret",
          "customer[email]"
        ],
        "properties": {
          "user_key": {
            "type": "string"
          },
          "user_secret": {
            "type": "string"
          },
          "company_key": {
            "type": "string"
          },
          "company_secret": {
            "type": "string"
          },
          "customer[email]": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Customers"
    }
  ]
}
