{
  "openapi": "3.0.3",
  "info": {
    "title": "CUSIP Data API",
    "version": "1.0.0",
    "contact": {
      "name": "CUSIP data API Support",
      "url": "https://www.access.cusip.com/access/help-center/contact-logged-out.html",
      "email": "cusip_products@cusip.com"
    },
    "description": "A CUSIP is a nine-character numeric or alphanumeric code that uniquely identifies a financial security for the purposes of facilitating clearing and settlement of trades. CUSIP is a registered trademark of the American Bankers Association. CUSIP Global Services (CGS) is managed on behalf of the American Bankers Association by FactSet Research Systems Inc. CGS identifiers cover a wide range of global financial instruments, including extensive equity and debt issues, derivatives, syndicated loans and U.S. / Canadian listed equity options and single stock futures.\nSome useful links:\n- [CUSIP](https://www.cusip.com/)\n- [American Bankers Association](https://www.aba.com/)",
    "x-jentic-source-url": "https://www.cusip.com/swagger/yaml/cusip/api-docs.yaml"
  },
  "servers": [
    {
      "url": "https://api.cusip.com/api"
    }
  ],
  "paths": {
    "/cusip/search": {
      "get": {
        "tags": [
          "CUSIP"
        ],
        "summary": "Search the CUSIP database using various filter parameters",
        "operationId": "searchCusip",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The syntax is `<search field>:<search value>` pair separated by colon and multiple `<search field>:<search value>` pairs can be connected by AND, OR and NOT logical operator.\n#### Supported Search Fields  \n          \n| Search Field   | Data Type | Example        | Comment |\n|--------------  |-----------|------------  |-----|\n| cusip          | string    | cusip:023135106         ||\n| isin           | string    | isin:US0231351067         |International Securities Identification Number (ISIN) is an alpha numeric code that contains 12 characters|\n| issuerName     | string    | issuerName:FactSet         |Legal name of entity issuing securities|\n| issuerNumber    | string    | issuerNumber:023135         |The first six characters of a CUSIP identify the issuer of the security, whether a company, government agency or municipality.|\n| issuerGroup     | string    | issuerGroup:C         |C for CUSIP, I for CINS and P for Private Placement Number (PPN)|\n| issuerType     | string    | issuerType:C         |C for Corporate, M for Municipal and G for Government|\n| issuerState     | string    | issuerState:NJ         |The two-letter code used to identify U.S. states|\n| issuerLogDate   | date    | issuerLogDate:[2023-10-29 TO 2023-11-30]<br>issuerLogDate:[2023-10-29 08:07:00 TO 2023-11-30 08:07:00] |Support both dates and timestamps.|\n| domicile   | string    | domicile:US        |Two-character ISO domicile code; country of incorporation for an issuer|\n| currencyCode   | string    | currencyCode:USD      |Three-character ISO currency code for a security.|\n| issueNumber  | string    | issueNumber:10        |The seventh and eighth characters of a CUSIP uniquely identify each issue from a given issuer.|\n| issueDescription  | string  |issueDescription:COM |Name of security being issued.|\n| issueType | string  | issueType:E  issueType:D | E for equity security, D for debt security|\n| issueGroup   | string    | issueGroup:V         |C for CUSIP, I for CINS, P for Private Placement Number (PPN), V for private equity/credit |\n| rate  |number | rate:[3.1 TO 3.4] |Coupon rate; the annual rate of interest payable on a security, expressed as a percentage.|\n| maturityDate  | date  |maturityDate:[2016-10-29 TO 2016-11-30]|The date the principal comes due and payable to the security holder.| \n| datedDate | date  |datedDate:[2016-10-29 TO 2016-11-30]  | The datedDate is also known as settlement date. It is the specific date from which interest begins to accrue on a fixed-income security|\n| issueLogDate  | date  |issueLogDate:[2016-10-29 TO 2016-11-30]<br>issueLogDate:[2016-10-29 08:07:00 TO 2016-11-30 18:07:00]|The date/time when CUSIP data is updated. Support both dates and timestamps.| \n| issueReleaseDate  | date  |issueReleaseDate:[2023-10-29 TO 2023-11-30]<br>issueReleaseDate:[2022-10-29 08:07:00 TO 2022-11-30 18:07:00]|The date/time when CUSIP data is created and released. Support both dates and timestamps.| \n| tickerSymbol  |string |tickerSymbol:AMZN<br/>tickerSymbol:(AMZN FDS MSFT) | Support multiple ticker symbols search. | \n| mic |string |mic:XNAS | ISO 10383 operating MIC code|\n| whereTraded |string |whereTraded:Nasdaq | Exchange name |\n| usCfiCode |string |usCfiCode:ESVUVR  |Accept six-letter US CFI (Classification of Financial Instruments) code|\n| isoCfiCode  |string |isoCfiCode:ESVUFR |Accept six-letter ISO CFI (Classification of Financial Instruments) code| \n| lei |string |lei:ZXTILKJKG63JELOEG630<br/>lei:(ZXTILKJKG63JELOEG630 549300PCYWUCTLW37P50 2549009Y3WZIHLCUDO77) |The Legal Entity Identifier (LEI) is a 20-character, alpha-numeric code based on the ISO 17442 standard. Support multiple LEI search. |\n| section13f  |string |section13f:Y | CUSIP as disclosed in the quarterly SEC Form 13F filing |",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specifies the maximum number of CUSIP records to return in the response.\n\nAccepts any integer between 1 and 10,000. Default is 10,000.\n\nFor trial users, the maximum number of records in the response is limited to 5\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10000,
              "minimum": 1,
              "maximum": 10000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number in the search results.  Use this parameter to\nnavigate to paginated page.\n\nExample: Any integer between 1 and 30.  Default:1\n\nNote: If the maximum `pageSize` and `page` number are used, the API can return up to 300,000 records per CUSIP search.   \n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "maximum": 30
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the field and direction for sorting the API response. \nFormat: `<sort field> <sort direction>` (e.g., \"cusip asc\" or \"rate desc\").\nIf the sort direction is not provided, ascending (`asc`) is used by default.\n\nSupported sort fields:\n  - cusip\n  - isin\n  - issuerName\n  - issuerNumber\n  - maturityDate\n  - rate\n  - issueLogDate\n  - issueReleaseDate\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "issuerName desc"
            }
          },
          {
            "name": "fieldList",
            "in": "query",
            "description": "Specify the response fields by providing a comma-separated list of field names.\n\nAvailable fields:\n  - cusip\n  - isin\n  - issuerNumber\n  - issueNumber\n  - issuerName\n  - domicile\n  - issuerGroup\n  - issuerStatus\n  - issuerType\n  - issuerState\n  - issuerLogDate\n  - currencyCode\n  - issueDescription\n  - issueType\n  - issueGroup\n  - rate\n  - maturityDate\n  - datedDate\n  - issueLogDate\n  - issueReleaseDate\n  - tickerSymbol\n  - mic\n  - whereTraded\n  - usCfiCode\n  - isoCfiCode\n  - section13f\n\nTo return all CUSIP attributes, use: `fieldList=all` \n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "cusip,issuerName,issueDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP search result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP search API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusip/{cusip}": {
      "get": {
        "tags": [
          "CUSIP"
        ],
        "summary": "Retrieve CUSIP data for a given CUSIP identifier",
        "operationId": "getCusip",
        "parameters": [
          {
            "name": "cusip",
            "in": "path",
            "description": "The 9-character CUSIP identifier to look up.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 9,
              "maxLength": 9,
              "example": 303075105
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusip/{cusipList}": {
      "get": {
        "tags": [
          "CUSIP"
        ],
        "summary": "Retrieve CUSIP data for the comma-delimited CUSIP identifiers",
        "operationId": "getCusipList",
        "parameters": [
          {
            "name": "cusipList",
            "in": "path",
            "description": "Comma-delimited CUSIP identifiers.",
            "required": true,
            "schema": {
              "pattern": ".{19,}",
              "type": "string",
              "example": "303075105,023135106"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusip/{issuerNumber}": {
      "get": {
        "tags": [
          "CUSIP"
        ],
        "summary": "Retrieve CUSIP issuer level data for a given issuer CUSIP",
        "operationId": "getCusipByIssuerNumber",
        "parameters": [
          {
            "name": "issuerNumber",
            "in": "path",
            "description": "The 6-character CUSIP issuer identifier to look up.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 6,
              "maxLength": 6,
              "example": 303075
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP Issuer result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/isin/{isin}": {
      "get": {
        "tags": [
          "CUSIP"
        ],
        "summary": "Retrieve CUSIP data using an ISIN",
        "description": "Returns CUSIP information for a given ISIN identifier.",
        "operationId": "getCusipDataByIsin",
        "parameters": [
          {
            "name": "isin",
            "in": "path",
            "description": "The 12-character ISIN (International Securities Identification Number) to look up.",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 12,
              "maxLength": 12,
              "example": "US3030751057"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/isin/{isinList}": {
      "get": {
        "tags": [
          "CUSIP"
        ],
        "summary": "Retrieve CUSIP data for the comma-delimited ISIN identifiers",
        "operationId": "getCusipDataByIsinList",
        "parameters": [
          {
            "name": "isinList",
            "in": "path",
            "description": "Comma-delimited ISIN Identifiers",
            "example": "US3030751057,US0231351067",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusip/loan/{cusip}": {
      "get": {
        "tags": [
          "CUSIP for Syndicated Loans"
        ],
        "summary": "Retrieve syndicated loan CUSIP data by CUSIP",
        "operationId": "getLoanCusipDataByCusip",
        "parameters": [
          {
            "name": "cusip",
            "in": "path",
            "description": "Give a valid loan CUSIP Identifier",
            "example": "48128CAA7",
            "required": true,
            "schema": {
              "pattern": ".{9}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanCusipApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusip/loan/search": {
      "get": {
        "tags": [
          "CUSIP for Syndicated Loans"
        ],
        "summary": "Search syndicated loan CUSIP data using various filter parameters",
        "operationId": "searchLoanCusipData",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The syntax is `<search field>:<search value>` pair separated by colon and multiple `<search field>:<search value>` pairs can be connected by AND, OR and NOT logical operator.\n#### Supported Search Fields\n| Search Field   | Data Type | Example        | Comment |\n|--------------  |-----------|------------  |-----|\n| cusip          | string    | cusip:023135106         ||\n| borrowerName   | string    | borrowerName:Bank         ||\n| borrowerIsoDomicile | string    | borrowerIsoDomicile:US    ||\n| borrowerStateCode    | string    | borrowerStateCode:DE         ||\n| isoCurrency     | string    | isoCurrency:USD         ||\n| maturityDate     | date    | maturityDate:[2022-09-02 TO 2028-09-02]         ||\n| facilityLogDate     | date    | facilityLogDate:[2024-09-02 TO 2024-09-02]         ||                        ",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specifies the maximum number of CUSIP records to return in the response.\n\nAccept any integer between 1 and 10000. Default:1000\n\nFor trial users, the maximum number of records in the response is limited to 5",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the field and direction for sorting the API response. \nFormat: `<sort field> <sort direction>` (e.g., \"cusip asc\" or \"borrowerName desc\").\nThe default sort field is cusip. If the sort direction is not provided, ascending (`asc`) is used by default.\n\nSupported sort fields:\n  - cusip\n  - borrowerName              \n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number in the search result.  User uses this parameter to navigate to next page.\n\nExample: Any integer between 1 and 10.  Default:1\n\n*If user uses maximum pageSize and page number, API can return up to 100,000 records per API call",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP Issuer result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanCusipApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusip/option/{cusip_or_cusipList}": {
      "get": {
        "tags": [
          "CUSIP for Options and Futures"
        ],
        "summary": "Retrieve option and future CUSIP data by CUSIP or comma delitmited CUSIP list",
        "operationId": "getOptionCusipDataByCusip",
        "parameters": [
          {
            "name": "cusip_or_cusipList",
            "in": "path",
            "description": "Give a valid option or future CUSIP Identifier          ",
            "example": "00C000BX3,00C000BY1",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionCusipApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusip/option/search": {
      "get": {
        "tags": [
          "CUSIP for Options and Futures"
        ],
        "summary": "Search option and future CUSIP data using various filter parameters",
        "operationId": "searchOptionCusipData",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The syntax is `<search field>:<search value>` pair separated by colon and multiple `<search field>:<search value>` pairs can be connected by AND, OR and NOT logical operator.\n#### Supported Search Fields\n| Search Field   | Data Type | Example        | Comment |\n|--------------  |-----------|------------  |-----|\n|  cusip          | string    | cusip:00E01FUX6         ||\n|  isin          | string    | isin:US00E01FUX60         ||\n|  underlyingCusip          | string    | underlyingCusip:00206R102         ||\n|  underlyingIsin          | string    | underlyingIsin:US00206R1023         ||\n|  contractLevelFoIndicator    | string    | contractLevelFoIndicator:C         | C = Call Option, P = Put Option, F = Futures Contract| \n|  occCode   | string    | occCode:\"T     260116C00022000\"         ||\n| opraOsiCode   | string    | opraOsiCode:\"T    A1626D220000\"         ||\n| underlyingSymbol | string    | underlyingSymbol:T    ||\n| contractName    | string    | contractName:\"AT&T Incorporated\"         ||\n| strikePrice     | string    | strikePrice:20         ||\n| promptDate     | date    | promptDate:[2022-09-02 TO 2028-09-02]         ||\n\n                       ",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Specifies the maximum number of CUSIP records to return in the response.\n\nAccept any integer between 1 and 10000. Default:1000\n\nFor trial users, the maximum number of records in the response is limited to 5",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the field and direction for sorting the API response. \nFormat: `<sort field> <sort direction>` (e.g., \"optionFutureCusip asc\" or \"contractName desc\").\nThe default sort field is cusip. If the sort direction is not provided, ascending (`asc`) is used by default.\n\nSupported sort fields:\n  - cusip\n  - isin\n  - underlyingCusip\n  - underlyingIsin\n  - occCode\n                \n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number in the search result.  User uses this parameter to navigate to next page.\n\nExample: Any integer between 1 and 10.  Default:1\n\n*If user uses maximum pageSize and page number, API can return up to 100,000 records per API call",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP Issuer result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionCusipApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusip/associatedIssuer/search": {
      "get": {
        "tags": [
          "CUSIP"
        ],
        "summary": "Search CUSIP data using associated issuer filters",
        "operationId": "getAssociatedIssuer",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The syntax is `<search field>:<search value>` pair separated by colon and multiple `<search field>:<search value>` pairs can be connected by AND, OR and NOT logical operator.\n#### Supported Search Fields\n| Search Field   | Data Type | Example        | Comment |\n|--------------  |-----------|------------  |-----|\n| issuerNumber   | string    | issuerNumber:023135         ||",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The max number of records in the response\n\nAny integer between 1 and 10000. Default:1000\n\nFor Trial user: Max no of records in the response is 5",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number in the search result.  User uses this parameter to navigate to next page.\n\nExample: Any integer between 1 and 10.  Default:1\n\n*If user uses maximum pageSize and page number, API can return up to 100,000 records per API call",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP Issuer result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssociatedIssuerApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusip/corporateAction/search": {
      "get": {
        "tags": [
          "CUSIP"
        ],
        "summary": "Search CUSIP data using corporate action filters",
        "operationId": "getCorporateActionCusip",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The syntax is `<search field>:<search value>` pair separated by colon and multiple `<search field>:<search value>` pairs can be connected by AND, OR and NOT logical operator.\n#### Supported Search Fields\n| Search Field   |  Data Type  | Example        | Comment |\n|--------------  |-----------|------------  |-----|\n| type  | string| type:\"Name Change\" |Corporate action type - \"Name Change\", \"Reverse Split\", \"Reorganized\", \"Merged\", \"Issue Reorganized\"|\n| issuerName    | string| issuerName:Amazon   |Issuer name |\n| effectiveDate | date  | effectiveDate:[2023-10-29 TO 2023-11-30]     | Corporate action effective date |\n| logDate | date  | logDate:[2023-10-29 TO 2023-11-30]<br>logDate:[2023-10-29 08:07:00 TO 2023-10-29 10:07:00]  | Support both day and timestamp |            ",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The max number of records in the response\n\nAny integer between 1 and 10000. Default:10000\n\nFor Trial user: Max no of records in the response is 5",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number in the search result.  User uses this parameter to navigate to next page.\n\nExample: Any integer between 1 and 10.  Default:1\n\n*If user uses maximum pageSize and page number, API can return up to 100,000 records per API call",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CorporateActionApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusipTickerSymbol/cusip/{cusip}": {
      "get": {
        "tags": [
          "CUSIP for Ticker Symbols"
        ],
        "summary": "Retrieve ticker symbol and exchange CUSIP data by CUSIP",
        "operationId": "getTickerSymbolByCUSIP",
        "parameters": [
          {
            "name": "cusip",
            "in": "path",
            "description": "Give a valid CUSIP identifier",
            "example": 303075105,
            "required": true,
            "schema": {
              "pattern": ".{9}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP Issuer result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CusipTickerSymbolApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusipTickerSymbol/isin/{isin}": {
      "get": {
        "tags": [
          "CUSIP for Ticker Symbols"
        ],
        "summary": "Retrieve ticker symbol and exchange CUSIP data by ISIN",
        "operationId": "getTickerSymbolByISIN",
        "parameters": [
          {
            "name": "isin",
            "in": "path",
            "description": "Give a valid ISIN identifier",
            "example": "US3030751057",
            "required": true,
            "schema": {
              "pattern": ".{12}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of CUSIP Issuer result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CusipTickerSymbolApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusipTickerSymbol/ticker/{tickerSymbol}": {
      "get": {
        "tags": [
          "CUSIP for Ticker Symbols"
        ],
        "summary": "Retrieve ticker symbol and exchange CUSIP data by ticker symbol",
        "operationId": "getTickerSymbolDataByTickerSymbol",
        "parameters": [
          {
            "name": "tickerSymbol",
            "in": "path",
            "description": "Give a valid ticker symbol",
            "example": "FDS",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of ticker symbol and exchange data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CusipTickerSymbolApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusip/vcm/{cusip}": {
      "get": {
        "tags": [
          "CUSIP for Carbon Credits"
        ],
        "summary": "Retrieve Carbon Credit CUSIP data by CUSIP",
        "operationId": "getVcmCusipDataByCusip",
        "parameters": [
          {
            "name": "cusip",
            "in": "path",
            "description": "a valid VCM CUSIP Identifier",
            "example": "0C08RYAA1",
            "required": true,
            "schema": {
              "pattern": ".{9}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of Carbon Credit CUSIP data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcmCusipApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/cusip/vcm/search": {
      "get": {
        "tags": [
          "CUSIP for Carbon Credits"
        ],
        "summary": "Search Carbon Credit CUSIP data using various filter parameters",
        "operationId": "searchVcmCusipData",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The syntax is `<search field>:<search value>` pair separated by colon and multiple `<search field>:<search value>` pairs can be connected by AND, OR and NOT logical operator.\n#### Supported Search Fields\n| Search Field   | Data Type | Example        | Comment |\n|--------------  |-----------|------------  |-----|\n| cusip          | string    | cusip:0C08RYAA1   ||\n| projectName    | string    | projectName:The Nature Conservancy Washington Rainforest Renewal Project   ||\n| projectId      | string    | projectId:ACR588    |Project Id in Registry |\n| registry       | string    | registry:\"American Carbon Registry\"<br>registry:\"Climate Action Reserve\"<br>       registry:\"Gold Standard\"<br>registry:\"Verra\"<br>registry:\"Clean Development Mechanism\"<br>||\n| country        | string    | country:US         |Two-letter country codes|\n| developerName  | string    | developerName: 3Degrees Group        ||\n| developerLei    | string    | developerLei:529900DY2VVYPP6XP863    |Project developer's Legal Entity Identifier(LEI) |\n| developerCabre  | string    | developerCabre:US063902H3         ||\n| vintageYear    | int       | vintageYear:2019         ||\n| activityType   | string    | activityType:Avoidance<br>activityType:Removal<br>activityType:(\"Avoidance & Removal\")  ||\n| sector   | string    | sector:\"Soil Carbon & Agriculture\"<br>sector:\"Blue Carbon\"<br>sector:\"Forestry\"<br>sector:\"Industrial Emissions\"<br>sector:\"Waste Treatments\"<br>sector:\"Transport\"<br> sector:\"Energy Efficient Devices\"<br>sector:\"Renewable Energy\"<br>sector:\"Energy Efficiency\"<br>sector:\"Energy Infrastructure\"<br> sector:\"Water\"<br>sector:\"Unknown\"<br>sector:\"Waste Reduction & Recycling\"<br>sector:\"Manufacturing Industries\"<br>sector:\"Non-Renewable Energy\" ||\n| rating         | string    | rating:AAA<br>rating:AA<br>rating:A<br>rating:BBB<br>rating:BB<br>rating:B<br>rating:C<br>rating:D     | |\n| ratingWatch        | string    | ratingWatch:Y<br>ratingWatch:N    | |\n| totalCredit         | int    | totalCredit:[100000 TO 300000]         ||\n| outstandingCredit   | int    | outstandingCredit:[20000 TO 40000]         ||\n| addDate            | date    | addDate:[2024-03-02 TO 2024-09-02]         ||\n| updateDate         | date    | updateDate:[2024-09-02 TO 2024-09-02]         ||                                                    ",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The max number of records in the response\n\nAny integer between 1 and 10000. Default:1000",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specifies the field and direction for sorting the API response. \nFormat: `<sort field> <sort direction>` (e.g., \"cusip asc\" or \"projectId desc\").\nThe default sort field is cusip. If the sort direction is not provided, ascending (`asc`) is used by default.\n\nSupported sort fields:\n  - cusip\n  - projectId\n  - registry\n  - projectType\n  - country           \n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number in the search result.  User uses this parameter to navigate to next page.\n\nExample: Any integer between 1 and 10.  Default:1",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of Carbon Credit CUSIP data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcmCusipApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "CUSIP API call is unauthorized."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/CusipApiResponse"
          }
        }
      },
      "CusipApiResponse": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ApiResponseHeader"
          },
          "error": {
            "$ref": "#/components/schemas/ApiResponseError"
          },
          "cusipRecords": {
            "type": "array",
            "xml": {
              "name": "cusipRecords",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/CusipRecord"
            }
          }
        },
        "xml": {
          "name": "response"
        }
      },
      "ApiResponseError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "supportEmail": {
            "type": "string"
          },
          "supportPhone": {
            "type": "string"
          }
        }
      },
      "ApiResponseHeader": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "totalCount": {
            "type": "integer",
            "example": 1
          },
          "queryTime": {
            "type": "integer",
            "example": 90
          },
          "query": {
            "type": "string",
            "example": "/cusip/search?q=cusip:303075105"
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "example": 1000
          }
        }
      },
      "CusipRecord": {
        "type": "object",
        "properties": {
          "cusip": {
            "type": "string",
            "pattern": "^[A-Z0-9]{9}$",
            "example": 303075105
          },
          "issuerNumber": {
            "type": "string",
            "pattern": "^[A-Z0-9]{6}$",
            "example": 303075
          },
          "issuerName": {
            "type": "string",
            "example": "FACTSET RESH SYS INC"
          },
          "domicile": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "example": "US"
          },
          "issuerGroup": {
            "type": "string",
            "pattern": "^[A-Z]{1}$",
            "example": "C"
          },
          "issuerStatus": {
            "type": "string",
            "pattern": "^[A-Z]{1}$",
            "example": "A"
          },
          "issuerType": {
            "type": "string",
            "pattern": "^[A-Z]{1}$",
            "example": "C"
          },
          "issuerState": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "example": "DE"
          },
          "issuerLogDate": {
            "type": "string",
            "example": "08/25/2017"
          },
          "issuerReleaseDate": {
            "type": "string",
            "example": "06/10/1996"
          },
          "issuerTransactionCode": {
            "type": "string",
            "example": "L"
          },
          "cabre": {
            "type": "string",
            "example": "US066405S1"
          },
          "legalEntityName": {
            "type": "string",
            "example": "Northeast Bank"
          },
          "lei": {
            "type": "string",
            "pattern": "^[A-Z0-9]{20}$",
            "example": "549300F0LV9TSW34E306",
            "description": "20-character alphanumeric code based on the ISO 17442 standard that uniquely identifies distinct legal entities"
          },
          "spac": {
            "type": "string",
            "example": "Y",
            "description": "Special Purpose Acquisition Company"
          },
          "issuerAdl": {
            "type": "string",
            "description": "Addtional issuer name"
          },
          "issueNumber": {
            "type": "string",
            "example": 10
          },
          "issueCheckDigit": {
            "type": "string",
            "example": 5
          },
          "isin": {
            "type": "string",
            "pattern": "^[A-Z0-9]{12}$",
            "example": "US3030751057"
          },
          "issueGroup": {
            "type": "string",
            "example": "C"
          },
          "issueType": {
            "type": "string",
            "example": "Equity"
          },
          "issueDescription": {
            "type": "string",
            "example": "COM"
          },
          "issueStatus": {
            "type": "string",
            "example": "A"
          },
          "issueReleaseDate": {
            "type": "string",
            "example": "09/06/2024"
          },
          "issueLogDate": {
            "type": "string",
            "example": "09/06/2024"
          },
          "issueLogTimestamp": {
            "type": "string",
            "example": "09/06/2024 15:28:57"
          },
          "maturityDate": {
            "type": "string",
            "example": "10/01/2035",
            "description": "The maturity date in MM/DD/YYYY format."
          },
          "partialMaturity": {
            "type": "string",
            "example": 2035
          },
          "datedDate": {
            "type": "string",
            "example": "10/01/2025",
            "description": "The dated date in MM/DD/YYYY format."
          },
          "rate": {
            "type": "number",
            "example": 7.25
          },
          "currencyCode": {
            "type": "string",
            "example": "USD"
          },
          "securityTypeDescription": {
            "type": "string",
            "example": "Revenue"
          },
          "issueObligorName": {
            "type": "string",
            "example": "TOCCOA GA WTR & SWR REV"
          },
          "issueObligorCC6": {
            "type": "string",
            "example": 888888
          },
          "issueCoObligorName": {
            "type": "string"
          },
          "issueCoObligorCC6": {
            "type": "string"
          },
          "fisn": {
            "type": "string",
            "example": "NORTHEAST BK PO/4.05 CTF DEP 202609"
          },
          "usCfiCode": {
            "type": "string",
            "example": "DBFUFR"
          },
          "isoCfiCode": {
            "type": "string",
            "example": "DBFUFR"
          },
          "guarantee": {
            "type": "string",
            "example": "Unsecured"
          },
          "tickerSymbol": {
            "type": "string",
            "example": "FDS"
          },
          "mic": {
            "type": "string",
            "example": "XNAS"
          },
          "whereTraded": {
            "type": "string",
            "example": "NYSE"
          },
          "votingRights": {
            "type": "string",
            "example": "Voting"
          },
          "warrantAssets": {
            "type": "string"
          },
          "warrantStatus": {
            "type": "string"
          },
          "warrantType": {
            "type": "string"
          },
          "sourceDocument": {
            "type": "string",
            "example": "TERM SHEET"
          },
          "bondForm": {
            "type": "string",
            "example": "Registered"
          },
          "rateType": {
            "type": "string",
            "example": "Fixed Rate"
          },
          "preferredType": {
            "type": "string",
            "example": "Non Redeemable Exchangeable Extendible"
          },
          "redemption": {
            "type": "string",
            "example": "Fixed Maturity"
          },
          "callable": {
            "type": "string",
            "example": "N"
          },
          "putable": {
            "type": "string",
            "example": "Y"
          },
          "firstCouponDate": {
            "type": "string",
            "example": "10/01/2025",
            "description": "The first coupon date in MM/DD/YYYY format."
          },
          "paymentFrequency": {
            "type": "string",
            "example": "Semi Annually"
          },
          "underwriter": {
            "type": "string",
            "example": "MULTI BANK SECURITIES"
          },
          "bondCounsel": {
            "type": "string",
            "example": "Cravath Swaine & Moore"
          },
          "financialAdvisor": {
            "type": "string",
            "example": "SECURITY BENEFIT GROUP OF COMPANIES"
          },
          "auditor": {
            "type": "string"
          },
          "payingAgent": {
            "type": "string"
          },
          "tenderAgent": {
            "type": "string"
          },
          "transferAgent": {
            "type": "string"
          },
          "offeringAmount": {
            "type": "number",
            "example": 43.5
          },
          "offeringAmountCode": {
            "type": "string",
            "example": "Million"
          },
          "municipalSaleDate": {
            "type": "string",
            "example": "10/01/2025"
          },
          "saleType": {
            "type": "string",
            "example": "C"
          },
          "closingDate": {
            "type": "string",
            "example": "10/01/2025",
            "description": "The closing date in MM/DD/YYYY format."
          },
          "portal": {
            "type": "string"
          },
          "sponsoring": {
            "type": "string"
          },
          "issueState": {
            "type": "string",
            "example": "NY"
          },
          "paymentStatus": {
            "type": "string",
            "example": "Fully Pd. PAR Value"
          },
          "originalCusip": {
            "type": "string"
          },
          "depositoryEligible": {
            "type": "string",
            "example": "Y"
          },
          "bankQualified": {
            "type": "string",
            "example": false
          },
          "cpInstitutionType": {
            "type": "string"
          },
          "alternativeMinTax": {
            "type": "string",
            "example": false
          },
          "initialPublicOffering": {
            "type": "string",
            "example": "Y"
          },
          "govermentStimulusProgram": {
            "type": "string",
            "example": "NA"
          },
          "greenBondType": {
            "type": "string",
            "example": "Green Bond / Sustainability Bond"
          },
          "greenBondCertifierVerifier": {
            "type": "string",
            "example": "Issuer Designated"
          },
          "section13f": {
            "type": "string",
            "example": "Y"
          },
          "etfType": {
            "type": "string"
          },
          "incomeType": {
            "type": "string"
          },
          "insuredBy": {
            "type": "string"
          },
          "ownershipRestrictions": {
            "type": "string",
            "example": "Free (Unrestricted)"
          },
          "taxable": {
            "type": "string",
            "example": false
          },
          "sinkingFund": {
            "type": "string",
            "example": false
          },
          "remarketed": {
            "type": "string",
            "example": false
          },
          "refundable": {
            "type": "string",
            "example": false
          },
          "preRefund": {
            "type": "string",
            "example": false
          },
          "enhancements": {
            "type": "string"
          },
          "fundDistrbPolicy": {
            "type": "string"
          },
          "fundInvPolicy": {
            "type": "string"
          },
          "fundType": {
            "type": "string"
          }
        }
      },
      "AssociatedIssuerApiResponse": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/AssociatedIssuerResponse"
          }
        }
      },
      "AssociatedIssuerResponse": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ApiResponseHeader"
          },
          "error": {
            "$ref": "#/components/schemas/ApiResponseError"
          },
          "associatedIssuers": {
            "type": "array",
            "xml": {
              "name": "associatedIssuers",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/AssociatedIssuerRecord"
            }
          }
        },
        "xml": {
          "name": "response"
        }
      },
      "AssociatedIssuerRecord": {
        "type": "object",
        "properties": {
          "parentIssuer": {
            "type": "string",
            "example": 138108
          },
          "parentIssuerName": {
            "type": "string",
            "example": "CANTERBURY CORPORATE SVCS INC"
          },
          "associatedIssuer": {
            "type": "string",
            "example": 138108
          },
          "associatedIssuerName": {
            "type": "string",
            "example": "CANTERBURY CONSULTING GROUP INC"
          },
          "associatedIssuerType": {
            "type": "string",
            "example": "FORMERLY"
          },
          "effectiveDate": {
            "type": "string",
            "example": "06/12/1997"
          },
          "parentIssuerStatus": {
            "type": "string",
            "example": "A"
          },
          "associatedIssuerStatus": {
            "type": "string",
            "example": "A"
          },
          "addedDate": {
            "type": "string",
            "example": "11/29/2009"
          },
          "modifiedDate": {
            "type": "string",
            "example": "11/29/2009"
          }
        }
      },
      "CorporateActionApiResponse": {
        "type": "object",
        "properties": {
          "CorporateActionResponse": {
            "$ref": "#/components/schemas/CorporateActionResponse"
          }
        }
      },
      "CorporateActionResponse": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ApiResponseHeader"
          },
          "error": {
            "$ref": "#/components/schemas/ApiResponseError"
          },
          "corporateActionRecords": {
            "type": "array",
            "xml": {
              "name": "corporateActionRecords",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/CorporateActionRecord"
            }
          }
        },
        "xml": {
          "name": "response"
        }
      },
      "CorporateActionRecord": {
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "example": "05/05/2003",
            "description": "The effective date in MM/DD/YYYY format."
          },
          "logDate": {
            "type": "string",
            "example": "05/12/2003 14:27:53",
            "description": "The log date in MM/DD/YYYY HH:mm:ss format."
          },
          "type": {
            "type": "string",
            "example": "Name Change",
            "enum": [
              "Name Change",
              "Reverse Split",
              "Reorganized",
              "Merged",
              "Issue Reorganized"
            ]
          },
          "newCusip": {
            "type": "string",
            "pattern": "^[A-Z0-9]{9}$",
            "example": "038743100"
          },
          "newIssuerName": {
            "type": "string",
            "example": "ARAWAK ENERGY CORP"
          },
          "newCusipLink": {
            "type": "string",
            "format": "uri",
            "example": "https://api.cusip.com/api/cusip/038743100"
          },
          "oldCusip": {
            "type": "string",
            "pattern": "^[A-Z0-9]{9}$",
            "example": "00002T104"
          },
          "oldIssuerName": {
            "type": "string",
            "example": "A&B GEOSCIENCE CORP"
          },
          "oldCusipLink": {
            "type": "string",
            "format": "uri",
            "example": "https://api.cusip.com/api/cusip/00002T104"
          }
        }
      },
      "LoanCusipApiResponse": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/LoanCusipResponse"
          }
        }
      },
      "LoanCusipResponse": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ApiResponseHeader"
          },
          "error": {
            "$ref": "#/components/schemas/ApiResponseError"
          },
          "loanCusipRecords": {
            "type": "array",
            "xml": {
              "name": "loanCusipRecords",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/LoanCusipRecord"
            }
          }
        },
        "xml": {
          "name": "response"
        }
      },
      "LoanCusipRecord": {
        "type": "object",
        "properties": {
          "dealCusip": {
            "type": "string",
            "pattern": "^[A-Z0-9]{9}$",
            "example": "48128CAA7"
          },
          "dealIsin": {
            "type": "string",
            "pattern": "^[A-Z0-9]{12}$",
            "example": "US48128CAA71"
          },
          "borrowerIssuerNumber": {
            "type": "string",
            "pattern": "^[A-Z0-9]{6}$",
            "example": "48128C"
          },
          "borrowerName": {
            "type": "string",
            "example": "JPMORGAN CHASE BK N A - SYNDICATED LNS"
          },
          "dealAdl": {
            "type": "string",
            "example": "CORRECT BORROWER NAME IS JPMORGAN CHASE BANK NA COMMINGLED PENSION TR FDS"
          },
          "dealIsoCurrency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "example": "USD"
          },
          "isoCurrency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "example": "USD"
          },
          "borrowerIsoDomicile": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "example": "US"
          },
          "borrowerStateCode": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "example": "NY"
          },
          "globalDealAmount": {
            "type": "integer",
            "example": 325000000
          },
          "dealLinkage": {
            "type": "string",
            "example": "48128CAA"
          },
          "creditAgreementDate": {
            "type": "string",
            "example": "05/25/2017",
            "description": "The credit agreement date in MM/DD/YYYY format."
          },
          "agentId": {
            "type": "string",
            "example": "BNS019"
          },
          "administrativeAgent": {
            "type": "string",
            "example": "THE BANK OF NOVA SCOTIA"
          },
          "dealReleaseDate": {
            "type": "string",
            "example": "05/26/2017"
          },
          "dealLogDate": {
            "type": "string",
            "example": "05/28/2020"
          },
          "dealEstimatedFlag": {
            "type": "string",
            "example": "F"
          },
          "cusip": {
            "type": "string",
            "pattern": "^[A-Z0-9]{9}$",
            "example": "48128CAB5"
          },
          "isin": {
            "type": "string",
            "pattern": "^[A-Z0-9]{12}$",
            "example": "US48128CAB54"
          },
          "issueNumber": {
            "type": "string",
            "example": "AB"
          },
          "issueCheckDigit": {
            "type": "string",
            "example": 5
          },
          "maturityDate": {
            "type": "string",
            "example": "05/20/2021",
            "description": "The maturity date in MM/DD/YYYY format."
          },
          "issueStatus": {
            "type": "string",
            "example": "A"
          },
          "facilityPurpose": {
            "type": "string",
            "example": ">364-Day Revolver"
          },
          "facilityType": {
            "type": "string",
            "example": "Revolver/Term"
          },
          "facilityAmount": {
            "type": "integer",
            "example": 325000000
          },
          "releaseDate": {
            "type": "string",
            "example": "05/26/2017"
          },
          "facilityLogDate": {
            "type": "string",
            "example": "05/28/2020"
          },
          "facilityEstimatedFlag": {
            "type": "string",
            "example": "F"
          }
        }
      },
      "OptionCusipApiResponse": {
        "type": "object",
        "properties": {
          "response": {
            "$ref": "#/components/schemas/OptionCusipResponse"
          }
        }
      },
      "OptionCusipResponse": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ApiResponseHeader"
          },
          "error": {
            "$ref": "#/components/schemas/ApiResponseError"
          },
          "cusipRecords": {
            "type": "array",
            "xml": {
              "name": "optionCusipRecords",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/OptionCusipRecord"
            }
          }
        },
        "xml": {
          "name": "response"
        }
      },
      "OptionCusipRecord": {
        "type": "object",
        "properties": {
          "cusip": {
            "type": "string",
            "pattern": "^[A-Z0-9]{9}$",
            "example": "00CAV8MF7"
          },
          "isin": {
            "type": "string",
            "pattern": "^[A-Z0-9]{12}$",
            "example": "US00CAV8MF71"
          },
          "underlyingCusip": {
            "type": "string",
            "pattern": "^[A-Z0-9]{9}$",
            "example": "00206R102"
          },
          "underlyingIsin": {
            "type": "string",
            "pattern": "^[A-Z0-9]{12}$",
            "example": "US00206R1023"
          },
          "occCode": {
            "type": "string",
            "pattern": "^[A-Z0-9 ]{21}$",
            "example": "T     260116C00010000"
          },
          "opraOsiCode": {
            "type": "string",
            "pattern": "^[A-Z0-9 ]{17}$",
            "example": "MSFT L1925C195000"
          },
          "underlyingSymbol": {
            "type": "string",
            "example": "T"
          },
          "contractName": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "example": "AT&T Incorporated"
          },
          "strikePrice": {
            "type": "number",
            "example": 10.0
          },
          "promptDate": {
            "type": "string",
            "example": "01/16/2026",
            "description": "The prompt date in MM/DD/YYYY format."
          },
          "contractLevelFoIndicator": {
            "type": "string",
            "enum": [
              "C",
              "P",
              "F"
            ],
            "example": "C",
            "description": "C = Call Option, P = Put Option, F = Futures Contract"
          },
          "exchangeCode": {
            "type": "string",
            "example": "AMEX",
            "description": "exchange code"
          },
          "isoMicCode": {
            "type": "string",
            "example": "XCBO"
          },
          "contractStartDate": {
            "type": "string",
            "example": "09/12/2023",
            "description": "The contract start date in MM/DD/YYYY format."
          },
          "isoCfiCode": {
            "type": "string",
            "pattern": "^[A-Z]{6}$",
            "example": "OCASPS"
          },
          "usCfiCode": {
            "type": "string",
            "pattern": "^[A-Z]{6}$",
            "example": "OCASPS"
          }
        }
      },
      "CusipTickerSymbolApiResponse": {
        "type": "object",
        "properties": {
          "CusipTickerSymbolApiResponse": {
            "$ref": "#/components/schemas/CusipTickerSymbolResponse"
          }
        }
      },
      "CusipTickerSymbolResponse": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ApiResponseHeader"
          },
          "error": {
            "$ref": "#/components/schemas/ApiResponseError"
          },
          "cusipTickerRecords": {
            "type": "array",
            "xml": {
              "name": "cusipTickerRecord",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/CusipTickerRecord"
            }
          }
        },
        "xml": {
          "name": "response"
        }
      },
      "CusipTickerRecord": {
        "type": "object",
        "properties": {
          "cusip": {
            "type": "string",
            "pattern": "^[A-Z0-9]{9}$",
            "example": 303075105
          },
          "isin": {
            "type": "string",
            "pattern": "^[A-Z0-9]{12}$",
            "example": "US3030751057"
          },
          "issuerNumber": {
            "type": "string",
            "pattern": "^[A-Z0-9]{6}$",
            "example": 303075
          },
          "issueNumber": {
            "type": "string",
            "pattern": "^[A-Z0-9]{2}$",
            "example": 10
          },
          "issueCheck": {
            "type": "string",
            "example": 5
          },
          "tickerSymbol": {
            "type": "string",
            "example": "FDS"
          },
          "exchangeName": {
            "type": "string",
            "example": "Mexican Stock Exchange"
          },
          "exchangeSymbol": {
            "type": "string",
            "example": "XMEX"
          },
          "primaryFlag": {
            "type": "string",
            "enum": [
              "1",
              "0"
            ],
            "example": "0",
            "description": "Indicates whether this is the primary ticker. \"1\" denotes primary, \"0\" denotes not primary."
          },
          "mic": {
            "type": "string",
            "example": "XNAS",
            "description": "ISO 10383 operating MIC code"
          },
          "currencyCode": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "USD"
          }
        }
      },
      "VcmCusipApiResponse": {
        "type": "object",
        "properties": {
          "VcmCusipResponse": {
            "$ref": "#/components/schemas/VcmCusipResponse"
          }
        }
      },
      "VcmCusipResponse": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ApiResponseHeader"
          },
          "error": {
            "$ref": "#/components/schemas/ApiResponseError"
          },
          "vcmCusipRecords": {
            "type": "array",
            "xml": {
              "name": "vcmCusipRecords",
              "wrapped": true
            },
            "items": {
              "$ref": "#/components/schemas/VcmCusipRecord"
            }
          }
        }
      },
      "VcmCusipRecord": {
        "type": "object",
        "properties": {
          "cusip": {
            "type": "string",
            "pattern": "^[A-Z0-9]{9}$",
            "example": "0C08RYAA1"
          },
          "projectId": {
            "type": "string",
            "example": "ACR574",
            "pattern": "^(ACR|CAR|VCS|GS|CDM|PE|CDC)[0-9]{1,10}$",
            "maxLength": 13
          },
          "registry": {
            "type": "string",
            "example": "American Carbon Registry",
            "enum": [
              "American Carbon Registry",
              "Climate Action Reserve",
              "Gold Standard",
              "Verra",
              "Clean Development Mechanism",
              "Cercarbono"
            ],
            "maxLength": 50
          },
          "projectName": {
            "type": "string",
            "example": "The Nature Conservancy Washington Rainforest Renewal Project",
            "maxLength": 400
          },
          "projectType": {
            "type": "string",
            "example": "Forest Carbon",
            "maxLength": 100,
            "description": "Registry-specific project type"
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "example": "US",
            "description": "ALPHA-2 ISO Country Code standard"
          },
          "state": {
            "type": "string",
            "example": "Washington",
            "maxLength": 100,
            "description": "Country state the project is active in, if available"
          },
          "registryStatus": {
            "type": "string",
            "example": "Registered",
            "maxLength": 100
          },
          "projectStatus": {
            "type": "string",
            "example": "suspended",
            "maxLength": 50
          },
          "webUrl": {
            "type": "string",
            "format": "uri",
            "example": "https://acr2.apx.com/mymodule/reg/prjView.asp?id1=574",
            "maxLength": 300
          },
          "projectStartDate": {
            "type": "string",
            "example": "06/15/2023",
            "description": "The project start date in MM/DD/YYYY format."
          },
          "developerName": {
            "type": "string",
            "example": "The Nature Conservancy",
            "maxLength": 200
          },
          "developerCabre": {
            "type": "string",
            "pattern": "^[A-Z0-9]{10}$",
            "example": "US063902H3"
          },
          "developerLei": {
            "type": "string",
            "pattern": "^[A-Z0-9]{20}$",
            "example": "549300GJ1IZME7V1JJ28",
            "description": "The Legal Entity Identifier (LEI) is a 20-character, alpha-numeric code based on the ISO 17442 standard"
          },
          "vintageYear": {
            "type": "integer",
            "format": "int32",
            "minimum": 1970,
            "maximum": 2199,
            "example": 2024,
            "description": "A 4-digit year (e.g., 2024)."
          },
          "methodology": {
            "type": "string",
            "example": "Improved Forest Management (IFM) on Non‐Federal U.S. Forestlands",
            "maxLength": 400
          },
          "activityType": {
            "type": "string",
            "example": "Removal",
            "enum": [
              "Avoidance",
              "Removal",
              "Avoidance & Removal"
            ],
            "maxLength": 25,
            "description": "Classification of activity type"
          },
          "creditType": {
            "type": "string",
            "example": "ERT;ROC;CRT;VER",
            "maxLength": 20,
            "description": "Credit unit type, registry-specific"
          },
          "creditingPeriodStartDate": {
            "type": "string",
            "example": "02/21/2022",
            "description": "The crediting period start date in MM/DD/YYYY format."
          },
          "creditingPeriodEndDate": {
            "type": "string",
            "example": "07/21/2028",
            "description": "The crediting period end date in MM/DD/YYYY format."
          },
          "sectorGroup": {
            "type": "string",
            "example": "Nature Based Solutions",
            "maxLength": 100
          },
          "sector": {
            "type": "string",
            "example": "Forestry",
            "maxLength": 100
          },
          "subSector": {
            "type": "string",
            "example": "Improved Forest Management",
            "maxLength": 100
          },
          "rating": {
            "type": "string",
            "example": "AA",
            "enum": [
              "A",
              "AA",
              "AAA",
              "B",
              "BB",
              "BBB",
              "C",
              "D"
            ],
            "maxLength": 3
          },
          "ratingWatch": {
            "type": "string",
            "example": "Y",
            "enum": [
              "Y",
              "N"
            ],
            "maxLength": 1
          },
          "firstCreditIssuanceDate": {
            "type": "string",
            "example": "02/05/2016",
            "description": "The first credit issuance date in MM/DD/YYYY format."
          },
          "totalCredit": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 100000000,
            "example": 50520,
            "description": "Total number of credits issued by the project for that vintage"
          },
          "outstandingCredit": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 100000000,
            "example": 7362,
            "description": "Total number of credits issued by the project minus total number of credits retired for that project and the current vintage."
          },
          "addDate": {
            "type": "string",
            "example": "11/23/2023 00:00:00",
            "description": "The add date in MM/DD/YYYY HH:mm:ss format."
          },
          "updateDate": {
            "type": "string",
            "example": "11/23/2023 00:00:00",
            "description": "The update date in MM/DD/YYYY HH:mm:ss format."
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "CUSIP",
      "description": "CUSIPs are 9-character identifiers that capture an issue’s important differentiating characteristics for issuers and their financial instruments in the U.S. and Canada."
    }
  ]
}