{
  "openapi": "3.0.3",
  "info": {
    "title": "BANKSapi BANKS/Connect API",
    "version": "1.0.0",
    "description": "BANKSapi BANKS/Connect API for banking integration, providing account access, transaction retrieval, payment initiation, consent management, and customer operations compliant with PSD2 standards.",
    "x-jentic-source-url": "https://docs.banksapi.de/"
  },
  "servers": [
    {
      "url": "https://banksapi.io/v2"
    }
  ],
  "paths": {
    "/users": {
      "post": {
        "operationId": "createUser",
        "summary": "Create User",
        "description": "Create a new user context for banking operations.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listUsers",
        "summary": "List Users",
        "description": "Retrieve all users.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Users listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get User",
        "description": "Retrieve a specific user.",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete User",
        "description": "Delete a user.",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted"
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/providers": {
      "get": {
        "operationId": "listProviders",
        "summary": "List Providers",
        "description": "Retrieve a list of supported banking providers.",
        "tags": [
          "Providers"
        ],
        "responses": {
          "200": {
            "description": "Providers listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Provider"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers/{providerId}": {
      "get": {
        "operationId": "getProvider",
        "summary": "Get Provider",
        "description": "Retrieve core data for a specific provider.",
        "tags": [
          "Providers"
        ],
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provider"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customerId}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Get Customer",
        "description": "Retrieve customer information.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Delete Customer",
        "description": "Delete a customer and associated data.",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted"
          }
        }
      }
    },
    "/bankaccesses": {
      "post": {
        "operationId": "createBankAccess",
        "summary": "Create Bank Access",
        "description": "Create a new bank account access with consent.",
        "tags": [
          "Bank Access"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccessRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bank access created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccess"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bankaccesses/{bankAccessId}/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "List Transactions",
        "description": "Retrieve transactions for a bank access.",
        "tags": [
          "Bank Access"
        ],
        "parameters": [
          {
            "name": "bankAccessId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "post": {
        "operationId": "initiatePayment",
        "summary": "Initiate Payment",
        "description": "Initiate a single transfer or payment.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/consent/{consentId}": {
      "get": {
        "operationId": "getConsentStatus",
        "summary": "Get Consent Status",
        "description": "Check the status of a consent (SCA) session.",
        "tags": [
          "Consent"
        ],
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Consent status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Consent"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancelConsent",
        "summary": "Cancel Consent",
        "description": "Cancel an active consent session.",
        "tags": [
          "Consent"
        ],
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Consent cancelled"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserRequest": {
        "type": "object",
        "properties": {}
      },
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "bic": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "BankAccessRequest": {
        "type": "object",
        "required": [
          "providerId"
        ],
        "properties": {
          "providerId": {
            "type": "string"
          },
          "consentScope": {
            "type": "string"
          }
        }
      },
      "BankAccess": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "providerId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "bookingDate": {
            "type": "string",
            "format": "date"
          },
          "remittanceInfo": {
            "type": "string"
          }
        }
      },
      "PaymentRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "creditorIban"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "creditorIban": {
            "type": "string"
          },
          "creditorName": {
            "type": "string"
          },
          "remittanceInfo": {
            "type": "string"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "Consent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "scaUrl": {
            "type": "string",
            "description": "URL for Strong Customer Authentication redirect."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token-based authentication."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}