{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "architecture@wso2.com",
      "name": "WSO2",
      "url": "http://wso2.com/products/api-manager/"
    },
    "description": "This specifies a **RESTful API** for WSO2 **API Manager** - Store.\n\nPlease see [full swagger definition](https://raw.githubusercontent.com/wso2/carbon-apimgt/v6.0.4/components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/main/resources/store-api.yaml) of the API which is written using [swagger 2.0](http://swagger.io/) specification.\n",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title": "WSO2 API Manager - Store",
    "version": "0.11.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ram.grandhi/APIs_for_APIs_Store/0.11.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://apis.wso2.com/api/am/store/v0.11"
    }
  ],
  "paths": {
    "/apis": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/requestedTenant"
          },
          {
            "description": "**Search condition**.\n\nYou can search in attributes by using an **\"<attribute>:\"** modifier.\n\nEg.\n\"provider:wso2\" will match an API if the provider of the API is exactly \"wso2\".\n\nAdditionally you can use wildcards.\n\nEg.\n\"provider:wso2*\" will match an API if the provider of the API starts with \"wso2\".\n\nSupported attribute modifiers are [**version, context, status,\ndescription, subcontext, doc, provider, tag**]\n\nIf no advanced attribute modifier has been specified, search will match the\ngiven query string against API Name.\n",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIList"
                }
              }
            },
            "description": "OK.\nList of qualifying APIs is returned.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported\n"
          }
        },
        "tags": [
          "API (Collection)"
        ],
        "description": "This operation provides you a list of available APIs qualifying under a given search condition.\n\nEach retrieved API is represented with a minimal amount of attributes. If you want to get complete details of an API, you need to use **Get details of an API** operation.\n\nThis operation supports retriving APIs of other tenants. The required tenant domain need to be specified as a header `X-WSO2-Tenant`. If not specified super tenant's APIs will be retrieved. If you used an Authorization header, the user's tenant associated with the access token will be used.\n\n**NOTE:**\n* By default, this operation retrieves Published APIs. In order to retrieve Prototyped APIs, you need to use **query** parameter and specify **status:PROTOTYPED**.\n* This operation does not require an Authorization header by default. But if it is provided, it will be validated and checked for permissions of the user, hence you may be able to see APIs which are restricted for special permissions/roles.\n",
        "summary": "Retrieve/Search APIs\n",
        "x-wso2-curl": "curl https://127.0.0.1:9443/api/am/store/v0.11/apis",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/apis\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"previous\": \"\",\n   \"list\":    [\n            {\n         \"provider\": \"admin\",\n         \"version\": \"1.0.0\",\n         \"description\": \"This API provide Account Status Validation.\",\n         \"status\": \"PUBLISHED\",\n         \"name\": \"AccountVal\",\n         \"context\": \"/account/1.0.0\",\n         \"id\": \"2e81f147-c8a8-4f68-b4f0-69e0e7510b01\"\n      },\n            {\n         \"provider\": \"admin\",\n         \"version\": \"1.0.0\",\n         \"description\": null,\n         \"status\": \"PUBLISHED\",\n         \"name\": \"api1\",\n         \"context\": \"/api1/1.0.0\",\n         \"id\": \"3e22d2fb-277a-4e9e-8c7e-1c0f7f73960e\"\n      },\n            {\n         \"provider\": \"admin\",\n         \"version\": \"2.0.0\",\n         \"description\": \"Verify a phone number\",\n         \"status\": \"PUBLISHED\",\n         \"name\": \"PhoneVerification\",\n         \"context\": \"/phoneverify/2.0.0\",\n         \"id\": \"c43a325c-260b-4302-81cb-768eafaa3aed\"\n      }\n   ],\n   \"count\": 3,\n   \"next\": \"\"\n}"
      }
    },
    "/apis/generate-sdk/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId-Q"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "$ref": "#/components/parameters/requestedTenant"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\nSDK generated successfully.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad request.\nSDK language is not supported.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested API does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported\n"
          }
        },
        "tags": [
          "API (Individual)"
        ],
        "description": "This operation can be used to generate SDK for an API by providing the id of the API along with the preferred language.\n",
        "summary": "Generate SDK for an API\n",
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl https://127.0.0.1:9443/api/am/store/v0.11/apis/generate-sdk",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/apis/generate-sdk\n",
        "x-wso2-response": "HTTP/1.1 200 OK \n Content-Disposition: attachment; filename=\"PizzaShackAPI_1.0.0_java.zip\"  \n Date: Wed, 12 Oct 2016 11:10:49 GMT \n Content-Type: application/zip \n Transfer-Encoding: chunked \n Server: WSO2 Carbon Server"
      }
    },
    "/apis/{apiId}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/requestedTenant"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/API"
                }
              }
            },
            "description": "OK.\nRequested API is returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested API does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported\n"
          }
        },
        "tags": [
          "API (Individual)"
        ],
        "description": "Using this operation, you can retrieve complete details of a single API. You need to provide the Id of the API to retrive it.\n\n`X-WSO2-Tenant` header can be used to retrive an API of a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user's tenant associated with the access token will be used.\n\n**NOTE:**\n* This operation does not require an Authorization header by default. But if it is provided, it will be validated and checked for permissions of the user, hence you may be able to see APIs which are restricted for special permissions/roles. \\n\n",
        "summary": "Get details of an API\n",
        "x-wso2-curl": "curl https://127.0.0.1:9443/api/am/store/v0.11/apis/c43a325c-260b-4302-81cb-768eafaa3aed",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/apis/c43a325c-260b-4302-81cb-768eafaa3aed\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\r\n   \"thumbnailUrl\": null,\r\n   \"tiers\": [\"Unlimited\"],\r\n   \"businessInformation\":    {\r\n      \"technicalOwner\": \"John Doe\",\r\n      \"technicalOwnerEmail\": \"architecture@pizzashack.com\",\r\n      \"businessOwner\": \"Jane Roe\",\r\n      \"businessOwnerEmail\": \"marketing@pizzashack.com\"\r\n   },\r\n   \"apiDefinition\": \"{\\\"paths\\\":{\\\"/order\\\":{\\\"post\\\":{\\\"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-tier\\\":\\\"Unlimited\\\",\\\"description\\\":\\\"Create a new Order\\\",\\\"parameters\\\":[{\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Order object that needs to be added\\\",\\\"name\\\":\\\"body\\\",\\\"required\\\":true,\\\"in\\\":\\\"body\\\"}],\\\"responses\\\":{\\\"201\\\":{\\\"headers\\\":{\\\"Location\\\":{\\\"description\\\":\\\"The URL of the newly created resource.\\\",\\\"type\\\":\\\"string\\\"},\\\"Content-Type\\\":{\\\"description\\\":\\\"The content type of the body.\\\",\\\"type\\\":\\\"string\\\"}},\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"description\\\":\\\"Created. Successful response with the newly created object as entity in the body. Location header contains URL of newly created entity.\\\"}}}},\\\"/order/{orderId}\\\":{\\\"get\\\":{\\\"x-auth-type\\\":\\\"Application & Application User\\\",\\\"x-throttling-tier\\\":\\\"Unlimited\\\",\\\"description\\\":\\\"Get details of an Order\\\",\\\"parameters\\\":[{\\\"description\\\":\\\"Order Id\\\",\\\"name\\\":\\\"orderId\\\",\\\"format\\\":\\\"integer\\\",\\\"type\\\":\\\"number\\\",\\\"required\\\":true,\\\"in\\\":\\\"path\\\"}],\\\"responses\\\":{\\\"200\\\":{\\\"schema\\\":{\\\"$ref\\\":\\\"#/definitions/Order\\\"},\\\"headers\\\":{},\\\"description\\\":\\\"OK Requested Order will be returned\\\"}}}}},\\\"schemes\\\":[\\\"https\\\"],\\\"produces\\\":[\\\"application/json\\\"],\\\"swagger\\\":\\\"2.0\\\",\\\"definitions\\\":{\\\"Order\\\":{\\\"title\\\":\\\"Pizza Order\\\",\\\"properties\\\":{\\\"customerName\\\":{\\\"type\\\":\\\"string\\\"},\\\"delivered\\\":{\\\"type\\\":\\\"boolean\\\"},\\\"address\\\":{\\\"type\\\":\\\"string\\\"},\\\"pizzaType\\\":{\\\"type\\\":\\\"string\\\"},\\\"creditCardNumber\\\":{\\\"type\\\":\\\"string\\\"},\\\"quantity\\\":{\\\"type\\\":\\\"number\\\"},\\\"orderId\\\":{\\\"type\\\":\\\"integer\\\"}},\\\"required\\\":[\\\"orderId\\\"]}},\\\"consumes\\\":[\\\"application/json\\\"],\\\"info\\\":{\\\"title\\\":\\\"PizzaShackAPI\\\",\\\"description\\\":\\\"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\\\n\\\",\\\"license\\\":{\\\"name\\\":\\\"Apache 2.0\\\",\\\"url\\\":\\\"http://www.apache.org/licenses/LICENSE-2.0.html\\\"},\\\"contact\\\":{\\\"email\\\":\\\"architecture@pizzashack.com\\\",\\\"name\\\":\\\"John Doe\\\",\\\"url\\\":\\\"http://www.pizzashack.com\\\"},\\\"version\\\":\\\"1.0.0\\\"}}\",\r\n   \"wsdlUri\": null,\r\n   \"isDefaultVersion\": false,\r\n   \"endpointURLs\": [   {\r\n      \"environmentName\": \"Production and Sandbox\",\r\n      \"environmentType\": \"hybrid\",\r\n      \"environmentURLs\":       {\r\n         \"http\": \"http://10.100.7.77:8280//pizzashack/1.0.0\",\r\n         \"https\": \"https://10.100.7.77:8243//pizzashack/1.0.0\"\r\n      }\r\n   }],\r\n   \"transport\":    [\r\n      \"http\",\r\n      \"https\"\r\n   ],\r\n   \"tags\": [\"pizza\"],\r\n   \"version\": \"1.0.0\",\r\n   \"description\": \"This document describe a RESTFul API for Pizza Shack online pizza delivery store.\\r\\n\",\r\n   \"provider\": \"admin\",\r\n   \"name\": \"PizzaShackAPI\",\r\n   \"context\": \"/pizzashack/1.0.0\",\r\n   \"id\": \"8848faaa-7fd1-478a-baa2-48a4ebb92c98\",\r\n   \"status\": \"PUBLISHED\"\r\n}  "
      }
    },
    "/apis/{apiId}/documents": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/requestedTenant"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentList"
                }
              }
            },
            "description": "OK.\nDocument list is returned.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested API does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported\n"
          }
        },
        "tags": [
          "Document (Collection)"
        ],
        "description": "This operation can be used to retrive a list of documents belonging to an API by providing the id of the API.\n\n`X-WSO2-Tenant` header can be used to retrive documents of an API that belongs to a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user's tenant associated with the access token will be used.\n\n**NOTE:**\n* This operation does not require an Authorization header by default. But in order to see a restricted API's documents, you need to provide Authorization header.\n",
        "summary": "Get a list of documents of an API\n",
        "x-wso2-curl": "curl https://127.0.0.1:9443/api/am/store/v0.11/apis/c43a325c-260b-4302-81cb-768eafaa3aed/documents",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/apis/c43a325c-260b-4302-81cb-768eafaa3aed/documents\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"previous\": \"\",\n   \"list\":    [\n            {\n         \"sourceType\": \"INLINE\",\n         \"sourceUrl\": null,\n         \"otherTypeName\": null,\n         \"documentId\": \"850a4f34-db2c-4d23-9d85-3f95fbfb082c\",\n         \"summary\": \"This is a sample documentation for v1.0.0\",\n         \"name\": \"PhoneVerification API Documentation\",\n         \"type\": \"HOWTO\"\n      },\n            {\n         \"sourceType\": \"URL\",\n         \"sourceUrl\": \"http://wiki.cdyne.com/index.php/Phone_Verification\",\n         \"otherTypeName\": null,\n         \"documentId\": \"98e18be8-5861-43c7-ba26-8cbbccd3a76f\",\n         \"summary\": \"This is the URL for online documentation\",\n         \"name\": \"Online Documentation\",\n         \"type\": \"SAMPLES\"\n      },\n            {\n         \"sourceType\": \"FILE\",\n         \"sourceUrl\": null,\n         \"otherTypeName\": null,\n         \"documentId\": \"b66451ff-c6c2-4f6a-b91d-3821dc119b04\",\n         \"summary\": \"This is a sample documentation pdf\",\n         \"name\": \"Introduction to PhoneVerification API PDF\",\n         \"type\": \"HOWTO\"\n      }\n   ],\n   \"count\": 3,\n   \"next\": \"\"\n}"
      }
    },
    "/apis/{apiId}/documents/{documentId}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/documentId"
          },
          {
            "$ref": "#/components/parameters/requestedTenant"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            },
            "description": "OK.\nDocument returned.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested Document does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported\n"
          }
        },
        "tags": [
          "Document (Individual)"
        ],
        "description": "This operation can be used to retrieve a particular document's metadata associated with an API.\n\n`X-WSO2-Tenant` header can be used to retrive a document of an API that belongs to a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user's tenant associated with the access token will be used.\n\n**NOTE:**\n* This operation does not require an Authorization header by default. But in order to see a restricted API's document, you need to provide Authorization header.        \n",
        "summary": "Get a document of an API\n",
        "x-wso2-curl": "curl \"https://127.0.0.1:9443/api/am/store/v0.11/apis/c43a325c-260b-4302-81cb-768eafaa3aed/documents/850a4f34-db2c-4d23-9d85-3f95fbfb082c\"",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/apis/c43a325c-260b-4302-81cb-768eafaa3aed/documents/850a4f34-db2c-4d23-9d85-3f95fbfb082c\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"sourceType\": \"INLINE\",\n   \"sourceUrl\": null,\n   \"otherTypeName\": null,\n   \"documentId\": \"850a4f34-db2c-4d23-9d85-3f95fbfb082c\",\n   \"summary\": \"This is a sample documentation for v1.0.0\",\n   \"name\": \"PhoneVerification API Documentation\",\n   \"type\": \"HOWTO\"\n}"
      }
    },
    "/apis/{apiId}/documents/{documentId}/content": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/documentId"
          },
          {
            "$ref": "#/components/parameters/requestedTenant"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\nFile or inline content returned.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "303": {
            "description": "See Other.\nSource can be retrived from the URL specified at the Location header.\n",
            "headers": {
              "Location": {
                "description": "The Source URL of the document.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested Document does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported\n"
          }
        },
        "tags": [
          "Document (Individual)"
        ],
        "description": "This operation can be used to retrive the content of an API's document.\n\nThe document can be of 3 types. In each cases responses are different.\n\n1. **Inline type**:\n   The content of the document will be retrieved in `text/plain` content type\n2. **FILE type**: \n   The file will be downloaded with the related content type (eg. `application/pdf`)\n3. **URL type**:\n    The client will recieve the URL of the document as the Location header with the response with - `303 See Other`\n\n`X-WSO2-Tenant` header can be used to retrive the content of a document of an API that belongs to a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user's tenant associated with the access token will be used.\n\n**NOTE:**\n* This operation does not require an Authorization header by default. But in order to see a restricted API's document content, you need to provide Authorization header.        \n",
        "summary": "Get the content of an API document\n",
        "x-wso2-curl": "curl \"https://127.0.0.1:9443/api/am/store/v0.11/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/documents/0bcb7f05-599d-4e1a-adce-5cb89bfe58d5/content\" > sample.pdf",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/documents/0bcb7f05-599d-4e1a-adce-5cb89bfe58d5/content\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Disposition: attachment; filename=\"sample.pdf\"\nContent-Type: application/octet-stream\nContent-Length: 7802\n\n%PDF-1.4\n%äüöß\n2 0 obj\n<</Length 3 0 R/Filter/FlateDecode>>\nstream\n..\n>>\nstartxref\n7279\n%%EOF"
      }
    },
    "/apis/{apiId}/swagger": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/requestedTenant"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\nRequested swagger document of the API is returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested API does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported\n"
          }
        },
        "tags": [
          "API (Individual)"
        ],
        "description": "You can use this operation to retrieve the swagger definition of an API.\n\n `X-WSO2-Tenant` header can be used to retrive the swagger definition an API of a different tenant domain. If not specified super tenant will be used. If Authorization header is present in the request, the user's tenant associated with the access token will be used.\n \n**NOTE:**\n* This operation does not require an Authorization header by default. But in order to see a restricted API's swagger definition, you need to provide Authorization header.\n",
        "summary": "Get swagger definition\n",
        "x-wso2-curl": "curl https://127.0.0.1:9443/api/am/store/v0.11/apis/c43a325c-260b-4302-81cb-768eafaa3aed/swagger",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/apis/c43a325c-260b-4302-81cb-768eafaa3aed/swagger\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"paths\": {\"/*\": {\"get\":    {\n      \"x-auth-type\": \"Application\",\n      \"x-throttling-tier\": \"Unlimited\",\n      \"responses\": {\"200\": {\"description\": \"OK\"}}\n   }}},\n   \"x-wso2-security\": {\"apim\": {\"x-wso2-scopes\": []}},\n   \"swagger\": \"2.0\",\n   \"info\":    {\n      \"title\": \"PhoneVerification\",\n      \"description\": \"Verify a phone number\",\n      \"contact\":       {\n         \"email\": \"xx@ee.com\",\n         \"name\": \"xx\"\n      },\n      \"version\": \"2.0.0\"\n   }\n}\n"
      }
    },
    "/apis/{apiId}/thumbnail": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId"
          },
          {
            "$ref": "#/components/parameters/requestedTenant"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\nThumbnail image returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested Document does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported\n"
          }
        },
        "tags": [
          "API (Individual)"
        ],
        "description": "This operation can be used to download a thumbnail image of an API.\n\n**NOTE:**\n* This operation does not require an Authorization header by default. But in order to see a restricted API's thumbnail, you need to provide Authorization header.        \n",
        "summary": "Get thumbnail image",
        "x-wso2-curl": "curl https://127.0.0.1:9443/api/am/store/v0.11/apis/e93fb282-b456-48fc-8981-003fb89086ae/thumbnail > image.jpg",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/apis/e93fb282-b456-48fc-8981-003fb89086ae/thumbnail\n",
        "x-wso2-response": "HTTP/1.1 200 OK\r\nContent-Type: image/jpeg\r\n\r\n[image content]"
      }
    },
    "/applications": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "description": "**Search condition**.\n\nYou can search for an application by specifying the name as \"query\" attribute.\n\nEg.\n\"app1\" will match an application if the name is exactly \"app1\".\n\nCurrently this does not support wildcards. Given name must exactly match the application name.\n",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationList"
                }
              }
            },
            "description": "OK.\nApplication list returned.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported.\n"
          }
        },
        "tags": [
          "Application (Collection)"
        ],
        "description": "This operation can be used to retrieve list of applications that is belonged to the user associated with the provided access token.\n",
        "summary": "Retrieve/Search applications\n",
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" \"https://127.0.0.1:9443/api/am/store/v0.11/applications\"",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/applications\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"previous\": \"\",\n   \"list\":    [\n            {\n         \"groupId\": \"\",\n         \"subscriber\": \"admin\",\n         \"throttlingTier\": \"Unlimited\",\n         \"applicationId\": \"367a2361-8db5-4140-8133-c6c8dc7fa0c4\",\n         \"description\": \"\",\n         \"status\": \"APPROVED\",\n         \"name\": \"app1\"\n      },\n            {\n         \"groupId\": \"\",\n         \"subscriber\": \"admin\",\n         \"throttlingTier\": \"Unlimited\",\n         \"applicationId\": \"896658a0-b4ee-4535-bbfa-806c894a4015\",\n         \"description\": null,\n         \"status\": \"APPROVED\",\n         \"name\": \"DefaultApplication\"\n      }\n   ],\n   \"count\": 2,\n   \"next\": \"\"\n}"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "Created.\nSuccessful response with the newly created object as entity in the body.\nLocation header contains URL of newly created entity.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Location of the newly created Application.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error\n"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Conflict.\nApplication already exists.\n"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Unsupported media type.\nThe entity of the request was in a not supported format.\n"
          }
        },
        "tags": [
          "Application (Individual)"
        ],
        "description": "This operation can be used to create a new application specifying the details of the application in the payload.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          },
          "description": "Application object that is to be created.\n",
          "required": true
        },
        "summary": "Create a new application\n",
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" -H \"Content-Type: application/json\" -X POST -d @data.json \"https://127.0.0.1:9443/api/am/store/v0.11/applications\"",
        "x-wso2-request": "POST https://127.0.0.1:9443/api/am/store/v0.11/applications\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n\n{\n    \"throttlingTier\": \"Unlimited\",\n    \"description\": \"sample app description\",\n    \"name\": \"sampleapp\",\n    \"callbackUrl\": \"http://my.server.com/callback\"\n}",
        "x-wso2-response": "HTTP/1.1 201 Created\nLocation: https://localhost:9443/api/am/store/v0.11/applications/c30f3a6e-ffa4-4ae7-afce-224d1f820524\nContent-Type: application/json\n\n{\n   \"groupId\": null,\n   \"callbackUrl\": \"http://my.server.com/callback\",\n   \"subscriber\": \"admin\",\n   \"throttlingTier\": \"Unlimited\",\n   \"applicationId\": \"c30f3a6e-ffa4-4ae7-afce-224d1f820524\",\n   \"description\": \"sample app description\",\n   \"status\": \"APPROVED\",\n   \"name\": \"sampleapp\",\n   \"keys\": []\n}"
      }
    },
    "/applications/generate-keys": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/applicationId-Q"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationKey"
                }
              }
            },
            "description": "OK.\nKeys are generated.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).‚\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nThe resource to be updated does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met (Will be supported in future).\n"
          }
        },
        "tags": [
          "Application (Individual)"
        ],
        "description": "This operation can be used to generate client Id and client secret for an application\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationKeyGenerateRequest"
              }
            }
          },
          "description": "Application object the keys of which are to be generated\n",
          "required": true
        },
        "summary": "Generate keys for application\n",
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" -H \"Content-Type: application/json\" -X POST -d @data.json  \"https://127.0.0.1:9443/api/am/store/v0.11/applications/generate-keys?applicationId=c30f3a6e-ffa4-4ae7-afce-224d1f820524\"",
        "x-wso2-request": "POST https://127.0.0.1:9443/api/am/store/v0.11/applications/generate-keys?applicationId=c30f3a6e-ffa4-4ae7-afce-224d1f820524\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n\n{\n  \"validityTime\": \"3600\",\n  \"keyType\": \"PRODUCTION\",\n  \"accessAllowDomains\": [\"ALL\"\n  ]\n}",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"consumerSecret\": \"8V7DDKtKGtuG_9GDjaOJ5sijdX0a\",\n   \"consumerKey\": \"LOFL8He72MSGVil4SS_bsh9O8MQa\",\n   \"keyState\": \"APPROVED\",\n   \"keyType\": \"PRODUCTION\",\n   \"supportedGrantTypes\":    [\n      \"urn:ietf:params:oauth:grant-type:saml2-bearer\",\n      \"iwa:ntlm\",\n      \"refresh_token\",\n      \"client_credentials\",\n      \"password\"\n   ],\n   \"token\":    {\n      \"validityTime\": 3600,\n      \"accessToken\": \"fd2cdc4906fbc162e033d57f85a71c21\",\n      \"tokenScopes\":       [\n         \"am_application_scope\",\n         \"default\"\n      ]\n   }\n}"
      }
    },
    "/applications/{applicationId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\nResource successfully deleted.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nResource to be deleted does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met (Will be supported in future).\n"
          }
        },
        "tags": [
          "Application (Individual)"
        ],
        "description": "This operation can be used to remove an application specifying its id.\n",
        "summary": "Remove an application\n",
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" -X DELETE \"https://127.0.0.1:9443/api/am/store/v0.11/applications/367a2361-8db5-4140-8133-c6c8dc7fa0c4\"",
        "x-wso2-request": "DELETE https://127.0.0.1:9443/api/am/store/v0.11/applications/367a2361-8db5-4140-8133-c6c8dc7fa0c4\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "OK.\nApplication returned.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested application does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported\n"
          }
        },
        "tags": [
          "Application (Individual)"
        ],
        "description": "This operation can be used to retrieve details of an individual application specifying the application id in the URI.\n",
        "summary": "Get details of an application\n",
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" \"https://127.0.0.1:9443/api/am/store/v0.11/applications/896658a0-b4ee-4535-bbfa-806c894a4015\"",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/applications/896658a0-b4ee-4535-bbfa-806c894a4015\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"groupId\": \"\",\n   \"callbackUrl\": null,\n   \"subscriber\": \"admin\",\n   \"throttlingTier\": \"Unlimited\",\n   \"applicationId\": \"896658a0-b4ee-4535-bbfa-806c894a4015\",\n   \"description\": null,\n   \"status\": \"APPROVED\",\n   \"name\": \"DefaultApplication\",\n   \"keys\": [   {\n      \"consumerKey\": \"AVoREWiB16kY_GTIzscl40GYYZQa\",\n      \"consumerSecret\": \"KXQxmS8W3xDvvJH4AfR6xrhKIeIa\",\n      \"keyState\": \"COMPLETED\",\n      \"keyType\": \"PRODUCTION\",\n      \"supportedGrantTypes\": null,\n      \"token\":       {\n         \"validityTime\": 3600,\n         \"accessToken\": \"3887da6d111f0429c6dff47a46e87209\",\n         \"tokenScopes\":          [\n            \"am_application_scope\",\n            \"default\"\n         ]\n      }\n   }]\n}"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/applicationId"
          },
          {
            "$ref": "#/components/parameters/Content-Type"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "OK.\nApplication updated.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "The URL of the newly created resource.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nThe resource to be updated does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met (Will be supported in future).\n"
          }
        },
        "tags": [
          "Application (Individual)"
        ],
        "description": "This operation can be used to update an application. Upon succesfull you will retrieve the updated application as the response.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              }
            }
          },
          "description": "Application object that needs to be updated\n",
          "required": true
        },
        "summary": "Update an application\n",
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" -H \"Content-Type: application/json\" -X PUT -d @data.json \"https://127.0.0.1:9443/api/am/store/v0.11/applications/c30f3a6e-ffa4-4ae7-afce-224d1f820524\"",
        "x-wso2-request": "PUT https://127.0.0.1:9443/api/am/store/v0.11/applications/c30f3a6e-ffa4-4ae7-afce-224d1f820524\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n\n{\n   \"callbackUrl\": \"\",\n   \"throttlingTier\": \"Bronze\",\n   \"description\": \"sample app description updated\",\n   \"name\": \"sampleapp\"\n}",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"groupId\": null,\n   \"callbackUrl\": \"\",\n   \"subscriber\": \"admin\",\n   \"throttlingTier\": \"Bronze\",\n   \"applicationId\": \"c30f3a6e-ffa4-4ae7-afce-224d1f820524\",\n   \"description\": \"sample app description updated\",\n   \"status\": \"APPROVED\",\n   \"name\": \"sampleapp\",\n   \"keys\": []\n}"
      }
    },
    "/subscriptions": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/apiId-Q"
          },
          {
            "$ref": "#/components/parameters/applicationId-Q"
          },
          {
            "$ref": "#/components/parameters/groupId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionList"
                }
              }
            },
            "description": "OK.\nSubscription list returned.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable. The requested media type is not supported\n"
          }
        },
        "tags": [
          "Subscription (Collection)"
        ],
        "description": "This operation can be used to retrieve a list of subscriptions of the user associated with the provided access token. This operation is capable of\n\n1. Retrieving applications which are subscibed to a specific API.\n`GET https://127.0.0.1:9443/api/am/store/v0.11/subscriptions?apiId=c43a325c-260b-4302-81cb-768eafaa3aed`\n\n2. Retrieving APIs which are subscribed by a specific application.\n`GET https://127.0.0.1:9443/api/am/store/v0.11/subscriptions?applicationId=c43a325c-260b-4302-81cb-768eafaa3aed`\n\n**IMPORTANT:**\n* It is mandatory to provide either **apiId** or **applicationId**.\n",
        "summary": "Get all subscriptions\n",
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" \"https://127.0.0.1:9443/api/am/store/v0.11/subscriptions?apiId=c43a325c-260b-4302-81cb-768eafaa3aed\"",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/subscriptions?apiId=c43a325c-260b-4302-81cb-768eafaa3aed\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"previous\": \"\",\n   \"list\":    [\n            {\n         \"tier\": \"Bronze\",\n         \"subscriptionId\": \"03b8ef2b-5ae5-41f5-968e-52fa7fbd5d33\",\n         \"apiIdentifier\": \"admin-PhoneVerification-2.0.0\",\n         \"applicationId\": \"896658a0-b4ee-4535-bbfa-806c894a4015\",\n         \"status\": \"UNBLOCKED\"\n      },\n            {\n         \"tier\": \"Bronze\",\n         \"subscriptionId\": \"5ed42650-9f5e-4dd4-94f3-3f09f1b17354\",\n         \"apiIdentifier\": \"admin-PhoneVerification-2.0.0\",\n         \"applicationId\": \"846118a5-3b25-4c22-a983-2d0278936f09\",\n         \"status\": \"UNBLOCKED\"\n      }\n   ],\n   \"count\": 2,\n   \"next\": \"\"\n}"
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Content-Type"
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            },
            "description": "Created.\nSuccessful response with the newly created object as entity in the body.\nLocation header contains URL of newly created entity.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Location": {
                "description": "Location to the newly created subscription.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request.\nInvalid request or validation error.\n"
          },
          "415": {
            "description": "Unsupported media type.\nThe entity of the request was in a not supported format.\n"
          }
        },
        "tags": [
          "Subscription (Individual)"
        ],
        "description": "This operation can be used to add a new subscription providing the id of the API and the application.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscription"
              }
            }
          },
          "description": "Subscription object that should to be added\n",
          "required": true
        },
        "summary": "Add a new subscription\n",
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" -H \"Content-Type: application/json\" -X POST  -d @data.json \"https://127.0.0.1:9443/api/am/store/v0.11/subscriptions\"",
        "x-wso2-request": "POST https://127.0.0.1:9443/api/am/store/v0.11/subscriptions\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n\n{\n    \"tier\": \"Gold\",\n    \"apiIdentifier\": \"c43a325c-260b-4302-81cb-768eafaa3aed\",\n    \"applicationId\": \"c30f3a6e-ffa4-4ae7-afce-224d1f820524\"\n}",
        "x-wso2-response": "HTTP/1.1 201 Created\nLocation: https://localhost:9443/api/am/store/v0.11/subscriptions/5b65808c-cdf2-43e1-a695-de63e3ad0ae9\nContent-Type: application/json\n\n{\n   \"tier\": \"Gold\",\n   \"subscriptionId\": \"5b65808c-cdf2-43e1-a695-de63e3ad0ae9\",\n   \"apiIdentifier\": \"admin-PhoneVerification-2.0.0\",\n   \"applicationId\": \"c30f3a6e-ffa4-4ae7-afce-224d1f820524\",\n   \"status\": \"UNBLOCKED\"\n}"
      }
    },
    "/subscriptions/{subscriptionId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\nResource successfully deleted.\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nResource to be deleted does not exist.\n"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met (Will be supported in future).\n"
          }
        },
        "tags": [
          "Subscription (Individual)"
        ],
        "description": "This operation can be used to remove a subscription.\n",
        "summary": "Remove a subscription\n",
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" -X DELETE \"https://127.0.0.1:9443/api/am/store/v0.11/subscriptions/5b65808c-cdf2-43e1-a695-de63e3ad0ae9\"",
        "x-wso2-request": "DELETE https://127.0.0.1:9443/api/am/store/v0.11/subscriptions/5b65808c-cdf2-43e1-a695-de63e3ad0ae9\n",
        "x-wso2-response": "HTTP/1.1 200 OK"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            },
            "description": "OK.\nSubscription returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time. Used by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested Subscription does not exist.\n"
          }
        },
        "tags": [
          "Subscription (Individual)"
        ],
        "description": "This operation can be used to get details of a single subscription.\n",
        "summary": "Get details of a subscription\n",
        "x-scope": "apim:subscribe",
        "x-wso2-curl": "curl -k -H \"Authorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\" \"https://127.0.0.1:9443/api/am/store/v0.11/subscriptions/5b65808c-cdf2-43e1-a695-de63e3ad0ae9\"",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/subscriptions/5b65808c-cdf2-43e1-a695-de63e3ad0ae9\nAuthorization: Bearer ae4eae22-3f65-387b-a171-d37eaa366fa8\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"tier\": \"Gold\",\n   \"subscriptionId\": \"5b65808c-cdf2-43e1-a695-de63e3ad0ae9\",\n   \"apiIdentifier\": \"admin-PhoneVerification-2.0.0\",\n   \"applicationId\": \"c30f3a6e-ffa4-4ae7-afce-224d1f820524\",\n   \"status\": \"UNBLOCKED\"\n}"
      }
    },
    "/tags": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/requestedTenant"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagList"
                }
              }
            },
            "description": "OK.\nTag list is returned.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found. Requested API does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable. The requested media type is not supported\n"
          }
        },
        "tags": [
          "Tag (Collection)"
        ],
        "description": "This operation can be used to retrieve a list of tags that are already added to APIs.\n",
        "summary": "Get all tags\n",
        "x-wso2-curl": "curl \"https://127.0.0.1:9443/api/am/store/v0.11/tags\"",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/tags\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"previous\": \"\",\n   \"list\":    [\n            {\n         \"weight\": 1,\n         \"name\": \"mobile\"\n      },\n            {\n         \"weight\": 1,\n         \"name\": \"multimedia\"\n      },\n            {\n         \"weight\": 1,\n         \"name\": \"phone\"\n      }\n   ],\n   \"count\": 3,\n   \"next\": \"\"\n}"
      }
    },
    "/tiers/{tierLevel}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/tierLevel"
          },
          {
            "$ref": "#/components/parameters/requestedTenant"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TierList"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK.\nList of tiers returned.\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported\n"
          }
        },
        "tags": [
          "Throttling Tier (Collection)"
        ],
        "description": "This operation can be used to retrieve all the tiers available for the provided tier level. Tier level should be specified as a path parameter and should be one of `api` and `application`.\n\n**NOTE**:\n* API tiers are the ones that is available during subscription of an application to an API. Hence they are also called subscription tiers and are same as the subscription policies in Admin REST API.\n",
        "summary": "Get available tiers\n",
        "x-wso2-curl": "curl \"https://127.0.0.1:9443/api/am/store/v0.11/tiers/api\"",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/tiers/api\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"previous\": \"\",\n   \"list\":    [\n            {\n         \"unitTime\": 60000,\n         \"tierPlan\": \"FREE\",\n         \"stopOnQuotaReach\": true,\n         \"tierLevel\": \"api\",\n         \"requestCount\": 1,\n         \"description\": \"Allows 1 request(s) per minute.\",\n         \"name\": \"Bronze\",\n         \"attributes\": {}\n      },\n            {\n         \"unitTime\": 60000,\n         \"tierPlan\": \"FREE\",\n         \"stopOnQuotaReach\": true,\n         \"tierLevel\": \"api\",\n         \"requestCount\": 20,\n         \"description\": \"Allows 20 request(s) per minute.\",\n         \"name\": \"Gold\",\n         \"attributes\": {}\n      },\n            {\n         \"unitTime\": 60000,\n         \"tierPlan\": \"FREE\",\n         \"stopOnQuotaReach\": true,\n         \"tierLevel\": \"api\",\n         \"requestCount\": 5,\n         \"description\": \"Allows 5 request(s) per minute.\",\n         \"name\": \"Silver\",\n         \"attributes\": {}\n      },\n            {\n         \"unitTime\": 0,\n         \"tierPlan\": null,\n         \"stopOnQuotaReach\": true,\n         \"tierLevel\": \"api\",\n         \"requestCount\": 0,\n         \"description\": \"Allows unlimited requests\",\n         \"name\": \"Unlimited\",\n         \"attributes\": {}\n      }\n   ],\n   \"count\": 4,\n   \"next\": \"\"\n}"
      }
    },
    "/tiers/{tierLevel}/{tierName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/tierName"
          },
          {
            "$ref": "#/components/parameters/tierLevel"
          },
          {
            "$ref": "#/components/parameters/requestedTenant"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tier"
                }
              }
            },
            "description": "OK.\nTier returned\n",
            "headers": {
              "Content-Type": {
                "description": "The content type of the body.\n",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              },
              "Last-Modified": {
                "description": "Date and time the resource has been modifed the last time.\nUsed by caches, or in conditional requests (Will be supported in future).\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified.\nEmpty body because the client has already the latest version of the requested resource (Will be supported in future).\n"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found.\nRequested Tier does not exist.\n"
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Acceptable.\nThe requested media type is not supported.\n"
          }
        },
        "tags": [
          "Throttling Tier (Individual)"
        ],
        "description": "This operation can be used to retrieve details of a single tier by specifying the tier level and tier name.\n",
        "summary": "Get details of a tier\n",
        "x-wso2-curl": "curl \"https://127.0.0.1:9443/api/am/store/v0.11/tiers/api/Bronze\"",
        "x-wso2-request": "GET https://127.0.0.1:9443/api/am/store/v0.11/tiers/api/Bronze\n",
        "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"unitTime\": 60000,\n   \"tierPlan\": \"FREE\",\n   \"stopOnQuotaReach\": true,\n   \"tierLevel\": \"api\",\n   \"requestCount\": 1,\n   \"description\": \"Allows 1 request(s) per minute.\",\n   \"name\": \"Bronze\",\n   \"attributes\": {}\n}"
      }
    }
  },
  "components": {
    "parameters": {
      "Accept": {
        "description": "Media types acceptable for the response. Default is application/json.\n",
        "in": "header",
        "name": "Accept",
        "schema": {
          "default": "application/json",
          "type": "string"
        }
      },
      "Content-Type": {
        "description": "Media type of the entity in the body. Default is application/json.\n",
        "in": "header",
        "name": "Content-Type",
        "required": true,
        "schema": {
          "default": "application/json",
          "type": "string"
        }
      },
      "If-Match": {
        "description": "Validator for conditional requests; based on ETag.\n",
        "in": "header",
        "name": "If-Match",
        "schema": {
          "type": "string"
        }
      },
      "If-Modified-Since": {
        "description": "Validator for conditional requests; based on Last Modified header of the\nformerly retrieved variant of the resource.\n",
        "in": "header",
        "name": "If-Modified-Since",
        "schema": {
          "type": "string"
        }
      },
      "If-None-Match": {
        "description": "Validator for conditional requests; based on the ETag of the formerly retrieved\nvariant of the resourec.\n",
        "in": "header",
        "name": "If-None-Match",
        "schema": {
          "type": "string"
        }
      },
      "If-Unmodified-Since": {
        "description": "Validator for conditional requests; based on Last Modified header.\n",
        "in": "header",
        "name": "If-Unmodified-Since",
        "schema": {
          "type": "string"
        }
      },
      "apiId": {
        "description": "**API ID** consisting of the **UUID** of the API.\nThe combination of the provider of the API, name of the API and the version is also accepted as a valid API ID.\nShould be formatted as **provider-name-version**.\n",
        "in": "path",
        "name": "apiId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "apiId-Q": {
        "description": "**API ID** consisting of the **UUID** of the API.\nThe combination of the provider of the API, name of the API and the version is also accepted as a valid API I.\nShould be formatted as **provider-name-version**.\n",
        "in": "query",
        "name": "apiId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "applicationId": {
        "description": "Application Identifier consisting of the UUID of the Application.\n",
        "in": "path",
        "name": "applicationId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "applicationId-Q": {
        "description": "Application Identifier consisting of the UUID of the Application.\n",
        "in": "query",
        "name": "applicationId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "documentId": {
        "description": "Document Identifier\n",
        "in": "path",
        "name": "documentId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "groupId": {
        "description": "Application Group Id\n",
        "in": "query",
        "name": "groupId",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "language": {
        "description": "Programming language to generate SDK.\n",
        "in": "query",
        "name": "language",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum size of resource array to return.\n",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 25,
          "type": "integer"
        }
      },
      "offset": {
        "description": "Starting point within the complete list of items qualified.\n",
        "in": "query",
        "name": "offset",
        "schema": {
          "default": 0,
          "type": "integer"
        }
      },
      "requestedTenant": {
        "description": "For cross-tenant invocations, this is used to specify the tenant domain, where the resource need to be\n  retirieved from.\n",
        "in": "header",
        "name": "X-WSO2-Tenant",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "subscriptionId": {
        "description": "Subscription Id\n",
        "in": "path",
        "name": "subscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "tierLevel": {
        "description": "List API or Application type tiers.\n",
        "in": "path",
        "name": "tierLevel",
        "required": true,
        "schema": {
          "enum": [
            "api",
            "application"
          ],
          "type": "string"
        }
      },
      "tierName": {
        "description": "Tier name\n",
        "in": "path",
        "name": "tierName",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "API": {
        "properties": {
          "tags": {
            "example": [
              "substract",
              "add"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "apiDefinition": {
            "description": "Swagger definition of the API which contains details about URI templates and scopes\n",
            "example": "{\"paths\":{\"/substract\":{\"get\":{\"x-auth-type\":\"Application & Application User\",\"x-throttling-tier\":\"Unlimited\",\"parameters\":[{\"name\":\"x\",\"required\":true,\"type\":\"string\",\"in\":\"query\"},{\"name\":\"y\",\"required\":true,\"type\":\"string\",\"in\":\"query\"}],\"responses\":{\"200\":{}}}},\"/add\":{\"get\":{\"x-auth-type\":\"Application & Application User\",\"x-throttling-tier\":\"Unlimited\",\"parameters\":[{\"name\":\"x\",\"required\":true,\"type\":\"string\",\"in\":\"query\"},{\"name\":\"y\",\"required\":true,\"type\":\"string\",\"in\":\"query\"}],\"responses\":{\"200\":{}}}}},\"swagger\":\"2.0\",\"info\":{\"title\":\"CalculatorAPI\",\"version\":\"1.0.0\"}}",
            "type": "string"
          },
          "businessInformation": {
            "properties": {
              "businessOwner": {
                "example": "businessowner",
                "type": "string"
              },
              "businessOwnerEmail": {
                "example": "businessowner@wso2.com",
                "type": "string"
              },
              "technicalOwner": {
                "example": "technicalowner",
                "type": "string"
              },
              "technicalOwnerEmail": {
                "example": "technicalowner@wso2.com",
                "type": "string"
              }
            },
            "type": "object"
          },
          "context": {
            "example": "CalculatorAPI",
            "type": "string"
          },
          "description": {
            "example": "A calculator API that supports basic operations",
            "type": "string"
          },
          "endpointURLs": {
            "items": {
              "properties": {
                "environmentName": {
                  "example": "Production and Sandbox",
                  "type": "string"
                },
                "environmentType": {
                  "example": "hybrid",
                  "type": "string"
                },
                "environmentURLs": {
                  "properties": {
                    "http": {
                      "description": "HTTP environment URL",
                      "example": "http://192.168.56.1:8280/phoneverify/1.0.0",
                      "type": "string"
                    },
                    "https": {
                      "description": "HTTPS environment URL",
                      "example": "https://192.168.56.1:8243/phoneverify/1.0.0",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "id": {
            "description": "UUID of the api registry artifact\n",
            "example": "01234567-0123-0123-0123-012345678901",
            "type": "string"
          },
          "isDefaultVersion": {
            "example": false,
            "type": "boolean"
          },
          "name": {
            "example": "CalculatorAPI",
            "type": "string"
          },
          "provider": {
            "description": "If the provider value is not given user invoking the api will be used as the provider.\n",
            "example": "admin",
            "type": "string"
          },
          "status": {
            "example": "PUBLISHED",
            "type": "string"
          },
          "thumbnailUrl": {
            "example": "",
            "type": "string"
          },
          "tiers": {
            "example": [
              "Unlimited"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "transport": {
            "example": [
              "http",
              "https"
            ],
            "items": {
              "description": "Supported transports for the API (http and/or https).\n",
              "type": "string"
            },
            "type": "array"
          },
          "version": {
            "example": "1.0.0",
            "type": "string"
          },
          "wsdlUri": {
            "description": "WSDL URL if the API is based on a WSDL endpoint\n",
            "example": "http://www.webservicex.com/globalweather.asmx?wsdl",
            "type": "string"
          }
        },
        "required": [
          "name",
          "context",
          "version",
          "provider",
          "status",
          "apiDefinition"
        ],
        "title": "API object",
        "type": "object"
      },
      "APIInfo": {
        "properties": {
          "context": {
            "example": "CalculatorAPI",
            "type": "string"
          },
          "description": {
            "example": "A calculator API that supports basic operations",
            "type": "string"
          },
          "id": {
            "example": "01234567-0123-0123-0123-012345678901",
            "type": "string"
          },
          "name": {
            "example": "CalculatorAPI",
            "type": "string"
          },
          "provider": {
            "description": "If the provider value is not given, the user invoking the API will be used as the provider.\n",
            "example": "admin",
            "type": "string"
          },
          "status": {
            "example": "PUBLISHED",
            "type": "string"
          },
          "version": {
            "example": "1.0.0",
            "type": "string"
          }
        },
        "title": "API Info object with basic API details.",
        "type": "object"
      },
      "APIList": {
        "properties": {
          "count": {
            "description": "Number of APIs returned.\n",
            "example": 1,
            "type": "integer"
          },
          "list": {
            "items": {
              "$ref": "#/components/schemas/APIInfo"
            },
            "type": "array"
          },
          "next": {
            "description": "Link to the next subset of resources qualified.\nEmpty if no more resources are to be returned.\n",
            "example": "/apis?limit=1&offset=2&query=",
            "type": "string"
          },
          "previous": {
            "description": "Link to the previous subset of resources qualified.\nEmpty if current subset is the first subset returned.\n",
            "example": "/apis?limit=1&offset=0&query=",
            "type": "string"
          }
        },
        "title": "API List",
        "type": "object"
      },
      "Application": {
        "properties": {
          "applicationId": {
            "example": "01234567-0123-0123-0123-012345678901",
            "type": "string"
          },
          "callbackUrl": {
            "example": "",
            "type": "string"
          },
          "description": {
            "example": "Sample calculator application",
            "type": "string"
          },
          "groupId": {
            "example": "",
            "type": "string"
          },
          "keys": {
            "example": [],
            "items": {
              "$ref": "#/components/schemas/ApplicationKey"
            },
            "type": "array"
          },
          "name": {
            "example": "CalculatorApp",
            "type": "string"
          },
          "status": {
            "default": "",
            "example": "APPROVED",
            "type": "string"
          },
          "subscriber": {
            "description": "If subscriber is not given user invoking the API will be taken as the subscriber.\n",
            "example": "admin",
            "type": "string"
          },
          "throttlingTier": {
            "example": "Unlimited",
            "type": "string"
          }
        },
        "required": [
          "name",
          "throttlingTier"
        ],
        "title": "Application",
        "type": "object"
      },
      "ApplicationInfo": {
        "properties": {
          "applicationId": {
            "example": "01234567-0123-0123-0123-012345678901",
            "type": "string"
          },
          "description": {
            "example": "Sample calculator application",
            "type": "string"
          },
          "groupId": {
            "example": "",
            "type": "string"
          },
          "name": {
            "example": "CalculatorApp",
            "type": "string"
          },
          "status": {
            "example": "APPROVED",
            "type": "string"
          },
          "subscriber": {
            "example": "admin",
            "type": "string"
          },
          "throttlingTier": {
            "example": "Unlimited",
            "type": "string"
          }
        },
        "title": "Application info object with basic application details",
        "type": "object"
      },
      "ApplicationKey": {
        "properties": {
          "consumerKey": {
            "description": "Consumer key of the application",
            "example": "vYDoc9s7IgAFdkSyNDaswBX7ejoa",
            "type": "string"
          },
          "consumerSecret": {
            "description": "Consumer secret of the application",
            "example": "TIDlOFkpzB7WjufO3OJUhy1fsvAa",
            "type": "string"
          },
          "keyState": {
            "description": "State of the key generation of the application",
            "example": "APPROVED",
            "type": "string"
          },
          "keyType": {
            "description": "Key type",
            "enum": [
              "PRODUCTION",
              "SANDBOX"
            ],
            "example": "PRODUCTION",
            "type": "string"
          },
          "supportedGrantTypes": {
            "description": "Supported grant types for the application",
            "example": [
              "client_credentials",
              "password"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "token": {
            "$ref": "#/components/schemas/Token"
          }
        },
        "title": "Application key details",
        "type": "object"
      },
      "ApplicationKeyGenerateRequest": {
        "properties": {
          "accessAllowDomains": {
            "description": "Allowed domains for the access token",
            "example": [
              "ALL"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "callbackUrl": {
            "description": "Callback URL",
            "example": "",
            "type": "string"
          },
          "keyType": {
            "enum": [
              "PRODUCTION",
              "SANDBOX"
            ],
            "example": "PRODUCTION",
            "type": "string"
          },
          "scopes": {
            "description": "Allowed scopes for the access token",
            "example": [
              "am_application_scope",
              "default"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "validityTime": {
            "example": 3600,
            "type": "string"
          }
        },
        "required": [
          "keyType",
          "validityTime",
          "accessAllowDomains"
        ],
        "title": "Application key generation request object",
        "type": "object"
      },
      "ApplicationList": {
        "properties": {
          "count": {
            "description": "Number of applications returned.\n",
            "example": 1,
            "type": "integer"
          },
          "list": {
            "items": {
              "$ref": "#/components/schemas/ApplicationInfo"
            },
            "type": "array"
          },
          "next": {
            "description": "Link to the next subset of resources qualified.\nEmpty if no more resources are to be returned.\n",
            "example": "/applications?limit=1&offset=2&groupId=",
            "type": "string"
          },
          "previous": {
            "description": "Link to the previous subset of resources qualified.\nEmpty if current subset is the first subset returned.\n",
            "example": "/applications?limit=1&offset=0&groupId=",
            "type": "string"
          }
        },
        "title": "Application List",
        "type": "object"
      },
      "Document": {
        "properties": {
          "documentId": {
            "example": "01234567-0123-0123-0123-012345678901",
            "type": "string"
          },
          "name": {
            "example": "CalculatorDoc",
            "type": "string"
          },
          "otherTypeName": {
            "example": "",
            "type": "string"
          },
          "sourceType": {
            "enum": [
              "INLINE",
              "URL",
              "FILE"
            ],
            "example": "INLINE",
            "type": "string"
          },
          "sourceUrl": {
            "example": "",
            "type": "string"
          },
          "summary": {
            "example": "Summary of Calculator Documentation",
            "type": "string"
          },
          "type": {
            "enum": [
              "HOWTO",
              "SAMPLES",
              "PUBLIC_FORUM",
              "SUPPORT_FORUM",
              "API_MESSAGE_FORMAT",
              "SWAGGER_DOC",
              "OTHER"
            ],
            "example": "HOWTO",
            "type": "string"
          }
        },
        "required": [
          "name",
          "type",
          "sourceType"
        ],
        "title": "Document",
        "type": "object"
      },
      "DocumentList": {
        "properties": {
          "count": {
            "description": "Number of Documents returned.\n",
            "example": 1,
            "type": "integer"
          },
          "list": {
            "items": {
              "$ref": "#/components/schemas/Document"
            },
            "type": "array"
          },
          "next": {
[...]
