{
  "openapi": "3.0.3",
  "info": {
    "title": "Clash Royale API",
    "description": "Provides access to Clash Royale game data including player profiles, clans, tournaments, cards, and game locations.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer.clashroyale.com"
  },
  "servers": [
    {
      "url": "https://api.clashroyale.com/v1"
    }
  ],
  "tags": [
    {
      "name": "clans",
      "description": "Clan related operations"
    },
    {
      "name": "players",
      "description": "Player related operations"
    },
    {
      "name": "cards",
      "description": "Card related operations"
    },
    {
      "name": "tournaments",
      "description": "Tournament related operations"
    },
    {
      "name": "locations",
      "description": "Location related operations"
    },
    {
      "name": "challenges",
      "description": "Challenge related operations"
    },
    {
      "name": "globaltournaments",
      "description": "Global tournament related operations"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from developer.clashroyale.com. Pass as Bearer token in Authorization header."
      }
    },
    "schemas": {
      "Player": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string",
            "description": "Player tag"
          },
          "name": {
            "type": "string"
          },
          "expLevel": {
            "type": "integer"
          },
          "trophies": {
            "type": "integer"
          },
          "bestTrophies": {
            "type": "integer"
          },
          "wins": {
            "type": "integer"
          },
          "losses": {
            "type": "integer"
          },
          "battleCount": {
            "type": "integer"
          },
          "threeCrownWins": {
            "type": "integer"
          },
          "challengeCardsWon": {
            "type": "integer"
          },
          "challengeMaxWins": {
            "type": "integer"
          },
          "tournamentCardsWon": {
            "type": "integer"
          },
          "tournamentBattleCount": {
            "type": "integer"
          },
          "role": {
            "type": "string"
          },
          "donations": {
            "type": "integer"
          },
          "donationsReceived": {
            "type": "integer"
          },
          "totalDonations": {
            "type": "integer"
          },
          "warDayWins": {
            "type": "integer"
          },
          "clanCardsCollected": {
            "type": "integer"
          },
          "clan": {
            "$ref": "#/components/schemas/PlayerClan"
          },
          "arena": {
            "$ref": "#/components/schemas/Arena"
          },
          "leagueStatistics": {
            "$ref": "#/components/schemas/LeagueStatistics"
          },
          "badges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Badge"
            }
          },
          "achievements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Achievement"
            }
          },
          "cards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlayerCard"
            }
          },
          "currentDeck": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlayerCard"
            }
          },
          "currentFavouriteCard": {
            "$ref": "#/components/schemas/Card"
          },
          "starPoints": {
            "type": "integer"
          },
          "expPoints": {
            "type": "integer"
          }
        }
      },
      "PlayerClan": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "badgeId": {
            "type": "integer"
          }
        }
      },
      "Arena": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "LeagueStatistics": {
        "type": "object",
        "properties": {
          "currentSeason": {
            "type": "object",
            "properties": {
              "trophies": {
                "type": "integer"
              },
              "bestTrophies": {
                "type": "integer"
              }
            }
          },
          "previousSeason": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "trophies": {
                "type": "integer"
              },
              "bestTrophies": {
                "type": "integer"
              }
            }
          },
          "bestSeason": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "trophies": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Badge": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "level": {
            "type": "integer"
          },
          "maxLevel": {
            "type": "integer"
          },
          "progress": {
            "type": "integer"
          },
          "target": {
            "type": "integer"
          },
          "iconUrls": {
            "type": "object",
            "properties": {
              "large": {
                "type": "string"
              }
            }
          }
        }
      },
      "Achievement": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "stars": {
            "type": "integer"
          },
          "value": {
            "type": "integer"
          },
          "target": {
            "type": "integer"
          },
          "info": {
            "type": "string"
          },
          "completionInfo": {
            "type": "string"
          }
        }
      },
      "PlayerCard": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "level": {
            "type": "integer"
          },
          "maxLevel": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "iconUrls": {
            "type": "object",
            "properties": {
              "medium": {
                "type": "string"
              }
            }
          },
          "starLevel": {
            "type": "integer"
          }
        }
      },
      "Card": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "maxLevel": {
            "type": "integer"
          },
          "maxEvolutionLevel": {
            "type": "integer"
          },
          "elixirCost": {
            "type": "integer"
          },
          "iconUrls": {
            "type": "object",
            "properties": {
              "medium": {
                "type": "string",
                "format": "uri"
              },
              "evolutionMedium": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "Clan": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "open",
              "inviteOnly",
              "closed"
            ]
          },
          "description": {
            "type": "string"
          },
          "badgeId": {
            "type": "integer"
          },
          "clanScore": {
            "type": "integer"
          },
          "clanWarTrophies": {
            "type": "integer"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "requiredTrophies": {
            "type": "integer"
          },
          "donationsPerWeek": {
            "type": "integer"
          },
          "clanChestLevel": {
            "type": "integer"
          },
          "clanChestMaxLevel": {
            "type": "integer"
          },
          "members": {
            "type": "integer"
          },
          "memberList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClanMember"
            }
          }
        }
      },
      "ClanMember": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "member",
              "elder",
              "coLeader",
              "leader"
            ]
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time"
          },
          "expLevel": {
            "type": "integer"
          },
          "trophies": {
            "type": "integer"
          },
          "arena": {
            "$ref": "#/components/schemas/Arena"
          },
          "clanRank": {
            "type": "integer"
          },
          "previousClanRank": {
            "type": "integer"
          },
          "donations": {
            "type": "integer"
          },
          "donationsReceived": {
            "type": "integer"
          },
          "clanChestPoints": {
            "type": "integer"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "isCountry": {
            "type": "boolean"
          },
          "countryCode": {
            "type": "string"
          }
        }
      },
      "Tournament": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "creatorTag": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "levelCap": {
            "type": "integer"
          },
          "firstPlaceCardPrize": {
            "type": "integer"
          },
          "capacity": {
            "type": "integer"
          },
          "maxCapacity": {
            "type": "integer"
          },
          "preparationDuration": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "createdTime": {
            "type": "string",
            "format": "date-time"
          },
          "startedTime": {
            "type": "string",
            "format": "date-time"
          },
          "endedTime": {
            "type": "string",
            "format": "date-time"
          },
          "membersList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TournamentMember"
            }
          }
        }
      },
      "TournamentMember": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          },
          "clan": {
            "$ref": "#/components/schemas/PlayerClan"
          }
        }
      },
      "BattleLog": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string"
            },
            "battleTime": {
              "type": "string"
            },
            "isLadderTournament": {
              "type": "boolean"
            },
            "arena": {
              "$ref": "#/components/schemas/Arena"
            },
            "gameMode": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            },
            "deckSelection": {
              "type": "string"
            },
            "team": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "crowns": {
                    "type": "integer"
                  },
                  "kingTowerHitPoints": {
                    "type": "integer"
                  },
                  "princessTowersHitPoints": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "cards": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PlayerCard"
                    }
                  }
                }
              }
            },
            "opponent": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "tag": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "crowns": {
                    "type": "integer"
                  },
                  "kingTowerHitPoints": {
                    "type": "integer"
                  },
                  "princessTowersHitPoints": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "cards": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PlayerCard"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UpcomingChests": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ClanWarLog": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "seasonId": {
                  "type": "integer"
                },
                "createdDate": {
                  "type": "string"
                },
                "participants": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "standings": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "RiverRaceLog": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {}
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "cursors": {
            "type": "object",
            "properties": {
              "before": {
                "type": "string"
              },
              "after": {
                "type": "string"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "detail": {
            "type": "object"
          }
        }
      },
      "GlobalTournament": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "startTime": {
            "type": "string"
          },
          "endTime": {
            "type": "string"
          },
          "maxTopRewardRank": {
            "type": "integer"
          },
          "maxLosses": {
            "type": "integer"
          },
          "minExpLevel": {
            "type": "integer"
          },
          "tournamentLevel": {
            "type": "integer"
          },
          "milestoneRewards": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "freeTierRewards": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "topRankReward": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "gameMode": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/clans": {
      "get": {
        "tags": [
          "clans"
        ],
        "summary": "Search clans",
        "operationId": "searchClans",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Search clans by name. If name is used as part of search query, it needs to be at least three characters long.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "description": "Filter by clan location identifier.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minMembers",
            "in": "query",
            "description": "Filter by minimum number of clan members.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "maxMembers",
            "in": "query",
            "description": "Filter by maximum number of clan members.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minScore",
            "in": "query",
            "description": "Filter by minimum amount of clan score.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of items returned in the response.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Return only items that occur after this marker.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Return only items that occur before this marker.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Clan"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clans/{clanTag}": {
      "get": {
        "tags": [
          "clans"
        ],
        "summary": "Get clan information",
        "operationId": "getClan",
        "parameters": [
          {
            "name": "clanTag",
            "in": "path",
            "required": true,
            "description": "Tag of the clan (URL encoded, e.g. %232ABC).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Clan"
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clans/{clanTag}/members": {
      "get": {
        "tags": [
          "clans"
        ],
        "summary": "List clan members",
        "operationId": "getClanMembers",
        "parameters": [
          {
            "name": "clanTag",
            "in": "path",
            "required": true,
            "description": "Tag of the clan.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClanMember"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clans/{clanTag}/warlog": {
      "get": {
        "tags": [
          "clans"
        ],
        "summary": "Retrieve clan's clan war log",
        "operationId": "getClanWarLog",
        "parameters": [
          {
            "name": "clanTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanWarLog"
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clans/{clanTag}/currentwar": {
      "get": {
        "tags": [
          "clans"
        ],
        "summary": "Information about clan's current clan war",
        "operationId": "getCurrentWar",
        "parameters": [
          {
            "name": "clanTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clans/{clanTag}/currentriverrace": {
      "get": {
        "tags": [
          "clans"
        ],
        "summary": "Information about clan's current river race",
        "operationId": "getCurrentRiverRace",
        "parameters": [
          {
            "name": "clanTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clans/{clanTag}/riverracelog": {
      "get": {
        "tags": [
          "clans"
        ],
        "summary": "Retrieve clan's river race log",
        "operationId": "getRiverRaceLog",
        "parameters": [
          {
            "name": "clanTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiverRaceLog"
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/players/{playerTag}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "Get player information",
        "operationId": "getPlayer",
        "parameters": [
          {
            "name": "playerTag",
            "in": "path",
            "required": true,
            "description": "Tag of the player (URL encoded).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/players/{playerTag}/upcomingchests": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "Get list of upcoming chests for the player",
        "operationId": "getPlayerUpcomingChests",
        "parameters": [
          {
            "name": "playerTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpcomingChests"
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/players/{playerTag}/battlelog": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "Get list of recent battles for a player",
        "operationId": "getPlayerBattleLog",
        "parameters": [
          {
            "name": "playerTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BattleLog"
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cards": {
      "get": {
        "tags": [
          "cards"
        ],
        "summary": "Get list of available cards",
        "operationId": "getCards",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Card"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tournaments": {
      "get": {
        "tags": [
          "tournaments"
        ],
        "summary": "Search tournaments",
        "operationId": "searchTournaments",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Search tournaments by name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tournament"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tournaments/{tournamentTag}": {
      "get": {
        "tags": [
          "tournaments"
        ],
        "summary": "Get tournament information",
        "operationId": "getTournament",
        "parameters": [
          {
            "name": "tournamentTag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tournament"
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "List locations",
        "operationId": "getLocations",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Location"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get location information",
        "operationId": "getLocation",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}/rankings/clans": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get clan rankings for a specific location",
        "operationId": "getClanRankingsForLocation",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}/rankings/players": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get player rankings for a specific location",
        "operationId": "getPlayerRankingsForLocation",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}/rankings/clanwars": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get clan war rankings for a specific location",
        "operationId": "getClanWarRankingsForLocation",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/locations/{locationId}/pathoflegend/{seasonId}/rankings/players": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get Path of Legend player rankings for a specific location and season",
        "operationId": "getPathOfLegendPlayerRankings",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "seasonId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client provided incorrect parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/challenges": {
      "get": {
        "tags": [
          "challenges"
        ],
        "summary": "Get list of available and in-progress challenges",
        "operationId": "getChallenges",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "winMode": {
                        "type": "string"
                      },
                      "casual": {
                        "type": "boolean"
                      },
                      "gameMode": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/globaltournaments": {
      "get": {
        "tags": [
          "globaltournaments"
        ],
        "summary": "Get list of global tournaments",
        "operationId": "getGlobalTournaments",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GlobalTournament"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Request was throttled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service temporarily unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}