{
  "openapi": "3.0.3",
  "info": {
    "title": "Bity Exchange API",
    "description": "The present document gives the technical details enabling one to make\nrequest to and understand the responses of the Exchange API. Should you\nwant to know what is possible to do with the API, please consult the\nproduct guide or have a look at the\n[product page](https://go.bity.com/Exchange API).\n\nVersion 2 of the Exchange API (this version) is stable and should be\nconsidered reliable. However, Bity reserves itself the right to correct\nbugs in these API endpoints without considering such corrections as being\nbreaking changes.\n\nConnection to the API happens over HTTP/1.1 (RFC 7231) and HTTP State\nManagement (RFC 6265) is required. Most libraries and user-agents allowing\nHTTP requests to be performed already implements that for you as long as\ncookies are not disabled and that you are requesting credentials to be\nincluded in the requests.\n\nAPI clients of registered partners add an optional `Client-ID` header to\nthe requests. This enables partners to benefit from profit sharing. See the\n[corresponding section of the product guide](https://doc.bity.com/exchange/guide.html#financial-partners)\nfor more details.\n\nEnd-users can access the order status page via\n[https://go.bity.com/order-status](https://go.bity.com/order-status). A\nlink to the status of a specific order can be constructed by appending the\norder identifier to `https://go.bity.com/order-status?id=`. The order\nstatus page allows to contact the Bity Support Team about a specific order.\n\nThe OpenAPI definition in YAML format is available\n[here](https://doc.bity.com/exchange/exchange_api_v2.openapi.yaml).\n",
    "version": "2.6.0",
    "contact": {
      "name": "Bity SA",
      "url": "https://bity.com/"
    },
    "license": {
      "name": "Bity",
      "url": "https://go.bity.com/legal"
    },
    "termsOfService": "https://go.bity.com/legal",
    "x-konfig-ignore": {
      "potential-incorrect-type": true
    },
    "x-jentic-source-url": "https://github.com/konfig-sdks/openapi-examples/tree/HEAD/bity/openapi.yaml"
  },
  "servers": [
    {
      "description": "Bity Exchange API version 2",
      "url": "https://exchange.api.bity.com/v2"
    }
  ],
  "tags": [
    {
      "name": "Orders"
    },
    {
      "name": "Currencies"
    },
    {
      "name": "Other"
    }
  ],
  "paths": {
    "/currencies": {
      "summary": "Get currencies",
      "description": "Available currencies are those exclusively supported by Bity.",
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "List currencies",
        "operationId": "get_currencies",
        "security": [
          {}
        ],
        "parameters": [
          {
            "description": "Comma-separated list of tags. Currencies that contain all tags will be filtered.",
            "explode": false,
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "items": {
                "$ref": "#/components/schemas/CurrencyTag"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "Filtered currencies": {
                    "description": "List currencies filtering by \"fiat\".",
                    "value": {
                      "currencies": [
                        {
                          "tags": [
                            "fiat"
                          ],
                          "code": "CHF",
                          "input_methods": [
                            {
                              "input_object_type": "bank_account",
                              "name": "bank_transfer"
                            },
                            {
                              "input_object_type": "online_instant_payment",
                              "name": "online_instant_payment"
                            }
                          ],
                          "max_digits_in_decimal_part": 2
                        },
                        {
                          "tags": [
                            "fiat"
                          ],
                          "code": "EUR",
                          "input_methods": [
                            {
                              "input_object_type": "bank_account",
                              "name": "bank_transfer"
                            },
                            {
                              "input_object_type": "online_instant_payment",
                              "name": "online_instant_payment"
                            }
                          ],
                          "max_digits_in_decimal_part": 2
                        }
                      ]
                    }
                  },
                  "List currencies": {
                    "description": "List currencies without any filter.",
                    "value": {
                      "currencies": [
                        {
                          "tags": [
                            "crypto"
                          ],
                          "code": "BTC",
                          "input_methods": [
                            {
                              "input_object_type": "crypto_address",
                              "name": "crypto_transaction"
                            }
                          ],
                          "max_digits_in_decimal_part": 8
                        },
                        {
                          "tags": [
                            "fiat"
                          ],
                          "code": "CHF",
                          "input_methods": [
                            {
                              "input_object_type": "bank_account",
                              "name": "bank_transfer"
                            },
                            {
                              "input_object_type": "online_instant_payment",
                              "name": "online_instant_payment"
                            }
                          ],
                          "max_digits_in_decimal_part": 2
                        },
                        {
                          "tags": [
                            "crypto",
                            "ethereum"
                          ],
                          "code": "ETH",
                          "input_methods": [
                            {
                              "input_object_type": "crypto_address",
                              "name": "crypto_transaction"
                            }
                          ],
                          "max_digits_in_decimal_part": 18
                        },
                        {
                          "tags": [
                            "fiat"
                          ],
                          "code": "EUR",
                          "input_methods": [
                            {
                              "input_object_type": "bank_account",
                              "name": "bank_transfer"
                            },
                            {
                              "input_object_type": "online_instant_payment",
                              "name": "online_instant_payment"
                            }
                          ],
                          "max_digits_in_decimal_part": 2
                        },
                        {
                          "tags": [
                            "crypto",
                            "ethereum",
                            "erc20"
                          ],
                          "code": "USDC",
                          "input_methods": [
                            {
                              "input_object_type": "crypto_address",
                              "name": "crypto_transaction"
                            }
                          ],
                          "max_digits_in_decimal_part": 6
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CurrenciesResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/currencies/{currency_code}": {
      "summary": "Get a single currency",
      "description": "Obtain information about a specified currency.",
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get a single currency",
        "operationId": "Currencies_getByCode",
        "security": [
          {}
        ],
        "parameters": [
          {
            "description": "Currency code identifying the currency about which to return information.",
            "in": "path",
            "name": "currency_code",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CurrencyCode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "CHF": {
                    "description": "Details of the CHF currency",
                    "value": {
                      "tags": [
                        "fiat"
                      ],
                      "code": "CHF",
                      "input_methods": [
                        {
                          "input_object_type": "bank_account",
                          "name": "bank_transfer"
                        },
                        {
                          "input_object_type": "online_instant_payment",
                          "name": "online_instant_payment"
                        }
                      ],
                      "max_digits_in_decimal_part": 2
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDetails"
                }
              }
            }
          },
          "404": {
            "description": "Currency not found or unsupported"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List previously placed orders",
        "operationId": "list_orders",
        "security": [
          {},
          {
            "bity_account_oauth": [
              "https://auth.bity.com/scopes/exchange.history"
            ]
          },
          {
            "bity_account_oauth": [
              "https://auth.bity.com/scopes/exchange.audit"
            ]
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.history"
            ]
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.audit"
            ]
          },
          {
            "client_oauth": [
              "https://auth.bity.com/scopes/exchange.client-history"
            ]
          },
          {
            "client_oauth": [
              "https://auth.bity.com/scopes/exchange.client-history-full"
            ]
          }
        ],
        "description": "Get a list of previously placed orders. Depending on the authentication\nmethod used different orders will be returned.\n\nWhen the `bity_account_oauth` or `bity_account_client_oauth` security\nschemes are used, which orders are visible depends on the scope of the\naccess token.\n",
        "parameters": [
          {
            "description": "Number of the page to retrieve, defaults to the first page (1). See also the `Link` header in the 200 response.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "description": "Number of orders to include in a page. When not specified, 100.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "description": "When specified, restrict the orders listing to orders with a\nspecific status.\n\nThe currently understood values are:\n\n- `finalized`: Only include orders that have reached a final state.\n- `ongoing`: Only include orders that are not finalized.\n",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "enum": [
                "finalized",
                "ongoing"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrdersResponse"
                }
              }
            },
            "headers": {
              "Link": {
                "$ref": "#/components/headers/Link"
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Place an order",
        "operationId": "place_order",
        "security": [
          {},
          {
            "bity_account_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "client_oauth": []
          }
        ],
        "description": "It is possible to specify amount in the input or output in which case\nthe corresponding input or output amount will be computed.\n\nThe input or output amount can be estimated beforehand using the\ndedicated endpoint, see \"Estimate the amount of an order\".\n\nThe input object must in principle contain the IBAN or crypto-address\nwhich will be used to pay the order. In some cases, this is optional.\nSee \"Estimate the amount of an order\" to figure out if this information\ncan be omitted or not. Omitting the information increases the number of\nsituations were we can be required to cancel an order uppon\nreception of the funds. To ensure a reliable execution of your order,\nthe crypto-address or IBAN must be provided and the paiment must be\nmade from the provided object.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Buy CHF with ETH": {
                  "description": "Request to place an order for buying CHF with ETH.\n",
                  "value": {
                    "input": {
                      "amount": "0.5",
                      "crypto_address": "0xf35074bbd0a9aee46f4ea137971feec024ab7048",
                      "currency": "ETH",
                      "type": "crypto_address"
                    },
                    "output": {
                      "bic_swift": "XXXXCHXXXXX",
                      "currency": "CHF",
                      "iban": "CH3600000000000000000",
                      "owner": {
                        "address": "Br\u00fcckenstrasse 12",
                        "city": "Bern",
                        "country": "CH",
                        "name": "John Doe",
                        "zip": "3000"
                      },
                      "type": "bank_account"
                    }
                  }
                },
                "Buy ETH with CHF and a credit card": {
                  "description": "Request to place an order for buying ETH with CHF. The CHF\npayment is to be made with a credit card.\n",
                  "value": {
                    "input": {
                      "amount": "0.5",
                      "currency": "CHF",
                      "type": "online_instant_payment"
                    },
                    "output": {
                      "crypto_address": "0xf35074bbd0a9aee46f4ea137971feec024ab7048",
                      "currency": "ETH",
                      "type": "crypto_address"
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/PlaceOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The order has been successfully created.\n\nThe `Location` header contains the URI (which can be relative) at\nwhich the order status and details can be retrieved. That is the\n`Location` header is meant to be interpreted as per RFC 7231 section\n7.1.2.\n",
            "headers": {
              "Location": {
                "description": "URL to use for retrieving the details of the order.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Following cases:\n\n- Unsupported currency pair.\n- Quota exceeded for the bank account or crypto-address.\n- Provided input payment address cannot be used currently. Please try again later.\n- Internal error.\n"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders/estimate": {
      "summary": "Estimate the input or output amounts of an order before placing it",
      "description": "Gets an accurate estimation for the output amount given an input amount\nand vice-versa. It however does not take into account all the limitations\n(such as currently consumed quota) that are enforced when an order is\nplaced. As such, obtaining an estimation does not guarantee that the\ncorresponding order can be placed.\n\nThe response also contains the minimum amount allowed for placing an\norder with this pair. When the amount in the request is too small, an\nestimation for the minimum amount is performed instead.\n",
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Estimate the amount of an order",
        "operationId": "Orders_calculateAmountEstimate",
        "security": [
          {},
          {
            "bity_account_oauth": []
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "client_oauth": []
          }
        ],
        "description": "The endpoint is similar to the endpoints allowing an order to be placed.\nHowever, only the currencies and the input or output amount are\nnecessary in the request.\n\nProviding optional information, such as `type` in the `input` and\n`output` objects will result in a more precise estimate being returned.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Estimate for buying BTC with a credit card": {
                  "description": "Request an estimate for buying BTC, with 200 CHF paid via\ncredit card.\n",
                  "value": {
                    "input": {
                      "amount": "200",
                      "currency": "CHF",
                      "type": "online_instant_payment"
                    },
                    "output": {
                      "currency": "BTC",
                      "type": "crypto_address"
                    }
                  }
                },
                "Estimate input amount": {
                  "description": "Estimation the input amount for a given output amount.",
                  "value": {
                    "input": {
                      "currency": "BTC"
                    },
                    "output": {
                      "amount": "0.5",
                      "currency": "ETH"
                    }
                  }
                },
                "Estimate output amount": {
                  "description": "Estimating the output amount for a given input amount.",
                  "value": {
                    "input": {
                      "amount": "1.00000000",
                      "currency": "BTC"
                    },
                    "output": {
                      "currency": "EUR"
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/AmountEstimateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "Estimate": {
                    "description": "Example response to a request specifying the input or output\namount.\n",
                    "value": {
                      "input": {
                        "amount": "415.45",
                        "currency": "CHF",
                        "object_information_optional": true,
                        "type": "online_instant_payment"
                      },
                      "ordering_requirements": {
                        "account": {
                          "satisfied": true
                        },
                        "account_quota": {
                          "satisfied": true
                        },
                        "kyc": {
                          "satisfied": true
                        }
                      },
                      "output": {
                        "amount": "0.01000000",
                        "currency": "BTC",
                        "minimum_amount": "0.00020204",
                        "type": "crypto_address"
                      },
                      "price_breakdown": {
                        "customer_trading_fee": {
                          "amount": "3.32",
                          "currency": "CHF"
                        },
                        "instant_payment_fee": {
                          "amount": "15.79",
                          "currency": "CHF"
                        },
                        "output_transaction_cost": {
                          "amount": "0.00003972",
                          "currency": "BTC"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/AmountEstimate"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request. <br> Invalid currency code. <br> Invalid currency pair. <br> Invalid amount."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders/estimate/multiple": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Perform several estimations in one request",
        "operationId": "Orders_performMultipleEstimations",
        "security": [
          {},
          {
            "bity_account_oauth": []
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "client_oauth": []
          }
        ],
        "description": "This endpoint is equivalent to `/orders/estimate` except that several estimations can be performed in a single request.",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "CHF to BTC and ETH": {
                  "description": "Request estimates for CHF\u2192BTC and CHF\u2192ETH.\n",
                  "value": [
                    {
                      "input": {
                        "amount": "200",
                        "currency": "CHF"
                      },
                      "output": {
                        "currency": "BTC"
                      }
                    },
                    {
                      "input": {
                        "amount": "200",
                        "currency": "CHF"
                      },
                      "output": {
                        "currency": "ETH"
                      }
                    }
                  ]
                }
              },
              "schema": {
                "$ref": "#/components/schemas/OrdersPerformMultipleEstimationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "CHF to BTC and ETH": {
                    "description": "Estimates for CHF\u2192BTC and CHF\u2192ETH.\n",
                    "value": [
                      {
                        "input": {
                          "amount": "200.00",
                          "currency": "CHF",
                          "minimum_amount": "10.00",
                          "object_information_optional": false,
                          "type": "bank_account"
                        },
                        "output": {
                          "amount": "0.00493540",
                          "currency": "BTC",
                          "type": "crypto_address"
                        },
                        "price_breakdown": {
                          "customer_trading_fee": {
                            "amount": "1.60",
                            "currency": "CHF"
                          },
                          "non-verified_fee": {
                            "amount": "0.80",
                            "currency": "CHF"
                          },
                          "output_transaction_cost": {
                            "amount": "0.00003972",
                            "currency": "BTC"
                          }
                        }
                      },
                      {
                        "input": {
                          "amount": "200.00",
                          "currency": "CHF",
                          "minimum_amount": "10.00",
                          "object_information_optional": false,
                          "type": "bank_account"
                        },
                        "output": {
                          "amount": "0.089742853056898515",
                          "currency": "ETH",
                          "type": "crypto_address"
                        },
                        "price_breakdown": {
                          "customer_trading_fee": {
                            "amount": "1.60",
                            "currency": "CHF"
                          },
                          "non-verified_fee": {
                            "amount": "0.80",
                            "currency": "CHF"
                          },
                          "output_transaction_cost": {
                            "amount": "0.002167105536687000",
                            "currency": "ETH"
                          }
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/OrdersPerformMultipleEstimationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "This endpoint can produce the same errors as `/orders/estimate` in addition to refusing to perform too many estimations in a single call."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders/{order_uuid}": {
      "summary": "Order details",
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get the details of an order",
        "operationId": "Orders_getOrderDetails",
        "security": [
          {},
          {
            "bity_account_oauth": [
              "https://auth.bity.com/scopes/exchange.audit"
            ]
          },
          {
            "bity_account_oauth": [
              "https://auth.bity.com/scopes/exchange.history"
            ]
          },
          {
            "bity_account_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.audit"
            ]
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.history"
            ]
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "client_oauth": []
          }
        ],
        "description": "Please note the following:\n\n- If the amount paid is not exactly the input amount, we can be\n  required to cancel the order, or the output amount will be adjusted\n  and extra fees could be charged.\n- If it is sent in multiple transactions, we can be required to cancel\n  the order and extra processing fees could be charged.\n\n### Minimal details\n\nWhen the request does not include sufficient credentials, only minimal\ninformation is returned. If you are unexpectedly receiving only minimal\ndetails, please double check which security scheme you are using and\nused to place the order. When no security scheme is used, please make\nsure you are making all the requests to the correct URLs and that\ncookies are accepted and handled according to RFC 6265. Most user\nagents handle that for you but cookies must not be disabled and you may\nhave to request the user-agent to include credentials in the request.\n\nThe full information is returned when one of the following is true:\n\n- No security scheme is used and the order was placed while\n  unauthenticated, in the same session.\n- The `bity_account_oauth` or `bity_account_oauth_client` security\n  scheme are used, the scope includes\n  `https://auth.bity.com/scopes/exchange.place` or\n  `https://auth.bity.com/scopes/exchange.history`, and the OAuth client\n  is the client having placed the order.\n- The `bity_account_oauth` or `bity_account_oauth_client` security\n  scheme are used and the scope includes\n  `https://auth.bity.com/scopes/exchange.audit`.\n- The `client_oauth` security scheme is used and the OAuth client is\n  the client having placed the order.\n\n### Output address signature\n\nWhen the customer is not authenticated or has not gone through the KYC\nprocess, crypto-to-crypto and fiat-to-crypto orders require the\nsignature of a message by the output address for the order to become\nexecutable. When such a signature is required \"message_to_sign\" is\nincluded in the response. The price will not be fixed and the payment\ndetails will not be provided before the signature of the message is\nsubmitted.\n\n### Input and output objects\n\nThe input type and output type can be one of \"crypto_address\" or\n\"bank_account\".\n\n- In case it is \"crypto_address\" the object additionally contains\n  \"crypto_address\".\n- In case it is \"bank_account\" the object additionally contains \"iban\".\n\nWhenever the input object contains iban or crypto_address, the input\nmust be paid from the corresponding object. If this is not the case, we\ncan be required to cancel the order and perform a refund uppon\nreception of the funds and extra fees can be charged.\n\n### Payment details\n\nThis object describes how to pay the input amount.\n\nThere are two different possible types of payment details:\n`\"crypto_address\"` and `\"bank_account\"`. Both types are described\nbellow. The amount and the associated currency is found in the input\nobject.\n\n#### Crypto-address\n\nWhen the payment must be made to a crypto-address, the `type` is\n`\"crypto_address\"` and the address to use as a destination address\nis found in the `\"crypto_address\"` attribute. If the payment details\ncontain a `\"memo\"`, the cryptocurrency transaction must include it.\n\n#### Bank account\n\nWhen the payment must be made to a bank account, the type is\n`\"bank_account\"`.\n\nIn most cases the banks involved in sending, transmitting and receiving\nthe payment will require the IBAN, SWIFT code and the bank account\nowner name and address to process the payment. This is reflected by the\ninformation provided in the response:\n\n- `\"iban\"`: The IBAN to which the payment must be made.\n- `\"owner\"`: An object containing information about the owner of the\n  bank account. It can contain the following properties: \"name\",\n  \"address\", \"address_complement\", \"zip\", \"city\", \"state\", \"country\".\n  The country is formatted as a two-letter country code.\n- `\"swift_bic\"` The SWIFT code (also known as BIC) of the bank account\n  at which the bank account is located.\n\n### Amounts\n\nWhen `timestamp_price_guaranteed` is not present or has elapsed, the\namounts (input, output and price breakdown) are an estimation of the\namounts that would have been used should the order have been executed\nat the time the order details were retrieved.\n\nWhen `timestamp_price_guaranteed` is present and has not elapsed, the\namounts correspond to the amounts that will be used provided that the\nexact input amount is received before `timestamp_price_guaranteed`\nelapses.\n",
        "parameters": [
          {
            "description": "ID of the order.",
            "in": "path",
            "name": "order_uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersGetOrderDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Order with such ID not found."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders/{order_uuid}/bank_transfer_qr_bill": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get the QR-bill of an order where the input is bank_transfer.",
        "operationId": "Orders_getQrBill",
        "security": [
          {},
          {
            "bity_account_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "client_oauth": []
          }
        ],
        "description": "Retrieve a QR-bill that can be used to record a payment for the order in\ne-banking systems.\n\nNote that scanning the QR-bill will not ensure that the payment will be\nmade from the correct bank account. The user still need to choose the\ncorrect bank account with which to pay the order in case the order was\ncreated with information of the input bank account.\n",
        "parameters": [
          {
            "description": "Identifier of the order for which to retrieve the QR-bill image.",
            "in": "path",
            "name": "order_uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image of the QR-bill.",
            "content": {
              "application/pdf": {},
              "image/*": {}
            }
          },
          "404": {
            "description": "The specified order does not exist, its input is not bank_transfer or the order's input currency is not fiat."
          }
        }
      }
    },
    "/orders/{order_uuid}/cancel": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel an order",
        "operationId": "cancel_order",
        "security": [
          {},
          {
            "bity_account_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "client_oauth": []
          }
        ],
        "description": "Attempt to cancel an order.\n\nIf a payment is received after the order has been cancelled, Bity is\nfree to choose what to do at its own discretion. Bity will generally\nattempt to perform a refund to the same crypto-address or IBAN having\nperformed the payment. Various unpredictable fees may apply. It is very\nhighly recommended to not cancel orders for which a payment has already\nbeen sent.\n\nThis functionality is meant for the customer to cancel orders for which\nno payment has been made and will be made. In particular, it is not\nmeant to cancel orders for which a payment has already been made or\nwill be made at a later time, and will result in an unpredictable\noutcome if used in such situation.\n",
        "parameters": [
          {
            "description": "Identifier of the order to attempt to cancel",
            "in": "path",
            "name": "order_uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request to cancel the order is being processed asynchronously.\n\nIt is at this time not possible to know whether the cancellation\nattempt will be successful or not.\n"
          },
          "204": {
            "description": "The cancellation attempt was successful."
          },
          "400": {
            "description": "The cancellation attempt was unsuccessful."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders/{order_uuid}/duplicate": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Duplicate an order",
        "operationId": "duplicate_order",
        "security": [
          {},
          {
            "bity_account_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "client_oauth": []
          }
        ],
        "description": "This endpoint places a new order with the same amount, same input\nobject, same ouput object and same payment details as an already\nexecuted one.\n\nIt is only possible to duplicate orders of which the full order details\nare accessible.\n",
        "parameters": [
          {
            "description": "ID of the order to duplicate.",
            "in": "path",
            "name": "order_uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The order has been successfully created.\n\nThe `Location` header contains the URI (which can be relative) at\nwhich the order status and details can be retrieved. That is, the\n`Location` header is meant to be interpreted as per RFC 7231\nsection 7.1.2.\n"
          },
          "400": {
            "description": "This operation can return the same errors as the `place_order` operation (POST /orders)."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/orders/{order_uuid}/execute": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Execute order",
        "operationId": "execute_order",
        "security": [
          {},
          {
            "bity_account_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "client_oauth": []
          }
        ],
        "description": "This operation is only valid when the order input type is\n`bity_account`.\n\nCalling this endpoint indicates that the system can now proceed with\nthe execution of the order. Compared to other input types, calling\nthis endpoint is equivalent to paying the order.\n",
        "parameters": [
          {
            "description": "Identifier of the order to attempt to execute",
            "in": "path",
            "name": "order_uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The order has been paid, execution is ongoing"
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/orders/{order_uuid}/signature": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Sign proof of wallet ownership message",
        "operationId": "Orders_submitSignature",
        "security": [
          {},
          {
            "bity_account_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "bity_account_client_oauth": [
              "https://auth.bity.com/scopes/exchange.place"
            ]
          },
          {
            "client_oauth": []
          }
        ],
        "description": "Submit the signature of the message provided in the order details.\n\nThe body of the request must contain the signature of the message.\nThe message to sign is located in the `body` property of the\n`message_to_sign` object of the order details.\n\nOnce the signature is verified to be correct (204 response), the\norder becomes executable and the order details will contain the\n`payment_details` object which provides the information to use to pay\nthe order.\n\nDo not build the URL of this endpoint but instead use the value of\n`signature_submission_url` included along the message to be signed in\nthe order details.\n",
        "parameters": [
          {
            "description": "ID of the order.",
            "in": "path",
            "name": "order_uuid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "*/*": {
              "examples": {
                "bitcoin": {
                  "description": "Example Bitcoin signature.",
                  "value": "INLD1TamPfjszILEL+Q2DanJeldExqZ5YahJxS3FxqBfL9zDt+wtqgTRcB72Bq9H88meKlGl3WoPEplwBcYF52A="
                },
                "ethereum": {
                  "description": "Example Ethereum signature.",
                  "value": "0x7709bc9c45926cc4d9791d868ad6c81883b624db44fbae1e62c0e6cc6c19784b74eb7"
                }
              },
              "schema": {
                "$ref": "#/components/schemas/OrdersSubmitSignatureRequest"
              }
            },
            "text/plain": {
              "examples": {
                "bitcoin": {
                  "description": "Example Bitcoin signature.",
                  "value": "INLD1TamPfjszILEL+Q2DanJeldExqZ5YahJxS3FxqBfL9zDt+wtqgTRcB72Bq9H88meKlGl3WoPEplwBcYF52A="
                },
                "ethereum": {
                  "description": "Example Ethereum signature.",
                  "value": "0x7709bc9c45926cc4d9791d868ad6c81883b624db44fbae1e62c0e6cc6c19784b74eb7"
                }
              },
              "schema": {
                "$ref": "#/components/schemas/OrdersSubmitSignatureRequest1"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The signature is correct, the order details now contain `payment_details`."
          },
          "400": {
            "description": "The signature is invalid."
          },
          "404": {
            "description": "The associated order could not be found or there is no message to sign."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "description": "Internal error."
          },
          "503": {
            "description": "Internal error."
          },
          "504": {
            "description": "Internal error."
          }
        }
      }
    },
    "/pairs": {
      "summary": "Get and filter currency pairs",
      "description": "Available currency pairs are those exclusively supported by Bity.",
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "List currency pairs",
        "operationId": "Currencies_getList",
        "security": [
          {}
        ],
        "description": "Gets a list of all the currency pairs that can be traded through the Bity platform.",
        "parameters": [
          {
            "description": "Retrieve all pairs for given input currency code. This parameter can be repeated several times to match many input currencies.",
            "in": "query",
            "name": "input",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Retrieve all pairs for given output currency code. This parameter can be repeated several times to match many output currencies.",
            "in": "query",
            "name": "output",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Retrieve all pairs that are enabled for trading or not.",
            "allowEmptyValue": true,
            "in": "query",
            "name": "enabled",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "examples": {
                  "normal_case": {
                    "description": "List currency pairs without any filter.",
                    "value": {
                      "pairs": [
                        {
                          "enabled": true,
                          "input": "BTC",
                          "output": "CHF"
                        },
                        {
                          "enabled": true,
                          "input": "CHF",
                          "output": "BTC"
                        },
                        {
                          "enabled": true,
                          "input": "ETH",
                          "output": "REP"
                        },
                        {
                          "enabled": true,
                          "input": "EUR",
                          "output": "ETH"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/CurrencyPairsResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/read_payment_information": {
      "post": {
        "tags": [
          "Other"
        ],
        "summary": "Read payment information",
        "operationId": "Other_extractQrPaymentInfo",
        "security": [],
        "description": "This endpoint reads payment information from the document contained in\nthe request body.\n\nThe following documents are currencly supported:\n\n- Content of QR code found in QR bills\n",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "$ref": "#/components/schemas/OtherExtractQrPaymentInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment information",
            "content": {
              "application/json": {
                "examples": {
                  "Example QR Bill": {
                    "value": {
                      "amount": "199.95",
                      "currency": "CHF",
                      "iban": "CH4989144173928427588",
                      "owner": {
                        "building_number": "1",
                        "country": "CH",
                        "name": "Example company",
                        "post_code": "8000",
                        "street_name": "Musterstrasse",
                        "town_name": "Z\u00fcrich"
                      },
                      "qr_reference": "210000000003139471430009017",
                      "type": "bank_account",
                      "ultimate_debtor": {
                        "building_number": "1",
                        "country": "CH",
                        "name": "Example customer",
                        "post_code": "6000",
                        "street_name": "Pilatusstrasse",
                        "town_name": "Luzern"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/OtherExtractQrPaymentInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "RateLimited": {
        "description": "Rate-limited (request ignored)",
        "headers": {
          "Retry-After": {
            "description": "Number of seconds after which a new request will be allowed.\n",
            "schema": {
              "type": "integer"
            }
          }
        }
      }
    },
    "callbacks": {},
    "headers": {
      "Link": {
        "description": "When applicable, links to the first, previous, next and last pages, formatted as per RFC 5988.",
        "schema": {
          "type": "string"
        }
      }
    },
    "links": {},
    "schemas": {
      "Amount": {
        "description": "Decimal number as a string",
        "example": "12.34",
        "type": "string"
      },
      "AmountEstimate": {
        "properties": {
          "input": {
            "$ref": "#/components/schemas/AmountEstimateInput"
          },
          "ordering_requirements": {
            "$ref": "#/components/schemas/OrderingRequirements"
          },
          "output": {
            "$ref": "#/components/schemas/AmountEstimateOutput"
          },
          "price_breakdown": {
            "$ref": "#/components/schemas/PriceBreakdown"
          }
        },
        "required": [
          "input",
          "output",
          "price_breakdown"
        ],
        "type": "object"
      },
      "AmountEstimateInput": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/InputAmount"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "minimum_amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "object_information_optional": {
            "description": "When true, indicates that it is not required to provide information about the object which is going to pay the order. In order to not provide information about the input object, do not include `bic_swift`, `crypto_address`, `iban`, `owner` and `type` in the input object.",
            "type": "boolean"
          },
          "type": {
            "$ref": "#/components/schemas/OrderInputType"
          }
        },
        "required": [
          "amount",
          "currency",
          "type"
        ],
        "type": "object"
      },
      "AmountEstimateOutput": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/OutputAmount"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "minimum_amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "type": {
            "$ref": "#/components/schemas/OrderOutputType"
          }
        },
        "required": [
          "amount",
          "currency",
          "type"
        ],
        "type": "object"
      },
      "AmountEstimateRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/InputAmountEstimateRequest"
          },
          {
            "$ref": "#/components/schemas/OutputAmountEstimateRequest"
          }
        ]
      },
      "AmountEstimateRequestCommon": {
        "properties": {
          "fix_invalid_amount": {
            "description": "When `true`, the server may adjust the specified amount and perform\nan estimation for that adjusted amount instead of returning an error\nresponse indicating that the specified amount is invalid.\n\nFor instance, when this option is `true`, the server will correct an\namount of \"70.123 EUR\" to \"70.12 EUR\".\n\nThis option defaults to `false`.\n\nRegardless of the value of this option, the server may return an\nestimate for a different amount in case the specified amount is too\nlarge or too small.\n",
            "type": "boolean"
          },
          "partner_fee": {
            "$ref": "#/components/schemas/PartnerFee"
          }
        },
        "type": "object"
      },
      "AmountEstimateRequestInputCommon": {
        "description": "When `type` is not specified, it defaults to `\"bank_account\"` for fiat\ncurrencies and `\"crypto_address\"` for crypto currencies.\n",
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "type": {
            "$ref": "#/components/schemas/OrderInputType"
          }
        },
        "required": [
          "currency"
        ],
        "type": "object"
      },
      "AmountEstimateRequestOutputCommon": {
        "description": "When `type` is not specified, it defaults to `\"bank_account\"` for fiat\ncurrencies and `\"crypto_address\"` for crypto currencies.\n",
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "type": {
            "$ref": "#/components/schemas/OrderOutputType"
          }
        },
        "required": [
          "currency"
        ],
        "type": "object"
      },
      "ClientValue": {
        "description": "An arbitrary integer provided by the API client. The property is shown in the order details and in the reporting API.",
        "type": "integer"
      },
      "CountryCode": {
        "description": "Two-letter country code (ISO 3166-1 alpha-2).",
        "example": "CH",
        "type": "string"
      },
      "Currencies": {
        "items": {
          "$ref": "#/components/schemas/CurrencyDetails"
        },
        "type": "array"
      },
      "CurrenciesResponse": {
        "properties": {
          "currencies": {
            "$ref": "#/components/schemas/Currencies"
          }
        },
        "required": [
          "currencies"
        ],
        "type": "object"
      },
      "CurrencyCode": {
        "example": "BTC",
        "type": "string"
      },
      "CurrencyDetails": {
        "example": {
          "tags": [
            "crypto",
            "ethereum"
          ],
          "code": "ETH",
          "max_digits_in_decimal_part": 18
        },
        "properties": {
          "tags": {
            "$ref": "#/components/schemas/CurrencyTags"
          },
          "code": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "input_methods": {
            "items": {
              "$ref": "#/components/schemas/CurrencyDetailsInputMethod"
            },
            "type": "array"
          },
          "max_digits_in_decimal_part": {
            "description": "The maximum number of digits in the fractional part of values represented with decimal numbers.",
            "type": "integer"
          }
        },
        "required": [
          "code",
          "input_methods",
          "tags"
        ],
        "type": "object"
      },
      "CurrencyDetailsInputMethod": {
        "properties": {
          "input_object_type": {
            "$ref": "#/components/schemas/OrderInputType"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "input_object_type"
        ],
        "type": "object"
      },
      "CurrencyPair": {
        "example": {
          "enabled": true,
          "input": "BTC",
          "output": "CHF"
        },
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "input": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "output": {
            "$ref": "#/components/schemas/CurrencyCode"
          }
        },
        "required": [
          "input",
          "output",
          "enabled"
        ],
        "type": "object"
      },
      "CurrencyPairs": {
        "items": {
          "$ref": "#/components/schemas/CurrencyPair"
        },
        "type": "array"
      },
      "CurrencyPairsResponse": {
        "properties": {
          "pairs": {
            "$ref": "#/components/schemas/CurrencyPairs"
          }
        },
        "required": [
          "pairs"
        ],
        "type": "object"
      },
      "CurrencyTag": {
        "enum": [
          "crypto",
          "erc20",
          "ethereum",
          "fiat"
        ],
        "type": "string"
      },
      "CurrencyTags": {
        "items": {
          "$ref": "#/components/schemas/CurrencyTag"
        },
        "type": "array"
      },
      "InputAmount": {
        "description": "Decimal number. Input amount of the exchange; amount to be sent by\nthe customer.\n\nThe input amount is all inclusive. Costs and fees are included.\n",
        "type": "string"
      },
      "InputAmountEstimateRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AmountEstimateRequestCommon"
          },
          {
            "properties": {
              "input": {
                "$ref": "#/components/schemas/AmountEstimateRequestInputCommon"
              },
              "output": {
                "$ref": "#/components/schemas/InputAmountEstimateRequestOutput"
              }
            },
            "required": [
              "input",
              "output"
            ],
            "type": "object"
          }
        ]
      },
      "InputAmountEstimateRequestOutput": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AmountEstimateRequestOutputCommon"
          },
          {
            "properties": {
              "amount": {
                "$ref": "#/components/schemas/OutputAmount"
              }
            },
            "required": [
              "amount"
            ],
            "type": "object"
          }
        ]
      },
      "MessageToSign": {
        "description": "A message to be signed. The signature must be sent in the body of a\nPOST request to the URL specified by `signature_submission_url`. This\nendpoint returns a 204 status code uppon submission of a valid\nsignature.\n\nThe message must be encoded as UTF-8 and the resulting sequence of\nbytes signed. Make sure to keep the message intact, including all white\nspaces. Use \"eth_sign\" with Ethereum addresses and \"signmessage\" with\nBitcoin addresses. Keep the signature in the format provided by those\ncalls (at the time of writing it is an hexadecimal string for Ethereum\nand base64 string for Bitcoin).\n",
        "properties": {
          "body": {
            "type": "string"
          },
          "signature_submission_url": {
            "type": "string"
          }
        },
        "required": [
          "body",
          "signature_submission_url"
        ],
        "type": "object"
      },
      "Order": {
        "example": {
          "id": "209a6210-4ea3-43e4-ba92-73aac60fb10c",
          "input": {
            "amount": "0.5",
            "crypto_address": "0x24305d091f79ee490a34de080b0db5773be5bef4",
            "currency": "ETH",
            "type": "crypto_address"
          },
          "output": {
            "amount": "104.95",
            "bic_swift": "BCNNCH22",
            "currency": "CHF",
            "iban": "CH3600000000000000000",
            "owner": {
              "address": "Rue des Fahrys 2",
              "city": "Neuchatel",
              "country": "CH",
              "name": "John Doe"
            },
            "type": "bank_account"
          },
          "payment_details": {
            "crypto_address": "0xf35074bbd0a9aee46f4ea137971feec024ab7048",
            "type": "crypto_address"
          },
          "timestamp_cancelled": "2019-01-25T01:06:11.632Z",
          "timestamp_created": "2019-01-24T13:14:07.368Z"
        },
        "properties": {
          "client_value": {
            "$ref": "#/components/schemas/ClientValue"
          },
          "id": {
            "description": "Unique identifier of the order.",
            "type": "string"
          },
          "input": {
            "$ref": "#/components/schemas/OrderInput"
          },
          "message_to_sign": {
            "$ref": "#/components/schemas/MessageToSign"
          },
          "output": {
            "$ref": "#/components/schemas/OrderOutput"
          },
          "payment_details": {
            "$ref": "#/components/schemas/PaymentDetails"
          },
          "price_breakdown": {
            "$ref": "#/components/schemas/PriceBreakdown"
          },
          "purpose": {
            "$ref": "#/components/schemas/OrderPurpose"
          },
          "timestamp_awaiting_payment_since": {
            "$ref": "#/components/schemas/OrderTimestampAwaitingPaymentSince"
          },
          "timestamp_cancelled": {
            "$ref": "#/components/schemas/OrderTimestampCancelled"
          },
          "timestamp_created": {
            "$ref": "#/components/schemas/OrderTimestampCreated"
          },
          "timestamp_executed": {
            "$ref": "#/components/schemas/OrderTimestampExecuted"
          },
          "timestamp_payment_received": {
            "$ref": "#/components/schemas/OrderTimestampPaymentReceived"
          },
          "timestamp_price_guaranteed": {
            "$ref": "#/components/schemas/OrderTimestampPriceGuaranteed"
          }
        },
        "required": [
          "id",
          "input",
          "output",
          "price_breakdown",
          "timestamp_created"
        ],
        "type": "object"
      },
      "OrderId": {
        "description": "Unique identifier of the order.",
        "example": "7037ca0b-a0ad-4d62-9ec7-8a41e4b9675c",
        "type": "string"
      },
      "OrderInput": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/OrderInputBankAccount"
          },
          {
            "$ref": "#/components/schemas/OrderInputBityAccount"
          },
          {
            "$ref": "#/components/schemas/OrderInputCryptoAddress"
          },
          {
            "$ref": "#/components/schemas/OrderInputOnlineInstantPayment"
          },
          {
            "$ref": "#/components/schemas/OrderInputUnknown"
          }
        ]
      },
      "OrderInputBankAccount": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/InputAmount"
          },
          "bic_swift": {
            "description": "BIC code of the bank account that will be used to pay the order.\n",
            "type": "string"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "iban": {
            "description": "IBAN of the bank account that will be used to pay the order.\n\nIf present the order must be paid from the specified bank\naccount.\n",
            "type": "string"
          },
          "owner": {
            "description": "Information about the owner of the bank account that will pay\nthe order.\n",
            "properties": {
              "address": {
                "type": "string"
              },
              "address_complement": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "country": {
                "$ref": "#/components/schemas/CountryCode"
              },
              "name": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": {
            "enum": [
              "bank_account"
            ],
            "type": "string"
          }
        },
        "required": [
          "currency",
          "type"
        ],
        "type": "object"
      },
      "OrderInputBityAccount": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/InputAmount"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "type": {
            "enum": [
              "bity_account"
            ],
            "type": "string"
          }
        },
        "required": [
          "currency",
          "type"
        ],
        "type": "object"
      },
      "OrderInputCryptoAddress": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/InputAmount"
          },
          "crypto_address": {
            "description": "Crypto-address that will be used to pay the order.\nIf present the order must be paid from the specified crypto-address.",
            "type": "string"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "related_crypto_transactions": {
            "$ref": "#/components/schemas/RelatedCryptoTransactions"
          },
          "type": {
            "enum": [
              "crypto_address"
            ],
            "type": "string"
          }
        },
        "required": [
          "currency",
          "type"
        ],
        "type": "object"
      },
      "OrderInputOnlineInstantPayment": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/InputAmount"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "type": {
            "enum": [
              "online_instant_payment"
            ],
            "type": "string"
          }
        },
        "required": [
          "currency",
          "type"
        ],
        "type": "object"
      },
      "OrderInputType": {
        "description": "Type of the input of an order.\n\nThe enumeration is non-exhaustive.\n",
        "enum": [
          "bank_account",
          "bity_account",
          "crypto_address",
          "online_instant_payment"
        ],
        "type": "string"
      },
      "OrderInputUnknown": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/InputAmount"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "type": {
            "not": {
              "$ref": "#/components/schemas/OrderInputType"
            },
            "type": "string"
          }
        },
        "required": [
          "currency",
          "type"
        ],
        "type": "object"
      },
      "OrderMinimal": {
        "description": "Minimal information of a previously placed order. This information can be retrieved without authentication.",
        "example": {
          "id": "f4e05c68-8a70-4678-b97c-ea30dc0daaa3",
          "timestamp_awaiting_payment_since": "2019-02-01T10:02:00.000Z",
          "timestamp_created": "2019-02-01T10:00:00.000Z",
          "timestamp_price_guaranteed": "2020-02-01T10:12:00.000Z"
        },
        "properties": {
          "id": {
            "$ref": "#/components/schemas/OrderId"
          },
          "timestamp_awaiting_payment_since": {
            "$ref": "#/components/schemas/OrderTimestampAwaitingPaymentSince"
          },
          "timestamp_cancelled": {
            "$ref": "#/components/schemas/OrderTimestampCancelled"
          },
          "timestamp_created": {
            "$ref": "#/components/schemas/OrderTimestampCreated"
          },
          "timestamp_executed": {
            "$ref": "#/components/schemas/OrderTimestampExecuted"
          },
          "timestamp_payment_received": {
            "$ref": "#/components/schemas/OrderTimestampPaymentReceived"
          },
          "timestamp_price_guaranteed": {
            "$ref": "#/components/schemas/OrderTimestampPriceGuaranteed"
          }
        },
        "required": [
          "id",
          "timestamp_created"
        ],
        "type": "object"
      },
      "OrderOutput": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/OrderOutputBankAccount"
          },
          {
            "$ref": "#/components/schemas/OrderOutputBityAccount"
          },
          {
            "$ref": "#/components/schemas/OrderOutputCryptoAddress"
          },
          {
            "$ref": "#/components/schemas/OrderOutputUnknown"
          }
        ]
      },
      "OrderOutputBankAccount": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/OutputAmount"
          },
          "bic_swift": {
            "description": "BIC code of the bank account to which the output of the order is\nsent.\n",
            "type": "string"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "iban": {
            "description": "IBAN of the bank account to which the output of the order is sent.\n",
            "type": "string"
          },
          "owner": {
            "allOf": [
              {
                "description": "Information about the owner of the bank account to which the\noutput of the order is sent.\n",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              {
                "$ref": "#/components/schemas/PostalAddress"
              }
            ]
          },
          "type": {
            "enum": [
              "bank_account"
            ],
            "type": "string"
          }
        },
        "required": [
          "currency",
          "type"
        ],
        "type": "object"
      },
      "OrderOutputBityAccount": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/OutputAmount"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "type": {
            "enum": [
              "bity_account"
            ],
            "type": "string"
          }
        },
        "required": [
          "currency",
          "type"
        ],
        "type": "object"
      },
      "OrderOutputCryptoAddress": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/OutputAmount"
          },
          "crypto_address": {
            "description": "Crypto-address to which the output of the order is sent.\n",
            "type": "string"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "related_crypto_transactions": {
            "$ref": "#/components/schemas/RelatedCryptoTransactions"
          },
          "type": {
            "enum": [
              "crypto_address"
            ],
            "type": "string"
          }
        },
        "required": [
          "currency",
          "type"
        ],
        "type": "object"
      },
      "OrderOutputType": {
        "description": "Type of the output of an order.\n\nThe enumeration is non-exhaustive.\n",
        "enum": [
          "bank_account",
          "bity_account",
          "crypto_address"
        ],
        "type": "string"
      },
      "OrderOutputUnknown": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/OutputAmount"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "type": {
            "not": {
              "$ref": "#/components/schemas/OrderOutputType"
            },
            "type": "string"
          }
        },
        "required": [
          "currency",
          "type"
        ],
        "type": "object"
      },
      "OrderPurpose": {
        "description": "Information about the purpose of the order.",
        "properties": {
          "category": {
            "$ref": "#/components/schemas/OrderPurposeCategory"
          },
          "comment": {
            "description": "Comment about the purpose of the order.\nUsers can use this comment in order to remember what was their purpose when placing the order.",
            "maxLength": 140,
            "type": "string"
          }
        },
        "type": "object"
      },
      "OrderPurposeCategory": {
        "description": "Non-exhaustive list of possible values:\n\n  - `bill_payment`: The purpose of the order is to pay a bill.\n",
        "type": "string"
      },
      "OrderTimestampAwaitingPaymentSince": {
        "description": "Date and time at which the order became executable and at which the payment information was made available.",
        "format": "date-time",
        "type": "string"
      },
      "OrderTimestampCancelled": {
        "description": "Date and time at which the order was cancelled.",
        "format": "date-time",
        "type": "string"
      },
      "OrderTimestampCreated": {
        "description": "Date and time at which the client submitted the initial information regarding this order.",
        "format": "date-time",
        "type": "string"
      },
      "OrderTimestampExecuted": {
        "description": "Date and time at which the output amount was sent.",
        "format": "date-time",
        "type": "string"
      },
      "OrderTimestampPaymentReceived": {
        "description": "Date and time at which the input amount is confirmed to have been received.",
        "format": "date-time",
        "type": "string"
      },
      "OrderTimestampPriceGuaranteed": {
        "description": "When present, the price is locked until the current time exceeds\nthat particular timestamp. If the payment of the appropriate input\namount is received before the indicated time, then the currently\nshown output amount will be sent. If the payment is received at a\nlater time, execution of the order will use the market price\ninstead.\n\nWhen absent, indicates that the price has not been locked yet.\n",
        "format": "date-time",
        "type": "string"
      },
      "OrderingRequirementAccount": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OrderingRequirementCommon"
          },
          {
            "description": "Usage of a Bity account is required.\n",
            "type": "object"
          }
        ]
      },
      "OrderingRequirementAccountQuota": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OrderingRequirementCommon"
          },
          {
            "description": "The amounts are suitable for the current Bity account quota.\n",
            "type": "object"
          }
        ]
      },
      "OrderingRequirementCommon": {
        "properties": {
          "satisfied": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "OrderingRequirementKyc": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OrderingRequirementCommon"
          },
          {
            "description": "The Bity account has made sufficient progress through the KYC\nprocess.\n",
            "type": "object"
          }
        ]
      },
      "OrderingRequirements": {
        "description": "Non-exhaustive list of requirements that need to be met in order to\nsuccessfully place an order with parameters corresponding to the\nones present in this response.\n\nNote that the list being non-exhaustive also means that the absence\nof a requirement in this list does not imply that the absent\nrequirement is irrelevant.\n",
        "properties": {
          "account": {
            "$ref": "#/components/schemas/OrderingRequirementAccount"
          },
          "account_quota": {
            "$ref": "#/components/schemas/OrderingRequirementAccountQuota"
          },
          "kyc": {
            "$ref": "#/components/schemas/OrderingRequirementKyc"
          }
        },
        "type": "object"
      },
      "OutputAmount": {
        "description": "Decimal number. Output amount of the exchange; amount to be received by\nthe output object.\n\nThe output amount is all inclusive. Costs and fees are included.\n",
        "type": "string"
      },
      "OutputAmountEstimateRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AmountEstimateRequestCommon"
          },
          {
            "description": "Request an estimate of the output amount based on a specified input\namount.\n",
            "properties": {
              "input": {
                "$ref": "#/components/schemas/OutputAmountEstimateRequestInput"
              },
              "output": {
                "$ref": "#/components/schemas/AmountEstimateRequestOutputCommon"
              }
            },
            "required": [
              "input",
              "output"
            ],
            "type": "object"
          }
        ]
      },
      "OutputAmountEstimateRequestInput": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AmountEstimateRequestInputCommon"
          },
          {
            "properties": {
              "amount": {
                "$ref": "#/components/schemas/InputAmount"
              }
            },
            "required": [
              "amount"
            ],
            "type": "object"
          }
        ]
      },
      "Pagination": {
        "properties": {
          "current": {
            "description": "Current page number",
            "type": "number"
          },
          "first": {
            "description": "Page number of the first page",
            "type": "number"
          },
          "last": {
            "description": "Page number of the last page",
            "type": "number"
          }
        },
        "required": [
          "current"
        ],
        "type": "object"
      },
      "PartnerFee": {
        "description": "-> An additional fee perceived on behalf of the partner placing the order, expressed as a factor of the amount received from the customer.",
        "properties": {
          "factor": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          }
        },
        "required": [
          "factor"
        ],
        "type": "object"
      },
      "PaymentDetails": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/PaymentDetailsBankAccount"
          },
          {
            "$ref": "#/components/schemas/PaymentDetailsCryptoAddress"
          },
          {
            "$ref": "#/components/schemas/PaymentDetailsOnlineInstantPayment"
          }
        ]
      },
      "PaymentDetailsBankAccount": {
        "description": "Payment details when the input type is `bank_account`.\n\nThe bank account information details contained in this object must be\nused to perform a bank transfer to pay the order.\n",
        "properties": {
          "account_number": {
            "type": "string"
          },
          "bank_address": {
            "type": "string"
          },
          "bank_code": {
            "type": "string"
          },
          "iban": {
            "description": "IBAN of the bank account to which the order must be paid.\n",
            "type": "string"
          },
          "recipient": {
            "description": "Do not use, this property is present for backward compatibility.\n\nUse `recipient_name` and `recipient_postal_address` instead.\n",
            "type": "string"
          },
          "recipient_name": {
            "description": "Name of the recipient of the payment.",
            "type": "string"
          },
          "recipient_postal_address": {
            "description": "Postal address of the recipient of the payment.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "reference": {
            "description": "The  reference (also known as communication or message to the recipient) that must be included in the bank transfer.",
            "type": "string"
          },
          "swift_bic": {
            "description": "BIC code of the bank account to which the order must be paid.\n",
            "type": "string"
          },
          "type": {
            "enum": [
              "bank_account"
            ],
            "type": "string"
          }
        },
        "required": [
          "iban",
          "recipient_name",
          "recipient_postal_address",
          "type"
        ],
        "type": "object"
      },
      "PaymentDetailsCryptoAddress": {
        "description": "Payment details when the input type is `crypto_address`.\n",
        "properties": {
          "crypto_address": {
            "description": "Crypto-address to which to send the payment for the order.\n",
            "type": "string"
          },
          "memo": {
            "description": "When this property is present, the crypto-transaction paying\nthe order must include this exact value as the memo.\n",
            "type": "string"
          },
          "type": {
            "enum": [
              "crypto_address"
            ],
            "type": "string"
          }
        },
        "required": [
          "crypto_address",
          "type"
        ],
        "type": "object"
      },
      "PaymentDetailsOnlineInstantPayment": {
        "description": "Payment details when then input type is `online_instant_payment`.\n",
        "properties": {
          "payment_ui_url": {
            "type": "string"
          },
          "type": {
            "enum": [
              "online_instant_payment"
            ],
            "type": "string"
          }
        },
        "required": [
          "payment_ui_url",
          "type"
        ],
        "type": "object"
      },
      "PlaceOrderRequest": {
        "description": "Exactly one of `input.amount` or `output.amount` must be specified.\n",
        "properties": {
          "client_value": {
            "$ref": "#/components/schemas/ClientValue"
          },
          "contact_person": {
            "description": "Information of a contact person to be used in case something unforeseen happens with the order. This information is optional. The customer can always get in touch with support via the order status page.",
            "properties": {
              "email": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "input": {
            "$ref": "#/components/schemas/PlaceOrderRequestInput"
          },
          "output": {
            "$ref": "#/components/schemas/PlaceOrderRequestOutput"
          },
          "partner_fee": {
            "$ref": "#/components/schemas/PartnerFee"
          },
          "purpose": {
            "$ref": "#/components/schemas/OrderPurpose"
          }
        },
        "required": [
          "input",
          "output"
        ],
        "type": "object"
      },
      "PlaceOrderRequestInput": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/PlaceOrderRequestInputBankAccount"
          },
          {
            "$ref": "#/components/schemas/PlaceOrderRequestInputBityAccount"
          },
          {
            "$ref": "#/components/schemas/PlaceOrderRequestInputCryptoAddress"
          },
          {
            "$ref": "#/components/schemas/PlaceOrderRequestInputOnlineInstantPayment"
          }
        ]
      },
      "PlaceOrderRequestInputBankAccount": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlaceOrderRequestInputCommon"
          },
          {
            "description": "Input information for an order to be paid via a bank transfer.\n\nWhen the details of the bank account are present, the order must be\npaid from the corresponding bank account.\n\nThe `input.object_information_optional` property in the amount\nestimate response indicates whether it is allowed to omit the\ndetails of the bank account.\n",
            "properties": {
              "iban": {
                "description": "IBAN of the bank account that will be used to pay the order.\n",
                "type": "string"
              },
              "owner": {
                "description": "Information about the owner of the bank account that will pay\nthe order.\n",
                "properties": {
                  "address": {
                    "type": "string"
                  },
                  "address_complement": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "$ref": "#/components/schemas/CountryCode"
                  },
                  "name": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "zip": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": {
                "enum": [
                  "bank_account"
                ],
                "type": "string"
              }
            },
            "required": [
              "type"
            ],
            "type": "object"
          }
        ]
      },
      "PlaceOrderRequestInputBityAccount": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlaceOrderRequestInputCommon"
          },
          {
            "properties": {
              "type": {
                "enum": [
                  "bity_account"
                ],
                "type": "string"
              }
            },
            "required": [
              "type"
            ],
            "type": "object"
          }
        ]
      },
      "PlaceOrderRequestInputCommon": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/InputAmount"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          }
        },
        "required": [
          "currency"
        ],
        "type": "object"
      },
      "PlaceOrderRequestInputCryptoAddress": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlaceOrderRequestInputCommon"
          },
          {
            "description": "Input information for an order to be paid via a crypto transaction.\n\nWhen the details of the crypto-address are present, the order must be\npaid from the corresponding crypto-address.\n\nThe `input.object_information_optional` property in the amount\nestimate response indicates whether it is allowed to omit the\ndetails of the crypto-address.\n",
            "properties": {
              "crypto_address": {
                "description": "Crypto-address that will be used to pay the order.\n",
                "type": "string"
              },
              "type": {
                "enum": [
                  "crypto_address"
                ],
                "type": "string"
              }
            },
            "required": [
              "type"
            ],
            "type": "object"
          }
        ]
      },
      "PlaceOrderRequestInputOnlineInstantPayment": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlaceOrderRequestInputCommon"
          },
          {
            "description": "Input object for an order to be paid via credit card or another\nform of electronic online paymint.\n",
            "properties": {
              "type": {
                "enum": [
                  "online_instant_payment"
                ],
                "type": "string"
              }
            },
            "type": "object"
          }
        ]
      },
      "PlaceOrderRequestOutput": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/PlaceOrderRequestOutputBankAccount"
          },
          {
            "$ref": "#/components/schemas/PlaceOrderRequestOutputBityAccount"
          },
          {
            "$ref": "#/components/schemas/PlaceOrderRequestOutputCryptoAddress"
          }
        ]
      },
      "PlaceOrderRequestOutputBankAccount": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlaceOrderRequestOutputCommon"
          },
          {
            "description": "Output object for an order where the result of the exchange is sent\nto a bank account via a bank transfer.\n",
            "properties": {
              "bic_swift": {
                "type": "string"
              },
              "iban": {
                "type": "string"
              },
              "owner": {
                "allOf": [
                  {
                    "description": "Information about the owner of the bank account to which the\noutput of the order is sent.\n",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "$ref": "#/components/schemas/PostalAddress"
                  }
                ]
              },
              "qr_reference": {
                "$ref": "#/components/schemas/QrReference"
              },
              "reference": {
                "description": "The length and the set of supported characters varies depending on\nthe banks and networks involved. To avoid producing the\n\"invalid_bank_account_reference\" error, keep the reference short\n(32 characters or less is recommended) and use only simple\ncharacters (using only characters in a-z, A-Z, 0-9 and space is\nrecommended).\n",
                "type": "string"
              },
              "structured_creditor_reference": {
                "$ref": "#/components/schemas/StructuredCreditorReference"
              },
              "type": {
                "enum": [
                  "bank_account"
                ],
                "type": "string"
              },
              "ultimate_debtor": {
                "allOf": [
                  {
                    "description": "Information about the ultimate debtor.\n",
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "$ref": "#/components/schemas/PostalAddress"
                  }
                ]
              }
            },
            "required": [
              "iban",
              "owner",
              "type"
            ],
            "type": "object"
          }
        ]
      },
      "PlaceOrderRequestOutputBityAccount": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlaceOrderRequestOutputCommon"
          },
          {
            "properties": {
              "type": {
                "enum": [
                  "bity_account"
                ],
                "type": "string"
              }
            },
            "type": "object"
          }
        ]
      },
      "PlaceOrderRequestOutputCommon": {
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/OutputAmount"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyCode"
          }
        },
        "required": [
          "currency"
        ],
        "type": "object"
      },
      "PlaceOrderRequestOutputCryptoAddress": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PlaceOrderRequestOutputCommon"
          },
          {
            "description": "Output object for an order where the result of the exchange is sent\nto a crypto-address.\n",
            "properties": {
              "crypto_address": {
                "description": "Crypto-address to which the output of the order is sent.",
                "type": "string"
              },
              "type": {
                "enum": [
                  "crypto_address"
                ],
                "type": "string"
              }
            },
            "required": [
              "crypto_address",
              "type"
            ],
            "type": "object"
          }
        ]
      },
      "PostalAddress": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/PostalAddressLegacy"
          },
          {
            "$ref": "#/components/schemas/PostalAddressStructured"
          }
        ]
      },
      "PostalAddressLegacy": {
        "properties": {
          "address": {
            "type": "string"
          },
          "address_complement": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "$ref": "#/components/schemas/CountryCode"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PostalAddressStructured": {
        "properties": {
          "building_name": {
            "type": "string"
          },
          "building_number": {
            "type": "string"
          },
          "country": {
            "$ref": "#/components/schemas/CountryCode"
          },
          "country_subdivision": {
            "description": "Identifies a subdivision of the country such as a state or region.\n",
            "type": "string"
          },
          "department": {
            "description": "Identifies a part of large organization or large building.\n",
            "type": "string"
          },
          "district_name": {
            "description": "Identifies a subdivision of the country subdivision.\n",
            "type": "string"
          },
          "floor": {
            "type": "string"
          },
          "post_box": {
            "type": "string"
          },
          "post_code": {
            "type": "string"
          },
          "room": {
            "type": "string"
          },
          "street_name": {
            "type": "string"
          },
          "subdepartment": {
            "description": "Identifies a subdivision within a department of a large organization or large building.\n",
            "type": "string"
          },
          "town_location_name": {
            "description": "Identifies a location within a town.\n",
            "type": "string"
          },
          "town_name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "PriceBreakdown": {
        "properties": {
          "customer_trading_fee": {
            "description": "The customer trading fee applied to this order.",
            "properties": {
              "amount": {
                "$ref": "#/components/schemas/Amount"
              },
              "currency": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            },
            "required": [
              "amount",
              "currency"
            ],
            "type": "object"
          },
          "instant_payment_fee": {
            "description": "The instant payment fee applied to this order.",
            "properties": {
              "amount": {
                "$ref": "#/components/schemas/Amount"
              },
              "currency": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            },
            "required": [
              "amount",
              "currency"
            ],
            "type": "object"
          },
          "non-verified_fee": {
            "description": "The non-verified fee applied to this order.",
            "properties": {
              "amount": {
                "$ref": "#/components/schemas/Amount"
              },
              "currency": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            },
            "required": [
              "amount",
              "currency"
            ],
            "type": "object"
          },
          "output_transaction_cost": {
            "description": "Execution cost of the output transaction. Includes crypto\ntransaction fees, bank transaction fees, etc.\n",
            "properties": {
              "amount": {
                "$ref": "#/components/schemas/Amount"
              },
              "currency": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            },
            "required": [
              "amount",
              "currency"
            ],
            "type": "object"
          },
          "partner_fee": {
            "description": "-> Additional fee perceived on behalf of the partner having placed the order.",
            "properties": {
              "amount": {
                "$ref": "#/components/schemas/Amount"
              },
              "currency": {
                "$ref": "#/components/schemas/CurrencyCode"
              }
            },
            "required": [
              "amount",
              "currency"
            ],
[...]
