{
  "openapi": "3.0.3",
  "info": {
    "title": "Evalumo API",
    "version": "1.0.0",
    "description": "Evalumo is a construction project estimation API for managing projects, user information, and exported project data with OAuth2 authentication.",
    "x-jentic-source-url": "https://evalumo.apidocumentation.com",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.evalumo.com"
    }
  ],
  "paths": {
    "/authorize": {
      "post": {
        "operationId": "authorize",
        "summary": "Generate authorization token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "redirect_uri": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authorization redirect"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Generate authorization token"
      }
    },
    "/token": {
      "post": {
        "operationId": "exchangeToken",
        "summary": "Exchange authorization code for tokens",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Exchange authorization code for tokens"
      }
    },
    "/refreshToken": {
      "post": {
        "operationId": "refreshToken",
        "summary": "Refresh access token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "description": "Refresh access token"
      }
    },
    "/user": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user information",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userEmail": {
                      "type": "string"
                    },
                    "userDisplayName": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get user information"
      }
    },
    "/project": {
      "post": {
        "operationId": "createProject",
        "summary": "Create a new project",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_name": {
                    "type": "string"
                  },
                  "client_name": {
                    "type": "string"
                  },
                  "client_email": {
                    "type": "string"
                  },
                  "client_phone": {
                    "type": "string"
                  },
                  "client_address": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Create a new project"
      }
    },
    "/project/{project_id}": {
      "patch": {
        "operationId": "updateProject",
        "summary": "Update project status",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project_category": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Update project status"
      }
    },
    "/exportedProject": {
      "get": {
        "operationId": "listExportedProjects",
        "summary": "List exported projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lineItemsToExpand",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exported projects"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List exported projects"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Projects"
    },
    {
      "name": "Users"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
