{
  "openapi": "3.0.3",
  "info": {
    "title": "Mindee OCR API",
    "description": "Mindee is a document processing and OCR API platform. It provides endpoints for submitting documents for parsing, retrieving predictions, managing workflows, and accessing product information.",
    "version": "0.1.0",
    "contact": {
      "name": "Mindee",
      "url": "https://mindee.com"
    },
    "x-jentic-source-url": "https://api.mindee.net/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.mindee.net",
      "description": "Mindee API"
    }
  ],
  "security": [
    {
      "HTTPBearer": []
    }
  ],
  "paths": {
    "/v1/products/{account}/{product}/{version}/predict": {
      "post": {
        "summary": "Predict (synchronous)",
        "description": "Submit a document for synchronous parsing and prediction.",
        "operationId": "predict",
        "tags": [
          "Prediction"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "description": "Account name or 'mindee' for built-in products.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "path",
            "required": true,
            "description": "Product name (e.g., invoices, receipts, passports).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "Product version.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string",
                    "description": "Base64-encoded document or URL."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful prediction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{account}/{product}/{version}/predict_async": {
      "post": {
        "summary": "Predict (asynchronous)",
        "description": "Submit a document for asynchronous parsing. Returns a job ID.",
        "operationId": "predictAsync",
        "tags": [
          "Prediction"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async job created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{account}/{product}/{version}/documents/queue/{job_id}": {
      "get": {
        "summary": "Get async prediction result",
        "description": "Poll for the result of an asynchronous prediction job.",
        "operationId": "getAsyncResult",
        "tags": [
          "Prediction"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "Async job ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{account}/{product}/{version}/documents/{document_id}": {
      "get": {
        "summary": "Get document",
        "description": "Retrieve a previously parsed document by ID.",
        "operationId": "getDocument",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/documents/{document_id}/feedback": {
      "put": {
        "summary": "Send document feedback",
        "description": "Submit feedback for a parsed document.",
        "operationId": "sendDocumentFeedback",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feedback submitted."
          }
        }
      }
    },
    "/v1/customers/self/products": {
      "get": {
        "summary": "List customer products",
        "description": "Retrieve products available to the authenticated customer.",
        "operationId": "listCustomerProducts",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "List of products.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{account}/{product}/{version}/openapi.json": {
      "get": {
        "summary": "Get product OpenAPI spec",
        "operationId": "getProductOpenAPI",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OpenAPI spec.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get product OpenAPI spec"
      }
    },
    "/v1/workflows/{workflow_id}/executions": {
      "post": {
        "summary": "Execute workflow",
        "operationId": "executeWorkflow",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow execution started."
          }
        },
        "description": "Execute workflow"
      }
    },
    "/v1/workflows/{workflow_id}/predict_async": {
      "post": {
        "summary": "Async workflow prediction",
        "operationId": "workflowPredictAsync",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Async workflow job created."
          }
        },
        "description": "Async workflow prediction"
      }
    },
    "/internal/health": {
      "get": {
        "summary": "Health check",
        "operationId": "healthCheck",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Health status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        },
        "description": "Health check"
      }
    },
    "/internal/cache": {
      "delete": {
        "summary": "Clear cache",
        "operationId": "clearCache",
        "tags": [
          "Cache"
        ],
        "responses": {
          "204": {
            "description": "Cache cleared."
          }
        },
        "description": "Clear cache"
      }
    },
    "/internal/cache/tokens": {
      "put": {
        "summary": "Clear tokens cache",
        "operationId": "clearTokensCache",
        "tags": [
          "Cache"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokensData"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Cache cleared for specified tokens."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "description": "Clear tokens cache"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Mindee API key as Bearer token."
      }
    },
    "schemas": {
      "HTTPValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          },
          "msg": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "env",
          "version",
          "app_name"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "env": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "app_name": {
            "type": "string"
          }
        }
      },
      "TokensData": {
        "type": "object",
        "required": [
          "tokens"
        ],
        "properties": {
          "tokens": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "bed5d31217596118fb297fd84bf3bd3a"
            ]
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Prediction",
      "description": "Document parsing and prediction."
    },
    {
      "name": "Documents",
      "description": "Document retrieval and feedback."
    },
    {
      "name": "Products",
      "description": "Product catalog."
    },
    {
      "name": "Workflows",
      "description": "Workflow execution."
    },
    {
      "name": "Health",
      "description": "Health check."
    },
    {
      "name": "Cache",
      "description": "Cache management."
    }
  ]
}
