{
  "openapi": "3.0.3",
  "info": {
    "title": "Noun Project API",
    "description": "The Noun Project API provides access to over 5 million icons and a growing library of curated icon collections. Search, retrieve, and download icons in various formats and sizes. Manage blacklists and monitor usage.",
    "version": "2.0.0",
    "contact": {
      "name": "Noun Project",
      "url": "https://thenounproject.com"
    }
  },
  "servers": [
    {
      "url": "https://api.thenounproject.com",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "OAuth1": []
    }
  ],
  "paths": {
    "/v2/icon": {
      "get": {
        "operationId": "searchIcons",
        "summary": "Search icons",
        "description": "Search and filter icons. Returns a paginated list of icons matching the query.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search term"
          },
          {
            "name": "styles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "solid",
                "line"
              ]
            },
            "description": "Filter results by style"
          },
          {
            "name": "line_weight",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter results by line weight (integer or range of integers from 1 to 60)"
          },
          {
            "name": "limit_to_public_domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Limit results to public domain icons only"
          },
          {
            "name": "thumbnail_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                42,
                84,
                200
              ]
            },
            "description": "The thumbnail size to be returned"
          },
          {
            "name": "blacklist",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Removes any results matching terms or ids in blacklist"
          },
          {
            "name": "include_svg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Include SVGs in the results"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of results"
          },
          {
            "name": "prev_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token for paging to the previous page"
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token for paging to the next page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of icons matching the search criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IconSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/icon/{icon_id}": {
      "get": {
        "operationId": "getIconById",
        "summary": "Get icon by ID",
        "description": "Retrieve details of a single icon by its ID.",
        "parameters": [
          {
            "name": "icon_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Icon ID"
          },
          {
            "name": "thumbnail_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                42,
                84,
                200
              ]
            },
            "description": "The thumbnail size to be returned"
          },
          {
            "name": "blacklist",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Removes any results matching terms or ids in blacklist"
          }
        ],
        "responses": {
          "200": {
            "description": "Icon details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Icon"
                }
              }
            }
          },
          "404": {
            "description": "Icon not found"
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/icon/{icon_id}/download": {
      "get": {
        "operationId": "downloadIcon",
        "summary": "Download edited icon",
        "description": "Download a single icon file with desired color, filetype, and size.",
        "parameters": [
          {
            "name": "icon_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Icon ID"
          },
          {
            "name": "color",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Hexadecimal color value (e.g., FF0000)"
          },
          {
            "name": "filetype",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "svg",
                "png"
              ]
            },
            "description": "File type for download"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 20,
              "maximum": 1200
            },
            "description": "Size of PNG (minimum 20, maximum 1200)"
          }
        ],
        "responses": {
          "200": {
            "description": "Icon file",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Icon not found"
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/icon/autocomplete": {
      "get": {
        "operationId": "iconAutocomplete",
        "summary": "Icon search autocomplete",
        "description": "Get autocomplete suggestions for icon search terms.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search term"
          },
          {
            "name": "blacklist",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Removes any results matching terms in blacklist"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of results"
          }
        ],
        "responses": {
          "200": {
            "description": "Autocomplete suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutocompleteResponse"
                }
              }
            }
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/collection": {
      "get": {
        "operationId": "searchCollections",
        "summary": "Search collections",
        "description": "Search and filter icon collections. Returns a paginated list of collections.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search term"
          },
          {
            "name": "blacklist",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Removes any results matching terms or ids in blacklist"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of results"
          },
          {
            "name": "prev_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token for paging to the previous page"
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token for paging to the next page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of collections",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionSearchResponse"
                }
              }
            }
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/collection/{collection_id}": {
      "get": {
        "operationId": "getCollectionById",
        "summary": "Get collection by ID",
        "description": "Retrieve details of a single collection by its ID, including its icons.",
        "parameters": [
          {
            "name": "collection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Collection ID"
          },
          {
            "name": "blacklist",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Removes any results matching terms or ids in blacklist"
          },
          {
            "name": "thumbnail_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                42,
                84,
                200
              ]
            },
            "description": "The thumbnail size to be returned"
          },
          {
            "name": "include_svg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Include SVGs in the results"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of icon results"
          },
          {
            "name": "prev_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token for paging to the previous page of icons"
          },
          {
            "name": "next_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Token for paging to the next page of icons"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection details with icons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found"
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/client/blacklist": {
      "get": {
        "operationId": "viewBlacklist",
        "summary": "View blacklist",
        "description": "Display the current blacklist associated with the client key.",
        "responses": {
          "200": {
            "description": "Current blacklist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Blacklist"
                }
              }
            }
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/client/blacklist/id": {
      "post": {
        "operationId": "addIdToBlacklist",
        "summary": "Add IDs to blacklist",
        "description": "Add icon or collection IDs to the client blacklist.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "icon",
                "collection"
              ],
              "default": "icon"
            },
            "description": "The blacklist type"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blacklist updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/client/blacklist/term": {
      "post": {
        "operationId": "addTermToBlacklist",
        "summary": "Add terms to blacklist",
        "description": "Add search terms and phrases to the client blacklist.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlacklistTermRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blacklist updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/client/usage": {
      "get": {
        "operationId": "getClientUsage",
        "summary": "Get client usage",
        "description": "Retrieve current API usage and limits for the authenticated client key.",
        "responses": {
          "200": {
            "description": "Client usage information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          }
        },
        "tags": [
          "v2"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth1": {
        "type": "http",
        "scheme": "oauth",
        "description": "OAuth 1.0a authentication. Obtain API key and secret from the Noun Project developer portal."
      }
    },
    "schemas": {
      "Icon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique icon identifier"
          },
          "term": {
            "type": "string",
            "description": "Primary search term for the icon"
          },
          "attribution": {
            "type": "string",
            "description": "Attribution text for the icon creator"
          },
          "creator": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "username": {
                "type": "string"
              }
            }
          },
          "thumbnail_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the icon thumbnail"
          },
          "preview_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the icon preview"
          },
          "icon_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the full icon"
          },
          "license_description": {
            "type": "string",
            "description": "License type for the icon"
          },
          "is_active": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "slug": {
                  "type": "string"
                }
              }
            }
          },
          "collections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "IconSearchResponse": {
        "type": "object",
        "properties": {
          "icons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Icon"
            }
          },
          "total": {
            "type": "integer"
          },
          "next_page": {
            "type": "string"
          },
          "prev_page": {
            "type": "string"
          },
          "usage_limits": {
            "$ref": "#/components/schemas/UsageLimits"
          }
        }
      },
      "Collection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique collection identifier"
          },
          "name": {
            "type": "string",
            "description": "Collection name"
          },
          "slug": {
            "type": "string"
          },
          "creator": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "username": {
                "type": "string"
              }
            }
          },
          "icon_count": {
            "type": "integer",
            "description": "Number of icons in the collection"
          },
          "icons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Icon"
            }
          },
          "next_page": {
            "type": "string"
          },
          "prev_page": {
            "type": "string"
          }
        }
      },
      "CollectionSearchResponse": {
        "type": "object",
        "properties": {
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Collection"
            }
          },
          "total": {
            "type": "integer"
          },
          "next_page": {
            "type": "string"
          },
          "prev_page": {
            "type": "string"
          },
          "usage_limits": {
            "$ref": "#/components/schemas/UsageLimits"
          }
        }
      },
      "AutocompleteResponse": {
        "type": "object",
        "properties": {
          "terms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "usage_limits": {
            "$ref": "#/components/schemas/UsageLimits"
          }
        }
      },
      "Blacklist": {
        "type": "object",
        "properties": {
          "icon_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "collection_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "terms": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BlacklistIdRequest": {
        "type": "object",
        "required": [
          "blacklist"
        ],
        "properties": {
          "blacklist": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Array of icon IDs or collection IDs to blacklist"
          },
          "overwrite": {
            "type": "boolean",
            "description": "If true, overwrites the existing blacklist; if false, adds to it"
          }
        }
      },
      "BlacklistTermRequest": {
        "type": "object",
        "required": [
          "blacklist"
        ],
        "properties": {
          "blacklist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of terms and phrases to blacklist"
          },
          "overwrite": {
            "type": "boolean",
            "description": "If true, overwrites the existing blacklist; if false, adds to it"
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "usage": {
            "type": "object",
            "properties": {
              "monthly_limit": {
                "type": "integer"
              },
              "monthly_usage": {
                "type": "integer"
              }
            }
          },
          "usage_limits": {
            "$ref": "#/components/schemas/UsageLimits"
          }
        }
      },
      "UsageLimits": {
        "type": "object",
        "properties": {
          "monthly": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer"
              },
              "usage": {
                "type": "integer"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "v2"
    }
  ]
}
