{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "This is Swagger UI environment generated for the TMF Customer Management specification",
    "title": "Customer Management",
    "version": "3.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/tmforum-open-api/api-customer-management/3.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://biologeek.orange-labs.fr/tmf-api/customerManagement"
    }
  ],
  "paths": {
    "/customer": {
      "get": {
        "parameters": [
          {
            "description": "Comma separated properties to display in response",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: A word, term, or phrase by which the PartyRole is known and distinguished from other PartyRoles.",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Used to track the lifecycle status of the party role.",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: A string providing an explanation on the value of the status lifecycle. For instance if the status is Rejected, statusReason will provide the reason for rejection.",
            "in": "query",
            "name": "statusReason",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: An instant of time, ending at the TimePeriod.",
            "in": "query",
            "name": "validFor.endDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "For filtering: An instant of time, starting at the TimePeriod",
            "in": "query",
            "name": "validFor.startDateTime",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "For filtering: Name of the referred party (such as a partner or any other party role)",
            "in": "query",
            "name": "engagedParty.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: The name of the role type. It uniquely identifies the role type within the partnership type.",
            "in": "query",
            "name": "type.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Reference url of the partnership type containing the role type",
            "in": "query",
            "name": "type.partnershipHref",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: The identifier of the partnership type containing the role type",
            "in": "query",
            "name": "type.partnershipId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: The name of the partnership type defining this role type",
            "in": "query",
            "name": "type.partnershipName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Name of the account",
            "in": "query",
            "name": "account.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Name of the payment mean",
            "in": "query",
            "name": "paymentMethod.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: If true, indicates that is the preferred contact medium",
            "in": "query",
            "name": "contactMedium.preferred",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "For filtering: Type of the contact medium, such as: email address, telephone number, postal address",
            "in": "query",
            "name": "contactMedium.type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Name of the characteristic",
            "in": "query",
            "name": "characteristic.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Value of the characteristic",
            "in": "query",
            "name": "characteristic.value",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: The date the profile was established",
            "in": "query",
            "name": "creditProfile.creditProfileDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "For filtering: This is an integer whose value is used to rate the risk",
            "in": "query",
            "name": "creditProfile.creditRiskRating",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "For filtering: A measure of a person's or an organization's creditworthiness calculated on the basis of a combination of factors such as their income and credit history.",
            "in": "query",
            "name": "creditProfile.creditScore",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "For filtering: Name of the agreement",
            "in": "query",
            "name": "agreement.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Name of the related party",
            "in": "query",
            "name": "relatedParty.name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "For filtering: Role of the related party.",
            "in": "query",
            "name": "relatedParty.role",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "customer"
        ],
        "description": "List or find 'Customer' objects",
        "operationId": "listCustomer",
        "summary": "List or find 'Customer' objects"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "customer"
        ],
        "description": "Creates a 'Customer'",
        "operationId": "createCustomer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer_Create"
              }
            }
          },
          "description": "The Customer to be created",
          "required": true
        },
        "summary": "Creates a 'Customer'"
      }
    },
    "/customer/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Identifier of the Customer",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "customer"
        ],
        "description": "Deletes a 'Customer' by Id",
        "operationId": "deleteCustomer",
        "summary": "Deletes a 'Customer' by Id"
      },
      "get": {
        "parameters": [
          {
            "description": "Identifier of the Customer",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "customer"
        ],
        "description": "Retrieves a 'Customer' by Id",
        "operationId": "retrieveCustomer",
        "summary": "Retrieves a 'Customer' by Id"
      },
      "patch": {
        "parameters": [
          {
            "description": "Identifier of the Customer",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            },
            "description": "Updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "customer"
        ],
        "description": "Updates partially a 'Customer' by Id",
        "operationId": "updateCustomer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer_Update"
              }
            }
          },
          "description": "The Customer to be updated",
          "required": true
        },
        "summary": "Updates partially a 'Customer' by Id"
      }
    },
    "/hub": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventSubscription"
                }
              }
            },
            "description": "Subscribed"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Bad Request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "events subscription"
        ],
        "description": "Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.",
        "operationId": "registerListener",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventSubscriptionInput"
              }
            }
          },
          "description": "Data containing the callback endpoint to deliver the information",
          "required": true
        },
        "summary": "Register a listener"
      }
    },
    "/hub/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "The id of the registered listener",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Unsubscribed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "events subscription"
        ],
        "description": "Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.",
        "operationId": "unregisterListener",
        "summary": "Unregister a listener"
      }
    }
  },
  "components": {
    "schemas": {
      "AccountRef": {
        "description": "Account reference. A account may be a party account or an account receivable.",
        "properties": {
          "description": {
            "description": "Detailed description of the account",
            "type": "string"
          },
          "href": {
            "description": "Reference of the account",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the account",
            "type": "string"
          },
          "name": {
            "description": "Name of the account",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AgreementRef": {
        "description": "Agreement reference. An agreement represents a contract or arrangement, either written or verbal and sometimes enforceable by law, such as a service level agreement or a customer price agreement. An agreement involves a number of other business entities, such as products, services, and resources and/or their specifications.",
        "properties": {
          "href": {
            "description": "Reference of the agreement",
            "type": "string"
          },
          "id": {
            "description": "Identifier of the agreement",
            "type": "string"
          },
          "name": {
            "description": "Name of the agreement",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Characteristic": {
        "description": "Describes a given characteristic of an object or entity through a name/value pair.",
        "properties": {
          "name": {
            "description": "Name of the characteristic",
            "type": "string"
          },
          "value": {
            "description": "Value of the characteristic",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ContactMedium": {
        "description": "Indicates the contact medium that could be used to contact the party.",
        "properties": {
          "characteristic": {
            "$ref": "#/components/schemas/MediumCharacteristic"
          },
          "preferred": {
            "description": "If true, indicates that is the preferred contact medium",
            "type": "boolean"
          },
          "type": {
            "description": "Type of the contact medium, such as: email address, telephone number, postal address",
            "type": "string"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          }
        },
        "type": "object"
      },
      "CreditProfile": {
        "description": "Credit profile for the party (containing credit scoring, ...). By default only the current credit profile  is retrieved. It can be used as a list to give the party credit profiles history, the first one in the list will be the current one.",
        "properties": {
          "creditProfileDate": {
            "description": "The date the profile was established",
            "format": "date-time",
            "type": "string"
          },
          "creditRiskRating": {
            "description": "This is an integer whose value is used to rate the risk",
            "type": "integer"
          },
          "creditScore": {
            "description": "A measure of a person's or an organization's creditworthiness calculated on the basis of a combination of factors such as their income and credit history.",
            "type": "integer"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          }
        },
        "type": "object"
      },
      "Customer": {
        "properties": {
          "account": {
            "items": {
              "$ref": "#/components/schemas/AccountRef"
            },
            "type": "array"
          },
          "agreement": {
            "items": {
              "$ref": "#/components/schemas/AgreementRef"
            },
            "type": "array"
          },
          "characteristic": {
            "items": {
              "$ref": "#/components/schemas/Characteristic"
            },
            "type": "array"
          },
          "contactMedium": {
            "items": {
              "$ref": "#/components/schemas/ContactMedium"
            },
            "type": "array"
          },
          "creditProfile": {
            "items": {
              "$ref": "#/components/schemas/CreditProfile"
            },
            "type": "array"
          },
          "engagedParty": {
            "$ref": "#/components/schemas/PartyRef"
          },
          "href": {
            "description": "Url used to reference the party role.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier for PartyRoles",
            "type": "string"
          },
          "name": {
            "description": "A word, term, or phrase by which the PartyRole is known and distinguished from other PartyRoles.",
            "type": "string"
          },
          "paymentMethod": {
            "items": {
              "$ref": "#/components/schemas/PaymentMethodRef"
            },
            "type": "array"
          },
          "relatedParty": {
            "items": {
              "$ref": "#/components/schemas/RelatedPartyRef"
            },
            "type": "array"
          },
          "status": {
            "description": "Used to track the lifecycle status of the party role.",
            "type": "string"
          },
          "statusReason": {
            "description": "A string providing an explanation on the value of the status lifecycle. For instance if the status is Rejected, statusReason will provide the reason for rejection.",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/RoleTypeRef"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          }
        },
        "type": "object"
      },
      "Customer_Create": {
        "description": "\nSkipped properties: id,href",
        "properties": {
          "account": {
            "items": {
              "$ref": "#/components/schemas/AccountRef"
            },
            "type": "array"
          },
          "agreement": {
            "items": {
              "$ref": "#/components/schemas/AgreementRef"
            },
            "type": "array"
          },
          "characteristic": {
            "items": {
              "$ref": "#/components/schemas/Characteristic"
            },
            "type": "array"
          },
          "contactMedium": {
            "items": {
              "$ref": "#/components/schemas/ContactMedium"
            },
            "type": "array"
          },
          "creditProfile": {
            "items": {
              "$ref": "#/components/schemas/CreditProfile"
            },
            "type": "array"
          },
          "engagedParty": {
            "$ref": "#/components/schemas/PartyRef"
          },
          "name": {
            "description": "A word, term, or phrase by which the PartyRole is known and distinguished from other PartyRoles.",
            "type": "string"
          },
          "paymentMethod": {
            "items": {
              "$ref": "#/components/schemas/PaymentMethodRef"
            },
            "type": "array"
          },
          "relatedParty": {
            "items": {
              "$ref": "#/components/schemas/RelatedPartyRef"
            },
            "type": "array"
          },
          "status": {
            "description": "Used to track the lifecycle status of the party role.",
            "type": "string"
          },
          "statusReason": {
            "description": "A string providing an explanation on the value of the status lifecycle. For instance if the status is Rejected, statusReason will provide the reason for rejection.",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/RoleTypeRef"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          }
        },
        "required": [
          "name",
          "type"
        ],
        "type": "object"
      },
      "Customer_Update": {
        "description": "\nSkipped properties: id,href,id,href",
        "properties": {
          "account": {
            "items": {
              "$ref": "#/components/schemas/AccountRef"
            },
            "type": "array"
          },
          "agreement": {
            "items": {
              "$ref": "#/components/schemas/AgreementRef"
            },
            "type": "array"
          },
          "characteristic": {
            "items": {
              "$ref": "#/components/schemas/Characteristic"
            },
            "type": "array"
          },
          "contactMedium": {
            "items": {
              "$ref": "#/components/schemas/ContactMedium"
            },
            "type": "array"
          },
          "creditProfile": {
            "items": {
              "$ref": "#/components/schemas/CreditProfile"
            },
            "type": "array"
          },
          "engagedParty": {
            "$ref": "#/components/schemas/PartyRef"
          },
          "name": {
            "description": "A word, term, or phrase by which the PartyRole is known and distinguished from other PartyRoles.",
            "type": "string"
          },
          "paymentMethod": {
            "items": {
              "$ref": "#/components/schemas/PaymentMethodRef"
            },
            "type": "array"
          },
          "relatedParty": {
            "items": {
              "$ref": "#/components/schemas/RelatedPartyRef"
            },
            "type": "array"
          },
          "status": {
            "description": "Used to track the lifecycle status of the party role.",
            "type": "string"
          },
          "statusReason": {
            "description": "A string providing an explanation on the value of the status lifecycle. For instance if the status is Rejected, statusReason will provide the reason for rejection.",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/RoleTypeRef"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          }
        },
        "type": "object"
      },
      "Error": {
        "properties": {
          "code": {
            "description": "An integer coding the error type. This is given to caller so he can translate them if required.",
            "type": "integer"
          },
          "description": {
            "description": "(optional) A long localized error description if needed. It can contain precise information about which parameter is missing, or what are the identifier acceptable values.",
            "type": "string"
          },
          "infoURL": {
            "description": "(optional) A URL to online documentation that provides more information about the error.",
            "type": "string"
          },
          "message": {
            "description": "A short localized string that describes the error.",
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      },
      "EventSubscription": {
        "properties": {
          "callback": {
            "description": "The callback being registered.",
            "type": "string"
          },
          "id": {
            "description": "Id of the listener",
            "type": "string"
          },
          "query": {
            "description": "additional data to be passed",
            "type": "string"
          }
        },
        "required": [
          "id",
          "callback"
        ],
        "type": "object"
      },
      "EventSubscriptionInput": {
        "properties": {
          "callback": {
            "description": "The callback being registered.",
            "type": "string"
          },
          "query": {
            "description": "additional data to be passed",
            "type": "string"
          }
        },
        "required": [
          "callback"
        ],
        "type": "object"
      },
      "MediumCharacteristic": {
        "description": "Describes the contact medium characteristics that could be used to contact a party (an individual or an organization)",
        "properties": {
          "city": {
            "description": "The city",
            "type": "string"
          },
          "country": {
            "description": "The country",
            "type": "string"
          },
          "emailAddress": {
            "description": "Full email address in standard format",
            "type": "string"
          },
          "faxNumber": {
            "description": "The fax number of the contact",
            "type": "string"
          },
          "phoneNumber": {
            "description": "The primary phone number of the contact",
            "type": "string"
          },
          "postCode": {
            "description": "Postcode",
            "type": "string"
          },
          "stateOrProvince": {
            "description": "State or province",
            "type": "string"
          },
          "street1": {
            "description": "Describes the street",
            "type": "string"
          },
          "street2": {
            "description": "Complementary street description",
            "type": "string"
          },
          "type": {
            "description": "Type of medium (fax, mobile phone...)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PartyRef": {
        "description": "Party reference. A party represents an organization or an individual.",
        "properties": {
          "description": {
            "description": "Text describing the referred party",
            "type": "string"
          },
          "href": {
            "description": "Reference of the referred party (such as a partner or any other party role).",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the referred party",
            "type": "string"
          },
          "name": {
            "description": "Name of the referred party (such as a partner or any other party role)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "PaymentMethodRef": {
        "description": "PaymentMethod reference. A payment method defines a specific mean of payment (e.g direct debit).",
        "properties": {
          "href": {
            "description": "Reference of the payment mean",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the payment mean",
            "type": "string"
          },
          "name": {
            "description": "Name of the payment mean",
            "type": "string"
          }
        },
        "type": "object"
      },
      "RelatedPartyRef": {
        "description": "RelatedParty reference. A related party defines party or party role linked to a specific entity.",
        "properties": {
          "href": {
            "description": "Reference of the related party, could be a party reference or a party role reference",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of a related party",
            "type": "string"
          },
          "name": {
            "description": "Name of the related party",
            "type": "string"
          },
          "role": {
            "description": "Role of the related party.",
            "type": "string"
          },
          "validFor": {
            "$ref": "#/components/schemas/TimePeriod"
          }
        },
        "type": "object"
      },
      "RoleTypeRef": {
        "description": "RoleType reference.",
        "properties": {
          "name": {
            "description": "The name of the role type. It uniquely identifies the role type within the partnership type.",
            "type": "string"
          },
          "partnershipHref": {
            "description": "Reference url of the partnership type containing the role type",
            "type": "string"
          },
          "partnershipId": {
            "description": "The identifier of the partnership type containing the role type",
            "type": "string"
          },
          "partnershipName": {
            "description": "The name of the partnership type defining this role type",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TimePeriod": {
        "description": "A base / value business entity used to represent a period of time between two timepoints.",
        "properties": {
          "endDateTime": {
            "description": "An instant of time, ending at the TimePeriod.",
            "format": "date-time",
            "type": "string"
          },
          "startDateTime": {
            "description": "An instant of time, starting at the TimePeriod",
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "customer"
    },
    {
      "name": "events subscription"
    }
  ]
}