{
  "openapi": "3.0.3",
  "info": {
    "title": "project44 Asset Tracking API",
    "description": "API for enrolling and unenrolling assets (containers, trailers, rail cars) for permanent tracking via project44's rail visibility platform.",
    "version": "4.0.0",
    "x-jentic-source-url": "https://developers.project44.com/guides/shippers/visibility/rail/asset-tracking"
  },
  "servers": [
    {
      "url": "https://na12.visibility.project44.com",
      "description": "project44 Visibility API"
    }
  ],
  "paths": {
    "/api/v4/assets/tracking": {
      "post": {
        "operationId": "enrollAssetForTracking",
        "summary": "Enroll an asset for permanent tracking",
        "description": "Start permanent tracking of all trips for an asset until it is unenrolled. A webhook endpoint must be configured prior to enrollment.",
        "tags": [
          "Asset Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollAssetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset successfully enrolled for tracking",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetTrackingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "unenrollAssetFromTracking",
        "summary": "Unenroll an asset from tracking",
        "description": "Stop tracking on an asset. Location information will no longer be pushed.",
        "tags": [
          "Asset Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnenrollAssetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset successfully unenrolled from tracking",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetTrackingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "User not authorized to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "OAuth 2.0 Bearer token obtained from project44 authentication"
      }
    },
    "schemas": {
      "EquipmentIdentifier": {
        "type": "object",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "CONTAINER_ID",
              "TRAILER_ID",
              "RAIL_CAR_ID"
            ],
            "description": "The type of equipment identifier"
          },
          "value": {
            "type": "string",
            "description": "The value of the equipment identifier"
          }
        }
      },
      "EnrollAssetRequest": {
        "type": "object",
        "required": [
          "equipmentIdentifier",
          "webhookName"
        ],
        "properties": {
          "equipmentIdentifier": {
            "$ref": "#/components/schemas/EquipmentIdentifier"
          },
          "webhookName": {
            "type": "string",
            "description": "The ID of the registered webhook where asset tracking information will be sent"
          }
        }
      },
      "UnenrollAssetRequest": {
        "type": "object",
        "required": [
          "equipmentIdentifier"
        ],
        "properties": {
          "equipmentIdentifier": {
            "$ref": "#/components/schemas/EquipmentIdentifier"
          }
        }
      },
      "AssetTrackingResponse": {
        "type": "object",
        "properties": {
          "equipmentIdentifier": {
            "$ref": "#/components/schemas/EquipmentIdentifier"
          },
          "status": {
            "type": "string",
            "description": "Status of the tracking operation"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "httpStatusCode": {
            "type": "integer"
          },
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Asset Tracking",
      "description": "Enroll and unenroll assets for tracking"
    }
  ]
}