{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "bobby@onskyline.com",
      "name": "Skyline API Team",
      "url": "http://onskyline.io"
    },
    "description": "Authenticate service allows users to login using their credentials",
    "license": {
      "name": "Skyline",
      "url": "https://onskyline.com/licenses/skyline"
    },
    "termsOfService": "http://onskyline.io/terms/",
    "title": "Authenticate",
    "version": "0.0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/siegmergius/authenticate/0.0.1/swagger.json"
  },
  "servers": [
    {
      "url": "https://onskyline.io/api"
    }
  ],
  "paths": {
    "/authenticate/openid": {
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response"
                }
              }
            },
            "description": "User Deleted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Client Error"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "authenticate"
        ],
        "description": "Deletes a single Authentication based on the token",
        "operationId": "deleteAuthentication",
        "requestBody": {
          "$ref": "#/components/requestBodies/request"
        }
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/response"
                }
              }
            },
            "description": "User created confirmation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Client Error"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        },
        "tags": [
          "authenticate"
        ],
        "description": "Creates a new user",
        "operationId": "authenticateUser",
        "requestBody": {
          "$ref": "#/components/requestBodies/request"
        }
      }
    }
  },
  "components": {
    "requestBodies": {
      "request": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/request"
            }
          }
        },
        "description": "username and password for a particular user",
        "required": true
      }
    },
    "schemas": {
      "error": {
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      },
      "errorMetadata": {
        "properties": {
          "errors": {
            "items": {
              "$ref": "#/components/schemas/error"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "errorResponse": {
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/errorMetadata"
          }
        },
        "type": "object"
      },
      "metadata": {
        "properties": {
          "errors": {
            "items": {
              "$ref": "#/components/schemas/error"
            },
            "type": "array"
          },
          "paging": {
            "$ref": "#/components/schemas/paging"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/warning"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "paging": {
        "properties": {
          "count": {
            "format": "int64",
            "type": "integer"
          },
          "limit": {
            "format": "int64",
            "type": "integer"
          },
          "offset": {
            "format": "int64",
            "type": "integer"
          }
        },
        "required": [
          "offset",
          "count",
          "limit"
        ],
        "type": "object"
      },
      "request": {
        "properties": {
          "password": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          }
        },
        "required": [
          "userId",
          "password"
        ],
        "type": "object"
      },
      "response": {
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/metadata"
          },
          "result": {
            "$ref": "#/components/schemas/result"
          }
        },
        "type": "object"
      },
      "result": {
        "properties": {
          "accessToken": {
            "type": "string"
          }
        },
        "required": [
          "accessToken"
        ],
        "type": "object"
      },
      "warning": {
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "authenticate"
    }
  ]
}