{
  "openapi": "3.0.3",
  "info": {
    "title": "starbuero.de External API",
    "version": "1.0",
    "description": "External API - BETA for starbuero.de office management platform",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://backend.starbuero.de"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/external/api/v1/addon_contact/contact": {
      "get": {
        "summary": "Retrieve all contacts",
        "description": "Get a paginated list of all contacts",
        "operationId": "getAllContacts",
        "tags": [
          "Addon Contact Management"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied"
          }
        }
      },
      "post": {
        "summary": "Create new contact",
        "operationId": "createContact",
        "tags": [
          "Addon Contact Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors"
          }
        },
        "description": "Create new contact"
      }
    },
    "/external/api/v1/addon_contact/contact/{contact}": {
      "get": {
        "summary": "Fetch specific contact",
        "operationId": "getContact",
        "tags": [
          "Addon Contact Management"
        ],
        "parameters": [
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        },
        "description": "Fetch specific contact"
      },
      "put": {
        "summary": "Update contact",
        "operationId": "updateContact",
        "tags": [
          "Addon Contact Management"
        ],
        "parameters": [
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully"
          },
          "400": {
            "description": "Validation errors"
          }
        },
        "description": "Update contact"
      },
      "delete": {
        "summary": "Remove contact",
        "operationId": "deleteContact",
        "tags": [
          "Addon Contact Management"
        ],
        "parameters": [
          {
            "name": "contact",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          }
        },
        "description": "Remove contact"
      }
    },
    "/external/api/v1/appointment": {
      "get": {
        "summary": "List all appointments",
        "operationId": "getAllAppointments",
        "tags": [
          "Appointment Management"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Appointment"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List all appointments"
      },
      "post": {
        "summary": "Create appointment",
        "operationId": "createAppointment",
        "tags": [
          "Appointment Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment created successfully"
          },
          "400": {
            "description": "Validation errors"
          }
        },
        "description": "Create appointment"
      }
    },
    "/external/api/v1/appointment/{appointment}": {
      "get": {
        "summary": "Retrieve specific appointment",
        "operationId": "getAppointment",
        "tags": [
          "Appointment Management"
        ],
        "parameters": [
          {
            "name": "appointment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appointment"
                }
              }
            }
          }
        },
        "description": "Retrieve specific appointment"
      },
      "put": {
        "summary": "Update appointment",
        "operationId": "updateAppointment",
        "tags": [
          "Appointment Management"
        ],
        "parameters": [
          {
            "name": "appointment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment updated successfully"
          }
        },
        "description": "Update appointment"
      },
      "delete": {
        "summary": "Delete appointment",
        "operationId": "deleteAppointment",
        "tags": [
          "Appointment Management"
        ],
        "parameters": [
          {
            "name": "appointment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          }
        },
        "description": "Delete appointment"
      }
    },
    "/external/api/v1/appointment_recurring": {
      "post": {
        "summary": "Create recurring appointment",
        "operationId": "createRecurringAppointment",
        "tags": [
          "Appointment Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringAppointmentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recurring appointment created successfully"
          }
        },
        "description": "Create recurring appointment"
      }
    },
    "/external/api/v1/appointment_recurring/{recurringAppointment}": {
      "delete": {
        "summary": "Remove recurring pattern",
        "operationId": "deleteRecurringAppointment",
        "tags": [
          "Appointment Management"
        ],
        "parameters": [
          {
            "name": "recurringAppointment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          }
        },
        "description": "Remove recurring pattern"
      }
    },
    "/external/api/v1/employee": {
      "get": {
        "summary": "List employees",
        "operationId": "getAllEmployees",
        "tags": [
          "Employee Management"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Employee"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List employees"
      },
      "post": {
        "summary": "Add employee",
        "operationId": "createEmployee",
        "tags": [
          "Employee Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee created successfully"
          }
        },
        "description": "Add employee"
      }
    },
    "/external/api/v1/employee/{employee}": {
      "get": {
        "summary": "Fetch employee details",
        "operationId": "getEmployee",
        "tags": [
          "Employee Management"
        ],
        "parameters": [
          {
            "name": "employee",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                }
              }
            }
          }
        },
        "description": "Fetch employee details"
      },
      "put": {
        "summary": "Update employee",
        "operationId": "updateEmployee",
        "tags": [
          "Employee Management"
        ],
        "parameters": [
          {
            "name": "employee",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee updated successfully"
          }
        },
        "description": "Update employee"
      },
      "delete": {
        "summary": "Remove employee",
        "operationId": "deleteEmployee",
        "tags": [
          "Employee Management"
        ],
        "parameters": [
          {
            "name": "employee",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          }
        },
        "description": "Remove employee"
      }
    },
    "/external/api/v1/faq": {
      "get": {
        "summary": "List FAQs",
        "operationId": "getAllFAQs",
        "tags": [
          "FAQ Management"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FAQ"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List FAQs"
      },
      "post": {
        "summary": "Create FAQ entry",
        "operationId": "createFAQ",
        "tags": [
          "FAQ Management"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAQInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "FAQ created successfully"
          }
        },
        "description": "Create FAQ entry"
      }
    },
    "/external/api/v1/faq/{faq}": {
      "get": {
        "summary": "Retrieve FAQ",
        "operationId": "getFAQ",
        "tags": [
          "FAQ Management"
        ],
        "parameters": [
          {
            "name": "faq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FAQ"
                }
              }
            }
          }
        },
        "description": "Retrieve FAQ"
      },
      "put": {
        "summary": "Update FAQ",
        "operationId": "updateFAQ",
        "tags": [
          "FAQ Management"
        ],
        "parameters": [
          {
            "name": "faq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FAQInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "FAQ updated successfully"
          }
        },
        "description": "Update FAQ"
      },
      "delete": {
        "summary": "Delete FAQ",
        "operationId": "deleteFAQ",
        "tags": [
          "FAQ Management"
        ],
        "parameters": [
          {
            "name": "faq",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          }
        },
        "description": "Delete FAQ"
      }
    },
    "/external/api/v1/call_data": {
      "get": {
        "summary": "Retrieve call records",
        "description": "Get call records with optional date filtering",
        "operationId": "getCallData",
        "tags": [
          "Additional Resources"
        ],
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 10,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CallData"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external/api/v1": {
      "get": {
        "summary": "Fetch company information",
        "operationId": "getCompanyInfo",
        "tags": [
          "Additional Resources"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        },
        "description": "Fetch company information"
      },
      "put": {
        "summary": "Update company data",
        "operationId": "updateCompanyInfo",
        "tags": [
          "Additional Resources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated successfully"
          }
        },
        "description": "Update company data"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      }
    },
    "schemas": {
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "ContactInput": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "AppointmentInput": {
        "type": "object",
        "required": [
          "title",
          "start_time",
          "end_time"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "RecurringAppointmentInput": {
        "type": "object",
        "required": [
          "title",
          "start_time",
          "end_time",
          "recurrence_rule"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "recurrence_rule": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Employee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "position": {
            "type": "string"
          }
        }
      },
      "EmployeeInput": {
        "type": "object",
        "required": [
          "name",
          "email"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "position": {
            "type": "string"
          }
        }
      },
      "FAQ": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "question": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          }
        }
      },
      "FAQInput": {
        "type": "object",
        "required": [
          "question",
          "answer"
        ],
        "properties": {
          "question": {
            "type": "string"
          },
          "answer": {
            "type": "string"
          }
        }
      },
      "CallData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "caller": {
            "type": "string"
          },
          "receiver": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "CompanyInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Additional Resources"
    },
    {
      "name": "Addon Contact Management"
    },
    {
      "name": "Appointment Management"
    },
    {
      "name": "Employee Management"
    },
    {
      "name": "FAQ Management"
    }
  ]
}
