{
  "openapi": "3.0.3",
  "info": {
    "title": "Khalti ePayment API",
    "description": "Khalti Payment Gateway API for initiating payments, verifying transactions, and processing refunds. Supports payments from Khalti wallet, eBanking, mobile banking, SCT/VISA cards, and connectIPS.",
    "version": "2.0",
    "x-jentic-source-url": "https://docs.khalti.com/"
  },
  "servers": [
    {
      "url": "https://khalti.com/api/v2",
      "description": "Production server"
    },
    {
      "url": "https://dev.khalti.com/api/v2",
      "description": "Sandbox/Development server"
    }
  ],
  "paths": {
    "/epayment/initiate/": {
      "post": {
        "operationId": "initiatePayment",
        "summary": "Initiate a payment",
        "description": "Initiates a payment request and returns a unique payment identifier (pidx) along with a payment URL for redirecting users to the Khalti payment portal.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentInitiateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentInitiateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/epayment/lookup/": {
      "post": {
        "operationId": "lookupPayment",
        "summary": "Verify payment status",
        "description": "Verifies the status of a payment using the payment identifier (pidx) to confirm transaction completion.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentLookupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentLookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid or missing pidx",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/merchant-transaction/{transactionId}/refund/": {
      "post": {
        "operationId": "refundTransaction",
        "summary": "Refund a transaction",
        "description": "Processes a full or partial refund for a previously completed transaction. Supports both wallet and bank payment refunds.",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "description": "The unique transaction identifier to refund",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction refunded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid transaction or refund parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key authentication. Format: 'Key <LIVE_SECRET_KEY>'"
      }
    },
    "schemas": {
      "PaymentInitiateRequest": {
        "type": "object",
        "required": [
          "return_url",
          "website_url",
          "amount",
          "purchase_order_id",
          "purchase_order_name"
        ],
        "properties": {
          "return_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect the user after payment completion"
          },
          "website_url": {
            "type": "string",
            "format": "uri",
            "description": "The merchant's website URL"
          },
          "amount": {
            "type": "integer",
            "minimum": 1000,
            "description": "Payment amount in paisa (minimum 1000 paisa = Rs. 10)"
          },
          "purchase_order_id": {
            "type": "string",
            "description": "Unique identifier for the purchase order from the merchant"
          },
          "purchase_order_name": {
            "type": "string",
            "description": "Name or description of the product/order"
          },
          "customer_info": {
            "$ref": "#/components/schemas/CustomerInfo"
          },
          "amount_breakdown": {
            "type": "array",
            "description": "Itemized breakdown of the amount (must sum to total amount)",
            "items": {
              "$ref": "#/components/schemas/AmountBreakdownItem"
            }
          },
          "product_details": {
            "type": "array",
            "description": "Details of the product(s) being purchased",
            "items": {
              "$ref": "#/components/schemas/ProductDetail"
            }
          }
        }
      },
      "CustomerInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Customer name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          }
        }
      },
      "AmountBreakdownItem": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the amount item"
          },
          "amount": {
            "type": "integer",
            "description": "Amount in paisa"
          }
        }
      },
      "ProductDetail": {
        "type": "object",
        "properties": {
          "identity": {
            "type": "string",
            "description": "Product identifier"
          },
          "name": {
            "type": "string",
            "description": "Product name"
          },
          "total_price": {
            "type": "integer",
            "description": "Total price in paisa"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the product"
          },
          "unit_price": {
            "type": "integer",
            "description": "Unit price in paisa"
          }
        }
      },
      "PaymentInitiateResponse": {
        "type": "object",
        "properties": {
          "pidx": {
            "type": "string",
            "description": "Unique payment identifier"
          },
          "payment_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to redirect the customer for payment"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Payment session expiry timestamp"
          },
          "expires_in": {
            "type": "integer",
            "description": "Payment session expiry duration in seconds"
          }
        }
      },
      "PaymentLookupRequest": {
        "type": "object",
        "required": [
          "pidx"
        ],
        "properties": {
          "pidx": {
            "type": "string",
            "description": "Unique payment identifier from initiation"
          }
        }
      },
      "PaymentLookupResponse": {
        "type": "object",
        "properties": {
          "pidx": {
            "type": "string",
            "description": "Unique payment identifier"
          },
          "total_amount": {
            "type": "integer",
            "description": "Total payment amount in paisa"
          },
          "status": {
            "type": "string",
            "description": "Payment status",
            "enum": [
              "Completed",
              "Pending",
              "Initiated",
              "Refunded",
              "Expired",
              "User canceled"
            ]
          },
          "transaction_id": {
            "type": "string",
            "nullable": true,
            "description": "Transaction identifier (null if not completed)"
          },
          "fee": {
            "type": "integer",
            "description": "Transaction fee in paisa"
          },
          "refunded": {
            "type": "boolean",
            "description": "Whether the transaction has been refunded"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount to refund in paisa. Omit for full refund of wallet payments."
          },
          "mobile": {
            "type": "string",
            "description": "Phone number linked to the Khalti account. Required for bank payment refunds."
          }
        }
      },
      "RefundResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Refund result message",
            "example": "Transaction refund successful."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Payments",
      "description": "Payment initiation and verification"
    },
    {
      "name": "Refunds",
      "description": "Transaction refund operations"
    }
  ]
}