{
  "openapi": "3.0.3",
  "info": {
    "title": "Delivery Hero POS Plugin API",
    "version": "1.0.0",
    "description": "The Delivery Hero POS Plugin API enables POS systems to receive and process orders from the Delivery Hero POS Order Processing Service. It provides endpoints for order dispatch, status updates, and menu import triggering.",
    "x-jentic-source-url": "https://developers.deliveryhero.com/documentation/pos.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://integration-middleware.restaurant-partners.com"
    }
  ],
  "paths": {
    "/order/{remoteId}": {
      "post": {
        "operationId": "dispatchOrder",
        "summary": "Dispatch order to POS plugin",
        "description": "Receives new orders from the POS Order Processing Service and dispatches them to the POS plugin.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "remoteId",
            "in": "path",
            "description": "Restaurant identifier on the plugin side",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order successfully dispatched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDispatchAcknowledgedResponse"
                }
              }
            }
          },
          "202": {
            "description": "Order accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDispatchAcknowledgedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/remoteId/{remoteId}/remoteOrder/{remoteOrderId}/posOrderStatus": {
      "put": {
        "operationId": "updateOrderStatus",
        "summary": "Update order status",
        "description": "Notifies POS plugins about order status changes including cancellations, pickups, and modifications.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "remoteId",
            "in": "path",
            "description": "Vendor identifier on the plugin side",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "remoteOrderId",
            "in": "path",
            "description": "Order identifier on the plugin side",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderStatusUpdated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status update acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/menuimport/{remoteId}": {
      "get": {
        "operationId": "triggerMenuImport",
        "summary": "Trigger menu import",
        "description": "Requests menu submission from the POS plugin. The plugin should respond and then asynchronously submit the menu.",
        "tags": [
          "Menu"
        ],
        "parameters": [
          {
            "name": "remoteId",
            "in": "path",
            "description": "Restaurant identifier on the plugin side",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vendorCode",
            "in": "query",
            "description": "Platform vendor identifier",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "menuImportId",
            "in": "query",
            "description": "Menu import identifier",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Menu import request accepted for asynchronous processing"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{catalogImportCallback}": {
      "post": {
        "operationId": "catalogImportStatus",
        "summary": "Receive catalog import status",
        "description": "Receives catalog import status updates from the middleware.",
        "tags": [
          "Menu"
        ],
        "parameters": [
          {
            "name": "catalogImportCallback",
            "in": "path",
            "description": "Callback path for catalog import status",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogImportCallbackRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status acknowledged"
          },
          "204": {
            "description": "Stop listening for updates"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Order": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "Unique order identifier"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          },
          "totalAmount": {
            "type": "number",
            "description": "Total order amount"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "customerNote": {
            "type": "string",
            "description": "Customer notes for the order"
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Item identifier"
          },
          "name": {
            "type": "string",
            "description": "Item name"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity ordered"
          },
          "price": {
            "type": "number",
            "description": "Item price"
          }
        }
      },
      "OrderDispatchAcknowledgedResponse": {
        "type": "object",
        "properties": {
          "remoteResponse": {
            "type": "object",
            "properties": {
              "remoteOrderId": {
                "type": "string",
                "description": "Order identifier on the plugin side"
              }
            }
          }
        }
      },
      "OrderStatusUpdated": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ORDER_CANCELLED",
              "ORDER_PICKED_UP",
              "PRODUCT_ORDER_MODIFICATION_SUCCESSFUL",
              "PRODUCT_ORDER_MODIFICATION_FAILED",
              "COURIER_ARRIVED_AT_VENDOR",
              "SHOW_RIDER_WAITING_WARNING",
              "HIDE_RIDER_WAITING_WARNING"
            ],
            "description": "New order status"
          },
          "message": {
            "type": "string",
            "description": "Status message"
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the status change occurred"
          },
          "riderWaitingWarnings": {
            "type": "object",
            "description": "Rider waiting warning details"
          },
          "updatedOrder": {
            "$ref": "#/components/schemas/Order"
          }
        },
        "required": [
          "status"
        ]
      },
      "CatalogImportCallbackRequest": {
        "type": "object",
        "properties": {
          "catalogImportId": {
            "type": "string",
            "description": "Catalog import identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "in_progress",
              "done",
              "done_with_errors",
              "failed"
            ],
            "description": "Import status"
          },
          "message": {
            "type": "string",
            "description": "Status message"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformCatalogImportStatus"
            }
          }
        }
      },
      "PlatformCatalogImportStatus": {
        "type": "object",
        "properties": {
          "platformId": {
            "type": "string",
            "description": "Platform identifier"
          },
          "status": {
            "type": "string",
            "description": "Platform-specific import status"
          },
          "message": {
            "type": "string",
            "description": "Status message"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token with 'service: middleware' claim"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Menu"
    },
    {
      "name": "Orders"
    }
  ]
}
