{
  "openapi": "3.0.0",
  "info": {
    "title": "Equipment Measurements",
    "description": "This resource allows the client to provide metadata for a third-party managed piece of equipment in Operations Center.",
    "version": "1.0",
    "contact": {
      "email": "ISG_APIIntegrations@JohnDeere.com",
      "name": "API Integrations Team"
    },
    "x-deere-proxy-info": {
      "api-name": "inbound-measurements",
      "license": "INBOUND_MEASUREMENTS",
      "proxy-prefix": "/isg",
      "prefix-rewrite": "",
      "service-now-ci": "jd-us01-isg-qual.b2b-data-transfer",
      "default-service-name": "inbound-measurements",
      "qual": {
        "enabled": true,
        "services": [
          {
            "service-name": "inbound-measurements",
            "hostname": "inbound-measurements-api.qual.us.i01.c01.johndeerecloud.com"
          }
        ]
      },
      "cert": {
        "enabled": true,
        "services": [
          {
            "service-name": "inbound-measurements",
            "hostname": "inbound-measurements-api.cert.us.i01.c01.johndeerecloud.com"
          }
        ]
      },
      "prod": {
        "enabled": true,
        "services": [
          {
            "service-name": "inbound-measurements",
            "hostname": "inbound-measurements-api.prod.us.i01.c01.johndeerecloud.com"
          }
        ]
      }
    },
    "x-jentic-source-url": "https://developer.deere.com/devDoc/apiDetails/equipment-measurement"
  },
  "servers": [
    {
      "url": "https://equipmentapi-qual.deere.com/isg"
    },
    {
      "url": "https://equipmentapi-cert.deere.com/isg"
    },
    {
      "url": "https://equipmentapi.deere.com/isg"
    }
  ],
  "paths": {
    "/organizations/{organizationId}/equipment/{principalId}/measurements": {
      "post": {
        "summary": "Contribute measurements for a given equipment (NEW)",
        "description": "This resource allows the client to provide metadata for a third-party managed piece of equipment in Operations Center. <br><br> <b>Getting Started</b><br>The process of contributing equipment measurement data to John Deere can be broken down into three primary steps. <ol> <li> Determine the Equipment’s make, type, and model IDs</li> <li> Create the Equipment. Please see the <a  href='/dev-docs/equipment' target='_blank'>Equipment API</a> for more information on creating equipment.</li> <li> Contribute Measurements</li> </ol>\n<b>Determining the Equipment’s make, type, and model</b> <ol> <li> Call the GET /equipmentMakes API endpoint to get a list of all equipment makes and a respective “id” of the equipment make you require.</li> <li> Call the GET /equipmentMakes/{id}/equipmentTypes endpoint to get a list of associated equipment types for that specific equipment make and obtain a respective “id” for a specific type you require.</li> <li> Call the GET /equipmentMakes/{id}/equipmentTypes/{id}/equipmentModels to obtain the final “id” of the equipment model you require.</li> <li> Alternatively, you may call the GET /equipmentModels endpoint if you know the model name you are searching for. For example /equipmentModels?equipmentModelName=9RX*&embed=make,type which will include all models with search string results and include make and type 'id' as well as model 'id'.</li> </ol>\n<b>Create the Equipment</b><br/> Make a POST request to the /organizations/{orgId}/equipment API to create the piece of equipment in the user’s org. <ul> <li>In this request you will provide the type of the equipment, a serialNumber (optional), name (displayed to the user in Operations Center), and the equipment make, type, and model IDs.</li> <ul> <li><b>type:</b> Machine or Implement</li> <li><b>serialNumber:</b> A string identifier that is 30 characters or fewer. Must be unique within an organization.</li> <li><b>name:</b> The name displayed in Operation Center, 30 characters or fewer. Must be unique within an organization.</li> <li><b>make:</b> The ID for the Make of the vehicle, found from the previous step of this document.</li> <li><b>type:</b> The ID for the Type of the vehicle, found from the API in previous step of this document. </li> <li><b>model:</b> The id for the Model of the vehicle, found from the API in the previous step of this document. </li> </ul> <li> A successful POST will result in a 201 Created response. The “location” header in the response will contain the URI to the new equipment, with the final segment being the <u>organization specific</u> machine ID (ie 'https://equipmentapi.deere.com/isg/equipment/12345' is a link to the machine 12345).</li> <li> Once the equipment is created, you will need to follow the location header link provided above and obtain the 'principalId' of the equipment which will be used in the measurements POST URL.</li> <li> If you attempt to create a machine with a vin that already exists in that organization, you get a response code 400 Bad Request. The body will include the error information.</li> <li> If you attempt to create a machine with a name that already exists within the organization, you will receive a 400 Bad Request response. The body will include the error information.</li> </ul> <b>Contribute Measurements</b> <br> First, you must call the returned URL for the equipment created in above steps to view the new machine record, to obtain the “principalId” of the machine. Then, make a POST call to the <a  href='#' target='_blank'>/organizations/{organizationId}/equipment/{principalId}/measurements</a> API endpoint to provide metadata for the equipment that you created in the previous steps. <ul> <li>A properly formatted message will result in a 204 No Content response indicating that the measurement has been taken for processing. After a short delay (generally less than 30 seconds) you should see the icon on the Operations Center map reflecting the new information.</li> <li>You MUST pass the “principalId” of the equipment (obtained from querying the equipment record in the GET /equipment endpoint) otherwise the API will return an error. We check to ensure the calling application and user has access to the current controlling organization of the equipment prior to accepting the measurements. Measurement will only be shown in the current controlling organization of the equipment.</li> </ul>",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "The identifier of the organization",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1234,
            "$$ref": "http://localhost:8081/dev-docs/equipment-measurement#/components/parameters/OrganizationId"
          },
          {
            "in": "path",
            "name": "principalId",
            "description": "The master record identifier of the equipment",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1234,
            "$$ref": "http://localhost:8081/dev-docs/equipment-measurement#/components/parameters/EquipmentId"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "eq2"
            ]
          }
        ],
        "requestBody": {
          "description": "A list of measurements provided.",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp that the provided set of measurements were recorded. This will be valuable in determining the correct order of measurements in case they are provided out of order."
                  },
                  "measurements": {
                    "type": "array",
                    "format": "date-time",
                    "items": {
                      "title": "Measurement",
                      "type": "object",
                      "properties": {
                        "Speed": {
                          "type": "string",
                          "properties": {
                            "value": {
                              "type": "number",
                              "format": "double",
                              "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                              "example": "19.5",
                              "required": true
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "vehicleSpeed"
                              ],
                              "description": "Name identifying which measurement this value corresponds to. vehicleSpeed only possible value for providing speed.",
                              "required": true
                            },
                            "unit": {
                              "type": "string",
                              "enum": [
                                "kph"
                              ],
                              "description": "The unit of measure we should interpret the value as. kph is currently the only supported unit for speed."
                            }
                          }
                        },
                        "Heading": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number",
                              "format": "double",
                              "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                              "example": "19.5",
                              "required": true
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "heading"
                              ],
                              "description": "Name identifying which measurement this value corresponds to. heading only possible value for providing heading.",
                              "required": true
                            },
                            "unit": {
                              "type": "string",
                              "enum": [
                                "degrees"
                              ],
                              "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for heading."
                            }
                          }
                        },
                        "FuelLevel": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number",
                              "format": "double",
                              "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                              "example": "19.5",
                              "required": true
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "fuelLevelPercentage"
                              ],
                              "description": "Name identifying which measurement this value corresponds to. fuelLevelPercentage only possible value for providing fuel.",
                              "required": true
                            },
                            "unit": {
                              "type": "string",
                              "enum": [
                                "percent"
                              ],
                              "description": "The unit of measure we should interpret the value as. percent is currently the only supported unit for fuel level."
                            }
                          }
                        },
                        "Latitude": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number",
                              "format": "double",
                              "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                              "example": "19.5",
                              "required": true
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "latitude"
                              ],
                              "description": "Name identifying which measurement this value corresponds to. latitude only possible value for providing latitude.",
                              "required": true
                            },
                            "unit": {
                              "type": "string",
                              "enum": [
                                "degrees"
                              ],
                              "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for latitude"
                            }
                          },
                          "title": "Latitude"
                        },
                        "Longitude": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number",
                              "format": "double",
                              "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                              "example": "19.5",
                              "required": true
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "longitude"
                              ],
                              "description": "Name identifying which measurement this value corresponds to. longitude only possible value for providing longitude.",
                              "required": true
                            },
                            "unit": {
                              "type": "string",
                              "enum": [
                                "degrees"
                              ],
                              "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for longitude"
                            }
                          },
                          "title": "Longitude"
                        },
                        "EngineState": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "enum": [
                                "On",
                                "Off"
                              ],
                              "description": "State of the engine. engineState only possible values are: On or Off.",
                              "example": "On",
                              "required": true
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "engineState"
                              ],
                              "description": "Name identifying which measurement this value corresponds to. engineState only possible value for providing engineState.",
                              "required": true
                            }
                          },
                          "title": "EngineState"
                        },
                        "Odometer": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number",
                              "format": "double",
                              "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                              "example": "19.5",
                              "required": true
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "odometer"
                              ],
                              "description": "Name identifying which measurement this value corresponds to. odometer only possible value for providing odometerReading.",
                              "required": true
                            },
                            "unit": {
                              "type": "string",
                              "enum": [
                                "km"
                              ],
                              "description": "The unit of measure we should interpret the value as. km is currently the only supported unit for odometerReading"
                            }
                          },
                          "title": "Odometer"
                        },
                        "EngineHours": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number",
                              "format": "double",
                              "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                              "example": "19.5",
                              "required": true
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "engineHours"
                              ],
                              "description": "Name identifying which measurement this value corresponds to. engineHours only possible value for providing engineHours.",
                              "required": true
                            },
                            "unit": {
                              "type": "string",
                              "enum": [
                                "hours"
                              ],
                              "description": "The unit of measure we should interpret the value as. hours is currently the only supported unit for engineHours"
                            }
                          },
                          "title": "EngineHours"
                        },
                        "EngineSpeed": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number",
                              "format": "double",
                              "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                              "example": "19.5",
                              "required": true
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "engineSpeed"
                              ],
                              "description": "Name identifying which measurement this value corresponds to. engineSpeed only possible value for providing engineSpeed.",
                              "required": true
                            },
                            "unit": {
                              "type": "string",
                              "enum": [
                                "RPM"
                              ],
                              "description": "The unit of measure we should interpret the value as. RPM is the only supported unit for engineSpeed"
                            }
                          }
                        },
                        "PTOStatus": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "enum": [
                                "On",
                                "Off",
                                "Fault",
                                "Unavailable"
                              ],
                              "description": "Status of PTO (Power Take-Off). ptoStatus possible values are: On, Off, Fault, or Unavailable.",
                              "example": "On",
                              "required": true
                            },
                            "name": {
                              "type": "string",
                              "enum": [
                                "ptoStatus"
                              ],
                              "description": "Name identifying which measurement this value corresponds to. ptoStatus only possible value for providing ptoStatus.",
                              "required": true
                            }
                          }
                        }
                      },
                      "$$ref": "http://localhost:8081/dev-docs/equipment-measurement#/components/schemas/MeasurementNew"
                    }
                  }
                },
                "$$ref": "http://localhost:8081/dev-docs/equipment-measurement#/components/schemas/EquipmentMeasurementsNew"
              },
              "examples": {
                "No Header": {
                  "value": [
                    {
                      "timestamp": "2024-05-20T18:44:17.299Z",
                      "measurements": [
                        {
                          "name": "vehicleSpeed",
                          "value": 19.5,
                          "unit": "kph"
                        },
                        {
                          "name": "latitude",
                          "value": 41.51655,
                          "unit": "degrees"
                        },
                        {
                          "name": "longitude",
                          "value": -93.502778,
                          "unit": "degrees"
                        },
                        {
                          "name": "engineState",
                          "value": "On"
                        },
                        {
                          "name": "odometer",
                          "value": 132992,
                          "unit": "km"
                        },
                        {
                          "name": "engineHours",
                          "value": 21350.8,
                          "unit": "hours"
                        },
                        {
                          "name": "heading",
                          "value": 89.9,
                          "unit": "degrees"
                        },
                        {
                          "name": "fuelLevelPercentage",
                          "value": 35.7,
                          "unit": "percent"
                        },
                        {
                          "name": "PTOstatus",
                          "value": "On"
                        },
                        {
                          "name": "EngineSpeed",
                          "value": 19.5,
                          "unit": "rpm"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Headers": {
                    "description": "204 No Content"
                  }
                }
              }
            },
            "$$ref": "http://localhost:8081/dev-docs/equipment-measurement#/components/Response/CreateEquip"
          },
          "400": {
            "description": "Measurement format invalid or an unexpected measurements name was found."
          },
          "403": {
            "description": "The user is not allowed to contribute measurements for this machine."
          },
          "404": {
            "description": "No machine was found with the provided machineId within the provided organization."
          }
        },
        "contentType": {
          "description": "The request body used to create or update a client",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "Content-Type": "application/json"
                },
                "$$ref": "http://localhost:8081/dev-docs/equipment-measurement#/components/schemas/ContentType"
              }
            }
          }
        },
        "Accept": {
          "description": "The request body used to create or update a client",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "Accept": "application/json"
                },
                "$$ref": "http://localhost:8081/dev-docs/equipment-measurement#/components/schemas/Accept"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "MachineId": {
        "in": "path",
        "name": "machineId",
        "description": "The identifier of the machine",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "example": 1234
      },
      "OrganizationId": {
        "in": "path",
        "name": "organizationId",
        "description": "The identifier of the organization",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "example": 1234
      },
      "EquipmentId": {
        "in": "path",
        "name": "principalId",
        "description": "The master record identifier of the equipment",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64"
        },
        "example": 1234
      }
    },
    "schemas": {
      "PTOStatusValue": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "enum": [
              "On",
              "Off",
              "Fault",
              "Unavailable"
            ],
            "description": "Status of PTO (Power Take-Off). ptoStatus possible values are: On, Off, Fault, or Unavailable.",
            "example": "On",
            "required": true
          }
        }
      },
      "MeasurementNew": {
        "title": "Measurement",
        "type": "object",
        "properties": {
          "Speed": {
            "type": "string",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "vehicleSpeed"
                ],
                "description": "Name identifying which measurement this value corresponds to. vehicleSpeed only possible value for providing speed.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "kph"
                ],
                "description": "The unit of measure we should interpret the value as. kph is currently the only supported unit for speed."
              }
            }
          },
          "Heading": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "heading"
                ],
                "description": "Name identifying which measurement this value corresponds to. heading only possible value for providing heading.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "degrees"
                ],
                "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for heading."
              }
            }
          },
          "FuelLevel": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "fuelLevelPercentage"
                ],
                "description": "Name identifying which measurement this value corresponds to. fuelLevelPercentage only possible value for providing fuel.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "percent"
                ],
                "description": "The unit of measure we should interpret the value as. percent is currently the only supported unit for fuel level."
              }
            }
          },
          "Latitude": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "latitude"
                ],
                "description": "Name identifying which measurement this value corresponds to. latitude only possible value for providing latitude.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "degrees"
                ],
                "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for latitude"
              }
            },
            "title": "Latitude"
          },
          "Longitude": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "longitude"
                ],
                "description": "Name identifying which measurement this value corresponds to. longitude only possible value for providing longitude.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "degrees"
                ],
                "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for longitude"
              }
            },
            "title": "Longitude"
          },
          "EngineState": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "enum": [
                  "On",
                  "Off"
                ],
                "description": "State of the engine. engineState only possible values are: On or Off.",
                "example": "On",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "engineState"
                ],
                "description": "Name identifying which measurement this value corresponds to. engineState only possible value for providing engineState.",
                "required": true
              }
            },
            "title": "EngineState"
          },
          "Odometer": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "odometer"
                ],
                "description": "Name identifying which measurement this value corresponds to. odometer only possible value for providing odometerReading.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "km"
                ],
                "description": "The unit of measure we should interpret the value as. km is currently the only supported unit for odometerReading"
              }
            },
            "title": "Odometer"
          },
          "EngineHours": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "engineHours"
                ],
                "description": "Name identifying which measurement this value corresponds to. engineHours only possible value for providing engineHours.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "hours"
                ],
                "description": "The unit of measure we should interpret the value as. hours is currently the only supported unit for engineHours"
              }
            },
            "title": "EngineHours"
          },
          "EngineSpeed": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "engineSpeed"
                ],
                "description": "Name identifying which measurement this value corresponds to. engineSpeed only possible value for providing engineSpeed.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "RPM"
                ],
                "description": "The unit of measure we should interpret the value as. RPM is the only supported unit for engineSpeed"
              }
            }
          },
          "PTOStatus": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "enum": [
                  "On",
                  "Off",
                  "Fault",
                  "Unavailable"
                ],
                "description": "Status of PTO (Power Take-Off). ptoStatus possible values are: On, Off, Fault, or Unavailable.",
                "example": "On",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "ptoStatus"
                ],
                "description": "Name identifying which measurement this value corresponds to. ptoStatus only possible value for providing ptoStatus.",
                "required": true
              }
            }
          }
        }
      },
      "EquipmentMeasurements": {
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp that the provided set of measurements were recorded. This will be valuable in determining the correct order of measurements in case they are provided out of order."
          },
          "measurements": {
            "type": "array",
            "format": "date-time",
            "items": {
              "title": "Measurement",
              "type": "object",
              "properties": {
                "Speed": {
                  "type": "string",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "vehicleSpeed"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. vehicleSpeed only possible value for providing speed.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "kph"
                      ],
                      "description": "The unit of measure we should interpret the value as. kph is currently the only supported unit for speed."
                    }
                  }
                },
                "Heading": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "heading"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. heading only possible value for providing heading.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "degrees"
                      ],
                      "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for heading."
                    }
                  }
                },
                "FuelLevel": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "fuelLevelPercentage"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. fuelLevelPercentage only possible value for providing fuel.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "percent"
                      ],
                      "description": "The unit of measure we should interpret the value as. percent is currently the only supported unit for fuel level."
                    }
                  }
                },
                "Latitude": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "latitude"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. latitude only possible value for providing latitude.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "degrees"
                      ],
                      "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for latitude"
                    }
                  },
                  "title": "Latitude"
                },
                "Longitude": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "longitude"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. longitude only possible value for providing longitude.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "degrees"
                      ],
                      "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for longitude"
                    }
                  },
                  "title": "Longitude"
                },
                "EngineState": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "enum": [
                        "On",
                        "Off"
                      ],
                      "description": "State of the engine. engineState only possible values are: On or Off.",
                      "example": "On",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "engineState"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. engineState only possible value for providing engineState.",
                      "required": true
                    }
                  },
                  "title": "EngineState"
                },
                "Odometer": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "odometer"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. odometer only possible value for providing odometerReading.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "km"
                      ],
                      "description": "The unit of measure we should interpret the value as. km is currently the only supported unit for odometerReading"
                    }
                  },
                  "title": "Odometer"
                },
                "EngineHours": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "engineHours"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. engineHours only possible value for providing engineHours.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "hours"
                      ],
                      "description": "The unit of measure we should interpret the value as. hours is currently the only supported unit for engineHours"
                    }
                  },
                  "title": "EngineHours"
                }
              },
              "$$ref": "http://localhost:8081/dev-docs/equipment-measurement#/components/schemas/Measurement"
            }
          }
        }
      },
      "EquipmentMeasurementsNew": {
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp that the provided set of measurements were recorded. This will be valuable in determining the correct order of measurements in case they are provided out of order."
          },
          "measurements": {
            "type": "array",
            "format": "date-time",
            "items": {
              "title": "Measurement",
              "type": "object",
              "properties": {
                "Speed": {
                  "type": "string",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "vehicleSpeed"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. vehicleSpeed only possible value for providing speed.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "kph"
                      ],
                      "description": "The unit of measure we should interpret the value as. kph is currently the only supported unit for speed."
                    }
                  }
                },
                "Heading": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "heading"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. heading only possible value for providing heading.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "degrees"
                      ],
                      "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for heading."
                    }
                  }
                },
                "FuelLevel": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "fuelLevelPercentage"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. fuelLevelPercentage only possible value for providing fuel.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "percent"
                      ],
                      "description": "The unit of measure we should interpret the value as. percent is currently the only supported unit for fuel level."
                    }
                  }
                },
                "Latitude": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "latitude"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. latitude only possible value for providing latitude.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "degrees"
                      ],
                      "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for latitude"
                    }
                  },
                  "title": "Latitude"
                },
                "Longitude": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "longitude"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. longitude only possible value for providing longitude.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "degrees"
                      ],
                      "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for longitude"
                    }
                  },
                  "title": "Longitude"
                },
                "EngineState": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "enum": [
                        "On",
                        "Off"
                      ],
                      "description": "State of the engine. engineState only possible values are: On or Off.",
                      "example": "On",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "engineState"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. engineState only possible value for providing engineState.",
                      "required": true
                    }
                  },
                  "title": "EngineState"
                },
                "Odometer": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "odometer"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. odometer only possible value for providing odometerReading.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "km"
                      ],
                      "description": "The unit of measure we should interpret the value as. km is currently the only supported unit for odometerReading"
                    }
                  },
                  "title": "Odometer"
                },
                "EngineHours": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "engineHours"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. engineHours only possible value for providing engineHours.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "hours"
                      ],
                      "description": "The unit of measure we should interpret the value as. hours is currently the only supported unit for engineHours"
                    }
                  },
                  "title": "EngineHours"
                },
                "EngineSpeed": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "format": "double",
                      "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                      "example": "19.5",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "engineSpeed"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. engineSpeed only possible value for providing engineSpeed.",
                      "required": true
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "RPM"
                      ],
                      "description": "The unit of measure we should interpret the value as. RPM is the only supported unit for engineSpeed"
                    }
                  }
                },
                "PTOStatus": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "enum": [
                        "On",
                        "Off",
                        "Fault",
                        "Unavailable"
                      ],
                      "description": "Status of PTO (Power Take-Off). ptoStatus possible values are: On, Off, Fault, or Unavailable.",
                      "example": "On",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "enum": [
                        "ptoStatus"
                      ],
                      "description": "Name identifying which measurement this value corresponds to. ptoStatus only possible value for providing ptoStatus.",
                      "required": true
                    }
                  }
                }
              },
              "$$ref": "http://localhost:8081/dev-docs/equipment-measurement#/components/schemas/MeasurementNew"
            }
          }
        }
      },
      "ContentType": {
        "properties": {
          "Content-Type": "application/json"
        }
      },
      "Accept": {
        "properties": {
          "Accept": "application/json"
        }
      },
      "Equipment": {
        "title": "Equipment",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Equipment Id of a configured equipment",
            "example": 7269,
            "format": "int64"
          },
          "make": {
            "type": "string",
            "description": "Make of a configured equipment, maxLength = 20",
            "example": "JOHN DEERE"
          },
          "name": {
            "type": "string",
            "description": "Name of a configured equipment (sometimes called model). maxLength",
            "example": 6120
          }
        }
      },
      "Measurement": {
        "title": "Measurement",
        "type": "object",
        "properties": {
          "Speed": {
            "type": "string",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "vehicleSpeed"
                ],
                "description": "Name identifying which measurement this value corresponds to. vehicleSpeed only possible value for providing speed.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "kph"
                ],
                "description": "The unit of measure we should interpret the value as. kph is currently the only supported unit for speed."
              }
            }
          },
          "Heading": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "heading"
                ],
                "description": "Name identifying which measurement this value corresponds to. heading only possible value for providing heading.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "degrees"
                ],
                "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for heading."
              }
            }
          },
          "FuelLevel": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "fuelLevelPercentage"
                ],
                "description": "Name identifying which measurement this value corresponds to. fuelLevelPercentage only possible value for providing fuel.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "percent"
                ],
                "description": "The unit of measure we should interpret the value as. percent is currently the only supported unit for fuel level."
              }
            }
          },
          "Latitude": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "latitude"
                ],
                "description": "Name identifying which measurement this value corresponds to. latitude only possible value for providing latitude.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "degrees"
                ],
                "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for latitude"
              }
            },
            "title": "Latitude"
          },
          "Longitude": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "longitude"
                ],
                "description": "Name identifying which measurement this value corresponds to. longitude only possible value for providing longitude.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "degrees"
                ],
                "description": "The unit of measure we should interpret the value as. degrees is currently the only supported unit for longitude"
              }
            },
            "title": "Longitude"
          },
          "EngineState": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string",
                "enum": [
                  "On",
                  "Off"
                ],
                "description": "State of the engine. engineState only possible values are: On or Off.",
                "example": "On",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "engineState"
                ],
                "description": "Name identifying which measurement this value corresponds to. engineState only possible value for providing engineState.",
                "required": true
              }
            },
            "title": "EngineState"
          },
          "Odometer": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "odometer"
                ],
                "description": "Name identifying which measurement this value corresponds to. odometer only possible value for providing odometerReading.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "km"
                ],
                "description": "The unit of measure we should interpret the value as. km is currently the only supported unit for odometerReading"
              }
            },
            "title": "Odometer"
          },
          "EngineHours": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
                "example": "19.5",
                "required": true
              },
              "name": {
                "type": "string",
                "enum": [
                  "engineHours"
                ],
                "description": "Name identifying which measurement this value corresponds to. engineHours only possible value for providing engineHours.",
                "required": true
              },
              "unit": {
                "type": "string",
                "enum": [
                  "hours"
                ],
                "description": "The unit of measure we should interpret the value as. hours is currently the only supported unit for engineHours"
              }
            },
            "title": "EngineHours"
          }
        }
      },
      "MeasurementValue": {
        "type": "string",
        "properties": {
          "value": {
            "type": "number",
            "format": "double",
            "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
            "example": "19.5",
            "required": true
          }
        }
      },
      "MeasurementValueNew": {
        "type": "string",
        "properties": {
          "value": {
            "type": "number",
            "format": "double",
            "description": "Value of the actual measurement. The value will be used as is so it must be converted to the correct units.",
            "example": "19.5",
            "required": true
          }
        }
      },
      "EngineStateValue": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "enum": [
              "On",
              "Off"
            ],
            "description": "State of the engine. engineState only possible values are: On or Off.",
            "example": "On",
            "required": true
          }
        }
      }
    },
    "Response": {
      "CreateEquip": {
        "description": "No Content",
        "content": {
          "application/json": {
            "schema": {
              "type": "object"
            },
            "examples": {
              "Headers": {
                "description": "204 No Content"
              }
            }
          }
        }
      }
    }
  }
}