{
  "openapi": "3.0.3",
  "info": {
    "title": "PostNord API",
    "description": "Provides information about parcels in transport for Sweden and Denmark. The PostNord API enables tracking of shipments, finding service points, and looking up postal codes and addresses.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developer.postnord.com/api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api2.postnord.com",
      "description": "PostNord API server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Tracking",
      "description": "Shipment tracking operations"
    },
    {
      "name": "Service Points",
      "description": "Service point lookup"
    },
    {
      "name": "Address",
      "description": "Address and postal code lookup"
    },
    {
      "name": "Shipments",
      "description": "Shipment information"
    }
  ],
  "paths": {
    "/rest/shipment/v5/trackandtrace/findByIdentifier.json": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "summary": "Track a shipment by identifier",
        "operationId": "trackByIdentifier",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Shipment identifier (tracking number, item ID, or reference)"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "sv",
                "da",
                "no",
                "fi"
              ],
              "default": "en"
            },
            "description": "Response language locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Track a shipment by identifier"
      }
    },
    "/rest/shipment/v5/trackandtrace/findByReference.json": {
      "get": {
        "tags": [
          "Tracking"
        ],
        "summary": "Track a shipment by customer reference",
        "operationId": "trackByReference",
        "parameters": [
          {
            "name": "reference",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Customer reference number"
          },
          {
            "name": "customerNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "PostNord customer number"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Response language locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Track a shipment by customer reference"
      }
    },
    "/rest/businesslocation/v5/servicepoint/findNearestByAddress.json": {
      "get": {
        "tags": [
          "Service Points"
        ],
        "summary": "Find nearest service points by address",
        "operationId": "findServicePointsByAddress",
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SE",
                "DK",
                "NO",
                "FI"
              ]
            },
            "description": "Country code (ISO 3166-1 alpha-2)"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "City name"
          },
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Postal code"
          },
          {
            "name": "streetName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Street name"
          },
          {
            "name": "streetNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Street number"
          },
          {
            "name": "numberOfServicePoints",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5,
              "maximum": 20
            },
            "description": "Number of service points to return"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Response language locale"
          }
        ],
        "responses": {
          "200": {
            "description": "List of nearest service points",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Find nearest service points by address"
      }
    },
    "/rest/businesslocation/v5/servicepoint/findNearestByCoordinates.json": {
      "get": {
        "tags": [
          "Service Points"
        ],
        "summary": "Find nearest service points by coordinates",
        "operationId": "findServicePointsByCoordinates",
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SE",
                "DK",
                "NO",
                "FI"
              ]
            },
            "description": "Country code"
          },
          {
            "name": "northing",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Latitude (WGS84)"
          },
          {
            "name": "easting",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Longitude (WGS84)"
          },
          {
            "name": "numberOfServicePoints",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 5,
              "maximum": 20
            },
            "description": "Number of service points to return"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Response language locale"
          }
        ],
        "responses": {
          "200": {
            "description": "List of nearest service points",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Find nearest service points by coordinates"
      }
    },
    "/rest/businesslocation/v5/servicepoint/getByServicePointId.json": {
      "get": {
        "tags": [
          "Service Points"
        ],
        "summary": "Get service point by ID",
        "operationId": "getServicePointById",
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SE",
                "DK",
                "NO",
                "FI"
              ]
            },
            "description": "Country code"
          },
          {
            "name": "servicePointId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Service point identifier"
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Response language locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Service point details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePointResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get service point by ID"
      }
    },
    "/rest/transport/v1/transittime/getTransitTimeInformation.json": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get transit time information",
        "operationId": "getTransitTime",
        "parameters": [
          {
            "name": "serviceCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "PostNord service code"
          },
          {
            "name": "fromPostalCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Origin postal code"
          },
          {
            "name": "fromCountry",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SE",
                "DK",
                "NO",
                "FI"
              ]
            },
            "description": "Origin country code"
          },
          {
            "name": "toPostalCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Destination postal code"
          },
          {
            "name": "toCountry",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "SE",
                "DK",
                "NO",
                "FI"
              ]
            },
            "description": "Destination country code"
          }
        ],
        "responses": {
          "200": {
            "description": "Transit time information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransitTimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get transit time information"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "PostNord developer API key"
      }
    },
    "schemas": {
      "TrackingResponse": {
        "type": "object",
        "properties": {
          "TrackingInformationResponse": {
            "type": "object",
            "properties": {
              "shipments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          }
        }
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "shipmentId": {
            "type": "string",
            "description": "Shipment identifier"
          },
          "uri": {
            "type": "string",
            "description": "Tracking URI"
          },
          "assessedNumberOfItems": {
            "type": "integer",
            "description": "Number of items in shipment"
          },
          "deliveryDate": {
            "type": "string",
            "format": "date-time",
            "description": "Expected or actual delivery date"
          },
          "estimatedTimeOfArrival": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated time of arrival"
          },
          "service": {
            "$ref": "#/components/schemas/Service"
          },
          "consignor": {
            "$ref": "#/components/schemas/Party"
          },
          "consignee": {
            "$ref": "#/components/schemas/Party"
          },
          "statusText": {
            "$ref": "#/components/schemas/StatusText"
          },
          "status": {
            "type": "string",
            "description": "Current shipment status"
          },
          "totalWeight": {
            "$ref": "#/components/schemas/Weight"
          },
          "totalVolume": {
            "$ref": "#/components/schemas/Volume"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShipmentItem"
            }
          }
        }
      },
      "ShipmentItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Item identifier"
          },
          "status": {
            "type": "string",
            "description": "Item status"
          },
          "statusText": {
            "$ref": "#/components/schemas/StatusText"
          },
          "statedMeasurement": {
            "$ref": "#/components/schemas/Measurement"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrackingEvent"
            }
          }
        }
      },
      "TrackingEvent": {
        "type": "object",
        "properties": {
          "eventTime": {
            "type": "string",
            "format": "date-time",
            "description": "Time of the event"
          },
          "eventCode": {
            "type": "string",
            "description": "Event code"
          },
          "status": {
            "type": "string",
            "description": "Event status"
          },
          "eventDescription": {
            "type": "string",
            "description": "Human-readable event description"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Service code"
          },
          "name": {
            "type": "string",
            "description": "Service name"
          }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "street1": {
            "type": "string"
          },
          "street2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          }
        }
      },
      "StatusText": {
        "type": "object",
        "properties": {
          "header": {
            "type": "string"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "Weight": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          }
        }
      },
      "Volume": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          }
        }
      },
      "Measurement": {
        "type": "object",
        "properties": {
          "weight": {
            "$ref": "#/components/schemas/Weight"
          },
          "length": {
            "type": "string"
          },
          "width": {
            "type": "string"
          },
          "height": {
            "type": "string"
          }
        }
      },
      "ServicePointResponse": {
        "type": "object",
        "properties": {
          "servicePointInformationResponse": {
            "type": "object",
            "properties": {
              "servicePoints": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ServicePoint"
                }
              }
            }
          }
        }
      },
      "ServicePoint": {
        "type": "object",
        "properties": {
          "servicePointId": {
            "type": "string",
            "description": "Unique service point identifier"
          },
          "name": {
            "type": "string",
            "description": "Service point name"
          },
          "deliveryAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "visitingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "coordinate": {
            "$ref": "#/components/schemas/Coordinate"
          },
          "openingHours": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpeningHour"
            }
          },
          "routeDistance": {
            "type": "integer",
            "description": "Route distance in meters"
          },
          "eligibleParcelOutlet": {
            "type": "boolean"
          }
        }
      },
      "Coordinate": {
        "type": "object",
        "properties": {
          "northing": {
            "type": "number",
            "format": "double",
            "description": "Latitude"
          },
          "easting": {
            "type": "number",
            "format": "double",
            "description": "Longitude"
          },
          "srId": {
            "type": "string",
            "description": "Spatial reference ID"
          }
        }
      },
      "OpeningHour": {
        "type": "object",
        "properties": {
          "day": {
            "type": "string",
            "description": "Day of the week"
          },
          "from1": {
            "type": "string",
            "description": "Opening time"
          },
          "to1": {
            "type": "string",
            "description": "Closing time"
          }
        }
      },
      "TransitTimeResponse": {
        "type": "object",
        "properties": {
          "transitTimeResponse": {
            "type": "object",
            "properties": {
              "transitTimes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransitTime"
                }
              }
            }
          }
        }
      },
      "TransitTime": {
        "type": "object",
        "properties": {
          "deliveryDate": {
            "type": "string",
            "format": "date",
            "description": "Expected delivery date"
          },
          "postalCodeDelivery": {
            "type": "boolean"
          },
          "numberOfDays": {
            "type": "integer",
            "description": "Number of transit days"
          },
          "serviceCode": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message"
          }
        }
      }
    }
  }
}
