{
  "openapi": "3.0.3",
  "info": {
    "title": "CloudAMQP Instance API",
    "version": "1.0.0",
    "description": "This API allows you to manage alarms, integrations, RabbitMQ and LavinMQ, the firewall, VPC peering etc.\n\n[← Back to the CloudAMQP Customer API docs](index.html)\n\n## Authentication\n\nEnter your Instance API key as password. Leave username empty.\n\n**Example using curl:**\n```bash\ncurl -u :xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx \\\n  https://api.cloudamqp.com/api/nodes\n```\n\n**Getting your Instance API key:**\n\nYou can get the Instance API key from the [get instance info endpoint](https://docs.cloudamqp.com/#tag/instances/get/instances/{id}) in the Customer CloudAMQP API. The API key is returned in the `apikey` field.\nOr you can find it in the CloudAMQP Console on the Instance details page.\n\n## Terraform Provider\n\nDocumentation for CloudAMQP Terraform provider can be found at the [Terraform Registry](https://registry.terraform.io/providers/cloudamqp/cloudamqp/latest/docs).\n\n- GitHub Repository: [cloudamqp/terraform-provider-cloudamqp](https://github.com/cloudamqp/terraform-provider-cloudamqp)\n- Quick Links\n  - [Provider Documentation](https://registry.terraform.io/providers/cloudamqp/cloudamqp/latest/docs)\n  - [Instance Resource](https://registry.terraform.io/providers/cloudamqp/cloudamqp/latest/docs/resources/instance)\n  - [Alarm Resource](https://registry.terraform.io/providers/cloudamqp/cloudamqp/latest/docs/resources/alarm)\n\n## Additional Resources\n\n- [CloudAMQP Console](https://customer.cloudamqp.com/)\n- [CloudAMQP Technical Changelog](changelog.html)\n",
    "contact": {
      "name": "CloudAMQP",
      "url": "https://www.cloudamqp.com"
    },
    "x-jentic-source-url": "https://docs.cloudamqp.com/openapi-instance.yaml"
  },
  "servers": [
    {
      "url": "https://api.cloudamqp.com/api",
      "description": "CloudAMQP Instance API Server (use instance-specific API key)"
    }
  ],
  "paths": {
    "/account/rotate-password": {
      "post": {
        "summary": "Rotate password",
        "description": "Initiate rotation of the user password on your instance",
        "operationId": "rotatePassword",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Password rotation initiated"
          }
        }
      }
    },
    "/account/rotate-apikey": {
      "post": {
        "summary": "Rotate API key",
        "description": "Rotate the Instance API key",
        "operationId": "rotateApiKey",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "API key rotation initiated"
          }
        }
      }
    },
    "/nodes": {
      "get": {
        "summary": "List nodes",
        "description": "Retrieves all nodes in the instance",
        "operationId": "listNodes",
        "tags": [
          "Nodes"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Node"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nodes/available-versions": {
      "get": {
        "summary": "Get available versions",
        "description": "Lists RabbitMQ and Erlang versions to which the instance can be upgraded",
        "operationId": "getAvailableVersions",
        "tags": [
          "Nodes"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rabbitmq_versions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "3.9.11",
                        "3.9.9",
                        "3.9.7"
                      ]
                    },
                    "erlang_versions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "24.0.4"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plugins": {
      "get": {
        "summary": "List plugins",
        "description": "Retrieves all available RabbitMQ plugins",
        "operationId": "listPlugins",
        "tags": [
          "Plugins"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plugin"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Enable plugin",
        "description": "Enables a RabbitMQ plugin",
        "operationId": "enablePlugin",
        "tags": [
          "Plugins"
        ],
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "description": "Asynchronous API mode - request returns immediately and plugin is enabled in background",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "plugin_name"
                ],
                "properties": {
                  "plugin_name": {
                    "type": "string",
                    "description": "The name of the plugin to enable",
                    "example": "rabbitmq_top"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plugin enabled successfully"
          }
        }
      }
    },
    "/plugins/{plugin_name}": {
      "parameters": [
        {
          "name": "plugin_name",
          "in": "path",
          "required": true,
          "description": "The name of the plugin",
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "summary": "Disable plugin",
        "description": "Disables a RabbitMQ plugin",
        "operationId": "disablePlugin",
        "tags": [
          "Plugins"
        ],
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "description": "Asynchronous API mode - request returns immediately and plugin is disabled in background",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plugin disabled successfully"
          }
        }
      }
    },
    "/plugins/community": {
      "get": {
        "summary": "List community plugins",
        "description": "Retrieves all available RabbitMQ community plugins",
        "operationId": "listCommunityPlugins",
        "tags": [
          "Plugins"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "rabbitmq_management_themes"
                      },
                      "description": {
                        "type": "string",
                        "example": "Adds the possibility to customize the management web UI look."
                      },
                      "require": {
                        "type": "string",
                        "description": "Minimum RabbitMQ version required",
                        "example": "3.5.0"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Enable community plugin",
        "description": "Enables a RabbitMQ community plugin",
        "operationId": "enableCommunityPlugin",
        "tags": [
          "Plugins"
        ],
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "description": "Asynchronous API mode - request returns immediately and plugin is enabled in background",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "plugin_name"
                ],
                "properties": {
                  "plugin_name": {
                    "type": "string",
                    "description": "The name of the community plugin to enable",
                    "example": "rabbitmq_management_themes"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Community plugin enabled successfully"
          }
        }
      }
    },
    "/plugins/community/{plugin_name}": {
      "parameters": [
        {
          "name": "plugin_name",
          "in": "path",
          "required": true,
          "description": "The name of the community plugin",
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "summary": "Disable community plugin",
        "description": "Disables a RabbitMQ community plugin",
        "operationId": "disableCommunityPlugin",
        "tags": [
          "Plugins"
        ],
        "parameters": [
          {
            "name": "async",
            "in": "query",
            "description": "Asynchronous API mode - request returns immediately and plugin is disabled in background",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Community plugin disabled successfully"
          }
        }
      }
    },
    "/custom-domain": {
      "get": {
        "summary": "Get configured custom domain",
        "description": "Shows the current custom domain the cluster is configured for, if any",
        "operationId": "getCustomDomain",
        "tags": [
          "Custom Domain"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDomain"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Generate Let's Encrypt certificates",
        "description": "Generates and installs a Let's Encrypt certificate on the cluster as SNI with your custom domain.\nThis requires that your provided SNI host point towards the RabbitMQ cluster. Otherwise the generation and renewal of the certificate will fail.\n\n**Note:** When creating a custom domain, the listeners on your servers will be restarted in order to apply the changes. This will close your current connections.\n",
        "operationId": "createCustomDomain",
        "tags": [
          "Custom Domain"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname"
                ],
                "properties": {
                  "hostname": {
                    "type": "string",
                    "description": "The custom hostname. This DNS record must point towards the Rabbit cluster",
                    "example": "myname.mydomain"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Custom domain configured successfully"
          }
        }
      },
      "delete": {
        "summary": "Restore default domain",
        "description": "Restores current custom domain configuration. Also stops future renewal process of the certificate.",
        "operationId": "deleteCustomDomain",
        "tags": [
          "Custom Domain"
        ],
        "responses": {
          "200": {
            "description": "Custom domain removed successfully"
          }
        }
      }
    },
    "/custom-cert": {
      "post": {
        "summary": "Upload your own certificate to the server.",
        "description": "Uploads the certificate to the servers in your cluster.\n\n**Note:** The listeners on your servers will be restarted in order to apply the changes. This will close your current connections.\n",
        "operationId": "createCustomCertificate",
        "tags": [
          "Custom Certificate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCert"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Certificate upload started.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Job ID to track the certificate upload."
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message if any"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Restore to default certificate",
        "description": "Removes the custom certificate from the server and generates a new Let's encrypt cert.",
        "operationId": "deleteCustomCertificate",
        "tags": [
          "Custom Certificate"
        ],
        "responses": {
          "202": {
            "description": "Started restoring to default certificate.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Job ID to track the certificate restore."
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message if any"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/security/firewall": {
      "get": {
        "summary": "Get firewall settings",
        "description": "Retrieves current firewall rules",
        "operationId": "getFirewallSettings",
        "tags": [
          "Firewall"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FirewallRule"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Configure firewall",
        "description": "Configures the firewall rules. This will reconfigure the firewall - make sure to include all rules in the body, not only the rules you want to add.\n\nAvailable services: AMQP (5672), AMQPS (5671), HTTPS (443), MQTT (8883), MQTTS (1883), STOMP (61614), STOMPS (61613), STREAM (5552), STREAM_SSL (5551)\n\n**Note:** This action is asynchronous. The request will return immediately, the process to configure the firewall runs in the background. Until completed, consequent requests will return 400 Bad Request.\n",
        "operationId": "configureFirewall",
        "tags": [
          "Firewall"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "ip"
                  ],
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "A CIDR for which to open the ports for",
                      "example": "0.0.0.0/0"
                    },
                    "services": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "AMQP",
                          "AMQPS",
                          "HTTPS",
                          "MQTT",
                          "MQTTS",
                          "STOMP",
                          "STOMPS",
                          "STREAM",
                          "STREAM_SSL"
                        ]
                      },
                      "description": "Which services to open up for in the firewall"
                    },
                    "ports": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "description": "Which ports to open in the firewall"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Firewall configuration initiated"
          },
          "400": {
            "description": "Request already in progress"
          }
        }
      },
      "patch": {
        "summary": "Update firewall rules",
        "description": "Updates firewall rules. Providing an already existing CIDR will overwrite the current rule. If provided CIDR does not yet exist, it is added upon the other rules. To delete a specific rule, provide the CIDR with empty services and ports.\n\n**Note:** This action is asynchronous. The request will return immediately, the process to configure the firewall runs in the background.\n",
        "operationId": "updateFirewallRules",
        "tags": [
          "Firewall"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "ip"
                  ],
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "A CIDR for which to open the ports for"
                    },
                    "services": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "AMQP",
                          "AMQPS",
                          "HTTPS",
                          "MQTT",
                          "MQTTS",
                          "STOMP",
                          "STOMPS",
                          "STREAM",
                          "STREAM_SSL"
                        ]
                      },
                      "description": "Which services to open up for in the firewall"
                    },
                    "ports": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "description": "Which ports to open in the firewall"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Firewall rules update initiated"
          },
          "400": {
            "description": "Request already in progress"
          }
        }
      }
    },
    "/actions/firehose": {
      "put": {
        "summary": "Enable/disable Firehose",
        "description": "Enable or disable RabbitMQ Firehose tracing (not recommended in production)",
        "operationId": "toggleFirehose",
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "enable",
                  "vhost"
                ],
                "properties": {
                  "enable": {
                    "type": "boolean",
                    "description": "Whether to enable or disable Firehose"
                  },
                  "vhost": {
                    "type": "string",
                    "description": "Virtual host to enable tracing on"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Firehose setting updated"
          }
        }
      }
    },
    "/actions/restart": {
      "post": {
        "summary": "Restart",
        "description": "Restart the broker on specified nodes or all nodes",
        "operationId": "restartRabbitMQ",
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 1,
                    "description": "Optional list containing a single node name. In a multi-node cluster, only one node can be restarted at a time and all other nodes must be running."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Restart initiated"
          }
        }
      }
    },
    "/actions/cluster-restart": {
      "post": {
        "summary": "Restart cluster",
        "description": "Restart the entire cluster",
        "operationId": "restartCluster",
        "tags": [
          "Actions"
        ],
        "responses": {
          "200": {
            "description": "Cluster restart initiated"
          }
        }
      }
    },
    "/actions/cluster-stop": {
      "post": {
        "summary": "Stop cluster",
        "description": "Stop the entire cluster",
        "operationId": "stopCluster",
        "tags": [
          "Actions"
        ],
        "responses": {
          "200": {
            "description": "Cluster stop initiated"
          }
        }
      }
    },
    "/actions/cluster-start": {
      "post": {
        "summary": "Start cluster",
        "description": "Start the entire cluster",
        "operationId": "startCluster",
        "tags": [
          "Actions"
        ],
        "responses": {
          "200": {
            "description": "Cluster start initiated"
          }
        }
      }
    },
    "/actions/mgmt-restart": {
      "post": {
        "summary": "Restart management interface",
        "description": "Restart the RabbitMQ management interface",
        "operationId": "restartManagement",
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional list of node names"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Management restart initiated"
          }
        }
      }
    },
    "/actions/stop": {
      "post": {
        "summary": "Stop instance",
        "description": "Stop specified nodes or all nodes",
        "operationId": "stopInstance",
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 1,
                    "description": "Optional list containing a single node name. In a multi-node cluster, only one node can be stopped at a time and all other nodes must be running."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stop initiated"
          }
        }
      }
    },
    "/actions/start": {
      "post": {
        "summary": "Start instance",
        "description": "Start specified nodes or all nodes",
        "operationId": "startInstance",
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional list of node names"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Start initiated"
          }
        }
      }
    },
    "/actions/reboot": {
      "post": {
        "summary": "Reboot instance",
        "description": "Reboot specified nodes or all nodes",
        "operationId": "rebootInstance",
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nodes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional list of node names"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reboot initiated"
          }
        }
      }
    },
    "/actions/upgrade-erlang": {
      "post": {
        "summary": "Upgrade Erlang",
        "description": "Always updates to latest compatible version.\n\n**Note:** This action is asynchronous. The request will return immediately, the process runs in the background.\n",
        "operationId": "upgradeErlang",
        "tags": [
          "Actions"
        ],
        "responses": {
          "200": {
            "description": "Erlang upgrade initiated"
          },
          "400": {
            "description": "Upgrade already in progress"
          }
        }
      }
    },
    "/actions/upgrade-rabbitmq": {
      "post": {
        "summary": "Upgrade RabbitMQ",
        "description": "Upgrade RabbitMQ to specified version.\n\n**Note:** This action is asynchronous. The request will return immediately, the process runs in the background.\n",
        "operationId": "upgradeRabbitMQ",
        "tags": [
          "Actions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "version"
                ],
                "properties": {
                  "version": {
                    "type": "string",
                    "description": "RabbitMQ version",
                    "example": "3.10.7"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "RabbitMQ upgrade initiated"
          },
          "400": {
            "description": "Upgrade already in progress"
          }
        }
      }
    },
    "/actions/upgrade-rabbitmq-erlang": {
      "post": {
        "summary": "Upgrade RabbitMQ and Erlang",
        "description": "Always updates to latest possible version of both RabbitMQ and Erlang.\n\n**Note:** This action is asynchronous. The request will return immediately, the process runs in the background.\n",
        "operationId": "upgradeRabbitMQErlang",
        "tags": [
          "Actions"
        ],
        "responses": {
          "200": {
            "description": "Upgrade initiated"
          },
          "400": {
            "description": "Upgrade already in progress"
          }
        }
      }
    },
    "/actions/new-rabbitmq-erlang-versions": {
      "get": {
        "summary": "Fetch upgrade versions",
        "description": "Returns what version of Erlang and RabbitMQ the cluster will update to",
        "operationId": "getUpgradeVersions",
        "tags": [
          "Actions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rabbitmq_version": {
                      "type": "string"
                    },
                    "erlang_version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/alarms/recipients": {
      "get": {
        "summary": "List recipients",
        "description": "Retrieve all recipients for an instance that can receive notifications",
        "operationId": "listRecipients",
        "tags": [
          "Alarms"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recipient"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create recipient",
        "description": "Create a new notification recipient",
        "operationId": "createRecipient",
        "tags": [
          "Alarms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RecipientCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          }
        }
      }
    },
    "/alarms/recipients/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The recipient ID",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "summary": "Retrieve specific recipient",
        "description": "Get a specific recipient by ID",
        "operationId": "getRecipient",
        "tags": [
          "Alarms"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "404": {
            "description": "Recipient not found"
          }
        }
      },
      "put": {
        "summary": "Update recipient",
        "description": "Update a specific recipient with new information",
        "operationId": "updateRecipient",
        "tags": [
          "Alarms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RecipientCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipient"
                }
              }
            }
          },
          "404": {
            "description": "Recipient not found"
          }
        }
      },
      "delete": {
        "summary": "Delete recipient",
        "description": "Remove a recipient. This action will remove the recipient from associated alarms.\nAny alarms where this recipient was the sole recipient will be disabled.\n",
        "operationId": "deleteRecipient",
        "tags": [
          "Alarms"
        ],
        "responses": {
          "200": {
            "description": "Recipient deleted successfully"
          },
          "404": {
            "description": "Recipient not found"
          }
        }
      }
    },
    "/alarms": {
      "get": {
        "summary": "List alarms",
        "description": "Retrieve all alarms used for the instance",
        "operationId": "listAlarms",
        "tags": [
          "Alarms"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alarm"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create alarm",
        "description": "Create a new alarm",
        "operationId": "createAlarm",
        "tags": [
          "Alarms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AlarmCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alarm created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alarm"
                }
              }
            }
          }
        }
      }
    },
    "/alarms/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The alarm ID",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "summary": "Retrieve specific alarm",
        "description": "Get a specific alarm by ID",
        "operationId": "getAlarm",
        "tags": [
          "Alarms"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alarm"
                }
              }
            }
          },
          "404": {
            "description": "Alarm not found"
          }
        }
      },
      "put": {
        "summary": "Update alarm",
        "description": "Update a specific alarm",
        "operationId": "updateAlarm",
        "tags": [
          "Alarms"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AlarmCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Alarm updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alarm"
                }
              }
            }
          },
          "404": {
            "description": "Alarm not found"
          }
        }
      },
      "delete": {
        "summary": "Delete alarm",
        "description": "Remove a specific alarm",
        "operationId": "deleteAlarm",
        "tags": [
          "Alarms"
        ],
        "responses": {
          "200": {
            "description": "Alarm deleted successfully"
          },
          "404": {
            "description": "Alarm not found"
          }
        }
      }
    },
    "/eventbridges": {
      "get": {
        "summary": "List eventbridges",
        "description": "Retrieve all AWS EventBridge integrations.\nStatus field is always null unless there is an error starting the AWS EventBridge.\n",
        "operationId": "listEventBridges",
        "tags": [
          "EventBridge"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventBridge"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add eventbridge",
        "description": "Adds an AWS EventBridge integration and returns its given identifier",
        "operationId": "createEventBridge",
        "tags": [
          "EventBridge"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventBridgeCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "EventBridge created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/eventbridges/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The eventbridge ID",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "summary": "Retrieve specific eventbridge",
        "description": "Get a specific AWS EventBridge integration.\nStatus field is always null unless there is an error starting the AWS EventBridge.\n",
        "operationId": "getEventBridge",
        "tags": [
          "EventBridge"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventBridge"
                }
              }
            }
          },
          "404": {
            "description": "EventBridge not found"
          }
        }
      },
      "delete": {
        "summary": "Delete eventbridge",
        "description": "Removes an AWS EventBridge integration",
        "operationId": "deleteEventBridge",
        "tags": [
          "EventBridge"
        ],
        "responses": {
          "200": {
            "description": "EventBridge deleted successfully"
          },
          "404": {
            "description": "EventBridge not found"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhooks",
        "description": "Retrieve all webhooks",
        "operationId": "listWebhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create webhook",
        "description": "Creates a webhook. A POST request will be made for each message in the queue to this endpoint.\nIf the endpoint returns a HTTP status code in the 200 range the message will be acknowledged and removed from the queue, otherwise retried.\n\n**Signature Verification**: When a `signing_secret` is configured, webhook requests will include headers for signature verification:\n- `webhook-id`: Unique message identifier\n- `webhook-timestamp`: Unix timestamp (seconds)\n- `webhook-signature`: HMAC-SHA256 signature (format: `v1,<base64>`)\n\nThe signature is computed over `{webhook-id}.{webhook-timestamp}.{body}`.\n\n**Key Rotation**: Multiple secrets can be specified (space-separated) for zero-downtime key rotation. When multiple secrets are configured, signatures are generated for all of them, allowing consumers to verify with any key during the transition period.\n",
        "operationId": "createWebhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              },
              "example": {
                "webhook_uri": "https://your-endpoint.com/webhook",
                "queue": "your-queue",
                "vhost": "your-vhost",
                "concurrency": 10,
                "timeout": 30,
                "signing_secret": "my-secret-key-123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                },
                "example": {
                  "id": 1,
                  "webhook_uri": "https://your-endpoint.com/webhook",
                  "queue": "your-queue",
                  "vhost": "your-vhost",
                  "concurrency": 10,
                  "timeout": 30,
                  "signing_secret": "my-secret-key-123",
                  "last_status": null
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The webhook ID",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "summary": "Get specific webhook",
        "description": "Retrieve a specific webhook by ID",
        "operationId": "getWebhook",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      },
      "put": {
        "summary": "Update webhook",
        "description": "Update a specific webhook",
        "operationId": "updateWebhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      },
      "delete": {
        "summary": "Delete webhook",
        "description": "Remove a specific webhook",
        "operationId": "deleteWebhook",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully"
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      }
    },
    "/config": {
      "get": {
        "summary": "List current configuration",
        "description": "Retrieve the current RabbitMQ configuration settings",
        "operationId": "getRabbitMQConfig",
        "tags": [
          "RabbitMQ Config"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RabbitMQConfig"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update settings",
        "description": "Update one or more RabbitMQ configuration settings",
        "operationId": "updateRabbitMQConfig",
        "tags": [
          "RabbitMQ Config"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "example": {
                  "rabbit.vm_memory_high_watermark": 0.5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "string",
                      "example": "RabbitMQ config has been updated"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/config/available_settings": {
      "get": {
        "summary": "List available settings",
        "description": "Retrieve a list of all RabbitMQ settings that are exposed to changes",
        "operationId": "getAvailableSettings",
        "tags": [
          "RabbitMQ Config"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RabbitMQConfigSetting"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/logs": {
      "get": {
        "summary": "List log integrations",
        "description": "Retrieve all log integrations",
        "operationId": "listLogIntegrations",
        "tags": [
          "Logs"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LogIntegration"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/logs/azure_monitor": {
      "post": {
        "summary": "Add Azure Monitor log integration",
        "description": "Add an Azure Monitor log integration.\n\nUse Azure portal to configure external access for Azure Monitor. [Tutorial to find/create all params](https://learn.microsoft.com/en-us/azure/azure-monitor/logs/tutorial-logs-ingestion-portal)\n",
        "operationId": "addLogIntegrationAzureMonitor",
        "tags": [
          "Logs/Azure Monitor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "tenant_id",
                  "application_id",
                  "application_secret",
                  "dce_uri",
                  "table",
                  "dcr_id"
                ],
                "properties": {
                  "tenant_id": {
                    "type": "string",
                    "description": "Directory (tenant) ID"
                  },
                  "application_id": {
                    "type": "string",
                    "description": "Application (client) ID. [How to create](https://learn.microsoft.com/en-us/azure/azure-monitor/logs/tutorial-logs-ingestion-portal#create-azure-ad-application)"
                  },
                  "application_secret": {
                    "type": "string",
                    "description": "Application secret"
                  },
                  "dce_uri": {
                    "type": "string",
                    "description": "Data Collection Endpoint URI. [How to create](https://learn.microsoft.com/en-us/azure/azure-monitor/logs/tutorial-logs-ingestion-portal#create-data-collection-endpoint)"
                  },
                  "table": {
                    "type": "string",
                    "description": "Table name. Must have columns TimeGenerated, Host, Event, Level, Message. [How to create](https://learn.microsoft.com/en-us/azure/azure-monitor/logs/tutorial-logs-ingestion-portal#create-new-table-in-log-analytics-workspace)"
                  },
                  "dcr_id": {
                    "type": "string",
                    "description": "ID of Data Collection Rule. [Find DCR ID](https://learn.microsoft.com/en-us/azure/azure-monitor/logs/tutorial-logs-ingestion-portal#collect-information-from-the-dcr)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogIntegration"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/logs/cloudwatchlog": {
      "post": {
        "summary": "Add CloudWatch Logs integration",
        "description": "Add a CloudWatch Logs integration.\n\nNeed to create an IAM user with programmatic permissions: CreateLogGroup, CreateLogStream, DescribeLogGroups, DescribeLogStreams, PutLogEvents\n\nOptional permissions for retention and tags: PutRetentionPolicy, DeleteRetentionPolicy, TagResource\n",
        "operationId": "addLogIntegrationCloudwatch",
        "tags": [
          "Logs/CloudWatch"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "region",
                  "access_key_id",
                  "secret_access_key"
                ],
                "properties": {
                  "region": {
                    "type": "string",
                    "description": "The AWS region to use",
                    "example": "us-west-1"
                  },
                  "access_key_id": {
                    "type": "string",
                    "description": "The access key id to use"
                  },
                  "secret_access_key": {
                    "type": "string",
                    "description": "The secret that goes with the key id"
                  },
                  "retention": {
                    "type": "integer",
                    "description": "(Optional) Number of days to retain log events. [See AWS docs](https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutRetentionPolicy.html)"
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like Project=A,Environment=Production. [See AWS docs](https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_TagLogGroup.html)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogIntegration"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/logs/coralogix": {
      "post": {
        "summary": "Add Coralogix log integration",
        "description": "Add a Coralogix log integration.\n\nCreate a 'Send-Your-Data' private API key. [Coralogix documentation](https://coralogix.com/docs/send-your-data-api-key/)\n",
        "operationId": "addLogIntegrationCoralogix",
        "tags": [
          "Logs/Coralogix"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "private_key",
                  "endpoint",
                  "application",
                  "subsystem"
                ],
                "properties": {
                  "private_key": {
                    "type": "string",
                    "description": "The API key used for authentication"
                  },
                  "endpoint": {
                    "type": "string",
                    "description": "The [syslog destination](https://coralogix.com/docs/integrations/coralogix-endpoints/) to send logs",
                    "example": "syslog.eu2.coralogix.com:6514"
                  },
                  "application": {
                    "type": "string",
                    "description": "The Application Name. [See docs](https://coralogix.com/docs/application-and-subsystem-names/)"
                  },
                  "subsystem": {
                    "type": "string",
                    "description": "The Subsystem Name. [See docs](https://coralogix.com/docs/application-and-subsystem-names/)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogIntegration"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/logs/datadog": {
      "post": {
        "summary": "Add Datadog log integration",
        "description": "Add a Datadog log integration.\n\nCreate a Datadog API key at [app.datadoghq.com](https://app.datadoghq.com)\n\n**Note:** If tags are used, the value part must start with a letter. [See Datadog tagging docs](https://docs.datadoghq.com/getting_started/tagging/#define-tags)\n",
        "operationId": "addLogIntegrationDatadog",
        "tags": [
          "Logs/Datadog"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "region"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "The API key for authentication"
                  },
                  "region": {
                    "type": "string",
                    "description": "The region to send logs",
                    "enum": [
                      "us1",
                      "us3",
                      "us5",
                      "eu",
                      "ap2"
                    ]
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like env=prod,region=europe"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogIntegration"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/logs/logentries": {
      "post": {
        "summary": "Add Logentries integration",
        "description": "Add a Logentries log integration.\n\nCreate a Logentries token at [logentries add-log](https://logentries.com/app#/add-log/manual)\n",
        "operationId": "addLogIntegrationLogentries",
        "tags": [
          "Logs/Logentries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "A TCP token for authentication"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogIntegration"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/logs/loggly": {
      "post": {
        "summary": "Add Loggly integration",
        "description": "Add a Loggly log integration.\n\nCreate a Loggly token at `https://{your-company}.loggly.com/tokens`\n",
        "operationId": "addLogIntegrationLoggly",
        "tags": [
          "Logs/Loggly"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The token used for authentication"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogIntegration"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/logs/papertrail": {
      "post": {
        "summary": "Add Papertrail integration",
        "description": "Add a Papertrail log integration.\n\nCreate a Papertrail endpoint at [papertrail setup](https://papertrailapp.com/systems/setup)\n",
        "operationId": "addLogIntegrationPapertrail",
        "tags": [
          "Logs/Papertrail"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The URL to push the logs to",
                    "example": "logs.papertrail.com:2123"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogIntegration"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/logs/scalyr": {
      "post": {
        "summary": "Add DataSet (Scalyr) integration",
        "description": "Add a DataSet (Scalyr) log integration.\n\nCreate a Log write token at [DataSet (Scalyr) keys](https://app.scalyr.com/keys)\n",
        "operationId": "addLogIntegrationScalyr",
        "tags": [
          "Logs/Scalyr"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "host"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The token used for authentication"
                  },
                  "host": {
                    "type": "string",
                    "description": "Destination to send logs",
                    "enum": [
                      "app.scalyr.com",
                      "app.eu.scalyr.com"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogIntegration"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/logs/splunk": {
      "post": {
        "summary": "Add Splunk log integration",
        "description": "Add a Splunk log integration.\n\nCreate a HTTP Event Collector token at `https://<your-splunk>.cloud.splunk.com/en-US/manager/search/http-eventcollector`\n",
        "operationId": "addLogIntegrationSplunk",
        "tags": [
          "Logs/Splunk"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "host_port",
                  "sourcetype"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The token used for authentication"
                  },
                  "host_port": {
                    "type": "string",
                    "description": "Destination to send the logs",
                    "example": "input-prd-p-rdq96mdbptj4.cloud.splunk.com:8080"
                  },
                  "sourcetype": {
                    "type": "string",
                    "description": "Assigns source type to the data exported",
                    "example": "generic_single_line"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogIntegration"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/logs/{integration_id}": {
      "parameters": [
        {
          "name": "integration_id",
          "in": "path",
          "required": true,
          "description": "The numeric integration ID",
          "schema": {
            "type": "integer",
            "minimum": 1
          },
          "example": 123
        }
      ],
      "put": {
        "summary": "Update log integration",
        "description": "Update a log integration configuration.",
        "operationId": "updateLogIntegration",
        "tags": [
          "Logs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenant_id": {
                    "type": "string",
                    "description": "(azure_monitor) Directory (tenant) ID"
                  },
                  "application_id": {
                    "type": "string",
                    "description": "(azure_monitor) Application (client) ID"
                  },
                  "application_secret": {
                    "type": "string",
                    "description": "(azure_monitor) Application secret"
                  },
                  "dce_uri": {
                    "type": "string",
                    "description": "(azure_monitor) Data Collection Endpoint URI"
                  },
                  "table": {
                    "type": "string",
                    "description": "(azure_monitor) Table name"
                  },
                  "dcr_id": {
                    "type": "string",
                    "description": "(azure_monitor) Data Collection Rule ID"
                  },
                  "region": {
                    "type": "string",
                    "description": "(cloudwatchlog) AWS region"
                  },
                  "access_key_id": {
                    "type": "string",
                    "description": "(cloudwatchlog) AWS access key id"
                  },
                  "secret_access_key": {
                    "type": "string",
                    "description": "(cloudwatchlog) AWS secret access key"
                  },
                  "retention": {
                    "type": "integer",
                    "description": "(cloudwatchlog) Days to retain log events"
                  },
                  "private_key": {
                    "type": "string",
                    "description": "(coralogix) API key"
                  },
                  "endpoint": {
                    "type": "string",
                    "description": "(coralogix) Syslog destination"
                  },
                  "application": {
                    "type": "string",
                    "description": "(coralogix) Application Name"
                  },
                  "subsystem": {
                    "type": "string",
                    "description": "(coralogix) Subsystem Name"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "(datadog) API key"
                  },
                  "tags": {
                    "type": "string",
                    "description": "(cloudwatchlog, datadog) Optional tags"
                  },
                  "token": {
                    "type": "string",
                    "description": "(logentries, loggly, scalyr, splunk) Authentication token"
                  },
                  "url": {
                    "type": "string",
                    "description": "(papertrail) URL to push logs"
                  },
                  "host": {
                    "type": "string",
                    "description": "(scalyr) Destination host"
                  },
                  "host_port": {
                    "type": "string",
                    "description": "(splunk) Destination"
                  },
                  "sourcetype": {
                    "type": "string",
                    "description": "(splunk) Source type"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Integration updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete log integration",
        "description": "Delete a log integration",
        "operationId": "deleteLogIntegration",
        "tags": [
          "Logs"
        ],
        "responses": {
          "204": {
            "description": "Integration deleted successfully"
          }
        }
      }
    },
    "/integrations/metrics": {
      "get": {
        "summary": "List metrics integrations",
        "description": "Retrieve all metrics integrations",
        "operationId": "listMetricsIntegrations",
        "tags": [
          "Metrics"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "type": {
                        "type": "string"
                      },
                      "config": {
                        "type": "object"
                      },
                      "error": {
                        "type": "string"
                      },
                      "account_id": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/metrics/azure_monitor": {
      "post": {
        "summary": "Add Azure Monitor metrics integration",
        "description": "Add an Azure Monitor metrics integration (Prometheus-based).\n\nAvailable on all LavinMQ clusters and RabbitMQ clusters running version 3.10.0 or later.\n",
        "operationId": "addMetricsIntegrationAzuremonitor",
        "tags": [
          "Metrics/Azure Monitor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "connection_string"
                ],
                "properties": {
                  "connection_string": {
                    "type": "string",
                    "description": "Azure Application Insights Connection String",
                    "example": "InstrumentationKey=00000000-0000-0000-0000-000000000000;IngestionEndpoint=https://ingestion.azuremonitor.com/"
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like env=prod,region=europe"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/metrics/cloudwatch": {
      "post": {
        "summary": "Add CloudWatch metrics integration",
        "description": "Add a CloudWatch metrics integration (legacy).\n\nProvide either access keys OR IAM role parameters, not both.\n",
        "operationId": "addMetricsIntegrationCloudwatch",
        "tags": [
          "Metrics/CloudWatch"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "region": {
                    "type": "string",
                    "description": "AWS region",
                    "example": "us-west-1"
                  },
                  "access_key_id": {
                    "type": "string",
                    "description": "AWS access key ID (needs PutMetricData permission)"
                  },
                  "secret_access_key": {
                    "type": "string",
                    "description": "AWS secret access key"
                  },
                  "iam_role": {
                    "type": "string",
                    "description": "AWS IAM role ARN with PutMetricData permission"
                  },
                  "iam_external_id": {
                    "type": "string",
                    "description": "External identifier for IAM role (e.g., cloudamqp-abc123)"
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like env=prod,region=europe"
                  },
                  "queue_regex": {
                    "type": "string",
                    "description": "(Optional) Allowlist to filter queues using regular expression"
                  },
                  "vhost_regex": {
                    "type": "string",
                    "description": "(Optional) Allowlist to filter vhost using regular expression"
                  },
                  "include_ad_queues": {
                    "type": "boolean",
                    "description": "(Optional) Include auto-delete queues (default false)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/metrics/cloudwatch_v2": {
      "post": {
        "summary": "Add CloudWatch v2 metrics integration",
        "description": "Add a CloudWatch v2 metrics integration (legacy).\n\nProvide either access keys OR IAM role parameters, not both.\n",
        "operationId": "addMetricsIntegrationCloudwatchv2",
        "tags": [
          "Metrics/CloudWatch v2"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "region": {
                    "type": "string",
                    "description": "AWS region",
                    "example": "us-west-1"
                  },
                  "access_key_id": {
                    "type": "string",
                    "description": "AWS access key ID (needs PutMetricData permission)"
                  },
                  "secret_access_key": {
                    "type": "string",
                    "description": "AWS secret access key"
                  },
                  "iam_role": {
                    "type": "string",
                    "description": "AWS IAM role ARN with PutMetricData permission"
                  },
                  "iam_external_id": {
                    "type": "string",
                    "description": "External identifier for IAM role (e.g., cloudamqp-abc123)"
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like env=prod,region=europe"
                  },
                  "queue_regex": {
                    "type": "string",
                    "description": "(Optional) Allowlist to filter queues using regular expression"
                  },
                  "vhost_regex": {
                    "type": "string",
                    "description": "(Optional) Allowlist to filter vhost using regular expression"
                  },
                  "include_ad_queues": {
                    "type": "boolean",
                    "description": "(Optional) Include auto-delete queues (default false)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/metrics/cloudwatch_v3": {
      "post": {
        "summary": "Add CloudWatch v3 metrics integration",
        "description": "Add a CloudWatch v3 metrics integration (Prometheus-based).\n\nAvailable on all LavinMQ clusters and RabbitMQ clusters running version 3.10.0 or later.\n",
        "operationId": "addMetricsIntegrationCloudwatchv3",
        "tags": [
          "Metrics/CloudWatch v3"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "region"
                ],
                "properties": {
                  "region": {
                    "type": "string",
                    "description": "AWS region",
                    "example": "us-west-1"
                  },
                  "iam_role": {
                    "type": "string",
                    "description": "AWS IAM role ARN with PutMetricData permission"
                  },
                  "iam_external_id": {
                    "type": "string",
                    "description": "External identifier for IAM role (e.g., cloudamqp-abc123)"
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like env=prod,region=europe"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/metrics/datadog": {
      "post": {
        "summary": "Add Datadog metrics integration",
        "description": "Add a Datadog metrics integration (legacy).\n\n**Note:** If tags are used, the value part must start with a letter. [See Datadog tagging docs](https://docs.datadoghq.com/getting_started/tagging/#define-tags)\n",
        "operationId": "addMetricsIntegrationDatadog",
        "tags": [
          "Metrics/Datadog"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "region"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Datadog API key"
                  },
                  "region": {
                    "type": "string",
                    "description": "Region to send metrics",
                    "enum": [
                      "us1",
                      "us3",
                      "us5",
                      "eu"
                    ]
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like env=prod,region=europe"
                  },
                  "queue_regex": {
                    "type": "string",
                    "description": "(Optional) Allowlist to filter queues using regular expression"
                  },
                  "vhost_regex": {
                    "type": "string",
                    "description": "(Optional) Allowlist to filter vhost using regular expression"
                  },
                  "include_ad_queues": {
                    "type": "boolean",
                    "description": "(Optional) Include auto-delete queues (default false)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/metrics/datadog_v2": {
      "post": {
        "summary": "Add Datadog v2 metrics integration",
        "description": "Add a Datadog v2 metrics integration (legacy).\n\n**Note:** If tags are used, the value part must start with a letter. [See Datadog tagging docs](https://docs.datadoghq.com/getting_started/tagging/#define-tags)\n",
        "operationId": "addMetricsIntegrationDatadogv2",
        "tags": [
          "Metrics/Datadog v2"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "region"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Datadog API key"
                  },
                  "region": {
                    "type": "string",
                    "description": "Region to send metrics",
                    "enum": [
                      "us1",
                      "us3",
                      "us5",
                      "eu"
                    ]
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like env=prod,region=europe"
                  },
                  "queue_regex": {
                    "type": "string",
                    "description": "(Optional) Allowlist to filter queues using regular expression"
                  },
                  "vhost_regex": {
                    "type": "string",
                    "description": "(Optional) Allowlist to filter vhost using regular expression"
                  },
                  "include_ad_queues": {
                    "type": "boolean",
                    "description": "(Optional) Include auto-delete queues (default false)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/metrics/datadog_v3": {
      "post": {
        "summary": "Add Datadog v3 metrics integration",
        "description": "Add a Datadog v3 metrics integration (Prometheus-based).\n\nAvailable on all LavinMQ clusters and RabbitMQ clusters running version 3.10.0 or later.\n\n**Note:** If tags are used, the value part must start with a letter. [See Datadog tagging docs](https://docs.datadoghq.com/getting_started/tagging/#define-tags)\n",
        "operationId": "addMetricsIntegrationDatadogv3",
        "tags": [
          "Metrics/Datadog v3"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "Datadog API key"
                  },
                  "region": {
                    "type": "string",
                    "description": "Region to send metrics",
                    "enum": [
                      "us1",
                      "us3",
                      "us5",
                      "eu",
                      "ap2"
                    ]
                  },
                  "rabbitmq_dashboard_metrics_format": {
                    "type": "boolean",
                    "description": "(Optional) Transform RabbitMQ metric names to match Datadog RabbitMQ dashboard format. [See docs](https://www.cloudamqp.com/docs/monitoring_metrics_datadog_v3.html#rabbitmq-dashboard-metrics-format)"
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like env=prod,region=europe"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/metrics/dynatrace": {
      "post": {
        "summary": "Add Dynatrace metrics integration",
        "description": "Add a Dynatrace metrics integration (Prometheus-based).\n\nAvailable on all LavinMQ clusters and RabbitMQ clusters running version 3.10.0 or later.\n",
        "operationId": "addMetricsIntegrationDynatrace",
        "tags": [
          "Metrics/Dynatrace"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "environment_id",
                  "access_token"
                ],
                "properties": {
                  "environment_id": {
                    "type": "string",
                    "description": "Environment ID for Dynatrace account"
                  },
                  "access_token": {
                    "type": "string",
                    "description": "Access token with Ingest metrics permission"
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like env=prod,region=europe"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/metrics/librato": {
      "post": {
        "summary": "Add Librato metrics integration",
        "description": "Add a Librato metrics integration (legacy).\n",
        "operationId": "addMetricsIntegrationLibrato",
        "tags": [
          "Metrics/Librato"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "api_key"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email registered at Librato",
                    "example": "user@example.com"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "Librato API key"
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like env=prod,region=europe"
                  },
                  "queue_regex": {
                    "type": "string",
                    "description": "(Optional) Allowlist to filter queues using regular expression"
                  },
                  "vhost_regex": {
                    "type": "string",
                    "description": "(Optional) Allowlist to filter vhost using regular expression"
                  },
                  "include_ad_queues": {
                    "type": "boolean",
                    "description": "(Optional) Include auto-delete queues (default false)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/metrics/newrelic_v2": {
      "post": {
        "summary": "Add New Relic v2 metrics integration",
        "description": "Add a New Relic v2 metrics integration (legacy).\n",
        "operationId": "addMetricsIntegrationNewrelicv2",
        "tags": [
          "Metrics/New Relic v2"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "region"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "New Relic API key"
                  },
                  "region": {
                    "type": "string",
                    "description": "Region",
                    "enum": [
                      "US",
                      "EU"
                    ]
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like env=prod,region=europe"
                  },
                  "queue_regex": {
                    "type": "string",
                    "description": "(Optional) Allowlist to filter queues using regular expression"
                  },
                  "vhost_regex": {
                    "type": "string",
                    "description": "(Optional) Allowlist to filter vhost using regular expression"
                  },
                  "include_ad_queues": {
                    "type": "boolean",
                    "description": "(Optional) Include auto-delete queues (default false)"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/metrics/newrelic_v3": {
      "post": {
        "summary": "Add New Relic v3 metrics integration",
        "description": "Add a New Relic v3 metrics integration (Prometheus-based).\n\nAvailable on all LavinMQ clusters and RabbitMQ clusters running version 3.10.0 or later.\n",
        "operationId": "addMetricsIntegrationNewrelicv3",
        "tags": [
          "Metrics/New Relic v3"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "region"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "New Relic API key"
                  },
                  "region": {
                    "type": "string",
                    "description": "Region"
                  },
                  "tags": {
                    "type": "string",
                    "description": "(Optional) Enter tags like env=prod,region=europe"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/metrics/splunk": {
      "post": {
        "summary": "Add Splunk metrics integration",
[...]
