{
  "openapi": "3.0.3",
  "info": {
    "title": "Agora Conversational AI API",
    "description": "Agora Conversational AI RESTful API for managing AI-powered conversational agents. Enables starting, stopping, querying, updating, and controlling AI agents that join Agora RTC channels for real-time voice conversations using ASR, LLM, and TTS pipelines.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://docs.agora.io/en/conversational-ai/rest-api/agent/join"
  },
  "servers": [
    {
      "url": "https://api.agora.io",
      "description": "Agora primary production server"
    }
  ],
  "paths": {
    "/api/conversational-ai-agent/v2/projects/{appid}/join": {
      "post": {
        "operationId": "startAgent",
        "summary": "Start a conversational AI agent",
        "description": "Starts a new conversational AI agent instance that joins the specified Agora RTC channel. Configures ASR, LLM, TTS, turn detection, and other properties.",
        "tags": [
          "Agent Lifecycle"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversational-ai-agent/v2/projects/{appid}/agents/{agentId}/leave": {
      "post": {
        "operationId": "stopAgent",
        "summary": "Stop a conversational AI agent",
        "description": "Stops a running conversational AI agent instance and removes it from the channel.",
        "tags": [
          "Agent Lifecycle"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent stopped successfully"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversational-ai-agent/v2/projects/{appid}/agents/{agentId}": {
      "get": {
        "operationId": "queryAgentStatus",
        "summary": "Query agent status",
        "description": "Retrieves the current status and metadata of a specific agent instance.",
        "tags": [
          "Agent Lifecycle"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStatusResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversational-ai-agent/v2/projects/{appid}/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "Retrieve a list of agents",
        "description": "Retrieves a paginated list of agent instances for the specified project, with optional filtering by channel, time range, and state.",
        "tags": [
          "Agent Lifecycle"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "description": "Filter agents by channel name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "required": false,
            "description": "Start timestamp in seconds (defaults to 2 hours ago)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "to_time",
            "in": "query",
            "required": false,
            "description": "End timestamp in seconds (defaults to current time)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Filter by agent state",
            "schema": {
              "type": "string",
              "enum": [
                "IDLE",
                "STARTING",
                "RUNNING",
                "STOPPING",
                "STOPPED",
                "RECOVERING",
                "FAILED"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum entries per page (default: 20)",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor for the next page",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentListResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversational-ai-agent/v2/projects/{appid}/agents/{agentId}/update": {
      "post": {
        "operationId": "updateAgent",
        "summary": "Update agent configuration",
        "description": "Updates the configuration of a running agent, such as the authentication token or LLM settings.",
        "tags": [
          "Agent Control"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversational-ai-agent/v2/projects/{appid}/agents/{agentId}/speak": {
      "post": {
        "operationId": "broadcastMessage",
        "summary": "Broadcast a message using TTS",
        "description": "Sends a text message to the agent for TTS broadcast in the channel, with configurable priority and interruptability.",
        "tags": [
          "Agent Control"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpeakRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message broadcast initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpeakResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversational-ai-agent/v2/projects/{appid}/agents/{agentId}/interrupt": {
      "post": {
        "operationId": "interruptAgent",
        "summary": "Interrupt the agent",
        "description": "Immediately interrupts the agent, causing it to stop talking and thinking.",
        "tags": [
          "Agent Control"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent interrupted successfully"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversational-ai-agent/v2/projects/{appid}/agents/{agentId}/history": {
      "get": {
        "operationId": "getAgentHistory",
        "summary": "Retrieve agent conversation history",
        "description": "Retrieves the conversation history for a running agent instance.",
        "tags": [
          "Agent History"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AppId"
          },
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation history retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentHistoryResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication using Customer ID as username and Customer Secret as password. Obtain credentials from Agora Console."
      }
    },
    "parameters": {
      "AppId": {
        "name": "appid",
        "in": "path",
        "required": true,
        "description": "The App ID of the Agora project",
        "schema": {
          "type": "string"
        }
      },
      "AgentId": {
        "name": "agentId",
        "in": "path",
        "required": true,
        "description": "The agent instance ID obtained from a successful join call",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "StartAgentRequest": {
        "type": "object",
        "required": [
          "name",
          "properties"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Unique identifier of the agent. The same identifier cannot be used repeatedly."
          },
          "preset": {
            "type": "string",
            "nullable": true,
            "description": "Comma-separated string of one or more presets for ASR, LLM, TTS configuration"
          },
          "pipeline_id": {
            "type": "string",
            "nullable": true,
            "description": "Unique ID of a published agent in Agent Studio"
          },
          "properties": {
            "$ref": "#/components/schemas/AgentProperties"
          }
        }
      },
      "AgentProperties": {
        "type": "object",
        "required": [
          "channel",
          "token",
          "agent_rtc_uid",
          "remote_rtc_uids",
          "llm",
          "tts"
        ],
        "properties": {
          "channel": {
            "type": "string",
            "description": "The name of the RTC channel to join"
          },
          "token": {
            "type": "string",
            "description": "Authentication token used by the agent to join the channel"
          },
          "agent_rtc_uid": {
            "type": "string",
            "description": "User ID of the agent in the channel. Value of '0' means a random UID is generated."
          },
          "remote_rtc_uids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of user IDs that the agent subscribes to (currently only one supported)"
          },
          "enable_string_uid": {
            "type": "boolean",
            "default": false,
            "description": "Enable string UIDs for agent and subscriber"
          },
          "idle_timeout": {
            "type": "integer",
            "default": 30,
            "description": "Timeout in seconds after all users leave the channel before agent stops"
          },
          "geofence": {
            "$ref": "#/components/schemas/Geofence"
          },
          "advanced_features": {
            "$ref": "#/components/schemas/AdvancedFeatures"
          },
          "asr": {
            "$ref": "#/components/schemas/AsrConfig"
          },
          "llm": {
            "$ref": "#/components/schemas/LlmConfig"
          },
          "tts": {
            "$ref": "#/components/schemas/TtsConfig"
          },
          "mllm": {
            "$ref": "#/components/schemas/MllmConfig"
          },
          "turn_detection": {
            "$ref": "#/components/schemas/TurnDetection"
          },
          "sal": {
            "$ref": "#/components/schemas/SalConfig"
          },
          "labels": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom business labels as key-value pairs"
          },
          "rtc": {
            "$ref": "#/components/schemas/RtcConfig"
          },
          "filler_words": {
            "$ref": "#/components/schemas/FillerWordsConfig"
          },
          "parameters": {
            "$ref": "#/components/schemas/AgentParameters"
          },
          "avatar": {
            "$ref": "#/components/schemas/AvatarConfig"
          }
        }
      },
      "Geofence": {
        "type": "object",
        "required": [
          "area"
        ],
        "properties": {
          "area": {
            "type": "string",
            "enum": [
              "GLOBAL",
              "NORTH_AMERICA",
              "EUROPE",
              "ASIA",
              "INDIA",
              "JAPAN"
            ],
            "description": "Regional access restriction area"
          },
          "exclude_area": {
            "type": "string",
            "nullable": true,
            "description": "Excluded region (only valid with GLOBAL area)"
          }
        }
      },
      "AdvancedFeatures": {
        "type": "object",
        "properties": {
          "enable_mllm": {
            "type": "boolean",
            "default": false,
            "description": "Enable Multimodal Large Language Model"
          },
          "enable_rtm": {
            "type": "boolean",
            "default": false,
            "description": "Enable Signaling (RTM) service"
          },
          "enable_sal": {
            "type": "boolean",
            "default": false,
            "description": "Enable Selective Attention Locking (SAL)"
          },
          "enable_tools": {
            "type": "boolean",
            "default": false,
            "description": "Enable tool invocation"
          }
        }
      },
      "AsrConfig": {
        "type": "object",
        "description": "Automatic Speech Recognition configuration",
        "properties": {
          "language": {
            "type": "string",
            "default": "en-US",
            "description": "BCP-47 language tag for speech recognition"
          },
          "vendor": {
            "type": "string",
            "default": "ares",
            "enum": [
              "ares",
              "microsoft",
              "deepgram",
              "openai",
              "google",
              "amazon",
              "assemblyai",
              "sarvam"
            ],
            "description": "ASR vendor"
          },
          "params": {
            "type": "object",
            "description": "Vendor-specific ASR parameters",
            "additionalProperties": true
          }
        }
      },
      "LlmConfig": {
        "type": "object",
        "required": [
          "url"
        ],
        "description": "Large Language Model configuration",
        "properties": {
          "url": {
            "type": "string",
            "description": "LLM callback address / API endpoint URL"
          },
          "api_key": {
            "type": "string",
            "nullable": true,
            "description": "LLM verification API key"
          },
          "system_messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "description": "Message role (e.g., 'system')"
                },
                "content": {
                  "type": "string",
                  "description": "Message content"
                }
              }
            },
            "description": "Predefined system prompt messages"
          },
          "params": {
            "type": "object",
            "description": "Additional LLM configuration (model, token limits, etc.)",
            "additionalProperties": true
          },
          "max_history": {
            "type": "integer",
            "default": 32,
            "minimum": 1,
            "maximum": 1024,
            "description": "Maximum conversation history entries to cache"
          },
          "input_modalities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "text",
                "image"
              ]
            },
            "default": [
              "text"
            ],
            "description": "Input modalities for the LLM"
          },
          "output_modalities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "text",
                "audio"
              ]
            },
            "default": [
              "text"
            ],
            "description": "Output modalities for the LLM"
          },
          "greeting_configs": {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "single_every",
                  "single_first"
                ],
                "default": "single_every",
                "description": "Greeting mode"
              }
            }
          },
          "greeting_message": {
            "type": "string",
            "nullable": true,
            "description": "Agent greeting text sent when joining the channel"
          },
          "failure_message": {
            "type": "string",
            "nullable": true,
            "description": "Prompt message for agent activation failure"
          },
          "vendor": {
            "type": "string",
            "nullable": true,
            "enum": [
              "custom",
              "azure"
            ],
            "description": "LLM vendor type"
          },
          "style": {
            "type": "string",
            "default": "openai",
            "enum": [
              "openai",
              "gemini",
              "anthropic",
              "dify"
            ],
            "description": "LLM API style"
          },
          "template_variables": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            },
            "description": "Variables for template injection in prompts"
          },
          "mcp_servers": {
            "type": "array",
            "description": "MCP (Model Context Protocol) server configurations",
            "items": {
              "$ref": "#/components/schemas/McpServer"
            }
          }
        }
      },
      "McpServer": {
        "type": "object",
        "required": [
          "name",
          "endpoint"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 48,
            "description": "Unique MCP server identifier"
          },
          "endpoint": {
            "type": "string",
            "description": "MCP server address"
          },
          "transport": {
            "type": "string",
            "nullable": true,
            "enum": [
              "streamable_http"
            ],
            "description": "Transport protocol"
          },
          "headers": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            },
            "description": "HTTP headers for MCP server requests"
          },
          "allowed_tools": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Allowed tool names list"
          },
          "timeout_ms": {
            "type": "integer",
            "nullable": true,
            "description": "Request timeout in milliseconds"
          }
        }
      },
      "TtsConfig": {
        "type": "object",
        "required": [
          "vendor",
          "params"
        ],
        "description": "Text-to-Speech configuration",
        "properties": {
          "vendor": {
            "type": "string",
            "enum": [
              "microsoft",
              "elevenlabs",
              "minimax",
              "cartesia",
              "openai",
              "humeai",
              "rime",
              "fishaudio",
              "google",
              "amazon",
              "sarvam"
            ],
            "description": "TTS vendor"
          },
          "params": {
            "type": "object",
            "description": "Vendor-specific TTS parameters",
            "additionalProperties": true
          },
          "skip_patterns": {
            "type": "array",
            "items": {
              "type": "integer",
              "enum": [
                1,
                2,
                3,
                4,
                5
              ]
            },
            "description": "Skip bracketed content patterns. 1-5 represent different bracket types."
          }
        }
      },
      "MllmConfig": {
        "type": "object",
        "required": [
          "url",
          "api_key"
        ],
        "description": "Multimodal Large Language Model configuration (disables ASR, LLM, and TTS when enabled)",
        "properties": {
          "url": {
            "type": "string",
            "description": "WebSocket URL for real-time MLLM communication"
          },
          "api_key": {
            "type": "string",
            "description": "API key for MLLM authentication"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                }
              }
            },
            "description": "Conversation items for short-term memory"
          },
          "params": {
            "type": "object",
            "description": "Additional MLLM parameters",
            "additionalProperties": true
          },
          "input_modalities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "audio",
                "text"
              ]
            },
            "default": [
              "audio"
            ],
            "description": "Input modalities"
          },
          "output_modalities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "text",
                "audio"
              ]
            },
            "default": [
              "text",
              "audio"
            ],
            "description": "Output modalities"
          },
          "greeting_message": {
            "type": "string",
            "nullable": true,
            "description": "Agent greeting message"
          },
          "vendor": {
            "type": "string",
            "nullable": true,
            "enum": [
              "openai",
              "gemini",
              "vertexai"
            ],
            "description": "MLLM vendor"
          },
          "style": {
            "type": "string",
            "default": "openai",
            "enum": [
              "openai"
            ],
            "description": "MLLM API style"
          }
        }
      },
      "TurnDetection": {
        "type": "object",
        "description": "Conversation turn detection settings",
        "properties": {
          "mode": {
            "type": "string",
            "default": "default",
            "enum": [
              "default"
            ],
            "description": "Turn detection mode"
          },
          "config": {
            "type": "object",
            "properties": {
              "speech_threshold": {
                "type": "number",
                "minimum": 0,
                "maximum": 1,
                "default": 0.5,
                "description": "Voice Activity Detection (VAD) sensitivity threshold"
              },
              "start_of_speech": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "vad",
                      "keywords",
                      "disabled"
                    ],
                    "description": "Start-of-speech detection mode"
                  },
                  "vad_config": {
                    "type": "object",
                    "properties": {
                      "interrupt_duration_ms": {
                        "type": "integer",
                        "default": 160,
                        "minimum": 120,
                        "maximum": 1200,
                        "description": "Duration in ms to detect interruption"
                      },
                      "speaking_interrupt_duration_ms": {
                        "type": "integer",
                        "default": 160,
                        "description": "Duration in ms to detect interruption while agent is speaking"
                      },
                      "prefix_padding_ms": {
                        "type": "integer",
                        "default": 800,
                        "minimum": 0,
                        "maximum": 5000,
                        "description": "Audio prefix padding in ms"
                      }
                    }
                  },
                  "keywords_config": {
                    "type": "object",
                    "properties": {
                      "interrupt_duration_ms": {
                        "type": "integer",
                        "description": "Duration in ms to detect interruption"
                      },
                      "prefix_padding_ms": {
                        "type": "integer",
                        "description": "Audio prefix padding in ms"
                      },
                      "triggered_keywords": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Keywords that trigger start of speech"
                      }
                    }
                  },
                  "disabled_config": {
                    "type": "object",
                    "properties": {
                      "strategy": {
                        "type": "string",
                        "enum": [
                          "append",
                          "ignore"
                        ],
                        "description": "Strategy when start-of-speech detection is disabled"
                      }
                    }
                  }
                }
              },
              "end_of_speech": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "vad",
                      "semantic"
                    ],
                    "description": "End-of-speech detection mode"
                  },
                  "vad_config": {
                    "type": "object",
                    "properties": {
                      "silence_duration_ms": {
                        "type": "integer",
                        "minimum": 120,
                        "maximum": 2000,
                        "default": 640,
                        "description": "Silence duration in ms to detect end of speech"
                      }
                    }
                  },
                  "semantic_config": {
                    "type": "object",
                    "properties": {
                      "silence_duration_ms": {
                        "type": "integer",
                        "default": 320,
                        "description": "Silence duration in ms before semantic analysis"
                      },
                      "max_wait_ms": {
                        "type": "integer",
                        "default": 3000,
                        "minimum": 500,
                        "maximum": 10000,
                        "description": "Maximum wait time in ms for semantic analysis (-1 for unlimited)"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SalConfig": {
        "type": "object",
        "description": "Selective Attention Locking (SAL) configuration (Beta)",
        "properties": {
          "sal_mode": {
            "type": "string",
            "default": "locking",
            "enum": [
              "locking",
              "recognition"
            ],
            "description": "SAL operating mode"
          },
          "sample_urls": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key-value pairs of voiceprint sample audio URLs"
          }
        }
      },
      "RtcConfig": {
        "type": "object",
        "description": "RTC media encryption configuration",
        "properties": {
          "encryption_key": {
            "type": "string",
            "nullable": true,
            "description": "Media encryption key"
          },
          "encryption_salt": {
            "type": "string",
            "nullable": true,
            "description": "Base64-encoded 32-byte encryption salt"
          },
          "encryption_mode": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8
            ],
            "description": "AES encryption mode variant (1-8)"
          }
        }
      },
      "FillerWordsConfig": {
        "type": "object",
        "description": "Filler word configuration for natural conversation flow",
        "properties": {
          "enable": {
            "type": "boolean",
            "default": false,
            "description": "Enable filler words"
          },
          "trigger": {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "fixed_time"
                ],
                "description": "Trigger mode"
              },
              "fixed_time_config": {
                "type": "object",
                "properties": {
                  "response_wait_ms": {
                    "type": "integer",
                    "default": 1500,
                    "minimum": 100,
                    "maximum": 10000,
                    "description": "Wait time in ms before inserting filler word"
                  }
                }
              }
            }
          },
          "content": {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "static"
                ],
                "description": "Content selection mode"
              },
              "static_config": {
                "type": "object",
                "properties": {
                  "phrases": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    },
                    "description": "Filler phrases (max 100, each up to 50 words)"
                  },
                  "selection_rule": {
                    "type": "string",
                    "enum": [
                      "shuffle",
                      "round_robin"
                    ],
                    "description": "How filler phrases are selected"
                  }
                }
              }
            }
          }
        }
      },
      "AgentParameters": {
        "type": "object",
        "description": "Additional agent behavior parameters",
        "properties": {
          "silence_config": {
            "type": "object",
            "properties": {
              "timeout_ms": {
                "type": "integer",
                "default": 0,
                "minimum": 0,
                "maximum": 60000,
                "description": "Silence timeout in ms before triggering action"
              },
              "action": {
                "type": "string",
                "default": "speak",
                "enum": [
                  "speak",
                  "think"
                ],
                "description": "Action when silence timeout is reached"
              },
              "content": {
                "type": "string",
                "nullable": true,
                "description": "Silent prompt message content"
              }
            }
          },
          "farewell_config": {
            "type": "object",
            "properties": {
              "graceful_enabled": {
                "type": "boolean",
                "default": false,
                "description": "Enable graceful shutdown"
              },
              "graceful_timeout_seconds": {
                "type": "integer",
                "default": 30,
                "minimum": 0,
                "maximum": 120,
                "description": "Graceful shutdown timeout in seconds"
              }
            }
          },
          "data_channel": {
            "type": "string",
            "default": "datastream",
            "enum": [
              "rtm",
              "datastream"
            ],
            "description": "Data channel type for agent communication"
          },
          "enable_metrics": {
            "type": "boolean",
            "default": false,
            "description": "Enable performance metrics collection"
          },
          "enable_error_message": {
            "type": "boolean",
            "default": false,
            "description": "Enable error message broadcasting"
          }
        }
      },
      "AvatarConfig": {
        "type": "object",
        "description": "Avatar rendering configuration",
        "properties": {
          "enable": {
            "type": "boolean",
            "default": false,
            "description": "Enable avatar rendering"
          },
          "vendor": {
            "type": "string",
            "enum": [
              "akool",
              "liveavatar",
              "anam"
            ],
            "description": "Avatar vendor"
          },
          "params": {
            "type": "object",
            "description": "Vendor-specific avatar parameters",
            "additionalProperties": true
          }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "properties": {
          "properties": {
            "type": "object",
            "nullable": true,
            "properties": {
              "token": {
                "type": "string",
                "nullable": true,
                "description": "Updated authentication token for channel access"
              },
              "llm": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "system_messages": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Updated system prompt messages"
                  },
                  "params": {
                    "type": "object",
                    "nullable": true,
                    "description": "Updated LLM parameters (overwrites creation settings)",
                    "additionalProperties": true
                  }
                }
              },
              "mllm": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "params": {
                    "type": "object",
                    "nullable": true,
                    "description": "Updated MLLM parameters",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        }
      },
      "SpeakRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 512,
            "description": "Broadcast message text (max 512 bytes)"
          },
          "priority": {
            "type": "string",
            "default": "INTERRUPT",
            "enum": [
              "INTERRUPT",
              "APPEND",
              "IGNORE"
            ],
            "description": "Message priority. INTERRUPT: immediately interrupts current interaction. APPEND: announces after current interaction. IGNORE: ignored if agent is busy."
          },
          "interruptable": {
            "type": "boolean",
            "default": true,
            "description": "Whether users can interrupt the broadcast via speech"
          }
        }
      },
      "AgentResponse": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "Unique identifier of the agent instance"
          },
          "create_ts": {
            "type": "integer",
            "description": "Agent creation timestamp"
          },
          "status": {
            "type": "string",
            "enum": [
              "IDLE",
              "STARTING",
              "RUNNING",
              "STOPPING",
              "STOPPED",
              "RECOVERING",
              "FAILED"
            ],
            "description": "Current agent status"
          }
        }
      },
      "AgentStatusResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Request message"
          },
          "start_ts": {
            "type": "integer",
            "description": "Agent creation timestamp"
          },
          "stop_ts": {
            "type": "integer",
            "description": "Agent stop timestamp"
          },
          "status": {
            "type": "string",
            "enum": [
              "IDLE",
              "STARTING",
              "RUNNING",
              "STOPPING",
              "STOPPED",
              "RECOVERING",
              "FAILED"
            ],
            "description": "Current agent status"
          },
          "agent_id": {
            "type": "string",
            "description": "Unique identifier of the agent instance"
          }
        }
      },
      "AgentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "description": "Number of agents returned in this page"
              },
              "list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "start_ts": {
                      "type": "integer",
                      "description": "Agent creation timestamp"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "IDLE",
                        "STARTING",
                        "RUNNING",
                        "STOPPING",
                        "STOPPED",
                        "RECOVERING",
                        "FAILED"
                      ],
                      "description": "Agent status"
                    },
                    "agent_id": {
                      "type": "string",
                      "description": "Agent instance identifier"
                    }
                  }
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "cursor": {
                "type": "string",
                "description": "Pagination cursor for the next page"
              },
              "total": {
                "type": "integer",
                "description": "Total agents matching query criteria"
              }
            }
          },
          "status": {
            "type": "string",
            "description": "Request outcome status"
          }
        }
      },
      "SpeakResponse": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "Agent instance identifier"
          },
          "channel": {
            "type": "string",
            "description": "Channel name"
          },
          "start_ts": {
            "type": "integer",
            "description": "Agent creation timestamp"
          }
        }
      },
      "AgentHistoryResponse": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "Agent instance identifier"
          },
          "start_ts": {
            "type": "integer",
            "description": "Agent creation timestamp"
          },
          "status": {
            "type": "string",
            "enum": [
              "RUNNING"
            ],
            "description": "Agent status (only RUNNING agents have accessible history)"
          },
          "contents": {
            "type": "array",
            "description": "Conversation history entries",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant"
                  ],
                  "description": "Message sender role"
                },
                "content": {
                  "type": "string",
                  "description": "Message text content"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error description"
          },
          "reason": {
            "type": "string",
            "description": "Failure reason"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Agent Lifecycle",
      "description": "Start, stop, and query AI agent instances"
    },
    {
      "name": "Agent Control",
      "description": "Control agent behavior during a session"
    },
    {
      "name": "Agent History",
      "description": "Retrieve agent conversation history and turn information"
    }
  ]
}