{
  "swagger": "2.0",
  "info": {
    "version": "1.0.8",
    "title": "APSJobs Push Vacancy API",
    "contact": {
      "email": "rod.higgins@senuamedia.com"
    },
    "description": "# Introduction\nAPI support create vacancies\nGet agencies information\nGet related data to create vacancy\n\n# Overview\nThings that the developers should know about\n\n# Authentication\nAuthenticate via account login\n\n# Error Codes\nstatus code\n-200 success\n-406 data error\n-403 authorise error\n\n# Rate limit\nIs there a limit to the number of requests an user can send?",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Rod/aps-jobs/1.0.8/swagger.json"
  },
  "host": "apsjobsstg.prod.acquia-sites.com",
  "basePath": "/api",
  "securityDefinitions": {
    "auth": {
      "type": "basic",
      "x-testValue": [],
      "x-skip-client-authentication": false
    }
  },
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/vacancy": {
      "get": {
        "description": "TODO: Add Description",
        "summary": "Get Vacancy",
        "tags": [
          "Vacancy"
        ],
        "operationId": "VacancyGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "options[created]",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/vacancy?offset=0&limit=10&options[created]=ASC",
              "headers": {
                "Content-Type": "application/json",
                "X-CSRF-Token": "{{token}}"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Get Vacancy",
            "x-testDescription": "TODO: Add Description"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "TODO: Add Description",
        "summary": "Create Vacancy",
        "tags": [
          "Vacancy"
        ],
        "operationId": "VacancyPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateVacancyrequest"
            }
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/vacancy",
              "headers": {
                "Content-Type": "application/json",
                "X-CSRF-Token": "{{token}}"
              },
              "body": "{\"type\":\"aps_vacancies\",\"publication_date\":{\"date\":\"Fri Jul 20, 2018\"},\"broadband\":\"1\",\"job_level\":[\"205\",\"211\",\"212\",\"213\"],\"agency\":[\"37\"],\"considered_rr\":\"1\",\"job_title\":\"Test Title API {{$timestamp}}\",\"job_category\":[\"92\"],\"location\":[\"VICTORIA RIVER, NT, 0852\",\"QUEEN VICTORIA BUILDING, NSW, 1230\"],\"position_number\":\"ah3\",\"clearance_level\":\"218\",\"salary_from\":\"20000\",\"salary_to\":\"24000\",\"working_hours\":[\"239\"],\"engagement_types\":[\"247\"],\"engagement_types_details\":\"test non-ongoing specified term\",\"initiatives_and_programs\":[\"235\",\"238\"],\"recruitability\":\"1\",\"job_description\":{\"value\":\"Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis\"},\"notes\":{\"value\":\"Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis\"},\"closing_date\":{\"date\":\"Fri Jul 27, 2018\",\"time\":\"23:59\"},\"under_7_days_check\":\"1\",\"apply_url\":\"\",\"contact_name\":\"Test Name\",\"contact_number\":\"(02) 4998 2306\",\"contact_email\":\"testemail@gmail.com\",\"editorial_instruction\":\"Nesciunt autem blanditiis dicta lacus egestas\",\"approver\":\"154\",\"moderation\":\"draft\"}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Create Vacancy",
            "x-testDescription": "TODO: Add Description"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/vacancy/636": {
      "delete": {
        "description": "TODO: Add Description",
        "summary": "Delete Vacancy",
        "tags": [
          "Vacancy"
        ],
        "operationId": "Vacancy636Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "DELETE",
              "uri": "/vacancy/636",
              "headers": {
                "Content-Type": "application/json",
                "X-CSRF-Token": "ct4Ejpx8-z2cMGNcHB0jGVADSkvQdwQ8Q_FoFBVLx7w"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Delete Vacancy",
            "x-testDescription": "TODO: Add Description"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/vacancy/3972": {
      "put": {
        "description": "TODO: Add Description",
        "summary": "Update Vacancy",
        "tags": [
          "Vacancy"
        ],
        "operationId": "Vacancy3972Put",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateVacancyrequest"
            }
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "PUT",
              "uri": "/vacancy/3972",
              "headers": {
                "Content-Type": "application/json",
                "X-CSRF-Token": "{{token}}"
              },
              "body": "{\"type\":\"aps_vacancies\",\"publication_date\":{\"date\":\"Thu Feb 22, 2018\"},\"broadband\":\"0\",\"job_level\":[\"205\"],\"employer\":[\"38\"],\"legal_confirmation\":\"1\",\"job_title\":\"API Update 4\",\"job_category\":[\"92\"],\"location\":\"1202, Sydney, NSW\",\"position_number\":\"ah3\",\"clearance_level\":\"218\",\"salary_type\":\"annually\",\"salary_from\":\"1000\",\"salary_to\":\"1200\",\"working_hours\":[\"239\"],\"engagement_types\":[\"248\"],\"non_ongoing_duration\":\"18 months or more\",\"specific_considerations\":[\"249\",\"300\"],\"affirmative_measures\":[\"1574\"],\"isac\":\"0\",\"recruitability\":\"0\",\"job_description\":{\"value\":\"Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis\"},\"eligibility\":{\"value\":\"Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis\"},\"notes\":{\"value\":\"Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis\"},\"closing_date\":{\"date\":\"Mon Mar 05, 2018\",\"time\":\"17:00\"},\"apply_url\":\"https://www.google.com\",\"editorial_instruction\":\"Nesciunt autem blanditiis dicta lacus egestas\",\"approver\":\"139\",\"moderation\":\"draft\"}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Update Vacancy",
            "x-testDescription": "TODO: Add Description"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/get_taxonomies": {
      "get": {
        "description": "method: GET\nparams: machine_name\n\t*: get all taxonomies for create vacancy",
        "summary": "Get Taxonomies for Vacancy",
        "tags": [
          "Vacancy"
        ],
        "operationId": "GetTaxonomiesGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "machine_name",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/get_taxonomies?machine_name=*",
              "headers": {
                "X-CSRF-Token": "{{token}}"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Get Taxonomies for Vacancy",
            "x-testDescription": "method: GET\nparams: machine_name\n\t*: get all taxonomies for create vacancy"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/get_locations": {
      "get": {
        "description": "method: GET\nparams: machine_name\n\t*: get all taxonomies for create vacancy",
        "summary": "Get Location for Vacancy",
        "tags": [
          "Vacancy"
        ],
        "operationId": "GetLocationsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/get_locations?location=VIc",
              "headers": {
                "X-CSRF-Token": "{{token}}"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Get Location for Vacancy",
            "x-testDescription": "method: GET\nparams: machine_name\n\t*: get all taxonomies for create vacancy"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/agency/75202": {
      "get": {
        "description": "TODO: Add Description",
        "summary": "Get Agency",
        "tags": [
          "Agency"
        ],
        "operationId": "Agency75202Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/agency/75202",
              "headers": {
                "X-CSRF-Token": "{{token}}"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Get Agency",
            "x-testDescription": "TODO: Add Description"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/agency": {
      "get": {
        "description": "Get all agencies of current user",
        "summary": "Get Agencies",
        "tags": [
          "Agency"
        ],
        "operationId": "AgencyGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/agency",
              "headers": {
                "X-CSRF-Token": "{{token}}"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Get Agencies",
            "x-testDescription": "Get all agencies of current user"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/user/login": {
      "post": {
        "description": "TODO: Add Description",
        "summary": "Login",
        "tags": [
          "SessionAuth"
        ],
        "operationId": "UserLoginPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/user/login",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{\"username\":\"senuamediaA.creator\",\"password\":\"APSjobs@123\"}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Login",
            "x-testDescription": "TODO: Add Description"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/user/logout": {
      "post": {
        "description": "TODO: Add Description",
        "summary": "Logout",
        "tags": [
          "SessionAuth"
        ],
        "operationId": "UserLogoutPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/user/logout",
              "headers": {
                "Content-Type": "application/json",
                "X-CSRF-Token": "{{token}}"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Logout",
            "x-testDescription": "TODO: Add Description"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/user/token": {
      "post": {
        "description": "TODO: Add Description",
        "summary": "Token",
        "tags": [
          "SessionAuth"
        ],
        "operationId": "UserTokenPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenRequest"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/user/token",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "{\"username\":\"test1\",\"password\":\"123456\"}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "Token",
            "x-testDescription": "TODO: Add Description"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    }
  },
  "definitions": {
    "CreateVacancyrequest": {
      "title": "Create VacancyRequest",
      "example": {
        "type": "aps_vacancies",
        "publication_date": {
          "date": "Fri Jul 20, 2018"
        },
        "broadband": "1",
        "job_level": [
          "205",
          "211",
          "212",
          "213"
        ],
        "agency": [
          "37"
        ],
        "considered_rr": "1",
        "job_title": "Test Title API {{$timestamp}}",
        "job_category": [
          "92"
        ],
        "location": [
          "VICTORIA RIVER, NT, 0852",
          "QUEEN VICTORIA BUILDING, NSW, 1230"
        ],
        "position_number": "ah3",
        "clearance_level": "218",
        "salary_from": "20000",
        "salary_to": "24000",
        "working_hours": [
          "239"
        ],
        "engagement_types": [
          "247"
        ],
        "engagement_types_details": "test non-ongoing specified term",
        "initiatives_and_programs": [
          "235",
          "238"
        ],
        "recruitability": "1",
        "job_description": {
          "value": "Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis"
        },
        "notes": {
          "value": "Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis"
        },
        "closing_date": {
          "date": "Fri Jul 27, 2018",
          "time": "23:59"
        },
        "under_7_days_check": "1",
        "apply_url": "",
        "contact_name": "Test Name",
        "contact_number": "(02) 4998 2306",
        "contact_email": "testemail@gmail.com",
        "editorial_instruction": "Nesciunt autem blanditiis dicta lacus egestas",
        "approver": "154",
        "moderation": "draft"
      },
      "type": "object",
      "properties": {
        "type": {
          "description": "",
          "example": "aps_vacancies",
          "type": "string"
        },
        "publication_date": {
          "$ref": "#/definitions/PublicationDate"
        },
        "broadband": {
          "description": "",
          "example": "1",
          "type": "string"
        },
        "job_level": {
          "description": "",
          "example": [
            "205",
            "211",
            "212",
            "213"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "agency": {
          "description": "",
          "example": [
            "37"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "considered_rr": {
          "description": "",
          "example": "1",
          "type": "string"
        },
        "job_title": {
          "description": "",
          "example": "Test Title API {{$timestamp}}",
          "type": "string"
        },
        "job_category": {
          "description": "",
          "example": [
            "92"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "description": "",
          "example": [
            "VICTORIA RIVER, NT, 0852",
            "QUEEN VICTORIA BUILDING, NSW, 1230"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "position_number": {
          "description": "",
          "example": "ah3",
          "type": "string"
        },
        "clearance_level": {
          "description": "",
          "example": "218",
          "type": "string"
        },
        "salary_from": {
          "description": "",
          "example": "20000",
          "type": "string"
        },
        "salary_to": {
          "description": "",
          "example": "24000",
          "type": "string"
        },
        "working_hours": {
          "description": "",
          "example": [
            "239"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "engagement_types": {
          "description": "",
          "example": [
            "247"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "engagement_types_details": {
          "description": "",
          "example": "test non-ongoing specified term",
          "type": "string"
        },
        "initiatives_and_programs": {
          "description": "",
          "example": [
            "235",
            "238"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "recruitability": {
          "description": "",
          "example": "1",
          "type": "string"
        },
        "job_description": {
          "$ref": "#/definitions/JobDescription"
        },
        "notes": {
          "$ref": "#/definitions/Notes"
        },
        "closing_date": {
          "$ref": "#/definitions/ClosingDate"
        },
        "under_7_days_check": {
          "description": "",
          "example": "1",
          "type": "string"
        },
        "apply_url": {
          "description": "",
          "type": "string"
        },
        "contact_name": {
          "description": "",
          "example": "Test Name",
          "type": "string"
        },
        "contact_number": {
          "description": "",
          "example": "(02) 4998 2306",
          "type": "string"
        },
        "contact_email": {
          "description": "",
          "example": "testemail@gmail.com",
          "type": "string"
        },
        "editorial_instruction": {
          "description": "",
          "example": "Nesciunt autem blanditiis dicta lacus egestas",
          "type": "string"
        },
        "approver": {
          "description": "",
          "example": "154",
          "type": "string"
        },
        "moderation": {
          "description": "",
          "example": "draft",
          "type": "string"
        }
      },
      "required": [
        "type",
        "publication_date",
        "broadband",
        "job_level",
        "agency",
        "considered_rr",
        "job_title",
        "job_category",
        "location",
        "position_number",
        "clearance_level",
        "salary_from",
        "salary_to",
        "working_hours",
        "engagement_types",
        "engagement_types_details",
        "initiatives_and_programs",
        "recruitability",
        "job_description",
        "notes",
        "closing_date",
        "under_7_days_check",
        "apply_url",
        "contact_name",
        "contact_number",
        "contact_email",
        "editorial_instruction",
        "approver",
        "moderation"
      ]
    },
    "PublicationDate": {
      "title": "PublicationDate",
      "example": {
        "date": "Fri Jul 20, 2018"
      },
      "type": "object",
      "properties": {
        "date": {
          "description": "",
          "example": "Fri Jul 20, 2018",
          "type": "string"
        }
      },
      "required": [
        "date"
      ]
    },
    "JobDescription": {
      "title": "JobDescription",
      "example": {
        "value": "Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis"
      },
      "type": "object",
      "properties": {
        "value": {
          "description": "",
          "example": "Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis",
          "type": "string"
        }
      },
      "required": [
        "value"
      ]
    },
    "Notes": {
      "title": "Notes",
      "example": {
        "value": "Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis"
      },
      "type": "object",
      "properties": {
        "value": {
          "description": "",
          "example": "Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis",
          "type": "string"
        }
      },
      "required": [
        "value"
      ]
    },
    "ClosingDate": {
      "title": "ClosingDate",
      "example": {
        "date": "Fri Jul 27, 2018",
        "time": "23:59"
      },
      "type": "object",
      "properties": {
        "date": {
          "description": "",
          "example": "Fri Jul 27, 2018",
          "type": "string"
        },
        "time": {
          "description": "",
          "example": "23:59",
          "type": "string"
        }
      },
      "required": [
        "date",
        "time"
      ]
    },
    "UpdateVacancyrequest": {
      "title": "Update VacancyRequest",
      "example": {
        "type": "aps_vacancies",
        "publication_date": {
          "date": "Thu Feb 22, 2018"
        },
        "broadband": "0",
        "job_level": [
          "205"
        ],
        "employer": [
          "38"
        ],
        "legal_confirmation": "1",
        "job_title": "API Update 4",
        "job_category": [
          "92"
        ],
        "location": "1202, Sydney, NSW",
        "position_number": "ah3",
        "clearance_level": "218",
        "salary_type": "annually",
        "salary_from": "1000",
        "salary_to": "1200",
        "working_hours": [
          "239"
        ],
        "engagement_types": [
          "248"
        ],
        "non_ongoing_duration": "18 months or more",
        "specific_considerations": [
          "249",
          "300"
        ],
        "affirmative_measures": [
          "1574"
        ],
        "isac": "0",
        "recruitability": "0",
        "job_description": {
          "value": "Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis"
        },
        "eligibility": {
          "value": "Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis"
        },
        "notes": {
          "value": "Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis"
        },
        "closing_date": {
          "date": "Mon Mar 05, 2018",
          "time": "17:00"
        },
        "apply_url": "https://www.google.com",
        "editorial_instruction": "Nesciunt autem blanditiis dicta lacus egestas",
        "approver": "139",
        "moderation": "draft"
      },
      "type": "object",
      "properties": {
        "type": {
          "description": "",
          "example": "aps_vacancies",
          "type": "string"
        },
        "publication_date": {
          "$ref": "#/definitions/PublicationDate"
        },
        "broadband": {
          "description": "",
          "example": "0",
          "type": "string"
        },
        "job_level": {
          "description": "",
          "example": [
            "205"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "employer": {
          "description": "",
          "example": [
            "38"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "legal_confirmation": {
          "description": "",
          "example": "1",
          "type": "string"
        },
        "job_title": {
          "description": "",
          "example": "API Update 4",
          "type": "string"
        },
        "job_category": {
          "description": "",
          "example": [
            "92"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "description": "",
          "example": "1202, Sydney, NSW",
          "type": "string"
        },
        "position_number": {
          "description": "",
          "example": "ah3",
          "type": "string"
        },
        "clearance_level": {
          "description": "",
          "example": "218",
          "type": "string"
        },
        "salary_type": {
          "description": "",
          "example": "annually",
          "type": "string"
        },
        "salary_from": {
          "description": "",
          "example": "1000",
          "type": "string"
        },
        "salary_to": {
          "description": "",
          "example": "1200",
          "type": "string"
        },
        "working_hours": {
          "description": "",
          "example": [
            "239"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "engagement_types": {
          "description": "",
          "example": [
            "248"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "non_ongoing_duration": {
          "description": "",
          "example": "18 months or more",
          "type": "string"
        },
        "specific_considerations": {
          "description": "",
          "example": [
            "249",
            "300"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "affirmative_measures": {
          "description": "",
          "example": [
            "1574"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isac": {
          "description": "",
          "example": "0",
          "type": "string"
        },
        "recruitability": {
          "description": "",
          "example": "0",
          "type": "string"
        },
        "job_description": {
          "$ref": "#/definitions/JobDescription"
        },
        "eligibility": {
          "$ref": "#/definitions/Eligibility"
        },
        "notes": {
          "$ref": "#/definitions/Notes"
        },
        "closing_date": {
          "$ref": "#/definitions/ClosingDate"
        },
        "apply_url": {
          "description": "",
          "example": "https://www.google.com",
          "type": "string"
        },
        "editorial_instruction": {
          "description": "",
          "example": "Nesciunt autem blanditiis dicta lacus egestas",
          "type": "string"
        },
        "approver": {
          "description": "",
          "example": "139",
          "type": "string"
        },
        "moderation": {
          "description": "",
          "example": "draft",
          "type": "string"
        }
      },
      "required": [
        "type",
        "publication_date",
        "broadband",
        "job_level",
        "employer",
        "legal_confirmation",
        "job_title",
        "job_category",
        "location",
        "position_number",
        "clearance_level",
        "salary_type",
        "salary_from",
        "salary_to",
        "working_hours",
        "engagement_types",
        "non_ongoing_duration",
        "specific_considerations",
        "affirmative_measures",
        "isac",
        "recruitability",
        "job_description",
        "eligibility",
        "notes",
        "closing_date",
        "apply_url",
        "editorial_instruction",
        "approver",
        "moderation"
      ]
    },
    "Eligibility": {
      "title": "Eligibility",
      "example": {
        "value": "Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis"
      },
      "type": "object",
      "properties": {
        "value": {
          "description": "",
          "example": "Mollis sapien, vel harum netus! Diam, vero, aspernatur non corporis. Nesciunt autem blanditiis dicta lacus egestas omnis",
          "type": "string"
        }
      },
      "required": [
        "value"
      ]
    },
    "LoginRequest": {
      "title": "LoginRequest",
      "example": {
        "username": "senuamediaA.creator",
        "password": "APSjobs@123"
      },
      "type": "object",
      "properties": {
        "username": {
          "description": "",
          "example": "senuamediaA.creator",
          "type": "string"
        },
        "password": {
          "description": "",
          "example": "APSjobs@123",
          "type": "string"
        }
      },
      "required": [
        "username",
        "password"
      ]
    },
    "TokenRequest": {
      "title": "TokenRequest",
      "example": {
        "username": "test1",
        "password": "123456"
      },
      "type": "object",
      "properties": {
        "username": {
          "description": "",
          "example": "test1",
          "type": "string"
        },
        "password": {
          "description": "",
          "example": "123456",
          "type": "string"
        }
      },
      "required": [
        "username",
        "password"
      ]
    }
  },
  "tags": [
    {
      "name": "Agency"
    },
    {
      "name": "SessionAuth"
    },
    {
      "name": "Vacancy"
    }
  ]
}
