{
  "openapi": "3.0.3",
  "info": {
    "title": "GetScreenshot API",
    "version": "1.0.0",
    "description": "Screenshot-as-a-service API for capturing webpage screenshots programmatically.",
    "x-jentic-source-url": "https://rasterwise.gitbook.io/docs/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.rasterwise.com/v1"
    }
  ],
  "paths": {
    "/screenshot": {
      "get": {
        "operationId": "takeScreenshot",
        "summary": "Take a screenshot of a URL",
        "tags": [
          "Screenshots"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your API key"
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL to screenshot"
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1280
            },
            "description": "Viewport width"
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 800
            },
            "description": "Viewport height"
          },
          {
            "name": "fullpage",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Capture full page"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "png",
                "jpeg",
                "webp"
              ],
              "default": "png"
            },
            "description": "Output format"
          },
          {
            "name": "delay",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Delay in ms before capture"
          }
        ],
        "responses": {
          "200": {
            "description": "Screenshot image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Take a screenshot of a URL"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Screenshots"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
