{
  "openapi": "3.0.3",
  "info": {
    "title": "Geckoboard Datasets API",
    "version": "1.0.0",
    "description": "Geckoboard's Datasets API is a powerful and flexible way to compile data from in-house systems, third-party tools, and databases on your Geckoboard dashboard. You can create datasets, push data to them, and they will automatically update all widgets powered by that dataset.",
    "x-jentic-source-url": "https://developer.geckoboard.com"
  },
  "servers": [
    {
      "url": "https://api.geckoboard.com"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "ping",
        "summary": "Ping",
        "description": "Verify that your API key is valid and that you can reach the Geckoboard API.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{dataset_id}": {
      "put": {
        "operationId": "findOrCreateDataset",
        "summary": "Find or create a new dataset",
        "description": "Creates a new dataset or returns an existing one with the specified ID. The request body defines the schema of the dataset including field names and types.",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the dataset (e.g., 'sales.by_day')",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dataset found or created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDataset",
        "summary": "Delete a dataset",
        "description": "Permanently deletes a dataset and all its data. Any widgets using this dataset will no longer display data.",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the dataset to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset deleted successfully"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{dataset_id}/data": {
      "post": {
        "operationId": "appendDataToDataset",
        "summary": "Append data to a dataset",
        "description": "Appends one or more rows of data to an existing dataset. Data is added to the existing records without removing any.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the dataset",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data appended successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "replaceDataInDataset",
        "summary": "Replace all data in a dataset",
        "description": "Replaces all existing data in a dataset with the provided data. All previous records are removed and the new data is inserted.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the dataset",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data replaced successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "clearDatasetData",
        "summary": "Clear all data in a dataset",
        "description": "Removes all data from a dataset while keeping the dataset schema intact.",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the dataset",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data cleared successfully"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DatasetDefinition": {
        "type": "object",
        "required": [
          "fields"
        ],
        "properties": {
          "fields": {
            "type": "object",
            "description": "An object defining the schema of the dataset. Each key is a field name, and the value describes the field type.",
            "additionalProperties": {
              "$ref": "#/components/schemas/FieldDefinition"
            }
          },
          "unique_by": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An array of one or more field names whose values will be unique across all records."
          }
        }
      },
      "FieldDefinition": {
        "type": "object",
        "required": [
          "type",
          "name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "date",
              "datetime",
              "duration",
              "money",
              "number",
              "percentage",
              "string"
            ],
            "description": "The data type of the field."
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the field."
          },
          "optional": {
            "type": "boolean",
            "description": "Whether the field can be NULL.",
            "default": false
          },
          "currency_code": {
            "type": "string",
            "description": "ISO 4217 currency code (required for money type)."
          },
          "time_unit": {
            "type": "string",
            "enum": [
              "milliseconds",
              "seconds",
              "minutes",
              "hours"
            ],
            "description": "Time unit for duration fields."
          }
        }
      },
      "DatasetResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the dataset."
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FieldDefinition"
            }
          },
          "unique_by": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DataPayload": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "An array of data objects. Each object represents a row, with keys matching the dataset's field names.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "A human-readable error message."
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your Geckoboard API key as the username with an empty password for HTTP Basic authentication."
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}