{
  "openapi": "3.0.3",
  "info": {
    "title": "PROD Decktopus API Documentation",
    "version": "1.0.0",
    "description": "API Documentation for OAuth",
    "x-jentic-source-url": "https://apiv21.decktopus.com/api-docs-oauth/"
  },
  "servers": [
    {
      "url": "https://apiv21.decktopus.com"
    }
  ],
  "paths": {
    "/api/oauth/login": {
      "get": {
        "summary": "OAuth Login Endpoint",
        "description": "OAuth 2.0 login endpoint for Zapier and other integrations",
        "tags": [
          "OAuth"
        ]
      }
    },
    "/api/oauth/authorize": {
      "get": {
        "summary": "OAuth Authorization Endpoint",
        "description": "OAuth 2.0 authorization endpoint for Zapier and other integrations",
        "tags": [
          "OAuth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "response_type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          },
          {
            "in": "query",
            "name": "user_token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "redirect_uri",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "scope",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to client with authorization code"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/token": {
      "post": {
        "summary": "OAuth Token Endpoint",
        "description": "Exchange authorization code for access token or refresh access token",
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code",
                      "refresh_token"
                    ]
                  },
                  "code": {
                    "type": "string",
                    "oneOf": [
                      {
                        "x-required": true
                      }
                    ]
                  },
                  "redirect_uri": {
                    "type": "string",
                    "oneOf": [
                      {
                        "x-required": true
                      }
                    ]
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "refresh_token": {
                    "type": "string",
                    "oneOf": [
                      {
                        "x-required": true
                      }
                    ]
                  }
                },
                "required": [
                  "client_id",
                  "client_secret"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string",
                      "enum": [
                        "Bearer"
                      ]
                    },
                    "expires_in": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "refresh_token": {
                      "type": "string"
                    },
                    "scope": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "access_token",
                    "token_type",
                    "expires_in",
                    "refresh_token",
                    "scope"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/revoke": {
      "post": {
        "summary": "OAuth Token Revocation Endpoint",
        "description": "Revoke access or refresh token",
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "token_type_hint": {
                    "type": "string",
                    "enum": [
                      "access_token",
                      "refresh_token"
                    ]
                  }
                },
                "required": [
                  "token"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token revoked successfully"
          }
        }
      }
    },
    "/api/oauth/me": {
      "get": {
        "summary": "OAuth Me Endpoint",
        "description": "Get the authenticated user",
        "tags": [
          "OAuth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "email",
                    "name"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/applications": {
      "post": {
        "summary": "Create OAuth Application",
        "description": "Create a new OAuth application (admin only)",
        "tags": [
          "OAuth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "redirect_uris": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "read",
                        "write",
                        "decks",
                        "themes",
                        "user"
                      ]
                    }
                  },
                  "is_trusted": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "redirect_uris"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "client_id": {
                      "type": "string"
                    },
                    "client_secret": {
                      "type": "string"
                    },
                    "redirect_uris": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "is_trusted": {
                      "type": "boolean"
                    },
                    "is_active": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "client_id",
                    "redirect_uris",
                    "scopes",
                    "is_trusted",
                    "is_active",
                    "created_at",
                    "updated_at"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/organizations": {
      "get": {
        "summary": "List User Organizations",
        "description": "Get a list of organizations the authenticated user has access to",
        "tags": [
          "OAuth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organizations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "is_active": {
                            "type": "boolean"
                          },
                          "is_owner": {
                            "type": "boolean"
                          },
                          "is_admin": {
                            "type": "boolean"
                          },
                          "logo_url": {
                            "type": "string",
                            "nullable": true
                          },
                          "owner_plan": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "state"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "is_active",
                          "is_owner",
                          "is_admin"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "organizations"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/themes": {
      "get": {
        "summary": "List AI-Ready Themes",
        "description": "Get a list of AI-ready deckV3 themes, optionally filtered by organization",
        "tags": [
          "OAuth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organizationId",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "themes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "thumbnail_url": {
                            "type": "string",
                            "nullable": true
                          },
                          "small_thumbnail_url": {
                            "type": "string",
                            "nullable": true
                          },
                          "small_mobile_thumbnail_url": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "ai_keywords": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "themes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/styles": {
      "get": {
        "summary": "List Styles",
        "description": "Get a list of available styles for OAuth integrations. Optionally filter by themeId or organizationId.",
        "tags": [
          "OAuth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "deckId",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "themeId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "organizationId",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "styles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "ai_keywords": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "styles"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/deck": {
      "post": {
        "summary": "Generate a deck using Zapier with prompt only",
        "description": "Generate a deck using Zapier integration with OAuth authentication",
        "tags": [
          "OAuth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string"
                  },
                  "organizationId": {
                    "type": "integer"
                  },
                  "themeId": {
                    "type": "string"
                  },
                  "styleId": {
                    "type": "string"
                  },
                  "mediaProvider": {
                    "type": "string",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "title": "ENUMS.MediaProviders"
                  },
                  "callbackUrl": {
                    "type": "string",
                    "pattern": "(https:\\/\\/www\\.|http:\\/\\/www\\.|https:\\/\\/|http:\\/\\/)?[a-zA-Z0-9]{1,}(\\.[a-zA-Z0-9]{1,})(\\.[a-zA-Z0-9]{1,})?"
                  },
                  "imageType": {
                    "type": "string",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3",
                      "4"
                    ],
                    "title": "ENUMS.ImageTypes"
                  }
                },
                "required": [
                  "prompt",
                  "themeId"
                ],
                "additionalProperties": false,
                "title": "postZapierDeckGenerationBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deckId": {
                          "type": "integer"
                        },
                        "deckName": {
                          "type": "string"
                        },
                        "shareUrl": {
                          "type": "string",
                          "pattern": "(https:\\/\\/www\\.|http:\\/\\/www\\.|https:\\/\\/|http:\\/\\/)?[a-zA-Z0-9]{1,}(\\.[a-zA-Z0-9]{1,})(\\.[a-zA-Z0-9]{1,})?"
                        }
                      },
                      "additionalProperties": false
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "",
                        "VALIDATION_EMAIL_MALFORMED",
                        "VALIDATION_PASSWORD_LENGTH",
                        "AICREDITREASONDEFAULTVALUE_NOT_FOUND",
                        "API_ERROR",
                        "DATE_ERROR",
                        "INCORRECT_PROVIDER",
                        "KEY_NOT_FOUND",
                        "NO_ORG_ACCESS",
                        "NO_TEAM_ACCESS",
                        "PLAN_NOT_FOUND",
                        "ACTIVE_PAYMENT_IN_PROGRESS",
                        "PLAN_IS_NOT_AVAILABLE",
                        "PLAN_PRODUCT_NOT_FOUND",
                        "PRICE_NOT_FOUND",
                        "USER_NOT_FOUND",
                        "USER_PLAN_NOT_FOUND",
                        "USER_EXIST",
                        "WRONG_PASSWORD",
                        "USER_NOT_VERIFIED",
                        "REFERRED_USER_EXIST",
                        "ALREADY_REFERRED",
                        "CAN_NOT_PURCHASE",
                        "CAN_NOT_UPGRADE",
                        "SUBSCRIPTION_NOT_FOUND",
                        "SUBSCRIPTION_ITEM_NOT_FOUND",
                        "SUBSCRIPTION_CHANGE_NOT_FOUND",
                        "SUBSCRIPTION_IS_NOT_ACTIVE",
                        "UNKNOWN_EVENT_TYPE",
                        "TEAM_NOT_FOUND",
                        "ORG_NOT_FOUND",
                        "ACCESS_NOT_FOUND",
                        "USER_ALREADY_EXISTS_IN_THIS_ORGANIZATION",
                        "USERS_ALREADY_EXISTS_IN_THIS_TEAM",
                        "INVITATION_ALREADY_EXISTS",
                        "INVITATION_NOT_FOUND",
                        "ORGANIZATION_NOT_FOUND",
                        "ORGANIZATION_SEATSIZE_DOWNGRADE",
                        "AI_CREDIT_REASON_NOT_DEFINED",
                        "INSUFFICIENT_AI_CREDIT",
                        "WEBHOOK_EXISTS",
                        "WEBHOOK_NOT_EXISTS",
                        "WEBHOOK_NO_CHANGE",
                        "PASSWORD_RESET_REQUEST_EXPIRED_OR_NOT_FOUND",
                        "TEAM_IS_NOT_IN_THIS_ORGANIZATION",
                        "USERS_NOT_FOUND_IN_THIS_ORGANIZATION",
                        "USER_NOT_FOUND_IN_THIS_TEAM",
                        "USER_NOT_FOUND_IN_THIS_ORGANIZATION",
                        "CANNOT_UPDATE_SELF_USER",
                        "MISSING_QUESTION_TYPES",
                        "USER_ALREADY_CLASSIFIED",
                        "WRONG_VERIFICATION_CODE",
                        "USER_ALREADY_VERIFIED",
                        "TARGET_USER_IS_OWNER",
                        "CANNOT_REMOVE_SELF_USER",
                        "CANNOT_REMOVE_ADMIN_USER",
                        "ORGANIZATION_SEATSIZE_REACHED",
                        "THEME_NOT_FOUND",
                        "THEME_LAYOUT_NOT_FOUND",
                        "RAW_THEME_NOT_FOUND",
                        "SLIDELAYOUT_EXIST",
                        "SLIDELAYOUT_NOT_FOUND",
                        "THEMECOLOR_NOT_FOUND",
                        "THEMEFONT_NOT_FOUND",
                        "COMPONENT_NOT_FOUND",
                        "STRIPE_CUSTOMER_NOT_FOUND",
                        "ASSET_NOT_FOUND",
                        "FOLDER_NOT_FOUND",
                        "DECK_NOT_FOUND",
                        "INVALID_EDITOR_VERSION",
                        "DECK_ALREADY_SHARED",
                        "DECKSHARE_NOT_FOUND",
                        "CUSTOMDOMAIN_NOT_FOUND",
                        "SHORTCODE_ALREADY_EXISTS",
                        "CUSTOMDOMAIN_ALREADY_EXISTS",
                        "CUSTOMDOMAINSLUG_ALREADY_EXISTS",
                        "SLIDEDATA_NOT_FOUND",
                        "DECKDATA_NOT_FOUND",
                        "OPENAI_MAXRETRY_REACHED",
                        "THEMECATEGORY_NOT_FOUND",
                        "MINROLE_ERROR",
                        "SLIDE_NOT_FOUND",
                        "INVALID_OFFSET",
                        "FORM_QUESTION_NOT_FOUND",
                        "UNKNOWN_FORMQUESTION_TYPE",
                        "MODERATION_ERROR",
                        "DECKPROMPT_NOT_FOUND",
                        "DECKSTATE_IS_NOT_FINAL",
                        "THEMECOLOR_THEMEFONT_NOT_IN_SAME_THEMECATEGORY",
                        "SLIDELAYOUT_CATEGORY_NOT_FOUND",
                        "CONTENT_TOO_LONG",
                        "DECK_EXPORT_IN_PROGRESS",
                        "CANNOT_UPDATE_SELF_PERMISSION",
                        "CANNOT_UPDATE_OWNERS_PERMISSION",
                        "USER_DECK_NOT_FOUND",
                        "PASSWORD_RESET_REQUIRED",
                        "PERMISSION_ERROR",
                        "AI_IMAGE_GENERATION_FAILED",
                        "NOT_AI_DECK",
                        "MULTIPLE_FORM_IN_SLIDE_NOT_ALLOWED",
                        "LINECHART_LAYOUT_NOT_ENABLED",
                        "CUSTOMDOMAIN_REQUIRES_HTTPS",
                        "USER_INACTIVE",
                        "NO_ANSWER_ON_REQUIRED_QUESTION",
                        "CANNOT_LOGIN_AS_ADMIN",
                        "CANNOT_UPDATE_ADMIN_EMAIL",
                        "CANNOT_DELETE_PIVOT_DECK",
                        "CAPTCHA_NOT_CORRECT",
                        "CHAR_LIMIT_EXCEEDED",
                        "PASSWORD_REQUIRED",
                        "CANCEL_PROMO_ALREADY_USED",
                        "SUBSCRIPTION_ID_NOT_FOUND",
                        "DECK_FILE_NOT_FOUND",
                        "DECK_FILES_NOT_READY",
                        "DECK_FILE_PROCESSING_FAILED",
                        "DECK_V3_DOCUMENT_NOT_FOUND",
                        "DECK_V3_STYLE_NOT_FOUND",
                        "INVALID_PARAMS",
                        "DECK_SLIDES_NOT_FOUND",
                        "EDITOR_NOT_SUPPORTED",
                        "MFA_NOT_SETUP",
                        "MFA_ALREADY_ENABLED",
                        "MFA_NOT_ENABLED",
                        "MFA_INVALID_TOKEN",
                        "MFA_REQUIRED",
                        "MFA_SESSION_EXPIRED",
                        "OAUTH_INVALID_CLIENT",
                        "OAUTH_INVALID_GRANT",
                        "OAUTH_INVALID_REQUEST",
                        "OAUTH_INVALID_SCOPE",
                        "OAUTH_INVALID_TOKEN",
                        "OAUTH_INVALID_REDIRECT_URI",
                        "OAUTH_UNAUTHORIZED_CLIENT",
                        "OAUTH_UNSUPPORTED_GRANT_TYPE",
                        "OAUTH_UNSUPPORTED_RESPONSE_TYPE",
                        "OAUTH_ACCESS_DENIED",
                        "OAUTH_TOKEN_EXPIRED",
                        "INVALID_FILE_TYPE",
                        "LIBREOFFICE_CONVERSION_FAILED",
                        "BACKGROUND_EXTRACTION_FAILED",
                        "DUPLICATE_DETECTION_FAILED",
                        "OPENAI_ERROR"
                      ],
                      "title": "string | ErrorDefinitions"
                    },
                    "code": {
                      "type": "number",
                      "format": "float"
                    }
                  },
                  "additionalProperties": false,
                  "title": "postZapierDeckGenerationResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/upload": {
      "post": {
        "summary": "Upload files for OAuth integration",
        "description": "Generate upload URLs for files to be used in deck generation with OAuth authentication",
        "tags": [
          "OAuth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fileName": {
                          "type": "string"
                        },
                        "extension": {
                          "type": "string",
                          "enum": [
                            "csv",
                            "docx",
                            "json",
                            "md",
                            "pdf",
                            "pptx",
                            "txt",
                            "xlsx",
                            "xml"
                          ]
                        }
                      },
                      "required": [
                        "fileName",
                        "extension"
                      ],
                      "additionalProperties": false
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "files"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uploadUrls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uploadUrl": {
                            "type": "string"
                          },
                          "fileId": {
                            "type": "string",
                            "format": "uuid"
                          }
                        },
                        "required": [
                          "uploadUrl",
                          "fileId"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "uploadUrls"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/deck-with-files": {
      "post": {
        "summary": "Generate a deck using Zapier with prompt and files",
        "description": "Generate a deck using Zapier integration with files and OAuth authentication",
        "tags": [
          "OAuth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string"
                  },
                  "organizationId": {
                    "type": "integer"
                  },
                  "themeId": {
                    "type": "string"
                  },
                  "styleId": {
                    "type": "string"
                  },
                  "mediaProvider": {
                    "type": "string",
                    "enum": [
                      "0",
                      "1"
                    ],
                    "title": "ENUMS.MediaProviders"
                  },
                  "callbackUrl": {
                    "type": "string"
                  },
                  "imageType": {
                    "type": "string",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3",
                      "4"
                    ],
                    "title": "ENUMS.ImageTypes"
                  },
                  "fileIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "prompt",
                  "themeId",
                  "fileIds"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deckId": {
                          "type": "integer"
                        },
                        "deckName": {
                          "type": "string"
                        },
                        "shareUrl": {
                          "type": "string",
                          "pattern": "(https:\\/\\/www\\.|http:\\/\\/www\\.|https:\\/\\/|http:\\/\\/)?[a-zA-Z0-9]{1,}(\\.[a-zA-Z0-9]{1,})(\\.[a-zA-Z0-9]{1,})?"
                        }
                      },
                      "additionalProperties": false
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "",
                        "VALIDATION_EMAIL_MALFORMED",
                        "VALIDATION_PASSWORD_LENGTH",
                        "AICREDITREASONDEFAULTVALUE_NOT_FOUND",
                        "API_ERROR",
                        "DATE_ERROR",
                        "INCORRECT_PROVIDER",
                        "KEY_NOT_FOUND",
                        "NO_ORG_ACCESS",
                        "NO_TEAM_ACCESS",
                        "PLAN_NOT_FOUND",
                        "ACTIVE_PAYMENT_IN_PROGRESS",
                        "PLAN_IS_NOT_AVAILABLE",
                        "PLAN_PRODUCT_NOT_FOUND",
                        "PRICE_NOT_FOUND",
                        "USER_NOT_FOUND",
                        "USER_PLAN_NOT_FOUND",
                        "USER_EXIST",
                        "WRONG_PASSWORD",
                        "USER_NOT_VERIFIED",
                        "REFERRED_USER_EXIST",
                        "ALREADY_REFERRED",
                        "CAN_NOT_PURCHASE",
                        "CAN_NOT_UPGRADE",
                        "SUBSCRIPTION_NOT_FOUND",
                        "SUBSCRIPTION_ITEM_NOT_FOUND",
                        "SUBSCRIPTION_CHANGE_NOT_FOUND",
                        "SUBSCRIPTION_IS_NOT_ACTIVE",
                        "UNKNOWN_EVENT_TYPE",
                        "TEAM_NOT_FOUND",
                        "ORG_NOT_FOUND",
                        "ACCESS_NOT_FOUND",
                        "USER_ALREADY_EXISTS_IN_THIS_ORGANIZATION",
                        "USERS_ALREADY_EXISTS_IN_THIS_TEAM",
                        "INVITATION_ALREADY_EXISTS",
                        "INVITATION_NOT_FOUND",
                        "ORGANIZATION_NOT_FOUND",
                        "ORGANIZATION_SEATSIZE_DOWNGRADE",
                        "AI_CREDIT_REASON_NOT_DEFINED",
                        "INSUFFICIENT_AI_CREDIT",
                        "WEBHOOK_EXISTS",
                        "WEBHOOK_NOT_EXISTS",
                        "WEBHOOK_NO_CHANGE",
                        "PASSWORD_RESET_REQUEST_EXPIRED_OR_NOT_FOUND",
                        "TEAM_IS_NOT_IN_THIS_ORGANIZATION",
                        "USERS_NOT_FOUND_IN_THIS_ORGANIZATION",
                        "USER_NOT_FOUND_IN_THIS_TEAM",
                        "USER_NOT_FOUND_IN_THIS_ORGANIZATION",
                        "CANNOT_UPDATE_SELF_USER",
                        "MISSING_QUESTION_TYPES",
                        "USER_ALREADY_CLASSIFIED",
                        "WRONG_VERIFICATION_CODE",
                        "USER_ALREADY_VERIFIED",
                        "TARGET_USER_IS_OWNER",
                        "CANNOT_REMOVE_SELF_USER",
                        "CANNOT_REMOVE_ADMIN_USER",
                        "ORGANIZATION_SEATSIZE_REACHED",
                        "THEME_NOT_FOUND",
                        "THEME_LAYOUT_NOT_FOUND",
                        "RAW_THEME_NOT_FOUND",
                        "SLIDELAYOUT_EXIST",
                        "SLIDELAYOUT_NOT_FOUND",
                        "THEMECOLOR_NOT_FOUND",
                        "THEMEFONT_NOT_FOUND",
                        "COMPONENT_NOT_FOUND",
                        "STRIPE_CUSTOMER_NOT_FOUND",
                        "ASSET_NOT_FOUND",
                        "FOLDER_NOT_FOUND",
                        "DECK_NOT_FOUND",
                        "INVALID_EDITOR_VERSION",
                        "DECK_ALREADY_SHARED",
                        "DECKSHARE_NOT_FOUND",
                        "CUSTOMDOMAIN_NOT_FOUND",
                        "SHORTCODE_ALREADY_EXISTS",
                        "CUSTOMDOMAIN_ALREADY_EXISTS",
                        "CUSTOMDOMAINSLUG_ALREADY_EXISTS",
                        "SLIDEDATA_NOT_FOUND",
                        "DECKDATA_NOT_FOUND",
                        "OPENAI_MAXRETRY_REACHED",
                        "THEMECATEGORY_NOT_FOUND",
                        "MINROLE_ERROR",
                        "SLIDE_NOT_FOUND",
                        "INVALID_OFFSET",
                        "FORM_QUESTION_NOT_FOUND",
                        "UNKNOWN_FORMQUESTION_TYPE",
                        "MODERATION_ERROR",
                        "DECKPROMPT_NOT_FOUND",
                        "DECKSTATE_IS_NOT_FINAL",
                        "THEMECOLOR_THEMEFONT_NOT_IN_SAME_THEMECATEGORY",
                        "SLIDELAYOUT_CATEGORY_NOT_FOUND",
                        "CONTENT_TOO_LONG",
                        "DECK_EXPORT_IN_PROGRESS",
                        "CANNOT_UPDATE_SELF_PERMISSION",
                        "CANNOT_UPDATE_OWNERS_PERMISSION",
                        "USER_DECK_NOT_FOUND",
                        "PASSWORD_RESET_REQUIRED",
                        "PERMISSION_ERROR",
                        "AI_IMAGE_GENERATION_FAILED",
                        "NOT_AI_DECK",
                        "MULTIPLE_FORM_IN_SLIDE_NOT_ALLOWED",
                        "LINECHART_LAYOUT_NOT_ENABLED",
                        "CUSTOMDOMAIN_REQUIRES_HTTPS",
                        "USER_INACTIVE",
                        "NO_ANSWER_ON_REQUIRED_QUESTION",
                        "CANNOT_LOGIN_AS_ADMIN",
                        "CANNOT_UPDATE_ADMIN_EMAIL",
                        "CANNOT_DELETE_PIVOT_DECK",
                        "CAPTCHA_NOT_CORRECT",
                        "CHAR_LIMIT_EXCEEDED",
                        "PASSWORD_REQUIRED",
                        "CANCEL_PROMO_ALREADY_USED",
                        "SUBSCRIPTION_ID_NOT_FOUND",
                        "DECK_FILE_NOT_FOUND",
                        "DECK_FILES_NOT_READY",
                        "DECK_FILE_PROCESSING_FAILED",
                        "DECK_V3_DOCUMENT_NOT_FOUND",
                        "DECK_V3_STYLE_NOT_FOUND",
                        "INVALID_PARAMS",
                        "DECK_SLIDES_NOT_FOUND",
                        "EDITOR_NOT_SUPPORTED",
                        "MFA_NOT_SETUP",
                        "MFA_ALREADY_ENABLED",
                        "MFA_NOT_ENABLED",
                        "MFA_INVALID_TOKEN",
                        "MFA_REQUIRED",
                        "MFA_SESSION_EXPIRED",
                        "OAUTH_INVALID_CLIENT",
                        "OAUTH_INVALID_GRANT",
                        "OAUTH_INVALID_REQUEST",
                        "OAUTH_INVALID_SCOPE",
                        "OAUTH_INVALID_TOKEN",
                        "OAUTH_INVALID_REDIRECT_URI",
                        "OAUTH_UNAUTHORIZED_CLIENT",
                        "OAUTH_UNSUPPORTED_GRANT_TYPE",
                        "OAUTH_UNSUPPORTED_RESPONSE_TYPE",
                        "OAUTH_ACCESS_DENIED",
                        "OAUTH_TOKEN_EXPIRED",
                        "INVALID_FILE_TYPE",
                        "LIBREOFFICE_CONVERSION_FAILED",
                        "BACKGROUND_EXTRACTION_FAILED",
                        "DUPLICATE_DETECTION_FAILED",
                        "OPENAI_ERROR"
                      ],
                      "title": "string | ErrorDefinitions"
                    },
                    "code": {
                      "type": "number",
                      "format": "float"
                    }
                  },
                  "additionalProperties": false,
                  "title": "postZapierDeckGenerationResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "error_uri": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "scheme": "bearer",
        "type": "http",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": []
}