{
  "openapi": "3.0.3",
  "info": {
    "title": "EasyPost Shipping API",
    "description": "EasyPost provides a simple, unified shipping API for UPS, USPS, FedEx, DHL, and more. It enables comparing rates, purchasing postage, tracking packages, verifying addresses, and managing shipments at scale.",
    "version": "2",
    "x-jentic-source-url": "https://docs.easypost.com",
    "contact": {
      "name": "EasyPost Support",
      "url": "https://www.easypost.com/support"
    }
  },
  "servers": [
    {
      "url": "https://api.easypost.com/v2",
      "description": "EasyPost Production API"
    }
  ],
  "paths": {
    "/addresses": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Create an address",
        "operationId": "createAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Retrieve all addresses",
        "operationId": "listAddresses",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/BeforeId"
          },
          {
            "$ref": "#/components/parameters/AfterId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/addresses/create_and_verify": {
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "Create and verify an address in one step",
        "operationId": "createAndVerifyAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created and verified address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "description": "Address verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/addresses/{id}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Retrieve an address",
        "operationId": "getAddress",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Address ID (begins with adr_)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/addresses/{id}/verify": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Verify an existing address",
        "operationId": "verifyAddress",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Address ID to verify",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "description": "Verification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/parcels": {
      "post": {
        "tags": [
          "Parcels"
        ],
        "summary": "Create a parcel",
        "operationId": "createParcel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParcelCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created parcel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Parcel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/parcels/{id}": {
      "get": {
        "tags": [
          "Parcels"
        ],
        "summary": "Retrieve a parcel",
        "operationId": "getParcel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Parcel ID (begins with prcl_)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parcel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Parcel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shipments": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Create a shipment",
        "operationId": "createShipment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created shipment with rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Retrieve all shipments",
        "operationId": "listShipments",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/BeforeId"
          },
          {
            "$ref": "#/components/parameters/AfterId"
          },
          {
            "$ref": "#/components/parameters/StartDatetime"
          },
          {
            "$ref": "#/components/parameters/EndDatetime"
          },
          {
            "name": "purchased",
            "in": "query",
            "description": "Filter by purchased status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_children",
            "in": "query",
            "description": "Include child user shipments",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of shipments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shipments/{id}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Retrieve a shipment",
        "operationId": "getShipment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Shipment ID or reference",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shipments/{id}/buy": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Purchase a shipment",
        "operationId": "buyShipment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Shipment ID to purchase",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentBuyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purchased shipment with label and tracking code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shipments/{id}/label": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Convert label format for a shipment",
        "operationId": "convertShipmentLabel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Shipment ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_format",
            "in": "query",
            "description": "Target label format",
            "schema": {
              "type": "string",
              "enum": [
                "PDF",
                "ZPL",
                "EPL2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment with converted label URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trackers": {
      "post": {
        "tags": [
          "Trackers"
        ],
        "summary": "Create a tracker",
        "operationId": "createTracker",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackerCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created tracker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tracker"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Trackers"
        ],
        "summary": "Retrieve all trackers",
        "operationId": "listTrackers",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/BeforeId"
          },
          {
            "$ref": "#/components/parameters/AfterId"
          },
          {
            "$ref": "#/components/parameters/StartDatetime"
          },
          {
            "$ref": "#/components/parameters/EndDatetime"
          },
          {
            "name": "tracking_codes",
            "in": "query",
            "description": "Filter by specific tracking codes",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "carrier",
            "in": "query",
            "description": "Filter by carrier name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of trackers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackerList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/trackers/{id}": {
      "get": {
        "tags": [
          "Trackers"
        ],
        "summary": "Retrieve a tracker",
        "operationId": "getTracker",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tracker ID (begins with trk_)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracker details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tracker"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Trackers"
        ],
        "summary": "Delete a tracker",
        "operationId": "deleteTracker",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tracker ID to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracker successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/insurances": {
      "post": {
        "tags": [
          "Insurance"
        ],
        "summary": "Create an insurance record",
        "operationId": "createInsurance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsuranceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created insurance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insurance"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Insurance"
        ],
        "summary": "Retrieve all insurance records",
        "operationId": "listInsurances",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/BeforeId"
          },
          {
            "$ref": "#/components/parameters/AfterId"
          },
          {
            "$ref": "#/components/parameters/StartDatetime"
          },
          {
            "$ref": "#/components/parameters/EndDatetime"
          }
        ],
        "responses": {
          "200": {
            "description": "List of insurance records",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/insurances/{id}": {
      "get": {
        "tags": [
          "Insurance"
        ],
        "summary": "Retrieve an insurance record",
        "operationId": "getInsurance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Insurance ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Insurance details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insurance"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/insurances/{id}/refund": {
      "post": {
        "tags": [
          "Insurance"
        ],
        "summary": "Refund a standalone insurance record",
        "operationId": "refundInsurance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Insurance ID to refund",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Insurance refunded with status cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insurance"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/refunds": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Create refunds for tracking codes",
        "operationId": "createRefund",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created refund records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Refund"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Refunds"
        ],
        "summary": "Retrieve all refunds",
        "operationId": "listRefunds",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/BeforeId"
          },
          {
            "$ref": "#/components/parameters/AfterId"
          },
          {
            "$ref": "#/components/parameters/StartDatetime"
          },
          {
            "$ref": "#/components/parameters/EndDatetime"
          }
        ],
        "responses": {
          "200": {
            "description": "List of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/refunds/{id}": {
      "get": {
        "tags": [
          "Refunds"
        ],
        "summary": "Retrieve a refund",
        "operationId": "getRefund",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Refund ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batches": {
      "post": {
        "tags": [
          "Batches"
        ],
        "summary": "Create a batch",
        "operationId": "createBatch",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created batch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Batches"
        ],
        "summary": "Retrieve all batches",
        "operationId": "listBatches",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/BeforeId"
          },
          {
            "$ref": "#/components/parameters/AfterId"
          },
          {
            "$ref": "#/components/parameters/StartDatetime"
          },
          {
            "$ref": "#/components/parameters/EndDatetime"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of batches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{id}": {
      "get": {
        "tags": [
          "Batches"
        ],
        "summary": "Retrieve a batch",
        "operationId": "getBatch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Batch ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{id}/add_shipments": {
      "post": {
        "tags": [
          "Batches"
        ],
        "summary": "Add shipments to a batch",
        "operationId": "addShipmentsToBatch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Batch ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchShipmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated batch with added shipments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{id}/remove_shipments": {
      "post": {
        "tags": [
          "Batches"
        ],
        "summary": "Remove shipments from a batch",
        "operationId": "removeShipmentsFromBatch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Batch ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchShipmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated batch with shipments removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{id}/buy": {
      "post": {
        "tags": [
          "Batches"
        ],
        "summary": "Purchase all shipments in a batch",
        "operationId": "buyBatch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Batch ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch with purchasing initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{id}/label": {
      "post": {
        "tags": [
          "Batches"
        ],
        "summary": "Generate labels for a batch",
        "operationId": "generateBatchLabel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Batch ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_format": {
                    "type": "string",
                    "enum": [
                      "PDF",
                      "ZPL",
                      "EPL2"
                    ],
                    "description": "Label file format"
                  }
                },
                "required": [
                  "file_format"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch with label URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{id}/scan_form": {
      "post": {
        "tags": [
          "Batches"
        ],
        "summary": "Create a scan form for a batch",
        "operationId": "createBatchScanForm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Batch ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch with associated scan form",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customs_items": {
      "post": {
        "tags": [
          "CustomsItems"
        ],
        "summary": "Create a customs item",
        "operationId": "createCustomsItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomsItemCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created customs item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomsItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customs_items/{id}": {
      "get": {
        "tags": [
          "CustomsItems"
        ],
        "summary": "Retrieve a customs item",
        "operationId": "getCustomsItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "CustomsItem ID (begins with cstitem_)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customs item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomsItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create an order",
        "operationId": "createOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created order with rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Retrieve an order",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order ID (begins with order_)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}/buy": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Purchase an order",
        "operationId": "buyOrder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Order ID to purchase",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderBuyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purchased order with tracking and labels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pickups": {
      "post": {
        "tags": [
          "Pickups"
        ],
        "summary": "Create a pickup",
        "operationId": "createPickup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PickupCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created pickup with rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pickup"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Pickups"
        ],
        "summary": "Retrieve all pickups",
        "operationId": "listPickups",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/BeforeId"
          },
          {
            "$ref": "#/components/parameters/AfterId"
          },
          {
            "$ref": "#/components/parameters/StartDatetime"
          },
          {
            "$ref": "#/components/parameters/EndDatetime"
          }
        ],
        "responses": {
          "200": {
            "description": "List of pickups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickupList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pickups/{id}": {
      "get": {
        "tags": [
          "Pickups"
        ],
        "summary": "Retrieve a pickup",
        "operationId": "getPickup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Pickup ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pickup details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pickup"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pickups/{id}/buy": {
      "post": {
        "tags": [
          "Pickups"
        ],
        "summary": "Purchase a pickup",
        "operationId": "buyPickup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Pickup ID to purchase",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PickupBuyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purchased pickup with confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pickup"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pickups/{id}/cancel": {
      "post": {
        "tags": [
          "Pickups"
        ],
        "summary": "Cancel a pickup",
        "operationId": "cancelPickup",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Pickup ID to cancel",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled pickup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pickup"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scan_forms": {
      "post": {
        "tags": [
          "ScanForms"
        ],
        "summary": "Create a scan form",
        "operationId": "createScanForm",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanFormCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created scan form",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanForm"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ScanForms"
        ],
        "summary": "Retrieve all scan forms",
        "operationId": "listScanForms",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/BeforeId"
          },
          {
            "$ref": "#/components/parameters/AfterId"
          },
          {
            "$ref": "#/components/parameters/StartDatetime"
          },
          {
            "$ref": "#/components/parameters/EndDatetime"
          }
        ],
        "responses": {
          "200": {
            "description": "List of scan forms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanFormList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scan_forms/{id}": {
      "get": {
        "tags": [
          "ScanForms"
        ],
        "summary": "Retrieve a scan form",
        "operationId": "getScanForm",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ScanForm ID (begins with sf_)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scan form details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanForm"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook",
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve all webhooks",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve a webhook",
        "operationId": "getWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update a webhook",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated webhook",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve all events",
        "operationId": "listEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/BeforeId"
          },
          {
            "$ref": "#/components/parameters/AfterId"
          },
          {
            "$ref": "#/components/parameters/StartDatetime"
          },
          {
            "$ref": "#/components/parameters/EndDatetime"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve an event",
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Event ID (begins with evt_)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/carrier_accounts": {
      "post": {
        "tags": [
          "CarrierAccounts"
        ],
        "summary": "Create a carrier account",
        "operationId": "createCarrierAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierAccountCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created carrier account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "CarrierAccounts"
        ],
        "summary": "Retrieve all carrier accounts",
        "operationId": "listCarrierAccounts",
        "responses": {
          "200": {
            "description": "List of carrier accounts (unpaginated)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CarrierAccount"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/carrier_accounts/{id}": {
      "get": {
        "tags": [
          "CarrierAccounts"
        ],
        "summary": "Retrieve a carrier account",
        "operationId": "getCarrierAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "CarrierAccount ID (begins with ca_) or reference",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Carrier account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CarrierAccounts"
        ],
        "summary": "Update a carrier account",
        "operationId": "updateCarrierAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "CarrierAccount ID to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierAccountUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated carrier account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CarrierAccounts"
        ],
        "summary": "Delete a carrier account",
        "operationId": "deleteCarrierAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "CarrierAccount ID to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Carrier account deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Use your EasyPost API key as the username with no password. All requests must use TLS v1.2."
      }
    },
    "parameters": {
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "description": "Number of records per page (max 100, default 20)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      },
      "BeforeId": {
        "name": "before_id",
        "in": "query",
        "description": "Pagination cursor: only return records created before this ID",
        "schema": {
          "type": "string"
        }
      },
      "AfterId": {
        "name": "after_id",
        "in": "query",
        "description": "Pagination cursor: only return records created after this ID",
        "schema": {
          "type": "string"
        }
      },
      "StartDatetime": {
        "name": "start_datetime",
        "in": "query",
        "description": "Filter records created on or after this ISO 8601 datetime",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "EndDatetime": {
        "name": "end_datetime",
        "in": "query",
        "description": "Filter records created on or before this ISO 8601 datetime",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "errors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "description": "Field-level validation errors"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Address": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier beginning with adr_"
          },
          "object": {
            "type": "string",
            "enum": [
              "Address"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "test",
              "production"
            ]
          },
          "street1": {
            "type": "string"
          },
          "street2": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166 country code"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "company": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "residential": {
            "type": "boolean",
            "nullable": true
          },
          "carrier_facility": {
            "type": "string",
            "nullable": true
          },
          "federal_tax_id": {
            "type": "string",
            "nullable": true
          },
          "state_tax_id": {
            "type": "string",
            "nullable": true
          },
          "verifications": {
            "type": "object",
            "description": "Verification results for zip4 and delivery",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AddressCreateRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "object",
            "properties": {
              "street1": {
                "type": "string"
              },
              "street2": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              },
              "country": {
                "type": "string",
                "description": "ISO 3166 country code"
              },
              "name": {
                "type": "string"
              },
              "company": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "residential": {
                "type": "boolean"
              },
              "carrier_facility": {
                "type": "string"
              },
              "federal_tax_id": {
                "type": "string"
              },
              "state_tax_id": {
                "type": "string"
              },
              "verify": {
                "type": "boolean",
                "description": "Enable delivery and ZIP+4 verification"
              },
              "verify_strict": {
                "type": "boolean",
                "description": "Strict address verification"
              }
            },
            "required": [
              "street1",
              "city",
              "state",
              "zip",
              "country"
            ]
          }
        },
        "required": [
          "address"
        ]
      },
      "AddressList": {
        "type": "object",
        "properties": {
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        }
      },
      "Parcel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier beginning with prcl_"
          },
          "object": {
            "type": "string",
            "enum": [
              "Parcel"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "test",
              "production"
            ]
          },
          "length": {
            "type": "number",
            "description": "Length in inches"
          },
          "width": {
            "type": "number",
            "description": "Width in inches"
          },
          "height": {
            "type": "number",
            "description": "Height in inches"
          },
          "weight": {
            "type": "number",
            "description": "Weight in ounces"
          },
          "predefined_package": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ParcelCreateRequest": {
        "type": "object",
        "properties": {
          "parcel": {
            "type": "object",
            "properties": {
              "length": {
                "type": "number",
                "description": "Length in inches"
              },
              "width": {
                "type": "number",
                "description": "Width in inches"
              },
              "height": {
                "type": "number",
                "description": "Height in inches"
              },
              "weight": {
                "type": "number",
                "description": "Weight in ounces"
              },
              "predefined_package": {
                "type": "string",
                "description": "Carrier-specific predefined package name"
              }
            },
            "required": [
              "weight"
            ]
          }
        },
        "required": [
          "parcel"
        ]
      },
      "Rate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "Rate"
            ]
          },
          "mode": {
            "type": "string"
          },
          "service": {
            "type": "string",
            "description": "Service level name"
          },
          "carrier": {
            "type": "string",
            "description": "Carrier name"
          },
          "carrier_account_id": {
            "type": "string"
          },
          "shipment_id": {
            "type": "string"
          },
          "rate": {
            "type": "string",
            "description": "Rate price in USD"
          },
          "currency": {
            "type": "string"
          },
          "retail_rate": {
            "type": "string",
            "nullable": true
          },
          "retail_currency": {
            "type": "string",
            "nullable": true
          },
          "list_rate": {
            "type": "string",
            "nullable": true
          },
          "list_currency": {
            "type": "string",
            "nullable": true
          },
          "billing_type": {
            "type": "string"
          },
          "delivery_days": {
            "type": "integer",
            "nullable": true
          },
          "delivery_date": {
            "type": "string",
            "nullable": true
          },
          "delivery_date_guaranteed": {
            "type": "boolean"
          },
          "est_delivery_days": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PostageLabel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "date_advance": {
            "type": "integer"
          },
          "integrated_form": {
            "type": "string",
            "nullable": true
          },
          "label_date": {
            "type": "string",
            "format": "date-time"
          },
          "label_epl2_url": {
            "type": "string",
            "nullable": true
          },
          "label_file_type": {
            "type": "string"
          },
          "label_pdf_url": {
            "type": "string",
            "nullable": true
          },
          "label_resolution": {
            "type": "integer"
          },
          "label_size": {
            "type": "string"
          },
          "label_type": {
            "type": "string"
          },
          "label_url": {
            "type": "string"
          },
          "label_zpl_url": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Fee": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "charged": {
            "type": "boolean"
          },
          "refunded": {
            "type": "boolean"
          }
        }
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier beginning with shp_"
          },
          "object": {
            "type": "string",
            "enum": [
              "Shipment"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "test",
              "production"
            ]
          },
          "reference": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "to_address": {
            "$ref": "#/components/schemas/Address"
          },
          "from_address": {
            "$ref": "#/components/schemas/Address"
          },
          "return_address": {
            "$ref": "#/components/schemas/Address"
          },
          "buyer_address": {
            "$ref": "#/components/schemas/Address"
          },
          "parcel": {
            "$ref": "#/components/schemas/Parcel"
          },
          "customs_info": {
            "$ref": "#/components/schemas/CustomsInfo"
          },
          "rates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rate"
            }
          },
          "selected_rate": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Rate"
              }
            ]
          },
          "postage_label": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/PostageLabel"
              }
            ]
          },
          "tracking_code": {
            "type": "string",
            "nullable": true
          },
          "tracker": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/Tracker"
              }
            ]
          },
          "insurance": {
            "type": "string",
            "nullable": true
          },
          "is_return": {
            "type": "boolean"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "fees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "order_id": {
            "type": "string",
            "nullable": true
          },
          "batch_id": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ShipmentCreateRequest": {
        "type": "object",
        "properties": {
          "shipment": {
            "type": "object",
            "properties": {
              "reference": {
                "type": "string"
              },
              "to_address": {
                "type": "object",
                "description": "Destination address object or {id: 'adr_...'}"
              },
              "from_address": {
                "type": "object",
                "description": "Origin address object or {id: 'adr_...'}"
              },
              "parcel": {
                "type": "object",
                "description": "Parcel dimensions/weight or {id: 'prcl_...'}"
              },
              "customs_info": {
                "type": "object",
                "description": "Customs info for international shipments"
              },
              "carrier_accounts": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of CarrierAccount IDs to filter rates"
              },
              "service": {
                "type": "string",
                "description": "Service name for one-call buy"
              },
              "insurance": {
                "type": "string",
                "description": "Insurance amount in USD"
              }
            },
            "required": [
              "to_address",
              "from_address",
              "parcel"
            ]
          }
        },
        "required": [
          "shipment"
        ]
      },
      "ShipmentBuyRequest": {
        "type": "object",
        "properties": {
          "rate": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Rate ID to purchase"
              }
            },
            "required": [
              "id"
            ]
          },
          "insurance": {
            "type": "string",
            "description": "Insurance amount in USD"
          }
        },
        "required": [
          "rate"
        ]
      },
      "ShipmentList": {
        "type": "object",
        "properties": {
          "shipments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Shipment"
            }
          },
          "has_more": {
            "type": "boolean"
          }
        }
      },
      "TrackingDetail": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "status_detail": {
            "type": "string"
          },
          "datetime": {
            "type": "string",
            "format": "date-time"
          },
          "source": {
            "type": "string"
          },
          "tracking_location": {
            "type": "object"
          }
        }
      },
      "Tracker": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier beginning with trk_"
          },
          "object": {
            "type": "string",
            "enum": [
              "Tracker"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "test",
              "production"
            ]
          },
          "tracking_code": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "description": "Current tracking status"
          },
          "status_detail": {
            "type": "string"
          },
          "signed_by": {
            "type": "string",
            "nullable": true
          },
          "weight": {
            "type": "number",
            "nullable": true
          },
          "est_delivery_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "shipment_id": {
            "type": "string",
            "nullable": true
          },
          "carrier": {
            "type": "string"
          },
          "tracking_details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrackingDetail"
            }
          },
          "carrier_detail": {
            "type": "object",
            "nullable": true
          },
          "fees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "public_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TrackerCreateRequest": {
        "type": "object",
        "properties": {
[...]
