{
  "openapi": "3.0.3",
  "info": {
    "title": "Shippo Shipping API",
    "description": "REST API for creating shipping labels, tracking packages, managing addresses, parcels, shipments, customs declarations, carrier accounts, and more.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.goshippo.com"
  },
  "servers": [
    {
      "url": "https://api.goshippo.com",
      "description": "Shippo API server"
    }
  ],
  "paths": {
    "/addresses/": {
      "post": {
        "operationId": "createAddress",
        "summary": "Create a new address",
        "description": "Create a new address object.",
        "tags": [
          "Addresses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Address created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listAddresses",
        "summary": "List all addresses",
        "description": "List all address objects.",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "results",
            "in": "query",
            "description": "Number of results per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of addresses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/addresses/{address_id}/": {
      "get": {
        "operationId": "getAddress",
        "summary": "Retrieve an address",
        "description": "Retrieve a specific address by its object ID.",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          }
        }
      }
    },
    "/addresses/{address_id}/validate/": {
      "get": {
        "operationId": "validateAddress",
        "summary": "Validate an address",
        "description": "Validate an existing address object.",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          }
        }
      }
    },
    "/parcels/": {
      "post": {
        "operationId": "createParcel",
        "summary": "Create a new parcel",
        "description": "Create a new parcel object.",
        "tags": [
          "Parcels"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParcelInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Parcel created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Parcel"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listParcels",
        "summary": "List all parcels",
        "description": "List all parcel objects.",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "results",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of parcels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/parcels/{parcel_id}/": {
      "get": {
        "operationId": "getParcel",
        "summary": "Retrieve a parcel",
        "description": "Retrieve a specific parcel by its object ID.",
        "tags": [
          "Parcels"
        ],
        "parameters": [
          {
            "name": "parcel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parcel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Parcel"
                }
              }
            }
          }
        }
      }
    },
    "/shipments/": {
      "post": {
        "operationId": "createShipment",
        "summary": "Create a new shipment",
        "description": "Create a new shipment object. This will automatically generate rates.",
        "tags": [
          "Shipments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShipmentInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Shipment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listShipments",
        "summary": "List all shipments",
        "description": "List all shipment objects.",
        "tags": [
          "Shipments"
        ],
        "parameters": [
          {
            "name": "results",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of shipments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/shipments/{shipment_id}/": {
      "get": {
        "operationId": "getShipment",
        "summary": "Retrieve a shipment",
        "description": "Retrieve a specific shipment by its object ID.",
        "tags": [
          "Shipments"
        ],
        "parameters": [
          {
            "name": "shipment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          }
        }
      }
    },
    "/shipments/{shipment_id}/rates/": {
      "get": {
        "operationId": "listShipmentRates",
        "summary": "Get rates for a shipment",
        "description": "Retrieve all rates for a specific shipment.",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "name": "shipment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rates/{rate_id}/": {
      "get": {
        "operationId": "getRate",
        "summary": "Retrieve a rate",
        "description": "Retrieve a specific rate by its object ID.",
        "tags": [
          "Rates"
        ],
        "parameters": [
          {
            "name": "rate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rate details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rate"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/": {
      "post": {
        "operationId": "createTransaction",
        "summary": "Create a shipping label",
        "description": "Create a shipping label transaction from a rate or with instant label creation.",
        "tags": [
          "Transactions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listTransactions",
        "summary": "List all transactions",
        "description": "List all shipping label transactions.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "results",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{transaction_id}/": {
      "get": {
        "operationId": "getTransaction",
        "summary": "Retrieve a transaction",
        "description": "Retrieve a specific transaction by its object ID.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        }
      }
    },
    "/customs-items/": {
      "post": {
        "operationId": "createCustomsItem",
        "summary": "Create a customs item",
        "description": "Create a new customs item object.",
        "tags": [
          "Customs Items"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomsItemInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customs item created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomsItem"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCustomsItems",
        "summary": "List all customs items",
        "tags": [
          "Customs Items"
        ],
        "parameters": [
          {
            "name": "results",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customs items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customs-items/{customs_item_id}/": {
      "get": {
        "operationId": "getCustomsItem",
        "summary": "Retrieve a customs item",
        "tags": [
          "Customs Items"
        ],
        "parameters": [
          {
            "name": "customs_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customs item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomsItem"
                }
              }
            }
          }
        }
      }
    },
    "/customs-declarations/": {
      "post": {
        "operationId": "createCustomsDeclaration",
        "summary": "Create a customs declaration",
        "tags": [
          "Customs Declarations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomsDeclarationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customs declaration created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomsDeclaration"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCustomsDeclarations",
        "summary": "List all customs declarations",
        "tags": [
          "Customs Declarations"
        ],
        "parameters": [
          {
            "name": "results",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customs declarations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customs-declarations/{declaration_id}/": {
      "get": {
        "operationId": "getCustomsDeclaration",
        "summary": "Retrieve a customs declaration",
        "tags": [
          "Customs Declarations"
        ],
        "parameters": [
          {
            "name": "declaration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customs declaration details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomsDeclaration"
                }
              }
            }
          }
        }
      }
    },
    "/refunds/": {
      "post": {
        "operationId": "createRefund",
        "summary": "Create a refund",
        "description": "Initiate a refund request for a shipping label.",
        "tags": [
          "Refunds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transaction"
                ],
                "properties": {
                  "transaction": {
                    "type": "string",
                    "description": "Object ID of the transaction (shipping label) to refund."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listRefunds",
        "summary": "List all refunds",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "results",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/refunds/{refund_id}/": {
      "get": {
        "operationId": "getRefund",
        "summary": "Retrieve a refund",
        "tags": [
          "Refunds"
        ],
        "parameters": [
          {
            "name": "refund_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          }
        }
      }
    },
    "/manifests/": {
      "post": {
        "operationId": "createManifest",
        "summary": "Create a manifest",
        "description": "Create a new manifest (end-of-day form).",
        "tags": [
          "Manifests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "carrier_account",
                  "shipment_date"
                ],
                "properties": {
                  "carrier_account": {
                    "type": "string",
                    "description": "Object ID of the carrier account."
                  },
                  "shipment_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Date for which to create the manifest."
                  },
                  "async": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Manifest created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manifest"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listManifests",
        "summary": "List all manifests",
        "tags": [
          "Manifests"
        ],
        "parameters": [
          {
            "name": "results",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of manifests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/manifests/{manifest_id}/": {
      "get": {
        "operationId": "getManifest",
        "summary": "Retrieve a manifest",
        "tags": [
          "Manifests"
        ],
        "parameters": [
          {
            "name": "manifest_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Manifest details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manifest"
                }
              }
            }
          }
        }
      }
    },
    "/carrier-accounts/": {
      "post": {
        "operationId": "createCarrierAccount",
        "summary": "Create a carrier account",
        "tags": [
          "Carrier Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CarrierAccountInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Carrier account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierAccount"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCarrierAccounts",
        "summary": "List all carrier accounts",
        "tags": [
          "Carrier Accounts"
        ],
        "parameters": [
          {
            "name": "results",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of carrier accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/carrier-accounts/{carrier_account_id}/": {
      "get": {
        "operationId": "getCarrierAccount",
        "summary": "Retrieve a carrier account",
        "tags": [
          "Carrier Accounts"
        ],
        "parameters": [
          {
            "name": "carrier_account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Carrier account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierAccount"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateCarrierAccount",
        "summary": "Update a carrier account",
        "tags": [
          "Carrier Accounts"
        ],
        "parameters": [
          {
            "name": "carrier_account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "boolean"
                  },
                  "parameters": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Carrier account updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierAccount"
                }
              }
            }
          }
        }
      }
    },
    "/tracks/{carrier}/{tracking_number}/": {
      "get": {
        "operationId": "getTrackingStatus",
        "summary": "Get tracking status",
        "description": "Retrieve tracking information for a shipment.",
        "tags": [
          "Tracking"
        ],
        "parameters": [
          {
            "name": "carrier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tracking_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingStatus"
                }
              }
            }
          }
        }
      }
    },
    "/tracks/": {
      "post": {
        "operationId": "registerTrackingWebhook",
        "summary": "Register a tracking webhook",
        "description": "Register a webhook to receive tracking updates.",
        "tags": [
          "Tracking"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "carrier",
                  "tracking_number"
                ],
                "properties": {
                  "carrier": {
                    "type": "string"
                  },
                  "tracking_number": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tracking webhook registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingStatus"
                }
              }
            }
          }
        }
      }
    },
    "/batches/": {
      "post": {
        "operationId": "createBatch",
        "summary": "Create a batch",
        "description": "Create a new batch for bulk label creation.",
        "tags": [
          "Batches"
        ],
        "responses": {
          "201": {
            "description": "Batch created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batch_id}/": {
      "get": {
        "operationId": "getBatch",
        "summary": "Retrieve a batch",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batch_id}/add-shipments/": {
      "post": {
        "operationId": "addShipmentsToBatch",
        "summary": "Add shipments to a batch",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shipment_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shipments added to batch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batch_id}/remove-shipments/": {
      "post": {
        "operationId": "removeShipmentsFromBatch",
        "summary": "Remove shipments from a batch",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shipment_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shipments removed from batch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        }
      }
    },
    "/batches/{batch_id}/purchase/": {
      "post": {
        "operationId": "purchaseBatch",
        "summary": "Purchase labels for a batch",
        "description": "Initiate label purchase for all shipments in the batch.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch purchase initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        }
      }
    },
    "/orders/": {
      "post": {
        "operationId": "createOrder",
        "summary": "Create an order",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOrders",
        "summary": "List all orders",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "results",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}/": {
      "get": {
        "operationId": "getOrder",
        "summary": "Retrieve an order",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/pickups/": {
      "post": {
        "operationId": "createPickup",
        "summary": "Create a pickup",
        "description": "Schedule a carrier pickup.",
        "tags": [
          "Pickups"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "carrier_account",
                  "location"
                ],
                "properties": {
                  "carrier_account": {
                    "type": "string",
                    "description": "Carrier account object ID."
                  },
                  "location": {
                    "type": "string",
                    "description": "Address object ID for pickup location."
                  },
                  "shipment_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pickup created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "ShippoToken",
        "description": "Shippo API token passed as 'ShippoToken <API_TOKEN>' in the Authorization header."
      }
    },
    "schemas": {
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AddressInput": {
        "type": "object",
        "required": [
          "name",
          "street1",
          "city",
          "state",
          "zip",
          "country"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "street1": {
            "type": "string"
          },
          "street_no": {
            "type": "string"
          },
          "street2": {
            "type": "string"
          },
          "street3": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code."
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "is_residential": {
            "type": "boolean"
          },
          "validate": {
            "type": "boolean"
          },
          "metadata": {
            "type": "string"
          }
        }
      },
      "Address": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AddressInput"
          },
          {
            "type": "object",
            "properties": {
              "object_id": {
                "type": "string"
              },
              "object_created": {
                "type": "string",
                "format": "date-time"
              },
              "object_updated": {
                "type": "string",
                "format": "date-time"
              },
              "is_complete": {
                "type": "boolean"
              },
              "validation_results": {
                "type": "object"
              }
            }
          }
        ]
      },
      "ParcelInput": {
        "type": "object",
        "required": [
          "length",
          "width",
          "height",
          "distance_unit",
          "weight",
          "mass_unit"
        ],
        "properties": {
          "length": {
            "type": "number"
          },
          "width": {
            "type": "number"
          },
          "height": {
            "type": "number"
          },
          "distance_unit": {
            "type": "string",
            "enum": [
              "cm",
              "in",
              "ft",
              "mm",
              "m",
              "yd"
            ]
          },
          "weight": {
            "type": "number"
          },
          "mass_unit": {
            "type": "string",
            "enum": [
              "g",
              "oz",
              "lb",
              "kg"
            ]
          },
          "template": {
            "type": "string"
          },
          "metadata": {
            "type": "string"
          }
        }
      },
      "Parcel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ParcelInput"
          },
          {
            "type": "object",
            "properties": {
              "object_id": {
                "type": "string"
              },
              "object_created": {
                "type": "string",
                "format": "date-time"
              },
              "object_updated": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "ShipmentInput": {
        "type": "object",
        "required": [
          "address_from",
          "address_to",
          "parcels"
        ],
        "properties": {
          "address_from": {
            "type": "string",
            "description": "Address object ID or inline address object."
          },
          "address_to": {
            "type": "string",
            "description": "Address object ID or inline address object."
          },
          "address_return": {
            "type": "string"
          },
          "parcels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of parcel object IDs or inline parcel objects."
          },
          "shipment_date": {
            "type": "string",
            "format": "date-time"
          },
          "customs_declaration": {
            "type": "string"
          },
          "carrier_accounts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "string"
          },
          "extra": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "object_id": {
            "type": "string"
          },
          "object_created": {
            "type": "string",
            "format": "date-time"
          },
          "object_updated": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "address_from": {
            "$ref": "#/components/schemas/Address"
          },
          "address_to": {
            "$ref": "#/components/schemas/Address"
          },
          "parcels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parcel"
            }
          },
          "rates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rate"
            }
          }
        }
      },
      "Rate": {
        "type": "object",
        "properties": {
          "object_id": {
            "type": "string"
          },
          "object_created": {
            "type": "string",
            "format": "date-time"
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "amount_local": {
            "type": "string"
          },
          "currency_local": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "servicelevel": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "token": {
                "type": "string"
              }
            }
          },
          "estimated_days": {
            "type": "integer"
          },
          "duration_terms": {
            "type": "string"
          }
        }
      },
      "TransactionInput": {
        "type": "object",
        "properties": {
          "rate": {
            "type": "string",
            "description": "Rate object ID for label creation."
          },
          "shipment": {
            "type": "object",
            "description": "Inline shipment for instant label creation."
          },
          "servicelevel_token": {
            "type": "string"
          },
          "label_file_type": {
            "type": "string",
            "enum": [
              "PNG",
              "PDF",
              "PDF_4x6",
              "ZPLII"
            ]
          },
          "async": {
            "type": "boolean"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "object_id": {
            "type": "string"
          },
          "object_created": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "WAITING",
              "QUEUED",
              "SUCCESS",
              "ERROR",
              "REFUNDED",
              "REFUNDPENDING",
              "REFUNDREJECTED"
            ]
          },
          "tracking_number": {
            "type": "string"
          },
          "tracking_url_provider": {
            "type": "string"
          },
          "label_url": {
            "type": "string"
          },
          "rate": {
            "$ref": "#/components/schemas/Rate"
          }
        }
      },
      "CustomsItemInput": {
        "type": "object",
        "required": [
          "description",
          "quantity",
          "net_weight",
          "mass_unit",
          "value_amount",
          "value_currency",
          "origin_country"
        ],
        "properties": {
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "net_weight": {
            "type": "number"
          },
          "mass_unit": {
            "type": "string",
            "enum": [
              "g",
              "oz",
              "lb",
              "kg"
            ]
          },
          "value_amount": {
            "type": "string"
          },
          "value_currency": {
            "type": "string"
          },
          "origin_country": {
            "type": "string"
          },
          "tariff_number": {
            "type": "string"
          },
          "metadata": {
            "type": "string"
          }
        }
      },
      "CustomsItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomsItemInput"
          },
          {
            "type": "object",
            "properties": {
              "object_id": {
                "type": "string"
              },
              "object_created": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "CustomsDeclarationInput": {
        "type": "object",
        "required": [
          "contents_type",
          "items",
          "non_delivery_option"
        ],
        "properties": {
          "contents_type": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of customs item object IDs."
          },
          "non_delivery_option": {
            "type": "string",
            "enum": [
              "ABANDON",
              "RETURN"
            ]
          },
          "invoiced_charges": {
            "type": "object"
          },
          "exporter_identification": {
            "type": "object"
          }
        }
      },
      "CustomsDeclaration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CustomsDeclarationInput"
          },
          {
            "type": "object",
            "properties": {
              "object_id": {
                "type": "string"
              },
              "object_created": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "Refund": {
        "type": "object",
        "properties": {
          "object_id": {
            "type": "string"
          },
          "object_created": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "transaction": {
            "type": "string"
          }
        }
      },
      "Manifest": {
        "type": "object",
        "properties": {
          "object_id": {
            "type": "string"
          },
          "object_created": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "carrier_account": {
            "type": "string"
          },
          "shipment_date": {
            "type": "string",
            "format": "date"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CarrierAccountInput": {
        "type": "object",
        "required": [
          "carrier",
          "account_id"
        ],
        "properties": {
          "carrier": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "parameters": {
            "type": "object",
            "additionalProperties": true
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "CarrierAccount": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CarrierAccountInput"
          },
          {
            "type": "object",
            "properties": {
              "object_id": {
                "type": "string"
              },
              "object_created": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "TrackingStatus": {
        "type": "object",
        "properties": {
          "carrier": {
            "type": "string"
          },
          "tracking_number": {
            "type": "string"
          },
          "tracking_status": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string"
              },
              "status_details": {
                "type": "string"
              },
              "status_date": {
                "type": "string",
                "format": "date-time"
              },
              "location": {
                "type": "object"
              }
            }
          },
          "tracking_history": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Batch": {
        "type": "object",
        "properties": {
          "object_id": {
            "type": "string"
          },
          "object_created": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "batch_shipments": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "results": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "OrderInput": {
        "type": "object",
        "required": [
          "to_address",
          "line_items"
        ],
        "properties": {
          "to_address": {
            "type": "string"
          },
          "from_address": {
            "type": "string"
          },
          "line_items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "placed_at": {
            "type": "string",
            "format": "date-time"
          },
          "order_number": {
            "type": "string"
          }
        }
      },
      "Order": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OrderInput"
          },
          {
            "type": "object",
            "properties": {
              "object_id": {
                "type": "string"
              },
              "object_created": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string"
              }
            }
          }
        ]
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Addresses",
      "description": "Address management and validation"
    },
    {
      "name": "Parcels",
      "description": "Parcel management"
    },
    {
      "name": "Shipments",
      "description": "Shipment creation and management"
    },
    {
      "name": "Rates",
      "description": "Shipping rate retrieval"
    },
    {
      "name": "Transactions",
      "description": "Shipping label transactions"
    },
    {
      "name": "Customs Items",
      "description": "Customs item management"
    },
    {
      "name": "Customs Declarations",
      "description": "Customs declaration management"
    },
    {
      "name": "Refunds",
      "description": "Label refund management"
    },
    {
      "name": "Manifests",
      "description": "Manifest creation and management"
    },
    {
      "name": "Carrier Accounts",
      "description": "Carrier account management"
    },
    {
      "name": "Tracking",
      "description": "Package tracking"
    },
    {
      "name": "Batches",
      "description": "Batch shipment processing"
    },
    {
      "name": "Orders",
      "description": "Order management"
    },
    {
      "name": "Pickups",
      "description": "Pickup scheduling"
    }
  ]
}