{
  "openapi": "3.0.3",
  "info": {
    "title": "Speria Public API",
    "version": "1.0.0",
    "description": "Speria API for audio source management. Upload audio files, import from URLs, and retrieve shop information.",
    "x-jentic-source-url": "https://speria-jp.github.io/speria/openapi/public-api-v1/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.speria.jp"
    }
  ],
  "paths": {
    "/v1/audio_sources/upload_url": {
      "post": {
        "operationId": "getAudioUploadUrl",
        "summary": "Get signed URL for audio upload",
        "tags": [
          "Audio Sources"
        ],
        "responses": {
          "201": {
            "description": "Signed URL generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrlResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get signed URL for audio upload"
      }
    },
    "/v1/audio_sources/complete": {
      "post": {
        "operationId": "completeAudioUpload",
        "summary": "Notify audio upload completion",
        "tags": [
          "Audio Sources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "upload_blob_id": {
                    "type": "string"
                  },
                  "recording_started_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "upload_blob_id",
                  "recording_started_at"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioSource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Notify audio upload completion"
      }
    },
    "/v1/audio_sources/import": {
      "post": {
        "operationId": "importAudioFromUrl",
        "summary": "Import audio from URL",
        "tags": [
          "Audio Sources"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "recording_started_at": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "source_url",
                  "recording_started_at"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportJobResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "description": "Import audio from URL"
      }
    },
    "/v1/shop": {
      "get": {
        "operationId": "getShop",
        "summary": "Get shop information",
        "tags": [
          "Shop"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shop"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get shop information"
      }
    }
  },
  "components": {
    "schemas": {
      "UploadUrlResponse": {
        "type": "object",
        "properties": {
          "upload_blob_id": {
            "type": "string"
          },
          "upload_url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "AudioSource": {
        "type": "object",
        "properties": {
          "audio_source_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ImportJobResponse": {
        "type": "object",
        "properties": {
          "import_job_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Shop": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Audio Sources"
    },
    {
      "name": "Shop"
    }
  ]
}
