{
  "swagger": "2.0",
  "info": {
    "version": "0.0.1",
    "title": "Accounts",
    "description": "Accounts services allows the retrieval of a list of account, details of an account, manipulation of an existing account and deletion of an account.",
    "termsOfService": "http://onskyline.io/terms/",
    "contact": {
      "name": "Skyline API Team",
      "email": "bobby@onskyline.com",
      "url": "http://onskyline.io"
    },
    "license": {
      "name": "Skyline",
      "url": "https://onskyline.com/licenses/skyline"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/siegmergius/accounts/0.0.1/swagger.json"
  },
  "host": "onskyline.io",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "description": "Returns all accounts for a particular user",
        "operationId": "accountList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "header",
            "description": "Token to be passed as a header value",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of accounts",
            "schema": {
              "$ref": "#/definitions/accountsResponse"
            }
          },
          "400": {
            "description": "Client Error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "tags": [
          "accounts"
        ]
      }
    },
    "/accounts/{accountKey}": {
      "get": {
        "description": "Returns a summary of an account",
        "operationId": "accountSummary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "header",
            "description": "Token to be passed as a header value",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "accountKey",
            "in": "path",
            "description": "Account Key",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a summary of an account",
            "schema": {
              "$ref": "#/definitions/summaryResponse"
            }
          },
          "400": {
            "description": "Client Error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "tags": [
          "accounts"
        ]
      }
    },
    "/accounts/healthCheck": {
      "get": {
        "description": "Returns a health check summary",
        "operationId": "accountHealthCheck",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "header",
            "description": "Token to be passed as a header value",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a summary of an account",
            "schema": {
              "$ref": "#/definitions/healthCheckResponse"
            }
          },
          "400": {
            "description": "Client Error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        },
        "tags": [
          "accounts"
        ]
      }
    }
  },
  "definitions": {
    "accountsResponse": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/metadata"
        },
        "result": {
          "$ref": "#/definitions/accountsResults"
        }
      }
    },
    "accountsResults": {
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/accountsAccount"
          }
        }
      }
    },
    "accountsAccount": {
      "type": "object",
      "properties": {
        "actions": {
          "$ref": "#/definitions/accountsActions"
        },
        "accountKey": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "maskedAccount": {
          "type": "string"
        },
        "classification": {
          "type": "string"
        },
        "hideInSummary": {
          "type": "boolean"
        },
        "balance": {
          "$ref": "#/definitions/balance"
        }
      }
    },
    "accountsActions": {
      "type": "object",
      "properties": {
        "details": {
          "$ref": "#/definitions/accountsDetail"
        },
        "options": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/accountsOption"
          }
        }
      }
    },
    "accountsDetail": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "params": {
          "$ref": "#/definitions/accountsDetailParam"
        }
      }
    },
    "accountsDetailParam": {
      "type": "object",
      "properties": {
        "accountKey": {
          "type": "string"
        }
      }
    },
    "accountsOption": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "service": {
          "type": "string"
        },
        "params": {
          "$ref": "#/definitions/accountsOptionParam"
        }
      }
    },
    "accountsOptionParam": {
      "type": "object",
      "properties": {
        "date": {
          "type": "string",
          "format": "date"
        },
        "amount": {
          "type": "string"
        },
        "from": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "to": {
          "type": "string"
        }
      }
    },
    "summaryResponse": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/metadata"
        },
        "result": {
          "$ref": "#/definitions/summaryResults"
        }
      }
    },
    "summaryResults": {
      "type": "object",
      "properties": {
        "account": {
          "$ref": "#/definitions/summaryAccount"
        }
      }
    },
    "summaryAccount": {
      "type": "object",
      "properties": {
        "accountKey": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "maskedAccount": {
          "type": "string"
        },
        "classification": {
          "type": "string"
        },
        "details": {
          "$ref": "#/definitions/summaryDetails"
        },
        "locale": {
          "type": "string"
        },
        "balances": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/balance"
          }
        }
      }
    },
    "summaryDetails": {
      "type": "object",
      "properties": {
        "detailsList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/summaryDetailsList"
          }
        },
        "historyList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/summaryHistoryList"
          }
        }
      }
    },
    "summaryDetailsList": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "detail": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "summaryHistoryList": {
      "type": "object",
      "properties": {
        "_date": {
          "type": "string"
        },
        "date": {
          "type": "string"
        },
        "amount": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "healthCheckResponse": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/metadata"
        },
        "result": {
          "$ref": "#/definitions/healthCheckResults"
        }
      }
    },
    "healthCheckResults": {
      "type": "object",
      "properties": {
        "time": {
          "type": "string"
        }
      }
    },
    "metadata": {
      "type": "object",
      "properties": {
        "paging": {
          "$ref": "#/definitions/paging"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/error"
          }
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/warning"
          }
        }
      }
    },
    "balance": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "errorResponse": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/errorMetadata"
        }
      }
    },
    "errorMetadata": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/error"
          }
        }
      }
    },
    "error": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "warning": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "paging": {
      "type": "object",
      "required": [
        "offset",
        "count",
        "limit"
      ],
      "properties": {
        "offset": {
          "type": "integer",
          "format": "int64"
        },
        "count": {
          "type": "integer",
          "format": "int64"
        },
        "limit": {
          "type": "integer",
          "format": "int64"
        }
      }
    }
  },
  "tags": [
    {
      "name": "accounts"
    }
  ]
}
