{
  "openapi": "3.0.3",
  "info": {
    "title": "Popl API",
    "description": "The Popl API allows you to manage team members, leads, tags, and analytics for the Popl lead capture platform. Authentication is done via API key passed in the Authorization header.",
    "version": "1.0.0",
    "contact": {
      "email": "teams@popl.co",
      "url": "https://docs.popl.co"
    }
  },
  "servers": [
    {
      "url": "https://api.popl.co",
      "description": "Popl API Production Server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/api/pub/members/inviteMember": {
      "post": {
        "operationId": "createMember",
        "summary": "Create or update a team member",
        "description": "Creates a new team member or updates an existing one if the email already exists. Can optionally send an invite email.",
        "tags": ["Members"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["payload"],
                "properties": {
                  "shouldSendInvites": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to send an email invite to the new member."
                  },
                  "teamId": {
                    "type": "integer",
                    "description": "Team ID to assign the member to."
                  },
                  "payload": {
                    "type": "array",
                    "description": "Array of member objects to create or update.",
                    "items": {
                      "$ref": "#/components/schemas/MemberPayload"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member created or updated successfully."
          }
        }
      }
    },
    "/api/pub/members/updateMemberCard": {
      "put": {
        "operationId": "updateMemberCard",
        "summary": "Update a member's card",
        "description": "Updates profile card fields for a team member.",
        "tags": ["Members"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member card updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "response": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "example": "Success"
                            },
                            "data": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/members/updateMemberEmail": {
      "post": {
        "operationId": "updateMemberEmail",
        "summary": "Update a member's email",
        "description": "Updates the email address for a specific team member.",
        "tags": ["Members"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["mid", "email"],
                "properties": {
                  "mid": {
                    "type": "integer",
                    "description": "The member ID."
                  },
                  "email": {
                    "type": "string",
                    "description": "The new email address."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member email updated successfully."
          }
        }
      }
    },
    "/api/pub/members/updateMemberUsername": {
      "post": {
        "operationId": "updateMemberUsername",
        "summary": "Update a member's username",
        "description": "Updates the username for a specific team member.",
        "tags": ["Members"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["mid", "username"],
                "properties": {
                  "mid": {
                    "type": "integer",
                    "description": "The member ID."
                  },
                  "username": {
                    "type": "string",
                    "description": "The new username."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member username updated successfully."
          }
        }
      }
    },
    "/api/pub/members/updateWildCardLink": {
      "put": {
        "operationId": "updateTemplateLink",
        "summary": "Update a single template link",
        "description": "Updates a single template link value for a specific member.",
        "tags": ["Members"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["memberId", "wildcardId", "value"],
                "properties": {
                  "memberId": {
                    "type": "integer",
                    "description": "The member ID."
                  },
                  "wildcardId": {
                    "type": "string",
                    "description": "The template link identifier."
                  },
                  "value": {
                    "type": "string",
                    "description": "The link value to assign."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template link updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "wasAnyCardUpdated": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/members/bulkUpdateWildCardLink": {
      "post": {
        "operationId": "bulkUpdateTemplateLinks",
        "summary": "Bulk update template links",
        "description": "Updates a template link value for multiple members at once.",
        "tags": ["Members"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["wildcardId", "membersAndValues"],
                "properties": {
                  "wildcardId": {
                    "type": "string",
                    "description": "The template link identifier."
                  },
                  "membersAndValues": {
                    "type": "array",
                    "description": "Array of email-value pairs to update.",
                    "items": {
                      "type": "object",
                      "required": ["email", "value"],
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "Member account email."
                        },
                        "value": {
                          "type": "string",
                          "description": "Link value for the member."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk update completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "updated": {
                                "type": "boolean"
                              },
                              "error": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/members/listMembers": {
      "get": {
        "operationId": "listMembers",
        "summary": "Get all team members",
        "description": "Gets all members within the main team.",
        "tags": ["Members"],
        "responses": {
          "200": {
            "description": "List of team members.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "teamMembers": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TeamMember"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/members/removeMember": {
      "post": {
        "operationId": "removeMember",
        "summary": "Remove team members",
        "description": "Removes one or more members from the team.",
        "tags": ["Members"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["mids", "removeAccessories"],
                "properties": {
                  "mids": {
                    "type": "array",
                    "description": "List of member IDs to remove from the team.",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "removeAccessories": {
                    "type": "boolean",
                    "description": "Whether to deactivate any Popl accessories owned by these members."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Members removed successfully."
          }
        }
      }
    },
    "/api/pub/leads/getLastLead": {
      "get": {
        "operationId": "getLastLead",
        "summary": "Get last individual lead",
        "description": "Returns the most recent lead captured by the authenticated user.",
        "tags": ["Leads"],
        "responses": {
          "200": {
            "description": "The last lead object.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/leads/getLastLeadTeam": {
      "get": {
        "operationId": "getLastLeadTeam",
        "summary": "Get last team lead",
        "description": "Returns the most recent lead captured across the entire team.",
        "tags": ["Leads"],
        "responses": {
          "200": {
            "description": "The last team lead object.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/leads/getLastLeadSubTeam": {
      "get": {
        "operationId": "getLastLeadSubTeam",
        "summary": "Get last subteam lead",
        "description": "Returns the most recent lead captured within a specific subteam.",
        "tags": ["Leads"],
        "parameters": [
          {
            "name": "subTeamId",
            "in": "query",
            "required": true,
            "description": "The subteam ID to filter by.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The last subteam lead object.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/leads/getLeadsTimeRange": {
      "get": {
        "operationId": "getLeadsByTimeRange",
        "summary": "Get individual leads by time range",
        "description": "Returns leads captured by the authenticated user within the specified time range, sorted by epoch descending.",
        "tags": ["Leads"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Starting date in epoch milliseconds.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Ending date in epoch milliseconds. If omitted, returns leads from start onward.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of lead objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/leads/getLeadsTimeRangeForTeam": {
      "get": {
        "operationId": "getTeamLeadsByTimeRange",
        "summary": "Get team leads by time range",
        "description": "Returns leads captured across the entire team within the specified time range, sorted by epoch descending.",
        "tags": ["Leads"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Starting date in epoch milliseconds.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Ending date in epoch milliseconds. If omitted, returns leads from start onward.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of lead objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Lead"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/pub/leads/deleteLead": {
      "delete": {
        "operationId": "deleteLead",
        "summary": "Delete a lead",
        "description": "Deletes a specific lead by user ID and lead ID.",
        "tags": ["Leads"],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "The member ID from the lead object.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leadId",
            "in": "query",
            "required": true,
            "description": "The ID of the lead to delete.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead deleted successfully."
          }
        }
      }
    },
    "/api/pub/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List all tags",
        "description": "Returns all available tags for the team.",
        "tags": ["Tags"],
        "responses": {
          "200": {
            "description": "List of tags."
          }
        }
      }
    },
    "/api/pub/lead/{leadId}/tags": {
      "put": {
        "operationId": "addTagsToLead",
        "summary": "Add tags to a lead",
        "description": "Adds one or more tags to a specific lead. Maximum 10 tags per request.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "description": "The lead ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "The user ID from the lead.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId", "tagIds"],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "The user ID from the lead."
                  },
                  "tagIds": {
                    "type": "array",
                    "description": "List of tag IDs (base 10 numbers). Maximum 10.",
                    "maxItems": 10,
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags added to lead successfully."
          }
        }
      },
      "delete": {
        "operationId": "removeTagsFromLead",
        "summary": "Remove tags from a lead",
        "description": "Removes one or more tags from a specific lead. Maximum 10 tags per request.",
        "tags": ["Tags"],
        "parameters": [
          {
            "name": "leadId",
            "in": "path",
            "required": true,
            "description": "The lead ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "The user ID from the lead.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId", "tagIds"],
                "properties": {
                  "userId": {
                    "type": "integer",
                    "description": "The user ID from the lead."
                  },
                  "tagIds": {
                    "type": "array",
                    "description": "List of tag IDs (base 10 numbers). Maximum 10.",
                    "maxItems": 10,
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags removed from lead successfully."
          }
        }
      }
    },
    "/api/pub/analytics/getAnalytics": {
      "get": {
        "operationId": "getAnalytics",
        "summary": "Get analytics",
        "description": "Returns analytics data (taps and views) for the team within a specified time range.",
        "tags": ["Analytics"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "description": "Starting date in epoch milliseconds.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "Ending date in epoch milliseconds. If omitted, returns data from start onward.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of analytics objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalyticsEvent"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key generated from the Popl Teams dashboard at https://dash.popl.co/api-keys. Pass the key directly in the Authorization header."
      }
    },
    "schemas": {
      "MemberPayload": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "description": "Login email for the member. Only mandatory field."
          },
          "name": {
            "type": "string",
            "description": "Full name."
          },
          "jobTitle": {
            "type": "string",
            "description": "Job title."
          },
          "bio": {
            "type": "string",
            "description": "Biography."
          },
          "company": {
            "type": "string",
            "description": "Company name."
          },
          "photo": {
            "type": "string",
            "description": "Publicly accessible image URL."
          },
          "location": {
            "type": "string",
            "description": "Address or location."
          },
          "subteam": {
            "type": "string",
            "description": "Subteam assignment."
          },
          "subteamIds": {
            "type": "array",
            "description": "Array of subteam IDs.",
            "items": {
              "type": "integer"
            }
          },
          "department": {
            "type": "string",
            "description": "Department."
          },
          "msID": {
            "type": "string",
            "description": "Microsoft ID."
          },
          "isPro": {
            "type": "integer",
            "description": "Pro status flag."
          },
          "leadCaptureMode": {
            "type": "string",
            "description": "Lead capture mode: '0' (disabled) or '1' (enabled).",
            "enum": ["0", "1"]
          },
          "templateId": {
            "type": "integer",
            "description": "Template to apply."
          },
          "links": {
            "type": "array",
            "description": "Social/contact links for the member.",
            "items": {
              "$ref": "#/components/schemas/MemberLink"
            }
          },
          "importType": {
            "type": "string",
            "description": "Import method identifier."
          }
        }
      },
      "MemberLink": {
        "type": "object",
        "required": ["id", "value"],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Link type ID (e.g., email=9, call=31, text=8, LinkedIn=7)."
          },
          "title": {
            "type": "string",
            "description": "Display label."
          },
          "icon": {
            "type": "string",
            "description": "Icon identifier."
          },
          "value": {
            "type": "string",
            "description": "Link URL or content."
          },
          "updateExisting": {
            "type": "boolean",
            "description": "Replace existing link if matched."
          },
          "desc": {
            "type": "string",
            "description": "Description."
          },
          "help_title": {
            "type": "string",
            "description": "Help text."
          }
        }
      },
      "UpdateMemberCardRequest": {
        "type": "object",
        "required": ["linksDataId"],
        "properties": {
          "linksDataId": {
            "type": "string",
            "description": "The links data ID for the member card."
          },
          "template": {
            "type": "string",
            "description": "Template name."
          },
          "name": {
            "type": "string",
            "description": "Member name."
          },
          "description": {
            "type": "string",
            "description": "Card description."
          },
          "jobTitle": {
            "type": "string",
            "description": "Job title."
          },
          "location": {
            "type": "string",
            "description": "Location."
          },
          "company": {
            "type": "string",
            "description": "Company name."
          },
          "username": {
            "type": "string",
            "description": "Username."
          },
          "nickname": {
            "type": "string",
            "description": "Nickname."
          },
          "pronouns": {
            "type": "string",
            "description": "Pronouns."
          },
          "photo": {
            "type": "string",
            "description": "Photo URL."
          },
          "logo": {
            "type": "string",
            "description": "Logo URL."
          },
          "banner": {
            "type": "string",
            "description": "Banner image URL."
          },
          "qrcodeImage": {
            "type": "string",
            "description": "QR code image URL."
          },
          "followUpAttachment": {
            "type": "string",
            "description": "Follow-up attachment URL."
          },
          "private": {
            "type": "integer",
            "description": "Private flag."
          },
          "direct": {
            "type": "integer",
            "description": "Direct mode flag."
          },
          "leadCaptureMode": {
            "type": "integer",
            "description": "Lead capture mode."
          },
          "profileType": {
            "type": "integer",
            "description": "Profile type."
          },
          "theme": {
            "type": "string",
            "description": "Theme identifier."
          },
          "colorLink": {
            "type": "string",
            "description": "Link color (hex)."
          },
          "qrcodeColor": {
            "type": "string",
            "description": "QR code color (hex)."
          },
          "themeLinks": {
            "type": "string",
            "description": "Theme links URL."
          },
          "connectTitle": {
            "type": "string",
            "description": "Connect form title."
          },
          "connectBody": {
            "type": "string",
            "description": "Connect form body text."
          },
          "connectButtonText": {
            "type": "string",
            "description": "Connect form button text."
          },
          "connectFields": {
            "type": "string",
            "description": "Connect form fields configuration."
          },
          "hiddenFields": {
            "type": "string",
            "description": "Hidden fields configuration."
          },
          "exchange": {
            "type": "string",
            "description": "Exchange setting."
          },
          "exchangeText": {
            "type": "string",
            "description": "Exchange text."
          },
          "subject": {
            "type": "string",
            "description": "Email subject."
          },
          "ccValue": {
            "type": "string",
            "description": "CC email value."
          },
          "bccValue": {
            "type": "string",
            "description": "BCC email value."
          },
          "message": {
            "type": "string",
            "description": "Email message body."
          },
          "lockedFields": {
            "type": "object",
            "description": "Fields that are locked from editing."
          },
          "font": {
            "type": "string",
            "description": "Font name."
          },
          "matchThemeLinks": {
            "type": "boolean",
            "description": "Whether to match theme links."
          },
          "branding": {
            "type": "string",
            "description": "Branding configuration."
          },
          "leadTimer": {
            "type": "string",
            "description": "Lead timer configuration."
          },
          "howToPopup": {
            "type": "string",
            "description": "How-to popup configuration."
          }
        }
      },
      "TeamMember": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "integer",
            "description": "Unique member identifier."
          },
          "email": {
            "type": "string",
            "description": "Member email address."
          },
          "name": {
            "type": "string",
            "description": "Full member name."
          },
          "jobTitle": {
            "type": "string",
            "description": "Professional title."
          },
          "url": {
            "type": "string",
            "description": "Member profile URL."
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique lead identifier (can be an integer, email address, or phone number)."
          },
          "name": {
            "type": "string",
            "description": "Lead's name."
          },
          "email": {
            "type": "string",
            "description": "Lead's email."
          },
          "phone": {
            "type": "string",
            "description": "Lead's phone number."
          },
          "company": {
            "type": "string",
            "description": "Lead's company."
          },
          "jobTitle": {
            "type": "string",
            "description": "Lead's job title."
          },
          "location": {
            "type": "string",
            "description": "Lead's location."
          },
          "lat": {
            "type": "number",
            "format": "double",
            "description": "Latitude coordinate."
          },
          "long": {
            "type": "number",
            "format": "double",
            "description": "Longitude coordinate."
          },
          "epoch": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp in epoch milliseconds."
          },
          "image": {
            "type": "string",
            "description": "Lead's image URL."
          },
          "website": {
            "type": "string",
            "description": "Lead's website."
          },
          "address": {
            "type": "string",
            "description": "Lead's address."
          },
          "linkedIn": {
            "type": "string",
            "description": "Lead's LinkedIn profile URL."
          },
          "userId": {
            "type": "string",
            "description": "The member ID of the user who captured the lead."
          },
          "userEmail": {
            "type": "string",
            "description": "The email of the user who captured the lead."
          },
          "userPid": {
            "type": "string",
            "description": "The PID of the user who captured the lead."
          }
        }
      },
      "AnalyticsEvent": {
        "type": "object",
        "properties": {
          "memberId": {
            "type": "string",
            "description": "Team member identifier."
          },
          "name": {
            "type": "string",
            "description": "Member name."
          },
          "email": {
            "type": "string",
            "description": "Member email."
          },
          "subteam": {
            "type": "string",
            "description": "Subteam ID (empty if none)."
          },
          "createdAt": {
            "type": "string",
            "description": "When the interaction occurred in readable date/time format."
          },
          "type": {
            "type": "string",
            "description": "Interaction type.",
            "enum": ["TAP", "VIEW"]
          },
          "activeProfile": {
            "type": "string",
            "description": "Card name receiving the interaction."
          },
          "bio": {
            "type": "string",
            "description": "Member biography."
          },
          "viewType": {
            "type": "string",
            "description": "Share type."
          },
          "linkTitle": {
            "type": "string",
            "description": "Tapped link title."
          },
          "deviceName": {
            "type": "string",
            "description": "Device or accessory name."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Members",
      "description": "Manage team members - create, update, list, and remove."
    },
    {
      "name": "Leads",
      "description": "Access and manage captured leads."
    },
    {
      "name": "Tags",
      "description": "Manage tags on leads."
    },
    {
      "name": "Analytics",
      "description": "Retrieve analytics data for taps and views."
    }
  ]
}