{
  "openapi": "3.0.3",
  "info": {
    "title": "FastBill API",
    "description": "FastBill is a cloud app for German invoicing & accounting. The API uses a single POST endpoint with action-based services for managing customers, invoices, contacts, estimates, recurring invoices, revenues, expenses, articles, projects, time tracking, documents, templates, and webhooks.",
    "version": "1.0",
    "x-jentic-source-url": "https://apidocs.fastbill.com/"
  },
  "servers": [
    {
      "url": "https://my.fastbill.com/api/1.0"
    }
  ],
  "paths": {
    "/api.php": {
      "post": {
        "operationId": "executeService",
        "summary": "Execute a FastBill API service action",
        "description": "All FastBill API operations use this single POST endpoint. The SERVICE field determines the resource and action. Rate limits: 50-1000 calls/hour depending on subscription.",
        "tags": [
          "API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiRequest"
              },
              "examples": {
                "customerGet": {
                  "summary": "Get customers",
                  "value": {
                    "SERVICE": "customer.get",
                    "FILTER": {
                      "CUSTOMER_ID": "123456"
                    },
                    "LIMIT": 10,
                    "OFFSET": 0
                  }
                },
                "customerCreate": {
                  "summary": "Create customer",
                  "value": {
                    "SERVICE": "customer.create",
                    "DATA": {
                      "CUSTOMER_TYPE": "business",
                      "ORGANIZATION": "Example GmbH",
                      "FIRST_NAME": "Max",
                      "LAST_NAME": "Mustermann",
                      "EMAIL": "max@example.com"
                    }
                  }
                },
                "invoiceGet": {
                  "summary": "Get invoices",
                  "value": {
                    "SERVICE": "invoice.get",
                    "FILTER": {
                      "INVOICE_ID": "123456"
                    },
                    "LIMIT": 100,
                    "OFFSET": 0
                  }
                },
                "invoiceCreate": {
                  "summary": "Create invoice",
                  "value": {
                    "SERVICE": "invoice.create",
                    "DATA": {
                      "CUSTOMER_ID": "123456",
                      "ITEMS": [
                        {
                          "DESCRIPTION": "Service",
                          "UNIT_PRICE": 100,
                          "QUANTITY": 1,
                          "VAT_PERCENT": 19
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication using email as username and API key as password"
      }
    },
    "schemas": {
      "ApiRequest": {
        "type": "object",
        "required": [
          "SERVICE"
        ],
        "properties": {
          "SERVICE": {
            "type": "string",
            "description": "The service and action to execute in format 'resource.action'",
            "enum": [
              "customer.get",
              "customer.create",
              "customer.update",
              "customer.delete",
              "contact.get",
              "contact.create",
              "contact.update",
              "contact.delete",
              "estimate.get",
              "estimate.create",
              "estimate.sendbyemail",
              "estimate.createinvoice",
              "estimate.delete",
              "invoice.get",
              "invoice.create",
              "invoice.update",
              "invoice.delete",
              "invoice.complete",
              "invoice.cancel",
              "invoice.lock",
              "invoice.sendbyemail",
              "invoice.sendbypost",
              "invoice.setpaid",
              "item.get",
              "item.delete",
              "recurring.get",
              "recurring.create",
              "recurring.update",
              "recurring.delete",
              "revenue.get",
              "revenue.create",
              "revenue.setpaid",
              "revenue.delete",
              "expense.get",
              "expense.create",
              "article.get",
              "article.create",
              "article.update",
              "article.delete",
              "project.get",
              "project.create",
              "project.update",
              "project.delete",
              "time.get",
              "time.create",
              "time.update",
              "time.delete",
              "document.get",
              "document.create",
              "template.get",
              "webhook.get",
              "webhook.create",
              "webhook.delete"
            ]
          },
          "FILTER": {
            "type": "object",
            "description": "Filter criteria for get operations",
            "additionalProperties": true
          },
          "DATA": {
            "type": "object",
            "description": "Data payload for create/update operations",
            "additionalProperties": true
          },
          "LIMIT": {
            "type": "integer",
            "description": "Maximum number of items to return (max 100)",
            "maximum": 100
          },
          "OFFSET": {
            "type": "integer",
            "description": "Number of items to skip for pagination"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "REQUEST": {
            "type": "object",
            "description": "Information about the request"
          },
          "RESPONSE": {
            "type": "object",
            "description": "Response data containing the requested resource(s)",
            "additionalProperties": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "REQUEST": {
            "type": "object"
          },
          "RESPONSE": {
            "type": "object",
            "properties": {
              "ERRORS": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "API",
      "description": "FastBill API - all operations via single POST endpoint with SERVICE parameter"
    }
  ]
}