{
  "openapi": "3.0.3",
  "info": {
    "title": "JetBrains Marketplace API",
    "description": "The JetBrains Marketplace API provides access to plugin information, upload, and download functionality for the JetBrains plugin ecosystem.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://plugins.jetbrains.com/docs/marketplace/api-reference.html"
  },
  "servers": [
    {
      "url": "https://plugins.jetbrains.com",
      "description": "JetBrains Marketplace"
    }
  ],
  "paths": {
    "/api/updates/upload": {
      "post": {
        "operationId": "uploadPlugin",
        "summary": "Upload a plugin update",
        "description": "Upload a new version of an existing plugin to the JetBrains Marketplace. Identify the plugin using either its numeric pluginId or its XML-based identifier (xmlId).",
        "tags": [
          "Plugin Upload"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PluginUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plugin uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid plugin file or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing permanent token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pluginManager": {
      "get": {
        "operationId": "downloadLatestCompatiblePlugin",
        "summary": "Download latest compatible plugin update",
        "description": "Retrieves the most recent plugin version compatible with a specified IDE product and build number.",
        "tags": [
          "Plugin Download"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "description": "Action to perform. Must be set to 'download'.",
            "schema": {
              "type": "string",
              "enum": [
                "download"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The Plugin XML ID (e.g., org.intellij.scala)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "build",
            "in": "query",
            "required": true,
            "description": "IDE product and build number in format <productCode>-<buildNumber> (e.g., IU-171.3780.107). Product code is optional.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plugin JAR file download",
            "content": {
              "application/java-archive": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No compatible plugin version found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/plugin/download": {
      "get": {
        "operationId": "downloadPluginByVersion",
        "summary": "Download a specific plugin version",
        "description": "Downloads a designated plugin version regardless of IDE compatibility.",
        "tags": [
          "Plugin Download"
        ],
        "parameters": [
          {
            "name": "pluginId",
            "in": "query",
            "required": true,
            "description": "The Plugin XML ID (e.g., org.intellij.scala)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "description": "The specific release version number (e.g., 2017.1.15)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plugin JAR file download",
            "content": {
              "application/java-archive": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Plugin or version not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/plugins/list/": {
      "get": {
        "operationId": "listCompatiblePlugins",
        "summary": "List compatible plugins",
        "description": "Retrieves a collection of plugins that are compatible with a specified IDE build. This endpoint is deprecated.",
        "tags": [
          "Plugin List"
        ],
        "deprecated": true,
        "parameters": [
          {
            "name": "build",
            "in": "query",
            "required": true,
            "description": "The IDE build number in format <productCode>-<buildNumber> (e.g., IU-171.3780.107)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML list of compatible plugins",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "XML document containing list of compatible plugins"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid build parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/plugins/list": {
      "get": {
        "operationId": "getPluginDetails",
        "summary": "Get plugin details",
        "description": "Retrieves individual plugin details by plugin identifier. Accepts either a numeric plugin ID or XML-based identifier.",
        "tags": [
          "Plugin Details"
        ],
        "parameters": [
          {
            "name": "pluginId",
            "in": "query",
            "required": true,
            "description": "Plugin XML ID (e.g., org.intellij.scala) or numeric plugin ID (e.g., 1347)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML plugin details",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "description": "XML document containing plugin details including name, version, vendor, description, and compatibility info"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid plugin ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Permanent token created in the My Tokens section of your JetBrains Marketplace profile"
      }
    },
    "schemas": {
      "PluginUploadRequest": {
        "type": "object",
        "required": [
          "file"
        ],
        "properties": {
          "pluginId": {
            "type": "integer",
            "description": "Plugin's numeric identifier from the repository URL. Use either pluginId or xmlId."
          },
          "xmlId": {
            "type": "string",
            "description": "Unique plugin identifier from the <id> tag in plugin.xml (alternative to pluginId)"
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Plugin .jar or .zip file (max 400 MB)"
          },
          "channel": {
            "type": "string",
            "description": "Release channel name. Defaults to Stable if omitted."
          },
          "isHidden": {
            "type": "boolean",
            "description": "If true, hides update from public release",
            "default": false
          },
          "containsAds": {
            "type": "boolean",
            "description": "Declares whether the plugin contains ads",
            "default": false
          }
        }
      },
      "PluginUploadResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The update ID"
          },
          "pluginId": {
            "type": "integer",
            "description": "The plugin ID"
          },
          "version": {
            "type": "string",
            "description": "The uploaded version"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}