{
  "openapi": "3.0.3",
  "info": {
    "title": "ECP Clinical API",
    "description": "REST API for ECP Assisted Living Software providing access to locations, buildings, rooms, residents, contacts, and status logs for senior living communities. Supports webhook notifications for resident, contact, and user lifecycle events.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.ecp123.com/api-docs"
  },
  "servers": [
    {
      "url": "https://api.ecp123.com/clinical/v1",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "operationId": "getOAuthToken",
        "summary": "Retrieve OAuth bearer token",
        "description": "Retrieves a temporary bearer token (60-minute expiration) required for all REST API calls.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "servers": [
          {
            "url": "https://oauth2.ecp123.com",
            "description": "OAuth server"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/OAuthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "get": {
        "operationId": "listLocations",
        "summary": "Retrieve all locations",
        "description": "Retrieves a paginated list of all locations.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Locations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{locationId}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Retrieve a specific location",
        "description": "Retrieves a single location by its ID.",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Location retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{locationId}/buildings": {
      "get": {
        "operationId": "listBuildings",
        "summary": "Retrieve buildings for a location",
        "description": "Retrieves a paginated list of buildings within a location.",
        "tags": [
          "Buildings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Buildings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{locationId}/buildings/{buildingId}": {
      "get": {
        "operationId": "getBuilding",
        "summary": "Retrieve a specific building",
        "description": "Retrieves a single building by its ID within a location.",
        "tags": [
          "Buildings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "name": "buildingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The building ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Building retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{locationId}/buildings/{buildingId}/rooms": {
      "get": {
        "operationId": "listRooms",
        "summary": "Retrieve rooms for a building",
        "description": "Retrieves a paginated list of rooms within a building.",
        "tags": [
          "Rooms"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "name": "buildingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The building ID"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Rooms retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{locationId}/buildings/{buildingId}/rooms/{roomId}": {
      "get": {
        "operationId": "getRoom",
        "summary": "Retrieve a specific room",
        "description": "Retrieves a single room by its ID within a building.",
        "tags": [
          "Rooms"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "name": "buildingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The building ID"
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The room ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Room retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoomListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{locationId}/stages": {
      "get": {
        "operationId": "listStages",
        "summary": "Retrieve CRM/Move-in stages",
        "description": "Retrieves a paginated list of CRM/Move-in stages for a location.",
        "tags": [
          "Stages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Stages retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{locationId}/stages/{stageId}": {
      "get": {
        "operationId": "getStage",
        "summary": "Retrieve a specific stage",
        "description": "Retrieves a single CRM/Move-in stage by its ID.",
        "tags": [
          "Stages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "name": "stageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The stage ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Stage retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resident": {
      "post": {
        "operationId": "createResident",
        "summary": "Create a resident profile",
        "description": "Creates a new resident profile in the system.",
        "tags": [
          "Residents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResidentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resident created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResidentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{locationId}/residents": {
      "get": {
        "operationId": "listResidents",
        "summary": "Retrieve residents for a location",
        "description": "Retrieves a paginated list of residents for a location.",
        "tags": [
          "Residents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "name": "discharged",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by discharged status"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Residents retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResidentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{locationId}/residents/{residentId}": {
      "get": {
        "operationId": "getResident",
        "summary": "Retrieve a specific resident",
        "description": "Retrieves a single resident profile by ID.",
        "tags": [
          "Residents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "name": "residentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The resident ID (GUID)"
          }
        ],
        "responses": {
          "200": {
            "description": "Resident retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResidentListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/resident/contact": {
      "post": {
        "operationId": "createResidentContact",
        "summary": "Create a resident contact",
        "description": "Creates a new contact record for a resident.",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContactResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{locationId}/residents/{residentId}/statusLog": {
      "get": {
        "operationId": "listResidentStatusLog",
        "summary": "Retrieve resident status log",
        "description": "Retrieves a paginated list of status log entries for a resident.",
        "tags": [
          "Status Log"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "name": "residentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The resident ID (GUID)"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/ResultsPerPageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Status log entries retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusLogListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{locationId}/residents/{residentId}/statusLog/{statusLogEntryId}": {
      "get": {
        "operationId": "getResidentStatusLogEntry",
        "summary": "Retrieve a specific status log entry",
        "description": "Retrieves a single status log entry by its ID.",
        "tags": [
          "Status Log"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationIdParam"
          },
          {
            "name": "residentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The resident ID (GUID)"
          },
          {
            "name": "statusLogEntryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The status log entry ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Status log entry retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusLogListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth 2.0 bearer token obtained from the token endpoint"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication"
      }
    },
    "parameters": {
      "PageParam": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1
        },
        "description": "Page number for pagination"
      },
      "ResultsPerPageParam": {
        "name": "resultsPerPage",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 100,
          "maximum": 100
        },
        "description": "Number of results per page (max 100)"
      },
      "LocationIdParam": {
        "name": "locationId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The location ID"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing authentication",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          }
        }
      },
      "OAuthTokenRequest": {
        "type": "object",
        "required": [
          "grant_type",
          "client_id",
          "client_secret",
          "scope"
        ],
        "properties": {
          "grant_type": {
            "type": "string",
            "example": "client_credentials"
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          }
        }
      },
      "OAuthTokenResponse": {
        "type": "object",
        "properties": {
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 3600
          },
          "access_token": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          }
        }
      },
      "LocationListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          },
          "numberOfResults": {
            "type": "integer"
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          }
        }
      },
      "BuildingListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Building"
            }
          },
          "numberOfResults": {
            "type": "integer"
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Building": {
        "type": "object",
        "properties": {
          "buildingId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "RoomListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Room"
            }
          },
          "numberOfResults": {
            "type": "integer"
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Room": {
        "type": "object",
        "properties": {
          "roomId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "StageListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Stage"
            }
          },
          "numberOfResults": {
            "type": "integer"
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Stage": {
        "type": "object",
        "properties": {
          "stageId": {
            "type": "string"
          },
          "displayValue": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          },
          "restricted": {
            "type": "boolean"
          }
        }
      },
      "CreateResidentRequest": {
        "type": "object",
        "required": [
          "dateOfBirth",
          "firstName",
          "lastName",
          "locationId"
        ],
        "properties": {
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "locationId": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "nickname": {
            "type": "string"
          },
          "suffix": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "codeStatus": {
            "type": "string"
          },
          "livingWill": {
            "type": "boolean"
          },
          "otherAdvancedDirectives": {
            "type": "string"
          },
          "financialMoveInDate": {
            "type": "string",
            "format": "date"
          },
          "physicalMoveInDate": {
            "type": "string",
            "format": "date"
          },
          "readyForDeposit": {
            "type": "boolean"
          },
          "readyForPreAssessment": {
            "type": "boolean"
          },
          "room": {
            "type": "string"
          },
          "stageId": {
            "type": "string"
          },
          "externalIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coResident": {
            "type": "string"
          }
        }
      },
      "CreateResidentResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "residentId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ResidentListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resident"
            }
          },
          "numberOfResults": {
            "type": "integer"
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Resident": {
        "type": "object",
        "properties": {
          "residentId": {
            "type": "string",
            "format": "uuid"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "building": {
            "type": "string"
          },
          "room": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "externalIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateContactRequest": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "locationId",
          "residentId"
        ],
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "locationId": {
            "type": "string"
          },
          "residentId": {
            "type": "string",
            "format": "uuid"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "phoneCell": {
            "type": "string"
          },
          "phoneWork": {
            "type": "string"
          },
          "relationship": {
            "type": "string"
          },
          "primaryContact": {
            "type": "boolean"
          },
          "billingContact": {
            "type": "boolean"
          },
          "healthCarePoa": {
            "type": "boolean"
          },
          "healthCarePoaActivated": {
            "type": "boolean"
          },
          "stateAppointedGuardian": {
            "type": "boolean"
          },
          "preferredContactMethod": {
            "type": "string"
          },
          "preferredContactTime": {
            "type": "string"
          },
          "providesProducts": {
            "type": "boolean"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "CreateContactResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "contactId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "StatusLogListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusLogEntry"
            }
          },
          "numberOfResults": {
            "type": "integer"
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "StatusLogEntry": {
        "type": "object",
        "properties": {
          "statusLogEntryId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "statusDescription": {
            "type": "string"
          },
          "billable": {
            "type": "boolean"
          },
          "createdTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "effectiveTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "notes": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth token management"
    },
    {
      "name": "Locations",
      "description": "Location management"
    },
    {
      "name": "Buildings",
      "description": "Building management within locations"
    },
    {
      "name": "Rooms",
      "description": "Room management within buildings"
    },
    {
      "name": "Stages",
      "description": "CRM/Move-in stage management"
    },
    {
      "name": "Residents",
      "description": "Resident profile management"
    },
    {
      "name": "Contacts",
      "description": "Resident contact management"
    },
    {
      "name": "Status Log",
      "description": "Resident status log management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook event subscriptions for resident, contact, allergy, diet, level-of-care, and user lifecycle events"
    }
  ]
}