{
  "openapi": "3.0.3",
  "info": {
    "title": "Commerzbank PSD2 FCS API",
    "version": "1.3.11",
    "description": "Commerzbank PSD2 Funds Confirmation Service (FCS) API implementing the BerlinGroup XS2A PIIS specification version 1.3.11. Provides funds confirmation requests under PSD2 regulation.",
    "x-jentic-source-url": "https://psd2.developer.commerzbank.com/apis"
  },
  "servers": [
    {
      "url": "https://psd2.api.commerzbank.com/berlingroup/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/funds-confirmations": {
      "post": {
        "operationId": "confirmFunds",
        "summary": "Confirmation of Funds Request",
        "description": "Submit a request to confirm whether funds are available in a given account for a specified amount.",
        "tags": [
          "Funds Confirmation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FundsConfirmationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funds confirmation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundsConfirmationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "fcs"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "FundsConfirmationRequest": {
        "type": "object",
        "required": [
          "account",
          "instructedAmount"
        ],
        "properties": {
          "account": {
            "type": "object",
            "properties": {
              "iban": {
                "type": "string",
                "description": "IBAN of the account"
              },
              "currency": {
                "type": "string",
                "description": "Currency code"
              }
            }
          },
          "instructedAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency of the amount"
              },
              "amount": {
                "type": "string",
                "description": "Amount to confirm"
              }
            }
          },
          "cardNumber": {
            "type": "string",
            "description": "Card number for confirmation"
          },
          "payee": {
            "type": "string",
            "description": "Name of the payee"
          }
        }
      },
      "FundsConfirmationResponse": {
        "type": "object",
        "properties": {
          "fundsAvailable": {
            "type": "boolean",
            "description": "Whether the requested funds are available"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "tppMessages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://psd2.api.commerzbank.com/berlingroup/authorize",
            "tokenUrl": "https://psd2.api.commerzbank.com/berlingroup/v1/token",
            "scopes": {
              "fcs": "Funds Confirmation Service"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "fcs"
      ]
    }
  ]
}