{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "visanet@gmail.com",
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe"
    },
    "description": "**API merchant**\n\n*Version 1.0*\n- Merchant Data.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://www.visanet.com.pe",
    "title": "API Merchant",
    "version": "1.3",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.merchant/1.3/swagger.json"
  },
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com/api.merchant/v1"
    }
  ],
  "paths": {
    "/getTotal/{operation}": {
      "get": {
        "parameters": [
          {
            "description": "Tipo de operación (T:TOTAL,M: MODIFICADOS y NUEVOS)",
            "in": "path",
            "name": "operation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveTotalResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseHeader"
                }
              }
            },
            "description": "error operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Merchant API"
        ],
        "description": "RetrieveTotal",
        "operationId": "listTotal",
        "summary": "RetrieveTotal"
      }
    },
    "/list/{operation}/{initPage}/{finalPage}": {
      "get": {
        "parameters": [
          {
            "description": "Tipo de operación (T:TOTAL,M: MODIFICADOS Y NUEVOS)",
            "in": "path",
            "name": "operation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Página de inicio",
            "in": "path",
            "name": "initPage",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Página de fin",
            "in": "path",
            "name": "finalPage",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseHeader"
                }
              }
            },
            "description": "error operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Merchant API"
        ],
        "description": "RetrieveMerchant",
        "operationId": "list",
        "summary": "RetrieveMerchant"
      }
    },
    "/querybyRUC": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseHeader"
                }
              }
            },
            "description": "error operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Merchant API"
        ],
        "description": "Query merchant",
        "operationId": "getInformationbyRUC",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantRequest"
              }
            }
          },
          "description": "Business info to query",
          "required": true
        },
        "summary": "Query merchant"
      }
    },
    "/update": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateResponse"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseHeader"
                }
              }
            },
            "description": "error operation"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Merchant API"
        ],
        "description": "update",
        "operationId": "update",
        "summary": "update"
      }
    }
  },
  "components": {
    "schemas": {
      "MerchantItem": {
        "properties": {
          "accountNumber": {
            "description": "Número de cuenta",
            "type": "string"
          },
          "addressMerchant": {
            "description": "Dirección Administrativa",
            "type": "string"
          },
          "addressMerchantCommercial": {
            "description": "Dirección Comercial",
            "type": "string"
          },
          "affiliationDate": {
            "description": "Fecha de Alta de afiliación",
            "type": "string"
          },
          "bank": {
            "description": "Banco",
            "type": "string"
          },
          "businessId": {
            "description": "RUC",
            "type": "string"
          },
          "codeMCInternational": {
            "description": "Código MCC Internacional",
            "type": "string"
          },
          "currency": {
            "enum": [
              "PEN",
              "USD"
            ],
            "type": "string"
          },
          "descGeoLocationAmin": {
            "description": "Descripción de ubigeo administrativo",
            "type": "string"
          },
          "descGeoLocationComercial": {
            "description": "Descripción de ubigeo comercial",
            "type": "string"
          },
          "descMCCInternational": {
            "description": "Descripción del MCC Internacional",
            "type": "string"
          },
          "descMCCNational": {
            "description": "Descripción del MCC Nacional",
            "type": "string"
          },
          "geoLocationCode": {
            "description": "Código Ubigeo Administrativo",
            "type": "string"
          },
          "geoLocationCodeCommercial": {
            "description": "Código Ubigeo Comercial",
            "type": "string"
          },
          "marketNiche": {
            "description": "Segmento del mercado",
            "type": "string"
          },
          "merchantId": {
            "description": "Código de comercio",
            "type": "string"
          },
          "status": {
            "description": "Estado del comercio",
            "type": "string"
          },
          "telephoneNumber": {
            "description": "Teléfono",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MerchantItemList": {
        "properties": {
          "accountNumber": {
            "description": "numeroCuenta",
            "type": "string"
          },
          "addressMerchant": {
            "description": "Dirección Administrativa",
            "type": "string"
          },
          "addressMerchantCommercial": {
            "description": "Dirección Comercial",
            "type": "string"
          },
          "affiliationDate": {
            "description": "Fecha de Alta de afiliación",
            "type": "string"
          },
          "bank": {
            "description": "banco",
            "type": "string"
          },
          "businessId": {
            "description": "RUC",
            "type": "string"
          },
          "codeBank": {
            "type": "string"
          },
          "codeCommercialGroup": {
            "type": "string"
          },
          "codeMCInternational": {
            "type": "string"
          },
          "codeMCNational": {
            "type": "string"
          },
          "codeState": {
            "type": "string"
          },
          "currency": {
            "enum": [
              "PEN",
              "USD"
            ],
            "type": "string"
          },
          "descMCCInternational": {
            "description": "descmccInternacional",
            "type": "string"
          },
          "descMCCNational": {
            "type": "string"
          },
          "economicGroup": {
            "type": "string"
          },
          "emailCommercialGroup": {
            "type": "string"
          },
          "emailLegalRepresentant": {
            "description": "emailrepresentanteLegal1",
            "type": "string"
          },
          "geoLocationCode": {
            "description": "Código Uigeo Administrativo",
            "type": "string"
          },
          "geoLocationCodeCommercial": {
            "description": "Código Ubigeo Comercial",
            "type": "string"
          },
          "legalRepresentant": {
            "description": "representanteLegal1",
            "type": "string"
          },
          "marketNiche": {
            "type": "string"
          },
          "merchantId": {
            "description": "Código de comercio",
            "type": "string"
          },
          "merchantName": {
            "description": "Nombre Comercial",
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "telephoneNumber": {
            "description": "telefonoAdministrativo",
            "type": "string"
          },
          "tradeName": {
            "description": "razon Social",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MerchantRequest": {
        "properties": {
          "businessId": {
            "description": "RUC",
            "maxLength": 20,
            "type": "string"
          },
          "companyId": {
            "description": "Número de empresa, será '165'",
            "maxLength": 3,
            "type": "string"
          },
          "externalId": {
            "description": "Id de transacción",
            "maxLength": 6,
            "type": "string"
          },
          "functionId": {
            "description": "Id de la función, será '651'",
            "type": "string"
          }
        },
        "required": [
          "businessId",
          "externalId",
          "companyId",
          "functionId"
        ],
        "type": "object"
      },
      "MerchantResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/MerchantItem"
            },
            "type": "array"
          },
          "header": {
            "$ref": "#/components/schemas/ResponseHeader"
          }
        },
        "type": "object"
      },
      "ResponseHeader": {
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "executionDate": {
            "format": "int64",
            "type": "integer"
          },
          "transactionUUID": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "RetrieveResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/MerchantItemList"
            },
            "type": "array"
          },
          "header": {
            "$ref": "#/components/schemas/ResponseHeader"
          }
        },
        "type": "object"
      },
      "RetrieveTotalResponse": {
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ResponseHeader"
          },
          "number": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "UpdateResponse": {
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ResponseHeader"
          },
          "numberUpdate": {
            "description": "cantidad de comercios actualizados",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "accessToken": {
        "description": "Access token obtained from api.security",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "RESTful API for Visanet Merchant Information",
      "name": "Merchant API"
    }
  ]
}