{
  "openapi": "3.0.3",
  "info": {
    "title": "InventoryBase API",
    "version": "1.0.0",
    "description": "API for managing properties, inspections, and inventory items",
    "x-jentic-source-url": "https://developer.inventorybase.com",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.inventorybase.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/properties": {
      "get": {
        "summary": "List Properties",
        "operationId": "listProperties",
        "description": "Retrieve a paginated list of all properties",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Property"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "properties"
        ]
      },
      "post": {
        "summary": "Create Property",
        "operationId": "createProperty",
        "description": "Create a new property",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Property"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "properties"
        ]
      }
    },
    "/properties/{id}": {
      "get": {
        "summary": "Get Property",
        "operationId": "getProperty",
        "description": "Retrieve a single property by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "properties"
        ]
      },
      "put": {
        "summary": "Update Property",
        "operationId": "updateProperty",
        "description": "Update an existing property",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Property"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "properties"
        ]
      }
    },
    "/properties/{id}/meters": {
      "get": {
        "summary": "List Property Meters",
        "operationId": "listPropertyMeters",
        "description": "List all meters for a property",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Meter"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "properties"
        ]
      },
      "post": {
        "summary": "Create Property Meter",
        "operationId": "createPropertyMeter",
        "description": "Create a new meter for a property",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Meter"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meter"
                }
              }
            }
          }
        },
        "tags": [
          "properties"
        ]
      }
    },
    "/properties/{id}/meters/{meterId}": {
      "get": {
        "summary": "Get Property Meter",
        "operationId": "getPropertyMeter",
        "description": "Retrieve a specific meter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meter"
                }
              }
            }
          }
        },
        "tags": [
          "properties"
        ]
      },
      "put": {
        "summary": "Update Property Meter",
        "operationId": "updatePropertyMeter",
        "description": "Update a meter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Meter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Meter"
                }
              }
            }
          }
        },
        "tags": [
          "properties"
        ]
      },
      "delete": {
        "summary": "Delete Property Meter",
        "operationId": "deletePropertyMeter",
        "description": "Delete a meter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "properties"
        ]
      }
    },
    "/inspections": {
      "get": {
        "summary": "List Inspections",
        "operationId": "listInspections",
        "description": "Retrieve a paginated list of inspections",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Inspection"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "inspections"
        ]
      },
      "post": {
        "summary": "Create Inspection",
        "operationId": "createInspection",
        "description": "Create a new inspection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Inspection"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inspection"
                }
              }
            }
          }
        },
        "tags": [
          "inspections"
        ]
      }
    },
    "/inspections/{id}": {
      "get": {
        "summary": "Get Inspection",
        "operationId": "getInspection",
        "description": "Retrieve a single inspection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inspection"
                }
              }
            }
          }
        },
        "tags": [
          "inspections"
        ]
      },
      "put": {
        "summary": "Update Inspection",
        "operationId": "updateInspection",
        "description": "Update an inspection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Inspection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inspection"
                }
              }
            }
          }
        },
        "tags": [
          "inspections"
        ]
      }
    },
    "/inspections/{id}/cancel": {
      "post": {
        "summary": "Cancel Inspection",
        "operationId": "cancelInspection",
        "description": "Cancel an inspection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "inspections"
        ]
      }
    },
    "/inspections/{id}/complete": {
      "post": {
        "summary": "Complete Inspection",
        "operationId": "completeInspection",
        "description": "Complete an inspection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "inspections"
        ]
      }
    },
    "/inspections/{id}/report": {
      "get": {
        "summary": "Get Inspection Report",
        "operationId": "getInspectionReport",
        "description": "Retrieve full inspection report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "inspections"
        ]
      }
    },
    "/inspections/{id}/report/metadata": {
      "get": {
        "summary": "Get Report Metadata",
        "operationId": "getReportMetadata",
        "description": "Get keys, manuals, alarms, meters from report",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "inspections"
        ]
      }
    },
    "/inspections/{id}/pdf": {
      "post": {
        "summary": "Generate PDF Report",
        "operationId": "generatePdfReport",
        "description": "Generate PDF report for inspection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "tags": [
          "inspections"
        ]
      }
    },
    "/inspections/{id}/contacts": {
      "get": {
        "summary": "List Inspection Contacts",
        "operationId": "listInspectionContacts",
        "description": "List all contacts for an inspection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "inspections"
        ]
      },
      "post": {
        "summary": "Create Inspection Contact",
        "operationId": "createInspectionContact",
        "description": "Create a new contact for an inspection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        },
        "tags": [
          "inspections"
        ]
      }
    },
    "/inspections/{id}/contacts/{contactId}": {
      "put": {
        "summary": "Update Inspection Contact",
        "operationId": "updateInspectionContact",
        "description": "Update an inspection contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "inspections"
        ]
      },
      "delete": {
        "summary": "Delete Inspection Contact",
        "operationId": "deleteInspectionContact",
        "description": "Delete an inspection contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "inspections"
        ]
      }
    },
    "/properties/{id}/contacts": {
      "get": {
        "summary": "List Property Contacts",
        "operationId": "listPropertyContacts",
        "description": "List all contacts for a property",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "properties"
        ]
      },
      "post": {
        "summary": "Create Property Contact",
        "operationId": "createPropertyContact",
        "description": "Create a new contact for a property",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "properties"
        ]
      }
    },
    "/properties/{id}/contacts/{contactId}": {
      "put": {
        "summary": "Update Property Contact",
        "operationId": "updatePropertyContact",
        "description": "Update a property contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "properties"
        ]
      },
      "delete": {
        "summary": "Delete Property Contact",
        "operationId": "deletePropertyContact",
        "description": "Delete a property contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "properties"
        ]
      }
    },
    "/v2/inspections/{id}/rooms": {
      "post": {
        "summary": "Create Section",
        "operationId": "createSection",
        "description": "Create a new section (room) in an inspection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Room"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "v2"
        ]
      },
      "put": {
        "summary": "Reorder Sections",
        "operationId": "reorderSections",
        "description": "Reorder sections in an inspection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/inspections/{id}/rooms/{roomId}": {
      "put": {
        "summary": "Update Section",
        "operationId": "updateSection",
        "description": "Modify a section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Room"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "v2"
        ]
      },
      "delete": {
        "summary": "Delete Section",
        "operationId": "deleteSection",
        "description": "Delete a section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/inspections/{id}/rooms/{roomId}/items": {
      "post": {
        "summary": "Create Item",
        "operationId": "createItem",
        "description": "Create a new item in a section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Item"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "v2"
        ]
      },
      "put": {
        "summary": "Reorder Items",
        "operationId": "reorderItems",
        "description": "Reorder items in a section",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/v2/inspections/{id}/rooms/{roomId}/items/{itemId}": {
      "put": {
        "summary": "Update Item",
        "operationId": "updateItem",
        "description": "Modify an item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Item"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "v2"
        ]
      },
      "delete": {
        "summary": "Delete Item",
        "operationId": "deleteItem",
        "description": "Delete an item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "v2"
        ]
      }
    },
    "/custom-fields": {
      "get": {
        "summary": "List Custom Fields",
        "operationId": "listCustomFields",
        "description": "List all custom fields",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "custom-fields"
        ]
      },
      "post": {
        "summary": "Create Custom Field",
        "operationId": "createCustomField",
        "description": "Create a new custom field",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomField"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "custom-fields"
        ]
      }
    },
    "/custom-fields/{id}": {
      "put": {
        "summary": "Update Custom Field",
        "operationId": "updateCustomField",
        "description": "Update a custom field",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomField"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "custom-fields"
        ]
      },
      "delete": {
        "summary": "Delete Custom Field",
        "operationId": "deleteCustomField",
        "description": "Delete a custom field",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "custom-fields"
        ]
      }
    },
    "/inspections/{id}/actions": {
      "get": {
        "summary": "List Inspection Actions",
        "operationId": "listInspectionActions",
        "description": "List all actions for an inspection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Action"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "inspections"
        ]
      }
    },
    "/properties/{id}/actions": {
      "get": {
        "summary": "List Property Actions",
        "operationId": "listPropertyActions",
        "description": "List all actions for a property",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Action"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "properties"
        ]
      }
    },
    "/inspections/{id}/attachments": {
      "post": {
        "summary": "Attach to Inspection",
        "operationId": "attachToInspection",
        "description": "Attach a file to an inspection",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "inspections"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.inventorybase.com/oauth/authorize",
            "tokenUrl": "https://api.inventorybase.com/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Property": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Meter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "reading": {
            "type": "number"
          },
          "location": {
            "type": "string"
          }
        }
      },
      "Inspection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "property_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "scheduled_date": {
            "type": "string",
            "format": "date-time"
          },
          "completed_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "Room": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "condition": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "Action": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "due_date": {
            "type": "string",
            "format": "date"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "custom-fields"
    },
    {
      "name": "inspections"
    },
    {
      "name": "properties"
    },
    {
      "name": "v2"
    }
  ]
}
