{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "visanet@gmail.com",
      "name": "VisaNet",
      "url": "http://www.visanet.com.pe"
    },
    "description": "**API Financial Summary**\n\n*Version 1.0*\n- financial transactions.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "http://www.visanet.com.pe",
    "title": "API Financial Summary",
    "version": "v1.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.data.financial/v1.1/swagger.json"
  },
  "servers": [
    {
      "url": "https://apitestenv.vnforapps.com/api.visanet/v1"
    }
  ],
  "paths": {
    "/conditionsandterms": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Accept conditions and terms"
        ],
        "description": "insert data of client",
        "operationId": "conditions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientItem"
              }
            }
          },
          "description": "Business info to query",
          "required": true
        },
        "summary": "insert data of client"
      }
    },
    "/query/summary": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialHistoryResponse"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ],
        "tags": [
          "Financial API"
        ],
        "description": "Query financial summary items for specified business",
        "operationId": "getHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinancialHistoryRequest"
              }
            }
          },
          "description": "Business info to query",
          "required": true
        },
        "summary": "Query financial summary items for specified business"
      }
    }
  },
  "components": {
    "schemas": {
      "ClientItem": {
        "properties": {
          "billingDate": {
            "description": "Fecha de inicio de cobranza. Formato DD/MM/YYYY",
            "maxLength": 10,
            "type": "string"
          },
          "businessId": {
            "description": "RUC",
            "maxLength": 11,
            "type": "string"
          },
          "businessName": {
            "description": "Razón social asociado al RUC",
            "maxLength": 100,
            "type": "string"
          },
          "legalRepresentativeId": {
            "description": "DNI del representante legal",
            "maxLength": 16,
            "type": "string"
          },
          "legalRepresentativeLastName": {
            "description": "Apellido Paterno del representante legal",
            "maxLength": 100,
            "type": "string"
          },
          "legalRepresentativeName": {
            "description": "Nombre del representante legal",
            "maxLength": 100,
            "type": "string"
          },
          "legalRepresentativeSurname": {
            "description": "Apellido Materno del representante legal",
            "maxLength": 100,
            "type": "string"
          },
          "totalAmount": {
            "description": "Monto total de la deuda con 2 decimales",
            "type": "number"
          }
        },
        "required": [
          "businessId",
          "legalRepresentativeName",
          "legalRepresentativeLastName",
          "legalRepresentativeId",
          "businessName",
          "totalAmount",
          "billingDate"
        ],
        "type": "object"
      },
      "ClientResponse": {
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ResponseHeader"
          }
        },
        "type": "object"
      },
      "FinancialHistoryRequest": {
        "properties": {
          "businessId": {
            "description": "RUC",
            "maxLength": 20,
            "type": "string"
          },
          "businessName": {
            "description": "Nombre de la empresa",
            "maxLength": 100,
            "type": "string"
          },
          "checkContractTerm": {
            "description": "Términos y condiciones",
            "type": "boolean"
          },
          "companyId": {
            "description": "Número de empresa, será '165'",
            "maxLength": 3,
            "type": "string"
          },
          "externalId": {
            "description": "Identificador de la transacción",
            "maxLength": 6,
            "type": "string"
          },
          "functionId": {
            "description": "Id de la función, será '636'",
            "maxLength": 3,
            "type": "string"
          },
          "legalRepresentativeId": {
            "description": "DNI del representante legal",
            "maxLength": 8,
            "type": "string"
          },
          "legalRepresentativeName": {
            "description": "Nombre del representante legal",
            "maxLength": 100,
            "type": "string"
          }
        },
        "type": "object"
      },
      "FinancialHistoryResponse": {
        "properties": {
          "data": {
            "items": {
              "$ref": "#/components/schemas/FinancialItem"
            },
            "type": "array"
          },
          "header": {
            "$ref": "#/components/schemas/ResponseHeader"
          }
        },
        "type": "object"
      },
      "FinancialItem": {
        "properties": {
          "businessId": {
            "description": "RUC",
            "maxLength": 20,
            "type": "string"
          },
          "currency": {
            "enum": [
              "PEN",
              "USD"
            ],
            "type": "string"
          },
          "month": {
            "format": "int32",
            "type": "integer"
          },
          "totalAmount": {
            "type": "number"
          },
          "totalTransactions": {
            "type": "integer"
          },
          "year": {
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ResponseHeader": {
        "properties": {
          "errorCode": {
            "type": "string"
          },
          "errorMessage": {
            "type": "string"
          },
          "executionDate": {
            "format": "int64",
            "type": "integer"
          },
          "transactionUUID": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "accessToken": {
        "description": "Access token obtained from api.security",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      }
    }
  },
  "tags": [
    {
      "description": "RESTful API for Visanet Financial operations",
      "name": "Financial API"
    },
    {
      "name": "Accept conditions and terms"
    }
  ]
}