{
  "openapi": "3.0.3",
  "info": {
    "title": "Hedy API",
    "version": "1.0.1",
    "description": "API for accessing and managing Hedy meeting sessions, highlights, and webhooks. This API allows you to programmatically access your meeting transcripts, summaries, and important highlights.",
    "contact": {
      "name": "Hedy Support",
      "url": "https://www.hedy.bot/contact",
      "email": "support@hedy.bot"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://www.hedy.bot/terms-of-use"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/jentic/jentic-public-apis-staging/import/hedyai.com/hedy-api/1.0.1/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.hedy.bot/",
      "description": "Production server"
    }
  ],
  "paths": {
    "/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "List sessions",
        "description": "Returns a paginated list of meeting sessions with basic information",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of sessions to return (default: 50, max: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SessionList"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean",
                          "example": true
                        },
                        "next": {
                          "type": "string",
                          "example": "sess_123456789"
                        },
                        "total": {
                          "type": "number",
                          "example": 150
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sessions/{sessionId}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Get session details",
        "description": "Returns detailed information about a specific meeting session",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the session",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved session details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/SessionDetail"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/highlights": {
      "get": {
        "tags": [
          "Highlights"
        ],
        "summary": "List highlights",
        "description": "Returns a paginated list of highlights with basic information",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of highlights to return (default: 50, max: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved highlights",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HighlightList"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean",
                          "example": true
                        },
                        "next": {
                          "type": "string",
                          "example": "high_123456789"
                        },
                        "total": {
                          "type": "number",
                          "example": 75
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/highlights/{highlightId}": {
      "get": {
        "tags": [
          "Highlights"
        ],
        "summary": "Get highlight details",
        "description": "Returns detailed information about a specific highlight",
        "parameters": [
          {
            "name": "highlightId",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the highlight",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved highlight details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/HighlightDetail"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Highlight not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Add 'Bearer ' followed by your API key"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "invalid_request"
              },
              "message": {
                "type": "string",
                "example": "Invalid request parameters"
              }
            }
          }
        }
      },
      "SessionList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "sess_123456789"
          },
          "title": {
            "type": "string",
            "example": "Weekly Team Sync"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "example": "2024-03-15T14:30:00Z"
          },
          "duration": {
            "type": "number",
            "description": "Duration in minutes",
            "example": 45
          },
          "recap": {
            "type": "string",
            "example": "Discussion about Q1 goals and project timeline"
          }
        }
      },
      "SessionDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "sess_123456789"
          },
          "title": {
            "type": "string",
            "example": "Weekly Team Sync"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "example": "2024-03-15T14:30:00Z"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "example": "2024-03-15T15:15:00Z"
          },
          "duration": {
            "type": "number",
            "description": "Duration in minutes",
            "example": 45
          },
          "transcript": {
            "type": "string",
            "description": "Full meeting transcript",
            "example": "John: Let's review our progress..."
          },
          "conversations": {
            "type": "string",
            "description": "Structured conversation history",
            "example": "Q: What's the status of Project X?\nA: We're on track..."
          },
          "meeting_minutes": {
            "type": "string",
            "description": "Formatted meeting minutes",
            "example": "1. Project Updates\n- Project X is on track..."
          },
          "recap": {
            "type": "string",
            "description": "Brief meeting summary",
            "example": "Discussion about Q1 goals and project timeline"
          }
        }
      },
      "HighlightList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "high_123456789"
          },
          "sessionId": {
            "type": "string",
            "example": "sess_123456789"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2024-03-15T14:35:00Z"
          },
          "cleanedQuote": {
            "type": "string",
            "example": "We should prioritize the mobile app release"
          },
          "summary": {
            "type": "string",
            "example": "Decision made about product roadmap prioritization"
          }
        }
      },
      "HighlightDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "high_123456789"
          },
          "sessionId": {
            "type": "string",
            "example": "sess_123456789"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2024-03-15T14:35:00Z"
          },
          "timeIndex": {
            "type": "number",
            "description": "Timestamp in milliseconds from session start",
            "example": 300000
          },
          "rawQuote": {
            "type": "string",
            "example": "yeah I think we should prioritize the mobile app release"
          },
          "cleanedQuote": {
            "type": "string",
            "example": "We should prioritize the mobile app release"
          },
          "aiInsight": {
            "type": "string",
            "example": "Key strategic decision regarding product development priorities"
          },
          "summary": {
            "type": "string",
            "example": "Decision made about product roadmap prioritization"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-03-15T14:35:00Z"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Sessions",
      "description": "Endpoints for managing meeting sessions"
    },
    {
      "name": "Highlights",
      "description": "Endpoints for accessing meeting highlights"
    },
    {
      "name": "Webhooks",
      "description": "Endpoints for configuring webhooks"
    }
  ],
  "x-jentic-source-url": "https://api.swaggerhub.com/apis/HedyAI/hedy-api/1.0.1/swagger.json"
}