{
  "openapi": "3.0.3",
  "info": {
    "title": "API Cooperto.it",
    "version": "v1",
    "description": "Cooperto API for restaurant reservation management, queue management, contacts, fidelity cards, and WiFi login. Cooperto simplifies the management of reservations and marketing for restaurants.",
    "x-jentic-source-url": "https://api.cooperto.it/swagger/ui/index#/Zapier"
  },
  "servers": [
    {
      "url": "https://api.cooperto.it",
      "description": "Cooperto API Server"
    }
  ],
  "paths": {
    "/api/Coda/ElencoByCodiceSede": {
      "get": {
        "operationId": "Coda_ElencoByCodiceSede",
        "summary": "Restituisce l'elenco delle prenotazioni in coda del locale autenticato filtrate per codice sede, ordinato per DataCoda decrescente",
        "tags": [
          "Coda"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.ResponseElenco[api.cooperto.it.Controllers.CodaController.CodaElencoViewModel]"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "codiceSede",
            "in": "query",
            "required": true,
            "description": "codice della sede",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "numero di record da saltare (Default 0)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "numero di record per pagina (Default 100)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/api/Coda/DettagliByCodice": {
      "get": {
        "operationId": "Coda_DettagliByCodice",
        "summary": "Restituisce i dettagli di una coda dato un codice coda",
        "tags": [
          "Coda"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.Controllers.CodaController.CodaViewModel"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "codiceSede",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codiceCoda",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/Coda/Crea": {
      "post": {
        "operationId": "Coda_Crea",
        "summary": "Crea la coda e il relativo contatto (se presenti mail o telefono) sul locale autenticato",
        "tags": [
          "Coda"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.Controllers.CodaController.CodaViewModel"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.CodaController.RequestCreaCoda"
              }
            }
          }
        }
      }
    },
    "/api/Coda/ConfermaArrivo": {
      "post": {
        "operationId": "Coda_ConfermaArrivo",
        "summary": "Conferma arrivo del cliente in coda",
        "tags": [
          "Coda"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.PrenotazioniViewModel"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.CodaController.RequestCodaClienteIn"
              }
            }
          }
        }
      }
    },
    "/api/Coda/Elimina": {
      "post": {
        "operationId": "Coda_Elimina",
        "summary": "Elimina l'elemento in coda",
        "tags": [
          "Coda"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.CodaController.RequestEliminaCoda"
              }
            }
          }
        }
      }
    },
    "/api/Coda/ElencoAutomazioniManuali": {
      "get": {
        "operationId": "Coda_ElencoAutomazioniManuali",
        "summary": "Restituisce l'elenco delle automazioni manuali eseguibili sulla coda",
        "tags": [
          "Coda"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/api.cooperto.it.Controllers.CodaController.AutomazioneCodaDTO"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "codiceSede",
            "in": "query",
            "required": true,
            "description": "Codice della sede",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/Coda/EseguiAutomazioneManuale": {
      "post": {
        "operationId": "Coda_EseguiAutomazioneManuale",
        "summary": "Esegue l'automazione indicata sull'elemento di coda",
        "tags": [
          "Coda"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.CodaController.RequestEseguiAutomazioneCoda"
              }
            }
          }
        }
      }
    },
    "/api/Contatti/Elenco": {
      "get": {
        "operationId": "Contatti_Elenco",
        "summary": "Restituisce l'elenco dei contatti del locale autenticato",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.ResponseElenco[api.cooperto.it.ContattoViewModel]"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "numero di record da saltare (Default 0)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "numero di record per pagina (Default 100)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/api/Contatti/DettagliByEMail": {
      "get": {
        "operationId": "Contatti_DettagliByEMail",
        "summary": "Restituisce i dettagli di un contatto dato un indirizzo email",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.ContattoViewModel"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "email del contatto",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/Contatti/DettagliByCodiceContatto": {
      "get": {
        "operationId": "Contatti_DettagliByCodiceContatto",
        "summary": "Restituisce i dettagli di un contatto dato un codice contatto",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.ContattoViewModel"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "codiceContatto",
            "in": "query",
            "required": true,
            "description": "codice del contatto",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/Contatti/SaldoPuntiByCodiceContatto": {
      "get": {
        "operationId": "Contatti_SaldoPuntiByCodiceContatto",
        "summary": "Restituisce il saldo di un contatto dato un codice contatto",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "codiceContatto",
            "in": "query",
            "required": true,
            "description": "codice del contatto",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/Contatti/ElencoCampiCustom": {
      "get": {
        "operationId": "Contatti_ElencoCampiCustom",
        "summary": "Restituisce l'elenco dei campi custom disponibili per i contatti",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/api.cooperto.it.CampiCustomViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Contatti/ElencoCouponContatto": {
      "get": {
        "operationId": "Contatti_ElencoCouponContatto",
        "summary": "Restituisce l'elenco dei coupon del contatto",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/api.cooperto.it.CouponContattoViewModel"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "codiceContatto",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/Contatti/VerificaCouponContatto": {
      "get": {
        "operationId": "Contatti_VerificaCouponContatto",
        "summary": "Restituisce le informazioni del codice coupon contatto ricercato",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.CouponContattoViewModel"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "codiceCouponContatto",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/Contatti/UtilizzaCouponContatto": {
      "post": {
        "operationId": "Contatti_UtilizzaCouponContatto",
        "summary": "Utilizza il codice coupon contatto indicato",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.CouponContattoViewModel"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestUtilizzaCoupon"
              }
            }
          }
        }
      }
    },
    "/api/Contatti/AggiungiPuntiCard": {
      "post": {
        "operationId": "Contatti_AggiungiPuntiCard",
        "summary": "Aggiunge punti dato un codice contatto",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestPunti"
              }
            }
          }
        }
      }
    },
    "/api/Contatti/RimuoviPuntiCard": {
      "post": {
        "operationId": "Contatti_RimuoviPuntiCard",
        "summary": "Rimuovi punti dato un codice contatto",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestPunti"
              }
            }
          }
        }
      }
    },
    "/api/Contatti/AggiornaFidelityCard": {
      "post": {
        "operationId": "Contatti_AggiornaFidelityCard",
        "summary": "Aggiorna la fidelity card del contatto.\r\nSe il contatto non ha nessuna card associata, verrà creato un nuovo codice personale.\r\nÈ possibile indicare un codice personalizzato valorizzando il campo codiceCardContatto, in alternativa verrà generato automaticamente in base alle impostazioni del ristorante.\r\nLasciare vuoto il campo codiceCardContatto per modificare solamente la fidelity card associata al contatto.",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestAggiornaFidelity"
              }
            }
          }
        }
      }
    },
    "/api/Contatti/Crea": {
      "post": {
        "operationId": "Contatti_Crea",
        "summary": "Crea il contatto sul locale autenticato.\r\nSe viene trovato un contatto gia presente in base a email/telefono, ed il parametro SovrascriviDati è valorizzato a 'true', verranno sovrascritti solo i dati inviati",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.ContattoViewModel"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestContatto"
              }
            }
          }
        }
      }
    },
    "/api/Contatti/AggiungiTag": {
      "post": {
        "operationId": "Contatti_AggiungiTag",
        "summary": "Aggiunge il tag specificato al contatto",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestAggiungiTagContatto"
              }
            }
          }
        }
      }
    },
    "/api/Contatti/AggiungiTags": {
      "post": {
        "operationId": "Contatti_AggiungiTags",
        "summary": "Aggiunge l'elenco di tag specificati al contatto",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestAggiungiTagsContatto"
              }
            }
          }
        }
      }
    },
    "/api/Contatti/RimuoviTag": {
      "post": {
        "operationId": "Contatti_RimuoviTag",
        "summary": "Rimuove il tag specificato al contatto",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestRimuoviTagContatto"
              }
            }
          }
        }
      }
    },
    "/api/Contatti/RimuoviTags": {
      "post": {
        "operationId": "Contatti_RimuoviTags",
        "summary": "Rimuove l'elenco di tag specificati dal contatto",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestRimuoviTagsContatto"
              }
            }
          }
        }
      }
    },
    "/api/Contatti/GeneraCoupon": {
      "post": {
        "operationId": "Contatti_GeneraCoupon",
        "summary": "Genera il coupon per il contatto specificato, se il contatto non è presente lo crea",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.ResponseGeneraCoupon"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestGeneraCoupon"
              }
            }
          }
        }
      }
    },
    "/api/Contatti/CreaMovimento": {
      "post": {
        "operationId": "Contatti_CreaMovimento",
        "summary": "Crea un nuovo movimento per il contatto, nella data indicata",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestCreaMovimentoContatto"
              }
            }
          }
        }
      }
    },
    "/api/Contatti/RegistraVisita": {
      "post": {
        "operationId": "Contatti_RegistraVisita",
        "summary": "Registra la visita di un contatto, se non è già presente una visita nella stessa giornata",
        "tags": [
          "Contatti"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestRegistraVisita"
              }
            }
          }
        }
      }
    },
    "/api/FidelityCard/Elenco": {
      "get": {
        "operationId": "FidelityCard_Elenco",
        "summary": "Restituisce l'elenco delle fidelity cards del locale autenticato",
        "tags": [
          "FidelityCard"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.ResponseElenco[api.cooperto.it.CardsViewModel]"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "numero di record da saltare (Default 0)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "numero di record per pagina (Default 100)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/api/Prenotazioni/ElencoByCodiceSede": {
      "get": {
        "operationId": "Prenotazioni_ElencoByCodiceSede",
        "summary": "Restituisce l'elenco delle prenotazioni del locale autenticato filtrate per codice sede, ordinato per DataPrenotazione decrescente",
        "tags": [
          "Prenotazioni"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.ResponseElenco[api.cooperto.it.PrenotazioniViewModel]"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "codiceSede",
            "in": "query",
            "required": true,
            "description": "codice della sede",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataInizio",
            "in": "query",
            "required": false,
            "description": "data inizio nel formato YYYY-MM-DD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataFine",
            "in": "query",
            "required": false,
            "description": "data fine nel formato YYYY-MM-DD",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "numero di record da saltare (Default 0)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "numero di record per pagina (Default 100)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/api/Prenotazioni/ElencoByEMailContatto": {
      "get": {
        "operationId": "Prenotazioni_ElencoByEMailContatto",
        "summary": "Restituisce l'elenco delle prenotazioni del contatto filtrato per email, ordinato per DataPrenotazione decrescente",
        "tags": [
          "Prenotazioni"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.ResponseElenco[api.cooperto.it.PrenotazioniViewModel]"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "emailContatto",
            "in": "query",
            "required": true,
            "description": "email del contatto",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "numero di record da saltare (Default 0)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "numero di record per pagina (Default 100)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/api/Prenotazioni/ElencoByCodiceContatto": {
      "get": {
        "operationId": "Prenotazioni_ElencoByCodiceContatto",
        "summary": "Restituisce l'elenco delle prenotazioni del contatto filtrato per codice contatto, ordinato per DataPrenotazione decrescente",
        "tags": [
          "Prenotazioni"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.ResponseElenco[api.cooperto.it.PrenotazioniViewModel]"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "codiceContatto",
            "in": "query",
            "required": true,
            "description": "codice del contatto",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "numero di record da saltare (Default 0)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "numero di record per pagina (Default 100)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/api/Prenotazioni/DettagliByCodicePrenotazione": {
      "get": {
        "operationId": "Prenotazioni_DettagliByCodicePrenotazione",
        "summary": "Restituisce i dettagli di una prenotazione dato un codice prenotazione",
        "tags": [
          "Prenotazioni"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.PrenotazioniViewModel"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "codicePrenotazione",
            "in": "query",
            "required": true,
            "description": "Codice della prenotazione",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/Prenotazioni/ElencoModuliPrenotazione": {
      "get": {
        "operationId": "Prenotazioni_ElencoModuliPrenotazione",
        "summary": "Restituisce l'elenco dei moduli prenotazioni del locale autenticato filtrate per codice sede",
        "tags": [
          "Prenotazioni"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.ResponseElenco[api.cooperto.it.ModuliPrenotazioneViewModel]"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "codiceSede",
            "in": "query",
            "required": true,
            "description": "codice della sede",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "numero di record da saltare (Default 0)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "numero di record per pagina (Default 100)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/api/Prenotazioni/Crea": {
      "post": {
        "operationId": "Prenotazioni_Crea",
        "summary": "Crea la prenotazione e il relativo contatto (se presenti mail o telefono) sul locale autenticato",
        "tags": [
          "Prenotazioni"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.PrenotazioniViewModel"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.PrenotazioniController.RequestCreaPrenotazione"
              }
            }
          }
        }
      }
    },
    "/api/Prenotazioni/Aggiorna": {
      "post": {
        "operationId": "Prenotazioni_Aggiorna",
        "summary": "Aggiorna i dati della prenotazione sul locale autenticato",
        "tags": [
          "Prenotazioni"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.PrenotazioniViewModel"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.PrenotazioniController.RequestAggiornaPrenotazione"
              }
            }
          }
        }
      }
    },
    "/api/Prenotazioni/AggiornaStato": {
      "post": {
        "operationId": "Prenotazioni_AggiornaStato",
        "summary": "Aggiorna lo stato della prenotazione con il codice indicato",
        "tags": [
          "Prenotazioni"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.PrenotazioniController.RequestAggiornaStatoPrenotazione"
              }
            }
          }
        }
      }
    },
    "/api/Prenotazioni/CreaMovimento": {
      "post": {
        "operationId": "Prenotazioni_CreaMovimento",
        "summary": "Aggiorna l'importo speso sulla prenotazione con il codice indicato",
        "tags": [
          "Prenotazioni"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.PrenotazioniController.RequestCreaMovimentoPrenotazione"
              }
            }
          }
        }
      }
    },
    "/api/Sedi/Elenco": {
      "get": {
        "operationId": "Sedi_Elenco",
        "summary": "Restituisce l'elenco delle sedi del locale autenticato",
        "tags": [
          "Sedi"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api.cooperto.it.ResponseElenco[api.cooperto.it.SediViewModel]"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "numero di record da saltare (Default 0)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "numero di record per pagina (Default 100)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ]
      }
    },
    "/api/Wifi/Login": {
      "post": {
        "operationId": "Wifi_Login",
        "summary": "Crea l'evento in base ai parametri indicati",
        "tags": [
          "Wifi"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api.cooperto.it.Controllers.WifiController.RequestWifiLogin"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "api.cooperto.it.Controllers.ApprestoController.ApprestoRequestCreaPrenotazione": {
        "required": [
          "CodiceSede",
          "CodiceStato",
          "DataPrenotazione",
          "Pax"
        ],
        "type": "object",
        "properties": {
          "CodiceSede": {
            "type": "string"
          },
          "CodiceStato": {
            "format": "int32",
            "description": "1 = Da confermare,\r\n2 = Confermata",
            "type": "integer"
          },
          "DataPrenotazione": {
            "format": "date-time",
            "description": "Data e ora della prenotazione in UTC",
            "type": "string"
          },
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Telefono": {
            "description": "numero di telefono compreso di prefisso internazionale (es: +39)",
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Pax": {
            "format": "int32",
            "description": "Numero di persone (numero interno maggiore di 0)",
            "type": "integer"
          },
          "TempoPermanenza": {
            "format": "int32",
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "ConsensoPrivacy": {
            "type": "boolean"
          },
          "ConsensoMarketing": {
            "type": "boolean"
          }
        }
      },
      "api.cooperto.it.PrenotazioniViewModel": {
        "type": "object",
        "properties": {
          "DataCreazione": {
            "format": "date-time",
            "type": "string"
          },
          "DataPrenotazione": {
            "format": "date-time",
            "type": "string"
          },
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Telefono": {
            "type": "string"
          },
          "Pax": {
            "format": "int32",
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "MotivoRifiuto": {
            "type": "string"
          },
          "CodiceStato": {
            "format": "int32",
            "type": "integer"
          },
          "LabelStato": {
            "type": "string"
          },
          "CodicePrenotazione": {
            "type": "string"
          },
          "CodiceSede": {
            "type": "string"
          },
          "CodiceContatto": {
            "type": "string"
          },
          "CodiceModuloPrenotazione": {
            "type": "string"
          },
          "CodiceSala": {
            "type": "string"
          },
          "NomeSala": {
            "type": "string"
          },
          "Tavoli": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/api.cooperto.it.PrenotazioniViewModel.TavoloPrenotazioneViewModel"
            }
          }
        }
      },
      "api.cooperto.it.PrenotazioniViewModel.TavoloPrenotazioneViewModel": {
        "type": "object",
        "properties": {
          "CodiceTavolo": {
            "type": "string"
          },
          "NomeTavolo": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ApprestoController.ApprestoRequestAggiornaPrenotazione": {
        "required": [
          "CodicePrenotazione",
          "CodiceSede",
          "CodiceStato",
          "DataPrenotazione",
          "Pax"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazione": {
            "type": "string"
          },
          "CodiceSede": {
            "type": "string"
          },
          "CodiceStato": {
            "format": "int32",
            "description": "1 = Da confermare,\r\n2 = Confermata,\r\n3 = Cancellata,\r\n4 = Non accettata,\r\n5 = Cliente IN,\r\n6 = Cliente OUT,\r\n10 =\tNo-show",
            "type": "integer"
          },
          "DataPrenotazione": {
            "format": "date-time",
            "description": "Data e ora della prenotazione in UTC",
            "type": "string"
          },
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Telefono": {
            "description": "numero di telefono compreso di prefisso internazionale (es: +39)",
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Pax": {
            "format": "int32",
            "description": "Numero di persone (numero interno maggiore di 0)",
            "type": "integer"
          },
          "TempoPermanenza": {
            "format": "int32",
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "Elimina": {
            "description": "Default value ='false. \r\nSe valorizzato a 'true' elimina la prenotazione. \r\nL'operazione NON è reversibile",
            "type": "boolean"
          }
        }
      },
      "api.cooperto.it.Controllers.ApprestoController.ApprestoRequestAggiornaStatoPrenotazione": {
        "required": [
          "CodicePrenotazione",
          "CodiceStato"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazione": {
            "type": "string"
          },
          "CodiceStato": {
            "format": "int32",
            "description": "1 = Da confermare,\r\n2 = Confermata,\r\n3 = Cancellata,\r\n4 = Non accettata,\r\n5 = Cliente IN,\r\n6 = Cliente OUT,\r\n10 =\tNo-show",
            "type": "integer"
          }
        }
      },
      "api.cooperto.it.Controllers.ApprestoController.ApprestoRequestAggiornaImportoSpesoPrenotazione": {
        "required": [
          "CodicePrenotazione",
          "Importo"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazione": {
            "type": "string"
          },
          "Importo": {
            "format": "double",
            "type": "number"
          },
          "Note": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.ResponseElenco[api.cooperto.it.Controllers.CodaController.CodaElencoViewModel]": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/api.cooperto.it.Controllers.CodaController.CodaElencoViewModel"
            }
          },
          "total": {
            "format": "int32",
            "type": "integer"
          },
          "pageSize": {
            "format": "int32",
            "type": "integer"
          },
          "nextPage": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "api.cooperto.it.Controllers.CodaController.CodaElencoViewModel": {
        "type": "object",
        "properties": {
          "DataCoda": {
            "format": "date-time",
            "type": "string"
          },
          "DataCreazione": {
            "format": "date-time",
            "type": "string"
          },
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Telefono": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Pax": {
            "format": "int32",
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "CodiceCoda": {
            "type": "string"
          },
          "CodiceSede": {
            "type": "string"
          },
          "CodiceContatto": {
            "type": "string"
          },
          "LinkCoda": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.CodaController.CodaViewModel": {
        "type": "object",
        "properties": {
          "DataCoda": {
            "format": "date-time",
            "type": "string"
          },
          "DataCreazione": {
            "format": "date-time",
            "type": "string"
          },
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Telefono": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Pax": {
            "format": "int32",
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "CodiceCoda": {
            "type": "string"
          },
          "CodiceSede": {
            "type": "string"
          },
          "CodiceContatto": {
            "type": "string"
          },
          "LinkCoda": {
            "type": "string"
          },
          "MinutiAttesaMin": {
            "format": "int32",
            "type": "integer"
          },
          "MinutiAttesaMax": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "api.cooperto.it.Controllers.CodaController.RequestCreaCoda": {
        "required": [
          "CodiceSede",
          "Telefono",
          "Pax"
        ],
        "type": "object",
        "properties": {
          "CodiceSede": {
            "type": "string"
          },
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Telefono": {
            "description": "numero di telefono compreso di prefisso internazionale (es: +39)",
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Pax": {
            "format": "int32",
            "description": "Numero di persone (numero interno maggiore di 0)",
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "ConsensoPrivacy": {
            "type": "boolean"
          },
          "ConsensoMarketing": {
            "type": "boolean"
          }
        }
      },
      "api.cooperto.it.Controllers.CodaController.RequestCodaClienteIn": {
        "required": [
          "CodiceCoda"
        ],
        "type": "object",
        "properties": {
          "CodiceCoda": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.CodaController.RequestEliminaCoda": {
        "required": [
          "CodiceCoda"
        ],
        "type": "object",
        "properties": {
          "CodiceCoda": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.CodaController.AutomazioneCodaDTO": {
        "type": "object",
        "properties": {
          "Nome": {
            "type": "string"
          },
          "CodiceAutomazione": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.CodaController.RequestEseguiAutomazioneCoda": {
        "type": "object",
        "properties": {
          "codiceCoda": {
            "type": "string"
          },
          "codiceAutomazione": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.ResponseElenco[api.cooperto.it.ContattoViewModel]": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/api.cooperto.it.ContattoViewModel"
            }
          },
          "total": {
            "format": "int32",
            "type": "integer"
          },
          "pageSize": {
            "format": "int32",
            "type": "integer"
          },
          "nextPage": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "api.cooperto.it.ContattoViewModel": {
        "type": "object",
        "properties": {
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "DataCreazione": {
            "format": "date-time",
            "type": "string"
          },
          "Telefono": {
            "type": "string"
          },
          "DataDiNascita": {
            "format": "date-time",
            "type": "string"
          },
          "Indirizzo": {
            "type": "string"
          },
          "Citta": {
            "type": "string"
          },
          "CAP": {
            "type": "string"
          },
          "Nazione": {
            "type": "string"
          },
          "ConsensoPrivacy": {
            "format": "int32",
            "type": "integer"
          },
          "DataConsensoPrivacy": {
            "format": "date-time",
            "type": "string"
          },
          "ConsensoMarketing": {
            "format": "int32",
            "type": "integer"
          },
          "DataConsensoMarketing": {
            "format": "date-time",
            "type": "string"
          },
          "Note": {
            "type": "string"
          },
          "NumeroVisite": {
            "format": "int32",
            "type": "integer"
          },
          "DataUltimaVisita": {
            "format": "date-time",
            "type": "string"
          },
          "Provincia": {
            "type": "string"
          },
          "CodiceCard": {
            "description": "Codice identificativo univoco della card del contatto",
            "type": "string"
          },
          "CodiceCardAssegnata": {
            "description": "Codice identificativo generale della fidelity card",
            "type": "string"
          },
          "NomeCardAssegnata": {
            "description": "Nome della fidelity card",
            "type": "string"
          },
          "SaldoPuntiCard": {
            "format": "int32",
            "type": "integer"
          },
          "Disiscritto": {
            "format": "int32",
            "type": "integer"
          },
          "DataDisiscrizione": {
            "format": "date-time",
            "type": "string"
          },
          "CodiceContatto": {
            "type": "string"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "api.cooperto.it.CampiCustomViewModel": {
        "type": "object",
        "properties": {
          "Label": {
            "type": "string"
          },
          "CodiceCampo": {
            "type": "string"
          },
          "CodiceTipo": {
            "format": "int32",
            "type": "integer"
          },
          "NomeTipo": {
            "type": "string"
          },
          "RisposteDisponibili": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/api.cooperto.it.CampiCustomRispostaViewModel"
            }
          }
        }
      },
      "api.cooperto.it.CampiCustomRispostaViewModel": {
        "type": "object",
        "properties": {
          "CodiceRisposta": {
            "type": "string"
          },
          "Testo": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.CouponContattoViewModel": {
        "type": "object",
        "properties": {
          "CodiceContatto": {
            "type": "string"
          },
          "DataCreazione": {
            "format": "date-time",
            "type": "string"
          },
          "DataScadenza": {
            "format": "date-time",
            "type": "string"
          },
          "DataUtilizzo": {
            "format": "date-time",
            "type": "string"
          },
          "CodiceCouponContatto": {
            "type": "string"
          },
          "Utilizzato": {
            "type": "boolean"
          },
          "CodiceCoupon": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestUtilizzaCoupon": {
        "required": [
          "CodiceCouponContatto",
          "CodiceSede"
        ],
        "type": "object",
        "properties": {
          "CodiceCouponContatto": {
            "description": "Codice del coupon contatto",
            "type": "string"
          },
          "CodiceSede": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestInviaWhatsappApi": {
        "type": "object",
        "properties": {
          "Telefono": {
            "description": "Numero di telefono con prefisso internazionale (es: +39)",
            "type": "string"
          },
          "Messaggio": {
            "type": "string"
          },
          "CodiceSede": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestPunti": {
        "type": "object",
        "properties": {
          "codiceContatto": {
            "type": "string"
          },
          "punti": {
            "format": "int32",
            "type": "integer"
          },
          "note": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestAggiornaFidelity": {
        "required": [
          "codiceContatto",
          "codiceCard"
        ],
        "type": "object",
        "properties": {
          "codiceContatto": {
            "description": "Codice del contatto su Cooperto",
            "type": "string"
          },
          "codiceCard": {
            "description": "Codice della fidelity card su Cooperto",
            "type": "string"
          },
          "codiceCardContatto": {
            "description": "Codice della card personale del contatto. \r\nAttenzione: se valorizzato sovrascriverà il codice generato automaticamente per il contatto",
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestContatto": {
        "type": "object",
        "properties": {
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Telefono": {
            "description": "numero di telefono compreso di prefisso internazionale (es: +39)",
            "type": "string"
          },
          "DataDiNascita": {
            "format": "date-time",
            "description": "Data di nascita del contatto, verrà considerata solo la data ed escluso il time",
            "type": "string"
          },
          "Indirizzo": {
            "type": "string"
          },
          "Citta": {
            "type": "string"
          },
          "CAP": {
            "type": "string"
          },
          "Provincia": {
            "type": "string"
          },
          "Nazione": {
            "type": "string"
          },
          "Note": {
            "type": "string"
          },
          "ConsensoPrivacy": {
            "type": "boolean"
          },
          "DataConsensoPrivacy": {
            "format": "date-time",
            "type": "string"
          },
          "ConsensoMarketing": {
            "type": "boolean"
          },
          "DataConsensoMarketing": {
            "format": "date-time",
            "type": "string"
          },
          "SovrascriviDati": {
            "description": "Se viene trovato un contatto in base alla email/telefono, i valori passati vengono sovrascritti",
            "type": "boolean"
          },
          "CampiCustom": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/api.cooperto.it.Controllers.ContattiController.RequestContatto.ValoreCampoCustom"
            }
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestContatto.ValoreCampoCustom": {
        "type": "object",
        "properties": {
          "CodiceCampo": {
            "type": "string"
          },
          "Valore": {
            "type": "string"
          },
          "CodiciRisposte": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestAggiungiTagContatto": {
        "required": [
          "CodiceSede",
          "CodiceContatto",
          "Tag"
        ],
        "type": "object",
        "properties": {
          "CodiceSede": {
            "type": "string"
          },
          "CodiceContatto": {
            "type": "string"
          },
          "Tag": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestAggiungiTagsContatto": {
        "required": [
          "CodiceSede",
          "CodiceContatto",
          "Tags"
        ],
        "type": "object",
        "properties": {
          "CodiceSede": {
            "type": "string"
          },
          "CodiceContatto": {
            "type": "string"
          },
          "CreaTagSeNonPresente": {
            "description": "Se uno dei tag non è presente su Cooperto, lo crea e lo associa al contatto.\r\nSe non specificato, il valore di default è 'false'",
            "type": "boolean"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestRimuoviTagContatto": {
        "required": [
          "CodiceContatto",
          "Tag"
        ],
        "type": "object",
        "properties": {
          "CodiceContatto": {
            "type": "string"
          },
          "Tag": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestRimuoviTagsContatto": {
        "type": "object",
        "properties": {
          "CodiceSede": {
            "type": "string"
          },
          "CodiceContatto": {
            "type": "string"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestEliminaContatto": {
        "type": "object",
        "properties": {
          "CodiceContatto": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestGeneraCoupon": {
        "type": "object",
        "properties": {
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Telefono": {
            "description": "numero di telefono compreso di prefisso internazionale (es: +39)",
            "type": "string"
          },
          "CodiceCoupon": {
            "type": "string"
          },
          "DataPrivacy": {
            "format": "date-time",
            "type": "string"
          },
          "DataMarketing": {
            "format": "date-time",
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.ResponseGeneraCoupon": {
        "type": "object",
        "properties": {
          "UrlQRCode": {
            "type": "string"
          },
          "DataGenerazione": {
            "format": "date-time",
            "type": "string"
          },
          "DataUtilizzo": {
            "format": "date-time",
            "type": "string"
          },
          "DataScadenza": {
            "format": "date-time",
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestCreaMovimentoContatto": {
        "required": [
          "CodiceContatto",
          "DataMovimento",
          "Importo"
        ],
        "type": "object",
        "properties": {
          "CodiceContatto": {
            "type": "string"
          },
          "DataMovimento": {
            "format": "date-time",
            "type": "string"
          },
          "Importo": {
            "format": "double",
            "type": "number"
          },
          "Note": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ContattiController.RequestRegistraVisita": {
        "required": [
          "codiceContatto",
          "codiceSede",
          "dataVisita"
        ],
        "type": "object",
        "properties": {
          "codiceContatto": {
            "type": "string"
          },
          "codiceSede": {
            "type": "string"
          },
          "dataVisita": {
            "format": "date-time",
            "description": "Data e ora della visita in timezone W. Europe Standard Time",
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.EventiController.EventiViewModel": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "type": "integer"
          },
          "nome": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.EventiController.RequestCreaEvento": {
        "required": [
          "codiceSede",
          "idTipoEvento",
          "codiceContatto",
          "customValue"
        ],
        "type": "object",
        "properties": {
          "codiceSede": {
            "type": "string"
          },
          "idTipoEvento": {
            "format": "int32",
            "description": "37 = WIFI_LOGIN",
            "type": "integer"
          },
          "codiceContatto": {
            "type": "string"
          },
          "customValue": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.ResponseElenco[api.cooperto.it.CardsViewModel]": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/api.cooperto.it.CardsViewModel"
            }
          },
          "total": {
            "format": "int32",
            "type": "integer"
          },
          "pageSize": {
            "format": "int32",
            "type": "integer"
          },
          "nextPage": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "api.cooperto.it.CardsViewModel": {
        "type": "object",
        "properties": {
          "Nome": {
            "type": "string"
          },
          "Livello": {
            "format": "int32",
            "type": "integer"
          },
          "CodiceCard": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.FloodController.FloodRequestCreaPrenotazione": {
        "required": [
          "CodicePrenotazioneFlood",
          "CodiceSedeFlood",
          "DataPrenotazione",
          "Pax"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazioneFlood": {
            "type": "string"
          },
          "CodiceSedeFlood": {
            "type": "string"
          },
          "DataPrenotazione": {
            "format": "date-time",
            "description": "Data e ora della prenotazione in UTC",
            "type": "string"
          },
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Telefono": {
            "description": "numero di telefono compreso di prefisso internazionale (es: +39)",
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Pax": {
            "format": "int32",
            "description": "Numero di persone (numero interno maggiore di 0)",
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "CodiciTavoli": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ConsensoPrivacy": {
            "type": "boolean"
          },
          "ConsensoMarketing": {
            "type": "boolean"
          }
        }
      },
      "api.cooperto.it.Controllers.FloodController.FloodRequestAggiornaPrenotazione": {
        "required": [
          "CodiceSedeFlood",
          "CodiceStato",
          "DataPrenotazione",
          "Pax"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazione": {
            "description": "se valorizzato, utilizza il codice prenotazione interno di Cooperto per identificare la prenotazione",
            "type": "string"
          },
          "CodicePrenotazioneFlood": {
            "description": "se CodicePrenotazione non viene indicato, utilizza il CodicePrenotazioneFlood per identificare la prenotazione",
            "type": "string"
          },
          "CodiceSedeFlood": {
            "type": "string"
          },
          "CodiceStato": {
            "format": "int32",
            "type": "integer"
          },
          "DataPrenotazione": {
            "format": "date-time",
            "description": "Data e ora della prenotazione in UTC",
            "type": "string"
          },
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Telefono": {
            "description": "numero di telefono compreso di prefisso internazionale (es: +39)",
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Pax": {
            "format": "int32",
            "description": "Numero di persone (numero interno maggiore di 0)",
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "CodiciTavoli": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "api.cooperto.it.Controllers.FloodController.FloodRequestAggiornaStatoPrenotazione": {
        "required": [
          "CodiceStato"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazione": {
            "description": "se valorizzato, utilizza il codice prenotazione interno di Cooperto per identificare la prenotazione",
            "type": "string"
          },
          "CodicePrenotazioneFlood": {
            "description": "se CodicePrenotazione non viene indicato, utilizza il CodicePrenotazioneFlood per identificare la prenotazione",
            "type": "string"
          },
          "CodiceStato": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "api.cooperto.it.Controllers.FloodController.FloodRequestAggiornaImportoSpesoPrenotazione": {
        "required": [
          "Importo"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazione": {
            "description": "se valorizzato, utilizza il codice prenotazione interno di Cooperto per identificare la prenotazione",
            "type": "string"
          },
          "CodicePrenotazioneFlood": {
            "description": "se CodicePrenotazione non viene indicato, utilizza il CodicePrenotazioneFlood per identificare la prenotazione",
            "type": "string"
          },
          "Importo": {
            "format": "double",
            "type": "number"
          },
          "Note": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.ResponseElenco[api.cooperto.it.PrenotazioniViewModel]": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/api.cooperto.it.PrenotazioniViewModel"
            }
          },
          "total": {
            "format": "int32",
            "type": "integer"
          },
          "pageSize": {
            "format": "int32",
            "type": "integer"
          },
          "nextPage": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "api.cooperto.it.ResponseElenco[api.cooperto.it.ModuliPrenotazioneViewModel]": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/api.cooperto.it.ModuliPrenotazioneViewModel"
            }
          },
          "total": {
            "format": "int32",
            "type": "integer"
          },
          "pageSize": {
            "format": "int32",
            "type": "integer"
          },
          "nextPage": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "api.cooperto.it.ModuliPrenotazioneViewModel": {
        "type": "object",
        "properties": {
          "Nome": {
            "type": "string"
          },
          "CodiceModulo": {
            "type": "string"
          },
          "TipoModulo": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.PrenotazioniController.RequestCreaPrenotazione": {
        "required": [
          "CodiceSede",
          "DataPrenotazione",
          "CodiceStato",
          "Pax"
        ],
        "type": "object",
        "properties": {
          "CodiceSede": {
            "type": "string"
          },
          "DataPrenotazione": {
            "format": "date-time",
            "description": "Data e ora della prenotazione in timezone W. Europe Standard Time",
            "type": "string"
          },
          "CodiceStato": {
            "format": "int32",
            "description": "Stato della prenotazione (1 = Da Confermare, 2 = Confermata)",
            "type": "integer"
          },
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Telefono": {
            "description": "numero di telefono compreso di prefisso internazionale (es: +39)",
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Pax": {
            "format": "int32",
            "description": "Numero di persone (numero interno maggiore di 0)",
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "ConsensoPrivacy": {
            "type": "boolean"
          },
          "ConsensoMarketing": {
            "type": "boolean"
          }
        }
      },
      "api.cooperto.it.Controllers.PrenotazioniController.RequestAggiornaPrenotazione": {
        "required": [
          "CodicePrenotazione",
          "DataPrenotazione",
          "CodiceStato",
          "Pax"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazione": {
            "type": "string"
          },
          "DataPrenotazione": {
            "format": "date-time",
            "description": "Data e ora della prenotazione in timezone W. Europe Standard Time",
            "type": "string"
          },
          "CodiceStato": {
            "format": "int32",
            "description": "Stato della prenotazione:\r\nConfermata = 2,\r\nCancellata = 3,\r\nNonAccettata = 4,\r\nClienteIN = 5,\r\nClienteOUT = 6,\r\nListaAttesa = 8,\r\nAnnullataCliente = 9,\r\nNoShow = 10,",
            "type": "integer"
          },
          "Pax": {
            "format": "int32",
            "description": "Numero di persone (numero interno maggiore di 0)",
            "type": "integer"
          },
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Telefono": {
            "description": "numero di telefono compreso di prefisso internazionale (es: +39)\r\nobbligatorio se non c'è una mail specificata",
            "type": "string"
          },
          "Email": {
            "description": "obbligatoria se non c'è un telefono specificato",
            "type": "string"
          },
          "Note": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.PrenotazioniController.RequestAggiornaStatoPrenotazione": {
        "required": [
          "CodicePrenotazione",
          "CodiceStato"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazione": {
            "type": "string"
          },
          "CodiceStato": {
            "format": "int32",
            "description": "Stato della prenotazione:\r\nConfermata = 2,\r\nCancellata = 3,\r\nNonAccettata = 4,\r\nClienteIN = 5,\r\nClienteOUT = 6,\r\nListaAttesa = 8,\r\nAnnullataCliente = 9,\r\nNoShow = 10,",
            "type": "integer"
          }
        }
      },
      "api.cooperto.it.Controllers.PrenotazioniController.RequestCreaMovimentoPrenotazione": {
        "required": [
          "CodicePrenotazione",
          "Importo"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazione": {
            "type": "string"
          },
          "Importo": {
            "format": "double",
            "type": "number"
          },
          "Note": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.ResponseElenco[api.cooperto.it.SediViewModel]": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/api.cooperto.it.SediViewModel"
            }
          },
          "total": {
            "format": "int32",
            "type": "integer"
          },
          "pageSize": {
            "format": "int32",
            "type": "integer"
          },
          "nextPage": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "api.cooperto.it.SediViewModel": {
        "type": "object",
        "properties": {
          "Nome": {
            "type": "string"
          },
          "CodiceSede": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.TavolinuxController.TavolinuxRequestCreaPrenotazione": {
        "required": [
          "CodiceSedeTavolinux",
          "CodiceStato",
          "DataPrenotazione",
          "Pax"
        ],
        "type": "object",
        "properties": {
          "CodiceSedeTavolinux": {
            "type": "string"
          },
          "CodiceStato": {
            "format": "int32",
            "type": "integer"
          },
          "DataPrenotazione": {
            "format": "date-time",
            "description": "Data e ora della prenotazione in UTC",
            "type": "string"
          },
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Telefono": {
            "description": "numero di telefono compreso di prefisso internazionale (es: +39)",
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Pax": {
            "format": "int32",
            "description": "Numero di persone (numero interno maggiore di 0)",
            "type": "integer"
          },
          "TempoPermanenza": {
            "format": "int32",
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "ConsensoPrivacy": {
            "type": "boolean"
          },
          "ConsensoMarketing": {
            "type": "boolean"
          }
        }
      },
      "api.cooperto.it.Controllers.TavolinuxController.TavolinuxRequestAggiornaPrenotazione": {
        "required": [
          "CodicePrenotazione",
          "CodiceSedeTavolinux",
          "CodiceStato",
          "DataPrenotazione",
          "Pax"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazione": {
            "type": "string"
          },
          "CodiceSedeTavolinux": {
            "type": "string"
          },
          "CodiceStato": {
            "format": "int32",
            "type": "integer"
          },
          "DataPrenotazione": {
            "format": "date-time",
            "description": "Data e ora della prenotazione in UTC",
            "type": "string"
          },
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Telefono": {
            "description": "numero di telefono compreso di prefisso internazionale (es: +39)",
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Pax": {
            "format": "int32",
            "description": "Numero di persone (numero interno maggiore di 0)",
            "type": "integer"
          },
          "TempoPermanenza": {
            "format": "int32",
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "Elimina": {
            "description": "Default value ='false. \r\nSe valorizzato a 'true' elimina la prenotazione. \r\nL'operazione NON è reversibile",
            "type": "boolean"
          }
        }
      },
      "api.cooperto.it.Controllers.TavolinuxController.TavolinuxRequestAggiornaStatoPrenotazione": {
        "required": [
          "CodicePrenotazione",
          "CodiceStato"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazione": {
            "type": "string"
          },
          "CodiceStato": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "api.cooperto.it.Controllers.TavolinuxController.TavolinuxRequestAggiornaImportoSpesoPrenotazione": {
        "required": [
          "CodicePrenotazione",
          "Importo"
        ],
        "type": "object",
        "properties": {
          "CodicePrenotazione": {
            "type": "string"
          },
          "Importo": {
            "format": "double",
            "type": "number"
          },
          "Note": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.WifiController.RequestWifiLogin": {
        "required": [
          "codiceSede",
          "codiceContatto"
        ],
        "type": "object",
        "properties": {
          "codiceSede": {
            "type": "string"
          },
          "codiceContatto": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.XMenuController.EventiViewModel": {
        "type": "object",
        "properties": {
          "codice": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.XMenuController.RequestCreaEvento": {
        "required": [
          "codiceSede",
          "codiceEvento",
          "codiceContatto"
        ],
        "type": "object",
        "properties": {
          "codiceSede": {
            "type": "string"
          },
          "codiceEvento": {
            "type": "string"
          },
          "codiceContatto": {
            "type": "string"
          }
        }
      },
      "api.cooperto.it.Controllers.ZapierController.ZapierRequestContact": {
        "type": "object",
        "properties": {
          "contact": {
            "$ref": "#/components/schemas/api.cooperto.it.Controllers.ZapierController.ZapierRequestContact.ZapierContact"
          }
        }
      },
      "api.cooperto.it.Controllers.ZapierController.ZapierRequestContact.ZapierContact": {
        "type": "object",
        "properties": {
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Telefono": {
            "description": "numero di telefono compreso di prefisso internazionale (es: +39)",
            "type": "string"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "DataConsensoPrivacy": {
            "format": "date-time",
            "type": "string"
          },
          "DataConsensoMarketing": {
            "format": "date-time",
            "type": "string"
          },
          "Indirizzo": {
            "type": "string"
          },
          "Citta": {
            "type": "string"
          },
          "Cap": {
            "type": "string"
          },
          "Provincia": {
            "type": "string"
          },
          "Nazione": {
            "type": "string"
          },
          "DataDiNascita": {
            "format": "date-time",
            "type": "string"
          }
        }
      },
      "api.cooperto.it.ZapierContactListResponseViewModel": {
        "type": "object",
        "properties": {
          "Nome": {
            "type": "string"
          },
          "Cognome": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Telefono": {
            "type": "string"
          },
          "Indirizzo": {
            "type": "string"
          },
          "Citta": {
            "type": "string"
          },
          "CAP": {
            "type": "string"
          },
          "Nazione": {
            "type": "string"
          },
          "Provincia": {
            "type": "string"
          },
          "ConsensoPrivacy": {
            "format": "int32",
            "type": "integer"
          },
          "ConsensoMarketing": {
            "format": "int32",
            "type": "integer"
          },
          "NumeroVisite": {
            "format": "int32",
            "type": "integer"
          },
          "CodiceCard": {
            "type": "string"
          },
          "SaldoPuntiCard": {
            "format": "int32",
            "type": "integer"
          },
          "Note": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "DataCreazioneISO": {
            "type": "string",
            "readOnly": true
          },
          "DataDiNascitaISO": {
            "type": "string",
            "readOnly": true
          },
          "DataConsensoPrivacyISO": {
            "type": "string",
            "readOnly": true
          },
          "DataConsensoMarketingISO": {
            "type": "string",
            "readOnly": true
          },
          "DataUltimaVisitaISO": {
            "type": "string",
            "readOnly": true
          },
          "Tags": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API Key del ristorante (Bearer token)"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}