{
  "openapi": "3.0.3",
  "info": {
    "title": "Oikolab Weather Data API",
    "description": "Access 70+ years of global, hourly historical and forecast weather data from NOAA and ECMWF. Supports datasets including ERA5, ERA5-Land, GFS, GEFS, ICON, GDPS, IFS-OPEN, CFS, SILAM, HRRR, NAM-CONUS, NBM, HRDPS, ICON-EU, and ICON-D2. Data available in JSON, CSV, and NetCDF formats.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.oikolab.com",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.oikolab.com",
      "description": "Oikolab API server"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "name": "Weather",
      "description": "Weather data retrieval endpoints"
    }
  ],
  "paths": {
    "/weather": {
      "get": {
        "operationId": "getWeatherData",
        "summary": "Get weather data",
        "description": "Retrieve historical or forecast weather data for a given location and time range. Defaults to a 10-day window (3 days past to 7 days future) if dates are not specified. Default parameters include temperature, dewpoint_temperature, wind_speed, mean_sea_level_pressure, surface_solar_radiation, surface_thermal_radiation, and total_cloud_cover.",
        "tags": [
          "Weather"
        ],
        "parameters": [
          {
            "name": "param",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "temperature",
                  "dewpoint_temperature",
                  "wind_speed",
                  "wind_direction",
                  "mean_sea_level_pressure",
                  "surface_solar_radiation",
                  "surface_thermal_radiation",
                  "direct_solar_radiation",
                  "total_cloud_cover",
                  "total_precipitation",
                  "relative_humidity",
                  "snowfall",
                  "snow_depth",
                  "soil_temperature",
                  "surface_pressure",
                  "u_component_of_wind",
                  "v_component_of_wind"
                ]
              }
            },
            "style": "form",
            "explode": true,
            "description": "Weather parameters to retrieve. Multiple values can be specified."
          },
          {
            "name": "lat",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Latitude of the location"
          },
          {
            "name": "lon",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "description": "Longitude of the location"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Geographic location as address, city name, or 'lat,lon' coordinates. Alternative to separate lat/lon parameters."
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date in YYYY-MM-DD format"
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date in YYYY-MM-DD format"
          },
          {
            "name": "model",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "era5",
                "era5_land",
                "gfs",
                "gefs",
                "icon",
                "gdps",
                "ifs_open",
                "cfs",
                "silam",
                "hrrr",
                "nam_conus",
                "nbm",
                "hrdps",
                "icon_eu",
                "icon_d2"
              ]
            },
            "description": "Weather model/dataset to use"
          },
          {
            "name": "freq",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "H",
                "D",
                "M"
              ]
            },
            "description": "Data frequency: H (hourly), D (daily), M (monthly)"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "netcdf"
              ],
              "default": "json"
            },
            "description": "Response data format"
          }
        ],
        "responses": {
          "200": {
            "description": "Weather data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeatherDataResponse"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "CSV formatted weather data"
                }
              },
              "application/x-netcdf": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "NetCDF formatted weather data"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "Oikolab API key passed in the api-key header"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "integer",
            "description": "Error code"
          },
          "detail": {
            "type": "string",
            "description": "Detailed error information"
          }
        }
      },
      "WeatherDataResponse": {
        "type": "object",
        "properties": {
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Column names for the data"
          },
          "index": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Timestamps (ISO 8601) for each data row"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "description": "Weather data values, each inner array corresponds to one timestamp"
          },
          "attributes": {
            "$ref": "#/components/schemas/DataAttributes"
          }
        }
      },
      "DataAttributes": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude of the data point"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude of the data point"
          },
          "elevation": {
            "type": "number",
            "description": "Elevation in meters"
          },
          "model": {
            "type": "string",
            "description": "Weather model used"
          },
          "utc_offset": {
            "type": "number",
            "description": "UTC offset in hours"
          },
          "processing_time": {
            "type": "number",
            "description": "Server processing time in seconds"
          }
        }
      }
    }
  }
}
