{
  "openapi": "3.0.3",
  "info": {
    "title": "Eversend API",
    "description": "Eversend financial services API for wallets, currency exchange, payouts, collections, beneficiaries, transactions, crypto, and virtual cards.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://eversend.readme.io/"
  },
  "servers": [
    {
      "url": "https://api.eversend.co/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "operationId": "generateAuthToken",
        "summary": "Generate authentication token",
        "description": "Generate a bearer token using client credentials.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "clientId",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application client ID"
          },
          {
            "name": "clientSecret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Application client secret"
          }
        ],
        "responses": {
          "200": {
            "description": "Token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallets": {
      "get": {
        "operationId": "listWallets",
        "summary": "List all wallets",
        "description": "Retrieve all user wallets.",
        "tags": [
          "Wallets"
        ],
        "responses": {
          "200": {
            "description": "Successful response with wallets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/{walletId}": {
      "get": {
        "operationId": "getWallet",
        "summary": "Get a specific wallet",
        "description": "Retrieve a specific wallet by ID.",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/activate": {
      "post": {
        "operationId": "activateWallet",
        "summary": "Activate a wallet",
        "description": "Activate a wallet for a specific currency.",
        "tags": [
          "Wallets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletCurrencyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wallets/deactivate": {
      "post": {
        "operationId": "deactivateWallet",
        "summary": "Deactivate a wallet",
        "description": "Deactivate a wallet for a specific currency.",
        "tags": [
          "Wallets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletCurrencyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account profile",
        "description": "Retrieve account profile information.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/exchanges/quotation": {
      "post": {
        "operationId": "createExchangeQuotation",
        "summary": "Create exchange rate quotation",
        "description": "Get an exchange rate quotation between two currencies.",
        "tags": [
          "Exchange"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExchangeQuotationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quotation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeQuotationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/exchanges": {
      "post": {
        "operationId": "executeExchange",
        "summary": "Execute currency exchange",
        "description": "Execute a currency exchange using a quotation token.",
        "tags": [
          "Exchange"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exchange executed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/beneficiaries": {
      "get": {
        "operationId": "listBeneficiaries",
        "summary": "List beneficiaries",
        "description": "List beneficiaries with optional filtering.",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by beneficiary type"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of results per page"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficiaryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBeneficiaries",
        "summary": "Create beneficiaries",
        "description": "Create one or multiple beneficiaries.",
        "tags": [
          "Beneficiaries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBeneficiariesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beneficiaries created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/beneficiaries/{beneficiaryId}": {
      "get": {
        "operationId": "getBeneficiary",
        "summary": "Get a beneficiary",
        "description": "Retrieve a single beneficiary by ID.",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficiaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateBeneficiary",
        "summary": "Update a beneficiary",
        "description": "Update beneficiary information.",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBeneficiaryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beneficiary updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBeneficiary",
        "summary": "Delete a beneficiary",
        "description": "Remove a beneficiary.",
        "tags": [
          "Beneficiaries"
        ],
        "parameters": [
          {
            "name": "beneficiaryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficiary deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/beneficiaries/accounts/banks": {
      "post": {
        "operationId": "validateBankAccount",
        "summary": "Validate bank account",
        "description": "Validate bank account details.",
        "tags": [
          "Beneficiaries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank account validated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateBankAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/beneficiaries/accounts/eversend": {
      "post": {
        "operationId": "checkEversendAccount",
        "summary": "Check Eversend account existence",
        "description": "Check if an Eversend account exists by phone or email.",
        "tags": [
          "Beneficiaries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckEversendAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckEversendAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/countries": {
      "get": {
        "operationId": "listPayoutCountries",
        "summary": "List supported payout countries",
        "description": "List supported payout countries with payment types.",
        "tags": [
          "Payouts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutCountriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/banks/{country}": {
      "get": {
        "operationId": "listPayoutBanks",
        "summary": "List banks for a country",
        "description": "Get banks available for payouts in a specific country.",
        "tags": [
          "Payouts"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Alpha-2 country code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutBanksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/quotation": {
      "post": {
        "operationId": "createPayoutQuotation",
        "summary": "Create payout quotation",
        "description": "Create a payout quote for mobile money or bank transfer.",
        "tags": [
          "Payouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutQuotationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quotation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutQuotationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payouts": {
      "post": {
        "operationId": "executePayout",
        "summary": "Execute a payout",
        "description": "Execute a payout to a recipient via mobile money, bank, or beneficiary.",
        "tags": [
          "Payouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutePayoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout executed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/quotation/eversend": {
      "post": {
        "operationId": "createEversendPayoutQuotation",
        "summary": "Create Eversend-to-Eversend transfer quotation",
        "description": "Quote for Eversend-to-Eversend transfer.",
        "tags": [
          "Payouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EversendPayoutQuotationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quotation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutQuotationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payouts/eversend": {
      "post": {
        "operationId": "executeEversendPayout",
        "summary": "Execute Eversend-to-Eversend transfer",
        "description": "Execute an Eversend-to-Eversend transfer.",
        "tags": [
          "Payouts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteEversendPayoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer executed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/fees": {
      "post": {
        "operationId": "calculateCollectionFees",
        "summary": "Calculate collection fees",
        "description": "Calculate fees for a collection.",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionFeesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fees calculated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionFeesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/otp": {
      "post": {
        "operationId": "requestCollectionOtp",
        "summary": "Request OTP for mobile money collection",
        "description": "Request OTP for mobile money collection.",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionOtpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOtpResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/momo": {
      "post": {
        "operationId": "collectViaMobileMoney",
        "summary": "Collect via mobile money",
        "description": "Initiate a mobile money collection.",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoCollectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collection initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/sendOTP": {
      "post": {
        "operationId": "validateCollectionOtp",
        "summary": "Validate GHS collection OTP",
        "description": "Validate a Ghana GHS transaction with OTP.",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateOtpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP validated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/bankAccounts": {
      "post": {
        "operationId": "collectViaBankAccount",
        "summary": "Collect NGN via bank transfer",
        "description": "Generate a bank account for NGN collection.",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccountCollectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank account generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/collections/tempVirtualAccounts": {
      "post": {
        "operationId": "createTempVirtualAccount",
        "summary": "Create temporary NGN virtual account",
        "description": "Generate a temporary NGN virtual account with expiration.",
        "tags": [
          "Collections"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TempVirtualAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Virtual account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempVirtualAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "List transactions",
        "description": "List transactions with optional filtering.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Start date"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "End date"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{transactionId}": {
      "get": {
        "operationId": "getTransaction",
        "summary": "Get a transaction",
        "description": "Retrieve a specific transaction by ID.",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crypto/assets/{coin}": {
      "get": {
        "operationId": "getCryptoAssetChains",
        "summary": "Get crypto asset chains",
        "description": "Fetch available blockchain chains for a cryptocurrency.",
        "tags": [
          "Crypto"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Cryptocurrency symbol (e.g., USDT, BTC, ETH)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoAssetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crypto/addresses": {
      "get": {
        "operationId": "listCryptoAddresses",
        "summary": "List crypto addresses",
        "description": "List all crypto deposit addresses.",
        "tags": [
          "Crypto"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoAddressListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCryptoAddress",
        "summary": "Create crypto deposit address",
        "description": "Create a new crypto deposit address.",
        "tags": [
          "Crypto"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCryptoAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crypto/transactions": {
      "get": {
        "operationId": "listCryptoTransactions",
        "summary": "List crypto transactions",
        "description": "Fetch all crypto transactions.",
        "tags": [
          "Crypto"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoTransactionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/crypto/addresses/{cryptoCoinAddress}/transactions": {
      "get": {
        "operationId": "listCryptoAddressTransactions",
        "summary": "List transactions for a crypto address",
        "description": "Get transactions for a specific crypto address.",
        "tags": [
          "Crypto"
        ],
        "parameters": [
          {
            "name": "cryptoCoinAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoTransactionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards/users": {
      "get": {
        "operationId": "listCardUsers",
        "summary": "List card users",
        "description": "List all card users.",
        "tags": [
          "Cards"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardUserListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCardUser",
        "summary": "Create card user",
        "description": "Create a card user account.",
        "tags": [
          "Cards"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card user created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards/users/{userId}": {
      "patch": {
        "operationId": "updateCardUser",
        "summary": "Update card user",
        "description": "Update card user information.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card user updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards": {
      "get": {
        "operationId": "listCards",
        "summary": "List all cards",
        "description": "Retrieve all virtual cards.",
        "tags": [
          "Cards"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCard",
        "summary": "Create virtual debit card",
        "description": "Create a new virtual debit card.",
        "tags": [
          "Cards"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardId}": {
      "get": {
        "operationId": "getCard",
        "summary": "Get card details",
        "description": "Get a single card's details.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardId}/transactions": {
      "get": {
        "operationId": "listCardTransactions",
        "summary": "List card transactions",
        "description": "Get transaction history for a specific card.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards/transactions": {
      "get": {
        "operationId": "listAllCardTransactions",
        "summary": "List all card transactions",
        "description": "Get all card transactions across the account.",
        "tags": [
          "Cards"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardId}/fund": {
      "post": {
        "operationId": "fundCard",
        "summary": "Fund a card",
        "description": "Load funds to a virtual card.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FundCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card funded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardId}/withdraw": {
      "post": {
        "operationId": "withdrawFromCard",
        "summary": "Withdraw from card",
        "description": "Withdraw from a card balance.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardId}/freeze": {
      "post": {
        "operationId": "freezeCard",
        "summary": "Freeze a card",
        "description": "Suspend card activity.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card frozen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardId}/unfreeze": {
      "post": {
        "operationId": "unfreezeCard",
        "summary": "Unfreeze a card",
        "description": "Reactivate a frozen card.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card unfrozen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardId}/terminate": {
      "post": {
        "operationId": "terminateCard",
        "summary": "Terminate a card",
        "description": "Cancel a card permanently.",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Card terminated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/cards/analytics": {
      "get": {
        "operationId": "getCardAnalytics",
        "summary": "Get card analytics",
        "description": "Retrieve card usage analytics and metrics.",
        "tags": [
          "Cards"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained via /auth/token endpoint"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AuthTokenResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "balance": {
            "type": "number"
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "WalletListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Wallet"
            }
          }
        }
      },
      "WalletResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Wallet"
          }
        }
      },
      "WalletCurrencyRequest": {
        "type": "object",
        "required": [
          "wallet"
        ],
        "properties": {
          "wallet": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR, KES)"
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "verificationStatus": {
                "type": "string"
              }
            }
          }
        }
      },
      "ExchangeQuotationRequest": {
        "type": "object",
        "required": [
          "from",
          "amount",
          "to"
        ],
        "properties": {
          "from": {
            "type": "string",
            "description": "Source currency code"
          },
          "amount": {
            "type": "number",
            "description": "Amount to exchange"
          },
          "to": {
            "type": "string",
            "description": "Target currency code"
          }
        }
      },
      "ExchangeQuotationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string"
              },
              "exchangeRate": {
                "type": "number"
              },
              "fees": {
                "type": "number"
              }
            }
          }
        }
      },
      "ExecuteExchangeRequest": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "Quotation token"
          }
        }
      },
      "ExchangeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "transactionId": {
                "type": "string"
              },
              "fromBalance": {
                "type": "number"
              },
              "toBalance": {
                "type": "number"
              }
            }
          }
        }
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "bankCode": {
            "type": "string"
          },
          "bankAccountName": {
            "type": "string"
          },
          "bankAccountNumber": {
            "type": "string"
          }
        }
      },
      "BeneficiaryListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Beneficiary"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "BeneficiaryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Beneficiary"
          }
        }
      },
      "CreateBeneficiariesRequest": {
        "type": "object",
        "required": [
          "beneficiaries"
        ],
        "properties": {
          "beneficiaries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "bankName": {
                  "type": "string"
                },
                "bankCode": {
                  "type": "string"
                },
                "bankAccountName": {
                  "type": "string"
                },
                "bankAccountNumber": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "UpdateBeneficiaryRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "bankCode": {
            "type": "string"
          },
          "bankAccountName": {
            "type": "string"
          },
          "bankAccountNumber": {
            "type": "string"
          }
        }
      },
      "ValidateBankAccountRequest": {
        "type": "object",
        "required": [
          "countryCode",
          "bankCode",
          "accountNumber"
        ],
        "properties": {
          "countryCode": {
            "type": "string"
          },
          "bankCode": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          }
        }
      },
      "ValidateBankAccountResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "accountName": {
                "type": "string"
              },
              "accountNumber": {
                "type": "string"
              }
            }
          }
        }
      },
      "CheckEversendAccountRequest": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "CheckEversendAccountResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "accountExists": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "PayoutCountry": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "paymentTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "phonePrefix": {
            "type": "string"
          }
        }
      },
      "PayoutCountriesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PayoutCountry"
            }
          }
        }
      },
      "Bank": {
        "type": "object",
        "properties": {
          "bankName": {
            "type": "string"
          },
          "bankCode": {
            "type": "string"
          },
          "branches": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "branchName": {
                  "type": "string"
                },
                "branchCode": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PayoutBanksResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bank"
            }
          }
        }
      },
      "PayoutQuotationRequest": {
        "type": "object",
        "required": [
          "sourceWallet",
          "amount",
          "type",
          "destinationCountry",
          "destinationCurrency"
        ],
        "properties": {
          "sourceWallet": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "type": {
            "type": "string",
            "description": "Payout type (e.g., momo, bank)"
          },
          "destinationCountry": {
            "type": "string"
          },
          "destinationCurrency": {
            "type": "string"
          },
          "amountType": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "PayoutQuotationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "fees": {
                "type": "number"
              },
              "exchangeRate": {
                "type": "number"
              }
            }
          }
        }
      },
      "ExecutePayoutRequest": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "Quotation token"
          },
          "phoneNumber": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "bankCode": {
            "type": "string"
          },
          "bankAccountName": {
            "type": "string"
          },
          "bankAccountNumber": {
            "type": "string"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "Use this instead of other fields for saved beneficiary payouts"
          },
          "transactionRef": {
            "type": "string"
          },
          "sender": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "country": {
                "type": "string"
              }
            }
          }
        }
      },
      "PayoutResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "transactionId": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          }
        }
      },
      "EversendPayoutQuotationRequest": {
        "type": "object",
        "required": [
          "sourceWallet",
          "amount",
          "identifier"
        ],
        "properties": {
          "sourceWallet": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "identifier": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "amountType": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "ExecuteEversendPayoutRequest": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          },
          "transactionRef": {
            "type": "string"
          }
        }
      },
      "CollectionFeesRequest": {
        "type": "object",
        "required": [
          "method",
          "currency",
          "amount"
        ],
        "properties": {
          "method": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "CollectionFeesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "fees": {
                "type": "number"
              },
              "newBalance": {
                "type": "number"
              }
            }
          }
        }
      },
      "CollectionOtpRequest": {
        "type": "object",
        "required": [
          "phone"
        ],
        "properties": {
          "phone": {
            "type": "string",
            "description": "Phone number in international format"
          }
        }
      },
      "CollectionOtpResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "pinId": {
                "type": "string"
              }
            }
          }
        }
      },
      "MomoCollectionRequest": {
        "type": "object",
        "required": [
          "phone",
          "amount",
          "country",
          "currency"
        ],
        "properties": {
          "phone": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "country": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "customer": {
            "type": "object",
            "description": "Customer details as JSON"
          },
          "transactionRef": {
            "type": "string"
          },
          "otp": {
            "type": "string"
          },
          "redirectUrl": {
            "type": "string"
          }
        }
      },
      "CollectionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "transactionId": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              }
            }
          }
        }
      },
      "ValidateOtpRequest": {
        "type": "object",
        "required": [
          "transactionRef",
          "otp"
        ],
        "properties": {
          "transactionRef": {
            "type": "string"
          },
          "otp": {
            "type": "string"
          }
        }
      },
      "BankAccountCollectionRequest": {
        "type": "object",
        "required": [
          "currency",
          "bvn"
        ],
        "properties": {
          "currency": {
            "type": "string",
            "enum": [
              "NGN"
            ]
          },
          "bvn": {
            "type": "string"
          }
        }
      },
      "BankAccountCollectionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "bankName": {
                "type": "string"
              },
              "accountNumber": {
                "type": "string"
              },
              "accountName": {
                "type": "string"
              }
            }
          }
        }
      },
      "TempVirtualAccountRequest": {
        "type": "object",
        "required": [
          "currency",
          "amount"
        ],
        "properties": {
          "currency": {
            "type": "string",
            "enum": [
              "NGN"
            ]
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "TempVirtualAccountResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "bankName": {
                "type": "string"
              },
              "accountNumber": {
                "type": "string"
              },
              "accountName": {
                "type": "string"
              },
              "expiresAt": {
                "type": "string"
              }
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "TransactionListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Transaction"
          }
        }
      },
      "CryptoAsset": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "coin": {
            "type": "string"
          }
        }
      },
      "CryptoAssetsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CryptoAsset"
            }
          }
        }
      },
      "CreateCryptoAddressRequest": {
        "type": "object",
        "required": [
          "assetId",
          "ownerName",
          "destinationAddressDescription"
        ],
        "properties": {
          "assetId": {
            "type": "string"
          },
          "ownerName": {
            "type": "string"
          },
          "destinationAddressDescription": {
            "type": "string"
          },
          "purpose": {
            "type": "string"
          }
        }
      },
      "CryptoAddress": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "assetId": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "transactionCount": {
            "type": "integer"
          }
        }
      },
      "CryptoAddressResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/CryptoAddress"
          }
        }
      },
      "CryptoAddressListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CryptoAddress"
            }
          }
        }
      },
      "CryptoTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "confirmations": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          }
        }
      },
      "CryptoTransactionListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CryptoTransaction"
            }
          }
        }
      },
      "CreateCardUserRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "CardUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "CardUserResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/CardUser"
          }
        }
      },
      "CardUserListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardUser"
            }
          }
        }
      },
      "UpdateCardUserRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "CreateCardRequest": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "Card": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "cardNumber": {
            "type": "string"
          },
          "expiryMonth": {
            "type": "string"
          },
          "expiryYear": {
            "type": "string"
          },
          "cvv": {
            "type": "string"
          },
          "balance": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CardResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Card"
          }
        }
      },
      "CardListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Card"
            }
          }
        }
      },
      "FundCardRequest": {
        "type": "object",
        "required": [
          "amount",
          "sourceWallet"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "sourceWallet": {
            "type": "string"
          }
        }
      },
      "WithdrawCardRequest": {
        "type": "object",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "destinationWallet": {
            "type": "string"
          }
        }
      },
      "CardTransactionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "transactionId": {
                "type": "string"
              },
              "amount": {
                "type": "number"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "CardAnalyticsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "totalCards": {
                "type": "integer"
              },
              "activeCards": {
                "type": "integer"
              },
              "totalSpend": {
                "type": "number"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Token generation"
    },
    {
      "name": "Wallets",
      "description": "Wallet management"
    },
    {
      "name": "Account",
      "description": "Account profile"
    },
    {
      "name": "Exchange",
      "description": "Currency exchange operations"
    },
    {
      "name": "Beneficiaries",
      "description": "Beneficiary management"
    },
    {
      "name": "Payouts",
      "description": "Payout operations"
    },
    {
      "name": "Collections",
      "description": "Payment collection operations"
    },
    {
      "name": "Transactions",
      "description": "Transaction history and details"
    },
    {
      "name": "Crypto",
      "description": "Cryptocurrency operations"
    },
    {
      "name": "Cards",
      "description": "Virtual card management"
    }
  ]
}