{
  "openapi": "3.0.3",
  "servers": [
    {
      "description": "Messaging API",
      "url": "https://products.api.telstra.com/messaging/v3"
    }
  ],
  "info": {
    "description": "Send and receive SMS & MMS programmatically, leveraging Australia's leading mobile network.\nWith Telstra's Messaging API, we take out the complexity to allow seamless messaging integration into your app, with just a few lines of code.\nOur REST API is enterprise grade, allowing you to communicate with engaging SMS & MMS messaging in your web and mobile apps in near real-time on a global scale.\n\n# Introduction\n\n# Features\n\n# Getting Access to the API\n\n# Getting Started\n\n# Frequently Asked Questions\n",
    "title": "Messaging API v3.x",
    "version": "3.x",
    "x-apisguru-categories": [
      "messaging"
    ],
    "x-logo": {
      "url": "https://telstra.com.au/content/dam/tcom/lego/logo/telstra-logo-656x370.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://dev.telstra.com/sites/default/files/Messaging-API-Proxy-OAS3.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "telstra.com",
    "x-jentic-source-url": "https://github.com/APIs-guru/openapi-directory/tree/main/APIs/telstra.com/3.x"
  },
  "security": [
    {
      "bearer_auth": []
    }
  ],
  "paths": {
    "/free-trial-numbers": {
      "get": {
        "description": "Use this endpoint to fetch the Free Trial Number(s) currently assigned to your account. These are the mobile numbers that you can message during the Free Trial.\n\nIf you're using a paid plan, there's no limit to the number of recipients that you can message, so you don't need to register Free Trial Numbers.\n",
        "operationId": "getTrialNumbers",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelstraAPIVersion"
          },
          {
            "$ref": "#/components/parameters/ContentLanguage"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/AcceptCharset"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FreeTrialNumbers"
                }
              }
            },
            "description": "A 200 OK response means your request has been successful. Your Free Trial Number(s) will be returned in the response body.\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad Request\n\n| code | suggested_action |\n| :--- | :--- |\n| FIELD_INVALID | Check the field and the field formatting are correct. |\n| FIELD_LENGTH_ERR | Check the field is within character limits. |\n| FIELD_MISSING | Ensure you've supplied all the required fields. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unauthorized\n\n| code | suggested_action |\n| :--- | :--- |\n| TOKEN_INVALID | Check the access token. |\n| TOKEN_EXPIRED | Please refresh the token. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payment Required\n\n| code | suggested_action |\n| :--- | :--- |\n| ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Forbidden\n\n| code | suggested_action |\n| :--- | :--- |\n| FREE_TRIAL_ERR | This call is only applicable to Free Trial users. Check if the call is required. |\n| RESOURCE_AUTH_ERR | Check the permissions associated with your account. |\n| INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Not Found\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |\n| RESOURCE_NOT_FOUND | Check the endpoint is correct. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Method Not Allowed\n\n| code | suggested_action |\n| :--- | :--- |\n| METHOD_INVALID | Ensure the method is GET. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Too Many Requests\n\n| code | suggested_action |\n| :--- | :--- |\n| TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "example": 3600,
                  "type": "number"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Internal Server Error\n\n| code | suggested_action |\n| :--- | :--- |\n| INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |\n| INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |\n| NETWORK_ERR | Please try again later. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unexpected\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "get all free trial numbers",
        "tags": [
          "free trial numbers"
        ]
      },
      "post": {
        "description": "Your Free Trial Numbers are the 10 recipient mobile numbers that you can message during the Free Trial. The first five numbers you send an SMS/MMS to will automatically be added to your Free Trial Numbers list. After that, you can use this endpoint to register another five. Alternatively, you can use this endpoint to register all 10 numbers.  \n\nUse this endpoint to register a Free Trial Number to your account. To test out all the features that the trial has to offer, we recommend registering your own mobile number to your Free Trial Numbers list. \n\nNote that you can only message mobile numbers that have been added to your Free Trial list and once registered, a Free Trial Number cannot be removed or replaced.\n",
        "operationId": "createTrialNumbers",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelstraAPIVersion"
          },
          {
            "$ref": "#/components/parameters/ContentLanguage"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/AcceptCharset"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/trial-numbers"
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FreeTrialNumbers"
                }
              }
            },
            "description": "A 201 OK response means your request has been successful. Your registered Free Trial Number(s) will be returned in the response.\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Location": {
                "schema": {
                  "example": "/free-trial-numbers/{number}",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad Request\n\n| code | suggested_action |\n| :--- | :--- |\n| FIELD_INVALID | Check the field and the field formatting are correct. |\n| FIELD_LENGTH_ERR | Check the field is within character limits. |\n| FIELD_MISSING | Ensure you've supplied all the required fields. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unauthorized\n\n| code | suggested_action |\n| :--- | :--- |\n| TOKEN_INVALID | Check the access token. |\n| TOKEN_EXPIRED | Please refresh the token. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payment Required\n\n| code | suggested_action |\n| :--- | :--- |\n| FREE_TRIAL_INTERNATIONAL_ERR | Move to a paid plan to send a message to an international destination. | \n| ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |\n| ACCOUNT_LIMIT_ERROR | You've reached the maximum quota of Free Trial Numbers that can be registered to your account. Upgrade to a paid plan to send a message to this recipient.   |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Forbidden\n\n| code | suggested_action |\n| :--- | :--- |\n| FREE_TRIAL_ERR | This call is only applicable to Free Trial users. Check if the call is required. |\n| RESOURCE_AUTH_ERR | Check the permissions associated with your account. |\n| INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Not Found\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |\n| RESOURCE_NOT_FOUND | Check the endpoint is correct. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Method Not Allowed\n\n| code | suggested_action |\n| :--- | :--- |\n| METHOD_INVALID | Ensure the method is POST. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payload Too Large\n\n| code | suggested_action |\n| :--- | :--- |\n| PAYLOAD_TOO_LARGE | Reduce body payload size |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Too Many Requests\n\n| code | suggested_action |\n| :--- | :--- |\n| TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "example": 3600,
                  "type": "number"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Internal Server Error\n\n| code | suggested_action |\n| :--- | :--- |\n| INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |\n| INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |\n| NETWORK_ERR | Please try again later. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unexpected\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "create free trial number list",
        "tags": [
          "free trial numbers"
        ]
      }
    },
    "/health-check": {
      "get": {
        "description": "Use this endpoint to check the operational status of the messaging service. A 200 OK response means the service is up. If you receive a 504 response, the service is temporarily down. Check the [API Live Status page] (https://dev.telstra.com/api/status) to see if there's an active incident.",
        "operationId": "healthCheck",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelstraAPIVersion"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "example": "up",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A 200 OK response means the messaging service is up.",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unauthorized\n\n| code | suggested_action |\n| :--- | :--- |\n| TOKEN_INVALID | Check the access token. |\n| TOKEN_EXPIRED | Please refresh the token. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payment Required\n\n| code | suggested_action |\n| :--- | :--- |\n| ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Forbidden\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_AUTH_ERR | Check the permissions associated with your account. |\n| INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Not Found\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |\n| RESOURCE_NOT_FOUND | Check the endpoint is correct. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Method Not Allowed\n\n| code | suggested_action |\n| :--- | :--- |\n| METHOD_INVALID | Ensure the method is GET. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Too Many Requests\n\n| code | suggested_action |\n| :--- | :--- |\n| TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "example": 3600,
                  "type": "number"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Internal Server Error\n\n| code | suggested_action |\n| :--- | :--- |\n| INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |\n| INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |\n| NETWORK_ERR | Please try again later. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Gateway timeout\n\n| code | suggested_action |\n| :--- | :--- |\n| GATEWAY_TIMEOUT | The service is temporarily down. Check the [API Live Status page] (https://dev.telstra.com/api/status) or [contact support](mailto:telstradev@team.telstra.com). |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unexpected\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "health check",
        "tags": [
          "health check"
        ]
      }
    },
    "/messages": {
      "get": {
        "description": "Fetch messages that have been sent from/to your account in the last 30 days.",
        "operationId": "getMessages",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelstraAPIVersion"
          },
          {
            "$ref": "#/components/parameters/ContentLanguage"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/AcceptCharset"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/messageDirection"
          },
          {
            "$ref": "#/components/parameters/messageStatus"
          },
          {
            "$ref": "#/components/parameters/messageFilter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "messages": {
                      "description": "The paginated results of your request. To fetch the next set of results, send another request and provide the succeeding offset value.\n",
                      "items": {
                        "$ref": "#/components/schemas/MessageGet"
                      },
                      "maxItems": 50,
                      "minItems": 1,
                      "type": "array"
                    },
                    "paging": {
                      "properties": {
                        "lastPage": {
                          "description": "The last page of results.",
                          "type": "string"
                        },
                        "nextPage": {
                          "description": "The next page of results.",
                          "type": "string"
                        },
                        "previousPage": {
                          "description": "The previous page of results.",
                          "type": "string"
                        },
                        "totalCount": {
                          "description": "The total number of pages.",
                          "type": "number"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A 200 response means the call has been successful.\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad Request\n\n| code | suggested_action |\n| :--- | :--- |\n| FIELD_INVALID | Check the field and the field formatting are correct. |\n| FIELD_MISSING | Ensure you've supplied all the required fields. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unauthorized\n\n| code | suggested_action |\n| :--- | :--- |\n| TOKEN_INVALID | Check the access token. |\n| TOKEN_EXPIRED | Please refresh the token. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payment Required\n\n| code | suggested_action |\n| :--- | :--- |\n| ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Forbidden\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_AUTH_ERR | Check the permissions associated with your account. |\n| INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Method Not Allowed\n\n| code | suggested_action |\n| :--- | :--- |\n| METHOD_INVALID | Ensure the method is GET. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Too Many Requests\n\n| code | suggested_action |\n| :--- | :--- |\n| TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "example": 3600,
                  "type": "number"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Internal Server Error\n\n| code | suggested_action |\n| :--- | :--- |\n| INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |\n| INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |\n| NETWORK_ERR | Please try again later. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unexpected\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "fetch all sent/received messages",
        "tags": [
          "messages"
        ]
      },
      "post": {
        "description": "Send an SMS/MMS to a mobile number, or to multiple mobile numbers.\n\nFree Trial users can message to up to 10 unique recipient numbers for free. The first five recipients will be automatically added to your Free Trial Numbers list. Need more? Just use the POST /free-trial-numbers call to add another five.\n",
        "operationId": "sendMessages",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelstraAPIVersion"
          },
          {
            "$ref": "#/components/parameters/ContentLanguage"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/AcceptCharset"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/messagePost"
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageSent"
                }
              }
            },
            "description": "A 201 Created response means your message has sent.\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Location": {
                "schema": {
                  "example": "/messages/{messageId}",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad Request\n\n| code | suggested_action |\n| :--- | :--- |\n| RECIPIENT_OPTOUT | Use GET/recipient-optouts/{number} to check which numbers have opted out of receiving messages from a Virtual Number. |\n| TAGS_ERR | Ensure you've assigned no more than 10 tags, using up to 64 characters for each. |\n| SENDERNAME_ERR | Email telstradev@team.telstra.com to request approval for this senderName. |\n| MODERATION_ERR | Please remove any swear words or offensive language. |\n| FIELD_INVALID | Check the field and the field formatting are correct. |\n| FIELD_LENGTH_ERR | Check the field is within character limits. |\n| FIELD_MISSING | Ensure you've supplied all the required fields. |\n| MULTIMEDIA_TOO_LARGE | Reduce the multimedia file size and try again. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unauthorized\n\n| code | suggested_action |\n| :--- | :--- |\n| TOKEN_INVALID | Check the access token. |\n| TOKEN_EXPIRED | Please refresh the token. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payment Required\n\n| code | suggested_action |\n| :--- | :--- |\n| ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |\n| ACCOUNT_LIMIT_ERROR | Check the credit and limits on your account [here](https://dev.telstra.com). |\n| FREE_TRIAL_INTERNATIONAL_ERR | Move to a paid plan to send a message to an international destination. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Forbidden\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_AUTH_ERR | Check the permissions associated with your account. |\n| INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Not Found\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |\n| RESOURCE_NOT_FOUND | Check the endpoint is correct. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Method Not Allowed\n\n| code | suggested_action |\n| :--- | :--- |\n| METHOD_INVALID | Ensure the method is POST. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payload Too Large\n\n| code | suggested_action |\n| :--- | :--- |\n| MULTIMEDIA_TOO_LARGE | Reduce multimedia size |\n| PAYLOAD_TOO_LARGE | Reduce body payload size |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Too Many Requests\n\n| code | suggested_action |\n| :--- | :--- |\n| TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "example": 3600,
                  "type": "number"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Internal Server Error\n\n| code | suggested_action |\n| :--- | :--- |\n| INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |\n| INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |\n| NETWORK_ERR | Please try again later. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unexpected\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "send messages",
        "tags": [
          "messages"
        ]
      }
    },
    "/messages/{messageId}": {
      "delete": {
        "description": "Use this endpoint to delete a message that's been scheduled for sending, but hasn't yet sent.\n",
        "operationId": "deleteMessageById",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelstraAPIVersion"
          },
          {
            "$ref": "#/components/parameters/ContentLanguage"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/AcceptCharset"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/messageId"
          }
        ],
        "responses": {
          "204": {
            "description": "A 204 response means your message has been deleted.\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad Request\n\n| code | suggested_action |\n| :--- | :--- |\n| DELETE_INVALID_MSG_SENT | The message can't be deleted because it's already been sent. |\n| ID_NOT_ASSIGNED | Ensure the messageId corresponds to a message that has been sent from/to this account. |\n| TIMEFRAME_ERR | Ensure the messageId corresponds to a message that is not more than 30 days old. |\n| FIELD_INVALID | Check the field and the field formatting are correct. |\n| FIELD_MISSING | Ensure you've supplied all the required fields. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unauthorized\n\n| code | suggested_action |\n| :--- | :--- |\n| TOKEN_INVALID | Check the access token. |\n| TOKEN_EXPIRED | Please refresh the token. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payment Required\n\n| code | suggested_action |\n| :--- | :--- |\n| ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Forbidden\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_AUTH_ERR | Check the permissions associated with your account. |\n| INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Not Found\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |\n| RESOURCE_NOT_FOUND | Check the endpoint is correct. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Method Not Allowed\n\n| code | suggested_action |\n| :--- | :--- |\n| METHOD_INVALID | Ensure the method is DELETE. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Too Many Requests\n\n| code | suggested_action |\n| :--- | :--- |\n| TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "example": 3600,
                  "type": "number"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Internal Server Error\n\n| code | suggested_action |\n| :--- | :--- |\n| INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |\n| INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |\n| NETWORK_ERR | Please try again later. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unexpected\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "delete a message",
        "tags": [
          "messages"
        ]
      },
      "get": {
        "description": "Use the **messageId** to fetch a message that's been sent from/to your account within the last 30 days.\n",
        "operationId": "getMessageById",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelstraAPIVersion"
          },
          {
            "$ref": "#/components/parameters/ContentLanguage"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/AcceptCharset"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/messageIdGet"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageGet"
                }
              }
            },
            "description": "A 200 response means the call has been successful.\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad Request\n\n| code | suggested_action |\n| :--- | :--- |\n| ID_NOT_ASSIGNED | Ensure the messageId corresponds to a message that has been sent from/to this account. |\n| FIELD_INVALID | Check the field and the field formatting are correct. |\n| TIMEFRAME_ERR | Ensure the messageId corresponds to a message that is not more than 30 days old. |\n| FIELD_MISSING | Ensure you've supplied all the required fields. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unauthorized\n\n| code | suggested_action |\n| :--- | :--- |\n| TOKEN_INVALID | Check the access token. |\n| TOKEN_EXPIRED | Please refresh the token. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payment Required\n\n| code | suggested_action |\n| :--- | :--- |\n| ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Forbidden\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_AUTH_ERR | Check the permissions associated with your account. |\n| INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Not Found\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |\n| RESOURCE_NOT_FOUND | Check the endpoint is correct. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Method Not Allowed\n\n| code | suggested_action |\n| :--- | :--- |\n| METHOD_INVALID | Ensure the method is GET. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "406": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Media type invalid\n\n| code | suggested_action |\n| :--- | :--- |\n| MEDIA_TYPE_INVALID | Check the media type in the Accept header. It should be application/json. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payload media type error\n\n| code | suggested_action |\n| :--- | :--- |\n| PAYLOAD_MEDIA_TYPE_ERR | Check the media type in the Accept header. It should be application/json. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Logic error\n\n| code | suggested_action |\n| :--- | :--- |\n| LOGIC_ERR | Check the logic of the request and try again. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Too Many Requests\n\n| code | suggested_action |\n| :--- | :--- |\n| TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "example": 3600,
                  "type": "number"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Internal Server Error\n\n| code | suggested_action |\n| :--- | :--- |\n| INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |\n| INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |\n| NETWORK_ERR | Please try again later. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unexpected\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "fetch a specific message",
        "tags": [
          "messages"
        ]
      },
      "patch": {
        "description": "Use the **messageId** to update the tag(s) assigned to a message. You can use this endpoint any time, even after your message has been delivered.\n",
        "operationId": "updateMessageTags",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelstraAPIVersion"
          },
          {
            "$ref": "#/components/parameters/ContentLanguage"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/AcceptCharset"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/messageId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/messageTags"
        },
        "responses": {
          "204": {
            "description": "A 204 No Content response means your tag(s) have been successfully updated.\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad Request\n\n| code | suggested_action |\n| :--- | :--- |\n| ID_INVALID | Ensure the messageId corresponds to an outgoing message. |\n| ID_NOT_ASSIGNED | Ensure the messageId corresponds to a message that has been sent from this account. |\n| TAGS_ERR | Ensure you've assigned no more than 10 tags, using up to 64 characters for each. |\n| FIELD_INVALID | Check the field and the field formatting are correct. |\n| FIELD_MISSING | Ensure you've supplied all the required fields. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unauthorized\n\n| code | suggested_action |\n| :--- | :--- |\n| TOKEN_INVALID | Check the access token. |\n| TOKEN_EXPIRED | Please refresh the token. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payment Required\n\n| code | suggested_action |\n| :--- | :--- |\n| ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Forbidden\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_AUTH_ERR | Check the permissions associated with your account. |\n| INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Not Found\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |\n| RESOURCE_NOT_FOUND | Check the endpoint is correct. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Method Not Allowed\n\n| code | suggested_action |\n| :--- | :--- |\n| METHOD_INVALID | Ensure the method is PATCH. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payload Too Large\n\n| code | suggested_action |\n| :--- | :--- |\n| PAYLOAD_TOO_LARGE | Reduce body payload size |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Too Many Requests\n\n| code | suggested_action |\n| :--- | :--- |\n| TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "example": 3600,
                  "type": "number"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Internal Server Error\n\n| code | suggested_action |\n| :--- | :--- |\n| INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |\n| INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |\n| NETWORK_ERR | Please try again later. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unexpected\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "update message tags",
        "tags": [
          "messages"
        ]
      },
      "put": {
        "description": "Need to update a message that's scheduled for sending? You can change any of the below parameters, as long as the message hasn't been sent yet. This request body will override the original POST/ messages call.\n",
        "operationId": "updateMessageById",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelstraAPIVersion"
          },
          {
            "$ref": "#/components/parameters/ContentLanguage"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/AcceptCharset"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          },
          {
            "$ref": "#/components/parameters/messageId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/messagePut"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageUpdate"
                }
              }
            },
            "description": "A 200 response means the call has been successful.\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad Request\n\n| code | suggested_action |\n| :--- | :--- |\n| UPDATE_INVALID_MSG_SENT | The message can't be updated because it's already been sent. |\n| ID_INVALID | Ensure the messageId corresponds to an outgoing message. |\n| ID_NOT_ASSIGNED | Ensure the messageId corresponds to a message that has been sent from this account. |\n| RECIPIENT_OPTOUT | The recipient has opted out of receiving messages from this Virtual Number.  |\n| TAGS_ERR | Ensure you've assigned no more than 10 tags, using up to 64 characters for each. |\n| SENDERNAME_ERR | Email (telstradev@team.telstra.com) to request approval for this senderName.|\n| FIELD_INVALID | Check the field and the field formatting are correct. |\n| FIELD_LENGTH_ERR | Check the field is within character limits. |\n| FIELD_MISSING | Ensure you've supplied all the required fields. |\n| MULTIMEDIA_TOO_LARGE | Reduce the multimedia file size and try again. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unauthorized\n\n| code | suggested_action |\n| :--- | :--- |\n| TOKEN_INVALID | Check the access token. |\n| TOKEN_EXPIRED | Please refresh the token. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payment Required\n\n| code | suggested_action |\n| :--- | :--- |\n| ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| ACCOUNT_NOT_LINKED | Check you've registered for the Messaging API [here](https://dev.telstra.com). |\n| FREE_TRIAL_INTERNATIONAL_ERR | Move to a paid plan to send a message to an international destination. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Forbidden\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_AUTH_ERR | Check the permissions associated with your account. |\n| INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Not Found\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_TEMP_ERR | Check the API status page to see if an active incident is causing a temporary issue with the resource. |\n| RESOURCE_NOT_FOUND | Check the endpoint is correct. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Method Not Allowed\n\n| code | suggested_action |\n| :--- | :--- |\n| METHOD_INVALID | Ensure the method is PUT. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payload Too Large\n\n| code | suggested_action |\n| :--- | :--- |\n| MULTIMEDIA_TOO_LARGE | Reduce multimedia size |\n| PAYLOAD_TOO_LARGE | Reduce body payload size |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Too Many Requests\n\n| code | suggested_action |\n| :--- | :--- |\n| TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "example": 3600,
                  "type": "number"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Internal Server Error\n\n| code | suggested_action |\n| :--- | :--- |\n| INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the API [status page](https://dev.telstra.com/api/status) to see if there's an active incident. |\n| INTERNAL_SERVER_ERR | Check the API [status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |\n| NETWORK_ERR | Please try again later. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unexpected\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "update a message",
        "tags": [
          "messages"
        ]
      }
    },
    "/reports": {
      "get": {
        "description": "Fetch details of all reports recently generated for your account. Use it to check the status of a report, plus fetch the report ID, status, report type and expiry date.\n",
        "operationId": "getReports",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelstraAPIVersion"
          },
          {
            "$ref": "#/components/parameters/ContentLanguage"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/AcceptCharset"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reports": {
                      "items": {
                        "example": {
                          "reportExpiry": "2023-01-01",
                          "reportId": "6940c774-4335-4d2b-b758-4ecb19412e85",
                          "reportStatus": "completed",
                          "reportType": "messages"
                        },
                        "properties": {
                          "reportExpiry": {
                            "description": "The expiry date of your report. After this date, you will be unable to download your report.\n",
                            "format": "date",
                            "type": "string"
                          },
                          "reportId": {
                            "description": "Use this UUID to fetch your report with the GET /reports/{reportId} endpoint.\n",
                            "format": "uuid",
                            "maxLength": 36,
                            "minLength": 36,
                            "type": "string"
                          },
                          "reportStatus": {
                            "description": "The status of the report. It will be either: \n      * **queued** \u2013 the report is in the queue for generation. \n      * **completed** \u2013 the report is ready for download. \n      * **failed** \u2013 the report failed to generate. Please try again.\n",
                            "type": "string"
                          },
                          "reportType": {
                            "description": "The type of report generated.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  }
                }
              }
            },
            "description": "A 200 OK response means the call has been successful. Details of any report(s) generated for your account will be returned in the response.\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unauthorized\n\n| code | suggested_action |\n| :--- | :--- |\n| TOKEN_INVALID | Check the access token. |\n| TOKEN_EXPIRED | Please refresh the token. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payment Required\n\n| code | suggested_action |\n| :--- | :--- |\n| ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Forbidden\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_AUTH_ERR | Check the permissions associated with your account. |\n| INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Not Found\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_TEMP_ERR | Check the [API status page](https://dev.telstra.com/api/status) to see if an active incident is causing a temporary issue with the resource. |\n| RESOURCE_NOT_FOUND | Check the endpoint is correct. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Method Not Allowed\n\n| code | suggested_action |\n| :--- | :--- |\n| METHOD_INVALID | Ensure the method is GET. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Too Many Requests\n\n| code | suggested_action |\n| :--- | :--- |\n| TOO_MANY_REQUESTS | Reduce the number of concurrent calls. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Retry-After": {
                "schema": {
                  "example": 3600,
                  "type": "number"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Internal Server Error\n\n| code | suggested_action |\n| :--- | :--- |\n| INTERNAL_TIMEOUT | Try the call again. If the issue persists, check the [API status page](https://dev.telstra.com/api/status) to see if there's an active incident. |\n| INTERNAL_SERVER_ERR | Check the [API status page](https://dev.telstra.com/api/status) to see if an active incident is causing the internal error. |\n| NETWORK_ERR | Please try again later. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unexpected\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "fetch all reports",
        "tags": [
          "reports"
        ]
      }
    },
    "/reports/messages": {
      "post": {
        "description": "Request a CSV report of messages (both incoming and outgoing) that have been sent to/from your account within the last three months. You can request details for a specific timeframe, and filter your messages by tags, recipient number or Virtual Number.\n\nA 201 Created means your report has been queued for generation. Make a note of the reportId returned in the response. You'll need this to check the status of your report and fetch your download link with GET reports/{reportId}. If you supplied a reportCallbackUrl in the request we'll also notify it when your report is ready for download.\n\nOnce your report is generated, it will be available for download for one week. The expiry date is returned in the response.\n",
        "operationId": "messagesReport",
        "parameters": [
          {
            "$ref": "#/components/parameters/TelstraAPIVersion"
          },
          {
            "$ref": "#/components/parameters/ContentLanguage"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "$ref": "#/components/parameters/AcceptCharset"
          },
          {
            "$ref": "#/components/parameters/ContentType"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "endDate": "2022-09-25",
                  "filter": "tag1",
                  "reportCallbackUrl": "https://www.example.com",
                  "startDate": "2022-08-24"
                },
                "properties": {
                  "endDate": {
                    "description": "Type the end date (inclusive) of your reporting period here.\n\nYour endDate must be a date in the past, and less than three months from your startDate. Use ISO format(yyyy-mm-dd).\n",
                    "format": "date",
                    "maxLength": 10,
                    "minLength": 10,
                    "type": "string"
                  },
                  "filter": {
                    "description": "Filter your messages report by:\n  * tag - use one of the tags assigned to your message(s)\n  * number - either the Virtual Number used to send the message, or the Recipient Number the message was sent to.\n",
                    "type": "string"
                  },
                  "reportCallbackUrl": {
                    "description": "Tell us the callbackUrl you want us to notify when your report is ready for download.\n\nSample callback response:\n\n<pre><code class=\"language-sh\">{\n  \"reportId\":\"1520b774-46b0-4415-a05f-7bcb1c032c59\",\n  \"reportStatus\":\"completed\",\n  \"timestamp\":\"2022-11-10T05:06:42.823Z\"\n}</code></pre>\n",
                    "type": "string"
                  },
                  "startDate": {
                    "description": "Set the time period you want to generate a report for by typing the start date (inclusive) here.\n\nNote that we only retain data for three months, so please ensure your startDate is not more than three months old.\n\nUse ISO format(yyyy-mm-dd), e.g. 2019-08-24.\n",
                    "format": "date",
                    "maxLength": 10,
                    "minLength": 10,
                    "type": "string"
                  }
                },
                "required": [
                  "startDate",
                  "endDate"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "reportCallbackUrl": "https://www.example.com",
                    "reportId": "6940c774-4335-4d2b-b758-4ecb19412e85",
                    "reportStatus": "queued"
                  },
                  "properties": {
                    "reportCallbackUrl": {
                      "description": "If you provided a reportCallbackUrl in your request, it will be returned here.",
                      "type": "string"
                    },
                    "reportId": {
                      "description": "When your report is ready for download, you can use this UUID to fetch it with the GET /reports/{reportId} endpoint.\n",
                      "format": "uuid",
                      "maxLength": 36,
                      "minLength": 36,
                      "type": "string"
                    },
                    "reportStatus": {
                      "description": "The status of the report. It will be either: \n      * **queued** \u2013 the report is in the queue for generation. \n      * **completed** \u2013 the report is ready for download. \n      * **failed** \u2013 the report failed to generate. Please try again.\n",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A 201 Created response means the call has been successful. Your report is in the queue to be generated.\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              },
              "Location": {
                "schema": {
                  "example": "/reports/messages",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Bad Request\n\n| code | suggested_action |\n| :--- | :--- |\n| FIELD_INVALID | Check the field and the field formatting are correct. |\n| FIELD_LENGTH_ERR | Check the field is within character limits. |\n| FIELD_MISSING | Ensure you've supplied all the required fields. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Unauthorized\n\n| code | suggested_action |\n| :--- | :--- |\n| TOKEN_INVALID | Check the access token. |\n| TOKEN_EXPIRED | Please refresh the token. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Payment Required\n\n| code | suggested_action |\n| :--- | :--- |\n| ACCOUNT_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n| RATE_PLAN_ERR | Contact [support](mailto:telstradev@team.telstra.com) for help with your account. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Forbidden\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_AUTH_ERR | Check the permissions associated with your account. |\n| INSUFFICIENT_SCOPE | The access token you generated does not have sufficient permissions for this request. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
                  "example": "en-au",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            },
            "description": "Not Found\n\n| code | suggested_action |\n| :--- | :--- |\n| RESOURCE_TEMP_ERR | Check the [API status page](https://dev.telstra.com/api/status) to see if an active incident is causing a temporary issue with the resource. |\n| RESOURCE_NOT_FOUND | Check the endpoint is correct. |\n",
            "headers": {
              "Content-Language": {
                "schema": {
[...]
