{
  "openapi": "3.0.3",
  "info": {
    "title": "RunSignup Race Management API",
    "description": "RunSignup (TicketSignup) provides free and open ticketing technology for race and event management. This API supports race lookup, participant management, and results posting/retrieval.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://runsignup.com/API"
  },
  "servers": [
    {
      "url": "https://api.runsignup.com/rest",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/races": {
      "get": {
        "tags": [
          "Races"
        ],
        "summary": "List upcoming races",
        "description": "Retrieve a paginated list of upcoming races with optional filtering by name, location, date, and event type. Maximum 1,000 results per page.",
        "operationId": "listRaces",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "csv"
              ],
              "default": "xml"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_secret",
            "in": "query",
            "description": "API secret for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "results_per_page",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order (e.g. 'name ASC', 'date DESC')",
            "schema": {
              "type": "string",
              "default": "name ASC"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by race name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "Filter by city",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Filter by country",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zipcode",
            "in": "query",
            "description": "Filter by zip code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius from zipcode in miles",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Filter by start date (MM/DD/YYYY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Filter by end date (MM/DD/YYYY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter by event type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_distance",
            "in": "query",
            "description": "Minimum event distance",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_distance",
            "in": "query",
            "description": "Maximum event distance",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "distance_units",
            "in": "query",
            "description": "Distance units",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_since",
            "in": "query",
            "description": "Filter races created after this timestamp",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified_since",
            "in": "query",
            "description": "Filter races modified after this timestamp",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "only_partner_races",
            "in": "query",
            "description": "Only show partner races",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "only_races_with_results",
            "in": "query",
            "description": "Only show races with results",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "events",
            "in": "query",
            "description": "Include race events in response",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "include_waiver",
            "in": "query",
            "description": "Include waiver text",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with race list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaceListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/race/{race_id}": {
      "get": {
        "tags": [
          "Races"
        ],
        "summary": "Get race details",
        "description": "Retrieve comprehensive information about a specific race including events, registration details, and pricing.",
        "operationId": "getRace",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "description": "Unique race identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json"
              ],
              "default": "xml"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_secret",
            "in": "query",
            "description": "API secret for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "future_events_only",
            "in": "query",
            "description": "Exclude past events",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "most_recent_events_only",
            "in": "query",
            "description": "Show only current year events",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "include_waiver",
            "in": "query",
            "description": "Include first waiver text",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "include_questions",
            "in": "query",
            "description": "Include custom questions",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "include_addons",
            "in": "query",
            "description": "Include registration add-ons",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "include_giveaway_details",
            "in": "query",
            "description": "Include giveaway options/sizes",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "include_participant_caps",
            "in": "query",
            "description": "Include capacity limits",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "include_donation_settings",
            "in": "query",
            "description": "Include donation configuration",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Race details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaceDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Race not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/race/{race_id}/participants": {
      "get": {
        "tags": [
          "Participants"
        ],
        "summary": "Get race participants",
        "description": "Retrieve participant information for a specific race event with pagination and filtering support.",
        "operationId": "getRaceParticipants",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "description": "Unique race identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": true,
            "description": "Event ID or comma-separated event IDs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "csv"
              ],
              "default": "xml"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_secret",
            "in": "query",
            "description": "API secret for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "results_per_page",
            "in": "query",
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "default": "registration_id ASC"
            }
          },
          {
            "name": "search_first_name",
            "in": "query",
            "description": "Filter by first name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_last_name",
            "in": "query",
            "description": "Filter by last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_email",
            "in": "query",
            "description": "Filter by email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_bib",
            "in": "query",
            "description": "Filter by bib number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modified_after_timestamp",
            "in": "query",
            "description": "Filter by modification timestamp (Unix)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "registered_after_timestamp",
            "in": "query",
            "description": "Filter by registration timestamp (Unix)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_questions",
            "in": "query",
            "description": "Include custom questions",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "include_addons",
            "in": "query",
            "description": "Include registration add-ons",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Participant list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/race/{race_id}/results/get-results": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "Get event results",
        "description": "Retrieve race results for a specific event with pagination, filtering, and search capabilities.",
        "operationId": "getEventResults",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "description": "Unique race identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": true,
            "description": "Event identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "csv"
              ],
              "default": "xml"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_secret",
            "in": "query",
            "description": "API secret for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "results_per_page",
            "in": "query",
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "individual_result_set_id",
            "in": "query",
            "description": "Specific result set ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "Filter by first name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Filter by last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "description": "Filter by gender",
            "schema": {
              "type": "string",
              "enum": [
                "M",
                "F"
              ]
            }
          },
          {
            "name": "bib_num",
            "in": "query",
            "description": "Filter by bib number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_place",
            "in": "query",
            "description": "Filter by minimum place",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_place",
            "in": "query",
            "description": "Filter by maximum place",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_age",
            "in": "query",
            "description": "Filter by minimum age",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_age",
            "in": "query",
            "description": "Filter by maximum age",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_total_finishers",
            "in": "query",
            "description": "Include finisher counts",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "include_split_time_ms",
            "in": "query",
            "description": "Include milliseconds in split times",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          },
          {
            "name": "modified_after_timestamp",
            "in": "query",
            "description": "Results modified after this Unix timestamp",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Race results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/race/{race_id}/results/full-results": {
      "post": {
        "tags": [
          "Results"
        ],
        "summary": "Post event results",
        "description": "Post race results for a specific event. Supports JSON, XML, and CSV formats.",
        "operationId": "postEventResults",
        "parameters": [
          {
            "name": "race_id",
            "in": "path",
            "required": true,
            "description": "Unique race identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "event_id",
            "in": "query",
            "required": true,
            "description": "Event identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_secret",
            "in": "query",
            "description": "API secret for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request_format",
            "in": "query",
            "description": "Format of the request body",
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "json",
                "csv"
              ],
              "default": "xml"
            }
          },
          {
            "name": "individual_result_set_id",
            "in": "query",
            "description": "Result set ID (required if multiple result sets exist)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip_invalid_registration_ids",
            "in": "query",
            "description": "Skip results with invalid registration IDs",
            "schema": {
              "type": "string",
              "enum": [
                "T",
                "F"
              ],
              "default": "F"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Results data in the specified format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostResultsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Results posted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RaceListResponse": {
        "type": "object",
        "properties": {
          "races": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Race"
            }
          }
        }
      },
      "RaceDetailResponse": {
        "type": "object",
        "properties": {
          "race": {
            "$ref": "#/components/schemas/Race"
          }
        }
      },
      "Race": {
        "type": "object",
        "properties": {
          "race_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "next_date": {
            "type": "string",
            "description": "Next race date (MM/DD/YYYY)"
          },
          "last_date": {
            "type": "string",
            "description": "Last race date"
          },
          "is_registration_open": {
            "type": "string",
            "enum": [
              "T",
              "F"
            ]
          },
          "description": {
            "type": "string",
            "description": "HTML race description"
          },
          "url": {
            "type": "string",
            "description": "Race website URL"
          },
          "timezone": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "street": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zipcode": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "start_time": {
            "type": "string"
          },
          "end_time": {
            "type": "string"
          },
          "registration_periods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegistrationPeriod"
            }
          },
          "participant_cap": {
            "type": "integer"
          }
        }
      },
      "RegistrationPeriod": {
        "type": "object",
        "properties": {
          "registration_opens": {
            "type": "string"
          },
          "registration_closes": {
            "type": "string"
          },
          "race_fee": {
            "type": "string"
          },
          "processing_fee": {
            "type": "string"
          }
        }
      },
      "ParticipantListResponse": {
        "type": "object",
        "properties": {
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Participant"
            }
          }
        }
      },
      "Participant": {
        "type": "object",
        "properties": {
          "registration_id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "age": {
            "type": "integer"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "bib_num": {
            "type": "integer"
          }
        }
      },
      "ResultsResponse": {
        "type": "object",
        "properties": {
          "individual_results_sets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IndividualResultSet"
            }
          }
        }
      },
      "IndividualResultSet": {
        "type": "object",
        "properties": {
          "individual_result_set_id": {
            "type": "integer"
          },
          "individual_result_set_name": {
            "type": "string"
          },
          "public_results": {
            "type": "string",
            "enum": [
              "T",
              "F"
            ]
          },
          "sort_order": {
            "type": "integer"
          },
          "preliminary_results": {
            "type": "string",
            "enum": [
              "T",
              "F"
            ]
          },
          "num_finishers": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Result"
            }
          }
        }
      },
      "Result": {
        "type": "object",
        "properties": {
          "result_id": {
            "type": "integer"
          },
          "place": {
            "type": "integer"
          },
          "bib": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "country_code": {
            "type": "string",
            "nullable": true
          },
          "clock_time": {
            "type": "string"
          },
          "chip_time": {
            "type": "string"
          },
          "pace": {
            "type": "string"
          },
          "age": {
            "type": "integer"
          },
          "age_percentage": {
            "type": "string"
          }
        }
      },
      "PostResultsRequest": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Array of result objects with field names as keys"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "error_code": {
                "type": "integer"
              },
              "error_msg": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Races",
      "description": "Race information and search"
    },
    {
      "name": "Participants",
      "description": "Participant management"
    },
    {
      "name": "Results",
      "description": "Race results posting and retrieval"
    }
  ]
}