{
  "openapi": "3.0.3",
  "info": {
    "title": "JALPI WhatsApp Business API",
    "version": "1.0.0",
    "description": "Jalpi offers WhatsApp Business API services to help companies, firms, and individuals in India effectively communicate through WhatsApp messaging.",
    "x-jentic-source-url": "https://app.jalpi.com/WhatsApp/WABADevAPI.aspx"
  },
  "servers": [
    {
      "url": "https://app.jalpi.com",
      "description": "JALPI Production API"
    }
  ],
  "paths": {
    "/api/v1/sendTemplateMessage": {
      "post": {
        "summary": "Send Business Initiated Template Message",
        "description": "Send a template message to a recipient via WhatsApp Business API.",
        "operationId": "sendTemplateMessage",
        "tags": [
          "Messaging"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          }
        }
      }
    },
    "/api/v1/GetSendTemplateMessage": {
      "get": {
        "summary": "Send Template Message via GET",
        "description": "Send a template message using GET request with query parameters.",
        "operationId": "getSendTemplateMessage",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Instance API Key"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Recipient number with country code"
          },
          {
            "name": "TemplateName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Template name"
          },
          {
            "name": "headertype",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Header type"
          },
          {
            "name": "languageCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Language code"
          },
          {
            "name": "BodyParameter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Body parameters"
          },
          {
            "name": "IsFailOverMessage",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Enable failover"
          }
        ],
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/SendUserInitiatedmsg": {
      "post": {
        "summary": "Send User Initiated Message",
        "description": "Send a user-initiated message (text, image, video, document, audio, or interactive) to a WhatsApp recipient.",
        "operationId": "sendUserInitiatedMessage",
        "tags": [
          "Messaging"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInitiatedMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/SendInteractiveMessages": {
      "post": {
        "summary": "Send Interactive Message",
        "description": "Send an interactive message (List or Button type) to a WhatsApp recipient.",
        "operationId": "sendInteractiveMessage",
        "tags": [
          "Messaging"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InteractiveMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/AddWABATemplates": {
      "post": {
        "summary": "Add WABA Template",
        "description": "Create a new WhatsApp Business API message template with header, body, and footer components.",
        "operationId": "addWABATemplate",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template created successfully"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/GetWABATemplates": {
      "get": {
        "summary": "Get WABA Templates",
        "description": "Retrieve WhatsApp Business API message templates, optionally filtered by name, language, and status.",
        "operationId": "getWABATemplates",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Instance API Key"
          },
          {
            "name": "templatename",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Template name filter"
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Language code filter"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "APPROVED",
                "IN_APPEAL",
                "PENDING",
                "REJECTED",
                "PENDING_DELETION",
                "DELETED",
                "DISABLED",
                "PAUSED",
                "LIMIT_EXCEEDED"
              ]
            },
            "description": "Template status filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TemplateInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/GetSentMessageReport": {
      "get": {
        "summary": "Get Sent Message Report",
        "description": "Retrieve the delivery report for a sent message by its mask ID.",
        "operationId": "getSentMessageReport",
        "tags": [
          "Monitoring"
        ],
        "parameters": [
          {
            "name": "APIKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Instance API key"
          },
          {
            "name": "maskid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Message mask ID for tracking"
          }
        ],
        "responses": {
          "200": {
            "description": "Report retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageReport"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/GetConnectionStatus": {
      "get": {
        "summary": "Get Connection Status",
        "description": "Check the current WhatsApp Business API connection status.",
        "operationId": "getConnectionStatus",
        "tags": [
          "Monitoring"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Instance API key"
          }
        ],
        "responses": {
          "200": {
            "description": "Connection status retrieved"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/SetWebhookEndPoint": {
      "get": {
        "summary": "Set Webhook Endpoint",
        "description": "Configure the webhook endpoint URL to receive message delivery notifications and other events.",
        "operationId": "setWebhookEndPoint",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Your Instance API key"
          },
          {
            "name": "WebhookEndpoint",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "description": "Your webhook endpoint URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook configured successfully"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "key"
      }
    },
    "schemas": {
      "TemplateMessageRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Your Instance API Key"
          },
          "to": {
            "type": "string",
            "description": "Recipient number with country code (e.g., 919812345678)"
          },
          "languageCode": {
            "type": "string",
            "description": "Language code (e.g., en_US)"
          },
          "TemplateName": {
            "type": "string",
            "description": "Template name"
          },
          "headertype": {
            "type": "string",
            "description": "Header type: text, image, video, or documents",
            "enum": [
              "text",
              "image",
              "video",
              "documents"
            ]
          },
          "BodyParameter": {
            "type": "string",
            "description": "Body parameters for the template"
          },
          "IsFailOverMessage": {
            "type": "boolean",
            "description": "Enable failover messaging"
          }
        },
        "required": [
          "key",
          "to",
          "languageCode",
          "TemplateName"
        ]
      },
      "UserInitiatedMessageRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Your Instance API Key"
          },
          "to": {
            "type": "string",
            "description": "Recipient number with country code"
          },
          "type": {
            "type": "string",
            "description": "Message type",
            "enum": [
              "text",
              "Image",
              "video",
              "document",
              "audio",
              "Interactive Message"
            ]
          },
          "message": {
            "type": "string",
            "description": "Message content"
          }
        },
        "required": [
          "key",
          "to",
          "type"
        ]
      },
      "InteractiveMessageRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Your Instance API Key"
          },
          "to": {
            "type": "string",
            "description": "Recipient number with country code"
          },
          "type": {
            "type": "string",
            "description": "Interactive message type",
            "enum": [
              "List",
              "Button"
            ]
          },
          "headertype": {
            "type": "string",
            "description": "Header type",
            "enum": [
              "Text",
              "Image",
              "video",
              "documents"
            ]
          }
        },
        "required": [
          "key",
          "to",
          "type"
        ]
      },
      "AddTemplateRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Your Instance API Key"
          },
          "language": {
            "type": "string",
            "description": "Template language (e.g., en_us)"
          },
          "name": {
            "type": "string",
            "description": "Template name"
          },
          "category": {
            "type": "string",
            "description": "Template category (e.g., account_update)"
          },
          "Components": {
            "type": "array",
            "description": "Template components (HEADER, BODY, FOOTER)",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "key",
          "language",
          "name",
          "category",
          "Components"
        ]
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "maskid": {
            "type": "string",
            "description": "Message tracking ID"
          }
        }
      },
      "MessageReport": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "deliveryStatus": {
            "type": "string"
          }
        }
      },
      "TemplateInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Messaging",
      "description": "Send messages via WhatsApp"
    },
    {
      "name": "Templates",
      "description": "Manage WhatsApp message templates"
    },
    {
      "name": "Monitoring",
      "description": "Monitor message delivery and connection status"
    },
    {
      "name": "Webhooks",
      "description": "Configure webhook endpoints"
    }
  ]
}