{
  "openapi": "3.0.3",
  "info": {
    "title": "Arizona 511 API",
    "version": "1.0.0",
    "description": "Traffic and transportation data API for the state of Arizona. Provides access to cameras, weather stations, message signs, events, alerts, rest areas, and work zone data. Rate limited to 10 calls per 60 seconds.",
    "x-jentic-source-url": "https://az511.gov/developers/doc"
  },
  "servers": [
    {
      "url": "https://az511.com/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/endpoint/cameras": {
      "get": {
        "operationId": "getcameras",
        "summary": "Get all traffic cameras",
        "description": "Retrieves all traffic camera data.",
        "tags": [
          "Traffic"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Camera"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/endpoint/weatherstations": {
      "get": {
        "operationId": "getweatherstations",
        "summary": "Get all weather stations",
        "description": "Retrieves all weather station data.",
        "tags": [
          "Weather"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeatherStation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/endpoint/messagesigns": {
      "get": {
        "operationId": "getmessagesigns",
        "summary": "Get all variable message signs",
        "description": "Retrieves all variable message sign (VMS) data.",
        "tags": [
          "Traffic"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageSign"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/endpoint/event": {
      "get": {
        "operationId": "getevents",
        "summary": "Get all traffic events",
        "description": "Retrieves all traffic event data.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/endpoint/alerts": {
      "get": {
        "operationId": "getalerts",
        "summary": "Get all alerts",
        "description": "Retrieves all alert notifications.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alert"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/endpoint/restareas": {
      "get": {
        "operationId": "getrestareas",
        "summary": "Get all rest areas",
        "description": "Retrieves all rest area data.",
        "tags": [
          "Facilities"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RestArea"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/wzdx": {
      "get": {
        "operationId": "getworkzonedata",
        "summary": "Get work zone data",
        "description": "Retrieves harmonized work zone data following USDOT WZDx specifications.",
        "tags": [
          "Work Zones"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "Developer API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with WZDx formatted data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkZoneData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Camera": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Camera identifier"
          },
          "name": {
            "type": "string",
            "description": "Camera name/location"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "imageUrl": {
            "type": "string",
            "description": "URL to the camera image"
          }
        }
      },
      "WeatherStation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Station identifier"
          },
          "name": {
            "type": "string",
            "description": "Station name"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "temperature": {
            "type": "number",
            "description": "Current temperature"
          },
          "humidity": {
            "type": "number",
            "description": "Current humidity"
          }
        }
      },
      "MessageSign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Sign identifier"
          },
          "name": {
            "type": "string",
            "description": "Sign name/location"
          },
          "message": {
            "type": "string",
            "description": "Current message displayed"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event identifier"
          },
          "type": {
            "type": "string",
            "description": "Event type"
          },
          "description": {
            "type": "string",
            "description": "Event description"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Alert identifier"
          },
          "type": {
            "type": "string",
            "description": "Alert type"
          },
          "description": {
            "type": "string",
            "description": "Alert description"
          },
          "severity": {
            "type": "string",
            "description": "Alert severity level"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RestArea": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Rest area identifier"
          },
          "name": {
            "type": "string",
            "description": "Rest area name"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available amenities"
          }
        }
      },
      "WorkZoneData": {
        "type": "object",
        "description": "WZDx formatted work zone data",
        "properties": {
          "type": {
            "type": "string"
          },
          "features": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "Developer API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Operations related to Events"
    },
    {
      "name": "Facilities",
      "description": "Operations related to Facilities"
    },
    {
      "name": "Traffic",
      "description": "Operations related to Traffic"
    },
    {
      "name": "Weather",
      "description": "Operations related to Weather"
    },
    {
      "name": "Work Zones",
      "description": "Operations related to Work Zones"
    }
  ]
}