{
  "openapi": "3.0.3",
  "info": {
    "title": "Contaqt API",
    "version": "1.0.0",
    "description": "Contaqt marketing API for managing articles, mailing list subscribers, and automation flows.",
    "x-jentic-source-url": "https://api.qliq.cloud/api/#introduction"
  },
  "servers": [
    {
      "url": "https://api.qliq.cloud/api/web/v1",
      "description": "Contaqt API v1"
    }
  ],
  "paths": {
    "/apis/checking-api-key": {
      "post": {
        "operationId": "checkapikey",
        "summary": "Validate API key",
        "description": "Validates whether the provided API key is correct and active.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "API key to validate"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/articles/get-v2": {
      "post": {
        "operationId": "getarticles",
        "summary": "Get articles",
        "description": "Retrieves one or multiple articles in JSON format.",
        "tags": [
          "Articles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "API key for authentication"
                  },
                  "key": {
                    "type": "string",
                    "description": "Unique article identifier. If omitted, returns multiple articles."
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "description": "Number of articles to return"
                  },
                  "offset": {
                    "type": "integer",
                    "default": 0,
                    "description": "Number of articles to skip"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Articles retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/articles/add-subscriber-v2": {
      "post": {
        "operationId": "addsubscriber",
        "summary": "Add subscriber",
        "description": "Creates or updates mailing list subscribers with contact details and tags.",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "options"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "API key for authentication"
                  },
                  "options": {
                    "type": "string",
                    "description": "JSON object with email addresses as keys and subscriber data as values. Example: {\"email@example.com\": {\"first_name\": \"John\", \"last_name\": \"Doe\", \"tags\": [\"tag1\"]}}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber added or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriberResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/articles/remove-subscriber-v2": {
      "post": {
        "operationId": "removesubscriber",
        "summary": "Remove subscriber",
        "description": "Deletes subscribers from the mailing list by email address.",
        "tags": [
          "Subscribers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "email"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "API key for authentication"
                  },
                  "email": {
                    "type": "string",
                    "description": "Comma-separated email addresses to remove"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribers removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveSubscriberResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/apis/start-flow": {
      "post": {
        "operationId": "startflow",
        "summary": "Start automation flow",
        "description": "Initiates an automation flow for a specified email address.",
        "tags": [
          "Flows"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "api_key",
                  "flow_key",
                  "email"
                ],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "API key for authentication"
                  },
                  "flow_key": {
                    "type": "string",
                    "description": "Unique identifier for the target flow"
                  },
                  "email": {
                    "type": "string",
                    "description": "Recipient email address"
                  },
                  "date": {
                    "type": "string",
                    "description": "Start date in YYYY-MM-DD format"
                  },
                  "time": {
                    "type": "string",
                    "description": "Start time in H:i:s format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flow started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key passed as a form parameter or query parameter in requests."
      }
    },
    "schemas": {
      "Article": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Article ID"
          },
          "title": {
            "type": "string",
            "description": "Article title"
          },
          "content": {
            "type": "string",
            "description": "Article content"
          },
          "pubdate": {
            "type": "string",
            "description": "Publication date"
          }
        }
      },
      "ArticleListResponse": {
        "type": "object",
        "properties": {
          "articles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Article"
            }
          }
        }
      },
      "SubscriberResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message"
          },
          "code": {
            "type": "integer",
            "description": "Response code"
          },
          "entries_added": {
            "type": "integer",
            "description": "Number of entries added"
          }
        }
      },
      "RemoveSubscriberResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message"
          },
          "code": {
            "type": "integer",
            "description": "Response code"
          },
          "entries_removed": {
            "type": "integer",
            "description": "Number of entries removed"
          }
        }
      },
      "FlowResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Response message"
          },
          "code": {
            "type": "integer",
            "description": "Response code (1=success, 0=already started)"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - malformed request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Articles",
      "description": "Operations related to Articles"
    },
    {
      "name": "Authentication",
      "description": "Operations related to Authentication"
    },
    {
      "name": "Flows",
      "description": "Operations related to Flows"
    },
    {
      "name": "Subscribers",
      "description": "Operations related to Subscribers"
    }
  ]
}