{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Auth",
    "description": "This API enables an application or service (by extension and organization) access the mapped resources that it has been granted to.",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/mkhisa7/auth/1.0.0/swagger.json",
    "contact": {}
  },
  "tags": [
    {
      "name": "auth"
    }
  ],
  "host": "api.equitybankgroup.com",
  "basePath": "/identity-sandbox/v1-sandbox",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/x-www-form-urlencoded"
  ],
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic",
      "description": "HTTP Basic Authentication using a Client Id and Client Secret."
    }
  },
  "paths": {
    "/merchant-token": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Provide Client and Merchant Credentials to obtain an Access Token.",
        "description": "An application's client id and secret can be found in the My Apps section of this portal. Please contact Equity Bank for merchant credentials.",
        "operationId": "Get-Merchant-Access-Token",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "username",
            "description": "Merchant Code, obtained after successful onboarding on the Merchant Portal.",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "password",
            "description": "API Key, obtained after successful onboarding on the Merchant Portal.",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "grant_type",
            "description": "OAuth 2.0 Grant Type - must be 'password'.",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "merchant",
            "description": "Merchant Username, provided by Equity Bank.",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "service",
            "description": "The API resource that the Merchant has subscribed to during onboarding on the Merchant Portal.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Bad Request - Please ensure the request is valid.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Please check the Authorization header.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Please check the URL.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Please try later.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ApiResponse": {
      "required": [
        "token_type",
        "issued_at",
        "expires_in",
        "access_token"
      ],
      "properties": {
        "token_type": {
          "type": "string",
          "description": "The type of token generated, the default is \"bearer\"."
        },
        "issued_at": {
          "type": "number",
          "description": "A numeric timestamp of the date and time the token was generated."
        },
        "expires_in": {
          "type": "number",
          "description": "The duration in seconds after which the token expires, the default is 3599 (59 minutes and 59 seconds)."
        },
        "access_token": {
          "type": "string",
          "description": "The generated access token."
        }
      }
    },
    "ErrorResponse": {
      "required": [
        "code",
        "error",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string",
          "description": "An error code that identifies the error."
        },
        "error": {
          "type": "string",
          "description": "The error encountered while processing the request."
        },
        "message": {
          "type": "string",
          "description": "A short description of the error."
        }
      }
    }
  }
}
