{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "Auth",
        "description": "This API enables an application or service (by extension and organization) access the mapped resources that it has been granted to.",
        "x-jentic-source-url": "https://api.swaggerhub.com/apis/mkhisa7/auth/1.0.0/swagger.json"
    },
    "tags": [
        {
            "name": "auth"
        }
    ],
    "paths": {
        "/merchant-token": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Provide Client and Merchant Credentials to obtain an Access Token.",
                "description": "An application's client id and secret can be found in the My Apps section of this portal. Please contact Equity Bank for merchant credentials.",
                "operationId": "Get Merchant Access Token",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "description": "Merchant Code, obtained after successful onboarding on the Merchant Portal.",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "API Key, obtained after successful onboarding on the Merchant Portal.",
                                        "type": "string"
                                    },
                                    "grant_type": {
                                        "description": "OAuth 2.0 Grant Type - must be 'password'.",
                                        "type": "string"
                                    },
                                    "merchant": {
                                        "description": "Merchant Username, provided by Equity Bank.",
                                        "type": "string"
                                    },
                                    "service": {
                                        "description": "The API resource that the Merchant has subscribed to during onboarding on the Merchant Portal.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "username",
                                    "password",
                                    "grant_type",
                                    "merchant",
                                    "service"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Please ensure the request is valid.",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Please check the Authorization header.",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found - Please check the URL.",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error - Please try later.",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "servers": [
        {
            "url": "https://api.equitybankgroup.com/identity-sandbox/v1-sandbox"
        }
    ],
    "components": {
        "securitySchemes": {
            "basicAuth": {
                "type": "http",
                "description": "HTTP Basic Authentication using a Client Id and Client Secret.",
                "scheme": "basic"
            }
        },
        "schemas": {
            "ApiResponse": {
                "required": [
                    "token_type",
                    "issued_at",
                    "expires_in",
                    "access_token"
                ],
                "properties": {
                    "token_type": {
                        "type": "string",
                        "description": "The type of token generated, the default is \"bearer\"."
                    },
                    "issued_at": {
                        "type": "number",
                        "description": "A numeric timestamp of the date and time the token was generated."
                    },
                    "expires_in": {
                        "type": "number",
                        "description": "The duration in seconds after which the token expires, the default is 3599 (59 minutes and 59 seconds)."
                    },
                    "access_token": {
                        "type": "string",
                        "description": "The generated access token."
                    }
                }
            },
            "ErrorResponse": {
                "required": [
                    "code",
                    "error",
                    "message"
                ],
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "An error code that identifies the error."
                    },
                    "error": {
                        "type": "string",
                        "description": "The error encountered while processing the request."
                    },
                    "message": {
                        "type": "string",
                        "description": "A short description of the error."
                    }
                }
            }
        }
    }
}