{
  "openapi": "3.0.3",
  "info": {
    "title": "ChargeHub API",
    "version": "1.0.0",
    "description": "ChargeHub EV charging station API.",
    "x-jentic-source-url": "https://developer.chargehub.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.chargehub.com"
    }
  ],
  "paths": {
    "/api/status": {
      "get": {
        "operationId": "getPortStatus",
        "summary": "Get port status",
        "tags": [
          "Status"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get port status"
      }
    },
    "/api/poi": {
      "get": {
        "operationId": "getLocations",
        "summary": "Get all charging locations",
        "tags": [
          "Locations"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get all charging locations"
      }
    },
    "/api/user-content": {
      "get": {
        "operationId": "getUserContent",
        "summary": "Get user content",
        "tags": [
          "User Content"
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get user content"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Locations"
    },
    {
      "name": "Status"
    },
    {
      "name": "User Content"
    }
  ]
}
