{
  "openapi": "3.0.3",
  "info": {
    "title": "Conturs Scoring API",
    "version": "1.0.0",
    "description": "Lead scoring API that scores leads against your personalized ICP model.",
    "x-jentic-source-url": "https://conturs.com/docs/api-reference",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.conturs.com"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "description": "Verifies service availability without requiring credentials.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/leads": {
      "post": {
        "operationId": "scoreLeads",
        "summary": "Score leads",
        "description": "Score a batch of leads against your personalized ICP model. Send one or more leads and receive a score (0-100) with a full factor breakdown for each.",
        "tags": [
          "Leads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoreLeadsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreLeadsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          }
        }
      },
      "ScoreLeadsRequest": {
        "type": "object",
        "required": [
          "api_key",
          "email",
          "leads"
        ],
        "properties": {
          "api_key": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "leads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadInput"
            },
            "minItems": 1
          },
          "client_id": {
            "type": "string"
          }
        }
      },
      "LeadInput": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "jobtitle": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "lead_status": {
            "type": "string"
          },
          "dealstage": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "num_meetings_booked": {
            "type": "integer"
          },
          "num_calls": {
            "type": "integer"
          },
          "hs_email_replied": {
            "type": "integer"
          },
          "num_completed_tasks": {
            "type": "integer"
          },
          "hs_last_sales_activity_timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "create_date": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ScoreLeadsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadScore"
            }
          }
        }
      },
      "LeadScore": {
        "type": "object",
        "properties": {
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "label": {
            "type": "string"
          },
          "factors": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyBody": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key passed in request body."
      }
    }
  },
  "security": [
    {
      "ApiKeyBody": []
    }
  ],
  "tags": [
    {
      "name": "Health"
    },
    {
      "name": "Leads"
    }
  ]
}
