{
  "openapi": "3.0.3",
  "info": {
    "title": "Hootsuite Platform API",
    "description": "The Hootsuite Platform API allows developers to build integrations with the Hootsuite social media management platform. It provides access to user profiles, social media scheduling, media management, team and member administration, and analytics.",
    "version": "1.0.0",
    "contact": {
      "name": "Hootsuite Developer Support",
      "url": "https://developer.hootsuite.com/"
    },
    "x-jentic-source-url": "https://developer.hootsuite.com/"
  },
  "servers": [
    {
      "url": "https://platform.hootsuite.com",
      "description": "Hootsuite Platform API"
    }
  ],
  "paths": {
    "/v1/me": {
      "get": {
        "operationId": "getAuthenticatedUser",
        "summary": "Get authenticated user",
        "description": "Returns details about the currently authenticated user.",
        "tags": [
          "Me"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/organizations": {
      "get": {
        "operationId": "getMyOrganizations",
        "summary": "List user's organizations",
        "description": "Returns a list of organizations the authenticated user belongs to.",
        "tags": [
          "Me",
          "Organizations"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/socialProfiles": {
      "get": {
        "operationId": "getMySocialProfiles",
        "summary": "List user's social profiles",
        "description": "Returns a list of social profiles accessible by the authenticated user.",
        "tags": [
          "Me",
          "Social Profiles"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialProfileListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/socialProfiles": {
      "get": {
        "operationId": "listSocialProfiles",
        "summary": "List social profiles",
        "description": "Returns a list of social profiles for the organization. Supports pagination via cursor.",
        "tags": [
          "Social Profiles"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page.",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialProfileListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/socialProfiles/{socialProfileId}": {
      "get": {
        "operationId": "getSocialProfile",
        "summary": "Get a social profile",
        "description": "Returns details about a specific social profile by its ID.",
        "tags": [
          "Social Profiles"
        ],
        "parameters": [
          {
            "name": "socialProfileId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the social profile.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Social profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/socialProfiles/{socialProfileId}/teams": {
      "get": {
        "operationId": "getSocialProfileTeams",
        "summary": "List teams for a social profile",
        "description": "Returns the teams that have access to a specific social profile.",
        "tags": [
          "Social Profiles",
          "Teams"
        ],
        "parameters": [
          {
            "name": "socialProfileId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the social profile.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Social profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages": {
      "post": {
        "operationId": "scheduleMessage",
        "summary": "Schedule a message",
        "description": "Creates and schedules a new social media message to be posted to one or more social profiles.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listMessages",
        "summary": "List messages",
        "description": "Returns a list of scheduled messages. Supports filtering by state and time range.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "startTime",
            "in": "query",
            "description": "Filter messages scheduled after this time (ISO 8601 format).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Filter messages scheduled before this time (ISO 8601 format).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by message state.",
            "schema": {
              "type": "string",
              "enum": [
                "SCHEDULED",
                "SENT",
                "FAILED",
                "PENDING_APPROVAL",
                "REJECTED",
                "DRAFT"
              ]
            }
          },
          {
            "name": "socialProfileIds",
            "in": "query",
            "description": "Comma-separated list of social profile IDs to filter by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page.",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{messageId}": {
      "get": {
        "operationId": "getMessage",
        "summary": "Get a message",
        "description": "Returns details about a specific scheduled message.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the message.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMessage",
        "summary": "Delete a message",
        "description": "Deletes a scheduled message. Only messages in SCHEDULED or DRAFT state can be deleted.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the message.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Message deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{messageId}/history": {
      "get": {
        "operationId": "getMessageHistory",
        "summary": "Get message approval history",
        "description": "Returns the approval history for a specific message, including reviewer actions and comments.",
        "tags": [
          "Messages",
          "Interactions"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the message.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{messageId}/approve": {
      "post": {
        "operationId": "approveMessage",
        "summary": "Approve a message",
        "description": "Approves a message that is pending approval. The message will then be scheduled for publishing.",
        "tags": [
          "Messages",
          "Interactions"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the message.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message approved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/messages/{messageId}/reject": {
      "post": {
        "operationId": "rejectMessage",
        "summary": "Reject a message",
        "description": "Rejects a message that is pending approval, with an optional reason.",
        "tags": [
          "Messages",
          "Interactions"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the message.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message rejected successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Message not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/media": {
      "post": {
        "operationId": "uploadMedia",
        "summary": "Upload media",
        "description": "Uploads a media file (image or video) that can be attached to messages. Returns a media ID and upload URL.",
        "tags": [
          "Media"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMediaRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Media upload initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/media/{mediaId}": {
      "get": {
        "operationId": "getMediaUploadStatus",
        "summary": "Get media upload status",
        "description": "Returns the status and details of a media upload.",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "mediaId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the media upload.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Media not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List organization members",
        "description": "Returns a list of members in the organization.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "The organization ID to list members for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page.",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addMember",
        "summary": "Add a member",
        "description": "Adds a new member to the organization.",
        "tags": [
          "Members"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMemberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Member added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - member already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/members/{memberId}": {
      "get": {
        "operationId": "getMember",
        "summary": "Get a member",
        "description": "Returns details about a specific organization member.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the member.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeMember",
        "summary": "Remove a member",
        "description": "Removes a member from the organization.",
        "tags": [
          "Members"
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the member.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Member removed successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/members/{memberId}/teams": {
      "get": {
        "operationId": "getMemberTeams",
        "summary": "List teams for a member",
        "description": "Returns the teams that a specific member belongs to.",
        "tags": [
          "Members",
          "Teams"
        ],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the member.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams": {
      "get": {
        "operationId": "listTeams",
        "summary": "List teams",
        "description": "Returns a list of teams in the organization.",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "The organization ID to list teams for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page.",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTeam",
        "summary": "Create a team",
        "description": "Creates a new team in the organization.",
        "tags": [
          "Teams"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeamRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}": {
      "get": {
        "operationId": "getTeam",
        "summary": "Get a team",
        "description": "Returns details about a specific team.",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the team.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Team not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateTeam",
        "summary": "Update a team",
        "description": "Updates an existing team's details.",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the team.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeamRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Team not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTeam",
        "summary": "Delete a team",
        "description": "Deletes a team from the organization.",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the team.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Team deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Team not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/members": {
      "get": {
        "operationId": "getTeamMembers",
        "summary": "List team members",
        "description": "Returns a list of members belonging to a specific team.",
        "tags": [
          "Teams",
          "Members"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the team.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Team not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/members/{memberId}": {
      "put": {
        "operationId": "addTeamMember",
        "summary": "Add a member to a team",
        "description": "Adds an existing organization member to a team.",
        "tags": [
          "Teams",
          "Members"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the team.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the member.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Member added to team successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Team or member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeTeamMember",
        "summary": "Remove a member from a team",
        "description": "Removes a member from a team.",
        "tags": [
          "Teams",
          "Members"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the team.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the member.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Member removed from team successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Team or member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/socialProfiles": {
      "get": {
        "operationId": "getTeamSocialProfiles",
        "summary": "List social profiles for a team",
        "description": "Returns the social profiles assigned to a specific team.",
        "tags": [
          "Teams",
          "Social Profiles"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the team.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialProfileListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Team not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/socialProfiles/{socialProfileId}": {
      "put": {
        "operationId": "addSocialProfileToTeam",
        "summary": "Add a social profile to a team",
        "description": "Assigns a social profile to a team, granting team members access to it.",
        "tags": [
          "Teams",
          "Social Profiles"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the team.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "socialProfileId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the social profile.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Social profile added to team successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Team or social profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "removeSocialProfileFromTeam",
        "summary": "Remove a social profile from a team",
        "description": "Removes a social profile from a team.",
        "tags": [
          "Teams",
          "Social Profiles"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the team.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "socialProfileId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the social profile.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Social profile removed from team successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Team or social profile not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organizationId}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get an organization",
        "description": "Returns details about a specific organization.",
        "tags": [
          "Organizations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the organization.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{organizationId}/members": {
      "get": {
        "operationId": "listOrganizationMembers",
        "summary": "List organization members",
        "description": "Returns a list of members belonging to a specific organization.",
        "tags": [
          "Organizations",
          "Members"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the organization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for fetching the next page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page.",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "Get access token",
        "description": "Exchanges an authorization code or refresh token for an access token.",
        "tags": [
          "Me"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid grant or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth2/auth": {
      "get": {
        "operationId": "authorizeUser",
        "summary": "Authorize user",
        "description": "Redirects the user to the Hootsuite authorization page to grant access to the application. This is the initial step of the OAuth 2.0 authorization code flow.",
        "tags": [
          "Me"
        ],
        "security": [],
        "parameters": [
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "description": "Must be set to 'code' for authorization code flow.",
            "schema": {
              "type": "string",
              "enum": [
                "code"
              ]
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "The client ID of your application.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "description": "The redirect URI registered with your application.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "description": "Space-separated list of scopes requested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "An opaque value used by the client to maintain state between the request and callback.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to Hootsuite authorization page"
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization code flow for authenticating with the Hootsuite Platform API.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://platform.hootsuite.com/oauth2/auth",
            "tokenUrl": "https://platform.hootsuite.com/oauth2/token",
            "scopes": {
              "offline": "Access to refresh tokens for long-lived sessions"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "required": [
          "errors"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A machine-readable error code."
          },
          "message": {
            "type": "string",
            "description": "A human-readable error message."
          },
          "field": {
            "type": "string",
            "description": "The field that caused the error, if applicable."
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "description": "Cursor for fetching the next page of results. Null if no more pages.",
            "nullable": true
          }
        }
      },
      "MeResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the user."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The user's email address."
          },
          "fullName": {
            "type": "string",
            "description": "The user's full name."
          },
          "language": {
            "type": "string",
            "description": "The user's preferred language (ISO 639-1 code)."
          },
          "timezone": {
            "type": "string",
            "description": "The user's timezone (IANA timezone identifier)."
          },
          "companyName": {
            "type": "string",
            "description": "The user's company name."
          },
          "bio": {
            "type": "string",
            "description": "The user's biography or description."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the user account was created."
          }
        },
        "required": [
          "id",
          "email",
          "fullName"
        ]
      },
      "OrganizationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Organization"
            }
          }
        }
      },
      "OrganizationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Organization"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the organization."
          },
          "name": {
            "type": "string",
            "description": "The name of the organization."
          },
          "billingEmail": {
            "type": "string",
            "format": "email",
            "description": "The billing email for the organization."
          },
          "planName": {
            "type": "string",
            "description": "The name of the subscription plan."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the organization was created."
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "SocialProfileListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SocialProfile"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "SocialProfileResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SocialProfile"
          }
        }
      },
      "SocialProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the social profile."
          },
          "type": {
            "type": "string",
            "description": "The type of social network.",
            "enum": [
              "TWITTER",
              "FACEBOOK",
              "INSTAGRAM",
              "LINKEDIN",
              "YOUTUBE",
              "PINTEREST",
              "TIKTOK"
            ]
          },
          "socialNetworkId": {
            "type": "string",
            "description": "The ID of the profile on the social network."
          },
          "socialNetworkUsername": {
            "type": "string",
            "description": "The username on the social network."
          },
          "avatarUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the profile's avatar image."
          },
          "ownerId": {
            "type": "string",
            "description": "The ID of the Hootsuite user who owns this social profile."
          },
          "organizationId": {
            "type": "string",
            "description": "The ID of the organization this profile belongs to."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the social profile was added."
          }
        },
        "required": [
          "id",
          "type",
          "socialNetworkId"
        ]
      },
      "CreateMessageRequest": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "The text content of the message."
          },
          "socialProfileIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The IDs of the social profiles to post to."
          },
          "scheduledSendTime": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time to publish the message (ISO 8601 format). If not provided, the message is sent immediately."
          },
          "mediaUrls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaAttachment"
            },
            "description": "Media attachments for the message."
          },
          "webhookUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Webhook URLs to be notified when the message is published."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags to categorize the message for tracking."
          },
          "targeting": {
            "$ref": "#/components/schemas/MessageTargeting"
          },
          "privacy": {
            "$ref": "#/components/schemas/MessagePrivacy"
          },
          "location": {
            "$ref": "#/components/schemas/MessageLocation"
          },
          "emailNotification": {
            "type": "boolean",
            "description": "Whether to send an email notification when the message is published."
          }
        },
        "required": [
          "text",
          "socialProfileIds"
        ]
      },
      "MediaAttachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The media ID from a previously uploaded media file."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "A publicly accessible URL to the media file."
          }
        }
      },
      "MessageTargeting": {
        "type": "object",
        "description": "Targeting settings for the message (Facebook only).",
        "properties": {
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Target audience by language (ISO 639-1 codes)."
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string",
                  "description": "Country code (ISO 3166-1 alpha-2)."
                },
                "region": {
                  "type": "string",
                  "description": "Region or state name."
                },
                "city": {
                  "type": "string",
                  "description": "City name."
                }
              }
            },
            "description": "Target audience by location."
          }
        }
      },
      "MessagePrivacy": {
        "type": "object",
        "description": "Privacy settings for the message (Facebook only).",
        "properties": {
          "value": {
            "type": "string",
            "enum": [
              "EVERYONE",
              "ALL_FRIENDS",
              "FRIENDS_OF_FRIENDS",
              "SELF"
            ],
            "description": "The privacy level of the post."
          }
        }
      },
      "MessageLocation": {
        "type": "object",
        "description": "Location tagging for the message.",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude coordinate."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude coordinate."
          },
          "name": {
            "type": "string",
            "description": "Name of the location."
          }
        }
      },
      "MessageListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Message"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the message."
          },
          "state": {
            "type": "string",
            "description": "The current state of the message.",
            "enum": [
              "SCHEDULED",
              "SENT",
              "FAILED",
              "PENDING_APPROVAL",
              "REJECTED",
              "DRAFT"
            ]
          },
          "text": {
            "type": "string",
            "description": "The text content of the message."
          },
          "socialProfileIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The IDs of the social profiles this message was posted to."
          },
          "scheduledSendTime": {
            "type": "string",
            "format": "date-time",
            "description": "The scheduled publish date and time."
          },
          "mediaUrls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaAttachment"
            },
            "description": "Media attachments for the message."
          },
          "webhookUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Webhook URLs to be notified."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags associated with the message."
          },
          "postUrl": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the published post on the social network (available after publishing)."
          },
          "postId": {
            "type": "string",
            "description": "The ID of the post on the social network (available after publishing)."
          },
          "createdByMemberId": {
            "type": "string",
            "description": "The ID of the member who created the message."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the message was created."
          },
          "reviewedByMemberId": {
            "type": "string",
            "description": "The ID of the member who reviewed the message."
          },
          "reviewedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the message was reviewed."
          }
        },
        "required": [
          "id",
          "state",
          "text",
          "socialProfileIds"
        ]
      },
      "MessageHistoryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageHistoryEntry"
            }
          }
        }
      },
      "MessageHistoryEntry": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "description": "The action taken on the message.",
            "enum": [
              "CREATED",
              "SUBMITTED_FOR_APPROVAL",
              "APPROVED",
              "REJECTED",
              "SENT",
              "FAILED",
              "DELETED",
              "EDITED"
            ]
          },
          "memberId": {
            "type": "string",
            "description": "The ID of the member who performed the action."
          },
          "memberName": {
            "type": "string",
            "description": "The name of the member who performed the action."
          },
          "comment": {
            "type": "string",
            "description": "Optional comment associated with the action."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the action was performed."
          }
        },
        "required": [
          "action",
          "timestamp"
        ]
      },
      "ApprovalActionRequest": {
        "type": "object",
        "properties": {
          "comment": {
            "type": "string",
            "description": "An optional comment explaining the approval or rejection."
          }
        }
      },
      "CreateMediaRequest": {
        "type": "object",
        "properties": {
          "sizeBytes": {
            "type": "integer",
            "format": "int64",
            "description": "The size of the media file in bytes."
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the media file.",
            "enum": [
              "image/jpeg",
              "image/png",
              "image/gif",
              "video/mp4",
              "video/quicktime"
            ]
          }
        },
        "required": [
          "sizeBytes",
          "mimeType"
        ]
      },
      "MediaUploadResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/MediaUpload"
          }
        }
      },
      "MediaUpload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the media upload."
          },
          "uploadUrl": {
            "type": "string",
            "format": "uri",
            "description": "The presigned URL to upload the media file to."
          },
          "uploadUrlDurationSeconds": {
            "type": "integer",
            "description": "The number of seconds the upload URL is valid for."
          }
        },
        "required": [
          "id",
          "uploadUrl"
        ]
      },
      "MediaResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Media"
          }
        }
      },
      "Media": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the media."
          },
          "state": {
            "type": "string",
            "description": "The current state of the media upload.",
            "enum": [
              "PENDING",
              "PROCESSING",
              "READY",
              "FAILED"
            ]
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the media file."
          },
          "sizeBytes": {
            "type": "integer",
            "format": "int64",
            "description": "The size of the media file in bytes."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the processed media file."
          },
          "thumbnailUrl": {
            "type": "string",
            "format": "uri",
            "description": "A thumbnail URL for the media file."
          },
          "downloadUrl": {
            "type": "string",
            "format": "uri",
            "description": "A URL to download the media file."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the media was uploaded."
          }
        },
        "required": [
          "id",
          "state"
        ]
      },
      "MemberListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "MemberResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Member"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the member."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The member's email address."
          },
          "fullName": {
            "type": "string",
            "description": "The member's full name."
          },
          "role": {
            "type": "string",
            "description": "The member's role in the organization.",
            "enum": [
              "SUPER_ADMIN",
              "ADMIN",
              "DEFAULT",
              "LIMITED",
              "CUSTOM"
            ]
          },
          "organizationId": {
            "type": "string",
            "description": "The ID of the organization the member belongs to."
          },
          "teamIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The IDs of teams the member belongs to."
          },
          "socialProfileIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The IDs of social profiles the member has access to."
          },
          "language": {
            "type": "string",
            "description": "The member's preferred language (ISO 639-1 code)."
          },
          "timezone": {
            "type": "string",
            "description": "The member's timezone (IANA timezone identifier)."
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the member's account is active."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the member was added."
          }
        },
        "required": [
          "id",
          "email",
          "fullName",
          "role",
          "organizationId"
        ]
      },
      "CreateMemberRequest": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "The organization to add the member to."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address of the member to add."
          },
          "fullName": {
            "type": "string",
            "description": "The full name of the member."
          },
          "role": {
            "type": "string",
            "description": "The role to assign to the member.",
            "enum": [
              "SUPER_ADMIN",
              "ADMIN",
              "DEFAULT",
              "LIMITED",
              "CUSTOM"
            ]
          },
          "teamIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Team IDs to assign the member to."
          },
          "language": {
            "type": "string",
            "description": "The member's preferred language (ISO 639-1 code)."
          },
          "timezone": {
            "type": "string",
            "description": "The member's timezone (IANA timezone identifier)."
          }
        },
        "required": [
          "organizationId",
          "email",
          "fullName"
        ]
      },
      "TeamListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Team"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "TeamResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Team"
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the team."
          },
          "name": {
            "type": "string",
            "description": "The name of the team."
          },
          "organizationId": {
            "type": "string",
            "description": "The ID of the organization this team belongs to."
          },
          "memberIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The IDs of members in this team."
          },
          "socialProfileIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The IDs of social profiles assigned to this team."
          },
          "teamPermissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The permissions granted to team members."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time the team was created."
          }
        },
        "required": [
          "id",
          "name",
          "organizationId"
        ]
      },
      "CreateTeamRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the team."
          },
          "organizationId": {
            "type": "string",
            "description": "The organization to create the team in."
          },
          "memberIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of members to add to the team."
          },
          "socialProfileIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of social profiles to assign to the team."
          },
          "teamPermissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Permissions to grant to the team."
          }
        },
        "required": [
          "name",
          "organizationId"
        ]
      },
      "UpdateTeamRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The updated name of the team."
          },
          "memberIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Updated list of member IDs."
          },
          "socialProfileIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Updated list of social profile IDs."
          },
          "teamPermissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Updated list of permissions."
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "description": "The type of grant being exchanged.",
            "enum": [
              "authorization_code",
              "refresh_token"
            ]
          },
          "code": {
            "type": "string",
            "description": "The authorization code received from the authorization endpoint (required for authorization_code grant type)."
          },
          "redirect_uri": {
            "type": "string",
            "format": "uri",
            "description": "The redirect URI used in the authorization request (required for authorization_code grant type)."
          },
          "refresh_token": {
            "type": "string",
            "description": "The refresh token (required for refresh_token grant type)."
          },
          "client_id": {
            "type": "string",
            "description": "The client ID of the application."
          },
          "client_secret": {
            "type": "string",
            "description": "The client secret of the application."
          }
        },
        "required": [
          "grant_type"
        ]
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The access token to use for API requests."
          },
          "token_type": {
            "type": "string",
            "description": "The type of token (always 'Bearer')."
          },
          "expires_in": {
            "type": "integer",
            "description": "The number of seconds until the access token expires."
          },
          "refresh_token": {
            "type": "string",
            "description": "The refresh token to use for obtaining new access tokens."
          },
          "scope": {
            "type": "string",
            "description": "The scopes granted to the access token."
          }
        },
        "required": [
          "access_token",
          "token_type",
          "expires_in"
        ]
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Me",
      "description": "Authenticated user information"
    },
    {
      "name": "Social Profiles",
      "description": "Manage social network profiles connected to Hootsuite"
    },
    {
      "name": "Messages",
      "description": "Schedule and manage social media messages and posts"
    },
    {
      "name": "Media",
      "description": "Upload and manage media attachments for messages"
    },
    {
      "name": "Members",
      "description": "Manage organization members"
    },
    {
      "name": "Teams",
      "description": "Manage teams within an organization"
    },
    {
      "name": "Organizations",
      "description": "Manage organizations"
    },
    {
      "name": "Interactions",
      "description": "Social inbox interactions and message approvals"
    }
  ]
}