{
  "openapi": "3.0.3",
  "info": {
    "title": "positionstack API",
    "description": "positionstack offers a powerful and free geocoding API for forward and reverse geocoding, supporting batch requests, multiple output formats, and optional data modules for timezone, sun, country, and bounding box information.",
    "version": "1.0.0",
    "contact": {
      "name": "positionstack",
      "url": "https://positionstack.com"
    },
    "x-jentic-source-url": "https://positionstack.com/documentation"
  },
  "servers": [
    {
      "url": "https://api.positionstack.com/v1",
      "description": "Production server (HTTPS - paid plans)"
    },
    {
      "url": "http://api.positionstack.com/v1",
      "description": "Production server (HTTP - free plan)"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Forward Geocoding",
      "description": "Convert addresses to coordinates"
    },
    {
      "name": "Reverse Geocoding",
      "description": "Convert coordinates to addresses"
    }
  ],
  "paths": {
    "/forward": {
      "get": {
        "operationId": "forwardGeocode",
        "summary": "Forward Geocoding",
        "description": "Convert a free-text address, place name, or postal code to location data including latitude and longitude coordinates.",
        "tags": ["Forward Geocoding"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key from the account dashboard.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Free-text address, place name, postal code, or location identifier to geocode.",
            "schema": {
              "type": "string"
            },
            "example": "1600 Pennsylvania Ave NW, Washington DC"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter results by one or more comma-separated 2 or 3-letter country codes (ISO 3166-1 Alpha-2 or Alpha-3).",
            "schema": {
              "type": "string"
            },
            "example": "US,CA"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Filter results by region, district, city, or state name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "2 or 3-letter language code for response localization. Defaults to English.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results to return per query (1-80). Default is 10.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 80,
              "default": 10
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Response output format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "geojson"],
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Specify response fields to reduce response size (e.g., results.latitude,results.longitude).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_module",
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable the country data module in the response.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "sun_module",
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable the sun/astrology data module in the response.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "timezone_module",
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable the timezone data module in the response.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "bbox_module",
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable the bounding box data module in the response.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name for wrapping the response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geocoding response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error (invalid/missing API key or inactive user).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted (HTTPS or function not available on current plan).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource or endpoint not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Usage or rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "batchForwardGeocode",
        "summary": "Batch Forward Geocoding",
        "description": "Process multiple forward geocoding queries in a single request. Requires Professional Plan or higher.",
        "tags": ["Forward Geocoding"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful batch geocoding response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reverse": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse Geocoding",
        "description": "Convert coordinates (latitude and longitude) or an IP address to location data.",
        "tags": ["Reverse Geocoding"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Coordinates in 'latitude,longitude' format or an IP address.",
            "schema": {
              "type": "string"
            },
            "example": "40.7638435,-73.9729691"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Filter by country code(s).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Filter by region name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "2 or 3-letter language code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results (1-80, default 10).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 80,
              "default": 10
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml", "geojson"],
              "default": "json"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Specify response fields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country_module",
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable country data module.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "sun_module",
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable sun data module.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "timezone_module",
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable timezone data module.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "bbox_module",
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable bounding box module.",
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "description": "JSONP callback function name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful reverse geocoding response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "batchReverseGeocode",
        "summary": "Batch Reverse Geocoding",
        "description": "Process multiple reverse geocoding queries in a single request. Requires Professional Plan or higher.",
        "tags": ["Reverse Geocoding"],
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "description": "Your API access key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful batch reverse geocoding response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Access restricted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate or usage limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "access_key",
        "description": "API access key obtained from your positionstack account dashboard."
      }
    },
    "schemas": {
      "GeocodeResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/LocationResult"
                }
              }
            }
          }
        }
      },
      "LocationResult": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude coordinate of the result."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude coordinate of the result."
          },
          "label": {
            "type": "string",
            "description": "Full formatted address label."
          },
          "name": {
            "type": "string",
            "description": "Name of the location or place."
          },
          "type": {
            "type": "string",
            "description": "Type of location (e.g., address, venue, locality)."
          },
          "number": {
            "type": "string",
            "description": "Street/house number."
          },
          "street": {
            "type": "string",
            "description": "Street name."
          },
          "postal_code": {
            "type": "string",
            "description": "Postal or ZIP code."
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "Confidence score between 0 and 1."
          },
          "region": {
            "type": "string",
            "description": "Region or state name."
          },
          "region_code": {
            "type": "string",
            "description": "Region or state code."
          },
          "administrative_area": {
            "type": "string",
            "description": "Administrative area name."
          },
          "neighbourhood": {
            "type": "string",
            "description": "Neighbourhood name."
          },
          "country": {
            "type": "string",
            "description": "Country name."
          },
          "country_code": {
            "type": "string",
            "description": "ISO 3166-1 Alpha-2 country code."
          },
          "map_url": {
            "type": "string",
            "description": "URL to view the location on a map."
          },
          "distance": {
            "type": "number",
            "format": "float",
            "description": "Distance from the queried coordinates (reverse geocoding only)."
          },
          "country_module": {
            "$ref": "#/components/schemas/CountryModule"
          },
          "sun_module": {
            "$ref": "#/components/schemas/SunModule"
          },
          "timezone_module": {
            "$ref": "#/components/schemas/TimezoneModule"
          },
          "bbox_module": {
            "$ref": "#/components/schemas/BboxModule"
          }
        }
      },
      "CountryModule": {
        "type": "object",
        "description": "Country data module (enabled with country_module=1).",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "common_name": {
            "type": "string"
          },
          "official_name": {
            "type": "string"
          },
          "capital": {
            "type": "string"
          },
          "flag": {
            "type": "string"
          },
          "area": {
            "type": "number"
          },
          "landlocked": {
            "type": "boolean"
          },
          "independent": {
            "type": "boolean"
          },
          "global": {
            "type": "object",
            "properties": {
              "alpha2": {
                "type": "string"
              },
              "alpha3": {
                "type": "string"
              },
              "numeric_code": {
                "type": "string"
              },
              "region": {
                "type": "string"
              },
              "subregion": {
                "type": "string"
              },
              "region_code": {
                "type": "string"
              },
              "subregion_code": {
                "type": "string"
              },
              "world_region": {
                "type": "string"
              },
              "continent_name": {
                "type": "string"
              },
              "continent_code": {
                "type": "string"
              }
            }
          },
          "dial": {
            "type": "object",
            "properties": {
              "calling_code": {
                "type": "string"
              },
              "national_prefix": {
                "type": "string"
              },
              "international_prefix": {
                "type": "string"
              }
            }
          },
          "currencies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "symbol": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "languages": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "SunModule": {
        "type": "object",
        "description": "Sun/astrology data module (enabled with sun_module=1).",
        "properties": {
          "rise": {
            "type": "number",
            "description": "Sunrise time as UNIX timestamp."
          },
          "set": {
            "type": "number",
            "description": "Sunset time as UNIX timestamp."
          },
          "transit": {
            "type": "number",
            "description": "Solar transit time as UNIX timestamp."
          }
        }
      },
      "TimezoneModule": {
        "type": "object",
        "description": "Timezone data module (enabled with timezone_module=1).",
        "properties": {
          "name": {
            "type": "string",
            "description": "Timezone name (e.g., America/New_York)."
          },
          "offset": {
            "type": "integer",
            "description": "UTC offset in seconds."
          },
          "offset_string": {
            "type": "string",
            "description": "UTC offset as a string (e.g., -05:00)."
          }
        }
      },
      "BboxModule": {
        "type": "object",
        "description": "Bounding box module (enabled with bbox_module=1).",
        "properties": {
          "min_longitude": {
            "type": "number",
            "format": "double"
          },
          "min_latitude": {
            "type": "number",
            "format": "double"
          },
          "max_longitude": {
            "type": "number",
            "format": "double"
          },
          "max_latitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "properties": {
          "batch": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["query"],
              "properties": {
                "query": {
                  "type": "string",
                  "description": "Address or coordinates to geocode."
                },
                "country": {
                  "type": "string",
                  "description": "Country filter."
                },
                "region": {
                  "type": "string",
                  "description": "Region filter."
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code identifier.",
                "enum": [
                  "invalid_access_key",
                  "missing_access_key",
                  "inactive_user",
                  "https_access_restricted",
                  "function_access_restricted",
                  "invalid_api_function",
                  "404_not_found",
                  "usage_limit_reached",
                  "rate_limit_reached",
                  "internal_error"
                ]
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message."
              },
              "context": {
                "type": "object",
                "description": "Additional error context with field-specific validation errors.",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}