{
  "openapi": "3.0.3",
  "info": {
    "title": "Digitail API",
    "description": "Digitail API",
    "contact": {
      "email": "developer@digitail.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://vet.digitail.io/api-docs"
  },
  "servers": [
    {
      "url": "https://developer.digitail.io",
      "description": "Sandbox server (uses test data)"
    },
    {
      "url": "https://vet.digitail.io",
      "description": "Production server (uses live data)"
    }
  ],
  "paths": {
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get the logged-in User (Vet)",
        "description": "Get the logged-in User (Vet)",
        "parameters": [
          {
            "name": "include[]",
            "in": "query",
            "description": "Additional info to include. You can use multiple, comma separated.  Possible options: clinic,clinic.chatUser,multipleClinic,employee,employee.chatUser",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "clinic",
                  "clinic.chatUser",
                  "multipleClinic",
                  "employee",
                  "employee.chatUser"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Me"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/appointments": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Get all Appointments",
        "description": "Permissions needed: VIEW_APPOINTMENTS\nGet all appointments in a given interval for a given clinic and vet\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/optional_filter_clinic_id"
          },
          {
            "$ref": "#/components/parameters/optional_filter_vet_id"
          },
          {
            "$ref": "#/components/parameters/optional_filter_patient_id_array"
          },
          {
            "name": "filter[visit_type_id]",
            "description": "Filter by visit type ID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[date_before]",
            "in": "query",
            "description": "Date before(Y-m-d)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[date_after]",
            "in": "query",
            "description": "Date after(Y-m-d)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[statuses]",
            "in": "query",
            "description": "Statuses of appointments to fetch. Options `0` - Pending `1` - Pending Client Approval `2` - Pending Clinic Approval `3` - Rescheduled Clinic Approval `4` - Rescheduled Client Approval `5` - Confirmed `6` - Canceled By Client `7` - Canceled By Clinic' `8` - Automatically Created' `9` - No Show\n",
            "required": false,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "filter[patient.owners.id]",
            "in": "query",
            "description": "Pet Parent ID",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "filter[date_between]",
            "in": "query",
            "description": "Dates Between (start_date, end_date), format: YYYY-MM-DD",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filter[last_fetched]",
            "in": "query",
            "description": "Last Appointment Fetched",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional info to include. You can use multiple, comma separated. Options:   patient,patient.species,patient.breed,patient.crossBreed,patient.owners,patient.owners.appDownloadNotification,patient.owners.clients,room,event,\nservices (service-packages), clinic,clinic.rooms,vet,vet.vetRolesAll,requests,notes,consentForms,consentForms.printableFile,visitType,visitType.tailsIntakeRule",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by. You can use multiple, comma separated. Options: datetime_start_utc",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Appointment"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Create an Appointment",
        "description": "Permissions needed: CREATE_APPOINTMENTS\n<strong>Create Appointment</strong> <br/> <br/>  Start Date and End Date is set as is format(2022-10-20 10:09:00), no alterations are done, so queries will return the exact date and time that was set. <br/> - Status enum is visible under the appointments change status method <br/> - record_id, room_id and examination_id must be set as null if not used.\n",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Additional info to include. You can use multiple, comma separated. Options:   patient,patient.species,patient.breed,patient.crossBreed,patient.owners,patient.owners.appDownloadNotification,patient.owners.clients,room,event,\nclinic,clinic.rooms,vet,vet.vetRolesAll,requests,notes,visitType,paymentDeposits.paymentLinks",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "AppointmentRequestBodyStore",
                "description": "Appointment Create/Update Request Body",
                "required": [
                  "clinic_id",
                  "vet_id",
                  "patient_id",
                  "visit_type_id",
                  "datetime_start_utc",
                  "datetime_end_utc"
                ],
                "properties": {
                  "clinic_id": {
                    "description": "Clinic Id",
                    "type": "integer",
                    "example": 1
                  },
                  "vet_id": {
                    "description": "Vet Id",
                    "type": "integer",
                    "example": 1
                  },
                  "patient_id": {
                    "description": "Pet id",
                    "type": "integer",
                    "example": 1
                  },
                  "visit_type_id": {
                    "description": "Id of the VisitType",
                    "type": "integer",
                    "example": 1
                  },
                  "notify_owner": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3,
                      4,
                      5,
                      6,
                      7
                    ],
                    "example": 1,
                    "description": "`0` - No Notification, `1` - Only Email, `2` - Only SMS, `3` - Only App, `4` - Email & SMS, `5` - Email & App, `6` - SMS & App, `7` - Email, SMS & App,\n"
                  },
                  "notify_owner_mode": {
                    "type": "array",
                    "description": "Another way to describe the notification mode, can be used instead of `notify_owner`",
                    "items": {
                      "type": "string",
                      "enum": [
                        "app",
                        "sms",
                        "email"
                      ]
                    }
                  },
                  "observations": {
                    "description": "Observations",
                    "type": "string",
                    "example": ""
                  },
                  "status": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3,
                      4,
                      5,
                      6,
                      7,
                      8,
                      9
                    ],
                    "example": 1,
                    "description": "`1` - Pending Client Approval `2` - Pending Clinic Approval `3` - Rescheduled Clinic Approval `4` - Rescheduled Client Approval `5` - Confirmed `6` - Canceled By Client `7` - Canceled By Clinic' `8` - Automatically Created' `9` - No Show\n"
                  },
                  "notification_message": {
                    "description": "Notification message",
                    "type": "string",
                    "example": ""
                  },
                  "reminder_notifications": {
                    "description": "Reminder notifications",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Clinic/properties/reminders/items"
                    },
                    "example": [
                      {
                        "id": 1,
                        "period": 1,
                        "periodType": 0,
                        "notificationType": 0
                      },
                      {
                        "id": 2,
                        "period": 1,
                        "periodType": 1,
                        "notificationType": 0
                      }
                    ]
                  },
                  "record_id": {
                    "description": "Record ID - set null if not used",
                    "type": "integer",
                    "nullable": true,
                    "example": null
                  },
                  "room_id": {
                    "description": "Room ID - set null if not used",
                    "type": "integer",
                    "nullable": true,
                    "example": null
                  },
                  "examination_id": {
                    "description": "Examination ID - set null if not used",
                    "type": "integer",
                    "nullable": true,
                    "example": null
                  },
                  "printable_file_ids": {
                    "description": "Consent forms",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      1,
                      2
                    ]
                  },
                  "video_link": {
                    "nullable": true,
                    "description": "Video link",
                    "type": "string",
                    "example": null
                  },
                  "datetime_start_utc": {
                    "description": "Start Date in UTC ISO Zulu format",
                    "type": "string",
                    "example": "2022-06-16T13:42:38Z"
                  },
                  "datetime_end_utc": {
                    "description": "End Date in UTC ISO Zulu format",
                    "type": "string",
                    "example": "2022-06-16T14:42:38Z"
                  },
                  "service_package_ids": {
                    "description": "Service package ids",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      1,
                      2
                    ]
                  },
                  "user_note": {
                    "description": "Notes introduced by the pet parent",
                    "type": "string",
                    "example": "Daisy has not been feeling well"
                  },
                  "recurrence": {
                    "description": "recurrence defined by RFC 5545",
                    "type": "string",
                    "nullable": true,
                    "example": "FREQ=DAILY;COUNT=10"
                  },
                  "source": {
                    "type": "integer",
                    "description": "`0` - Added by clinic `1` - Requested via Web `2` - Requested via App\n"
                  },
                  "requires_payment_deposit": {
                    "type": "boolean"
                  },
                  "pet_parent": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "email": {
                        "type": "string"
                      },
                      "send_email": {
                        "type": "boolean"
                      },
                      "name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Phone number in E.164 format",
                        "example": "+16175551212"
                      },
                      "send_sms": {
                        "type": "boolean"
                      },
                      "address": {
                        "type": "string"
                      },
                      "address_2": {
                        "type": "string"
                      }
                    }
                  },
                  "pet": {
                    "type": "object",
                    "properties": {
                      "nickname": {
                        "type": "string"
                      },
                      "species_id": {
                        "type": "integer"
                      },
                      "breed_id": {
                        "type": "integer"
                      },
                      "birthday_is_estimated": {
                        "type": "boolean"
                      },
                      "birthdate": {
                        "type": "string",
                        "example": "1990-01-01"
                      },
                      "gender": {
                        "type": "string",
                        "enum": [
                          "male",
                          "female",
                          "unknown"
                        ]
                      },
                      "hormonal_status": {
                        "type": "integer",
                        "enum": [
                          0,
                          1,
                          2
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Appointment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/api/v1/appointments/{id}": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Retrieve an Appointment",
        "description": "Permissions needed: VIEW_APPOINTMENTS\nGet an individual appointment by id\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional info to include. You can use multiple, comma separated. Options:   patient,patient.species,patient.breed,patient.crossBreed,patient.owners,patient.owners.appDownloadNotification,patient.owners.clients,room,event,\nclinic,clinic.rooms,vet,vet.vetRolesAll,requests,notes,visitType,visitType.tailsIntakeRule",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Appointment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "put": {
        "tags": [
          "Appointments"
        ],
        "summary": "Update an Appointment",
        "description": "Permissions needed: EDIT_APPOINTMENTS\nUpdate a singular a appointment. Cant do partial updates of resource\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional info to include. You can use multiple, comma separated. Options:   patient,patient.species,patient.breed,patient.crossBreed,patient.owners,patient.owners.appDownloadNotification,patient.owners.clients,room,event,\nclinic,clinic.rooms,vet,vet.vetRolesAll,requests,notes,visitType",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "AppointmentRequestBodyUpdate",
                "description": "Appointment Create/Update Request Body",
                "properties": {
                  "clinic_id": {
                    "description": "Clinic Id.",
                    "type": "integer",
                    "example": 1
                  },
                  "vet_id": {
                    "description": "Vet Id.",
                    "type": "integer",
                    "example": 1
                  },
                  "patient_id": {
                    "description": "Pet id",
                    "type": "integer",
                    "example": 1
                  },
                  "visit_type_id": {
                    "description": "Id of the VisitType",
                    "type": "integer",
                    "example": 1
                  },
                  "datetime_start_utc": {
                    "description": "Start Date in UTC ISO Zulu format",
                    "type": "string",
                    "example": "2022-06-16T13:42:38Z"
                  },
                  "datetime_end_utc": {
                    "description": "End Date in UTC ISO Zulu format",
                    "type": "string",
                    "example": "2022-06-16T14:42:38Z"
                  },
                  "notify_owner": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3,
                      4,
                      5,
                      6,
                      7
                    ],
                    "example": 1,
                    "description": "`0` - No Notification, `1` - Only Email, `2` - Only SMS, `3` - Only App, `4` - Email & SMS, `5` - Email & App, `6` - SMS & App, `7` - Email, SMS & App,\n"
                  },
                  "notify_owner_mode": {
                    "type": "array",
                    "description": "Another way to describe the notification mode, can be used instead of `notify_owner`",
                    "items": {
                      "type": "string",
                      "enum": [
                        "app",
                        "sms",
                        "email"
                      ]
                    }
                  },
                  "observations": {
                    "description": "Observations",
                    "type": "string",
                    "example": ""
                  },
                  "status": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3,
                      4,
                      5,
                      6,
                      7,
                      8,
                      9
                    ],
                    "example": 1,
                    "description": "`1` - Pending Client Approval `2` - Pending Clinic Approval `3` - Rescheduled Clinic Approval `4` - Rescheduled Client Approval `5` - Confirmed `6` - Canceled By Client `7` - Canceled By Clinic' `8` - Automatically Created' `9` - No Show\n"
                  },
                  "notification_message": {
                    "description": "Notification message",
                    "type": "string",
                    "example": ""
                  },
                  "reminder_notifications": {
                    "description": "Reminder notifications",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Clinic/properties/reminders/items"
                    },
                    "example": [
                      {
                        "id": 1,
                        "period": 1,
                        "periodType": 0,
                        "notificationType": 0
                      },
                      {
                        "id": 2,
                        "period": 1,
                        "periodType": 1,
                        "notificationType": 0
                      }
                    ]
                  },
                  "record_id": {
                    "description": "Record ID - set null if not used",
                    "type": "integer",
                    "nullable": true,
                    "example": null
                  },
                  "room_id": {
                    "description": "Room ID - set null if not used",
                    "type": "integer",
                    "nullable": true,
                    "example": null
                  },
                  "examination_id": {
                    "description": "Examination ID - set null if not used",
                    "type": "integer",
                    "nullable": true,
                    "example": null
                  },
                  "printable_file_ids": {
                    "description": "Consent forms",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "example": [
                      1,
                      2
                    ]
                  },
                  "video_link": {
                    "nullable": true,
                    "description": "Video link",
                    "type": "string",
                    "example": null
                  },
                  "user_note": {
                    "description": "Notes introduced by the pet parent",
                    "type": "string",
                    "example": "Daisy has not been feeling well"
                  },
                  "recurrence": {
                    "description": "recurrence defined by RFC 5545",
                    "type": "string",
                    "nullable": true,
                    "example": "FREQ=DAILY;COUNT=10"
                  },
                  "recurrence_update_mode": {
                    "description": "Recurrence update mode",
                    "type": "string",
                    "enum": [
                      "this",
                      "this_and_following",
                      "all"
                    ]
                  },
                  "requires_payment_deposit": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Appointment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/api/v1/appointment/{id}/change-status": {
      "put": {
        "tags": [
          "Appointments"
        ],
        "summary": "Change Appointment status",
        "description": "Permissions needed: EDIT_APPOINTMENTS\nShorthand version of appointment update endpoint for changing just status.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3,
                      4,
                      5,
                      6,
                      7,
                      8,
                      9
                    ],
                    "example": 1,
                    "description": "`0` - Pending `1` - Pending Client Approval `2` - Pending Clinic Approval `3` - Rescheduled Clinic Approval `4` - Rescheduled Client Approval `5` - Confirmed `6` - Canceled By Client `7` - Canceled By Clinic' `8` - Automatically Created' `9` - No Show\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Appointment"
                    }
                  }
                }
              }
            }
          },
          "204": {
            "$ref": "#/components/responses/204"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "The given data was invalid.",
                    "errors": {
                      "status": [
                        "This value is invalid"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/appointments-count-by-status": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List Appointments count by status",
        "description": "Permissions needed: VIEW_APPOINTMENTS\nReturn count of all appointments of the clinic grouped by their status\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_pet_id"
          },
          {
            "$ref": "#/components/parameters/filter_clinic_id"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pendingCount": {
                      "type": "integer",
                      "example": 2
                    },
                    "canceledCount": {
                      "type": "integer",
                      "example": 0
                    },
                    "missedCount": {
                      "type": "integer",
                      "example": 7
                    },
                    "recommendedCount": {
                      "type": "integer",
                      "example": 0
                    },
                    "confirmedCount": {
                      "type": "integer",
                      "example": 0
                    },
                    "allCount": {
                      "type": "integer",
                      "example": 9
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/api/v1/appointments/{id}/cancel": {
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Cancel an Appointment",
        "description": "Permissions needed: EDIT_APPOINTMENTS\nShorthand version of appointment update endpoint for changing just status to cancelled.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "observations": {
                    "type": "string",
                    "example": ""
                  },
                  "notification_message": {
                    "type": "string",
                    "example": null
                  },
                  "cancellation_reason": {
                    "type": "string",
                    "example": ""
                  },
                  "recurrence_update_mode": {
                    "description": "Recurrence update mode",
                    "type": "string",
                    "enum": [
                      "this",
                      "this_and_following",
                      "all"
                    ]
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Appointment"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/api/v1/appointments/{id}/confirm": {
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Confirm an Appointment",
        "description": "Permissions needed: EDIT_APPOINTMENTS\n\n  Shorthand version of appointment update endpoint for changing just status to cancelled.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        }
      }
    },
    "/api/v1/blood-types": {
      "get": {
        "tags": [
          "BloodTypes"
        ],
        "summary": "List all BloodTypes",
        "description": "Permissions needed: NONE\nReturns list of blood types\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "filter[species_id]",
            "in": "query",
            "description": "Id of the related Species",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BloodType"
                      }
                    },
                    "links": {
                      "$ref": "#/paths/~1api~1v1~1pets/get/responses/200/content/application~1json/schema/properties/links"
                    },
                    "meta": {
                      "$ref": "#/paths/~1api~1v1~1pets/get/responses/200/content/application~1json/schema/properties/meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/breeds": {
      "get": {
        "tags": [
          "Breeds"
        ],
        "summary": "List all Breeds",
        "description": "Permissions needed: NONE\nReturns list of breeds\n",
        "security": [],
        "parameters": [
          {
            "name": "filter[species_id]",
            "in": "query",
            "description": "Id of the related Species",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[search]",
            "in": "query",
            "description": "search by name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Breed"
                      }
                    },
                    "links": {
                      "$ref": "#/paths/~1api~1v1~1pets/get/responses/200/content/application~1json/schema/properties/links"
                    },
                    "meta": {
                      "$ref": "#/paths/~1api~1v1~1pets/get/responses/200/content/application~1json/schema/properties/meta"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/charges": {
      "post": {
        "tags": [
          "Charges"
        ],
        "summary": "Create a Charge",
        "description": "Permissions needed: any of (CREATE_CHECKUPS, VIEW_COUNTER_SALE)\nCreates a new charge for a specific pet parent and clinic and returns it.\n",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Additional info to include:  mainSale,mainPayment,payments,chargeReceipt"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clinic_id": {
                    "description": "Clinic is on which pet parent is client on.",
                    "type": "integer",
                    "example": 1234
                  },
                  "client_id": {
                    "description": "Pet parent id",
                    "type": "integer",
                    "example": 234
                  },
                  "sale_id": {
                    "description": "Id of sale to associate the charge to, if <i>as_credit</i> is <i>false</i> the sale will be paid first if there are multiple due sales and <i>amount</i> is greater than sale amount due",
                    "type": "integer",
                    "example": 234
                  },
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "example": 100
                  },
                  "type": {
                    "type": "integer",
                    "enum": [
                      1,
                      2,
                      3,
                      4,
                      6,
                      7
                    ],
                    "description": "`1` - Cash `2` - Card `3` - Order `6` - Check `7` - Other\n",
                    "example": 2
                  },
                  "card_brand": {
                    "$ref": "#/components/schemas/Charge/properties/card_brand"
                  },
                  "provider_data": {
                    "type": "object",
                    "title": "Payment provider data",
                    "nullable": true,
                    "properties": {
                      "payment_method_id": {
                        "type": "string",
                        "description": "The payment method id to use for this charge.",
                        "example": "pm_123"
                      }
                    }
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2020-01-01T00:00:00Z"
                  },
                  "notes": {
                    "description": "Payment note",
                    "type": "string",
                    "nullable": true,
                    "example": null
                  },
                  "create_receipt": {
                    "type": "boolean",
                    "nullable": true,
                    "example": false
                  },
                  "as_credit": {
                    "description": "If true charge is not applied to due sales and is kept as client credit",
                    "type": "boolean",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Charge"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "message": "The given data was invalid.",
                    "errors": {
                      "card_brand": [
                        "The card brand field can only be provided on Payments with Cards"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/clinic/{id}": {
      "get": {
        "tags": [
          "Clinics"
        ],
        "summary": "Retrieve a Clinic",
        "description": "Permissions needed: NONE\nENDPOINT: api/v1/clinic/{id} to be deprecated in favor of api/v1/clinics/{id}\nGet all details associated with a specific clinic.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional info to include. You can use multiple, comma separated. Options: country,owner, reminderPeriods",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Clinic"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/client-communications": {
      "get": {
        "tags": [
          "Client Communication"
        ],
        "summary": "Get a list of all Communications with a specific PetParent",
        "description": "Get all appointments",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_clinic_id"
          },
          {
            "$ref": "#/components/parameters/optional_filter_user_id"
          },
          {
            "$ref": "#/components/parameters/optional_filter_patient_ids"
          },
          {
            "$ref": "#/components/parameters/optional_filter_date_between"
          },
          {
            "name": "filter[content]",
            "in": "query",
            "description": "Filter subject and content",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[email]",
            "in": "query",
            "description": "Destination email or users email",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[phone]",
            "in": "query",
            "description": "Destination phone or users phone",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": null
          },
          {
            "name": "filter[channels]",
            "in": "query",
            "description": "The channels of the Client Communcations, array of values from CommunicationChannelEnum (e.g. phone, other, email, sms)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "phone",
                  "other",
                  "email",
                  "sms"
                ]
              }
            }
          },
          {
            "name": "filter[types]",
            "in": "query",
            "description": "The types of the Client Communcations, array of values from CommunicationTypeEnum",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "direct",
                  "reminder",
                  "notification",
                  "inbound"
                ]
              }
            }
          },
          {
            "name": "filter[statuses]",
            "in": "query",
            "description": "The statuses of the Client Communcations, array of values from CommunicationStatusEnum",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "processing",
                  "delivered",
                  "undelivered",
                  "skipped",
                  "opened",
                  "clicked",
                  "unknown"
                ]
              }
            }
          },
          {
            "name": "filter[is_attached]",
            "in": "query",
            "description": "- `true` - return only communications that are associated with a record.\n\n- `false` - return only communications that are not associated with a record.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional info to include. You can use multiple, comma separated.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "user",
                  "clinic",
                  "record",
                  "vet",
                  "patients.pet"
                ]
              }
            }
          },
          {
            "name": "slim_resource",
            "in": "query",
            "description": "Return a slim version for related record",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1api~1v1~1client-communications/post/responses/201/content/application~1json/schema/properties/data"
                      }
                    },
                    "links": {
                      "$ref": "#/paths/~1api~1v1~1pets/get/responses/200/content/application~1json/schema/properties/links"
                    },
                    "meta": {
                      "$ref": "#/paths/~1api~1v1~1pets/get/responses/200/content/application~1json/schema/properties/meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "post": {
        "tags": [
          "Client Communication"
        ],
        "summary": "Log a new Client Communication history",
        "description": "Manually register a new communication between a Clinic and a PetParent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "user_id": {
                    "description": "Id of the PetParent that the Clinic communicates to.",
                    "type": "integer"
                  },
                  "patient_ids": {
                    "description": "Id of the patients related to the communication.",
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "clinic_id": {
                    "description": "Id of the Clinic from where the communication is made from.",
                    "type": "integer"
                  },
                  "channel": {
                    "description": "The channel of the communication. Enum. One of phone, other, sms, email. API limited only to phone & other.",
                    "enum": [
                      "phone",
                      "other"
                    ],
                    "type": "string"
                  },
                  "subject": {
                    "description": "The subject of communication.",
                    "type": "string"
                  },
                  "content": {
                    "description": "The content of communication. (required for email)",
                    "type": "string"
                  },
                  "destination": {
                    "description": "Where the communication is sent to ( only for sms/email/phone ).",
                    "type": "string"
                  },
                  "communicated_at": {
                    "description": "The communicated_at when the communication was made.",
                    "type": "string"
                  },
                  "message_id": {
                    "description": "The id used for identifying attachments when channel is mail.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "title": "ClientCommunication",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "Phone"
                        },
                        "subject": {
                          "type": "string",
                          "example": "Subject"
                        },
                        "content": {
                          "type": "string",
                          "nullable": true,
                          "example": "Longer content related to the communication"
                        },
                        "communicated_at": {
                          "type": "string",
                          "example": "2022-07-21T14:18:33.258907Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "List all Files",
        "description": "Permissions needed: ACCESS_PATIENTS\nReturns list of all files associated with a pet or owner\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_pet_id"
          },
          {
            "name": "filter[owner_id]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[record_id]",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[has_record]",
            "in": "query",
            "explode": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/optional_filter_query"
          },
          {
            "$ref": "#/components/parameters/optional_filter_clinic_id"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional info to include(vet, record, record.visitTypes)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting(ex: 'real_name', 'updated_at')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/File"
                      }
                    },
                    "links": {
                      "$ref": "#/paths/~1api~1v1~1pets/get/responses/200/content/application~1json/schema/properties/links"
                    },
                    "meta": {
                      "$ref": "#/paths/~1api~1v1~1pets/get/responses/200/content/application~1json/schema/properties/meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Create a File",
        "description": "Permissions needed: ACCESS_PATIENTS\nUpload a new file and attach it to a pet\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "object",
                    "description": "send it as a stringified JSON",
                    "properties": {
                      "pet_id": {
                        "type": "integer",
                        "example": 1,
                        "required": true
                      },
                      "record_id": {
                        "type": "integer",
                        "example": 1,
                        "required": false
                      }
                    }
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/File"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/files/{id}": {
      "put": {
        "tags": [
          "Files"
        ],
        "summary": "Update a File",
        "description": "Permissions needed: ACCESS_PATIENTS\nUpdate an existing files name.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "My file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/File"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Delete a File",
        "description": "Permissions needed: ACCESS_PATIENTS\nCompletely delete a file from storage\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/files/{id}/preview": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Preview a File",
        "description": "Preview a file",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200",
            "content": {
              "text/html": {}
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/files/{id}/download": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Download a File",
        "description": "Download a file from storage",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200",
            "content": {
              "image/*": {},
              "application/pdf": {}
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List all Invoices",
        "description": "Permissions needed: VIEW_INVOICES_CASHING\nReturns list of Invoices\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_clinic_id"
          },
          {
            "$ref": "#/components/parameters/optional_filter_owner_id"
          },
          {
            "$ref": "#/components/parameters/optional_filter_pet_id"
          },
          {
            "name": "filter[sale_id]",
            "in": "query",
            "description": "Sale ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[updated_from]",
            "in": "query",
            "description": "Updated after the datetime (use iso8601 format - 2020-08-16T08:56:44.000000Z). Updated at and created at are returned in UTC in the response",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[updated_to]",
            "in": "query",
            "description": "Updated at less or equal than the datetime (use iso8601 format - 2020-08-16T08:56:44.000000Z). Updated at and created at are returned in UTC in the response",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order by field(s) (created_at,updated_at) Use a minus before for descending order -updated_at",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional info to include. You can use multiple, comma separated. Options: sale, sale.vet, sale.customer, sale.customer.legalEntity, sale.customer.country, sale.payments, sale.file, sale.treatments, sale.soldServices, sale.record",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Set to true to get the full invoice details (this significantly increases the response size and response time)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/Invoice"
                          },
                          {
                            "$ref": "#/components/schemas/InvoiceDetailed"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/paths/~1api~1v1~1pets/get/responses/200/content/application~1json/schema/properties/links"
                    },
                    "meta": {
                      "$ref": "#/paths/~1api~1v1~1pets/get/responses/200/content/application~1json/schema/properties/meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/invoices/{id}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve an Invoice",
        "description": "Permissions needed: VIEW_INVOICES_CASHING\nReturns a invoice with all its details\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional info to include. You can use multiple, comma separated. Options: sale, sale.customer, sale.customer.legalEntity, sale.customer.country, sale.payments",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/Invoice"
                          },
                          {
                            "$ref": "#/components/schemas/InvoiceDetailed"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/invoice/{id}/pdf/preview": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve Invoice HTML Preview",
        "description": "Permissions needed: VIEW_INVOICES_CASHING\nGet Invoice HTML Preview\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "text/html": {}
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/invoices/{id}/sendPdf": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Send Invoice PDF",
        "description": "Permissions needed: ACCESS_PATIENTS, SEND_PATIENT_DOCUMENTS\nSend Invoice Pdf to a pet parent and/or a list of emails.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "Id of the related PetParent",
            "style": "form",
            "explode": false,
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "emails[]",
            "in": "query",
            "description": "Emails to send the invoice to",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": "user@email.com"
            }
          },
          {
            "name": "include_payment_link",
            "in": "query",
            "description": "If present and value is true the invoice message will contain the payment link.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "description": "Validation errors. See the errors object ",
            "content": {
              "application/json": {
                "example": {
                  "message": "The given data was invalid.",
                  "errors": {
                    "client_id": [
                      "The selected client id is invalid."
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/integrations/labs/orders": {
      "get": {
        "tags": [
          "Labs"
        ],
        "summary": "Get all LabOrders",
        "description": "Returns a list of lab orders for a clinic and optioanally includes their results.\n\nPermissions required:\n- VIEW_CHECKUPS\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_clinic_id"
          },
          {
            "$ref": "#/components/parameters/filter_file_case_id"
          },
          {
            "$ref": "#/components/parameters/optional_filter_pet_id"
          },
          {
            "name": "include",
            "in": "query",
            "description": "A comma-separated list of additional data to include in the response.\n\n`result` - include result metadata\n\n`result.tests` - include discrete results\n\n`result.file` - include result file\n",
            "schema": {
              "type": "string",
              "enum": [
                "result",
                "result.tests",
                "result.file"
              ]
            },
            "example": "result,result.tests,result.file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LabOrder"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/patients/{pet}/file-case/{fileCase}/pdf": {
      "get": {
        "tags": [
          "Records",
          "Pets"
        ],
        "summary": "Export Record PDF",
        "description": "Permissions needed: ACCESS_PATIENTS, VIEW_CHECKUPS\nReceive a pdf file with the summary of a record\n",
        "parameters": [
          {
            "name": "pet",
            "in": "path",
            "description": "The id of the pet whose records are being requested",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fileCase",
            "in": "path",
            "description": "The id of the record whose pdf is being requested",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200-pdf"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/pet-archive-types": {
      "get": {
        "tags": [
          "Pets Archive"
        ],
        "summary": "List all ArchiveTypes",
        "description": "Permissions needed: NONE\nGet the list of Pets Archive Types\n",
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PetArchiveType"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/pet-parents": {
      "get": {
        "tags": [
          "Pet Parents"
        ],
        "summary": "List all PetParents",
        "description": "Permissions needed: NONE\nReturns a filtered & ordered list of all pet parents\n",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Additional relations to include",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "chatUser",
                  "clients"
                ]
              }
            }
          },
          {
            "name": "filter[has_app]",
            "in": "query",
            "description": "If the pet parent has the app downloaded or not",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[phone]",
            "in": "query",
            "description": "Partial phone filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[email]",
            "in": "query",
            "description": "Filter by email address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[belongs_to_clinic]",
            "in": "query",
            "description": "Filter only by the pet parent that are associated to specific clinics. Default to current active clinic if omitted",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [
                1
              ]
            }
          },
          {
            "name": "add_address_metadata",
            "in": "query",
            "description": "Set to 1 to get the full address details",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[updated_from]",
            "in": "query",
            "description": "Updated after the datetime (use iso8601 format - 2020-08-16T08:56:44.000000Z). Updated at and created at are returned in UTC in the response",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[updated_to]",
            "in": "query",
            "description": "Updated at less or equal than the datetime (use iso8601 format - 2020-08-16T08:56:44.000000Z). Updated at and created at are returned in UTC in the response",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[query]",
            "in": "query",
            "description": "Search by name, last name, email.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PetParent"
                      }
                    },
                    "links": {
                      "$ref": "#/paths/~1api~1v1~1pets/get/responses/200/content/application~1json/schema/properties/links"
                    },
                    "meta": {
                      "$ref": "#/paths/~1api~1v1~1pets/get/responses/200/content/application~1json/schema/properties/meta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "post": {
        "tags": [
          "Pet Parents"
        ],
        "summary": "Create a PetParent",
        "description": "Permissions needed: CREATE_PATIENTS\nCreate a new pet parent\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "last_name",
                  "terms_and_conditions"
                ],
                "properties": {
                  "clinic_id": {
                    "description": "Clinic id.",
                    "type": "integer",
                    "example": 1,
                    "nullable": false
                  },
                  "name": {
                    "type": "string",
                    "example": "John"
                  },
                  "last_name": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "example": "john@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "If omitted, a random password will be generated and sent to the user  on creation and the old one will be kept on update.",
                    "example": "password"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Phone number in E.164 format",
                    "example": "+16175551212",
                    "nullable": false
                  },
                  "secondary_phone": {
                    "type": "string",
                    "description": "Phone number in E.164 format",
                    "example": "+16175551212",
                    "nullable": true
                  },
                  "google_place_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "address": {
                    "type": "string",
                    "example": "Flowers St. 300, Palo Alto, 123456, USA",
                    "nullable": true
                  },
                  "address2": {
                    "type": "string",
                    "example": "Flowers St 123",
                    "nullable": true
                  },
                  "city": {
                    "type": "string",
                    "example": "Palo Alto",
                    "nullable": true
                  },
                  "birthdate": {
                    "type": "string",
                    "example": "1990-01-01",
                    "nullable": true
                  },
                  "zip_code": {
                    "type": "string",
                    "example": "123456",
                    "nullable": true
                  },
                  "street": {
                    "type": "string",
                    "example": "Flowers St.",
                    "nullable": true
                  },
                  "street_number": {
                    "type": "string",
                    "example": "123",
                    "nullable": true
                  },
                  "region": {
                    "type": "string",
                    "example": "California",
                    "nullable": true
                  },
                  "region_short_code": {
                    "type": "string",
                    "example": "CA",
                    "nullable": true
                  },
                  "country_id": {
                    "type": "string",
                    "example": "US",
                    "nullable": true
                  },
                  "latitude": {
                    "type": "string",
                    "example": "37.4419",
                    "nullable": true
                  },
                  "longitude": {
                    "type": "string",
                    "example": "122.1430",
                    "nullable": true
                  },
                  "cnp": {
                    "type": "string",
                    "example": "1234567890123",
                    "nullable": true
                  },
                  "terms_and_conditions": {
                    "type": "boolean",
                    "example": true
                  },
                  "observations": {
                    "type": "string",
                    "example": "happy",
                    "nullable": true
                  },
                  "tag_ids": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "integer"
                    }
                  },
                  "enable_chat_without_app": {
                    "type": "boolean",
                    "example": false,
                    "nullable": true
                  },
                  "referral_source_type": {
                    "type": "string",
                    "nullable": true,
                    "enum": [
                      "google_search",
                      "social_media",
                      "referral",
                      "walk_in",
                      "local_event",
                      "paid_ad",
                      "blog",
                      "signage",
                      "walk_by",
                      "online_reviews",
                      "vet_referral",
                      "other"
                    ]
                  },
                  "referral_source_details": {
                    "type": "string",
                    "nullable": true
                  },
                  "avatar": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PetParent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/pet-parents/{id}": {
      "get": {
        "tags": [
          "Pet Parents"
        ],
        "summary": "Retrieve a PetParent",
        "description": "Permissions needed: NONE\nReturns a pet parent record\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include Additional info (ex: 'discounts', 'preferences')",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PetParent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      },
      "patch": {
        "tags": [
          "Pet Parents"
        ],
        "summary": "Update a PetParent",
        "description": "Permissions needed: UPDATE_PATIENTS\nUpdate pet parent info\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/paths/~1api~1v1~1pet-parents/post/requestBody/content/application~1json/schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PetParent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/api/v1/pets": {
      "get": {
        "tags": [
          "Pets"
        ],
        "summary": "List all Pets",
        "description": "Permissions needed: ACCESS_PATIENTS\nReturns list of Pets\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_clinic_id"
          },
          {
            "$ref": "#/components/parameters/optional_filter_vet_id"
          },
          {
            "$ref": "#/components/parameters/optional_filter_owner_id"
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Pet ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[nickname]",
            "in": "query",
            "description": "Pet nickname",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updated_from]",
            "in": "query",
            "description": "Updated after the datetime (use iso8601 format - 2020-08-16T08:56:44.000000Z). Updated at and created at are returned in UTC in the response",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[updated_to]",
            "in": "query",
            "description": "Updated at less or equal than the datetime (use iso8601 format - 2020-08-16T08:56:44.000000Z). Updated at and created at are returned in UTC in the response",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[birthday_between]",
            "in": "query",
            "description": "Date range for pet birthday, format is 'YYYY-MM-DD,YYYY-MM-DD' (e.g. '2021-02-01,2021-02-29'). This will return pets born between the two dates.",
            "schema": {
              "type": "string",
              "example": "2021-02-01,2021-02-29"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional info to include. You can use multiple, comma separated. Options: species,breed,crossBreed,owners,clinics,vetPetRequests.clinic,patients",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order by field(s)(ex: 'nickname,created_at,name-archived-last -> order by nickname with archived pets at the end')",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pet"
                      }
                    },
                    "links": {
                      "type": "object",
                      "title": "PaginationLinks",
                      "properties": {
                        "first": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "last": {
                          "type": "string",
                          "nullable": true,
                          "example": "https://vet.digitail.io/api/v1/entities?page=10"
                        },
                        "prev": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "next": {
                          "type": "string",
                          "nullable": true,
                          "example": "https://vet.digitail.io/api/v1/entities?page=2"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "title": "PaginationMeta",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1
                        },
                        "from": {
                          "type": "integer",
                          "example": 1,
                          "nullable": true
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 10
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "nullable": true,
                                "example": "&laquo; Previous"
                              }
                            }
                          },
                          "example": [
                            {
                              "url": null,
                              "label": "&laquo; Previous",
                              "active": false
                            },
                            {
                              "url": "https://vet.digitail.io/api/v1/entities?page=1",
                              "label": "1",
                              "active": true
                            },
                            {
                              "url": "https://vet.digitail.io/api/v1/entities?page=2",
                              "label": "Next &raquo;",
                              "active": true
                            }
                          ]
                        },
                        "path": {
                          "type": "string",
                          "example": "https://vet.digitail.io/api/v1/entities"
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 15
                        },
                        "to": {
                          "type": "integer",
                          "example": 10,
                          "nullable": true
                        },
                        "total": {
                          "type": "integer",
                          "example": 145
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
[...]
