{
  "openapi": "3.0.3",
  "info": {
    "title": "AIRe Link API",
    "description": "AIRe Link API Documentation. Provides endpoints for managing accounts, calls, clients, contacts, devices, exports, file-libraries, guides, importers, licenses, sessions, messages, QR codes, regions, roles, teams, topics, users, webhooks, workers, and workgroups.",
    "version": "1.0.0",
    "contact": {
      "name": "AIRe Link"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingbyrnemc-sudo/openapis-specs/refs/heads/import/aire.link/aire-link-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.aire.link",
      "description": "Production server"
    }
  ],
  "paths": {
    "/healthcheck": {
      "get": {
        "summary": "Health check",
        "operationId": "healthCheck",
        "tags": [
          "System"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy"
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "summary": "List accounts",
        "operationId": "listAccounts",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/sortDir"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/filterCriteria"
          },
          {
            "$ref": "#/components/parameters/filterValue"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      },
      "post": {
        "summary": "Create account",
        "operationId": "createAccount",
        "tags": [
          "Accounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "summary": "Get account by ID",
        "operationId": "getAccount",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/entityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      },
      "put": {
        "summary": "Update account",
        "operationId": "updateAccount",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/entityId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated"
          },
          "401": {
            "description": "Please login"
          }
        }
      },
      "delete": {
        "summary": "Delete account",
        "operationId": "deleteAccount",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/entityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    },
    "/calls": {
      "get": {
        "summary": "List calls",
        "operationId": "listCalls",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/sortDir"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      },
      "post": {
        "summary": "Create call",
        "operationId": "createCall",
        "tags": [
          "Calls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Call created"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    },
    "/clients": {
      "get": {
        "summary": "List clients",
        "operationId": "listClients",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/sortDir"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      },
      "post": {
        "summary": "Create client",
        "operationId": "createClient",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "summary": "List contacts",
        "operationId": "listContacts",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/sortDir"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      },
      "post": {
        "summary": "Create contact",
        "operationId": "createContact",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    },
    "/devices": {
      "get": {
        "summary": "List devices",
        "operationId": "listDevices",
        "tags": [
          "Devices"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/sortDir"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    },
    "/messages": {
      "get": {
        "summary": "List messages",
        "operationId": "listMessages",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/sortDir"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      },
      "post": {
        "summary": "Create message",
        "operationId": "createMessage",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message created"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    },
    "/qr-codes": {
      "get": {
        "summary": "List QR codes",
        "operationId": "listQrCodes",
        "tags": [
          "QR Codes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      },
      "post": {
        "summary": "Create QR code",
        "operationId": "createQrCode",
        "tags": [
          "QR Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "QR code created"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    },
    "/users": {
      "get": {
        "summary": "List users",
        "operationId": "listUsers",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/sortDir"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhooks",
        "operationId": "listWebhooks",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      },
      "post": {
        "summary": "Create webhook",
        "operationId": "createWebhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    },
    "/teams": {
      "get": {
        "summary": "List teams",
        "operationId": "listTeams",
        "tags": [
          "Teams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    },
    "/workers": {
      "get": {
        "summary": "List workers",
        "operationId": "listWorkers",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    },
    "/exports": {
      "get": {
        "summary": "List exports",
        "operationId": "listExports",
        "tags": [
          "Exports"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "401": {
            "description": "Please login"
          }
        }
      },
      "post": {
        "summary": "Create export",
        "operationId": "createExport",
        "tags": [
          "Exports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Export created"
          },
          "401": {
            "description": "Please login"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 0
        },
        "description": "Page number"
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 100
        },
        "description": "Number of items per page"
      },
      "sort": {
        "name": "sort",
        "in": "query",
        "schema": {
          "type": "string",
          "default": "_id"
        },
        "description": "Field to sort by"
      },
      "sortDir": {
        "name": "sortDir",
        "in": "query",
        "schema": {
          "type": "string",
          "default": "asc",
          "enum": [
            "asc",
            "desc"
          ]
        },
        "description": "Sort direction"
      },
      "filter": {
        "name": "filter",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Filter field"
      },
      "filterCriteria": {
        "name": "filterCriteria",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Filter criteria"
      },
      "filterValue": {
        "name": "filterValue",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Filter value"
      },
      "entityId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Entity ID"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}