{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "InsiderCX AML API",
    "title": "InsiderCX AML API",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ACCOUNTS_20/AML/1.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://apis.insidercx.com/api"
    }
  ],
  "paths": {
    "/data/AML": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/where"
          },
          {
            "$ref": "#/components/parameters/loadRelations"
          },
          {
            "$ref": "#/components/parameters/relationsDepth"
          },
          {
            "$ref": "#/components/parameters/loadAMLProperties"
          },
          {
            "$ref": "#/components/parameters/sortAMLProperties"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/StoredAML"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of AML objects"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "AML"
        ],
        "description": "Load AML objects",
        "operationId": "get-data-aml",
        "summary": "Load AML objects"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoredAML"
                }
              }
            },
            "description": "A AML object"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "AML"
        ],
        "description": "Create AML object",
        "operationId": "post-data-aml",
        "requestBody": {
          "$ref": "#/components/requestBodies/NewAML"
        },
        "summary": "Create AML object"
      }
    },
    "/data/AML/{objectId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/objectId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "AML"
        ],
        "description": "Delete AML Object",
        "operationId": "delete-data-aml-by-objectid",
        "summary": "Delete AML Object"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/objectId"
          },
          {
            "$ref": "#/components/parameters/loadRelations"
          },
          {
            "$ref": "#/components/parameters/relationsDepth"
          },
          {
            "$ref": "#/components/parameters/loadAMLProperties"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoredAML"
                }
              }
            },
            "description": "A AML object"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "AML"
        ],
        "description": "Find AML object by ID",
        "operationId": "get-data-aml-by-objectid",
        "summary": "Find AML object by ID"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/objectId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoredAML"
                }
              }
            },
            "description": "Updated AML object"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "AML"
        ],
        "description": "Update AML object",
        "operationId": "put-data-aml-by-objectid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAML"
              }
            }
          },
          "required": true
        },
        "summary": "Update AML object"
      }
    },
    "/data/bulk/AML": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/StoredAML"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of created AML objects"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "AML"
        ],
        "description": "Bulk Create AML objects",
        "operationId": "post-data-bulk-aml",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/NewAML"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "summary": "Bulk Create AML objects"
      }
    },
    "/users/login": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "accountType": {
                      "type": "string"
                    },
                    "blUserLocale": {
                      "type": "string"
                    },
                    "created": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "lastLogin": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "oAuthIdentities": {
                      "type": "string"
                    },
                    "objectId": {
                      "type": "string"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "socialAccount": {
                      "type": "string"
                    },
                    "updated": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "user-token": {
                      "type": "string"
                    },
                    "userStatus": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "UserService"
        ],
        "description": "User Login",
        "operationId": "post-users-login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "login": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "User Login"
      }
    }
  },
  "components": {
    "parameters": {
      "loadAMLProperties": {
        "description": "Object Properties",
        "in": "query",
        "name": "props",
        "required": false,
        "schema": {
          "items": {
            "enum": [
              "Appointment_date",
              "DOB",
              "Email",
              "Gender",
              "updated",
              "Mobile_phone_number",
              "Modality",
              "Patient_forename",
              "created",
              "Patient_id",
              "Patient_surname",
              "Payor_type",
              "Scanning_location",
              "ownerId",
              "objectId"
            ],
            "type": "string"
          },
          "type": "array",
          "uniqueItems": true
        }
      },
      "loadRelations": {
        "description": "Load Relations",
        "in": "query",
        "name": "loadRelations",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "objectId": {
        "description": "Object Id",
        "in": "path",
        "name": "objectId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "offset": {
        "description": "Page Offset",
        "in": "query",
        "name": "offset",
        "required": false,
        "schema": {
          "minimum": 0,
          "type": "integer"
        }
      },
      "pageSize": {
        "description": "Page Size",
        "in": "query",
        "name": "pageSize",
        "required": false,
        "schema": {
          "minimum": 1,
          "type": "integer"
        }
      },
      "relationName": {
        "description": "Relation name",
        "in": "path",
        "name": "relationName",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "relationsDepth": {
        "description": "Relations Depth",
        "in": "query",
        "name": "relationsDepth",
        "required": false,
        "schema": {
          "type": "integer"
        }
      },
      "sortAMLProperties": {
        "description": "Sorting Properties",
        "in": "query",
        "name": "sortBy",
        "required": false,
        "schema": {
          "items": {
            "enum": [
              "Appointment_date asc",
              "Appointment_date desc",
              "DOB asc",
              "DOB desc",
              "Email asc",
              "Email desc",
              "Gender asc",
              "Gender desc",
              "updated asc",
              "updated desc",
              "Mobile_phone_number asc",
              "Mobile_phone_number desc",
              "Modality asc",
              "Modality desc",
              "Patient_forename asc",
              "Patient_forename desc",
              "created asc",
              "created desc",
              "Patient_id asc",
              "Patient_id desc",
              "Patient_surname asc",
              "Patient_surname desc",
              "Payor_type asc",
              "Payor_type desc",
              "Scanning_location asc",
              "Scanning_location desc",
              "ownerId asc",
              "ownerId desc",
              "objectId asc",
              "objectId desc"
            ],
            "type": "string"
          },
          "type": "array",
          "uniqueItems": true
        }
      },
      "tableName": {
        "description": "Table name",
        "in": "path",
        "name": "tableName",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "where": {
        "description": "Where Clause",
        "in": "query",
        "name": "where",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "NewAML": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NewAML"
            }
          }
        },
        "required": true
      }
    },
    "schemas": {
      "InsiderCXAPIError": {
        "description": "InsiderCXAPI Error",
        "properties": {
          "code": {
            "type": "number"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "NewAML": {
        "description": "This is a schema of non stored AML object",
        "properties": {
          "Appointment_date": {
            "type": "string"
          },
          "DOB": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Gender": {
            "type": "string"
          },
          "Mobile_phone_number": {
            "type": "string"
          },
          "Modality": {
            "type": "string"
          },
          "Patient_forename": {
            "type": "string"
          },
          "Patient_id": {
            "type": "string"
          },
          "Patient_surname": {
            "type": "string"
          },
          "Payor_type": {
            "type": "string"
          },
          "Scanning_location": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "StoredAML": {
        "description": "This is a schema of stored AML object",
        "properties": {
          "Appointment_date": {
            "type": "string"
          },
          "DOB": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Gender": {
            "type": "string"
          },
          "Mobile_phone_number": {
            "type": "string"
          },
          "Modality": {
            "type": "string"
          },
          "Patient_forename": {
            "type": "string"
          },
          "Patient_id": {
            "type": "string"
          },
          "Patient_surname": {
            "type": "string"
          },
          "Payor_type": {
            "type": "string"
          },
          "Scanning_location": {
            "type": "string"
          },
          "created": {
            "format": "date-time",
            "type": "string"
          },
          "objectId": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "updated": {
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "userTokenHeader": {
        "in": "header",
        "name": "user-token",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "userTokenHeader": []
    }
  ],
  "tags": [
    {
      "name": "AML"
    },
    {
      "name": "UserService"
    }
  ]
}