{
  "openapi": "3.0.3",
  "info": {
    "title": "AQICN Air Quality Index API",
    "description": "Air Quality Index data for over 1000 cities worldwide. Provides real-time AQI data, individual pollutant readings (PM2.5, PM10, NO2, CO, SO2, Ozone), weather conditions, and air quality forecasts. Also known as the WAQI (World Air Quality Index) API.",
    "version": "2.0.0",
    "contact": {
      "name": "AQICN",
      "url": "https://aqicn.org"
    },
    "x-jentic-source-url": "https://aqicn.org/api/"
  },
  "servers": [
    {
      "url": "https://api.waqi.info",
      "description": "WAQI API Production Server"
    }
  ],
  "security": [
    {
      "tokenQuery": []
    }
  ],
  "tags": [
    {
      "name": "City Feed",
      "description": "Air quality data by city or station name"
    },
    {
      "name": "Geo Feed",
      "description": "Air quality data by geographic coordinates"
    },
    {
      "name": "Search",
      "description": "Search for air quality monitoring stations"
    },
    {
      "name": "Map",
      "description": "Map-based station queries within bounds"
    }
  ],
  "paths": {
    "/feed/{city}": {
      "get": {
        "operationId": "getCityFeed",
        "summary": "Get AQI data for a city",
        "description": "Returns real-time air quality index data for a specific city or station. Use city name (e.g., 'shanghai'), station ID (e.g., '@7397'), or URL-style path (e.g., 'beijing/us-embassy').",
        "tags": [
          "City Feed"
        ],
        "parameters": [
          {
            "name": "city",
            "in": "path",
            "required": true,
            "description": "City name, station ID (prefixed with @), or URL-style station path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with AQI data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AQIFeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid city or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/feed/here": {
      "get": {
        "operationId": "getHereFeed",
        "summary": "Get AQI data for current IP location",
        "description": "Returns real-time air quality index data for the nearest station based on the requester's IP address geolocation.",
        "tags": [
          "City Feed"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with AQI data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AQIFeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/feed/geo:{lat};{lng}": {
      "get": {
        "operationId": "getGeoFeed",
        "summary": "Get AQI data by coordinates",
        "description": "Returns real-time air quality data for the nearest monitoring station to the specified latitude and longitude.",
        "tags": [
          "Geo Feed"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "required": true,
            "description": "Latitude",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lng",
            "in": "path",
            "required": true,
            "description": "Longitude",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with AQI data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AQIFeedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "operationId": "searchStations",
        "summary": "Search for AQI stations",
        "description": "Search for air quality monitoring stations by keyword. Returns matching stations with their current AQI values.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "description": "Search keyword (city name, station name)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/map/bounds": {
      "get": {
        "operationId": "getStationsInBounds",
        "summary": "Get stations within map bounds",
        "description": "Returns all air quality monitoring stations within the specified map bounding box.",
        "tags": [
          "Map"
        ],
        "parameters": [
          {
            "name": "latlng",
            "in": "query",
            "required": true,
            "description": "Bounding box coordinates as lat1,lng1,lat2,lng2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with stations in bounds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapBoundsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API token obtained from the AQICN data platform"
      }
    },
    "schemas": {
      "AQIFeedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Response status ('ok' or 'error')",
            "enum": [
              "ok",
              "error"
            ]
          },
          "data": {
            "$ref": "#/components/schemas/AQIData"
          }
        }
      },
      "AQIData": {
        "type": "object",
        "properties": {
          "aqi": {
            "type": "integer",
            "description": "Overall Air Quality Index value"
          },
          "idx": {
            "type": "integer",
            "description": "Station unique ID"
          },
          "attributions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attribution"
            }
          },
          "city": {
            "$ref": "#/components/schemas/City"
          },
          "dominentpol": {
            "type": "string",
            "description": "Dominant pollutant (e.g., 'pm25', 'pm10', 'o3')"
          },
          "iaqi": {
            "$ref": "#/components/schemas/IndividualAQI"
          },
          "time": {
            "$ref": "#/components/schemas/TimeInfo"
          },
          "forecast": {
            "$ref": "#/components/schemas/Forecast"
          }
        }
      },
      "Attribution": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "EPA/Source attribution URL"
          },
          "name": {
            "type": "string",
            "description": "Attribution name"
          },
          "logo": {
            "type": "string",
            "description": "Attribution logo URL"
          }
        }
      },
      "City": {
        "type": "object",
        "properties": {
          "geo": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "Station coordinates [latitude, longitude]"
          },
          "name": {
            "type": "string",
            "description": "City/station name"
          },
          "url": {
            "type": "string",
            "description": "Station info URL"
          }
        }
      },
      "IndividualAQI": {
        "type": "object",
        "description": "Individual AQI values for each pollutant",
        "properties": {
          "pm25": {
            "$ref": "#/components/schemas/PollutantValue"
          },
          "pm10": {
            "$ref": "#/components/schemas/PollutantValue"
          },
          "o3": {
            "$ref": "#/components/schemas/PollutantValue"
          },
          "no2": {
            "$ref": "#/components/schemas/PollutantValue"
          },
          "so2": {
            "$ref": "#/components/schemas/PollutantValue"
          },
          "co": {
            "$ref": "#/components/schemas/PollutantValue"
          },
          "t": {
            "$ref": "#/components/schemas/PollutantValue"
          },
          "w": {
            "$ref": "#/components/schemas/PollutantValue"
          },
          "h": {
            "$ref": "#/components/schemas/PollutantValue"
          },
          "p": {
            "$ref": "#/components/schemas/PollutantValue"
          }
        }
      },
      "PollutantValue": {
        "type": "object",
        "properties": {
          "v": {
            "type": "number",
            "description": "Pollutant AQI value"
          }
        }
      },
      "TimeInfo": {
        "type": "object",
        "properties": {
          "s": {
            "type": "string",
            "description": "Local time string"
          },
          "tz": {
            "type": "string",
            "description": "Timezone offset"
          },
          "v": {
            "type": "integer",
            "description": "Unix timestamp"
          }
        }
      },
      "Forecast": {
        "type": "object",
        "description": "Air quality forecast data",
        "properties": {
          "daily": {
            "type": "object",
            "properties": {
              "pm25": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ForecastDay"
                }
              },
              "pm10": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ForecastDay"
                }
              },
              "o3": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ForecastDay"
                }
              },
              "uvi": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ForecastDay"
                }
              }
            }
          }
        }
      },
      "ForecastDay": {
        "type": "object",
        "properties": {
          "avg": {
            "type": "integer",
            "description": "Average AQI value"
          },
          "day": {
            "type": "string",
            "description": "Forecast date (YYYY-MM-DD)"
          },
          "max": {
            "type": "integer",
            "description": "Maximum AQI value"
          },
          "min": {
            "type": "integer",
            "description": "Minimum AQI value"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "integer",
            "description": "Station unique ID"
          },
          "aqi": {
            "type": "string",
            "description": "Current AQI value"
          },
          "time": {
            "$ref": "#/components/schemas/TimeInfo"
          },
          "station": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Station name"
              },
              "geo": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "url": {
                "type": "string"
              }
            }
          }
        }
      },
      "MapBoundsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapStation"
            }
          }
        }
      },
      "MapStation": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "description": "Station latitude"
          },
          "lon": {
            "type": "number",
            "description": "Station longitude"
          },
          "uid": {
            "type": "integer",
            "description": "Station unique ID"
          },
          "aqi": {
            "type": "string",
            "description": "Current AQI value"
          },
          "station": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "time": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "data": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
