{
  "openapi": "3.0.3",
  "info": {
    "title": "RocketSkip API",
    "description": "RocketSkip is a data automation tool for real estate. API for skip tracing properties to find owner contact information.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.rocketskip.com/api-reference/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.rocketskip.com/api/v1/"
    }
  ],
  "paths": {
    "/property/skiptrace": {
      "get": {
        "description": "Returns all skip trace results the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PropertyResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "listSkipTraceResults",
        "tags": [
          "Skip Trace"
        ]
      },
      "post": {
        "description": "Send a property to get phone numbers for the property owner",
        "requestBody": {
          "description": "Property to skip trace",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Property"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Results found for skip tracing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "skipTraceProperty",
        "tags": [
          "Skip Trace"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Property": {
        "required": [
          "street_address",
          "city",
          "state",
          "zip_code"
        ],
        "type": "object",
        "properties": {
          "first_name": {
            "description": "First name of the property owner",
            "type": "string"
          },
          "last_name": {
            "description": "Last name of the property owner",
            "type": "string"
          },
          "street_address": {
            "description": "Street address of the property",
            "type": "string"
          },
          "city": {
            "description": "City of the property",
            "type": "string"
          },
          "state": {
            "description": "State of the property",
            "type": "string"
          },
          "zip_code": {
            "description": "Zip code of the property",
            "type": "string"
          }
        }
      },
      "PropertyResponse": {
        "allOf": [
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "error": {
                "description": "If skip tracing was unsuccessful, this will say the reason",
                "type": "string"
              },
              "results": {
                "description": "Results returned",
                "type": "array"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}