{
  "openapi": "3.0.3",
  "info": {
    "title": "BulkGate SMS API",
    "description": "BulkGate Transactional SMS API allows you to send transactional SMS messages to recipients worldwide. The API supports Unicode messages, scheduled delivery, duplicate checking, custom sender IDs, and template variables.",
    "version": "1.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://portal.bulkgate.com/api/1.0"
    }
  ],
  "paths": {
    "/advanced/transactional": {
      "post": {
        "summary": "Send Transactional SMS",
        "description": "Sends a transactional SMS message to a specified recipient with optional features like scheduling, custom sender ID, and duplicate checking.",
        "operationId": "sendTransactionalSMS",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionalSMSRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SMS accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalSMSResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "advanced"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "TransactionalSMSRequest": {
        "type": "object",
        "required": [
          "application_id",
          "application_token",
          "text"
        ],
        "properties": {
          "application_id": {
            "type": "string",
            "description": "Application ID provided by BulkGate"
          },
          "application_token": {
            "type": "string",
            "description": "Application token for authentication"
          },
          "number": {
            "type": "string",
            "description": "Recipient phone number in international format (e.g., 447820125799). Required if 'admin' is not provided."
          },
          "admin": {
            "type": "string",
            "description": "BulkGate admin number as recipient. Alternative to 'number' parameter."
          },
          "text": {
            "type": "string",
            "description": "SMS message content. Maximum 612 characters (268 with Unicode). UTF-8 encoded.",
            "maxLength": 612
          },
          "variables": {
            "type": "object",
            "description": "Dynamic template variables for message personalization",
            "additionalProperties": {
              "type": "string"
            }
          },
          "unicode": {
            "type": "boolean",
            "description": "Enable Unicode SMS support for non-ASCII characters",
            "default": false
          },
          "sender_id": {
            "type": "string",
            "description": "Type of sender ID to use",
            "enum": [
              "gSystem",
              "gShort",
              "gText",
              "gMobile",
              "gPush",
              "gOwn",
              "gProfile"
            ]
          },
          "sender_id_value": {
            "type": "string",
            "description": "Value for the sender ID. Required when sender_id is specified."
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code for number formatting (e.g., 'GB', 'US')",
            "pattern": "^[A-Z]{2}$"
          },
          "schedule": {
            "type": "string",
            "description": "Schedule message delivery. Unix timestamp or ISO 8601 format."
          },
          "duplicates_check": {
            "type": "string",
            "description": "Prevent duplicate messages within 5 minutes",
            "enum": [
              "on",
              "off"
            ]
          },
          "tag": {
            "type": "string",
            "description": "Message label for tracking and organization"
          }
        }
      },
      "TransactionalSMSResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status of the SMS submission",
                "example": "accepted"
              },
              "sms_id": {
                "type": "string",
                "description": "Unique identifier for the SMS message",
                "example": "tmpde1bcd4b1d1"
              },
              "part_id": {
                "type": "array",
                "description": "Array of message part IDs (for multi-part messages)",
                "items": {
                  "type": "string"
                },
                "example": [
                  "tmpde1bcd4b1d1_1"
                ]
              },
              "number": {
                "type": "string",
                "description": "Recipient phone number",
                "example": "447820125799"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Error type identifier",
            "example": "invalid_phone_number"
          },
          "code": {
            "type": "integer",
            "description": "HTTP error code",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "Human-readable error description"
          },
          "detail": {
            "type": "string",
            "nullable": true,
            "description": "Additional error details"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "advanced"
    }
  ]
}
