{
  "openapi": "3.0.3",
  "info": {
    "title": "Audienceful API",
    "description": "Audienceful REST API for managing people (contacts) and custom fields in your email marketing audience.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.audienceful.com/help"
  },
  "servers": [
    {
      "url": "https://app.audienceful.com/api",
      "description": "Audienceful API"
    }
  ],
  "paths": {
    "/people/": {
      "get": {
        "operationId": "listpeople",
        "summary": "List people",
        "description": "Retrieves a paginated list of people in your audience.",
        "tags": [
          "People"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search for people matching the passed string (e.g. email address)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by person status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "unconfirmed",
                "bounced",
                "unsubscribed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of people",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        }
      },
      "post": {
        "operationId": "createperson",
        "summary": "Create a person",
        "description": "Creates a new person in your audience.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        }
      },
      "patch": {
        "operationId": "updateperson",
        "summary": "Update a person",
        "description": "Updates an existing person's data identified by email.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePersonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        }
      },
      "delete": {
        "operationId": "deleteperson",
        "summary": "Delete a person",
        "description": "Deletes a person from your audience identified by email.",
        "tags": [
          "People"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The email of the person to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person deleted - returns the deleted person object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        }
      }
    },
    "/people/fields/": {
      "get": {
        "operationId": "listfields",
        "summary": "List custom fields",
        "description": "Retrieves the list of your custom fields.",
        "tags": [
          "Fields"
        ],
        "responses": {
          "200": {
            "description": "List of custom fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Field"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        }
      },
      "post": {
        "operationId": "createfield",
        "summary": "Create a custom field",
        "description": "Creates a new custom field for people.",
        "tags": [
          "Fields"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFieldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Field created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "PeopleListResponse": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "nullable": true,
            "description": "URL for next page of results"
          },
          "previous": {
            "type": "string",
            "nullable": true,
            "description": "URL for previous page"
          },
          "count": {
            "type": "integer",
            "description": "Results matching current filters"
          },
          "total": {
            "type": "integer",
            "description": "Total people in full list"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          }
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "extra_data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom field values"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_activity": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "unconfirmed",
              "bounced",
              "unsubscribed"
            ]
          }
        }
      },
      "CreatePersonRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "description": "Person's email address"
          },
          "tags": {
            "type": "string",
            "description": "Comma-separated list of tags; new tags are auto-created"
          },
          "notes": {
            "type": "string",
            "description": "Associated notes (HTML or plain text)"
          },
          "extra_data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom fields as key-value pairs"
          },
          "double_opt_in": {
            "type": "string",
            "enum": [
              "not_required",
              "required",
              "complete"
            ],
            "default": "not_required",
            "description": "Controls confirmation email requirement"
          },
          "trigger_automations": {
            "type": "boolean",
            "default": false,
            "description": "Whether matching automations trigger upon addition"
          }
        }
      },
      "UpdatePersonRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "description": "Person's email address (used to identify the person)"
          },
          "tags": {
            "type": "string",
            "description": "Comma-separated list of tags"
          },
          "notes": {
            "type": "string",
            "description": "Associated notes (HTML or plain text)"
          },
          "extra_data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Custom fields as key-value pairs"
          }
        }
      },
      "Field": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Human readable field name"
          },
          "data_name": {
            "type": "string",
            "description": "Internal field reference for API requests"
          },
          "type": {
            "type": "string",
            "enum": [
              "string",
              "boolean",
              "tag",
              "number"
            ]
          },
          "editable": {
            "type": "boolean"
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "CreateFieldRequest": {
        "type": "object",
        "required": [
          "name",
          "data_name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "A human readable field name"
          },
          "data_name": {
            "type": "string",
            "description": "The name of the field to be used in future API requests"
          },
          "type": {
            "type": "string",
            "enum": [
              "string",
              "boolean",
              "tag",
              "number"
            ],
            "description": "Field data type"
          },
          "editable": {
            "type": "boolean",
            "default": true
          },
          "required": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Fields",
      "description": "Operations related to Fields"
    },
    {
      "name": "People",
      "description": "Operations related to People"
    }
  ]
}