{
  "openapi": "3.0.3",
  "info": {
    "title": "DonorSync API",
    "version": "1.0.0",
    "description": "Donation management API for creating donations and verifying API credentials.",
    "x-jentic-source-url": "https://donorsync.io/api-docs/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://donorsync.io/api"
    }
  ],
  "paths": {
    "/me": {
      "post": {
        "operationId": "testConnection",
        "summary": "Test API connection",
        "description": "Verify that API credentials are valid.",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/donation/create": {
      "post": {
        "operationId": "createDonation",
        "summary": "Create a donation",
        "description": "Create a new donation record.",
        "tags": [
          "Donations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDonationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DonationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "CreateDonationRequest": {
        "type": "object",
        "properties": {
          "donor_email": {
            "type": "string",
            "format": "email"
          },
          "gift_aid": {
            "type": "boolean"
          },
          "amount": {
            "type": "number"
          },
          "donation_type": {
            "type": "string"
          },
          "donor_first_name": {
            "type": "string"
          },
          "donor_last_name": {
            "type": "string"
          },
          "donor_phone": {
            "type": "string"
          },
          "donor_address": {
            "type": "string"
          },
          "donor_city": {
            "type": "string"
          },
          "donor_postcode": {
            "type": "string"
          },
          "donor_ip": {
            "type": "string"
          },
          "payment_method": {
            "type": "string"
          },
          "payment_confirmation_number": {
            "type": "string"
          },
          "donation_date": {
            "type": "string",
            "format": "date"
          },
          "zakat_donation": {
            "type": "boolean"
          }
        },
        "required": [
          "donor_email",
          "gift_aid",
          "amount",
          "donation_type"
        ]
      },
      "DonationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Donations"
    }
  ]
}
