{
  "openapi": "3.0.0",
  "info": {
    "title": "Bank API",
    "description": "API документация для продуктов микрозайма.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Apex_Artem2/api_microloan/1.0.0/swagger.json",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://rest.aic.uz"
    }
  ],
  "paths": {
    "/contract_loan": {
      "post": {
        "summary": "Создание договора страхования",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "tr_id",
                  "benifitzar",
                  "credit_contract"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "Идентификатор пользователя (Сообщается со стороны страховщика)"
                  },
                  "tr_id": {
                    "type": "integer",
                    "description": "Идентификатор транзакции (уникальное значение со стороны отправителя для каждого заемщика со стороны отправителя для каждого заемщика)"
                  },
                  "benifitzar": {
                    "type": "object",
                    "required": [
                      "tin",
                      "phone",
                      "name",
                      "representativeName",
                      "representativeDoc",
                      "representativeDocNumber",
                      "representativePinfl",
                      "representativePassportSeria",
                      "representativePassportNumber",
                      "regionid",
                      "districtid",
                      "address",
                      "checkingAccount",
                      "bankMfo",
                      "oked"
                    ],
                    "properties": {
                      "tin": {
                        "type": "string",
                        "description": "ИНН бенефициара"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Телефон бенефициара (в формате '998XXXXXXXXX')"
                      },
                      "name": {
                        "type": "string",
                        "description": "Название филиала бенефициара (какое наименование передатите такой будет в полисе)"
                      },
                      "representativeName": {
                        "type": "string",
                        "description": "ФИО представителя организации"
                      },
                      "representativeDoc": {
                        "type": "string",
                        "description": "Наименование документа представителя"
                      },
                      "representativeDocNumber": {
                        "type": "string",
                        "description": "Номер документа представителя"
                      },
                      "representativePinfl": {
                        "type": "string",
                        "description": "ПИНФЛ представителя"
                      },
                      "representativePassportSeria": {
                        "type": "string",
                        "description": "Серия паспорта представителя"
                      },
                      "representativePassportNumber": {
                        "type": "string",
                        "description": "Номер паспорта представителя"
                      },
                      "regionid": {
                        "type": "integer",
                        "description": "Идентификатор региона (Справочник /regionid)"
                      },
                      "districtid": {
                        "type": "integer",
                        "description": "Идентификатор района (Справочник /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "Адрес бенефициара (Улица, дом, квартира)"
                      },
                      "checkingAccount": {
                        "type": "string",
                        "description": "Расчетный счет бенефициара"
                      },
                      "bankMfo": {
                        "type": "string",
                        "description": "МФО банка бенефициара"
                      },
                      "oked": {
                        "type": "string",
                        "description": "ОКЭД бенефициара"
                      }
                    }
                  },
                  "borrower": {
                    "description": "Данные залогодателя (физическое лицо). Допускается отправлять либо один объект borrower, либо один объект borrower_yur",
                    "type": "object",
                    "required": [
                      "pinfl",
                      "name",
                      "sname",
                      "patronim",
                      "passport_ser",
                      "passport_num",
                      "birthdate",
                      "phone",
                      "regionid",
                      "districtid",
                      "address",
                      "gender"
                    ],
                    "properties": {
                      "pinfl": {
                        "type": "string",
                        "description": "ПИНФЛ заемщика"
                      },
                      "name": {
                        "type": "string",
                        "description": "Имя заемщика"
                      },
                      "sname": {
                        "type": "string",
                        "description": "Фамилия заемщика"
                      },
                      "patronim": {
                        "type": "string",
                        "description": "Отчество заемщика"
                      },
                      "passport_ser": {
                        "type": "string",
                        "description": "Серия паспорта заемщика"
                      },
                      "passport_num": {
                        "type": "string",
                        "description": "Номер паспорта заемщика"
                      },
                      "birthdate": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Дата рождения заемщика (в формате 'dd.mm.yyyy')"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Телефон заемщика (в формате '998XXXXXXXXX')"
                      },
                      "regionid": {
                        "type": "integer",
                        "description": "Идентификатор региона (Справочник /regionid)"
                      },
                      "districtid": {
                        "type": "integer",
                        "description": "Идентификатор района (Справочник /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "Адрес заемщика (Улица, дом, квартира)"
                      },
                      "gender": {
                        "type": "integer",
                        "description": "Пол заемщика (1 - мужской, 0 - женский)"
                      }
                    }
                  },
                  "borrower_yur": {
                    "description": "Данные залогодателя (юридическое лицо). Допускается отправлять либо один объект borrower_yur, либо один объект borrower",
                    "type": "object",
                    "required": [
                      "tin",
                      "phone",
                      "name",
                      "representativeName",
                      "representativeDoc",
                      "representativeDocNumber",
                      "representativePinfl",
                      "representativePassportSeria",
                      "representativePassportNumber",
                      "regionid",
                      "districtid",
                      "address",
                      "checkingAccount",
                      "bankMfo",
                      "oked"
                    ],
                    "properties": {
                      "tin": {
                        "type": "string",
                        "description": "ИНН залогодателя"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Телефон залогодателя (в формате '998XXXXXXXXX')"
                      },
                      "name": {
                        "type": "string",
                        "description": "Наименование организации залогодателя"
                      },
                      "representativeName": {
                        "type": "string",
                        "description": "ФИО представителя организации залогодателя"
                      },
                      "representativeDoc": {
                        "type": "string",
                        "description": "Наименование документа представителя залогодателя"
                      },
                      "representativeDocNumber": {
                        "type": "string",
                        "description": "Номер документа представителя залогодателя"
                      },
                      "representativePinfl": {
                        "type": "string",
                        "description": "ПИНФЛ представителя залогодателя"
                      },
                      "representativePassportSeria": {
                        "type": "string",
                        "description": "Серия паспорта представителя залогодателя"
                      },
                      "representativePassportNumber": {
                        "type": "string",
                        "description": "Номер паспорта представителя залогодателя"
                      },
                      "regionid": {
                        "type": "integer",
                        "description": "Идентификатор региона (Справочник /regionid)"
                      },
                      "districtid": {
                        "type": "integer",
                        "description": "Идентификатор района (Справочник /districtid)"
                      },
                      "address": {
                        "type": "string",
                        "description": "Адрес залогодателя (Улица, дом, квартира)"
                      },
                      "checkingAccount": {
                        "type": "string",
                        "description": "Расчетный счет залогодателя"
                      },
                      "bankMfo": {
                        "type": "string",
                        "description": "МФО банка залогодателя"
                      },
                      "oked": {
                        "type": "string",
                        "description": "ОКЭД залогодателя"
                      }
                    }
                  },
                  "credit_contract": {
                    "type": "object",
                    "required": [
                      "reg_number",
                      "start_date",
                      "end_date",
                      "credit_amount"
                    ],
                    "properties": {
                      "reg_number": {
                        "type": "string",
                        "description": "Номер кредитного договора"
                      },
                      "start_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Дата начала кредитного договора"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "dd.mm.yyyy",
                        "description": "Дата окончания кредитного договора"
                      },
                      "credit_amount": {
                        "type": "number",
                        "description": "Сумма кредита"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "integer",
                      "description": "Код ошибки (0 -- Успешный запрос)"
                    },
                    "error_text": {
                      "type": "string",
                      "description": "Текст ошибки"
                    },
                    "contract_id": {
                      "type": "integer",
                      "description": "ID договора"
                    },
                    "insurancesum": {
                      "type": "number",
                      "description": "Страховая сумма"
                    },
                    "insurancepremium": {
                      "type": "number",
                      "description": "Страховая премия"
                    },
                    "insurancestartdate": {
                      "type": "string",
                      "description": "Дата начала действия страхового полиса"
                    },
                    "insuranceenddate": {
                      "type": "string",
                      "description": "Дата окончания действия страхового полиса"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка в запросе"
          },
          "401": {
            "description": "Пользователь не авторизован"
          }
        },
        "description": "Создание договора страхования",
        "operationId": "post-contract-loan"
      }
    },
    "/payment": {
      "post": {
        "summary": "Подтверждение оплаты",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "contract_id",
                  "bank_day",
                  "insurancepremium"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID пользователя"
                  },
                  "contract_id": {
                    "type": "integer",
                    "description": "ID договора"
                  },
                  "insurancepremium": {
                    "type": "number",
                    "description": "Страховая премия"
                  },
                  "bank_day": {
                    "type": "string",
                    "format": "dd.mm.yyyy",
                    "description": "Дата оплаты полиса"
                  },
                  "dock_id": {
                    "type": "string",
                    "description": "Номер документа платежа"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешное создание записи",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "integer",
                      "description": "Код ошибки (0 -- Успешный запрос)"
                    },
                    "error_text": {
                      "type": "string",
                      "description": "Текст ошибки "
                    },
                    "contract_id": {
                      "type": "integer",
                      "description": "ID договора"
                    },
                    "paid_sum": {
                      "type": "number",
                      "description": "Сумма оплаты"
                    },
                    "policy_no": {
                      "type": "string",
                      "description": "Серия и номер полиса"
                    },
                    "policy_check": {
                      "type": "string",
                      "description": "Ссылка на проверку полиса"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка в запросе"
          },
          "401": {
            "description": "Пользователь не авторизован"
          }
        },
        "description": "Подтверждение оплаты",
        "operationId": "post-payment"
      }
    },
    "/policy": {
      "post": {
        "summary": "Получение полиса",
        "tags": [
          "Contract"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "reg_number"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "ID пользователя"
                  },
                  "reg_number": {
                    "type": "string",
                    "description": "Номер кредитного договора"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешное создание записи",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error_code": {
                      "type": "integer",
                      "description": "Код ошибки (0 -- Успешный запрос)"
                    },
                    "error_text": {
                      "type": "string",
                      "description": "Текст ошибки"
                    },
                    "contract_id": {
                      "type": "integer",
                      "description": "ID договора"
                    },
                    "insurancepremium": {
                      "type": "number",
                      "description": "Страховая премия"
                    },
                    "policy_no": {
                      "type": "string",
                      "description": "Серия и номер полиса"
                    },
                    "policy_check": {
                      "type": "string",
                      "description": "Ссылка на проверку полиса",
                      "example": "http://example.com"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка в запросе"
          },
          "401": {
            "description": "Пользователь не авторизован"
          }
        },
        "description": "Получение полиса",
        "operationId": "post-policy"
      }
    },
    "/regionid": {
      "get": {
        "summary": "Получение ID регионов",
        "tags": [
          "Справочник"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "regionid": {
                            "type": "integer",
                            "description": "ID региона"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "Наименование региона на русском языке"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "Наименование региона на узбекском языке"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Получение ID регионов",
        "operationId": "get-regionid"
      }
    },
    "/districtid": {
      "get": {
        "summary": "Получение ID районов",
        "tags": [
          "Справочник"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "regionId",
            "required": true,
            "schema": {
              "type": "number"
            },
            "description": "ID региона"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение данных",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "districtid": {
                            "type": "integer",
                            "description": "ID района"
                          },
                          "name_ru": {
                            "type": "string",
                            "description": "Наименование района на русском языке"
                          },
                          "name_uz": {
                            "type": "string",
                            "description": "Наименование района на узбекском языке"
                          },
                          "regionId": {
                            "type": "number",
                            "description": "ID региона"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Получение ID районов",
        "operationId": "get-districtid"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "tags": [
    {
      "name": "Contract"
    },
    {
      "name": "Справочник"
    }
  ]
}