{
  "openapi": "3.0.3",
  "info": {
    "title": "CloudHealth API",
    "description": "The CloudHealth API enables programmatic management of AWS accounts, SSO configuration, perspectives, reporting, and asset queries within the CloudHealth platform.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://apidocs.cloudhealthtech.com/"
  },
  "servers": [
    {
      "url": "https://chapi.cloudhealthtech.com",
      "description": "CloudHealth API production server"
    }
  ],
  "paths": {
    "/v1/aws_accounts": {
      "post": {
        "tags": [
          "AWS Accounts"
        ],
        "operationId": "createAwsAccount",
        "summary": "Enable or create an AWS account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwsAccountInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AWS account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "AWS Accounts"
        ],
        "operationId": "listAwsAccounts",
        "summary": "List all AWS accounts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of AWS accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccountList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/aws_accounts/{id}": {
      "get": {
        "tags": [
          "AWS Accounts"
        ],
        "operationId": "getAwsAccount",
        "summary": "Get a single AWS account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AWS account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AWS account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AWS Accounts"
        ],
        "operationId": "updateAwsAccount",
        "summary": "Update an AWS account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AWS account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwsAccountInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AWS account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AWS Accounts"
        ],
        "operationId": "deleteAwsAccount",
        "summary": "Delete an AWS account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AWS account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AWS account deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/aws_accounts/{id}/generate_external_id": {
      "get": {
        "tags": [
          "AWS Accounts"
        ],
        "operationId": "generateAwsExternalId",
        "summary": "Get external ID for IAM role configuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AWS account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "External ID generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalIdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sso/configure": {
      "put": {
        "tags": [
          "SSO"
        ],
        "operationId": "configureSso",
        "summary": "Configure Single Sign-On settings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SsoConfigureInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSO configured successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SsoConfiguration"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sso/configuration": {
      "get": {
        "tags": [
          "SSO"
        ],
        "operationId": "getSsoConfiguration",
        "summary": "Retrieve SSO configuration",
        "parameters": [
          {
            "name": "client_api_id",
            "in": "query",
            "description": "Client API ID for multi-tenant lookups",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSO configuration details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SsoConfiguration"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sso/unconfigure": {
      "delete": {
        "tags": [
          "SSO"
        ],
        "operationId": "deleteSsoConfiguration",
        "summary": "Delete SSO configuration",
        "parameters": [
          {
            "name": "client_api_id",
            "in": "query",
            "description": "Client API ID for multi-tenant lookups",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSO configuration deleted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sso/pending_domain_claims": {
      "get": {
        "tags": [
          "SSO"
        ],
        "operationId": "getPendingDomainClaims",
        "summary": "Get pending SSO domain claims",
        "parameters": [
          {
            "name": "client_api_id",
            "in": "query",
            "description": "Client API ID for multi-tenant lookups",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pending domain claims",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingDomainClaimsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sso/validate_pending_domain_claim": {
      "put": {
        "tags": [
          "SSO"
        ],
        "operationId": "validatePendingDomainClaim",
        "summary": "Validate a pending SSO domain claim",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidatePendingDomainInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain claim validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/perspective_schemas": {
      "get": {
        "tags": [
          "Perspectives"
        ],
        "operationId": "listPerspectives",
        "summary": "List all perspectives",
        "parameters": [
          {
            "name": "active_only",
            "in": "query",
            "description": "If true, return only active perspectives",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of perspectives",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PerspectiveSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Perspectives"
        ],
        "operationId": "createPerspective",
        "summary": "Create a new perspective schema",
        "parameters": [
          {
            "name": "include_version",
            "in": "query",
            "description": "Include the version number in the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_api_id",
            "in": "query",
            "description": "Client API ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerspectiveSchemaInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Perspective created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerspectiveSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/perspective_schemas/{perspectiveId}": {
      "get": {
        "tags": [
          "Perspectives"
        ],
        "operationId": "getPerspective",
        "summary": "Get a perspective schema",
        "parameters": [
          {
            "name": "perspectiveId",
            "in": "path",
            "required": true,
            "description": "Perspective schema ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_version",
            "in": "query",
            "description": "Include the version number in the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perspective schema details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerspectiveSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Perspectives"
        ],
        "operationId": "updatePerspective",
        "summary": "Update a perspective schema",
        "parameters": [
          {
            "name": "perspectiveId",
            "in": "path",
            "required": true,
            "description": "Perspective schema ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "check_version",
            "in": "query",
            "description": "Version to check for optimistic concurrency",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_version",
            "in": "query",
            "description": "Include the version number in the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerspectiveSchemaInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Perspective updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerspectiveSchema"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Perspectives"
        ],
        "operationId": "deletePerspective",
        "summary": "Delete a perspective schema",
        "parameters": [
          {
            "name": "perspectiveId",
            "in": "path",
            "required": true,
            "description": "Perspective schema ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Force deletion even if perspective is in use",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "hard_delete",
            "in": "query",
            "description": "Permanently delete instead of soft-delete",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Perspective deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/olap_reports": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "operationId": "listReportTypes",
        "summary": "List all available report types",
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of report types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/olap_reports/{reportType}": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "operationId": "listReportsByType",
        "summary": "List reports of a specific type",
        "parameters": [
          {
            "name": "reportType",
            "in": "path",
            "required": true,
            "description": "Report type category (e.g., cost, usage, performance)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of reports for the given type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/olap_reports/{reportType}/{reportId}": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "operationId": "getReportData",
        "summary": "Get report data with optional dimensions, measures, and filters",
        "parameters": [
          {
            "name": "reportType",
            "in": "path",
            "required": true,
            "description": "Report type category",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "description": "Report ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Dimensions to group the report data by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "measures[]",
            "in": "query",
            "description": "Measures to include in the report",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time interval for the report (e.g., daily, weekly, monthly)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[]",
            "in": "query",
            "description": "Filters to apply to the report data",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "collapse_null_arrays",
            "in": "query",
            "description": "Collapse null arrays in the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/olap_reports/custom/{reportId}": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "operationId": "getCustomReportData",
        "summary": "Get custom report data",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "description": "Custom report ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dimensions[]",
            "in": "query",
            "description": "Dimensions to group the report data by",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "measures[]",
            "in": "query",
            "description": "Measures to include in the report",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Time interval for the report",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters[]",
            "in": "query",
            "description": "Filters to apply to the report data",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Custom report data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/olap_reports/{reportType}/{reportId}/new": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "operationId": "getReportDimensionsAndMeasures",
        "summary": "Get available dimensions and measures for a report",
        "parameters": [
          {
            "name": "reportType",
            "in": "path",
            "required": true,
            "description": "Report type category",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "description": "Report ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available dimensions and measures",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "listAssetTypes",
        "summary": "List all queryable asset types",
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of queryable asset types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/{asset}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "getAssetAttributes",
        "summary": "Get attributes for a specific asset type",
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "description": "Asset type name (e.g., AwsInstance, AwsVolume)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset attributes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/search": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "searchAssets",
        "summary": "Search for assets by name and query",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Asset type name to search (e.g., AwsInstance)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query string with field conditions",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "org_id",
            "in": "query",
            "description": "Organization ID to scope the request",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token passed in the Authorization header"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key passed as a query parameter"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          }
        }
      },
      "AwsAccountInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name for the AWS account"
          },
          "authentication": {
            "type": "object",
            "description": "Authentication configuration for the AWS account",
            "properties": {
              "protocol": {
                "type": "string",
                "description": "Authentication protocol (e.g., assume_role, access_key)"
              },
              "assume_role_arn": {
                "type": "string",
                "description": "ARN of the IAM role to assume"
              },
              "assume_role_external_id": {
                "type": "string",
                "description": "External ID for the assume role"
              },
              "access_key": {
                "type": "string",
                "description": "AWS access key ID"
              },
              "secret_key": {
                "type": "string",
                "description": "AWS secret access key"
              }
            }
          },
          "billing": {
            "type": "object",
            "description": "Billing configuration",
            "properties": {
              "bucket": {
                "type": "string",
                "description": "S3 bucket name for billing reports"
              }
            }
          },
          "cost_and_usage_report": {
            "type": "object",
            "description": "AWS Cost and Usage Report configuration",
            "properties": {
              "bucket": {
                "type": "string",
                "description": "S3 bucket name for CUR"
              },
              "path": {
                "type": "string",
                "description": "Path prefix in the S3 bucket"
              }
            }
          },
          "cloudtrail": {
            "type": "object",
            "description": "CloudTrail configuration",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "bucket": {
                "type": "string"
              }
            }
          },
          "cloudwatch": {
            "type": "object",
            "description": "CloudWatch configuration",
            "properties": {
              "enabled": {
                "type": "boolean"
              }
            }
          },
          "tags": {
            "type": "array",
            "description": "Tags associated with the account",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "hide_public_fields": {
            "type": "boolean",
            "description": "Whether to hide public fields in the account"
          },
          "region": {
            "type": "string",
            "description": "AWS region for the account"
          },
          "primary_aws_region": {
            "type": "string",
            "description": "Primary AWS region"
          },
          "org_id": {
            "type": "string",
            "description": "Organization ID"
          }
        }
      },
      "AwsAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "CloudHealth internal account ID"
          },
          "name": {
            "type": "string",
            "description": "Display name for the AWS account"
          },
          "owner_id": {
            "type": "string",
            "description": "AWS account owner ID"
          },
          "authentication": {
            "type": "object",
            "properties": {
              "protocol": {
                "type": "string"
              },
              "assume_role_arn": {
                "type": "string"
              },
              "assume_role_external_id": {
                "type": "string"
              }
            }
          },
          "billing": {
            "type": "object",
            "properties": {
              "bucket": {
                "type": "string"
              }
            }
          },
          "cost_and_usage_report": {
            "type": "object",
            "properties": {
              "bucket": {
                "type": "string"
              },
              "path": {
                "type": "string"
              }
            }
          },
          "cloudtrail": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "bucket": {
                "type": "string"
              }
            }
          },
          "cloudwatch": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "hide_public_fields": {
            "type": "boolean"
          },
          "region": {
            "type": "string"
          },
          "primary_aws_region": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "object",
            "properties": {
              "level": {
                "type": "string"
              },
              "last_update": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "AwsAccountList": {
        "type": "object",
        "properties": {
          "aws_accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AwsAccount"
            }
          }
        }
      },
      "ExternalIdResponse": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "description": "External ID for IAM role trust policy"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "SsoConfigureInput": {
        "type": "object",
        "properties": {
          "client_api_id": {
            "type": "string",
            "description": "Client API ID for multi-tenant configuration"
          },
          "sso_provider": {
            "type": "string",
            "description": "SSO provider type (e.g., saml, azure_ad)"
          },
          "issuer": {
            "type": "string",
            "description": "SSO issuer URL"
          },
          "domains": {
            "type": "array",
            "description": "Email domains to associate with SSO",
            "items": {
              "type": "string"
            }
          },
          "default_organization_id": {
            "type": "string",
            "description": "Default organization ID for new SSO users"
          },
          "sign_in_endpoint": {
            "type": "string",
            "description": "SSO sign-in endpoint URL"
          },
          "signing_cert": {
            "type": "string",
            "description": "X.509 signing certificate for SAML"
          },
          "sso_ignore_idp_organization": {
            "type": "boolean",
            "description": "Ignore organization from IdP"
          },
          "azure_ad_roles_protocol": {
            "type": "string",
            "description": "Protocol for Azure AD roles"
          }
        }
      },
      "SsoConfiguration": {
        "type": "object",
        "properties": {
          "sso_provider": {
            "type": "string"
          },
          "issuer": {
            "type": "string"
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "default_organization_id": {
            "type": "string"
          },
          "sign_in_endpoint": {
            "type": "string"
          },
          "signing_cert": {
            "type": "string"
          },
          "sso_ignore_idp_organization": {
            "type": "boolean"
          },
          "azure_ad_roles_protocol": {
            "type": "string"
          }
        }
      },
      "PendingDomainClaimsResponse": {
        "type": "object",
        "properties": {
          "pending_domains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "domain_name": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ValidatePendingDomainInput": {
        "type": "object",
        "properties": {
          "client_api_id": {
            "type": "string",
            "description": "Client API ID"
          },
          "pending_domain_name": {
            "type": "string",
            "description": "Domain name to validate"
          }
        }
      },
      "PerspectiveSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Perspective ID"
          },
          "name": {
            "type": "string",
            "description": "Perspective name"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the perspective is active"
          }
        }
      },
      "PerspectiveSchemaInput": {
        "type": "object",
        "properties": {
          "schema": {
            "type": "object",
            "description": "Perspective schema definition",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the perspective"
              },
              "rules": {
                "type": "array",
                "description": "Classification rules for the perspective",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "merges": {
                "type": "array",
                "description": "Merge definitions for combining groups",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "constants": {
                "type": "array",
                "description": "Static group definitions",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      },
      "PerspectiveSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "schema": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "rules": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "merges": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "constants": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      },
      "ReportData": {
        "type": "object",
        "properties": {
          "dimensions": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "measures": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "interval": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "ReportMetadata": {
        "type": "object",
        "properties": {
          "dimensions": {
            "type": "array",
            "description": "Available dimensions for the report",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          },
          "measures": {
            "type": "array",
            "description": "Available measures for the report",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "AWS Accounts",
      "description": "Manage AWS accounts connected to CloudHealth"
    },
    {
      "name": "SSO",
      "description": "Configure and manage Single Sign-On settings"
    },
    {
      "name": "Perspectives",
      "description": "Create and manage perspective schemas for cost grouping"
    },
    {
      "name": "Reporting",
      "description": "Access OLAP reports and report metadata"
    },
    {
      "name": "Assets",
      "description": "Query and search cloud assets"
    }
  ]
}