{
  "openapi": "3.0.3",
  "info": {
    "title": "Carrier Lookup API",
    "version": "1.0.0",
    "description": "Phone number carrier lookup API for identifying carrier name, line type, validity, and active status of US phone numbers.",
    "x-jentic-source-url": "https://www.carrierlookup.com/carrier-lookup-api-integration/"
  },
  "servers": [
    {
      "url": "https://api.carrierlookup.com/v1"
    }
  ],
  "paths": {
    "/lookup": {
      "get": {
        "operationId": "lookupPhoneNumber",
        "summary": "Look up carrier information for a phone number",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "number",
            "in": "query",
            "required": true,
            "description": "The phone number to look up",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API authentication key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid phone number or missing parameters"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LookupResponse": {
        "type": "object",
        "properties": {
          "carrier": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Telecommunications company name (e.g., Verizon, AT&T)"
              }
            }
          },
          "line_type": {
            "type": "string",
            "description": "Classification: mobile, landline, or VoIP",
            "enum": [
              "mobile",
              "landline",
              "VoIP"
            ]
          },
          "valid": {
            "type": "boolean",
            "description": "Indicates proper format and database existence"
          },
          "active": {
            "type": "boolean",
            "description": "Indicates current service status"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}