{
  "openapi": "3.0.3",
  "info": {
    "title": "Appcircle Authentication API",
    "description": "Welcome to Appcircle API documentation. Appcircle API allows you to access the wide range of Appcircle features programmatically for various integration use cases.",
    "version": "1.0",
    "x-jentic-source-url": "https://api.appcircle.io/openapi/modules/auth"
  },
  "servers": [
    {
      "url": "https://auth.appcircle.io"
    }
  ],
  "paths": {
    "/auth/v1/token": {
      "post": {
        "summary": "Get Access Token",
        "security": [],
        "description": "Retrieve an access token using your personal access token (PAT). This token can be used for authentication in subsequent API requests.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "pat": {
                    "type": "string",
                    "description": "Bearer (apiKey – Personal Access Token). How to get your personal access token? [https://docs.appcircle.io/appcircle-api/api-authentication](https://docs.appcircle.io/appcircle-api/api-authentication)"
                  }
                },
                "required": [
                  "pat"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "eyJhbGciOiJSUzI1NiIsImtpZCI6IkVENEVDQTEMxjJGRDlGCncgJMyr9ThrqNGY_z1cfJlFt-Gzls8Dc35I9o",
                      "description": "Token for authentication"
                    },
                    "expires_in": {
                      "type": "number",
                      "example": "14400",
                      "description": "Token expires after the given seconds"
                    },
                    "refresh_expires_in": {
                      "type": "number",
                      "description": "Refresh token expires after the given seconds",
                      "example": "14400"
                    },
                    "refresh_token": {
                      "type": "string",
                      "example": "CfDJ8NxTkf4RATAEjptui_CemyIf16C1MWm4j9IiSS4ZcojOBuvGZEqaNg5FXEKJa6AXz1KeJ3Mr39zhuVYh22",
                      "description": ""
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer",
                      "description": "The type of token this is, typically just the string 'bearer'"
                    },
                    "id_token": {
                      "type": "string",
                      "description": "ID tokens are used in token-based authentication to cache user profile information and provide it to a client application"
                    },
                    "not-before-policy": {
                      "type": "number",
                      "example": 1592285118,
                      "description": ""
                    },
                    "session_state": {
                      "type": "string",
                      "description": ""
                    },
                    "scope": {
                      "type": "string",
                      "example": "openid profile email roles",
                      "description": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/v2/token": {
      "post": {
        "summary": "Get Access Token with Scope and Sub-Organization ID",
        "security": [],
        "description": "Retrieve an access token with specific scopes and for a sub-organization using your personal access token (PAT). This token can be used for authentication in subsequent API requests.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "pat": {
                    "type": "string",
                    "description": "Bearer (apiKey – Personal Access Token). How to get your personal access token? [https://docs.appcircle.io/appcircle-api/api-authentication](https://docs.appcircle.io/appcircle-api/api-authentication)"
                  },
                  "scope": {
                    "type": "string",
                    "description": "Scope of the access request. Defaults to 'openid profile email' if not provided.",
                    "default": "openid profile email"
                  },
                  "subOrganizationId": {
                    "type": "string",
                    "description": "Sub-organization ID if applicable. If not provided, the token will be for the root organization."
                  }
                },
                "required": [
                  "pat"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "eyJhbGciOiJSUzI1NiIsImtpZCI6IkVENEVDQTEMxjJGRDlGCncgJMyr9ThrqNGY_z1cfJlFt-Gzls8Dc35I9o",
                      "description": "Token for authentication"
                    },
                    "expires_in": {
                      "type": "number",
                      "example": "14400",
                      "description": "Token expires after the given seconds"
                    },
                    "refresh_expires_in": {
                      "type": "number",
                      "description": "Refresh token expires after the given seconds",
                      "example": "14400"
                    },
                    "refresh_token": {
                      "type": "string",
                      "example": "CfDJ8NxTkf4RATAEjptui_CemyIf16C1MWm4j9IiSS4ZcojOBuvGZEqaNg5FXEKJa6AXz1KeJ3Mr39zhuVYh22",
                      "description": ""
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer",
                      "description": "The type of token this is, typically just the string 'bearer'"
                    },
                    "id_token": {
                      "type": "string",
                      "description": "ID tokens are used in token-based authentication to cache user profile information and provide it to a client application"
                    },
                    "not-before-policy": {
                      "type": "number",
                      "example": 1592285118,
                      "description": ""
                    },
                    "session_state": {
                      "type": "string",
                      "description": ""
                    },
                    "scope": {
                      "type": "string",
                      "example": "openid profile email",
                      "description": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/v3/token": {
      "post": {
        "summary": "Get Access Token with Scope and Sub-Organization ID",
        "security": [],
        "description": "Retrieve an access token with specific scopes and for a sub-organization using your personal access key. This token can be used for authentication in subsequent API requests.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "personalAccessKey": {
                    "type": "string",
                    "description": "Your personal API access key. How to get your personal access key? [https://docs.appcircle.io/appcircle-api/api-authentication](https://docs.appcircle.io/appcircle-api/api-authentication)"
                  },
                  "scope": {
                    "type": "string",
                    "description": "Scope of the access request. Defaults to 'openid profile email' if not provided.",
                    "default": "openid profile email"
                  },
                  "subOrganizationId": {
                    "type": "string",
                    "description": "Sub-organization ID if applicable. If not provided, the token will be for the root organization."
                  }
                },
                "required": [
                  "personalAccessKey"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "eyJhbGciOiJSUzI1NiIsImtpZCI6IkVENEVDQTEMxjJGRDlGCncgJMyr9ThrqNGY_z1cfJlFt-Gzls8Dc35I9o",
                      "description": "Token for authentication"
                    },
                    "expires_in": {
                      "type": "number",
                      "example": "14400",
                      "description": "Token expires after the given seconds"
                    },
                    "refresh_expires_in": {
                      "type": "number",
                      "description": "Refresh token expires after the given seconds",
                      "example": "14400"
                    },
                    "refresh_token": {
                      "type": "string",
                      "example": "CfDJ8NxTkf4RATAEjptui_CemyIf16C1MWm4j9IiSS4ZcojOBuvGZEqaNg5FXEKJa6AXz1KeJ3Mr39zhuVYh22",
                      "description": ""
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer",
                      "description": "The type of token this is, typically just the string 'bearer'"
                    },
                    "id_token": {
                      "type": "string",
                      "description": "ID tokens are used in token-based authentication to cache user profile information and provide it to a client application"
                    },
                    "not-before-policy": {
                      "type": "number",
                      "example": 1592285118,
                      "description": ""
                    },
                    "session_state": {
                      "type": "string",
                      "description": ""
                    },
                    "scope": {
                      "type": "string",
                      "example": "openid profile email",
                      "description": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/in-app-update/token": {
      "post": {
        "summary": "Retrieve Access Token for In-App Update",
        "security": [],
        "description": "Retrieve an access token using the provided organization ID, profile ID, and secret. This token is required to authenticate subsequent store download requests for in-app updates.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "profileId": {
                    "type": "string",
                    "description": "Appcircle enterprise store profile Id",
                    "example": "s3cr3tV4lu3"
                  },
                  "secret": {
                    "type": "string",
                    "description": "The secret associated with the in-app update. This is used to authenticate the request. You can create the secret in the settings section of the profile in the enterprise store module.",
                    "example": "s3cr3tV4lu3"
                  }
                },
                "required": [
                  "profileId",
                  "secret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "eyJhbGciOiJSUzI1NiIsImtpZCI6IkVENEVDQTEMxjJGRDlGCncgJMyr9ThrqNGY_z1cfJlFt-Gzls8Dc35I9o",
                      "description": "Token for authentication"
                    },
                    "expires_in": {
                      "type": "number",
                      "example": "14400",
                      "description": "Token expires after the given seconds"
                    },
                    "refresh_expires_in": {
                      "type": "number",
                      "description": "Refresh token expires after the given seconds",
                      "example": "14400"
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer",
                      "description": "The type of token this is, typically just the string 'bearer'"
                    },
                    "not-before-policy": {
                      "type": "number",
                      "example": 1592285118,
                      "description": "A timestamp indicating when the token becomes valid."
                    },
                    "scope": {
                      "type": "string",
                      "example": "profile email",
                      "description": "The scope of the access token."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/v1/api-key/token": {
      "post": {
        "summary": "Retrieve Access Token for API Key",
        "security": [],
        "description": "Retrieve an access token using the provided API key name and secret. This token is required to authenticate Appcircle API requests.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Appcircle Organization API key name",
                    "example": "myapikey"
                  },
                  "secret": {
                    "type": "string",
                    "description": "The secret associated with the API key. This is used to authenticate the request.",
                    "example": "s3cr3tV4lu3"
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "The ID of the organization associated with the API key.",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  }
                },
                "required": [
                  "name",
                  "secret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "example": "eyJhbGciOiJSUzI1NiIsImtpZCI6IkVENEVDQTEMxjJGRDlGCncgJMyr9ThrqNGY_z1cfJlFt-Gzls8Dc35I9o",
                      "description": "Token for authentication"
                    },
                    "expires_in": {
                      "type": "number",
                      "example": "14400",
                      "description": "Token expires after the given seconds"
                    },
                    "refresh_expires_in": {
                      "type": "number",
                      "description": "Refresh token expires after the given seconds",
                      "example": "14400"
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer",
                      "description": "The type of token this is, typically just the string 'bearer'"
                    },
                    "not-before-policy": {
                      "type": "number",
                      "example": 1592285118,
                      "description": "A timestamp indicating when the token becomes valid."
                    },
                    "scope": {
                      "type": "string",
                      "example": "openid profile email",
                      "description": "The scope of the access token."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ]
}