{
  "openapi": "3.0.1",
  "info": {
    "title": "EWSHotel API",
    "description": "The XAP Lodging Search APIs can be used by partners both booking via an Expedia website, or by partners that\nwill be booking via the XAP APIs. Each API also provides pre-configured links to the Expedia website,\nthe XAP Booking API, or both.\n",
    "version": "v3",
    "x-eg-lifecycle": "LIVE",
    "x-eg-tags": [
      "Partner",
      "EWS",
      "XAP",
      "EWSHotel",
      "Hotel",
      "Lodging",
      "LodgingListings",
      "LodgingDetails",
      "LodgingRateCalendar"
    ],
    "x-jentic-source-url": "https://raw.githubusercontent.com/ExpediaGroup/xap-java-sdk/main/specs/xap-hotel.specs.yaml"
  },
  "servers": [
    {
      "url": "https://apim.expedia.com",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/hotels/details/{offerToken}": {
      "get": {
        "tags": [
          "Lodging Details"
        ],
        "summary": "Get Extended information with a single property offer",
        "description": "Extended information about the rate, charges, fees, and financial terms associated with booking a single lodging rate plan offer.",
        "operationId": "get-lodging-details",
        "parameters": [
          {
            "name": "Key",
            "in": "header",
            "description": "The partner API key is a case-sensitive, alphanumeric string that looks something like this:\n\n**X99X9X9-99XX-9XX9-X999-99XX99X9X999X**\n\nThe API Key is assigned and configured as part of the API on-boarding process.\nIt will be sent to the partner by their Expedia Account Manager or representative.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Partner-Transaction-Id",
            "in": "header",
            "description": "The `Partner-Transaction-ID` is a required API request header element that is <u>not</u> consumed\nby Expedia. It will be required in all XAP v3 API request headers and will be mirrored\nback to the partner in the corresponding API response header.\n\nThe `Partner-Transaction-ID` may be any alphanumeric string of the partner's choosing.\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Partner123"
            }
          },
          {
            "name": "offerToken",
            "in": "path",
            "description": "A Hotel Natural Key from the Lodging Search API -> Hotels -> RoomTypes -> OfferId. It is a concatenated \nstring of multiple values that defines a hotel offer.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "price",
            "in": "query",
            "description": "The total price of the selected property.\n\nThis value will be used to determine if there is a price change between the details and booking request.\n\nThe `price` element will be automatically included in the ApiDetails HATEOAS link which is returned\nalong with the Lodging Details API response.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Value should be a standard ISO 3 letter currency code.\n\nThe currency code that is associated to the `TotalPrice` element for the selected property's rate plan from\nthe Lodging Listing API response.\n\nThe `currency` element will be automatically included in the ApiDetails HATEOAS link which is returned\nalong with the Lodging Details response.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "`locale` is composed of language identifier and region identifier, connected by \"_\" that specifies the\nlanguage in which the response will be returned.\n\nThe `locale` value used in the Lodging Details API query should match the `locale` value that was used in\nthe Lodging Search API query.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imageSizes",
            "in": "query",
            "description": "Indicate what size of image will be returned.\n\nThe available image sizes are:\n- t : Thumbnail\n- s : Small\n- b : Big\n- y : 500x500v\n- z : 1000x1000v\n\nResolution from smallest to largest is t < s < b < y < z.\n\nIf no `imageSizes` is specified, the t size images will be returned.\n\nIf an image is missing in one size, we will try to fall back to the same image with lower resolution.\n\n(If image \"_z\" is not available, we will try to return image \"_y\", and if it is also unavailable, we will return image \"_b\", and so on.)\n\nOnly one image size is allowed.\n",
            "schema": {
              "type": "string",
              "enum": [
                "t",
                "s",
                "b",
                "y",
                "z"
              ],
              "default": "t"
            }
          },
          {
            "name": "groupedAmenities",
            "in": "query",
            "description": "Specifies whether to return the grouped amenities. If `groupedAmenities` is true, `DescriptiveAmenities`\nnode will be returned in response, otherwise `Amenities` node will be returned.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Normal Response",
            "content": {
              "application/vnd.exp-hotel.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/HotelDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "User Fault",
            "content": {
              "application/vnd.exp-hotel.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "example": {
                  "Errors": [
                    {
                      "Code": "INVALID_NATURAL_KEY",
                      "Description": "Invalid natural key. Malformed hotel natural key detected."
                    }
                  ],
                  "TransactionId": "e883f530-9776-4011-a14d-3cc089feb6cf"
                }
              }
            }
          },
          "500": {
            "description": "Service Error",
            "content": {
              "application/vnd.exp-hotel.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "example": {
                  "Errors": [
                    {
                      "Code": "APPLICATION_ERROR",
                      "Description": "Application error."
                    }
                  ],
                  "TransactionId": "1f497fa0-a996-4796-b97e-3ad269bf7624"
                }
              }
            }
          },
          "401": {
            "description": "Invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "You cannot consume this service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "You cannot consume this service"
                }
              }
            }
          },
          "429": {
            "description": "API rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "API rate limit exceeded."
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "Name resolution failed."
                }
              }
            }
          },
          "504": {
            "description": "API time out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "The upstream server is timing out"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/hotels/listings": {
      "get": {
        "tags": [
          "Lodging Listing"
        ],
        "summary": "Search lodging inventory",
        "description": "Search Expedia lodging inventory by Location Keyword, Region ID, Lat/Long, or Hotel ID(s) and return\nup to 1,000 offers in response.\n\nProvides deeplink to Expedia site to book, or rate plan info to enable API booking.\n",
        "operationId": "get-lodging-listings",
        "parameters": [
          {
            "name": "Key",
            "in": "header",
            "description": "The partner API key is a case-sensitive, alphanumeric string that looks something like this:\n\n**X99X9X9-99XX-9XX9-X999-99XX99X9X999X**\n\nThe API Key is assigned and configured as part of the API on-boarding process.\nIt will be sent to the partner by their Expedia Account Manager or representative.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Partner-Transaction-Id",
            "in": "header",
            "description": "The `Partner-Transaction-ID` is a required API request header element that is <u>not</u> consumed\nby Expedia. It will be required in all XAP v3 API request headers and will be mirrored\nback to the partner in the corresponding API response header.\n\nThe `Partner-Transaction-ID` may be any alphanumeric string of the partner's choosing.\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Partner123"
            }
          },
          {
            "name": "ecomHotelIds",
            "in": "query",
            "description": "Comma-separated list of Expedia hotel IDs. There can be no spaces between parameters.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true,
              "example": [
                28082,
                11133
              ]
            }
          },
          {
            "name": "hcomHotelIds",
            "in": "query",
            "description": "Comma-separated list of Hotels.com hotel IDs. There can be no spaces between parameters.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "geoLocation",
            "in": "query",
            "description": "The latitude and longitude values identifying the center point of a search radius (circle).\n\nNorth latitude will be represented by a positive value. South latitude by a negative value.\n\nEast longitude will be represented by a positive value. West longitude by a negative value.\n\nThe latitude and longitude values are joined together with a comma (,) character.\nThere can be no spaces between parameters.\n\nThis parameter should be used in combination with the radius and unit parameters below.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "The size of the search radius around a specified point when searching by\n`geoLocation`, `locationKeyword`, or `regionids`.\n\n`radius` is optional and the default value is 25 km for `geoLocation` and `locationKeyword`\nif not specified. `radius` must be less than 200 km or 124 mi.\n\nThis parameter should be used in combination with the `unit` and `geoLocation`, `locationKeyword`,\nor `regionids` parameters.\"\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 25
            }
          },
          {
            "name": "unit",
            "in": "query",
            "description": "The unit of measure for searches performed via `geoLocation`, `locationKeyword`, or `regionids`.\n\nValid units are `km` and `mi`.\n\nThis parameter should be used in combination with the `radius` and `geoLocation`, `locationKeyword`,\nor `regionids`.\n",
            "schema": {
              "type": "string",
              "default": "km",
              "enum": [
                "km",
                "mi"
              ]
            }
          },
          {
            "name": "locationKeyword",
            "in": "query",
            "description": "A keyword search for a location. The keyword can be a city, address, airport or a landmark.\n\nThis parameter should be used in combination with the `radius` and `unit` parameters above to define\na circle around the landmark.\n\nThe default radius value is 25 if not specified.\n\nCombined search is not supported, if more than one search method is included in the request, an error\nwill be returned.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regionIds",
            "in": "query",
            "description": "Comma-separated list of Expedia Region IDs. There can be no spaces between parameters.\nSearch returns set of all hotels in the combined regions.\n\nYou may search using a string of 1 - 10 Region ID's.\nMore than 10 Region ID's are not supported and will generate and error.\n\nYou can get the complete list of Expedia Region IDs from\n[Static Data Platform ALL_REGIONS file](https://developers.expediagroup.com/xap/products/xap/static-data-platform/download-url-api/download-url-api-v1).\n\nThis parameter could be used in combination with the `radius` and `unit` parameters above to define\na circle around the `regionIds`. The default radius value is 0 if not specified.\n",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "checkIn",
            "in": "query",
            "description": "Check-in date for hotel stay in an ISO 8601 Date format [YYYY-MM-DD].\n\nThis parameter should be used in combination with the `checkOut` parameter.\n\nIf `checkIn` and `checkOut` are not included, a dateless search will be conducted which returns\na `Featured Offer` for each of the hotels found.\n\nIf one of `checkIn` and `checkOut` is not included, an error will be returned. \n\nThe maximum advanced search window is 500 days in the future, and the maximum length of stay is 28.\n",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-09-12"
            }
          },
          {
            "name": "checkOut",
            "in": "query",
            "description": "Checkout date for hotel stay in an ISO 8601 Date format [YYYY-MM-DD].\n\nThis parameter should be used in combination with the `checkIn` parameter.\n\nIf `checkIn` and `checkOut` are not included, a dateless search will be conducted which returns\na `Featured Offer` for each of the hotels found.\n\nIf one of `checkIn` and `checkOut` is not included, an error will be returned. \n\nThe maximum advanced search window is 500 days in the future, and the maximum length of stay is 28.\n",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-09-14"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "`locale` is composed of language identifier and region identifier, connected by \"_\" that specifies\nthe language in which the response will be returned.\n\nYou can find a link to the complete list of `locales` along with the Point of Sale List in [Supported Points of Sale](https://developers.expediagroup.com/xap/products/xap/lodging/references/supported-points-of-sale). Note that even though the Listings API supports localization for all `locales` listed in the list, all `locales` are not valid for all Points of Sale. \n\nFor example, Ecom US POS supports `en_US`, `es_MX` and `zh_CN`. For Ecom US POS, the Listings API will respond with content in Spanish for requests with either `locale=es_MX` or `es_US`. However, only the deeplinks for `locale=es_MX` should work properly and switch the website to Spanish, while the ones for locale=es_US will be fallen back to English.\n\nIf not specified in the query, the native language for that POS will be returned.\nAnd if more than one language is supported, the response will be returned in the first language\ndepending on the language setting of the POS.\n",
            "schema": {
              "type": "string"
            },
            "example": "en_US"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Value should be a standard ISO 3 letter currency code.",
            "schema": {
              "type": "string"
            },
            "example": "USD"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Indicate the source where the request is coming from.",
            "schema": {
              "type": "string",
              "enum": [
                "browser",
                "mobileapp"
              ],
              "default": "browser"
            }
          },
          {
            "name": "travelWithPets",
            "in": "query",
            "description": "Indicates if the search should include pet-friendly properties.\n\nIf set to \"True\" only properties that allow pets are returned. Pet fees, if available, are included in TaxesAndFees.\n\nThe parameter is only applicable to the Vrbo brand.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "contentDetails",
            "in": "query",
            "description": "This parameter is optional and can be specified as the following values.\n- lowest\n- low (default)\n- medium\n- high\n\n### *lowest*\nReturns the absolute minimum response for up to 1,000 hotels:\n- Count(Count of hotels that are actually returned)\n- TotalHotelCount(Count of hotels that are requested)\n- TransactionId\n- StayDates\n- LengthOfStay\n- NumberOfRooms\n- Occupants\n- ***Hotels***\n  - Id\n  - Status\n  - Links\n  - ***RoomTypes***\n    - RoomKey [Deprecated]\n    - OfferId\n    - RatePlanType\n    - ***RatePlans***\n      - RoomTypeId\n      - RatePlanId\n      - RateRuleId\n      - InventorySourceId\n      - RemainingCount\n      - Price\n      - MemberOnlyDeal\n      - Promotions\n      - PaymentMethod\n      - FullDepositUponBooking\n      - PaymentSchedule\n      - CancellationPolicy\n    - Price\n      - BaseRate\n      - TaxesAndFees\n      - TotalPrice\n      - TotalStrikeOutPrice\n      - AvgNightlyRate\n      - AvgNightlyStrikeOutRate\n      - AvgNightlyRateWithFees\n      - AvgNightlyStrikeOutRateWithFees\n      - HotelMandatoryFees\n      - TotalPriceWithHotelFees\n      - NightlyRates\n      - TaxesAndFeesDetails\n      - RefundableDamageDeposit\n\nThis minimal response is the best for partners that store static hotel location data locally,\nand who would like to have the smallest and fastest API response.\n\n### *low*\nReturns basic hotel information in response for up to 1,000 hotels.\n\nIncludes all elements returned when `contentDetails=lowest` plus:\n- ***Hotels***\n  - Name\n  - PropertyType\n  - PropertyDetails\n  - LocalCurrencyCode\n  - Location\n  - Distance\n  - Description(may not be localized)\n  - ChainAndBrandInfo\n  - ThumbnailUrl\n  - StarRating\n  - GuestRating\n  - GuestReviewCount\n  - PetFriendly\n  - LgbtqiaFriendly\n  - ImportantNotices\n  - ***RoomTypes***\n    - Description\n    - ***RatePlans***\n      - InventorySourceCode\n      - PaymentTime\n      - ReserveWithDeposit\n      - FreeInternet\n      - FreeWiFi\n      - FreeParking\n      - FreeBreakfast                  \n\n### *medium*\nReturns more complete hotel information in response for up to 200 hotels.\n\nIncludes all elements returned when `contentDetails=low` plus:\n- ***Hotels***\n  - HotelAmenities\n  - RoomAmenities\n  - ***RoomTypes***\n    - ***RatePlans***\n      - FreeInternetDetails\n      - FreeBreakfastDetails\n      - Amenities\n    - Amenities\n\n**Note**: Setting the `contentDetails` to `medium` will automatically limit your response size to 200 hotels.\n\n### *high*\nReturns extended hotel information in response for up to 5 hotels.\n\nIncludes all elements returned when `contentDetails=medium` plus:\n- ***Hotels***\n  - RenovationsAndClosures\n  - Policies\n  - OptionalExtras\n  - Media\n  - Accessibility\n  - ***RoomTypes***\n    - SmokingOption\n    - BedTypeOptions\n    - RoomOccupancyPolicy\n    - Media\n\n**Note**: Setting the `contentDetails` to `high` will automatically limit your response size to 5 hotels.\n",
            "schema": {
              "type": "string",
              "enum": [
                "lowest",
                "low",
                "medium",
                "high"
              ],
              "default": "low"
            }
          },
          {
            "name": "allRoomTypes",
            "in": "query",
            "description": "Returns all available rate plans for the selected hotels.\n\nThis parameter requires that a `checkIn` date and `checkOut` date be supplied, as the API cannot return additional room rates on a dateless search.\n\nIncluding `allRoomTypes=true` in your query will automatically limit your response size to no more than 200 hotels.\n\nIncluding `allRoomTypes=true` and `contentDetails=high` will limit your response size to no more than 5 hotels.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "links",
            "in": "query",
            "description": "\nComma-separated list to specify the types of deep links.\n- WD (link to Web Details site)\n- WS (link to Web Search Result page)\n- AD (link for Details API)\n- RC (link for RateCalendar API)\n- WEB (include all website links)\n- API (links for Details and RateCalendar API)\n\nThere are two level of links returned in the API response: Property-level deeplinks and room-level deeplinks.\n\nWhen requesting API deeplinks you will receive both a RateCalendar API link at the property level,\nand Details API links at the room level, since the Lodging Details API only displays information\non rate plan offers.\n\nWhen requesting AD deeplinks, you will <u>only</u> receive Details API links at the room level.\n`Links` node in property-level will be omitted.\n\nIf you are looking for more complete details on a single property via the API, you should do another search\nin the Lodging API for the single Hotel ID, with `contentDetails=high` to get all details back in return\n(note that you can only get back a maximum of 5 hotels when `contentDetails` is set to `high`).\n\n**NOTE**: dateless searches will not return Details API links, since the Lodging Details API will only\nreturn details on a specific room offer for specific dates.\n",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "WD",
                  "WS",
                  "AD",
                  "RC",
                  "WEB",
                  "API"
                ]
              }
            }
          },
          {
            "name": "minStarRating",
            "in": "query",
            "description": "The minimum star rating for hotels returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "1.0",
                "1.5",
                "2.0",
                "2.5",
                "3.0",
                "3.5",
                "4.0",
                "4.5",
                "5.0"
              ]
            }
          },
          {
            "name": "maxStarRating",
            "in": "query",
            "description": "The maximum star rating for hotels returned in the response.",
            "schema": {
              "type": "string",
              "enum": [
                "1.0",
                "1.5",
                "2.0",
                "2.5",
                "3.0",
                "3.5",
                "4.0",
                "4.5",
                "5.0"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of hotels returned in the response. Must be an integer greater than 0. \n\nIf the value is greater than 1000, only the first 1000 hotels are returned. \n\nSettings on `contentDetails` and `allRoomTypes` parameters may cause this value to be overridden\nand a lower number of hotels to be returned. \n\nThe `limit` parameter is intended to be used to control the response size, but partners should be careful\nabout combining it with other filter parameters, as each parameter that you add will shrink the response,\neven to the point where you may even get a \"no hotel found\" error if none of the hotels in the base response\nmeet the combined filter requirements. \n\nFilters are cumulative in effect, and results must meet all filter requirements to be displayed.\n",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "queryText",
            "in": "query",
            "description": "Query text is used for a full text search of hotel data.\n\nText search based on hotel name, description, address, promotion description, amenities description.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availOnly",
            "in": "query",
            "description": "Specifies whether to return only available hotels in the search results.\n\nIf the value of this parameter is true, the search results will only return hotels that have availability\nduring the requested dates.\n\nIf there are no hotels with availability in your search then an empty record set will be returned.\n\nThis parameter is ignored for dateless searches.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "smokingPreference",
            "in": "query",
            "description": "Specifies smoking preference.",
            "schema": {
              "type": "string",
              "enum": [
                "smoking",
                "nonsmoking",
                "both"
              ]
            }
          },
          {
            "name": "rateType",
            "in": "query",
            "description": "Indicate which type of `paymentMethod` for each room will be returned.",
            "schema": {
              "type": "string",
              "enum": [
                "payonline",
                "payhotel",
                "all"
              ]
            }
          },
          {
            "name": "imageSizes",
            "in": "query",
            "description": "Indicates what size images will be displayed for `hotelPhotos` and `roomPhotos` are returned when\n`contentDetails=high`.\n\nThe available image sizes are:\n- t : Thumbnail\n- s : Small\n- b : Big\n- y : 500x500v\n- z : 1000x1000v\n\nResolution from smallest to largest is t < s < b < y < z.\n\nIf no `imageSizes` is specified, the t size images will be returned.\n\nIf an image is missing in one size, we will try to fall back to the same image with lower resolution.\n\n(If image \"_z\" is not available, we will try to return image \"_y\", and if it is also unavailable, we will return image \"_b\", and so on.)\n\nOnly one image size is allowed.\n",
            "schema": {
              "type": "string",
              "enum": [
                "t",
                "s",
                "b",
                "y",
                "z"
              ]
            }
          },
          {
            "name": "thumbnailImageSize",
            "in": "query",
            "description": "Indicate what size of image will be used for the single `thumbnail` image that is returned when\n`contentDetails` is set to `low`, `medium` or `high`.\n\nThe available thumbnail image sizes are:\n- t : Thumbnail\n- s : Small\n- b : Big\n- y : 500x500v\n- z : 1000x1000v\n\nResolution from smallest to largest is t < s < b < y < z.\n\nIf no `thumbnailImageSize` is specified, the t size images will be returned.\n\nif no thumbnail image found, it would not return thumbnail image.\n\nOnly one thumbnail image size is allowed.\n",
            "schema": {
              "type": "string",
              "enum": [
                "t",
                "s",
                "b",
                "y",
                "z"
              ]
            }
          },
          {
            "name": "includedPropertyTypeIds",
            "in": "query",
            "description": "Only return hotels where the `PropertyType` ID is one of the IDs in the `includedPropertyTypeIds` field.\n\nIf the API query includes the parameter `contentDetail=lowest` the `PropertyType` parameter will not\nbe returned in the response. Even in this case, the filtering is still being applied, even though there is\nno `PropertyType` parameter in the response with which to validate.\n\n`includedPropertyTypeIds` and `excludedPropertyTypeIds` fields are mutually exclusive - which means that\neach query may contain **one** of the parameters, or **neither** of the parameters, but the query may not \ncontain **both** of the parameters.\n\nA complete list of supported Expedia Property Types can be found in [Lodging Property Types](https://developers.expediagroup.com/xap/products/xap/lodging/references/property-types).\n",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "excludedPropertyTypeIds",
            "in": "query",
            "description": "Return all hotels **except** those whose `PropertyType` ID is in the `excludedPropertyTypeIds` field.\n\nIf the API query includes the parameter `contentDetail=lowest` the `PropertyType` parameter will not\nbe returned in the response. Even in this case, the filtering is still being applied, even though there is\nno `PropertyType` parameter in the response with which to validate.\n\n`includedPropertyTypeIds` and `excludedPropertyTypeIds` fields are mutually exclusive - which means that\neach query may contain **one** of the parameters, or **neither** of the parameters, but the query may not \ncontain **both** of the parameters.\n\nA complete list of supported Expedia Property Types can be found in [Lodging Property Types](https://developers.expediagroup.com/xap/products/xap/lodging/references/property-types).\n",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "includedInventorySourceIds",
            "in": "query",
            "description": "Querying with no `includedInventorySourceIds` parameter will return listings from all available inventory\nsources.\n\nQuery with the `includedInventorySourceIds` parameter included will only return listings from the requested\ninventory sources. All others will be left out.\n\n`includedInventorySourceId=24` will return only Expedia lodging inventory.\n\n`includedInventorySourceId=83` will return only Vrbo lodging inventory.\n\n`includedInventorySourceId=24,83` will return both Expedia and Vrbo lodging inventory.\n",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "uniqueItems": true
            }
          },
          {
            "name": "freeCancellation",
            "in": "query",
            "description": "Specifies whether to return only free cancelable room rates in the search results.\n\nIf the value of this parameter is true, the search results will only return hotels that have free cancelable room rates during the requested dates.\n\nIf there are no hotels with free cancelable room rates in your search then an empty record set will be returned.\n\nDefault value is false, if query without this parameter or the value of this parameter is false, all available room rates will be returned.\n\nThis parameter is ignored for dateless searches.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "groupedAmenities",
            "in": "query",
            "description": "Specifies whether to return the grouped amenities. If `groupedAmenities` is true, `DescriptiveAmenities`\nnode will be returned in response, otherwise `Amenities` node will be returned.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "blockFullDepositRateplan",
            "in": "query",
            "description": "Specifies whether to return `rateplan` with `FullDepositUponBooking` as true.\n\nIf `blockFullDepositRateplans` is true, the search results will not return `rateplan` with `FullDepositUponBooking` as true.\n\nThe default value is false, if query without this parameter or the value of this parameter is false, all available rateplan will be returned.\n\nThis parameter is ignored for dateless search.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ratePlanType",
            "in": "query",
            "description": "**Note**: This parameter is visible to partners only by configuration. Please contact your Expedia Account\nManager if you need this parameter.\n\nTo specify the desired rate plan types. The options are:\n- standalone : Ask for standalone rates\n- package : Ask for package rates, but standalone rate also may be returned if available.\n\nOtherwise only standalone rate plans will be returned.\n\n`WebSearchResult` and `WebDetails` links won't be returned for package rate.\n",
            "schema": {
              "type": "string",
              "enum": [
                "standalone",
                "package"
              ]
            }
          },
          {
            "name": "sortType",
            "in": "query",
            "description": "Specifies the field that the search results will be ordered by.\n\nTo be used in conjunction with sortOrder parameter below.\n\n**CMA Compliance Note (UK)**: partners doing business in the UK should be sorting their search results using\nthe `totalpricewithfees` parameter in their query string so that the sorting complies with CMA regulations.\n",
            "schema": {
              "type": "string",
              "enum": [
                "price",
                "starrating",
                "avgrate",
                "deals",
                "guestrating",
                "hotelname",
                "distance",
                "totalpricewithfees"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Specifies the sort order of search results.\n\nIf no sort order is specified, the default is `asc`. But for deals sorting, it only supports `desc`.\n\nTo be used in conjunction with the `sortType` parameter above.\n",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          },
          {
            "name": "room1.adults",
            "in": "query",
            "description": "Specifies the number of adults staying in a specific room.\n\nDefault value is one room with 2 adults.\n\nExample: `room1.adults` is used to specify the number of adults in the first room.\n",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 2
          },
          {
            "name": "room1.childAges",
            "in": "query",
            "description": "Comma-separated list that specifies the age(s) for each of the children in each of the rooms.\n\nExample: `room2.childAges=1,3` means two children (1-year old and 3-year old) are staying in room #2.\n\nChildren must be accompanied by an adult.\n",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              8,
              10
            ]
          },
          {
            "name": "room2.adults",
            "in": "query",
            "description": "Specifies the number of adults staying in second room.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "room2.childAges",
            "in": "query",
            "description": "Comma-separated list that specifies the age(s) for each of the children in second room.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "room3.adults",
            "in": "query",
            "description": "Specifies the number of adults staying in third room.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "room3.childAges",
            "in": "query",
            "description": "Comma-separated list that specifies the age(s) for each of the children in third room.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "room4.adults",
            "in": "query",
            "description": "Specifies the number of adults staying in fourth room.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "room4.childAges",
            "in": "query",
            "description": "Comma-separated list that specifies the age(s) for each of the children in fourth room.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "room5.adults",
            "in": "query",
            "description": "Specifies the number of adults staying in fifth room.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "room5.childAges",
            "in": "query",
            "description": "Comma-separated list that specifies the age(s) for each of the children in fifth room.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "room6.adults",
            "in": "query",
            "description": "Specifies the number of adults staying in sixth room.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "room6.childAges",
            "in": "query",
            "description": "Comma-separated list that specifies the age(s) for each of the children in sixth room.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "room7.adults",
            "in": "query",
            "description": "Specifies the number of adults staying in seventh room.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "room7.childAges",
            "in": "query",
            "description": "Comma-separated list that specifies the age(s) for each of the children in seventh room.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "room8.adults",
            "in": "query",
            "description": "Specifies the number of adults staying in eighth room.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "room8.childAges",
            "in": "query",
            "description": "Comma-separated list that specifies the age(s) for each of the children in eighth room.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Normal Response",
            "content": {
              "application/vnd.exp-hotel.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/HotelListingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "User Fault or DisambiguationResponse Fault",
            "content": {
              "application/vnd.exp-hotel.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "examples": {
                  "DisambiguationResponse": {
                    "description": "DisambiguationResponse",
                    "value": {
                      "TransactionId": "f06edfa3-27f4-44e6-838c-b8dd3d0a3210",
                      "Errors": [
                        {
                          "Code": "AMBIGUOUS_LOCATION",
                          "DetailCode": "MULTIPLE_AMBIGUOUS_LOCATION",
                          "Description": "More than one location found",
                          "LocationKeyword": "dublin",
                          "LocationOptions": [
                            {
                              "Type": "MULTICITY",
                              "RegionID": 178256,
                              "ShortName": "Dublin (and vicinity)",
                              "AirportCode": "DUB",
                              "Address": "Dublin (and vicinity), Ireland",
                              "Country": {
                                "Name": "Ireland",
                                "IsoCode2": "IE",
                                "IsoCode3": "IRL"
                              },
                              "GeoLocation": {
                                "Latitude": 53.34402,
                                "Longitude": -6.26146
                              }
                            },
                            {
                              "Type": "POI",
                              "RegionID": 553248621563220238,
                              "ShortName": "Market On Madison",
                              "AirportCode": "MCN",
                              "Address": "Market On Madison, Dublin, Georgia, United States of America",
                              "Country": {
                                "Name": "United States of America",
                                "IsoCode2": "US",
                                "IsoCode3": "USA"
                              },
                              "GeoLocation": {
                                "Latitude": 32.539313,
                                "Longitude": -82.902537
                              }
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "UserFault": {
                    "description": "UserFault",
                    "value": {
                      "Errors": [
                        {
                          "Code": "COMBINED_HOTEL_SELECT_CRITERIA",
                          "Description": "Combined hotel search is not supported. Please specify either one of the following search\ncriteria: [geoLocation, regionIds, ecomHotelIds, hcomHotelIds, locationKeyword, hnk, offerId].\n"
                        }
                      ],
                      "TransactionId": "242d7a77-4063-439b-a9d0-12da0ff5116e"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Service Error",
            "content": {
              "application/vnd.exp-hotel.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "example": {
                  "Errors": [
                    {
                      "Code": "APPLICATION_ERROR",
                      "Description": "Application error."
                    }
                  ],
                  "TransactionId": "1490a74b-4c90-4e78-983d-4ede360ce52a"
                }
              }
            }
          },
          "401": {
            "description": "Invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "You cannot consume this service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "You cannot consume this service"
                }
              }
            }
          },
          "429": {
            "description": "API rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "API rate limit exceeded."
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "name resolution failed"
                }
              }
            }
          },
          "504": {
            "description": "API time out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "The upstream server is timing out"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/hotels/rateCalendar": {
      "get": {
        "tags": [
          "Lodging Rate Calendar"
        ],
        "summary": "Get rate calendar of a property",
        "description": "The Rate Calendar API will return the lowest rate plan for a range of days for one selected Expedia lodging property.",
        "operationId": "get-lodging-rate-calendar",
        "parameters": [
          {
            "name": "Key",
            "in": "header",
            "description": "The partner API key is a case-sensitive, alphanumeric string that looks something like this:\n\n**X99X9X9-99XX-9XX9-X999-99XX99X9X999X**\n\nThe API Key is assigned and configured as part of the API on-boarding process.\nIt will be sent to the partner by their Expedia Account Manager or representative.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Partner-Transaction-Id",
            "in": "header",
            "description": "The `Partner-Transaction-ID` is a required API request header element that is <u>not</u> consumed\nby Expedia. It will be required in all XAP v3 API request headers and will be mirrored\nback to the partner in the corresponding API response header.\n\nThe `Partner-Transaction-ID` may be any alphanumeric string of the partner's choosing.\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Partner123"
            }
          },
          {
            "name": "ecomHotelId",
            "in": "query",
            "description": "The Expedia hotel ID for which the calendar is being requested.\n\n**Note**: Either an Expedia Hotel ID or a Hotels.com Hotel ID must be included in the request.\nYou may use one or the other, but not both.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hcomHotelId",
            "in": "query",
            "description": "The Hotel.com hotel ID for which the calendar is being requested.\n\n**Note**: Either an Expedia Hotel ID or a Hotels.com Hotel ID must be included in the request.\nYou may use one or the other, but not both.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date for check-in search range in an ISO 8601 Date format [YYYY-MM-DD].\n\n**Note**: The start date may not be in the past.\n",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-09-12"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date for check-in search range in an ISO 8601 Date format [YYYY-MM-DD].\n\n**Note**: The end date must be after the start date. The maximum supported search range is 180 days.\n",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-09-14"
            }
          },
          {
            "name": "lengthOfStay",
            "in": "query",
            "description": "The length of stay to retrieve the lowest price for.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The requested currency expressed according to ISO 4217.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Normal Response",
            "content": {
              "application/vnd.exp-hotel.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/RateCalendarResponse"
                }
              }
            }
          },
          "400": {
            "description": "User Fault",
            "content": {
              "application/vnd.exp-hotel.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "example": {
                  "Errors": [
                    {
                      "Code": "INVALID_HCOMHOTELID",
                      "Description": "The hcomHotelId is invalid. Please specify correct Hcom hotel id."
                    }
                  ],
                  "TransactionId": "97da7aa5-175e-4fdf-8bbd-32e997b6faa8"
                }
              }
            }
          },
          "409": {
            "description": "NO_RESULTS_FOUND",
            "content": {
              "application/vnd.exp-hotel.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "example": {
                  "Errors": [
                    {
                      "Code": "NO_RESULTS_FOUND",
                      "Description": "Sorry, your query appears to be correctly formatted, but the inventory for which you are seeking\ndetails is now unavailable.\n"
                    }
                  ],
                  "TransactionId": "2423025a-916f-4994-972a-68ee2e6b1e92"
                }
              }
            }
          },
          "500": {
            "description": "Service Error",
            "content": {
              "application/vnd.exp-hotel.v3+json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                },
                "example": {
                  "Errors": [
                    {
                      "Code": "APPLICATION_ERROR",
                      "Description": "Application error."
                    }
                  ],
                  "TransactionId": "b2f16375-9fe3-43e3-b524-fb5e0498460b"
                }
              }
            }
          },
          "401": {
            "description": "Invalid authentication credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "You cannot consume this service.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "You cannot consume this service"
                }
              }
            }
          },
          "429": {
            "description": "API rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "API rate limit exceeded."
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "Name resolution failed."
                }
              }
            }
          },
          "504": {
            "description": "API time out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIGatewayError"
                },
                "example": {
                  "message": "The upstream server is timing out."
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "Address1": {
            "type": "string",
            "description": "Street Number, Street Name, or PO Box",
            "example": "724 Pine St"
          },
          "Address2": {
            "type": "string",
            "description": "Apartment, Floor, Suite, Bldg or more specific information about Address1.",
            "example": "Second Floor"
          },
          "City": {
            "type": "string",
            "description": "The city",
            "example": "New York"
          },
          "Province": {
            "type": "string",
            "description": "The state or province",
            "example": "NY"
          },
          "Country": {
            "type": "string",
            "description": "3-letter code for the country",
            "example": "USA"
          },
          "PostalCode": {
            "type": "string",
            "description": "Zip/postal code",
            "example": "98004"
          }
        },
        "description": "The address information of the location."
      },
      "AgeClassRestriction": {
        "type": "object",
        "properties": {
          "AgeClass": {
            "type": "string",
            "description": "Categories for hotel guests, based on age.",
            "example": "Senior",
            "enum": [
              "All Ages",
              "Senior",
              "Adult",
              "Child",
              "Infant",
              "Other"
            ]
          },
          "AgeMinimum": {
            "type": "integer",
            "description": "The minimum age defined in a particular `AgeClass`.",
            "format": "int32",
            "example": 2
          },
          "AgeMaximum": {
            "type": "integer",
            "description": "The maximum age defined in a particular `AgeClass`.\n\nIf not specified, the `AgeClass` has no upper bound.\n",
            "format": "int32",
            "example": 17
          },
          "MaxGuestCount": {
            "type": "integer",
            "description": "The max guest count allowed in a particular `AgeClass`.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "Container for room occupancy rules based on the age of the guests."
      },
      "BedType": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "description": "The bed type ID",
            "example": "40"
          },
          "Description": {
            "type": "string",
            "description": "The bed type description.",
            "example": "1 bed"
          }
        },
        "description": "Statement of bed types available for this offer. A room may have several bed type options available.\n\n**NOTE**: due to the large number of bed type options available, we no longer publish a list of available\nbed types. More information is available in\n[Lodging Bed Types](https://developers.expediagroup.com/xap/products/xap/lodging/references/bed-types).\n"
      },
      "CancellationPenaltyRule": {
        "type": "object",
        "properties": {
          "PenaltyNightCount": {
            "type": "integer",
            "description": "Specifies the per-stay cancellation fee charged in terms of the cost of the number of nights listed, in\naddition to any other penalties. The rate charged is based on the earliest night(s) of the stay.\n",
            "format": "int32",
            "example": 1
          },
          "PenaltyPercentOfStay": {
            "type": "string",
            "description": "Specifies the per-stay cancellation fee charged as a percentage of the total rate, in addition to any other\npenalties listed.\n",
            "example": "100"
          },
          "PenaltyPrice": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money"
              },
              {
                "description": "Specifies the cancellation fee in terms of a set fee, in addition to any other penalties listed."
              }
            ]
          },
          "PenaltyStartDateTime": {
            "type": "string",
            "description": "The beginning of the window of time when the `CancellationPenaltyRule` is in effect.\n\nThe date and time are expressed in ISO 8601 International Date format, and local to the hotel.\n",
            "format": "date-time",
            "example": "2022-07-23T15:00:00-08:00"
          },
          "PenaltyEndDateTime": {
            "type": "string",
            "description": "The end of the window of time when the `CancellationPenaltyRule` is in effect.\n\nThe date and time are expressed in ISO 8601 International Date format, and local to the hotel.\n",
            "format": "date-time",
            "example": "2022-07-25T15:00:00-08:00"
          }
        }
      },
      "WaiverPolicy": {
        "type": "object",
        "properties": {
          "WaiverPolicyDescription": {
            "type": "string",
            "description": "The localized waiver policy description, which could be put in front of cancellation policy description.\n",
            "example": "You can cancel for a full refund up to 24 hours after booking (not applicable to bookings made within 72 hours of check-in time). After 24 hours:\n"
          }
        }
      },
      "CancellationPolicy": {
        "type": "object",
        "properties": {
          "WaiverPolicy": {
            "$ref": "#/components/schemas/WaiverPolicy"
          },
          "CancellableOnline": {
            "type": "boolean",
            "description": "Boolean value to identify if the reservation can be cancelled online.\nIf false, the customer will only be able to cancel a refundable room by calling Expedia Customer Service.",
            "example": true
          },
          "Refundable": {
            "type": "boolean",
            "description": "Indicate whether the rate is refundable or not.",
            "example": true
          },
          "FreeCancellation": {
            "type": "boolean",
            "description": "Indicate whether the room can be cancelled free of charge.",
            "example": true
          },
          "FreeCancellationEndDateTime": {
            "type": "string",
            "description": "The date and time until which the room can be cancelled free of charge.\n\nThis is expressed in the local time of the Hotel.\n",
            "format": "date-time"
          },
          "CancellationPenaltyRules": {
            "type": "array",
            "description": "Container for cancellation penalty details.",
            "items": {
              "$ref": "#/components/schemas/CancellationPenaltyRule"
            }
          },
          "CancelPolicyDescription": {
            "type": "string",
            "description": "Additional cancellation policy information available as static text.",
            "example": "Free cancellation available before 2022-07-18T16:00:00-08:00"
          },
          "NonRefundableDateRanges": {
            "type": "array",
            "description": "A list of dates ranges that are non-refundable.\n\n**Note**: The stay dates in those date ranges will always be charged whenever there is any cancellation \npenalty rule.\n",
            "items": {
              "$ref": "#/components/schemas/NonRefundableDateRange"
            }
          }
        },
        "description": "Container for room cancellation policy."
      },
      "ChainAndBrandInfo": {
        "type": "object",
        "properties": {
          "ChainId": {
            "type": "integer",
            "description": "The chain id.",
            "format": "int32",
            "example": -5
          },
          "ChainName": {
            "type": "string",
            "description": "The name of the chain.",
            "example": "Hilton Worldwide"
          },
          "BrandId": {
            "type": "integer",
            "description": "The brand id.",
            "format": "int32",
            "example": 33
          },
          "BrandName": {
            "type": "string",
            "description": "The name of the brand.",
            "example": "Doubletree"
          }
        },
        "description": "The chain and brand information of hotel.\n\nOnly visible by configuration. Please contact your Expedia Account Manager if you need this node.\n"
      },
      "Country": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "description": "country name",
            "example": "Ireland"
          },
          "IsoCode2": {
            "type": "string",
            "description": "2-letter code for the country",
            "example": "IE"
          },
          "IsoCode3": {
            "type": "string",
            "description": "3-letter code for the country",
            "example": "IRL"
          }
        },
        "description": "Container for disambiguation country information"
      },
      "DepositDetail": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "Should be one of the following values:\nPERCENT\nThe deposit amount is calculated as a percentage of the total booking cost.\nNIGHT\nThe deposit amount is calculated in terms of nights plus tax.\nAMOUNT\nThe deposit amount in USD.\nREMAINDER\nThe deposit amount is equal to the booking cost minus any deposits that have been made before this point.",
            "example": "NIGHT",
            "enum": [
              "PERCENT",
              "NIGHT",
              "AMOUNT",
              "REMAINDER"
            ]
          },
          "Value": {
            "type": "string",
            "description": "Value to indicate how many/much of the type listed above is going to be charged as a deposit.",
            "example": "1"
          },
          "When": {
            "$ref": "#/components/schemas/When"
          }
        },
        "description": "Container for deposit policy details"
      },
      "DepositPolicy": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Details": {
            "type": "array",
            "description": "Container for deposit policy details",
            "items": {
              "$ref": "#/components/schemas/DepositDetail"
            }
          }
        },
        "description": "Container for deposit policy details"
      },
      "Description": {
        "type": "object",
        "properties": {
          "LocationTeaser": {
            "type": "string",
            "description": "A description of the property's location.",
            "example": "Built on the original site of the University of Washington"
          },
          "HotelTeaser": {
            "type": "string",
            "description": "A description of the features and amenities of the property itself.",
            "example": "A top-notch fitness club and spa features a pool"
          },
          "RoomTeaser": {
            "type": "string",
            "description": "The common description for all of the rooms in the property.",
            "example": "Renovated in May 2016, guest rooms feature upholstered chairs"
          }
        },
        "description": "Container for the descriptions of the property."
      },
      "Distance": {
        "type": "object",
        "properties": {
          "Value": {
            "type": "string",
            "description": "The distance between the center of the search and the hotel.",
            "example": "75"
          },
          "Unit": {
            "type": "string",
            "description": "The unit of distance.",
            "example": "km",
            "enum": [
              "km",
              "mi"
            ]
          },
          "Direction": {
            "type": "string",
            "description": "The direction to the hotel from the center point of the search.",
            "example": "N",
            "enum": [
              "N",
              "S",
              "W",
              "E",
              "NW",
              "NE",
              "SW",
              "SE"
            ]
          }
        },
        "description": "Container for distance information.\n\nOnly returned for city/address search or `geoLocation` search or single `regionId` search.\n"
      },
      "GeoLocation": {
        "type": "object",
        "properties": {
          "Latitude": {
            "type": "string",
            "description": "Latitude of the location.",
            "example": "38.184978"
          },
          "Longitude": {
            "type": "string",
            "description": "Longitude of the location.",
            "example": "85.7412"
          },
          "Obfuscated": {
            "type": "boolean"
          }
        },
        "description": "Container for Geo location."
      },
      "Hotel": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "description": "The unique, Expedia-specific hotel property identifier used to designate a single hotel.",
            "example": "14747"
          },
          "HcomId": {
            "type": "string",
            "description": "The unique, Hotels.com-specific hotel property identifier used to designate a single hotel.\n\nThis will only be returned if searching via hcomHotelIds in request.\n",
            "example": "10532"
          },
          "Name": {
            "type": "string",
            "description": "The common name of the hotel",
            "example": "Four Seasons Hotel Seattle"
          },
          "PropertyType": {
            "$ref": "#/components/schemas/HotelPropertyType"
          },
          "PropertyDetails": {
            "$ref": "#/components/schemas/PropertyDetails"
          },
          "LocalCurrencyCode": {
            "type": "string",
            "description": "The Local Currency Code for Hotel (which will be used for any fees that must be paid at the hotel)",
            "example": "USD"
          },
          "Location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Location"
              },
              {
                "description": "Container for information about the location of the hotel."
              }
            ]
          },
          "PhoneInfos": {
            "type": "array",
            "description": "Container for property phone numbers.\n\nNote: PhoneInfos section will not return for Vrbo Vacation Rental properties.\n",
            "items": {
              "$ref": "#/components/schemas/Phone"
            }
          },
          "Distance": {
            "$ref": "#/components/schemas/Distance"
          },
          "Description": {
            "$ref": "#/components/schemas/Description"
          },
          "Status": {
            "type": "string",
            "description": "Indicates whether there are available offers at the property during the dates requested, as well as\ninformation as to why.\n\nNote that pricing will <u>only</u> be present in the API response for a status of `AVAILABLE`.\n\nIf there are no rooms available at the property for the dates requested, then `NOT_AVAILABLE` will be\nreturned.\n\nIf there are available rooms, but none that meet the specific parameters of the search request,\nthen one of the other messages will be returned.\n",
            "example": "AVAILABLE",
            "enum": [
              "AVAILABLE",
              "NOT_AVAILABLE",
              "ERROR",
              "NUMBER_OF_ADULTS_NOT_ACCEPTED",
              "NUMBER_OF_CHILDREN_NOT_ACCEPTED",
              "NUMBER_OF_INFANTS_NOT_ACCEPTED",
              "NUMBER_OF_PERSONS_NOT_ACCEPTED",
              "CHECK_IN_AGE_NOT_ACCEPTED"
            ]
          },
          "RenovationsAndClosures": {
            "type": "array",
            "description": "The information about renovations and closures",
            "example": [
              "The following facilities are closed seasonally each year..."
            ],
            "items": {
              "type": "string",
              "description": "The information about renovations and closures",
              "example": "The following facilities are closed seasonally each year..."
            }
          },
          "ChainAndBrandInfo": {
            "$ref": "#/components/schemas/ChainAndBrandInfo"
          },
          "ThumbnailUrl": {
            "type": "string",
            "description": "URL of the thumbnail image of the hotel.\n\nNote that other images sizes are available - You can find a link to the complete list of Supported\nHotel Image Sizes in [Lodging Image Captions, IDs, and Sizes](https://developers.expediagroup.com/xap/products/xap/lodging/references/image-captions-ids-and-sizes).\n",
            "example": "https://images.trvl-media.com/hotels/3000000/2170000/2163100/2163007/2163007_15_t.jpg"
          },
          "StarRating": {
            "type": "string",
            "description": "Star rating value of the hotel property.",
            "example": "5.0",
            "enum": [
              "1.0",
              "1.5",
              "2.0",
              "2.5",
              "3.0",
              "3.5",
              "4.0",
              "4.5",
              "5.0"
            ]
          },
          "GuestRating": {
            "type": "string",
            "description": "Average overall guest rating of the hotel.\n\nThe value is between 1.0 and 5.0 in 0.1 increments.\n\nHigher is better.\n",
            "example": "4.5"
          },
          "GuestReviewCount": {
            "type": "integer",
            "description": "The total count of guest reviews used to create the average `GuestRating` above.",
            "format": "int32",
            "example": 240
          },
          "PetFriendly": {
            "type": "boolean",
            "description": "Indicates whether the property allows certain pets under certain circumstances.\n\nPrior to booking, guests should review the PetPolicies information in the Lodging Details API to find out\nwhether a particular pet will be permitted to stay at the property.\n",
            "example": true
          },
          "LgbtqiaFriendly": {
            "type": "boolean",
            "description": "This value is returned if the property owner has specifically designated this property as LGBTQIA-friendly.",
            "example": true
          },
          "Links": {
            "type": "object",
            "properties": {
              "WebSearchResult": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Link"
                  },
                  {
                    "description": "Link to web search result page."
                  }
                ]
              },
              "ApiRateCalendar": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Link"
                  },
                  {
                    "description": "Link for Rate Calendar API."
                  }
                ]
              }
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/Link"
            },
            "description": "Container for list of **HATEOAS** links to Expedia website to complete booking.\n\nThis links section will only return a deeplink to the Website Search Results page by default.\n\nIf you have selected AD deeplinks they will only <u>appear</u> within the `RoomTypes` section of the \nresponse, as the Lodging Details API returns details at the room offer level, and not at the property level.\n"
          },
          "Policies": {
            "$ref": "#/components/schemas/HotelPolicies"
          },
          "CleanlinessAndSafety": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Container for all cleanliness and safety measures.\n\nThe key is the measures category, the values are the information. The category will be:\n- CLEANLINESS\n- SOCIAL_DISTANCING\n- SAFETY\n- DISCLAIMER\n",
            "example": {
              "CLEANLINESS": [
                "Disinfectant is used to clean the property",
                "High-touch surfaces are cleaned and disinfected",
                "Sheets and towels are washed at 60°C/140°F or hotter"
              ],
              "SOCIAL_DISTANCING": [
                "Contactless check-in and check-out",
                "Social distancing measures in place"
              ]
            }
          },
          "OptionalExtras": {
            "type": "array",
            "description": "The optional extras info.",
            "items": {
              "type": "string",
              "description": "The optional extras info."
            }
          },
          "ImportantNotices": {
            "type": "array",
            "description": "The important notices for hotel.",
            "example": [
              "This property can only accept bookings for essential travel or stays. You may be asked to provide evidence of this on arrival. For more information, check local advisories before you book."
            ],
            "items": {
              "type": "string",
              "description": "The important notices for hotel.",
              "example": "This property can only accept bookings for essential travel or stays. You may be asked to provide evidence of this on arrival. For more information, check local advisories before you book."
            }
          },
          "Media": {
            "type": "array",
            "description": "Container for hotel images",
            "items": {
              "$ref": "#/components/schemas/Media"
            }
          },
          "HotelAmenities": {
            "type": "array",
            "description": "Container for all hotel amenities.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LodgingAmenity"
                },
                {
                  "description": "Container for all hotel amenities."
                },
                {
                  "properties": {
                    "Id": {
                      "description": "The identification number for a hotel amenity."
                    },
                    "Name": {
                      "description": "The description of a hotel amenity."
                    }
                  }
                }
              ]
            }
          },
          "HotelDescriptiveAmenities": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Container for all hotel amenities in group.\n\nThe key is amenity category, the values are the amenity information. The category for grouped amenities in hotel level for conventional lodging hotel will be:\n- PARKING\n- FOOD_AND_DRINK\n- INTERNET\n- THINGS_TO_DO\n- FAMILY_FRIENDLY\n- CONVENIENCES\n- GUEST_SERVICES\n- BUSINESS_SERVICE\n- OUTDOOR\n- ACCESSIBILITY\n- SPA\n- ACTIVITIES_NEARBY\n- LANGS_SPOKEN\n- MORE\n\nThe category for grouped amenities in hotel level for Vacation Rental hotel will be:\n- BEACH\n- SKI\n- POOL/SPA\n- INTERNET\n- PARKING\n- FAMILY_FRIENDLY\n- KITCHEN\n- DINING\n- BEDROOM\n- BATHROOMS\n- LIVING_SPACES\n- ENTERTAINMENT\n- OUTDOORS\n- LAUNDRY\n- WORKSPACES\n- CLIMATE_CONTROL\n- PETS\n- SUITABILITY/ACCESSIBILITY\n- SERVICES_AND_CONVENIENCES\n- LOCATION_HIGHLIGHTS\n- THINGS_TO_DO\n- GENERAL\n- SAFETY\n",
            "example": {
              "FAMILY_FRIENDLY": [
                "Refrigerator"
              ],
              "GUEST_SERVICES": [
                "24-hour front desk",
                "Housekeeping (on request)",
                "Luggage storage",
                "Multilingual staff"
              ],
              "MORE": [
                "At least 80% lighting from LEDs",
                "Communal living room",
                "Comprehensive food waste policy"
              ]
            }
          },
          "RoomAmenities": {
            "type": "array",
            "description": "Container for all room amenities.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/LodgingAmenity"
                },
                {
                  "description": "Container for all room amenities."
                },
                {
                  "properties": {
                    "Id": {
                      "description": "The identification number for a room amenity."
                    },
                    "Name": {
                      "description": "The description of a room amenity."
                    }
                  }
                }
              ]
            }
          },
          "RoomDescriptiveAmenities": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Container for all common room amenities in group.\n\nThe key is amenity category, the values are the amenity information. The category for grouped amenities in common room level will be:\n- BEDROOM\n- BATHROOM\n- FOOD_AND_DRINK\n- ENTERTAINMENT\n- OUTDOOR_SPACE\n- MORE\n",
            "example": {
              "ENTERTAINMENT": [
                "Flat-screen TV",
                "iPad",
                "iPod dock",
                "Satellite channels"
              ],
              "FOOD_AND_DRINK": [
                "Free bottled water",
                "Refrigerator"
              ],
              "MORE": [
                "Desk",
                "Eco-friendly cleaning products provided",
                "Energy-saving switches"
              ]
            }
          },
          "Accessibility": {
            "type": "array",
            "description": "The accessibility options available for the room.\n\nPossible accessibility include:\n- Accessible path of travel\n- Accessible bathroom\n- Roll-in shower\n- Handicapped parking\n- In-room accessibility\n- Accessibility equipment for the deaf\n- Braille or raised signage\n",
            "example": [
              "Wheelchair-accessible on-site restaurant",
              "Wheelchair-accessible lounge",
              "Well-lit path to entrance",
              "Stair-free path to entrance",
              "Wheelchair accessible (may have limitations)",
              "Wheelchair accessible path of travel",
              "Accessible bathroom (in select rooms)",
              "Wheelchair-accessible public washroom",
              "In-room accessibility (in select rooms)",
              "Wheelchair-accessible registration desk",
              "Wheelchair-accessible fitness center",
              "Wheelchair-accessible meeting spaces/business center"
            ],
            "items": {
              "type": "string",
              "description": "The accessibility options available for the room.",
              "example": "Wheelchair-accessible on-site restaurant"
            }
          },
          "MemberOnlyDealAvailable": {
            "type": "boolean",
            "description": "Indicates whether the property has member only deal rates available.",
            "example": true
          },
          "RoomTypes": {
            "type": "array",
            "description": "Container for all of available room types.",
            "items": {
              "$ref": "#/components/schemas/RoomType"
            }
          }
        },
        "description": "Container for information on each offered hotel."
      },
      "HotelDetailsResponse": {
        "type": "object",
        "properties": {
          "Warnings": {
            "type": "array",
            "description": "There were some errors or events during the transaction, but the API has still returned a response.\n\nContainer for all warnings.\n",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Warning"
                },
                {
                  "properties": {
                    "Code": {
                      "description": "The code of the warning.\n\nAvailable values are:\n- PRICE_DECREASED: The price decreased after shopping.\n- PRICE_INCREASED: The price increased after shopping.\n- CURRENCY_CHANGE: You will be charged in a different currency.\n"
                    },
                    "OriginalPrice": {
                      "description": "The original price from the Lodging Search API response."
                    },
                    "NewPrice": {
                      "description": "The new price."
                    },
                    "ChangedAmount": {
                      "description": "The difference between `OriginalPrice` and `NewPrice`."
                    }
                  }
                }
              ]
            }
          },
          "TransactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "f06edfa3-27f4-44e6-838c-b8dd3d0a3210"
          },
          "StayDates": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StayDates"
              },
              {
                "description": "Dates of the requested property stay."
              },
              {
                "properties": {
                  "CheckInDate": {
                    "description": "Check-in date for property stay in an ISO 8601 Date format [YYYY-MM-DD].\n\nThis parameter should be used in combination with the `checkOut` parameter.\n\nThe maximum advanced search window is 330 days in the future.\n\nThe maximum length of stay is 28 days.\n"
                  },
                  "CheckOutDate": {
                    "description": "Checkout date for property stay in an ISO 8601 Date format [YYYY-MM-DD].\n\nThis parameter should be used in combination with the `checkIn` parameter.\n\nThe maximum advanced search window is 330 days in the future.\n\nThe maximum length of stay is 28 days.\n"
                  }
                }
              }
            ]
          },
          "LengthOfStay": {
            "type": "integer",
            "description": "The number of stay nights.",
            "format": "int32",
            "example": 3
          },
          "NumberOfRooms": {
            "type": "integer",
            "description": "Number of rooms requested.",
            "format": "int32",
            "example": 3
          },
          "Occupants": {
            "type": "array",
            "description": "Container for the list of rooms requested by the traveler.\n\nOccupancy for each room is specified in this node.\n",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Occupant"
                },
                {
                  "description": "Container for the list of rooms requested by the traveler.\n\nOccupancy for each room is specified in this node.\n"
                },
                {
                  "properties": {
                    "Adults": {
                      "description": "Specifies the number of adults staying in each room."
                    },
                    "ChildAges": {
                      "description": "Specifies the age(s) of each of the children staying in the room, as well as the number of children in the room."
                    }
                  }
                }
              ]
            }
          },
          "ValidFormsOfPayment": {
            "type": "array",
            "description": "Container for payment information.",
            "items": {
              "$ref": "#/components/schemas/ValidFormsOfPayment"
            }
          },
          "HotelDetails": {
            "$ref": "#/components/schemas/Hotel"
          }
        }
      },
      "HotelPolicies": {
        "type": "object",
        "properties": {
          "CheckInStartTime": {
            "type": "string",
            "description": "Beginning of the standard check-in window on the check in date, and in the local time of the hotel.",
            "example": "3 PM"
          },
          "CheckInEndTime": {
            "type": "string",
            "description": "End of the standard check-in window on the check in date, and in the local time of the hotel.",
            "example": "5 PM"
          },
          "SpecialCheckInInstructions": {
            "type": "array",
            "description": "Some special instructions needed care by customer when check in.",
            "example": [
              "Special Instructions: The check-in location differs from the property location. To check in, go to 301 N Water St."
            ],
            "items": {
              "type": "string",
              "description": "Any special instructions that the guest would need to know in order to check in.\n\nParticularly important in a vacation rental property, as many of these do not have a hosted front desk as\na hotel would.\n",
              "example": "Special Instructions: The check-in location differs from the property location. To check in, go to 301 N Water St."
            }
          },
          "CheckOutTime": {
            "type": "string",
            "description": "Customers must check out before this time on the check out date, expressed in the local time of the hotel.",
            "example": "noon"
          },
          "PetPolicies": {
            "type": "array",
            "description": "The policy of the property toward having pets stay with guests.",
            "example": [
              "Pets allowed, Up to 20 lb"
            ],
            "items": {
              "type": "string",
              "description": "The policy of the property toward having pets stay with guests.",
              "example": "Pets allowed, Up to 20 lb"
            }
          },
          "ChildrenAndExtraBedsPolicies": {
            "type": "array",
            "description": "The policy of the hotel for having children stay at the hotel, as well as for including extra beds in the room.",
            "example": [
              "Children are welcome, Cribs/infant beds (surcharge)"
            ],
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Container for Hotel policy information."
      },
      "HotelPropertyType": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer",
            "description": "The id of hotel property type.",
            "format": "int32",
            "example": 13
          },
          "Name": {
            "type": "string",
            "description": "The name of hotel property type.",
            "example": "Ranch"
          }
        },
        "description": "Container for information on hotel property type.\n\nYou can find a complete list of Lodging Property Types in [Lodging Property Types](https://developers.expediagroup.com/xap/products/xap/lodging/references/property-types).\n"
      },
      "Link": {
        "type": "object",
        "properties": {
          "Accept": {
            "type": "string",
            "description": "The Accept request header (for API queries only - not included for page URLs)."
          },
          "Method": {
            "type": "string",
            "description": "Method of request."
          },
          "Href": {
            "type": "string",
            "description": "The URL of the destination web page or API query."
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "Address": {
            "$ref": "#/components/schemas/Address"
          },
          "GeoLocation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GeoLocation"
              },
              {
                "description": "Container for information on the geographic location of the hotel."
              },
              {
                "properties": {
                  "Latitude": {
                    "type": "string",
                    "description": "The geographic coordinates of the hotel property, based on a horizontal angular measurement relative to The Equator.\n\nNorth latitude will be represented by a positive value.\n\nSouth latitude will be represented by a negative value.\n",
                    "example": "38.184978"
                  },
                  "Longitude": {
                    "type": "string",
                    "description": "The geographic coordinates of the hotel property, based on a vertical angular measurement relative to the universal Prime Meridian (Royal Observatory, Greenwich).\n\nEast longitude will be represented by a positive value.\n\nWest longitude will be represented by a negative value.\n",
                    "example": "85.7412"
                  },
                  "Obfuscated": {
                    "type": "boolean",
                    "description": "Indicates whether the displayed Latitude/Longitude information is obfuscated.\n\nNote: Exact Lat/Long values for Vacation Rental properties will not be shown in either XAPv3 Search\nor Details responses to respect the security of the homeowner. Instead an 'obfuscated' Lat/Long\nvalue will be returned that will indicate the general area within which the property is located,\nbut not the exact location of the property itself.\n"
                  }
                }
              }
            ]
          },
          "Neighborhood": {
            "$ref": "#/components/schemas/Neighborhood"
          }
        },
        "description": "Container for list of possible locations that could be used to disambiguate the query."
      },
      "LodgingAmenity": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "example": "2065"
          },
          "Name": {
            "type": "string",
            "example": "Business center"
          }
        }
      },
      "MandatoryFeesDetail": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "Type of mandatory fee.",
            "enum": [
              "City_LocalTax_Amt",
              "City_LocalTax_Pcnt",
              "CleaningFee_Amt",
              "CleaningFee_Pcnt",
              "ClubCardAdult",
              "ClubCardChild",
              "DestinationFee_Amt",
              "DestinationFee_Pcnt",
              "GalaDinnerAdult",
              "GalaDinnerChild",
              "GalaDinnerChineseNYAdult",
              "GalaDinnerChineseNYChild",
              "GalaDinnerNYDayAdult",
              "GalaDinnerNYDayChild",
              "GalaDinnerNYEveAdult",
              "GalaDinnerNYEveChild",
              "GalaDinnerValentinesDayAdult",
              "GalaDinnerValentinesDayChild",
              "GalaDinnerXMASDayAdult",
              "GalaDinnerXMASDayChild",
              "GalaDinnerXMASEveAdult",
              "GalaDinnerXMASEveChild",
              "ResortFee_Amt",
              "ResortFee_Pcnt",
              "SanitationFee",
              "SeasonalHeatingFee",
              "TourismFee_Amt",
              "TourismFee_Pcnt",
              "TowelSheetsFee_Amt",
              "TransferFee_Amt_Adult",
              "TransferFee_Amt_Child",
              "UtilitySurcharge"
            ],
            "example": "TransferFee_Amt_Child"
          },
          "Amount": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money"
              },
              {
                "description": "Value of hotel mandatory fee."
              }
            ]
          }
        },
        "description": "The breakdown for the taxes and fees that must be paid at the property."
      },
      "Media": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "Supported type of media.\n\n1=Image.\n\nOnly 1 is supported now.\n",
            "example": "1",
            "enum": [
              1
            ]
          },
          "Title": {
            "type": "string",
            "description": "Image title",
            "example": "Guestroom"
          },
          "Size": {
            "type": "string",
            "description": "Image size.\nYou can find a link to the complete list of Supported Images Sizes in\n[Lodging Image Captions, IDs, and Sizes](https://developers.expediagroup.com/xap/products/xap/lodging/references/image-captions-ids-and-sizes).\n",
            "example": "t"
          },
          "Url": {
            "type": "string",
            "description": "Image URL",
            "example": "https://images.trvl-media.com/hotels/1000000/30000/20300/20230/20230_159_t.jpg"
          }
        },
        "description": "Container for hotel images"
      },
      "Money": {
        "type": "object",
        "properties": {
          "Value": {
            "type": "string",
            "description": "The value of the element being defined.",
            "example": "21.9"
          },
          "Currency": {
            "type": "string",
            "description": "The ISO 4217 Currency Code that the value is expressed in.",
            "example": "USD"
          },
          "LocalCurrencyPrice": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Pricing information of the stat date"
      },
      "Neighborhood": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "description": "Neighborhood id.",
            "example": "6160232"
          },
          "Name": {
            "type": "string",
[...]
