{
  "openapi": "3.0.3",
  "info": {
    "title": "Altiria API",
    "version": "1.0.0",
    "description": "Altiria is a communications platform providing SMS, email, voice, WhatsApp, and landing page APIs for business messaging.",
    "x-jentic-source-url": "https://apidocs.altiria.com/es/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://www.altiria.net/api/rest"
    }
  ],
  "paths": {
    "/sms": {
      "post": {
        "operationId": "sendSms",
        "summary": "Send SMS message",
        "tags": [
          "SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendSmsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Send SMS message"
      }
    },
    "/sms/{id}": {
      "get": {
        "operationId": "getSmsInfo",
        "summary": "Get SMS info by ID",
        "tags": [
          "SMS"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SMS info"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get SMS info by ID"
      }
    },
    "/mailing": {
      "post": {
        "operationId": "sendEmail",
        "summary": "Send email",
        "tags": [
          "Email"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send email"
      }
    },
    "/voice": {
      "post": {
        "operationId": "sendVoice",
        "summary": "Send voice message",
        "tags": [
          "Voice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendVoiceRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send voice message"
      }
    },
    "/voiceAudio": {
      "post": {
        "operationId": "sendVoiceAudio",
        "summary": "Send voice via audio file",
        "tags": [
          "Voice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendVoiceAudioRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send voice via audio file"
      }
    },
    "/landingsms": {
      "post": {
        "operationId": "sendLandingSms",
        "summary": "Send SMS with landing page",
        "tags": [
          "Landing SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendLandingSmsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send SMS with landing page"
      }
    },
    "/whatsapp": {
      "post": {
        "operationId": "sendWhatsApp",
        "summary": "Send WhatsApp template message",
        "tags": [
          "WhatsApp"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendWhatsAppRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send WhatsApp template message"
      }
    },
    "/whatsapp/conversations": {
      "get": {
        "operationId": "listWhatsAppConversations",
        "summary": "List WhatsApp conversations",
        "tags": [
          "WhatsApp"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversations list"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "List WhatsApp conversations"
      }
    },
    "/whatsapp/conversations/{from}/{to}": {
      "get": {
        "operationId": "getWhatsAppConversation",
        "summary": "Get conversation",
        "tags": [
          "WhatsApp"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get conversation"
      }
    },
    "/whatsapp/conversations/{from}/{to}/messages": {
      "get": {
        "operationId": "listWhatsAppMessages",
        "summary": "Get conversation messages",
        "tags": [
          "WhatsApp"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messages"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Get conversation messages"
      },
      "post": {
        "operationId": "sendWhatsAppMessage",
        "summary": "Send conversation message",
        "tags": [
          "WhatsApp"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "content"
                ],
                "properties": {
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sent"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "description": "Send conversation message"
      }
    }
  },
  "components": {
    "schemas": {
      "SendSmsRequest": {
        "type": "object",
        "required": [
          "to",
          "from",
          "message"
        ],
        "properties": {
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "from": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "encoding": {
            "type": "string"
          },
          "scheduleDate": {
            "type": "string",
            "format": "date-time"
          },
          "campaignName": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SendEmailRequest": {
        "type": "object",
        "required": [
          "to",
          "fromEmail",
          "subject",
          "replyTo"
        ],
        "properties": {
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fromEmail": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "replyTo": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "templateId": {
            "type": "string"
          },
          "fromName": {
            "type": "string"
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SendVoiceRequest": {
        "type": "object",
        "required": [
          "to",
          "message",
          "language",
          "gender"
        ],
        "properties": {
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "callers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "retries": {
            "type": "integer"
          }
        }
      },
      "SendVoiceAudioRequest": {
        "type": "object",
        "required": [
          "to",
          "audioUrl"
        ],
        "properties": {
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "audioUrl": {
            "type": "string"
          },
          "callers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "retries": {
            "type": "integer"
          }
        }
      },
      "SendLandingSmsRequest": {
        "type": "object",
        "required": [
          "to",
          "message",
          "from"
        ],
        "properties": {
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "templateBody": {
            "type": "string"
          },
          "templateId": {
            "type": "string"
          }
        }
      },
      "SendWhatsAppRequest": {
        "type": "object",
        "required": [
          "templateId",
          "from",
          "messages"
        ],
        "properties": {
          "templateId": {
            "type": "integer"
          },
          "from": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "to"
              ],
              "properties": {
                "to": {
                  "type": "string"
                },
                "headerFields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "bodyFields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "campaignName": {
            "type": "string"
          }
        }
      },
      "SmsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth with username and API password"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Email"
    },
    {
      "name": "Landing SMS"
    },
    {
      "name": "SMS"
    },
    {
      "name": "Voice"
    },
    {
      "name": "WhatsApp"
    }
  ]
}
