{
  "openapi": "3.0.3",
  "info": {
    "title": "National Flood Data API",
    "version": "3.0",
    "description": "FEMA Flood Map data service providing flood zone determination, flood risk assessment, and flood map data for US properties.",
    "x-jentic-source-url": "https://docs.nationalflooddata.com/dataservice/v3/index.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.nationalflooddata.com/dataservice/v3"
    }
  ],
  "paths": {
    "/flood-zone": {
      "get": {
        "operationId": "getFloodZone",
        "summary": "Get flood zone determination",
        "description": "Returns FEMA flood zone for a given address or coordinates",
        "tags": [
          "Flood Zone"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flood zone data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloodZoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/flood-risk": {
      "get": {
        "operationId": "getFloodRisk",
        "summary": "Get flood risk assessment",
        "tags": [
          "Flood Risk"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flood risk data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloodRiskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get flood risk assessment"
      }
    },
    "/elevation": {
      "get": {
        "operationId": "getElevation",
        "summary": "Get elevation data",
        "tags": [
          "Elevation"
        ],
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Elevation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ElevationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get elevation data"
      }
    },
    "/fema-map": {
      "get": {
        "operationId": "getFemaMap",
        "summary": "Get FEMA flood map panel",
        "tags": [
          "Maps"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map panel data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FemaMapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get FEMA flood map panel"
      }
    }
  },
  "components": {
    "schemas": {
      "FloodZoneResponse": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "floodZone": {
            "type": "string"
          },
          "floodZoneSubtype": {
            "type": "string"
          },
          "communityName": {
            "type": "string"
          },
          "communityNumber": {
            "type": "string"
          },
          "panelNumber": {
            "type": "string"
          },
          "mapEffectiveDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "FloodRiskResponse": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "riskLevel": {
            "type": "string",
            "enum": [
              "low",
              "moderate",
              "high",
              "very_high"
            ]
          },
          "annualFloodProbability": {
            "type": "number"
          },
          "floodZone": {
            "type": "string"
          }
        }
      },
      "ElevationResponse": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "elevation": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          }
        }
      },
      "FemaMapResponse": {
        "type": "object",
        "properties": {
          "panelNumber": {
            "type": "string"
          },
          "communityName": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          },
          "mapUrl": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "National Flood Data API key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Elevation"
    },
    {
      "name": "Flood Risk"
    },
    {
      "name": "Flood Zone"
    },
    {
      "name": "Maps"
    }
  ]
}
