{
  "openapi": "3.0.3",
  "info": {
    "title": "Bolna API",
    "description": "Bolna helps scale automating calling operations by using existing company data sources like CRM, CMS to build, train, and deploy intelligent Voice AI agents.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://www.bolna.ai/docs/api-reference"
  },
  "servers": [
    {
      "url": "https://api.bolna.ai"
    }
  ],
  "paths": {
    "/v2/agent": {
      "post": {
        "operationId": "createAgent",
        "summary": "Create a Voice AI agent",
        "description": "Establishes a new voice AI agent with customizable configuration, enabling tasks, system instructions, and tool settings.",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/all": {
      "get": {
        "operationId": "listAgents",
        "summary": "List all Voice AI agents",
        "description": "Retrieves all Voice AI agents associated with your account, displaying agent names, operational statuses, and creation timestamps.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{agent_id}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Retrieve agent details",
        "description": "Retrieve detailed Voice AI agent information including configuration, status, and tasks.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateAgent",
        "summary": "Update a Voice AI agent",
        "description": "Update an agent to modify configurations, tasks, and prompts for refining behavior and capabilities.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent identifier"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAgent",
        "summary": "Delete a Voice AI agent",
        "description": "Delete an agent along with all associated data including batches and executions.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Agent identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/call": {
      "post": {
        "operationId": "makeCall",
        "summary": "Initiate an outbound voice call",
        "description": "Initiate outbound phone calls using Bolna Voice AI agents by providing an agent ID and recipient phone number.",
        "tags": [
          "Calls"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MakeCallRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Call queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MakeCallResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/call/{execution_id}/stop": {
      "post": {
        "operationId": "stopCall",
        "summary": "Stop a previously initiated call",
        "description": "Cancel pending calls before they are executed when their status is queued or scheduled.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Execution identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Call stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/executions/{execution_id}": {
      "get": {
        "operationId": "getExecution",
        "summary": "Retrieve execution details",
        "description": "Retrieve specific execution by execution_id to access call details including conversation duration, status, and telephony information.",
        "tags": [
          "Executions"
        ],
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Execution identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Execution details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Execution"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/batches": {
      "post": {
        "operationId": "createBatch",
        "summary": "Create a batch",
        "description": "Create a batch for an agent by uploading a CSV file with contact information and variable details for Voice AI operations.",
        "tags": [
          "Batches"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "agent_id",
                  "file"
                ],
                "properties": {
                  "agent_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The agent identifier"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file containing batch data"
                  },
                  "from_phone_numbers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers in E.164 format for originating calls"
                  },
                  "retry_config": {
                    "type": "string",
                    "description": "JSON configuration for automatic retry behavior"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/knowledgebase": {
      "post": {
        "operationId": "createKnowledgeBase",
        "summary": "Create a knowledge base",
        "description": "Create knowledgebase from a PDF file or URL. Provide either file or url, not both.",
        "tags": [
          "Knowledge Base"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF file upload, max 20 MB"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to scrape and ingest"
                  },
                  "chunk_size": {
                    "type": "integer",
                    "default": 512,
                    "description": "Embedding model chunk size"
                  },
                  "similarity_top_k": {
                    "type": "integer",
                    "default": 15,
                    "description": "Number of similar nodes returned"
                  },
                  "overlapping": {
                    "type": "integer",
                    "default": 128,
                    "description": "Character overlap between neighboring nodes"
                  },
                  "language_support": {
                    "type": "string",
                    "description": "Set to 'multilingual' for cross-lingual retrieval"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Knowledge base created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBase"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers/search": {
      "get": {
        "operationId": "searchPhoneNumbers",
        "summary": "Search available phone numbers",
        "description": "Search available phone numbers by country and pattern.",
        "tags": [
          "Phone Numbers"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "IN"
              ]
            },
            "description": "Country code"
          },
          {
            "name": "pattern",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 3
            },
            "description": "3-character prefix for searching"
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "twilio",
                "plivo",
                "vobiz"
              ]
            },
            "description": "Telephony provider"
          }
        ],
        "responses": {
          "200": {
            "description": "List of available phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PhoneNumber"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      }
    },
    "schemas": {
      "CreateAgentRequest": {
        "type": "object",
        "required": [
          "agent_config",
          "agent_prompts"
        ],
        "properties": {
          "agent_config": {
            "type": "object",
            "required": [
              "agent_name",
              "agent_type",
              "tasks"
            ],
            "properties": {
              "agent_name": {
                "type": "string",
                "description": "Agent identifier name"
              },
              "agent_welcome_message": {
                "type": "string",
                "description": "Greeting message"
              },
              "agent_type": {
                "type": "string",
                "description": "Classification category"
              },
              "tasks": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Task definitions"
              },
              "webhook_url": {
                "type": "string",
                "format": "uri",
                "description": "Callback endpoint"
              },
              "calling_guardrails": {
                "type": "object",
                "description": "Time restrictions for outbound calls"
              },
              "ingest_source_config": {
                "type": "object",
                "description": "Data ingestion settings"
              }
            }
          },
          "agent_prompts": {
            "type": "object",
            "properties": {
              "task_1": {
                "type": "object",
                "properties": {
                  "system_prompt": {
                    "type": "string",
                    "description": "Behavioral instructions"
                  }
                }
              }
            }
          }
        }
      },
      "CreateAgentResponse": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "agent_name": {
            "type": "string"
          },
          "agent_type": {
            "type": "string"
          },
          "agent_status": {
            "type": "string",
            "enum": [
              "seeding",
              "processed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "tasks": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "ingest_source_config": {
            "type": "object"
          },
          "agent_prompts": {
            "type": "object"
          }
        }
      },
      "MakeCallRequest": {
        "type": "object",
        "required": [
          "agent_id",
          "recipient_phone_number"
        ],
        "properties": {
          "agent_id": {
            "type": "string",
            "format": "uuid",
            "description": "Agent ID to initiate the call"
          },
          "recipient_phone_number": {
            "type": "string",
            "description": "Phone number in E.164 format"
          },
          "from_phone_number": {
            "type": "string",
            "description": "Sender phone number in E.164 format"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp with timezone"
          },
          "user_data": {
            "type": "object",
            "description": "Dynamic variables for agent prompt"
          },
          "agent_data": {
            "type": "object",
            "description": "Configuration overrides"
          },
          "retry_config": {
            "type": "object",
            "properties": {
              "max_retries": {
                "type": "integer",
                "minimum": 1,
                "maximum": 3
              }
            },
            "description": "Auto-retry settings"
          },
          "bypass_call_guardrails": {
            "type": "boolean",
            "description": "Skip time validation checks"
          }
        }
      },
      "MakeCallResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "execution_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Execution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "agent_id": {
            "type": "string",
            "format": "uuid"
          },
          "batch_id": {
            "type": "string"
          },
          "conversation_time": {
            "type": "number"
          },
          "total_cost": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "transcript": {
            "type": "string"
          },
          "answered_by_voice_mail": {
            "type": "boolean"
          },
          "error_message": {
            "type": "string"
          },
          "cost_breakdown": {
            "type": "object"
          },
          "duration": {
            "type": "number"
          },
          "recording_url": {
            "type": "string",
            "format": "uri"
          },
          "extracted_data": {
            "type": "object"
          }
        }
      },
      "CreateBatchResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "KnowledgeBase": {
        "type": "object",
        "properties": {
          "rag_id": {
            "type": "string"
          },
          "file_name": {
            "type": "string"
          },
          "source_type": {
            "type": "string",
            "enum": [
              "pdf",
              "url"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "processed",
              "error"
            ]
          },
          "language_support": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "region": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "friendly_name": {
            "type": "string",
            "nullable": true
          },
          "locality": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Agents",
      "description": "Voice AI agent management"
    },
    {
      "name": "Calls",
      "description": "Voice call operations"
    },
    {
      "name": "Executions",
      "description": "Call execution tracking"
    },
    {
      "name": "Batches",
      "description": "Batch call management"
    },
    {
      "name": "Knowledge Base",
      "description": "Knowledge base management"
    },
    {
      "name": "Phone Numbers",
      "description": "Phone number management"
    }
  ]
}