{
  "openapi": "3.0.3",
  "info": {
    "title": "RunCloud API",
    "description": "RunCloud API allows you to manage your servers, web applications, databases, and more programmatically.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://runcloud.io/docs/api"
  },
  "servers": [
    {
      "url": "https://manage.runcloud.io/api/v2",
      "description": "RunCloud API v2"
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Test API authentication",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Pong response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "pong"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/servers": {
      "get": {
        "operationId": "listServers",
        "summary": "List servers",
        "tags": [
          "Servers"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 40
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of servers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      },
      "post": {
        "operationId": "createServer",
        "summary": "Create a server",
        "tags": [
          "Servers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Server created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/servers/shared": {
      "get": {
        "operationId": "listSharedServers",
        "summary": "List shared servers",
        "tags": [
          "Servers"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of shared servers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/servers/{id}": {
      "get": {
        "operationId": "getServer",
        "summary": "Get server details",
        "tags": [
          "Servers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/servers/{id}/installationscript": {
      "get": {
        "operationId": "getInstallationScript",
        "summary": "Get server installation script",
        "tags": [
          "Servers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Installation script",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "script": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/servers/{id}/stats": {
      "get": {
        "operationId": "getServerStats",
        "summary": "Get server stats",
        "tags": [
          "Servers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerStats"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/servers/{id}/hardwareinfo": {
      "get": {
        "operationId": "getServerHardwareInfo",
        "summary": "Get server hardware info",
        "tags": [
          "Servers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hardware information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HardwareInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/servers/{serverId}/php/version": {
      "get": {
        "operationId": "listPhpVersions",
        "summary": "List available PHP versions",
        "tags": [
          "Servers"
        ],
        "parameters": [
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of PHP versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/servers/{serverId}/php/cli": {
      "patch": {
        "operationId": "changePhpCliVersion",
        "summary": "Change PHP-CLI version",
        "tags": [
          "Servers"
        ],
        "parameters": [
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phpVersion": {
                    "type": "string"
                  }
                },
                "required": [
                  "phpVersion"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PHP CLI version changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/servers/{serverId}/webapps/custom": {
      "post": {
        "operationId": "createWebApplication",
        "summary": "Create a custom web application",
        "tags": [
          "Web Applications"
        ],
        "parameters": [
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebAppRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Web application created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebApp"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/servers/{serverId}/webapps": {
      "get": {
        "operationId": "listWebApplications",
        "summary": "List web applications",
        "tags": [
          "Web Applications"
        ],
        "parameters": [
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of web applications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebAppListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/servers/{serverId}/webapps/{webAppId}": {
      "get": {
        "operationId": "getWebApplication",
        "summary": "Get web application details",
        "tags": [
          "Web Applications"
        ],
        "parameters": [
          {
            "name": "serverId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "webAppId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Web application details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebApp"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Server": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string"
          },
          "os": {
            "type": "string"
          },
          "osVersion": {
            "type": "string",
            "nullable": true
          },
          "connected": {
            "type": "boolean"
          },
          "online": {
            "type": "boolean"
          },
          "agentVersion": {
            "type": "string",
            "nullable": true
          },
          "phpCLIVersion": {
            "type": "string"
          },
          "softwareUpdate": {
            "type": "boolean"
          },
          "securityUpdate": {
            "type": "boolean"
          },
          "transferStatus": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ServerListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Server"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "CreateServerRequest": {
        "type": "object",
        "required": [
          "name",
          "ipAddress"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          }
        }
      },
      "ServerStats": {
        "type": "object",
        "properties": {
          "stats": {
            "type": "object",
            "properties": {
              "webApplication": {
                "type": "integer"
              },
              "database": {
                "type": "integer"
              },
              "cronJob": {
                "type": "integer"
              },
              "supervisor": {
                "type": "integer"
              }
            }
          },
          "geoRecord": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string"
              },
              "subdivision": {
                "type": "string"
              },
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            }
          }
        }
      },
      "HardwareInfo": {
        "type": "object",
        "properties": {
          "kernelVersion": {
            "type": "string"
          },
          "processorName": {
            "type": "string"
          },
          "totalCPUCore": {
            "type": "integer"
          },
          "totalMemory": {
            "type": "number"
          },
          "freeMemory": {
            "type": "number"
          },
          "diskTotal": {
            "type": "number"
          },
          "diskFree": {
            "type": "number"
          },
          "loadAvg": {
            "type": "number"
          },
          "uptime": {
            "type": "string"
          }
        }
      },
      "WebApp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "server_user_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "rootPath": {
            "type": "string"
          },
          "publicPath": {
            "type": "string"
          },
          "phpVersion": {
            "type": "string"
          },
          "stack": {
            "type": "string"
          },
          "stackMode": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "defaultApp": {
            "type": "boolean"
          },
          "alias": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebAppListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebApp"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "CreateWebAppRequest": {
        "type": "object",
        "required": [
          "name",
          "domainName",
          "user",
          "phpVersion",
          "stack",
          "stackMode",
          "clickjackingProtection",
          "xssProtection",
          "mimeSniffingProtection",
          "processManager",
          "processManagerMaxChildren",
          "processManagerMaxRequests",
          "timezone",
          "maxExecutionTime",
          "maxInputTime",
          "maxInputVars",
          "memoryLimit",
          "postMaxSize",
          "uploadMaxFilesize",
          "sessionGcMaxlifetime",
          "allowUrlFopen"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "domainName": {
            "type": "string"
          },
          "user": {
            "type": "integer"
          },
          "publicPath": {
            "type": "string",
            "nullable": true
          },
          "phpVersion": {
            "type": "string"
          },
          "stack": {
            "type": "string",
            "enum": [
              "hybrid",
              "nativenginx",
              "customnginx"
            ]
          },
          "stackMode": {
            "type": "string",
            "enum": [
              "production",
              "development"
            ]
          },
          "clickjackingProtection": {
            "type": "boolean"
          },
          "xssProtection": {
            "type": "boolean"
          },
          "mimeSniffingProtection": {
            "type": "boolean"
          },
          "processManager": {
            "type": "string",
            "enum": [
              "dynamic",
              "ondemand",
              "static"
            ]
          },
          "processManagerMaxChildren": {
            "type": "integer"
          },
          "processManagerMaxRequests": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          },
          "maxExecutionTime": {
            "type": "integer"
          },
          "maxInputTime": {
            "type": "integer"
          },
          "maxInputVars": {
            "type": "integer"
          },
          "memoryLimit": {
            "type": "integer"
          },
          "postMaxSize": {
            "type": "integer"
          },
          "uploadMaxFilesize": {
            "type": "integer"
          },
          "sessionGcMaxlifetime": {
            "type": "integer"
          },
          "allowUrlFopen": {
            "type": "boolean"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "current_page": {
                "type": "integer"
              },
              "total_pages": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic Authentication using API Key and API Secret"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ]
}