{
  "openapi": "3.0.3",
  "info": {
    "title": "BookingSync API",
    "description": "BookingSync API v3 for vacation rental management. Manage bookings, rentals, clients, rates, availability, and integrate with OTAs (Online Travel Agencies). OAuth 2.0 authentication required.",
    "version": "3.0.0",
    "contact": {
      "name": "Smily (BookingSync) Support",
      "url": "https://www.smily.com"
    }
  },
  "servers": [
    {
      "url": "https://www.bookingsync.com/api/v3",
      "description": "BookingSync API v3 Server"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "paths": {
    "/bookings": {
      "get": {
        "summary": "List bookings",
        "description": "Retrieve a list of bookings",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of bookings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookings": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create booking",
        "description": "Create a new booking",
        "tags": [
          "Bookings"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "booking": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking created"
          }
        }
      }
    },
    "/bookings/{id}": {
      "get": {
        "summary": "Get booking",
        "description": "Retrieve a specific booking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking details"
          }
        }
      },
      "put": {
        "summary": "Update booking",
        "description": "Update a booking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booking updated"
          }
        }
      },
      "delete": {
        "summary": "Cancel booking",
        "description": "Cancel a booking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Booking cancelled"
          }
        }
      }
    },
    "/rentals": {
      "get": {
        "summary": "List rentals",
        "description": "Retrieve a list of rental properties",
        "tags": [
          "Rentals"
        ],
        "responses": {
          "200": {
            "description": "List of rentals"
          }
        }
      },
      "post": {
        "summary": "Create rental",
        "description": "Create a new rental property",
        "tags": [
          "Rentals"
        ],
        "responses": {
          "201": {
            "description": "Rental created"
          }
        }
      }
    },
    "/rentals/{id}": {
      "get": {
        "summary": "Get rental",
        "description": "Retrieve a specific rental",
        "tags": [
          "Rentals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rental details"
          }
        }
      },
      "put": {
        "summary": "Update rental",
        "description": "Update a rental property",
        "tags": [
          "Rentals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rental updated"
          }
        }
      }
    },
    "/clients": {
      "get": {
        "summary": "List clients",
        "description": "Retrieve a list of clients",
        "tags": [
          "Clients"
        ],
        "responses": {
          "200": {
            "description": "List of clients"
          }
        }
      },
      "post": {
        "summary": "Create client",
        "description": "Create a new client",
        "tags": [
          "Clients"
        ],
        "responses": {
          "201": {
            "description": "Client created"
          }
        }
      }
    },
    "/rates": {
      "get": {
        "summary": "List rates",
        "description": "Retrieve rental rates",
        "tags": [
          "Rates"
        ],
        "responses": {
          "200": {
            "description": "List of rates"
          }
        }
      }
    },
    "/availabilities": {
      "get": {
        "summary": "Get availability",
        "description": "Retrieve rental availability",
        "tags": [
          "Availability"
        ],
        "responses": {
          "200": {
            "description": "Availability data"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.bookingsync.com/oauth/authorize",
            "tokenUrl": "https://www.bookingsync.com/oauth/token",
            "scopes": {
              "bookings_read": "Read bookings",
              "bookings_write": "Create and update bookings",
              "rentals_read": "Read rental properties",
              "rentals_write": "Create and update rentals"
            }
          }
        },
        "description": "OAuth 2.0 authorization code flow"
      }
    }
  }
}