{
  "openapi": "3.0.3",
  "info": {
    "title": "Smily (BookingSync) API",
    "version": "3.0.0",
    "description": "The Smily API (formerly BookingSync) provides comprehensive access to vacation rental and property management features. The API follows REST principles and uses OAuth 2.0 for authentication.\n\n## Authentication\n\nThe API uses OAuth 2.0 for authentication. You'll need to register your application to obtain client credentials.\n\n## Base URL\n\nhttps://www.smily.com/api/v3",
    "contact": {
      "url": "https://developers.bookingsync.com"
    }
  },
  "servers": [
    {
      "url": "https://www.smily.com/api/v3"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "List Accounts",
        "operationId": "listAccounts",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List Accounts"
      }
    },
    "/rentals": {
      "get": {
        "summary": "List Rentals",
        "operationId": "listRentals",
        "tags": [
          "Rentals"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rentals": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List Rentals"
      },
      "post": {
        "summary": "Create Rental",
        "operationId": "createRental",
        "tags": [
          "Rentals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rental": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rental created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rental": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create Rental"
      }
    },
    "/rentals/{id}": {
      "get": {
        "summary": "Get Rental",
        "operationId": "getRental",
        "tags": [
          "Rentals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rental": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get Rental"
      },
      "put": {
        "summary": "Update Rental",
        "operationId": "updateRental",
        "tags": [
          "Rentals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rental": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rental updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rental": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update Rental"
      }
    },
    "/bookings": {
      "get": {
        "summary": "List Bookings",
        "operationId": "listBookings",
        "tags": [
          "Bookings"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bookings": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List Bookings"
      },
      "post": {
        "summary": "Create Booking",
        "operationId": "createBooking",
        "tags": [
          "Bookings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "booking": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "booking": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create Booking"
      }
    },
    "/bookings/{id}": {
      "get": {
        "summary": "Get Booking",
        "operationId": "getBooking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "booking": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get Booking"
      }
    },
    "/rates": {
      "get": {
        "summary": "List Rates",
        "operationId": "listRates",
        "tags": [
          "Rates"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rates": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List Rates"
      }
    },
    "/availability": {
      "get": {
        "summary": "Get Availability",
        "operationId": "getAvailability",
        "tags": [
          "Availability"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get Availability"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.smily.com/oauth/authorize",
            "tokenUrl": "https://www.smily.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Accounts",
      "description": "Account management"
    },
    {
      "name": "Rentals",
      "description": "Rental property management"
    },
    {
      "name": "Bookings",
      "description": "Booking management"
    },
    {
      "name": "Rates",
      "description": "Rate management"
    },
    {
      "name": "Availability",
      "description": "Availability management"
    }
  ]
}
