{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare Workers KV API",
    "description": "Cloudflare Workers KV is a global, low-latency, key-value data store. This API allows you to manage KV namespaces and key-value pairs.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.cloudflare.com/api/operations/workers-kv-namespace-list-namespaces"
  },
  "servers": [
    {
      "url": "https://api.cloudflare.com/client/v4",
      "description": "Cloudflare API v4"
    }
  ],
  "paths": {
    "/accounts/{account_id}/storage/kv/namespaces": {
      "get": {
        "operationId": "listNamespaces",
        "summary": "List Namespaces",
        "description": "Returns the namespaces owned by an account.",
        "tags": [
          "Namespaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Direction to order namespaces.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Field to order results by.",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "title"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number of paginated results.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Maximum number of results per page.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Namespace"
                          }
                        },
                        "result_info": {
                          "$ref": "#/components/schemas/ResultInfo"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createNamespace",
        "summary": "Create a Namespace",
        "description": "Creates a namespace under the given title.",
        "tags": [
          "Namespaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "A human-readable string name for a Namespace."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Namespace"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}": {
      "put": {
        "operationId": "renameNamespace",
        "summary": "Rename a Namespace",
        "description": "Modifies a namespace's title.",
        "tags": [
          "Namespaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/NamespaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "A human-readable string name for a Namespace."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/Namespace"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteNamespace",
        "summary": "Delete a Namespace",
        "description": "Deletes the namespace corresponding to the given ID.",
        "tags": [
          "Namespaces"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/NamespaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/storage/kv/namespaces/{namespace_id}/values/{key_name}": {
      "get": {
        "operationId": "readKeyValuePair",
        "summary": "Read Key-Value Pair",
        "description": "Returns the value associated with the given key in the given namespace.",
        "tags": [
          "Key-Value Pairs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/NamespaceId"
          },
          {
            "$ref": "#/components/parameters/KeyName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response - returns the value as a binary stream",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "writeKeyValuePair",
        "summary": "Write Key-Value Pair with Metadata",
        "description": "Write a value identified by a key, with optional metadata and expiration.",
        "tags": [
          "Key-Value Pairs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/NamespaceId"
          },
          {
            "$ref": "#/components/parameters/KeyName"
          },
          {
            "name": "expiration",
            "in": "query",
            "description": "Unix epoch timestamp for key expiration.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "expiration_ttl",
            "in": "query",
            "description": "Seconds until key expiration. Must be at least 60.",
            "schema": {
              "type": "number",
              "minimum": 60
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "The value to store."
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "format": "binary",
                    "description": "The value to store."
                  },
                  "metadata": {
                    "type": "string",
                    "description": "JSON-encoded metadata object."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteKeyValuePair",
        "summary": "Delete Key-Value Pair",
        "description": "Remove a KV pair from the namespace.",
        "tags": [
          "Key-Value Pairs"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/NamespaceId"
          },
          {
            "$ref": "#/components/parameters/KeyName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Cloudflare API Token"
      }
    },
    "parameters": {
      "AccountId": {
        "name": "account_id",
        "in": "path",
        "required": true,
        "description": "Account identifier.",
        "schema": {
          "type": "string"
        }
      },
      "NamespaceId": {
        "name": "namespace_id",
        "in": "path",
        "required": true,
        "description": "Namespace identifier tag.",
        "schema": {
          "type": "string"
        }
      },
      "KeyName": {
        "name": "key_name",
        "in": "path",
        "required": true,
        "description": "A key's name. The name may be at most 512 bytes.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Namespace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Namespace identifier tag."
          },
          "title": {
            "type": "string",
            "description": "A human-readable string name for a Namespace."
          },
          "supports_url_encoding": {
            "type": "boolean",
            "description": "True if keys written to the namespace are URL-decoded prior to storing."
          }
        }
      },
      "ResultInfo": {
        "type": "object",
        "properties": {
          "count": {
            "type": "number",
            "description": "Total results returned in the current page."
          },
          "page": {
            "type": "number",
            "description": "Current page number."
          },
          "per_page": {
            "type": "number",
            "description": "Number of results per page."
          },
          "total_count": {
            "type": "number",
            "description": "Total number of results available."
          }
        }
      },
      "ResponseInfo": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Error or message code."
          },
          "message": {
            "type": "string",
            "description": "Human-readable message."
          },
          "documentation_url": {
            "type": "string",
            "description": "Link to relevant documentation."
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the API call was successful."
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseInfo"
            }
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseInfo"
            }
          },
          "result": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "errors",
          "messages"
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}