{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare Zero Trust Gateway Rules API",
    "description": "Cloudflare Zero Trust Gateway allows you to set up policies to inspect DNS, HTTP, and network traffic. This API manages Gateway rules.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.cloudflare.com/cloudflare-one/api/"
  },
  "servers": [
    {
      "url": "https://api.cloudflare.com/client/v4",
      "description": "Cloudflare API v4"
    }
  ],
  "paths": {
    "/accounts/{account_id}/gateway/rules": {
      "get": {
        "operationId": "listGatewayRules",
        "summary": "List Zero Trust Gateway Rules",
        "description": "Fetches the Zero Trust Gateway rules for an account.",
        "tags": [
          "Gateway Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/GatewayRule"
                          }
                        },
                        "result_info": {
                          "$ref": "#/components/schemas/ResultInfo"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createGatewayRule",
        "summary": "Create a Zero Trust Gateway Rule",
        "description": "Creates a new Zero Trust Gateway rule.",
        "tags": [
          "Gateway Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GatewayRuleInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/GatewayRule"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/gateway/rules/{rule_id}": {
      "get": {
        "operationId": "getGatewayRule",
        "summary": "Get Zero Trust Gateway Rule Details",
        "description": "Fetches a single Zero Trust Gateway rule.",
        "tags": [
          "Gateway Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/RuleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/GatewayRule"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateGatewayRule",
        "summary": "Update a Zero Trust Gateway Rule",
        "description": "Updates a configured Zero Trust Gateway rule.",
        "tags": [
          "Gateway Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/RuleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GatewayRuleInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/GatewayRule"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteGatewayRule",
        "summary": "Delete a Zero Trust Gateway Rule",
        "description": "Deletes a Zero Trust Gateway rule.",
        "tags": [
          "Gateway Rules"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/RuleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Cloudflare API Token"
      }
    },
    "parameters": {
      "AccountId": {
        "name": "account_id",
        "in": "path",
        "required": true,
        "description": "Account identifier.",
        "schema": {
          "type": "string"
        }
      },
      "RuleId": {
        "name": "rule_id",
        "in": "path",
        "required": true,
        "description": "Rule identifier (UUID).",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "schemas": {
      "GatewayRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Rule identifier."
          },
          "name": {
            "type": "string",
            "description": "The name of the rule."
          },
          "description": {
            "type": "string",
            "description": "The description of the rule."
          },
          "action": {
            "type": "string",
            "description": "The action to perform when the rule matches.",
            "enum": [
              "on",
              "off",
              "allow",
              "block",
              "scan",
              "noscan",
              "safesearch",
              "ytrestricted",
              "isolate",
              "noisolate",
              "override",
              "l4_override",
              "egress",
              "resolve",
              "quarantine",
              "redirect"
            ]
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the rule is enabled."
          },
          "precedence": {
            "type": "number",
            "description": "Rule evaluation order. Lower values have higher priority."
          },
          "filters": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "http",
                "dns",
                "l4",
                "egress",
                "dns_resolver"
              ]
            },
            "description": "The protocol or layer to evaluate the rule on."
          },
          "traffic": {
            "type": "string",
            "description": "The wirefilter expression for traffic matching."
          },
          "identity": {
            "type": "string",
            "description": "The wirefilter expression for identity matching."
          },
          "device_posture": {
            "type": "string",
            "description": "The wirefilter expression for device posture checks."
          },
          "rule_settings": {
            "type": "object",
            "description": "Additional rule settings specific to the action."
          },
          "schedule": {
            "$ref": "#/components/schemas/Schedule"
          },
          "expiration": {
            "$ref": "#/components/schemas/Expiration"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the rule was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the rule was last updated."
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the rule was deleted."
          },
          "version": {
            "type": "integer",
            "description": "The version of the rule."
          }
        }
      },
      "GatewayRuleInput": {
        "type": "object",
        "required": [
          "action",
          "name"
        ],
        "properties": {
          "action": {
            "type": "string",
            "description": "The action to perform when the rule matches.",
            "enum": [
              "on",
              "off",
              "allow",
              "block",
              "scan",
              "noscan",
              "safesearch",
              "ytrestricted",
              "isolate",
              "noisolate",
              "override",
              "l4_override",
              "egress",
              "resolve",
              "quarantine",
              "redirect"
            ]
          },
          "name": {
            "type": "string",
            "description": "The name of the rule."
          },
          "description": {
            "type": "string",
            "description": "The description of the rule."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the rule is enabled."
          },
          "precedence": {
            "type": "number",
            "description": "Rule evaluation order. Lower values have higher priority."
          },
          "filters": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "http",
                "dns",
                "l4",
                "egress",
                "dns_resolver"
              ]
            }
          },
          "traffic": {
            "type": "string",
            "description": "The wirefilter expression for traffic matching."
          },
          "identity": {
            "type": "string",
            "description": "The wirefilter expression for identity matching."
          },
          "device_posture": {
            "type": "string",
            "description": "The wirefilter expression for device posture checks."
          },
          "rule_settings": {
            "type": "object",
            "description": "Additional rule settings specific to the action."
          },
          "schedule": {
            "$ref": "#/components/schemas/Schedule"
          },
          "expiration": {
            "$ref": "#/components/schemas/Expiration"
          }
        }
      },
      "Schedule": {
        "type": "object",
        "description": "Time-based rule activation schedule.",
        "properties": {
          "mon": {
            "type": "string",
            "description": "Monday schedule."
          },
          "tue": {
            "type": "string",
            "description": "Tuesday schedule."
          },
          "wed": {
            "type": "string",
            "description": "Wednesday schedule."
          },
          "thu": {
            "type": "string",
            "description": "Thursday schedule."
          },
          "fri": {
            "type": "string",
            "description": "Friday schedule."
          },
          "sat": {
            "type": "string",
            "description": "Saturday schedule."
          },
          "sun": {
            "type": "string",
            "description": "Sunday schedule."
          },
          "time_zone": {
            "type": "string",
            "description": "The time zone for the schedule."
          }
        }
      },
      "Expiration": {
        "type": "object",
        "description": "Rule expiration settings (DNS rules only).",
        "properties": {
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the rule expires."
          },
          "duration": {
            "type": "number",
            "description": "Duration until expiration in seconds."
          },
          "expired": {
            "type": "boolean",
            "description": "Whether the rule has expired."
          }
        }
      },
      "ResultInfo": {
        "type": "object",
        "properties": {
          "count": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "per_page": {
            "type": "number"
          },
          "total_count": {
            "type": "number"
          }
        }
      },
      "ResponseInfo": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "documentation_url": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseInfo"
            }
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseInfo"
            }
          }
        },
        "required": [
          "success",
          "errors",
          "messages"
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}