{
  "openapi": "3.0.0",
  "info": {
    "description": "The Admin Subscriptions Management Client.",
    "title": "SubscriptionsManagementClient",
    "version": "2015-11-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/azsadmin-AcquiredPlan/2015-11-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/AcquiredPlan.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azsadmin-AcquiredPlan",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://adminmanagement.local.azurestack.external/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans": {
      "get": {
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/TargetSubscriptionIdParameter"
          },
          {
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "default": "2015-11-01",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanAcquisitionList"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "AcquiredPlans"
        ],
        "description": "Get a collection of all acquired plans that subscription has access to.",
        "operationId": "AcquiredPlans_List",
        "x-ms-examples": {
          "Get a collection of all acquired plans that subscription has access to.": {
            "parameters": {
              "api-version": "2015-11-01",
              "location": "local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "targetSubscriptionId": "8158498d-27b1-4ccf-9aa1-de0f925731e6"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "acquisitionId": "718c7f7c-4868-479a-98ce-5caaa8f158c8",
                      "acquisitionTime": "2018-02-17 05:50:51.480000+00:00",
                      "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8",
                      "planId": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan",
                      "provisioningState": "Succeeded"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/subscriptions/{targetSubscriptionId}/acquiredPlans/{planAcquisitionId}": {
      "delete": {
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/TargetSubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/PlanAcquisitionIdParameter"
          },
          {
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "default": "2015-11-01",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "AcquiredPlans"
        ],
        "description": "Deletes an acquired plan.",
        "operationId": "AcquiredPlans_Delete",
        "x-ms-examples": {
          "Deletes an acquired plan.": {
            "parameters": {
              "api-version": "2015-11-01",
              "location": "local",
              "planAcquisitionId": "718c7f7c-4868-479a-98ce-5caaa8f158c8",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "targetSubscriptionId": "8158498d-27b1-4ccf-9aa1-de0f925731e6"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/TargetSubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/PlanAcquisitionIdParameter"
          },
          {
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "default": "2015-11-01",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanAcquisition"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "AcquiredPlans"
        ],
        "description": "Gets the specified plan acquired by a subscription consuming the offer.",
        "operationId": "AcquiredPlans_Get",
        "x-ms-examples": {
          "Gets the specified plan acquired by a subscription consuming the offer": {
            "parameters": {
              "api-version": "2015-11-01",
              "location": "local",
              "newAcquiredPlan": "",
              "planAcquisitionId": "718c7f7c-4868-479a-98ce-5caaa8f158c8",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "targetSubscriptionId": "8158498d-27b1-4ccf-9aa1-de0f925731e6"
            },
            "responses": {
              "200": {
                "body": {
                  "acquisitionId": "718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "acquisitionTime": "2018-02-17 05:50:51.480000+00:00",
                  "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "planId": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan",
                  "provisioningState": "Succeeded"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/TargetSubscriptionIdParameter"
          },
          {
            "$ref": "#/components/parameters/PlanAcquisitionIdParameter"
          },
          {
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "default": "2015-11-01",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanAcquisition"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanAcquisition"
                }
              }
            },
            "description": "Created"
          }
        },
        "tags": [
          "AcquiredPlans"
        ],
        "description": "Creates an acquired plan.",
        "operationId": "AcquiredPlans_Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanAcquisition"
              }
            }
          },
          "description": "The new acquired plan.",
          "required": true
        },
        "x-ms-examples": {
          "Creates or updates the acquired plan.": {
            "parameters": {
              "api-version": "2015-11-01",
              "location": "local",
              "newAcquiredPlan": {
                "properties": {
                  "acquisitionId": "718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "planId": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan"
                }
              },
              "planAcquisitionId": "718c7f7c-4868-479a-98ce-5caaa8f158c8",
              "subscriptionId": "8158498d-27b1-4ccf-9aa1-de0f925731e6",
              "targetSubscriptionId": "8158498d-27b1-4ccf-9aa1-de0f925731e6"
            },
            "responses": {
              "200": {
                "body": {
                  "acquisitionId": "718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "acquisitionTime": "2018-02-17 05:50:51.480000+00:00",
                  "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "planId": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan",
                  "provisioningState": "Succeeded"
                }
              },
              "201": {
                "body": {
                  "acquisitionId": "718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "acquisitionTime": "2018-02-17 05:50:51.480000+00:00",
                  "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/acquiredPlans/718c7f7c-4868-479a-98ce-5caaa8f158c8",
                  "planId": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions/plans/balaplan",
                  "provisioningState": "Succeeded"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "PlanAcquisitionIdParameter": {
        "description": "The plan acquisition Identifier",
        "in": "path",
        "name": "planAcquisitionId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      },
      "TargetSubscriptionIdParameter": {
        "description": "The target subscription ID.",
        "in": "path",
        "name": "targetSubscriptionId",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "PlanAcquisition": {
        "description": "Represents the acquisition of an add-on plan for a subscription.",
        "properties": {
          "acquisitionId": {
            "description": "Acquisition identifier.",
            "type": "string"
          },
          "acquisitionTime": {
            "description": "Acquisition time.",
            "format": "date-time",
            "type": "string"
          },
          "externalReferenceId": {
            "description": "External reference identifier.",
            "type": "string"
          },
          "id": {
            "description": "Identifier in the tenant subscription context.",
            "type": "string"
          },
          "planId": {
            "description": "Plan identifier in the tenant subscription context.",
            "type": "string"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState",
            "description": "State of the provisioning."
          }
        },
        "type": "object"
      },
      "PlanAcquisitionList": {
        "description": "List of acquired plans.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of acquired plans.",
            "items": {
              "$ref": "#/components/schemas/PlanAcquisition"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ProvisioningState": {
        "description": "Provisioning state for subscriptions service resources, for example, resource provider registration.",
        "enum": [
          "NotSpecified",
          "Accepted",
          "Failed",
          "Succeeded"
        ],
        "type": "string",
        "x-ms-enum": {
          "modelAsString": true,
          "name": "ProvisioningState",
          "values": [
            {
              "description": "The provisioning state is not specified.",
              "name": "NotSpecified",
              "value": "NotSpecified"
            },
            {
              "description": "The provisioning state is accepted, and indicates provisioning is ongoing.",
              "name": "Accepted",
              "value": "Accepted"
            },
            {
              "description": "The provisioning state is failed, and indicates the data is potentially out-of-sync with third parties.",
              "name": "Failed",
              "value": "Failed"
            },
            {
              "description": "The provisioning state is succeeded, and indicates the data is in-sync with third-parties.",
              "name": "Succeeded",
              "value": "Succeeded"
            }
          ]
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}