{
  "openapi": "3.0.3",
  "info": {
    "title": "Brandfolder OpenAPI Reference",
    "version": "v4",
    "description": "Welcome to the OpenAPI reference documentation for Brandfolder by Smartsheet!\n",
    "x-jentic-source-url": "https://developers.smartsheet.com/_bundle/api/brandfolder/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://brandfolder.com/api/v4"
    }
  ],
  "paths": {
    "/brandfolders": {
      "parameters": [
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "list-brandfolders",
        "summary": "List Brandfolders",
        "description": "Lists all Brandfolders for a User. Unauthorized requests will return an\nempty list.\n\nYou can use the returned `slug` attribute to form a link to the desired\nBrandfolder like so:\n\n````\nhttps://brandfolder.com/{slug}\n````\n",
        "tags": [
          "brandfolders"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "fields",
            "description": "Set it to a comma-separated list (no spaces) of any of the following attributes of the Brandfolders\nto return as part of the Brandfolders' attributes in the response.\n\nAllowed values: \n\n- asset_count\n- attachment_count\n- storage\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "asset_count,attachment_count,storage"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Set it to a comma-separated list (no spaces) of any of the following record names to return those records related to the Brandfolders you're fetching. Related records are returned in an `included` array in the response.\n\nAllowed values: \n\n- organization\n- collections\n- assets\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "organizations"
          },
          {
            "in": "query",
            "name": "search",
            "description": "Set it to any URL-encoded query to fetch only Brandfolders that match your criteria.\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "extension:png"
          }
        ],
        "responses": {
          "200": {
            "description": "References to all the user's Brandfolders.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Brandfolder"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/brandfolders/{brandfolder_id}": {
      "parameters": [
        {
          "name": "brandfolder_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgiju-21olts-ce9egi"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4BrandfoldersByIdGet",
        "tags": [
          "brandfolders"
        ],
        "summary": "Fetch a Brandfolder",
        "description": "You can use the returned `slug` attribute to form a link to the desired\nBrandfolder like so:\n\n````\nhttps://brandfolder.com/{slug}\n````\n",
        "parameters": [
          {
            "in": "query",
            "name": "fields",
            "description": "Set it to a comma-separated list (no spaces) of any of the following attributes of the Brandfolder\nto return as part of the Brandfolder's attributes in the response.\n\nAllowed values: \n\n- asset_count\n- attachment_count\n- section_count\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "asset_count,attachment_count,section_count"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Set it to a comma-separated list (no spaces) of any of the following record names to return those records related to the Brandfolder you're fetching. Related records are returned in an `included` array in the response.\n\nAllowed values: \n\n- organization\n- collections\n- search_filters\n- sections\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "organizations"
          }
        ],
        "responses": {
          "200": {
            "description": "A reference to the Brandfolder.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Brandfolder"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "opIdApiV4BrandfoldersByIdPut",
        "summary": "Update a Brandfolder",
        "description": "Updates the matching Brandfolder.",
        "tags": [
          "brandfolders"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "description": "Attribute updates for the Brandfolder.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "A new name for the Brandfolder.",
                            "example": "Updated Brandfolder"
                          },
                          "privacy": {
                            "type": "string",
                            "description": "A new privacy setting for the Brandfolder.",
                            "example": "public"
                          },
                          "slug": {
                            "type": "string",
                            "description": "A new URL-friendly slug for the Brandfolder.",
                            "example": "updated-brandfolder"
                          },
                          "tagline": {
                            "type": "string",
                            "description": "A new tagline for the brandfolder.",
                            "example": "Updated Brandfolder tagline!"
                          }
                        }
                      }
                    },
                    "required": [
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Brandfolder.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the resource instance.",
                          "example": "oqgkkd-fr5iv4-hh142d"
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the resource.",
                          "enum": [
                            "brandfolders"
                          ]
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the Brandfolder.",
                              "example": "Updated Brandfolder"
                            },
                            "privacy": {
                              "type": "string",
                              "description": "The privacy setting of the Brandfolder.",
                              "example": "public"
                            },
                            "slug": {
                              "type": "string",
                              "description": "The URL-friendly slug of the Brandfolder.",
                              "example": "updated-brandfolder"
                            },
                            "tagline": {
                              "type": "string",
                              "description": "The tagline for the brandfolder.",
                              "example": "Updated Brandfolder tagline!"
                            }
                          },
                          "required": [
                            "name",
                            "privacy",
                            "slug",
                            "tagline"
                          ]
                        }
                      },
                      "required": [
                        "attributes"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/brandfolders/{brandfolder_id}/collections": {
      "parameters": [
        {
          "name": "brandfolder_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgiju-21olts-ce9egi"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4BrandfoldersCollectionsByBrandfolderIdGet",
        "summary": "List collections in a Brandfolder",
        "description": "List all collections in the Brandfolder.\n\nYou can use the returned `slug` parameter (in conjunction with the slug of\nthe parent Brandfolder) to form a link to the desired Collection like so:\n\n```\nhttps://brandfolder.com/{brandfolder_slug}/{collection_slug\n```\n",
        "tags": [
          "collections"
        ],
        "responses": {
          "200": {
            "description": "All the collections in the Brandfolder.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Collection"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "opIdApiV4BrandfoldersCollectionsByBrandfolderIdPost",
        "summary": "Create a collection",
        "description": "Creates a collection in the matching Brandfolder.",
        "tags": [
          "collections"
        ],
        "requestBody": {
          "description": "Attribute values for the collection.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "A name.",
                            "example": "My collection"
                          },
                          "slug": {
                            "type": "string",
                            "description": "A URL-friendly slug. Use only letters, numbers, hyphens, and\nunderscores.\n\nNOTE: We recommend **not** to invent your own slug. If it is\nnot unique and valid, the request fails with a `422` error.\nDefault is to automatically assign a slug based on `name` (a\nname of \\\"My Collection\\\" would make a slug of\n\\\"my-collection\\\").\n",
                            "example": "my-collection"
                          },
                          "tagline": {
                            "type": "string",
                            "description": "A tag line.",
                            "example": "My collection tag line"
                          }
                        },
                        "required": [
                          "name"
                        ]
                      }
                    },
                    "required": [
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new collection.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/brandfolders/{brandfolder_id}/custom_field_keys": {
      "parameters": [
        {
          "name": "brandfolder_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgiju-21olts-ce9egi"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4BrandfoldersCustomFieldKeysByBrandfolderIdGet",
        "summary": "List custom field keys",
        "description": "Lists custom field keys for the matching Brandfolder.\n",
        "tags": [
          "custom_fields"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "fields",
            "description": "Set it to `value` to return it as part of the asset's attributes in the\nresponse.\n\nAllowed value: `value`\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "value"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Set it to `custom_field_values` to return those records related to the\nasset you're fetching. Related records are returned in an `included`\narray in the response.\n\nAllowed value: `custom_field_values`\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "custom_field_values"
          }
        ],
        "responses": {
          "200": {
            "description": "All custom field keys for the matching Brandfolder.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomFieldKey"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "opIdApiV4BrandfoldersCustomFieldKeysByBrandfolderIdPost",
        "summary": "Create custom field keys",
        "description": "Creates custom field keys for the matching brandfolder.\n\nThis endpoint is **only** needed for setting up controlled Custom Fields. If\nthis is enabled for your Brandfolder, you can set the allowed keys and\noptionally restrict their allowed values for Custom Fields using this\nendpoint.\n",
        "tags": [
          "custom_fields"
        ],
        "requestBody": {
          "description": "Custom field keys for the matching brandfolder.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The key name.",
                              "example": "color"
                            },
                            "allowed_values": {
                              "type": "array",
                              "description": "The `value` that can be used with this `key` when creating or updating any Custom Field on an Asset must be one of these strings. If not included or empty array `[]`, the `values` are unrestricted.",
                              "items": {
                                "type": "string"
                              },
                              "example": [
                                "red",
                                "white",
                                "blue"
                              ]
                            },
                            "position": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Sets the location of the custom field among other custom fields in the Brandfolder UI.",
                              "minimum": 0,
                              "example": 0
                            },
                            "prioritized": {
                              "type": "boolean",
                              "description": "Set to `true` to display the custom field in asset previews. A Brandfolder can have up to five prioritized custom fields.",
                              "example": false
                            },
                            "required": {
                              "type": "boolean",
                              "description": "If set to `true`, users uploading an asset must input the custom field before uploading the asset. Children of dependent custom fields can also be marked as required.",
                              "example": false
                            },
                            "restricted": {
                              "type": "boolean",
                              "description": "If set to `true`, the field value is restricted to a set of allowed values (see `allowed_values`); otherwise, the field value is unrestricted.",
                              "example": true
                            }
                          }
                        },
                        "required": [
                          "name"
                        ]
                      }
                    },
                    "required": [
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new custom field keys.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomFieldKey"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/organizations": {
      "parameters": [
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4OrganizationsGet",
        "summary": "List organizations",
        "description": "Lists all Organizations for a User. Unauthorized requests will return an empty list.\n\nYou can use the returned `slug` attribute to form a link to the desired Organization like so:\n\n````\nhttps://brandfolder.com/organizations/{slug}\n````\n",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "fields",
            "description": "Set it to `asset_count` to return each organization's asset count as part of each organization's attributes in the response.\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string",
              "enum": [
                "asset_count"
              ]
            },
            "example": "asset_count"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Set it to a comma-separated list (no spaces) of any of the following record names to return those records related to the organizations you're fetching. Related records are returned in an `included` array in the response.\n\nAllowed values: \n\n- brandfolders\n- brandguides\n- collections\n- portals\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "brandfolders"
          }
        ],
        "responses": {
          "200": {
            "description": "All the user's organizations.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}": {
      "parameters": [
        {
          "name": "organization_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgkkd-fr5iv4-cocc75"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4OrganizationsByIdGet",
        "summary": "Get an organization",
        "description": "You can use the returned `slug` attribute to form a link to the desired Organization like so:\n\n````\nhttps://brandfolder.com/organizations/{slug}\n````\n",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "fields",
            "description": "Set it to a comma-separated list (no spaces) of any of the following attributes of the organization to return as part of the organization's attributes in the response.\n\nAllowed values: \n\n- `asset_count` returns the organization's asset count.\n- `cname` returns the organization's Canonical Name (CNAME), or `null` if the organization doesn't have one.\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string",
              "enum": [
                "asset_count",
                "cname"
              ]
            },
            "example": "asset_count"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Set it to a comma-separated list (no spaces) of any of the following record names to return those records related to the organization you're fetching. Related records are returned in an `included` array in the response.\n\nAllowed values: \n\n- assets\n- brandfolders\n- brandguides\n- collections\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "collections"
          }
        ],
        "responses": {
          "200": {
            "description": "The matching organization.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/brandfolders": {
      "parameters": [
        {
          "name": "organization_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgkkd-fr5iv4-cocc75"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "post": {
        "operationId": "opIdApiV4OganizationsBrandfoldersByOrganizationIdPost",
        "summary": "Create a Brandfolder",
        "description": "Creates a Brandfolder in the specified organization.\n",
        "tags": [
          "brandfolders"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/json",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "Attributes for the new Brandfolder.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name of the brandfolder.",
                            "example": "Brandfolder"
                          },
                          "privacy": {
                            "type": "string",
                            "description": "The privacy setting of the brandfolder.",
                            "example": "private"
                          },
                          "slug": {
                            "type": "string",
                            "description": "The URL-friendly slug of the brandfolder.",
                            "example": "brandfolder"
                          },
                          "tagline": {
                            "type": "string",
                            "description": "The tagline of the brandfolder.",
                            "example": "You expected this - Brandfolder's Brandfolder!",
                            "default": ""
                          }
                        },
                        "required": [
                          "name"
                        ]
                      }
                    },
                    "required": [
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new Brandfolder.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Brandfolder"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "parameters": [
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4CollectionsGet",
        "summary": "List collections",
        "description": "List the collections accessible to the user. \n\nUnauthorized requests return an empty list.\n\nYou can use the returned `slug` parameter (in conjunction with the slug of\nthe parent Brandfolder) to form a link to the desired Collection like so:\n\n```\nhttps://brandfolder.com/{brandfolder_slug}/{collection_slug}\n```\n",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "security": [
          {
            "APIToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of collections accessible to the user.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Collection"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}": {
      "parameters": [
        {
          "name": "collection_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgiju-21olts-ce9egi"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4CollectionsByIdGet",
        "summary": "Fetch a collection",
        "description": "Returns the matching collection.\n",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "fields",
            "description": "Set it to `asset_count` to return the collection's asset count as part\nof the collection's attributes in the response.\n\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string",
              "enum": [
                "asset_count"
              ]
            },
            "example": "asset_count"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Set it to a comma-separated list (no spaces) of any of the following\nrecord names to return those records related to the collection you're\nfetching. Related records are returned in an `included` array in the\nresponse.\n\nAllowed values: \n\n- brandfolder\n- assets\n- search_filters\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "brandfolder"
          },
          {
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "The matching collection.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Collection"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "opIdApiV4CollectionsByIdPut",
        "summary": "Update a collection",
        "description": "Updates the matching collection.",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "description": "Attribute updates for the collection.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "A new name.",
                            "example": "New name"
                          },
                          "slug": {
                            "type": "string",
                            "description": "A new URL-friendly slug. Use only letters, numbers, hyphens,\nand underscores.\n\nNOTE: We recommend **not** to invent your own slug. If it is\nnot unique and valid, the request fails with a `422` error.\nDefault is to automatically assign a slug based on `name` (a\nname of \\\"My Collection\\\" would make a slug of\n\\\"my-collection\\\").\n",
                            "example": "new-name"
                          },
                          "tagline": {
                            "type": "string",
                            "description": "A new tag line.",
                            "example": "New tag line"
                          }
                        }
                      }
                    },
                    "required": [
                      "attibutes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated collection.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the resource instance.",
                          "example": "oqgkkd-fr5iv4-hh142d"
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the resource.",
                          "enum": [
                            "collections"
                          ]
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "A new name.",
                              "example": "New name"
                            },
                            "slug": {
                              "type": "string",
                              "description": "A new URL-friendly slug.\n",
                              "example": "new-name"
                            },
                            "tagline": {
                              "type": "string",
                              "description": "A new tag line.",
                              "example": "New tag line"
                            },
                            "public": {
                              "type": "boolean",
                              "description": "Set to `true` for hassle-free sharing, allowing search engines to index your brand assets. Otherwise, set to `false` to share only with the users you specify.",
                              "example": false
                            },
                            "stealth": {
                              "type": "boolean",
                              "description": "Set to `true` to remove the collection from appearing in web searches.",
                              "example": false
                            },
                            "is_workspace": {
                              "type": "boolean",
                              "description": "Set to `true` if the collection is a Brandfolder workspace.",
                              "example": false
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "opIdApiV4CollectionsByIdDelete",
        "summary": "Delete a collection",
        "description": "Removes the matching collection.",
        "tags": [
          "collections"
        ],
        "responses": {
          "200": {
            "description": "Successful response (always an empty object)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}/assets": {
      "parameters": [
        {
          "name": "collection_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgkkd-fr5iv4-443db"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4CollectionsAssetsByCollectionIdGet",
        "summary": "List assets in a collection",
        "description": "Lists assets in a collection.",
        "tags": [
          "assets",
          "collections"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Set this to a positive, non-zero integer representing the page number of\nthe results you want.\n",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          },
          {
            "in": "query",
            "name": "per",
            "description": "Set this pagination parameter to the maximum number of results you want\nto receive back from your request. More records may exist (as denoted by\nthe `meta.total_count` value).\n",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 3000,
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Set it to any URL-encoded query to fetch only assets that match your\ncriteria.\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "extension:png"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Set it to a comma-separated list (no spaces) of any of the following\nattributes of the asset to return as part of the asset's attributes in\nthe response.\n\nAllowed values: \n\n- `created_at`\n- `updated_at`\n- `cdn_url`\n- `availability`\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "cdn_url"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Set it to a comma-separated list (no spaces) of any of the following\nrecord names to return those records related to the asset you're\nfetching. Related records are returned in an `included` array in the\nresponse.\n\nAllowed values: \n\n- `attachments`\n- `brandfolder`\n- `collections`\n- `custom_fields`\n- `section`\n- `tags`\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "tags"
          }
        ],
        "responses": {
          "200": {
            "description": "The matching collection assets.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "This occurs for CDN URLs of assets that are pending approval or\nunpublished. \n"
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "opIdApiV4CollectionsAssetsByCollectionIdPost",
        "summary": "Create assets in a collection",
        "description": "Creates assets in the matching collection.\n\nAny files you wish to use as an Attachment in Brandfolder must be hosted at\na publicly available URL (until they have been successfully imported). If\nyou need to upload file contents directly to a server, you can use do a\nbinary file upload to our temporary storage bucket and then use that URL\nwhen creating Assets/Attachments.\n",
        "tags": [
          "assets",
          "collections"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/AssetAttributesRequest"
                        }
                      }
                    },
                    "required": [
                      "attributes"
                    ]
                  },
                  "section_key": {
                    "type": "string",
                    "description": "ID of the Section in which you want the newly created Asset(s)\nto live.\n",
                    "example": "oqgol8-dslwxs-58b2z3"
                  }
                },
                "required": [
                  "data",
                  "section_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new assets.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{collection_id}/tags": {
      "parameters": [
        {
          "name": "collection_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgkkd-fr5iv4-443db"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4CollectionsTagsByCollectionIdGet",
        "summary": "List tags in a collection",
        "description": "Lists tags in the matching collection.\n",
        "tags": [
          "collections",
          "tags"
        ],
        "responses": {
          "200": {
            "description": "Tags in the matching collection.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/brandfolders/{brandfolder_id}/sections": {
      "parameters": [
        {
          "name": "brandfolder_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgiju-21olts-ce9egi"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4SectionsGet",
        "summary": "List sections",
        "description": "Returns the Brandfolder's sections.",
        "tags": [
          "sections"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            },
            "description": "Set it to a comma-separated list (no spaces) of any of the following\nrecord names, to return those records related to the sections. Related\nrecords are returned in an `included` array in the response.\n\nAllowed values: \n\n- brandfolder\n- assets\n\nWARNING: This parameter can slow response times.\n",
            "example": "brandfolder"
          }
        ],
        "responses": {
          "200": {
            "description": "The sections in the matching Brandfolder.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Section"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "opIdApiV4BrandfoldersSectionsByBrandfolderIdPost",
        "summary": "Create a section",
        "description": "Creates a section in the matching Brandfolder.",
        "tags": [
          "sections"
        ],
        "requestBody": {
          "description": "Attribute values for the section.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "A name.",
                            "example": "My section"
                          },
                          "default_asset_type": {
                            "type": "string",
                            "description": "Set this to the type of asset to put in the section.\n\nIMPORTANT: If you're using the API to add assets to the\nsection, we strongly recommend setting this to\n`GenericFile`.\n",
                            "enum": [
                              "GenericFile",
                              "Color",
                              "Font",
                              "ExternalMedium",
                              "Person",
                              "Press",
                              "Text"
                            ],
                            "example": "GenericFile"
                          },
                          "position": {
                            "type": "integer",
                            "minimum": 0,
                            "description": "Set this to a non-negative integer that represents where to\ndisplay the section relative to other sections. The first\nposition is `0`. The new position defaults to the next\navailable position.\n",
                            "example": 0
                          }
                        },
                        "required": [
                          "name",
                          "default_asset_type"
                        ]
                      }
                    },
                    "required": [
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new section.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Section"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sections/{section_id}": {
      "parameters": [
        {
          "name": "section_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgol8-dslwxs-58b2z3"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4SectionsByIdGet",
        "summary": "Fetch a section.",
        "description": "Fetches the matching section.",
        "tags": [
          "sections"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            },
            "description": "Set it to a comma-separated list (no spaces) of any of the following\nrecord names, to return those records related to the sections. Related\nrecords are returned in an `included` array in the response.\n\nAllowed values: \n\n- brandfolder\n- assets\n\nWARNING: This parameter can slow response times.\n",
            "example": "brandfolder"
          }
        ],
        "responses": {
          "200": {
            "description": "The matching section.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Section"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sections/{section_id}/assets": {
      "parameters": [
        {
          "name": "section_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgol8-dslwxs-58b2z3"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4SectionsAssetsBySectionIdGet",
        "summary": "List assets in a section",
        "description": "Lists assets in the matching section.",
        "tags": [
          "assets",
          "sections"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Set this to a positive, non-zero integer representing the page number of\nthe results you want.\n",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          },
          {
            "in": "query",
            "name": "per",
            "description": "Set this pagination parameter to the maximum number of results you want\nto receive back from your request. More records may exist (as denoted by\nthe `meta.total_count` value).\n",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 3000,
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Set it to any URL-encoded query to fetch only assets that match your\ncriteria.\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "extension:png"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Set it to a comma-separated list (no spaces) of any of the following\nattributes of the asset to return as part of the asset's attributes in\nthe response.\n\nAllowed values: \n\n- `created_at`\n- `updated_at`\n- `cdn_url`\n- `availability`\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "cdn_url"
          }
        ],
        "responses": {
          "200": {
            "description": "The matching section assets.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "This occurs for CDN URLs of assets that are pending approval or\nunpublished. \n"
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/brandfolders/{brandfolder_id}/assets": {
      "parameters": [
        {
          "name": "brandfolder_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgiju-21olts-ce9egi"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4BrandfoldersAssetsByBrandfolderIdGet",
        "summary": "List assets in a Brandfolder",
        "description": "Lists assets in a Brandfolder.",
        "tags": [
          "assets",
          "brandfolders"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Set this to a positive, non-zero integer representing the page number of\nthe results you want.\n",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          },
          {
            "in": "query",
            "name": "per",
            "description": "Set this pagination parameter to the maximum number of results you want\nto receive back from your request. More records may exist (as denoted by\nthe `meta.total_count` value).\n",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 3000,
              "default": 100
            }
          },
          {
            "in": "query",
            "name": "search",
            "description": "Set it to any URL-encoded query to fetch only assets that match your\ncriteria.\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "extension:png"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Set it to a comma-separated list (no spaces) of any of the following\nattributes of the asset to return as part of the asset's attributes in\nthe response.\n\nAllowed values: \n\n- `created_at`\n- `updated_at`\n- `cdn_url`\n- `availability`\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "cdn_url"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Set it to a comma-separated list (no spaces) of any of the following\nrecord names to return those records related to the asset you're\nfetching. Related records are returned in an `included` array in the\nresponse.\n\nAllowed values: \n\n- `attachments`\n- `brandfolder`\n- `collections`\n- `custom_fields`\n- `section`\n- `tags`\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "tags"
          }
        ],
        "responses": {
          "200": {
            "description": "The matching Brandfolder assets.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "This occurs for CDN URLs of assets that are pending approval or\nunpublished. \n"
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "opIdApiV4CollectionsAssetsByBrandfolderIdPost",
        "summary": "Create assets in a Brandfolder",
        "description": "Creates assets in the matching Brandfolder.\n\nAny files you wish to use as an Attachment in Brandfolder must be hosted at\na publicly available URL (until they have been successfully imported). If\nyou need to upload file contents directly to a server, you can use do a\nbinary file upload to our temporary storage bucket and then use that URL\nwhen creating Assets/Attachments.\n\n> **NOTE:** To create an asset from a binary upload, copy the `object_url`\nvalue from the [Get an upload\nURL](/api/brandfolder/openapi/binary_upload/opidstorageserviceuploadrequestsget)\nresponse into your request body's `attachments.url` property.\n",
        "tags": [
          "assets",
          "brandfolders"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/AssetAttributesRequest"
                        }
                      }
                    },
                    "required": [
                      "attributes"
                    ]
                  },
                  "section_key": {
                    "type": "string",
                    "description": "ID of the Section in which you want the newly created Asset(s)\nto live.\n",
                    "example": "oqgol8-dslwxs-58b2z3"
                  }
                },
                "required": [
                  "data",
                  "section_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new assets.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Asset"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{asset_id}": {
      "parameters": [
        {
          "name": "asset_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgkkd-fr5iv4-443db"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4AssetsByIdGet",
        "summary": "Fetch an asset",
        "description": "Fetches the matching asset.",
        "tags": [
          "assets"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "fields",
            "description": "Set it to a comma-separated list (no spaces) of any of the following\nattributes of the asset to return as part of the asset's attributes in\nthe response.\n\nAllowed values: \n\n- `created_at`\n- `updated_at`\n- `cdn_url`\n- `availability`\n- `availability_start`\n- `availability_end`\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "cdn_url"
          },
          {
            "in": "query",
            "name": "include",
            "description": "Set it to a comma-separated list (no spaces) of any of the following\nrecord names to return those records related to the asset you're\nfetching. Related records are returned in an `included` array in the\nresponse.\n\nAllowed values: \n\n- `attachments`\n- `brandfolder`\n- `collections`\n- `custom_fields`\n- `section`\n- `tags`\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "tags"
          },
          {
            "in": "header",
            "name": "Accept",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            },
            "example": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "The matching asset.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Asset"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "This occurs for CDN URLs of assets that are pending approval or\nunpublished. \n"
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "opIdApiV4AssetsByIdPut",
        "summary": "Update an asset",
        "description": "Updates the matching asset.\n\n> **Note:** All attributes are optional when updating. Only include the ones\nyou want to change.\n\nAny files you wish to use as an Attachment in Brandfolder must be hosted at\na publicly available URL (until they have been successfully imported). If\nyou need to upload file contents directly to a server, you can use do a\nbinary file upload to our temporary storage bucket and then use that URL\nwhen creating Assets/Attachments.\n",
        "tags": [
          "assets"
        ],
        "requestBody": {
          "description": "Attribute updates for an asset.\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "$ref": "#/components/schemas/AssetAttributesRequest"
                      }
                    },
                    "required": [
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated asset.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Asset"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "opIdApiV4AssetsByIdDelete",
        "summary": "Delete an asset",
        "description": "Removes the matching asset.",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response (always an empty object)\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{asset_id}/tags": {
      "parameters": [
        {
          "name": "asset_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgkkd-fr5iv4-443db"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4AssetsTagsByAssetIdGet",
        "summary": "List tags for an asset",
        "description": "Lists tags for the matching asset.\n",
        "tags": [
          "assets",
          "tags"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "description": "Set it to `asset` to return those asset records related to the tag\nyou're fetching. Related records are returned in an `included` array in\nthe response.\n\nAllowed value:  `asset`\n\nWARNING: This parameter can slow response times.\n",
            "schema": {
              "type": "string"
            },
            "example": "asset"
          }
        ],
        "responses": {
          "200": {
            "description": "Tags for the matching asset.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "opIdApiV4AssetsTagsByAssetIdPost",
        "summary": "Create tags for an asset",
        "description": "Creates tags for the matching asset.\n\n> **Note:** You can add multiple tags to the `attributes` array in the\nrequest body.\n",
        "tags": [
          "tags"
        ],
        "requestBody": {
          "description": "New tag names for the asset.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "array",
                        "description": "A list of tag names for the matching asset.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "A tag name.",
                              "example": "product"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "attributes"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All tags for the matching asset.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/assets/{asset_id}/custom_field_values": {
      "parameters": [
        {
          "name": "asset_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgkkd-fr5iv4-443db"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "get": {
        "operationId": "opIdApiV4AssetsCustomFieldValuesByAssetIdGet",
        "summary": "List custom fields",
        "description": "Lists custom fields for the matching asset.\n",
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            },
            "description": "Set it to `custom_field_key` to return those custom field keys related\nto the asset you're fetching. Related records are returned in an\n`included` array in the response.\n\nAllowed value: `custom_field_key`\n\nWARNING: This parameter can slow response times.\n"
          }
        ],
        "tags": [
          "custom_fields"
        ],
        "responses": {
          "200": {
            "description": "The custom fields for the asset.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomFieldValue"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMetadataResponse"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Generic error payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/custom_field_keys/{custom_field_key_id}/custom_field_values": {
      "parameters": [
        {
          "name": "custom_field_key_id",
          "in": "path",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Unique identifier for the resource instance.",
          "example": "oqgkkd-fr5iv4-443db"
        },
        {
          "in": "header",
          "name": "Content-Type",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "in": "header",
          "name": "Accept",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "application/json"
            ]
          },
          "example": "application/json"
        },
        {
          "$ref": "#/components/parameters/Authorization"
        }
      ],
      "post": {
        "operationId": "opIdApiV4CustomFieldKeysCustomFieldValuesByCustomFieldKeyIdPost",
        "summary": "Create custom field values for an asset",
        "description": "Creates custom fields for the matching asset.\n\nIn order to use this endpoint, you will need to have the Custom Field Key ID\nfor the Custom Field you wish to create. Please see [List Custom Field Keys\nfor a\nBrandfolder](/api/brandfolder/openapi/custom_fields/opidapiv4brandfolderscustomfieldkeysbybrandfolderidget)\nto get a list of the Custom Field Key IDs.\n\nWant to learn more about Custom Fields? Check out out our Knowledge Base\narticle on <a href=\"https://help.smartsheet.com/115002608613-Setting-up-Custom-Fields\" target=\"_blank\">Custom\nFields</a>.\n",
        "tags": [
          "custom_fields"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "description": "A list of custom field associations.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Custom field key value.",
                              "example": "red"
                            }
                          },
                          "required": [
                            "value"
                          ]
                        },
                        "relationships": {
                          "type": "object",
                          "description": "Specifies the object receiving the custom field.",
                          "properties": {
                            "asset": {
                              "type": "object",
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type of target object.",
                                      "enum": [
                                        "assets"
                                      ]
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The ID of the asset.",
                                      "example": "k5nj2bf5mc36j3ssm63359h"
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "id"
                                  ]
                                }
                              },
                              "required": [
                                "data"
                              ]
                            }
                          },
                          "required": [
                            "asset"
                          ]
                        }
                      },
                      "required": [
                        "attributes",
                        "relationships"
                      ]
                    }
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new custom fields.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
