{
  "openapi": "3.0.3",
  "info": {
    "title": "Cynthia AI API",
    "version": "1.0.0",
    "description": "Cynthia AI API for managing review data and authentication. Integrates with Zapier for automated review processing.",
    "x-jentic-source-url": "https://gist.github.com/akarshghale/0a57aa9fac65e312122b48b2d588bc26",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://server.andromeda-intelligence.com"
    }
  ],
  "paths": {
    "/zapier_token_exchange": {
      "post": {
        "operationId": "exchangeToken",
        "summary": "Exchange credentials for token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Exchange credentials for token"
      }
    },
    "/zapier_test_credentials": {
      "get": {
        "operationId": "testCredentials",
        "summary": "Test credentials",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Test credentials"
      }
    },
    "/zapier_receive_data": {
      "post": {
        "operationId": "receiveData",
        "summary": "Receive review data",
        "tags": [
          "Reviews"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Receive review data"
      }
    }
  },
  "components": {
    "schemas": {
      "ReviewData": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "review": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "author_email": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "rating": {
            "type": "number"
          },
          "tags": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Reviews"
    }
  ]
}
