{
  "openapi": "3.0.3",
  "info": {
    "title": "Danbooru Anime API",
    "version": "1.0.0",
    "description": "Danbooru is an anime image board with a powerful tagging system. The API provides access to posts, tags, artists, pools, comments, and user management.",
    "x-jentic-source-url": "https://danbooru.donmai.us/wiki_pages/help:api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://danbooru.donmai.us",
      "description": "Production server"
    },
    {
      "url": "https://testbooru.donmai.us",
      "description": "Test server"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Posts",
      "description": "Manage and search anime image posts"
    },
    {
      "name": "Tags",
      "description": "Manage and search tags"
    },
    {
      "name": "Artists",
      "description": "Manage artist information"
    },
    {
      "name": "Pools",
      "description": "Manage image pools/collections"
    },
    {
      "name": "Comments",
      "description": "Manage post comments"
    }
  ],
  "paths": {
    "/posts.json": {
      "get": {
        "operationId": "listPosts",
        "summary": "List posts",
        "description": "Returns a list of posts with optional search filters",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 200,
              "default": 20
            },
            "description": "Number of posts to return (max 200)"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Page number or use b<id> for before, a<id> for after"
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Space-separated list of tags to search"
          },
          {
            "name": "search[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by post ID or range"
          },
          {
            "name": "search[rating]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "g",
                "s",
                "q",
                "e"
              ]
            },
            "description": "Filter by rating (g=general, s=sensitive, q=questionable, e=explicit)"
          }
        ],
        "responses": {
          "200": {
            "description": "Posts retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPost",
        "summary": "Create post",
        "description": "Upload a new post to the imageboard",
        "tags": [
          "Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Post created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/posts/{id}.json": {
      "get": {
        "operationId": "getPost",
        "summary": "Get post",
        "description": "Returns a single post by ID",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Post ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Post retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updatePost",
        "summary": "Update post",
        "description": "Update an existing post",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Post ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePost",
        "summary": "Delete post",
        "description": "Delete a post",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Post ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Post deleted successfully"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Post not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/posts/random.json": {
      "get": {
        "operationId": "getRandomPost",
        "summary": "Get random post",
        "description": "Returns a random post with optional tag filters",
        "tags": [
          "Posts"
        ],
        "parameters": [
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Space-separated list of tags to filter"
          },
          {
            "name": "rating",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "g",
                "s",
                "q",
                "e"
              ]
            },
            "description": "Filter by rating"
          }
        ],
        "responses": {
          "200": {
            "description": "Random post retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "description": "No posts found matching criteria",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags.json": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "description": "Returns a list of tags with optional search filters",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 100
            },
            "description": "Number of tags to return (max 1000)"
          },
          {
            "name": "search[name_matches]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search tags by name pattern"
          },
          {
            "name": "search[category]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by tag category (0=general, 1=artist, 3=copyright, 4=character, 5=meta)"
          },
          {
            "name": "search[order]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "count",
                "date"
              ]
            },
            "description": "Sort order"
          }
        ],
        "responses": {
          "200": {
            "description": "Tags retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Create tag",
        "description": "Create a new tag",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTagRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tag created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/artists.json": {
      "get": {
        "operationId": "listArtists",
        "summary": "List artists",
        "description": "Returns a list of artists",
        "tags": [
          "Artists"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 100
            },
            "description": "Number of artists to return"
          },
          {
            "name": "search[name]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by artist name"
          },
          {
            "name": "search[is_active]",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by active status"
          }
        ],
        "responses": {
          "200": {
            "description": "Artists retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Artist"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createArtist",
        "summary": "Create artist",
        "description": "Create a new artist entry",
        "tags": [
          "Artists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateArtistRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Artist created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artist"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comments.json": {
      "get": {
        "operationId": "listComments",
        "summary": "List comments",
        "description": "Returns a list of comments",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 100
            },
            "description": "Number of comments to return"
          },
          {
            "name": "search[post_id]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by post ID"
          },
          {
            "name": "search[creator_id]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by creator ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Comments retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Comment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create comment",
        "description": "Create a new comment on a post",
        "tags": [
          "Comments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Comment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Danbooru API key (also requires login parameter)"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication with username:api_key"
      }
    },
    "schemas": {
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "uploader_id": {
            "type": "integer"
          },
          "score": {
            "type": "integer"
          },
          "source": {
            "type": "string"
          },
          "md5": {
            "type": "string"
          },
          "rating": {
            "type": "string",
            "enum": [
              "g",
              "s",
              "q",
              "e"
            ]
          },
          "image_width": {
            "type": "integer"
          },
          "image_height": {
            "type": "integer"
          },
          "tag_string": {
            "type": "string"
          },
          "tag_string_general": {
            "type": "string"
          },
          "tag_string_character": {
            "type": "string"
          },
          "tag_string_copyright": {
            "type": "string"
          },
          "tag_string_artist": {
            "type": "string"
          },
          "file_url": {
            "type": "string"
          },
          "large_file_url": {
            "type": "string"
          },
          "preview_file_url": {
            "type": "string"
          }
        }
      },
      "CreatePostRequest": {
        "type": "object",
        "required": [
          "upload"
        ],
        "properties": {
          "upload": {
            "type": "string",
            "description": "File data or URL"
          },
          "tag_string": {
            "type": "string",
            "description": "Space-separated tags"
          },
          "rating": {
            "type": "string",
            "enum": [
              "g",
              "s",
              "q",
              "e"
            ]
          },
          "source": {
            "type": "string"
          },
          "parent_id": {
            "type": "integer"
          }
        }
      },
      "UpdatePostRequest": {
        "type": "object",
        "properties": {
          "tag_string": {
            "type": "string"
          },
          "rating": {
            "type": "string",
            "enum": [
              "g",
              "s",
              "q",
              "e"
            ]
          },
          "source": {
            "type": "string"
          },
          "parent_id": {
            "type": "integer"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "post_count": {
            "type": "integer"
          },
          "category": {
            "type": "integer",
            "description": "0=general, 1=artist, 3=copyright, 4=character, 5=meta"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_locked": {
            "type": "boolean"
          }
        }
      },
      "CreateTagRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "category": {
            "type": "integer"
          }
        }
      },
      "Artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "is_active": {
            "type": "boolean"
          },
          "other_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "group_name": {
            "type": "string"
          },
          "url_string": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateArtistRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "other_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "url_string": {
            "type": "string"
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "post_id": {
            "type": "integer"
          },
          "creator_id": {
            "type": "integer"
          },
          "body": {
            "type": "string"
          },
          "score": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_deleted": {
            "type": "boolean"
          }
        }
      },
      "CreateCommentRequest": {
        "type": "object",
        "required": [
          "post_id",
          "body"
        ],
        "properties": {
          "post_id": {
            "type": "integer"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}
