{
  "openapi": "3.0.3",
  "info": {
    "title": "Pravatar API",
    "version": "1.0.0",
    "description": "CC0 placeholder avatar image service. Returns random or deterministic avatar images based on size, ID, or unique identifier.",
    "x-jentic-source-url": "https://pravatar.cc/"
  },
  "servers": [
    {
      "url": "https://i.pravatar.cc"
    }
  ],
  "paths": {
    "/{size}": {
      "get": {
        "operationId": "getRandomAvatar",
        "summary": "Get a random avatar",
        "description": "Returns a random avatar image at the specified size.",
        "tags": [
          "Avatars"
        ],
        "parameters": [
          {
            "name": "size",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Avatar size in pixels"
          },
          {
            "name": "img",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Specific avatar ID to retrieve"
          },
          {
            "name": "u",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier (email or hash) for deterministic avatar selection"
          }
        ],
        "responses": {
          "200": {
            "description": "Avatar image",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid size parameter"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  },
  "security": []
}