{
  "openapi": "3.0.3",
  "info": {
    "title": "Ethplorer",
    "version": "1.0.0",
    "description": "Ethplorer API provides Ethereum blockchain data including token information, address details, transaction history, and top token rankings.",
    "x-jentic-source-url": "https://github.com/EverexIO/Ethplorer/wiki/Ethplorer-API"
  },
  "servers": [
    {
      "url": "https://api.ethplorer.io",
      "description": "Ethereum Mainnet"
    }
  ],
  "paths": {
    "/getLastBlock": {
      "get": {
        "operationId": "getLastBlock",
        "summary": "Get the last block number",
        "tags": [
          "Blockchain"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "API key (use 'freekey' for free tier)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Last block number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lastBlock": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getTokenInfo/{address}": {
      "get": {
        "operationId": "getTokenInfo",
        "summary": "Get token information by contract address",
        "tags": [
          "Tokens"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Token contract address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getAddressInfo/{address}": {
      "get": {
        "operationId": "getAddressInfo",
        "summary": "Get address information including ETH balance and tokens",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Ethereum address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Filter by specific token address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showETHTotals",
            "in": "query",
            "required": false,
            "description": "Show ETH totals",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "showTxsCount",
            "in": "query",
            "required": false,
            "description": "Show transaction counts",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getTxInfo/{hash}": {
      "get": {
        "operationId": "getTransactionInfo",
        "summary": "Get transaction information by hash",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "description": "Transaction hash",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getTokenHistory/{address}": {
      "get": {
        "operationId": "getTokenHistory",
        "summary": "Get last token operations for a token contract",
        "tags": [
          "Tokens"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Token contract address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Operation type filter",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "mint",
                "burn"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results (max 1000)",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "description": "Starting timestamp for results",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token operation history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getAddressHistory/{address}": {
      "get": {
        "operationId": "getAddressHistory",
        "summary": "Get last token operations involving an address",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Ethereum address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "description": "Filter by token address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results (max 1000)",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "description": "Starting timestamp",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address operation history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationHistoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getAddressTransactions/{address}": {
      "get": {
        "operationId": "getAddressTransactions",
        "summary": "Get ETH transactions for an address",
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Ethereum address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results (max 1000)",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "description": "Starting timestamp",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "showZeroValues",
            "in": "query",
            "required": false,
            "description": "Include zero value transactions",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EthTransaction"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getTop": {
      "get": {
        "operationId": "getTopTokens",
        "summary": "Get top tokens by trade volume, market cap, or operations count",
        "tags": [
          "Rankings"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "criteria",
            "in": "query",
            "required": false,
            "description": "Ranking criteria",
            "schema": {
              "type": "string",
              "enum": [
                "trade",
                "cap",
                "count"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results (max 50)",
            "schema": {
              "type": "integer",
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TokenInfo"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getTopTokens": {
      "get": {
        "operationId": "getTopActiveTokens",
        "summary": "Get top 50 most active tokens in the last 30 days",
        "tags": [
          "Rankings"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top active tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TokenInfo"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getTopTokenHolders/{address}": {
      "get": {
        "operationId": "getTopTokenHolders",
        "summary": "Get top token holders by contract address",
        "tags": [
          "Rankings"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "Token contract address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results (max 1000 for personal key, 100 for freekey)",
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top token holders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "holders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TokenHolder"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getTokensNew": {
      "get": {
        "operationId": "getNewTradableTokens",
        "summary": "Get recently listed tradable tokens (Ethereum Mainnet only)",
        "tags": [
          "Tokens"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New tradable tokens (up to 100)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TokenInfo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenInfo": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "decimals": {
            "type": "integer"
          },
          "totalSupply": {
            "type": "string"
          },
          "holdersCount": {
            "type": "integer"
          },
          "transfersCount": {
            "type": "integer"
          },
          "price": {
            "type": "object",
            "properties": {
              "rate": {
                "type": "number"
              },
              "currency": {
                "type": "string"
              },
              "diff": {
                "type": "number"
              },
              "diff7d": {
                "type": "number"
              },
              "diff30d": {
                "type": "number"
              },
              "marketCapUsd": {
                "type": "number"
              },
              "availableSupply": {
                "type": "number"
              },
              "volume24h": {
                "type": "number"
              },
              "ts": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AddressInfo": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "ETH": {
            "type": "object",
            "properties": {
              "balance": {
                "type": "number"
              },
              "totalIn": {
                "type": "number"
              },
              "totalOut": {
                "type": "number"
              }
            }
          },
          "contractInfo": {
            "type": "object",
            "properties": {
              "creatorAddress": {
                "type": "string"
              },
              "transactionHash": {
                "type": "string"
              }
            }
          },
          "tokenInfo": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "tokens": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tokenInfo": {
                  "$ref": "#/components/schemas/TokenInfo"
                },
                "balance": {
                  "type": "number"
                }
              }
            }
          },
          "countTxs": {
            "type": "integer"
          }
        }
      },
      "TransactionInfo": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "blockNumber": {
            "type": "integer"
          },
          "confirmations": {
            "type": "integer"
          },
          "success": {
            "type": "boolean"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "input": {
            "type": "string"
          },
          "gasLimit": {
            "type": "integer"
          },
          "gasUsed": {
            "type": "integer"
          },
          "operations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenOperation"
            }
          }
        }
      },
      "TokenOperation": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer"
          },
          "transactionHash": {
            "type": "string"
          },
          "tokenInfo": {
            "$ref": "#/components/schemas/TokenInfo"
          },
          "type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          }
        }
      },
      "OperationHistoryResponse": {
        "type": "object",
        "properties": {
          "operations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenOperation"
            }
          }
        }
      },
      "EthTransaction": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "hash": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "TokenHolder": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "balance": {
            "type": "number"
          },
          "share": {
            "type": "number",
            "description": "Percentage share"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key (use 'freekey' for free tier access)"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tokens",
      "description": "Token data endpoints"
    },
    {
      "name": "Addresses",
      "description": "Address data endpoints"
    },
    {
      "name": "Transactions",
      "description": "Transaction data endpoints"
    },
    {
      "name": "Blockchain",
      "description": "Blockchain state endpoints"
    },
    {
      "name": "Rankings",
      "description": "Top token and holder rankings"
    }
  ]
}