{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "MPos POS Servicios API",
    "title": "MPos POS Servicios",
    "version": "1.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/visanet/api.mposposservices/1.1/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.posservicios.quiputech.com/v1"
    }
  ],
  "paths": {
    "/terminal/{terminalId}/functions": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "terminalId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Function definition"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "terminal"
        ],
        "description": "Get functions for a Terminal Id",
        "operationId": "get-terminal-by-terminalid-functions",
        "summary": "Get functions for a Terminal Id"
      }
    },
    "/terminal/{terminalId}/functions/{functionId}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "functionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "terminalId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Function"
                }
              }
            },
            "description": "Function definition"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "terminal"
        ],
        "description": "Get function definition for a Terminal Id",
        "operationId": "get-terminal-by-terminalid-functions-by-functionid",
        "summary": "Get function definition for a Terminal Id"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "functionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "terminalId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "terminal"
        ],
        "description": "POST /terminal/{terminalId}/functions/{functionId}",
        "operationId": "post-terminal-by-terminalid-functions-by-functionid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Function"
              }
            }
          },
          "required": true
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Company": {
        "properties": {
          "functions": {
            "$ref": "#/components/schemas/Data"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Data": {
        "items": {
          "properties": {
            "isArray": {
              "type": "boolean"
            },
            "key": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "type": "array"
      },
      "Error": {
        "properties": {
          "code": {
            "format": "int32",
            "type": "integer"
          },
          "fields": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Field": {
        "properties": {
          "actionId": {
            "type": "string"
          },
          "buttonImageId": {
            "type": "string"
          },
          "dateFormat": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "maxLength": {
            "format": "int32",
            "type": "number"
          },
          "readonly": {
            "type": "boolean"
          },
          "required": {
            "type": "boolean"
          },
          "selectorId": {
            "type": "string"
          },
          "templateId": {
            "type": "string"
          },
          "type": {
            "enum": [
              "TEXT",
              "NUMBER",
              "DATE",
              "EMAIL",
              "BOOLEAN",
              "PASSWORD",
              "TEMPLATE",
              "BUTTON",
              "CANCEL",
              "PAD"
            ],
            "type": "string"
          },
          "validationMessage": {
            "type": "string"
          },
          "variableId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Function": {
        "properties": {
          "id": {
            "type": "string"
          },
          "initialScreen": {
            "type": "string"
          },
          "libraries": {
            "items": {
              "$ref": "#/components/schemas/Library"
            },
            "type": "array"
          },
          "resources": {
            "items": {
              "$ref": "#/components/schemas/Resource"
            },
            "type": "array"
          },
          "screens": {
            "items": {
              "$ref": "#/components/schemas/Screen"
            },
            "type": "array"
          },
          "vouchers": {
            "items": {
              "$ref": "#/components/schemas/Voucher"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Library": {
        "properties": {
          "function": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "requestData": {
            "$ref": "#/components/schemas/Data"
          },
          "responseData": {
            "$ref": "#/components/schemas/Data"
          }
        },
        "type": "object"
      },
      "Popup": {
        "properties": {
          "requestData": {
            "$ref": "#/components/schemas/Data"
          },
          "responseData": {
            "$ref": "#/components/schemas/Data"
          },
          "screenId": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Resource": {
        "properties": {
          "base64": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Screen": {
        "properties": {
          "actions": {
            "items": {
              "properties": {
                "conditions": {
                  "items": {
                    "properties": {
                      "error": {
                        "type": "boolean"
                      },
                      "message": {
                        "type": "string"
                      },
                      "next": {
                        "type": "string"
                      },
                      "statusCode": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "id": {
                  "type": "string"
                },
                "library": {
                  "$ref": "#/components/schemas/Library"
                },
                "loadingCaption": {
                  "type": "string"
                },
                "popup": {
                  "$ref": "#/components/schemas/Popup"
                },
                "service": {
                  "$ref": "#/components/schemas/Service"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "fields": {
            "items": {
              "$ref": "#/components/schemas/Field"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          },
          "isFinal": {
            "type": "boolean"
          },
          "onloadAction": {
            "type": "string"
          },
          "outputData": {
            "$ref": "#/components/schemas/Data"
          },
          "templates": {
            "items": {
              "$ref": "#/components/schemas/Template"
            },
            "type": "array"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "enum": [
              "POPUP",
              "REPORT",
              "FORM",
              "PAD"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "Service": {
        "properties": {
          "function": {
            "type": "string"
          },
          "requestData": {
            "$ref": "#/components/schemas/Data"
          },
          "responseData": {
            "$ref": "#/components/schemas/Data"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Template": {
        "properties": {
          "fields": {
            "items": {
              "properties": {
                "template": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Voucher": {
        "properties": {
          "id": {
            "type": "string"
          },
          "isFinal": {
            "type": "boolean"
          },
          "next": {
            "type": "string"
          },
          "voucherTemplate": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "name": "terminal"
    }
  ]
}