{
  "openapi": "3.0.0",
  "info": {
    "description": "Provides read and update functionality for Azure SQL Server backup long term retention vault",
    "title": "Azure SQL Server Backup Long Term Retention Vault",
    "version": "2014-04-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/sql-backupLongTermRetentionVaults/2014-04-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/backupLongTermRetentionVaults.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "sql-backupLongTermRetentionVaults",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/backupLongTermRetentionVaults": {
      "get": {
        "parameters": [
          {
            "description": "The API version to use for the request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "description": "The subscription ID that identifies an Azure subscription.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupLongTermRetentionVaultListResult"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BackupLongTermRetentionVaults"
        ],
        "description": "Gets server backup long term retention vaults in a server",
        "operationId": "BackupLongTermRetentionVaults_ListByServer",
        "x-ms-examples": {
          "Get backup long term retention vault": {
            "parameters": {
              "api-version": "2014-04-01",
              "resourceGroupName": "longtermretentiontest-1234",
              "serverName": "longtermretentiontest-5678",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/backupLongTermRetentionVaults/RegisteredVault",
                      "location": "Japan East",
                      "name": "RegisteredVault",
                      "properties": {
                        "recoveryServicesVaultResourceId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc"
                      },
                      "type": "Microsoft.Sql/servers/backupLongTermRetentionVaults"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/backupLongTermRetentionVaults/{backupLongTermRetentionVaultName}": {
      "get": {
        "parameters": [
          {
            "description": "The API version to use for the request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "description": "The subscription ID that identifies an Azure subscription.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the Azure SQL Server backup LongTermRetention vault",
            "in": "path",
            "name": "backupLongTermRetentionVaultName",
            "required": true,
            "schema": {
              "enum": [
                "RegisteredVault"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "BackupLongTermRetentionVaultName"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupLongTermRetentionVault"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "BackupLongTermRetentionVaults"
        ],
        "description": "Gets a server backup long term retention vault",
        "operationId": "BackupLongTermRetentionVaults_Get",
        "x-ms-examples": {
          "Get backup long term retention vault": {
            "parameters": {
              "api-version": "2014-04-01",
              "backupLongTermRetentionVaultName": "RegisteredVault",
              "resourceGroupName": "longtermretentiontest-1234",
              "serverName": "longtermretentiontest-5678",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/backupLongTermRetentionVaults/RegisteredVault",
                  "location": "Japan East",
                  "name": "RegisteredVault",
                  "properties": {
                    "recoveryServicesVaultResourceId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc"
                  },
                  "type": "Microsoft.Sql/servers/backupLongTermRetentionVaults"
                }
              }
            }
          }
        }
      },
      "put": {
        "parameters": [
          {
            "description": "The API version to use for the request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "description": "The subscription ID that identifies an Azure subscription.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "client"
          },
          {
            "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/components/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the backup long term retention vault",
            "in": "path",
            "name": "backupLongTermRetentionVaultName",
            "required": true,
            "schema": {
              "enum": [
                "RegisteredVault"
              ],
              "type": "string"
            },
            "x-ms-enum": {
              "modelAsString": true,
              "name": "BackupLongTermRetentionVaultName"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupLongTermRetentionVault"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupLongTermRetentionVault"
                }
              }
            },
            "description": "Created"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "tags": [
          "BackupLongTermRetentionVaults"
        ],
        "description": "Updates a server backup long term retention vault",
        "operationId": "BackupLongTermRetentionVaults_CreateOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupLongTermRetentionVault"
              }
            }
          },
          "description": "The required parameters to update a backup long term retention vault",
          "required": true
        },
        "x-ms-examples": {
          "Update backup long term retention vault": {
            "parameters": {
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "recoveryServicesVaultResourceId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-5678/providers/Microsoft.RecoveryServices/vaults/testVaultabc"
                }
              },
              "api-version": "2014-04-01",
              "backupLongTermRetentionVaultName": "RegisteredVault",
              "resourceGroupName": "longtermretentiontest-1234",
              "serverName": "longtermretentiontest-5678",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/backupLongTermRetentionVaults/RegisteredVault",
                  "location": "Japan East",
                  "name": "RegisteredVault",
                  "properties": {
                    "recoveryServicesVaultResourceId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc"
                  },
                  "type": "Microsoft.Sql/servers/backupLongTermRetentionVaults"
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/backupLongTermRetentionVaults/RegisteredVault",
                  "location": "Japan East",
                  "name": "RegisteredVault",
                  "properties": {
                    "recoveryServicesVaultResourceId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc"
                  },
                  "type": "Microsoft.Sql/servers/backupLongTermRetentionVaults"
                }
              },
              "202": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "components": {
    "parameters": {
      "ServerNameParameter": {
        "description": "The name of the server.",
        "in": "path",
        "name": "serverName",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "BackupLongTermRetentionVault": {
        "allOf": [
          {
            "allOf": [
              {
                "description": "ARM resource.",
                "properties": {
                  "id": {
                    "description": "Resource ID.",
                    "readOnly": true,
                    "type": "string"
                  },
                  "name": {
                    "description": "Resource name.",
                    "readOnly": true,
                    "type": "string"
                  },
                  "type": {
                    "description": "Resource type.",
                    "readOnly": true,
                    "type": "string"
                  }
                },
                "type": "object",
                "x-ms-azure-resource": true
              }
            ],
            "description": "ARM proxy resource.",
            "properties": {},
            "type": "object"
          }
        ],
        "description": "A backup long term retention vault",
        "properties": {
          "location": {
            "description": "The geo-location where the resource lives",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/BackupLongTermRetentionVaultProperties",
            "description": "The properties of the backup long term retention vault",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "BackupLongTermRetentionVaultListResult": {
        "description": "Represents the response to a list vaults request.",
        "properties": {
          "value": {
            "description": "The list of vaults in the server.",
            "items": {
              "$ref": "#/components/schemas/BackupLongTermRetentionVault"
            },
            "type": "array"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "BackupLongTermRetentionVaultProperties": {
        "description": "The properties of a backup long term retention vault.",
        "properties": {
          "recoveryServicesVaultResourceId": {
            "description": "The azure recovery services vault resource id",
            "type": "string"
          }
        },
        "required": [
          "recoveryServicesVaultResourceId"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  }
}