{
  "openapi": "3.0.3",
  "info": {
    "title": "AddressFinder API",
    "version": "1.0.0",
    "description": "AddressFinder provides address autocomplete and verification services for Australian and New Zealand addresses. Includes address search, metadata lookup, and location verification.",
    "x-jentic-source-url": "https://addressfinder.com/au/docs",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.addressfinder.io/api",
      "description": "AddressFinder API"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Australian Addresses",
      "description": "Australian address operations"
    },
    {
      "name": "New Zealand Addresses",
      "description": "New Zealand address operations"
    },
    {
      "name": "Email Verification",
      "description": "Email verification services"
    }
  ],
  "paths": {
    "/au/address": {
      "get": {
        "operationId": "searchAustralianAddresses",
        "summary": "Search Australian addresses",
        "description": "Autocomplete search for Australian addresses. Returns a list of matching addresses.",
        "tags": [
          "Australian Addresses"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Address search query"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API secret"
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Max results"
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by state (e.g. NSW, VIC)"
          },
          {
            "name": "gnaf",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Include GNAF data"
          },
          {
            "name": "gps",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Include GPS coordinates"
          },
          {
            "name": "census",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Include census data"
          }
        ],
        "responses": {
          "200": {
            "description": "Address search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "completions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuAddressResult"
                      }
                    },
                    "paid": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/au/address/v2": {
      "get": {
        "operationId": "searchAustralianAddressesV2",
        "summary": "Search Australian addresses (v2)",
        "description": "Enhanced address autocomplete with improved matching algorithm.",
        "tags": [
          "Australian Addresses"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "completions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuAddressResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/au/address/info": {
      "get": {
        "operationId": "getAustralianAddressInfo",
        "summary": "Get detailed Australian address information",
        "description": "Retrieve full metadata for a specific address using its PXID.",
        "tags": [
          "Australian Addresses"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pxid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Address PXID from search results"
          },
          {
            "name": "gnaf",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "gps",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuAddressDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/au/location": {
      "get": {
        "operationId": "searchAustralianLocations",
        "summary": "Search Australian locations (suburbs/postcodes)",
        "tags": [
          "Australian Addresses"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "completions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "a": {
                            "type": "string"
                          },
                          "pxid": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search Australian locations (suburbs/postcodes)"
      }
    },
    "/au/location/info": {
      "get": {
        "operationId": "getAustralianLocationInfo",
        "summary": "Get Australian location metadata",
        "tags": [
          "Australian Addresses"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pxid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Location details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suburb": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "postcode": {
                      "type": "string"
                    },
                    "latitude": {
                      "type": "number"
                    },
                    "longitude": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Australian location metadata"
      }
    },
    "/nz/address": {
      "get": {
        "operationId": "searchNewZealandAddresses",
        "summary": "Search New Zealand addresses",
        "tags": [
          "New Zealand Addresses"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "delivered",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            },
            "description": "Filter to deliverable addresses"
          },
          {
            "name": "rural_post_code",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NZ address results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "completions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NzAddressResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search New Zealand addresses"
      }
    },
    "/nz/address/info": {
      "get": {
        "operationId": "getNewZealandAddressInfo",
        "summary": "Get detailed New Zealand address information",
        "tags": [
          "New Zealand Addresses"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pxid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NZ address details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NzAddressDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get detailed New Zealand address information"
      }
    },
    "/nz/location": {
      "get": {
        "operationId": "searchNewZealandLocations",
        "summary": "Search New Zealand locations",
        "tags": [
          "New Zealand Addresses"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NZ location results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "completions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "a": {
                            "type": "string"
                          },
                          "pxid": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Search New Zealand locations"
      }
    },
    "/nz/location/info": {
      "get": {
        "operationId": "getNewZealandLocationInfo",
        "summary": "Get New Zealand location metadata",
        "tags": [
          "New Zealand Addresses"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pxid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "NZ location details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suburb": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "postcode": {
                      "type": "string"
                    },
                    "latitude": {
                      "type": "number"
                    },
                    "longitude": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get New Zealand location metadata"
      }
    },
    "/email/v1/verification": {
      "get": {
        "operationId": "verifyEmail",
        "summary": "Verify an email address",
        "tags": [
          "Email Verification"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email verification result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_verified": {
                      "type": "boolean"
                    },
                    "email": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Verify an email address"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "AddressFinder API key passed as query parameter along with secret"
      }
    },
    "schemas": {
      "AuAddressResult": {
        "type": "object",
        "properties": {
          "a": {
            "type": "string",
            "description": "Full address"
          },
          "pxid": {
            "type": "string",
            "description": "Unique address identifier"
          },
          "v": {
            "type": "integer",
            "description": "Verification level"
          }
        }
      },
      "AuAddressDetail": {
        "type": "object",
        "properties": {
          "full_address": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "locality_name": {
            "type": "string"
          },
          "state_territory": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "meshblock": {
            "type": "string"
          },
          "gnaf_id": {
            "type": "string"
          },
          "legal_parcel_id": {
            "type": "string"
          }
        }
      },
      "NzAddressResult": {
        "type": "object",
        "properties": {
          "a": {
            "type": "string",
            "description": "Full address"
          },
          "pxid": {
            "type": "string"
          },
          "v": {
            "type": "integer"
          }
        }
      },
      "NzAddressDetail": {
        "type": "object",
        "properties": {
          "full_address": {
            "type": "string"
          },
          "address_line_1": {
            "type": "string"
          },
          "address_line_2": {
            "type": "string"
          },
          "suburb": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "dpid": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
