{
  "openapi": "3.0.3",
  "info": {
    "title": "Adopt-a-Pet.com Pet List API",
    "description": "The Adopt-a-Pet.com Pet List API allows partners and shelters to retrieve pet listing data from Adopt-a-Pet.com, including available pets, shelter/rescue information, and search functionality. Authentication is required via an API key provided by Adopt-a-Pet.com.",
    "version": "1.0.0",
    "contact": {
      "name": "Adopt-a-Pet.com",
      "url": "https://www.adoptapet.com"
    }
  },
  "servers": [
    {
      "url": "https://api.adoptapet.com/search",
      "description": "Adopt-a-Pet.com API server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/pet_search": {
      "get": {
        "operationId": "searchPets",
        "summary": "Search for adoptable pets",
        "description": "Search for adoptable pets based on various criteria such as species, breed, location, age, and size.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "species",
            "in": "query",
            "required": false,
            "description": "Species of pet to search for",
            "schema": {
              "type": "string",
              "enum": [
                "dog",
                "cat",
                "rabbit",
                "bird",
                "horse",
                "reptile",
                "small_animal",
                "barnyard",
                "pig"
              ]
            }
          },
          {
            "name": "breed_id",
            "in": "query",
            "required": false,
            "description": "Breed ID to filter by",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "city_or_zip",
            "in": "query",
            "required": false,
            "description": "City name or ZIP code for location-based search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geo_range",
            "in": "query",
            "required": false,
            "description": "Search radius in miles from the specified location",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "sex",
            "in": "query",
            "required": false,
            "description": "Sex of pet",
            "schema": {
              "type": "string",
              "enum": [
                "m",
                "f"
              ]
            }
          },
          {
            "name": "age",
            "in": "query",
            "required": false,
            "description": "Age category of pet",
            "schema": {
              "type": "string",
              "enum": [
                "baby",
                "young",
                "adult",
                "senior"
              ]
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Size category of pet",
            "schema": {
              "type": "string",
              "enum": [
                "s",
                "m",
                "l",
                "xl"
              ]
            }
          },
          {
            "name": "color_id",
            "in": "query",
            "required": false,
            "description": "Color ID to filter by",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_number",
            "in": "query",
            "required": false,
            "description": "Starting record number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "end_number",
            "in": "query",
            "required": false,
            "description": "Ending record number for pagination",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PetSearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        },
        "tags": [
          "pet_search"
        ]
      }
    },
    "/pet_details": {
      "get": {
        "operationId": "getPetDetails",
        "summary": "Get details for a specific pet",
        "description": "Retrieve detailed information about a specific adoptable pet by its ID.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "pet_id",
            "in": "query",
            "required": true,
            "description": "The unique ID of the pet",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful pet details response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PetDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "404": {
            "description": "Pet not found"
          }
        },
        "tags": [
          "pet_details"
        ]
      }
    },
    "/pet_list": {
      "get": {
        "operationId": "getPetList",
        "summary": "Get pet listings for a shelter or rescue",
        "description": "Retrieve a list of pets available at a specific shelter or rescue organization.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "shelter_id",
            "in": "query",
            "required": true,
            "description": "The unique ID of the shelter or rescue",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "species",
            "in": "query",
            "required": false,
            "description": "Filter by species",
            "schema": {
              "type": "string",
              "enum": [
                "dog",
                "cat",
                "rabbit",
                "bird",
                "horse",
                "reptile",
                "small_animal",
                "barnyard",
                "pig"
              ]
            }
          },
          {
            "name": "start_number",
            "in": "query",
            "required": false,
            "description": "Starting record number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "end_number",
            "in": "query",
            "required": false,
            "description": "Ending record number for pagination",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful pet list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PetListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "404": {
            "description": "Shelter not found"
          }
        },
        "tags": [
          "pet_list"
        ]
      }
    },
    "/shelter_list": {
      "get": {
        "operationId": "getShelterList",
        "summary": "Search for shelters and rescues",
        "description": "Search for shelters and rescue organizations by location.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "city_or_zip",
            "in": "query",
            "required": true,
            "description": "City name or ZIP code for location-based search",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geo_range",
            "in": "query",
            "required": false,
            "description": "Search radius in miles",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful shelter list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShelterListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        },
        "tags": [
          "shelter_list"
        ]
      }
    },
    "/shelter_details": {
      "get": {
        "operationId": "getShelterDetails",
        "summary": "Get details for a specific shelter",
        "description": "Retrieve detailed information about a specific shelter or rescue organization.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "shelter_id",
            "in": "query",
            "required": true,
            "description": "The unique ID of the shelter",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful shelter details response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShelterDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "404": {
            "description": "Shelter not found"
          }
        },
        "tags": [
          "shelter_details"
        ]
      }
    },
    "/breed_list": {
      "get": {
        "operationId": "getBreedList",
        "summary": "Get list of breeds",
        "description": "Retrieve a list of breeds for a given species.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v",
            "in": "query",
            "required": true,
            "description": "API version",
            "schema": {
              "type": "string",
              "default": "3"
            }
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "description": "Output format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          },
          {
            "name": "species",
            "in": "query",
            "required": true,
            "description": "Species to list breeds for",
            "schema": {
              "type": "string",
              "enum": [
                "dog",
                "cat",
                "rabbit",
                "bird",
                "horse",
                "reptile",
                "small_animal",
                "barnyard",
                "pig"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful breed list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BreedListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          }
        },
        "tags": [
          "breed_list"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API key provided by Adopt-a-Pet.com"
      }
    },
    "schemas": {
      "Pet": {
        "type": "object",
        "properties": {
          "pet_id": {
            "type": "integer",
            "description": "Unique pet identifier"
          },
          "pet_name": {
            "type": "string",
            "description": "Name of the pet"
          },
          "species": {
            "type": "string",
            "description": "Species (e.g., dog, cat)"
          },
          "primary_breed": {
            "type": "string",
            "description": "Primary breed"
          },
          "secondary_breed": {
            "type": "string",
            "description": "Secondary breed, if mixed"
          },
          "sex": {
            "type": "string",
            "description": "Sex of the pet"
          },
          "age": {
            "type": "string",
            "description": "Age category"
          },
          "size": {
            "type": "string",
            "description": "Size category"
          },
          "color": {
            "type": "string",
            "description": "Color of the pet"
          },
          "description": {
            "type": "string",
            "description": "Description of the pet"
          },
          "photo_url": {
            "type": "string",
            "description": "URL to primary photo"
          },
          "pet_details_url": {
            "type": "string",
            "description": "URL to the pet's listing page"
          },
          "shelter_id": {
            "type": "integer",
            "description": "ID of the shelter housing this pet"
          },
          "shelter_name": {
            "type": "string",
            "description": "Name of the shelter"
          },
          "addr_city": {
            "type": "string",
            "description": "City of the shelter"
          },
          "addr_state_code": {
            "type": "string",
            "description": "State code of the shelter"
          },
          "addr_zip": {
            "type": "string",
            "description": "ZIP code of the shelter"
          },
          "photos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of photo URLs"
          },
          "act_quickly": {
            "type": "boolean",
            "description": "Whether the pet needs to be adopted quickly"
          },
          "special_needs": {
            "type": "boolean",
            "description": "Whether the pet has special needs"
          },
          "purebred": {
            "type": "boolean",
            "description": "Whether the pet is purebred"
          },
          "good_with_kids": {
            "type": "string",
            "description": "Whether the pet is good with kids"
          },
          "good_with_cats": {
            "type": "string",
            "description": "Whether the pet is good with cats"
          },
          "good_with_dogs": {
            "type": "string",
            "description": "Whether the pet is good with dogs"
          },
          "spayed_neutered": {
            "type": "boolean",
            "description": "Whether the pet is spayed/neutered"
          },
          "housetrained": {
            "type": "boolean",
            "description": "Whether the pet is housetrained"
          }
        }
      },
      "Shelter": {
        "type": "object",
        "properties": {
          "shelter_id": {
            "type": "integer",
            "description": "Unique shelter identifier"
          },
          "shelter_name": {
            "type": "string",
            "description": "Name of the shelter"
          },
          "address": {
            "type": "string",
            "description": "Street address"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "state": {
            "type": "string",
            "description": "State code"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code"
          },
          "phone": {
            "type": "string",
            "description": "Phone number"
          },
          "email": {
            "type": "string",
            "description": "Email address"
          },
          "website": {
            "type": "string",
            "description": "Website URL"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude coordinate"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude coordinate"
          },
          "total_pets": {
            "type": "integer",
            "description": "Total number of pets at the shelter"
          }
        }
      },
      "Breed": {
        "type": "object",
        "properties": {
          "breed_id": {
            "type": "integer",
            "description": "Unique breed identifier"
          },
          "breed_name": {
            "type": "string",
            "description": "Name of the breed"
          }
        }
      },
      "PetSearchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Response status"
          },
          "total_results": {
            "type": "integer",
            "description": "Total number of matching results"
          },
          "pets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pet"
            }
          }
        }
      },
      "PetDetailsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Response status"
          },
          "pet": {
            "$ref": "#/components/schemas/Pet"
          }
        }
      },
      "PetListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Response status"
          },
          "total_results": {
            "type": "integer",
            "description": "Total number of pets at the shelter"
          },
          "pets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pet"
            }
          }
        }
      },
      "ShelterListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Response status"
          },
          "total_results": {
            "type": "integer",
            "description": "Total number of matching shelters"
          },
          "shelters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Shelter"
            }
          }
        }
      },
      "ShelterDetailsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Response status"
          },
          "shelter": {
            "$ref": "#/components/schemas/Shelter"
          }
        }
      },
      "BreedListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Response status"
          },
          "breeds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Breed"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "breed_list"
    },
    {
      "name": "pet_details"
    },
    {
      "name": "pet_list"
    },
    {
      "name": "pet_search"
    },
    {
      "name": "shelter_details"
    },
    {
      "name": "shelter_list"
    }
  ]
}
