{
  "openapi": "3.0.3",
  "info": {
    "title": "JotUrl API",
    "version": "1.0.0",
    "description": "JotUrl link management API for URL shortening, tracking, QR codes, conversions, and more.",
    "x-jentic-source-url": "https://i1.joturl.com/?sc=fAR4HZeNBrbmg5offggT.mea23jOkTNnKBCEejkBW"
  },
  "servers": [
    {
      "url": "https://joturl.com/a/i1",
      "description": "JotUrl API v1"
    }
  ],
  "paths": {
    "/decode": {
      "get": {
        "operationId": "decodeerrorcode",
        "summary": "Decode error code",
        "description": "Converts API error codes into a friendly text message.",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Error code to decode"
          }
        ],
        "responses": {
          "200": {
            "description": "Decoded error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/timestamp": {
      "get": {
        "operationId": "gettimestamp",
        "summary": "Get server timestamp",
        "description": "Returns current server timestamp (UTC) with microseconds.",
        "tags": [
          "Core"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Current server timestamp",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/translate": {
      "get": {
        "operationId": "translateerrorcode",
        "summary": "Translate error code",
        "description": "Translates error codes to messages in a specific language.",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Error code to translate"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language code for translation"
          }
        ],
        "responses": {
          "200": {
            "description": "Translated error message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "operationId": "loginuser",
        "summary": "User login",
        "description": "Acquires a session token by authenticating with username and password.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Account username"
                  },
                  "password": {
                    "type": "string",
                    "description": "Account password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful with session token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users/logout": {
      "post": {
        "operationId": "logoutuser",
        "summary": "User logout",
        "description": "Invalidates the current session token.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users/info": {
      "get": {
        "operationId": "getuserinfo",
        "summary": "Get user info",
        "description": "Returns information about the authenticated user.",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/apis/keys": {
      "get": {
        "operationId": "getapikeys",
        "summary": "Get API keys",
        "description": "Returns API keys associated with the logged-in user.",
        "tags": [
          "APIs"
        ],
        "parameters": [
          {
            "name": "password",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Account password for verification"
          },
          {
            "name": "reset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Reset the API keys"
          }
        ],
        "responses": {
          "200": {
            "description": "API keys returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/apis/tokens": {
      "get": {
        "operationId": "getapitokens",
        "summary": "Get bearer tokens",
        "description": "Returns bearer tokens for API authentication.",
        "tags": [
          "APIs"
        ],
        "responses": {
          "200": {
            "description": "Bearer tokens returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/apis/limits": {
      "get": {
        "operationId": "getapilimits",
        "summary": "Get rate limits",
        "description": "Returns current rate limit information.",
        "tags": [
          "APIs"
        ],
        "responses": {
          "200": {
            "description": "Rate limit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/urls/shorten": {
      "post": {
        "operationId": "shortenurl",
        "summary": "Shorten a URL",
        "description": "Creates a shortened URL.",
        "tags": [
          "URLs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "long_url"
                ],
                "properties": {
                  "long_url": {
                    "type": "string",
                    "description": "The long URL to shorten"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Custom alias for the short URL"
                  },
                  "domain_id": {
                    "type": "integer",
                    "description": "Domain ID to use"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shortened URL created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/urls/add": {
      "post": {
        "operationId": "addurl",
        "summary": "Add a URL",
        "description": "Adds a new URL to the system with full configuration options.",
        "tags": [
          "URLs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "long_url"
                ],
                "properties": {
                  "long_url": {
                    "type": "string",
                    "description": "The destination URL"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Custom alias"
                  },
                  "domain_id": {
                    "type": "integer",
                    "description": "Domain ID"
                  },
                  "project_id": {
                    "type": "integer",
                    "description": "Project ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/urls/info": {
      "get": {
        "operationId": "geturlinfo",
        "summary": "Get URL info",
        "description": "Returns detailed information about a specific URL.",
        "tags": [
          "URLs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "URL ID"
          }
        ],
        "responses": {
          "200": {
            "description": "URL information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/urls/list": {
      "get": {
        "operationId": "listurls",
        "summary": "List URLs",
        "description": "Returns a list of URLs with optional filtering.",
        "tags": [
          "URLs"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search filter"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Number of results to return"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of URLs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/urls/count": {
      "get": {
        "operationId": "counturls",
        "summary": "Count URLs",
        "description": "Returns the total number of URLs.",
        "tags": [
          "URLs"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search filter"
          }
        ],
        "responses": {
          "200": {
            "description": "URL count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/urls/edit": {
      "post": {
        "operationId": "editurl",
        "summary": "Edit a URL",
        "description": "Modifies an existing URL.",
        "tags": [
          "URLs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "URL ID to edit"
                  },
                  "long_url": {
                    "type": "string",
                    "description": "New destination URL"
                  },
                  "alias": {
                    "type": "string",
                    "description": "New alias"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL edited successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/urls/delete": {
      "post": {
        "operationId": "deleteurl",
        "summary": "Delete a URL",
        "description": "Deletes an existing URL.",
        "tags": [
          "URLs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "URL ID to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/add": {
      "post": {
        "operationId": "addproject",
        "summary": "Add a project",
        "description": "Creates a new project.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Project name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/list": {
      "get": {
        "operationId": "listprojects",
        "summary": "List projects",
        "description": "Returns a list of projects.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search filter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/info": {
      "get": {
        "operationId": "getprojectinfo",
        "summary": "Get project info",
        "description": "Returns information about a specific project.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Project information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/delete": {
      "post": {
        "operationId": "deleteproject",
        "summary": "Delete a project",
        "description": "Deletes an existing project.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Project ID to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects/edit": {
      "post": {
        "operationId": "editproject",
        "summary": "Edit a project",
        "description": "Modifies an existing project.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Project ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "New project name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project edited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/domains/add": {
      "post": {
        "operationId": "adddomain",
        "summary": "Add a domain",
        "description": "Adds a new custom domain.",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Domain name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/domains/list": {
      "get": {
        "operationId": "listdomains",
        "summary": "List domains",
        "description": "Returns a list of custom domains.",
        "tags": [
          "Domains"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search filter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/domains/delete": {
      "post": {
        "operationId": "deletedomain",
        "summary": "Delete a domain",
        "description": "Deletes a custom domain.",
        "tags": [
          "Domains"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Domain ID to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/qrcodes/add": {
      "post": {
        "operationId": "addqrcode",
        "summary": "Add a QR code",
        "description": "Creates a new QR code template.",
        "tags": [
          "QR Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "QR code template name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/qrcodes/list": {
      "get": {
        "operationId": "listqrcodes",
        "summary": "List QR codes",
        "description": "Returns a list of QR code templates.",
        "tags": [
          "QR Codes"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search filter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of QR codes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/qrcodes/delete": {
      "post": {
        "operationId": "deleteqrcode",
        "summary": "Delete a QR code",
        "description": "Deletes a QR code template.",
        "tags": [
          "QR Codes"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "QR code ID to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR code deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/conversions/list": {
      "get": {
        "operationId": "listconversions",
        "summary": "List conversions",
        "description": "Returns a list of conversions.",
        "tags": [
          "Conversions"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search filter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of conversions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/conversions/count": {
      "get": {
        "operationId": "countconversions",
        "summary": "Count conversions",
        "description": "Returns the total number of conversions.",
        "tags": [
          "Conversions"
        ],
        "responses": {
          "200": {
            "description": "Conversion count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/conversions/pixels/add": {
      "post": {
        "operationId": "addconversionpixel",
        "summary": "Add conversion pixel",
        "description": "Creates a new conversion tracking pixel.",
        "tags": [
          "Conversions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Pixel name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion pixel created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/conversions/pixels/list": {
      "get": {
        "operationId": "listconversionpixels",
        "summary": "List conversion pixels",
        "description": "Returns a list of conversion tracking pixels.",
        "tags": [
          "Conversions"
        ],
        "responses": {
          "200": {
            "description": "List of conversion pixels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/remarketings/add": {
      "post": {
        "operationId": "addremarketing",
        "summary": "Add remarketing pixel",
        "description": "Creates a new remarketing pixel.",
        "tags": [
          "Remarketing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Remarketing pixel name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Remarketing pixel created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/remarketings/list": {
      "get": {
        "operationId": "listremarketings",
        "summary": "List remarketing pixels",
        "description": "Returns a list of remarketing pixels.",
        "tags": [
          "Remarketing"
        ],
        "responses": {
          "200": {
            "description": "List of remarketing pixels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/remarketings/delete": {
      "post": {
        "operationId": "deleteremarketing",
        "summary": "Delete remarketing pixel",
        "description": "Deletes a remarketing pixel.",
        "tags": [
          "Remarketing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Remarketing pixel ID to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Remarketing pixel deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/utms/add": {
      "post": {
        "operationId": "addutm",
        "summary": "Add UTM template",
        "description": "Creates a new UTM tracking template.",
        "tags": [
          "UTMs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "UTM template name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "UTM template created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/utms/list": {
      "get": {
        "operationId": "listutms",
        "summary": "List UTM templates",
        "description": "Returns a list of UTM tracking templates.",
        "tags": [
          "UTMs"
        ],
        "responses": {
          "200": {
            "description": "List of UTM templates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/stats/projects/get": {
      "get": {
        "operationId": "getprojectstats",
        "summary": "Get project statistics",
        "description": "Returns statistics for projects.",
        "tags": [
          "Stats"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Project ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Project statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/stats/conversions/get": {
      "get": {
        "operationId": "getconversionstats",
        "summary": "Get conversion statistics",
        "description": "Returns conversion tracking statistics.",
        "tags": [
          "Stats"
        ],
        "responses": {
          "200": {
            "description": "Conversion statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. Use read-only or read/write tokens."
      },
      "sessionAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "_sid",
        "description": "Session-based authentication using _sid and _h (HMAC-SHA256 signature) parameters."
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "result": {
            "type": "object",
            "description": "Response data payload"
          }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Status code"
          },
          "text": {
            "type": "string",
            "description": "Status text"
          },
          "error": {
            "type": "string",
            "description": "Error description if applicable"
          },
          "rate": {
            "type": "object",
            "description": "Rate limit information",
            "properties": {
              "limit": {
                "type": "integer"
              },
              "remaining": {
                "type": "integer"
              },
              "reset": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required or invalid credentials",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "sessionAuth": []
    }
  ],
  "tags": [
    {
      "name": "APIs",
      "description": "Operations related to APIs"
    },
    {
      "name": "Conversions",
      "description": "Operations related to Conversions"
    },
    {
      "name": "Core",
      "description": "Operations related to Core"
    },
    {
      "name": "Domains",
      "description": "Operations related to Domains"
    },
    {
      "name": "Projects",
      "description": "Operations related to Projects"
    },
    {
      "name": "QR Codes",
      "description": "Operations related to QR Codes"
    },
    {
      "name": "Remarketing",
      "description": "Operations related to Remarketing"
    },
    {
      "name": "Stats",
      "description": "Operations related to Stats"
    },
    {
      "name": "URLs",
      "description": "Operations related to URLs"
    },
    {
      "name": "UTMs",
      "description": "Operations related to UTMs"
    },
    {
      "name": "Users",
      "description": "Operations related to Users"
    }
  ]
}