{
  "openapi": "3.0.3",
  "info": {
    "title": "Greenhouse Harvest API",
    "version": "1.0.0",
    "description": "The Harvest API provides access to Greenhouse recruiting data including candidates, applications, jobs, users, and more.",
    "x-jentic-source-url": "https://developers.greenhouse.io",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://harvest.greenhouse.io/v1"
    }
  ],
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "paths": {
    "/candidates": {
      "get": {
        "summary": "List candidates",
        "description": "List all candidates",
        "operationId": "listCandidates",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page (1-500)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of candidates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Candidate"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        },
        "tags": [
          "candidates"
        ]
      },
      "post": {
        "summary": "Create candidate",
        "description": "Create a new candidate",
        "operationId": "createCandidate",
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "description": "User ID on whose behalf the action is performed",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Candidate created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "tags": [
          "candidates"
        ]
      }
    },
    "/candidates/{id}": {
      "get": {
        "summary": "Get candidate",
        "description": "Retrieve a specific candidate by ID",
        "operationId": "getCandidate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Candidate details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "tags": [
          "candidates"
        ]
      }
    },
    "/applications": {
      "get": {
        "summary": "List applications",
        "description": "List all applications",
        "operationId": "listApplications",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of applications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Application"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "applications"
        ]
      },
      "post": {
        "summary": "Create application",
        "description": "Create a new application for a candidate",
        "operationId": "createApplication",
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "job_id"
                ],
                "properties": {
                  "job_id": {
                    "type": "integer"
                  },
                  "candidate_id": {
                    "type": "integer"
                  },
                  "source_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        },
        "tags": [
          "applications"
        ]
      }
    },
    "/jobs": {
      "get": {
        "summary": "List jobs",
        "description": "List all jobs",
        "operationId": "listJobs",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Job"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "jobs"
        ]
      }
    },
    "/users": {
      "get": {
        "summary": "List users",
        "description": "List all users",
        "operationId": "listUsers",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "users"
        ]
      }
    },
    "/scheduled_interviews": {
      "get": {
        "summary": "List scheduled interviews",
        "description": "List all scheduled interviews",
        "operationId": "listScheduledInterviews",
        "responses": {
          "200": {
            "description": "List of scheduled interviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "scheduled_interviews"
        ]
      },
      "post": {
        "summary": "Create scheduled interview",
        "description": "Create a new scheduled interview",
        "operationId": "createScheduledInterview",
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "application_id",
                  "start",
                  "end"
                ],
                "properties": {
                  "application_id": {
                    "type": "integer"
                  },
                  "start": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Interview scheduled"
          }
        },
        "tags": [
          "scheduled_interviews"
        ]
      }
    },
    "/departments": {
      "get": {
        "summary": "List departments",
        "description": "List all departments",
        "operationId": "listDepartments",
        "responses": {
          "200": {
            "description": "List of departments"
          }
        },
        "tags": [
          "departments"
        ]
      }
    },
    "/offices": {
      "get": {
        "summary": "List offices",
        "description": "List all offices",
        "operationId": "listOffices",
        "responses": {
          "200": {
            "description": "List of offices"
          }
        },
        "tags": [
          "offices"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using API token as username and empty password"
      }
    },
    "schemas": {
      "Candidate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CandidateInput": {
        "type": "object",
        "required": [
          "first_name",
          "last_name"
        ],
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "candidate_id": {
            "type": "integer"
          },
          "job_id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "applications"
    },
    {
      "name": "candidates"
    },
    {
      "name": "departments"
    },
    {
      "name": "jobs"
    },
    {
      "name": "offices"
    },
    {
      "name": "scheduled_interviews"
    },
    {
      "name": "users"
    }
  ]
}
