{
  "openapi": "3.0.0",
  "info": {
    "description": "Application operation results.",
    "title": "FabricAdminClient",
    "version": "2016-05-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/azure.com/azsadmin-ApplicationOperationResults/2016-05-01/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/ApplicationOperationResults.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azsadmin-ApplicationOperationResults",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://adminmanagement.local.azurestack.external/"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/applicationOperationResults": {
      "get": {
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Location of the resource.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "default": "2016-05-01",
              "type": "string"
            }
          },
          {
            "description": "OData filter parameter.",
            "in": "query",
            "name": "$filter",
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationOperationResultList"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "ApplicationOperationResults"
        ],
        "description": "Returns a list of all application operation results at a location.",
        "operationId": "ApplicationOperationResults_List",
        "x-ms-examples": {
          "Returns a list of all application operation results at a location.": {
            "parameters": {
              "api-version": "2016-05-01",
              "location": "local",
              "resourceGroupName": "System.local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "properties": {
                        "provisioningState": "Succeeded"
                      }
                    },
                    {
                      "error": {
                        "code": "OperationBlockedDueToUpdateInProgress",
                        "message": "The operation cannot be performed at the present time, because there is an Azure Stack update in progress. Wait until the Azure Stack update is complete and then try your operation again."
                      },
                      "properties": {
                        "provisioningState": "Failed"
                      }
                    }
                  ]
                }
              },
              "404": {}
            }
          }
        },
        "x-ms-odata": "#/components/schemas/ApplicationOperationResult",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/applicationOperationResults/{operation}": {
      "get": {
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Location of the resource.",
            "in": "path",
            "name": "location",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/components/parameters/OperationParameter"
          },
          {
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "schema": {
              "default": "2016-05-01",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationOperationResult"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "ApplicationOperationResults"
        ],
        "description": "Returns the status of an application operation.",
        "operationId": "ApplicationOperationResults_Get",
        "x-ms-examples": {
          "Returns the status of the operation.": {
            "parameters": {
              "api-version": "2016-05-01",
              "location": "local",
              "operation": "7129ebd4-efb5-4faf-89a5-9b9071811610",
              "resourceGroupName": "System.local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "properties": {
                    "provisioningState": "Succeeded"
                  }
                }
              },
              "404": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "OperationParameter": {
        "description": "Operation identifier.",
        "in": "path",
        "name": "operation",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "schemas": {
      "ApplicationOperationResult": {
        "allOf": [
          {
            "description": "Base resource object.",
            "properties": {
              "tags": {
                "additionalProperties": {
                  "type": "string"
                },
                "description": "List of key-value pairs.",
                "type": "object"
              },
              "id": {
                "description": "URI of the resource.",
                "readOnly": true,
                "type": "string"
              },
              "location": {
                "description": "The region where the resource is located.",
                "type": "string"
              },
              "name": {
                "description": "Name of the resource.",
                "readOnly": true,
                "type": "string"
              },
              "type": {
                "description": "Type of resource.",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object",
            "x-ms-azure-resource": true
          }
        ],
        "description": "Application operation result description.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ApplicationOperationResultModel",
            "description": "Application operation result properties.",
            "x-ms-client-flatten": true
          }
        },
        "type": "object"
      },
      "ApplicationOperationResultList": {
        "description": "Pageable list of application operation results.",
        "properties": {
          "nextLink": {
            "description": "URI to the next page.",
            "type": "string"
          },
          "value": {
            "description": "List of application operation results.",
            "items": {
              "$ref": "#/components/schemas/ApplicationOperationResult"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ApplicationOperationResultModel": {
        "description": "Application operation result properties.",
        "properties": {
          "instances": {
            "description": "List of operation result instances.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "provisioningState": {
            "description": "Success or failure of operation.",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}