{
  "openapi": "3.0.3",
  "info": {
    "title": "TinyURL API",
    "description": "The TinyURL API allows you to programmatically shorten long URLs, manage shortened links, and retrieve analytics data.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://tinyurl.com/app/dev",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.tinyurl.com",
      "description": "TinyURL API Production Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "URLs",
      "description": "URL shortening and management operations"
    },
    {
      "name": "Analytics",
      "description": "Link analytics and click tracking"
    }
  ],
  "paths": {
    "/create": {
      "post": {
        "tags": [
          "URLs"
        ],
        "summary": "Create a shortened URL",
        "description": "Shorten a long URL and optionally assign a custom alias or domain.",
        "operationId": "createUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL shortened successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid URL or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - alias already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/alias/{alias}": {
      "get": {
        "tags": [
          "URLs"
        ],
        "summary": "Get URL details by alias",
        "description": "Retrieve the details of a shortened URL by its alias.",
        "operationId": "getUrlByAlias",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "description": "The alias of the shortened URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "The domain associated with the alias",
            "schema": {
              "type": "string",
              "default": "tinyurl.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "URL details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Alias not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "URLs"
        ],
        "summary": "Update a shortened URL",
        "description": "Update the long URL or other properties of an existing shortened URL.",
        "operationId": "updateUrl",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "description": "The alias of the shortened URL to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Alias not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "URLs"
        ],
        "summary": "Delete a shortened URL",
        "description": "Delete an existing shortened URL by its alias.",
        "operationId": "deleteUrl",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "description": "The alias of the shortened URL to delete",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "The domain associated with the alias",
            "schema": {
              "type": "string",
              "default": "tinyurl.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "URL deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Alias not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/analytics": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get click analytics",
        "description": "Retrieve click analytics for a shortened URL.",
        "operationId": "getAnalytics",
        "parameters": [
          {
            "name": "alias",
            "in": "query",
            "required": true,
            "description": "The alias of the shortened URL",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "description": "The domain associated with the alias",
            "schema": {
              "type": "string",
              "default": "tinyurl.com"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Number of days of analytics to retrieve",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key provided as Bearer token in the Authorization header. Format: Bearer {api_key}"
      }
    },
    "schemas": {
      "CreateUrlRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The long URL to shorten"
          },
          "domain": {
            "type": "string",
            "description": "Custom domain for the shortened URL",
            "default": "tinyurl.com"
          },
          "alias": {
            "type": "string",
            "description": "Custom alias for the shortened URL"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags to associate with the URL"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Expiration date and time for the shortened URL"
          }
        }
      },
      "UpdateUrlRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The new long URL"
          },
          "domain": {
            "type": "string",
            "description": "The domain associated with the alias"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Updated tags"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "New expiration date"
          }
        }
      },
      "UrlResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "string",
                "description": "The domain of the shortened URL"
              },
              "alias": {
                "type": "string",
                "description": "The alias of the shortened URL"
              },
              "url": {
                "type": "string",
                "format": "uri",
                "description": "The original long URL"
              },
              "tiny_url": {
                "type": "string",
                "format": "uri",
                "description": "The full shortened URL"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Tags associated with the URL"
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of creation"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time",
                "description": "Expiration timestamp"
              }
            }
          },
          "code": {
            "type": "integer",
            "description": "Response status code"
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "description": "Confirmation message"
          },
          "code": {
            "type": "integer",
            "description": "Response status code"
          }
        }
      },
      "AnalyticsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "total_clicks": {
                "type": "integer",
                "description": "Total number of clicks"
              },
              "timeline": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": "Date of the data point"
                    },
                    "clicks": {
                      "type": "integer",
                      "description": "Number of clicks on this date"
                    }
                  }
                }
              },
              "referrers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "referrer": {
                      "type": "string",
                      "description": "Referrer domain"
                    },
                    "clicks": {
                      "type": "integer",
                      "description": "Number of clicks from this referrer"
                    }
                  }
                }
              },
              "countries": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "type": "string",
                      "description": "Country code"
                    },
                    "clicks": {
                      "type": "integer",
                      "description": "Number of clicks from this country"
                    }
                  }
                }
              }
            }
          },
          "code": {
            "type": "integer",
            "description": "Response status code"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of error messages"
          },
          "code": {
            "type": "integer",
            "description": "Error status code"
          }
        }
      }
    }
  }
}
