{
  "openapi": "3.1.0",
  "info": {
    "title": "Citability API",
    "description": "Citability is a domain intelligence platform that measures AI visibility, citation readiness, and agentic commerce readiness across 607M domains. The API provides scanning, scoring, and enrichment endpoints for ADP (AI Discovery Protocol) compliance, llms.txt validation, Schema.org markup, MCP endpoint detection, and content extractability analysis.",
    "termsOfService": "https://citability.ai/terms",
    "contact": {
      "name": "Citability",
      "url": "https://citability.ai/",
      "email": "hello@citability.ai"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://citability.ai/terms"
    },
    "version": "1.0.0",
    "x-jentic-source-url": "https://citability.ai/api/openapi.json"
  },
  "servers": [
    {
      "url": "https://citability.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/domain/{domain}": {
      "get": {
        "tags": [
          "Domain",
          "Domain Analysis"
        ],
        "summary": "Get opportunity score for a domain",
        "description": "Calculate opportunity score for a single domain.\n\n    The score is based on:\n    - Content signals (40%): Page count, English content, content size\n    - Inverse authority (35%): Lower authority = higher opportunity\n    - Growth trajectory (15%): Authority trend and content growth\n    - Vertical affinity (10%): Target market fit\n\n    Returns score 0-100 and tier classification.",
        "operationId": "get_domain_score_api_v1_domain__domain__get",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain"
            }
          },
          {
            "name": "fetch_200",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of HTTP 200 responses",
              "default": 100,
              "title": "Fetch 200"
            },
            "description": "Number of HTTP 200 responses"
          },
          {
            "name": "lote_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "minimum": 0,
              "description": "Non-English content percentage",
              "default": 0,
              "title": "Lote Pct"
            },
            "description": "Non-English content percentage"
          },
          {
            "name": "content_size_median",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Median content size in bytes",
              "default": 5000,
              "title": "Content Size Median"
            },
            "description": "Median content size in bytes"
          },
          {
            "name": "hcrank10",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 10,
              "minimum": 0,
              "description": "Harmonic centrality rank",
              "default": 2,
              "title": "Hcrank10"
            },
            "description": "Harmonic centrality rank"
          },
          {
            "name": "prank10",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 10,
              "minimum": 0,
              "description": "PageRank",
              "default": 1,
              "title": "Prank10"
            },
            "description": "PageRank"
          },
          {
            "name": "authority_trend",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Authority trend",
              "default": "unknown",
              "title": "Authority Trend"
            },
            "description": "Authority trend"
          },
          {
            "name": "content_growth_pct",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Content growth percentage",
              "title": "Content Growth Pct"
            },
            "description": "Content growth percentage"
          },
          {
            "name": "use_ai_classification",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Use AI classification",
              "default": false,
              "title": "Use Ai Classification"
            },
            "description": "Use AI classification"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainScoreResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/domain/batch": {
      "post": {
        "tags": [
          "Domain",
          "Domain Analysis"
        ],
        "summary": "Score multiple domains",
        "description": "Calculate opportunity scores for multiple domains in batch.\n\n    Maximum 100 domains per request.\n    Uses default metric values for each domain.",
        "operationId": "score_domains_batch_api_v1_domain_batch_post",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api__routes__domain__DomainsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainScoreResponse"
                  },
                  "title": "Response Score Domains Batch Api V1 Domain Batch Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/leads": {
      "get": {
        "tags": [
          "Leads",
          "Lead Management"
        ],
        "summary": "Get filtered leads from data",
        "description": "Retrieve leads from enriched parquet data files.\n\n    Supports filtering by:\n    - vertical: Industry vertical (e.g., \"SaaS\", \"E-commerce\")\n    - min_score: Minimum opportunity score (0-100)\n    - max_score: Maximum opportunity score (0-100)\n    - tier: Opportunity tier (tier_1, tier_2, tier_3)\n\n    Supports pagination via limit and offset.\n    Results are sorted by opportunity_score descending.\n\n    Pass ?enrich=true to include WHOIS/DNS/tech stack data (slower).",
        "operationId": "get_leads_api_v1_leads_get",
        "parameters": [
          {
            "name": "vertical",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by vertical",
              "title": "Vertical"
            },
            "description": "Filter by vertical"
          },
          {
            "name": "min_score",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 100,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum opportunity score",
              "title": "Min Score"
            },
            "description": "Minimum opportunity score"
          },
          {
            "name": "max_score",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 100,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum opportunity score",
              "title": "Max Score"
            },
            "description": "Maximum opportunity score"
          },
          {
            "name": "tier",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by tier (tier_1, tier_2, tier_3)",
              "title": "Tier"
            },
            "description": "Filter by tier (tier_1, tier_2, tier_3)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Number of results to return",
              "default": 100,
              "title": "Limit"
            },
            "description": "Number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of results to skip",
              "default": 0,
              "title": "Offset"
            },
            "description": "Number of results to skip"
          },
          {
            "name": "enrich",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include WHOIS/DNS/tech stack enrichment (slower, 5-15s per domain)",
              "default": false,
              "title": "Enrich"
            },
            "description": "Include WHOIS/DNS/tech stack enrichment (slower, 5-15s per domain)"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/leads/stats": {
      "get": {
        "tags": [
          "Leads",
          "Lead Management"
        ],
        "summary": "Get lead statistics",
        "description": "Get aggregate statistics about available leads.",
        "operationId": "get_lead_stats_api_v1_leads_stats_get",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadStatsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/leads/verticals": {
      "get": {
        "tags": [
          "Leads",
          "Lead Management"
        ],
        "summary": "Get available verticals",
        "description": "Get list of unique verticals in the lead data.",
        "operationId": "get_verticals_api_v1_leads_verticals_get",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Response Get Verticals Api V1 Leads Verticals Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/leads/export": {
      "get": {
        "tags": [
          "Leads",
          "Lead Management"
        ],
        "summary": "Export leads as CSV",
        "description": "Stream leads as a CSV file. Use ?enrich=true to include WHOIS/DNS data (slower). Max 1000 rows unenriched, 10000 enriched.",
        "operationId": "export_leads_csv_api_v1_leads_export_get",
        "parameters": [
          {
            "name": "vertical",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by vertical",
              "title": "Vertical"
            },
            "description": "Filter by vertical"
          },
          {
            "name": "min_score",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 100,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Score"
            }
          },
          {
            "name": "max_score",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 100,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max Score"
            }
          },
          {
            "name": "tier",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by tier",
              "title": "Tier"
            },
            "description": "Filter by tier"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "minimum": 1,
              "description": "Max rows to export",
              "default": 1000,
              "title": "Limit"
            },
            "description": "Max rows to export"
          },
          {
            "name": "enrich",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include WHOIS/DNS/tech stack enrichment (slower)",
              "default": false,
              "title": "Enrich"
            },
            "description": "Include WHOIS/DNS/tech stack enrichment (slower)"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/leads/{domain}/enrichment": {
      "get": {
        "tags": [
          "Leads",
          "Lead Management"
        ],
        "summary": "Get full enrichment for a single domain",
        "description": "Returns WHOIS, DNS, email provider, hosting provider, CDN, SPF/DMARC flags. Slow (5-15s).",
        "operationId": "get_lead_enrichment_api_v1_leads__domain__enrichment_get",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Lead Enrichment Api V1 Leads  Domain  Enrichment Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/leads/{domain}/add-to-kanban": {
      "post": {
        "tags": [
          "Leads",
          "Lead Management"
        ],
        "summary": "Generate SEO tasks for a domain and add them to the kanban board",
        "description": "Run a scan against the domain (or use cached results), generate SEO improvement\ntasks from the recommendations, and persist them to the user's kanban board.\n\nIf project_id is omitted the user's first project is used. If no projects\nexist, a 422 is returned asking the caller to create a project first.",
        "operationId": "add_lead_to_kanban_api_v1_leads__domain__add_to_kanban_post",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddToKanbanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddToKanbanResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/scan/{domain}": {
      "get": {
        "tags": [
          "Scanner",
          "ADP Scanning"
        ],
        "summary": "Scan single domain for ADP compliance",
        "description": "Scan a domain for ADP (AI Discovery Protocol) compliance.\n\n    Checks 20 ADP v2.1 endpoints across categories:\n    - Core: ai.json, security.txt, robots.txt, ai-sitemap.xml, opensearch.xml\n    - Feeds: feed.json, updates.json, rss.xml\n    - AI Content: llms.txt, llms-full.txt, llms-lite.txt, ai-discovery.json/md, knowledge-graph.json\n    - News: news/llms.txt, speakable.json, changelog.json, archive.jsonl\n    - API: webhooks/discovery, adp/stats\n\n    Returns compliance score (0-100) and level classification.",
        "operationId": "scan_single_domain_api_v1_scan__domain__get",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ADPScanResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/scan/batch": {
      "post": {
        "tags": [
          "Scanner",
          "ADP Scanning"
        ],
        "summary": "Scan multiple domains for ADP compliance",
        "description": "Batch scan multiple domains for ADP compliance.\n\n    Maximum 50 domains per request.\n    Scans are performed concurrently for efficiency.",
        "operationId": "scan_domains_batch_api_v1_scan_batch_post",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api__routes__scan__DomainsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ADPScanResponse"
                  },
                  "title": "Response Scan Domains Batch Api V1 Scan Batch Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/scan/{domain}/unified": {
      "post": {
        "tags": [
          "Scanner",
          "ADP Scanning"
        ],
        "summary": "Unified scan for 3-pillar scoring",
        "description": "Perform a comprehensive unified scan combining:\n\n    1. **Discovery Score** (0-100): ADP compliance + citation readiness\n    2. **Agentic Score** (0-100): MCP + commerce protocol readiness\n    3. **Citation Score** (0-100): Content quality for AI citation\n\n    Runs all four scanners concurrently:\n    - ADP Scanner (20 endpoints)\n    - Emerging Standards Scanner (MCP, agents.json)\n    - Commerce Readiness Scanner (UCP, A2A, ACP protocols)\n    - Citation Readiness Scanner (content structure, info density, schema)\n\n    Returns:\n    - Three aggregate scores for the 3-pillar display\n    - Detailed breakdowns from each scanner\n    - Prioritized recommendations\n    - CTA routing to Pressonify.ai or PresSEO based on gaps",
        "operationId": "unified_scan_endpoint_api_v1_scan__domain__unified_post",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnifiedScanResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/priority/{domain}": {
      "get": {
        "tags": [
          "Priority",
          "Priority Scoring"
        ],
        "summary": "Get combined priority score for a domain",
        "description": "Calculate combined priority score by internally calling both\n    opportunity scoring and ADP compliance scanning.\n\n    The priority score favors domains with:\n    - High opportunity score (good content, growth trajectory)\n    - Low ADP score (room for improvement)\n\n    Also detects buying signals to help qualify leads:\n    - high_opportunity_low_adp: Needs help, has potential\n    - growth_ready_no_infrastructure: Growing but no ADP setup\n    - blocking_ai_crawlers: Has robots.txt but blocks AI\n    - partial_adp_implementation: Aware but incomplete\n    - untapped_potential: Very low ADP with decent content\n    - high_value_target: High opportunity overall\n    - quick_win_optimization: Some infrastructure, needs tuning",
        "operationId": "get_priority_score_api_v1_priority__domain__get",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain"
            }
          },
          {
            "name": "fetch_200",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Number of HTTP 200 responses",
              "default": 100,
              "title": "Fetch 200"
            },
            "description": "Number of HTTP 200 responses"
          },
          {
            "name": "lote_pct",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "minimum": 0,
              "description": "Non-English content percentage",
              "default": 0,
              "title": "Lote Pct"
            },
            "description": "Non-English content percentage"
          },
          {
            "name": "content_size_median",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Median content size",
              "default": 5000,
              "title": "Content Size Median"
            },
            "description": "Median content size"
          },
          {
            "name": "hcrank10",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 10,
              "minimum": 0,
              "description": "Harmonic centrality rank",
              "default": 2,
              "title": "Hcrank10"
            },
            "description": "Harmonic centrality rank"
          },
          {
            "name": "prank10",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 10,
              "minimum": 0,
              "description": "PageRank",
              "default": 1,
              "title": "Prank10"
            },
            "description": "PageRank"
          },
          {
            "name": "authority_trend",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Authority trend",
              "default": "unknown",
              "title": "Authority Trend"
            },
            "description": "Authority trend"
          },
          {
            "name": "content_growth_pct",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Content growth percentage",
              "title": "Content Growth Pct"
            },
            "description": "Content growth percentage"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriorityScoreResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/classify/verticals": {
      "get": {
        "tags": [
          "Classification",
          "Classification"
        ],
        "summary": "Get available verticals",
        "description": "Get list of all available industry vertical classifications.",
        "operationId": "get_verticals_api_v1_classify_verticals_get",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Response Get Verticals Api V1 Classify Verticals Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/classify/cache/stats": {
      "get": {
        "tags": [
          "Classification",
          "Classification"
        ],
        "summary": "Get classification cache statistics",
        "description": "Get statistics about the classification cache.",
        "operationId": "get_classification_cache_stats_api_v1_classify_cache_stats_get",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CacheStatsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/classify/cache/clear": {
      "post": {
        "tags": [
          "Classification",
          "Classification"
        ],
        "summary": "Clear classification cache",
        "description": "Clear the classification cache. Use with caution.",
        "operationId": "clear_cache_api_v1_classify_cache_clear_post",
        "parameters": [
          {
            "name": "x-service-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "X-Service-Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Clear Cache Api V1 Classify Cache Clear Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/classify/{domain}": {
      "get": {
        "tags": [
          "Classification",
          "Classification"
        ],
        "summary": "Classify a single domain",
        "description": "Classify a domain into an industry vertical using AI.\n\n    Available verticals:\n    - SaaS, E-commerce, Agency, Media/Publishing, Developer Tools\n    - Marketing, Productivity, Finance, Healthcare, Education, Other\n\n    Uses LLM-powered classification with TLD-based fallback if AI is unavailable.\n    Results are cached for performance (10K entry LRU cache).",
        "operationId": "classify_domain_api_v1_classify__domain__get",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain"
            }
          },
          {
            "name": "use_ai",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Use AI classification",
              "default": true,
              "title": "Use Ai"
            },
            "description": "Use AI classification"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassifyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/classify/batch": {
      "post": {
        "tags": [
          "Classification",
          "Classification"
        ],
        "summary": "Classify multiple domains",
        "description": "Classify multiple domains into industry verticals in batch.\n\n    Maximum 100 domains per request.\n    Uses parallel processing for efficiency.",
        "operationId": "classify_domains_batch_endpoint_api_v1_classify_batch_post",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchClassifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchClassifyResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory": {
      "get": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Browse directory",
        "description": "Get paginated list of indexed domains with ADP scores",
        "operationId": "list_directory_api_v1_directory_get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Items per page",
              "default": 20,
              "title": "Per Page"
            },
            "description": "Items per page"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort field: adp_score, domain, last_scanned",
              "default": "adp_score",
              "title": "Sort By"
            },
            "description": "Sort field: adp_score, domain, last_scanned"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort order: asc, desc",
              "default": "desc",
              "title": "Order"
            },
            "description": "Sort order: asc, desc"
          },
          {
            "name": "vertical",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by vertical",
              "title": "Vertical"
            },
            "description": "Filter by vertical"
          },
          {
            "name": "has_llms_txt",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by llms.txt presence",
              "title": "Has Llms Txt"
            },
            "description": "Filter by llms.txt presence"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/search": {
      "get": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Search directory",
        "description": "Search the directory with advanced filters",
        "operationId": "search_directory_api_v1_directory_search_get",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Domain search query",
              "title": "Q"
            },
            "description": "Domain search query"
          },
          {
            "name": "vertical",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by vertical",
              "title": "Vertical"
            },
            "description": "Filter by vertical"
          },
          {
            "name": "min_score",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 100,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum ADP score",
              "title": "Min Score"
            },
            "description": "Minimum ADP score"
          },
          {
            "name": "max_score",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 100,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum ADP score",
              "title": "Max Score"
            },
            "description": "Maximum ADP score"
          },
          {
            "name": "has_llms_txt",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by llms.txt",
              "title": "Has Llms Txt"
            },
            "description": "Filter by llms.txt"
          },
          {
            "name": "compliance_level",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by compliance level",
              "title": "Compliance Level"
            },
            "description": "Filter by compliance level"
          },
          {
            "name": "min_llms_quality",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 100,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum llms.txt quality",
              "title": "Min Llms Quality"
            },
            "description": "Minimum llms.txt quality"
          },
          {
            "name": "is_early_adopter",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by early adopter status",
              "title": "Is Early Adopter"
            },
            "description": "Filter by early adopter status"
          },
          {
            "name": "is_actively_maintained",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by active maintenance",
              "title": "Is Actively Maintained"
            },
            "description": "Filter by active maintenance"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 20,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/stats": {
      "get": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Get directory statistics",
        "description": "Get aggregate statistics about the directory",
        "operationId": "get_directory_stats_api_v1_directory_stats_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryStatsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/submit": {
      "post": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Submit domain",
        "description": "Submit a domain to be indexed in the directory (email-gated)",
        "operationId": "submit_domain_api_v1_directory_submit_post",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectorySubmitRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectorySubmitResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/compare": {
      "post": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Compare domains",
        "description": "Compare ADP compliance across multiple domains",
        "operationId": "compare_domains_api_v1_directory_compare_post",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectoryCompareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryCompareResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/verticals": {
      "get": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "List verticals",
        "description": "Get list of available industry verticals",
        "operationId": "list_verticals_api_v1_directory_verticals_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array",
                  "title": "Response List Verticals Api V1 Directory Verticals Get"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/badge/{domain}": {
      "get": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Get ADP badge",
        "description": "Get embeddable ADP verified badge for a domain",
        "operationId": "get_badge_api_v1_directory_badge__domain__get",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadgeResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/badge/{domain}/image.svg": {
      "get": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Badge SVG image",
        "description": "Direct SVG image for embedding",
        "operationId": "get_badge_image_api_v1_directory_badge__domain__image_svg_get",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "image/svg+xml": {}
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/alerts/subscribe": {
      "post": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Subscribe to competitor alerts",
        "description": "Get notified when competitors improve their ADP score",
        "operationId": "subscribe_to_alerts_api_v1_directory_alerts_subscribe_post",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertSubscription"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlertSubscriptionResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/leaderboard": {
      "get": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "ADP leaderboard",
        "description": "Get top domains by ADP score",
        "operationId": "get_leaderboard_api_v1_directory_leaderboard_get",
        "parameters": [
          {
            "name": "vertical",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by vertical",
              "title": "Vertical"
            },
            "description": "Filter by vertical"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Number of entries",
              "default": 100,
              "title": "Limit"
            },
            "description": "Number of entries"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/leads/generate": {
      "post": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Generate lead list",
        "description": "Generate a targeted lead list from directory data (email-gated)",
        "operationId": "generate_lead_list_api_v1_directory_leads_generate_post",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadListRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeadListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/admin/import-hub": {
      "post": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Import from llms.txt hub",
        "description": "Load directory entries from external llms.txt hub imports",
        "operationId": "import_from_hub_api_v1_directory_admin_import_hub_post",
        "parameters": [
          {
            "name": "data_dir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Directory containing hub import files",
              "default": "data/directory",
              "title": "Data Dir"
            },
            "description": "Directory containing hub import files"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HubImportResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/admin/stats": {
      "get": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Directory statistics",
        "description": "Get directory statistics and data source info",
        "operationId": "get_admin_directory_stats_api_v1_directory_admin_stats_get",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Get Admin Directory Stats Api V1 Directory Admin Stats Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/cc-browse": {
      "get": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Browse all 607M Common Crawl domains with filters",
        "description": "Paginated browse over the full Common Crawl host index. Filter by authority (hcrank10), page count (fetch_200), TLD. Sort by any metric. Server-rendered and SEO-friendly. This is the REAL 607M domain directory — the /directory/browse endpoint above is the curated llms.txt subset.",
        "operationId": "cc_browse_directory_api_v1_directory_cc_browse_get",
        "parameters": [
          {
            "name": "hcrank_min",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 10,
              "minimum": 0,
              "description": "Minimum hcrank10 authority",
              "default": 0,
              "title": "Hcrank Min"
            },
            "description": "Minimum hcrank10 authority"
          },
          {
            "name": "hcrank_max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 10,
              "minimum": 0,
              "description": "Maximum hcrank10 authority",
              "default": 10,
              "title": "Hcrank Max"
            },
            "description": "Maximum hcrank10 authority"
          },
          {
            "name": "fetch_200_min",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Minimum fetch_200 (page count)",
              "default": 0,
              "title": "Fetch 200 Min"
            },
            "description": "Minimum fetch_200 (page count)"
          },
          {
            "name": "tld",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by TLD, e.g. 'com', 'io'",
              "title": "Tld"
            },
            "description": "Filter by TLD, e.g. 'com', 'io'"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Field to sort by",
              "default": "hcrank10",
              "title": "Sort By"
            },
            "description": "Field to sort by"
          },
          {
            "name": "sort_desc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Descending sort",
              "default": true,
              "title": "Sort Desc"
            },
            "description": "Descending sort"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number (1-indexed)",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number (1-indexed)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Results per page",
              "default": 50,
              "title": "Limit"
            },
            "description": "Results per page"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/cc-browse/export": {
      "get": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Export filtered CC browse results as CSV",
        "description": "Same filters as /cc-browse but returns a CSV stream. Free tier capped at 100 rows for anonymous users; authenticated users get up to 10,000.",
        "operationId": "cc_browse_export_api_v1_directory_cc_browse_export_get",
        "parameters": [
          {
            "name": "hcrank_min",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 10,
              "minimum": 0,
              "default": 0,
              "title": "Hcrank Min"
            }
          },
          {
            "name": "hcrank_max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 10,
              "minimum": 0,
              "default": 10,
              "title": "Hcrank Max"
            }
          },
          {
            "name": "fetch_200_min",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "title": "Fetch 200 Min"
            }
          },
          {
            "name": "tld",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Tld"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "hcrank10",
              "title": "Sort By"
            }
          },
          {
            "name": "sort_desc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Sort Desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "minimum": 1,
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/directory/{domain}": {
      "get": {
        "tags": [
          "Directory",
          "Directory"
        ],
        "summary": "Get domain details",
        "description": "Get detailed ADP information for a specific domain",
        "operationId": "get_domain_entry_api_v1_directory__domain__get",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Domain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryEntry"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/report": {
      "post": {
        "tags": [
          "Full Report",
          "Full Report"
        ],
        "summary": "Generate full enriched domain report",
        "description": "Generate a comprehensive report for a domain by aggregating data from multiple sources:\n\n    **Data Sources:**\n    - **Unified Scan**: ADP compliance, MCP readiness, commerce protocols, citation readiness\n    - **Common Crawl**: Domain authority metrics (hcrank10, prank10)\n    - **Domain Intel**: WHOIS registration, DNS records, email/hosting providers\n    - **Free Enrichment**: Homepage scrape, Wayback Machine, certificate transparency\n    - **Priority Scoring**: Lead qualification with detailed breakdown\n\n    **Lead Tracking:**\n    The email/domain pair is stored in the leads database for follow-up.\n\n    **Response Time:**\n    Typically 15-30 seconds. Timeouts applied to slow operations.",
        "operationId": "generate_full_report_api_v1_report_post",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullReportResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/report/example": {
      "get": {
        "tags": [
          "Full Report",
          "Full Report"
        ],
        "summary": "Get example report structure",
        "description": "Returns an example full report structure for documentation purposes.",
        "operationId": "get_example_report_api_v1_report_example_get",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullReportResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/sync": {
      "post": {
        "tags": [
          "Users",
          "users"
        ],
        "summary": "Sync User",
        "description": "Sync user from Clerk webhook or first login.",
        "operationId": "sync_user_api_v1_users_sync_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSync"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me": {
      "get": {
        "tags": [
          "Users",
          "users"
        ],
        "summary": "Get Current User",
        "description": "Get current user profile.",
        "operationId": "get_current_user_api_v1_users_me_get",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Users",
          "users"
        ],
        "summary": "Update User",
        "description": "Update user profile.",
        "operationId": "update_user_api_v1_users_me_patch",
        "parameters": [
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "title": "X-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/": {
      "get": {
        "tags": [
          "Tasks",
          "tasks"
        ],
        "summary": "List Tasks",
        "description": "List tasks, optionally filtered by domain.",
        "operationId": "list_tasks_api_v1_tasks__get",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Domain"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/api__routes__tasks__TaskResponse"
                  },
                  "title": "Response List Tasks Api V1 Tasks  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Tasks",
          "tasks"
        ],
        "summary": "Create Task",
        "description": "Create a new task.",
        "operationId": "create_task_api_v1_tasks__post",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api__routes__tasks__TaskCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tasks/{task_id}": {
      "get": {
        "tags": [
          "Tasks",
          "tasks"
        ],
        "summary": "Get Task",
        "description": "Get a specific task.",
        "operationId": "get_task_api_v1_tasks__task_id__get",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Task Id"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Api-Key"
            }
          },
          {
            "name": "x-user-id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-User-Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api__routes__tasks__TaskResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
[...]
