{
  "openapi": "3.0.3",
  "info": {
    "title": "HTML/CSS to Image API",
    "description": "API for generating images from HTML/CSS or URLs",
    "version": "1.0",
    "x-jentic-source-url": "https://docs.htmlcsstoimage.com/"
  },
  "servers": [
    {
      "url": "https://hcti.io"
    }
  ],
  "paths": {
    "/v1/image": {
      "post": {
        "summary": "Create image",
        "operationId": "create_image",
        "tags": [
          "Images"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/image/{image_id}": {
      "get": {
        "summary": "Get image",
        "operationId": "get_image",
        "tags": [
          "Images"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "Delete image",
        "operationId": "delete_image",
        "tags": [
          "Images"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/image/batch": {
      "post": {
        "summary": "Create batch images",
        "operationId": "create_batch_images",
        "tags": [
          "Images"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "summary": "Delete batch images",
        "operationId": "delete_batch_images",
        "tags": [
          "Images"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        }
      }
    },
    "/v1/images": {
      "get": {
        "summary": "List images",
        "operationId": "list_images",
        "tags": [
          "Images"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/v1/usage": {
      "get": {
        "summary": "Get usage",
        "operationId": "get_usage",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ]
}