{
  "openapi": "3.0.3",
  "info": {
    "title": "Robin Workplace API",
    "description": "The Robin Workplace API provides programmatic access to manage workplaces, spaces, desks, events, reservations, and more.",
    "version": "1.0",
    "contact": {
      "name": "Robin Powered",
      "url": "https://docs.robinpowered.com/"
    },
    "x-jentic-source-url": "https://docs.robinpowered.com/"
  },
  "servers": [
    {
      "url": "https://api.robinpowered.com/v1.0",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/auth": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "getAuth",
        "summary": "Get current authentication details",
        "responses": {
          "200": {
            "description": "Authentication details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "getOrganization",
        "summary": "Get an organization by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/organizations/{id}/locations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "getOrganizationLocations",
        "summary": "List locations for an organization",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of locations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "operationId": "createOrganizationLocation",
        "summary": "Create a location for an organization",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Location created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/organizations/{id}/users": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "getOrganizationUsers",
        "summary": "List users for an organization",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "operationId": "createOrganizationUser",
        "summary": "Create a user for an organization",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/organizations/{id}/users/{userId}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "getOrganizationUser",
        "summary": "Get a specific user in an organization",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The user ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/organizations/{id}/amenities": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "getOrganizationAmenities",
        "summary": "List amenities for an organization",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of amenities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmenityListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "operationId": "createOrganizationAmenity",
        "summary": "Create an amenity for an organization",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrganizationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AmenityInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Amenity created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmenityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getUser",
        "summary": "Get a user by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/users/{id}/presence": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getUserPresence",
        "summary": "Get presence information for a user",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "User presence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresenceListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/users/{id}/events": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getUserEvents",
        "summary": "Get events for a user",
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getMe",
        "summary": "Get the current authenticated user",
        "responses": {
          "200": {
            "description": "Current user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/me/presence": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getMePresence",
        "summary": "Get presence information for the current user",
        "responses": {
          "200": {
            "description": "Current user presence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresenceListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/me/events": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getMeEvents",
        "summary": "Get events for the current user",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{id}": {
      "get": {
        "tags": [
          "Locations"
        ],
        "operationId": "getLocation",
        "summary": "Get a location by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Location details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Locations"
        ],
        "operationId": "updateLocation",
        "summary": "Update a location",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/locations/{id}/spaces": {
      "get": {
        "tags": [
          "Locations"
        ],
        "operationId": "getLocationSpaces",
        "summary": "List spaces for a location",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of spaces",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Locations"
        ],
        "operationId": "createLocationSpace",
        "summary": "Create a space in a location",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpaceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Space created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/locations/{id}/presence": {
      "get": {
        "tags": [
          "Locations"
        ],
        "operationId": "getLocationPresence",
        "summary": "Get presence information for a location",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Location presence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresenceListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Locations"
        ],
        "operationId": "createLocationPresence",
        "summary": "Add presence to a location",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresenceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Presence created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresenceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Locations"
        ],
        "operationId": "deleteLocationPresence",
        "summary": "Remove presence from a location",
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationId"
          }
        ],
        "responses": {
          "204": {
            "description": "Presence removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/spaces/{id}": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "operationId": "getSpace",
        "summary": "Get a space by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Space details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Spaces"
        ],
        "operationId": "updateSpace",
        "summary": "Update a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpaceInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Space updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Spaces"
        ],
        "operationId": "deleteSpace",
        "summary": "Delete a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Space deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/spaces/{id}/events": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "operationId": "getSpaceEvents",
        "summary": "List events for a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Spaces"
        ],
        "operationId": "createSpaceEvent",
        "summary": "Create an event in a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/spaces/{id}/amenities/{amenityId}": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "operationId": "getSpaceAmenity",
        "summary": "Get a specific amenity for a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "$ref": "#/components/parameters/AmenityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Amenity details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmenityResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Spaces"
        ],
        "operationId": "setSpaceAmenity",
        "summary": "Add or update an amenity for a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "$ref": "#/components/parameters/AmenityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Amenity set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmenityResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Spaces"
        ],
        "operationId": "deleteSpaceAmenity",
        "summary": "Remove an amenity from a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          },
          {
            "$ref": "#/components/parameters/AmenityId"
          }
        ],
        "responses": {
          "204": {
            "description": "Amenity removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/spaces/{id}/presence": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "operationId": "getSpacePresence",
        "summary": "Get presence information for a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Space presence",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresenceListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Spaces"
        ],
        "operationId": "createSpacePresence",
        "summary": "Add presence to a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresenceInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Presence created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresenceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Spaces"
        ],
        "operationId": "deleteSpacePresence",
        "summary": "Remove presence from a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Presence removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/spaces/{id}/devices": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "operationId": "getSpaceDevices",
        "summary": "List devices for a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of devices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/spaces/{id}/state": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "operationId": "getSpaceState",
        "summary": "Get the current state of a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Space state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpaceStateResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/spaces/{id}/seats": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "operationId": "getSpaceSeats",
        "summary": "List seats (desks) in a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of seats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/spaces/{id}/zones": {
      "get": {
        "tags": [
          "Spaces"
        ],
        "operationId": "getSpaceZones",
        "summary": "List zones in a space",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpaceId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of zones",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/events/{id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "getEvent",
        "summary": "Get an event by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Events"
        ],
        "operationId": "updateEvent",
        "summary": "Update an event",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "operationId": "deleteEvent",
        "summary": "Delete an event",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventId"
          }
        ],
        "responses": {
          "204": {
            "description": "Event deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events/{id}/confirmation": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "getEventConfirmation",
        "summary": "Get confirmation status for an event",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Events"
        ],
        "operationId": "confirmEvent",
        "summary": "Confirm an event",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventId"
          }
        ],
        "responses": {
          "200": {
            "description": "Event confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "operationId": "deleteEventConfirmation",
        "summary": "Remove confirmation from an event",
        "parameters": [
          {
            "$ref": "#/components/parameters/EventId"
          }
        ],
        "responses": {
          "204": {
            "description": "Confirmation removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/seats/{id}/amenities": {
      "get": {
        "tags": [
          "Desks"
        ],
        "operationId": "getSeatAmenities",
        "summary": "List amenities for a seat",
        "parameters": [
          {
            "$ref": "#/components/parameters/SeatId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of amenities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmenityListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/seats/{id}/amenities/{amenityId}": {
      "put": {
        "tags": [
          "Desks"
        ],
        "operationId": "setSeatAmenity",
        "summary": "Add or update an amenity for a seat",
        "parameters": [
          {
            "$ref": "#/components/parameters/SeatId"
          },
          {
            "$ref": "#/components/parameters/AmenityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Amenity set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmenityResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "Desks"
        ],
        "operationId": "deleteSeatAmenity",
        "summary": "Remove an amenity from a seat",
        "parameters": [
          {
            "$ref": "#/components/parameters/SeatId"
          },
          {
            "$ref": "#/components/parameters/AmenityId"
          }
        ],
        "responses": {
          "204": {
            "description": "Amenity removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Desks"
        ],
        "operationId": "updateSeatAmenity",
        "summary": "Partially update an amenity for a seat",
        "parameters": [
          {
            "$ref": "#/components/parameters/SeatId"
          },
          {
            "$ref": "#/components/parameters/AmenityId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AmenityInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Amenity updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmenityResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/seats/{id}/settings/{settingSlug}": {
      "get": {
        "tags": [
          "Desks"
        ],
        "operationId": "getSeatSetting",
        "summary": "Get a specific setting for a seat",
        "parameters": [
          {
            "$ref": "#/components/parameters/SeatId"
          },
          {
            "name": "settingSlug",
            "in": "path",
            "required": true,
            "description": "The setting slug identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Setting details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatSettingResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Desks"
        ],
        "operationId": "setSeatSetting",
        "summary": "Set a specific setting for a seat",
        "parameters": [
          {
            "$ref": "#/components/parameters/SeatId"
          },
          {
            "name": "settingSlug",
            "in": "path",
            "required": true,
            "description": "The setting slug identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeatSettingInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Setting updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatSettingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/seats/{id}/reservations": {
      "post": {
        "tags": [
          "DeskReservations"
        ],
        "operationId": "createSeatReservation",
        "summary": "Create a reservation for a seat",
        "parameters": [
          {
            "$ref": "#/components/parameters/SeatId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeatReservationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reservation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatReservationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/seats/{id}/publish-shared-schedule": {
      "post": {
        "tags": [
          "DeskReservations"
        ],
        "operationId": "publishSharedSchedule",
        "summary": "Publish a shared schedule for a seat",
        "parameters": [
          {
            "$ref": "#/components/parameters/SeatId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Schedule published"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reservations/seats/{id}": {
      "get": {
        "tags": [
          "DeskReservations"
        ],
        "operationId": "getSeatReservation",
        "summary": "Get a seat reservation by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReservationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Reservation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatReservationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "DeskReservations"
        ],
        "operationId": "updateSeatReservation",
        "summary": "Update a seat reservation",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReservationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeatReservationInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reservation updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatReservationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "DeskReservations"
        ],
        "operationId": "deleteSeatReservation",
        "summary": "Delete a seat reservation",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReservationId"
          }
        ],
        "responses": {
          "204": {
            "description": "Reservation deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/reservations/seats/{id}/instances": {
      "get": {
        "tags": [
          "DeskReservations"
        ],
        "operationId": "getSeatReservationInstances",
        "summary": "Get instances of a recurring seat reservation",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReservationId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of reservation instances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatReservationListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reservations/seats": {
      "get": {
        "tags": [
          "DeskReservations"
        ],
        "operationId": "listSeatReservations",
        "summary": "List seat reservations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of seat reservations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatReservationListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reservations/seats/{id}/confirmation": {
      "get": {
        "tags": [
          "DeskReservations"
        ],
        "operationId": "getSeatReservationConfirmation",
        "summary": "Get confirmation status for a seat reservation",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReservationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "DeskReservations"
        ],
        "operationId": "confirmSeatReservation",
        "summary": "Confirm a seat reservation",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReservationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Reservation confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "tags": [
          "DeskReservations"
        ],
        "operationId": "deleteSeatReservationConfirmation",
        "summary": "Remove confirmation from a seat reservation",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReservationId"
          }
        ],
        "responses": {
          "204": {
            "description": "Confirmation removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/reservations/seats/{id}/exclusions": {
      "get": {
        "tags": [
          "DeskReservations"
        ],
        "operationId": "getSeatReservationExclusions",
        "summary": "Get exclusions for a seat reservation",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReservationId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of exclusions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExclusionListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "DeskReservations"
        ],
        "operationId": "createSeatReservationExclusion",
        "summary": "Create an exclusion for a seat reservation",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReservationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExclusionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Exclusion created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExclusionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/free-busy/spaces": {
      "post": {
        "tags": [
          "FreeBusy"
        ],
        "operationId": "getFreeBusySpaces",
        "summary": "Get free/busy information for spaces",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreeBusyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Free/busy information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FreeBusyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/zones/{id}": {
      "get": {
        "tags": [
          "Zones"
        ],
        "operationId": "getZone",
        "summary": "Get a zone by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/ZoneId"
          }
        ],
        "responses": {
          "200": {
            "description": "Zone details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/zones/{id}/seats": {
      "get": {
        "tags": [
          "Zones"
        ],
        "operationId": "getZoneSeats",
        "summary": "List seats in a zone",
        "parameters": [
          {
            "$ref": "#/components/parameters/ZoneId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of seats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeatListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/visits": {
      "get": {
        "tags": [
          "Visits"
        ],
        "operationId": "listVisits",
        "summary": "List visits",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "List of visits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Visits"
        ],
        "operationId": "createVisit",
        "summary": "Create a visit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisitInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Visit created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/visits/{id}": {
      "get": {
        "tags": [
          "Visits"
        ],
        "operationId": "getVisit",
        "summary": "Get a visit by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/VisitId"
          }
        ],
        "responses": {
          "200": {
            "description": "Visit details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Visits"
        ],
        "operationId": "deleteVisit",
        "summary": "Delete a visit",
        "parameters": [
          {
            "$ref": "#/components/parameters/VisitId"
          }
        ],
        "responses": {
          "204": {
            "description": "Visit deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/visits/types": {
      "get": {
        "tags": [
          "Visits"
        ],
        "operationId": "listVisitTypes",
        "summary": "List visit types",
        "responses": {
          "200": {
            "description": "List of visit types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitTypeListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/visits/forms": {
      "get": {
        "tags": [
          "Visits"
        ],
        "operationId": "listVisitForms",
        "summary": "List visit forms",
        "responses": {
          "200": {
            "description": "List of visit forms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitFormListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/token": {
      "post": {
        "tags": [
          "Token"
        ],
        "operationId": "createToken",
        "summary": "Create an access token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "accessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Access token authentication. Use the format: Access-Token {{token}}"
      }
    },
    "parameters": {
      "OrganizationId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The organization ID",
        "schema": {
          "type": "integer"
        }
      },
      "UserId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The user ID",
        "schema": {
          "type": "integer"
        }
      },
      "LocationId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The location ID",
        "schema": {
          "type": "integer"
        }
      },
      "SpaceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The space ID",
        "schema": {
          "type": "integer"
        }
      },
      "EventId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The event ID",
        "schema": {
          "type": "integer"
        }
      },
      "SeatId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The seat (desk) ID",
        "schema": {
          "type": "integer"
        }
      },
      "AmenityId": {
        "name": "amenityId",
        "in": "path",
        "required": true,
        "description": "The amenity ID",
        "schema": {
          "type": "integer"
        }
      },
      "ReservationId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The reservation ID",
        "schema": {
          "type": "integer"
        }
      },
      "ZoneId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The zone ID",
        "schema": {
          "type": "integer"
        }
      },
      "VisitId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The visit ID",
        "schema": {
          "type": "integer"
        }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "description": "Page number for pagination",
        "schema": {
          "type": "integer",
          "default": 1
        }
      },
      "PerPage": {
        "name": "per_page",
        "in": "query",
        "description": "Number of results per page",
        "schema": {
          "type": "integer",
          "default": 25
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "status_code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "token": {
                "type": "string"
              },
              "scope": {
                "type": "string"
              },
              "is_refreshable": {
                "type": "boolean"
              },
              "organization_id": {
                "type": "integer"
              },
              "user_id": {
                "type": "integer"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "avatar": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrganizationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Organization"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "timezone": {
            "type": "string"
          },
          "organization_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LocationInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "LocationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "LocationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "avatar": {
            "type": "string",
            "nullable": true
          },
          "is_admin": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "name",
          "email"
        ]
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "UserListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "Amenity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "organization_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AmenityInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "AmenityResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Amenity"
          }
        }
      },
      "AmenityListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Amenity"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "Space": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "capacity": {
            "type": "integer",
            "nullable": true
          },
          "type": {
            "type": "string"
          },
          "location_id": {
            "type": "integer"
          },
          "is_disabled": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SpaceInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "capacity": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "is_disabled": {
            "type": "boolean"
          }
        }
      },
      "SpaceResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Space"
          }
        }
      },
      "SpaceListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Space"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "SpaceStateResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "space_id": {
                "type": "integer"
              },
              "is_busy": {
                "type": "boolean"
              },
              "current_event": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              },
              "next_event": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "space_id": {
            "type": "integer"
          },
          "organizer_id": {
            "type": "integer",
            "nullable": true
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_all_day": {
            "type": "boolean"
          },
          "visibility": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EventInput": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time"
          },
          "is_all_day": {
            "type": "boolean"
          }
        }
      },
      "EventResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Event"
          }
        }
      },
      "EventListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "ConfirmationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "confirmed_at": {
                "type": "string",
                "format": "date-time"
              },
              "user_id": {
                "type": "integer"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "Presence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer",
            "nullable": true
          },
          "space_id": {
            "type": "integer",
            "nullable": true
          },
          "device_id": {
            "type": "integer",
            "nullable": true
          },
          "expired_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PresenceInput": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer"
          },
          "expired_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "user_id"
        ]
      },
      "PresenceResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Presence"
          }
        }
      },
      "PresenceListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Presence"
            }
          }
        }
      },
      "Device": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "space_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DeviceListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Device"
            }
          }
        }
      },
      "Seat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "space_id": {
            "type": "integer"
          },
          "zone_id": {
            "type": "integer",
            "nullable": true
          },
          "type": {
            "type": "string"
          },
          "is_assigned": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SeatListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Seat"
            }
          }
        }
      },
      "SeatSettingResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string"
              },
              "value": {},
              "seat_id": {
                "type": "integer"
              }
            }
          }
        }
      },
      "SeatSettingInput": {
        "type": "object",
        "properties": {
          "value": {
            "description": "The setting value"
          }
        },
        "required": [
          "value"
        ]
      },
      "SeatReservation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "seat_id": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "recurrence": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SeatReservationInput": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "recurrence": {
            "type": "string"
          }
        }
      },
      "SeatReservationResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SeatReservation"
          }
        }
      },
      "SeatReservationListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SeatReservation"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "Exclusion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "reservation_id": {
            "type": "integer"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ExclusionInput": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          }
        },
        "required": [
          "date"
        ]
      },
      "ExclusionResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Exclusion"
          }
        }
      },
      "ExclusionListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Exclusion"
            }
          }
        }
      },
      "FreeBusyRequest": {
        "type": "object",
        "properties": {
          "space_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "List of space IDs to check"
          },
          "after": {
            "type": "string",
            "format": "date-time",
            "description": "Start of the time range"
          },
          "before": {
            "type": "string",
            "format": "date-time",
            "description": "End of the time range"
          }
        },
        "required": [
          "space_ids",
          "after",
          "before"
        ]
      },
      "FreeBusyResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "space_id": {
                  "type": "integer"
                },
                "busy": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "end": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "event_id": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Zone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "space_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ZoneResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Zone"
          }
        }
      },
      "ZoneListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Zone"
            }
          }
        }
      },
      "Visit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "visitor_name": {
            "type": "string"
          },
          "visitor_email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "host_user_id": {
            "type": "integer",
            "nullable": true
          },
          "location_id": {
            "type": "integer"
          },
          "type_id": {
            "type": "integer",
            "nullable": true
          },
          "arrived_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expected_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "VisitInput": {
        "type": "object",
        "properties": {
          "visitor_name": {
            "type": "string"
          },
          "visitor_email": {
            "type": "string",
            "format": "email"
          },
          "host_user_id": {
            "type": "integer"
          },
          "location_id": {
            "type": "integer"
          },
          "type_id": {
            "type": "integer"
          },
          "expected_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "visitor_name",
          "location_id"
        ]
      },
      "VisitResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Visit"
          }
        }
      },
      "VisitListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Visit"
            }
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          }
        }
      },
      "VisitType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "organization_id": {
            "type": "integer"
          }
        }
      },
      "VisitTypeListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisitType"
            }
          }
        }
      },
      "VisitForm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "organization_id": {
            "type": "integer"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "required": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "VisitFormListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VisitForm"
            }
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          }
        },
        "required": [
          "grant_type"
        ]
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "access_token": {
                "type": "string"
              },
              "token_type": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              },
              "refresh_token": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "accessToken": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication operations"
    },
    {
      "name": "Organizations",
      "description": "Organization management"
    },
    {
      "name": "Users",
      "description": "User management"
    },
    {
      "name": "Locations",
      "description": "Location management"
    },
    {
      "name": "Spaces",
      "description": "Space (room) management"
    },
    {
      "name": "Events",
      "description": "Event management"
    },
    {
      "name": "Desks",
      "description": "Desk (seat) management and amenities"
    },
    {
      "name": "DeskReservations",
      "description": "Desk reservation management"
    },
    {
      "name": "FreeBusy",
      "description": "Free/busy schedule queries"
    },
    {
      "name": "Zones",
      "description": "Zone management"
    },
    {
      "name": "Visits",
      "description": "Visitor management"
    },
    {
      "name": "Token",
      "description": "Token management"
    }
  ]
}