{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "os@cisco.com",
      "name": "Omar Santos"
    },
    "description": "The Cisco Product Security Incident Response Team (PSIRT) openVuln API is a RESTful API that allows customers to obtain Cisco Security Vulnerability information in different machine-consumable formats. APIs are important for customers because they allow their technical staff and programmers to build tools that help them do their job more effectively (in this case, to keep up with security vulnerability information).\nFor more information about the Cisco PSIRT openVuln API visit https://developer.cisco.com/site/PSIRT/discover/overview\n\nFor detail steps on how to use the API go to:https://developer.cisco.com/site/PSIRT/get-started/getting-started.gsp\n\nThis is a beta release of a swagger YAML for the Cisco PSIRT openVuln API\n\nTo access the API sign in with your Cisco CCO account at http://apiconsole.cisco.com and register an application\nto recieve a client_id and a client_secret\n\nYou can then get your token using curl or any other method you prefer.\n\n'curl -s -k -H \"Content-Type: application/x-www-form-urlencoded\" -X POST -d \"client_id=<your_client_id>\" -d \"client_secret=<your_client_secret>\" -d \"grant_type=client_credentials\" https://cloudsso.cisco.com/as/token.oauth2'\n\nYou will receive an access token as demonstrated in the following example:\n '{\"access_token\":\"I7omWtBDAieSiUX3shOxNJfuy4J6\",\"token_type\":\"Bearer\",\"expires_in\":3599}'\n\nIn Swagger, click on Change Authentication\n\nenter the text \"I7omWtBDAieSiUX3shOxNJfuy4J6\" (which is the token you received)\n\nthen click on \"Try this operation\"\n",
    "title": "Cisco PSIRT openVuln API",
    "version": "0.0.3",
    "x-apisguru-categories": [
      "security"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/cisco.com/0.0.3/swagger.yaml",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_logo-core_clearbit_com_cisco.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/CiscoPSIRT/openVulnAPI/master/swagger/openVulnAPISwagger0_0_3.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "cisco.com"
  },
  "servers": [
    {
      "url": "https://api.cisco.com/"
    }
  ],
  "paths": {
    "/security/advisories/cvrf/advisory/{advisory_id}": {
      "get": {
        "parameters": [
          {
            "description": "advisory ID",
            "in": "path",
            "name": "advisory_id",
            "required": true,
            "schema": {
              "format": "cisco-sa-XXX",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain an advisory in CVRF format for a given advisory ID `advisory_id` (i.e., cisco-sa-20150819-pcp)\n",
        "operationId": "get-security-advisories-cvrf-advisory-by-advisory-id"
      }
    },
    "/security/advisories/cvrf/all": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all advisories in Common Vulnerability Reporting Format (CVRF). For more information about CVRF go to https://communities.cisco.com/docs/DOC-63156 . By default the output is in JSON. To obtain the output in XML use the .xml extension. For example, /advisories/cvrf/all.xml\n",
        "operationId": "get-security-advisories-cvrf-all"
      }
    },
    "/security/advisories/cvrf/cve/{cve_id}": {
      "get": {
        "parameters": [
          {
            "description": "CVE Identifier (i.e., CVE-YYYY-NNNN)",
            "in": "path",
            "name": "cve_id",
            "required": true,
            "schema": {
              "format": "CVE-YYYY-NNNN",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain an advisory in CVRF format for a given Common Vulnerability Enumerator (CVE). The `cve_id` format is CVE-YYYY-NNNN. For more information about CVE visit http://cve.mitre.org/\n",
        "operationId": "get-security-advisories-cvrf-cve-by-cve-id"
      }
    },
    "/security/advisories/cvrf/latest/{number}": {
      "get": {
        "parameters": [
          {
            "description": "An absolute number to obtain the latest security advisories.",
            "in": "path",
            "name": "number",
            "required": true,
            "schema": {
              "format": "number",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all the latest security advisories in CVRF format given an absolute number. For instance, the latest 10 or latest 5.\n",
        "operationId": "get-security-advisories-cvrf-latest-by-number"
      }
    },
    "/security/advisories/cvrf/product": {
      "get": {
        "parameters": [
          {
            "description": "An product name to obtain security advisories that matches given product name.",
            "in": "query",
            "name": "product",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all the advisories that affects the given product name.\n",
        "operationId": "get-security-advisories-cvrf-product"
      }
    },
    "/security/advisories/cvrf/severity/{severity}": {
      "get": {
        "parameters": [
          {
            "description": "Critical, High, Medium, Low",
            "in": "path",
            "name": "severity",
            "required": true,
            "schema": {
              "enum": [
                "critical",
                "high",
                "medium",
                "low"
              ],
              "format": "enum",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all security advisories for a given security impact rating (critical, high, medium, or low) in CVRF format.\n",
        "operationId": "get-security-advisories-cvrf-severity-by-severity"
      }
    },
    "/security/advisories/cvrf/severity/{severity}/firstpublished": {
      "get": {
        "parameters": [
          {
            "description": "Used to obtain all advisories that have a security impact rating of critical",
            "in": "path",
            "name": "severity",
            "required": true,
            "schema": {
              "enum": [
                "critical",
                "high",
                "medium",
                "low"
              ],
              "format": "enum",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all security advisories for a given security impact rating (critical, high, medium, or low) in CVRF format and additionally filter based of firstpublished start date and enddate\n",
        "operationId": "get-security-advisories-cvrf-severity-by-severity-firstpublished"
      }
    },
    "/security/advisories/cvrf/severity/{severity}/lastpublished": {
      "get": {
        "parameters": [
          {
            "description": "Used to obtain all advisories that have a security impact rating of critical",
            "in": "path",
            "name": "severity",
            "required": true,
            "schema": {
              "enum": [
                "critical",
                "high",
                "medium",
                "low"
              ],
              "format": "enum",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all security advisories for a given security impact rating (critical, high, medium, or low) in CVRF format.\n",
        "operationId": "get-security-advisories-cvrf-severity-by-severity-lastpublished"
      }
    },
    "/security/advisories/cvrf/year/{year}": {
      "get": {
        "parameters": [
          {
            "description": "The four digit year.",
            "in": "path",
            "name": "year",
            "required": true,
            "schema": {
              "format": "YYYY",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all security advisories that have were orginally published in a specific year `YYYY`.\n",
        "operationId": "get-security-advisories-cvrf-year-by-year"
      }
    },
    "/security/advisories/ios": {
      "get": {
        "parameters": [
          {
            "description": "IOS version to obtain security advisories",
            "in": "query",
            "name": "version",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all advisories that affects the given ios version\n",
        "operationId": "get-security-advisories-ios"
      }
    },
    "/security/advisories/iosxe": {
      "get": {
        "parameters": [
          {
            "description": "IOS version to obtain security advisories",
            "in": "query",
            "name": "version",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all advisories that affects the given ios version\n",
        "operationId": "get-security-advisories-iosxe"
      }
    },
    "/security/advisories/oval/advisory/{advisory_id}": {
      "get": {
        "parameters": [
          {
            "description": "advisory ID",
            "in": "path",
            "name": "advisory_id",
            "required": true,
            "schema": {
              "format": "cisco-sa-XXX",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain OVAL definitions for a given advisory ID `advisory_id` (i.e., cisco-sa-20150819-pcp)\n",
        "operationId": "get-security-advisories-oval-advisory-by-advisory-id"
      }
    },
    "/security/advisories/oval/all": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all Open Vulnerability and Assessment Language (OVAL) definitions available for Cisco security vulnerabilities. For more information about OVAL go to https://communities.cisco.com/docs/DOC-63158 . By default the output is in JSON. To obtain the output in XML use the .xml extension. For example, /advisories/oval/all.xml\n",
        "operationId": "get-security-advisories-oval-all"
      }
    },
    "/security/advisories/oval/cve/{cve_id}": {
      "get": {
        "parameters": [
          {
            "description": "CVE Identifier (i.e., CVE-YYYY-NNNN)",
            "in": "path",
            "name": "cve_id",
            "required": true,
            "schema": {
              "format": "CVE-YYYY-NNNN",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain OVAL definitions for a given CVE Identifier. The `cve_id` format is CVE-YYYY-NNNN.\n",
        "operationId": "get-security-advisories-oval-cve-by-cve-id"
      }
    },
    "/security/advisories/oval/latest/{number}": {
      "get": {
        "parameters": [
          {
            "description": "The latest OVAL definitions (absolute number).",
            "in": "path",
            "name": "number",
            "required": true,
            "schema": {
              "format": "number",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all the latest OVAL definitions given an absolute number. For instance, the latest 10 or latest 5.\n",
        "operationId": "get-security-advisories-oval-latest-by-number"
      }
    },
    "/security/advisories/oval/product": {
      "get": {
        "parameters": [
          {
            "description": "An product name to obtain security advisories that matches given product name.",
            "in": "query",
            "name": "product",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all the oval advisories that affects the given product name.\n",
        "operationId": "get-security-advisories-oval-product"
      }
    },
    "/security/advisories/oval/severity/{severity}": {
      "get": {
        "parameters": [
          {
            "description": "Used to obtain all OVAL definitions for advisories that have a security impact rating of critical",
            "in": "path",
            "name": "severity",
            "required": true,
            "schema": {
              "enum": [
                "critical",
                "high",
                "medium",
                "low"
              ],
              "format": "enum",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all OVAL definitions for a given security impact rating (critical, high, medium, or low).\n",
        "operationId": "get-security-advisories-oval-severity-by-severity"
      }
    },
    "/security/advisories/oval/severity/{severity}/firstpublished": {
      "get": {
        "parameters": [
          {
            "description": "Critical, High, Medium, Low",
            "in": "path",
            "name": "severity",
            "required": true,
            "schema": {
              "enum": [
                "critical",
                "high",
                "medium",
                "low"
              ],
              "format": "enum",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all security advisories for a given security impact rating (critical, high, medium, or low) in OVAL format.\n",
        "operationId": "get-security-advisories-oval-severity-by-severity-firstpublished"
      }
    },
    "/security/advisories/oval/severity/{severity}/lastpublished": {
      "get": {
        "parameters": [
          {
            "description": "Critical, High, Medium, Low",
            "in": "path",
            "name": "severity",
            "required": true,
            "schema": {
              "enum": [
                "critical",
                "high",
                "medium",
                "low"
              ],
              "format": "enum",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "psirt_openvuln_api_auth": [
              "read:cvrf",
              "read:oval"
            ]
          }
        ],
        "tags": [
          "security"
        ],
        "description": "Used to obtain all security advisories for a given security impact rating (critical, high, medium, or low) in OVAL format.\n",
        "operationId": "get-security-advisories-oval-severity-by-severity-lastpublished"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "psirt_openvuln_api_auth": {
        "flows": {
          "implicit": {
            "authorizationUrl": "https://cloudsso.cisco.com/as/token.oauth2",
            "scopes": {
              "read:cvrf": "read cvrf files",
              "read:oval": "read oval files"
            }
          }
        },
        "type": "oauth2"
      }
    }
  },
  "tags": [
    {
      "name": "security"
    }
  ]
}