{
  "openapi": "3.0.3",
  "info": {
    "title": "API Reference",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.eyelevel.ai/openapi/openapi.yaml"
  },
  "servers": [
    {
      "url": "https://api.groundx.ai/api"
    }
  ],
  "paths": {
    "/v1/ingest/documents/local": {
      "post": {
        "operationId": "ingest-local",
        "summary": "ingest - Local Documents",
        "description": "Upload documents hosted on a local file system into a GroundX bucket.\n\n[Supported Document Types and Ingest Capacities](https://docs.eyelevel.ai/documentation/fundamentals/document-types-and-ingest-capacities)\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documents successfully uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid document type or source URL",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to update bucket with ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentLocalIngestRequest"
              }
            }
          }
        }
      }
    },
    "/v1/ingest/documents/remote": {
      "post": {
        "operationId": "ingest-remote",
        "summary": "ingest - Remote Documents",
        "description": "Ingest documents hosted on public URLs into a GroundX bucket.\n\n[Supported Document Types and Ingest Capacities](https://docs.eyelevel.ai/documentation/fundamentals/document-types-and-ingest-capacities)\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documents successfully uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid document type or source URL",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to update bucket with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentRemoteIngestRequest"
              }
            }
          }
        }
      }
    },
    "/v1/ingest/documents/website": {
      "post": {
        "operationId": "crawl-website",
        "summary": "crawl_website",
        "description": "Upload the content of a publicly accessible website for ingestion into a GroundX bucket. This is done by following links within a specified URL, recursively, up to a specified depth or number of pages.\n\nNote1: This endpoint is currently not supported for on-prem deployments. \nNote2: The `source_url` must include the protocol, http:// or https://.\n\n[Supported Document Types and Ingest Capacities](https://docs.eyelevel.ai/documentation/fundamentals/document-types-and-ingest-capacities)\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Website successfully queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid source URL",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to update bucket with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebsiteCrawlRequest"
              }
            }
          }
        }
      }
    },
    "/v1/ingest/{processId}": {
      "get": {
        "operationId": "get-processing-status-by-id",
        "summary": "get_processing_status_by_id",
        "description": "Get the current status of an ingest, initiated with documents.ingest_remote, documents.ingest_local, or documents.crawl_website, by specifying the processId (the processId is included in the response of the documents.ingest functions).\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "processId",
            "in": "path",
            "description": "the processId for the ingest process being checked",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid process ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access process with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "cancel-process",
        "summary": "cancel_process",
        "description": "Cancel an ingest process, along with any files that have not been completely ingested.\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "processId",
            "in": "path",
            "description": "the processId for the ingest process to be cancelled",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancel success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid process ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access process with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ingest/documents": {
      "get": {
        "operationId": "list",
        "summary": "list",
        "description": "lookup all documents across all resources which are currently on GroundX\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "n",
            "in": "query",
            "description": "The maximum number of returned documents. Accepts 1-100 with a default of 20.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Only documents with names that contain the filter string will be returned in the results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The document attribute that will be used to sort the results.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Sort"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "The order in which to sort the results. A value for sort must also be set.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrder"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "A status filter on the get documents query. If this value is set, then only documents with this status will be returned in the results.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ProcessingStatus"
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "A token for pagination. If the number of documents for a given query is larger than n, the response will include a \"nextToken\" value. That token can be included in this field to retrieve the next batch of n documents.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentListResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete",
        "summary": "delete (multiple)",
        "description": "Delete multiple documents hosted on GroundX\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "documentIds",
            "in": "query",
            "description": "A list of documentIds which correspond to documents ingested by GroundX",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documents are queued to be deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid document ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to delete document with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ingest/document/{documentId}": {
      "get": {
        "operationId": "get",
        "summary": "get",
        "description": "Look up an existing document by documentId.\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "The documentId of the document for which GroundX information will be provided.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid document ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access document with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete-by-id",
        "summary": "delete (singular)",
        "description": "Delete a single document hosted on GroundX\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "A documentId which correspond to a document ingested by GroundX",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid document ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to delete document with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ingest/documents/{id}": {
      "get": {
        "operationId": "lookup",
        "summary": "lookup",
        "description": "lookup the document(s) associated with a processId, bucketId, or groupId.\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "a processId, bucketId, or groupId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "n",
            "in": "query",
            "description": "The maximum number of returned documents. Accepts 1-100 with a default of 20.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Only documents with names that contain the filter string will be returned in the results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The document attribute that will be used to sort the results.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Sort"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "The order in which to sort the results. A value for sort must also be set.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrder"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "A status filter on the get documents query. If this value is set, then only documents with this status will be returned in the results.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ProcessingStatus"
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "A token for pagination. If the number of documents for a given query is larger than n, the response will include a \"nextToken\" value. That token can be included in this field to retrieve the next batch of n documents.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentLookupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid process, bucket, or group ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access process, bucket, or group with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ingest": {
      "get": {
        "operationId": "get-processes",
        "summary": "get_processes",
        "description": "Get a list of ingest process requests, sorted from most recent to least.\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "n",
            "in": "query",
            "description": "The maximum number of returned processes. Accepts 1-100 with a default of 20.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "A status filter on the processing status. If this value is set, then only processes with this status will be returned in the results.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ProcessingStatus"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessesStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ingest/copy": {
      "post": {
        "operationId": "copy",
        "summary": "copy",
        "description": "copy documents from one bucket to another\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Copy request successfully submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentCopyRequest"
              }
            }
          }
        }
      }
    },
    "/v1/ingest/document/extract/{documentId}": {
      "get": {
        "operationId": "get-extract",
        "summary": "get_extract",
        "description": "Look up extractions for an existing document by documentId.\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "The documentId of the document for which GroundX extract has extracted information.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documents_getExtract_Response_200"
                }
              }
            }
          },
          "400": {
            "description": "Invalid document ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access document with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ingest/document/xray/{documentId}": {
      "get": {
        "operationId": "get-xray",
        "summary": "get_xray",
        "description": "Look up X-Ray data for an existing document by documentId.\n",
        "tags": [
          "subpackage_documents"
        ],
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "The documentId of the document for which GroundX created an X-Ray.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documents_getXray_Response_200"
                }
              }
            }
          },
          "400": {
            "description": "Invalid document ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access document with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search/{id}": {
      "post": {
        "operationId": "content",
        "summary": "search.content",
        "description": "Search documents on GroundX for the most relevant information to a given query.\nThe result of this query is typically used in one of two ways; `result.search.text` can be used to provide context to a language model, facilitating RAG, or `result.search.results` can be used to observe chunks of text which are relevant to the query, facilitating citation.\n",
        "tags": [
          "subpackage_search"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The bucketId, groupId, or documentId to be searched. The document or documents within the specified container will be compared to the query, and relevant information will be extracted.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/V1SearchIdPostParametersId"
            }
          },
          {
            "name": "n",
            "in": "query",
            "description": "The maximum number of returned search results. Accepts 1-100 with a default of 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "A token for pagination. If the number of search results for a given query is larger than n, the response will include a \"nextToken\" value. That token can be included in this field to retrieve the next batch of n search results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verbosity",
            "in": "query",
            "description": "The amount of data returned with each search result. 0 == no search results, only the recommended context. 1 == search results but no searchData. 2 == search results and searchData.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search query success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access resource with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        }
      }
    },
    "/v1/search/documents": {
      "post": {
        "operationId": "documents",
        "summary": "search.documents",
        "description": "Search documents on GroundX for the most relevant information to a given query by documentId(s).\nThe result of this query is typically used in one of two ways; `result.search.text` can be used to provide context to a language model, facilitating RAG, or `result.search.results` can be used to observe chunks of text which are relevant to the query, facilitating citation.\n",
        "tags": [
          "subpackage_search"
        ],
        "parameters": [
          {
            "name": "n",
            "in": "query",
            "description": "The maximum number of returned search results. Accepts 1-100 with a default of 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "A token for pagination. If the number of search results for a given query is larger than n, the response will include a \"nextToken\" value. That token can be included in this field to retrieve the next batch of n search results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verbosity",
            "in": "query",
            "description": "The amount of data returned with each search result. 0 == no search results, only the recommended context. 1 == search results but no searchData. 2 == search results and searchData.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search query success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access resource with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDocumentsRequest"
              }
            }
          }
        }
      }
    },
    "/v1/bucket": {
      "get": {
        "operationId": "list",
        "summary": "list",
        "description": "List all buckets within your GroundX account\n",
        "tags": [
          "subpackage_buckets"
        ],
        "parameters": [
          {
            "name": "n",
            "in": "query",
            "description": "The maximum number of returned buckets. Accepts 1-100 with a default of 20.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "A token for pagination. If the number of buckets for a given query is larger than n, the response will include a \"nextToken\" value. That token can be included in this field to retrieve the next batch of n buckets.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BucketListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create",
        "summary": "create",
        "description": "Create a new bucket.\n",
        "tags": [
          "subpackage_buckets"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bucket successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BucketResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body parameter",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BucketCreateRequest"
              }
            }
          }
        }
      }
    },
    "/v1/bucket/{bucketId}": {
      "get": {
        "operationId": "get",
        "summary": "get",
        "description": "Look up a specific bucket by its bucketId.\n",
        "tags": [
          "subpackage_buckets"
        ],
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "description": "The bucketId of the bucket to look up.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BucketResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bucket ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access bucket with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "update",
        "summary": "update",
        "description": "Rename a bucket.\n",
        "tags": [
          "subpackage_buckets"
        ],
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "description": "The bucketId of the bucket being updated.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bucket successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BucketUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body parameter",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to update bucket with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BucketUpdateRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete",
        "summary": "delete",
        "description": "Delete a bucket.\n",
        "tags": [
          "subpackage_buckets"
        ],
        "parameters": [
          {
            "name": "bucketId",
            "in": "path",
            "description": "The bucketId of the bucket being deleted.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bucket successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bucket ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to delete bucket with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      }
    },
    "/v1/group": {
      "get": {
        "operationId": "list",
        "summary": "list",
        "description": "list all groups within your GroundX account.\n",
        "tags": [
          "subpackage_groups"
        ],
        "parameters": [
          {
            "name": "n",
            "in": "query",
            "description": "The maximum number of returned groups. Accepts 1-100 with a default of 20.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "A token for pagination. If the number of groups for a given query is larger than n, the response will include a \"nextToken\" value. That token can be included in this field to retrieve the next batch of n groups.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create",
        "summary": "create",
        "description": "create a new group, a group being a collection of buckets which can be searched.\n",
        "tags": [
          "subpackage_groups"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body parameter",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupCreateRequest"
              }
            }
          }
        }
      }
    },
    "/v1/group/{groupId}": {
      "get": {
        "operationId": "get",
        "summary": "get",
        "description": "look up a specific group by its groupId.\n",
        "tags": [
          "subpackage_groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The groupId of the group to look up.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid group ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to access group with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "update",
        "summary": "update",
        "description": "Rename a group\n",
        "tags": [
          "subpackage_groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The groupId of the group to update.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful update of group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body parameter",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to update group with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupUpdateRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete",
        "summary": "delete",
        "description": "Delete a group.\n",
        "tags": [
          "subpackage_groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The groupId of the group to be deleted.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid group ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to delete group with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      }
    },
    "/v1/group/{groupId}/bucket/{bucketId}": {
      "post": {
        "operationId": "add-bucket",
        "summary": "addBucket",
        "description": "Add an existing bucket to an existing group. Buckets and groups can be associated many to many.\n",
        "tags": [
          "subpackage_groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The groupId of the group which the bucket will be added to.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "bucketId",
            "in": "path",
            "description": "The bucketId of the bucket being added to the group.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful update of group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path parameter",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to update group with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "remove-bucket",
        "summary": "removeBucket",
        "description": "remove a bucket from a group. Buckets and groups can be associated many to many, this removes one bucket to group association without disturbing others.\n",
        "tags": [
          "subpackage_groups"
        ],
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The groupId of the group which the bucket will be removed from.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "bucketId",
            "in": "path",
            "description": "The bucketId of the bucket which will be removed from the group.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful update of group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path parameter",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to update group with given ID",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp": {
      "post": {
        "operationId": "mcp",
        "summary": "MCP support",
        "description": "Integrate with GroundX via the MCP protocol. Currently requires an Enterprise subscription.\n\nThis endpoint can be accessed at either `/api/v1/mcp` or `/mcp`.\n",
        "tags": [
          "subpackage_mcp"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MCP_mcp_Response_200"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        }
      }
    },
    "/v1/workflow": {
      "get": {
        "operationId": "list",
        "summary": "list",
        "description": "Get all workflows associated with the API key.\n",
        "tags": [
          "subpackage_workflows"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create",
        "summary": "create",
        "description": "Create a workflow.\n",
        "tags": [
          "subpackage_workflows"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowRequest"
              }
            }
          }
        }
      }
    },
    "/v1/workflow/relationship": {
      "get": {
        "operationId": "get-account",
        "summary": "get_account",
        "description": "Get the workflow associated with customer account.\n",
        "tags": [
          "subpackage_workflows"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "add-to-account",
        "summary": "add_to_account",
        "description": "Assigns the given workflow to the customer account and is applied by default to all files unless overridden by document or bucket workflows.\n",
        "tags": [
          "subpackage_workflows"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Apply success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowApplyRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "remove-from-account",
        "summary": "remove_from_account",
        "description": "Removes the assigned workflow from the customer account.\n",
        "tags": [
          "subpackage_workflows"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Apply success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflow/relationship/{id}": {
      "post": {
        "operationId": "add-to-id",
        "summary": "add_to_id",
        "description": "Assigns the given workflow to the group or bucket and is applied by default to all files unless overridden by document workflows.\n",
        "tags": [
          "subpackage_workflows"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the group or bucket that the workflow will be assigned to.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Apply success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowApplyRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "remove-from-id",
        "summary": "remove_from_id",
        "description": "Removes the assigned workflow from the customer account.\n",
        "tags": [
          "subpackage_workflows"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the group or bucket that the workflow will removed from.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Apply success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflow/{id}": {
      "get": {
        "operationId": "get",
        "summary": "get",
        "description": "look up a specific workflow by groupId, bucketId, or workflowId.\n",
        "tags": [
          "subpackage_workflows"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the group, bucket, or workflow to look up.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/V1WorkflowIdGetParametersId"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "update",
        "summary": "update",
        "description": "Update an existing workflow.\n",
        "tags": [
          "subpackage_workflows"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The workflowId of the workflow being updated.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete",
        "summary": "delete",
        "description": "Delete a workflow.\n",
        "tags": [
          "subpackage_workflows"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The workflowId of the workflow being deleted.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customer": {
      "get": {
        "operationId": "get",
        "summary": "get",
        "description": "Get the account information associated with the API key.\n",
        "tags": [
          "subpackage_customer"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apikey": {
      "get": {
        "operationId": "list",
        "summary": "list",
        "description": "List all API keys within your GroundX account\n",
        "tags": [
          "subpackage_apiKey"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create",
        "summary": "create",
        "description": "Create a new API key.\n",
        "tags": [
          "subpackage_apiKey"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body parameter",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIKeyRequest"
              }
            }
          }
        }
      }
    },
    "/v1/apikey/{apiKey}": {
      "put": {
        "operationId": "update",
        "summary": "update",
        "description": "Rename an API key.\n",
        "tags": [
          "subpackage_apiKey"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "description": "The API key being updated.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIKeyRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete",
        "summary": "delete",
        "description": "Delete an API key.\n",
        "tags": [
          "subpackage_apiKey"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "in": "path",
            "description": "The API key being deleted.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "operationId": "list",
        "summary": "list",
        "description": "List the current health status of all services. Statuses update every 5 minutes.\n",
        "tags": [
          "subpackage_health"
        ],
        "parameters": [
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health/{service}": {
      "get": {
        "operationId": "get",
        "summary": "get",
        "description": "Look up the current health status of a specific service. Statuses update every 5 minutes.\n",
        "tags": [
          "subpackage_health"
        ],
        "parameters": [
          {
            "name": "service",
            "in": "path",
            "description": "The name of the service to look up.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Look up success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid service name",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Any type"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DocumentType": {
        "type": "string",
        "enum": [
          "bmp",
          "csv",
          "docx",
          "gif",
          "heif",
          "hwp",
          "ico",
          "jpg",
          "json",
          "pdf",
          "png",
          "pptx",
          "svg",
          "tiff",
          "tsv",
          "txt",
          "xlsx",
          "webp"
        ],
        "description": "The type of document (one of the currently supported file types)",
        "title": "DocumentType"
      },
      "IngestLocalDocumentMetadataFilter": {
        "type": "object",
        "properties": {},
        "description": "A dictionary of key-value pairs that can be used to pre-filter documents prior to a search.",
        "title": "IngestLocalDocumentMetadataFilter"
      },
      "ProcessLevel": {
        "type": "string",
        "enum": [
          "none",
          "full"
        ],
        "description": "The amount of processing of document chunks to perform. 'none' specifies the document to go through only text extraction and chunking. Documents uploaded with 'full' go through text extraction, chunking, and an agentic process that creates robust metadata for each chunk. (default 'full').",
        "title": "ProcessLevel"
      },
      "IngestLocalDocumentMetadataSearchData": {
        "type": "object",
        "properties": {},
        "description": "Custom metadata which can be used to influence GroundX's search functionality. This data can be used to further hone GroundX search.",
        "title": "IngestLocalDocumentMetadataSearchData"
      },
      "IngestLocalDocumentMetadata": {
        "type": "object",
        "properties": {
          "bucketId": {
            "type": "integer",
            "description": "The bucketId of the bucket which this local file will be ingested into."
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file being ingested"
          },
          "fileType": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "filter": {
            "$ref": "#/components/schemas/IngestLocalDocumentMetadataFilter",
            "description": "A dictionary of key-value pairs that can be used to pre-filter documents prior to a search."
          },
          "processLevel": {
            "$ref": "#/components/schemas/ProcessLevel"
          },
          "searchData": {
            "$ref": "#/components/schemas/IngestLocalDocumentMetadataSearchData",
            "description": "Custom metadata which can be used to influence GroundX's search functionality. This data can be used to further hone GroundX search."
          }
        },
        "title": "IngestLocalDocumentMetadata"
      },
      "IngestLocalDocument": {
        "type": "object",
        "properties": {
          "blob": {
            "type": "string",
            "format": "binary",
            "description": "The binary file data being ingested."
          },
          "metadata": {
            "$ref": "#/components/schemas/IngestLocalDocumentMetadata"
          }
        },
        "required": [
          "blob",
          "metadata"
        ],
        "title": "IngestLocalDocument"
      },
      "DocumentLocalIngestRequest": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/IngestLocalDocument"
        },
        "title": "DocumentLocalIngestRequest"
      },
      "DocumentDetailFilter": {
        "type": "object",
        "properties": {},
        "description": "A dictionary of key-value pairs that can be used to pre-filter documents prior to a search.",
        "title": "DocumentDetailFilter"
      },
      "DocumentDetailSearchData": {
        "type": "object",
        "properties": {},
        "title": "DocumentDetailSearchData"
      },
      "ProcessingStatus": {
        "type": "string",
        "enum": [
          "queued",
          "processing",
          "error",
          "complete",
          "cancelled",
          "active",
          "inactive"
        ],
        "title": "ProcessingStatus"
      },
      "DocumentDetail": {
        "type": "object",
        "properties": {
          "bucketId": {
            "type": "integer"
          },
          "documentId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique system generated ID for the document"
          },
          "fileName": {
            "type": "string"
          },
          "fileSize": {
            "type": "string",
            "description": "The file size of the file stored in GroundX"
          },
          "fileType": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "filter": {
            "$ref": "#/components/schemas/DocumentDetailFilter",
            "description": "A dictionary of key-value pairs that can be used to pre-filter documents prior to a search."
          },
          "processId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique system generated ID for the ingest request"
          },
          "processLevel": {
            "$ref": "#/components/schemas/ProcessLevel"
          },
          "searchData": {
            "$ref": "#/components/schemas/DocumentDetailSearchData"
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri",
            "description": "Source document URL"
          },
          "status": {
            "$ref": "#/components/schemas/ProcessingStatus"
          },
          "statusMessage": {
            "type": "string"
          },
          "textUrl": {
            "type": "string",
            "format": "uri",
            "description": "Extracted text URL, if using the extract agent"
          },
          "xrayUrl": {
            "type": "string",
            "format": "uri",
            "description": "Document X-Ray results"
          }
        },
        "required": [
          "documentId"
        ],
        "title": "DocumentDetail"
      },
      "IngestStatusProgressCancelled": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentDetail"
            }
          },
          "total": {
            "type": "integer"
          }
        },
        "title": "IngestStatusProgressCancelled"
      },
      "IngestStatusProgressComplete": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentDetail"
            }
          },
          "total": {
            "type": "integer"
          }
        },
        "title": "IngestStatusProgressComplete"
      },
      "IngestStatusProgressErrors": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentDetail"
            }
          },
          "total": {
            "type": "integer"
          }
        },
        "title": "IngestStatusProgressErrors"
      },
      "IngestStatusProgressProcessing": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentDetail"
            }
          },
          "total": {
            "type": "integer"
          }
        },
        "title": "IngestStatusProgressProcessing"
      },
      "IngestStatusProgressQueued": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentDetail"
            }
          },
          "total": {
            "type": "integer"
          }
        },
        "title": "IngestStatusProgressQueued"
      },
      "IngestStatusProgress": {
        "type": "object",
        "properties": {
          "cancelled": {
            "$ref": "#/components/schemas/IngestStatusProgressCancelled"
          },
          "complete": {
            "$ref": "#/components/schemas/IngestStatusProgressComplete"
          },
          "errors": {
            "$ref": "#/components/schemas/IngestStatusProgressErrors"
          },
          "processing": {
            "$ref": "#/components/schemas/IngestStatusProgressProcessing"
          },
          "queued": {
            "$ref": "#/components/schemas/IngestStatusProgressQueued"
          }
        },
        "title": "IngestStatusProgress"
      },
      "IngestStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "processId": {
            "type": "string",
            "format": "uuid"
          },
          "progress": {
            "$ref": "#/components/schemas/IngestStatusProgress"
          },
          "status": {
            "$ref": "#/components/schemas/ProcessingStatus"
          },
          "statusMessage": {
            "type": "string"
          }
        },
        "required": [
          "processId",
          "status"
        ],
        "title": "IngestStatus"
      },
      "IngestResponse": {
        "type": "object",
        "properties": {
          "ingest": {
            "$ref": "#/components/schemas/IngestStatus"
          }
        },
        "required": [
          "ingest"
        ],
        "title": "IngestResponse"
      },
      "IngestRemoteDocumentFilter": {
        "type": "object",
        "properties": {},
        "description": "A dictionary of key-value pairs that can be used to pre-filter documents prior to a search.",
        "title": "IngestRemoteDocumentFilter"
      },
      "IngestRemoteDocumentSearchData": {
        "type": "object",
        "properties": {},
        "description": "Custom metadata which can be used to influence GroundX's search functionality. This data can be used to further hone GroundX search.",
        "title": "IngestRemoteDocumentSearchData"
      },
      "IngestRemoteDocument": {
        "type": "object",
        "properties": {
          "bucketId": {
            "type": "integer",
            "description": "The bucketId of the bucket which this remote file will be ingested into."
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file being ingested."
          },
          "fileType": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "filter": {
            "$ref": "#/components/schemas/IngestRemoteDocumentFilter",
            "description": "A dictionary of key-value pairs that can be used to pre-filter documents prior to a search."
          },
          "processLevel": {
            "$ref": "#/components/schemas/ProcessLevel"
          },
          "searchData": {
            "$ref": "#/components/schemas/IngestRemoteDocumentSearchData",
            "description": "Custom metadata which can be used to influence GroundX's search functionality. This data can be used to further hone GroundX search."
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the document being ingested by GroundX."
          }
        },
        "required": [
          "bucketId",
          "sourceUrl"
        ],
        "title": "IngestRemoteDocument"
      },
      "DocumentRemoteIngestRequest": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IngestRemoteDocument"
            }
          },
          "callbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "An endpoint that will receive processing event updates as POST."
          },
          "callbackData": {
            "type": "string",
            "description": "A string that is returned, along with processing event updates, to the callback URL."
          }
        },
        "required": [
          "documents"
        ],
        "title": "DocumentRemoteIngestRequest"
      },
      "WebsiteSourceSearchData": {
        "type": "object",
        "properties": {},
        "description": "Custom metadata which can be used to influence GroundX's search functionality. This data can be used to further hone GroundX search.",
        "title": "WebsiteSourceSearchData"
      },
      "WebsiteSource": {
        "type": "object",
        "properties": {
          "bucketId": {
            "type": "integer",
            "description": "The bucketId of the bucket which this website will be ingested into."
          },
          "cap": {
            "type": "integer",
            "description": "The maximum number of pages to crawl"
          },
          "depth": {
            "type": "integer",
            "description": "The maximum depth of linked pages to follow from the sourceUrl"
          },
          "searchData": {
            "$ref": "#/components/schemas/WebsiteSourceSearchData",
            "description": "Custom metadata which can be used to influence GroundX's search functionality. This data can be used to further hone GroundX search."
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri",
            "description": "The URL from which the crawl is initiated."
          }
        },
        "required": [
          "bucketId",
          "sourceUrl"
        ],
        "title": "WebsiteSource"
      },
      "WebsiteCrawlRequest": {
        "type": "object",
        "properties": {
          "websites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebsiteSource"
            }
          },
          "callbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "The URL that will receive processing event updates."
          },
          "callbackData": {
            "type": "string",
            "description": "A string that is returned, along with processing event updates, to the callback URL."
          }
        },
        "required": [
          "websites"
        ],
        "title": "WebsiteCrawlRequest"
      },
      "Sort": {
        "type": "string",
        "enum": [
          "name",
          "created"
        ],
        "description": "The attribute to use to sort results",
        "title": "Sort"
      },
      "SortOrder": {
        "type": "string",
        "enum": [
          "asc",
          "desc"
        ],
        "description": "The order in which to sort results",
        "title": "SortOrder"
      },
      "DocumentListResponse": {
        "type": "object",
        "properties": {
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentDetail"
            }
          },
          "nextToken": {
            "type": "string"
          }
        },
        "title": "DocumentListResponse"
      },
      "DocumentResponse": {
        "type": "object",
        "properties": {
          "document": {
            "$ref": "#/components/schemas/DocumentDetail"
          }
        },
        "title": "DocumentResponse"
      },
      "DocumentLookupResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of results returned in the current response"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentDetail"
            }
          },
          "nextToken": {
            "type": "string"
          },
          "remaining": {
            "type": "integer",
            "description": "The number of results that have not been returned yet. Will be null if there are no remaining results."
          },
          "total": {
            "type": "integer",
            "description": "The total number of results found"
          }
        },
        "title": "DocumentLookupResponse"
      },
      "IngestStatusLight": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "processId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/ProcessingStatus"
          },
          "statusMessage": {
            "type": "string"
          }
        },
        "required": [
          "processId",
          "status"
        ],
        "title": "IngestStatusLight"
      },
      "ProcessesStatusResponse": {
        "type": "object",
        "properties": {
          "processes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IngestStatusLight"
            },
            "description": "Processes"
          }
        },
        "required": [
          "processes"
        ],
        "title": "ProcessesStatusResponse"
      },
      "DocumentCopyRequest": {
        "type": "object",
        "properties": {
          "documentIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The document IDs of the files you wish to copy."
          },
          "fromBucket": {
            "type": "integer",
            "description": "The bucketId of the bucket you wish to copy ALL files from."
          },
          "toBucket": {
            "type": "integer",
            "description": "The bucketId of the bucket the file will be copied into."
          }
        },
        "required": [
          "toBucket"
        ],
        "title": "DocumentCopyRequest"
      },
      "documents_getExtract_Response_200": {
        "type": "object",
        "properties": {},
        "title": "documents_getExtract_Response_200"
      },
      "documents_getXray_Response_200": {
        "type": "object",
        "properties": {},
        "title": "documents_getXray_Response_200"
      },
      "V1SearchIdPostParametersId": {
        "oneOf": [
          {
            "type": "integer"
          },
          {
            "type": "string",
            "format": "uuid"
          }
        ],
        "title": "V1SearchIdPostParametersId"
      },
      "SearchRequestFilter": {
        "type": "object",
        "properties": {},
        "description": "A dictionary of key-value pairs that can be used to pre-filter documents prior to a search.",
        "title": "SearchRequestFilter"
      },
      "SearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "default": "my search query",
            "description": "The search query to be used to find relevant documentation."
          },
          "filter": {
            "$ref": "#/components/schemas/SearchRequestFilter",
            "description": "A dictionary of key-value pairs that can be used to pre-filter documents prior to a search."
          },
          "relevance": {
            "type": "number",
            "format": "double",
            "description": "The minimum search relevance score required to include the result. By default, this is 10.0."
          }
        },
        "required": [
          "query"
        ],
        "title": "SearchRequest"
      },
      "BoundingBoxDetail": {
        "type": "object",
        "properties": {
          "bottomRightX": {
            "type": "number",
            "format": "double",
            "description": "The x coordinate of the lower right corner of the bounding box"
          },
          "bottomRightY": {
            "type": "number",
            "format": "double",
            "description": "The y coordinate of the lower right corner of the bounding box"
          },
          "pageNumber": {
            "type": "integer",
            "description": "The page number the bounding box appears on, using a 1-based array indexing (starts with page 1, not page 0)"
          },
          "topLeftX": {
            "type": "number",
            "format": "double",
            "description": "The x coordinate of the upper left corner of the bounding box"
          },
          "topLeftY": {
            "type": "number",
            "format": "double",
            "description": "The y coordinate of the upper left corner of the bounding box"
          }
        },
        "title": "BoundingBoxDetail"
      },
      "SearchResultItemPagesItems": {
        "type": "object",
        "properties": {
          "height": {
            "type": "number",
            "format": "double",
            "description": "The height of the page image"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "A jpg of the page the chunk appears on"
          },
          "number": {
            "type": "number",
            "format": "double",
            "description": "The page number"
          },
          "width": {
            "type": "number",
            "format": "double",
            "description": "The width of the page image"
          }
        },
        "title": "SearchResultItemPagesItems"
      },
      "SearchResultItemSearchData": {
        "type": "object",
        "properties": {},
        "description": "Document, section, and chunk search data, both custom and system-generated",
        "title": "SearchResultItemSearchData"
      },
      "SearchResultItem": {
        "type": "object",
        "properties": {
          "boundingBoxes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoundingBoxDetail"
            },
            "description": "Coordinates corresponding to the areas of the document where the chunk appears"
          },
          "bucketId": {
            "type": "integer",
            "description": "Content bucket the search result belongs to"
          },
          "chunkId": {
            "type": "string",
            "description": "Unique system generated ID for the chunk"
          },
          "documentId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique system generated ID for the document"
          },
          "fileName": {
            "type": "string",
            "description": "Name of ingested file"
          },
          "multimodalUrl": {
            "type": "string",
            "format": "uri",
            "description": "An image clipping of the table or figure object from the document"
          },
          "pageImages": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          },
          "pages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResultItemPagesItems"
            }
          },
          "score": {
            "type": "number",
            "format": "double",
            "description": "Confidence score in the search result"
          },
          "searchData": {
            "$ref": "#/components/schemas/SearchResultItemSearchData",
            "description": "Document, section, and chunk search data, both custom and system-generated"
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri",
            "description": "Source document URL"
          },
          "suggestedText": {
            "type": "string",
            "description": "System-generated text, re-written for LLM completions"
          },
          "text": {
            "type": "string",
            "description": "Original text from the source document"
          }
        },
        "title": "SearchResultItem"
      },
      "SearchResponseSearch": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Total results"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResultItem"
            },
            "description": "Search results"
          },
          "query": {
            "type": "string",
            "description": "The original search request query"
          },
          "score": {
            "type": "number",
            "format": "double",
            "description": "Confidence score in the search results"
          },
          "searchQuery": {
            "type": "string",
            "description": "The actual search query, if the search request query was re-written"
          },
          "text": {
            "type": "string",
            "description": "Suggested context for LLM completion"
          },
          "nextToken": {
            "type": "string",
            "description": "For paginated results"
          }
        },
        "title": "SearchResponseSearch"
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "search": {
            "$ref": "#/components/schemas/SearchResponseSearch"
          }
        },
        "required": [
          "search"
        ],
        "title": "SearchResponse"
      },
      "SearchDocumentsRequestFilter": {
        "type": "object",
        "properties": {},
        "description": "A dictionary of key-value pairs that can be used to pre-filter documents prior to a search.",
        "title": "SearchDocumentsRequestFilter"
      },
      "SearchDocumentsRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "default": "my search query",
            "description": "The search query to be used to find relevant documentation."
          },
          "documentIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An array of unique documentIds to be searched."
          },
          "filter": {
            "$ref": "#/components/schemas/SearchDocumentsRequestFilter",
            "description": "A dictionary of key-value pairs that can be used to pre-filter documents prior to a search."
          },
          "relevance": {
            "type": "number",
            "format": "double",
            "description": "The minimum search relevance score required to include the result. By default, this is 10.0."
          }
        },
        "required": [
          "query",
          "documentIds"
        ],
        "title": "SearchDocumentsRequest"
      },
      "BucketDetail": {
        "type": "object",
        "properties": {
          "bucketId": {
            "type": "integer"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "The data time when the bucket was created, in RFC3339 format"
          },
          "fileCount": {
            "type": "integer",
            "description": "The number of files contained in the content bucket"
          },
          "fileSize": {
            "type": "string",
            "description": "The total file size of files contained in the content bucket"
          },
          "name": {
            "type": "string"
          },
          "updated": {
            "type": "string",
            "format": "date-time",
            "description": "The data time when the bucket was last updated, in RFC3339 format"
          }
        },
        "required": [
          "bucketId"
        ],
        "title": "BucketDetail"
      },
      "BucketListResponse": {
        "type": "object",
        "properties": {
          "buckets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BucketDetail"
            }
          },
          "count": {
            "type": "integer",
            "description": "The number of buckets returned in the current response"
          },
          "remaining": {
            "type": "integer",
            "description": "The number of buckets that have not been returned yet, will be null if there are no remaining buckets"
          },
          "total": {
            "type": "integer",
            "description": "The total number of buckets found"
          }
        },
        "title": "BucketListResponse"
      },
      "BucketResponse": {
        "type": "object",
        "properties": {
[...]
