{
  "openapi": "3.0.3",
  "info": {
    "title": "Buffer API",
    "description": "Buffer is a social media management tool that allows users to schedule posts, manage multiple social media profiles, and analyze engagement.",
    "version": "1.0.0",
    "contact": {
      "name": "Buffer",
      "url": "https://buffer.com/developers/api"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingbyrnemc-sudo/openapis-specs/refs/heads/import/buffer.com/buffer-api/1.0.0/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.bufferapp.com/1",
      "description": "Buffer API v1"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "operationId": "getUser",
        "summary": "Get authenticated user info",
        "description": "Returns information about the authenticated user.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Authenticated user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/user/deauthorize": {
      "post": {
        "operationId": "deauthorizeUser",
        "summary": "Revoke access for the authenticated user",
        "description": "Deauthorize your client for the authenticated user, effectively logging them out from your app.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Deauthorization result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles": {
      "get": {
        "operationId": "listProfiles",
        "summary": "List connected social media profiles",
        "description": "Returns an array of social media profiles connected to the authenticated user's account.",
        "tags": [
          "Profiles"
        ],
        "responses": {
          "200": {
            "description": "List of profiles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Profile"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{id}": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get a single social media profile",
        "description": "Returns details of the social media profile with the specified identifier.",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileId"
          }
        ],
        "responses": {
          "200": {
            "description": "Profile details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{id}/schedules": {
      "get": {
        "operationId": "getProfileSchedules",
        "summary": "Get posting schedules for a profile",
        "description": "Returns the posting schedules associated with a social media profile.",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileId"
          }
        ],
        "responses": {
          "200": {
            "description": "Posting schedules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Schedule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{id}/schedules/update": {
      "post": {
        "operationId": "updateProfileSchedules",
        "summary": "Update posting schedules for a profile",
        "description": "Set the posting schedules for the specified profile.",
        "tags": [
          "Profiles"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "schedules"
                ],
                "properties": {
                  "schedules": {
                    "type": "array",
                    "description": "Array of schedule objects each containing days and times.",
                    "items": {
                      "$ref": "#/components/schemas/ScheduleInput"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Schedule update result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/updates/{id}": {
      "get": {
        "operationId": "getUpdate",
        "summary": "Get a single update",
        "description": "Returns a single social media update.",
        "tags": [
          "Updates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UpdateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Update details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{id}/updates/pending": {
      "get": {
        "operationId": "getPendingUpdates",
        "summary": "Get pending updates for a profile",
        "description": "Returns an array of updates that are currently in the buffer for an individual social media profile.",
        "tags": [
          "Updates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileId"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of updates to return per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Unix timestamp. Only return updates posted after this time.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "utc",
            "in": "query",
            "description": "If set, return times in UTC rather than the user's timezone.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of pending updates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{id}/updates/sent": {
      "get": {
        "operationId": "getSentUpdates",
        "summary": "Get sent updates for a profile",
        "description": "Returns an array of updates that have been sent from the buffer for an individual social media profile.",
        "tags": [
          "Updates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileId"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of updates to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Unix timestamp. Only return updates sent after this time.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "utc",
            "in": "query",
            "description": "If set, return times in UTC rather than the user's timezone.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter sent updates.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sent updates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/updates/create": {
      "post": {
        "operationId": "createUpdate",
        "summary": "Create a new update",
        "description": "Create one or more new status updates.",
        "tags": [
          "Updates"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "profile_ids"
                ],
                "properties": {
                  "profile_ids": {
                    "type": "array",
                    "description": "Array of profile IDs to post the update to.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "text": {
                    "type": "string",
                    "description": "The text of the status update."
                  },
                  "shorten": {
                    "type": "boolean",
                    "description": "If true, links in the update will be shortened."
                  },
                  "now": {
                    "type": "boolean",
                    "description": "If true, the update will be posted immediately."
                  },
                  "top": {
                    "type": "boolean",
                    "description": "If true, the update will be placed at the top of the buffer."
                  },
                  "media": {
                    "type": "object",
                    "description": "Media object with link, description, title, and picture properties.",
                    "properties": {
                      "link": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "picture": {
                        "type": "string"
                      },
                      "photo": {
                        "type": "string"
                      },
                      "thumbnail": {
                        "type": "string"
                      }
                    }
                  },
                  "attachment": {
                    "type": "boolean",
                    "description": "If false, the link attachment will not be included."
                  },
                  "scheduled_at": {
                    "type": "string",
                    "description": "ISO 8601 formatted date-time for when the update should be posted."
                  },
                  "retweet": {
                    "type": "object",
                    "description": "Retweet data for Twitter retweets.",
                    "properties": {
                      "tweet_id": {
                        "type": "string"
                      },
                      "comment": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created update result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/updates/{id}/update": {
      "post": {
        "operationId": "modifyUpdate",
        "summary": "Modify a pending update",
        "description": "Edit an existing, individual pending update.",
        "tags": [
          "Updates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UpdateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The updated text for the status update."
                  },
                  "now": {
                    "type": "boolean",
                    "description": "If true, the update will be posted immediately."
                  },
                  "media": {
                    "type": "object",
                    "description": "Media object with link, description, title, and picture properties.",
                    "properties": {
                      "link": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "picture": {
                        "type": "string"
                      },
                      "photo": {
                        "type": "string"
                      },
                      "thumbnail": {
                        "type": "string"
                      }
                    }
                  },
                  "utc": {
                    "type": "boolean",
                    "description": "If set, scheduled_at is treated as UTC."
                  },
                  "scheduled_at": {
                    "type": "string",
                    "description": "ISO 8601 formatted date-time for when the update should be posted."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modified update result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModifyUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/updates/{id}/share": {
      "post": {
        "operationId": "shareUpdate",
        "summary": "Share an update immediately",
        "description": "Immediately shares a single pending update and recalculates times for the remaining updates in the queue.",
        "tags": [
          "Updates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UpdateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Share result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/updates/{id}/destroy": {
      "post": {
        "operationId": "destroyUpdate",
        "summary": "Delete an update",
        "description": "Permanently delete an existing status update.",
        "tags": [
          "Updates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UpdateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/updates/{id}/move_to_top": {
      "post": {
        "operationId": "moveUpdateToTop",
        "summary": "Move an update to the top of the queue",
        "description": "Move an existing status update to the top of the queue and recalculate times for all updates in the queue.",
        "tags": [
          "Updates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/UpdateId"
          }
        ],
        "responses": {
          "200": {
            "description": "The moved update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Update"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{id}/updates/reorder": {
      "post": {
        "operationId": "reorderUpdates",
        "summary": "Reorder updates in the queue",
        "description": "Edit the order at which statuses for the specified social media profile will be sent out of the buffer.",
        "tags": [
          "Updates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "order"
                ],
                "properties": {
                  "order": {
                    "type": "array",
                    "description": "Array of update IDs in the order they should be posted.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "offset": {
                    "type": "integer",
                    "description": "The index of the update in the queue to start reordering from."
                  },
                  "utc": {
                    "type": "boolean",
                    "description": "If set, return times in UTC."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reorder result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatesActionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{id}/updates/shuffle": {
      "post": {
        "operationId": "shuffleUpdates",
        "summary": "Shuffle updates in the queue",
        "description": "Randomize the order of updates in the queue for the specified social media profile.",
        "tags": [
          "Updates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProfileId"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "description": "Number of updates to shuffle."
                  },
                  "utc": {
                    "type": "boolean",
                    "description": "If set, return times in UTC."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shuffle result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatesActionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/links/shares": {
      "get": {
        "operationId": "getLinkShares",
        "summary": "Get share count for a URL",
        "description": "Returns the number of shares a given URL has had using Buffer.",
        "tags": [
          "Links"
        ],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "The URL to look up share counts for.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Share count for the URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkShares"
                }
              }
            }
          }
        }
      }
    },
    "/info/configuration": {
      "get": {
        "operationId": "getConfiguration",
        "summary": "Get service configuration",
        "description": "Returns an object with the current configuration that Buffer is using, including supported services, their icons, and the varying limits of character and media counts.",
        "tags": [
          "Info"
        ],
        "responses": {
          "200": {
            "description": "Service configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication. Access token can also be passed as the `access_token` query parameter.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://bufferapp.com/oauth2/authorize",
            "tokenUrl": "https://api.bufferapp.com/1/oauth2/token.json",
            "scopes": {}
          }
        }
      }
    },
    "parameters": {
      "ProfileId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The identifier of the social media profile.",
        "schema": {
          "type": "string"
        }
      },
      "UpdateId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The identifier of the update.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "The MongoDB ID of the user."
          },
          "id": {
            "type": "string",
            "description": "The user identifier."
          },
          "activity_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of the user's last activity."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of when the user was created."
          },
          "plan": {
            "type": "string",
            "description": "The user's current Buffer plan."
          },
          "timezone": {
            "type": "string",
            "description": "The user's configured timezone."
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The profile identifier."
          },
          "avatar": {
            "type": "string",
            "description": "URL to the profile's avatar image."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of when the profile was created."
          },
          "default": {
            "type": "boolean",
            "description": "Whether this is the default profile."
          },
          "formatted_username": {
            "type": "string",
            "description": "Formatted display username."
          },
          "schedules": {
            "type": "array",
            "description": "Posting schedules for this profile.",
            "items": {
              "$ref": "#/components/schemas/Schedule"
            }
          },
          "service": {
            "type": "string",
            "description": "The social media service (e.g., twitter, facebook)."
          },
          "service_id": {
            "type": "string",
            "description": "The profile's ID on the social network."
          },
          "service_username": {
            "type": "string",
            "description": "The profile's username on the social network."
          },
          "statistics": {
            "type": "object",
            "description": "Statistics about the profile's social media account.",
            "properties": {
              "followers": {
                "type": "integer"
              }
            }
          },
          "team_members": {
            "type": "array",
            "description": "Team members who have access to this profile.",
            "items": {
              "type": "string"
            }
          },
          "timezone": {
            "type": "string",
            "description": "The profile's configured timezone."
          },
          "user_id": {
            "type": "string",
            "description": "The owning user's identifier."
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "days": {
            "type": "array",
            "description": "Days of the week for posting.",
            "items": {
              "type": "string"
            }
          },
          "times": {
            "type": "array",
            "description": "Times of day for posting.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ScheduleInput": {
        "type": "object",
        "properties": {
          "days": {
            "type": "array",
            "description": "Days of the week (e.g., mon, tue, wed).",
            "items": {
              "type": "string"
            }
          },
          "times": {
            "type": "array",
            "description": "Times of day in HH:mm format.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Update": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The update identifier."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when the update was created."
          },
          "day": {
            "type": "string",
            "description": "The day the update is scheduled for."
          },
          "due_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when the update is due to be posted."
          },
          "due_time": {
            "type": "string",
            "description": "Formatted time when the update is due."
          },
          "profile_id": {
            "type": "string",
            "description": "The profile this update belongs to."
          },
          "profile_service": {
            "type": "string",
            "description": "The social media service for this update."
          },
          "sent_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp when the update was sent (if sent)."
          },
          "service_update_id": {
            "type": "string",
            "description": "The ID of the update on the social network."
          },
          "statistics": {
            "type": "object",
            "description": "Engagement statistics for this update.",
            "properties": {
              "reach": {
                "type": "integer"
              },
              "clicks": {
                "type": "integer"
              },
              "retweets": {
                "type": "integer"
              },
              "favorites": {
                "type": "integer"
              },
              "mentions": {
                "type": "integer"
              }
            }
          },
          "status": {
            "type": "string",
            "description": "The status of the update (e.g., buffer, sent, error)."
          },
          "text": {
            "type": "string",
            "description": "The text of the update."
          },
          "text_formatted": {
            "type": "string",
            "description": "The formatted text with links and mentions rendered as HTML."
          },
          "user_id": {
            "type": "string",
            "description": "The user who created the update."
          },
          "via": {
            "type": "string",
            "description": "The source application that created the update."
          }
        }
      },
      "UpdatesResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of updates matching the query."
          },
          "updates": {
            "type": "array",
            "description": "Array of update objects.",
            "items": {
              "$ref": "#/components/schemas/Update"
            }
          }
        }
      },
      "CreateUpdateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful."
          },
          "buffer_count": {
            "type": "integer",
            "description": "The number of updates in the buffer for the profile."
          },
          "buffer_percentage": {
            "type": "integer",
            "description": "Percentage of the buffer used."
          },
          "updates": {
            "type": "array",
            "description": "The created updates.",
            "items": {
              "$ref": "#/components/schemas/Update"
            }
          }
        }
      },
      "ModifyUpdateResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful."
          },
          "buffer_count": {
            "type": "integer",
            "description": "The number of updates in the buffer for the profile."
          },
          "buffer_percentage": {
            "type": "integer",
            "description": "Percentage of the buffer used."
          },
          "update": {
            "$ref": "#/components/schemas/Update"
          }
        }
      },
      "UpdatesActionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful."
          },
          "updates": {
            "type": "array",
            "description": "The reordered or shuffled updates.",
            "items": {
              "$ref": "#/components/schemas/Update"
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful."
          },
          "message": {
            "type": "string",
            "description": "A message describing the result."
          }
        }
      },
      "LinkShares": {
        "type": "object",
        "properties": {
          "shares": {
            "type": "integer",
            "description": "The number of times the URL has been shared through Buffer."
          }
        }
      },
      "Configuration": {
        "type": "object",
        "properties": {
          "services": {
            "type": "object",
            "description": "Configuration for each supported social media service.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "types": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "character_limit": {
                        "type": "integer"
                      },
                      "schedule_limit": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "urls": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "string"
                    }
                  }
                },
                "icons": {
                  "type": "object",
                  "properties": {
                    "16": {
                      "type": "string"
                    },
                    "32": {
                      "type": "string"
                    },
                    "64": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "media": {
            "type": "object",
            "description": "Media configuration and limits.",
            "properties": {
              "picture_size_min": {
                "type": "integer"
              },
              "picture_size_max": {
                "type": "integer"
              },
              "picture_filetypes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "User",
      "description": "Authenticated user operations"
    },
    {
      "name": "Profiles",
      "description": "Social media profile management"
    },
    {
      "name": "Updates",
      "description": "Manage scheduled and sent updates"
    },
    {
      "name": "Links",
      "description": "Link sharing statistics"
    },
    {
      "name": "Info",
      "description": "Service configuration information"
    }
  ],
  "x-jentic-source-url": "https://buffer.com/developers/api"
}