{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "ti@tsprecuperadora.com.br"
    },
    "description": "Esta é a documentação da API TSP",
    "title": "API TSP",
    "version": "1.0.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/TSP7/API_TSP/1.0.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://api.tsprecuperadora.com.br/"
    }
  ],
  "paths": {
    "/boletos_financiado/{id_financiado}": {
      "get": {
        "parameters": [
          {
            "description": "informar o ID do financiado",
            "in": "path",
            "name": "id_financiado",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoletosFinanciado"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "tags": [
          "Dados"
        ],
        "description": "Obtém a listagem de boletos gerados em nossa base de dados para o financiado.",
        "operationId": "boletosFinanciado",
        "summary": "boletosFinanciado"
      }
    },
    "/contrato/{id_financiado}": {
      "get": {
        "parameters": [
          {
            "description": "informar o ID do financiado",
            "in": "path",
            "name": "id_financiado",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Contrato"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "tags": [
          "Dados"
        ],
        "description": "Através de um id do financiado na nossa base, retorna informações acerca de contratos que o mesmo possui em aberto em nossa base de dados.",
        "operationId": "dadosContrato",
        "summary": "dadosContrato"
      }
    },
    "/detalhes_divida/{id_contrato}": {
      "get": {
        "parameters": [
          {
            "description": "informar o ID do contrato",
            "in": "path",
            "name": "id_contrato",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetalhesDivida"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "tags": [
          "Dados"
        ],
        "description": "Obtém dados referentes a dívida do contrato em questão, além valores de negociação possível, tanto para quitação quanto para atualização.",
        "operationId": "detalhesDivida",
        "summary": "detalhesDivida"
      }
    },
    "/detalhes_divida_parcelado/{id_contrato}/{qntd_parcelas}/{valor_entrada}": {
      "get": {
        "parameters": [
          {
            "description": "informar o ID do contrato",
            "in": "path",
            "name": "id_contrato",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "informar a quantidade de parcelas a ser calculado",
            "in": "path",
            "name": "qntd_parcelas",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "informar o valor da entrada",
            "in": "path",
            "name": "valor_entrada",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetalhesDividaParcelado"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetalhesDividaParceladoErro"
                }
              }
            },
            "description": "Exemplo de retorno mal sucedido"
          }
        },
        "tags": [
          "Dados"
        ],
        "description": "Obtém dados referentes a dívida do contrato em questão, além valores de negociação possível, tanto para quitação quanto para atualização.",
        "operationId": "detalhesDividaParcelado",
        "summary": "detalhesDividaParelado"
      }
    },
    "/download_boleto/{id_boleto}": {
      "get": {
        "parameters": [
          {
            "description": "informar o ID do boleto",
            "in": "path",
            "name": "id_boleto",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/pdf": {}
            },
            "description": "Returna o arquivo em PDF"
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "tags": [
          "Download"
        ],
        "description": "Retorna o boleto em formato PDF. O CPF do financiado é requerido ao abrir o arquivo.",
        "operationId": "downloadBoleto",
        "summary": "downloadBoleto"
      }
    },
    "/gera_negociacao/{opcao}/{id_contrato}": {
      "get": {
        "parameters": [
          {
            "description": "informar a opção, a = atualização ou q = quitação",
            "in": "path",
            "name": "opcao",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "informar o ID do contrato para qual será formalizado a negociação",
            "in": "path",
            "name": "id_contrato",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeraNegociacao"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "tags": [
          "Negociação"
        ],
        "description": "Através da opção escolhida (a=atualização ou q=quitação) é gerado um acordo pa o contrato informado. O percentual de desconto aplicado é de 80%.",
        "operationId": "geraNegociacao",
        "summary": "geraNegociacao"
      }
    },
    "/gera_negociacao_parcelado/{id_contrato}/{qntd_parcelas}/{valor_entrada}": {
      "get": {
        "parameters": [
          {
            "description": "informar o ID do contrato para qual será formalizado a negociação",
            "in": "path",
            "name": "id_contrato",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "informar a quantidade de parcelas a ser calculado",
            "in": "path",
            "name": "qntd_parcelas",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "informar o valor da entrada (primeira parcela)",
            "in": "path",
            "name": "valor_entrada",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeraNegociacaoParcelada"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "tags": [
          "Negociação"
        ],
        "description": "Através da opção escolhida (a=atualização ou q=quitação) é gerado um acordo pa o contrato informado. O percentual de desconto aplicado é de 80%.",
        "operationId": "geraNegociacaoParcelada",
        "summary": "geraNegociacaoParcelada"
      }
    },
    "/listagem_quebras/{cpf}": {
      "get": {
        "parameters": [
          {
            "description": "informar o CPF do contrato",
            "in": "path",
            "name": "cpf",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListagemQuebras"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "tags": [
          "Dados"
        ],
        "description": "Retorna id do contrato,  id do acordo e dados do(s) boleto(s) que estão em atraso para o CPF do cliente informado na URL.",
        "operationId": "listagemQuebras",
        "summary": "listagemQuebras"
      }
    },
    "/proposta/{cpf}/{valor}/{data}": {
      "get": {
        "parameters": [
          {
            "description": "informar o CPF do financiado",
            "in": "path",
            "name": "cpf",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "informar o valor da proposta",
            "in": "path",
            "name": "valor",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "informar a data possível para pagamento",
            "in": "path",
            "name": "data",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposta"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "tags": [
          "Negociação"
        ],
        "description": "Recebe o valor e a data de pagamento ofertada pelo cliente, identificado por seu CPF, o qual é armazenado em um arquivo, que será disponibilizado à operação para análise e contato com o mesmo.",
        "operationId": "proposta",
        "summary": "proposta"
      }
    },
    "/revalida_boleto/{id_boleto}": {
      "get": {
        "parameters": [
          {
            "description": "informar o ID do boleto",
            "in": "path",
            "name": "id_boleto",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevalidaBoleto"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "tags": [
          "Negociação"
        ],
        "description": "Ao receber o ID de um boleto em atraso ele o revalida. Em casos Itaú (1 a 14 dias em atraso), ele cancela o boleto e emite outro com uma nova data de vencimento (D+2). Em casos BMG (1 a 20 dias em atraso), ele retorna os dados do boleto atual, mantendo a data de vencimento inicial.",
        "operationId": "revalidaBoleto",
        "summary": "revalidaBoleto"
      }
    },
    "/valida_documento/{cpf}/{data_nascimento}": {
      "get": {
        "parameters": [
          {
            "description": "informar o CPF do financiado",
            "in": "path",
            "name": "cpf",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "informar a data de nascimento do financiado (yyyy-mm-dd)",
            "in": "path",
            "name": "data_nascimento",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PossuiContrato"
                }
              }
            },
            "description": "Exemplo de retorno bem sucedido"
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "tags": [
          "Validação"
        ],
        "description": "Informando o CPF e Data de Nascimento, será feita a consulta em nossa base de dados com esses valores, e em caso positivo, serão retornados os dados deles.",
        "operationId": "validaDocumento",
        "summary": "validaDocumento"
      }
    }
  },
  "components": {
    "schemas": {
      "BoletosFinanciado": {
        "properties": {
          "boletos": {
            "example": [
              {
                "cpf_financiado": "00022255510",
                "download_link": "https://api.tsprecuperadora.com.br/download_boleto/5236415",
                "dt_vencimento": "2021-11-08",
                "id_boleto": 5236415,
                "id_financiado": 5236412,
                "linha_digitavel": "123165646548896665213215646845498944515135566665",
                "vl_boleto": 173.39
              }
            ],
            "items": {
              "properties": {
                "cpf_financiado": {
                  "type": "string"
                },
                "download_link": {
                  "type": "string"
                },
                "dt_vencimento": {
                  "type": "string"
                },
                "id_boleto": {
                  "type": "integer"
                },
                "id_financiado": {
                  "type": "integer"
                },
                "linha_digitavel": {
                  "type": "string"
                },
                "vl_boleto": {
                  "type": "number"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "mensagem": {
            "example": "ok",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Contrato": {
        "properties": {
          "dados": {
            "example": [
              {
                "Id_Financiado": 54321,
                "Numero_Contrato": "12345678",
                "cpf_cnpj": "98765432110",
                "id_contrato": 12345,
                "id_grupo": 1,
                "logo": "https://logodownload.org/wp-content/uploads/2014/05/itau-logo-1.png",
                "parcelas_em_atraso": 25,
                "qtde_parcelas": 25
              },
              {
                "Id_Financiado": 54321,
                "Numero_Contrato": "12345679",
                "cpf_cnpj": "98765432110",
                "id_contrato": 12346,
                "id_grupo": 1,
                "logo": "https://logodownload.org/wp-content/uploads/2014/05/itau-logo-1.png",
                "parcelas_em_atraso": 32,
                "qtde_parcelas": 30
              }
            ],
            "items": {
              "properties": {
                "Id_Financiado": {
                  "type": "integer"
                },
                "Numero_Contrato": {
                  "type": "string"
                },
                "cpf_cnpj": {
                  "type": "string"
                },
                "id_contrato": {
                  "type": "integer"
                },
                "id_grupo": {
                  "type": "integer"
                },
                "logo": {
                  "type": "string"
                },
                "parcelas_em_atraso": {
                  "type": "integer"
                },
                "qtde_parcelas": {
                  "type": "integer"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "mensagem": {
            "example": "Ok.",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "DadosDivida": {
        "properties": {
          "cpf_cnpj": {
            "example": "12385265470",
            "type": "string"
          },
          "dados_de_negociacao": {
            "$ref": "#/components/schemas/DadosNegociacao"
          },
          "id_contrato": {
            "example": 741852,
            "type": "integer"
          },
          "nome_financiado": {
            "example": "MARIA SILVA",
            "type": "string"
          },
          "numero_contrato": {
            "example": "14785236",
            "type": "string"
          },
          "vl_divida": {
            "example": 47.28,
            "type": "number"
          }
        },
        "type": "object"
      },
      "DadosDividaParcelado": {
        "properties": {
          "cpf_cnpj": {
            "example": "12385265470",
            "type": "string"
          },
          "dados_de_negociacao": {
            "items": {
              "properties": {
                "codprodut": {
                  "example": null,
                  "type": "string"
                },
                "desconto": {
                  "example": 0,
                  "type": "number"
                },
                "descontr": {
                  "example": null,
                  "type": "string"
                },
                "despesa": {
                  "example": 0,
                  "type": "number"
                },
                "dtvenc": {
                  "example": "2022-03-04T00:00:00",
                  "type": "string"
                },
                "juros": {
                  "example": 0.52,
                  "type": "number"
                },
                "multa": {
                  "example": 0,
                  "type": "number"
                },
                "parcela": {
                  "example": "1",
                  "type": "string"
                },
                "plano": {
                  "example": "3",
                  "type": "string"
                },
                "principal": {
                  "example": 17.61,
                  "type": "number"
                },
                "receita": {
                  "example": 1.8,
                  "type": "number"
                },
                "repasse": {
                  "example": 16.16,
                  "type": "number"
                },
                "txadm": {
                  "example": 0,
                  "type": "number"
                },
                "vlpago": {
                  "example": 17.96,
                  "type": "number"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "id_contrato": {
            "example": 741852,
            "type": "integer"
          },
          "nome_financiado": {
            "example": "MARIA SILVA",
            "type": "string"
          },
          "numero_contrato": {
            "example": "14785236",
            "type": "string"
          },
          "vl_divida": {
            "example": 47.28,
            "type": "number"
          }
        },
        "type": "object"
      },
      "DadosDividaParceladoErro": {
        "properties": {
          "cpf_cnpj": {
            "example": "12385265470",
            "type": "string"
          },
          "id_contrato": {
            "example": 741852,
            "type": "integer"
          },
          "nome_financiado": {
            "example": "MARIA SILVA",
            "type": "string"
          },
          "numero_contrato": {
            "example": "14785236",
            "type": "string"
          },
          "vl_divida": {
            "example": 47.28,
            "type": "number"
          }
        },
        "type": "object"
      },
      "DadosNegociacao": {
        "properties": {
          "atualizacao": {
            "example": 37.37,
            "type": "number"
          },
          "quitacao": {
            "example": 37.37,
            "type": "number"
          },
          "vencimento_para": {
            "example": "2021-11-10",
            "type": "string"
          }
        },
        "type": "object"
      },
      "DetalhesDivida": {
        "properties": {
          "dados": {
            "$ref": "#/components/schemas/DadosDivida"
          },
          "mensagem": {
            "example": "Ok.",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "DetalhesDividaParcelado": {
        "properties": {
          "dados": {
            "$ref": "#/components/schemas/DadosDividaParcelado"
          },
          "mensagem": {
            "example": "Ok.",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "DetalhesDividaParceladoErro": {
        "properties": {
          "dados": {
            "$ref": "#/components/schemas/DadosDividaParceladoErro"
          },
          "dados_de_negociacao": {
            "example": [],
            "type": "array"
          },
          "mensagem": {
            "example": "Mensagem de erro",
            "type": "string"
          },
          "sucesso": {
            "example": false,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GeraNegociacao": {
        "properties": {
          "dados": {
            "example": [
              {
                "DataPgtoEntrada": "2021-11-09",
                "DataVencimentoProximaParcela": "2021-11-09",
                "IdAcordo": 654321,
                "Id_Agrupamento": 123568,
                "NrAcordo": "1235996",
                "Plano": 0,
                "ValorAcordo": 126.85,
                "ValorEntrada": 0,
                "ValorParcelas": 56.18,
                "download_boleto_gerado": "https://api.tsprecuperadora.com.br/download_boleto/123456",
                "linha_digitavel": "251615618949456113161549498445213321"
              }
            ],
            "items": {
              "properties": {
                "DataPgtoEntrada": {
                  "type": "string"
                },
                "DataVencimentoProximaParcela": {
                  "type": "string"
                },
                "Id_Acordo": {
                  "type": "integer"
                },
                "Id_Agrupamento": {
                  "type": "integer"
                },
                "NrAcordo": {
                  "type": "string"
                },
                "Plano": {
                  "type": "integer"
                },
                "ValorAcordo": {
                  "type": "number"
                },
                "ValorEntrada": {
                  "type": "number"
                },
                "ValorParcelas": {
                  "type": "number"
                },
                "download_boleto_gerado": {
                  "type": "string"
                },
                "linha_digitavel": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "mensagem": {
            "example": "Ok.",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "GeraNegociacaoParcelada": {
        "properties": {
          "dados": {
            "example": [
              {
                "DataPgtoEntrada": "2022-03-04",
                "DataVencimentoProximaParcela": "2022-04-04",
                "IdAcordo": 654321,
                "Id_Agrupamento": 123568,
                "NrAcordo": "1235996",
                "Plano": 3,
                "ValorAcordo": 126.85,
                "ValorEntrada": 10.05,
                "ValorParcelas": 12.08,
                "download_boleto_gerado": "https://api.tsprecuperadora.com.br/download_boleto/123456",
                "linha_digitavel": "251615618949456113161549498445213321"
              }
            ],
            "items": {
              "properties": {
                "DataPgtoEntrada": {
                  "type": "string"
                },
                "DataVencimentoProximaParcela": {
                  "type": "string"
                },
                "Id_Acordo": {
                  "type": "integer"
                },
                "Id_Agrupamento": {
                  "type": "integer"
                },
                "NrAcordo": {
                  "type": "string"
                },
                "Plano": {
                  "type": "integer"
                },
                "ValorAcordo": {
                  "type": "number"
                },
                "ValorEntrada": {
                  "type": "number"
                },
                "ValorParcelas": {
                  "type": "number"
                },
                "download_boleto_gerado": {
                  "type": "string"
                },
                "linha_digitavel": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "mensagem": {
            "example": "Ok.",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ListagemQuebras": {
        "properties": {
          "dados": {
            "example": [
              {
                "atraso": 10,
                "dt_vencimento": "2021-11-08",
                "id_acordo": 0,
                "id_boleto": 0,
                "id_parcela_acordo": 0,
                "linha_digitavel": "13156120235498646212030235468552",
                "nr_parcela": 5,
                "valor_parcela": 102.53
              }
            ],
            "items": {
              "properties": {
                "atraso": {
                  "type": "integer"
                },
                "dt_vencimento": {
                  "type": "string"
                },
                "id_acordo": {
                  "type": "integer"
                },
                "id_boleto": {
                  "type": "integer"
                },
                "id_parcela_acordo": {
                  "type": "integer"
                },
                "linha_digitavel": {
                  "type": "string"
                },
                "nr_parcela": {
                  "type": "integer"
                },
                "valor_parcela": {
                  "type": "number"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "mensagem": {
            "example": "Ok",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "PossuiContrato": {
        "properties": {
          "dados": {
            "example": [
              {
                "Id_Financiado": 123456,
                "Nome": "JOAO DA SILVA",
                "acordos": 2,
                "atraso_excedido": false,
                "boletos_gerados": 0,
                "central_atendimento": "08009403440",
                "contratos_abertos": 3,
                "documento": "12345678910",
                "grupo": 1,
                "quebras_acordo": 0,
                "whatsapp": "https://wa.me/5516991694061"
              }
            ],
            "items": {
              "properties": {
                "Id_Financiado": {
                  "type": "integer"
                },
                "Nome": {
                  "type": "string"
                },
                "acordos": {
                  "type": "integer"
                },
                "atraso_excedido": {
                  "type": "boolean"
                },
                "boletos_gerados": {
                  "type": "integer"
                },
                "central_atendimento": {
                  "type": "string"
                },
                "contratos_abertos": {
                  "type": "integer"
                },
                "documento": {
                  "type": "string"
                },
                "grupo": {
                  "type": "integer"
                },
                "quebras_acordo": {
                  "type": "integer"
                },
                "whatsapp": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "mensagem": {
            "example": "Ok.",
            "type": "string"
          },
          "propostas": {
            "example": 0,
            "type": "integer"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "Proposta": {
        "properties": {
          "dados": {
            "example": [
              {
                "cpf": "12356897420",
                "data_pagamento": "2021-11-11",
                "data_proposta": "2021-11-09",
                "valor": 15
              }
            ],
            "items": {
              "properties": {
                "cpf": {
                  "type": "string"
                },
                "data_pagamento": {
                  "type": "string"
                },
                "data_proposta": {
                  "type": "string"
                },
                "valor": {
                  "type": "number"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "mensagem": {
            "example": "Ok",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "RevalidaBoleto": {
        "properties": {
          "dados": {
            "example": [
              {
                "DataPgtoEntrada": "2021-11-11",
                "DataVencimentoProximaParcela": "2021-11-11",
                "IdAcordo": 654321,
                "Id_Agrupamento": 123568,
                "NrAcordo": "1235996",
                "Plano": 0,
                "ValorAcordo": 126.85,
                "ValorEntrada": 0,
                "ValorParcelas": 56.18,
                "download_boleto_gerado": "https://api.tsprecuperadora.com.br/download_boleto/123456",
                "linha_digitavel": "251615618949456113161549498445213321"
              }
            ],
            "items": {
              "properties": {
                "DataPagtoEntrada": {
                  "type": "string"
                },
                "DataVencimentoProximaParcela": {
                  "type": "string"
                },
                "IdAcordo": {
                  "type": "integer"
                },
                "Id_Agrupamento": {
                  "type": "integer"
                },
                "NrAcordo": {
                  "type": "integer"
                },
                "Plano": {
                  "type": "integer"
                },
                "ValorAcordo": {
                  "type": "number"
                },
                "ValorEntrada": {
                  "type": "number"
                },
                "ValorParcelas": {
                  "type": "number"
                },
                "download_boleto_gerado": {
                  "type": "string"
                },
                "linha_digitavel": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "mensagem": {
            "example": "Ok.",
            "type": "string"
          },
          "sucesso": {
            "example": true,
            "type": "boolean"
          }
        },
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "description": "Validação de acesso financiado",
      "name": "Validação"
    },
    {
      "description": "Retorno de dados do financiado",
      "name": "Dados"
    },
    {
      "description": "Cálculo e geração de negociação",
      "name": "Negociação"
    },
    {
      "description": "Downloads de arquivos",
      "name": "Download"
    }
  ]
}