{
  "openapi": "3.0.3",
  "info": {
    "title": "NHTSA Vehicle API (vPIC)",
    "version": "1.0.0",
    "description": "The NHTSA Product Information Catalog Vehicle Listing (vPIC) API provides information on vehicles, makes, models, and manufacturers. It includes VIN decoding, manufacturer details, and vehicle specifications.",
    "x-jentic-source-url": "https://vpic.nhtsa.dot.gov/api/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://vpic.nhtsa.dot.gov/api/vehicles"
    }
  ],
  "paths": {
    "/DecodeVin/{vin}": {
      "get": {
        "operationId": "decodeVin",
        "summary": "Decode a VIN",
        "tags": [
          "VIN Decoding"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Vehicle Identification Number"
          },
          {
            "name": "modelyear",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Model year to narrow results"
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecodeVinResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Decode a VIN"
      }
    },
    "/DecodeVinValues/{vin}": {
      "get": {
        "operationId": "decodeVinValues",
        "summary": "Decode VIN in flat format",
        "tags": [
          "VIN Decoding"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelyear",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Decode VIN in flat format"
      }
    },
    "/DecodeVinExtended/{vin}": {
      "get": {
        "operationId": "decodeVinExtended",
        "summary": "Extended VIN decode with NCSA data",
        "tags": [
          "VIN Decoding"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelyear",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Extended VIN decode with NCSA data"
      }
    },
    "/DecodeVinValuesExtended/{vin}": {
      "get": {
        "operationId": "decodeVinValuesExtended",
        "summary": "Extended VIN decode flat format",
        "tags": [
          "VIN Decoding"
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modelyear",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Extended VIN decode flat format"
      }
    },
    "/DecodeWMI/{wmi}": {
      "get": {
        "operationId": "decodeWMI",
        "summary": "Decode World Manufacturer Identifier",
        "tags": [
          "Manufacturers"
        ],
        "parameters": [
          {
            "name": "wmi",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "3-6 character WMI code"
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Decode World Manufacturer Identifier"
      }
    },
    "/GetWMIsForManufacturer/{manufacturer}": {
      "get": {
        "operationId": "getWMIsForManufacturer",
        "summary": "Get WMIs for a manufacturer",
        "tags": [
          "Manufacturers"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vehicleType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get WMIs for a manufacturer"
      }
    },
    "/GetAllMakes": {
      "get": {
        "operationId": "getAllMakes",
        "summary": "List all vehicle makes",
        "tags": [
          "Makes"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MakeResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all vehicle makes"
      }
    },
    "/GetParts": {
      "get": {
        "operationId": "getParts",
        "summary": "List parts/ORGs in date range",
        "tags": [
          "Other"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                565,
                566
              ]
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "manufacturer",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List parts/ORGs in date range"
      }
    },
    "/GetAllManufacturers": {
      "get": {
        "operationId": "getAllManufacturers",
        "summary": "List all manufacturers",
        "tags": [
          "Manufacturers"
        ],
        "parameters": [
          {
            "name": "ManufacturerType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManufacturerResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all manufacturers"
      }
    },
    "/GetManufacturerDetails/{manufacturer}": {
      "get": {
        "operationId": "getManufacturerDetails",
        "summary": "Get manufacturer details",
        "tags": [
          "Manufacturers"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get manufacturer details"
      }
    },
    "/GetMakeForManufacturer/{manufacturer}": {
      "get": {
        "operationId": "getMakeForManufacturer",
        "summary": "Get makes for manufacturer",
        "tags": [
          "Makes"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get makes for manufacturer"
      }
    },
    "/GetMakesForManufacturerAndYear/{manufacturer}": {
      "get": {
        "operationId": "getMakesForManufacturerAndYear",
        "summary": "Get makes by manufacturer and year",
        "tags": [
          "Makes"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get makes by manufacturer and year"
      }
    },
    "/GetMakesForVehicleType/{vehicleType}": {
      "get": {
        "operationId": "getMakesForVehicleType",
        "summary": "Get makes by vehicle type",
        "tags": [
          "Makes"
        ],
        "parameters": [
          {
            "name": "vehicleType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get makes by vehicle type"
      }
    },
    "/GetVehicleTypesForMake/{make}": {
      "get": {
        "operationId": "getVehicleTypesForMake",
        "summary": "Get vehicle types for a make",
        "tags": [
          "Vehicle Types"
        ],
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleTypeResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get vehicle types for a make"
      }
    },
    "/GetVehicleTypesForMakeId/{makeId}": {
      "get": {
        "operationId": "getVehicleTypesForMakeId",
        "summary": "Get vehicle types by make ID",
        "tags": [
          "Vehicle Types"
        ],
        "parameters": [
          {
            "name": "makeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get vehicle types by make ID"
      }
    },
    "/GetEquipmentPlantCodes": {
      "get": {
        "operationId": "getEquipmentPlantCodes",
        "summary": "Get equipment plant codes",
        "tags": [
          "Other"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "equipmentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "reportType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get equipment plant codes"
      }
    },
    "/GetModelsForMake/{make}": {
      "get": {
        "operationId": "getModelsForMake",
        "summary": "Get models for a make",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get models for a make"
      }
    },
    "/GetModelsForMakeId/{makeId}": {
      "get": {
        "operationId": "getModelsForMakeId",
        "summary": "Get models by make ID",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "makeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get models by make ID"
      }
    },
    "/GetModelsForMakeYear/make/{make}/modelyear/{year}": {
      "get": {
        "operationId": "getModelsForMakeYear",
        "summary": "Get models by make and year",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get models by make and year"
      }
    },
    "/GetModelsForMakeYear/make/{make}/vehicletype/{type}": {
      "get": {
        "operationId": "getModelsForMakeVehicleType",
        "summary": "Get models by make and vehicle type",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "make",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get models by make and vehicle type"
      }
    },
    "/GetModelsForMakeIdYear/makeId/{makeId}/modelyear/{year}": {
      "get": {
        "operationId": "getModelsForMakeIdYear",
        "summary": "Get models by make ID and year",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "makeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get models by make ID and year"
      }
    },
    "/GetVehicleVariableList": {
      "get": {
        "operationId": "getVehicleVariableList",
        "summary": "List all vehicle variables",
        "tags": [
          "Other"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List all vehicle variables"
      }
    },
    "/GetVehicleVariableValuesList/{variable}": {
      "get": {
        "operationId": "getVehicleVariableValuesList",
        "summary": "Get accepted values for a variable",
        "tags": [
          "Other"
        ],
        "parameters": [
          {
            "name": "variable",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get accepted values for a variable"
      }
    },
    "/DecodeVINValuesBatch": {
      "post": {
        "operationId": "decodeVINValuesBatch",
        "summary": "Batch VIN decoding (max 50)",
        "tags": [
          "VIN Decoding"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "DATA": {
                    "type": "string",
                    "description": "Semicolon-separated VIN,year pairs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Batch VIN decoding (max 50)"
      }
    },
    "/GetCanadianVehicleSpecifications": {
      "get": {
        "operationId": "getCanadianVehicleSpecifications",
        "summary": "Get Canadian vehicle specifications",
        "tags": [
          "Other"
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "make",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xml",
                "csv",
                "json"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Canadian vehicle specifications"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        }
      },
      "DecodeVinResult": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Message": {
            "type": "string"
          },
          "SearchCriteria": {
            "type": "string"
          },
          "Results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string"
                },
                "ValueId": {
                  "type": "string"
                },
                "Variable": {
                  "type": "string"
                },
                "VariableId": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "MakeResult": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Message": {
            "type": "string"
          },
          "Results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Make_ID": {
                  "type": "integer"
                },
                "Make_Name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ManufacturerResult": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Message": {
            "type": "string"
          },
          "Results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Mfr_CommonName": {
                  "type": "string"
                },
                "Mfr_ID": {
                  "type": "integer"
                },
                "Mfr_Name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ModelResult": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Message": {
            "type": "string"
          },
          "Results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Make_ID": {
                  "type": "integer"
                },
                "Make_Name": {
                  "type": "string"
                },
                "Model_ID": {
                  "type": "integer"
                },
                "Model_Name": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "VehicleTypeResult": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "Message": {
            "type": "string"
          },
          "Results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "VehicleTypeId": {
                  "type": "integer"
                },
                "VehicleTypeName": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": [],
  "tags": [
    {
      "name": "VIN Decoding",
      "description": "Decode VINs"
    },
    {
      "name": "Makes",
      "description": "Vehicle makes"
    },
    {
      "name": "Manufacturers",
      "description": "Vehicle manufacturers"
    },
    {
      "name": "Models",
      "description": "Vehicle models"
    },
    {
      "name": "Vehicle Types",
      "description": "Vehicle type lookups"
    },
    {
      "name": "Other",
      "description": "Other endpoints"
    }
  ]
}
