{
  "openapi": "3.0.3",
  "info": {
    "title": "Bbot API",
    "version": "1.0.0",
    "description": "Bbot is a restaurant ordering and delivery platform API. It provides endpoints for managing restaurants, menus, orders, guests, payments, and delivery capabilities.",
    "x-jentic-source-url": "https://bbot.readme.io/reference/introduction",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://bbot.menu/api/v1",
      "description": "Production"
    },
    {
      "url": "https://staging.bbot.menu/api/v1",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "operationId": "authenticate",
        "summary": "Authenticate user",
        "description": "Obtain a JWT token for API access by providing username and password.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/restaurants": {
      "get": {
        "operationId": "listRestaurants",
        "summary": "List all restaurants",
        "description": "Retrieve a list of all restaurants accessible to the authenticated user.",
        "tags": [
          "Restaurants"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Restaurant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/settings/{restaurant_id}": {
      "get": {
        "operationId": "getRestaurantSettings",
        "summary": "Get restaurant settings",
        "description": "View integration settings for a specific restaurant.",
        "tags": [
          "Restaurants"
        ],
        "parameters": [
          {
            "name": "restaurant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The restaurant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestaurantSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/settings": {
      "post": {
        "operationId": "updateRestaurantSettings",
        "summary": "Update restaurant settings",
        "description": "Modify restaurant integration settings.",
        "tags": [
          "Restaurants"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestaurantSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "Retrieve orders for a restaurant with optional filtering.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "restaurant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The restaurant ID to get orders for"
          },
          {
            "name": "last_modified",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter orders modified after this timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get a single order",
        "description": "Get detailed information for a single order.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/menus": {
      "get": {
        "operationId": "getMenus",
        "summary": "Get menus",
        "description": "Retrieve menu structure with items and modifiers for a restaurant.",
        "tags": [
          "Menus"
        ],
        "parameters": [
          {
            "name": "restaurant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The restaurant ID"
          },
          {
            "name": "menu_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specific menu ID to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Menu"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/menus/async-upsert": {
      "post": {
        "operationId": "asyncUpsertMenu",
        "summary": "Async upsert menu",
        "description": "Asynchronously create or update menu data.",
        "tags": [
          "Menus"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upsert initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncUpsertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/menus/async-upsert/{idempotency_id}": {
      "get": {
        "operationId": "getAsyncUpsertStatus",
        "summary": "Check async upsert status",
        "description": "Check the status of an async menu upsert operation.",
        "tags": [
          "Menus"
        ],
        "parameters": [
          {
            "name": "idempotency_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The idempotency ID from the upsert request"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncUpsertStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tables/{restaurant_id}": {
      "get": {
        "operationId": "getTables",
        "summary": "Get ordering pages",
        "description": "Get ordering page configurations (tables) for a restaurant.",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "restaurant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The restaurant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Table"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fulfillable-menu-items/{table_short_id}": {
      "get": {
        "operationId": "getFulfillableMenuItems",
        "summary": "Get fulfillable menu items",
        "description": "Get available menu items for a specific ordering page.",
        "tags": [
          "Menus"
        ],
        "parameters": [
          {
            "name": "table_short_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The table short ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillableMenuItemsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/can-deliver/{restaurant_id}": {
      "get": {
        "operationId": "canDeliver",
        "summary": "Check delivery capability",
        "description": "Check if a restaurant can deliver to a given address.",
        "tags": [
          "Delivery"
        ],
        "parameters": [
          {
            "name": "restaurant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The restaurant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "can_deliver": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/guest": {
      "post": {
        "operationId": "createGuest",
        "summary": "Create a guest",
        "description": "Create a new guest account.",
        "tags": [
          "Guests"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Guest created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/guests": {
      "get": {
        "operationId": "getGuests",
        "summary": "Get guest information",
        "description": "Retrieve guest profile information.",
        "tags": [
          "Guests"
        ],
        "parameters": [
          {
            "name": "guest_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by guest ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Guest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pricecheck": {
      "post": {
        "operationId": "priceCheck",
        "summary": "Price check",
        "description": "Calculate cart prices with taxes and fees.",
        "tags": [
          "Pricing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Price calculation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/create-stripe-setup-intent": {
      "get": {
        "operationId": "createStripeSetupIntent",
        "summary": "Create Stripe setup intent",
        "description": "Initialize a Stripe payment setup intent.",
        "tags": [
          "Payments"
        ],
        "responses": {
          "200": {
            "description": "Setup intent created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_secret": {
                      "type": "string",
                      "description": "Stripe intent client secret"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/save-stripe-payment-method": {
      "post": {
        "operationId": "saveStripePaymentMethod",
        "summary": "Save Stripe payment method",
        "description": "Save a payment method for a guest.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "stripe_payment_method_id",
                  "guest_id"
                ],
                "properties": {
                  "stripe_payment_method_id": {
                    "type": "string",
                    "description": "Stripe payment method ID"
                  },
                  "guest_id": {
                    "type": "string",
                    "description": "Guest ID to associate payment method with"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment method saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "card_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get-payment-methods/{guest_id}": {
      "get": {
        "operationId": "getPaymentMethods",
        "summary": "Get payment methods",
        "description": "List saved payment methods for a guest.",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "guest_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The guest ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/checkout": {
      "post": {
        "operationId": "checkout",
        "summary": "Checkout",
        "description": "Submit an order for payment processing.",
        "tags": [
          "Checkout"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT token for API access"
          }
        }
      },
      "Restaurant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Restaurant ID"
          },
          "name": {
            "type": "string",
            "description": "Restaurant name"
          },
          "address": {
            "type": "string"
          }
        }
      },
      "RestaurantSettings": {
        "type": "object",
        "properties": {
          "restaurant_id": {
            "type": "string"
          },
          "settings": {
            "type": "object"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string"
          },
          "restaurant_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          },
          "total": {
            "type": "number",
            "format": "float"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "item_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "modifications": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Menu": {
        "type": "object",
        "properties": {
          "menu_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MenuItem"
            }
          }
        }
      },
      "MenuItem": {
        "type": "object",
        "properties": {
          "item_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "modifiers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AsyncUpsertResponse": {
        "type": "object",
        "properties": {
          "idempotency_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending"
            ]
          }
        }
      },
      "AsyncUpsertStatus": {
        "type": "object",
        "properties": {
          "idempotency_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "success",
              "failure"
            ]
          },
          "results": {
            "type": "object"
          }
        }
      },
      "Table": {
        "type": "object",
        "properties": {
          "table_id": {
            "type": "string"
          },
          "short_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "fulfillment_methods": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FulfillableMenuItemsResponse": {
        "type": "object",
        "properties": {
          "item_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hash": {
            "type": "string"
          }
        }
      },
      "Guest": {
        "type": "object",
        "properties": {
          "guest_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "GuestCreateRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "PriceCheckResponse": {
        "type": "object",
        "properties": {
          "line_items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "taxes": {
            "type": "number",
            "format": "float"
          },
          "fees": {
            "type": "number",
            "format": "float"
          },
          "total": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "card_id": {
            "type": "string"
          },
          "last4": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "exp_month": {
            "type": "integer"
          },
          "exp_year": {
            "type": "integer"
          }
        }
      },
      "CheckoutResponse": {
        "type": "object",
        "properties": {
          "order_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "success": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Checkout"
    },
    {
      "name": "Delivery"
    },
    {
      "name": "Guests"
    },
    {
      "name": "Menus"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Pricing"
    },
    {
      "name": "Restaurants"
    },
    {
      "name": "Tables"
    }
  ]
}
