{
  "openapi": "3.0.3",
  "info": {
    "title": "Juniper Threat Intelligence API",
    "description": "Juniper Threat Intelligence Public API for managing threat feeds including DNS, Command & Control, IP Filter, and Blacklist/Whitelist feeds. Supports file-based and parameter-based operations.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://www.juniper.net/documentation/us/en/software/atp-cloud/atp-cloud-api-setup/topics/concept/atp-cloud-api-overview.html"
  },
  "servers": [
    {
      "url": "https://threat-api.sky.junipersecurity.net/v2/cloudfeeds",
      "description": "US Region"
    },
    {
      "url": "https://threat-api-apac.sky.junipersecurity.net/v2/cloudfeeds",
      "description": "APAC Region"
    },
    {
      "url": "https://threat-api-canada.sky.junipersecurity.net/v2/cloudfeeds",
      "description": "Canada Region"
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "operationId": "ping",
        "summary": "Health check endpoint",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessage"
                }
              }
            }
          }
        }
      }
    },
    "/DNS/file/{feed_name}": {
      "get": {
        "operationId": "getDnsFileFeed",
        "summary": "Get DNS feed status",
        "tags": [
          "DNS File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDnsFileFeed",
        "summary": "Inject domains into a DNS feed via file upload",
        "tags": [
          "DNS File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadWithFailOnError"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateDnsFileFeed",
        "summary": "Update domain threat levels in a DNS feed via file",
        "tags": [
          "DNS File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadWithFailOnError"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDnsFileFeed",
        "summary": "Remove entries from or delete entire DNS feed via file",
        "tags": [
          "DNS File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadWithFailOnError"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DNS/param/{feed_name}": {
      "get": {
        "operationId": "getDnsParamFeed",
        "summary": "Get DNS param feed status",
        "tags": [
          "DNS Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDnsParamFeed",
        "summary": "Inject a domain into a DNS feed via parameters",
        "tags": [
          "DNS Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ParamServerThreatLevel"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateDnsParamFeed",
        "summary": "Update a domain threat level in a DNS feed",
        "tags": [
          "DNS Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ParamServerThreatLevel"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDnsParamFeed",
        "summary": "Remove a domain from a DNS feed or delete entire feed",
        "tags": [
          "DNS Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ParamServer"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cc/file/{feed_content_type}/{feed_name}": {
      "get": {
        "operationId": "getCcFileFeed",
        "summary": "Get C&C file feed status",
        "tags": [
          "CC File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCcFileFeed",
        "summary": "Inject entries into a C&C feed via file upload",
        "tags": [
          "CC File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadWithFailOnError"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCcFileFeed",
        "summary": "Update threat levels in a C&C feed via file",
        "tags": [
          "CC File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadWithFailOnError"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCcFileFeed",
        "summary": "Remove entries from or delete entire C&C feed via file",
        "tags": [
          "CC File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadWithFailOnError"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cc/param/{feed_content_type}/{feed_name}": {
      "get": {
        "operationId": "getCcParamFeed",
        "summary": "Get C&C param feed status",
        "tags": [
          "CC Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCcParamFeed",
        "summary": "Inject an entry into a C&C feed via parameters",
        "tags": [
          "CC Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ParamServerThreatLevel"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCcParamFeed",
        "summary": "Update threat level for a C&C feed entry",
        "tags": [
          "CC Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ParamServerThreatLevel"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCcParamFeed",
        "summary": "Remove entry from or delete entire C&C feed",
        "tags": [
          "CC Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ParamServer"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ipfilter/file/{feed_name}": {
      "get": {
        "operationId": "getIpFilterFileFeed",
        "summary": "Get IP filter file feed status",
        "tags": [
          "IP Filter File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createIpFilterFileFeed",
        "summary": "Inject IP entries into an IP filter feed via file",
        "tags": [
          "IP Filter File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/IpFilterFileUpload"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateIpFilterFileFeed",
        "summary": "Update IP filter feed entries via file",
        "tags": [
          "IP Filter File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadWithFailOnError"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteIpFilterFileFeed",
        "summary": "Remove entries from or delete entire IP filter feed via file",
        "tags": [
          "IP Filter File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadWithFailOnError"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ipfilter/param/{feed_name}": {
      "get": {
        "operationId": "getIpFilterParamFeed",
        "summary": "Get IP filter param feed status",
        "tags": [
          "IP Filter Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createIpFilterParamFeed",
        "summary": "Add an IP entry to an IP filter feed via parameters",
        "tags": [
          "IP Filter Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/IpFilterParamInput"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteIpFilterParamFeed",
        "summary": "Remove an IP entry from an IP filter feed",
        "tags": [
          "IP Filter Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ParamServer"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{feed_type}/file/{feed_content_type}/{feed_name}": {
      "get": {
        "operationId": "getBlockAllowListFileFeed",
        "summary": "Get blocklist or allowlist file feed status",
        "tags": [
          "Blocklist/Allowlist File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedType"
          },
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBlockAllowListFileFeed",
        "summary": "Add entries to a blocklist/allowlist feed via file",
        "tags": [
          "Blocklist/Allowlist File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedType"
          },
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadWithFailOnError"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateBlockAllowListFileFeed",
        "summary": "Update entries in a blocklist/allowlist feed via file",
        "tags": [
          "Blocklist/Allowlist File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedType"
          },
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadWithFailOnError"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBlockAllowListFileFeed",
        "summary": "Remove entries from a blocklist/allowlist feed via file",
        "tags": [
          "Blocklist/Allowlist File Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedType"
          },
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadWithFailOnError"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{feed_type}/param/{feed_content_type}/{feed_name}": {
      "get": {
        "operationId": "getBlockAllowListParamFeed",
        "summary": "Get blocklist or allowlist param feed status",
        "tags": [
          "Blocklist/Allowlist Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedType"
          },
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "responses": {
          "200": {
            "description": "Feed status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBlockAllowListParamFeed",
        "summary": "Add an entry to a blocklist/allowlist feed",
        "tags": [
          "Blocklist/Allowlist Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedType"
          },
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ParamServer"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateBlockAllowListParamFeed",
        "summary": "Update an entry in a blocklist/allowlist feed",
        "tags": [
          "Blocklist/Allowlist Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedType"
          },
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ParamServer"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBlockAllowListParamFeed",
        "summary": "Remove an entry from a blocklist/allowlist feed",
        "tags": [
          "Blocklist/Allowlist Param Feeds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/feedType"
          },
          {
            "$ref": "#/components/parameters/feedContentType"
          },
          {
            "$ref": "#/components/parameters/feedName"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ParamServer"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token generated from Juniper ATP Cloud Web UI (Administration > Application Tokens)"
      }
    },
    "parameters": {
      "feedName": {
        "name": "feed_name",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Name of the feed"
      },
      "feedContentType": {
        "name": "feed_content_type",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "ip",
            "url",
            "domain"
          ]
        },
        "description": "Type of content in the feed (IP, URL, or domain)"
      },
      "feedType": {
        "name": "feed_type",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "blacklist",
            "whitelist"
          ]
        },
        "description": "Feed type (blacklist or whitelist)"
      }
    },
    "schemas": {
      "SuccessMessage": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "RequestAccepted": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "ID for tracking the asynchronous request"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "err_id": {
            "type": "string",
            "description": "Error identifier"
          },
          "details": {
            "type": "string",
            "description": "Detailed error information"
          },
          "request_id": {
            "type": "string",
            "description": "Request tracking ID"
          }
        }
      },
      "FeedStatus": {
        "type": "object",
        "properties": {
          "feed_name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "entries_count": {
            "type": "integer"
          }
        }
      },
      "FileUploadWithFailOnError": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "CSV file with entries"
          },
          "failOnError": {
            "type": "boolean",
            "default": true,
            "description": "Whether to fail the entire operation on any error"
          }
        },
        "required": [
          "file"
        ]
      },
      "IpFilterFileUpload": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "File with IP entries"
          },
          "overwrite_content": {
            "type": "boolean",
            "default": false,
            "description": "Whether to overwrite existing content"
          },
          "failOnError": {
            "type": "boolean",
            "default": true,
            "description": "Whether to fail the entire operation on any error"
          }
        },
        "required": [
          "file"
        ]
      },
      "IpFilterParamInput": {
        "type": "object",
        "properties": {
          "server": {
            "type": "string",
            "description": "IP address, range, or subnet"
          },
          "overwrite_content": {
            "type": "boolean",
            "default": false,
            "description": "Whether to overwrite existing content"
          }
        },
        "required": [
          "server"
        ]
      },
      "ParamServerThreatLevel": {
        "type": "object",
        "properties": {
          "server": {
            "type": "string",
            "description": "IP, URL, or domain entry",
            "maxLength": 128
          },
          "tl": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "description": "Threat level (1-10)"
          }
        },
        "required": [
          "server",
          "tl"
        ]
      },
      "ParamServer": {
        "type": "object",
        "properties": {
          "server": {
            "type": "string",
            "description": "IP, URL, or domain entry. Use '*' to delete the entire feed.",
            "maxLength": 128
          }
        },
        "required": [
          "server"
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check endpoints"
    },
    {
      "name": "DNS File Feeds",
      "description": "Manage DNS feeds via file upload"
    },
    {
      "name": "DNS Param Feeds",
      "description": "Manage DNS feeds via parameters"
    },
    {
      "name": "CC File Feeds",
      "description": "Manage Command & Control feeds via file upload"
    },
    {
      "name": "CC Param Feeds",
      "description": "Manage Command & Control feeds via parameters"
    },
    {
      "name": "IP Filter File Feeds",
      "description": "Manage IP filter feeds via file upload"
    },
    {
      "name": "IP Filter Param Feeds",
      "description": "Manage IP filter feeds via parameters"
    },
    {
      "name": "Blocklist/Allowlist File Feeds",
      "description": "Manage blocklist and allowlist feeds via file upload"
    },
    {
      "name": "Blocklist/Allowlist Param Feeds",
      "description": "Manage blocklist and allowlist feeds via parameters"
    }
  ]
}