{
  "openapi": "3.0.3",
  "info": {
    "title": "Claim.MD API",
    "version": "1.0.0",
    "description": "Claim.MD provides healthcare claims clearinghouse services including electronic claims submission, eligibility verification, ERA (Electronic Remittance Advice) retrieval, and related billing operations.",
    "x-jentic-source-url": "https://api.claim.md/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.claim.md"
    }
  ],
  "paths": {
    "/services/upload": {
      "post": {
        "operationId": "uploadBatchFile",
        "summary": "Upload batch files",
        "description": "Submit claims, eligibility, ERA or attachment files as batch uploads.",
        "tags": [
          "Claims"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey",
                  "File"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "File": {
                    "type": "string",
                    "format": "binary",
                    "description": "The batch file to upload"
                  },
                  "Filename": {
                    "type": "string",
                    "description": "Optional filename for the uploaded file"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful upload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/uploadlist": {
      "post": {
        "operationId": "listUploadedFiles",
        "summary": "List uploaded files",
        "description": "Provides a list of files uploaded into the system.",
        "tags": [
          "Claims"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "Page": {
                    "type": "integer",
                    "description": "Page number for pagination"
                  },
                  "UploadDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Filter by upload date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/response": {
      "post": {
        "operationId": "getClaimResponse",
        "summary": "Get claim response",
        "description": "Receive delayed claim status updates. Maximum 20,000 results per request.",
        "tags": [
          "Claims"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey",
                  "ResponseID"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "ResponseID": {
                    "type": "string",
                    "description": "Response identifier"
                  },
                  "ClaimID": {
                    "type": "string",
                    "description": "Optional claim identifier filter"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimResponseData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/elig": {
      "post": {
        "operationId": "submitEligibilityX12",
        "summary": "Submit eligibility request (X12 270/271)",
        "description": "Real-time eligibility requests using X12 270/271 formats.",
        "tags": [
          "Eligibility"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey",
                  "File"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "File": {
                    "type": "string",
                    "description": "X12 270 eligibility request file content"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful eligibility response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EligibilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/eligdata": {
      "post": {
        "operationId": "submitEligibilityData",
        "summary": "Submit eligibility request (XML/JSON)",
        "description": "Real-time eligibility requests accepting parameters with XML/JSON results.",
        "tags": [
          "Eligibility"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "ins_name_l": {
                    "type": "string",
                    "description": "Insured last name"
                  },
                  "ins_name_f": {
                    "type": "string",
                    "description": "Insured first name"
                  },
                  "payerid": {
                    "type": "string",
                    "description": "Payer identifier"
                  },
                  "pat_rel": {
                    "type": "string",
                    "description": "Patient relationship to insured"
                  },
                  "fdos": {
                    "type": "string",
                    "format": "date",
                    "description": "First date of service"
                  },
                  "prov_npi": {
                    "type": "string",
                    "description": "Provider NPI number"
                  },
                  "prov_taxid": {
                    "type": "string",
                    "description": "Provider tax ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful eligibility response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EligibilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/eralist": {
      "post": {
        "operationId": "listERAs",
        "summary": "List Electronic Remittance Advice",
        "description": "Returns list of received ERA with filtering options.",
        "tags": [
          "ERA"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "CheckDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Filter by check date"
                  },
                  "ReceivedDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Filter by received date"
                  },
                  "ReceivedAfterDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Filter for ERA received after this date"
                  },
                  "CheckNumber": {
                    "type": "string",
                    "description": "Filter by check number"
                  },
                  "CheckAmount": {
                    "type": "number",
                    "description": "Filter by check amount"
                  },
                  "PayerID": {
                    "type": "string",
                    "description": "Filter by payer ID"
                  },
                  "NPI": {
                    "type": "string",
                    "description": "Filter by provider NPI"
                  },
                  "TaxID": {
                    "type": "string",
                    "description": "Filter by tax ID"
                  },
                  "NewOnly": {
                    "type": "boolean",
                    "description": "Return only new/unread ERAs"
                  },
                  "ERAID": {
                    "type": "string",
                    "description": "Filter by specific ERA ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ERAListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/era835": {
      "post": {
        "operationId": "getERA835",
        "summary": "Get ERA in 835 format",
        "description": "Retrieve remittance advice details in 835 EDI format.",
        "tags": [
          "ERA"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey",
                  "ERAID"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "ERAID": {
                    "type": "string",
                    "description": "ERA identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Raw 835 EDI file",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/erapdf": {
      "post": {
        "operationId": "getERAPDF",
        "summary": "Get ERA as PDF",
        "description": "Retrieve remittance advice details formatted as PDF document.",
        "tags": [
          "ERA"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey",
                  "ERAID"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "ERAID": {
                    "type": "string",
                    "description": "ERA identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF document",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/eradata": {
      "post": {
        "operationId": "getERAData",
        "summary": "Get ERA data (XML/JSON)",
        "description": "Retrieve remittance advice details in structured XML/JSON format.",
        "tags": [
          "ERA"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey",
                  "ERAID"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "ERAID": {
                    "type": "string",
                    "description": "ERA identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ERADataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/archive": {
      "post": {
        "operationId": "archiveClaim",
        "summary": "Archive a claim",
        "description": "Archive submitted claims.",
        "tags": [
          "Claims"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey",
                  "ClaimID"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "ClaimID": {
                    "type": "string",
                    "description": "Claim identifier to archive"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/modify": {
      "post": {
        "operationId": "modifyClaim",
        "summary": "Modify a claim",
        "description": "Submit claim modification events.",
        "tags": [
          "Claims"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "ClaimID": {
                    "type": "string",
                    "description": "Claim identifier to modify"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/enroll": {
      "post": {
        "operationId": "enrollProvider",
        "summary": "Submit provider enrollment",
        "description": "Submit provider enrollment requests.",
        "tags": [
          "Enrollment"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/appeal": {
      "post": {
        "operationId": "submitAppeal",
        "summary": "Submit claim appeal",
        "description": "Submit claim appeal requests.",
        "tags": [
          "Claims"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "ClaimID": {
                    "type": "string",
                    "description": "Claim identifier to appeal"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/payerlist": {
      "post": {
        "operationId": "listPayers",
        "summary": "List available payers",
        "description": "Retrieve available payer information.",
        "tags": [
          "Payers"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayerListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/services/notes": {
      "post": {
        "operationId": "getClaimNotes",
        "summary": "Get or submit claim notes",
        "description": "Retrieve or submit claim notes.",
        "tags": [
          "Claims"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountKey"
                ],
                "properties": {
                  "AccountKey": {
                    "type": "string",
                    "description": "API account key for authentication"
                  },
                  "ClaimID": {
                    "type": "string",
                    "description": "Claim identifier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Webhook": {
      "post": {
        "operationId": "receiveWebhook",
        "summary": "Receive webhook notification",
        "description": "Event-based webhook for asynchronous notifications about claim status changes and other events.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "description": "Event type"
                  },
                  "data": {
                    "type": "object",
                    "description": "Event data payload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UploadResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Upload status"
          },
          "fileId": {
            "type": "string",
            "description": "Uploaded file identifier"
          },
          "message": {
            "type": "string",
            "description": "Status message"
          }
        }
      },
      "UploadListResponse": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UploadedFile"
            }
          },
          "page": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "UploadedFile": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "uploadDate": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "ClaimResponseData": {
        "type": "object",
        "properties": {
          "responses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "responseId": {
                  "type": "string"
                },
                "claimId": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "EligibilityResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "eligible": {
            "type": "boolean"
          },
          "details": {
            "type": "object",
            "properties": {
              "planName": {
                "type": "string"
              },
              "memberId": {
                "type": "string"
              },
              "groupNumber": {
                "type": "string"
              },
              "coverageActive": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "ERAListResponse": {
        "type": "object",
        "properties": {
          "eras": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ERAItem"
            }
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "ERAItem": {
        "type": "object",
        "properties": {
          "eraId": {
            "type": "string"
          },
          "checkDate": {
            "type": "string",
            "format": "date"
          },
          "receivedDate": {
            "type": "string",
            "format": "date"
          },
          "checkNumber": {
            "type": "string"
          },
          "checkAmount": {
            "type": "number"
          },
          "payerId": {
            "type": "string"
          }
        }
      },
      "ERADataResponse": {
        "type": "object",
        "properties": {
          "eraId": {
            "type": "string"
          },
          "claims": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "claimId": {
                  "type": "string"
                },
                "paidAmount": {
                  "type": "number"
                },
                "adjustmentAmount": {
                  "type": "number"
                },
                "adjustmentReasonCode": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PayerListResponse": {
        "type": "object",
        "properties": {
          "payers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payer"
            }
          }
        }
      },
      "Payer": {
        "type": "object",
        "properties": {
          "payerId": {
            "type": "string"
          },
          "payerName": {
            "type": "string"
          },
          "supportedTransactions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GenericResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "AccountKey",
        "description": "Account API key found under Settings > Account Settings in the web portal"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Claims"
    },
    {
      "name": "ERA"
    },
    {
      "name": "Eligibility"
    },
    {
      "name": "Enrollment"
    },
    {
      "name": "Payers"
    },
    {
      "name": "Webhooks"
    }
  ]
}
