{
  "openapi": "3.0.3",
  "info": {
    "title": "Flashquotes API",
    "description": "Flashquotes is a quoting and booking platform for event businesses. The API provides access to events, tasks, form responses, and invoices.",
    "version": "1.0.0",
    "contact": {
      "name": "Flashquotes",
      "url": "https://docs.flashquotes.com/api-reference/introduction"
    },
    "x-jentic-source-url": "https://docs.flashquotes.com/api-reference/introduction"
  },
  "servers": [
    {
      "url": "https://app.flashquotes.com",
      "description": "Flashquotes Production API"
    }
  ],
  "paths": {
    "/api/event/getEventData/{event_id}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get event details",
        "description": "Returns detailed information about a specific event.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identifier for the event to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "Event not found"
          }
        }
      }
    },
    "/api/event/get-events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events within date range",
        "description": "Returns events within a specified date range. The date range cannot exceed 7 days.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "event_starts_after",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start date in ISO 8601 format with timezone offset (e.g., 2024-12-19T23:59:00-07:00)"
          },
          {
            "name": "event_starts_before",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End date in ISO 8601 format with timezone offset (e.g., 2024-12-19T23:59:00-07:00)"
          },
          {
            "name": "location_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter results by specific location"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid date format or range exceeds 7 days"
          },
          "401": {
            "description": "Invalid API key"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/task/create": {
      "post": {
        "operationId": "createTask",
        "summary": "Create a task",
        "description": "Create a task for a specific event. Tasks are automatically added to the event's Admin checklist.",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid body or date format"
          },
          "404": {
            "description": "Event not found or inaccessible"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/form-response/{id}": {
      "get": {
        "operationId": "getFormResponse",
        "summary": "Get form response",
        "description": "Returns detailed information about a specific form response.",
        "tags": [
          "Form Responses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of form response to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Form response returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "Form response not found"
          }
        }
      }
    },
    "/api/invoice/{booking_id}": {
      "get": {
        "operationId": "getInvoices",
        "summary": "Get invoices for a booking",
        "description": "Returns all invoices associated with a booking.",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "booking_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The booking identifier for which to retrieve associated invoices"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoices returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key"
          },
          "404": {
            "description": "Booking not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientName": {
            "type": "string"
          },
          "clientEmail": {
            "type": "string"
          },
          "clientPhone": {
            "type": "string"
          },
          "siteContactName": {
            "type": "string",
            "nullable": true
          },
          "siteContactPhone": {
            "type": "string",
            "nullable": true
          },
          "eventDescription": {
            "type": "string",
            "nullable": true
          },
          "eventAddress": {
            "type": "string",
            "nullable": true
          },
          "additionalLocationInfo": {
            "type": "string",
            "nullable": true
          },
          "specialNotes": {
            "type": "string",
            "nullable": true
          },
          "parkingLoadingInfo": {
            "type": "string",
            "nullable": true
          },
          "serviceStartTime": {
            "type": "string",
            "format": "date-time"
          },
          "serviceEndTime": {
            "type": "string",
            "format": "date-time"
          },
          "shiftStartTime": {
            "type": "string",
            "format": "date-time"
          },
          "shiftEndTime": {
            "type": "string",
            "format": "date-time"
          },
          "staffNumber": {
            "type": "integer"
          },
          "resourceNumber": {
            "type": "integer"
          },
          "guestCount": {
            "type": "integer",
            "nullable": true
          },
          "loadingTime": {
            "type": "integer",
            "nullable": true
          },
          "setupTime": {
            "type": "integer",
            "nullable": true
          },
          "breakdownTime": {
            "type": "integer",
            "nullable": true
          },
          "unloadingTime": {
            "type": "integer",
            "nullable": true
          },
          "specialPrepTime": {
            "type": "integer",
            "nullable": true
          },
          "travelToEventTime": {
            "type": "integer",
            "nullable": true
          },
          "travelFromEventTime": {
            "type": "integer",
            "nullable": true
          },
          "staffDressCode": {
            "type": "string",
            "nullable": true
          },
          "multiDay": {
            "type": "boolean"
          },
          "tipJarAllowed": {
            "type": "boolean"
          },
          "outdoors": {
            "type": "boolean"
          },
          "companyId": {
            "type": "string"
          },
          "locationId": {
            "type": "string",
            "nullable": true
          },
          "bookingId": {
            "type": "string",
            "nullable": true
          },
          "eventBriefId": {
            "type": "string",
            "nullable": true
          },
          "eventBriefUrl": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resource"
            }
          },
          "staff": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Staff"
            }
          },
          "addons": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "booking": {
            "$ref": "#/components/schemas/Booking"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Staff": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CreateTaskRequest": {
        "type": "object",
        "required": [
          "eventId",
          "description"
        ],
        "properties": {
          "eventId": {
            "type": "string",
            "description": "The event identifier where the task is assigned"
          },
          "description": {
            "type": "string",
            "description": "Task summary text"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time",
            "description": "Due date in ISO 8601 format (e.g., 2025-10-20T00:00:00Z)",
            "nullable": true
          }
        }
      },
      "CreateTaskResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "task": {
            "$ref": "#/components/schemas/Task"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "eventId": {
            "type": "string"
          },
          "completed": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "FormResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "formId": {
            "type": "string"
          },
          "bookingId": {
            "type": "string",
            "nullable": true
          },
          "quoteId": {
            "type": "string"
          },
          "companyId": {
            "type": "string"
          },
          "formQuestionResponses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormQuestionResponse"
            }
          }
        }
      },
      "FormQuestionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "response": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "question": {
            "$ref": "#/components/schemas/FormQuestion"
          }
        }
      },
      "FormQuestion": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "ADDRESS",
              "TEXT",
              "DATE",
              "PHONE",
              "EMAIL",
              "NUMBER",
              "SELECT"
            ]
          },
          "subtitle": {
            "type": "string",
            "nullable": true
          },
          "position": {
            "type": "integer"
          },
          "systemRequired": {
            "type": "boolean"
          },
          "userRequired": {
            "type": "boolean"
          },
          "linkedSystemField": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "InvoiceResponse": {
        "type": "object",
        "properties": {
          "bookingId": {
            "type": "string"
          },
          "invoiceIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "invoiceUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Manage and retrieve event information"
    },
    {
      "name": "Tasks",
      "description": "Create and manage tasks on events"
    },
    {
      "name": "Form Responses",
      "description": "Access form submission data"
    },
    {
      "name": "Invoices",
      "description": "Retrieve invoice information"
    }
  ]
}