{
    "openapi": "3.0.0",
    "x-generator": "NSwag v12.1.0.0 (NJsonSchema v9.13.28.0 (Newtonsoft.Json v12.0.0.0))",
    "info": {
        "title": "Divvy Standard API",
        "description": "",
        "version": "v1",
        "x-jentic-source-url": "https://api.swaggerhub.com/apis/apa/api.divvy.systems/v1/swagger.json"
    },
    "paths": {
        "/v1.0/order": {
            "post": {
                "tags": [
                    "Order"
                ],
                "operationId": "Order_Order",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrderModel"
                            }
                        }
                    },
                    "required": true,
                    "x-nullable": true
                },
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "x-nullable": true,
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuthHeader": []
                    }
                ]
            }
        },
        "/v1.0/order/{orderKey1}": {
            "delete": {
                "tags": [
                    "Order"
                ],
                "operationId": "Order_CancelOrder",
                "parameters": [
                    {
                        "name": "orderKey1",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuthHeader": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Order"
                ],
                "operationId": "Order_ChangeShippingAddress10",
                "parameters": [
                    {
                        "name": "orderKey1",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/ShippingAddressModel"
                },
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuthHeader": []
                    }
                ]
            }
        },
        "/v1.1/order/shippingaddress/{orderKey1}": {
            "put": {
                "tags": [
                    "Order"
                ],
                "operationId": "Order_ChangeShippingAddress11",
                "parameters": [
                    {
                        "name": "orderKey1",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/ShippingAddressModel"
                },
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuthHeader": []
                    }
                ]
            }
        },
        "/v1.1/order/shippingmethod/{orderKey1}": {
            "put": {
                "tags": [
                    "Order"
                ],
                "operationId": "Order_ChangeShippingMethod",
                "parameters": [
                    {
                        "name": "orderKey1",
                        "in": "path",
                        "required": true,
                        "x-nullable": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ShippingMethodModel"
                            }
                        }
                    },
                    "required": true,
                    "x-nullable": true
                },
                "responses": {
                    "200": {
                        "x-nullable": true,
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuthHeader": []
                    }
                ]
            }
        }
    },
    "servers": [
        {
            "url": "http://api.divvy.systems"
        }
    ],
    "components": {
        "requestBodies": {
            "ShippingAddressModel": {
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/ShippingAddressModel"
                        }
                    }
                },
                "required": true,
                "x-nullable": true
            }
        },
        "securitySchemes": {
            "ApiKeyAuthHeader": {
                "type": "apiKey",
                "description": "Partner API key provided by Alexanders. Used in header to authorize.",
                "name": "X-API-KEY",
                "in": "header"
            }
        },
        "schemas": {
            "ErrorResponseModel": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "message"
                ],
                "properties": {
                    "message": {
                        "type": "string",
                        "maxLength": 50,
                        "minLength": 0
                    }
                }
            },
            "OrderModel": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "orderKey1",
                    "shipping"
                ],
                "properties": {
                    "orderKey1": {
                        "type": "string",
                        "maxLength": 500,
                        "minLength": 0
                    },
                    "orderKey2": {
                        "type": "string",
                        "maxLength": 50,
                        "minLength": 0
                    },
                    "standardPrintItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardPrintItemModel"
                        }
                    },
                    "photobookItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PhotobookItemModel"
                        }
                    },
                    "notebookItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/NotebookItemModel"
                        }
                    },
                    "inventoryItems": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/InventoryItemModel"
                        }
                    },
                    "shipping": {
                        "$ref": "#/components/schemas/ShippingModel"
                    },
                    "rushOrder": {
                        "type": "boolean"
                    },
                    "nonBillableReprint": {
                        "type": "boolean"
                    }
                }
            },
            "StandardPrintItemModel": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ItemModel"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                            "fileUrl",
                            "duplex"
                        ],
                        "properties": {
                            "fileUrl": {
                                "type": "string",
                                "minLength": 1
                            },
                            "foilUrl": {
                                "type": "string"
                            },
                            "foilColor": {
                                "$ref": "#/components/schemas/FoilColors"
                            },
                            "width": {
                                "type": "number",
                                "format": "double"
                            },
                            "height": {
                                "type": "number",
                                "format": "double"
                            },
                            "media": {
                                "type": "string"
                            },
                            "folds": {
                                "type": "string"
                            },
                            "variable": {
                                "type": "boolean"
                            },
                            "duplex": {
                                "type": "boolean"
                            }
                        }
                    }
                ]
            },
            "FoilColors": {
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "GOLD",
                    "ROSEGOLD",
                    "SILVER"
                ],
                "enum": [
                    "GOLD",
                    "ROSEGOLD",
                    "SILVER"
                ]
            },
            "ItemModel": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "sku",
                    "quantity"
                ],
                "properties": {
                    "itemKey": {
                        "type": "string",
                        "maxLength": 50,
                        "minLength": 0
                    },
                    "description": {
                        "type": "string",
                        "maxLength": 255,
                        "minLength": 0
                    },
                    "sku": {
                        "type": "string",
                        "minLength": 1
                    },
                    "quantity": {
                        "type": "integer",
                        "format": "int32",
                        "maximum": 2147483647,
                        "minimum": 1
                    }
                }
            },
            "PhotobookItemModel": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ItemModel"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                            "coverUrl",
                            "gutsUrl"
                        ],
                        "properties": {
                            "coverUrl": {
                                "type": "string",
                                "minLength": 1
                            },
                            "gutsUrl": {
                                "type": "string",
                                "minLength": 1
                            },
                            "foilUrl": {
                                "type": "string"
                            }
                        }
                    }
                ]
            },
            "NotebookItemModel": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ItemModel"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                            "coverUrl",
                            "pageStyle"
                        ],
                        "properties": {
                            "coverUrl": {
                                "type": "string",
                                "minLength": 1
                            },
                            "foilUrl": {
                                "type": "string"
                            },
                            "foilColor": {
                                "$ref": "#/components/schemas/FoilColors"
                            },
                            "pageStyle": {
                                "minLength": 1,
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/PageStyles"
                                    }
                                ]
                            },
                            "finish": {
                                "$ref": "#/components/schemas/Finishes"
                            },
                            "pageCount": {
                                "type": "integer",
                                "format": "int32",
                                "maximum": 2147483647,
                                "minimum": 1
                            }
                        }
                    }
                ]
            },
            "PageStyles": {
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "WHITE",
                    "KRAFT",
                    "BLACK",
                    "LINED"
                ],
                "enum": [
                    "WHITE",
                    "KRAFT",
                    "BLACK",
                    "LINED"
                ]
            },
            "Finishes": {
                "type": "string",
                "description": "",
                "x-enumNames": [
                    "MATTE",
                    "VELVET",
                    "GLOSS"
                ],
                "enum": [
                    "MATTE",
                    "VELVET",
                    "GLOSS"
                ]
            },
            "InventoryItemModel": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ItemModel"
                    },
                    {
                        "type": "object",
                        "additionalProperties": false
                    }
                ]
            },
            "ShippingModel": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "shipMethod",
                    "address"
                ],
                "properties": {
                    "shipMethod": {
                        "type": "string"
                    },
                    "address": {
                        "$ref": "#/components/schemas/ShippingAddressModel"
                    }
                }
            },
            "ShippingAddressModel": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "name",
                    "address1",
                    "address2",
                    "city",
                    "state",
                    "postalCode",
                    "countryCode",
                    "phoneNumber"
                ],
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 100,
                        "minLength": 0
                    },
                    "address1": {
                        "type": "string",
                        "maxLength": 100,
                        "minLength": 0
                    },
                    "address2": {
                        "type": "string",
                        "maxLength": 100,
                        "minLength": 0
                    },
                    "city": {
                        "type": "string",
                        "maxLength": 50,
                        "minLength": 0
                    },
                    "state": {
                        "type": "string",
                        "maxLength": 50,
                        "minLength": 0
                    },
                    "postalCode": {
                        "type": "string",
                        "maxLength": 50,
                        "minLength": 0
                    },
                    "countryCode": {
                        "type": "string",
                        "maxLength": 50,
                        "minLength": 0
                    },
                    "phoneNumber": {
                        "type": "string",
                        "maxLength": 50,
                        "minLength": 0
                    }
                }
            },
            "ShippingMethodModel": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                    "shipMethod"
                ],
                "properties": {
                    "shipMethod": {
                        "type": "string"
                    }
                }
            }
        }
    }
}