{
  "x-generator": "NSwag v12.1.0.0 (NJsonSchema v9.13.28.0 (Newtonsoft.Json v12.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Divvy Standard API",
    "description": "Divvy Standard API",
    "termsOfService": "",
    "version": "v1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/apa/api.divvy.systems/v1/swagger.json",
    "contact": {}
  },
  "host": "api.divvy.systems",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1.0/order": {
      "post": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_Order",
        "parameters": [
          {
            "name": "orderModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderModel"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            }
          }
        },
        "security": [
          {
            "ApiKeyAuthHeader": []
          }
        ],
        "description": "Order order"
      }
    },
    "/v1.0/order/{orderKey1}": {
      "delete": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_CancelOrder",
        "parameters": [
          {
            "type": "string",
            "name": "orderKey1",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "ApiKeyAuthHeader": []
          }
        ],
        "description": "Order cancelorder"
      },
      "put": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_ChangeShippingAddress10",
        "parameters": [
          {
            "type": "string",
            "name": "orderKey1",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShippingAddressModel"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "ApiKeyAuthHeader": []
          }
        ],
        "description": "Order changeshippingaddress10"
      }
    },
    "/v1.1/order/shippingaddress/{orderKey1}": {
      "put": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_ChangeShippingAddress11",
        "parameters": [
          {
            "type": "string",
            "name": "orderKey1",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShippingAddressModel"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "ApiKeyAuthHeader": []
          }
        ],
        "description": "Order changeshippingaddress11"
      }
    },
    "/v1.1/order/shippingmethod/{orderKey1}": {
      "put": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_ChangeShippingMethod",
        "parameters": [
          {
            "type": "string",
            "name": "orderKey1",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShippingMethodModel"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        },
        "security": [
          {
            "ApiKeyAuthHeader": []
          }
        ],
        "description": "Order changeshippingmethod"
      }
    }
  },
  "definitions": {
    "ErrorResponseModel": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "message"
      ],
      "properties": {
        "message": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0
        }
      }
    },
    "OrderModel": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "orderKey1",
        "shipping"
      ],
      "properties": {
        "orderKey1": {
          "type": "string",
          "maxLength": 500,
          "minLength": 0
        },
        "orderKey2": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0
        },
        "standardPrintItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StandardPrintItemModel"
          }
        },
        "photobookItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PhotobookItemModel"
          }
        },
        "notebookItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotebookItemModel"
          }
        },
        "inventoryItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InventoryItemModel"
          }
        },
        "shipping": {
          "$ref": "#/definitions/ShippingModel"
        },
        "rushOrder": {
          "type": "boolean"
        },
        "nonBillableReprint": {
          "type": "boolean"
        }
      }
    },
    "StandardPrintItemModel": {
      "allOf": [
        {
          "$ref": "#/definitions/ItemModel"
        },
        {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "fileUrl",
            "duplex"
          ],
          "properties": {
            "fileUrl": {
              "type": "string",
              "minLength": 1
            },
            "foilUrl": {
              "type": "string"
            },
            "foilColor": {
              "$ref": "#/definitions/FoilColors"
            },
            "width": {
              "type": "number",
              "format": "double"
            },
            "height": {
              "type": "number",
              "format": "double"
            },
            "media": {
              "type": "string"
            },
            "folds": {
              "type": "string"
            },
            "variable": {
              "type": "boolean"
            },
            "duplex": {
              "type": "boolean"
            }
          }
        }
      ]
    },
    "FoilColors": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "GOLD",
        "ROSEGOLD",
        "SILVER"
      ],
      "enum": [
        "GOLD",
        "ROSEGOLD",
        "SILVER"
      ]
    },
    "ItemModel": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "sku",
        "quantity"
      ],
      "properties": {
        "itemKey": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0
        },
        "description": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "sku": {
          "type": "string",
          "minLength": 1
        },
        "quantity": {
          "type": "integer",
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 1
        }
      }
    },
    "PhotobookItemModel": {
      "allOf": [
        {
          "$ref": "#/definitions/ItemModel"
        },
        {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "coverUrl",
            "gutsUrl"
          ],
          "properties": {
            "coverUrl": {
              "type": "string",
              "minLength": 1
            },
            "gutsUrl": {
              "type": "string",
              "minLength": 1
            },
            "foilUrl": {
              "type": "string"
            }
          }
        }
      ]
    },
    "NotebookItemModel": {
      "allOf": [
        {
          "$ref": "#/definitions/ItemModel"
        },
        {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "coverUrl",
            "pageStyle"
          ],
          "properties": {
            "coverUrl": {
              "type": "string",
              "minLength": 1
            },
            "foilUrl": {
              "type": "string"
            },
            "foilColor": {
              "$ref": "#/definitions/FoilColors"
            },
            "pageStyle": {
              "minLength": 1,
              "allOf": [
                {
                  "$ref": "#/definitions/PageStyles"
                }
              ]
            },
            "finish": {
              "$ref": "#/definitions/Finishes"
            },
            "pageCount": {
              "type": "integer",
              "format": "int32",
              "maximum": 2147483647,
              "minimum": 1
            }
          }
        }
      ]
    },
    "PageStyles": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "WHITE",
        "KRAFT",
        "BLACK",
        "LINED"
      ],
      "enum": [
        "WHITE",
        "KRAFT",
        "BLACK",
        "LINED"
      ]
    },
    "Finishes": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "MATTE",
        "VELVET",
        "GLOSS"
      ],
      "enum": [
        "MATTE",
        "VELVET",
        "GLOSS"
      ]
    },
    "InventoryItemModel": {
      "allOf": [
        {
          "$ref": "#/definitions/ItemModel"
        },
        {
          "type": "object",
          "additionalProperties": false
        }
      ]
    },
    "ShippingModel": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "shipMethod",
        "address"
      ],
      "properties": {
        "shipMethod": {
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/ShippingAddressModel"
        }
      }
    },
    "ShippingAddressModel": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "name",
        "address1",
        "address2",
        "city",
        "state",
        "postalCode",
        "countryCode",
        "phoneNumber"
      ],
      "properties": {
        "name": {
          "type": "string",
          "maxLength": 100,
          "minLength": 0
        },
        "address1": {
          "type": "string",
          "maxLength": 100,
          "minLength": 0
        },
        "address2": {
          "type": "string",
          "maxLength": 100,
          "minLength": 0
        },
        "city": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0
        },
        "state": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0
        },
        "postalCode": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0
        },
        "countryCode": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0
        },
        "phoneNumber": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0
        }
      }
    },
    "ShippingMethodModel": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "shipMethod"
      ],
      "properties": {
        "shipMethod": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "ApiKeyAuthHeader": {
      "type": "apiKey",
      "description": "Partner API key provided by Alexanders. Used in header to authorize.",
      "name": "X-API-KEY",
      "in": "header"
    }
  },
  "tags": [
    {
      "name": "Order"
    }
  ]
}
