{
  "openapi": "3.0.3",
  "info": {
    "title": "Contextual AI API",
    "description": "Contextual AI is a platform for enterprises to build production-grade Retrieval-Augmented Generation (RAG) agents — secure, scalable, accurate.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.contextual.ai/api-reference"
  },
  "servers": [
    {
      "url": "https://api.contextual.ai/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "List Agents",
        "description": "Retrieve a list of all Agents.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of agents to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor from the previous call to list agents, used to retrieve the next set of results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of agents.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAgentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAgent",
        "summary": "Create Agent",
        "description": "Create a new RAG agent.",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentEntry"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/datastores": {
      "get": {
        "operationId": "listDatastores",
        "summary": "List Datastores",
        "description": "Retrieve a list of Datastores with cursor-based pagination.",
        "tags": [
          "Datastores"
        ],
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "description": "Filter datastores linked to a specific agent.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of datastores to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor from a previous call for pagination.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of datastores.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatastoreOutputList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API Key authentication using Bearer token."
      }
    },
    "schemas": {
      "AgentEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the agent."
          },
          "name": {
            "type": "string",
            "description": "Name of the agent."
          },
          "description": {
            "type": "string",
            "description": "Description of the agent."
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "ListAgentsResponse": {
        "type": "object",
        "properties": {
          "agents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentEntry"
            },
            "description": "List of agents."
          },
          "next_cursor": {
            "type": "string",
            "description": "Cursor for retrieving the next page of results."
          }
        },
        "required": [
          "agents"
        ]
      },
      "CreateAgentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name for the new agent."
          },
          "description": {
            "type": "string",
            "description": "Description for the agent."
          }
        },
        "required": [
          "name"
        ]
      },
      "DatastoreOutputEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the datastore."
          },
          "name": {
            "type": "string",
            "description": "Name of the datastore."
          },
          "datastore_type": {
            "type": "string",
            "description": "Type of the datastore."
          },
          "configuration": {
            "type": "object",
            "description": "Datastore configuration."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of datastore creation."
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "DatastoreOutputList": {
        "type": "object",
        "properties": {
          "datastores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatastoreOutputEntry"
            },
            "description": "List of datastores."
          },
          "next_cursor": {
            "type": "string",
            "description": "Cursor for the next page."
          }
        },
        "required": [
          "datastores"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message."
          }
        }
      },
      "HTTPValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "msg": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "loc",
          "msg",
          "type"
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Agents",
      "description": "Manage RAG agents"
    },
    {
      "name": "Datastores",
      "description": "Manage datastores for agent data"
    }
  ]
}