{
  "openapi": "3.0.0",
  "info": {
    "contact": {},
    "description": "InsiderCX ARC API",
    "title": "InsiderCX ARC API",
    "version": "1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/ACCOUNTS_20/ARC/1.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://apis.insidercx.com/api"
    }
  ],
  "paths": {
    "/data/ARC": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/where"
          },
          {
            "$ref": "#/components/parameters/loadRelations"
          },
          {
            "$ref": "#/components/parameters/relationsDepth"
          },
          {
            "$ref": "#/components/parameters/loadARCProperties"
          },
          {
            "$ref": "#/components/parameters/sortARCProperties"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/StoredARC"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of ARC objects"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "ARC"
        ],
        "description": "Load ARC objects",
        "operationId": "get-data-arc",
        "summary": "Load ARC objects"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoredARC"
                }
              }
            },
            "description": "A ARC object"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "ARC"
        ],
        "description": "Create ARC object",
        "operationId": "post-data-arc",
        "requestBody": {
          "$ref": "#/components/requestBodies/NewARC"
        },
        "summary": "Create ARC object"
      }
    },
    "/data/ARC/{objectId}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/objectId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "ARC"
        ],
        "description": "Delete ARC Object",
        "operationId": "delete-data-arc-by-objectid",
        "summary": "Delete ARC Object"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/objectId"
          },
          {
            "$ref": "#/components/parameters/loadRelations"
          },
          {
            "$ref": "#/components/parameters/relationsDepth"
          },
          {
            "$ref": "#/components/parameters/loadARCProperties"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoredARC"
                }
              }
            },
            "description": "A ARC object"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "ARC"
        ],
        "description": "Find ARC object by ID",
        "operationId": "get-data-arc-by-objectid",
        "summary": "Find ARC object by ID"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/objectId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoredARC"
                }
              }
            },
            "description": "Updated ARC object"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "ARC"
        ],
        "description": "Update ARC object",
        "operationId": "put-data-arc-by-objectid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewARC"
              }
            }
          },
          "required": true
        },
        "summary": "Update ARC object"
      }
    },
    "/data/bulk/ARC": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/StoredARC"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of created ARC objects"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "ARC"
        ],
        "description": "Bulk Create ARC objects",
        "operationId": "post-data-bulk-arc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/NewARC"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "summary": "Bulk Create ARC objects"
      }
    },
    "/users/login": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "accountType": {
                      "type": "string"
                    },
                    "blUserLocale": {
                      "type": "string"
                    },
                    "created": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "lastLogin": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "oAuthIdentities": {
                      "type": "string"
                    },
                    "objectId": {
                      "type": "string"
                    },
                    "ownerId": {
                      "type": "string"
                    },
                    "socialAccount": {
                      "type": "string"
                    },
                    "updated": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "user-token": {
                      "type": "string"
                    },
                    "userStatus": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsiderCXAPIError"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "UserService"
        ],
        "description": "User Login",
        "operationId": "post-users-login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "login": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "User Login"
      }
    }
  },
  "components": {
    "parameters": {
      "loadARCProperties": {
        "description": "Object Properties",
        "in": "query",
        "name": "props",
        "required": false,
        "schema": {
          "items": {
            "enum": [
              "age",
              "doctor",
              "first_name",
              "gender",
              "updated",
              "last_name",
              "location",
              "patient_id",
              "created",
              "phone",
              "procedure",
              "treatment",
              "visit_date",
              "ownerId",
              "objectId"
            ],
            "type": "string"
          },
          "type": "array",
          "uniqueItems": true
        }
      },
      "loadRelations": {
        "description": "Load Relations",
        "in": "query",
        "name": "loadRelations",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "objectId": {
        "description": "Object Id",
        "in": "path",
        "name": "objectId",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "offset": {
        "description": "Page Offset",
        "in": "query",
        "name": "offset",
        "required": false,
        "schema": {
          "minimum": 0,
          "type": "integer"
        }
      },
      "pageSize": {
        "description": "Page Size",
        "in": "query",
        "name": "pageSize",
        "required": false,
        "schema": {
          "minimum": 1,
          "type": "integer"
        }
      },
      "relationName": {
        "description": "Relation name",
        "in": "path",
        "name": "relationName",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "relationsDepth": {
        "description": "Relations Depth",
        "in": "query",
        "name": "relationsDepth",
        "required": false,
        "schema": {
          "type": "integer"
        }
      },
      "sortARCProperties": {
        "description": "Sorting Properties",
        "in": "query",
        "name": "sortBy",
        "required": false,
        "schema": {
          "items": {
            "enum": [
              "age asc",
              "age desc",
              "doctor asc",
              "doctor desc",
              "first_name asc",
              "first_name desc",
              "gender asc",
              "gender desc",
              "updated asc",
              "updated desc",
              "last_name asc",
              "last_name desc",
              "location asc",
              "location desc",
              "patient_id asc",
              "patient_id desc",
              "created asc",
              "created desc",
              "phone asc",
              "phone desc",
              "procedure asc",
              "procedure desc",
              "treatment asc",
              "treatment desc",
              "visit_date asc",
              "visit_date desc",
              "ownerId asc",
              "ownerId desc",
              "objectId asc",
              "objectId desc"
            ],
            "type": "string"
          },
          "type": "array",
          "uniqueItems": true
        }
      },
      "tableName": {
        "description": "Table name",
        "in": "path",
        "name": "tableName",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "where": {
        "description": "Where Clause",
        "in": "query",
        "name": "where",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "NewARC": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NewARC"
            }
          }
        },
        "required": true
      }
    },
    "schemas": {
      "InsiderCXAPIError": {
        "description": "InsiderCXAPI Error",
        "properties": {
          "code": {
            "type": "number"
          },
          "message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "NewARC": {
        "description": "This is a schema of non stored ARC object",
        "properties": {
          "age": {
            "type": "string"
          },
          "doctor": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "patient_id": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "procedure": {
            "type": "string"
          },
          "treatment": {
            "type": "string"
          },
          "visit_date": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "StoredARC": {
        "description": "This is a schema of stored ARC object",
        "properties": {
          "age": {
            "type": "string"
          },
          "created": {
            "format": "date-time",
            "type": "string"
          },
          "doctor": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "objectId": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "patient_id": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "procedure": {
            "type": "string"
          },
          "treatment": {
            "type": "string"
          },
          "updated": {
            "format": "date-time",
            "type": "string"
          },
          "visit_date": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "userTokenHeader": {
        "in": "header",
        "name": "user-token",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "userTokenHeader": []
    }
  ],
  "tags": [
    {
      "name": "ARC"
    },
    {
      "name": "UserService"
    }
  ]
}