{
  "openapi": "3.0.3",
  "info": {
    "title": "QRIS Indonesian Payment API",
    "version": "1.0.0",
    "description": "QRIS provides Indonesian QR code-based payment processing. The API allows creating and checking invoice statuses for QR payments.",
    "x-jentic-source-url": "https://qris.id/api-doc/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://qris.interactive.co.id/restapi/qris"
    }
  ],
  "paths": {
    "/show_qris.php": {
      "post": {
        "operationId": "createInvoice",
        "summary": "Create QRIS invoice",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "do": {
                    "type": "string",
                    "enum": [
                      "create-invoice"
                    ]
                  },
                  "apikey": {
                    "type": "string"
                  },
                  "mID": {
                    "type": "string"
                  },
                  "cliTrxNumber": {
                    "type": "string"
                  },
                  "cliTrxAmount": {
                    "type": "number"
                  }
                },
                "required": [
                  "do",
                  "apikey",
                  "mID",
                  "cliTrxNumber",
                  "cliTrxAmount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create QRIS invoice"
      }
    },
    "/checkpaid_qris.php": {
      "post": {
        "operationId": "checkInvoiceStatus",
        "summary": "Check invoice payment status",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "do": {
                    "type": "string",
                    "enum": [
                      "checkStatus"
                    ]
                  },
                  "apikey": {
                    "type": "string"
                  },
                  "mID": {
                    "type": "string"
                  },
                  "invid": {
                    "type": "string"
                  },
                  "trxvalue": {
                    "type": "string"
                  },
                  "trxdate": {
                    "type": "string",
                    "format": "date"
                  }
                },
                "required": [
                  "do",
                  "apikey",
                  "mID",
                  "invid",
                  "trxvalue",
                  "trxdate"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Check invoice payment status"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Invoices"
    }
  ]
}
