{
  "openapi": "3.0.3",
  "info": {
    "title": "CRUSH API",
    "description": "CRUSH is an AI-powered second brain helping you collect thoughts, organize them, and take action. This API provides endpoints for managing notes, note flags, and Zapier webhook integrations.",
    "version": "1.0.0",
    "x-jentic-source-url": "http://app.crushthememory.com/knowledge/api"
  },
  "servers": [
    {
      "url": "https://app.crushthememory.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/aws/notes": {
      "post": {
        "tags": [
          "Notes"
        ],
        "summary": "Create a note",
        "description": "Creates a new note with associated note data and flag data.",
        "operationId": "createNote",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/aws/noteflags": {
      "get": {
        "tags": [
          "Notes"
        ],
        "summary": "Retrieve note flags",
        "description": "Retrieves note flags for the authenticated user with optional filtering.",
        "operationId": "listNoteFlags",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of flags to return.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "mask",
            "in": "query",
            "description": "Comma-separated fields filter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Note flags retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteFlag"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/create": {
      "post": {
        "tags": [
          "Zapier"
        ],
        "summary": "Create a note via Zapier",
        "description": "Creates a new note through the Zapier integration with a transcript value.",
        "operationId": "createNoteViaZapier",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZapierCreateNoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/subscribe": {
      "post": {
        "tags": [
          "Zapier"
        ],
        "summary": "Subscribe to webhook",
        "description": "Registers a Zapier webhook URL to receive notifications.",
        "operationId": "subscribeWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscribed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookSubscription"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Zapier"
        ],
        "summary": "Unsubscribe webhook",
        "description": "Removes a previously registered webhook subscription.",
        "operationId": "unsubscribeWebhook",
        "parameters": [
          {
            "name": "hookId",
            "in": "query",
            "description": "Webhook ID to remove.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook unsubscribed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsubscribeWebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/zapier/trigger": {
      "post": {
        "tags": [
          "Zapier"
        ],
        "summary": "Send webhook trigger",
        "description": "Sends a webhook trigger with note data to a target URL.",
        "operationId": "triggerWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook triggered successfully."
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error while triggering webhook."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateNoteRequest": {
        "type": "object",
        "properties": {
          "noteData": {
            "type": "object",
            "description": "Note data object.",
            "additionalProperties": true
          },
          "noteFlagData": {
            "type": "object",
            "description": "Note flag data object.",
            "additionalProperties": true
          }
        }
      },
      "CreateNoteResponse": {
        "type": "object",
        "properties": {
          "noteId": {
            "type": "string",
            "description": "ID of the created note."
          }
        }
      },
      "NoteFlag": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "User ID of the note owner."
          },
          "noteId": {
            "type": "string",
            "description": "ID of the associated note."
          },
          "noteTranscript": {
            "type": "string",
            "description": "Transcript content of the note."
          }
        }
      },
      "ZapierCreateNoteRequest": {
        "type": "object",
        "required": [
          "transcript"
        ],
        "properties": {
          "transcript": {
            "type": "string",
            "description": "Note transcript value."
          }
        }
      },
      "SubscribeWebhookRequest": {
        "type": "object",
        "required": [
          "targetUrl",
          "name"
        ],
        "properties": {
          "targetUrl": {
            "type": "string",
            "description": "Zapier webhook URL to receive notifications.",
            "format": "uri"
          },
          "name": {
            "type": "string",
            "description": "Integration name."
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook subscription ID."
          },
          "targetUrl": {
            "type": "string",
            "description": "Target webhook URL.",
            "format": "uri"
          },
          "name": {
            "type": "string",
            "description": "Integration name."
          }
        }
      },
      "UnsubscribeWebhookResponse": {
        "type": "object",
        "properties": {
          "removedWebhook": {
            "type": "string",
            "description": "ID of the removed webhook."
          },
          "userId": {
            "type": "string",
            "description": "User ID."
          }
        }
      },
      "TriggerWebhookRequest": {
        "type": "object",
        "required": [
          "targetUrl",
          "notes"
        ],
        "properties": {
          "targetUrl": {
            "type": "string",
            "description": "Destination URL for the webhook trigger.",
            "format": "uri"
          },
          "notes": {
            "type": "array",
            "description": "Array of notes to send.",
            "items": {
              "$ref": "#/components/schemas/TriggerNote"
            }
          }
        }
      },
      "TriggerNote": {
        "type": "object",
        "properties": {
          "noteTranscript": {
            "type": "string",
            "description": "Note transcript content."
          },
          "noteCreatedOn": {
            "type": "string",
            "format": "date-time",
            "description": "Note creation timestamp."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error description."
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token authentication."
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Notes",
      "description": "Note creation and retrieval operations"
    },
    {
      "name": "Zapier",
      "description": "Zapier integration endpoints for webhook management and note creation"
    }
  ]
}