{
  "openapi": "3.0.3",
  "info": {
    "title": "Inoreader",
    "version": "0.0.1",
    "description": "Inoreader API for managing RSS feeds, reading articles, and organizing content. Based on the Google Reader API conventions.",
    "x-jentic-source-url": "https://www.inoreader.com/developers/"
  },
  "servers": [
    {
      "url": "https://www.inoreader.com/reader/api/0"
    }
  ],
  "paths": {
    "/stream/contents/{streamId}": {
      "get": {
        "operationId": "getStreamContents",
        "summary": "Get stream contents",
        "description": "Retrieve the contents (articles) of a stream, which can be a feed, folder, tag, or special stream.",
        "tags": [
          "Streams"
        ],
        "parameters": [
          {
            "name": "streamId",
            "in": "path",
            "required": true,
            "description": "Stream identifier (e.g., feed/http://example.com/feed.xml or user/-/state/com.google/reading-list)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n",
            "in": "query",
            "description": "Number of items to return (default 20, max 100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Order: default newest first, 'o' for oldest first",
            "schema": {
              "type": "string",
              "enum": [
                "o"
              ]
            }
          },
          {
            "name": "ot",
            "in": "query",
            "description": "Unix timestamp - starting point for fetching items",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "xt",
            "in": "query",
            "description": "Exclude target stream ID (e.g., user/-/state/com.google/read)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "it",
            "in": "query",
            "description": "Include target stream ID (e.g., user/-/state/com.google/starred)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "c",
            "in": "query",
            "description": "Continuation token for pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "includeAllDirectStreamIds",
            "in": "query",
            "description": "Include auto-generated tags",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "annotations",
            "in": "query",
            "description": "Include article annotations",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamContents"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/stream/items/ids": {
      "get": {
        "operationId": "getStreamItemIds",
        "summary": "Get stream item IDs",
        "description": "Retrieve article IDs from a stream without full content.",
        "tags": [
          "Streams"
        ],
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "description": "Stream ID identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "n",
            "in": "query",
            "description": "Number of items to return (default 20, max 1000)",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 1000
            }
          },
          {
            "name": "r",
            "in": "query",
            "description": "Order: default newest first, 'o' for oldest first",
            "schema": {
              "type": "string",
              "enum": [
                "o"
              ]
            }
          },
          {
            "name": "ot",
            "in": "query",
            "description": "Unix timestamp start time",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "xt",
            "in": "query",
            "description": "Exclude target",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "it",
            "in": "query",
            "description": "Include target",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "c",
            "in": "query",
            "description": "Continuation token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "json"
              ]
            }
          },
          {
            "name": "includeAllDirectStreamIds",
            "in": "query",
            "description": "Include folder tags",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StreamItemIds"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/unread-count": {
      "get": {
        "operationId": "getUnreadCount",
        "summary": "Get unread counts",
        "description": "Get unread article counts for all feeds, folders, and tags.",
        "tags": [
          "Reading"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnreadCountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/subscription/list": {
      "get": {
        "operationId": "listSubscriptions",
        "summary": "List feed subscriptions",
        "description": "Get current feeds for the authenticated user.",
        "tags": [
          "Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/subscription/quickadd": {
      "post": {
        "operationId": "addSubscription",
        "summary": "Add a feed subscription",
        "description": "Subscribe to a new feed.",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "quickadd"
                ],
                "properties": {
                  "quickadd": {
                    "type": "string",
                    "description": "Feed identifier, formatted as feed/http://[feed-url]"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickAddResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/subscription/edit": {
      "post": {
        "operationId": "editSubscription",
        "summary": "Edit a feed subscription",
        "description": "Edit feed title, add/remove from folders, follow/unfollow.",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "ac",
                  "s"
                ],
                "properties": {
                  "ac": {
                    "type": "string",
                    "description": "Action: edit, follow, or unfollow",
                    "enum": [
                      "edit",
                      "follow",
                      "unfollow"
                    ]
                  },
                  "s": {
                    "type": "string",
                    "description": "Stream ID (e.g., feed/http://feeds.example.com/feed)"
                  },
                  "t": {
                    "type": "string",
                    "description": "New feed title (omit to keep existing)"
                  },
                  "a": {
                    "type": "string",
                    "description": "Folder to add feed to (e.g., user/-/label/Tech)"
                  },
                  "r": {
                    "type": "string",
                    "description": "Folder to remove feed from"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/tag/list": {
      "get": {
        "operationId": "listTags",
        "summary": "List folders and tags",
        "description": "Retrieve all folders, tags, and active searches.",
        "tags": [
          "Tags"
        ],
        "parameters": [
          {
            "name": "types",
            "in": "query",
            "description": "Set to 1 to include item classification (tag, folder, active_search)",
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            }
          },
          {
            "name": "counts",
            "in": "query",
            "description": "Set to 1 to include unread counts",
            "schema": {
              "type": "integer",
              "enum": [
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/edit-tag": {
      "post": {
        "operationId": "editTag",
        "summary": "Add or remove tags from items",
        "description": "Tag or untag articles with system tags (read, starred, like) or custom labels.",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "i"
                ],
                "properties": {
                  "a": {
                    "type": "string",
                    "description": "Tag to add (e.g., user/-/state/com.google/starred or user/-/label/MyTag)"
                  },
                  "r": {
                    "type": "string",
                    "description": "Tag to remove"
                  },
                  "i": {
                    "type": "string",
                    "description": "Item ID or array of item IDs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/rename-tag": {
      "post": {
        "operationId": "renameTag",
        "summary": "Rename a tag or folder",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "s",
                  "dest"
                ],
                "properties": {
                  "s": {
                    "type": "string",
                    "description": "Source tag name (e.g., user/-/label/Tech)"
                  },
                  "dest": {
                    "type": "string",
                    "description": "New name (cannot contain forward slashes)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/disable-tag": {
      "post": {
        "operationId": "deleteTag",
        "summary": "Delete a tag or folder",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "s"
                ],
                "properties": {
                  "s": {
                    "type": "string",
                    "description": "Full tag name (e.g., user/-/label/Tech)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/mark-all-as-read": {
      "post": {
        "operationId": "markAllAsRead",
        "summary": "Mark all items as read",
        "description": "Mark all articles in a stream as read.",
        "tags": [
          "Reading"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "ts",
                  "s"
                ],
                "properties": {
                  "ts": {
                    "type": "string",
                    "description": "Unix timestamp in seconds or microseconds"
                  },
                  "s": {
                    "type": "string",
                    "description": "Stream ID to mark as read"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StreamContents": {
        "type": "object",
        "properties": {
          "direction": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "continuation": {
            "type": "string",
            "description": "Continuation token for next page"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Article"
            }
          }
        }
      },
      "Article": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "published": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "updated": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "author": {
            "type": "string"
          },
          "summary": {
            "type": "object",
            "properties": {
              "content": {
                "type": "string",
                "description": "HTML content"
              }
            }
          },
          "canonical": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "href": {
                  "type": "string"
                }
              }
            }
          },
          "origin": {
            "type": "object",
            "properties": {
              "streamId": {
                "type": "string"
              }
            }
          }
        }
      },
      "StreamItemIds": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "itemRefs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "directStreamIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "timestampUsec": {
                  "type": "string"
                }
              }
            }
          },
          "continuation": {
            "type": "string"
          }
        }
      },
      "UnreadCountResponse": {
        "type": "object",
        "properties": {
          "max": {
            "type": "string",
            "description": "Maximum counter value"
          },
          "unreadcounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Stream ID"
                },
                "count": {
                  "type": "integer"
                },
                "newestItemTimestampUsec": {
                  "type": "string",
                  "description": "Timestamp in microseconds"
                }
              }
            }
          }
        }
      },
      "SubscriptionListResponse": {
        "type": "object",
        "properties": {
          "subscriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Feed identifier"
          },
          "title": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          },
          "sortid": {
            "type": "string"
          },
          "firstitemmsec": {
            "type": "number",
            "description": "Timestamp of earliest article in microseconds"
          },
          "url": {
            "type": "string",
            "description": "Feed XML URL"
          },
          "htmlUrl": {
            "type": "string",
            "description": "Website URL"
          },
          "iconUrl": {
            "type": "string",
            "description": "16x16 favicon URL"
          }
        }
      },
      "TagListResponse": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagItem"
            }
          }
        }
      },
      "TagItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sortid": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Item classification: tag, folder, or active_search"
          },
          "unread_count": {
            "type": "integer"
          },
          "unseen_count": {
            "type": "integer"
          }
        }
      },
      "QuickAddResponse": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "numResults": {
            "type": "integer",
            "description": "0 if failed, 1 if successful"
          },
          "streamId": {
            "type": "string"
          },
          "streamName": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://www.inoreader.com/oauth2/auth",
            "tokenUrl": "https://www.inoreader.com/oauth2/token",
            "scopes": {
              "read": "Read access",
              "write": "Write access"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ]
}