{
  "openapi": "3.0.3",
  "info": {
    "title": "IPstack API",
    "description": "IPstack offers a powerful, real-time IP to geolocation API capable of looking up accurate location data and assessing security threats originating from risky IP addresses. Results are delivered in milliseconds in JSON or XML format.",
    "version": "1.0.0",
    "contact": {
      "name": "IPstack Support",
      "url": "https://ipstack.com/contact"
    },
    "x-jentic-source-url": "https://ipstack.com/"
  },
  "servers": [
    {
      "url": "https://api.ipstack.com",
      "description": "IPstack Production API (HTTPS - paid plans)"
    },
    {
      "url": "http://api.ipstack.com",
      "description": "IPstack Production API (HTTP - free plan)"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "IP Lookup",
      "description": "IP address geolocation lookups"
    },
    {
      "name": "Bulk Lookup",
      "description": "Bulk IP address geolocation lookups"
    }
  ],
  "paths": {
    "/check": {
      "get": {
        "operationId": "lookupRequesterIp",
        "summary": "Requester IP Lookup",
        "description": "Look up the geolocation data for the IP address of the client making the API request.",
        "tags": ["IP Lookup"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Hostname"
          },
          {
            "$ref": "#/components/parameters/Security"
          },
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "$ref": "#/components/parameters/Callback"
          },
          {
            "$ref": "#/components/parameters/Output"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{ip}": {
      "get": {
        "operationId": "lookupSingleIp",
        "summary": "Standard IP Lookup",
        "description": "Look up geolocation data for a single IPv4 or IPv6 address.",
        "tags": ["IP Lookup"],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "description": "IPv4 or IPv6 address to look up.",
            "schema": {
              "type": "string"
            },
            "example": "134.201.250.155"
          },
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Hostname"
          },
          {
            "$ref": "#/components/parameters/Security"
          },
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "$ref": "#/components/parameters/Callback"
          },
          {
            "$ref": "#/components/parameters/Output"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeolocationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{ips}": {
      "get": {
        "operationId": "lookupBulkIps",
        "summary": "Bulk IP Lookup",
        "description": "Look up geolocation data for multiple IPv4 or IPv6 addresses at once (comma-separated). Available on Professional Plus plan and higher.",
        "tags": ["Bulk Lookup"],
        "parameters": [
          {
            "name": "ips",
            "in": "path",
            "required": true,
            "description": "Comma-separated list of IPv4 or IPv6 addresses (up to 50).",
            "schema": {
              "type": "string"
            },
            "example": "134.201.250.155,72.229.28.185,110.174.165.78"
          },
          {
            "$ref": "#/components/parameters/AccessKey"
          },
          {
            "$ref": "#/components/parameters/Fields"
          },
          {
            "$ref": "#/components/parameters/Hostname"
          },
          {
            "$ref": "#/components/parameters/Security"
          },
          {
            "$ref": "#/components/parameters/Language"
          },
          {
            "$ref": "#/components/parameters/Callback"
          },
          {
            "$ref": "#/components/parameters/Output"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful bulk geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GeolocationResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "access_key",
        "description": "API access key obtained from the IPstack dashboard."
      }
    },
    "parameters": {
      "AccessKey": {
        "name": "access_key",
        "in": "query",
        "required": true,
        "description": "Your IPstack API access key.",
        "schema": {
          "type": "string"
        }
      },
      "Fields": {
        "name": "fields",
        "in": "query",
        "required": false,
        "description": "Comma-separated list of response fields to return (e.g. 'ip,city,region_name').",
        "schema": {
          "type": "string"
        }
      },
      "Hostname": {
        "name": "hostname",
        "in": "query",
        "required": false,
        "description": "Set to 1 to include the hostname for the IP address in the response.",
        "schema": {
          "type": "integer",
          "enum": [0, 1]
        }
      },
      "Security": {
        "name": "security",
        "in": "query",
        "required": false,
        "description": "Set to 1 to include the security module data in the response (Professional Plus plan).",
        "schema": {
          "type": "integer",
          "enum": [0, 1]
        }
      },
      "Language": {
        "name": "language",
        "in": "query",
        "required": false,
        "description": "2-letter language code to localize output (e.g. 'en', 'de', 'es').",
        "schema": {
          "type": "string"
        }
      },
      "Callback": {
        "name": "callback",
        "in": "query",
        "required": false,
        "description": "JSONP callback function name.",
        "schema": {
          "type": "string"
        }
      },
      "Output": {
        "name": "output",
        "in": "query",
        "required": false,
        "description": "Set to 'xml' to receive output in XML format instead of JSON.",
        "schema": {
          "type": "string",
          "enum": ["json", "xml"]
        }
      }
    },
    "schemas": {
      "GeolocationResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "The requested IP address."
          },
          "hostname": {
            "type": "string",
            "description": "Hostname associated with the IP (if hostname lookup is enabled)."
          },
          "type": {
            "type": "string",
            "description": "IP address type: ipv4 or ipv6.",
            "enum": ["ipv4", "ipv6"]
          },
          "continent_code": {
            "type": "string",
            "description": "2-letter continent code."
          },
          "continent_name": {
            "type": "string",
            "description": "Full continent name."
          },
          "country_code": {
            "type": "string",
            "description": "2-letter country code (ISO 3166-1 alpha-2)."
          },
          "country_name": {
            "type": "string",
            "description": "Full country name."
          },
          "region_code": {
            "type": "string",
            "description": "Region/state code."
          },
          "region_name": {
            "type": "string",
            "description": "Full region/state name."
          },
          "city": {
            "type": "string",
            "description": "City name."
          },
          "zip": {
            "type": "string",
            "description": "ZIP or postal code."
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude of the location."
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude of the location."
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "time_zone": {
            "$ref": "#/components/schemas/TimeZone"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "connection": {
            "$ref": "#/components/schemas/Connection"
          },
          "security": {
            "$ref": "#/components/schemas/Security"
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "geoname_id": {
            "type": "integer",
            "description": "GeoNames ID for the location."
          },
          "capital": {
            "type": "string",
            "description": "Capital city of the country."
          },
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Language"
            },
            "description": "Languages spoken in the country."
          },
          "country_flag": {
            "type": "string",
            "description": "URL of the country flag image (SVG)."
          },
          "country_flag_emoji": {
            "type": "string",
            "description": "Country flag emoji."
          },
          "country_flag_emoji_unicode": {
            "type": "string",
            "description": "Country flag emoji unicode."
          },
          "calling_code": {
            "type": "string",
            "description": "International calling code."
          },
          "is_eu": {
            "type": "boolean",
            "description": "Whether the country is in the European Union."
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "2-letter language code."
          },
          "name": {
            "type": "string",
            "description": "Language name."
          },
          "native": {
            "type": "string",
            "description": "Language name in its native script."
          }
        }
      },
      "TimeZone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Timezone identifier (e.g. 'America/Los_Angeles')."
          },
          "current_time": {
            "type": "string",
            "description": "Current date and time in the timezone."
          },
          "gmt_offset": {
            "type": "integer",
            "description": "GMT offset in seconds."
          },
          "code": {
            "type": "string",
            "description": "Timezone abbreviation (e.g. 'PST')."
          },
          "is_daylight_saving": {
            "type": "boolean",
            "description": "Whether daylight saving time is active."
          }
        }
      },
      "Currency": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "3-letter currency code (ISO 4217)."
          },
          "name": {
            "type": "string",
            "description": "Currency name."
          },
          "plural": {
            "type": "string",
            "description": "Plural name of the currency."
          },
          "symbol": {
            "type": "string",
            "description": "Currency symbol."
          },
          "symbol_native": {
            "type": "string",
            "description": "Native currency symbol."
          }
        }
      },
      "Connection": {
        "type": "object",
        "properties": {
          "asn": {
            "type": "integer",
            "description": "Autonomous System Number."
          },
          "isp": {
            "type": "string",
            "description": "Internet Service Provider name."
          }
        }
      },
      "Security": {
        "type": "object",
        "description": "Security assessment data (Professional Plus plan).",
        "properties": {
          "is_proxy": {
            "type": "boolean",
            "description": "Whether the IP is associated with a known proxy."
          },
          "proxy_type": {
            "type": "string",
            "nullable": true,
            "description": "Type of proxy."
          },
          "is_crawler": {
            "type": "boolean",
            "description": "Whether the IP is associated with a known crawler."
          },
          "crawler_name": {
            "type": "string",
            "nullable": true,
            "description": "Name of the crawler."
          },
          "crawler_type": {
            "type": "string",
            "nullable": true,
            "description": "Type of the crawler."
          },
          "is_tor": {
            "type": "boolean",
            "description": "Whether the IP is a known Tor exit node."
          },
          "threat_level": {
            "type": "string",
            "description": "Assessed threat level.",
            "enum": ["low", "medium", "high"]
          },
          "threat_types": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Types of threats associated with the IP."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code.",
                "example": 101
              },
              "type": {
                "type": "string",
                "description": "Error type identifier.",
                "example": "missing_access_key"
              },
              "info": {
                "type": "string",
                "description": "Human-readable error description.",
                "example": "You have not supplied an API Access Key."
              }
            }
          }
        }
      }
    }
  }
}
