{
  "openapi": "3.0.3",
  "info": {
    "title": "Create Caption API",
    "description": "This is the API to create a caption with imagetocaption.ai. Creates engaging captions for social media posts from images or videos.",
    "version": "1.0.0",
    "contact": {
      "email": "joshua@imagetocaption.ai"
    },
    "x-jentic-source-url": "https://app.swaggerhub.com/apis/JOSHUA_18/create-caption/1.0.0"
  },
  "servers": [
    {
      "url": "https://api.imagetocaption.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/create-caption": {
      "post": {
        "summary": "Create a caption from an image",
        "description": "Creates a caption based on an image input. Analyzes the provided image and generates an engaging social media caption based on the specified parameters.",
        "operationId": "createCaption",
        "tags": [
          "Captions"
        ],
        "requestBody": {
          "required": true,
          "description": "Parameters of the caption to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCaptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Caption created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Caption can be max XX long (dependent on plan)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "No credits left",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "No subscription or supported plan found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error fetching customer ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "CreateCaptionRequest": {
        "type": "object",
        "required": [
          "url",
          "language",
          "theme",
          "setting",
          "mood",
          "custom",
          "emojis",
          "hashtags",
          "cta",
          "length"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "URL of the image to generate a caption for",
            "example": "https://image-to-caption-permament-uploadstore.s3.eu-central-1.amazonaws.com/orangecake.png"
          },
          "language": {
            "type": "string",
            "description": "Language code in ISO 3166-1 A-2 format",
            "example": "en"
          },
          "theme": {
            "type": "string",
            "description": "Theme or purpose of the caption",
            "example": "advertisement"
          },
          "setting": {
            "type": "string",
            "description": "Context or setting for the caption",
            "example": "Stuttgart"
          },
          "mood": {
            "type": "string",
            "description": "Mood or tone of the caption",
            "example": "casual"
          },
          "custom": {
            "type": "string",
            "description": "Custom instructions or context for caption generation",
            "example": "my name is Josh"
          },
          "emojis": {
            "type": "boolean",
            "description": "Whether to include emojis in the caption",
            "example": true
          },
          "hashtags": {
            "type": "boolean",
            "description": "Whether to include hashtags in the caption",
            "example": true
          },
          "cta": {
            "type": "boolean",
            "description": "Whether to include a call-to-action in the caption",
            "example": false
          },
          "length": {
            "type": "integer",
            "description": "Desired length of the caption",
            "example": 42
          }
        }
      },
      "CaptionResponse": {
        "type": "object",
        "properties": {
          "caption": {
            "type": "string",
            "description": "The generated caption text"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Captions",
      "description": "Caption generation operations"
    }
  ]
}