{
  "openapi": "3.0.3",
  "info": {
    "title": "Audome API",
    "version": "1.0.0",
    "description": "Audome API provides management of audio projects, tag lists, and file uploads.",
    "x-jentic-source-url": "https://app.audome.com/api-documentation"
  },
  "servers": [
    {
      "url": "https://app.audome.com/api/v1"
    }
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "operationId": "authenticate",
        "summary": "Authenticate and obtain a bearer token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing fields"
          },
          "401": {
            "description": "Unauthorized - invalid credentials"
          }
        }
      }
    },
    "/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Logout and invalidate token",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tag-lists": {
      "get": {
        "operationId": "listtaglists",
        "summary": "Get all tag lists",
        "tags": [
          "Tag Lists"
        ],
        "responses": {
          "200": {
            "description": "List of tag lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagList"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createtaglist",
        "summary": "Create a new tag list",
        "tags": [
          "Tag Lists"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Tag list name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag list created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tag-lists/{taglistUuid}": {
      "get": {
        "operationId": "gettaglist",
        "summary": "Get a specific tag list",
        "tags": [
          "Tag Lists"
        ],
        "parameters": [
          {
            "name": "taglistUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tag list UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag list details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updatetaglist",
        "summary": "Update a tag list",
        "tags": [
          "Tag Lists"
        ],
        "parameters": [
          {
            "name": "taglistUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tag list UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tag list updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deletetaglist",
        "summary": "Delete a tag list",
        "tags": [
          "Tag Lists"
        ],
        "parameters": [
          {
            "name": "taglistUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tag list UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag list deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tag-lists/{taglistUuid}/tags/{tagUuid}": {
      "post": {
        "operationId": "addtagtotaglist",
        "summary": "Add a tag to a tag list",
        "tags": [
          "Tag Lists"
        ],
        "parameters": [
          {
            "name": "taglistUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tag list UUID"
          },
          {
            "name": "tagUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Tag UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Tag added to list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/projects": {
      "get": {
        "operationId": "listprojects",
        "summary": "Get all projects",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createproject",
        "summary": "Create a new project",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/projects/{uuid}": {
      "get": {
        "operationId": "getproject",
        "summary": "Get a specific project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/projects/{projectUuid}/files": {
      "post": {
        "operationId": "uploadprojectfile",
        "summary": "Upload a file to a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "projectUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project UUID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AuthenticateRequest": {
        "type": "object",
        "required": [
          "email",
          "password",
          "device_name"
        ],
        "properties": {
          "email": {
            "type": "string",
            "description": "User email"
          },
          "password": {
            "type": "string",
            "description": "User password"
          },
          "device_name": {
            "type": "string",
            "description": "Name of the device"
          }
        }
      },
      "AuthenticateResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Bearer token for subsequent requests"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Confirmation message"
          }
        }
      },
      "TagList": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "customer_name": {
            "type": "string"
          },
          "sent_at": {
            "type": "string"
          }
        }
      },
      "CreateProjectRequest": {
        "type": "object",
        "required": [
          "title",
          "customer_name"
        ],
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 255,
            "description": "Project title"
          },
          "note": {
            "type": "string",
            "maxLength": 255,
            "description": "Optional note"
          },
          "password": {
            "type": "string",
            "minLength": 6,
            "description": "Optional password"
          },
          "sent_at": {
            "type": "string",
            "description": "Optional send date"
          },
          "customer_name": {
            "type": "string",
            "description": "Customer name"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained from /authenticate endpoint"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Operations related to Authentication"
    },
    {
      "name": "Projects",
      "description": "Operations related to Projects"
    },
    {
      "name": "Tag Lists",
      "description": "Operations related to Tag Lists"
    }
  ]
}