{
  "openapi": "3.0.0",
  "info": {
    "title": "Sensus REST API tickets",
    "version": "1.0.0-oas3",
    "contact": {
      "name": "Sensus support team",
      "email": "support@sensusit.com",
      "url": "https://app.sensusonline.net/iclient/"
    },
    "description": "# Apresenta\u00e7\u00e3o\n\nDocumenta\u00e7\u00e3o para utiliza\u00e7\u00e3o da RESTful API Sensus Finance.\n\n# Autentica\u00e7\u00e3o\n\u00c9 necess\u00e1rio uma chave/token como Header para autenticar e fazer requisi\u00e7\u00f5es a esta API. O nome do Header da chave/token \u00e9 'x_api_key'.\n\nPara gerar a chave/token da sua organiza\u00e7\u00e3o:\n1) Fa\u00e7a login no <a href=\"https://app.sensusonline.net/sensus/\" target=\"_blank\">Sensus CRM</a>\n2) Navegue Home/Configurar/Organiza\u00e7\u00e3o\n3) Edite a sua organiza\u00e7\u00e3o, clique na aba API e verifique no campo 'Chave/Token' se a chave/token j\u00e1 foi gerada. Caso j\u00e1 tenha sido gerada \u00e9 esta a chave/token que deve ser utilizada nos requests das APIs.\n4) Caso a chave/token n\u00e3o tenha sido gerada ou voc\u00ea queira gerar uma nova chave/token, clique no bot\u00e3o 'Gerar nova Chave/Token' e salve.\n5) Al\u00e9m da chave/token \u00e9 necess\u00e1rio cadastrar o endere\u00e7o IP de onde ser\u00e3o gerados requests para as APIs. Localize o bloco 'Lista IPs permitidos', adicione o endere\u00e7o IP do local de onde vai disparar os requests para as APIs e salve.\n\n# Error Codes\n**420-490 \u2013 Validations**\n\nPar\u00e2metros e/ou configura\u00e7\u00f5es n\u00e3o encontrados ou fora do padr\u00e3o\n\n**400 \u2013 Bad Request**\n\nDados enviados de forma incorreta ou fora do padr\u00e3o\n\n**403 \u2013 Forbidden**\n\nSem autoriza\u00e7\u00e3o suficiente para acessar o recurso desejado",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SensusX/API-sensus-tickets/1.0.0-oas3/swagger.json"
  },
  "paths": {
    "/created/{creation_date}": {
      "get": {
        "description": "Retrieve records from tickets api according to creation_date parameter entered.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "creation_date",
            "in": "path",
            "required": true,
            "description": "implicit",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "x_api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Query finance by creation date",
        "tags": [
          "Tickets"
        ],
        "operationId": "get-created-by-creation-date"
      }
    },
    "/ticket": {
      "post": {
        "description": "Create a new record on tickets api according to parameters entered.",
        "responses": {
          "201": {
            "description": "The successfully created record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x_api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_customer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_department",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_description",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_title",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_target_date",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_priority",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_assigned_to",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_monitor",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Create a new record on tickets",
        "tags": [
          "Tickets"
        ],
        "operationId": "post-ticket"
      }
    },
    "/ticket/{id}": {
      "get": {
        "description": "Retrieve records from tickets api according to ticket_id parameter entered.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "implicit",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "x_api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Query tickets by ticket_id",
        "tags": [
          "Tickets"
        ],
        "operationId": "get-ticket-by-id"
      }
    }
  },
  "servers": [
    {
      "url": "https://app.sensusonline.net/webapi/proee/tickets"
    }
  ],
  "tags": [
    {
      "name": "Tickets"
    }
  ]
}
