{
  "openapi": "3.0.3",
  "info": {
    "title": "EyeQuant API",
    "description": "EyeQuant machine perception as-a-service API. Provides programmatic access to EyeQuant's machine-perception algorithms for analyzing visual attention in images and videos.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://eyequant.readme.io/reference"
  },
  "servers": [
    {
      "url": "https://api.eyequant.com/v2",
      "description": "EyeQuant API v2"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getRoot",
        "summary": "Root endpoint",
        "description": "Welcome endpoint that confirms authentication and API connectivity.",
        "tags": [
          "General"
        ],
        "responses": {
          "200": {
            "description": "Successful authentication confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analyses": {
      "post": {
        "operationId": "createAnalysis",
        "summary": "Create an analysis",
        "description": "Main entry point to create a new image analysis. Submit an image for visual attention prediction.",
        "tags": [
          "Analyses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Analysis created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisCreated"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analyses/{analysisId}": {
      "get": {
        "operationId": "getAnalysis",
        "summary": "Retrieve an analysis",
        "description": "Retrieve the status and results of a previously created analysis.",
        "tags": [
          "Analyses"
        ],
        "parameters": [
          {
            "name": "analysisId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the analysis",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Analysis not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analyses/video": {
      "post": {
        "operationId": "createVideoAnalysis",
        "summary": "Create a video analysis",
        "description": "Create a visual salience analysis for a video file.",
        "tags": [
          "Video Analyses"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVideoAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Video analysis created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisCreated"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analyses/video/{analysisId}": {
      "get": {
        "operationId": "getVideoAnalysis",
        "summary": "Retrieve a video analysis",
        "description": "Retrieve the status and results of a previously created video analysis.",
        "tags": [
          "Video Analyses"
        ],
        "parameters": [
          {
            "name": "analysisId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the video analysis",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video analysis retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Analysis not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      }
    },
    "schemas": {
      "CreateAnalysisRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "input": {
            "type": "object",
            "description": "Analysis input specifications",
            "properties": {
              "content": {
                "type": "string",
                "description": "URL or base64-encoded image content"
              },
              "title": {
                "type": "string",
                "description": "Title for the analysis"
              }
            }
          },
          "predictions": {
            "type": "object",
            "description": "Predictions configuration"
          }
        }
      },
      "CreateVideoAnalysisRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "input": {
            "type": "object",
            "required": [
              "content"
            ],
            "properties": {
              "content": {
                "type": "string",
                "description": "AWS S3 presigned video URL"
              },
              "title": {
                "type": "string",
                "description": "Video title"
              }
            }
          }
        }
      },
      "AnalysisCreated": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique analysis identifier"
          },
          "location": {
            "type": "string",
            "description": "URL to retrieve the analysis results"
          }
        }
      },
      "AnalysisResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique analysis identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "success",
              "failed"
            ],
            "description": "The current status of the analysis"
          },
          "outputs": {
            "type": "object",
            "description": "Analysis output data including attention maps"
          },
          "error": {
            "type": "object",
            "description": "Error details if the analysis failed",
            "properties": {
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}