{
  "openapi": "3.0.3",
  "info": {
    "title": "Docupilot API",
    "version": "2.0",
    "description": "Docupilot API for document generation and automation. The V2 API uses Bearer token authentication with Base64-encoded credentials (key:secret). Note: V1 API endpoints are deprecated and not recommended for new implementations.",
    "x-jentic-source-url": "https://help.docupilot.app/developers/api-overview"
  },
  "servers": [
    {
      "url": "https://api.docupilot.app",
      "description": "Production server"
    }
  ],
  "paths": {
    "/accounts/v2/users/me/": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user information",
        "description": "Retrieve information about the authenticated user",
        "operationId": "getCurrentUser",
        "parameters": [
          {
            "name": "X-Workspace",
            "in": "header",
            "required": true,
            "description": "Workspace ID from Workspace Settings in Dashboard",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    },
    "/api/v1/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List templates (deprecated)",
        "description": "Retrieve list of document templates. Note: V1 API is deprecated, use V2 endpoints for new implementations.",
        "operationId": "listTemplates",
        "deprecated": true,
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        }
      }
    },
    "/templates/v2/": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List templates",
        "description": "Retrieve list of document templates for the workspace",
        "operationId": "listTemplatesV2",
        "parameters": [
          {
            "name": "X-Workspace",
            "in": "header",
            "required": true,
            "description": "Workspace ID from Workspace Settings in Dashboard",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    },
    "/templates/v2/{template_id}/": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Get template by ID",
        "description": "Retrieve a specific template by its ID",
        "operationId": "getTemplateById",
        "parameters": [
          {
            "name": "template_id",
            "in": "path",
            "required": true,
            "description": "Template ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Workspace",
            "in": "header",
            "required": true,
            "description": "Workspace ID from Workspace Settings in Dashboard",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/documents/v2/generate/": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Generate document",
        "description": "Generate a document from a template with provided data",
        "operationId": "generateDocument",
        "parameters": [
          {
            "name": "X-Workspace",
            "in": "header",
            "required": true,
            "description": "Workspace ID from Workspace Settings in Dashboard",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          }
        }
      }
    },
    "/documents/v2/{document_id}/": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get document by ID",
        "description": "Retrieve a generated document by its ID",
        "operationId": "getDocumentById",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Workspace",
            "in": "header",
            "required": true,
            "description": "Workspace ID from Workspace Settings in Dashboard",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized - invalid or missing credentials"
          },
          "404": {
            "description": "Document not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Base64",
        "description": "Base64 encode your API key and secret as 'key:secret', then use as Bearer token. Example: Authorization: Bearer <Base64_encoded_credentials>"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "V1 API authentication (deprecated) - simple API key in header"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "User ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "name": {
            "type": "string",
            "description": "User full name"
          },
          "workspace_id": {
            "type": "string",
            "description": "Associated workspace ID"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Account creation timestamp"
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Template ID"
          },
          "name": {
            "type": "string",
            "description": "Template name"
          },
          "description": {
            "type": "string",
            "description": "Template description"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Template creation timestamp"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Template last update timestamp"
          }
        }
      },
      "GenerateDocumentRequest": {
        "type": "object",
        "required": [
          "template_id",
          "data"
        ],
        "properties": {
          "template_id": {
            "type": "string",
            "description": "ID of the template to use for document generation"
          },
          "data": {
            "type": "object",
            "description": "Data payload to merge with the template",
            "additionalProperties": true
          },
          "output_format": {
            "type": "string",
            "enum": [
              "pdf",
              "docx",
              "html"
            ],
            "description": "Desired output format for the generated document"
          },
          "delivery_method": {
            "type": "string",
            "enum": [
              "download",
              "email"
            ],
            "description": "How to deliver the generated document"
          }
        }
      },
      "DocumentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Document ID"
          },
          "template_id": {
            "type": "string",
            "description": "Template ID used for generation"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ],
            "description": "Document generation status"
          },
          "download_url": {
            "type": "string",
            "description": "URL to download the generated document"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Document creation timestamp"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "User account operations"
    },
    {
      "name": "Templates",
      "description": "Template management"
    },
    {
      "name": "Documents",
      "description": "Document generation operations"
    }
  ]
}