{
  "openapi": "3.0.3",
  "info": {
    "title": "TNY API",
    "description": "URL shortening and link management platform with GraphQL API for creating and managing short links.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://tny.app/api/docs/graphql",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.tny.app/v1"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Links",
      "description": "Link management"
    },
    {
      "name": "Analytics",
      "description": "Link analytics"
    },
    {
      "name": "Domains",
      "description": "Custom domain management"
    }
  ],
  "paths": {
    "/links": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "List links",
        "operationId": "listLinks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "archived"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Link"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List links"
      },
      "post": {
        "tags": [
          "Links"
        ],
        "summary": "Create short link",
        "operationId": "createLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          }
        },
        "description": "Create short link"
      }
    },
    "/links/{linkId}": {
      "get": {
        "tags": [
          "Links"
        ],
        "summary": "Get link",
        "operationId": "getLink",
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          }
        },
        "description": "Get link"
      },
      "put": {
        "tags": [
          "Links"
        ],
        "summary": "Update link",
        "operationId": "updateLink",
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          }
        },
        "description": "Update link"
      },
      "delete": {
        "tags": [
          "Links"
        ],
        "summary": "Delete link",
        "operationId": "deleteLink",
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Link deleted"
          }
        },
        "description": "Delete link"
      }
    },
    "/links/{linkId}/analytics": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get link analytics",
        "operationId": "getLinkAnalytics",
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkAnalytics"
                }
              }
            }
          }
        },
        "description": "Get link analytics"
      }
    },
    "/analytics/summary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get analytics summary",
        "operationId": "getAnalyticsSummary",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsSummary"
                }
              }
            }
          }
        },
        "description": "Get analytics summary"
      }
    },
    "/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List domains",
        "operationId": "listDomains",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        },
        "description": "List domains"
      },
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Add custom domain",
        "operationId": "addDomain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          }
        },
        "description": "Add custom domain"
      }
    },
    "/domains/{domainId}": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get domain",
        "operationId": "getDomain",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          }
        },
        "description": "Get domain"
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Remove domain",
        "operationId": "removeDomain",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Domain removed"
          }
        },
        "description": "Remove domain"
      }
    }
  },
  "components": {
    "schemas": {
      "Link": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "shortUrl": {
            "type": "string",
            "format": "uri"
          },
          "longUrl": {
            "type": "string",
            "format": "uri"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "domainId": {
            "type": "string"
          },
          "clicks": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LinkInput": {
        "type": "object",
        "required": [
          "longUrl"
        ],
        "properties": {
          "longUrl": {
            "type": "string",
            "format": "uri"
          },
          "slug": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "domainId": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LinkAnalytics": {
        "type": "object",
        "properties": {
          "linkId": {
            "type": "string"
          },
          "totalClicks": {
            "type": "integer"
          },
          "uniqueClicks": {
            "type": "integer"
          },
          "clicksByDate": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "clicks": {
                  "type": "integer"
                }
              }
            }
          },
          "clicksByCountry": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string"
                },
                "clicks": {
                  "type": "integer"
                }
              }
            }
          },
          "clicksByDevice": {
            "type": "object",
            "properties": {
              "desktop": {
                "type": "integer"
              },
              "mobile": {
                "type": "integer"
              },
              "tablet": {
                "type": "integer"
              }
            }
          },
          "referrers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "referrer": {
                  "type": "string"
                },
                "clicks": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "AnalyticsSummary": {
        "type": "object",
        "properties": {
          "totalLinks": {
            "type": "integer"
          },
          "totalClicks": {
            "type": "integer"
          },
          "activeLinks": {
            "type": "integer"
          },
          "clicksToday": {
            "type": "integer"
          },
          "clicksThisWeek": {
            "type": "integer"
          },
          "clicksThisMonth": {
            "type": "integer"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "verified": {
            "type": "boolean"
          },
          "default": {
            "type": "boolean"
          },
          "linkCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DomainInput": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string"
          },
          "default": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
