{
  "openapi": "3.0.3",
  "info": {
    "title": "Saasu API",
    "version": "1.0",
    "description": "Saasu is a fast, simple online accounting platform for small businesses. The REST API provides access to accounts, activities, attachments, companies, contacts, invoices, items, journals, payments, payroll, reports, search, settings, and user management. Supports JSON and XML formats.",
    "x-jentic-source-url": "https://api.saasu.com/"
  },
  "servers": [
    {
      "url": "https://api.saasu.com",
      "description": "Saasu API"
    }
  ],
  "paths": {
    "/Accounts": {
      "get": {
        "operationId": "listAccounts",
        "summary": "List accounts",
        "description": "Returns a list of account detail records. Supports filtering by active status, bank account, account type, header account, and account level.",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The file/company ID"
          },
          {
            "name": "IsActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsBankAccount",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "AccountType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Income",
                "Expense",
                "Asset",
                "Equity",
                "Liability",
                "OtherIncome",
                "OtherExpense",
                "CostOfSales"
              ]
            }
          },
          {
            "name": "IncludeBuiltIn",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "HeaderAccountId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "AccountLevel",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "detail",
                "header"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Accounts/BankAccountBalances": {
      "get": {
        "operationId": "getBankAccountBalances",
        "summary": "Get bank account balances",
        "description": "Gets a list of bank account balances.",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of bank account balances"
          }
        }
      }
    },
    "/Account/{id}": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get an account",
        "description": "Retrieves a single account.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateAccount",
        "summary": "Update an account",
        "description": "Updates an existing account.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteAccount",
        "summary": "Delete an account",
        "description": "Deletes an account.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account deleted"
          }
        }
      }
    },
    "/Account": {
      "post": {
        "operationId": "createAccount",
        "summary": "Create an account",
        "description": "Inserts a new account.",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created"
          }
        }
      }
    },
    "/Activities": {
      "get": {
        "operationId": "listActivities",
        "summary": "List activities",
        "description": "Returns a list of activity summary records.",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "LastModifiedFromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "LastModifiedToDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "ActivityStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "todo",
                "done",
                "overdue"
              ]
            }
          },
          {
            "name": "SearchText",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of activities"
          }
        }
      }
    },
    "/Activity/{id}": {
      "get": {
        "operationId": "getActivity",
        "summary": "Get an activity",
        "description": "Returns a single activity detail record.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity details"
          }
        }
      },
      "put": {
        "operationId": "updateActivity",
        "summary": "Update an activity",
        "description": "Updates an existing activity.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteActivity",
        "summary": "Delete an activity",
        "description": "Deletes an activity.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity deleted"
          }
        }
      }
    },
    "/Activity": {
      "post": {
        "operationId": "createActivity",
        "summary": "Create an activity",
        "description": "Inserts a new activity.",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity created"
          }
        }
      }
    },
    "/Contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "description": "Returns a list of contact summary records.",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts"
          }
        }
      }
    },
    "/Contact/{id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get a contact",
        "description": "Retrieves a single contact.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "description": "Updates an existing contact.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete a contact",
        "description": "Deletes a contact.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted"
          }
        }
      }
    },
    "/Contact": {
      "post": {
        "operationId": "createContact",
        "summary": "Create a contact",
        "description": "Inserts a new contact.",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created"
          }
        }
      }
    },
    "/Contact/{id}/generate-pdf": {
      "get": {
        "operationId": "generateContactPdf",
        "summary": "Generate contact PDF",
        "description": "Generates a PDF for a contact.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF generated"
          }
        }
      }
    },
    "/ContactAggregate/{id}": {
      "get": {
        "operationId": "getContactAggregate",
        "summary": "Get a contact aggregate",
        "description": "Retrieves a contact aggregate record.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact aggregate details"
          }
        }
      },
      "put": {
        "operationId": "updateContactAggregate",
        "summary": "Update a contact aggregate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact aggregate updated"
          }
        }
      }
    },
    "/ContactAggregate": {
      "post": {
        "operationId": "createContactAggregate",
        "summary": "Create a contact aggregate",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact aggregate created"
          }
        }
      }
    },
    "/Invoices": {
      "get": {
        "operationId": "listInvoices",
        "summary": "List invoices",
        "description": "Returns a list of invoices.",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of invoices"
          }
        }
      }
    },
    "/Invoice/{id}": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Get an invoice",
        "description": "Retrieves a single invoice.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details"
          }
        }
      },
      "put": {
        "operationId": "updateInvoice",
        "summary": "Update an invoice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteInvoice",
        "summary": "Delete an invoice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice deleted"
          }
        }
      }
    },
    "/Invoice": {
      "post": {
        "operationId": "createInvoice",
        "summary": "Create an invoice",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice created"
          }
        }
      }
    },
    "/Invoice/{id}/generate-pdf": {
      "get": {
        "operationId": "generateInvoicePdf",
        "summary": "Generate invoice PDF",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF generated"
          }
        }
      }
    },
    "/Invoice/{id}/email-contact": {
      "post": {
        "operationId": "emailInvoiceToContact",
        "summary": "Email invoice to contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice emailed"
          }
        }
      }
    },
    "/Invoice/{id}/email": {
      "post": {
        "operationId": "emailInvoice",
        "summary": "Email invoice",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice emailed"
          }
        }
      }
    },
    "/Invoices/SalesStatsSummary": {
      "get": {
        "operationId": "getSalesStatsSummary",
        "summary": "Get sales stats summary",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sales statistics summary"
          }
        }
      }
    },
    "/Items": {
      "get": {
        "operationId": "listItems",
        "summary": "List items",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of items"
          }
        }
      }
    },
    "/Item/{id}": {
      "get": {
        "operationId": "getItem",
        "summary": "Get an item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item details"
          }
        }
      },
      "put": {
        "operationId": "updateItem",
        "summary": "Update an item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteItem",
        "summary": "Delete an item",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Item deleted"
          }
        }
      }
    },
    "/Item": {
      "post": {
        "operationId": "createItem",
        "summary": "Create an item",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item created"
          }
        }
      }
    },
    "/Payment/{id}": {
      "get": {
        "operationId": "getPayment",
        "summary": "Get a payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details"
          }
        }
      },
      "put": {
        "operationId": "updatePayment",
        "summary": "Update a payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment updated"
          }
        }
      },
      "delete": {
        "operationId": "deletePayment",
        "summary": "Delete a payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment deleted"
          }
        }
      }
    },
    "/Payment": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create a payment",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment created"
          }
        }
      }
    },
    "/Payments": {
      "get": {
        "operationId": "listPayments",
        "summary": "List payments",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments"
          }
        }
      }
    },
    "/Companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "List companies",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies"
          }
        }
      }
    },
    "/Company/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get a company",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company details"
          }
        }
      },
      "put": {
        "operationId": "updateCompany",
        "summary": "Update a company",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Delete a company",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company deleted"
          }
        }
      }
    },
    "/Company": {
      "post": {
        "operationId": "createCompany",
        "summary": "Create a company",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company created"
          }
        }
      }
    },
    "/Journals": {
      "get": {
        "operationId": "listJournals",
        "summary": "List journals",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of journals"
          }
        }
      }
    },
    "/Journal/{id}": {
      "get": {
        "operationId": "getJournal",
        "summary": "Get a journal",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Journal details"
          }
        }
      }
    },
    "/DeletedEntities": {
      "get": {
        "operationId": "listDeletedEntities",
        "summary": "List deleted entities",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of deleted entities"
          }
        }
      }
    },
    "/FileIdentity": {
      "get": {
        "operationId": "getFileIdentity",
        "summary": "Get file identity",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File identity details"
          }
        }
      },
      "put": {
        "operationId": "updateFileIdentity",
        "summary": "Update file identity",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File identity updated"
          }
        }
      }
    },
    "/FileIdentities": {
      "get": {
        "operationId": "listFileIdentities",
        "summary": "List file identities",
        "responses": {
          "200": {
            "description": "List of file identities"
          }
        }
      }
    },
    "/Search": {
      "get": {
        "operationId": "search",
        "summary": "Search",
        "description": "Performs a search across entities.",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          }
        }
      }
    },
    "/TaxCodes": {
      "get": {
        "operationId": "listTaxCodes",
        "summary": "List tax codes",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tax codes"
          }
        }
      }
    },
    "/TaxCode/{id}": {
      "get": {
        "operationId": "getTaxCode",
        "summary": "Get a tax code",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tax code details"
          }
        }
      }
    },
    "/Brands": {
      "get": {
        "operationId": "listBrands",
        "summary": "List brands",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of brands"
          }
        }
      }
    },
    "/Reports/ProfitAndLoss/SummaryByAccountType": {
      "get": {
        "operationId": "getProfitAndLossByAccountType",
        "summary": "Get P&L summary by account type",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profit and loss summary by account type"
          }
        }
      }
    },
    "/Reports/ProfitAndLoss/Summary": {
      "get": {
        "operationId": "getProfitAndLossSummary",
        "summary": "Get P&L summary",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profit and loss summary"
          }
        }
      }
    },
    "/User": {
      "get": {
        "operationId": "getUser",
        "summary": "Get current user",
        "responses": {
          "200": {
            "description": "User details"
          }
        }
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update current user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated"
          }
        }
      }
    },
    "/User/reset-password": {
      "post": {
        "operationId": "resetPassword",
        "summary": "Reset user password",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset initiated"
          }
        }
      }
    },
    "/authorisation/token": {
      "get": {
        "operationId": "getOAuthTokenViaGet",
        "summary": "Get OAuth token (GET method)",
        "description": "Obtains an OAuth token using GET request with URL parameters. Using POST is preferred.",
        "responses": {
          "200": {
            "description": "OAuth token"
          }
        }
      },
      "post": {
        "operationId": "getOAuthToken",
        "summary": "Get OAuth token",
        "description": "Obtains an OAuth token using POST request. This is the preferred method.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OAuth token"
          }
        }
      }
    },
    "/authorisation/refresh": {
      "post": {
        "operationId": "refreshOAuthToken",
        "summary": "Refresh OAuth token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refreshed OAuth token"
          }
        }
      }
    },
    "/authorisation/ping": {
      "get": {
        "operationId": "pingAuthorisation",
        "summary": "Ping authorisation",
        "description": "Tests if the authentication is valid.",
        "responses": {
          "200": {
            "description": "Authentication is valid"
          }
        }
      }
    },
    "/InvoiceAttachment": {
      "post": {
        "operationId": "createInvoiceAttachment",
        "summary": "Create an invoice attachment",
        "parameters": [
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attachment created"
          }
        }
      }
    },
    "/InvoiceAttachment/{id}": {
      "get": {
        "operationId": "getInvoiceAttachment",
        "summary": "Get an invoice attachment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment details"
          }
        }
      },
      "delete": {
        "operationId": "deleteInvoiceAttachment",
        "summary": "Delete an invoice attachment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment deleted"
          }
        }
      }
    },
    "/InvoiceAttachments/{id}": {
      "get": {
        "operationId": "listInvoiceAttachments",
        "summary": "List invoice attachments",
        "description": "Gets all attachment metadata for a given invoice ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Invoice ID"
          },
          {
            "name": "FileId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachment metadata"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "Name": {
            "type": "string"
          },
          "AccountType": {
            "type": "string"
          },
          "IsActive": {
            "type": "boolean"
          },
          "IsBankAccount": {
            "type": "boolean"
          },
          "AccountLevel": {
            "type": "string"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "integer"
          },
          "GivenName": {
            "type": "string"
          },
          "FamilyName": {
            "type": "string"
          },
          "EmailAddress": {
            "type": "string"
          },
          "CompanyName": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "wsAccessKey": {
        "type": "apiKey",
        "in": "query",
        "name": "wsAccessKey",
        "description": "Web Services Access Key for authentication"
      },
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2 authentication (preferred method)",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.saasu.com/authorisation/authorize",
            "tokenUrl": "https://api.saasu.com/authorisation/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "wsAccessKey": []
    },
    {
      "oauth2": []
    }
  ]
}