{
  "openapi": "3.0.3",
  "info": {
    "title": "PixelPanda API",
    "version": "2.0.0",
    "description": "AI-powered image processing API for background removal, upscaling, text removal, image-to-image transformation, product marketing, UGC video generation, and batch processing.",
    "x-jentic-source-url": "https://pixelpanda.ai/developers",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.pixelpanda.ai"
    }
  ],
  "paths": {
    "/api/process": {
      "post": {
        "operationId": "processImage",
        "summary": "Process an image",
        "description": "Process an image with various operations: background_removal, upscale, text_removal, image_to_image.",
        "tags": [
          "Image Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "processing_type": {
                    "type": "string",
                    "enum": [
                      "background_removal",
                      "upscale",
                      "text_removal",
                      "image_to_image"
                    ]
                  },
                  "output_format": {
                    "type": "string"
                  },
                  "quality": {
                    "type": "string"
                  },
                  "scale": {
                    "type": "integer",
                    "enum": [
                      2,
                      4
                    ]
                  },
                  "face_enhance": {
                    "type": "boolean"
                  },
                  "parameters": {
                    "type": "string",
                    "description": "JSON string with prompt and strength for image_to_image"
                  }
                },
                "required": [
                  "processing_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessingResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/generate": {
      "post": {
        "operationId": "generateProductMarketing",
        "summary": "Generate product marketing images",
        "description": "Creates marketing photos with AI models holding or wearing products.",
        "tags": [
          "Product Marketing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "model_id": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  }
                },
                "required": [
                  "product_image",
                  "model_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessingResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/tryon/quick-video": {
      "post": {
        "operationId": "generateUgcVideo",
        "summary": "Generate UGC video",
        "description": "Converts avatar images into talking-head videos with voiceover and lip-sync.",
        "tags": [
          "Product Marketing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image_url": {
                    "type": "string"
                  },
                  "script": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  },
                  "enable_subtitles": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "image_url",
                  "script"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/batches": {
      "post": {
        "operationId": "submitBatchJob",
        "summary": "Submit batch processing job",
        "description": "Processes up to 100 product images in one request.",
        "tags": [
          "Batch Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/batches/{batchId}": {
      "get": {
        "operationId": "getBatchStatus",
        "summary": "Get batch status",
        "tags": [
          "Batch Processing"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get batch status"
      }
    },
    "/api/v2/jobs": {
      "post": {
        "operationId": "createJob",
        "summary": "Create single-item job",
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create single-item job"
      }
    },
    "/api/v2/jobs/{jobId}": {
      "get": {
        "operationId": "getJobStatus",
        "summary": "Get job status",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get job status"
      }
    },
    "/api/v2/webhooks": {
      "post": {
        "operationId": "registerWebhook",
        "summary": "Register webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook registered"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Register webhook"
      },
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List webhooks"
      }
    },
    "/api/v2/webhooks/{id}": {
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Delete webhook"
      }
    }
  },
  "components": {
    "schemas": {
      "ProcessingResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "processing_id": {
            "type": "string"
          },
          "result_url": {
            "type": "string"
          },
          "credits_used": {
            "type": "integer"
          },
          "processing_time": {
            "type": "number"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "VideoResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "video_url": {
            "type": "string"
          },
          "duration_seconds": {
            "type": "number"
          },
          "credits_used": {
            "type": "integer"
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "properties": {
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "image": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                }
              }
            }
          },
          "images_per_product": {
            "type": "integer"
          },
          "webhook_url": {
            "type": "string"
          }
        }
      },
      "BatchResponse": {
        "type": "object",
        "properties": {
          "batch_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_images": {
            "type": "integer"
          },
          "credits_reserved": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "JobRequest": {
        "type": "object",
        "properties": {
          "product_image": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "images_to_generate": {
            "type": "integer"
          },
          "webhook_url": {
            "type": "string"
          }
        }
      },
      "JobResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                }
              }
            }
          },
          "credits_used": {
            "type": "integer"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Batch Processing"
    },
    {
      "name": "Image Processing"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "Product Marketing"
    },
    {
      "name": "Webhooks"
    }
  ]
}
