{
  "openapi": "3.0.0",
  "info": {
    "title": "Ambev PO7.5 DMS (bLive) Integration",
    "version": "1.2.0-oas3",
    "description": "DMS app from bLive calls SAP PO 7.5 Integration\nMethods:\n  <br>\u00bb POST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create Delivery Schedule on SAP\n  <br>\u00bb DELETE&nbsp;Cancel/Erase a Schedule on SAP\n\n  1.2.0-oas3 (05/11/2019): Update\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;\u2022 Method PUT removed since ABAP is controlling  creation and updates of schedules, so this method is no longer needed.\n  \n  1.0.0-oas3 (24/10/2019): Creation\n  <br>&nbsp;&nbsp;&nbsp;&nbsp;\u2022 Method POST Released\n  \n",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "Partner evt/IT",
      "email": "contato@evtit.com",
      "url": "http://www.evtit.com/"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/evt-Ambev_Zeus/Ambev_PO7.5_DMS/1.2.0-oas3/swagger.json"
  },
  "externalDocs": {
    "description": "Developer: Daniel G. Alexandre",
    "url": "mailto:daniel.dgatech@gmail.com"
  },
  "servers": [
    {
      "url": "https://sappodev.ambevdevs.com.br/RESTAdapter",
      "description": "SAP PO Development server (DP1) - External URL"
    },
    {
      "url": "https://sappoqas.ambevdevs.com.br/RESTAdapter",
      "description": "SAP PO Quality server (QP1) - External URL"
    },
    {
      "url": "https://sappoprd.ambevdevs.com.br/RESTAdapter",
      "description": "SAP PO Production server (PP1) - External URL"
    }
  ],
  "tags": [
    {
      "name": "deliverySchedule",
      "description": "Create, Update and Delete Shedules at SAP manageded at DMS"
    }
  ],
  "paths": {
    "/v1/DMS/DeliverySchedule": {
      "post": {
        "tags": [
          "deliverySchedule"
        ],
        "summary": "Create Schedule at SAP",
        "operationId": "addSchedule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postDeliverySchedule_req"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postDeliverySchedule_res"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/postDeliverySchedule_exc"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ],
        "description": "Create Schedule at SAP"
      },
      "delete": {
        "tags": [
          "deliverySchedule"
        ],
        "summary": "Deletes a uploaded Schedule at SAP",
        "operationId": "deleteSchedule",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "description": "ID Number of Delevery Schedule"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delDeliverySchedule_res"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delDeliverySchedule_exc"
                }
              }
            }
          }
        },
        "security": [
          {
            "po75_auth": []
          }
        ],
        "description": "Deletes a uploaded Schedule at SAP"
      }
    }
  },
  "components": {
    "schemas": {
      "postDeliverySchedule_req": {
        "$ref": "#/components/schemas/auxRequest"
      },
      "postDeliverySchedule_res": {
        "$ref": "#/components/schemas/auxResponse"
      },
      "postDeliverySchedule_exc": {
        "type": "object",
        "properties": {
          "standard": {
            "$ref": "#/components/schemas/auxException"
          }
        },
        "xml": {
          "name": "postDeliverySchedule_exc"
        }
      },
      "delDeliverySchedule_res": {
        "$ref": "#/components/schemas/auxResponse"
      },
      "delDeliverySchedule_exc": {
        "type": "object",
        "properties": {
          "standard": {
            "$ref": "#/components/schemas/auxException"
          }
        },
        "xml": {
          "name": "postDeliverySchedule_exc"
        }
      },
      "auxRequest": {
        "type": "object",
        "properties": {
          "schedules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "scheduleCode": {
                  "type": "string"
                },
                "customerCode": {
                  "type": "string"
                },
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "startTime": {
                  "type": "string",
                  "pattern": "([0-1]?\\d|2[0-3]):([0-5]?\\d):([0-5]?\\d)"
                },
                "endTime": {
                  "type": "string",
                  "pattern": "([0-1]?\\d|2[0-3]):([0-5]?\\d):([0-5]?\\d)"
                },
                "requestUser": {
                  "type": "string"
                },
                "requestDate": {
                  "type": "string",
                  "format": "date"
                },
                "requestTime": {
                  "type": "string",
                  "pattern": "([0-1]?\\d|2[0-3]):([0-5]?\\d):([0-5]?\\d)"
                },
                "ordersAmbev": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "numAmbev": {
                        "type": "string"
                      }
                    }
                  }
                },
                "ordersCustomer": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "numClient": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "auxResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "string"
          },
          "success": {
            "type": "string"
          },
          "messsage": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "msg": {
                  "type": "string"
                },
                "param": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "auxException": {
        "properties": {
          "faultText": {
            "type": "string"
          },
          "faultUrl": {
            "type": "string"
          },
          "faultDetail": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "severity": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "po75_auth": {
        "type": "http",
        "scheme": "basic"
      },
      "api_key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header"
      }
    }
  }
}
