{
  "swagger": "2.0",
  "info": {
    "description": "Api encargada de la operatividad via comercio electronico",
    "version": "v2",
    "title": "API Niubiz eCommerce",
    "termsOfService": "http://www.niubiz.com.pe",
    "contact": {
      "name": "Niubiz",
      "url": "http://www.niubiz.com.pe",
      "email": "integracions@necomplus.com.pe"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/VisaNetPeru/api.ecommerce/v2/swagger.json"
  },
  "host": "apitestenv.vnforapps.com",
  "basePath": "/api.ecommerce/v2",
  "tags": [
    {
      "name": "Api to get client Ip",
      "description": "Api to get client Ip"
    },
    {
      "name": "Api to manage tokenized cards",
      "description": "Api which manage tokenized cards"
    },
    {
      "name": "Card Bin Additional Information",
      "description": "Query in order to retrieve card bin additional information"
    },
    {
      "name": "Create Session Token",
      "description": "RESTful API to create a session token."
    },
    {
      "name": "Dynamic Currency Conversion",
      "description": "Query the eligibility of a card to use DCC"
    },
    {
      "name": "Manage Session Time",
      "description": "RESTful API to manage session time"
    },
    {
      "name": "Merchant Configuration",
      "description": "RESTful API to get Merchant configuration."
    },
    {
      "name": "New Sequence Api",
      "description": "RESTful API to get a new sequence."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/card/management/remove/{vault}": {
      "post": {
        "tags": [
          "Api to manage tokenized cards"
        ],
        "summary": "Remove Card Token",
        "description": "RESTful API to remove a token",
        "operationId": "removeWithBody",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Vault remove token request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VaultRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/card/management/remove/{vault}/{block}/{attribute}": {
      "post": {
        "tags": [
          "Api to manage tokenized cards"
        ],
        "summary": "Remove Card Token",
        "description": "RESTful API to remove a token",
        "operationId": "remove",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "attribute",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/card/management/retrieve/filter/{vault}/eblock/{block}": {
      "get": {
        "tags": [
          "Api to manage tokenized cards"
        ],
        "summary": "Retrieve Token List",
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieveEncryptedDebit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/card/management/retrieve/filter/{vault}/{block}": {
      "get": {
        "tags": [
          "Api to manage tokenized cards"
        ],
        "summary": "Retrieve Token List",
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieveDebit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/card/management/retrieve/{vault}/eblock/{block}": {
      "get": {
        "tags": [
          "Api to manage tokenized cards"
        ],
        "summary": "Retrieve Token List",
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieveEncrypted",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/card/management/retrieve/{vault}/{block}": {
      "get": {
        "tags": [
          "Api to manage tokenized cards"
        ],
        "summary": "Retrieve Token List",
        "description": "RESTful API to retrieve list of tokens.",
        "operationId": "retrieve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vault",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "block",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TokenListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/clientip": {
      "get": {
        "tags": [
          "Api to get client Ip"
        ],
        "summary": "Get Client Ip",
        "description": "RESTful API to get client ip",
        "operationId": "getClientIp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ClientIpResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/configuration/merchant/management/{entityId}": {
      "post": {
        "tags": [
          "Merchant Configuration"
        ],
        "summary": "Create/Update Merchant Configuration",
        "description": "RESTful API to manage Merchant configuration.",
        "operationId": "createConfiguration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Configuration request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Merchant"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Merchant"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/configuration/merchant/{entityId}": {
      "get": {
        "tags": [
          "Merchant Configuration"
        ],
        "summary": "Retrieve Merchant Configuration",
        "description": "RESTful API to get Merchant configuration.",
        "operationId": "getConfiguration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MerchantConfiguration"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/configuration/merchant/{entityId}/group": {
      "get": {
        "tags": [
          "Merchant Configuration"
        ],
        "summary": "Retrieve Merchant Group Configuration",
        "description": "RESTful API to get Merchant group configuration.",
        "operationId": "getGroupConfiguration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MerchantConfiguration"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/currency/conversion/retrieve/{merchantId}": {
      "post": {
        "tags": [
          "Dynamic Currency Conversion"
        ],
        "summary": "Retrieve Eligibility",
        "description": "Api to retrieve currency conversion information",
        "operationId": "retrieveEligibility",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "DCC request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DCCRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DCCResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/currency/conversion/{merchantId}": {
      "post": {
        "tags": [
          "Dynamic Currency Conversion"
        ],
        "summary": "Query Eligibility",
        "description": "Api to retrieve currency conversion information",
        "operationId": "queryEligibility",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "DCC request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DCCRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/DCCResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/ecommerce/token/card/{merchant}/{transactionToken}": {
      "get": {
        "tags": [
          "Create Session Token"
        ],
        "summary": "Query Card Token",
        "description": "RESTful API to query session token",
        "operationId": "queryCardToken",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "merchant",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "transactionToken",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SessionToken"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/ecommerce/token/card/{merchant}/{transactionToken}/{base64}": {
      "get": {
        "tags": [
          "Create Session Token"
        ],
        "summary": "Query Card Token",
        "description": "RESTful API to query session token",
        "operationId": "createSessionTokenBase64",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "merchant",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "transactionToken",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "base64",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SessionToken"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/ecommerce/token/query/{merchant}/{transactionToken}/{amount}": {
      "get": {
        "tags": [
          "Create Session Token"
        ],
        "summary": "Query Session Token",
        "description": "RESTful API to query session token",
        "operationId": "querySessionToken",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "merchant",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "transactionToken",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "amount",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SessionToken"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/ecommerce/token/session/{entityId}": {
      "post": {
        "tags": [
          "Create Session Token"
        ],
        "summary": "Create Session Token",
        "description": "RESTful API to create session token",
        "operationId": "createSessionToken",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Session token request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SessionTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SessionToken"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/ecommerce/token/transaction": {
      "post": {
        "tags": [
          "Create Session Token"
        ],
        "summary": "Create Transaction Token",
        "description": "RESTful API to create transaction token",
        "operationId": "createTransactionToken",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Transaction token request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TransactionToken"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/ecommerce/token/transaction/validate": {
      "post": {
        "tags": [
          "Create Session Token"
        ],
        "summary": "Create Transaction Token",
        "description": "RESTful API to create transaction token",
        "operationId": "createTransactionTokenValidate",
        "consumes": [
          "application/json; charset=utf-8"
        ],
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Transaction token request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TransactionToken"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/queryBin/category/{merchantId}/{binNumber}": {
      "get": {
        "tags": [
          "Card Bin Additional Information"
        ],
        "summary": "Query White/Black Bin List",
        "description": "Api to retrieve bin list",
        "operationId": "getBinCategoryList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "binNumber",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Bin"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/queryBin/management/{binNumber}": {
      "get": {
        "tags": [
          "Card Bin Additional Information"
        ],
        "summary": "Query Ardef",
        "description": "Query in order to get ardef information.",
        "operationId": "getArdef",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "binNumber",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Ardef"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/queryBin/{binNumber}": {
      "get": {
        "tags": [
          "Card Bin Additional Information"
        ],
        "summary": "Query Bin",
        "description": "Api to retrieve bin information",
        "operationId": "getBin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "binNumber",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Bin"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/queryBin/{merchantId}/{binNumber}": {
      "get": {
        "tags": [
          "Card Bin Additional Information"
        ],
        "summary": "Query Bin with Merchant",
        "description": "Api to retrieve bin information",
        "operationId": "getBinMerchant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "binNumber",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Bin"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/sequence/{queryType}/{entityId}": {
      "get": {
        "tags": [
          "New Sequence Api"
        ],
        "summary": "Retrieve New Sequence",
        "description": "RESTful API to get a new sequence.",
        "operationId": "retrieveSequence",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Sequence"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    },
    "/session/management/extend/{entityId}/{sessionKey}": {
      "post": {
        "tags": [
          "Manage Session Time"
        ],
        "summary": "Extend Session",
        "description": "RESTful API to extend session time",
        "operationId": "extendSession",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sessionKey",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SessionToken"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Request is not valid"
          }
        },
        "security": [
          {
            "accessToken": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "accessToken": {
      "description": "Access token obtained from api.security",
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Address": {
      "type": "object",
      "properties": {
        "street1": {
          "type": "string",
          "example": "Calle Astorga 827",
          "description": "Direccion"
        },
        "street2": {
          "type": "string",
          "example": "Calle Astorga 831",
          "description": "Direccion"
        },
        "postalCode": {
          "type": "string",
          "example": "Lima 30",
          "description": "Codigo Postal"
        },
        "city": {
          "type": "string",
          "example": "Lima",
          "description": "Ciudad"
        },
        "state": {
          "type": "string",
          "example": "LI",
          "description": "Departamento / Estado"
        },
        "country": {
          "type": "string",
          "example": "PE",
          "description": "Pais"
        }
      },
      "description": "Entidad que representa informacion de direccion"
    },
    "Alias": {
      "type": "object",
      "properties": {
        "aliasId": {
          "type": "string",
          "description": "Identificador de tarjeta tokenizada"
        },
        "aliasName": {
          "type": "string",
          "description": "Alias almacenado en la boveda de tokenizacion"
        },
        "cvv2": {
          "type": "integer",
          "format": "int32",
          "description": "CVV2 de la tarjeta"
        },
        "requestCVV2": {
          "type": "boolean",
          "description": "Flag que indica si debe solicitarse CVV2 a la tarjeta tokenizada"
        },
        "userToken": {
          "type": "string",
          "description": "Identificador del token de usuario"
        }
      },
      "description": "Informacion de la tarejta tokenizada"
    },
    "Antifraud": {
      "type": "object",
      "required": [
        "clientIp"
      ],
      "properties": {
        "billingAddress": {
          "$ref": "#/definitions/Address"
        },
        "shippingAddress": {
          "$ref": "#/definitions/Address"
        },
        "clientIp": {
          "type": "string",
          "example": "24.212.107.30",
          "description": "Direccion IP del cliente"
        },
        "deviceFingerprintId": {
          "type": "string",
          "description": "Device Finger Print Id"
        },
        "merchantDefineData": {
          "type": "object",
          "description": "Datos adicionales definidos por el comercio",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Entidad que representa informacion de antifraude"
    },
    "Ardef": {
      "type": "object",
      "properties": {
        "bin": {
          "type": "string",
          "description": "Numero Bin"
        },
        "region": {
          "type": "string",
          "description": "Region"
        },
        "country": {
          "type": "string",
          "description": "Pais"
        },
        "fastFunds": {
          "type": "string",
          "description": "Fast Funds"
        },
        "product": {
          "$ref": "#/definitions/Dictionary"
        },
        "source": {
          "$ref": "#/definitions/Dictionary"
        }
      },
      "description": "Informacion del bin almacenada en ARDEF"
    },
    "BasicCard": {
      "type": "object",
      "required": [
        "binNumber",
        "last4Digits"
      ],
      "properties": {
        "binNumber": {
          "type": "string",
          "example": "402509",
          "description": "Bin de la tarjeta de credito (6 digits)"
        },
        "last4Digits": {
          "type": "string",
          "example": "0927",
          "description": "Ultimos 4 digitos tarjeta de credito"
        }
      },
      "description": "Datos basicos de la tarjeta"
    },
    "BasicOrder": {
      "type": "object",
      "required": [
        "amount",
        "currency"
      ],
      "properties": {
        "currency": {
          "type": "string",
          "example": "PEN",
          "description": "Moneda del monto a convertir",
          "enum": [
            "PEN",
            "USD"
          ]
        },
        "amount": {
          "type": "number",
          "format": "double",
          "example": 20.87,
          "description": "Monto a convertir"
        }
      },
      "description": "Detalle de la orden"
    },
    "Bin": {
      "type": "object",
      "properties": {
        "binNumber": {
          "type": "string",
          "description": "Identificador del bin de la tarjeta"
        },
        "binType": {
          "type": "string",
          "description": "Identificador del tipo bin"
        },
        "category": {
          "type": "string",
          "description": "Categoria a la que se ha asociado el bin"
        },
        "hasInstallments": {
          "type": "boolean",
          "description": "Indica si el bin permite cuotas"
        },
        "installments": {
          "type": "array",
          "description": "Listado de posibles cuotas",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additional": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Entidad que representa la parametrizacion del bin"
    },
    "Card": {
      "type": "object",
      "properties": {
        "cardNumber": {
          "type": "string",
          "example": "4551478422045511",
          "description": "Numero de tarjeta"
        },
        "expirationMonth": {
          "type": "integer",
          "format": "int32",
          "example": 12,
          "description": "Mes de expiracion"
        },
        "expirationYear": {
          "type": "integer",
          "format": "int32",
          "example": 2029,
          "description": "Expiration year"
        },
        "cvv2": {
          "type": "string",
          "example": "329",
          "description": "CVV2"
        },
        "sequenceNumber": {
          "type": "string",
          "example": "001",
          "description": "Numero de secuencia de la tarjeta"
        },
        "cardHolderName": {
          "type": "string",
          "example": "Pedro Galdamez",
          "description": "Nombre del tarjethabiente"
        },
        "tokenId": {
          "type": "string",
          "example": "7000100000002553",
          "description": "Identificador de tarjeta tokenizada, opcional y reemplaza los datos de la tarjeta"
        },
        "cardAliasName": {
          "type": "string",
          "example": "Debito 1",
          "description": "Dato opcional solo si se quiere tokenizar la tarjeta. Solo habilitado para comercios con el servicio de tokenizacion activo."
        },
        "verify": {
          "type": "boolean",
          "description": "Flag para activar verificaciones adicionales"
        },
        "track2": {
          "type": "string",
          "description": "Identificador de pista 2 obtenido via lector"
        },
        "emv": {
          "type": "string",
          "description": "Valor adicional para tarjetas con circuito integrado"
        },
        "cardNumberEnc": {
          "type": "string",
          "description": "Numero de tarjeta encriptado, reemplaza al numero de tarjeta en claro"
        },
        "track2Enc": {
          "type": "string",
          "description": "Datos de la pista 2 encriptados, reemplaza al campo en claro"
        },
        "emvEnc": {
          "type": "string",
          "description": "Datos del EMV encriptados, reemplaza al campo en claro"
        },
        "pinBlockEnc": {
          "type": "string",
          "description": "Pin de la tarjeta encriptado"
        },
        "ksnDukpt": {
          "type": "string",
          "description": "Clave unica derivada para la transaccion"
        },
        "encrypted": {
          "type": "boolean",
          "description": "Flag que indica si la tarjeta esta encryptada"
        },
        "visaCheckout": {
          "type": "boolean",
          "description": "Flag que indica si es visa checkout"
        },
        "registerFrequent": {
          "type": "boolean",
          "description": "Flag que indica si debe registrarse como tarjeta frecuente"
        },
        "useFrequent": {
          "type": "boolean",
          "description": "Flag que indica si debe usarse como tarjeta frecuente"
        }
      },
      "description": "Informacion de la tarejta"
    },
    "CardHolder": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string",
          "example": "Pedro",
          "description": "Nombre"
        },
        "lastName": {
          "type": "string",
          "example": "Galdamez",
          "description": "Apellido"
        },
        "email": {
          "type": "string",
          "example": "info@quiputech.com",
          "description": "Correo electronico"
        },
        "phoneNumber": {
          "type": "string",
          "example": "+51 1 2223333",
          "description": "Telefono"
        },
        "documentType": {
          "type": "string",
          "example": "DNI",
          "description": "Tipo de documento",
          "enum": [
            "DNI",
            "CE",
            "PAS"
          ]
        },
        "documentNumber": {
          "type": "string",
          "example": "E065199",
          "description": "Numero de documento"
        }
      },
      "description": "Informacion del tarjethabiente"
    },
    "CardToken": {
      "type": "object",
      "properties": {
        "tokenId": {
          "type": "string",
          "description": "Token de la tarjeta"
        },
        "cardNumber": {
          "type": "string",
          "description": "Numero de tarjeta"
        },
        "alias": {
          "type": "string",
          "example": "Debito 1",
          "description": "Alias"
        },
        "brand": {
          "type": "string",
          "example": "visa",
          "description": "Brand"
        },
        "bin": {
          "type": "integer",
          "format": "int32",
          "example": 424242,
          "description": "Numero Bin"
        },
        "binType": {
          "type": "string",
          "example": "D",
          "description": "Bin Type"
        },
        "lastFourDigits": {
          "type": "string",
          "example": "4242",
          "description": "Ultimos 4 digitos"
        },
        "expirationMonth": {
          "type": "integer",
          "format": "int32",
          "example": 12,
          "description": "Mes de expiracion"
        },
        "expirationYear": {
          "type": "integer",
          "format": "int32",
          "example": 2029,
          "description": "Expiration year"
        },
        "hasInstallments": {
          "type": "boolean",
          "description": "Flag que indica si tiene habilitado cuotas"
        },
        "requestCVV2": {
          "type": "boolean",
          "description": "Indica si debe solicitarse el CVV2"
        },
        "creationDate": {
          "type": "integer",
          "format": "int64",
          "description": "Fecha de creacion del token"
        },
        "installments": {
          "type": "array",
          "description": "Listado de quotas permitidas",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "description": "Tarjeta almacenada en la boveda de tokenizacion"
    },
    "ClientIpResponse": {
      "type": "object",
      "required": [
        "clientIp"
      ],
      "properties": {
        "clientIp": {
          "type": "string",
          "description": "Direccion IP publica del cliente"
        }
      },
      "description": "Respuesta de consulta de IP cliente"
    },
    "CurrencyConversion": {
      "type": "object",
      "properties": {
        "accepted": {
          "type": "boolean",
          "example": true,
          "description": "Indica si la conversion ha sido aceptada"
        },
        "eligibilityCode": {
          "type": "string",
          "example": "0",
          "description": "Valor retornado por Fintrax en la respuesta a la consulta de elegibilidad"
        },
        "currencyCode": {
          "type": "string",
          "description": "Codigo de moneda DCC. El codigo de moneda aplicable al PAN"
        },
        "currencyCodeAlpha": {
          "type": "string",
          "description": "Codigo de moneda DCC en texto. El codigo de moneda expresado en texto"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "Monto en moneda extranjera"
        },
        "exponent": {
          "type": "integer",
          "format": "int32",
          "description": "El exponente extranjero utilizado en dar formato al monto"
        },
        "exchangeRate": {
          "type": "number",
          "format": "double",
          "description": "Factor por el que el monto local es multiplicado para obtener el monto DCC"
        },
        "wholeSaleRate": {
          "type": "number",
          "format": "double",
          "description": "Tasa de conversion antes de que se aplique la comision"
        },
        "markup": {
          "type": "number",
          "format": "double",
          "description": "The Markup applied to the whole sale rate."
        },
        "rateSource": {
          "type": "string",
          "description": "Dynamic currency conversion foreign rates source"
        },
        "rateDate": {
          "type": "string",
          "description": "Fecha en la que se obtuvo el tipo de cambio. Expresado como MMdd."
        },
        "rateTime": {
          "type": "string",
          "description": "Hora en la que se obtuvo el tipo de cambio. Expresado como HHmmss"
        },
        "status": {
          "type": "string",
          "description": "Status de la peticion de conversion de moneda",
          "readOnly": true
        },
        "signature": {
          "type": "string",
          "description": "Firma de la peticion de conversion de moneda"
        }
      },
      "description": "Entidad que representa informacion de conversion de moneda"
    },
    "DCCRequest": {
      "type": "object",
      "required": [
        "card",
        "channel",
        "order",
        "terminalId"
      ],
      "properties": {
        "channel": {
          "type": "string",
          "example": "web",
          "description": "Canal de la transaccion",
          "enum": [
            "mobile",
            "web",
            "mpos",
            "host",
            "pos",
            "kiosk",
            "callcenter",
            "recurrent"
          ]
        },
        "terminalId": {
          "type": "string",
          "example": "12345678",
          "description": "Numero de Terminal"
        },
        "card": {
          "$ref": "#/definitions/BasicCard"
        },
        "order": {
          "$ref": "#/definitions/BasicOrder"
        }
      },
      "description": "Query dynamic currency conversion eligibility"
    },
    "DCCResponse": {
      "type": "object",
      "required": [
        "card",
        "currencyConversion",
        "header",
        "order"
      ],
      "properties": {
        "header": {
          "$ref": "#/definitions/Header"
        },
        "card": {
          "$ref": "#/definitions/BasicCard"
        },
        "order": {
          "$ref": "#/definitions/BasicOrder"
        },
        "currencyConversion": {
          "$ref": "#/definitions/CurrencyConversion"
        },
        "terms": {
          "$ref": "#/definitions/Terms"
        }
      },
      "description": "Response dynamic currency conversion eligibility"
    },
    "Dictionary": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Codigo del item"
        },
        "description": {
          "type": "string",
          "description": "Descripcion del item"
        }
      },
      "description": "Diccionario de elementos"
    },
    "Header": {
      "type": "object",
      "properties": {
        "ecoreTransactionUUID": {
          "type": "string",
          "description": "Identificador unico de transaccion para ecore"
        },
        "ecoreTransactionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Fecha de la operacion"
        },
        "millis": {
          "type": "integer",
          "format": "int32",
          "description": "Tiempo de ejecucion"
        }
      },
      "description": "Encabezado de la transaccion"
    },
    "Merchant": {
      "type": "object",
      "properties": {
        "merchantId": {
          "type": "string",
          "example": "10101010",
          "description": "Id de Comercio"
        },
        "groupCode": {
          "type": "string",
          "example": "18",
          "description": "Codigo de Grupo"
        },
        "ruc": {
          "type": "string",
          "example": "00341198217",
          "description": "Registro unico de contribuyente"
        },
        "name": {
          "type": "string",
          "example": "Time Machine",
          "description": "Nombre del comercio"
        },
        "currency": {
          "type": "string",
          "example": "PEN",
          "description": "Moneda",
          "enum": [
            "PEN",
            "USD"
          ]
        },
        "mcc": {
          "type": "string",
          "example": "6012",
          "description": "Codigo de categoria del comercio"
        },
        "phone": {
          "type": "string",
          "description": "Numero de telefono"
        },
        "email": {
          "type": "string",
          "example": "info@quiputech.com",
          "description": "Correo electronico"
        },
        "linkType": {
          "type": "string",
          "example": "URL",
          "description": "Tipo de link",
          "enum": [
            "URL",
            "BOTON"
          ]
        },
        "flow": {
          "type": "string",
          "example": "AUTH",
          "description": "Flujo a ejecutar"
        },
        "tokenizer": {
          "type": "boolean",
          "description": "Indicador de tokenizacion habilitada"
        },
        "recurrent": {
          "type": "boolean",
          "description": "Indicador de recurrencia habilitada"
        },
        "showNames": {
          "type": "boolean",
          "description": "Indicador de mostrar nombres habilitado"
        },
        "quotas": {
          "type": "boolean",
          "description": "Indicador de mostrar cuotas habilitado"
        },
        "active": {
          "type": "boolean",
          "description": "Indica si el comercio esta activo"
        }
      },
      "description": "Informacion del Comercio"
    },
    "MerchantConfiguration": {
      "type": "object",
      "required": [
        "active",
        "commerceCode",
        "commerceLogo",
        "currency",
        "email",
        "installments",
        "mcc",
        "merchantGroupId",
        "name",
        "payButtonEn",
        "payButtonEs",
        "phone",
        "recurrencyEnabled",
        "ruc",
        "showFirstNameLastNameEnabled",
        "subscribeButtonEn",
        "subscribeButtonEs",
        "tokenizationEnabled",
        "verifiedByVisaEnabled"
      ],
      "properties": {
        "ruc": {
          "type": "string",
          "example": "17319672356",
          "description": "Registro unico de contribuyente"
        },
        "merchantGroupId": {
          "type": "string",
          "example": "17",
          "description": "Identificador del grupo al que pertenece el comercio"
        },
        "name": {
          "type": "string",
          "example": "Comercio 17",
          "description": "Nombre del comercio"
        },
        "active": {
          "type": "boolean",
          "description": "Flag que indica si un comercio esta o no activo"
        },
        "email": {
          "type": "string",
          "description": "Correo electronico asociado al comercio"
        },
        "phone": {
          "type": "string",
          "description": "Numero de telefono asociado al comercio"
        },
        "tokenizationEnabled": {
          "type": "boolean",
          "description": "Flag que indica si el comercio puede acceder a la boveda de tokenizacion"
        },
        "recurrencyEnabled": {
          "type": "boolean",
          "description": "Flag que indica si el comercio puede realizar transacciones recurrentes"
        },
        "showFirstNameLastNameEnabled": {
          "type": "boolean",
          "description": "Flag para comercio electronico que indica si se deben enviar el nombre y apellido del tarjethabiente"
        },
        "installments": {
          "type": "boolean",
          "description": "Flag que indica si el comercio puede operar con cuotas"
        },
        "currency": {
          "type": "string",
          "description": "Identificador de la moneda configurada para el comercio"
        },
        "payButtonEs": {
          "type": "string",
          "description": "Texto del boton de pago en Espanol"
        },
        "payButtonEn": {
          "type": "string",
          "description": "Texto del boton de pago en Ingles"
        },
        "subscribeButtonEs": {
          "type": "string",
          "description": "Texto del boton de pago en Espanol para pago programado"
        },
        "subscribeButtonEn": {
          "type": "string",
          "description": "Texto del boton de pago en Ingles para pago programado"
        },
        "verifiedByVisaEnabled": {
          "type": "boolean",
          "description": "Flag que indica si el comercio participa de verified by visa"
        },
        "commerceLogo": {
          "type": "string",
          "description": "Logo asociado al comercio"
        },
        "commerceCode": {
          "type": "string",
          "description": "Identificador unico del comercio (MerchantId)"
        },
        "mcc": {
          "type": "string",
          "example": "1731",
          "description": "Merchant category code"
        }
      },
      "description": "Configuracion disponible para el comercio"
    },
    "Order": {
      "type": "object",
      "required": [
        "amount",
        "currency",
        "purchaseNumber"
      ],
      "properties": {
        "tokenId": {
          "type": "string",
          "example": "e29df880fb458dff08f16b891b21aa8b2b005e9028e59edcdb4320e1d98d91be",
          "description": "Id del token de transaccion para autorizacion en dos etapas"
        },
        "transactionToken": {
          "type": "string",
          "example": "e29df880fb458dff08f16b891b21aa8b2b005e9028e59edcdb4320e1d98d91be",
          "description": "Id del token de transaccion para autorizacion en dos etapas"
        },
        "purchaseNumber": {
          "type": "string",
          "example": "1234567890",
          "description": "Numero del pedido"
        },
        "productId": {
          "type": "string",
          "example": "102",
          "description": "Id del producto para la orden"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "Importe del pedido"
        },
        "installment": {
          "type": "integer",
          "format": "int32",
          "example": 1,
          "description": "Cuotas"
        },
        "currency": {
          "type": "string",
          "example": "PEN",
          "description": "Moneda",
          "enum": [
            "PEN",
            "USD"
          ]
        },
        "externalTransactionId": {
          "type": "string",
          "description": "Identificador unico de la transaccion enviado por el comercio"
        },
        "authorizedAmount": {
          "type": "number",
          "format": "double",
          "description": "Importe de la autorizacion",
          "readOnly": true
        },
        "authorizationCode": {
          "type": "string",
          "description": "Numero de la autorizacion"
        },
        "actionCode": {
          "type": "string",
          "description": "Codigo de accion",
          "readOnly": true
        },
        "actionDescription": {
          "type": "string",
          "example": "Aprovado",
          "description": "Descripcion del action code",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "example": "Authorized",
          "description": "Resultado de la orden",
          "readOnly": true
        },
        "traceNumber": {
          "type": "string",
          "example": "00004",
          "description": "Identificador unico de la transaccion generado en la autorizacion",
          "readOnly": true
        },
        "transactionDate": {
          "type": "string",
          "example": "170720231016",
          "description": "Fecha de la transaccion",
          "readOnly": true
        },
        "transactionId": {
          "type": "string",
          "example": "990172014359425",
          "description": "Identificador de la transaccion",
          "readOnly": true
        },
        "originalTransactionId": {
          "type": "string",
          "example": "990172014359425",
          "description": "Identificador de la transaccion original"
        },
        "originalTraceNumber": {
          "type": "string",
          "example": "7683",
          "description": "Trace number de la transaccion original a anular"
        },
        "originalDateTime": {
          "type": "string",
          "description": "Fecha de la transaccion original a anular"
        },
        "originalAmount": {
          "type": "number",
          "format": "double",
          "description": "Monto original de la orden, cuando se utilizara un monto diferente para la transaccion"
        },
        "billingAddress": {
          "$ref": "#/definitions/Address"
        },
        "shippingAddress": {
          "$ref": "#/definitions/Address"
        }
      },
      "description": "Entidad que representa la informacion del pedido"
    },
    "Recurrence": {
      "type": "object",
      "properties": {
        "beneficiaryId": {
          "type": "string",
          "description": "Identificador del beneficiario"
        },
        "beneficiaryFirstName": {
          "type": "string",
          "description": "Nombre del beneficiario"
        },
        "beneficiaryLastName": {
          "type": "string",
          "description": "Apellido del beneficiario"
        },
        "frequency": {
          "type": "string",
          "example": "monthly",
          "description": "Frecuencia de pago programado",
          "enum": [
            "annual",
            "biannual",
            "monthly",
            "quarterly"
          ]
        },
        "amount": {
          "type": "number",
          "format": "double",
          "example": 1,
          "description": "Importe del pago programado"
        },
        "maxAmount": {
          "type": "number",
          "format": "double",
          "example": 100,
          "description": "Valor maximo a aplicar del pago programado"
        },
        "type": {
          "type": "string",
          "example": "fixed",
          "description": "Tipo de pago programado",
          "enum": [
            "fixed",
            "fixedinitial",
            "variable",
            "variableinitial"
          ]
        }
      },
      "description": "Informacion para transacciones recurrentes"
    },
    "Sequence": {
      "type": "object",
      "properties": {
        "next": {
          "type": "integer",
          "format": "int32",
          "description": "Siguiente valor en secuencia"
        }
      },
      "description": "Definicion de nueva secuencia"
    },
    "SessionToken": {
      "type": "object",
      "properties": {
        "sessionKey": {
          "type": "string",
          "description": "Identificador de la sesion"
        },
        "expirationTime": {
          "type": "integer",
          "format": "int64",
          "description": "Fecha de expiracion del token"
        }
      },
      "description": "Identificacion unica de la sesion"
    },
    "SessionTokenRequest": {
      "type": "object",
      "required": [
        "amount",
        "antifraud",
        "channel",
        "dataMap"
      ],
      "properties": {
        "channel": {
          "type": "string",
          "description": "Canal desde donde se origino la transaccion"
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "Importe de la transaccion"
        },
        "recurrenceMaxAmount": {
          "type": "number",
          "format": "double",
          "description": "Importe maximo para pago programado recurrente"
        },
        "antifraud": {
          "$ref": "#/definitions/Antifraud"
        },
        "dataMap": {
          "type": "object",
          "description": "Informacion adicional enviada por el comercio",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maxAmountMandatory": {
          "type": "boolean"
        }
      },
      "description": "Request de creacion de sesion"
    },
    "Terms": {
      "type": "object",
      "properties": {
        "preDisclaimer": {
          "type": "string",
          "description": "The Disclaimer to be shown before Transaction is accept."
        },
        "postDisclaimer": {
          "type": "string",
          "description": "The Disclaimer to be shown before Transaction is accept."
        },
        "choiceText": {
          "type": "string",
          "description": "This text is to be displayed on the Equipment (not printed), showing the customers option of paying with their card currency or local currency"
        }
      },
      "description": "Terms, Conditions and Disclaimers"
    },
    "TokenListResponse": {
      "type": "object",
      "required": [
        "responseCode",
        "responseMessage"
      ],
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32",
          "example": 0,
          "description": "Codigo de respuesta"
        },
        "responseMessage": {
          "type": "string",
          "example": "0",
          "description": "Mensaje de respuesta"
        },
        "cards": {
          "type": "array",
          "description": "Listado de tarjetas tokenizadas",
          "items": {
            "$ref": "#/definitions/CardToken"
          }
        }
      },
      "description": "Listado de tarjetas tokenizadas"
    },
    "TokenResponse": {
      "type": "object",
      "required": [
        "responseCode",
        "responseMessage"
      ],
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32",
          "example": 0,
          "description": "Codigo de respuesta"
        },
        "responseMessage": {
          "type": "string",
          "example": "0",
          "description": "Mensaje de respuesta"
        }
      },
      "description": "Respuesta a consulta de token"
    },
    "TransactionToken": {
      "type": "object",
      "required": [
        "expiration",
        "mpi",
        "redirectToVbV",
        "tokenId"
      ],
      "properties": {
        "tokenId": {
          "type": "string",
          "description": "Identificador unico de la transaccion"
        },
        "expiration": {
          "type": "integer",
          "format": "int64",
          "description": "Fecha de expiracion del token de transaccion"
        },
        "redirectToVbV": {
          "type": "boolean",
          "description": "Indicador de participacion en verified by visa"
        },
        "mpi": {
          "type": "boolean",
          "description": "Indicador de participacion en mpi"
        },
        "dataMap": {
          "type": "object",
          "description": "Informacion adicional",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Respuesta de creacion de token para autorizacion"
    },
    "TransactionTokenRequest": {
      "type": "object",
      "required": [
        "card",
        "channel",
        "clientIp",
        "merchantId",
        "order"
      ],
      "properties": {
        "channel": {
          "type": "string",
          "example": "web",
          "description": "Canal desde donde se origino la transaccion",
          "enum": [
            "mobile",
            "web",
            "mpos",
            "host",
            "pos",
            "kiosk",
            "callcenter",
            "recurrent"
          ]
        },
        "merchantId": {
          "type": "string",
          "description": "Identificador unico del comercio"
        },
        "clientIp": {
          "type": "string",
          "description": "Ip del cliente que realiza la transaccion"
        },
        "callbackUrl": {
          "type": "string",
          "description": "URL de callback proporcionada por el cliente"
        },
        "antifraud": {
          "type": "string",
          "description": "Informacion adicional para antifraude"
        },
        "userBlockId": {
          "type": "string"
        },
        "card": {
          "$ref": "#/definitions/Card"
        },
        "customer": {
          "$ref": "#/definitions/CardHolder"
        },
        "order": {
          "$ref": "#/definitions/Order"
        },
        "alias": {
          "$ref": "#/definitions/Alias"
        },
        "recurrence": {
          "$ref": "#/definitions/Recurrence"
        },
        "currencyConversion": {
          "$ref": "#/definitions/CurrencyConversion"
        },
        "data": {
          "type": "object",
          "description": "Informacion adicional",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Request de creacion de token para autorizacion"
    },
    "VaultRequest": {
      "type": "object",
      "required": [
        "attribute",
        "block",
        "vault"
      ],
      "properties": {
        "vault": {
          "type": "string",
          "example": "508565935",
          "description": "Identificador unico de la boveda de tokenizacion"
        },
        "block": {
          "type": "string",
          "example": "info@quiputech.com",
          "description": "Identificador del bloque dentro de la boveda"
        },
        "attribute": {
          "type": "string",
          "example": "7000100000001373",
          "description": "Atributo identificativo del objeto almacenado en la boveda"
        }
      },
      "description": "Request para operar con la boveda de tokenizacion"
    }
  }
}
