{
  "openapi": "3.0.3",
  "info": {
    "title": "Roborabbit API",
    "description": "Roborabbit is a browser automation service. You design a browser automation in Roborabbit, it turns it into an API, and you use the API to run the automation and get the output.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.browserbear.com/"
  },
  "servers": [
    {
      "url": "https://api.roborabbit.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v2/auth": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify authentication",
        "description": "Verify that your API key is valid and check which workspace it belongs to.",
        "operationId": "verifyAuth",
        "responses": {
          "200": {
            "description": "Authentication verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account status",
        "description": "Check your account status including quota levels and current usage. Usage resets at the start of every month.",
        "operationId": "getAccount",
        "responses": {
          "200": {
            "description": "Account status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tasks/{uid}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Retrieve a task",
        "description": "Get details of a specific browser automation task.",
        "operationId": "getTask",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique ID of the task",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List all tasks",
        "description": "Get a paginated list of all browser automation tasks. Returns 25 items per page.",
        "operationId": "listTasks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tasks/{task_uid}/runs": {
      "post": {
        "tags": [
          "Runs"
        ],
        "summary": "Create a run",
        "description": "Start a new execution of a task. Runs execute asynchronously - you receive a 202 Accepted response immediately.",
        "operationId": "createRun",
        "parameters": [
          {
            "name": "task_uid",
            "in": "path",
            "required": true,
            "description": "The unique ID of the task to run",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRunRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Run accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - out of quota",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Runs"
        ],
        "summary": "List all runs",
        "description": "Get a paginated list of all runs for a task. Returns 25 items per page.",
        "operationId": "listRuns",
        "parameters": [
          {
            "name": "task_uid",
            "in": "path",
            "required": true,
            "description": "The unique ID of the task",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Run"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tasks/{task_uid}/runs/{uid}": {
      "get": {
        "tags": [
          "Runs"
        ],
        "summary": "Retrieve a run",
        "description": "Get details and status of a specific task run.",
        "operationId": "getRun",
        "parameters": [
          {
            "name": "task_uid",
            "in": "path",
            "required": true,
            "description": "The unique ID of the task",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique ID of the run",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run details retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/feeds": {
      "get": {
        "tags": [
          "Feeds"
        ],
        "summary": "List all feeds",
        "description": "Get a list of all custom JSON feeds in the workspace.",
        "operationId": "listFeeds",
        "responses": {
          "200": {
            "description": "List of feeds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Feed"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as Bearer token. Get your API key from the Roborabbit dashboard under API Keys."
      }
    },
    "schemas": {
      "AuthResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Authorized"
          },
          "workspace": {
            "type": "string",
            "example": "My Workspace"
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2022-12-01T03:48:23.228Z"
          },
          "uid": {
            "type": "string",
            "example": "x4p71qmnY1nD5obLdG"
          },
          "plan_name": {
            "type": "string",
            "example": "Roborabbit Automate"
          },
          "api_usage": {
            "type": "integer",
            "example": 28
          },
          "api_quota": {
            "type": "integer",
            "example": 36000
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "example": "Elon Screenshot"
          },
          "uid": {
            "type": "string",
            "example": "851LyQMwvZw2lrXKpq"
          },
          "viewport_width": {
            "type": "integer",
            "example": 1024
          },
          "viewport_height": {
            "type": "integer",
            "example": 768
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          }
        }
      },
      "Step": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "description": "The action type for this step",
            "example": "go"
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "description": "Configuration for this step"
          },
          "uid": {
            "type": "string",
            "example": "GNqV2ngBmly7O9dPRe"
          },
          "output": {
            "type": "string",
            "description": "Output from this step (e.g., screenshot URL)"
          }
        }
      },
      "Run": {
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "uid": {
            "type": "string",
            "example": "5dDvA47kyWQ2N61w3R"
          },
          "task": {
            "type": "string",
            "description": "The UID of the parent task",
            "example": "851LyQMwvZw2lrXKpq"
          },
          "video_url": {
            "type": "string",
            "format": "uri",
            "description": "Link to a video recording of the task running"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Step"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the run",
            "enum": [
              "pending",
              "running",
              "finished",
              "failed"
            ]
          },
          "finished_in_seconds": {
            "type": "integer",
            "description": "How long the run took to complete"
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Webhook URL to receive results"
          },
          "outputs": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            },
            "description": "Data outputs from steps"
          },
          "metadata": {
            "type": "string",
            "nullable": true,
            "description": "Custom metadata stored with the run"
          }
        }
      },
      "CreateRunRequest": {
        "type": "object",
        "properties": {
          "steps": {
            "type": "array",
            "description": "Array of step overrides. Include uid, action, and config for each step to modify.",
            "items": {
              "$ref": "#/components/schemas/StepOverride"
            }
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "A URL to POST the full Run object to upon finishing"
          },
          "metadata": {
            "type": "string",
            "description": "Any metadata to store, e.g., ID of a record in your DB"
          }
        }
      },
      "StepOverride": {
        "type": "object",
        "required": [
          "uid",
          "action",
          "config"
        ],
        "properties": {
          "uid": {
            "type": "string",
            "description": "The UID of the step to override"
          },
          "action": {
            "type": "string",
            "description": "The action type"
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "description": "Override config for the step"
          },
          "skip": {
            "type": "boolean",
            "description": "Set to true to skip this step for this run"
          }
        }
      },
      "Feed": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "example": "X52gd36yKgye0Za1Ao"
          },
          "name": {
            "type": "string",
            "example": "Bannerbear.com"
          },
          "description": {
            "type": "string",
            "example": "Scraping the Bannerbear blog"
          },
          "last_run_at": {
            "type": "string",
            "format": "date-time"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to access this feed's data"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication verification"
    },
    {
      "name": "Account",
      "description": "Account status and usage"
    },
    {
      "name": "Tasks",
      "description": "Browser automation tasks"
    },
    {
      "name": "Runs",
      "description": "Task execution runs"
    },
    {
      "name": "Feeds",
      "description": "Custom JSON feeds from task runs"
    }
  ]
}