{
  "openapi": "3.0.3",
  "info": {
    "title": "USAJOBS API",
    "description": "The USAJOBS API provides access to currently open US federal government job opportunity announcements, historical job data, and reference code lists. Designed for commercial job boards, mobile applications, and social media platforms.",
    "version": "1.0.0",
    "contact": {
      "name": "USAJOBS API Support",
      "email": "access@usajobs.gov",
      "url": "https://developer.usajobs.gov/"
    },
    "x-jentic-source-url": "https://developer.usajobs.gov/"
  },
  "servers": [
    {
      "url": "https://data.usajobs.gov",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": [],
      "userAgent": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Job search operations"
    },
    {
      "name": "Historical",
      "description": "Historical job announcement data"
    },
    {
      "name": "Code Lists",
      "description": "Reference data code lists"
    }
  ],
  "paths": {
    "/api/Search": {
      "get": {
        "operationId": "searchJobs",
        "summary": "Search job announcements",
        "description": "Retrieve currently open job opportunity announcements matching the specified criteria. Supports extensive filtering by keyword, location, salary, grade, agency, and more.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "Keyword",
            "in": "query",
            "description": "Search keyword or synonyms.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PositionTitle",
            "in": "query",
            "description": "Contains search on job titles (e.g. Psychologist, IT Specialist).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RemunerationMinimumAmount",
            "in": "query",
            "description": "Minimum salary filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "RemunerationMaximumAmount",
            "in": "query",
            "description": "Maximum salary filter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PayGradeLow",
            "in": "query",
            "description": "Beginning GS pay grade (01-15).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 15
            }
          },
          {
            "name": "PayGradeHigh",
            "in": "query",
            "description": "Ending GS pay grade (01-15).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 15
            }
          },
          {
            "name": "JobCategoryCode",
            "in": "query",
            "description": "Occupational series codes. Semicolon-delimited for multiple values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "City or military installation name. Semicolon-delimited for multiple values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Radius",
            "in": "query",
            "description": "Distance in miles from LocationName.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Organization",
            "in": "query",
            "description": "Agency subelement codes. Semicolon-delimited.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PositionOfferingTypeCode",
            "in": "query",
            "description": "Work type codes. Semicolon-delimited.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TravelPercentage",
            "in": "query",
            "description": "Travel requirement. 0=Not Required, 1=Occasional, 2=25% or less, 5=50% or less, 7=75% or less, 8=76% or greater.",
            "schema": {
              "type": "integer",
              "enum": [0, 1, 2, 5, 7, 8]
            }
          },
          {
            "name": "PositionScheduleTypeCode",
            "in": "query",
            "description": "Schedule type. 1=Full-Time, 2=Part-Time, 3=Shift, 4=Intermittent, 5=Job Sharing, 6=Multiple.",
            "schema": {
              "type": "integer",
              "enum": [1, 2, 3, 4, 5, 6]
            }
          },
          {
            "name": "RelocationIndicator",
            "in": "query",
            "description": "Whether relocation assistance is available.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SecurityClearanceRequired",
            "in": "query",
            "description": "Security clearance level. 0=Not Required, 1=Confidential, 2=Secret, 3=Top Secret, 4=SCI, 5=Q, 7=L, 8=Other. Semicolon-delimited.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SupervisoryStatus",
            "in": "query",
            "description": "Supervisory status filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DatePosted",
            "in": "query",
            "description": "Posts within 0-60 days.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 60
            }
          },
          {
            "name": "JobGradeCode",
            "in": "query",
            "description": "Pay plan codes. Semicolon-delimited.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortField",
            "in": "query",
            "description": "Field to sort results by.",
            "schema": {
              "type": "string",
              "enum": [
                "opendate",
                "closedate",
                "organizationname",
                "jobtitle",
                "positiontitle",
                "salarymin",
                "location",
                "department",
                "title",
                "agency",
                "salary"
              ]
            }
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["Asc", "Desc"]
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page number for results.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "ResultsPerPage",
            "in": "query",
            "description": "Number of results per page (1-500).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            }
          },
          {
            "name": "WhoMayApply",
            "in": "query",
            "description": "Eligibility filter.",
            "schema": {
              "type": "string",
              "enum": ["All", "Public", "Status"]
            }
          },
          {
            "name": "Fields",
            "in": "query",
            "description": "Response detail level. Min returns summary, Full returns complete details.",
            "schema": {
              "type": "string",
              "enum": ["Min", "Full"]
            }
          },
          {
            "name": "SalaryBucket",
            "in": "query",
            "description": "Salary range groupings. Semicolon-delimited.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GradeBucket",
            "in": "query",
            "description": "Grade groupings. Semicolon-delimited.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HiringPath",
            "in": "query",
            "description": "Hiring path filter (e.g. public, vet, disability, student). Semicolon-delimited.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MissionCriticalTags",
            "in": "query",
            "description": "Mission critical tags (e.g. STEM). Semicolon-delimited.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RemoteIndicator",
            "in": "query",
            "description": "True for remote-only jobs, False to exclude remote.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/HistoricJoa": {
      "get": {
        "operationId": "getHistoricJoa",
        "summary": "Get historical job announcements",
        "description": "Retrieve historical job opportunity announcement data.",
        "tags": ["Historical"],
        "parameters": [
          {
            "name": "PositionTitle",
            "in": "query",
            "description": "Filter by position title.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Organization",
            "in": "query",
            "description": "Filter by agency code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ResultsPerPage",
            "in": "query",
            "description": "Results per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical job data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/HistoricJoa/AnnouncementText": {
      "get": {
        "operationId": "getHistoricJoaAnnouncementText",
        "summary": "Get historical announcement text",
        "description": "Retrieve the full text of historical job opportunity announcements.",
        "tags": ["Historical"],
        "parameters": [
          {
            "name": "AnnouncementNumber",
            "in": "query",
            "description": "Specific announcement number to retrieve.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with announcement text.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Announcement not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/codelist/hiringpaths": {
      "get": {
        "operationId": "getHiringPaths",
        "summary": "Get hiring path codes",
        "description": "Retrieve the list of hiring path reference codes.",
        "tags": ["Code Lists"],
        "responses": {
          "200": {
            "description": "Successful response with hiring path codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeList"
                }
              }
            }
          }
        }
      }
    },
    "/api/codelist/occupationalseries": {
      "get": {
        "operationId": "getOccupationalSeries",
        "summary": "Get occupational series codes",
        "description": "Retrieve the list of occupational series reference codes.",
        "tags": ["Code Lists"],
        "responses": {
          "200": {
            "description": "Successful response with occupational series codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeList"
                }
              }
            }
          }
        }
      }
    },
    "/api/codelist/payplans": {
      "get": {
        "operationId": "getPayPlans",
        "summary": "Get pay plan codes",
        "description": "Retrieve the list of pay plan reference codes.",
        "tags": ["Code Lists"],
        "responses": {
          "200": {
            "description": "Successful response with pay plan codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeList"
                }
              }
            }
          }
        }
      }
    },
    "/api/codelist/positionscheduletypes": {
      "get": {
        "operationId": "getPositionScheduleTypes",
        "summary": "Get position schedule type codes",
        "description": "Retrieve the list of position schedule type reference codes.",
        "tags": ["Code Lists"],
        "responses": {
          "200": {
            "description": "Successful response with schedule type codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeList"
                }
              }
            }
          }
        }
      }
    },
    "/api/codelist/countries": {
      "get": {
        "operationId": "getCountries",
        "summary": "Get country codes",
        "description": "Retrieve the list of country reference codes.",
        "tags": ["Code Lists"],
        "responses": {
          "200": {
            "description": "Successful response with country codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeList"
                }
              }
            }
          }
        }
      }
    },
    "/api/codelist/securityclearances": {
      "get": {
        "operationId": "getSecurityClearances",
        "summary": "Get security clearance codes",
        "description": "Retrieve the list of security clearance reference codes.",
        "tags": ["Code Lists"],
        "responses": {
          "200": {
            "description": "Successful response with security clearance codes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CodeList"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization-Key",
        "description": "API key obtained by registering at developer.usajobs.gov."
      },
      "userAgent": {
        "type": "apiKey",
        "in": "header",
        "name": "User-Agent",
        "description": "Email address used during API key registration. Required with every request."
      }
    },
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "LanguageCode": {
            "type": "string",
            "description": "Response language code."
          },
          "SearchParameters": {
            "type": "object",
            "description": "Echo of the query parameters used."
          },
          "SearchResult": {
            "$ref": "#/components/schemas/SearchResult"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "SearchResultCount": {
            "type": "integer",
            "description": "Number of records in the current response."
          },
          "SearchResultCountAll": {
            "type": "integer",
            "description": "Total number of matching records."
          },
          "SearchResultItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResultItem"
            }
          },
          "UserArea": {
            "type": "object",
            "description": "Refiners and pagination metadata."
          }
        }
      },
      "SearchResultItem": {
        "type": "object",
        "properties": {
          "MatchedObjectId": {
            "type": "string"
          },
          "MatchedObjectDescriptor": {
            "$ref": "#/components/schemas/JobAnnouncement"
          },
          "RelevanceRank": {
            "type": "number"
          }
        }
      },
      "JobAnnouncement": {
        "type": "object",
        "properties": {
          "PositionID": {
            "type": "string",
            "description": "Job announcement number."
          },
          "PositionTitle": {
            "type": "string",
            "description": "Job title."
          },
          "PositionURI": {
            "type": "string",
            "format": "uri",
            "description": "URL to view the job on USAJOBS."
          },
          "ApplyURI": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Application URLs."
          },
          "PositionLocationDisplay": {
            "type": "string",
            "description": "Location summary."
          },
          "PositionLocation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PositionLocation"
            }
          },
          "OrganizationName": {
            "type": "string",
            "description": "Agency offering the position."
          },
          "DepartmentName": {
            "type": "string",
            "description": "Department name."
          },
          "JobCategory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodedItem"
            }
          },
          "JobGrade": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodedItem"
            }
          },
          "PositionSchedule": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodedItem"
            }
          },
          "PositionOfferingType": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CodedItem"
            }
          },
          "QualificationSummary": {
            "type": "string",
            "description": "Qualification requirements overview."
          },
          "PositionRemuneration": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Remuneration"
            }
          },
          "PositionStartDate": {
            "type": "string",
            "format": "date-time",
            "description": "When the application period opens."
          },
          "PositionEndDate": {
            "type": "string",
            "format": "date-time",
            "description": "Last posting date."
          },
          "PublicationStartDate": {
            "type": "string",
            "format": "date-time",
            "description": "When the announcement was posted."
          },
          "ApplicationCloseDate": {
            "type": "string",
            "format": "date-time",
            "description": "Application deadline."
          },
          "PositionFormattedDescription": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Content": {
                  "type": "string"
                },
                "Label": {
                  "type": "string"
                },
                "LabelDescription": {
                  "type": "string"
                }
              }
            }
          },
          "UserArea": {
            "type": "object",
            "properties": {
              "Details": {
                "$ref": "#/components/schemas/JobDetails"
              }
            }
          }
        }
      },
      "PositionLocation": {
        "type": "object",
        "properties": {
          "LocationName": {
            "type": "string"
          },
          "CountryCode": {
            "type": "string"
          },
          "CountrySubDivisionCode": {
            "type": "string"
          },
          "CityName": {
            "type": "string"
          },
          "Longitude": {
            "type": "number"
          },
          "Latitude": {
            "type": "number"
          }
        }
      },
      "JobDetails": {
        "type": "object",
        "properties": {
          "MajorDuties": {
            "type": "string"
          },
          "Education": {
            "type": "string"
          },
          "Requirements": {
            "type": "string"
          },
          "Evaluations": {
            "type": "string"
          },
          "HowToApply": {
            "type": "string"
          },
          "WhatToExpectNext": {
            "type": "string"
          },
          "RequiredDocuments": {
            "type": "string"
          },
          "Benefits": {
            "type": "string"
          },
          "BenefitsUrl": {
            "type": "string",
            "format": "uri"
          },
          "OtherInformation": {
            "type": "string"
          },
          "KeyRequirements": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "JobSummary": {
            "type": "string"
          },
          "WhoMayApply": {
            "type": "object",
            "properties": {
              "Name": {
                "type": "string"
              },
              "Code": {
                "type": "string"
              }
            }
          },
          "LowGrade": {
            "type": "string"
          },
          "HighGrade": {
            "type": "string"
          },
          "SubAgencyName": {
            "type": "string"
          },
          "OrganizationCodes": {
            "type": "string",
            "description": "Slash-separated organization codes."
          }
        }
      },
      "Remuneration": {
        "type": "object",
        "properties": {
          "MinimumRange": {
            "type": "string"
          },
          "MaximumRange": {
            "type": "string"
          },
          "RateIntervalCode": {
            "type": "string",
            "description": "Salary interval (e.g. Per Year, Per Hour)."
          },
          "Description": {
            "type": "string"
          }
        }
      },
      "CodedItem": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Code": {
            "type": "string"
          }
        }
      },
      "CodeList": {
        "type": "object",
        "properties": {
          "CodeList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ValidValue": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Code": {
                        "type": "string"
                      },
                      "Value": {
                        "type": "string"
                      },
                      "IsDisabled": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code."
          }
        }
      }
    }
  }
}
