{
  "openapi": "3.0.3",
  "info": {
    "title": "Abstract IP Geolocation API",
    "description": "Abstract's IP Geolocation API allows you to look up the location, timezone, country details, currency, security data, and more for any IPv4 or IPv6 address. Covers 4 billion+ IPs across 2.25+ million unique locations and 250,000+ cities worldwide. Data is updated at least weekly.",
    "version": "1.0.0",
    "contact": {
      "name": "Abstract API",
      "url": "https://www.abstractapi.com"
    },
    "x-jentic-source-url": "https://www.abstractapi.com/ip-geolocation-api"
  },
  "servers": [
    {
      "url": "https://ipgeolocation.abstractapi.com/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Geolocation",
      "description": "IP geolocation lookup operations"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": ["Geolocation"],
        "summary": "Geolocate an IP address",
        "description": "Takes an IP address (IPv4 or IPv6) and returns location, timezone, country details, currency, ASN, security flags, and more.",
        "operationId": "geolocateIp",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your unique API key for authentication",
            "schema": { "type": "string" }
          },
          {
            "name": "ip_address",
            "in": "query",
            "required": true,
            "description": "The IPv4 or IPv6 address to geolocate",
            "schema": { "type": "string" },
            "example": "166.171.248.255"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of response fields to include (returns all if omitted)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GeolocationResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid IP address or parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "422": {
            "description": "Unprocessable entity - request understood but cannot be processed"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key for authentication, obtained from Abstract API dashboard"
      }
    },
    "schemas": {
      "GeolocationResponse": {
        "type": "object",
        "properties": {
          "ip_address": {
            "type": "string",
            "description": "The IP address that was looked up"
          },
          "city": {
            "type": "string",
            "description": "City name"
          },
          "city_geoname_id": {
            "type": "integer",
            "description": "GeoNames city ID"
          },
          "region": {
            "type": "string",
            "description": "Region/state name"
          },
          "region_iso_code": {
            "type": "string",
            "description": "ISO region code"
          },
          "region_geoname_id": {
            "type": "integer",
            "description": "GeoNames region ID"
          },
          "postal_code": {
            "type": "string",
            "description": "Postal/ZIP code"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "country_code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "country_geoname_id": {
            "type": "integer",
            "description": "GeoNames country ID"
          },
          "country_is_eu": {
            "type": "boolean",
            "description": "Whether the country is in the EU"
          },
          "continent": {
            "type": "string",
            "description": "Continent name"
          },
          "continent_code": {
            "type": "string",
            "description": "Continent code"
          },
          "continent_geoname_id": {
            "type": "integer",
            "description": "GeoNames continent ID"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude"
          },
          "security": { "$ref": "#/components/schemas/SecurityInfo" },
          "timezone": { "$ref": "#/components/schemas/TimezoneInfo" },
          "flag": { "$ref": "#/components/schemas/FlagInfo" },
          "currency": { "$ref": "#/components/schemas/CurrencyInfo" },
          "connection": { "$ref": "#/components/schemas/ConnectionInfo" }
        }
      },
      "SecurityInfo": {
        "type": "object",
        "properties": {
          "is_vpn": { "type": "boolean", "description": "Whether the IP is a known VPN" },
          "is_proxy": { "type": "boolean", "description": "Whether the IP is a known proxy" },
          "is_tor": { "type": "boolean", "description": "Whether the IP is a Tor exit node" },
          "is_hosting": { "type": "boolean", "description": "Whether the IP belongs to a hosting provider" },
          "is_relay": { "type": "boolean", "description": "Whether the IP is a known relay" },
          "is_mobile": { "type": "boolean", "description": "Whether the IP is a mobile connection" },
          "is_abuse": { "type": "boolean", "description": "Whether the IP has been flagged for abuse" }
        }
      },
      "TimezoneInfo": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "IANA timezone name" },
          "abbreviation": { "type": "string", "description": "Timezone abbreviation" },
          "gmt_offset": { "type": "integer", "description": "GMT offset in hours" },
          "current_time": { "type": "string", "description": "Current local time" },
          "is_dst": { "type": "boolean", "description": "Whether DST is active" }
        }
      },
      "FlagInfo": {
        "type": "object",
        "properties": {
          "emoji": { "type": "string", "description": "Country flag emoji" },
          "unicode": { "type": "string", "description": "Flag emoji unicode" },
          "png": { "type": "string", "format": "uri", "description": "URL to PNG flag image" },
          "svg": { "type": "string", "format": "uri", "description": "URL to SVG flag image" }
        }
      },
      "CurrencyInfo": {
        "type": "object",
        "properties": {
          "currency_name": { "type": "string", "description": "Currency name" },
          "currency_code": { "type": "string", "description": "ISO currency code" }
        }
      },
      "ConnectionInfo": {
        "type": "object",
        "properties": {
          "autonomous_system_number": { "type": "integer", "description": "ASN number" },
          "autonomous_system_organization": { "type": "string", "description": "ASN organization name" },
          "connection_type": { "type": "string", "description": "Connection type" },
          "isp_name": { "type": "string", "description": "ISP name" },
          "organization_name": { "type": "string", "description": "Organization name" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": { "type": "string", "description": "Error message" },
              "code": { "type": "string", "description": "Error code" },
              "details": { "type": "string", "description": "Error details" }
            }
          }
        }
      }
    }
  }
}
