{
  "openapi": "3.0.3",
  "info": {
    "title": "BuiltWith Domain API",
    "description": "BuiltWith Domain API provides access to technology information of websites, including all technical information as found on detailed lookups at builtwith.com and additional metadata where available.",
    "version": "22.0.0",
    "x-jentic-source-url": "https://www.builtwith.com/api"
  },
  "servers": [
    {
      "url": "https://api.builtwith.com",
      "description": "BuiltWith API Production"
    }
  ],
  "paths": {
    "/v22/api.json": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Get domain technology profile (JSON)",
        "operationId": "getDomainJson",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LOOKUP",
            "in": "query",
            "required": true,
            "description": "Domain to lookup",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "HIDETEXT",
            "in": "query",
            "description": "Hide descriptive text",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "HIDEDL",
            "in": "query",
            "description": "Hide dead links",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "NOMETA",
            "in": "query",
            "description": "Exclude meta data",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain technology data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - invalid API key"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/v22/api.xml": {
      "get": {
        "tags": [
          "Domain"
        ],
        "summary": "Get domain technology profile (XML)",
        "operationId": "getDomainXml",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LOOKUP",
            "in": "query",
            "required": true,
            "description": "Domain to lookup",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain technology data in XML",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/free1/api.json": {
      "get": {
        "tags": [
          "Free"
        ],
        "summary": "Free domain technology lookup",
        "operationId": "getFreeDomainJson",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LOOKUP",
            "in": "query",
            "required": true,
            "description": "Domain to lookup",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Free domain technology data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FreeDomainResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/rv1/api.json": {
      "get": {
        "tags": [
          "Relationships"
        ],
        "summary": "Get domain relationships",
        "operationId": "getDomainRelationships",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LOOKUP",
            "in": "query",
            "required": true,
            "description": "Domain to lookup",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain relationships",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipsResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/lists8/api.json": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get technology list",
        "operationId": "getList",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECH",
            "in": "query",
            "required": true,
            "description": "Technology name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "META",
            "in": "query",
            "description": "Include meta data",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Technology list results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/ctu2/api.json": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Company name to URL lookup",
        "operationId": "companyToUrl",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "COMPANY",
            "in": "query",
            "required": true,
            "description": "Company name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company URL result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/trends3/api.json": {
      "get": {
        "tags": [
          "Trends"
        ],
        "summary": "Get technology trends",
        "operationId": "getTrends",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TECH",
            "in": "query",
            "required": true,
            "description": "Technology name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Technology trend data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendsResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/kw7/api.json": {
      "get": {
        "tags": [
          "Keywords"
        ],
        "summary": "Get domain keywords",
        "operationId": "getKeywords",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LOOKUP",
            "in": "query",
            "required": true,
            "description": "Domain to lookup",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Keyword data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordsResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/redirect2/api.json": {
      "get": {
        "tags": [
          "Redirects"
        ],
        "summary": "Get domain redirects",
        "operationId": "getRedirects",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LOOKUP",
            "in": "query",
            "required": true,
            "description": "Domain to lookup",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Redirect data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedirectsResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/social2/api.json": {
      "get": {
        "tags": [
          "Social"
        ],
        "summary": "Get domain social media profiles",
        "operationId": "getSocial",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LOOKUP",
            "in": "query",
            "required": true,
            "description": "Domain to lookup",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Social media data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SocialResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/trust2/api.json": {
      "get": {
        "tags": [
          "Trust"
        ],
        "summary": "Get domain trust score",
        "operationId": "getTrustScore",
        "parameters": [
          {
            "name": "KEY",
            "in": "query",
            "required": true,
            "description": "API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LOOKUP",
            "in": "query",
            "required": true,
            "description": "Domain to lookup",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trust score data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DomainResult": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DomainResultItem"
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "DomainResultItem": {
        "type": "object",
        "properties": {
          "Result": {
            "type": "object",
            "properties": {
              "Paths": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PathInfo"
                }
              },
              "IsDB": {
                "type": "boolean"
              },
              "Spend": {
                "type": "integer"
              },
              "SalesRevenue": {
                "type": "string"
              }
            }
          },
          "Meta": {
            "type": "object"
          },
          "Attributes": {
            "type": "object"
          },
          "Lookup": {
            "type": "string"
          }
        }
      },
      "PathInfo": {
        "type": "object",
        "properties": {
          "FirstIndexed": {
            "type": "string",
            "format": "date-time"
          },
          "LastIndexed": {
            "type": "string",
            "format": "date-time"
          },
          "Domain": {
            "type": "string"
          },
          "Url": {
            "type": "string"
          },
          "SubDomain": {
            "type": "string"
          },
          "Technologies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Technology"
            }
          }
        }
      },
      "Technology": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Tag": {
            "type": "string"
          },
          "Description": {
            "type": "string"
          },
          "Link": {
            "type": "string"
          },
          "Categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "FirstDetected": {
            "type": "string",
            "format": "date-time"
          },
          "LastDetected": {
            "type": "string",
            "format": "date-time"
          },
          "IsPremium": {
            "type": "string"
          }
        }
      },
      "FreeDomainResult": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "RelationshipsResult": {
        "type": "object",
        "properties": {
          "Relationships": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ListResult": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CompanyResult": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TrendsResult": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "KeywordsResult": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "RedirectsResult": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "SocialResult": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "TrustResult": {
        "type": "object",
        "properties": {
          "Results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string"
          },
          "Code": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "KEY",
        "description": "BuiltWith API key. Can also be provided as Authorization: API {key} header."
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Domain",
      "description": "Domain technology lookups"
    },
    {
      "name": "Lists",
      "description": "Technology list operations"
    },
    {
      "name": "Relationships",
      "description": "Domain relationship lookups"
    },
    {
      "name": "Free",
      "description": "Free tier endpoints"
    },
    {
      "name": "Company",
      "description": "Company to URL lookups"
    },
    {
      "name": "Trends",
      "description": "Technology trends"
    },
    {
      "name": "Keywords",
      "description": "Keyword analysis"
    },
    {
      "name": "Redirects",
      "description": "Domain redirect analysis"
    },
    {
      "name": "Social",
      "description": "Social media lookups"
    },
    {
      "name": "Trust",
      "description": "Domain trust analysis"
    }
  ]
}