{
  "openapi": "3.0.3",
  "info": {
    "title": "Arventa WHS Monitor API",
    "version": "1.0.0",
    "description": "WHS Monitor is a modular, cloud-based Work Health and Safety compliance management software by Arventa. This API provides endpoints for managing workers, locations, departments, checklists, chemicals, incident reports, risk assessments, and more.",
    "x-jentic-source-url": "https://www.arventa.com.au/api/swagger/index.html"
  },
  "servers": [
    {
      "url": "https://www.arventa.com.au/api"
    }
  ],
  "paths": {
    "/v1/Actions": {
      "get": {
        "operationId": "getActions",
        "summary": "Retrieve actions with pagination",
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Assets/{type}": {
      "get": {
        "operationId": "getAssetsByType",
        "summary": "Fetch assets by type with pagination",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/AuditLogs": {
      "get": {
        "operationId": "getAuditLogs",
        "summary": "Retrieve audit logs with optional date filtering",
        "tags": [
          "AuditLogs"
        ],
        "parameters": [
          {
            "name": "DateRun",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DateRunFrom",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DateRunTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Checklist/Type": {
      "get": {
        "operationId": "getChecklistTypes",
        "summary": "List checklist types",
        "tags": [
          "Checklists"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChecklistType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Checklist/Template/{templateTypeId}": {
      "get": {
        "operationId": "getChecklistTemplatesByType",
        "summary": "Get checklist templates by type",
        "tags": [
          "Checklists"
        ],
        "parameters": [
          {
            "name": "templateTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChecklistTemplate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Checklist": {
      "post": {
        "operationId": "createChecklist",
        "summary": "Create a new checklist",
        "tags": [
          "Checklists"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostChecklistRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostChecklistResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Chemical/SDSLinkByStorageAsync": {
      "get": {
        "operationId": "getSDSLinkByStorage",
        "summary": "Fetch SDS links by storage",
        "tags": [
          "Chemicals"
        ],
        "parameters": [
          {
            "name": "StorageID",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChemicalSDSLink"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Chemical/StorageBySiteAsync": {
      "get": {
        "operationId": "getStorageBySite",
        "summary": "Retrieve chemical storage by site",
        "tags": [
          "Chemicals"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StorageV2"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Departments": {
      "get": {
        "operationId": "getDepartments",
        "summary": "List all departments",
        "tags": [
          "Departments"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DivisionResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/IncidentReport": {
      "get": {
        "operationId": "getIncidentReports",
        "summary": "Retrieve incident reports",
        "tags": [
          "IncidentReports"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Locations": {
      "get": {
        "operationId": "getLocations",
        "summary": "Query locations",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "referenceKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocationResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLocation",
        "summary": "Create a new location",
        "tags": [
          "Locations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Locations/{locationId}": {
      "get": {
        "operationId": "getLocationById",
        "summary": "Get a specific location by ID",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateLocation",
        "summary": "Update a location",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "operationId": "deleteLocation",
        "summary": "Delete a location",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "operationId": "patchLocation",
        "summary": "Partially update a location",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/RiskAssessor/{type}": {
      "get": {
        "operationId": "getRiskAssessorData",
        "summary": "Fetch risk assessment data by type",
        "tags": [
          "RiskAssessments"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Roles": {
      "get": {
        "operationId": "getWorkerRoles",
        "summary": "Retrieve worker roles",
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createRole",
        "summary": "Create a new worker role",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "RoleName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Sites": {
      "get": {
        "operationId": "getSites",
        "summary": "List all sites",
        "tags": [
          "Sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SiteResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSiteWorker",
        "summary": "Create a worker for a site",
        "tags": [
          "Sites"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteWorkerProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Sites/{sitekey}/Storages": {
      "get": {
        "operationId": "getSiteStorages",
        "summary": "Get storages for a site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "sitekey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StorageV2"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Sites/{sitekey}/Users/Roles": {
      "post": {
        "operationId": "assignSiteUserRoles",
        "summary": "Assign user roles for a site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "sitekey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRoleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Sites/{sitekey}/Workers/Divisions": {
      "post": {
        "operationId": "assignSiteWorkerDivisions",
        "summary": "Assign worker divisions for a site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "sitekey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignWorkerDivisionDepartment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Sites/{siteKey}/Workers": {
      "get": {
        "operationId": "getSiteWorkers",
        "summary": "Get workers for a site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "siteKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referenceKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkerProfileResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSiteWorkerBySiteKey",
        "summary": "Create a worker for a specific site",
        "tags": [
          "Sites"
        ],
        "parameters": [
          {
            "name": "siteKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteWorkerProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Storages": {
      "get": {
        "operationId": "getStorages",
        "summary": "List all storages",
        "tags": [
          "Storages"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StorageV2"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Subscription/{applicationName}": {
      "patch": {
        "operationId": "updateSubscription",
        "summary": "Update a subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "applicationName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdentifier"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Users/Activation/{status}": {
      "put": {
        "operationId": "setUserActivationStatus",
        "summary": "Activate or deactivate a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Users/Sites": {
      "post": {
        "operationId": "assignUserSites",
        "summary": "Assign sites to a user",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignSiteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Users/Roles": {
      "post": {
        "operationId": "assignUserRoles",
        "summary": "Assign roles to a user",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRoleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Users/Details": {
      "get": {
        "operationId": "getUserDetails",
        "summary": "Get user details",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "application",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Workers": {
      "get": {
        "operationId": "getWorkers",
        "summary": "List workers with optional filtering",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "referenceKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkerProfileResponseV4"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWorker",
        "summary": "Create a new worker",
        "tags": [
          "Workers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerProfileRequestV3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "operationId": "deactivateWorker",
        "summary": "Deactivate a worker",
        "tags": [
          "Workers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdentifier"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Workers/{storeUserId}": {
      "get": {
        "operationId": "getWorkerById",
        "summary": "Get a worker by ID",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerProfileResponseV4"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateWorker",
        "summary": "Update a worker profile",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "patch": {
        "operationId": "patchWorker",
        "summary": "Partially update a worker profile",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchProfileRequestV4"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Workers/{storeUserId}/Departments": {
      "get": {
        "operationId": "getWorkerDepartments",
        "summary": "Get departments for a worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkerDivisionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateWorkerDepartments",
        "summary": "Update worker departments",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DivisionRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "operationId": "createWorkerDepartment",
        "summary": "Add a department to a worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DivisionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Workers/{storeUserId}/Departments/{workerDepartmentId}": {
      "get": {
        "operationId": "getWorkerDepartmentById",
        "summary": "Get a specific worker department",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workerDepartmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerDivisionResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateWorkerDepartmentById",
        "summary": "Update a specific worker department",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workerDepartmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DivisionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkerDepartment",
        "summary": "Remove a department from a worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workerDepartmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Workers/{storeUserId}/Locations": {
      "get": {
        "operationId": "getWorkerLocations",
        "summary": "Get locations for a worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkerLocationResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/Workers/{storeUserId}/Locations/{locationId}": {
      "get": {
        "operationId": "getWorkerLocationById",
        "summary": "Get a specific worker location",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerLocationResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "assignWorkerLocation",
        "summary": "Assign a location to a worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "operationId": "removeWorkerLocation",
        "summary": "Remove a location from a worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Workers/Activation/{status}": {
      "put": {
        "operationId": "setWorkerActivationStatus",
        "summary": "Activate or deactivate a worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserIdentifier"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Workers/{storeUserId}/Deactivate": {
      "put": {
        "operationId": "deactivateWorkerById",
        "summary": "Deactivate a specific worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerActivationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Workers/{storeUserId}/Reactivate": {
      "put": {
        "operationId": "reactivateWorkerById",
        "summary": "Reactivate a specific worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerActivationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Workers/Divisions": {
      "post": {
        "operationId": "assignWorkerDivisions",
        "summary": "Assign divisions to a worker",
        "tags": [
          "Workers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignWorkerDivisionDepartment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Workers/{storeUserId}/ReportTo/{reportsToStoreUserId}": {
      "put": {
        "operationId": "assignWorkerReportsTo",
        "summary": "Assign a reporting manager to a worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "reportsToStoreUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Workers/{storeUserId}/Roles": {
      "get": {
        "operationId": "getWorkerRolesById",
        "summary": "Get roles for a specific worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "assignWorkerRole",
        "summary": "Assign a role to a worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/v1/Workers/{storeUserId}/Roles/{roleId}": {
      "get": {
        "operationId": "getWorkerRoleById",
        "summary": "Get a specific role for a worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "assignWorkerRoleById",
        "summary": "Assign a specific role to a worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "operationId": "removeWorkerRole",
        "summary": "Remove a role from a worker",
        "tags": [
          "Workers"
        ],
        "parameters": [
          {
            "name": "storeUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Please enter JWT Bearer token"
      }
    },
    "schemas": {
      "AuditLog": {
        "type": "object",
        "properties": {
          "dateRun": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "details": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "ChecklistType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ChecklistTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "PostChecklistRequest": {
        "type": "object",
        "required": [
          "internalNo",
          "title"
        ],
        "properties": {
          "checklistTemplateId": {
            "type": "integer",
            "format": "int32"
          },
          "internalNo": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "personResponsibleId": {
            "type": "integer",
            "format": "int32"
          },
          "locationID": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PostChecklistResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "checklistUrl": {
            "type": "string"
          }
        }
      },
      "ChemicalSDSLink": {
        "type": "object",
        "properties": {
          "productID": {
            "type": "integer",
            "format": "int32"
          },
          "productName": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          },
          "sdsLink": {
            "type": "string"
          },
          "productCode": {
            "type": "string"
          }
        }
      },
      "StorageV2": {
        "type": "object",
        "properties": {
          "storageID": {
            "type": "integer",
            "format": "int32"
          },
          "storageName": {
            "type": "string"
          },
          "storageAddress": {
            "type": "string"
          },
          "storageKey": {
            "type": "string"
          }
        }
      },
      "DivisionResponse": {
        "type": "object",
        "properties": {
          "divisionId": {
            "type": "integer",
            "format": "int32"
          },
          "divisionName": {
            "type": "string"
          },
          "departments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DepartmentResponse"
            }
          }
        }
      },
      "DepartmentResponse": {
        "type": "object",
        "properties": {
          "departmentId": {
            "type": "integer",
            "format": "int32"
          },
          "departmentName": {
            "type": "string"
          }
        }
      },
      "LocationResponse": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "integer",
            "format": "int32"
          },
          "address": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "referenceKey": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "LocationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "referenceKey": {
            "type": "string"
          }
        }
      },
      "RoleResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "roleId": {
            "type": "integer",
            "format": "int32"
          },
          "roleName": {
            "type": "string"
          }
        }
      },
      "SiteResponse": {
        "type": "object",
        "properties": {
          "siteKey": {
            "type": "string"
          },
          "siteName": {
            "type": "string"
          }
        }
      },
      "UserRoleRequest": {
        "type": "object",
        "required": [
          "permissionRoles",
          "uniqueUserIdentifier"
        ],
        "properties": {
          "permissionRoles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "uniqueUserIdentifier": {
            "type": "string"
          }
        }
      },
      "UserRequest": {
        "type": "object",
        "properties": {
          "userName": {
            "type": "string"
          },
          "expiryDate": {
            "type": "string",
            "default": "1900-01-01"
          }
        }
      },
      "UserIdentifier": {
        "type": "object",
        "required": [
          "uniqueUserIdentifier"
        ],
        "properties": {
          "uniqueUserIdentifier": {
            "type": "string"
          }
        }
      },
      "AssignSiteRequest": {
        "type": "object",
        "required": [
          "uniqueUserIdentifier"
        ],
        "properties": {
          "sites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteRoleRequest"
            }
          },
          "uniqueUserIdentifier": {
            "type": "string"
          }
        }
      },
      "SiteRoleRequest": {
        "type": "object",
        "properties": {
          "siteKey": {
            "type": "string"
          },
          "permissionRoles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WorkerProfileRequest": {
        "type": "object",
        "properties": {
          "referenceKey": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "permissionRoles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createUserAccount": {
            "type": "boolean"
          },
          "sendPasswordLink": {
            "type": "boolean"
          },
          "allowMultifactorAuthentication": {
            "type": "boolean"
          },
          "workerProfile": {
            "$ref": "#/components/schemas/WorkerProfileDetail"
          },
          "siteKeys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "WorkerProfileRequestV3": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "emailAddress",
          "sites"
        ],
        "properties": {
          "referenceKey": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "createUserAccount": {
            "type": "boolean"
          },
          "sendPasswordLink": {
            "type": "boolean"
          },
          "allowMultifactorAuthentication": {
            "type": "boolean"
          },
          "workerProfile": {
            "$ref": "#/components/schemas/WorkerProfileDetail"
          },
          "sites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteKeyPermissions"
            }
          }
        }
      },
      "WorkerProfileDetail": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string"
          },
          "usi": {
            "type": "string"
          },
          "otherKnownName": {
            "type": "string"
          },
          "sex": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "mobileNumber": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "employeeRoles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "employeeCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "personalEmailAddress": {
            "type": "string"
          },
          "homeAddress": {
            "$ref": "#/components/schemas/AddressDetail"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/EmergencyContact"
          },
          "reportsToWorkerId": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "dateEmployed": {
            "type": "string"
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "workPhone": {
            "type": "string"
          },
          "workPhoneExtension": {
            "type": "string"
          },
          "workMobile": {
            "type": "string"
          },
          "departments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DivisionRequest"
            }
          },
          "storageKeys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "approvalResponsibility": {
            "$ref": "#/components/schemas/ApprovalResponsibility"
          }
        }
      },
      "AddressDetail": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "EmergencyContact": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "relationship": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          }
        }
      },
      "DivisionRequest": {
        "type": "object",
        "properties": {
          "divisionName": {
            "type": "string"
          },
          "departmentName": {
            "type": "string"
          },
          "programmeName": {
            "type": "string"
          }
        }
      },
      "ApprovalResponsibility": {
        "type": "object",
        "properties": {
          "allowCheck": {
            "type": "boolean"
          },
          "allowReview": {
            "type": "boolean"
          },
          "allowAuthorise": {
            "type": "boolean"
          },
          "allowApprove": {
            "type": "boolean"
          },
          "allowReject": {
            "type": "boolean"
          },
          "allowTrainingAssess": {
            "type": "boolean"
          }
        }
      },
      "SiteWorkerProfileRequest": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "emailAddress",
          "permissionRoles"
        ],
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "permissionRoles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createUserAccount": {
            "type": "boolean"
          },
          "sendPasswordLink": {
            "type": "boolean"
          },
          "allowMultifactorAuthentication": {
            "type": "boolean"
          },
          "workerProfile": {
            "$ref": "#/components/schemas/SiteWorkerProfileDetail"
          }
        }
      },
      "SiteWorkerProfileDetail": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string"
          },
          "usi": {
            "type": "string"
          },
          "otherKnownName": {
            "type": "string"
          },
          "sex": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "mobileNumber": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "personalEmailAddress": {
            "type": "string"
          },
          "homeAddress": {
            "$ref": "#/components/schemas/AddressDetail"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/EmergencyContact"
          },
          "reportsTo": {
            "$ref": "#/components/schemas/ReportsToRequest"
          },
          "jobTitle": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "dateEmployed": {
            "type": "string"
          },
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocationInput"
            }
          },
          "divisions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DivisionInput"
            }
          },
          "workPhone": {
            "type": "string"
          },
          "workPhoneExtension": {
            "type": "string"
          },
          "workMobile": {
            "type": "string"
          },
          "storageKeys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "approvalResponsibility": {
            "$ref": "#/components/schemas/ApprovalResponsibility"
          }
        }
      },
      "ReportsToRequest": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        }
      },
      "LocationInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "DivisionInput": {
        "type": "object",
        "properties": {
          "divisionName": {
            "type": "string"
          },
          "departmentName": {
            "type": "string"
          }
        }
      },
      "SiteKeyPermissions": {
        "type": "object",
        "properties": {
          "siteKey": {
            "type": "string"
          },
          "permissionRoles": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "AssignWorkerDivisionDepartment": {
        "type": "object",
        "required": [
          "divisions",
          "uniqueUserIdentifier"
        ],
        "properties": {
          "divisions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DivisionInput"
            }
          },
          "uniqueUserIdentifier": {
            "type": "string"
          }
        }
      },
      "UpdateProfileRequest": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "emailAddress",
          "uniqueUserIndentifier",
          "workerProfile"
        ],
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "workerProfile": {
            "$ref": "#/components/schemas/UpdateWorkerProfileDetail"
          },
          "siteKeys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateWorkerProfileDetail": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string"
          },
          "usi": {
            "type": "string"
          },
          "otherKnownName": {
            "type": "string"
          },
          "sex": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "mobileNumber": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "personalEmailAddress": {
            "type": "string"
          },
          "homeAddress": {
            "$ref": "#/components/schemas/AddressDetail"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/EmergencyContact"
          },
          "reportsToWorkerId": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "dateEmployed": {
            "type": "string"
          },
          "workPhone": {
            "type": "string"
          },
          "workPhoneExtension": {
            "type": "string"
          },
          "workMobile": {
            "type": "string"
          },
          "approvalResponsibility": {
            "$ref": "#/components/schemas/ApprovalResponsibility"
          },
          "employeeRoles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "employeeCategories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "departments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DivisionRequest"
            }
          }
        }
      },
      "PatchProfileRequestV4": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "workerProfile": {
            "$ref": "#/components/schemas/PatchWorkerProfileDetail"
          },
          "sites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteKeyPermissions"
            }
          }
        }
      },
      "PatchWorkerProfileDetail": {
        "type": "object",
        "properties": {
          "employeeRoles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "workerId": {
            "type": "string"
          },
          "usi": {
            "type": "string"
          },
          "otherKnownName": {
            "type": "string"
          },
          "sex": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "mobileNumber": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "personalEmailAddress": {
            "type": "string"
          },
          "homeAddress": {
            "$ref": "#/components/schemas/AddressDetail"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/EmergencyContact"
          },
          "reportsToId": {
            "type": "integer",
            "format": "int32"
          },
          "jobTitle": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "dateEmployed": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "workPhone": {
            "type": "string"
          },
          "workPhoneExtension": {
            "type": "string"
          },
          "workMobile": {
            "type": "string"
          },
          "approvalResponsibility": {
            "$ref": "#/components/schemas/ApprovalResponsibility"
          }
        }
      },
      "WorkerProfileResponse": {
        "type": "object",
        "properties": {
          "storeUserId": {
            "type": "integer",
            "format": "int32"
          },
          "referenceKey": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "permissionRoles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PermissionRoleResponse"
            }
          },
          "workerProfile": {
            "$ref": "#/components/schemas/WorkerProfileResponseDetail"
          },
          "isActive": {
            "type": "boolean"
          },
          "sites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteResponse"
            }
          }
        }
      },
      "WorkerProfileResponseV4": {
        "type": "object",
        "properties": {
          "storeUserId": {
            "type": "integer",
            "format": "int32"
          },
          "referenceKey": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "workerProfile": {
            "$ref": "#/components/schemas/WorkerProfileResponseDetail"
          },
          "isActive": {
            "type": "boolean"
          },
          "sites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SiteResponseV4"
            }
          }
        }
      },
      "SiteResponseV4": {
        "type": "object",
        "properties": {
          "siteKey": {
            "type": "string"
          },
          "siteName": {
            "type": "string"
          },
          "permissionRoles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PermissionRoleResponse"
            }
          }
        }
      },
      "PermissionRoleResponse": {
        "type": "object",
        "properties": {
          "permissionRoleId": {
            "type": "integer",
            "format": "int32"
          },
          "permissionRoleName": {
            "type": "string"
          }
        }
      },
      "WorkerProfileResponseDetail": {
        "type": "object",
        "properties": {
          "workerId": {
            "type": "string"
          },
          "usi": {
            "type": "string"
          },
          "otherKnownName": {
            "type": "string"
          },
          "sex": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "mobileNumber": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "personalEmailAddress": {
            "type": "string"
          },
          "homeAddress": {
            "$ref": "#/components/schemas/AddressDetailResponse"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/EmergencyContact"
          },
          "reportsTo": {
            "$ref": "#/components/schemas/ReportsToResponse"
          },
          "jobTitle": {
            "type": "string"
          },
          "employeeCategories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmployeeCategory"
            }
          },
          "dateEmployed": {
            "type": "string"
          },
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocationNameResponse"
            }
          },
          "departments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkerDivisionResponse"
            }
          },
          "workPhone": {
            "type": "string"
          },
          "workPhoneExtension": {
            "type": "string"
          },
          "workMobile": {
            "type": "string"
          },
          "storageKeys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "employeeRoles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmployeeRoleResponse"
            }
          },
          "approvalResponsibility": {
            "$ref": "#/components/schemas/ApprovalResponsibility"
          }
        }
      },
      "AddressDetailResponse": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "locationType": {
            "type": "string"
          }
        }
      },
      "ReportsToResponse": {
        "type": "object",
        "properties": {
          "storeUserId": {
            "type": "integer",
            "format": "int32"
          },
          "workerId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        }
      },
      "EmployeeCategory": {
        "type": "object",
        "properties": {
          "employeeCategoryId": {
            "type": "integer",
            "format": "int32"
          },
          "employeeCategoryName": {
            "type": "string"
          }
        }
      },
      "LocationNameResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "locationType": {
            "type": "string"
          }
        }
      },
      "WorkerDivisionResponse": {
        "type": "object",
        "properties": {
          "workerDepartmentId": {
            "type": "integer",
            "format": "int32"
          },
          "divisionId": {
            "type": "integer",
            "format": "int32"
          },
          "divisionName": {
            "type": "string"
          },
          "departmentId": {
            "type": "integer",
            "format": "int32"
          },
          "departmentName": {
            "type": "string"
          },
          "programmeId": {
            "type": "integer",
            "format": "int32"
          },
          "programmeName": {
            "type": "string"
          }
        }
      },
      "EmployeeRoleResponse": {
        "type": "object",
        "properties": {
          "employeeRoleId": {
            "type": "integer",
            "format": "int32"
          },
          "employeeRoleName": {
            "type": "string"
          }
        }
      },
      "WorkerLocationResponse": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "town": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "locationType": {
            "type": "string"
          }
        }
      },
      "WorkerActivationResponse": {
        "type": "object",
        "properties": {
          "storeUserId": {
            "type": "integer",
            "format": "int32"
          },
          "uniqueUserIndentifier": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Actions",
      "description": "Action management"
    },
    {
      "name": "Assets",
      "description": "Asset management"
    },
    {
      "name": "AuditLogs",
      "description": "Audit log retrieval"
    },
    {
      "name": "Checklists",
      "description": "Checklist management"
    },
    {
      "name": "Chemicals",
      "description": "Chemical and SDS management"
    },
    {
      "name": "Departments",
      "description": "Department management"
    },
    {
      "name": "IncidentReports",
      "description": "Incident report management"
    },
    {
      "name": "Locations",
      "description": "Location management"
    },
    {
      "name": "RiskAssessments",
      "description": "Risk assessment management"
    },
    {
      "name": "Roles",
      "description": "Worker role management"
    },
    {
      "name": "Sites",
      "description": "Site management"
    },
    {
      "name": "Storages",
      "description": "Storage management"
    },
    {
      "name": "Subscriptions",
      "description": "Subscription management"
    },
    {
      "name": "Users",
      "description": "User account management"
    },
    {
      "name": "Workers",
      "description": "Worker profile management"
    }
  ]
}