{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudinary Upload API",
    "version": "1.0.0",
    "description": "The Cloudinary Upload API is a rate-unlimited RESTful API that enables uploading media assets and provides asset management, metadata management, and asset generation capabilities. Supports Basic Authentication and signature-based authentication.",
    "x-jentic-source-url": "https://cloudinary.com/documentation/image_upload_api_reference",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.cloudinary.com/v1_1/{cloud_name}",
      "variables": {
        "cloud_name": {
          "default": "demo",
          "description": "Your Cloudinary product environment cloud name"
        }
      }
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Asset Management",
      "description": "Upload, rename, destroy and manage assets"
    },
    {
      "name": "Metadata",
      "description": "Tags and context metadata management"
    }
  ],
  "paths": {
    "/{resource_type}/upload": {
      "post": {
        "operationId": "uploadAsset",
        "summary": "Upload an asset",
        "description": "Uploads a media asset to the Cloudinary product environment. Supports signed and unsigned uploads.",
        "tags": [
          "Asset Management"
        ],
        "parameters": [
          {
            "name": "resource_type",
            "in": "path",
            "required": true,
            "description": "Type of the resource to upload. Valid values: image, raw, video, auto.",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "raw",
                "video",
                "auto"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{resource_type}/explicit": {
      "post": {
        "operationId": "explicitAsset",
        "summary": "Apply actions to an existing asset",
        "description": "Applies actions such as transformations, tags, metadata to an already uploaded asset without re-uploading it.",
        "tags": [
          "Asset Management"
        ],
        "parameters": [
          {
            "name": "resource_type",
            "in": "path",
            "required": true,
            "description": "Type of the resource",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "raw",
                "video"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExplicitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actions applied successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{resource_type}/rename": {
      "post": {
        "operationId": "renameAsset",
        "summary": "Rename an asset",
        "description": "Renames an asset by changing its public ID.",
        "tags": [
          "Asset Management"
        ],
        "parameters": [
          {
            "name": "resource_type",
            "in": "path",
            "required": true,
            "description": "Type of the resource",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "raw",
                "video"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset renamed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/{resource_type}/destroy": {
      "post": {
        "operationId": "destroyAsset",
        "summary": "Destroy an asset",
        "description": "Destroys (deletes) an asset by its public ID.",
        "tags": [
          "Asset Management"
        ],
        "parameters": [
          {
            "name": "resource_type",
            "in": "path",
            "required": true,
            "description": "Type of the resource",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "raw",
                "video"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DestroyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset destroyed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DestroyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/download_backup": {
      "get": {
        "operationId": "downloadBackup",
        "summary": "Download a backed-up asset",
        "description": "Gets a specific version of a backed-up asset.",
        "tags": [
          "Asset Management"
        ],
        "parameters": [
          {
            "name": "asset_id",
            "in": "query",
            "description": "The asset ID of the backed-up resource",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version_id",
            "in": "query",
            "description": "The version ID of the backed-up resource",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backup download URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/{resource_type}/tags": {
      "post": {
        "operationId": "manageTags",
        "summary": "Manage asset tags",
        "description": "Add, remove, or replace tags for one or more assets.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "resource_type",
            "in": "path",
            "required": true,
            "description": "Type of the resource",
            "schema": {
              "type": "string",
              "enum": [
                "image",
                "raw",
                "video"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic Authentication using Cloudinary API Key and API Secret."
      }
    },
    "schemas": {
      "UploadRequest": {
        "type": "object",
        "required": [
          "file"
        ],
        "properties": {
          "file": {
            "type": "string",
            "description": "The file to upload \u2014 local path, URL, Base64 data URI, or FTP address."
          },
          "public_id": {
            "type": "string",
            "description": "Public ID for the uploaded asset."
          },
          "upload_preset": {
            "type": "string",
            "description": "Name of an upload preset to apply."
          },
          "folder": {
            "type": "string",
            "description": "Target folder path."
          },
          "tags": {
            "type": "string",
            "description": "Comma-separated list of tag names."
          },
          "context": {
            "type": "string",
            "description": "Key-value pairs of contextual metadata (key=value|key2=value2)."
          },
          "use_filename": {
            "type": "boolean",
            "description": "Use the original filename as the public ID."
          },
          "unique_filename": {
            "type": "boolean",
            "description": "Add random characters to public ID to ensure uniqueness."
          },
          "overwrite": {
            "type": "boolean",
            "description": "Overwrite existing asset with same public ID."
          },
          "resource_type": {
            "type": "string",
            "description": "Resource type (auto to auto-detect)."
          },
          "type": {
            "type": "string",
            "description": "Delivery type (upload, private, authenticated)."
          },
          "quality_analysis": {
            "type": "boolean",
            "description": "Include quality analysis in the response."
          },
          "colors": {
            "type": "boolean",
            "description": "Include color information in the response."
          },
          "categorization": {
            "type": "string",
            "description": "Add-on to use for auto-categorization."
          },
          "auto_tagging": {
            "type": "number",
            "description": "Threshold for automatic tagging (0-1)."
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp (for signature-based auth)."
          },
          "api_key": {
            "type": "string",
            "description": "API key (for signature-based auth)."
          },
          "signature": {
            "type": "string",
            "description": "Authentication signature (for signature-based auth)."
          }
        }
      },
      "ExplicitRequest": {
        "type": "object",
        "required": [
          "public_id"
        ],
        "properties": {
          "public_id": {
            "type": "string",
            "description": "The public ID of the existing asset."
          },
          "type": {
            "type": "string",
            "description": "The delivery type."
          },
          "tags": {
            "type": "string",
            "description": "Comma-separated list of tag names."
          },
          "context": {
            "type": "string",
            "description": "Contextual metadata."
          }
        }
      },
      "RenameRequest": {
        "type": "object",
        "required": [
          "from_public_id",
          "to_public_id"
        ],
        "properties": {
          "from_public_id": {
            "type": "string",
            "description": "Current public ID of the asset."
          },
          "to_public_id": {
            "type": "string",
            "description": "New public ID for the asset."
          },
          "overwrite": {
            "type": "boolean",
            "description": "Overwrite if to_public_id already exists."
          }
        }
      },
      "DestroyRequest": {
        "type": "object",
        "required": [
          "public_id"
        ],
        "properties": {
          "public_id": {
            "type": "string",
            "description": "Public ID of the asset to destroy."
          },
          "type": {
            "type": "string",
            "description": "The delivery type."
          },
          "invalidate": {
            "type": "boolean",
            "description": "Whether to invalidate CDN cached copies."
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "properties": {
          "public_id": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          },
          "signature": {
            "type": "string"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "format": {
            "type": "string"
          },
          "resource_type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bytes": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "secure_url": {
            "type": "string"
          },
          "asset_id": {
            "type": "string"
          }
        }
      },
      "DestroyResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "description": "Result of the destroy operation (e.g., 'ok')."
          }
        }
      },
      "TagsRequest": {
        "type": "object",
        "required": [
          "tag",
          "public_ids",
          "command"
        ],
        "properties": {
          "tag": {
            "type": "string",
            "description": "The tag name."
          },
          "public_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of public IDs."
          },
          "command": {
            "type": "string",
            "enum": [
              "add",
              "remove",
              "replace",
              "remove_all"
            ],
            "description": "The tag command."
          }
        }
      },
      "TagsResponse": {
        "type": "object",
        "properties": {
          "public_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authorization required",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
