{
  "openapi": "3.0.3",
  "info": {
    "title": "Agility Writer API",
    "version": "1.0.0",
    "description": "REST API for programmatic access to Agility Writer's AI-powered long-form, SEO-optimized article generation. Start jobs, check completion status, and publish content.",
    "x-jentic-source-url": "https://apidocs.agilitywriter.ai/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://app.agilitywriter.ai/api/v1",
      "description": "Agility Writer Production API"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "createArticle",
        "summary": "Create a new article",
        "description": "Initiates generation of a new long-form, SEO-optimized article.",
        "tags": [
          "Articles"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateArticleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Article creation initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{articleId}": {
      "get": {
        "operationId": "getArticle",
        "summary": "Get article status and content",
        "description": "Retrieves the status and content of a generated article.",
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Article details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateArticleRequest": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": "string",
            "description": "Target keyword or topic for the article"
          },
          "language": {
            "type": "string",
            "description": "Language code for the article"
          },
          "webhookUrl": {
            "type": "string",
            "description": "URL to receive completion notification"
          }
        },
        "required": [
          "keyword"
        ]
      },
      "ArticleResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "content": {
            "type": "string",
            "description": "Generated article content in HTML"
          },
          "keyword": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Articles"
    }
  ]
}
