{
  "openapi": "3.0.3",
  "info": {
    "title": "Cyfe Push API",
    "version": "1.0.0",
    "description": "Cyfe Push API for pushing data into dashboard widgets from external applications.",
    "x-jentic-source-url": "https://www.cyfe.com/api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://www.cyfe.com"
    }
  ],
  "paths": {
    "/api/push/{widget_id}": {
      "post": {
        "operationId": "pushWidgetData",
        "summary": "Push data to a dashboard widget",
        "tags": [
          "Push Data"
        ],
        "parameters": [
          {
            "name": "widget_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Widget-specific API endpoint ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data pushed successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Push data to a dashboard widget"
      }
    }
  },
  "components": {
    "schemas": {
      "PushDataRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "onduplicate": {
            "type": "object"
          },
          "color": {
            "type": "object"
          },
          "type": {
            "type": "object"
          },
          "cumulative": {
            "type": "object"
          },
          "average": {
            "type": "object"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Push Data"
    }
  ]
}
