{
  "openapi": "3.0.3",
  "info": {
    "title": "Napster API",
    "description": "The Napster API provides access to the Napster music catalog including artists, albums, tracks, genres, playlists, and streaming. Supports search, metadata retrieval, and user library management.",
    "version": "2.2",
    "contact": {
      "name": "Napster Developer",
      "url": "https://developer.napster.com"
    },
    "termsOfService": "https://www.napster.com/legal/api-terms-of-use",
    "x-jentic-source-url": "https://developer.napster.com/api/v2.2"
  },
  "servers": [
    {
      "url": "https://api.napster.com/v2.2",
      "description": "Napster API v2.2 production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    { "name": "Artists", "description": "Artist metadata and catalog" },
    { "name": "Albums", "description": "Album metadata and catalog" },
    { "name": "Tracks", "description": "Track metadata and catalog" },
    { "name": "Search", "description": "Search the Napster catalog" },
    { "name": "Genres", "description": "Music genres" },
    { "name": "Playlists", "description": "Playlist operations" },
    { "name": "Members", "description": "Member/user operations" },
    { "name": "Stations", "description": "Radio stations" },
    { "name": "Tags", "description": "Content tags" }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "search",
        "summary": "Search the catalog",
        "description": "Search the Napster catalog for artists, albums, tracks, and playlists.",
        "tags": ["Search"],
        "parameters": [
          { "name": "query", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Search query string" },
          { "name": "type", "in": "query", "schema": { "type": "string", "enum": ["artist", "album", "track", "playlist"] }, "description": "Filter results by type" },
          { "name": "per_type_limit", "in": "query", "schema": { "type": "integer", "default": 10 }, "description": "Maximum results per type" },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 }, "description": "Pagination offset" }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SearchResults" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/artists/top": {
      "get": {
        "operationId": "getTopArtists",
        "summary": "Get top artists",
        "description": "Retrieve the most popular artists on Napster.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "List of top artists",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArtistList" }
              }
            }
          }
        }
      }
    },
    "/artists/{artistId}": {
      "get": {
        "operationId": "getArtist",
        "summary": "Get artist details",
        "description": "Retrieve metadata for a specific artist.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "artistId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "The artist ID" }
        ],
        "responses": {
          "200": {
            "description": "Artist details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArtistDetail" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/artists/{artistId}/albums": {
      "get": {
        "operationId": "getArtistAlbums",
        "summary": "Get artist's albums",
        "description": "Retrieve albums for a specific artist.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "artistId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Artist's albums",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AlbumList" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/artists/{artistId}/tracks/top": {
      "get": {
        "operationId": "getArtistTopTracks",
        "summary": "Get artist's top tracks",
        "description": "Retrieve the most popular tracks for a specific artist.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "artistId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Artist's top tracks",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TrackList" }
              }
            }
          }
        }
      }
    },
    "/artists/{artistId}/similar": {
      "get": {
        "operationId": "getSimilarArtists",
        "summary": "Get similar artists",
        "description": "Retrieve artists similar to the specified artist.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "artistId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Similar artists",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArtistList" }
              }
            }
          }
        }
      }
    },
    "/artists/{artistId}/images": {
      "get": {
        "operationId": "getArtistImages",
        "summary": "Get artist images",
        "description": "Retrieve available images for a specific artist.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "artistId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Artist images",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ImageList" }
              }
            }
          }
        }
      }
    },
    "/artists/{artistId}/bio": {
      "get": {
        "operationId": "getArtistBio",
        "summary": "Get artist biography",
        "description": "Retrieve the biography for a specific artist.",
        "tags": ["Artists"],
        "parameters": [
          { "name": "artistId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Artist biography",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bio": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "bio": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/albums/{albumId}": {
      "get": {
        "operationId": "getAlbum",
        "summary": "Get album details",
        "description": "Retrieve metadata for a specific album.",
        "tags": ["Albums"],
        "parameters": [
          { "name": "albumId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "The album ID" }
        ],
        "responses": {
          "200": {
            "description": "Album details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AlbumDetail" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/albums/{albumId}/tracks": {
      "get": {
        "operationId": "getAlbumTracks",
        "summary": "Get album tracks",
        "description": "Retrieve the tracklist for a specific album.",
        "tags": ["Albums"],
        "parameters": [
          { "name": "albumId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 200 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Album's tracks",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TrackList" }
              }
            }
          }
        }
      }
    },
    "/albums/{albumId}/images": {
      "get": {
        "operationId": "getAlbumImages",
        "summary": "Get album images",
        "description": "Retrieve available images for a specific album.",
        "tags": ["Albums"],
        "parameters": [
          { "name": "albumId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Album images",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ImageList" }
              }
            }
          }
        }
      }
    },
    "/albums/top": {
      "get": {
        "operationId": "getTopAlbums",
        "summary": "Get top albums",
        "description": "Retrieve the most popular albums on Napster.",
        "tags": ["Albums"],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Top albums",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AlbumList" }
              }
            }
          }
        }
      }
    },
    "/albums/new": {
      "get": {
        "operationId": "getNewAlbums",
        "summary": "Get new album releases",
        "description": "Retrieve newly released albums.",
        "tags": ["Albums"],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "New albums",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AlbumList" }
              }
            }
          }
        }
      }
    },
    "/tracks/{trackId}": {
      "get": {
        "operationId": "getTrack",
        "summary": "Get track details",
        "description": "Retrieve metadata for a specific track.",
        "tags": ["Tracks"],
        "parameters": [
          { "name": "trackId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "The track ID" }
        ],
        "responses": {
          "200": {
            "description": "Track details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TrackDetail" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/tracks/top": {
      "get": {
        "operationId": "getTopTracks",
        "summary": "Get top tracks",
        "description": "Retrieve the most popular tracks on Napster.",
        "tags": ["Tracks"],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Top tracks",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TrackList" }
              }
            }
          }
        }
      }
    },
    "/genres": {
      "get": {
        "operationId": "getGenres",
        "summary": "Get all genres",
        "description": "Retrieve the list of all available music genres.",
        "tags": ["Genres"],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "List of genres",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenreList" }
              }
            }
          }
        }
      }
    },
    "/genres/{genreId}": {
      "get": {
        "operationId": "getGenre",
        "summary": "Get genre details",
        "description": "Retrieve details for a specific genre.",
        "tags": ["Genres"],
        "parameters": [
          { "name": "genreId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Genre details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/GenreDetail" }
              }
            }
          }
        }
      }
    },
    "/genres/{genreId}/artists/top": {
      "get": {
        "operationId": "getGenreTopArtists",
        "summary": "Get top artists for genre",
        "description": "Retrieve the top artists within a specific genre.",
        "tags": ["Genres"],
        "parameters": [
          { "name": "genreId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Top artists in genre",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArtistList" }
              }
            }
          }
        }
      }
    },
    "/genres/{genreId}/tracks/top": {
      "get": {
        "operationId": "getGenreTopTracks",
        "summary": "Get top tracks for genre",
        "description": "Retrieve the top tracks within a specific genre.",
        "tags": ["Genres"],
        "parameters": [
          { "name": "genreId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Top tracks in genre",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TrackList" }
              }
            }
          }
        }
      }
    },
    "/playlists/{playlistId}": {
      "get": {
        "operationId": "getPlaylist",
        "summary": "Get playlist details",
        "description": "Retrieve metadata and track list for a specific playlist.",
        "tags": ["Playlists"],
        "parameters": [
          { "name": "playlistId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Playlist details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlaylistDetail" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/playlists/{playlistId}/tracks": {
      "get": {
        "operationId": "getPlaylistTracks",
        "summary": "Get playlist tracks",
        "description": "Retrieve tracks in a specific playlist.",
        "tags": ["Playlists"],
        "parameters": [
          { "name": "playlistId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Playlist tracks",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TrackList" }
              }
            }
          }
        }
      }
    },
    "/me/library/artists": {
      "get": {
        "operationId": "getLibraryArtists",
        "summary": "Get user's library artists",
        "description": "Retrieve artists in the authenticated user's library.",
        "tags": ["Members"],
        "security": [{ "oauth2": ["read"] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Library artists",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArtistList" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/library/albums": {
      "get": {
        "operationId": "getLibraryAlbums",
        "summary": "Get user's library albums",
        "description": "Retrieve albums in the authenticated user's library.",
        "tags": ["Members"],
        "security": [{ "oauth2": ["read"] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Library albums",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AlbumList" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/library/tracks": {
      "get": {
        "operationId": "getLibraryTracks",
        "summary": "Get user's library tracks",
        "description": "Retrieve tracks in the authenticated user's library.",
        "tags": ["Members"],
        "security": [{ "oauth2": ["read"] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Library tracks",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TrackList" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/me/listening-history": {
      "get": {
        "operationId": "getListeningHistory",
        "summary": "Get listening history",
        "description": "Retrieve the authenticated user's listening history.",
        "tags": ["Members"],
        "security": [{ "oauth2": ["read"] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Listening history",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TrackList" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/stations/{stationId}": {
      "get": {
        "operationId": "getStation",
        "summary": "Get station details",
        "description": "Retrieve details for a specific radio station.",
        "tags": ["Stations"],
        "parameters": [
          { "name": "stationId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Station details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StationDetail" }
              }
            }
          }
        }
      }
    },
    "/tags/{tagId}": {
      "get": {
        "operationId": "getTag",
        "summary": "Get tag details",
        "description": "Retrieve details for a specific tag.",
        "tags": ["Tags"],
        "parameters": [
          { "name": "tagId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Tag details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TagInfo" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "Napster API key obtained from https://developer.napster.com"
      },
      "oauth2": {
        "type": "oauth2",
        "description": "Napster OAuth 2.0 for accessing user-specific data",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.napster.com/oauth/authorize",
            "tokenUrl": "https://api.napster.com/oauth/access_token",
            "scopes": {
              "read": "Read access to user library and listening history",
              "write": "Write access to user library and playlists"
            }
          }
        }
      }
    },
    "schemas": {
      "Artist": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["artist"] },
          "id": { "type": "string" },
          "name": { "type": "string" },
          "shortcut": { "type": "string" },
          "blurbs": { "type": "array", "items": { "type": "string" } },
          "albumGroups": {
            "type": "object",
            "properties": {
              "main": { "type": "array", "items": { "type": "string" } },
              "compilations": { "type": "array", "items": { "type": "string" } },
              "singlesAndEPs": { "type": "array", "items": { "type": "string" } }
            }
          },
          "links": { "$ref": "#/components/schemas/Links" }
        }
      },
      "ArtistDetail": {
        "type": "object",
        "properties": {
          "artists": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Artist" }
          }
        }
      },
      "ArtistList": {
        "type": "object",
        "properties": {
          "artists": { "type": "array", "items": { "$ref": "#/components/schemas/Artist" } },
          "meta": { "$ref": "#/components/schemas/Meta" }
        }
      },
      "Album": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["album"] },
          "id": { "type": "string" },
          "name": { "type": "string" },
          "shortcut": { "type": "string" },
          "artistName": { "type": "string" },
          "contributingArtists": {
            "type": "object",
            "properties": {
              "primaryArtist": { "type": "string" }
            }
          },
          "discCount": { "type": "integer" },
          "trackCount": { "type": "integer" },
          "released": { "type": "string", "format": "date" },
          "copyright": { "type": "string" },
          "label": { "type": "string" },
          "isExplicit": { "type": "boolean" },
          "isSingle": { "type": "boolean" },
          "isStreamable": { "type": "boolean" },
          "links": { "$ref": "#/components/schemas/Links" },
          "tags": { "type": "array", "items": { "type": "string" } }
        }
      },
      "AlbumDetail": {
        "type": "object",
        "properties": {
          "albums": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Album" }
          }
        }
      },
      "AlbumList": {
        "type": "object",
        "properties": {
          "albums": { "type": "array", "items": { "$ref": "#/components/schemas/Album" } },
          "meta": { "$ref": "#/components/schemas/Meta" }
        }
      },
      "Track": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["track"] },
          "id": { "type": "string" },
          "name": { "type": "string" },
          "shortcut": { "type": "string" },
          "artistId": { "type": "string" },
          "artistName": { "type": "string" },
          "albumId": { "type": "string" },
          "albumName": { "type": "string" },
          "disc": { "type": "integer" },
          "index": { "type": "integer" },
          "playbackSeconds": { "type": "integer" },
          "isExplicit": { "type": "boolean" },
          "isStreamable": { "type": "boolean" },
          "isrc": { "type": "string" },
          "previewURL": { "type": "string", "format": "uri" },
          "links": { "$ref": "#/components/schemas/Links" }
        }
      },
      "TrackDetail": {
        "type": "object",
        "properties": {
          "tracks": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Track" }
          }
        }
      },
      "TrackList": {
        "type": "object",
        "properties": {
          "tracks": { "type": "array", "items": { "$ref": "#/components/schemas/Track" } },
          "meta": { "$ref": "#/components/schemas/Meta" }
        }
      },
      "Genre": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["genre"] },
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "shortcut": { "type": "string" },
          "links": { "$ref": "#/components/schemas/Links" }
        }
      },
      "GenreDetail": {
        "type": "object",
        "properties": {
          "genres": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Genre" }
          }
        }
      },
      "GenreList": {
        "type": "object",
        "properties": {
          "genres": { "type": "array", "items": { "$ref": "#/components/schemas/Genre" } },
          "meta": { "$ref": "#/components/schemas/Meta" }
        }
      },
      "Playlist": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["playlist"] },
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "trackCount": { "type": "integer" },
          "privacy": { "type": "string", "enum": ["public", "private"] },
          "images": { "type": "array", "items": { "$ref": "#/components/schemas/ImageInfo" } },
          "links": { "$ref": "#/components/schemas/Links" },
          "modified": { "type": "string", "format": "date-time" }
        }
      },
      "PlaylistDetail": {
        "type": "object",
        "properties": {
          "playlists": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Playlist" }
          }
        }
      },
      "StationDetail": {
        "type": "object",
        "properties": {
          "stations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": { "type": "string", "enum": ["station"] },
                "id": { "type": "string" },
                "name": { "type": "string" },
                "description": { "type": "string" }
              }
            }
          }
        }
      },
      "TagInfo": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "shortcut": { "type": "string" }
        }
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "search": {
            "type": "object",
            "properties": {
              "query": { "type": "string" },
              "data": {
                "type": "object",
                "properties": {
                  "artists": { "type": "array", "items": { "$ref": "#/components/schemas/Artist" } },
                  "albums": { "type": "array", "items": { "$ref": "#/components/schemas/Album" } },
                  "tracks": { "type": "array", "items": { "$ref": "#/components/schemas/Track" } },
                  "playlists": { "type": "array", "items": { "$ref": "#/components/schemas/Playlist" } }
                }
              }
            }
          },
          "meta": { "$ref": "#/components/schemas/Meta" }
        }
      },
      "ImageInfo": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "id": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "contentId": { "type": "string" },
          "width": { "type": "integer" },
          "height": { "type": "integer" },
          "isDefault": { "type": "boolean" }
        }
      },
      "ImageList": {
        "type": "object",
        "properties": {
          "images": { "type": "array", "items": { "$ref": "#/components/schemas/ImageInfo" } }
        }
      },
      "Links": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "href": { "type": "string", "format": "uri" }
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "totalCount": { "type": "integer" },
          "returnedCount": { "type": "integer" },
          "query": { "type": "string" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication required or invalid credentials",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Forbidden": {
        "description": "Invalid API key or insufficient permissions",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  }
}
