{
  "openapi": "3.0.3",
  "info": {
    "title": "All-Images.ai API",
    "version": "1.0",
    "description": "All-Images Integration Platform API for AI-powered image generation and manipulation",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.all-images.ai"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/images/generate": {
      "post": {
        "summary": "Generate image",
        "description": "Generate an AI image based on a text prompt",
        "operationId": "generateImage",
        "tags": [
          "Image Generation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Text description of the image to generate"
                  },
                  "width": {
                    "type": "integer",
                    "description": "Image width in pixels"
                  },
                  "height": {
                    "type": "integer",
                    "description": "Image height in pixels"
                  },
                  "style": {
                    "type": "string",
                    "description": "Style or model to use for generation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/images/{imageId}": {
      "get": {
        "summary": "Get image details",
        "description": "Retrieve details about a generated image",
        "operationId": "getImage",
        "tags": [
          "Image Generation"
        ],
        "parameters": [
          {
            "name": "imageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Image not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication"
      }
    }
  },
  "tags": [
    {
      "name": "Image Generation"
    }
  ]
}
