{
  "openapi": "3.0.3",
  "info": {
    "title": "The One API - The Lord of the Rings",
    "description": "One API to rule them all. Access data about The Lord of the Rings trilogy, including books, movies, characters, quotes, and chapters.",
    "version": "2.0.0",
    "contact": {
      "name": "The One API",
      "url": "https://the-one-api.dev/"
    }
  },
  "servers": [
    {
      "url": "https://the-one-api.dev/v2",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/book": {
      "get": {
        "operationId": "listBooks",
        "summary": "List of all books",
        "description": "Returns a list of all Lord of the Rings books. This endpoint does not require authentication.",
        "tags": [
          "Books"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/book/{id}": {
      "get": {
        "operationId": "getBook",
        "summary": "Get a specific book",
        "description": "Returns a single book by its ID. This endpoint does not require authentication.",
        "tags": [
          "Books"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/book/{id}/chapter": {
      "get": {
        "operationId": "getBookChapters",
        "summary": "Get chapters of a specific book",
        "description": "Returns all chapters of a specific book.",
        "tags": [
          "Books"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapterList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/movie": {
      "get": {
        "operationId": "listMovies",
        "summary": "List of all movies",
        "description": "Returns a list of all Lord of the Rings movies, including the Hobbit trilogy.",
        "tags": [
          "Movies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/movie/{id}": {
      "get": {
        "operationId": "getMovie",
        "summary": "Get a specific movie",
        "description": "Returns a single movie by its ID.",
        "tags": [
          "Movies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MovieList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/movie/{id}/quote": {
      "get": {
        "operationId": "getMovieQuotes",
        "summary": "Get quotes from a specific movie",
        "description": "Returns all quotes from a specific movie.",
        "tags": [
          "Movies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/character": {
      "get": {
        "operationId": "listCharacters",
        "summary": "List of all characters",
        "description": "Returns a list of all characters from The Lord of the Rings universe.",
        "tags": [
          "Characters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharacterList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/character/{id}": {
      "get": {
        "operationId": "getCharacter",
        "summary": "Get a specific character",
        "description": "Returns a single character by their ID.",
        "tags": [
          "Characters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CharacterList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/character/{id}/quote": {
      "get": {
        "operationId": "getCharacterQuotes",
        "summary": "Get quotes from a specific character",
        "description": "Returns all quotes from a specific character.",
        "tags": [
          "Characters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/quote": {
      "get": {
        "operationId": "listQuotes",
        "summary": "List of all movie quotes",
        "description": "Returns a list of all movie quotes.",
        "tags": [
          "Quotes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/quote/{id}": {
      "get": {
        "operationId": "getQuote",
        "summary": "Get a specific quote",
        "description": "Returns a single quote by its ID.",
        "tags": [
          "Quotes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/chapter": {
      "get": {
        "operationId": "listChapters",
        "summary": "List of all book chapters",
        "description": "Returns a list of all book chapters.",
        "tags": [
          "Chapters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapterList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/chapter/{id}": {
      "get": {
        "operationId": "getChapter",
        "summary": "Get a specific chapter",
        "description": "Returns a single chapter by its ID.",
        "tags": [
          "Chapters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapterList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The unique identifier of the resource",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Number of results to return per page",
        "schema": {
          "type": "integer",
          "default": 1000
        }
      },
      "page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number for pagination",
        "schema": {
          "type": "integer",
          "default": 1
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "description": "Offset for pagination",
        "schema": {
          "type": "integer"
        }
      },
      "sort": {
        "name": "sort",
        "in": "query",
        "required": false,
        "description": "Sort results by field name, e.g. 'name:asc' or 'name:desc'",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Book": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Name of the book"
          }
        }
      },
      "BookList": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Book"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "Movie": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Name of the movie"
          },
          "runtimeInMinutes": {
            "type": "integer",
            "description": "Runtime in minutes"
          },
          "budgetInMillions": {
            "type": "number",
            "description": "Budget in millions of dollars"
          },
          "boxOfficeRevenueInMillions": {
            "type": "number",
            "description": "Box office revenue in millions of dollars"
          },
          "academyAwardNominations": {
            "type": "integer",
            "description": "Number of Academy Award nominations"
          },
          "academyAwardWins": {
            "type": "integer",
            "description": "Number of Academy Award wins"
          },
          "rottenTomatoesScore": {
            "type": "number",
            "description": "Rotten Tomatoes score"
          }
        }
      },
      "MovieList": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Movie"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "Character": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "height": {
            "type": "string",
            "description": "Height of the character"
          },
          "race": {
            "type": "string",
            "description": "Race of the character (e.g. Hobbit, Elf, Human)"
          },
          "gender": {
            "type": "string",
            "description": "Gender of the character"
          },
          "birth": {
            "type": "string",
            "description": "Birth date or period"
          },
          "spouse": {
            "type": "string",
            "description": "Name of spouse"
          },
          "death": {
            "type": "string",
            "description": "Death date or period"
          },
          "realm": {
            "type": "string",
            "description": "Realm of the character"
          },
          "hair": {
            "type": "string",
            "description": "Hair color"
          },
          "name": {
            "type": "string",
            "description": "Name of the character"
          },
          "wikiUrl": {
            "type": "string",
            "description": "URL to the character's wiki page"
          }
        }
      },
      "CharacterList": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Character"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "Quote": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "dialog": {
            "type": "string",
            "description": "The quote text"
          },
          "movie": {
            "type": "string",
            "description": "ID of the movie this quote is from"
          },
          "character": {
            "type": "string",
            "description": "ID of the character who said this quote"
          }
        }
      },
      "QuoteList": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Quote"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "Chapter": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Unique identifier"
          },
          "chapterName": {
            "type": "string",
            "description": "Name of the chapter"
          },
          "book": {
            "type": "string",
            "description": "ID of the book this chapter belongs to"
          }
        }
      },
      "ChapterList": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Chapter"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": [
    {
      "name": "Books",
      "description": "Endpoints for Lord of the Rings books"
    },
    {
      "name": "Movies",
      "description": "Endpoints for Lord of the Rings and Hobbit movies"
    },
    {
      "name": "Characters",
      "description": "Endpoints for characters from the Lord of the Rings universe"
    },
    {
      "name": "Quotes",
      "description": "Endpoints for movie quotes"
    },
    {
      "name": "Chapters",
      "description": "Endpoints for book chapters"
    }
  ]
}
