{
  "openapi": "3.0.3",
  "info": {
    "title": "Caiyun Weather API",
    "version": "2.5",
    "description": "Caiyun Weather API (ColorfulClouds) provides real-time weather data, minute-level precipitation forecasts, hourly forecasts, and daily forecasts for locations worldwide.",
    "x-jentic-source-url": "https://open.caiyunapp.com/",
    "contact": {
      "name": "Caiyun Technology",
      "url": "https://caiyunapp.com"
    }
  },
  "servers": [
    {
      "url": "https://api.caiyunapp.com/v2.5",
      "description": "Caiyun Weather API v2.5"
    }
  ],
  "paths": {
    "/{token}/{longitude},{latitude}/weather.json": {
      "get": {
        "operationId": "getweather",
        "tags": [
          "Weather"
        ],
        "summary": "Get comprehensive weather forecast",
        "description": "Returns a comprehensive weather forecast including realtime, minutely, hourly, and daily data.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API token for authentication"
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            },
            "description": "Longitude coordinate"
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            },
            "description": "Latitude coordinate"
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "zh_CN",
                "zh_TW",
                "en_US",
                "en_GB",
                "ja"
              ],
              "default": "zh_CN"
            },
            "description": "Language for text descriptions"
          },
          {
            "name": "unit",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "metric",
                "imperial",
                "SI"
              ],
              "default": "metric"
            },
            "description": "Unit system"
          },
          {
            "name": "dailysteps",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 5
            },
            "description": "Number of daily forecast days"
          },
          {
            "name": "hourlysteps",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 48
            },
            "description": "Number of hourly forecast steps"
          }
        ],
        "responses": {
          "200": {
            "description": "Comprehensive weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeatherResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{token}/{longitude},{latitude}/realtime.json": {
      "get": {
        "operationId": "getrealtime",
        "tags": [
          "Weather"
        ],
        "summary": "Get real-time weather data",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "zh_CN"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "metric"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Real-time weather data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RealtimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{token}/{longitude},{latitude}/minutely.json": {
      "get": {
        "operationId": "getminutely",
        "tags": [
          "Weather"
        ],
        "summary": "Get minute-level precipitation forecast",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "zh_CN"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "metric"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Minute-level precipitation forecast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MinutelyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{token}/{longitude},{latitude}/hourly.json": {
      "get": {
        "operationId": "gethourly",
        "tags": [
          "Weather"
        ],
        "summary": "Get hourly weather forecast",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "zh_CN"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "metric"
            }
          },
          {
            "name": "hourlysteps",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 48
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Hourly forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HourlyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{token}/{longitude},{latitude}/daily.json": {
      "get": {
        "operationId": "getdaily",
        "tags": [
          "Weather"
        ],
        "summary": "Get daily weather forecast",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "latitude",
            "in": "path",
            "required": true,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "zh_CN"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "metric"
            }
          },
          {
            "name": "dailysteps",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily forecast data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "path",
        "name": "token",
        "description": "API token passed as part of the URL path"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "api_status": {
            "type": "string"
          }
        }
      },
      "WeatherResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "api_version": {
            "type": "string"
          },
          "api_status": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "tzshift": {
            "type": "integer"
          },
          "timezone": {
            "type": "string"
          },
          "server_time": {
            "type": "integer"
          },
          "location": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "result": {
            "type": "object",
            "properties": {
              "realtime": {
                "$ref": "#/components/schemas/RealtimeData"
              },
              "minutely": {
                "$ref": "#/components/schemas/MinutelyData"
              },
              "hourly": {
                "$ref": "#/components/schemas/HourlyData"
              },
              "daily": {
                "$ref": "#/components/schemas/DailyData"
              },
              "primary": {
                "type": "integer"
              },
              "forecast_keypoint": {
                "type": "string"
              }
            }
          }
        }
      },
      "RealtimeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "api_version": {
            "type": "string"
          },
          "api_status": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "server_time": {
            "type": "integer"
          },
          "location": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "result": {
            "type": "object",
            "properties": {
              "realtime": {
                "$ref": "#/components/schemas/RealtimeData"
              }
            }
          }
        }
      },
      "MinutelyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "api_version": {
            "type": "string"
          },
          "api_status": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "server_time": {
            "type": "integer"
          },
          "location": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "result": {
            "type": "object",
            "properties": {
              "minutely": {
                "$ref": "#/components/schemas/MinutelyData"
              }
            }
          }
        }
      },
      "HourlyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "api_version": {
            "type": "string"
          },
          "api_status": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "server_time": {
            "type": "integer"
          },
          "location": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "result": {
            "type": "object",
            "properties": {
              "hourly": {
                "$ref": "#/components/schemas/HourlyData"
              }
            }
          }
        }
      },
      "DailyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "api_version": {
            "type": "string"
          },
          "api_status": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "server_time": {
            "type": "integer"
          },
          "location": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "result": {
            "type": "object",
            "properties": {
              "daily": {
                "$ref": "#/components/schemas/DailyData"
              }
            }
          }
        }
      },
      "RealtimeData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "temperature": {
            "type": "number"
          },
          "humidity": {
            "type": "number"
          },
          "cloudrate": {
            "type": "number"
          },
          "skycon": {
            "type": "string"
          },
          "visibility": {
            "type": "number"
          },
          "dswrf": {
            "type": "number"
          },
          "wind": {
            "type": "object",
            "properties": {
              "speed": {
                "type": "number"
              },
              "direction": {
                "type": "number"
              }
            }
          },
          "pressure": {
            "type": "number"
          },
          "apparent_temperature": {
            "type": "number"
          },
          "precipitation": {
            "type": "object",
            "properties": {
              "local": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "datasource": {
                    "type": "string"
                  },
                  "intensity": {
                    "type": "number"
                  }
                }
              },
              "nearest": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "distance": {
                    "type": "number"
                  },
                  "intensity": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "air_quality": {
            "type": "object",
            "properties": {
              "pm25": {
                "type": "number"
              },
              "pm10": {
                "type": "number"
              },
              "o3": {
                "type": "number"
              },
              "so2": {
                "type": "number"
              },
              "no2": {
                "type": "number"
              },
              "co": {
                "type": "number"
              },
              "aqi": {
                "type": "object",
                "properties": {
                  "chn": {
                    "type": "number"
                  },
                  "usa": {
                    "type": "number"
                  }
                }
              },
              "description": {
                "type": "object",
                "properties": {
                  "chn": {
                    "type": "string"
                  },
                  "usa": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "life_index": {
            "type": "object",
            "properties": {
              "ultraviolet": {
                "type": "object",
                "properties": {
                  "index": {
                    "type": "number"
                  },
                  "desc": {
                    "type": "string"
                  }
                }
              },
              "comfort": {
                "type": "object",
                "properties": {
                  "index": {
                    "type": "integer"
                  },
                  "desc": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "MinutelyData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "datasource": {
            "type": "string"
          },
          "precipitation_2h": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "precipitation": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "probability": {
            "type": "array",
            "items": {
              "type": "number"
            }
          },
          "description": {
            "type": "string"
          }
        }
      },
      "HourlyData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "temperature": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string"
                },
                "value": {
                  "type": "number"
                }
              }
            }
          },
          "precipitation": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string"
                },
                "value": {
                  "type": "number"
                }
              }
            }
          },
          "wind": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string"
                },
                "speed": {
                  "type": "number"
                },
                "direction": {
                  "type": "number"
                }
              }
            }
          },
          "humidity": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string"
                },
                "value": {
                  "type": "number"
                }
              }
            }
          },
          "cloudrate": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string"
                },
                "value": {
                  "type": "number"
                }
              }
            }
          },
          "skycon": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          },
          "pressure": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string"
                },
                "value": {
                  "type": "number"
                }
              }
            }
          },
          "visibility": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "datetime": {
                  "type": "string"
                },
                "value": {
                  "type": "number"
                }
              }
            }
          },
          "air_quality": {
            "type": "object",
            "properties": {
              "aqi": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "datetime": {
                      "type": "string"
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "chn": {
                          "type": "number"
                        },
                        "usa": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              },
              "pm25": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "datetime": {
                      "type": "string"
                    },
                    "value": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DailyData": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "temperature": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "max": {
                  "type": "number"
                },
                "min": {
                  "type": "number"
                },
                "avg": {
                  "type": "number"
                }
              }
            }
          },
          "precipitation": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "max": {
                  "type": "number"
                },
                "min": {
                  "type": "number"
                },
                "avg": {
                  "type": "number"
                }
              }
            }
          },
          "wind": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "max": {
                  "type": "object",
                  "properties": {
                    "speed": {
                      "type": "number"
                    },
                    "direction": {
                      "type": "number"
                    }
                  }
                },
                "min": {
                  "type": "object",
                  "properties": {
                    "speed": {
                      "type": "number"
                    },
                    "direction": {
                      "type": "number"
                    }
                  }
                },
                "avg": {
                  "type": "object",
                  "properties": {
                    "speed": {
                      "type": "number"
                    },
                    "direction": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "humidity": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "max": {
                  "type": "number"
                },
                "min": {
                  "type": "number"
                },
                "avg": {
                  "type": "number"
                }
              }
            }
          },
          "skycon": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          },
          "cloudrate": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "max": {
                  "type": "number"
                },
                "min": {
                  "type": "number"
                },
                "avg": {
                  "type": "number"
                }
              }
            }
          },
          "pressure": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "max": {
                  "type": "number"
                },
                "min": {
                  "type": "number"
                },
                "avg": {
                  "type": "number"
                }
              }
            }
          },
          "visibility": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "max": {
                  "type": "number"
                },
                "min": {
                  "type": "number"
                },
                "avg": {
                  "type": "number"
                }
              }
            }
          },
          "astro": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string"
                },
                "sunrise": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "string"
                    }
                  }
                },
                "sunset": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "life_index": {
            "type": "object",
            "properties": {
              "ultraviolet": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "index": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    }
                  }
                }
              },
              "carWashing": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "index": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    }
                  }
                }
              },
              "dressing": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "index": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    }
                  }
                }
              },
              "comfort": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "index": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    }
                  }
                }
              },
              "coldRisk": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "index": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "Weather",
      "description": "Operations related to Weather"
    }
  ]
}