{
  "openapi": "3.0.3",
  "info": {
    "title": "Everyware API",
    "description": "Everyware is a Pay by Text platform providing a JSON-based asynchronous REST API for managing businesses, contacts, messages, payments, invoices, subscriptions, and merchant onboarding. The API supports SMS/MMS messaging, payment processing, invoice management, and identity verification.",
    "version": "1.0.0",
    "contact": {
      "name": "Everyware",
      "url": "https://www.everyware.com"
    },
    "x-jentic-source-url": "https://docs.everyware.com"
  },
  "servers": [
    {
      "url": "https://rest.everyware.com",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/api/Default/GetBusiness": {
      "get": {
        "operationId": "getBusinesses",
        "summary": "Get all businesses linked to master site ID",
        "description": "Retrieves an array of all businesses linked under your master site ID.",
        "tags": [
          "Businesses"
        ],
        "responses": {
          "200": {
            "description": "Businesses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/default/updatecustomer": {
      "post": {
        "operationId": "updateCustomer",
        "summary": "Update an existing customer",
        "description": "Updates customer information. Either ExternalID or IndividualID must be provided to identify the customer.",
        "tags": [
          "Contacts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Default/GetMessages": {
      "post": {
        "operationId": "getMessages",
        "summary": "Retrieve messages for a business",
        "description": "Retrieve messages sent to and received by a business through Everyware's platform.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Default/FetchSMSMessages": {
      "post": {
        "operationId": "fetchSmsMessages",
        "summary": "Fetch SMS messages with filters",
        "description": "Retrieve SMS messages with various filter criteria including date range, direction, and contact information.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchSmsMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/default/createtemplatemessage": {
      "post": {
        "operationId": "createTemplateMessage",
        "summary": "Send a message using a pre-created template",
        "description": "Send SMS or MMS messages to contacts using pre-created templates from the Everyware Portal.",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Default/CreateInvoice": {
      "post": {
        "operationId": "createInvoice",
        "summary": "Create and send an invoice",
        "description": "Create and send individual invoice links by text, email or both.",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/InvoicingOnly/SendInvoice": {
      "post": {
        "operationId": "sendInvoice",
        "summary": "Send a non-Everyware invoice",
        "description": "Submit a non-Everyware invoice into the system for queuing and delivery through messaging channels.",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendInvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Default/UpdateInvoiceStatus": {
      "post": {
        "operationId": "updateInvoiceStatus",
        "summary": "Update an invoice status",
        "description": "Modify an invoice's status to prevent customer access, typically by changing it to Cancelled.",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Default/CreateSMSReminderMessage": {
      "post": {
        "operationId": "createSmsReminder",
        "summary": "Create and send an SMS reminder for an invoice",
        "description": "Configure automatic reminder messages that follow an original SMS invoice.",
        "tags": [
          "Invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSmsReminderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reminder created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/subscriptions/CreateSubscription": {
      "post": {
        "operationId": "createSubscription",
        "summary": "Create a new subscription",
        "description": "Enroll a customer in a recurring payment plan using a saved payment method.",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/subscriptions": {
      "get": {
        "operationId": "getSubscriptions",
        "summary": "Get all subscriptions",
        "description": "Retrieve subscriptions. Set ActiveOnly to true to retrieve only active subscriptions.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "ActiveOnly",
            "in": "query",
            "required": true,
            "description": "Set true to retrieve only active subscriptions",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriptions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/subscriptions/GetSubscription": {
      "get": {
        "operationId": "getSubscriptionById",
        "summary": "Get a subscription by ID",
        "description": "Retrieve detailed information for a specific subscription.",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "SubscriptionID",
            "in": "query",
            "required": true,
            "description": "The ID of the subscription to retrieve",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/subscriptions/UpdateSubscription": {
      "put": {
        "operationId": "updateSubscription",
        "summary": "Update an existing subscription",
        "description": "Modify subscription details such as payment method, recurring charge, and proration settings.",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/subscriptions/CancelSubscription": {
      "post": {
        "operationId": "cancelSubscription",
        "summary": "Cancel a subscription",
        "description": "Cancel an active subscription by its ID.",
        "tags": [
          "Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Default/RemovePaymentToken": {
      "post": {
        "operationId": "removePaymentToken",
        "summary": "Remove a payment token",
        "description": "Remove a stored payment token for a customer. Either IndividualID or ExternalID must be provided.",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemovePaymentTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token removed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/onboarding": {
      "post": {
        "operationId": "onboardMerchant",
        "summary": "Submit a merchant onboarding application",
        "description": "Submit a new merchant onboarding application with business owner details, business information, and banking details.",
        "tags": [
          "Onboarding"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Application submission failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/onboarding/status/{applicationId}": {
      "get": {
        "operationId": "getOnboardingStatus",
        "summary": "Get onboarding application status",
        "description": "Check the status of a merchant onboarding application. Returns 0 (Pending), 1 (Successful), or 2 (Failed).",
        "tags": [
          "Onboarding"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "The application ID returned from the onboarding submission",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "description": "0=Pending, 1=Successful, 2=Failed"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic HTTP authentication using API credentials"
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean",
            "description": "Whether the operation was successful"
          },
          "Message": {
            "type": "string",
            "description": "Status or error message"
          },
          "Data": {
            "description": "Response data (varies by endpoint)"
          },
          "OrderNumber": {
            "type": "string",
            "nullable": true
          },
          "SMSID": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "GetBusinessResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean"
          },
          "Message": {
            "type": "string"
          },
          "businesses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Business"
            }
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "MobileNumber": {
            "type": "string"
          },
          "SalesSiteID": {
            "type": "string"
          },
          "APIKey": {
            "type": "string"
          },
          "UserName": {
            "type": "string"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "Phone": {
            "type": "string"
          },
          "Address1": {
            "type": "string"
          },
          "Address2": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "State": {
            "type": "string"
          },
          "PostalCode": {
            "type": "string"
          },
          "BusinessName": {
            "type": "string"
          },
          "URL": {
            "type": "string"
          }
        }
      },
      "UpdateCustomerRequest": {
        "type": "object",
        "properties": {
          "ExternalID": {
            "type": "string",
            "description": "External system customer ID (required if IndividualID not provided)"
          },
          "IndividualID": {
            "type": "string",
            "description": "Everyware customer ID (required if ExternalID not provided)"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "Email": {
            "type": "string"
          },
          "MobilePhone": {
            "type": "string",
            "description": "10 digits max"
          },
          "SecondaryPhone": {
            "type": "string",
            "description": "10 digits max"
          },
          "Title": {
            "type": "string"
          },
          "CompanyName": {
            "type": "string"
          },
          "Address1": {
            "type": "string"
          },
          "Address2": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "CountryCode": {
            "type": "string",
            "description": "e.g. US"
          },
          "StateCode": {
            "type": "string",
            "description": "2-letter format"
          },
          "PostalCode": {
            "type": "string"
          },
          "ListID": {
            "type": "string"
          },
          "CustomField1": {
            "type": "string"
          },
          "CustomField2": {
            "type": "string"
          },
          "CustomField3": {
            "type": "string"
          },
          "CustomField4": {
            "type": "string"
          },
          "CustomField5": {
            "type": "string"
          },
          "CustomField6": {
            "type": "string"
          },
          "CustomField7": {
            "type": "string"
          }
        }
      },
      "GetMessagesRequest": {
        "type": "object",
        "required": [
          "NewOnly",
          "DateFrom",
          "DateTo"
        ],
        "properties": {
          "NewOnly": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "0=All messages, 1=Unread only"
          },
          "DateFrom": {
            "type": "string",
            "description": "Start date (MM-DD-YYYY format)"
          },
          "DateTo": {
            "type": "string",
            "description": "End date (MM-DD-YYYY format)"
          }
        }
      },
      "FetchSmsMessagesRequest": {
        "type": "object",
        "properties": {
          "MessageID": {
            "type": "string",
            "description": "Everyware message identifier"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "MobilePhone": {
            "type": "string",
            "description": "10 digits max, unformatted"
          },
          "IndividualID": {
            "type": "string"
          },
          "MessageExternalID": {
            "type": "string"
          },
          "StartDate": {
            "type": "string"
          },
          "EndDate": {
            "type": "string"
          },
          "DateSent": {
            "type": "string"
          },
          "MessageText": {
            "type": "string"
          },
          "DirectionID": {
            "type": "string",
            "description": "1=Inbound, 2=Outbound"
          }
        }
      },
      "CreateTemplateMessageRequest": {
        "type": "object",
        "required": [
          "MobilePhone",
          "SmsTemplateId"
        ],
        "properties": {
          "FirstName": {
            "type": "string",
            "description": "Required if contact does not exist"
          },
          "LastName": {
            "type": "string",
            "description": "Required if contact does not exist"
          },
          "MobilePhone": {
            "type": "string"
          },
          "SmsTemplateId": {
            "type": "string",
            "description": "Unique template identifier"
          },
          "MessageExternalID": {
            "type": "string"
          },
          "ExternalID": {
            "type": "string"
          },
          "Attachments": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateInvoiceRequest": {
        "type": "object",
        "required": [
          "LineItems",
          "BusinessName",
          "TotalAmountDue",
          "Subtotal",
          "SendSMSInvoice",
          "SendEmailInvoice",
          "IsPartialPayment",
          "BillToCellPhone",
          "BillToZip",
          "BusinessAddress1",
          "BusinessCity",
          "BusinessState",
          "BusinessZip"
        ],
        "properties": {
          "LineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InvoiceLineItem"
            }
          },
          "BusinessName": {
            "type": "string"
          },
          "TotalAmountDue": {
            "type": "number",
            "format": "double"
          },
          "Subtotal": {
            "type": "number",
            "format": "double"
          },
          "SendSMSInvoice": {
            "type": "boolean"
          },
          "SendEmailInvoice": {
            "type": "boolean"
          },
          "IsPartialPayment": {
            "type": "boolean"
          },
          "BillToCellPhone": {
            "type": "string",
            "description": "10-digit max, no formatting"
          },
          "BillToZip": {
            "type": "string"
          },
          "BusinessAddress1": {
            "type": "string"
          },
          "BusinessCity": {
            "type": "string"
          },
          "BusinessState": {
            "type": "string"
          },
          "BusinessZip": {
            "type": "string"
          },
          "BusinessID": {
            "type": "string"
          },
          "AccountNumber": {
            "type": "string"
          },
          "Tax": {
            "type": "number",
            "format": "double"
          },
          "ConvenienceFee": {
            "type": "number",
            "format": "double"
          },
          "OrderNumber": {
            "type": "string"
          },
          "BillToName": {
            "type": "string"
          },
          "BillToEmailAddress": {
            "type": "string"
          },
          "BillToAddress1": {
            "type": "string"
          },
          "ExpirationDate": {
            "type": "string"
          },
          "DueDate": {
            "type": "string"
          },
          "ScheduledDate": {
            "type": "string"
          },
          "generateQRCode": {
            "type": "boolean"
          },
          "ShippingAmount": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "InvoiceLineItem": {
        "type": "object",
        "required": [
          "Description",
          "Quantity",
          "AmountEach",
          "Subtotal"
        ],
        "properties": {
          "Description": {
            "type": "string"
          },
          "Quantity": {
            "type": "number",
            "format": "double"
          },
          "AmountEach": {
            "type": "number",
            "format": "double"
          },
          "Subtotal": {
            "type": "number",
            "format": "double"
          },
          "RowID": {
            "type": "string"
          }
        }
      },
      "InvoiceResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean"
          },
          "Message": {
            "type": "string"
          },
          "Data": {
            "type": "string",
            "description": "Invoice link URL"
          },
          "OrderNumber": {
            "type": "string"
          },
          "SMSID": {
            "type": "string"
          },
          "QRCodeBase64": {
            "type": "string",
            "description": "Base64-encoded QR code if requested"
          }
        }
      },
      "SendInvoiceRequest": {
        "type": "object",
        "required": [
          "MasterSiteExternalID",
          "SiteExternalID"
        ],
        "properties": {
          "MasterSiteExternalID": {
            "type": "string"
          },
          "SiteExternalID": {
            "type": "string"
          },
          "CustomerExternalID": {
            "type": "string"
          },
          "FirstName": {
            "type": "string"
          },
          "LastName": {
            "type": "string"
          },
          "PhoneNumber1": {
            "type": "string"
          },
          "PhoneNumber2": {
            "type": "string"
          },
          "EmailAddress": {
            "type": "string"
          },
          "StatementID": {
            "type": "string"
          },
          "Balance": {
            "type": "string"
          },
          "DueDate": {
            "type": "string"
          },
          "RecordType": {
            "type": "string"
          },
          "HexadecimalColorCode": {
            "type": "string"
          },
          "SMSOverrideMessage": {
            "type": "string"
          },
          "EmailAdditionalBody": {
            "type": "string"
          },
          "TextURL": {
            "type": "string"
          },
          "EmailURL": {
            "type": "string"
          },
          "LogoURL": {
            "type": "string"
          },
          "Location": {
            "type": "string"
          }
        }
      },
      "UpdateInvoiceStatusRequest": {
        "type": "object",
        "required": [
          "SMSID",
          "Status"
        ],
        "properties": {
          "SMSID": {
            "type": "string",
            "description": "The SMSID returned in the original CreateInvoice call"
          },
          "Status": {
            "type": "string",
            "description": "Target status (e.g. Cancelled)"
          }
        }
      },
      "CreateSmsReminderRequest": {
        "type": "object",
        "required": [
          "MobilePhone",
          "MessageText",
          "OrderNumber"
        ],
        "properties": {
          "MobilePhone": {
            "type": "string",
            "description": "10-digit max, unformatted"
          },
          "MessageText": {
            "type": "string",
            "description": "Body of the SMS reminder message"
          },
          "OrderNumber": {
            "type": "string",
            "description": "The invoice order number"
          }
        }
      },
      "CreateSubscriptionRequest": {
        "type": "object",
        "required": [
          "RecurringCharge",
          "Interval"
        ],
        "properties": {
          "CardToken": {
            "type": "string",
            "description": "Token referencing the credit card (required if ACHToken not provided)"
          },
          "ACHToken": {
            "type": "string",
            "description": "Token for banking information (required if CardToken not provided)"
          },
          "PlanCode": {
            "type": "string",
            "description": "Pre-configured subscription plan code"
          },
          "StartDate": {
            "type": "string",
            "description": "Start date (MM-DD-YYYY format, defaults to today)"
          },
          "RecurringCharge": {
            "type": "number",
            "format": "double",
            "description": "Rebilling amount per interval (1.00 = $1.00)"
          },
          "DiscountAmount": {
            "type": "number",
            "format": "double",
            "description": "Discount percentage (5 = 5%)"
          },
          "TaxAmount": {
            "type": "number",
            "format": "double",
            "description": "Tax dollar amount (1.00 = $1.00)"
          },
          "Interval": {
            "type": "string",
            "enum": [
              "weekly",
              "bi-weekly",
              "monthly",
              "bi-monthly",
              "quarterly",
              "annual"
            ]
          },
          "NumberOfIntervals": {
            "type": "integer",
            "description": "Number of billing cycles (defaults to 999)"
          },
          "ServiceDescription": {
            "type": "string",
            "description": "Defaults to 'Subscription Service'"
          }
        }
      },
      "UpdateSubscriptionRequest": {
        "type": "object",
        "required": [
          "SubscriptionID",
          "CardToken"
        ],
        "properties": {
          "SubscriptionID": {
            "type": "integer",
            "format": "int64"
          },
          "CardToken": {
            "type": "string"
          },
          "RecurringCharge": {
            "type": "number",
            "format": "double"
          },
          "DiscountPercent": {
            "type": "number",
            "format": "double"
          },
          "TaxAmount": {
            "type": "number",
            "format": "double"
          },
          "Prorate": {
            "type": "boolean",
            "description": "True for immediate changes, false for next cycle"
          }
        }
      },
      "CancelSubscriptionRequest": {
        "type": "object",
        "required": [
          "subscriptionID"
        ],
        "properties": {
          "subscriptionID": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "SubscriptionsResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean"
          },
          "Message": {
            "type": "string"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriptionSummary"
            }
          }
        }
      },
      "SubscriptionSummary": {
        "type": "object",
        "properties": {
          "SubscriptionId": {
            "type": "integer"
          },
          "Active": {
            "type": "boolean"
          },
          "StartDate": {
            "type": "string"
          },
          "DateAdded": {
            "type": "string"
          },
          "DateModified": {
            "type": "string"
          }
        }
      },
      "SubscriptionDetailResponse": {
        "type": "object",
        "properties": {
          "IsSuccess": {
            "type": "boolean"
          },
          "Message": {
            "type": "string"
          },
          "Data": {
            "$ref": "#/components/schemas/SubscriptionDetail"
          }
        }
      },
      "SubscriptionDetail": {
        "type": "object",
        "properties": {
          "SubscriptionId": {
            "type": "integer",
            "format": "int64"
          },
          "Individual": {
            "type": "string"
          },
          "ServiceName": {
            "type": "string"
          },
          "ServiceDescription": {
            "type": "string"
          },
          "BillingInterval": {
            "type": "string"
          },
          "PaymentMethodType": {
            "type": "string"
          },
          "RecurringCharge": {
            "type": "number",
            "format": "double"
          },
          "TaxAmount": {
            "type": "number",
            "format": "double"
          },
          "DiscountAmount": {
            "type": "number",
            "format": "double"
          },
          "DiscountPercent": {
            "type": "number",
            "format": "double"
          },
          "Total": {
            "type": "number",
            "format": "double"
          },
          "InitialCharge": {
            "type": "boolean"
          },
          "Active": {
            "type": "boolean"
          },
          "Prorate": {
            "type": "boolean"
          },
          "StartDate": {
            "type": "string"
          },
          "DateAdded": {
            "type": "string"
          },
          "DateModified": {
            "type": "string"
          }
        }
      },
      "RemovePaymentTokenRequest": {
        "type": "object",
        "required": [
          "TokenValue"
        ],
        "properties": {
          "IndividualID": {
            "type": "string",
            "description": "Everyware customer ID (required if ExternalID not provided)"
          },
          "ExternalID": {
            "type": "string",
            "description": "External customer ID (required if IndividualID not provided)"
          },
          "TokenValue": {
            "type": "string",
            "description": "The payment token to remove"
          }
        }
      },
      "OnboardingRequest": {
        "type": "object",
        "required": [
          "ownerTitle",
          "ownerFirstName",
          "ownerLastName",
          "ownerAddress",
          "ownerCity",
          "ownerPhone",
          "ownerState",
          "ownerZip",
          "ownerCountry",
          "ownerDOB",
          "ownerSSN",
          "OwnershipPercentage",
          "ownerEmail",
          "businessDBA",
          "businessLegalName",
          "businessAddress",
          "businessCity",
          "businessState",
          "businessZip",
          "businessCountry",
          "businessEmail",
          "businessPhone",
          "merchantVertical",
          "productServicesSold",
          "businessFederalTaxID",
          "businessPrimaryWebsite",
          "bankNameOnAccount",
          "bankDDA",
          "bankName",
          "bankRoutingNumber",
          "creditCardHighTicket",
          "creditCardAvgTicket",
          "creditCardMonthlyVolume",
          "businessStartDate",
          "externalID",
          "TermsAcceptance",
          "IPAddress",
          "ProcessingACH",
          "EntityType"
        ],
        "properties": {
          "ownerTitle": {
            "type": "string"
          },
          "ownerFirstName": {
            "type": "string"
          },
          "ownerLastName": {
            "type": "string"
          },
          "ownerAddress": {
            "type": "string"
          },
          "ownerCity": {
            "type": "string"
          },
          "ownerPhone": {
            "type": "integer"
          },
          "ownerState": {
            "type": "string"
          },
          "ownerZip": {
            "type": "string"
          },
          "ownerCountry": {
            "type": "string"
          },
          "ownerDOB": {
            "type": "string",
            "format": "date"
          },
          "ownerSSN": {
            "type": "string"
          },
          "OwnershipPercentage": {
            "type": "integer"
          },
          "ownerEmail": {
            "type": "string",
            "format": "email"
          },
          "businessDBA": {
            "type": "string"
          },
          "businessLegalName": {
            "type": "string"
          },
          "businessAddress": {
            "type": "string"
          },
          "businessCity": {
            "type": "string"
          },
          "businessState": {
            "type": "string"
          },
          "businessZip": {
            "type": "string"
          },
          "businessCountry": {
            "type": "string"
          },
          "businessEmail": {
            "type": "string",
            "format": "email"
          },
          "businessPhone": {
            "type": "integer"
          },
          "merchantVertical": {
            "type": "string"
          },
          "productServicesSold": {
            "type": "string"
          },
          "businessFederalTaxID": {
            "type": "string"
          },
          "businessPrimaryWebsite": {
            "type": "string"
          },
          "bankNameOnAccount": {
            "type": "string"
          },
          "bankDDA": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "bankRoutingNumber": {
            "type": "string"
          },
          "creditCardHighTicket": {
            "type": "integer"
          },
          "creditCardAvgTicket": {
            "type": "integer"
          },
          "creditCardMonthlyVolume": {
            "type": "integer"
          },
          "businessStartDate": {
            "type": "string",
            "format": "date"
          },
          "externalID": {
            "type": "string"
          },
          "TermsAcceptance": {
            "type": "boolean"
          },
          "IPAddress": {
            "type": "string"
          },
          "ProcessingACH": {
            "type": "boolean"
          },
          "EntityType": {
            "type": "string"
          },
          "onboardingWebhookURL": {
            "type": "string"
          },
          "OnboardingWebhookUsername": {
            "type": "string"
          },
          "OnboardingWebhookPassword": {
            "type": "string"
          },
          "MasterSalesSite": {
            "type": "string"
          },
          "contactFirstName": {
            "type": "string"
          },
          "contactLastName": {
            "type": "string"
          },
          "contactPhone": {
            "type": "integer"
          },
          "contactEmail": {
            "type": "string",
            "format": "email"
          },
          "corporateAddress": {
            "type": "string"
          },
          "corporateCity": {
            "type": "string"
          },
          "corporateState": {
            "type": "string"
          },
          "corporateZip": {
            "type": "string"
          },
          "corporateCountry": {
            "type": "string"
          },
          "businessSecondaryWebsite": {
            "type": "string"
          },
          "NumberOfDevicesDesired": {
            "type": "string"
          },
          "PartnerInformation": {
            "type": "string"
          },
          "Documents": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "OnboardingResponse": {
        "type": "object",
        "properties": {
          "ApplicationID": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          }
        }
      },
      "OnboardingErrorResponse": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Businesses",
      "description": "Business management and retrieval"
    },
    {
      "name": "Contacts",
      "description": "Customer and contact management"
    },
    {
      "name": "Messages",
      "description": "SMS/MMS messaging operations"
    },
    {
      "name": "Invoices",
      "description": "Invoice creation and management"
    },
    {
      "name": "Subscriptions",
      "description": "Recurring payment subscription management"
    },
    {
      "name": "Payments",
      "description": "Payment token management"
    },
    {
      "name": "Onboarding",
      "description": "Merchant onboarding"
    }
  ]
}