{
  "openapi": "3.0.3",
  "info": {
    "title": "Smart Image Enhancement API",
    "description": "AI-powered image enhancement API for upscaling, noise reduction, and quality improvement. Uses deep learning models for image super-resolution, denoising, and automatic quality enhancement. Hosted on the APILayer marketplace.",
    "version": "1.0.0",
    "contact": {
      "name": "APILayer",
      "url": "https://apilayer.com/marketplace/image_enhancement-api",
      "email": "support@apilayer.com"
    },
    "x-jentic-source-url": "https://apilayer.com/marketplace/image_enhancement-api"
  },
  "servers": [
    {
      "url": "https://api.apilayer.com",
      "description": "APILayer Production Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Enhancement",
      "description": "Image enhancement and processing operations"
    }
  ],
  "paths": {
    "/image_enhancement/upscale": {
      "post": {
        "tags": ["Enhancement"],
        "summary": "Upscale image",
        "description": "Upscale and enhance image resolution using AI-powered algorithms. Supports 2x, 4x, and 8x upscaling factors.",
        "operationId": "upscaleImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["image"],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to enhance (JPEG, PNG, WebP)"
                  },
                  "scale": {
                    "type": "integer",
                    "enum": [2, 4, 8],
                    "default": 2,
                    "description": "Upscaling factor (2x, 4x, or 8x)"
                  },
                  "format": {
                    "type": "string",
                    "enum": ["jpeg", "png", "webp"],
                    "default": "png",
                    "description": "Output image format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image upscaled successfully",
            "content": {
              "image/jpeg": {
                "schema": { "type": "string", "format": "binary" }
              },
              "image/png": {
                "schema": { "type": "string", "format": "binary" }
              },
              "image/webp": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid image or parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "413": {
            "description": "Payload too large - image file exceeds size limit",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/image_enhancement/denoise": {
      "post": {
        "tags": ["Enhancement"],
        "summary": "Remove noise from image",
        "description": "Reduce noise and artifacts from images using AI-powered denoising algorithms.",
        "operationId": "denoiseImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["image"],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to denoise (JPEG, PNG, WebP)"
                  },
                  "strength": {
                    "type": "string",
                    "enum": ["low", "medium", "high"],
                    "default": "medium",
                    "description": "Denoising strength level"
                  },
                  "format": {
                    "type": "string",
                    "enum": ["jpeg", "png", "webp"],
                    "default": "png",
                    "description": "Output image format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image denoised successfully",
            "content": {
              "image/jpeg": {
                "schema": { "type": "string", "format": "binary" }
              },
              "image/png": {
                "schema": { "type": "string", "format": "binary" }
              },
              "image/webp": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid image or parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "413": {
            "description": "Payload too large - image file exceeds size limit",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/image_enhancement/enhance": {
      "post": {
        "tags": ["Enhancement"],
        "summary": "Enhance image quality",
        "description": "Automatically enhance image quality including brightness, contrast, sharpness, and color correction using AI models.",
        "operationId": "enhanceImage",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["image"],
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file to enhance (JPEG, PNG, WebP)"
                  },
                  "brightness": {
                    "type": "boolean",
                    "default": true,
                    "description": "Apply brightness adjustment"
                  },
                  "contrast": {
                    "type": "boolean",
                    "default": true,
                    "description": "Apply contrast adjustment"
                  },
                  "sharpness": {
                    "type": "boolean",
                    "default": true,
                    "description": "Apply sharpness enhancement"
                  },
                  "color_correction": {
                    "type": "boolean",
                    "default": true,
                    "description": "Apply automatic color correction"
                  },
                  "format": {
                    "type": "string",
                    "enum": ["jpeg", "png", "webp"],
                    "default": "png",
                    "description": "Output image format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image enhanced successfully",
            "content": {
              "image/jpeg": {
                "schema": { "type": "string", "format": "binary" }
              },
              "image/png": {
                "schema": { "type": "string", "format": "binary" }
              },
              "image/webp": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid image or parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "413": {
            "description": "Payload too large - image file exceeds size limit",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey",
        "description": "API key obtained from the APILayer marketplace dashboard"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code"
              },
              "type": {
                "type": "string",
                "description": "Error type identifier"
              },
              "info": {
                "type": "string",
                "description": "Human-readable error message"
              }
            }
          }
        }
      }
    }
  }
}