{
  "openapi": "3.0.3",
  "info": {
    "title": "Bouncify Email Verification API",
    "version": "1.0.0",
    "description": "Bouncify API provides real-time email address verification and credit balance management.",
    "x-jentic-source-url": "https://bouncify.io/"
  },
  "servers": [
    {
      "url": "https://api.bouncify.io"
    }
  ],
  "paths": {
    "/v1/verify": {
      "get": {
        "operationId": "verifysingleemail",
        "summary": "Verify a single email address",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Email address to validate"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 30000,
              "maximum": 180000,
              "default": 180000
            },
            "description": "Max verification time in milliseconds (30000-180000)"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResult"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid email"
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/info": {
      "get": {
        "operationId": "getcreditbalance",
        "summary": "Get account credit balance",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key for authentication"
          }
        ],
        "responses": {
          "200": {
            "description": "Credit balance information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VerificationResult": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string",
            "enum": [
              "deliverable",
              "undeliverable",
              "unknown",
              "accept all"
            ],
            "description": "Verification outcome"
          },
          "message": {
            "type": "string",
            "description": "Human-readable result description"
          },
          "email": {
            "type": "string",
            "description": "Validated email address"
          },
          "user": {
            "type": "string",
            "description": "Email local part"
          },
          "domain": {
            "type": "string",
            "description": "Email domain"
          },
          "accept_all": {
            "type": "integer",
            "description": "Whether host accepts all addresses"
          },
          "role": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Role-based address indicator"
          },
          "free_email": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Free provider flag"
          },
          "disposable": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Temporary email indicator"
          },
          "spamtrap": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Honeytrap email flag"
          },
          "success": {
            "type": "boolean",
            "description": "Request success status"
          }
        }
      },
      "CreditBalanceResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "credits_info": {
            "type": "object",
            "properties": {
              "credits_remaining": {
                "type": "integer",
                "description": "Available credits"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key for authentication"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Operations related to Account"
    },
    {
      "name": "Verification",
      "description": "Operations related to Verification"
    }
  ]
}