{
  "openapi": "3.0.3",
  "info": {
    "title": "PM25.in Air Quality API",
    "description": "PM25.in provides real-time air quality data for cities across China, including AQI, PM2.5, PM10, CO, NO2, O3, and SO2 readings from monitoring stations. Data is available per city (simplified or detailed), per monitoring station, as a national aggregate, or as a city ranking.",
    "version": "1.0.0",
    "contact": {
      "name": "PM25.in",
      "url": "http://www.pm25.in"
    },
    "x-jentic-source-url": "http://www.pm25.in/api_doc"
  },
  "servers": [
    {
      "url": "http://www.pm25.in/api",
      "description": "PM25.in API"
    }
  ],
  "security": [
    {
      "tokenAuth": []
    }
  ],
  "tags": [
    {
      "name": "City Data",
      "description": "Air quality data for all monitoring stations in a city"
    },
    {
      "name": "Pollutants",
      "description": "Individual pollutant readings by city"
    },
    {
      "name": "Station",
      "description": "Data for individual monitoring stations"
    },
    {
      "name": "National",
      "description": "All cities data and rankings"
    }
  ],
  "paths": {
    "/querys/only_aqi.json": {
      "get": {
        "tags": ["City Data"],
        "summary": "Get simplified city AQI data",
        "description": "Returns simplified AQI data for all monitoring stations in a specified city.",
        "operationId": "getCityAqi",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "City name (Chinese characters, pinyin, or area code e.g. '上海', 'shanghai', '021')",
            "schema": {
              "type": "string"
            },
            "example": "shanghai"
          },
          {
            "name": "avg",
            "in": "query",
            "required": false,
            "description": "If true, return average across all monitoring stations",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "stations",
            "in": "query",
            "required": false,
            "description": "If 'yes', include individual station data; if 'no', return only the average",
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "yes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimplifiedAqiRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "City not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/querys/aqi_details.json": {
      "get": {
        "tags": ["City Data"],
        "summary": "Get detailed city AQI data",
        "description": "Returns detailed air quality data for all monitoring stations in a specified city, including all pollutant readings.",
        "operationId": "getCityAqiDetails",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "API authentication token",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "City name (Chinese characters, pinyin, or area code)",
            "schema": {
              "type": "string"
            },
            "example": "shanghai"
          },
          {
            "name": "avg",
            "in": "query",
            "required": false,
            "description": "If true, return average across all monitoring stations",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "stations",
            "in": "query",
            "required": false,
            "description": "If 'yes', include individual station data; if 'no', return only the average",
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "yes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DetailedAqiRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "City not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/querys/pm2_5.json": {
      "get": {
        "tags": ["Pollutants"],
        "summary": "Get PM2.5 data for a city",
        "description": "Returns PM2.5 (particulate matter <= 2.5 micrometers) readings for a specified city.",
        "operationId": "getPm25",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "description": "City name (Chinese characters, pinyin, or area code)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "avg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "stations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "yes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PollutantRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/querys/pm10.json": {
      "get": {
        "tags": ["Pollutants"],
        "summary": "Get PM10 data for a city",
        "description": "Returns PM10 (particulate matter <= 10 micrometers) readings for a specified city.",
        "operationId": "getPm10",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "avg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "stations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "yes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PollutantRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/querys/co.json": {
      "get": {
        "tags": ["Pollutants"],
        "summary": "Get CO data for a city",
        "description": "Returns carbon monoxide (CO) readings for a specified city.",
        "operationId": "getCo",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "avg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "stations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "yes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PollutantRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/querys/no2.json": {
      "get": {
        "tags": ["Pollutants"],
        "summary": "Get NO2 data for a city",
        "description": "Returns nitrogen dioxide (NO2) readings for a specified city.",
        "operationId": "getNo2",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "avg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "stations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "yes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PollutantRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/querys/o3.json": {
      "get": {
        "tags": ["Pollutants"],
        "summary": "Get O3 data for a city",
        "description": "Returns ozone (O3) readings for a specified city.",
        "operationId": "getO3",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "avg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "stations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "yes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PollutantRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/querys/so2.json": {
      "get": {
        "tags": ["Pollutants"],
        "summary": "Get SO2 data for a city",
        "description": "Returns sulfur dioxide (SO2) readings for a specified city.",
        "operationId": "getSo2",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "avg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "stations",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["yes", "no"],
              "default": "yes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PollutantRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/querys/aqis_by_station.json": {
      "get": {
        "tags": ["Station"],
        "summary": "Get data for a monitoring station",
        "description": "Returns all air quality data for a specific monitoring station identified by its station code.",
        "operationId": "getStationData",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "station_code",
            "in": "query",
            "required": true,
            "description": "Station code (e.g., '1141A')",
            "schema": {
              "type": "string"
            },
            "example": "1141A"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DetailedAqiRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Station not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/querys/all_cities.json": {
      "get": {
        "tags": ["National"],
        "summary": "Get all cities data",
        "description": "Returns air quality data for all cities in China. Warning: returns a very large response.",
        "operationId": "getAllCities",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DetailedAqiRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/querys/aqi_ranking.json": {
      "get": {
        "tags": ["National"],
        "summary": "Get AQI city ranking",
        "description": "Returns a ranking of all Chinese cities sorted by their AQI values.",
        "operationId": "getAqiRanking",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RankingRecord"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API token obtained from pm25.in"
      }
    },
    "schemas": {
      "SimplifiedAqiRecord": {
        "type": "object",
        "properties": {
          "aqi": {
            "type": "integer",
            "description": "Air Quality Index value"
          },
          "area": {
            "type": "string",
            "description": "City/area name"
          },
          "position_name": {
            "type": "string",
            "description": "Monitoring station name"
          },
          "station_code": {
            "type": "string",
            "description": "Monitoring station code"
          },
          "primary_pollutant": {
            "type": "string",
            "description": "Primary pollutant"
          },
          "quality": {
            "type": "string",
            "description": "Air quality level description"
          },
          "time_point": {
            "type": "string",
            "format": "date-time",
            "description": "Measurement timestamp"
          }
        }
      },
      "DetailedAqiRecord": {
        "type": "object",
        "properties": {
          "aqi": {
            "type": "integer",
            "description": "Air Quality Index value"
          },
          "area": {
            "type": "string",
            "description": "City/area name"
          },
          "position_name": {
            "type": "string",
            "description": "Monitoring station name"
          },
          "station_code": {
            "type": "string",
            "description": "Monitoring station code"
          },
          "pm2_5": {
            "type": "number",
            "description": "PM2.5 concentration (ug/m3)"
          },
          "pm2_5_24h": {
            "type": "number",
            "description": "PM2.5 24-hour average (ug/m3)"
          },
          "pm10": {
            "type": "number",
            "description": "PM10 concentration (ug/m3)"
          },
          "pm10_24h": {
            "type": "number",
            "description": "PM10 24-hour average (ug/m3)"
          },
          "co": {
            "type": "number",
            "description": "CO concentration (mg/m3)"
          },
          "co_24h": {
            "type": "number",
            "description": "CO 24-hour average (mg/m3)"
          },
          "no2": {
            "type": "number",
            "description": "NO2 concentration (ug/m3)"
          },
          "no2_24h": {
            "type": "number",
            "description": "NO2 24-hour average (ug/m3)"
          },
          "o3": {
            "type": "number",
            "description": "O3 concentration (ug/m3)"
          },
          "o3_24h": {
            "type": "number",
            "description": "O3 24-hour average (ug/m3)"
          },
          "o3_8h": {
            "type": "number",
            "description": "O3 8-hour average (ug/m3)"
          },
          "o3_8h_24h": {
            "type": "number",
            "description": "O3 8-hour sliding average (ug/m3)"
          },
          "so2": {
            "type": "number",
            "description": "SO2 concentration (ug/m3)"
          },
          "so2_24h": {
            "type": "number",
            "description": "SO2 24-hour average (ug/m3)"
          },
          "primary_pollutant": {
            "type": "string",
            "description": "Primary pollutant"
          },
          "quality": {
            "type": "string",
            "description": "Air quality level description"
          },
          "time_point": {
            "type": "string",
            "format": "date-time",
            "description": "Measurement timestamp"
          }
        }
      },
      "PollutantRecord": {
        "type": "object",
        "properties": {
          "aqi": {
            "type": "integer",
            "description": "Air Quality Index value"
          },
          "area": {
            "type": "string",
            "description": "City/area name"
          },
          "position_name": {
            "type": "string",
            "description": "Monitoring station name"
          },
          "station_code": {
            "type": "string",
            "description": "Monitoring station code"
          },
          "primary_pollutant": {
            "type": "string",
            "description": "Primary pollutant"
          },
          "quality": {
            "type": "string",
            "description": "Air quality level"
          },
          "time_point": {
            "type": "string",
            "format": "date-time",
            "description": "Measurement timestamp"
          }
        }
      },
      "RankingRecord": {
        "type": "object",
        "properties": {
          "aqi": {
            "type": "integer",
            "description": "Air Quality Index value"
          },
          "area": {
            "type": "string",
            "description": "City/area name"
          },
          "pm2_5": {
            "type": "number",
            "description": "PM2.5 concentration"
          },
          "primary_pollutant": {
            "type": "string",
            "description": "Primary pollutant"
          },
          "quality": {
            "type": "string",
            "description": "Air quality level"
          },
          "time_point": {
            "type": "string",
            "format": "date-time",
            "description": "Measurement timestamp"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}