{
  "openapi": "3.0.3",
  "info": {
    "title": "Abstract APIs",
    "version": "1.0.0",
    "description": "Abstract provides multiple simple REST APIs including Email Validation, Phone Validation, VAT validation, Company Enrichment, Holidays, Exchange Rates, and more. Each API uses its own subdomain endpoint with API key authentication.",
    "x-jentic-source-url": "https://www.abstractapi.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://emailvalidation.abstractapi.com",
      "description": "Email Validation API"
    }
  ],
  "tags": [
    {
      "name": "Email Validation",
      "description": "Validate email addresses"
    },
    {
      "name": "Phone Validation",
      "description": "Validate and look up phone numbers"
    },
    {
      "name": "Exchange Rates",
      "description": "Currency exchange rates"
    }
  ],
  "paths": {
    "/v1": {
      "get": {
        "operationId": "validateEmail",
        "summary": "Validate an email address",
        "description": "Validates an email address checking deliverability, format, SMTP status, and more.",
        "tags": [
          "Email Validation"
        ],
        "servers": [
          {
            "url": "https://emailvalidation.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Abstract Email Validation API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "description": "Email address to validate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auto_correct",
            "in": "query",
            "required": false,
            "description": "Enable auto-correction of email typos",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/phone": {
      "get": {
        "operationId": "validatePhone",
        "summary": "Validate a phone number",
        "description": "Validates a phone number and returns carrier, location, and line type information.",
        "tags": [
          "Phone Validation"
        ],
        "servers": [
          {
            "url": "https://phonevalidation.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Abstract Phone Validation API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "description": "Phone number to validate",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchange": {
      "get": {
        "operationId": "getLiveExchangeRates",
        "summary": "Get live exchange rates",
        "description": "Get real-time exchange rates for a base currency.",
        "tags": [
          "Exchange Rates"
        ],
        "servers": [
          {
            "url": "https://exchange-rates.abstractapi.com"
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "description": "Your Abstract Exchange Rates API key",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": true,
            "description": "Base currency code (e.g., USD)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "description": "Target currency code to get specific rate",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeRatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EmailValidationResponse": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address submitted"
          },
          "autocorrect": {
            "type": "string",
            "description": "Suggested correction if applicable"
          },
          "deliverability": {
            "type": "string",
            "description": "Deliverability status (DELIVERABLE, UNDELIVERABLE, UNKNOWN)"
          },
          "quality_score": {
            "type": "string",
            "description": "Quality score from 0 to 1"
          },
          "is_valid_format": {
            "type": "object",
            "properties": {
              "value": {
                "type": "boolean"
              },
              "text": {
                "type": "string"
              }
            }
          },
          "is_free_email": {
            "type": "object",
            "properties": {
              "value": {
                "type": "boolean"
              },
              "text": {
                "type": "string"
              }
            }
          },
          "is_disposable_email": {
            "type": "object",
            "properties": {
              "value": {
                "type": "boolean"
              },
              "text": {
                "type": "string"
              }
            }
          },
          "is_role_email": {
            "type": "object",
            "properties": {
              "value": {
                "type": "boolean"
              },
              "text": {
                "type": "string"
              }
            }
          },
          "is_catchall_email": {
            "type": "object",
            "properties": {
              "value": {
                "type": "boolean"
              },
              "text": {
                "type": "string"
              }
            }
          },
          "is_mx_found": {
            "type": "object",
            "properties": {
              "value": {
                "type": "boolean"
              },
              "text": {
                "type": "string"
              }
            }
          },
          "is_smtp_valid": {
            "type": "object",
            "properties": {
              "value": {
                "type": "boolean"
              },
              "text": {
                "type": "string"
              }
            }
          }
        }
      },
      "PhoneValidationResponse": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string"
          },
          "valid": {
            "type": "boolean"
          },
          "format": {
            "type": "object",
            "properties": {
              "international": {
                "type": "string"
              },
              "local": {
                "type": "string"
              }
            }
          },
          "country": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "prefix": {
                "type": "string"
              }
            }
          },
          "location": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Line type (e.g., mobile, landline)"
          },
          "carrier": {
            "type": "string"
          }
        }
      },
      "ExchangeRatesResponse": {
        "type": "object",
        "properties": {
          "base": {
            "type": "string"
          },
          "last_updated": {
            "type": "integer",
            "description": "Unix timestamp"
          },
          "exchange_rates": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Map of currency codes to exchange rates"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
