{
  "openapi": "3.0.3",
  "info": {
    "title": "JQ API",
    "version": "1.0.0",
    "description": "JQ API for processing JSON data using jq filter expressions.",
    "x-jentic-source-url": "https://thejqapi.com/api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://thejqapi.com"
    }
  ],
  "paths": {
    "/process": {
      "post": {
        "operationId": "processJson",
        "summary": "Process JSON data using jq filter",
        "tags": [
          "Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Process JSON data using jq filter"
      }
    }
  },
  "components": {
    "schemas": {
      "ProcessRequest": {
        "type": "object",
        "required": [
          "input",
          "filter"
        ],
        "properties": {
          "input": {
            "description": "Any valid JSON value"
          },
          "filter": {
            "type": "string",
            "description": "Valid jq filter syntax"
          },
          "options": {
            "type": "object",
            "properties": {
              "slurp": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "ProcessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {},
          "rawResult": {
            "type": "string"
          },
          "executionTime": {
            "type": "number"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Processing"
    }
  ]
}
