{
  "openapi": "3.0.3",
  "info": {
    "title": "Airship REST API",
    "version": "3.0",
    "description": "Airship provides a REST API for sending push notifications, managing channels, named users, segments, and more. The API uses HTTP Basic Auth with app key and master secret.",
    "x-jentic-source-url": "https://www.airship.com/docs/developer/rest-api/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://go.urbanairship.com/api",
      "description": "Airship API server"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Push",
      "description": "Send push notifications"
    },
    {
      "name": "Channels",
      "description": "Manage device channels"
    },
    {
      "name": "Named Users",
      "description": "Manage named users"
    },
    {
      "name": "Segments",
      "description": "Manage audience segments"
    },
    {
      "name": "Tags",
      "description": "Manage tags and tag groups"
    },
    {
      "name": "Feeds",
      "description": "Event feeds and response reporting"
    }
  ],
  "paths": {
    "/push": {
      "post": {
        "operationId": "sendPush",
        "summary": "Send a push notification",
        "description": "Send a push notification to a specified audience. Accepts an array of push objects, each with audience, notification, and device_types.",
        "tags": [
          "Push"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Push accepted",
            "content": {
              "application/vnd.urbanairship+json; version=3;": {
                "schema": {
                  "$ref": "#/components/schemas/PushResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/push/validate": {
      "post": {
        "operationId": "validatePush",
        "summary": "Validate a push payload",
        "description": "Validate a push payload without sending it. Returns 200 if valid.",
        "tags": [
          "Push"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valid push payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels": {
      "get": {
        "operationId": "listChannels",
        "summary": "List channels",
        "description": "List all channels associated with the application.",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "UUID of the first channel to return (for pagination)"
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/{channel_id}": {
      "get": {
        "operationId": "getChannel",
        "summary": "Look up a channel",
        "description": "Retrieve information about a specific channel by its ID.",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The channel UUID"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/channels/tags": {
      "post": {
        "operationId": "modifyChannelTags",
        "summary": "Add or remove tags on channels",
        "description": "Add, remove, or set tags on one or more channels.",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/named_users": {
      "get": {
        "operationId": "listNamedUsers",
        "summary": "List named users",
        "description": "List all named users associated with the application.",
        "tags": [
          "Named Users"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Start ID for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of named users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamedUserListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/named_users/{named_user_id}": {
      "get": {
        "operationId": "getNamedUser",
        "summary": "Look up a named user",
        "description": "Retrieve information about a named user.",
        "tags": [
          "Named Users"
        ],
        "parameters": [
          {
            "name": "named_user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The named user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Named user info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamedUserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/named_users/associate": {
      "post": {
        "operationId": "associateNamedUser",
        "summary": "Associate a channel with a named user",
        "description": "Associate a channel with a named user.",
        "tags": [
          "Named Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channel_id",
                  "device_type",
                  "named_user_id"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string"
                  },
                  "device_type": {
                    "type": "string"
                  },
                  "named_user_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Association created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/named_users/disassociate": {
      "post": {
        "operationId": "disassociateNamedUser",
        "summary": "Disassociate a channel from a named user",
        "description": "Remove the association between a channel and a named user.",
        "tags": [
          "Named Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channel_id",
                  "device_type"
                ],
                "properties": {
                  "channel_id": {
                    "type": "string"
                  },
                  "device_type": {
                    "type": "string"
                  },
                  "named_user_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Disassociation complete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/named_users/tags": {
      "post": {
        "operationId": "modifyNamedUserTags",
        "summary": "Add or remove tags on named users",
        "description": "Add, remove, or set tags on one or more named users.",
        "tags": [
          "Tags"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NamedUserTagRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/segments": {
      "get": {
        "operationId": "listSegments",
        "summary": "List segments",
        "description": "List all segments for the application.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Start ID for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Segment list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SegmentListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSegment",
        "summary": "Create a segment",
        "description": "Create a new audience segment.",
        "tags": [
          "Segments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Segment created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/segments/{segment_id}": {
      "get": {
        "operationId": "getSegment",
        "summary": "Get a segment",
        "description": "Retrieve a specific segment by its ID.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The segment ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Segment info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateSegment",
        "summary": "Update a segment",
        "description": "Update an existing segment.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The segment ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SegmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Segment updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSegment",
        "summary": "Delete a segment",
        "description": "Delete a segment by its ID.",
        "tags": [
          "Segments"
        ],
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The segment ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Segment deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reports/responses/list": {
      "get": {
        "operationId": "listResponseReports",
        "summary": "List response reports",
        "description": "Get a listing of push response reports.",
        "tags": [
          "Feeds"
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start datetime"
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End datetime"
          }
        ],
        "responses": {
          "200": {
            "description": "Response reports"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth using App Key as username and either Master Secret or App Secret as password."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          },
          "error_code": {
            "type": "integer"
          },
          "details": {
            "type": "object"
          }
        }
      },
      "PushRequest": {
        "type": "object",
        "properties": {
          "audience": {
            "type": "object",
            "description": "Audience selector (all, tag, channel, named_user, etc.)"
          },
          "notification": {
            "type": "object",
            "description": "Notification payload",
            "properties": {
              "alert": {
                "type": "string"
              }
            }
          },
          "device_types": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string",
                "enum": [
                  "all"
                ]
              }
            ]
          }
        },
        "required": [
          "audience",
          "notification",
          "device_types"
        ]
      },
      "PushResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "operation_id": {
            "type": "string"
          },
          "push_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "content_urls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ChannelListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Channel"
            }
          },
          "next_page": {
            "type": "string"
          }
        }
      },
      "ChannelResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channel_id": {
            "type": "string"
          },
          "device_type": {
            "type": "string"
          },
          "installed": {
            "type": "boolean"
          },
          "opt_in": {
            "type": "boolean"
          },
          "push_address": {
            "type": "string"
          },
          "named_user_id": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tag_groups": {
            "type": "object"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_registration": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TagRequest": {
        "type": "object",
        "properties": {
          "audience": {
            "type": "object",
            "properties": {
              "ios_channel": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "android_channel": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "add": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "remove": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "set": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "NamedUserListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "named_users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedUser"
            }
          },
          "next_page": {
            "type": "string"
          }
        }
      },
      "NamedUserResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "named_user": {
            "$ref": "#/components/schemas/NamedUser"
          }
        }
      },
      "NamedUser": {
        "type": "object",
        "properties": {
          "named_user_id": {
            "type": "string"
          },
          "tags": {
            "type": "object"
          },
          "channels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Channel"
            }
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NamedUserTagRequest": {
        "type": "object",
        "properties": {
          "audience": {
            "type": "object",
            "properties": {
              "named_user_id": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "add": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "remove": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "SegmentListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Segment"
            }
          },
          "next_page": {
            "type": "string"
          }
        }
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "criteria": {
            "type": "object"
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "SegmentRequest": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string"
          },
          "criteria": {
            "type": "object"
          }
        },
        "required": [
          "display_name",
          "criteria"
        ]
      }
    }
  }
}
