{
  "openapi": "3.0.3",
  "info": {
    "title": "Codecov API",
    "description": "Codecov API provides access to code coverage data, repositories, commits, branches, pull requests, and test analytics.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://docs.codecov.com/reference/"
  },
  "servers": [
    {
      "url": "https://api.codecov.io/api/v2",
      "description": "Codecov API v2"
    }
  ],
  "paths": {
    "/{service}/": {
      "get": {
        "operationId": "listOwners",
        "summary": "List owners",
        "description": "Returns all owners to which the currently authenticated user has access.",
        "tags": [
          "Owners"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of owners",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/": {
      "get": {
        "operationId": "getOwner",
        "summary": "Get owner details",
        "description": "Retrieve details for a specific owner.",
        "tags": [
          "Owners"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Owner details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Owner"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Owner not found"
          }
        }
      }
    },
    "/{service}/{owner_username}/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "description": "List users for the specified owner.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user details",
        "description": "Retrieve details for a specific user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "patch": {
        "operationId": "updateUser",
        "summary": "Update user",
        "description": "Update information for a specific user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/": {
      "get": {
        "operationId": "listRepositories",
        "summary": "List repositories",
        "description": "List repositories for the specified owner. Filterable by name, search, and active status.",
        "tags": [
          "Repositories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "name": "names",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by repository name"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search repositories"
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by active status"
          }
        ],
        "responses": {
          "200": {
            "description": "List of repositories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/": {
      "get": {
        "operationId": "getRepository",
        "summary": "Get repository details",
        "description": "Retrieve details for a specific repository.",
        "tags": [
          "Repositories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Repository details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Repository"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Repository not found"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/config/": {
      "get": {
        "operationId": "getRepositoryConfig",
        "summary": "Get repository configuration",
        "description": "Retrieve configuration for a specific repository.",
        "tags": [
          "Repositories"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Repository configuration"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/branches/": {
      "get": {
        "operationId": "listBranches",
        "summary": "List branches",
        "description": "List branches for a repository.",
        "tags": [
          "Branches"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of branches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/branches/{name}/": {
      "get": {
        "operationId": "getBranch",
        "summary": "Get branch details",
        "description": "Retrieve details for a specific branch including head commit.",
        "tags": [
          "Branches"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Branch name"
          }
        ],
        "responses": {
          "200": {
            "description": "Branch details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Branch"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Branch not found"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/commits/": {
      "get": {
        "operationId": "listCommits",
        "summary": "List commits",
        "description": "List commits for a repository. Filterable by branch.",
        "tags": [
          "Commits"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          },
          {
            "name": "branch",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter commits by branch name"
          }
        ],
        "responses": {
          "200": {
            "description": "List of commits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/commits/{commitid}/": {
      "get": {
        "operationId": "getCommit",
        "summary": "Get commit details",
        "description": "Retrieve details for a specific commit.",
        "tags": [
          "Commits"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          },
          {
            "$ref": "#/components/parameters/CommitIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Commit details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Commit"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Commit not found"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/commits/{commitid}/uploads/": {
      "get": {
        "operationId": "listCommitUploads",
        "summary": "List commit uploads",
        "description": "List uploads for a specific commit.",
        "tags": [
          "Commits"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          },
          {
            "$ref": "#/components/parameters/CommitIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of commit uploads"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/coverage/": {
      "get": {
        "operationId": "getCoverageTrend",
        "summary": "Get coverage trend",
        "description": "Get coverage trend data for a repository.",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage trend data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/report/": {
      "get": {
        "operationId": "getCoverageReport",
        "summary": "Get coverage report",
        "description": "Get full coverage report for a repository.",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage report"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/report/tree": {
      "get": {
        "operationId": "getCoverageReportTree",
        "summary": "Get coverage report tree",
        "description": "Get hierarchical coverage view for a repository.",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Hierarchical coverage data"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/totals/": {
      "get": {
        "operationId": "getCoverageTotals",
        "summary": "Get coverage totals",
        "description": "Get coverage totals for a repository.",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage totals"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/file_report/{path}/": {
      "get": {
        "operationId": "getFileReport",
        "summary": "Get file coverage report",
        "description": "Get coverage report for a single file.",
        "tags": [
          "Coverage"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File path"
          }
        ],
        "responses": {
          "200": {
            "description": "File coverage report"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/compare/": {
      "get": {
        "operationId": "compareCoverage",
        "summary": "Compare coverage",
        "description": "Compare coverage between two commits or a pull request.",
        "tags": [
          "Comparisons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          },
          {
            "$ref": "#/components/parameters/CompareBaseParam"
          },
          {
            "$ref": "#/components/parameters/CompareHeadParam"
          },
          {
            "$ref": "#/components/parameters/ComparePullIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Coverage comparison"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/compare/components": {
      "get": {
        "operationId": "compareComponents",
        "summary": "Compare components",
        "description": "Compare coverage by components between two commits or a pull request.",
        "tags": [
          "Comparisons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          },
          {
            "$ref": "#/components/parameters/CompareBaseParam"
          },
          {
            "$ref": "#/components/parameters/CompareHeadParam"
          },
          {
            "$ref": "#/components/parameters/ComparePullIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Component comparison"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/compare/impacted_files": {
      "get": {
        "operationId": "compareImpactedFiles",
        "summary": "Compare impacted files",
        "description": "List files impacted by coverage changes.",
        "tags": [
          "Comparisons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          },
          {
            "$ref": "#/components/parameters/CompareBaseParam"
          },
          {
            "$ref": "#/components/parameters/CompareHeadParam"
          },
          {
            "$ref": "#/components/parameters/ComparePullIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Impacted files list"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/compare/flags": {
      "get": {
        "operationId": "compareFlags",
        "summary": "Compare flags",
        "description": "Compare coverage by flags between two commits or a pull request.",
        "tags": [
          "Comparisons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          },
          {
            "$ref": "#/components/parameters/CompareBaseParam"
          },
          {
            "$ref": "#/components/parameters/CompareHeadParam"
          },
          {
            "$ref": "#/components/parameters/ComparePullIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Flag comparison results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlagComparisonList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/compare/files": {
      "get": {
        "operationId": "compareFiles",
        "summary": "Compare files",
        "description": "Compare coverage by files between two commits or a pull request.",
        "tags": [
          "Comparisons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          },
          {
            "$ref": "#/components/parameters/CompareBaseParam"
          },
          {
            "$ref": "#/components/parameters/CompareHeadParam"
          },
          {
            "$ref": "#/components/parameters/ComparePullIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "File comparison results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/components/": {
      "get": {
        "operationId": "listComponents",
        "summary": "List components",
        "description": "List components for a repository.",
        "tags": [
          "Components"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of components"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/flags/": {
      "get": {
        "operationId": "listFlags",
        "summary": "List flags",
        "description": "List flags for a repository.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of flags"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/flags/{flag_name}/coverage/": {
      "get": {
        "operationId": "getFlagCoverageTrend",
        "summary": "Get flag coverage trend",
        "description": "Get coverage trend for a specific flag.",
        "tags": [
          "Flags"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          },
          {
            "name": "flag_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Flag name"
          }
        ],
        "responses": {
          "200": {
            "description": "Flag coverage trend"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/pulls/": {
      "get": {
        "operationId": "listPullRequests",
        "summary": "List pull requests",
        "description": "List pull requests for a repository.",
        "tags": [
          "PullRequests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of pull requests"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/pulls/{pullid}/": {
      "get": {
        "operationId": "getPullRequest",
        "summary": "Get pull request details",
        "description": "Retrieve details for a specific pull request.",
        "tags": [
          "PullRequests"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          },
          {
            "name": "pullid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Pull request ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Pull request details"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Pull request not found"
          }
        }
      }
    },
    "/{service}/{owner_username}/user-sessions/": {
      "get": {
        "operationId": "listUserSessions",
        "summary": "List user sessions",
        "description": "Returns a paginated list of users' login sessions for the specified owner. Requires caller to be an admin of the organization.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PageSizeParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of user sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - caller is not an admin"
          }
        }
      }
    },
    "/{service}/{owner_username}/repos/{repo_name}/test-results/": {
      "get": {
        "operationId": "getTestResults",
        "summary": "Get test results",
        "description": "Get test results for a repository.",
        "tags": [
          "TestAnalytics"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceParam"
          },
          {
            "$ref": "#/components/parameters/OwnerUsernameParam"
          },
          {
            "$ref": "#/components/parameters/RepoNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Test results"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic HTTP authentication"
      }
    },
    "parameters": {
      "ServiceParam": {
        "name": "service",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "github",
            "github_enterprise",
            "gitlab",
            "gitlab_enterprise",
            "bitbucket",
            "bitbucket_server"
          ]
        },
        "description": "Git hosting service provider"
      },
      "OwnerUsernameParam": {
        "name": "owner_username",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Owner username or organization name"
      },
      "RepoNameParam": {
        "name": "repo_name",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Repository name"
      },
      "CommitIdParam": {
        "name": "commitid",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Commit SHA"
      },
      "CompareBaseParam": {
        "name": "base",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Base commit SHA (requires head parameter)"
      },
      "CompareHeadParam": {
        "name": "head",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Head commit SHA (requires base parameter)"
      },
      "ComparePullIdParam": {
        "name": "pullid",
        "in": "query",
        "schema": {
          "type": "integer"
        },
        "description": "Pull request ID (alternative to base/head)"
      },
      "PageParam": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer"
        },
        "description": "Page number within paginated result set"
      },
      "PageSizeParam": {
        "name": "page_size",
        "in": "query",
        "schema": {
          "type": "integer"
        },
        "description": "Number of results to return per page"
      }
    },
    "schemas": {
      "Owner": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "OwnerList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Owner"
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "activated": {
            "type": "boolean"
          },
          "is_admin": {
            "type": "boolean"
          }
        }
      },
      "UserList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "UserUpdate": {
        "type": "object",
        "properties": {
          "activated": {
            "type": "boolean"
          },
          "is_admin": {
            "type": "boolean"
          }
        }
      },
      "Repository": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "language": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          }
        }
      },
      "RepositoryList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Repository"
            }
          }
        }
      },
      "Branch": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "head_commit": {
            "$ref": "#/components/schemas/Commit"
          }
        }
      },
      "BranchList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Branch"
            }
          }
        }
      },
      "Commit": {
        "type": "object",
        "properties": {
          "commitid": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "totals": {
            "$ref": "#/components/schemas/CoverageTotals"
          }
        }
      },
      "CommitList": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Commit"
            }
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "previous": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "FlagComparison": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "base_report_totals": {
            "$ref": "#/components/schemas/CoverageTotals"
          },
          "head_report_totals": {
            "$ref": "#/components/schemas/CoverageTotals"
          },
          "diff_totals": {
            "$ref": "#/components/schemas/CoverageTotals"
          }
        }
      },
      "FlagComparisonList": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlagComparison"
            }
          }
        }
      },
      "CoverageTotals": {
        "type": "object",
        "properties": {
          "files": {
            "type": "integer"
          },
          "lines": {
            "type": "integer"
          },
          "hits": {
            "type": "integer"
          },
          "misses": {
            "type": "integer"
          },
          "partials": {
            "type": "integer"
          },
          "coverage": {
            "type": "number",
            "format": "float"
          },
          "branches": {
            "type": "integer"
          },
          "methods": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Owners",
      "description": "Owner/organization operations"
    },
    {
      "name": "Users",
      "description": "User management operations"
    },
    {
      "name": "Repositories",
      "description": "Repository operations"
    },
    {
      "name": "Branches",
      "description": "Branch operations"
    },
    {
      "name": "Commits",
      "description": "Commit operations"
    },
    {
      "name": "Coverage",
      "description": "Coverage data operations"
    },
    {
      "name": "Comparisons",
      "description": "Coverage comparison operations"
    },
    {
      "name": "Components",
      "description": "Component operations"
    },
    {
      "name": "Flags",
      "description": "Flag operations"
    },
    {
      "name": "PullRequests",
      "description": "Pull request operations"
    },
    {
      "name": "TestAnalytics",
      "description": "Test analytics operations"
    }
  ]
}