{
  "openapi": "3.0.3",
  "info": {
    "title": "Agendor API",
    "description": "# Introduction\n\nWelcome to our API docs! Agendor is a CRM system made to streamline the\nsales process of teams of inside and outside sales. With our API, you\ncan integrate your existing systems with Agendor and make your sales\nteam even more efficient. Check out some help articles our team has\nwritten about integrating with our API (in Portuguese):\n\n* [Do you have examples of how to use the Agendor API?](https://ajuda.agendor.com.br/integracoes/voces-tem-exemplos-de-como-utilizar-a-api-do-agendor)\n* [Can I integrate Agendor to my current system?](https://ajuda.agendor.com.br/integracoes/o-agendor-pode-ser-integrado-ao-meu-sistema-atual)\n\n## Structure\n\nOur API is a RESTful JSON API, which means:\n\n* The endpoints are structured around *resources*, identified by URIs;\n* HTTP *verbs* are used to act differently on the same resource\nand HTTP *status codes* are used to signal the result of an operation;\n* We expect body parameters in JSON and also respond in JSON.\n\nThe body of succesful responses will have up to three main root level\nproperties:\n\n* `data`: actual data of the resource you're working with, will always\nbe present;\n* `meta`: metadata about the resource, for instance total size of a\ncollection of results;\n* `links`: links to related resources, which can be used to navigate\nthrough the API.\n\nThe failure responses will be signaled by HTTP status codes and also\nhave error details under the `errors` property in the response body.\n\n## Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\nTo authenticate your requests, you need an API token. You can find\nyour token by logging into Agendor, and going to\n[Menu > Integrações](https://web.agendor.com.br/sistema/integracoes).\nThis token is like your password, so keep it secret!\n\nAdd this token to the `Authorization` header of your requests, using\nthe `Token` scheme, for example, in cURL:\n\n```bash\ncurl -H 'Authorization: Token your-token-here' https://api.agendor.com.br/v3/users/me\n```\n\nIn PHP, you might do:\n\n```php\n$curl = curl_init();\n\ncurl_setopt($curl, CURLOPT_HTTPHEADER, array(\"Authorization: Token your-token-here\"));\ncurl_setopt($curl, CURLOPT_URL, \"https://api.agendor.com.br/v3/users/me\");\n\n$response = curl_exec($curl);\n```\n\nIn case of failed authentication, the API will respond with a `401`\nstatus code and the following body:\n\n```json\n{\n  \"errors\": [\n    \"Token could not be authenticated\"\n  ]\n}\n```\n\nIf you're getting this error, you might be using an invalid token or\nyour headers are not set up properly. Check if your Agendor account and\nuser are active and if you have included your token in the `Authorization`\nheader, preceded by the word `Token`.\n\n## Pagination\n\nIn the endpoints where you might `GET` a collection of resources, they\nwill be paginated. By default, `10` items are returned per page, but\nyou can increase the page size up to `100`.\n\nTo navigate through the results, use the `page` parameter, starting\nfrom page `1`. The total count of results will be included in the\n`meta` property of the response and links for the following and\npreceding pages will be  included under `links`:\n\n```bash\nGET https://api.agendor.com.br/v3/organizations?page=2\n\n{\n  \"data\": [...\n  ],\n  \"meta\": {\n    \"totalCount\": 100\n  },\n  \"links\": {\n    \"self\": \"https://api.agendor.com.br/v3/organizations?page=2\",\n    \"prev\": \"https://api.agendor.com.br/v3/organizations?page=1\",\n    \"next\": \"https://api.agendor.com.br/v3/organizations?page=3\"\n  }\n}\n```\n",
    "contact": {
      "name": "Contato",
      "email": "contato@agendor.com.br",
      "url": "https://www.agendor.com.br"
    },
    "version": "v3",
    "x-logo": {
      "url": "logo.png"
    },
    "x-jentic-source-url": "https://raw.githubusercontent.com/aislingbyrnemc-sudo/openapis-specs/refs/heads/import/agendor.com.br/agendor/3.0.3/openapi.json"
  },
  "servers": [
    {
      "url": "https://api.agendor.com.br/v3"
    }
  ],
  "paths": {
    "/people/{person_id}/tasks": {
      "get": {
        "summary": "",
        "description": "List and search tasks of a person.",
        "tags": [
          "tasks"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "finishedDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **finished after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "finishedDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **finished before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dueDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks **due after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dueDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks **due before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **updated after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **updated before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **created after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **created before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "metricId",
            "in": "query",
            "required": false,
            "description": "Metric ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "finishedEq",
            "in": "query",
            "required": false,
            "description": "Use to search for finished or unfinished tasks.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "person_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaskEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List tasks of person"
      },
      "post": {
        "summary": "",
        "description": "Create a new task related to this person.",
        "tags": [
          "tasks"
        ],
        "parameters": [
          {
            "name": "person_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TaskEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Create task for person",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPeoplePersonIdTasks"
              }
            }
          },
          "required": true
        }
      }
    },
    "/people/{person_id}/tasks/{id}": {
      "put": {
        "summary": "",
        "description": "Update an existing task of this person.",
        "tags": [
          "tasks"
        ],
        "parameters": [
          {
            "name": "person_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TaskEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Update task of person",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putPeoplePersonIdTasks"
              }
            }
          },
          "required": true
        }
      }
    },
    "/people/{person_id}/deals": {
      "get": {
        "summary": "",
        "description": "List deals of this person.",
        "tags": [
          "deals"
        ],
        "parameters": [
          {
            "name": "person_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "withCustomFields",
            "in": "query",
            "required": false,
            "description": "Return custom fields of deals.\n                 Use this param to include them in the response.\n                 Example: /people/{person_id}/deals?withCustomFields=true",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DealEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List deals of person"
      },
      "post": {
        "summary": "",
        "description": "Create a new deal for person.",
        "tags": [
          "deals"
        ],
        "parameters": [
          {
            "name": "person_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FullDealEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Create deal for person",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPeoplePersonIdDeals"
              }
            }
          },
          "required": true
        }
      }
    },
    "/people": {
      "get": {
        "summary": "",
        "description": "List and search for people.",
        "tags": [
          "people"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "leadOrigin",
            "in": "query",
            "required": false,
            "description": "Lead origin ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "products",
            "in": "query",
            "required": false,
            "description": "Array of product IDS.",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "description": "Author user ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "userOwner",
            "in": "query",
            "required": false,
            "description": "Owner user ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "description": "Role prefix.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cpf",
            "in": "query",
            "required": false,
            "description": "Document number (CPF) **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "description": "Organization ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Address state abbreviation.",
            "schema": {
              "type": "string",
              "enum": [
                "AC",
                "AL",
                "AP",
                "AM",
                "BA",
                "CE",
                "DF",
                "ES",
                "GO",
                "MA",
                "MT",
                "MS",
                "MG",
                "PA",
                "PB",
                "PR",
                "PE",
                "PI",
                "RJ",
                "RN",
                "RS",
                "RO",
                "RR",
                "SC",
                "SP",
                "SE",
                "TO"
              ]
            }
          },
          {
            "name": "cityName",
            "in": "query",
            "required": false,
            "description": "City name **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "District name **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Contact email **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "work_phone",
            "in": "query",
            "required": false,
            "description": "Work phone number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile_phone",
            "in": "query",
            "required": false,
            "description": "Mobile phone number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fax_phone",
            "in": "query",
            "required": false,
            "description": "Fax number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whatsapp",
            "in": "query",
            "required": false,
            "description": "WhatsApp phone number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "description": "Use to search in any phone field (work, mobile, fax and WhatsApp).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAtGt",
            "in": "query",
            "required": false,
            "description": "Use to search for people that were **created after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAtLt",
            "in": "query",
            "required": false,
            "description": "Use to search for people that were **created before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedAtGt",
            "in": "query",
            "required": false,
            "description": "Use to search for people that were **updated after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedAtLt",
            "in": "query",
            "required": false,
            "description": "Use to search for people that were **updated before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "withCustomFields",
            "in": "query",
            "required": false,
            "description": "Return custom fields of people. Use this param to include them in the response.\n           Example: /people?withCustomFields=true",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PersonEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List people"
      },
      "post": {
        "summary": "",
        "description": "Create a new person.",
        "tags": [
          "people"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PersonEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Create person",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPeople"
              }
            }
          },
          "required": true
        }
      }
    },
    "/people/{id}": {
      "get": {
        "summary": "",
        "description": "Get an specific person by ID.",
        "tags": [
          "people"
        ],
        "parameters": [
          {
            "name": "withCustomFields",
            "in": "query",
            "required": false,
            "description": "Return custom fields of people. Use this param to include them in the response.\n             Example: /people/{id}?withCustomFields=true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PersonEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Get person"
      },
      "delete": {
        "summary": "",
        "description": "Delete a person.",
        "tags": [
          "people"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PersonEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Delete person"
      },
      "put": {
        "summary": "",
        "description": "Update a specific person by ID.",
        "tags": [
          "people"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PersonEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Update person",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putPeople"
              }
            }
          },
          "required": true
        }
      }
    },
    "/people/upsert": {
      "post": {
        "summary": "",
        "description": "Search for a person by cpf or email.\n\nIf found, update it, otherwise, create a new one.\n\nThis endpoint is very useful if you want to avoid verifying for\nduplicates before creating a new person.\n",
        "tags": [
          "people"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PersonEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Upsert person",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postPeopleUpsert"
              }
            }
          },
          "required": true
        }
      }
    },
    "/organizations/{organization_id}/tasks": {
      "get": {
        "summary": "",
        "description": "List and search tasks of an organization.",
        "tags": [
          "tasks"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "finishedDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **finished after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "finishedDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **finished before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dueDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks **due after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dueDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks **due before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **updated after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **updated before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **created after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **created before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "metricId",
            "in": "query",
            "required": false,
            "description": "Metric ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "finishedEq",
            "in": "query",
            "required": false,
            "description": "Use to search for finished or unfinished tasks.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaskEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List tasks of organization"
      },
      "post": {
        "summary": "",
        "description": "Create a new task related to this organization.",
        "tags": [
          "tasks"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TaskEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Create task for organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postOrganizationsOrganizationIdTasks"
              }
            }
          },
          "required": true
        }
      }
    },
    "/organizations/{organization_id}/tasks/{id}": {
      "put": {
        "summary": "",
        "description": "Update an existing task of this organization.",
        "tags": [
          "tasks"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TaskEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Update task of organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putOrganizationsOrganizationIdTasks"
              }
            }
          },
          "required": true
        }
      }
    },
    "/organizations/{organization_id}/deals": {
      "get": {
        "summary": "",
        "description": "List deals of this organization.",
        "tags": [
          "deals"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "withCustomFields",
            "in": "query",
            "required": false,
            "description": "Return custom fields of deals.\n                 Use this param to include them in the response.\n                 Example: /organizations/{organization_id}/deals?withCustomFields=true",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DealEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List deals of organization"
      },
      "post": {
        "summary": "",
        "description": "Create a new deal for organization.",
        "tags": [
          "deals"
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FullDealEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Create deal for organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postOrganizationsOrganizationIdDeals"
              }
            }
          },
          "required": true
        }
      }
    },
    "/organizations/{organization_id}/people": {
      "get": {
        "summary": "",
        "description": "List all people of an organization.",
        "tags": [
          "people"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PersonEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List people of organization"
      }
    },
    "/organizations": {
      "get": {
        "summary": "",
        "description": "List and search for organizations.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameExact",
            "in": "query",
            "required": false,
            "description": "Name (exactly equal).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Category ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sector",
            "in": "query",
            "required": false,
            "description": "Sector ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "leadOrigin",
            "in": "query",
            "required": false,
            "description": "Lead origin ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "products",
            "in": "query",
            "required": false,
            "description": "Array of product IDs.",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "userOwner",
            "in": "query",
            "required": false,
            "description": "Owner user ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cnpj",
            "in": "query",
            "required": false,
            "description": "Document number (CNPJ) **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "description": "Author user ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Address state abbreviation.",
            "schema": {
              "type": "string",
              "enum": [
                "AC",
                "AL",
                "AP",
                "AM",
                "BA",
                "CE",
                "DF",
                "ES",
                "GO",
                "MA",
                "MT",
                "MS",
                "MG",
                "PA",
                "PB",
                "PR",
                "PE",
                "PI",
                "RJ",
                "RN",
                "RS",
                "RO",
                "RR",
                "SC",
                "SP",
                "SE",
                "TO"
              ]
            }
          },
          {
            "name": "cityName",
            "in": "query",
            "required": false,
            "description": "City name **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "description": "District name **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Contact email **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "work_phone",
            "in": "query",
            "required": false,
            "description": "Work phone number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mobile_phone",
            "in": "query",
            "required": false,
            "description": "Mobile phone number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fax_phone",
            "in": "query",
            "required": false,
            "description": "Fax number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "whatsapp",
            "in": "query",
            "required": false,
            "description": "WhatsApp phone number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "required": false,
            "description": "Use to search in any phone field (work, mobile, fax and WhatsApp).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdAtGt",
            "in": "query",
            "required": false,
            "description": "Use to search for organizations that were **created after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAtLt",
            "in": "query",
            "required": false,
            "description": "Use to search for organizations that were **created before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedAtGt",
            "in": "query",
            "required": false,
            "description": "Use to search for organizations that were **updated after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedAtLt",
            "in": "query",
            "required": false,
            "description": "Use to search for organizations that were **updated before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "withCustomFields",
            "in": "query",
            "required": false,
            "description": "Return custom fields of organizations. Use this param to include them in the response.\n             Example: /organizations?withCustomFields=true",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List organizations"
      },
      "post": {
        "summary": "",
        "description": "Create a new organization.",
        "tags": [
          "organizations"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrganizationEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Create organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postOrganizations"
              }
            }
          },
          "required": true
        }
      }
    },
    "/organizations/{id}": {
      "get": {
        "summary": "",
        "description": "Get an specific organization by ID.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "withCustomFields",
            "in": "query",
            "required": false,
            "description": "Return custom fields of organizations. Use this param to include them in the response.\n             Example: /organizations/{id}?withCustomFields=true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrganizationEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Get organization"
      },
      "delete": {
        "summary": "",
        "description": "Delete an organization.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrganizationEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Delete organization"
      },
      "put": {
        "summary": "",
        "description": "Update a specific organization by ID.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrganizationEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Update organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putOrganizations"
              }
            }
          },
          "required": true
        }
      }
    },
    "/organizations/upsert": {
      "post": {
        "summary": "",
        "description": "Search for an organization by name or document number (CNPJ).\n\nIf found, update it, otherwise, create a new one.\n\nThis endpoint is very useful if you want to avoid verifying for\nduplicates before creating a new organization.\n",
        "tags": [
          "organizations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrganizationEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Upsert organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postOrganizationsUpsert"
              }
            }
          },
          "required": true
        }
      }
    },
    "/deals/{deal_id}/tasks": {
      "get": {
        "summary": "",
        "description": "List and search tasks of a deal.",
        "tags": [
          "tasks"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "finishedDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **finished after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "finishedDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **finished before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dueDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks **due after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dueDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks **due before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **updated after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **updated before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **created after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **created before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "metricId",
            "in": "query",
            "required": false,
            "description": "Metric ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "finishedEq",
            "in": "query",
            "required": false,
            "description": "Use to search for finished or unfinished tasks.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaskEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List tasks of deal"
      },
      "post": {
        "summary": "",
        "description": "Create a new task related to this deal.",
        "tags": [
          "tasks"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TaskEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Create task for deal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postDealsDealIdTasks"
              }
            }
          },
          "required": true
        }
      }
    },
    "/deals/{deal_id}/tasks/{id}": {
      "put": {
        "summary": "",
        "description": "Update an existing task of this deal.",
        "tags": [
          "tasks"
        ],
        "parameters": [
          {
            "name": "deal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TaskEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Update task of deal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putDealsDealIdTasks"
              }
            }
          },
          "required": true
        }
      }
    },
    "/deals/movements_history": {
      "get": {
        "summary": "",
        "description": "List deals stages changes in a time range.\n            This allows to track everytime a deal had a movement between stages\n            of a funnel or when it was won or lost.",
        "tags": [
          "deals"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "Use to search for stages or status created and updated\n                 **since** the given date. Example: 2023-10-23T00:00:00Z.\n                 When not provided, default value is 7 days ago.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": "2026-03-25T22:14:31.208Z"
            }
          },
          {
            "name": "days_interval",
            "in": "query",
            "required": false,
            "description": "Amount of days **after since** to delimit the filter range.\n                 Default value is 7. Max value is 30.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 7
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MovementHistoryEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List deal movements history"
      }
    },
    "/deals/{id}": {
      "put": {
        "summary": "",
        "description": "Update a deal.",
        "tags": [
          "deals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FullDealEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Update deal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putDeals"
              }
            }
          },
          "required": true
        }
      },
      "get": {
        "summary": "",
        "description": "Get an specific deal by ID.",
        "tags": [
          "deals"
        ],
        "parameters": [
          {
            "name": "withCustomFields",
            "in": "query",
            "required": false,
            "description": "Return custom fields of deals. Use this param to include them in the response.\n           Example: /deals/{id}?withCustomFields=true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DealEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Get deal"
      }
    },
    "/deals/{id}/status": {
      "put": {
        "summary": "",
        "description": "Win, lose or reopen a deal.",
        "tags": [
          "deals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FullDealEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Update deal status",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putDealsIdStatus"
              }
            }
          },
          "required": true
        }
      }
    },
    "/deals/{id}/stage": {
      "put": {
        "summary": "",
        "description": "Change a deal's funnel stage.",
        "tags": [
          "deals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/FullDealEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Update deal stage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putDealsIdStage"
              }
            }
          },
          "required": true
        }
      }
    },
    "/deals": {
      "get": {
        "summary": "",
        "description": "List and search for deals.",
        "tags": [
          "deals"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "description": "Title **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dealStatus",
            "in": "query",
            "required": false,
            "description": "Deal status ID.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "enum": [
                1,
                2,
                3
              ]
            }
          },
          {
            "name": "dealStage",
            "in": "query",
            "required": false,
            "description": "Deal stage ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "dealStageOrder",
            "in": "query",
            "required": false,
            "description": "Deal stage sequence number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "userOwner",
            "in": "query",
            "required": false,
            "description": "Owner user ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "description": "Author user ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "description": "Organization ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "person",
            "in": "query",
            "required": false,
            "description": "Person ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lossReason",
            "in": "query",
            "required": false,
            "description": "Loss reason ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "products",
            "in": "query",
            "required": false,
            "description": "Array of product IDS.",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "startAtGt",
            "in": "query",
            "required": false,
            "description": "Use to search for deals that **started after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "startAtLt",
            "in": "query",
            "required": false,
            "description": "Use to search for deals that **started before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endAtGt",
            "in": "query",
            "required": false,
            "description": "Use to search for deals that were **finished after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endAtLt",
            "in": "query",
            "required": false,
            "description": "Use to search for deals that were **finished before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAtGt",
            "in": "query",
            "required": false,
            "description": "Use to search for deals that were **created after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAtLt",
            "in": "query",
            "required": false,
            "description": "Use to search for deals that were **created before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedAtGt",
            "in": "query",
            "required": false,
            "description": "Use to search for deals that were **updated after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedAtLt",
            "in": "query",
            "required": false,
            "description": "Use to search for deals that were **updated before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "withCustomFields",
            "in": "query",
            "required": false,
            "description": "Return custom fields of deals. Use this param to include them in the response.\n        Example: /deals?withCustomFields=true",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DealEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List deals"
      }
    },
    "/tasks": {
      "get": {
        "summary": "",
        "description": "List and search tasks.",
        "tags": [
          "tasks"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "finishedDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **finished after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "finishedDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **finished before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dueDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks **due after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "dueDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks **due before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **updated after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **updated before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdDateGt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **created after** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdDateLt",
            "in": "query",
            "required": false,
            "description": "Use to search for tasks that were **created before** this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "metricId",
            "in": "query",
            "required": false,
            "description": "Metric ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "finishedEq",
            "in": "query",
            "required": false,
            "description": "Use to search for finished or unfinished tasks.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaskEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List tasks"
      }
    },
    "/tasks/export": {
      "post": {
        "summary": "",
        "description": "Generate a .xlsx file with a list of tasks and return a link\n        to download it.",
        "tags": [
          "tasks"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_exportation_entities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccountExportationEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Export list of task in .xlsx"
      }
    },
    "/categories": {
      "get": {
        "summary": "",
        "description": "List all categories in your account.",
        "tags": [
          "categories"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CategoryEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List categories"
      }
    },
    "/sectors": {
      "get": {
        "summary": "",
        "description": "List all sectors in your account.",
        "tags": [
          "sectors"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SectorEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List sectors"
      }
    },
    "/products": {
      "get": {
        "summary": "",
        "description": "List all products in your account.",
        "tags": [
          "products"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page of results to fetch.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProductEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List products"
      },
      "post": {
        "summary": "",
        "description": "Create a new product.",
        "tags": [
          "products"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Create product",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postProducts"
              }
            }
          },
          "required": true
        }
      }
    },
    "/products/{id}": {
      "get": {
        "summary": "",
        "description": "Get product by id",
        "tags": [
          "products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "product_entity": {
                      "$ref": "#/components/schemas/ProductEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Get a product"
      },
      "put": {
        "summary": "",
        "description": "Update a product.",
        "tags": [
          "products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Update product",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putProducts"
              }
            }
          },
          "required": true
        }
      },
      "delete": {
        "summary": "",
        "description": "Delete a product.",
        "tags": [
          "products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Delete product"
      }
    },
    "/states": {
      "get": {
        "summary": "",
        "description": "List all available address states.",
        "tags": [
          "states"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StateEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List states"
      }
    },
    "/states/{state}/cities": {
      "get": {
        "summary": "",
        "description": "List all cities in a state.",
        "tags": [
          "states"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AC",
                "AL",
                "AP",
                "AM",
                "BA",
                "CE",
                "DF",
                "ES",
                "GO",
                "MA",
                "MT",
                "MS",
                "MG",
                "PA",
                "PB",
                "PR",
                "PE",
                "PI",
                "RJ",
                "RN",
                "RS",
                "RO",
                "RR",
                "SC",
                "SP",
                "SE",
                "TO"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CityEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List cities in state"
      }
    },
    "/users": {
      "get": {
        "summary": "",
        "description": "List and search users of your account.",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "User ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Name **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Email **prefix**.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "description": "Whether the user is active or not.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List users"
      }
    },
    "/users/me": {
      "get": {
        "summary": "",
        "description": "Get information about the authenticated user.",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UserEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Get current user"
      }
    },
    "/users/{id}": {
      "put": {
        "summary": "",
        "description": "Activate or inactivate a specific user.",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UserEntity"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "Update user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putUsers"
              }
            }
          },
          "required": true
        }
      }
    },
    "/lead_origins": {
      "get": {
        "summary": "",
        "description": "List all lead origins in your account.",
        "tags": [
          "lead_origins"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LeadOriginEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List lead origins"
      }
    },
    "/loss_reasons": {
      "get": {
        "summary": "",
        "description": "List all loss reasons in your account.",
        "tags": [
          "loss_reasons"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LossReasonEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List loss reasons"
      }
    },
    "/funnels": {
      "get": {
        "summary": "",
        "description": "List all funnels in your account.",
        "tags": [
          "funnels"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FunnelEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List funnels"
      }
    },
    "/metrics": {
      "get": {
        "summary": "",
        "description": "List all metrics in your account.",
        "tags": [
          "metrics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MetricEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List metrics"
      }
    },
    "/deal_statuses": {
      "get": {
        "summary": "",
        "description": "List all deal statuses.",
        "tags": [
          "deal_statuses"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DealStatusEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List deal statuses"
      }
    },
    "/deal_stages": {
      "get": {
        "summary": "",
        "description": "List and search deal stages in your account.",
        "tags": [
          "deal_stages"
        ],
        "parameters": [
          {
            "name": "funnel",
            "in": "query",
            "required": false,
            "description": "Funnel ID.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DealStageEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List deal stages"
      }
    },
    "/custom_fields/organizations": {
      "get": {
        "summary": "",
        "description": "",
        "tags": [
          "custom_fields"
        ],
        "responses": {
          "200": {
            "description": "get Organization(s)"
          }
        },
        "operationId": "getCustomFieldsOrganizations"
      }
    },
    "/custom_fields/people": {
      "get": {
        "summary": "",
        "description": "",
        "tags": [
          "custom_fields"
        ],
        "responses": {
          "200": {
            "description": "get Person(s)"
          }
        },
        "operationId": "getCustomFieldsPeople"
      }
    },
    "/custom_fields/deals": {
      "get": {
        "summary": "",
        "description": "",
        "tags": [
          "custom_fields"
        ],
        "responses": {
          "200": {
            "description": "get Deal(s)"
          }
        },
        "operationId": "getCustomFieldsDeals"
      }
    },
    "/product_categories": {
      "get": {
        "summary": "",
        "description": "List all product categories in your account.",
        "tags": [
          "product_categories"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProductCategoryEntity"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "List product categories"
      }
    },
    "/voip_calls": {
      "get": {
        "summary": "",
        "description": "",
        "tags": [
          "voip_calls"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get VoipCall(s)"
          }
        },
        "operationId": "getVoipCalls"
      }
    },
    "/ping/{id}": {
      "get": {
        "summary": "",
        "description": "",
        "tags": [
          "ping"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "get Ping(s)"
          }
        },
[...]
