{
  "openapi": "3.0.3",
  "info": {
    "title": "Claid.ai Image Editing API",
    "version": "1.0.0",
    "description": "Claid.ai provides AI-powered image editing capabilities including enhancement, upscaling, background removal, smart cropping, format conversion, and more. The API supports synchronous, asynchronous, and batch processing modes, as well as direct URL-based image upload.",
    "x-jentic-source-url": "https://docs.claid.ai/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.claid.ai"
    }
  ],
  "tags": [
    {
      "name": "Image Editing",
      "description": "Synchronous image editing operations"
    },
    {
      "name": "Async",
      "description": "Asynchronous image editing operations"
    },
    {
      "name": "Batch",
      "description": "Batch image processing"
    },
    {
      "name": "Upload",
      "description": "Image upload operations"
    },
    {
      "name": "Storage",
      "description": "Storage connector management"
    }
  ],
  "paths": {
    "/v1-beta1/image/edit": {
      "post": {
        "operationId": "editImage",
        "summary": "Edit an image (synchronous)",
        "description": "Apply AI-powered editing operations to an image synchronously. Supports operations like enhance, upscale, remove background, smart crop, extend, and format conversion. Input can be a URL or base64-encoded image data.",
        "tags": [
          "Image Editing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited image returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageEditResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1-beta1/image/edit/async": {
      "post": {
        "operationId": "editImageAsync",
        "summary": "Edit an image (asynchronous)",
        "description": "Submit an asynchronous image editing job. Returns a job ID that can be used to check the status and retrieve results.",
        "tags": [
          "Async"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1-beta1/image/edit/async/{jobId}": {
      "get": {
        "operationId": "getAsyncJobStatus",
        "summary": "Get async job status",
        "description": "Check the status of an asynchronous image editing job.",
        "tags": [
          "Async"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "The async job ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status and results if complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1-beta1/image/edit/batch": {
      "post": {
        "operationId": "editImageBatch",
        "summary": "Edit images in batch",
        "description": "Submit a batch of images for processing. Images are sourced from and delivered to configured storage connectors.",
        "tags": [
          "Batch"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchEditRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1-beta1/image/edit/batch/{batchId}": {
      "get": {
        "operationId": "getBatchJobStatus",
        "summary": "Get batch job status",
        "description": "Check the status of a batch processing job.",
        "tags": [
          "Batch"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "description": "The batch job ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchJobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Batch job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1-beta1/image/edit/upload": {
      "post": {
        "operationId": "uploadAndEditImage",
        "summary": "Upload and edit an image",
        "description": "Upload an image file directly and apply editing operations. Accepts multipart/form-data with the image file.",
        "tags": [
          "Upload"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image file to upload"
                  },
                  "data": {
                    "type": "string",
                    "description": "JSON string with editing operations"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edited image returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageEditResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1-beta1/storage/connectors": {
      "get": {
        "operationId": "listStorageConnectors",
        "summary": "List storage connectors",
        "description": "Retrieve a list of configured storage connectors for batch processing.",
        "tags": [
          "Storage"
        ],
        "responses": {
          "200": {
            "description": "List of storage connectors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageConnectorsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createStorageConnector",
        "summary": "Create a storage connector",
        "description": "Create a new storage connector for use with batch processing. Supported types include AWS S3, Google Cloud Storage, and Azure Blob Storage.",
        "tags": [
          "Storage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageConnectorRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Storage connector created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageConnector"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1-beta1/storage/connectors/{connectorId}": {
      "get": {
        "operationId": "getStorageConnector",
        "summary": "Get a storage connector",
        "description": "Retrieve details of a specific storage connector.",
        "tags": [
          "Storage"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "description": "Storage connector ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Storage connector details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageConnector"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Connector not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateStorageConnector",
        "summary": "Update a storage connector",
        "description": "Update an existing storage connector configuration.",
        "tags": [
          "Storage"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "description": "Storage connector ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StorageConnectorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Storage connector updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageConnector"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteStorageConnector",
        "summary": "Delete a storage connector",
        "description": "Delete a storage connector.",
        "tags": [
          "Storage"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "description": "Storage connector ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Connector deleted successfully"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Connector not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Claid.ai API key used as Bearer token"
      }
    },
    "schemas": {
      "ImageEditRequest": {
        "type": "object",
        "properties": {
          "input": {
            "type": "string",
            "description": "Input image URL or base64-encoded data"
          },
          "operations": {
            "$ref": "#/components/schemas/Operations"
          },
          "output": {
            "$ref": "#/components/schemas/OutputConfig"
          }
        },
        "required": [
          "input",
          "operations"
        ]
      },
      "Operations": {
        "type": "object",
        "description": "Image editing operations to apply",
        "properties": {
          "restorations": {
            "$ref": "#/components/schemas/Restorations"
          },
          "adjustments": {
            "$ref": "#/components/schemas/Adjustments"
          },
          "resizing": {
            "$ref": "#/components/schemas/Resizing"
          },
          "background": {
            "$ref": "#/components/schemas/BackgroundOps"
          },
          "padding": {
            "$ref": "#/components/schemas/Padding"
          },
          "color": {
            "$ref": "#/components/schemas/ColorOps"
          }
        }
      },
      "Restorations": {
        "type": "object",
        "properties": {
          "upscale": {
            "type": "string",
            "enum": [
              "smart_enhance",
              "smart_resize",
              "digital_art"
            ],
            "description": "Upscaling algorithm"
          },
          "denoise": {
            "type": "string",
            "enum": [
              "auto",
              "low",
              "medium",
              "high"
            ]
          },
          "deblur": {
            "type": "string",
            "enum": [
              "auto",
              "low",
              "medium",
              "high"
            ]
          },
          "dejpeg": {
            "type": "string",
            "enum": [
              "auto",
              "low",
              "medium",
              "high"
            ]
          }
        }
      },
      "Adjustments": {
        "type": "object",
        "properties": {
          "hdr": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "brightness": {
            "type": "number",
            "minimum": -100,
            "maximum": 100
          },
          "contrast": {
            "type": "number",
            "minimum": -100,
            "maximum": 100
          },
          "saturation": {
            "type": "number",
            "minimum": -100,
            "maximum": 100
          },
          "sharpness": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "tone": {
            "type": "string"
          }
        }
      },
      "Resizing": {
        "type": "object",
        "properties": {
          "width": {
            "type": "integer",
            "description": "Target width in pixels"
          },
          "height": {
            "type": "integer",
            "description": "Target height in pixels"
          },
          "fit": {
            "type": "string",
            "enum": [
              "cover",
              "contain",
              "crop",
              "outpaint",
              "canvas"
            ],
            "description": "Resizing strategy"
          }
        }
      },
      "BackgroundOps": {
        "type": "object",
        "properties": {
          "remove": {
            "type": "object",
            "description": "Remove background configuration"
          },
          "color": {
            "type": "string",
            "description": "Background color (hex)"
          },
          "generate": {
            "type": "object",
            "description": "AI-generated background configuration"
          }
        }
      },
      "Padding": {
        "type": "object",
        "properties": {
          "top": {
            "type": "integer"
          },
          "bottom": {
            "type": "integer"
          },
          "left": {
            "type": "integer"
          },
          "right": {
            "type": "integer"
          }
        }
      },
      "ColorOps": {
        "type": "object",
        "properties": {
          "profile": {
            "type": "string",
            "description": "Color profile to apply (e.g., sRGB)"
          }
        }
      },
      "OutputConfig": {
        "type": "object",
        "properties": {
          "format": {
            "type": "string",
            "enum": [
              "jpeg",
              "png",
              "webp",
              "avif"
            ],
            "description": "Output image format"
          },
          "quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "description": "Output quality for lossy formats"
          }
        }
      },
      "ImageEditResponse": {
        "type": "object",
        "properties": {
          "output": {
            "type": "object",
            "properties": {
              "tmp_url": {
                "type": "string",
                "description": "Temporary URL of the processed image"
              },
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              },
              "format": {
                "type": "string"
              },
              "file_size": {
                "type": "integer"
              }
            }
          }
        }
      },
      "AsyncJobResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Async job ID"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          }
        }
      },
      "AsyncJobStatusResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "output": {
            "type": "object",
            "properties": {
              "tmp_url": {
                "type": "string"
              },
              "width": {
                "type": "integer"
              },
              "height": {
                "type": "integer"
              }
            }
          },
          "error": {
            "type": "string"
          }
        }
      },
      "BatchEditRequest": {
        "type": "object",
        "properties": {
          "input": {
            "type": "object",
            "properties": {
              "connector_id": {
                "type": "string"
              },
              "folder": {
                "type": "string"
              }
            }
          },
          "operations": {
            "$ref": "#/components/schemas/Operations"
          },
          "output": {
            "type": "object",
            "properties": {
              "connector_id": {
                "type": "string"
              },
              "folder": {
                "type": "string"
              },
              "format": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "input",
          "operations",
          "output"
        ]
      },
      "BatchJobResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Batch job ID"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "BatchJobStatusResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "total_images": {
            "type": "integer"
          },
          "processed_images": {
            "type": "integer"
          },
          "failed_images": {
            "type": "integer"
          }
        }
      },
      "StorageConnectorsResponse": {
        "type": "object",
        "properties": {
          "connectors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StorageConnector"
            }
          }
        }
      },
      "StorageConnector": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "s3",
              "gcs",
              "azure_blob"
            ]
          },
          "config": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "StorageConnectorRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "s3",
              "gcs",
              "azure_blob"
            ]
          },
          "config": {
            "type": "object",
            "additionalProperties": true,
            "description": "Connector-specific configuration (bucket, credentials, etc.)"
          }
        },
        "required": [
          "name",
          "type",
          "config"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "integer"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
