{
  "openapi": "3.0.0",
  "info": {
    "description": "API for k2productfeatures.cognitiveservices.azure.com",
    "title": "Azure",
    "version": "0.1",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/Sourcecode9/azure/0.1/swagger.json"
  },
  "servers": [
    {
      "url": "https://k2productfeatures.cognitiveservices.azure.com/"
    }
  ],
  "paths": {
    "/qnamaker/v4.0/knowledgebases/{kbId}": {
      "patch": {
        "parameters": [
          {
            "description": "Kb ID",
            "example": "01627ad6-466d-40d3-b655-95a858e1b8b0",
            "in": "path",
            "name": "kbId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\"operationState\"=>\"NotStarted\", \"createdTimestamp\"=>\"2018-03-19T07:38:46Z\", \"lastActionTimestamp\"=>\"2018-03-19T07:39:29Z\", \"userId\"=>\"86bb8390-56c0-42c2-9f81-3de161981191\", \"operationId\"=>\"03a4f4ce-30a6-4ec6-b436-02bcdf6153e1\"}"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [],
        "tags": [
          "Qnamaker"
        ],
        "description": "update",
        "operationId": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequestBody"
              }
            }
          },
          "description": "updateREquestBody",
          "required": true
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Add": {
        "description": "Model for Add",
        "properties": {
          "files": {
            "items": {
              "$ref": "#/components/schemas/Files"
            },
            "type": "array",
            "x-example": "[\n  {\n    \"fileName\": \"SurfaceManual.pdf\",\n    \"fileUri\": \"https://download.microsoft.com/download/2/9/B/29B20383-302C-4517-A006-B0186F04BE28/surface-pro-4-user-guide-EN.pdf\"\n  }\n]"
          },
          "qnaList": {
            "items": {
              "$ref": "#/components/schemas/QnaList"
            },
            "type": "array",
            "x-example": "[\n  {\n    \"id\": 0,\n    \"answer\": \"You can change the default message if you use the QnAMakerDialog. See this for details: https://docs.botframework.com/en-us/azure-bot-service/templates/qnamaker/#navtitle\",\n    \"source\": \"Custom Editorial\",\n    \"questions\": [\n      \"How can I change the default message from QnA Maker?\"\n    ],\n    \"metadata\": [\n\n    ]\n  }\n]"
          },
          "urls": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-example": "[\"https://docs.microsoft.com/en-us/azure/cognitive-services/Emotion/FAQ\"]"
          }
        },
        "required": [
          "files"
        ],
        "type": "object"
      },
      "AlternateQuestionClusters": {
        "description": "Model for AlternateQuestionClusters",
        "properties": {
          "delete": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-example": "[]"
          }
        },
        "required": [
          "delete"
        ],
        "type": "object"
      },
      "Context": {
        "description": "Model for Context",
        "properties": {
          "isContextOnly": {
            "type": "boolean",
            "x-example": "false"
          },
          "promptsToAdd": {
            "items": {
              "$ref": "#/components/schemas/PromptsToAdd"
            },
            "type": "array",
            "x-example": "[\n  {\n    \"displayText\": \"Add Prompts\",\n    \"displayOrder\": 0,\n    \"qna\": {\n      \"id\": 0,\n      \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n      \"source\": \"Editorial\",\n      \"questions\": [\n        \"How can I add prompts?\"\n      ],\n      \"metadata\": [\n\n      ],\n      \"alternateQuestionClusters\": [\n\n      ],\n      \"context\": {\n        \"isContextOnly\": false,\n        \"prompts\": [\n\n        ]\n      }\n    },\n    \"qnaId\": 0\n  },\n  {\n    \"displayText\": \"Delete Prompts\",\n    \"displayOrder\": 0,\n    \"qna\": {\n      \"id\": 0,\n      \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n      \"source\": \"Editorial\",\n      \"questions\": [\n        \"How can I delete delete prompts?\"\n      ],\n      \"metadata\": [\n\n      ],\n      \"alternateQuestionClusters\": [\n\n      ],\n      \"context\": {\n        \"isContextOnly\": false,\n        \"prompts\": [\n\n        ]\n      }\n    },\n    \"qnaId\": 0\n  },\n  {\n    \"displayText\": \"Update Knowledgebase\",\n    \"displayOrder\": 0,\n    \"qna\": null,\n    \"qnaId\": 3\n  }\n]"
          },
          "promptsToDelete": {
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "type": "array",
            "x-example": "[3]"
          }
        },
        "required": [
          "isContextOnly"
        ],
        "type": "object"
      },
      "Context22": {
        "description": "Model for Context2",
        "properties": {
          "isContextOnly": {
            "type": "boolean",
            "x-example": "false"
          },
          "prompts": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-example": "[]"
          }
        },
        "required": [
          "isContextOnly"
        ],
        "type": "object"
      },
      "Delete": {
        "description": "Model for Delete",
        "properties": {
          "ids": {
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "type": "array",
            "x-example": "[13, 35]"
          }
        },
        "required": [
          "ids"
        ],
        "type": "object"
      },
      "Files": {
        "description": "Model for Files",
        "properties": {
          "fileName": {
            "type": "string",
            "x-example": "SurfaceManual.pdf"
          },
          "fileUri": {
            "type": "string",
            "x-example": "https://download.microsoft.com/download/2/9/B/29B20383-302C-4517-A006-B0186F04BE28/surface-pro-4-user-guide-EN.pdf"
          }
        },
        "required": [
          "fileName"
        ],
        "type": "object"
      },
      "Metadata": {
        "description": "Model for Metadata",
        "properties": {
          "add": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-example": "[]"
          },
          "delete": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-example": "[]"
          }
        },
        "required": [
          "add"
        ],
        "type": "object"
      },
      "PromptsToAdd": {
        "description": "Model for PromptsToAdd",
        "properties": {
          "displayOrder": {
            "format": "int32",
            "type": "integer",
            "x-example": "0"
          },
          "displayText": {
            "type": "string",
            "x-example": "Add Prompts"
          },
          "qna": {
            "$ref": "#/components/schemas/Qna",
            "x-example": "{\n  \"id\": 0,\n  \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n  \"source\": \"Editorial\",\n  \"questions\": [\n    \"How can I add prompts?\"\n  ],\n  \"metadata\": [\n\n  ],\n  \"alternateQuestionClusters\": [\n\n  ],\n  \"context\": {\n    \"isContextOnly\": false,\n    \"prompts\": [\n\n    ]\n  }\n}"
          },
          "qnaId": {
            "format": "int32",
            "type": "integer",
            "x-example": "0"
          }
        },
        "required": [
          "displayOrder"
        ],
        "type": "object"
      },
      "Qna": {
        "description": "Model for Qna",
        "properties": {
          "alternateQuestionClusters": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-example": "[]"
          },
          "answer": {
            "type": "string",
            "x-example": "Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation"
          },
          "context": {
            "$ref": "#/components/schemas/Context",
            "x-example": "{\n  \"isContextOnly\": false,\n  \"prompts\": [\n\n  ]\n}"
          },
          "id": {
            "format": "int32",
            "type": "integer",
            "x-example": "0"
          },
          "metadata": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-example": "[]"
          },
          "questions": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-example": "[\"How can I add prompts?\"]"
          },
          "source": {
            "type": "string",
            "x-example": "Editorial"
          }
        },
        "required": [
          "alternateQuestionClusters"
        ],
        "type": "object"
      },
      "QnaList": {
        "description": "Model for QnaList",
        "properties": {
          "answer": {
            "type": "string",
            "x-example": "You can change the default message if you use the QnAMakerDialog. See this for details: https://docs.botframework.com/en-us/azure-bot-service/templates/qnamaker/#navtitle"
          },
          "id": {
            "format": "int32",
            "type": "integer",
            "x-example": "0"
          },
          "metadata": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-example": "[]"
          },
          "questions": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-example": "[\"How can I change the default message from QnA Maker?\"]"
          },
          "source": {
            "type": "string",
            "x-example": "Custom Editorial"
          }
        },
        "required": [
          "answer"
        ],
        "type": "object"
      },
      "QnaList2": {
        "description": "Model for QnaList2",
        "properties": {
          "alternateQuestionClusters": {
            "$ref": "#/components/schemas/AlternateQuestionClusters",
            "x-example": "{\n  \"delete\": [\n\n  ]\n}"
          },
          "answer": {
            "type": "string",
            "x-example": "You can use our REST apis to create a KB. See here for details: https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/create"
          },
          "context": {
            "$ref": "#/components/schemas/Context",
            "x-example": "{\n  \"isContextOnly\": false,\n  \"promptsToAdd\": [\n    {\n      \"displayText\": \"Add Prompts\",\n      \"displayOrder\": 0,\n      \"qna\": {\n        \"id\": 0,\n        \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n        \"source\": \"Editorial\",\n        \"questions\": [\n          \"How can I add prompts?\"\n        ],\n        \"metadata\": [\n\n        ],\n        \"alternateQuestionClusters\": [\n\n        ],\n        \"context\": {\n          \"isContextOnly\": false,\n          \"prompts\": [\n\n          ]\n        }\n      },\n      \"qnaId\": 0\n    },\n    {\n      \"displayText\": \"Delete Prompts\",\n      \"displayOrder\": 0,\n      \"qna\": {\n        \"id\": 0,\n        \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n        \"source\": \"Editorial\",\n        \"questions\": [\n          \"How can I delete delete prompts?\"\n        ],\n        \"metadata\": [\n\n        ],\n        \"alternateQuestionClusters\": [\n\n        ],\n        \"context\": {\n          \"isContextOnly\": false,\n          \"prompts\": [\n\n          ]\n        }\n      },\n      \"qnaId\": 0\n    },\n    {\n      \"displayText\": \"Update Knowledgebase\",\n      \"displayOrder\": 0,\n      \"qna\": null,\n      \"qnaId\": 3\n    }\n  ],\n  \"promptsToDelete\": [\n    3\n  ]\n}"
          },
          "id": {
            "format": "int32",
            "type": "integer",
            "x-example": "2"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata",
            "x-example": "{\n  \"add\": [\n\n  ],\n  \"delete\": [\n\n  ]\n}"
          },
          "questions": {
            "$ref": "#/components/schemas/Questions",
            "x-example": "{\n  \"add\": [\n\n  ],\n  \"delete\": [\n\n  ]\n}"
          },
          "source": {
            "type": "string",
            "x-example": "Custom Editorial"
          }
        },
        "required": [
          "alternateQuestionClusters"
        ],
        "type": "object"
      },
      "Questions": {
        "description": "Model for Questions",
        "properties": {
          "add": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-example": "[]"
          },
          "delete": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-example": "[]"
          }
        },
        "required": [
          "add"
        ],
        "type": "object"
      },
      "Update": {
        "description": "Model for Update",
        "properties": {
          "name": {
            "type": "string",
            "x-example": "QnA Maker FAQ Prompts Bot"
          },
          "qnaList": {
            "items": {
              "$ref": "#/components/schemas/QnaList2"
            },
            "type": "array",
            "x-example": "[\n  {\n    \"id\": 2,\n    \"answer\": \"You can use our REST apis to create a KB. See here for details: https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/create\",\n    \"source\": \"Custom Editorial\",\n    \"questions\": {\n      \"add\": [\n\n      ],\n      \"delete\": [\n\n      ]\n    },\n    \"metadata\": {\n      \"add\": [\n\n      ],\n      \"delete\": [\n\n      ]\n    },\n    \"alternateQuestionClusters\": {\n      \"delete\": [\n\n      ]\n    },\n    \"context\": {\n      \"isContextOnly\": false,\n      \"promptsToAdd\": [\n        {\n          \"displayText\": \"Add Prompts\",\n          \"displayOrder\": 0,\n          \"qna\": {\n            \"id\": 0,\n            \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n            \"source\": \"Editorial\",\n            \"questions\": [\n              \"How can I add prompts?\"\n            ],\n            \"metadata\": [\n\n            ],\n            \"alternateQuestionClusters\": [\n\n            ],\n            \"context\": {\n              \"isContextOnly\": false,\n              \"prompts\": [\n\n              ]\n            }\n          },\n          \"qnaId\": 0\n        },\n        {\n          \"displayText\": \"Delete Prompts\",\n          \"displayOrder\": 0,\n          \"qna\": {\n            \"id\": 0,\n            \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n            \"source\": \"Editorial\",\n            \"questions\": [\n              \"How can I delete delete prompts?\"\n            ],\n            \"metadata\": [\n\n            ],\n            \"alternateQuestionClusters\": [\n\n            ],\n            \"context\": {\n              \"isContextOnly\": false,\n              \"prompts\": [\n\n              ]\n            }\n          },\n          \"qnaId\": 0\n        },\n        {\n          \"displayText\": \"Update Knowledgebase\",\n          \"displayOrder\": 0,\n          \"qna\": null,\n          \"qnaId\": 3\n        }\n      ],\n      \"promptsToDelete\": [\n        3\n      ]\n    }\n  },\n  {\n    \"id\": 3,\n    \"answer\": \"You can use our REST apis to update your KB. See here for details: https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/update\",\n    \"source\": \"Custom Editorial\",\n    \"questions\": {\n      \"add\": [\n\n      ],\n      \"delete\": [\n\n      ]\n    },\n    \"metadata\": {\n      \"delete\": [\n        {\n          \"name\": \"category\",\n          \"value\": \"api\"\n        }\n      ],\n      \"add\": [\n        {\n          \"name\": \"category\",\n          \"value\": \"programmatic\"\n        }\n      ]\n    },\n    \"alternateQuestionClusters\": {\n      \"delete\": [\n\n      ]\n    },\n    \"context\": {\n      \"isContextOnly\": false,\n      \"promptsToAdd\": [\n        {\n          \"displayText\": \"Regenerate Endpoint keys\",\n          \"displayOrder\": 1,\n          \"qna\": null,\n          \"qnaId\": 4\n        }\n      ],\n      \"promptsToDelete\": [\n        4\n      ]\n    }\n  }\n]"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "UpdateRequestBody": {
        "description": "Model for UpdateRequestBody",
        "properties": {
          "add": {
            "$ref": "#/components/schemas/Add",
            "x-example": "{\n  \"qnaList\": [\n    {\n      \"id\": 0,\n      \"answer\": \"You can change the default message if you use the QnAMakerDialog. See this for details: https://docs.botframework.com/en-us/azure-bot-service/templates/qnamaker/#navtitle\",\n      \"source\": \"Custom Editorial\",\n      \"questions\": [\n        \"How can I change the default message from QnA Maker?\"\n      ],\n      \"metadata\": [\n\n      ]\n    }\n  ],\n  \"urls\": [\n    \"https://docs.microsoft.com/en-us/azure/cognitive-services/Emotion/FAQ\"\n  ],\n  \"files\": [\n    {\n      \"fileName\": \"SurfaceManual.pdf\",\n      \"fileUri\": \"https://download.microsoft.com/download/2/9/B/29B20383-302C-4517-A006-B0186F04BE28/surface-pro-4-user-guide-EN.pdf\"\n    }\n  ]\n}"
          },
          "delete": {
            "$ref": "#/components/schemas/Delete",
            "x-example": "{\n  \"ids\": [\n    13,\n    35\n  ]\n}"
          },
          "update": {
            "$ref": "#/components/schemas/Update",
            "x-example": "{\n  \"name\": \"QnA Maker FAQ Prompts Bot\",\n  \"qnaList\": [\n    {\n      \"id\": 2,\n      \"answer\": \"You can use our REST apis to create a KB. See here for details: https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/create\",\n      \"source\": \"Custom Editorial\",\n      \"questions\": {\n        \"add\": [\n\n        ],\n        \"delete\": [\n\n        ]\n      },\n      \"metadata\": {\n        \"add\": [\n\n        ],\n        \"delete\": [\n\n        ]\n      },\n      \"alternateQuestionClusters\": {\n        \"delete\": [\n\n        ]\n      },\n      \"context\": {\n        \"isContextOnly\": false,\n        \"promptsToAdd\": [\n          {\n            \"displayText\": \"Add Prompts\",\n            \"displayOrder\": 0,\n            \"qna\": {\n              \"id\": 0,\n              \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n              \"source\": \"Editorial\",\n              \"questions\": [\n                \"How can I add prompts?\"\n              ],\n              \"metadata\": [\n\n              ],\n              \"alternateQuestionClusters\": [\n\n              ],\n              \"context\": {\n                \"isContextOnly\": false,\n                \"prompts\": [\n\n                ]\n              }\n            },\n            \"qnaId\": 0\n          },\n          {\n            \"displayText\": \"Delete Prompts\",\n            \"displayOrder\": 0,\n            \"qna\": {\n              \"id\": 0,\n              \"answer\": \"Click here to know more https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/multiturn-conversation\",\n              \"source\": \"Editorial\",\n              \"questions\": [\n                \"How can I delete delete prompts?\"\n              ],\n              \"metadata\": [\n\n              ],\n              \"alternateQuestionClusters\": [\n\n              ],\n              \"context\": {\n                \"isContextOnly\": false,\n                \"prompts\": [\n\n                ]\n              }\n            },\n            \"qnaId\": 0\n          },\n          {\n            \"displayText\": \"Update Knowledgebase\",\n            \"displayOrder\": 0,\n            \"qna\": null,\n            \"qnaId\": 3\n          }\n        ],\n        \"promptsToDelete\": [\n          3\n        ]\n      }\n    },\n    {\n      \"id\": 3,\n      \"answer\": \"You can use our REST apis to update your KB. See here for details: https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase/update\",\n      \"source\": \"Custom Editorial\",\n      \"questions\": {\n        \"add\": [\n\n        ],\n        \"delete\": [\n\n        ]\n      },\n      \"metadata\": {\n        \"delete\": [\n          {\n            \"name\": \"category\",\n            \"value\": \"api\"\n          }\n        ],\n        \"add\": [\n          {\n            \"name\": \"category\",\n            \"value\": \"programmatic\"\n          }\n        ]\n      },\n      \"alternateQuestionClusters\": {\n        \"delete\": [\n\n        ]\n      },\n      \"context\": {\n        \"isContextOnly\": false,\n        \"promptsToAdd\": [\n          {\n            \"displayText\": \"Regenerate Endpoint keys\",\n            \"displayOrder\": 1,\n            \"qna\": null,\n            \"qnaId\": 4\n          }\n        ],\n        \"promptsToDelete\": [\n          4\n        ]\n      }\n    }\n  ]\n}"
          }
        },
        "required": [
          "add"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "Default": {
        "description": "Default Authentication",
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      }
    }
  },
  "security": [],
  "tags": [
    {
      "description": "Operations about Qnamaker",
      "name": "Qnamaker"
    }
  ]
}