{
  "openapi": "3.0.0",
  "info": {
    "title": "Sensus REST API customers",
    "version": "1.0.0-oas3",
    "contact": {
      "name": "Sensus support team",
      "email": "support@sensusit.com",
      "url": "https://app.sensusonline.net/iclient/"
    },
    "description": "# Apresentação\n\nDocumentação para utilização da REST API Sensus Customers.\n\n# Autenticação\nÉ necessário uma chave/token como Header para autenticar e fazer requisições a esta API. O nome do Header da chave/token é 'x_api_key'.\n\nPara gerar a chave/token da sua organização:\n1) Faça login no <a href=\"https://app.sensusonline.net/sensus/\" target=\"_blank\">Sensus CRM</a>\n2) Navegue Home/Configurar/Organização\n3) Edite a sua organização, clique na aba API e verifique no campo 'Chave/Token' se a chave/token já foi gerada. Caso já tenha sido gerada é esta a chave/token que deve ser utilizada nos requests das APIs.\n4) Caso a chave/token não tenha sido gerada ou você queira gerar uma nova chave/token, clique no botão 'Gerar nova Chave/Token' e salve.\n5) Além da chave/token é necessário cadastrar o endereço IP de onde serão gerados requests para as APIs. Localize o bloco 'Lista IPs permitidos', adicione o endereço IP do local de onde vai disparar os requests para as APIs e salve.\n\n# Error Codes\n**420-490 – Validations**\n\nParâmetros e/ou configurações não encontrados ou fora do padrão\n\n**400 – Bad Request**\n\nDados enviados de forma incorreta ou fora do padrão\n\n**403 – Forbidden**\n\nSem autorização suficiente para acessar o recurso desejado",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/SensusX/API-sensus-customers/1.0.0-oas3/swagger.json"
  },
  "servers": [
    {
      "url": "https://app.sensusonline.net/webapi/proee/customers"
    }
  ],
  "paths": {
    "/created/{creation_date}": {
      "get": {
        "description": "Retrieve records from customers api according to creation_date parameter entered.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "creation_date",
            "in": "path",
            "required": true,
            "description": "implicit",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "x_api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Query customers by creation date",
        "tags": [
          "Customers"
        ],
        "operationId": "get-created-by-creation-date"
      }
    },
    "/customer/{customer_name}": {
      "get": {
        "description": "Retrieve records from customers api according to customer_name parameter entered.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "customer_name",
            "in": "path",
            "required": true,
            "description": "implicit",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "x_api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Query customers by name",
        "tags": [
          "Customers"
        ],
        "operationId": "get-customer-by-customer-name"
      }
    },
    "/updated/{update_date}": {
      "get": {
        "description": "Retrieve records from customers api according to update_date parameter entered.",
        "responses": {
          "200": {
            "description": "The queried record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "update_date",
            "in": "path",
            "required": true,
            "description": "implicit",
            "schema": {
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          {
            "name": "x_api_key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Query customers by update date",
        "tags": [
          "Customers"
        ],
        "operationId": "get-updated-by-update-date"
      }
    }
  },
  "components": {},
  "tags": [
    {
      "name": "Customers"
    }
  ]
}