{
  "openapi": "3.0.3",
  "info": {
    "title": "Clarifai API",
    "description": "Clarifai is a computer vision and natural language processing platform that provides pre-trained and custom AI models for image recognition, object detection, face detection, text classification, and more. The API allows you to make predictions using models, manage inputs, search visual content, and build custom workflows.",
    "version": "2.0.0",
    "contact": {
      "name": "Clarifai Support",
      "url": "https://docs.clarifai.com",
      "email": "support@clarifai.com"
    },
    "x-jentic-source-url": "https://docs.clarifai.com/api-guide/api-overview"
  },
  "servers": [
    {
      "url": "https://api.clarifai.com/v2",
      "description": "Clarifai Production API"
    }
  ],
  "tags": [
    {
      "name": "Predict",
      "description": "Make predictions using AI models"
    },
    {
      "name": "Inputs",
      "description": "Manage input data (images, text, video)"
    },
    {
      "name": "Models",
      "description": "Manage AI models"
    },
    {
      "name": "Search",
      "description": "Search across inputs using visual or conceptual similarity"
    },
    {
      "name": "Workflows",
      "description": "Manage multi-model workflows"
    },
    {
      "name": "Concepts",
      "description": "Manage concepts/labels for training"
    }
  ],
  "paths": {
    "/users/{user_id}/apps/{app_id}/models/{model_id}/outputs": {
      "post": {
        "operationId": "postModelOutputs",
        "summary": "Predict using a model",
        "description": "Makes predictions on inputs using a specified model. Supports image classification, object detection, face detection, text analysis, and more.",
        "tags": ["Predict"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The user ID that owns the model"
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The application ID that contains the model"
          },
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The model ID to use for prediction"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostModelOutputsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful prediction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiOutputResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      }
    },
    "/users/{user_id}/apps/{app_id}/models/{model_id}/versions/{model_version_id}/outputs": {
      "post": {
        "operationId": "postModelVersionOutputs",
        "summary": "Predict using a specific model version",
        "description": "Makes predictions using a specific version of a model.",
        "tags": ["Predict"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "model_version_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The specific model version ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostModelOutputsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful prediction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiOutputResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      }
    },
    "/users/{user_id}/apps/{app_id}/inputs": {
      "post": {
        "operationId": "postInputs",
        "summary": "Add inputs",
        "description": "Adds one or more inputs (images, text, video) to an application for indexing and later use in training or search.",
        "tags": ["Inputs"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInputsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inputs added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiInputResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      },
      "get": {
        "operationId": "listInputs",
        "summary": "List inputs",
        "description": "Lists inputs in an application with pagination.",
        "tags": ["Inputs"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "default": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "Inputs listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiInputResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      },
      "delete": {
        "operationId": "deleteInputs",
        "summary": "Delete inputs",
        "description": "Deletes one or more inputs from an application.",
        "tags": ["Inputs"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteInputsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inputs deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      }
    },
    "/users/{user_id}/apps/{app_id}/inputs/{input_id}": {
      "get": {
        "operationId": "getInput",
        "summary": "Get a specific input",
        "description": "Retrieves details of a specific input by ID.",
        "tags": ["Inputs"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "input_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Input retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleInputResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      }
    },
    "/users/{user_id}/apps/{app_id}/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List models",
        "description": "Lists all models in an application.",
        "tags": ["Models"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "default": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "Models listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiModelResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      }
    },
    "/users/{user_id}/apps/{app_id}/models/{model_id}": {
      "get": {
        "operationId": "getModel",
        "summary": "Get a specific model",
        "description": "Retrieves details of a specific model.",
        "tags": ["Models"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Model retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleModelResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      },
      "delete": {
        "operationId": "deleteModel",
        "summary": "Delete a model",
        "description": "Deletes a specific model from an application.",
        "tags": ["Models"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Model deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      }
    },
    "/users/{user_id}/apps/{app_id}/searches": {
      "post": {
        "operationId": "postSearches",
        "summary": "Search inputs",
        "description": "Searches across inputs using visual similarity, conceptual similarity, or metadata filters.",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSearchesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      }
    },
    "/users/{user_id}/apps/{app_id}/workflows": {
      "get": {
        "operationId": "listWorkflows",
        "summary": "List workflows",
        "description": "Lists all workflows in an application.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Workflows listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiWorkflowResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      }
    },
    "/users/{user_id}/apps/{app_id}/workflows/{workflow_id}/results": {
      "post": {
        "operationId": "postWorkflowResults",
        "summary": "Run a workflow",
        "description": "Runs a multi-model workflow on the provided inputs and returns combined results.",
        "tags": ["Workflows"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostModelOutputsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResultsResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      }
    },
    "/users/{user_id}/apps/{app_id}/concepts": {
      "get": {
        "operationId": "listConcepts",
        "summary": "List concepts",
        "description": "Lists all concepts in an application.",
        "tags": ["Concepts"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer" }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Concepts listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiConceptResponse"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      },
      "post": {
        "operationId": "postConcepts",
        "summary": "Add concepts",
        "description": "Adds one or more concepts to an application.",
        "tags": ["Concepts"],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostConceptsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Concepts added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiConceptResponse"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "security": [{ "PATAuth": [] }]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "PATAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Personal Access Token (PAT). Format: 'Key YOUR_PAT_HERE'. Obtain from https://clarifai.com/settings/security"
      }
    },
    "schemas": {
      "PostModelOutputsRequest": {
        "type": "object",
        "required": ["inputs"],
        "properties": {
          "user_app_id": {
            "$ref": "#/components/schemas/UserAppId"
          },
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Input"
            },
            "description": "List of inputs to process (max 128)"
          }
        }
      },
      "PostInputsRequest": {
        "type": "object",
        "required": ["inputs"],
        "properties": {
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Input"
            }
          }
        }
      },
      "DeleteInputsRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": { "type": "string" },
            "description": "List of input IDs to delete"
          }
        }
      },
      "PostSearchesRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object",
            "properties": {
              "ands": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "output": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Data"
                        }
                      }
                    },
                    "input": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Data"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "PostConceptsRequest": {
        "type": "object",
        "required": ["concepts"],
        "properties": {
          "concepts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Concept"
            }
          }
        }
      },
      "UserAppId": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string",
            "description": "User ID that owns the resource"
          },
          "app_id": {
            "type": "string",
            "description": "Application ID"
          }
        }
      },
      "Input": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique input identifier"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        }
      },
      "Data": {
        "type": "object",
        "properties": {
          "image": {
            "$ref": "#/components/schemas/Image"
          },
          "text": {
            "$ref": "#/components/schemas/Text"
          },
          "concepts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Concept"
            }
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Region"
            }
          }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the image"
          },
          "base64": {
            "type": "string",
            "format": "byte",
            "description": "Base64 encoded image data"
          }
        }
      },
      "Text": {
        "type": "object",
        "properties": {
          "raw": {
            "type": "string",
            "description": "Raw text content"
          }
        }
      },
      "Concept": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Concept identifier"
          },
          "name": {
            "type": "string",
            "description": "Concept name"
          },
          "value": {
            "type": "number",
            "format": "float",
            "description": "Confidence value between 0 and 1"
          }
        }
      },
      "Region": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "region_info": {
            "type": "object",
            "properties": {
              "bounding_box": {
                "$ref": "#/components/schemas/BoundingBox"
              }
            }
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        }
      },
      "BoundingBox": {
        "type": "object",
        "properties": {
          "top_row": { "type": "number", "format": "float" },
          "left_col": { "type": "number", "format": "float" },
          "bottom_row": { "type": "number", "format": "float" },
          "right_col": { "type": "number", "format": "float" }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": { "type": "integer" },
          "per_page": { "type": "integer" }
        }
      },
      "Status": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Status code (10000 = success)"
          },
          "description": {
            "type": "string"
          },
          "details": {
            "type": "string"
          }
        }
      },
      "Output": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "status": { "$ref": "#/components/schemas/Status" },
          "created_at": { "type": "string", "format": "date-time" },
          "model": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "name": { "type": "string" },
              "model_version": {
                "type": "object",
                "properties": {
                  "id": { "type": "string" }
                }
              }
            }
          },
          "input": { "$ref": "#/components/schemas/Input" },
          "data": { "$ref": "#/components/schemas/Data" }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "app_id": { "type": "string" },
          "model_version": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "created_at": { "type": "string", "format": "date-time" },
              "status": { "$ref": "#/components/schemas/Status" }
            }
          },
          "model_type_id": { "type": "string" }
        }
      },
      "Workflow": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "app_id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "nodes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "model": { "$ref": "#/components/schemas/Model" }
              }
            }
          }
        }
      },
      "MultiOutputResponse": {
        "type": "object",
        "properties": {
          "status": { "$ref": "#/components/schemas/Status" },
          "outputs": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Output" }
          }
        }
      },
      "MultiInputResponse": {
        "type": "object",
        "properties": {
          "status": { "$ref": "#/components/schemas/Status" },
          "inputs": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Input" }
          }
        }
      },
      "SingleInputResponse": {
        "type": "object",
        "properties": {
          "status": { "$ref": "#/components/schemas/Status" },
          "input": { "$ref": "#/components/schemas/Input" }
        }
      },
      "MultiModelResponse": {
        "type": "object",
        "properties": {
          "status": { "$ref": "#/components/schemas/Status" },
          "models": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Model" }
          }
        }
      },
      "SingleModelResponse": {
        "type": "object",
        "properties": {
          "status": { "$ref": "#/components/schemas/Status" },
          "model": { "$ref": "#/components/schemas/Model" }
        }
      },
      "MultiWorkflowResponse": {
        "type": "object",
        "properties": {
          "status": { "$ref": "#/components/schemas/Status" },
          "workflows": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Workflow" }
          }
        }
      },
      "WorkflowResultsResponse": {
        "type": "object",
        "properties": {
          "status": { "$ref": "#/components/schemas/Status" },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": { "$ref": "#/components/schemas/Status" },
                "outputs": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Output" }
                }
              }
            }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "status": { "$ref": "#/components/schemas/Status" },
          "hits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "score": { "type": "number", "format": "float" },
                "input": { "$ref": "#/components/schemas/Input" }
              }
            }
          }
        }
      },
      "MultiConceptResponse": {
        "type": "object",
        "properties": {
          "status": { "$ref": "#/components/schemas/Status" },
          "concepts": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Concept" }
          }
        }
      },
      "StatusResponse": {
        "type": "object",
        "properties": {
          "status": { "$ref": "#/components/schemas/Status" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "object",
            "properties": {
              "code": { "type": "integer" },
              "description": { "type": "string" },
              "details": { "type": "string" }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters or request body",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing PAT",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - insufficient permissions",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests - rate limit exceeded",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      }
    }
  },
  "security": [
    {
      "PATAuth": []
    }
  ]
}
