{
  "openapi": "3.0.3",
  "info": {
    "title": "OCBC Open API Platform",
    "version": "1.0.0",
    "description": "Connect2OCBC is OCBC's open banking platform providing APIs for branch locator, ATM locator, smart card advisor, and foreign exchange rates.",
    "x-jentic-source-url": "https://www.ocbc.com/group/media/release/2016/first-bank-in-sea-to-launch-open-api-platform",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.ocbc.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/branches": {
      "get": {
        "operationId": "getBranches",
        "summary": "Get branch locations",
        "description": "Provides a list of OCBC branches with information on location and operating hours",
        "tags": [
          "Branches"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branches": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "operatingHours": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/atms": {
      "get": {
        "operationId": "getAtms",
        "summary": "Get ATM locations",
        "description": "Enables discovery of OCBC ATM locations and details",
        "tags": [
          "ATMs"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "atms": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "location": {
                            "type": "string"
                          },
                          "availability": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/credit-cards/recommendations": {
      "get": {
        "operationId": "getCreditCardRecommendations",
        "summary": "Get credit card recommendations",
        "description": "Recommends relevant OCBC credit cards based on usage context",
        "tags": [
          "Credit Cards"
        ],
        "parameters": [
          {
            "name": "usageContext",
            "in": "query",
            "description": "Usage context for card recommendation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "cardName": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "benefits": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/exchange-rates": {
      "get": {
        "operationId": "getExchangeRates",
        "summary": "Get foreign exchange rates",
        "description": "Supplies current currency exchange rate data",
        "tags": [
          "Foreign Exchange"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Currency code (e.g., USD, EUR)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "buyRate": {
                            "type": "number"
                          },
                          "sellRate": {
                            "type": "number"
                          },
                          "lastUpdated": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "ATMs"
    },
    {
      "name": "Branches"
    },
    {
      "name": "Credit Cards"
    },
    {
      "name": "Foreign Exchange"
    }
  ]
}
