{
  "openapi": "3.0.3",
  "info": {
    "title": "KloudFox Controller API",
    "description": "KloudFox Controller API for monitoring, incident management, maintenance scheduling, status pages, and user management.",
    "version": "v1",
    "contact": {
      "email": "support@kloudfox.com"
    },
    "license": {
      "name": "BSD License"
    }
  },
  "servers": [
    {
      "url": "https://controller.kloudfox.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "Authentication and token management"
    },
    {
      "name": "user",
      "description": "User management and profiles"
    },
    {
      "name": "monitor",
      "description": "Uptime monitoring"
    },
    {
      "name": "incident",
      "description": "Incident management"
    },
    {
      "name": "maintenance",
      "description": "Maintenance scheduling"
    },
    {
      "name": "statuspage",
      "description": "Status page management"
    },
    {
      "name": "integration",
      "description": "Third-party integrations"
    },
    {
      "name": "notifications",
      "description": "Notification management"
    },
    {
      "name": "plans",
      "description": "Plans and billing"
    },
    {
      "name": "subuser",
      "description": "Sub-user management"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token authentication"
      }
    },
    "schemas": {
      "TokenObtainPair": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access": {
            "type": "string"
          },
          "refresh": {
            "type": "string"
          }
        }
      },
      "TokenRefresh": {
        "type": "object",
        "required": [
          "refresh"
        ],
        "properties": {
          "refresh": {
            "type": "string"
          }
        }
      },
      "TokenRefreshResponse": {
        "type": "object",
        "properties": {
          "access": {
            "type": "string"
          }
        }
      },
      "TokenBlacklist": {
        "type": "object",
        "required": [
          "refresh"
        ],
        "properties": {
          "refresh": {
            "type": "string"
          }
        }
      },
      "BasicAuthentication": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "password"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "maxLength": 128
          },
          "first_name": {
            "type": "string",
            "maxLength": 150
          },
          "last_name": {
            "type": "string",
            "maxLength": 150
          },
          "is_email_verified": {
            "type": "boolean"
          },
          "about_user": {
            "type": "integer"
          }
        }
      },
      "UpdateUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "username": {
            "type": "string",
            "readOnly": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "readOnly": true
          },
          "first_name": {
            "type": "string",
            "maxLength": 150
          },
          "last_name": {
            "type": "string",
            "maxLength": 150
          },
          "is_active": {
            "type": "boolean"
          },
          "user_role": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "required": [
          "first_name",
          "last_name",
          "email"
        ],
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "UserPassword": {
        "type": "object",
        "required": [
          "old_password",
          "new_password"
        ],
        "properties": {
          "old_password": {
            "type": "string"
          },
          "new_password": {
            "type": "string"
          }
        }
      },
      "UserProfilePic": {
        "type": "object",
        "properties": {
          "profile_picture": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "ForgetPassword": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string"
          }
        }
      },
      "ResetPassword": {
        "type": "object",
        "required": [
          "new_password",
          "old_password"
        ],
        "properties": {
          "new_password": {
            "type": "string"
          },
          "old_password": {
            "type": "string"
          }
        }
      },
      "NewPassword": {
        "type": "object",
        "required": [
          "new_password"
        ],
        "properties": {
          "new_password": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "GetOtp": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string"
          }
        }
      },
      "VerifyOtp": {
        "type": "object",
        "required": [
          "email",
          "otp"
        ],
        "properties": {
          "email": {
            "type": "string"
          },
          "otp": {
            "type": "integer"
          }
        }
      },
      "SubUser": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "first_name": {
            "type": "string",
            "maxLength": 150
          },
          "last_name": {
            "type": "string",
            "maxLength": 150
          },
          "user_role": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "PermissionsUpdate": {
        "type": "object",
        "required": [
          "user_id",
          "monitors",
          "statuspages"
        ],
        "properties": {
          "user_id": {
            "type": "integer"
          },
          "role_id": {
            "type": "integer"
          },
          "monitors": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "statuspages": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "MonitorCreate": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "maxLength": 200,
            "nullable": true
          },
          "domain_url": {
            "type": "string",
            "maxLength": 200,
            "nullable": true
          },
          "monitor_name": {
            "type": "string",
            "maxLength": 200,
            "nullable": true
          },
          "request_method": {
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "HEAD",
              "PATCH"
            ],
            "nullable": true
          },
          "request_timeout": {
            "type": "integer",
            "nullable": true
          },
          "request_body": {
            "type": "object",
            "nullable": true
          },
          "header_name": {
            "type": "string",
            "maxLength": 200,
            "nullable": true
          },
          "header_value": {
            "type": "string",
            "maxLength": 300,
            "nullable": true
          },
          "basic_auth_user": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "basic_auth_pass": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "is_alert_enabled": {
            "type": "boolean"
          },
          "check_interval": {
            "type": "integer",
            "enum": [
              40,
              60,
              120,
              180,
              300,
              600,
              900,
              1800,
              3600
            ],
            "nullable": true
          },
          "alert_type": {
            "type": "integer",
            "enum": [
              1,
              2
            ],
            "nullable": true
          },
          "alert_address": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "verify_ssl": {
            "type": "boolean"
          },
          "ssl_alert_policy": {
            "type": "integer",
            "enum": [
              0,
              1,
              2,
              3,
              7,
              14,
              30
            ]
          },
          "send_slack_alert": {
            "type": "boolean"
          },
          "send_push_notif": {
            "type": "boolean"
          },
          "regions": {
            "type": "object",
            "nullable": true
          },
          "default_region": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "mon_type": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "keyword": {
            "type": "string",
            "maxLength": 200,
            "nullable": true
          },
          "host": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "port": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "MonitorCreateBulk": {
        "type": "object",
        "required": [
          "domains_list"
        ],
        "properties": {
          "domains_list": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "request_method": {
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "HEAD",
              "PATCH"
            ],
            "nullable": true
          },
          "check_interval": {
            "type": "integer",
            "enum": [
              40,
              60,
              120,
              180,
              300,
              600,
              900,
              1800,
              3600
            ],
            "nullable": true
          },
          "is_alert_enabled": {
            "type": "boolean"
          },
          "verify_ssl": {
            "type": "boolean"
          }
        }
      },
      "MonitorUpdate": {
        "type": "object",
        "required": [
          "monitor_id",
          "updated_data"
        ],
        "properties": {
          "monitor_id": {
            "type": "integer"
          },
          "updated_data": {
            "type": "object"
          }
        }
      },
      "MonitorGroups": {
        "type": "object",
        "required": [
          "group_name",
          "monitors_list"
        ],
        "properties": {
          "group_name": {
            "type": "string"
          },
          "group_desc": {
            "type": "string"
          },
          "monitors_list": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "MonitorGroupRename": {
        "type": "object",
        "required": [
          "group_id",
          "new_name"
        ],
        "properties": {
          "group_id": {
            "type": "integer"
          },
          "new_name": {
            "type": "string"
          }
        }
      },
      "MonitorGroupUpdate": {
        "type": "object",
        "required": [
          "group_id",
          "monitors_list"
        ],
        "properties": {
          "group_id": {
            "type": "integer"
          },
          "monitors_list": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "IncidentLog": {
        "type": "object",
        "required": [
          "monitor_id",
          "incident_title",
          "start_time",
          "end_time"
        ],
        "properties": {
          "monitor_id": {
            "type": "integer"
          },
          "incident_title": {
            "type": "string"
          },
          "incident_desc": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "is_visible": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "IncidentUpdate": {
        "type": "object",
        "required": [
          "incident_id"
        ],
        "properties": {
          "incident_id": {
            "type": "integer"
          },
          "incident_title": {
            "type": "string"
          },
          "incident_desc": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "is_visible": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "MaintenanceSchedule": {
        "type": "object",
        "required": [
          "maintenance_title",
          "start_time",
          "end_time",
          "monitor_resources"
        ],
        "properties": {
          "maintenance_title": {
            "type": "string"
          },
          "maintenance_desc": {
            "type": "string"
          },
          "sp_id": {
            "type": "integer"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "is_visible": {
            "type": "boolean",
            "default": true
          },
          "monitor_resources": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "MaintenanceUpdate": {
        "type": "object",
        "required": [
          "maintenance_id",
          "monitor_resources"
        ],
        "properties": {
          "maintenance_id": {
            "type": "integer"
          },
          "maintenance_title": {
            "type": "string"
          },
          "maintenance_desc": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "is_visible": {
            "type": "boolean",
            "default": true
          },
          "monitor_resources": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "StatusPageCreate": {
        "type": "object",
        "properties": {
          "company_name": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "company_url": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "company_email": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "company_logo": {
            "type": "string",
            "format": "binary"
          },
          "company_favicon": {
            "type": "string",
            "format": "binary"
          },
          "default_access_url": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "custom_access_url": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "page_look": {
            "type": "string",
            "enum": [
              "modern",
              "vintage"
            ],
            "nullable": true
          },
          "page_mode": {
            "type": "string",
            "enum": [
              "dark",
              "light"
            ],
            "nullable": true
          },
          "remove_branding": {
            "type": "boolean"
          },
          "header_color": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "logo_color": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "menu_color": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "resources": {
            "type": "string",
            "nullable": true
          },
          "allow_subscribers": {
            "type": "boolean"
          }
        }
      },
      "StatusPageConfigure": {
        "type": "object",
        "required": [
          "sp_id"
        ],
        "properties": {
          "sp_id": {
            "type": "integer"
          },
          "company_name": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "company_url": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "company_email": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "company_logo": {
            "type": "string",
            "format": "binary"
          },
          "company_favicon": {
            "type": "string",
            "format": "binary"
          },
          "default_access_url": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "custom_access_url": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "page_look": {
            "type": "string",
            "enum": [
              "modern",
              "vintage"
            ],
            "nullable": true
          },
          "page_mode": {
            "type": "string",
            "enum": [
              "dark",
              "light"
            ],
            "nullable": true
          },
          "remove_branding": {
            "type": "boolean"
          },
          "header_color": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "logo_color": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "menu_color": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "resources": {
            "type": "string",
            "nullable": true
          },
          "allow_subscribers": {
            "type": "boolean"
          }
        }
      },
      "StatusPageSubscriber": {
        "type": "object",
        "required": [
          "sp_id",
          "email"
        ],
        "properties": {
          "sp_id": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "SlackOAuth": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "state": {
            "type": "integer"
          }
        }
      },
      "SlackJoinChannel": {
        "type": "object",
        "required": [
          "ch_name",
          "ch_id"
        ],
        "properties": {
          "ch_name": {
            "type": "string"
          },
          "ch_id": {
            "type": "string"
          }
        }
      },
      "OngoingWebhook": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string"
          }
        }
      },
      "MobileToken": {
        "type": "object",
        "required": [
          "mobile_token",
          "action"
        ],
        "properties": {
          "mobile_token": {
            "type": "string"
          },
          "action": {
            "type": "string"
          }
        }
      },
      "NotificationsUpdate": {
        "type": "object",
        "properties": {
          "notification_id": {
            "type": "integer"
          },
          "mark_all_read": {
            "type": "boolean"
          }
        }
      },
      "StripePayment": {
        "type": "object",
        "required": [
          "plan_id"
        ],
        "properties": {
          "plan_id": {
            "type": "integer"
          }
        }
      }
    }
  },
  "paths": {
    "/api/token": {
      "post": {
        "operationId": "createToken",
        "summary": "Obtain JWT Token",
        "description": "Takes a set of user credentials and returns an access and refresh JSON web token pair.",
        "tags": [
          "auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenObtainPair"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token pair returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/token/refresh": {
      "post": {
        "operationId": "refreshToken",
        "summary": "Refresh JWT Token",
        "description": "Takes a refresh type JSON web token and returns an access type JSON web token.",
        "tags": [
          "auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRefresh"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New access token returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenRefreshResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired refresh token"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Login",
        "description": "Authenticate with email and password to receive JWT tokens.",
        "tags": [
          "auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenObtainPair"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "operationId": "registerUser",
        "summary": "Register New User",
        "description": "Create a new user account.",
        "tags": [
          "user"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/user/auth": {
      "post": {
        "operationId": "authenticateUser",
        "summary": "Authenticate User",
        "tags": [
          "user"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasicAuthentication"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful"
          },
          "401": {
            "description": "Invalid credentials"
          }
        },
        "description": "Authenticate User"
      }
    },
    "/user/logout": {
      "post": {
        "operationId": "logoutUser",
        "summary": "Logout User",
        "description": "Blacklists the provided refresh token.",
        "tags": [
          "user"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenBlacklist"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logout successful"
          },
          "400": {
            "description": "Invalid token"
          }
        }
      }
    },
    "/user/profile/update": {
      "get": {
        "operationId": "getProfile",
        "summary": "Get Profile Data",
        "description": "Retrieve the current user's profile data.",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "Profile data returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateProfile",
        "summary": "Update User Profile",
        "tags": [
          "user"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        },
        "description": "Update User Profile"
      }
    },
    "/user/profile/update-password": {
      "post": {
        "operationId": "updatePassword",
        "summary": "Update Password",
        "tags": [
          "user"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated"
          },
          "400": {
            "description": "Invalid input"
          }
        },
        "description": "Update Password"
      }
    },
    "/user/password/forget": {
      "post": {
        "operationId": "forgotPassword",
        "summary": "Send Password Reset Email",
        "tags": [
          "user"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgetPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reset email sent"
          },
          "404": {
            "description": "Email not found"
          }
        },
        "description": "Send Password Reset Email"
      }
    },
    "/user/password/reset": {
      "post": {
        "operationId": "resetPassword",
        "summary": "Reset Password",
        "tags": [
          "user"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successful"
          }
        },
        "description": "Reset Password"
      }
    },
    "/user/send/otp": {
      "post": {
        "operationId": "sendOtp",
        "summary": "Send OTP",
        "description": "Send OTP to the email address for verification.",
        "tags": [
          "user"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOtp"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent"
          }
        }
      }
    },
    "/user/verify/email": {
      "post": {
        "operationId": "verifyEmail",
        "summary": "Verify OTP",
        "tags": [
          "user"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyOtp"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified"
          },
          "400": {
            "description": "Invalid OTP"
          }
        },
        "description": "Verify OTP"
      }
    },
    "/user/profile/picture": {
      "get": {
        "operationId": "getProfilePicture",
        "summary": "Get Profile Picture",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "Profile picture URL returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfilePic"
                }
              }
            }
          }
        },
        "description": "Get Profile Picture"
      },
      "post": {
        "operationId": "uploadProfilePicture",
        "summary": "Upload Profile Picture",
        "tags": [
          "user"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile_picture": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Picture uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfilePic"
                }
              }
            }
          }
        },
        "description": "Upload Profile Picture"
      }
    },
    "/user/get_roles": {
      "get": {
        "operationId": "getRoles",
        "summary": "Get Roles",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "Roles list returned"
          }
        },
        "description": "Get Roles"
      }
    },
    "/user/delete/{id}": {
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete User",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted"
          }
        },
        "description": "Delete User"
      }
    },
    "/user/update/{id}": {
      "put": {
        "operationId": "updateUser",
        "summary": "Update User",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateUser"
                }
              }
            }
          }
        },
        "description": "Update User"
      },
      "patch": {
        "operationId": "partialUpdateUser",
        "summary": "Partially Update User",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateUser"
                }
              }
            }
          }
        },
        "description": "Partially Update User"
      }
    },
    "/user/delete_account": {
      "delete": {
        "operationId": "deleteAccount",
        "summary": "Delete Account",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "name": "password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Account deleted"
          }
        },
        "description": "Delete Account"
      }
    },
    "/api/user/details": {
      "get": {
        "operationId": "getUserDetails",
        "summary": "Get User Details",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "User details returned"
          }
        },
        "description": "Get User Details"
      }
    },
    "/monitor/list": {
      "get": {
        "operationId": "listMonitors",
        "summary": "List Monitors",
        "description": "Get monitor/dashboard data with pagination and filtering.",
        "tags": [
          "monitor"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor list returned"
          }
        }
      }
    },
    "/monitor/create": {
      "post": {
        "operationId": "createMonitor",
        "summary": "Create Monitor",
        "tags": [
          "monitor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitor created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorCreate"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        },
        "description": "Create Monitor"
      }
    },
    "/monitor/bulk/create": {
      "post": {
        "operationId": "bulkCreateMonitors",
        "summary": "Bulk Create Monitors",
        "tags": [
          "monitor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorCreateBulk"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitors created"
          },
          "400": {
            "description": "Invalid input"
          }
        },
        "description": "Bulk Create Monitors"
      }
    },
    "/monitor/configure": {
      "post": {
        "operationId": "configureMonitor",
        "summary": "Configure Monitor",
        "tags": [
          "monitor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor configured"
          }
        },
        "description": "Configure Monitor"
      }
    },
    "/monitor/configure/detail": {
      "get": {
        "operationId": "getMonitorConfig",
        "summary": "Get Monitor Configuration",
        "tags": [
          "monitor"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor config returned"
          }
        },
        "description": "Get Monitor Configuration"
      }
    },
    "/monitor/detail": {
      "get": {
        "operationId": "getMonitorDetail",
        "summary": "Get Monitor Detail",
        "tags": [
          "monitor"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor detail returned"
          }
        },
        "description": "Get Monitor Detail"
      }
    },
    "/monitor/delete": {
      "delete": {
        "operationId": "deleteMonitor",
        "summary": "Delete Monitor",
        "tags": [
          "monitor"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Monitor deleted"
          }
        },
        "description": "Delete Monitor"
      }
    },
    "/monitor/delete_multiple": {
      "delete": {
        "operationId": "deleteMultipleMonitors",
        "summary": "Delete Multiple Monitors",
        "tags": [
          "monitor"
        ],
        "parameters": [
          {
            "name": "mon_ids_list",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Monitors deleted"
          }
        },
        "description": "Delete Multiple Monitors"
      }
    },
    "/monitor/update_status": {
      "get": {
        "operationId": "updateMonitorStatus",
        "summary": "Pause/Start Monitoring",
        "tags": [
          "monitor"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "is_monitor",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor status updated"
          }
        },
        "description": "Pause/Start Monitoring"
      }
    },
    "/monitor/get_ssl_info": {
      "get": {
        "operationId": "getMonitorSslInfo",
        "summary": "Get Monitor SSL Certificate Info",
        "tags": [
          "monitor"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSL info returned"
          }
        },
        "description": "Get Monitor SSL Certificate Info"
      }
    },
    "/monitor/graph/stats": {
      "get": {
        "operationId": "getMonitorStats",
        "summary": "Get Response Time Stats",
        "tags": [
          "monitor"
        ],
        "parameters": [
          {
            "name": "monitor_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "stats_time",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "1d",
                "7d",
                "30d"
              ]
            }
          },
          {
            "name": "region_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stats returned"
          }
        },
        "description": "Get Response Time Stats"
      }
    },
    "/monitor/group": {
      "get": {
        "operationId": "listMonitorGroups",
        "summary": "List Monitor Groups",
        "tags": [
          "monitor"
        ],
        "responses": {
          "200": {
            "description": "Groups returned"
          }
        },
        "description": "List Monitor Groups"
      },
      "post": {
        "operationId": "createMonitorGroup",
        "summary": "Create Monitor Group",
        "tags": [
          "monitor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorGroups"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Group created"
          }
        },
        "description": "Create Monitor Group"
      }
    },
    "/monitor/group/rename": {
      "post": {
        "operationId": "renameMonitorGroup",
        "summary": "Rename Monitor Group",
        "tags": [
          "monitor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorGroupRename"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group renamed"
          }
        },
        "description": "Rename Monitor Group"
      }
    },
    "/monitor/group/update": {
      "get": {
        "operationId": "getGroupMonitors",
        "summary": "Get Monitors in Group",
        "tags": [
          "monitor"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitors returned"
          }
        },
        "description": "Get Monitors in Group"
      },
      "post": {
        "operationId": "updateMonitorGroup",
        "summary": "Update Monitors in Group",
        "tags": [
          "monitor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorGroupUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Group updated"
          }
        },
        "description": "Update Monitors in Group"
      },
      "delete": {
        "operationId": "deleteMonitorGroup",
        "summary": "Delete Monitor Group",
        "tags": [
          "monitor"
        ],
        "parameters": [
          {
            "name": "group_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Group deleted"
          }
        },
        "description": "Delete Monitor Group"
      }
    },
    "/monitor/list/resources": {
      "get": {
        "operationId": "listResources",
        "summary": "Get Resources List",
        "tags": [
          "monitor"
        ],
        "responses": {
          "200": {
            "description": "Resources returned"
          }
        },
        "description": "Get Resources List"
      }
    },
    "/monitor/metadata": {
      "get": {
        "operationId": "getMonitorMetadata",
        "summary": "Get Monitors Metadata",
        "tags": [
          "monitor"
        ],
        "responses": {
          "200": {
            "description": "Metadata returned"
          }
        },
        "description": "Get Monitors Metadata"
      }
    },
    "/incident/list": {
      "get": {
        "operationId": "listIncidents",
        "summary": "List Incidents",
        "tags": [
          "incident"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incidents returned"
          }
        },
        "description": "List Incidents"
      }
    },
    "/incident/detail": {
      "get": {
        "operationId": "getIncidentDetail",
        "summary": "Get Incident Detail",
        "tags": [
          "incident"
        ],
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident detail returned"
          }
        },
        "description": "Get Incident Detail"
      }
    },
    "/incident/log": {
      "post": {
        "operationId": "logIncident",
        "summary": "Log New Incident",
        "tags": [
          "incident"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentLog"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Incident logged"
          },
          "400": {
            "description": "Invalid input"
          }
        },
        "description": "Log New Incident"
      }
    },
    "/incident/update": {
      "post": {
        "operationId": "updateIncident",
        "summary": "Update Incident",
        "tags": [
          "incident"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incident updated"
          }
        },
        "description": "Update Incident"
      }
    },
    "/incident/delete": {
      "delete": {
        "operationId": "deleteIncident",
        "summary": "Delete Incident",
        "tags": [
          "incident"
        ],
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Incident deleted"
          }
        },
        "description": "Delete Incident"
      }
    },
    "/incident/metadata": {
      "get": {
        "operationId": "getIncidentMetadata",
        "summary": "Get Incidents Metadata",
        "tags": [
          "incident"
        ],
        "responses": {
          "200": {
            "description": "Metadata returned"
          }
        },
        "description": "Get Incidents Metadata"
      }
    },
    "/maintenance/list": {
      "get": {
        "operationId": "listMaintenance",
        "summary": "List Maintenance Windows",
        "tags": [
          "maintenance"
        ],
        "responses": {
          "200": {
            "description": "Maintenance list returned"
          }
        },
        "description": "List Maintenance Windows"
      }
    },
    "/maintenance/detail": {
      "get": {
        "operationId": "getMaintenanceDetail",
        "summary": "Get Maintenance Detail",
        "tags": [
          "maintenance"
        ],
        "parameters": [
          {
            "name": "maintenance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Maintenance detail returned"
          }
        },
        "description": "Get Maintenance Detail"
      }
    },
    "/maintenance/schedule": {
      "post": {
        "operationId": "scheduleMaintenance",
        "summary": "Schedule Maintenance",
        "tags": [
          "maintenance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaintenanceSchedule"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Maintenance scheduled"
          }
        },
        "description": "Schedule Maintenance"
      }
    },
    "/maintenance/update": {
      "post": {
        "operationId": "updateMaintenance",
        "summary": "Update Maintenance",
        "tags": [
          "maintenance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaintenanceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Maintenance updated"
          }
        },
        "description": "Update Maintenance"
      }
    },
    "/maintenance/delete": {
      "delete": {
        "operationId": "deleteMaintenance",
        "summary": "Delete Maintenance",
        "tags": [
          "maintenance"
        ],
        "parameters": [
          {
            "name": "maintenance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Maintenance deleted"
          }
        },
        "description": "Delete Maintenance"
      }
    },
    "/statuspage/list": {
      "get": {
        "operationId": "listStatusPages",
        "summary": "List Status Pages",
        "tags": [
          "statuspage"
        ],
        "responses": {
          "200": {
            "description": "Status pages returned"
          }
        },
        "description": "List Status Pages"
      }
    },
    "/statuspage/detail": {
      "get": {
        "operationId": "getStatusPageDetail",
        "summary": "Get Status Page Detail",
        "tags": [
          "statuspage"
        ],
        "parameters": [
          {
            "name": "sp_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status page detail returned"
          }
        },
        "description": "Get Status Page Detail"
      }
    },
    "/statuspage/create": {
      "post": {
        "operationId": "createStatusPage",
        "summary": "Create Status Page",
        "tags": [
          "statuspage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StatusPageCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Status page created"
          }
        },
        "description": "Create Status Page"
      }
    },
    "/statuspage/configure": {
      "post": {
        "operationId": "configureStatusPage",
        "summary": "Configure Status Page",
        "tags": [
          "statuspage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/StatusPageConfigure"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status page configured"
          }
        },
        "description": "Configure Status Page"
      }
    },
    "/statuspage/delete": {
      "delete": {
        "operationId": "deleteStatusPage",
        "summary": "Delete Status Page",
        "tags": [
          "statuspage"
        ],
        "parameters": [
          {
            "name": "sp_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Status page deleted"
          }
        },
        "description": "Delete Status Page"
      }
    },
    "/statuspage/add_subscriber": {
      "post": {
        "operationId": "addStatusPageSubscriber",
        "summary": "Add Subscriber to Status Page",
        "tags": [
          "statuspage"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusPageSubscriber"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscriber added"
          }
        },
        "description": "Add Subscriber to Status Page"
      }
    },
    "/statuspage/get_subscriber": {
      "get": {
        "operationId": "getStatusPageSubscribers",
        "summary": "Get Status Page Subscribers",
        "tags": [
          "statuspage"
        ],
        "parameters": [
          {
            "name": "sp_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscribers returned"
          }
        },
        "description": "Get Status Page Subscribers"
      }
    },
    "/statuspage/delete_subscriber": {
      "delete": {
        "operationId": "deleteSubscriber",
        "summary": "Delete Subscriber",
        "tags": [
          "statuspage"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscriber deleted"
          }
        },
        "description": "Delete Subscriber"
      }
    },
    "/statuspage/domain_availability": {
      "get": {
        "operationId": "checkDomainAvailability",
        "summary": "Check Domain Availability",
        "tags": [
          "statuspage"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability checked"
          }
        },
        "description": "Check Domain Availability"
      }
    },
    "/statuspage/v1/data": {
      "get": {
        "operationId": "getStatusPageData",
        "summary": "Get Status Page Data",
        "tags": [
          "statuspage"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status page data returned"
          }
        },
        "description": "Get Status Page Data"
      }
    },
    "/integration/get": {
      "get": {
        "operationId": "getIntegrations",
        "summary": "Get Integrations",
        "tags": [
          "integration"
        ],
        "responses": {
          "200": {
            "description": "Integrations returned"
          }
        },
        "description": "Get Integrations"
      }
    },
    "/integration/slack/add": {
      "get": {
        "operationId": "getSlackIntegrationUrl",
        "summary": "Get Slack Integration URL",
        "tags": [
          "integration"
        ],
        "responses": {
          "200": {
            "description": "Slack URL returned"
          }
        },
        "description": "Get Slack Integration URL"
      }
    },
    "/integration/slack/oauth": {
      "post": {
        "operationId": "slackOAuth",
        "summary": "Slack OAuth Request",
        "tags": [
          "integration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackOAuth"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OAuth processed"
          }
        },
        "description": "Slack OAuth Request"
      }
    },
    "/integration/slack/get_channels": {
      "get": {
        "operationId": "getSlackChannels",
        "summary": "Get Slack Channels",
        "tags": [
          "integration"
        ],
        "responses": {
          "200": {
            "description": "Channels returned"
          }
        },
        "description": "Get Slack Channels"
      }
    },
    "/integration/slack/join_channels": {
      "post": {
        "operationId": "joinSlackChannel",
        "summary": "Join Slack Channel",
        "tags": [
          "integration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackJoinChannel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel joined"
          }
        },
        "description": "Join Slack Channel"
      }
    },
    "/integration/slack/delete": {
      "delete": {
        "operationId": "deleteSlackIntegration",
        "summary": "Delete Slack Integration",
        "tags": [
          "integration"
        ],
        "responses": {
          "204": {
            "description": "Integration deleted"
          }
        },
        "description": "Delete Slack Integration"
      }
    },
    "/integration/webhook/add": {
      "post": {
        "operationId": "addWebhook",
        "summary": "Configure Ongoing Webhook",
        "tags": [
          "integration"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OngoingWebhook"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook configured"
          }
        },
        "description": "Configure Ongoing Webhook"
      }
    },
    "/integration/webhook/delete": {
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete Webhook Integration",
        "tags": [
          "integration"
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted"
          }
        },
        "description": "Delete Webhook Integration"
      }
    },
    "/integration/zapier/subscribe": {
      "post": {
        "operationId": "zapierSubscribe",
        "summary": "Zapier Subscribe",
        "tags": [
          "integration"
        ],
        "responses": {
          "201": {
            "description": "Subscribed"
          }
        },
        "description": "Zapier Subscribe"
      },
      "delete": {
        "operationId": "zapierUnsubscribe",
        "summary": "Zapier Unsubscribe",
        "tags": [
          "integration"
        ],
        "responses": {
          "204": {
            "description": "Unsubscribed"
          }
        },
        "description": "Zapier Unsubscribe"
      }
    },
    "/integration/zapier/test_data": {
      "get": {
        "operationId": "getZapierTestData",
        "summary": "Get Zapier Test Data",
        "tags": [
          "integration"
        ],
        "responses": {
          "200": {
            "description": "Test data returned"
          }
        },
        "description": "Get Zapier Test Data"
      }
    },
    "/notifications": {
      "get": {
        "operationId": "getNotifications",
        "summary": "Get Notifications",
        "tags": [
          "notifications"
        ],
        "parameters": [
          {
            "name": "length",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notifications returned"
          }
        },
        "description": "Get Notifications"
      },
      "post": {
        "operationId": "markNotificationRead",
        "summary": "Mark Notification as Read",
        "tags": [
          "notifications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification marked as read"
          }
        },
        "description": "Mark Notification as Read"
      }
    },
    "/plans": {
      "get": {
        "operationId": "getPlans",
        "summary": "Get Plans",
        "tags": [
          "plans"
        ],
        "responses": {
          "200": {
            "description": "Plans returned"
          }
        },
        "description": "Get Plans"
      }
    },
    "/plans/stripe/session": {
      "post": {
        "operationId": "createStripeSession",
        "summary": "Create Stripe Payment Session",
        "tags": [
          "plans"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StripePayment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created"
          }
        },
        "description": "Create Stripe Payment Session"
      }
    },
    "/subusers": {
      "get": {
        "operationId": "listSubUsers",
        "summary": "List Sub-Users",
        "tags": [
          "subuser"
        ],
        "responses": {
          "200": {
            "description": "Sub-users returned"
          }
        },
        "description": "List Sub-Users"
      }
    },
    "/subuser/register": {
      "post": {
        "operationId": "registerSubUser",
        "summary": "Register Sub-User",
        "tags": [
          "subuser"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubUser"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sub-user created"
          }
        },
        "description": "Register Sub-User"
      }
    },
    "/subuser/permissions": {
      "get": {
        "operationId": "getSubUserPermissions",
        "summary": "Get Sub-User Permissions",
        "tags": [
          "subuser"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permissions returned"
          }
        },
        "description": "Get Sub-User Permissions"
      },
      "post": {
        "operationId": "updateSubUserPermissions",
        "summary": "Update Sub-User Permissions",
        "tags": [
          "subuser"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PermissionsUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Permissions updated"
          }
        },
        "description": "Update Sub-User Permissions"
      }
    },
    "/search/resources": {
      "get": {
        "operationId": "searchResources",
        "summary": "Search Resources",
        "tags": [
          "monitor"
        ],
        "responses": {
          "200": {
            "description": "Search results returned"
          }
        },
        "description": "Search Resources"
      }
    },
    "/mobile/get_slider_images": {
      "get": {
        "operationId": "getSliderImages",
        "summary": "Get Mobile Slider Images",
        "tags": [
          "user"
        ],
        "responses": {
          "200": {
            "description": "Images returned"
          }
        },
        "description": "Get Mobile Slider Images"
      }
    },
    "/mobile/update_token": {
      "post": {
        "operationId": "updateMobileToken",
        "summary": "Update Device Token",
        "tags": [
          "user"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token updated"
          }
        },
        "description": "Update Device Token"
      }
    },
    "/user/password/update/{token}": {
      "post": {
        "operationId": "updatePasswordWithToken",
        "summary": "Update Password Using Token",
        "tags": [
          "user"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated"
          }
        },
        "description": "Update Password Using Token"
      }
    }
  }
}
