{
  "openapi": "3.0.3",
  "info": {
    "title": "Roborabbit API",
    "description": "Roborabbit API for browser automation tasks. Runs tasks asynchronously with video recordings, screenshots, and structured outputs.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://developers.roborabbit.com/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.roborabbit.com"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v2/auth": {
      "get": {
        "summary": "Verify authorization status",
        "description": "Verify that API key is valid and authorized",
        "responses": {
          "200": {
            "description": "Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authorized": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "v2"
        ],
        "operationId": "get-v2-auth"
      }
    },
    "/v1/account": {
      "get": {
        "summary": "Check quota and usage metrics",
        "description": "Get current account quota and usage information",
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quota": {
                      "type": "integer",
                      "description": "Total quota"
                    },
                    "used": {
                      "type": "integer",
                      "description": "Quota used"
                    },
                    "remaining": {
                      "type": "integer",
                      "description": "Quota remaining"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "operationId": "get-v1-account"
      }
    },
    "/v1/tasks": {
      "get": {
        "summary": "List all tasks",
        "description": "Get a paginated list of all tasks (25 per page)",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "operationId": "get-v1-tasks"
      }
    },
    "/v1/tasks/{uid}": {
      "get": {
        "summary": "Retrieve specific task details",
        "description": "Get details for a specific task by UID",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Task unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "404": {
            "description": "Task not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "operationId": "get-v1-tasks-by-uid"
      }
    },
    "/v1/tasks/{task_uid}/runs": {
      "post": {
        "summary": "Execute a task",
        "description": "Create and execute a new run for the specified task. Returns 202 Accepted immediately.",
        "parameters": [
          {
            "name": "task_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Task unique identifier"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "steps": {
                    "type": "object",
                    "description": "Override task step parameters"
                  },
                  "webhook_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to receive webhook on completion"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Custom metadata for the run"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Run accepted and queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uid": {
                      "type": "string",
                      "description": "Run unique identifier"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (30 requests per 10 seconds)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "operationId": "post-v1-tasks-by-task-uid-runs"
      },
      "get": {
        "summary": "List runs for a task",
        "description": "Get a paginated list of runs for the specified task",
        "parameters": [
          {
            "name": "task_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Task unique identifier"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "List of runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "runs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Run"
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "operationId": "get-v1-tasks-by-task-uid-runs"
      }
    },
    "/v1/tasks/{task_uid}/runs/{uid}": {
      "get": {
        "summary": "Retrieve run status and results",
        "description": "Get the status and results of a specific run",
        "parameters": [
          {
            "name": "task_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Task unique identifier"
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Run unique identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Run details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "operationId": "get-v1-tasks-by-task-uid-runs-by-uid"
      }
    },
    "/v1/feeds": {
      "get": {
        "summary": "List custom JSON data feeds",
        "description": "Get a list of custom data feeds configured in the workspace",
        "responses": {
          "200": {
            "description": "List of feeds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "feeds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uid": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "v1"
        ],
        "operationId": "get-v1-feeds"
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error description"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Task unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Task name"
          },
          "description": {
            "type": "string",
            "description": "Task description"
          },
          "steps": {
            "type": "array",
            "description": "Array of task steps",
            "items": {
              "type": "object"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Run": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Run unique identifier"
          },
          "task_uid": {
            "type": "string",
            "description": "Associated task UID"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed"
            ],
            "description": "Run status"
          },
          "video_url": {
            "type": "string",
            "format": "uri",
            "description": "URL to video recording (when completed)"
          },
          "screenshots": {
            "type": "array",
            "description": "Array of screenshot URLs",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "step": {
                  "type": "string"
                }
              }
            }
          },
          "outputs": {
            "type": "object",
            "description": "Structured output data extracted during the run"
          },
          "metadata": {
            "type": "object",
            "description": "Custom metadata provided when creating the run"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "error": {
            "type": "string",
            "description": "Error message if run failed"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API_KEY",
        "description": "API key from workspace settings"
      }
    }
  },
  "tags": [
    {
      "name": "v1"
    },
    {
      "name": "v2"
    }
  ]
}
