{
  "openapi": "3.0.3",
  "info": {
    "title": "iLoveAPI PDF & Document Processing API",
    "description": "API for PDF and image processing including conversion, compression, merging, splitting, watermarking, and electronic signatures.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.iloveapi.com/docs/api-reference"
  },
  "servers": [
    {
      "url": "https://api.iloveapi.com",
      "description": "Main API server"
    }
  ],
  "paths": {
    "/v1/auth": {
      "post": {
        "operationId": "authenticate",
        "summary": "Request authentication token",
        "description": "Request a signed JWT token from the authentication server using your public key.",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid public key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/start/{tool}": {
      "get": {
        "operationId": "startTask",
        "summary": "Start a new processing task",
        "description": "Retrieve server assignment and task ID for a specific processing tool.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "tool",
            "in": "path",
            "required": true,
            "description": "Processing tool name (e.g. merge, split, compress, pdfjpg, imagepdf, unlock, protect, pdfa, repair, pagenumber, watermark, officepdf, pdfhtml, rotate, htmlpdf, extract, pdfocr)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid tool specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/upload": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload a file for processing",
        "description": "Upload a file to the assigned processing server. The server URL is provided by the start task endpoint.",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file or parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/upload/{task}/{serverFilename}": {
      "delete": {
        "operationId": "deleteUploadedFile",
        "summary": "Remove an uploaded file",
        "description": "Delete a previously uploaded file from the processing server.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "required": true,
            "description": "Task identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serverFilename",
            "in": "path",
            "required": true,
            "description": "Server-assigned filename",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/process": {
      "post": {
        "operationId": "processFiles",
        "summary": "Process uploaded files",
        "description": "Process uploaded files using the specified tool. Tool-specific options can be provided.",
        "tags": [
          "Processing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessFilesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Processing completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessFilesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid processing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/download/{task}": {
      "get": {
        "operationId": "downloadResult",
        "summary": "Download processed output files",
        "description": "Download the result files after processing is complete.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "required": true,
            "description": "Task identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File download",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Task not ready or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/task": {
      "get": {
        "operationId": "listTasks",
        "summary": "List and filter tasks",
        "description": "Retrieve a list of tasks with optional filtering by tool, status, or custom fields.",
        "tags": [
          "Tasks"
        ],
        "security": [
          {
            "secretKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "secret_key",
            "in": "query",
            "description": "Secret API key for authentication",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tool",
            "in": "query",
            "description": "Filter by processing tool",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by task status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "custom_int",
            "in": "query",
            "description": "Filter by custom integer value",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/task/{task}": {
      "delete": {
        "operationId": "deleteTask",
        "summary": "Delete a task and its files",
        "description": "Delete a task and all associated files from the processing server.",
        "tags": [
          "Tasks"
        ],
        "parameters": [
          {
            "name": "task",
            "in": "path",
            "required": true,
            "description": "Task identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid task ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/task/next": {
      "post": {
        "operationId": "chainTask",
        "summary": "Chain processing with a new tool",
        "description": "Create a new task that chains from a previous task's output, allowing sequential processing with different tools.",
        "tags": [
          "Tasks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChainTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chained task created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signature": {
      "post": {
        "operationId": "createSignatureRequest",
        "summary": "Create a signature request",
        "description": "Create an electronic signature request for one or more signers on uploaded documents.",
        "tags": [
          "Signatures"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSignatureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signature request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signature/list": {
      "get": {
        "operationId": "listSignatureRequests",
        "summary": "List signature requests",
        "description": "Retrieve a paginated list of signature requests.",
        "tags": [
          "Signatures"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per-page",
            "in": "query",
            "description": "Results per page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of signature requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signature/requesterview/{tokenRequester}": {
      "get": {
        "operationId": "getSignatureStatus",
        "summary": "Get signature request status",
        "description": "Retrieve the current status of a signature request.",
        "tags": [
          "Signatures"
        ],
        "parameters": [
          {
            "name": "tokenRequester",
            "in": "path",
            "required": true,
            "description": "Requester token identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signature request status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signature/sendReminder/{tokenRequester}": {
      "post": {
        "operationId": "sendSignatureReminder",
        "summary": "Send signature reminder",
        "description": "Send a reminder notification to pending signers.",
        "tags": [
          "Signatures"
        ],
        "parameters": [
          {
            "name": "tokenRequester",
            "in": "path",
            "required": true,
            "description": "Requester token identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reminder sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signature/void/{tokenRequester}": {
      "post": {
        "operationId": "voidSignatureRequest",
        "summary": "Void a signature request",
        "description": "Cancel and void an active signature request.",
        "tags": [
          "Signatures"
        ],
        "parameters": [
          {
            "name": "tokenRequester",
            "in": "path",
            "required": true,
            "description": "Requester token identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signature request voided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/signature/increase-expiration-days/{tokenRequester}": {
      "post": {
        "operationId": "increaseSignatureExpiration",
        "summary": "Increase signature expiration days",
        "description": "Extend the expiration deadline for a signature request.",
        "tags": [
          "Signatures"
        ],
        "parameters": [
          {
            "name": "tokenRequester",
            "in": "path",
            "required": true,
            "description": "Requester token identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "days"
                ],
                "properties": {
                  "days": {
                    "type": "integer",
                    "description": "Number of additional days"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expiration extended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from the /v1/auth endpoint"
      },
      "secretKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "secret_key",
        "description": "Secret key for server-side task listing"
      }
    },
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": [
          "public_key"
        ],
        "properties": {
          "public_key": {
            "type": "string",
            "description": "Your public API key"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT authentication token"
          }
        }
      },
      "StartTaskResponse": {
        "type": "object",
        "properties": {
          "server": {
            "type": "string",
            "description": "Assigned processing server URL"
          },
          "task": {
            "type": "string",
            "description": "Unique task identifier"
          },
          "remaining_credits": {
            "type": "integer",
            "description": "Remaining API credits"
          }
        }
      },
      "UploadFileRequest": {
        "type": "object",
        "required": [
          "task"
        ],
        "properties": {
          "task": {
            "type": "string",
            "description": "Task identifier from start endpoint"
          },
          "file": {
            "type": "string",
            "format": "binary",
            "description": "File to upload"
          },
          "cloud_file": {
            "type": "string",
            "description": "URL of cloud-hosted file to import"
          },
          "chunk": {
            "type": "integer",
            "description": "Current chunk number for chunked uploads"
          },
          "chunks": {
            "type": "integer",
            "description": "Total number of chunks"
          }
        }
      },
      "UploadFileResponse": {
        "type": "object",
        "properties": {
          "server_filename": {
            "type": "string",
            "description": "Server-assigned filename for the uploaded file"
          }
        }
      },
      "ProcessFilesRequest": {
        "type": "object",
        "required": [
          "task",
          "tool",
          "files"
        ],
        "properties": {
          "task": {
            "type": "string",
            "description": "Task identifier"
          },
          "tool": {
            "type": "string",
            "description": "Processing tool name"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "server_filename": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                },
                "rotate": {
                  "type": "integer",
                  "description": "Rotation angle in degrees"
                },
                "pages": {
                  "type": "string",
                  "description": "Page range (e.g. '1-3,5')"
                }
              }
            }
          },
          "compression_level": {
            "type": "string",
            "description": "Compression level for compress tool",
            "enum": [
              "low",
              "recommended",
              "extreme"
            ]
          },
          "output_format": {
            "type": "string",
            "description": "Output format for conversion tools"
          }
        }
      },
      "ProcessFilesResponse": {
        "type": "object",
        "properties": {
          "download_filename": {
            "type": "string",
            "description": "Name of the output file"
          },
          "output_filesize": {
            "type": "integer",
            "description": "Size of the output file in bytes"
          },
          "output_filenumber": {
            "type": "integer",
            "description": "Number of output files"
          },
          "output_extensions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "File extensions of output files"
          },
          "timer": {
            "type": "string",
            "description": "Processing time"
          },
          "status": {
            "type": "string",
            "description": "Processing status"
          }
        }
      },
      "ChainTaskRequest": {
        "type": "object",
        "required": [
          "task",
          "tool"
        ],
        "properties": {
          "task": {
            "type": "string",
            "description": "Previous task identifier"
          },
          "tool": {
            "type": "string",
            "description": "Next processing tool to apply"
          }
        }
      },
      "ChainTaskResponse": {
        "type": "object",
        "properties": {
          "task": {
            "type": "string",
            "description": "New task identifier"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "server_filename": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "CreateSignatureRequest": {
        "type": "object",
        "required": [
          "task",
          "files",
          "signers"
        ],
        "properties": {
          "task": {
            "type": "string",
            "description": "Task identifier with uploaded documents"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "server_filename": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                }
              }
            }
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Signer"
            }
          },
          "brand_name": {
            "type": "string",
            "description": "Brand name for notifications"
          },
          "brand_logo": {
            "type": "string",
            "description": "URL of brand logo for notifications"
          },
          "language": {
            "type": "string",
            "description": "Notification language code"
          },
          "expiration_days": {
            "type": "integer",
            "description": "Days until the signature request expires"
          }
        }
      },
      "Signer": {
        "type": "object",
        "required": [
          "name",
          "email"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Signer's full name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Signer's email address"
          },
          "phone": {
            "type": "string",
            "description": "Signer's phone number for SMS verification"
          },
          "type": {
            "type": "string",
            "description": "Signer type",
            "enum": [
              "signer",
              "validator"
            ]
          },
          "force_signature_type": {
            "type": "string",
            "description": "Force specific signature method"
          }
        }
      },
      "SignatureResponse": {
        "type": "object",
        "properties": {
          "token_requester": {
            "type": "string",
            "description": "Requester token for managing the signature request"
          },
          "signers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          },
          "status": {
            "type": "string",
            "description": "Overall signature request status"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SignatureListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignatureResponse"
            }
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "TaskListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "task": {
                  "type": "string"
                },
                "tool": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "success"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "code": {
                "type": "integer"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Token generation and authentication"
    },
    {
      "name": "Tasks",
      "description": "Task lifecycle management"
    },
    {
      "name": "Files",
      "description": "File upload and download"
    },
    {
      "name": "Processing",
      "description": "File processing operations"
    },
    {
      "name": "Signatures",
      "description": "Electronic signature management"
    }
  ]
}