{
  "openapi": "3.0.3",
  "info": {
    "title": "Kitsu API",
    "version": "1.0.0",
    "description": "Kitsu is a modern anime discovery platform. The API provides access to anime, manga, user profiles, library entries, and reviews following JSON:API specification.",
    "x-jentic-source-url": "https://kitsu.docs.apiary.io/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://kitsu.io/api/edge",
      "description": "Production API server"
    }
  ],
  "security": [
    {
      "oauth2": [
        "read",
        "write"
      ]
    },
    {}
  ],
  "tags": [
    {
      "name": "Anime",
      "description": "Anime information and search"
    },
    {
      "name": "Manga",
      "description": "Manga information and search"
    },
    {
      "name": "Users",
      "description": "User profiles and information"
    },
    {
      "name": "Library Entries",
      "description": "User library tracking entries"
    },
    {
      "name": "Reviews",
      "description": "User reviews for anime and manga"
    }
  ],
  "paths": {
    "/anime": {
      "get": {
        "operationId": "listAnime",
        "summary": "List anime",
        "description": "Returns a paginated list of anime titles",
        "tags": [
          "Anime"
        ],
        "parameters": [
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "page[offset]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          },
          {
            "name": "filter[text]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search anime by title"
          },
          {
            "name": "filter[seasonYear]",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by season year"
          },
          {
            "name": "filter[season]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "winter",
                "spring",
                "summer",
                "fall"
              ]
            },
            "description": "Filter by season"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort by field (e.g., -userCount, popularityRank)"
          }
        ],
        "responses": {
          "200": {
            "description": "Anime list retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/anime/{id}": {
      "get": {
        "operationId": "getAnime",
        "summary": "Get anime",
        "description": "Returns details for a specific anime",
        "tags": [
          "Anime"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Anime ID"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Related resources to include (e.g., genres,categories)"
          }
        ],
        "responses": {
          "200": {
            "description": "Anime retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/AnimeResource"
                }
              }
            }
          },
          "404": {
            "description": "Anime not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/manga": {
      "get": {
        "operationId": "listManga",
        "summary": "List manga",
        "description": "Returns a paginated list of manga titles",
        "tags": [
          "Manga"
        ],
        "parameters": [
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "page[offset]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Pagination offset"
          },
          {
            "name": "filter[text]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search manga by title"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort by field"
          }
        ],
        "responses": {
          "200": {
            "description": "Manga list retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/MangaCollection"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/manga/{id}": {
      "get": {
        "operationId": "getManga",
        "summary": "Get manga",
        "description": "Returns details for a specific manga",
        "tags": [
          "Manga"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Manga ID"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Related resources to include"
          }
        ],
        "responses": {
          "200": {
            "description": "Manga retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/MangaResource"
                }
              }
            }
          },
          "404": {
            "description": "Manga not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "listUsers",
        "summary": "List users",
        "description": "Returns a paginated list of users",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 10
            },
            "description": "Number of results per page"
          },
          {
            "name": "filter[name]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search users by name"
          }
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCollection"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user",
        "description": "Returns details for a specific user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Related resources to include"
          }
        ],
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResource"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/library-entries": {
      "get": {
        "operationId": "listLibraryEntries",
        "summary": "List library entries",
        "description": "Returns library entries for users",
        "tags": [
          "Library Entries"
        ],
        "parameters": [
          {
            "name": "filter[userId]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Filter by user ID"
          },
          {
            "name": "filter[kind]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "anime",
                "manga"
              ]
            },
            "description": "Filter by entry kind"
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "current",
                "planned",
                "completed",
                "on_hold",
                "dropped"
              ]
            },
            "description": "Filter by watching/reading status"
          },
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 10
            },
            "description": "Number of results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Library entries retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryEntryCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLibraryEntry",
        "summary": "Create library entry",
        "description": "Add an anime or manga to user's library",
        "tags": [
          "Library Entries"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLibraryEntryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Library entry created successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryEntryResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/library-entries/{id}": {
      "patch": {
        "operationId": "updateLibraryEntry",
        "summary": "Update library entry",
        "description": "Update progress, status, or rating of a library entry",
        "tags": [
          "Library Entries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Library entry ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLibraryEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Library entry updated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/LibraryEntryResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteLibraryEntry",
        "summary": "Delete library entry",
        "description": "Remove an entry from user's library",
        "tags": [
          "Library Entries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Library entry ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Library entry deleted successfully"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reviews": {
      "get": {
        "operationId": "listReviews",
        "summary": "List reviews",
        "description": "Returns a list of reviews",
        "tags": [
          "Reviews"
        ],
        "parameters": [
          {
            "name": "filter[animeId]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by anime ID"
          },
          {
            "name": "filter[mangaId]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by manga ID"
          },
          {
            "name": "page[limit]",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 20,
              "default": 10
            },
            "description": "Number of results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Reviews retrieved successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewCollection"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "password": {
            "tokenUrl": "https://kitsu.io/api/oauth/token",
            "scopes": {
              "read": "Read access to resources",
              "write": "Write access to resources"
            }
          }
        },
        "description": "OAuth 2.0 authentication"
      }
    },
    "schemas": {
      "AnimeCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnimeData"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "AnimeResource": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/AnimeData"
          }
        }
      },
      "AnimeData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "anime"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string"
              },
              "synopsis": {
                "type": "string"
              },
              "canonicalTitle": {
                "type": "string"
              },
              "averageRating": {
                "type": "string"
              },
              "userCount": {
                "type": "integer"
              },
              "startDate": {
                "type": "string",
                "format": "date"
              },
              "endDate": {
                "type": "string",
                "format": "date",
                "nullable": true
              },
              "posterImage": {
                "type": "object",
                "properties": {
                  "tiny": {
                    "type": "string"
                  },
                  "small": {
                    "type": "string"
                  },
                  "medium": {
                    "type": "string"
                  },
                  "large": {
                    "type": "string"
                  },
                  "original": {
                    "type": "string"
                  }
                }
              },
              "episodeCount": {
                "type": "integer",
                "nullable": true
              },
              "episodeLength": {
                "type": "integer",
                "nullable": true
              },
              "subtype": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "MangaCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MangaData"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          }
        }
      },
      "MangaResource": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/MangaData"
          }
        }
      },
      "MangaData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "manga"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "slug": {
                "type": "string"
              },
              "synopsis": {
                "type": "string"
              },
              "canonicalTitle": {
                "type": "string"
              },
              "averageRating": {
                "type": "string"
              },
              "userCount": {
                "type": "integer"
              },
              "startDate": {
                "type": "string",
                "format": "date"
              },
              "endDate": {
                "type": "string",
                "format": "date",
                "nullable": true
              },
              "posterImage": {
                "type": "object"
              },
              "chapterCount": {
                "type": "integer",
                "nullable": true
              },
              "volumeCount": {
                "type": "integer",
                "nullable": true
              },
              "subtype": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      },
      "UserCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserData"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "UserResource": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/UserData"
          }
        }
      },
      "UserData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "users"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "about": {
                "type": "string"
              },
              "avatar": {
                "type": "object"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "LibraryEntryCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LibraryEntryData"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "LibraryEntryResource": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/LibraryEntryData"
          }
        }
      },
      "LibraryEntryData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "libraryEntries"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "current",
                  "planned",
                  "completed",
                  "on_hold",
                  "dropped"
                ]
              },
              "progress": {
                "type": "integer"
              },
              "rating": {
                "type": "string",
                "nullable": true
              },
              "startedAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "finishedAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          }
        }
      },
      "CreateLibraryEntryRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "type",
              "attributes",
              "relationships"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "libraryEntries"
                ]
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "progress": {
                    "type": "integer"
                  }
                }
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object"
                  },
                  "anime": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      },
      "UpdateLibraryEntryRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "type",
              "id"
            ],
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "libraryEntries"
                ]
              },
              "id": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "progress": {
                    "type": "integer"
                  },
                  "rating": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "ReviewCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReviewData"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "ReviewData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "reviews"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "content": {
                "type": "string"
              },
              "rating": {
                "type": "integer"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string"
          },
          "last": {
            "type": "string"
          },
          "prev": {
            "type": "string",
            "nullable": true
          },
          "next": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
