{
  "openapi": "3.0.3",
  "info": {
    "title": "Tolq Translation API",
    "version": "1.0.0",
    "description": "Tolq translation API for submitting translation requests, getting quotes, managing file uploads, and retrieving completed translations.",
    "x-jentic-source-url": "https://docs.tolq.com/docs"
  },
  "servers": [
    {
      "url": "https://api.tolq.com/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/translations/requests": {
      "post": {
        "operationId": "createtranslationrequest",
        "summary": "Create Translation Request",
        "description": "Send content for translation. Submit one or more text keys with source/target languages and quality level.",
        "tags": [
          "Translations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslationRequestCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Translation request created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listtranslationrequests",
        "summary": "List All Translation Requests",
        "description": "Retrieve a paginated list of all translation requests.",
        "tags": [
          "Translations"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Results per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Translation requests listed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TranslationRequest"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/translations/requests/{id}": {
      "get": {
        "operationId": "gettranslationrequest",
        "summary": "Get Translation Request",
        "description": "Retrieve a specific translation request including completed translations.",
        "tags": [
          "Translations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Translation request ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Translation request retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationRequestWithTranslations"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/translations/requests/quote": {
      "post": {
        "operationId": "createquoterequest",
        "summary": "Create Quote Request",
        "description": "Retrieve a cost estimate before processing a translation request.",
        "tags": [
          "Translations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslationRequestCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/translations/requests/{id}/order": {
      "post": {
        "operationId": "orderquotedrequest",
        "summary": "Order Quoted Request",
        "description": "Confirm and order a previously quoted translation request.",
        "tags": [
          "Translations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Quote request ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Request ordered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/translations/requests/upload": {
      "post": {
        "operationId": "initiatefileupload",
        "summary": "Initiate File Upload",
        "description": "Initiate a file upload for translation. Returns an S3 URL for uploading the file.",
        "tags": [
          "File Uploads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/translations/requests/files/{uid}": {
      "get": {
        "operationId": "getuploadedfileinfo",
        "summary": "Get Uploaded File Info",
        "description": "Retrieve metadata about an uploaded file including status, keys, and word count.",
        "tags": [
          "File Uploads"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File upload UID"
          }
        ],
        "responses": {
          "200": {
            "description": "File info retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "orderuploadedfile",
        "summary": "Order Uploaded File Translation",
        "description": "Order translation for an uploaded file.",
        "tags": [
          "File Uploads"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File upload UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File order created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/translations/requests/files/quote/{uid}": {
      "post": {
        "operationId": "quoteuploadedfile",
        "summary": "Quote Uploaded File Translation",
        "description": "Get a quote for translating an uploaded file.",
        "tags": [
          "File Uploads"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File upload UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TranslationRequestCreate": {
        "type": "object",
        "required": [
          "request",
          "source_language_code",
          "target_language_code",
          "quality"
        ],
        "properties": {
          "request": {
            "type": "object",
            "description": "Object with keys containing text to translate",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                }
              }
            }
          },
          "source_language_code": {
            "type": "string",
            "description": "ISO 639-1 source language code",
            "example": "en"
          },
          "target_language_code": {
            "type": "string",
            "description": "ISO 639-1 target language code",
            "example": "fr"
          },
          "quality": {
            "type": "string",
            "enum": [
              "machine",
              "translation",
              "localization",
              "expert"
            ],
            "description": "Translation quality level"
          },
          "style_guide_reference_id": {
            "type": "string",
            "description": "Reference ID for style guide"
          },
          "context_url": {
            "type": "string",
            "description": "URL for additional context"
          },
          "name": {
            "type": "string",
            "description": "Name for this request"
          },
          "description": {
            "type": "string",
            "description": "Description of the request"
          },
          "auto_client_review": {
            "type": "boolean",
            "description": "Auto-approve translations"
          },
          "callback_url": {
            "type": "string",
            "description": "URL to receive completion callback"
          },
          "plain_text": {
            "type": "boolean",
            "description": "Whether content is plain text"
          },
          "char_limit": {
            "type": "integer",
            "description": "Character limit for translations"
          },
          "preferred_delivery_date": {
            "type": "string",
            "format": "date-time",
            "description": "Preferred delivery date"
          },
          "purchase_order_code": {
            "type": "string",
            "description": "Purchase order reference"
          }
        }
      },
      "TranslationRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "context_url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "quality": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TranslationRequestWithTranslations": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TranslationRequest"
          },
          {
            "type": "object",
            "properties": {
              "translations": {
                "type": "object",
                "description": "Translation results keyed by original keys",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "estimated_cost": {
            "type": "number"
          },
          "word_count": {
            "type": "integer"
          },
          "quality": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "FileUploadRequest": {
        "type": "object",
        "required": [
          "file_name",
          "source_language_code"
        ],
        "properties": {
          "file_name": {
            "type": "string",
            "description": "Name of the file to upload"
          },
          "source_language_code": {
            "type": "string",
            "description": "ISO 639-1 source language code"
          },
          "separator": {
            "type": "string",
            "description": "Key separator for file parsing"
          }
        }
      },
      "FileUploadResponse": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "s3_url": {
            "type": "string",
            "description": "Pre-signed S3 URL for file upload"
          }
        }
      },
      "FileInfo": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "keys": {
            "type": "integer",
            "description": "Number of translation keys"
          },
          "word_count": {
            "type": "integer"
          }
        }
      },
      "FileOrderRequest": {
        "type": "object",
        "required": [
          "target_language_code",
          "quality"
        ],
        "properties": {
          "target_language_code": {
            "type": "string"
          },
          "quality": {
            "type": "string",
            "enum": [
              "machine",
              "translation",
              "localization",
              "expert"
            ]
          },
          "name": {
            "type": "string"
          },
          "callback_url": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication using access_key and secret"
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "File Uploads",
      "description": "Operations related to File Uploads"
    },
    {
      "name": "Translations",
      "description": "Operations related to Translations"
    }
  ]
}