{
  "openapi": "3.0.3",
  "info": {
    "title": "Time Tracker API",
    "version": "1.0.0",
    "description": "eBillity Time Tracker mobile REST API for time tracking, expenses, invoicing, and employee management.",
    "x-jentic-source-url": "http://mobile.ebillity.com/restservice/v1/doc/"
  },
  "servers": [
    {
      "url": "https://mobile.ebillity.com/restservice/v1"
    }
  ],
  "paths": {
    "/api/mobile/login/": {
      "post": {
        "operationId": "login",
        "summary": "Authenticate and obtain auth key",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/mobile/logout/": {
      "post": {
        "operationId": "logout",
        "summary": "Logout and invalidate auth key",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/signup/": {
      "post": {
        "operationId": "signup",
        "summary": "Create a new account",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signup successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/verifyemail/": {
      "post": {
        "operationId": "verifyemail",
        "summary": "Verify if an email exists",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/forgotpassword/": {
      "post": {
        "operationId": "forgotpassword",
        "summary": "Request password reset",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset email sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/changepassword/": {
      "post": {
        "operationId": "changepassword",
        "summary": "Change user password",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currentpassword",
                  "newpassword"
                ],
                "properties": {
                  "currentpassword": {
                    "type": "string"
                  },
                  "newpassword": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/user/": {
      "get": {
        "operationId": "getuser",
        "summary": "Get current user information",
        "tags": [
          "Users"
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/firm/{firmid}": {
      "get": {
        "operationId": "getfirmsettings",
        "summary": "Get firm settings",
        "tags": [
          "Firms"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Firm identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Firm settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FirmSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/employees": {
      "get": {
        "operationId": "getemployees",
        "summary": "Get employees for a firm",
        "tags": [
          "Employees"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lastsyncdate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Unix timestamp for incremental sync"
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Filter by user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "List of employees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Employee"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/clients": {
      "get": {
        "operationId": "getclients",
        "summary": "Get clients for a firm",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lastsyncdate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of clients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createclient",
        "summary": "Create a new client",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ClientName"
                ],
                "properties": {
                  "ClientName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ClientId": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/projects": {
      "post": {
        "operationId": "createproject",
        "summary": "Create a new project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ClientId",
                  "ProjectName"
                ],
                "properties": {
                  "ClientId": {
                    "type": "integer"
                  },
                  "ProjectName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ProjectId": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/activities": {
      "get": {
        "operationId": "getactivities",
        "summary": "Get activities for a firm",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lastsyncdate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of activities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Activity"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createactivity",
        "summary": "Create a new activity",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ActivityName"
                ],
                "properties": {
                  "ActivityName": {
                    "type": "string"
                  },
                  "ActivityRate": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ActivityId": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/timeentries": {
      "get": {
        "operationId": "gettimeentries",
        "summary": "Get time entries for a firm",
        "tags": [
          "Time Entries"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lastsyncdate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000
            }
          },
          {
            "name": "syncStartDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "syncEndDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "includeBreaks",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of time entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeEntry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createorupdatetimeentries",
        "summary": "Create or update time entries",
        "tags": [
          "Time Entries"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "timeentries"
                ],
                "properties": {
                  "timeentries": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TimeEntry"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Time entries created/updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeEntryResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/batchUpdateStatus/{status}": {
      "post": {
        "operationId": "batchupdatetimeentrystatus",
        "summary": "Batch update time entry statuses",
        "tags": [
          "Time Entries"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Submit",
                "UnSubmit",
                "Revert",
                "Reject",
                "Approve",
                "Approveall",
                "Queue",
                "UnQueue",
                "ReQueue",
                "Delete"
              ]
            },
            "description": "Status action to apply"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "TimeEntries"
                ],
                "properties": {
                  "TimeEntries": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch update results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeEntryResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/expenses": {
      "get": {
        "operationId": "getexpenses",
        "summary": "Get expenses for a firm",
        "tags": [
          "Expenses"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lastsyncdate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of expenses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Expense"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createorupdateexpenses",
        "summary": "Create or update expenses",
        "tags": [
          "Expenses"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "expenseentries"
                ],
                "properties": {
                  "expenseentries": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Expense"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expense results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/invoices": {
      "get": {
        "operationId": "getinvoices",
        "summary": "Get invoices for a firm",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lastsyncdate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of invoices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createinvoice",
        "summary": "Create a new invoice",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/payrolls": {
      "get": {
        "operationId": "getpayrolls",
        "summary": "Get payrolls for a firm",
        "tags": [
          "Lookup Data"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lastsyncdate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payrolls",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/timers": {
      "get": {
        "operationId": "gettimers",
        "summary": "Get active timers",
        "tags": [
          "Timers"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of timers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/StartTimer": {
      "post": {
        "operationId": "starttimer",
        "summary": "Start a timer",
        "tags": [
          "Timers"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timer started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/StopTimer": {
      "post": {
        "operationId": "stoptimer",
        "summary": "Stop a timer",
        "tags": [
          "Timers"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timer stopped",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/products": {
      "get": {
        "operationId": "getproducts",
        "summary": "Get available products",
        "tags": [
          "Lookup Data"
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/mobile/{firmid}/rate": {
      "post": {
        "operationId": "getrate",
        "summary": "Get billing rate for a combination",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "firmid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientid",
                  "projectid",
                  "activityid",
                  "employeeid",
                  "timeentrydate"
                ],
                "properties": {
                  "clientid": {
                    "type": "integer"
                  },
                  "projectid": {
                    "type": "integer"
                  },
                  "activityid": {
                    "type": "integer"
                  },
                  "employeeid": {
                    "type": "integer"
                  },
                  "timeentrydate": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rate information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rate"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "auth_key": {
            "type": "string",
            "description": "Authentication key for subsequent requests"
          }
        }
      },
      "SignupRequest": {
        "type": "object",
        "required": [
          "adminfirstname",
          "email",
          "password"
        ],
        "properties": {
          "firmname": {
            "type": "string"
          },
          "adminfirstname": {
            "type": "string"
          },
          "adminlastname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "phoneno": {
            "type": "string"
          },
          "IsBillTime": {
            "type": "boolean"
          },
          "CurrencyCode": {
            "type": "string"
          },
          "DateFormat": {
            "type": "string"
          }
        }
      },
      "SignupResponse": {
        "type": "object",
        "properties": {
          "firmid": {
            "type": "integer"
          },
          "userid": {
            "type": "integer"
          },
          "auth_key": {
            "type": "string"
          }
        }
      },
      "BooleanResult": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "userid": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "firms": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "FirmSettings": {
        "type": "object",
        "properties": {
          "firmid": {
            "type": "integer"
          },
          "firmname": {
            "type": "string"
          }
        }
      },
      "Employee": {
        "type": "object",
        "properties": {
          "employeeid": {
            "type": "integer"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          }
        }
      },
      "ClientListResponse": {
        "type": "object",
        "properties": {
          "ServerTime": {
            "type": "integer",
            "format": "int64"
          },
          "TotalRecordCount": {
            "type": "integer"
          },
          "clients": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "ActivityId": {
            "type": "integer"
          },
          "ActivityName": {
            "type": "string"
          },
          "ActivityRate": {
            "type": "number"
          }
        }
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "TimeEntryId": {
            "type": "integer"
          },
          "ClientId": {
            "type": "integer"
          },
          "ProjectId": {
            "type": "integer"
          },
          "ActivityId": {
            "type": "integer"
          },
          "EmployeeId": {
            "type": "integer"
          },
          "Duration": {
            "type": "number"
          },
          "Notes": {
            "type": "string"
          }
        }
      },
      "TimeEntryResponse": {
        "type": "object",
        "properties": {
          "TimeEntryId": {
            "type": "integer"
          },
          "Success": {
            "type": "boolean"
          },
          "ErrorMessage": {
            "type": "string"
          }
        }
      },
      "Expense": {
        "type": "object",
        "properties": {
          "ExpenseId": {
            "type": "integer"
          },
          "ClientId": {
            "type": "integer"
          },
          "ProjectId": {
            "type": "integer"
          },
          "Amount": {
            "type": "number"
          },
          "Description": {
            "type": "string"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "InvoiceId": {
            "type": "integer"
          },
          "ClientId": {
            "type": "integer"
          },
          "Amount": {
            "type": "number"
          }
        }
      },
      "Rate": {
        "type": "object",
        "properties": {
          "rate": {
            "type": "number"
          },
          "source": {
            "type": "string"
          },
          "overtimerate": {
            "type": "number"
          },
          "flatfee": {
            "type": "number"
          },
          "contingency": {
            "type": "number"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "Error message"
              },
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "status": {
                "type": "integer",
                "description": "HTTP status code"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key",
        "description": "API consumer key"
      },
      "authKey": {
        "type": "apiKey",
        "in": "header",
        "name": "auth_key",
        "description": "User authentication token obtained from login"
      }
    }
  },
  "security": [
    {
      "apiKey": [],
      "authKey": []
    }
  ],
  "tags": [
    {
      "name": "Activities",
      "description": "Operations related to Activities"
    },
    {
      "name": "Authentication",
      "description": "Operations related to Authentication"
    },
    {
      "name": "Billing",
      "description": "Operations related to Billing"
    },
    {
      "name": "Clients",
      "description": "Operations related to Clients"
    },
    {
      "name": "Employees",
      "description": "Operations related to Employees"
    },
    {
      "name": "Expenses",
      "description": "Operations related to Expenses"
    },
    {
      "name": "Firms",
      "description": "Operations related to Firms"
    },
    {
      "name": "Invoices",
      "description": "Operations related to Invoices"
    },
    {
      "name": "Lookup Data",
      "description": "Operations related to Lookup Data"
    },
    {
      "name": "Projects",
      "description": "Operations related to Projects"
    },
    {
      "name": "Time Entries",
      "description": "Operations related to Time Entries"
    },
    {
      "name": "Timers",
      "description": "Operations related to Timers"
    },
    {
      "name": "Users",
      "description": "Operations related to Users"
    }
  ]
}