{
  "openapi": "3.0.3",
  "info": {
    "title": "Braintree GraphQL API",
    "version": "1.0.0",
    "description": "Braintree payment processing GraphQL API by PayPal. Supports credit cards, PayPal, Venmo, Apple Pay, Google Pay, Samsung Pay, US bank accounts, and local payment methods. All operations are sent as POST requests to the /graphql endpoint with a JSON body containing the GraphQL query/mutation and variables.",
    "x-jentic-source-url": "https://developer.paypal.com/braintree/graphql/reference/"
  },
  "servers": [
    {
      "url": "https://api.braintreegateway.com",
      "description": "Production"
    },
    {
      "url": "https://sandbox.braintreegateway.com",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/graphql": {
      "post": {
        "operationId": "executeGraphQL",
        "summary": "Execute GraphQL Operation",
        "description": "Execute a GraphQL query or mutation against the Braintree API.\n\n## Available Queries\n- `ping` - Health check\n- `viewer` - Authenticated user info\n- `node` - Fetch any object by ID\n- `search` - Search transactions, customers, etc.\n- `clientConfiguration` - Payment method config and environment\n- `recurringBillingSubscriptionPlans` - List subscription plans\n- `recurringBillingSubscriptionPlanAddOns` - List add-ons\n- `recurringBillingSubscriptionPlanDiscounts` - List discounts\n- `inStoreLocations` - List physical locations\n- `paypalOrderDetails` - PayPal order info\n- `paypalBillingAgreementDetails` - Billing agreement info\n- `applePayRegisteredDomains` - Apple Pay domains\n- `idFromLegacyId` - Convert legacy IDs\n- `report` - Access reports\n\n## Available Mutations\n\n### Payment Processing\n- `chargeCreditCard` - Charge credit card\n- `chargePayPalAccount` - Charge PayPal\n- `chargeVenmoAccount` - Charge Venmo\n- `chargeUsBankAccount` - Charge US bank account\n- `chargePaymentMethod` - Charge any payment method\n- `authorizeCreditCard` - Authorize credit card\n- `authorizePayPalAccount` - Authorize PayPal\n- `authorizeVenmoAccount` - Authorize Venmo\n- `authorizePaymentMethod` - Authorize any payment method\n\n### Transaction Management\n- `captureTransaction` - Capture authorized transaction\n- `partialCaptureTransaction` - Partial capture\n- `voidTransaction` - Void transaction\n- `refundTransaction` - Refund transaction\n- `refundCreditCard` - Refund credit card\n- `refundUsBankAccount` - Refund bank account\n- `partialRefundTransaction` - Partial refund\n- `reverseTransaction` - Reverse transaction\n\n### Tokenization\n- `tokenizeCreditCard` - Tokenize credit card\n- `tokenizePayPalBillingAgreement` - Tokenize PayPal\n- `tokenizeUsBankAccount` - Tokenize bank account\n- `tokenizeApplePayCard` - Tokenize Apple Pay\n- `tokenizeGooglePayCard` - Tokenize Google Pay\n- `tokenizeSamsungPayCard` - Tokenize Samsung Pay\n\n### Vaulting\n- `vaultCreditCard` - Vault credit card\n- `vaultPaymentMethod` - Vault any method\n- `vaultUsBankAccount` - Vault bank account\n- `verifyPaymentMethod` - Verify payment method\n- `updatePaymentMethod` - Update vaulted method\n- `deletePaymentMethodFromVault` - Delete from vault\n\n### Customer Management\n- `createCustomer` - Create customer\n- `updateCustomer` - Update customer\n- `deleteCustomer` - Delete customer\n\n### Disputes\n- `acceptDisputeTransaction` - Accept dispute\n- `finalizeDisputeTransaction` - Finalize dispute\n- `updateDisputeEvidence` - Update evidence\n- `submitDisputeEvidence` - Submit evidence\n- `textEvidence` - Add text evidence\n- `fileEvidence` - Add file evidence\n\n### In-Store Reader\n- `requestPaymentReaderCharge` - Reader charge\n- `requestPaymentReaderRefund` - Reader refund\n- `requestPaymentReaderVault` - Reader vault\n- `completePaymentReaderTransaction` - Complete reader transaction\n- `pingInStoreReader` - Test reader connectivity\n\n### Tokens & Auth\n- `createClientToken` - Create client token\n- `createUniversalAccessToken` - Create universal access token\n- `manageOAuthClientSecrets` - Manage OAuth secrets\n\n### Subscriptions\n- `createRecurringBillingSubscription` - Create subscription\n- `recurringBillingPlanCreate` - Create billing plan\n\n### Other\n- `registerApplePayDomain` - Register Apple Pay domain\n- `performThreeDSecureLookup` - 3D Secure lookup",
        "tags": [
          "GraphQL"
        ],
        "security": [
          {
            "bearerAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Braintree-Version",
            "in": "header",
            "required": true,
            "description": "API version date string (e.g. 2024-08-01)",
            "schema": {
              "type": "string",
              "example": "2024-08-01"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLRequest"
              },
              "examples": {
                "ping": {
                  "summary": "Ping query",
                  "value": {
                    "query": "{ ping }"
                  }
                },
                "chargeCreditCard": {
                  "summary": "Charge a credit card",
                  "value": {
                    "query": "mutation ChargeCreditCard($input: ChargeCreditCardInput!) { chargeCreditCard(input: $input) { transaction { id status amount { value currencyCode } } } }",
                    "variables": {
                      "input": {
                        "paymentMethodId": "tokenized-credit-card-id",
                        "transaction": {
                          "amount": "10.00"
                        }
                      }
                    }
                  }
                },
                "createCustomer": {
                  "summary": "Create a customer",
                  "value": {
                    "query": "mutation CreateCustomer($input: CreateCustomerInput!) { createCustomer(input: $input) { customer { id legacyId firstName lastName email } } }",
                    "variables": {
                      "input": {
                        "customer": {
                          "firstName": "Jane",
                          "lastName": "Doe",
                          "email": "jane@example.com"
                        }
                      }
                    }
                  }
                },
                "searchTransactions": {
                  "summary": "Search transactions",
                  "value": {
                    "query": "query SearchTransactions($input: TransactionSearchInput!) { search { transactions(input: $input) { edges { node { id status amount { value currencyCode } createdAt } } pageInfo { hasNextPage endCursor } } } }",
                    "variables": {
                      "input": {
                        "status": {
                          "is": "SETTLED"
                        }
                      }
                    }
                  }
                },
                "vaultCreditCard": {
                  "summary": "Vault a credit card for reuse",
                  "value": {
                    "query": "mutation VaultCreditCard($input: VaultCreditCardInput!) { vaultCreditCard(input: $input) { paymentMethod { id usage details { ... on CreditCardDetails { last4 brandCode expirationMonth expirationYear } } } } }",
                    "variables": {
                      "input": {
                        "paymentMethodId": "tokenized-credit-card-id",
                        "customerId": "customer-id"
                      }
                    }
                  }
                },
                "refundTransaction": {
                  "summary": "Refund a transaction",
                  "value": {
                    "query": "mutation RefundTransaction($input: RefundTransactionInput!) { refundTransaction(input: $input) { refund { id status amount { value currencyCode } } } }",
                    "variables": {
                      "input": {
                        "transactionId": "transaction-id",
                        "refund": {
                          "amount": "5.00"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "GraphQL response (may contain data, errors, or both)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GraphQLRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "GraphQL query or mutation string"
          },
          "operationName": {
            "type": "string",
            "description": "Name of the operation to execute (when query contains multiple operations)"
          },
          "variables": {
            "type": "object",
            "description": "Variables for the GraphQL operation",
            "additionalProperties": true
          }
        }
      },
      "GraphQLResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "description": "Operation result data",
            "additionalProperties": true
          },
          "errors": {
            "type": "array",
            "description": "GraphQL errors",
            "items": {
              "$ref": "#/components/schemas/GraphQLError"
            }
          },
          "extensions": {
            "type": "object",
            "description": "Additional metadata",
            "properties": {
              "requestId": {
                "type": "string"
              }
            }
          }
        }
      },
      "GraphQLError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "line": {
                  "type": "integer"
                },
                "column": {
                  "type": "integer"
                }
              }
            }
          },
          "path": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "extensions": {
            "type": "object",
            "properties": {
              "errorClass": {
                "type": "string",
                "description": "Error classification"
              },
              "errorType": {
                "type": "string",
                "description": "Error type"
              },
              "inputPath": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "description": "A payment transaction",
        "properties": {
          "id": {
            "type": "string",
            "description": "Global ID"
          },
          "legacyId": {
            "type": "string",
            "description": "Legacy transaction ID"
          },
          "status": {
            "type": "string",
            "enum": [
              "AUTHORIZED",
              "AUTHORIZING",
              "AUTHORIZATION_EXPIRED",
              "FAILED",
              "GATEWAY_REJECTED",
              "PROCESSOR_DECLINED",
              "SETTLED",
              "SETTLING",
              "SETTLEMENT_CONFIRMED",
              "SETTLEMENT_DECLINED",
              "SETTLEMENT_PENDING",
              "SUBMITTED_FOR_SETTLEMENT",
              "VOIDED"
            ],
            "description": "Transaction status"
          },
          "amount": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "merchantAccountId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "paymentMethodSnapshot": {
            "type": "object",
            "description": "Snapshot of the payment method used"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Customer": {
        "type": "object",
        "description": "A customer record",
        "properties": {
          "id": {
            "type": "string"
          },
          "legacyId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "description": "A vaulted payment method",
        "properties": {
          "id": {
            "type": "string"
          },
          "legacyId": {
            "type": "string"
          },
          "usage": {
            "type": "string",
            "enum": [
              "SINGLE_USE",
              "MULTI_USE"
            ]
          },
          "details": {
            "type": "object",
            "description": "Payment method details (CreditCardDetails, PayPalAccountDetails, VenmoAccountDetails, etc.)"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          }
        }
      },
      "CreditCardDetails": {
        "type": "object",
        "properties": {
          "brandCode": {
            "type": "string",
            "enum": [
              "VISA",
              "MASTERCARD",
              "AMEX",
              "DISCOVER",
              "JCB",
              "DINERS_CLUB",
              "MAESTRO",
              "UNIONPAY"
            ]
          },
          "last4": {
            "type": "string"
          },
          "bin": {
            "type": "string"
          },
          "expirationMonth": {
            "type": "string"
          },
          "expirationYear": {
            "type": "string"
          },
          "cardholderName": {
            "type": "string"
          }
        }
      },
      "MonetaryAmount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "Amount value as string (e.g. '10.00')"
          },
          "currencyCode": {
            "type": "string",
            "description": "ISO 4217 currency code"
          }
        }
      },
      "Dispute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "legacyId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACCEPTED",
              "AUTO_ACCEPTED",
              "DISPUTED",
              "EXPIRED",
              "LOST",
              "OPEN",
              "WON"
            ]
          },
          "reason": {
            "type": "string"
          },
          "amountDisputed": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "amountWon": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "transaction": {
            "$ref": "#/components/schemas/Transaction"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "legacyId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "refundedTransaction": {
            "$ref": "#/components/schemas/Transaction"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "legacyId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "CANCELED",
              "EXPIRED",
              "PAST_DUE",
              "PENDING"
            ]
          },
          "planId": {
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "paymentMethodToken": {
            "type": "string"
          },
          "nextBillingDate": {
            "type": "string",
            "format": "date"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PageInfo": {
        "type": "object",
        "description": "Relay-style pagination info",
        "properties": {
          "hasNextPage": {
            "type": "boolean"
          },
          "hasPreviousPage": {
            "type": "boolean"
          },
          "startCursor": {
            "type": "string"
          },
          "endCursor": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained via OAuth or client token generation"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Base64-encoded public_key:private_key credentials"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "basicAuth": []
    }
  ]
}