{
  "openapi": "3.0.3",
  "info": {
    "title": "Scalable Press API",
    "version": "2.0.0",
    "description": "Print and ship custom products with simple API calls. Provides endpoints for products, quotes, orders, designs, events, customizations, billing, and mockups.",
    "x-jentic-source-url": "https://scalablepress.com/docs"
  },
  "servers": [
    {
      "url": "https://api.scalablepress.com"
    }
  ],
  "paths": {
    "/v2/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List all product categories",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "Array of category objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/categories/{categoryId}": {
      "get": {
        "operationId": "getCategory",
        "summary": "Get a specific category with its products",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The category identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Category object with products array",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/products/{productId}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get product details including colors, sizes, and descriptions",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The product identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/products/{productId}/availability": {
      "get": {
        "operationId": "getProductAvailability",
        "summary": "Get product availability by color and size",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product availability information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductAvailability"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/products/{productId}/items": {
      "get": {
        "operationId": "getProductItems",
        "summary": "Get detailed item info for a product (requires authorized API key)",
        "tags": [
          "Products"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed item information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/quote": {
      "post": {
        "operationId": "createQuote",
        "summary": "Create a quote for a print order",
        "tags": [
          "Quotes"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote response with total and order token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/quote/bulk": {
      "post": {
        "operationId": "createBulkQuote",
        "summary": "Create a bulk quote for multiple items",
        "tags": [
          "Quotes"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk quote response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/quote/{orderToken}": {
      "get": {
        "operationId": "getQuote",
        "summary": "Get quote details by order token",
        "tags": [
          "Quotes"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order object with status, items, events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/order": {
      "post": {
        "operationId": "placeOrder",
        "summary": "Place an order using a quote order token",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderToken"
                ],
                "properties": {
                  "orderToken": {
                    "type": "string",
                    "description": "The order token from a quote"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order object with status and orderId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listOrders",
        "summary": "List all orders",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Array of order objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/order/{orderId}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get a single order by ID",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single order object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "cancelOrder",
        "summary": "Cancel an order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order object with cancelled status and deletedAt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/order/{orderId}/reprint": {
      "post": {
        "operationId": "reprintOrder",
        "summary": "Request a reprint for an order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReprintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote response for the reprint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/order/{orderId}/changeAddress": {
      "post": {
        "operationId": "changeOrderAddress",
        "summary": "Change the shipping address for an order",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemIndex": {
                    "type": "integer",
                    "description": "Index of the item to change address for"
                  },
                  "address": {
                    "$ref": "#/components/schemas/Address"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order object with address-changed event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/design": {
      "post": {
        "operationId": "createDesign",
        "summary": "Create a new design",
        "tags": [
          "Designs"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DesignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Design object with designId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Design"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/design/{designId}": {
      "get": {
        "operationId": "getDesign",
        "summary": "Get a design by ID",
        "tags": [
          "Designs"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Design response object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Design"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "operationId": "deleteDesign",
        "summary": "Delete a design",
        "tags": [
          "Designs"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Design object with deletedAt timestamp",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Design"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/event": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events with filtering and pagination",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "itemIndex",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "itemName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of event objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/event/{eventId}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get a single event by ID",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single event object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/customization": {
      "get": {
        "operationId": "listCustomizations",
        "summary": "List all customizations",
        "tags": [
          "Customizations"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Array of customization objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customization"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/billing/invoice": {
      "get": {
        "operationId": "listInvoices",
        "summary": "List invoices with pagination",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of invoice objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/billing/invoice/{invoiceId}": {
      "get": {
        "operationId": "getInvoice",
        "summary": "Get a single invoice by ID",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single invoice object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v2/billing/invoice/{invoiceId}/pay/paypal": {
      "post": {
        "operationId": "payInvoiceWithPaypal",
        "summary": "Pay an invoice using PayPal",
        "tags": [
          "Billing"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transactionId",
                  "amount",
                  "email"
                ],
                "properties": {
                  "transactionId": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice object with updated balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/mockup": {
      "post": {
        "operationId": "createMockup",
        "summary": "Generate a product mockup image",
        "tags": [
          "Mockups"
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MockupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Object with mockup URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Auth with API key as password. Username is optional."
      }
    },
    "schemas": {
      "Category": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "CategoryDetail": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "hex": {
                  "type": "string"
                }
              }
            }
          },
          "sizes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ProductAvailability": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "availability": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "QuoteRequest": {
        "type": "object",
        "required": [
          "type",
          "products",
          "address"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of print (e.g., dtg, screenprint, poster)"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                },
                "size": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer"
                }
              }
            }
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "designId": {
            "type": "string"
          },
          "sides": {
            "type": "object"
          },
          "features": {
            "type": "object"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "BulkQuoteRequest": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "name": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "breakdown": {
                "type": "boolean"
              },
              "singleDesign": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "orderToken": {
            "type": "string"
          },
          "total": {
            "type": "number"
          },
          "shipping": {
            "type": "number"
          },
          "tax": {
            "type": "number"
          },
          "fees": {
            "type": "number"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReprintRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "itemIndex": {
            "type": "integer"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "products": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "features": {
            "type": "object"
          }
        }
      },
      "DesignRequest": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "sides": {
            "type": "object"
          },
          "validation": {
            "type": "boolean"
          },
          "customization": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Design": {
        "type": "object",
        "properties": {
          "designId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "sides": {
            "type": "object"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Customization": {
        "type": "object",
        "properties": {
          "customizationId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "invoiceId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "balance": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MockupRequest": {
        "type": "object",
        "properties": {
          "template": {
            "type": "object"
          },
          "product": {
            "type": "object"
          },
          "design": {
            "type": "object"
          },
          "output": {
            "type": "object"
          },
          "padding": {
            "type": "object"
          }
        }
      }
    }
  },
  "security": []
}