{
  "openapi": "3.0.1",
  "info": {
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for performing operations on the ApiVersionSet entity associated with your Azure API Management deployment. Using this entity you create and manage API Version Sets that are used to group APIs for consistent versioning.",
    "version": "2019-12-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimapiversionsets.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "apimanagement-apimapiversionsets",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apiVersionSets": {
      "get": {
        "tags": [
          "ApiVersionSet"
        ],
        "description": "Lists a collection of API Version Sets in the specified service instance.",
        "operationId": "ApiVersionSet_ListByService",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return.",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lists a collection of Api Version Set entities.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nextLink": {
                      "type": "string",
                      "description": "Next page link if any."
                    },
                    "value": {
                      "type": "array",
                      "description": "Page values.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "properties": {
                            "required": [
                              "displayName",
                              "versioningScheme"
                            ],
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "maxLength": 100,
                                "minLength": 1,
                                "type": "string",
                                "description": "Name of API Version Set"
                              },
                              "versioningScheme": {
                                "type": "string",
                                "description": "An value that determines where the API Version identifer will be located in a HTTP request.",
                                "enum": [
                                  "Segment",
                                  "Query",
                                  "Header"
                                ],
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "versioningScheme",
                                  "values": [
                                    {
                                      "description": "The API Version is passed in a path segment.",
                                      "value": "Segment"
                                    },
                                    {
                                      "description": "The API Version is passed in a query parameter.",
                                      "value": "Query"
                                    },
                                    {
                                      "description": "The API Version is passed in a HTTP header.",
                                      "value": "Header"
                                    }
                                  ]
                                }
                              }
                            },
                            "description": "Properties of an API Version Set."
                          }
                        },
                        "description": "Api Version Set Contract details."
                      }
                    }
                  },
                  "description": "Paged Api Version Set list representation."
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListApiVersionSets": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "",
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/vs1",
                      "name": "vs1",
                      "properties": {
                        "description": "Version configuration",
                        "displayName": "api set 1",
                        "versioningScheme": "Segment"
                      },
                      "type": "Microsoft.ApiManagement/service/api-version-sets"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/vs2",
                      "name": "vs2",
                      "properties": {
                        "description": "Version configuration 2",
                        "displayName": "api set 2",
                        "versioningScheme": "Query"
                      },
                      "type": "Microsoft.ApiManagement/service/api-version-sets"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-odata": "./definitions.json#/definitions/ApiVersionSetContract",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apiVersionSets/{versionSetId}": {
      "get": {
        "tags": [
          "ApiVersionSet"
        ],
        "description": "Gets the details of the Api Version Set specified by its identifier.",
        "operationId": "ApiVersionSet_Get",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "versionSetId",
            "in": "path",
            "description": "Api Version Set identifier. Must be unique in the current API Management service instance.",
            "required": true,
            "schema": {
              "maxLength": 80,
              "minLength": 1,
              "pattern": "^[^*#&+:<>?]+$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the specified Api Version Set entity.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "properties": {
                      "required": [
                        "displayName",
                        "versioningScheme"
                      ],
                      "type": "object",
                      "properties": {
                        "displayName": {
                          "maxLength": 100,
                          "minLength": 1,
                          "type": "string",
                          "description": "Name of API Version Set"
                        },
                        "versioningScheme": {
                          "type": "string",
                          "description": "An value that determines where the API Version identifer will be located in a HTTP request.",
                          "enum": [
                            "Segment",
                            "Query",
                            "Header"
                          ],
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "versioningScheme",
                            "values": [
                              {
                                "description": "The API Version is passed in a path segment.",
                                "value": "Segment"
                              },
                              {
                                "description": "The API Version is passed in a query parameter.",
                                "value": "Query"
                              },
                              {
                                "description": "The API Version is passed in a HTTP header.",
                                "value": "Header"
                              }
                            ]
                          }
                        }
                      },
                      "description": "Properties of an API Version Set."
                    }
                  },
                  "description": "Api Version Set Contract details.",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Resource ID.",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "description": "Resource name.",
                          "readOnly": true
                        },
                        "type": {
                          "type": "string",
                          "description": "Resource type for API Management resource.",
                          "readOnly": true
                        }
                      },
                      "description": "The Resource definition.",
                      "x-ms-azure-resource": true
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementGetApiVersionSet": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid",
              "versionSetId": "vs1"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/vs1",
                  "name": "vs1",
                  "properties": {
                    "description": "Version configuration",
                    "displayName": "Version Set 1",
                    "versioningScheme": "Segment"
                  },
                  "type": "Microsoft.ApiManagement/service/api-version-sets"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApiVersionSet"
        ],
        "description": "Creates or Updates a Api Version Set.",
        "operationId": "ApiVersionSet_CreateOrUpdate",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "versionSetId",
            "in": "path",
            "description": "Api Version Set identifier. Must be unique in the current API Management service instance.",
            "required": true,
            "schema": {
              "maxLength": 80,
              "minLength": 1,
              "pattern": "^[^*#&+:<>?]+$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. Not required when creating an entity, but required when updating an entity.",
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create or update parameters.",
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "properties": {
                    "required": [
                      "displayName",
                      "versioningScheme"
                    ],
                    "type": "object",
                    "properties": {
                      "displayName": {
                        "maxLength": 100,
                        "minLength": 1,
                        "type": "string",
                        "description": "Name of API Version Set"
                      },
                      "versioningScheme": {
                        "type": "string",
                        "description": "An value that determines where the API Version identifer will be located in a HTTP request.",
                        "enum": [
                          "Segment",
                          "Query",
                          "Header"
                        ],
                        "x-ms-enum": {
                          "modelAsString": true,
                          "name": "versioningScheme",
                          "values": [
                            {
                              "description": "The API Version is passed in a path segment.",
                              "value": "Segment"
                            },
                            {
                              "description": "The API Version is passed in a query parameter.",
                              "value": "Query"
                            },
                            {
                              "description": "The API Version is passed in a HTTP header.",
                              "value": "Header"
                            }
                          ]
                        }
                      }
                    },
                    "description": "Properties of an API Version Set."
                  }
                },
                "description": "Api Version Set Contract details.",
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Resource ID.",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Resource name.",
                        "readOnly": true
                      },
                      "type": {
                        "type": "string",
                        "description": "Resource type for API Management resource.",
                        "readOnly": true
                      }
                    },
                    "description": "The Resource definition.",
                    "x-ms-azure-resource": true
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Api Version Set was successfully updated.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "properties": {
                      "required": [
                        "displayName",
                        "versioningScheme"
                      ],
                      "type": "object",
                      "properties": {
                        "displayName": {
                          "maxLength": 100,
                          "minLength": 1,
                          "type": "string",
                          "description": "Name of API Version Set"
                        },
                        "versioningScheme": {
                          "type": "string",
                          "description": "An value that determines where the API Version identifer will be located in a HTTP request.",
                          "enum": [
                            "Segment",
                            "Query",
                            "Header"
                          ],
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "versioningScheme",
                            "values": [
                              {
                                "description": "The API Version is passed in a path segment.",
                                "value": "Segment"
                              },
                              {
                                "description": "The API Version is passed in a query parameter.",
                                "value": "Query"
                              },
                              {
                                "description": "The API Version is passed in a HTTP header.",
                                "value": "Header"
                              }
                            ]
                          }
                        }
                      },
                      "description": "Properties of an API Version Set."
                    }
                  },
                  "description": "Api Version Set Contract details.",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Resource ID.",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "description": "Resource name.",
                          "readOnly": true
                        },
                        "type": {
                          "type": "string",
                          "description": "Resource type for API Management resource.",
                          "readOnly": true
                        }
                      },
                      "description": "The Resource definition.",
                      "x-ms-azure-resource": true
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Api Version Set was successfully created.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "properties": {
                      "required": [
                        "displayName",
                        "versioningScheme"
                      ],
                      "type": "object",
                      "properties": {
                        "displayName": {
                          "maxLength": 100,
                          "minLength": 1,
                          "type": "string",
                          "description": "Name of API Version Set"
                        },
                        "versioningScheme": {
                          "type": "string",
                          "description": "An value that determines where the API Version identifer will be located in a HTTP request.",
                          "enum": [
                            "Segment",
                            "Query",
                            "Header"
                          ],
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "versioningScheme",
                            "values": [
                              {
                                "description": "The API Version is passed in a path segment.",
                                "value": "Segment"
                              },
                              {
                                "description": "The API Version is passed in a query parameter.",
                                "value": "Query"
                              },
                              {
                                "description": "The API Version is passed in a HTTP header.",
                                "value": "Header"
                              }
                            ]
                          }
                        }
                      },
                      "description": "Properties of an API Version Set."
                    }
                  },
                  "description": "Api Version Set Contract details.",
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Resource ID.",
                          "readOnly": true
                        },
                        "name": {
                          "type": "string",
                          "description": "Resource name.",
                          "readOnly": true
                        },
                        "type": {
                          "type": "string",
                          "description": "Resource type for API Management resource.",
                          "readOnly": true
                        }
                      },
                      "description": "The Resource definition.",
                      "x-ms-azure-resource": true
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementCreateApiVersionSet": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "parameters": {
                "properties": {
                  "description": "Version configuration",
                  "displayName": "api set 1",
                  "versioningScheme": "Segment"
                }
              },
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid",
              "versionSetId": "api1"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/api1",
                  "name": "api1",
                  "properties": {
                    "description": "Version configuration",
                    "displayName": "api set 1",
                    "versioningScheme": "Segment"
                  },
                  "type": "Microsoft.ApiManagement/service/api-version-sets"
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/api1",
                  "name": "api1",
                  "properties": {
                    "description": "Version configuration",
                    "displayName": "api set 1",
                    "versioningScheme": "Segment"
                  },
                  "type": "Microsoft.ApiManagement/service/api-version-sets"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "parameters"
      },
      "delete": {
        "tags": [
          "ApiVersionSets"
        ],
        "description": "Deletes specific Api Version Set.",
        "operationId": "ApiVersionSet_Delete",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "versionSetId",
            "in": "path",
            "description": "Api Version Set identifier. Must be unique in the current API Management service instance.",
            "required": true,
            "schema": {
              "maxLength": 80,
              "minLength": 1,
              "pattern": "^[^*#&+:<>?]+$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ApiVersion Set details were successfully deleted.",
            "content": {}
          },
          "204": {
            "description": "The ApiVersion Set details were successfully deleted.",
            "content": {}
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementDeleteApiVersionSet": {
            "parameters": {
              "If-Match": "*",
              "api-version": "2019-12-01-preview",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid",
              "versionSetId": "a1"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "head": {
        "tags": [
          "ApiVersionSet"
        ],
        "description": "Gets the entity state (Etag) version of the Api Version Set specified by its identifier.",
        "operationId": "ApiVersionSet_GetEntityTag",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "versionSetId",
            "in": "path",
            "description": "Api Version Set identifier. Must be unique in the current API Management service instance.",
            "required": true,
            "schema": {
              "maxLength": 80,
              "minLength": 1,
              "pattern": "^[^*#&+:<>?]+$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Specified Api Version Set entity exists and current entity state version is present in the ETag header.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementHeadApiVersionSet": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid",
              "versionSetId": "vs1"
            },
            "responses": {
              "200": {
                "headers": {
                  "etag": "AAAAAAAAAAa="
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ApiVersionSet"
        ],
        "description": "Updates the details of the Api VersionSet specified by its identifier.",
        "operationId": "ApiVersionSet_Update",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "versionSetId",
            "in": "path",
            "description": "Api Version Set identifier. Must be unique in the current API Management service instance.",
            "required": true,
            "schema": {
              "maxLength": 80,
              "minLength": 1,
              "pattern": "^[^*#&+:<>?]+$",
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Version of the API to be used with the client request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update parameters.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "properties": {
                    "type": "object",
                    "properties": {
                      "displayName": {
                        "maxLength": 100,
                        "minLength": 1,
                        "type": "string",
                        "description": "Name of API Version Set"
                      },
                      "versioningScheme": {
                        "type": "string",
                        "description": "An value that determines where the API Version identifer will be located in a HTTP request.",
                        "enum": [
                          "Segment",
                          "Query",
                          "Header"
                        ],
                        "x-ms-enum": {
                          "modelAsString": true,
                          "name": "versioningScheme",
                          "values": [
                            {
                              "description": "The API Version is passed in a path segment.",
                              "value": "Segment"
                            },
                            {
                              "description": "The API Version is passed in a query parameter.",
                              "value": "Query"
                            },
                            {
                              "description": "The API Version is passed in a HTTP header.",
                              "value": "Header"
                            }
                          ]
                        }
                      }
                    },
                    "description": "Properties used to create or update an API Version Set."
                  }
                },
                "description": "Parameters to update or create an Api Version Set Contract."
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The Api Version Set details were successfully updated.",
            "content": {}
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
                        },
                        "details": {
                          "type": "array",
                          "description": "The list of invalid fields send in request, in case of validation error.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Property level error code."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable representation of property-level error."
                              },
                              "target": {
                                "type": "string",
                                "description": "Property name."
                              }
                            },
                            "description": "Error Field contract."
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable representation of the error."
                        }
                      },
                      "description": "Error Body contract."
                    }
                  },
                  "description": "Error Response."
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementUpdateApiVersionSet": {
            "parameters": {
              "If-Match": "*",
              "api-version": "2019-12-01-preview",
              "parameters": {
                "properties": {
                  "description": "Version configuration",
                  "displayName": "api set 1",
                  "versioningScheme": "Segment"
                }
              },
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid",
              "versionSetId": "api1"
            },
            "responses": {
              "204": {}
            }
          }
        },
        "x-codegen-request-body-name": "parameters"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "azure_auth": {
        "type": "oauth2",
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        }
      }
    }
  },
  "x-original-swagger-version": "2.0"
}