{
  "openapi": "3.0.3",
  "info": {
    "title": "Mockaroo API",
    "description": "Generate fake data to JSON, CSV, TXT, SQL, and XML formats. Mockaroo lets you create custom schemas and generate realistic test data at scale.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://www.mockaroo.com/docs",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.mockaroo.com",
      "description": "Mockaroo API Server"
    }
  ],
  "security": [
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Types",
      "description": "Retrieve available data generation types"
    },
    {
      "name": "Generate",
      "description": "Generate mock data"
    },
    {
      "name": "Datasets",
      "description": "Manage custom datasets"
    },
    {
      "name": "Downloads",
      "description": "Manage background generation jobs"
    }
  ],
  "paths": {
    "/api/types": {
      "get": {
        "operationId": "getTypes",
        "summary": "Get available data generation types",
        "description": "Retrieve a list of all available data types that can be used when generating mock data.",
        "tags": [
          "Types"
        ],
        "responses": {
          "200": {
            "description": "List of available types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DataType"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/generate.json": {
      "post": {
        "operationId": "generateJSON",
        "summary": "Generate mock data as JSON",
        "tags": [
          "Generate"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of rows to generate (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "array",
            "in": "query",
            "description": "Force JSON array return even for a single result",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_nulls",
            "in": "query",
            "description": "Include keys with null values in output",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "schema",
            "in": "query",
            "description": "Name of a saved schema to use",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "JSONP callback function name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "background",
            "in": "query",
            "description": "Generate asynchronously in the background",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Array of field definitions (not required if using saved schema)",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FieldDefinition"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated mock data as JSON",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": true
                    },
                    {
                      "$ref": "#/components/schemas/BackgroundJobResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate mock data as JSON"
      }
    },
    "/api/generate.csv": {
      "post": {
        "operationId": "generateCSV",
        "summary": "Generate mock data as CSV",
        "tags": [
          "Generate"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "include_header",
            "in": "query",
            "description": "Include header row",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "bom",
            "in": "query",
            "description": "Include byte order mark",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "line_ending",
            "in": "query",
            "description": "Line ending style",
            "schema": {
              "type": "string",
              "enum": [
                "unix",
                "windows"
              ]
            }
          },
          {
            "name": "quote_char",
            "in": "query",
            "description": "Character to enclose values",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "background",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FieldDefinition"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated mock data as CSV",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate mock data as CSV"
      }
    },
    "/api/generate.txt": {
      "post": {
        "operationId": "generateTXT",
        "summary": "Generate mock data as tab-separated text",
        "tags": [
          "Generate"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "schema",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "background",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FieldDefinition"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated mock data as tab-separated text",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate mock data as tab-separated text"
      }
    },
    "/api/generate.sql": {
      "post": {
        "operationId": "generateSQL",
        "summary": "Generate mock data as SQL INSERT statements",
        "tags": [
          "Generate"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "schema",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "background",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FieldDefinition"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated mock data as SQL",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate mock data as SQL INSERT statements"
      }
    },
    "/api/generate.xml": {
      "post": {
        "operationId": "generateXML",
        "summary": "Generate mock data as XML",
        "tags": [
          "Generate"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "root_element",
            "in": "query",
            "description": "XML root element name",
            "schema": {
              "type": "string",
              "default": "dataset"
            }
          },
          {
            "name": "record_element",
            "in": "query",
            "description": "XML record element name",
            "schema": {
              "type": "string",
              "default": "record"
            }
          },
          {
            "name": "schema",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "background",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FieldDefinition"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated mock data as XML",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate mock data as XML"
      }
    },
    "/api/generate.custom": {
      "post": {
        "operationId": "generateCustom",
        "summary": "Generate mock data with custom delimiter",
        "tags": [
          "Generate"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "delimiter",
            "in": "query",
            "description": "Custom column separator character",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schema",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "background",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FieldDefinition"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated mock data with custom delimiter",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Generate mock data with custom delimiter"
      }
    },
    "/api/datasets/{name}": {
      "post": {
        "operationId": "uploadDataset",
        "summary": "Upload or update a dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Dataset identifier name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filename",
            "in": "query",
            "description": "Original file name (.csv or .txt)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "description": "Existing project name to associate with",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Dataset content as CSV or plain text",
          "content": {
            "text/csv": {
              "schema": {
                "type": "string"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dataset uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Upload or update a dataset"
      },
      "delete": {
        "operationId": "deleteDataset",
        "summary": "Delete a dataset",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "Dataset identifier name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Delete a dataset"
      }
    },
    "/api/downloads/{id}": {
      "get": {
        "operationId": "getDownloadStatus",
        "summary": "Check background generation job status",
        "tags": [
          "Downloads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Download ID from background generate request",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Check background generation job status"
      },
      "delete": {
        "operationId": "cancelDownload",
        "summary": "Cancel or remove a background generation job",
        "tags": [
          "Downloads"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download job cancelled successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Cancel or remove a background generation job"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "API key passed as query parameter"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key passed as request header"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters or schema",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "DataType": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the data type"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TypeParameter"
            }
          }
        }
      },
      "TypeParameter": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "default": {
            "type": "string"
          }
        }
      },
      "FieldDefinition": {
        "type": "object",
        "required": [
          "name",
          "type"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Field name / column header"
          },
          "type": {
            "type": "string",
            "description": "Data type name (from /api/types)"
          },
          "percentBlank": {
            "type": "integer",
            "description": "Percentage of values that should be null (0-100)",
            "minimum": 0,
            "maximum": 100
          },
          "formula": {
            "type": "string",
            "description": "Ruby formula to transform the generated value"
          }
        }
      },
      "BackgroundJobResponse": {
        "type": "object",
        "properties": {
          "downloadId": {
            "type": "integer",
            "description": "ID to check status via /api/downloads/:id"
          }
        }
      },
      "DownloadStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "failed",
              "queued",
              "in_progress"
            ],
            "description": "Current status of the generation job"
          },
          "error": {
            "type": "string",
            "description": "Error message if status is failed"
          },
          "recordsGenerated": {
            "type": "integer",
            "description": "Number of records generated so far"
          },
          "percentComplete": {
            "type": "number",
            "description": "Completion percentage"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Download URL when generation is complete"
          }
        }
      },
      "DatasetResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
