{
  "openapi": "3.0.3",
  "info": {
    "title": "EMnify API",
    "version": "1.0.0",
    "description": "IoT connectivity platform API for managing SIMs, devices, and cellular connectivity.",
    "x-jentic-source-url": "https://cdn.emnify.net/api/doc/swagger.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://cdn.emnify.net/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "summary": "Authenticate",
        "description": "Obtain a JWT authentication token using an application token",
        "operationId": "authenticate",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "application_token"
                ],
                "properties": {
                  "application_token": {
                    "type": "string",
                    "description": "Application token for authentication"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth_token": {
                      "type": "string",
                      "description": "JWT authentication token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "authenticate"
        ]
      }
    },
    "/sim": {
      "get": {
        "summary": "List SIMs",
        "description": "Retrieve a list of SIM cards with pagination, filtering, and sorting",
        "operationId": "listSims",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Items per page"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field"
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter criteria"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "iccid": {
                        "type": "string"
                      },
                      "status": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "sim"
        ]
      },
      "post": {
        "summary": "Create SIM",
        "description": "Register a new SIM card",
        "operationId": "createSim",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "iccid"
                ],
                "properties": {
                  "iccid": {
                    "type": "string",
                    "description": "SIM card ICCID"
                  },
                  "production_date": {
                    "type": "string",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "SIM created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "sim"
        ]
      }
    },
    "/sim/{sim_id}": {
      "get": {
        "summary": "Get SIM",
        "description": "Retrieve details of a specific SIM card",
        "operationId": "getSim",
        "parameters": [
          {
            "name": "sim_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "iccid": {
                      "type": "string"
                    },
                    "status": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "tags": [
          "sim"
        ]
      },
      "patch": {
        "summary": "Update SIM",
        "description": "Update SIM card configuration",
        "operationId": "updateSim",
        "parameters": [
          {
            "name": "sim_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SIM updated successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "sim"
        ]
      },
      "delete": {
        "summary": "Delete SIM",
        "description": "Remove a SIM card",
        "operationId": "deleteSim",
        "parameters": [
          {
            "name": "sim_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "SIM deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "sim"
        ]
      }
    },
    "/endpoint": {
      "get": {
        "summary": "List endpoints",
        "description": "Retrieve a list of connectivity endpoints (devices)",
        "operationId": "listEndpoints",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "endpoint"
        ]
      },
      "post": {
        "summary": "Create endpoint",
        "description": "Register a new connectivity endpoint",
        "operationId": "createEndpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "service_profile": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Endpoint created successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "endpoint"
        ]
      }
    },
    "/endpoint/{endpoint_id}": {
      "get": {
        "summary": "Get endpoint",
        "description": "Retrieve details of a specific endpoint",
        "operationId": "getEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "tags": [
          "endpoint"
        ]
      },
      "patch": {
        "summary": "Update endpoint",
        "description": "Update endpoint configuration",
        "operationId": "updateEndpoint",
        "parameters": [
          {
            "name": "endpoint_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Endpoint updated successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "endpoint"
        ]
      }
    },
    "/sms": {
      "post": {
        "summary": "Send SMS",
        "description": "Send an SMS message to a device",
        "operationId": "sendSms",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "endpoint_id",
                  "payload"
                ],
                "properties": {
                  "endpoint_id": {
                    "type": "integer"
                  },
                  "payload": {
                    "type": "string",
                    "description": "SMS message text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "SMS sent successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "sms"
        ]
      }
    },
    "/service_profile": {
      "get": {
        "summary": "List service profiles",
        "description": "Retrieve connectivity service profiles",
        "operationId": "listServiceProfiles",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "service_profile"
        ]
      }
    },
    "/tariff_plan": {
      "get": {
        "summary": "List tariff plans",
        "description": "Retrieve available pricing plans",
        "operationId": "listTariffPlans",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "tariff_plan"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /authenticate endpoint"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication information is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error description"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "authenticate"
    },
    {
      "name": "endpoint"
    },
    {
      "name": "service_profile"
    },
    {
      "name": "sim"
    },
    {
      "name": "sms"
    },
    {
      "name": "tariff_plan"
    }
  ]
}
