{
  "openapi": "3.0.3",
  "info": {
    "title": "Digitail Pets API",
    "version": "1.0.0",
    "description": "API for managing pets in the Digitail veterinary platform. Supports creating, retrieving, updating, and listing pets with associated data.",
    "x-jentic-source-url": "https://documentation.digitail.io/list-all-pets"
  },
  "servers": [
    {
      "url": "https://developer.digitail.io/api/v1",
      "description": "Sandbox"
    },
    {
      "url": "https://vet.digitail.io/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/pets": {
      "get": {
        "operationId": "listAllPets",
        "summary": "List all pets",
        "tags": [
          "Pets"
        ],
        "parameters": [
          {
            "name": "filter[clinic_id]",
            "in": "query",
            "required": true,
            "description": "ID of the clinic from where the entity was created",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[vet_id]",
            "in": "query",
            "description": "Vet identifier associated with the entity",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[owner_id]",
            "in": "query",
            "description": "Pet parent identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Pet identifier",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[nickname]",
            "in": "query",
            "description": "Pet name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[updated_from]",
            "in": "query",
            "description": "Updated after specified datetime (ISO8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[updated_to]",
            "in": "query",
            "description": "Updated before specified datetime (ISO8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "filter[birthday_between]",
            "in": "query",
            "description": "Date range format 'YYYY-MM-DD,YYYY-MM-DD'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional data to include: species, breed, crossBreed, owners, clinics, vetPetRequests.clinic, patients",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Order by field(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Pagination page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with paginated list of pets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PetListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or disallowed filters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPet",
        "summary": "Create a pet",
        "tags": [
          "Pets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreatePetRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pet created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pet"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pets/{id}": {
      "get": {
        "operationId": "retrievePet",
        "summary": "Retrieve a pet",
        "tags": [
          "Pets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The pet entity ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional info to include (comma separated): species, breed, crossBreed, owners, owners.clients",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "append",
            "in": "query",
            "description": "Additional attributes to include (comma separated): hormonalStatusString, mandatoryScheme, weightEvolution",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with pet details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pet"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updatePet",
        "summary": "Update a pet",
        "description": "Updates a pet record. Uses X-HTTP-METHOD-OVERRIDE: PATCH header.",
        "tags": [
          "Pets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The pet entity ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-HTTP-METHOD-OVERRIDE",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PATCH"
              ],
              "default": "PATCH"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pet updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pet"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      }
    },
    "schemas": {
      "Pet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nickname": {
            "type": "string"
          },
          "species_id": {
            "type": "string"
          },
          "breed_id": {
            "type": "string"
          },
          "observations": {
            "type": "string"
          },
          "gender": {
            "type": "string",
            "enum": [
              "male",
              "female",
              "unknown"
            ]
          },
          "microchip": {
            "type": "string"
          },
          "crossbreed": {
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          "crossbreed_details_id": {
            "type": "integer"
          },
          "color": {
            "type": "string"
          },
          "distinctive_marks": {
            "type": "string"
          },
          "birthday": {
            "type": "string",
            "format": "date"
          },
          "gender_string": {
            "type": "string"
          },
          "chip_number": {
            "type": "string"
          },
          "microchip_location": {
            "type": "string"
          },
          "insurance_number": {
            "type": "string"
          },
          "passport": {
            "type": "string"
          },
          "profile_picture": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "constitution": {
            "type": "string"
          },
          "conformation": {
            "type": "string"
          },
          "weight": {
            "type": "string"
          },
          "weight_evolution": {
            "type": "integer",
            "enum": [
              -1,
              0,
              1
            ]
          },
          "allergies": {
            "type": "string"
          },
          "nr_recs": {
            "type": "integer"
          },
          "blood_type": {
            "type": "string"
          },
          "hormonal_status": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "0=Unknown, 1=Intact, 2=Neutered"
          },
          "age": {
            "type": "string"
          },
          "age_breakdown": {
            "type": "object",
            "properties": {
              "years": {
                "type": "integer"
              },
              "months": {
                "type": "integer"
              },
              "days": {
                "type": "integer"
              }
            }
          },
          "patientNumber": {
            "type": "string"
          },
          "is_verified": {
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          },
          "breeder": {
            "type": "string"
          },
          "birthday_estimated": {
            "type": "boolean"
          },
          "rabic_tag_number": {
            "type": "string"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "archive": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "reason": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "patients": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PetListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pet"
            }
          }
        }
      },
      "CreatePetRequest": {
        "type": "object",
        "required": [
          "clinic_id",
          "vet_id",
          "owner_id",
          "nickname",
          "birthday",
          "species_id",
          "breed_id",
          "gender",
          "hormonal_status"
        ],
        "properties": {
          "clinic_id": {
            "type": "integer"
          },
          "vet_id": {
            "type": "integer"
          },
          "owner_id": {
            "type": "integer"
          },
          "nickname": {
            "type": "string"
          },
          "birthday": {
            "type": "string",
            "format": "date",
            "description": "Format: Y-m-d"
          },
          "species_id": {
            "type": "integer"
          },
          "breed_id": {
            "type": "integer"
          },
          "gender": {
            "type": "string",
            "enum": [
              "male",
              "female",
              "unknown"
            ]
          },
          "hormonal_status": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "0=neutered, 1=normal, 2=unknown"
          },
          "avatar": {
            "type": "string",
            "format": "binary"
          },
          "crossbreed": {
            "type": "boolean"
          },
          "crossbreed_details": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "color_mask": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "distinctive_marks": {
            "type": "string"
          },
          "chip_number": {
            "type": "string"
          },
          "microchip_location": {
            "type": "string"
          },
          "insurance_number": {
            "type": "string"
          },
          "passport": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "constitution": {
            "type": "string"
          },
          "conformation": {
            "type": "string"
          },
          "allergies": {
            "type": "string"
          },
          "blood_type_id": {
            "type": "integer"
          },
          "observations": {
            "type": "string"
          }
        }
      },
      "UpdatePetRequest": {
        "type": "object",
        "properties": {
          "nickname": {
            "type": "string"
          },
          "birthday": {
            "type": "string",
            "format": "date",
            "description": "Format: Y-m-d"
          },
          "species_id": {
            "type": "integer"
          },
          "breed_id": {
            "type": "integer"
          },
          "gender": {
            "type": "string",
            "enum": [
              "male",
              "female",
              "unknown"
            ]
          },
          "hormonal_status": {
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ],
            "description": "0=neutered, 1=intact, 2=unknown"
          },
          "avatar": {
            "type": "string",
            "format": "binary"
          },
          "crossbreed": {
            "type": "boolean"
          },
          "crossbreed_details": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "color_mask": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "distinctive_marks": {
            "type": "string"
          },
          "chip_number": {
            "type": "string"
          },
          "microchip_location": {
            "type": "string"
          },
          "insurance_number": {
            "type": "string"
          },
          "passport": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "constitution": {
            "type": "string"
          },
          "conformation": {
            "type": "string"
          },
          "allergies": {
            "type": "string"
          },
          "blood_type_id": {
            "type": "integer"
          },
          "observations": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Pets",
      "description": "Operations for managing pets"
    }
  ]
}