{
  "openapi": "3.0.3",
  "info": {
    "title": "MacAddress.io API",
    "version": "1.0.0",
    "description": "MAC address vendor lookup API. Look up MAC address or OUI details including vendor information, with support for JSON, XML, CSV, and vendor-only output.",
    "x-jentic-source-url": "https://macaddress.io/api/documentation"
  },
  "servers": [
    {
      "url": "https://api.macaddress.io"
    }
  ],
  "paths": {
    "/v1": {
      "get": {
        "operationId": "lookupMacAddress",
        "summary": "Look up a MAC address",
        "description": "Retrieve vendor and metadata information for a given MAC address or OUI.",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "description": "MAC address or OUI to look up (minimum 6 BASE16 characters)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output format (default: vendor)",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "vendor"
              ],
              "default": "vendor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MAC address lookup result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MacAddressInfo"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Vendor name only (when output=vendor)"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid MAC address format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MacAddressInfo": {
        "type": "object",
        "properties": {
          "vendorDetails": {
            "type": "object",
            "properties": {
              "oui": {
                "type": "string"
              },
              "isPrivate": {
                "type": "boolean"
              },
              "companyName": {
                "type": "string"
              },
              "companyAddress": {
                "type": "string"
              },
              "countryCode": {
                "type": "string"
              }
            }
          },
          "blockDetails": {
            "type": "object",
            "properties": {
              "blockFound": {
                "type": "boolean"
              },
              "borderLeft": {
                "type": "string"
              },
              "borderRight": {
                "type": "string"
              },
              "blockSize": {
                "type": "integer"
              },
              "assignmentBlockSize": {
                "type": "string"
              },
              "dateCreated": {
                "type": "string"
              },
              "dateUpdated": {
                "type": "string"
              }
            }
          },
          "macAddressDetails": {
            "type": "object",
            "properties": {
              "searchTerm": {
                "type": "string"
              },
              "isValid": {
                "type": "boolean"
              },
              "virtualMachine": {
                "type": "string"
              },
              "applications": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "transmissionType": {
                "type": "string"
              },
              "administrationType": {
                "type": "string"
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Authentication-Token",
        "description": "API key passed via header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "API key passed via query parameter"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ]
}