{
  "openapi": "3.0.3",
  "info": {
    "title": "Sonix API",
    "version": "1.0.0",
    "description": "API for automated transcription, translation, and subtitle creation for audio and video files.",
    "x-jentic-source-url": "https://sonix.ai/docs/api",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.sonix.ai/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/media": {
      "get": {
        "summary": "List media files",
        "description": "Retrieve a paginated list of media files with optional filtering",
        "operationId": "listMedia",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number (100 files per page)"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "completed",
                "transcribing",
                "aligning",
                "failed"
              ]
            },
            "description": "Filter by transcription status"
          },
          {
            "name": "folder_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by folder ID"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search files by name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "media"
        ]
      },
      "post": {
        "summary": "Submit new media",
        "description": "Upload media file for transcription or alignment",
        "operationId": "createMedia",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "language"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio/video file (100MB limit)"
                  },
                  "file_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to remote media file (for files >100MB)"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code for transcription"
                  },
                  "name": {
                    "type": "string",
                    "description": "Custom name for the media"
                  },
                  "transcript_text": {
                    "type": "string",
                    "description": "Existing transcript for alignment"
                  },
                  "folder_id": {
                    "type": "string",
                    "description": "Target folder ID"
                  },
                  "keywords": {
                    "type": "string",
                    "description": "Comma-separated keywords for transcription hints"
                  },
                  "custom_data": {
                    "type": "object",
                    "description": "Custom metadata key-value pairs"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook URL for status updates"
                  },
                  "multitrack": {
                    "type": "boolean",
                    "description": "Enable multitrack processing"
                  },
                  "speaker_labels": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Speaker identifiers for multitrack"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Media uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "media"
        ]
      }
    },
    "/media/{id}": {
      "get": {
        "summary": "Get media status",
        "description": "Retrieve details and status of a specific media file",
        "operationId": "getMedia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "duration": {
                      "type": "number"
                    },
                    "language": {
                      "type": "string"
                    },
                    "video": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "tags": [
          "media"
        ]
      },
      "put": {
        "summary": "Update media",
        "description": "Update media file properties",
        "operationId": "updateMedia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "custom_label": {
                    "type": "string"
                  },
                  "folder_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "tags": [
          "media"
        ]
      },
      "delete": {
        "summary": "Delete media",
        "description": "Delete a media file and its associated data",
        "operationId": "deleteMedia",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Media deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "tags": [
          "media"
        ]
      }
    },
    "/media/{id}/transcript": {
      "get": {
        "summary": "Get transcript",
        "description": "Retrieve the transcript in text format",
        "operationId": "getTranscript",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "text",
                "json",
                "srt",
                "vtt",
                "avid_ds"
              ]
            },
            "description": "Transcript format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "tags": [
          "media"
        ]
      },
      "put": {
        "summary": "Update transcript",
        "description": "Update the transcript text",
        "operationId": "updateTranscript",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transcript": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcript updated successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "media"
        ]
      }
    },
    "/media/{id}/transcript/split": {
      "put": {
        "summary": "Split transcript into subtitles",
        "description": "Convert transcript into subtitle format",
        "operationId": "splitTranscript",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript split successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "media"
        ]
      }
    },
    "/media/{id}/translations": {
      "post": {
        "summary": "Create translation",
        "description": "Initiate translation to a target language",
        "operationId": "createTranslation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "language"
                ],
                "properties": {
                  "language": {
                    "type": "string",
                    "description": "Target language code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Translation initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "translation_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "media"
        ]
      }
    },
    "/media/{id}/translations/{language}": {
      "get": {
        "summary": "Get translation status",
        "description": "Check the status of a translation",
        "operationId": "getTranslation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "media"
        ]
      }
    },
    "/media/{id}/video_burn_ins": {
      "post": {
        "summary": "Create video burn-in",
        "description": "Create a video with burned-in subtitles",
        "operationId": "createVideoBurnIn",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subtitle_language": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Burn-in job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "burn_in_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "media"
        ]
      }
    },
    "/video_burn_ins/{id}": {
      "get": {
        "summary": "Get burn-in status",
        "description": "Check the status of a video burn-in job",
        "operationId": "getVideoBurnIn",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "video_burn_ins"
        ]
      }
    },
    "/media/{id}/summarizations": {
      "post": {
        "summary": "Create summarization",
        "description": "Create an AI-generated summary of the transcript",
        "operationId": "createSummarization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Summarization job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summarization_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "media"
        ]
      }
    },
    "/summarizations/{id}": {
      "get": {
        "summary": "Get summarization",
        "description": "Retrieve the generated summary",
        "operationId": "getSummarization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "summarizations"
        ]
      }
    },
    "/folders": {
      "get": {
        "summary": "List folders",
        "description": "Retrieve a list of folders",
        "operationId": "listFolders",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "folders": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "folders"
        ]
      },
      "post": {
        "summary": "Create folder",
        "description": "Create a new folder for organizing media",
        "operationId": "createFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "parent_folder": {
                    "type": "string"
                  },
                  "access_control": {
                    "type": "string",
                    "enum": [
                      "internal",
                      "external",
                      "restricted"
                    ]
                  },
                  "restricted_users": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Folder created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "folders"
        ]
      }
    },
    "/folders/{id}": {
      "put": {
        "summary": "Update folder",
        "description": "Update folder properties",
        "operationId": "updateFolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "access_control": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Folder updated successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "folders"
        ]
      }
    },
    "/users": {
      "get": {
        "summary": "List users",
        "description": "Retrieve a list of users in the account",
        "operationId": "listUsers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "users"
        ]
      },
      "post": {
        "summary": "Invite user",
        "description": "Invite a new user to the account",
        "operationId": "inviteUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "role"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "producer",
                      "team_lead",
                      "editor",
                      "team_member",
                      "individual_member",
                      "view_only",
                      "billing_admin",
                      "disabled",
                      "external_editor",
                      "external_viewer"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User invited successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "users"
        ]
      }
    },
    "/users/{id}": {
      "put": {
        "summary": "Update user role",
        "description": "Update an existing user's role",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "users"
        ]
      }
    },
    "/media/{id}/shares": {
      "get": {
        "summary": "List shares",
        "description": "List all shares for a media file",
        "operationId": "listShares",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shares": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "media"
        ]
      },
      "post": {
        "summary": "Share transcript",
        "description": "Create a share link for a transcript",
        "operationId": "createShare",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Share created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "share_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "media"
        ]
      },
      "delete": {
        "summary": "Remove share",
        "description": "Delete a share link",
        "operationId": "deleteShare",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Share deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "tags": [
          "media"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using API key from https://my.sonix.ai/api"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication information is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "The specified resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "message": {
            "type": "string",
            "description": "Detailed error description"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "folders"
    },
    {
      "name": "media"
    },
    {
      "name": "summarizations"
    },
    {
      "name": "users"
    },
    {
      "name": "video_burn_ins"
    }
  ]
}
