{
  "openapi": "3.0.3",
  "info": {
    "title": "ArcGIS Geocoding Service REST API",
    "description": "The ArcGIS World Geocoding Service provides geocoding, reverse geocoding, address suggestion, and batch geocoding capabilities. It allows converting addresses and place names to geographic coordinates and vice versa.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://developers.arcgis.com/rest/"
  },
  "servers": [
    {
      "url": "https://geocode-api.arcgis.com/arcgis/rest/services/World/GeocodeServer",
      "description": "ArcGIS World Geocoding Service (Standard)"
    },
    {
      "url": "https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer",
      "description": "ArcGIS World Geocoding Service (Enhanced)"
    }
  ],
  "paths": {
    "/findAddressCandidates": {
      "get": {
        "operationId": "findAddressCandidates",
        "summary": "Find address candidates",
        "description": "Convert text for an address or place name to a complete address with a location (forward geocoding).",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "singleLine",
            "in": "query",
            "description": "The full address or place name to geocode as a single string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "The street address portion of the address to geocode.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "The city portion of the address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "The state or province portion of the address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postal",
            "in": "query",
            "description": "The postal code portion of the address.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "A country code to limit results to a specific country (ISO 3166-1 alpha-2 or alpha-3).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxLocations",
            "in": "query",
            "description": "The maximum number of candidates to return. Default is 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "outFields",
            "in": "query",
            "description": "Comma-separated list of output fields to return. Use * for all fields.",
            "schema": {
              "type": "string",
              "default": "*"
            }
          },
          {
            "name": "outSR",
            "in": "query",
            "description": "The spatial reference of the output geometries (WKID).",
            "schema": {
              "type": "integer",
              "default": 4326
            }
          },
          {
            "name": "searchExtent",
            "in": "query",
            "description": "Bounding box to limit the search area (xmin,ymin,xmax,ymax).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "A point (x,y) used to prioritize results near a location.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Comma-separated list of place or address types to filter results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f",
            "in": "query",
            "description": "The response format.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pjson"
              ],
              "default": "json"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geocoding response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FindAddressCandidatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure - invalid or missing token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/reverseGeocode": {
      "get": {
        "operationId": "reverseGeocode",
        "summary": "Reverse geocode",
        "description": "Convert a geographic point (latitude/longitude) to a complete address or place name.",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "description": "The point from which to search for the closest address. Format: x,y (longitude,latitude).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "outSR",
            "in": "query",
            "description": "The spatial reference of the output geometry (WKID).",
            "schema": {
              "type": "integer",
              "default": 4326
            }
          },
          {
            "name": "langCode",
            "in": "query",
            "description": "The language code for the results (e.g., en, fr, de).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "featureTypes",
            "in": "query",
            "description": "Comma-separated list of feature types to filter results (e.g., StreetAddress, POI).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationType",
            "in": "query",
            "description": "The type of location (rooftop or street).",
            "schema": {
              "type": "string",
              "enum": [
                "rooftop",
                "street"
              ]
            }
          },
          {
            "name": "f",
            "in": "query",
            "description": "The response format.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pjson"
              ],
              "default": "json"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful reverse geocoding response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseGeocodeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/suggest": {
      "get": {
        "operationId": "suggest",
        "summary": "Suggest addresses and places",
        "description": "Use incomplete text to get place name and address suggestions (autocomplete).",
        "tags": [
          "Geocoding"
        ],
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "description": "The input text to get suggestions for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "A point (x,y) to prioritize suggestions near a location.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "searchExtent",
            "in": "query",
            "description": "Bounding box to limit the suggestion area.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Comma-separated list of place or address types to filter results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country code to limit results (ISO 3166-1 alpha-2 or alpha-3).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxSuggestions",
            "in": "query",
            "description": "The maximum number of suggestions to return. Default is 5.",
            "schema": {
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "f",
            "in": "query",
            "description": "The response format.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pjson"
              ],
              "default": "json"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful suggestions response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/geocodeAddresses": {
      "post": {
        "operationId": "geocodeAddresses",
        "summary": "Batch geocode addresses",
        "description": "Convert a list of addresses or place names to a set of complete addresses with locations (batch geocoding).",
        "tags": [
          "Geocoding"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GeocodeAddressesRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "f",
            "in": "query",
            "description": "The response format.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pjson"
              ],
              "default": "json"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "The authentication token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful batch geocoding response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeocodeAddressesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FindAddressCandidatesResponse": {
        "type": "object",
        "properties": {
          "spatialReference": {
            "$ref": "#/components/schemas/SpatialReference"
          },
          "candidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressCandidate"
            }
          }
        }
      },
      "AddressCandidate": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The complete matched address."
          },
          "location": {
            "$ref": "#/components/schemas/Point"
          },
          "score": {
            "type": "number",
            "description": "The match score (0-100)."
          },
          "attributes": {
            "type": "object",
            "description": "Additional attributes about the candidate.",
            "additionalProperties": true
          },
          "extent": {
            "$ref": "#/components/schemas/Extent"
          }
        }
      },
      "ReverseGeocodeResponse": {
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/ReverseGeocodeAddress"
          },
          "location": {
            "$ref": "#/components/schemas/Point"
          }
        }
      },
      "ReverseGeocodeAddress": {
        "type": "object",
        "properties": {
          "Match_addr": {
            "type": "string",
            "description": "The matched address."
          },
          "LongLabel": {
            "type": "string",
            "description": "The full address label."
          },
          "ShortLabel": {
            "type": "string",
            "description": "A short address label."
          },
          "Addr_type": {
            "type": "string",
            "description": "The type of address match."
          },
          "Type": {
            "type": "string"
          },
          "PlaceName": {
            "type": "string"
          },
          "AddNum": {
            "type": "string"
          },
          "Address": {
            "type": "string"
          },
          "City": {
            "type": "string"
          },
          "Region": {
            "type": "string"
          },
          "Postal": {
            "type": "string"
          },
          "CountryCode": {
            "type": "string"
          }
        }
      },
      "SuggestResponse": {
        "type": "object",
        "properties": {
          "suggestions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Suggestion"
            }
          }
        }
      },
      "Suggestion": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "The suggested address or place name."
          },
          "magicKey": {
            "type": "string",
            "description": "A unique key used with findAddressCandidates to retrieve the full result."
          },
          "isCollection": {
            "type": "boolean",
            "description": "Indicates if the suggestion represents a collection of results."
          }
        }
      },
      "GeocodeAddressesRequest": {
        "type": "object",
        "required": [
          "addresses"
        ],
        "properties": {
          "addresses": {
            "type": "string",
            "description": "JSON object containing address records to geocode. Each record should have OBJECTID and address fields."
          },
          "category": {
            "type": "string",
            "description": "Comma-separated list of place or address types to filter results."
          }
        }
      },
      "GeocodeAddressesResponse": {
        "type": "object",
        "properties": {
          "spatialReference": {
            "$ref": "#/components/schemas/SpatialReference"
          },
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeocodeLocation"
            }
          }
        }
      },
      "GeocodeLocation": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/Point"
          },
          "score": {
            "type": "number"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Point": {
        "type": "object",
        "properties": {
          "x": {
            "type": "number",
            "description": "Longitude."
          },
          "y": {
            "type": "number",
            "description": "Latitude."
          }
        }
      },
      "Extent": {
        "type": "object",
        "properties": {
          "xmin": {
            "type": "number"
          },
          "ymin": {
            "type": "number"
          },
          "xmax": {
            "type": "number"
          },
          "ymax": {
            "type": "number"
          }
        }
      },
      "SpatialReference": {
        "type": "object",
        "properties": {
          "wkid": {
            "type": "integer",
            "description": "The well-known ID of the spatial reference."
          },
          "latestWkid": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "description": "The error code."
              },
              "message": {
                "type": "string",
                "description": "The error message."
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Additional error details."
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "ArcGIS API token obtained via OAuth 2.0 or API key generation."
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ]
}