{
  "openapi": "3.0.3",
  "info": {
    "title": "Springer Nature API",
    "version": "1.0.0",
    "description": "Springer Nature Developer API providing access to metadata, open access content, and full text for over 16 million scholarly documents.",
    "x-jentic-source-url": "https://dev.springernature.com"
  },
  "servers": [
    {
      "url": "https://api.springernature.com",
      "description": "Springer Nature API production server"
    }
  ],
  "paths": {
    "/openaccess/json": {
      "get": {
        "operationId": "searchOpenAccessJson",
        "summary": "Search open access articles (JSON)",
        "description": "Retrieve metadata for open access articles in JSON format.",
        "tags": [
          "Open Access"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API key"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "s",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start position"
          },
          {
            "name": "p",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page length"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/openaccess/jats": {
      "get": {
        "operationId": "searchOpenAccessJats",
        "summary": "Search open access articles (JATS XML)",
        "description": "Access full-text content for open access articles in JATS XML format.",
        "tags": [
          "Open Access"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "p",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JATS XML content",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/meta/v1/json": {
      "get": {
        "operationId": "searchMetaV1",
        "summary": "Search metadata (v1)",
        "description": "Retrieve essential metadata from over 16 million documents.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "s",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start position"
          },
          {
            "name": "p",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page length"
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/meta/v2/json": {
      "get": {
        "operationId": "searchMetaV2",
        "summary": "Search metadata (v2)",
        "description": "Enhanced metadata endpoint with additional fields and optimized queries.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "s",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Start position"
          },
          {
            "name": "p",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page length"
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/metadata/v1/articles": {
      "get": {
        "operationId": "searchMetadataArticles",
        "summary": "Search articles metadata",
        "description": "Retrieve foundational metadata for documents including journal articles, book chapters, and protocols.",
        "tags": [
          "Metadata"
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query (e.g., doi=VALUE, keyword=test)"
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Pagination start position"
          },
          {
            "name": "pageLength",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of records per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Article metadata results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "Springer Nature API key"
      }
    },
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "apiMessage": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "properties": {
              "total": {
                "type": "string"
              },
              "start": {
                "type": "string"
              },
              "pageLength": {
                "type": "string"
              },
              "recordsDisplayed": {
                "type": "string"
              }
            }
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "doi": {
            "type": "string"
          },
          "creators": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "creator": {
                  "type": "string"
                }
              }
            }
          },
          "publicationName": {
            "type": "string"
          },
          "publicationDate": {
            "type": "string"
          },
          "isbn": {
            "type": "string"
          },
          "issn": {
            "type": "string"
          },
          "volume": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "startingPage": {
            "type": "string"
          },
          "endingPage": {
            "type": "string"
          },
          "openaccess": {
            "type": "string"
          },
          "url": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "format": {
                  "type": "string"
                },
                "platform": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}