{
  "swagger": "2.0",
  "info": {
    "title": "Abitari Housekeeping Integration API",
    "description": "Abitari Housekeeping Integration API",
    "version": "0.1.0",
    "contact": {
      "email": "eloi@abitari.com"
    },
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/EloiHernandezTarrago/abitari-housekeeping_integration_api/0.1.0/swagger.json"
  },
  "host": "api.abitari.com",
  "schemes": [
    "https"
  ],
  "basePath": "/api",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/interface": {
      "post": {
        "summary": "Register a new interface",
        "description": "Request access for a new interface connection, for which Abitari will\nprovide a username and password.\n",
        "tags": [
          "Configuration (External system to Abitari)"
        ],
        "parameters": [
          {
            "name": "integration",
            "in": "body",
            "description": "Integration request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/IntegrationResponse"
            }
          },
          "401": {
            "description": "Unauthorized -> Invalid APIKey",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-interface"
      }
    },
    "/rest-auth/login": {
      "post": {
        "summary": "Login",
        "description": "Obtain a session token.\n",
        "tags": [
          "Configuration (External system to Abitari)"
        ],
        "parameters": [
          {
            "name": "login",
            "in": "body",
            "description": "Login request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-rest-auth-login"
      }
    },
    "/webhook": {
      "post": {
        "summary": "Subscribe to a new webhook",
        "description": "Subscribe to a new webhook with details sent in body. When a webhook is created, it provides a way for your application to be notified when some event occurs. For example, if you are subscribed to room, then each time a room is update in Abitari, a POST request will be sent to your specified url with a RoomResponse body. Available event notifications are\n  - room (RoomResponse)\n  - roomrepair (RoomRepairResponse)\n",
        "parameters": [
          {
            "name": "webhook",
            "in": "body",
            "description": "Webhook request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            }
          }
        ],
        "tags": [
          "Configuration (External system to Abitari)"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/WebhookResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-webhook"
      },
      "delete": {
        "summary": "Unsubscribe from an existing webhook",
        "description": "Unsubscribe from an existing webhook\n",
        "parameters": [
          {
            "name": "id",
            "in": "body",
            "description": "Existing webhook unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Configuration (External system to Abitari)"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "delete-webhook"
      }
    },
    "/resort": {
      "put": {
        "summary": "Update a resort",
        "description": "Update a resort profile with all information relative to the resort name, stars, etc.\n",
        "tags": [
          "Configuration (External system to Abitari)",
          "Messaging"
        ],
        "parameters": [
          {
            "name": "resort",
            "in": "body",
            "description": "Resort request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResortRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResortResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "put-resort"
      }
    },
    "/guest": {
      "post": {
        "summary": "Create a guest profile",
        "description": "Create a guest profile with all information relative to a guest,\nincluding identification, preferences, and other data.\n",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "guest",
            "in": "body",
            "description": "Guest request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuestRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GuestResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-guest"
      },
      "put": {
        "summary": "Update a guest profile",
        "description": "Update a guest profile with all information relative to a guest,\nincluding preferences, and other data.\n",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "guest",
            "in": "body",
            "description": "Guest request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GuestResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "put-guest"
      }
    },
    "/reservation": {
      "post": {
        "summary": "Create a resevation",
        "description": "Create a guest reservation.\n",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "reservation",
            "in": "body",
            "description": "Reservation request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReservationRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ReservationResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-reservation"
      },
      "put": {
        "summary": "Update a guest reservation",
        "description": "Update a guest reservation.\n",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "reservation",
            "in": "body",
            "description": "Reservation request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReservationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReservationResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "put-reservation"
      }
    },
    "/room": {
      "post": {
        "summary": "Create a room",
        "description": "Create a room of a property.\n",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "room",
            "in": "body",
            "description": "Room request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoomRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/RoomResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-room"
      },
      "put": {
        "summary": "Update a room",
        "description": "Update a room of a property.\n",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "guest",
            "in": "body",
            "description": "Room request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoomRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoomResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "put-room"
      }
    },
    "/roomrepair": {
      "post": {
        "summary": "Create a room repair",
        "description": "Create a room repair in a room.\n",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "roomrepair",
            "in": "body",
            "description": "Room repair request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoomRepairRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/RoomRepairResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-roomrepair"
      },
      "put": {
        "summary": "Update a room repair in a room",
        "description": "Update a room repair in a room.\n",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "room",
            "in": "body",
            "description": "Room repair request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoomRepairRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoomRepairResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "put-roomrepair"
      }
    },
    "/lostandfound": {
      "post": {
        "summary": "Create a lost and found object issue.",
        "description": "Create a lost and found object issue in a room.\n",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "lostandfound",
            "in": "body",
            "description": "Lost and found request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LostAndFoundRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/LostAndFoundResponse"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "post-lostandfound"
      },
      "put": {
        "summary": "Update a lost and found object issue",
        "description": "Update a lost and found object issue in a room.\n",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "lostandfound",
            "in": "body",
            "description": "Lost and found object request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LostAndFoundRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LostAndFoundResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "operationId": "put-lostandfound"
      }
    }
  },
  "definitions": {
    "ResortRequest": {
      "type": "object",
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing the resort."
        },
        "name": {
          "type": "string",
          "description": "Name of the resort."
        },
        "stars": {
          "type": "integer",
          "description": "Number of stars."
        },
        "change_of_sheets_days": {
          "type": "integer",
          "description": "Number of days after which sheets must be changed in a stay over room. Default is 2."
        },
        "inspection_enabled": {
          "type": "boolean",
          "description": "True if rooms are inspected before becoming ready, False if there is no supervision. Default is True."
        },
        "minibar_enabled": {
          "type": "boolean",
          "description": "True if minibar consumptions must be tracked with the app by room attendants."
        },
        "reception_email": {
          "type": "string",
          "description": "The email of the receptionist account."
        },
        "maintenance_email": {
          "type": "string",
          "description": "The email that maintenance issues will be sent to."
        }
      }
    },
    "ResortResponse": {
      "type": "object",
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing the resort."
        },
        "name": {
          "type": "string",
          "description": "Name of the resort."
        },
        "stars": {
          "type": "integer",
          "description": "Number of stars."
        },
        "change_of_sheets_days": {
          "type": "integer",
          "description": "Number of days after which sheets must be changed in a stay over room. Default is 2."
        },
        "inspection_enabled": {
          "type": "boolean",
          "description": "True if rooms are inspected before becoming ready, False if there is no supervision. Default is True."
        },
        "minibar_enabled": {
          "type": "boolean",
          "description": "True if minibar consumptions must be tracked with the app by room attendants."
        },
        "reception_email": {
          "type": "string",
          "description": "The email of the receptionist account."
        },
        "maintenance_email": {
          "type": "string",
          "description": "The email that maintenance issues will be sent to."
        }
      }
    },
    "IntegrationRequest": {
      "type": "object",
      "required": [
        "username",
        "api_key",
        "url_auth",
        "url_resync"
      ],
      "properties": {
        "username": {
          "type": "string",
          "description": "Username to be used to access to the external system."
        },
        "api_key": {
          "type": "string",
          "description": "Provided api key for the external system. Contact api@abitari.com to get one."
        },
        "url_auth": {
          "type": "string",
          "description": "Url to which Abitari will POST a login request with the provided username and the password entered by the user."
        },
        "url_resync": {
          "type": "string",
          "description": "Url to wich Abitari will POST a resync request so the external system knows it has to resend all the information (i.e. send the status of each room, etc). Triggered automatically the first time the user uses Abitari and by manual request he can perform in the app."
        }
      }
    },
    "IntegrationResponse": {
      "type": "object",
      "required": [
        "username",
        "password"
      ],
      "properties": {
        "username": {
          "type": "string",
          "description": "Username that the external system must use in order to perform a login in Abitari."
        },
        "password": {
          "type": "string",
          "description": "The password that the external system must user in order to perform a login in Abitari."
        }
      }
    },
    "LoginRequest": {
      "type": "object",
      "required": [
        "username",
        "password"
      ],
      "properties": {
        "username": {
          "type": "string",
          "description": "Username that the external system must use in order to perform a login in Abitari. Provided in POST /integration."
        },
        "password": {
          "type": "string",
          "description": "The password that the external system must user in order to perform a login in Abitari. Provided in POST /integration."
        }
      }
    },
    "LoginResponse": {
      "type": "object",
      "required": [
        "token"
      ],
      "properties": {
        "token": {
          "type": "string",
          "description": "Access token to be set in the header of Messaging requests (Authorization, Token k23j\u00f1dflakj21lk3j...)."
        }
      }
    },
    "GuestRequest": {
      "type": "object",
      "required": [
        "id",
        "first_name",
        "last_name",
        "family_name",
        "age_code"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing a specific guest."
        },
        "first_name": {
          "type": "string",
          "description": "Guest first name."
        },
        "last_name": {
          "type": "string",
          "description": "Guest last name."
        },
        "family_name": {
          "type": "string",
          "description": "Guest family name (usually same as last name)."
        },
        "age_code": {
          "$ref": "#/definitions/AgeCodeType"
        },
        "phone_number": {
          "type": "string",
          "description": "Guest phone number"
        },
        "vip": {
          "type": "boolean",
          "description": "Guest vip status"
        },
        "preferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GuestPreferenceType"
          }
        }
      }
    },
    "GuestResponse": {
      "type": "object",
      "required": [
        "id",
        "first_name",
        "last_name",
        "family_name",
        "age_code"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing a specific guest."
        },
        "first_name": {
          "type": "string",
          "description": "Guest first name."
        },
        "last_name": {
          "type": "string",
          "description": "Guest last name."
        },
        "family_name": {
          "type": "string",
          "description": "Guest family name (usually same as last name)."
        },
        "age_code": {
          "$ref": "#/definitions/AgeCodeType"
        },
        "vip": {
          "type": "boolean",
          "description": "Guest vip status"
        },
        "preferences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GuestPreferenceType"
          }
        }
      }
    },
    "ReservationRequest": {
      "type": "object",
      "required": [
        "id",
        "guest_id",
        "room_id",
        "arrival_date",
        "departure_date",
        "status"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing a specific reservation."
        },
        "guest_id": {
          "type": "string",
          "description": "Unique identifier representing the guest profile."
        },
        "room_id": {
          "type": "string",
          "description": "Unique identifier representing the reserved room."
        },
        "arrival_date": {
          "type": "string",
          "format": "dateTime",
          "description": "Arrival date of the guest. [https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14]"
        },
        "departure_date": {
          "type": "string",
          "format": "dateTime",
          "description": "Departure date of the guest. [https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14]"
        },
        "guest_comment": {
          "type": "string",
          "description": "Message that must be displayed to the cleaner (additional bed required, etc)"
        },
        "status": {
          "$ref": "#/definitions/ReservationStatusType"
        },
        "guest": {
          "$ref": "#/definitions/GuestRequest"
        },
        "room": {
          "$ref": "#/definitions/RoomRequest"
        },
        "transportation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransportationType"
          }
        },
        "accompany_guests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GuestRequest"
          }
        },
        "guest_counts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GuestCountType"
          }
        }
      }
    },
    "ReservationResponse": {
      "type": "object",
      "required": [
        "id",
        "guest_id",
        "room_id",
        "arrival_date",
        "departure_date",
        "status"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing a specific reservation."
        },
        "guest_id": {
          "type": "string",
          "description": "Unique identifier representing the guest profile."
        },
        "room_id": {
          "type": "string",
          "description": "Unique identifier representing the reserved room."
        },
        "arrival_date": {
          "type": "string",
          "format": "dateTime",
          "description": "Arrival date of the guest. [https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14]"
        },
        "departure_date": {
          "type": "string",
          "format": "dateTime",
          "description": "Departure date of the guest. [https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14]"
        },
        "guest_comment": {
          "type": "string",
          "description": "Message that must be displayed to the cleaner (additional bed required, etc)"
        },
        "status": {
          "$ref": "#/definitions/ReservationStatusType"
        },
        "guest": {
          "$ref": "#/definitions/GuestResponse"
        },
        "room": {
          "$ref": "#/definitions/RoomResponse"
        },
        "transportation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransportationType"
          }
        },
        "accompany_guests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GuestResponse"
          }
        },
        "guest_counts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GuestCountType"
          }
        }
      }
    },
    "RoomRequest": {
      "type": "object",
      "required": [
        "id",
        "property_id",
        "number"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing a specific room."
        },
        "property_id": {
          "type": "string",
          "description": "Unique identifier representing the property of the room."
        },
        "number": {
          "type": "string",
          "description": "Room number."
        },
        "out_of_order": {
          "type": "boolean",
          "description": "Room Out Of Order."
        },
        "out_of_service": {
          "type": "boolean",
          "description": "Room Out Of service."
        },
        "front_office_status": {
          "$ref": "#/definitions/RoomFrontOfficeStatusType"
        },
        "clean_status": {
          "$ref": "#/definitions/RoomCleanStatusType"
        },
        "room_types": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RoomResponse": {
      "type": "object",
      "required": [
        "id",
        "property_id",
        "number"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing a specific room."
        },
        "property_id": {
          "type": "string",
          "description": "Unique identifier representing the property of the room."
        },
        "number": {
          "type": "string",
          "description": "Room number."
        },
        "out_of_order": {
          "type": "boolean",
          "description": "Room Out Of Order."
        },
        "out_of_service": {
          "type": "boolean",
          "description": "Room Out Of service."
        },
        "front_office_status": {
          "$ref": "#/definitions/RoomFrontOfficeStatusType"
        },
        "clean_status": {
          "$ref": "#/definitions/RoomCleanStatusType"
        },
        "room_types": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RoomRepairRequest": {
      "type": "object",
      "required": [
        "id",
        "room_id",
        "reason"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing a specific room repair."
        },
        "room_id": {
          "type": "string",
          "description": "Unique identifier representing the room to be repaired."
        },
        "start_date": {
          "type": "string",
          "format": "dateTime",
          "description": "Date in which the room repair has initiated."
        },
        "end_date": {
          "type": "string",
          "format": "dateTime",
          "description": "Date in which the room repair has finished."
        },
        "reason": {
          "type": "string",
          "description": "Reason of the room repair."
        },
        "repair_status": {
          "$ref": "#/definitions/RoomRepairStatusType"
        },
        "room_status": {
          "$ref": "#/definitions/RoomRepairRoomStatusType"
        }
      }
    },
    "RoomRepairResponse": {
      "type": "object",
      "required": [
        "id",
        "room_id",
        "reason"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing a specific room repair."
        },
        "room_id": {
          "type": "string",
          "description": "Unique identifier representing the room to be repaired."
        },
        "start_date": {
          "type": "string",
          "format": "dateTime",
          "description": "Date in which the room repair has initiated."
        },
        "end_date": {
          "type": "string",
          "format": "dateTime",
          "description": "Date in which the room repair has finished."
        },
        "reason": {
          "type": "string",
          "description": "Reason of the room repair."
        },
        "repair_status": {
          "$ref": "#/definitions/RoomRepairStatusType"
        },
        "room_status": {
          "$ref": "#/definitions/RoomRepairRoomStatusType"
        }
      }
    },
    "LostAndFoundRequest": {
      "type": "object",
      "required": [
        "id",
        "room_id",
        "object_description"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing a specific lost and found object."
        },
        "room_id": {
          "type": "string",
          "description": "Unique identifier representing the specific room where the object has been found."
        },
        "object_description": {
          "type": "string",
          "description": "Description of the lost and found object."
        },
        "status": {
          "$ref": "#/definitions/LostAndFoundStatusType"
        }
      }
    },
    "LostAndFoundResponse": {
      "type": "object",
      "required": [
        "id",
        "room_id",
        "object_description",
        "status"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing a specific lost and found object."
        },
        "room_id": {
          "type": "string",
          "description": "Unique identifier representing the specific room where the object has been found."
        },
        "object_description": {
          "type": "string",
          "description": "Description of the lost and found object."
        },
        "status": {
          "$ref": "#/definitions/LostAndFoundStatusType"
        }
      }
    },
    "WebhookRequest": {
      "type": "object",
      "required": [
        "event",
        "target_url"
      ],
      "properties": {
        "event": {
          "type": "string",
          "description": "Event that triggers the notification (typicaly resource.action, for example room.update."
        },
        "target_url": {
          "type": "string",
          "description": "Consumer endpoint that processes the notification."
        }
      }
    },
    "WebhookResponse": {
      "type": "object",
      "required": [
        "id",
        "event",
        "target_url"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier representing a webhook."
        },
        "event": {
          "type": "string",
          "description": "Event that triggers the notification (typicaly resource.action, for example room.update."
        },
        "target_url": {
          "type": "string",
          "description": "Consumer endpoint that processes the notification."
        }
      }
    },
    "GuestPreferenceType": {
      "type": "object",
      "required": [
        "name",
        "value"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Guest preference name.",
          "enum": [
            "newspaper",
            "drink",
            "menu"
          ]
        },
        "value": {
          "type": "string",
          "description": "Guest preference value."
        }
      }
    },
    "TransportationType": {
      "type": "object",
      "required": [
        "direction",
        "transport_date",
        "transport_type"
      ],
      "properties": {
        "direction": {
          "type": "string",
          "description": "Arrival or departure direction.",
          "enum": [
            "arrival",
            "departure"
          ]
        },
        "transport_date": {
          "type": "string",
          "description": "Date of transportation [https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14]",
          "format": "dateTime"
        },
        "transport_type": {
          "type": "string",
          "enum": [
            "air",
            "water",
            "ground"
          ]
        }
      }
    },
    "GuestCountType": {
      "type": "object",
      "required": [
        "age_code",
        "count"
      ],
      "properties": {
        "age_code": {
          "$ref": "#/definitions/AgeCodeType"
        },
        "count": {
          "type": "integer"
        }
      }
    },
    "AgeCodeType": {
      "type": "string",
      "enum": [
        "adult",
        "child",
        "baby"
      ]
    },
    "RoomFrontOfficeStatusType": {
      "type": "string",
      "enum": [
        "vacant",
        "occupied"
      ]
    },
    "RoomCleanStatusType": {
      "type": "string",
      "enum": [
        "clean",
        "dirty",
        "pickup",
        "inspected"
      ]
    },
    "RoomRepairStatusType": {
      "type": "string",
      "description": "Status of the room repair.",
      "enum": [
        "reported",
        "repaired"
      ]
    },
    "RoomRepairRoomStatusType": {
      "type": "string",
      "description": "Status of OOO/OOS that the room has to change to during the repair.",
      "enum": [
        "OutOfOrder",
        "OutOfService"
      ]
    },
    "ReservationStatusType": {
      "type": "string",
      "description": "Reservation status.",
      "enum": [
        "cancelled",
        "checked_in",
        "checked_out",
        "reserved"
      ]
    },
    "LostAndFoundStatusType": {
      "type": "string",
      "description": "Lost and found object claiming status.",
      "enum": [
        "claimed",
        "not_claimed"
      ]
    },
    "Error": {
      "type": "object",
      "required": [
        "code"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "fields": {
          "type": "string"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Configuration (External system to Abitari)"
    },
    {
      "name": "Messaging"
    }
  ]
}
