{
  "openapi": "3.0.3",
  "info": {
    "title": "IDWise API",
    "description": "IDWise API for identity verification including document verification, facial biometrics, proof of address, and AML screening",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.idwise.com",
      "description": "EU (Default)"
    },
    {
      "url": "https://api-uae.idwise.com",
      "description": "UAE"
    },
    {
      "url": "https://api-qat.idwise.com",
      "description": "Qatar"
    }
  ],
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic HTTP authentication"
      }
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "paths": {
    "/v2/get/{JOURNEY_ID}": {
      "get": {
        "summary": "Retrieve verification results",
        "description": "Retrieves final verification results for a journey including status (Approved, Refer, Rejected), extracted document fields, and liveness verification",
        "parameters": [
          {
            "name": "JOURNEY_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Journey identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification results retrieved successfully"
          },
          "404": {
            "description": "Journey not found"
          }
        }
      }
    },
    "/image/{IMAGE_PATH}": {
      "get": {
        "summary": "Retrieve captured images",
        "description": "Retrieves images captured during verification journey",
        "parameters": [
          {
            "name": "IMAGE_PATH",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Image path identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Image retrieved successfully",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/video/{VIDEO_PATH}": {
      "get": {
        "summary": "Retrieve recorded videos",
        "description": "Retrieves videos recorded during verification journey",
        "parameters": [
          {
            "name": "VIDEO_PATH",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Video path identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Video retrieved successfully",
            "content": {
              "video/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/v2/spot-checks/{journey_id}": {
      "get": {
        "summary": "Get spot check results",
        "description": "Obtains spot check verification results for a journey",
        "parameters": [
          {
            "name": "journey_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Spot check results retrieved"
          }
        }
      }
    },
    "/v2/start-journey": {
      "post": {
        "summary": "Start verification journey",
        "description": "Initiates a new verification journey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "journey_definition_id": {
                    "type": "string",
                    "description": "Journey definition identifier"
                  },
                  "reference_no": {
                    "type": "string",
                    "description": "Client reference number"
                  },
                  "locale": {
                    "type": "string",
                    "description": "Language locale"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Journey started successfully"
          }
        }
      }
    },
    "/v2/process-journey-step": {
      "post": {
        "summary": "Process journey step",
        "description": "Processes government database checks and journey steps",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Journey step processed"
          }
        }
      }
    },
    "/v2/complete-journey": {
      "post": {
        "summary": "Complete journey",
        "description": "Marks journey submissions as completed",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "journey_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Journey completed successfully"
          }
        }
      }
    },
    "/v2/summary/{JOURNEY_ID}": {
      "get": {
        "summary": "Get journey summary",
        "description": "Retrieves journey progress summary",
        "parameters": [
          {
            "name": "JOURNEY_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Journey summary retrieved"
          }
        }
      }
    },
    "/v2/verification-links": {
      "post": {
        "summary": "Create verification link",
        "description": "Creates shareable verification links",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Verification link created"
          }
        }
      }
    },
    "/delete/{JOURNEY_ID}": {
      "delete": {
        "summary": "Delete journey",
        "description": "Removes a journey record",
        "parameters": [
          {
            "name": "JOURNEY_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Journey deleted successfully"
          }
        }
      }
    },
    "/v2/manual-review/{JOURNEY_ID}": {
      "post": {
        "summary": "Submit manual review",
        "description": "Submits manual review decisions for a journey",
        "parameters": [
          {
            "name": "JOURNEY_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Manual review submitted"
          }
        }
      }
    },
    "/audit-logs": {
      "get": {
        "summary": "Access audit logs",
        "description": "Retrieves journey activity logs",
        "responses": {
          "200": {
            "description": "Audit logs retrieved"
          }
        }
      }
    },
    "/v2/generate-client-token": {
      "post": {
        "summary": "Generate client token",
        "description": "Creates authentication tokens for client applications",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client token generated"
          }
        }
      }
    }
  }
}
