{
  "openapi": "3.0.3",
  "info": {
    "title": "IP Geolocation API",
    "version": "1.0.0",
    "description": "Free IP geolocation API by ipwho.is. Provides IP address geolocation data including country, city, coordinates, timezone, ISP, and connection information. No API key required for basic usage.",
    "x-jentic-source-url": "https://ipwho.is/"
  },
  "servers": [
    {
      "url": "https://ipwho.is",
      "description": "ipwho.is API server"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "lookupOwnIp",
        "summary": "Lookup your own IP",
        "description": "Returns geolocation data for the requesting IP address.",
        "tags": [
          "IP Geolocation"
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpGeolocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Rate limit exceeded or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{ip}": {
      "get": {
        "operationId": "lookupIp",
        "summary": "Lookup a specific IP address",
        "description": "Returns geolocation data for the specified IP address.",
        "tags": [
          "IP Geolocation"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IPv4 or IPv6 address to lookup"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to include in response"
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml",
                "csv",
                "yaml"
              ]
            },
            "description": "Response output format"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language for response (e.g., en, de, fr)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful geolocation lookup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpGeolocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid IP address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Rate limit exceeded or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{ip1},{ip2}": {
      "get": {
        "operationId": "batchLookupIps",
        "summary": "Batch lookup multiple IPs",
        "description": "Returns geolocation data for multiple comma-separated IP addresses.",
        "tags": [
          "IP Geolocation"
        ],
        "parameters": [
          {
            "name": "ip1",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "First IP address"
          },
          {
            "name": "ip2",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Additional comma-separated IP addresses"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch geolocation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IpGeolocationResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Rate limit exceeded or unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IpGeolocationResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "Queried IP address"
          },
          "success": {
            "type": "boolean",
            "description": "Whether the lookup was successful"
          },
          "type": {
            "type": "string",
            "description": "IP version (IPv4 or IPv6)"
          },
          "continent": {
            "type": "string"
          },
          "continent_code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "region_code": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "postal": {
            "type": "string"
          },
          "calling_code": {
            "type": "string"
          },
          "capital": {
            "type": "string"
          },
          "borders": {
            "type": "string"
          },
          "flag": {
            "$ref": "#/components/schemas/Flag"
          },
          "connection": {
            "$ref": "#/components/schemas/Connection"
          },
          "timezone": {
            "$ref": "#/components/schemas/Timezone"
          }
        }
      },
      "Flag": {
        "type": "object",
        "properties": {
          "img": {
            "type": "string"
          },
          "emoji": {
            "type": "string"
          },
          "emoji_unicode": {
            "type": "string"
          }
        }
      },
      "Connection": {
        "type": "object",
        "properties": {
          "asn": {
            "type": "integer"
          },
          "org": {
            "type": "string"
          },
          "isp": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          }
        }
      },
      "Timezone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "abbr": {
            "type": "string"
          },
          "is_dst": {
            "type": "boolean"
          },
          "offset": {
            "type": "integer"
          },
          "utc": {
            "type": "string"
          },
          "current_time": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "security": []
}