{
  "openapi": "3.0.3",
  "info": {
    "title": "GoBiz Open API",
    "version": "1.0.0",
    "description": "GoBiz Open API for GoFood integration, QRIS payments, promotions, and outlet management.",
    "x-jentic-source-url": "https://app.gobiz.com/files/static/cpp/docs/index.html",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.gobiz.co.id"
    }
  ],
  "paths": {
    "/integrations/gofood/outlets/{outlet_id}/v2/catalog": {
      "get": {
        "operationId": "getCatalog",
        "summary": "Get catalog",
        "description": "Retrieve menu and variant categories for outlet.",
        "tags": [
          "Food"
        ],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/gofood/outlets/{outlet_id}/v1/catalog": {
      "put": {
        "operationId": "updateCatalog",
        "summary": "Update catalog",
        "description": "Sync or overwrite menu for outlet.",
        "tags": [
          "Food"
        ],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/gofood/outlets/{outlet_id}/v2/menu_item_stocks": {
      "patch": {
        "operationId": "updateMenuItemStocks",
        "summary": "Update menu item stocks",
        "tags": [
          "Food"
        ],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "external_id": {
                          "type": "string"
                        },
                        "in_stock": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update menu item stocks"
      }
    },
    "/integrations/gofood/outlets/{outlet_id}/v2/variant_stocks": {
      "patch": {
        "operationId": "updateVariantStocks",
        "summary": "Update variant stocks",
        "tags": [
          "Food"
        ],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update variant stocks"
      }
    },
    "/integrations/gofood/outlets/{outlet_id}/v1/orders/{order_type}/{order_number}/food-prepared": {
      "put": {
        "operationId": "markFoodReady",
        "summary": "Mark food ready",
        "tags": [
          "Food"
        ],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "delivery",
                "pickup"
              ]
            }
          },
          {
            "name": "order_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Mark food ready"
      }
    },
    "/integrations/gofood/outlets/{outlet_id}/v1/properties": {
      "patch": {
        "operationId": "updateOutletProperties",
        "summary": "Open/close outlet",
        "tags": [
          "Outlet"
        ],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force_close": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Open/close outlet"
      }
    },
    "/integrations/partner/v1/notification-subscriptions": {
      "post": {
        "operationId": "createNotificationSub",
        "summary": "Create notification subscription",
        "tags": [
          "Notifications"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSubResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create notification subscription"
      }
    },
    "/integrations/partner/notifications": {
      "get": {
        "operationId": "getNotifications",
        "summary": "Get notification details",
        "tags": [
          "Notifications"
        ],
        "parameters": [
          {
            "name": "entity_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get notification details"
      }
    },
    "/integrations/promo/outlets/{outlet_id}/v1/food-promos": {
      "post": {
        "operationId": "createPromo",
        "summary": "Create SKU promo",
        "tags": [
          "Promotions"
        ],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create SKU promo"
      },
      "get": {
        "operationId": "listPromos",
        "summary": "List promotions",
        "tags": [
          "Promotions"
        ],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromoListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "List promotions"
      }
    },
    "/integrations/promo/outlets/{outlet_id}/v1/food-promos/{promotion_id}": {
      "get": {
        "operationId": "getPromo",
        "summary": "Get promo detail",
        "tags": [
          "Promotions"
        ],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "promotion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromoDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get promo detail"
      }
    },
    "/integrations/payment/outlets/{outlet_id}/v2/transactions": {
      "post": {
        "operationId": "createTransaction",
        "summary": "Create QRIS transaction",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Create QRIS transaction"
      }
    },
    "/integrations/payment/outlets/{outlet_id}/v1/transactions/{transaction_id}": {
      "get": {
        "operationId": "getTransaction",
        "summary": "Get transaction detail",
        "tags": [
          "Payments"
        ],
        "parameters": [
          {
            "name": "outlet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get transaction detail"
      }
    },
    "/integrations/partner/v1/outlet-link": {
      "put": {
        "operationId": "linkOutlet",
        "summary": "Link outlet",
        "tags": [
          "Outlet"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Link outlet"
      }
    }
  },
  "components": {
    "schemas": {
      "CatalogResponse": {
        "type": "object",
        "properties": {
          "menus": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "variant_categories": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CatalogUpdateRequest": {
        "type": "object",
        "properties": {
          "menus": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "variant_categories": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "NotificationSubResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "event": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NotificationListResponse": {
        "type": "object",
        "properties": {
          "notifications": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PromoRequest": {
        "type": "object",
        "properties": {
          "promo_type": {
            "type": "string"
          },
          "promo_detail": {
            "type": "object"
          }
        }
      },
      "PromoResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "failure": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PromoListResponse": {
        "type": "object",
        "properties": {
          "promotions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "total_count": {
            "type": "integer"
          }
        }
      },
      "PromoDetailResponse": {
        "type": "object",
        "properties": {
          "promotion_id": {
            "type": "string"
          },
          "promo_type": {
            "type": "string"
          },
          "promo_detail": {
            "type": "object"
          }
        }
      },
      "TransactionRequest": {
        "type": "object",
        "properties": {
          "payment_type": {
            "type": "string"
          },
          "transaction_details": {
            "type": "object"
          },
          "item_details": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "customer_details": {
            "type": "object"
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "transaction_id": {
            "type": "string"
          },
          "qris_string": {
            "type": "string"
          },
          "payment_status": {
            "type": "string"
          }
        }
      },
      "GenericResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "request_id": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Food"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Outlet"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Promotions"
    }
  ]
}
