{
    "openapi": "3.0.0",
    "info": {
        "title": "Airport Status Web Service",
        "description": "FAA Airport Status Web Service API",
        "contact": {
            "email": "edai-aero@faa.gov",
            "name": "Airport Status Web Service (ASWS)",
            "url": "http://fly.faa.gov"
        },
        "license": {
            "name": "Creative Commons 0 (CC0)",
            "url": "https://creativecommons.org/publicdomain/zero/1.0/legalcode"
        },
        "version": "1.1.0",
        "x-jentic-source-url": "https://api.swaggerhub.com/apis/FAA/ASWS/1.1.0/swagger.json"
    },
    "tags": [
        {
            "name": "FAA Airport Status Service"
        }
    ],
    "paths": {
        "/api/airport/delays": {
            "get": {
                "tags": [
                    "FAA Airport Status Service"
                ],
                "summary": "Get airport delay summary for major US national airports.",
                "description": "The airport status is retrieved from fly.faa.gov and is provided in a format that can be used by applications that require airport status data.Delays will be returned for the following airports: BOS, LGA, TEB, EWR, JFK, PHL, PIT, IAD, BWI, DCA, RDU, CLT, ATL, MCO, TPA, MCO, FLL, MIA, DTW, CLE, MDW, ORD, IND, CVG, BNA, MEM, STL, MCI, MSP, DFW, IAH, DEN, SLC, PHX, LAS, SAN, LAX, SJC, SFO, PDX, SEA",
                "operationId": "getDelays",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Delays"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Delays"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Airport delays from http://www.fly.faa.gov are unavailable"
                    },
                    "500": {
                        "description": "Airport information from http://www.fly.faa.gov returned an error response"
                    }
                }
            }
        },
        "/api/airport/status/{airportCode}": {
            "get": {
                "tags": [
                    "FAA Airport Status Service"
                ],
                "summary": "Get airport status based on path parameter provided on the API call. The path parameter is an IATA airport code.",
                "description": "The airport status is retrieved from fly.faa.gov and is provided in a format that can be used by applications that require airport status data.Available airports include the following: BOS, LGA, TEB, EWR, JFK, PHL, PIT, IAD, BWI, DCA, RDU, CLT, ATL, MCO, TPA, MCO, FLL, MIA, DTW, CLE, MDW, ORD, IND, CVG, BNA, MEM, STL, MCI, MSP, DFW, IAH, DEN, SLC, PHX, LAS, SAN, LAX, SJC, SFO, PDX, SEA",
                "operationId": "getAirportStatus",
                "parameters": [
                    {
                        "name": "airportCode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AirportStatus"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/AirportStatus"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Delays are available only for major United States airports"
                    }
                }
            }
        }
    },
    "servers": [
        {
            "url": "https://soa.smext.faa.gov/asws"
        }
    ],
    "components": {
        "schemas": {
            "Status": {
                "type": "object",
                "required": [
                    "avgDelay",
                    "closureBegin",
                    "closureEnd",
                    "endTime",
                    "maxDelay",
                    "minDelay",
                    "reason",
                    "trend",
                    "type"
                ],
                "properties": {
                    "type": {
                        "type": "string",
                        "xml": {
                            "name": "Type"
                        }
                    },
                    "reason": {
                        "type": "string",
                        "xml": {
                            "name": "Reason"
                        }
                    },
                    "avgDelay": {
                        "type": "string",
                        "xml": {
                            "name": "AvgDelay"
                        }
                    },
                    "closureEnd": {
                        "type": "string",
                        "xml": {
                            "name": "ClosureEnd"
                        }
                    },
                    "closureBegin": {
                        "type": "string",
                        "xml": {
                            "name": "ClosureBegin"
                        }
                    },
                    "minDelay": {
                        "type": "string",
                        "xml": {
                            "name": "MinDelay"
                        }
                    },
                    "trend": {
                        "type": "string",
                        "xml": {
                            "name": "Trend"
                        }
                    },
                    "maxDelay": {
                        "type": "string",
                        "xml": {
                            "name": "MaxDelay"
                        }
                    },
                    "endTime": {
                        "type": "string",
                        "xml": {
                            "name": "EndTime"
                        }
                    }
                },
                "xml": {
                    "name": "Status"
                }
            },
            "Weather": {
                "type": "object",
                "properties": {
                    "content": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    }
                },
                "xml": {
                    "name": "Weather"
                }
            },
            "GroundDelay": {
                "type": "object",
                "required": [
                    "airport",
                    "avgTime",
                    "reason"
                ],
                "properties": {
                    "airport": {
                        "type": "string",
                        "xml": {
                            "name": "airport"
                        }
                    },
                    "avgTime": {
                        "type": "string",
                        "xml": {
                            "name": "avgTime"
                        }
                    },
                    "reason": {
                        "type": "string",
                        "xml": {
                            "name": "reason"
                        }
                    }
                },
                "xml": {
                    "name": "GroundDelay"
                }
            },
            "GroundStop": {
                "type": "object",
                "required": [
                    "airport",
                    "endTime",
                    "reason"
                ],
                "properties": {
                    "airport": {
                        "type": "string",
                        "xml": {
                            "name": "airport"
                        }
                    },
                    "endTime": {
                        "type": "string",
                        "xml": {
                            "name": "endTime"
                        }
                    },
                    "reason": {
                        "type": "string",
                        "xml": {
                            "name": "reason"
                        }
                    }
                },
                "xml": {
                    "name": "GroundStop"
                }
            },
            "ArriveDepartDelay": {
                "type": "object",
                "required": [
                    "airport",
                    "maxTime",
                    "reason",
                    "minTime"
                ],
                "properties": {
                    "airport": {
                        "type": "string",
                        "xml": {
                            "name": "airport"
                        }
                    },
                    "maxTime": {
                        "type": "string",
                        "xml": {
                            "name": "maxTime"
                        }
                    },
                    "reason": {
                        "type": "string",
                        "xml": {
                            "name": "reason"
                        }
                    },
                    "minTime": {
                        "type": "string",
                        "xml": {
                            "name": "minTime"
                        }
                    }
                },
                "xml": {
                    "name": "ArriveDepartDelay"
                }
            },
            "Closure": {
                "type": "object",
                "required": [
                    "airport",
                    "reason",
                    "reopen"
                ],
                "properties": {
                    "airport": {
                        "type": "string",
                        "xml": {
                            "name": "airport"
                        }
                    },
                    "reason": {
                        "type": "string",
                        "xml": {
                            "name": "reason"
                        }
                    },
                    "reopen": {
                        "type": "string",
                        "xml": {
                            "name": "reopen"
                        }
                    }
                },
                "xml": {
                    "name": "closure"
                }
            },
            "GroundDelays": {
                "type": "object",
                "properties": {
                    "GroundDelay": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GroundDelay"
                        }
                    }
                }
            },
            "GroundStops": {
                "type": "object",
                "properties": {
                    "GroundStop": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GroundStop"
                        }
                    }
                }
            },
            "ArriveDepartDelays": {
                "type": "object",
                "properties": {
                    "ArriveDepartDelay": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ArriveDepartDelay"
                        }
                    }
                }
            },
            "Closures": {
                "type": "object",
                "properties": {
                    "Closure": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Closure"
                        }
                    }
                }
            },
            "Delays": {
                "type": "object",
                "properties": {
                    "GroundDelays": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GroundDelays"
                        }
                    },
                    "GroundStops": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GroundStops"
                        }
                    },
                    "ArriveDepartDelays": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ArriveDepartDelays"
                        }
                    },
                    "Closures": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Closures"
                        }
                    }
                },
                "xml": {
                    "name": "Delays"
                }
            },
            "AirportStatus": {
                "type": "object",
                "required": [
                    "city",
                    "iata",
                    "supportedAirport",
                    "delay",
                    "delayCount",
                    "icao",
                    "name",
                    "state",
                    "weather"
                ],
                "properties": {
                    "name": {
                        "type": "string",
                        "xml": {
                            "name": "Name"
                        }
                    },
                    "city": {
                        "type": "string",
                        "xml": {
                            "name": "City"
                        }
                    },
                    "state": {
                        "type": "string",
                        "xml": {
                            "name": "State"
                        }
                    },
                    "icao": {
                        "type": "string",
                        "xml": {
                            "name": "ICAO"
                        }
                    },
                    "iata": {
                        "type": "string",
                        "xml": {
                            "name": "IATA"
                        }
                    },
                    "supportedAirport": {
                        "type": "boolean",
                        "xml": {
                            "name": "SupportedAirport"
                        }
                    },
                    "delay": {
                        "type": "boolean",
                        "xml": {
                            "name": "Delay"
                        },
                        "default": false
                    },
                    "delayCount": {
                        "type": "integer",
                        "xml": {
                            "name": "DelayCount"
                        },
                        "default": 0
                    },
                    "status": {
                        "type": "array",
                        "xml": {
                            "name": "Status"
                        },
                        "items": {
                            "$ref": "#/components/schemas/Status"
                        }
                    },
                    "weather": {
                        "$ref": "#/components/schemas/Weather"
                    }
                },
                "xml": {
                    "name": "AirportStatus"
                }
            }
        }
    }
}