{
  "openapi": "3.0.3",
  "info": {
    "title": "Routific Engine API",
    "description": "Routific Engine API for vehicle routing optimization, including Vehicle Routing Problem (VRP) and Pickup & Delivery Problem (PDP) solvers with both synchronous and long-running task support.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://docs.routific.com"
  },
  "servers": [
    {
      "url": "https://api.routific.com",
      "description": "Routific API Production"
    }
  ],
  "paths": {
    "/v1/vrp": {
      "post": {
        "operationId": "solvevrp",
        "summary": "Solve Vehicle Routing Problem",
        "description": "Synchronous endpoint to solve a vehicle routing problem. Returns optimized routes. Times out after 20 seconds.",
        "tags": [
          "Vehicle Routing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VrpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Routing solution computed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingSolution"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout - use /v1/vrp-long for larger problems",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/vrp-long": {
      "post": {
        "operationId": "solvevrplongrunning",
        "summary": "Solve VRP as long-running task",
        "description": "Submit a vehicle routing problem as a long-running task. Returns a job ID to poll for results. Supports up to 2,500 visits.",
        "tags": [
          "Vehicle Routing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VrpRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pdp": {
      "post": {
        "operationId": "solvepdp",
        "summary": "Solve Pickup and Delivery Problem",
        "description": "Synchronous endpoint to solve a pickup and delivery routing problem. Times out after 20 seconds.",
        "tags": [
          "Pickup & Delivery"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VrpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDP solution computed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingSolution"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout - use /v1/pdp-long for larger problems",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pdp-long": {
      "post": {
        "operationId": "solvepdplongrunning",
        "summary": "Solve PDP as long-running task",
        "description": "Submit a pickup and delivery problem as a long-running task. Returns a job ID to poll for results.",
        "tags": [
          "Pickup & Delivery"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VrpRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "operationId": "getjobstatus",
        "summary": "Get long-running job status",
        "description": "Poll for the status and results of a long-running routing task.",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "description": "ID of the job to check",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token authentication"
      }
    },
    "schemas": {
      "VrpRequest": {
        "type": "object",
        "required": [
          "visits",
          "fleet"
        ],
        "properties": {
          "visits": {
            "type": "object",
            "description": "Map of visit IDs to visit objects",
            "additionalProperties": {
              "$ref": "#/components/schemas/Visit"
            }
          },
          "fleet": {
            "type": "object",
            "description": "Map of vehicle IDs to vehicle objects",
            "additionalProperties": {
              "$ref": "#/components/schemas/Vehicle"
            }
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          }
        }
      },
      "Visit": {
        "type": "object",
        "required": [
          "location"
        ],
        "properties": {
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "start": {
            "type": "string",
            "description": "Start of time window (HH:MM or UNIX timestamp)"
          },
          "end": {
            "type": "string",
            "description": "End of time window (HH:MM or UNIX timestamp)"
          },
          "duration": {
            "type": "integer",
            "description": "Service duration in minutes"
          },
          "demand": {
            "type": "number",
            "description": "Capacity demand for this visit"
          },
          "priority": {
            "type": "string",
            "description": "Priority level: high or low"
          }
        }
      },
      "Vehicle": {
        "type": "object",
        "required": [
          "start_location"
        ],
        "properties": {
          "start_location": {
            "$ref": "#/components/schemas/Location"
          },
          "end_location": {
            "$ref": "#/components/schemas/Location"
          },
          "shift_start": {
            "type": "string",
            "description": "Start of shift (HH:MM or UNIX timestamp)"
          },
          "shift_end": {
            "type": "string",
            "description": "End of shift (HH:MM or UNIX timestamp)"
          },
          "capacity": {
            "type": "number",
            "description": "Vehicle capacity"
          },
          "speed": {
            "type": "number",
            "description": "Speed multiplier (1.0 = normal speed)"
          },
          "min_visits": {
            "type": "integer",
            "description": "Minimum number of visits for this vehicle"
          },
          "breaks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "start": {
                  "type": "string"
                },
                "end": {
                  "type": "string"
                },
                "duration": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "required": [
          "lat",
          "lng"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "lat": {
            "type": "number",
            "format": "float",
            "description": "Latitude"
          },
          "lng": {
            "type": "number",
            "format": "float",
            "description": "Longitude"
          }
        }
      },
      "Options": {
        "type": "object",
        "properties": {
          "traffic": {
            "type": "string",
            "description": "Traffic model to use"
          },
          "min_vehicles": {
            "type": "boolean",
            "description": "Minimize the number of vehicles used (triples processing time)"
          },
          "shortest_distance": {
            "type": "boolean",
            "description": "Optimize for shortest distance instead of time"
          },
          "balance": {
            "type": "boolean",
            "description": "Balance workload across vehicles"
          },
          "max_vehicle_overtime": {
            "type": "integer",
            "description": "Maximum overtime in minutes per vehicle"
          }
        }
      },
      "RoutingSolution": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Solution status",
            "enum": [
              "success",
              "error"
            ]
          },
          "total_travel_time": {
            "type": "number",
            "description": "Total travel time across all vehicles in minutes"
          },
          "total_idle_time": {
            "type": "number",
            "description": "Total idle time across all vehicles in minutes"
          },
          "num_unserved": {
            "type": "integer",
            "description": "Number of unserved visits"
          },
          "unserved": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Map of unserved visit IDs with reasons"
          },
          "solution": {
            "type": "object",
            "description": "Map of vehicle IDs to their ordered route stops",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RouteStop"
              }
            }
          }
        }
      },
      "RouteStop": {
        "type": "object",
        "properties": {
          "location_id": {
            "type": "string"
          },
          "location_name": {
            "type": "string"
          },
          "arrival_time": {
            "type": "string",
            "description": "Arrival time at the stop"
          },
          "finish_time": {
            "type": "string",
            "description": "Finish time at the stop"
          },
          "idle_time": {
            "type": "number",
            "description": "Idle time at stop in minutes"
          }
        }
      },
      "JobCreatedResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "description": "ID of the created job for polling"
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "finished",
              "error"
            ],
            "description": "Current job status"
          },
          "output": {
            "$ref": "#/components/schemas/RoutingSolution"
          },
          "started_at": {
            "type": "integer",
            "description": "Job start timestamp"
          },
          "finished_at": {
            "type": "integer",
            "description": "Job completion timestamp"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Vehicle Routing",
      "description": "Vehicle Routing Problem endpoints"
    },
    {
      "name": "Pickup & Delivery",
      "description": "Pickup and Delivery Problem endpoints"
    },
    {
      "name": "Jobs",
      "description": "Long-running job management"
    }
  ]
}