{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "Use these REST APIs for performing operations on API entity and their Operations associated with your Azure API Management deployment.",
    "title": "ApiManagementClient",
    "version": "2019-12-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimapis.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "apimanagement-apimapis",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {},
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis": {
      "get": {
        "description": "Lists all APIs of the API Management service instance.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-apis"
        },
        "operationId": "Api_ListByService",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>| description | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>| serviceUrl | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>| path | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>",
            "in": "query",
            "name": "$filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of records to return.",
            "format": "int32",
            "in": "query",
            "minimum": 1,
            "name": "$top",
            "required": false,
            "type": "integer",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Number of records to skip.",
            "format": "int32",
            "in": "query",
            "minimum": 0,
            "name": "$skip",
            "required": false,
            "type": "integer",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Include tags in the response.",
            "in": "query",
            "name": "tags",
            "required": false,
            "type": "string"
          },
          {
            "description": "Include full ApiVersionSet resource in response",
            "in": "query",
            "name": "expandApiVersionSet",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged Result response of Apis.",
            "schema": {
              "description": "Paged Api list representation.",
              "properties": {
                "nextLink": {
                  "description": "Next page link if any.",
                  "readOnly": true,
                  "type": "string"
                },
                "value": {
                  "description": "Page values.",
                  "items": {
                    "allOf": [
                      {
                        "description": "The Resource definition.",
                        "properties": {
                          "id": {
                            "description": "Resource ID.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "name": {
                            "description": "Resource name.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "type": {
                            "description": "Resource type for API Management resource.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "x-ms-azure-resource": true
                      }
                    ],
                    "description": "Api details.",
                    "properties": {
                      "properties": {
                        "allOf": [
                          {
                            "description": "API base contract details.",
                            "properties": {
                              "apiRevision": {
                                "description": "Describes the Revision of the Api. If no value is provided, default revision 1 is created",
                                "maxLength": 100,
                                "minLength": 1,
                                "type": "string"
                              },
                              "apiRevisionDescription": {
                                "description": "Description of the Api Revision.",
                                "maxLength": 256,
                                "type": "string"
                              },
                              "apiVersion": {
                                "description": "Indicates the Version identifier of the API if the API is versioned",
                                "maxLength": 100,
                                "type": "string"
                              },
                              "apiVersionDescription": {
                                "description": "Description of the Api Version.",
                                "maxLength": 256,
                                "type": "string"
                              },
                              "apiVersionSetId": {
                                "description": "A resource identifier for the related ApiVersionSet.",
                                "type": "string"
                              },
                              "authenticationSettings": {
                                "description": "API Authentication Settings.",
                                "properties": {
                                  "oAuth2": {
                                    "description": "API OAuth2 Authentication settings details.",
                                    "properties": {
                                      "authorizationServerId": {
                                        "description": "OAuth authorization server identifier.",
                                        "type": "string"
                                      },
                                      "scope": {
                                        "description": "operations scope.",
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "openid": {
                                    "description": "API OAuth2 Authentication settings details.",
                                    "properties": {
                                      "bearerTokenSendingMethods": {
                                        "description": "How to send token to the server.",
                                        "items": {
                                          "description": "Form of an authorization grant, which the client uses to request the access token.",
                                          "enum": [
                                            "authorizationHeader",
                                            "query"
                                          ],
                                          "type": "string",
                                          "x-ms-enum": {
                                            "modelAsString": true,
                                            "name": "bearerTokenSendingMethods",
                                            "values": [
                                              {
                                                "description": "Access token will be transmitted in the Authorization header using Bearer schema",
                                                "value": "authorizationHeader"
                                              },
                                              {
                                                "description": "Access token will be transmitted as query parameters.",
                                                "value": "query"
                                              }
                                            ]
                                          }
                                        },
                                        "type": "array"
                                      },
                                      "openidProviderId": {
                                        "description": "OAuth authorization server identifier.",
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "description": {
                                "description": "Description of the API. May include HTML formatting tags.",
                                "type": "string"
                              },
                              "isCurrent": {
                                "description": "Indicates if API revision is current api revision.",
                                "type": "boolean"
                              },
                              "isOnline": {
                                "description": "Indicates if API revision is accessible via the gateway.",
                                "readOnly": true,
                                "type": "boolean"
                              },
                              "subscriptionKeyParameterNames": {
                                "description": "Subscription key parameter names details.",
                                "example": {
                                  "subscriptionKeyParameterNames": {
                                    "header": "customHeaderParameterName",
                                    "query": "customQueryParameterName"
                                  }
                                },
                                "properties": {
                                  "header": {
                                    "description": "Subscription key header name.",
                                    "type": "string"
                                  },
                                  "query": {
                                    "description": "Subscription key query string parameter name.",
                                    "type": "string"
                                  }
                                }
                              },
                              "subscriptionRequired": {
                                "description": "Specifies whether an API or Product subscription is required for accessing the API.",
                                "type": "boolean"
                              },
                              "type": {
                                "description": "Type of API.",
                                "enum": [
                                  "http",
                                  "soap"
                                ],
                                "type": "string",
                                "x-ms-client-name": "ApiType",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "ApiType"
                                }
                              }
                            }
                          }
                        ],
                        "description": "Api Entity Properties",
                        "properties": {
                          "apiVersionSet": {
                            "description": "An API Version Set contains the common configuration for a set of API Versions relating ",
                            "properties": {
                              "description": {
                                "description": "Description of API Version Set.",
                                "type": "string"
                              },
                              "id": {
                                "description": "Identifier for existing API Version Set. Omit this value to create a new Version Set.",
                                "type": "string"
                              },
                              "name": {
                                "description": "The display Name of the API Version Set.",
                                "type": "string"
                              },
                              "versionHeaderName": {
                                "description": "Name of HTTP header parameter that indicates the API Version if versioningScheme is set to `header`.",
                                "type": "string"
                              },
                              "versionQueryName": {
                                "description": "Name of query parameter that indicates the API Version if versioningScheme is set to `query`.",
                                "type": "string"
                              },
                              "versioningScheme": {
                                "description": "An value that determines where the API Version identifer will be located in a HTTP request.",
                                "enum": [
                                  "Segment",
                                  "Query",
                                  "Header"
                                ],
                                "type": "string"
                              }
                            }
                          },
                          "displayName": {
                            "description": "API name. Must be 1 to 300 characters long.",
                            "maxLength": 300,
                            "minLength": 1,
                            "type": "string"
                          },
                          "path": {
                            "description": "Relative URL uniquely identifying this API and all of its resource paths within the API Management service instance. It is appended to the API endpoint base URL specified during the service instance creation to form a public URL for this API.",
                            "maxLength": 400,
                            "minLength": 0,
                            "type": "string"
                          },
                          "protocols": {
                            "description": "Describes on which protocols the operations in this API can be invoked.",
                            "items": {
                              "enum": [
                                "http",
                                "https"
                              ],
                              "type": "string",
                              "x-ms-enum": {
                                "modelAsString": false,
                                "name": "Protocol"
                              }
                            },
                            "type": "array"
                          },
                          "serviceUrl": {
                            "description": "Absolute URL of the backend service implementing this API. Cannot be more than 2000 characters long.",
                            "maxLength": 2000,
                            "minLength": 0,
                            "type": "string"
                          },
                          "sourceApiId": {
                            "description": "API identifier of the source API.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path"
                        ]
                      }
                    }
                  },
                  "readOnly": true,
                  "type": "array"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Response.",
              "properties": {
                "error": {
                  "description": "Error Body contract.",
                  "properties": {
                    "code": {
                      "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                      "type": "string"
                    },
                    "details": {
                      "description": "The list of invalid fields send in request, in case of validation error.",
                      "items": {
                        "description": "Error Field contract.",
                        "properties": {
                          "code": {
                            "description": "Property level error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable representation of property-level error.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Property name.",
                            "type": "string"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable representation of the error.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Api"
        ],
        "x-ms-examples": {
          "ApiManagementListApis": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "",
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/a1",
                      "name": "a1",
                      "properties": {
                        "apiRevision": "1",
                        "apiVersionSetId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/c48f96c9-1385-4e2d-b410-5ab591ce0fc4",
                        "displayName": "api1",
                        "isCurrent": true,
                        "path": "api1",
                        "protocols": [
                          "https"
                        ],
                        "serviceUrl": "http://echoapi.cloudapp.net/api"
                      },
                      "type": "Microsoft.ApiManagement/service/apis"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5a73933b8f27f7cc82a2d533",
                      "name": "5a73933b8f27f7cc82a2d533",
                      "properties": {
                        "apiRevision": "1",
                        "apiVersion": "v1",
                        "apiVersionSetId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apiVersionSets/c48f96c9-1385-4e2d-b410-5ab591ce0fc4",
                        "displayName": "api1",
                        "isCurrent": true,
                        "path": "api1",
                        "protocols": [
                          "https"
                        ],
                        "serviceUrl": "http://echoapi.cloudapp.net/api"
                      },
                      "type": "Microsoft.ApiManagement/service/apis"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api",
                      "name": "echo-api",
                      "properties": {
                        "apiRevision": "1",
                        "displayName": "Echo API",
                        "isCurrent": true,
                        "path": "echo",
                        "protocols": [
                          "https"
                        ],
                        "serviceUrl": "http://echoapi.cloudapp.net/api"
                      },
                      "type": "Microsoft.ApiManagement/service/apis"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5a7390baa5816a110435aee0",
                      "name": "5a7390baa5816a110435aee0",
                      "properties": {
                        "apiRevision": "1",
                        "description": "A sample API that uses a petstore as an example to demonstrate features in the swagger-2.0 specification",
                        "displayName": "Swagger Petstore Extensive",
                        "isCurrent": true,
                        "path": "vvv",
                        "protocols": [
                          "https"
                        ],
                        "serviceUrl": "http://petstore.swagger.wordnik.com/api"
                      },
                      "type": "Microsoft.ApiManagement/service/apis"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-odata": "./definitions.json#/definitions/ApiContract",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}": {
      "delete": {
        "description": "Deletes the specified API of the API Management service instance.",
        "operationId": "Api_Delete",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API revision identifier. Must be unique in the current API Management service instance. Non-current revision has ;rev=n as a suffix where n is the revision number.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Delete all revisions of the Api.",
            "in": "query",
            "name": "deleteRevisions",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The API was successfully deleted."
          },
          "204": {
            "description": "The API was successfully deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Response.",
              "properties": {
                "error": {
                  "description": "Error Body contract.",
                  "properties": {
                    "code": {
                      "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                      "type": "string"
                    },
                    "details": {
                      "description": "The list of invalid fields send in request, in case of validation error.",
                      "items": {
                        "description": "Error Field contract.",
                        "properties": {
                          "code": {
                            "description": "Property level error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable representation of property-level error.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Property name.",
                            "type": "string"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable representation of the error.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Api"
        ],
        "x-ms-examples": {
          "ApiManagementDeleteApi": {
            "parameters": {
              "If-Match": "*",
              "api-version": "2019-12-01-preview",
              "apiId": "echo-api",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "description": "Gets the details of the API specified by its identifier.",
        "operationId": "Api_Get",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API revision identifier. Must be unique in the current API Management service instance. Non-current revision has ;rev=n as a suffix where n is the revision number.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "application/vnd.sun.wadl+xml",
          "application/vnd.swagger.doc+json",
          "application/wsdl+xml",
          "application/vnd.oai.openapi",
          "application/vnd.oai.openapi+json"
        ],
        "responses": {
          "200": {
            "description": "The response body contains the specified API entity.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "type": "string"
              }
            },
            "schema": {
              "allOf": [
                {
                  "description": "The Resource definition.",
                  "properties": {
                    "id": {
                      "description": "Resource ID.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "Resource name.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "Resource type for API Management resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Api details.",
              "properties": {
                "properties": {
                  "allOf": [
                    {
                      "description": "API base contract details.",
                      "properties": {
                        "apiRevision": {
                          "description": "Describes the Revision of the Api. If no value is provided, default revision 1 is created",
                          "maxLength": 100,
                          "minLength": 1,
                          "type": "string"
                        },
                        "apiRevisionDescription": {
                          "description": "Description of the Api Revision.",
                          "maxLength": 256,
                          "type": "string"
                        },
                        "apiVersion": {
                          "description": "Indicates the Version identifier of the API if the API is versioned",
                          "maxLength": 100,
                          "type": "string"
                        },
                        "apiVersionDescription": {
                          "description": "Description of the Api Version.",
                          "maxLength": 256,
                          "type": "string"
                        },
                        "apiVersionSetId": {
                          "description": "A resource identifier for the related ApiVersionSet.",
                          "type": "string"
                        },
                        "authenticationSettings": {
                          "description": "API Authentication Settings.",
                          "properties": {
                            "oAuth2": {
                              "description": "API OAuth2 Authentication settings details.",
                              "properties": {
                                "authorizationServerId": {
                                  "description": "OAuth authorization server identifier.",
                                  "type": "string"
                                },
                                "scope": {
                                  "description": "operations scope.",
                                  "type": "string"
                                }
                              }
                            },
                            "openid": {
                              "description": "API OAuth2 Authentication settings details.",
                              "properties": {
                                "bearerTokenSendingMethods": {
                                  "description": "How to send token to the server.",
                                  "items": {
                                    "description": "Form of an authorization grant, which the client uses to request the access token.",
                                    "enum": [
                                      "authorizationHeader",
                                      "query"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "bearerTokenSendingMethods",
                                      "values": [
                                        {
                                          "description": "Access token will be transmitted in the Authorization header using Bearer schema",
                                          "value": "authorizationHeader"
                                        },
                                        {
                                          "description": "Access token will be transmitted as query parameters.",
                                          "value": "query"
                                        }
                                      ]
                                    }
                                  },
                                  "type": "array"
                                },
                                "openidProviderId": {
                                  "description": "OAuth authorization server identifier.",
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "description": {
                          "description": "Description of the API. May include HTML formatting tags.",
                          "type": "string"
                        },
                        "isCurrent": {
                          "description": "Indicates if API revision is current api revision.",
                          "type": "boolean"
                        },
                        "isOnline": {
                          "description": "Indicates if API revision is accessible via the gateway.",
                          "readOnly": true,
                          "type": "boolean"
                        },
                        "subscriptionKeyParameterNames": {
                          "description": "Subscription key parameter names details.",
                          "example": {
                            "subscriptionKeyParameterNames": {
                              "header": "customHeaderParameterName",
                              "query": "customQueryParameterName"
                            }
                          },
                          "properties": {
                            "header": {
                              "description": "Subscription key header name.",
                              "type": "string"
                            },
                            "query": {
                              "description": "Subscription key query string parameter name.",
                              "type": "string"
                            }
                          }
                        },
                        "subscriptionRequired": {
                          "description": "Specifies whether an API or Product subscription is required for accessing the API.",
                          "type": "boolean"
                        },
                        "type": {
                          "description": "Type of API.",
                          "enum": [
                            "http",
                            "soap"
                          ],
                          "type": "string",
                          "x-ms-client-name": "ApiType",
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "ApiType"
                          }
                        }
                      }
                    }
                  ],
                  "description": "Api Entity Properties",
                  "properties": {
                    "apiVersionSet": {
                      "description": "An API Version Set contains the common configuration for a set of API Versions relating ",
                      "properties": {
                        "description": {
                          "description": "Description of API Version Set.",
                          "type": "string"
                        },
                        "id": {
                          "description": "Identifier for existing API Version Set. Omit this value to create a new Version Set.",
                          "type": "string"
                        },
                        "name": {
                          "description": "The display Name of the API Version Set.",
                          "type": "string"
                        },
                        "versionHeaderName": {
                          "description": "Name of HTTP header parameter that indicates the API Version if versioningScheme is set to `header`.",
                          "type": "string"
                        },
                        "versionQueryName": {
                          "description": "Name of query parameter that indicates the API Version if versioningScheme is set to `query`.",
                          "type": "string"
                        },
                        "versioningScheme": {
                          "description": "An value that determines where the API Version identifer will be located in a HTTP request.",
                          "enum": [
                            "Segment",
                            "Query",
                            "Header"
                          ],
                          "type": "string"
                        }
                      }
                    },
                    "displayName": {
                      "description": "API name. Must be 1 to 300 characters long.",
                      "maxLength": 300,
                      "minLength": 1,
                      "type": "string"
                    },
                    "path": {
                      "description": "Relative URL uniquely identifying this API and all of its resource paths within the API Management service instance. It is appended to the API endpoint base URL specified during the service instance creation to form a public URL for this API.",
                      "maxLength": 400,
                      "minLength": 0,
                      "type": "string"
                    },
                    "protocols": {
                      "description": "Describes on which protocols the operations in this API can be invoked.",
                      "items": {
                        "enum": [
                          "http",
                          "https"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": false,
                          "name": "Protocol"
                        }
                      },
                      "type": "array"
                    },
                    "serviceUrl": {
                      "description": "Absolute URL of the backend service implementing this API. Cannot be more than 2000 characters long.",
                      "maxLength": 2000,
                      "minLength": 0,
                      "type": "string"
                    },
                    "sourceApiId": {
                      "description": "API identifier of the source API.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "path"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Response.",
              "properties": {
                "error": {
                  "description": "Error Body contract.",
                  "properties": {
                    "code": {
                      "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                      "type": "string"
                    },
                    "details": {
                      "description": "The list of invalid fields send in request, in case of validation error.",
                      "items": {
                        "description": "Error Field contract.",
                        "properties": {
                          "code": {
                            "description": "Property level error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable representation of property-level error.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Property name.",
                            "type": "string"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable representation of the error.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Api"
        ],
        "x-ms-examples": {
          "ApiManagementGetApiContract": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "apiId": "57d1f7558aa04f15146d9d8a",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a",
                  "name": "57d1f7558aa04f15146d9d8a",
                  "properties": {
                    "apiRevision": "1",
                    "displayName": "Service",
                    "isCurrent": true,
                    "isOnline": true,
                    "path": "schulte",
                    "protocols": [
                      "https"
                    ],
                    "serviceUrl": "https://api.plexonline.com/DataSource/Service.asmx",
                    "subscriptionKeyParameterNames": {
                      "header": "Ocp-Apim-Subscription-Key",
                      "query": "subscription-key"
                    },
                    "type": "soap"
                  },
                  "type": "Microsoft.ApiManagement/service/apis"
                }
              }
            }
          },
          "ApiManagementGetApiRevisionContract": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "apiId": "echo-api;rev=3",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api;rev=3",
                  "name": "echo-api;rev=3",
                  "properties": {
                    "apiRevision": "3",
                    "apiRevisionDescription": "fixed bug in contract",
                    "displayName": "Service",
                    "path": "schulte",
                    "protocols": [
                      "https"
                    ],
                    "serviceUrl": "https://api.plexonline.com/DataSource/Service.asmx",
                    "subscriptionKeyParameterNames": {
                      "header": "Ocp-Apim-Subscription-Key",
                      "query": "subscription-key"
                    }
                  },
                  "type": "Microsoft.ApiManagement/service/apis"
                }
              }
            }
          }
        }
      },
      "head": {
        "description": "Gets the entity state (Etag) version of the API specified by its identifier.",
        "operationId": "Api_GetEntityTag",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API revision identifier. Must be unique in the current API Management service instance. Non-current revision has ;rev=n as a suffix where n is the revision number.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Specified API entity exists and current entity state version is present in the ETag header.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Response.",
              "properties": {
                "error": {
                  "description": "Error Body contract.",
                  "properties": {
                    "code": {
                      "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                      "type": "string"
                    },
                    "details": {
                      "description": "The list of invalid fields send in request, in case of validation error.",
                      "items": {
                        "description": "Error Field contract.",
                        "properties": {
                          "code": {
                            "description": "Property level error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable representation of property-level error.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Property name.",
                            "type": "string"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable representation of the error.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Api"
        ],
        "x-ms-examples": {
          "ApiManagementHeadApi": {
            "parameters": {
              "api-version": "2019-12-01-preview",
              "apiId": "57d1f7558aa04f15146d9d8a",
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "headers": {
                  "etag": "AAAAAAAAAAa="
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates the specified API of the API Management service instance.",
        "operationId": "Api_Update",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API revision identifier. Must be unique in the current API Management service instance. Non-current revision has ;rev=n as a suffix where n is the revision number.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API Update Contract parameters.",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "description": "API update contract details.",
              "properties": {
                "properties": {
                  "allOf": [
                    {
                      "description": "API base contract details.",
                      "properties": {
                        "apiRevision": {
                          "description": "Describes the Revision of the Api. If no value is provided, default revision 1 is created",
                          "maxLength": 100,
                          "minLength": 1,
                          "type": "string"
                        },
                        "apiRevisionDescription": {
                          "description": "Description of the Api Revision.",
                          "maxLength": 256,
                          "type": "string"
                        },
                        "apiVersion": {
                          "description": "Indicates the Version identifier of the API if the API is versioned",
                          "maxLength": 100,
                          "type": "string"
                        },
                        "apiVersionDescription": {
                          "description": "Description of the Api Version.",
                          "maxLength": 256,
                          "type": "string"
                        },
                        "apiVersionSetId": {
                          "description": "A resource identifier for the related ApiVersionSet.",
                          "type": "string"
                        },
                        "authenticationSettings": {
                          "description": "API Authentication Settings.",
                          "properties": {
                            "oAuth2": {
                              "description": "API OAuth2 Authentication settings details.",
                              "properties": {
                                "authorizationServerId": {
                                  "description": "OAuth authorization server identifier.",
                                  "type": "string"
                                },
                                "scope": {
                                  "description": "operations scope.",
                                  "type": "string"
                                }
                              }
                            },
                            "openid": {
                              "description": "API OAuth2 Authentication settings details.",
                              "properties": {
                                "bearerTokenSendingMethods": {
                                  "description": "How to send token to the server.",
                                  "items": {
                                    "description": "Form of an authorization grant, which the client uses to request the access token.",
                                    "enum": [
                                      "authorizationHeader",
                                      "query"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "bearerTokenSendingMethods",
                                      "values": [
                                        {
                                          "description": "Access token will be transmitted in the Authorization header using Bearer schema",
                                          "value": "authorizationHeader"
                                        },
                                        {
                                          "description": "Access token will be transmitted as query parameters.",
                                          "value": "query"
                                        }
                                      ]
                                    }
                                  },
                                  "type": "array"
                                },
                                "openidProviderId": {
                                  "description": "OAuth authorization server identifier.",
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "description": {
                          "description": "Description of the API. May include HTML formatting tags.",
                          "type": "string"
                        },
                        "isCurrent": {
                          "description": "Indicates if API revision is current api revision.",
                          "type": "boolean"
                        },
                        "isOnline": {
                          "description": "Indicates if API revision is accessible via the gateway.",
                          "readOnly": true,
                          "type": "boolean"
                        },
                        "subscriptionKeyParameterNames": {
                          "description": "Subscription key parameter names details.",
                          "example": {
                            "subscriptionKeyParameterNames": {
                              "header": "customHeaderParameterName",
                              "query": "customQueryParameterName"
                            }
                          },
                          "properties": {
                            "header": {
                              "description": "Subscription key header name.",
                              "type": "string"
                            },
                            "query": {
                              "description": "Subscription key query string parameter name.",
                              "type": "string"
                            }
                          }
                        },
                        "subscriptionRequired": {
                          "description": "Specifies whether an API or Product subscription is required for accessing the API.",
                          "type": "boolean"
                        },
                        "type": {
                          "description": "Type of API.",
                          "enum": [
                            "http",
                            "soap"
                          ],
                          "type": "string",
                          "x-ms-client-name": "ApiType",
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "ApiType"
                          }
                        }
                      }
                    }
                  ],
                  "description": "API update contract properties.",
                  "properties": {
                    "displayName": {
                      "description": "API name.",
                      "maxLength": 300,
                      "minLength": 1,
                      "type": "string"
                    },
                    "path": {
                      "description": "Relative URL uniquely identifying this API and all of its resource paths within the API Management service instance. It is appended to the API endpoint base URL specified during the service instance creation to form a public URL for this API.",
                      "maxLength": 400,
                      "minLength": 0,
                      "type": "string"
                    },
                    "protocols": {
                      "description": "Describes on which protocols the operations in this API can be invoked.",
                      "items": {
                        "enum": [
                          "http",
                          "https"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": false,
                          "name": "Protocol"
                        }
                      },
                      "type": "array"
                    },
                    "serviceUrl": {
                      "description": "Absolute URL of the backend service implementing this API.",
                      "maxLength": 2000,
                      "minLength": 1,
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          {
            "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The API was successfully updated."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Response.",
              "properties": {
                "error": {
                  "description": "Error Body contract.",
                  "properties": {
                    "code": {
                      "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                      "type": "string"
                    },
                    "details": {
                      "description": "The list of invalid fields send in request, in case of validation error.",
                      "items": {
                        "description": "Error Field contract.",
                        "properties": {
                          "code": {
                            "description": "Property level error code.",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable representation of property-level error.",
                            "type": "string"
                          },
                          "target": {
                            "description": "Property name.",
                            "type": "string"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable representation of the error.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Api"
        ],
        "x-ms-examples": {
          "ApiManagementUpdateApi": {
            "parameters": {
              "If-Match": "*",
              "api-version": "2019-12-01-preview",
              "apiId": "echo-api",
              "parameters": {
                "properties": {
                  "displayName": "Echo API New",
                  "path": "newecho",
                  "serviceUrl": "http://echoapi.cloudapp.net/api2"
                }
              },
              "resourceGroupName": "rg1",
              "serviceName": "apimService1",
              "subscriptionId": "subid"
            },
            "responses": {
              "204": {}
            }
          }
        }
      },
      "put": {
        "description": "Creates new or updates existing specified API of the API Management service instance.",
        "operationId": "Api_CreateOrUpdate",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API revision identifier. Must be unique in the current API Management service instance. Non-current revision has ;rev=n as a suffix where n is the revision number.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Create or update parameters.",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "description": "API Create or Update Parameters.",
              "properties": {
                "properties": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "description": "API base contract details.",
                          "properties": {
                            "apiRevision": {
                              "description": "Describes the Revision of the Api. If no value is provided, default revision 1 is created",
                              "maxLength": 100,
                              "minLength": 1,
                              "type": "string"
                            },
                            "apiRevisionDescription": {
                              "description": "Description of the Api Revision.",
                              "maxLength": 256,
                              "type": "string"
                            },
                            "apiVersion": {
                              "description": "Indicates the Version identifier of the API if the API is versioned",
                              "maxLength": 100,
                              "type": "string"
                            },
                            "apiVersionDescription": {
                              "description": "Description of the Api Version.",
                              "maxLength": 256,
                              "type": "string"
                            },
                            "apiVersionSetId": {
                              "description": "A resource identifier for the related ApiVersionSet.",
                              "type": "string"
                            },
                            "authenticationSettings": {
                              "description": "API Authentication Settings.",
                              "properties": {
                                "oAuth2": {
                                  "description": "API OAuth2 Authentication settings details.",
                                  "properties": {
                                    "authorizationServerId": {
                                      "description": "OAuth authorization server identifier.",
                                      "type": "string"
                                    },
                                    "scope": {
                                      "description": "operations scope.",
                                      "type": "string"
                                    }
                                  }
                                },
                                "openid": {
                                  "description": "API OAuth2 Authentication settings details.",
                                  "properties": {
                                    "bearerTokenSendingMethods": {
                                      "description": "How to send token to the server.",
                                      "items": {
                                        "description": "Form of an authorization grant, which the client uses to request the access token.",
                                        "enum": [
                                          "authorizationHeader",
                                          "query"
                                        ],
                                        "type": "string",
                                        "x-ms-enum": {
                                          "modelAsString": true,
                                          "name": "bearerTokenSendingMethods",
                                          "values": [
                                            {
                                              "description": "Access token will be transmitted in the Authorization header using Bearer schema",
                                              "value": "authorizationHeader"
                                            },
                                            {
                                              "description": "Access token will be transmitted as query parameters.",
                                              "value": "query"
                                            }
                                          ]
                                        }
                                      },
                                      "type": "array"
                                    },
                                    "openidProviderId": {
                                      "description": "OAuth authorization server identifier.",
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            },
                            "description": {
                              "description": "Description of the API. May include HTML formatting tags.",
                              "type": "string"
                            },
                            "isCurrent": {
                              "description": "Indicates if API revision is current api revision.",
                              "type": "boolean"
                            },
                            "isOnline": {
                              "description": "Indicates if API revision is accessible via the gateway.",
                              "readOnly": true,
                              "type": "boolean"
                            },
                            "subscriptionKeyParameterNames": {
                              "description": "Subscription key parameter names details.",
                              "example": {
                                "subscriptionKeyParameterNames": {
                                  "header": "customHeaderParameterName",
                                  "query": "customQueryParameterName"
                                }
                              },
                              "properties": {
                                "header": {
                                  "description": "Subscription key header name.",
                                  "type": "string"
                                },
                                "query": {
                                  "description": "Subscription key query string parameter name.",
                                  "type": "string"
                                }
                              }
                            },
                            "subscriptionRequired": {
                              "description": "Specifies whether an API or Product subscription is required for accessing the API.",
                              "type": "boolean"
                            },
                            "type": {
                              "description": "Type of API.",
                              "enum": [
                                "http",
                                "soap"
                              ],
                              "type": "string",
                              "x-ms-client-name": "ApiType",
                              "x-ms-enum": {
                                "modelAsString": true,
                                "name": "ApiType"
                              }
                            }
                          }
                        }
                      ],
                      "description": "Api Entity Properties",
                      "properties": {
                        "apiVersionSet": {
                          "description": "An API Version Set contains the common configuration for a set of API Versions relating ",
                          "properties": {
                            "description": {
                              "description": "Description of API Version Set.",
                              "type": "string"
                            },
                            "id": {
                              "description": "Identifier for existing API Version Set. Omit this value to create a new Version Set.",
                              "type": "string"
                            },
                            "name": {
                              "description": "The display Name of the API Version Set.",
                              "type": "string"
                            },
                            "versionHeaderName": {
                              "description": "Name of HTTP header parameter that indicates the API Version if versioningScheme is set to `header`.",
                              "type": "string"
                            },
                            "versionQueryName": {
                              "description": "Name of query parameter that indicates the API Version if versioningScheme is set to `query`.",
                              "type": "string"
                            },
                            "versioningScheme": {
                              "description": "An value that determines where the API Version identifer will be located in a HTTP request.",
                              "enum": [
                                "Segment",
                                "Query",
                                "Header"
                              ],
                              "type": "string"
                            }
                          }
                        },
                        "displayName": {
                          "description": "API name. Must be 1 to 300 characters long.",
                          "maxLength": 300,
                          "minLength": 1,
                          "type": "string"
                        },
                        "path": {
                          "description": "Relative URL uniquely identifying this API and all of its resource paths within the API Management service instance. It is appended to the API endpoint base URL specified during the service instance creation to form a public URL for this API.",
                          "maxLength": 400,
                          "minLength": 0,
                          "type": "string"
                        },
                        "protocols": {
                          "description": "Describes on which protocols the operations in this API can be invoked.",
                          "items": {
                            "enum": [
                              "http",
                              "https"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": false,
                              "name": "Protocol"
                            }
                          },
                          "type": "array"
                        },
                        "serviceUrl": {
                          "description": "Absolute URL of the backend service implementing this API. Cannot be more than 2000 characters long.",
                          "maxLength": 2000,
                          "minLength": 0,
                          "type": "string"
                        },
                        "sourceApiId": {
                          "description": "API identifier of the source API.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "path"
                      ]
                    }
                  ],
                  "description": "Api Create or Update Properties.",
                  "properties": {
                    "apiType": {
                      "description": "Type of Api to create. \n * `http` creates a SOAP to REST API \n * `soap` creates a SOAP pass-through API .",
                      "enum": [
                        "http",
                        "soap"
                      ],
                      "type": "string",
                      "x-ms-client-name": "SoapApiType",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "SoapApiType",
                        "values": [
                          {
                            "description": "Imports a SOAP API having a RESTful front end.",
                            "name": "SoapToRest",
                            "value": "http"
                          },
                          {
                            "description": "Imports the Soap API having a SOAP front end.",
                            "name": "SoapPassThrough",
                            "value": "soap"
                          }
                        ]
                      }
                    },
                    "format": {
                      "description": "Format of the Content in which the API is getting imported.",
                      "enum": [
                        "wadl-xml",
                        "wadl-link-json",
                        "swagger-json",
                        "swagger-link-json",
                        "wsdl",
                        "wsdl-link",
                        "openapi",
                        "openapi+json",
                        "openapi-link",
                        "openapi+json-link"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "ContentFormat",
                        "values": [
                          {
                            "description": "The contents are inline and Content type is a WADL document.",
                            "value": "wadl-xml"
                          },
                          {
                            "description": "The WADL document is hosted on a publicly accessible internet address.",
                            "value": "wadl-link-json"
                          },
                          {
                            "description": "The contents are inline and Content Type is a OpenApi 2.0 Document.",
                            "value": "swagger-json"
                          },
                          {
                            "description": "The Open Api 2.0 document is hosted on a publicly accessible internet address.",
                            "value": "swagger-link-json"
                          },
                          {
                            "description": "The contents are inline and the document is a WSDL/Soap document.",
                            "value": "wsdl"
                          },
                          {
                            "description": "The WSDL document is hosted on a publicly accessible internet address.",
                            "value": "wsdl-link"
                          },
                          {
                            "description": "The contents are inline and Content Type is a OpenApi 3.0 Document in YAML format.",
                            "value": "openapi"
                          },
                          {
                            "description": "The contents are inline and Content Type is a OpenApi 3.0 Document in JSON format.",
                            "value": "openapi+json"
                          },
                          {
                            "description": "The Open Api 3.0 document is hosted on a publicly accessible internet address.",
                            "value": "openapi-link"
                          },
                          {
                            "description": "The Open Api 3.0 Json document is hosted on a publicly accessible internet address.",
                            "value": "openapi+json-link"
                          }
                        ]
                      }
                    },
                    "value": {
                      "description": "Content value when Importing an API.",
                      "type": "string"
                    },
                    "wsdlSelector": {
                      "description": "Criteria to limit import of WSDL to a subset of the document.",
                      "properties": {
                        "wsdlEndpointName": {
                          "description": "Name of endpoint(port) to import from WSDL",
                          "type": "string"
                        },
                        "wsdlServiceName": {
                          "description": "Name of service to import from WSDL",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          {
            "description": "ETag of the Entity. Not required when creating an entity, but required when updating an entity.",
            "in": "header",
            "name": "If-Match",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "API was successfully updated.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "type": "string"
              }
            },
            "schema": {
              "allOf": [
                {
                  "description": "The Resource definition.",
                  "properties": {
                    "id": {
                      "description": "Resource ID.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "Resource name.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "Resource type for API Management resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Api details.",
              "properties": {
                "properties": {
                  "allOf": [
                    {
                      "description": "API base contract details.",
                      "properties": {
                        "apiRevision": {
                          "description": "Describes the Revision of the Api. If no value is provided, default revision 1 is created",
                          "maxLength": 100,
                          "minLength": 1,
                          "type": "string"
                        },
                        "apiRevisionDescription": {
                          "description": "Description of the Api Revision.",
                          "maxLength": 256,
                          "type": "string"
                        },
                        "apiVersion": {
                          "description": "Indicates the Version identifier of the API if the API is versioned",
                          "maxLength": 100,
                          "type": "string"
                        },
                        "apiVersionDescription": {
                          "description": "Description of the Api Version.",
                          "maxLength": 256,
                          "type": "string"
                        },
                        "apiVersionSetId": {
                          "description": "A resource identifier for the related ApiVersionSet.",
                          "type": "string"
                        },
                        "authenticationSettings": {
                          "description": "API Authentication Settings.",
                          "properties": {
                            "oAuth2": {
                              "description": "API OAuth2 Authentication settings details.",
                              "properties": {
                                "authorizationServerId": {
                                  "description": "OAuth authorization server identifier.",
                                  "type": "string"
                                },
                                "scope": {
                                  "description": "operations scope.",
                                  "type": "string"
                                }
                              }
                            },
                            "openid": {
                              "description": "API OAuth2 Authentication settings details.",
                              "properties": {
                                "bearerTokenSendingMethods": {
                                  "description": "How to send token to the server.",
                                  "items": {
                                    "description": "Form of an authorization grant, which the client uses to request the access token.",
                                    "enum": [
                                      "authorizationHeader",
                                      "query"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "bearerTokenSendingMethods",
                                      "values": [
                                        {
                                          "description": "Access token will be transmitted in the Authorization header using Bearer schema",
                                          "value": "authorizationHeader"
                                        },
                                        {
                                          "description": "Access token will be transmitted as query parameters.",
                                          "value": "query"
                                        }
                                      ]
                                    }
                                  },
                                  "type": "array"
                                },
                                "openidProviderId": {
                                  "description": "OAuth authorization server identifier.",
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "description": {
                          "description": "Description of the API. May include HTML formatting tags.",
                          "type": "string"
                        },
                        "isCurrent": {
                          "description": "Indicates if API revision is current api revision.",
                          "type": "boolean"
                        },
                        "isOnline": {
                          "description": "Indicates if API revision is accessible via the gateway.",
                          "readOnly": true,
                          "type": "boolean"
                        },
                        "subscriptionKeyParameterNames": {
                          "description": "Subscription key parameter names details.",
                          "example": {
                            "subscriptionKeyParameterNames": {
                              "header": "customHeaderParameterName",
                              "query": "customQueryParameterName"
                            }
                          },
                          "properties": {
                            "header": {
                              "description": "Subscription key header name.",
                              "type": "string"
                            },
                            "query": {
                              "description": "Subscription key query string parameter name.",
                              "type": "string"
                            }
                          }
                        },
                        "subscriptionRequired": {
                          "description": "Specifies whether an API or Product subscription is required for accessing the API.",
                          "type": "boolean"
                        },
                        "type": {
                          "description": "Type of API.",
                          "enum": [
                            "http",
                            "soap"
                          ],
                          "type": "string",
                          "x-ms-client-name": "ApiType",
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "ApiType"
                          }
                        }
                      }
                    }
                  ],
                  "description": "Api Entity Properties",
                  "properties": {
                    "apiVersionSet": {
                      "description": "An API Version Set contains the common configuration for a set of API Versions relating ",
                      "properties": {
                        "description": {
                          "description": "Description of API Version Set.",
                          "type": "string"
                        },
                        "id": {
                          "description": "Identifier for existing API Version Set. Omit this value to create a new Version Set.",
                          "type": "string"
                        },
                        "name": {
                          "description": "The display Name of the API Version Set.",
                          "type": "string"
                        },
                        "versionHeaderName": {
                          "description": "Name of HTTP header parameter that indicates the API Version if versioningScheme is set to `header`.",
                          "type": "string"
                        },
                        "versionQueryName": {
                          "description": "Name of query parameter that indicates the API Version if versioningScheme is set to `query`.",
                          "type": "string"
                        },
                        "versioningScheme": {
                          "description": "An value that determines where the API Version identifer will be located in a HTTP request.",
                          "enum": [
                            "Segment",
                            "Query",
                            "Header"
                          ],
                          "type": "string"
                        }
                      }
                    },
                    "displayName": {
                      "description": "API name. Must be 1 to 300 characters long.",
                      "maxLength": 300,
                      "minLength": 1,
                      "type": "string"
                    },
                    "path": {
                      "description": "Relative URL uniquely identifying this API and all of its resource paths within the API Management service instance. It is appended to the API endpoint base URL specified during the service instance creation to form a public URL for this API.",
                      "maxLength": 400,
                      "minLength": 0,
                      "type": "string"
                    },
                    "protocols": {
                      "description": "Describes on which protocols the operations in this API can be invoked.",
                      "items": {
                        "enum": [
                          "http",
                          "https"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": false,
                          "name": "Protocol"
                        }
                      },
                      "type": "array"
                    },
                    "serviceUrl": {
                      "description": "Absolute URL of the backend service implementing this API. Cannot be more than 2000 characters long.",
                      "maxLength": 2000,
                      "minLength": 0,
                      "type": "string"
                    },
                    "sourceApiId": {
                      "description": "API identifier of the source API.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "path"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "API was successfully created.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "type": "string"
              }
            },
            "schema": {
              "allOf": [
                {
                  "description": "The Resource definition.",
                  "properties": {
                    "id": {
                      "description": "Resource ID.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "Resource name.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "Resource type for API Management resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Api details.",
              "properties": {
                "properties": {
                  "allOf": [
                    {
                      "description": "API base contract details.",
                      "properties": {
                        "apiRevision": {
[...]
