{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "x-twitter": "nauthsec"
    },
    "description": "API for the nextAuth server",
    "title": "nextAuth API",
    "version": "2.2",
    "x-apisguru-categories": [
      "security"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/n-auth.com/2.2/swagger.json",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nauthsec_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://api.docs.nextauth.com/api/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "n-auth.com"
  },
  "servers": [
    {
      "url": "https://api.nextauth.com/"
    }
  ],
  "paths": {
    "/apikeys": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeys"
                }
              }
            },
            "description": "List of apikeys (with role and description)"
          }
        },
        "tags": [
          "Management"
        ],
        "description": "Get all API keys generated by the current role. Required permission: global 'servers'.",
        "operationId": "getApiKeys",
        "summary": "Get all API keys."
      },
      "post": {
        "parameters": [
          {
            "description": "Description for the new role",
            "in": "query",
            "name": "description",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            },
            "description": "Newly created apikey (with role and description)"
          }
        },
        "tags": [
          "Management"
        ],
        "description": "Create a new API key. Required permission: global 'servers'.",
        "operationId": "createApiKey",
        "summary": "Create a new API key."
      }
    },
    "/attributes": {
      "delete": {
        "responses": {
          "200": {
            "description": "On successful delete"
          }
        },
        "tags": [
          "Global"
        ],
        "description": "Delete all global attributes. Required permission: global 'servers'.",
        "operationId": "deleteGlobalAttributes",
        "summary": "Delete all global attributes"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Array of attributes"
          }
        },
        "tags": [
          "Global"
        ],
        "description": "Returns an array containing all global attributes. Required permission: global 'servers'.",
        "operationId": "getGlobalAttributes",
        "summary": "Get all global attributes"
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Global"
        ],
        "description": "Set the global attributes. Prior attributes with keys that are not provided in the body of the request will be deleted. Required permission: global 'servers'.",
        "operationId": "setGlobalAttributes",
        "requestBody": {
          "$ref": "#/components/requestBodies/setGlobalAttributesAttributes"
        },
        "summary": "Set all global attributes"
      },
      "put": {
        "responses": {
          "200": {
            "description": "On successful update"
          }
        },
        "tags": [
          "Global"
        ],
        "description": "Update the specified global attributes. Prior attributes with keys that are not provided in the body of the request will not be deleted. Required permission: 'servers'.",
        "operationId": "updateGlobalAttributes",
        "requestBody": {
          "$ref": "#/components/requestBodies/setGlobalAttributesAttributes"
        },
        "summary": "Update specified global attributes"
      }
    },
    "/attributes/{attributekey}": {
      "delete": {
        "parameters": [
          {
            "description": "Key of the attribute",
            "in": "path",
            "name": "attributekey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful delete"
          }
        },
        "tags": [
          "Global"
        ],
        "description": "Delete global attribute with the specified key. Required: global 'servers'.",
        "operationId": "deleteGlobalAttribute",
        "summary": "Delete specific global attribute"
      }
    },
    "/servers": {
      "get": {
        "parameters": [
          {
            "description": "Limit the number of results",
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Offset in the result list",
            "in": "query",
            "name": "marker",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Servers"
                }
              }
            },
            "description": "List of servers"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "List all the servers you have the permissions for. Required permission: 'servers'.",
        "operationId": "getServers",
        "summary": "List all your servers"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            },
            "description": "Server config for newly created server"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Create a new server. Required permission: global 'createserver'.",
        "operationId": "createServer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Server"
              }
            }
          },
          "description": "Server data (note that serverid, serverpk and validtime are generated by the server)",
          "required": true
        },
        "summary": "Create a new server"
      }
    },
    "/servers/{serverid}": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            },
            "description": "Server config"
          },
          "404": {
            "description": "Server not found"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Returns the configuration of a specific server. Required permission: 'servers' or 'createserver'.",
        "operationId": "getServer",
        "summary": "Configuration of a specific server"
      },
      "put": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            },
            "description": "Server config"
          },
          "404": {
            "description": "Server not found"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Update the configuration of a specific server. Required permission: 'createserver'.",
        "operationId": "updateServer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Server"
              }
            }
          },
          "description": "Server data (note that serverid and serverpk cannot be changed)",
          "required": true
        },
        "summary": "Update configuration of a specific server"
      }
    },
    "/servers/{serverid}/accounts": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter users based on an attribute. Takes the format *attributename=attributevalue*. You can filter for multiple values at once, e.g. *group=in:group1,group2*",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit the number of results",
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Offset in the result list",
            "in": "query",
            "name": "marker",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Sort the results by column. You can also specify ascending (default if not specified) or descending, e.g., *column:asc* . You can also sort by multiple columns, e.g., *column1:desc,column2:asc*",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Accounts"
                }
              }
            },
            "description": "Array of accounts"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Returns all account. Required permission 'accounts'.",
        "operationId": "getAllAccounts",
        "summary": "Get all accounts"
      }
    },
    "/servers/{serverid}/accounts/{accountid}": {
      "delete": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Account id",
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful delete"
          },
          "404": {
            "description": "Account not found"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Delete an account. Required permission: 'accounts'.",
        "operationId": "deleteAccount",
        "summary": "Delete specific account"
      },
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Account id",
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "Account"
          },
          "404": {
            "description": "Account not found"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Returns the account. Required permission: 'sessions' or 'accounts'.",
        "operationId": "getAccount",
        "summary": "Get specific account"
      },
      "put": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Account id",
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "True if the account is blocked",
            "in": "query",
            "name": "blocked",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "Account after update"
          },
          "404": {
            "description": "Account not found"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Update an account. The only available change is (un)blocking the account. Required permission: 'accounts'.\n",
        "operationId": "updateAccount",
        "summary": "Update specific account"
      }
    },
    "/servers/{serverid}/accounts/{accountid}/provokelogin": {
      "post": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Base64 encoded nonce to identify the browser/webserver session",
            "in": "header",
            "name": "X-nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Account id",
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Sessions"
        ],
        "description": "Push a login to the nextAuth app for the user to confirm, based on the given account (app instance). Required permission: 'sessions' or 'accounts'.",
        "operationId": "provokeLoginOnAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserContext"
              }
            }
          },
          "description": "Session information to display to user"
        },
        "summary": "Push a login confirmation to the user's app"
      }
    },
    "/servers/{serverid}/accounts/{accountid}/user": {
      "put": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Account id",
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "User name",
            "in": "query",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "Account after update"
          },
          "403": {
            "description": "Invalid user name"
          },
          "404": {
            "description": "Account not found"
          }
        },
        "tags": [
          "Accounts",
          "Registration"
        ],
        "description": "Update the user of the given account. Required permission: 'accounts'.",
        "operationId": "updateAccountUser",
        "summary": "Update user of the given account."
      }
    },
    "/servers/{serverid}/attributes": {
      "delete": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful delete"
          },
          "404": {
            "description": "User not found"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Delete all attributes of a specific server. Required permission: 'servers'.",
        "operationId": "deleteServerAttributes",
        "summary": "Delete all attributes of a specific server"
      },
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Array of attributes"
          },
          "404": {
            "description": "Server not found"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Returns an array containing all attributes corresponding to this server. Required permission: 'servers'.",
        "operationId": "getServerAttributes",
        "summary": "Get all attributes of a specific server"
      },
      "post": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Server not found"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Set the attributes of a specific server. Prior attributes with keys that are not provided in the body of the request will be deleted. Required permission: 'servers'.",
        "operationId": "setServerAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "Array of attributes",
          "required": true
        },
        "summary": "Set all attributes of a specific server"
      },
      "put": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful update"
          },
          "404": {
            "description": "Server not found"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Update the specified attributes of a specific server. Prior attributes with keys that are not provided in the body of the request will not be deleted. Required permission: 'servers'.",
        "operationId": "updateServerAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "Array of attributes",
          "required": true
        },
        "summary": "Update specified attributes of a specific server"
      }
    },
    "/servers/{serverid}/attributes/{attributekey}": {
      "delete": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Key of the attribute",
            "in": "path",
            "name": "attributekey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful delete"
          },
          "404": {
            "description": "Server not found"
          }
        },
        "tags": [
          "Servers"
        ],
        "description": "Delete attribute with the specified key of a specific server. Required permission: 'servers'.",
        "operationId": "deleteServerAttribute",
        "summary": "Delete specific attribute of a specific server"
      }
    },
    "/servers/{serverid}/permissions": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permissions"
                }
              }
            },
            "description": "List of roles and permissions"
          },
          "404": {
            "description": "Server not found"
          }
        },
        "tags": [
          "Management"
        ],
        "description": "Returns all permissions. Required permission: 'servers'.",
        "operationId": "getAllPermissions",
        "summary": "Get all permissions for the specified server."
      }
    },
    "/servers/{serverid}/permissions/{roleid}": {
      "delete": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Base64 encoded role id",
            "in": "path",
            "name": "roleid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "404": {
            "description": "Server or role not found"
          }
        },
        "tags": [
          "Management"
        ],
        "description": "Revoke all permissions for the specified server and role. Required permission: 'root'.",
        "operationId": "revokePermissions",
        "summary": "Revoke all permissions for the specified server and role."
      },
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Base64 encoded role id",
            "in": "path",
            "name": "roleid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permissions"
                }
              }
            },
            "description": "List of roles and permissions"
          },
          "404": {
            "description": "Server or role not found"
          }
        },
        "tags": [
          "Management"
        ],
        "description": "Returns all permissions. Required permission: 'servers'.",
        "operationId": "getPermissions",
        "summary": "Get all permissions for the specified server and role."
      },
      "post": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Base64 encoded role id",
            "in": "path",
            "name": "roleid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "404": {
            "description": "Server or role not found"
          }
        },
        "tags": [
          "Management"
        ],
        "description": "Set new permissions for the specified role on a server. This overwrites any existing permissions on this server for the specified role. Required permission: 'root'.",
        "operationId": "grantPermissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          },
          "description": "Array of new permissions",
          "required": true
        },
        "summary": "Set new permissions for the specified role on a server"
      }
    },
    "/servers/{serverid}/privilegedattributes": {
      "delete": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful delete"
          },
          "404": {
            "description": "User not found"
          }
        },
        "tags": [
          "Global"
        ],
        "description": "Delete all privileged attributes of a specific server. Required permission: global 'servers'.",
        "operationId": "deleteServerPrivilegedAttributes",
        "summary": "Delete all privileged attributes of a specific server"
      },
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Array of attributes"
          },
          "404": {
            "description": "Server not found"
          }
        },
        "tags": [
          "Global"
        ],
        "description": "Returns an array containing all privileged attributes corresponding to this server. Required permission: global 'servers'.",
        "operationId": "getServerPrivilegedAttributes",
        "summary": "Get all privileged attributes of a specific server"
      },
      "post": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Server not found"
          }
        },
        "tags": [
          "Global"
        ],
        "description": "Set the privileged attributes of a specific server. Prior attributes with keys that are not provided in the body of the request will be deleted. Required permission: global 'servers'.",
        "operationId": "setServerPrivilegedAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "Array of attributes",
          "required": true
        },
        "summary": "Set all privileged attributes of a specific server"
      },
      "put": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful update"
          },
          "404": {
            "description": "Server not found"
          }
        },
        "tags": [
          "Global"
        ],
        "description": "Update the specified privileged attributes of a specific server. Prior privileged attributes with keys that are not provided in the body of the request will not be deleted. Required permission: global 'servers'.",
        "operationId": "updateServerPrivilegedAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "Array of attributes",
          "required": true
        },
        "summary": "Update privileged specified attributes of a specific server"
      }
    },
    "/servers/{serverid}/privilegedattributes/{attributekey}": {
      "delete": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Key of the attribute",
            "in": "path",
            "name": "attributekey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful delete"
          },
          "404": {
            "description": "Server not found"
          }
        },
        "tags": [
          "Global"
        ],
        "description": "Delete privileged attribute with the specified key of a specific server. Required permission: global 'servers'.",
        "operationId": "deleteServerPrivilegedAttribute",
        "summary": "Delete specific privileged attribute of a specific server"
      }
    },
    "/servers/{serverid}/sessions": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Nonce to identify the browser/webserver session",
            "in": "header",
            "name": "X-nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginStatus"
                }
              }
            },
            "description": "Current login status."
          }
        },
        "tags": [
          "Sessions",
          "HTML"
        ],
        "description": "Based on the browser/webserver session identifier, check if the user is logged in and return the associated username. This also returns additional information: the data for the login qr code and whether or not a loggin can be provoked directly from the server. Required permission: 'sessions'.",
        "operationId": "getSession",
        "summary": "Check if the user is logged in"
      }
    },
    "/servers/{serverid}/sessions/html/enrol": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Nonce to identify the browser/webserver session",
            "in": "header",
            "name": "X-nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name to forward to the nextAuth app for this account",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name to register this user under",
            "in": "query",
            "name": "userid",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Generated HTML."
          }
        },
        "tags": [
          "HTML"
        ],
        "description": "Generate HTML to enrol a new user. Required permission: 'sessions'.\n",
        "operationId": "getHtmlEnrol",
        "summary": "Generate HTML to enrol a new user"
      }
    },
    "/servers/{serverid}/sessions/html/footer": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Nonce to identify the browser/webserver session",
            "in": "header",
            "name": "X-nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Generated HTML."
          }
        },
        "tags": [
          "HTML"
        ],
        "description": "HTML to add to footer of HTML page. Required permission: 'sessions'.\n",
        "operationId": "getHtmlFooter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HtmlFooterBody"
              }
            }
          },
          "description": "Additional sessions that should be monitored through the websocket."
        },
        "summary": "Generic HTML to add to footer. Required for login/logout/enrol functionality."
      }
    },
    "/servers/{serverid}/sessions/html/login": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Nonce to identify the browser/webserver session",
            "in": "header",
            "name": "X-nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Generated HTML."
          }
        },
        "tags": [
          "HTML"
        ],
        "description": "Generate HTML for the login block. Required permission: 'sessions'.\n",
        "operationId": "getHtmlLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserContext"
              }
            }
          },
          "description": "Session information to display to user."
        },
        "summary": "Generate HTML for the login block"
      }
    },
    "/servers/{serverid}/sessions/logout": {
      "post": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Nonce to identify the browser/webserver session",
            "in": "header",
            "name": "X-nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Sessions",
          "HTML"
        ],
        "description": "Force a logout on the given session. Required permission: 'sessions'.",
        "operationId": "logout",
        "summary": "Force a logout on the given session"
      }
    },
    "/servers/{serverid}/sessions/provokelogin": {
      "post": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Nonce to identify the browser/webserver session",
            "in": "header",
            "name": "X-nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Sessions"
        ],
        "description": "Push a login to the nextAuth app for the user to confirm, based on last account that successfully logged in for the given session. Required permission: 'sessions'.\n",
        "operationId": "provokeLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserContext"
              }
            }
          },
          "description": "Session information to display to user."
        },
        "summary": "Push a login confirmation to the user's app"
      }
    },
    "/servers/{serverid}/sessions/qr/enrol": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Nonce to identify the browser/webserver session",
            "in": "header",
            "name": "X-nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name to forward to the nextAuth app for this account",
            "in": "query",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name to register this user under",
            "in": "query",
            "name": "userid",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "'png' for a PNG image, not set for raw data in the qr code",
            "in": "query",
            "name": "img",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "size in pixels of the qr code, defaults to 500",
            "in": "query",
            "name": "s",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "application/octet-stream": {}
            },
            "description": "Raw byte array containing the enrol qr code data (either raw or as a PNG image)."
          }
        },
        "tags": [
          "Registration"
        ],
        "description": "Returns the data for an enrol qr code. Required permission: 'sessions'.",
        "operationId": "getQrEnrol",
        "summary": "Generate data for an enrol qr code"
      }
    },
    "/servers/{serverid}/sessions/qr/login": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Nonce to identify the browser/webserver session",
            "in": "header",
            "name": "X-nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "\"png\" for a PNG image, not set for raw data in the qr code",
            "in": "query",
            "name": "img",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "size in pixels of the qr code, defaults to 500",
            "in": "query",
            "name": "s",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "application/octet-stream": {}
            },
            "description": "Raw byte array containing the login qr code data (either raw or as a PNG image)."
          }
        },
        "tags": [
          "Sessions"
        ],
        "description": "Returns the data for a login qr code. Required permission: 'sessions'.",
        "operationId": "getQrLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserContext"
              }
            }
          },
          "description": "Session information to display to user."
        },
        "summary": "Generate data for a login qr code"
      }
    },
    "/servers/{serverid}/sessions/registeruser": {
      "post": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Nonce to identify the browser/webserver session",
            "in": "header",
            "name": "X-nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Username to register",
            "in": "query",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Users",
          "Registration"
        ],
        "description": "Register a user for the currently logged in account. You can also directly pass a user name when generating an ENROL qr code. Required permission: 'users'.",
        "operationId": "registerUser",
        "summary": "Register a userid for the currently logged in account."
      }
    },
    "/servers/{serverid}/sessions/transactions": {
      "post": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Nonce to identify the browser/webserver session",
            "in": "header",
            "name": "X-nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionId"
                }
              }
            },
            "description": "ok"
          },
          "403": {
            "description": "no account associated with this session"
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Create a transaction for approval within the current session. Required permission: 'sessions'.",
        "operationId": "createTransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Transaction"
              }
            }
          },
          "required": true
        },
        "summary": "Create a transaction to be approved within the current session."
      }
    },
    "/servers/{serverid}/transactions/{transactionid}": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Base64 encoded transaction id",
            "in": "path",
            "name": "transactionid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResult"
                }
              }
            },
            "description": "ok"
          },
          "404": {
            "description": "no transaction with given id found"
          }
        },
        "tags": [
          "Transactions"
        ],
        "description": "Get transaction result for a given transaction id. Required permission: 'sessions'.",
        "operationId": "getTransactionResult",
        "summary": "Get transaction result for a given transaction."
      }
    },
    "/servers/{serverid}/users": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter users based on an attribute. Takes the format *attributename=attributevalue*. You can filter for multiple values at once, e.g. *group=in:group1,group2*",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Search for a username LIKE %search%",
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit the number of results",
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Offset in the result list",
            "in": "query",
            "name": "marker",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Sort the results by column. You can also specify ascending (default if not specified) or descending, e.g., *column:asc* . You can also sort by multiple columns, e.g., *column1:desc,column2:asc*",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Users"
                }
              }
            },
            "description": "Array of users"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Returns an array of arrays containing all accounts corresponding to all users. Required permission: 'users'.",
        "operationId": "getUsers",
        "summary": "Get all users"
      }
    },
    "/servers/{serverid}/users/{userid}": {
      "delete": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful delete"
          },
          "404": {
            "description": "User not found"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Delete a user. Required permission: 'users'.",
        "operationId": "deleteUser",
        "summary": "Delete a specific user"
      }
    },
    "/servers/{serverid}/users/{userid}/accounts": {
      "delete": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful delete"
          }
        },
        "tags": [
          "Users",
          "Accounts"
        ],
        "description": "Delete all accounts corresponding to this user. The user itself is not deleted. Required permission: 'accounts' or 'users'.",
        "operationId": "deleteUserAccounts",
        "summary": "Delete all accounts of a specific user"
      },
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit the number of results",
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Offset in the result list",
            "in": "query",
            "name": "marker",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Sort the results by column. You can also specify ascending (default if not specified) or descending, e.g., *column:asc* . You can also sort by multiple columns, e.g., *column1:desc,column2:asc*",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Accounts"
                }
              }
            },
            "description": "Array of accounts"
          }
        },
        "tags": [
          "Users",
          "Accounts"
        ],
        "description": "Returns an array containing all accounts corresponding to this user. Required permission: 'sessions' or 'users'.",
        "operationId": "getUser",
        "summary": "Get all accounts of a specific user"
      }
    },
    "/servers/{serverid}/users/{userid}/attributes": {
      "delete": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful delete"
          },
          "404": {
            "description": "User not found"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Delete all attributes of a specific user. Required permission: 'users'.",
        "operationId": "deleteUserAttributes",
        "summary": "Delete all attributes of a specific user"
      },
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Array of attributes"
          },
          "404": {
            "description": "User not found"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Returns an array containing all attributes corresponding to this user. Required permission: 'sessions' or 'users'.",
        "operationId": "getUserAttributes",
        "summary": "Get all attributes of a specific user"
      },
      "post": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Set the attributes of a specific user. Prior attributes with keys that are not provided in the body of the request will be deleted. Creates the user if not exists. Required permission: 'users'.",
        "operationId": "setUserAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "Array of attributes",
          "required": true
        },
        "summary": "Set all attributes of a specific user"
      },
      "put": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful update"
          },
          "404": {
            "description": "User not found"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Update the specified attributes of a specific user. Prior attributes with keys that are not provided in the body of the request will not be deleted. Required permission: 'users'.",
        "operationId": "updateUserAttributes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "description": "Array of attributes",
          "required": true
        },
        "summary": "Update specified attributes of a specific user"
      }
    },
    "/servers/{serverid}/users/{userid}/attributes/{attributekey}": {
      "delete": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Key of the attribute",
            "in": "path",
            "name": "attributekey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "On successful delete"
          },
          "404": {
            "description": "User not found"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Delete attribute with the specified key of a specific user. Required permission: 'users'.",
        "operationId": "deleteUserAttribute",
        "summary": "Delete specific attribute of a specific user"
      }
    },
    "/servers/{serverid}/users/{userid}/provokelogin": {
      "post": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Nonce to identify the browser/webserver session",
            "in": "header",
            "name": "X-nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Sessions"
        ],
        "description": "Push a login to the nextAuth app for the user to confirm, based on the given userid. Required permission: 'sessions' or 'users'.",
        "operationId": "provokeLoginOnUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserContext"
              }
            }
          },
          "description": "Session information to display to user."
        },
        "summary": "Push a login confirmation to the user's app"
      }
    },
    "/servers/{serverid}/users/{userid}/role": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            },
            "description": "User role (base 64 encoded)"
          },
          "404": {
            "description": "User not found, no role found for user"
          }
        },
        "tags": [
          "Management"
        ],
        "description": "Get role for a specific user. Required permission: 'users'.",
        "operationId": "getUserRole",
        "summary": "Get role for a specific user."
      },
      "post": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "User name",
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "role": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "User role (base 64 encoded)"
          },
          "404": {
            "description": "User not found"
          }
        },
        "tags": [
          "Management"
        ],
        "description": "Get or create a role for a specific user. Required permission: 'users'.",
        "operationId": "getOrCreateUserRole",
        "summary": "Get or create a role for a specific user."
      }
    },
    "/servers/{serverid}/vash": {
      "get": {
        "parameters": [
          {
            "description": "Base64 encoded server id",
            "in": "path",
            "name": "serverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {},
              "application/octet-stream": {}
            },
            "description": "Raw byte array containing the visual hash of this server as a PNG image."
          },
          "404": {
            "description": "Server not found"
          }
        },
        "tags": [
          "Registration"
        ],
        "description": "Returns a PNG of the visual hash corresponding to this server. This visual hash is used during the registration process (optional), for the user to verify that (s)he is registering with the right server in the nextAuth app. For single-server nextAuth-enabled apps (white label or mobile SDK), the public key of the server is typically pinned within the app and hence this visual hash is not displayed to the user. Required permission: 'sessions' or 'servers'.",
        "operationId": "getServerVash",
        "summary": "Visual hash of this server"
      }
    }
  },
  "components": {
    "requestBodies": {
      "UserContext": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UserContext"
            }
          }
        },
        "description": "Session information to display to user."
      },
      "setGlobalAttributesAttributes": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object"
            }
          }
        },
        "description": "Array of attributes",
        "required": true
      }
    },
    "schemas": {
      "Account": {
        "properties": {
          "blocked": {
            "description": "True if the account is blocked, false otherwise",
            "type": "boolean"
          },
          "clientVersion": {
            "description": "Version nextAuth client in the app",
            "type": "string"
          },
          "created": {
            "description": "Timestamp of creation",
            "format": "int64",
            "type": "integer"
          },
          "description": {
            "description": "Description of the account (e.g. device name)",
            "type": "string"
          },
          "id": {
            "description": "Account id",
            "type": "integer"
          },
          "lastlogin": {
            "description": "Timestamp of last login",
            "format": "int64",
            "type": "integer"
          },
          "lastprovoke": {
            "description": "Timestamp of last provoke (push message)",
            "format": "int64",
            "type": "integer"
          },
          "userid": {
            "description": "User name",
            "type": "string"
          }
        },
        "required": [
          "description",
          "id"
        ],
        "type": "object"
      },
      "Accounts": {
        "properties": {
          "accounts": {
            "description": "Array of accounts",
            "items": {
              "$ref": "#/components/schemas/Account"
            },
            "type": "array"
          },
          "totalnumber": {
            "description": "total number of accounts",
            "type": "integer"
          }
        },
        "required": [
          "accounts"
        ],
        "type": "object"
      },
      "ApiKey": {
        "properties": {
          "apikey": {
            "description": "API key",
            "type": "string"
          },
          "description": {
            "description": "Description",
            "type": "string"
          },
          "role": {
            "description": "Role id",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApiKeys": {
        "properties": {
          "apikeys": {
            "description": "Array of apikeys",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            },
            "type": "array"
          }
        },
        "required": [
          "apikeys"
        ],
        "type": "object"
      },
      "HtmlFooterBody": {
        "properties": {
          "sessions": {
            "items": {
              "$ref": "#/components/schemas/ServerSession"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "LoginStatus": {
        "properties": {
          "accountid": {
            "description": "Account id",
            "type": "integer"
          },
          "canprovoke": {
            "description": "True if a login can be pushed from the server, false otherwise",
            "type": "boolean"
          },
          "hsid": {
            "description": "Converted session id, used by the websockets",
            "type": "string"
          },
          "loggedin": {
            "description": "True if the user is loggedin, false otherwise",
            "type": "boolean"
          },
          "loginqrdata": {
            "description": "Base64 encoded data that is represented in the login qr code",
            "type": "string"
          },
          "pk": {
            "description": "Base64 encoded public key of the nextAuth app. This uniquely identifies the account on the nextAuth app, regardless of the username",
            "type": "string"
          },
          "userid": {
            "description": "User name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Permission": {
        "properties": {
          "acl": {
            "description": "Comma-seperated list of permissions",
            "type": "string"
          },
          "role": {
            "description": "Role id",
            "type": "string"
          },
          "server": {
            "description": "Base64 encoded server id",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Permissions": {
        "properties": {
          "permissions": {
            "description": "Array of permissions",
            "items": {
              "$ref": "#/components/schemas/Permission"
            },
            "type": "array"
          }
        },
        "required": [
          "permissions"
        ],
        "type": "object"
      },
      "Role": {
        "properties": {
          "role": {
            "description": "Base64 encode role",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Server": {
        "properties": {
          "accountCount": {
            "description": "Number of accounts registered with this server",
            "type": "integer"
          },
          "appandroid": {
            "description": "URL of the app in Google Play",
            "type": "string"
          },
          "appios": {
            "description": "URL of the app in the App Store",
            "type": "string"
          },
          "appname": {
            "description": "name of the app",
            "type": "string"
          },
          "appurl": {
            "description": "URL (prefix) to launch the app",
            "type": "string"
          },
          "lastLogin": {
            "description": "Last login on this server",
            "format": "int64",
            "type": "integer"
          },
          "logo": {
            "description": "Base 64 encoded logo",
            "type": "string"
          },
          "owner": {
            "description": "Owner id",
            "type": "integer"
          },
          "pinTimeout": {
            "description": "Time (minutes) since the last time the user entered his PIN, that the user is not requested a PIN at login. -1 means that the user is never asked for a PIN before logging in, 0 means that the user is asked every time he wants to login",
            "type": "integer"
          },
          "pinTransTimeout": {
            "description": "Time (minutes) since the last time the user entered his PIN, that the user is not requested a PIN at transaction approval. -1 means that the user is never asked for a PIN before approving a transaction, 0 means that the user is asked every time he wants to approve a transaction",
            "type": "integer"
          },
          "pingTime": {
            "description": "Time (seconds) that the nextAuth app has before it needs to reply to a ping request from the nextAuth server (continuous authentication)",
            "type": "integer"
          },
          "serverFlags": {
            "description": "Server flags",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "serverName": {
            "description": "Server name",
            "type": "string"
          },
          "serverid": {
            "description": "Base64 encoded id of the nextAuth server",
            "type": "string"
          },
          "serverpk": {
            "description": "Base64 encoded public key of the nextAuth server",
            "type": "string"
          },
          "siteurl": {
            "description": "URL of the main website",
            "type": "string"
          },
          "wsurl": {
            "description": "Websocket URL",
            "type": "string"
          }
        },
        "required": [
          "logo",
          "pinTimeout",
          "pinTransTimeout",
          "pingTime",
          "serverFlags",
          "serverName",
          "serverid",
          "serverpk"
        ],
        "type": "object"
      },
      "ServerSession": {
        "properties": {
          "serverid": {
            "description": "Server Id",
            "type": "string"
          },
          "sessionid": {
            "description": "Base64 encoded nonce",
            "type": "string"
          }
        },
        "required": [
          "serverid",
          "sessionid"
        ],
        "type": "object"
      },
      "Servers": {
        "properties": {
          "servers": {
            "description": "Array of servers",
            "items": {
              "$ref": "#/components/schemas/Server"
            },
            "type": "array"
          },
          "totalnumber": {
            "description": "total number of users",
            "type": "integer"
          }
        },
        "required": [
          "servers"
        ],
        "type": "object"
      },
      "SessionInfo": {
        "properties": {
          "info": {
            "description": "Information to display to user",
            "type": "object"
          },
          "ip": {
            "description": "IP address",
            "type": "string"
          },
          "logo": {
            "description": "Base64 encoded logo",
            "format": "byte",
            "type": "string"
          },
          "useragent": {
            "description": "User agent of the browser",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Transaction": {
        "properties": {
          "amount": {
            "type": "string"
          },
          "benificiary": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "TransactionId": {
        "properties": {
          "tid": {
            "description": "Base64 encoded transaction id",
            "type": "string"
          }
        },
        "type": "object"
      },
      "TransactionResult": {
        "properties": {
          "tstatus": {
            "description": "0 = new, 1 = approved, 2 = declined",
            "type": "string"
          }
        },
        "type": "object"
      },
      "User": {
        "properties": {
          "lastlogin": {
            "description": "(aggregated) last login over all accounts",
            "format": "int64",
            "type": "integer"
          },
          "numberaccounts": {
            "description": "(aggregated) number of accounts",
            "type": "integer"
          },
          "userid": {
            "description": "User name",
            "type": "string"
          }
        },
        "required": [
          "userid"
        ],
        "type": "object"
      },
      "UserContext": {
        "properties": {
          "announceinfo": {
            "$ref": "#/components/schemas/SessionInfo"
          },
          "sessioninfo": {
            "$ref": "#/components/schemas/SessionInfo"
          }
        },
        "type": "object"
      },
      "Users": {
        "properties": {
          "totalnumber": {
            "description": "total number of users",
            "type": "integer"
          },
          "users": {
            "description": "Array of users",
            "items": {
              "$ref": "#/components/schemas/User"
            },
            "type": "array"
          }
        },
        "required": [
          "users"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "api_key": {
        "description": "API Key for a specific (virtual) server.",
        "in": "header",
        "name": "X-apikey",
        "type": "apiKey"
      },
      "role_id": {
        "description": "ID of the role you want to impersonate (requires that the role associated with the API key passed in the header above has global 'root' or global 'setrid' permissions).",
        "in": "header",
        "name": "X-su",
        "type": "apiKey"
      }
    }
  },
  "security": [
    {
      "api_key": []
    },
    {
      "api_key": [],
      "role_id": []
    }
  ],
  "tags": [
    {
      "description": "Basic calls that provide you with all the necessary HTML to include into your webpage for logging in (sessions), enrolling new users (registration) and logging out (sessions).",
      "name": "HTML"
    },
    {
      "description": "Everything about session management and login.",
      "name": "Sessions"
    },
    {
      "description": "Enrolling new users or coupling an exising account to a user.",
      "name": "Registration"
    },
    {
      "externalDocs": {
        "url": "https://doc.nextauth.com/introduction/concepts.html#users"
      },
      "description": "Everything about users.",
      "name": "Users"
    },
    {
      "externalDocs": {
        "url": "https://doc.nextauth.com/introduction/concepts.html#accounts"
      },
      "description": "Everything about accounts (app instances).",
      "name": "Accounts"
    },
    {
      "description": "Everything about transactions.",
      "name": "Transactions"
    },
    {
      "externalDocs": {
        "url": "https://doc.nextauth.com/introduction/concepts.html#servers"
      },
      "description": "Everything about your servers.",
      "name": "Servers"
    },
    {
      "description": "Everything for managing the access and authorisations to the servers themselves: permissions, roles and apikeys.",
      "name": "Management"
    },
    {
      "description": "Everything about global and privileged server attributes. Required permission: global 'servers'.",
      "name": "Global"
    }
  ]
}