{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "edai-aero@faa.gov",
      "name": "Airport Status Web Service (ASWS)",
      "url": "http://fly.faa.gov"
    },
    "description": "FAA Airport Status Web Service API",
    "license": {
      "name": "Creative Commons 0 (CC0)",
      "url": "https://creativecommons.org/publicdomain/zero/1.0/legalcode"
    },
    "title": "Airport Status Web Service",
    "version": "1.1.0",
    "x-jentic-source-url": "https://api.swaggerhub.com/apis/FAA/ASWS/1.1.0/swagger.json"
  },
  "servers": [
    {
      "url": "https://soa.smext.faa.gov/asws"
    }
  ],
  "paths": {
    "/api/airport/delays": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delays"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Delays"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Airport delays from http://www.fly.faa.gov are unavailable"
          },
          "500": {
            "description": "Airport information from http://www.fly.faa.gov returned an error response"
          }
        },
        "tags": [
          "FAA Airport Status Service"
        ],
        "description": "The airport status is retrieved from fly.faa.gov and is provided in a format that can be used by applications that require airport status data.Delays will be returned for the following airports: BOS, LGA, TEB, EWR, JFK, PHL, PIT, IAD, BWI, DCA, RDU, CLT, ATL, MCO, TPA, MCO, FLL, MIA, DTW, CLE, MDW, ORD, IND, CVG, BNA, MEM, STL, MCI, MSP, DFW, IAH, DEN, SLC, PHX, LAS, SAN, LAX, SJC, SFO, PDX, SEA",
        "operationId": "getDelays",
        "summary": "Get airport delay summary for major US national airports."
      }
    },
    "/api/airport/status/{airportCode}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "airportCode",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirportStatus"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AirportStatus"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Delays are available only for major United States airports"
          }
        },
        "tags": [
          "FAA Airport Status Service"
        ],
        "description": "The airport status is retrieved from fly.faa.gov and is provided in a format that can be used by applications that require airport status data.Available airports include the following: BOS, LGA, TEB, EWR, JFK, PHL, PIT, IAD, BWI, DCA, RDU, CLT, ATL, MCO, TPA, MCO, FLL, MIA, DTW, CLE, MDW, ORD, IND, CVG, BNA, MEM, STL, MCI, MSP, DFW, IAH, DEN, SLC, PHX, LAS, SAN, LAX, SJC, SFO, PDX, SEA",
        "operationId": "getAirportStatus",
        "summary": "Get airport status based on path parameter provided on the API call. The path parameter is an IATA airport code."
      }
    }
  },
  "components": {
    "schemas": {
      "AirportStatus": {
        "properties": {
          "city": {
            "type": "string",
            "xml": {
              "name": "City"
            }
          },
          "delay": {
            "default": false,
            "type": "boolean",
            "xml": {
              "name": "Delay"
            }
          },
          "delayCount": {
            "default": 0,
            "type": "integer",
            "xml": {
              "name": "DelayCount"
            }
          },
          "iata": {
            "type": "string",
            "xml": {
              "name": "IATA"
            }
          },
          "icao": {
            "type": "string",
            "xml": {
              "name": "ICAO"
            }
          },
          "name": {
            "type": "string",
            "xml": {
              "name": "Name"
            }
          },
          "state": {
            "type": "string",
            "xml": {
              "name": "State"
            }
          },
          "status": {
            "items": {
              "$ref": "#/components/schemas/Status"
            },
            "type": "array",
            "xml": {
              "name": "Status"
            }
          },
          "supportedAirport": {
            "type": "boolean",
            "xml": {
              "name": "SupportedAirport"
            }
          },
          "weather": {
            "$ref": "#/components/schemas/Weather"
          }
        },
        "required": [
          "city",
          "iata",
          "supportedAirport",
          "delay",
          "delayCount",
          "icao",
          "name",
          "state",
          "weather"
        ],
        "type": "object",
        "xml": {
          "name": "AirportStatus"
        }
      },
      "ArriveDepartDelay": {
        "properties": {
          "airport": {
            "type": "string",
            "xml": {
              "name": "airport"
            }
          },
          "maxTime": {
            "type": "string",
            "xml": {
              "name": "maxTime"
            }
          },
          "minTime": {
            "type": "string",
            "xml": {
              "name": "minTime"
            }
          },
          "reason": {
            "type": "string",
            "xml": {
              "name": "reason"
            }
          }
        },
        "required": [
          "airport",
          "maxTime",
          "reason",
          "minTime"
        ],
        "type": "object",
        "xml": {
          "name": "ArriveDepartDelay"
        }
      },
      "ArriveDepartDelays": {
        "properties": {
          "ArriveDepartDelay": {
            "items": {
              "$ref": "#/components/schemas/ArriveDepartDelay"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Closure": {
        "properties": {
          "airport": {
            "type": "string",
            "xml": {
              "name": "airport"
            }
          },
          "reason": {
            "type": "string",
            "xml": {
              "name": "reason"
            }
          },
          "reopen": {
            "type": "string",
            "xml": {
              "name": "reopen"
            }
          }
        },
        "required": [
          "airport",
          "reason",
          "reopen"
        ],
        "type": "object",
        "xml": {
          "name": "closure"
        }
      },
      "Closures": {
        "properties": {
          "Closure": {
            "items": {
              "$ref": "#/components/schemas/Closure"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Delays": {
        "properties": {
          "ArriveDepartDelays": {
            "items": {
              "$ref": "#/components/schemas/ArriveDepartDelays"
            },
            "type": "array"
          },
          "Closures": {
            "items": {
              "$ref": "#/components/schemas/Closures"
            },
            "type": "array"
          },
          "GroundDelays": {
            "items": {
              "$ref": "#/components/schemas/GroundDelays"
            },
            "type": "array"
          },
          "GroundStops": {
            "items": {
              "$ref": "#/components/schemas/GroundStops"
            },
            "type": "array"
          }
        },
        "type": "object",
        "xml": {
          "name": "Delays"
        }
      },
      "GroundDelay": {
        "properties": {
          "airport": {
            "type": "string",
            "xml": {
              "name": "airport"
            }
          },
          "avgTime": {
            "type": "string",
            "xml": {
              "name": "avgTime"
            }
          },
          "reason": {
            "type": "string",
            "xml": {
              "name": "reason"
            }
          }
        },
        "required": [
          "airport",
          "avgTime",
          "reason"
        ],
        "type": "object",
        "xml": {
          "name": "GroundDelay"
        }
      },
      "GroundDelays": {
        "properties": {
          "GroundDelay": {
            "items": {
              "$ref": "#/components/schemas/GroundDelay"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "GroundStop": {
        "properties": {
          "airport": {
            "type": "string",
            "xml": {
              "name": "airport"
            }
          },
          "endTime": {
            "type": "string",
            "xml": {
              "name": "endTime"
            }
          },
          "reason": {
            "type": "string",
            "xml": {
              "name": "reason"
            }
          }
        },
        "required": [
          "airport",
          "endTime",
          "reason"
        ],
        "type": "object",
        "xml": {
          "name": "GroundStop"
        }
      },
      "GroundStops": {
        "properties": {
          "GroundStop": {
            "items": {
              "$ref": "#/components/schemas/GroundStop"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Status": {
        "properties": {
          "avgDelay": {
            "type": "string",
            "xml": {
              "name": "AvgDelay"
            }
          },
          "closureBegin": {
            "type": "string",
            "xml": {
              "name": "ClosureBegin"
            }
          },
          "closureEnd": {
            "type": "string",
            "xml": {
              "name": "ClosureEnd"
            }
          },
          "endTime": {
            "type": "string",
            "xml": {
              "name": "EndTime"
            }
          },
          "maxDelay": {
            "type": "string",
            "xml": {
              "name": "MaxDelay"
            }
          },
          "minDelay": {
            "type": "string",
            "xml": {
              "name": "MinDelay"
            }
          },
          "reason": {
            "type": "string",
            "xml": {
              "name": "Reason"
            }
          },
          "trend": {
            "type": "string",
            "xml": {
              "name": "Trend"
            }
          },
          "type": {
            "type": "string",
            "xml": {
              "name": "Type"
            }
          }
        },
        "required": [
          "avgDelay",
          "closureBegin",
          "closureEnd",
          "endTime",
          "maxDelay",
          "minDelay",
          "reason",
          "trend",
          "type"
        ],
        "type": "object",
        "xml": {
          "name": "Status"
        }
      },
      "Weather": {
        "properties": {
          "content": {
            "items": {
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object",
        "xml": {
          "name": "Weather"
        }
      }
    }
  },
  "tags": [
    {
      "name": "FAA Airport Status Service"
    }
  ]
}