{
  "openapi": "3.0.3",
  "info": {
    "title": "Winston AI API",
    "version": "2.0.0",
    "description": "Winston AI provides AI content detection, plagiarism checking, fact checking, AI image detection, and text comparison. The API analyzes text to determine whether it was written by a human or AI.",
    "x-jentic-source-url": "https://docs.gowinston.ai/api-reference/v2/ai-content-detection/post",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.gowinston.ai"
    }
  ],
  "paths": {
    "/v2/ai-content-detection": {
      "post": {
        "operationId": "detectAiContent",
        "summary": "AI text detection",
        "description": "Analyzes text to estimate likelihood of AI generation vs human authorship",
        "tags": [
          "Detection"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 300,
                    "maxLength": 150000
                  },
                  "file": {
                    "type": "string",
                    "description": "Public URL to PDF/DOC/DOCX"
                  },
                  "website": {
                    "type": "string",
                    "description": "Public website URL to scan"
                  },
                  "version": {
                    "type": "string",
                    "default": "4.14"
                  },
                  "sentences": {
                    "type": "boolean",
                    "default": true
                  },
                  "language": {
                    "type": "string",
                    "description": "2-letter language code, default auto-detect"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detection result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/plagiarism": {
      "post": {
        "operationId": "detectPlagiarism",
        "summary": "Plagiarism detection",
        "description": "Checks text against 400 billion webpages for plagiarism",
        "tags": [
          "Detection"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "excluded_sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "language": {
                    "type": "string",
                    "default": "auto"
                  },
                  "country": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plagiarism result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlagiarismResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/ai-image-detection": {
      "post": {
        "operationId": "detectAiImage",
        "summary": "AI image detection",
        "description": "Analyzes images to distinguish human-created from AI-generated",
        "tags": [
          "Detection"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "file": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image detection result"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fact-checker": {
      "post": {
        "operationId": "factCheck",
        "summary": "Fact checker",
        "description": "Validates content accuracy against trusted sources",
        "tags": [
          "Detection"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fact check result"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/text-compare": {
      "post": {
        "operationId": "compareTexts",
        "summary": "Text compare",
        "description": "Performs side-by-side analysis of two texts returning similarity scores",
        "tags": [
          "Detection"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text1",
                  "text2"
                ],
                "properties": {
                  "text1": {
                    "type": "string"
                  },
                  "text2": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comparison result"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DetectionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "score": {
            "type": "number",
            "description": "Human likelihood 0-100"
          },
          "sentences": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string"
                },
                "score": {
                  "type": "number"
                }
              }
            }
          },
          "input": {
            "type": "string"
          },
          "attack_detected": {
            "type": "object"
          },
          "readability_score": {
            "type": "number"
          },
          "credits_used": {
            "type": "integer"
          },
          "credits_remaining": {
            "type": "integer"
          },
          "version": {
            "type": "string"
          },
          "language": {
            "type": "string"
          }
        }
      },
      "PlagiarismResponse": {
        "type": "object",
        "properties": {
          "sequences": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "credits_used": {
            "type": "integer"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Detection"
    }
  ]
}
