{
  "openapi": "3.0.3",
  "info": {
    "title": "Smartcar API",
    "description": "Lock and unlock vehicles and get data like odometer reading and location. Works on most new cars. Smartcar provides a unified API to read vehicle data and send commands to vehicles across brands.",
    "version": "2.0.0",
    "x-jentic-source-url": "https://smartcar.com/docs/",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.smartcar.com/v2.0",
      "description": "Smartcar API Production Server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Vehicles",
      "description": "Vehicle data and information"
    },
    {
      "name": "Control",
      "description": "Vehicle control commands"
    },
    {
      "name": "EV",
      "description": "Electric vehicle specific endpoints"
    },
    {
      "name": "Users",
      "description": "User and connection management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscriptions for vehicle events"
    },
    {
      "name": "Compatibility",
      "description": "Vehicle compatibility checks"
    }
  ],
  "paths": {
    "/vehicles": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List user vehicles",
        "description": "Retrieve a list of vehicles associated with the authenticated user.",
        "operationId": "listVehicles",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of vehicles to return per page (max 50)",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Index to start the vehicles list at",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of vehicle IDs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or expired access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get vehicle info",
        "description": "Retrieve basic information about a vehicle including make, model, and year.",
        "operationId": "getVehicleInfo",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "description": "Smartcar vehicle ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/vin": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get VIN",
        "description": "Retrieve the Vehicle Identification Number (VIN) of a vehicle.",
        "operationId": "getVin",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VIN information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VinResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/odometer": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get odometer",
        "description": "Retrieve the odometer reading of a vehicle.",
        "operationId": "getOdometer",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Odometer reading",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OdometerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/location": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get location",
        "description": "Retrieve the last known location of a vehicle.",
        "operationId": "getLocation",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle location",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/fuel": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get fuel tank level",
        "description": "Retrieve the fuel tank level of a vehicle.",
        "operationId": "getFuel",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fuel tank level",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/tires/pressure": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get tire pressure",
        "description": "Retrieve the tire pressure of all tires.",
        "operationId": "getTirePressure",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tire pressure data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TirePressureResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/engine/oil": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get engine oil life",
        "description": "Retrieve the remaining engine oil life.",
        "operationId": "getEngineOil",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Engine oil life",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EngineOilResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/battery": {
      "get": {
        "tags": [
          "EV"
        ],
        "summary": "Get EV battery level",
        "description": "Retrieve the battery level and range for an electric vehicle.",
        "operationId": "getBatteryLevel",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Battery level and range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatteryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/charge": {
      "get": {
        "tags": [
          "EV"
        ],
        "summary": "Get charging status",
        "description": "Retrieve the current charging status of an electric vehicle.",
        "operationId": "getChargeStatus",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charging status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/charge/start": {
      "post": {
        "tags": [
          "EV"
        ],
        "summary": "Start charging",
        "description": "Start charging the electric vehicle.",
        "operationId": "startCharge",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge command accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/charge/stop": {
      "post": {
        "tags": [
          "EV"
        ],
        "summary": "Stop charging",
        "description": "Stop charging the electric vehicle.",
        "operationId": "stopCharge",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stop charge command accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/lock": {
      "get": {
        "tags": [
          "Control"
        ],
        "summary": "Get lock status",
        "description": "Retrieve the lock status of the vehicle.",
        "operationId": "getLockStatus",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lock status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LockStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Control"
        ],
        "summary": "Lock vehicle",
        "description": "Send a command to lock all doors of the vehicle.",
        "operationId": "lockVehicle",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lock command accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/unlock": {
      "post": {
        "tags": [
          "Control"
        ],
        "summary": "Unlock vehicle",
        "description": "Send a command to unlock all doors of the vehicle.",
        "operationId": "unlockVehicle",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unlock command accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/disconnect": {
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Disconnect vehicle",
        "description": "Disconnect a vehicle from the Smartcar platform, revoking access.",
        "operationId": "disconnectVehicle",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle disconnected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/vehicles/{vehicleId}/permissions": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get vehicle permissions",
        "description": "Retrieve the list of permissions granted for a vehicle.",
        "operationId": "getPermissions",
        "parameters": [
          {
            "name": "vehicleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permissions list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "List all registered webhook subscriptions.",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Subscribe to a webhook for vehicle events.",
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Unsubscribe from a webhook.",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/compatibility": {
      "get": {
        "tags": [
          "Compatibility"
        ],
        "summary": "Check compatibility by VIN",
        "description": "Check if a specific vehicle is compatible with Smartcar by VIN.",
        "operationId": "checkCompatibility",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "vin",
            "in": "query",
            "required": true,
            "description": "Vehicle Identification Number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Space-separated list of permissions to check",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "Two-letter country code",
            "schema": {
              "type": "string",
              "default": "US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compatibility check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompatibilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization code flow. Access tokens expire after 2 hours and can be refreshed using the refresh token.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://connect.smartcar.com/oauth/authorize",
            "tokenUrl": "https://auth.smartcar.com/oauth/token",
            "scopes": {
              "read_vehicle_info": "Read basic vehicle info",
              "read_vin": "Read VIN",
              "read_odometer": "Read odometer",
              "read_location": "Read location",
              "read_fuel": "Read fuel level",
              "read_tires": "Read tire pressure",
              "read_engine_oil": "Read engine oil life",
              "read_battery": "Read EV battery level",
              "read_charge": "Read EV charge status",
              "control_charge": "Start/stop EV charging",
              "control_security": "Lock/unlock vehicle"
            }
          }
        }
      },
      "BasicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication using application Client ID and Client Secret for compatibility checks"
      }
    },
    "schemas": {
      "VehicleListResponse": {
        "type": "object",
        "properties": {
          "vehicles": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Array of vehicle IDs"
          },
          "paging": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "description": "Total number of vehicles"
              },
              "offset": {
                "type": "integer",
                "description": "Current offset"
              }
            }
          }
        }
      },
      "VehicleInfoResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Smartcar vehicle ID"
          },
          "make": {
            "type": "string",
            "description": "Vehicle make"
          },
          "model": {
            "type": "string",
            "description": "Vehicle model"
          },
          "year": {
            "type": "integer",
            "description": "Vehicle model year"
          }
        }
      },
      "VinResponse": {
        "type": "object",
        "properties": {
          "vin": {
            "type": "string",
            "description": "17-character VIN"
          }
        }
      },
      "OdometerResponse": {
        "type": "object",
        "properties": {
          "distance": {
            "type": "number",
            "format": "double",
            "description": "Odometer reading in kilometers"
          }
        }
      },
      "LocationResponse": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "FuelResponse": {
        "type": "object",
        "properties": {
          "range": {
            "type": "number",
            "format": "double",
            "description": "Remaining range in kilometers"
          },
          "percentRemaining": {
            "type": "number",
            "format": "double",
            "description": "Fuel level as a percentage"
          },
          "amountRemaining": {
            "type": "number",
            "format": "double",
            "description": "Amount of fuel remaining in liters"
          }
        }
      },
      "TirePressureResponse": {
        "type": "object",
        "properties": {
          "frontLeft": {
            "type": "number",
            "description": "Front left tire pressure in kPa"
          },
          "frontRight": {
            "type": "number",
            "description": "Front right tire pressure in kPa"
          },
          "backLeft": {
            "type": "number",
            "description": "Back left tire pressure in kPa"
          },
          "backRight": {
            "type": "number",
            "description": "Back right tire pressure in kPa"
          }
        }
      },
      "EngineOilResponse": {
        "type": "object",
        "properties": {
          "lifeRemaining": {
            "type": "number",
            "format": "double",
            "description": "Oil life remaining as a percentage"
          }
        }
      },
      "BatteryResponse": {
        "type": "object",
        "properties": {
          "percentRemaining": {
            "type": "number",
            "format": "double",
            "description": "Battery charge level as a percentage"
          },
          "range": {
            "type": "number",
            "format": "double",
            "description": "Estimated remaining range in kilometers"
          }
        }
      },
      "ChargeStatusResponse": {
        "type": "object",
        "properties": {
          "isPluggedIn": {
            "type": "boolean",
            "description": "Whether the vehicle is plugged in"
          },
          "state": {
            "type": "string",
            "enum": [
              "CHARGING",
              "FULLY_CHARGED",
              "NOT_CHARGING"
            ],
            "description": "Current charging state"
          }
        }
      },
      "LockStatusResponse": {
        "type": "object",
        "properties": {
          "isLocked": {
            "type": "boolean",
            "description": "Whether the vehicle is locked"
          },
          "doors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "frontLeft",
                    "frontRight",
                    "backLeft",
                    "backRight"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "LOCKED",
                    "UNLOCKED"
                  ]
                }
              }
            }
          }
        }
      },
      "ActionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "Command status"
          },
          "message": {
            "type": "string",
            "description": "Status message"
          }
        }
      },
      "PermissionsResponse": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of granted permission scopes"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook ID"
          },
          "vehicleId": {
            "type": "string",
            "format": "uuid",
            "description": "Vehicle ID"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Webhook callback URL"
          },
          "event": {
            "type": "string",
            "description": "Event type subscribed to"
          }
        }
      },
      "WebhookCreateRequest": {
        "type": "object",
        "required": [
          "vehicleId",
          "url",
          "event"
        ],
        "properties": {
          "vehicleId": {
            "type": "string",
            "format": "uuid",
            "description": "Vehicle to subscribe events for"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Callback URL"
          },
          "event": {
            "type": "string",
            "description": "Event type to subscribe to"
          }
        }
      },
      "WebhookListResponse": {
        "type": "object",
        "properties": {
          "webhooks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        }
      },
      "CompatibilityResponse": {
        "type": "object",
        "properties": {
          "compatible": {
            "type": "boolean",
            "description": "Whether the vehicle is compatible"
          },
          "reason": {
            "type": "string",
            "description": "Reason if not compatible"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "permission": {
                  "type": "string"
                },
                "capable": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Error type identifier"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          },
          "description": {
            "type": "string",
            "description": "Human-readable error description"
          },
          "resolution": {
            "type": "string",
            "description": "Suggested resolution for the error"
          },
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "requestId": {
            "type": "string",
            "description": "Unique request identifier for debugging"
          }
        }
      }
    }
  }
}
