{
  "openapi": "3.0.3",
  "info": {
    "title": "Browserless REST API",
    "version": "v2",
    "description": "Browserless provides headless browser automation REST APIs for scraping, screenshots, PDF generation, performance audits, and more.",
    "x-jentic-source-url": "https://docs.browserless.io/open-api"
  },
  "servers": [
    {
      "url": "https://production-sfo.browserless.io",
      "description": "Browserless Production (SFO)"
    }
  ],
  "paths": {
    "/scrape": {
      "post": {
        "operationId": "scrapePage",
        "summary": "Extract structured data with CSS selectors",
        "description": "Scrape a webpage by extracting structured data using CSS selectors.",
        "tags": [
          "Scraping"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scraping result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/content": {
      "post": {
        "operationId": "getPageContent",
        "summary": "Get fully rendered HTML content",
        "description": "Navigate to a URL or render HTML and return the fully rendered page content including JavaScript-rendered elements.",
        "tags": [
          "Content"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rendered HTML content",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/screenshot": {
      "post": {
        "operationId": "takeScreenshot",
        "summary": "Capture a screenshot of a page",
        "description": "Capture a full-page or viewport screenshot of a URL or rendered HTML content.",
        "tags": [
          "Screenshots"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScreenshotRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Screenshot image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/webp": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/pdf": {
      "post": {
        "operationId": "generatePdf",
        "summary": "Generate a PDF from a page",
        "description": "Generate a PDF document from a URL or HTML content with customizable options.",
        "tags": [
          "PDF"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated PDF document",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "operationId": "searchWeb",
        "summary": "Search the web",
        "description": "Search the web and optionally scrape result pages. Supports multiple sources including web, news, and images.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/unblock": {
      "post": {
        "operationId": "unblockPage",
        "summary": "Bypass CAPTCHAs and bot detection",
        "description": "Navigate to a URL while bypassing CAPTCHAs and bot detection mechanisms. Returns content, cookies, and/or screenshots.",
        "tags": [
          "Unblock"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnblockRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unblocked page data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnblockResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/performance": {
      "post": {
        "operationId": "runPerformanceAudit",
        "summary": "Run a Lighthouse performance audit",
        "description": "Run Lighthouse audits for SEO, accessibility, performance, and best practices on a URL.",
        "tags": [
          "Performance"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lighthouse audit results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "API token passed as a query parameter"
      }
    },
    "schemas": {
      "ScrapeRequest": {
        "type": "object",
        "required": [
          "url",
          "elements"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The webpage URL to scrape"
          },
          "elements": {
            "type": "array",
            "description": "Array of CSS selector objects to extract",
            "items": {
              "$ref": "#/components/schemas/SelectorElement"
            }
          },
          "waitForSelector": {
            "type": "string",
            "description": "CSS selector to wait for before scraping"
          },
          "waitForTimeout": {
            "type": "integer",
            "description": "Milliseconds to wait before scraping"
          },
          "bestAttempt": {
            "type": "boolean",
            "description": "Continue on async event failures"
          }
        }
      },
      "SelectorElement": {
        "type": "object",
        "required": [
          "selector"
        ],
        "properties": {
          "selector": {
            "type": "string",
            "description": "CSS selector to target elements"
          }
        }
      },
      "ScrapeResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScrapeDataItem"
            }
          }
        }
      },
      "ScrapeDataItem": {
        "type": "object",
        "properties": {
          "selector": {
            "type": "string",
            "description": "The CSS selector used"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScrapeResult"
            }
          }
        }
      },
      "ScrapeResult": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Element text content"
          },
          "html": {
            "type": "string",
            "description": "Element HTML content"
          },
          "attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HtmlAttribute"
            }
          },
          "height": {
            "type": "number",
            "description": "Element height in pixels"
          },
          "width": {
            "type": "number",
            "description": "Element width in pixels"
          },
          "top": {
            "type": "number",
            "description": "Top position coordinate"
          },
          "left": {
            "type": "number",
            "description": "Left position coordinate"
          }
        }
      },
      "HtmlAttribute": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "ContentRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Target webpage URL to render"
          },
          "html": {
            "type": "string",
            "description": "Inline HTML content to render (alternative to url)"
          },
          "waitForSelector": {
            "type": "string",
            "description": "CSS selector to wait for"
          },
          "waitForTimeout": {
            "type": "integer",
            "description": "Milliseconds to wait"
          },
          "bestAttempt": {
            "type": "boolean",
            "description": "Continue on async event failures"
          }
        }
      },
      "ScreenshotRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Website URL to capture"
          },
          "html": {
            "type": "string",
            "description": "Inline HTML content to render"
          },
          "options": {
            "$ref": "#/components/schemas/ScreenshotOptions"
          },
          "addScriptTag": {
            "type": "array",
            "description": "Scripts to inject before capture",
            "items": {
              "type": "object"
            }
          },
          "addStyleTag": {
            "type": "array",
            "description": "Stylesheets to inject before capture",
            "items": {
              "type": "object"
            }
          },
          "waitForSelector": {
            "type": "string",
            "description": "DOM selector to wait for"
          },
          "waitForTimeout": {
            "type": "integer",
            "description": "Wait duration in milliseconds"
          },
          "bestAttempt": {
            "type": "boolean",
            "description": "Continue on async event failures"
          }
        }
      },
      "ScreenshotOptions": {
        "type": "object",
        "properties": {
          "fullPage": {
            "type": "boolean",
            "description": "Capture entire page vs viewport"
          },
          "type": {
            "type": "string",
            "enum": [
              "png",
              "jpeg",
              "webp"
            ],
            "description": "Image format"
          }
        }
      },
      "PdfRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to navigate to"
          },
          "html": {
            "type": "string",
            "description": "Raw HTML to render"
          },
          "options": {
            "$ref": "#/components/schemas/PdfOptions"
          },
          "addScriptTag": {
            "type": "array",
            "description": "Scripts to inject before PDF generation",
            "items": {
              "type": "object"
            }
          },
          "addStyleTag": {
            "type": "array",
            "description": "Styles to inject before PDF generation",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PdfOptions": {
        "type": "object",
        "properties": {
          "displayHeaderFooter": {
            "type": "boolean",
            "description": "Include header and footer in PDF"
          },
          "printBackground": {
            "type": "boolean",
            "description": "Print background graphics"
          },
          "format": {
            "type": "string",
            "description": "Paper format (e.g., A0, A4, Letter)"
          }
        }
      },
      "SearchRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "description": "Search query string"
          },
          "limit": {
            "type": "integer",
            "default": 10,
            "description": "Maximum results per source"
          },
          "lang": {
            "type": "string",
            "default": "en",
            "description": "Language code"
          },
          "country": {
            "type": "string",
            "description": "Two-letter country code"
          },
          "location": {
            "type": "string",
            "description": "Location for local results"
          },
          "tbs": {
            "type": "string",
            "enum": [
              "day",
              "week",
              "month",
              "year"
            ],
            "description": "Time filter"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "github",
                "research",
                "pdf"
              ]
            },
            "description": "Content category filters"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "web",
                "news",
                "images"
              ]
            },
            "default": [
              "web"
            ],
            "description": "Source types to search"
          },
          "timeout": {
            "type": "integer",
            "description": "Timeout in milliseconds"
          },
          "scrapeOptions": {
            "$ref": "#/components/schemas/ScrapeOptions"
          }
        }
      },
      "ScrapeOptions": {
        "type": "object",
        "properties": {
          "formats": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "markdown",
                "html",
                "links",
                "screenshot"
              ]
            }
          },
          "onlyMainContent": {
            "type": "boolean",
            "description": "Extract article body only"
          },
          "stripNonContentTags": {
            "type": "boolean",
            "description": "Remove scripts and styles"
          },
          "removeBase64Images": {
            "type": "boolean",
            "description": "Strip inline data URIs"
          },
          "includeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "CSS selectors to include"
          },
          "excludeTags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "CSS selectors to exclude"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Request success status"
          },
          "data": {
            "type": "object",
            "properties": {
              "web": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              },
              "news": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SearchResult"
                }
              },
              "images": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ImageResult"
                }
              }
            }
          },
          "totalResults": {
            "type": "integer",
            "description": "Total number of results found"
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "position": {
            "type": "integer"
          },
          "date": {
            "type": "string",
            "description": "Date (news results only)"
          },
          "markdown": {
            "type": "string",
            "description": "Scraped content in markdown format"
          }
        }
      },
      "ImageResult": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "imageWidth": {
            "type": "integer"
          },
          "imageHeight": {
            "type": "integer"
          },
          "position": {
            "type": "integer"
          }
        }
      },
      "UnblockRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Target website URL to unblock"
          },
          "content": {
            "type": "boolean",
            "description": "Return full HTML of the page"
          },
          "cookies": {
            "type": "boolean",
            "description": "Return cookies from the site"
          },
          "screenshot": {
            "type": "boolean",
            "description": "Return base64-encoded screenshot"
          },
          "browserWSEndpoint": {
            "type": "boolean",
            "description": "Return WebSocket endpoint for custom automation"
          },
          "ttl": {
            "type": "integer",
            "description": "Time-to-live in milliseconds for browser session"
          }
        }
      },
      "UnblockResponse": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "nullable": true,
            "description": "HTML content when requested"
          },
          "cookies": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Cookie"
            }
          },
          "screenshot": {
            "type": "string",
            "nullable": true,
            "description": "Base64-encoded PNG image"
          },
          "browserWSEndpoint": {
            "type": "string",
            "nullable": true,
            "description": "WebSocket connection URL"
          }
        }
      },
      "Cookie": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "secure": {
            "type": "boolean"
          },
          "httpOnly": {
            "type": "boolean"
          }
        }
      },
      "PerformanceRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Target website URL to audit"
          },
          "config": {
            "type": "object",
            "properties": {
              "extends": {
                "type": "string",
                "description": "Base configuration (e.g., lighthouse:default)"
              },
              "settings": {
                "type": "object",
                "properties": {
                  "onlyCategories": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "accessibility",
                        "best-practices",
                        "performance",
                        "pwa",
                        "seo"
                      ]
                    }
                  },
                  "onlyAudits": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PerformanceResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "lighthouseVersion": {
                "type": "string"
              },
              "requestedUrl": {
                "type": "string"
              },
              "audits": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/AuditResult"
                }
              }
            }
          }
        }
      },
      "AuditResult": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "score": {
            "type": "number",
            "description": "Score from 0 to 1"
          },
          "displayValue": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "tokenAuth": []
    }
  ]
}