{
  "openapi": "3.0.3",
  "info": {
    "title": "Reddit API",
    "description": "The Reddit API provides programmatic access to Reddit's social media platform, including subreddits, posts (links/self-posts), comments, user profiles, voting, messaging, and more. Uses OAuth2 for authentication.",
    "version": "1.0.0",
    "contact": {
      "name": "Reddit",
      "url": "https://www.reddit.com/dev/api/"
    },
    "termsOfService": "https://www.reddit.com/wiki/api-terms"
  },
  "servers": [
    {
      "url": "https://oauth.reddit.com",
      "description": "Reddit OAuth API (authenticated requests)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get Current User Identity",
        "description": "Returns the identity of the authenticated user.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Current user profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/karma": {
      "get": {
        "operationId": "getMyKarma",
        "summary": "Get My Karma Breakdown",
        "description": "Return a breakdown of karma by subreddit.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Karma breakdown",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "kind": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sr": {
                            "type": "string"
                          },
                          "comment_karma": {
                            "type": "integer"
                          },
                          "link_karma": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/prefs": {
      "get": {
        "operationId": "getMyPrefs",
        "summary": "Get My Preferences",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "User preferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get My Preferences"
      },
      "patch": {
        "operationId": "updateMyPrefs",
        "summary": "Update My Preferences",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "JSON object of preference keys and values to update."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated preferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Update My Preferences"
      }
    },
    "/api/v1/me/trophies": {
      "get": {
        "operationId": "getMyTrophies",
        "summary": "Get My Trophies",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "User trophies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get My Trophies"
      }
    },
    "/api/v1/me/friends": {
      "get": {
        "operationId": "getMyFriends",
        "summary": "Get My Friends",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Friends list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get My Friends"
      }
    },
    "/api/v1/me/blocked": {
      "get": {
        "operationId": "getMyBlocked",
        "summary": "Get Blocked Users",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Blocked users list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get Blocked Users"
      }
    },
    "/r/{subreddit}/hot": {
      "get": {
        "operationId": "getHot",
        "summary": "Get Hot Posts",
        "description": "Get hot posts from a subreddit.",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Fullname of a thing to use as anchor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "g",
            "in": "query",
            "description": "Geolocation filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing of posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        }
      }
    },
    "/r/{subreddit}/new": {
      "get": {
        "operationId": "getNew",
        "summary": "Get New Posts",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing of new posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get New Posts"
      }
    },
    "/r/{subreddit}/top": {
      "get": {
        "operationId": "getTop",
        "summary": "Get Top Posts",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t",
            "in": "query",
            "description": "Time period.",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month",
                "year",
                "all"
              ],
              "default": "day"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing of top posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get Top Posts"
      }
    },
    "/r/{subreddit}/rising": {
      "get": {
        "operationId": "getRising",
        "summary": "Get Rising Posts",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing of rising posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get Rising Posts"
      }
    },
    "/r/{subreddit}/controversial": {
      "get": {
        "operationId": "getControversial",
        "summary": "Get Controversial Posts",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month",
                "year",
                "all"
              ],
              "default": "day"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing of controversial posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get Controversial Posts"
      }
    },
    "/r/{subreddit}/search": {
      "get": {
        "operationId": "searchSubreddit",
        "summary": "Search Within Subreddit",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "restrict_sr",
            "in": "query",
            "description": "Restrict to this subreddit.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "hot",
                "top",
                "new",
                "comments"
              ],
              "default": "relevance"
            }
          },
          {
            "name": "t",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month",
                "year",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Comma-delimited list of result types (sr, link, user).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Search Within Subreddit"
      }
    },
    "/search": {
      "get": {
        "operationId": "searchAll",
        "summary": "Search Reddit",
        "description": "Search across all of Reddit.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "hot",
                "top",
                "new",
                "comments"
              ],
              "default": "relevance"
            }
          },
          {
            "name": "t",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month",
                "year",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        }
      }
    },
    "/r/{subreddit}/about": {
      "get": {
        "operationId": "getSubredditAbout",
        "summary": "Get Subreddit Info",
        "description": "Return information about the subreddit.",
        "tags": [
          "Subreddits"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subreddit information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subreddit"
                }
              }
            }
          }
        }
      }
    },
    "/r/{subreddit}/about/rules": {
      "get": {
        "operationId": "getSubredditRules",
        "summary": "Get Subreddit Rules",
        "tags": [
          "Subreddits"
        ],
        "parameters": [
          {
            "name": "subreddit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subreddit rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get Subreddit Rules"
      }
    },
    "/subreddits/search": {
      "get": {
        "operationId": "searchSubreddits",
        "summary": "Search Subreddits",
        "tags": [
          "Subreddits"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subreddit search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Search Subreddits"
      }
    },
    "/subreddits/popular": {
      "get": {
        "operationId": "getPopularSubreddits",
        "summary": "Get Popular Subreddits",
        "tags": [
          "Subreddits"
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Popular subreddits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get Popular Subreddits"
      }
    },
    "/subreddits/new": {
      "get": {
        "operationId": "getNewSubreddits",
        "summary": "Get New Subreddits",
        "tags": [
          "Subreddits"
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New subreddits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get New Subreddits"
      }
    },
    "/subreddits/mine/subscriber": {
      "get": {
        "operationId": "getMySubreddits",
        "summary": "Get My Subscribed Subreddits",
        "tags": [
          "Subreddits"
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscribed subreddits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get My Subscribed Subreddits"
      }
    },
    "/api/subscribe": {
      "post": {
        "operationId": "subscribe",
        "summary": "Subscribe/Unsubscribe to Subreddit",
        "tags": [
          "Subreddits"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "sr_name"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "sub",
                      "unsub"
                    ]
                  },
                  "sr_name": {
                    "type": "string",
                    "description": "Subreddit name."
                  },
                  "skip_initial_defaults": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscription updated"
          }
        },
        "description": "Subscribe/Unsubscribe to Subreddit"
      }
    },
    "/comments/{article}": {
      "get": {
        "operationId": "getComments",
        "summary": "Get Post Comments",
        "description": "Get comments for a submission.",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "article",
            "in": "path",
            "required": true,
            "description": "ID36 of the link.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "confidence",
                "top",
                "new",
                "controversial",
                "old",
                "random",
                "qa",
                "live"
              ],
              "default": "confidence"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Maximum depth of subtrees.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of comments.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "context",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "showedits",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "showmedia",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "showmore",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "threaded",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "truncate",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post and comments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Listing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/comment": {
      "post": {
        "operationId": "postComment",
        "summary": "Post a Comment",
        "description": "Submit a new comment or reply to an existing comment/post.",
        "tags": [
          "Comments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "thing_id",
                  "text"
                ],
                "properties": {
                  "thing_id": {
                    "type": "string",
                    "description": "Fullname of parent (t1_ for comment, t3_ for link)."
                  },
                  "text": {
                    "type": "string",
                    "description": "Raw markdown text of the comment."
                  },
                  "richtext_json": {
                    "type": "string"
                  },
                  "api_type": {
                    "type": "string",
                    "default": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comment posted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/submit": {
      "post": {
        "operationId": "submit",
        "summary": "Submit a Post",
        "description": "Submit a link or self-post to a subreddit.",
        "tags": [
          "Links & Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "sr",
                  "title",
                  "kind"
                ],
                "properties": {
                  "sr": {
                    "type": "string",
                    "description": "Subreddit name."
                  },
                  "title": {
                    "type": "string",
                    "description": "Post title (max 300 chars)."
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "link",
                      "self",
                      "image",
                      "video",
                      "videogif"
                    ],
                    "description": "Post type."
                  },
                  "text": {
                    "type": "string",
                    "description": "Body text (for self posts)."
                  },
                  "richtext_json": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL (for link posts)."
                  },
                  "flair_id": {
                    "type": "string"
                  },
                  "flair_text": {
                    "type": "string"
                  },
                  "nsfw": {
                    "type": "boolean",
                    "default": false
                  },
                  "spoiler": {
                    "type": "boolean",
                    "default": false
                  },
                  "resubmit": {
                    "type": "boolean",
                    "default": true
                  },
                  "sendreplies": {
                    "type": "boolean",
                    "default": true
                  },
                  "api_type": {
                    "type": "string",
                    "default": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/del": {
      "post": {
        "operationId": "deleteThing",
        "summary": "Delete a Post or Comment",
        "tags": [
          "Links & Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Fullname of the thing to delete."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deleted"
          }
        },
        "description": "Delete a Post or Comment"
      }
    },
    "/api/editusertext": {
      "post": {
        "operationId": "editUserText",
        "summary": "Edit a Post or Comment",
        "tags": [
          "Links & Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "thing_id",
                  "text"
                ],
                "properties": {
                  "thing_id": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "api_type": {
                    "type": "string",
                    "default": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Edit result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Edit a Post or Comment"
      }
    },
    "/api/vote": {
      "post": {
        "operationId": "vote",
        "summary": "Vote on a Post or Comment",
        "tags": [
          "Links & Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "dir"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Fullname of the thing to vote on."
                  },
                  "dir": {
                    "type": "integer",
                    "enum": [
                      1,
                      0,
                      -1
                    ],
                    "description": "1=upvote, 0=unvote, -1=downvote."
                  },
                  "rank": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vote recorded"
          }
        },
        "description": "Vote on a Post or Comment"
      }
    },
    "/api/save": {
      "post": {
        "operationId": "save",
        "summary": "Save a Post or Comment",
        "tags": [
          "Links & Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved"
          }
        },
        "description": "Save a Post or Comment"
      }
    },
    "/api/unsave": {
      "post": {
        "operationId": "unsave",
        "summary": "Unsave a Post or Comment",
        "tags": [
          "Links & Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsaved"
          }
        },
        "description": "Unsave a Post or Comment"
      }
    },
    "/api/hide": {
      "post": {
        "operationId": "hide",
        "summary": "Hide Posts",
        "tags": [
          "Links & Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Comma-separated fullnames."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hidden"
          }
        },
        "description": "Hide Posts"
      }
    },
    "/api/unhide": {
      "post": {
        "operationId": "unhide",
        "summary": "Unhide Posts",
        "tags": [
          "Links & Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unhidden"
          }
        },
        "description": "Unhide Posts"
      }
    },
    "/api/report": {
      "post": {
        "operationId": "report",
        "summary": "Report a Post or Comment",
        "tags": [
          "Links & Posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "thing_id",
                  "reason"
                ],
                "properties": {
                  "thing_id": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  },
                  "other_reason": {
                    "type": "string"
                  },
                  "rule_reason": {
                    "type": "string"
                  },
                  "site_reason": {
                    "type": "string"
                  },
                  "api_type": {
                    "type": "string",
                    "default": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reported"
          }
        },
        "description": "Report a Post or Comment"
      }
    },
    "/by_id/{names}": {
      "get": {
        "operationId": "getByIds",
        "summary": "Get Posts by Fullname IDs",
        "tags": [
          "Links & Posts"
        ],
        "parameters": [
          {
            "name": "names",
            "in": "path",
            "required": true,
            "description": "Comma-separated fullnames (t3_...).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing of posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get Posts by Fullname IDs"
      }
    },
    "/api/info": {
      "get": {
        "operationId": "getInfo",
        "summary": "Get Info About Things",
        "description": "Return things by fullname or URL.",
        "tags": [
          "Links & Posts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Comma-separated fullnames.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "A URL to retrieve info about.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listing of things",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        }
      }
    },
    "/user/{username}/about": {
      "get": {
        "operationId": "getUserAbout",
        "summary": "Get User Profile",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        },
        "description": "Get User Profile"
      }
    },
    "/user/{username}/submitted": {
      "get": {
        "operationId": "getUserSubmitted",
        "summary": "Get User's Submitted Posts",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hot",
                "new",
                "top",
                "controversial"
              ],
              "default": "new"
            }
          },
          {
            "name": "t",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month",
                "year",
                "all"
              ]
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User submissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get User's Submitted Posts"
      }
    },
    "/user/{username}/comments": {
      "get": {
        "operationId": "getUserComments",
        "summary": "Get User's Comments",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hot",
                "new",
                "top",
                "controversial"
              ],
              "default": "new"
            }
          },
          {
            "name": "t",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month",
                "year",
                "all"
              ]
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User comments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get User's Comments"
      }
    },
    "/user/{username}/overview": {
      "get": {
        "operationId": "getUserOverview",
        "summary": "Get User's Overview (Posts + Comments)",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hot",
                "new",
                "top",
                "controversial"
              ],
              "default": "new"
            }
          },
          {
            "name": "t",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "hour",
                "day",
                "week",
                "month",
                "year",
                "all"
              ]
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User overview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get User's Overview (Posts + Comments)"
      }
    },
    "/api/v1/user/{username}/trophies": {
      "get": {
        "operationId": "getUserTrophies",
        "summary": "Get User Trophies",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User trophies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get User Trophies"
      }
    },
    "/message/inbox": {
      "get": {
        "operationId": "getInbox",
        "summary": "Get Inbox Messages",
        "tags": [
          "Private Messages"
        ],
        "parameters": [
          {
            "name": "mark",
            "in": "query",
            "description": "Mark messages as read.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Inbox messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get Inbox Messages"
      }
    },
    "/message/unread": {
      "get": {
        "operationId": "getUnreadMessages",
        "summary": "Get Unread Messages",
        "tags": [
          "Private Messages"
        ],
        "parameters": [
          {
            "name": "mark",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Unread messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get Unread Messages"
      }
    },
    "/message/sent": {
      "get": {
        "operationId": "getSentMessages",
        "summary": "Get Sent Messages",
        "tags": [
          "Private Messages"
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sent messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        },
        "description": "Get Sent Messages"
      }
    },
    "/api/compose": {
      "post": {
        "operationId": "composeMessage",
        "summary": "Send a Private Message",
        "tags": [
          "Private Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "to",
                  "subject",
                  "text"
                ],
                "properties": {
                  "to": {
                    "type": "string",
                    "description": "Username or subreddit name (/r/name)."
                  },
                  "subject": {
                    "type": "string",
                    "description": "Message subject (max 100 chars)."
                  },
                  "text": {
                    "type": "string",
                    "description": "Raw markdown body."
                  },
                  "api_type": {
                    "type": "string",
                    "default": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent"
          }
        },
        "description": "Send a Private Message"
      }
    },
    "/api/read_message": {
      "post": {
        "operationId": "readMessage",
        "summary": "Mark Messages as Read",
        "tags": [
          "Private Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Comma-separated fullnames of messages."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages marked as read"
          }
        },
        "description": "Mark Messages as Read"
      }
    },
    "/api/unread_message": {
      "post": {
        "operationId": "unreadMessage",
        "summary": "Mark Messages as Unread",
        "tags": [
          "Private Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Messages marked as unread"
          }
        },
        "description": "Mark Messages as Unread"
      }
    },
    "/api/read_all_messages": {
      "post": {
        "operationId": "readAllMessages",
        "summary": "Mark All Messages as Read",
        "tags": [
          "Private Messages"
        ],
        "responses": {
          "200": {
            "description": "All messages marked as read"
          }
        },
        "description": "Mark All Messages as Read"
      }
    },
    "/best": {
      "get": {
        "operationId": "getBest",
        "summary": "Get Best Posts",
        "description": "Get the best posts from subscribed subreddits.",
        "tags": [
          "Listings"
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Best posts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        }
      }
    },
    "/api/multi/mine": {
      "get": {
        "operationId": "getMyMultis",
        "summary": "Get My Multireddits",
        "tags": [
          "Multireddits"
        ],
        "responses": {
          "200": {
            "description": "List of multireddits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "description": "Get My Multireddits"
      }
    },
    "/api/multi/{multipath}": {
      "get": {
        "operationId": "getMulti",
        "summary": "Get a Multireddit",
        "tags": [
          "Multireddits"
        ],
        "parameters": [
          {
            "name": "multipath",
            "in": "path",
            "required": true,
            "description": "Path like user/username/m/multiname.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Multireddit details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Get a Multireddit"
      },
      "put": {
        "operationId": "createOrUpdateMulti",
        "summary": "Create or Update a Multireddit",
        "tags": [
          "Multireddits"
        ],
        "parameters": [
          {
            "name": "multipath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "JSON object with display_name, subreddits, description_md, etc."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multireddit created/updated"
          }
        },
        "description": "Create or Update a Multireddit"
      },
      "delete": {
        "operationId": "deleteMulti",
        "summary": "Delete a Multireddit",
        "tags": [
          "Multireddits"
        ],
        "parameters": [
          {
            "name": "multipath",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Multireddit deleted"
          }
        },
        "description": "Delete a Multireddit"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "OAuth2 bearer token. Obtained via Reddit's OAuth2 flow."
      }
    },
    "schemas": {
      "Listing": {
        "type": "object",
        "description": "Reddit's standard listing wrapper.",
        "properties": {
          "kind": {
            "type": "string",
            "example": "Listing"
          },
          "data": {
            "type": "object",
            "properties": {
              "after": {
                "type": "string",
                "nullable": true
              },
              "before": {
                "type": "string",
                "nullable": true
              },
              "dist": {
                "type": "integer"
              },
              "modhash": {
                "type": "string"
              },
              "geo_filter": {
                "type": "string"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Thing"
                }
              }
            }
          }
        }
      },
      "Thing": {
        "type": "object",
        "description": "Reddit thing wrapper (t1=comment, t2=account, t3=link, t4=message, t5=subreddit).",
        "properties": {
          "kind": {
            "type": "string",
            "description": "Thing type prefix (t1, t2, t3, t4, t5, Listing, more)."
          },
          "data": {
            "type": "object",
            "description": "The thing's data. Structure varies by kind."
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_utc": {
            "type": "number"
          },
          "link_karma": {
            "type": "integer"
          },
          "comment_karma": {
            "type": "integer"
          },
          "total_karma": {
            "type": "integer"
          },
          "is_gold": {
            "type": "boolean"
          },
          "is_mod": {
            "type": "boolean"
          },
          "has_verified_email": {
            "type": "boolean"
          },
          "icon_img": {
            "type": "string",
            "format": "uri"
          },
          "subreddit": {
            "type": "object",
            "description": "User's profile subreddit info."
          },
          "snoovatar_img": {
            "type": "string"
          },
          "over_18": {
            "type": "boolean"
          }
        }
      },
      "Subreddit": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "description": "Fullname (t5_xxx)."
              },
              "display_name": {
                "type": "string"
              },
              "display_name_prefixed": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "public_description": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "subscribers": {
                "type": "integer"
              },
              "active_user_count": {
                "type": "integer"
              },
              "created_utc": {
                "type": "number"
              },
              "over18": {
                "type": "boolean"
              },
              "subreddit_type": {
                "type": "string",
                "enum": [
                  "public",
                  "private",
                  "restricted",
                  "gold_restricted",
                  "archived"
                ]
              },
              "lang": {
                "type": "string"
              },
              "icon_img": {
                "type": "string"
              },
              "banner_img": {
                "type": "string"
              },
              "header_img": {
                "type": "string",
                "nullable": true
              },
              "community_icon": {
                "type": "string"
              },
              "url": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Comments"
    },
    {
      "name": "Links & Posts"
    },
    {
      "name": "Listings"
    },
    {
      "name": "Multireddits"
    },
    {
      "name": "Private Messages"
    },
    {
      "name": "Search"
    },
    {
      "name": "Subreddits"
    },
    {
      "name": "Users"
    }
  ]
}
