{
  "openapi": "3.0.3",
  "info": {
    "title": "Zip API",
    "version": "1.0.0",
    "description": "Buy now, pay later (BNPL) payment processing API",
    "x-jentic-source-url": "https://docs.us.zip.co/docs/api-integration",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://gateway.us.zip.co",
      "description": "US production server"
    }
  ],
  "security": [
    {
      "SignatureAuth": []
    }
  ],
  "tags": [
    {
      "name": "Orders",
      "description": "Order management and processing"
    },
    {
      "name": "Configuration",
      "description": "Merchant configuration"
    },
    {
      "name": "Disputes",
      "description": "Merchant dispute management"
    }
  ],
  "paths": {
    "/orders/authorize": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Authorize order",
        "operationId": "authorizeOrder",
        "parameters": [
          {
            "name": "QP-Territory",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderId": {
                    "type": "string"
                  },
                  "merchantId": {
                    "type": "string"
                  },
                  "merchantReference": {
                    "type": "string"
                  },
                  "order": {
                    "type": "object"
                  },
                  "capture": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "description": "Authorize order"
      }
    },
    "/orders/{orderId}/status": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order status",
        "operationId": "getOrderStatus",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QP-Territory",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "description": "Get order status"
      }
    },
    "/orders/{orderId}/capture": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Capture order",
        "operationId": "captureOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QP-Territory",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchantId": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "merchantReference": {
                    "type": "string"
                  },
                  "singleCapture": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order captured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "description": "Capture order"
      }
    },
    "/orders/{orderId}/refund": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Refund order",
        "operationId": "refundOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QP-Territory",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchantId": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "merchantReference": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order refunded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "description": "Refund order"
      }
    },
    "/orders/{orderId}/void": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Void order",
        "operationId": "voidOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QP-Territory",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchantId": {
                    "type": "string"
                  },
                  "merchantReference": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order voided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "description": "Void order"
      }
    },
    "/orders/{orderId}/confirm": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Confirm order",
        "operationId": "confirmOrder",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QP-Territory",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchantReference": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "shippingAmount": {
                    "type": "number"
                  },
                  "taxAmount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "description": "Confirm order"
      }
    },
    "/configuration/{merchantId}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get merchant configuration",
        "operationId": "getMerchantConfiguration",
        "parameters": [
          {
            "name": "merchantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QP-Territory",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "merchantId": {
                      "type": "string"
                    },
                    "settings": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "description": "Get merchant configuration"
      }
    },
    "/merchant-disputes/search": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Search merchant disputes",
        "operationId": "searchDisputes",
        "parameters": [
          {
            "name": "merchantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "QP-Territory",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of disputes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "disputes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Dispute"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "description": "Search merchant disputes"
      }
    },
    "/merchant-disputes": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get dispute details",
        "operationId": "getDispute",
        "parameters": [
          {
            "name": "merchantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disputeId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "QP-Territory",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispute details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispute"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "description": "Get dispute details"
      }
    },
    "/merchant-disputes/submit-evidence": {
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Submit evidence for dispute",
        "operationId": "submitDisputeEvidence",
        "parameters": [
          {
            "name": "QP-Territory",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "US"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchantId": {
                    "type": "string"
                  },
                  "disputeId": {
                    "type": "string"
                  },
                  "receipt": {
                    "type": "string"
                  },
                  "refundPolicy": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidence submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "description": "Submit evidence for dispute"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "SignatureAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-QP-Signature",
        "description": "Merchant validation signature"
      }
    },
    "schemas": {
      "OrderResponse": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "merchantReference": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "Dispute": {
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string"
          },
          "orderId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "reason": {
            "type": "string"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication signature is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
