{
    "openapi": "3.0.0",
    "info": {
        "description": "The API built for external CBDAmericanShaman access, while in testing phase please point your code to https://test.cbdamericanshaman.com/api/v1. Once your application is approved you can switch to live",
        "version": "1.0.0",
        "title": "CBDAmericanShaman API",
        "contact": {
            "email": "vladimir@getleadsfast.com"
        },
        "x-jentic-source-url": "https://api.swaggerhub.com/apis/GetLeadsFast/api-shaman/1.0.0/swagger.json"
    },
    "paths": {
        "/products": {
            "post": {
                "summary": "return the list currently active products",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Product"
                            }
                        }
                    },
                    "description": "You need to submit the following JSON object to your get call"
                },
                "tags": [
                    "Product calls"
                ],
                "responses": {
                    "200": {
                        "description": "returns product list"
                    }
                }
            }
        },
        "/product": {
            "post": {
                "summary": "return the product details",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetProduct"
                            }
                        }
                    },
                    "description": "You need to submit the following JSON object to your get call"
                },
                "tags": [
                    "Product calls"
                ],
                "responses": {
                    "200": {
                        "description": "returns product details"
                    }
                }
            }
        },
        "/order": {
            "post": {
                "tags": [
                    "Order calls"
                ],
                "summary": "submits the dropship order",
                "operationId": "addInventory",
                "description": "This call will submit the dropship order to the CBDAmericanShaman",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Order"
                            }
                        }
                    },
                    "description": "You need to submit the following JSON object to your POST call"
                },
                "responses": {
                    "200": {
                        "description": "order created"
                    },
                    "400": {
                        "description": "invalid input, object invalid"
                    },
                    "409": {
                        "description": "an existing order already exists"
                    }
                }
            }
        }
    },
    "servers": [
        {
            "url": "https://cbdamericanshaman.com/api/v1"
        }
    ],
    "components": {
        "schemas": {
            "Product": {
                "type": "object",
                "required": [
                    "auth_key"
                ],
                "properties": {
                    "auth_key": {
                        "type": "string",
                        "format": "uuid",
                        "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    }
                }
            },
            "GetProduct": {
                "type": "object",
                "required": [
                    "auth_key",
                    "barcode"
                ],
                "properties": {
                    "auth_key": {
                        "type": "string",
                        "format": "uuid",
                        "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "barcode": {
                        "type": "number",
                        "example": 998877775454
                    }
                }
            },
            "Order": {
                "type": "object",
                "required": [
                    "auth_key",
                    "first_name",
                    "last_name",
                    "address",
                    "city",
                    "state",
                    "zip",
                    "country",
                    "order_details"
                ],
                "properties": {
                    "auth_key": {
                        "type": "string",
                        "format": "uuid",
                        "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "first_name": {
                        "type": "string",
                        "example": "John"
                    },
                    "last_name": {
                        "type": "string",
                        "example": "Doe"
                    },
                    "address": {
                        "type": "string",
                        "example": "1st Main Street"
                    },
                    "address2": {
                        "type": "string",
                        "example": "Suite 609"
                    },
                    "city": {
                        "type": "string",
                        "example": "St Louis"
                    },
                    "state": {
                        "type": "string",
                        "example": "MO"
                    },
                    "zip": {
                        "type": "string",
                        "example": 65714
                    },
                    "country": {
                        "type": "string",
                        "example": "Must use ISO 3166-1 alpha-2 codes. So United States must be written as US."
                    },
                    "phone": {
                        "type": "string",
                        "example": "417-555-4444"
                    },
                    "email": {
                        "type": "string",
                        "example": "johndoe@example.com"
                    },
                    "order_details": {
                        "$ref": "#/components/schemas/OrderDetails"
                    },
                    "order_items": {
                        "items": {
                            "$ref": "#/components/schemas/OrderItems"
                        }
                    }
                }
            },
            "OrderDetails": {
                "required": [
                    "subtotal",
                    "shipping",
                    "grand_total",
                    "order_id"
                ],
                "properties": {
                    "subtotal": {
                        "type": "number",
                        "example": 9.44
                    },
                    "discount_applied": {
                        "type": "string",
                        "example": "Promotion, Coupon name, etc"
                    },
                    "discount_amount": {
                        "type": "number",
                        "example": 3.2
                    },
                    "shipping": {
                        "type": "number",
                        "example": 5
                    },
                    "grand_total": {
                        "type": "number",
                        "example": 11.24
                    },
                    "order_id": {
                        "type": "string",
                        "example": "WOO14556"
                    }
                }
            },
            "OrderItems": {
                "required": [
                    "barcode",
                    "quantity"
                ],
                "properties": {
                    "barcode": {
                        "type": "number",
                        "example": 998877775454
                    },
                    "quantity": {
                        "type": "number",
                        "example": 10
                    },
                    "price": {
                        "type": "number",
                        "example": 9.44
                    }
                }
            }
        }
    }
}