{
  "openapi": "3.0.3",
  "info": {
    "title": "WATS API",
    "version": "1.0.0",
    "description": "WATS manufacturing test management and analytics API. Manage test results, units under test, stations, and production analytics.",
    "x-jentic-source-url": "https://demo.wats.com/swagger/docs/v1",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.wats.com/v1",
      "description": "Production API server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Test Results",
      "description": "Test result management"
    },
    {
      "name": "UUTs",
      "description": "Units under test"
    },
    {
      "name": "Stations",
      "description": "Test station management"
    },
    {
      "name": "Analytics",
      "description": "Production analytics"
    }
  ],
  "paths": {
    "/testresults": {
      "get": {
        "tags": [
          "Test Results"
        ],
        "summary": "Get test results",
        "operationId": "getTestResults",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "stationId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pass",
                "fail",
                "error"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of test results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TestResult"
                  }
                }
              }
            }
          }
        },
        "description": "Get test results"
      },
      "post": {
        "tags": [
          "Test Results"
        ],
        "summary": "Submit test result",
        "operationId": "submitTestResult",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestResultInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Test result submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestResult"
                }
              }
            }
          }
        },
        "description": "Submit test result"
      }
    },
    "/testresults/{testResultId}": {
      "get": {
        "tags": [
          "Test Results"
        ],
        "summary": "Get test result details",
        "operationId": "getTestResult",
        "parameters": [
          {
            "name": "testResultId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test result details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestResult"
                }
              }
            }
          }
        },
        "description": "Get test result details"
      }
    },
    "/uuts": {
      "get": {
        "tags": [
          "UUTs"
        ],
        "summary": "Search units under test",
        "operationId": "searchUUTs",
        "parameters": [
          {
            "name": "serialNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of UUTs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UUT"
                  }
                }
              }
            }
          }
        },
        "description": "Search units under test"
      }
    },
    "/uuts/{serialNumber}": {
      "get": {
        "tags": [
          "UUTs"
        ],
        "summary": "Get UUT details",
        "operationId": "getUUT",
        "parameters": [
          {
            "name": "serialNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "UUT details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UUT"
                }
              }
            }
          }
        },
        "description": "Get UUT details"
      }
    },
    "/uuts/{serialNumber}/history": {
      "get": {
        "tags": [
          "UUTs"
        ],
        "summary": "Get UUT test history",
        "operationId": "getUUTHistory",
        "parameters": [
          {
            "name": "serialNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "UUT test history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TestResult"
                  }
                }
              }
            }
          }
        },
        "description": "Get UUT test history"
      }
    },
    "/stations": {
      "get": {
        "tags": [
          "Stations"
        ],
        "summary": "List test stations",
        "operationId": "listStations",
        "responses": {
          "200": {
            "description": "List of stations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Station"
                  }
                }
              }
            }
          }
        },
        "description": "List test stations"
      },
      "post": {
        "tags": [
          "Stations"
        ],
        "summary": "Register test station",
        "operationId": "registerStation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "stationId",
                  "name"
                ],
                "properties": {
                  "stationId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  },
                  "capabilities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Station registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Station"
                }
              }
            }
          }
        },
        "description": "Register test station"
      }
    },
    "/stations/{stationId}": {
      "get": {
        "tags": [
          "Stations"
        ],
        "summary": "Get station details",
        "operationId": "getStation",
        "parameters": [
          {
            "name": "stationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Station details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Station"
                }
              }
            }
          }
        },
        "description": "Get station details"
      },
      "put": {
        "tags": [
          "Stations"
        ],
        "summary": "Update station",
        "operationId": "updateStation",
        "parameters": [
          {
            "name": "stationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "maintenance",
                      "offline"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Station updated"
          }
        },
        "description": "Update station"
      }
    },
    "/analytics/yield": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get yield analytics",
        "operationId": "getYieldAnalytics",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "partNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Yield analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "overall_yield": {
                      "type": "number"
                    },
                    "first_pass_yield": {
                      "type": "number"
                    },
                    "by_station": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get yield analytics"
      }
    },
    "/analytics/defects": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get defect analytics",
        "operationId": "getDefectAnalytics",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Defect analytics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_defects": {
                      "type": "integer"
                    },
                    "by_type": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "defect_type": {
                            "type": "string"
                          },
                          "count": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get defect analytics"
      }
    }
  },
  "components": {
    "schemas": {
      "TestResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "serialNumber": {
            "type": "string"
          },
          "partNumber": {
            "type": "string"
          },
          "stationId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pass",
              "fail",
              "error"
            ]
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "testSteps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "value": {
                  "type": "number"
                },
                "unit": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "TestResultInput": {
        "type": "object",
        "required": [
          "serialNumber",
          "partNumber",
          "stationId",
          "status"
        ],
        "properties": {
          "serialNumber": {
            "type": "string"
          },
          "partNumber": {
            "type": "string"
          },
          "stationId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pass",
              "fail",
              "error"
            ]
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "testSteps": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "UUT": {
        "type": "object",
        "properties": {
          "serialNumber": {
            "type": "string"
          },
          "partNumber": {
            "type": "string"
          },
          "revisionNumber": {
            "type": "string"
          },
          "firstTestDate": {
            "type": "string",
            "format": "date-time"
          },
          "lastTestDate": {
            "type": "string",
            "format": "date-time"
          },
          "totalTests": {
            "type": "integer"
          },
          "passedTests": {
            "type": "integer"
          }
        }
      },
      "Station": {
        "type": "object",
        "properties": {
          "stationId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "maintenance",
              "offline"
            ]
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
