{
  "openapi": "3.0.3",
  "info": {
    "title": "Uniswap Labs API",
    "version": "1.0.0",
    "description": "Uniswap Labs API provides endpoints for swapping tokens, managing liquidity positions, and querying reference data on the Uniswap decentralized exchange protocol.",
    "x-jentic-source-url": "https://api-docs.uniswap.org/introduction",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.uniswap.org"
    }
  ],
  "paths": {
    "/v1/check-approval": {
      "get": {
        "operationId": "checkSwapApproval",
        "summary": "Check swap approval",
        "tags": [
          "Swap"
        ],
        "description": "Verifies if wallet has required approvals for a swap; returns approval transactions if needed",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token address"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Amount to approve"
          },
          {
            "name": "walletAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Wallet address"
          },
          {
            "name": "chainId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Chain ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Approval status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quote": {
      "get": {
        "operationId": "getSwapQuote",
        "summary": "Get swap quote",
        "tags": [
          "Swap"
        ],
        "description": "Provides swap quotes with routing information and gas estimates",
        "parameters": [
          {
            "name": "tokenIn",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenOut",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exactIn",
                "exactOut"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/swap": {
      "post": {
        "operationId": "createSwap",
        "summary": "Create swap",
        "tags": [
          "Swap"
        ],
        "description": "Produces calldata for standard swap transactions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Swap calldata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/swap/status": {
      "get": {
        "operationId": "getSwapStatus",
        "summary": "Check swap status",
        "tags": [
          "Swap"
        ],
        "description": "Retrieves swap or bridge transaction status",
        "parameters": [
          {
            "name": "txHash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Swap status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gasless/order": {
      "post": {
        "operationId": "createGaslessOrder",
        "summary": "Create gasless order",
        "tags": [
          "Gasless"
        ],
        "description": "Submits UniswapX intents for gasless order execution",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order submitted"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gasless/order/status": {
      "get": {
        "operationId": "getGaslessOrderStatus",
        "summary": "Check gasless order status",
        "tags": [
          "Gasless"
        ],
        "description": "Retrieves gasless order status with optional filtering",
        "parameters": [
          {
            "name": "orderId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order status"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lp/check-approval": {
      "get": {
        "operationId": "checkLpApproval",
        "summary": "Check LP approval",
        "tags": [
          "Liquidity"
        ],
        "description": "Verifies if wallet has required approvals for liquidity provisioning",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletAddress",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Approval status"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lp/create": {
      "post": {
        "operationId": "createPosition",
        "summary": "Create pool and position",
        "tags": [
          "Liquidity"
        ],
        "description": "Allows creation of positions in pools or new pool creation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position created"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lp/increase": {
      "post": {
        "operationId": "increasePosition",
        "summary": "Increase position",
        "tags": [
          "Liquidity"
        ],
        "description": "Increase an existing LP position",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position increased"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lp/decrease": {
      "post": {
        "operationId": "decreasePosition",
        "summary": "Decrease position",
        "tags": [
          "Liquidity"
        ],
        "description": "Decrease an existing LP position",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position decreased"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lp/claim-fees": {
      "post": {
        "operationId": "claimFees",
        "summary": "Claim fees",
        "tags": [
          "Liquidity"
        ],
        "description": "Claim the fees for an LP position",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fees claimed"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/lp/migrate": {
      "post": {
        "operationId": "migratePosition",
        "summary": "Migrate position",
        "tags": [
          "Liquidity"
        ],
        "description": "Migrate an LP position",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position migrated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bridgeable-tokens": {
      "get": {
        "operationId": "listBridgeableTokens",
        "summary": "List bridgeable tokens",
        "tags": [
          "Reference"
        ],
        "description": "Returns the list of destination bridge chains for a given token",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token list"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApprovalResponse": {
        "type": "object",
        "properties": {
          "approved": {
            "type": "boolean"
          },
          "transaction": {
            "type": "object"
          }
        }
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "quoteId": {
            "type": "string"
          },
          "amountIn": {
            "type": "string"
          },
          "amountOut": {
            "type": "string"
          },
          "gasEstimate": {
            "type": "string"
          },
          "route": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "SwapRequest": {
        "type": "object",
        "properties": {
          "quoteId": {
            "type": "string"
          },
          "walletAddress": {
            "type": "string"
          },
          "permit2": {
            "type": "object"
          }
        }
      },
      "SwapResponse": {
        "type": "object",
        "properties": {
          "calldata": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Gasless"
    },
    {
      "name": "Liquidity"
    },
    {
      "name": "Reference"
    },
    {
      "name": "Swap"
    }
  ]
}
