{
  "openapi": "3.0.3",
  "info": {
    "title": "Melissa Property Data API",
    "version": "1.0.0",
    "description": "Melissa Property Web API provides US property data including property details, valuations, ownership, and tax information.",
    "x-jentic-source-url": "https://www.melissa.com/developer/property-data",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://property.melissadata.net/v4/WEB/LookupProperty"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "lookupProperty",
        "summary": "Look up property data",
        "description": "Returns property details for a given address or FIPS/APN",
        "tags": [
          "Property Lookup"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Melissa license key"
          },
          {
            "name": "ff",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Free form address"
          },
          {
            "name": "a1",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Address line 1"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fips",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "FIPS code"
          },
          {
            "name": "apn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Assessor Parcel Number"
          },
          {
            "name": "cols",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of columns to return"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Property data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PropertyResponse": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "transmissionResults": {
            "type": "string"
          },
          "totalRecords": {
            "type": "integer"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PropertyRecord"
            }
          }
        }
      },
      "PropertyRecord": {
        "type": "object",
        "properties": {
          "results": {
            "type": "string"
          },
          "addressLine1": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "fips": {
            "type": "string"
          },
          "apn": {
            "type": "string"
          },
          "propertyType": {
            "type": "string"
          },
          "yearBuilt": {
            "type": "string"
          },
          "squareFeet": {
            "type": "string"
          },
          "bedrooms": {
            "type": "string"
          },
          "bathrooms": {
            "type": "string"
          },
          "lotSize": {
            "type": "string"
          },
          "assessedValue": {
            "type": "string"
          },
          "marketValue": {
            "type": "string"
          },
          "ownerName": {
            "type": "string"
          },
          "lastSaleDate": {
            "type": "string"
          },
          "lastSalePrice": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "id",
        "description": "Melissa license key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Property Lookup"
    }
  ]
}
