{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "support@tradematic.com"
    },
    "description": "### Overview\nTradematic Cloud is a trading infrastructure for building investment services.\n\nIt’s a trading engine + API + ready-made adapters to stock and forex brokers, crypto exchanges, and market data providers.\n\nYou can use it as a cloud API, or you can deploy it on your servers. \n\n\n\n### How to use Tradematic Cloud API\n\nSign up at [tradematic.cloud](https://tradematic.cloud). After signing up, you will receive your API key.\n\n### Authorization\n\nAdd the 'X-API-KEY' header with your API key to each request.\n\n### Examples of writing code with Tradematic Cloud API\n\nExamples are available at [tradematic.cloud](https://tradematic.cloud). \n\n### Swagger (.yaml) File\nSwagger (.yaml) file can be found [here](http://tradematic.cloud/sdk/swagger.yaml).\n",
    "title": "Tradematic Cloud API",
    "version": "1.0.2",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-jentic-source-url": "https://api.apis.guru/v2/specs/tradematic.com/1.0.2/swagger.json",
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_tradematic.cloud_img_logo-dark.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://tradematic.cloud/sdk/swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "tradematic.com"
  },
  "servers": [
    {
      "url": "https://api.tradematic.com/"
    }
  ],
  "paths": {
    "/autofollow/strategies": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Strategy"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Autofollow API"
        ],
        "description": "Get autofollow strategies list",
        "operationId": "get-autofollow-strategies",
        "summary": "Get autofollow strategies list"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "strategyid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Autofollow API"
        ],
        "description": "Create new autofollow strategy",
        "operationId": "post-autofollow-strategies",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "strategy": {
                    "$ref": "#/components/schemas/NewStrategy"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create new autofollow strategy"
      }
    },
    "/autofollow/strategies/{strategyid}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "strategyid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Strategy"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Autofollow API"
        ],
        "description": "Get autofollow strategy by ID",
        "operationId": "get-autofollow-strategies-by-strategyid",
        "summary": "Get autofollow strategy by ID"
      },
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "strategyid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Autofollow API"
        ],
        "description": "Update autofollow strategy",
        "operationId": "put-autofollow-strategies-by-strategyid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "strategy": {
                    "$ref": "#/components/schemas/UpdatedStrategy"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update autofollow strategy"
      }
    },
    "/autofollow/strategies/{strategyid}/content": {
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "strategyid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "strategyid": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Autofollow API"
        ],
        "description": "Update rules for strategy that was created with strategy builder",
        "operationId": "put-autofollow-strategies-by-strategyid-content",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "strategy": {
                    "$ref": "#/components/schemas/UpdatedStrategyContent"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update rules for strategy that was created with strategy builder"
      }
    },
    "/autofollow/strategies/{strategyid}/positions": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "strategyid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/StrategyPosition"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Autofollow API"
        ],
        "description": "Get positions for strategy",
        "operationId": "get-autofollow-strategies-by-strategyid-positions",
        "summary": "Get positions for strategy"
      }
    },
    "/autofollow/strategies/{strategyid}/signals": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "strategyid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "count",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Signal"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Autofollow API"
        ],
        "description": "Get trading signals for strategy",
        "operationId": "get-autofollow-strategies-by-strategyid-signals",
        "summary": "Get trading signals for strategy"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "strategyid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "signalid": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Autofollow API"
        ],
        "description": "Send a new signal for autofollow strategy",
        "operationId": "post-autofollow-strategies-by-strategyid-signals",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "signal": {
                    "$ref": "#/components/schemas/NewSignal"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Send a new signal for autofollow strategy"
      }
    },
    "/builder/rules": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Rule"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Builder API"
        ],
        "description": "Get strategy builder rules list",
        "operationId": "get-builder-rules",
        "summary": "Get strategy builder rules list"
      }
    },
    "/builder/rules/{ruleid}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "ruleid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Rule"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Builder API"
        ],
        "description": "Get strategy builder rules by ID",
        "operationId": "get-builder-rules-by-ruleid",
        "summary": "Get strategy builder rules by ID"
      }
    },
    "/client/apikeys": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/APIKey"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Client API"
        ],
        "description": "Get API keys",
        "operationId": "get-client-apikeys",
        "summary": "Get API keys"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "keyid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Client API"
        ],
        "description": "Create new API key",
        "operationId": "post-client-apikeys",
        "summary": "Create new API key"
      }
    },
    "/client/apikeys/{keyid}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "keyid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "keyid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Client API"
        ],
        "description": "Delete API key",
        "operationId": "delete-client-apikeys-by-keyid",
        "summary": "Delete API key"
      }
    },
    "/client/users": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/User"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Client API"
        ],
        "description": "Get users list",
        "operationId": "get-client-users",
        "summary": "Get users list"
      }
    },
    "/client/users/login": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "userid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Client API"
        ],
        "description": "Logs user into the system",
        "operationId": "post-client-users-login",
        "summary": "Logs user into the system"
      }
    },
    "/client/users/register": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "userid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Client API"
        ],
        "description": "Register a new user",
        "operationId": "post-client-users-register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "user": {
                    "$ref": "#/components/schemas/NewUser"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Register a new user"
      }
    },
    "/client/users/{userid}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "userid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Client API"
        ],
        "description": "Get user by ID",
        "operationId": "get-client-users-by-userid",
        "summary": "Get user by ID"
      }
    },
    "/cloud/accounts": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get trading accounts list",
        "operationId": "get-cloud-accounts",
        "summary": "Get trading accounts list"
      }
    },
    "/cloud/accounts/{accountid}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get trading account by ID",
        "operationId": "get-cloud-accounts-by-accountid",
        "summary": "Get trading account by ID"
      }
    },
    "/cloud/accounts/{accountid}/closeall": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "commandid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Close all positions by account",
        "operationId": "post-cloud-accounts-by-accountid-closeall",
        "summary": "Close all positions by account"
      }
    },
    "/cloud/accounts/{accountid}/orders": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get orders list by account",
        "operationId": "get-cloud-accounts-by-accountid-orders",
        "summary": "Get orders list by account"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "commandid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Place a new order",
        "operationId": "post-cloud-accounts-by-accountid-orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order": {
                    "$ref": "#/components/schemas/NewOrder"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Place a new order"
      }
    },
    "/cloud/accounts/{accountid}/orders/{orderid}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "orderid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "commandid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Cancel an order by ID",
        "operationId": "delete-cloud-accounts-by-accountid-orders-by-orderid",
        "summary": "Cancel an order by ID"
      }
    },
    "/cloud/accounts/{accountid}/snapshots": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Snapshot"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get account equity and cash snapshots",
        "operationId": "get-cloud-accounts-by-accountid-snapshots",
        "summary": "Get account equity and cash snapshots"
      }
    },
    "/cloud/accounts/{accountid}/sync": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "commandid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Syhchronize an account with account active strategies",
        "operationId": "post-cloud-accounts-by-accountid-sync",
        "summary": "Syhchronize an account with account active strategies"
      }
    },
    "/cloud/accounts/{accountid}/trades": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "accountid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Trade"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get trades list by account",
        "operationId": "get-cloud-accounts-by-accountid-trades",
        "summary": "Get trades list by account"
      }
    },
    "/cloud/commands": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Command"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get commands list",
        "operationId": "get-cloud-commands",
        "summary": "Get commands list"
      }
    },
    "/cloud/commands/{commandid}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "commandid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get command by ID",
        "operationId": "get-cloud-commands-by-commandid",
        "summary": "Get command by ID"
      }
    },
    "/cloud/connections": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Connection"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get connections list",
        "operationId": "get-cloud-connections",
        "summary": "Get connections list"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "connectionid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Create a new connection",
        "operationId": "post-cloud-connections",
        "requestBody": {
          "$ref": "#/components/requestBodies/post-cloud-connectionsBody"
        },
        "summary": "Create a new connection"
      }
    },
    "/cloud/connections/{connectionid}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "connectionid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "connectionid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Delete connection by ID",
        "operationId": "delete-cloud-connections-by-connectionid",
        "summary": "Delete connection by ID"
      },
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "connectionid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get connection by ID",
        "operationId": "get-cloud-connections-by-connectionid",
        "summary": "Get connection by ID"
      },
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "connectionid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "connectionid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Update existing connection",
        "operationId": "put-cloud-connections-by-connectionid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "connection": {
                    "$ref": "#/components/schemas/UpdatedConnection"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update existing connection"
      }
    },
    "/cloud/connectors": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Connector"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get available connectors list",
        "operationId": "get-cloud-connectors",
        "summary": "Get available connectors list"
      }
    },
    "/cloud/connectors/{connectorid}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "connectorid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connector"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get connector by ID",
        "operationId": "get-cloud-connectors-by-connectorid",
        "summary": "Get connector by ID"
      }
    },
    "/cloud/sessions": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Session"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get sessions list",
        "operationId": "get-cloud-sessions",
        "summary": "Get sessions list"
      }
    },
    "/cloud/sessions/{sessionid}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "sessionid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get session by ID",
        "operationId": "get-cloud-sessions-by-sessionid",
        "summary": "Get session by ID"
      }
    },
    "/cloud/strategies": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CloudStrategy"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get list of active (executing) strategies",
        "operationId": "get-cloud-strategies",
        "summary": "Get list of active (executing) strategies"
      }
    },
    "/cloud/strategies/start": {
      "post": {
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "commandid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Start a strategy execution for account",
        "operationId": "post-cloud-strategies-start",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/StartStrategyData"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Start a strategy execution for account"
      }
    },
    "/cloud/strategies/{strategyid}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "strategyid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CloudStrategy"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Get active (executing) strategy by ID",
        "operationId": "get-cloud-strategies-by-strategyid",
        "summary": "Get active (executing) strategy by ID"
      }
    },
    "/cloud/strategies/{strategyid}/stop": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "strategyid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "commandid": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Cloud API"
        ],
        "description": "Stop a strategy execution by ID",
        "operationId": "post-cloud-strategies-by-strategyid-stop",
        "summary": "Stop a strategy execution by ID"
      }
    },
    "/marketdata/markets": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Market"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "MarketData API"
        ],
        "description": "Get markets list",
        "operationId": "get-marketdata-markets",
        "summary": "Get markets list"
      }
    },
    "/marketdata/markets/{marketid}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "marketid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Market"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "MarketData API"
        ],
        "description": "Get market by ID",
        "operationId": "get-marketdata-markets-by-marketid",
        "summary": "Get market by ID"
      }
    },
    "/marketdata/symbols": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "marketid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Symbol"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "MarketData API"
        ],
        "description": "Get symbols list",
        "operationId": "get-marketdata-symbols",
        "summary": "Get symbols list"
      }
    },
    "/marketdata/symbols/{symbolid}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "symbolid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Symbol"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "MarketData API"
        ],
        "description": "Get symbol by ID",
        "operationId": "get-marketdata-symbols-by-symbolid",
        "summary": "Get symbol by ID"
      }
    },
    "/marketdata/symbols/{symbolid}/histdata": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "symbolid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "tf",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "adjusted": {
                      "type": "boolean"
                    },
                    "queryCount": {
                      "type": "integer"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/Result"
                      },
                      "type": "array"
                    },
                    "resultsCount": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "ticker": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "MarketData API"
        ],
        "description": "Get historical data for instrument",
        "operationId": "get-marketdata-symbols-by-symbolid-histdata",
        "summary": "Get historical data for instrument"
      }
    },
    "/news/news": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/News"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "News API"
        ],
        "description": "Get news list",
        "operationId": "get-news-news",
        "summary": "Get news list"
      }
    },
    "/news/news/{newsid}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "newsid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/News"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "News API"
        ],
        "description": "Get news by ID",
        "operationId": "get-news-news-by-newsid",
        "summary": "Get news by ID"
      }
    },
    "/ping": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Status API"
        ],
        "description": "Ping",
        "operationId": "get-ping",
        "summary": "Ping"
      }
    },
    "/taskmanager/tasks": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get tasks list",
        "operationId": "get-taskmanager-tasks",
        "summary": "Get tasks list"
      },
      "post": {
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "taskid": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Create a new task",
        "operationId": "post-taskmanager-tasks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "task": {
                    "$ref": "#/components/schemas/NewTask"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create a new task"
      }
    },
    "/taskmanager/tasks/{taskid}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get task by ID",
        "operationId": "get-taskmanager-tasks-by-taskid",
        "summary": "Get task by ID"
      }
    },
    "/taskmanager/tasks/{taskid}/bymonths": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ByMonths"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get backtest data for equity chart, grouped by months",
        "operationId": "get-taskmanager-tasks-by-taskid-bymonths",
        "summary": "Get backtest data for equity chart, grouped by months"
      }
    },
    "/taskmanager/tasks/{taskid}/byquarters": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ByQuarters"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get backtest data for equity chart, grouped by quarters",
        "operationId": "get-taskmanager-tasks-by-taskid-byquarters",
        "summary": "Get backtest data for equity chart, grouped by quarters"
      }
    },
    "/taskmanager/tasks/{taskid}/byyears": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ByYears"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get backtest data for equity chart, grouped by years",
        "operationId": "get-taskmanager-tasks-by-taskid-byyears",
        "summary": "Get backtest data for equity chart, grouped by years"
      }
    },
    "/taskmanager/tasks/{taskid}/contribution": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Contribution"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get backtest symbol contribution data",
        "operationId": "get-taskmanager-tasks-by-taskid-contribution",
        "summary": "Get backtest symbol contribution data"
      }
    },
    "/taskmanager/tasks/{taskid}/drawdown": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DrawdownItem"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get data for drawdown chart",
        "operationId": "get-taskmanager-tasks-by-taskid-drawdown",
        "summary": "Get data for drawdown chart"
      }
    },
    "/taskmanager/tasks/{taskid}/equity": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EquityItem"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get data for equity chart",
        "operationId": "get-taskmanager-tasks-by-taskid-equity",
        "summary": "Get data for equity chart"
      }
    },
    "/taskmanager/tasks/{taskid}/equitypct": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EquityPctItem"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get data for equity chart (%)",
        "operationId": "get-taskmanager-tasks-by-taskid-equitypct",
        "summary": "Get data for equity chart (%)"
      }
    },
    "/taskmanager/tasks/{taskid}/equitypctsm": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/EquityPctSmItem"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get spared data for equity chart (%)",
        "operationId": "get-taskmanager-tasks-by-taskid-equitypctsm",
        "summary": "Get spared data for equity chart (%)"
      }
    },
    "/taskmanager/tasks/{taskid}/folder": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "folder": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get task result folder name",
        "operationId": "get-taskmanager-tasks-by-taskid-folder",
        "summary": "Get task result folder name"
      }
    },
    "/taskmanager/tasks/{taskid}/performance": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "buyandhold": {
                      "$ref": "#/components/schemas/Longshort"
                    },
                    "long": {
                      "$ref": "#/components/schemas/Longshort"
                    },
                    "longshort": {
                      "$ref": "#/components/schemas/Longshort"
                    },
                    "short": {
                      "$ref": "#/components/schemas/Longshort"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get backtest statistics",
        "operationId": "get-taskmanager-tasks-by-taskid-performance",
        "summary": "Get backtest statistics"
      }
    },
    "/taskmanager/tasks/{taskid}/result": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "bymonths_csv": {
                      "type": "string"
                    },
                    "bymonths_png": {
                      "type": "string"
                    },
                    "byquarters_csv": {
                      "type": "string"
                    },
                    "byquarters_png": {
                      "type": "string"
                    },
                    "byyears_csv": {
                      "type": "string"
                    },
                    "byyears_png": {
                      "type": "string"
                    },
                    "contribution_csv": {
                      "type": "string"
                    },
                    "contribution_png": {
                      "type": "string"
                    },
                    "drawdown_csv": {
                      "type": "string"
                    },
                    "drawdown_png": {
                      "type": "string"
                    },
                    "equity_csv": {
                      "type": "string"
                    },
                    "equity_png": {
                      "type": "string"
                    },
                    "equitypct_csv": {
                      "type": "string"
                    },
                    "equitypct_png": {
                      "type": "string"
                    },
                    "equitypctnofill_csv": {
                      "type": "string"
                    },
                    "equitypctnofill_png": {
                      "type": "string"
                    },
                    "equitypctsm": {
                      "type": "string"
                    },
                    "equitypctsm_csv": {
                      "type": "string"
                    },
                    "equitypctsm_png": {
                      "type": "string"
                    },
                    "performance_csv": {
                      "type": "string"
                    },
                    "performance_png": {
                      "type": "string"
                    },
                    "trades_csv": {
                      "type": "string"
                    },
                    "trades_png": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get task result",
        "operationId": "get-taskmanager-tasks-by-taskid-result",
        "summary": "Get task result"
      }
    },
    "/taskmanager/tasks/{taskid}/result2": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "apr": {
                      "type": "string"
                    },
                    "curMonthProfit": {
                      "type": "string"
                    },
                    "curYearProfit": {
                      "type": "string"
                    },
                    "drawdown": {
                      "type": "string"
                    },
                    "halfYearProfit": {
                      "type": "string"
                    },
                    "monthProfit": {
                      "type": "string"
                    },
                    "prevMonthProfit": {
                      "type": "string"
                    },
                    "totalProfit": {
                      "type": "string"
                    },
                    "weekProfit": {
                      "type": "string"
                    },
                    "yearProfit": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get task result (version 2)",
        "operationId": "get-taskmanager-tasks-by-taskid-result2",
        "summary": "Get task result (version 2)"
      }
    },
    "/taskmanager/tasks/{taskid}/status": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get task status",
        "operationId": "get-taskmanager-tasks-by-taskid-status",
        "summary": "Get task status"
      }
    },
    "/taskmanager/tasks/{taskid}/trades": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "taskid",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/BacktestTrade"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "TaskManager API"
        ],
        "description": "Get backtest trades list",
        "operationId": "get-taskmanager-tasks-by-taskid-trades",
        "summary": "Get backtest trades list"
      }
    },
    "/time": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "servertime": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "Secured": []
          }
        ],
        "tags": [
          "Status API"
        ],
        "description": "Get current server time",
        "operationId": "get-time",
        "summary": "Get current server time"
      }
    }
  },
  "components": {
    "requestBodies": {
      "post-cloud-connectionsBody": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "connection": {
                  "$ref": "#/components/schemas/UpdatedConnection"
                }
              },
              "type": "object"
            }
          }
        },
        "required": true
      }
    },
    "schemas": {
      "APIKey": {
        "properties": {
          "key": {
            "type": "string"
          },
          "keyid": {
            "type": "string"
          },
          "permissions": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Account": {
        "properties": {
          "account": {
            "type": "string"
          },
          "accountid": {
            "type": "string"
          },
          "accounttypename": {
            "type": "string"
          },
          "cash": {
            "type": "string"
          },
          "change": {
            "type": "string"
          },
          "changepercent": {
            "type": "string"
          },
          "comments": {
            "type": "string"
          },
          "computer": {
            "type": "string"
          },
          "currencyid": {
            "type": "string"
          },
          "currencytext": {
            "type": "string"
          },
          "hwid": {
            "type": "string"
          },
          "positions": {
            "$ref": "#/components/schemas/Positions"
          },
          "positionspercent": {
            "$ref": "#/components/schemas/Positions"
          },
          "sessionid": {
            "type": "string"
          },
          "typeid": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "BacktestTrade": {
        "properties": {
          "barsheld": {
            "type": "string"
          },
          "changepct": {
            "type": "string"
          },
          "commission": {
            "type": "string"
          },
          "entrydatetime": {
            "type": "string"
          },
          "entryprice": {
            "type": "string"
          },
          "entrysignal": {
            "type": "string"
          },
          "exitdatetime": {
            "type": "string"
          },
          "exitprice": {
            "type": "string"
          },
          "exitsignal": {
            "type": "string"
          },
          "mae": {
            "type": "string"
          },
          "mfe": {
            "type": "string"
          },
          "pandl": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "shares": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ByMonths": {
        "properties": {
          "equitypct": {
            "type": "string"
          },
          "period": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ByQuarters": {
        "properties": {
          "equitypct": {
            "type": "string"
          },
          "period": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ByYears": {
        "properties": {
          "equitypct": {
            "type": "string"
          },
          "period": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "CloudStrategy": {
        "properties": {
          "account": {
            "type": "string"
          },
          "computer": {
            "type": "string"
          },
          "hwid": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "strategy": {
            "type": "string"
          },
          "strategyid": {
            "type": "string"
          },
          "strategystatusname": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Command": {
        "properties": {
          "parameters": {
            "$ref": "#/components/schemas/Parameters"
          },
          "account": {
            "type": "string"
          },
          "accountid": {
            "type": "string"
          },
          "commanddate": {
            "format": "date-time",
            "type": "string"
          },
          "commandid": {
            "type": "string"
          },
          "commandstatusname": {
            "type": "string"
          },
          "commandtypename": {
            "type": "string"
          },
          "computer": {
            "type": "string"
          },
          "hwid": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "timestamp": {
            "format": "date-time",
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Connection": {
        "properties": {
          "host": {
            "type": "string"
          },
          "active": {
            "type": "string"
          },
          "connectionid": {
            "type": "string"
          },
          "connectionstring": {
            "type": "string"
          },
          "connectorcode": {
            "type": "string"
          },
          "connectorid": {
            "type": "string"
          },
          "connectorname": {
            "type": "string"
          },
          "connectortypename": {
            "type": "string"
          },
          "creationdate": {
            "format": "date-time",
            "type": "string"
          },
          "login": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "port": {
            "type": "string"
          },
          "sessionid": {
            "type": "string"
          },
          "updatedate": {
            "format": "date-time",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Connector": {
        "properties": {
          "code": {
            "type": "string"
          },
          "connectorid": {
            "type": "string"
          },
          "connectortypename": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "typeid": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Contribution": {
        "properties": {
          "pandl": {
            "type": "string"
          },
          "share": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "DrawdownItem": {
        "properties": {
          "drawdownpct": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "EquityItem": {
        "properties": {
          "cash": {
            "type": "string"
          },
          "equity": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "EquityPctItem": {
        "properties": {
          "buyandhold": {
            "type": "string"
          },
          "equity": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "EquityPctSmItem": {
        "properties": {
          "buyandhold": {
            "type": "string"
          },
          "equity": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Error": {
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "Longentry": {
        "properties": {
          "parameters": {
            "items": {
              "$ref": "#/components/schemas/Parameter"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "validnot": {
            "type": "string"
          },
          "validor": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Longexit": {
        "properties": {
          "parameters": {
            "items": {
              "$ref": "#/components/schemas/Parameter"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "validnot": {
            "type": "string"
          },
          "validor": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Longshort": {
        "properties": {
          "apr": {
            "type": "string"
          },
          "avgbarsheld": {
            "type": "string"
          },
          "avgloss": {
            "type": "string"
          },
          "avglossbarsheld": {
            "type": "string"
          },
          "avglosspct": {
            "type": "string"
          },
          "avgprofit": {
            "type": "string"
          },
[...]
