{
  "openapi": "3.0.3",
  "info": {
    "title": "IPLocate API",
    "description": "IPLocate provides comprehensive IP address intelligence including geolocation, network information, proxy/VPN detection, abuse contact details, and more.",
    "version": "1.0.0",
    "x-jentic-source-url": "https://iplocate.io/docs"
  },
  "servers": [
    {
      "url": "https://iplocate.io",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/lookup/{ip}": {
      "get": {
        "operationId": "lookupIp",
        "summary": "Look up IP address",
        "description": "Retrieve geolocation, network, privacy, and threat intelligence data for a specified IPv4 or IPv6 address.",
        "tags": [
          "IP Lookup"
        ],
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IPv4 or IPv6 address to look up"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful IP lookup response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IpLookupResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid IP address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "IpLookupResult": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "The queried IP address"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "country_code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "is_eu": {
            "type": "boolean",
            "description": "Whether the country is in the EU"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "City name"
          },
          "continent": {
            "type": "string",
            "description": "Continent name"
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude coordinate"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude coordinate"
          },
          "time_zone": {
            "type": "string",
            "nullable": true,
            "description": "IANA timezone identifier"
          },
          "postal_code": {
            "type": "string",
            "nullable": true,
            "description": "Postal/ZIP code"
          },
          "subdivision": {
            "type": "string",
            "nullable": true,
            "description": "State/province/subdivision name"
          },
          "currency_code": {
            "type": "string",
            "nullable": true,
            "description": "ISO 4217 currency code"
          },
          "calling_code": {
            "type": "string",
            "nullable": true,
            "description": "International calling code"
          },
          "is_anycast": {
            "type": "boolean",
            "description": "Whether the IP is an anycast address"
          },
          "is_satellite": {
            "type": "boolean",
            "description": "Whether the IP belongs to a satellite provider"
          },
          "asn": {
            "$ref": "#/components/schemas/AsnInfo"
          },
          "privacy": {
            "$ref": "#/components/schemas/PrivacyInfo"
          },
          "hosting": {
            "$ref": "#/components/schemas/HostingInfo"
          },
          "company": {
            "$ref": "#/components/schemas/CompanyInfo"
          },
          "abuse": {
            "$ref": "#/components/schemas/AbuseInfo"
          }
        }
      },
      "AsnInfo": {
        "type": "object",
        "nullable": true,
        "properties": {
          "asn": {
            "type": "integer",
            "description": "Autonomous System Number"
          },
          "name": {
            "type": "string",
            "description": "ASN organization name"
          },
          "network": {
            "type": "string",
            "description": "Network CIDR range"
          }
        }
      },
      "PrivacyInfo": {
        "type": "object",
        "nullable": true,
        "properties": {
          "is_vpn": {
            "type": "boolean",
            "description": "Whether the IP is a VPN exit node"
          },
          "is_proxy": {
            "type": "boolean",
            "description": "Whether the IP is a proxy"
          },
          "is_tor": {
            "type": "boolean",
            "description": "Whether the IP is a Tor exit node"
          },
          "is_relay": {
            "type": "boolean",
            "description": "Whether the IP is a relay"
          }
        }
      },
      "HostingInfo": {
        "type": "object",
        "nullable": true,
        "properties": {
          "is_hosting": {
            "type": "boolean",
            "description": "Whether the IP belongs to a hosting provider"
          },
          "provider": {
            "type": "string",
            "nullable": true,
            "description": "Hosting provider name"
          }
        }
      },
      "CompanyInfo": {
        "type": "object",
        "nullable": true,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Company name"
          },
          "domain": {
            "type": "string",
            "nullable": true,
            "description": "Company domain"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Company type"
          }
        }
      },
      "AbuseInfo": {
        "type": "object",
        "nullable": true,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Abuse contact name"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Abuse contact email"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Abuse contact phone"
          },
          "address": {
            "type": "string",
            "nullable": true,
            "description": "Abuse contact address"
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "IP Lookup",
      "description": "IP address intelligence lookups"
    }
  ]
}