{
  "openapi": "3.0.3",
  "info": {
    "title": "Kimiya AI API",
    "version": "1.0.0",
    "description": "AI chatbot platform API supporting multiple messaging channels including WhatsApp, WeChat, LINE, Instagram, Facebook Messenger, and Shopify.",
    "x-jentic-source-url": "https://internalwebapi.kimiya.ai//swagger/ui/index",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://internalwebapi.kimiya.ai"
    }
  ],
  "paths": {
    "/api/auth/login": {
      "get": {
        "operationId": "validateApiKey",
        "summary": "Validate API key",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "API key valid"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Validate API key"
      }
    },
    "/api/Chat/Request": {
      "post": {
        "operationId": "sendChatRequest",
        "summary": "Send chat request to Kimiya AI",
        "tags": [
          "Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "session_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat response"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Send chat request to Kimiya AI"
      }
    },
    "/api/Zapier/UploadFile": {
      "post": {
        "operationId": "uploadFile",
        "summary": "Upload file for training",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Upload file for training"
      }
    },
    "/api/Zapier/UpdateFile": {
      "post": {
        "operationId": "updateFile",
        "summary": "Update file for retraining",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update file for retraining"
      }
    },
    "/api/Zapier/AutoReply": {
      "post": {
        "operationId": "autoReply",
        "summary": "Auto-reply to message",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reply sent"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Auto-reply to message"
      }
    },
    "/api/Zapier/SendMessage": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send message",
        "tags": [
          "Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Send message"
      }
    },
    "/api/shopify/GetShopifyBotChatHistory": {
      "get": {
        "operationId": "getShopifyChatHistory",
        "summary": "Get Shopify bot chat history by date range",
        "tags": [
          "Shopify"
        ],
        "parameters": [
          {
            "name": "shopUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat history"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Shopify bot chat history by date range"
      }
    },
    "/api/shopify/Dashboard": {
      "get": {
        "operationId": "getShopifyDashboard",
        "summary": "Get Shopify dashboard stats",
        "tags": [
          "Shopify"
        ],
        "parameters": [
          {
            "name": "shopUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard stats"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get Shopify dashboard stats"
      }
    },
    "/api/shopify/GetBotConfig": {
      "get": {
        "operationId": "getShopifyBotConfig",
        "summary": "Get bot configuration",
        "tags": [
          "Shopify"
        ],
        "parameters": [
          {
            "name": "shopUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bot config"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Get bot configuration"
      }
    },
    "/api/shopify/UpdateBotConfig": {
      "post": {
        "operationId": "updateShopifyBotConfig",
        "summary": "Update bot configuration",
        "tags": [
          "Shopify"
        ],
        "parameters": [
          {
            "name": "shopUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Config updated"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Update bot configuration"
      }
    },
    "/api/whatsapp/webhook/{apikey}": {
      "get": {
        "operationId": "verifyWhatsAppWebhook",
        "summary": "Verify WhatsApp webhook",
        "tags": [
          "WhatsApp"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook verified"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Verify WhatsApp webhook"
      },
      "post": {
        "operationId": "receiveWhatsAppWebhook",
        "summary": "Receive WhatsApp webhook",
        "tags": [
          "WhatsApp"
        ],
        "parameters": [
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Receive WhatsApp webhook"
      }
    },
    "/api/whatsapp/bindingBots": {
      "get": {
        "operationId": "bindWhatsAppBot",
        "summary": "Bind bot to WhatsApp",
        "tags": [
          "WhatsApp"
        ],
        "parameters": [
          {
            "name": "AccountId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BotId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PhoneNumberId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bot bound"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Bind bot to WhatsApp"
      }
    },
    "/api/N8N/RegisterWebhook": {
      "post": {
        "operationId": "registerN8NWebhook",
        "summary": "Register N8N webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "eventType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webhookUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook registered"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Register N8N webhook"
      }
    },
    "/api/N8N/unRegisterWebhook": {
      "post": {
        "operationId": "unregisterN8NWebhook",
        "summary": "Unregister N8N webhook",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhookUrl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook unregistered"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Unregister N8N webhook"
      }
    }
  },
  "components": {
    "schemas": {
      "UploadFileRequest": {
        "type": "object",
        "properties": {
          "file_url": {
            "type": "string"
          },
          "file_name": {
            "type": "string"
          }
        }
      },
      "UpdateFileRequest": {
        "type": "object",
        "properties": {
          "file_id": {
            "type": "string"
          },
          "file_url": {
            "type": "string"
          }
        }
      },
      "MessageRequest": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "contact_id": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  },
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Files"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Shopify"
    },
    {
      "name": "Webhooks"
    },
    {
      "name": "WhatsApp"
    }
  ]
}
